swagger: '2.0'
schemes:
  - https
  - http
host: mediapackage.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: AWS Elemental MediaPackage
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Elemental MediaPackage
  version: '2017-10-12'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediapackage-2017-10-12.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mediapackage
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediapackage/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /channels:
    get:
      description: Returns a collection of Channels.
      operationId: ListChannels
      parameters:
        - description: Upper bound on number of records to return.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: A token used to resume pagination from the end of a previous request.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new Channel.
      operationId: CreateChannel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: A short text description of the Channel.
                type: string
              id:
                description: |
                  The ID of the Channel. The ID must be unique within the region and it
                  cannot be changed after a Channel is created.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: A collection of tags associated with a resource
                type: object
            required:
              - id
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/channels/{id}':
    delete:
      description: Deletes an existing Channel.
      operationId: DeleteChannel
      parameters:
        - description: The ID of the Channel to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteChannelResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets details about a Channel.
      operationId: DescribeChannel
      parameters:
        - description: The ID of a Channel.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing Channel.
      operationId: UpdateChannel
      parameters:
        - description: The ID of the Channel to update.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: A short text description of the Channel.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/channels/{id}/credentials':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      deprecated: true
      description: Changes the Channel's first IngestEndpoint's username and password. WARNING - This API is deprecated. Please use RotateIngestEndpointCredentials instead
      operationId: RotateChannelCredentials
      parameters:
        - description: The ID of the channel to update.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RotateChannelCredentialsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Rotate the IngestEndpoint''s username and password, as specified by the IngestEndpoint''s id.'
      operationId: RotateIngestEndpointCredentials
      parameters:
        - description: The ID of the channel the IngestEndpoint is on.
          in: path
          name: id
          required: true
          type: string
        - description: The id of the IngestEndpoint whose credentials should be rotated
          in: path
          name: ingest_endpoint_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RotateIngestEndpointCredentialsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /origin_endpoints:
    get:
      description: Returns a collection of OriginEndpoint records.
      operationId: ListOriginEndpoints
      parameters:
        - description: 'When specified, the request will return only OriginEndpoints associated with the given Channel ID.'
          in: query
          name: channelId
          required: false
          type: string
        - description: The upper bound on the number of records to return.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: A token used to resume pagination from the end of a previous request.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOriginEndpointsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new OriginEndpoint record.
      operationId: CreateOriginEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              channelId:
                description: |
                  The ID of the Channel that the OriginEndpoint will be associated with.
                  This cannot be changed after the OriginEndpoint is created.
                type: string
              cmafPackage:
                description: A Common Media Application Format (CMAF) packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/CmafEncryption'
                  HlsManifests:
                    $ref: '#/definitions/__listOfHlsManifestCreateOrUpdateParameters'
                    description: A list of HLS manifest configurations
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each segment. Actual segments will be
                      rounded to the nearest multiple of the source segment duration.
                  SegmentPrefix:
                    $ref: '#/definitions/__string'
                    description: 'An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.'
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                type: object
              dashPackage:
                description: A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.
                properties:
                  AdTriggers:
                    $ref: '#/definitions/AdTriggers'
                  AdsOnDeliveryRestrictions:
                    $ref: '#/definitions/AdsOnDeliveryRestrictions'
                  Encryption:
                    $ref: '#/definitions/DashEncryption'
                  ManifestLayout:
                    $ref: '#/definitions/ManifestLayout'
                    description: 'Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.'
                  ManifestWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: Time window (in seconds) contained in each manifest.
                  MinBufferTimeSeconds:
                    $ref: '#/definitions/__integer'
                    description: Minimum duration (in seconds) that a player will buffer media before starting the presentation.
                  MinUpdatePeriodSeconds:
                    $ref: '#/definitions/__integer'
                    description: Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).
                  PeriodTriggers:
                    $ref: '#/definitions/__listOf__PeriodTriggersElement'
                    description: |
                      A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)
                      Media Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not
                      be partitioned into more than one period. If the list contains "ADS", new periods will be created where
                      the Channel source contains SCTE-35 ad markers.
                  Profile:
                    $ref: '#/definitions/Profile'
                    description: 'The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to "HBBTV_1_5", HbbTV 1.5 compliant output is enabled.'
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each segment. Actual segments will be
                      rounded to the nearest multiple of the source segment duration.
                  SegmentTemplateFormat:
                    $ref: '#/definitions/SegmentTemplateFormat'
                    description: 'Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.'
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                  SuggestedPresentationDelaySeconds:
                    $ref: '#/definitions/__integer'
                    description: Duration (in seconds) to delay live content before presentation.
                type: object
              description:
                description: A short text description of the OriginEndpoint.
                type: string
              hlsPackage:
                description: An HTTP Live Streaming (HLS) packaging configuration.
                properties:
                  AdMarkers:
                    $ref: '#/definitions/AdMarkers'
                    description: |
                      This setting controls how ad markers are included in the packaged OriginEndpoint.
                      "NONE" will omit all SCTE-35 ad markers from the output.
                      "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
                      markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
                      "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
                      messages in the input source.
                  AdTriggers:
                    $ref: '#/definitions/AdTriggers'
                  AdsOnDeliveryRestrictions:
                    $ref: '#/definitions/AdsOnDeliveryRestrictions'
                  Encryption:
                    $ref: '#/definitions/HlsEncryption'
                  IncludeIframeOnlyStream:
                    $ref: '#/definitions/__boolean'
                    description: 'When enabled, an I-Frame only stream will be included in the output.'
                  PlaylistType:
                    $ref: '#/definitions/PlaylistType'
                    description: |
                      The HTTP Live Streaming (HLS) playlist type.
                      When either "EVENT" or "VOD" is specified, a corresponding EXT-X-PLAYLIST-TYPE
                      entry will be included in the media playlist.
                  PlaylistWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: Time window (in seconds) contained in each parent manifest.
                  ProgramDateTimeIntervalSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
                      inserted into manifests. Additionally, when an interval is specified
                      ID3Timed Metadata messages will be generated every 5 seconds using the
                      ingest time of the content.
                      If the interval is not specified, or set to 0, then
                      no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
                      ID3Timed Metadata messages will be generated. Note that irrespective
                      of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
                      it will be passed through to HLS output.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each fragment. Actual fragments will be
                      rounded to the nearest multiple of the source fragment duration.
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                  UseAudioRenditionGroup:
                    $ref: '#/definitions/__boolean'
                    description: 'When enabled, audio streams will be placed in rendition groups in the output.'
                type: object
              id:
                description: |
                  The ID of the OriginEndpoint.  The ID must be unique within the region
                  and it cannot be changed after the OriginEndpoint is created.
                type: string
              manifestName:
                description: A short string that will be used as the filename of the OriginEndpoint URL (defaults to "index").
                type: string
              mssPackage:
                description: A Microsoft Smooth Streaming (MSS) packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/MssEncryption'
                  ManifestWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: The time window (in seconds) contained in each manifest.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: The duration (in seconds) of each segment.
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                type: object
              startoverWindowSeconds:
                description: |
                  Maximum duration (seconds) of content to retain for startover playback.
                  If not specified, startover playback will be disabled for the OriginEndpoint.
                type: integer
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: A collection of tags associated with a resource
                type: object
              timeDelaySeconds:
                description: |
                  Amount of delay (seconds) to enforce on the playback of live content.
                  If not specified, there will be no time delay in effect for the OriginEndpoint.
                type: integer
              whitelist:
                description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
                items:
                  $ref: '#/definitions/__string'
                type: array
            required:
              - channelId
              - id
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOriginEndpointResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/origin_endpoints/{id}':
    delete:
      description: Deletes an existing OriginEndpoint.
      operationId: DeleteOriginEndpoint
      parameters:
        - description: The ID of the OriginEndpoint to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteOriginEndpointResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets details about an existing OriginEndpoint.
      operationId: DescribeOriginEndpoint
      parameters:
        - description: The ID of the OriginEndpoint.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOriginEndpointResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing OriginEndpoint.
      operationId: UpdateOriginEndpoint
      parameters:
        - description: The ID of the OriginEndpoint to update.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              cmafPackage:
                description: A Common Media Application Format (CMAF) packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/CmafEncryption'
                  HlsManifests:
                    $ref: '#/definitions/__listOfHlsManifestCreateOrUpdateParameters'
                    description: A list of HLS manifest configurations
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each segment. Actual segments will be
                      rounded to the nearest multiple of the source segment duration.
                  SegmentPrefix:
                    $ref: '#/definitions/__string'
                    description: 'An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.'
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                type: object
              dashPackage:
                description: A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.
                properties:
                  AdTriggers:
                    $ref: '#/definitions/AdTriggers'
                  AdsOnDeliveryRestrictions:
                    $ref: '#/definitions/AdsOnDeliveryRestrictions'
                  Encryption:
                    $ref: '#/definitions/DashEncryption'
                  ManifestLayout:
                    $ref: '#/definitions/ManifestLayout'
                    description: 'Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.'
                  ManifestWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: Time window (in seconds) contained in each manifest.
                  MinBufferTimeSeconds:
                    $ref: '#/definitions/__integer'
                    description: Minimum duration (in seconds) that a player will buffer media before starting the presentation.
                  MinUpdatePeriodSeconds:
                    $ref: '#/definitions/__integer'
                    description: Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).
                  PeriodTriggers:
                    $ref: '#/definitions/__listOf__PeriodTriggersElement'
                    description: |
                      A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)
                      Media Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not
                      be partitioned into more than one period. If the list contains "ADS", new periods will be created where
                      the Channel source contains SCTE-35 ad markers.
                  Profile:
                    $ref: '#/definitions/Profile'
                    description: 'The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to "HBBTV_1_5", HbbTV 1.5 compliant output is enabled.'
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each segment. Actual segments will be
                      rounded to the nearest multiple of the source segment duration.
                  SegmentTemplateFormat:
                    $ref: '#/definitions/SegmentTemplateFormat'
                    description: 'Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.'
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                  SuggestedPresentationDelaySeconds:
                    $ref: '#/definitions/__integer'
                    description: Duration (in seconds) to delay live content before presentation.
                type: object
              description:
                description: A short text description of the OriginEndpoint.
                type: string
              hlsPackage:
                description: An HTTP Live Streaming (HLS) packaging configuration.
                properties:
                  AdMarkers:
                    $ref: '#/definitions/AdMarkers'
                    description: |
                      This setting controls how ad markers are included in the packaged OriginEndpoint.
                      "NONE" will omit all SCTE-35 ad markers from the output.
                      "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
                      markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
                      "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
                      messages in the input source.
                  AdTriggers:
                    $ref: '#/definitions/AdTriggers'
                  AdsOnDeliveryRestrictions:
                    $ref: '#/definitions/AdsOnDeliveryRestrictions'
                  Encryption:
                    $ref: '#/definitions/HlsEncryption'
                  IncludeIframeOnlyStream:
                    $ref: '#/definitions/__boolean'
                    description: 'When enabled, an I-Frame only stream will be included in the output.'
                  PlaylistType:
                    $ref: '#/definitions/PlaylistType'
                    description: |
                      The HTTP Live Streaming (HLS) playlist type.
                      When either "EVENT" or "VOD" is specified, a corresponding EXT-X-PLAYLIST-TYPE
                      entry will be included in the media playlist.
                  PlaylistWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: Time window (in seconds) contained in each parent manifest.
                  ProgramDateTimeIntervalSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
                      inserted into manifests. Additionally, when an interval is specified
                      ID3Timed Metadata messages will be generated every 5 seconds using the
                      ingest time of the content.
                      If the interval is not specified, or set to 0, then
                      no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
                      ID3Timed Metadata messages will be generated. Note that irrespective
                      of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
                      it will be passed through to HLS output.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each fragment. Actual fragments will be
                      rounded to the nearest multiple of the source fragment duration.
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                  UseAudioRenditionGroup:
                    $ref: '#/definitions/__boolean'
                    description: 'When enabled, audio streams will be placed in rendition groups in the output.'
                type: object
              manifestName:
                description: A short string that will be appended to the end of the Endpoint URL.
                type: string
              mssPackage:
                description: A Microsoft Smooth Streaming (MSS) packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/MssEncryption'
                  ManifestWindowSeconds:
                    $ref: '#/definitions/__integer'
                    description: The time window (in seconds) contained in each manifest.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: The duration (in seconds) of each segment.
                  StreamSelection:
                    $ref: '#/definitions/StreamSelection'
                type: object
              startoverWindowSeconds:
                description: |
                  Maximum duration (in seconds) of content to retain for startover playback.
                  If not specified, startover playback will be disabled for the OriginEndpoint.
                type: integer
              timeDelaySeconds:
                description: |
                  Amount of delay (in seconds) to enforce on the playback of live content.
                  If not specified, there will be no time delay in effect for the OriginEndpoint.
                type: integer
              whitelist:
                description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
                items:
                  $ref: '#/definitions/__string'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateOriginEndpointResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/tags/{resource-arn}':
    get:
      description: ''
      operationId: ListTagsForResource
      parameters:
        - description: ''
          in: path
          name: resource-arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: TagResource
      parameters:
        - description: ''
          in: path
          name: resource-arn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: ''
                type: object
            required:
              - tags
            type: object
      responses:
        '204':
          description: Success
  '/tags/{resource-arn}#tagKeys':
    delete:
      description: ''
      operationId: UntagResource
      parameters:
        - description: ''
          in: path
          name: resource-arn
          required: true
          type: string
        - description: The key(s) of tag to be deleted
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '204':
          description: Success
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AdMarkers:
    enum:
      - NONE
      - SCTE35_ENHANCED
      - PASSTHROUGH
    type: string
  AdTriggers:
    description: |
      A list of SCTE-35 message types that are treated as ad markers in the output.  If empty, no
      ad markers are output.  Specify multiple items to create ad markers for all of the included
      message types.
    items:
      $ref: '#/definitions/__AdTriggersElement'
    type: array
  AdsOnDeliveryRestrictions:
    description: |
      This setting allows the delivery restriction flags on SCTE-35 segmentation descriptors to
      determine whether a message signals an ad.  Choosing "NONE" means no SCTE-35 messages become
      ads.  Choosing "RESTRICTED" means SCTE-35 messages of the types specified in AdTriggers that
      contain delivery restrictions will be treated as ads.  Choosing "UNRESTRICTED" means SCTE-35
      messages of the types specified in AdTriggers that do not contain delivery restrictions will
      be treated as ads.  Choosing "BOTH" means all SCTE-35 messages of the types specified in
      AdTriggers will be treated as ads.  Note that Splice Insert messages do not have these flags
      and are always treated as ads if specified in AdTriggers.
    enum:
      - NONE
      - RESTRICTED
      - UNRESTRICTED
      - BOTH
    type: string
  Channel:
    description: A Channel resource configuration.
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  CmafEncryption:
    description: A Common Media Application Format (CMAF) encryption configuration.
    properties:
      KeyRotationIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: Time (in seconds) between each encryption key rotation.
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  CmafPackage:
    description: A Common Media Application Format (CMAF) packaging configuration.
    properties:
      Encryption:
        $ref: '#/definitions/CmafEncryption'
      HlsManifests:
        $ref: '#/definitions/__listOfHlsManifest'
        description: A list of HLS manifest configurations
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each segment. Actual segments will be
          rounded to the nearest multiple of the source segment duration.
      SegmentPrefix:
        $ref: '#/definitions/__string'
        description: 'An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.'
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  CmafPackageCreateOrUpdateParameters:
    description: A Common Media Application Format (CMAF) packaging configuration.
    properties:
      Encryption:
        $ref: '#/definitions/CmafEncryption'
      HlsManifests:
        $ref: '#/definitions/__listOfHlsManifestCreateOrUpdateParameters'
        description: A list of HLS manifest configurations
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each segment. Actual segments will be
          rounded to the nearest multiple of the source segment duration.
      SegmentPrefix:
        $ref: '#/definitions/__string'
        description: 'An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.'
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  CreateChannelRequest:
    description: A new Channel configuration.
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      Id:
        $ref: '#/definitions/__string'
        description: |
          The ID of the Channel. The ID must be unique within the region and it
          cannot be changed after a Channel is created.
      Tags:
        $ref: '#/definitions/Tags'
    required:
      - Id
    type: object
  CreateChannelResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  CreateOriginEndpointRequest:
    description: Configuration parameters used to create a new OriginEndpoint.
    properties:
      ChannelId:
        $ref: '#/definitions/__string'
        description: |
          The ID of the Channel that the OriginEndpoint will be associated with.
          This cannot be changed after the OriginEndpoint is created.
      CmafPackage:
        $ref: '#/definitions/CmafPackageCreateOrUpdateParameters'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: |
          The ID of the OriginEndpoint.  The ID must be unique within the region
          and it cannot be changed after the OriginEndpoint is created.
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string that will be used as the filename of the OriginEndpoint URL (defaults to "index").
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      Tags:
        $ref: '#/definitions/Tags'
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    required:
      - ChannelId
      - Id
    type: object
  CreateOriginEndpointResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the OriginEndpoint.
      ChannelId:
        $ref: '#/definitions/__string'
        description: The ID of the Channel the OriginEndpoint is associated with.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the OriginEndpoint.
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string appended to the end of the OriginEndpoint URL.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      Tags:
        $ref: '#/definitions/Tags'
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the packaged OriginEndpoint for consumption.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    type: object
  DashEncryption:
    description: A Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration.
    properties:
      KeyRotationIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: Time (in seconds) between each encryption key rotation.
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  DashPackage:
    description: A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.
    properties:
      AdTriggers:
        $ref: '#/definitions/AdTriggers'
      AdsOnDeliveryRestrictions:
        $ref: '#/definitions/AdsOnDeliveryRestrictions'
      Encryption:
        $ref: '#/definitions/DashEncryption'
      ManifestLayout:
        $ref: '#/definitions/ManifestLayout'
        description: 'Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.'
      ManifestWindowSeconds:
        $ref: '#/definitions/__integer'
        description: Time window (in seconds) contained in each manifest.
      MinBufferTimeSeconds:
        $ref: '#/definitions/__integer'
        description: Minimum duration (in seconds) that a player will buffer media before starting the presentation.
      MinUpdatePeriodSeconds:
        $ref: '#/definitions/__integer'
        description: Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).
      PeriodTriggers:
        $ref: '#/definitions/__listOf__PeriodTriggersElement'
        description: |
          A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)
          Media Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not
          be partitioned into more than one period. If the list contains "ADS", new periods will be created where
          the Channel source contains SCTE-35 ad markers.
      Profile:
        $ref: '#/definitions/Profile'
        description: 'The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to "HBBTV_1_5", HbbTV 1.5 compliant output is enabled.'
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each segment. Actual segments will be
          rounded to the nearest multiple of the source segment duration.
      SegmentTemplateFormat:
        $ref: '#/definitions/SegmentTemplateFormat'
        description: 'Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.'
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
      SuggestedPresentationDelaySeconds:
        $ref: '#/definitions/__integer'
        description: Duration (in seconds) to delay live content before presentation.
    type: object
  DeleteChannelRequest:
    properties: {}
    type: object
  DeleteChannelResponse:
    properties: {}
    type: object
  DeleteOriginEndpointRequest:
    properties: {}
    type: object
  DeleteOriginEndpointResponse:
    properties: {}
    type: object
  DescribeChannelRequest:
    properties: {}
    type: object
  DescribeChannelResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  DescribeOriginEndpointRequest:
    properties: {}
    type: object
  DescribeOriginEndpointResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the OriginEndpoint.
      ChannelId:
        $ref: '#/definitions/__string'
        description: The ID of the Channel the OriginEndpoint is associated with.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the OriginEndpoint.
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string appended to the end of the OriginEndpoint URL.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      Tags:
        $ref: '#/definitions/Tags'
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the packaged OriginEndpoint for consumption.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    type: object
  EncryptionMethod:
    enum:
      - AES_128
      - SAMPLE_AES
    type: string
  ForbiddenException: {}
  HlsEncryption:
    description: An HTTP Live Streaming (HLS) encryption configuration.
    properties:
      ConstantInitializationVector:
        $ref: '#/definitions/__string'
        description: |
          A constant initialization vector for encryption (optional).
          When not specified the initialization vector will be periodically rotated.
      EncryptionMethod:
        $ref: '#/definitions/EncryptionMethod'
        description: The encryption method to use.
      KeyRotationIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: Interval (in seconds) between each encryption key rotation.
      RepeatExtXKey:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, the EXT-X-KEY tag will be repeated in output manifests.'
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  HlsIngest:
    description: An HTTP Live Streaming (HLS) ingest resource configuration.
    properties:
      IngestEndpoints:
        $ref: '#/definitions/__listOfIngestEndpoint'
        description: A list of endpoints to which the source stream should be sent.
    type: object
  HlsManifest:
    description: A HTTP Live Streaming (HLS) manifest configuration.
    properties:
      AdMarkers:
        $ref: '#/definitions/AdMarkers'
        description: |
          This setting controls how ad markers are included in the packaged OriginEndpoint.
          "NONE" will omit all SCTE-35 ad markers from the output.
          "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
          markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
          "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
          messages in the input source.
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot be changed after it is created.
      IncludeIframeOnlyStream:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, an I-Frame only stream will be included in the output.'
      ManifestName:
        $ref: '#/definitions/__string'
        description: 'An optional short string appended to the end of the OriginEndpoint URL. If not specified, defaults to the manifestName for the OriginEndpoint.'
      PlaylistType:
        $ref: '#/definitions/PlaylistType'
        description: |
          The HTTP Live Streaming (HLS) playlist type.
          When either "EVENT" or "VOD" is specified, a corresponding EXT-X-PLAYLIST-TYPE
          entry will be included in the media playlist.
      PlaylistWindowSeconds:
        $ref: '#/definitions/__integer'
        description: Time window (in seconds) contained in each parent manifest.
      ProgramDateTimeIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: |
          The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
          inserted into manifests. Additionally, when an interval is specified
          ID3Timed Metadata messages will be generated every 5 seconds using the
          ingest time of the content.
          If the interval is not specified, or set to 0, then
          no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
          ID3Timed Metadata messages will be generated. Note that irrespective
          of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
          it will be passed through to HLS output.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the packaged OriginEndpoint for consumption.
    required:
      - Id
    type: object
  HlsManifestCreateOrUpdateParameters:
    description: A HTTP Live Streaming (HLS) manifest configuration.
    properties:
      AdMarkers:
        $ref: '#/definitions/AdMarkers'
        description: |
          This setting controls how ad markers are included in the packaged OriginEndpoint.
          "NONE" will omit all SCTE-35 ad markers from the output.
          "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
          markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
          "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
          messages in the input source.
      AdTriggers:
        $ref: '#/definitions/AdTriggers'
      AdsOnDeliveryRestrictions:
        $ref: '#/definitions/AdsOnDeliveryRestrictions'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot be changed after it is created.
      IncludeIframeOnlyStream:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, an I-Frame only stream will be included in the output.'
      ManifestName:
        $ref: '#/definitions/__string'
        description: 'An optional short string appended to the end of the OriginEndpoint URL. If not specified, defaults to the manifestName for the OriginEndpoint.'
      PlaylistType:
        $ref: '#/definitions/PlaylistType'
        description: |
          The HTTP Live Streaming (HLS) playlist type.
          When either "EVENT" or "VOD" is specified, a corresponding EXT-X-PLAYLIST-TYPE
          entry will be included in the media playlist.
      PlaylistWindowSeconds:
        $ref: '#/definitions/__integer'
        description: Time window (in seconds) contained in each parent manifest.
      ProgramDateTimeIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: |
          The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
          inserted into manifests. Additionally, when an interval is specified
          ID3Timed Metadata messages will be generated every 5 seconds using the
          ingest time of the content.
          If the interval is not specified, or set to 0, then
          no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
          ID3Timed Metadata messages will be generated. Note that irrespective
          of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
          it will be passed through to HLS output.
    required:
      - Id
    type: object
  HlsPackage:
    description: An HTTP Live Streaming (HLS) packaging configuration.
    properties:
      AdMarkers:
        $ref: '#/definitions/AdMarkers'
        description: |
          This setting controls how ad markers are included in the packaged OriginEndpoint.
          "NONE" will omit all SCTE-35 ad markers from the output.
          "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
          markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
          "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
          messages in the input source.
      AdTriggers:
        $ref: '#/definitions/AdTriggers'
      AdsOnDeliveryRestrictions:
        $ref: '#/definitions/AdsOnDeliveryRestrictions'
      Encryption:
        $ref: '#/definitions/HlsEncryption'
      IncludeIframeOnlyStream:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, an I-Frame only stream will be included in the output.'
      PlaylistType:
        $ref: '#/definitions/PlaylistType'
        description: |
          The HTTP Live Streaming (HLS) playlist type.
          When either "EVENT" or "VOD" is specified, a corresponding EXT-X-PLAYLIST-TYPE
          entry will be included in the media playlist.
      PlaylistWindowSeconds:
        $ref: '#/definitions/__integer'
        description: Time window (in seconds) contained in each parent manifest.
      ProgramDateTimeIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: |
          The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
          inserted into manifests. Additionally, when an interval is specified
          ID3Timed Metadata messages will be generated every 5 seconds using the
          ingest time of the content.
          If the interval is not specified, or set to 0, then
          no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
          ID3Timed Metadata messages will be generated. Note that irrespective
          of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
          it will be passed through to HLS output.
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each fragment. Actual fragments will be
          rounded to the nearest multiple of the source fragment duration.
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
      UseAudioRenditionGroup:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, audio streams will be placed in rendition groups in the output.'
    type: object
  IngestEndpoint:
    description: An endpoint for ingesting source content for a Channel.
    properties:
      Id:
        $ref: '#/definitions/__string'
        description: The system generated unique identifier for the IngestEndpoint
      Password:
        $ref: '#/definitions/__string'
        description: The system generated password for ingest authentication.
      Url:
        $ref: '#/definitions/__string'
        description: The ingest URL to which the source stream should be sent.
      Username:
        $ref: '#/definitions/__string'
        description: The system generated username for ingest authentication.
    type: object
  InternalServerErrorException: {}
  ListChannelsRequest:
    properties: {}
    type: object
  ListChannelsResponse:
    properties:
      Channels:
        $ref: '#/definitions/__listOfChannel'
        description: A list of Channel records.
      NextToken:
        $ref: '#/definitions/__string'
        description: A token that can be used to resume pagination from the end of the collection.
    type: object
  ListOriginEndpointsRequest:
    properties: {}
    type: object
  ListOriginEndpointsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: A token that can be used to resume pagination from the end of the collection.
      OriginEndpoints:
        $ref: '#/definitions/__listOfOriginEndpoint'
        description: A list of OriginEndpoint records.
    type: object
  ListTagsForResourceRequest:
    properties: {}
    type: object
  ListTagsForResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
    type: object
  ManifestLayout:
    enum:
      - FULL
      - COMPACT
    type: string
  MaxResults:
    maximum: 1000
    minimum: 1
    type: integer
  MssEncryption:
    description: A Microsoft Smooth Streaming (MSS) encryption configuration.
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  MssPackage:
    description: A Microsoft Smooth Streaming (MSS) packaging configuration.
    properties:
      Encryption:
        $ref: '#/definitions/MssEncryption'
      ManifestWindowSeconds:
        $ref: '#/definitions/__integer'
        description: The time window (in seconds) contained in each manifest.
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: The duration (in seconds) of each segment.
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  NotFoundException: {}
  OriginEndpoint:
    description: An OriginEndpoint resource configuration.
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the OriginEndpoint.
      ChannelId:
        $ref: '#/definitions/__string'
        description: The ID of the Channel the OriginEndpoint is associated with.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the OriginEndpoint.
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string appended to the end of the OriginEndpoint URL.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      Tags:
        $ref: '#/definitions/Tags'
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the packaged OriginEndpoint for consumption.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    type: object
  PlaylistType:
    enum:
      - NONE
      - EVENT
      - VOD
    type: string
  Profile:
    enum:
      - NONE
      - HBBTV_1_5
    type: string
  RotateChannelCredentialsRequest:
    properties: {}
    type: object
  RotateChannelCredentialsResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  RotateIngestEndpointCredentialsRequest:
    properties: {}
    type: object
  RotateIngestEndpointCredentialsResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  SegmentTemplateFormat:
    enum:
      - NUMBER_WITH_TIMELINE
      - TIME_WITH_TIMELINE
      - NUMBER_WITH_DURATION
    type: string
  ServiceUnavailableException: {}
  SpekeKeyProvider:
    description: A configuration for accessing an external Secure Packager and Encoder Key Exchange (SPEKE) service that will provide encryption keys.
    properties:
      CertificateArn:
        $ref: '#/definitions/__string'
        description: |
          An Amazon Resource Name (ARN) of a Certificate Manager certificate
          that MediaPackage will use for enforcing secure end-to-end data
          transfer with the key provider service.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The resource ID to include in key requests.
      RoleArn:
        $ref: '#/definitions/__string'
        description: |
          An Amazon Resource Name (ARN) of an IAM role that AWS Elemental
          MediaPackage will assume when accessing the key provider service.
      SystemIds:
        $ref: '#/definitions/__listOf__string'
        description: The system IDs to include in key requests.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the external key provider service.
    required:
      - Url
      - ResourceId
      - RoleArn
      - SystemIds
    type: object
  StreamOrder:
    enum:
      - ORIGINAL
      - VIDEO_BITRATE_ASCENDING
      - VIDEO_BITRATE_DESCENDING
    type: string
  StreamSelection:
    description: A StreamSelection configuration.
    properties:
      MaxVideoBitsPerSecond:
        $ref: '#/definitions/__integer'
        description: The maximum video bitrate (bps) to include in output.
      MinVideoBitsPerSecond:
        $ref: '#/definitions/__integer'
        description: The minimum video bitrate (bps) to include in output.
      StreamOrder:
        $ref: '#/definitions/StreamOrder'
        description: A directive that determines the order of streams in the output.
    type: object
  TagResourceRequest:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
    required:
      - Tags
    type: object
  Tags:
    additionalProperties:
      $ref: '#/definitions/__string'
    description: A collection of tags associated with a resource
    type: object
  TooManyRequestsException: {}
  UnprocessableEntityException: {}
  UntagResourceRequest:
    properties: {}
    type: object
  UpdateChannelRequest:
    description: Configuration parameters used to update the Channel.
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
    type: object
  UpdateChannelResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the Channel.
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the Channel.
      HlsIngest:
        $ref: '#/definitions/HlsIngest'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the Channel.
      Tags:
        $ref: '#/definitions/Tags'
    type: object
  UpdateOriginEndpointRequest:
    description: Configuration parameters used to update an existing OriginEndpoint.
    properties:
      CmafPackage:
        $ref: '#/definitions/CmafPackageCreateOrUpdateParameters'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string that will be appended to the end of the Endpoint URL.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (in seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (in seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    type: object
  UpdateOriginEndpointResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) assigned to the OriginEndpoint.
      ChannelId:
        $ref: '#/definitions/__string'
        description: The ID of the Channel the OriginEndpoint is associated with.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      Description:
        $ref: '#/definitions/__string'
        description: A short text description of the OriginEndpoint.
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the OriginEndpoint.
      ManifestName:
        $ref: '#/definitions/__string'
        description: A short string appended to the end of the OriginEndpoint URL.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      StartoverWindowSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Maximum duration (seconds) of content to retain for startover playback.
          If not specified, startover playback will be disabled for the OriginEndpoint.
      Tags:
        $ref: '#/definitions/Tags'
      TimeDelaySeconds:
        $ref: '#/definitions/__integer'
        description: |
          Amount of delay (seconds) to enforce on the playback of live content.
          If not specified, there will be no time delay in effect for the OriginEndpoint.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the packaged OriginEndpoint for consumption.
      Whitelist:
        $ref: '#/definitions/__listOf__string'
        description: A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.
    type: object
  __AdTriggersElement:
    enum:
      - SPLICE_INSERT
      - BREAK
      - PROVIDER_ADVERTISEMENT
      - DISTRIBUTOR_ADVERTISEMENT
      - PROVIDER_PLACEMENT_OPPORTUNITY
      - DISTRIBUTOR_PLACEMENT_OPPORTUNITY
      - PROVIDER_OVERLAY_PLACEMENT_OPPORTUNITY
      - DISTRIBUTOR_OVERLAY_PLACEMENT_OPPORTUNITY
    type: string
  __PeriodTriggersElement:
    enum:
      - ADS
    type: string
  __boolean:
    type: boolean
  __integer:
    type: integer
  __listOfChannel:
    items:
      $ref: '#/definitions/Channel'
    type: array
  __listOfHlsManifest:
    items:
      $ref: '#/definitions/HlsManifest'
    type: array
  __listOfHlsManifestCreateOrUpdateParameters:
    items:
      $ref: '#/definitions/HlsManifestCreateOrUpdateParameters'
    type: array
  __listOfIngestEndpoint:
    items:
      $ref: '#/definitions/IngestEndpoint'
    type: array
  __listOfOriginEndpoint:
    items:
      $ref: '#/definitions/OriginEndpoint'
    type: array
  __listOf__PeriodTriggersElement:
    items:
      $ref: '#/definitions/__PeriodTriggersElement'
    type: array
  __listOf__string:
    items:
      $ref: '#/definitions/__string'
    type: array
  __mapOf__string:
    additionalProperties:
      $ref: '#/definitions/__string'
    type: object
  __string:
    type: string
x-servers:
  - description: The MediaPackage multi-region endpoint
    url: 'http://mediapackage.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaPackage multi-region endpoint
    url: 'https://mediapackage.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaPackage endpoint for China (Beijing) and China (Ningxia)
    url: 'http://mediapackage.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The MediaPackage endpoint for China (Beijing) and China (Ningxia)
    url: 'https://mediapackage.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
