swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: StorSimple8000SeriesManagementClient
  version: '2017-06-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storsimple8000series/2017-06-01/swagger/storsimple.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-storsimple8000series
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The api version
    in: query
    name: api-version
    required: true
    type: string
    x-ms-skip-url-encoding: true
  deviceNameParameter:
    description: The device name
    in: path
    name: deviceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  managerNameParameter:
    description: The manager name
    in: path
    maxLength: 50
    minLength: 2
    name: managerName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  resourceGroupNameParameter:
    description: The resource group name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  subscriptionIdParameter:
    description: The subscription id
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-skip-url-encoding: true
paths:
  /providers/Microsoft.StorSimple/operations:
    get:
      deprecated: false
      description: Lists all of the available REST API operations of the Microsoft.Storsimple provider
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of available provider operations.
          schema:
            $ref: '#/definitions/AvailableProviderOperationList'
      tags:
        - Operations
      x-ms-examples:
        OperationsList:
          $ref: ../examples/OperationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers':
    get:
      deprecated: false
      description: Retrieves all the managers in a subscription.
      operationId: Managers_List
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of StorSimple managers.
          schema:
            $ref: '#/definitions/ManagerList'
      tags:
        - Managers
      x-ms-examples:
        ManagersList:
          $ref: ../examples/ManagersList.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers':
    get:
      deprecated: false
      description: Retrieves all the managers in a resource group.
      operationId: Managers_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of StorSimple managers.
          schema:
            $ref: '#/definitions/ManagerList'
      tags:
        - Managers
      x-ms-examples:
        ManagersListByResourceGroup:
          $ref: ../examples/ManagersListByResourceGroup.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}':
    delete:
      deprecated: false
      description: Deletes the manager.
      operationId: Managers_Delete
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager has been successfully deleted
        '204':
          description: The StorSimple manager is already in a deleted state
      tags:
        - Managers
      x-ms-examples:
        ManagersDelete:
          $ref: ../examples/ManagersDelete.json
    get:
      deprecated: false
      description: Returns the properties of the specified manager name.
      operationId: Managers_Get
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager.
          schema:
            $ref: '#/definitions/Manager'
      tags:
        - Managers
      x-ms-examples:
        ManagersGet:
          $ref: ../examples/ManagersGet.json
    patch:
      deprecated: false
      description: Updates the StorSimple Manager.
      operationId: Managers_Update
      parameters:
        - description: The manager update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagerPatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: '#/definitions/Manager'
      tags:
        - Managers
      x-ms-examples:
        ManagersUpdate:
          $ref: ../examples/ManagersUpdate.json
    put:
      deprecated: false
      description: Creates or updates the manager.
      operationId: Managers_CreateOrUpdate
      parameters:
        - description: The manager.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Manager'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: '#/definitions/Manager'
        '201':
          description: The StorSimple manager has been successfully created
          schema:
            $ref: '#/definitions/Manager'
      tags:
        - Managers
      x-ms-examples:
        ManagersCreateOrUpdate:
          $ref: ../examples/ManagersCreateOrUpdate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords':
    get:
      deprecated: false
      description: Retrieves all the access control records in a manager.
      operationId: AccessControlRecords_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of access control records.
          schema:
            $ref: '#/definitions/AccessControlRecordList'
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsListByManager:
          $ref: ../examples/AccessControlRecordsListByManager.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}':
    delete:
      deprecated: false
      description: Deletes the access control record.
      operationId: AccessControlRecords_Delete
      parameters:
        - description: The name of the access control record to delete.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the access control record.
        '204':
          description: Successfully deleted the access control record.
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsDelete:
          $ref: ../examples/AccessControlRecordsDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified access control record name.
      operationId: AccessControlRecords_Get
      parameters:
        - description: Name of access control record to be fetched.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The access control record.
          schema:
            $ref: '#/definitions/AccessControlRecord'
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsGet:
          $ref: ../examples/AccessControlRecordsGet.json
    put:
      deprecated: false
      description: Creates or Updates an access control record.
      operationId: AccessControlRecords_CreateOrUpdate
      parameters:
        - description: The name of the access control record.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The access control record to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AccessControlRecord'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the access control record.
          schema:
            $ref: '#/definitions/AccessControlRecord'
        '202':
          description: Accepted the request to create or update the access control record.
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsCreateOrUpdate:
          $ref: ../examples/AccessControlRecordsCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts':
    get:
      deprecated: false
      description: Retrieves all the alerts in a manager.
      operationId: Alerts_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of alerts.
          schema:
            $ref: '#/definitions/AlertList'
      tags:
        - Alerts
      x-ms-examples:
        AlertsListByManager:
          $ref: ../examples/AlertsListByManager.json
      x-ms-odata: '#/definitions/AlertFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings':
    get:
      deprecated: false
      description: Retrieves all the bandwidth setting in a manager.
      operationId: BandwidthSettings_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of bandwidth settings.
          schema:
            $ref: '#/definitions/BandwidthSettingList'
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsListByManager:
          $ref: ../examples/BandwidthSettingsListByManager.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}':
    delete:
      deprecated: false
      description: Deletes the bandwidth setting
      operationId: BandwidthSettings_Delete
      parameters:
        - description: The name of the bandwidth setting.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the bandwidth setting.
        '204':
          description: Successfully deleted the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsDelete:
          $ref: ../examples/BandwidthSettingsDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified bandwidth setting name.
      operationId: BandwidthSettings_Get
      parameters:
        - description: The name of bandwidth setting to be fetched.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The bandwidth setting.
          schema:
            $ref: '#/definitions/BandwidthSetting'
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsGet:
          $ref: ../examples/BandwidthSettingsGet.json
    put:
      deprecated: false
      description: Creates or updates the bandwidth setting
      operationId: BandwidthSettings_CreateOrUpdate
      parameters:
        - description: The bandwidth setting name.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The bandwidth setting to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BandwidthSetting'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the bandwidth setting.
          schema:
            $ref: '#/definitions/BandwidthSetting'
        '202':
          description: Accepted the request to create or update the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsCreateOrUpdate:
          $ref: ../examples/BandwidthSettingsCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts':
    post:
      deprecated: false
      description: Clear the alerts.
      operationId: Alerts_Clear
      parameters:
        - description: The clear alert request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClearAlertRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully cleared the alerts.
      tags:
        - Alerts
      x-ms-examples:
        AlertsClear:
          $ref: ../examples/AlertsClear.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/cloudApplianceConfigurations':
    get:
      deprecated: false
      description: Lists supported cloud appliance models and supported configurations.
      operationId: CloudAppliances_ListSupportedConfigurations
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of cloud appliance configuration.
          schema:
            $ref: '#/definitions/CloudApplianceConfigurationList'
      tags:
        - CloudAppliances
      x-ms-examples:
        CloudAppliancesListSupportedConfigurations:
          $ref: ../examples/CloudAppliancesListSupportedConfigurations.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/configureDevice':
    post:
      deprecated: false
      description: Complete minimal setup before using the device.
      operationId: Devices_Configure
      parameters:
        - description: The minimal properties to configure a device.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConfigureDeviceRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to configure device.
        '204':
          description: Successfully configured the device.
      tags:
        - Devices
      x-ms-examples:
        DevicesConfigure:
          $ref: ../examples/DevicesConfigure.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices':
    get:
      deprecated: false
      description: Returns the list of devices for the specified manager.
      operationId: Devices_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: The collection of devices.
          schema:
            $ref: '#/definitions/DeviceList'
      tags:
        - Devices
      x-ms-examples:
        DevicesListByManager:
          $ref: ../examples/DevicesListByManager.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}':
    delete:
      deprecated: false
      description: Deletes the device.
      operationId: Devices_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the device.
        '204':
          description: Successfully deleted the device.
      tags:
        - Devices
      x-ms-examples:
        DevicesDelete:
          $ref: ../examples/DevicesDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified device.
      operationId: Devices_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: The device.
          schema:
            $ref: '#/definitions/Device'
      tags:
        - Devices
      x-ms-examples:
        DevicesGet:
          $ref: ../examples/DevicesGet.json
    patch:
      deprecated: false
      description: Patches the device.
      operationId: Devices_Update
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: Patch representation of the device.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DevicePatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully patched the device.
          schema:
            $ref: '#/definitions/Device'
      tags:
        - Devices
      x-ms-examples:
        DevicesUpdate:
          $ref: ../examples/DevicesUpdate.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default':
    get:
      deprecated: false
      description: Gets the alert settings of the specified device.
      operationId: DeviceSettings_GetAlertSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Alert settings.
          schema:
            $ref: '#/definitions/AlertSettings'
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsGetAlertSettings:
          $ref: ../examples/DeviceSettingsGetAlertSettings.json
    put:
      deprecated: false
      description: Creates or updates the alert settings of the specified device.
      operationId: DeviceSettings_CreateOrUpdateAlertSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The alert settings to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AlertSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the alert settings.
          schema:
            $ref: '#/definitions/AlertSettings'
        '202':
          description: Accepted the request to create or update the alert settings.
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsCreateOrUpdateAlertSettings:
          $ref: ../examples/DeviceSettingsCreateOrUpdateAlertSettings.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/authorizeForServiceEncryptionKeyRollover':
    post:
      deprecated: false
      description: Authorizes the specified device for service data encryption key rollover.
      operationId: Devices_AuthorizeForServiceEncryptionKeyRollover
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully authorized the device for service encryption key rollover
      tags:
        - Devices
      x-ms-examples:
        DevicesAuthorizeForServiceEncryptionKeyRollover:
          $ref: ../examples/DevicesAuthorizeForServiceEncryptionKeyRollover.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies':
    get:
      deprecated: false
      description: Gets all the backup policies in a device.
      operationId: BackupPolicies_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of backup policies.
          schema:
            $ref: '#/definitions/BackupPolicyList'
      tags:
        - BackupPolicies
      x-ms-examples:
        BackupPoliciesListByDevice:
          $ref: ../examples/BackupPoliciesListByDevice.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}':
    delete:
      deprecated: false
      description: Deletes the backup policy.
      operationId: BackupPolicies_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the backup policy.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup policy.
        '204':
          description: Successfully deleted the backup policy.
      tags:
        - BackupPolicies
      x-ms-examples:
        BackupPoliciesDelete:
          $ref: ../examples/BackupPoliciesDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified backup policy name.
      operationId: BackupPolicies_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of backup policy to be fetched.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The backup policy.
          schema:
            $ref: '#/definitions/BackupPolicy'
      tags:
        - BackupPolicies
      x-ms-examples:
        BackupPoliciesGet:
          $ref: ../examples/BackupPoliciesGet.json
    put:
      deprecated: false
      description: Creates or updates the backup policy.
      operationId: BackupPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the backup policy to be created/updated.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupPolicy'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the backup policy.
          schema:
            $ref: '#/definitions/BackupPolicy'
        '202':
          description: Accepted the request to create or update the backup policy.
      tags:
        - BackupPolicies
      x-ms-examples:
        BackupPoliciesCreateOrUpdate:
          $ref: ../examples/BackupPoliciesCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/backup':
    post:
      deprecated: false
      description: Backup the backup policy now.
      operationId: BackupPolicies_BackupNow
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup Type. This can be cloudSnapshot or localSnapshot.
          in: query
          name: backupType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to backup the backup policy.
        '204':
          description: Successfully completed backup of the backup policy.
      tags:
        - BackupPolicies
      x-ms-examples:
        BackupPoliciesBackupNow:
          $ref: ../examples/BackupPoliciesBackupNow.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules':
    get:
      deprecated: false
      description: Gets all the backup schedules in a backup policy.
      operationId: BackupSchedules_ListByBackupPolicy
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of backup schedules.
          schema:
            $ref: '#/definitions/BackupScheduleList'
      tags:
        - BackupSchedules
      x-ms-examples:
        BackupSchedulesListByBackupPolicy:
          $ref: ../examples/BackupSchedulesListByBackupPolicy.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules/{backupScheduleName}':
    delete:
      deprecated: false
      description: Deletes the backup schedule.
      operationId: BackupSchedules_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name the backup schedule.
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup schedule.
        '204':
          description: Successfully deleted the backup schedule.
      tags:
        - BackupSchedules
      x-ms-examples:
        BackupSchedulesDelete:
          $ref: ../examples/BackupSchedulesDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified backup schedule name.
      operationId: BackupSchedules_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the backup schedule to be fetched
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The backup schedule.
          schema:
            $ref: '#/definitions/BackupSchedule'
      tags:
        - BackupSchedules
      x-ms-examples:
        BackupSchedulesGet:
          $ref: ../examples/BackupSchedulesGet.json
    put:
      deprecated: false
      description: Creates or updates the backup schedule.
      operationId: BackupSchedules_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup schedule name.
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup schedule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupSchedule'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the backup schedule.
          schema:
            $ref: '#/definitions/BackupSchedule'
        '202':
          description: Accepted the request to create or update the backup schedule.
      tags:
        - BackupSchedules
      x-ms-examples:
        BackupSchedulesCreateOrUpdate:
          $ref: ../examples/BackupSchedulesCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups':
    get:
      deprecated: false
      description: Retrieves all the backups in a device.
      operationId: Backups_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of backups.
          schema:
            $ref: '#/definitions/BackupList'
      tags:
        - Backups
      x-ms-examples:
        BackupsListByDevice:
          $ref: ../examples/BackupsListByDevice.json
      x-ms-odata: '#/definitions/BackupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}':
    delete:
      deprecated: false
      description: Deletes the backup.
      operationId: Backups_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup name.
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup.
        '204':
          description: Successfully deleted the backup.
      tags:
        - Backups
      x-ms-examples:
        BackupsDelete:
          $ref: ../examples/BackupsDelete.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{backupElementName}/clone':
    post:
      deprecated: false
      description: Clones the backup element as a new volume.
      operationId: Backups_Clone
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup name.
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup element name.
          in: path
          name: backupElementName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The clone request object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CloneRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully cloned the backup.
        '202':
          description: Accepted the request to clone.
      tags:
        - Backups
      x-ms-examples:
        BackupsClone:
          $ref: ../examples/BackupsClone.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/restore':
    post:
      deprecated: false
      description: Restores the backup on the device.
      operationId: Backups_Restore
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backupSet name
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully restored the backup.
        '202':
          description: Accepted the request to restore.
      tags:
        - Backups
      x-ms-examples:
        BackupsRestore:
          $ref: ../examples/BackupsRestore.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate':
    post:
      deprecated: false
      description: Deactivates the device.
      operationId: Devices_Deactivate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to deactivate the device.
        '204':
          description: Successfully deactivated the device.
      tags:
        - Devices
      x-ms-examples:
        DevicesDeactivate:
          $ref: ../examples/DevicesDeactivate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups':
    get:
      deprecated: false
      description: Lists the hardware component groups at device-level.
      operationId: HardwareComponentGroups_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully fetched hardware component groups.
          schema:
            $ref: '#/definitions/HardwareComponentGroupList'
      tags:
        - HardwareComponentGroups
      x-ms-examples:
        HardwareComponentGroupsListByDevice:
          $ref: ../examples/HardwareComponentGroupsListByDevice.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups/{hardwareComponentGroupName}/changeControllerPowerState':
    post:
      deprecated: false
      description: Changes the power state of the controller.
      operationId: HardwareComponentGroups_ChangeControllerPowerState
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The hardware component group name.
          in: path
          name: hardwareComponentGroupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The controller power state change request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ControllerPowerStateChangeRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to change power state of the controller.
        '204':
          description: Successfully changed the power state of the controller.
      tags:
        - HardwareComponentGroups
      x-ms-examples:
        HardwareComponentGroupsChangeControllerPowerState:
          $ref: ../examples/HardwareComponentGroupsChangeControllerPowerState.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/installUpdates':
    post:
      deprecated: false
      description: Downloads and installs the updates on the device.
      operationId: Devices_InstallUpdates
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to download and install updates.
        '204':
          description: Successfully installed updates.
      tags:
        - Devices
      x-ms-examples:
        DevicesInstallUpdates:
          $ref: ../examples/DevicesInstallUpdates.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs':
    get:
      deprecated: false
      description: 'Gets all the jobs for specified device. With optional OData query parameters, a filtered set of jobs is returned.'
      operationId: Jobs_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of jobs for the specified manager and device name.
          schema:
            $ref: '#/definitions/JobList'
      tags:
        - Jobs
      x-ms-examples:
        JobsListByDevice:
          $ref: ../examples/JobsListByDevice.json
      x-ms-odata: '#/definitions/JobFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}':
    get:
      deprecated: false
      description: Gets the details of the specified job name.
      operationId: Jobs_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The job Name.
          in: path
          name: jobName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The job.
          schema:
            $ref: '#/definitions/Job'
      tags:
        - Jobs
      x-ms-examples:
        JobsGet:
          $ref: ../examples/JobsGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}/cancel':
    post:
      deprecated: false
      description: Cancels a job on the device.
      operationId: Jobs_Cancel
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The jobName.
          in: path
          name: jobName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to cancel a deviceJob
        '204':
          description: Successfully cancelled the deviceJob
      tags:
        - Jobs
      x-ms-examples:
        JobsCancel:
          $ref: ../examples/JobsCancel.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/listFailoverSets':
    post:
      deprecated: false
      description: Returns all failover sets for a given device and their eligibility for participating in a failover. A failover set refers to a set of volume containers that need to be failed-over as a single unit to maintain data integrity.
      operationId: Devices_ListFailoverSets
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Returns the list of failoversets on the given device.
          schema:
            $ref: '#/definitions/FailoverSetsList'
      tags:
        - Devices
      x-ms-examples:
        DevicesListFailoverSets:
          $ref: ../examples/DevicesListFailoverSets.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metrics':
    get:
      deprecated: false
      description: Gets the metrics for the specified device.
      operationId: Devices_ListMetrics
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: true
          type: string
      responses:
        '200':
          description: The collection of metrics.
          schema:
            $ref: '#/definitions/MetricList'
      tags:
        - Devices
      x-ms-examples:
        DevicesListMetrics:
          $ref: ../examples/DevicesListMetrics.json
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/metricsDefinitions':
    get:
      deprecated: false
      description: Gets the metric definitions for the specified device.
      operationId: Devices_ListMetricDefinition
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          schema:
            $ref: '#/definitions/MetricDefinitionList'
      tags:
        - Devices
      x-ms-examples:
        DevicesListMetricDefinition:
          $ref: ../examples/DevicesListMetricDefinition.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/networkSettings/default':
    get:
      deprecated: false
      description: Gets the network settings of the specified device.
      operationId: DeviceSettings_GetNetworkSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Network settings.
          schema:
            $ref: '#/definitions/NetworkSettings'
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsGetNetworkSettings:
          $ref: ../examples/DeviceSettingsGetNetworkSettings.json
    patch:
      deprecated: false
      description: Updates the network settings on the specified device.
      operationId: DeviceSettings_UpdateNetworkSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The network settings to be updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NetworkSettingsPatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Network settings.
          schema:
            $ref: '#/definitions/NetworkSettings'
        '202':
          description: Accepted the request to update network settings.
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsUpdateNetworkSettings:
          $ref: ../examples/DeviceSettingsUpdateNetworkSettings.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/publicEncryptionKey':
    post:
      deprecated: false
      description: Returns the public encryption key of the device.
      operationId: Managers_GetDevicePublicEncryptionKey
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The public key.
          schema:
            $ref: '#/definitions/PublicKey'
      tags:
        - Managers
      x-ms-examples:
        ManagersGetDevicePublicEncryptionKey:
          $ref: ../examples/ManagersGetDevicePublicEncryptionKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/scanForUpdates':
    post:
      deprecated: false
      description: Scans for updates on the device.
      operationId: Devices_ScanForUpdates
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to scan for updates.
        '204':
          description: Successfully scanned for updates.
      tags:
        - Devices
      x-ms-examples:
        DevicesScanForUpdates:
          $ref: ../examples/DevicesScanForUpdates.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/securitySettings/default':
    get:
      deprecated: false
      description: Returns the Security properties of the specified device name.
      operationId: DeviceSettings_GetSecuritySettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Device Security settings.
          schema:
            $ref: '#/definitions/SecuritySettings'
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsGetSecuritySettings:
          $ref: ../examples/DeviceSettingsGetSecuritySettings.json
    patch:
      deprecated: false
      description: Patch Security properties of the specified device name.
      operationId: DeviceSettings_UpdateSecuritySettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The security settings properties to be patched.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SecuritySettingsPatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The device Security settings.
          schema:
            $ref: '#/definitions/SecuritySettings'
        '202':
          description: Accepted the request to update device security settings.
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsUpdateSecuritySettings:
          $ref: ../examples/DeviceSettingsUpdateSecuritySettings.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/securitySettings/default/syncRemoteManagementCertificate':
    post:
      deprecated: false
      description: sync Remote management Certificate between appliance and Service
      operationId: DeviceSettings_SyncRemotemanagementCertificate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to sync Remote Management certificate settings.
        '204':
          description: Successfully synced Remote Management certificate settings.
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsSyncRemotemanagementCertificate:
          $ref: ../examples/DeviceSettingsSyncRemotemanagementCertificate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/sendTestAlertEmail':
    post:
      deprecated: false
      description: Sends a test alert email.
      operationId: Alerts_SendTestEmail
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The send test alert email request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SendTestAlertEmailRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully sent the test email.
      tags:
        - Alerts
      x-ms-examples:
        AlertsSendTestEmail:
          $ref: ../examples/AlertsSendTestEmail.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/timeSettings/default':
    get:
      deprecated: false
      description: Gets the time settings of the specified device.
      operationId: DeviceSettings_GetTimeSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The time settings.
          schema:
            $ref: '#/definitions/TimeSettings'
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsGetTimeSettings:
          $ref: ../examples/DeviceSettingsGetTimeSettings.json
    put:
      deprecated: false
      description: Creates or updates the time settings of the specified device.
      operationId: DeviceSettings_CreateOrUpdateTimeSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The time settings to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TimeSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the time settings.
          schema:
            $ref: '#/definitions/TimeSettings'
        '202':
          description: Accepted the request to create or update the time settings.
      tags:
        - DeviceSettings
      x-ms-examples:
        DeviceSettingsCreateOrUpdateTimeSettings:
          $ref: ../examples/DeviceSettingsCreateOrUpdateTimeSettings.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/updateSummary/default':
    get:
      deprecated: false
      description: Returns the update summary of the specified device name.
      operationId: Devices_GetUpdateSummary
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The update summary.
          schema:
            $ref: '#/definitions/Updates'
      tags:
        - Devices
      x-ms-examples:
        DevicesGetUpdateSummary:
          $ref: ../examples/DevicesGetUpdateSummary.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers':
    get:
      deprecated: false
      description: Gets all the volume containers in a device.
      operationId: VolumeContainers_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer List
          schema:
            $ref: '#/definitions/VolumeContainerList'
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersListByDevice:
          $ref: ../examples/VolumeContainersListByDevice.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}':
    delete:
      deprecated: false
      description: Deletes the volume container.
      operationId: VolumeContainers_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the Volume Container.
        '204':
          description: Successfully deleted Volume Container.
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersDelete:
          $ref: ../examples/VolumeContainersDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified volume container name.
      operationId: VolumeContainers_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer.
          schema:
            $ref: '#/definitions/VolumeContainer'
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersGet:
          $ref: ../examples/VolumeContainersGet.json
    put:
      deprecated: false
      description: Creates or updates the volume container.
      operationId: VolumeContainers_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume container to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VolumeContainer'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the Volume Container.
          schema:
            $ref: '#/definitions/VolumeContainer'
        '202':
          description: Accepted the request to create or update the Volume Container
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersCreateOrUpdate:
          $ref: ../examples/VolumeContainersCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/metrics':
    get:
      deprecated: false
      description: Gets the metrics for the specified volume container.
      operationId: VolumeContainers_ListMetrics
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: true
          type: string
      responses:
        '200':
          description: The collection of metrics.
          schema:
            $ref: '#/definitions/MetricList'
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersListMetrics:
          $ref: ../examples/VolumeContainersListMetrics.json
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/metricsDefinitions':
    get:
      deprecated: false
      description: Gets the metric definitions for the specified volume container.
      operationId: VolumeContainers_ListMetricDefinition
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          schema:
            $ref: '#/definitions/MetricDefinitionList'
      tags:
        - VolumeContainers
      x-ms-examples:
        VolumeContainersListMetricDefinition:
          $ref: ../examples/VolumeContainersListMetricDefinition.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes':
    get:
      deprecated: false
      description: Retrieves all the volumes in a volume container.
      operationId: Volumes_ListByVolumeContainer
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          schema:
            $ref: '#/definitions/VolumeList'
      tags:
        - Volumes
      x-ms-examples:
        VolumesListByVolumeContainer:
          $ref: ../examples/VolumesListByVolumeContainer.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}':
    delete:
      deprecated: false
      description: Deletes the volume.
      operationId: Volumes_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to create or update the volume.
        '204':
          description: Successfully deleted the volume.
      tags:
        - Volumes
      x-ms-examples:
        VolumesDelete:
          $ref: ../examples/VolumesDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified volume name.
      operationId: Volumes_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The volume.
          schema:
            $ref: '#/definitions/Volume'
      tags:
        - Volumes
      x-ms-examples:
        VolumesGet:
          $ref: ../examples/VolumesGet.json
    put:
      deprecated: false
      description: Creates or updates the volume.
      operationId: Volumes_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Volume to be created or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Volume'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the volume.
          schema:
            $ref: '#/definitions/Volume'
        '202':
          description: Accepted the request to create or update the volume.
      tags:
        - Volumes
      x-ms-examples:
        VolumesCreateOrUpdate:
          $ref: ../examples/VolumesCreateOrUpdate.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}/metrics':
    get:
      deprecated: false
      description: Gets the metrics for the specified volume.
      operationId: Volumes_ListMetrics
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: true
          type: string
      responses:
        '200':
          description: The collection of metrics
          schema:
            $ref: '#/definitions/MetricList'
      tags:
        - Volumes
      x-ms-examples:
        VolumesListMetrics:
          $ref: ../examples/VolumesListMetrics.json
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}/metricsDefinitions':
    get:
      deprecated: false
      description: Gets the metric definitions for the specified volume.
      operationId: Volumes_ListMetricDefinition
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          schema:
            $ref: '#/definitions/MetricDefinitionList'
      tags:
        - Volumes
      x-ms-examples:
        VolumesListMetricDefinition:
          $ref: ../examples/VolumesListMetricDefinition.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumes':
    get:
      deprecated: false
      description: Retrieves all the volumes in a device.
      operationId: Volumes_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          schema:
            $ref: '#/definitions/VolumeList'
      tags:
        - Volumes
      x-ms-examples:
        VolumesListByDevice:
          $ref: ../examples/VolumesListByDevice.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{sourceDeviceName}/failover':
    post:
      deprecated: false
      description: Failovers a set of volume containers from a specified source device to a target device.
      operationId: Devices_Failover
      parameters:
        - description: The source device name on which failover is performed.
          in: path
          name: sourceDeviceName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: FailoverRequest containing the source device and the list of volume containers to be failed over.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FailoverRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to failover the device.
        '204':
          description: Successfully completed failover of the device.
      tags:
        - Devices
      x-ms-examples:
        DevicesFailover:
          $ref: ../examples/DevicesFailover.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{sourceDeviceName}/listFailoverTargets':
    post:
      deprecated: false
      description: 'Given a list of volume containers to be failed over from a source device, this method returns the eligibility result, as a failover target, for all devices under that resource.'
      operationId: Devices_ListFailoverTargets
      parameters:
        - description: The source device name on which failover is performed.
          in: path
          name: sourceDeviceName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: ListFailoverTargetsRequest containing the list of volume containers to be failed over.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ListFailoverTargetsRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of target devices and their eligibility for failover.
          schema:
            $ref: '#/definitions/FailoverTargetsList'
      tags:
        - Devices
      x-ms-examples:
        DevicesListFailoverTargets:
          $ref: ../examples/DevicesListFailoverTargets.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/encryptionSettings/default':
    get:
      deprecated: false
      description: Returns the encryption settings of the manager.
      operationId: Managers_GetEncryptionSettings
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The encryption settings.
          schema:
            $ref: '#/definitions/EncryptionSettings'
      tags:
        - Managers
      x-ms-examples:
        ManagersGetEncryptionSettings:
          $ref: ../examples/ManagersGetEncryptionSettings.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/extendedInformation/vaultExtendedInfo':
    delete:
      deprecated: false
      description: Deletes the extended info of the manager.
      operationId: Managers_DeleteExtendedInfo
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: The extended information on the manager has been successfully deleted
      tags:
        - Managers
      x-ms-examples:
        ManagersDeleteExtendedInfo:
          $ref: ../examples/ManagersDeleteExtendedInfo.json
    get:
      deprecated: false
      description: Returns the extended information of the specified manager name.
      operationId: Managers_GetExtendedInfo
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The manager extended information.
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
      x-ms-examples:
        ManagersGetExtendedInfo:
          $ref: ../examples/ManagersGetExtendedInfo.json
    patch:
      deprecated: false
      description: Updates the extended info of the manager.
      operationId: Managers_UpdateExtendedInfo
      parameters:
        - description: The manager extended information.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Pass the ETag of ExtendedInfo fetched from GET call
          in: header
          name: If-Match
          required: true
          type: string
      responses:
        '200':
          description: The extended information on the manager has been successfully created
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
      x-ms-examples:
        ManagersUpdateExtendedInfo:
          $ref: ../examples/ManagersUpdateExtendedInfo.json
    put:
      deprecated: false
      description: Creates the extended info of the manager.
      operationId: Managers_CreateExtendedInfo
      parameters:
        - description: The manager extended information.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The extended information on the manager has been successfully created
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
      x-ms-examples:
        ManagersCreateExtendedInfo:
          $ref: ../examples/ManagersCreateExtendedInfo.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/features':
    get:
      deprecated: false
      description: Lists the features and their support status
      operationId: Managers_ListFeatureSupportStatus
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of features.
          schema:
            $ref: '#/definitions/FeatureList'
      tags:
        - Managers
      x-ms-examples:
        ManagersListFeatureSupportStatus:
          $ref: ../examples/ManagersListFeatureSupportStatus.json
      x-ms-odata: '#/definitions/FeatureFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/jobs':
    get:
      deprecated: false
      description: 'Gets all the jobs for the specified manager. With optional OData query parameters, a filtered set of jobs is returned.'
      operationId: Jobs_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of device jobs on all devices under the specified manager.
          schema:
            $ref: '#/definitions/JobList'
      tags:
        - Jobs
      x-ms-examples:
        JobsListByManager:
          $ref: ../examples/JobsListByManager.json
      x-ms-odata: '#/definitions/JobFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/listActivationKey':
    post:
      deprecated: false
      description: Returns the activation key of the manager.
      operationId: Managers_GetActivationKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The activation key.
          schema:
            $ref: '#/definitions/Key'
      tags:
        - Managers
      x-ms-examples:
        ManagersGetActivationKey:
          $ref: ../examples/ManagersGetActivationKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/listPublicEncryptionKey':
    post:
      deprecated: false
      description: Returns the symmetric encrypted public encryption key of the manager.
      operationId: Managers_GetPublicEncryptionKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The encryption key.
          schema:
            $ref: '#/definitions/SymmetricEncryptedSecret'
      tags:
        - Managers
      x-ms-examples:
        ManagersGetPublicEncryptionKey:
          $ref: ../examples/ManagersGetPublicEncryptionKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/metrics':
    get:
      deprecated: false
      description: Gets the metrics for the specified manager.
      operationId: Managers_ListMetrics
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: true
          type: string
      responses:
        '200':
          description: The collection of metrics.
          schema:
            $ref: '#/definitions/MetricList'
      tags:
        - Managers
      x-ms-examples:
        ManagersListMetrics:
          $ref: ../examples/ManagersListMetrics.json
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/metricsDefinitions':
    get:
      deprecated: false
      description: Gets the metric definitions for the specified manager.
      operationId: Managers_ListMetricDefinition
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          schema:
            $ref: '#/definitions/MetricDefinitionList'
      tags:
        - Managers
      x-ms-examples:
        ManagersListMetricDefinition:
          $ref: ../examples/ManagersListMetricDefinition.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/provisionCloudAppliance':
    post:
      deprecated: false
      description: Provisions cloud appliance.
      operationId: CloudAppliances_Provision
      parameters:
        - description: The cloud appliance
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CloudAppliance'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created job for provision cloud appliance.
        '202':
          description: Accepted the request to provision cloud appliance.
      tags:
        - CloudAppliances
      x-ms-examples:
        CloudAppliancesProvision:
          $ref: ../examples/CloudAppliancesProvision.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/regenerateActivationKey':
    post:
      deprecated: false
      description: Re-generates and returns the activation key of the manager.
      operationId: Managers_RegenerateActivationKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The regenerated activation key.
          schema:
            $ref: '#/definitions/Key'
      tags:
        - Managers
      x-ms-examples:
        ManagersRegenerateActivationKey:
          $ref: ../examples/ManagersRegenerateActivationKey.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageAccountCredentials':
    get:
      deprecated: false
      description: Gets all the storage account credentials in a manager.
      operationId: StorageAccountCredentials_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of storage account credentials.
          schema:
            $ref: '#/definitions/StorageAccountCredentialList'
      tags:
        - StorageAccountCredentials
      x-ms-examples:
        StorageAccountCredentialsListByManager:
          $ref: ../examples/StorageAccountCredentialsListByManager.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageAccountCredentials/{storageAccountCredentialName}':
    delete:
      deprecated: false
      description: Deletes the storage account credential.
      operationId: StorageAccountCredentials_Delete
      parameters:
        - description: The name of the storage account credential.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the storage account credential.
        '204':
          description: Successfully deleted the storage account credential.
      tags:
        - StorageAccountCredentials
      x-ms-examples:
        StorageAccountCredentialsDelete:
          $ref: ../examples/StorageAccountCredentialsDelete.json
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified storage account credential name.
      operationId: StorageAccountCredentials_Get
      parameters:
        - description: The name of storage account credential to be fetched.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The storage account credential.
          schema:
            $ref: '#/definitions/StorageAccountCredential'
      tags:
        - StorageAccountCredentials
      x-ms-examples:
        StorageAccountCredentialsGet:
          $ref: ../examples/StorageAccountCredentialsGet.json
    put:
      deprecated: false
      description: Creates or updates the storage account credential.
      operationId: StorageAccountCredentials_CreateOrUpdate
      parameters:
        - description: The storage account credential name.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The storage account credential to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/StorageAccountCredential'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the storage account credential.
          schema:
            $ref: '#/definitions/StorageAccountCredential'
        '202':
          description: Accepted the request to create or update the storage account credential.
      tags:
        - StorageAccountCredentials
      x-ms-examples:
        StorageAccountCredentialsCreateOrUpdate:
          $ref: ../examples/StorageAccountCredentialsCreateOrUpdate.json
      x-ms-long-running-operation: true
definitions:
  AccessControlRecord:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The access control record.
    properties:
      properties:
        $ref: '#/definitions/AccessControlRecordProperties'
        description: The properties of access control record.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  AccessControlRecordList:
    description: The collection of access control records.
    properties:
      value:
        description: The value.
        items:
          $ref: '#/definitions/AccessControlRecord'
        type: array
    required:
      - value
    type: object
  AccessControlRecordProperties:
    description: The properties of access control record.
    properties:
      initiatorName:
        description: The iSCSI initiator name (IQN).
        type: string
      volumeCount:
        description: The number of volumes using the access control record.
        format: int32
        readOnly: true
        type: integer
    required:
      - initiatorName
    type: object
  AcsConfiguration:
    description: The ACS configuration.
    properties:
      namespace:
        description: The namespace.
        type: string
      realm:
        description: The realm.
        type: string
      serviceUrl:
        description: The service URL.
[...]
