swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: StorSimple8000SeriesManagementClient
  version: '2017-06-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storsimple8000series/2017-06-01/swagger/storsimple.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-storsimple8000series
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The api version
    in: query
    name: api-version
    required: true
    type: string
    x-ms-skip-url-encoding: true
  deviceNameParameter:
    description: The device name
    in: path
    name: deviceName
    required: true
    type: string
    x-ms-skip-url-encoding: true
  managerNameParameter:
    description: The manager name
    in: path
    maxLength: 50
    minLength: 2
    name: managerName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  resourceGroupNameParameter:
    description: The resource group name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  subscriptionIdParameter:
    description: The subscription id
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-skip-url-encoding: true
paths:
  /providers/Microsoft.StorSimple/operations:
    get:
      deprecated: false
      description: Lists all of the available REST API operations of the Microsoft.Storsimple provider
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of available provider operations.
          schema:
            $ref: '#/definitions/AvailableProviderOperationList'
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers':
    get:
      deprecated: false
      description: Retrieves all the managers in a subscription.
      operationId: Managers_List
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of StorSimple managers.
          schema:
            $ref: '#/definitions/ManagerList'
      tags:
        - Managers
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers':
    get:
      deprecated: false
      description: Retrieves all the managers in a resource group.
      operationId: Managers_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of StorSimple managers.
          schema:
            $ref: '#/definitions/ManagerList'
      tags:
        - Managers
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}':
    delete:
      deprecated: false
      description: Deletes the manager.
      operationId: Managers_Delete
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager has been successfully deleted
        '204':
          description: The StorSimple manager is already in a deleted state
      tags:
        - Managers
    get:
      deprecated: false
      description: Returns the properties of the specified manager name.
      operationId: Managers_Get
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager.
          schema:
            $ref: '#/definitions/Manager'
      tags:
        - Managers
    put:
      deprecated: false
      description: Creates or updates the manager.
      operationId: Managers_CreateOrUpdate
      parameters:
        - description: The manager.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Manager'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: '#/definitions/Manager'
        '201':
          description: The StorSimple manager has been successfully created
          schema:
            $ref: '#/definitions/Manager'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords':
    get:
      deprecated: false
      description: Retrieves all the access control records in a manager.
      operationId: AccessControlRecords_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of access control records.
          schema:
            $ref: '#/definitions/AccessControlRecordList'
      tags:
        - AccessControlRecords
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}':
    delete:
      deprecated: false
      description: Deletes the access control record.
      operationId: AccessControlRecords_Delete
      parameters:
        - description: The name of the access control record to delete.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the access control record.
        '204':
          description: Successfully deleted the access control record.
      tags:
        - AccessControlRecords
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified access control record name.
      operationId: AccessControlRecords_Get
      parameters:
        - description: Name of access control record to be fetched.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The access control record.
          schema:
            $ref: '#/definitions/AccessControlRecord'
      tags:
        - AccessControlRecords
    put:
      deprecated: false
      description: Creates or Updates an access control record.
      operationId: AccessControlRecords_CreateOrUpdate
      parameters:
        - description: The name of the access control record.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The access control record to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AccessControlRecord'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the access control record.
          schema:
            $ref: '#/definitions/AccessControlRecord'
        '202':
          description: Accepted the request to create or update the access control record.
      tags:
        - AccessControlRecords
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts':
    get:
      deprecated: false
      description: Retrieves all the alerts in a manager.
      operationId: Alerts_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of alerts.
          schema:
            $ref: '#/definitions/AlertList'
      tags:
        - Alerts
      x-ms-odata: '#/definitions/AlertFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings':
    get:
      deprecated: false
      description: Retrieves all the bandwidth setting in a manager.
      operationId: BandwidthSettings_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of bandwidth settings.
          schema:
            $ref: '#/definitions/BandwidthSettingList'
      tags:
        - BandwidthSettings
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}':
    delete:
      deprecated: false
      description: Deletes the bandwidth setting
      operationId: BandwidthSettings_Delete
      parameters:
        - description: The name of the bandwidth setting.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the bandwidth setting.
        '204':
          description: Successfully deleted the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified bandwidth setting name.
      operationId: BandwidthSettings_Get
      parameters:
        - description: The name of bandwidth setting to be fetched.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The bandwidth setting.
          schema:
            $ref: '#/definitions/BandwidthSetting'
      tags:
        - BandwidthSettings
    put:
      deprecated: false
      description: Creates or updates the bandwidth setting
      operationId: BandwidthSettings_CreateOrUpdate
      parameters:
        - description: The bandwidth setting name.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The bandwidth setting to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BandwidthSetting'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the bandwidth setting.
          schema:
            $ref: '#/definitions/BandwidthSetting'
        '202':
          description: Accepted the request to create or update the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts':
    post:
      deprecated: false
      description: Clear the alerts.
      operationId: Alerts_Clear
      parameters:
        - description: The clear alert request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClearAlertRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully cleared the alerts.
      tags:
        - Alerts
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/configureDevice':
    post:
      deprecated: false
      description: Complete minimal setup before using the device.
      operationId: Devices_Configure
      parameters:
        - description: The minimal properties to configure a device.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConfigureDeviceRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to configure device.
        '204':
          description: Successfully configured the device.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices':
    get:
      deprecated: false
      description: Returns the list of devices for the specified manager.
      operationId: Devices_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: The collection of devices.
          schema:
            $ref: '#/definitions/DeviceList'
      tags:
        - Devices
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}':
    delete:
      deprecated: false
      description: Deletes the device.
      operationId: Devices_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the device.
        '204':
          description: Successfully deleted the device.
      tags:
        - Devices
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified device.
      operationId: Devices_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: The device.
          schema:
            $ref: '#/definitions/Device'
      tags:
        - Devices
    patch:
      deprecated: false
      description: Patches the device.
      operationId: Devices_Update
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: Patch representation of the device.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DevicePatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully patched the device.
          schema:
            $ref: '#/definitions/Device'
      tags:
        - Devices
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/alertSettings/default':
    get:
      deprecated: false
      description: Gets the alert settings of the specified device.
      operationId: DeviceSettings_GetAlertSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Alert settings.
          schema:
            $ref: '#/definitions/AlertSettings'
      tags:
        - DeviceSettings
    put:
      deprecated: false
      description: Creates or updates the alert settings of the specified device.
      operationId: DeviceSettings_CreateOrUpdateAlertSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The alert settings to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AlertSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the alert settings.
          schema:
            $ref: '#/definitions/AlertSettings'
        '202':
          description: Accepted the request to create or update the alert settings.
      tags:
        - DeviceSettings
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/authorizeForServiceEncryptionKeyRollover':
    post:
      deprecated: false
      description: Authorizes the specified device for service data encryption key rollover.
      operationId: Devices_AuthorizeForServiceEncryptionKeyRollover
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully authorized the device for service encryption key rollover
      tags:
        - Devices
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies':
    get:
      deprecated: false
      description: Gets all the backup policies in a device.
      operationId: BackupPolicies_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of backup policies.
          schema:
            $ref: '#/definitions/BackupPolicyList'
      tags:
        - BackupPolicies
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}':
    delete:
      deprecated: false
      description: Deletes the backup policy.
      operationId: BackupPolicies_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the backup policy.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup policy.
        '204':
          description: Successfully deleted the backup policy.
      tags:
        - BackupPolicies
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified backup policy name.
      operationId: BackupPolicies_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of backup policy to be fetched.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The backup policy.
          schema:
            $ref: '#/definitions/BackupPolicy'
      tags:
        - BackupPolicies
    put:
      deprecated: false
      description: Creates or updates the backup policy.
      operationId: BackupPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the backup policy to be created/updated.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupPolicy'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the backup policy.
          schema:
            $ref: '#/definitions/BackupPolicy'
        '202':
          description: Accepted the request to create or update the backup policy.
      tags:
        - BackupPolicies
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/backup':
    post:
      deprecated: false
      description: Backup the backup policy now.
      operationId: BackupPolicies_BackupNow
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup Type. This can be cloudSnapshot or localSnapshot.
          in: query
          name: backupType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to backup the backup policy.
        '204':
          description: Successfully completed backup of the backup policy.
      tags:
        - BackupPolicies
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules':
    get:
      deprecated: false
      description: Gets all the backup schedules in a backup policy.
      operationId: BackupSchedules_ListByBackupPolicy
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of backup schedules.
          schema:
            $ref: '#/definitions/BackupScheduleList'
      tags:
        - BackupSchedules
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupPolicies/{backupPolicyName}/schedules/{backupScheduleName}':
    delete:
      deprecated: false
      description: Deletes the backup schedule.
      operationId: BackupSchedules_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name the backup schedule.
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup schedule.
        '204':
          description: Successfully deleted the backup schedule.
      tags:
        - BackupSchedules
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified backup schedule name.
      operationId: BackupSchedules_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the backup schedule to be fetched
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The backup schedule.
          schema:
            $ref: '#/definitions/BackupSchedule'
      tags:
        - BackupSchedules
    put:
      deprecated: false
      description: Creates or updates the backup schedule.
      operationId: BackupSchedules_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup policy name.
          in: path
          name: backupPolicyName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup schedule name.
          in: path
          name: backupScheduleName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup schedule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupSchedule'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the backup schedule.
          schema:
            $ref: '#/definitions/BackupSchedule'
        '202':
          description: Accepted the request to create or update the backup schedule.
      tags:
        - BackupSchedules
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups':
    get:
      deprecated: false
      description: Retrieves all the backups in a device.
      operationId: Backups_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of backups.
          schema:
            $ref: '#/definitions/BackupList'
      tags:
        - Backups
      x-ms-odata: '#/definitions/BackupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}':
    delete:
      deprecated: false
      description: Deletes the backup.
      operationId: Backups_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup name.
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup.
        '204':
          description: Successfully deleted the backup.
      tags:
        - Backups
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{backupElementName}/clone':
    post:
      deprecated: false
      description: Clones the backup element as a new volume.
      operationId: Backups_Clone
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backup name.
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The backup element name.
          in: path
          name: backupElementName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The clone request object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CloneRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully cloned the backup.
        '202':
          description: Accepted the request to clone.
      tags:
        - Backups
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/restore':
    post:
      deprecated: false
      description: Restores the backup on the device.
      operationId: Backups_Restore
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The backupSet name
          in: path
          name: backupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully restored the backup.
        '202':
          description: Accepted the request to restore.
      tags:
        - Backups
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/deactivate':
    post:
      deprecated: false
      description: Deactivates the device.
      operationId: Devices_Deactivate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to deactivate the device.
        '204':
          description: Successfully deactivated the device.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups':
    get:
      deprecated: false
      description: Lists the hardware component groups at device-level.
      operationId: HardwareComponentGroups_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully fetched hardware component groups.
          schema:
            $ref: '#/definitions/HardwareComponentGroupList'
      tags:
        - HardwareComponentGroups
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups/{hardwareComponentGroupName}/changeControllerPowerState':
    post:
      deprecated: false
      description: Changes the power state of the controller.
      operationId: HardwareComponentGroups_ChangeControllerPowerState
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The hardware component group name.
          in: path
          name: hardwareComponentGroupName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The controller power state change request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ControllerPowerStateChangeRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to change power state of the controller.
        '204':
          description: Successfully changed the power state of the controller.
      tags:
        - HardwareComponentGroups
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/installUpdates':
    post:
      deprecated: false
      description: Downloads and installs the updates on the device.
      operationId: Devices_InstallUpdates
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to download and install updates.
        '204':
          description: Successfully installed updates.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs':
    get:
      deprecated: false
      description: 'Gets all the jobs for specified device. With optional OData query parameters, a filtered set of jobs is returned.'
      operationId: Jobs_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of jobs for the specified manager and device name.
          schema:
            $ref: '#/definitions/JobList'
      tags:
        - Jobs
      x-ms-odata: '#/definitions/JobFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}':
    get:
      deprecated: false
      description: Gets the details of the specified job name.
      operationId: Jobs_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The job Name.
          in: path
          name: jobName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The job.
          schema:
            $ref: '#/definitions/Job'
      tags:
        - Jobs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/jobs/{jobName}/cancel':
    post:
      deprecated: false
      description: Cancels a job on the device.
      operationId: Jobs_Cancel
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The jobName.
          in: path
          name: jobName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to cancel a deviceJob
        '204':
          description: Successfully cancelled the deviceJob
      tags:
        - Jobs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/listFailoverSets':
    post:
      deprecated: false
      description: Returns all failover sets for a given device and their eligibility for participating in a failover. A failover set refers to a set of volume containers that need to be failed-over as a single unit to maintain data integrity.
      operationId: Devices_ListFailoverSets
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Returns the list of failoversets on the given device.
          schema:
            $ref: '#/definitions/FailoverSetsList'
      tags:
        - Devices
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/networkSettings/default':
    get:
      deprecated: false
      description: Gets the network settings of the specified device.
      operationId: DeviceSettings_GetNetworkSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Network settings.
          schema:
            $ref: '#/definitions/NetworkSettings'
      tags:
        - DeviceSettings
    patch:
      deprecated: false
      description: Updates the network settings on the specified device.
      operationId: DeviceSettings_UpdateNetworkSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The network settings to be updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NetworkSettingsPatch'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The Network settings.
          schema:
            $ref: '#/definitions/NetworkSettings'
        '202':
          description: Accepted the request to update network settings.
      tags:
        - DeviceSettings
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/publicEncryptionKey':
    post:
      deprecated: false
      description: Returns the public encryption key of the device.
      operationId: Managers_GetDevicePublicEncryptionKey
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The public key.
          schema:
            $ref: '#/definitions/PublicKey'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/publishSupportPackage':
    post:
      deprecated: false
      description: Triggers collection of support package on a device.
      operationId: Devices_PublishSupportPackage
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The publish support package request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SupportPackageRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to publish support package of the device.
        '204':
          description: Successfully published the support package.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/scanForUpdates':
    post:
      deprecated: false
      description: Scans for updates on the device.
      operationId: Devices_ScanForUpdates
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to scan for updates.
        '204':
          description: Successfully scanned for updates.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/sendTestAlertEmail':
    post:
      deprecated: false
      description: Sends a test alert email.
      operationId: Alerts_SendTestEmail
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The send test alert email request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SendTestAlertEmailRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: Successfully sent the test email.
      tags:
        - Alerts
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/timeSettings/default':
    get:
      deprecated: false
      description: Gets the time settings of the specified device.
      operationId: DeviceSettings_GetTimeSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The time settings.
          schema:
            $ref: '#/definitions/TimeSettings'
      tags:
        - DeviceSettings
    put:
      deprecated: false
      description: Creates or updates the time settings of the specified device.
      operationId: DeviceSettings_CreateOrUpdateTimeSettings
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The time settings to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TimeSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the time settings.
          schema:
            $ref: '#/definitions/TimeSettings'
        '202':
          description: Accepted the request to create or update the time settings.
      tags:
        - DeviceSettings
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/updateSummary/default':
    get:
      deprecated: false
      description: Returns the update summary of the specified device name.
      operationId: Devices_GetUpdateSummary
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The update summary.
          schema:
            $ref: '#/definitions/Updates'
      tags:
        - Devices
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers':
    get:
      deprecated: false
      description: Gets all the volume containers in a device.
      operationId: VolumeContainers_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer List
          schema:
            $ref: '#/definitions/VolumeContainerList'
      tags:
        - VolumeContainers
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}':
    delete:
      deprecated: false
      description: Deletes the volume container.
      operationId: VolumeContainers_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the Volume Container.
        '204':
          description: Successfully deleted Volume Container.
      tags:
        - VolumeContainers
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified volume container name.
      operationId: VolumeContainers_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer.
          schema:
            $ref: '#/definitions/VolumeContainer'
      tags:
        - VolumeContainers
    put:
      deprecated: false
      description: Creates or updates the volume container.
      operationId: VolumeContainers_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The name of the volume container.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume container to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VolumeContainer'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the Volume Container.
          schema:
            $ref: '#/definitions/VolumeContainer'
        '202':
          description: Accepted the request to create or update the Volume Container
      tags:
        - VolumeContainers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes':
    get:
      deprecated: false
      description: Retrieves all the volumes in a volume container.
      operationId: Volumes_ListByVolumeContainer
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          schema:
            $ref: '#/definitions/VolumeList'
      tags:
        - Volumes
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}':
    delete:
      deprecated: false
      description: Deletes the volume.
      operationId: Volumes_Delete
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to create or update the volume.
        '204':
          description: Successfully deleted the volume.
      tags:
        - Volumes
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified volume name.
      operationId: Volumes_Get
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The volume.
          schema:
            $ref: '#/definitions/Volume'
      tags:
        - Volumes
    put:
      deprecated: false
      description: Creates or updates the volume.
      operationId: Volumes_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - description: The volume container name.
          in: path
          name: volumeContainerName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The volume name.
          in: path
          name: volumeName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Volume to be created or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Volume'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the volume.
          schema:
            $ref: '#/definitions/Volume'
        '202':
          description: Accepted the request to create or update the volume.
      tags:
        - Volumes
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumes':
    get:
      deprecated: false
      description: Retrieves all the volumes in a device.
      operationId: Volumes_ListByDevice
      parameters:
        - $ref: '#/parameters/deviceNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          schema:
            $ref: '#/definitions/VolumeList'
      tags:
        - Volumes
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{sourceDeviceName}/failover':
    post:
      deprecated: false
      description: Failovers a set of volume containers from a specified source device to a target device.
      operationId: Devices_Failover
      parameters:
        - description: The source device name on which failover is performed.
          in: path
          name: sourceDeviceName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: FailoverRequest containing the source device and the list of volume containers to be failed over.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FailoverRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to failover the device.
        '204':
          description: Successfully completed failover of the device.
      tags:
        - Devices
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{sourceDeviceName}/listFailoverTargets':
    post:
      deprecated: false
      description: 'Given a list of volume containers to be failed over from a source device, this method returns the eligibility result, as a failover target, for all devices under that resource.'
      operationId: Devices_ListFailoverTargets
      parameters:
        - description: The source device name on which failover is performed.
          in: path
          name: sourceDeviceName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: ListFailoverTargetsRequest containing the list of volume containers to be failed over.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ListFailoverTargetsRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of target devices and their eligibility for failover.
          schema:
            $ref: '#/definitions/FailoverTargetsList'
      tags:
        - Devices
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/encryptionSettings/default':
    get:
      deprecated: false
      description: Returns the encryption settings of the manager.
      operationId: Managers_GetEncryptionSettings
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The encryption settings.
          schema:
            $ref: '#/definitions/EncryptionSettings'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/extendedInformation/vaultExtendedInfo':
    delete:
      deprecated: false
      description: Deletes the extended info of the manager.
      operationId: Managers_DeleteExtendedInfo
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: The extended information on the manager has been successfully deleted
      tags:
        - Managers
    get:
      deprecated: false
      description: Returns the extended information of the specified manager name.
      operationId: Managers_GetExtendedInfo
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The manager extended information.
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
    patch:
      deprecated: false
      description: Updates the extended info of the manager.
      operationId: Managers_UpdateExtendedInfo
      parameters:
        - description: The manager extended information.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Pass the ETag of ExtendedInfo fetched from GET call
          in: header
          name: If-Match
          required: true
          type: string
      responses:
        '200':
          description: The extended information on the manager has been successfully created
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
    put:
      deprecated: false
      description: Creates the extended info of the manager.
      operationId: Managers_CreateExtendedInfo
      parameters:
        - description: The manager extended information.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The extended information on the manager has been successfully created
          schema:
            $ref: '#/definitions/ManagerExtendedInfo'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/features':
    get:
      deprecated: false
      description: Lists the features and their support status
      operationId: Managers_ListFeatureSupportStatus
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of features.
          schema:
            $ref: '#/definitions/FeatureList'
      tags:
        - Managers
      x-ms-odata: '#/definitions/FeatureFilter'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/jobs':
    get:
      deprecated: false
      description: 'Gets all the jobs for the specified manager. With optional OData query parameters, a filtered set of jobs is returned.'
      operationId: Jobs_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The collection of device jobs on all devices under the specified manager.
          schema:
            $ref: '#/definitions/JobList'
      tags:
        - Jobs
      x-ms-odata: '#/definitions/JobFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/listActivationKey':
    post:
      deprecated: false
      description: Returns the activation key of the manager.
      operationId: Managers_GetActivationKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The activation key.
          schema:
            $ref: '#/definitions/Key'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/listPrivateEncryptionKey':
    post:
      deprecated: false
      description: Returns the symmetric encrypted private encryption key of the manager.
      operationId: Managers_GetPrivateEncryptionKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The private encryption key.
          schema:
            $ref: '#/definitions/SymmetricEncryptedSecret'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/listPublicEncryptionKey':
    post:
      deprecated: false
      description: Returns the symmetric encrypted public encryption key of the manager.
      operationId: Managers_GetPublicEncryptionKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The encryption key.
          schema:
            $ref: '#/definitions/SymmetricEncryptedSecret'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/regenerateActivationKey':
    post:
      deprecated: false
      description: Re-generates and returns the activation key of the manager.
      operationId: Managers_RegenerateActivationKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The regenerated activation key.
          schema:
            $ref: '#/definitions/Key'
      tags:
        - Managers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageAccountCredentials':
    get:
      deprecated: false
      description: Gets all the storage account credentials in a manager.
      operationId: StorageAccountCredentials_ListByManager
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of storage account credentials.
          schema:
            $ref: '#/definitions/StorageAccountCredentialList'
      tags:
        - StorageAccountCredentials
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageAccountCredentials/{storageAccountCredentialName}':
    delete:
      deprecated: false
      description: Deletes the storage account credential.
      operationId: StorageAccountCredentials_Delete
      parameters:
        - description: The name of the storage account credential.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the storage account credential.
        '204':
          description: Successfully deleted the storage account credential.
      tags:
        - StorageAccountCredentials
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Gets the properties of the specified storage account credential name.
      operationId: StorageAccountCredentials_Get
      parameters:
        - description: The name of storage account credential to be fetched.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The storage account credential.
          schema:
            $ref: '#/definitions/StorageAccountCredential'
      tags:
        - StorageAccountCredentials
    put:
      deprecated: false
      description: Creates or updates the storage account credential.
      operationId: StorageAccountCredentials_CreateOrUpdate
      parameters:
        - description: The storage account credential name.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The storage account credential to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/StorageAccountCredential'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the storage account credential.
          schema:
            $ref: '#/definitions/StorageAccountCredential'
        '202':
          description: Accepted the request to create or update the storage account credential.
      tags:
        - StorageAccountCredentials
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageAccountCredentials/{storageAccountCredentialName}/listAccessKey':
    post:
      deprecated: false
      description: Returns the encrypted storage account access key.
      operationId: StorageAccountCredentials_ListAccessKey
      parameters:
        - description: Name of the storage account credential.
          in: path
          name: storageAccountCredentialName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/managerNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The encrypted storage account access key.
          schema:
            $ref: '#/definitions/AsymmetricEncryptedSecret'
      tags:
        - StorageAccountCredentials
      x-ms-pageable: {}
definitions:
  AccessControlRecord:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The access control record.
    properties:
      properties:
        $ref: '#/definitions/AccessControlRecordProperties'
        description: The properties of access control record.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  AccessControlRecordList:
    description: The collection of access control records.
    properties:
      value:
        description: The value.
        items:
          $ref: '#/definitions/AccessControlRecord'
        type: array
    required:
      - value
    type: object
  AccessControlRecordProperties:
    description: The properties of access control record.
    properties:
      initiatorName:
        description: The iSCSI initiator name (IQN).
        type: string
      volumeCount:
        description: The number of volumes using the access control record.
        format: int32
        readOnly: true
        type: integer
    required:
      - initiatorName
    type: object
  AcsConfiguration:
    description: The ACS configuration.
    properties:
      namespace:
        description: The namespace.
        type: string
      realm:
        description: The realm.
        type: string
      serviceUrl:
        description: The service URL.
        type: string
    required:
      - namespace
      - realm
      - serviceUrl
    type: object
  Alert:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The alert.
    properties:
      properties:
        $ref: '#/definitions/AlertProperties'
        description: The properties of the alert.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  AlertErrorDetails:
    description: The details of the error for which the alert was raised
    properties:
      errorCode:
        description: The error code
        type: string
      errorMessage:
        description: The error message
        type: string
      occurences:
        description: The number of occurences
        format: int32
        type: integer
    type: object
  AlertFilter:
    description: The OData filters to be used for Alert
    properties:
      appearedOnTime:
        description: Specifies the appeared time (in UTC) of the alerts to be filtered. Only 'Greater-Than' and 'Lesser-Than' operators are supported for this property.
        format: date-time
        type: string
      severity:
        description: Specifies the severity of the alerts to be filtered. Only 'Equality' operator is supported for this property.
        enum:
          - Informational
          - Warning
          - Critical
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertSeverity
      sourceName:
        description: Specifies the source name of the alerts to be filtered. Only 'Equality' operator is supported for this property.
        type: string
      sourceType:
        description: Specifies the source type of the alerts to be filtered. Only 'Equality' operator is supported for this property.
        enum:
          - Resource
          - Device
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertSourceType
      status:
        description: Specifies the status of the alerts to be filtered. Only 'Equality' operator is supported for this property.
        enum:
          - Active
          - Cleared
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertStatus
    type: object
  AlertList:
    description: The collection of alerts.
    properties:
      nextLink:
        description: The URI of the next page of alerts.
        type: string
      value:
        description: The value.
        items:
          $ref: '#/definitions/Alert'
        type: array
    required:
      - value
    type: object
  AlertNotificationProperties:
    description: The properties of the alert notification settings.
    properties:
      additionalRecipientEmailList:
        description: The alert notification email list.
        items:
          type: string
        type: array
      alertNotificationCulture:
        description: The alert notification culture.
        type: string
      emailNotification:
        description: Indicates whether email notification enabled or not.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertEmailNotificationStatus
      notificationToServiceOwners:
        description: The value indicating whether alert notification enabled for admin or not.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertEmailNotificationStatus
    required:
      - emailNotification
    type: object
  AlertProperties:
    description: The properties of alert
    properties:
      alertType:
        description: The type of the alert
        type: string
      appearedAtSourceTime:
        description: The source time at which the alert was raised
        format: date-time
        type: string
      appearedAtTime:
        description: The UTC time at which the alert was raised
        format: date-time
        type: string
      clearedAtSourceTime:
        description: The source time at which the alert was cleared
        format: date-time
        type: string
      clearedAtTime:
        description: The UTC time at which the alert was cleared
        format: date-time
        type: string
      detailedInformation:
        additionalProperties:
          type: string
        description: More details about the alert
        type: object
      errorDetails:
        $ref: '#/definitions/AlertErrorDetails'
        description: The details of the error for which the alert was raised
      recommendation:
        description: The recommended action for the issue raised in the alert
        type: string
      resolutionReason:
        description: The reason for resolving the alert
        type: string
      scope:
        description: The scope of the alert
        enum:
          - Resource
          - Device
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertScope
      severity:
        description: The severity of the alert
        enum:
          - Informational
          - Warning
          - Critical
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertSeverity
      source:
        $ref: '#/definitions/AlertSource'
        description: The source at which the alert was raised
      status:
        description: The current status of the alert
        enum:
          - Active
          - Cleared
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertStatus
      title:
        description: The title of the alert
        type: string
    required:
      - title
      - scope
      - alertType
      - appearedAtTime
      - appearedAtSourceTime
      - source
      - severity
      - status
    type: object
  AlertSettings:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The alert settings.
    properties:
      properties:
        $ref: '#/definitions/AlertNotificationProperties'
        description: The properties of the alert notification settings.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  AlertSource:
    description: The source details at which the alert was raised
    properties:
      alertSourceType:
        description: The source type of the alert
        enum:
          - Resource
          - Device
        type: string
        x-ms-enum:
          modelAsString: false
          name: AlertSourceType
      name:
        description: The name of the source
        type: string
      timeZone:
        description: The time zone of the source
        type: string
    type: object
  AsymmetricEncryptedSecret:
    description: Represent the secrets intended for encryption with asymmetric key pair.
    properties:
      encryptionAlgorithm:
        description: The algorithm used to encrypt "Value".
        enum:
          - None
          - AES256
          - RSAES_PKCS1_v_1_5
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionAlgorithm
      encryptionCertThumbprint:
        description: 'Thumbprint certificate that was used to encrypt "Value". If the value in unencrypted, it will be null.'
        type: string
      value:
        description: The value of the secret.
        type: string
    required:
      - value
      - encryptionAlgorithm
    type: object
  AvailableProviderOperation:
    description: Represents available provider operation.
    properties:
      display:
        $ref: '#/definitions/AvailableProviderOperationDisplay'
        description: Contains the localized display information for this particular operation/action.
      name:
        description: 'The name of the operation being performed on a particular object. Name format: "{resourceProviderNamespace}/{resourceType}/{read|write|delete|action}". Eg. Microsoft.StorSimple/managers/devices/volumeContainers/read, Microsoft.StorSimple/managers/devices/alerts/clearAlerts/action'
        type: string
      origin:
        description: 'The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is "user,system"'
        type: string
      properties:
        $ref: '#/definitions/AvailableProviderOperationProperties'
        description: Reserved for future use.
        x-ms-client-flatten: true
    type: object
  AvailableProviderOperationDisplay:
    description: 'Contains the localized display information for this particular operation/action. These value will be used by several clients for (a) custom role definitions for RBAC, (b) complex query filters for the event service and (c) audit history/records for management operations.'
    properties:
      description:
        description: 'The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise - it will be used in tool tips and detailed views.'
        type: string
      operation:
        description: 'The localized friendly name for the operation, as it should be shown to the user. It should be concise (to fit in drop downs) but clear (i.e. self-documenting). It should use Title Casing and include the entity/resource to which it applies.'
        type: string
      provider:
        description: The localized friendly form of the resource provider name - it is expected to also include the publisher/company responsible. It should use Title Casing and begin with 'Microsoft' for 1st party services.
        type: string
      resource:
        description: 'The localized friendly form of the resource type related to this action/operation - it should match the public documentation for the resource provider. It should use Title Casing - for examples, please refer to the ''name'' section.'
        type: string
    type: object
  AvailableProviderOperationList:
    description: List of available provider operations.
    properties:
      nextLink:
        description: The NextLink.
        type: string
      value:
        description: The value.
        items:
          $ref: '#/definitions/AvailableProviderOperation'
        type: array
    required:
      - value
    type: object
  AvailableProviderOperationProperties:
    description: Represents properties of AvailableProviderOperation
    properties: {}
    type: object
  Backup:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The backup.
    properties:
      properties:
        $ref: '#/definitions/BackupProperties'
        description: The properties of the backup.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  BackupElement:
    description: The backup element.
    properties:
      elementId:
        description: The path ID that uniquely identifies the backup element.
        type: string
      elementName:
        description: The name of the backup element.
        type: string
      elementType:
        description: The hierarchical type of the backup element.
        type: string
      sizeInBytes:
        description: The size in bytes.
        format: int64
        type: integer
      volumeContainerId:
        description: The path ID of the volume container.
        type: string
      volumeName:
        description: The name of the volume.
        type: string
      volumeType:
        description: The volume type.
        enum:
          - Tiered
          - Archival
          - LocallyPinned
        type: string
        x-ms-enum:
          modelAsString: false
          name: VolumeType
    required:
      - elementId
      - elementName
      - elementType
      - sizeInBytes
      - volumeName
      - volumeContainerId
    type: object
  BackupFilter:
    description: The OData filters to be used for backups.
    properties:
      backupPolicyId:
        description: Specifies the backupPolicyId of the backups to be filtered. Only 'Equality' operator is supported for this property.
        type: string
      createdTime:
        description: Specifies the creation time of the backups to be filtered. Only 'Greater Than or Equal To' and 'Lesser Than or Equal To' operators are supported for this property.
        format: date-time
        type: string
      volumeId:
        description: Specifies the volumeId of the backups to be filtered. Only 'Equality' operator is supported for this property.
        type: string
    type: object
  BackupList:
    description: The collection of backups.
    properties:
      nextLink:
        description: The NextLink.
        type: string
      value:
        description: The value.
        items:
          $ref: '#/definitions/Backup'
        type: array
    required:
      - value
    type: object
  BackupPolicy:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The backup policy.
    properties:
      properties:
        $ref: '#/definitions/BackupPolicyProperties'
        description: The properties of the backup policy.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  BackupPolicyList:
    description: The collection of backup policies.
    properties:
      value:
        description: The value.
        items:
          $ref: '#/definitions/BackupPolicy'
        type: array
    required:
      - value
    type: object
  BackupPolicyProperties:
    description: The properties of the backup policy.
    properties:
      backupPolicyCreationType:
        description: The backup policy creation type. Indicates whether this was created through SaaS or through StorSimple Snapshot Manager.
        enum:
          - BySaaS
          - BySSM
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: BackupPolicyCreationType
      lastBackupTime:
        description: The time of the last backup for the backup policy.
        format: date-time
        readOnly: true
        type: string
      nextBackupTime:
        description: The time of the next backup for the backup policy.
        format: date-time
        readOnly: true
        type: string
      scheduledBackupStatus:
        description: Indicates whether atleast one of the schedules in the backup policy is active or not.
        enum:
          - Disabled
          - Enabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ScheduledBackupStatus
      schedulesCount:
        description: The count of schedules the backup policy contains.
        format: int64
        readOnly: true
        type: integer
      ssmHostName:
        description: 'If the backup policy was created by StorSimple Snapshot Manager, then this field indicates the hostname of the StorSimple Snapshot Manager.'
        readOnly: true
        type: string
      volumeIds:
        description: The path IDs of the volumes which are part of the backup policy.
        items:
          type: string
        type: array
    required:
      - volumeIds
    type: object
  BackupProperties:
    description: The properties of the backup.
    properties:
      backupJobCreationType:
        description: The backup job creation type.
        enum:
          - Adhoc
          - BySchedule
          - BySSM
        type: string
        x-ms-enum:
          modelAsString: false
          name: BackupJobCreationType
      backupPolicyId:
        description: The path ID of the backup policy.
        type: string
      backupType:
        description: The type of the backup.
        enum:
          - LocalSnapshot
          - CloudSnapshot
        type: string
        x-ms-enum:
          modelAsString: false
          name: BackupType
      createdOn:
        description: The time when the backup was created.
        format: date-time
        type: string
      elements:
        description: The backup elements.
        items:
          $ref: '#/definitions/BackupElement'
        type: array
      sizeInBytes:
        description: The backup size in bytes.
        format: int64
        type: integer
      ssmHostName:
        description: The StorSimple Snapshot Manager host name.
        type: string
    required:
      - createdOn
      - sizeInBytes
      - elements
    type: object
  BackupSchedule:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The backup schedule.
    properties:
      properties:
        $ref: '#/definitions/BackupScheduleProperties'
        description: The properties of the backup schedule.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  BackupScheduleList:
    description: The backup schedule list.
    properties:
      value:
        description: The value.
        items:
          $ref: '#/definitions/BackupSchedule'
        type: array
    required:
      - value
    type: object
  BackupScheduleProperties:
    description: The properties of the backup schedule.
    properties:
      backupType:
        description: The type of backup which needs to be taken.
        enum:
          - LocalSnapshot
          - CloudSnapshot
        type: string
        x-ms-enum:
          modelAsString: false
          name: BackupType
      lastSuccessfulRun:
        description: The last successful backup run which was triggered for the schedule.
        format: date-time
        readOnly: true
        type: string
      retentionCount:
        description: The number of backups to be retained.
        format: int64
        type: integer
      scheduleRecurrence:
        $ref: '#/definitions/ScheduleRecurrence'
        description: The schedule recurrence.
      scheduleStatus:
        description: The schedule status.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: ScheduleStatus
      startTime:
        description: The start time of the schedule.
        format: date-time
        type: string
    required:
      - scheduleRecurrence
      - backupType
      - retentionCount
      - startTime
      - scheduleStatus
    type: object
  BandwidthRateSettingProperties:
    description: The properties of the bandwidth setting.
    properties:
      schedules:
        description: The schedules.
        items:
          $ref: '#/definitions/BandwidthSchedule'
        type: array
      volumeCount:
        description: The number of volumes that uses the bandwidth setting.
        format: int32
        readOnly: true
        type: integer
    required:
      - schedules
    type: object
  BandwidthSchedule:
    description: The schedule for bandwidth setting.
    properties:
      days:
        description: The days of the week when this schedule is applicable.
        items:
          enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
          type: string
          x-ms-enum:
            modelAsString: false
            name: DayOfWeek
        type: array
      rateInMbps:
        description: The rate in Mbps.
        format: int32
        type: integer
      start:
        $ref: '#/definitions/Time'
        description: The start time of the schdule.
      stop:
        $ref: '#/definitions/Time'
        description: The stop time of the schedule.
    required:
      - start
      - stop
      - rateInMbps
      - days
    type: object
  BandwidthSetting:
    allOf:
      - $ref: '#/definitions/BaseModel'
    description: The bandwidth setting.
    properties:
      properties:
        $ref: '#/definitions/BandwidthRateSettingProperties'
        description: The properties of the bandwidth setting.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  BandwidthSettingList:
    description: The collection of bandwidth setting entities.
    properties:
      value:
        description: The value.
        items:
          $ref: '#/definitions/BandwidthSetting'
        type: array
    required:
      - value
    type: object
  BaseModel:
    description: Represents the base class for all other ARM object models
    properties:
      id:
        description: The path ID that uniquely identifies the object.
        readOnly: true
        type: string
      kind:
        description: The Kind of the object. Currently only Series8000 is supported
        enum:
          - Series8000
        type: string
        x-ms-enum:
          modelAsString: false
          name: Kind
      name:
        description: The name of the object.
        readOnly: true
        type: string
      type:
        description: The hierarchical type of the object.
        readOnly: true
        type: string
    type: object
  ChapSettings:
    description: The Challenge-Handshake Authentication Protocol (CHAP) settings.
    properties:
      initiatorSecret:
        $ref: '#/definitions/AsymmetricEncryptedSecret'
        description: The CHAP initiator secret.
      initiatorUser:
        description: The CHAP initiator user.
        type: string
      targetSecret:
        $ref: '#/definitions/AsymmetricEncryptedSecret'
        description: The target secret.
      targetUser:
[...]
