{
  "swagger": "2.0",
  "info": {
    "title": "Prediction API",
    "description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1.4"
  },
  "host": "www.googleapis.com",
  "basePath": "/prediction/v1.4",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/prediction/docs/developer-guide"
  },
  "paths": {
    "/hostedmodels/{hostedModelName}/predict": {
      "post": {
        "description": "Submit input and request an output against a hosted model.",
        "operationId": "prediction.hostedmodels.predict",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          }
        },
        "parameters": [
          {
            "name": "hostedModelName",
            "in": "path",
            "description": "The name of a hosted model.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "hostedmodels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/trainedmodels/{id}": {
      "delete": {
        "description": "Delete a trained model.",
        "operationId": "prediction.trainedmodels.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique name for the predictive model.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "trainedmodels"
        ]
      },
      "get": {
        "description": "Check training status of your model.",
        "operationId": "prediction.trainedmodels.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique name for the predictive model.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "trainedmodels"
        ]
      },
      "put": {
        "description": "Add new data to a trained model.",
        "operationId": "prediction.trainedmodels.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique name for the predictive model.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "trainedmodels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/trainedmodels": {
      "post": {
        "description": "Begin training your model.",
        "operationId": "prediction.trainedmodels.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control",
              "https://www.googleapis.com/auth/devstorage.read_only",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "trainedmodels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/trainedmodels/{id}/predict": {
      "post": {
        "description": "Submit model id and request a prediction",
        "operationId": "prediction.trainedmodels.predict",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique name for the predictive model.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/prediction"
            ]
          }
        ],
        "tags": [
          "trainedmodels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Input": {
      "id": "Input",
      "type": "object",
      "properties": {
        "input": {
          "type": "object",
          "description": "Input to the model for a prediction",
          "properties": {
            "csvInstance": {
              "type": "array",
              "description": "A list of input features, these can be strings or doubles.",
              "items": {}
            }
          }
        }
      }
    },
    "Output": {
      "id": "Output",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique name for the predictive model."
        },
        "kind": {
          "type": "string",
          "description": "What kind of resource this is.",
          "default": "prediction#output"
        },
        "outputLabel": {
          "type": "string",
          "description": "The most likely class label [Categorical models only]."
        },
        "outputMulti": {
          "type": "array",
          "description": "A list of class labels with their estimated probabilities [Categorical models only].",
          "items": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "description": "The class label."
              },
              "score": {
                "type": "number",
                "description": "The probability of the class label.",
                "format": "double"
              }
            }
          }
        },
        "outputValue": {
          "type": "number",
          "description": "The estimated regression value [Regression models only].",
          "format": "double"
        },
        "selfLink": {
          "type": "string",
          "description": "A URL to re-request this resource."
        }
      }
    },
    "Training": {
      "id": "Training",
      "type": "object",
      "properties": {
        "dataAnalysis": {
          "type": "object",
          "description": "Data Analysis.",
          "properties": {
            "warnings": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The unique name for the predictive model."
        },
        "kind": {
          "type": "string",
          "description": "What kind of resource this is.",
          "default": "prediction#training"
        },
        "modelInfo": {
          "type": "object",
          "description": "Model metadata.",
          "properties": {
            "classWeightedAccuracy": {
              "type": "number",
              "description": "Estimated accuracy of model taking utility weights into account [Categorical models only].",
              "format": "double"
            },
            "classificationAccuracy": {
              "type": "number",
              "description": "A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data [Categorical models only].",
              "format": "double"
            },
            "confusionMatrix": {
              "type": "object",
              "description": "An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes [Categorical models only].",
              "additionalProperties": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "confusionMatrixRowTotals": {
              "type": "object",
              "description": "A list of the confusion matrix row totals",
              "additionalProperties": {
                "type": "number",
                "format": "double"
              }
            },
            "meanSquaredError": {
              "type": "number",
              "description": "An estimated mean squared error. The can be used to measure the quality of the predicted model [Regression models only].",
              "format": "double"
            },
            "modelType": {
              "type": "string",
              "description": "Type of predictive model (CLASSIFICATION or REGRESSION)"
            },
            "numberInstances": {
              "type": "string",
              "description": "Number of valid data instances used in the trained model.",
              "format": "int64"
            },
            "numberLabels": {
              "type": "string",
              "description": "Number of class labels in the trained model [Categorical models only].",
              "format": "int64"
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "A URL to re-request this resource."
        },
        "storageDataLocation": {
          "type": "string",
          "description": "Google storage location of the training data file."
        },
        "storagePMMLLocation": {
          "type": "string",
          "description": "Google storage location of the preprocessing pmml file."
        },
        "storagePMMLModelLocation": {
          "type": "string",
          "description": "Google storage location of the pmml model file."
        },
        "trainingStatus": {
          "type": "string",
          "description": "The current status of the training job. This can be one of following: RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND"
        },
        "utility": {
          "type": "array",
          "description": "A class weighting function, which allows the importance weights for class labels to be specified [Categorical models only].",
          "items": {
            "type": "object",
            "description": "Class label (string).",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "Update": {
      "id": "Update",
      "type": "object",
      "properties": {
        "csvInstance": {
          "type": "array",
          "description": "The input features for this instance",
          "items": {}
        },
        "label": {
          "type": "string",
          "description": "The class label of this instance"
        },
        "output": {
          "type": "string",
          "description": "The generic output value - could be regression value or class label"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.full_control": "Manage your data and permissions in Google Cloud Storage",
        "https://www.googleapis.com/auth/devstorage.read_only": "View your data in Google Cloud Storage",
        "https://www.googleapis.com/auth/devstorage.read_write": "Manage your data in Google Cloud Storage",
        "https://www.googleapis.com/auth/prediction": "Manage your data in the Google Prediction API"
      }
    }
  }
}