swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: InsightsClient
  version: '2016-03-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2016-03-01/swagger/insightsClient.json'
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: insights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: 'The filter to apply on the operation. For more information please see https://msdn.microsoft.com/en-us/library/azure/dn931934.aspx'
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceUriParameter:
    description: The identifier of the resource.
    in: path
    name: resourceUri
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  SubscriptionIdParameter:
    description: The Azure subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/{resourceUri}/providers/microsoft.insights/metricDefinitions':
    get:
      description: Lists the metric definitions for the resource.
      operationId: MetricDefinitions_List
      parameters:
        - $ref: '#/parameters/ResourceUriParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/FilterParameter'
      responses:
        '200':
          description: Successful request to get the list of metric definitions
          schema:
            $ref: '#/definitions/MetricDefinitionCollection'
      tags:
        - MetricDefinitions
      x-ms-odata: '#/definitions/MetricDefinition'
      x-ms-pageable: {}
definitions:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
      value:
        description: the invariant value.
        type: string
  MetricAvailability:
    description: Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain.
    properties:
      retention:
        description: 'the retention period for the metric at the specified timegrain.  Expressed as a duration ''PT1M'', ''P1D'' etc.'
        format: duration
        type: string
      timeGrain:
        description: 'the time grain specifies the aggregation interval for the metric. Expressed as a duration ''PT1M'', ''P1D'' etc.'
        format: duration
        type: string
  MetricDefinition:
    description: Metric definition class specifies the metadata for a metric.
    properties:
      id:
        description: the resource identifier of the metric definition.
        type: string
      metricAvailabilities:
        description: the collection of what aggregation intervals are available to be queried.
        items:
          $ref: '#/definitions/MetricAvailability'
        type: array
      name:
        $ref: '#/definitions/LocalizableString'
        description: the name and the display name of the metric.
      primaryAggregationType:
        description: the primary aggregation type value defining how to use the values for display.
        enum:
          - None
          - Average
          - Count
          - Minimum
          - Maximum
          - Total
        type: string
        x-ms-enum:
          modelAsString: false
          name: AggregationType
      resourceId:
        description: the resource identifier of the resource that has emitted the metric.
        type: string
      unit:
        $ref: '#/definitions/Unit'
        description: the unit of the metric.
  MetricDefinitionCollection:
    description: Represents collection of metric definitions.
    properties:
      value:
        description: the values for the metric definitions.
        items:
          $ref: '#/definitions/MetricDefinition'
        type: array
    required:
      - value
  Unit:
    description: the unit of the metric.
    enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
    type: string
    x-ms-enum:
      modelAsString: false
      name: Unit
