swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: InsightsManagementClient
  version: '2016-03-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-insights/2016-03-01/swagger/insightsManagementClient_LogProfiles.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-insights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  LogProfileNameParameter:
    description: The name of the log profile.
    in: path
    name: logProfileName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Azure subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles':
    get:
      description: List the log profiles.
      operationId: LogProfiles_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request to list log profiles
          schema:
            $ref: '#/definitions/LogProfileCollection'
      tags:
        - LogProfiles
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}':
    delete:
      description: Deletes the log profile.
      operationId: LogProfiles_Delete
      parameters:
        - $ref: '#/parameters/LogProfileNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request to delete a log profile
      tags:
        - LogProfiles
    get:
      description: Gets the log profile.
      operationId: LogProfiles_Get
      parameters:
        - $ref: '#/parameters/LogProfileNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request to get more information about a log profile.
          examples:
            application/json:
              id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
              location: ''
              name: default
              properties:
                categories:
                  - Delete
                  - Write
                  - Action
                locations:
                  - global
                retentionPolicy:
                  days: 3
                  enabled: true
                serviceBusRuleId: ''
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
              type: ''
          schema:
            $ref: '#/definitions/LogProfileResource'
      tags:
        - LogProfiles
    put:
      description: Create or update a log profile in Azure Monitoring REST API.
      operationId: LogProfiles_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/LogProfileNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - description: Parameters supplied to the operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/LogProfileResource'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successful request to create or update a log profile
          examples:
            application/json:
              id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
              location: ''
              name: default
              properties:
                categories:
                  - Delete
                  - Write
                  - Action
                locations:
                  - global
                retentionPolicy:
                  days: 3
                  enabled: true
                serviceBusRuleId: ''
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
              type: ''
          schema:
            $ref: '#/definitions/LogProfileResource'
      tags:
        - LogProfiles
definitions:
  LogProfileCollection:
    description: Represents a collection of log profiles.
    properties:
      value:
        description: the values of the log profiles.
        items:
          $ref: '#/definitions/LogProfileResource'
        type: array
    required:
      - value
  LogProfileProperties:
    description: The log profile properties.
    properties:
      categories:
        description: 'the categories of the logs. These categories are created as is convenient to the user. Some values are: ''Write'', ''Delete'', and/or ''Action.'''
        items:
          type: string
        type: array
      locations:
        description: List of regions for which Activity Log events should be stored or streamed. It is a comma separated list of valid ARM locations including the 'global' location.
        items:
          type: string
        type: array
      retentionPolicy:
        $ref: '#/definitions/RetentionPolicy'
        description: the retention policy for the events in the log.
      serviceBusRuleId:
        description: 'The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming the Activity Log. The rule ID is of the format: ''{service bus resource ID}/authorizationrules/{key name}''.'
        type: string
      storageAccountId:
        description: the resource id of the storage account to which you would like to send the Activity Log.
        type: string
    required:
      - locations
  LogProfileResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The log profile resource.
    properties:
      properties:
        $ref: '#/definitions/LogProfileProperties'
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  Resource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Azure resource name
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
      type:
        description: Azure resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  RetentionPolicy:
    description: Specifies the retention policy for the log.
    properties:
      days:
        description: the number of days for the retention in days. A value of 0 will retain the events indefinitely.
        format: int32
        type: integer
      enabled:
        description: a value indicating whether the retention policy is enabled.
        type: boolean
    required:
      - enabled
      - days
