swagger: '2.0'
schemes:
  - https
host: supportcases.googleapis.com
basePath: /v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Support Cases API
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Support Cases Private
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/supportcases/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: supportcases
externalDocs:
  url: 'https://sites.google.com/a/google.com/cases/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cases': View and manage your Google Support Cases
      'https://www.googleapis.com/auth/cases.readonly': View your Google Support Cases
      'https://www.googleapis.com/auth/supportcontent': View and manage your support data
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: agentActivities
  - name: agentSettings
  - name: attributes
  - name: cases
  - name: categoryInfos
  - name: communications
  - name: customerInteractions
  - name: customerIssues
  - name: devices
  - name: giftCards
  - name: ginlogs
  - name: hardwareAuditor
  - name: hardwareOrders
  - name: hardwareShipments
  - name: opportunities
  - name: play
  - name: products
  - name: resolutions
  - name: rma
  - name: rmas
  - name: teams
  - name: troubleshooterSessions
  - name: wallets
  - name: youtube
paths:
  /agentActivities:
    get:
      description: Lists an agent activities.
      operationId: supportcases.agentActivities.list
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: pageSize
          type: integer
        - in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAgentActivitiesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - agentActivities
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds an agent activity.
      operationId: supportcases.agentActivities.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateAgentActivityRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AgentActivity'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - agentActivities
  '/agentActivities:createFromHelpCenterDeepLink':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an agent activity from a help center deep link.
      operationId: supportcases.agentActivities.createFromHelpCenterDeepLink
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateFromHelpCenterDeepLinkRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AgentActivity'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - agentActivities
  /agentSettings:
    get:
      description: List all agent settings.
      operationId: supportcases.agentSettings.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAgentSettingsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - agentSettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/cases:GetAgentUnreadCasesInfo':
    get:
      description: Gets information about unread cases for the calling agent. Only intended for use by the Cases frontend.
      operationId: supportcases.cases.getAgentUnreadCasesInfo
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetAgentUnreadCasesInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/cases:autoAssign':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Auto assign a case to the calling user.
      operationId: supportcases.cases.autoAssign
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AutoAssignRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutoAssignResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/cases:createNewCase':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new case (Note this is not a true CRUD method as no resource is being passed in).
      operationId: supportcases.cases.createNewCase
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateNewCaseRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateNewCaseResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/cases:getAgentSearchCount':
    get:
      description: 'Gets the search count for cases associated with the calling agent, and begin sending Tango notifications when the count changes.'
      operationId: supportcases.cases.getAgentSearchCount
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetAgentSearchCountResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/cases:listByAgent':
    get:
      description: Lists cases associated with the agent. Only intended for use by the Cases frontend.
      operationId: supportcases.cases.listByAgent
      parameters:
        - enum:
            - ASSIGNED
            - RECENT
            - UNKNOWN_CASE_TYPE
            - WAITING
          in: query
          name: caseType
          type: string
        - in: query
          name: pageSize
          type: integer
        - in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCasesByAgentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/cases:validateConsultForm':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Validates that consult forms are properly configured.
      operationId: supportcases.cases.validateConsultForm
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ValidateConsultFormRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ValidateConsultFormResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - cases
  '/categoryInfos:batchGet':
    get:
      description: 'Batch gets category info. (Best effort, returns valid category infos only) Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.categoryInfos.batchGet
      parameters:
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: names
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchGetCategoryInfosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - categoryInfos
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/categoryInfos:listTopLevel':
    get:
      description: Lists gKMS top level category info.
      operationId: supportcases.categoryInfos.listTopLevel
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTopLevelCategoryInfosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - categoryInfos
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/categoryInfos:search':
    get:
      description: 'Searches category info. Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.categoryInfos.search
      parameters:
        - in: query
          name: baselineOnly
          type: boolean
        - in: query
          name: filterByParentCategoryId
          type: integer
        - in: query
          name: filterConsultCategories
          type: boolean
        - in: query
          name: maximumResults
          type: integer
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: productIds
          type: array
        - in: query
          name: query
          type: string
        - collectionFormat: multi
          in: query
          items:
            type: integer
          name: topCategoryPathNodeIds
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchCategoryInfosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - categoryInfos
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/categoryInfos:searchMultiple':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Searches multiple category info.
      operationId: supportcases.categoryInfos.searchMultiple
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchMultipleCategoryInfosRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchCategoryInfosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - categoryInfos
  /communications:
    get:
      description: Lists communications that match the filter.
      operationId: supportcases.communications.list
      parameters:
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: caseIds
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCommunicationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - communications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/communications:buildNewEmail':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Builds an email template for the first email on a case.
      operationId: supportcases.communications.buildNewEmail
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildNewEmailRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildNewEmailResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - communications
  '/communications:buildReplyEmail':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Builds an email template for a reply to an existing email.
      operationId: supportcases.communications.buildReplyEmail
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildReplyEmailRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildReplyEmailResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - communications
  '/communications:createConsultNote':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a draft note that replies to a consult note.
      operationId: supportcases.communications.createConsultNote
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateConsultNoteRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateConsultNoteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - communications
  '/communications:createEmail':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a draft email and adds it to a case.
      operationId: supportcases.communications.createEmail
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateEmailRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateEmailResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - communications
  '/communications:createNote':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a note.
      operationId: supportcases.communications.createNote
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateNoteRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateNoteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - communications
  '/communications:listRelated':
    get:
      description: 'Lists communications that are related to each other, including the communications on the requested case. Related communications include consult communications from target cases. Currently, only related communications from consult cases are supported.'
      operationId: supportcases.communications.listRelated
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: contextCaseId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListRelatedCommunicationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - communications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/communications:suggestReplyEmailHeaders':
    get:
      description: 'Suggests a set of email headers for an email reply to another email. Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.communications.suggestReplyEmailHeaders
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: messageId
          type: string
        - enum:
            - REPLY
            - REPLY_ALL
            - UNKNOWN_REPLY_TYPE
          in: query
          name: replyType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SuggestReplyEmailHeadersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - communications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /customerInteractions:
    get:
      description: List customer interactions.
      operationId: supportcases.customerInteractions.list
      parameters:
        - in: query
          name: adwordsCid
          type: string
        - in: query
          name: caseId
          type: string
        - collectionFormat: multi
          in: query
          items:
            enum:
              - ADOPTION
              - CHAT
              - EMAIL
              - GOAL
              - HANGOUT
              - INCENTIVE
              - MARKETING_EMAIL
              - MEETING
              - NOTE
              - PHONE
              - STUB
              - TRAX
              - UNKNOWN_EVENT_TYPE
              - WEB
            type: string
          name: channels
          type: array
        - in: query
          name: emailAddress
          type: string
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: excludeCases
          type: array
        - in: query
          name: pageSize
          type: integer
        - in: query
          name: pageToken
          type: string
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: products
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListInteractionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - customerInteractions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customerInteractions:summarize':
    get:
      description: 'Summary statistics about the cutomer''s interaction history. Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.customerInteractions.summarize
      parameters:
        - in: query
          name: adwordsCid
          type: string
        - in: query
          name: caseId
          type: string
        - in: query
          name: emailAddress
          type: string
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: excludeCases
          type: array
        - in: query
          name: startTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SummarizeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - customerInteractions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customerIssues:list':
    get:
      description: List issues and their resolutions for a customer.
      operationId: supportcases.customerIssues.list
      parameters:
        - in: query
          name: caseId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCustomerIssuesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - customerIssues
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /devices:
    get:
      description: List devices.
      operationId: supportcases.devices.list
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: email
          type: string
        - in: query
          name: excludeGoogleStoreOrders
          type: boolean
        - in: query
          name: excludeRmaTypes
          type: boolean
        - in: query
          name: pageSize
          type: integer
        - in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDevicesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/devices:getById':
    get:
      description: Gets the specified device by any device ID.
      operationId: supportcases.devices.getById
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: deviceId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetByDeviceIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/devices:updateOwner':
    get:
      description: 'Updates the owner of a device. Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.devices.updateOwner
      parameters:
        - in: query
          name: address.addressLine1
          type: string
        - in: query
          name: address.addressLine2
          type: string
        - in: query
          name: address.addressLine3
          type: string
        - in: query
          name: address.addressee
          type: string
        - in: query
          name: address.city
          type: string
        - in: query
          name: address.countryCode
          type: string
        - in: query
          name: address.postalCode
          type: string
        - in: query
          name: address.stateProvinceCode
          type: string
        - in: query
          name: deviceId
          type: string
        - in: query
          name: email
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UpdateOwnerResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - devices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/giftCards:checkRedeemer':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'If the card is already redeemed by somebody else, customer can try a few users.'
      operationId: supportcases.giftCards.checkRedeemer
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CheckRedeemerRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CheckRedeemerResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - giftCards
  '/giftCards:lookup':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Finds a gift card based on its full redemption code or activation number. With full redemption code, returns redemption token on success.'
      operationId: supportcases.giftCards.lookup
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LookupGiftCardRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LookupGiftCardResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - giftCards
  '/giftCards:redeem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Redeems a gift card to a customer using the redemption token.
      operationId: supportcases.giftCards.redeem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RedeemGiftCardRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RedeemGiftCardResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - giftCards
  '/giftCards:verify':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Verifies ownership of a damaged GC by checking if the activation number and partial redemption code are valid and refers to the same card. Returns the redemption token on success.
      operationId: supportcases.giftCards.verify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VerifyGiftCardRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VerifyGiftCardResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - giftCards
  '/ginlogs:logDataAccess':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Logs data access.
      operationId: supportcases.ginlogs.logDataAccess
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LogDataAccessRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - ginlogs
  '/hardwareAuditor/orders:list':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists hardware orders.
      operationId: supportcases.hardwareAuditor.orders.list
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListHardwareOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHardwareOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - hardwareAuditor
  '/hardwareOrders:hardwareSignals':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets hardware signals based on the case and customer.
      operationId: supportcases.hardwareOrders.hardwareSignals
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetHardwareSignalsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetHardwareSignalsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - hardwareOrders
  '/hardwareOrders:list':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists hardware orders.
      operationId: supportcases.hardwareOrders.list
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListHardwareOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHardwareOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - hardwareOrders
  '/hardwareOrders:listOtherDevices':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets a user's devices that are not in the ListHardwareOrders result.
      operationId: supportcases.hardwareOrders.listOtherDevices
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListOtherDevicesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOtherDevicesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - hardwareOrders
  /opportunities:
    get:
      description: Lists opportunities.
      operationId: supportcases.opportunities.list
      parameters:
        - in: query
          name: agentWhitelistedForApollo
          type: boolean
        - in: query
          name: caseId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOpportunitiesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - opportunities
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/opportunities/pitches:batchCreate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Batch creates pitches.
      operationId: supportcases.opportunities.pitches.batchCreate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreatePitchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreatePitchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - opportunities
  '/play/digitalContent/orders:batchGet':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get a collection of orders.
      operationId: supportcases.play.digitalContent.orders.batchGet
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  '/play/digitalContent/orders:refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Refund orders.
      operationId: supportcases.play.digitalContent.orders.refund
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RefundOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RefundOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - play
  '/play/digitalContent/orders:search':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Search for orders.
      operationId: supportcases.play.digitalContent.orders.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  '/play/digitalContent/subscriptions:batchGet':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get a collection of subscriptions.
      operationId: supportcases.play.digitalContent.subscriptions.batchGet
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetSubscriptionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetSubscriptionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  '/play/digitalContent/subscriptions:cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancel subscription.
      operationId: supportcases.play.digitalContent.subscriptions.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelSubscriptionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CancelSubscriptionResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - play
  '/play/digitalContent/subscriptions:getCancellationStatus':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get cancellation status.
      operationId: supportcases.play.digitalContent.subscriptions.getCancellationStatus
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetCancellationStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetCancellationStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  '/play/digitalContent/subscriptions:list':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: List subscriptions.
      operationId: supportcases.play.digitalContent.subscriptions.list
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListSubscriptionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSubscriptionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  '/play/digitalContent:getRefundStatus':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get refund status.
      operationId: supportcases.play.digitalContent.getRefundStatus
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetRefundStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetRefundStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - play
  /products:
    get:
      description: Lists products.
      operationId: supportcases.products.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListProductsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /resolutions:
    get:
      description: Query for resolutions.
      operationId: supportcases.resolutions.list
      parameters:
        - in: query
          name: autocompleteResults
          type: boolean
        - in: query
          name: caseId
          type: string
        - in: query
          name: pageSize
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: query
          name: q
          type: string
        - in: query
          name: resultsToken
          type: string
        - in: query
          name: searchSessionId
          type: string
        - collectionFormat: multi
          in: query
          items:
            enum:
              - CANNED_RESPONSE
              - HELP_CENTER
              - TROUBLE_SHOOTER
              - UNKNOWN_RESOLUTION_TYPE
              - WORKFLOW
            type: string
          name: type
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListResolutionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - resolutions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/resolutions/cohorts:assign':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Query and assign cohorts for this case.
      operationId: supportcases.resolutions.cohorts.assign
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AssignCohortsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AssignCohortsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - resolutions
  '/resolutions:log':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Log a resolution.
      operationId: supportcases.resolutions.log
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LogResolutionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - resolutions
  '/resolutions:suggest':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Suggest some resolutions to a case based on provided signals.
      operationId: supportcases.resolutions.suggest
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SuggestResolutionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SuggestResolutionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - resolutions
  '/rma:save':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Saves (Insert/Update) an RMA.
      operationId: supportcases.rma.save
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SaveRmaRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SaveRmaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rma
  '/rma:submit':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'DEPRECATED: Use SendRma instead. Submit an RMA.'
      operationId: supportcases.rma.submit
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SubmitRmaRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SubmitRmaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rma
  /rmas:
    get:
      description: Lists RMAs by Case ID and RMA state
      operationId: supportcases.rmas.list
      parameters:
        - in: query
          name: caseId
          type: string
        - enum:
            - RMA_CANCELLED
            - RMA_COMPLETED
            - RMA_INCOMPLETE
            - RMA_PENDING
            - RMA_SUBMITTED
            - UNKNOWN_RMA_STATE
          in: query
          name: state
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListRmasResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - rmas
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/rmas:createExchangeWithoutReturn':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sends merchandise without expecting a return.
      operationId: supportcases.rmas.createExchangeWithoutReturn
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateExchangeWithoutReturnRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateExchangeWithoutReturnResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
  '/rmas:listBuyersRemorseCountryCodes':
    get:
      description: Lists two-character country codes valid for Buyer's Remorse RMAs.
      operationId: supportcases.rmas.listBuyersRemorseCountryCodes
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBuyersRemorseCountryCodesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/rmas:runWorkflow':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'DEPRECATED: Use RunRmaSteps instead. Run the given workflow for an RMA.'
      operationId: supportcases.rmas.runWorkflow
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RunWorkflowRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RunWorkflowResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
  '/rmas:send':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Initiates a new RMA.
      operationId: supportcases.rmas.send
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendRmaRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendRmaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
  '/teams:getMyAssignStreamSearches':
    get:
      description: Gets assign-stream-enabled searches associated with the agent.
      operationId: supportcases.teams.getMyAssignStreamSearches
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetMyAssignStreamSearchesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - teams
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/troubleshooterSessions:create':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Start a new troubleshooter session.
      operationId: supportcases.troubleshooterSessions.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateTroubleshooterSessionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TroubleshooterSession'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
  '/troubleshooterSessions:listDevices':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists devices on a customer's account.
      operationId: supportcases.troubleshooterSessions.listDevices
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListDevicesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDevicesResponse1'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
  '/troubleshooterSessions:listIssues':
    get:
      description: Lists issues.
      operationId: supportcases.troubleshooterSessions.listIssues
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: issueId
          type: string
        - enum:
            - NOE
            - PLAY_APPS
            - PLAY_PURCHASES
            - TROUBLESHOOTER_TYPE_NOT_SET
          in: query
          name: troubleshooterType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListIssuesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/troubleshooterSessions:listPurchasedApps':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists purchased apps on a customer's account.
      operationId: supportcases.troubleshooterSessions.listPurchasedApps
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListPurchasedAppsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPurchasedAppsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
  '/troubleshooterSessions:listPurchasedBooks':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists purchased books on a customer's account.
      operationId: supportcases.troubleshooterSessions.listPurchasedBooks
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListPurchasedBooksRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPurchasedBooksResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
  '/troubleshooterSessions:listPurchasedVideos':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists purchased videos on a customer's account.
      operationId: supportcases.troubleshooterSessions.listPurchasedVideos
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListPurchasedVideosRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPurchasedVideosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
        - Oauth2:
            - 'https://www.googleapis.com/auth/supportcontent'
      tags:
        - troubleshooterSessions
  '/wallets/accounts/paymentInstruments:getHijackReviewsStatus':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieve status for Payment Method Hijack (PMH) reviews. This is a POST API because it takes in a sso_ticket.
      operationId: supportcases.wallets.accounts.paymentInstruments.getHijackReviewsStatus
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetPaymentMethodHijackReviewsStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetPaymentMethodHijackReviewsStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/wallets/accounts/paymentInstruments:initiateHijackReviews':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Initiate Payment Method Hijack (PMH) reviews.
      operationId: supportcases.wallets.accounts.paymentInstruments.initiateHijackReviews
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InitiatePaymentMethodHijackReviewsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InitiatePaymentMethodHijackReviewsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - wallets
  '/wallets/accounts:getPaymentsInfo':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Fetches Payments info, such as number of Payments accounts for the user.'
      operationId: supportcases.wallets.accounts.getPaymentsInfo
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetPaymentsInfoRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetPaymentsInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/wallets/accounts:getReviewStatus':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Fetches the review status of a wallet account. This is a POST API because it takes in a sso_ticket.
      operationId: supportcases.wallets.accounts.getReviewStatus
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetAccountReviewStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetAccountReviewStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/wallets/accounts:getSignals':
    get:
      description: Fetches Wallet account signals for troubleshooting Wallet issues.
      operationId: supportcases.wallets.accounts.getSignals
      parameters:
        - collectionFormat: multi
          in: query
          items:
            enum:
              - ACCOUNT_SIGNAL_TYPE_UNSPECIFIED
              - CUSTOMER_BVID_DOCS_SUBMISSION_STATUS
              - CUSTOMER_OFFLINE_CHECK_DOCS_SUBMISSION_STATUS
              - CUSTOMER_RISK_DOCS_SUBMISSION_STATUS
              - CUSTOMER_SANCTIONS_DOCS_SUBMISSION_STATUS
              - GAIA_ACCOUNT_CHECKOUT_SERVICE_STATUS
              - HAS_POSITIVE_WALLET_BALANCE
              - IS_VIP
              - MOST_RECENT_TRANSACTION_TYPE
            type: string
          name: accountSignals
          type: array
        - in: query
          name: caseId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetAccountSignalsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/wallets/accounts:searchReviews':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Initiates a review on the Wallet account. This is a POST API because it takes in a sso_ticket. This API could lead to a review escalation (increase in priority).
      operationId: supportcases.wallets.accounts.searchReviews
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchAccountReviewsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchAccountReviewsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - wallets
  /wallets/bankAccountCountries:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: List supported Bank Account countries. Initially will only return supported Bank Account countries for Payment Method Hijacks (PMH). This is a POST API because it takes in a sso_ticket.
      operationId: supportcases.wallets.bankAccountCountries
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListBankAccountCountriesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBankAccountCountriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  /wallets/creditCardTypes:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: List supported Credit Card types. Initially will only return supported credit cards for Payment Method Hijacks (PMH). This is a POST API because it takes in a sso_ticket.
      operationId: supportcases.wallets.creditCardTypes
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListCreditCardTypesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreditCardTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  /wallets/paymentInstrumentTypeInfos:
    get:
      description: List supported payment instrument types. This API is not customer contextual.
      operationId: supportcases.wallets.paymentInstrumentTypeInfos.list
      parameters:
        - in: query
          name: caseId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPaymentInstrumentTypeInfosResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/wallets/paymentInstruments:suggestIssuer':
    get:
      description: 'Fetches suggestions for payment(credit card, bank, direct carrier billing) issuers.'
      operationId: supportcases.wallets.paymentInstruments.suggestIssuer
      parameters:
        - in: query
          name: caseId
          type: string
        - in: query
          name: includeDescription
          type: boolean
        - in: query
          name: instrumentTypeToken
          type: string
        - in: query
          name: searchKey
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SuggestPaymentInstrumentIssuerResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /wallets/transactions:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Query for transactions.
      operationId: supportcases.wallets.transactions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListTransactionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTransactionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/wallets:troubleshootAccount':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Troubleshoots a Wallet account for issues.
      operationId: supportcases.wallets.troubleshootAccount
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TroubleshootAccountRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TroubleshootAccountResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/wallets:troubleshootTransaction':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Troubleshoots a Wallet transaction for issues.
      operationId: supportcases.wallets.troubleshootTransaction
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TroubleshootTransactionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TroubleshootTransactionResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - wallets
  '/youtube/components:cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancel/Downgrade component(s).
      operationId: supportcases.youtube.components.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelComponentsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CancelComponentsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - youtube
  '/youtube/entitlements:cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancel entitlement.
      operationId: supportcases.youtube.entitlements.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelEntitlementRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CancelEntitlementResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - youtube
  /youtube/onetimepurchases:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets a list of one time purchases.
      operationId: supportcases.youtube.onetimepurchases
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetOneTimePurchasesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOneTimePurchasesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - youtube
  /youtube/summary:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get Customer Summary Information for entitlements and refund history.
      operationId: supportcases.youtube.summary
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetCustomerSummaryRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetCustomerSummaryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - youtube
  '/youtube/transactions:listByEntitlements':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get all transactions for entitlements.
      operationId: supportcases.youtube.transactions.listByEntitlements
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListTransactionsRequest1'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTransactionsResponse1'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - youtube
  '/youtube/transactions:refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Refund a batch of transactions.
      operationId: supportcases.youtube.transactions.refund
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RefundTransactionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RefundTransactionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - youtube
  '/{name}':
    delete:
      description: Deletes an attachment from a draft.
      operationId: supportcases.communications.attachments.delete
      parameters:
        - in: query
          name: caseId
          type: string
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - communications
    get:
      description: Gets the specified RMA.
      operationId: supportcases.rmas.get
      parameters:
        - in: query
          name: caseId
          type: string
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rma'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - rmas
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new workflow state on a case.
      operationId: supportcases.cases.workflows.post
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateWorkflowRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CasesWorkflow'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
    put:
      description: Updates product for the specified case.
      operationId: supportcases.cases.issue.updateProduct
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateProductRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}/customer/billingAddresses':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists customer billing addresses. Only intended for use by the Cases frontend.
      operationId: supportcases.cases.customer.billingAddresses
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListBillingAddressesRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBillingAddressesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
  '/{name}/customer/shippingAddresses':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Lists customer shipping addresses. Only intended for use by the Cases frontend.
      operationId: supportcases.cases.customer.shippingAddresses
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListShippingAddressesRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListShippingAddressesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
  '/{name}/properties':
    get:
      description: Lists all properties associated with a category info.
      operationId: supportcases.categoryInfos.properties.list
      parameters:
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPropertiesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - categoryInfos
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{name}/refunds':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Lists refunds for a hardware order. Get by shipmentId: /v2/hardwareShipments/:'
      operationId: supportcases.hardwareShipments.refunds
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ListHardwareRefundsRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHardwareRefundsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - hardwareShipments
  '/{name}:WaitForConsult':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets a case with an active consult case to IN_CONSULT state.
      operationId: supportcases.cases.waitForConsult
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/WaitForConsultRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WaitForConsultResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:assign':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Assigns the specified case.
      operationId: supportcases.cases.assign
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AssignRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AssignResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:authenticate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Authenticates a customer for a case.
      operationId: supportcases.cases.customer.authenticate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AuthenticateRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AuthenticateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:batchUpdate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates attributes for a case in batch.
      operationId: supportcases.cases.attributes.batchUpdate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchUpdateAttributesRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchUpdateAttributesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:block':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Indicate the specified case is blocked by a bug/case/legal order, etc.'
      operationId: supportcases.cases.block
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BlockRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BlockResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:callBack':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Makes a callback. Deauthenticates customer.
      operationId: supportcases.cases.callBack
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CallBackRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CallBackResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancel an RMA.
      operationId: supportcases.rmas.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelRmaRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CancelRmaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
  '/{name}:cancelAuthHold':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancels an auth hold for an advanced exchange RMA.
      operationId: supportcases.rmas.cancelAuthHold
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelAuthHoldRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - rmas
  '/{name}:cancelSend':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancel a pending send (for email only).
      operationId: supportcases.communications.cancelSend
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelSendRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - communications
  '/{name}:checkWalletAccount':
    get:
      description: 'Check if a customer has a valid Wallet account. Suppresses warning: GET requires method name starting with "Get" or "List"'
      operationId: supportcases.cases.customer.checkWalletAccount
      parameters:
        - in: query
          name: email
          type: string
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CheckWalletAccountResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases.readonly'
      tags:
        - cases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{name}:createNoteConsult':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a consult case via note channel for this case.
      operationId: supportcases.cases.createNoteConsult
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateNoteConsultCaseRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateNoteConsultCaseResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cases'
      tags:
        - cases
  '/{name}:createRealTimeConsult':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a consult case via RealTime channel for this case.
      operationId: supportcases.cases.createRealTimeConsult
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateRealTimeConsultCaseRequest'
        - in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateRealTimeConsultCaseResponse'
      security:
        - Oauth2:
[...]
