openapi: 3.0.0
servers:
  - url: https://api.api2cart.com/v1.1
info:
  contact:
    email: contact@api2cart.com
    x-twitter: API2Cart
  description: API2Cart
  termsOfService: https://api2cart.com/terms-service
  title: Swagger API2Cart
  version: "1.1"
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_API2Cart_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://app.api2cart.com/default/index/swagger-json
      version: "3.0"
  x-providerName: api2cart.com
externalDocs:
  description: Find out more about API2Cart
  url: http://docs.api2cart.com
tags:
  - name: account
  - name: cart
  - name: product
  - name: category
  - name: order
  - name: customer
  - name: attribute
  - name: tax
  - name: webhook
paths:
  /account.cart.add.json:
    post:
      description: Add store to the account
      operationId: AccountCartAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCartAdd"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      store_key:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - account
  /account.cart.list.json:
    get:
      description: Get list of carts.
      operationId: AccountCartList
      parameters:
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: force_all
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Retrieve entities from their creation date
          in: query
          name: request_from_date
          required: false
          schema:
            type: string
        - description: Retrieve entities to their creation date
          in: query
          name: request_to_date
          required: false
          schema:
            type: string
        - description: A web address of a store
          in: query
          name: store_url
          required: false
          schema:
            type: string
        - description: Find store by store key
          in: query
          name: store_key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      carts:
                        items:
                          properties:
                            cart_id:
                              type: string
                            id:
                              type: string
                            store_key:
                              type: string
                            total_calls:
                              type: string
                            url:
                              type: string
                          type: object
                        type: array
                      carts_count:
                        type: integer
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - account
  /account.config.update.json:
    put:
      description: Update configs in the API2Cart database.
      operationId: AccountConfigUpdate
      parameters:
        - description: Update store key
          in: query
          name: new_store_key
          required: false
          schema:
            type: string
        - description: This parameter allows to set up store with custom bridge url (also you must use store_root parameter if a bridge folder is not in the root folder of the store)
          in: query
          name: bridge_url
          required: false
          schema:
            type: string
        - description: Absolute path to the store root directory (used with "bridge_url" parameter)
          in: query
          name: store_root
          required: false
          schema:
            type: string
        - description: DB tables prefix
          in: query
          name: db_tables_prefix
          required: false
          schema:
            type: string
        - description: 3DCart Private Key
          in: query
          name: 3dcart_private_key
          required: false
          schema:
            type: string
        - description: 3DCart Token
          in: query
          name: 3dcart_access_token
          required: false
          schema:
            type: string
        - description: 3DCart API Key
          in: query
          name: 3dcartapi_api_key
          required: false
          schema:
            type: string
        - description: Amazon SP API app client id
          in: query
          name: amazon_sp_client_id
          required: false
          schema:
            type: string
        - description: Amazon SP API app client secret
          in: query
          name: amazon_sp_client_secret
          required: false
          schema:
            type: string
        - description: Amazon AWS user access key ID
          in: query
          name: amazon_sp_aws_user_key_id
          required: false
          schema:
            type: string
        - description: Amazon AWS user secret access key
          in: query
          name: amazon_sp_aws_user_secret
          required: false
          schema:
            type: string
        - description: Amazon AWS Region
          in: query
          name: amazon_sp_aws_region
          required: false
          schema:
            type: string
        - description: Amazon AWS Role ARN
          in: query
          name: amazon_sp_aws_role_arn
          required: false
          schema:
            type: string
        - description: Amazon SP API OAuth refresh token
          in: query
          name: amazon_sp_refresh_token
          required: false
          schema:
            type: string
        - description: Amazon SP API environment
          in: query
          name: amazon_sp_api_environment
          required: false
          schema:
            default: production
            type: string
        - description: MWS Auth Token. Access token authorizing the app to access resources on behalf of a user
          in: query
          name: amazon_access_token
          required: false
          schema:
            type: string
        - description: Amazon Seller ID (Merchant token)
          in: query
          name: amazon_seller_id
          required: false
          schema:
            type: string
        - description: Amazon Marketplace IDs comma separated string
          in: query
          name: amazon_marketplaces_ids
          required: false
          schema:
            type: string
        - description: Amazon Secret Key
          in: query
          name: amazon_secret_key
          required: false
          schema:
            type: string
        - description: Amazon Secret Key Id
          in: query
          name: amazon_access_key_id
          required: false
          schema:
            type: string
        - description: It's a AspDotNetStorefront account for which API is available
          in: query
          name: aspdotnetstorefront_api_user
          required: false
          schema:
            type: string
        - description: AspDotNetStorefront API Password
          in: query
          name: aspdotnetstorefront_api_pass
          required: false
          schema:
            type: string
        - description: It's a BigCommerce account for which API is enabled
          in: query
          name: bigcommerceapi_admin_account
          required: false
          schema:
            type: string
        - description: BigCommerce API URL
          in: query
          name: bigcommerceapi_api_path
          required: false
          schema:
            type: string
        - description: Bigcommerce API Key
          in: query
          name: bigcommerceapi_api_key
          required: false
          schema:
            type: string
        - description: Client ID of the requesting app
          in: query
          name: bigcommerceapi_client_id
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: bigcommerceapi_access_token
          required: false
          schema:
            type: string
        - description: API Path section unique to the store
          in: query
          name: bigcommerceapi_context
          required: false
          schema:
            type: string
        - description: Demandware client id
          in: query
          name: demandware_client_id
          required: false
          schema:
            type: string
        - description: Demandware api password
          in: query
          name: demandware_api_password
          required: false
          schema:
            type: string
        - description: Demandware user name
          in: query
          name: demandware_user_name
          required: false
          schema:
            type: string
        - description: Demandware user password
          in: query
          name: demandware_user_password
          required: false
          schema:
            type: string
        - description: Application ID (AppID).
          in: query
          name: ebay_client_id
          required: false
          schema:
            type: string
        - description: Shared Secret from eBay application
          in: query
          name: ebay_client_secret
          required: false
          schema:
            type: string
        - description: The RuName value that eBay assigns to your application.
          in: query
          name: ebay_runame
          required: false
          schema:
            type: string
        - description: Used to authenticate API requests.
          in: query
          name: ebay_access_token
          required: false
          schema:
            type: string
        - description: Used to renew the access token.
          in: query
          name: ebay_refresh_token
          required: false
          schema:
            type: string
        - description: eBay environment
          in: query
          name: ebay_environment
          required: false
          schema:
            type: string
        - description: eBay global ID
          in: query
          name: ebay_site_id
          required: false
          schema:
            default: 0
            type: integer
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: ecwid_acess_token
          required: false
          schema:
            type: string
        - description: Store Id
          in: query
          name: ecwid_store_id
          required: false
          schema:
            type: string
        - description: Etsy keystring
          in: query
          name: etsy_keystring
          required: false
          schema:
            type: string
        - description: Etsy shared secret
          in: query
          name: etsy_shared_secret
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: etsy_access_token
          required: false
          schema:
            type: string
        - description: Secret token authorizing the app to access resources on behalf of a user
          in: query
          name: etsy_token_secret
          required: false
          schema:
            type: string
        - description: Etsy Client Id
          in: query
          name: etsy_client_id
          required: false
          schema:
            type: string
        - description: Etsy Refresh token
          in: query
          name: etsy_refresh_token
          required: false
          schema:
            type: string
        - description: Neto API Key
          in: query
          name: neto_api_key
          required: false
          schema:
            type: string
        - description: Neto User Name
          in: query
          name: neto_api_username
          required: false
          schema:
            type: string
        - description: Shopify API Key
          in: query
          name: shopify_api_key
          required: false
          schema:
            type: string
        - description: Shopify API Password
          in: query
          name: shopify_api_password
          required: false
          schema:
            type: string
        - description: Shared secret
          in: query
          name: shopify_shared_secret
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: shopify_access_token
          required: false
          schema:
            type: string
        - description: Shopware access key
          in: query
          name: shopware_access_key
          required: false
          schema:
            type: string
        - description: Shopware api key
          in: query
          name: shopware_api_key
          required: false
          schema:
            type: string
        - description: Shopware client secret access key
          in: query
          name: shopware_api_secret
          required: false
          schema:
            type: string
        - description: It's a Volusion account for which API is enabled
          in: query
          name: volusion_login
          required: false
          schema:
            type: string
        - description: Volusion API Password
          in: query
          name: volusion_password
          required: false
          schema:
            type: string
        - description: Walmart client ID
          in: query
          name: walmart_client_id
          required: false
          schema:
            type: string
        - description: Walmart client secret
          in: query
          name: walmart_client_secret
          required: false
          schema:
            type: string
        - description: Walmart environment
          in: query
          name: walmart_environment
          required: false
          schema:
            default: production
            type: string
        - description: Walmart WM_CONSUMER.CHANNEL.TYPE header
          in: query
          name: walmart_channel_type
          required: false
          schema:
            type: string
        - description: Squarespace API Key
          in: query
          name: squarespace_api_key
          required: false
          schema:
            type: string
        - description: Omni Commerce Connector Client ID
          in: query
          name: hybris_client_id
          required: false
          schema:
            type: string
        - description: Omni Commerce Connector Client Secret
          in: query
          name: hybris_client_secret
          required: false
          schema:
            type: string
        - description: User Name
          in: query
          name: hybris_username
          required: false
          schema:
            type: string
        - description: User password
          in: query
          name: hybris_password
          required: false
          schema:
            type: string
        - description: Websites to stores mapping data
          explode: false
          in: query
          name: hybris_websites
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: LightSpeed api key
          in: query
          name: lightspeed_api_key
          required: false
          schema:
            type: string
        - description: LightSpeed api secret
          in: query
          name: lightspeed_api_secret
          required: false
          schema:
            type: string
        - description: CommerceHQ api key
          in: query
          name: commercehq_api_key
          required: false
          schema:
            type: string
        - description: CommerceHQ api password
          in: query
          name: commercehq_api_password
          required: false
          schema:
            type: string
        - description: Woocommerce consumer key
          in: query
          name: wc_consumer_key
          required: false
          schema:
            type: string
        - description: Woocommerce consumer secret
          in: query
          name: wc_consumer_secret
          required: false
          schema:
            type: string
        - description: Magento Consumer Key
          in: query
          name: magento_consumer_key
          required: false
          schema:
            type: string
        - description: Magento Consumer Secret
          in: query
          name: magento_consumer_secret
          required: false
          schema:
            type: string
        - description: Magento Access Token
          in: query
          name: magento_access_token
          required: false
          schema:
            type: string
        - description: Magento Token Secret
          in: query
          name: magento_token_secret
          required: false
          schema:
            type: string
        - description: Prestashop webservice key
          in: query
          name: prestashop_webservice_key
          required: false
          schema:
            type: string
        - description: Wix App ID
          in: query
          name: wix_app_id
          required: false
          schema:
            type: string
        - description: Wix App Secret Key
          in: query
          name: wix_app_secret_key
          required: false
          schema:
            type: string
        - description: Wix refresh token
          in: query
          name: wix_refresh_token
          required: false
          schema:
            type: string
        - description: Mercado Libre App ID
          in: query
          name: mercado_libre_app_id
          required: false
          schema:
            type: string
        - description: Mercado Libre App Secret Key
          in: query
          name: mercado_libre_app_secret_key
          required: false
          schema:
            type: string
        - description: Mercado Libre Refresh Token
          in: query
          name: mercado_libre_refresh_token
          required: false
          schema:
            type: string
        - description: Zid Client ID
          in: query
          name: zid_client_id
          required: false
          schema:
            type: integer
        - description: Zid Client Secret
          in: query
          name: zid_client_secret
          required: false
          schema:
            type: string
        - description: Zid Access Token
          in: query
          name: zid_access_token
          required: false
          schema:
            type: string
        - description: Zid Authorization
          in: query
          name: zid_authorization
          required: false
          schema:
            type: string
        - description: Zid refresh token
          in: query
          name: zid_refresh_token
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      updated_items:
                        type: integer
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - account
  /account.failed_webhooks.json:
    get:
      description: List webhooks that was not delivered to the callback.
      operationId: AccountFailedWebhooks
      parameters:
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: List of сomma-separated webhook ids
          in: query
          name: ids
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      all_failed_webhook:
                        type: string
                      webhook:
                        items:
                          properties:
                            entity_id:
                              type: string
                            time:
                              $ref: "#/components/schemas/A2CDateTime"
                            webhook_id:
                              type: integer
                          type: object
                        type: array
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - account
  /account.supported_platforms.json:
    get:
      description: Get list of supported platforms
      operationId: AccountSupportedPlatforms
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      supported_platforms:
                        items:
                          properties:
                            cart_id:
                              type: string
                            cart_method:
                              type: string
                            cart_name:
                              type: string
                            cart_versions:
                              type: string
                            params:
                              properties:
                                additional:
                                  items:
                                    properties:
                                      description:
                                        type: string
                                      name:
                                        type: string
                                    type: object
                                  type: array
                                required:
                                  items:
                                    items:
                                      properties:
                                        description:
                                          type: string
                                        name:
                                          type: string
                                      type: object
                                    type: array
                                  type: array
                              type: object
                          type: object
                        type: array
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - account
  /attribute.add.json:
    post:
      description: Add new attribute
      operationId: AttributeAdd
      parameters:
        - description: Defines attribute's type
          in: query
          name: type
          required: true
          schema:
            enum:
              - text
              - select
              - textarea
              - date
              - price
              - multiselect
              - boolean
            type: string
        - description: Entity code
          in: query
          name: code
          required: false
          schema:
            type: string
        - description: Defines attributes's name
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Set visibility status
          in: query
          name: visible
          required: false
          schema:
            default: false
            type: boolean
        - description: Defines if the option is required
          in: query
          name: required
          required: false
          schema:
            default: false
            type: boolean
        - description: Attribute`s position
          in: query
          name: position
          required: false
          schema:
            default: 0
            type: integer
        - description: Filter by attribute_group_id
          in: query
          name: attribute_group_id
          required: false
          schema:
            type: string
        - description: Attribute saving scope
          in: query
          name: is_global
          required: false
          schema:
            default: Store
            type: string
        - description: Use attribute in Quick Search
          in: query
          name: is_searchable
          required: false
          schema:
            default: false
            type: boolean
        - description: Use In Layered Navigation
          in: query
          name: is_filterable
          required: false
          schema:
            default: No
            type: string
        - description: Comparable on Front-end
          in: query
          name: is_comparable
          required: false
          schema:
            default: false
            type: boolean
        - description: Allow HTML Tags on Frontend
          in: query
          name: is_html_allowed_on_front
          required: false
          schema:
            default: false
            type: boolean
        - description: Use In Search Results Layered Navigation
          in: query
          name: is_filterable_in_search
          required: false
          schema:
            default: false
            type: boolean
        - description: Use To Create Configurable Product
          in: query
          name: is_configurable
          required: false
          schema:
            default: false
            type: boolean
        - description: Use in Advanced Search
          in: query
          name: is_visible_in_advanced_search
          required: false
          schema:
            default: false
            type: boolean
        - description: Use for Promo Rule Conditions
          in: query
          name: is_used_for_promo_rules
          required: false
          schema:
            default: false
            type: boolean
        - description: Used in Product Listing
          in: query
          name: used_in_product_listing
          required: false
          schema:
            default: false
            type: boolean
        - description: Used for Sorting in Product Listing
          in: query
          name: used_for_sort_by
          required: false
          schema:
            default: false
            type: boolean
        - description: Types of products which can have this attribute
          in: query
          name: apply_to
          required: false
          schema:
            default: all_types
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      id:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.assign.group.json:
    post:
      description: Assign attribute to the group
      operationId: AttributeAssignGroup
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Attribute group_id
          in: query
          name: group_id
          required: true
          schema:
            type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      assigned:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.assign.set.json:
    post:
      description: Assign attribute to the attribute set
      operationId: AttributeAssignSet
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Attribute group_id
          in: query
          name: group_id
          required: false
          schema:
            type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      assigned:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.attributeset.list.json:
    get:
      description: Get attribute_set list
      operationId: AttributeAttributesetList
      parameters:
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,name
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      $ref: "#/components/schemas/StoreAttribute_Group"
                    type: array
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.count.json:
    get:
      description: Get attributes count
      operationId: AttributeCount
      parameters:
        - description: Defines attribute's type
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Filter items by visibility status
          in: query
          name: visible
          required: false
          schema:
            type: boolean
        - description: Defines if the option is required
          in: query
          name: required
          required: false
          schema:
            type: boolean
        - description: True if attribute is system
          in: query
          name: system
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      attributes_count:
                        type: integer
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.delete.json:
    delete:
      description: Delete attribute from store
      operationId: AttributeDelete
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      deleted:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.group.list.json:
    get:
      description: Get attribute group list
      operationId: AttributeGroupList
      parameters:
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,name
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    items:
                      $ref: "#/components/schemas/StoreAttribute_Group"
                    type: array
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.info.json:
    get:
      description: Get attribute info
      operationId: AttributeInfo
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: force_all
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    $ref: "#/components/schemas/StoreAttribute"
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.list.json:
    get:
      description: Get attributes list
      operationId: AttributeList
      parameters:
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Defines attribute's type
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: Filter attributes by ids
          in: query
          name: attribute_ids
          required: false
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Retrieves attributes on specified language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,name,code,type
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Filter items by visibility status
          in: query
          name: visible
          required: false
          schema:
            type: boolean
        - description: Defines if the option is required
          in: query
          name: required
          required: false
          schema:
            type: boolean
        - description: True if attribute is system
          in: query
          name: system
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model_Response_Attribute_List"
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.type.list.json:
    get:
      description: Get list of supported attributes types
      operationId: AttributeTypeList
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      attribute_type:
                        items:
                          type: string
                        type: array
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.unassign.group.json:
    post:
      description: Unassign attribute from group
      operationId: AttributeUnassignGroup
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Customer group_id
          in: query
          name: group_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      unassigned:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.unassign.set.json:
    post:
      description: Unassign attribute from attribute set
      operationId: AttributeUnassignSet
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      unassigned:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.update.json:
    post:
      description: Update attribute data
      operationId: AttributeUpdate
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Defines new attributes's name
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      updated:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /basket.info.json:
    get:
      description: Retrieve basket information.
      operationId: BasketInfo
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: force_all
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    $ref: "#/components/schemas/Basket"
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /basket.item.add.json:
    post:
      description: Add item to basket
      operationId: BasketItemAdd
      parameters:
        - description: Retrieves orders specified by customer id
          in: query
          name: customer_id
          required: true
          schema:
            type: string
        - description: Defines id of the product which should be added to the basket
          in: query
          name: product_id
          required: true
          schema:
            type: string
        - description: Defines product's variants specified by variant id
          in: query
          name: variant_id
          required: false
          schema:
            type: string
        - description: Defines new items quantity
          in: query
          name: quantity
          required: false
          schema:
            default: 0
            type: number
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      added:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /basket.live_shipping_service.create.json:
    post:
      description: Create live shipping rate service. (Beta)
      operationId: BasketLiveShippingServiceCreate
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Shipping Service Name
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: Callback url that returns shipping rates. It should be able to accept POST requests with json data.
          in: query
          name: callback
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      id:
                        type: integer
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /basket.live_shipping_service.delete.json:
    delete:
      description: Delete live shipping rate service. (Beta)
      operationId: BasketLiveShippingServiceDelete
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      status:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /basket.live_shipping_service.list.json:
    get:
      description: Retrieve a list of live shipping rate services. (Beta)
      operationId: BasketLiveShippingServiceList
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      live_shipping_services:
                        items:
                          $ref: "#/components/schemas/Basket_LiveShippingService"
                        type: array
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /bridge.delete.json:
    post:
      description: Delete bridge from the store.
      operationId: BridgeDelete
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      deleted:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - bridge
  /bridge.download.file:
    get:
      description: Download bridge for store
      operationId: BridgeDownload
      parameters:
        - description: Identifies if there is a necessity to download whitelabel bridge.
          in: query
          name: whitelabel
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /bridge.update.json:
    post:
      description: Update bridge in the store.
      operationId: BridgeUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      updated:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - bridge
  /cart.bridge.json:
    get:
      description: Get bridge key and store key
      operationId: CartBridge
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      bridge:
                        type: string
                      store_key:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - cart
  /cart.catalog_price_rules.count.json:
    get:
      description: Get count of cart catalog price rules discounts.
      operationId: CartCatalogPriceRulesCount
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      catalog_price_rules_count:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.catalog_price_rules.list.json:
    get:
      description: Get cart catalog price rules discounts.
      operationId: CartCatalogPriceRulesList
      parameters:
        - description: Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)
          in: query
          name: page_cursor
          required: false
          schema:
            type: string
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Retrieves  catalog_price_rules by ids
          in: query
          name: ids
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,name,description
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.clear_cache.json:
    post:
      description: Clear cache on store.
      operationId: CartClearCache
      parameters:
        - description: Defines which cache should be cleared.
          in: query
          name: cache_type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      cache_cleared:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.config.json:
    get:
      description: Get list of cart configs
      operationId: CartConfig
      parameters:
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: store_name,store_url,db_prefix
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      db_prefix:
                        type: string
                      store_name:
                        type: string
                      store_url:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.config.update.json:
    put:
      deprecated: true
      description: Use this API method to update custom data in client database.
      operationId: CartConfigUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartConfigUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.add.json:
    post:
      description: Create new coupon
      operationId: CartCouponAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartCouponAdd"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      coupon_id:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.condition.add.json:
    post:
      description: Create new coupon condition
      operationId: CartCouponConditionAdd
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Coupon Id
          in: query
          name: coupon_id
          required: true
          schema:
            type: string
        - description: Defines condition operator
          in: query
          name: target
          required: false
          schema:
            default: coupon_prerequisite
            type: string
        - description: Defines condition entity type
          in: query
          name: entity
          required: true
          schema:
            enum:
              - order
              - order_shipping_address
              - product
              - customer
            type: string
        - description: Defines condition entity attribute key
          in: query
          name: key
          required: true
          schema:
            enum:
              - total
              - subtotal
              - shipping_total
              - total_quantity
              - total_weight
              - country
              - product_id
              - variant_id
              - category_id
              - customer_id
              - item_price
              - item_total_price
              - item_quantity
            type: string
        - description: Defines condition operator
          in: query
          name: operator
          required: true
          schema:
            enum:
              - ==
              - <
              - <=
              - ">"
              - ">="
              - ONE_OF
            type: string
        - description: Defines condition value, can be comma separated according to the operator.
          in: query
          name: value
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      status:
                        type: boolean
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.count.json:
    get:
      description: Get cart coupons count.
      operationId: CartCouponCount
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Filter entity by date_start (greater or equal)
          in: query
          name: date_start_from
          required: false
          schema:
            type: string
        - description: Filter entity by date_start (less or equal)
          in: query
          name: date_start_to
          required: false
          schema:
            type: string
        - description: Filter entity by date_end (greater or equal)
          in: query
          name: date_end_from
          required: false
          schema:
            type: string
        - description: Filter entity by date_end (less or equal)
          in: query
          name: date_end_to
          required: false
          schema:
            type: string
        - description: Defines category's visibility status
          in: query
          name: avail
          required: false
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      coupons_count:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.delete.json:
    delete:
      description: Delete coupon
      operationId: CartCouponDelete
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      deleted:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.list.json:
    get:
      description: Get cart coupon discounts.
      operationId: CartCouponList
      parameters:
        - description: Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)
          in: query
          name: page_cursor
          required: false
          schema:
            type: string
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Filter coupons by ids
          in: query
          name: coupons_ids
          required: false
          schema:
            type: string
        - description: Filter coupons by store id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Filter entity by date_start (greater or equal)
          in: query
          name: date_start_from
          required: false
          schema:
            type: string
        - description: Filter entity by date_start (less or equal)
          in: query
          name: date_start_to
          required: false
          schema:
            type: string
        - description: Filter entity by date_end (greater or equal)
          in: query
          name: date_end_from
          required: false
          schema:
            type: string
        - description: Filter entity by date_end (less or equal)
          in: query
          name: date_end_to
          required: false
          schema:
            type: string
        - description: Filter coupons by avail status
          in: query
          name: avail
          required: false
          schema:
            type: boolean
        - description: Language id
          in: query
          name: lang_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,code,name,description
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model_Response_Cart_Coupon_List"
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.create.json:
    post:
      deprecated: true
      description: Add store to the account
      operationId: CartCreate
      parameters:
        - description: Store’s identifier which you can get from cart_list method
          in: query
          name: cart_id
          required: true
          schema:
            enum:
              - 3DCart
              - 3DCartApi
              - AceShop
              - AmazonSP
              - Amazon
              - AspDotNetStorefront
              - BigcommerceApi
              - Creloaded
              - CommerceHQ
              - Cscart
              - Cubecart
              - Demandware
              - EBay
              - Ecwid
              - Etsy
              - EtsyAPIv3
              - Gambio
              - Interspire
              - JooCart
              - Magento1212
              - Magento2Api
              - MijoShop
              - Neto
              - Opencart14
              - LightSpeed
              - Oscmax2
              - Oscommerce22ms2
              - Oxid
              - Pinnacle
              - Prestashop
              - PrestashopApi
              - SSPremium
              - Shopify
              - Squarespace
              - Shopware
              - ShopwareApi
              - Tomatocart
              - Ubercart
              - Virtuemart
              - Volusion
              - WPecommerce
              - Walmart
              - WebAsyst
              - Woocommerce
              - WoocommerceApi
              - Wix
              - Xcart
              - Xtcommerce
              - XtcommerceVeyton
              - Zencart137
              - Hybris
              - MercadoLibre
              - Zid
            type: string
        - description: A web address of a store that you would like to connect to API2Cart
          in: query
          name: store_url
          required: true
          schema:
            type: string
        - description: This parameter allows to set up store with custom bridge url (also you must use store_root parameter if a bridge folder is not in the root folder of the store)
          in: query
          name: bridge_url
          required: false
          schema:
            type: string
        - description: Absolute path to the store root directory (used with "bridge_url" parameter)
          in: query
          name: store_root
          required: false
          schema:
            type: string
        - description: Set this parameter if bridge is already uploaded to store
          in: query
          name: store_key
          required: false
          schema:
            type: string
        - description: Shared secret
          in: query
          name: shared_secret
          required: false
          schema:
            type: string
        - description: Specify if api2cart should validate cart version
          in: query
          name: validate_version
          required: false
          schema:
            default: false
            type: boolean
        - description: Enables or disables cart's verification
          in: query
          name: verify
          required: false
          schema:
            default: true
            type: boolean
        - description: DB tables prefix
          in: query
          name: db_tables_prefix
          required: false
          schema:
            type: string
        - description: FTP connection host
          in: query
          name: ftp_host
          required: false
          schema:
            type: string
        - description: FTP User
          in: query
          name: ftp_user
          required: false
          schema:
            type: string
        - description: FTP Password
          in: query
          name: ftp_password
          required: false
          schema:
            type: string
        - description: FTP Port
          in: query
          name: ftp_port
          required: false
          schema:
            type: integer
        - description: FTP Store dir
          in: query
          name: ftp_store_dir
          required: false
          schema:
            type: string
        - description: 3DCart API Key
          in: query
          name: apiKey_3dcart
          required: false
          schema:
            type: string
        - description: It's a BigCommerce account for which API is enabled
          in: query
          name: AdminAccount
          required: false
          schema:
            type: string
        - description: BigCommerce API URL
          in: query
          name: ApiPath
          required: false
          schema:
            type: string
        - description: Bigcommerce API Key
          in: query
          name: ApiKey
          required: false
          schema:
            type: string
        - description: Client ID of the requesting app
          in: query
          name: client_id
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: accessToken
          required: false
          schema:
            type: string
        - description: API Path section unique to the store
          in: query
          name: context
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: access_token
          required: false
          schema:
            type: string
        - description: Shopify API Key
          in: query
          name: apiKey_shopify
          required: false
          schema:
            type: string
        - description: Shopify API Password
          in: query
          name: apiPassword
          required: false
          schema:
            type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: accessToken_shopify
          required: false
          schema:
            type: string
        - description: Neto API Key
          in: query
          name: apiKey
          required: false
          schema:
            type: string
        - description: Neto User Name
          in: query
          name: apiUsername
          required: false
          schema:
            type: string
        - description: Volusion API Password
          in: query
          name: EncryptedPassword
          required: false
          schema:
            type: string
        - description: It's a Volusion account for which API is enabled
          in: query
          name: Login
          required: false
          schema:
            type: string
        - description: It's a AspDotNetStorefront account for which API is available
          in: query
          name: apiUser_adnsf
          required: false
          schema:
            type: string
        - description: AspDotNetStorefront API Password
          in: query
          name: apiPass
          required: false
          schema:
            type: string
        - description: Shopping Cart Elite Access Key
          in: query
          name: accessKey_scelite
          required: false
          schema:
            type: string
        - description: Shopping Cart Elite API Key
          in: query
          name: apiKey_scelite
          required: false
          schema:
            type: string
        - description: Shopping Cart Elite API Secret Key
          in: query
          name: apiSecretKey_scelite
          required: false
          schema:
            type: string
        - description: 3DCart Application Private Key
          in: query
          name: privateKey
          required: false
          schema:
            type: string
        - description: 3DCart Token from Application
          in: query
          name: appToken
          required: false
          schema:
            type: string
        - description: Etsy keystring
          in: query
          name: etsy_keystring
          required: false
          schema:
            type: string
        - description: Etsy shared secret
          in: query
          name: etsy_shared_secret
          required: false
          schema:
            type: string
        - description: Secret token authorizing the app to access resources on behalf of a user
          in: query
          name: tokenSecret
          required: false
          schema:
            type: string
        - description: Etsy Client Id
          in: query
          name: etsy_client_id
          required: true
          schema:
            type: string
        - description: Etsy Refresh token
          in: query
          name: etsy_refresh_token
          required: true
          schema:
            type: string
        - description: Application ID (AppID).
          in: query
          name: ebay_client_id
          required: false
          schema:
            type: string
        - description: Shared Secret from eBay application
          in: query
          name: ebay_client_secret
          required: false
          schema:
            type: string
        - description: The RuName value that eBay assigns to your application.
          in: query
          name: ebay_runame
          required: false
          schema:
            type: string
        - description: Used to authenticate API requests.
          in: query
          name: ebay_access_token
          required: false
          schema:
            type: string
        - description: Used to renew the access token.
          in: query
          name: ebay_refresh_token
          required: false
          schema:
            type: string
        - description: eBay environment
          in: query
          name: ebay_environment
          required: false
          schema:
            default: production
            type: string
        - description: eBay global ID
          in: query
          name: ebay_site_id
          required: false
          schema:
            default: 0
            type: integer
        - description: Demandware client id
          in: query
          name: dw_client_id
          required: false
          schema:
            type: string
        - description: Demandware api password
          in: query
          name: dw_api_pass
          required: false
          schema:
            type: string
        - description: Demandware user name
          in: query
          name: demandware_user_name
          required: false
          schema:
            type: string
        - description: Demandware user password
          in: query
          name: demandware_user_password
          required: false
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: true
          schema:
            type: string
        - description: Seller Id
          in: query
          name: seller_id
          required: false
          schema:
            type: string
        - description: Amazon Secret Key
          in: query
          name: amazon_secret_key
          required: false
          schema:
            type: string
        - description: Amazon Secret Key Id
          in: query
          name: amazon_access_key_id
          required: false
          schema:
            type: string
        - description: Comma separated marketplaces ids
          in: query
          name: marketplaces_ids
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: environment
          required: false
          schema:
            default: production
            type: string
        - description: Omni Commerce Connector Client ID
          in: query
          name: hybris_client_id
          required: false
          schema:
            type: string
        - description: Omni Commerce Connector Client Secret
          in: query
          name: hybris_client_secret
          required: false
          schema:
            type: string
        - description: User Name
          in: query
          name: hybris_username
          required: false
          schema:
            type: string
        - description: User password
          in: query
          name: hybris_password
          required: false
          schema:
            type: string
        - description: Websites to stores mapping data
          explode: false
          in: query
          name: hybris_websites
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Walmart client ID
          in: query
          name: walmart_client_id
          required: false
          schema:
            type: string
        - description: Walmart client secret
          in: query
          name: walmart_client_secret
          required: false
          schema:
            type: string
        - description: Walmart environment
          in: query
          name: walmart_environment
          required: false
          schema:
            default: production
            type: string
        - description: Walmart WM_CONSUMER.CHANNEL.TYPE header
          in: query
          name: walmart_channel_type
          required: false
          schema:
            type: string
        - description: LightSpeed api key
          in: query
          name: lightspeed_api_key
          required: false
          schema:
            type: string
        - description: LightSpeed api secret
          in: query
          name: lightspeed_api_secret
          required: false
          schema:
            type: string
        - description: Shopware access key
          in: query
          name: shopware_access_key
          required: false
          schema:
            type: string
        - description: Shopware api key
          in: query
          name: shopware_api_key
          required: false
          schema:
            type: string
        - description: Shopware client secret access key
          in: query
          name: shopware_api_secret
          required: false
          schema:
            type: string
        - description: CommerceHQ api key
          in: query
          name: commercehq_api_key
          required: false
          schema:
            type: string
        - description: CommerceHQ api password
          in: query
          name: commercehq_api_password
          required: false
          schema:
            type: string
        - description: 3DCart Private Key
          in: query
          name: 3dcart_private_key
          required: false
          schema:
            type: string
        - description: 3DCart Token
          in: query
          name: 3dcart_access_token
          required: false
          schema:
            type: string
        - description: Woocommerce consumer key
          in: query
          name: wc_consumer_key
          required: false
          schema:
            type: string
        - description: Woocommerce consumer secret
          in: query
          name: wc_consumer_secret
          required: false
          schema:
            type: string
        - description: Magento Consumer Key
          in: query
          name: magento_consumer_key
          required: false
          schema:
            type: string
        - description: Magento Consumer Secret
          in: query
          name: magento_consumer_secret
          required: false
          schema:
            type: string
        - description: Magento Access Token
          in: query
          name: magento_access_token
          required: false
          schema:
            type: string
        - description: Magento Token Secret
          in: query
          name: magento_token_secret
          required: false
          schema:
            type: string
        - description: Prestashop webservice key
          in: query
          name: prestashop_webservice_key
          required: false
          schema:
            type: string
        - description: Wix App ID
          in: query
          name: wix_app_id
          required: false
          schema:
            type: string
        - description: Wix App Secret Key
          in: query
          name: wix_app_secret_key
          required: false
          schema:
            type: string
        - description: Wix refresh token
          in: query
          name: wix_refresh_token
          required: false
          schema:
            type: string
        - description: Mercado Libre App ID
          in: query
          name: mercado_libre_app_id
          required: false
          schema:
            type: string
        - description: Mercado Libre App Secret Key
          in: query
          name: mercado_libre_app_secret_key
          required: false
          schema:
            type: string
        - description: Mercado Libre Refresh Token
          in: query
          name: mercado_libre_refresh_token
          required: false
          schema:
            type: string
        - description: Zid Client ID
          in: query
          name: zid_client_id
          required: false
          schema:
            type: integer
        - description: Zid Client Secret
          in: query
          name: zid_client_secret
          required: false
          schema:
            type: string
        - description: Zid Access Token
          in: query
          name: zid_access_token
          required: false
          schema:
            type: string
        - description: Zid Authorization
          in: query
          name: zid_authorization
          required: false
          schema:
            type: string
        - description: Zid refresh token
          in: query
          name: zid_refresh_token
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      store_key:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
      tags:
        - cart
  /cart.delete.json:
    delete:
      description: Remove store from API2Cart
      operationId: CartDelete
      parameters:
        - description: Identifies if there is a necessity to delete bridge
          in: query
          name: delete_bridge
          required: false
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      store:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.disconnect.json:
    get:
      deprecated: true
      description: Disconnect with the store and clear store session data.
      operationId: CartDisconnect
      parameters:
        - description: Identifies if there is a necessity to delete bridge
          in: query
          name: delete_bridge
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      connection:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.add.json:
    post:
      description: Create new gift card
      operationId: CartGiftcardAdd
      parameters:
        - description: Defines the gift card amount value.
          in: query
          name: amount
          required: true
          schema:
            type: number
        - description: Gift card code
          in: query
          name: code
          required: false
          schema:
            type: string
        - description: Gift card owner email
          in: query
          name: owner_email
          required: false
          schema:
            type: string
        - description: Gift card recipient email
          in: query
          name: recipient_email
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      code:
                        type: string
                      id:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.count.json:
    get:
      description: Get gift cards count.
      operationId: CartGiftcardCount
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    properties:
                      gift_cards_count:
                        type: string
                    type: object
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.list.json:
    get:
      description: Get gift cards list.
      operationId: CartGiftcardList
      parameters:
        - description: Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)
          in: query
          name: page_cursor
          required: false
          schema:
            type: string
        - description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          schema:
            default: 0
            type: integer
        - description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          schema:
            default: 10
            type: integer
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: id,code,name
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model_Response_Cart_GiftCard_List"
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.info.json:
    get:
      description: Get cart information
      operationId: CartInfo
      parameters:
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          schema:
            default: store_name,store_url,db_prefix
            type: string
        - description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: response_fields
          required: false
          schema:
            type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          schema:
            type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    $ref: "#/components/schemas/Cart"
                  return_code:
                    type: integer
                  return_message:
                    type: string
                type: object
          description: successful operation
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.list.json:
    get:
      deprecated: true
      description: Get list of supported carts
      operationId: CartList
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
