openapi: 3.0.0
servers:
  - url: https://connectors.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Connectors API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://connectors.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: connectors
externalDocs:
  url: https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors
tags:
  - name: projects
paths:
  /v1/{name}:
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: connectors.projects.locations.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. If set to true, any customConnectorVersion which is a child resource will also be deleted. https://aip.dev/135#cascading-delete
          in: query
          name: force
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets details of a single event type.
      operationId: connectors.projects.locations.providers.connectors.versions.eventtypes.get
      parameters:
        - description: "Required. Resource name of the form: `projects/*/locations/*/providers/*/connectors/*/versions/*/eventtypes/*` Only global location is supported for EventType resource."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Specifies which fields of the ConnectorVersion are returned in the response. Defaults to `CUSTOMER` view.
          in: query
          name: view
          schema:
            enum:
              - CONNECTOR_VERSION_VIEW_UNSPECIFIED
              - CONNECTOR_VERSION_VIEW_BASIC
              - CONNECTOR_VERSION_VIEW_FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventType"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the parameters of a single ManagedZone.
      operationId: connectors.projects.locations.global.managedZones.patch
      parameters:
        - description: "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Required. The list of fields to update. Fields are specified relative to the managedZone. A field will be overwritten if it is in the mask. You can modify only the fields listed below. To update the managedZone details: * `description` * `labels` * `target_project` * `target_network`"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: connectors.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}/operations:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: connectors.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:cancel:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: connectors.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}:getAction:
    get:
      description: Get action.
      operationId: connectors.projects.locations.connections.connectionSchemaMetadata.getAction
      parameters:
        - description: "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Id of the action.
          in: query
          name: actionId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:getEntityType:
    get:
      description: Get entity type.
      operationId: connectors.projects.locations.connections.connectionSchemaMetadata.getEntityType
      parameters:
        - description: "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Id of the entity type.
          in: query
          name: entityId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:listActions:
    get:
      description: List actions.
      operationId: connectors.projects.locations.connections.connectionSchemaMetadata.listActions
      parameters:
        - description: Required. Resource name format. projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Filter Wildcards are not supported in the filter currently.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size. If unspecified, at most 50 actions will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Specifies which fields are returned in response. Defaults to BASIC view.
          in: query
          name: view
          schema:
            enum:
              - VIEW_UNSPECIFIED
              - BASIC
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:listEntityTypes:
    get:
      description: List entity types.
      operationId: connectors.projects.locations.connections.connectionSchemaMetadata.listEntityTypes
      parameters:
        - description: "Required. Resource name format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Filter Wildcards are not supported in the filter currently.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size. If unspecified, at most 50 entity types will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Specifies which fields are returned in response. Defaults to BASIC view.
          in: query
          name: view
          schema:
            enum:
              - VIEW_UNSPECIFIED
              - BASIC
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEntityTypesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:refresh:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Refresh runtime schema of a connection.
      operationId: connectors.projects.locations.connections.connectionSchemaMetadata.refresh
      parameters:
        - description: "Required. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshConnectionSchemaMetadataRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}:repairEventing:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: RepaiEventing tries to repair eventing related event subscriptions.
      operationId: connectors.projects.locations.connections.repairEventing
      parameters:
        - description: "Required. Resource name of the form: `projects/*/locations/*/connections/*`"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepairEventingRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}:retry:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: RetryEventSubscription retries the registration of Subscription.
      operationId: connectors.projects.locations.connections.eventSubscriptions.retry
      parameters:
        - description: "Required. Resource name of the form: `projects/*/locations/*/connections/*/eventSubscriptions/*`"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryEventSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/connections:
    get:
      description: Lists Connections in a given project and location.
      operationId: connectors.projects.locations.connections.list
      parameters:
        - description: "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by parameters.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Specifies which fields of the Connection are returned in the response. Defaults to `BASIC` view.
          in: query
          name: view
          schema:
            enum:
              - CONNECTION_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Connection in a given project and location.
      operationId: connectors.projects.locations.connections.create
      parameters:
        - description: "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the Connection. Must be unique within scope of the parent resource.
          in: query
          name: connectionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/connectors:
    get:
      description: Lists Connectors in a given project and location.
      operationId: connectors.projects.locations.providers.connectors.list
      parameters:
        - description: "Required. Parent resource of the connectors, of the form: `projects/*/locations/*/providers/*` Only global location is supported for Connector resource."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter string.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectorsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/customConnectorVersions:
    get:
      description: List CustomConnectorVersions in a given project
      operationId: connectors.projects.locations.global.customConnectors.customConnectorVersions.list
      parameters:
        - description: "Required. Parent resource of the connectors, of the form: `projects/*/locations/{location}/customConnectors/*/customConnectorVersions/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomConnectorVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new CustomConnectorVersion in a given project and location.
      operationId: connectors.projects.locations.global.customConnectors.customConnectorVersions.create
      parameters:
        - description: "Required. Parent resource of the CreateCustomConnector, of the form: `projects/{project}/locations/{location}/customConnectors/{custom_connector}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the CreateCustomConnectorVersion. Must be unique within scope of the parent resource.
          in: query
          name: customConnectorVersionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomConnectorVersion"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/customConnectors:
    get:
      description: List CustomConnectorVersions in a given project
      operationId: connectors.projects.locations.global.customConnectors.list
      parameters:
        - description: "Required. Parent resource of the custom connectors, of the form: `projects/*/locations/*` Only global location is supported for CustomConnector resource."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter string.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomConnectorsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new CustomConnector in a given project and location.
      operationId: connectors.projects.locations.global.customConnectors.create
      parameters:
        - description: "Required. Parent resource of the CreateCustomConnector, of the form: `projects/{project}/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the CreateCustomConnector. Must be unique within scope of the parent resource.
          in: query
          name: customConnectorId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomConnector"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/endpointAttachments:
    get:
      description: List EndpointAttachments in a given project
      operationId: connectors.projects.locations.endpointAttachments.list
      parameters:
        - description: "Required. Parent resource od the EndpointAttachment, of the form: `projects/*/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by parameters.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointAttachmentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new EndpointAttachment in a given project and location.
      operationId: connectors.projects.locations.endpointAttachments.create
      parameters:
        - description: "Required. Parent resource of the EndpointAttachment, of the form: `projects/*/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the EndpointAttachment. Must be unique within scope of the parent resource.
          in: query
          name: endpointAttachmentId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndpointAttachment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/eventSubscriptions:
    get:
      description: List EventSubscriptions in a given project,location and connection.
      operationId: connectors.projects.locations.connections.eventSubscriptions.list
      parameters:
        - description: "Required. Parent resource of the EventSubscription, of the form: `projects/*/locations/*/connections/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by parameters.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventSubscriptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new EventSubscription in a given project,location and connection.
      operationId: connectors.projects.locations.connections.eventSubscriptions.create
      parameters:
        - description: "Required. Parent resource of the EventSubscription, of the form: `projects/*/locations/*/connections/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the Event Subscription. Must be unique within scope of the parent resource.
          in: query
          name: eventSubscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventSubscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/eventtypes:
    get:
      description: Lists Event Types in a given Connector Version.
      operationId: connectors.projects.locations.providers.connectors.versions.eventtypes.list
      parameters:
        - description: "Required. Parent resource of the connectors, of the form: `projects/*/locations/*/providers/*/connectors/*/versions/*` Only global location is supported for EventType resource."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventTypesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/managedZones:
    get:
      description: List ManagedZones in a given project
      operationId: connectors.projects.locations.global.managedZones.list
      parameters:
        - description: "Required. Parent resource of the Managed Zone, of the form: `projects/*/locations/global`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by parameters.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListManagedZonesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ManagedZone in a given project and location.
      operationId: connectors.projects.locations.global.managedZones.create
      parameters:
        - description: "Required. Parent resource of the ManagedZone, of the form: `projects/*/locations/global`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifier to assign to the ManagedZone. Must be unique within scope of the parent resource.
          in: query
          name: managedZoneId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/providers:
    get:
      description: Lists Providers in a given project and location.
      operationId: connectors.projects.locations.providers.list
      parameters:
        - description: "Required. Parent resource of the API, of the form: `projects/*/locations/*` Only global location is supported for Provider resource."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/runtimeActionSchemas:
    get:
      description: List schema of a runtime actions filtered by action name.
      operationId: connectors.projects.locations.connections.runtimeActionSchemas.list
      parameters:
        - description: "Required. Parent resource of RuntimeActionSchema Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Required. Filter Format: action="{actionId}" Only action field is supported with literal equality operator. Accepted filter example: action="CancelOrder" Wildcards are not supported in the filter currently.'
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRuntimeActionSchemasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/runtimeEntitySchemas:
    get:
      description: List schema of a runtime entities filtered by entity name.
      operationId: connectors.projects.locations.connections.runtimeEntitySchemas.list
      parameters:
        - description: "Required. Parent resource of RuntimeEntitySchema Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Required. Filter Format: entity="{entityId}" Only entity field is supported with literal equality operator. Accepted filter example: entity="Order" Wildcards are not supported in the filter currently.'
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRuntimeEntitySchemasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/versions:
    get:
      description: Lists Connector Versions in a given project and location.
      operationId: connectors.projects.locations.providers.connectors.versions.list
      parameters:
        - description: "Required. Parent resource of the connectors, of the form: `projects/*/locations/*/providers/*/connectors/*` Only global location is supported for ConnectorVersion resource."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Specifies which fields of the ConnectorVersion are returned in the response. Defaults to `BASIC` view.
          in: query
          name: view
          schema:
            enum:
              - CONNECTOR_VERSION_VIEW_UNSPECIFIED
              - CONNECTOR_VERSION_VIEW_BASIC
              - CONNECTOR_VERSION_VIEW_FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectorVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{resourcePath}:listenEvent:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: ListenEvent listens to the event.
      operationId: connectors.projects.locations.connections.listenEvent
      parameters:
        - description: Required. Resource path for request.
          in: path
          name: resourcePath
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListenEventRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListenEventResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: connectors.projects.locations.providers.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{resource}:setIamPolicy:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: connectors.projects.locations.providers.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{resource}:testIamPermissions:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: connectors.projects.locations.providers.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    AuthConfig:
      description: AuthConfig defines details of a authentication type.
      properties:
        additionalVariables:
          description: List containing additional auth configs.
          items:
            $ref: "#/components/schemas/ConfigVariable"
          type: array
        authKey:
          description: Identifier key for auth config
          type: string
        authType:
          description: The type of authentication configured.
          enum:
            - AUTH_TYPE_UNSPECIFIED
            - USER_PASSWORD
            - OAUTH2_JWT_BEARER
            - OAUTH2_CLIENT_CREDENTIALS
            - SSH_PUBLIC_KEY
            - OAUTH2_AUTH_CODE_FLOW
            - GOOGLE_AUTHENTICATION
          type: string
        oauth2AuthCodeFlow:
          $ref: "#/components/schemas/Oauth2AuthCodeFlow"
          description: Oauth2AuthCodeFlow.
        oauth2ClientCredentials:
          $ref: "#/components/schemas/Oauth2ClientCredentials"
          description: Oauth2ClientCredentials.
        oauth2JwtBearer:
          $ref: "#/components/schemas/Oauth2JwtBearer"
          description: Oauth2JwtBearer.
        sshPublicKey:
          $ref: "#/components/schemas/SshPublicKey"
          description: SSH Public Key.
        userPassword:
          $ref: "#/components/schemas/UserPassword"
          description: UserPassword.
      type: object
    AuthConfigTemplate:
      description: AuthConfigTemplate defines required field over an authentication type.
      properties:
        authKey:
          description: Identifier key for auth config
          type: string
        authType:
          description: The type of authentication configured.
          enum:
            - AUTH_TYPE_UNSPECIFIED
            - USER_PASSWORD
            - OAUTH2_JWT_BEARER
            - OAUTH2_CLIENT_CREDENTIALS
            - SSH_PUBLIC_KEY
            - OAUTH2_AUTH_CODE_FLOW
            - GOOGLE_AUTHENTICATION
          type: string
        configVariableTemplates:
          description: Config variables to describe an `AuthConfig` for a `Connection`.
          items:
            $ref: "#/components/schemas/ConfigVariableTemplate"
          type: array
        description:
          description: Connector specific description for an authentication template.
          type: string
        displayName:
          description: Display name for authentication template.
          type: string
      type: object
    AuthorizationCodeLink:
      description: This configuration captures the details required to render an authorization link for the OAuth Authorization Code Flow.
      properties:
        clientId:
          description: The client ID assigned to the Google Cloud Connectors OAuth app for the connector data source.
          type: string
        enablePkce:
          description: Whether to enable PKCE for the auth code flow.
          type: boolean
        scopes:
          description: The scopes for which the user will authorize Google Cloud Connectors on the connector data source.
          items:
            type: string
          type: array
        uri:
          description: The base URI the user must click to trigger the authorization code login flow.
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    ConfigVariable:
      description: ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.
      properties:
        boolValue:
          description: Value is a bool.
          type: boolean
        encryptionKeyValue:
          $ref: "#/components/schemas/EncryptionKey"
          description: Value is a Encryption Key.
        intValue:
          description: Value is an integer
          format: int64
          type: string
        key:
          description: Key of the config variable.
          type: string
        secretValue:
          $ref: "#/components/schemas/Secret"
          description: Value is a secret.
        stringValue:
          description: Value is a string.
          type: string
      type: object
    ConfigVariableTemplate:
      description: ConfigVariableTemplate provides metadata about a `ConfigVariable` that is used in a Connection.
      properties:
        authorizationCodeLink:
          $ref: "#/components/schemas/AuthorizationCodeLink"
          description: Authorization code link options. To be populated if `ValueType` is `AUTHORIZATION_CODE`
        description:
          description: Description.
          type: string
        displayName:
          description: Display name of the parameter.
          type: string
        enumOptions:
          description: Enum options. To be populated if `ValueType` is `ENUM`
          items:
            $ref: "#/components/schemas/EnumOption"
          type: array
        isAdvanced:
          description: Indicates if current template is part of advanced settings
          type: boolean
        key:
          description: Key of the config variable.
          type: string
        locationType:
          description: Optional. Location Tyep denotes where this value should be sent in BYOC connections.
          enum:
            - LOCATION_TYPE_UNSPECIFIED
            - HEADER
            - PAYLOAD
            - QUERY_PARAM
            - PATH_PARAM
          type: string
        required:
          description: Flag represents that this `ConfigVariable` must be provided for a connection.
          type: boolean
        requiredCondition:
          $ref: "#/components/schemas/LogicalExpression"
          description: Condition under which a field would be required. The condition can be represented in the form of a logical expression.
        roleGrant:
          $ref: "#/components/schemas/RoleGrant"
          description: Role grant configuration for the config variable.
        state:
          description: State of the config variable.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - DEPRECATED
          type: string
        validationRegex:
          description: Regular expression in RE2 syntax used for validating the `value` of a `ConfigVariable`.
          type: string
        valueType:
          description: "Type of the parameter: string, int, bool etc. consider custom type for the benefit for the validation."
          enum:
            - VALUE_TYPE_UNSPECIFIED
            - STRING
            - INT
            - BOOL
            - SECRET
            - ENUM
            - AUTHORIZATION_CODE
            - ENCRYPTION_KEY
          type: string
      type: object
    Connection:
      description: Connection represents an instance of connector.
      properties:
        authConfig:
          $ref: "#/components/schemas/AuthConfig"
          description: Optional. Configuration for establishing the connection's authentication with an external system.
        configVariables:
          description: Optional. Configuration for configuring the connection with an external system.
          items:
            $ref: "#/components/schemas/ConfigVariable"
          type: array
        connectionRevision:
          description: Output only. Connection revision. This field is only updated when the connection is created or updated by User.
          format: int64
          readOnly: true
          type: string
        connectorVersion:
          description: "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
          type: string
        connectorVersionInfraConfig:
          $ref: "#/components/schemas/ConnectorVersionInfraConfig"
          description: Output only. Infra configs supported by Connector Version.
          readOnly: true
        connectorVersionLaunchStage:
          description: Output only. Flag to mark the version indicating the launch stage.
          enum:
            - LAUNCH_STAGE_UNSPECIFIED
            - PREVIEW
            - GA
            - DEPRECATED
            - PRIVATE_PREVIEW
          readOnly: true
          type: string
        createTime:
          description: Output only. Created time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. Description of the resource.
          type: string
        destinationConfigs:
          description: Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).
          items:
            $ref: "#/components/schemas/DestinationConfig"
          type: array
        envoyImageLocation:
          description: "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          readOnly: true
          type: string
        eventingConfig:
          $ref: "#/components/schemas/EventingConfig"
          description: Optional. Eventing config of a connection
        eventingEnablementType:
          description: Optional. Eventing enablement type. Will be nil if eventing is not enabled.
          enum:
            - EVENTING_ENABLEMENT_TYPE_UNSPECIFIED
            - EVENTING_AND_CONNECTION
            - ONLY_EVENTING
          type: string
        eventingRuntimeData:
          $ref: "#/components/schemas/EventingRuntimeData"
          description: Output only. Eventing Runtime Data.
          readOnly: true
        imageLocation:
          description: "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          readOnly: true
          type: string
        isTrustedTester:
          description: Output only. Is trusted tester program enabled for the project.
          readOnly: true
          type: boolean
        labels:
          additionalProperties:
            type: string
          description: Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources
          type: object
        lockConfig:
          $ref: "#/components/schemas/LockConfig"
          description: Optional. Configuration that indicates whether or not the Connection can be edited.
        logConfig:
          $ref: "#/components/schemas/ConnectorsLogConfig"
          description: Optional. Log configuration for the connection.
        name:
          description: "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
          readOnly: true
          type: string
        nodeConfig:
          $ref: "#/components/schemas/NodeConfig"
          description: Optional. Node configuration for the connection.
        serviceAccount:
          description: Optional. Service account needed for runtime plane to access Google Cloud resources.
          type: string
        serviceDirectory:
          description: Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. "projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors"
          readOnly: true
          type: string
        sslConfig:
          $ref: "#/components/schemas/SslConfig"
          description: Optional. Ssl config of a connection
        status:
          $ref: "#/components/schemas/ConnectionStatus"
          description: Output only. Current status of the connection.
          readOnly: true
        subscriptionType:
          description: Output only. This subscription type enum states the subscription type of the project.
          enum:
            - SUBSCRIPTION_TYPE_UNSPECIFIED
            - PAY_G
            - PAID
          readOnly: true
          type: string
        suspended:
          description: Optional. Suspended indicates if a user has suspended a connection or not.
          type: boolean
        updateTime:
          description: Output only. Updated time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ConnectionSchemaMetadata:
      description: ConnectionSchemaMetadata is the singleton resource of each connection. It includes the entity and action names of runtime resources exposed by a connection backend.
      properties:
        actions:
          description: Output only. List of actions.
          items:
            type: string
          readOnly: true
          type: array
        entities:
          description: Output only. List of entity names.
          items:
            type: string
          readOnly: true
          type: array
        errorMessage:
          description: Error message for users.
          type: string
        name:
          description: "Output only. Resource name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata"
          readOnly: true
          type: string
        refreshTime:
          description: Output only. Timestamp when the connection runtime schema refresh was triggered.
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: Output only. The current state of runtime schema.
          enum:
            - STATE_UNSPECIFIED
            - REFRESHING
            - UPDATED
            - REFRESHING_SCHEMA_METADATA
            - UPDATED_SCHEMA_METADATA
            - REFRESH_SCHEMA_METADATA_FAILED
            - REFRESHING_FULL_SCHEMA
            - UPDATED_FULL_SCHEMA
          readOnly: true
          type: string
        updateTime:
          description: Output only. Timestamp when the connection runtime schema was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ConnectionStatus:
      description: ConnectionStatus indicates the state of the connection.
      properties:
        description:
          description: Description.
          type: string
        state:
          description: State.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - ACTIVE
            - INACTIVE
            - DELETING
            - UPDATING
            - ERROR
            - AUTHORIZATION_REQUIRED
          type: string
        status:
          description: Status provides detailed information for the state.
          type: string
      type: object
    Connector:
      description: Connectors indicates a specific connector type, e.x. Salesforce, SAP etc.
      properties:
        createTime:
          description: Output only. Created time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Output only. Description of the resource.
          readOnly: true
          type: string
        displayName:
          description: Output only. Display name.
          readOnly: true
          type: string
        documentationUri:
          description: Output only. Link to documentation page.
          readOnly: true
          type: string
        eventingDetails:
          $ref: "#/components/schemas/EventingDetails"
          description: Output only. Eventing details. Will be null if eventing is not supported.
          readOnly: true
        externalUri:
          description: Output only. Link to external page.
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources
          readOnly: true
          type: object
        launchStage:
          description: Output only. Flag to mark the version indicating the launch stage.
          enum:
            - LAUNCH_STAGE_UNSPECIFIED
            - PREVIEW
            - GA
            - DEPRECATED
            - PRIVATE_PREVIEW
          readOnly: true
          type: string
        name:
          description: "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource."
          readOnly: true
          type: string
        updateTime:
          description: Output only. Updated time.
          format: google-datetime
          readOnly: true
          type: string
        webAssetsLocation:
          description: Output only. Cloud storage location of icons etc consumed by UI.
          readOnly: true
          type: string
      type: object
    ConnectorInfraConfig:
      description: This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version
      properties:
        connectionRatelimitWindowSeconds:
          description: The window used for ratelimiting runtime requests to connections.
          format: int64
          type: string
        deploymentModel:
          description: Indicate whether connector is deployed on GKE/CloudRun
          enum:
            - DEPLOYMENT_MODEL_UNSPECIFIED
            - GKE_MST
            - CLOUD_RUN_MST
          type: string
        hpaConfig:
          $ref: "#/components/schemas/HPAConfig"
          description: HPA autoscaling config.
        internalclientRatelimitThreshold:
          description: Max QPS supported for internal requests originating from Connd.
          format: int64
          type: string
        ratelimitThreshold:
          description: Max QPS supported by the connector version before throttling of requests.
          format: int64
          type: string
        resourceLimits:
          $ref: "#/components/schemas/ResourceLimits"
          description: System resource limits.
        resourceRequests:
          $ref: "#/components/schemas/ResourceRequests"
          description: System resource requests.
        sharedDeployment:
          description: The name of shared connector deployment.
          type: string
      type: object
    ConnectorVersion:
      description: ConnectorVersion indicates a specific version of a connector.
      properties:
        authConfigTemplates:
          description: Output only. List of auth configs supported by the Connector Version.
          items:
            $ref: "#/components/schemas/AuthConfigTemplate"
          readOnly: true
          type: array
        configVariableTemplates:
          description: Output only. List of config variables needed to create a connection.
          items:
            $ref: "#/components/schemas/ConfigVariableTemplate"
          readOnly: true
          type: array
        connectorInfraConfig:
          $ref: "#/components/schemas/ConnectorInfraConfig"
          description: Output only. Infra configs supported by Connector.
          readOnly: true
        createTime:
          description: Output only. Created time.
          format: google-datetime
          readOnly: true
          type: string
        destinationConfigTemplates:
          description: Output only. List of destination configs needed to create a connection.
          items:
            $ref: "#/components/schemas/DestinationConfigTemplate"
          readOnly: true
          type: array
        displayName:
          description: Output only. Display name.
          readOnly: true
          type: string
        egressControlConfig:
          $ref: "#/components/schemas/EgressControlConfig"
          description: Output only. Configuration for Egress Control.
          readOnly: true
        eventingConfigTemplate:
          $ref: "#/components/schemas/EventingConfigTemplate"
          description: Output only. Eventing configuration supported by the Connector.
          readOnly: true
        labels:
          additionalProperties:
            type: string
          description: Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources
          readOnly: true
          type: object
        launchStage:
          description: Output only. Flag to mark the version indicating the launch stage.
          enum:
            - LAUNCH_STAGE_UNSPECIFIED
            - PREVIEW
            - GA
            - DEPRECATED
            - PRIVATE_PREVIEW
          readOnly: true
          type: string
        name:
          description: "Output only. Resource name of the Version. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version} Only global location is supported for Connector resource."
          readOnly: true
          type: string
        releaseVersion:
          description: 'Output only. ReleaseVersion of the connector, for example: "1.0.1-alpha".'
          readOnly: true
          type: string
        roleGrant:
          $ref: "#/components/schemas/RoleGrant"
          description: Output only. Role grant configuration for this config variable. It will be DEPRECATED soon.
          readOnly: true
        roleGrants:
          description: Output only. Role grant configurations for this connector version.
          items:
            $ref: "#/components/schemas/RoleGrant"
          readOnly: true
          type: array
        sslConfigTemplate:
          $ref: "#/components/schemas/SslConfigTemplate"
          description: Output only. Ssl configuration supported by the Connector.
          readOnly: true
        supportedRuntimeFeatures:
          $ref: "#/components/schemas/SupportedRuntimeFeatures"
          description: Output only. Information about the runtime features supported by the Connector.
          readOnly: true
        unsupportedConnectionTypes:
          description: Output only. Unsupported connection types.
          items:
            enum:
              - CONNECTION_TYPE_UNSPECIFIED
              - CONNECTION_WITH_EVENTING
              - ONLY_CONNECTION
              - ONLY_EVENTING
            type: string
          readOnly: true
          type: array
        updateTime:
          description: Output only. Updated time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ConnectorVersionInfraConfig:
      description: This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version
      properties:
        connectionRatelimitWindowSeconds:
          description: Output only. The window used for ratelimiting runtime requests to connections.
          format: int64
          readOnly: true
          type: string
        deploymentModel:
          description: Optional. Indicates whether connector is deployed on GKE/CloudRun
          enum:
            - DEPLOYMENT_MODEL_UNSPECIFIED
            - GKE_MST
            - CLOUD_RUN_MST
          type: string
        hpaConfig:
          $ref: "#/components/schemas/HPAConfig"
          description: Output only. HPA autoscaling config.
          readOnly: true
        internalclientRatelimitThreshold:
          description: Output only. Max QPS supported for internal requests originating from Connd.
          format: int64
          readOnly: true
          type: string
        ratelimitThreshold:
          description: Output only. Max QPS supported by the connector version before throttling of requests.
          format: int64
          readOnly: true
          type: string
        resourceLimits:
          $ref: "#/components/schemas/ResourceLimits"
          description: Output only. System resource limits.
          readOnly: true
        resourceRequests:
          $ref: "#/components/schemas/ResourceRequests"
          description: Output only. System resource requests.
          readOnly: true
        sharedDeployment:
          description: Output only. The name of shared connector deployment.
          readOnly: true
          type: string
      type: object
    ConnectorsLogConfig:
      description: Log configuration for the connection.
      properties:
        enabled:
          description: Enabled represents whether logging is enabled or not for a connection.
          type: boolean
      type: object
    CustomConnector:
      description: CustomConnector represents the custom connector defined by the customer as part of byoc.
      properties:
        activeConnectorVersions:
          description: Optional. Active connector versions.
          items:
            type: string
          type: array
        createTime:
          description: Output only. Created time.
          format: google-datetime
          readOnly: true
          type: string
        customConnectorType:
          description: Required. Type of the custom connector.
          enum:
            - CUSTOM_CONNECTOR_TYPE_UNSPECIFIED
            - OPEN_API
            - PROTO
          type: string
        description:
          description: Optional. Description of the resource.
          type: string
        displayName:
          description: Optional. Display name.
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources
          type: object
        logo:
          description: Optional. Logo of the resource.
          type: string
        name:
          description: "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
          type: string
        updateTime:
          description: Output only. Updated time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    CustomConnectorVersion:
      description: CustomConnectorVersion indicates a specific version of a connector.
      properties:
        authConfig:
          $ref: "#/components/schemas/AuthConfig"
          description: Optional. Authentication config for accessing connector facade/ proxy. This is used only when enable_backend_destination_config is true.
        backendVariableTemplates:
          description: Optional. Backend variables config templates. This translates to additional variable templates in connection.
          items:
            $ref: "#/components/schemas/ConfigVariableTemplate"
          type: array
        createTime:
          description: Output only. Created time.
          format: google-datetime
          readOnly: true
          type: string
        destinationConfigs:
          description: Optional. Destination config(s) for accessing connector facade/ proxy. This is used only when enable_backend_destination_config is true.
          items:
            $ref: "#/components/schemas/DestinationConfig"
          type: array
        enableBackendDestinationConfig:
          description: Optional. When enabled, the connector will be a facade/ proxy, and connects to the destination provided during connection creation.
          type: boolean
        labels:
          additionalProperties:
            type: string
          description: Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources
          type: object
        name:
          description: "Output only. Identifier. Resource name of the Version. Format: projects/{project}/locations/{location}/customConnectors/{custom_connector}/customConnectorVersions/{custom_connector_version}"
          readOnly: true
          type: string
        serviceAccount:
          description: Optional. Service account used by runtime plane to access auth config secrets.
          type: string
        specLocation:
          description: Optional. Location of the custom connector spec. The location can be either a public url like `https://public-url.com/spec` Or a Google Cloud Storage location like `gs:///`
          type: string
        state:
          description: Output only. State of the custom connector version.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - DEPRECATED
          readOnly: true
          type: string
        updateTime:
          description: Output only. Updated time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    DailyCycle:
[...]
