openapi: 3.0.3
servers:
  - url: https://ob.nordigen.com
info:
  title: Nordigen Account Information Services API
  version: 2.0 (v2)
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.nordigen.com_static_assets_img_nordigen_favicon_favicon-196x196.png
  x-origin:
    - format: openapi
      url: https://ob.nordigen.com/api/swagger.json
      version: "3.0"
  x-providerName: nordigen.com
security:
  - jwtAuth: []
paths:
  "/api/v2/accounts/premium/{id}/transactions/":
    get:
      description: Access account premium transactions.
      operationId: retrieve account transactions v2
      parameters:
        - description: ISO 3166 two-character country code
          examples:
            Austria:
              description: ISO 3166 two-character code for Austria
              summary: Austria
              value: AT
            Belgium:
              description: ISO 3166 two-character code for Belgium
              summary: Belgium
              value: BE
            Bulgaria:
              description: ISO 3166 two-character code for Bulgaria
              summary: Bulgaria
              value: BG
            Croatia:
              description: ISO 3166 two-character code for Croatia
              summary: Croatia
              value: HR
            Cyprus:
              description: ISO 3166 two-character code for Cyprus
              summary: Cyprus
              value: CY
            Czechia:
              description: ISO 3166 two-character code for Czechia
              summary: Czechia
              value: CZ
            Denmark:
              description: ISO 3166 two-character code for Denmark
              summary: Denmark
              value: DK
            Estonia:
              description: ISO 3166 two-character code for Estonia
              summary: Estonia
              value: EE
            Finland:
              description: ISO 3166 two-character code for Finland
              summary: Finland
              value: FI
            France:
              description: ISO 3166 two-character code for France
              summary: France
              value: FR
            Germany:
              description: ISO 3166 two-character code for Germany
              summary: Germany
              value: DE
            Greece:
              description: ISO 3166 two-character code for Greece
              summary: Greece
              value: GR
            Hungary:
              description: ISO 3166 two-character code for Hungary
              summary: Hungary
              value: HU
            Iceland:
              description: ISO 3166 two-character code for Iceland
              summary: Iceland
              value: IS
            Ireland:
              description: ISO 3166 two-character code for Ireland
              summary: Ireland
              value: IE
            Italy:
              description: ISO 3166 two-character code for Italy
              summary: Italy
              value: IT
            Latvia:
              description: ISO 3166 two-character code for Latvia
              summary: Latvia
              value: LV
            Liechtenstein:
              description: ISO 3166 two-character code for Liechtenstein
              summary: Liechtenstein
              value: LI
            Lithuania:
              description: ISO 3166 two-character code for Lithuania
              summary: Lithuania
              value: LT
            Luxembourg:
              description: ISO 3166 two-character code for Luxembourg
              summary: Luxembourg
              value: LU
            Malta:
              description: ISO 3166 two-character code for Malta
              summary: Malta
              value: MT
            Netherlands:
              description: ISO 3166 two-character code for Netherlands
              summary: Netherlands
              value: NL
            Norway:
              description: ISO 3166 two-character code for Norway
              summary: Norway
              value: NO
            Poland:
              description: ISO 3166 two-character code for Poland
              summary: Poland
              value: PL
            Portugal:
              description: ISO 3166 two-character code for Portugal
              summary: Portugal
              value: PT
            Romania:
              description: ISO 3166 two-character code for Romania
              summary: Romania
              value: RO
            Slovakia:
              description: ISO 3166 two-character code for Slovakia
              summary: Slovakia
              value: SK
            Slovenia:
              description: ISO 3166 two-character code for Slovenia
              summary: Slovenia
              value: SI
            Spain:
              description: ISO 3166 two-character code for Spain
              summary: Spain
              value: ES
            Sweden:
              description: ISO 3166 two-character code for Sweden
              summary: Sweden
              value: SE
            UnitedKingdom:
              description: ISO 3166 two-character code for United Kingdom
              summary: United Kingdom
              value: GB
          in: query
          name: country
          schema:
            type: string
        - examples:
            2022-12-03:
              description: ISO 8601 format date
              summary: 2022-12-03
              value: 2022-12-03
          in: query
          name: date_from
          schema:
            format: date
            type: string
        - examples:
            2023-03-03:
              description: ISO 8601 format date
              summary: 2023-03-03
              value: 2023-03-03
          in: query
          name: date_to
          schema:
            format: date
            type: string
        - in: path
          name: id
          required: true
          schema:
            description: A UUID string identifying this account.
            format: uuid
            type: string
      responses:
        "200":
          description: No response body
        "400":
          content:
            application/json:
              examples:
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    detail: Starting date '2023-03-13' is greater than end date '2023-03-03'. When specifying date range, starting date must precede the end date
                    status_code: 400
                    summary: Incorrect date range
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    detail: "$ACCOUNT_ID is not a valid Account UUID. "
                    status_code: 400
                    summary: Invalid Account ID
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "401":
          content:
            application/json:
              examples:
                AccessExpiredError:
                  description: Couldn't update account transactions
                  summary: Access Expired Error
                  value:
                    detail: Access has expired or it has been revoked. To restore access reconnect the account.
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: AccessExpiredError
                AccountInactiveError:
                  description: Couldn't update account transactions
                  summary: Account Inactive Error
                  value:
                    detail: Account has been deactivated or it no longer exists.
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: AccountInactiveError
                FailedAuthentication:
                  description: Couldn't update account transactions
                  summary: Failed Authentication
                  value:
                    detail: SSN Verification has failed
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: FailedAuthentication
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "403":
          content:
            application/json:
              examples:
                AccountAccessForbidden:
                  description: Couldn't update account transactions
                  summary: Account Access Forbidden
                  value:
                    detail: Access to account is forbidden. The user might not have the necessary permissions.
                    status_code: 403
                    summary: Couldn't update account transactions
                    type: AccountAccessForbidden
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account transactions.
                  summary: Account EUA scope error
                  value:
                    detail: EUA doesn't allow access to account transactions. Check EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                    summary: End User Agreement (EUA) access scope error
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    detail: Account exists but there is no valid End User Agreement permitting you to access it
                    status_code: 403
                    summary: No valid End User Agreement
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "404":
          content:
            application/json:
              examples:
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    detail: Please check whether you specified a valid Account ID
                    status_code: 404
                    summary: Account ID $ACC_ID not found
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "409":
          content:
            application/json:
              examples:
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    aspsp_identifier: string
                    created: 2023-03-03 17:05:05.270281+00:00
                    iban: string
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    last_accessed: 2023-03-03 17:05:05.270299+00:00
                    status: ERROR
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    detail: This account or its requisition was suspended due to numerous errors that occurred while accessing it.
                    status_code: 409
                    summary: Account suspended
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account transactions
                  summary: Rate Limit Error
                  value:
                    detail: Daily request limit set by the Institution has been exceeded.
                    status_code: 429
                    summary: Couldn't update account transactions
                    type: RateLimitError
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account transactions
                  summary: Unknown Request Error
                  value:
                    detail: Request to Institution returned an error
                    status_code: 500
                    summary: Couldn't update account transactions
                    type: UnknownRequestError
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "503":
          content:
            application/json:
              examples:
                ConnectionError:
                  description: Couldn't update account transactions
                  summary: Connection Error
                  value:
                    detail: Couldn't connect to Institution
                    status_code: 503
                    summary: Couldn't update account transactions
                    type: ConnectionError
                ServiceError:
                  description: Couldn't update account transactions
                  summary: Service Error
                  value:
                    detail: Institution service unavailable
                    status_code: 503
                    summary: Couldn't update account transactions
                    type: ServiceError
              schema:
                additionalProperties: {}
                type: object
          description: ""
      tags:
        - premium
  "/api/v2/accounts/{id}/":
    get:
      description: |-
        Access account metadata.

        Information about the account record, such as the processing status and IBAN.

        Account status is recalculated based on the error count in the latest req.
      operationId: retrieve account metadata
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: A UUID string identifying this account.
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2"
          description: sample account metadata
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                type: object
          description: ""
        "404":
          content:
            application/json:
              examples:
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    detail: Please check whether you specified a valid Account ID
                    status_code: 404
                    summary: Account ID $ACC_ID not found
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account not found
      tags:
        - accounts
  "/api/v2/accounts/{id}/balances/":
    get:
      description: |-
        Access account balances.

        Balances will be returned in Berlin Group PSD2 format.
      operationId: accounts_balances_retrieve
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: A UUID string identifying this account.
            format: uuid
            type: string
      responses:
        "400":
          content:
            application/json:
              examples:
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    detail: Starting date '2023-03-13' is greater than end date '2023-03-03'. When specifying date range, starting date must precede the end date
                    status_code: 400
                    summary: Incorrect date range
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    detail: "$ACCOUNT_ID is not a valid Account UUID. "
                    status_code: 400
                    summary: Invalid Account ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Date range error
        "401":
          content:
            application/json:
              examples:
                AccessExpiredError:
                  description: Couldn't update account balances
                  summary: Access Expired Error
                  value:
                    detail: Access has expired or it has been revoked. To restore access reconnect the account.
                    status_code: 401
                    summary: Couldn't update account balances
                    type: AccessExpiredError
                AccountInactiveError:
                  description: Couldn't update account balances
                  summary: Account Inactive Error
                  value:
                    detail: Account has been deactivated or it no longer exists.
                    status_code: 401
                    summary: Couldn't update account balances
                    type: AccountInactiveError
                FailedAuthentication:
                  description: Couldn't update account balances
                  summary: Failed Authentication
                  value:
                    detail: SSN Verification has failed
                    status_code: 401
                    summary: Couldn't update account balances
                    type: FailedAuthentication
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Failed Authentication
        "403":
          content:
            application/json:
              examples:
                AccountAccessForbidden:
                  description: Couldn't update account balances
                  summary: Account Access Forbidden
                  value:
                    detail: Access to account is forbidden. The user might not have the necessary permissions.
                    status_code: 403
                    summary: Couldn't update account balances
                    type: AccountAccessForbidden
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account balances.
                  summary: Account EUA scope error
                  value:
                    detail: EUA doesn't allow access to account balances. Check EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                    summary: End User Agreement (EUA) access scope error
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    detail: Account exists but there is no valid End User Agreement permitting you to access it
                    status_code: 403
                    summary: No valid End User Agreement
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account Access Forbidden
        "404":
          content:
            application/json:
              examples:
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    detail: Please check whether you specified a valid Account ID
                    status_code: 404
                    summary: Account ID $ACC_ID not found
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account not found error
        "409":
          content:
            application/json:
              examples:
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    aspsp_identifier: string
                    created: 2023-03-03 17:05:05.270281+00:00
                    iban: string
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    last_accessed: 2023-03-03 17:05:05.270299+00:00
                    status: ERROR
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    detail: This account or its requisition was suspended due to numerous errors that occurred while accessing it.
                    status_code: 409
                    summary: Account suspended
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account state error
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account balances
                  summary: Rate Limit Error
                  value:
                    detail: Daily request limit set by the Institution has been exceeded.
                    status_code: 429
                    summary: Couldn't update account balances
                    type: RateLimitError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Rate Limit Error
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account balances
                  summary: Unknown Request Error
                  value:
                    detail: Request to Institution returned an error
                    status_code: 500
                    summary: Couldn't update account balances
                    type: UnknownRequestError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Request Error
        "503":
          content:
            application/json:
              examples:
                ConnectionError:
                  description: Couldn't update account balances
                  summary: Connection Error
                  value:
                    detail: Couldn't connect to Institution
                    status_code: 503
                    summary: Couldn't update account balances
                    type: ConnectionError
                ServiceError:
                  description: Couldn't update account balances
                  summary: Service Error
                  value:
                    detail: Institution service unavailable
                    status_code: 503
                    summary: Couldn't update account balances
                    type: ServiceError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Connection Error
      tags:
        - accounts
  "/api/v2/accounts/{id}/details/":
    get:
      description: |-
        Access account details.

        Account details will be returned in Berlin Group PSD2 format.
      operationId: accounts_details_retrieve
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: A UUID string identifying this account.
            format: uuid
            type: string
      responses:
        "400":
          content:
            application/json:
              examples:
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    detail: Starting date '2023-03-13' is greater than end date '2023-03-03'. When specifying date range, starting date must precede the end date
                    status_code: 400
                    summary: Incorrect date range
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    detail: "$ACCOUNT_ID is not a valid Account UUID. "
                    status_code: 400
                    summary: Invalid Account ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Date range error
        "401":
          content:
            application/json:
              examples:
                AccessExpiredError:
                  description: Couldn't update account details
                  summary: Access Expired Error
                  value:
                    detail: Access has expired or it has been revoked. To restore access reconnect the account.
                    status_code: 401
                    summary: Couldn't update account details
                    type: AccessExpiredError
                AccountInactiveError:
                  description: Couldn't update account details
                  summary: Account Inactive Error
                  value:
                    detail: Account has been deactivated or it no longer exists.
                    status_code: 401
                    summary: Couldn't update account details
                    type: AccountInactiveError
                FailedAuthentication:
                  description: Couldn't update account details
                  summary: Failed Authentication
                  value:
                    detail: SSN Verification has failed
                    status_code: 401
                    summary: Couldn't update account details
                    type: FailedAuthentication
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Failed Authentication
        "403":
          content:
            application/json:
              examples:
                AccountAccessForbidden:
                  description: Couldn't update account details
                  summary: Account Access Forbidden
                  value:
                    detail: Access to account is forbidden. The user might not have the necessary permissions.
                    status_code: 403
                    summary: Couldn't update account details
                    type: AccountAccessForbidden
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account details.
                  summary: Account EUA scope error
                  value:
                    detail: EUA doesn't allow access to account details. Check EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                    summary: End User Agreement (EUA) access scope error
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    detail: Account exists but there is no valid End User Agreement permitting you to access it
                    status_code: 403
                    summary: No valid End User Agreement
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account Access Forbidden
        "404":
          content:
            application/json:
              examples:
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    detail: Please check whether you specified a valid Account ID
                    status_code: 404
                    summary: Account ID $ACC_ID not found
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account not found error
        "409":
          content:
            application/json:
              examples:
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    aspsp_identifier: string
                    created: 2023-03-03 17:05:05.270281+00:00
                    iban: string
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    last_accessed: 2023-03-03 17:05:05.270299+00:00
                    status: ERROR
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    detail: This account or its requisition was suspended due to numerous errors that occurred while accessing it.
                    status_code: 409
                    summary: Account suspended
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account state error
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account details
                  summary: Rate Limit Error
                  value:
                    detail: Daily request limit set by the Institution has been exceeded.
                    status_code: 429
                    summary: Couldn't update account details
                    type: RateLimitError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Rate Limit Error
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account details
                  summary: Unknown Request Error
                  value:
                    detail: Request to Institution returned an error
                    status_code: 500
                    summary: Couldn't update account details
                    type: UnknownRequestError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Request Error
        "503":
          content:
            application/json:
              examples:
                ConnectionError:
                  description: Couldn't update account details
                  summary: Connection Error
                  value:
                    detail: Couldn't connect to Institution
                    status_code: 503
                    summary: Couldn't update account details
                    type: ConnectionError
                ServiceError:
                  description: Couldn't update account details
                  summary: Service Error
                  value:
                    detail: Institution service unavailable
                    status_code: 503
                    summary: Couldn't update account details
                    type: ServiceError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Connection Error
      tags:
        - accounts
  "/api/v2/accounts/{id}/transactions/":
    get:
      description: |-
        Access account transactions.

        Transactions will be returned in Berlin Group PSD2 format.
      operationId: accounts_transactions_retrieve
      parameters:
        - examples:
            2022-12-03:
              description: ISO 8601 format date
              summary: 2022-12-03
              value: 2022-12-03
          in: query
          name: date_from
          schema:
            format: date
            type: string
        - examples:
            2023-03-03:
              description: ISO 8601 format date
              summary: 2023-03-03
              value: 2023-03-03
          in: query
          name: date_to
          schema:
            format: date
            type: string
        - in: path
          name: id
          required: true
          schema:
            description: A UUID string identifying this account.
            format: uuid
            type: string
      responses:
        "400":
          content:
            application/json:
              examples:
                DateRangeError:
                  description: Incorrect date range in query parameters
                  summary: Date range error
                  value:
                    detail: Starting date '2023-03-13' is greater than end date '2023-03-03'. When specifying date range, starting date must precede the end date
                    status_code: 400
                    summary: Incorrect date range
                InvalidID:
                  description: Invalid Account ID
                  summary: Invalid ID
                  value:
                    detail: "$ACCOUNT_ID is not a valid Account UUID. "
                    status_code: 400
                    summary: Invalid Account ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Date range error
        "401":
          content:
            application/json:
              examples:
                AccessExpiredError:
                  description: Couldn't update account transactions
                  summary: Access Expired Error
                  value:
                    detail: Access has expired or it has been revoked. To restore access reconnect the account.
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: AccessExpiredError
                AccountInactiveError:
                  description: Couldn't update account transactions
                  summary: Account Inactive Error
                  value:
                    detail: Account has been deactivated or it no longer exists.
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: AccountInactiveError
                FailedAuthentication:
                  description: Couldn't update account transactions
                  summary: Failed Authentication
                  value:
                    detail: SSN Verification has failed
                    status_code: 401
                    summary: Couldn't update account transactions
                    type: FailedAuthentication
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Failed Authentication
        "403":
          content:
            application/json:
              examples:
                AccountAccessForbidden:
                  description: Couldn't update account transactions
                  summary: Account Access Forbidden
                  value:
                    detail: Access to account is forbidden. The user might not have the necessary permissions.
                    status_code: 403
                    summary: Couldn't update account transactions
                    type: AccountAccessForbidden
                AccountEUAScopeError:
                  description: EUA doesn't allow access to account transactions.
                  summary: Account EUA scope error
                  value:
                    detail: EUA doesn't allow access to account transactions. Check EUA access scope. Or create new EUA with correct access scope
                    status_code: 403
                    summary: End User Agreement (EUA) access scope error
                AccountValidEUAError:
                  description: Account has no valid End User Agreement
                  summary: Account valid EUA error
                  value:
                    detail: Account exists but there is no valid End User Agreement permitting you to access it
                    status_code: 403
                    summary: No valid End User Agreement
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account Access Forbidden
        "404":
          content:
            application/json:
              examples:
                AccountNotFoundError:
                  description: Account not found
                  summary: Account not found error
                  value:
                    detail: Please check whether you specified a valid Account ID
                    status_code: 404
                    summary: Account ID $ACC_ID not found
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account not found error
        "409":
          content:
            application/json:
              examples:
                AccountStateError:
                  description: Account state does not support this operation
                  summary: Account state error
                  value:
                    aspsp_identifier: string
                    created: 2023-03-03 17:05:05.270281+00:00
                    iban: string
                    id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    last_accessed: 2023-03-03 17:05:05.270299+00:00
                    status: ERROR
                AccountSuspendedError:
                  description: Account or its requisition suspended
                  summary: Account suspended error
                  value:
                    detail: This account or its requisition was suspended due to numerous errors that occurred while accessing it.
                    status_code: 409
                    summary: Account suspended
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Account state error
        "429":
          content:
            application/json:
              examples:
                RateLimitError:
                  description: Couldn't update account transactions
                  summary: Rate Limit Error
                  value:
                    detail: Daily request limit set by the Institution has been exceeded.
                    status_code: 429
                    summary: Couldn't update account transactions
                    type: RateLimitError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Rate Limit Error
        "500":
          content:
            application/json:
              examples:
                UnknownRequestError:
                  description: Couldn't update account transactions
                  summary: Unknown Request Error
                  value:
                    detail: Request to Institution returned an error
                    status_code: 500
                    summary: Couldn't update account transactions
                    type: UnknownRequestError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Request Error
        "503":
          content:
            application/json:
              examples:
                ConnectionError:
                  description: Couldn't update account transactions
                  summary: Connection Error
                  value:
                    detail: Couldn't connect to Institution
                    status_code: 503
                    summary: Couldn't update account transactions
                    type: ConnectionError
                ServiceError:
                  description: Couldn't update account transactions
                  summary: Service Error
                  value:
                    detail: Institution service unavailable
                    status_code: 503
                    summary: Couldn't update account transactions
                    type: ServiceError
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Connection Error
      tags:
        - accounts
  /api/v2/agreements/enduser/:
    get:
      description: Retrieve all end user agreements belonging to the company
      operationId: retrieve all EUAs for an end user v2
      parameters:
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            default: 100
            minimum: 1
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEndUserAgreementList"
          description: Retrieve all end user agreements
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - agreements
    post:
      description: Create an end user agreement
      operationId: create EUA v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndUserAgreementRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EndUserAgreementRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/EndUserAgreementRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUserAgreement"
          description: Create enduser agreement
        "400":
          content:
            application/json:
              examples:
                AccessScopeFieldErrors:
                  description: Errors related to 'access_scope' field.
                  summary: Access scope field errors
                  value:
                    access_scope:
                      - detail: Choose one or several from ['balances', 'details', 'transactions']
                        summary: Unknown value '$SCOPE' in access_scope
                      - detail: "For this institution the following scopes are required together: ['balances', 'details']"
                        summary: Institution access scope dependencies error
                      - detail: "The following scopes are mandatory for this institution: ['transactions']"
                        summary: Institution access scope dependencies error
                    status_code: 400
                AccessValidForDaysFieldErrors:
                  description: Errors related to 'access_valid_for_days' field.
                  summary: Access valid for days field errors
                  value:
                    access_valid_for_days:
                      - detail: access_valid_for_days must be > 0 and <= 90
                        summary: Incorrect access_valid_for_days
                    status_code: 400
                AgreementFieldErrors:
                  description: Errors related to 'agreement' field.
                  summary: Agreement field errors
                  value:
                    agreement:
                      detail: "Provided Institution ID: '$INSTITUTION_ID' for requisition does not match EUA institution ID '$EUA_INSTITUTION_ID'. Please provide correct institution ID: '$EUA_INSTITUTION_ID'"
                      summary: Incorrect Institution ID $INSTITUTION_ID
                    status_code: 400
                InstitutionFieldErrors:
                  description: Errors related to 'institution' field.
                  summary: Institution field errors
                  value:
                    institution_id:
                      detail: Get Institution IDs from /institutions/?country={$COUNTRY_CODE}
                      summary: Unknown Institution ID $INSTITUTION_ID
                    status_code: 400
                MaxHistoricalDaysFieldErrors:
                  description: Errors related to 'max_historical_days' field.
                  summary: Max historical days field errors
                  value:
                    max_historical_days:
                      - detail: max_historical_days must be > 0 and <= N26_NTSBDEB1 transaction_total_days (730)
                        summary: Incorrect max_historical_days
                    status_code: 400
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Agreement field errors
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
      tags:
        - agreements
  "/api/v2/agreements/enduser/{id}/":
    delete:
      description: Delete an end user agreement
      operationId: delete EUA by id v2
      parameters:
        - description: A UUID string identifying this end user agreement.
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "400":
          content:
            application/json:
              examples:
                CannotDeleteEUA:
                  description: Cannot delete End User Agreement
                  summary: Cannot delete EUA
                  value:
                    detail: "Cannot delete accepted End User Agreement: $EUA_ID. Only non accepted agreements can be deleted"
                    status_code: 400
                    summary: Cannot delete End User Agreement
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
                    summary: Invalid ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid ID
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - agreements
    get:
      description: Retrieve end user agreement by ID
      operationId: retrieve EUA by id v2
      parameters:
        - description: A UUID string identifying this end user agreement.
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUserAgreement"
          description: Retrieve end user agreement by ID
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
                    summary: Invalid ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid ID
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - agreements
  "/api/v2/agreements/enduser/{id}/accept/":
    put:
      description: Accept an end-user agreement via the API
      operationId: accept EUA
      parameters:
        - description: A UUID string identifying this end user agreement.
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnduserAcceptanceDetailsRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/EnduserAcceptanceDetailsRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/EnduserAcceptanceDetailsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUserAgreement"
          description: EUA
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
                    summary: Invalid ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid ID
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
                InsufficientPermissions:
                  description: Company doesn't have permission to accept EUA
                  summary: Insufficient permissions
                  value:
                    detail: Your company doesn't have permission to accept EUA. You'll have to use our default form for this action.
                    status_code: 403
                    summary: Insufficient permissions
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
        "405":
          content:
            application/json:
              examples:
                EUAAccepted:
                  description: End User Agreements cannot be accepted more than once
                  summary: EUA accepted
                  value:
                    detail: End User Agreements cannot be accepted more than once
                    status_code: 405
                    summary: EUA cannot be accepted more than once
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: EUA accepted
      tags:
        - agreements
  /api/v2/institutions/:
    get:
      description: List all available institutions
      operationId: retrieve all supported Institutions in a given country
      parameters:
        - description: ISO 3166 two-character country code
          examples:
            Austria:
              description: ISO 3166 two-character code for Austria
              summary: Austria
              value: AT
            Belgium:
              description: ISO 3166 two-character code for Belgium
              summary: Belgium
              value: BE
            Bulgaria:
              description: ISO 3166 two-character code for Bulgaria
              summary: Bulgaria
              value: BG
            Croatia:
              description: ISO 3166 two-character code for Croatia
              summary: Croatia
              value: HR
            Cyprus:
              description: ISO 3166 two-character code for Cyprus
              summary: Cyprus
              value: CY
            Czechia:
              description: ISO 3166 two-character code for Czechia
              summary: Czechia
              value: CZ
            Denmark:
              description: ISO 3166 two-character code for Denmark
              summary: Denmark
              value: DK
            Estonia:
              description: ISO 3166 two-character code for Estonia
              summary: Estonia
              value: EE
            Finland:
              description: ISO 3166 two-character code for Finland
              summary: Finland
              value: FI
            France:
              description: ISO 3166 two-character code for France
              summary: France
              value: FR
            Germany:
              description: ISO 3166 two-character code for Germany
              summary: Germany
              value: DE
            Greece:
              description: ISO 3166 two-character code for Greece
              summary: Greece
              value: GR
            Hungary:
              description: ISO 3166 two-character code for Hungary
              summary: Hungary
              value: HU
            Iceland:
              description: ISO 3166 two-character code for Iceland
              summary: Iceland
              value: IS
            Ireland:
              description: ISO 3166 two-character code for Ireland
              summary: Ireland
              value: IE
            Italy:
              description: ISO 3166 two-character code for Italy
              summary: Italy
              value: IT
            Latvia:
              description: ISO 3166 two-character code for Latvia
              summary: Latvia
              value: LV
            Liechtenstein:
              description: ISO 3166 two-character code for Liechtenstein
              summary: Liechtenstein
              value: LI
            Lithuania:
              description: ISO 3166 two-character code for Lithuania
              summary: Lithuania
              value: LT
            Luxembourg:
              description: ISO 3166 two-character code for Luxembourg
              summary: Luxembourg
              value: LU
            Malta:
              description: ISO 3166 two-character code for Malta
              summary: Malta
              value: MT
            Netherlands:
              description: ISO 3166 two-character code for Netherlands
              summary: Netherlands
              value: NL
            Norway:
              description: ISO 3166 two-character code for Norway
              summary: Norway
              value: NO
            Poland:
              description: ISO 3166 two-character code for Poland
              summary: Poland
              value: PL
            Portugal:
              description: ISO 3166 two-character code for Portugal
              summary: Portugal
              value: PT
            Romania:
              description: ISO 3166 two-character code for Romania
              summary: Romania
              value: RO
            Slovakia:
              description: ISO 3166 two-character code for Slovakia
              summary: Slovakia
              value: SK
            Slovenia:
              description: ISO 3166 two-character code for Slovenia
              summary: Slovenia
              value: SI
            Spain:
              description: ISO 3166 two-character code for Spain
              summary: Spain
              value: ES
            Sweden:
              description: ISO 3166 two-character code for Sweden
              summary: Sweden
              value: SE
            UnitedKingdom:
              description: ISO 3166 two-character code for United Kingdom
              summary: United Kingdom
              value: GB
          in: query
          name: country
          schema:
            type: string
        - description: Boolean value, indicating if payments are enabled
          examples:
            PaymentsEnabled:
              description: Boolean value representing whether                            payments are enabled
              summary: payments_enabled
              value: "false"
          in: query
          name: payments_enabled
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                SupportedInstitutions:
                  description: some of supported Institutions
                  summary: Supported Institutions
                  value:
                    - bic: NTSBDEB1
                      countries:
                        - GB
                        - NO
                        - SE
                        - FI
                        - DK
                        - EE
                        - LV
                        - LT
                        - NL
                        - CZ
                        - ES
                        - PL
                        - BE
                        - DE
                        - AT
                        - BG
                        - HR
                        - CY
                        - FR
                        - GR
                        - HU
                        - IS
                        - IE
                        - IT
                        - LI
                        - LU
                        - MT
                        - PT
                        - RO
                        - SK
                        - SI
                      id: N26_NTSBDEB1
                      logo: https://cdn.nordigen.com/ais/N26_SANDBOX_NTSBDEB1.png
                      name: N26 Bank
                      transaction_total_days: "90"
                    - bic: FTSBDEFAXXX
                      countries:
                        - DE
                      id: ABNAMRO_FTSBDEFAXXX
                      logo: https://cdn.nordigen.com/ais/ABNAMRO_FTSBDEFAXXX.png
                      name: ABN AMRO Bank Commercial
                      transaction_total_days: "558"
              schema:
                items:
                  $ref: "#/components/schemas/Integration"
                type: array
          description: list of supported Institutions in the country
        "400":
          content:
            application/json:
              examples:
                NotAValidChoice:
                  description: Provided country is not valid
                  summary: Not a valid choice
                  value:
                    country:
                      - GBA is not a valid choice.
                    status_code: 400
                    summary: Invalid country choice.
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - institutions
  "/api/v2/institutions/{id}/":
    get:
      description: Get details about a specific Institution
      operationId: retrieve institution
      parameters:
        - examples:
            N26:
              description: Nordigen's Institution ID for N26
              summary: N26
              value: N26_NTSBDEB1
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                ABNAMROBank:
                  description: ABN AMRO Bank
                  summary: ABN AMRO Bank
                  value:
                    bic: FTSBDEFAXXX
                    countries:
                      - DE
                    id: ABNAMRO_FTSBDEFAXXX
                    logo: https://cdn.nordigen.com/ais/ABNAMRO_FTSBDEFAXXX.png
                    name: ABN AMRO Bank Commercial
                    transaction_total_days: "558"
                N26Bank:
                  description: N26 Bank
                  summary: N26 Bank
                  value:
                    bic: NTSBDEB1
                    countries:
                      - GB
                      - NO
                      - SE
                      - FI
                      - DK
                      - EE
                      - LV
                      - LT
                      - NL
                      - CZ
                      - ES
                      - PL
                      - BE
                      - DE
                      - AT
                      - BG
                      - HR
                      - CY
                      - FR
                      - GR
                      - HU
                      - IS
                      - IE
                      - IT
                      - LI
                      - LU
                      - MT
                      - PT
                      - RO
                      - SK
                      - SI
                    id: N26_NTSBDEB1
                    logo: https://cdn.nordigen.com/ais/N26_SANDBOX_NTSBDEB1.png
                    name: N26 Bank
                    transaction_total_days: "90"
              schema:
                $ref: "#/components/schemas/Integration"
          description: Retrieve institution by id
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - institutions
  /api/v2/payments/:
    get:
      description: Retrieve all payments belonging to the company
      operationId: list payments
      parameters:
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            default: 100
            minimum: 1
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPaymentReadList"
          description: List payments
        "400":
          content:
            application/json:
              examples:
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
      tags:
        - payments
    post:
      description: Create payment
      operationId: create payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentWriteRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PaymentWriteRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PaymentWriteRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentWrite"
          description: Create payment
        "400":
          content:
            application/json:
              examples:
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
      tags:
        - payments
  /api/v2/payments/account/:
    get:
      description: Retrieve all payment creditor accounts
      operationId: retrieve all payment creditor accounts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreditorAccount"
                type: array
          description: Retrieve all payment creditor accounts
        "400":
          content:
            application/json:
              examples:
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
      tags:
        - payments
  /api/v2/payments/creditors/:
    get:
      description: API endpoints related to creditor accounts.
      operationId: payments_creditors_list
      parameters:
        - in: query
          name: account
          schema:
            type: string
        - in: query
          name: address_country
          schema:
            type: string
        - in: query
          name: agent
          schema:
            type: string
        - in: query
          name: currency
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            default: 100
            minimum: 1
            type: integer
        - in: query
          name: name
          schema:
            type: string
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCreditorAccountList"
          description: ""
      tags:
        - payments
    post:
      description: API endpoints related to creditor accounts.
      operationId: payments_creditors_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditorAccountWriteRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CreditorAccountWriteRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreditorAccountWriteRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditorAccountWrite"
          description: ""
      tags:
        - payments
  "/api/v2/payments/creditors/{id}/":
    delete:
      description: API endpoints related to creditor accounts.
      operationId: payments_creditors_destroy
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: Unique entry ID
            format: uuid
            type: string
      responses:
        "204":
          description: No response body
      tags:
        - payments
    get:
      description: API endpoints related to creditor accounts.
      operationId: payments_creditors_retrieve
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: Unique entry ID
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditorAccount"
          description: ""
      tags:
        - payments
  "/api/v2/payments/fields/{institution_id}/":
    get:
      description: List minimum required fields for institution
      operationId: list minimum required fields for institution
      parameters:
        - in: path
          name: institution_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                MinimumRequiredFields:
                  description: Fields to be used in API request for specific Institution
                  summary: Minimum required fields
                  value:
                    single-payment:
                      SCT:
                        creditor_account: <creditor_account_id>
                        custom_payment_id: <custom_payment_id>
                        description: <payment_description>
                        institution_id: <institution_id>
                        instructed_amount:
                          amount: 10
                          currency: EUR
                        payment_product: SCT
                        redirect: <https://example.com>
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Minimum required fields
        "400":
          content:
            application/json:
              examples:
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
      tags:
        - payments
  "/api/v2/payments/{id}/":
    delete:
      description: Delete periodic payment
      operationId: delete periodic payment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: Unique entry ID
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                PaymentDeleted:
                  description: Periodic payment is deleted
                  summary: Payment deleted
                  value:
                    detail: Periodic payment '$PAYMENT_ID' deleted
                    summary: Periodic payment deleted
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Payment deleted
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
                    summary: Invalid ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid ID
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
        "409":
          content:
            application/json:
              examples:
                PaymentDeleteError:
                  description: Periodic payment cannot be deleted
                  summary: Payment delete error
                  value:
                    detail: Periodic payment '$PAYMENT_ID' cannot be deleted at this moment. Please try again later.
                    status_code: 409
                    summary: Periodic payment cannot be deleted
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Payment delete error
      tags:
        - payments
    get:
      description: Retrieve payment
      operationId: retrieve payment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            description: Unique entry ID
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentRead"
          description: Retrieve payment information
        "400":
          content:
            application/json:
              examples:
                InvalidID:
                  description: Invalid ID
                  summary: Invalid ID
                  value:
                    detail: 272785d5-de45-4efb-aa1a-f8157ffa94 is not a valid UUID.
                    status_code: 400
                    summary: Invalid ID
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid ID
        "401":
          content:
            application/json:
              examples:
                InvalidToken:
                  description: Token is invalid or expired
                  summary: Invalid token
                  value:
                    detail: Token is invalid or expired
                    status_code: 401
                    summary: Invalid token
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Invalid token
        "403":
          content:
            application/json:
              examples:
                IPAccessDenied:
                  description: IP address not whitelisted
                  summary: IP Access denied
                  value:
                    detail: Your IP $IP_ADDRESS isn't whitelisted to perform this action
                    status_code: 403
                    summary: IP address access denied
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: IP Access denied
        "404":
          content:
            application/json:
              examples:
                NotFoundError:
                  description: Not found error
                  summary: Not found error
                  value:
                    detail: Not found.
                    status_code: 404
                    summary: Not found.
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Not found error
      tags:
        - payments
  /api/v2/requisitions/:
    get:
      description: Retrieve all requisitions belonging to the company
      operationId: retrieve all requisitions
      parameters:
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            default: 100
            minimum: 1
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRequisitionV2List"
          description: Retrieve all requisitions
        "400":
          content:
            application/json:
              examples:
                UnknownFields:
                  description: Unknown Fields
                  summary: Unknown Fields
                  value:
                    detail: Unknown fields {${FIELD}} in {${LOCATION}}
                    status_code: 400
                    summary: Unknown fields
              schema:
                additionalProperties: {}
                description: Unspecified response body
                type: object
          description: Unknown Fields
        "401":
          content:
[...]
