openapi: 3.0.0
servers:
  - url: https://slides.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Reads and writes Google Slides presentations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Slides API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://slides.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: slides
externalDocs:
  url: https://developers.google.com/slides/
tags:
  - name: presentations
paths:
  /v1/presentations:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.
      operationId: slides.presentations.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Presentation"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Presentation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/drive.file
          Oauth2c:
            - https://www.googleapis.com/auth/drive.file
        - Oauth2:
            - https://www.googleapis.com/auth/presentations
          Oauth2c:
            - https://www.googleapis.com/auth/presentations
      tags:
        - presentations
  "/v1/presentations/{presentationId}":
    get:
      description: Gets the latest version of the specified presentation.
      operationId: slides.presentations.get
      parameters:
        - description: The ID of the presentation to retrieve.
          in: path
          name: presentationId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Presentation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/drive.file
          Oauth2c:
            - https://www.googleapis.com/auth/drive.file
        - Oauth2:
            - https://www.googleapis.com/auth/drive.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/presentations
          Oauth2c:
            - https://www.googleapis.com/auth/presentations
        - Oauth2:
            - https://www.googleapis.com/auth/presentations.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/presentations.readonly
      tags:
        - presentations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/presentations/{presentationId}/pages/{pageObjectId}":
    get:
      description: Gets the latest version of the specified page in the presentation.
      operationId: slides.presentations.pages.get
      parameters:
        - description: The ID of the presentation to retrieve.
          in: path
          name: presentationId
          required: true
          schema:
            type: string
        - description: The object ID of the page to retrieve.
          in: path
          name: pageObjectId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/drive.file
          Oauth2c:
            - https://www.googleapis.com/auth/drive.file
        - Oauth2:
            - https://www.googleapis.com/auth/drive.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/presentations
          Oauth2c:
            - https://www.googleapis.com/auth/presentations
        - Oauth2:
            - https://www.googleapis.com/auth/presentations.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/presentations.readonly
      tags:
        - presentations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail":
    get:
      description: Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](/slides/limits) for quota purposes.
      operationId: slides.presentations.pages.getThumbnail
      parameters:
        - description: The ID of the presentation to retrieve.
          in: path
          name: presentationId
          required: true
          schema:
            type: string
        - description: The object ID of the page whose thumbnail to retrieve.
          in: path
          name: pageObjectId
          required: true
          schema:
            type: string
        - description: The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.
          in: query
          name: thumbnailProperties.mimeType
          schema:
            enum:
              - PNG
            type: string
        - description: The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.
          in: query
          name: thumbnailProperties.thumbnailSize
          schema:
            enum:
              - THUMBNAIL_SIZE_UNSPECIFIED
              - LARGE
              - MEDIUM
              - SMALL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thumbnail"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/drive.file
          Oauth2c:
            - https://www.googleapis.com/auth/drive.file
        - Oauth2:
            - https://www.googleapis.com/auth/drive.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/presentations
          Oauth2c:
            - https://www.googleapis.com/auth/presentations
        - Oauth2:
            - https://www.googleapis.com/auth/presentations.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/presentations.readonly
      tags:
        - presentations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/presentations/{presentationId}:batchUpdate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically."
      operationId: slides.presentations.batchUpdate
      parameters:
        - description: The presentation to apply the updates to.
          in: path
          name: presentationId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchUpdatePresentationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpdatePresentationResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/drive.file
          Oauth2c:
            - https://www.googleapis.com/auth/drive.file
        - Oauth2:
            - https://www.googleapis.com/auth/drive.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/presentations
          Oauth2c:
            - https://www.googleapis.com/auth/presentations
        - Oauth2:
            - https://www.googleapis.com/auth/spreadsheets
          Oauth2c:
            - https://www.googleapis.com/auth/spreadsheets
        - Oauth2:
            - https://www.googleapis.com/auth/spreadsheets.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/spreadsheets.readonly
      tags:
        - presentations
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AffineTransform:
      description: "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements."
      properties:
        scaleX:
          description: The X coordinate scaling element.
          format: double
          type: number
        scaleY:
          description: The Y coordinate scaling element.
          format: double
          type: number
        shearX:
          description: The X coordinate shearing element.
          format: double
          type: number
        shearY:
          description: The Y coordinate shearing element.
          format: double
          type: number
        translateX:
          description: The X coordinate translation element.
          format: double
          type: number
        translateY:
          description: The Y coordinate translation element.
          format: double
          type: number
        unit:
          description: The units for translate elements.
          enum:
            - UNIT_UNSPECIFIED
            - EMU
            - PT
          type: string
      type: object
    AutoText:
      description: A TextElement kind that represents auto text.
      properties:
        content:
          description: The rendered content of this auto text, if available.
          type: string
        style:
          $ref: "#/components/schemas/TextStyle"
          description: The styling applied to this auto text.
        type:
          description: The type of this auto text.
          enum:
            - TYPE_UNSPECIFIED
            - SLIDE_NUMBER
          type: string
      type: object
    Autofit:
      description: The autofit properties of a Shape.
      properties:
        autofitType:
          description: The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED, the autofit type is inherited from a parent placeholder if it exists. The field is automatically set to NONE if a request is made that might affect text fitting within its bounding text box. In this case the font_scale is applied to the font_size and the line_spacing_reduction is applied to the line_spacing. Both properties are also reset to default values.
          enum:
            - AUTOFIT_TYPE_UNSPECIFIED
            - NONE
            - TEXT_AUTOFIT
            - SHAPE_AUTOFIT
          type: string
        fontScale:
          description: The font scale applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT, this value multiplied by the font_size gives the font size that is rendered in the editor. This property is read-only.
          format: float
          type: number
        lineSpacingReduction:
          description: The line spacing reduction applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing gives the line spacing that is rendered in the editor. This property is read-only.
          format: float
          type: number
      type: object
    BatchUpdatePresentationRequest:
      description: Request message for PresentationsService.BatchUpdatePresentation.
      properties:
        requests:
          description: A list of updates to apply to the presentation.
          items:
            $ref: "#/components/schemas/Request"
          type: array
        writeControl:
          $ref: "#/components/schemas/WriteControl"
          description: Provides control over how write requests are executed.
      type: object
    BatchUpdatePresentationResponse:
      description: Response message from a batch update.
      properties:
        presentationId:
          description: The presentation the updates were applied to.
          type: string
        replies:
          description: The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.
          items:
            $ref: "#/components/schemas/Response"
          type: array
        writeControl:
          $ref: "#/components/schemas/WriteControl"
          description: The updated write control after applying the request.
      type: object
    Bullet:
      description: Describes the bullet of a paragraph.
      properties:
        bulletStyle:
          $ref: "#/components/schemas/TextStyle"
          description: The paragraph specific text style applied to this bullet.
        glyph:
          description: The rendered bullet glyph for this paragraph.
          type: string
        listId:
          description: The ID of the list this paragraph belongs to.
          type: string
        nestingLevel:
          description: The nesting level of this paragraph in the list.
          format: int32
          type: integer
      type: object
    ColorScheme:
      description: The palette of predefined colors for a page.
      properties:
        colors:
          description: The ThemeColorType and corresponding concrete color pairs.
          items:
            $ref: "#/components/schemas/ThemeColorPair"
          type: array
      type: object
    ColorStop:
      description: A color and position in a gradient band.
      properties:
        alpha:
          description: The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.
          format: float
          type: number
        color:
          $ref: "#/components/schemas/OpaqueColor"
          description: The color of the gradient stop.
        position:
          description: The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].
          format: float
          type: number
      type: object
    CreateImageRequest:
      description: Creates an image.
      properties:
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the image. When the aspect ratio of the provided size does not match the image aspect ratio, the image is scaled and centered with respect to the size in order to maintain the aspect ratio. The provided transform is applied after this operation. The PageElementProperties.size property is optional. If you don't specify the size, the default size of the image is used. The PageElementProperties.transform property is optional. If you don't specify a transform, the image will be placed at the top-left corner of the page.
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
        url:
          description: The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50 MB in size, can't exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF formats. The provided URL must be publicly accessible and up to 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.
          type: string
      type: object
    CreateImageResponse:
      description: The result of creating an image.
      properties:
        objectId:
          description: The object ID of the created image.
          type: string
      type: object
    CreateLineRequest:
      description: Creates a line.
      properties:
        category:
          description: The category of the line to be created. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence. If you do not specify a value for `category`, but specify a value for `line_category`, then the specified `line_category` value is used. If you do not specify either, then STRAIGHT is used.
          enum:
            - LINE_CATEGORY_UNSPECIFIED
            - STRAIGHT
            - BENT
            - CURVED
          type: string
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the line.
        lineCategory:
          description: "The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence."
          enum:
            - STRAIGHT
            - BENT
            - CURVED
          type: string
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
      type: object
    CreateLineResponse:
      description: The result of creating a line.
      properties:
        objectId:
          description: The object ID of the created line.
          type: string
      type: object
    CreateParagraphBulletsRequest:
      description: Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.
      properties:
        bulletPreset:
          description: The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset.
          enum:
            - BULLET_DISC_CIRCLE_SQUARE
            - BULLET_DIAMONDX_ARROW3D_SQUARE
            - BULLET_CHECKBOX
            - BULLET_ARROW_DIAMOND_DISC
            - BULLET_STAR_CIRCLE_SQUARE
            - BULLET_ARROW3D_CIRCLE_SQUARE
            - BULLET_LEFTTRIANGLE_DIAMOND_DISC
            - BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE
            - BULLET_DIAMOND_CIRCLE_SQUARE
            - NUMBERED_DIGIT_ALPHA_ROMAN
            - NUMBERED_DIGIT_ALPHA_ROMAN_PARENS
            - NUMBERED_DIGIT_NESTED
            - NUMBERED_UPPERALPHA_ALPHA_ROMAN
            - NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT
            - NUMBERED_ZERODIGIT_ALPHA_ROMAN
          type: string
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table.
        objectId:
          description: The object ID of the shape or table containing the text to add bullets to.
          type: string
        textRange:
          $ref: "#/components/schemas/Range"
          description: The range of text to apply the bullet presets to, based on TextElement indexes.
      type: object
    CreateShapeRequest:
      description: Creates a new shape.
      properties:
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the shape.
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If empty, a unique identifier will be generated.
          type: string
        shapeType:
          description: The shape type.
          enum:
            - TYPE_UNSPECIFIED
            - TEXT_BOX
            - RECTANGLE
            - ROUND_RECTANGLE
            - ELLIPSE
            - ARC
            - BENT_ARROW
            - BENT_UP_ARROW
            - BEVEL
            - BLOCK_ARC
            - BRACE_PAIR
            - BRACKET_PAIR
            - CAN
            - CHEVRON
            - CHORD
            - CLOUD
            - CORNER
            - CUBE
            - CURVED_DOWN_ARROW
            - CURVED_LEFT_ARROW
            - CURVED_RIGHT_ARROW
            - CURVED_UP_ARROW
            - DECAGON
            - DIAGONAL_STRIPE
            - DIAMOND
            - DODECAGON
            - DONUT
            - DOUBLE_WAVE
            - DOWN_ARROW
            - DOWN_ARROW_CALLOUT
            - FOLDED_CORNER
            - FRAME
            - HALF_FRAME
            - HEART
            - HEPTAGON
            - HEXAGON
            - HOME_PLATE
            - HORIZONTAL_SCROLL
            - IRREGULAR_SEAL_1
            - IRREGULAR_SEAL_2
            - LEFT_ARROW
            - LEFT_ARROW_CALLOUT
            - LEFT_BRACE
            - LEFT_BRACKET
            - LEFT_RIGHT_ARROW
            - LEFT_RIGHT_ARROW_CALLOUT
            - LEFT_RIGHT_UP_ARROW
            - LEFT_UP_ARROW
            - LIGHTNING_BOLT
            - MATH_DIVIDE
            - MATH_EQUAL
            - MATH_MINUS
            - MATH_MULTIPLY
            - MATH_NOT_EQUAL
            - MATH_PLUS
            - MOON
            - NO_SMOKING
            - NOTCHED_RIGHT_ARROW
            - OCTAGON
            - PARALLELOGRAM
            - PENTAGON
            - PIE
            - PLAQUE
            - PLUS
            - QUAD_ARROW
            - QUAD_ARROW_CALLOUT
            - RIBBON
            - RIBBON_2
            - RIGHT_ARROW
            - RIGHT_ARROW_CALLOUT
            - RIGHT_BRACE
            - RIGHT_BRACKET
            - ROUND_1_RECTANGLE
            - ROUND_2_DIAGONAL_RECTANGLE
            - ROUND_2_SAME_RECTANGLE
            - RIGHT_TRIANGLE
            - SMILEY_FACE
            - SNIP_1_RECTANGLE
            - SNIP_2_DIAGONAL_RECTANGLE
            - SNIP_2_SAME_RECTANGLE
            - SNIP_ROUND_RECTANGLE
            - STAR_10
            - STAR_12
            - STAR_16
            - STAR_24
            - STAR_32
            - STAR_4
            - STAR_5
            - STAR_6
            - STAR_7
            - STAR_8
            - STRIPED_RIGHT_ARROW
            - SUN
            - TRAPEZOID
            - TRIANGLE
            - UP_ARROW
            - UP_ARROW_CALLOUT
            - UP_DOWN_ARROW
            - UTURN_ARROW
            - VERTICAL_SCROLL
            - WAVE
            - WEDGE_ELLIPSE_CALLOUT
            - WEDGE_RECTANGLE_CALLOUT
            - WEDGE_ROUND_RECTANGLE_CALLOUT
            - FLOW_CHART_ALTERNATE_PROCESS
            - FLOW_CHART_COLLATE
            - FLOW_CHART_CONNECTOR
            - FLOW_CHART_DECISION
            - FLOW_CHART_DELAY
            - FLOW_CHART_DISPLAY
            - FLOW_CHART_DOCUMENT
            - FLOW_CHART_EXTRACT
            - FLOW_CHART_INPUT_OUTPUT
            - FLOW_CHART_INTERNAL_STORAGE
            - FLOW_CHART_MAGNETIC_DISK
            - FLOW_CHART_MAGNETIC_DRUM
            - FLOW_CHART_MAGNETIC_TAPE
            - FLOW_CHART_MANUAL_INPUT
            - FLOW_CHART_MANUAL_OPERATION
            - FLOW_CHART_MERGE
            - FLOW_CHART_MULTIDOCUMENT
            - FLOW_CHART_OFFLINE_STORAGE
            - FLOW_CHART_OFFPAGE_CONNECTOR
            - FLOW_CHART_ONLINE_STORAGE
            - FLOW_CHART_OR
            - FLOW_CHART_PREDEFINED_PROCESS
            - FLOW_CHART_PREPARATION
            - FLOW_CHART_PROCESS
            - FLOW_CHART_PUNCHED_CARD
            - FLOW_CHART_PUNCHED_TAPE
            - FLOW_CHART_SORT
            - FLOW_CHART_SUMMING_JUNCTION
            - FLOW_CHART_TERMINATOR
            - ARROW_EAST
            - ARROW_NORTH_EAST
            - ARROW_NORTH
            - SPEECH
            - STARBURST
            - TEARDROP
            - ELLIPSE_RIBBON
            - ELLIPSE_RIBBON_2
            - CLOUD_CALLOUT
            - CUSTOM
          type: string
      type: object
    CreateShapeResponse:
      description: The result of creating a shape.
      properties:
        objectId:
          description: The object ID of the created shape.
          type: string
      type: object
    CreateSheetsChartRequest:
      description: "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes."
      properties:
        chartId:
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          format: int32
          type: integer
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation.
        linkingMode:
          description: The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.
          enum:
            - NOT_LINKED_IMAGE
            - LINKED
          type: string
        objectId:
          description: A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated.
          type: string
        spreadsheetId:
          description: The ID of the Google Sheets spreadsheet that contains the chart. You might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).
          type: string
      type: object
    CreateSheetsChartResponse:
      description: The result of creating an embedded Google Sheets chart.
      properties:
        objectId:
          description: The object ID of the created chart.
          type: string
      type: object
    CreateSlideRequest:
      description: Creates a slide.
      properties:
        insertionIndex:
          description: The optional zero-based index indicating where to insert the slides. If you don't specify an index, the slide is created at the end.
          format: int32
          type: integer
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The ID length must be between 5 and 50 characters, inclusive. If you don't specify an ID, a unique one is generated.
          type: string
        placeholderIdMappings:
          description: An optional list of object ID mappings from the placeholder(s) on the layout to the placeholders that are created on the slide from the specified layout. Can only be used when `slide_layout_reference` is specified.
          items:
            $ref: "#/components/schemas/LayoutPlaceholderIdMapping"
          type: array
        slideLayoutReference:
          $ref: "#/components/schemas/LayoutReference"
          description: "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, the slide uses the predefined `BLANK` layout."
      type: object
    CreateSlideResponse:
      description: The result of creating a slide.
      properties:
        objectId:
          description: The object ID of the created slide.
          type: string
      type: object
    CreateTableRequest:
      description: Creates a new table.
      properties:
        columns:
          description: Number of columns in the table.
          format: int32
          type: integer
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the table. The table will be created at the provided size, subject to a minimum size. If no size is provided, the table will be automatically sized. Table transforms must have a scale of 1 and no shear components. If no transform is provided, the table will be centered on the page.
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
        rows:
          description: Number of rows in the table.
          format: int32
          type: integer
      type: object
    CreateTableResponse:
      description: The result of creating a table.
      properties:
        objectId:
          description: The object ID of the created table.
          type: string
      type: object
    CreateVideoRequest:
      description: "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes."
      properties:
        elementProperties:
          $ref: "#/components/schemas/PageElementProperties"
          description: The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page.
        id:
          description: The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).
          type: string
        objectId:
          description: A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
        source:
          description: The video source.
          enum:
            - SOURCE_UNSPECIFIED
            - YOUTUBE
            - DRIVE
          type: string
      type: object
    CreateVideoResponse:
      description: The result of creating a video.
      properties:
        objectId:
          description: The object ID of the created video.
          type: string
      type: object
    CropProperties:
      description: The crop properties of an object enclosed in a container. For example, an Image. The crop properties is represented by the offsets of four edges which define a crop rectangle. The offsets are measured in percentage from the corresponding edges of the object's original bounding rectangle towards inside, relative to the object's original dimensions. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the object's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the object's original bounding rectangle. - If the left edge of the crop rectangle is on the right side of its right edge, the object will be flipped horizontally. - If the top edge of the crop rectangle is below its bottom edge, the object will be flipped vertically. - If all offsets and rotation angle is 0, the object is not cropped. After cropping, the content in the crop rectangle will be stretched to fit its container.
      properties:
        angle:
          description: The rotation angle of the crop window around its center, in radians. Rotation angle is applied after the offset.
          format: float
          type: number
        bottomOffset:
          description: The offset specifies the bottom edge of the crop rectangle that is located above the original bounding rectangle bottom edge, relative to the object's original height.
          format: float
          type: number
        leftOffset:
          description: The offset specifies the left edge of the crop rectangle that is located to the right of the original bounding rectangle left edge, relative to the object's original width.
          format: float
          type: number
        rightOffset:
          description: The offset specifies the right edge of the crop rectangle that is located to the left of the original bounding rectangle right edge, relative to the object's original width.
          format: float
          type: number
        topOffset:
          description: The offset specifies the top edge of the crop rectangle that is located below the original bounding rectangle top edge, relative to the object's original height.
          format: float
          type: number
      type: object
    DeleteObjectRequest:
      description: Deletes an object, either pages or page elements, from the presentation.
      properties:
        objectId:
          description: The object ID of the page or page element to delete. If after a delete operation a group contains only 1 or no page elements, the group is also deleted. If a placeholder is deleted on a layout, any empty inheriting placeholders are also deleted.
          type: string
      type: object
    DeleteParagraphBulletsRequest:
      description: Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table.
        objectId:
          description: The object ID of the shape or table containing the text to delete bullets from.
          type: string
        textRange:
          $ref: "#/components/schemas/Range"
          description: The range of text to delete bullets from, based on TextElement indexes.
      type: object
    DeleteTableColumnRequest:
      description: Deletes a column from a table.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The reference table cell location from which a column will be deleted. The column this cell spans will be deleted. If this is a merged cell, multiple columns will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.
        tableObjectId:
          description: The table to delete columns from.
          type: string
      type: object
    DeleteTableRowRequest:
      description: Deletes a row from a table.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The reference table cell location from which a row will be deleted. The row this cell spans will be deleted. If this is a merged cell, multiple rows will be deleted. If no rows remain in the table after this deletion, the whole table is deleted.
        tableObjectId:
          description: The table to delete rows from.
          type: string
      type: object
    DeleteTextRequest:
      description: Deletes text from a shape or a table cell.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The optional table cell location if the text is to be deleted from a table cell. If present, the object_id must refer to a table.
        objectId:
          description: The object ID of the shape or table from which the text will be deleted.
          type: string
        textRange:
          $ref: "#/components/schemas/Range"
          description: The range of text to delete, based on TextElement indexes. There is always an implicit newline character at the end of a shape's or table cell's text that cannot be deleted. `Range.Type.ALL` will use the correct bounds, but care must be taken when specifying explicit bounds for range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text is "ABC", followed by an implicit newline, then the maximum value is 2 for `text_range.start_index` and 3 for `text_range.end_index`. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles and lists as the two paragraphs are merged. Ranges that include only one code unit of a surrogate pair are expanded to include both code units.
      type: object
    Dimension:
      description: A magnitude in a single direction in the specified units.
      properties:
        magnitude:
          description: The magnitude.
          format: double
          type: number
        unit:
          description: The units for magnitude.
          enum:
            - UNIT_UNSPECIFIED
            - EMU
            - PT
          type: string
      type: object
    DuplicateObjectRequest:
      description: Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.
      properties:
        objectId:
          description: The ID of the object to duplicate.
          type: string
        objectIds:
          additionalProperties:
            type: string
          description: "The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID."
          type: object
      type: object
    DuplicateObjectResponse:
      description: The response of duplicating an object.
      properties:
        objectId:
          description: The ID of the new duplicate object.
          type: string
      type: object
    Group:
      description: A PageElement kind representing a joined collection of PageElements.
      properties:
        children:
          description: The collection of elements in the group. The minimum size of a group is 2.
          items:
            $ref: "#/components/schemas/PageElement"
          type: array
      type: object
    GroupObjectsRequest:
      description: Groups objects to create an object group. For example, groups PageElements to create a Group on the same page as all the children.
      properties:
        childrenObjectIds:
          description: The object IDs of the objects to group. Only page elements can be grouped. There should be at least two page elements on the same page that are not already in another group. Some page elements, such as videos, tables and placeholders cannot be grouped.
          items:
            type: string
          type: array
        groupObjectId:
          description: A user-supplied object ID for the group to be created. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
      type: object
    GroupObjectsResponse:
      description: The result of grouping objects.
      properties:
        objectId:
          description: The object ID of the created group.
          type: string
      type: object
    Image:
      description: A PageElement kind representing an image.
      properties:
        contentUrl:
          description: An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.
          type: string
        imageProperties:
          $ref: "#/components/schemas/ImageProperties"
          description: The properties of the image.
        placeholder:
          $ref: "#/components/schemas/Placeholder"
          description: Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the image is a placeholder image and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field.
        sourceUrl:
          description: The source URL is the URL used to insert the image. The source URL can be empty.
          type: string
      type: object
    ImageProperties:
      description: The properties of the Image.
      properties:
        brightness:
          description: The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.
          format: float
          type: number
        contrast:
          description: The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.
          format: float
          type: number
        cropProperties:
          $ref: "#/components/schemas/CropProperties"
          description: The crop properties of the image. If not set, the image is not cropped. This property is read-only.
        link:
          $ref: "#/components/schemas/Link"
          description: The hyperlink destination of the image. If unset, there is no link.
        outline:
          $ref: "#/components/schemas/Outline"
          description: The outline of the image. If not set, the image has no outline.
        recolor:
          $ref: "#/components/schemas/Recolor"
          description: The recolor effect of the image. If not set, the image is not recolored. This property is read-only.
        shadow:
          $ref: "#/components/schemas/Shadow"
          description: The shadow of the image. If not set, the image has no shadow. This property is read-only.
        transparency:
          description: The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent. This property is read-only.
          format: float
          type: number
      type: object
    InsertTableColumnsRequest:
      description: Inserts columns into a table. Other columns in the table will be resized to fit the new column.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.
        insertRight:
          description: "Whether to insert new columns to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
          type: boolean
        number:
          description: The number of columns to be inserted. Maximum 20 per request.
          format: int32
          type: integer
        tableObjectId:
          description: The table to insert columns into.
          type: string
      type: object
    InsertTableRowsRequest:
      description: Inserts rows into a table.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.
        insertBelow:
          description: "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
          type: boolean
        number:
          description: The number of rows to be inserted. Maximum 20 per request.
          format: int32
          type: integer
        tableObjectId:
          description: The table to insert rows into.
          type: string
      type: object
    InsertTextRequest:
      description: Inserts text into a shape or a table cell.
      properties:
        cellLocation:
          $ref: "#/components/schemas/TableCellLocation"
          description: The optional table cell location if the text is to be inserted into a table cell. If present, the object_id must refer to a table.
        insertionIndex:
          description: The index where the text will be inserted, in Unicode code units, based on TextElement indexes. The index is zero-based and is computed from the start of the string. The index may be adjusted to prevent insertions inside Unicode grapheme clusters. In these cases, the text will be inserted immediately after the grapheme cluster.
          format: int32
          type: integer
        objectId:
          description: The object ID of the shape or table where the text will be inserted.
          type: string
        text:
          description: The text to be inserted. Inserting a newline character will implicitly create a new ParagraphMarker at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text will be added to the TextRun that exists at the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.
          type: string
      type: object
    LayoutPlaceholderIdMapping:
      description: The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout.
      properties:
        layoutPlaceholder:
          $ref: "#/components/schemas/Placeholder"
          description: The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a predefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder with index 0 and a BODY placeholder with index 0.
        layoutPlaceholderObjectId:
          description: The object ID of the placeholder on a layout that will be applied to a slide.
          type: string
        objectId:
          description: A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.
          type: string
      type: object
    LayoutProperties:
      description: The properties of Page are only relevant for pages with page_type LAYOUT.
      properties:
        displayName:
          description: The human-readable name of the layout.
          type: string
        masterObjectId:
          description: The object ID of the master that this layout is based on.
          type: string
        name:
          description: The name of the layout.
          type: string
      type: object
    LayoutReference:
      description: "Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation."
      properties:
        layoutId:
          description: "Layout ID: the object ID of one of the layouts in the presentation."
          type: string
        predefinedLayout:
          description: Predefined layout.
          enum:
            - PREDEFINED_LAYOUT_UNSPECIFIED
            - BLANK
            - CAPTION_ONLY
            - TITLE
            - TITLE_AND_BODY
            - TITLE_AND_TWO_COLUMNS
            - TITLE_ONLY
            - SECTION_HEADER
            - SECTION_TITLE_AND_DESCRIPTION
            - ONE_COLUMN_TEXT
            - MAIN_POINT
            - BIG_NUMBER
          type: string
      type: object
    Line:
      description: A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector.
      properties:
        lineCategory:
          description: The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest.
          enum:
            - LINE_CATEGORY_UNSPECIFIED
            - STRAIGHT
            - BENT
            - CURVED
          type: string
        lineProperties:
          $ref: "#/components/schemas/LineProperties"
          description: The properties of the line.
        lineType:
          description: The type of the line.
          enum:
            - TYPE_UNSPECIFIED
            - STRAIGHT_CONNECTOR_1
            - BENT_CONNECTOR_2
            - BENT_CONNECTOR_3
            - BENT_CONNECTOR_4
            - BENT_CONNECTOR_5
            - CURVED_CONNECTOR_2
            - CURVED_CONNECTOR_3
            - CURVED_CONNECTOR_4
            - CURVED_CONNECTOR_5
            - STRAIGHT_LINE
          type: string
      type: object
    LineConnection:
      description: The properties for one end of a Line connection.
      properties:
        connectedObjectId:
          description: The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line.
          type: string
        connectionSiteIndex:
          description: The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in the description of the "cnx" attribute in section 20.1.9.9 and Annex H. "Predefined DrawingML Shape and Text Geometries" of "Office Open XML File Formats-Fundamentals and Markup Language Reference", part 1 of [ECMA-376 5th edition] (http://www.ecma-international.org/publications/standards/Ecma-376.htm). The position of each connection site can also be viewed from Slides editor.
          format: int32
          type: integer
      type: object
    LineFill:
      description: The fill of the line.
      properties:
        solidFill:
          $ref: "#/components/schemas/SolidFill"
          description: Solid color fill.
      type: object
    LineProperties:
      description: The properties of the Line. When unset, these fields default to values that match the appearance of new lines created in the Slides editor.
      properties:
        dashStyle:
          description: The dash style of the line.
          enum:
            - DASH_STYLE_UNSPECIFIED
            - SOLID
            - DOT
            - DASH
            - DASH_DOT
            - LONG_DASH
            - LONG_DASH_DOT
          type: string
        endArrow:
          description: The style of the arrow at the end of the line.
          enum:
            - ARROW_STYLE_UNSPECIFIED
            - NONE
            - STEALTH_ARROW
            - FILL_ARROW
            - FILL_CIRCLE
            - FILL_SQUARE
            - FILL_DIAMOND
            - OPEN_ARROW
            - OPEN_CIRCLE
            - OPEN_SQUARE
            - OPEN_DIAMOND
          type: string
        endConnection:
          $ref: "#/components/schemas/LineConnection"
          description: The connection at the end of the line. If unset, there is no connection. Only lines with a Type indicating it is a "connector" can have an `end_connection`.
        lineFill:
          $ref: "#/components/schemas/LineFill"
          description: The fill of the line. The default line fill matches the defaults for new lines created in the Slides editor.
        link:
          $ref: "#/components/schemas/Link"
          description: The hyperlink destination of the line. If unset, there is no link.
        startArrow:
          description: The style of the arrow at the beginning of the line.
          enum:
            - ARROW_STYLE_UNSPECIFIED
            - NONE
            - STEALTH_ARROW
            - FILL_ARROW
            - FILL_CIRCLE
            - FILL_SQUARE
            - FILL_DIAMOND
            - OPEN_ARROW
            - OPEN_CIRCLE
            - OPEN_SQUARE
            - OPEN_DIAMOND
          type: string
        startConnection:
          $ref: "#/components/schemas/LineConnection"
          description: The connection at the beginning of the line. If unset, there is no connection. Only lines with a Type indicating it is a "connector" can have a `start_connection`.
        weight:
          $ref: "#/components/schemas/Dimension"
          description: The thickness of the line.
      type: object
    Link:
      description: A hypertext link.
      properties:
        pageObjectId:
          description: If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist.
          type: string
        relativeLink:
          description: If set, indicates this is a link to a slide in this presentation, addressed by its position.
          enum:
            - RELATIVE_SLIDE_LINK_UNSPECIFIED
            - NEXT_SLIDE
            - PREVIOUS_SLIDE
            - FIRST_SLIDE
            - LAST_SLIDE
          type: string
        slideIndex:
          description: If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index.
          format: int32
          type: integer
        url:
          description: If set, indicates this is a link to the external web page at this URL.
          type: string
      type: object
    List:
      description: A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.
      properties:
        listId:
          description: The ID of the list.
          type: string
        nestingLevel:
          additionalProperties:
            $ref: "#/components/schemas/NestingLevel"
          description: A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive.
          type: object
      type: object
    MasterProperties:
      description: The properties of Page that are only relevant for pages with page_type MASTER.
      properties:
        displayName:
          description: The human-readable name of the master.
          type: string
      type: object
    MergeTableCellsRequest:
      description: Merges cells in a Table.
      properties:
        objectId:
          description: The object ID of the table.
          type: string
        tableRange:
          $ref: "#/components/schemas/TableRange"
          description: The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the upper-left ("head") cell of the range. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged), a 400 bad request error is returned.
      type: object
    NestingLevel:
      description: Contains properties describing the look and feel of a list bullet at a given level of nesting.
      properties:
        bulletStyle:
          $ref: "#/components/schemas/TextStyle"
          description: The style of a bullet at this level of nesting.
      type: object
    NotesProperties:
      description: The properties of Page that are only relevant for pages with page_type NOTES.
      properties:
        speakerNotesObjectId:
          description: The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID.
          type: string
      type: object
    OpaqueColor:
      description: A themeable solid color value.
      properties:
        rgbColor:
          $ref: "#/components/schemas/RgbColor"
          description: An opaque RGB color.
        themeColor:
          description: An opaque theme color.
          enum:
            - THEME_COLOR_TYPE_UNSPECIFIED
            - DARK1
            - LIGHT1
            - DARK2
            - LIGHT2
            - ACCENT1
            - ACCENT2
            - ACCENT3
            - ACCENT4
            - ACCENT5
            - ACCENT6
            - HYPERLINK
            - FOLLOWED_HYPERLINK
            - TEXT1
            - BACKGROUND1
            - TEXT2
            - BACKGROUND2
          type: string
      type: object
    OptionalColor:
      description: A color that can either be fully opaque or fully transparent.
      properties:
        opaqueColor:
          $ref: "#/components/schemas/OpaqueColor"
          description: If set, this will be used as an opaque color. If unset, this represents a transparent color.
      type: object
    Outline:
      description: The outline of a PageElement. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.
      properties:
        dashStyle:
          description: The dash style of the outline.
          enum:
            - DASH_STYLE_UNSPECIFIED
            - SOLID
            - DOT
            - DASH
            - DASH_DOT
            - LONG_DASH
            - LONG_DASH_DOT
          type: string
        outlineFill:
          $ref: "#/components/schemas/OutlineFill"
          description: The fill of the outline.
        propertyState:
          description: The outline property state. Updating the outline on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no outline on a page element, set this field to `NOT_RENDERED`. In this case, any other outline fields set in the same request will be ignored.
          enum:
            - RENDERED
            - NOT_RENDERED
            - INHERIT
          type: string
        weight:
          $ref: "#/components/schemas/Dimension"
          description: The thickness of the outline.
      type: object
    OutlineFill:
      description: The fill of the outline.
      properties:
        solidFill:
          $ref: "#/components/schemas/SolidFill"
          description: Solid color fill.
      type: object
    Page:
      description: A page in a presentation.
      properties:
        layoutProperties:
          $ref: "#/components/schemas/LayoutProperties"
          description: Layout specific properties. Only set if page_type = LAYOUT.
        masterProperties:
          $ref: "#/components/schemas/MasterProperties"
          description: Master specific properties. Only set if page_type = MASTER.
        notesProperties:
          $ref: "#/components/schemas/NotesProperties"
          description: Notes specific properties. Only set if page_type = NOTES.
        objectId:
          description: The object ID for this page. Object IDs used by Page and PageElement share the same namespace.
          type: string
        pageElements:
          description: The page elements rendered on the page.
          items:
            $ref: "#/components/schemas/PageElement"
          type: array
        pageProperties:
          $ref: "#/components/schemas/PageProperties"
          description: The properties of the page.
        pageType:
          description: The type of the page.
          enum:
            - SLIDE
            - MASTER
            - LAYOUT
            - NOTES
            - NOTES_MASTER
          type: string
        revisionId:
          description: Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.
          type: string
        slideProperties:
          $ref: "#/components/schemas/SlideProperties"
          description: Slide specific properties. Only set if page_type = SLIDE.
      type: object
    PageBackgroundFill:
      description: The page background fill.
      properties:
        propertyState:
          description: The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.
          enum:
            - RENDERED
            - NOT_RENDERED
            - INHERIT
          type: string
        solidFill:
          $ref: "#/components/schemas/SolidFill"
          description: Solid color fill.
        stretchedPictureFill:
          $ref: "#/components/schemas/StretchedPictureFill"
          description: Stretched picture fill.
      type: object
    PageElement:
      description: A visual element rendered on a page.
      properties:
        description:
          description: The description of the page element. Combined with title to display alt text. The field is not supported for Group elements.
          type: string
        elementGroup:
          $ref: "#/components/schemas/Group"
          description: A collection of page elements joined as a single unit.
        image:
          $ref: "#/components/schemas/Image"
          description: An image page element.
        line:
          $ref: "#/components/schemas/Line"
          description: A line page element.
        objectId:
          description: The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.
          type: string
        shape:
          $ref: "#/components/schemas/Shape"
          description: A generic shape.
        sheetsChart:
          $ref: "#/components/schemas/SheetsChart"
          description: A linked chart embedded from Google Sheets. Unlinked charts are represented as images.
        size:
          $ref: "#/components/schemas/Size"
          description: The size of the page element.
        table:
          $ref: "#/components/schemas/Table"
          description: A table page element.
        title:
          description: The title of the page element. Combined with description to display alt text. The field is not supported for Group elements.
          type: string
        transform:
          $ref: "#/components/schemas/AffineTransform"
          description: The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.
        video:
          $ref: "#/components/schemas/Video"
          description: A video page element.
        wordArt:
          $ref: "#/components/schemas/WordArt"
          description: A word art page element.
      type: object
    PageElementProperties:
      description: "Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged."
      properties:
        pageObjectId:
          description: The object ID of the page where the element is located.
          type: string
        size:
          $ref: "#/components/schemas/Size"
          description: The size of the element.
        transform:
          $ref: "#/components/schemas/AffineTransform"
          description: The transform for the element.
      type: object
    PageProperties:
      description: The properties of the Page. The page will inherit properties from the parent page. Depending on the page type the hierarchy is defined in either SlideProperties or LayoutProperties.
      properties:
        colorScheme:
          $ref: "#/components/schemas/ColorScheme"
          description: The color scheme of the page. If unset, the color scheme is inherited from a parent page. If the page has no parent, the color scheme uses a default Slides color scheme, matching the defaults in the Slides editor. Only the concrete colors of the first 12 ThemeColorTypes are editable. In addition, only the color scheme on `Master` pages can be updated. To update the field, a color scheme containing mappings from all the first 12 ThemeColorTypes to their concrete colors must be provided. Colors for the remaining ThemeColorTypes will be ignored.
        pageBackgroundFill:
          $ref: "#/components/schemas/PageBackgroundFill"
          description: The background fill of the page. If unset, the background fill is inherited from a parent page if it exists. If the page has no parent, then the background fill defaults to the corresponding fill in the Slides editor.
      type: object
    ParagraphMarker:
      description: A TextElement kind that represents the beginning of a new paragraph.
      properties:
        bullet:
          $ref: "#/components/schemas/Bullet"
          description: The bullet for this paragraph. If not present, the paragraph does not belong to a list.
        style:
          $ref: "#/components/schemas/ParagraphStyle"
          description: The paragraph's style
      type: object
    ParagraphStyle:
      description: "Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message."
      properties:
        alignment:
          description: The text alignment for this paragraph.
          enum:
            - ALIGNMENT_UNSPECIFIED
            - START
            - CENTER
            - END
            - JUSTIFIED
          type: string
        direction:
          description: The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited.
          enum:
            - TEXT_DIRECTION_UNSPECIFIED
            - LEFT_TO_RIGHT
            - RIGHT_TO_LEFT
          type: string
        indentEnd:
          $ref: "#/components/schemas/Dimension"
          description: The amount indentation for the paragraph on the side that corresponds to the end of the text, based on the current text direction. If unset, the value is inherited from the parent.
        indentFirstLine:
          $ref: "#/components/schemas/Dimension"
          description: The amount of indentation for the start of the first line of the paragraph. If unset, the value is inherited from the parent.
        indentStart:
          $ref: "#/components/schemas/Dimension"
          description: The amount indentation for the paragraph on the side that corresponds to the start of the text, based on the current text direction. If unset, the value is inherited from the parent.
        lineSpacing:
          description: The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.
          format: float
          type: number
        spaceAbove:
          $ref: "#/components/schemas/Dimension"
          description: The amount of extra space above the paragraph. If unset, the value is inherited from the parent.
        spaceBelow:
          $ref: "#/components/schemas/Dimension"
          description: The amount of extra space below the paragraph. If unset, the value is inherited from the parent.
        spacingMode:
          description: The spacing mode for the paragraph.
          enum:
            - SPACING_MODE_UNSPECIFIED
            - NEVER_COLLAPSE
            - COLLAPSE_LISTS
          type: string
      type: object
    Placeholder:
      description: The placeholder information that uniquely identifies a placeholder shape.
      properties:
        index:
          description: The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values.
          format: int32
          type: integer
        parentObjectId:
          description: The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape.
          type: string
        type:
          description: The type of the placeholder.
          enum:
            - NONE
            - BODY
            - CHART
            - CLIP_ART
            - CENTERED_TITLE
            - DIAGRAM
            - DATE_AND_TIME
            - FOOTER
            - HEADER
            - MEDIA
            - OBJECT
            - PICTURE
            - SLIDE_NUMBER
            - SUBTITLE
            - TABLE
            - TITLE
            - SLIDE_IMAGE
          type: string
      type: object
    Presentation:
      description: A Google Slides presentation.
      properties:
        layouts:
          description: The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.
          items:
            $ref: "#/components/schemas/Page"
          type: array
        locale:
          description: The locale of the presentation, as an IETF BCP 47 language tag.
          type: string
        masters:
          description: "The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout."
          items:
            $ref: "#/components/schemas/Page"
          type: array
        notesMaster:
          $ref: "#/components/schemas/Page"
          description: "The notes master in the presentation. It serves three purposes: - Placeholder shapes on a notes master contain the default text styles and shape properties of all placeholder shapes on notes pages. Specifically, a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a `BODY` placeholder shape contains the speaker notes. - The notes master page properties define the common page properties inherited by all notes pages. - Any other shapes on the notes master appear on all notes pages. The notes master is read-only."
        pageSize:
          $ref: "#/components/schemas/Size"
          description: The size of pages in the presentation.
        presentationId:
          description: The ID of the presentation.
          type: string
        revisionId:
          description: Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but a nebulous string. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.
          type: string
        slides:
          description: The slides in the presentation. A slide inherits properties from a slide layout.
          items:
            $ref: "#/components/schemas/Page"
          type: array
        title:
          description: The title of the presentation.
          type: string
      type: object
    Range:
      description: Specifies a contiguous range of an indexed collection, such as characters in text.
      properties:
        endIndex:
          description: The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges.
          format: int32
          type: integer
        startIndex:
          description: The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges.
          format: int32
          type: integer
        type:
          description: The type of range.
          enum:
            - RANGE_TYPE_UNSPECIFIED
            - FIXED_RANGE
            - FROM_START_INDEX
            - ALL
          type: string
      type: object
    Recolor:
      description: A recolor effect applied on an image.
      properties:
        name:
          description: The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only.
          enum:
            - NONE
            - LIGHT1
            - LIGHT2
            - LIGHT3
            - LIGHT4
            - LIGHT5
            - LIGHT6
            - LIGHT7
            - LIGHT8
            - LIGHT9
            - LIGHT10
            - DARK1
            - DARK2
            - DARK3
            - DARK4
            - DARK5
            - DARK6
            - DARK7
            - DARK8
            - DARK9
            - DARK10
            - GRAYSCALE
            - NEGATIVE
            - SEPIA
            - CUSTOM
          type: string
        recolorStops:
          description: The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only.
          items:
            $ref: "#/components/schemas/ColorStop"
          type: array
      type: object
    RefreshSheetsChartRequest:
      description: "Refreshes an embedded Google Sheets chart by replacing it with the latest version of the chart from Google Sheets. NOTE: Refreshing charts requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes."
      properties:
        objectId:
          description: The object ID of the chart to refresh.
          type: string
      type: object
    ReplaceAllShapesWithImageRequest:
      description: Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.
      properties:
        containsText:
          $ref: "#/components/schemas/SubstringMatchCriteria"
          description: If set, this request will replace all of the shapes that contain the given text.
        imageReplaceMethod:
          description: The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used.
          enum:
            - IMAGE_REPLACE_METHOD_UNSPECIFIED
            - CENTER_INSIDE
            - CENTER_CROP
          type: string
        imageUrl:
          description: The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field.
          type: string
        pageObjectIds:
          description: If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.
          items:
            type: string
          type: array
        replaceMethod:
          description: "The replace method. *Deprecated*: use `image_replace_method` instead. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence."
          enum:
            - CENTER_INSIDE
            - CENTER_CROP
          type: string
      type: object
    ReplaceAllShapesWithImageResponse:
      description: The result of replacing shapes with an image.
      properties:
        occurrencesChanged:
          description: The number of shapes replaced with images.
          format: int32
          type: integer
      type: object
    ReplaceAllShapesWithSheetsChartRequest:
      description: "Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes."
      properties:
        chartId:
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          format: int32
          type: integer
        containsText:
          $ref: "#/components/schemas/SubstringMatchCriteria"
          description: The criteria that the shapes must match in order to be replaced. The request will replace all of the shapes that contain the given text.
        linkingMode:
          description: The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.
          enum:
            - NOT_LINKED_IMAGE
            - LINKED
          type: string
        pageObjectIds:
          description: If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.
          items:
            type: string
          type: array
        spreadsheetId:
          description: The ID of the Google Sheets spreadsheet that contains the chart.
          type: string
      type: object
    ReplaceAllShapesWithSheetsChartResponse:
      description: The result of replacing shapes with a Google Sheets chart.
      properties:
        occurrencesChanged:
          description: The number of shapes replaced with charts.
          format: int32
          type: integer
      type: object
    ReplaceAllTextRequest:
      description: Replaces all instances of text matching a criteria with replace text.
      properties:
        containsText:
          $ref: "#/components/schemas/SubstringMatchCriteria"
          description: Finds text in a shape matching this substring.
        pageObjectIds:
          description: If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes master, or if a page with that object ID doesn't exist in the presentation.
          items:
            type: string
          type: array
        replaceText:
          description: The text that will replace the matched text.
          type: string
      type: object
    ReplaceAllTextResponse:
      description: The result of replacing text.
      properties:
        occurrencesChanged:
          description: The number of occurrences changed by replacing all text.
          format: int32
          type: integer
      type: object
    ReplaceImageRequest:
      description: Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image.
      properties:
        imageObjectId:
          description: The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request.
          type: string
        imageReplaceMethod:
          description: The replacement method.
          enum:
            - IMAGE_REPLACE_METHOD_UNSPECIFIED
            - CENTER_INSIDE
            - CENTER_CROP
          type: string
        url:
          description: The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URL can't surpass 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.
          type: string
      type: object
    Request:
      description: A single kind of update to apply to a presentation.
      properties:
        createImage:
          $ref: "#/components/schemas/CreateImageRequest"
          description: Creates an image.
        createLine:
          $ref: "#/components/schemas/CreateLineRequest"
          description: Creates a line.
        createParagraphBullets:
          $ref: "#/components/schemas/CreateParagraphBulletsRequest"
          description: Creates bullets for paragraphs.
        createShape:
          $ref: "#/components/schemas/CreateShapeRequest"
          description: Creates a new shape.
        createSheetsChart:
          $ref: "#/components/schemas/CreateSheetsChartRequest"
          description: Creates an embedded Google Sheets chart.
        createSlide:
          $ref: "#/components/schemas/CreateSlideRequest"
          description: Creates a new slide.
        createTable:
          $ref: "#/components/schemas/CreateTableRequest"
          description: Creates a new table.
        createVideo:
          $ref: "#/components/schemas/CreateVideoRequest"
          description: Creates a video.
        deleteObject:
          $ref: "#/components/schemas/DeleteObjectRequest"
          description: Deletes a page or page element from the presentation.
        deleteParagraphBullets:
          $ref: "#/components/schemas/DeleteParagraphBulletsRequest"
          description: Deletes bullets from paragraphs.
        deleteTableColumn:
          $ref: "#/components/schemas/DeleteTableColumnRequest"
          description: Deletes a column from a table.
        deleteTableRow:
          $ref: "#/components/schemas/DeleteTableRowRequest"
          description: Deletes a row from a table.
        deleteText:
          $ref: "#/components/schemas/DeleteTextRequest"
          description: Deletes text from a shape or a table cell.
        duplicateObject:
          $ref: "#/components/schemas/DuplicateObjectRequest"
          description: Duplicates a slide or page element.
        groupObjects:
          $ref: "#/components/schemas/GroupObjectsRequest"
          description: Groups objects, such as page elements.
        insertTableColumns:
          $ref: "#/components/schemas/InsertTableColumnsRequest"
          description: Inserts columns into a table.
        insertTableRows:
          $ref: "#/components/schemas/InsertTableRowsRequest"
          description: Inserts rows into a table.
        insertText:
          $ref: "#/components/schemas/InsertTextRequest"
          description: Inserts text into a shape or table cell.
        mergeTableCells:
          $ref: "#/components/schemas/MergeTableCellsRequest"
          description: Merges cells in a Table.
        refreshSheetsChart:
          $ref: "#/components/schemas/RefreshSheetsChartRequest"
          description: Refreshes a Google Sheets chart.
        replaceAllShapesWithImage:
          $ref: "#/components/schemas/ReplaceAllShapesWithImageRequest"
          description: Replaces all shapes matching some criteria with an image.
        replaceAllShapesWithSheetsChart:
          $ref: "#/components/schemas/ReplaceAllShapesWithSheetsChartRequest"
          description: Replaces all shapes matching some criteria with a Google Sheets chart.
        replaceAllText:
          $ref: "#/components/schemas/ReplaceAllTextRequest"
          description: Replaces all instances of specified text.
        replaceImage:
          $ref: "#/components/schemas/ReplaceImageRequest"
          description: Replaces an existing image with a new image.
        rerouteLine:
          $ref: "#/components/schemas/RerouteLineRequest"
          description: Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.
        ungroupObjects:
          $ref: "#/components/schemas/UngroupObjectsRequest"
          description: Ungroups objects, such as groups.
        unmergeTableCells:
          $ref: "#/components/schemas/UnmergeTableCellsRequest"
          description: Unmerges cells in a Table.
        updateImageProperties:
          $ref: "#/components/schemas/UpdateImagePropertiesRequest"
          description: Updates the properties of an Image.
        updateLineCategory:
          $ref: "#/components/schemas/UpdateLineCategoryRequest"
          description: Updates the category of a line.
        updateLineProperties:
          $ref: "#/components/schemas/UpdateLinePropertiesRequest"
          description: Updates the properties of a Line.
        updatePageElementAltText:
          $ref: "#/components/schemas/UpdatePageElementAltTextRequest"
          description: Updates the alt text title and/or description of a page element.
        updatePageElementTransform:
          $ref: "#/components/schemas/UpdatePageElementTransformRequest"
          description: Updates the transform of a page element.
        updatePageElementsZOrder:
          $ref: "#/components/schemas/UpdatePageElementsZOrderRequest"
          description: Updates the Z-order of page elements.
        updatePageProperties:
          $ref: "#/components/schemas/UpdatePagePropertiesRequest"
          description: Updates the properties of a Page.
        updateParagraphStyle:
          $ref: "#/components/schemas/UpdateParagraphStyleRequest"
          description: Updates the styling of paragraphs within a Shape or Table.
        updateShapeProperties:
          $ref: "#/components/schemas/UpdateShapePropertiesRequest"
          description: Updates the properties of a Shape.
        updateSlideProperties:
          $ref: "#/components/schemas/UpdateSlidePropertiesRequest"
          description: Updates the properties of a Slide
        updateSlidesPosition:
          $ref: "#/components/schemas/UpdateSlidesPositionRequest"
          description: Updates the position of a set of slides in the presentation.
        updateTableBorderProperties:
          $ref: "#/components/schemas/UpdateTableBorderPropertiesRequest"
          description: Updates the properties of the table borders in a Table.
        updateTableCellProperties:
          $ref: "#/components/schemas/UpdateTableCellPropertiesRequest"
          description: Updates the properties of a TableCell.
        updateTableColumnProperties:
          $ref: "#/components/schemas/UpdateTableColumnPropertiesRequest"
          description: Updates the properties of a Table column.
        updateTableRowProperties:
          $ref: "#/components/schemas/UpdateTableRowPropertiesRequest"
          description: Updates the properties of a Table row.
        updateTextStyle:
          $ref: "#/components/schemas/UpdateTextStyleRequest"
          description: Updates the styling of text within a Shape or Table.
        updateVideoProperties:
          $ref: "#/components/schemas/UpdateVideoPropertiesRequest"
[...]
