openapi: 3.0.2
servers:
  - description: DFlight API
    url: https://dflight-api.ljaero.com/
info:
  description: |-
    [DFlight API](https://ljaero.com/solutions/dflight/) supplies the up-to-date information needed for compliance with UAV preflight assessment requirements. Separate endpoints are available for each of the following information categories:
    - Airspace
    - Weather
    - Temporary Flight Restrictions
    - Special Security Areas
    - Restricted Public Venues
    - Surface Obstacles
    - Aerodromes
    - UAS Operating Areas

    You can define your geographic area of interest in one of three convenient ways:
    - Providing a latitude/longitude point and distance around that point
    - Providing a GeoJSON LineString defining your route
    - Providing an arbitrary GeoJSON Polygon defining your area of interest
  title: DFlight API
  version: V 1.0.0
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_0.gravatar.com_blavatar_653166773dc88127bd3afe0b6dfe5ea7.png
  x-origin:
    - format: openapi
      url: https://dflight-api.ljaero.com/openapi.json
      version: "3.0"
  x-providerName: ljaero.com
  x-serviceName: dflight
tags:
  - description: |-
      #### Information is available for the following types of airspace:
      * **Controlled Airspace (CAS):** Class B, C, D, E2 airspace names, boundaries, altitude information, and LAANC availability
      * **Special Use Airspace (SUA):** Names, boundaries, and altitude information for the following types of Special Use Airspace:
          - Alert Areas (AA)
          - Military Operations Areas (MOA)
          - National Security Areas (NSA)
          - Prohibited Areas (PA)
          - Restricted Areas (RA)
          - Warning Areas (WA)
      * **Miscellaneous Activity Areas (MAA):** Names and boundary information for the following types of Miscellaneous Activity Areas:
          - Aerobatic Practice Areas (AEROBATIC PRACTICE)
          - Glider Operations Areas (GLIDER)
          - Hang Glider Operations Areas (HANG GLIDER)
          - Parachute Jump Areas (PARACHUTE JUMP AREA)
          - Space Launch Activity Areas (SPACE LAUNCH ACTIVITY)
      * **Military Training Routes (MTR):** Names, route geometry, usage times, and corridor width information for both VFR and IFR Military Training Routes
    name: Airspace
  - description: |-
      #### Hourly forecast values for the following flight-impacting weather elements:
      * Cloud Ceiling (CIG)
      * Dewpoint Temperature (DEWPT)
      * Cloud Cover (SKY)
      * Air Temperature (TEMP)
      * Visibility (VIS)
      * Wind Direction (WINDDIR)
      * Wind Speed (WINDSPEED)
      * Wind Gust Speed (WINDGUST)
    name: Weather
  - description: |-
      #### Temporary Flight Restrictions (TFRs) define areas restricting air operations (including drone operations) due to hazardous conditions, special events, or other safety/security reasons.
      All published/active TFRs in specified area will be included in the response. Check the startDateTime and endDateTime properties to determine whether or not the restriction is applicable during your planned time of operation. In case of a TFR in your area of intended operation, you might still be able to fly by obtaining a via waiver through the [Special Governmental Interest (SGI) process](https://www.faa.gov/uas/advanced_operations/emergency_situations).
    name: Flight Restrictions
  - description: |-
      #### Locations where all UAS flight operations are prohibited unless prior FAA authorization has been obtained, and coordination with the controlling agency has taken place.
      Through agreements with the Department of Defense and other U.S. security and intelligence agencies, the FAA published these restrictions as [FDC NOTAM 1/0488](https://tfr.faa.gov/save_pages/detail_1_0488.html) (and it's predecessors). Unlike other NOTAMs designated as [Temporary Flight Restrictions](https://dflight-api.ljaero.com/#/Flight%20Restrictions), these remain in effect 24 hours a day, 7 days a week, until further announcement.
    name: Special Security Areas
  - description: |-
      #### Areas where drone operations may be restricted or prohibited:
      * Lands administered by the National Park Service (prohibited at all times)
      * Major League Baseball Stadiums (prohibited within a 3 NM radius 1 hr before - 1 hr after game)
      * National Football League Stadiums (prohibited within a 3 NM radius 1 hr before - 1 hr after game)
      * NCAA Division One Football Stadiums (prohibited within a 3 NM radius 1 hr before - 1 hr after game)
      * NASCAR Sprint Cup, Indy Car, and Champ Series races (prohibited within a 3 NM radius 1 hr before - 1 hr after race)
    name: Restricted Public Venues
  - description: |-
      #### All known structures whose presence might interfere with airborne activity, as defined in [14 CFR Part 77.9](https://www.ecfr.gov/current/title-14/chapter-I/subchapter-E/part-77#77.9).
      This information is updated daily and includes the following details:
      * Location
      * Type
      * Number of separate structures in case of a group
      * Height (in ft. AGL)
      * Lighting and other markings
    name: Surface Obstacles
  - description: |-
      #### Center points and contact information for all US landing facilities, including those with no associated controlled airspace:
      * Public and private airports
      * Public and private balloonports
      * Public and private gliderports
      * Public and private heliports
      * Public and private seaplane bases
      * Public and private ultralight bases
    name: Aerodromes
  - description: |-
      #### Areas where drone activity is scheduled to take place. 
      UAS Operating Areas (UOAs) are published via [NOTAM](https://www.faa.gov/regulations_policies/orders_notices/index.cfm/go/document.information/documentID/1035053) to alert airspace users of unmanned aircraft activity in a given area and at a given time (singular or recurring).
    name: UAS Operating Areas
paths:
  /us/v1/aerodromes/distance-query:
    post:
      description: |-
        Retrieve aerodromes within given distance of a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)

        Successful requests return a GeoJSON FeatureCollection, with a separate Feature for each
        Aerodrome found. All Features will include properties for the facility name, ident,
        type, and operational status.
      operationId: aerodromes_by_distance_us_v1_aerodromes_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AerodromesByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AerodromeDistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each aerodrome found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve aerodromes within given distance of location.
      tags:
        - Aerodromes
  /us/v1/aerodromes/polygon-query:
    post:
      description: |-
        Retrieve aerodromes located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.

        Successful requests return a GeoJSON FeatureCollection, with a separate Feature for each
        Aerodrome found. All Features will include properties for the facility name, ident,
        type, and operational status.
      operationId: aerodromes_by_poly_us_v1_aerodromes_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AerodromesByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AerodromePolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each aerodrome found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve aerodromes located within given area.
      tags:
        - Aerodromes
  /us/v1/aerodromes/route-query:
    post:
      description: |-
        Retrieve aerodromes found along a route. Request body parameters are:
        * route: [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.

        Successful requests return a GeoJSON FeatureCollection, with a separate Feature for each
        Aerodrome found. All Features will include properties for the facility name, ident,
        type, and operational status.
      operationId: aerodromes_by_route_us_v1_aerodromes_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AerodromesByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AerodromeRouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each aerodrome found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve aerodromes found along a route.
      tags:
        - Aerodromes
  /us/v1/airspace/distance-query:
    post:
      description: |-
        Retrieve selected types of airspace existing within given distance from a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
        * asptypes:  list of one or more airspace types you wish to retrieve. Allowed values are 'CAS', 'SUA', 'MAA', and 'MTR'.

        Successful requests return a list of GeoJSON FeatureCollections, one for each Airspace type indicated in the request. Within each feature collection, there will be a separate Feature for each Airspace instance found. All Features will include a property indicating the *airspace_type*. Additional properties for each *airspace_type* are as follows:
        * CAS (Controlled Airspace)
            - *name*
            - *cas_class*: B, C, D, or E2
            - *floor*: integer value in ft MSL
            - *ceiling*: integer value in ft MSL
            - *lannc*: true/false indicating whether or not authorization for this airspace may be obtained via LAANC
        * SUA (Special Use Airspace)
            - *name*
            - *sua_type*: AA = Alert Area, MOA = Military Operations Area, NSA = National Security Area, PA = Prohibited Area, RA = Restricted Area, WA = Warning Area
            - *floor*: lower limit of the airspace
            - *floor_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *floor_ref*: reference level used for the numeric floor value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
            - *ceiling*: upper limit of the airspace
            - *ceiling_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *ceiling_ref*: reference level used for the numeric ceiling value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
        * MAA (Miscellaneous Activity Area)
            - *name*
            - *maa_type*: one of the following - ULTRALIGHT, PARACHUTE JUMP AREA, AEROBATIC PRACTICE, GLIDER, HANG GLIDER, SPACE LAUNCH ACTIVITY
            - *use_times*: textual description of days/times when activity in the area should be expected
        * MTR (Military Training Route)
            - *name*
            - *use_times*: textual description of days/times when MTR is active/hot
            - *terrain_following*: boolean value indicating whether terrain following activity occurs on the route
            - *max_extent_nm*: maximum distance that aircraft can deviate from route centerline
      operationId: asp_by_distance_us_v1_airspace_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AirspaceByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AirspaceDistanceResponse"
          description: A list of GeoJSON FeatureCollections, one for each Airspace type requested.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all requested types of airspace located within given distance of location.
      tags:
        - Airspace
  /us/v1/airspace/polygon-query:
    post:
      description: |-
        Retrieve selected types of airspace located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
        * asptypes:  list of one or more airspace types you wish to retrieve. Allowed values are 'CAS', 'SUA', 'MAA', and 'MTR'.

        Successful requests return a list of GeoJSON FeatureCollections, one for each Airspace type indicated in the request. Within each feature collection, there will be a separate Feature for each Airspace instance found. All Features will include a property indicating the *airspace_type*. Additional properties for each *airspace_type* are as follows:
        * CAS (Controlled Airspace)
            - *name*
            - *cas_class*: B, C, D, or E2
            - *floor*: integer value in ft MSL
            - *ceiling*: integer value in ft MSL
            - *lannc*: true/false indicating whether or not authorization for this airspace may be obtained via LAANC
        * SUA (Special Use Airspace)
            - *name*
            - *sua_type*: AA = Alert Area, MOA = Military Operations Area, NSA = National Security Area, PA = Prohibited Area, RA = Restricted Area, WA = Warning Area
            - *floor*: lower limit of the airspace
            - *floor_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *floor_ref*: reference level used for the numeric floor value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
            - *ceiling*: upper limit of the airspace
            - *ceiling_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *ceiling_ref*: reference level used for the numeric ceiling value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
        * MAA (Miscellaneous Activity Area)
            - *name*
            - *maa_type*: one of the following - ULTRALIGHT, PARACHUTE JUMP AREA, AEROBATIC PRACTICE, GLIDER, HANG GLIDER, SPACE LAUNCH ACTIVITY
            - *use_times*: textual description of days/times when activity in the area should be expected
        * MTR (Military Training Route)
            - *name*
            - *use_times*: textual description of days/times when MTR is active/hot
            - *terrain_following*: boolean value indicating whether terrain following activity occurs on the route
            - *max_extent_nm*: maximum distance that aircraft can deviate from route centerline
      operationId: asp_by_poly_us_v1_airspace_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AirspaceByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AirspacePolyResponse"
          description: A list of GeoJSON FeatureCollections, one for each Airspace type requested.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all requested types of airspace located within given GeoJSON Polygon.
      tags:
        - Airspace
  /us/v1/airspace/route-query:
    post:
      description: |-
        Retrieve selected types of airspace traversed by route. Request body parameters are:
        * route:  [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
        * asptypes:  list of one or more airspace types you wish to retrieve. Allowed values are 'CAS', 'SUA', 'MAA', and 'MTR'.

        Successful requests return a list of GeoJSON FeatureCollections, one for each Airspace type indicated in the request. Within each feature collection, there will be a separate Feature for each Airspace instance found. All Features will include a property indicating the *airspace_type*. Additional properties for each *airspace_type* are as follows:
        * CAS (Controlled Airspace)
            - *name*
            - *cas_class*: B, C, D, or E2
            - *floor*: integer value in ft MSL
            - *ceiling*: integer value in ft MSL
            - *lannc*: true/false indicating whether or not authorization for this airspace may be obtained via LAANC
        * SUA (Special Use Airspace)
            - *name*
            - *sua_type*: AA = Alert Area, MOA = Military Operations Area, NSA = National Security Area, PA = Prohibited Area, RA = Restricted Area, WA = Warning Area
            - *floor*: lower limit of the airspace
            - *floor_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *floor_ref*: reference level used for the numeric floor value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
            - *ceiling*: upper limit of the airspace
            - *ceiling_uom*: unit of measure used for the numeric floor value: FT (feet) or FL (flight level)
            - *ceiling_ref*: reference level used for the numeric ceiling value: AGL, MSL, or STD (standard atmosphere, used for flight level values)
        * MAA (Miscellaneous Activity Area)
            - *name*
            - *maa_type*: one of the following - ULTRALIGHT, PARACHUTE JUMP AREA, AEROBATIC PRACTICE, GLIDER, HANG GLIDER, SPACE LAUNCH ACTIVITY
            - *use_times*: textual description of days/times when activity in the area should be expected
        * MTR (Military Training Route)
            - *name*
            - *use_times*: textual description of days/times when MTR is active/hot
            - *terrain_following*: boolean value indicating whether terrain following activity occurs on the route
            - *max_extent_nm*: maximum distance that aircraft can deviate from route centerline
      operationId: asp_by_route_us_v1_airspace_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AirspaceByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AirspaceRouteResponse"
          description: A list of GeoJSON FeatureCollections, one for each Airspace type requested.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all requested types of airspace traversed by route.
      tags:
        - Airspace
  /us/v1/obstacles/distance-query:
    post:
      description: |-
        Retrieve obstacles within given distance of a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
      operationId: obstacles_by_distance_us_v1_obstacles_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObstaclesByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObstacleDistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each obstacle found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve obstacles within given distance of location.
      tags:
        - Surface Obstacles
  /us/v1/obstacles/polygon-query:
    post:
      description: |-
        Retrieve obstacles located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
      operationId: obstacles_by_poly_us_v1_obstacles_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObstaclesByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObstaclePolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each obstacle found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve obstacles located within given area.
      tags:
        - Surface Obstacles
  /us/v1/obstacles/route-query:
    post:
      description: |-
        Retrieve obstacles found along a route. Request body parameters are:
        * route: [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
      operationId: obstacles_by_route_us_v1_obstacles_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObstaclesByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObstacleRouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each obstacle found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve obstacles found along a route.
      tags:
        - Surface Obstacles
  /us/v1/restrictions/distance-query:
    post:
      description: |-
        Retrieve Flight Restrictions applicable within given distance of a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
      operationId: tfr_by_distance_us_v1_restrictions_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NOTAMsByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NOTAMsDistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each restriction.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve flight restrictions applicable within given distance of location.
      tags:
        - Flight Restrictions
  /us/v1/restrictions/polygon-query:
    post:
      description: |-
        Retrieve Flight Restrictions located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
      operationId: tfr_by_poly_us_v1_restrictions_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NOTAMsByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NOTAMsPolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each restriction.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve flight restrictions applicable within given area.
      tags:
        - Flight Restrictions
  /us/v1/restrictions/route-query:
    post:
      description: |-
        Retrieve Flight Restrictions applicable along your route. Request body parameters are:
        * route:  [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
      operationId: tfr_by_route_us_v1_restrictions_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NOTAMsByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NOTAMsRouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each restriction.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve flight restrictions applicable along route.
      tags:
        - Flight Restrictions
  /us/v1/ssa/distance-query:
    post:
      description: |-
        Retrieve special security areas existing within given distance from a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
      operationId: ssa_by_distance_us_v1_ssa_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSAByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSADistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each area found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all special security areas located within given distance of location.
      tags:
        - Special Security Areas
  /us/v1/ssa/polygon-query:
    post:
      description: |-
        Retrieve all special security areas located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
      operationId: ssa_by_poly_us_v1_ssa_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSAByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSAPolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each area found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all special security areas located within given GeoJSON Polygon.
      tags:
        - Special Security Areas
  /us/v1/ssa/route-query:
    post:
      description: |-
        Retrieve all special security areas intersected by route. Request body parameters are:
        * route: [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
      operationId: ssa_by_route_us_v1_ssa_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSAByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSARouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each area found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all special security areas traversed by route.
      tags:
        - Special Security Areas
  /us/v1/uoa/distance-query:
    post:
      description: |-
        Retrieve UAS Operating Areas (UOAs) found within given distance of a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
      operationId: uoa_by_distance_us_v1_uoa_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UOAsByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UOAsDistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each UOA.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve UAS Operating Areas (UOAs) found within given distance of location.
      tags:
        - UAS Operating Areas
  /us/v1/uoa/polygon-query:
    post:
      description: |-
        Retrieve UAS Operating Areas (UOAs) found within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
      operationId: uoa_by_poly_us_v1_uoa_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UOAsByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UOAsPolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each UOA.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve UAS Operating Areas (UOAs) found within given area.
      tags:
        - UAS Operating Areas
  /us/v1/uoa/route-query:
    post:
      description: |-
        Retrieve UAS Operating Areas (UOAs) found along your route. Request body parameters are:
        * route:  [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
      operationId: uoa_by_route_us_v1_uoa_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UOAsByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UOAsRouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each UOA.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve UAS Operating Areas (UOAs) found along route.
      tags:
        - UAS Operating Areas
  /us/v1/venues/distance-query:
    post:
      description: |-
        Retrieve venues existing within given distance from a point. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
      operationId: ven_by_distance_us_v1_venues_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VenuesByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueDistanceResponse"
          description: A GeoJSON FeatureCollection, one Feature for each venue found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all restricted public venues located within given distance of location.
      tags:
        - Restricted Public Venues
  /us/v1/venues/polygon-query:
    post:
      description: |-
        Retrieve all restricted public venues located within given area. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
      operationId: ven_by_poly_us_v1_venues_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VenuesByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenuePolyResponse"
          description: A GeoJSON FeatureCollection, one Feature for each venue found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all restricted public venues located within given GeoJSON Polygon.
      tags:
        - Restricted Public Venues
  /us/v1/venues/route-query:
    post:
      description: |-
        Retrieve all restricted public venues intersected by route. Request body parameters are:
        * route: [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
      operationId: ven_by_route_us_v1_venues_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VenuesByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueRouteResponse"
          description: A GeoJSON FeatureCollection, one Feature for each venue found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve all restricted public venues traversed by route.
      tags:
        - Restricted Public Venues
  /us/v1/wx-forecast/distance-query:
    post:
      description: |-
        Retrieve forecast values for selected weather elements and time period. Request body parameters are:
        * latitude:  WGS84 latitude coordinate of your selected point, in decimal degrees
        * longitude:  WGS84 longitude coordinate of your selected point, in decimal degrees
        * distance:  distance in meters (max allowed value is 25000)
        * wxtypes:  list of one or more weather forecast elements you wish to retrieve. Allowed values are "CIG", "DEWPT", "SKY", "TEMP", "VIS", "WINDDIR", "WINDGUST", "WINDSPEED".
        * hours:  number of hourly forecasts to return (1-24). For current hour only you should enter value of 1. To also retrieve values for each of the next n hours, enter n.


        The response will consist of a GeoJSON FeatureCollection with one Feature for each forecast location found within requested area,
        properties of which will include an ordered list of forecast values for each requested weather element, for each requested hour. Units for each element are as follows:
        * CIG: meters AGL
        * DEWPT: degrees Celsius
        * SKY: % cloud cover
        * TEMP: degrees Celsius
        * VIS: meters
        * WINDDIR: degrees true
        * WINDGUST: meters/sec
        * WINDSPEED: meters/sec
      operationId: wx_by_distance_us_v1_wx_forecast_distance_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WxByDistance"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WxDistanceResponse"
          description: A GeoJSON FeatureCollection with one Feature for each forecast location found within requested area.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve forecast values within given distance of location for all requested weather elements and time periods.
      tags:
        - Weather
  /us/v1/wx-forecast/polygon-query:
    post:
      description: |-
        Retrieve forecast values located within given area for requested weather elements and time period. Request body parameters are:
        * poly:  [GeoJSON Polygon](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the area. Max allowed area is 1000 km^2.
        * wxtypes:  list of one or more weather forecast elements you wish to retrieve. Allowed values are "CIG", "DEWPT", "SKY", "TEMP", "VIS", "WINDDIR", "WINDGUST", "WINDSPEED".
        * hours:  number of hourly forecasts to return (1-24). For current hour only you should enter value of 1. To also retrieve values for each of the next n hours, enter n.


        The response will consist of a GeoJSON FeatureCollection with one Feature for each forecast location found within requested area,
        properties of which will include an ordered list of forecast values for each requested weather element, for each requested hour. Units for each element are as follows:
        * CIG: meters AGL
        * DEWPT: degrees Celsius
        * SKY: % cloud cover
        * TEMP: degrees Celsius
        * VIS: meters
        * WINDDIR: degrees true
        * WINDGUST: meters/sec
        * WINDSPEED: meters/sec
      operationId: wx_by_poly_us_v1_wx_forecast_polygon_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WxByPolygon"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WxPolyResponse"
          description: A GeoJSON FeatureCollection with one Feature for each forecast location found within requested area.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve forecast values within given GeoJSON polygon for all requested weather elements and time periods.
      tags:
        - Weather
  /us/v1/wx-forecast/route-query:
    post:
      description: |-
        Retrieve forecast values along route for requested weather elements and time period. Request body parameters are:
        * route:  [GeoJSON Linestring](https://www.rfc-editor.org/rfc/rfc7946.html#appendix-A) defining the route. Max allowed length is 50 km.
        * wxtypes:  list of one or more weather forecast elements you wish to retrieve. Allowed values are "CIG", "DEWPT", "SKY", "TEMP", "VIS", "WINDDIR", "WINDGUST", "WINDSPEED".
        * hours:  number of hourly forecasts to return (1-24). For current hour only you should enter value of 1. To also retrieve values for each of the next n hours, enter n.


        The response will consist of a GeoJSON FeatureCollection with one Feature for each forecast location found within requested area,
        properties of which will include an ordered list of forecast values for each requested weather element, for each requested hour. Units for each element are as follows:
        * CIG: meters AGL
        * DEWPT: degrees Celsius
        * SKY: % cloud cover
        * TEMP: degrees Celsius
        * VIS: meters
        * WINDDIR: degrees true
        * WINDGUST: meters/sec
        * WINDSPEED: meters/sec
      operationId: wx_by_route_us_v1_wx_forecast_route_query_post
      parameters:
        - in: header
          name: x-api-key
          required: false
          schema:
            title: X-Api-Key
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WxByRoute"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WxRouteResponse"
          description: A GeoJSON FeatureCollection with one Feature for each forecast location found within requested area.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Retrieve forecast values along a route for all requested weather elements and time periods.
      tags:
        - Weather
components:
  schemas:
    AerodromeDistanceResponse:
      example:
        found:
          features:
            - geometry:
                coordinates:
                  - -82.997126
                  - 39.95534
                type: Point
              properties:
                contact_person: Steve Skilken - Manager
                contact_phone: 614-221-4547
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: 5OH8
                name: Joseph Skilken & Company
              type: Feature
            - geometry:
                coordinates:
                  - -82.962402
                  - 39.97034
                type: Point
              properties:
                contact_person: Ron Marstiller - Manager
                contact_phone: 614-257-2136
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: 2OI6
                name: University Hospital East
              type: Feature
            - geometry:
                coordinates:
                  - -82.980154
                  - 39.952685
                type: Point
              properties:
                contact_person: Chip Henderson - Manager
                contact_phone: 614-722-6226
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: OI95
                name: Nationwide Children'S Hospital
              type: Feature
            - geometry:
                coordinates:
                  - -82.999348
                  - 39.962562
                type: Point
              properties:
                contact_person: Das Facility Manager - Manager
                contact_phone: 614-995-7751
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: OH53
                name: Ohio Bldg Authority
              type: Feature
            - geometry:
                coordinates:
                  - -82.991474
                  - 39.960582
                type: Point
              properties:
                contact_person: Gregory D Maney - Manager
                contact_phone: 614-566-9000
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: OH01
                name: Grant Medical Center
              type: Feature
          type: FeatureCollection
      properties:
        found:
          title: Found
          type: object
      required:
        - found
      title: AerodromeDistanceResponse
      type: object
    AerodromePolyResponse:
      example:
        found:
          features:
            - geometry:
                coordinates:
                  - -122.348709
                  - 47.619571
                type: Point
              properties:
                contact_person: Keith Nealey - Manager
                contact_phone: 206-728-7777
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: 8WA9
                name: Broadcast House Helistop
              type: Feature
            - geometry:
                coordinates:
                  - -122.344721
                  - 47.621668
                type: Point
              properties:
                contact_person: Jeff Pace - Manager
                contact_phone: 206-404-8000
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: WN16
                name: Komo Tv
              type: Feature
            - geometry:
                coordinates:
                  - -122.342347
                  - 47.621489
                type: Point
              properties:
                contact_person: Mark S. Hansen - Manager
                contact_phone: 206-448-3863
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: WN01
                name: Seattle Private Number One
              type: Feature
            - geometry:
                coordinates:
                  - -122.338736
                  - 47.628989
                type: Point
              properties:
                contact_person: Sarah Feller - Manager
                contact_phone: 425-486-1257
                facility_status: OPERATIONAL
                facility_type: PUBLIC SEAPLANE BASE
                ident: W55
                name: Kenmore Air Harbor
              type: Feature
          type: FeatureCollection
      properties:
        found:
          title: Found
          type: object
      required:
        - found
      title: AerodromePolyResponse
      type: object
    AerodromeRouteResponse:
      example:
        found:
          features:
            - geometry:
                coordinates:
                  - -89.353022
                  - 29.258748
                type: Point
              properties:
                contact_person: Mickey Bull - Manager
                contact_phone: 504-465-3220
                facility_status: OPERATIONAL
                facility_type: PRIVATE SEAPLANE BASE
                ident: 11LA
                name: Tiger Pass
              type: Feature
            - geometry:
                coordinates:
                  - -89.355051
                  - 29.259386
                type: Point
              properties:
                contact_person: H. A. Niehaus - Manager
                contact_phone: 504-368-3000
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: 8LA4
                name: Conoco Inc Venice
              type: Feature
            - geometry:
                coordinates:
                  - -89.367829
                  - 29.287441
                type: Point
              properties:
                contact_person: Unknown
                contact_phone: Unknown
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: LS52
                name: Era Helicopters Venice Base
              type: Feature
            - geometry:
                coordinates:
                  - -89.36394
                  - 29.286052
                type: Point
              properties:
                contact_person: R. J. Barnwell - Manager
                contact_phone: 318-233-8240
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: LA47
                name: Marathon Venice
              type: Feature
            - geometry:
                coordinates:
                  - -89.371108
                  - 29.295554
                type: Point
              properties:
                contact_person: Robert Old - Manager
                contact_phone: (985) 288-1255
                facility_status: OPERATIONAL
                facility_type: PRIVATE HELIPORT
                ident: 45LA
                name: Bristow Us Llc
              type: Feature
            - geometry:
                coordinates:
                  - -89.355831
                  - 29.271109
                type: Point
              properties:
                contact_person: Wayland Lewis - Manager
                contact_phone: 504-534-7031
                facility_status: OPERATIONAL
                facility_type: PRIVATE SEAPLANE BASE
                ident: 30LA
                name: Venice Base Heliport & Spb
              type: Feature
          type: FeatureCollection
      properties:
        found:
          title: Found
          type: object
      required:
        - found
      title: AerodromeRouteResponse
      type: object
    AerodromesByDistance:
      description: Geometry-defining arguments for point/distance requests
      example:
        distance: 5000
        latitude: 39.94
        longitude: -82.97
      properties:
        distance:
          anyOf:
            - type: number
            - type: integer
          title: Distance
        latitude:
          anyOf:
            - type: number
            - type: integer
          title: Latitude
        longitude:
          anyOf:
            - type: number
            - type: integer
          title: Longitude
      required:
        - longitude
        - latitude
        - distance
      title: AerodromesByDistance
      type: object
    AerodromesByPolygon:
      description: Geometry-defining arguments for polygon requests
      example:
        poly:
          coordinates:
            - - - -122.338707447052
                - 47.62958028571895
              - - -122.35679626464844
                - 47.61773556745509
              - - -122.33343388885261
                - 47.61953540719045
              - - -122.338707447052
                - 47.62958028571895
          type: Polygon
      properties:
        poly:
          title: Poly
          type: object
      required:
        - poly
      title: AerodromesByPolygon
      type: object
    AerodromesByRoute:
      description: Geometry-defining arguments for along-route requests
      example:
        route:
          coordinates:
            - - -89.353316
              - 29.270685
            - - -89.36921
              - 29.290526
            - - -89.376006
              - 29.298966
          type: LineString
      properties:
        route:
          title: Route
          type: object
      required:
        - route
      title: AerodromesByRoute
      type: object
    AirspaceByDistance:
      description: Geometry-defining arguments for point/distance requests
      example:
        asptypes:
          - MAA
          - MTR
        distance: 5000
        latitude: 44.6031
        longitude: -88.2188
      properties:
        asptypes:
          items:
            type: string
          title: Asptypes
          type: array
        distance:
          anyOf:
            - type: number
            - type: integer
          title: Distance
        latitude:
          anyOf:
            - type: number
            - type: integer
          title: Latitude
        longitude:
          anyOf:
            - type: number
            - type: integer
          title: Longitude
      required:
        - longitude
        - latitude
        - distance
        - asptypes
      title: AirspaceByDistance
      type: object
    AirspaceByPolygon:
      description: Geometry-defining arguments for polygon requests
      example:
        asptypes:
          - CAS
        poly:
          coordinates:
            - - - -86.337
                - 41.716
              - - -86.323
                - 41.718
              - - -86.327
                - 41.727
              - - -86.337
                - 41.722
              - - -86.337
                - 41.716
          type: Polygon
      properties:
        asptypes:
          items:
            type: string
          title: Asptypes
          type: array
        poly:
          title: Poly
          type: object
      required:
        - poly
        - asptypes
      title: AirspaceByPolygon
      type: object
    AirspaceByRoute:
      description: Geometry-defining arguments for along-route requests
      example:
        asptypes:
          - SUA
          - MAA
        route:
          coordinates:
            - - -87.43633
              - 36.637119
            - - -87.430424
              - 36.615407
            - - -87.417378
              - 36.592697
          type: LineString
      properties:
        asptypes:
          items:
            type: string
          title: Asptypes
          type: array
        route:
          title: Route
          type: object
      required:
        - route
        - asptypes
      title: AirspaceByRoute
      type: object
    AirspaceDistanceResponse:
      example:
        found:
          - features:
              - geometry:
                  coordinates:
                    - - - -88.196474
                        - 44.637461
                      - - -88.196554
                        - 44.636301
                      - - -88.196794
                        - 44.635151
                      - - -88.197191
                        - 44.634024
                      - - -88.197741
                        - 44.63293
                      - - -88.198439
                        - 44.63188
                      - - -88.199278
                        - 44.630884
                      - - -88.200251
                        - 44.62995
                      - - -88.201347
                        - 44.629089
                      - - -88.202557
                        - 44.628309
                      - - -88.203868
                        - 44.627617
                      - - -88.205268
                        - 44.62702
                      - - -88.206744
                        - 44.626523
                      - - -88.208282
                        - 44.626131
                      - - -88.209865
                        - 44.625849
                      - - -88.21148
                        - 44.625679
                      - - -88.213111
                        - 44.625622
                      - - -88.214742
                        - 44.625679
                      - - -88.216357
                        - 44.625849
                      - - -88.21794
                        - 44.626131
                      - - -88.219478
                        - 44.626523
                      - - -88.220954
                        - 44.62702
                      - - -88.222354
                        - 44.627617
                      - - -88.223665
                        - 44.628309
                      - - -88.224875
                        - 44.629089
                      - - -88.225971
                        - 44.62995
                      - - -88.226944
                        - 44.630884
                      - - -88.227783
                        - 44.63188
                      - - -88.228481
                        - 44.63293
                      - - -88.229031
                        - 44.634024
                      - - -88.229428
                        - 44.635151
                      - - -88.229668
                        - 44.636301
                      - - -88.229748
                        - 44.637461
                      - - -88.229668
                        - 44.638621
                      - - -88.229428
                        - 44.63977
                      - - -88.229031
                        - 44.640897
                      - - -88.228481
                        - 44.641991
                      - - -88.227783
                        - 44.643041
                      - - -88.226944
                        - 44.644038
                      - - -88.225971
                        - 44.644971
                      - - -88.224875
                        - 44.645831
                      - - -88.223665
                        - 44.646611
                      - - -88.222354
                        - 44.647303
                      - - -88.220954
                        - 44.6479
                      - - -88.219478
                        - 44.648397
                      - - -88.21794
                        - 44.648788
                      - - -88.216357
                        - 44.649071
                      - - -88.214742
                        - 44.649241
                      - - -88.213111
                        - 44.649298
                      - - -88.21148
                        - 44.649241
                      - - -88.209865
                        - 44.649071
                      - - -88.208282
                        - 44.648788
                      - - -88.206744
                        - 44.648397
                      - - -88.205268
                        - 44.6479
                      - - -88.203868
                        - 44.647303
                      - - -88.202557
                        - 44.646611
                      - - -88.201347
                        - 44.645831
                      - - -88.200251
                        - 44.644971
                      - - -88.199278
                        - 44.644038
                      - - -88.198439
                        - 44.643041
                      - - -88.197741
                        - 44.641991
                      - - -88.197191
                        - 44.640897
                      - - -88.196794
                        - 44.63977
                      - - -88.196554
                        - 44.638621
                      - - -88.196474
                        - 44.637461
                  type: Polygon
                properties:
                  airspace_type: MAA
                  maa_type: PARACHUTE JUMP AREA
                  name: PWI007
                  use_times: DAILY SR-SS
                type: Feature
            type: FeatureCollection
          - features:
              - geometry:
                  coordinates:
                    - - -89.108332
                      - 44.578334
                    - - -89.283332
                      - 44.755
                    - - -89.566666
                      - 44.890001
                    - - -89.9
                      - 44.888334
                    - - -88.058335
                      - 44.556668
                    - - -89.936666
                      - 44.450001
                    - - -89.916666
                      - 44.233334
                  type: LineString
                properties:
                  airspace_type: MTR
                  max_extent_nm: 4
                  name: 1650VR
                  terrain_following: true
                  use_times: 0730 LOCAL-SUNSET TUE-SAT, OT BY NOTAM
                type: Feature
            type: FeatureCollection
      properties:
        found:
          items:
            type: object
          title: Found
          type: array
      required:
        - found
      title: AirspaceDistanceResponse
      type: object
    AirspacePolyResponse:
      example:
        found:
          - features:
              - geometry:
                  coordinates:
                    - - - -86.213003
                        - 41.67939
                      - - -86.213828
                        - 41.677706
                      - - -86.214701
                        - 41.676035
                      - - -86.215622
                        - 41.674379
                      - - -86.216591
                        - 41.672738
                      - - -86.217606
                        - 41.671113
                      - - -86.218668
                        - 41.669505
                      - - -86.219775
                        - 41.667914
                      - - -86.220928
                        - 41.666342
                      - - -86.222126
                        - 41.664788
                      - - -86.223368
                        - 41.663254
                      - - -86.224654
                        - 41.661741
                      - - -86.225982
                        - 41.660248
                      - - -86.227354
                        - 41.658778
                      - - -86.228767
                        - 41.65733
                      - - -86.230221
                        - 41.655905
                      - - -86.231716
                        - 41.654504
                      - - -86.233251
                        - 41.653127
                      - - -86.234825
                        - 41.651775
                      - - -86.236437
                        - 41.650449
                      - - -86.238087
                        - 41.64915
                      - - -86.239773
                        - 41.647877
                      - - -86.241496
                        - 41.646632
                      - - -86.243254
                        - 41.645415
                      - - -86.245047
                        - 41.644227
                      - - -86.246873
                        - 41.643068
                      - - -86.248732
                        - 41.641938
                      - - -86.250623
                        - 41.640839
                      - - -86.252545
                        - 41.639771
                      - - -86.254497
                        - 41.638733
                      - - -86.256478
                        - 41.637728
                      - - -86.258488
                        - 41.636755
                      - - -86.260525
                        - 41.635814
                      - - -86.262589
                        - 41.634907
                      - - -86.264678
                        - 41.634033
                      - - -86.266791
                        - 41.633193
                      - - -86.268929
                        - 41.632387
                      - - -86.271089
                        - 41.631616
                      - - -86.27327
                        - 41.63088
                      - - -86.275472
                        - 41.63018
                      - - -86.277693
                        - 41.629515
                      - - -86.279933
                        - 41.628886
                      - - -86.282191
                        - 41.628293
                      - - -86.284465
                        - 41.627737
                      - - -86.286754
                        - 41.627218
                      - - -86.289058
                        - 41.626736
                      - - -86.291375
                        - 41.626291
                      - - -86.293704
                        - 41.625884
                      - - -86.296045
                        - 41.625514
                      - - -86.298395
                        - 41.625182
                      - - -86.300754
                        - 41.624889
                      - - -86.303121
                        - 41.624633
                      - - -86.305495
                        - 41.624416
                      - - -86.307875
                        - 41.624237
                      - - -86.310259
                        - 41.624096
                      - - -86.312647
                        - 41.623994
                      - - -86.315037
                        - 41.62393
                      - - -86.317428
                        - 41.623905
                      - - -86.31982
                        - 41.623919
                      - - -86.32221
                        - 41.623971
                      - - -86.324599
                        - 41.624062
                      - - -86.326984
                        - 41.624192
                      - - -86.329365
                        - 41.624359
                      - - -86.331741
                        - 41.624566
                      - - -86.33411
                        - 41.62481
                      - - -86.336472
                        - 41.625093
                      - - -86.338825
                        - 41.625414
                      - - -86.341168
                        - 41.625772
                      - - -86.343501
                        - 41.626169
                      - - -86.345821
                        - 41.626603
                      - - -86.348129
                        - 41.627074
                      - - -86.350423
                        - 41.627582
                      - - -86.352701
                        - 41.628128
                      - - -86.354964
                        - 41.62871
                      - - -86.357215
                        - 41.629316
                      - - -86.335687
                        - 41.653205
                      - - -86.334459
                        - 41.654687
                      - - -86.33348
                        - 41.656271
                      - - -86.332726
                        - 41.657924
                      - - -86.332206
                        - 41.659626
                      - - -86.331926
                        - 41.66136
                      - - -86.331888
                        - 41.663106
                      - - -86.332094
                        - 41.664846
                      - - -86.332541
                        - 41.66656
                      - - -86.333224
                        - 41.66823
                      - - -86.334135
                        - 41.669837
                      - - -86.335265
                        - 41.671364
                      - - -86.336602
                        - 41.672794
                      - - -86.33813
                        - 41.674112
                      - - -86.339834
                        - 41.675304
                      - - -86.341694
                        - 41.676355
                      - - -86.34369
                        - 41.677255
                      - - -86.345801
                        - 41.677994
                      - - -86.348003
                        - 41.678564
                      - - -86.350272
                        - 41.678958
                      - - -86.352584
                        - 41.679173
                      - - -86.354913
                        - 41.679206
                      - - -86.357234
                        - 41.679056
                      - - -86.359522
                        - 41.678726
                      - - -86.361751
                        - 41.678218
                      - - -86.363897
                        - 41.677539
                      - - -86.365937
                        - 41.676695
                      - - -86.367848
                        - 41.675697
                      - - -86.36961
                        - 41.674554
                      - - -86.371203
                        - 41.67328
                      - - -86.37261
                        - 41.671888
                      - - -86.394804
                        - 41.647166
                      - - -86.396512
                        - 41.648423
                      - - -86.398182
                        - 41.649707
                      - - -86.399816
                        - 41.651018
                      - - -86.401412
                        - 41.652355
                      - - -86.402969
                        - 41.653718
                      - - -86.404486
                        - 41.655105
                      - - -86.405964
                        - 41.656517
                      - - -86.407401
                        - 41.657952
                      - - -86.408796
                        - 41.659409
                      - - -86.410149
                        - 41.66089
                      - - -86.411459
                        - 41.662391
                      - - -86.412726
                        - 41.663913
                      - - -86.413949
                        - 41.665456
                      - - -86.415128
                        - 41.667018
                      - - -86.416261
                        - 41.668598
                      - - -86.417349
                        - 41.670196
                      - - -86.41839
                        - 41.671812
                      - - -86.419386
                        - 41.673444
                      - - -86.420334
                        - 41.675092
                      - - -86.421234
                        - 41.676754
                      - - -86.422087
                        - 41.678431
                      - - -86.422891
                        - 41.680121
                      - - -86.423646
                        - 41.681824
                      - - -86.424353
                        - 41.683538
                      - - -86.42501
                        - 41.685264
                      - - -86.425618
                        - 41.687
                      - - -86.426175
                        - 41.688745
                      - - -86.426683
                        - 41.690499
                      - - -86.42714
                        - 41.69226
                      - - -86.427546
                        - 41.694029
                      - - -86.427901
                        - 41.695803
                      - - -86.428205
                        - 41.697583
                      - - -86.428458
                        - 41.699368
                      - - -86.428659
                        - 41.701156
                      - - -86.42881
                        - 41.702947
                      - - -86.428908
                        - 41.70474
                      - - -86.428955
                        - 41.706534
                      - - -86.428951
                        - 41.708328
                      - - -86.428895
                        - 41.710122
                      - - -86.428787
                        - 41.711915
                      - - -86.428628
                        - 41.713705
                      - - -86.428418
                        - 41.715493
                      - - -86.428156
                        - 41.717276
                      - - -86.427843
                        - 41.719055
                      - - -86.427479
                        - 41.720829
                      - - -86.427063
                        - 41.722596
                      - - -86.426598
                        - 41.724356
                      - - -86.426081
                        - 41.726109
                      - - -86.425515
                        - 41.727852
                      - - -86.424898
                        - 41.729586
                      - - -86.424232
                        - 41.73131
                      - - -86.423516
                        - 41.733022
                      - - -86.422751
                        - 41.734723
                      - - -86.421937
                        - 41.73641
                      - - -86.421075
                        - 41.738085
                      - - -86.420165
                        - 41.739744
                      - - -86.419207
                        - 41.741389
                      - - -86.418202
                        - 41.743018
                      - - -86.417151
                        - 41.744631
                      - - -86.416053
                        - 41.746226
                      - - -86.41491
                        - 41.747803
                      - - -86.413722
                        - 41.749361
                      - - -86.412489
                        - 41.7509
                      - - -86.411212
                        - 41.752418
                      - - -86.409891
                        - 41.753915
                      - - -86.408528
                        - 41.755391
                      - - -86.407122
                        - 41.756845
                      - - -86.405675
                        - 41.758275
                      - - -86.404187
                        - 41.759682
                      - - -86.402659
                        - 41.761064
                      - - -86.401092
                        - 41.762421
                      - - -86.399485
                        - 41.763753
                      - - -86.397841
                        - 41.765059
                      - - -86.39616
                        - 41.766337
                      - - -86.394442
                        - 41.767589
                      - - -86.392688
                        - 41.768812
                      - - -86.390899
                        - 41.770006
                      - - -86.389077
                        - 41.771172
                      - - -86.387221
                        - 41.772308
                      - - -86.385333
                        - 41.773413
                      - - -86.383414
                        - 41.774488
                      - - -86.381464
                        - 41.775532
                      - - -86.379484
                        - 41.776544
                      - - -86.377476
                        - 41.777524
                      - - -86.37544
                        - 41.778471
                      - - -86.373377
                        - 41.779385
                      - - -86.371288
                        - 41.780265
                      - - -86.369174
                        - 41.781112
                      - - -86.367036
                        - 41.781924
                      - - -86.364876
                        - 41.782702
                      - - -86.362693
                        - 41.783445
                      - - -86.36049
                        - 41.784152
                      - - -86.358266
                        - 41.784823
                      - - -86.356024
                        - 41.785459
                      - - -86.353764
                        - 41.786058
                      - - -86.351487
                        - 41.78662
                      - - -86.349195
                        - 41.787146
                      - - -86.346888
                        - 41.787634
                      - - -86.344567
                        - 41.788085
                      - - -86.342234
                        - 41.788499
                      - - -86.33989
                        - 41.788875
                      - - -86.337535
                        - 41.789213
                      - - -86.335171
                        - 41.789512
                      - - -86.332799
                        - 41.789774
                      - - -86.33042
                        - 41.789997
                      - - -86.328035
                        - 41.790182
                      - - -86.325645
                        - 41.790328
                      - - -86.323252
                        - 41.790436
                      - - -86.320856
                        - 41.790505
                      - - -86.318458
                        - 41.790535
                      - - -86.316061
                        - 41.790527
                      - - -86.313664
                        - 41.79048
                      - - -86.311269
                        - 41.790394
                      - - -86.308877
                        - 41.79027
                      - - -86.306489
                        - 41.790107
                      - - -86.304107
                        - 41.789906
                      - - -86.30173
                        - 41.789666
                      - - -86.299362
                        - 41.789388
                      - - -86.297002
                        - 41.789071
                      - - -86.294651
                        - 41.788717
                      - - -86.292311
                        - 41.788325
                      - - -86.289984
                        - 41.787895
                      - - -86.287669
                        - 41.787428
                      - - -86.285368
                        - 41.786923
                      - - -86.283082
                        - 41.786382
                      - - -86.280812
                        - 41.785804
                      - - -86.27856
                        - 41.785189
                      - - -86.276326
                        - 41.784538
                      - - -86.274111
                        - 41.783851
                      - - -86.271916
                        - 41.783128
                      - - -86.269743
                        - 41.782371
                      - - -86.267592
                        - 41.781578
                      - - -86.265465
                        - 41.780751
                      - - -86.263362
                        - 41.77989
                      - - -86.261284
                        - 41.778994
                      - - -86.259232
                        - 41.778066
                      - - -86.257208
                        - 41.777105
                      - - -86.255212
                        - 41.776111
                      - - -86.253245
                        - 41.775085
                      - - -86.251308
                        - 41.774028
                      - - -86.249402
                        - 41.77294
                      - - -86.247528
                        - 41.771821
                      - - -86.245687
                        - 41.770673
                      - - -86.243879
                        - 41.769495
                      - - -86.242105
                        - 41.768287
                      - - -86.240367
                        - 41.767052
                      - - -86.238664
                        - 41.765789
                      - - -86.236999
                        - 41.764499
                      - - -86.235371
                        - 41.763182
                      - - -86.233781
                        - 41.761839
                      - - -86.232231
                        - 41.760471
                      - - -86.23072
                        - 41.759078
                      - - -86.229249
                        - 41.757661
                      - - -86.22782
                        - 41.75622
                      - - -86.226433
                        - 41.754757
                      - - -86.225088
                        - 41.753272
                      - - -86.223786
                        - 41.751765
                      - - -86.222528
                        - 41.750238
                      - - -86.221314
                        - 41.748691
                      - - -86.220145
                        - 41.747125
                      - - -86.219022
                        - 41.74554
                      - - -86.217944
                        - 41.743937
                      - - -86.216913
                        - 41.742317
                      - - -86.215928
                        - 41.740682
                      - - -86.214991
                        - 41.73903
                      - - -86.214102
                        - 41.737364
                      - - -86.21326
                        - 41.735684
                      - - -86.212468
                        - 41.73399
                      - - -86.211724
                        - 41.732285
                      - - -86.211029
                        - 41.730567
                      - - -86.210384
                        - 41.728839
                      - - -86.209789
                        - 41.727101
                      - - -86.209244
                        - 41.725354
                      - - -86.20875
                        - 41.723598
                      - - -86.208306
                        - 41.721835
                      - - -86.207912
                        - 41.720064
                      - - -86.20757
                        - 41.718288
                      - - -86.207279
                        - 41.716507
                      - - -86.20704
                        - 41.714722
                      - - -86.206851
                        - 41.712933
                      - - -86.206714
                        - 41.711142
                      - - -86.206629
                        - 41.709348
                      - - -86.206595
                        - 41.707554
                      - - -86.206613
                        - 41.70576
                      - - -86.206682
                        - 41.703966
                      - - -86.206803
                        - 41.702174
                      - - -86.206976
                        - 41.700384
                      - - -86.207199
                        - 41.698597
                      - - -86.207474
                        - 41.696815
                      - - -86.207801
                        - 41.695037
                      - - -86.208178
                        - 41.693265
                      - - -86.208606
                        - 41.6915
                      - - -86.209083
                        - 41.689741
                      - - -86.209612
                        - 41.687991
                      - - -86.210191
                        - 41.68625
                      - - -86.21082
                        - 41.684518
                      - - -86.211499
                        - 41.682797
                      - - -86.212226
                        - 41.681088
                      - - -86.213003
                        - 41.67939
                  type: Polygon
                properties:
                  airspace_type: CAS
                  cas_class: C
                  ceiling: 4800
                  floor: 0
                  laanc: true
                  name: SOUTH BEND, MICHIANA REGIONAL AIRPORT CLASS C
                type: Feature
              - geometry:
                  coordinates:
                    - - - -86.213003
                        - 41.67939
                      - - -86.213828
                        - 41.677706
                      - - -86.214701
                        - 41.676035
                      - - -86.215622
                        - 41.674379
                      - - -86.216591
                        - 41.672738
                      - - -86.217606
                        - 41.671113
                      - - -86.218668
                        - 41.669505
                      - - -86.219775
                        - 41.667914
                      - - -86.220928
                        - 41.666342
                      - - -86.222126
                        - 41.664788
                      - - -86.223368
                        - 41.663254
                      - - -86.224654
                        - 41.661741
                      - - -86.225982
                        - 41.660248
                      - - -86.227354
                        - 41.658778
                      - - -86.228767
                        - 41.65733
                      - - -86.230221
                        - 41.655905
                      - - -86.231716
                        - 41.654504
                      - - -86.233251
                        - 41.653127
                      - - -86.234825
                        - 41.651775
                      - - -86.236437
                        - 41.650449
                      - - -86.238087
                        - 41.64915
                      - - -86.239773
                        - 41.647877
                      - - -86.241496
                        - 41.646632
                      - - -86.243254
                        - 41.645415
                      - - -86.245047
                        - 41.644227
                      - - -86.246873
                        - 41.643068
                      - - -86.248732
                        - 41.641938
                      - - -86.250623
                        - 41.640839
                      - - -86.252545
                        - 41.639771
                      - - -86.254497
                        - 41.638733
                      - - -86.256478
                        - 41.637728
                      - - -86.258488
                        - 41.636755
                      - - -86.260525
                        - 41.635814
                      - - -86.262589
                        - 41.634907
                      - - -86.264678
                        - 41.634033
                      - - -86.266791
                        - 41.633193
                      - - -86.268929
                        - 41.632387
                      - - -86.271089
                        - 41.631616
                      - - -86.27327
                        - 41.63088
                      - - -86.275472
                        - 41.63018
                      - - -86.277693
                        - 41.629515
                      - - -86.279933
                        - 41.628886
                      - - -86.282191
                        - 41.628293
                      - - -86.284465
                        - 41.627737
                      - - -86.286754
                        - 41.627218
                      - - -86.289058
                        - 41.626736
                      - - -86.291375
                        - 41.626291
                      - - -86.293704
                        - 41.625884
                      - - -86.296045
                        - 41.625514
                      - - -86.298395
                        - 41.625182
                      - - -86.300754
                        - 41.624889
                      - - -86.303121
                        - 41.624633
                      - - -86.305495
                        - 41.624416
                      - - -86.307875
                        - 41.624237
                      - - -86.310259
                        - 41.624096
                      - - -86.312647
                        - 41.623994
                      - - -86.315037
                        - 41.62393
                      - - -86.317428
                        - 41.623905
                      - - -86.31982
                        - 41.623919
                      - - -86.32221
                        - 41.623971
                      - - -86.324599
                        - 41.624062
                      - - -86.326984
                        - 41.624192
                      - - -86.329365
                        - 41.624359
                      - - -86.331741
                        - 41.624566
                      - - -86.33411
                        - 41.62481
                      - - -86.336472
                        - 41.625093
                      - - -86.338825
                        - 41.625414
                      - - -86.341168
                        - 41.625772
                      - - -86.343501
                        - 41.626169
                      - - -86.345821
                        - 41.626603
                      - - -86.348129
                        - 41.627074
                      - - -86.350423
                        - 41.627582
                      - - -86.352701
                        - 41.628128
                      - - -86.354964
                        - 41.62871
                      - - -86.357215
                        - 41.629316
                      - - -86.335687
                        - 41.653205
                      - - -86.334459
                        - 41.654687
                      - - -86.33348
                        - 41.656271
                      - - -86.332726
                        - 41.657924
                      - - -86.332206
                        - 41.659626
                      - - -86.331926
                        - 41.66136
                      - - -86.331888
                        - 41.663106
                      - - -86.332094
                        - 41.664846
                      - - -86.332541
                        - 41.66656
                      - - -86.333224
                        - 41.66823
                      - - -86.334135
                        - 41.669837
                      - - -86.335265
                        - 41.671364
                      - - -86.336602
                        - 41.672794
                      - - -86.33813
                        - 41.674112
                      - - -86.339834
                        - 41.675304
                      - - -86.341694
                        - 41.676355
                      - - -86.34369
                        - 41.677255
                      - - -86.345801
                        - 41.677994
                      - - -86.348003
                        - 41.678564
                      - - -86.350272
                        - 41.678958
                      - - -86.352584
                        - 41.679173
                      - - -86.354913
                        - 41.679206
                      - - -86.357234
                        - 41.679056
                      - - -86.359522
                        - 41.678726
                      - - -86.361751
                        - 41.678218
                      - - -86.363897
                        - 41.677539
                      - - -86.365937
                        - 41.676695
                      - - -86.367848
                        - 41.675697
                      - - -86.36961
                        - 41.674554
                      - - -86.371203
                        - 41.67328
                      - - -86.37261
                        - 41.671888
                      - - -86.394804
                        - 41.647166
                      - - -86.396512
                        - 41.648423
                      - - -86.398182
                        - 41.649707
                      - - -86.399816
                        - 41.651018
                      - - -86.401412
                        - 41.652355
                      - - -86.402969
                        - 41.653718
                      - - -86.404486
                        - 41.655105
                      - - -86.405964
                        - 41.656517
                      - - -86.407401
                        - 41.657952
                      - - -86.408796
                        - 41.659409
                      - - -86.410149
                        - 41.66089
                      - - -86.411459
                        - 41.662391
                      - - -86.412726
                        - 41.663913
                      - - -86.413949
                        - 41.665456
                      - - -86.415128
                        - 41.667018
                      - - -86.416261
                        - 41.668598
                      - - -86.417349
                        - 41.670196
                      - - -86.41839
                        - 41.671812
                      - - -86.419386
                        - 41.673444
                      - - -86.420334
                        - 41.675092
                      - - -86.421234
                        - 41.676754
                      - - -86.422087
                        - 41.678431
                      - - -86.422891
                        - 41.680121
                      - - -86.423646
                        - 41.681824
                      - - -86.424353
                        - 41.683538
                      - - -86.42501
                        - 41.685264
                      - - -86.425618
                        - 41.687
                      - - -86.426175
                        - 41.688745
                      - - -86.426683
                        - 41.690499
                      - - -86.42714
                        - 41.69226
                      - - -86.427546
                        - 41.694029
                      - - -86.427901
                        - 41.695803
                      - - -86.428205
                        - 41.697583
                      - - -86.428458
                        - 41.699368
                      - - -86.428659
                        - 41.701156
                      - - -86.42881
                        - 41.702947
                      - - -86.428908
                        - 41.70474
                      - - -86.428955
                        - 41.706534
                      - - -86.428951
                        - 41.708328
                      - - -86.428895
                        - 41.710122
                      - - -86.428787
                        - 41.711915
                      - - -86.428628
                        - 41.713705
                      - - -86.428418
                        - 41.715493
                      - - -86.428156
                        - 41.717276
                      - - -86.427843
                        - 41.719055
                      - - -86.427479
                        - 41.720829
                      - - -86.427063
                        - 41.722596
                      - - -86.426598
                        - 41.724356
                      - - -86.426081
[...]
