openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Autopilot
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_autopilot_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_autopilot_v1
paths:
  /v1/Assistants:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListAssistant
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  assistants:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateAssistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackEvents:
                  description: Reserved.
                  type: string
                CallbackUrl:
                  description: Reserved.
                  format: uri
                  type: string
                Defaults:
                  description: A JSON object that defines the Assistant's [default tasks](https://www.twilio.com/docs/autopilot/api/assistant/defaults) for various scenarios, including initiation actions and fallback tasks.
                  type: object
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                LogQueries:
                  description: "Whether queries should be logged and kept after training. Can be: `true` or `false` and defaults to `true`. If `true`, queries are stored for 30 days, and then deleted. If `false`, no queries are stored."
                  type: boolean
                StyleSheet:
                  description: The JSON string that defines the Assistant's [style sheet](https://www.twilio.com/docs/autopilot/api/assistant/stylesheet)
                  type: object
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  /v1/Assistants/Restore:
    description: "TODO: Resource-level docs"
    post:
      description: ""
      operationId: UpdateRestoreAssistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Assistant:
                  description: The Twilio-provided string that uniquely identifies the Assistant resource to restore.
                  type: string
              required:
                - Assistant
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.restore_assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - account_sid
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Defaults":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchDefaults
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.defaults"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateDefaults
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Defaults:
                  description: A JSON string that describes the default task links for the `assistant_initiation`, `collect`, and `fallback` situations.
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.defaults"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - data
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Dialogues/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchDialogue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Dialogue resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.dialogue"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - data
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/FieldTypes":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  field_types:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              required:
                - UniqueName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to read.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) tag that specifies the language of the value. Currently supported tags: `en-US`"
          in: query
          name: Language
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  field_values:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) tag that specifies the language of the value. Currently supported tags: `en-US`"
                  type: string
                SynonymOf:
                  description: The string value that indicates which word the field value is a synonym of.
                  type: string
                Value:
                  description: The Field Value data.
                  type: string
              required:
                - Language
                - Value
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - value
      - language
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues/{Sid}":
    delete:
      description: ""
      operationId: DeleteFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to delete.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldValue resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to fetch.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldValue resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - value
      - language
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/FieldTypes/{Sid}":
    delete:
      description: ""
      operationId: DeleteFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/ModelBuilds":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  model_builds:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                StatusCallback:
                  description: The URL we should call using a POST method to send status information to your application.
                  format: uri
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - status
      - date_created
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/ModelBuilds/{Sid}":
    delete:
      description: ""
      operationId: DeleteModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - status
      - date_created
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Queries":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used by the Query resources to read. For example: `en-US`."
          in: query
          name: Language
          schema:
            type: string
        - description: The SID or unique name of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build) to be queried.
          in: query
          name: ModelBuild
          schema:
            type: string
        - description: "The status of the resources to read. Can be: `pending-review`, `reviewed`, or `discarded`"
          in: query
          name: Status
          schema:
            type: string
        - description: The SID of the [Dialogue](https://www.twilio.com/docs/autopilot/api/dialogue).
          in: query
          name: DialogueSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  queries:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.query"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the new query. For example: `en-US`."
                  type: string
                ModelBuild:
                  description: The SID or unique name of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build) to be queried.
                  type: string
                Query:
                  description: The end-user's natural language input. It can be up to 2048 characters long.
                  type: string
                Tasks:
                  description: The list of tasks to limit the new query to. Tasks are expressed as a comma-separated list of task `unique_name` values. For example, `task-unique_name-1, task-unique_name-2`. Listing specific tasks is useful to constrain the paths that a user can take.
                  type: string
              required:
                - Language
                - Query
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - query
      - status
      - language
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Queries/{Sid}":
    delete:
      description: ""
      operationId: DeleteQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SampleSid:
                  description: The SID of an optional reference to the [Sample](https://www.twilio.com/docs/autopilot/api/task-sample) created from the query.
                  maxLength: 34
                  minLength: 34
                  pattern: ^UF[0-9a-fA-F]{32}$
                  type: string
                Status:
                  description: "The new status of the resource. Can be: `pending-review`, `reviewed`, or `discarded`"
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - query
      - status
      - language
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/StyleSheet":
    description: "TODO: Resource-level docs"
    get:
      description: Returns Style sheet JSON object for the Assistant
      operationId: FetchStyleSheet
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.style_sheet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates the style sheet for an Assistant identified by `assistant_sid`.
      operationId: UpdateStyleSheet
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                StyleSheet:
                  description: The JSON string that describes the style sheet object.
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.style_sheet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - data
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Tasks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  tasks:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task. It is optional and not unique.
                  type: object
                ActionsUrl:
                  description: The URL from which the Assistant can fetch actions.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
              required:
                - UniqueName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Tasks/{Sid}":
    delete:
      description: ""
      operationId: DeleteTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task.
                  type: object
                ActionsUrl:
                  description: The URL from which the Assistant can fetch actions.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be 64 characters or less in length and be unique. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Actions":
    description: "TODO: Resource-level docs"
    get:
      description: Returns JSON actions for the Task.
      operationId: FetchTaskActions
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task for which the task actions to fetch were defined.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) for which the task actions to fetch were defined.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_actions"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates the actions of an Task identified by {TaskSid} or {TaskUniqueName}.
      operationId: UpdateTaskActions
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task for which the task actions to update were defined.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) for which the task actions to update were defined.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task.
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_actions"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - data
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resources to read.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  fields:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the new Field resource.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FieldType:
                  description: "The Field Type of the new field. Can be: a [Built-in Field Type](https://www.twilio.com/docs/autopilot/built-in-field-types), the `unique_name`, or the `sid` of a custom Field Type."
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              required:
                - FieldType
                - UniqueName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - field_type
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields/{Sid}":
    delete:
      description: ""
      operationId: DeleteField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resource to delete.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Field resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resource to fetch.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Field resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - field_type
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resources to read.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the sample. For example: `en-US`."
          in: query
          name: Language
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  samples:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to create.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the new sample. For example: `en-US`."
                  type: string
                SourceChannel:
                  description: "The communication channel from which the new sample was captured. Can be: `voice`, `sms`, `chat`, `alexa`, `google-assistant`, `slack`, or null if not included."
                  type: string
                TaggedText:
                  description: The text example of how end users might express the task. The sample can contain [Field tag blocks](https://www.twilio.com/docs/autopilot/api/task-sample#field-tagging).
                  type: string
              required:
                - Language
                - TaggedText
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - tagged_text
      - language
      - source_channel
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples/{Sid}":
    delete:
      description: ""
      operationId: DeleteSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to delete.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to create.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to update.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the sample. For example: `en-US`."
                  type: string
                SourceChannel:
                  description: "The communication channel from which the sample was captured. Can be: `voice`, `sms`, `chat`, `alexa`, `google-assistant`, `slack`, or null if not included."
                  type: string
                TaggedText:
                  description: The text example of how end users might express the task. The sample can contain [Field tag blocks](https://www.twilio.com/docs/autopilot/api/task-sample#field-tagging).
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - tagged_text
      - language
      - source_channel
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Statistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskStatistics
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) that is associated with the resource to fetch.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - samples_count
      - fields_count
    x-path-type: instance
  "/v1/Assistants/{AssistantSid}/Webhooks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Events:
                  description: The list of space-separated events that this Webhook will subscribe to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
                WebhookMethod:
                  description: The method to be used when calling the webhook's URL.
                  type: string
                WebhookUrl:
                  description: The URL associated with this Webhook.
                  format: uri
                  type: string
              required:
                - UniqueName
                - Events
                - WebhookUrl
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - events
      - wehbook_url
      - webhook_method
    x-path-type: list
  "/v1/Assistants/{AssistantSid}/Webhooks/{Sid}":
    delete:
      description: ""
      operationId: DeleteWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Events:
                  description: The list of space-separated events that this Webhook will subscribe to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
                WebhookMethod:
                  description: The method to be used when calling the webhook's URL.
                  type: string
                WebhookUrl:
                  description: The URL associated with this Webhook.
                  format: uri
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - events
      - wehbook_url
      - webhook_method
    x-path-type: instance
  "/v1/Assistants/{Sid}":
    delete:
      description: ""
      operationId: DeleteAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackEvents:
                  description: Reserved.
                  type: string
                CallbackUrl:
                  description: Reserved.
                  format: uri
                  type: string
                Defaults:
                  description: A JSON object that defines the Assistant's [default tasks](https://www.twilio.com/docs/autopilot/api/assistant/defaults) for various scenarios, including initiation actions and fallback tasks.
                  type: object
                DevelopmentStage:
                  description: A string describing the state of the assistant.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                LogQueries:
                  description: "Whether queries should be logged and kept after training. Can be: `true` or `false` and defaults to `true`. If `true`, queries are stored for 30 days, and then deleted. If `false`, no queries are stored."
                  type: boolean
                StyleSheet:
                  description: The JSON string that defines the Assistant's [style sheet](https://www.twilio.com/docs/autopilot/api/assistant/stylesheet)
                  type: object
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: instance
components:
  schemas:
    autopilot.v1.assistant:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        callback_events:
          type: string
        callback_url:
          format: uri
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        development_stage:
          type: string
        friendly_name:
          type: string
        latest_model_build_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        links:
          type: object
        log_queries:
          type: boolean
        needs_model_build:
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.defaults:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          type: object
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.dialogue:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UK[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.field_type:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        links:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UB[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.field_type.field_value:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        field_type_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UB[0-9a-fA-F]{32}$
          type: string
        language:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UC[0-9a-fA-F]{32}$
          type: string
        synonym_of:
          maxLength: 34
          minLength: 34
          pattern: ^UC[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
        value:
          type: string
      type: object
    autopilot.v1.assistant.model_build:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        build_duration:
          nullable: true
          type: integer
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        error_code:
          nullable: true
          type: integer
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - enqueued
            - building
            - completed
            - failed
            - canceled
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.query:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        dialogue_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UK[0-9a-fA-F]{32}$
          type: string
        language:
          type: string
        model_build_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        query:
          type: string
        results:
          type: object
        sample_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UF[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UH[0-9a-fA-F]{32}$
          type: string
        source_channel:
          type: string
        status:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.style_sheet:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          type: object
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.task:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        actions_url:
          format: uri
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        links:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UD[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.task.field:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        field_type:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UE[0-9a-fA-F]{32}$
          type: string
        task_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UD[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.task.sample:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        language:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UF[0-9a-fA-F]{32}$
          type: string
        source_channel:
          type: string
        tagged_text:
          type: string
        task_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UD[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.task.task_actions:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          type: object
        task_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UD[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.task.task_statistics:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        fields_count:
          type: integer
        samples_count:
          type: integer
        task_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UD[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    autopilot.v1.assistant.webhook:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        events:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UM[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
        webhook_method:
          type: string
        webhook_url:
          format: uri
          type: string
      type: object
    autopilot.v1.restore_assistant:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        callback_events:
          type: string
        callback_url:
          format: uri
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        development_stage:
          type: string
        friendly_name:
          type: string
        latest_model_build_sid:
          maxLength: 34
          minLength: 34
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        log_queries:
          type: boolean
        needs_model_build:
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.
    name: Preview
