{
  "swagger": "2.0",
  "info": {
    "title": "Translate API",
    "x-serviceName": "translate",
    "description": "Lets you translate text from one language to another",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v2",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "uri": "https://www.googleapis.com/discovery/v1/apis/translate/v2/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/language/translate",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/detect": {
      "get": {
        "description": "Detect the language of text.",
        "operationId": "language.detections.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DetectionsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The text to detect",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "detections"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/v2/languages": {
      "get": {
        "description": "List the source/target languages supported by the API",
        "operationId": "language.languages.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LanguagesListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "description": "the language and collation in which the localized results should be returned",
            "type": "string"
          }
        ],
        "tags": [
          "languages"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/v2": {
      "get": {
        "description": "Returns text translations from one language to another.",
        "operationId": "language.translations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TranslationsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "description": "The customization id for translate",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the text",
            "type": "string",
            "enum": [
              "html",
              "text"
            ]
          },
          {
            "name": "q",
            "in": "query",
            "description": "The text to translate",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "source",
            "in": "query",
            "description": "The source language of the text",
            "type": "string"
          },
          {
            "name": "target",
            "in": "query",
            "description": "The target language into which the text should be translated",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "translations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "#/definitions/DetectionsResource"
          }
        }
      }
    },
    "DetectionsResource": {
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection resul of this language.",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detect"
          }
        }
      }
    },
    "LanguagesListResponse": {
      "type": "object",
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "#/definitions/LanguagesResource"
          }
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "The language code."
        },
        "name": {
          "type": "string",
          "description": "The localized name of the language if target parameter is given."
        }
      }
    },
    "TranslationsListResponse": {
      "type": "object",
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "#/definitions/TranslationsResource"
          }
        }
      }
    },
    "TranslationsResource": {
      "type": "object",
      "properties": {
        "detectedSourceLanguage": {
          "type": "string",
          "description": "Detected source language if source parameter is unspecified."
        },
        "translatedText": {
          "type": "string",
          "description": "The translation."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/translate/v2/using_rest"
  }
}