swagger: '2.0'
schemes:
  - https
  - http
host: mturk-requester.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: <fullname>Amazon Mechanical Turk API Reference</fullname>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Mechanical Turk
  version: '2017-01-17'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mturk-requester-2017-01-17.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mturk-requester
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mturk-requester/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.AcceptQualificationRequest':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> The <code>AcceptQualificationRequest</code> operation approves a Worker's request for a Qualification. </p> <p> Only the owner of the Qualification type can grant a Qualification request for that type. </p> <p> A successful request for the <code>AcceptQualificationRequest</code> operation returns with no errors and an empty body. </p>
      operationId: AcceptQualificationRequest
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AcceptQualificationRequestRequest'
        - enum:
            - MTurkRequesterServiceV20170117.AcceptQualificationRequest
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptQualificationRequestResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ApproveAssignment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>ApproveAssignment</code> operation approves the results of a completed assignment. </p> <p> Approving an assignment initiates two payments from the Requester''s Amazon.com account </p> <ul> <li> <p> The Worker who submitted the results is paid the reward specified in the HIT. </p> </li> <li> <p> Amazon Mechanical Turk fees are debited. </p> </li> </ul> <p> If the Requester''s account does not have adequate funds for these payments, the call to ApproveAssignment returns an exception, and the approval is not processed. You can include an optional feedback message with the approval, which the Worker can see in the Status section of the web site. </p> <p> You can also call this operation for assignments that were previous rejected and approve them by explicitly overriding the previous rejection. This only works on rejected assignments that were submitted within the previous 30 days and only if the assignment''s related HIT has not been deleted. </p>'
      operationId: ApproveAssignment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApproveAssignmentRequest'
        - enum:
            - MTurkRequesterServiceV20170117.ApproveAssignment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApproveAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.AssociateQualificationWithWorker':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>AssociateQualificationWithWorker</code> operation gives a Worker a Qualification. <code>AssociateQualificationWithWorker</code> does not require that the Worker submit a Qualification request. It gives the Qualification directly to the Worker. </p> <p> You can only assign a Qualification of a Qualification type that you created (using the <code>CreateQualificationType</code> operation). </p> <note> <p> Note: <code>AssociateQualificationWithWorker</code> does not affect any pending Qualification requests for the Qualification by the Worker. If you assign a Qualification to a Worker, then later grant a Qualification request made by the Worker, the granting of the request may modify the Qualification score. To resolve a pending Qualification request without affecting the Qualification the Worker already has, reject the request with the <code>RejectQualificationRequest</code> operation. </p> </note>'
      operationId: AssociateQualificationWithWorker
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateQualificationWithWorkerRequest'
        - enum:
            - MTurkRequesterServiceV20170117.AssociateQualificationWithWorker
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateQualificationWithWorkerResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateAdditionalAssignmentsForHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>CreateAdditionalAssignmentsForHIT</code> operation increases the maximum number of assignments of an existing HIT. </p> <p> To extend the maximum number of assignments, specify the number of additional assignments.</p> <note> <ul> <li> <p>HITs created with fewer than 10 assignments cannot be extended to have 10 or more assignments. Attempting to add assignments in a way that brings the total number of assignments for a HIT from fewer than 10 assignments to 10 or more assignments will result in an <code>AWS.MechanicalTurk.InvalidMaximumAssignmentsIncrease</code> exception.</p> </li> <li> <p>HITs that were created before July 22, 2015 cannot be extended. Attempting to extend HITs that were created before July 22, 2015 will result in an <code>AWS.MechanicalTurk.HITTooOldForExtension</code> exception. </p> </li> </ul> </note>'
      operationId: CreateAdditionalAssignmentsForHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdditionalAssignmentsForHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateAdditionalAssignmentsForHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAdditionalAssignmentsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>The <code>CreateHIT</code> operation creates a new Human Intelligence Task (HIT). The new HIT is made available for Workers to find and accept on the Amazon Mechanical Turk website. </p> <p> This operation allows you to specify a new HIT by passing in values for the properties of the HIT, such as its title, reward amount and number of assignments. When you pass these values to <code>CreateHIT</code>, a new HIT is created for you, with a new <code>HITTypeID</code>. The HITTypeID can be used to create additional HITs in the future without needing to specify common parameters such as the title, description and reward amount each time.</p> <p> An alternative way to create HITs is to first generate a HITTypeID using the <code>CreateHITType</code> operation and then call the <code>CreateHITWithHITType</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHIT also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href="https://requester.mturk.com/pricing">Amazon Mechanical Turk Pricing</a>.</p> </note>'
      operationId: CreateHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateHITType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>CreateHITType</code> operation creates a new HIT type. This operation allows you to define a standard set of HIT properties to use when creating HITs. If you register a HIT type with values that match an existing HIT type, the HIT type ID of the existing type will be returned. '
      operationId: CreateHITType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateHITType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateHITWithHITType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>CreateHITWithHITType</code> operation creates a new Human Intelligence Task (HIT) using an existing HITTypeID generated by the <code>CreateHITType</code> operation. </p> <p> This is an alternative way to create HITs from the <code>CreateHIT</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHITWithHITType also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href="https://requester.mturk.com/pricing">Amazon Mechanical Turk Pricing</a>. </p> </note>'
      operationId: CreateHITWithHITType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITWithHITTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateHITWithHITType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITWithHITTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>CreateQualificationType</code> operation creates a new Qualification type, which is represented by a <code>QualificationType</code> data structure. '
      operationId: CreateQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateQualificationTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.CreateWorkerBlock':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'The <code>CreateWorkerBlock</code> operation allows you to prevent a Worker from working on your HITs. For example, you can block a Worker who is producing poor quality work. You can block up to 100,000 Workers.'
      operationId: CreateWorkerBlock
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateWorkerBlockRequest'
        - enum:
            - MTurkRequesterServiceV20170117.CreateWorkerBlock
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWorkerBlockResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.DeleteHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>DeleteHIT</code> operation is used to delete HIT that is no longer needed. Only the Requester who created the HIT can delete it. </p> <p> You can only dispose of HITs that are in the <code>Reviewable</code> state, with all of their submitted assignments already either approved or rejected. If you call the DeleteHIT operation on a HIT that is not in the <code>Reviewable</code> state (for example, that has not expired, or still has active assignments), or on a HIT that is Reviewable but without all of its submitted assignments already approved or rejected, the service will return an error. </p> <note> <ul> <li> <p> HITs are automatically disposed of after 120 days. </p> </li> <li> <p> After you dispose of a HIT, you can no longer approve the HIT''s rejected assignments. </p> </li> <li> <p> Disposed HITs are not returned in results for the ListHITs operation. </p> </li> <li> <p> Disposing HITs can improve the performance of operations such as ListReviewableHITs and ListHITs. </p> </li> </ul> </note>'
      operationId: DeleteHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.DeleteHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.DeleteQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>DeleteQualificationType</code> deletes a Qualification type and deletes any HIT types that are associated with the Qualification type. </p> <p>This operation does not revoke Qualifications already assigned to Workers because the Qualifications might be needed for active HITs. If there are any pending requests for the Qualification type, Amazon Mechanical Turk rejects those requests. After you delete a Qualification type, you can no longer use it to create HITs or HIT types.</p> <note> <p>DeleteQualificationType must wait for all the HITs that use the deleted Qualification type to be deleted before completing. It may take up to 48 hours before DeleteQualificationType completes and the unique name of the Qualification type is available for reuse with CreateQualificationType.</p> </note>'
      operationId: DeleteQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteQualificationTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.DeleteQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.DeleteWorkerBlock':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'The <code>DeleteWorkerBlock</code> operation allows you to reinstate a blocked Worker to work on your HITs. This operation reverses the effects of the CreateWorkerBlock operation. You need the Worker ID to use this operation. If the Worker ID is missing or invalid, this operation fails and returns the message “WorkerId is invalid.” If the specified Worker is not blocked, this operation returns successfully.'
      operationId: DeleteWorkerBlock
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWorkerBlockRequest'
        - enum:
            - MTurkRequesterServiceV20170117.DeleteWorkerBlock
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWorkerBlockResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.DisassociateQualificationFromWorker':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> The <code>DisassociateQualificationFromWorker</code> revokes a previously granted Qualification from a user. </p> <p> You can provide a text message explaining why the Qualification was revoked. The user who had the Qualification can see this message. </p>
      operationId: DisassociateQualificationFromWorker
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateQualificationFromWorkerRequest'
        - enum:
            - MTurkRequesterServiceV20170117.DisassociateQualificationFromWorker
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateQualificationFromWorkerResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetAccountBalance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The <code>GetAccountBalance</code> operation retrieves the amount of money in your Amazon Mechanical Turk account.
      operationId: GetAccountBalance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAccountBalanceRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetAccountBalance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountBalanceResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetAssignment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>GetAssignment</code> operation retrieves the details of the specified Assignment. '
      operationId: GetAssignment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAssignmentRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetAssignment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetFileUploadURL':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>GetFileUploadURL</code> operation generates and returns a temporary URL. You use the temporary URL to retrieve a file uploaded by a Worker as an answer to a FileUploadAnswer question for a HIT. The temporary URL is generated the instant the GetFileUploadURL operation is called, and is valid for 60 seconds. You can get a temporary file upload URL any time until the HIT is disposed. After the HIT is disposed, any uploaded files are deleted, and cannot be retrieved. Pending Deprecation on December 12, 2017. The Answer Specification structure will no longer support the <code>FileUploadAnswer</code> element to be used for the QuestionForm data structure. Instead, we recommend that Requesters who want to create HITs asking Workers to upload files to use Amazon S3. '
      operationId: GetFileUploadURL
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetFileUploadURLRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetFileUploadURL
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFileUploadURLResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>GetHIT</code> operation retrieves the details of the specified HIT. '
      operationId: GetHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetQualificationScore':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>GetQualificationScore</code> operation returns the value of a Worker''s Qualification for a given Qualification type. </p> <p> To get a Worker''s Qualification, you must know the Worker''s ID. The Worker''s ID is included in the assignment data returned by the <code>ListAssignmentsForHIT</code> operation. </p> <p>Only the owner of a Qualification type can query the value of a Worker''s Qualification of that type.</p>'
      operationId: GetQualificationScore
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetQualificationScoreRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetQualificationScore
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQualificationScoreResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.GetQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>GetQualificationType</code>operation retrieves information about a Qualification type using its ID. '
      operationId: GetQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetQualificationTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.GetQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListAssignmentsForHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>ListAssignmentsForHIT</code> operation retrieves completed assignments for a HIT. You can use this operation to retrieve the results for a HIT. </p> <p> You can get assignments for a HIT at any time, even if the HIT is not yet Reviewable. If a HIT requested multiple assignments, and has received some results but has not yet become Reviewable, you can still retrieve the partial results with this operation. </p> <p> Use the AssignmentStatus parameter to control which set of assignments for a HIT are returned. The ListAssignmentsForHIT operation can return submitted assignments awaiting approval, or it can return assignments that have already been approved or rejected. You can set AssignmentStatus=Approved,Rejected to get assignments that have already been approved and rejected together in one result set. </p> <p> Only the Requester who created the HIT can retrieve the assignments for that HIT. </p> <p> Results are sorted and divided into numbered pages and the operation returns a single page of results. You can use the parameters of the operation to control sorting and pagination. </p>'
      operationId: ListAssignmentsForHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssignmentsForHITRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListAssignmentsForHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssignmentsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListBonusPayments':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListBonusPayments</code> operation retrieves the amounts of bonuses you have paid to Workers for a given HIT or assignment. '
      operationId: ListBonusPayments
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListBonusPaymentsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListBonusPayments
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBonusPaymentsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListHITs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListHITs</code> operation returns all of a Requester''s HITs. The operation returns HITs of any status, except for HITs that have been deleted of with the DeleteHIT operation or that have been auto-deleted. '
      operationId: ListHITs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListHITsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListHITs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHITsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListHITsForQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListHITsForQualificationType</code> operation returns the HITs that use the given Qualification type for a Qualification requirement. The operation returns HITs of any status, except for HITs that have been deleted with the <code>DeleteHIT</code> operation or that have been auto-deleted. '
      operationId: ListHITsForQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListHITsForQualificationTypeRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListHITsForQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHITsForQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListQualificationRequests':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListQualificationRequests</code> operation retrieves requests for Qualifications of a particular Qualification type. The owner of the Qualification type calls this operation to poll for pending requests, and accepts them using the AcceptQualification operation. '
      operationId: ListQualificationRequests
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListQualificationRequestsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListQualificationRequests
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQualificationRequestsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListQualificationTypes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListQualificationTypes</code> operation returns a list of Qualification types, filtered by an optional search term. '
      operationId: ListQualificationTypes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListQualificationTypesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListQualificationTypes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQualificationTypesResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListReviewPolicyResultsForHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListReviewPolicyResultsForHIT</code> operation retrieves the computed results and the actions taken in the course of executing your Review Policies for a given HIT. For information about how to specify Review Policies when you call CreateHIT, see Review Policies. The ListReviewPolicyResultsForHIT operation can return results for both Assignment-level and HIT-level review results. '
      operationId: ListReviewPolicyResultsForHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListReviewPolicyResultsForHITRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListReviewPolicyResultsForHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReviewPolicyResultsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListReviewableHITs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListReviewableHITs</code> operation retrieves the HITs with Status equal to Reviewable or Status equal to Reviewing that belong to the Requester calling the operation. '
      operationId: ListReviewableHITs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListReviewableHITsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListReviewableHITs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReviewableHITsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListWorkerBlocks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The <code>ListWorkersBlocks</code> operation retrieves a list of Workers who are blocked from working on your HITs.
      operationId: ListWorkerBlocks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListWorkerBlocksRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListWorkerBlocks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWorkerBlocksResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.ListWorkersWithQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>ListWorkersWithQualificationType</code> operation returns all of the Workers that have been associated with a given Qualification type. '
      operationId: ListWorkersWithQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListWorkersWithQualificationTypeRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - MTurkRequesterServiceV20170117.ListWorkersWithQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWorkersWithQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.NotifyWorkers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>NotifyWorkers</code> operation sends an email to one or more Workers that you specify with the Worker ID. You can specify up to 100 Worker IDs to send the same message with a single call to the NotifyWorkers operation. The NotifyWorkers operation will send a notification email to a Worker only if you have previously approved or rejected work from the Worker. '
      operationId: NotifyWorkers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NotifyWorkersRequest'
        - enum:
            - MTurkRequesterServiceV20170117.NotifyWorkers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotifyWorkersResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.RejectAssignment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>RejectAssignment</code> operation rejects the results of a completed assignment. </p> <p> You can include an optional feedback message with the rejection, which the Worker can see in the Status section of the web site. When you include a feedback message with the rejection, it helps the Worker understand why the assignment was rejected, and can improve the quality of the results the Worker submits in the future. </p> <p> Only the Requester who created the HIT can reject an assignment for the HIT. </p>'
      operationId: RejectAssignment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RejectAssignmentRequest'
        - enum:
            - MTurkRequesterServiceV20170117.RejectAssignment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.RejectQualificationRequest':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> The <code>RejectQualificationRequest</code> operation rejects a user's request for a Qualification. </p> <p> You can provide a text message explaining why the request was rejected. The Worker who made the request can see this message.</p>
      operationId: RejectQualificationRequest
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RejectQualificationRequestRequest'
        - enum:
            - MTurkRequesterServiceV20170117.RejectQualificationRequest
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectQualificationRequestResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.SendBonus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>SendBonus</code> operation issues a payment of money from your account to a Worker. This payment happens separately from the reward you pay to the Worker when you approve the Worker''s assignment. The SendBonus operation requires the Worker''s ID and the assignment ID as parameters to initiate payment of the bonus. You must include a message that explains the reason for the bonus payment, as the Worker may not be expecting the payment. Amazon Mechanical Turk collects a fee for bonus payments, similar to the HIT listing fee. This operation fails if your account does not have enough funds to pay for both the bonus and the fees. '
      operationId: SendBonus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SendBonusRequest'
        - enum:
            - MTurkRequesterServiceV20170117.SendBonus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendBonusResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.SendTestEventNotification':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>SendTestEventNotification</code> operation causes Amazon Mechanical Turk to send a notification message as if a HIT event occurred, according to the provided notification specification. This allows you to test notifications without setting up notifications for a real HIT type and trying to trigger them using the website. When you call this operation, the service attempts to send the test notification immediately. '
      operationId: SendTestEventNotification
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SendTestEventNotificationRequest'
        - enum:
            - MTurkRequesterServiceV20170117.SendTestEventNotification
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendTestEventNotificationResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.UpdateExpirationForHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>UpdateExpirationForHIT</code> operation allows you update the expiration time of a HIT. If you update it to a time in the past, the HIT will be immediately expired. '
      operationId: UpdateExpirationForHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateExpirationForHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.UpdateExpirationForHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateExpirationForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.UpdateHITReviewStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>UpdateHITReviewStatus</code> operation updates the status of a HIT. If the status is Reviewable, this operation can update the status to Reviewing, or it can revert a Reviewing HIT back to the Reviewable status. '
      operationId: UpdateHITReviewStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateHITReviewStatusRequest'
        - enum:
            - MTurkRequesterServiceV20170117.UpdateHITReviewStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateHITReviewStatusResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.UpdateHITTypeOfHIT':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>UpdateHITTypeOfHIT</code> operation allows you to change the HITType properties of a HIT. This operation disassociates the HIT from its old HITType properties and associates it with the new HITType properties. The HIT takes on the properties of the new HITType in place of the old ones. '
      operationId: UpdateHITTypeOfHIT
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateHITTypeOfHITRequest'
        - enum:
            - MTurkRequesterServiceV20170117.UpdateHITTypeOfHIT
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateHITTypeOfHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.UpdateNotificationSettings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' The <code>UpdateNotificationSettings</code> operation creates, updates, disables or re-enables notifications for a HIT type. If you call the UpdateNotificationSettings operation for a HIT type that already has a notification specification, the operation replaces the old specification with a new one. You can call the UpdateNotificationSettings operation to enable or disable notifications for the HIT type, without having to modify the notification specification itself by providing updates to the Active status without specifying a new notification specification. To change the Active status of a HIT type''s notifications, the HIT type must already have a notification specification, or one must be provided in the same call to <code>UpdateNotificationSettings</code>. '
      operationId: UpdateNotificationSettings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateNotificationSettingsRequest'
        - enum:
            - MTurkRequesterServiceV20170117.UpdateNotificationSettings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateNotificationSettingsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
  '/#X-Amz-Target=MTurkRequesterServiceV20170117.UpdateQualificationType':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> The <code>UpdateQualificationType</code> operation modifies the attributes of an existing Qualification type, which is represented by a QualificationType data structure. Only the owner of a Qualification type can modify its attributes. </p> <p> Most attributes of a Qualification type can be changed after the type has been created. However, the Name and Keywords fields cannot be modified. The RetryDelayInSeconds parameter can be modified or added to change the delay or to enable retries, but RetryDelayInSeconds cannot be used to disable retries. </p> <p> You can use this operation to update the test for a Qualification type. The test is updated based on the values specified for the Test, TestDurationInSeconds and AnswerKey parameters. All three parameters specify the updated test. If you are updating the test for a type, you must specify the Test and TestDurationInSeconds parameters. The AnswerKey parameter is optional; omitting it specifies that the updated test does not have an answer key. </p> <p> If you omit the Test parameter, the test for the Qualification type is unchanged. There is no way to remove a test from a Qualification type that has one. If the type already has a test, you cannot update it to be AutoGranted. If the Qualification type does not have a test and one is provided by an update, the type will henceforth have a test. </p> <p> If you want to update the test duration or answer key for an existing test without changing the questions, you must specify a Test parameter with the original questions, along with the updated values. </p> <p> If you provide an updated Test but no AnswerKey, the new test will not have an answer key. Requests for such Qualifications must be granted manually. </p> <p> You can also update the AutoGranted and AutoGrantedValue attributes of the Qualification type.</p>'
      operationId: UpdateQualificationType
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateQualificationTypeRequest'
        - enum:
            - MTurkRequesterServiceV20170117.UpdateQualificationType
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
definitions:
  AcceptQualificationRequestRequest:
    properties:
      IntegerValue:
        $ref: '#/definitions/Integer'
        description: ' The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. '
      QualificationRequestId:
        $ref: '#/definitions/String'
        description: 'The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.'
    required:
      - QualificationRequestId
    type: object
  AcceptQualificationRequestResponse:
    properties: {}
    type: object
  ApproveAssignmentRequest:
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the assignment. The assignment must correspond to a HIT created by the Requester. '
      OverrideRejection:
        $ref: '#/definitions/Boolean'
        description: ' A flag indicating that an assignment should be approved even if it was previously rejected. Defaults to <code>False</code>. '
      RequesterFeedback:
        $ref: '#/definitions/String'
        description: ' A message for the Worker, which the Worker can see in the Status section of the web site. '
    required:
      - AssignmentId
    type: object
  ApproveAssignmentResponse:
    properties: {}
    type: object
  Assignment:
    description: ' The Assignment data structure represents a single assignment of a HIT to a Worker. The assignment tracks the Worker''s efforts to complete the HIT, and contains the results for later retrieval. '
    properties:
      AcceptTime:
        $ref: '#/definitions/Timestamp'
        description: ' The date and time the Worker accepted the assignment.'
      Answer:
        $ref: '#/definitions/String'
        description: ' The Worker''s answers submitted for the HIT contained in a QuestionFormAnswers document, if the Worker provides an answer. If the Worker does not provide any answers, Answer may contain a QuestionFormAnswers document, or Answer may be empty.'
      ApprovalTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results and the Requester has approved the results, ApprovalTime is the date and time the Requester approved the results. This value is omitted from the assignment if the Requester has not yet approved the results.'
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: ' A unique identifier for the assignment.'
      AssignmentStatus:
        $ref: '#/definitions/AssignmentStatus'
        description: ' The status of the assignment.'
      AutoApprovalTime:
        $ref: '#/definitions/Timestamp'
        description: ' If results have been submitted, AutoApprovalTime is the date and time the results of the assignment results are considered Approved automatically if they have not already been explicitly approved or rejected by the Requester. This value is derived from the auto-approval delay specified by the Requester in the HIT. This value is omitted from the assignment if the Worker has not yet submitted results.'
      Deadline:
        $ref: '#/definitions/Timestamp'
        description: ' The date and time of the deadline for the assignment. This value is derived from the deadline specification for the HIT and the date and time the Worker accepted the HIT.'
      HITId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the HIT.'
      RejectionTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results and the Requester has rejected the results, RejectionTime is the date and time the Requester rejected the results.'
      RequesterFeedback:
        $ref: '#/definitions/String'
        description: ' The feedback string included with the call to the ApproveAssignment operation or the RejectAssignment operation, if the Requester approved or rejected the assignment and specified feedback.'
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results, SubmitTime is the date and time the assignment was submitted. This value is omitted from the assignment if the Worker has not yet submitted results.'
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: ' The ID of the Worker who accepted the HIT.'
    type: object
  AssignmentList:
    items:
      $ref: '#/definitions/Assignment'
    type: array
  AssignmentStatus:
    enum:
      - Submitted
      - Approved
      - Rejected
    type: string
  AssignmentStatusList:
    items:
      $ref: '#/definitions/AssignmentStatus'
    type: array
  AssociateQualificationWithWorkerRequest:
    properties:
      IntegerValue:
        $ref: '#/definitions/Integer'
        description: The value of the Qualification to assign.
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Qualification type to use for the assigned Qualification.
      SendNotification:
        $ref: '#/definitions/Boolean'
        description: ' Specifies whether to send a notification email message to the Worker saying that the qualification was assigned to the Worker. Note: this is true by default. '
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: ' The ID of the Worker to whom the Qualification is being assigned. Worker IDs are included with submitted HIT assignments and Qualification requests. '
    required:
      - QualificationTypeId
      - WorkerId
    type: object
  AssociateQualificationWithWorkerResponse:
    properties: {}
    type: object
  BonusPayment:
    description: An object representing a Bonus payment paid to a Worker.
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the assignment associated with this bonus payment.
      BonusAmount:
        $ref: '#/definitions/CurrencyAmount'
      GrantTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time of when the bonus was granted.
      Reason:
        $ref: '#/definitions/String'
        description: 'The Reason text given when the bonus was granted, if any.'
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to whom the bonus was paid.
    type: object
  BonusPaymentList:
    items:
      $ref: '#/definitions/BonusPayment'
    type: array
  Boolean:
    type: boolean
  Comparator:
    enum:
      - LessThan
      - LessThanOrEqualTo
      - GreaterThan
      - GreaterThanOrEqualTo
      - EqualTo
      - NotEqualTo
      - Exists
      - DoesNotExist
      - In
      - NotIn
    type: string
  CountryParameters:
    maxLength: 2
    minLength: 2
    type: string
  CreateAdditionalAssignmentsForHITRequest:
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to extend.
      NumberOfAdditionalAssignments:
        $ref: '#/definitions/Integer'
        description: The number of additional assignments to request for this HIT.
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: ' A unique identifier for this request, which allows you to retry the call on error without extending the HIT multiple times. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the extend HIT already exists in the system from a previous call using the same <code>UniqueRequestToken</code>, subsequent calls will return an error with a message containing the request ID. '
    required:
      - HITId
      - NumberOfAdditionalAssignments
    type: object
  CreateAdditionalAssignmentsForHITResponse:
    properties: {}
    type: object
  CreateHITRequest:
    properties:
      AssignmentDurationInSeconds:
        $ref: '#/definitions/Long'
        description: ' The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. '
      AssignmentReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The Assignment-level Review Policy applies to the assignments under the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      AutoApprovalDelayInSeconds:
        $ref: '#/definitions/Long'
        description: ' The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. '
      Description:
        $ref: '#/definitions/String'
        description: ' A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. '
      HITLayoutId:
        $ref: '#/definitions/EntityId'
        description: '<p> The HITLayoutId allows you to use a pre-existing HIT design with placeholder values and create an additional HIT by providing those values as HITLayoutParameters. </p> <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be provided. </p>'
      HITLayoutParameters:
        $ref: '#/definitions/HITLayoutParameterList'
        description: ' If the HITLayoutId is provided, any placeholder values must be filled in with values using the HITLayoutParameter structure. For more information, see HITLayout. '
      HITReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      Keywords:
        $ref: '#/definitions/String'
        description: ' One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. '
      LifetimeInSeconds:
        $ref: '#/definitions/Long'
        description: ' An amount of time, in seconds, after which the HIT is no longer available for users to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches, even if not all of the assignments for the HIT have been accepted. '
      MaxAssignments:
        $ref: '#/definitions/Integer'
        description: ' The number of times the HIT can be accepted and completed before the HIT becomes unavailable. '
      QualificationRequirements:
        $ref: '#/definitions/QualificationRequirementList'
        description: ' Conditions that a Worker''s Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met in order for a Worker to accept the HIT. Additionally, other actions can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code> structure. '
      Question:
        $ref: '#/definitions/String'
        description: '<p> The data the person completing the HIT uses to produce the results. </p> <p> Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure, or an HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>'
      RequesterAnnotation:
        $ref: '#/definitions/String'
        description: '<p> An arbitrary data field. The RequesterAnnotation parameter lets your application attach arbitrary data to the HIT for tracking purposes. For example, this parameter could be an identifier internal to the Requester''s application that corresponds with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT. It is not shown to the Worker, or any other Requester. </p> <p> The RequesterAnnotation parameter may be different for each HIT you submit. It does not affect how your HITs are grouped. </p>'
      Reward:
        $ref: '#/definitions/CurrencyAmount'
        description: ' The amount of money the Requester will pay a Worker for successfully completing the HIT. '
      Title:
        $ref: '#/definitions/String'
        description: ' The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears in search results, and everywhere the HIT is mentioned. '
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: '<p> A unique identifier for this request which allows you to retry the call on error without creating duplicate HITs. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the HIT already exists in the system from a previous call using the same UniqueRequestToken, subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a message containing the HITId. </p> <note> <p> Note: It is your responsibility to ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent calls using the same UniqueRequestToken made after the 24 hour limit could create duplicate HITs. </p> </note>'
    required:
      - LifetimeInSeconds
      - AssignmentDurationInSeconds
      - Reward
      - Title
      - Description
    type: object
  CreateHITResponse:
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the newly created HIT data. For a description of the HIT data structure as it appears in responses, see the HIT Data Structure documentation. '
    type: object
  CreateHITTypeRequest:
    properties:
      AssignmentDurationInSeconds:
        $ref: '#/definitions/Long'
        description: ' The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. '
      AutoApprovalDelayInSeconds:
        $ref: '#/definitions/Long'
        description: ' The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. '
      Description:
        $ref: '#/definitions/String'
        description: ' A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. '
      Keywords:
        $ref: '#/definitions/String'
        description: ' One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. '
      QualificationRequirements:
        $ref: '#/definitions/QualificationRequirementList'
        description: ' Conditions that a Worker''s Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met in order for a Worker to accept the HIT. Additionally, other actions can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code> structure. '
      Reward:
        $ref: '#/definitions/CurrencyAmount'
        description: ' The amount of money the Requester will pay a Worker for successfully completing the HIT. '
      Title:
        $ref: '#/definitions/String'
        description: ' The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears in search results, and everywhere the HIT is mentioned. '
    required:
      - AssignmentDurationInSeconds
      - Reward
      - Title
      - Description
    type: object
  CreateHITTypeResponse:
    properties:
      HITTypeId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the newly registered HIT type.'
    type: object
  CreateHITWithHITTypeRequest:
    properties:
      AssignmentReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The Assignment-level Review Policy applies to the assignments under the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITLayoutId:
        $ref: '#/definitions/EntityId'
        description: '<p> The HITLayoutId allows you to use a pre-existing HIT design with placeholder values and create an additional HIT by providing those values as HITLayoutParameters. </p> <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be provided. </p>'
      HITLayoutParameters:
        $ref: '#/definitions/HITLayoutParameterList'
        description: ' If the HITLayoutId is provided, any placeholder values must be filled in with values using the HITLayoutParameter structure. For more information, see HITLayout. '
      HITReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITTypeId:
        $ref: '#/definitions/EntityId'
        description: The HIT type ID you want to create this HIT with.
      LifetimeInSeconds:
        $ref: '#/definitions/Long'
        description: ' An amount of time, in seconds, after which the HIT is no longer available for users to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches, even if not all of the assignments for the HIT have been accepted. '
      MaxAssignments:
        $ref: '#/definitions/Integer'
        description: ' The number of times the HIT can be accepted and completed before the HIT becomes unavailable. '
      Question:
        $ref: '#/definitions/String'
        description: '<p> The data the person completing the HIT uses to produce the results. </p> <p> Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure, or an HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>'
      RequesterAnnotation:
        $ref: '#/definitions/String'
        description: '<p> An arbitrary data field. The RequesterAnnotation parameter lets your application attach arbitrary data to the HIT for tracking purposes. For example, this parameter could be an identifier internal to the Requester''s application that corresponds with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT. It is not shown to the Worker, or any other Requester. </p> <p> The RequesterAnnotation parameter may be different for each HIT you submit. It does not affect how your HITs are grouped. </p>'
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: '<p> A unique identifier for this request which allows you to retry the call on error without creating duplicate HITs. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the HIT already exists in the system from a previous call using the same UniqueRequestToken, subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a message containing the HITId. </p> <note> <p> Note: It is your responsibility to ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent calls using the same UniqueRequestToken made after the 24 hour limit could create duplicate HITs. </p> </note>'
    required:
      - HITTypeId
      - LifetimeInSeconds
    type: object
  CreateHITWithHITTypeResponse:
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the newly created HIT data. For a description of the HIT data structure as it appears in responses, see the HIT Data Structure documentation. '
    type: object
  CreateQualificationTypeRequest:
    properties:
      AnswerKey:
        $ref: '#/definitions/String'
        description: '<p>The answers to the Qualification test specified in the Test parameter, in the form of an AnswerKey data structure.</p> <p>Constraints: Must not be longer than 65535 bytes.</p> <p>Constraints: None. If not specified, you must process Qualification requests manually.</p>'
      AutoGranted:
        $ref: '#/definitions/Boolean'
        description: '<p>Specifies whether requests for the Qualification type are granted immediately, without prompting the Worker with a Qualification test.</p> <p>Constraints: If the Test parameter is specified, this parameter cannot be true.</p>'
      AutoGrantedValue:
        $ref: '#/definitions/Integer'
        description: The Qualification value to use for automatically granted Qualifications. This parameter is used only if the AutoGranted parameter is true.
      Description:
        $ref: '#/definitions/String'
        description: 'A long description for the Qualification type. On the Amazon Mechanical Turk website, the long description is displayed when a Worker examines a Qualification type.'
      Keywords:
        $ref: '#/definitions/String'
        description: 'One or more words or phrases that describe the Qualification type, separated by commas. The keywords of a type make the type easier to find during a search.'
      Name:
        $ref: '#/definitions/String'
        description: ' The name you give to the Qualification type. The type name is used to represent the Qualification to Workers, and to find the type using a Qualification type search. It must be unique across all of your Qualification types.'
      QualificationTypeStatus:
        $ref: '#/definitions/QualificationTypeStatus'
        description: '<p>The initial status of the Qualification type.</p> <p>Constraints: Valid values are: Active | Inactive</p>'
      RetryDelayInSeconds:
        $ref: '#/definitions/Long'
        description: '<p>The number of seconds that a Worker must wait after requesting a Qualification of the Qualification type before the worker can retry the Qualification request.</p> <p>Constraints: None. If not specified, retries are disabled and Workers can request a Qualification of this type only once, even if the Worker has not been granted the Qualification. It is not possible to disable retries for a Qualification type after it has been created with retries enabled. If you want to disable retries, you must delete existing retry-enabled Qualification type and then create a new Qualification type with retries disabled.</p>'
      Test:
        $ref: '#/definitions/String'
        description: '<p> The questions for the Qualification test a Worker must answer correctly to obtain a Qualification of this type. If this parameter is specified, <code>TestDurationInSeconds</code> must also be specified. </p> <p>Constraints: Must not be longer than 65535 bytes. Must be a QuestionForm data structure. This parameter cannot be specified if AutoGranted is true.</p> <p>Constraints: None. If not specified, the Worker may request the Qualification without answering any questions.</p>'
      TestDurationInSeconds:
        $ref: '#/definitions/Long'
        description: 'The number of seconds the Worker has to complete the Qualification test, starting from the time the Worker requests the Qualification.'
    required:
      - Name
      - Description
      - QualificationTypeStatus
    type: object
  CreateQualificationTypeResponse:
    properties:
      QualificationType:
        $ref: '#/definitions/QualificationType'
        description: 'The created Qualification type, returned as a QualificationType data structure.'
    type: object
  CreateWorkerBlockRequest:
    properties:
      Reason:
        $ref: '#/definitions/String'
        description: A message explaining the reason for blocking the Worker. This parameter enables you to keep track of your Workers. The Worker does not see this message.
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to block.
    required:
      - WorkerId
      - Reason
    type: object
  CreateWorkerBlockResponse:
    properties: {}
    type: object
  CurrencyAmount:
    description: A string representing a currency amount.
    pattern: '^[0-9]+(\.)?[0-9]{0,2}$'
    type: string
  CustomerId:
    maxLength: 64
    minLength: 1
    pattern: '^A[A-Z0-9]+$'
    type: string
  CustomerIdList:
    items:
      $ref: '#/definitions/CustomerId'
    type: array
  DeleteHITRequest:
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to be deleted.
    required:
      - HITId
    type: object
  DeleteHITResponse:
    properties: {}
    type: object
  DeleteQualificationTypeRequest:
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the QualificationType to dispose.
    required:
      - QualificationTypeId
    type: object
  DeleteQualificationTypeResponse:
    properties: {}
    type: object
  DeleteWorkerBlockRequest:
    properties:
      Reason:
        $ref: '#/definitions/String'
        description: A message that explains the reason for unblocking the Worker. The Worker does not see this message.
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to unblock.
    required:
      - WorkerId
    type: object
  DeleteWorkerBlockResponse:
    properties: {}
    type: object
  DisassociateQualificationFromWorkerRequest:
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Qualification type of the Qualification to be revoked.
      Reason:
        $ref: '#/definitions/String'
        description: A text message that explains why the Qualification was revoked. The user who had the Qualification sees this message.
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker who possesses the Qualification to be revoked.
    required:
      - WorkerId
      - QualificationTypeId
    type: object
  DisassociateQualificationFromWorkerResponse:
    properties: {}
    type: object
  EntityId:
    maxLength: 64
    minLength: 1
    pattern: '^[A-Z0-9]+$'
    type: string
  EventType:
    enum:
      - AssignmentAccepted
      - AssignmentAbandoned
      - AssignmentReturned
      - AssignmentSubmitted
      - AssignmentRejected
      - AssignmentApproved
      - HITCreated
      - HITExpired
      - HITReviewable
      - HITExtended
      - HITDisposed
      - Ping
    type: string
  EventTypeList:
    items:
      $ref: '#/definitions/EventType'
    type: array
  ExceptionMessage:
    type: string
  GetAccountBalanceRequest:
    properties: {}
    type: object
  GetAccountBalanceResponse:
    properties:
      AvailableBalance:
        $ref: '#/definitions/CurrencyAmount'
      OnHoldBalance:
        $ref: '#/definitions/CurrencyAmount'
    type: object
  GetAssignmentRequest:
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Assignment to be retrieved.
    required:
      - AssignmentId
    type: object
  GetAssignmentResponse:
    properties:
      Assignment:
        $ref: '#/definitions/Assignment'
        description: ' The assignment. The response includes one Assignment element. '
      HIT:
        $ref: '#/definitions/HIT'
        description: ' The HIT associated with this assignment. The response includes one HIT element.'
    type: object
  GetFileUploadURLRequest:
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the assignment that contains the question with a FileUploadAnswer.
      QuestionIdentifier:
        $ref: '#/definitions/String'
        description: 'The identifier of the question with a FileUploadAnswer, as specified in the QuestionForm of the HIT.'
    required:
      - AssignmentId
      - QuestionIdentifier
    type: object
  GetFileUploadURLResponse:
    properties:
      FileUploadURL:
        $ref: '#/definitions/String'
        description: ' A temporary URL for the file that the Worker uploaded for the answer. '
    type: object
  GetHITRequest:
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to be retrieved.
    required:
      - HITId
    type: object
  GetHITResponse:
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the requested HIT data.'
    type: object
[...]
