swagger: '2.0'
info:
  version: '2017-01-17'
  x-release: v4
  title: Amazon Mechanical Turk
  description: <fullname>Amazon Mechanical Turk API Reference</fullname>
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mturk-requester
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mturk-requester-2017-01-17.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/mturk-requester/'
host: mturk-requester.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AcceptQualificationRequest
      description: <p> The <code>AcceptQualificationRequest</code> operation approves a Worker's request for a Qualification. </p> <p> Only the owner of the Qualification type can grant a Qualification request for that type. </p> <p> A successful request for the <code>AcceptQualificationRequest</code> operation returns with no errors and an empty body. </p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptQualificationRequestResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptQualificationRequestRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ApproveAssignment':
    post:
      operationId: ApproveAssignment
      description: '<p> The <code>ApproveAssignment</code> operation approves the results of a completed assignment. </p> <p> Approving an assignment initiates two payments from the Requester''s Amazon.com account </p> <ul> <li> <p> The Worker who submitted the results is paid the reward specified in the HIT. </p> </li> <li> <p> Amazon Mechanical Turk fees are debited. </p> </li> </ul> <p> If the Requester''s account does not have adequate funds for these payments, the call to ApproveAssignment returns an exception, and the approval is not processed. You can include an optional feedback message with the approval, which the Worker can see in the Status section of the web site. </p> <p> You can also call this operation for assignments that were previous rejected and approve them by explicitly overriding the previous rejection. This only works on rejected assignments that were submitted within the previous 30 days and only if the assignment''s related HIT has not been deleted. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApproveAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApproveAssignmentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AssociateQualificationWithWorker':
    post:
      operationId: AssociateQualificationWithWorker
      description: '<p> The <code>AssociateQualificationWithWorker</code> operation gives a Worker a Qualification. <code>AssociateQualificationWithWorker</code> does not require that the Worker submit a Qualification request. It gives the Qualification directly to the Worker. </p> <p> You can only assign a Qualification of a Qualification type that you created (using the <code>CreateQualificationType</code> operation). </p> <note> <p> Note: <code>AssociateQualificationWithWorker</code> does not affect any pending Qualification requests for the Qualification by the Worker. If you assign a Qualification to a Worker, then later grant a Qualification request made by the Worker, the granting of the request may modify the Qualification score. To resolve a pending Qualification request without affecting the Qualification the Worker already has, reject the request with the <code>RejectQualificationRequest</code> operation. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateQualificationWithWorkerResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateQualificationWithWorkerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAdditionalAssignmentsForHIT':
    post:
      operationId: CreateAdditionalAssignmentsForHIT
      description: '<p> The <code>CreateAdditionalAssignmentsForHIT</code> operation increases the maximum number of assignments of an existing HIT. </p> <p> To extend the maximum number of assignments, specify the number of additional assignments.</p> <note> <ul> <li> <p>HITs created with fewer than 10 assignments cannot be extended to have 10 or more assignments. Attempting to add assignments in a way that brings the total number of assignments for a HIT from fewer than 10 assignments to 10 or more assignments will result in an <code>AWS.MechanicalTurk.InvalidMaximumAssignmentsIncrease</code> exception.</p> </li> <li> <p>HITs that were created before July 22, 2015 cannot be extended. Attempting to extend HITs that were created before July 22, 2015 will result in an <code>AWS.MechanicalTurk.HITTooOldForExtension</code> exception. </p> </li> </ul> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAdditionalAssignmentsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdditionalAssignmentsForHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHIT':
    post:
      operationId: CreateHIT
      description: '<p>The <code>CreateHIT</code> operation creates a new Human Intelligence Task (HIT). The new HIT is made available for Workers to find and accept on the Amazon Mechanical Turk website. </p> <p> This operation allows you to specify a new HIT by passing in values for the properties of the HIT, such as its title, reward amount and number of assignments. When you pass these values to <code>CreateHIT</code>, a new HIT is created for you, with a new <code>HITTypeID</code>. The HITTypeID can be used to create additional HITs in the future without needing to specify common parameters such as the title, description and reward amount each time.</p> <p> An alternative way to create HITs is to first generate a HITTypeID using the <code>CreateHITType</code> operation and then call the <code>CreateHITWithHITType</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHIT also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href="https://requester.mturk.com/pricing">Amazon Mechanical Turk Pricing</a>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHITType':
    post:
      operationId: CreateHITType
      description: ' The <code>CreateHITType</code> operation creates a new HIT type. This operation allows you to define a standard set of HIT properties to use when creating HITs. If you register a HIT type with values that match an existing HIT type, the HIT type ID of the existing type will be returned. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHITWithHITType':
    post:
      operationId: CreateHITWithHITType
      description: '<p> The <code>CreateHITWithHITType</code> operation creates a new Human Intelligence Task (HIT) using an existing HITTypeID generated by the <code>CreateHITType</code> operation. </p> <p> This is an alternative way to create HITs from the <code>CreateHIT</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHITWithHITType also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href="https://requester.mturk.com/pricing">Amazon Mechanical Turk Pricing</a>. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHITWithHITTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHITWithHITTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateQualificationType':
    post:
      operationId: CreateQualificationType
      description: ' The <code>CreateQualificationType</code> operation creates a new Qualification type, which is represented by a <code>QualificationType</code> data structure. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateQualificationTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateWorkerBlock':
    post:
      operationId: CreateWorkerBlock
      description: 'The <code>CreateWorkerBlock</code> operation allows you to prevent a Worker from working on your HITs. For example, you can block a Worker who is producing poor quality work. You can block up to 100,000 Workers.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWorkerBlockResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateWorkerBlockRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteHIT':
    post:
      operationId: DeleteHIT
      description: '<p> The <code>DeleteHIT</code> operation is used to delete HIT that is no longer needed. Only the Requester who created the HIT can delete it. </p> <p> You can only dispose of HITs that are in the <code>Reviewable</code> state, with all of their submitted assignments already either approved or rejected. If you call the DeleteHIT operation on a HIT that is not in the <code>Reviewable</code> state (for example, that has not expired, or still has active assignments), or on a HIT that is Reviewable but without all of its submitted assignments already approved or rejected, the service will return an error. </p> <note> <ul> <li> <p> HITs are automatically disposed of after 120 days. </p> </li> <li> <p> After you dispose of a HIT, you can no longer approve the HIT''s rejected assignments. </p> </li> <li> <p> Disposed HITs are not returned in results for the ListHITs operation. </p> </li> <li> <p> Disposing HITs can improve the performance of operations such as ListReviewableHITs and ListHITs. </p> </li> </ul> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteQualificationType':
    post:
      operationId: DeleteQualificationType
      description: '<p> The <code>DeleteQualificationType</code> deletes a Qualification type and deletes any HIT types that are associated with the Qualification type. </p> <p>This operation does not revoke Qualifications already assigned to Workers because the Qualifications might be needed for active HITs. If there are any pending requests for the Qualification type, Amazon Mechanical Turk rejects those requests. After you delete a Qualification type, you can no longer use it to create HITs or HIT types.</p> <note> <p>DeleteQualificationType must wait for all the HITs that use the deleted Qualification type to be deleted before completing. It may take up to 48 hours before DeleteQualificationType completes and the unique name of the Qualification type is available for reuse with CreateQualificationType.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteQualificationTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteWorkerBlock':
    post:
      operationId: DeleteWorkerBlock
      description: 'The <code>DeleteWorkerBlock</code> operation allows you to reinstate a blocked Worker to work on your HITs. This operation reverses the effects of the CreateWorkerBlock operation. You need the Worker ID to use this operation. If the Worker ID is missing or invalid, this operation fails and returns the message “WorkerId is invalid.” If the specified Worker is not blocked, this operation returns successfully.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWorkerBlockResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWorkerBlockRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateQualificationFromWorker':
    post:
      operationId: DisassociateQualificationFromWorker
      description: <p> The <code>DisassociateQualificationFromWorker</code> revokes a previously granted Qualification from a user. </p> <p> You can provide a text message explaining why the Qualification was revoked. The user who had the Qualification can see this message. </p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateQualificationFromWorkerResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateQualificationFromWorkerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAccountBalance':
    post:
      operationId: GetAccountBalance
      description: The <code>GetAccountBalance</code> operation retrieves the amount of money in your Amazon Mechanical Turk account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountBalanceResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAccountBalanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAssignment':
    post:
      operationId: GetAssignment
      description: ' The <code>GetAssignment</code> operation retrieves the details of the specified Assignment. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAssignmentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetFileUploadURL':
    post:
      operationId: GetFileUploadURL
      description: ' The <code>GetFileUploadURL</code> operation generates and returns a temporary URL. You use the temporary URL to retrieve a file uploaded by a Worker as an answer to a FileUploadAnswer question for a HIT. The temporary URL is generated the instant the GetFileUploadURL operation is called, and is valid for 60 seconds. You can get a temporary file upload URL any time until the HIT is disposed. After the HIT is disposed, any uploaded files are deleted, and cannot be retrieved. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFileUploadURLResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetFileUploadURLRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetHIT':
    post:
      operationId: GetHIT
      description: ' The <code>GetHIT</code> operation retrieves the details of the specified HIT. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetQualificationScore':
    post:
      operationId: GetQualificationScore
      description: '<p> The <code>GetQualificationScore</code> operation returns the value of a Worker''s Qualification for a given Qualification type. </p> <p> To get a Worker''s Qualification, you must know the Worker''s ID. The Worker''s ID is included in the assignment data returned by the <code>ListAssignmentsForHIT</code> operation. </p> <p>Only the owner of a Qualification type can query the value of a Worker''s Qualification of that type.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQualificationScoreResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQualificationScoreRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetQualificationType':
    post:
      operationId: GetQualificationType
      description: ' The <code>GetQualificationType</code>operation retrieves information about a Qualification type using its ID. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQualificationTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAssignmentsForHIT':
    post:
      operationId: ListAssignmentsForHIT
      description: '<p> The <code>ListAssignmentsForHIT</code> operation retrieves completed assignments for a HIT. You can use this operation to retrieve the results for a HIT. </p> <p> You can get assignments for a HIT at any time, even if the HIT is not yet Reviewable. If a HIT requested multiple assignments, and has received some results but has not yet become Reviewable, you can still retrieve the partial results with this operation. </p> <p> Use the AssignmentStatus parameter to control which set of assignments for a HIT are returned. The ListAssignmentsForHIT operation can return submitted assignments awaiting approval, or it can return assignments that have already been approved or rejected. You can set AssignmentStatus=Approved,Rejected to get assignments that have already been approved and rejected together in one result set. </p> <p> Only the Requester who created the HIT can retrieve the assignments for that HIT. </p> <p> Results are sorted and divided into numbered pages and the operation returns a single page of results. You can use the parameters of the operation to control sorting and pagination. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssignmentsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAssignmentsForHITRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListBonusPayments':
    post:
      operationId: ListBonusPayments
      description: ' The <code>ListBonusPayments</code> operation retrieves the amounts of bonuses you have paid to Workers for a given HIT or assignment. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBonusPaymentsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBonusPaymentsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListHITs':
    post:
      operationId: ListHITs
      description: ' The <code>ListHITs</code> operation returns all of a Requester''s HITs. The operation returns HITs of any status, except for HITs that have been deleted of with the DeleteHIT operation or that have been auto-deleted. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHITsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListHITsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListHITsForQualificationType':
    post:
      operationId: ListHITsForQualificationType
      description: ' The <code>ListHITsForQualificationType</code> operation returns the HITs that use the given Qualification type for a Qualification requirement. The operation returns HITs of any status, except for HITs that have been deleted with the <code>DeleteHIT</code> operation or that have been auto-deleted. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHITsForQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListHITsForQualificationTypeRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListQualificationRequests':
    post:
      operationId: ListQualificationRequests
      description: ' The <code>ListQualificationRequests</code> operation retrieves requests for Qualifications of a particular Qualification type. The owner of the Qualification type calls this operation to poll for pending requests, and accepts them using the AcceptQualification operation. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQualificationRequestsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListQualificationRequestsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListQualificationTypes':
    post:
      operationId: ListQualificationTypes
      description: ' The <code>ListQualificationRequests</code> operation retrieves requests for Qualifications of a particular Qualification type. The owner of the Qualification type calls this operation to poll for pending requests, and accepts them using the AcceptQualification operation. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQualificationTypesResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListQualificationTypesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListReviewPolicyResultsForHIT':
    post:
      operationId: ListReviewPolicyResultsForHIT
      description: ' The <code>ListReviewPolicyResultsForHIT</code> operation retrieves the computed results and the actions taken in the course of executing your Review Policies for a given HIT. For information about how to specify Review Policies when you call CreateHIT, see Review Policies. The ListReviewPolicyResultsForHIT operation can return results for both Assignment-level and HIT-level review results. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReviewPolicyResultsForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReviewPolicyResultsForHITRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListReviewableHITs':
    post:
      operationId: ListReviewableHITs
      description: ' The <code>ListReviewableHITs</code> operation retrieves the HITs with Status equal to Reviewable or Status equal to Reviewing that belong to the Requester calling the operation. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReviewableHITsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReviewableHITsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListWorkerBlocks':
    post:
      operationId: ListWorkerBlocks
      description: The <code>ListWorkersBlocks</code> operation retrieves a list of Workers who are blocked from working on your HITs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWorkerBlocksResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListWorkerBlocksRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListWorkersWithQualificationType':
    post:
      operationId: ListWorkersWithQualificationType
      description: ' The <code>ListWorkersWithQualificationType</code> operation returns all of the Workers that have been associated with a given Qualification type. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWorkersWithQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListWorkersWithQualificationTypeRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#NotifyWorkers':
    post:
      operationId: NotifyWorkers
      description: ' The <code>NotifyWorkers</code> operation sends an email to one or more Workers that you specify with the Worker ID. You can specify up to 100 Worker IDs to send the same message with a single call to the NotifyWorkers operation. The NotifyWorkers operation will send a notification email to a Worker only if you have previously approved or rejected work from the Worker. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotifyWorkersResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/NotifyWorkersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RejectAssignment':
    post:
      operationId: RejectAssignment
      description: '<p> The <code>RejectAssignment</code> operation rejects the results of a completed assignment. </p> <p> You can include an optional feedback message with the rejection, which the Worker can see in the Status section of the web site. When you include a feedback message with the rejection, it helps the Worker understand why the assignment was rejected, and can improve the quality of the results the Worker submits in the future. </p> <p> Only the Requester who created the HIT can reject an assignment for the HIT. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectAssignmentResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RejectAssignmentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RejectQualificationRequest':
    post:
      operationId: RejectQualificationRequest
      description: <p> The <code>RejectQualificationRequest</code> operation rejects a user's request for a Qualification. </p> <p> You can provide a text message explaining why the request was rejected. The Worker who made the request can see this message.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectQualificationRequestResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RejectQualificationRequestRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SendBonus':
    post:
      operationId: SendBonus
      description: ' The <code>SendBonus</code> operation issues a payment of money from your account to a Worker. This payment happens separately from the reward you pay to the Worker when you approve the Worker''s assignment. The SendBonus operation requires the Worker''s ID and the assignment ID as parameters to initiate payment of the bonus. You must include a message that explains the reason for the bonus payment, as the Worker may not be expecting the payment. Amazon Mechanical Turk collects a fee for bonus payments, similar to the HIT listing fee. This operation fails if your account does not have enough funds to pay for both the bonus and the fees. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendBonusResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendBonusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SendTestEventNotification':
    post:
      operationId: SendTestEventNotification
      description: ' The <code>SendTestEventNotification</code> operation causes Amazon Mechanical Turk to send a notification message as if a HIT event occurred, according to the provided notification specification. This allows you to test notifications without setting up notifications for a real HIT type and trying to trigger them using the website. When you call this operation, the service attempts to send the test notification immediately. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendTestEventNotificationResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendTestEventNotificationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateExpirationForHIT':
    post:
      operationId: UpdateExpirationForHIT
      description: ' The <code>UpdateExpirationForHIT</code> operation allows you update the expiration time of a HIT. If you update it to a time in the past, the HIT will be immediately expired. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateExpirationForHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateExpirationForHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateHITReviewStatus':
    post:
      operationId: UpdateHITReviewStatus
      description: ' The <code>UpdateHITReviewStatus</code> operation updates the status of a HIT. If the status is Reviewable, this operation can update the status to Reviewing, or it can revert a Reviewing HIT back to the Reviewable status. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateHITReviewStatusResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateHITReviewStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateHITTypeOfHIT':
    post:
      operationId: UpdateHITTypeOfHIT
      description: ' The <code>UpdateHITTypeOfHIT</code> operation allows you to change the HITType properties of a HIT. This operation disassociates the HIT from its old HITType properties and associates it with the new HITType properties. The HIT takes on the properties of the new HITType in place of the old ones. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateHITTypeOfHITResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateHITTypeOfHITRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateNotificationSettings':
    post:
      operationId: UpdateNotificationSettings
      description: ' The <code>UpdateNotificationSettings</code> operation creates, updates, disables or re-enables notifications for a HIT type. If you call the UpdateNotificationSettings operation for a HIT type that already has a notification specification, the operation replaces the old specification with a new one. You can call the UpdateNotificationSettings operation to enable or disable notifications for the HIT type, without having to modify the notification specification itself by providing updates to the Active status without specifying a new notification specification. To change the Active status of a HIT type''s notifications, the HIT type must already have a notification specification, or one must be provided in the same call to <code>UpdateNotificationSettings</code>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateNotificationSettingsResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateNotificationSettingsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateQualificationType':
    post:
      operationId: UpdateQualificationType
      description: '<p> The <code>UpdateQualificationType</code> operation modifies the attributes of an existing Qualification type, which is represented by a QualificationType data structure. Only the owner of a Qualification type can modify its attributes. </p> <p> Most attributes of a Qualification type can be changed after the type has been created. However, the Name and Keywords fields cannot be modified. The RetryDelayInSeconds parameter can be modified or added to change the delay or to enable retries, but RetryDelayInSeconds cannot be used to disable retries. </p> <p> You can use this operation to update the test for a Qualification type. The test is updated based on the values specified for the Test, TestDurationInSeconds and AnswerKey parameters. All three parameters specify the updated test. If you are updating the test for a type, you must specify the Test and TestDurationInSeconds parameters. The AnswerKey parameter is optional; omitting it specifies that the updated test does not have an answer key. </p> <p> If you omit the Test parameter, the test for the Qualification type is unchanged. There is no way to remove a test from a Qualification type that has one. If the type already has a test, you cannot update it to be AutoGranted. If the Qualification type does not have a test and one is provided by an update, the type will henceforth have a test. </p> <p> If you want to update the test duration or answer key for an existing test without changing the questions, you must specify a Test parameter with the original questions, along with the updated values. </p> <p> If you provide an updated Test but no AnswerKey, the new test will not have an answer key. Requests for such Qualifications must be granted manually. </p> <p> You can also update the AutoGranted and AutoGrantedValue attributes of the Qualification type.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQualificationTypeResponse'
        '480':
          description: ServiceFault
          schema:
            $ref: '#/definitions/ServiceFault'
        '481':
          description: RequestError
          schema:
            $ref: '#/definitions/RequestError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateQualificationTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AcceptQualificationRequestRequest:
    type: object
    required:
      - QualificationRequestId
    properties:
      QualificationRequestId:
        $ref: '#/definitions/String'
        description: 'The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.'
      IntegerValue:
        $ref: '#/definitions/Integer'
        description: ' The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. '
  AcceptQualificationRequestResponse:
    type: object
    properties: {}
  ApproveAssignmentRequest:
    type: object
    required:
      - AssignmentId
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the assignment. The assignment must correspond to a HIT created by the Requester. '
      RequesterFeedback:
        $ref: '#/definitions/String'
        description: ' A message for the Worker, which the Worker can see in the Status section of the web site. '
      OverrideRejection:
        $ref: '#/definitions/Boolean'
        description: ' A flag indicating that an assignment should be approved even if it was previously rejected. Defaults to <code>False</code>. '
  ApproveAssignmentResponse:
    type: object
    properties: {}
  Assignment:
    type: object
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: ' A unique identifier for the assignment.'
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: ' The ID of the Worker who accepted the HIT.'
      HITId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the HIT.'
      AssignmentStatus:
        $ref: '#/definitions/AssignmentStatus'
        description: ' The status of the assignment.'
      AutoApprovalTime:
        $ref: '#/definitions/Timestamp'
        description: ' If results have been submitted, AutoApprovalTime is the date and time the results of the assignment results are considered Approved automatically if they have not already been explicitly approved or rejected by the Requester. This value is derived from the auto-approval delay specified by the Requester in the HIT. This value is omitted from the assignment if the Worker has not yet submitted results.'
      AcceptTime:
        $ref: '#/definitions/Timestamp'
        description: ' The date and time the Worker accepted the assignment.'
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results, SubmitTime is the date and time the assignment was submitted. This value is omitted from the assignment if the Worker has not yet submitted results.'
      ApprovalTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results and the Requester has approved the results, ApprovalTime is the date and time the Requester approved the results. This value is omitted from the assignment if the Requester has not yet approved the results.'
      RejectionTime:
        $ref: '#/definitions/Timestamp'
        description: ' If the Worker has submitted results and the Requester has rejected the results, RejectionTime is the date and time the Requester rejected the results.'
      Deadline:
        $ref: '#/definitions/Timestamp'
        description: ' The date and time of the deadline for the assignment. This value is derived from the deadline specification for the HIT and the date and time the Worker accepted the HIT.'
      Answer:
        $ref: '#/definitions/String'
        description: ' The Worker''s answers submitted for the HIT contained in a QuestionFormAnswers document, if the Worker provides an answer. If the Worker does not provide any answers, Answer may contain a QuestionFormAnswers document, or Answer may be empty.'
      RequesterFeedback:
        $ref: '#/definitions/String'
        description: ' The feedback string included with the call to the ApproveAssignment operation or the RejectAssignment operation, if the Requester approved or rejected the assignment and specified feedback.'
    description: ' The Assignment data structure represents a single assignment of a HIT to a Worker. The assignment tracks the Worker''s efforts to complete the HIT, and contains the results for later retrieval. '
  AssignmentList:
    type: array
    items:
      $ref: '#/definitions/Assignment'
  AssignmentStatus:
    type: string
    enum:
      - Submitted
      - Approved
      - Rejected
  AssignmentStatusList:
    type: array
    items:
      $ref: '#/definitions/AssignmentStatus'
  AssociateQualificationWithWorkerRequest:
    type: object
    required:
      - QualificationTypeId
      - WorkerId
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Qualification type to use for the assigned Qualification.
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: ' The ID of the Worker to whom the Qualification is being assigned. Worker IDs are included with submitted HIT assignments and Qualification requests. '
      IntegerValue:
        $ref: '#/definitions/Integer'
        description: The value of the Qualification to assign.
      SendNotification:
        $ref: '#/definitions/Boolean'
        description: ' Specifies whether to send a notification email message to the Worker saying that the qualification was assigned to the Worker. Note: this is true by default. '
  AssociateQualificationWithWorkerResponse:
    type: object
    properties: {}
  BonusPayment:
    type: object
    properties:
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to whom the bonus was paid.
      BonusAmount:
        $ref: '#/definitions/CurrencyAmount'
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the assignment associated with this bonus payment.
      Reason:
        $ref: '#/definitions/String'
        description: 'The Reason text given when the bonus was granted, if any.'
      GrantTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time of when the bonus was granted.
    description: An object representing a Bonus payment paid to a Worker.
  BonusPaymentList:
    type: array
    items:
      $ref: '#/definitions/BonusPayment'
  Boolean:
    type: boolean
  Comparator:
    type: string
    enum:
      - LessThan
      - LessThanOrEqualTo
      - GreaterThan
      - GreaterThanOrEqualTo
      - EqualTo
      - NotEqualTo
      - Exists
      - DoesNotExist
      - In
      - NotIn
  CountryParameters:
    type: string
    minLength: 2
    maxLength: 2
  CreateAdditionalAssignmentsForHITRequest:
    type: object
    required:
      - HITId
      - NumberOfAdditionalAssignments
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to extend.
      NumberOfAdditionalAssignments:
        $ref: '#/definitions/Integer'
        description: The number of additional assignments to request for this HIT.
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: ' A unique identifier for this request, which allows you to retry the call on error without extending the HIT multiple times. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the extend HIT already exists in the system from a previous call using the same <code>UniqueRequestToken</code>, subsequent calls will return an error with a message containing the request ID. '
  CreateAdditionalAssignmentsForHITResponse:
    type: object
    properties: {}
  CreateHITRequest:
    type: object
    required:
      - LifetimeInSeconds
      - AssignmentDurationInSeconds
      - Reward
      - Title
      - Description
    properties:
      MaxAssignments:
        $ref: '#/definitions/Integer'
        description: ' The number of times the HIT can be accepted and completed before the HIT becomes unavailable. '
      AutoApprovalDelayInSeconds:
        $ref: '#/definitions/Long'
        description: ' The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. '
      LifetimeInSeconds:
        $ref: '#/definitions/Long'
        description: ' An amount of time, in seconds, after which the HIT is no longer available for users to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches, even if not all of the assignments for the HIT have been accepted. '
      AssignmentDurationInSeconds:
        $ref: '#/definitions/Long'
        description: ' The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. '
      Reward:
        $ref: '#/definitions/CurrencyAmount'
        description: ' The amount of money the Requester will pay a Worker for successfully completing the HIT. '
      Title:
        $ref: '#/definitions/String'
        description: ' The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears in search results, and everywhere the HIT is mentioned. '
      Keywords:
        $ref: '#/definitions/String'
        description: ' One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. '
      Description:
        $ref: '#/definitions/String'
        description: ' A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. '
      Question:
        $ref: '#/definitions/String'
        description: '<p> The data the person completing the HIT uses to produce the results. </p> <p> Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure, or an HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>'
      RequesterAnnotation:
        $ref: '#/definitions/String'
        description: '<p> An arbitrary data field. The RequesterAnnotation parameter lets your application attach arbitrary data to the HIT for tracking purposes. For example, this parameter could be an identifier internal to the Requester''s application that corresponds with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT. It is not shown to the Worker, or any other Requester. </p> <p> The RequesterAnnotation parameter may be different for each HIT you submit. It does not affect how your HITs are grouped. </p>'
      QualificationRequirements:
        $ref: '#/definitions/QualificationRequirementList'
        description: ' A condition that a Worker''s Qualifications must meet before the Worker is allowed to accept and complete the HIT. '
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: '<p> A unique identifier for this request which allows you to retry the call on error without creating duplicate HITs. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the HIT already exists in the system from a previous call using the same UniqueRequestToken, subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a message containing the HITId. </p> <note> <p> Note: It is your responsibility to ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent calls using the same UniqueRequestToken made after the 24 hour limit could create duplicate HITs. </p> </note>'
      AssignmentReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The Assignment-level Review Policy applies to the assignments under the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITLayoutId:
        $ref: '#/definitions/EntityId'
        description: '<p> The HITLayoutId allows you to use a pre-existing HIT design with placeholder values and create an additional HIT by providing those values as HITLayoutParameters. </p> <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be provided. </p>'
      HITLayoutParameters:
        $ref: '#/definitions/HITLayoutParameterList'
        description: ' If the HITLayoutId is provided, any placeholder values must be filled in with values using the HITLayoutParameter structure. For more information, see HITLayout. '
  CreateHITResponse:
    type: object
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the newly created HIT data. For a description of the HIT data structure as it appears in responses, see the HIT Data Structure documentation. '
  CreateHITTypeRequest:
    type: object
    required:
      - AssignmentDurationInSeconds
      - Reward
      - Title
      - Description
    properties:
      AutoApprovalDelayInSeconds:
        $ref: '#/definitions/Long'
        description: ' The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. '
      AssignmentDurationInSeconds:
        $ref: '#/definitions/Long'
        description: ' The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. '
      Reward:
        $ref: '#/definitions/CurrencyAmount'
        description: ' The amount of money the Requester will pay a Worker for successfully completing the HIT. '
      Title:
        $ref: '#/definitions/String'
        description: ' The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears in search results, and everywhere the HIT is mentioned. '
      Keywords:
        $ref: '#/definitions/String'
        description: ' One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. '
      Description:
        $ref: '#/definitions/String'
        description: ' A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. '
      QualificationRequirements:
        $ref: '#/definitions/QualificationRequirementList'
        description: ' A condition that a Worker''s Qualifications must meet before the Worker is allowed to accept and complete the HIT. '
  CreateHITTypeResponse:
    type: object
    properties:
      HITTypeId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the newly registered HIT type.'
  CreateHITWithHITTypeRequest:
    type: object
    required:
      - HITTypeId
      - LifetimeInSeconds
    properties:
      HITTypeId:
        $ref: '#/definitions/EntityId'
        description: The HIT type ID you want to create this HIT with.
      MaxAssignments:
        $ref: '#/definitions/Integer'
        description: ' The number of times the HIT can be accepted and completed before the HIT becomes unavailable. '
      LifetimeInSeconds:
        $ref: '#/definitions/Long'
        description: ' An amount of time, in seconds, after which the HIT is no longer available for users to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches, even if not all of the assignments for the HIT have been accepted. '
      Question:
        $ref: '#/definitions/String'
        description: '<p> The data the person completing the HIT uses to produce the results. </p> <p> Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure, or an HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>'
      RequesterAnnotation:
        $ref: '#/definitions/String'
        description: '<p> An arbitrary data field. The RequesterAnnotation parameter lets your application attach arbitrary data to the HIT for tracking purposes. For example, this parameter could be an identifier internal to the Requester''s application that corresponds with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT. It is not shown to the Worker, or any other Requester. </p> <p> The RequesterAnnotation parameter may be different for each HIT you submit. It does not affect how your HITs are grouped. </p>'
      UniqueRequestToken:
        $ref: '#/definitions/IdempotencyToken'
        description: '<p> A unique identifier for this request which allows you to retry the call on error without creating duplicate HITs. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the HIT already exists in the system from a previous call using the same UniqueRequestToken, subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a message containing the HITId. </p> <note> <p> Note: It is your responsibility to ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent calls using the same UniqueRequestToken made after the 24 hour limit could create duplicate HITs. </p> </note>'
      AssignmentReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The Assignment-level Review Policy applies to the assignments under the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITReviewPolicy:
        $ref: '#/definitions/ReviewPolicy'
        description: ' The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk to take various actions based on the policy. '
      HITLayoutId:
        $ref: '#/definitions/EntityId'
        description: '<p> The HITLayoutId allows you to use a pre-existing HIT design with placeholder values and create an additional HIT by providing those values as HITLayoutParameters. </p> <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be provided. </p>'
      HITLayoutParameters:
        $ref: '#/definitions/HITLayoutParameterList'
        description: ' If the HITLayoutId is provided, any placeholder values must be filled in with values using the HITLayoutParameter structure. For more information, see HITLayout. '
  CreateHITWithHITTypeResponse:
    type: object
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the newly created HIT data. For a description of the HIT data structure as it appears in responses, see the HIT Data Structure documentation. '
  CreateQualificationTypeRequest:
    type: object
    required:
      - Name
      - Description
      - QualificationTypeStatus
    properties:
      Name:
        $ref: '#/definitions/String'
        description: ' The name you give to the Qualification type. The type name is used to represent the Qualification to Workers, and to find the type using a Qualification type search. It must be unique across all of your Qualification types.'
      Keywords:
        $ref: '#/definitions/String'
        description: 'One or more words or phrases that describe the Qualification type, separated by commas. The keywords of a type make the type easier to find during a search.'
      Description:
        $ref: '#/definitions/String'
        description: 'A long description for the Qualification type. On the Amazon Mechanical Turk website, the long description is displayed when a Worker examines a Qualification type.'
      QualificationTypeStatus:
        $ref: '#/definitions/QualificationTypeStatus'
        description: '<p>The initial status of the Qualification type.</p> <p>Constraints: Valid values are: Active | Inactive</p>'
      RetryDelayInSeconds:
        $ref: '#/definitions/Long'
        description: '<p>The number of seconds that a Worker must wait after requesting a Qualification of the Qualification type before the worker can retry the Qualification request.</p> <p>Constraints: None. If not specified, retries are disabled and Workers can request a Qualification of this type only once, even if the Worker has not been granted the Qualification. It is not possible to disable retries for a Qualification type after it has been created with retries enabled. If you want to disable retries, you must delete existing retry-enabled Qualification type and then create a new Qualification type with retries disabled.</p>'
      Test:
        $ref: '#/definitions/String'
        description: '<p> The questions for the Qualification test a Worker must answer correctly to obtain a Qualification of this type. If this parameter is specified, <code>TestDurationInSeconds</code> must also be specified. </p> <p>Constraints: Must not be longer than 65535 bytes. Must be a QuestionForm data structure. This parameter cannot be specified if AutoGranted is true.</p> <p>Constraints: None. If not specified, the Worker may request the Qualification without answering any questions.</p>'
      AnswerKey:
        $ref: '#/definitions/String'
        description: '<p>The answers to the Qualification test specified in the Test parameter, in the form of an AnswerKey data structure.</p> <p>Constraints: Must not be longer than 65535 bytes.</p> <p>Constraints: None. If not specified, you must process Qualification requests manually.</p>'
      TestDurationInSeconds:
        $ref: '#/definitions/Long'
        description: 'The number of seconds the Worker has to complete the Qualification test, starting from the time the Worker requests the Qualification.'
      AutoGranted:
        $ref: '#/definitions/Boolean'
        description: '<p>Specifies whether requests for the Qualification type are granted immediately, without prompting the Worker with a Qualification test.</p> <p>Constraints: If the Test parameter is specified, this parameter cannot be true.</p>'
      AutoGrantedValue:
        $ref: '#/definitions/Integer'
        description: The Qualification value to use for automatically granted Qualifications. This parameter is used only if the AutoGranted parameter is true.
  CreateQualificationTypeResponse:
    type: object
    properties:
      QualificationType:
        $ref: '#/definitions/QualificationType'
        description: 'The created Qualification type, returned as a QualificationType data structure.'
  CreateWorkerBlockRequest:
    type: object
    required:
      - WorkerId
      - Reason
    properties:
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to block.
      Reason:
        $ref: '#/definitions/String'
        description: A message explaining the reason for blocking the Worker. This parameter enables you to keep track of your Workers. The Worker does not see this message.
  CreateWorkerBlockResponse:
    type: object
    properties: {}
  CurrencyAmount:
    type: string
    pattern: '^[0-9]+(\.)?[0-9]{0,2}$'
    description: A string representing a currency amount.
  CustomerId:
    type: string
    pattern: '^A[A-Z0-9]+$'
    minLength: 1
    maxLength: 64
  CustomerIdList:
    type: array
    items:
      $ref: '#/definitions/CustomerId'
  DeleteHITRequest:
    type: object
    required:
      - HITId
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to be deleted.
  DeleteHITResponse:
    type: object
    properties: {}
  DeleteQualificationTypeRequest:
    type: object
    required:
      - QualificationTypeId
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the QualificationType to dispose.
  DeleteQualificationTypeResponse:
    type: object
    properties: {}
  DeleteWorkerBlockRequest:
    type: object
    required:
      - WorkerId
    properties:
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker to unblock.
      Reason:
        $ref: '#/definitions/String'
        description: A message that explains the reason for unblocking the Worker. The Worker does not see this message.
  DeleteWorkerBlockResponse:
    type: object
    properties: {}
  DisassociateQualificationFromWorkerRequest:
    type: object
    required:
      - WorkerId
      - QualificationTypeId
    properties:
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker who possesses the Qualification to be revoked.
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Qualification type of the Qualification to be revoked.
      Reason:
        $ref: '#/definitions/String'
        description: A text message that explains why the Qualification was revoked. The user who had the Qualification sees this message.
  DisassociateQualificationFromWorkerResponse:
    type: object
    properties: {}
  EntityId:
    type: string
    pattern: '^[A-Z0-9]+$'
    minLength: 1
    maxLength: 64
  EventType:
    type: string
    enum:
      - AssignmentAccepted
      - AssignmentAbandoned
      - AssignmentReturned
      - AssignmentSubmitted
      - AssignmentRejected
      - AssignmentApproved
      - HITCreated
      - HITExpired
      - HITReviewable
      - HITExtended
      - HITDisposed
      - Ping
  EventTypeList:
    type: array
    items:
      $ref: '#/definitions/EventType'
  ExceptionMessage:
    type: string
  GetAccountBalanceRequest:
    type: object
    properties: {}
  GetAccountBalanceResponse:
    type: object
    properties:
      AvailableBalance:
        $ref: '#/definitions/CurrencyAmount'
      OnHoldBalance:
        $ref: '#/definitions/CurrencyAmount'
  GetAssignmentRequest:
    type: object
    required:
      - AssignmentId
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the Assignment to be retrieved.
  GetAssignmentResponse:
    type: object
    properties:
      Assignment:
        $ref: '#/definitions/Assignment'
        description: ' The assignment. The response includes one Assignment element. '
      HIT:
        $ref: '#/definitions/HIT'
        description: ' The HIT associated with this assignment. The response includes one HIT element.'
  GetFileUploadURLRequest:
    type: object
    required:
      - AssignmentId
      - QuestionIdentifier
    properties:
      AssignmentId:
        $ref: '#/definitions/EntityId'
        description: The ID of the assignment that contains the question with a FileUploadAnswer.
      QuestionIdentifier:
        $ref: '#/definitions/String'
        description: 'The identifier of the question with a FileUploadAnswer, as specified in the QuestionForm of the HIT.'
  GetFileUploadURLResponse:
    type: object
    properties:
      FileUploadURL:
        $ref: '#/definitions/String'
        description: ' A temporary URL for the file that the Worker uploaded for the answer. '
  GetHITRequest:
    type: object
    required:
      - HITId
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT to be retrieved.
  GetHITResponse:
    type: object
    properties:
      HIT:
        $ref: '#/definitions/HIT'
        description: ' Contains the requested HIT data.'
  GetQualificationScoreRequest:
    type: object
    required:
      - QualificationTypeId
      - WorkerId
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the QualificationType.
      WorkerId:
        $ref: '#/definitions/CustomerId'
        description: The ID of the Worker whose Qualification is being updated.
  GetQualificationScoreResponse:
    type: object
    properties:
      Qualification:
        $ref: '#/definitions/Qualification'
        description: ' The Qualification data structure of the Qualification assigned to a user, including the Qualification type and the value (score). '
  GetQualificationTypeRequest:
    type: object
    required:
      - QualificationTypeId
    properties:
      QualificationTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the QualificationType.
  GetQualificationTypeResponse:
    type: object
    properties:
      QualificationType:
        $ref: '#/definitions/QualificationType'
        description: ' The returned Qualification Type'
  HIT:
    type: object
    properties:
      HITId:
        $ref: '#/definitions/EntityId'
        description: ' A unique identifier for the HIT.'
      HITTypeId:
        $ref: '#/definitions/EntityId'
        description: The ID of the HIT type of this HIT
      HITGroupId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the HIT Group of this HIT.'
      HITLayoutId:
        $ref: '#/definitions/EntityId'
        description: ' The ID of the HIT Layout of this HIT.'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: ' The date and time the HIT was created.'
      Title:
        $ref: '#/definitions/String'
        description: ' The title of the HIT.'
      Description:
        $ref: '#/definitions/String'
        description: ' A general description of the HIT.'
      Question:
        $ref: '#/definitions/String'
        description: ' The data the Worker completing the HIT uses produce the results. This is either either a QuestionForm, HTMLQuestion or an ExternalQuestion data structure.'
      Keywords:
        $ref: '#/definitions/String'
        description: ' One or more words or phrases that describe the HIT, separated by commas. Search terms similar to the keywords of a HIT are more likely to have the HIT in the search results.'
      HITStatus:
        $ref: '#/definitions/HITStatus'
        description: 'The status of the HIT and its assignments. Valid Values are Assignable | Unassignable | Reviewable | Reviewing | Disposed. '
      MaxAssignments:
        $ref: '#/definitions/Integer'
        description: 'The number of times the HIT can be accepted and completed before the HIT becomes unavailable. '
      Reward:
        $ref: '#/definitions/CurrencyAmount'
      AutoApprovalDelayInSeconds:
        $ref: '#/definitions/Long'
        description: 'The amount of time, in seconds, after the Worker submits an assignment for the HIT that the results are automatically approved by Amazon Mechanical Turk. This is the amount of time the Requester has to reject an assignment submitted by a Worker before the assignment is auto-approved and the Worker is paid. '
      Expiration:
        $ref: '#/definitions/Timestamp'
        description: The date and time the HIT expires.
      AssignmentDurationInSeconds:
        $ref: '#/definitions/Long'
        description: ' The length of time, in seconds, that a Worker has to complete the HIT after accepting it.'
      RequesterAnnotation:
        $ref: '#/definitions/String'
        description: ' An arbitrary data field the Requester who created the HIT can use. This field is visible only to the creator of the HIT.'
      QualificationRequirements:
        $ref: '#/definitions/QualificationRequirementList'
        description: ' A condition that a Worker''s Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met by a Worker''s Qualifications for the Worker to accept the HIT.'
      HITReviewStatus:
        $ref: '#/definitions/HITReviewStatus'
        description: ' Indicates the review status of the HIT. Valid Values are NotReviewed | MarkedForReview | ReviewedAppropriate | ReviewedInappropriate.'
      NumberOfAssignmentsPending:
        $ref: '#/definitions/Integer'
        description: ' The number of assignments for this HIT that are being previewed or have been accepted by Workers, but have not yet been submitted, returned, or abandoned.'
      NumberOfAssignmentsAvailable:
        $ref: '#/definitions/Integer'
        description: ' The number of assignments for this HIT that are available for Workers to accept.'
      NumberOfAssignmentsCompleted:
        $ref: '#/definitions/Integer'
        description: ' The number of assignments for this HIT that have been approved or rejected.'
    description: ' The HIT data structure represents a single HIT, including all the information necessary for a Worker to accept and complete the HIT.'
  HITLayoutParameter:
    type: object
    required:
      - Name
      - Value
    properties:
      Name:
        $ref: '#/definitions/String'
        description: ' The name of the parameter in the HITLayout. '
      Value:
        $ref: '#/definitions/String'
        description: 'The value substituted for the parameter referenced in the HITLayout. '
    description: ' The HITLayoutParameter data structure defines parameter values used with a HITLayout. A HITLayout is a reusable Amazon Mechanical Turk project template used to provide Human Intelligence Task (HIT) question data for CreateHIT. '
  HITLayoutParameterList:
    type: array
    items:
      $ref: '#/definitions/HITLayoutParameter'
  HITList:
    type: array
    items:
      $ref: '#/definitions/HIT'
  HITReviewStatus:
    type: string
    enum:
      - NotReviewed
      - MarkedForReview
      - ReviewedAppropriate
      - ReviewedInappropriate
  HITStatus:
    type: string
    enum:
      - Assignable
      - Unassignable
      - Reviewable
      - Reviewing
      - Disposed
  IdempotencyToken:
    type: string
    minLength: 1
    maxLength: 64
  Integer:
    type: integer
  IntegerList:
    type: array
    items:
      $ref: '#/definitions/Integer'
  ListAssignmentsForHITRequest:
    type: object
    required:
      - HITId
    properties:
      HITId:
[...]
