openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/playcustomapp/v1/accounts'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: An API to publish custom Android apps.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Custom App Publishing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/playcustomapp/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: playcustomapp
externalDocs:
  url: 'https://developers.google.com/android/work/play/custom-app-api'
tags:
  - name: accounts
paths:
  '/{account}/customApps':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Create and publish a new custom app.
      operationId: playcustomapp.accounts.customApps.create
      parameters:
        - description: Developer account ID.
          in: path
          name: account
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/CustomApp'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomApp'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - accounts
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    CustomApp:
      description: This resource represents a custom app.
      properties:
        languageCode:
          description: Default listing language in BCP 47 format.
          type: string
        title:
          description: Title for the Android app.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
          tokenUrl: 'https://accounts.google.com/o/oauth2/token'
      type: oauth2
