swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /playcustomapp/v1/accounts
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: An API to publish custom Android apps.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Custom App Publishing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.0
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/playcustomapp/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: playcustomapp
externalDocs:
  url: 'https://developers.google.com/android/work/play/custom-app-api'
consumes:
  - application/octet-stream
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: accounts
paths:
  '/{account}/customApps':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create and publish a new custom app.
      operationId: playcustomapp.accounts.customApps.create
      parameters:
        - description: Developer account ID.
          in: path
          name: account
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CustomApp'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CustomApp'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - accounts
definitions:
  CustomApp:
    description: This resource represents a custom app.
    properties:
      languageCode:
        description: Default listing language in BCP 47 format.
        type: string
      title:
        description: Title for the Android app.
        type: string
    type: object
