swagger: '2.0'
schemes:
  - https
  - http
host: kinesisvideo.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: <p/>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Kinesis Video Streams
  version: '2017-09-30'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisvideo-2017-09-30.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: kinesisvideo
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/kinesisvideo/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /createStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new Kinesis video stream. </p> <p>When you create a new stream, Kinesis Video Streams assigns it a version number. When you change the stream''s metadata, Kinesis Video Streams updates the version. </p> <p> <code>CreateStream</code> is an asynchronous operation.</p> <p>For information about how the service works, see <a href="https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html">How it Works</a>. </p> <p>You must have permissions for the <code>KinesisVideo:CreateStream</code> action.</p>'
      operationId: CreateStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DataRetentionInHours:
                description: '<p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data in a data store that is associated with the stream.</p> <p>The default value is 0, indicating that the stream does not persist data.</p> <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume the fragments that remain in the service host buffer, which has a retention time limit of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the buffer when either limit is reached.</p>'
                minimum: 0
                type: integer
              DeviceName:
                description: '<p>The name of the device that is writing to the stream. </p> <note> <p>In the current implementation, Kinesis Video Streams does not use this name.</p> </note>'
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
              KmsKeyId:
                description: '<p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video Streams to use to encrypt stream data.</p> <p>If no key ID is specified, the default, Kinesis Video-managed key (<code>aws/kinesisvideo</code>) is used.</p> <p> For more information, see <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters">DescribeKey</a>. </p>'
                maxLength: 2048
                minLength: 1
                type: string
              MediaType:
                description: '<p>The media type of the stream. Consumers of the stream can use this information when processing the stream. For more information about media types, see <a href="http://www.iana.org/assignments/media-types/media-types.xhtml">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href="https://tools.ietf.org/html/rfc6838#section-4.2">Naming Requirements</a> for guidelines.</p> <p>This parameter is optional; the default value is <code>null</code> (or empty in JSON).</p>'
                maxLength: 128
                minLength: 1
                pattern: '[\w\-\.\+]+/[\w\-\.\+]+(,[\w\-\.\+]+/[\w\-\.\+]+)*'
                type: string
              StreamName:
                description: '<p>A name for the stream that you are creating.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>'
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
              Tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).
                maxProperties: 50
                minProperties: 1
                type: object
            required:
              - StreamName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateStreamOutput'
        '480':
          description: AccountStreamLimitExceededException
          schema:
            $ref: '#/definitions/AccountStreamLimitExceededException'
        '481':
          description: DeviceStreamLimitExceededException
          schema:
            $ref: '#/definitions/DeviceStreamLimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidDeviceException
          schema:
            $ref: '#/definitions/InvalidDeviceException'
        '484':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '485':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '486':
          description: TagsPerResourceExceededLimitException
          schema:
            $ref: '#/definitions/TagsPerResourceExceededLimitException'
  /deleteStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a Kinesis video stream and the data contained in the stream. </p> <p>This method marks the stream for deletion, and makes the data in the stream inaccessible immediately.</p> <p> </p> <p> To ensure that you have the latest version of the stream before deleting it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code> action.</p>'
      operationId: DeleteStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              CurrentVersion:
                description: '<p>Optional: The version of the stream that you want to delete. </p> <p>Specify the version as a safeguard to ensure that your are deleting the correct stream. To get the stream version, use the <code>DescribeStream</code> API.</p> <p>If not specified, only the <code>CreationTime</code> is checked before deleting the stream.</p>'
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9]+'
                type: string
              StreamARN:
                description: 'The Amazon Resource Name (ARN) of the stream that you want to delete. '
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
            required:
              - StreamARN
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteStreamOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '484':
          description: VersionMismatchException
          schema:
            $ref: '#/definitions/VersionMismatchException'
  /describeStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the most current information about the specified stream. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>. '
      operationId: DescribeStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              StreamARN:
                description: The Amazon Resource Name (ARN) of the stream.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStreamOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
  /getDataEndpoint:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets an endpoint for a specified stream for either reading or writing. Use this endpoint in your application to read from the specified stream (using the <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write to it (using the <code>PutMedia</code> operation). </p> <note> <p>The returned endpoint does not have the API name appended. The client needs to add the API name to the returned endpoint.</p> </note> <p>In the request, specify the stream either by <code>StreamName</code> or <code>StreamARN</code>.</p>'
      operationId: GetDataEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              APIName:
                description: The name of the API action for which to get an endpoint.
                enum:
                  - PUT_MEDIA
                  - GET_MEDIA
                  - LIST_FRAGMENTS
                  - GET_MEDIA_FOR_FRAGMENT_LIST
                  - GET_HLS_STREAMING_SESSION_URL
                  - GET_DASH_STREAMING_SESSION_URL
                type: string
              StreamARN:
                description: 'The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamName</code> in the request. '
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamARN</code> in the request.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
            required:
              - APIName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDataEndpointOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
  /listStreams:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns an array of <code>StreamInfo</code> objects. Each object describes a stream. To retrieve only streams that satisfy a specific condition, you can specify a <code>StreamNameCondition</code>. '
      operationId: ListStreams
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: 'The maximum number of streams to return in the response. The default is 10,000.'
                maximum: 10000
                minimum: 1
                type: integer
              NextToken:
                description: 'If you specify this parameter, when the result of a <code>ListStreams</code> operation is truncated, the call returns the <code>NextToken</code> in the response. To get another batch of streams, provide this token in your next request.'
                maxLength: 512
                minLength: 0
                type: string
              StreamNameCondition:
                description: 'Specifies the condition that streams must satisfy to be returned when you list streams (see the <code>ListStreams</code> API). A condition has a comparison operation and a value. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix. '
                properties:
                  ComparisonOperator:
                    $ref: '#/definitions/ComparisonOperator'
                    description: 'A comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix.'
                  ComparisonValue:
                    $ref: '#/definitions/StreamName'
                    description: A value to compare.
                type: object
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListStreamsOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
  /listTagsForStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of tags associated with the specified stream.</p> <p>In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p>'
      operationId: ListTagsForStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              NextToken:
                description: 'If you specify this parameter and the result of a <code>ListTagsForStream</code> call is truncated, the response includes a token that you can use in the next request to fetch the next batch of tags.'
                maxLength: 512
                minLength: 0
                type: string
              StreamARN:
                description: The Amazon Resource Name (ARN) of the stream that you want to list tags for.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream that you want to list tags for.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForStreamOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '484':
          description: InvalidResourceFormatException
          schema:
            $ref: '#/definitions/InvalidResourceFormatException'
  /tagStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds one or more tags to a stream. A <i>tag</i> is a key-value pair (the value is optional) that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. For more information, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>You must provide either the <code>StreamName</code> or the <code>StreamARN</code>.</p> <p>This operation requires permission for the <code>KinesisVideo:TagStream</code> action.</p> <p>Kinesis video streams support up to 50 tags.</p>'
      operationId: TagStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              StreamARN:
                description: The Amazon Resource Name (ARN) of the resource that you want to add the tag or tags to.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream that you want to add the tag or tags to.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
              Tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).
                maxProperties: 50
                minProperties: 1
                type: object
            required:
              - Tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagStreamOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '484':
          description: InvalidResourceFormatException
          schema:
            $ref: '#/definitions/InvalidResourceFormatException'
        '485':
          description: TagsPerResourceExceededLimitException
          schema:
            $ref: '#/definitions/TagsPerResourceExceededLimitException'
  /untagStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes one or more tags from a stream. In the request, specify only a tag key or keys; don''t specify the value. If you specify a tag key that does not exist, it''s ignored.</p> <p>In the request, you must provide the <code>StreamName</code> or <code>StreamARN</code>.</p>'
      operationId: UntagStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              StreamARN:
                description: The Amazon Resource Name (ARN) of the stream that you want to remove tags from.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream that you want to remove tags from.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
              TagKeyList:
                description: A list of the keys of the tags that you want to remove.
                items:
                  $ref: '#/definitions/TagKey'
                maxItems: 50
                minItems: 1
                type: array
            required:
              - TagKeyList
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagStreamOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '484':
          description: InvalidResourceFormatException
          schema:
            $ref: '#/definitions/InvalidResourceFormatException'
  /updateDataRetention:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Increases or decreases the stream''s data retention period by the value that you specify. To indicate whether you want to increase or decrease the data retention period, specify the <code>Operation</code> parameter in the request body. In the request, you must specify either the <code>StreamName</code> or the <code>StreamARN</code>. </p> <note> <p>The retention period that you specify replaces the current value.</p> </note> <p>This operation requires permission for the <code>KinesisVideo:UpdateDataRetention</code> action.</p> <p>Changing the data retention period affects the data in the stream as follows:</p> <ul> <li> <p>If the data retention period is increased, existing data is retained for the new retention period. For example, if the data retention period is increased from one hour to seven hours, all existing data is retained for seven hours.</p> </li> <li> <p>If the data retention period is decreased, existing data is retained for the new retention period. For example, if the data retention period is decreased from seven hours to one hour, all existing data is retained for one hour, and any data older than one hour is deleted immediately.</p> </li> </ul>'
      operationId: UpdateDataRetention
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              CurrentVersion:
                description: 'The version of the stream whose retention period you want to change. To get the version, call either the <code>DescribeStream</code> or the <code>ListStreams</code> API.'
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9]+'
                type: string
              DataRetentionChangeInHours:
                description: 'The retention period, in hours. The value you specify replaces the current value. The maximum value for this parameter is 87600 (ten years).'
                minimum: 1
                type: integer
              Operation:
                description: Indicates whether you want to increase or decrease the retention period.
                enum:
                  - INCREASE_DATA_RETENTION
                  - DECREASE_DATA_RETENTION
                type: string
              StreamARN:
                description: The Amazon Resource Name (ARN) of the stream whose retention period you want to change.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: The name of the stream whose retention period you want to change.
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
            required:
              - CurrentVersion
              - Operation
              - DataRetentionChangeInHours
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataRetentionOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '485':
          description: VersionMismatchException
          schema:
            $ref: '#/definitions/VersionMismatchException'
  /updateStream:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates stream metadata, such as the device name and media type.</p> <p>You must provide the stream name or the Amazon Resource Name (ARN) of the stream.</p> <p>To make sure that you have the latest version of the stream before updating it, you can specify the stream version. Kinesis Video Streams assigns a version to each stream. When you update a stream, Kinesis Video Streams assigns a new version number. To get the latest stream version, use the <code>DescribeStream</code> API. </p> <p> <code>UpdateStream</code> is an asynchronous operation, and takes time to complete.</p>'
      operationId: UpdateStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              CurrentVersion:
                description: The version of the stream whose metadata you want to update.
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9]+'
                type: string
              DeviceName:
                description: '<p>The name of the device that is writing to the stream. </p> <note> <p> In the current implementation, Kinesis Video Streams does not use this name. </p> </note>'
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
              MediaType:
                description: '<p>The stream''s media type. Use <code>MediaType</code> to specify the type of content that the stream contains to the consumers of the stream. For more information about media types, see <a href="http://www.iana.org/assignments/media-types/media-types.xhtml">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href="https://tools.ietf.org/html/rfc6838#section-4.2">Naming Requirements</a>.</p> <p>To play video on the console, you must specify the correct video type. For example, if the video in the stream is H.264, specify <code>video/h264</code> as the <code>MediaType</code>.</p>'
                maxLength: 128
                minLength: 1
                pattern: '[\w\-\.\+]+/[\w\-\.\+]+(,[\w\-\.\+]+/[\w\-\.\+]+)*'
                type: string
              StreamARN:
                description: The ARN of the stream whose metadata you want to update.
                maxLength: 1024
                minLength: 1
                pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
                type: string
              StreamName:
                description: '<p>The name of the stream whose metadata you want to update.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>'
                maxLength: 256
                minLength: 1
                pattern: '[a-zA-Z0-9_.-]+'
                type: string
            required:
              - CurrentVersion
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStreamOutput'
        '480':
          description: ClientLimitExceededException
          schema:
            $ref: '#/definitions/ClientLimitExceededException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '485':
          description: VersionMismatchException
          schema:
            $ref: '#/definitions/VersionMismatchException'
definitions:
  APIName:
    enum:
      - PUT_MEDIA
      - GET_MEDIA
      - LIST_FRAGMENTS
      - GET_MEDIA_FOR_FRAGMENT_LIST
      - GET_HLS_STREAMING_SESSION_URL
      - GET_DASH_STREAMING_SESSION_URL
    type: string
  AccountStreamLimitExceededException: {}
  ClientLimitExceededException: {}
  ComparisonOperator:
    enum:
      - BEGINS_WITH
    type: string
  CreateStreamInput:
    properties:
      DataRetentionInHours:
        $ref: '#/definitions/DataRetentionInHours'
        description: '<p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data in a data store that is associated with the stream.</p> <p>The default value is 0, indicating that the stream does not persist data.</p> <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume the fragments that remain in the service host buffer, which has a retention time limit of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the buffer when either limit is reached.</p>'
      DeviceName:
        $ref: '#/definitions/DeviceName'
        description: '<p>The name of the device that is writing to the stream. </p> <note> <p>In the current implementation, Kinesis Video Streams does not use this name.</p> </note>'
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p>The ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video Streams to use to encrypt stream data.</p> <p>If no key ID is specified, the default, Kinesis Video-managed key (<code>aws/kinesisvideo</code>) is used.</p> <p> For more information, see <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters">DescribeKey</a>. </p>'
      MediaType:
        $ref: '#/definitions/MediaType'
        description: '<p>The media type of the stream. Consumers of the stream can use this information when processing the stream. For more information about media types, see <a href="http://www.iana.org/assignments/media-types/media-types.xhtml">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href="https://tools.ietf.org/html/rfc6838#section-4.2">Naming Requirements</a> for guidelines.</p> <p>This parameter is optional; the default value is <code>null</code> (or empty in JSON).</p>'
      StreamName:
        $ref: '#/definitions/StreamName'
        description: '<p>A name for the stream that you are creating.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>'
      Tags:
        $ref: '#/definitions/ResourceTags'
        description: A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).
    required:
      - StreamName
    type: object
  CreateStreamOutput:
    properties:
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream.
    type: object
  DataEndpoint:
    type: string
  DataRetentionChangeInHours:
    minimum: 1
    type: integer
  DataRetentionInHours:
    minimum: 0
    type: integer
  DeleteStreamInput:
    properties:
      CurrentVersion:
        $ref: '#/definitions/Version'
        description: '<p>Optional: The version of the stream that you want to delete. </p> <p>Specify the version as a safeguard to ensure that your are deleting the correct stream. To get the stream version, use the <code>DescribeStream</code> API.</p> <p>If not specified, only the <code>CreationTime</code> is checked before deleting the stream.</p>'
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: 'The Amazon Resource Name (ARN) of the stream that you want to delete. '
    required:
      - StreamARN
    type: object
  DeleteStreamOutput:
    properties: {}
    type: object
  DescribeStreamInput:
    properties:
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream.
    type: object
  DescribeStreamOutput:
    properties:
      StreamInfo:
        $ref: '#/definitions/StreamInfo'
        description: An object that describes the stream.
    type: object
  DeviceName:
    maxLength: 128
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  DeviceStreamLimitExceededException: {}
  GetDataEndpointInput:
    properties:
      APIName:
        $ref: '#/definitions/APIName'
        description: The name of the API action for which to get an endpoint.
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: 'The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamName</code> in the request. '
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream that you want to get the endpoint for. You must specify either this parameter or a <code>StreamARN</code> in the request.
    required:
      - APIName
    type: object
  GetDataEndpointOutput:
    properties:
      DataEndpoint:
        $ref: '#/definitions/DataEndpoint'
        description: 'The endpoint value. To read data from the stream or to write data to it, specify this endpoint in your application.'
    type: object
  InvalidArgumentException: {}
  InvalidDeviceException: {}
  InvalidResourceFormatException: {}
  KmsKeyId:
    maxLength: 2048
    minLength: 1
    type: string
  ListStreamsInput:
    properties:
      MaxResults:
        $ref: '#/definitions/ListStreamsInputLimit'
        description: 'The maximum number of streams to return in the response. The default is 10,000.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If you specify this parameter, when the result of a <code>ListStreams</code> operation is truncated, the call returns the <code>NextToken</code> in the response. To get another batch of streams, provide this token in your next request.'
      StreamNameCondition:
        $ref: '#/definitions/StreamNameCondition'
        description: 'Optional: Returns only streams that satisfy a specific condition. Currently, you can specify only the prefix of a stream name as a condition. '
    type: object
  ListStreamsInputLimit:
    maximum: 10000
    minimum: 1
    type: integer
  ListStreamsOutput:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, the call returns this element with a token. To get the next batch of streams, use this token in your next request. '
      StreamInfoList:
        $ref: '#/definitions/StreamInfoList'
        description: An array of <code>StreamInfo</code> objects.
    type: object
  ListTagsForStreamInput:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If you specify this parameter and the result of a <code>ListTagsForStream</code> call is truncated, the response includes a token that you can use in the next request to fetch the next batch of tags.'
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream that you want to list tags for.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream that you want to list tags for.
    type: object
  ListTagsForStreamOutput:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If you specify this parameter and the result of a <code>ListTags</code> call is truncated, the response includes a token that you can use in the next request to fetch the next set of tags.'
      Tags:
        $ref: '#/definitions/ResourceTags'
        description: A map of tag keys and values associated with the specified stream.
    type: object
  MediaType:
    maxLength: 128
    minLength: 1
    pattern: '[\w\-\.\+]+/[\w\-\.\+]+(,[\w\-\.\+]+/[\w\-\.\+]+)*'
    type: string
  NextToken:
    maxLength: 512
    minLength: 0
    type: string
  NotAuthorizedException: {}
  ResourceARN:
    maxLength: 1024
    minLength: 1
    pattern: 'arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+'
    type: string
  ResourceInUseException: {}
  ResourceNotFoundException: {}
  ResourceTags:
    additionalProperties:
      $ref: '#/definitions/TagValue'
    maxProperties: 50
    minProperties: 1
    type: object
  Status:
    enum:
      - CREATING
      - ACTIVE
      - UPDATING
      - DELETING
    type: string
  StreamInfo:
    description: An object describing a Kinesis video stream.
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: A time stamp that indicates when the stream was created.
      DataRetentionInHours:
        $ref: '#/definitions/DataRetentionInHours'
        description: 'How long the stream retains data, in hours.'
      DeviceName:
        $ref: '#/definitions/DeviceName'
        description: The name of the device that is associated with the stream.
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: The ID of the AWS Key Management Service (AWS KMS) key that Kinesis Video Streams uses to encrypt data on the stream.
      MediaType:
        $ref: '#/definitions/MediaType'
        description: 'The <code>MediaType</code> of the stream. '
      Status:
        $ref: '#/definitions/Status'
        description: The status of the stream.
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream.
      Version:
        $ref: '#/definitions/Version'
        description: The version of the stream.
    type: object
  StreamInfoList:
    items:
      $ref: '#/definitions/StreamInfo'
    type: array
  StreamName:
    maxLength: 256
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  StreamNameCondition:
    description: 'Specifies the condition that streams must satisfy to be returned when you list streams (see the <code>ListStreams</code> API). A condition has a comparison operation and a value. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix. '
    properties:
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: 'A comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which finds streams whose names start with a given prefix.'
      ComparisonValue:
        $ref: '#/definitions/StreamName'
        description: A value to compare.
    type: object
  TagKey:
    maxLength: 128
    minLength: 1
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    maxItems: 50
    minItems: 1
    type: array
  TagStreamInput:
    properties:
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the resource that you want to add the tag or tags to.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream that you want to add the tag or tags to.
      Tags:
        $ref: '#/definitions/ResourceTags'
        description: A list of tags to associate with the specified stream. Each tag is a key-value pair (the value is optional).
    required:
      - Tags
    type: object
  TagStreamOutput:
    properties: {}
    type: object
  TagValue:
    maxLength: 256
    minLength: 0
    type: string
  TagsPerResourceExceededLimitException: {}
  Timestamp:
    format: date-time
    type: string
  UntagStreamInput:
    properties:
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream that you want to remove tags from.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream that you want to remove tags from.
      TagKeyList:
        $ref: '#/definitions/TagKeyList'
        description: A list of the keys of the tags that you want to remove.
    required:
      - TagKeyList
    type: object
  UntagStreamOutput:
    properties: {}
    type: object
  UpdateDataRetentionInput:
    properties:
      CurrentVersion:
        $ref: '#/definitions/Version'
        description: 'The version of the stream whose retention period you want to change. To get the version, call either the <code>DescribeStream</code> or the <code>ListStreams</code> API.'
      DataRetentionChangeInHours:
        $ref: '#/definitions/DataRetentionChangeInHours'
        description: 'The retention period, in hours. The value you specify replaces the current value. The maximum value for this parameter is 87600 (ten years).'
      Operation:
        $ref: '#/definitions/UpdateDataRetentionOperation'
        description: Indicates whether you want to increase or decrease the retention period.
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the stream whose retention period you want to change.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream whose retention period you want to change.
    required:
      - CurrentVersion
      - Operation
      - DataRetentionChangeInHours
    type: object
  UpdateDataRetentionOperation:
    enum:
      - INCREASE_DATA_RETENTION
      - DECREASE_DATA_RETENTION
    type: string
  UpdateDataRetentionOutput:
    properties: {}
    type: object
  UpdateStreamInput:
    properties:
      CurrentVersion:
        $ref: '#/definitions/Version'
        description: The version of the stream whose metadata you want to update.
      DeviceName:
        $ref: '#/definitions/DeviceName'
        description: '<p>The name of the device that is writing to the stream. </p> <note> <p> In the current implementation, Kinesis Video Streams does not use this name. </p> </note>'
      MediaType:
        $ref: '#/definitions/MediaType'
        description: '<p>The stream''s media type. Use <code>MediaType</code> to specify the type of content that the stream contains to the consumers of the stream. For more information about media types, see <a href="http://www.iana.org/assignments/media-types/media-types.xhtml">Media Types</a>. If you choose to specify the <code>MediaType</code>, see <a href="https://tools.ietf.org/html/rfc6838#section-4.2">Naming Requirements</a>.</p> <p>To play video on the console, you must specify the correct video type. For example, if the video in the stream is H.264, specify <code>video/h264</code> as the <code>MediaType</code>.</p>'
      StreamARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the stream whose metadata you want to update.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: '<p>The name of the stream whose metadata you want to update.</p> <p>The stream name is an identifier for the stream, and must be unique for each account and region.</p>'
    required:
      - CurrentVersion
    type: object
  UpdateStreamOutput:
    properties: {}
    type: object
  Version:
    maxLength: 64
    minLength: 1
    pattern: '[a-zA-Z0-9]+'
    type: string
  VersionMismatchException: {}
x-servers:
  - description: The Kinesis Video multi-region endpoint
    url: 'http://kinesisvideo.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Kinesis Video multi-region endpoint
    url: 'https://kinesisvideo.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Kinesis Video endpoint for China (Beijing) and China (Ningxia)
    url: 'http://kinesisvideo.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Kinesis Video endpoint for China (Beijing) and China (Ningxia)
    url: 'https://kinesisvideo.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
