{
  "basePath": "/beta",
  "definitions": {
    "Location": {
      "description": "Latitude, Longitude and other info related to the given point",
      "properties": {
        "lat": {
          "format": "float",
          "maximum": 85,
          "minimum": -85,
          "type": "number"
        },
        "lon": {
          "format": "float",
          "maximum": 180,
          "minimum": -180,
          "type": "number"
        },
        "withinLondonCCZ": {
          "description": "Boolean flag indicating whether this point is located within London's Congestion Charge zone",
          "type": "boolean"
        }
      },
      "required": [
        "lat",
        "lon"
      ],
      "type": "object"
    },
    "PointInfo": {
      "description": "Contextual information around a given point",
      "properties": {
        "location": {
          "$ref": "#/definitions/Location"
        },
        "lsoa": {
          "description": "Statistics for lower layer super output areas (LSOA)",
          "type": "object"
        },
        "parks": {
          "description": "Parks within 1km of the point of interest, sorted by descending area",
          "items": {
            "type": "object"
          },
          "type": "array"
        },
        "schools": {
          "description": "Schools within 1km of the point of interest, sorted by ascending distance from the POI",
          "items": {
            "type": "object"
          },
          "type": "array"
        }
      },
      "required": [
        "location",
        "parks",
        "schools"
      ]
    }
  },
  "host": "api.citycontext.com",
  "info": {
    "title": "api.citycontext.com",
    "version": "1.0.0",
    "x-origin": {
      "format": "swagger",
      "url": "https://www.citycontext.com/swagger/spec.json",
      "version": "1.2"
    },
    "x-providerName": "citycontext.com"
  },
  "paths": {
    "/@{lat},{lon}": {
      "get": {
        "operationId": "byPoint",
        "parameters": [
          {
            "description": "Latitude",
            "format": "float",
            "in": "path",
            "name": "lat",
            "required": true,
            "type": "number"
          },
          {
            "description": "Longitude",
            "format": "float",
            "in": "path",
            "name": "lon",
            "required": true,
            "type": "number"
          },
          {
            "description": "City context user key",
            "in": "query",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/PointInfo"
            }
          }
        },
        "summary": "Query by coordinates (SRID 4326 - decimal degrees)"
      }
    },
    "/postcodes/{postcode}": {
      "get": {
        "operationId": "byPostcode",
        "parameters": [
          {
            "description": "Postcode",
            "in": "path",
            "name": "postcode",
            "required": true,
            "type": "string"
          },
          {
            "description": "City context user key",
            "in": "query",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/PointInfo"
            }
          }
        },
        "summary": "Query by postcode"
      }
    }
  },
  "schemes": [
    "http"
  ],
  "swagger": "2.0"
}
