swagger: '2.0'
schemes:
  - https
  - http
host: personalize-events.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: <p/>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Personalize Events
  version: '2018-03-22'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/personalize-events-2018-03-22.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: personalize-events
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/personalize-events/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /events:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Records user interaction event data.
      operationId: PutEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              eventList:
                description: A list of event data from the session.
                items:
                  $ref: '#/definitions/Event'
                maxItems: 10
                minItems: 1
                type: array
              sessionId:
                description: The session ID associated with the user's visit.
                maxLength: 256
                minLength: 1
                type: string
              trackingId:
                description: 'The tracking ID for the event. The ID is generated by a call to the <a href="https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html">CreateEventTracker</a> API.'
                maxLength: 256
                minLength: 1
                type: string
              userId:
                description: The user associated with the event.
                maxLength: 256
                minLength: 1
                type: string
            required:
              - trackingId
              - sessionId
              - eventList
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
definitions:
  Date:
    format: date-time
    type: string
  Event:
    description: Represents user interaction event information sent using the <code>PutEvents</code> API.
    properties:
      eventId:
        $ref: '#/definitions/StringType'
        description: 'An ID associated with the event. If an event ID is not provided, Amazon Personalize generates a unique ID for the event. An event ID is not used as an input to the model. Amazon Personalize uses the event ID to distinquish unique events. Any subsequent events after the first with the same event ID are not used in model training.'
      eventType:
        $ref: '#/definitions/StringType'
        description: The type of event. This property corresponds to the <code>EVENT_TYPE</code> field of the Interactions schema.
      properties:
        $ref: '#/definitions/EventPropertiesJSON'
        description: '<p>A string map of event-specific data that you might choose to record. For example, if a user rates a movie on your site, you might send the movie ID and rating, and the number of movie ratings made by the user.</p> <p>Each item in the map consists of a key-value pair. For example,</p> <p> <code>{"itemId": "movie1"}</code> </p> <p> <code>{"itemId": "movie2", "eventValue": "4.5"}</code> </p> <p> <code>{"itemId": "movie3", "eventValue": "3", "numberOfRatings": "12"}</code> </p> <p>The keys use camel case names that match the fields in the Interactions schema. The <code>itemId</code> and <code>eventValue</code> keys correspond to the <code>ITEM_ID</code> and <code>EVENT_VALUE</code> fields. In the above example, the <code>eventType</code> might be ''MovieRating'' with <code>eventValue</code> being the rating. The <code>numberOfRatings</code> would match the ''NUMBER_OF_RATINGS'' field defined in the Interactions schema.</p>'
      sentAt:
        $ref: '#/definitions/Date'
        description: The timestamp on the client side when the event occurred.
    required:
      - eventType
      - properties
      - sentAt
    type: object
  EventList:
    items:
      $ref: '#/definitions/Event'
    maxItems: 10
    minItems: 1
    type: array
  EventPropertiesJSON:
    maxLength: 1024
    minLength: 1
    type: string
  InvalidInputException: {}
  PutEventsRequest:
    properties:
      eventList:
        $ref: '#/definitions/EventList'
        description: A list of event data from the session.
      sessionId:
        $ref: '#/definitions/StringType'
        description: The session ID associated with the user's visit.
      trackingId:
        $ref: '#/definitions/StringType'
        description: 'The tracking ID for the event. The ID is generated by a call to the <a href="https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html">CreateEventTracker</a> API.'
      userId:
        $ref: '#/definitions/UserId'
        description: The user associated with the event.
    required:
      - trackingId
      - sessionId
      - eventList
    type: object
  StringType:
    maxLength: 256
    minLength: 1
    type: string
  UserId:
    maxLength: 256
    minLength: 1
    type: string
x-servers:
  - description: The Amazon Personalize Events multi-region endpoint
    url: 'http://personalize-events.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Personalize Events multi-region endpoint
    url: 'https://personalize-events.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Personalize Events endpoint for China (Beijing) and China (Ningxia)
    url: 'http://personalize-events.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon Personalize Events endpoint for China (Beijing) and China (Ningxia)
    url: 'https://personalize-events.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
