openapi: 3.0.1
servers:
  - url: https://oauth.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Oauth
  version: 1.37.1
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_oauth_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_oauth_v1
paths:
  /v1/certs:
    description: "TODO: Resource-level docs"
    get:
      description: Fetches public JWKs
      operationId: FetchCerts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oauth.v1.certs"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://oauth.twilio.com
    x-twilio:
      defaultOutputProperties:
        - keys
      mountName: oauth
      pathType: instance
  /v1/token:
    description: "TODO: Resource-level docs"
    post:
      description: Issues a new Access token (optionally identity_token & refresh_token) in exchange of Oauth grant
      operationId: CreateToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ClientSecret:
                  description: The credential for confidential OAuth App.
                  type: string
                ClientSid:
                  description: A 34 character string that uniquely identifies this OAuth App.
                  type: string
                Code:
                  description: JWT token related to the authorization code grant type.
                  type: string
                CodeVerifier:
                  description: A code which is generation cryptographically.
                  type: string
                DeviceCode:
                  description: JWT token related to the device code grant type.
                  type: string
                DeviceId:
                  description: The Id of the device associated with the token (refresh token).
                  type: string
                GrantType:
                  description: Grant type is a credential representing resource owner's authorization which can be used by client to obtain access token.
                  type: string
                RefreshToken:
                  description: JWT token related to the refresh token grant type.
                  type: string
              required:
                - GrantType
                - ClientSid
              title: CreateTokenRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oauth.v1.token"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://oauth.twilio.com
    x-twilio:
      defaultOutputProperties:
        - access_token
        - access_token_expires_at
      pathType: list
  /v1/userinfo:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieves the consented UserInfo and other claims about the logged-in subject (end-user).
      operationId: FetchUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oauth.v1.user_info"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://oauth.twilio.com
    x-twilio:
      defaultOutputProperties:
        - user_sid
      pathType: instance
  /v1/well-known/openid-configuration:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch configuration details about the OpenID Connect Authorization Server
      operationId: FetchOpenidDiscovery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oauth.v1.openid_discovery"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://oauth.twilio.com
    x-twilio:
      defaultOutputProperties:
        - issuer
        - authorization_endpoint
        - device_authorization_endpoint
        - token_endpoint
        - userinfo_endpoint
        - revocation_endpoint
        - jwk_uri
        - response_type_supported
        - subject_type_supported
        - id_token_signing_alg_values_supported
        - scopes_supported
        - claims_supported
      mountName: openid_discovery
      pathType: instance
components:
  schemas:
    oauth.v1.certs:
      properties:
        keys:
          description: A collection of certificates
          nullable: true
        url:
          format: uri
          nullable: true
          type: string
      type: object
    oauth.v1.openid_discovery:
      properties:
        authorization_endpoint:
          description: The URL of authorization endpoint
          format: uri
          nullable: true
          type: string
        claims_supported:
          description: List of claims supported for identity token
          items:
            type: string
          nullable: true
          type: array
        device_authorization_endpoint:
          description: The URL of device code authorization endpoint
          format: uri
          nullable: true
          type: string
        id_token_signing_alg_values_supported:
          description: List of JWS signing algorithms supported for identity token
          items:
            type: string
          nullable: true
          type: array
        issuer:
          description: The issuer URL
          format: uri
          nullable: true
          type: string
        jwk_uri:
          description: The URL of public JWK endpoint
          format: uri
          nullable: true
          type: string
        response_type_supported:
          description: List of response type supported for identity token
          items:
            type: string
          nullable: true
          type: array
        revocation_endpoint:
          description: The URL of revocation endpoint
          format: uri
          nullable: true
          type: string
        scopes_supported:
          description: List of scopes supported identity token
          items:
            type: string
          nullable: true
          type: array
        subject_type_supported:
          description: List of subject supported for identity token
          items:
            type: string
          nullable: true
          type: array
        token_endpoint:
          description: The URL of token endpoint
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        userinfo_endpoint:
          description: The URL of user info endpoint
          format: uri
          nullable: true
          type: string
      type: object
    oauth.v1.token:
      properties:
        access_token:
          description: Token which carries the necessary information to access a Twilio resource directly
          nullable: true
          type: string
        access_token_expires_at:
          description: The RFC 2822 date and time in GMT when the access token expires
          format: date-time
          nullable: true
          type: string
        id_token:
          nullable: true
          type: string
        refresh_token:
          description: Token which carries the information necessary to get a new access token
          nullable: true
          type: string
        refresh_token_expires_at:
          description: The RFC 2822 date and time in GMT when the refresh token expires
          format: date-time
          nullable: true
          type: string
      type: object
    oauth.v1.user_info:
      properties:
        email:
          description: The end-user's preferred email address
          nullable: true
          type: string
        first_name:
          description: The first name of the end-user
          nullable: true
          type: string
        friendly_name:
          description: The friendly name of the end-user
          nullable: true
          type: string
        last_name:
          description: The last name of the end-user
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
        user_sid:
          description: The user sid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
