openapi: 3.0.1
servers:
  - url: https://trusthub.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Trusthub
  version: 1.55.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://twilio.com/docs/static/img/favicons/favicon_57.c9643fd8d.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_trusthub_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_trusthub_v1
tags:
  - name: TrusthubV1ComplianceInquiries
  - name: TrusthubV1ComplianceRegistrationInquiries
  - name: TrusthubV1ComplianceTollfreeInquiries
  - name: TrusthubV1CustomerProfiles
  - name: TrusthubV1CustomerProfilesChannelEndpointAssignment
  - name: TrusthubV1CustomerProfilesEntityAssignments
  - name: TrusthubV1CustomerProfilesEvaluations
  - name: TrusthubV1EndUser
  - name: TrusthubV1EndUserType
  - name: TrusthubV1Policies
  - name: TrusthubV1SupportingDocument
  - name: TrusthubV1SupportingDocumentType
  - name: TrusthubV1TrustProducts
  - name: TrusthubV1TrustProductsChannelEndpointAssignment
  - name: TrusthubV1TrustProductsEntityAssignments
  - name: TrusthubV1TrustProductsEvaluations
paths:
  /v1/ComplianceInquiries/Customers/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Inquiry for the authenticated account. This is necessary to start a new embedded session.
      operationId: CreateComplianceInquiry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                NotificationEmail:
                  description: The email address that approval status updates will be sent to. If not specified, the email address associated with your primary customer profile will be used.
                  type: string
                PrimaryProfileSid:
                  description: The unique SID identifier of the Primary Customer Profile that should be used as a parent. Only necessary when creating a secondary Customer Profile.
                  maxLength: 34
                  minLength: 34
                  pattern: ^BU[0-9a-fA-F]{32}$
                  type: string
              required:
                - PrimaryProfileSid
              title: CreateComplianceInquiryRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.compliance_inquiry"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1ComplianceInquiries
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_inquiries
      defaultOutputProperties:
        - inquiry_id
        - session_token
        - customer_id
      mountName: compliance_inquiries
      pathType: list
  /v1/ComplianceInquiries/Customers/{CustomerId}/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Resume a specific Compliance Inquiry that has expired, or re-open a rejected Compliance Inquiry for editing.
      operationId: UpdateComplianceInquiry
      parameters:
        - description: The unique CustomerId matching the Customer Profile/Compliance Inquiry that should be resumed or resubmitted. This value will have been returned by the initial Compliance Inquiry creation call.
          in: path
          name: CustomerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PrimaryProfileSid:
                  description: The unique SID identifier of the Primary Customer Profile that should be used as a parent. Only necessary when creating a secondary Customer Profile.
                  maxLength: 34
                  minLength: 34
                  pattern: ^BU[0-9a-fA-F]{32}$
                  type: string
              required:
                - PrimaryProfileSid
              title: UpdateComplianceInquiryRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.compliance_inquiry"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1ComplianceInquiries
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_inquiries
      defaultOutputProperties:
        - inquiry_id
        - session_token
        - customer_id
      mountName: compliance_inquiries
      pathType: instance
  /v1/ComplianceInquiries/Registration/RegulatoryCompliance/GB/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Registration Inquiry for the authenticated account. This is necessary to start a new embedded session.
      operationId: CreateComplianceRegistration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AcceptedNotificationReceipt:
                  description: The email address to receive the notification about the verification result.
                  type: boolean
                AddressCity:
                  description: City of the business
                  type: string
                AddressCountryCode:
                  description: Country code of the business
                  type: string
                AddressPostalCode:
                  description: Postal code of the business
                  type: string
                AddressStreet:
                  description: Street address of the business
                  type: string
                AddressStreetSecondary:
                  description: Street address of the business
                  type: string
                AddressSubdivision:
                  description: State or province of the business
                  type: string
                AuthorizedRepresentative1DateOfBirth:
                  description: Birthdate of the authorized representative
                  type: string
                AuthorizedRepresentative1Email:
                  description: Email address of the authorized representative
                  type: string
                AuthorizedRepresentative1FirstName:
                  description: First name of the authorized representative
                  type: string
                AuthorizedRepresentative1LastName:
                  description: Last name of the authorized representative
                  type: string
                AuthorizedRepresentative1Phone:
                  description: Phone number of the authorized representative
                  type: string
                BusinessIdentityType:
                  $ref: "#/components/schemas/compliance_registration_enum_business_identity_type"
                  description: The type of business identity.  Can be `direct customer` or `ISV`.
                  type: string
                BusinessLegalName:
                  description: he name of the business or organization using the Tollfree number.
                  type: string
                BusinessRegistrationAuthority:
                  $ref: "#/components/schemas/compliance_registration_enum_business_registration_authority"
                  description: The authority that registered the business
                  type: string
                BusinessRegistrationNumber:
                  description: Business registration number of the business
                  type: string
                BusinessWebsiteUrl:
                  description: The URL of the business website
                  type: string
                DateOfBirth:
                  description: The date of birth of the Individual User.
                  type: string
                EmergencyAddressCity:
                  description: City of the business
                  type: string
                EmergencyAddressCountryCode:
                  description: Country code of the business
                  type: string
                EmergencyAddressPostalCode:
                  description: Postal code of the business
                  type: string
                EmergencyAddressStreet:
                  description: Street address of the business
                  type: string
                EmergencyAddressStreetSecondary:
                  description: Street address of the business
                  type: string
                EmergencyAddressSubdivision:
                  description: State or province of the business
                  type: string
                EndUserType:
                  $ref: "#/components/schemas/compliance_registration_enum_end_user_type"
                  description: The type of End User the regulation requires - can be `Individual` or `Business`.
                  type: string
                File:
                  description: The verification document to upload
                  type: string
                FileName:
                  description: The name of the verification document to upload
                  type: string
                FirstName:
                  description: The first name of the Individual User.
                  type: string
                FriendlyName:
                  description: Friendly name for your business information
                  type: string
                IndividualEmail:
                  description: The email address of the Individual User.
                  type: string
                IndividualPhone:
                  description: The phone number of the Individual User.
                  type: string
                IsIsvEmbed:
                  description: Indicates if the inquiry is being started from an ISV embedded component.
                  type: boolean
                LastName:
                  description: The last name of the Individual User.
                  type: string
                NotificationEmail:
                  description: he email address to receive the notification about the verification result.
                  type: string
                PhoneNumberType:
                  $ref: "#/components/schemas/compliance_registration_enum_phone_number_type"
                  description: The type of phone number of the Bundle's ownership request.  Can be `local`, `mobile`, `national`, or `toll-free`.
                  type: string
                UseAddressAsEmergencyAddress:
                  description: Use the business address as the emergency address
                  type: boolean
              required:
                - EndUserType
                - PhoneNumberType
              title: CreateComplianceRegistrationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.compliance_registration"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1ComplianceRegistrationInquiries
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_registration_inquiries
      defaultOutputProperties:
        - inquiry_id
        - session_token
        - registration_id
      mountName: compliance_registration_inquiries
      pathType: list
  /v1/ComplianceInquiries/Tollfree/Initialize:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Compliance Tollfree Verification Inquiry for the authenticated account. This is necessary to start a new embedded session.
      operationId: CreateComplianceTollfreeInquiry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AdditionalInformation:
                  description: Additional information to be provided for verification.
                  type: string
                BusinessCity:
                  description: The city of the business or organization using the Tollfree number.
                  type: string
                BusinessContactEmail:
                  description: The email address of the contact for the business or organization using the Tollfree number.
                  type: string
                BusinessContactFirstName:
                  description: The first name of the contact for the business or organization using the Tollfree number.
                  type: string
                BusinessContactLastName:
                  description: The last name of the contact for the business or organization using the Tollfree number.
                  type: string
                BusinessContactPhone:
                  description: The phone number of the contact for the business or organization using the Tollfree number.
                  format: phone-number
                  type: string
                BusinessCountry:
                  description: The country of the business or organization using the Tollfree number.
                  type: string
                BusinessName:
                  description: The name of the business or organization using the Tollfree number.
                  type: string
                BusinessPostalCode:
                  description: The postal code of the business or organization using the Tollfree number.
                  type: string
                BusinessStateProvinceRegion:
                  description: The state/province/region of the business or organization using the Tollfree number.
                  type: string
                BusinessStreetAddress:
                  description: The address of the business or organization using the Tollfree number.
                  type: string
                BusinessStreetAddress2:
                  description: The address of the business or organization using the Tollfree number.
                  type: string
                BusinessWebsite:
                  description: The website of the business or organization using the Tollfree number.
                  type: string
                MessageVolume:
                  description: Estimate monthly volume of messages from the Tollfree Number.
                  type: string
                NotificationEmail:
                  description: The email address to receive the notification about the verification result.
                  type: string
                OptInImageUrls:
                  description: Link to an image that shows the opt-in workflow. Multiple images allowed and must be a publicly hosted URL.
                  items:
                    type: string
                  type: array
                OptInType:
                  $ref: "#/components/schemas/compliance_tollfree_inquiry_enum_opt_in_type"
                  description: Describe how a user opts-in to text messages.
                  type: string
                ProductionMessageSample:
                  description: An example of message content, i.e. a sample message.
                  type: string
                TollfreePhoneNumber:
                  description: The Tollfree phone number to be verified
                  format: phone-number
                  type: string
                UseCaseCategories:
                  description: The category of the use case for the Tollfree Number. List as many are applicable..
                  items:
                    type: string
                  type: array
                UseCaseSummary:
                  description: Use this to further explain how messaging is used by the business or organization.
                  type: string
              required:
                - TollfreePhoneNumber
                - NotificationEmail
              title: CreateComplianceTollfreeInquiryRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.compliance_tollfree_inquiry"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1ComplianceTollfreeInquiries
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: compliance_tollfree_inquiries
      defaultOutputProperties:
        - inquiry_id
        - session_token
        - registration_id
      mountName: compliance_tollfree_inquiries
      pathType: list
  /v1/CustomerProfiles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Customer-Profiles for an account.
      operationId: ListCustomerProfile
      parameters:
        - description: The verification status of the Customer-Profile resource.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/customer_profile_enum_status"
            type: string
        - description: The string that you assigned to describe the resource.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The unique string of a policy that is associated to the Customer-Profile resource.
          in: query
          name: PolicySid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.customer_profile"
                    type: array
                title: ListCustomerProfileResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfiles
      x-maturity:
        - GA
    post:
      description: Create a new Customer-Profile.
      operationId: CreateCustomerProfile
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Customer-Profile resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                PolicySid:
                  description: The unique string of a policy that is associated to the Customer-Profile resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              required:
                - FriendlyName
                - Email
                - PolicySid
              title: CreateCustomerProfileRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfiles
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles
      defaultOutputProperties:
        - sid
        - policy_sid
        - friendly_name
      dependentProperties:
        customer_profiles_channel_endpoint_assignment:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/ChannelEndpointAssignments
        customer_profiles_entity_assignments:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/EntityAssignments
        customer_profiles_evaluations:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/Evaluations
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/ChannelEndpointAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListCustomerProfileChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The SID of an channel endpoint
          in: query
          name: ChannelEndpointSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
            type: string
        - description: comma separated list of channel endpoint sids
          in: query
          name: ChannelEndpointSids
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment"
                    type: array
                title: ListCustomerProfileChannelEndpointAssignmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateCustomerProfileChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelEndpointSid:
                  description: The SID of an channel endpoint
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
                ChannelEndpointType:
                  description: "The type of channel endpoint. eg: phone-number"
                  type: string
              required:
                - ChannelEndpointType
                - ChannelEndpointSid
              title: CreateCustomerProfileChannelEndpointAssignmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_channel_endpoint_assignment
      parent: /CustomerProfiles/{Sid}
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/ChannelEndpointAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteCustomerProfileChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RA[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchCustomerProfileChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_channel_endpoint_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesChannelEndpointAssignment
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_channel_endpoint_assignment
      parent: /CustomerProfiles/{Sid}
      pathType: instance
  /v1/CustomerProfiles/{CustomerProfileSid}/EntityAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListCustomerProfileEntityAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_entity_assignment"
                    type: array
                title: ListCustomerProfileEntityAssignmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateCustomerProfileEntityAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ObjectSid:
                  description: The SID of an object bag that holds information of the different items.
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
              required:
                - ObjectSid
              title: CreateCustomerProfileEntityAssignmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_entity_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_entity_assignments
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_entity_assignments
      parent: /CustomerProfiles/{Sid}
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/EntityAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteCustomerProfileEntityAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchCustomerProfileEntityAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_entity_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEntityAssignments
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_entity_assignments
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_entity_assignments
      parent: /CustomerProfiles/{Sid}
      pathType: instance
  /v1/CustomerProfiles/{CustomerProfileSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the customer_profile resource.
      operationId: ListCustomerProfileEvaluation
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_evaluation"
                    type: array
                title: ListCustomerProfileEvaluationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
        - GA
    post:
      description: Create a new Evaluation
      operationId: CreateCustomerProfileEvaluation
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PolicySid:
                  description: The unique string of a policy that is associated to the customer_profile resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
              required:
                - PolicySid
              title: CreateCustomerProfileEvaluationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_evaluation"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_evaluations
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_evaluations
      parent: /CustomerProfiles/{Sid}
      pathType: list
  /v1/CustomerProfiles/{CustomerProfileSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: FetchCustomerProfileEvaluation
      parameters:
        - description: The unique string that we created to identify the customer_profile resource.
          in: path
          name: CustomerProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that identifies the Evaluation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile.customer_profile_evaluation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfilesEvaluations
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles_evaluations
      defaultOutputProperties:
        - sid
      mountName: customer_profiles_evaluations
      parent: /CustomerProfiles/{Sid}
      pathType: instance
  /v1/CustomerProfiles/{Sid}:
    delete:
      description: Delete a specific Customer-Profile.
      operationId: DeleteCustomerProfile
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfiles
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Customer-Profile instance.
      operationId: FetchCustomerProfile
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfiles
      x-maturity:
        - GA
    post:
      description: Updates a Customer-Profile in an account.
      operationId: UpdateCustomerProfile
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Customer-Profile resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Status:
                  $ref: "#/components/schemas/customer_profile_enum_status"
                  description: The verification status of the Customer-Profile resource.
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              title: UpdateCustomerProfileRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.customer_profile"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1CustomerProfiles
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: customer_profiles
      defaultOutputProperties:
        - sid
        - policy_sid
        - friendly_name
      dependentProperties:
        customer_profiles_channel_endpoint_assignment:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/ChannelEndpointAssignments
        customer_profiles_entity_assignments:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/EntityAssignments
        customer_profiles_evaluations:
          mapping:
            customer_profile_sid: sid
          resource_url: /v1/CustomerProfiles/{customer_profile_sid}/Evaluations
      pathType: instance
  /v1/EndUserTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End-User Types.
      operationId: ListEndUserType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_user_types:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.end_user_type"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEndUserTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUserType
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  /v1/EndUserTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific End-User Type Instance.
      operationId: FetchEndUserType
      parameters:
        - description: The unique string that identifies the End-User Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.end_user_type"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUserType
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: instance
  /v1/EndUsers:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End User for an account.
      operationId: ListEndUser
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.end_user"
                    type: array
                title: ListEndUserResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUser
      x-maturity:
        - GA
    post:
      description: Create a new End User.
      operationId: CreateEndUser
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  description: The type of end user of the Bundle resource - can be `individual` or `business`.
                  type: string
              required:
                - FriendlyName
                - Type
              title: CreateEndUserRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.end_user"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUser
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  /v1/EndUsers/{Sid}:
    delete:
      description: Delete a specific End User.
      operationId: DeleteEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUser
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific End User Instance.
      operationId: FetchEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUser
      x-maturity:
        - GA
    post:
      description: Update an existing End User.
      operationId: UpdateEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              title: UpdateEndUserRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1EndUser
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: instance
  /v1/Policies:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Policys.
      operationId: ListPolicies
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.policies"
                    type: array
                title: ListPoliciesResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1Policies
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: policies
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  /v1/Policies/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Policy Instance.
      operationId: FetchPolicies
      parameters:
        - description: The unique string that identifies the Policy resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.policies"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1Policies
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: policies
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: instance
  /v1/SupportingDocumentTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document Types.
      operationId: ListSupportingDocumentType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  supporting_document_types:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.supporting_document_type"
                    type: array
                title: ListSupportingDocumentTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocumentType
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  /v1/SupportingDocumentTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Supporting Document Type Instance.
      operationId: FetchSupportingDocumentType
      parameters:
        - description: The unique string that identifies the Supporting Document Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.supporting_document_type"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocumentType
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: instance
  /v1/SupportingDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document for an account.
      operationId: ListSupportingDocument
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.supporting_document"
                    type: array
                title: ListSupportingDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocument
      x-maturity:
        - GA
    post:
      description: Create a new Supporting Document.
      operationId: CreateSupportingDocument
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Documents resource which are derived Supporting Document Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  description: The type of the Supporting Document.
                  type: string
              required:
                - FriendlyName
                - Type
              title: CreateSupportingDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.supporting_document"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocument
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: list
  /v1/SupportingDocuments/{Sid}:
    delete:
      description: Delete a specific Supporting Document.
      operationId: DeleteSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocument
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Supporting Document Instance.
      operationId: FetchSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocument
      x-maturity:
        - GA
    post:
      description: Update an existing Supporting Document.
      operationId: UpdateSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Document resource which are derived Supporting Document Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              title: UpdateSupportingDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1SupportingDocument
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      pathType: instance
  /v1/TrustProducts:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Customer-Profiles for an account.
      operationId: ListTrustProduct
      parameters:
        - description: The verification status of the Customer-Profile resource.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/trust_product_enum_status"
            type: string
        - description: The string that you assigned to describe the resource.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The unique string of a policy that is associated to the Customer-Profile resource.
          in: query
          name: PolicySid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.trust_product"
                    type: array
                title: ListTrustProductResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProducts
      x-maturity:
        - GA
    post:
      description: Create a new Customer-Profile.
      operationId: CreateTrustProduct
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Customer-Profile resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                PolicySid:
                  description: The unique string of a policy that is associated to the Customer-Profile resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              required:
                - FriendlyName
                - Email
                - PolicySid
              title: CreateTrustProductRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProducts
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products
      defaultOutputProperties:
        - sid
        - policy_sid
        - friendly_name
      dependentProperties:
        trust_products_channel_endpoint_assignment:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/ChannelEndpointAssignments
        trust_products_entity_assignments:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/EntityAssignments
        trust_products_evaluations:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/Evaluations
      pathType: list
  /v1/TrustProducts/{Sid}:
    delete:
      description: Delete a specific Customer-Profile.
      operationId: DeleteTrustProduct
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProducts
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Customer-Profile instance.
      operationId: FetchTrustProduct
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProducts
      x-maturity:
        - GA
    post:
      description: Updates a Customer-Profile in an account.
      operationId: UpdateTrustProduct
      parameters:
        - description: The unique string that we created to identify the Customer-Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Customer-Profile resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Status:
                  $ref: "#/components/schemas/trust_product_enum_status"
                  description: The verification status of the Customer-Profile resource.
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              title: UpdateTrustProductRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProducts
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products
      defaultOutputProperties:
        - sid
        - policy_sid
        - friendly_name
      dependentProperties:
        trust_products_channel_endpoint_assignment:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/ChannelEndpointAssignments
        trust_products_entity_assignments:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/EntityAssignments
        trust_products_evaluations:
          mapping:
            trust_product_sid: sid
          resource_url: /v1/TrustProducts/{trust_product_sid}/Evaluations
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/ChannelEndpointAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListTrustProductChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The SID of an channel endpoint
          in: query
          name: ChannelEndpointSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
            type: string
        - description: comma separated list of channel endpoint sids
          in: query
          name: ChannelEndpointSids
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_channel_endpoint_assignment"
                    type: array
                title: ListTrustProductChannelEndpointAssignmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateTrustProductChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelEndpointSid:
                  description: The SID of an channel endpoint
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
                ChannelEndpointType:
                  description: "The type of channel endpoint. eg: phone-number"
                  type: string
              required:
                - ChannelEndpointType
                - ChannelEndpointSid
              title: CreateTrustProductChannelEndpointAssignmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_channel_endpoint_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      mountName: trust_products_channel_endpoint_assignment
      parent: /TrustProducts/{Sid}
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/ChannelEndpointAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteTrustProductChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RA[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchTrustProductChannelEndpointAssignment
      parameters:
        - description: The unique string that we created to identify the CustomerProfile resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_channel_endpoint_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsChannelEndpointAssignment
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      mountName: trust_products_channel_endpoint_assignment
      parent: /TrustProducts/{Sid}
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/EntityAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListTrustProductEntityAssignment
      parameters:
        - description: The unique string that we created to identify the TrustProduct resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_entity_assignment"
                    type: array
                title: ListTrustProductEntityAssignmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateTrustProductEntityAssignment
      parameters:
        - description: The unique string that we created to identify the TrustProduct resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ObjectSid:
                  description: The SID of an object bag that holds information of the different items.
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
              required:
                - ObjectSid
              title: CreateTrustProductEntityAssignmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_entity_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_entity_assignments
      defaultOutputProperties:
        - sid
      mountName: trust_products_entity_assignments
      parent: /TrustProducts/{Sid}
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/EntityAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteTrustProductEntityAssignment
      parameters:
        - description: The unique string that we created to identify the TrustProduct resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchTrustProductEntityAssignment
      parameters:
        - description: The unique string that we created to identify the TrustProduct resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_entity_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEntityAssignments
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_entity_assignments
      defaultOutputProperties:
        - sid
      mountName: trust_products_entity_assignments
      parent: /TrustProducts/{Sid}
      pathType: instance
  /v1/TrustProducts/{TrustProductSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the trust_product resource.
      operationId: ListTrustProductEvaluation
      parameters:
        - description: The unique string that we created to identify the trust_product resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_evaluation"
                    type: array
                title: ListTrustProductEvaluationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEvaluations
      x-maturity:
        - GA
    post:
      description: Create a new Evaluation
      operationId: CreateTrustProductEvaluation
      parameters:
        - description: The unique string that we created to identify the trust_product resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PolicySid:
                  description: The unique string of a policy that is associated to the customer_profile resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
              required:
                - PolicySid
              title: CreateTrustProductEvaluationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_evaluation"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEvaluations
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_evaluations
      defaultOutputProperties:
        - sid
      mountName: trust_products_evaluations
      parent: /TrustProducts/{Sid}
      pathType: list
  /v1/TrustProducts/{TrustProductSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: FetchTrustProductEvaluation
      parameters:
        - description: The unique string that we created to identify the trust_product resource.
          in: path
          name: TrustProductSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that identifies the Evaluation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trusthub.v1.trust_product.trust_product_evaluation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - TrusthubV1TrustProductsEvaluations
      x-maturity:
        - GA
    servers:
      - url: https://trusthub.twilio.com
    x-twilio:
      className: trust_products_evaluations
      defaultOutputProperties:
        - sid
      mountName: trust_products_evaluations
      parent: /TrustProducts/{Sid}
      pathType: instance
components:
  schemas:
    compliance_registration_enum_business_identity_type:
      enum:
        - direct_customer
        - isv_reseller_or_partner
        - unknown
      type: string
    compliance_registration_enum_business_registration_authority:
      enum:
        - UK:CRN
        - US:EIN
        - CA:CBN
        - AU:ACN
        - Other
      type: string
    compliance_registration_enum_end_user_type:
      enum:
        - Individual
        - Business
      type: string
    compliance_registration_enum_phone_number_type:
      enum:
        - local
        - national
        - mobile
        - toll-free
      type: string
    compliance_tollfree_inquiry_enum_opt_in_type:
      enum:
        - VERBAL
        - WEB_FORM
        - PAPER_FORM
        - VIA_TEXT
        - MOBILE_QR_CODE
      type: string
    compliance_tollfree_inquiry_enum_status:
      enum:
        - PENDING_REVIEW
        - IN_REVIEW
        - TWILIO_APPROVED
        - TWILIO_REJECTED
      type: string
    customer_profile_enum_end_user_type:
      enum:
        - individual
        - business
      type: string
    customer_profile_enum_status:
      enum:
        - draft
        - pending-review
        - in-review
        - twilio-rejected
        - twilio-approved
      type: string
    customer_profile_evaluation_enum_status:
      enum:
        - compliant
        - noncompliant
      type: string
    policies_enum_end_user_type:
      enum:
        - individual
        - business
      type: string
    supporting_document_enum_status:
      enum:
        - draft
        - pending-review
        - rejected
        - approved
        - expired
        - provisionally-approved
      type: string
    trust_product_enum_end_user_type:
      enum:
        - individual
        - business
      type: string
    trust_product_enum_status:
      enum:
        - draft
        - pending-review
        - in-review
        - twilio-rejected
        - twilio-approved
      type: string
    trust_product_evaluation_enum_status:
      enum:
        - compliant
        - noncompliant
      type: string
    trusthub.v1.compliance_inquiry:
      properties:
        customer_id:
          description: The CustomerID matching the Customer Profile that should be resumed or resubmitted for editing.
          nullable: true
          type: string
        inquiry_id:
          description: The unique ID used to start an embedded compliance registration session.
          nullable: true
          type: string
        inquiry_session_token:
          description: The session token used to start an embedded compliance registration session.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
[...]
