swagger: '2.0'
schemes:
  - https
host: api.stripe.com
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: 'https://stripe.com'
    x-twitter: stripe
  description: 'The Stripe REST API. Please see https://stripe.com/docs/api for more details.'
  termsOfService: 'https://stripe.com/us/terms/'
  title: Stripe
  version: '2017-08-15'
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://twitter.com/stripe/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec2.yaml'
      version: '2.0'
  x-providerName: stripe.com
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /v1/3d_secure:
    post:
      description: ''
      operationId: Create3DSecure
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: true
          schema:
            properties:
              amount:
                description: Amount of the charge that you will create when authentication completes.
                type:
                  - integer
              card:
                description: 'The ID of a card token, or the ID of a card belonging to the given customer.'
                type:
                  - string
              currency:
                description: 'Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).'
                type:
                  - string
              customer:
                type:
                  - string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type:
                    - string
                type:
                  - array
              return_url:
                description: The URL that the cardholder's browser will be returned to when authentication completes.
                type:
                  - string
            required:
              - amount
              - currency
              - return_url
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/three_d_secure'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/3d_secure/{three_d_secure}':
    get:
      description: <p>Retrieves a 3D Secure object.</p>
      operationId: Retrieve3DSecure
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: The identifier of the 3D Secure object to be retrieved.
          in: path
          name: three_d_secure
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/three_d_secure'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account:
    delete:
      description: '<p>With <a href="/docs/connect">Connect</a>, you may delete Custom accounts you manage.</p><p>Custom accounts created using test-mode keys can be deleted at any time. Custom accounts created using live-mode keys may only be deleted once all balances are zero.</p><p>If you are looking to close your own account, use the <a href="https://dashboard.stripe.com/account/data">data tab in your account settings</a> instead.</p>'
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account:
                description: 'The identifier of the account to be deleted. If none is provided, will default to the account of the API key.'
                type:
                  - string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type:
                    - string
                type:
                  - array
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieves the details of the account.</p>
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'The identifier of the account to be retrieved. If none is provided, will default to the account of the API key.'
          in: query
          name: account
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: '<p>Updates a connected <a href="/docs/connect/accounts">Express or Custom account</a> by setting the values of the parameters passed. Any parameters not provided are left unchanged. To update your own account, use the <a href="%= Opus::DaemonCommon.stripe_link(''dashboard.stripe.com'', ''/account'') %">Dashboard</a>.</p><p>Refer to our <a href="/docs/connect/updating-accounts">Connect</a> documentation to learn more about updating accounts.</p>'
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account:
                type:
                  - string
              account_token:
                type:
                  - string
              business_logo:
                type:
                  - string
              business_name:
                description: The publicly sharable name for this account.
                type:
                  - string
              business_primary_color:
                description: A CSS hex color value representing the primary branding color for this account.
                type:
                  - string
              business_url:
                description: The URL that best shows the service or product provided for this account.
                type:
                  - string
              debit_negative_balances:
                description: 'A boolean for whether or not Stripe should try to reclaim negative balances from the account holder''s bank account. See our [Connect account bank transfer guide](/docs/connect/account-balances) for more information.'
                type:
                  - boolean
              decline_charge_on:
                description: Account-level settings to automatically decline certain types of charges regardless of the bank's decision.
                properties:
                  avs_failure:
                    type:
                      - boolean
                  cvc_failure:
                    type:
                      - boolean
                title: account_decline_charge_on_specs
                type:
                  - object
              default_currency:
                description: 'Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account''s country](https://stripe.com/docs/payouts).'
                type:
                  - string
              email:
                description: 'Email address of the account holder. For Standard accounts, this is used to email them asking them to claim their Stripe account. For Custom accounts, this is only to make the account easier to identify to you: Stripe will not email the account holder.'
                type:
                  - string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type:
                    - string
                type:
                  - array
              external_account:
                description: 'A card or bank account to attach to the account. You can provide either a token, like the ones returned by [Stripe.js](/docs/stripe.js), or a dictionary as documented in the `external_account` parameter for [bank account](/docs/api#account_create_bank_account) creation. <br><br>This will create a new external account object, make it the new default external account for its currency, and delete the old default if one exists. If you want to add additional external accounts instead of replacing the existing default for this currency, use the bank account or card creation API.'
                type:
                  - object
                  - string
              legal_entity:
                description: 'Information about the account holder; varies by [account country](#country_spec_object-verification_fields) and [account status](#account_object-verification-fields_needed).'
                properties:
                  additional_owners:
                    properties:
                      '0':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '1':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '2':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '3':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '4':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '5':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '6':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '7':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '8':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '9':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '10':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '11':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '12':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '13':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '14':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '15':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '16':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '17':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '18':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '19':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '20':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '21':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '22':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '23':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '24':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '25':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '26':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '27':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '28':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '29':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                      '30':
                        properties:
                          address:
                            properties:
                              city:
                                type:
                                  - string
                              country:
                                type:
                                  - string
                              line1:
                                type:
                                  - string
                              line2:
                                type:
                                  - string
                              postal_code:
                                type:
                                  - string
                              state:
                                type:
                                  - string
                            title: account_address_specs
                            type:
                              - object
                          dob:
                            properties:
                              day:
                                type:
                                  - integer
                              month:
                                type:
                                  - integer
                              year:
                                type:
                                  - integer
                            required:
                              - day
                              - month
                              - year
                            title: date_of_birth_specs
                            type:
                              - object
                          first_name:
                            type:
                              - string
                          last_name:
                            type:
                              - string
                          maiden_name:
                            type:
                              - string
                          personal_id_number:
                            type:
                              - string
                          verification:
                            properties:
                              document:
                                type:
                                  - string
                            title: account_person_verification_specs
                            type:
                              - object
                        title: account_owner_specs
                        type:
                          - object
                    title: additional_owners_specs
                    type:
                      - object
                  address:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                    title: account_address_specs
                    type:
                      - object
                  address_kana:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                      town:
                        type:
                          - string
                    title: japan_address_kana_specs
                    type:
                      - object
                  address_kanji:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                      town:
                        type:
                          - string
                    title: japan_address_kanji_specs
                    type:
                      - object
                  business_name:
                    type:
                      - string
                  business_name_kana:
                    type:
                      - string
                  business_name_kanji:
                    type:
                      - string
                  business_tax_id:
                    type:
                      - string
                  business_vat_id:
                    type:
                      - string
                  dob:
                    properties:
                      day:
                        type:
                          - integer
                      month:
                        type:
                          - integer
                      year:
                        type:
                          - integer
                    required:
                      - day
                      - month
                      - year
                    title: date_of_birth_specs
                    type:
                      - object
                  first_name:
                    type:
                      - string
                  first_name_kana:
                    type:
                      - string
                  first_name_kanji:
                    type:
                      - string
                  gender:
                    type:
                      - string
                  last_name:
                    type:
                      - string
                  last_name_kana:
                    type:
                      - string
                  last_name_kanji:
                    type:
                      - string
                  maiden_name:
                    type:
                      - string
                  personal_address:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                    title: account_address_specs
                    type:
                      - object
                  personal_address_kana:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                      town:
                        type:
                          - string
                    title: japan_address_kana_specs
                    type:
                      - object
                  personal_address_kanji:
                    properties:
                      city:
                        type:
                          - string
                      country:
                        type:
                          - string
                      line1:
                        type:
                          - string
                      line2:
                        type:
                          - string
                      postal_code:
                        type:
                          - string
                      state:
                        type:
                          - string
                      town:
                        type:
                          - string
                    title: japan_address_kanji_specs
                    type:
                      - object
                  personal_id_number:
                    type:
                      - string
                  phone_number:
                    type:
                      - string
                  ssn_last_4:
                    type:
                      - string
                  tax_id_registrar:
                    type:
                      - string
                  type:
                    type:
                      - string
                  verification:
                    properties:
                      document:
                        type:
                          - string
                    title: account_person_verification_specs
                    type:
                      - object
                title: account_legal_entity_specs
                type:
                  - object
              metadata:
                description: A set of key/value pairs that you can attach to an account object. It can be useful for storing additional information about the account in a structured format.
                type:
                  - object
              payout_schedule:
                description: 'Details on when this account will make funds from charges available, and when they will be paid out to the account holder''s bank account. See our [Connect account bank transfer guide](/docs/connect/bank-transfers#payout-information) for more information.'
                properties:
                  delay_days:
                    type:
                      - integer
                  interval:
                    enum:
                      - daily
                      - four_times_monthly
                      - manual
                      - monthly
                      - weekly
                    type:
                      - string
                  monthly_anchor:
                    type:
                      - integer
                  weekly_anchor:
                    enum:
                      - friday
                      - monday
                      - saturday
                      - sunday
                      - thursday
                      - tuesday
                      - wednesday
                    type:
                      - string
                title: transfer_schedule_specs
                type:
                  - object
              payout_statement_descriptor:
                description: 'The text that will appear on the account''s bank account statement for payouts. If not set, this will default to your platform''s bank descriptor set on the Dashboard.'
                type:
                  - string
              product_description:
                description: Internal-only description of the product being sold or service being provided by this account. It's used by Stripe for risk and underwriting purposes.
                type:
                  - string
              statement_descriptor:
                description: 'The text that will appear on credit card statements by default if a charge is being made [directly on the account](/docs/connect/direct-charges).'
                type:
                  - string
              statement_descriptor_kana:
[...]
