swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AppServicePlans API Client
  version: '2016-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: web-AppServicePlans
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+[^\.]$'
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms':
    get:
      description: Get all App Service plans for a subcription.
      operationId: AppServicePlans_List
      parameters:
        - description: |-
            Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.
             Retrieval of all properties may increase the API latency.
          in: query
          name: detailed
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of App Service plans.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/AppServicePlan'
                type: array
            required:
              - value
            type: object
      summary: Get all App Service plans for a subcription.
      tags:
        - AppServicePlans
      x-ms-examples:
        List App Service plans:
          parameters:
            api-version: '2016-09-01'
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                    kind: app
                    location: East US
                    name: testsf6141
                    properties:
                      currentNumberOfWorkers: 1
                      currentWorkerSize: Default
                      geoRegion: East US
                      isSpot: false
                      kind: app
                      maximumNumberOfWorkers: 20
                      mdmId: waws-prod-blu-033_4740
                      name: testsf6141
                      numberOfSites: 4
                      numberOfWorkers: 1
                      provisioningState: Succeeded
                      reserved: false
                      status: Ready
                      targetWorkerCount: 0
                      targetWorkerSizeId: 0
                      workerSize: Default
                    sku:
                      capacity: 1
                      family: P
                      name: P1
                      size: P1
                      tier: Premium
                    type: Microsoft.Web/serverfarms
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                    kind: app
                    location: East US
                    name: testsf7252
                    properties:
                      currentNumberOfWorkers: 1
                      currentWorkerSize: Default
                      geoRegion: East US
                      isSpot: false
                      kind: app
                      maximumNumberOfWorkers: 20
                      mdmId: waws-prod-blu-033_5680
                      name: testsf7252
                      numberOfSites: 4
                      numberOfWorkers: 1
                      provisioningState: Succeeded
                      reserved: false
                      status: Ready
                      targetWorkerCount: 0
                      targetWorkerSizeId: 0
                      workerSize: Default
                    sku:
                      capacity: 1
                      family: P
                      name: P1
                      size: P1
                      tier: Premium
                    type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms':
    get:
      description: Get all App Service plans in a resource group.
      operationId: AppServicePlans_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of App Service plans.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/AppServicePlan'
                type: array
            required:
              - value
            type: object
      summary: Get all App Service plans in a resource group.
      tags:
        - AppServicePlans
      x-ms-examples:
        List App Service plans by resource group:
          parameters:
            api-version: '2016-09-01'
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                    kind: app
                    location: East US
                    name: testsf6141
                    properties:
                      currentNumberOfWorkers: 1
                      currentWorkerSize: Default
                      geoRegion: East US
                      isSpot: false
                      kind: app
                      maximumNumberOfWorkers: 20
                      mdmId: waws-prod-blu-033_4740
                      name: testsf6141
                      numberOfSites: 4
                      numberOfWorkers: 1
                      provisioningState: Succeeded
                      reserved: false
                      status: Ready
                      targetWorkerCount: 0
                      targetWorkerSizeId: 0
                      workerSize: Default
                    sku:
                      capacity: 1
                      family: P
                      name: P1
                      size: P1
                      tier: Premium
                    type: Microsoft.Web/serverfarms
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                    kind: app
                    location: East US
                    name: testsf7252
                    properties:
                      currentNumberOfWorkers: 1
                      currentWorkerSize: Default
                      geoRegion: East US
                      isSpot: false
                      kind: app
                      maximumNumberOfWorkers: 20
                      mdmId: waws-prod-blu-033_5680
                      name: testsf7252
                      numberOfSites: 4
                      numberOfWorkers: 1
                      provisioningState: Succeeded
                      reserved: false
                      status: Ready
                      targetWorkerCount: 0
                      targetWorkerSizeId: 0
                      workerSize: Default
                    sku:
                      capacity: 1
                      family: P
                      name: P1
                      size: P1
                      tier: Premium
                    type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}':
    delete:
      description: Delete an App Service plan.
      operationId: AppServicePlans_Delete
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
        '204':
          description: OK.
      summary: Delete an App Service plan.
      tags:
        - AppServicePlans
      x-ms-examples:
        Delete App Service plan:
          parameters:
            api-version: '2016-09-01'
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Get an App Service plan.
      operationId: AppServicePlans_Get
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
        '404':
          description: Not found.
      summary: Get an App Service plan.
      tags:
        - AppServicePlans
      x-ms-examples:
        Get App Service plan:
          parameters:
            api-version: '2016-09-01'
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  kind: app
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            '404': {}
    patch:
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_Update
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Details of the App Service plan.
          in: body
          name: appServicePlan
          required: true
          schema:
            $ref: '#/definitions/AppServicePlanPatchResource'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
        '202':
          description: Operation is in progress.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
      summary: Creates or updates an App Service Plan.
      tags:
        - AppServicePlans
      x-ms-examples:
        Patch Service plan:
          parameters:
            api-version: '2016-09-01'
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              name: testsf6141
              properties:
                name: testsf6141
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            '202':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0'
                location: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0'
    put:
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Details of the App Service plan.
          in: body
          name: appServicePlan
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
        '202':
          description: Operation is in progress.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: App Service plan.
            properties:
              properties:
                description: AppServicePlan resource specific properties
                properties:
                  adminSiteName:
                    description: App Service plan administration site.
                    type: string
                  geoRegion:
                    description: Geographical location for the App Service plan.
                    readOnly: true
                    type: string
                  hostingEnvironmentProfile:
                    $ref: '#/definitions/HostingEnvironmentProfile'
                    description: Specification for the App Service Environment to use for the App Service plan.
                    x-ms-mutability:
                      - create
                      - read
                  isSpot:
                    description: 'If <code>true</code>, this App Service Plan owns spot instances.'
                    type: boolean
                  maximumNumberOfWorkers:
                    description: Maximum number of instances that can be assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  name:
                    description: Name for the App Service plan.
                    type: string
                  numberOfSites:
                    description: Number of apps assigned to this App Service plan.
                    format: int32
                    readOnly: true
                    type: integer
                  perSiteScaling:
                    default: false
                    description: |-
                      If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                      If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
                    type: boolean
                  provisioningState:
                    description: Provisioning state of the App Service Environment.
                    enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      - Deleting
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ProvisioningState
                  reserved:
                    default: false
                    description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
                    type: boolean
                    x-ms-mutability:
                      - create
                      - read
                  resourceGroup:
                    description: Resource group of the App Service plan.
                    readOnly: true
                    type: string
                  spotExpirationTime:
                    description: The time when the server farm expires. Valid only if it is a spot server farm.
                    format: date-time
                    type: string
                  status:
                    description: App Service plan status.
                    enum:
                      - Ready
                      - Pending
                      - Creating
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: StatusOptions
                  subscription:
                    description: App Service plan subscription.
                    readOnly: true
                    type: string
                  targetWorkerCount:
                    description: Scaling worker count.
                    format: int32
                    type: integer
                  targetWorkerSizeId:
                    description: Scaling worker size ID.
                    format: int32
                    type: integer
                  workerTierName:
                    description: Target worker tier assigned to the App Service plan.
                    type: string
                required:
                  - name
                x-ms-client-flatten: true
              sku:
                $ref: '#/definitions/SkuDescription'
            type: object
      summary: Creates or updates an App Service Plan.
      tags:
        - AppServicePlans
      x-ms-examples:
        Create or Update App Service plan:
          parameters:
            api-version: '2016-09-01'
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              location: East US
              name: testsf6141
              properties:
                name: testsf6141
              sku:
                capacity: 1
                family: P
                name: P1
                size: P1
                tier: Premium
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            '202':
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0'
                location: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0'
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/capabilities':
    get:
      description: List all capabilities of an App Service plan.
      operationId: AppServicePlans_ListCapabilities
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            items:
              description: Describes the capabilities/features allowed for a specific SKU.
              properties:
                name:
                  description: Name of the SKU capability.
                  type: string
                reason:
                  description: Reason of the SKU capability.
                  type: string
                value:
                  description: Value of the SKU capability.
                  type: string
              type: object
            type: array
      summary: List all capabilities of an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}':
    delete:
      description: Delete a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_DeleteHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted hybrid connection
        '204':
          description: Hybrid connection does not exist
      summary: Delete a Hybrid Connection in use in an App Service plan.
      tags:
        - AppServicePlans
    get:
      description: Retrieve a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_GetHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Hybrid Connection contract. This is used to configure a Hybrid Connection.
            properties:
              properties:
                description: HybridConnection resource specific properties
                properties:
                  hostname:
                    description: The hostname of the endpoint.
                    type: string
                  port:
                    description: The port of the endpoint.
                    format: int32
                    type: integer
                  relayArmUri:
                    description: The ARM URI to the Service Bus relay.
                    type: string
                  relayName:
                    description: The name of the Service Bus relay.
                    type: string
                    x-ms-mutability:
                      - create
                      - read
                  sendKeyName:
                    description: The name of the Service Bus key which has Send permissions. This is used to authenticate to Service Bus.
                    type: string
                  sendKeyValue:
                    description: |-
                      The value of the Service Bus key. This is used to authenticate to Service Bus. In ARM this key will not be returned
                      normally, use the POST /listKeys API instead.
                    type: string
                  serviceBusNamespace:
                    description: The name of the Service Bus namespace.
                    type: string
                    x-ms-mutability:
                      - create
                      - read
                  serviceBusSuffix:
                    description: The suffix for the service bus endpoint. By default this is .servicebus.windows.net
                    type: string
                x-ms-client-flatten: true
            type: object
      summary: Retrieve a Hybrid Connection in use in an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys':
    post:
      description: Get the send key name and value of a Hybrid Connection.
      operationId: AppServicePlans_ListHybridConnectionKeys
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the Service Bus namespace.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The name of the Service Bus relay.
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Hybrid Connection key contract. This has the send key name and value for a Hybrid Connection.
            properties:
              properties:
                description: HybridConnectionKey resource specific properties
                properties:
                  sendKeyName:
                    description: The name of the send key.
                    readOnly: true
                    type: string
                  sendKeyValue:
                    description: The value of the send key.
                    readOnly: true
                    type: string
                x-ms-client-flatten: true
            type: object
      summary: Get the send key name and value of a Hybrid Connection.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/sites':
    get:
      description: Get all apps that use a Hybrid Connection in an App Service Plan.
      operationId: AppServicePlans_ListWebAppsByHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Hybrid Connection namespace.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Name of the Hybrid Connection relay.
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceCollection'
      summary: Get all apps that use a Hybrid Connection in an App Service Plan.
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionPlanLimits/limit':
    get:
      description: Get the maximum number of Hybrid Connections allowed in an App Service plan.
      operationId: AppServicePlans_GetHybridConnectionPlanLimit
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnectionLimits'
      summary: Get the maximum number of Hybrid Connections allowed in an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionRelays':
    get:
      description: Retrieve all Hybrid Connections in use in an App Service plan.
      operationId: AppServicePlans_ListHybridConnections
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnectionCollection'
      summary: Retrieve all Hybrid Connections in use in an App Service plan.
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metricdefinitions':
    get:
      description: 'Get metrics that can be queried for an App Service plan, and their definitions.'
      operationId: AppServicePlans_ListMetricDefintions
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of metric definitions.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/ResourceMetricDefinition'
                type: array
            required:
              - value
            type: object
      summary: 'Get metrics that can be queried for an App Service plan, and their definitions.'
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metrics':
    get:
      description: Get metrics for an App Serice plan.
      operationId: AppServicePlans_ListMetrics
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Specify <code>true</code> to include instance details. The default is <code>false</code>.
          in: query
          name: details
          type: boolean
        - description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of metric responses.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/ResourceMetric'
                type: array
            required:
              - value
            type: object
      summary: Get metrics for an App Serice plan.
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/restartSites':
    post:
      description: Restart all apps in an App Service plan.
      operationId: AppServicePlans_RestartWebApps
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: 'Specify <code>true</code> to performa a soft restart, applies the configuration settings and restarts the apps if necessary. The default is <code>false</code>, which always restarts and reprovisions the apps'
          in: query
          name: softRestart
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      summary: Restart all apps in an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/sites':
    get:
      description: Get all apps associated with an App Service plan.
      operationId: AppServicePlans_ListWebApps
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: 'Skip to a web app in the list of webapps associated with app service plan. If specified, the resulting list will contain web apps starting from (including) the skipToken. Otherwise, the resulting list contains web apps from the start of the list'
          in: query
          name: $skipToken
          type: string
        - description: 'Supported filter: $filter=state eq running. Returns only web apps that are currently running'
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - description: 'List page size. If specified, results are paged.'
          in: query
          name: $top
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of App Service apps.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/Site'
                type: array
            required:
              - value
            type: object
      summary: Get all apps associated with an App Service plan.
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/skus':
    get:
      description: Gets all selectable sku's for a given App Service Plan
      operationId: AppServicePlans_GetServerFarmSkus
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of App Service Plan
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Gets all selectable sku's for a given App Service Plan
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages':
    get:
      description: Gets server farm usage information
      operationId: AppServicePlans_ListUsages
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of App Service Plan
          in: path
          name: name
          required: true
          type: string
        - description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'').'
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of CSM usage quotas.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/CsmUsageQuota'
                type: array
            required:
              - value
            type: object
      summary: Gets server farm usage information
      tags:
        - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections':
    get:
      description: Get all Virtual Networks associated with an App Service plan.
      operationId: AppServicePlans_ListVnets
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            items:
              allOf:
                - $ref: '#/definitions/ProxyOnlyResource'
              description: Virtual Network information contract.
              properties:
                properties:
                  description: VnetInfo resource specific properties
                  properties:
                    certBlob:
                      description: |-
                        A certificate file (.cer) blob containing the public key of the private key used to authenticate a 
                        Point-To-Site VPN connection.
                      format: byte
                      type: string
                    certThumbprint:
                      description: The client certificate thumbprint.
                      readOnly: true
                      type: string
                    dnsServers:
                      description: DNS servers to be used by this Virtual Network. This should be a comma-separated list of IP addresses.
                      type: string
                    resyncRequired:
                      description: '<code>true</code> if a resync is required; otherwise, <code>false</code>.'
                      readOnly: true
                      type: boolean
                    routes:
                      description: The routes that this Virtual Network connection uses.
                      items:
                        $ref: '#/definitions/VnetRoute'
                      readOnly: true
                      type: array
                    vnetResourceId:
                      description: The Virtual Network's resource ID.
                      type: string
                  x-ms-client-flatten: true
              type: object
            type: array
      summary: Get all Virtual Networks associated with an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}':
    get:
      description: Get a Virtual Network associated with an App Service plan.
      operationId: AppServicePlans_GetVnetFromServerFarm
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Virtual Network information contract.
            properties:
              properties:
                description: VnetInfo resource specific properties
                properties:
                  certBlob:
                    description: |-
                      A certificate file (.cer) blob containing the public key of the private key used to authenticate a 
                      Point-To-Site VPN connection.
                    format: byte
                    type: string
                  certThumbprint:
                    description: The client certificate thumbprint.
                    readOnly: true
                    type: string
                  dnsServers:
                    description: DNS servers to be used by this Virtual Network. This should be a comma-separated list of IP addresses.
                    type: string
                  resyncRequired:
                    description: '<code>true</code> if a resync is required; otherwise, <code>false</code>.'
                    readOnly: true
                    type: boolean
                  routes:
                    description: The routes that this Virtual Network connection uses.
                    items:
                      $ref: '#/definitions/VnetRoute'
                    readOnly: true
                    type: array
                  vnetResourceId:
                    description: The Virtual Network's resource ID.
                    type: string
                x-ms-client-flatten: true
            type: object
        '404':
          description: Virtual network could not be found.
      summary: Get a Virtual Network associated with an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/gateways/{gatewayName}':
    get:
      description: Get a Virtual Network gateway.
      operationId: AppServicePlans_GetVnetGateway
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the gateway. Only the 'primary' gateway is supported.
          in: path
          name: gatewayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: The Virtual Network gateway contract. This is used to give the Virtual Network gateway access to the VPN package.
            properties:
              properties:
                description: VnetGateway resource specific properties
                properties:
                  vnetName:
                    description: The Virtual Network name.
                    type: string
                    x-ms-mutability:
                      - create
                      - read
                  vpnPackageUri:
                    description: The URI where the VPN package can be downloaded.
                    type: string
                    x-ms-mutability:
                      - create
                      - update
                required:
                  - vpnPackageUri
                x-ms-client-flatten: true
            type: object
      summary: Get a Virtual Network gateway.
      tags:
        - AppServicePlans
    put:
      description: Update a Virtual Network gateway.
      operationId: AppServicePlans_UpdateVnetGateway
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the gateway. Only the 'primary' gateway is supported.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Definition of the gateway.
          in: body
          name: connectionEnvelope
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: The Virtual Network gateway contract. This is used to give the Virtual Network gateway access to the VPN package.
            properties:
              properties:
                description: VnetGateway resource specific properties
                properties:
                  vnetName:
                    description: The Virtual Network name.
                    type: string
                    x-ms-mutability:
                      - create
                      - read
                  vpnPackageUri:
                    description: The URI where the VPN package can be downloaded.
                    type: string
                    x-ms-mutability:
                      - create
                      - update
                required:
                  - vpnPackageUri
                x-ms-client-flatten: true
            type: object
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: The Virtual Network gateway contract. This is used to give the Virtual Network gateway access to the VPN package.
            properties:
              properties:
                description: VnetGateway resource specific properties
                properties:
                  vnetName:
                    description: The Virtual Network name.
                    type: string
                    x-ms-mutability:
                      - create
                      - read
                  vpnPackageUri:
                    description: The URI where the VPN package can be downloaded.
                    type: string
                    x-ms-mutability:
                      - create
                      - update
                required:
                  - vpnPackageUri
                x-ms-client-flatten: true
            type: object
      summary: Update a Virtual Network gateway.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes':
    get:
      description: Get all routes that are associated with a Virtual Network in an App Service plan.
      operationId: AppServicePlans_ListRoutesForVnet
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            items:
              allOf:
                - $ref: '#/definitions/ProxyOnlyResource'
              description: Virtual Network route contract used to pass routing information for a Virtual Network.
              properties:
                properties:
                  description: VnetRoute resource specific properties
                  properties:
                    endAddress:
                      description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                      type: string
                    name:
                      description: The name of this route. This is only returned by the server and does not need to be set by the client.
                      type: string
                      x-ms-client-name: vnetRouteName
                      x-ms-mutability:
                        - create
                        - read
                    routeType:
                      description: |-
                        The type of route this is:
                        DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                        INHERITED - Routes inherited from the real Virtual Network routes
                        STATIC - Static route set on the app only

                        These values will be used for syncing an app's routes with those from a Virtual Network.
                      enum:
                        - DEFAULT
                        - INHERITED
                        - STATIC
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: RouteType
                    startAddress:
                      description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                      type: string
                  x-ms-client-flatten: true
              type: object
            type: array
      summary: Get all routes that are associated with a Virtual Network in an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes/{routeName}':
    delete:
      description: Delete a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_DeleteVnetRoute
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted Virtual Network route.
        '404':
          description: Specified Virtual Network route does not exist.
      summary: Delete a Virtual Network route in an App Service plan.
      tags:
        - AppServicePlans
    get:
      description: Get a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_GetRouteForVnet
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            items:
              allOf:
                - $ref: '#/definitions/ProxyOnlyResource'
              description: Virtual Network route contract used to pass routing information for a Virtual Network.
              properties:
                properties:
                  description: VnetRoute resource specific properties
                  properties:
                    endAddress:
                      description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                      type: string
                    name:
                      description: The name of this route. This is only returned by the server and does not need to be set by the client.
                      type: string
                      x-ms-client-name: vnetRouteName
                      x-ms-mutability:
                        - create
                        - read
                    routeType:
                      description: |-
                        The type of route this is:
                        DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                        INHERITED - Routes inherited from the real Virtual Network routes
                        STATIC - Static route set on the app only

                        These values will be used for syncing an app's routes with those from a Virtual Network.
                      enum:
                        - DEFAULT
                        - INHERITED
                        - STATIC
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: RouteType
                    startAddress:
                      description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                      type: string
                  x-ms-client-flatten: true
              type: object
            type: array
        '404':
          description: Specified route does not exist.
      summary: Get a Virtual Network route in an App Service plan.
      tags:
        - AppServicePlans
    patch:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_UpdateVnetRoute
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          type: string
        - description: Definition of the Virtual Network route.
          in: body
          name: route
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Virtual Network route contract used to pass routing information for a Virtual Network.
            properties:
              properties:
                description: VnetRoute resource specific properties
                properties:
                  endAddress:
                    description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                    type: string
                  name:
                    description: The name of this route. This is only returned by the server and does not need to be set by the client.
                    type: string
                    x-ms-client-name: vnetRouteName
                    x-ms-mutability:
                      - create
                      - read
                  routeType:
                    description: |-
                      The type of route this is:
                      DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                      INHERITED - Routes inherited from the real Virtual Network routes
                      STATIC - Static route set on the app only

                      These values will be used for syncing an app's routes with those from a Virtual Network.
                    enum:
                      - DEFAULT
                      - INHERITED
                      - STATIC
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: RouteType
                  startAddress:
                    description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                    type: string
                x-ms-client-flatten: true
            type: object
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Virtual Network route contract used to pass routing information for a Virtual Network.
            properties:
              properties:
                description: VnetRoute resource specific properties
                properties:
                  endAddress:
                    description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                    type: string
                  name:
                    description: The name of this route. This is only returned by the server and does not need to be set by the client.
                    type: string
                    x-ms-client-name: vnetRouteName
                    x-ms-mutability:
                      - create
                      - read
                  routeType:
                    description: |-
                      The type of route this is:
                      DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                      INHERITED - Routes inherited from the real Virtual Network routes
                      STATIC - Static route set on the app only

                      These values will be used for syncing an app's routes with those from a Virtual Network.
                    enum:
                      - DEFAULT
                      - INHERITED
                      - STATIC
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: RouteType
                  startAddress:
                    description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                    type: string
                x-ms-client-flatten: true
            type: object
        '400':
          description: 'Invalid request. Ensure that required parameters are given, and that addresses and address spaces are valid.'
        '404':
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
        - AppServicePlans
    put:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_CreateOrUpdateVnetRoute
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the Virtual Network.
          in: path
          name: vnetName
          required: true
          type: string
        - description: Name of the Virtual Network route.
          in: path
          name: routeName
          required: true
          type: string
        - description: Definition of the Virtual Network route.
          in: body
          name: route
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Virtual Network route contract used to pass routing information for a Virtual Network.
            properties:
              properties:
                description: VnetRoute resource specific properties
                properties:
                  endAddress:
                    description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                    type: string
                  name:
                    description: The name of this route. This is only returned by the server and does not need to be set by the client.
                    type: string
                    x-ms-client-name: vnetRouteName
                    x-ms-mutability:
                      - create
                      - read
                  routeType:
                    description: |-
                      The type of route this is:
                      DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                      INHERITED - Routes inherited from the real Virtual Network routes
                      STATIC - Static route set on the app only

                      These values will be used for syncing an app's routes with those from a Virtual Network.
                    enum:
                      - DEFAULT
                      - INHERITED
                      - STATIC
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: RouteType
                  startAddress:
                    description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                    type: string
                x-ms-client-flatten: true
            type: object
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          schema:
            allOf:
              - $ref: '#/definitions/ProxyOnlyResource'
            description: Virtual Network route contract used to pass routing information for a Virtual Network.
            properties:
              properties:
                description: VnetRoute resource specific properties
                properties:
                  endAddress:
                    description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
                    type: string
                  name:
                    description: The name of this route. This is only returned by the server and does not need to be set by the client.
                    type: string
                    x-ms-client-name: vnetRouteName
                    x-ms-mutability:
                      - create
                      - read
                  routeType:
                    description: |-
                      The type of route this is:
                      DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
                      INHERITED - Routes inherited from the real Virtual Network routes
                      STATIC - Static route set on the app only

                      These values will be used for syncing an app's routes with those from a Virtual Network.
                    enum:
                      - DEFAULT
                      - INHERITED
                      - STATIC
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: RouteType
                  startAddress:
                    description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
                    type: string
                x-ms-client-flatten: true
            type: object
        '400':
          description: 'Invalid request. Ensure that required parameters are given, and that addresses and address spaces are valid.'
        '404':
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
        - AppServicePlans
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/workers/{workerName}/reboot':
    post:
      description: Reboot a worker machine in an App Service plan.
      operationId: AppServicePlans_RebootWorker
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the App Service plan.
          in: path
          name: name
          required: true
          type: string
        - description: 'Name of worker machine, which typically starts with RD.'
          in: path
          name: workerName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      summary: Reboot a worker machine in an App Service plan.
      tags:
        - AppServicePlans
definitions:
  AppServicePlanPatchResource:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: ARM resource for a app service plan.
    properties:
      properties:
        description: AppServicePlanPatchResource resource specific properties
        properties:
          adminSiteName:
            description: App Service plan administration site.
            type: string
          geoRegion:
            description: Geographical location for the App Service plan.
            readOnly: true
            type: string
          hostingEnvironmentProfile:
            description: Specification for an App Service Environment to use for this resource.
            properties:
              id:
                description: Resource ID of the App Service Environment.
                type: string
              name:
                description: Name of the App Service Environment.
                readOnly: true
                type: string
              type:
                description: Resource type of the App Service Environment.
                readOnly: true
                type: string
            type: object
          isSpot:
            description: 'If <code>true</code>, this App Service Plan owns spot instances.'
            type: boolean
          maximumNumberOfWorkers:
            description: Maximum number of instances that can be assigned to this App Service plan.
            format: int32
            readOnly: true
            type: integer
          name:
            description: Name for the App Service plan.
            type: string
          numberOfSites:
            description: Number of apps assigned to this App Service plan.
            format: int32
            readOnly: true
            type: integer
          perSiteScaling:
            default: false
            description: |-
              If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
              If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
            type: boolean
          provisioningState:
            description: Provisioning state of the App Service Environment.
            enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: ProvisioningState
          reserved:
            default: false
            description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          resourceGroup:
            description: Resource group of the App Service plan.
            readOnly: true
            type: string
          spotExpirationTime:
            description: The time when the server farm expires. Valid only if it is a spot server farm.
            format: date-time
            type: string
          status:
            description: App Service plan status.
            enum:
              - Ready
              - Pending
              - Creating
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: StatusOptions
          subscription:
            description: App Service plan subscription.
            readOnly: true
            type: string
          targetWorkerCount:
            description: Scaling worker count.
            format: int32
            type: integer
          targetWorkerSizeId:
            description: Scaling worker size ID.
            format: int32
            type: integer
          workerTierName:
            description: Target worker tier assigned to the App Service plan.
            type: string
        required:
          - name
[...]
