swagger: '2.0'
info:
  version: '2012-10-25'
  x-release: v4
  title: AWS Direct Connect
  description: 'AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon EC2 and Amazon S3) and to Amazon VPC, bypassing Internet service providers in your network path. A connection provides access to all AWS Regions except the China (Beijing) and (China) Ningxia Regions. AWS resources in the China Regions can only be accessed through locations associated with those Regions.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: directconnect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/directconnect-2012-10-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/directconnect/'
host: directconnect.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AllocateConnectionOnInterconnect
      description: <p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateConnectionOnInterconnectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AllocateHostedConnection':
    post:
      operationId: AllocateHostedConnection
      description: <p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG).</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect or LAG.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateHostedConnectionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AllocatePrivateVirtualInterface':
    post:
      operationId: AllocatePrivateVirtualInterface
      description: '<p>Provisions a private virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePrivateVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AllocatePublicVirtualInterface':
    post:
      operationId: AllocatePublicVirtualInterface
      description: '<p>Provisions a public virtual interface to be owned by the specified AWS account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePublicVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AssociateConnectionWithLag':
    post:
      operationId: AssociateConnectionWithLag
      description: '<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS is interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that''s currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateConnectionWithLagRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AssociateHostedConnection':
    post:
      operationId: AssociateHostedConnection
      description: '<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection''s connectivity to AWS as it is being migrated.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateHostedConnectionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AssociateVirtualInterface':
    post:
      operationId: AssociateVirtualInterface
      description: '<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to AWS is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails.</p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>To reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG for the association.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ConfirmConnection':
    post:
      operationId: ConfirmConnection
      description: '<p>Confirms the creation of the specified hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and remains in this state until the owner confirms creation of the hosted connection.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmConnectionResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmConnectionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ConfirmPrivateVirtualInterface':
    post:
      operationId: ConfirmPrivateVirtualInterface
      description: '<p>Accepts ownership of a private virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the virtual interface is created and attached to the specified virtual private gateway or Direct Connect gateway, and is made available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ConfirmPublicVirtualInterface':
    post:
      operationId: ConfirmPublicVirtualInterface
      description: '<p>Accepts ownership of a public virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the specified virtual interface is created and made available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateBGPPeer':
    post:
      operationId: CreateBGPPeer
      description: '<p>Creates a BGP peer on the specified virtual interface.</p> <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access AWS resources that also use that address family.</p> <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot be in the same address family as an existing BGP peer on the virtual interface.</p> <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBGPPeerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateConnection':
    post:
      operationId: CreateConnection
      description: '<p>Creates a connection between a customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router.</p> <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection is created.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConnectionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDirectConnectGateway':
    post:
      operationId: CreateDirectConnectGateway
      description: 'Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any AWS Region after it is created. The virtual interfaces and virtual private gateways that are connected through a Direct Connect gateway can be in different AWS Regions. This enables you to connect to a VPC in any Region, regardless of the Region in which the virtual interfaces are located, and pass traffic between them.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDirectConnectGatewayAssociation':
    post:
      operationId: CreateDirectConnectGatewayAssociation
      description: Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateInterconnect':
    post:
      operationId: CreateInterconnect
      description: '<p>Creates an interconnect between an AWS Direct Connect partner''s network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection which is capable of hosting other connections. The partner can use an interconnect to provide sub-1Gbps AWS Direct Connect service to tier 2 customers who do not have their own connections. Like a standard connection, an interconnect links the partner''s network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end is connected to the partner''s router, the other to an AWS Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect is created.</p> <p>For each end customer, the AWS Direct Connect partner provisions a connection on their interconnect by calling <a>AllocateConnectionOnInterconnect</a>. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the partner.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnect'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInterconnectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLag':
    post:
      operationId: CreateLag
      description: '<p>Creates a link aggregation group (LAG) with the specified number of bundled physical connections between the customer network and a specific AWS Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple interfaces, enabling you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth and must terminate at the same AWS Direct Connect endpoint.</p> <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p> <p>You can specify an existing physical connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical connection or hosted connections, and re-establishes them as a member of the LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the connection terminates. Any virtual interfaces associated with the connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the AWS account used to create a LAG is a registered AWS Direct Connect partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLagRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreatePrivateVirtualInterface':
    post:
      operationId: CreatePrivateVirtualInterface
      description: 'Creates a private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW). Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple VPCs, including VPCs in different AWS Regions. Connecting the private virtual interface to a VGW only provides access to a single VPC within the same Region.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePrivateVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreatePublicVirtualInterface':
    post:
      operationId: CreatePublicVirtualInterface
      description: '<p>Creates a public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon S3.</p> <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code> and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePublicVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteBGPPeer':
    post:
      operationId: DeleteBGPPeer
      description: <p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p> <p>You cannot delete the last BGP peer from a virtual interface.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBGPPeerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteConnection':
    post:
      operationId: DeleteConnection
      description: '<p>Deletes the specified connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. If you are partnering with any third parties to connect with the AWS Direct Connect location, you must cancel your service with them separately.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConnectionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDirectConnectGateway':
    post:
      operationId: DeleteDirectConnectGateway
      description: Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are attached to the Direct Connect gateway and disassociate all virtual private gateways that are associated with the Direct Connect gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDirectConnectGatewayAssociation':
    post:
      operationId: DeleteDirectConnectGatewayAssociation
      description: Deletes the association between the specified Direct Connect gateway and virtual private gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteInterconnect':
    post:
      operationId: DeleteInterconnect
      description: <p>Deletes the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInterconnectResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInterconnectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLag':
    post:
      operationId: DeleteLag
      description: Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLagRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteVirtualInterface':
    post:
      operationId: DeleteVirtualInterface
      description: Deletes a virtual interface.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConnectionLoa':
    post:
      operationId: DescribeConnectionLoa
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for a connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionLoaRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConnections':
    post:
      operationId: DescribeConnections
      description: Displays the specified connection or all connections in this Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConnectionsOnInterconnect':
    post:
      operationId: DescribeConnectionsOnInterconnect
      description: <p>Deprecated. Use <a>DescribeHostedConnections</a> instead.</p> <p>Lists the connections that have been provisioned on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsOnInterconnectRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDirectConnectGatewayAssociations':
    post:
      operationId: DescribeDirectConnectGatewayAssociations
      description: 'Lists the associations between your Direct Connect gateways and virtual private gateways. You must specify a Direct Connect gateway, a virtual private gateway, or both. If you specify a Direct Connect gateway, the response contains all virtual private gateways associated with the Direct Connect gateway. If you specify a virtual private gateway, the response contains all Direct Connect gateways associated with the virtual private gateway. If you specify both, the response contains the association between the Direct Connect gateway and the virtual private gateway.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDirectConnectGatewayAttachments':
    post:
      operationId: DescribeDirectConnectGatewayAttachments
      description: 'Lists the attachments between your Direct Connect gateways and virtual interfaces. You must specify a Direct Connect gateway, a virtual interface, or both. If you specify a Direct Connect gateway, the response contains all virtual interfaces attached to the Direct Connect gateway. If you specify a virtual interface, the response contains all Direct Connect gateways attached to the virtual interface. If you specify both, the response contains the attachment between the Direct Connect gateway and the virtual interface.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDirectConnectGateways':
    post:
      operationId: DescribeDirectConnectGateways
      description: Lists all your Direct Connect gateways or only the specified Direct Connect gateway. Deleted Direct Connect gateways are not returned.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeHostedConnections':
    post:
      operationId: DescribeHostedConnections
      description: <p>Lists the hosted connections that have been provisioned on the specified interconnect or link aggregation group (LAG).</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHostedConnectionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeInterconnectLoa':
    post:
      operationId: DescribeInterconnectLoa
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for the specified interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeInterconnects':
    post:
      operationId: DescribeInterconnects
      description: Lists the interconnects owned by the AWS account or only the specified interconnect.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnects'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLags':
    post:
      operationId: DescribeLags
      description: Describes all your link aggregation groups (LAG) or the specified LAG.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lags'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoa':
    post:
      operationId: DescribeLoa
      description: '<p>Gets the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="http://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Loa'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoaRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLocations':
    post:
      operationId: DescribeLocations
      description: Lists the AWS Direct Connect locations in the current AWS Region. These are the locations that can be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Locations'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: Describes the tags associated with the specified AWS Direct Connect resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeVirtualGateways':
    post:
      operationId: DescribeVirtualGateways
      description: <p>Lists the virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linked to a virtual private gateway.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualGateways'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeVirtualInterfaces':
    post:
      operationId: DescribeVirtualInterfaces
      description: '<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer network.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterfaces'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeVirtualInterfacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateConnectionFromLag':
    post:
      operationId: DisassociateConnectionFromLag
      description: '<p>Disassociates a connection from a link aggregation group (LAG). The connection is interrupted and re-established as a standalone connection (the connection is not deleted; to delete the connection, use the <a>DeleteConnection</a> request). If the LAG has associated virtual interfaces or hosted connections, they remain associated with the LAG. A disassociated connection owned by an AWS Direct Connect partner is automatically converted to an interconnect.</p> <p>If disassociating the connection would cause the LAG to fall below its setting for minimum number of operational connections, the request fails, except when it''s the last member of the LAG. If all connections are disassociated, the LAG continues to exist as an empty LAG with no physical connections. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateConnectionFromLagRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TagResource':
    post:
      operationId: TagResource
      description: '<p>Adds the specified tags to the specified AWS Direct Connect resource. Each resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UntagResource':
    post:
      operationId: UntagResource
      description: Removes one or more tags from the specified AWS Direct Connect resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateLag':
    post:
      operationId: UpdateLag
      description: '<p>Updates the attributes of the specified link aggregation group (LAG).</p> <p>You can update the following attributes:</p> <ul> <li> <p>The name of the LAG.</p> </li> <li> <p>The value for the minimum number of connections that must be operational for the LAG itself to be operational. </p> </li> </ul> <p>When you create a LAG, the default value for the minimum number of operational connections is zero (0). If you update this value and the number of operational connections falls below the specified value, the LAG automatically goes down to avoid over-utilization of the remaining connections. Adjust this value with care, as it could force the LAG down if it is set higher than the current number of operational connections.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLagRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateVirtualInterfaceAttributes':
    post:
      operationId: UpdateVirtualInterfaceAttributes
      description: '<p>Updates the specified attributes of the specified virtual private interface.</p> <p>Setting the MTU of a virtual interface to 9001 (jumbo frames) can cause an update to the underlying physical connection if it wasn''t updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVirtualInterfaceAttributesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Connection:
    type: object
    properties:
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account that owns the connection.
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection.
      connectionName:
        $ref: '#/definitions/[object Object]'
        description: The name of the connection.
      connectionState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> </ul>'
      region:
        $ref: '#/definitions/[object Object]'
        description: The AWS Region where the connection is located.
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the connection.
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: The bandwidth of the connection.
      vlan:
        $ref: '#/definitions/[object Object]'
        description: The ID of the VLAN.
      partnerName:
        $ref: '#/definitions/[object Object]'
        description: The name of the AWS Direct Connect service provider associated with the connection.
      loaIssueTime:
        $ref: '#/definitions/[object Object]'
        description: The time of the most recent call to <a>DescribeLoa</a> for this connection.
      lagId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG.
      awsDevice:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint on which the physical connection terminates.
      jumboFrameCapable:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether jumbo frames (9001 MTU) are supported.
      awsDeviceV2:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint on which the physical connection terminates.
      hasLogicalRedundancy:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).
    description: Information about an AWS Direct Connect connection.
  AllocateConnectionOnInterconnectRequest:
    type: object
    required:
      - bandwidth
      - connectionName
      - ownerAccount
      - interconnectId
      - vlan
    properties:
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: 'The bandwidth of the connection, in Mbps. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, and 500Mbps.'
      connectionName:
        $ref: '#/definitions/[object Object]'
        description: The name of the provisioned connection.
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account of the customer for whom the connection will be provisioned.
      interconnectId:
        $ref: '#/definitions/[object Object]'
        description: 'The ID of the interconnect on which the connection will be provisioned. For example, dxcon-456abc78.'
      vlan:
        $ref: '#/definitions/[object Object]'
        description: The dedicated VLAN provisioned to the connection.
  DirectConnectServerException: {}
  DirectConnectClientException: {}
  AllocateHostedConnectionRequest:
    type: object
    required:
      - connectionId
      - ownerAccount
      - bandwidth
      - connectionName
      - vlan
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the interconnect or LAG.
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account ID of the customer for the connection.
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: 'The bandwidth of the hosted connection, in Mbps. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, and 500Mbps.'
      connectionName:
        $ref: '#/definitions/[object Object]'
        description: The name of the hosted connection.
      vlan:
        $ref: '#/definitions/[object Object]'
        description: The dedicated VLAN provisioned to the hosted connection.
  VirtualInterface:
    type: object
    properties:
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account that owns the virtual interface.
      virtualInterfaceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual interface.
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the connection.
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection.
      virtualInterfaceType:
        $ref: '#/definitions/[object Object]'
        description: The type of virtual interface. The possible values are <code>private</code> and <code>public</code>.
      virtualInterfaceName:
        $ref: '#/definitions/[object Object]'
        description: The name of the virtual interface assigned by the customer network.
      vlan:
        $ref: '#/definitions/[object Object]'
        description: The ID of the VLAN.
      asn:
        $ref: '#/definitions/[object Object]'
        description: The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.
      amazonSideAsn:
        $ref: '#/definitions/[object Object]'
        description: The autonomous system number (ASN) for the Amazon side of the connection.
      authKey:
        $ref: '#/definitions/[object Object]'
        description: The authentication key for BGP configuration.
      amazonAddress:
        $ref: '#/definitions/[object Object]'
        description: The IP address assigned to the Amazon interface.
      customerAddress:
        $ref: '#/definitions/[object Object]'
        description: The IP address assigned to the customer interface.
      addressFamily:
        $ref: '#/definitions/[object Object]'
        description: The address family for the BGP peer.
      virtualInterfaceState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> </ul>'
      customerRouterConfig:
        $ref: '#/definitions/[object Object]'
        description: The customer router configuration.
      mtu:
        $ref: '#/definitions/[object Object]'
        description: 'The maximum transmission unit (MTU), in bytes. The supported values are 1500 and 9001. The default value is 1500.'
      jumboFrameCapable:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether jumbo frames (9001 MTU) are supported.
      virtualGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual private gateway. Applies only to private virtual interfaces.
      directConnectGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the Direct Connect gateway.
      routeFilterPrefixes:
        $ref: '#/definitions/[object Object]'
        description: The routes to be advertised to the AWS network in this Region. Applies to public virtual interfaces.
      bgpPeers:
        $ref: '#/definitions/[object Object]'
        description: The BGP peers configured on this virtual interface.
      region:
        $ref: '#/definitions/[object Object]'
        description: The AWS Region where the virtual interface is located.
      awsDeviceV2:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint on which the virtual interface terminates.
    description: Information about a virtual interface.
  AllocatePrivateVirtualInterfaceRequest:
    type: object
    required:
      - connectionId
      - ownerAccount
      - newPrivateVirtualInterfaceAllocation
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection on which the private virtual interface is provisioned.
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account that owns the virtual private interface.
      newPrivateVirtualInterfaceAllocation:
        $ref: '#/definitions/[object Object]'
        description: Information about the private virtual interface.
  AllocatePublicVirtualInterfaceRequest:
    type: object
    required:
      - connectionId
      - ownerAccount
      - newPublicVirtualInterfaceAllocation
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection on which the public virtual interface is provisioned.
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account that owns the public virtual interface.
      newPublicVirtualInterfaceAllocation:
        $ref: '#/definitions/[object Object]'
        description: Information about the public virtual interface.
  AssociateConnectionWithLagRequest:
    type: object
    required:
      - connectionId
      - lagId
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: 'The ID of the connection. For example, dxcon-abc123.'
      lagId:
        $ref: '#/definitions/[object Object]'
        description: 'The ID of the LAG with which to associate the connection. For example, dxlag-abc123.'
  AssociateHostedConnectionRequest:
    type: object
    required:
      - connectionId
      - parentConnectionId
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the hosted connection.
      parentConnectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the interconnect or the LAG.
  AssociateVirtualInterfaceRequest:
    type: object
    required:
      - virtualInterfaceId
      - connectionId
    properties:
      virtualInterfaceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual interface.
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG or connection.
  ConfirmConnectionResponse:
    type: object
    properties:
      connectionState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> </ul>'
  ConfirmConnectionRequest:
    type: object
    required:
      - connectionId
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the hosted connection.
  ConfirmPrivateVirtualInterfaceResponse:
    type: object
    properties:
      virtualInterfaceState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> </ul>'
  ConfirmPrivateVirtualInterfaceRequest:
    type: object
    required:
      - virtualInterfaceId
    properties:
      virtualInterfaceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual interface.
      virtualGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual private gateway.
      directConnectGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the Direct Connect gateway.
  ConfirmPublicVirtualInterfaceResponse:
    type: object
    properties:
      virtualInterfaceState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> </ul>'
  ConfirmPublicVirtualInterfaceRequest:
    type: object
    required:
      - virtualInterfaceId
    properties:
      virtualInterfaceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual interface.
  CreateBGPPeerResponse:
    type: object
    properties:
      virtualInterface:
        $ref: '#/definitions/[object Object]'
        description: The virtual interface.
  CreateBGPPeerRequest:
    type: object
    properties:
      virtualInterfaceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual interface.
      newBGPPeer:
        $ref: '#/definitions/[object Object]'
        description: Information about the BGP peer.
  CreateConnectionRequest:
    type: object
    required:
      - location
      - bandwidth
      - connectionName
    properties:
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the connection.
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: The bandwidth of the connection.
      connectionName:
        $ref: '#/definitions/[object Object]'
        description: The name of the connection.
      lagId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG.
  CreateDirectConnectGatewayResult:
    type: object
    properties:
      directConnectGateway:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect gateway.
  CreateDirectConnectGatewayRequest:
    type: object
    required:
      - directConnectGatewayName
    properties:
      directConnectGatewayName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Direct Connect gateway.
      amazonSideAsn:
        $ref: '#/definitions/[object Object]'
        description: 'The autonomous system number (ASN) for Border Gateway Protocol (BGP) to be configured on the Amazon side of the connection. The ASN must be in the private range of 64,512 to 65,534 or 4,200,000,000 to 4,294,967,294. The default is 64512.'
  CreateDirectConnectGatewayAssociationResult:
    type: object
    properties:
      directConnectGatewayAssociation:
        $ref: '#/definitions/[object Object]'
        description: The association to be created.
  CreateDirectConnectGatewayAssociationRequest:
    type: object
    required:
      - directConnectGatewayId
      - virtualGatewayId
    properties:
      directConnectGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the Direct Connect gateway.
      virtualGatewayId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the virtual private gateway.
  Interconnect:
    type: object
    properties:
      interconnectId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the interconnect.
      interconnectName:
        $ref: '#/definitions/[object Object]'
        description: The name of the interconnect.
      interconnectState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the interconnect. The following are the possible values:</p> <ul> <li> <p> <code>requested</code>: The initial state of an interconnect. The interconnect stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The interconnect is approved, and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up, and the interconnect is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The interconnect is being deleted.</p> </li> <li> <p> <code>deleted</code>: The interconnect is deleted.</p> </li> </ul>'
      region:
        $ref: '#/definitions/[object Object]'
        description: The AWS Region where the connection is located.
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the connection.
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: The bandwidth of the connection.
      loaIssueTime:
        $ref: '#/definitions/[object Object]'
        description: The time of the most recent call to <a>DescribeLoa</a> for this connection.
      lagId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG.
      awsDevice:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint on which the physical connection terminates.
      jumboFrameCapable:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether jumbo frames (9001 MTU) are supported.
      awsDeviceV2:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint on which the physical connection terminates.
      hasLogicalRedundancy:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether the interconnect supports a secondary BGP in the same address family (IPv4/IPv6).
    description: Information about an interconnect.
  CreateInterconnectRequest:
    type: object
    required:
      - interconnectName
      - bandwidth
      - location
    properties:
      interconnectName:
        $ref: '#/definitions/[object Object]'
        description: The name of the interconnect.
      bandwidth:
        $ref: '#/definitions/[object Object]'
        description: 'The port bandwidth, in Gbps. The possible values are 1 and 10.'
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the interconnect.
      lagId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG.
  Lag:
    type: object
    properties:
      connectionsBandwidth:
        $ref: '#/definitions/[object Object]'
        description: The individual bandwidth of the physical connections bundled by the LAG. The possible values are 1Gbps and 10Gbps.
      numberOfConnections:
        $ref: '#/definitions/[object Object]'
        description: 'The number of physical connections bundled by the LAG, up to a maximum of 10.'
      lagId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the LAG.
      ownerAccount:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS account that owns the LAG.
      lagName:
        $ref: '#/definitions/[object Object]'
        description: The name of the LAG.
      lagState:
        $ref: '#/definitions/[object Object]'
        description: '<p>The state of the LAG. The following are the possible values:</p> <ul> <li> <p> <code>requested</code>: The initial state of a LAG. The LAG stays in the requested state until the Letter of Authorization (LOA) is available.</p> </li> <li> <p> <code>pending</code>: The LAG has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is established and the LAG is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The LAG is being deleted.</p> </li> <li> <p> <code>deleted</code>: The LAG is deleted.</p> </li> </ul>'
      location:
        $ref: '#/definitions/[object Object]'
        description: The location of the LAG.
      region:
        $ref: '#/definitions/[object Object]'
        description: The AWS Region where the connection is located.
      minimumLinks:
        $ref: '#/definitions/[object Object]'
        description: The minimum number of physical connections that must be operational for the LAG itself to be operational.
      awsDevice:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint that hosts the LAG.
      awsDeviceV2:
        $ref: '#/definitions/[object Object]'
        description: The Direct Connect endpoint that hosts the LAG.
      connections:
        $ref: '#/definitions/[object Object]'
        description: The connections bundled by the LAG.
      allowsHostedConnections:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether the LAG can host other connections.
      jumboFrameCapable:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether jumbo frames (9001 MTU) are supported.
      hasLogicalRedundancy:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether the LAG supports a secondary BGP peer in the same address family (IPv4/IPv6).
    description: Information about a link aggregation group (LAG).
  CreateLagRequest:
    type: object
    required:
      - numberOfConnections
      - location
      - connectionsBandwidth
      - lagName
    properties:
      numberOfConnections:
        $ref: '#/definitions/[object Object]'
        description: The number of physical connections initially provisioned and bundled by the LAG.
      location:
        $ref: '#/definitions/[object Object]'
        description: The location for the LAG.
      connectionsBandwidth:
        $ref: '#/definitions/[object Object]'
        description: The bandwidth of the individual physical connections bundled by the LAG. The possible values are 1Gbps and 10Gbps.
      lagName:
        $ref: '#/definitions/[object Object]'
        description: The name of the LAG.
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of an existing connection to migrate to the LAG.
  CreatePrivateVirtualInterfaceRequest:
    type: object
    required:
      - connectionId
      - newPrivateVirtualInterface
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection.
      newPrivateVirtualInterface:
        $ref: '#/definitions/[object Object]'
        description: Information about the private virtual interface.
  CreatePublicVirtualInterfaceRequest:
    type: object
    required:
      - connectionId
      - newPublicVirtualInterface
    properties:
      connectionId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the connection.
      newPublicVirtualInterface:
[...]
