swagger: '2.0'
schemes:
  - https
  - http
host: directconnect.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon EC2 and Amazon S3) and to Amazon VPC, bypassing Internet service providers in your network path. A connection provides access to all AWS Regions except the China (Beijing) and (China) Ningxia Regions. AWS resources in the China Regions can only be accessed through locations associated with those Regions.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Direct Connect
  version: '2012-10-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/directconnect-2012-10-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: directconnect
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/directconnect/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=OvertureService.AcceptDirectConnectGatewayAssociationProposal':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.
      operationId: AcceptDirectConnectGatewayAssociationProposal
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AcceptDirectConnectGatewayAssociationProposalRequest'
        - enum:
            - OvertureService.AcceptDirectConnectGatewayAssociationProposal
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AllocateConnectionOnInterconnect':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      deprecated: true
      description: <p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      operationId: AllocateConnectionOnInterconnect
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AllocateConnectionOnInterconnectRequest'
        - enum:
            - OvertureService.AllocateConnectionOnInterconnect
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AllocateHostedConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p> <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. AWS polices the hosted connection for the specified capacity and the AWS Direct Connect Partner must also police the hosted connection for the specified capacity.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      operationId: AllocateHostedConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AllocateHostedConnectionRequest'
        - enum:
            - OvertureService.AllocateHostedConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AllocatePrivateVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Provisions a private virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>'
      operationId: AllocatePrivateVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePrivateVirtualInterfaceRequest'
        - enum:
            - OvertureService.AllocatePrivateVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AllocatePublicVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Provisions a public virtual interface to be owned by the specified AWS account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>'
      operationId: AllocatePublicVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePublicVirtualInterfaceRequest'
        - enum:
            - OvertureService.AllocatePublicVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AllocateTransitVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Provisions a transit virtual interface to be owned by the specified AWS account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p> <p>The owner of a connection provisions a transit virtual interface to be owned by the specified AWS account.</p> <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>'
      operationId: AllocateTransitVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AllocateTransitVirtualInterfaceRequest'
        - enum:
            - OvertureService.AllocateTransitVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateTransitVirtualInterfaceResult'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AssociateConnectionWithLag':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS is interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that''s currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>'
      operationId: AssociateConnectionWithLag
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateConnectionWithLagRequest'
        - enum:
            - OvertureService.AssociateConnectionWithLag
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AssociateHostedConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection''s connectivity to AWS as it is being migrated.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>'
      operationId: AssociateHostedConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateHostedConnectionRequest'
        - enum:
            - OvertureService.AssociateHostedConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.AssociateVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to AWS is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails.</p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>To reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG for the association.</p>'
      operationId: AssociateVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateVirtualInterfaceRequest'
        - enum:
            - OvertureService.AssociateVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.ConfirmConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Confirms the creation of the specified hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and remains in this state until the owner confirms creation of the hosted connection.</p>'
      operationId: ConfirmConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmConnectionRequest'
        - enum:
            - OvertureService.ConfirmConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmConnectionResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.ConfirmPrivateVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Accepts ownership of a private virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the virtual interface is created and attached to the specified virtual private gateway or Direct Connect gateway, and is made available to handle traffic.</p>'
      operationId: ConfirmPrivateVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceRequest'
        - enum:
            - OvertureService.ConfirmPrivateVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.ConfirmPublicVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Accepts ownership of a public virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the specified virtual interface is created and made available to handle traffic.</p>'
      operationId: ConfirmPublicVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceRequest'
        - enum:
            - OvertureService.ConfirmPublicVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.ConfirmTransitVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Accepts ownership of a transit virtual interface created by another AWS account.</p> <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>'
      operationId: ConfirmTransitVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmTransitVirtualInterfaceRequest'
        - enum:
            - OvertureService.ConfirmTransitVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmTransitVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateBGPPeer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a BGP peer on the specified virtual interface.</p> <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access AWS resources that also use that address family.</p> <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot be in the same address family as an existing BGP peer on the virtual interface.</p> <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>'
      operationId: CreateBGPPeer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateBGPPeerRequest'
        - enum:
            - OvertureService.CreateBGPPeer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a connection between a customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router.</p> <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection is created.</p>'
      operationId: CreateConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateConnectionRequest'
        - enum:
            - OvertureService.CreateConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGateway':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any AWS Region after it is created. The virtual interfaces and virtual private gateways that are connected through a Direct Connect gateway can be in different AWS Regions. This enables you to connect to a VPC in any Region, regardless of the Region in which the virtual interfaces are located, and pass traffic between them.'
      operationId: CreateDirectConnectGateway
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayRequest'
        - enum:
            - OvertureService.CreateDirectConnectGateway
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGatewayAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.
      operationId: CreateDirectConnectGatewayAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationRequest'
        - enum:
            - OvertureService.CreateDirectConnectGatewayAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGatewayAssociationProposal':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p> <p>You can only associate a Direct Connect gateway and virtual private gateway or transit gateway when the account that owns the Direct Connect gateway and the account that owns the virtual private gateway or transit gateway have the same AWS Payer ID.</p>
      operationId: CreateDirectConnectGatewayAssociationProposal
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationProposalRequest'
        - enum:
            - OvertureService.CreateDirectConnectGatewayAssociationProposal
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateInterconnect':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an interconnect between an AWS Direct Connect Partner''s network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection that is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide AWS Direct Connect hosted connections to customers through their own network services. Like a standard connection, an interconnect links the partner''s network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end is connected to the partner''s router, the other to an AWS Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect is created.</p> <p>For each end customer, the AWS Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect Partner.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>'
      operationId: CreateInterconnect
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateInterconnectRequest'
        - enum:
            - OvertureService.CreateInterconnect
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnect'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateLag':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a link aggregation group (LAG) with the specified number of bundled physical connections between the customer network and a specific AWS Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple interfaces, enabling you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth and must terminate at the same AWS Direct Connect endpoint.</p> <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p> <p>You can specify an existing physical connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical connection or hosted connections, and re-establishes them as a member of the LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the connection terminates. Any virtual interfaces associated with the connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the AWS account used to create a LAG is a registered AWS Direct Connect Partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>'
      operationId: CreateLag
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateLagRequest'
        - enum:
            - OvertureService.CreateLag
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreatePrivateVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW). Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple VPCs, including VPCs in different AWS Regions. Connecting the private virtual interface to a VGW only provides access to a single VPC within the same Region.'
      operationId: CreatePrivateVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePrivateVirtualInterfaceRequest'
        - enum:
            - OvertureService.CreatePrivateVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreatePublicVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon S3.</p> <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code> and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>'
      operationId: CreatePublicVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePublicVirtualInterfaceRequest'
        - enum:
            - OvertureService.CreatePublicVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.CreateTransitVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p> <important> <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p> </important>'
      operationId: CreateTransitVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateTransitVirtualInterfaceRequest'
        - enum:
            - OvertureService.CreateTransitVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTransitVirtualInterfaceResult'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteBGPPeer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p> <p>You cannot delete the last BGP peer from a virtual interface.</p>
      operationId: DeleteBGPPeer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBGPPeerRequest'
        - enum:
            - OvertureService.DeleteBGPPeer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. If you are partnering with any third parties to connect with the AWS Direct Connect location, you must cancel your service with them separately.</p>'
      operationId: DeleteConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConnectionRequest'
        - enum:
            - OvertureService.DeleteConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGateway':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are attached to the Direct Connect gateway and disassociate all virtual private gateways that are associated with the Direct Connect gateway.
      operationId: DeleteDirectConnectGateway
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayRequest'
        - enum:
            - OvertureService.DeleteDirectConnectGateway
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGatewayAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the association between the specified Direct Connect gateway and virtual private gateway.
      operationId: DeleteDirectConnectGatewayAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationRequest'
        - enum:
            - OvertureService.DeleteDirectConnectGatewayAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGatewayAssociationProposal':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the association proposal request between the specified Direct Connect gateway and virtual private gateway or transit gateway.
      operationId: DeleteDirectConnectGatewayAssociationProposal
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationProposalRequest'
        - enum:
            - OvertureService.DeleteDirectConnectGatewayAssociationProposal
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteInterconnect':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      operationId: DeleteInterconnect
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInterconnectRequest'
        - enum:
            - OvertureService.DeleteInterconnect
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInterconnectResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteLag':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.
      operationId: DeleteLag
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLagRequest'
        - enum:
            - OvertureService.DeleteLag
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DeleteVirtualInterface':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a virtual interface.
      operationId: DeleteVirtualInterface
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceRequest'
        - enum:
            - OvertureService.DeleteVirtualInterface
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeConnectionLoa':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      deprecated: true
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for a connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      operationId: DescribeConnectionLoa
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionLoaRequest'
        - enum:
            - OvertureService.DescribeConnectionLoa
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeConnections':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Displays the specified connection or all connections in this Region.
      operationId: DescribeConnections
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsRequest'
        - enum:
            - OvertureService.DescribeConnections
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeConnectionsOnInterconnect':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      deprecated: true
      description: <p>Deprecated. Use <a>DescribeHostedConnections</a> instead.</p> <p>Lists the connections that have been provisioned on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      operationId: DescribeConnectionsOnInterconnect
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsOnInterconnectRequest'
        - enum:
            - OvertureService.DescribeConnectionsOnInterconnect
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAssociationProposals':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes one or more association proposals for connection between a virtual private gateway or transit gateway and a Direct Connect gateway. '
      operationId: DescribeDirectConnectGatewayAssociationProposals
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationProposalsRequest'
        - enum:
            - OvertureService.DescribeDirectConnectGatewayAssociationProposals
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationProposalsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAssociations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the associations between your Direct Connect gateways and virtual private gateways. You must specify a Direct Connect gateway, a virtual private gateway, or both. If you specify a Direct Connect gateway, the response contains all virtual private gateways associated with the Direct Connect gateway. If you specify a virtual private gateway, the response contains all Direct Connect gateways associated with the virtual private gateway. If you specify both, the response contains the association between the Direct Connect gateway and the virtual private gateway.'
      operationId: DescribeDirectConnectGatewayAssociations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsRequest'
        - enum:
            - OvertureService.DescribeDirectConnectGatewayAssociations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAttachments':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the attachments between your Direct Connect gateways and virtual interfaces. You must specify a Direct Connect gateway, a virtual interface, or both. If you specify a Direct Connect gateway, the response contains all virtual interfaces attached to the Direct Connect gateway. If you specify a virtual interface, the response contains all Direct Connect gateways attached to the virtual interface. If you specify both, the response contains the attachment between the Direct Connect gateway and the virtual interface.'
      operationId: DescribeDirectConnectGatewayAttachments
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsRequest'
        - enum:
            - OvertureService.DescribeDirectConnectGatewayAttachments
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGateways':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all your Direct Connect gateways or only the specified Direct Connect gateway. Deleted Direct Connect gateways are not returned.
      operationId: DescribeDirectConnectGateways
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysRequest'
        - enum:
            - OvertureService.DescribeDirectConnectGateways
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeHostedConnections':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Lists the hosted connections that have been provisioned on the specified interconnect or link aggregation group (LAG).</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      operationId: DescribeHostedConnections
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHostedConnectionsRequest'
        - enum:
            - OvertureService.DescribeHostedConnections
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeInterconnectLoa':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      deprecated: true
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for the specified interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      operationId: DescribeInterconnectLoa
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaRequest'
        - enum:
            - OvertureService.DescribeInterconnectLoa
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeInterconnects':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the interconnects owned by the AWS account or only the specified interconnect.
      operationId: DescribeInterconnects
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectsRequest'
        - enum:
            - OvertureService.DescribeInterconnects
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnects'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeLags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes all your link aggregation groups (LAG) or the specified LAG.
      operationId: DescribeLags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLagsRequest'
        - enum:
            - OvertureService.DescribeLags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lags'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeLoa':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      operationId: DescribeLoa
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoaRequest'
        - enum:
            - OvertureService.DescribeLoa
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Loa'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeLocations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the AWS Direct Connect locations in the current AWS Region. These are the locations that can be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.
      operationId: DescribeLocations
      parameters:
        - enum:
            - OvertureService.DescribeLocations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Locations'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the tags associated with the specified AWS Direct Connect resources.
      operationId: DescribeTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsRequest'
        - enum:
            - OvertureService.DescribeTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeVirtualGateways':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Lists the virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linked to a virtual private gateway.</p>
      operationId: DescribeVirtualGateways
      parameters:
        - enum:
            - OvertureService.DescribeVirtualGateways
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualGateways'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DescribeVirtualInterfaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer network.</p>'
      operationId: DescribeVirtualInterfaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeVirtualInterfacesRequest'
        - enum:
            - OvertureService.DescribeVirtualInterfaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterfaces'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.DisassociateConnectionFromLag':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disassociates a connection from a link aggregation group (LAG). The connection is interrupted and re-established as a standalone connection (the connection is not deleted; to delete the connection, use the <a>DeleteConnection</a> request). If the LAG has associated virtual interfaces or hosted connections, they remain associated with the LAG. A disassociated connection owned by an AWS Direct Connect Partner is automatically converted to an interconnect.</p> <p>If disassociating the connection would cause the LAG to fall below its setting for minimum number of operational connections, the request fails, except when it''s the last member of the LAG. If all connections are disassociated, the LAG continues to exist as an empty LAG with no physical connections. </p>'
      operationId: DisassociateConnectionFromLag
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateConnectionFromLagRequest'
        - enum:
            - OvertureService.DisassociateConnectionFromLag
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds the specified tags to the specified AWS Direct Connect resource. Each resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p>'
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - OvertureService.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes one or more tags from the specified AWS Direct Connect resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - OvertureService.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.UpdateDirectConnectGatewayAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the specified attributes of the Direct Connect gateway association.</p> <p>Add or remove prefixes from the association.</p>
      operationId: UpdateDirectConnectGatewayAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDirectConnectGatewayAssociationRequest'
        - enum:
            - OvertureService.UpdateDirectConnectGatewayAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.UpdateLag':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the attributes of the specified link aggregation group (LAG).</p> <p>You can update the following attributes:</p> <ul> <li> <p>The name of the LAG.</p> </li> <li> <p>The value for the minimum number of connections that must be operational for the LAG itself to be operational. </p> </li> </ul> <p>When you create a LAG, the default value for the minimum number of operational connections is zero (0). If you update this value and the number of operational connections falls below the specified value, the LAG automatically goes down to avoid over-utilization of the remaining connections. Adjust this value with care, as it could force the LAG down if it is set higher than the current number of operational connections.</p>'
      operationId: UpdateLag
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLagRequest'
        - enum:
            - OvertureService.UpdateLag
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
  '/#X-Amz-Target=OvertureService.UpdateVirtualInterfaceAttributes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the specified attributes of the specified virtual private interface.</p> <p>Setting the MTU of a virtual interface to 9001 (jumbo frames) can cause an update to the underlying physical connection if it wasn''t updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>'
      operationId: UpdateVirtualInterfaceAttributes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVirtualInterfaceAttributesRequest'
        - enum:
            - OvertureService.UpdateVirtualInterfaceAttributes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
definitions:
  ASN:
    type: integer
  AcceptDirectConnectGatewayAssociationProposalRequest:
    properties:
      associatedGatewayOwnerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the virtual private gateway or transit gateway.
      directConnectGatewayId:
        $ref: '#/definitions/DirectConnectGatewayId'
        description: The ID of the Direct Connect gateway.
      overrideAllowedPrefixesToDirectConnectGateway:
        $ref: '#/definitions/RouteFilterPrefixList'
        description: '<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p> <p>For information about how to set the prefixes, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      proposalId:
        $ref: '#/definitions/DirectConnectGatewayAssociationProposalId'
        description: The ID of the request proposal.
    required:
      - directConnectGatewayId
      - proposalId
      - associatedGatewayOwnerAccount
    type: object
  AcceptDirectConnectGatewayAssociationProposalResult:
    properties:
      directConnectGatewayAssociation:
        $ref: '#/definitions/DirectConnectGatewayAssociation'
    type: object
  AddressFamily:
    enum:
      - ipv4
      - ipv6
    type: string
  AllocateConnectionOnInterconnectRequest:
    properties:
      bandwidth:
        $ref: '#/definitions/Bandwidth'
        description: 'The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection.'
      connectionName:
        $ref: '#/definitions/ConnectionName'
        description: The name of the provisioned connection.
      interconnectId:
        $ref: '#/definitions/InterconnectId'
        description: The ID of the interconnect on which the connection will be provisioned.
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account of the customer for whom the connection will be provisioned.
      vlan:
        $ref: '#/definitions/VLAN'
        description: The dedicated VLAN provisioned to the connection.
    required:
      - bandwidth
      - connectionName
      - ownerAccount
      - interconnectId
      - vlan
    type: object
  AllocateHostedConnectionRequest:
    properties:
      bandwidth:
        $ref: '#/definitions/Bandwidth'
        description: 'The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection. '
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the interconnect or LAG.
      connectionName:
        $ref: '#/definitions/ConnectionName'
        description: The name of the hosted connection.
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account ID of the customer for the connection.
      tags:
        $ref: '#/definitions/TagList'
        description: The tags to assign to the hosted connection.
      vlan:
        $ref: '#/definitions/VLAN'
        description: The dedicated VLAN provisioned to the hosted connection.
    required:
      - connectionId
      - ownerAccount
      - bandwidth
      - connectionName
      - vlan
    type: object
  AllocatePrivateVirtualInterfaceRequest:
    properties:
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the connection on which the private virtual interface is provisioned.
      newPrivateVirtualInterfaceAllocation:
        $ref: '#/definitions/NewPrivateVirtualInterfaceAllocation'
        description: Information about the private virtual interface.
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the virtual private interface.
    required:
      - connectionId
      - ownerAccount
      - newPrivateVirtualInterfaceAllocation
    type: object
  AllocatePublicVirtualInterfaceRequest:
    properties:
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the connection on which the public virtual interface is provisioned.
      newPublicVirtualInterfaceAllocation:
        $ref: '#/definitions/NewPublicVirtualInterfaceAllocation'
        description: Information about the public virtual interface.
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the public virtual interface.
    required:
      - connectionId
      - ownerAccount
      - newPublicVirtualInterfaceAllocation
    type: object
  AllocateTransitVirtualInterfaceRequest:
    properties:
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the connection on which the transit virtual interface is provisioned.
      newTransitVirtualInterfaceAllocation:
        $ref: '#/definitions/NewTransitVirtualInterfaceAllocation'
        description: Information about the transit virtual interface.
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the transit virtual interface.
    required:
      - connectionId
      - ownerAccount
      - newTransitVirtualInterfaceAllocation
    type: object
  AllocateTransitVirtualInterfaceResult:
    properties:
      virtualInterface:
        $ref: '#/definitions/VirtualInterface'
    type: object
  AmazonAddress:
    type: string
  AssociateConnectionWithLagRequest:
    properties:
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the connection.
      lagId:
        $ref: '#/definitions/LagId'
        description: The ID of the LAG with which to associate the connection.
    required:
      - connectionId
      - lagId
    type: object
  AssociateHostedConnectionRequest:
    properties:
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the hosted connection.
      parentConnectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the interconnect or the LAG.
    required:
      - connectionId
      - parentConnectionId
    type: object
  AssociateVirtualInterfaceRequest:
    properties:
[...]
