swagger: '2.0'
info:
  version: '2012-10-25'
  x-release: v4
  title: AWS Direct Connect
  description: 'AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon EC2 and Amazon S3) and to Amazon VPC, bypassing Internet service providers in your network path. A connection provides access to all AWS Regions except the China (Beijing) and (China) Ningxia Regions. AWS resources in the China Regions can only be accessed through locations associated with those Regions.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: directconnect
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/directconnect-2012-10-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/directconnect/'
host: directconnect.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://directconnect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Direct Connect multi-region endpoint
  - url: 'https://directconnect.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Direct Connect multi-region endpoint
  - url: 'http://directconnect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Direct Connect endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://directconnect.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Direct Connect endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=OvertureService.AcceptDirectConnectGatewayAssociationProposal':
    post:
      operationId: AcceptDirectConnectGatewayAssociationProposal
      description: Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptDirectConnectGatewayAssociationProposalRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AcceptDirectConnectGatewayAssociationProposal
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AllocateConnectionOnInterconnect':
    post:
      deprecated: true
      operationId: AllocateConnectionOnInterconnect
      description: <p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateConnectionOnInterconnectRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AllocateConnectionOnInterconnect
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AllocateHostedConnection':
    post:
      operationId: AllocateHostedConnection
      description: <p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p> <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. AWS polices the hosted connection for the specified capacity and the AWS Direct Connect Partner must also police the hosted connection for the specified capacity.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateHostedConnectionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AllocateHostedConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AllocatePrivateVirtualInterface':
    post:
      operationId: AllocatePrivateVirtualInterface
      description: '<p>Provisions a private virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePrivateVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AllocatePrivateVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AllocatePublicVirtualInterface':
    post:
      operationId: AllocatePublicVirtualInterface
      description: '<p>Provisions a public virtual interface to be owned by the specified AWS account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocatePublicVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AllocatePublicVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AllocateTransitVirtualInterface':
    post:
      operationId: AllocateTransitVirtualInterface
      description: '<p>Provisions a transit virtual interface to be owned by the specified AWS account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p> <p>The owner of a connection provisions a transit virtual interface to be owned by the specified AWS account.</p> <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateTransitVirtualInterfaceResult'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateTransitVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AllocateTransitVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AssociateConnectionWithLag':
    post:
      operationId: AssociateConnectionWithLag
      description: '<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS is interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that''s currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateConnectionWithLagRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AssociateConnectionWithLag
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AssociateHostedConnection':
    post:
      operationId: AssociateHostedConnection
      description: '<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection''s connectivity to AWS as it is being migrated.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateHostedConnectionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AssociateHostedConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.AssociateVirtualInterface':
    post:
      operationId: AssociateVirtualInterface
      description: '<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to AWS is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails.</p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>To reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG for the association.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.AssociateVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.ConfirmConnection':
    post:
      operationId: ConfirmConnection
      description: '<p>Confirms the creation of the specified hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and remains in this state until the owner confirms creation of the hosted connection.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmConnectionResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmConnectionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.ConfirmConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.ConfirmPrivateVirtualInterface':
    post:
      operationId: ConfirmPrivateVirtualInterface
      description: '<p>Accepts ownership of a private virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the virtual interface is created and attached to the specified virtual private gateway or Direct Connect gateway, and is made available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPrivateVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.ConfirmPrivateVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.ConfirmPublicVirtualInterface':
    post:
      operationId: ConfirmPublicVirtualInterface
      description: '<p>Accepts ownership of a public virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the specified virtual interface is created and made available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPublicVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.ConfirmPublicVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.ConfirmTransitVirtualInterface':
    post:
      operationId: ConfirmTransitVirtualInterface
      description: '<p>Accepts ownership of a transit virtual interface created by another AWS account.</p> <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmTransitVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmTransitVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.ConfirmTransitVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateBGPPeer':
    post:
      operationId: CreateBGPPeer
      description: '<p>Creates a BGP peer on the specified virtual interface.</p> <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access AWS resources that also use that address family.</p> <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot be in the same address family as an existing BGP peer on the virtual interface.</p> <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBGPPeerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateBGPPeer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateConnection':
    post:
      operationId: CreateConnection
      description: '<p>Creates a connection between a customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router.</p> <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection is created.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConnectionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGateway':
    post:
      operationId: CreateDirectConnectGateway
      description: 'Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any AWS Region after it is created. The virtual interfaces and virtual private gateways that are connected through a Direct Connect gateway can be in different AWS Regions. This enables you to connect to a VPC in any Region, regardless of the Region in which the virtual interfaces are located, and pass traffic between them.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateDirectConnectGateway
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGatewayAssociation':
    post:
      operationId: CreateDirectConnectGatewayAssociation
      description: Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateDirectConnectGatewayAssociation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateDirectConnectGatewayAssociationProposal':
    post:
      operationId: CreateDirectConnectGatewayAssociationProposal
      description: <p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p> <p>You can only associate a Direct Connect gateway and virtual private gateway or transit gateway when the account that owns the Direct Connect gateway and the account that owns the virtual private gateway or transit gateway have the same AWS Payer ID.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectConnectGatewayAssociationProposalRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateDirectConnectGatewayAssociationProposal
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateInterconnect':
    post:
      operationId: CreateInterconnect
      description: '<p>Creates an interconnect between an AWS Direct Connect Partner''s network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection that is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide AWS Direct Connect hosted connections to customers through their own network services. Like a standard connection, an interconnect links the partner''s network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end is connected to the partner''s router, the other to an AWS Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect is created.</p> <p>For each end customer, the AWS Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect Partner.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnect'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInterconnectRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateInterconnect
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateLag':
    post:
      operationId: CreateLag
      description: '<p>Creates a link aggregation group (LAG) with the specified number of bundled physical connections between the customer network and a specific AWS Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple interfaces, enabling you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth and must terminate at the same AWS Direct Connect endpoint.</p> <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p> <p>You can specify an existing physical connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical connection or hosted connections, and re-establishes them as a member of the LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the connection terminates. Any virtual interfaces associated with the connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the AWS account used to create a LAG is a registered AWS Direct Connect Partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLagRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateLag
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreatePrivateVirtualInterface':
    post:
      operationId: CreatePrivateVirtualInterface
      description: 'Creates a private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW). Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple VPCs, including VPCs in different AWS Regions. Connecting the private virtual interface to a VGW only provides access to a single VPC within the same Region.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePrivateVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreatePrivateVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreatePublicVirtualInterface':
    post:
      operationId: CreatePublicVirtualInterface
      description: '<p>Creates a public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon S3.</p> <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code> and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePublicVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreatePublicVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.CreateTransitVirtualInterface':
    post:
      operationId: CreateTransitVirtualInterface
      description: '<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p> <important> <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTransitVirtualInterfaceResult'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTransitVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.CreateTransitVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteBGPPeer':
    post:
      operationId: DeleteBGPPeer
      description: <p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p> <p>You cannot delete the last BGP peer from a virtual interface.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBGPPeerResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBGPPeerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteBGPPeer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteConnection':
    post:
      operationId: DeleteConnection
      description: '<p>Deletes the specified connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. If you are partnering with any third parties to connect with the AWS Direct Connect location, you must cancel your service with them separately.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConnectionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGateway':
    post:
      operationId: DeleteDirectConnectGateway
      description: Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are attached to the Direct Connect gateway and disassociate all virtual private gateways associated with the Direct Connect gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteDirectConnectGateway
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGatewayAssociation':
    post:
      operationId: DeleteDirectConnectGatewayAssociation
      description: '<p>Deletes the association between the specified Direct Connect gateway and virtual private gateway.</p> <p>We recommend that you specify the <code>associationID</code> to delete the association. Alternatively, if you own virtual gateway and a Direct Connect gateway association, you can specify the <code>virtualGatewayId</code> and <code>directConnectGatewayId</code> to delete an association.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteDirectConnectGatewayAssociation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteDirectConnectGatewayAssociationProposal':
    post:
      operationId: DeleteDirectConnectGatewayAssociationProposal
      description: Deletes the association proposal request between the specified Direct Connect gateway and virtual private gateway or transit gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationProposalResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectConnectGatewayAssociationProposalRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteDirectConnectGatewayAssociationProposal
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteInterconnect':
    post:
      operationId: DeleteInterconnect
      description: <p>Deletes the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInterconnectResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInterconnectRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteInterconnect
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteLag':
    post:
      operationId: DeleteLag
      description: Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLagRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteLag
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DeleteVirtualInterface':
    post:
      operationId: DeleteVirtualInterface
      description: Deletes a virtual interface.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVirtualInterfaceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DeleteVirtualInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeConnectionLoa':
    post:
      deprecated: true
      operationId: DescribeConnectionLoa
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for a connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionLoaRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeConnectionLoa
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeConnections':
    post:
      operationId: DescribeConnections
      description: Displays the specified connection or all connections in this Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeConnections
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeConnectionsOnInterconnect':
    post:
      deprecated: true
      operationId: DescribeConnectionsOnInterconnect
      description: <p>Deprecated. Use <a>DescribeHostedConnections</a> instead.</p> <p>Lists the connections that have been provisioned on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsOnInterconnectRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeConnectionsOnInterconnect
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAssociationProposals':
    post:
      operationId: DescribeDirectConnectGatewayAssociationProposals
      description: 'Describes one or more association proposals for connection between a virtual private gateway or transit gateway and a Direct Connect gateway. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationProposalsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationProposalsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeDirectConnectGatewayAssociationProposals
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAssociations':
    post:
      operationId: DescribeDirectConnectGatewayAssociations
      description: 'Lists the associations between your Direct Connect gateways and virtual private gateways. You must specify a Direct Connect gateway, a virtual private gateway, or both. If you specify a Direct Connect gateway, the response contains all virtual private gateways associated with the Direct Connect gateway. If you specify a virtual private gateway, the response contains all Direct Connect gateways associated with the virtual private gateway. If you specify both, the response contains the association between the Direct Connect gateway and the virtual private gateway.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAssociationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeDirectConnectGatewayAssociations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGatewayAttachments':
    post:
      operationId: DescribeDirectConnectGatewayAttachments
      description: 'Lists the attachments between your Direct Connect gateways and virtual interfaces. You must specify a Direct Connect gateway, a virtual interface, or both. If you specify a Direct Connect gateway, the response contains all virtual interfaces attached to the Direct Connect gateway. If you specify a virtual interface, the response contains all Direct Connect gateways attached to the virtual interface. If you specify both, the response contains the attachment between the Direct Connect gateway and the virtual interface.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewayAttachmentsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeDirectConnectGatewayAttachments
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeDirectConnectGateways':
    post:
      operationId: DescribeDirectConnectGateways
      description: Lists all your Direct Connect gateways or only the specified Direct Connect gateway. Deleted Direct Connect gateways are not returned.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectConnectGatewaysRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeDirectConnectGateways
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeHostedConnections':
    post:
      operationId: DescribeHostedConnections
      description: <p>Lists the hosted connections that have been provisioned on the specified interconnect or link aggregation group (LAG).</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connections'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHostedConnectionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeHostedConnections
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeInterconnectLoa':
    post:
      deprecated: true
      operationId: DescribeInterconnectLoa
      description: '<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for the specified interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectLoaRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeInterconnectLoa
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeInterconnects':
    post:
      operationId: DescribeInterconnects
      description: Lists the interconnects owned by the AWS account or only the specified interconnect.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Interconnects'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInterconnectsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeInterconnects
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeLags':
    post:
      operationId: DescribeLags
      description: Describes all your link aggregation groups (LAG) or the specified LAG.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lags'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLagsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeLags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeLoa':
    post:
      operationId: DescribeLoa
      description: '<p>Gets the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Loa'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoaRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeLoa
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeLocations':
    post:
      operationId: DescribeLocations
      description: Lists the AWS Direct Connect locations in the current AWS Region. These are the locations that can be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Locations'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeLocations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeTags':
    post:
      operationId: DescribeTags
      description: Describes the tags associated with the specified AWS Direct Connect resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeVirtualGateways':
    post:
      operationId: DescribeVirtualGateways
      description: <p>Lists the virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linked to a virtual private gateway.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualGateways'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeVirtualGateways
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DescribeVirtualInterfaces':
    post:
      operationId: DescribeVirtualInterfaces
      description: '<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer network.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterfaces'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeVirtualInterfacesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DescribeVirtualInterfaces
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.DisassociateConnectionFromLag':
    post:
      operationId: DisassociateConnectionFromLag
      description: '<p>Disassociates a connection from a link aggregation group (LAG). The connection is interrupted and re-established as a standalone connection (the connection is not deleted; to delete the connection, use the <a>DeleteConnection</a> request). If the LAG has associated virtual interfaces or hosted connections, they remain associated with the LAG. A disassociated connection owned by an AWS Direct Connect Partner is automatically converted to an interconnect.</p> <p>If disassociating the connection would cause the LAG to fall below its setting for minimum number of operational connections, the request fails, except when it''s the last member of the LAG. If all connections are disassociated, the LAG continues to exist as an empty LAG with no physical connections. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Connection'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateConnectionFromLagRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.DisassociateConnectionFromLag
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.TagResource':
    post:
      operationId: TagResource
      description: '<p>Adds the specified tags to the specified AWS Direct Connect resource. Each resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '483':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.TagResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.UntagResource':
    post:
      operationId: UntagResource
      description: Removes one or more tags from the specified AWS Direct Connect resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.UntagResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.UpdateDirectConnectGatewayAssociation':
    post:
      operationId: UpdateDirectConnectGatewayAssociation
      description: <p>Updates the specified attributes of the Direct Connect gateway association.</p> <p>Add or remove prefixes from the association.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDirectConnectGatewayAssociationResult'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDirectConnectGatewayAssociationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.UpdateDirectConnectGatewayAssociation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.UpdateLag':
    post:
      operationId: UpdateLag
      description: '<p>Updates the attributes of the specified link aggregation group (LAG).</p> <p>You can update the following attributes:</p> <ul> <li> <p>The name of the LAG.</p> </li> <li> <p>The value for the minimum number of connections that must be operational for the LAG itself to be operational. </p> </li> </ul> <p>When you create a LAG, the default value for the minimum number of operational connections is zero (0). If you update this value and the number of operational connections falls below the specified value, the LAG automatically goes down to avoid over-utilization of the remaining connections. Adjust this value with care, as it could force the LAG down if it is set higher than the current number of operational connections.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Lag'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLagRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.UpdateLag
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=OvertureService.UpdateVirtualInterfaceAttributes':
    post:
      operationId: UpdateVirtualInterfaceAttributes
      description: '<p>Updates the specified attributes of the specified virtual private interface.</p> <p>Setting the MTU of a virtual interface to 9001 (jumbo frames) can cause an update to the underlying physical connection if it wasn''t updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualInterface'
        '480':
          description: DirectConnectServerException
          schema:
            $ref: '#/definitions/DirectConnectServerException'
        '481':
          description: DirectConnectClientException
          schema:
            $ref: '#/definitions/DirectConnectClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVirtualInterfaceAttributesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - OvertureService.UpdateVirtualInterfaceAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AcceptDirectConnectGatewayAssociationProposalResult:
    type: object
    properties:
      directConnectGatewayAssociation:
        $ref: '#/definitions/DirectConnectGatewayAssociation'
  AcceptDirectConnectGatewayAssociationProposalRequest:
    type: object
    required:
      - directConnectGatewayId
      - proposalId
      - associatedGatewayOwnerAccount
    properties:
      directConnectGatewayId:
        $ref: '#/definitions/DirectConnectGatewayId'
        description: The ID of the Direct Connect gateway.
      proposalId:
        $ref: '#/definitions/DirectConnectGatewayAssociationProposalId'
        description: The ID of the request proposal.
      associatedGatewayOwnerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the virtual private gateway or transit gateway.
      overrideAllowedPrefixesToDirectConnectGateway:
        $ref: '#/definitions/RouteFilterPrefixList'
        description: '<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p> <p>For information about how to set the prefixes, see <a href="https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>'
  DirectConnectServerException: {}
  DirectConnectClientException: {}
  Connection:
    type: object
    properties:
      ownerAccount:
        $ref: '#/definitions/OwnerAccount'
        description: The ID of the AWS account that owns the connection.
      connectionId:
        $ref: '#/definitions/ConnectionId'
        description: The ID of the connection.
      connectionName:
        $ref: '#/definitions/ConnectionName'
        description: The name of the connection.
      connectionState:
        $ref: '#/definitions/ConnectionState'
        description: '<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>'
      region:
        $ref: '#/definitions/Region'
        description: The AWS Region where the connection is located.
      location:
        $ref: '#/definitions/LocationCode'
        description: The location of the connection.
      bandwidth:
        $ref: '#/definitions/Bandwidth'
        description: The bandwidth of the connection.
      vlan:
        $ref: '#/definitions/VLAN'
        description: The ID of the VLAN.
      partnerName:
        $ref: '#/definitions/PartnerName'
        description: The name of the AWS Direct Connect service provider associated with the connection.
      loaIssueTime:
        $ref: '#/definitions/LoaIssueTime'
        description: The time of the most recent call to <a>DescribeLoa</a> for this connection.
      lagId:
        $ref: '#/definitions/LagId'
        description: The ID of the LAG.
      awsDevice:
        $ref: '#/definitions/AwsDevice'
        description: The Direct Connect endpoint on which the physical connection terminates.
      jumboFrameCapable:
        $ref: '#/definitions/JumboFrameCapable'
        description: Indicates whether jumbo frames (9001 MTU) are supported.
      awsDeviceV2:
        $ref: '#/definitions/AwsDeviceV2'
        description: The Direct Connect endpoint on which the physical connection terminates.
      hasLogicalRedundancy:
[...]
