openapi: 3.0.0
servers:
  - url: https://accessapproval.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API for controlling access to data by Google personnel.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Access Approval API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://accessapproval.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: accessapproval
externalDocs:
  url: https://cloud.google.com/access-approval/docs
tags:
  - name: folders
  - name: organizations
  - name: projects
paths:
  "/v1/{name}":
    delete:
      description: Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.
      operationId: accessapproval.projects.deleteAccessApprovalSettings
      parameters:
        - description: Name of the AccessApprovalSettings to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets an approval request. Returns NOT_FOUND if the request does not exist.
      operationId: accessapproval.projects.approvalRequests.get
      parameters:
        - description: Name of the approval request to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalRequest"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/oauth_token"
    patch:
      description: Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.
      operationId: accessapproval.projects.updateAccessApprovalSettings
      parameters:
        - description: 'The resource name of the settings. Format is one of: 1. "projects/{project_id}/accessApprovalSettings" 2. "folders/{folder_id}/accessApprovalSettings" 3. "organizations/{organization_id}/accessApprovalSettings" '
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessApprovalSettings"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessApprovalSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:approve":
    parameters:
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/oauth_token"
    post:
      description: Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.
      operationId: accessapproval.projects.approvalRequests.approve
      parameters:
        - description: Name of the approval request to approve.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveApprovalRequestMessage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalRequest"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:dismiss":
    parameters:
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/oauth_token"
    post:
      description: "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      operationId: accessapproval.projects.approvalRequests.dismiss
      parameters:
        - description: Name of the ApprovalRequest to dismiss.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DismissApprovalRequestMessage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalRequest"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/approvalRequests":
    get:
      description: Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.
      operationId: accessapproval.projects.approvalRequests.list
      parameters:
        - description: The parent resource. This may be "projects/{project_id}", "folders/{folder_id}", or "organizations/{organization_id}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "A filter on the type of approval requests to retrieve. Must be one of the following values: 1. [not set]: Requests that are pending or have active approvals. 2. ALL: All requests. 3. PENDING: Only pending requests. 4. ACTIVE: Only active (i.e. currently approved) requests. 5. DISMISSED: Only dismissed (including expired) requests. 6. HISTORY: Active and dismissed (including expired) requests. "
          in: query
          name: filter
          schema:
            type: string
        - description: Requested page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying the page of results to return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListApprovalRequestsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/oauth_token"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AccessApprovalSettings:
      description: Settings on a Project/Folder/Organization related to Access Approval.
      properties:
        enrolledAncestor:
          description: Output only. This field is read only (not settable via UpdateAccessAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors).
          readOnly: true
          type: boolean
        enrolledServices:
          description: A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.
          items:
            $ref: "#/components/schemas/EnrolledService"
          type: array
        name:
          description: 'The resource name of the settings. Format is one of: 1. "projects/{project_id}/accessApprovalSettings" 2. "folders/{folder_id}/accessApprovalSettings" 3. "organizations/{organization_id}/accessApprovalSettings" '
          type: string
        notificationEmails:
          description: A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.
          items:
            type: string
          type: array
      type: object
    AccessLocations:
      description: Home office and physical location of the principal.
      properties:
        principalOfficeCountry:
          description: 'The "home office" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as "US", "DE" or "GB" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: 1. ASI: Asia 2. EUR: Europe 3. OCE: Oceania 4. AFR: Africa 5. NAM: North America 6. SAM: South America 7. ANT: Antarctica 8. ANY: Any location '
          type: string
        principalPhysicalLocationCountry:
          description: 'Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as "US", "DE" or "GB" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: 1. ASI: Asia 2. EUR: Europe 3. OCE: Oceania 4. AFR: Africa 5. NAM: North America 6. SAM: South America 7. ANT: Antarctica 8. ANY: Any location '
          type: string
      type: object
    AccessReason:
      properties:
        detail:
          description: More detail about certain reason types. See comments for each type above.
          type: string
        type:
          description: Type of access justification.
          enum:
            - TYPE_UNSPECIFIED
            - CUSTOMER_INITIATED_SUPPORT
            - GOOGLE_INITIATED_SERVICE
            - GOOGLE_INITIATED_REVIEW
          type: string
      type: object
    ApprovalRequest:
      description: A request for the customer to approve access to a resource.
      properties:
        approve:
          $ref: "#/components/schemas/ApproveDecision"
          description: Access was approved.
        dismiss:
          $ref: "#/components/schemas/DismissDecision"
          description: The request was dismissed.
        name:
          description: The resource name of the request. Format is "{projects|folders|organizations}/{id}/approvalRequests/{approval_request_id}".
          type: string
        requestTime:
          description: The time at which approval was requested.
          format: google-datetime
          type: string
        requestedExpiration:
          description: The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.
          format: google-datetime
          type: string
        requestedLocations:
          $ref: "#/components/schemas/AccessLocations"
          description: The locations for which approval is being requested.
        requestedReason:
          $ref: "#/components/schemas/AccessReason"
          description: The justification for which approval is being requested.
        requestedResourceName:
          description: The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a "full" resource name (e.g. "//library.googleapis.com/shelves/shelf1/books/book2") or a "relative" resource name (e.g. "shelves/shelf1/books/book2") as described in the resource name specification.
          type: string
        requestedResourceProperties:
          $ref: "#/components/schemas/ResourceProperties"
          description: Properties related to the resource represented by requested_resource_name.
      type: object
    ApproveApprovalRequestMessage:
      description: Request to approve an ApprovalRequest.
      properties:
        expireTime:
          description: The expiration time of this approval.
          format: google-datetime
          type: string
      type: object
    ApproveDecision:
      description: A decision that has been made to approve access to a resource.
      properties:
        approveTime:
          description: The time at which approval was granted.
          format: google-datetime
          type: string
        expireTime:
          description: The time at which the approval expires.
          format: google-datetime
          type: string
      type: object
    DismissApprovalRequestMessage:
      description: Request to dismiss an approval request.
      properties: {}
      type: object
    DismissDecision:
      description: A decision that has been made to dismiss an approval request.
      properties:
        dismissTime:
          description: The time at which the approval request was dismissed.
          format: google-datetime
          type: string
        implicit:
          description: This field will be true if the ApprovalRequest was implcitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time).
          type: boolean
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    EnrolledService:
      description: Represents the enrollment of a cloud resource into a specific service.
      properties:
        cloudProduct:
          description: "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): 1. all 2. appengine.googleapis.com 3. bigquery.googleapis.com 4. bigtable.googleapis.com 5. cloudkms.googleapis.com 6. compute.googleapis.com 7. dataflow.googleapis.com 8. iam.googleapis.com 9. pubsub.googleapis.com 10. storage.googleapis.com "
          type: string
        enrollmentLevel:
          description: The enrollment level of the service.
          enum:
            - ENROLLMENT_LEVEL_UNSPECIFIED
            - BLOCK_ALL
          type: string
      type: object
    ListApprovalRequestsResponse:
      description: Response to listing of ApprovalRequest objects.
      properties:
        approvalRequests:
          description: Approval request details.
          items:
            $ref: "#/components/schemas/ApprovalRequest"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more.
          type: string
      type: object
    ResourceProperties:
      description: The properties associated with the resource of the request.
      properties:
        excludesDescendants:
          description: Whether an approval will exclude the descendants of the resource being requested.
          type: boolean
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
