swagger: '2.0'
info:
  version: '2018-06-26'
  x-release: v4
  title: Amazon Forecast Service
  description: Provides APIs for creating and managing Amazon Forecast resources.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: forecast
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/forecast-2018-06-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/forecast/'
host: forecast.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://forecast.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Forecast Service multi-region endpoint
  - url: 'https://forecast.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Forecast Service multi-region endpoint
  - url: 'http://forecast.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Forecast Service endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://forecast.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Forecast Service endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AmazonForecast.CreateDataset':
    post:
      operationId: CreateDataset
      description: '<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps Forecast understand how to consume the data for model training. This includes the following:</p> <ul> <li> <p> <i> <code>DataFrequency</code> </i> - How frequently your historical time-series data is collected. Amazon Forecast uses this information when training the model and generating a forecast.</p> </li> <li> <p> <i> <code>Domain</code> </i> and <i> <code>DatasetType</code> </i> - Each dataset has an associated dataset domain and a type within the domain. Amazon Forecast provides a list of predefined domains and types within each domain. For each unique dataset domain and type within the domain, Amazon Forecast requires your data to include a minimum set of predefined fields.</p> </li> <li> <p> <i> <code>Schema</code> </i> - A schema specifies the fields of the dataset, including the field name and data type.</p> </li> </ul> <p>After creating a dataset, you import your training data into the dataset and add the dataset to a dataset group. You then use the dataset group to create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets, use the <a>ListDatasets</a> operation.</p> <note> <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import training data. Use the <a>DescribeDataset</a> operation to get the status.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreateDataset
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.CreateDatasetGroup':
    post:
      operationId: CreateDatasetGroup
      description: '<p>Creates an Amazon Forecast dataset group, which holds a collection of related datasets. You can add datasets to the dataset group when you create the dataset group, or you can add datasets later with the <a>UpdateDatasetGroup</a> operation.</p> <p>After creating a dataset group and adding datasets, you use the dataset group when you create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets groups, use the <a>ListDatasetGroups</a> operation.</p> <note> <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can create a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreateDatasetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.CreateDatasetImportJob':
    post:
      operationId: CreateDatasetImportJob
      description: '<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset that you want to import the data to.</p> <p>You must specify a <a>DataSource</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>Two properties of the training data are optionally specified:</p> <ul> <li> <p>The delimiter that separates the data fields.</p> <p>The default delimiter is a comma (,), which is the only supported delimiter in this release.</p> </li> <li> <p>The format of timestamps.</p> <p>If the format is not specified, Amazon Forecast expects the format to be "yyyy-MM-dd HH:mm:ss".</p> </li> </ul> <p>When Amazon Forecast uploads your training data, it verifies that the data was collected at the <code>DataFrequency</code> specified when the target dataset was created. For more information, see <a>CreateDataset</a> and <a>howitworks-datasets-groups</a>. Amazon Forecast also verifies the delimiter and timestamp format.</p> <p>You can use the <a>ListDatasetImportJobs</a> operation to get a list of all your dataset import jobs, filtered by specified criteria.</p> <p>To get a list of all your dataset import jobs, filtered by the specified criteria, use the <a>ListDatasetGroups</a> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetImportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetImportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreateDatasetImportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.CreateForecast':
    post:
      operationId: CreateForecast
      description: '<p>Creates a forecast for each item in the <code>TARGET_TIME_SERIES</code> dataset that was used to train the predictor. This is known as inference. To retrieve the forecast for a single item at low latency, use the operation. To export the complete forecast into your Amazon Simple Storage Service (Amazon S3), use the <a>CreateForecastExportJob</a> operation.</p> <p>The range of the forecast is determined by the <code>ForecastHorizon</code>, specified in the <a>CreatePredictor</a> request, multiplied by the <code>DataFrequency</code>, specified in the <a>CreateDataset</a> request. When you query a forecast, you can request a specific date range within the complete forecast.</p> <p>To get a list of all your forecasts, use the <a>ListForecasts</a> operation.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same timezone as the dataset that was used to create the predictor.</p> </note> <p>For more information, see <a>howitworks-forecast</a>.</p> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast. Use the <a>DescribeForecast</a> operation to get the status.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateForecastResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateForecastRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreateForecast
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.CreateForecastExportJob':
    post:
      operationId: CreateForecastExportJob
      description: '<p>Exports a forecast created by the <a>CreateForecast</a> operation to your Amazon Simple Storage Service (Amazon S3) bucket.</p> <p>You must specify a <a>DataDestination</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the Amazon S3 bucket. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>For more information, see <a>howitworks-forecast</a>.</p> <p>To get a list of all your forecast export jobs, use the <a>ListForecastExportJobs</a> operation.</p> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket. Use the <a>DescribeForecastExportJob</a> operation to get the status.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateForecastExportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateForecastExportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreateForecastExportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.CreatePredictor':
    post:
      operationId: CreatePredictor
      description: '<p>Creates an Amazon Forecast predictor.</p> <p>In the request, you provide a dataset group and either specify an algorithm or let Amazon Forecast choose the algorithm for you using AutoML. If you specify an algorithm, you also can override algorithm-specific hyperparameters.</p> <p>Amazon Forecast uses the chosen algorithm to train a model using the latest version of the datasets in the specified dataset group. The result is called a predictor. You then generate a forecast using the <a>CreateForecast</a> operation.</p> <p>After training a model, the <code>CreatePredictor</code> operation also evaluates it. To see the evaluation metrics, use the <a>GetAccuracyMetrics</a> operation. Always review the evaluation metrics before deciding to use the predictor to generate a forecast.</p> <p>Optionally, you can specify a featurization configuration to fill and aggragate the data fields in the <code>TARGET_TIME_SERIES</code> dataset to improve model training. For more information, see <a>FeaturizationConfig</a>.</p> <p> <b>AutoML</b> </p> <p>If you set <code>PerformAutoML</code> to <code>true</code>, Amazon Forecast evaluates each algorithm and chooses the one that minimizes the <code>objective function</code>. The <code>objective function</code> is defined as the mean of the weighted p10, p50, and p90 quantile losses. For more information, see <a>EvaluationResult</a>.</p> <p>When AutoML is enabled, the following properties are disallowed:</p> <ul> <li> <p> <code>AlgorithmArn</code> </p> </li> <li> <p> <code>HPOConfig</code> </p> </li> <li> <p> <code>PerformHPO</code> </p> </li> <li> <p> <code>TrainingParameters</code> </p> </li> </ul> <p>To get a list of all your predictors, use the <a>ListPredictors</a> operation.</p> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code>, signifying that training has completed, before you can use the predictor to create a forecast. Use the <a>DescribePredictor</a> operation to get the status.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePredictorResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePredictorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.CreatePredictor
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeleteDataset':
    post:
      operationId: DeleteDataset
      description: 'Deletes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation. To be deleted, the dataset must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDataset</a> operation to get the status.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeleteDataset
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeleteDatasetGroup':
    post:
      operationId: DeleteDatasetGroup
      description: '<p>Deletes a dataset group created using the <a>CreateDatasetGroup</a> operation. To be deleted, the dataset group must have a status of <code>ACTIVE</code>, <code>CREATE_FAILED</code>, or <code>UPDATE_FAILED</code>. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> <p>The operation deletes only the dataset group, not the datasets in the group.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeleteDatasetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeleteDatasetImportJob':
    post:
      operationId: DeleteDatasetImportJob
      description: 'Deletes a dataset import job created using the <a>CreateDatasetImportJob</a> operation. To be deleted, the import job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDatasetImportJob</a> operation to get the status.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetImportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeleteDatasetImportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeleteForecast':
    post:
      operationId: DeleteForecast
      description: '<p>Deletes a forecast created using the <a>CreateForecast</a> operation. To be deleted, the forecast must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecast</a> operation to get the status.</p> <p>You can''t delete a forecast while it is being exported.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteForecastRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeleteForecast
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeleteForecastExportJob':
    post:
      operationId: DeleteForecastExportJob
      description: 'Deletes a forecast export job created using the <a>CreateForecastExportJob</a> operation. To be deleted, the export job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecastExportJob</a> operation to get the status.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteForecastExportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeleteForecastExportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DeletePredictor':
    post:
      operationId: DeletePredictor
      description: '<p>Deletes a predictor created using the <a>CreatePredictor</a> operation. To be deleted, the predictor must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribePredictor</a> operation to get the status.</p> <p>Any forecasts generated by the predictor will no longer be available.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePredictorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DeletePredictor
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribeDataset':
    post:
      operationId: DescribeDataset
      description: '<p>Describes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDataset</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribeDataset
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribeDatasetGroup':
    post:
      operationId: DescribeDatasetGroup
      description: '<p>Describes a dataset group created using the <a>CreateDatasetGroup</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetGroup</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetArns</code> - The datasets belonging to the group.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribeDatasetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribeDatasetImportJob':
    post:
      operationId: DescribeDatasetImportJob
      description: '<p>Describes a dataset import job created using the <a>CreateDatasetImportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetImportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>DataSize</code> </p> </li> <li> <p> <code>FieldStatistics</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetImportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetImportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribeDatasetImportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribeForecast':
    post:
      operationId: DescribeForecast
      description: '<p>Describes a forecast created using the <a>CreateForecast</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecast</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetGroupArn</code> - The dataset group that provided the training data.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeForecastResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeForecastRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribeForecast
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribeForecastExportJob':
    post:
      operationId: DescribeForecastExportJob
      description: '<p>Describes a forecast export job created using the <a>CreateForecastExportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecastExportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeForecastExportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeForecastExportJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribeForecastExportJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.DescribePredictor':
    post:
      operationId: DescribePredictor
      description: '<p>Describes a predictor created using the <a>CreatePredictor</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreatePredictor</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetImportJobArns</code> - The dataset import jobs used to import training data.</p> </li> <li> <p> <code>AutoMLAlgorithmArns</code> - If AutoML is performed, the algorithms evaluated.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePredictorResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePredictorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.DescribePredictor
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.GetAccuracyMetrics':
    post:
      operationId: GetAccuracyMetrics
      description: '<p>Provides metrics on the accuracy of the models that were trained by the <a>CreatePredictor</a> operation. Use metrics to see how well the model performed and to decide whether to use the predictor to generate a forecast.</p> <p>Metrics are generated for each backtest window evaluated. For more information, see <a>EvaluationParameters</a>.</p> <p>The parameters of the <code>filling</code> method determine which items contribute to the metrics. If <code>zero</code> is specified, all items contribute. If <code>nan</code> is specified, only those items that have complete data in the range being evaluated contribute. For more information, see <a>FeaturizationMethod</a>.</p> <p>For an example of how to train a model and review metrics, see <a>getting-started</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccuracyMetricsResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAccuracyMetricsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.GetAccuracyMetrics
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListDatasetGroups':
    post:
      operationId: ListDatasetGroups
      description: 'Returns a list of dataset groups created using the <a>CreateDatasetGroup</a> operation. For each dataset group, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetGroup</a> operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetGroupsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetGroupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListDatasetGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListDatasetImportJobs':
    post:
      operationId: ListDatasetImportJobs
      description: 'Returns a list of dataset import jobs created using the <a>CreateDatasetImportJob</a> operation. For each import job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetImportJob</a> operation. You can filter the list by providing an array of <a>Filter</a> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetImportJobsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetImportJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListDatasetImportJobs
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListDatasets':
    post:
      operationId: ListDatasets
      description: 'Returns a list of datasets created using the <a>CreateDataset</a> operation. For each dataset, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDataset</a> operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListDatasets
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListForecastExportJobs':
    post:
      operationId: ListForecastExportJobs
      description: 'Returns a list of forecast export jobs created using the <a>CreateForecastExportJob</a> operation. For each forecast export job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecastExportJob</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListForecastExportJobsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListForecastExportJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListForecastExportJobs
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListForecasts':
    post:
      operationId: ListForecasts
      description: 'Returns a list of forecasts created using the <a>CreateForecast</a> operation. For each forecast, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecast</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListForecastsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListForecastsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListForecasts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.ListPredictors':
    post:
      operationId: ListPredictors
      description: 'Returns a list of predictors created using the <a>CreatePredictor</a> operation. For each predictor, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribePredictor</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPredictorsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPredictorsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.ListPredictors
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AmazonForecast.UpdateDatasetGroup':
    post:
      operationId: UpdateDatasetGroup
      description: <p>Replaces any existing datasets in the dataset group with the specified datasets.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before creating a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDatasetGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AmazonForecast.UpdateDatasetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateDatasetResponse:
    type: object
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
  CreateDatasetRequest:
    type: object
    required:
      - DatasetName
      - Domain
      - DatasetType
      - Schema
    properties:
      DatasetName:
        $ref: '#/definitions/Name'
        description: A name for the dataset.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
      DatasetType:
        $ref: '#/definitions/DatasetType'
        description: The dataset type. Valid values depend on the chosen <code>Domain</code>.
      DataFrequency:
        $ref: '#/definitions/Frequency'
        description: '<p>The frequency of data collection.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, "D" indicates every day and "15min" indicates every 15 minutes.</p>'
      Schema:
        $ref: '#/definitions/Schema'
        description: 'The schema for the dataset. The schema attributes and their order must match the fields in your data. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose determine the minimum required fields in your training data. For information about the required fields for a specific dataset domain and type, see <a>howitworks-domains-ds-types</a>.'
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
  InvalidInputException: {}
  ResourceAlreadyExistsException: {}
  LimitExceededException: {}
  CreateDatasetGroupResponse:
    type: object
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group.
  CreateDatasetGroupRequest:
    type: object
    required:
      - DatasetGroupName
      - Domain
    properties:
      DatasetGroupName:
        $ref: '#/definitions/Name'
        description: A name for the dataset group.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset group. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
      DatasetArns:
        $ref: '#/definitions/ArnList'
        description: An array of Amazon Resource Names (ARNs) of the datasets that you want to include in the dataset group.
  ResourceNotFoundException: {}
  ResourceInUseException: {}
  CreateDatasetImportJobResponse:
    type: object
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job.
  CreateDatasetImportJobRequest:
    type: object
    required:
      - DatasetImportJobName
      - DatasetArn
      - DataSource
    properties:
      DatasetImportJobName:
        $ref: '#/definitions/Name'
        description: 'The name for the dataset import job. It is recommended to include the current timestamp in the name to guard against getting a <code>ResourceAlreadyExistsException</code> exception, for example, <code>20190721DatasetImport</code>.'
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the Amazon Forecast dataset that you want to import data to.
      DataSource:
        $ref: '#/definitions/DataSource'
        description: The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data.
      TimestampFormat:
        $ref: '#/definitions/TimestampFormat'
        description: '<p>The format of timestamps in the dataset. Two formats are supported, dependent on the <code>DataFrequency</code> specified when the dataset was created.</p> <ul> <li> <p>"yyyy-MM-dd"</p> <p>For data frequencies: Y, M, W, and D</p> </li> <li> <p>"yyyy-MM-dd HH:mm:ss"</p> <p>For data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul>'
  CreateForecastResponse:
    type: object
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast.
  CreateForecastRequest:
    type: object
    required:
      - ForecastName
      - PredictorArn
    properties:
      ForecastName:
        $ref: '#/definitions/Name'
        description: The name for the forecast.
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor to use to generate the forecast.
  CreateForecastExportJobResponse:
    type: object
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the export job.
  CreateForecastExportJobRequest:
    type: object
    required:
      - ForecastExportJobName
      - ForecastArn
      - Destination
    properties:
      ForecastExportJobName:
        $ref: '#/definitions/Name'
        description: The name for the forecast export job.
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast that you want to export.
      Destination:
        $ref: '#/definitions/DataDestination'
        description: The path to the Amazon S3 bucket where you want to save the forecast and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the bucket.
  CreatePredictorResponse:
    type: object
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor.
  CreatePredictorRequest:
    type: object
    required:
      - PredictorName
      - ForecastHorizon
      - InputDataConfig
      - FeaturizationConfig
    properties:
      PredictorName:
        $ref: '#/definitions/Name'
        description: A name for the predictor.
      AlgorithmArn:
        $ref: '#/definitions/Arn'
        description: '<p>The Amazon Resource Name (ARN) of the algorithm to use for model training. Required if <code>PerformAutoML</code> is not set to <code>true</code>.</p> <p class="title"> <b>Supported algorithms</b> </p> <ul> <li> <p> <code>arn:aws:forecast:::algorithm/ARIMA</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Deep_AR_Plus</code> </p> <p> <code>- supports hyperparameter optimization (HPO)</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/ETS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/NPTS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Prophet</code> </p> </li> </ul>'
      ForecastHorizon:
        $ref: '#/definitions/Integer'
        description: '<p>Specifies the number of time-steps that the model is trained to predict. The forecast horizon is also called the prediction length.</p> <p>For example, if you configure a dataset for daily data collection (using the <code>DataFrequency</code> parameter of the <a>CreateDataset</a> operation) and set the forecast horizon to 10, the model returns predictions for 10 days.</p>'
      PerformAutoML:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether to perform AutoML. The default value is <code>false</code>. In this case, you are required to specify an algorithm.</p> <p>If you want Amazon Forecast to evaluate the algorithms it provides and choose the best algorithm and configuration for your training dataset, set <code>PerformAutoML</code> to <code>true</code>. This is a good option if you aren''t sure which algorithm is suitable for your application.</p>'
      PerformHPO:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether to perform hyperparameter optimization (HPO). HPO finds optimal hyperparameter values for your training data. The process of performing HPO is known as a hyperparameter tuning job.</p> <p>The default value is <code>false</code>. In this case, Amazon Forecast uses default hyperparameter values from the chosen algorithm.</p> <p>To override the default values, set <code>PerformHPO</code> to <code>true</code> and supply the <a>HyperParameterTuningJobConfig</a> object. The tuning job specifies an objective metric, the hyperparameters to optimize, and the valid range for each hyperparameter.</p> <p>The following algorithms support HPO:</p> <ul> <li> <p>DeepAR+</p> </li> </ul>'
      TrainingParameters:
        $ref: '#/definitions/TrainingParameters'
        description: The training parameters to override for model training. The parameters that you can override are listed in the individual algorithms in <a>aws-forecast-choosing-recipes</a>.
      EvaluationParameters:
        $ref: '#/definitions/EvaluationParameters'
        description: Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.
      HPOConfig:
        $ref: '#/definitions/HyperParameterTuningJobConfig'
        description: 'Provides hyperparameter override values for the algorithm. If you don''t provide this parameter, Amazon Forecast uses default values. The individual algorithms specify which hyperparameters support hyperparameter optimization (HPO). For more information, see <a>aws-forecast-choosing-recipes</a>.'
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Describes the dataset group that contains the data to use to train the predictor.
      FeaturizationConfig:
        $ref: '#/definitions/FeaturizationConfig'
        description: The featurization configuration.
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
  DeleteDatasetRequest:
    type: object
    required:
      - DatasetArn
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset to delete.
  DeleteDatasetGroupRequest:
    type: object
    required:
      - DatasetGroupArn
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group to delete.
  DeleteDatasetImportJobRequest:
    type: object
    required:
      - DatasetImportJobArn
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job to delete.
  DeleteForecastRequest:
    type: object
    required:
      - ForecastArn
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast to delete.
  DeleteForecastExportJobRequest:
    type: object
    required:
      - ForecastExportJobArn
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast export job to delete.
  DeletePredictorRequest:
    type: object
    required:
      - PredictorArn
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor to delete.
  DescribeDatasetResponse:
    type: object
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
      DatasetName:
        $ref: '#/definitions/Name'
        description: The name of the dataset.
      Domain:
        $ref: '#/definitions/Domain'
        description: The dataset domain.
      DatasetType:
        $ref: '#/definitions/DatasetType'
        description: The dataset type.
      DataFrequency:
        $ref: '#/definitions/Frequency'
        description: '<p>The frequency of data collection.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, "M" indicates every month and "30min" indicates every 30 minutes.</p>'
      Schema:
        $ref: '#/definitions/Schema'
        description: An array of <code>SchemaAttribute</code> objects that specify the dataset fields. Each <code>SchemaAttribute</code> specifies the name and data type of a field.
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply while data is imported to the dataset from a call to the <a>CreateDatasetImportJob</a> operation. During this time, the status reflects the status of the dataset import job. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>.</p> <note> <p>The <code>Status</code> of the dataset must be <code>ACTIVE</code> before you can import training data.</p> </note>'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset is created, <code>LastModificationTime</code> is the same as <code>CreationTime</code>. After a <a>CreateDatasetImportJob</a> operation is called, <code>LastModificationTime</code> is when the import job finished or failed. While data is being imported to the dataset, <code>LastModificationTime</code> is the current query time.'
  DescribeDatasetRequest:
    type: object
    required:
      - DatasetArn
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
  DescribeDatasetGroupResponse:
    type: object
    properties:
      DatasetGroupName:
        $ref: '#/definitions/Name'
        description: The name of the dataset group.
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset group.
      DatasetArns:
        $ref: '#/definitions/ArnList'
        description: An array of Amazon Resource Names (ARNs) of the datasets contained in the dataset group.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset group. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset group. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply when the <a>UpdateDatasetGroup</a> operation is called.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before creating a predictor using the dataset group.</p> </note>'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset group was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated, <code>LastModificationTime</code> is the current query time.'
  DescribeDatasetGroupRequest:
    type: object
    required:
      - DatasetGroupArn
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group.
  DescribeDatasetImportJobResponse:
    type: object
    properties:
      DatasetImportJobName:
        $ref: '#/definitions/Name'
        description: The name of the dataset import job.
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset import job.
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset that the training data was imported to.
      TimestampFormat:
        $ref: '#/definitions/TimestampFormat'
        description: '<p>The format of timestamps in the dataset. Two formats are supported dependent on the <code>DataFrequency</code> specified when the dataset was created.</p> <ul> <li> <p>"yyyy-MM-dd"</p> <p>For data frequencies: Y, M, W, and D</p> </li> <li> <p>"yyyy-MM-dd HH:mm:ss"</p> <p>For data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul>'
      DataSource:
        $ref: '#/definitions/DataSource'
        description: The location of the training data to import. The training data must be stored in an Amazon S3 bucket.
      FieldStatistics:
        $ref: '#/definitions/FieldStatistics'
        description: Statistical information about each field in the input data.
      DataSize:
        $ref: '#/definitions/Double'
        description: The size of the dataset in gigabytes (GB) after completion of the import job.
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset import job. The status is reflected in the status of the dataset. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul>'
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset import job was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: '<p>Dependent on the status as follows:</p> <ul> <li> <p> <code>CREATE_PENDING</code> - same as <code>CreationTime</code> </p> </li> <li> <p> <code>CREATE_IN_PROGRESS</code> - the current timestamp</p> </li> <li> <p> <code>ACTIVE</code> or <code>CREATE_FAILED</code> - when the job finished or failed</p> </li> </ul>'
  DescribeDatasetImportJobRequest:
    type: object
    required:
      - DatasetImportJobArn
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job.
  DescribeForecastResponse:
    type: object
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The same forecast ARN as given in the request.
      ForecastName:
        $ref: '#/definitions/Name'
        description: The name of the forecast.
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the predictor used to generate the forecast.
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset group that provided the data used to train the predictor.
      Status:
        $ref: '#/definitions/String'
        description: '<p>The status of the forecast. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast.</p> </note>'
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: 'If an error occurred, an informational message about the error.'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the forecast creation task was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when inference (creating the forecast) starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when inference is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).'
  DescribeForecastRequest:
    type: object
    required:
      - ForecastArn
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast.
  DescribeForecastExportJobResponse:
    type: object
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the forecast export job.
      ForecastExportJobName:
        $ref: '#/definitions/Name'
        description: The name of the forecast export job.
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the exported forecast.
      Destination:
        $ref: '#/definitions/DataDestination'
        description: The path to the AWS S3 bucket where the forecast is exported.
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the forecast export job. One of the following states:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket.</p> </note>'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the forecast export job was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: When the last successful export job finished.
  DescribeForecastExportJobRequest:
    type: object
    required:
      - ForecastExportJobArn
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast export job.
  DescribePredictorResponse:
    type: object
    properties:
      PredictorArn:
        $ref: '#/definitions/Name'
        description: The ARN of the predictor.
      PredictorName:
        $ref: '#/definitions/Name'
        description: The name of the predictor.
      AlgorithmArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the algorithm used for model training.
      ForecastHorizon:
        $ref: '#/definitions/Integer'
        description: The number of time-steps of the forecast. The forecast horizon is also called the prediction length.
      PerformAutoML:
        $ref: '#/definitions/Boolean'
        description: Whether the predictor is set to perform AutoML.
      PerformHPO:
        $ref: '#/definitions/Boolean'
        description: Whether the predictor is set to perform HPO.
      TrainingParameters:
        $ref: '#/definitions/TrainingParameters'
        description: The training parameters to override for model training. The parameters that you can override are listed in the individual algorithms in <a>aws-forecast-choosing-recipes</a>.
      EvaluationParameters:
        $ref: '#/definitions/EvaluationParameters'
        description: Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.
      HPOConfig:
        $ref: '#/definitions/HyperParameterTuningJobConfig'
        description: The hyperparameter override values for the algorithm.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Describes the dataset group that contains the data to use to train the predictor.
      FeaturizationConfig:
        $ref: '#/definitions/FeaturizationConfig'
        description: The featurization configuration.
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      DatasetImportJobArns:
        $ref: '#/definitions/ArnList'
        description: An array of ARNs of the dataset import jobs used to import training data for the predictor.
      AutoMLAlgorithmArns:
        $ref: '#/definitions/ArnList'
        description: 'When <code>PerformAutoML</code> is specified, the ARN of the chosen algorithm.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the predictor. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code> before using the predictor to create a forecast.</p> </note>'
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the model training task was created.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when training starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when training is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).'
  DescribePredictorRequest:
    type: object
    required:
      - PredictorArn
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor that you want information about.
  GetAccuracyMetricsResponse:
    type: object
    properties:
      PredictorEvaluationResults:
        $ref: '#/definitions/PredictorEvaluationResults'
        description: An array of results from evaluating the predictor.
  GetAccuracyMetricsRequest:
    type: object
    required:
      - PredictorArn
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor to get metrics for.
  ListDatasetGroupsResponse:
    type: object
    properties:
      DatasetGroups:
        $ref: '#/definitions/DatasetGroups'
        description: An array of objects that summarize each dataset group's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListDatasetGroupsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
  InvalidNextTokenException: {}
  ListDatasetImportJobsResponse:
    type: object
    properties:
      DatasetImportJobs:
        $ref: '#/definitions/DatasetImportJobs'
        description: An array of objects that summarize each dataset import job's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListDatasetImportJobsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An array of filters. For each filter, you provide a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude, respectively, from the list, the predictors that match the statement. The match statement consists of a key and a value. In this release, <code>Name</code> is the only valid key, which filters on the <code>DatasetImportJobName</code> property.</p> <ul> <li> <p> <code>Condition</code> - <code>IS</code> or <code>IS_NOT</code> </p> </li> <li> <p> <code>Key</code> - <code>Name</code> </p> </li> <li> <p> <code>Value</code> - the value to match</p> </li> </ul> <p>For example, to list all dataset import jobs named <i>my_dataset_import_job</i>, you would specify:</p> <p> <code>"Filters": [ { "Condition": "IS", "Key": "Name", "Value": "my_dataset_import_job" } ]</code> </p>'
  ListDatasetsResponse:
    type: object
    properties:
      Datasets:
        $ref: '#/definitions/Datasets'
        description: An array of objects that summarize each dataset's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListDatasetsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
  ListForecastExportJobsResponse:
    type: object
    properties:
      ForecastExportJobs:
        $ref: '#/definitions/ForecastExportJobs'
        description: An array of objects that summarize each export job's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListForecastExportJobsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An array of filters. For each filter, you provide a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude, respectively, from the list, the predictors that match the statement. The match statement consists of a key and a value. In this release, <code>Name</code> is the only valid key, which filters on the <code>ForecastExportJobName</code> property.</p> <ul> <li> <p> <code>Condition</code> - <code>IS</code> or <code>IS_NOT</code> </p> </li> <li> <p> <code>Key</code> - <code>Name</code> </p> </li> <li> <p> <code>Value</code> - the value to match</p> </li> </ul> <p>For example, to list all forecast export jobs named <i>my_forecast_export_job</i>, you would specify:</p> <p> <code>"Filters": [ { "Condition": "IS", "Key": "Name", "Value": "my_forecast_export_job" } ]</code> </p>'
  ListForecastsResponse:
    type: object
    properties:
      Forecasts:
        $ref: '#/definitions/Forecasts'
        description: An array of objects that summarize each forecast's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListForecastsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An array of filters. For each filter, you provide a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude, respectively, from the list, the predictors that match the statement. The match statement consists of a key and a value. In this release, <code>Name</code> is the only valid key, which filters on the <code>ForecastName</code> property.</p> <ul> <li> <p> <code>Condition</code> - <code>IS</code> or <code>IS_NOT</code> </p> </li> <li> <p> <code>Key</code> - <code>Name</code> </p> </li> <li> <p> <code>Value</code> - the value to match</p> </li> </ul> <p>For example, to list all forecasts named <i>my_forecast</i>, you would specify:</p> <p> <code>"Filters": [ { "Condition": "IS", "Key": "Name", "Value": "my_forecast" } ]</code> </p>'
  ListPredictorsResponse:
    type: object
    properties:
      Predictors:
        $ref: '#/definitions/Predictors'
        description: An array of objects that summarize each predictor's properties.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.'
  ListPredictorsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of items to return in the response.
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An array of filters. For each filter, you provide a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude, respectively, from the list, the predictors that match the statement. The match statement consists of a key and a value. In this release, <code>Name</code> is the only valid key, which filters on the <code>PredictorName</code> property.</p> <ul> <li> <p> <code>Condition</code> - <code>IS</code> or <code>IS_NOT</code> </p> </li> <li> <p> <code>Key</code> - <code>Name</code> </p> </li> <li> <p> <code>Value</code> - the value to match</p> </li> </ul> <p>For example, to list all predictors named <i>my_predictor</i>, you would specify:</p> <p> <code>"Filters": [ { "Condition": "IS", "Key": "Name", "Value": "my_predictor" } ]</code> </p>'
  UpdateDatasetGroupResponse:
    type: object
    properties: {}
  UpdateDatasetGroupRequest:
    type: object
    required:
      - DatasetGroupArn
      - DatasetArns
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset group.
      DatasetArns:
        $ref: '#/definitions/ArnList'
        description: An array of Amazon Resource Names (ARNs) of the datasets to add to the dataset group.
  Arn:
    type: string
    pattern: '^[a-zA-Z0-9\-\_\.\/\:]+$'
    maxLength: 256
  ArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
  AttributeType:
    type: string
    enum:
      - string
      - integer
      - float
      - timestamp
  Boolean:
    type: boolean
  Name:
    type: string
    pattern: '^[a-zA-Z0-9][a-zA-Z0-9_]*'
    minLength: 1
    maxLength: 63
  Values:
    type: array
    items:
      $ref: '#/definitions/Value'
    minItems: 1
    maxItems: 20
  CategoricalParameterRange:
    type: object
    required:
      - Name
      - Values
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: The name of the categorical hyperparameter to tune.
      Values:
        $ref: '#/definitions/Values'
        description: A list of the tunable categories for the hyperparameter.
    description: Specifies a categorical hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.
  CategoricalParameterRanges:
    type: array
    items:
      $ref: '#/definitions/CategoricalParameterRange'
    minItems: 1
    maxItems: 20
  Double:
    type: number
    format: double
  ScalingType:
    type: string
    enum:
      - Auto
      - Linear
      - Logarithmic
      - ReverseLogarithmic
  ContinuousParameterRange:
    type: object
    required:
      - Name
      - MaxValue
      - MinValue
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: The name of the hyperparameter to tune.
      MaxValue:
        $ref: '#/definitions/Double'
        description: The maximum tunable value of the hyperparameter.
      MinValue:
        $ref: '#/definitions/Double'
        description: The minimum tunable value of the hyperparameter.
      ScalingType:
        $ref: '#/definitions/ScalingType'
        description: '<p>The scale that hyperparameter tuning uses to search the hyperparameter range. For information about choosing a hyperparameter scale, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type">Hyperparameter Scaling</a>. One of the following values:</p> <dl> <dt>Auto</dt> <dd> <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p> </dd> <dt>Linear</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a linear scale.</p> </dd> <dt>Logarithmic</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a logarithmic scale.</p> <p>Logarithmic scaling works only for ranges that have only values greater than 0.</p> </dd> <dt>ReverseLogarithmic</dt> <dd> <p>Hyperparemeter tuning searches the values in the hyperparameter range by using a reverse logarithmic scale.</p> <p>Reverse logarithmic scaling works only for ranges that are entirely within the range 0 &lt;= x &lt; 1.0.</p> </dd> </dl>'
    description: Specifies a continuous hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.
  ContinuousParameterRanges:
    type: array
    items:
      $ref: '#/definitions/ContinuousParameterRange'
    minItems: 1
    maxItems: 20
  Domain:
    type: string
    enum:
      - RETAIL
      - CUSTOM
      - INVENTORY_PLANNING
      - EC2_CAPACITY
      - WORK_FORCE
      - WEB_TRAFFIC
      - METRICS
  DataSource:
    type: object
    required:
      - S3Config
    properties:
      S3Config:
        $ref: '#/definitions/S3Config'
        description: The path to the training data stored in an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the data.
    description: The source of your training data and credentials to access the data. This object is submitted in the <a>CreateDatasetImportJob</a> request.
  TimestampFormat:
    type: string
    pattern: '^[a-zA-Z0-9\-\:\.\,\''\s]+$'
    maxLength: 256
  DatasetType:
    type: string
    enum:
      - TARGET_TIME_SERIES
      - RELATED_TIME_SERIES
      - ITEM_METADATA
  Frequency:
    type: string
    pattern: ^Y|M|W|D|H|30min|15min|10min|5min|1min$
  Schema:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/SchemaAttributes'
        description: An array of attributes specifying the name and type of each field in a dataset.
    description: Defines the fields of a dataset. This object is specified in the <a>CreateDataset</a> request.
  EncryptionConfig:
    type: object
    required:
      - RoleArn
      - KMSKeyArn
    properties:
      RoleArn:
        $ref: '#/definitions/Arn'
        description: '<p>The ARN of the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the AWS KMS key.</p> <p>Cross-account pass role is not allowed. If you pass a role that doesn''t belong to your account, an <code>InvalidInputException</code> is thrown.</p>'
      KMSKeyArn:
        $ref: '#/definitions/KMSKeyArn'
        description: The Amazon Resource Name (ARN) of an AWS Key Management Service (KMS) key.
    description: An AWS Key Management Service (KMS) key and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key. This object is optionally submitted in the <a>CreateDataset</a> and <a>CreatePredictor</a> requests.
  DataDestination:
    type: object
    required:
      - S3Config
    properties:
      S3Config:
        $ref: '#/definitions/S3Config'
[...]
