swagger: '2.0'
schemes:
  - https
  - http
host: forecast.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Provides APIs for creating and managing Amazon Forecast resources.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Forecast Service
  version: '2018-06-26'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/forecast-2018-06-26.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: forecast
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/forecast/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonForecast.CreateDataset':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps Forecast understand how to consume the data for model training. This includes the following:</p> <ul> <li> <p> <i> <code>DataFrequency</code> </i> - How frequently your historical time-series data is collected. Amazon Forecast uses this information when training the model and generating a forecast.</p> </li> <li> <p> <i> <code>Domain</code> </i> and <i> <code>DatasetType</code> </i> - Each dataset has an associated dataset domain and a type within the domain. Amazon Forecast provides a list of predefined domains and types within each domain. For each unique dataset domain and type within the domain, Amazon Forecast requires your data to include a minimum set of predefined fields.</p> </li> <li> <p> <i> <code>Schema</code> </i> - A schema specifies the fields of the dataset, including the field name and data type.</p> </li> </ul> <p>After creating a dataset, you import your training data into the dataset and add the dataset to a dataset group. You then use the dataset group to create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets, use the <a>ListDatasets</a> operation.</p> <note> <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import training data. Use the <a>DescribeDataset</a> operation to get the status.</p> </note>'
      operationId: CreateDataset
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetRequest'
        - enum:
            - AmazonForecast.CreateDataset
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.CreateDatasetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an Amazon Forecast dataset group, which holds a collection of related datasets. You can add datasets to the dataset group when you create the dataset group, or you can add datasets later with the <a>UpdateDatasetGroup</a> operation.</p> <p>After creating a dataset group and adding datasets, you use the dataset group when you create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets groups, use the <a>ListDatasetGroups</a> operation.</p> <note> <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can create a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>'
      operationId: CreateDatasetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetGroupRequest'
        - enum:
            - AmazonForecast.CreateDatasetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.CreateDatasetImportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset that you want to import the data to.</p> <p>You must specify a <a>DataSource</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>Two properties of the training data are optionally specified:</p> <ul> <li> <p>The delimiter that separates the data fields.</p> <p>The default delimiter is a comma (,), which is the only supported delimiter in this release.</p> </li> <li> <p>The format of timestamps.</p> <p>If the format is not specified, Amazon Forecast expects the format to be "yyyy-MM-dd HH:mm:ss".</p> </li> </ul> <p>When Amazon Forecast uploads your training data, it verifies that the data was collected at the <code>DataFrequency</code> specified when the target dataset was created. For more information, see <a>CreateDataset</a> and <a>howitworks-datasets-groups</a>. Amazon Forecast also verifies the delimiter and timestamp format.</p> <p>You can use the <a>ListDatasetImportJobs</a> operation to get a list of all your dataset import jobs, filtered by specified criteria.</p> <p>To get a list of all your dataset import jobs, filtered by the specified criteria, use the <a>ListDatasetGroups</a> operation.</p>'
      operationId: CreateDatasetImportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDatasetImportJobRequest'
        - enum:
            - AmazonForecast.CreateDatasetImportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetImportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.CreateForecast':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a forecast for each item in the <code>TARGET_TIME_SERIES</code> dataset that was used to train the predictor. This is known as inference. To retrieve the forecast for a single item at low latency, use the operation. To export the complete forecast into your Amazon Simple Storage Service (Amazon S3), use the <a>CreateForecastExportJob</a> operation.</p> <p>The range of the forecast is determined by the <code>ForecastHorizon</code>, specified in the <a>CreatePredictor</a> request, multiplied by the <code>DataFrequency</code>, specified in the <a>CreateDataset</a> request. When you query a forecast, you can request a specific date range within the complete forecast.</p> <p>To get a list of all your forecasts, use the <a>ListForecasts</a> operation.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same timezone as the dataset that was used to create the predictor.</p> </note> <p>For more information, see <a>howitworks-forecast</a>.</p> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast. Use the <a>DescribeForecast</a> operation to get the status.</p> </note>'
      operationId: CreateForecast
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateForecastRequest'
        - enum:
            - AmazonForecast.CreateForecast
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateForecastResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.CreateForecastExportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Exports a forecast created by the <a>CreateForecast</a> operation to your Amazon Simple Storage Service (Amazon S3) bucket.</p> <p>You must specify a <a>DataDestination</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the Amazon S3 bucket. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>For more information, see <a>howitworks-forecast</a>.</p> <p>To get a list of all your forecast export jobs, use the <a>ListForecastExportJobs</a> operation.</p> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket. Use the <a>DescribeForecastExportJob</a> operation to get the status.</p> </note>'
      operationId: CreateForecastExportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateForecastExportJobRequest'
        - enum:
            - AmazonForecast.CreateForecastExportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateForecastExportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.CreatePredictor':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an Amazon Forecast predictor.</p> <p>In the request, you provide a dataset group and either specify an algorithm or let Amazon Forecast choose the algorithm for you using AutoML. If you specify an algorithm, you also can override algorithm-specific hyperparameters.</p> <p>Amazon Forecast uses the chosen algorithm to train a model using the latest version of the datasets in the specified dataset group. The result is called a predictor. You then generate a forecast using the <a>CreateForecast</a> operation.</p> <p>After training a model, the <code>CreatePredictor</code> operation also evaluates it. To see the evaluation metrics, use the <a>GetAccuracyMetrics</a> operation. Always review the evaluation metrics before deciding to use the predictor to generate a forecast.</p> <p>Optionally, you can specify a featurization configuration to fill and aggragate the data fields in the <code>TARGET_TIME_SERIES</code> dataset to improve model training. For more information, see <a>FeaturizationConfig</a>.</p> <p> <b>AutoML</b> </p> <p>If you set <code>PerformAutoML</code> to <code>true</code>, Amazon Forecast evaluates each algorithm and chooses the one that minimizes the <code>objective function</code>. The <code>objective function</code> is defined as the mean of the weighted p10, p50, and p90 quantile losses. For more information, see <a>EvaluationResult</a>.</p> <p>When AutoML is enabled, the following properties are disallowed:</p> <ul> <li> <p> <code>AlgorithmArn</code> </p> </li> <li> <p> <code>HPOConfig</code> </p> </li> <li> <p> <code>PerformHPO</code> </p> </li> <li> <p> <code>TrainingParameters</code> </p> </li> </ul> <p>To get a list of all your predictors, use the <a>ListPredictors</a> operation.</p> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code>, signifying that training has completed, before you can use the predictor to create a forecast. Use the <a>DescribePredictor</a> operation to get the status.</p> </note>'
      operationId: CreatePredictor
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePredictorRequest'
        - enum:
            - AmazonForecast.CreatePredictor
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePredictorResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonForecast.DeleteDataset':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation. To be deleted, the dataset must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDataset</a> operation to get the status.'
      operationId: DeleteDataset
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetRequest'
        - enum:
            - AmazonForecast.DeleteDataset
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DeleteDatasetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a dataset group created using the <a>CreateDatasetGroup</a> operation. To be deleted, the dataset group must have a status of <code>ACTIVE</code>, <code>CREATE_FAILED</code>, or <code>UPDATE_FAILED</code>. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> <p>The operation deletes only the dataset group, not the datasets in the group.</p>'
      operationId: DeleteDatasetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetGroupRequest'
        - enum:
            - AmazonForecast.DeleteDatasetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DeleteDatasetImportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a dataset import job created using the <a>CreateDatasetImportJob</a> operation. To be deleted, the import job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeDatasetImportJob</a> operation to get the status.'
      operationId: DeleteDatasetImportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetImportJobRequest'
        - enum:
            - AmazonForecast.DeleteDatasetImportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DeleteForecast':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a forecast created using the <a>CreateForecast</a> operation. To be deleted, the forecast must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecast</a> operation to get the status.</p> <p>You can''t delete a forecast while it is being exported.</p>'
      operationId: DeleteForecast
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteForecastRequest'
        - enum:
            - AmazonForecast.DeleteForecast
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DeleteForecastExportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a forecast export job created using the <a>CreateForecastExportJob</a> operation. To be deleted, the export job must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribeForecastExportJob</a> operation to get the status.'
      operationId: DeleteForecastExportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteForecastExportJobRequest'
        - enum:
            - AmazonForecast.DeleteForecastExportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DeletePredictor':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a predictor created using the <a>CreatePredictor</a> operation. To be deleted, the predictor must have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. Use the <a>DescribePredictor</a> operation to get the status.</p> <p>Any forecasts generated by the predictor will no longer be available.</p>'
      operationId: DeletePredictor
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeletePredictorRequest'
        - enum:
            - AmazonForecast.DeletePredictor
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.DescribeDataset':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDataset</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>'
      operationId: DescribeDataset
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetRequest'
        - enum:
            - AmazonForecast.DescribeDataset
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.DescribeDatasetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes a dataset group created using the <a>CreateDatasetGroup</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetGroup</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetArns</code> - The datasets belonging to the group.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>'
      operationId: DescribeDatasetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetGroupRequest'
        - enum:
            - AmazonForecast.DescribeDatasetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.DescribeDatasetImportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes a dataset import job created using the <a>CreateDatasetImportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateDatasetImportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>DataSize</code> </p> </li> <li> <p> <code>FieldStatistics</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      operationId: DescribeDatasetImportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetImportJobRequest'
        - enum:
            - AmazonForecast.DescribeDatasetImportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetImportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.DescribeForecast':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes a forecast created using the <a>CreateForecast</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecast</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetGroupArn</code> - The dataset group that provided the training data.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      operationId: DescribeForecast
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeForecastRequest'
        - enum:
            - AmazonForecast.DescribeForecast
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeForecastResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.DescribeForecastExportJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes a forecast export job created using the <a>CreateForecastExportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecastExportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      operationId: DescribeForecastExportJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeForecastExportJobRequest'
        - enum:
            - AmazonForecast.DescribeForecastExportJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeForecastExportJobResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.DescribePredictor':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes a predictor created using the <a>CreatePredictor</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreatePredictor</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetImportJobArns</code> - The dataset import jobs used to import training data.</p> </li> <li> <p> <code>AutoMLAlgorithmArns</code> - If AutoML is performed, the algorithms evaluated.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>'
      operationId: DescribePredictor
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePredictorRequest'
        - enum:
            - AmazonForecast.DescribePredictor
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePredictorResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=AmazonForecast.GetAccuracyMetrics':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Provides metrics on the accuracy of the models that were trained by the <a>CreatePredictor</a> operation. Use metrics to see how well the model performed and to decide whether to use the predictor to generate a forecast.</p> <p>Metrics are generated for each backtest window evaluated. For more information, see <a>EvaluationParameters</a>.</p> <p>The parameters of the <code>filling</code> method determine which items contribute to the metrics. If <code>zero</code> is specified, all items contribute. If <code>nan</code> is specified, only those items that have complete data in the range being evaluated contribute. For more information, see <a>FeaturizationMethod</a>.</p> <p>For an example of how to train a model and review metrics, see <a>getting-started</a>.</p>'
      operationId: GetAccuracyMetrics
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAccuracyMetricsRequest'
        - enum:
            - AmazonForecast.GetAccuracyMetrics
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccuracyMetricsResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=AmazonForecast.ListDatasetGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of dataset groups created using the <a>CreateDatasetGroup</a> operation. For each dataset group, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetGroup</a> operation.'
      operationId: ListDatasetGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetGroupsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListDatasetGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetGroupsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/#X-Amz-Target=AmazonForecast.ListDatasetImportJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of dataset import jobs created using the <a>CreateDatasetImportJob</a> operation. For each import job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetImportJob</a> operation. You can filter the list by providing an array of <a>Filter</a> objects.'
      operationId: ListDatasetImportJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetImportJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListDatasetImportJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetImportJobsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=AmazonForecast.ListDatasets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of datasets created using the <a>CreateDataset</a> operation. For each dataset, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeDataset</a> operation.'
      operationId: ListDatasets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListDatasets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/#X-Amz-Target=AmazonForecast.ListForecastExportJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of forecast export jobs created using the <a>CreateForecastExportJob</a> operation. For each forecast export job, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecastExportJob</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      operationId: ListForecastExportJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListForecastExportJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListForecastExportJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListForecastExportJobsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=AmazonForecast.ListForecasts':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of forecasts created using the <a>CreateForecast</a> operation. For each forecast, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribeForecast</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      operationId: ListForecasts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListForecastsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListForecasts
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListForecastsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=AmazonForecast.ListPredictors':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of predictors created using the <a>CreatePredictor</a> operation. For each predictor, a summary of its properties, including its Amazon Resource Name (ARN), is returned. You can retrieve the complete set of properties by using the ARN with the <a>DescribePredictor</a> operation. The list can be filtered using an array of <a>Filter</a> objects.'
      operationId: ListPredictors
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListPredictorsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonForecast.ListPredictors
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPredictorsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=AmazonForecast.UpdateDatasetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Replaces any existing datasets in the dataset group with the specified datasets.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before creating a predictor using the dataset group. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>
      operationId: UpdateDatasetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDatasetGroupRequest'
        - enum:
            - AmazonForecast.UpdateDatasetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDatasetGroupResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
definitions:
  Arn:
    maxLength: 256
    pattern: '^[a-zA-Z0-9\-\_\.\/\:]+$'
    type: string
  ArnList:
    items:
      $ref: '#/definitions/Arn'
    type: array
  AttributeType:
    enum:
      - string
      - integer
      - float
      - timestamp
    type: string
  Boolean:
    type: boolean
  CategoricalParameterRange:
    description: Specifies a categorical hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: The name of the categorical hyperparameter to tune.
      Values:
        $ref: '#/definitions/Values'
        description: A list of the tunable categories for the hyperparameter.
    required:
      - Name
      - Values
    type: object
  CategoricalParameterRanges:
    items:
      $ref: '#/definitions/CategoricalParameterRange'
    maxItems: 20
    minItems: 1
    type: array
  ContinuousParameterRange:
    description: Specifies a continuous hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.
    properties:
      MaxValue:
        $ref: '#/definitions/Double'
        description: The maximum tunable value of the hyperparameter.
      MinValue:
        $ref: '#/definitions/Double'
        description: The minimum tunable value of the hyperparameter.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the hyperparameter to tune.
      ScalingType:
        $ref: '#/definitions/ScalingType'
        description: '<p>The scale that hyperparameter tuning uses to search the hyperparameter range. For information about choosing a hyperparameter scale, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type">Hyperparameter Scaling</a>. One of the following values:</p> <dl> <dt>Auto</dt> <dd> <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p> </dd> <dt>Linear</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a linear scale.</p> </dd> <dt>Logarithmic</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a logarithmic scale.</p> <p>Logarithmic scaling works only for ranges that have only values greater than 0.</p> </dd> <dt>ReverseLogarithmic</dt> <dd> <p>Hyperparemeter tuning searches the values in the hyperparameter range by using a reverse logarithmic scale.</p> <p>Reverse logarithmic scaling works only for ranges that are entirely within the range 0 &lt;= x &lt; 1.0.</p> </dd> </dl>'
    required:
      - Name
      - MaxValue
      - MinValue
    type: object
  ContinuousParameterRanges:
    items:
      $ref: '#/definitions/ContinuousParameterRange'
    maxItems: 20
    minItems: 1
    type: array
  CreateDatasetGroupRequest:
    properties:
      DatasetArns:
        $ref: '#/definitions/ArnList'
        description: An array of Amazon Resource Names (ARNs) of the datasets that you want to include in the dataset group.
      DatasetGroupName:
        $ref: '#/definitions/Name'
        description: A name for the dataset group.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset group. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
    required:
      - DatasetGroupName
      - Domain
    type: object
  CreateDatasetGroupResponse:
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group.
    type: object
  CreateDatasetImportJobRequest:
    properties:
      DataSource:
        $ref: '#/definitions/DataSource'
        description: The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data.
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the Amazon Forecast dataset that you want to import data to.
      DatasetImportJobName:
        $ref: '#/definitions/Name'
        description: 'The name for the dataset import job. It is recommended to include the current timestamp in the name to guard against getting a <code>ResourceAlreadyExistsException</code> exception, for example, <code>20190721DatasetImport</code>.'
      TimestampFormat:
        $ref: '#/definitions/TimestampFormat'
        description: '<p>The format of timestamps in the dataset. Two formats are supported, dependent on the <code>DataFrequency</code> specified when the dataset was created.</p> <ul> <li> <p>"yyyy-MM-dd"</p> <p>For data frequencies: Y, M, W, and D</p> </li> <li> <p>"yyyy-MM-dd HH:mm:ss"</p> <p>For data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul>'
    required:
      - DatasetImportJobName
      - DatasetArn
      - DataSource
    type: object
  CreateDatasetImportJobResponse:
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job.
    type: object
  CreateDatasetRequest:
    properties:
      DataFrequency:
        $ref: '#/definitions/Frequency'
        description: '<p>The frequency of data collection.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, "D" indicates every day and "15min" indicates every 15 minutes.</p>'
      DatasetName:
        $ref: '#/definitions/Name'
        description: A name for the dataset.
      DatasetType:
        $ref: '#/definitions/DatasetType'
        description: The dataset type. Valid values depend on the chosen <code>Domain</code>.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      Schema:
        $ref: '#/definitions/Schema'
        description: 'The schema for the dataset. The schema attributes and their order must match the fields in your data. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose determine the minimum required fields in your training data. For information about the required fields for a specific dataset domain and type, see <a>howitworks-domains-ds-types</a>.'
    required:
      - DatasetName
      - Domain
      - DatasetType
      - Schema
    type: object
  CreateDatasetResponse:
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
    type: object
  CreateForecastExportJobRequest:
    properties:
      Destination:
        $ref: '#/definitions/DataDestination'
        description: The path to the Amazon S3 bucket where you want to save the forecast and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the bucket.
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast that you want to export.
      ForecastExportJobName:
        $ref: '#/definitions/Name'
        description: The name for the forecast export job.
    required:
      - ForecastExportJobName
      - ForecastArn
      - Destination
    type: object
  CreateForecastExportJobResponse:
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the export job.
    type: object
  CreateForecastRequest:
    properties:
      ForecastName:
        $ref: '#/definitions/Name'
        description: The name for the forecast.
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor to use to generate the forecast.
    required:
      - ForecastName
      - PredictorArn
    type: object
  CreateForecastResponse:
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast.
    type: object
  CreatePredictorRequest:
    properties:
      AlgorithmArn:
        $ref: '#/definitions/Arn'
        description: '<p>The Amazon Resource Name (ARN) of the algorithm to use for model training. Required if <code>PerformAutoML</code> is not set to <code>true</code>.</p> <p class="title"> <b>Supported algorithms</b> </p> <ul> <li> <p> <code>arn:aws:forecast:::algorithm/ARIMA</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Deep_AR_Plus</code> </p> <p> <code>- supports hyperparameter optimization (HPO)</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/ETS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/NPTS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Prophet</code> </p> </li> </ul>'
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      EvaluationParameters:
        $ref: '#/definitions/EvaluationParameters'
        description: Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.
      FeaturizationConfig:
        $ref: '#/definitions/FeaturizationConfig'
        description: The featurization configuration.
      ForecastHorizon:
        $ref: '#/definitions/Integer'
        description: '<p>Specifies the number of time-steps that the model is trained to predict. The forecast horizon is also called the prediction length.</p> <p>For example, if you configure a dataset for daily data collection (using the <code>DataFrequency</code> parameter of the <a>CreateDataset</a> operation) and set the forecast horizon to 10, the model returns predictions for 10 days.</p>'
      HPOConfig:
        $ref: '#/definitions/HyperParameterTuningJobConfig'
        description: 'Provides hyperparameter override values for the algorithm. If you don''t provide this parameter, Amazon Forecast uses default values. The individual algorithms specify which hyperparameters support hyperparameter optimization (HPO). For more information, see <a>aws-forecast-choosing-recipes</a>.'
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Describes the dataset group that contains the data to use to train the predictor.
      PerformAutoML:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether to perform AutoML. The default value is <code>false</code>. In this case, you are required to specify an algorithm.</p> <p>If you want Amazon Forecast to evaluate the algorithms it provides and choose the best algorithm and configuration for your training dataset, set <code>PerformAutoML</code> to <code>true</code>. This is a good option if you aren''t sure which algorithm is suitable for your application.</p>'
      PerformHPO:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether to perform hyperparameter optimization (HPO). HPO finds optimal hyperparameter values for your training data. The process of performing HPO is known as a hyperparameter tuning job.</p> <p>The default value is <code>false</code>. In this case, Amazon Forecast uses default hyperparameter values from the chosen algorithm.</p> <p>To override the default values, set <code>PerformHPO</code> to <code>true</code> and supply the <a>HyperParameterTuningJobConfig</a> object. The tuning job specifies an objective metric, the hyperparameters to optimize, and the valid range for each hyperparameter.</p> <p>The following algorithms support HPO:</p> <ul> <li> <p>DeepAR+</p> </li> </ul>'
      PredictorName:
        $ref: '#/definitions/Name'
        description: A name for the predictor.
      TrainingParameters:
        $ref: '#/definitions/TrainingParameters'
        description: The training parameters to override for model training. The parameters that you can override are listed in the individual algorithms in <a>aws-forecast-choosing-recipes</a>.
    required:
      - PredictorName
      - ForecastHorizon
      - InputDataConfig
      - FeaturizationConfig
    type: object
  CreatePredictorResponse:
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor.
    type: object
  DataDestination:
    description: The destination of an exported forecast and credentials to access the location. This object is submitted in the <a>CreateForecastExportJob</a> request.
    properties:
      S3Config:
        $ref: '#/definitions/S3Config'
        description: The path to an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the bucket.
    required:
      - S3Config
    type: object
  DataSource:
    description: The source of your training data and credentials to access the data. This object is submitted in the <a>CreateDatasetImportJob</a> request.
    properties:
      S3Config:
        $ref: '#/definitions/S3Config'
        description: The path to the training data stored in an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the data.
    required:
      - S3Config
    type: object
  DatasetGroupSummary:
    description: 'Provides a summary of the dataset group properties used in the <a>ListDatasetGroups</a> operation. To get the complete set of properties, call the <a>DescribeDatasetGroup</a> operation, and provide the listed <code>DatasetGroupArn</code>.'
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the datase group was created.
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group.
      DatasetGroupName:
        $ref: '#/definitions/Name'
        description: The name of the dataset group.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated, <code>LastModificationTime</code> is the current query time.'
    type: object
  DatasetGroups:
    items:
      $ref: '#/definitions/DatasetGroupSummary'
    type: array
  DatasetImportJobSummary:
    description: 'Provides a summary of the dataset import job properties used in the <a>ListDatasetImportJobs</a> operation. To get the complete set of properties, call the <a>DescribeDatasetImportJob</a> operation, and provide the listed <code>DatasetImportJobArn</code>.'
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset import job was created.
      DataSource:
        $ref: '#/definitions/DataSource'
        description: The location of the Amazon S3 bucket that contains the training data.
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job.
      DatasetImportJobName:
        $ref: '#/definitions/Name'
        description: The name of the dataset import job.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: '<p>Dependent on the status as follows:</p> <ul> <li> <p> <code>CREATE_PENDING</code> - same as <code>CreationTime</code> </p> </li> <li> <p> <code>CREATE_IN_PROGRESS</code> - the current timestamp</p> </li> <li> <p> <code>ACTIVE</code> or <code>CREATE_FAILED</code> - when the job finished or failed</p> </li> </ul>'
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: 'If an error occurred, an informational message about the error.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset import job. The status is reflected in the status of the dataset. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul>'
    type: object
  DatasetImportJobs:
    items:
      $ref: '#/definitions/DatasetImportJobSummary'
    type: array
  DatasetSummary:
    description: 'Provides a summary of the dataset properties used in the <a>ListDatasets</a> operation. To get the complete set of properties, call the <a>DescribeDataset</a> operation, and provide the listed <code>DatasetArn</code>.'
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset was created.
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
      DatasetName:
        $ref: '#/definitions/Name'
        description: The name of the dataset.
      DatasetType:
        $ref: '#/definitions/DatasetType'
        description: The dataset type.
      Domain:
        $ref: '#/definitions/Domain'
        description: The domain associated with the dataset.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset is created, <code>LastModificationTime</code> is the same as <code>CreationTime</code>. After a <a>CreateDatasetImportJob</a> operation is called, <code>LastModificationTime</code> is when the import job finished or failed. While data is being imported to the dataset, <code>LastModificationTime</code> is the current query time.'
    type: object
  DatasetType:
    enum:
      - TARGET_TIME_SERIES
      - RELATED_TIME_SERIES
      - ITEM_METADATA
    type: string
  Datasets:
    items:
      $ref: '#/definitions/DatasetSummary'
    type: array
  DeleteDatasetGroupRequest:
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group to delete.
    required:
      - DatasetGroupArn
    type: object
  DeleteDatasetImportJobRequest:
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job to delete.
    required:
      - DatasetImportJobArn
    type: object
  DeleteDatasetRequest:
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset to delete.
    required:
      - DatasetArn
    type: object
  DeleteForecastExportJobRequest:
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast export job to delete.
    required:
      - ForecastExportJobArn
    type: object
  DeleteForecastRequest:
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast to delete.
    required:
      - ForecastArn
    type: object
  DeletePredictorRequest:
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor to delete.
    required:
      - PredictorArn
    type: object
  DescribeDatasetGroupRequest:
    properties:
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset group.
    required:
      - DatasetGroupArn
    type: object
  DescribeDatasetGroupResponse:
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset group was created.
      DatasetArns:
        $ref: '#/definitions/ArnList'
        description: An array of Amazon Resource Names (ARNs) of the datasets contained in the dataset group.
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset group.
      DatasetGroupName:
        $ref: '#/definitions/Name'
        description: The name of the dataset group.
      Domain:
        $ref: '#/definitions/Domain'
        description: 'The domain associated with the dataset group. The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.'
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated, <code>LastModificationTime</code> is the current query time.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset group. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply when the <a>UpdateDatasetGroup</a> operation is called.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before creating a predictor using the dataset group.</p> </note>'
    type: object
  DescribeDatasetImportJobRequest:
    properties:
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset import job.
    required:
      - DatasetImportJobArn
    type: object
  DescribeDatasetImportJobResponse:
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset import job was created.
      DataSize:
        $ref: '#/definitions/Double'
        description: The size of the dataset in gigabytes (GB) after completion of the import job.
      DataSource:
        $ref: '#/definitions/DataSource'
        description: The location of the training data to import. The training data must be stored in an Amazon S3 bucket.
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset that the training data was imported to.
      DatasetImportJobArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset import job.
      DatasetImportJobName:
        $ref: '#/definitions/Name'
        description: The name of the dataset import job.
      FieldStatistics:
        $ref: '#/definitions/FieldStatistics'
        description: Statistical information about each field in the input data.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: '<p>Dependent on the status as follows:</p> <ul> <li> <p> <code>CREATE_PENDING</code> - same as <code>CreationTime</code> </p> </li> <li> <p> <code>CREATE_IN_PROGRESS</code> - the current timestamp</p> </li> <li> <p> <code>ACTIVE</code> or <code>CREATE_FAILED</code> - when the job finished or failed</p> </li> </ul>'
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset import job. The status is reflected in the status of the dataset. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul>'
      TimestampFormat:
        $ref: '#/definitions/TimestampFormat'
        description: '<p>The format of timestamps in the dataset. Two formats are supported dependent on the <code>DataFrequency</code> specified when the dataset was created.</p> <ul> <li> <p>"yyyy-MM-dd"</p> <p>For data frequencies: Y, M, W, and D</p> </li> <li> <p>"yyyy-MM-dd HH:mm:ss"</p> <p>For data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul>'
    type: object
  DescribeDatasetRequest:
    properties:
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
    required:
      - DatasetArn
    type: object
  DescribeDatasetResponse:
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the dataset was created.
      DataFrequency:
        $ref: '#/definitions/Frequency'
        description: '<p>The frequency of data collection.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, "M" indicates every month and "30min" indicates every 30 minutes.</p>'
      DatasetArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the dataset.
      DatasetName:
        $ref: '#/definitions/Name'
        description: The name of the dataset.
      DatasetType:
        $ref: '#/definitions/DatasetType'
        description: The dataset type.
      Domain:
        $ref: '#/definitions/Domain'
        description: The dataset domain.
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the dataset is created, <code>LastModificationTime</code> is the same as <code>CreationTime</code>. After a <a>CreateDatasetImportJob</a> operation is called, <code>LastModificationTime</code> is when the import job finished or failed. While data is being imported to the dataset, <code>LastModificationTime</code> is the current query time.'
      Schema:
        $ref: '#/definitions/Schema'
        description: An array of <code>SchemaAttribute</code> objects that specify the dataset fields. Each <code>SchemaAttribute</code> specifies the name and data type of a field.
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the dataset. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply while data is imported to the dataset from a call to the <a>CreateDatasetImportJob</a> operation. During this time, the status reflects the status of the dataset import job. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>.</p> <note> <p>The <code>Status</code> of the dataset must be <code>ACTIVE</code> before you can import training data.</p> </note>'
    type: object
  DescribeForecastExportJobRequest:
    properties:
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast export job.
    required:
      - ForecastExportJobArn
    type: object
  DescribeForecastExportJobResponse:
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the forecast export job was created.
      Destination:
        $ref: '#/definitions/DataDestination'
        description: The path to the AWS S3 bucket where the forecast is exported.
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the exported forecast.
      ForecastExportJobArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the forecast export job.
      ForecastExportJobName:
        $ref: '#/definitions/Name'
        description: The name of the forecast export job.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: When the last successful export job finished.
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the forecast export job. One of the following states:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket.</p> </note>'
    type: object
  DescribeForecastRequest:
    properties:
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast.
    required:
      - ForecastArn
    type: object
  DescribeForecastResponse:
    properties:
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the forecast creation task was created.
      DatasetGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the dataset group that provided the data used to train the predictor.
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The same forecast ARN as given in the request.
      ForecastName:
        $ref: '#/definitions/Name'
        description: The name of the forecast.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when inference (creating the forecast) starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when inference is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).'
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: 'If an error occurred, an informational message about the error.'
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the predictor used to generate the forecast.
      Status:
        $ref: '#/definitions/String'
        description: '<p>The status of the forecast. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast.</p> </note>'
    type: object
  DescribePredictorRequest:
    properties:
      PredictorArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the predictor that you want information about.
    required:
      - PredictorArn
    type: object
  DescribePredictorResponse:
    properties:
      AlgorithmArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the algorithm used for model training.
      AutoMLAlgorithmArns:
        $ref: '#/definitions/ArnList'
        description: 'When <code>PerformAutoML</code> is specified, the ARN of the chosen algorithm.'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When the model training task was created.
      DatasetImportJobArns:
        $ref: '#/definitions/ArnList'
        description: An array of ARNs of the dataset import jobs used to import training data for the predictor.
      EncryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.
      EvaluationParameters:
        $ref: '#/definitions/EvaluationParameters'
        description: Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.
      FeaturizationConfig:
        $ref: '#/definitions/FeaturizationConfig'
        description: The featurization configuration.
      ForecastHorizon:
        $ref: '#/definitions/Integer'
        description: The number of time-steps of the forecast. The forecast horizon is also called the prediction length.
      HPOConfig:
        $ref: '#/definitions/HyperParameterTuningJobConfig'
        description: The hyperparameter override values for the algorithm.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Describes the dataset group that contains the data to use to train the predictor.
      LastModificationTime:
        $ref: '#/definitions/Timestamp'
        description: 'Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when training starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when training is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).'
      Message:
        $ref: '#/definitions/Message'
        description: 'If an error occurred, an informational message about the error.'
      PerformAutoML:
        $ref: '#/definitions/Boolean'
        description: Whether the predictor is set to perform AutoML.
      PerformHPO:
        $ref: '#/definitions/Boolean'
        description: Whether the predictor is set to perform HPO.
      PredictorArn:
        $ref: '#/definitions/Name'
        description: The ARN of the predictor.
      PredictorName:
        $ref: '#/definitions/Name'
        description: The name of the predictor.
      Status:
        $ref: '#/definitions/Status'
        description: '<p>The status of the predictor. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code> before using the predictor to create a forecast.</p> </note>'
      TrainingParameters:
        $ref: '#/definitions/TrainingParameters'
        description: The training parameters to override for model training. The parameters that you can override are listed in the individual algorithms in <a>aws-forecast-choosing-recipes</a>.
    type: object
  Domain:
    enum:
      - RETAIL
      - CUSTOM
      - INVENTORY_PLANNING
      - EC2_CAPACITY
      - WORK_FORCE
      - WEB_TRAFFIC
      - METRICS
    type: string
  Double:
    format: double
    type: number
  EncryptionConfig:
    description: An AWS Key Management Service (KMS) key and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key. This object is optionally submitted in the <a>CreateDataset</a> and <a>CreatePredictor</a> requests.
    properties:
      KMSKeyArn:
        $ref: '#/definitions/KMSKeyArn'
        description: The Amazon Resource Name (ARN) of an AWS Key Management Service (KMS) key.
      RoleArn:
        $ref: '#/definitions/Arn'
        description: '<p>The ARN of the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the AWS KMS key.</p> <p>Cross-account pass role is not allowed. If you pass a role that doesn''t belong to your account, an <code>InvalidInputException</code> is thrown.</p>'
    required:
      - RoleArn
      - KMSKeyArn
    type: object
  ErrorMessage:
    type: string
  EvaluationParameters:
    description: '<p>Parameters that define how to split a dataset into training data and testing data, and the number of iterations to perform. These parameters are specified in the predefined algorithms and can be overridden in the <a>CreatePredictor</a> request.</p> <p>For example, suppose that you have a dataset with data collection frequency set to every day and you have 200 days worth of data (that is, 200 data points). Now suppose that you set the <code>NumberOfBacktestWindows</code> to 2 and the <code>BackTestWindowOffset</code> parameter to 20. The algorithm splits the data twice. The first time, the algorithm trains the model using the first 180 data points and uses the last 20 data points for evaluation. The second time, the algorithm trains the model using the first 160 data points and uses the last 40 data points for evaluation.</p>'
    properties:
      BackTestWindowOffset:
        $ref: '#/definitions/Integer'
        description: The point from the end of the dataset where you want to split the data for model training and evaluation. The value is specified as the number of data points.
      NumberOfBacktestWindows:
        $ref: '#/definitions/Integer'
        description: The number of times to split the input data. The default is 1. The range is 1 through 5.
    type: object
  EvaluationResult:
    description: The results of evaluating an algorithm. Returned as part of the <a>GetAccuracyMetrics</a> response.
    properties:
      AlgorithmArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the algorithm that was evaluated.
      TestWindows:
        $ref: '#/definitions/TestWindows'
        description: The array of test windows used for evaluating the algorithm. The <code>NumberOfBacktestWindows</code> from the <a>EvaluationParameters</a> object determines the number of windows in the array.
    type: object
  EvaluationType:
    enum:
      - SUMMARY
      - COMPUTED
    type: string
  Featurization:
    description: '<p>Provides featurization (transformation) information for a dataset field. This object is part of the <a>FeaturizationConfig</a> object.</p> <p>For example:</p> <p> <code>{</code> </p> <p> <code>"AttributeName": "demand",</code> </p> <p> <code>FeaturizationPipeline [ {</code> </p> <p> <code>"FeaturizationMethodName": "filling",</code> </p> <p> <code>"FeaturizationMethodParameters": {"aggregation": "avg", "backfill": "nan"}</code> </p> <p> <code>} ]</code> </p> <p> <code>}</code> </p>'
    properties:
      AttributeName:
        $ref: '#/definitions/Name'
        description: 'The name of the schema attribute specifying the data field to be featurized. In this release, only the <code>target</code> field of the <code>TARGET_TIME_SERIES</code> dataset type is supported. For example, for the <code>RETAIL</code> domain, the target is <code>demand</code>, and for the <code>CUSTOM</code> domain, the target is <code>target_value</code>.'
      FeaturizationPipeline:
        $ref: '#/definitions/FeaturizationPipeline'
        description: 'An array <code>FeaturizationMethod</code> objects that specifies the feature transformation methods. For this release, the number of methods is limited to one.'
    required:
      - AttributeName
    type: object
  FeaturizationConfig:
    description: '<p>In a <a>CreatePredictor</a> operation, the specified algorithm trains a model using the specified dataset group. You can optionally tell the operation to modify data fields prior to training a model. These modifications are referred to as <i>featurization</i>.</p> <p>You define featurization using the <code>FeaturizationConfig</code> object. You specify an array of transformations, one for each field that you want to featurize. You then include the <code>FeaturizationConfig</code> in your <code>CreatePredictor</code> request. Amazon Forecast applies the featurization to the <code>TARGET_TIME_SERIES</code> dataset before model training.</p> <p>You can create multiple featurization configurations. For example, you might call the <code>CreatePredictor</code> operation twice by specifying different featurization configurations.</p>'
    properties:
      Featurizations:
        $ref: '#/definitions/Featurizations'
        description: 'An array of featurization (transformation) information for the fields of a dataset. In this release, only a single featurization is supported.'
      ForecastDimensions:
        $ref: '#/definitions/ForecastDimensions'
        description: '<p>An array of dimension (field) names that specify how to group the generated forecast.</p> <p>For example, suppose that you are generating a forecast for item sales across all of your stores, and your dataset contains a <code>store_id</code> field. If you want the sales forecast for each item by store, you would specify <code>store_id</code> as the dimension.</p>'
      ForecastFrequency:
        $ref: '#/definitions/Frequency'
        description: '<p>The frequency of predictions in a forecast.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, "Y" indicates every year and "5min" indicates every five minutes.</p>'
    required:
      - ForecastFrequency
    type: object
  FeaturizationMethod:
    description: '<p>Provides information about a method that featurizes (transforms) a dataset field. The method is part of the <code>FeaturizationPipeline</code> of the <a>Featurization</a> object. If <code>FeaturizationMethodParameters</code> isn''t specified, Amazon Forecast uses default parameters.</p> <p>For example:</p> <p> <code>{</code> </p> <p> <code>"FeaturizationMethodName": "filling",</code> </p> <p> <code>"FeaturizationMethodParameters": {"aggregation": "avg", "backfill": "nan"}</code> </p> <p> <code>}</code> </p>'
    properties:
      FeaturizationMethodName:
        $ref: '#/definitions/FeaturizationMethodName'
        description: 'The name of the method. In this release, "filling" is the only supported method.'
      FeaturizationMethodParameters:
        $ref: '#/definitions/FeaturizationMethodParameters'
        description: '<p>The method parameters (key-value pairs). Specify these to override the default values. The following list shows the parameters and their valid values. Bold signifies the default value.</p> <ul> <li> <p> <code>aggregation</code>: <b>sum</b>, <code>avg</code>, <code>first</code>, <code>min</code>, <code>max</code> </p> </li> <li> <p> <code>frontfill</code>: <b>none</b> </p> </li> <li> <p> <code>middlefill</code>: <b>zero</b>, <code>nan</code> (not a number)</p> </li> <li> <p> <code>backfill</code>: <b>zero</b>, <code>nan</code> </p> </li> </ul>'
    required:
      - FeaturizationMethodName
    type: object
  FeaturizationMethodName:
    enum:
      - filling
    type: string
  FeaturizationMethodParameters:
    additionalProperties:
      $ref: '#/definitions/ParameterValue'
    maxProperties: 20
    minProperties: 1
    type: object
  FeaturizationPipeline:
    items:
      $ref: '#/definitions/FeaturizationMethod'
    maxItems: 1
    minItems: 1
    type: array
  Featurizations:
    items:
      $ref: '#/definitions/Featurization'
    maxItems: 1
    minItems: 1
    type: array
  FieldStatistics:
    additionalProperties:
      $ref: '#/definitions/Statistics'
    type: object
  Filter:
    description: 'Describes a filter for choosing a subset of objects. Each filter consists of a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude, respectively, the objects that match the statement. The match statement consists of a key and a value.'
    properties:
      Condition:
        $ref: '#/definitions/FilterConditionString'
        description: The condition to apply.
      Key:
        $ref: '#/definitions/String'
        description: The name of the parameter to filter on.
      Value:
        $ref: '#/definitions/Arn'
        description: A valid value for <code>Key</code>.
    required:
      - Key
      - Value
      - Condition
[...]
