openapi: 3.0.3
info:
  title: HeraldAPI Reference
  version: '1.0'
  contact:
    name: Duncan Crystal
    email: duncan@heraldapi.com
  description: |-
    HeraldAPI is the API for commercial insurance.

    Below are the available endpoints:

    <b>Welcome & Health Check</b>
    <br><tt>[GET&nbsp;/](/b3A6ODY5Mzc1MA-)</tt>
    <hr>

    <b>Submissions</b>
    <br><tt>[POST&nbsp;/submissions](/b3A6OTQ1Mjg5Nw-submissions)</tt>
    <br><tt>[GET&nbsp;&nbsp;/submissions/{submission_id}](/b3A6OTQ1ODY3Mg-submissions-submission-id)</tt>
    <hr>

    <b>Quotes</b>
    <br><tt>[GET&nbsp;/quotes/{quote_id}](/b3A6ODc3NjcwMg-quotes-quote-id)</tt>
    <hr>

    <b>Producers</b>
    <br><tt>[GET&nbsp;/producers](/b3A6ODc3NjcwMQ-producers)</tt>
    <hr>

    <b>Products</b>
    <br><tt>[GET&nbsp;/products](/b3A6ODc3NjcwNg-products)</tt>
    <hr>

    <b>Institutions</b>
    <br><tt>[GET&nbsp;/institutions](/b3A6ODc3NjcwNw-institutions)</tt>
    <hr>

    <b>Coverage Parameters</b>
    <br><tt>[GET&nbsp;/coverage_parameters](/b3A6MTA0MDgyNzc-coverage-parameters)</tt>
    <hr>

    <b>Risk Parameters</b>
    <br><tt>[GET&nbsp;/risk_parameters](/b3A6MTA0MDgyNzg-risk-parameters)</tt>
servers:
  - url: 'https://sandbox.heraldapi.com'
    description: Sandbox Environment
  - url: 'https://production.heraldapi.com'
    description: Production Environment
paths:
  /auth/token:
    post:
      summary: /auth/token
      operationId: post-auth-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: An expiring access token that can be used as a bearer token for all auth-protected Herald endpoints.
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwbGF0Zm9ybUlkIjoiZm9vYmFyIiwiaWF0IjoxNjQ2NTkzNzUwLCJleHAiOjE2NDY2ODAxNTB9.UEe8fXdaiS4rynpeVlISm6wWglQitbZfW5_YXs-SEbg
                  expires_at:
                    type: integer
                    description: 'Timestamp at which the provided access token will expire, in seconds since Unix epoch.'
                    example: 1646680150
                required:
                  - access_token
                  - expires_at
              examples:
                example-1:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwbGF0Zm9ybUlkIjoiZm9vYmFyIiwiaWF0IjoxNjQ2NTkzNzUwLCJleHAiOjE2NDY2ODAxNTB9.UEe8fXdaiS4rynpeVlISm6wWglQitbZfW5_YXs-SEbg
                    expires_at: 1646680150
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  example: 06Go1GZaEb3VlMf2pUA7PzWrBokCybFmgqR075kIBdM=
                  description: Your Herald API key. This should have been provided to you by a member of the Herald team.
              required:
                - api_key
            examples:
              example-1:
                value:
                  api_key: 06Go1GZaEb3VlMf2pUA7PzWrBokCybFmgqR075kIBdM=
        description: ''
      description: |-
        Generate Herald API access tokens. These tokens expire after 24 hours and can be used to access any auth-protected Herald API endpoint. To use these tokens in future requests, include them as a bearer token in the "Authorization" header. Below is an example flow:

        First, use your API key to get an access token:
        ``` http
        POST /auth/token

        {
          "api_key": "06Go1GZaEb3VlMf2pUA7PzWrBokCybFmgqR075kIBdM="
        }
        ```

        The response will look like this:
        ``` json
        {
          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwbGF0Zm9ybUlkIjoiZm9vYmFyIiwiaWF0IjoxNjQ2NTkzNzUwLCJleHAiOjE2NDY2ODAxNTB9.UEe8fXdaiS4rynpeVlISm6wWglQitbZfW5_YXs-SEbg",
          "expires_at": 1646680150
        }
        ```

        Then use that token in future requests, like so:
        ``` http
        GET /producers
        Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwbGF0Zm9ybUlkIjoiZm9vYmFyIiwiaWF0IjoxNjQ2NTkzNzUwLCJleHAiOjE2NDY2ODAxNTB9.UEe8fXdaiS4rynpeVlISm6wWglQitbZfW5_YXs-SEbg
        ```
  /applications:
    post:
      summary: /applications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/ApplicationRead.v1'
              examples:
                Blank Application:
                  value:
                    application:
                      id: aa5e82ff-0bb0-4966-8d3b-69b8413ae9ef
                      status: incomplete
                      products:
                        - prd_mc4r_herald_general_liability
                      coverage_values:
                        - coverage_parameter_id: cvg_14fb_gl_damages_premises_limit
                          value: null
                          text: Damages to Premises Rented Limit
                          parameter_text:
                            applicant_facing_text: Damages to Premises Rented Limit
                            agent_facing_text: Damages to Premises Rented Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Damages to Premises Rented Limit
                        - coverage_parameter_id: cvg_45pv_gl_tria
                          value: null
                          text: TRIA
                          parameter_text:
                            applicant_facing_text: TRIA
                            agent_facing_text: TRIA
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: string
                            enum:
                              - included
                              - excluded
                            title: TRIA
                        - coverage_parameter_id: cvg_48oo_gl_effective_date
                          value: null
                          text: General Liability Effective Date
                          parameter_text:
                            applicant_facing_text: General Liability Effective Date
                            agent_facing_text: General Liability Effective Date
                          input_type: date
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            format: date
                            title: General Liability Effective Date
                        - coverage_parameter_id: cvg_7bds_gl_medical_expense_limit
                          value: null
                          text: Medical Expense Limit
                          parameter_text:
                            applicant_facing_text: Medical Expense Limit
                            agent_facing_text: Medical Expense Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 10000
                            title: Medical Expense Limit
                        - coverage_parameter_id: cvg_871v_gl_products_completed_ops_limit
                          value: null
                          text: Products and Completed Operations Limit
                          parameter_text:
                            applicant_facing_text: Products and Completed Operations Limit
                            agent_facing_text: Products and Completed Operations Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Products and Completed Operations Limit
                        - coverage_parameter_id: cvg_c02a_gl_each_occurrence_limit
                          value: null
                          text: Each Occurrence Limit
                          parameter_text:
                            applicant_facing_text: Each Occurrence Limit
                            agent_facing_text: Each Occurrence Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                            title: Each Occurrence Limit
                        - coverage_parameter_id: cvg_s6l3_gl_personal_advertising_limit
                          value: null
                          text: Personal and Advertising Injury Limit
                          parameter_text:
                            applicant_facing_text: Personal and Advertising Injury Limit
                            agent_facing_text: Personal and Advertising Injury Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Personal and Advertising Injury Limit
                        - coverage_parameter_id: cvg_wsz8_gl_general_aggregate_limit
                          value: null
                          text: General Aggregate Limit
                          parameter_text:
                            applicant_facing_text: General Aggregate Limit
                            agent_facing_text: General Aggregate Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                            title: General Aggregate Limit
                      risk_values:
                        - risk_parameter_id: rsk_1rdc_home_state
                          value: null
                          text: Home state
                          parameter_text:
                            applicant_facing_text: Home state
                            agent_facing_text: Applicant's home state
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            enum:
                              - AL
                              - AK
                              - AZ
                              - AR
                              - CA
                              - CO
                              - CT
                              - DE
                              - DC
                              - FL
                              - GA
                              - HI
                              - ID
                              - IL
                              - IN
                              - IA
                              - KS
                              - KY
                              - LA
                              - ME
                              - MD
                              - MA
                              - MI
                              - MN
                              - MS
                              - MO
                              - MT
                              - NE
                              - NV
                              - NH
                              - NJ
                              - NM
                              - NY
                              - NC
                              - ND
                              - OH
                              - OK
                              - OR
                              - PA
                              - RI
                              - SC
                              - SD
                              - TN
                              - TX
                              - UT
                              - VT
                              - VA
                              - WA
                              - WV
                              - WI
                              - WY
                            title: Home state
                        - risk_parameter_id: rsk_m4p9_insured_name
                          value: null
                          text: Insured name
                          parameter_text:
                            applicant_facing_text: Insured's name
                            agent_facing_text: Insured's name
                          input_type: short_text
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            title: Insured name
                        - risk_parameter_id: rsk_tvm3_mailing_address
                          value: null
                          text: Mailing address
                          parameter_text:
                            applicant_facing_text: Mailing address
                            agent_facing_text: Applicant's mailing address
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                                title: Line 1
                              line2:
                                type: string
                                title: Line 2
                              line3:
                                type: string
                                title: Line 3
                              organization:
                                type: string
                                title: Organization
                              city:
                                type: string
                                title: City
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                                title: State
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                                title: Postal code
                              country_code:
                                type: string
                                enum:
                                  - USA
                                title: Country
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_1
                          value: null
                          text: Location
                          parameter_text:
                            applicant_facing_text: Location
                            agent_facing_text: Insured location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                                title: Line 1
                              line2:
                                type: string
                                title: Line 2
                              line3:
                                type: string
                                title: Line 3
                              organization:
                                type: string
                                title: Organization
                              city:
                                type: string
                                title: City
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                                title: State
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                                title: Postal code
                              country_code:
                                type: string
                                enum:
                                  - USA
                                title: Country
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                          child_risk_values:
                            - risk_parameter_id: rsk_km7k_gl_class_code_by_location
                              instance: location_1.gl_class_code_by_location_1
                              value: null
                              text: Class code
                              parameter_text:
                                applicant_facing_text: Location's GL E&S ISO Industry Code
                                agent_facing_text: Location's GL E&S ISO Industry Code
                              input_type: short_text
                              relevant_products:
                                - prd_mc4r_herald_general_liability
                              creates_array: true
                              affects_conditions: true
                              required_for:
                                - quote
                              schema:
                                type: string
                                title: Class code
                Application with Values:
                  value:
                    application:
                      id: aa5e82ff-0bb0-4966-8d3b-69b8413ae9ef
                      status: incomplete
                      products:
                        - prd_mc4r_herald_general_liability
                      coverage_values:
                        - coverage_parameter_id: cvg_14fb_gl_damages_premises_limit
                          value: 500000
                          text: Damages to Premises Rented Limit
                          parameter_text:
                            applicant_facing_text: Damages to Premises Rented Limit
                            agent_facing_text: Damages to Premises Rented Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Damages to Premises Rented Limit
                        - coverage_parameter_id: cvg_45pv_gl_tria
                          value: included
                          text: TRIA
                          parameter_text:
                            applicant_facing_text: TRIA
                            agent_facing_text: TRIA
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: string
                            enum:
                              - included
                              - excluded
                            title: TRIA
                        - coverage_parameter_id: cvg_48oo_gl_effective_date
                          value: '2022-11-02'
                          text: General Liability Effective Date
                          parameter_text:
                            applicant_facing_text: General Liability Effective Date
                            agent_facing_text: General Liability Effective Date
                          input_type: date
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            format: date
                            title: General Liability Effective Date
                        - coverage_parameter_id: cvg_7bds_gl_medical_expense_limit
                          value: null
                          text: Medical Expense Limit
                          parameter_text:
                            applicant_facing_text: Medical Expense Limit
                            agent_facing_text: Medical Expense Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 10000
                            title: Medical Expense Limit
                        - coverage_parameter_id: cvg_871v_gl_products_completed_ops_limit
                          value: null
                          text: Products and Completed Operations Limit
                          parameter_text:
                            applicant_facing_text: Products and Completed Operations Limit
                            agent_facing_text: Products and Completed Operations Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Products and Completed Operations Limit
                        - coverage_parameter_id: cvg_c02a_gl_each_occurrence_limit
                          value: null
                          text: Each Occurrence Limit
                          parameter_text:
                            applicant_facing_text: Each Occurrence Limit
                            agent_facing_text: Each Occurrence Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                            title: Each Occurrence Limit
                        - coverage_parameter_id: cvg_s6l3_gl_personal_advertising_limit
                          value: null
                          text: Personal and Advertising Injury Limit
                          parameter_text:
                            applicant_facing_text: Personal and Advertising Injury Limit
                            agent_facing_text: Personal and Advertising Injury Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                            title: Personal and Advertising Injury Limit
                        - coverage_parameter_id: cvg_wsz8_gl_general_aggregate_limit
                          value: null
                          text: General Aggregate Limit
                          parameter_text:
                            applicant_facing_text: General Aggregate Limit
                            agent_facing_text: General Aggregate Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                            title: General Aggregate Limit
                      risk_values:
                        - risk_parameter_id: rsk_1rdc_home_state
                          value: MA
                          text: Home state
                          parameter_text:
                            applicant_facing_text: Home state
                            agent_facing_text: Applicant's home state
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            enum:
                              - AL
                              - AK
                              - AZ
                              - AR
                              - CA
                              - CO
                              - CT
                              - DE
                              - DC
                              - FL
                              - GA
                              - HI
                              - ID
                              - IL
                              - IN
                              - IA
                              - KS
                              - KY
                              - LA
                              - ME
                              - MD
                              - MA
                              - MI
                              - MN
                              - MS
                              - MO
                              - MT
                              - NE
                              - NV
                              - NH
                              - NJ
                              - NM
                              - NY
                              - NC
                              - ND
                              - OH
                              - OK
                              - OR
                              - PA
                              - RI
                              - SC
                              - SD
                              - TN
                              - TX
                              - UT
                              - VT
                              - VA
                              - WA
                              - WV
                              - WI
                              - WY
                            title: Home state
                        - risk_parameter_id: rsk_m4p9_insured_name
                          value: John's Diner
                          text: Insured name
                          parameter_text:
                            applicant_facing_text: Insured's name
                            agent_facing_text: Insured's name
                          input_type: short_text
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            title: Insured name
                        - risk_parameter_id: rsk_tvm3_mailing_address
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Mailing address
                          parameter_text:
                            applicant_facing_text: Mailing address
                            agent_facing_text: Applicant's mailing address
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                                title: Line 1
                              line2:
                                type: string
                                title: Line 2
                              line3:
                                type: string
                                title: Line 3
                              organization:
                                type: string
                                title: Organization
                              city:
                                type: string
                                title: City
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                                title: State
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                                title: Postal code
                              country_code:
                                type: string
                                enum:
                                  - USA
                                title: Country
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_1
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Location
                          parameter_text:
                            applicant_facing_text: Location
                            agent_facing_text: Insured location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                                title: Line 1
                              line2:
                                type: string
                                title: Line 2
                              line3:
                                type: string
                                title: Line 3
                              organization:
                                type: string
                                title: Organization
                              city:
                                type: string
                                title: City
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                                title: State
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                                title: Postal code
                              country_code:
                                type: string
                                enum:
                                  - USA
                                title: Country
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                          child_risk_values:
                            - risk_parameter_id: rsk_km7k_gl_class_code_by_location
                              instance: location_1.gl_class_code_by_location_1
                              value: '16900'
                              text: Class code
                              parameter_text:
                                applicant_facing_text: Location's GL E&S ISO Industry Code
                                agent_facing_text: Location's GL E&S ISO Industry Code
                              input_type: short_text
                              relevant_products:
                                - prd_mc4r_herald_general_liability
                              creates_array: true
                              affects_conditions: true
                              required_for:
                                - quote
                              schema:
                                type: string
                                title: Class code
                              child_risk_values:
                                - risk_parameter_id: rsk_w72m_gross_sales_by_gl_class_code
                                  value: null
                                  text: Gross Sales
                                  parameter_text:
                                    applicant_facing_text: Gross sales
                                    agent_facing_text: Gross sales
                                  input_type: integer
                                  relevant_products:
                                    - prd_mc4r_herald_general_liability
                                  creates_array: false
                                  affects_conditions: false
                                  required_for:
                                    - quote
                                  schema:
                                    type: integer
                                    title: Gross Sales
      operationId: post-applications
      description: |-
        ### Create an application

        Create an [application](https://www.heraldapi.com/docs/dynamic-application) for a product or set of products. An application contains the set of information a carrier requires to get a quote for the product(s). Submitting only `products` will create a blank application. Including values when creating the application is optional. 

        Read our step-by-step guide to [building a Dynamic Application](https://www.heraldapi.com/docs/dynamic-application-steps).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationWrite.v1'
            examples:
              Blank Application:
                value:
                  products:
                    - prd_mc4r_herald_general_liability
        description: ''
      tags:
        - Applications
  '/applications/{application_id}':
    parameters:
      - $ref: '#/components/parameters/application_id'
    get:
      summary: '/applications/{application_id}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/ApplicationRead.v1'
              examples:
                base-example:
                  value:
                    application:
                      id: f7dab4f7-4c4e-4175-83b8-d037ccf2ffa4
                      status: incomplete
                      products:
                        - prd_mc4r_herald_general_liability
                      coverage_values:
                        - coverage_parameter_id: cvg_14fb_gl_damages_premises_limit
                          value: null
                          text: Damages to Premises Rented Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_45pv_gl_tria
                          value: null
                          text: TRIA
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: string
                            enum:
                              - included
                              - excluded
                        - coverage_parameter_id: cvg_48oo_gl_effective_date
                          value: null
                          text: General Liability Effective Date
                          input_type: date
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            format: date
                        - coverage_parameter_id: cvg_7bds_gl_medical_expense_limit
                          value: null
                          text: Medical Expense Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 10000
                        - coverage_parameter_id: cvg_871v_gl_products_completed_ops_limit
                          value: null
                          text: Products and Completed Operations Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_c02a_gl_each_occurrence_limit
                          value: null
                          text: Each Occurrence Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                        - coverage_parameter_id: cvg_s6l3_gl_personal_advertising_limit
                          value: null
                          text: Personal and Advertising Injury Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_wsz8_gl_general_aggregate_limit
                          value: null
                          text: General Aggregate Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                      risk_values:
                        - risk_parameter_id: rsk_1rdc_home_state
                          value: null
                          text: Home state
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            enum:
                              - AL
                              - AK
                              - AZ
                              - AR
                              - CA
                              - CO
                              - CT
                              - DE
                              - DC
                              - FL
                              - GA
                              - HI
                              - ID
                              - IL
                              - IN
                              - IA
                              - KS
                              - KY
                              - LA
                              - ME
                              - MD
                              - MA
                              - MI
                              - MN
                              - MS
                              - MO
                              - MT
                              - NE
                              - NV
                              - NH
                              - NJ
                              - NM
                              - NY
                              - NC
                              - ND
                              - OH
                              - OK
                              - OR
                              - PA
                              - RI
                              - SC
                              - SD
                              - TN
                              - TX
                              - UT
                              - VT
                              - VA
                              - WA
                              - WV
                              - WI
                              - WY
                        - risk_parameter_id: rsk_m4p9_insured_name
                          value: null
                          text: Insured name
                          input_type: short_text
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                        - risk_parameter_id: rsk_tvm3_mailing_address
                          value: null
                          text: Mailing address
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_1
                          value: null
                          text: Location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                          child_risk_values:
                            - risk_parameter_id: rsk_km7k_gl_class_code_by_location
                              instance: location_1.gl_class_code_by_location_1
                              value: null
                              text: Class code
                              input_type: short_text
                              relevant_products:
                                - prd_mc4r_herald_general_liability
                              creates_array: true
                              affects_conditions: true
                              required_for:
                                - quote
                              schema:
                                type: string
      operationId: get-applications-application_id
      description: |-
        ### Get an application

        Get the latest details for a specific [application](https://www.heraldapi.com/docs/dynamic-application-steps).
      tags:
        - Applications
    put:
      summary: '/applications/{application_id}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/ApplicationRead.v1'
              examples:
                update-application:
                  value:
                    application:
                      id: 77dec855-e9d5-4616-9d83-83a18c82e4d3
                      status: incomplete
                      products:
                        - prd_mc4r_herald_general_liability
                      coverage_values:
                        - coverage_parameter_id: cvg_14fb_gl_damages_premises_limit
                          value: null
                          text: Damages to Premises Rented Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_45pv_gl_tria
                          value: null
                          text: TRIA
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: string
                            enum:
                              - included
                              - excluded
                        - coverage_parameter_id: cvg_48oo_gl_effective_date
                          value: '2022-08-09'
                          text: General Liability Effective Date
                          input_type: date
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            format: date
                        - coverage_parameter_id: cvg_7bds_gl_medical_expense_limit
                          value: null
                          text: Medical Expense Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 10000
                        - coverage_parameter_id: cvg_871v_gl_products_completed_ops_limit
                          value: null
                          text: Products and Completed Operations Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_c02a_gl_each_occurrence_limit
                          value: null
                          text: Each Occurrence Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                        - coverage_parameter_id: cvg_s6l3_gl_personal_advertising_limit
                          value: null
                          text: Personal and Advertising Injury Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_wsz8_gl_general_aggregate_limit
                          value: null
                          text: General Aggregate Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                      risk_values:
                        - risk_parameter_id: rsk_1rdc_home_state
                          value: MA
                          text: Home state
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            enum:
                              - AL
                              - AK
                              - AZ
                              - AR
                              - CA
                              - CO
                              - CT
                              - DE
                              - DC
                              - FL
                              - GA
                              - HI
                              - ID
                              - IL
                              - IN
                              - IA
                              - KS
                              - KY
                              - LA
                              - ME
                              - MD
                              - MA
                              - MI
                              - MN
                              - MS
                              - MO
                              - MT
                              - NE
                              - NV
                              - NH
                              - NJ
                              - NM
                              - NY
                              - NC
                              - ND
                              - OH
                              - OK
                              - OR
                              - PA
                              - RI
                              - SC
                              - SD
                              - TN
                              - TX
                              - UT
                              - VT
                              - VA
                              - WA
                              - WV
                              - WI
                              - WY
                        - risk_parameter_id: rsk_m4p9_insured_name
                          value: John's Diner
                          text: Insured name
                          input_type: short_text
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                        - risk_parameter_id: rsk_tvm3_mailing_address
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Mailing address
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_1
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                          child_risk_values:
                            - risk_parameter_id: rsk_km7k_gl_class_code_by_location
                              instance: location_1.gl_class_code_by_location_1
                              value: '16900'
                              text: Class code
                              input_type: short_text
                              relevant_products:
                                - prd_mc4r_herald_general_liability
                              creates_array: true
                              affects_conditions: true
                              required_for:
                                - quote
                              schema:
                                type: string
                              child_risk_values:
                                - risk_parameter_id: rsk_w72m_gross_sales_by_gl_class_code
                                  value: null
                                  text: Gross Sales
                                  input_type: integer
                                  relevant_products:
                                    - prd_mc4r_herald_general_liability
                                  creates_array: false
                                  affects_conditions: false
                                  required_for:
                                    - quote
                                  schema:
                                    type: integer
                            - risk_parameter_id: rsk_km7k_gl_class_code_by_location
                              instance: location_1.gl_class_code_by_location_2
                              value: null
                              text: Class code
                              input_type: short_text
                              relevant_products:
                                - prd_mc4r_herald_general_liability
                              creates_array: true
                              affects_conditions: true
                              required_for: []
                              schema:
                                type: string
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_2
                          value: null
                          text: Location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
                          required_for: []
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                complete-application:
                  value:
                    application:
                      id: 77dec855-e9d5-4616-9d83-83a18c82e4d3
                      status: complete
                      products:
                        - prd_mc4r_herald_general_liability
                      coverage_values:
                        - coverage_parameter_id: cvg_14fb_gl_damages_premises_limit
                          value: null
                          text: Damages to Premises Rented Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_45pv_gl_tria
                          value: null
                          text: TRIA
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: string
                            enum:
                              - included
                              - excluded
                        - coverage_parameter_id: cvg_48oo_gl_effective_date
                          value: '2022-08-09'
                          text: General Liability Effective Date
                          input_type: date
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            format: date
                        - coverage_parameter_id: cvg_7bds_gl_medical_expense_limit
                          value: null
                          text: Medical Expense Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 10000
                        - coverage_parameter_id: cvg_871v_gl_products_completed_ops_limit
                          value: null
                          text: Products and Completed Operations Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_c02a_gl_each_occurrence_limit
                          value: null
                          text: Each Occurrence Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                        - coverage_parameter_id: cvg_s6l3_gl_personal_advertising_limit
                          value: null
                          text: Personal and Advertising Injury Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 0
                            maximum: 5000000
                        - coverage_parameter_id: cvg_wsz8_gl_general_aggregate_limit
                          value: null
                          text: General Aggregate Limit
                          input_type: integer
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for: []
                          schema:
                            type: integer
                            minimum: 100000
                            maximum: 5000000
                      risk_values:
                        - risk_parameter_id: rsk_1rdc_home_state
                          value: MA
                          text: Home state
                          input_type: select_one
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                            enum:
                              - AL
                              - AK
                              - AZ
                              - AR
                              - CA
                              - CO
                              - CT
                              - DE
                              - DC
                              - FL
                              - GA
                              - HI
                              - ID
                              - IL
                              - IN
                              - IA
                              - KS
                              - KY
                              - LA
                              - ME
                              - MD
                              - MA
                              - MI
                              - MN
                              - MS
                              - MO
                              - MT
                              - NE
                              - NV
                              - NH
                              - NJ
                              - NM
                              - NY
                              - NC
                              - ND
                              - OH
                              - OK
                              - OR
                              - PA
                              - RI
                              - SC
                              - SD
                              - TN
                              - TX
                              - UT
                              - VT
                              - VA
                              - WA
                              - WV
                              - WI
                              - WY
                        - risk_parameter_id: rsk_m4p9_insured_name
                          value: John's Diner
                          text: Insured name
                          input_type: short_text
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: string
                        - risk_parameter_id: rsk_tvm3_mailing_address
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Mailing address
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: false
                          affects_conditions: false
                          required_for:
                            - quote
                          schema:
                            type: object
                            properties:
                              line1:
                                type: string
                              line2:
                                type: string
                              line3:
                                type: string
                              organization:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                                enum:
                                  - AL
                                  - AK
                                  - AZ
                                  - AR
                                  - CA
                                  - CO
                                  - CT
                                  - DE
                                  - DC
                                  - FL
                                  - GA
                                  - HI
                                  - ID
                                  - IL
                                  - IN
                                  - IA
                                  - KS
                                  - KY
                                  - LA
                                  - ME
                                  - MD
                                  - MA
                                  - MI
                                  - MN
                                  - MS
                                  - MO
                                  - MT
                                  - NE
                                  - NV
                                  - NH
                                  - NJ
                                  - NM
                                  - NY
                                  - NC
                                  - ND
                                  - OH
                                  - OK
                                  - OR
                                  - PA
                                  - RI
                                  - SC
                                  - SD
                                  - TN
                                  - TX
                                  - UT
                                  - VT
                                  - VA
                                  - WA
                                  - WV
                                  - WI
                                  - WY
                              postal_code:
                                type: string
                                pattern: '^\d{5}$'
                              country_code:
                                type: string
                                enum:
                                  - USA
                            required:
                              - line1
                              - city
                              - state
                              - postal_code
                              - country_code
                        - risk_parameter_id: rsk_yor8_location
                          instance: location_1
                          value:
                            city: Somerville
                            line1: 100 Main St
                            state: MA
                            postal_code: '02144'
                            country_code: USA
                          text: Location
                          input_type: address
                          relevant_products:
                            - prd_mc4r_herald_general_liability
                          creates_array: true
                          affects_conditions: true
[...]
