openapi: 3.0.0
servers:
  - url: https://resourcesettings.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Resource Settings API allows users to control and modify the behavior of their GCP resources (e.g., VM, firewall, Project, etc.) across the Cloud Resource Hierarchy.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Resource Settings API
  version: v1alpha1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://resourcesettings.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: resourcesettings
externalDocs:
  url: https://cloud.google.com/resource-manager/docs/resource-settings/overview
tags:
  - name: folders
  - name: organizations
  - name: projects
paths:
  "/v1alpha1/{name}":
    delete:
      description: Deletes a setting value. If the setting value does not exist, the operation is a no-op. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting or the setting value does not exist. The setting value will not exist if a prior call to `DeleteSetting` for the setting value already returned a success code. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only.
      operationId: resourcesettings.projects.settings.deleteValue
      parameters:
        - description: The name of the setting value to delete. See SettingValue for naming requirements.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "A flag that allows the deletion of the value of a `read_only` setting. WARNING: use at your own risk. Deleting the value of a read only setting is an irreversible action (i.e., it cannot be created again)."
          in: query
          name: ignoreReadOnly
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets a setting value. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting value does not exist.
      operationId: resourcesettings.projects.settings.getValue
      parameters:
        - description: The name of the setting value to get. See SettingValue for naming requirements.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: "Updates a setting value. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting or the setting value does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the setting value. Note: the supplied setting value will perform a full overwrite of all fields."
      operationId: resourcesettings.projects.settings.updateValue
      parameters:
        - description: 'The resource name of the setting value. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}/value` * `folders/{folder_id}/settings/{setting_name}/value` * `organizations/{organization_id}/settings/{setting_name}/value` For example, "/projects/123/settings/gcp-enableMyFeature/value"'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    post:
      description: Creates a setting value. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the setting value already exists on the given Cloud resource. Returns a `google.rpc.Status` with `google.rpc.Code.FAILED_PRECONDITION` if the setting is flagged as read only.
      operationId: resourcesettings.projects.settings.value.create
      parameters:
        - description: 'The resource name of the setting value. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}/value` * `folders/{folder_id}/settings/{setting_name}/value` * `organizations/{organization_id}/settings/{setting_name}/value` For example, "/projects/123/settings/gcp-enableMyFeature/value"'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/settings":
    get:
      description: Lists all the settings that are available on the Cloud resource `parent`.
      operationId: resourcesettings.projects.settings.list
      parameters:
        - description: "The Cloud resource that parents the setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Unused. The size of the page to be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Unused. A page token used to retrieve the next page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1ListSettingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}/settings:search":
    get:
      description: Searches for all setting values that exist on the resource `parent`. The setting values are not limited to those of a particular setting.
      operationId: resourcesettings.projects.settings.search
      parameters:
        - description: "The Cloud resource that parents the setting. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Unused. The size of the page to be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Unused. A page token used to retrieve the next page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SearchSettingValuesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}:lookupEffectiveValue":
    get:
      description: "Computes the effective setting value of a setting at the Cloud resource `parent`. The effective setting value is the calculated setting value at a Cloud resource and evaluates to one of the following options in the given order (the next option is used if the previous one does not exist): 1. the setting value on the given resource 2. the setting value on the given resource's nearest ancestor 3. the setting's default value 4. an empty setting value, defined as a `SettingValue` with all fields unset Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the setting does not exist."
      operationId: resourcesettings.projects.settings.lookupEffectiveValue
      parameters:
        - description: The setting for which an effective value will be evaluated. See Setting for naming requirements.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudResourcesettingsV1alpha1ListSettingsResponse:
      description: The response from ListSettings.
      properties:
        nextPageToken:
          description: Unused. A page token used to retrieve the next page.
          type: string
        settings:
          description: A list of settings that are available at the specified Cloud resource.
          items:
            $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1Setting"
          type: array
      type: object
    GoogleCloudResourcesettingsV1alpha1SearchSettingValuesResponse:
      description: The response from SearchSettingValues.
      properties:
        nextPageToken:
          description: Unused. A page token used to retrieve the next page.
          type: string
        settingValues:
          description: All setting values that exist on the specified Cloud resource.
          items:
            $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1SettingValue"
          type: array
      type: object
    GoogleCloudResourcesettingsV1alpha1Setting:
      description: The schema for setting values. At a given Cloud resource, a setting can parent at most one setting value.
      properties:
        dataType:
          description: The data type for this setting.
          enum:
            - DATA_TYPE_UNSPECIFIED
            - BOOLEAN
            - STRING
            - STRING_SET
            - ENUM_VALUE
            - DURATION_VALUE
            - STRING_MAP
          type: string
        defaultValue:
          $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1Value"
          description: "The value received by LookupEffectiveSettingValue if no setting value is explicitly set. Note: not all settings have a default value."
        description:
          description: A detailed description of what this setting does.
          type: string
        displayName:
          description: The human readable name for this setting.
          type: string
        name:
          description: 'The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, "/projects/123/settings/gcp-enableMyFeature"'
          type: string
        readOnly:
          description: A flag indicating that values of this setting cannot be modified (see documentation of the specific setting for updates and reasons); however, it may be deleted using DeleteSettingValue if DeleteSettingValueRequest.ignore_read_only is set to true. Using this flag is considered an acknowledgement that the setting value cannot be recreated. See DeleteSettingValueRequest.ignore_read_only for more details.
          type: boolean
      type: object
    GoogleCloudResourcesettingsV1alpha1SettingValue:
      description: The instantiation of a setting. Every setting value is parented by its corresponding setting.
      properties:
        etag:
          description: A fingerprint used for optimistic concurrency. See UpdateSettingValue for more details.
          type: string
        name:
          description: 'The resource name of the setting value. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}/value` * `folders/{folder_id}/settings/{setting_name}/value` * `organizations/{organization_id}/settings/{setting_name}/value` For example, "/projects/123/settings/gcp-enableMyFeature/value"'
          type: string
        readOnly:
          description: Output only. A flag indicating that this setting value cannot be modified; however, it may be deleted using DeleteSettingValue if DeleteSettingValueRequest.ignore_read_only is set to true. Using this flag is considered an acknowledgement that the setting value cannot be recreated. This flag is inherited from its parent setting and is for convenience purposes. See Setting.read_only for more details.
          type: boolean
        updateTime:
          description: Output only. The timestamp indicating when the setting value was last updated.
          format: google-datetime
          type: string
        value:
          $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1Value"
          description: The value of the setting. The data type of Value must always be consistent with the data type defined by the parent setting.
      type: object
    GoogleCloudResourcesettingsV1alpha1Value:
      description: The data in a setting value.
      properties:
        booleanValue:
          description: Defines this value as being a boolean value.
          type: boolean
        durationValue:
          description: Defines this value as being a Duration.
          format: google-duration
          type: string
        enumValue:
          $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1ValueEnumValue"
          description: Defines this value as being a Enum.
        stringMapValue:
          $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1ValueStringMap"
          description: Defines this value as being a StringMap.
        stringSetValue:
          $ref: "#/components/schemas/GoogleCloudResourcesettingsV1alpha1ValueStringSet"
          description: Defines this value as being a StringSet.
        stringValue:
          description: Defines this value as being a string value.
          type: string
      type: object
    GoogleCloudResourcesettingsV1alpha1ValueEnumValue:
      description: A enum value that can hold any enum type setting values. Each enum type is represented by a number, this representation is stored in the definitions.
      properties:
        value:
          description: The value of this enum
          type: string
      type: object
    GoogleCloudResourcesettingsV1alpha1ValueStringMap:
      description: A string->string map value that can hold a map of string keys to string values. The maximum length of each string is 200 characters and there can be a maximum of 50 key-value pairs in the map.
      properties:
        mappings:
          additionalProperties:
            type: string
          description: The key-value pairs in the map
          type: object
      type: object
    GoogleCloudResourcesettingsV1alpha1ValueStringSet:
      description: A string set value that can hold a set of strings. The maximum length of each string is 60 characters and there can be a maximum of 50 strings in the string set.
      properties:
        values:
          description: The strings in the set
          items:
            type: string
          type: array
      type: object
    GoogleProtobufEmpty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
