swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Provides create, read and update functionality for database Threat Detection policies.'
  title: Database Threat Detection Policy APIs
  version: '2014-04-01'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/sql/resource-manager/Microsoft.Sql/2014-04-01/databaseSecurityAlertPolicies.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: sql-databaseSecurityAlertPolicies
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/securityAlertPolicies/{securityAlertPolicyName}':
    get:
      description: Gets a database's threat detection policy.
      operationId: DatabaseThreatDetectionPolicies_Get
      parameters:
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which database Threat Detection policy is defined.
          in: path
          name: databaseName
          required: true
          type: string
        - description: The name of the security alert policy.
          enum:
            - default
          in: path
          name: securityAlertPolicyName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecurityAlertPolicyName
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the database Threat Detection policy.
          schema:
            $ref: '#/definitions/DatabaseSecurityAlertPolicy'
        default:
          description: |-
            *** Error Responses: ***

             * 500 GetDatabaseSecurityAlertPolicyFailed - Failed to get database Threat Detection security alert policies. * 500 DatabaseIsUnavailable - Your settings are currently unavailable, please try again later
      tags:
        - SecurityAlert
      x-ms-examples:
        Get database security alert policy:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            resourceGroupName: securityalert-6852
            securityAlertPolicyName: default
            serverName: securityalert-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/securityalert-6852/providers/Microsoft.Sql/servers/securityalert-2080/databases/testdb
                kind: V12
                location: Japan East
                name: default
                properties:
                  disabledAlerts: Usage_Anomaly
                  emailAccountAdmins: Enabled
                  emailAddresses: test@microsoft.com;user@microsoft.com
                  retentionDays: 0
                  state: Enabled
                  storageAccountAccessKey: ''
                  storageEndpoint: ''
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/securityAlertPolicies
    put:
      description: Creates or updates a database's threat detection policy.
      operationId: DatabaseThreatDetectionPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which database Threat Detection policy is defined.
          in: path
          name: databaseName
          required: true
          type: string
        - description: The name of the security alert policy.
          enum:
            - default
          in: path
          name: securityAlertPolicyName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecurityAlertPolicyName
        - description: The database Threat Detection policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseSecurityAlertPolicy'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the database Threat Detection policy.
          schema:
            $ref: '#/definitions/DatabaseSecurityAlertPolicy'
        '201':
          description: Successfully created the database Threat Detection policy.
          schema:
            $ref: '#/definitions/DatabaseSecurityAlertPolicy'
        default:
          description: |-
            *** Error Responses: ***

             * 500 UpsertDatabaseSecurityAlertPolicyFailed - An error has occurred while saving Threat detection settings, please try again later * 500 DatabaseIsUnavailable - Your settings are currently unavailable, please try again later
      tags:
        - SecurityAlert
      x-ms-examples:
        Create database security alert policy max:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              properties:
                disabledAlerts: Sql_Injection;Usage_Anomaly;
                emailAccountAdmins: Enabled
                emailAddresses: test@microsoft.com;user@microsoft.com
                retentionDays: 6
                state: Enabled
                storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                storageEndpoint: 'https://mystorage.blob.core.windows.net'
                useServerDefault: Enabled
            resourceGroupName: securityalert-4799
            securityAlertPolicyName: default
            serverName: securityalert-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/securityalert-4799/providers/Microsoft.Sql/servers/securityalert-6440/databases/testdb
                kind: V12
                name: default
                properties:
                  disabledAlerts: Sql_Injection;Usage_Anomaly
                  emailAccountAdmins: Enabled
                  emailAddresses: test@microsoft.com;user@microsoft.com
                  retentionDays: 6
                  state: Enabled
                  storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                  storageEndpoint: 'https://mystorage.blob.core.windows.net'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/securityAlertPolicies
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/securityalert-4799/providers/Microsoft.Sql/servers/securityalert-6440/databases/testdb
                kind: V12
                name: default
                properties:
                  disabledAlerts: Access_Anomaly;Usage_Anomaly
                  emailAccountAdmins: Enabled
                  emailAddresses: test@microsoft.com;user@microsoft.com
                  retentionDays: 6
                  state: Enabled
                  storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                  storageEndpoint: 'https://mystorage.blob.core.windows.net'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/securityAlertPolicies
        Create database security alert policy min:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              properties:
                state: Enabled
                storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                storageEndpoint: 'https://mystorage.blob.core.windows.net'
            resourceGroupName: securityalert-4799
            securityAlertPolicyName: default
            serverName: securityalert-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/securityalert-4799/providers/Microsoft.Sql/servers/securityalert-6440/databases/testdb
                kind: V12
                name: default
                properties:
                  disabledAlerts: ''
                  emailAccountAdmins: Enabled
                  emailAddresses: ''
                  retentionDays: 0
                  state: Enabled
                  storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                  storageEndpoint: 'https://mystorage.blob.core.windows.net'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/securityAlertPolicies
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/securityalert-4799/providers/Microsoft.Sql/servers/securityalert-6440/databases/testdb
                kind: V12
                name: default
                properties:
                  disabledAlerts: ''
                  emailAccountAdmins: Enabled
                  emailAddresses: ''
                  retentionDays: 0
                  state: Enabled
                  storageAccountAccessKey: sdlfkjabc+sdlfkjsdlkfsjdfLDKFTERLKFDFKLjsdfksjdflsdkfD2342309432849328476458/3RSD==
                  storageEndpoint: 'https://mystorage.blob.core.windows.net'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/securityAlertPolicies
definitions:
  DatabaseSecurityAlertPolicy:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: Contains information about a database Threat Detection policy.
    properties:
      kind:
        description: Resource kind.
        readOnly: true
        type: string
      location:
        description: The geo-location where the resource lives
        type: string
        x-ms-mutability:
          - read
          - create
      properties:
        $ref: '#/definitions/DatabaseSecurityAlertPolicyProperties'
        description: Properties of the security alert policy.
        x-ms-client-flatten: true
    type: object
  DatabaseSecurityAlertPolicyProperties:
    description: Properties for a database Threat Detection policy.
    properties:
      disabledAlerts:
        description: 'Specifies the semicolon-separated list of alerts that are disabled, or empty string to disable no alerts. Possible values: Sql_Injection; Sql_Injection_Vulnerability; Access_Anomaly; Usage_Anomaly.'
        type: string
      emailAccountAdmins:
        description: Specifies that the alert is sent to the account administrators.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          name: SecurityAlertPolicyEmailAccountAdmins
      emailAddresses:
        description: Specifies the semicolon-separated list of e-mail addresses to which the alert is sent.
        type: string
      retentionDays:
        description: Specifies the number of days to keep in the Threat Detection audit logs.
        format: int32
        type: integer
      state:
        description: 'Specifies the state of the policy. If state is Enabled, storageEndpoint and storageAccountAccessKey are required.'
        enum:
          - New
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          name: SecurityAlertPolicyState
      storageAccountAccessKey:
        description: 'Specifies the identifier key of the Threat Detection audit storage account. If state is Enabled, storageAccountAccessKey is required.'
        type: string
        x-ms-mutability:
          - create
          - update
      storageEndpoint:
        description: 'Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). This blob storage will hold all Threat Detection audit logs. If state is Enabled, storageEndpoint is required.'
        type: string
      useServerDefault:
        description: Specifies whether to use the default server policy.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          name: SecurityAlertPolicyUseServerDefault
    required:
      - state
    type: object
  ProxyResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: ARM proxy resource.
  Resource:
    description: ARM resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  TrackedResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: ARM tracked top level resource.
    properties:
      location:
        description: Resource location.
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
    required:
      - location
