openapi: 3.0.0
servers:
  - url: 'https://firefox.settings.services.mozilla.com/v1'
info:
  title: kinto
  version: '1.17'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://cloud.githubusercontent.com/assets/21603/24036792/23286ed2-0af3-11e7-9353-7a772636dee1.png'
  x-origin:
    - format: swagger
      url: 'https://firefox.settings.services.mozilla.com/v1/__api__'
      version: '2.0'
  x-providerName: mozilla.com
  x-serviceName: kinto
tags:
  - name: Blocklist
  - name: Changess
  - name: Batch
  - name: Utilities
  - name: Buckets
  - name: Collections
  - name: Groups
  - name: Records
paths:
  /:
    get:
      operationId: server_info
      responses:
        '200':
          description: Return information about the running Instance.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  /__api__:
    get:
      operationId: get_openapi_spec
      responses:
        '200':
          description: Return an OpenAPI description of the running instance.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  /__heartbeat__:
    get:
      operationId: __heartbeat__
      responses:
        '200':
          description: Server is working properly.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
        '503':
          description: One or more subsystems failing.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  /__lbheartbeat__:
    get:
      operationId: __lbheartbeat__
      responses:
        '200':
          description: Returned if server is reachable.
          content:
            application/json:
              schema:
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  /__version__:
    get:
      operationId: __version__
      responses:
        '200':
          description: Return the running Instance version information.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  /batch:
    post:
      operationId: batch
      responses:
        '200':
          description: Return a list of operation responses.
          content:
            application/json:
              schema:
                properties:
                  responses:
                    items:
                      properties:
                        body:
                          additionalProperties: {}
                          title: Body
                          type: object
                        headers:
                          additionalProperties: {}
                          title: Headers
                          type: object
                        path:
                          title: Path
                          type: string
                        status:
                          title: Status
                          type: integer
                      required:
                        - status
                        - path
                      type: object
                    title: Responses
                    type: array
                required:
                  - responses
                title: BatchResponseBodySchema
                type: object
        '400':
          description: The request was badly formatted.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: an unknown error occurred.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security: []
      tags:
        - Batch
      requestBody:
        content:
          application/json:
            schema:
              properties:
                defaults:
                  properties:
                    body:
                      additionalProperties: {}
                      title: Body
                      type: object
                    headers:
                      additionalProperties: {}
                      title: Headers
                      type: object
                    method:
                      enum:
                        - GET
                        - HEAD
                        - DELETE
                        - TRACE
                        - POST
                        - PUT
                        - PATCH
                      title: Method
                      type: string
                    path:
                      pattern: ^/
                      title: Path
                      type: string
                  title: Defaults
                  type: object
                requests:
                  items:
                    properties:
                      body:
                        additionalProperties: {}
                        title: Body
                        type: object
                      headers:
                        additionalProperties: {}
                        title: Headers
                        type: object
                      method:
                        enum:
                          - GET
                          - HEAD
                          - DELETE
                          - TRACE
                          - POST
                          - PUT
                          - PATCH
                        title: Method
                        type: string
                      path:
                        pattern: ^/
                        title: Path
                        type: string
                    required:
                      - path
                    type: object
                  title: Requests
                  type: array
              required:
                - requests
              title: BatchPayloadSchema
              type: object
        required: true
  /buckets:
    get:
      operationId: get_buckets
      parameters:
        - in: query
          name: _limit
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: _token
          required: false
          schema:
            type: string
        - in: query
          name: _since
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _to
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _before
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: last_modified
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return a list of matching objects.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      additionalProperties: {}
                      default: {}
                      type: object
                    type: array
                title: Schema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Buckets
  /buckets/monitor/collections/changes/records:
    get:
      operationId: get_changess
      parameters:
        - in: query
          name: _limit
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: _token
          required: false
          schema:
            type: string
        - in: query
          name: _since
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _to
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _before
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: last_modified
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return a list of matching objects.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      properties:
                        bucket:
                          title: Bucket
                          type: string
                        collection:
                          title: Collection
                          type: string
                        host:
                          title: Host
                          type: string
                      required:
                        - host
                        - bucket
                        - collection
                      type: object
                    type: array
                title: Schema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Changess
  '/buckets/{bucket_id}/collections':
    get:
      operationId: get_collections
      parameters:
        - in: query
          name: _limit
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: _token
          required: false
          schema:
            type: string
        - in: query
          name: _since
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _to
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _before
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: last_modified
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return a list of matching objects.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      additionalProperties: {}
                      default: {}
                      properties:
                        cache_expires:
                          title: Cache Expires
                          type: integer
                        schema:
                          additionalProperties: {}
                          title: Schema
                          type: object
                      type: object
                    type: array
                title: Schema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Collections
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
  '/buckets/{bucket_id}/collections/{collection_id}/records':
    get:
      operationId: get_records
      parameters:
        - in: query
          name: _limit
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: _token
          required: false
          schema:
            type: string
        - in: query
          name: _since
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _to
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _before
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: last_modified
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return a list of matching objects.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      additionalProperties: {}
                      default: {}
                      type: object
                    type: array
                title: Schema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Records
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
      - in: path
        name: collection_id
        required: true
        schema:
          type: string
  '/buckets/{bucket_id}/collections/{collection_id}/records/{id}':
    get:
      operationId: get_record
      parameters:
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return the target object.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    additionalProperties: {}
                    default: {}
                    type: object
                  permissions:
                    properties:
                      read:
                        items:
                          type: string
                        title: Read
                        type: array
                      write:
                        items:
                          type: string
                        title: Write
                        type: array
                    title: Permissions
                    type: object
                title: RecordSchema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '404':
          description: The object does not exist or was deleted.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Records
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
      - in: path
        name: collection_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  '/buckets/{bucket_id}/collections/{id}':
    get:
      operationId: get_collection
      parameters:
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return the target object.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    additionalProperties: {}
                    default: {}
                    properties:
                      cache_expires:
                        title: Cache Expires
                        type: integer
                      schema:
                        additionalProperties: {}
                        title: Schema
                        type: object
                    type: object
                  permissions:
                    properties:
                      read:
                        items:
                          type: string
                        title: Read
                        type: array
                      'record:create':
                        items:
                          type: string
                        title: 'Record:Create'
                        type: array
                      write:
                        items:
                          type: string
                        title: Write
                        type: array
                    title: Permissions
                    type: object
                title: RecordSchema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '404':
          description: The object does not exist or was deleted.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Collections
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  '/buckets/{bucket_id}/groups':
    get:
      operationId: get_groups
      parameters:
        - in: query
          name: _limit
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _sort
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: _token
          required: false
          schema:
            type: string
        - in: query
          name: _since
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _to
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _before
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: last_modified
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 9223372036854776000
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return a list of matching objects.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      additionalProperties: {}
                      default: {}
                      properties:
                        members:
                          items:
                            type: string
                          title: Members
                          type: array
                      type: object
                    type: array
                title: Schema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Groups
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
  '/buckets/{bucket_id}/groups/{id}':
    get:
      operationId: get_group
      parameters:
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return the target object.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    additionalProperties: {}
                    default: {}
                    properties:
                      members:
                        items:
                          type: string
                        title: Members
                        type: array
                    type: object
                  permissions:
                    properties:
                      read:
                        items:
                          type: string
                        title: Read
                        type: array
                      write:
                        items:
                          type: string
                        title: Write
                        type: array
                    title: Permissions
                    type: object
                title: RecordSchema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '404':
          description: The object does not exist or was deleted.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Groups
    parameters:
      - in: path
        name: bucket_id
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  '/buckets/{id}':
    get:
      operationId: get_bucket
      parameters:
        - in: query
          name: _fields
          required: false
          schema:
            type: array
            items:
              type: string
        - in: header
          name: If-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
            pattern: '^"([0-9]+?)"$|\*'
      responses:
        '200':
          description: Return the target object.
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    additionalProperties: {}
                    default: {}
                    type: object
                  permissions:
                    properties:
                      'collection:create':
                        items:
                          type: string
                        title: 'Collection:Create'
                        type: array
                      'group:create':
                        items:
                          type: string
                        title: 'Group:Create'
                        type: array
                      read:
                        items:
                          type: string
                        title: Read
                        type: array
                      write:
                        items:
                          type: string
                        title: Write
                        type: array
                    title: Permissions
                    type: object
                title: RecordSchema
                type: object
        '304':
          description: Reponse has not changed since value in If-None-Match header
          headers:
            Etag:
              schema:
                type: string
                pattern: '^"([0-9]+?)"$|\*'
            Last-Modified:
              schema:
                type: string
        '400':
          description: The request is invalid.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '401':
          description: The request is missing authentication headers.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '403':
          description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '404':
          description: The object does not exist or was deleted.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '406':
          description: The client doesn't accept supported responses Content-Type.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        '412':
          description: Record was changed or deleted since value in `If-Match` header.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    title: Code
                    type: integer
                  details: {}
                  errno:
                    title: Errno
                    type: integer
                  error:
                    title: Error
                    type: string
                  info:
                    title: Info
                    type: string
                  message:
                    title: Message
                    type: string
                required:
                  - code
                  - errno
                  - error
                title: ErrorSchema
                type: object
      security:
        - basicauth: []
      tags:
        - Buckets
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /contribute.json:
    get:
      operationId: contribute
      responses:
        '200':
          description: Return open source contributing information.
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: SchemaNode
                type: object
      security: []
      tags:
        - Utilities
  '/{prefix}/{api_ver:\d+}/{application_guid}/{application_ver}/{metrics:.*}':
    get:
      operationId: get_blocklist
      parameters:
        - in: path
          name: 'api_ver:\d+'
          required: true
          schema:
            type: string
        - in: path
          name: 'metrics:.*'
          required: true
          schema:
            type: string
      responses:
        default:
          description: UNDOCUMENTED RESPONSE
      security:
        - basicauth: []
      tags:
        - Blocklist
    parameters:
      - in: path
        name: prefix
        required: true
        schema:
          type: string
      - in: path
        name: application_guid
        required: true
        schema:
          type: string
      - in: path
        name: application_ver
        required: true
        schema:
          type: string
components:
  schemas: {}
  securitySchemes:
    basicauth:
      type: http
      scheme: basic
