swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /youtube/v3
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Supports core YouTube features, such as uploading videos, creating and managing playlists, searching for content, and much more.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: YouTube Data
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/902547949103841281/TmdokZcM_400x400.jpg'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: youtube
externalDocs:
  url: 'https://developers.google.com/youtube/v3'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/youtube': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.force-ssl': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.readonly': View your YouTube account
      'https://www.googleapis.com/auth/youtube.upload': Manage your YouTube videos
      'https://www.googleapis.com/auth/youtubepartner': View and manage your assets and associated content on YouTube
      'https://www.googleapis.com/auth/youtubepartner-channel-audit': View private information of your YouTube channel relevant during the audit process with a YouTube partner
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/youtube': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.force-ssl': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.readonly': View your YouTube account
      'https://www.googleapis.com/auth/youtube.upload': Manage your YouTube videos
      'https://www.googleapis.com/auth/youtubepartner': View and manage your assets and associated content on YouTube
      'https://www.googleapis.com/auth/youtubepartner-channel-audit': View private information of your YouTube channel relevant during the audit process with a YouTube partner
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: activities
  - name: captions
  - name: channelBanners
  - name: channelSections
  - name: channels
  - name: commentThreads
  - name: comments
  - name: fanFundingEvents
  - name: guideCategories
  - name: i18nLanguages
  - name: i18nRegions
  - name: liveBroadcasts
  - name: liveChatBans
  - name: liveChatMessages
  - name: liveChatModerators
  - name: liveStreams
  - name: playlistItems
  - name: playlists
  - name: search
  - name: sponsors
  - name: subscriptions
  - name: superChatEvents
  - name: thumbnails
  - name: videoAbuseReportReasons
  - name: videoCategories
  - name: videos
  - name: watermarks
paths:
  /activities:
    get:
      description: 'Returns a list of channel activity events that match the request criteria. For example, you can retrieve events associated with a particular channel, events associated with the user''s subscriptions and Google+ friends, or the YouTube home page feed, which is customized for each user.'
      operationId: youtube.activities.list
      parameters:
        - description: |-
            The part parameter specifies a comma-separated list of one or more activity resource properties that the API response will include.

            If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set part=snippet, the API response will also contain all of those nested properties.
          in: query
          name: part
          required: true
          type: string
        - description: The channelId parameter specifies a unique YouTube channel ID. The API will then return a list of that channel's activities.
          in: query
          name: channelId
          type: string
        - description: Set this parameter's value to true to retrieve the activity feed that displays on the YouTube home page for the currently authenticated user.
          in: query
          name: home
          type: boolean
        - default: 5
          description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
          in: query
          maximum: 50
          minimum: 0
          name: maxResults
          type: integer
        - description: Set this parameter's value to true to retrieve a feed of the authenticated user's activities.
          in: query
          name: mine
          type: boolean
        - description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
          in: query
          name: pageToken
          type: string
        - description: 'The publishedAfter parameter specifies the earliest date and time that an activity could have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be included in the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.'
          in: query
          name: publishedAfter
          type: string
        - description: 'The publishedBefore parameter specifies the date and time before which an activity must have occurred for that activity to be included in the API response. If the parameter value specifies a day, but not a time, then any activities that occurred that day will be excluded from the result set. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.'
          in: query
          name: publishedBefore
          type: string
        - description: The regionCode parameter instructs the API to return results for the specified country. The parameter value is an ISO 3166-1 alpha-2 country code. YouTube uses this value when the authorized user's previous activity on YouTube does not provide enough information to generate the activity feed.
          in: query
          name: regionCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ActivityListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
      tags:
        - activities
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Posts a bulletin for a specific channel. (The user submitting the request must be authorized to act on the channel's behalf.)

        Note: Even though an activity resource can contain information about actions like a user rating a video or marking a video as a favorite, you need to use other API methods to generate those activity resources. For example, you would use the API's videos.rate() method to rate a video and the playlistItems.insert() method to mark a video as a favorite.
      operationId: youtube.activities.insert
      parameters:
        - description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Activity'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Activity'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - activities
  /captions:
    delete:
      description: Deletes a specified caption track.
      operationId: youtube.captions.delete
      parameters:
        - description: The id parameter identifies the caption track that is being deleted. The value is a caption track ID as identified by the id property in a caption resource.
          in: query
          name: id
          required: true
          type: string
        - description: ID of the Google+ Page for the channel that the request is be on behalf of
          in: query
          name: onBehalfOf
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - captions
    get:
      description: Returns a list of caption tracks that are associated with a specified video. Note that the API response does not contain the actual captions and that the captions.download method provides the ability to retrieve a caption track.
      operationId: youtube.captions.list
      parameters:
        - description: The part parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.
          in: query
          name: part
          required: true
          type: string
        - description: The videoId parameter specifies the YouTube video ID of the video for which the API should return caption tracks.
          in: query
          name: videoId
          required: true
          type: string
        - description: The id parameter specifies a comma-separated list of IDs that identify the caption resources that should be retrieved. Each ID must identify a caption track associated with the specified video.
          in: query
          name: id
          type: string
        - description: ID of the Google+ Page for the channel that the request is on behalf of.
          in: query
          name: onBehalfOf
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CaptionListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - captions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
        - text/xml
      description: Uploads a caption track.
      operationId: youtube.captions.insert
      parameters:
        - description: The part parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.
          in: query
          name: part
          required: true
          type: string
        - description: ID of the Google+ Page for the channel that the request is be on behalf of
          in: query
          name: onBehalfOf
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            The sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will disregard any time codes that are in the uploaded caption file and generate new time codes for the captions.

            You should set the sync parameter to true if you are uploading a transcript, which has no time codes, or if you suspect the time codes in your file are incorrect and want YouTube to try to fix them.
          in: query
          name: sync
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Caption'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Caption'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - captions
    put:
      consumes:
        - application/octet-stream
        - text/xml
      description: 'Updates a caption track. When updating a caption track, you can change the track''s draft status, upload a new caption file for the track, or both.'
      operationId: youtube.captions.update
      parameters:
        - description: 'The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the property value to snippet if you are updating the track''s draft status. Otherwise, set the property value to id.'
          in: query
          name: part
          required: true
          type: string
        - description: ID of the Google+ Page for the channel that the request is be on behalf of
          in: query
          name: onBehalfOf
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            Note: The API server only processes the parameter value if the request contains an updated caption file.

            The sync parameter indicates whether YouTube should automatically synchronize the caption file with the audio track of the video. If you set the value to true, YouTube will automatically synchronize the caption track with the audio track.
          in: query
          name: sync
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Caption'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Caption'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - captions
  '/captions/{id}':
    get:
      description: Downloads a caption track. The caption track is returned in its original format unless the request specifies a value for the tfmt parameter and in its original language unless the request specifies a value for the tlang parameter.
      operationId: youtube.captions.download
      parameters:
        - description: The id parameter identifies the caption track that is being retrieved. The value is a caption track ID as identified by the id property in a caption resource.
          in: path
          name: id
          required: true
          type: string
        - description: ID of the Google+ Page for the channel that the request is be on behalf of
          in: query
          name: onBehalfOf
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: 'The tfmt parameter specifies that the caption track should be returned in a specific format. If the parameter is not included in the request, the track is returned in its original format.'
          enum:
            - sbv
            - scc
            - srt
            - ttml
            - vtt
          in: query
          name: tfmt
          type: string
        - description: 'The tlang parameter specifies that the API response should return a translation of the specified caption track. The parameter value is an ISO 639-1 two-letter language code that identifies the desired caption language. The translation is generated by using machine translation, such as Google Translate.'
          in: query
          name: tlang
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - captions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /channelBanners/insert:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
        - image/jpeg
        - image/png
      description: |-
        Uploads a channel banner image to YouTube. This method represents the first two steps in a three-step process to update the banner image for a channel:

        - Call the channelBanners.insert method to upload the binary image data to YouTube. The image must have a 16:9 aspect ratio and be at least 2120x1192 pixels.
        - Extract the url property's value from the response that the API returns for step 1.
        - Call the channels.update method to update the channel's branding settings. Set the brandingSettings.image.bannerExternalUrl property's value to the URL obtained in step 2.
      operationId: youtube.channelBanners.insert
      parameters:
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChannelBannerResource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChannelBannerResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.upload'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.upload'
      tags:
        - channelBanners
  /channelSections:
    delete:
      description: Deletes a channelSection.
      operationId: youtube.channelSections.delete
      parameters:
        - description: 'The id parameter specifies the YouTube channelSection ID for the resource that is being deleted. In a channelSection resource, the id property specifies the YouTube channelSection ID.'
          in: query
          name: id
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - channelSections
    get:
      description: Returns channelSection resources that match the API request criteria.
      operationId: youtube.channelSections.list
      parameters:
        - description: |-
            The part parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails.

            If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set part=snippet, the API response will also contain all of those nested properties.
          in: query
          name: part
          required: true
          type: string
        - description: The channelId parameter specifies a YouTube channel ID. The API will only return that channel's channelSections.
          in: query
          name: channelId
          type: string
        - description: 'The hl parameter indicates that the snippet.localized property values in the returned channelSection resources should be in the specified language if localized values for that language are available. For example, if the API request specifies hl=de, the snippet.localized properties in the API response will contain German titles if German titles are available. Channel owners can provide localized channel section titles using either the channelSections.insert or channelSections.update method.'
          in: query
          name: hl
          type: string
        - description: 'The id parameter specifies a comma-separated list of the YouTube channelSection ID(s) for the resource(s) that are being retrieved. In a channelSection resource, the id property specifies the YouTube channelSection ID.'
          in: query
          name: id
          type: string
        - description: Set this parameter's value to true to retrieve a feed of the authenticated user's channelSections.
          in: query
          name: mine
          type: boolean
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChannelSectionListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - channelSections
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a channelSection for the authenticated user's channel.
      operationId: youtube.channelSections.insert
      parameters:
        - description: |-
            The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

            The part names that you can include in the parameter value are snippet and contentDetails.
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChannelSection'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChannelSection'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - channelSections
    put:
      description: Update a channelSection.
      operationId: youtube.channelSections.update
      parameters:
        - description: |-
            The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

            The part names that you can include in the parameter value are snippet and contentDetails.
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChannelSection'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChannelSection'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - channelSections
  /channels:
    get:
      description: Returns a collection of zero or more channel resources that match the request criteria.
      operationId: youtube.channels.list
      parameters:
        - description: |-
            The part parameter specifies a comma-separated list of one or more channel resource properties that the API response will include.

            If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set part=contentDetails, the API response will also contain all of those nested properties.
          in: query
          name: part
          required: true
          type: string
        - description: 'The categoryId parameter specifies a YouTube guide category, thereby requesting YouTube channels associated with that category.'
          in: query
          name: categoryId
          type: string
        - description: 'The forUsername parameter specifies a YouTube username, thereby requesting the channel associated with that username.'
          in: query
          name: forUsername
          type: string
        - description: The hl parameter should be used for filter out the properties that are not in the given language. Used for the brandingSettings part.
          in: query
          name: hl
          type: string
        - description: 'The id parameter specifies a comma-separated list of the YouTube channel ID(s) for the resource(s) that are being retrieved. In a channel resource, the id property specifies the channel''s YouTube channel ID.'
          in: query
          name: id
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            Set this parameter's value to true to instruct the API to only return channels managed by the content owner that the onBehalfOfContentOwner parameter specifies. The user must be authenticated as a CMS account linked to the specified content owner and onBehalfOfContentOwner must be provided.
          in: query
          name: managedByMe
          type: boolean
        - default: 5
          description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
          in: query
          maximum: 50
          minimum: 0
          name: maxResults
          type: integer
        - description: Set this parameter's value to true to instruct the API to only return channels owned by the authenticated user.
          in: query
          name: mine
          type: boolean
        - description: Use the subscriptions.list method and its mySubscribers parameter to retrieve a list of subscribers to the authenticated user's channel.
          in: query
          name: mySubscribers
          type: boolean
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChannelListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner-channel-audit'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner-channel-audit'
      tags:
        - channels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates a channel's metadata. Note that this method currently only supports updates to the channel resource's brandingSettings and invideoPromotion objects and their child properties.
      operationId: youtube.channels.update
      parameters:
        - description: |-
            The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

            The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.)

            Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.
          in: query
          name: part
          required: true
          type: string
        - description: 'The onBehalfOfContentOwner parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.'
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - channels
  /commentThreads:
    get:
      description: Returns a list of comment threads that match the API request parameters.
      operationId: youtube.commentThreads.list
      parameters:
        - description: The part parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.
          in: query
          name: part
          required: true
          type: string
        - description: The allThreadsRelatedToChannelId parameter instructs the API to return all comment threads associated with the specified channel. The response can include comments about the channel or about the channel's videos.
          in: query
          name: allThreadsRelatedToChannelId
          type: string
        - description: The channelId parameter instructs the API to return comment threads containing comments about the specified channel. (The response will not include comments left on videos that the channel uploaded.)
          in: query
          name: channelId
          type: string
        - description: The id parameter specifies a comma-separated list of comment thread IDs for the resources that should be retrieved.
          in: query
          name: id
          type: string
        - default: 20
          description: |-
            The maxResults parameter specifies the maximum number of items that should be returned in the result set.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          type: integer
        - default: published
          description: |-
            Set this parameter to limit the returned comment threads to a particular moderation state.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          enum:
            - heldForReview
            - likelySpam
            - published
          in: query
          name: moderationStatus
          type: string
        - description: |-
            The order parameter specifies the order in which the API response should list comment threads. Valid values are: 
            - time - Comment threads are ordered by time. This is the default behavior.
            - relevance - Comment threads are ordered by relevance.Note: This parameter is not supported for use in conjunction with the id parameter.
          enum:
            - relevance
            - time
          in: query
          name: order
          type: string
        - description: |-
            The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          in: query
          name: pageToken
          type: string
        - description: |-
            The searchTerms parameter instructs the API to limit the API response to only contain comments that contain the specified search terms.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          in: query
          name: searchTerms
          type: string
        - default: html
          description: Set this parameter's value to html or plainText to instruct the API to return the comments left by users in html formatted or in plain text.
          enum:
            - html
            - plainText
          in: query
          name: textFormat
          type: string
        - description: The videoId parameter instructs the API to return comment threads associated with the specified video ID.
          in: query
          name: videoId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentThreadListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - commentThreads
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a new top-level comment. To add a reply to an existing comment, use the comments.insert method instead.'
      operationId: youtube.commentThreads.insert
      parameters:
        - description: The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CommentThread'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentThread'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - commentThreads
    put:
      description: Modifies the top-level comment in a comment thread.
      operationId: youtube.commentThreads.update
      parameters:
        - description: The part parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CommentThread'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentThread'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - commentThreads
  /comments:
    delete:
      description: Deletes a comment.
      operationId: youtube.comments.delete
      parameters:
        - description: The id parameter specifies the comment ID for the resource that is being deleted.
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
    get:
      description: Returns a list of comments that match the API request parameters.
      operationId: youtube.comments.list
      parameters:
        - description: The part parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.
          in: query
          name: part
          required: true
          type: string
        - description: 'The id parameter specifies a comma-separated list of comment IDs for the resources that are being retrieved. In a comment resource, the id property specifies the comment''s ID.'
          in: query
          name: id
          type: string
        - default: 20
          description: |-
            The maxResults parameter specifies the maximum number of items that should be returned in the result set.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          type: integer
        - description: |-
            The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page of the result that can be retrieved.

            Note: This parameter is not supported for use in conjunction with the id parameter.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parentId parameter specifies the ID of the comment for which replies should be retrieved.

            Note: YouTube currently supports replies only for top-level comments. However, replies to replies may be supported in the future.
          in: query
          name: parentId
          type: string
        - default: html
          description: This parameter indicates whether the API should return comments formatted as HTML or as plain text.
          enum:
            - html
            - plainText
          in: query
          name: textFormat
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a reply to an existing comment. Note: To create a top-level comment, use the commentThreads.insert method.'
      operationId: youtube.comments.insert
      parameters:
        - description: The part parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
    put:
      description: Modifies a comment.
      operationId: youtube.comments.update
      parameters:
        - description: The part parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
  /comments/markAsSpam:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Expresses the caller's opinion that one or more comments should be flagged as spam.
      operationId: youtube.comments.markAsSpam
      parameters:
        - description: The id parameter specifies a comma-separated list of IDs of comments that the caller believes should be classified as spam.
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
  /comments/setModerationStatus:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the moderation status of one or more comments. The API request must be authorized by the owner of the channel or video associated with the comments.
      operationId: youtube.comments.setModerationStatus
      parameters:
        - description: The id parameter specifies a comma-separated list of IDs that identify the comments for which you are updating the moderation status.
          in: query
          name: id
          required: true
          type: string
        - description: Identifies the new moderation status of the specified comments.
          enum:
            - heldForReview
            - published
            - rejected
          in: query
          name: moderationStatus
          required: true
          type: string
        - default: false
          description: |-
            The banAuthor parameter lets you indicate that you want to automatically reject any additional comments written by the comment's author. Set the parameter value to true to ban the author.

            Note: This parameter is only valid if the moderationStatus parameter is also set to rejected.
          in: query
          name: banAuthor
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - comments
  /fanFundingEvents:
    get:
      description: Lists fan funding events for a channel.
      operationId: youtube.fanFundingEvents.list
      parameters:
        - description: The part parameter specifies the fanFundingEvent resource parts that the API response will include. Supported values are id and snippet.
          in: query
          name: part
          required: true
          type: string
        - description: |-
            The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports. The parameter value must be a language code included in the list returned by the i18nLanguages.list method.

            If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values. However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.
          in: query
          name: hl
          type: string
        - default: 5
          description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
          in: query
          maximum: 50
          minimum: 0
          name: maxResults
          type: integer
        - description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FanFundingEventListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
      tags:
        - fanFundingEvents
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /guideCategories:
    get:
      description: Returns a list of categories that can be associated with YouTube channels.
      operationId: youtube.guideCategories.list
      parameters:
        - description: The part parameter specifies the guideCategory resource properties that the API response will include. Set the parameter value to snippet.
          in: query
          name: part
          required: true
          type: string
        - default: en-US
          description: The hl parameter specifies the language that will be used for text values in the API response.
          in: query
          name: hl
          type: string
        - description: 'The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.'
          in: query
          name: id
          type: string
        - description: The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.
          in: query
          name: regionCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GuideCategoryListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - guideCategories
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /i18nLanguages:
    get:
      description: Returns a list of application languages that the YouTube website supports.
      operationId: youtube.i18nLanguages.list
      parameters:
        - description: The part parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.
          in: query
          name: part
          required: true
          type: string
        - default: en_US
          description: The hl parameter specifies the language that should be used for text values in the API response.
          in: query
          name: hl
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/I18nLanguageListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - i18nLanguages
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /i18nRegions:
    get:
      description: Returns a list of content regions that the YouTube website supports.
      operationId: youtube.i18nRegions.list
      parameters:
        - description: The part parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.
          in: query
          name: part
          required: true
          type: string
        - default: en_US
          description: The hl parameter specifies the language that should be used for text values in the API response.
          in: query
          name: hl
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/I18nRegionListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - i18nRegions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /liveBroadcasts:
    delete:
      description: Deletes a broadcast.
      operationId: youtube.liveBroadcasts.delete
      parameters:
        - description: The id parameter specifies the YouTube live broadcast ID for the resource that is being deleted.
          in: query
          name: id
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
    get:
      description: Returns a list of YouTube broadcasts that match the API request parameters.
      operationId: youtube.liveBroadcasts.list
      parameters:
        - description: 'The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.'
          in: query
          name: part
          required: true
          type: string
        - description: The broadcastStatus parameter filters the API response to only include broadcasts with the specified status.
          enum:
            - active
            - all
            - completed
            - upcoming
          in: query
          name: broadcastStatus
          type: string
        - default: event
          description: The broadcastType parameter filters the API response to only include broadcasts with the specified type. This is only compatible with the mine filter for now.
          enum:
            - all
            - event
            - persistent
          in: query
          name: broadcastType
          type: string
        - description: 'The id parameter specifies a comma-separated list of YouTube broadcast IDs that identify the broadcasts being retrieved. In a liveBroadcast resource, the id property specifies the broadcast''s ID.'
          in: query
          name: id
          type: string
        - default: 5
          description: The maxResults parameter specifies the maximum number of items that should be returned in the result set.
          in: query
          maximum: 50
          minimum: 0
          name: maxResults
          type: integer
        - description: The mine parameter can be used to instruct the API to only return broadcasts owned by the authenticated user. Set the parameter value to true to only retrieve your own broadcasts.
          in: query
          name: mine
          type: boolean
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcastListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
      tags:
        - liveBroadcasts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a broadcast.
      operationId: youtube.liveBroadcasts.insert
      parameters:
        - description: |-
            The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

            The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiveBroadcast'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcast'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
    put:
      description: 'Updates a broadcast. For example, you could modify the broadcast settings defined in the liveBroadcast resource''s contentDetails object.'
      operationId: youtube.liveBroadcasts.update
      parameters:
        - description: |-
            The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.

            The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.

            Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiveBroadcast'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcast'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
  /liveBroadcasts/bind:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Binds a YouTube broadcast to a stream or removes an existing binding between a broadcast and a stream. A broadcast can only be bound to one video stream, though a video stream may be bound to more than one broadcast.'
      operationId: youtube.liveBroadcasts.bind
      parameters:
        - description: The id parameter specifies the unique ID of the broadcast that is being bound to a video stream.
          in: query
          name: id
          required: true
          type: string
        - description: 'The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.'
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - description: 'The streamId parameter specifies the unique ID of the video stream that is being bound to a broadcast. If this parameter is omitted, the API will remove any existing binding between the broadcast and a video stream.'
          in: query
          name: streamId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcast'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
  /liveBroadcasts/control:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Controls the settings for a slate that can be displayed in the broadcast stream.
      operationId: youtube.liveBroadcasts.control
      parameters:
        - description: The id parameter specifies the YouTube live broadcast ID that uniquely identifies the broadcast in which the slate is being updated.
          in: query
          name: id
          required: true
          type: string
        - description: 'The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.'
          in: query
          name: part
          required: true
          type: string
        - description: The displaySlate parameter specifies whether the slate is being enabled or disabled.
          in: query
          name: displaySlate
          type: boolean
        - description: |-
            The offsetTimeMs parameter specifies a positive time offset when the specified slate change will occur. The value is measured in milliseconds from the beginning of the broadcast's monitor stream, which is the time that the testing phase for the broadcast began. Even though it is specified in milliseconds, the value is actually an approximation, and YouTube completes the requested action as closely as possible to that time.

            If you do not specify a value for this parameter, then YouTube performs the action as soon as possible. See the Getting started guide for more details.

            Important: You should only specify a value for this parameter if your broadcast stream is delayed.
          in: query
          name: offsetTimeMs
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
        - description: 'The walltime parameter specifies the wall clock time at which the specified slate change will occur. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sssZ) format.'
          in: query
          name: walltime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcast'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
  /liveBroadcasts/transition:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Changes the status of a YouTube live broadcast and initiates any processes associated with the new status. For example, when you transition a broadcast''s status to testing, YouTube starts to transmit video to that broadcast''s monitor stream. Before calling this method, you should confirm that the value of the status.streamStatus property for the stream bound to your broadcast is active.'
      operationId: youtube.liveBroadcasts.transition
      parameters:
        - description: 'The broadcastStatus parameter identifies the state to which the broadcast is changing. Note that to transition a broadcast to either the testing or live state, the status.streamStatus must be active for the stream that the broadcast is bound to.'
          enum:
            - complete
            - live
            - testing
          in: query
          name: broadcastStatus
          required: true
          type: string
        - description: The id parameter specifies the unique ID of the broadcast that is transitioning to another status.
          in: query
          name: id
          required: true
          type: string
        - description: 'The part parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.'
          in: query
          name: part
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwnerChannel parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies.

            This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.
          in: query
          name: onBehalfOfContentOwnerChannel
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveBroadcast'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveBroadcasts
  /liveChat/bans:
    delete:
      description: Removes a chat ban.
      operationId: youtube.liveChatBans.delete
      parameters:
        - description: The id parameter identifies the chat ban to remove. The value uniquely identifies both the ban and the chat.
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveChatBans
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a new ban to the chat.
      operationId: youtube.liveChatBans.insert
      parameters:
        - description: The part parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.
          in: query
          name: part
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiveChatBan'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiveChatBan'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveChatBans
  /liveChat/messages:
    delete:
      description: Deletes a chat message.
      operationId: youtube.liveChatMessages.delete
      parameters:
        - description: The id parameter specifies the YouTube chat message ID of the resource that is being deleted.
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.force-ssl'
      tags:
        - liveChatMessages
    get:
[...]
