openapi: 3.0.1
servers:
  - url: https://flex-api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Flex
  version: 1.23.1
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_flex_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_flex_v1
paths:
  /v1/Channels:
    description: Flex chat channels
    get:
      description: ""
      operationId: ListChannel
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_chat_channels:
                    items:
                      $ref: "#/components/schemas/flex.v1.channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatFriendlyName:
                  description: The chat channel's friendly name.
                  type: string
                ChatUniqueName:
                  description: The chat channel's unique name.
                  type: string
                ChatUserFriendlyName:
                  description: The chat participant's friendly name.
                  type: string
                FlexFlowSid:
                  description: The SID of the Flex Flow.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FO[0-9a-fA-F]{32}$
                  type: string
                Identity:
                  description: The `identity` value that uniquely identifies the new resource's chat User.
                  type: string
                LongLived:
                  description: Whether to create the channel as long-lived.
                  type: boolean
                PreEngagementData:
                  description: The pre-engagement data.
                  type: string
                Target:
                  description: The Target Contact Identity, for example the phone number of an SMS.
                  type: string
                TaskAttributes:
                  description: The Task attributes to be added for the TaskRouter Task.
                  type: string
                TaskSid:
                  description: The SID of the TaskRouter Task. Only valid when integration type is `task`. `null` for integration types `studio` & `external`
                  maxLength: 34
                  minLength: 34
                  pattern: ^WT[0-9a-fA-F]{32}$
                  type: string
              required:
                - FlexFlowSid
                - Identity
                - ChatUserFriendlyName
                - ChatFriendlyName
              title: CreateChannelRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - flex_flow_sid
        - user_sid
        - task_sid
      pathType: list
  "/v1/Channels/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
        - description: The SID of the Flex chat channel resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Flex chat channels
    get:
      description: ""
      operationId: FetchChannel
      parameters:
        - description: The SID of the Flex chat channel resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - flex_flow_sid
        - user_sid
        - task_sid
      pathType: instance
  /v1/Configuration:
    description: Configuration for a Flex instance
    get:
      description: ""
      operationId: FetchConfiguration
      parameters:
        - description: The Pinned UI version of the Configuration resource to fetch.
          in: query
          name: UiVersion
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - status
        - ui_language
        - ui_version
        - service_version
      pathType: instance
  /v1/FlexFlows:
    description: Flex Flow
    get:
      description: ""
      operationId: ListFlexFlow
      parameters:
        - description: The `friendly_name` of the Flex Flow resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_flows:
                    items:
                      $ref: "#/components/schemas/flex.v1.flex_flow"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFlexFlowResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateFlexFlow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelType:
                  description: "The channel type. Can be: `web`, `facebook`, `sms`, `whatsapp`, `line` or `custom`."
                  enum:
                    - web
                    - sms
                    - facebook
                    - whatsapp
                    - line
                    - custom
                  type: string
                ChatServiceSid:
                  description: The SID of the chat service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                ContactIdentity:
                  description: The channel contact's Identity.
                  type: string
                Enabled:
                  description: Whether the new Flex Flow is enabled.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Flex Flow resource.
                  type: string
                Integration.Channel:
                  description: The Task Channel SID (TCXXXX) or unique name (e.g., `sms`) to use for the Task that will be created. Applicable and required when `integrationType` is `task`. The default value is `default`.
                  type: string
                Integration.CreationOnMessage:
                  description: In the context of outbound messaging, defines whether to create a Task immediately (and therefore reserve the conversation to current agent), or delay Task creation until the customer sends the first response. Set to false to create immediately, true to delay Task creation. This setting is only applicable for outbound messaging.
                  type: boolean
                Integration.FlowSid:
                  description: The SID of the Studio Flow. Required when `integrationType` is `studio`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Integration.Priority:
                  description: The Task priority of a new Task. The default priority is 0. Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.RetryCount:
                  description: The number of times to retry the webhook if the first attempt fails. Can be an integer between 0 and 3 (inclusive), default is 3. Optional when `integrationType` is `external`, not applicable otherwise.
                  type: integer
                Integration.Timeout:
                  description: The Task timeout in seconds for a new Task. Default is 86,400 seconds (24 hours). Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.Url:
                  description: The URL of the external webhook. Required when `integrationType` is `external`.
                  format: uri
                  type: string
                Integration.WorkflowSid:
                  description: The Workflow SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WW[0-9a-fA-F]{32}$
                  type: string
                Integration.WorkspaceSid:
                  description: The Workspace SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WS[0-9a-fA-F]{32}$
                  type: string
                IntegrationType:
                  description: "The software that will handle inbound messages. [Integration Type](https://www.twilio.com/docs/flex/developer/messaging/manage-flows#integration-types) can be: `studio`, `external`, or `task`."
                  enum:
                    - studio
                    - external
                    - task
                  type: string
                JanitorEnabled:
                  description: When enabled, the Messaging Channel Janitor will remove active Proxy sessions if the associated Task is deleted outside of the Flex UI. Defaults to `false`.
                  type: boolean
                LongLived:
                  description: When enabled, Flex will keep the chat channel active so that it may be used for subsequent interactions with a contact identity. Defaults to `false`.
                  type: boolean
              required:
                - FriendlyName
                - ChatServiceSid
                - ChannelType
              title: CreateFlexFlowRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - channel_type
        - integration_type
      pathType: list
  "/v1/FlexFlows/{Sid}":
    delete:
      description: ""
      operationId: DeleteFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Flex Flow
    get:
      description: ""
      operationId: FetchFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelType:
                  description: "The channel type. Can be: `web`, `facebook`, `sms`, `whatsapp`, `line` or `custom`."
                  enum:
                    - web
                    - sms
                    - facebook
                    - whatsapp
                    - line
                    - custom
                  type: string
                ChatServiceSid:
                  description: The SID of the chat service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                ContactIdentity:
                  description: The channel contact's Identity.
                  type: string
                Enabled:
                  description: Whether the new Flex Flow is enabled.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Flex Flow resource.
                  type: string
                Integration.Channel:
                  description: The Task Channel SID (TCXXXX) or unique name (e.g., `sms`) to use for the Task that will be created. Applicable and required when `integrationType` is `task`. The default value is `default`.
                  type: string
                Integration.CreationOnMessage:
                  description: In the context of outbound messaging, defines whether to create a Task immediately (and therefore reserve the conversation to current agent), or delay Task creation until the customer sends the first response. Set to false to create immediately, true to delay Task creation. This setting is only applicable for outbound messaging.
                  type: boolean
                Integration.FlowSid:
                  description: The SID of the Studio Flow. Required when `integrationType` is `studio`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Integration.Priority:
                  description: The Task priority of a new Task. The default priority is 0. Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.RetryCount:
                  description: The number of times to retry the webhook if the first attempt fails. Can be an integer between 0 and 3 (inclusive), default is 3. Optional when `integrationType` is `external`, not applicable otherwise.
                  type: integer
                Integration.Timeout:
                  description: The Task timeout in seconds for a new Task. Default is 86,400 seconds (24 hours). Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.Url:
                  description: The URL of the external webhook. Required when `integrationType` is `external`.
                  format: uri
                  type: string
                Integration.WorkflowSid:
                  description: The Workflow SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WW[0-9a-fA-F]{32}$
                  type: string
                Integration.WorkspaceSid:
                  description: The Workspace SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WS[0-9a-fA-F]{32}$
                  type: string
                IntegrationType:
                  description: "The software that will handle inbound messages. [Integration Type](https://www.twilio.com/docs/flex/developer/messaging/manage-flows#integration-types) can be: `studio`, `external`, or `task`."
                  enum:
                    - studio
                    - external
                    - task
                  type: string
                JanitorEnabled:
                  description: When enabled, the Messaging Channel Janitor will remove active Proxy sessions if the associated Task is deleted outside of the Flex UI. Defaults to `false`.
                  type: boolean
                LongLived:
                  description: When enabled, Flex will keep the chat channel active so that it may be used for subsequent interactions with a contact identity. Defaults to `false`.
                  type: boolean
              title: UpdateFlexFlowRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - channel_type
        - integration_type
      pathType: instance
  /v1/WebChannels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWebChannel
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_chat_channels:
                    items:
                      $ref: "#/components/schemas/flex.v1.web_channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListWebChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateWebChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatFriendlyName:
                  description: The chat channel's friendly name.
                  type: string
                ChatUniqueName:
                  description: The chat channel's unique name.
                  type: string
                CustomerFriendlyName:
                  description: The chat participant's friendly name.
                  type: string
                FlexFlowSid:
                  description: The SID of the Flex Flow.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FO[0-9a-fA-F]{32}$
                  type: string
                Identity:
                  description: The chat identity.
                  type: string
                PreEngagementData:
                  description: The pre-engagement data.
                  type: string
              required:
                - FlexFlowSid
                - Identity
                - CustomerFriendlyName
                - ChatFriendlyName
              title: CreateWebChannelRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - flex_flow_sid
      pathType: list
  "/v1/WebChannels/{Sid}":
    delete:
      description: ""
      operationId: DeleteWebChannel
      parameters:
        - description: The SID of the WebChannel resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWebChannel
      parameters:
        - description: The SID of the WebChannel resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateWebChannel
      parameters:
        - description: The SID of the WebChannel resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatStatus:
                  description: The chat status. Can only be `inactive`.
                  enum:
                    - inactive
                  type: string
                PostEngagementData:
                  description: The post-engagement data.
                  type: string
              title: UpdateWebChannelRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - flex_flow_sid
      pathType: instance
components:
  schemas:
    flex.v1.channel:
      properties:
        account_sid:
          description: The SID of the Account that created the resource and owns this Workflow
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the Flex chat channel was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the Flex chat channel was last updated
          format: date-time
          nullable: true
          type: string
        flex_flow_sid:
          description: The SID of the Flex Flow
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FO[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        task_sid:
          description: The SID of the TaskRouter Task
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WT[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Flex chat channel resource
          format: uri
          nullable: true
          type: string
        user_sid:
          description: The SID of the chat user
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
      type: object
    flex.v1.configuration:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          description: An object that contains application-specific data
          nullable: true
          type: object
        call_recording_enabled:
          description: Whether call recording is enabled
          nullable: true
          type: boolean
        call_recording_webhook_url:
          description: The call recording webhook URL
          format: uri
          nullable: true
          type: string
        chat_service_instance_sid:
          description: The SID of the chat service this user belongs to
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        crm_attributes:
          description: An object that contains the CRM attributes
          nullable: true
          type: object
        crm_callback_url:
          description: The CRM Callback URL
          format: uri
          nullable: true
          type: string
        crm_enabled:
          description: Whether CRM is present for Flex
          nullable: true
          type: boolean
        crm_fallback_url:
          description: The CRM Fallback URL
          format: uri
          nullable: true
          type: string
        crm_type:
          description: The CRM Type
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the Configuration resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the Configuration resource was last updated
          format: date-time
          nullable: true
          type: string
        flex_insights_hr:
          description: Object that controls workspace reporting
          nullable: true
          type: object
        flex_service_instance_sid:
          description: The SID of the Flex service instance
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        integrations:
          description: A list of objects that contain the configurations for the Integrations supported in this configuration
          items:
            type: object
          nullable: true
          type: array
        markdown:
          description: Configurable parameters for Markdown
          nullable: true
          type: object
        messaging_service_instance_sid:
          description: The SID of the Messaging service instance
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        notifications:
          description: Configurable parameters for Notifications
          nullable: true
          type: object
        outbound_call_flows:
          description: The list of outbound call flows
          nullable: true
          type: object
        plugin_service_attributes:
          description: The plugin service attributes
          nullable: true
          type: object
        plugin_service_enabled:
          description: Whether the plugin service enabled
          nullable: true
          type: boolean
        public_attributes:
          description: The list of public attributes
          nullable: true
          type: object
        queue_stats_configuration:
          description: Configurable parameters for Queues Statistics
          nullable: true
          type: object
        runtime_domain:
          description: The URL where the Flex instance is hosted
          format: uri
          nullable: true
          type: string
        serverless_service_sids:
          description: The list of serverless service SIDs
          items:
            maxLength: 34
            minLength: 34
            pattern: ^ZS[0-9a-fA-F]{32}$
            type: string
          nullable: true
          type: array
        service_version:
          description: The Flex Service version
          nullable: true
          type: string
        status:
          description: The status of the Flex onboarding
          enum:
            - ok
            - inprogress
            - notstarted
          nullable: true
          type: string
        taskrouter_offline_activity_sid:
          description: The TaskRouter SID of the offline activity
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WA[0-9a-fA-F]{32}$
          type: string
        taskrouter_skills:
          description: The Skill description for TaskRouter workers
          items:
            type: object
          nullable: true
          type: array
        taskrouter_target_taskqueue_sid:
          description: The SID of the TaskRouter Target TaskQueue
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WQ[0-9a-fA-F]{32}$
          type: string
        taskrouter_target_workflow_sid:
          description: The SID of the TaskRouter target Workflow
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WW[0-9a-fA-F]{32}$
          type: string
        taskrouter_taskqueues:
          description: The list of TaskRouter TaskQueues
          items:
            type: object
          nullable: true
          type: array
        taskrouter_worker_attributes:
          description: The TaskRouter Worker attributes
          nullable: true
          type: object
        taskrouter_worker_channels:
          description: The TaskRouter default channel capacities and availability for workers
          nullable: true
          type: object
        taskrouter_workspace_sid:
          description: The SID of the TaskRouter Workspace
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WS[0-9a-fA-F]{32}$
          type: string
        ui_attributes:
          description: The object that describes Flex UI characteristics and settings
          nullable: true
          type: object
        ui_dependencies:
          description: The object that defines the NPM packages and versions to be used in Hosted Flex
          nullable: true
          type: object
        ui_language:
          description: The primary language of the Flex UI
          nullable: true
          type: string
        ui_version:
          description: The Pinned UI version
          nullable: true
          type: string
        url:
          description: The absolute URL of the Configuration resource
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.flex_flow:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_type:
          description: The channel type
          enum:
            - web
            - sms
            - facebook
            - whatsapp
            - line
            - custom
          nullable: true
          type: string
        chat_service_sid:
          description: The SID of the chat service
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        contact_identity:
          description: The channel contact's Identity
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        enabled:
          description: Whether the Flex Flow is enabled
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        integration:
          description: An object that contains specific parameters for the integration
          nullable: true
          type: object
        integration_type:
          description: The software that will handle inbound messages.
          enum:
            - studio
            - external
            - task
          nullable: true
          type: string
        janitor_enabled:
          description: Remove active Proxy sessions if the corresponding Task is deleted.
          nullable: true
          type: boolean
        long_lived:
          description: Re-use this chat channel for future interactions with a contact
          nullable: true
          type: boolean
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FO[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Flex Flow resource
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.web_channel:
      properties:
        account_sid:
          description: The SID of the Account that created the resource and owns this Workflow
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        flex_flow_sid:
          description: The SID of the Flex Flow
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FO[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies the WebChannel resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the WebChannel resource
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
