swagger: '2.0'
schemes:
  - http
  - https
host: api.nytimes.com
basePath: /svc/events/v2
info:
  description: 'Deprecated.  With the Event Listings API, you can search the New York Times listing of noteworthy cultural events in New York City and beyond.'
  termsOfService: 'http://developer.nytimes.com/tou'
  title: Event Listings
  version: 1.0.0
  x-apiClientRegistration:
    url: 'http://developer.nytimes.com/signup'
  x-apisguru-categories:
    - media
    - open_data
  x-logo:
    url: 'https://a1.nyt.com/assets/homepage/20161003-111909/images/foundation/logos/nyt-logo-379x64.svg'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/event_listings/event_listings_v2.json'
    version: '2.0'
  x-providerName: nytimes.com
  x-serviceName: event_listings
externalDocs:
  url: 'http://developer.nytimes.com/'
produces:
  - application/json
securityDefinitions:
  apikey:
    in: query
    name: api-key
    type: apiKey
security:
  - apikey: []
paths:
  /listings.json:
    get:
      description: |
        The Top Stories API provides JSON and JSONP lists of articles and associated images by section.
      parameters:
        - description: |
            Limits the results to events within radius distance of the specified latitude and longitude coordinates. <br/><br/>
            For example, the following parameter would use The New York Times Building as the center of the search, `ll=40.756146,-73.99021`
          in: query
          name: ll
          required: false
          type: string
        - default: 1000
          description: |
            Sets the radius of a spatial search (in meters).
          in: query
          name: radius
          required: false
          type: integer
        - description: 'Along with sw, forms a bounded box using the longitude and latitude coordinates specified as the northeast corner. The search results are limited to the resulting box. <br/><br/> Two float values, separated by a comma `latitude,longitude`'
          in: query
          name: ne
          required: false
          type: string
        - description: 'Along with ne, forms a bounded box using the longitude and latitude coordinates specified as the southwest corner. The search results are limited to the resulting box. Two float values, separated by a comma `latitude,longitude` <br/> The ne parameter is required to use this parameter.'
          in: query
          name: sw
          required: false
          type: string
        - description: |
            Search keywords to perform a text search on the fields: web_description, event_name and venue_name. 'AND' searches can be performed by wrapping query terms in quotes. If you do not specify a query, all results will be returned.
          in: query
          name: query
          required: false
          type: string
        - description: |
            Filters search results based on the facets provided.  For more information on the values you can filter on, see Facets.
          in: query
          name: filters
          required: false
          type: string
        - description: 'Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD'
          in: query
          name: date_range
          required: false
          type: string
        - default: 0
          description: 'When facets is set to 1, a count of all facets will be included in the response.'
          enum:
            - 0
            - 1
          in: query
          name: facets
          type: integer
        - description: |
            Sorts your results on the fields specified. <br/> `sort_value1+[asc | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or response will sort results on that value in ascending order. Appending +desc to a facet or response  will sort results in descending order. You can sort on multiple fields. You can sort on any facet. For the list of responses you can sort on, see the Sortable Field column in the Response table. <br/><br/>If you are doing a spatial search with the ll parameter, you can also sort by the distance from the center of the search: dist+[asc | desc] <br/> **Note:** either +asc or +desc is required when using the sort parameter.
          in: query
          name: sort
          type: string
        - default: 20
          description: Limits the number of results returned
          in: query
          name: limit
          type: integer
        - default: 0
          description: Sets the starting point of the result set
          in: query
          name: offset
          type: integer
      responses:
        '200':
          description: An array of events
          schema:
            properties:
              results:
                items:
                  $ref: '#/definitions/Event'
                type: array
            type: object
      summary: Top Stories
      tags:
        - Events
definitions:
  Event:
    properties:
      city:
        type: string
      critic_name:
        type: string
      event_detail_url:
        type: string
      event_id:
        type: integer
      event_name:
        type: string
      event_schedule_id:
        type: integer
      festival:
        type: boolean
      film_rating:
        type: boolean
      free:
        type: boolean
      kid_friendly:
        type: boolean
      last_chance:
        type: boolean
      last_modified:
        type: string
      long_running_show:
        type: boolean
      previews_and_openings:
        type: boolean
      recur_days:
        items:
          type: string
        type: array
      recurring_start_date:
        type: string
      state:
        type: string
      times_pick:
        type: boolean
      web_description:
        type: string
    type: object
