openapi: 3.0.0
servers:
  - url: https://neutrinoapi.net
info:
  contact:
    email: ops@neutrinoapi.com
    name: Neutrino API
    url: https://www.neutrinoapi.com/
  description: The general-purpose API
  title: Neutrino API
  version: 3.4.9
  x-apisguru-categories:
    - email
    - messaging
    - telecom
    - location
    - text
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://www.neutrinoapi.com/img/NEUTRINO_LOGO_NOBG_126x65.png
  x-origin:
    - format: openapi
      url: https://www.neutrinoapi.com/api/swagger.json
      version: "3.0"
  x-providerName: neutrinoapi.net
security:
  - api-key: []
    user-id: []
tags:
  - description: ""
    name: Imaging
  - description: ""
    name: Telephony
  - description: ""
    name: Data Tools
  - description: ""
    name: Security and Networking
  - description: ""
    name: Geolocation
  - description: ""
    name: E-commerce
  - description: ""
    name: WWW
paths:
  /bad-word-filter:
    post:
      deprecated: false
      description: Detect bad words, swear words and profanity in a given text
      operationId: BadWordFilter
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                catalog:
                  default: strict
                  description: "Which catalog of bad words to use, we currently maintain two bad
                    word catalogs: <ul> <li>strict - the largest database of bad
                    words which includes profanity, obscenity, sexual, rude,
                    cuss, dirty, swear and objectionable words and phrases. This
                    catalog is suitable for environments of all ages including
                    educational or children's content</li> <li>obscene - like
                    the strict catalog but does not include any mild
                    profanities, idiomatic phrases or words which are considered
                    formal terminology. This catalog is suitable for adult
                    environments where certain types of bad words are considered
                    OK</li> </ul>"
                  type: string
                censor-character:
                  description: The character to use to censor out the bad words found
                  type: string
                content:
                  description: The content to scan. This can be either a URL to load from, a file
                    upload or an HTML content string
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - content
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadWordFilterResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Bad Word Filter
      tags:
        - Data Tools
  /bin-list-download:
    post:
      deprecated: false
      description: Download our entire BIN database for direct use on your own systems
      operationId: BINListDownload
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                include-8digit:
                  default: false
                  description: Include 8-digit and higher BIN codes. Use this option if you want
                    to download BINs with more than 6-digits
                  type: boolean
                include-iso3:
                  default: false
                  description: Include ISO 3-letter country codes and ISO 3-letter currency codes
                    in the data. These will be added to columns 10 and 11
                    respectively
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: BIN List Download
      tags:
        - E-commerce
  /bin-lookup:
    post:
      deprecated: false
      description: Perform a BIN (Bank Identification Number) or IIN (Issuer
        Identification Number) lookup
      operationId: BINLookup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                bin-number:
                  description: The BIN or IIN number. This is the first 6, 8 or 10 digits of a
                    card number, use 8 (or more) digits for the highest level of
                    accuracy
                  type: string
                customer-ip:
                  description: Pass in the customers IP address and we will return some extra
                    information about them
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - bin-number
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BINLookupResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: BIN Lookup
      tags:
        - E-commerce
  /browser-bot:
    post:
      deprecated: false
      description: Browser bot can extract content, interact with keyboard and mouse
        events, and execute JavaScript on a website
      operationId: BrowserBot
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                delay:
                  default: 3
                  description: Delay in seconds to wait before capturing any page data, executing
                    selectors or JavaScript
                  format: int32
                  type: integer
                exec:
                  default: "[]"
                  description: "Execute JavaScript on the page. Each array element should contain
                    a valid JavaScript statement in string form. If a statement
                    returns any kind of value it will be returned in the
                    'exec-results' response. For your convenience you can also
                    use the following special shortcut functions: <div>
                    sleep(seconds); Just wait/sleep for the specified number of
                    seconds. click('selector'); Click on the first element
                    matching the given selector. focus('selector'); Focus on the
                    first element matching the given selector.
                    keys('characters'); Send the specified keyboard characters.
                    Use click() or focus() first to send keys to a specific
                    element. enter(); Send the Enter key. tab(); Send the Tab
                    key. </div> Example: <div> [ \"click('#button-id')\",
                    \"sleep(1)\", \"click('.field-class')\", \"keys('1234')\",
                    \"enter()\" ] </div>"
                  items:
                    type: string
                  type: array
                ignore-certificate-errors:
                  default: false
                  description: Ignore any TLS/SSL certificate errors and load the page anyway
                  type: boolean
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                selector:
                  description: Extract content from the page DOM using this selector. Commonly
                    known as a CSS selector, you can find a good reference <a
                    href="https://www.w3schools.com/cssref/css_selectors.asp">here</a>
                  type: string
                timeout:
                  default: 30
                  description: Timeout in seconds. Give up if still trying to load the page after
                    this number of seconds
                  format: int32
                  type: integer
                url:
                  description: The URL to load
                  type: string
                user-agent:
                  description: Override the browsers default user-agent string with this one
                  type: string
              required:
                - url
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserBotResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Browser Bot
      tags:
        - WWW
  /convert:
    post:
      deprecated: false
      description: A powerful unit conversion tool
      operationId: Convert
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                from-type:
                  description: The type of the value to convert from (e.g. USD)
                  type: string
                from-value:
                  description: The value to convert from (e.g. 10.95)
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                to-type:
                  description: The type to convert to (e.g. EUR)
                  type: string
              required:
                - from-value
                - from-type
                - to-type
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConvertResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Convert
      tags:
        - Data Tools
  /email-validate:
    post:
      deprecated: false
      description: Parse, validate and clean an email address
      operationId: EmailValidate
      requestBody:
        $ref: "#/components/requestBodies/EmailValidate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailValidateResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Email Validate
      tags:
        - Data Tools
  /email-verify:
    post:
      deprecated: false
      description: SMTP based email address verification
      operationId: EmailVerify
      requestBody:
        $ref: "#/components/requestBodies/EmailValidate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerifyResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Email Verify
      tags:
        - Security and Networking
  /geocode-address:
    post:
      deprecated: false
      description: Geocode an address, partial address or just the name of a place
      operationId: GeocodeAddress
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                address:
                  description: The full address, partial address or name of a place to try and
                    locate. Comma separated address components are preferred.
                  type: string
                city:
                  description: The city/town name to locate
                  type: string
                country-code:
                  description: Limit result to this country (the default is no country bias)
                  type: string
                county:
                  description: The county/region name to locate
                  type: string
                fuzzy-search:
                  default: false
                  description: If no matches are found for the given address, start performing a
                    recursive fuzzy search until a geolocation is found. This
                    option is recommended for processing user input or
                    implementing auto-complete. We use a combination of
                    approximate string matching and data cleansing to find
                    possible location matches
                  type: boolean
                house-number:
                  description: The house/building number to locate
                  type: string
                language-code:
                  default: en
                  description: "The language to display results in, available languages are: <ul>
                    <li>de, en, es, fr, it, pt, ru, zh</li> </ul>"
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                postal-code:
                  description: The postal code to locate
                  type: string
                state:
                  description: The state name to locate
                  type: string
                street:
                  description: The street/road name to locate
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeAddressResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Geocode Address
      tags:
        - Geolocation
  /geocode-reverse:
    post:
      deprecated: false
      description: Convert a geographic coordinate (latitude and longitude) into a
        real world address
      operationId: GeocodeReverse
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                language-code:
                  default: en
                  description: "The language to display results in, available languages are: <ul>
                    <li>de, en, es, fr, it, pt, ru</li> </ul>"
                  type: string
                latitude:
                  description: The location latitude in decimal degrees format
                  type: string
                longitude:
                  description: The location longitude in decimal degrees format
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                zoom:
                  default: address
                  description: "The zoom level to respond with: <ul> <li>address - the most
                    precise address available</li> <li>street - the street
                    level</li> <li>city - the city level</li> <li>state - the
                    state level</li> <li>country - the country level</li> </ul>"
                  type: string
              required:
                - latitude
                - longitude
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeReverseResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Geocode Reverse
      tags:
        - Geolocation
  /hlr-lookup:
    post:
      deprecated: false
      description: Connect to the global mobile cellular network and retrieve the
        status of a mobile device
      operationId: HLRLookup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                country-code:
                  description: ISO 2-letter country code, assume numbers are based in this
                    country. If not set numbers are assumed to be in
                    international format (with or without the leading + sign)
                  type: string
                number:
                  description: A phone number
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - number
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HLRLookupResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: HLR Lookup
      tags:
        - Telephony
  /host-reputation:
    post:
      deprecated: false
      description: Check the reputation of an IP address, domain name, FQDN or URL
        against a comprehensive list of blacklists and blocklists
      operationId: HostReputation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                host:
                  description: An IP address, domain name, FQDN or URL. If you supply a domain/URL
                    it will be checked against the URI DNSBL lists
                  type: string
                list-rating:
                  default: 3
                  description: Only check lists with this rating or better
                  format: int32
                  type: integer
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - host
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostReputationResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Host Reputation
      tags:
        - Security and Networking
  /html-clean:
    post:
      deprecated: false
      description: Clean and sanitize untrusted HTML
      operationId: HTMLClean
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                content:
                  description: The HTML content. This can be either a URL to load from, a file
                    upload or an HTML content string
                  type: string
                output-type:
                  description: "The level of sanitization, possible values are: <b>plain-text</b>:
                    reduce the content to plain text only (no HTML tags at all)
                    <b>simple-text</b>: allow only very basic text formatting
                    tags like b, em, i, strong, u <b>basic-html</b>: allow
                    advanced text formatting and hyper links
                    <b>basic-html-with-images</b>: same as basic html but also
                    allows image tags <b>advanced-html</b>: same as basic html
                    with images but also allows many more common HTML tags like
                    table, ul, dl, pre"
                  type: string
              required:
                - content
                - output-type
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: HTML Clean
      tags:
        - WWW
  /html5-render:
    post:
      deprecated: false
      description: Render HTML content to PDF, JPG or PNG
      operationId: HTML5Render
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                content:
                  description: The HTML content. This can be either a URL to load from, a file
                    upload or an HTML content string
                  type: string
                css:
                  description: "Inject custom CSS into the HTML. e.g. 'body { background-color:
                    red;}'"
                  type: string
                footer-font:
                  default: Courier
                  description: "Set the footer font. Fonts available: Times, Courier, Helvetica,
                    Arial"
                  type: string
                footer-font-size:
                  default: 11
                  description: Set the footer font size (in pt)
                  format: int32
                  type: integer
                footer-line:
                  default: false
                  description: Draw a full page width horizontal line above your footer
                  type: boolean
                footer-size:
                  default: 9
                  description: The height of your footer (in mm)
                  format: int32
                  type: integer
                footer-text-center:
                  description: Text to print to the center header of each page
                  type: string
                footer-text-left:
                  description: Text to print to the left-hand side footer of each page. e.g. 'My
                    footer - Page {page_number} of {total_pages}'
                  type: string
                footer-text-right:
                  description: Text to print to the right-hand side header of each page
                  type: string
                format:
                  default: PDF
                  description: "Which format to output, available options are: PDF, PNG, JPG"
                  type: string
                forms:
                  default: false
                  description: Generate real (fillable) PDF forms from HTML forms
                  type: boolean
                grayscale:
                  default: false
                  description: Render the final document in grayscale
                  type: boolean
                header-font:
                  default: Courier
                  description: "Set the header font. Fonts available: Times, Courier, Helvetica,
                    Arial"
                  type: string
                header-font-size:
                  default: 11
                  description: Set the header font size (in pt)
                  format: int32
                  type: integer
                header-line:
                  default: false
                  description: Draw a full page width horizontal line under your header
                  type: boolean
                header-size:
                  default: 9
                  description: The height of your header (in mm)
                  format: int32
                  type: integer
                header-text-center:
                  description: Text to print to the center header of each page
                  type: string
                header-text-left:
                  description: Text to print to the left-hand side header of each page. e.g. 'My
                    header - Page {page_number} of {total_pages}'
                  type: string
                header-text-right:
                  description: Text to print to the right-hand side header of each page
                  type: string
                image-height:
                  description: If rendering to an image format (PNG or JPG) use this image height
                    (in pixels). The default is automatic which dynamically sets
                    the image height based on the content
                  format: int32
                  type: integer
                image-width:
                  default: 1024
                  description: If rendering to an image format (PNG or JPG) use this image width
                    (in pixels)
                  format: int32
                  type: integer
                landscape:
                  default: false
                  description: Set the document to lanscape orientation
                  type: boolean
                margin:
                  default: 0
                  description: The document margin (in mm)
                  format: int32
                  type: integer
                margin-bottom:
                  default: 0
                  description: The document bottom margin (in mm)
                  format: int32
                  type: integer
                margin-left:
                  default: 0
                  description: The document left margin (in mm)
                  format: int32
                  type: integer
                margin-right:
                  default: 0
                  description: The document right margin (in mm)
                  format: int32
                  type: integer
                margin-top:
                  default: 0
                  description: The document top margin (in mm)
                  format: int32
                  type: integer
                media-print:
                  default: false
                  description: Use @media print CSS styles to render the document
                  type: boolean
                media-queries:
                  default: false
                  description: Activate all @media queries before rendering. This can be useful if
                    you wan't to render the mobile version of a responsive
                    website
                  type: boolean
                page-height:
                  description: Set the PDF page height explicitly (in mm)
                  format: int32
                  type: integer
                page-size:
                  default: A4
                  description: "Set the document page size, can be one of: A0 - A9, B0 - B10,
                    Comm10E, DLE or Letter"
                  type: string
                page-width:
                  description: Set the PDF page width explicitly (in mm)
                  format: int32
                  type: integer
                render-delay:
                  default: 0
                  description: Number of milliseconds to wait before rendering the page (can be
                    useful for pages with animations etc)
                  format: int32
                  type: integer
                title:
                  description: The document title
                  type: string
                zoom:
                  default: 1
                  description: Set the zoom factor when rendering the page (2.0 for double size,
                    0.5 for half size)
                  format: int32
                  type: integer
              required:
                - content
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: HTML5 Render
      tags:
        - Imaging
  /image-resize:
    post:
      deprecated: false
      description: Resize an image and output as either JPEG or PNG
      operationId: ImageResize
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                format:
                  default: png
                  description: The output image format, can be either png or jpg
                  type: string
                height:
                  description: The height to resize to (in px) while preserving aspect ratio
                  format: int32
                  type: integer
                image-url:
                  description: The URL to the source image (you can also upload an image file
                    directly in which case this field is ignored)
                  type: string
                width:
                  description: The width to resize to (in px) while preserving aspect ratio
                  format: int32
                  type: integer
              required:
                - image-url
                - width
                - height
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Image Resize
      tags:
        - Imaging
  /image-watermark:
    post:
      deprecated: false
      description: Watermark one image with another image
      operationId: ImageWatermark
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                format:
                  default: png
                  description: The output image format, can be either png or jpg
                  type: string
                height:
                  description: If set resize the resulting image to this height (in px) while
                    preserving aspect ratio
                  format: int32
                  type: integer
                image-url:
                  description: The URL to the source image (you can also upload an image file
                    directly in which case this field is ignored)
                  type: string
                opacity:
                  default: 50
                  description: The opacity of the watermark (0 to 100)
                  format: int32
                  type: integer
                position:
                  default: center
                  description: "The position of the watermark image, possible values are: center,
                    top-left, top-center, top-right, bottom-left, bottom-center,
                    bottom-right"
                  type: string
                watermark-url:
                  description: The URL to the watermark image (you can also upload an image file
                    directly in which case this field is ignored)
                  type: string
                width:
                  description: If set resize the resulting image to this width (in px) while
                    preserving aspect ratio
                  format: int32
                  type: integer
              required:
                - image-url
                - watermark-url
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Image Watermark
      tags:
        - Imaging
  /ip-blocklist:
    post:
      deprecated: false
      description: The IP Blocklist API will detect potentially malicious or dangerous
        IP addresses
      operationId: IPBlocklist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ip:
                  description: An IPv4 or IPv6 address
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                vpn-lookup:
                  default: false
                  description: 'Include public VPN provider IP addresses. <b>NOTE</b>: For more
                    advanced VPN detection including the ability to identify
                    private and stealth VPNs use the <a
                    href="https://www.neutrinoapi.com/api/ip-probe/">IP Probe
                    API</a>'
                  type: boolean
              required:
                - ip
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPBlocklistResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: IP Blocklist
      tags:
        - Security and Networking
  /ip-blocklist-download:
    post:
      deprecated: false
      description: This API is a direct feed to our IP blocklist data
      operationId: IPBlocklistDownload
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                format:
                  default: csv
                  description: The data format. Can be either CSV or TXT
                  type: string
                include-vpn:
                  default: false
                  description: "Include public VPN provider IP addresses, this option is only
                    available for Tier 3 or higher accounts. <b>WARNING</b>:
                    This option will add at least an additional 8 million IP
                    addresses to the download"
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: IP Blocklist Download
      tags:
        - Security and Networking
  /ip-info:
    post:
      deprecated: false
      description: Get location information about an IP address and do reverse DNS
        (PTR) lookups
      operationId: IPInfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ip:
                  description: IPv4 or IPv6 address
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                reverse-lookup:
                  default: false
                  description: Do a reverse DNS (PTR) lookup. This option can add extra delay to
                    the request so only use it if you need it
                  type: boolean
              required:
                - ip
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPInfoResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: IP Info
      tags:
        - Geolocation
  /ip-probe:
    post:
      deprecated: false
      description: Analyze and extract provider information for an IP address
      operationId: IPProbe
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ip:
                  description: IPv4 or IPv6 address
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - ip
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPProbeResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: IP Probe
      tags:
        - Security and Networking
  /phone-playback:
    post:
      deprecated: false
      description: Make an automated call to any valid phone number and playback an
        audio message
      operationId: PhonePlayback
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                audio-url:
                  description: "A URL to a valid audio file. Accepted audio formats are: <ul>
                    <li>MP3</li> <li>WAV</li> <li>OGG</li> </ul>You can use the
                    following MP3 URL for testing:
                    https://www.neutrinoapi.com/test-files/test1.mp3"
                  type: string
                limit:
                  default: 0
                  description: Limit the total number of calls allowed to the supplied phone
                    number, if the limit is reached error code 14 will be
                    returned (the default is no limit)
                  format: int32
                  type: integer
                limit-ttl:
                  default: 1
                  description: Set the TTL in number of days that the 'limit' option will remember
                    a phone number (the default is 1 day and the maximum is 365
                    days)
                  format: int32
                  type: integer
                number:
                  description: The phone number to call. Must be in valid international format
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - number
                - audio-url
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhonePlaybackResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Phone Playback
      tags:
        - Telephony
  /phone-validate:
    post:
      deprecated: false
      description: Parse, validate and get location information about a phone number
      operationId: PhoneValidate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                country-code:
                  description: ISO 2-letter country code, assume numbers are based in this
                    country. If not set numbers are assumed to be in
                    international format (with or without the leading + sign)
                  type: string
                ip:
                  description: Pass in a users IP address and we will assume numbers are based in
                    the country of the IP address
                  type: string
                number:
                  description: A phone number. This can be in international format (E.164) or
                    local format. If passing local format you must also set
                    either the 'country-code' OR 'ip' options as well
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - number
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneValidateResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Phone Validate
      tags:
        - Data Tools
  /phone-verify:
    post:
      deprecated: false
      description: Make an automated call to any valid phone number and playback a
        unique security code
      operationId: PhoneVerify
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                code-length:
                  default: 6
                  description: The number of digits to use in the security code (between 4 and 12)
                  format: int32
                  type: integer
                country-code:
                  description: ISO 2-letter country code, assume numbers are based in this
                    country. If not set numbers are assumed to be in
                    international format (with or without the leading + sign)
                  type: string
                language-code:
                  default: en
                  description: "The language to playback the verification code in, available
                    languages are: <ul> <li>de - German</li> <li>en -
                    English</li> <li>es - Spanish</li> <li>fr - French</li>
                    <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru -
                    Russian</li> </ul>"
                  type: string
                limit:
                  default: 0
                  description: Limit the total number of calls allowed to the supplied phone
                    number, if the limit is reached error code 14 will be
                    returned (the default is no limit)
                  format: int32
                  type: integer
                limit-ttl:
                  default: 1
                  description: Set the TTL in number of days that the 'limit' option will remember
                    a phone number (the default is 1 day and the maximum is 365
                    days)
                  format: int32
                  type: integer
                number:
                  description: The phone number to send the verification code to
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                playback-delay:
                  default: 800
                  description: The delay in milliseconds between the playback of each security
                    code
                  format: int32
                  type: integer
                security-code:
                  description: Pass in your own security code. This is useful if you have
                    implemented TOTP or similar 2FA methods. If not set then we
                    will generate a secure random code
                  format: int32
                  type: integer
              required:
                - number
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneVerifyResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Phone Verify
      tags:
        - Telephony
  /qr-code:
    post:
      deprecated: false
      description: Generate a QR code as a PNG image
      operationId: QRCode
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                bg-color:
                  default: "#ffffff"
                  description: The QR code background color
                  type: string
                content:
                  description: The content to encode into the QR code (e.g. a URL or a phone
                    number)
                  type: string
                fg-color:
                  default: "#000000"
                  description: The QR code foreground color
                  type: string
                height:
                  default: 256
                  description: The height of the QR code (in px)
                  format: int32
                  type: integer
                width:
                  default: 256
                  description: The width of the QR code (in px)
                  format: int32
                  type: integer
              required:
                - content
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: QR Code
      tags:
        - Imaging
  /sms-message:
    post:
      deprecated: false
      description: Send a free-form message to any mobile device via SMS
      operationId: SMSMessage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                country-code:
                  description: ISO 2-letter country code, assume numbers are based in this
                    country. If not set numbers are assumed to be in
                    international format (with or without the leading + sign)
                  type: string
                limit:
                  default: 0
                  description: Limit the total number of SMS allowed to the supplied phone number,
                    if the limit is reached error code 14 will be returned (the
                    default is no limit)
                  format: int32
                  type: integer
                limit-ttl:
                  default: 1
                  description: Set the TTL in number of days that the 'limit' option will remember
                    a phone number (the default is 1 day and the maximum is 365
                    days)
                  format: int32
                  type: integer
                message:
                  description: The SMS message to send. Messages are truncated to a maximum of 150
                    characters for ASCII content OR 70 characters for UTF
                    content
                  type: string
                number:
                  description: The phone number to send a message to
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
              required:
                - number
                - message
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SMSMessageResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: SMS Message
      tags:
        - Telephony
  /sms-verify:
    post:
      deprecated: false
      description: Send a unique security code to any mobile device via SMS
      operationId: SMSVerify
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                code-length:
                  default: 5
                  description: The number of digits to use in the security code (must be between 4
                    and 12)
                  format: int32
                  type: integer
                country-code:
                  description: ISO 2-letter country code, assume numbers are based in this
                    country. If not set numbers are assumed to be in
                    international format (with or without the leading + sign)
                  type: string
                language-code:
                  default: en
                  description: "The language to send the verification code in, available languages
                    are: <ul> <li>de - German</li> <li>en - English</li> <li>es
                    - Spanish</li> <li>fr - French</li> <li>it - Italian</li>
                    <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>"
                  type: string
                limit:
                  default: 0
                  description: Limit the total number of SMS allowed to the supplied phone number,
                    if the limit is reached error code 14 will be returned (the
                    default is no limit)
                  format: int32
                  type: integer
                limit-ttl:
                  default: 1
                  description: Set the TTL in number of days that the 'limit' option will remember
                    a phone number (the default is 1 day and the maximum is 365
                    days)
                  format: int32
                  type: integer
                number:
                  description: The phone number to send a verification code to
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                security-code:
                  description: Pass in your own security code. This is useful if you have
                    implemented TOTP or similar 2FA methods. If not set then we
                    will generate a secure random code
                  format: int32
                  type: integer
              required:
                - number
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SMSVerifyResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: SMS Verify
      tags:
        - Telephony
  /url-info:
    post:
      deprecated: false
      description: Parse, analyze and retrieve content from the supplied URL
      operationId: URLInfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                fetch-content:
                  default: false
                  description: If this URL responds with html, text, json or xml then return the
                    response. This option is useful if you want to perform
                    further processing on the URL content (e.g. with the HTML
                    Extract or HTML Clean APIs)
                  type: boolean
                ignore-certificate-errors:
                  default: false
                  description: Ignore any TLS/SSL certificate errors and load the URL anyway
                  type: boolean
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                retry:
                  default: 0
                  description: If the request fails for any reason try again this many times
                  format: int32
                  type: integer
                timeout:
                  default: 60
                  description: Timeout in seconds. Give up if still trying to load the URL after
                    this number of seconds
                  format: int32
                  type: integer
                url:
                  description: The URL to probe
                  type: string
              required:
                - url
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/URLInfoResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: URL Info
      tags:
        - WWW
  /user-agent-info:
    post:
      deprecated: false
      description: Parse, validate and get detailed user-agent information from a user
        agent string
      operationId: UserAgentInfo
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                user-agent:
                  description: A user agent string
                  type: string
              required:
                - user-agent
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAgentInfoResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: User Agent Info
      tags:
        - Data Tools
  /verify-security-code:
    post:
      deprecated: false
      description: Check if a security code sent via SMS Verify or Phone Verify is valid
      operationId: VerifySecurityCode
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                limit-by:
                  description: If set then enable additional brute-force protection by limiting
                    the number of attempts by the supplied value. This can be
                    set to any unique identifier you would like to limit by, for
                    example a hash of the users email, phone number or IP
                    address. Requests to this API will be ignored after
                    approximately 10 failed verification attempts
                  type: string
                output-case:
                  description: The output case style
                  enum:
                    - camel
                  type: string
                security-code:
                  description: The security code to verify
                  type: string
              required:
                - security-code
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifySecurityCodeResponse"
          description: ""
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Your API request has been rejected. Check error code for details
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: You have failed to authenticate
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused a fatal exception
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: We messed up, sorry! Your request has caused an error
      summary: Verify Security Code
      tags:
        - Telephony
components:
  requestBodies:
    EmailValidate:
      content:
        application/x-www-form-urlencoded:
          schema:
            properties:
              email:
                description: An email address
                type: string
              fix-typos:
                default: false
                description: Automatically attempt to fix typos in the address
                type: boolean
              output-case:
                description: The output case style
                enum:
                  - camel
                type: string
            required:
              - email
            type: object
  schemas:
    APIError:
      properties:
        apiError:
          description: API error code. If set and > 0 then an API error has occurred your
            request could not be completed
          format: int32
          type: integer
        apiErrorMsg:
          description: API error message
          type: string
      required:
        - apiError
        - apiErrorMsg
      title: APIError
      type: object
    BINLookupResponse:
      properties:
        cardBrand:
          description: The card brand (e.g. Visa or Mastercard)
          type: string
        cardCategory:
          description: "The card category. There are many different card categories the
            most common card categories are: CLASSIC, BUSINESS, CORPORATE,
            PLATINUM, PREPAID"
          type: string
        cardType:
          description: "The card type, will always be one of: DEBIT, CREDIT, CHARGE CARD"
          type: string
        country:
          description: The full country name of the issuer
          type: string
        countryCode:
          description: The ISO 2-letter country code of the issuer
          type: string
        countryCode3:
          description: The ISO 3-letter country code of the issuer
          type: string
        currencyCode:
          description: ISO 4217 currency code associated with the country of the issuer
          type: string
        ipBlocklisted:
          description: True if the customers IP is listed on one of our blocklists, see
            the <a href="http://www.neutrinoapi.com/api/ip-blocklist/">IP
            Blocklist API</a>
          type: boolean
        ipBlocklists:
          description: An array of strings indicating which blocklists this IP is listed on
          items:
            type: string
          type: array
        ipCity:
          description: The city of the customers IP (if detectable)
          type: string
        ipCountry:
          description: The country of the customers IP
          type: string
        ipCountryCode:
          description: The ISO 2-letter country code of the customers IP
          type: string
        ipCountryCode3:
          description: The ISO 3-letter country code of the customers IP
          type: string
        ipMatchesBin:
          description: True if the customers IP country matches the BIN country
          type: boolean
        ipRegion:
          description: The region of the customers IP (if detectable)
          type: string
        isCommercial:
          description: Is this a commercial/business use card
          type: boolean
        isPrepaid:
          description: Is this a prepaid or prepaid reloadable card
          type: boolean
        issuer:
          description: The card issuer
          type: string
        issuerPhone:
          description: The card issuers phone number
          type: string
        issuerWebsite:
          description: The card issuers website
          type: string
        valid:
          description: Is this a valid BIN or IIN number
          type: boolean
      required:
        - country
        - ipCity
        - ipMatchesBin
        - cardType
        - cardCategory
        - ipCountryCode
        - ipCountry
        - issuer
        - ipBlocklisted
        - valid
        - ipBlocklists
        - issuerWebsite
        - countryCode
        - ipRegion
        - cardBrand
        - issuerPhone
        - countryCode3
        - currencyCode
        - ipCountryCode3
        - isCommercial
        - isPrepaid
      title: BINLookupResponse
      type: object
    BadWordFilterResponse:
      properties:
        badWordsList:
          description: An array of the bad words found
          items:
            type: string
          type: array
        badWordsTotal:
          description: Total number of bad words detected
          format: int32
          type: integer
        censoredContent:
          description: The censored content (only set if censor-character has been set)
          type: string
        isBad:
          description: Does the text contain bad words
          type: boolean
      required:
        - badWordsList
        - badWordsTotal
        - censoredContent
        - isBad
      title: BadWordFilterResponse
      type: object
    Blacklist:
      properties:
        isListed:
          description: true if listed, false if not
          type: boolean
        listHost:
          description: the domain/hostname of the DNSBL
          type: string
        listName:
          description: the name of the DNSBL
          type: string
        listRating:
          description: the list rating [1-3] with 1 being the best rating and 3 the lowest
            rating
          format: int32
          type: integer
        responseTime:
          description: the DNSBL server response time in milliseconds
          format: int32
          type: integer
        returnCode:
          description: the specific return code for this listing (if listed)
          type: string
        txtRecord:
          description: the TXT record returned for this listing (if listed)
          type: string
      required:
        - isListed
        - listHost
        - listRating
        - listName
        - txtRecord
        - returnCode
        - responseTime
      title: Blacklist
      type: object
    BrowserBotResponse:
      properties:
        content:
          description: The complete raw, decompressed and decoded page content. Usually
            will be either HTML, JSON or XML
          type: string
        elements:
          description: Array containing all the elements matching the supplied selector.
            Each element object will contain the text content, HTML content and
            all current element attributes
          items:
            type: string
          type: array
        errorMessage:
          description: Contains the error message if an error has occurred ('is-error'
            will be true)
          type: string
        execResults:
          description: If you executed any JavaScript this array holds the results as
            objects
          items:
            type: string
          type: array
        httpRedirectUrl:
          description: The redirected URL if the URL responded with an HTTP redirect
          type: string
        httpStatusCode:
          description: The HTTP status code the URL returned
          format: int32
          type: integer
        httpStatusMessage:
          description: The HTTP status message the URL returned
          type: string
        isError:
          description: True if an error has occurred loading the page. Check the
            'error-message' field for details
          type: boolean
        isHttpOk:
          description: True if the HTTP status is OK (200)
          type: boolean
        isHttpRedirect:
          description: True if the URL responded with an HTTP redirect
          type: boolean
        isSecure:
          description: True if the page is secured using TLS/SSL
          type: boolean
        isTimeout:
          description: True if a timeout occurred while loading the page. You can set the
            timeout with the request parameter 'timeout'
          type: boolean
        languageCode:
          description: The ISO 2-letter language code of the page. Extracted from either
            the HTML document or via HTTP headers
          type: string
        loadTime:
          description: The number of seconds taken to load the page (from initial request
            until DOM ready)
          format: int32
          type: integer
        mimeType:
          description: The document MIME type
          type: string
        responseHeaders:
          additionalProperties:
            type: string
          description: Map containing all the HTTP response headers the URL responded with
          type: object
        securityDetails:
          additionalProperties:
            type: string
          description: Map containing details of the TLS/SSL setup
          type: object
        serverIp:
          description: The HTTP servers IP address
          type: string
        title:
          description: The document title
          type: string
        url:
          description: The page URL
          type: string
      required:
        - url
        - content
        - mimeType
        - title
        - isError
        - isTimeout
        - errorMessage
        - httpStatusCode
        - httpStatusMessage
        - isHttpOk
        - isHttpRedirect
        - httpRedirectUrl
        - serverIp
        - loadTime
        - responseHeaders
        - isSecure
        - securityDetails
        - elements
        - execResults
        - languageCode
      title: BrowserBotResponse
      type: object
    ConvertResponse:
      properties:
        fromType:
          description: The type of the value being converted from
          type: string
        fromValue:
          description: The value being converted from
          type: string
        result:
          description: The result of the conversion in string format
          type: string
        resultFloat:
          description: The result of the conversion as a floating-point number
          format: int32
          type: integer
        toType:
          description: The type being converted to
          type: string
        valid:
          description: True if the coversion was successful and produced a valid result
          type: boolean
      required:
        - valid
        - result
        - fromValue
        - toType
        - fromType
        - resultFloat
      title: ConvertResponse
      type: object
    EmailValidateResponse:
      properties:
        domain:
          description: The email domain
          type: string
        domainError:
          description: True if this address has a domain error (e.g. no valid mail server
            records)
          type: boolean
        email:
          description: The email address. If you have used the fix-typos option then this
            will be the fixed address
          type: string
        isDisposable:
          description: True if this address is a disposable, temporary or darknet related
            email address
          type: boolean
        isFreemail:
          description: True if this address is a free-mail address
          type: boolean
        isPersonal:
          description: True if this address belongs to a person. False if this is a role
            based address, e.g. admin@, help@, office@, etc.
          type: boolean
        provider:
          description: The email service provider domain
          type: string
        syntaxError:
          description: True if this address has a syntax error
          type: boolean
        typosFixed:
          description: True if typos have been fixed
          type: boolean
        valid:
          description: Is this a valid email
          type: boolean
      required:
        - valid
        - syntaxError
        - domain
        - domainError
        - isFreemail
        - email
        - isDisposable
        - typosFixed
        - isPersonal
        - provider
      title: EmailValidateResponse
      type: object
    EmailVerifyResponse:
      properties:
        domain:
          description: The email domain
          type: string
        domainError:
          description: True if this address has a domain error (e.g. no valid mail server
            records)
          type: boolean
        email:
          description: The email address. If you have used the fix-typos option then this
            will be the fixed address
          type: string
        isCatchAll:
          description: True if this email domain has a catch-all policy (it will accept
            mail for any username)
          type: boolean
        isDeferred:
          description: True if the mail server responded with a temporary failure (either
            a 4xx response code or unresponsive server). You can retry this
            address later, we recommend waiting at least 15 minutes before
            retrying
          type: boolean
        isDisposable:
          description: True if this address is a disposable, temporary or darknet related
            email address
          type: boolean
        isFreemail:
          description: True if this address is a free-mail address
          type: boolean
        isPersonal:
          description: True if this address is for a person. False if this is a role based
            address, e.g. admin@, help@, office@, etc.
          type: boolean
        provider:
          description: The email service provider domain
          type: string
        smtpResponse:
          description: The raw SMTP response message received during verification
          type: string
        smtpStatus:
          description: "The SMTP verification status for the address: <ul> <li>ok - SMTP
            verification was successful, this is a real address that can receive
            mail</li> <li>invalid - this is not a valid email address (has
            either a domain or syntax error)</li> <li>absent - this address is
            not registered with the email service provider</li> <li>unresponsive
            - the mail server(s) for this address timed-out or refused to open
            an SMTP connection</li> <li>unknown - sorry, we could not reliably
            determine the real status of this address (this address may or may
            not exist)</li> </ul>"
          type: string
        syntaxError:
          description: True if this address has a syntax error
          type: boolean
        typosFixed:
          description: True if typos have been fixed
          type: boolean
        valid:
          description: Is this a valid email address (syntax and domain is valid)
          type: boolean
        verified:
          description: True if this address has passed SMTP verification. Check the
            smtp-status and smtp-response fields for specific verification
            details
          type: boolean
      required:
        - valid
        - verified
        - email
        - typosFixed
        - syntaxError
        - domainError
        - domain
        - provider
        - isFreemail
        - isDisposable
        - isPersonal
        - smtpStatus
        - smtpResponse
        - isCatchAll
        - isDeferred
      title: EmailVerifyResponse
      type: object
    GeocodeAddressResponse:
      properties:
        found:
          description: The number of possible matching locations found
          format: int32
          type: integer
        locations:
          description: Array of matching location objects
          items:
            $ref: "#/components/schemas/Location"
          type: array
      required:
        - found
        - locations
      title: GeocodeAddressResponse
      type: object
    GeocodeReverseResponse:
      properties:
        address:
          description: The fully formatted address
          type: string
        addressComponents:
          additionalProperties:
            type: string
          description: The components which make up the address such as road, city, state,
            etc
          type: object
        city:
          description: The city of the location
          type: string
        country:
          description: The country of the location
          type: string
        countryCode:
          description: The ISO 2-letter country code of the location
          type: string
        countryCode3:
          description: The ISO 3-letter country code of the location
          type: string
        currencyCode:
          description: ISO 4217 currency code associated with the country
          type: string
        found:
          description: True if these coordinates map to a real location
          type: boolean
        latitude:
          description: The location latitude
          format: int32
          type: integer
        locationTags:
          description: "Array of strings containing any location tags associated with the
            address. Tags are additional pieces of metadata about a specific
            location, there are thousands of different tags. Some examples of
            tags: shop, office, cafe, bank, pub"
          items:
            type: string
          type: array
        locationType:
          description: "The detected location type ordered roughly from most to least
            precise, possible values are: <ul> <li>address - indicates a precise
            street address</li> <li>street - accurate to the street level but
            may not point to the exact location of the house/building
            number</li> <li>city - accurate to the city level, this includes
            villages, towns, suburbs, etc</li> <li>postal-code - indicates a
            postal code area (no house or street information present)</li>
            <li>railway - location is part of a rail network such as a station
            or railway track</li> <li>natural - indicates a natural feature, for
            example a mountain peak or a waterway</li> <li>island - location is
            an island or archipelago</li> <li>administrative - indicates an
            administrative boundary such as a country, state or province</li>
            </ul>"
          type: string
        longitude:
          description: The location longitude
          format: int32
          type: integer
        postalCode:
          description: The postal code for the location
          type: string
        state:
          description: The state of the location
          type: string
        timezone:
          additionalProperties:
            type: string
          description: "Map containing timezone details for the location: <ul> <li>id -
            the time zone ID as per the IANA time zone database (tzdata)</li>
            <li>name - the time zone name</li> <li>abbr - the time zone
            abbreviation</li> <li>date - the current date within the time zone
            (ISO format)</li> <li>time - the current time within the time zone
            (ISO format)</li> </ul>"
          type: object
      required:
        - country
        - found
        - address
        - city
        - countryCode
        - postalCode
        - state
        - addressComponents
        - countryCode3
        - currencyCode
        - locationType
        - locationTags
        - latitude
        - longitude
        - timezone
      title: GeocodeReverseResponse
      type: object
    HLRLookupResponse:
      properties:
        country:
          description: The phone number country
          type: string
        countryCode:
          description: The number location as an ISO 2-letter country code
          type: string
        countryCode3:
          description: The number location as an ISO 3-letter country code
          type: string
        currencyCode:
          description: ISO 4217 currency code associated with the country
          type: string
        currentNetwork:
          description: The currently used network/carrier name
          type: string
        hlrStatus:
          description: "The HLR lookup status, possible values are: <ul> <li>ok - the HLR
            lookup was successful and the device is connected</li> <li>absent -
            the number was once registered but the device has been switched off
            or out of network range for some time</li> <li>unknown - the number
            is not known by the mobile network</li> <li>invalid - the number is
            not a valid mobile MSISDN number</li> <li>fixed-line - the number is
            a registered fixed-line not mobile</li> <li>voip - the number has
            been detected as a VOIP line</li> <li>failed - the HLR lookup has
            failed, we could not determine the real status of this number</li>
            </ul>"
          type: string
        hlrValid:
          description: Was the HLR lookup successful. If true then this is a working and
            registered cell-phone or mobile device (SMS and phone calls will be
            delivered)
          type: boolean
        imsi:
          description: The mobile IMSI number (International Mobile Subscriber Identity)
          type: string
        internationalCallingCode:
          description: The numbers international calling code
          format: int32
          type: integer
        internationalNumber:
          description: The number represented in full international format
          type: string
        isMobile:
          description: True if this is a mobile number (only true with 100% certainty, if
            the number type is unknown this value will be false)
          type: boolean
        isPorted:
          description: Has this number been ported to another network
          type: boolean
        isRoaming:
          description: Is this number currently roaming from its origin country
          type: boolean
        localNumber:
          description: The number represented in local dialing format
          type: string
        location:
          description: The number location. Could be a city, region or country depending
            on the type of number
          type: string
        mcc:
          description: The mobile MCC number (Mobile Country Code)
          type: string
        mnc:
          description: The mobile MNC number (Mobile Network Code)
          type: string
        msc:
          description: The mobile MSC number (Mobile Switching Center)
          type: string
        msin:
          description: The mobile MSIN number (Mobile Subscription Identification Number)
[...]
