swagger: '2.0'
schemes:
  - https
host: api.api2cart.com
basePath: /v1.1
info:
  contact:
    email: contact@api2cart.com
    x-twitter: API2Cart
  description: API2Cart
  termsOfService: 'https://api2cart.com/terms-service'
  title: Swagger API2Cart
  version: 1.0.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://twitter.com/API2Cart/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://app.api2cart.com/default/index/swagger-json'
      version: '2.0'
  x-providerName: api2cart.com
externalDocs:
  description: Find out more about API2Cart
  url: 'http://docs.api2cart.com'
produces:
  - application/json
securityDefinitions:
  api_key:
    in: query
    name: api_key
    type: apiKey
  store_key:
    in: query
    name: store_key
    type: apiKey
tags:
  - name: account
  - name: cart
  - name: product
  - name: category
  - name: order
  - name: customer
  - name: attribute
  - name: tax
  - name: webhook
paths:
  /account.cart.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of carts.
      operationId: AccountCartList
      parameters:
        - default: 'id,url,store_key,cart_id,requests_count'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieve entities from their creation date
          in: query
          name: request_from_date
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: request_to_date
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  carts:
                    items:
                      properties:
                        cart_id:
                          type: string
                        id:
                          type: string
                        store_key:
                          type: string
                        total_calls:
                          type: string
                        url:
                          type: string
                      type: object
                    type: array
                  carts_count:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
      tags:
        - account
  /account.config.update.json:
    put:
      consumes:
        - application/x-www-form-urlencoded
      description: Update configs in the API2Cart database.
      operationId: AccountConfigUpdate
      parameters:
        - description: 'This parameter is deprecated for this method. Please, use this parameter in method account.config.update'
          in: query
          name: db_tables_prefix
          required: false
          type: string
        - description: Client ID of the requesting app.
          in: query
          name: client_id
          required: false
          type: string
        - description: This parameter allows to set up store with custom bridge url (you must use store_root parameter if a bridge folder is not in the root folder of the store)
          in: query
          name: bridge_url
          required: false
          type: string
        - description: Absolute path to the store root directory (used with "bridge_url" parameter)
          in: query
          name: store_root
          required: false
          type: string
        - description: Shared secret
          in: query
          name: shared_secret
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  updated_items:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - account
  /account.failed_webhooks.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: List webhooks that was not delivered to the callback.
      operationId: AccountFailedWebhooks
      parameters:
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - description: List of сomma-separated webhook ids
          in: query
          name: ids
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  all_failed_webhook:
                    type: string
                  webhook:
                    items:
                      properties:
                        entity_id:
                          type: string
                        time:
                          $ref: '#/definitions/DateTime'
                        webhook_id:
                          type: integer
                      type: object
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
      tags:
        - account
  /attribute.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Add new attribute
      operationId: AttributeAdd
      parameters:
        - description: Defines attribute's type
          enum:
            - text
            - select
            - textarea
            - date
            - price
            - multiselect
            - boolean
          in: query
          name: type
          required: true
          type: string
        - description: Defines attributes's name
          in: query
          name: name
          required: true
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          type: integer
        - default: false
          description: Set visibility status
          in: query
          name: visible
          required: false
          type: boolean
        - default: false
          description: Defines if the option is required
          in: query
          name: required
          required: false
          type: boolean
        - default: 0
          description: Attribute`s position
          in: query
          name: position
          required: false
          type: integer
        - default: Store
          description: Attribute saving scope
          enum:
            - Global
            - Store
            - Website
          in: query
          name: is_global
          required: false
          type: string
        - default: false
          description: Use attribute in Quick Search
          in: query
          name: is_searchable
          required: false
          type: boolean
        - default: 'No'
          description: Use In Layered Navigation
          enum:
            - Filterable (with results)
            - Filterable (no results)
            - 'No'
          in: query
          name: is_filterable
          required: false
          type: string
        - default: false
          description: Comparable on Front-end
          in: query
          name: is_comparable
          required: false
          type: boolean
        - default: false
          description: Allow HTML Tags on Frontend
          in: query
          name: is_html_allowed_on_front
          required: false
          type: boolean
        - default: false
          description: Use In Search Results Layered Navigation
          in: query
          name: is_filterable_in_search
          required: false
          type: boolean
        - default: false
          description: Use To Create Configurable Product
          in: query
          name: is_configurable
          required: false
          type: boolean
        - default: false
          description: Use in Advanced Search
          in: query
          name: is_visible_in_advanced_search
          required: false
          type: boolean
        - default: false
          description: Use for Promo Rule Conditions
          in: query
          name: is_used_for_promo_rules
          required: false
          type: boolean
        - default: false
          description: Used in Product Listing
          in: query
          name: used_in_product_listing
          required: false
          type: boolean
        - default: false
          description: Used for Sorting in Product Listing
          in: query
          name: used_for_sort_by
          required: false
          type: boolean
        - default: all_types
          description: Types of products which can have this attribute
          enum:
            - simple
            - configurable
            - virtual
            - bundle
            - downloadable
            - all_types
          in: query
          name: apply_to
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  id:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.assign.group.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Assign attribute to the group
      operationId: AttributeAssignGroup
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
        - description: Attribute group_id
          in: query
          name: group_id
          required: true
          type: integer
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  assigned:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.assign.set.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Assign attribute to the attribute set
      operationId: AttributeAssignSet
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
        - description: Attribute group_id
          in: query
          name: group_id
          required: false
          type: integer
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  assigned:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.attributeset.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get attribute_set list
      operationId: AttributeAttributesetList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: 'id,name'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                items:
                  $ref: '#/definitions/StoreAttribute_Group'
                type: array
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get attributes count
      operationId: AttributeCount
      parameters:
        - description: Defines attribute's type
          enum:
            - text
            - select
            - textarea
            - date
            - price
            - multiselect
            - boolean
          in: query
          name: type
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          type: integer
        - description: Filter items by visibility status
          in: query
          name: visible
          required: false
          type: boolean
        - description: Defines if the option is required
          in: query
          name: required
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  attributes_count:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.delete.json:
    delete:
      consumes:
        - application/x-www-form-urlencoded
      description: Delete attribute from store
      operationId: AttributeDelete
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  deleted:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.group.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get attribute group list
      operationId: AttributeGroupList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: 'id,name'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                items:
                  $ref: '#/definitions/StoreAttribute_Group'
                type: array
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.info.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get attribute info
      operationId: AttributeInfo
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Language id
          in: query
          name: lang_id
          required: false
          type: integer
        - default: force_all
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                $ref: '#/definitions/StoreAttribute'
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get attributes list
      operationId: AttributeList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - description: Defines attribute's type
          enum:
            - text
            - select
            - textarea
            - date
            - price
            - multiselect
            - boolean
          in: query
          name: type
          required: false
          type: string
        - description: Filter attributes by ids
          in: query
          name: attribute_ids
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Retrieves attributes on specified language id
          in: query
          name: lang_id
          required: false
          type: integer
        - default: 'id,name'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Filter items by visibility status
          in: query
          name: visible
          required: false
          type: boolean
        - description: Defines if the option is required
          in: query
          name: required
          required: false
          type: boolean
        - description: True if attribute is system
          in: query
          name: system
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order:
                    items:
                      $ref: '#/definitions/StoreAttribute'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.type.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of supported attributes types
      operationId: AttributeTypeList
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  attribute_type:
                    items:
                      type: string
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.unassign.group.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Unassign attribute from group
      operationId: AttributeUnassignGroup
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
        - description: Customer group_id
          in: query
          name: group_id
          required: true
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  unassigned:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /attribute.unassign.set.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Unassign attribute from attribute set
      operationId: AttributeUnassignSet
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
        - description: Attribute set id
          in: query
          name: attribute_set_id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  unassigned:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - attribute
  /basket.item.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Add item to basket
      operationId: BasketItemAdd
      parameters:
        - description: Retrieves orders specified by customer id
          in: query
          name: customer_id
          required: true
          type: string
        - description: Defines id of the product which should be added to the basket
          in: query
          name: product_id
          required: true
          type: string
        - description: Defines product's variants specified by variant id
          in: query
          name: variant_id
          required: false
          type: string
        - default: 0
          description: Defines new items quantity
          in: query
          name: quantity
          required: false
          type: number
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  added:
                    type: boolean
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - basket
  /bridge.delete.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Delete bridge from the store.
      operationId: BridgeDelete
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  deleted:
                    type: boolean
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - bridge
  /bridge.download.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Download bridge for store
      operationId: BridgeDownload
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /bridge.update.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Update bridge in the store.
      operationId: BridgeUpdate
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  updated:
                    type: boolean
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - bridge
  /cart.bridge.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get bridge key and store key
      operationId: CartBridge
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  bridge:
                    type: string
                  store_key:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
      tags:
        - cart
  /cart.clear_cache.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Clear cache on store.
      operationId: CartClearCache
      parameters:
        - description: Defines which cache should be cleared.
          in: query
          name: cache_type
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  cache_cleared:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.config.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of cart configs
      operationId: CartConfig
      parameters:
        - default: 'store_name,store_url,db_prefix'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  db_prefix:
                    type: string
                  store_name:
                    type: string
                  store_url:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.config.update.json:
    put:
      consumes:
        - application/json
      deprecated: true
      description: Use this API method to update custom data in client database.
      operationId: CartConfigUpdate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CartConfigUpdate'
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Create new coupon
      operationId: CartCouponAdd
      parameters:
        - description: Coupon code
          in: query
          name: code
          required: true
          type: string
        - description: Coupon discount type
          enum:
            - percent
            - fixed
          in: query
          name: action_type
          required: true
          type: string
        - description: Defines where discount should be applied
          enum:
            - order_total
            - item_price
            - shipping
          in: query
          name: action_apply_to
          required: true
          type: string
        - description: 'Specify how discount should be applied. If scope=matching_items, then discount will be applied to each of the items that match action conditions. Scope order means that discount will be applied once.'
          enum:
            - order
            - matching_items
          in: query
          name: action_scope
          required: true
          type: string
        - description: Defines the discount amount value.
          in: query
          name: action_amount
          required: true
          type: number
        - default: Current date and time
          description: Defines when discount code will be available.
          in: query
          name: date_start
          required: false
          type: string
        - description: Defines when discount code will be expired.
          in: query
          name: date_end
          required: false
          type: string
        - description: Usage limit for coupon.
          in: query
          name: usage_limit
          required: false
          type: integer
        - description: Usage limit per customer.
          in: query
          name: usage_limit_per_customer
          required: false
          type: integer
        - description: Defines entity for action condition.
          enum:
            - order
            - order_shipping_address
            - product
            - customer
          in: query
          name: action_condition_entity
          required: false
          type: string
        - description: Defines entity attribute code for action condition.
          enum:
            - product_id
            - category_id
            - variant_id
            - country
          in: query
          name: action_condition_key
          required: false
          type: string
        - description: Defines condition operator.
          enum:
            - ONE_OF
            - ==
          in: query
          name: action_condition_operator
          required: false
          type: string
        - description: Defines condition attribute value/s. Can be comma separated string.
          in: query
          name: action_condition_value
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  coupon_id:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get cart coupons count.
      operationId: CartCouponCount
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Filter entity by date_start (greater or equal)
          in: query
          name: date_start_from
          required: false
          type: string
        - description: Filter entity by date_start (less or equal)
          in: query
          name: date_start_to
          required: false
          type: string
        - description: Filter entity by date_end (greater or equal)
          in: query
          name: date_end_from
          required: false
          type: string
        - description: Filter entity by date_end (less or equal)
          in: query
          name: date_end_to
          required: false
          type: string
        - default: true
          description: Defines category's visibility status
          in: query
          name: avail
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  coupons_count:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.delete.json:
    delete:
      consumes:
        - application/x-www-form-urlencoded
      description: Delete coupon
      operationId: CartCouponDelete
      parameters:
        - description: Entity id
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  deleted:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.coupon.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get cart coupon discounts.
      operationId: CartCouponList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved. Max allowed count=250
          in: query
          name: count
          required: false
          type: integer
        - description: Filter coupons by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: Filter entity by date_start (greater or equal)
          in: query
          name: date_start_from
          required: false
          type: string
        - description: Filter entity by date_start (less or equal)
          in: query
          name: date_start_to
          required: false
          type: string
        - description: Filter entity by date_end (greater or equal)
          in: query
          name: date_end_from
          required: false
          type: string
        - description: Filter entity by date_end (less or equal)
          in: query
          name: date_end_to
          required: false
          type: string
        - description: Filter coupons by avail status
          in: query
          name: avail
          required: false
          type: boolean
        - description: Language id
          in: query
          name: lang_id
          required: false
          type: integer
        - default: force_all
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  coupon:
                    items:
                      $ref: '#/definitions/Coupon'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.create.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Add store to the account
      operationId: CartCreate
      parameters:
        - description: Store’s identifier which you can get from cart_list method
          in: query
          name: cart_id
          required: true
          type: string
        - description: A web address of a store that you would like to connect to API2Cart
          in: query
          name: store_url
          required: true
          type: string
        - description: This parameter allows to set up store with custom bridge url (you must use store_root parameter if a bridge folder is not in the root folder of the store)
          in: query
          name: bridge_url
          required: false
          type: string
        - description: Absolute path to the store root directory (used with "bridge_url" parameter)
          in: query
          name: store_root
          required: false
          type: string
        - description: Set this parameter if bridge is already uploaded to store
          in: query
          name: store_key
          required: false
          type: string
        - description: Shared secret
          in: query
          name: shared_secret
          required: false
          type: string
        - default: false
          description: Specify if api2cart should validate cart version
          in: query
          name: validate_version
          required: false
          type: boolean
        - default: true
          description: Enables or disables cart's verification
          in: query
          name: verify
          required: false
          type: boolean
        - description: 'This parameter is deprecated for this method. Please, use this parameter in method account.config.update'
          in: query
          name: db_tables_prefix
          required: false
          type: string
        - description: FTP connection host
          in: query
          name: ftp_host
          required: false
          type: string
        - description: FTP User
          in: query
          name: ftp_user
          required: false
          type: string
        - description: FTP Password
          in: query
          name: ftp_password
          required: false
          type: string
        - description: FTP Port
          in: query
          name: ftp_port
          required: false
          type: integer
        - description: FTP Store dir
          in: query
          name: ftp_store_dir
          required: false
          type: string
        - description: 3DCart API Key
          in: query
          name: apiKey_3dcart
          required: false
          type: string
        - description: It's a BigCommerce account for which API is enabled
          in: query
          name: AdminAccount
          required: false
          type: string
        - description: BigCommerce API URL
          in: query
          name: ApiPath
          required: false
          type: string
        - description: Bigcommerce API Key
          in: query
          name: ApiKey
          required: false
          type: string
        - description: Client ID of the requesting app.
          in: query
          name: client_id
          required: false
          type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: accessToken
          required: false
          type: string
        - description: Access token authorizing the app to access resources on behalf of a user
          in: query
          name: access_token
          required: false
          type: string
        - description: Shopify API Key
          in: query
          name: apiKey_shopify
          required: false
          type: string
        - description: Shopify API Password
          in: query
          name: apiPassword
          required: false
          type: string
        - description: Volusion API Password
          in: query
          name: EncryptedPassword
          required: false
          type: string
        - description: It's a Volusion account for which API is enabled
          in: query
          name: Login
          required: false
          type: string
        - description: It's a AspDotNetStorefront account for which API is available
          in: query
          name: apiUser_adnsf
          required: false
          type: string
        - description: AspDotNetStorefront API Password
          in: query
          name: apiPass
          required: false
          type: string
        - description: Shopping Cart Elite Access Key
          in: query
          name: accessKey_scelite
          required: false
          type: string
        - description: Shopping Cart Elite API Key
          in: query
          name: apiKey_scelite
          required: false
          type: string
        - description: Shopping Cart Elite API Secret Key
          in: query
          name: apiSecretKey_scelite
          required: false
          type: string
        - description: 3DCart Application Private Key
          in: query
          name: privateKey
          required: false
          type: string
        - description: 3DCart Token from Application
          in: query
          name: appToken
          required: false
          type: string
        - description: Etsy keystring
          in: query
          name: etsy_keystring
          required: false
          type: string
        - description: Etsy shared secret
          in: query
          name: etsy_shared_secret
          required: false
          type: string
        - description: Secret token authorizing the app to access resources on behalf of a user
          in: query
          name: tokenSecret
          required: false
          type: string
        - description: Application ID (AppID).
          in: query
          name: ebay_client_id
          required: false
          type: string
        - description: Shared Secret from eBay application
          in: query
          name: ebay_client_secret
          required: false
          type: string
        - description: The RuName value that eBay assigns to your application.
          in: query
          name: ebay_runame
          required: false
          type: string
        - description: Used to authenticate API requests.
          in: query
          name: ebay_access_token
          required: false
          type: string
        - description: Used to renew the access token.
          in: query
          name: ebay_refresh_token
          required: false
          type: string
        - default: production
          description: ''
          enum:
            - production
            - sandbox
          in: query
          name: ebay_environment
          required: false
          type: string
        - description: Demandware client id
          in: query
          name: dw_client_id
          required: false
          type: string
        - description: Demandware api password
          in: query
          name: dw_api_pass
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Seller Id
          in: query
          name: seller_id
          required: true
          type: string
        - description: Comma separated marketplaces ids
          in: query
          name: marketplaces_ids
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  store_key:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
      tags:
        - cart
  /cart.delete.json:
    delete:
      consumes:
        - application/x-www-form-urlencoded
      description: Remove store from API2Cart
      operationId: CartDelete
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  store:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.disconnect.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Disconnect with the store and clear store session data.
      operationId: CartDisconnect
      parameters:
        - default: false
          description: Identifies if there is a necessity to delete bridge
          in: query
          name: delete_bridge
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  connection:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Create new gift card
      operationId: CartGiftcardAdd
      parameters:
        - description: Defines the gift card amount value.
          in: query
          name: amount
          required: true
          type: number
        - description: Gift card code
          in: query
          name: code
          required: false
          type: string
        - description: Gift card owner email
          in: query
          name: owner_email
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  code:
                    type: string
                  id:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get gift cards count.
      operationId: CartGiftcardCount
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  gift_cards_count:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.giftcard.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get gift cards list.
      operationId: CartGiftcardList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - default: force_all
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  gift_card:
                    items:
                      $ref: '#/definitions/GiftCard'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.info.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get cart information
      operationId: CartInfo
      parameters:
        - default: 'store_name,store_url,db_prefix'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                $ref: '#/definitions/Cart'
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of supported carts
      operationId: CartList
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  supported_carts:
                    items:
                      properties:
                        cart_id:
                          type: string
                        cart_name:
                          type: string
                        cart_versions:
                          type: string
                        params:
                          items:
                            type: string
                          type: array
                      type: object
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
      tags:
        - cart
  /cart.methods.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of cart methods
      operationId: CartMethods
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  method:
                    items:
                      type: string
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.plugin.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of installed plugins
      operationId: CartPluginList
      parameters:
        - description: Set this parameter if bridge is already uploaded to store
          in: query
          name: store_key
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  all_plugins:
                    type: integer
                  plugins:
                    items:
                      $ref: '#/definitions/PluginList'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /cart.validate.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Check store availability, bridge connection for the downloadable carts, identify DB prefix, validate API accesses for API carts.'
      operationId: CartValidate
      parameters:
        - default: false
          description: Specify if api2cart should validate cart version
          in: query
          name: validate_version
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  status:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - cart
  /category.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Add new category in store
      operationId: CategoryAdd
      parameters:
        - description: Defines category's name that has to be added
          in: query
          name: name
          required: true
          type: string
        - description: Adds categories specified by parent id
          in: query
          name: parent_id
          required: false
          type: string
        - default: '0'
          description: Create category in the stores that is specified by comma-separated stores' id
          in: query
          name: stores_ids
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - default: true
          description: Defines category's visibility status
          in: query
          name: avail
          required: false
          type: boolean
        - default: 0
          description: Sort number in the list
          in: query
          name: sort_order
          required: false
          type: integer
        - description: Entity's date creation
          in: query
          name: created_time
          required: false
          type: string
        - description: Entity's date modification
          in: query
          name: modified_time
          required: false
          type: string
        - description: Defines category's description
          in: query
          name: description
          required: false
          type: string
        - description: Defines unique meta title for each entity
          in: query
          name: meta_title
          required: false
          type: string
        - description: Defines unique meta description of a entity
          in: query
          name: meta_description
          required: false
          type: string
        - description: Defines unique meta keywords for each entity
          in: query
          name: meta_keywords
          required: false
          type: string
        - description: Defines unique category's URL for SEO
          in: query
          name: seo_url
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  category_id:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.assign.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Assign category to product
      operationId: CategoryAssign
      parameters:
        - description: 'Defines category assign to the product, specified by product id'
          in: query
          name: product_id
          required: true
          type: string
        - description: 'Defines category assign, specified by category id'
          in: query
          name: category_id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Count categories in store.
      operationId: CategoryCount
      parameters:
        - description: Counts categories specified by parent id
          in: query
          name: parent_id
          required: false
          type: string
        - description: Counts category specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: Counts category specified by language id
          in: query
          name: lang_id
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  categories_count:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.delete.json:
    delete:
      consumes:
        - application/x-www-form-urlencoded
      description: Delete category in store
      operationId: CategoryDelete
      parameters:
        - description: 'Defines category removal, specified by category id'
          in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  deleted:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.find.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Search category in store. "Laptop" is specified here by default.
      operationId: CategoryFind
      parameters:
        - description: Entity search that is specified by some value
          in: query
          name: find_value
          required: true
          type: string
        - default: name
          description: Entity search that is specified by the comma-separated unique fields
          enum:
            - name
            - description
          in: query
          name: find_where
          required: false
          type: string
        - default: whole_words
          description: Entity search that is specified by comma-separated parameters
          enum:
            - regex
            - case_sensitive
            - whole_words
          in: query
          name: find_params
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  category:
                    items:
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.image.add.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Add image to category
      operationId: CategoryImageAdd
      parameters:
        - description: Defines category id where the image should be added
          in: query
          name: category_id
          required: true
          type: string
        - description: Defines image's name
          in: query
          name: image_name
          required: true
          type: string
        - description: Defines URL of the image that has to be added
          in: query
          name: url
          required: true
          type: string
        - description: Defines alternative text that has to be attached to the picture
          in: query
          name: label
          required: false
          type: string
        - description: 'Mime type of image http://en.wikipedia.org/wiki/Internet_media_type.'
          in: query
          name: mime
          required: false
          type: string
        - description: Defines image's types that are specified by comma-separated list
          enum:
            - base
            - thumbnail
          in: query
          name: type
          required: true
          type: string
        - default: 0
          description: Defines image’s position in the list
          in: query
          name: position
          required: false
          type: integer
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  image_path:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.image.delete.json:
    delete:
      consumes:
        - application/x-www-form-urlencoded
      description: Delete image
      operationId: CategoryImageDelete
      parameters:
        - description: Defines category id where the image should be deleted
          in: query
          name: category_id
          required: true
          type: string
        - description: Define image id
          in: query
          name: image_id
          required: true
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  deleted:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.info.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get category info about category ID*** or specify other category ID.
      operationId: CategoryInfo
      parameters:
        - description: Retrieves category's info specified by category id
          in: query
          name: id
          required: true
          type: string
        - default: 'id,parent_id,name,description'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieves category info  specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: Retrieves category info  specified by language id
          in: query
          name: lang_id
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                $ref: '#/definitions/Category'
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of categories from store. Returns 4 categories by default.
      operationId: CategoryList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - description: Retrieves categories specified by parent id
          in: query
          name: parent_id
          required: false
          type: string
        - default: 'id,parent_id,name,description'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieves categories specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: Retrieves categorys specified by language id
          in: query
          name: lang_id
          required: false
          type: integer
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  category:
                    items:
                      $ref: '#/definitions/Category'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.unassign.json:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Unassign category to product
      operationId: CategoryUnassign
      parameters:
        - description: 'Defines category unassign, specified by category id'
          in: query
          name: category_id
          required: true
          type: string
        - description: 'Defines category unassign to the product, specified by product id'
          in: query
          name: product_id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /category.update.json:
    put:
      consumes:
        - application/x-www-form-urlencoded
      description: Update category in store
      operationId: CategoryUpdate
      parameters:
        - description: Defines category update specified by category id
          in: query
          name: id
          required: true
          type: string
        - description: Defines new category’s name
          in: query
          name: name
          required: false
          type: string
        - description: Defines new parent category id
          in: query
          name: parent_id
          required: false
          type: string
        - default: '0'
          description: Update category in the stores that is specified by comma-separated stores' id
          in: query
          name: stores_ids
          required: false
          type: string
        - description: Defines category's visibility status
          in: query
          name: avail
          required: false
          type: boolean
        - description: Sort number in the list
          in: query
          name: sort_order
          required: false
          type: integer
        - description: Entity's date modification
          in: query
          name: modified_time
          required: false
          type: string
        - description: Defines new category's description
          in: query
          name: description
          required: false
          type: string
        - description: Defines unique meta title for each entity
          in: query
          name: meta_title
          required: false
          type: string
        - description: Defines unique meta description of a entity
          in: query
          name: meta_description
          required: false
          type: string
        - description: Defines unique meta keywords for each entity
          in: query
          name: meta_keywords
          required: false
          type: string
        - description: Defines unique category's URL for SEO
          in: query
          name: seo_url
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  updated_items:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - category
  /customer.add.json:
    post:
      consumes:
        - application/json
      description: Add customer into store.
      operationId: CustomerAdd
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CustomerAdd'
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  customer_id:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - customer
  /customer.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get number of customers from store.
      operationId: CustomerCount
      parameters:
        - description: Customer group_id
          in: query
          name: group_id
          required: false
          type: integer
        - description: Retrieve entities from their creation date
          in: query
          name: created_from
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: created_to
          required: false
          type: string
        - description: Retrieve entities from their modification date
          in: query
          name: modified_from
          required: false
          type: string
        - description: Retrieve entities to their modification date
          in: query
          name: modified_to
          required: false
          type: string
        - description: Counts customer specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: The numeric ID of the customer list in Demandware.
          in: query
          name: customer_list_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  customers_count:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - customer
  /customer.find.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Find customers in store.
      operationId: CustomerFind
      parameters:
        - description: Entity search that is specified by some value
          in: query
          name: find_value
          required: true
          type: string
        - default: email
          description: Entity search that is specified by the comma-separated unique fields
          enum:
            - email
            - first_name
            - last_name
          in: query
          name: find_where
          required: false
          type: string
        - default: whole_words
          description: Entity search that is specified by comma-separated parameters
          enum:
            - regex
            - case_sensitive
            - whole_words
          in: query
          name: find_params
          required: false
          type: string
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  email:
                    type: string
                  first_name:
                    type: string
                  id:
                    type: string
                  last_name:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - customer
  /customer.info.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get customers' details from store.
      operationId: CustomerInfo
      parameters:
        - description: Retrieves customer's info specified by customer id
          in: query
          name: id
          required: true
          type: string
        - default: 'id,email,first_name,last_name'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieves customer info specified by store id
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                $ref: '#/definitions/Customer'
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - customer
  /customer.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of customers from store.
      operationId: CustomerList
      parameters:
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - description: Retrieve entities from their creation date
          in: query
          name: created_from
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: created_to
          required: false
          type: string
        - description: Retrieve entities from their modification date
          in: query
          name: modified_from
          required: false
          type: string
        - description: Retrieve entities to their modification date
          in: query
          name: modified_to
          required: false
          type: string
        - default: 'id,email,first_name,last_name'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Customer group_id
          in: query
          name: group_id
          required: false
          type: integer
        - description: Retrieves customers specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: The numeric ID of the customer list in Demandware.
          in: query
          name: customer_list_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order:
                    items:
                      $ref: '#/definitions/Customer'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - customer
  /order.abandoned.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of orders that were left by customers before completing the order.
      operationId: OrderAbandonedList
      parameters:
        - description: Store Id
          in: query
          name: store_id
          required: false
          type: string
        - description: Retrieves orders specified by customer id
          in: query
          name: customer_id
          required: false
          type: string
        - description: Retrieves orders specified by customer email
          in: query
          name: customer_email
          required: false
          type: string
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: 'customer,totals,address,items'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: created_to
          required: false
          type: string
        - description: Retrieve entities from their creation date
          in: query
          name: created_from
          required: false
          type: string
        - description: Retrieve entities to their modification date
          in: query
          name: modified_to
          required: false
          type: string
        - description: Retrieve entities from their modification date
          in: query
          name: modified_from
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order:
                    items:
                      $ref: '#/definitions/OrderAbandoned'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.add.json:
    post:
      consumes:
        - application/json
      description: Add a new order to the cart.
      operationId: OrderAdd
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OrderAdd'
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order_id:
                    type: string
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.count.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Count orders in store
      operationId: OrderCount
      parameters:
        - description: Counts orders quantity specified by customer id
          in: query
          name: customer_id
          required: false
          type: string
        - description: Counts orders quantity specified by customer email
          in: query
          name: customer_email
          required: false
          type: string
        - description: Counts orders quantity specified by order status
          in: query
          name: order_status
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: created_to
          required: false
          type: string
        - description: Retrieve entities from their creation date
          in: query
          name: created_from
          required: false
          type: string
        - description: Retrieve entities to their modification date
          in: query
          name: modified_to
          required: false
          type: string
        - description: Retrieve entities from their modification date
          in: query
          name: modified_from
          required: false
          type: string
        - description: Counts orders quantity specified by store id
          in: query
          name: store_id
          required: false
          type: string
        - description: Counts orders specified by order ids
          in: query
          name: order_ids
          required: false
          type: string
        - description: Counts orders quantity specified by financial status
          enum:
            - pending
            - authorized
            - partially_paid
            - paid
            - partially_refunded
            - refunded
            - voided
          in: query
          name: financial_status
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  orders_count:
                    type: integer
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.financial_status.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Retrieve list of financial statuses
      operationId: OrderFinancialStatusList
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order_financial_statuses:
                    items:
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.find.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Find orders
      operationId: OrderFind
      parameters:
        - description: Retrieves orders specified by customer id
          in: query
          name: customer_id
          required: false
          type: string
        - description: Retrieves orders specified by customer email
          in: query
          name: customer_email
          required: false
          type: string
        - description: Retrieves orders specified by order status
          in: query
          name: order_status
          required: false
          type: string
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: 'order_id,customer,totals,address,items,status'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Retrieve entities to their creation date
          in: query
          name: created_to
          required: false
          type: string
        - description: Retrieve entities from their creation date
          in: query
          name: created_from
          required: false
          type: string
        - description: Retrieve entities to their modification date
          in: query
          name: modified_to
          required: false
          type: string
        - description: Retrieve entities from their modification date
          in: query
          name: modified_from
          required: false
          type: string
        - description: Retrieves orders specified by financial status
          enum:
            - pending
            - authorized
            - partially_paid
            - paid
            - partially_refunded
            - refunded
            - voided
          in: query
          name: financial_status
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                properties:
                  order:
                    items:
                      $ref: '#/definitions/Order'
                    type: array
                type: object
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.info.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Info about a specific order by ID
      operationId: OrderInfo
      parameters:
        - description: Retrieves order’s info specified by order id
          in: query
          name: order_id
          required: true
          type: string
        - default: 'order_id,customer,totals,address,items,status'
          description: Set this parameter in order to choose which entity fields you want to retrieve
          in: query
          name: params
          required: false
          type: string
        - description: Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all
          in: query
          name: exclude
          required: false
          type: string
        - description: Defines store id where the order should be found
          in: query
          name: store_id
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            properties:
              result:
                $ref: '#/definitions/Order'
              return_code:
                type: integer
              return_message:
                type: string
            type: object
      security:
        - api_key: []
          store_key: []
      tags:
        - order
  /order.list.json:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Get list of orders from store. Returns 4 orders by default.
      operationId: OrderList
      parameters:
        - description: Retrieves orders specified by customer id
          in: query
          name: customer_id
          required: false
          type: string
        - description: Retrieves orders specified by customer email
          in: query
          name: customer_email
          required: false
          type: string
        - description: Retrieves orders specified by order status
          in: query
          name: order_status
          required: false
          type: string
        - default: 0
          description: This parameter sets the number from which you want to get entities
          in: query
          name: start
          required: false
          type: integer
        - default: 10
          description: This parameter sets the entity amount that has to be retrieved
          in: query
          name: count
          required: false
          type: integer
        - default: order_id
          description: Set field to sort by
          in: query
          name: sort_by
          required: false
          type: string
        - default: asc
          description: Set sorting direction
          enum:
            - asc
            - desc
[...]
