swagger: '2.0'
schemes:
  - https
  - http
host: devices.iot1click.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: |-
    Describes all of the AWS IoT 1-Click device-related API operations for the service.
     Also provides sample requests, responses, and errors for the supported web services
     protocols.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS IoT 1-Click Devices Service
  version: '2018-05-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot1click-devices-2018-05-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: iot1click-devices
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/iot1click/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/claims/{claimCode}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        Adds device(s) to your account (i.e., claim one or more devices) if and only if you
         received a claim code with the device(s).
      operationId: ClaimDevicesByClaimCode
      parameters:
        - description: 'The claim code, starting with "C-", as provided by the device manufacturer.'
          in: path
          name: claimCode
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClaimDevicesByClaimCodeResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /devices:
    get:
      description: Lists the 1-Click compatible devices associated with your AWS account.
      operationId: ListDevices
      parameters:
        - description: 'The type of the device, such as "button".'
          in: query
          name: deviceType
          required: false
          type: string
        - description: |-
            The maximum number of results to return per request. If not set, a default value of
             100 is used.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: The token to retrieve the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicesResponse'
        '480':
          description: RangeNotSatisfiableException
          schema:
            $ref: '#/definitions/RangeNotSatisfiableException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/devices/{deviceId}':
    get:
      description: |-
        Given a device ID, returns a DescribeDeviceResponse object describing the
         details of the device.
      operationId: DescribeDevice
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeviceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/devices/{deviceId}/events#fromTimeStamp&toTimeStamp':
    get:
      description: |-
        Using a device ID, returns a DeviceEventsResponse object containing an
         array of events for the device.
      operationId: ListDeviceEvents
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - description: |-
            The start date for the device event query, in ISO8061 format. For example,
             2018-03-28T15:45:12.880Z
             
          format: date-time
          in: query
          name: fromTimeStamp
          required: true
          type: string
        - description: |-
            The maximum number of results to return per request. If not set, a default value of
             100 is used.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: The token to retrieve the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: |-
            The end date for the device event query, in ISO8061 format. For example,
             2018-03-28T15:45:12.880Z
             
          format: date-time
          in: query
          name: toTimeStamp
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceEventsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: RangeNotSatisfiableException
          schema:
            $ref: '#/definitions/RangeNotSatisfiableException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/devices/{deviceId}/finalize-claim':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Given a device ID, finalizes the claim request for the associated device.</p><note>
         <p>Claiming a device consists of initiating a claim, then publishing a device event,
         and finalizing the claim. For a device of type button, a device event can
         be published by simply clicking the device.</p>
         </note>
      operationId: FinalizeDeviceClaim
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: |-
                  <p>A collection of key/value pairs defining the resource tags. For example, {
                   "tags": {"key1": "value1", "key2": "value2"} }. For more information, see <a href="https://aws.amazon.com/answers/account-management/aws-tagging-strategies/">AWS
                   Tagging Strategies</a>.</p><p>
                   
                   </p>
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FinalizeDeviceClaimResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: PreconditionFailedException
          schema:
            $ref: '#/definitions/PreconditionFailedException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
  '/devices/{deviceId}/initiate-claim':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Given a device ID, initiates a claim request for the associated device.</p><note>
         <p>Claiming a device consists of initiating a claim, then publishing a device event,
         and finalizing the claim. For a device of type button, a device event can
         be published by simply clicking the device.</p>
         </note>
      operationId: InitiateDeviceClaim
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InitiateDeviceClaimResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
  '/devices/{deviceId}/methods':
    get:
      description: 'Given a device ID, returns the invokable methods associated with the device.'
      operationId: GetDeviceMethods
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceMethodsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: |-
        Given a device ID, issues a request to invoke a named device method (with possible
         parameters). See the "Example POST" code snippet below.
      operationId: InvokeDeviceMethod
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              deviceMethod:
                description: The device method to invoke.
                properties:
                  DeviceType:
                    $ref: '#/definitions/__string'
                    description: 'The type of the device, such as "button".'
                  MethodName:
                    $ref: '#/definitions/__string'
                    description: The name of the method applicable to the deviceType.
                type: object
              deviceMethodParameters:
                description: A JSON encoded string containing the device method request parameters.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvokeDeviceMethodResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: PreconditionFailedException
          schema:
            $ref: '#/definitions/PreconditionFailedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: RangeNotSatisfiableException
          schema:
            $ref: '#/definitions/RangeNotSatisfiableException'
        '485':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
  '/devices/{deviceId}/state':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        Using a Boolean value (true or false), this operation
         enables or disables the device given a device ID.
      operationId: UpdateDeviceState
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              enabled:
                description: |-
                  If true, the device is enabled. If false, the device is
                   disabled.
                type: boolean
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceStateResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/devices/{deviceId}/unclaim':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Disassociates a device from your AWS account using its device ID.
      operationId: UnclaimDevice
      parameters:
        - description: The unique identifier of the device.
          in: path
          name: deviceId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UnclaimDeviceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/tags/{resource-arn}':
    get:
      description: Lists the tags associated with the specified resource ARN.
      operationId: ListTagsForResource
      parameters:
        - description: The ARN of the resource.
          in: path
          name: resource-arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: |-
        Adds or updates the tags associated with the resource ARN. See <a href="https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per
         resource.
      operationId: TagResource
      parameters:
        - description: The ARN of the resource.
          in: path
          name: resource-arn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: |-
                  <p>A collection of key/value pairs defining the resource tags. For example, {
                   "tags": {"key1": "value1", "key2": "value2"} }. For more information, see <a href="https://aws.amazon.com/answers/account-management/aws-tagging-strategies/">AWS
                   Tagging Strategies</a>.</p><p>
                   
                   </p>
                type: object
            required:
              - tags
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/tags/{resource-arn}#tagKeys':
    delete:
      description: |-
        Using tag keys, deletes the tags (key/value pairs) associated with the specified
         resource ARN.
      operationId: UntagResource
      parameters:
        - description: The ARN of the resource.
          in: path
          name: resource-arn
          required: true
          type: string
        - description: 'A collections of tag keys. For example, {"key1","key2"}'
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '204':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Attributes:
    properties: {}
    type: object
  ClaimDevicesByClaimCodeRequest:
    properties: {}
    type: object
  ClaimDevicesByClaimCodeResponse:
    properties:
      ClaimCode:
        $ref: '#/definitions/__stringMin12Max40'
        description: The claim code provided by the device manufacturer.
      Total:
        $ref: '#/definitions/__integer'
        description: |-
          The total number of devices associated with the claim code that has been processed in
           the claim request.
    type: object
  DescribeDeviceRequest:
    properties: {}
    type: object
  DescribeDeviceResponse:
    properties:
      DeviceDescription:
        $ref: '#/definitions/DeviceDescription'
        description: Device details.
    type: object
  Device:
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The user specified attributes associated with the device for an event.
      DeviceId:
        $ref: '#/definitions/__string'
        description: The unique identifier of the device.
      Type:
        $ref: '#/definitions/__string'
        description: 'The device type, such as "button".'
    type: object
  DeviceAttributes:
    additionalProperties:
      $ref: '#/definitions/__string'
    description: |2-

       DeviceAttributes is a string-to-string map specified by the user.
    type: object
  DeviceDescription:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the device.
      Attributes:
        $ref: '#/definitions/DeviceAttributes'
        description: |-
          An array of zero or more elements of DeviceAttribute objects providing
           user specified device attributes.
      DeviceId:
        $ref: '#/definitions/__string'
        description: The unique identifier of the device.
      Enabled:
        $ref: '#/definitions/__boolean'
        description: A Boolean value indicating whether or not the device is enabled.
      RemainingLife:
        $ref: '#/definitions/__doubleMin0Max100'
        description: |-
          A value between 0 and 1 inclusive, representing the fraction of life remaining for the
           device.
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: The tags currently associated with the AWS IoT 1-Click device.
      Type:
        $ref: '#/definitions/__string'
        description: 'The type of the device, such as "button".'
    type: object
  DeviceEvent:
    properties:
      Device:
        $ref: '#/definitions/Device'
        description: An object representing the device associated with the event.
      StdEvent:
        $ref: '#/definitions/__string'
        description: A serialized JSON object representing the device-type specific event.
    type: object
  DeviceMethod:
    properties:
      DeviceType:
        $ref: '#/definitions/__string'
        description: 'The type of the device, such as "button".'
      MethodName:
        $ref: '#/definitions/__string'
        description: The name of the method applicable to the deviceType.
    type: object
  FinalizeDeviceClaimRequest:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |-
          <p>A collection of key/value pairs defining the resource tags. For example, {
           "tags": {"key1": "value1", "key2": "value2"} }. For more information, see <a href="https://aws.amazon.com/answers/account-management/aws-tagging-strategies/">AWS
           Tagging Strategies</a>.</p><p>
           
           </p>
    type: object
  FinalizeDeviceClaimResponse:
    properties:
      State:
        $ref: '#/definitions/__string'
        description: The device's final claim state.
    type: object
  ForbiddenException: {}
  GetDeviceMethodsRequest:
    properties: {}
    type: object
  GetDeviceMethodsResponse:
    properties:
      DeviceMethods:
        $ref: '#/definitions/__listOfDeviceMethod'
        description: List of available device APIs.
    type: object
  InitiateDeviceClaimRequest:
    properties: {}
    type: object
  InitiateDeviceClaimResponse:
    properties:
      State:
        $ref: '#/definitions/__string'
        description: The device's final claim state.
    type: object
  InternalFailureException: {}
  InvalidRequestException: {}
  InvokeDeviceMethodRequest:
    properties:
      DeviceMethod:
        $ref: '#/definitions/DeviceMethod'
        description: The device method to invoke.
      DeviceMethodParameters:
        $ref: '#/definitions/__string'
        description: A JSON encoded string containing the device method request parameters.
    type: object
  InvokeDeviceMethodResponse:
    properties:
      DeviceMethodResponse:
        $ref: '#/definitions/__string'
        description: A JSON encoded string containing the device method response.
    type: object
  ListDeviceEventsRequest:
    properties: {}
    type: object
  ListDeviceEventsResponse:
    properties:
      Events:
        $ref: '#/definitions/__listOfDeviceEvent'
        description: |-
          An array of zero or more elements describing the event(s) associated with the
           device.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to retrieve the next set of results.
    type: object
  ListDevicesRequest:
    properties: {}
    type: object
  ListDevicesResponse:
    properties:
      Devices:
        $ref: '#/definitions/__listOfDeviceDescription'
        description: A list of devices.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to retrieve the next set of results.
    type: object
  ListTagsForResourceRequest:
    properties: {}
    type: object
  ListTagsForResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |-
          <p>A collection of key/value pairs defining the resource tags. For example, {
           "tags": {"key1": "value1", "key2": "value2"} }. For more information, see <a href="https://aws.amazon.com/answers/account-management/aws-tagging-strategies/">AWS
           Tagging Strategies</a>.</p><p>
           
           </p>
    type: object
  MaxResults:
    maximum: 250
    minimum: 1
    type: integer
  PreconditionFailedException: {}
  RangeNotSatisfiableException: {}
  ResourceConflictException: {}
  ResourceNotFoundException: {}
  TagResourceRequest:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |-
          <p>A collection of key/value pairs defining the resource tags. For example, {
           "tags": {"key1": "value1", "key2": "value2"} }. For more information, see <a href="https://aws.amazon.com/answers/account-management/aws-tagging-strategies/">AWS
           Tagging Strategies</a>.</p><p>
           
           </p>
    required:
      - Tags
    type: object
  UnclaimDeviceRequest:
    properties: {}
    type: object
  UnclaimDeviceResponse:
    properties:
      State:
        $ref: '#/definitions/__string'
        description: The device's final claim state.
    type: object
  UntagResourceRequest:
    properties: {}
    type: object
  UpdateDeviceStateRequest:
    properties:
      Enabled:
        $ref: '#/definitions/__boolean'
        description: |-
          If true, the device is enabled. If false, the device is
           disabled.
    type: object
  UpdateDeviceStateResponse:
    properties: {}
    type: object
  __boolean:
    type: boolean
  __doubleMin0Max100:
    format: double
    type: number
  __integer:
    type: integer
  __listOfDeviceDescription:
    items:
      $ref: '#/definitions/DeviceDescription'
    type: array
  __listOfDeviceEvent:
    items:
      $ref: '#/definitions/DeviceEvent'
    type: array
  __listOfDeviceMethod:
    items:
      $ref: '#/definitions/DeviceMethod'
    type: array
  __listOf__string:
    items:
      $ref: '#/definitions/__string'
    type: array
  __mapOf__string:
    additionalProperties:
      $ref: '#/definitions/__string'
    type: object
  __string:
    type: string
  __stringMin12Max40:
    maxLength: 40
    minLength: 12
    type: string
  __timestampIso8601:
    format: date-time
    type: string
x-servers:
  - description: The AWS IoT 1-Click Devices Service multi-region endpoint
    url: 'http://devices.iot1click.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS IoT 1-Click Devices Service multi-region endpoint
    url: 'https://devices.iot1click.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS IoT 1-Click Devices Service endpoint for China (Beijing) and China (Ningxia)
    url: 'http://devices.iot1click.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS IoT 1-Click Devices Service endpoint for China (Beijing) and China (Ningxia)
    url: 'https://devices.iot1click.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
