openapi: 3.0.1
servers:
  - url: https://media.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Media
  version: 1.30.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_media_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_media_v1
paths:
  /v1/MediaProcessors:
    description: A MediaProcessor resource provides the ability to capture content from a web application with a Twilio Media Extension to create a livestream.
    get:
      description: Returns a list of MediaProcessors.
      operationId: ListMediaProcessor
      parameters:
        - description: "The sort order of the list by `date_created`. Can be: `asc` (ascending) or `desc` (descending) with `desc` as the default."
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: Status to filter by, with possible values `started`, `ended` or `failed`.
          in: query
          name: Status
          schema:
            enum:
              - failed
              - started
              - ended
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  media_processors:
                    items:
                      $ref: "#/components/schemas/media.v1.media_processor"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMediaProcessorResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateMediaProcessor
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Extension:
                  description: "The [Media Extension](/docs/live/api/media-extensions-overview) name or URL. Ex: `video-composer-v2`"
                  type: string
                ExtensionContext:
                  description: The context of the Media Extension, represented as a JSON dictionary. See the documentation for the specific [Media Extension](/docs/live/api/media-extensions-overview) you are using for more information about the context to send.
                  type: string
                ExtensionEnvironment:
                  description: User-defined environment variables for the Media Extension, represented as a JSON dictionary of key/value strings. See the documentation for the specific [Media Extension](/docs/live/api/media-extensions-overview) you are using for more information about whether you need to provide this.
                MaxDuration:
                  description: The maximum time, in seconds, that the MediaProcessor can run before automatically ends. The default value is 300 seconds, and the maximum value is 90000 seconds. Once this maximum duration is reached, Twilio will end the MediaProcessor, regardless of whether media is still streaming.
                  type: integer
                StatusCallback:
                  description: The URL to which Twilio will send asynchronous webhook requests for every MediaProcessor event. See [Status Callbacks](/docs/live/status-callbacks) for details.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: The HTTP method Twilio should use to call the `status_callback` URL. Can be `POST` or `GET` and the default is `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
              required:
                - Extension
                - ExtensionContext
              title: CreateMediaProcessorRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.media_processor"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
        - extension
        - extension_context
      pathType: list
  "/v1/MediaProcessors/{Sid}":
    description: A MediaProcessor resource provides the ability to capture content from a web application with a Twilio Media Extension to create a livestream.
    get:
      description: Returns a single MediaProcessor resource identified by a SID.
      operationId: FetchMediaProcessor
      parameters:
        - description: The SID of the MediaProcessor resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZX[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.media_processor"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Updates a MediaProcessor resource identified by a SID.
      operationId: UpdateMediaProcessor
      parameters:
        - description: The SID of the MediaProcessor resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZX[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  description: The status of the MediaProcessor. Can be `ended`.
                  enum:
                    - ended
                  type: string
              required:
                - Status
              title: UpdateMediaProcessorRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.media_processor"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
        - extension
        - extension_context
      pathType: instance
  /v1/MediaRecordings:
    description: A MediaRecording resource exposes recording metadata and allows the deletion of a particular recording.
    get:
      description: Returns a list of MediaRecordings.
      operationId: ListMediaRecording
      parameters:
        - description: "The sort order of the list by `date_created`. Can be: `asc` (ascending) or `desc` (descending) with `desc` as the default."
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: Status to filter by, with possible values `processing`, `completed`, `deleted`, or `failed`.
          in: query
          name: Status
          schema:
            enum:
              - processing
              - completed
              - deleted
              - failed
            type: string
        - description: SID of a MediaProcessor to filter by.
          in: query
          name: ProcessorSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZX[0-9a-fA-F]{32}$
            type: string
        - description: SID of a MediaRecording source to filter by.
          in: query
          name: SourceSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  media_recordings:
                    items:
                      $ref: "#/components/schemas/media.v1.media_recording"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMediaRecordingResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
      pathType: list
  "/v1/MediaRecordings/{Sid}":
    delete:
      description: Deletes a MediaRecording resource identified by a SID.
      operationId: DeleteMediaRecording
      parameters:
        - description: The SID of the MediaRecording resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: A MediaRecording resource exposes recording metadata and allows the deletion of a particular recording.
    get:
      description: Returns a single MediaRecording resource identified by a SID.
      operationId: FetchMediaRecording
      parameters:
        - description: The SID of the MediaRecording resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.media_recording"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
      pathType: instance
  /v1/PlayerStreamers:
    description: A PlayerStreamer resource provides the ability to send a livestream to a JavaScript, iOS, or Android Player SDK.
    get:
      description: Returns a list of PlayerStreamers.
      operationId: ListPlayerStreamer
      parameters:
        - description: "The sort order of the list by `date_created`. Can be: `asc` (ascending) or `desc` (descending) with `desc` as the default."
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: Status to filter by, with possible values `created`, `started`, `ended`, or `failed`.
          in: query
          name: Status
          schema:
            enum:
              - created
              - started
              - ended
              - failed
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  player_streamers:
                    items:
                      $ref: "#/components/schemas/media.v1.player_streamer"
                    type: array
                title: ListPlayerStreamerResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreatePlayerStreamer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                MaxDuration:
                  description: The maximum time, in seconds, that the PlayerStreamer can run before automatically ends. The default value is 300 seconds, and the maximum value is 90000 seconds. Once this maximum duration is reached, Twilio will end the PlayerStreamer, regardless of whether media is still streaming.
                  type: integer
                StatusCallback:
                  description: The URL to which Twilio will send asynchronous webhook requests for every PlayerStreamer event. See [Status Callbacks](/docs/live/status-callbacks) for more details.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: The HTTP method Twilio should use to call the `status_callback` URL. Can be `POST` or `GET` and the default is `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                Video:
                  description: Specifies whether the PlayerStreamer is configured to stream video. Defaults to `true`.
                  type: boolean
              title: CreatePlayerStreamerRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.player_streamer"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
      pathType: list
  "/v1/PlayerStreamers/{Sid}":
    description: A PlayerStreamer resource provides the ability to send a livestream to a JavaScript, iOS, or Android Player SDK.
    get:
      description: Returns a single PlayerStreamer resource identified by a SID.
      operationId: FetchPlayerStreamer
      parameters:
        - description: The SID of the PlayerStreamer resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VJ[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.player_streamer"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Updates a PlayerStreamer resource identified by a SID.
      operationId: UpdatePlayerStreamer
      parameters:
        - description: The SID of the PlayerStreamer resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VJ[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  description: "The status the PlayerStreamer should be transitioned to. Can be: `ended`."
                  enum:
                    - ended
                  type: string
              required:
                - Status
              title: UpdatePlayerStreamerRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.player_streamer"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
      pathType: instance
  "/v1/PlayerStreamers/{Sid}/PlaybackGrant":
    description: A PlaybackGrant resource allows developers to generate a grant to initialize the Twilio Live Player SDK and connect to a livestream.
    get:
      description: "**This method is not enabled.** Returns a single PlaybackGrant resource identified by a SID."
      operationId: FetchPlayerStreamerPlaybackGrant
      parameters:
        - description: The SID of the PlayerStreamer resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VJ[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.player_streamer.player_streamer_playback_grant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreatePlayerStreamerPlaybackGrant
      parameters:
        - description: The unique string generated to identify the PlayerStreamer resource associated with this PlaybackGrant
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VJ[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AccessControlAllowOrigin:
                  description: The full origin URL where the livestream can be streamed. If this is not provided, it can be streamed from any domain.
                  type: string
                Ttl:
                  description: The time to live of the PlaybackGrant. Default value is 15 seconds. Maximum value is 60 seconds.
                  type: integer
              title: CreatePlayerStreamerPlaybackGrantRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/media.v1.player_streamer.player_streamer_playback_grant"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://media.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: /PlayerStreamers
      pathType: instance
components:
  schemas:
    media.v1.media_processor:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        ended_reason:
          description: The reason why a MediaProcessor ended
          nullable: true
          type: string
        extension:
          description: The Media Extension name or URL
          nullable: true
          type: string
        extension_context:
          description: The Media Extension context
          nullable: true
          type: string
        max_duration:
          description: Maximum MediaProcessor duration in seconds
          nullable: true
          type: integer
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZX[0-9a-fA-F]{32}$
          type: string
        status:
          description: The status of the MediaProcessor
          enum:
            - failed
            - started
            - ended
          nullable: true
          type: string
        status_callback:
          description: The URL to which Twilio will send MediaProcessor event updates
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback` URL
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
    media.v1.media_recording:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        duration:
          description: The duration of the MediaRecording
          nullable: true
          type: integer
        format:
          description: The format of the MediaRecording
          enum:
            - mp4
            - webm
          nullable: true
          type: string
        links:
          description: The URLs of related resources
          format: uri-map
          nullable: true
          type: object
        media_size:
          description: The size of the recording media
          nullable: true
          type: integer
        processor_sid:
          description: The SID of the MediaProcessor
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZX[0-9a-fA-F]{32}$
          type: string
        resolution:
          description: The dimensions of the video image in pixels
          nullable: true
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^KV[0-9a-fA-F]{32}$
          type: string
        source_sid:
          description: The SID of the resource that generated the original media
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        status:
          description: The status of the MediaRecording
          enum:
            - processing
            - completed
            - deleted
            - failed
          nullable: true
          type: string
        status_callback:
          description: The URL to which Twilio will send MediaRecording event updates
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback` URL
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
    media.v1.player_streamer:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        ended_reason:
          description: The reason why a PlayerStreamer ended
          enum:
            - ended-via-api
            - max-duration-exceeded
            - stream-disconnected-by-source
            - unexpected-failure
          nullable: true
          type: string
        links:
          description: The URLs of related resources
          format: uri-map
          nullable: true
          type: object
        max_duration:
          description: Maximum PlayerStreamer duration in seconds
          nullable: true
          type: integer
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^VJ[0-9a-fA-F]{32}$
          type: string
        status:
          description: The status of the PlayerStreamer
          enum:
            - created
            - started
            - ended
            - failed
          nullable: true
          type: string
        status_callback:
          description: The URL to which Twilio will send PlayerStreamer event updates
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: The HTTP method Twilio should use to call the `status_callback` URL
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
        video:
          description: Whether the PlayerStreamer is configured to stream video
          nullable: true
          type: boolean
      type: object
    media.v1.player_streamer.player_streamer_playback_grant:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        grant:
          description: The grant that authorizes the player sdk to connect to the livestream
          nullable: true
        sid:
          description: The unique string that identifies the PlayerStreamer associated with this PlaybackGrant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^VJ[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.
    name: Preview
