swagger: '2.0'
schemes:
  - https
host: remotebuildexecution.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Supplies a Remote Execution API service for tools such as bazel.
  title: Remote Build Execution
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://remotebuildexecution.googleapis.com/$discovery/rest?version=v2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: remotebuildexecution
externalDocs:
  url: 'https://cloud.google.com/remote-build-execution/docs/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: actionResults
  - name: actions
  - name: blobs
  - name: operations
  - name: v2
paths:
  '/v2/{instanceName}/actionResults/{hash}/{sizeBytes}':
    get:
      description: |-
        Retrieve a cached execution result.

        Errors:

        * `NOT_FOUND`: The requested `ActionResult` is not in the cache.
      operationId: remotebuildexecution.actionResults.get
      parameters:
        - description: |-
            The hash. In the case of SHA-256, it will always be a lowercase hex string
            exactly 64 characters long.
          in: path
          name: hash
          required: true
          type: string
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
        - description: 'The size of the blob, in bytes.'
          in: path
          name: sizeBytes
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2ActionResult'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - actionResults
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Upload a new execution result.

        In order to allow the server to perform access control based on the type of
        action, and to assist with client debugging, the client MUST first upload
        the Action that produced the
        result, along with its
        Command, into the
        `ContentAddressableStorage`.

        Errors:

        * `INVALID_ARGUMENT`: One or more arguments are invalid.
        * `FAILED_PRECONDITION`: One or more errors occurred in updating the
          action result, such as a missing command or action.
        * `RESOURCE_EXHAUSTED`: There is insufficient storage space to add the
          entry to the cache.
      operationId: remotebuildexecution.actionResults.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2ActionResult'
        - description: |-
            The hash. In the case of SHA-256, it will always be a lowercase hex string
            exactly 64 characters long.
          in: path
          name: hash
          required: true
          type: string
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The priority (relative importance) of this content in the overall cache.
            Generally, a lower value means a longer retention time or other advantage,
            but the interpretation of a given value is server-dependent. A priority of
            0 means a *default* value, decided by the server.

            The particular semantics of this field is up to the server. In particular,
            every server will have their own supported range of priorities, and will
            decide how these map into retention/eviction policy.
          in: query
          name: resultsCachePolicy.priority
          type: integer
        - description: 'The size of the blob, in bytes.'
          in: path
          name: sizeBytes
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2ActionResult'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - actionResults
  '/v2/{instanceName}/actions:execute':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Execute an action remotely.

        In order to execute an action, the client must first upload all of the
        inputs, the
        Command to run, and the
        Action into the
        ContentAddressableStorage.
        It then calls `Execute` with an `action_digest` referring to them. The
        server will run the action and eventually return the result.

        The input `Action`'s fields MUST meet the various canonicalization
        requirements specified in the documentation for their types so that it has
        the same digest as other logically equivalent `Action`s. The server MAY
        enforce the requirements and return errors if a non-canonical input is
        received. It MAY also proceed without verifying some or all of the
        requirements, such as for performance reasons. If the server does not
        verify the requirement, then it will treat the `Action` as distinct from
        another logically equivalent action if they hash differently.

        Returns a stream of
        google.longrunning.Operation messages
        describing the resulting execution, with eventual `response`
        ExecuteResponse. The
        `metadata` on the operation is of type
        ExecuteOperationMetadata.

        If the client remains connected after the first response is returned after
        the server, then updates are streamed as if the client had called
        WaitExecution
        until the execution completes or the request reaches an error. The
        operation can also be queried using Operations
        API.

        The server NEED NOT implement other methods or functionality of the
        Operations API.

        Errors discovered during creation of the `Operation` will be reported
        as gRPC Status errors, while errors that occurred while running the
        action will be reported in the `status` field of the `ExecuteResponse`. The
        server MUST NOT set the `error` field of the `Operation` proto.
        The possible errors include:

        * `INVALID_ARGUMENT`: One or more arguments are invalid.
        * `FAILED_PRECONDITION`: One or more errors occurred in setting up the
          action requested, such as a missing input or command or no worker being
          available. The client may be able to fix the errors and retry.
        * `RESOURCE_EXHAUSTED`: There is insufficient quota of some resource to run
          the action.
        * `UNAVAILABLE`: Due to a transient condition, such as all workers being
          occupied (and the server does not support a queue), the action could not
          be started. The client should retry.
        * `INTERNAL`: An internal error occurred in the execution engine or the
          worker.
        * `DEADLINE_EXCEEDED`: The execution timed out.
        * `CANCELLED`: The operation was cancelled by the client. This status is
          only possible if the server implements the Operations API CancelOperation
          method, and it was called for the current execution.

        In the case of a missing input or command, the server SHOULD additionally
        send a PreconditionFailure error detail
        where, for each requested blob not present in the CAS, there is a
        `Violation` with a `type` of `MISSING` and a `subject` of
        `"blobs/{hash}/{size}"` indicating the digest of the missing blob.
      operationId: remotebuildexecution.actions.execute
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2ExecuteRequest'
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - actions
  '/v2/{instanceName}/blobs/{hash}/{sizeBytes}:getTree':
    get:
      description: |-
        Fetch the entire directory tree rooted at a node.

        This request must be targeted at a
        Directory stored in the
        ContentAddressableStorage
        (CAS). The server will enumerate the `Directory` tree recursively and
        return every node descended from the root.

        The GetTreeRequest.page_token parameter can be used to skip ahead in
        the stream (e.g. when retrying a partially completed and aborted request),
        by setting it to a value taken from GetTreeResponse.next_page_token of the
        last successfully processed GetTreeResponse).

        The exact traversal order is unspecified and, unless retrieving subsequent
        pages from an earlier request, is not guaranteed to be stable across
        multiple invocations of `GetTree`.

        If part of the tree is missing from the CAS, the server will return the
        portion present and omit the rest.

        * `NOT_FOUND`: The requested tree root is not present in the CAS.
      operationId: remotebuildexecution.blobs.getTree
      parameters:
        - description: |-
            The hash. In the case of SHA-256, it will always be a lowercase hex string
            exactly 64 characters long.
          in: path
          name: hash
          required: true
          type: string
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            A maximum page size to request. If present, the server will request no more
            than this many items. Regardless of whether a page size is specified, the
            server may place its own limit on the number of items to be returned and
            require the client to retrieve more items using a subsequent request.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A page token, which must be a value received in a previous
            GetTreeResponse.
            If present, the server will use it to return the following page of results.
          in: query
          name: pageToken
          type: string
        - description: 'The size of the blob, in bytes.'
          in: path
          name: sizeBytes
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2GetTreeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - blobs
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2/{instanceName}/blobs:batchRead':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Download many blobs at once.

        The server may enforce a limit of the combined total size of blobs
        to be downloaded using this API. This limit may be obtained using the
        Capabilities API.
        Requests exceeding the limit should either be split into smaller
        chunks or downloaded using the
        ByteStream API, as appropriate.

        This request is equivalent to calling a Bytestream `Read` request
        on each individual blob, in parallel. The requests may succeed or fail
        independently.

        Errors:

        * `INVALID_ARGUMENT`: The client attempted to read more than the
          server supported limit.

        Every error on individual read will be returned in the corresponding digest
        status.
      operationId: remotebuildexecution.blobs.batchRead
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchReadBlobsRequest'
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchReadBlobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - blobs
  '/v2/{instanceName}/blobs:batchUpdate':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Upload many blobs at once.

        The server may enforce a limit of the combined total size of blobs
        to be uploaded using this API. This limit may be obtained using the
        Capabilities API.
        Requests exceeding the limit should either be split into smaller
        chunks or uploaded using the
        ByteStream API, as appropriate.

        This request is equivalent to calling a Bytestream `Write` request
        on each individual blob, in parallel. The requests may succeed or fail
        independently.

        Errors:

        * `INVALID_ARGUMENT`: The client attempted to upload more than the
          server supported limit.

        Individual requests may return the following errors, additionally:

        * `RESOURCE_EXHAUSTED`: There is insufficient disk quota to store the blob.
        * `INVALID_ARGUMENT`: The
        Digest does not match the
        provided data.
      operationId: remotebuildexecution.blobs.batchUpdate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest'
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - blobs
  '/v2/{instanceName}/blobs:findMissing':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Determine if blobs are present in the CAS.

        Clients can use this API before uploading blobs to determine which ones are
        already present in the CAS and do not need to be uploaded again.

        There are no method-specific errors.
      operationId: remotebuildexecution.blobs.findMissing
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2FindMissingBlobsRequest'
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2FindMissingBlobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - blobs
  '/v2/{instanceName}/capabilities':
    get:
      description: GetCapabilities returns the server capabilities configuration.
      operationId: remotebuildexecution.getCapabilities
      parameters:
        - description: |-
            The instance of the execution system to operate against. A server may
            support multiple instances of the execution system (with their own workers,
            storage, caches, etc.). The server MAY require use of this field to select
            between them in an implementation-defined fashion, otherwise it can be
            omitted.
          in: path
          name: instanceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2ServerCapabilities'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v2
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2/{name}:waitExecution':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Wait for an execution operation to complete. When the client initially
        makes the request, the server immediately responds with the current status
        of the execution. The server will leave the request stream open until the
        operation completes, and then respond with the completed operation. The
        server MAY choose to stream additional updates as execution progresses,
        such as to provide an update as to the state of the execution.
      operationId: remotebuildexecution.operations.waitExecution
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BuildBazelRemoteExecutionV2WaitExecutionRequest'
        - description: |-
            The name of the Operation
            returned by Execute.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - operations
definitions:
  BuildBazelRemoteExecutionV2Action:
    description: |-
      An `Action` captures all the information about an execution which is required
      to reproduce it.

      `Action`s are the core component of the [Execution] service. A single
      `Action` represents a repeatable action that can be performed by the
      execution service. `Action`s can be succinctly identified by the digest of
      their wire format encoding and, once an `Action` has been executed, will be
      cached in the action cache. Future requests can then use the cached result
      rather than needing to run afresh.

      When a server completes execution of an
      Action, it MAY choose to
      cache the result in
      the ActionCache unless
      `do_not_cache` is `true`. Clients SHOULD expect the server to do so. By
      default, future calls to
      Execute the same
      `Action` will also serve their results from the cache. Clients must take care
      to understand the caching behaviour. Ideally, all `Action`s will be
      reproducible so that serving a result from cache is always desirable and
      correct.
    properties:
      commandDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the Command
          to run, which MUST be present in the
          ContentAddressableStorage.
      doNotCache:
        description: 'If true, then the `Action`''s result cannot be cached.'
        type: boolean
      inputRootDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the root
          Directory for the input
          files. The files in the directory tree are available in the correct
          location on the build machine before the command is executed. The root
          directory, as well as every subdirectory and content blob referred to, MUST
          be in the
          ContentAddressableStorage.
      timeout:
        description: |-
          A timeout after which the execution should be killed. If the timeout is
          absent, then the client is specifying that the execution should continue
          as long as the server will let it. The server SHOULD impose a timeout if
          the client does not specify one, however, if the client does specify a
          timeout that is longer than the server's maximum timeout, the server MUST
          reject the request.

          The timeout is a part of the
          Action message, and
          therefore two `Actions` with different timeouts are different, even if they
          are otherwise identical. This is because, if they were not, running an
          `Action` with a lower timeout than is required might result in a cache hit
          from an execution run with a longer timeout, hiding the fact that the
          timeout is too short. By encoding it directly in the `Action`, a lower
          timeout will result in a cache miss and the execution timeout will fail
          immediately, rather than whenever the cache entry gets evicted.
        format: google-duration
        type: string
    type: object
  BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities:
    description: Describes the server/instance capabilities for updating the action cache.
    properties:
      updateEnabled:
        type: boolean
    type: object
  BuildBazelRemoteExecutionV2ActionResult:
    description: |-
      An ActionResult represents the result of an
      Action being run.
    properties:
      executionMetadata:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ExecutedActionMetadata'
        description: The details of the execution that originally produced this result.
      exitCode:
        description: The exit code of the command.
        format: int32
        type: integer
      outputDirectories:
        description: |-
          The output directories of the action. For each output directory requested
          in the `output_directories` field of the Action, if the corresponding
          directory existed after the action completed, a single entry will be
          present in the output list, which will contain the digest of a
          Tree message containing the
          directory tree, and the path equal exactly to the corresponding Action
          output_directories member.

          As an example, suppose the Action had an output directory `a/b/dir` and the
          execution produced the following contents in `a/b/dir`: a file named `bar`
          and a directory named `foo` with an executable file named `baz`. Then,
          output_directory will contain (hashes shortened for readability):

          ```json
          // OutputDirectory proto:
          {
            path: "a/b/dir"
            tree_digest: {
              hash: "4a73bc9d03...",
              size: 55
            }
          }
          // Tree proto with hash "4a73bc9d03..." and size 55:
          {
            root: {
              files: [
                {
                  name: "bar",
                  digest: {
                    hash: "4a73bc9d03...",
                    size: 65534
                  }
                }
              ],
              directories: [
                {
                  name: "foo",
                  digest: {
                    hash: "4cf2eda940...",
                    size: 43
                  }
                }
              ]
            }
            children : {
              // (Directory proto with hash "4cf2eda940..." and size 43)
              files: [
                {
                  name: "baz",
                  digest: {
                    hash: "b2c941073e...",
                    size: 1294,
                  },
                  is_executable: true
                }
              ]
            }
          }
          ```
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2OutputDirectory'
        type: array
      outputDirectorySymlinks:
        description: |-
          The output directories of the action that are symbolic links to other
          directories. Those may be links to other output directories, or input
          directories, or even absolute paths outside of the working directory,
          if the server supports
          SymlinkAbsolutePathStrategy.ALLOWED.
          For each output directory requested in the `output_directories` field of
          the Action, if the directory file existed after
          the action completed, a single entry will be present either in this field,
          or in the `output_directories` field, if the directory was not a symbolic link.

          If the action does not produce the requested output, or produces a
          file where a directory is expected or vice versa, then that output
          will be omitted from the list. The server is free to arrange the output
          list as desired; clients MUST NOT assume that the output list is sorted.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2OutputSymlink'
        type: array
      outputFileSymlinks:
        description: |-
          The output files of the action that are symbolic links to other files. Those
          may be links to other output files, or input files, or even absolute paths
          outside of the working directory, if the server supports
          SymlinkAbsolutePathStrategy.ALLOWED.
          For each output file requested in the `output_files` field of the Action,
          if the corresponding file existed after
          the action completed, a single entry will be present either in this field,
          or in the `output_files` field, if the file was not a symbolic link.

          If the action does not produce the requested output, or produces a
          directory where a regular file is expected or vice versa, then that output
          will be omitted from the list. The server is free to arrange the output
          list as desired; clients MUST NOT assume that the output list is sorted.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2OutputSymlink'
        type: array
      outputFiles:
        description: |-
          The output files of the action. For each output file requested in the
          `output_files` field of the Action, if the corresponding file existed after
          the action completed, a single entry will be present either in this field,
          or in the output_file_symlinks field, if the file was a symbolic link to
          another file.

          If the action does not produce the requested output, or produces a
          directory where a regular file is expected or vice versa, then that output
          will be omitted from the list. The server is free to arrange the output
          list as desired; clients MUST NOT assume that the output list is sorted.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2OutputFile'
        type: array
      stderrDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest for a blob containing the standard error of the action, which
          can be retrieved from the
          ContentAddressableStorage.
          See `stderr_raw` for when this will be set.
      stderrRaw:
        description: |-
          The standard error buffer of the action. The server will determine, based
          on the size of the buffer, whether to return it in raw form or to return
          a digest in `stderr_digest` that points to the buffer. If neither is set,
          then the buffer is empty. The client SHOULD NOT assume it will get one of
          the raw buffer or a digest on any given request and should be prepared to
          handle either.
        format: byte
        type: string
      stdoutDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest for a blob containing the standard output of the action, which
          can be retrieved from the
          ContentAddressableStorage.
          See `stdout_raw` for when this will be set.
      stdoutRaw:
        description: |-
          The standard output buffer of the action. The server will determine, based
          on the size of the buffer, whether to return it in raw form or to return
          a digest in `stdout_digest` that points to the buffer. If neither is set,
          then the buffer is empty. The client SHOULD NOT assume it will get one of
          the raw buffer or a digest on any given request and should be prepared to
          handle either.
        format: byte
        type: string
    type: object
  BuildBazelRemoteExecutionV2BatchReadBlobsRequest:
    description: |-
      A request message for
      ContentAddressableStorage.BatchReadBlobs.
    properties:
      digests:
        description: The individual blob digests.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        type: array
    type: object
  BuildBazelRemoteExecutionV2BatchReadBlobsResponse:
    description: |-
      A response message for
      ContentAddressableStorage.BatchReadBlobs.
    properties:
      responses:
        description: The responses to the requests.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse'
        type: array
    type: object
  BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse:
    description: A response corresponding to a single blob that the client tried to upload.
    properties:
      data:
        description: The raw binary data.
        format: byte
        type: string
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The digest to which this response corresponds.
      status:
        $ref: '#/definitions/GoogleRpcStatus'
        description: The result of attempting to download that blob.
    type: object
  BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest:
    description: |-
      A request message for
      ContentAddressableStorage.BatchUpdateBlobs.
    properties:
      requests:
        description: The individual upload requests.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchUpdateBlobsRequestRequest'
        type: array
    type: object
  BuildBazelRemoteExecutionV2BatchUpdateBlobsRequestRequest:
    description: A request corresponding to a single blob that the client wants to upload.
    properties:
      data:
        description: The raw binary data.
        format: byte
        type: string
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The digest of the blob. This MUST be the digest of `data`.
    type: object
  BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse:
    description: |-
      A response message for
      ContentAddressableStorage.BatchUpdateBlobs.
    properties:
      responses:
        description: The responses to the requests.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse'
        type: array
    type: object
  BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse:
    description: A response corresponding to a single blob that the client tried to upload.
    properties:
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The blob digest to which this response corresponds.
      status:
        $ref: '#/definitions/GoogleRpcStatus'
        description: The result of attempting to upload that blob.
    type: object
  BuildBazelRemoteExecutionV2CacheCapabilities:
    description: Capabilities of the remote cache system.
    properties:
      actionCacheUpdateCapabilities:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities'
        description: Capabilities for updating the action cache.
      cachePriorityCapabilities:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2PriorityCapabilities'
        description: Supported cache priority range for both CAS and ActionCache.
      digestFunction:
        description: |-
          All the digest functions supported by the remote cache.
          Remote cache may support multiple digest functions simultaneously.
        items:
          enum:
            - UNKNOWN
            - SHA256
            - SHA1
            - MD5
          type: string
        type: array
      maxBatchTotalSizeBytes:
        description: |-
          Maximum total size of blobs to be uploaded/downloaded using
          batch methods. A value of 0 means no limit is set, although
          in practice there will always be a message size limitation
          of the protocol in use, e.g. GRPC.
        format: int64
        type: string
      symlinkAbsolutePathStrategy:
        description: Whether absolute symlink targets are supported.
        enum:
          - UNKNOWN
          - DISALLOWED
          - ALLOWED
        type: string
    type: object
  BuildBazelRemoteExecutionV2Command:
    description: |-
      A `Command` is the actual command executed by a worker running an
      Action and specifications of its
      environment.

      Except as otherwise required, the environment (such as which system
      libraries or binaries are available, and what filesystems are mounted where)
      is defined by and specific to the implementation of the remote execution API.
    properties:
      arguments:
        description: |-
          The arguments to the command. The first argument must be the path to the
          executable, which must be either a relative path, in which case it is
          evaluated with respect to the input root, or an absolute path.
        items:
          type: string
        type: array
      environmentVariables:
        description: |-
          The environment variables to set when running the program. The worker may
          provide its own default environment variables; these defaults can be
          overridden using this field. Additional variables can also be specified.

          In order to ensure that equivalent
          Commands always hash to the same
          value, the environment variables MUST be lexicographically sorted by name.
          Sorting of strings is done by code point, equivalently, by the UTF-8 bytes.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2CommandEnvironmentVariable'
        type: array
      outputDirectories:
        description: |-
          A list of the output directories that the client expects to retrieve from
          the action. Only the listed directories will be returned (an entire
          directory structure will be returned as a
          Tree message digest, see
          OutputDirectory), as
          well as files listed in `output_files`. Other files or directories that
          may be created during command execution are discarded.

          The paths are relative to the working directory of the action execution.
          The paths are specified using a single forward slash (`/`) as a path
          separator, even if the execution platform natively uses a different
          separator. The path MUST NOT include a trailing slash, nor a leading slash,
          being a relative path. The special value of empty string is allowed,
          although not recommended, and can be used to capture the entire working
          directory tree, including inputs.

          In order to ensure consistent hashing of the same Action, the output paths
          MUST be sorted lexicographically by code point (or, equivalently, by UTF-8
          bytes).

          An output directory cannot be duplicated or have the same path as any of
          the listed output files.

          Directories leading up to the output directories (but not the output
          directories themselves) are created by the worker prior to execution, even
          if they are not explicitly part of the input root.
        items:
          type: string
        type: array
      outputFiles:
        description: |-
          A list of the output files that the client expects to retrieve from the
          action. Only the listed files, as well as directories listed in
          `output_directories`, will be returned to the client as output.
          Other files or directories that may be created during command execution
          are discarded.

          The paths are relative to the working directory of the action execution.
          The paths are specified using a single forward slash (`/`) as a path
          separator, even if the execution platform natively uses a different
          separator. The path MUST NOT include a trailing slash, nor a leading slash,
          being a relative path.

          In order to ensure consistent hashing of the same Action, the output paths
          MUST be sorted lexicographically by code point (or, equivalently, by UTF-8
          bytes).

          An output file cannot be duplicated, be a parent of another output file, or
          have the same path as any of the listed output directories.

          Directories leading up to the output files are created by the worker prior
          to execution, even if they are not explicitly part of the input root.
        items:
          type: string
        type: array
      platform:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Platform'
        description: |-
          The platform requirements for the execution environment. The server MAY
          choose to execute the action on any worker satisfying the requirements, so
          the client SHOULD ensure that running the action on any such worker will
          have the same result.
      workingDirectory:
        description: |-
          The working directory, relative to the input root, for the command to run
          in. It must be a directory which exists in the input tree. If it is left
          empty, then the action is run in the input root.
        type: string
    type: object
  BuildBazelRemoteExecutionV2CommandEnvironmentVariable:
    description: |-
      An `EnvironmentVariable` is one variable to set in the running program's
      environment.
    properties:
      name:
        description: The variable name.
        type: string
      value:
        description: The variable value.
        type: string
    type: object
  BuildBazelRemoteExecutionV2Digest:
    description: |-
      A content digest. A digest for a given blob consists of the size of the blob
      and its hash. The hash algorithm to use is defined by the server, but servers
      SHOULD use SHA-256.

      The size is considered to be an integral part of the digest and cannot be
      separated. That is, even if the `hash` field is correctly specified but
      `size_bytes` is not, the server MUST reject the request.

      The reason for including the size in the digest is as follows: in a great
      many cases, the server needs to know the size of the blob it is about to work
      with prior to starting an operation with it, such as flattening Merkle tree
      structures or streaming it to a worker. Technically, the server could
      implement a separate metadata store, but this results in a significantly more
      complicated implementation as opposed to having the client specify the size
      up-front (or storing the size along with the digest in every message where
      digests are embedded). This does mean that the API leaks some implementation
      details of (what we consider to be) a reasonable server implementation, but
      we consider this to be a worthwhile tradeoff.

      When a `Digest` is used to refer to a proto message, it always refers to the
      message in binary encoded form. To ensure consistent hashing, clients and
      servers MUST ensure that they serialize messages according to the following
      rules, even if there are alternate valid encodings for the same message:

      * Fields are serialized in tag order.
      * There are no unknown fields.
      * There are no duplicate fields.
      * Fields are serialized according to the default semantics for their type.

      Most protocol buffer implementations will always follow these rules when
      serializing, but care should be taken to avoid shortcuts. For instance,
      concatenating two messages to merge them may produce duplicate fields.
    properties:
      hash:
        description: |-
          The hash. In the case of SHA-256, it will always be a lowercase hex string
          exactly 64 characters long.
        type: string
      sizeBytes:
        description: 'The size of the blob, in bytes.'
        format: int64
        type: string
    type: object
  BuildBazelRemoteExecutionV2Directory:
    description: |-
      A `Directory` represents a directory node in a file tree, containing zero or
      more children FileNodes,
      DirectoryNodes and
      SymlinkNodes.
      Each `Node` contains its name in the directory, either the digest of its
      content (either a file blob or a `Directory` proto) or a symlink target, as
      well as possibly some metadata about the file or directory.

      In order to ensure that two equivalent directory trees hash to the same
      value, the following restrictions MUST be obeyed when constructing a
      a `Directory`:

      * Every child in the directory must have a path of exactly one segment.
        Multiple levels of directory hierarchy may not be collapsed.
      * Each child in the directory must have a unique path segment (file name).
      * The files, directories and symlinks in the directory must each be sorted
        in lexicographical order by path. The path strings must be sorted by code
        point, equivalently, by UTF-8 bytes.

      A `Directory` that obeys the restrictions is said to be in canonical form.

      As an example, the following could be used for a file named `bar` and a
      directory named `foo` with an executable file named `baz` (hashes shortened
      for readability):

      ```json
      // (Directory proto)
      {
        files: [
          {
            name: "bar",
            digest: {
              hash: "4a73bc9d03...",
              size: 65534
            }
          }
        ],
        directories: [
          {
            name: "foo",
            digest: {
              hash: "4cf2eda940...",
              size: 43
            }
          }
        ]
      }

      // (Directory proto with hash "4cf2eda940..." and size 43)
      {
        files: [
          {
            name: "baz",
            digest: {
              hash: "b2c941073e...",
              size: 1294,
            },
            is_executable: true
          }
        ]
      }
      ```
    properties:
      directories:
        description: The subdirectories in the directory.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2DirectoryNode'
        type: array
      files:
        description: The files in the directory.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2FileNode'
        type: array
      symlinks:
        description: The symlinks in the directory.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2SymlinkNode'
        type: array
    type: object
  BuildBazelRemoteExecutionV2DirectoryNode:
    description: |-
      A `DirectoryNode` represents a child of a
      Directory which is itself
      a `Directory` and its associated metadata.
    properties:
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the
          Directory object
          represented. See Digest
          for information about how to take the digest of a proto message.
      name:
        description: The name of the directory.
        type: string
    type: object
  BuildBazelRemoteExecutionV2ExecuteOperationMetadata:
    description: |-
      Metadata about an ongoing
      execution, which
      will be contained in the metadata
      field of the
      Operation.
    properties:
      actionDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the Action
          being executed.
      stage:
        enum:
          - UNKNOWN
          - CACHE_CHECK
          - QUEUED
          - EXECUTING
          - COMPLETED
        type: string
      stderrStreamName:
        description: |-
          If set, the client can use this name with
          ByteStream.Read to stream the
          standard error.
        type: string
      stdoutStreamName:
        description: |-
          If set, the client can use this name with
          ByteStream.Read to stream the
          standard output.
        type: string
    type: object
  BuildBazelRemoteExecutionV2ExecuteRequest:
    description: |-
      A request message for
      Execution.Execute.
    properties:
      actionDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the Action to
          execute.
      executionPolicy:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ExecutionPolicy'
        description: |-
          An optional policy for execution of the action.
          The server will have a default policy if this is not provided.
      resultsCachePolicy:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ResultsCachePolicy'
        description: |-
          An optional policy for the results of this execution in the remote cache.
          The server will have a default policy if this is not provided.
          This may be applied to both the ActionResult and the associated blobs.
      skipCacheLookup:
        description: |-
          If true, the action will be executed anew even if its result was already
          present in the cache. If false, the result may be served from the
          ActionCache.
        type: boolean
    type: object
  BuildBazelRemoteExecutionV2ExecuteResponse:
    description: |-
      The response message for
      Execution.Execute,
      which will be contained in the response
      field of the
      Operation.
    properties:
      cachedResult:
        description: 'True if the result was served from cache, false if it was executed.'
        type: boolean
      message:
        description: |-
          Freeform informational message with details on the execution of the action
          that may be displayed to the user upon failure or when requested explicitly.
        type: string
      result:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ActionResult'
        description: The result of the action.
      serverLogs:
        additionalProperties:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2LogFile'
        description: |-
          An optional list of additional log outputs the server wishes to provide. A
          server can use this to return execution-specific logs however it wishes.
          This is intended primarily to make it easier for users to debug issues that
          may be outside of the actual job execution, such as by identifying the
          worker executing the action or by providing logs from the worker's setup
          phase. The keys SHOULD be human readable so that a client can display them
          to a user.
        type: object
      status:
        $ref: '#/definitions/GoogleRpcStatus'
        description: |-
          If the status has a code other than `OK`, it indicates that the action did
          not finish execution. For example, if the operation times out during
          execution, the status will have a `DEADLINE_EXCEEDED` code. Servers MUST
          use this field for errors in execution, rather than the error field on the
          `Operation` object.

          If the status code is other than `OK`, then the result MUST NOT be cached.
          For an error status, the `result` field is optional; the server may
          populate the output-, stdout-, and stderr-related fields if it has any
          information available, such as the stdout and stderr of a timed-out action.
    type: object
  BuildBazelRemoteExecutionV2ExecutedActionMetadata:
    description: ExecutedActionMetadata contains details about a completed execution.
    properties:
      executionCompletedTimestamp:
        description: When the worker completed executing the action command.
        format: google-datetime
        type: string
      executionStartTimestamp:
        description: When the worker started executing the action command.
        format: google-datetime
        type: string
      inputFetchCompletedTimestamp:
        description: When the worker finished fetching action inputs.
        format: google-datetime
        type: string
      inputFetchStartTimestamp:
        description: When the worker started fetching action inputs.
        format: google-datetime
        type: string
      outputUploadCompletedTimestamp:
        description: When the worker finished uploading action outputs.
        format: google-datetime
        type: string
      outputUploadStartTimestamp:
        description: When the worker started uploading action outputs.
        format: google-datetime
        type: string
      queuedTimestamp:
        description: When was the action added to the queue.
        format: google-datetime
        type: string
      worker:
        description: The name of the worker which ran the execution.
        type: string
      workerCompletedTimestamp:
        description: 'When the worker completed the action, including all stages.'
        format: google-datetime
        type: string
      workerStartTimestamp:
        description: When the worker received the action.
        format: google-datetime
        type: string
    type: object
  BuildBazelRemoteExecutionV2ExecutionCapabilities:
    description: Capabilities of the remote execution system.
    properties:
      digestFunction:
        description: Remote execution may only support a single digest function.
        enum:
          - UNKNOWN
          - SHA256
          - SHA1
          - MD5
        type: string
      execEnabled:
        description: Whether remote execution is enabled for the particular server/instance.
        type: boolean
      executionPriorityCapabilities:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2PriorityCapabilities'
        description: Supported execution priority range.
    type: object
  BuildBazelRemoteExecutionV2ExecutionPolicy:
    description: An `ExecutionPolicy` can be used to control the scheduling of the action.
    properties:
      priority:
        description: |-
          The priority (relative importance) of this action. Generally, a lower value
          means that the action should be run sooner than actions having a greater
          priority value, but the interpretation of a given value is server-
          dependent. A priority of 0 means the *default* priority. Priorities may be
          positive or negative, and such actions should run later or sooner than
          actions having the default priority, respectively. The particular semantics
          of this field is up to the server. In particular, every server will have
          their own supported range of priorities, and will decide how these map into
          scheduling policy.
        format: int32
        type: integer
    type: object
  BuildBazelRemoteExecutionV2FileNode:
    description: A `FileNode` represents a single file and associated metadata.
    properties:
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The digest of the file's content.
      isExecutable:
        description: 'True if file is executable, false otherwise.'
        type: boolean
      name:
        description: The name of the file.
        type: string
    type: object
  BuildBazelRemoteExecutionV2FindMissingBlobsRequest:
    description: |-
      A request message for
      ContentAddressableStorage.FindMissingBlobs.
    properties:
      blobDigests:
        description: A list of the blobs to check.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        type: array
    type: object
  BuildBazelRemoteExecutionV2FindMissingBlobsResponse:
    description: |-
      A response message for
      ContentAddressableStorage.FindMissingBlobs.
    properties:
      missingBlobDigests:
        description: A list of the blobs requested *not* present in the storage.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        type: array
    type: object
  BuildBazelRemoteExecutionV2GetTreeResponse:
    description: |-
      A response message for
      ContentAddressableStorage.GetTree.
    properties:
      directories:
        description: The directories descended from the requested root.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2Directory'
        type: array
      nextPageToken:
        description: |-
          If present, signifies that there are more results which the client can
          retrieve by passing this as the page_token in a subsequent
          request.
          If empty, signifies that this is the last page of results.
        type: string
    type: object
  BuildBazelRemoteExecutionV2LogFile:
    description: A `LogFile` is a log stored in the CAS.
    properties:
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The digest of the log contents.
      humanReadable:
        description: |-
          This is a hint as to the purpose of the log, and is set to true if the log
          is human-readable text that can be usefully displayed to a user, and false
          otherwise. For instance, if a command-line client wishes to print the
          server logs to the terminal for a failed action, this allows it to avoid
          displaying a binary file.
        type: boolean
    type: object
  BuildBazelRemoteExecutionV2OutputDirectory:
    description: |-
      An `OutputDirectory` is the output in an `ActionResult` corresponding to a
      directory's full contents rather than a single file.
    properties:
      path:
        description: |-
          The full path of the directory relative to the working directory. The path
          separator is a forward slash `/`. Since this is a relative path, it MUST
          NOT begin with a leading forward slash. The empty string value is allowed,
          and it denotes the entire working directory.
        type: string
      treeDigest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: |-
          The digest of the encoded
          Tree proto containing the
          directory's contents.
    type: object
  BuildBazelRemoteExecutionV2OutputFile:
    description: |-
      An `OutputFile` is similar to a
      FileNode, but it is used as an
      output in an `ActionResult`. It allows a full file path rather than
      only a name.

      `OutputFile` is binary-compatible with `FileNode`.
    properties:
      digest:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Digest'
        description: The digest of the file's content.
      isExecutable:
        description: 'True if file is executable, false otherwise.'
        type: boolean
      path:
        description: |-
          The full path of the file relative to the working directory, including the
          filename. The path separator is a forward slash `/`. Since this is a
          relative path, it MUST NOT begin with a leading forward slash.
        type: string
    type: object
  BuildBazelRemoteExecutionV2OutputSymlink:
    description: |-
      An `OutputSymlink` is similar to a
      Symlink, but it is used as an
      output in an `ActionResult`.

      `OutputSymlink` is binary-compatible with `SymlinkNode`.
    properties:
      path:
        description: |-
          The full path of the symlink relative to the working directory, including the
          filename. The path separator is a forward slash `/`. Since this is a
          relative path, it MUST NOT begin with a leading forward slash.
        type: string
      target:
        description: |-
          The target path of the symlink. The path separator is a forward slash `/`.
          The target path can be relative to the parent directory of the symlink or
          it can be an absolute path starting with `/`. Support for absolute paths
          can be checked using the Capabilities
          API. The canonical form forbids the substrings `/./` and `//` in the target
          path. `..` components are allowed anywhere in the target path.
        type: string
    type: object
  BuildBazelRemoteExecutionV2Platform:
    description: |-
      A `Platform` is a set of requirements, such as hardware, operating system, or
      compiler toolchain, for an
      Action's execution
      environment. A `Platform` is represented as a series of key-value pairs
      representing the properties that are required of the platform.
    properties:
      properties:
        description: |-
          The properties that make up this platform. In order to ensure that
          equivalent `Platform`s always hash to the same value, the properties MUST
          be lexicographically sorted by name, and then by value. Sorting of strings
          is done by code point, equivalently, by the UTF-8 bytes.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2PlatformProperty'
        type: array
    type: object
  BuildBazelRemoteExecutionV2PlatformProperty:
    description: |-
      A single property for the environment. The server is responsible for
      specifying the property `name`s that it accepts. If an unknown `name` is
      provided in the requirements for an
      Action, the server SHOULD
      reject the execution request. If permitted by the server, the same `name`
      may occur multiple times.

      The server is also responsible for specifying the interpretation of
      property `value`s. For instance, a property describing how much RAM must be
      available may be interpreted as allowing a worker with 16GB to fulfill a
      request for 8GB, while a property describing the OS environment on which
      the action must be performed may require an exact match with the worker's
      OS.

      The server MAY use the `value` of one or more properties to determine how
      it sets up the execution environment, such as by making specific system
      files available to the worker.
    properties:
      name:
        description: The property name.
        type: string
      value:
        description: The property value.
        type: string
    type: object
  BuildBazelRemoteExecutionV2PriorityCapabilities:
    description: |-
      Allowed values for priority in
      ResultsCachePolicy
      Used for querying both cache and execution valid priority ranges.
    properties:
      priorities:
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange'
        type: array
    type: object
  BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange:
    description: 'Supported range of priorities, including boundaries.'
    properties:
      maxPriority:
        format: int32
        type: integer
      minPriority:
        format: int32
        type: integer
    type: object
  BuildBazelRemoteExecutionV2RequestMetadata:
    description: |-
      An optional Metadata to attach to any RPC request to tell the server about an
      external context of the request. The server may use this for logging or other
      purposes. To use it, the client attaches the header to the call using the
      canonical proto serialization:

      * name: `build.bazel.remote.execution.v2.requestmetadata-bin`
      * contents: the base64 encoded binary `RequestMetadata` message.
    properties:
      actionId:
        description: |-
          An identifier that ties multiple requests to the same action.
          For example, multiple requests to the CAS, Action Cache, and Execution
          API are used in order to compile foo.cc.
        type: string
      correlatedInvocationsId:
        description: |-
          An identifier to tie multiple tool invocations together. For example,
          runs of foo_test, bar_test and baz_test on a post-submit of a given patch.
        type: string
      toolDetails:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ToolDetails'
        description: The details for the tool invoking the requests.
      toolInvocationId:
        description: |-
          An identifier that ties multiple actions together to a final result.
          For example, multiple actions are required to build and run foo_test.
        type: string
    type: object
  BuildBazelRemoteExecutionV2ResultsCachePolicy:
    description: |-
      A `ResultsCachePolicy` is used for fine-grained control over how action
      outputs are stored in the CAS and Action Cache.
    properties:
      priority:
        description: |-
          The priority (relative importance) of this content in the overall cache.
          Generally, a lower value means a longer retention time or other advantage,
          but the interpretation of a given value is server-dependent. A priority of
          0 means a *default* value, decided by the server.

          The particular semantics of this field is up to the server. In particular,
          every server will have their own supported range of priorities, and will
          decide how these map into retention/eviction policy.
        format: int32
        type: integer
    type: object
  BuildBazelRemoteExecutionV2ServerCapabilities:
    description: |-
      A response message for
      Capabilities.GetCapabilities.
    properties:
      cacheCapabilities:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2CacheCapabilities'
        description: Capabilities of the remote cache system.
      deprecatedApiVersion:
        $ref: '#/definitions/BuildBazelSemverSemVer'
        description: 'Earliest RE API version supported, including deprecated versions.'
      executionCapabilities:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2ExecutionCapabilities'
        description: Capabilities of the remote execution system.
      highApiVersion:
        $ref: '#/definitions/BuildBazelSemverSemVer'
        description: Latest RE API version supported.
      lowApiVersion:
        $ref: '#/definitions/BuildBazelSemverSemVer'
        description: Earliest non-deprecated RE API version supported.
    type: object
  BuildBazelRemoteExecutionV2SymlinkNode:
    description: A `SymlinkNode` represents a symbolic link.
    properties:
      name:
        description: The name of the symlink.
        type: string
      target:
        description: |-
          The target path of the symlink. The path separator is a forward slash `/`.
          The target path can be relative to the parent directory of the symlink or
          it can be an absolute path starting with `/`. Support for absolute paths
          can be checked using the Capabilities
          API. The canonical form forbids the substrings `/./` and `//` in the target
          path. `..` components are allowed anywhere in the target path.
        type: string
    type: object
  BuildBazelRemoteExecutionV2ToolDetails:
    description: Details for the tool used to call the API.
    properties:
      toolName:
        description: 'Name of the tool, e.g. bazel.'
        type: string
      toolVersion:
        description: 'Version of the tool used for the request, e.g. 5.0.3.'
        type: string
    type: object
  BuildBazelRemoteExecutionV2Tree:
    description: |-
      A `Tree` contains all the
      Directory protos in a
      single directory Merkle tree, compressed into one message.
    properties:
      children:
        description: |-
          All the child directories: the directories referred to by the root and,
          recursively, all its children. In order to reconstruct the directory tree,
          the client must take the digests of each of the child directories and then
          build up a tree starting from the `root`.
        items:
          $ref: '#/definitions/BuildBazelRemoteExecutionV2Directory'
        type: array
      root:
        $ref: '#/definitions/BuildBazelRemoteExecutionV2Directory'
        description: The root directory in the tree.
    type: object
  BuildBazelRemoteExecutionV2WaitExecutionRequest:
    description: |-
      A request message for
      WaitExecution.
    properties: {}
    type: object
  BuildBazelSemverSemVer:
    description: The full version of a given tool.
    properties:
      major:
        description: 'The major version, e.g 10 for 10.2.3.'
        format: int32
        type: integer
      minor:
        description: 'The minor version, e.g. 2 for 10.2.3.'
        format: int32
        type: integer
      patch:
        description: 'The patch version, e.g 3 for 10.2.3.'
        format: int32
        type: integer
      prerelease:
        description: |-
          The pre-release version. Either this field or major/minor/patch fields
          must be filled. They are mutually exclusive. Pre-release versions are
          assumed to be earlier than any released versions.
        type: string
    type: object
  GoogleDevtoolsRemotebuildbotCommandDurations:
    description: |-
      CommandDuration contains the various duration metrics tracked when a bot
      performs a command.
    properties:
      dockerPrep:
        description: |-
          The time spent preparing the command to be run in a Docker container
          (includes pulling the Docker image, if necessary).
        format: google-duration
        type: string
      download:
        description: |-
          The time spent downloading the input files and constructing the working
          directory.
        format: google-duration
        type: string
      execution:
        description: 'The time spent executing the command (i.e., doing useful work).'
        format: google-duration
        type: string
      isoPrepDone:
        description: The timestamp when preparation is done and bot starts downloading files.
        format: google-datetime
        type: string
      overall:
        description: 'The time spent completing the command, in total.'
        format: google-duration
        type: string
      stdout:
        description: The time spent uploading the stdout logs.
        format: google-duration
        type: string
      upload:
        description: The time spent uploading the output files.
        format: google-duration
        type: string
    type: object
  GoogleDevtoolsRemotebuildbotCommandEvents:
    description: |-
      CommandEvents contains counters for the number of warnings and errors
      that occurred during the execution of a command.
    properties:
      dockerCacheHit:
        description: |-
          Indicates whether we are using a cached Docker image (true) or had to pull
          the Docker image (false) for this command.
        type: boolean
      inputCacheMiss:
        description: The input cache miss ratio.
        format: float
        type: number
      numErrors:
        description: The number of errors reported.
        format: uint64
        type: string
      numWarnings:
        description: The number of warnings reported.
        format: uint64
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest:
    description: The request used for `CreateInstance`.
    properties:
      instance:
        $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance'
        description: |-
          Specifies the instance to create.
          The name in the instance, if specified in the instance, is ignored.
      instanceId:
        description: |-
          ID of the created instance.
          A valid `instance_id` must:
          be 6-50 characters long,
          contain only lowercase letters, digits, hyphens and underscores,
          start with a lowercase letter, and
          end with a lowercase letter or a digit.
        type: string
      parent:
        description: |-
          Resource name of the project containing the instance.
          Format: `projects/[PROJECT_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateWorkerPoolRequest:
    description: The request used for `CreateWorkerPool`.
    properties:
      parent:
        description: |-
          Resource name of the instance in which to create the new worker pool.
          Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.
        type: string
      poolId:
        description: |-
          ID of the created worker pool.
          A valid pool ID must:
          be 6-50 characters long,
          contain only lowercase letters, digits, hyphens and underscores,
          start with a lowercase letter, and
          end with a lowercase letter or a digit.
        type: string
      workerPool:
        $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool'
        description: |-
          Specifies the worker pool to create.
          The name in the worker pool, if specified, is ignored.
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest:
    description: The request used for `DeleteInstance`.
    properties:
      name:
        description: |-
          Name of the instance to delete.
          Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest:
    description: The request used for DeleteWorkerPool.
    properties:
      name:
        description: |-
          Name of the worker pool to delete.
          Format:
          `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetInstanceRequest:
    description: The request used for `GetInstance`.
    properties:
      name:
        description: |-
          Name of the instance to retrieve.
          Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest:
    description: The request used for GetWorkerPool.
    properties:
      name:
        description: |-
          Name of the worker pool to retrieve.
          Format:
          `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance:
    description: |-
      Instance conceptually encapsulates all Remote Build Execution resources
      for remote builds.
      An instance consists of storage and compute resources (for example,
      `ContentAddressableStorage`, `ActionCache`, `WorkerPools`) used for
      running remote builds.
      All Remote Build Execution API calls are scoped to an instance.
    properties:
      location:
        description: The location is a GCP region. Currently only `us-central1` is supported.
        type: string
      loggingEnabled:
        description: Output only. Whether stack driver logging is enabled for the instance.
        type: boolean
      name:
        description: |-
          Output only. Instance resource name formatted as:
          `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.
          Name should not be populated when creating an instance since it is provided
          in the `instance_id` field.
        type: string
      state:
        description: Output only. State of the instance.
        enum:
          - STATE_UNSPECIFIED
          - CREATING
          - RUNNING
          - INACTIVE
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest:
    properties:
      parent:
        description: |-
          Resource name of the project.
          Format: `projects/[PROJECT_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesResponse:
    properties:
      instances:
        description: The list of instances in a given project.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance'
        type: array
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsRequest:
    properties:
      parent:
        description: |-
          Resource name of the instance.
          Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.
        type: string
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse:
    properties:
      workerPools:
        description: The list of worker pools in a given instance.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool'
        type: array
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest:
    description: The request used for UpdateWorkerPool.
    properties:
      updateMask:
        description: |-
          The update mask applies to worker_pool. For the `FieldMask` definition,
          see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
          If an empty update_mask is provided, only the non-default valued field in
          the worker pool field will be updated. Note that in order to update a field
          to the default value (zero, false, empty string) an explicit update_mask
          must be provided.
        format: google-fieldmask
        type: string
      workerPool:
        $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool'
        description: Specifies the worker pool to update.
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig:
    description: |-
      Defines the configuration to be used for a creating workers in
      the worker pool.
    properties:
      diskSizeGb:
        description: |-
          Required. Size of the disk attached to the worker, in GB.
          See https://cloud.google.com/compute/docs/disks/
        format: int64
        type: string
      diskType:
        description: |-
          Required. Disk Type to use for the worker.
          See [Storage options](https://cloud.google.com/compute/docs/disks/#introduction).
          Currently only `pd-standard` is supported.
        type: string
      machineType:
        description: |-
          Required. Machine type of the worker, such as `n1-standard-2`.
          See https://cloud.google.com/compute/docs/machine-types for a list of
          supported machine types. Note that `f1-micro` and `g1-small` are not yet
          supported.
        type: string
      minCpuPlatform:
        description: |-
          Minimum CPU platform to use when creating the worker.
          See [CPU Platforms](https://cloud.google.com/compute/docs/cpu-platforms).
        type: string
      reserved:
        description: |-
          Determines whether the worker is reserved (equivalent to a Compute Engine
          on-demand VM and therefore won't be preempted).
          See [Preemptible VMs](https://cloud.google.com/preemptible-vms/) for more
          details.
        type: boolean
    type: object
  GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool:
    description: A worker pool resource in the Remote Build Execution API.
    properties:
      name:
        description: |-
          WorkerPool resource name formatted as:
          `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`.
          name should not be populated when creating a worker pool since it is
          provided in the `poolId` field.
        type: string
      state:
        description: Output only. State of the worker pool.
        enum:
          - STATE_UNSPECIFIED
          - CREATING
          - RUNNING
          - UPDATING
          - DELETING
          - INACTIVE
        type: string
      workerConfig:
        $ref: '#/definitions/GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig'
        description: |-
          Specifies the properties, such as machine type and disk size, used for
          creating workers in a worker pool.
      workerCount:
        description: |-
          The desired number of workers in the worker pool. Must be a value between
          0 and 1000.
        format: int64
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testActionResult:
    description: |-
      An ActionResult represents the result of an
      Action being run.
    properties:
      exitCode:
        description: The exit code of the command.
        format: int32
        type: integer
      outputDirectories:
        description: |-
          The output directories of the action. For each output directory requested
          in the `output_directories` field of the Action, if the corresponding
          directory existed after the action completed, a single entry will be
          present in the output list, which will contain the digest of
          a Tree message containing
          the directory tree, and the path equal exactly to the corresponding Action
          output_directories member.
          As an example, suppose the Action had an output directory `a/b/dir` and the
          execution produced the following contents in `a/b/dir`: a file named `bar`
          and a directory named `foo` with an executable file named `baz`. Then,
          output_directory will contain (hashes shortened for readability):

          ```json
          // OutputDirectory proto:
          {
            path: "a/b/dir"
            tree_digest: {
              hash: "4a73bc9d03...",
              size: 55
            }
          }
          // Tree proto with hash "4a73bc9d03..." and size 55:
          {
            root: {
              files: [
                {
                  name: "bar",
                  digest: {
                    hash: "4a73bc9d03...",
                    size: 65534
                  }
                }
              ],
              directories: [
                {
                  name: "foo",
                  digest: {
                    hash: "4cf2eda940...",
                    size: 43
                  }
                }
              ]
            }
            children : {
              // (Directory proto with hash "4cf2eda940..." and size 43)
              files: [
                {
                  name: "baz",
                  digest: {
                    hash: "b2c941073e...",
                    size: 1294,
                  },
                  is_executable: true
                }
              ]
            }
          }
          ```
        items:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testOutputDirectory'
        type: array
      outputFiles:
        description: |-
          The output files of the action. For each output file requested in the
          `output_files` field of the Action, if the corresponding file existed after
          the action completed, a single entry will be present in the output list.

          If the action does not produce the requested output, or produces a
          directory where a regular file is expected or vice versa, then that output
          will be omitted from the list. The server is free to arrange the output
          list as desired; clients MUST NOT assume that the output list is sorted.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testOutputFile'
        type: array
      stderrDigest:
        $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testDigest'
        description: |-
          The digest for a blob containing the standard error of the action, which
          can be retrieved from the
          ContentAddressableStorage.
          See `stderr_raw` for when this will be set.
      stderrRaw:
        description: |-
          The standard error buffer of the action. The server will determine, based
          on the size of the buffer, whether to return it in raw form or to return
          a digest in `stderr_digest` that points to the buffer. If neither is set,
          then the buffer is empty. The client SHOULD NOT assume it will get one of
          the raw buffer or a digest on any given request and should be prepared to
          handle either.
        format: byte
        type: string
      stdoutDigest:
        $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testDigest'
        description: |-
          The digest for a blob containing the standard output of the action, which
          can be retrieved from the
          ContentAddressableStorage.
          See `stdout_raw` for when this will be set.
      stdoutRaw:
        description: |-
          The standard output buffer of the action. The server will determine, based
          on the size of the buffer, whether to return it in raw form or to return
          a digest in `stdout_digest` that points to the buffer. If neither is set,
          then the buffer is empty. The client SHOULD NOT assume it will get one of
          the raw buffer or a digest on any given request and should be prepared to
          handle either.
        format: byte
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testCommand:
    description: |-
      A `Command` is the actual command executed by a worker running an
      Action.

      Except as otherwise required, the environment (such as which system
      libraries or binaries are available, and what filesystems are mounted where)
      is defined by and specific to the implementation of the remote execution API.
    properties:
      arguments:
        description: |-
          The arguments to the command. The first argument must be the path to the
          executable, which must be either a relative path, in which case it is
          evaluated with respect to the input root, or an absolute path.

          The working directory will always be the input root.
        items:
          type: string
        type: array
      environmentVariables:
        description: |-
          The environment variables to set when running the program. The worker may
          provide its own default environment variables; these defaults can be
          overridden using this field. Additional variables can also be specified.

          In order to ensure that equivalent `Command`s always hash to the same
          value, the environment variables MUST be lexicographically sorted by name.
          Sorting of strings is done by code point, equivalently, by the UTF-8 bytes.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testCommandEnvironmentVariable'
        type: array
    type: object
  GoogleDevtoolsRemoteexecutionV1testCommandEnvironmentVariable:
    description: |-
      An `EnvironmentVariable` is one variable to set in the running program's
      environment.
    properties:
      name:
        description: The variable name.
        type: string
      value:
        description: The variable value.
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testDigest:
    description: |-
      A content digest. A digest for a given blob consists of the size of the blob
      and its hash. The hash algorithm to use is defined by the server, but servers
      SHOULD use SHA-256.

      The size is considered to be an integral part of the digest and cannot be
      separated. That is, even if the `hash` field is correctly specified but
      `size_bytes` is not, the server MUST reject the request.

      The reason for including the size in the digest is as follows: in a great
      many cases, the server needs to know the size of the blob it is about to work
      with prior to starting an operation with it, such as flattening Merkle tree
      structures or streaming it to a worker. Technically, the server could
      implement a separate metadata store, but this results in a significantly more
      complicated implementation as opposed to having the client specify the size
      up-front (or storing the size along with the digest in every message where
      digests are embedded). This does mean that the API leaks some implementation
      details of (what we consider to be) a reasonable server implementation, but
      we consider this to be a worthwhile tradeoff.

      When a `Digest` is used to refer to a proto message, it always refers to the
      message in binary encoded form. To ensure consistent hashing, clients and
      servers MUST ensure that they serialize messages according to the following
      rules, even if there are alternate valid encodings for the same message.
      - Fields are serialized in tag order.
      - There are no unknown fields.
      - There are no duplicate fields.
      - Fields are serialized according to the default semantics for their type.

      Most protocol buffer implementations will always follow these rules when
      serializing, but care should be taken to avoid shortcuts. For instance,
      concatenating two messages to merge them may produce duplicate fields.
    properties:
      hash:
        description: |-
          The hash. In the case of SHA-256, it will always be a lowercase hex string
          exactly 64 characters long.
        type: string
      sizeBytes:
        description: 'The size of the blob, in bytes.'
        format: int64
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testDirectory:
    description: |-
      A `Directory` represents a directory node in a file tree, containing zero or
      more children FileNodes
      and DirectoryNodes.
      Each `Node` contains its name in the directory, the digest of its content
      (either a file blob or a `Directory` proto), as well as possibly some
      metadata about the file or directory.

      In order to ensure that two equivalent directory trees hash to the same
      value, the following restrictions MUST be obeyed when constructing a
      a `Directory`:
        - Every child in the directory must have a path of exactly one segment.
          Multiple levels of directory hierarchy may not be collapsed.
        - Each child in the directory must have a unique path segment (file name).
        - The files and directories in the directory must each be sorted in
          lexicographical order by path. The path strings must be sorted by code
          point, equivalently, by UTF-8 bytes.

      A `Directory` that obeys the restrictions is said to be in canonical form.

      As an example, the following could be used for a file named `bar` and a
      directory named `foo` with an executable file named `baz` (hashes shortened
      for readability):

      ```json
      // (Directory proto)
      {
        files: [
          {
            name: "bar",
            digest: {
              hash: "4a73bc9d03...",
              size: 65534
            }
          }
        ],
        directories: [
          {
            name: "foo",
            digest: {
              hash: "4cf2eda940...",
              size: 43
            }
          }
        ]
      }

      // (Directory proto with hash "4cf2eda940..." and size 43)
      {
        files: [
          {
            name: "baz",
            digest: {
              hash: "b2c941073e...",
              size: 1294,
            },
            is_executable: true
          }
        ]
      }
      ```
    properties:
      directories:
        description: The subdirectories in the directory.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testDirectoryNode'
        type: array
      files:
        description: The files in the directory.
        items:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testFileNode'
        type: array
    type: object
  GoogleDevtoolsRemoteexecutionV1testDirectoryNode:
    description: |-
      A `DirectoryNode` represents a child of a
      Directory which is itself
      a `Directory` and its associated metadata.
    properties:
      digest:
        $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testDigest'
        description: |-
          The digest of the
          Directory object
          represented. See Digest
          for information about how to take the digest of a proto message.
      name:
        description: The name of the directory.
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testExecuteOperationMetadata:
    description: |-
      Metadata about an ongoing
      execution, which
      will be contained in the metadata
      field of the
      Operation.
    properties:
      actionDigest:
        $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testDigest'
        description: |-
          The digest of the Action
          being executed.
      stage:
        enum:
          - UNKNOWN
          - CACHE_CHECK
          - QUEUED
          - EXECUTING
          - COMPLETED
        type: string
      stderrStreamName:
        description: |-
          If set, the client can use this name with
          ByteStream.Read to stream the
          standard error.
        type: string
      stdoutStreamName:
        description: |-
          If set, the client can use this name with
          ByteStream.Read to stream the
          standard output.
        type: string
    type: object
  GoogleDevtoolsRemoteexecutionV1testExecuteResponse:
    description: |-
      The response message for
      Execution.Execute,
      which will be contained in the response
      field of the
      Operation.
    properties:
      cachedResult:
        description: 'True if the result was served from cache, false if it was executed.'
        type: boolean
      result:
        $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testActionResult'
        description: The result of the action.
      serverLogs:
        additionalProperties:
          $ref: '#/definitions/GoogleDevtoolsRemoteexecutionV1testLogFile'
        description: |-
          An optional list of additional log outputs the server wishes to provide. A
          server can use this to return execution-specific logs however it wishes.
          This is intended primarily to make it easier for users to debug issues that
          may be outside of the actual job execution, such as by identifying the
          worker executing the action or by providing logs from the worker's setup
          phase. The keys SHOULD be human readable so that a client can display them
          to a user.
        type: object
      status:
        $ref: '#/definitions/GoogleRpcStatus'
        description: |-
          If the status has a code other than `OK`, it indicates that the action did
          not finish execution. For example, if the operation times out during
          execution, the status will have a `DEADLINE_EXCEEDED` code. Servers MUST
          use this field for errors in execution, rather than the error field on the
          `Operation` object.

          If the status code is other than `OK`, then the result MUST NOT be cached.
          For an error status, the `result` field is optional; the server may
          populate the output-, stdout-, and stderr-related fields if it has any
          information available, such as the stdout and stderr of a timed-out action.
    type: object
  GoogleDevtoolsRemoteexecutionV1testFileNode:
[...]
