openapi: 3.0.0
servers:
  - url: https://api.bitbucket.org/2.0
info:
  contact:
    email: support@bitbucket.org
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
  description: Code against the Bitbucket API to automate simple tasks, embed Bitbucket data into your own site, build mobile or desktop apps, or even add custom UI add-ons into Bitbucket itself using the Connect framework.
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  title: Bitbucket API
  version: "2.0"
  x-apisguru-categories:
    - developer_tools
    - collaboration
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_d301sr5gafysq2.cloudfront.net_0c55837759e5_img_homepage_bitbucket-logo-blue.svg
  x-origin:
    - format: openapi
      url: https://bitbucket.org/api/swagger.json
      version: "3.0"
  x-providerName: bitbucket.org
  x-tags:
    - code repository
    - code collaboration
    - git
externalDocs:
  url: https://bitbucket.org/api
tags:
  - description: |
      The addon resource is intended to use used by Bitbucket Cloud Connect
      Apps, and only supports JWT authentication.
    name: Addon
  - description: |
      Repository owners and administrators can set branch management
      rules on a repository that control what can be pushed by whom.
      Through these rules, you can enforce a project or team
      workflow. For example, owners or administrators can:

      * Limit push powers
      * Prevent branch deletion
      * Prevent history re-writes (Git only)
    name: Branch restrictions
  - description: |
      The branching model resource is used to modify the branching model
      for a repository.

      You can use the branching model to define a branch based workflow
      for your repositories. When you map your workflow to branch types,
      you can ensure that branches are named consistently by configuring
      which branch types to make available.
    name: Branching model
  - description: |
      Commit statuses provide a way to tag commits with meta data,
      like automated build results.
    name: Commit statuses
  - description: |
      These are the repository's commits. They are paginated and returned in
      reverse chronological order, similar to the output of git log.
    name: Commits
  - description: |
      Teams are deploying code faster than ever, thanks to continuous
      delivery practices and tools like Bitbucket Pipelines. Bitbucket
      Deployments gives teams visibility into their deployment
      environments and helps teams to track how far changes have
      progressed in their deployment pipeline.
    name: Deployments
  - description: Access the list of download links associated with the repository.
    name: Downloads
  - description: |
      The issue resources provide functionality for getting information on
      issues in an issue tracker, creating new issues, updating them and deleting
      them.

      You can access public issues without authentication, but you can't gain access
      to private repositories' issues. By authenticating, you will get the ability
      to create issues, as well as access to updating data or deleting issues you
      have access to.
    name: Issue tracker
  - description: |
      Bitbucket Pipelines brings continuous delivery to Bitbucket
      Cloud, empowering teams with full branching to deployment
      visibility and faster feedback loops.
    name: Pipelines
  - description: |
      Bitbucket Cloud projects make it easier for teams to focus on
      a goal, product, or process by organizing their repositories.
    name: Projects
  - description: |
      Pull requests are a feature that makes it easier for developers
      to collaborate using Bitbucket. They provide a user-friendly web
      interface for discussing proposed changes before integrating them
      into the official project.
    name: Pullrequests
  - description: |
      The refs resource allows you access branches and tags in a repository.
      By default, results will be in the order the underlying source control
      system returns them and identical to the ordering one sees when running
      "$ git show-ref". Note that this follows simple lexical ordering of the
       ref names.
    name: Refs
  - description: |
      Code insights provides reports, annotations, and metrics to help you
      and your team improve code quality in pull requests throughout the code
      review process. Some of the available code insights are static analysis
      reports, security scan results, artifact links, unit tests, and build
      status.
    name: Reports
  - description: |
      A Git repository is a virtual storage of your project. It
      allows you to save versions of your code, which you can access
      when needed. The repo resource allows you to access public repos,
      or repos that belong to a specific workspace.
    name: Repositories
  - description: |
      Snippets allow you share code segments or files with yourself, members of
      your workspace, or the world.

      Like pull requests, repositories and workspaces, the full set of snippets
      is defined by what the current user has access to. This includes all
      snippets owned by any of the workspaces the user is a member of, or
      snippets by other users that the current user is either watching or has
       collaborated on (for instance by commenting on it).
    name: Snippets
  - description: |-
      Browse the source code in the repository and
                                    create new commits by uploading.
    name: Source
  - description: |
      The SSH resource allows you to manage SSH keys.
    name: Ssh
  - description: |
      The teams resource has been deprecated, and the workspaces
      endpoint should be used instead.

      The teams resource returns all the teams that the authenticated
      user is associated with.
    name: Teams
  - description: |
      The users resource allows you to access public information
      associated with a user account. Most resources in the users
      endpoint have been deprecated in favor of workspaces.
    name: Users
  - description: |
      Webhooks provide a way to configure Bitbucket Cloud to make requests to
      your server (or another external service) whenever certain events occur in
      Bitbucket Cloud.

      A webhook consists of:

      * A subject -- The resource that generates the events. Currently, this resource
      is the repository, user account, or team where you create the webhook.
      * One or more event -- The default event is a repository push, but you can
      select multiple events that can trigger the webhook.
      * A URL -- The endpoint where you want Bitbucket to send the event payloads
      when a matching event happens.

      There are two parts to getting a webhook to work: creating the webhook and
      triggering the webhook. After you create a webhook for an event, every time
      that event occurs, Bitbucket sends a payload request that describes the event
      to the specified URL. Thus, you can think of webhooks as a kind of
      notification system.

      Use webhooks to integrate applications with Bitbucket Cloud. The following
      use cases provides examples of when you would want to use webhooks:

      * Every time a user pushes commits in a repository, you may want to notify
      your CI server to start a build.
      * Every time a user pushes commits or creates a pull request, you may want to
      display a notification in your application.
    name: Webhooks
  - description: |
      The wiki is a simple place to keep documents. Some people use it
      as their project home page. The wiki is a Git repository, so you
      can clone it and edit it like any other source files.
    name: Wiki
  - description: |
      A workspace is where you create repositories, collaborate on
      your code, and organize different streams of work in your Bitbucket
      Cloud account. Workspaces replace the use of teams and users in API
      calls.
    name: Workspaces
paths:
  /addon:
    delete:
      description: |-
        Deletes the application for the user.

        This endpoint is intended to be used by Bitbucket Connect apps
        and only supports JWT authentication -- that is how Bitbucket
        identifies the particular installation of the app. Developers
        with applications registered in the "Develop Apps" section
        of Bitbucket Marketplace need not use this endpoint as
        updates for those applications can be sent out via the
        UI of that section.

        ```
        $ curl -X DELETE https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>"
        ```
      responses:
        "204":
          description: Request has succeeded. The application has been deleted for the user.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: No authorization.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Improper authentication.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Delete an app
      tags:
        - Addon
    parameters: []
    put:
      description: |-
        Updates the application installation for the user.

        This endpoint is intended to be used by Bitbucket Connect apps
        and only supports JWT authentication -- that is how Bitbucket
        identifies the particular installation of the app. Developers
        with applications registered in the "Develop Apps" section
        of Bitbucket need not use this endpoint as updates for those
        applications can be sent out via the UI of that section.

        Passing an empty body will update the installation using the
        existing descriptor URL.

        ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{}'
        ```

        The new `descriptor` for the installation can be also provided
        in the body directly.

        ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{"descriptor": $NEW_DESCRIPTOR}'
        ```

        In both these modes the URL of the descriptor cannot be changed. To
        change the descriptor location and upgrade an installation
        the request must be made exclusively with a `descriptor_url`.

         ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{"descriptor_url": $NEW_URL}'
        ```

        The `descriptor_url` must exactly match the marketplace registration
        that Atlassian has for the application. Contact your Atlassian
        developer advocate to update this registration. Once the registration
        has been updated you may call this resource for each installation.

        Note that the scopes of the application cannot be increased
        in the new descriptor nor reduced to none.
      responses:
        "204":
          description: Request has succeeded. The installation has been updated to the new descriptor.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Scopes have increased or decreased to none.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: No authorization.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Improper authentication.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Update an installed app
      tags:
        - Addon
  /addon/linkers:
    get:
      description: |-
        Gets a list of all [linkers](/cloud/bitbucket/modules/linker/)
        for the authenticated application.
      responses:
        "200":
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: List linkers for an app
      tags:
        - Addon
    parameters: []
  "/addon/linkers/{linker_key}":
    get:
      description: |-
        Gets a [linker](/cloud/bitbucket/modules/linker/) specified by `linker_key`
        for the authenticated application.
      responses:
        "200":
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Get a linker for an app
      tags:
        - Addon
    parameters:
      - description: |-
          The unique key of a [linker module](/cloud/bitbucket/modules/linker/)
          as defined in an application descriptor.
        in: path
        name: linker_key
        required: true
        schema:
          type: string
  "/addon/linkers/{linker_key}/values":
    delete:
      description: |-
        Delete all [linker](/cloud/bitbucket/modules/linker/) values for the
        specified linker of the authenticated application.
      responses:
        "204":
          description: Successfully deleted the linker values.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Delete all linker values
      tags:
        - Addon
    get:
      description: |-
        Gets a list of all [linker](/cloud/bitbucket/modules/linker/) values for the
        specified linker of the authenticated application.

        A linker value lets applications supply values to modify its regular expression.

        The base regular expression must use a Bitbucket-specific match group `(?K)`
        which will be translated to `([\w\-]+)`. A value must match this pattern.

        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        "200":
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: List linker values for a linker
      tags:
        - Addon
    parameters:
      - description: |-
          The unique key of a [linker module](/cloud/bitbucket/modules/linker/)
          as defined in an application descriptor.
        in: path
        name: linker_key
        required: true
        schema:
          type: string
    post:
      description: |-
        Creates a [linker](/cloud/bitbucket/modules/linker/) value for the specified
        linker of authenticated application.

        A linker value lets applications supply values to modify its regular expression.

        The base regular expression must use a Bitbucket-specific match group `(?K)`
        which will be translated to `([\w\-]+)`. A value must match this pattern.

        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        "201":
          description: Successfully created the linker value.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker does not exist.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker already has the value being added.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Create a linker value
      tags:
        - Addon
    put:
      description: |-
        Bulk update [linker](/cloud/bitbucket/modules/linker/) values for the specified
        linker of the authenticated application.

        A linker value lets applications supply values to modify its regular expression.

        The base regular expression must use a Bitbucket-specific match group `(?K)`
        which will be translated to `([\w\-]+)`. A value must match this pattern.

        [Read more about linker values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        "204":
          description: Successfully updated the linker values.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Invalid input.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Update a linker value
      tags:
        - Addon
  "/addon/linkers/{linker_key}/values/{value_id}":
    delete:
      description: |-
        Delete a single [linker](/cloud/bitbucket/modules/linker/) value
        of the authenticated application.
      responses:
        "204":
          description: Successfully deleted the linker value.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker value does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Delete a linker value
      tags:
        - Addon
    get:
      description: |-
        Get a single [linker](/cloud/bitbucket/modules/linker/) value
        of the authenticated application.
      responses:
        "200":
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Authentication must use app JWT
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The linker value does not exist.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Get a linker value
      tags:
        - Addon
    parameters:
      - description: |-
          The unique key of a [linker module](/cloud/bitbucket/modules/linker/)
          as defined in an application descriptor.
        in: path
        name: linker_key
        required: true
        schema:
          type: string
      - description: The numeric ID of the linker value.
        in: path
        name: value_id
        required: true
        schema:
          type: integer
  /hook_events:
    get:
      description: |-
        Returns the webhook resource or subject types on which webhooks can
        be registered.

        Each resource/subject type contains an `events` link that returns the
        paginated list of specific events each individual subject type can
        emit.

        This endpoint is publicly accessible and does not require
        authentication or scopes.

        Example:

        ```
        $ curl https://api.bitbucket.org/2.0/hook_events

        {
            "repository": {
                "links": {
                    "events": {
                        "href": "https://api.bitbucket.org/2.0/hook_events/repository"
                    }
                }
            },
            "workspace": {
                "links": {
                    "events": {
                        "href": "https://api.bitbucket.org/2.0/hook_events/workspace"
                    }
                }
            }
        }
        ```
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subject_types"
          description: A mapping of resource/subject types pointing to their individual event types.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: Get a webhook resource
      tags:
        - Webhooks
    parameters: []
  "/hook_events/{subject_type}":
    get:
      description: |-
        Returns a paginated list of all valid webhook events for the
        specified entity.
        **The team and user webhooks are deprecated, and you should use workspace instead.
        For more information, see [the announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-teams-deprecation/).**

        This is public data that does not require any scopes or authentication.

        Example:

        NOTE: The following example is a truncated response object for the `workspace` `subject_type`.
        We return the same structure for the other `subject_type` objects.

        ```
        $ curl https://api.bitbucket.org/2.0/hook_events/workspace
        {
            "page": 1,
            "pagelen": 30,
            "size": 21,
            "values": [
                {
                    "category": "Repository",
                    "description": "Whenever a repository push occurs",
                    "event": "repo:push",
                    "label": "Push"
                },
                {
                    "category": "Repository",
                    "description": "Whenever a repository fork occurs",
                    "event": "repo:fork",
                    "label": "Fork"
                },
                {
                    "category": "Repository",
                    "description": "Whenever a repository import occurs",
                    "event": "repo:imported",
                    "label": "Import"
                },
                ...
                {
                    "category":"Pull Request",
                    "label":"Approved",
                    "description":"When someone has approved a pull request",
                    "event":"pullrequest:approved"
                },
            ]
        }
        ```
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_hook_events"
          description: A paginated list of webhook types available to subscribe on.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If an invalid `{subject_type}` value was specified.
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      summary: List subscribable webhook types
      tags:
        - Webhooks
    parameters:
      - description: A resource or subject type.
        in: path
        name: subject_type
        required: true
        schema:
          enum:
            - repository
            - workspace
          type: string
  "/pullrequests/{selected_user}":
    get:
      description: |-
        Returns all pull requests authored by the specified user.

        By default only open pull requests are returned. This can be controlled
        using the `state` query parameter. To retrieve pull requests that are
        in one of multiple states, repeat the `state` parameter for each
        individual state.

        This endpoint also supports filtering and sorting of the results. See
        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      parameters:
        - description: Only return pull requests that are in this state. This parameter can be repeated.
          in: query
          name: state
          schema:
            enum:
              - OPEN
              - MERGED
              - DECLINED
              - SUPERSEDED
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_pullrequests"
          description: All pull requests authored by the specified user.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified user does not exist.
      security:
        - oauth2:
            - pullrequest
        - basic: []
        - api_key: []
      summary: List pull requests for a user
      tags:
        - Pullrequests
    parameters:
      - description: |
          This can either be the username of the pull request author, the author's UUID
          surrounded by curly-braces, for example: `{account UUID}`, or the author's Atlassian ID.
        in: path
        name: selected_user
        required: true
        schema:
          type: string
  /repositories:
    get:
      description: |-
        Returns a paginated list of all public repositories.

        This endpoint also supports filtering and sorting of the results. See
        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      parameters:
        - description: |-
            Filter the results to include only repositories created on or
            after this [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601)
             timestamp. Example: `YYYY-MM-DDTHH:mm:ss.sssZ`
          in: query
          name: after
          required: false
          schema:
            type: string
        - description: |
            Filters the result based on the authenticated user's role on each repository.

            * **member**: returns repositories to which the user has explicit read access
            * **contributor**: returns repositories to which the user has explicit write access
            * **admin**: returns repositories to which the user has explicit administrator access
            * **owner**: returns all repositories owned by the current user
          in: query
          name: role
          required: false
          schema:
            enum:
              - admin
              - contributor
              - member
              - owner
            type: string
        - description: |
            Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
            `role` parameter must also be specified.
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: |
            Field by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          in: query
          name: sort
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_repositories"
          description: All public repositories.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: List public repositories
      tags:
        - Repositories
    parameters: []
  "/repositories/{workspace}":
    get:
      description: |-
        Returns a paginated list of all repositories owned by the specified
        workspace.

        The result can be narrowed down based on the authenticated user's role.

        E.g. with `?role=contributor`, only those repositories that the
        authenticated user has write access to are returned (this includes any
        repo the user is an admin on, as that implies write access).

        This endpoint also supports filtering and sorting of the results. See
        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.
      parameters:
        - description: |
            
            Filters the result based on the authenticated user's role on each repository.

            * **member**: returns repositories to which the user has explicit read access
            * **contributor**: returns repositories to which the user has explicit write access
            * **admin**: returns repositories to which the user has explicit administrator access
            * **owner**: returns all repositories owned by the current user
          in: query
          name: role
          required: false
          schema:
            enum:
              - admin
              - contributor
              - member
              - owner
            type: string
        - description: |
            
            Query string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: "

            Field by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).

            \        "
          in: query
          name: sort
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_repositories"
          description: The repositories owned by the specified account.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified account does not exist.
        "410":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified account marked as spam.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: List repositories in a workspace
      tags:
        - Repositories
    parameters:
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
  "/repositories/{workspace}/{repo_slug}":
    delete:
      description: |-
        Deletes the repository. This is an irreversible operation.

        This does not affect its forks.
      parameters:
        - description: |
            If a repository has been moved to a new location, use this parameter to
            show users a friendly message in the Bitbucket UI that the repository
            has moved to a new location. However, a GET to this endpoint will still
            return a 404.
          in: query
          name: redirect_to
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Indicates successful deletion.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the caller either does not have admin access to the repository, or the repository is set to read-only.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist.
      security:
        - oauth2:
            - repository:delete
        - basic: []
        - api_key: []
      summary: Delete a repository
      tags:
        - Repositories
    get:
      description: Returns the object describing this repository.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/repository"
          description: The repository object.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository is private and the authenticated user does not have access to it.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If no repository exists at this location.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Get a repository
      tags:
        - Repositories
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    post:
      description: |-
        Creates a new repository.

        Note: In order to set the project for the newly created repository,
        pass in either the project key or the project UUID as part of the
        request body as shown in the examples below:

        ```
        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "MARS"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding
        ```

        or

        ```
        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "{ba516952-992a-4c2d-acbd-17d502922f96}"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding
        ```

        The project must be assigned for all repositories. If the project is not provided,
        the repository is automatically assigned to the oldest project in the workspace.

        Note: In the examples above, the workspace ID `teamsinspace`,
        and/or the repository name `hablanding` can be replaced by UUIDs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/repository"
        description: The repository that is to be created. Note that most object elements are optional. Elements "owner" and "full_name" are ignored as the URL implies them.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/repository"
          description: The newly created repository.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated.
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Create a repository
      tags:
        - Repositories
    put:
      description: |-
        Since this endpoint can be used to both update and to create a
        repository, the request body depends on the intent.

        #### Creation

        See the POST documentation for the repository endpoint for an example
        of the request body.

        #### Update

        Note: Changing the `name` of the repository will cause the location to
        be changed. This is because the URL of the repo is derived from the
        name (a process called slugification). In such a scenario, it is
        possible for the request to fail if the newly created slug conflicts
        with an existing repository's slug. But if there is no conflict,
        the new location will be returned in the `Location` header of the
        response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/repository"
        description: |
          The repository that is to be updated.

          Note that the elements "owner" and "full_name" are ignored since the
          URL implies them.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/repository"
          description: The existing repository has been updated
          headers:
            Location:
              description: |-
                The location of the repository. This header is only
                provided when the repository's name is changed.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/repository"
          description: A new repository has been created
          headers:
            Location:
              description: The location of the newly created repository
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated.
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Update a repository
      tags:
        - Repositories
  "/repositories/{workspace}/{repo_slug}/branch-restrictions":
    get:
      description: |-
        Returns a paginated list of all branch restrictions on the
        repository.
      parameters:
        - description: Branch restrictions of this type
          in: query
          name: kind
          required: false
          schema:
            type: string
        - description: Branch restrictions applied to branches of this pattern
          in: query
          name: pattern
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_branchrestrictions"
          description: A paginated list of branch restrictions
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: List branch restrictions
      tags:
        - Branch restrictions
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    post:
      description: |-
        Creates a new branch restriction rule for a repository.

        `kind` describes what will be restricted. Allowed values include:
        `push`, `force`, `delete` and `restrict_merges`.

        Different kinds of branch restrictions have different requirements:

        * `push` and `restrict_merges` require `users` and `groups` to be
          specified. Empty lists are allowed, in which case permission is
          denied for everybody.

        The restriction applies to all branches that match. There are
        two ways to match a branch. It is configured in `branch_match_kind`:

        1. `glob`: Matches a branch against the `pattern`. A `'*'` in
           `pattern` will expand to match zero or more characters, and every
           other character matches itself. For example, `'foo*'` will match
           `'foo'` and `'foobar'`, but not `'barfoo'`. `'*'` will match all
           branches.
        2. `branching_model`: Matches a branch against the repository's
           branching model. The `branch_type` controls the type of branch
           to match. Allowed values include: `production`, `development`,
           `bugfix`, `release`, `feature` and `hotfix`.

        The combination of `kind` and match must be unique. This means that
        two `glob` restrictions in a repository cannot have the same `kind` and
        `pattern`. Additionally, two `branching_model` restrictions in a
        repository cannot have the same `kind` and `branch_type`.

        `users` and `groups` are lists of users and groups that are except from
        the restriction. They can only be configured in `push` and
        `restrict_merges` restrictions. The `push` restriction stops a user
        pushing to matching branches unless that user is in `users` or is a
        member of a group in `groups`. The `restrict_merges` stops a user
        merging pull requests to matching branches unless that user is in
        `users` or is a member of a group in `groups`. Adding new users or
        groups to an existing restriction should be done via `PUT`.

        Note that branch restrictions with overlapping matchers is allowed,
        but the resulting behavior may be surprising.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/branchrestriction"
        description: The new rule
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branchrestriction"
          description: A paginated list of branch restrictions
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Create a branch restriction rule
      tags:
        - Branch restrictions
  "/repositories/{workspace}/{repo_slug}/branch-restrictions/{id}":
    delete:
      description: Deletes an existing branch restriction rule.
      responses:
        "204":
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository or branch restriction id does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Delete a branch restriction rule
      tags:
        - Branch restrictions
    get:
      description: Returns a specific branch restriction rule.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branchrestriction"
          description: The branch restriction rule
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository or branch restriction id does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Get a branch restriction rule
      tags:
        - Branch restrictions
    parameters:
      - description: The restriction rule's id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    put:
      description: |-
        Updates an existing branch restriction rule.

        Fields not present in the request body are ignored.

        See [`POST`](/cloud/bitbucket/rest/api-group-branch-restrictions/#api-repositories-workspace-repo-slug-branch-restrictions-post) for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/branchrestriction"
        description: The new version of the existing rule
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branchrestriction"
          description: The updated branch restriction rule
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository or branch restriction id does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Update a branch restriction rule
      tags:
        - Branch restrictions
  "/repositories/{workspace}/{repo_slug}/branching-model":
    get:
      description: |-
        Return the branching model as applied to the repository. This view is
        read-only. The branching model settings can be changed using the
        [settings](#api-repositories-workspace-repo-slug-branching-model-settings-get) API.

        The returned object:

        1. Always has a `development` property. `development.branch` contains
           the actual repository branch object that is considered to be the
           `development` branch. `development.branch` will not be present
           if it does not exist.
        2. Might have a `production` property. `production` will not
           be present when `production` is disabled.
           `production.branch` contains the actual branch object that is
           considered to be the `production` branch. `production.branch` will
           not be present if it does not exist.
        3. Always has a `branch_types` array which contains all enabled branch
           types.

        Example body:

        ```
        {
          "development": {
            "name": "master",
            "branch": {
              "type": "branch",
              "name": "master",
              "target": {
                "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
              }
            },
            "use_mainbranch": true
          },
          "production": {
            "name": "production",
            "branch": {
              "type": "branch",
              "name": "production",
              "target": {
                "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
              }
            },
            "use_mainbranch": false
          },
          "branch_types": [
            {
              "kind": "release",
              "prefix": "release/"
            },
            {
              "kind": "hotfix",
              "prefix": "hotfix/"
            },
            {
              "kind": "feature",
              "prefix": "feature/"
            },
            {
              "kind": "bugfix",
              "prefix": "bugfix/"
            }
          ],
          "type": "branching_model",
          "links": {
            "self": {
              "href": "https://api.bitbucket.org/.../branching-model"
            }
          }
        }
        ```
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branching_model"
          description: The branching model object
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have read access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Get the branching model for a repository
      tags:
        - Branching model
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
  "/repositories/{workspace}/{repo_slug}/branching-model/settings":
    get:
      description: |-
        Return the branching model configuration for a repository. The returned
        object:

        1. Always has a `development` property for the development branch.
        2. Always a `production` property for the production branch. The
           production branch can be disabled.
        3. The `branch_types` contains all the branch types.

        This is the raw configuration for the branching model. A client
        wishing to see the branching model with its actual current branches may
        find the [active model API](/cloud/bitbucket/rest/api-group-branching-model/#api-repositories-workspace-repo-slug-branching-model-get) more useful.

        Example body:

        ```
        {
          "development": {
            "is_valid": true,
            "name": null,
            "use_mainbranch": true
          },
          "production": {
            "is_valid": true,
            "name": "production",
            "use_mainbranch": false,
            "enabled": false
          },
          "branch_types": [
            {
              "kind": "release",
              "enabled": true,
              "prefix": "release/"
            },
            {
              "kind": "hotfix",
              "enabled": true,
              "prefix": "hotfix/"
            },
            {
              "kind": "feature",
              "enabled": true,
              "prefix": "feature/"
            },
            {
              "kind": "bugfix",
              "enabled": false,
              "prefix": "bugfix/"
            }
          ],
          "type": "branching_model_settings",
          "links": {
            "self": {
              "href": "https://api.bitbucket.org/.../branching-model/settings"
            }
          }
        }
        ```
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branching_model_settings"
          description: The branching model configuration
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Get the branching model config for a repository
      tags:
        - Branching model
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    put:
      description: |-
        Update the branching model configuration for a repository.

        The `development` branch can be configured to a specific branch or to
        track the main branch. When set to a specific branch it must
        currently exist. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `development` property will leave the development branch unchanged.

        It is possible for the `development` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. It is
        not possible to update the settings for `development` if that
        would leave the branch in an invalid state. Such a request will be
        rejected.

        The `production` branch can be a specific branch, the main
        branch or disabled. When set to a specific branch it must currently
        exist. The `enabled` property can be used to enable (`true`) or
        disable (`false`) it. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `production` property will leave the production branch unchanged.

        It is possible for the `production` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. A
        request that would leave `production` enabled and invalid will be
        rejected. It is possible to update `production` and make it invalid if
        it would also be left disabled.

        The `branch_types` property contains the branch types to be updated.
        Only the branch types passed will be updated. All updates will be
        rejected if it would leave the branching model in an invalid state.
        For branch types this means that:

        1. The prefixes for all enabled branch types are valid. For example,
           it is not possible to use '*' inside a Git prefix.
        2. A prefix of an enabled branch type must not be a prefix of another
           enabled branch type. This is to ensure that a branch can be easily
           classified by its prefix unambiguously.

        It is possible to store an invalid prefix if that branch type would be
        left disabled. Only the passed properties will be updated. The
        properties not passed will be left unchanged. Each branch type must
        have a `kind` property to identify it.

        Example Body:

        ```
            {
              "development": {
                "use_mainbranch": true
              },
              "production": {
                "enabled": true,
                "use_mainbranch": false,
                "name": "production"
              },
              "branch_types": [
                {
                  "kind": "bugfix",
                  "enabled": true,
                  "prefix": "bugfix/"
                },
                {
                  "kind": "feature",
                  "enabled": true,
                  "prefix": "feature/"
                },
                {
                  "kind": "hotfix",
                  "prefix": "hotfix/"
                },
                {
                  "kind": "release",
                  "enabled": false,
                }
              ]
            }
        ```

        There is currently a side effect when using this API endpoint. If the
        repository is inheriting branching model settings from its project,
        updating the branching model for this repository will disable the
        project setting inheritance.


        We have deprecated this side effect and will remove it on 1 August 2022.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branching_model_settings"
          description: The updated branching model configuration
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request contains invalid branching model configuration
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the request was not authenticated
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the authenticated user does not have admin access to the repository
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the repository does not exist
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      summary: Update the branching model config for a repository
      tags:
        - Branching model
  "/repositories/{workspace}/{repo_slug}/commit/{commit}":
    get:
      description: |-
        Returns the specified commit.

        Example:

        ```
        $ curl https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a1
        {
            "rendered": {
                "message": {
                "raw": "Add a GEORDI_OUTPUT_DIR setting",
                "markup": "markdown",
                "html": "<p>Add a GEORDI_OUTPUT_DIR setting</p>",
                "type": "rendered"
                }
            },
            "hash": "f7591a13eda445d9a9167f98eb870319f4b6c2d8",
            "repository": {
                "name": "geordi",
                "type": "repository",
                "full_name": "bitbucket/geordi",
                "links": {
                    "self": {
                        "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi"
                    },
                    "html": {
                        "href": "https://bitbucket.org/bitbucket/geordi"
                    },
                    "avatar": {
                        "href": "https://bytebucket.org/ravatar/%7B85d08b4e-571d-44e9-a507-fa476535aa98%7D?ts=1730260"
                    }
                },
                "uuid": "{85d08b4e-571d-44e9-a507-fa476535aa98}"
            },
            "links": {
                "self": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                },
                "comments": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/comments"
                },
                "patch": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/patch/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                },
                "html": {
                    "href": "https://bitbucket.org/bitbucket/geordi/commits/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                },
                "diff": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/diff/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                },
                "approve": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/approve"
                },
                "statuses": {
                    "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/statuses"
                }
            },
            "author": {
                "raw": "Brodie Rao <a@b.c>",
                "type": "author",
                "user": {
                    "display_name": "Brodie Rao",
                    "uuid": "{9484702e-c663-4afd-aefb-c93a8cd31c28}",
                    "links": {
                        "self": {
                            "href": "https://api.bitbucket.org/2.0/users/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D"
                        },
                        "html": {
                            "href": "https://bitbucket.org/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D/"
                        },
                        "avatar": {
                            "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca/613070db-28b0-421f-8dba-ae8a87e2a5c7/128"
                        }
                    },
                    "type": "user",
                    "nickname": "brodie",
                    "account_id": "557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca"
                }
            },
            "summary": {
                "raw": "Add a GEORDI_OUTPUT_DIR setting",
                "markup": "markdown",
                "html": "<p>Add a GEORDI_OUTPUT_DIR setting</p>",
                "type": "rendered"
            },
            "participants": [],
            "parents": [
                {
                    "type": "commit",
                    "hash": "f06941fec4ef6bcb0c2456927a0cf258fa4f899b",
                    "links": {
                        "self": {
                            "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f06941fec4ef6bcb0c2456927a0cf258fa4f899b"
                        },
                        "html": {
                            "href": "https://bitbucket.org/bitbucket/geordi/commits/f06941fec4ef6bcb0c2456927a0cf258fa4f899b"
                        }
                    }
                }
            ],
            "date": "2012-07-16T19:37:54+00:00",
            "message": "Add a GEORDI_OUTPUT_DIR setting",
            "type": "commit"
        }
        ```
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commit"
          description: The commit object
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified commit or repository does not exist.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Get a commit
      tags:
        - Commits
    parameters:
      - description: The commit's SHA1.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/approve":
    delete:
      description: |-
        Redact the authenticated user's approval of the specified commit.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      responses:
        "204":
          description: An empty response indicating the authenticated user's approval has been withdrawn.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified commit, or the repository does not exist.
      security:
        - oauth2:
            - repository:write
        - basic: []
        - api_key: []
      summary: Unapprove a commit
      tags:
        - Commits
    parameters:
      - description: The commit's SHA1.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    post:
      description: |-
        Approve the specified commit as the authenticated user.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/participant"
          description: The `participant` object recording that the authenticated user approved the commit.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: If the specified commit, or the repository does not exist.
      security:
        - oauth2:
            - repository:write
        - basic: []
        - api_key: []
      summary: Approve a commit
      tags:
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/comments":
    get:
      description: |-
        Returns the commit's comments.

        This includes both global and inline comments.

        The default sorting is oldest to newest and can be overridden with
        the `sort` query parameter.
      parameters:
        - description: |
            Query string to narrow down the response as per
            [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: |
            Field by which the results should be sorted as per
            [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          in: query
          name: sort
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_commit_comments"
          description: A paginated list of commit comments.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: List a commit's comments
      tags:
        - Commits
    parameters:
      - description: The commit's SHA1.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    post:
      description: |-
        Creates new comment on the specified commit.

        To post a reply to an existing comment, include the `parent.id` field:

        ```
        $ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/db9ba1e031d07a02603eae0e559a7adc010257fc/comments/ \
          -X POST -u evzijst \
          -H 'Content-Type: application/json' \
          -d '{"content": {"raw": "One more thing!"},
               "parent": {"id": 5728901}}'
        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commit_comment"
        description: The specified comment.
        required: true
      responses:
        "201":
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        "400":
          description: If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment
        "404":
          description: If a parent ID was passed in that cannot be found
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Create comment for a commit
      tags:
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}":
    delete:
      description: |-
        Deletes the specified commit comment.

        Note that deleting comments that have visible replies that point to
        them will not really delete the resource. This is to retain the integrity
        of the original comment tree. Instead, the `deleted` element is set to
        `true` and the content is blanked out. The comment will continue to be
        returned by the collections and self endpoints.
      responses:
        "204":
          description: Indicates the comment was deleted by this action or a previous delete.
        "404":
          description: If the comment doesn't exist
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Delete a commit comment
      tags:
        - Commits
    get:
      description: Returns the specified commit comment.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commit_comment"
          description: The commit comment.
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Get a commit comment
      tags:
        - Commits
    parameters:
      - description: The id of the comment.
        in: path
        name: comment_id
        required: true
        schema:
          type: integer
      - description: The commit's SHA1.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
    put:
      description: |-
        Used to update the contents of a comment. Only the content of the comment can be updated.

        ```
        $ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/7f71b5/comments/5728901 \
          -X PUT -u evzijst \
          -H 'Content-Type: application/json' \
          -d '{"content": {"raw": "One more thing!"}'
        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commit_comment"
        description: The updated comment.
        required: true
      responses:
        "201":
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        "400":
          description: If the comment update was detected as spam
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      summary: Update a commit comment
      tags:
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}":
    delete:
      description: Delete an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.
      operationId: deleteCommitHostedPropertyValue
      parameters:
        - description: The repository container; either the workspace slug or the UUID in curly braces.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: The key of the Connect app.
          in: path
          name: app_key
          required: true
          schema:
            type: string
        - description: The name of the property.
          in: path
          name: property_name
          required: true
          schema:
            type: string
      responses:
        "204":
          description: An empty response.
      summary: Delete a commit application property
      tags:
        - properties
    get:
      description: Retrieve an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.
      operationId: getCommitHostedPropertyValue
      parameters:
        - description: The repository container; either the workspace slug or the UUID in curly braces.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: The key of the Connect app.
          in: path
          name: app_key
          required: true
          schema:
            type: string
        - description: The name of the property.
          in: path
          name: property_name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/application_property"
          description: The value of the property.
      summary: Get a commit application property
      tags:
        - properties
    put:
      description: Update an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.
      operationId: updateCommitHostedPropertyValue
      parameters:
        - description: The repository container; either the workspace slug or the UUID in curly braces.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: The key of the Connect app.
          in: path
          name: app_key
          required: true
          schema:
            type: string
        - description: The name of the property.
          in: path
          name: property_name
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/application_property"
      responses:
        "204":
          description: An empty response.
      summary: Update a commit application property
      tags:
        - properties
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/pullrequests":
    get:
      description: Returns a paginated list of all pull requests as part of which this commit was reviewed. Pull Request Commit Links app must be installed first before using this API; installation automatically occurs when 'Go to pull request' is clicked from the web interface for a commit's details.
      operationId: getPullrequestsForCommit
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository; either the UUID in curly braces, or the slug
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The SHA1 of the commit
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Which page to retrieve
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: How many pull requests to retrieve per page
          in: query
          name: pagelen
          required: false
          schema:
            default: 30
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_pullrequests"
          description: The paginated list of pull requests.
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_pullrequests"
          description: The repository's pull requests are still being indexed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Either the repository does not exist, or pull request commit links have not yet been indexed.
      summary: List pull requests that contain a commit
      tags:
        - Pullrequests
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports":
    get:
      description: Returns a paginated list of Reports linked to this commit.
      operationId: getReportsForCommit
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit for which to retrieve reports.
          in: path
          name: commit
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_reports"
          description: OK
      summary: List reports
      tags:
        - Reports
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}":
    delete:
      description: Deletes a single Report matching the provided ID.
      operationId: deleteReport
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit the report belongs to.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No content
      summary: Delete a report
      tags:
        - Reports
        - Commits
    get:
      description: Returns a single Report matching the provided ID.
      operationId: getReport
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit the report belongs to.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/report"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The report with the given ID was not found.
      summary: Get a report
      tags:
        - Reports
        - Commits
    put:
      description: |
        Creates or updates a report for the specified commit.
        To upload a report, make sure to generate an ID that is unique across all reports for that commit. If you want to use an existing id from your own system, we recommend prefixing it with your system's name to avoid collisions, for example, mySystem-001.

        ### Sample cURL request:
        ```
        curl --request PUT 'https://api.bitbucket.org/2.0/repositories/<username>/<reposity-name>/commit/<commit-hash>/reports/mysystem-001' \
        --header 'Content-Type: application/json' \
        --data-raw '{
            "title": "Security scan report",
            "details": "This pull request introduces 10 new dependency vulnerabilities.",
            "report_type": "SECURITY",
            "reporter": "mySystem",
            "link": "http://www.mysystem.com/reports/001",
            "result": "FAILED",
            "data": [
                {
                    "title": "Duration (seconds)",
                    "type": "DURATION",
                    "value": 14
                },
                {
                    "title": "Safe to merge?",
                    "type": "BOOLEAN",
                    "value": false
                }
            ]
        }'
        ```

        ### Possible field values:
        report_type: SECURITY, COVERAGE, TEST, BUG
        result: PASSED, FAILED, PENDING
        data.type: BOOLEAN, DATE, DURATION, LINK, NUMBER, PERCENTAGE, TEXT

        #### Data field formats
        | Type  Field   | Value Field Type  | Value Field Display |
        |:--------------|:------------------|:--------------------|
        | None/ Omitted | Number, String or Boolean (not an array or object) | Plain text |
        | BOOLEAN	| Boolean | The value will be read as a JSON boolean and displayed as 'Yes' or 'No'. |
        | DATE  | Number | The value will be read as a JSON number in the form of a Unix timestamp (milliseconds) and will be displayed as a relative date if the date is less than one week ago, otherwise  it will be displayed as an absolute date. |
        | DURATION | Number | The value will be read as a JSON number in milliseconds and will be displayed in a human readable duration format. |
        | LINK | Object: `{"text": "Link text here", "href": "https://link.to.annotation/in/external/tool"}` | The value will be read as a JSON object containing the fields "text" and "href" and will be displayed as a clickable link on the report. |
        | NUMBER | Number | The value will be read as a JSON number and large numbers will be  displayed in a human readable format (e.g. 14.3k). |
        | PERCENTAGE | Number (between 0 and 100) | The value will be read as a JSON number between 0 and 100 and will be displayed with a percentage sign. |
        | TEXT | String | The value will be read as a JSON string and will be displayed as-is |

        Please refer to the [Code Insights documentation](https://confluence.atlassian.com/bitbucket/code-insights-994316785.html) for more information.
      operationId: createOrUpdateReport
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit the report belongs to.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/report"
        description: The report to create or update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/report"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: The provided Report object is malformed or incomplete.
      summary: Create or update a report
      tags:
        - Reports
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations":
    get:
      description: Returns a paginated list of Annotations for a specified report.
      operationId: getAnnotationsForReport
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit for which to retrieve reports.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Uuid or external-if of the report for which to get annotations for.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paginated_annotations"
          description: OK
      summary: List annotations
      tags:
        - Reports
        - Commits
    post:
      description: |
        Bulk upload of annotations.
        Annotations are individual findings that have been identified as part of a report, for example, a line of code that represents a vulnerability. These annotations can be attached to a specific file and even a specific line in that file, however, that is optional. Annotations are not mandatory and a report can contain up to 1000 annotations.

        Add the annotations you want to upload as objects in a JSON array and make sure each annotation has the external_id field set to a unique value. If you want to use an existing id from your own system, we recommend prefixing it with your system's name to avoid collisions, for example, mySystem-annotation001. The external id can later be used to identify the report as an alternative to the generated [UUID](https://developer.atlassian.com/bitbucket/api/2/reference/meta/uri-uuid#uuid). You can upload up to 100 annotations per POST request.

        ### Sample cURL request:
        ```
        curl --location 'https://api.bitbucket.org/2.0/repositories/<username>/<reposity-name>/commit/<commit-hash>/reports/mysystem-001/annotations' \
        --header 'Content-Type: application/json' \
        --data-raw '[
          {
                "external_id": "mysystem-annotation001",
                "title": "Security scan report",
                "annotation_type": "VULNERABILITY",
                "summary": "This line represents a security threat.",
                "severity": "HIGH",
              "path": "my-service/src/main/java/com/myCompany/mysystem/logic/Main.java",
                "line": 42
          },
          {
                "external_id": "mySystem-annotation002",
                "title": "Bug report",
                "annotation_type": "BUG",
                "result": "FAILED",
                "summary": "This line might introduce a bug.",
                "severity": "MEDIUM",
              "path": "my-service/src/main/java/com/myCompany/mysystem/logic/Helper.java",
                "line": 13
          }
        ]'
        ```

        ### Possible field values:
        annotation_type: VULNERABILITY, CODE_SMELL, BUG
        result: PASSED, FAILED, IGNORED, SKIPPED
        severity: HIGH, MEDIUM, LOW, CRITICAL

        Please refer to the [Code Insights documentation](https://confluence.atlassian.com/bitbucket/code-insights-994316785.html) for more information.
      operationId: bulkCreateOrUpdateAnnotations
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit for which to retrieve reports.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Uuid or external-if of the report for which to get annotations for.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/report_annotation"
              maxItems: 100
              minItems: 1
              type: array
        description: The annotations to create or update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/report_annotation"
                type: array
          description: OK
      summary: Bulk create or update annotations
      tags:
        - Reports
        - Commits
  "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations/{annotationId}":
    delete:
      description: Deletes a single Annotation matching the provided ID.
      operationId: deleteAnnotation
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit the annotation belongs to.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the annotation.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the annotation.
          in: path
          name: annotationId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No content
      summary: Delete an annotation
      tags:
        - Reports
        - Commits
    get:
      description: Returns a single Annotation matching the provided ID.
      operationId: getAnnotation
      parameters:
        - description: This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.
          in: path
          name: workspace
          required: true
          schema:
            type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          schema:
            type: string
        - description: The commit the report belongs to.
          in: path
          name: commit
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - description: Either the uuid or external-id of the annotation.
          in: path
          name: annotationId
[...]
