swagger: '2.0'
schemes:
  - https
  - http
host: apigateway.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon API Gateway
  version: '2015-07-09'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigateway-2015-07-09.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: apigateway
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/apigateway/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /account:
    get:
      description: Gets information about the current <a>Account</a> resource.
      operationId: GetAccount
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about the current <a>Account</a> resource.
      operationId: UpdateAccount
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /apikeys:
    get:
      description: Gets information about the current <a>ApiKeys</a> resource.
      operationId: GetApiKeys
      parameters:
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
        - description: The name of queried API keys.
          in: query
          name: name
          required: false
          type: string
        - description: 'The identifier of a customer in AWS Marketplace or an external system, such as a developer portal.'
          in: query
          name: customerId
          required: false
          type: string
        - description: A boolean flag to specify whether (<code>true</code>) or not (<code>false</code>) the result contains key values.
          in: query
          name: includeValues
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApiKeys'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Create an <a>ApiKey</a> resource. </p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-api-key.html">AWS CLI</a></div>'
      operationId: CreateApiKey
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              customerId:
                description: 'An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.'
                type: string
              description:
                description: The description of the <a>ApiKey</a>.
                type: string
              enabled:
                description: Specifies whether the <a>ApiKey</a> can be used by callers.
                type: boolean
              generateDistinctId:
                description: Specifies whether (<code>true</code>) or not (<code>false</code>) the key identifier is distinct from the created API key value.
                type: boolean
              name:
                description: The name of the <a>ApiKey</a>.
                type: string
              stageKeys:
                description: DEPRECATED FOR USAGE PLANS - Specifies stages associated with the API key.
                items:
                  $ref: '#/definitions/StageKey'
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.'
                type: object
              value:
                description: Specifies a value of the API key.
                type: string
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ApiKey'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/apikeys#mode=import&format':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Import API keys from an external source, such as a CSV-formatted file.'
      operationId: ImportApiKeys
      parameters:
        - description: 'A query parameter to specify the input format to imported API keys. Currently, only the <code>csv</code> format is supported.'
          enum:
            - csv
          in: query
          name: format
          required: true
          type: string
        - description: A query parameter to indicate whether to rollback <a>ApiKey</a> importation (<code>true</code>) or not (<code>false</code>) when error is encountered.
          in: query
          name: failonwarnings
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              body:
                description: 'The payload of the POST request to import API keys. For the payload format, see <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/api-key-file-format.html">API Key File Format</a>.'
                type: string
            required:
              - body
            type: object
        - enum:
            - import
          in: query
          name: mode
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ApiKeyIds'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/apikeys/{api_Key}':
    delete:
      description: Deletes the <a>ApiKey</a> resource.
      operationId: DeleteApiKey
      parameters:
        - description: '[Required] The identifier of the <a>ApiKey</a> resource to be deleted.'
          in: path
          name: api_Key
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets information about the current <a>ApiKey</a> resource.
      operationId: GetApiKey
      parameters:
        - description: '[Required] The identifier of the <a>ApiKey</a> resource.'
          in: path
          name: api_Key
          required: true
          type: string
        - description: A boolean flag to specify whether (<code>true</code>) or not (<code>false</code>) the result contains the key value.
          in: query
          name: includeValue
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApiKey'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about an <a>ApiKey</a> resource.
      operationId: UpdateApiKey
      parameters:
        - description: '[Required] The identifier of the <a>ApiKey</a> resource to be updated.'
          in: path
          name: api_Key
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApiKey'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /clientcertificates:
    get:
      description: Gets a collection of <a>ClientCertificate</a> resources.
      operationId: GetClientCertificates
      parameters:
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClientCertificates'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Generates a <a>ClientCertificate</a> resource.
      operationId: GenerateClientCertificate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: The description of the <a>ClientCertificate</a>.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.'
                type: object
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ClientCertificate'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/clientcertificates/{clientcertificate_id}':
    delete:
      description: Deletes the <a>ClientCertificate</a> resource.
      operationId: DeleteClientCertificate
      parameters:
        - description: '[Required] The identifier of the <a>ClientCertificate</a> resource to be deleted.'
          in: path
          name: clientcertificate_id
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
    get:
      description: Gets information about the current <a>ClientCertificate</a> resource.
      operationId: GetClientCertificate
      parameters:
        - description: '[Required] The identifier of the <a>ClientCertificate</a> resource to be described.'
          in: path
          name: clientcertificate_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClientCertificate'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about an <a>ClientCertificate</a> resource.
      operationId: UpdateClientCertificate
      parameters:
        - description: '[Required] The identifier of the <a>ClientCertificate</a> resource to be updated.'
          in: path
          name: clientcertificate_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClientCertificate'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  /domainnames:
    get:
      description: Represents a collection of <a>DomainName</a> resources.
      operationId: GetDomainNames
      parameters:
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DomainNames'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new domain name.
      operationId: CreateDomainName
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              certificateArn:
                description: The reference to an AWS-managed certificate that will be used by edge-optimized endpoint for this domain name. AWS Certificate Manager is the only supported source.
                type: string
              certificateBody:
                description: '[Deprecated] The body of the server certificate that will be used by edge-optimized endpoint for this domain name provided by your certificate authority.'
                type: string
              certificateChain:
                description: '[Deprecated] The intermediate certificates and optionally the root certificate, one after the other without any blank lines, used by an edge-optimized endpoint for this domain name. If you include the root certificate, your certificate chain must start with intermediate certificates and end with the root certificate. Use the intermediate certificates that were provided by your certificate authority. Do not include any intermediaries that are not in the chain of trust path.'
                type: string
              certificateName:
                description: The user-friendly name of the certificate that will be used by edge-optimized endpoint for this domain name.
                type: string
              certificatePrivateKey:
                description: '[Deprecated] Your edge-optimized endpoint''s domain name certificate''s private key.'
                type: string
              domainName:
                description: '[Required] The name of the <a>DomainName</a> resource.'
                type: string
              endpointConfiguration:
                description: 'The endpoint configuration to indicate the types of endpoints an API (<a>RestApi</a>) or its custom domain name (<a>DomainName</a>) has. '
                properties:
                  types:
                    $ref: '#/definitions/ListOfEndpointType'
                    description: 'A list of endpoint types of an API (<a>RestApi</a>) or its custom domain name (<a>DomainName</a>). For an edge-optimized API and its custom domain name, the endpoint type is <code>"EDGE"</code>. For a regional API and its custom domain name, the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is <code>PRIVATE</code>.'
                  vpcEndpointIds:
                    $ref: '#/definitions/ListOfString'
                    description: A list of VpcEndpointIds of an API (<a>RestApi</a>) against which to create Route53 ALIASes. It is only supported for <code>PRIVATE</code> endpoint type.
                type: object
              regionalCertificateArn:
                description: The reference to an AWS-managed certificate that will be used by regional endpoint for this domain name. AWS Certificate Manager is the only supported source.
                type: string
              regionalCertificateName:
                description: The user-friendly name of the certificate that will be used by regional endpoint for this domain name.
                type: string
              securityPolicy:
                description: The Transport Layer Security (TLS) version + cipher suite for this <a>DomainName</a>. The valid values are <code>TLS_1_0</code> and <code>TLS_1_2</code>.
                enum:
                  - TLS_1_0
                  - TLS_1_2
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.'
                type: object
            required:
              - domainName
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/DomainName'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/domainnames/{domain_name}':
    delete:
      description: Deletes the <a>DomainName</a> resource.
      operationId: DeleteDomainName
      parameters:
        - description: '[Required] The name of the <a>DomainName</a> resource to be deleted.'
          in: path
          name: domain_name
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: 'Represents a domain name that is contained in a simpler, more intuitive URL that can be called.'
      operationId: GetDomainName
      parameters:
        - description: '[Required] The name of the <a>DomainName</a> resource.'
          in: path
          name: domain_name
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DomainName'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about the <a>DomainName</a> resource.
      operationId: UpdateDomainName
      parameters:
        - description: '[Required] The name of the <a>DomainName</a> resource to be changed.'
          in: path
          name: domain_name
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DomainName'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/domainnames/{domain_name}/basepathmappings':
    get:
      description: Represents a collection of <a>BasePathMapping</a> resources.
      operationId: GetBasePathMappings
      parameters:
        - description: '[Required] The domain name of a <a>BasePathMapping</a> resource.'
          in: path
          name: domain_name
          required: true
          type: string
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasePathMappings'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new <a>BasePathMapping</a> resource.
      operationId: CreateBasePathMapping
      parameters:
        - description: '[Required] The domain name of the <a>BasePathMapping</a> resource to create.'
          in: path
          name: domain_name
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              basePath:
                description: The base path name that callers of the API must provide as part of the URL after the domain name. This value must be unique for all of the mappings across a single API. Specify '(none)' if you do not want callers to specify a base path name after the domain name.
                type: string
              restApiId:
                description: '[Required] The string identifier of the associated <a>RestApi</a>.'
                type: string
              stage:
                description: The name of the API's stage that you want to use for this mapping. Specify '(none)' if you do not want callers to explicitly specify the stage name after any base path name.
                type: string
            required:
              - restApiId
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/BasePathMapping'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/domainnames/{domain_name}/basepathmappings/{base_path}':
    delete:
      description: Deletes the <a>BasePathMapping</a> resource.
      operationId: DeleteBasePathMapping
      parameters:
        - description: '[Required] The domain name of the <a>BasePathMapping</a> resource to delete.'
          in: path
          name: domain_name
          required: true
          type: string
        - description: '<p>[Required] The base path name of the <a>BasePathMapping</a> resource to delete.</p> <p>To specify an empty base path, set this parameter to <code>''(none)''</code>.</p>'
          in: path
          name: base_path
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describe a <a>BasePathMapping</a> resource.
      operationId: GetBasePathMapping
      parameters:
        - description: '[Required] The domain name of the <a>BasePathMapping</a> resource to be described.'
          in: path
          name: domain_name
          required: true
          type: string
        - description: '[Required] The base path name that callers of the API must provide as part of the URL after the domain name. This value must be unique for all of the mappings across a single API. Specify ''(none)'' if you do not want callers to specify any base path name after the domain name.'
          in: path
          name: base_path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasePathMapping'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about the <a>BasePathMapping</a> resource.
      operationId: UpdateBasePathMapping
      parameters:
        - description: '[Required] The domain name of the <a>BasePathMapping</a> resource to change.'
          in: path
          name: domain_name
          required: true
          type: string
        - description: '<p>[Required] The base path of the <a>BasePathMapping</a> resource to change.</p> <p>To specify an empty base path, set this parameter to <code>''(none)''</code>.</p>'
          in: path
          name: base_path
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasePathMapping'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /restapis:
    get:
      description: Lists the <a>RestApis</a> resources for your collection.
      operationId: GetRestApis
      parameters:
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestApis'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new <a>RestApi</a> resource.
      operationId: CreateRestApi
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              apiKeySource:
                description: 'The source of the API key for metering requests according to a usage plan. Valid values are: <ul><li><code>HEADER</code> to read the API key from the <code>X-API-Key</code> header of a request. </li><li><code>AUTHORIZER</code> to read the API key from the <code>UsageIdentifierKey</code> from a custom authorizer.</li></ul> '
                enum:
                  - HEADER
                  - AUTHORIZER
                type: string
              binaryMediaTypes:
                description: 'The list of binary media types supported by the <a>RestApi</a>. By default, the <a>RestApi</a> supports only UTF-8-encoded text payloads.'
                items:
                  $ref: '#/definitions/String'
                type: array
              cloneFrom:
                description: The ID of the <a>RestApi</a> that you want to clone from.
                type: string
              description:
                description: The description of the <a>RestApi</a>.
                type: string
              endpointConfiguration:
                description: 'The endpoint configuration to indicate the types of endpoints an API (<a>RestApi</a>) or its custom domain name (<a>DomainName</a>) has. '
                properties:
                  types:
                    $ref: '#/definitions/ListOfEndpointType'
                    description: 'A list of endpoint types of an API (<a>RestApi</a>) or its custom domain name (<a>DomainName</a>). For an edge-optimized API and its custom domain name, the endpoint type is <code>"EDGE"</code>. For a regional API and its custom domain name, the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is <code>PRIVATE</code>.'
                  vpcEndpointIds:
                    $ref: '#/definitions/ListOfString'
                    description: A list of VpcEndpointIds of an API (<a>RestApi</a>) against which to create Route53 ALIASes. It is only supported for <code>PRIVATE</code> endpoint type.
                type: object
              minimumCompressionSize:
                description: 'A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive) or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload size.'
                type: integer
              name:
                description: '[Required] The name of the <a>RestApi</a>.'
                type: string
              policy:
                description: A stringified JSON policy document that applies to this RestApi regardless of the caller and <a>Method</a> configuration.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.'
                type: object
              version:
                description: A version identifier for the API.
                type: string
            required:
              - name
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/RestApi'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/restapis#mode=import':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: A feature of the API Gateway control service for creating a new API from an external API definition file.
      operationId: ImportRestApi
      parameters:
        - description: A query parameter to indicate whether to rollback the API creation (<code>true</code>) or not (<code>false</code>) when a warning is encountered. The default value is <code>false</code>.
          in: query
          name: failonwarnings
          required: false
          type: boolean
        - in: query
          name: parameters.0.key
          type: string
        - in: query
          name: parameters.0.value
          type: string
        - in: query
          name: parameters.1.key
          type: string
        - in: query
          name: parameters.1.value
          type: string
        - in: query
          name: parameters.2.key
          type: string
        - in: query
          name: parameters.2.value
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              body:
                description: '[Required] The POST request body containing external API definitions. Currently, only OpenAPI definition JSON/YAML files are supported. The maximum size of the API definition file is 2MB.'
                type: string
            required:
              - body
            type: object
        - enum:
            - import
          in: query
          name: mode
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/RestApi'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/restapis/{restapi_id}':
    delete:
      description: Deletes the specified API.
      operationId: DeleteRestApi
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Lists the <a>RestApi</a> resource in the collection.
      operationId: GetRestApi
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestApi'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about the specified API.
      operationId: UpdateRestApi
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestApi'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    put:
      description: A feature of the API Gateway control service for updating an existing API with an input of external API definitions. The update can take the form of merging the supplied definition into the existing API or overwriting the existing API.
      operationId: PutRestApi
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: 'The <code>mode</code> query parameter to specify the update mode. Valid values are "merge" and "overwrite". By default, the update mode is "merge".'
          enum:
            - merge
            - overwrite
          in: query
          name: mode
          required: false
          type: string
        - description: A query parameter to indicate whether to rollback the API update (<code>true</code>) or not (<code>false</code>) when a warning is encountered. The default value is <code>false</code>.
          in: query
          name: failonwarnings
          required: false
          type: boolean
        - in: query
          name: parameters.0.key
          type: string
        - in: query
          name: parameters.0.value
          type: string
        - in: query
          name: parameters.1.key
          type: string
        - in: query
          name: parameters.1.value
          type: string
        - in: query
          name: parameters.2.key
          type: string
        - in: query
          name: parameters.2.value
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              body:
                description: '[Required] The PUT request body containing external API definitions. Currently, only OpenAPI definition JSON/YAML files are supported. The maximum size of the API definition file is 2MB.'
                type: string
            required:
              - body
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestApi'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/restapis/{restapi_id}/authorizers':
    get:
      description: '<p>Describe an existing <a>Authorizers</a> resource.</p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizers.html">AWS CLI</a></div>'
      operationId: GetAuthorizers
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Authorizers'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds a new <a>Authorizer</a> resource to an existing <a>RestApi</a> resource.</p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-authorizer.html">AWS CLI</a></div>'
      operationId: CreateAuthorizer
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              authType:
                description: 'Optional customer-defined field, used in OpenAPI imports and exports without functional impact.'
                type: string
              authorizerCredentials:
                description: 'Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role''s Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.'
                type: string
              authorizerResultTtlInSeconds:
                description: 'The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.'
                type: integer
              authorizerUri:
                description: 'Specifies the authorizer''s Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.'
                type: string
              identitySource:
                description: 'The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>. These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul>'
                type: string
              identityValidationExpression:
                description: 'A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer''s Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.'
                type: string
              name:
                description: '[Required] The name of the authorizer.'
                type: string
              providerARNs:
                description: 'A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined. '
                items:
                  $ref: '#/definitions/ProviderARN'
                type: array
              type:
                description: 'The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.'
                enum:
                  - TOKEN
                  - REQUEST
                  - COGNITO_USER_POOLS
                type: string
            required:
              - name
              - type
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Authorizer'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/restapis/{restapi_id}/authorizers/{authorizer_id}':
    delete:
      description: '<p>Deletes an existing <a>Authorizer</a> resource.</p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/delete-authorizer.html">AWS CLI</a></div>'
      operationId: DeleteAuthorizer
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the <a>Authorizer</a> resource.'
          in: path
          name: authorizer_id
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: '<p>Describe an existing <a>Authorizer</a> resource.</p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizer.html">AWS CLI</a></div>'
      operationId: GetAuthorizer
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the <a>Authorizer</a> resource.'
          in: path
          name: authorizer_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Authorizer'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: '<p>Updates an existing <a>Authorizer</a> resource.</p> <div class="seeAlso"><a href="https://docs.aws.amazon.com/cli/latest/reference/apigateway/update-authorizer.html">AWS CLI</a></div>'
      operationId: UpdateAuthorizer
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the <a>Authorizer</a> resource.'
          in: path
          name: authorizer_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Authorizer'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    post:
      description: '<p>Simulate the execution of an <a>Authorizer</a> in your <a>RestApi</a> with headers, parameters, and an incoming request body.</p> <div class="seeAlso"> <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html">Use Lambda Function as Authorizer</a> <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html">Use Cognito User Pool as Authorizer</a> </div>'
      operationId: TestInvokeAuthorizer
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] Specifies a test invoke authorizer request''s <a>Authorizer</a> ID.'
          in: path
          name: authorizer_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              additionalContext:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: '[Optional] A key-value map of additional context variables.'
                type: object
              body:
                description: '[Optional] The simulated request body of an incoming invocation request.'
                type: string
              headers:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: '[Required] A key-value map of headers to simulate an incoming invocation request. This is where the incoming authorization token, or identity source, should be specified.'
                type: object
              multiValueHeaders:
                additionalProperties:
                  $ref: '#/definitions/ListOfString'
                description: '[Optional] The headers as a map from string to list of values to simulate an incoming invocation request. This is where the incoming authorization token, or identity source, may be specified.'
                type: object
              pathWithQueryString:
                description: '[Optional] The URI path, including query string, of the simulated invocation request. Use this to specify path parameters and query string parameters.'
                type: string
              stageVariables:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: A key-value map of stage variables to simulate an invocation on a deployed <a>Stage</a>.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestInvokeAuthorizerResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/restapis/{restapi_id}/deployments':
    get:
      description: Gets information about a <a>Deployments</a> collection.
      operationId: GetDeployments
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Deployments'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.'
      operationId: CreateDeployment
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              cacheClusterEnabled:
                description: Enables a cache cluster for the <a>Stage</a> resource specified in the input.
                type: boolean
              cacheClusterSize:
                description: Returns the size of the <b>CacheCluster</b>.
                enum:
                  - '0.5'
                  - '1.6'
                  - '6.1'
                  - '13.5'
                  - '28.4'
                  - '58.2'
                  - '118'
                  - '237'
                type: string
              canarySettings:
                description: The input configuration for a canary deployment.
                properties:
                  percentTraffic:
                    $ref: '#/definitions/Double'
                    description: The percentage (0.0-100.0) of traffic routed to the canary deployment.
                  stageVariableOverrides:
                    $ref: '#/definitions/MapOfStringToString'
                    description: A stage variable overrides used for the canary release deployment. They can override existing stage variables or add new stage variables for the canary release deployment. These stage variables are represented as a string-to-string map between stage variable names and their values.
                  useStageCache:
                    $ref: '#/definitions/Boolean'
                    description: A Boolean flag to indicate whether the canary release deployment uses the stage cache or not.
                type: object
              description:
                description: The description for the <a>Deployment</a> resource to create.
                type: string
              stageDescription:
                description: The description of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.
                type: string
              stageName:
                description: The name of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.
                type: string
              tracingEnabled:
                description: Specifies whether active tracing with X-ray is enabled for the <a>Stage</a>.
                type: boolean
              variables:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: 'A map that defines the stage variables for the <a>Stage</a> resource that is associated with the new deployment. Variable names can have alphanumeric and underscore characters, and the values must match <code>[A-Za-z0-9-._~:/?#&amp;=,]+</code>.'
                type: object
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Deployment'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/restapis/{restapi_id}/deployments/{deployment_id}':
    delete:
      description: Deletes a <a>Deployment</a> resource. Deleting a deployment will only succeed if there are no <a>Stage</a> resources associated with it.
      operationId: DeleteDeployment
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the <a>Deployment</a> resource to delete.'
          in: path
          name: deployment_id
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets information about a <a>Deployment</a> resource.
      operationId: GetDeployment
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the <a>Deployment</a> resource to get information about.'
          in: path
          name: deployment_id
          required: true
          type: string
        - description: 'A query parameter to retrieve the specified embedded resources of the returned <a>Deployment</a> resource in the response. In a REST API call, this <code>embed</code> parameter value is a list of comma-separated strings, as in <code>GET /restapis/{restapi_id}/deployments/{deployment_id}?embed=var1,var2</code>. The SDK and other platform-dependent libraries might use a different format for the list. Currently, this request supports only retrieval of the embedded API summary this way. Hence, the parameter value must be a single-valued list containing only the <code>"apisummary"</code> string. For example, <code>GET /restapis/{restapi_id}/deployments/{deployment_id}?embed=apisummary</code>.'
          in: query
          items:
            type: string
          name: embed
          required: false
          type: array
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Deployment'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Changes information about a <a>Deployment</a> resource.
      operationId: UpdateDeployment
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: The replacement identifier for the <a>Deployment</a> resource to change information about.
          in: path
          name: deployment_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Deployment'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/restapis/{restapi_id}/documentation/parts':
    get:
      description: ''
      operationId: GetDocumentationParts
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: 'The type of API entities of the to-be-retrieved documentation parts. '
          enum:
            - API
            - AUTHORIZER
            - MODEL
            - RESOURCE
            - METHOD
            - PATH_PARAMETER
            - QUERY_PARAMETER
            - REQUEST_HEADER
            - REQUEST_BODY
            - RESPONSE
            - RESPONSE_HEADER
            - RESPONSE_BODY
          in: query
          name: type
          required: false
          type: string
        - description: The name of API entities of the to-be-retrieved documentation parts.
          in: query
          name: name
          required: false
          type: string
        - description: The path of API entities of the to-be-retrieved documentation parts.
          in: query
          name: path
          required: false
          type: string
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
        - description: The status of the API documentation parts to retrieve. Valid values are <code>DOCUMENTED</code> for retrieving <a>DocumentationPart</a> resources with content and <code>UNDOCUMENTED</code> for <a>DocumentationPart</a> resources without content.
          enum:
            - DOCUMENTED
            - UNDOCUMENTED
          in: query
          name: locationStatus
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationParts'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: CreateDocumentationPart
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              location:
                description: Specifies the target API entity to which the documentation applies.
                properties:
                  method:
                    $ref: '#/definitions/String'
                    description: 'The HTTP verb of a method. It is a valid field for the API entity types of <code>METHOD</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>. The default value is <code>*</code> for any method. When an applicable child entity inherits the content of an entity of the same type with more general specifications of the other <code>location</code> attributes, the child entity''s <code>method</code> attribute must match that of the parent entity exactly.'
                  name:
                    $ref: '#/definitions/String'
                    description: 'The name of the targeted API entity. It is a valid and required field for the API entity types of <code>AUTHORIZER</code>, <code>MODEL</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code> and <code>RESPONSE_HEADER</code>. It is an invalid field for any other entity type.'
                  path:
                    $ref: '#/definitions/String'
                    description: 'The URL path of the target. It is a valid field for the API entity types of <code>RESOURCE</code>, <code>METHOD</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>. The default value is <code>/</code> for the root resource. When an applicable child entity inherits the content of another entity of the same type with more general specifications of the other <code>location</code> attributes, the child entity''s <code>path</code> attribute must match that of the parent entity as a prefix.'
                  statusCode:
                    $ref: '#/definitions/DocumentationPartLocationStatusCode'
                    description: 'The HTTP status code of a response. It is a valid field for the API entity types of <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>. The default value is <code>*</code> for any status code. When an applicable child entity inherits the content of an entity of the same type with more general specifications of the other <code>location</code> attributes, the child entity''s <code>statusCode</code> attribute must match that of the parent entity exactly.'
                  type:
                    $ref: '#/definitions/DocumentationPartType'
                    description: '[Required] The type of API entity to which the documentation content applies. Valid values are <code>API</code>, <code>AUTHORIZER</code>, <code>MODEL</code>, <code>RESOURCE</code>, <code>METHOD</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>. Content inheritance does not apply to any entity of the <code>API</code>, <code>AUTHORIZER</code>, <code>METHOD</code>, <code>MODEL</code>, <code>REQUEST_BODY</code>, or <code>RESOURCE</code> type.'
                type: object
              properties:
                description: '[Required] The new documentation content map of the targeted API entity. Enclosed key-value pairs are API-specific, but only OpenAPI-compliant key-value pairs can be exported and, hence, published.'
                type: string
            required:
              - location
              - properties
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationPart'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    put:
      description: ''
      operationId: ImportDocumentationParts
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: A query parameter to indicate whether to overwrite (<code>OVERWRITE</code>) any existing <a>DocumentationParts</a> definition or to merge (<code>MERGE</code>) the new definition into the existing one. The default value is <code>MERGE</code>.
          enum:
            - merge
            - overwrite
          in: query
          name: mode
          required: false
          type: string
        - description: A query parameter to specify whether to rollback the documentation importation (<code>true</code>) or not (<code>false</code>) when a warning is encountered. The default value is <code>false</code>.
          in: query
          name: failonwarnings
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              body:
                description: '[Required] Raw byte array representing the to-be-imported documentation parts. To import from an OpenAPI file, this is a JSON object.'
                type: string
            required:
              - body
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationPartIds'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/restapis/{restapi_id}/documentation/parts/{part_id}':
    delete:
      description: ''
      operationId: DeleteDocumentationPart
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the to-be-deleted documentation part.'
          in: path
          name: part_id
          required: true
          type: string
      responses:
        '202':
          description: Success
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: ''
      operationId: GetDocumentationPart
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: part_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationPart'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: ''
      operationId: UpdateDocumentationPart
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: '[Required] The identifier of the to-be-updated documentation part.'
          in: path
          name: part_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              patchOperations:
                description: A list of operations describing the updates to apply to the specified resource. The patches are applied in the order specified in the list.
                items:
                  $ref: '#/definitions/PatchOperation'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationPart'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/restapis/{restapi_id}/documentation/versions':
    get:
      description: ''
      operationId: GetDocumentationVersions
      parameters:
        - description: '[Required] The string identifier of the associated <a>RestApi</a>.'
          in: path
          name: restapi_id
          required: true
          type: string
        - description: The current pagination position in the paged result set.
          in: query
          name: position
          required: false
          type: string
        - description: The maximum number of returned results per page. The default value is 25 and the maximum value is 500.
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationVersions'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
[...]
