openapi: 3.0.1
servers:
  - url: https://presentation.s.xtrf.eu/home-api
info:
  description: |-
    XTRF Home Portal API enables you to perform operations on Projects, Quotes, Customers, Vendors etc. as a XTRF Home Portal user. <br>The documentation is generated from OpenAPI specification 3.0 available <a href="/home-api/openapi.json">here</a> <br>
      The API client/consumer code may be easily generated in 60+ programming languages using an open source code generator available at the time of writing this documentation at <a href='https://editor.swagger.io/'>https://editor.swagger.io/</a> Thank you for using XTRF Application Programming interface (XTRF API). By using the API you agree to the terms below. If you disagree with any of these terms, XTRF does not grant you a license to use the XTRF API. XTRF reserves the right to update and change these terms from time to time without a prior notice of API users. You can always find the most recent version of these terms here: 
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://legal.xtrf.eu/2017/products/GeneralTermsAndConditions.pdf
  title: XTRF Home Portal API
  version: "2.0"
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_xtrf.eu_wp-content_uploads_2023_01_cropped-XTRF-Favicon--180x180.webp
  x-origin:
    - format: openapi
      url: https://presentation.s.xtrf.eu/home-api/openapi.json
      version: "3.0"
  x-providerName: xtrf.eu
security:
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
  - X-AUTH-ACCESS-TOKEN: []
tags:
  - description: To change the description use /examples/TagsDescriptions.json
    name: Browser
  - description: To change the description use /examples/TagsDescriptions.json
    name: Client Invoices
  - description: To change the description use /examples/TagsDescriptions.json
    name: Clients
  - description: To change the description use /examples/TagsDescriptions.json
    name: Dictionaries
  - description: To change the description use /examples/TagsDescriptions.json
    name: Currency exchange rates
  - description: To change the description use /examples/TagsDescriptions.json
    name: Files
  - description: To change the description use /examples/TagsDescriptions.json
    name: License
  - description: To change the description use /examples/TagsDescriptions.json
    name: Macros
  - description: To change the description use /examples/TagsDescriptions.json
    name: Vendor Invoices
  - description: To change the description use /examples/TagsDescriptions.json
    name: Vendors
  - description: To change the description use /examples/TagsDescriptions.json
    name: Reports
  - description: To change the description use /examples/TagsDescriptions.json
    name: Subscription
  - description: To change the description use /examples/TagsDescriptions.json
    name: Users
  - description: To change the description use /examples/TagsDescriptions.json
    name: Jobs (Classic)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Projects (Classic)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Quotes (Classic)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Tasks (Classic)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Jobs (Smart)(v2)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Projects (Smart)(v2)
  - description: To change the description use /examples/TagsDescriptions.json
    name: Quotes (Smart)(v2)
paths:
  /accounting/customers/invoices:
    get:
      description: Lists all client invoices in all statuses (including not ready and drafts) that have been updated since a specific date.
      operationId: getAll
      parameters:
        - description: only client invoices modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getAll.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/CustomerInvoiceDTO"
                type: array
          description: client invoices
      summary: Lists all client invoices in all statuses (including not ready and drafts) that have been updated since a specific date.
      tags:
        - Client Invoices
    post:
      description: Creates a new invoice from tasks. Tasks are grouped by client and currency, therefore multiple invoices can be created.If any of the tasks cannot be invoiced (ie. it is already invoiced, not invoiceable, not associated with a project) then an error is reported.
      operationId: create_1
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/createMultipleFromTasks.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomerInvoiceCreateDTO"
        description: Created new invoice.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/createMultipleFromTasks.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerInvoiceCreateResultDTO"
          description: Success
      summary: Creates a new invoice.
      tags:
        - Client Invoices
  /accounting/customers/invoices/documents:
    post:
      description: Generates client invoices' documents.
      operationId: downloadDocuments
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/downloadDocuments.json#requestBody
            schema:
              $ref: "#/components/schemas/DownloadDocumentsRequestDTO"
        description: Generated client invoices documents.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/downloadDocuments.json#responseBody
              schema:
                $ref: "#/components/schemas/UrlResultDTO"
          description: Success
      summary: Generates client invoices' documents.
      tags:
        - Client Invoices
  /accounting/customers/invoices/ids:
    get:
      description: Returns client invoices' internal identifiers.
      operationId: getAllIds
      parameters:
        - description: only client invoices modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: client invoices' internal identifiers
      summary: Returns client invoices' internal identifiers.
      tags:
        - Client Invoices
  /accounting/customers/invoices/sendReminders:
    post:
      description: Sends reminders. Returns number of sent e-mails.
      operationId: sendReminders
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/sendReminders.json#requestBody
            schema:
              $ref: "#/components/schemas/SendRemindersRequestDTO"
        description: Number of sent e-mails.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/sendReminders.json#responseBody
              schema:
                $ref: "#/components/schemas/SendRemindersResponseDTO"
          description: Success
      summary: Sends reminders. Returns number of sent e-mails.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}":
    delete:
      description: Removes a client invoice.
      operationId: delete_1
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a client invoice.
      tags:
        - Client Invoices
    get:
      description: Returns client invoice details.
      operationId: getById
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
        - description: list of adittional fields which should be embedded in the response (ie. tasks)
          in: query
          name: embed
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getById.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerInvoiceDTO"
          description: Success
      summary: Returns client invoice details.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/dates":
    get:
      description: Returns dates of a given client invoice.
      operationId: getDates
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getDates.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerInvoiceDatesDTO"
          description: Success
      summary: Returns dates of a given client invoice.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/document":
    get:
      description: Generates client invoice document (PDF).
      operationId: getDocument
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getDocument.json#responseBody
              schema:
                $ref: "#/components/schemas/UrlResultDTO"
          description: Success
      summary: Generates client invoice document (PDF).
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/duplicate":
    post:
      description: Duplicate client invoice.
      operationId: duplicate
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/duplicate.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerInvoiceDTO"
          description: Success
      summary: Duplicate client invoice.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/duplicate/proForma":
    post:
      description: Duplicate client invoice as pro forma.
      operationId: duplicateAsProForma
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/duplicateAsProForma.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerInvoiceDTO"
          description: Success
      summary: Duplicate client invoice as pro forma.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/paymentTerms":
    get:
      description: Returns payment terms of a given client invoice.
      operationId: getPaymentTerms
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getPaymentTerms.json#responseBody
              schema:
                $ref: "#/components/schemas/PaymentTermsDTO"
          description: Success
      summary: Returns payment terms of a given client invoice.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/payments":
    get:
      description: Returns all payments for the client invoice.
      operationId: getPayments
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/customers/invoices/getPayments.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/PaymentDTO"
                type: array
          description: client invoice's payments
      summary: Returns all payments for the client invoice.
      tags:
        - Client Invoices
    post:
      description: Adds a new payment to the client invoice. The invoice payment status (Not Paid, Partially Paid, Fully Paid) is automatically recalculated.
      operationId: createPayment
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/customers/invoices/createPayment.json#requestBody
            schema:
              $ref: "#/components/schemas/PaymentDTO"
        description: New payment.
        required: true
      responses:
        "204":
          description: Success
      summary: Adds a new payment to the client invoice. The invoice payment status (Not Paid, Partially Paid, Fully Paid) is automatically recalculated.
      tags:
        - Client Invoices
  "/accounting/customers/invoices/{invoiceId}/sendReminder":
    post:
      description: Sends reminder.
      operationId: sendReminder
      parameters:
        - description: client invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Sends reminder.
      tags:
        - Client Invoices
  "/accounting/customers/payments/{paymentId}":
    delete:
      description: Removes a customer payment.
      operationId: delete_2
      parameters:
        - description: customer payment's internal identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a customer payment.
      tags:
        - Client Invoices
  /accounting/providers/invoices:
    get:
      description: Lists all vendor invoices in all statuses (including not ready and drafts) that have been updated since a specific date.
      operationId: getAll_2
      parameters:
        - description: only vendor invoices modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getAll.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/ProviderInvoiceDTO"
                type: array
          description: vendor invoices
      summary: Lists all vendor invoices in all statuses (including not ready and drafts) that have been updated since a specific date.
      tags:
        - Vendor Invoices
    post:
      description: Creates a new invoice from jobs. Jobs are grouped by provider and currency, therefore multiple invoices can be created.If any of the jobs cannot be invoiced (ie. it is already invoiced) then an error is reported.
      operationId: create_4
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/createSingleFromJobs.json#requestBody
            schema:
              $ref: "#/components/schemas/ProviderInvoiceCreateDTO"
        description: Created new invoice.
        required: true
      responses:
        "200":
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/createSingleFromJobs.json#responseBody
              schema:
                $ref: "#/components/schemas/ProviderInvoiceCreateResultDTO"
          description: Success
      summary: Creates a new invoice.
      tags:
        - Vendor Invoices
  /accounting/providers/invoices/ids:
    get:
      description: Returns vendor invoices' internal identifiers.
      operationId: getAllIds_3
      parameters:
        - description: only vendor invoices modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: vendor invoices' internal identifiers
      summary: Returns vendor invoices' internal identifiers.
      tags:
        - Vendor Invoices
  "/accounting/providers/invoices/{invoiceId}":
    delete:
      description: Removes a provider invoice.
      operationId: delete_6
      parameters:
        - description: provider invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a provider invoice.
      tags:
        - Vendor Invoices
    get:
      description: Returns provider invoice details.
      operationId: getById_3
      parameters:
        - description: provider invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getById.json#responseBody
              schema:
                $ref: "#/components/schemas/ProviderInvoiceDTO"
          description: Success
      summary: Returns provider invoice details.
      tags:
        - Vendor Invoices
  "/accounting/providers/invoices/{invoiceId}/document":
    get:
      description: Generates provider invoice document (PDF).
      operationId: getDocument_1
      parameters:
        - description: provider invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getDocument.json#responseBody
              schema:
                $ref: "#/components/schemas/UrlResultDTO"
          description: Success
      summary: Generates provider invoice document (PDF).
      tags:
        - Vendor Invoices
  "/accounting/providers/invoices/{invoiceId}/payments":
    get:
      description: Returns all payments for the vendor invoice.
      operationId: getPayments_1
      parameters:
        - description: vendor invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/accounting/providers/invoices/getPayments.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/PaymentDTO"
                type: array
          description: vendor invoice's payments
      summary: Returns all payments for the vendor invoice.
      tags:
        - Vendor Invoices
    post:
      description: Creates a new payment on the vendor account and assigns the payment to the invoice.
      operationId: createPayment_1
      parameters:
        - description: vendor invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/createPayment.json#requestBody
            schema:
              $ref: "#/components/schemas/PaymentDTO"
        description: New payment.
        required: true
      responses:
        "204":
          description: Success
      summary: Creates a new payment on the vendor account and assigns the payment to the invoice.
      tags:
        - Vendor Invoices
  "/accounting/providers/invoices/{invoiceId}/send":
    post:
      description: Sends a provider invoice.
      operationId: send
      parameters:
        - description: provider invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Sends a provider invoice.
      tags:
        - Vendor Invoices
  "/accounting/providers/invoices/{invoiceId}/status":
    post:
      description: Changes invoice status to given status.
      operationId: setStatus
      parameters:
        - description: provider invoice's internal identifier
          in: path
          name: invoiceId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/accounting/providers/invoices/setStatus.json#requestBody
            schema:
              $ref: "#/components/schemas/StatusRequestDTO"
        description: Changed invoice status to given status.
        required: true
      responses:
        "204":
          description: Success
      summary: Changes invoice status to given status.
      tags:
        - Vendor Invoices
  "/accounting/providers/payments/{paymentId}":
    delete:
      description: Removes a provider payment.
      operationId: delete_7
      parameters:
        - description: provider payment's internal identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a provider payment.
      tags:
        - Vendor Invoices
  /browser:
    get:
      description: Searches for data (ie. customer, task, etc) and returns it in a tabular form.
      operationId: browseJSON
      parameters:
        - description: view's identifier
          in: query
          name: viewId
          schema:
            format: int64
            type: integer
        - in: query
          name: page
          schema:
            default: 0
            format: int32
            type: integer
        - in: query
          name: additionalOrder
          schema:
            type: string
        - in: query
          name: useDeferredColumns
          schema:
            type: string
        - description: overrides view's default rows limit, supported values 10 to 1000
          in: query
          name: maxRows
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/browseProjects.json#responseBody
              schema:
                type: object
          description: Success
      summary: Searches for data (ie. customer, task, etc) and returns it in a tabular form.
      tags:
        - Browser
  /browser/csv:
    get:
      description: Searches for data (ie. customer, task, etc) and returns it in a CSV form.
      operationId: browseCSV
      parameters:
        - description: view's identifier
          in: query
          name: viewId
          schema:
            format: int64
            type: integer
        - description: csv field separator
          in: query
          name: separator
          schema:
            type: string
        - description: secondary csv field separator
          in: query
          name: secondarySeparator
          schema:
            type: string
        - in: query
          name: additionalOrder
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/exportToCSV.json#responseBody
              schema:
                type: object
          description: Success
      summary: Searches for data (ie. customer, task, etc) and returns it in a CSV form.
      tags:
        - Browser
  "/browser/views/details/for/{className}":
    get:
      description: Returns current view's detailed information, suitable for browser.
      operationId: getCurrentViewDetails
      parameters:
        - description: views' class name
          in: path
          name: className
          required: true
          schema:
            type: string
        - description: place name (denotes specific place in system with the table)
          in: query
          name: placeName
          schema:
            default: default
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getCurrentDetails.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewDetailsDTO"
          description: Success
      summary: Returns current view's detailed information, suitable for browser.
      tags:
        - Browser
  "/browser/views/details/for/{className}/{viewId}":
    get:
      description: Returns view's detailed information, suitable for browser.
      operationId: getViewDetails
      parameters:
        - description: views' class name
          in: path
          name: className
          required: true
          schema:
            type: string
        - description: place name (denotes specific place in system with the table)
          in: query
          name: placeName
          schema:
            default: default
            type: string
        - in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getDetails.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewDetailsDTO"
          description: Success
      summary: Returns view's detailed information, suitable for browser.
      tags:
        - Browser
    post:
      description: Selects given view as current and returns its detailed information, suitable for browser.
      operationId: selectViewAndGetItsDetails
      parameters:
        - description: views' class name
          in: path
          name: className
          required: true
          schema:
            type: string
        - in: query
          name: place name (denotes specific place in system with the table)
          schema:
            default: default
            type: string
        - in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/selectViewAndGetItsDetails.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewDetailsDTO"
          description: Success
      summary: Selects given view as current and returns its detailed information, suitable for browser.
      tags:
        - Browser
  "/browser/views/for/{className}":
    get:
      description: Returns views' brief.
      operationId: getViewsBrief
      parameters:
        - description: views' class name
          in: path
          name: className
          required: true
          schema:
            type: string
        - description: place name (denotes specific place in system with the table)
          in: query
          name: placeName
          schema:
            default: default
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getViewsBrief.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewsBriefDTO"
          description: Success
      summary: Returns views' brief.
      tags:
        - Browser
    post:
      description: Creates view for given class.
      operationId: create
      parameters:
        - description: view's class name
          in: path
          name: className
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: "#/components/schemas/ViewDTO"
        description: Created view for given class.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/create.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewWithIdDTO"
          description: Success
      summary: Creates view for given class.
      tags:
        - Browser
  "/browser/views/{viewId}":
    delete:
      description: Removes a view. No content is returned upon success (204).
      operationId: delete
      parameters:
        - description: view's internal identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a view.
      tags:
        - Browser
    get:
      description: Returns all view's information (ie. name, columns, filters, etc).
      operationId: get
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/get.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewDTO"
          description: Success
      summary: Returns all view's information.
      tags:
        - Browser
    put:
      description: Updates all view's information (ie. name, columns, filters, etc).
      operationId: update
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: "#/components/schemas/ViewDTO"
        description: Updated all view's information.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/update.json#responseBody
              schema:
                $ref: "#/components/schemas/ViewDTO"
          description: Success
      summary: Updates all view's information.
      tags:
        - Browser
  "/browser/views/{viewId}/columns":
    get:
      description: Returns columns defined in view.
      operationId: getColumns
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getColumns.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/ColumnDTO"
                type: array
          description: Success
      summary: Returns columns defined in view.
      tags:
        - Browser
    put:
      description: Updates columns in view.
      operationId: updateColumns
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateColumns.json#requestBody
            schema:
              items:
                $ref: "#/components/schemas/ColumnDTO"
              type: array
        description: Updated columns in view.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateColumns.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/ColumnDTO"
                type: array
          description: Success
      summary: Updates columns in view.
      tags:
        - Browser
  "/browser/views/{viewId}/columns/{columnName}":
    delete:
      description: Deletes a single column from view.
      operationId: deleteColumn
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
        - description: column's name
          in: path
          name: columnName
          required: true
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/deleteColumn.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/ColumnDTO"
                type: array
          description: Success
      summary: Deletes a single column from view.
      tags:
        - Browser
  "/browser/views/{viewId}/columns/{columnName}/settings":
    get:
      description: Returns column's specific settings. For example when column describes money amount we can decide whether it should display currency or not.
      operationId: getColumnSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
        - description: column's name
          in: path
          name: columnName
          required: true
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getColumnSettings.json#responseBody
              schema:
                type: object
          description: Success
      summary: Returns column's specific settings.
      tags:
        - Browser
    put:
      description: Updates column's specific settings. For example when column describes money amount we can decide whether it should display currency or not.
      operationId: updateColumnSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
        - description: column's name
          in: path
          name: columnName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateColumnSettings.json#requestBody
            schema:
              type: object
        description: Updated column's specific settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateColumnSettings.json#responseBody
              schema:
                type: object
          description: Success
      summary: Updates column's specific settings.
      tags:
        - Browser
  "/browser/views/{viewId}/filter":
    get:
      description: Returns view's filter.
      operationId: getFilter
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/filter/getTextProperty.json#responseBody
              schema:
                $ref: "#/components/schemas/FilterDTO"
          description: Success
      summary: Returns view's filter.
      tags:
        - Browser
    put:
      description: Updates view's filter.
      operationId: updateFilter
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateFilter.json#requestBody
            schema:
              items:
                $ref: "#/components/schemas/FilterPropertyDTO"
              type: array
        description: Updated view's filter.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateFilter.json#responseBody
              schema:
                $ref: "#/components/schemas/FilterDTO"
          description: Success
      summary: Updates view's filter.
      tags:
        - Browser
  "/browser/views/{viewId}/filter/{filterProperty}":
    put:
      description: Updates view's filter property.
      operationId: updateFilterProperty
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
        - description: view's filter property name
          in: path
          name: filterProperty
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateFilterProperty.json#requestBody
            schema:
              $ref: "#/components/schemas/FilterPropertyDTO"
        description: Updated view's filter property.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateFilterProperty.json#responseBody
              schema:
                type: object
          description: Success
      summary: Updates view's filter property.
      tags:
        - Browser
  "/browser/views/{viewId}/order":
    get:
      description: Returns view's order settings.
      operationId: getOrder
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getOrder.json#responseBody
              schema:
                $ref: "#/components/schemas/OrderDTO"
          description: Success
      summary: Returns view's order settings.
      tags:
        - Browser
    put:
      description: Updates view's order settings.
      operationId: updateOrder
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateOrder.json#requestBody
            schema:
              $ref: "#/components/schemas/OrderDTO"
        description: Updated view's order settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateOrder.json#responseBody
              schema:
                $ref: "#/components/schemas/OrderDTO"
          description: Success
      summary: Updates view's order settings.
      tags:
        - Browser
  "/browser/views/{viewId}/permissions":
    get:
      description: Returns view's permissions.
      operationId: getPermissions
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getPermissions.json#responseBody
              schema:
                $ref: "#/components/schemas/PermissionsDTO"
          description: Success
      summary: Returns view's permissions.
      tags:
        - Browser
    put:
      description: Updates view's permissions.
      operationId: updatePermissions
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updatePermissions.json#requestBody
            schema:
              $ref: "#/components/schemas/PermissionsDTO"
        description: Updated view's permissions.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updatePermissions.json#responseBody
              schema:
                $ref: "#/components/schemas/PermissionsDTO"
          description: Success
      summary: Updates view's permissions.
      tags:
        - Browser
  "/browser/views/{viewId}/settings":
    get:
      description: Returns view's settings (ie. name).
      operationId: getSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getSettings.json#responseBody
              schema:
                $ref: "#/components/schemas/SettingsDTO"
          description: Success
      summary: Returns view's settings.
      tags:
        - Browser
    put:
      description: Updates view's settings.
      operationId: updateSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateSettings.json#requestBody
            schema:
              $ref: "#/components/schemas/SettingsDTO"
        description: Updated view's settings.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateSettings.json#responseBody
              schema:
                $ref: "#/components/schemas/SettingsDTO"
          description: Success
      summary: Updates view's settings.
      tags:
        - Browser
  "/browser/views/{viewId}/settings/local":
    get:
      description: Returns view's local settings (for current user).
      operationId: getLocalSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/getLocalSettings.json#responseBody
              schema:
                $ref: "#/components/schemas/LocalSettingsDTO"
          description: Success
      summary: Returns view's local settings (for current user).
      tags:
        - Browser
    put:
      description: Updates view's local settings (for current user).
      operationId: updateLocalSettings
      parameters:
        - description: view's identifier
          in: path
          name: viewId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/browsers/views/updateLocalSettings.json#requestBody
            schema:
              $ref: "#/components/schemas/LocalSettingsDTO"
        description: Updated view's local settings (for current user).
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/browsers/views/updateLocalSettings.json#responseBody
              schema:
                $ref: "#/components/schemas/LocalSettingsDTO"
          description: Success
      summary: Updates view's local settings (for current user).
      tags:
        - Browser
  /customers:
    get:
      description: Returns list of simple clients representations
      operationId: getAllNamesWithIds
      parameters:
        - description: only clients modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getAllNamesWithIds.json#responseBody
              schema:
                items:
                  $ref: "#/components/schemas/EntityWithNameDTO"
                type: array
          description: Success
      summary: Returns list of simple clients representations
      tags:
        - Clients
    post:
      description: |
        Creates a new client. All available fields are presented in PUT request.<p>
          Required fields:
          <ul>
            <li>name</li>
            <li>fullName</li>
            <li>contact -> emails -> primary</li>
          </ul>
        </p>
      operationId: create_3
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/create.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomerDTO"
        description: Created user object
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/create.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerDTO"
          description: Success
      summary: Creates a new client.
      tags:
        - Clients
  /customers/ids:
    get:
      description: Returns clients' internal identifiers.
      operationId: getAllIds_2
      parameters:
        - description: only clients modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
        - description: exact name of client
          in: query
          name: nameEquals
          schema:
            type: string
        - description: exact email of client
          in: query
          name: emailEquals
          schema:
            type: string
      responses:
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: Success
      summary: Returns clients' internal identifiers.
      tags:
        - Clients
  /customers/persons:
    post:
      description: Creates a new person. Required fields are presented in the example. Other fields (from PUT) may also be specified here.
      operationId: create_2
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/create.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomerPersonDTO"
        description: Brand new person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/create.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerPersonDTO"
          description: Success
      summary: Creates a new person.
      tags:
        - Clients
  /customers/persons/accessToken:
    post:
      description: Generates a single use sign-in token for the customer person found for given login or e-mail. Returns 'url' and 'token' which allows to sign-in to customer portal as this person. Token is valid for two minutes and can be used only once. To sign-in to customer portal you should post 'token' provided as the 'accessToken' form param to the 'url' using POST method.Detailed description is available in the Customer API <a href="/api-doc/customer-api/authentication">authentication</a>.
      operationId: generateSingleUseSignInToken
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/generateSingleUseSignInToken.json#requestBody
            schema:
              $ref: "#/components/schemas/AccessTokenRequestDTO"
        description: Generated sign-in token.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/generateSingleUseSignInToken.json#responseBody
              schema:
                $ref: "#/components/schemas/AccessTokenDTO"
          description: Success
      summary: Generates a single use sign-in token.
      tags:
        - Clients
  /customers/persons/ids:
    get:
      description: Returns persons' internal identifiers.
      operationId: getAllIds_1
      parameters:
        - description: only persons modified since this timestamp
          in: query
          name: updatedSince
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getIds.json#responseBody
              schema:
                items:
                  format: int32
                  type: integer
                type: array
          description: Success
      summary: Returns persons' internal identifiers.
      tags:
        - Clients
  "/customers/persons/{personId}":
    delete:
      description: Removes a person.
      operationId: delete_3
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a person.
      tags:
        - Clients
    get:
      description: Returns person details.
      operationId: getById_1
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getById.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerPersonDTO"
          description: Success
      summary: Returns person details.
      tags:
        - Clients
    put:
      description: Only specified fields will be changed. One may not specify embeddable fields here - use separate API calls for updating them.
      operationId: update_1
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/update.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomerPersonDTO"
        description: Updated existing person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/update.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerPersonDTO"
          description: Success
      summary: Updates an existing person.
      tags:
        - Clients
  "/customers/persons/{personId}/contact":
    get:
      description: Returns contact of a given person.
      operationId: getContact
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getContact.json#responseBody
              schema:
                $ref: "#/components/schemas/PersonContactDTO"
          description: Success
      summary: Returns contact of a given person.
      tags:
        - Clients
    put:
      description: Updates contact of a given person. Sets that this person uses specific address and contact (not the one from customer).
      operationId: updateContact
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/updateContact.json#requestBody
            schema:
              $ref: "#/components/schemas/PersonContactDTO"
        description: Updated contact of a given person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/updateContact.json#responseBody
              schema:
                $ref: "#/components/schemas/PersonContactDTO"
          description: Success
      summary: Updates contact of a given person.
      tags:
        - Clients
  "/customers/persons/{personId}/customFields":
    get:
      description: Returns custom fields of a given person.
      operationId: getCustomFields
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/getCustomFields.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldsDTO"
          description: Success
      summary: Returns custom fields of a given person.
      tags:
        - Clients
    put:
      description: Updates custom fields of a given person.
      operationId: updateCustomFields
      parameters:
        - description: person's internal identifier
          in: path
          name: personId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/persons/updateCustomFields.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomFieldsDTO"
        description: Updated custom fields of a given person.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/persons/updateCustomFields.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldsDTO"
          description: Success
      summary: Updates custom fields of a given person.
      tags:
        - Clients
  "/customers/priceLists/{priceListId}":
    delete:
      description: Removes a customer price list.
      operationId: delete_4
      parameters:
        - description: customer price list's internal identifier
          in: path
          name: priceListId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a customer price list.
      tags:
        - Clients
  "/customers/{customerId}":
    delete:
      description: Removes a client.
      operationId: delete_5
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
      summary: Removes a client.
      tags:
        - Clients
    get:
      description: Returns client details.
      operationId: getById_2
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
        - description: "list of additional fields which should be embedded in the response (available options: persons)"
          in: query
          name: embed
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getById.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerDTO"
          description: Success
      summary: Returns client details.
      tags:
        - Clients
    put:
      description: Only specified fields will be changed (id is required). One may not specify embeddable fields here - use separate API calls for updating them.
      operationId: update_2
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/update.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomerDTO"
        description: Updated client
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/update.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomerDTO"
          description: Success
      summary: Updates an existing client.
      tags:
        - Clients
  "/customers/{customerId}/address":
    get:
      description: Returns address of a given client.
      operationId: getAddress
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/getAddress.json#responseBody
              schema:
                $ref: "#/components/schemas/AddressDTO"
          description: Success
      summary: Returns address of a given client.
      tags:
        - Clients
    put:
      description: Updates address of a given client.
      operationId: updateAddress
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/address/updateAddress.json#requestBody
            schema:
              $ref: "#/components/schemas/AddressDTO"
        description: Updated address of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/updateAddress.json#responseBody
              schema:
                $ref: "#/components/schemas/AddressDTO"
          description: Success
      summary: Updates address of a given client.
      tags:
        - Clients
  "/customers/{customerId}/categories":
    get:
      description: Returns categories of a given client.
      operationId: getCategories
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCategories.json#responseBody
              schema:
                $ref: "#/components/schemas/CategoriesDTO"
          description: Success
      summary: Returns categories of a given client.
      tags:
        - Clients
    put:
      description: Updates categories of a given client.
      operationId: updateCategories
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCategories.json#requestBody
            schema:
              $ref: "#/components/schemas/CategoriesDTO"
        description: Updated categories of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCategories.json#responseBody
              schema:
                $ref: "#/components/schemas/CategoriesDTO"
          description: Success
      summary: Updates categories of a given client.
      tags:
        - Clients
  "/customers/{customerId}/contact":
    get:
      description: Returns contact of a given client.
      operationId: getContact_1
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getContact.json#responseBody
              schema:
                $ref: "#/components/schemas/ContactDTO"
          description: Success
      summary: Returns contact of a given client.
      tags:
        - Clients
    put:
      description: Updates contact of a given client.
      operationId: updateContact_1
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateContact.json#requestBody
            schema:
              $ref: "#/components/schemas/ContactDTO"
        description: Updated contact of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateContact.json#responseBody
              schema:
                $ref: "#/components/schemas/ContactDTO"
          description: Success
      summary: Updates contact of a given client.
      tags:
        - Clients
  "/customers/{customerId}/correspondenceAddress":
    get:
      description: Returns correspondence address of a given client.
      operationId: getCorrespondenceAddress
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/getCorrespondenceAddress.json#responseBody
              schema:
                $ref: "#/components/schemas/AddressDTO"
          description: Success
      summary: Returns correspondence address of a given client.
      tags:
        - Clients
    put:
      description: Updates correspondence address of a given client.
      operationId: updateCorrespondenceAddress
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/address/updateCorrespondenceAddress.json#requestBody
            schema:
              $ref: "#/components/schemas/AddressDTO"
        description: Updated address of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/address/updateCorrespondenceAddress.json#responseBody
              schema:
                $ref: "#/components/schemas/AddressDTO"
          description: Success
      summary: Updates correspondence address of a given client.
      tags:
        - Clients
  "/customers/{customerId}/customFields":
    get:
      description: Returns custom fields of a given client.
      operationId: getCustomFields_1
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCustomFields.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldsDTO"
          description: Success
      summary: Returns custom fields of a given client.
      tags:
        - Clients
    put:
      description: Updates custom fields of a given client.
      operationId: updateCustomFields_1
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCustomFields.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomFieldsDTO"
        description: Updated custom fields of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCustomFields.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldsDTO"
          description: Success
      summary: Updates custom fields of a given client.
      tags:
        - Clients
  "/customers/{customerId}/customFields/{customFieldKey}":
    get:
      description: Returns custom field of a given client.
      operationId: getCustomField
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
        - description: custom field's key
          in: path
          name: customFieldKey
          required: true
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getCustomField.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldDTO"
          description: Success
      summary: Returns custom field of a given client.
      tags:
        - Clients
    put:
      description: Updates given custom field of a given client.
      operationId: updateCustomField
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
        - description: custom field's key
          in: path
          name: customFieldKey
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateCustomField.json#requestBody
            schema:
              $ref: "#/components/schemas/CustomFieldDTO"
        description: Updated custom field of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateCustomField.json#responseBody
              schema:
                $ref: "#/components/schemas/CustomFieldDTO"
          description: Success
      summary: Updates given custom field of a given client.
      tags:
        - Clients
  "/customers/{customerId}/industries":
    get:
      description: Returns industries of a given client.
      operationId: getIndustries
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/getIndustries.json#responseBody
              schema:
                $ref: "#/components/schemas/IndustriesDTO"
          description: Success
      summary: Returns industries of a given client.
      tags:
        - Clients
    put:
      description: Updates industries of a given client.
      operationId: updateIndustries
      parameters:
        - description: client's internal identifier
          in: path
          name: customerId
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/customers/updateIndustries.json#requestBody
            schema:
              $ref: "#/components/schemas/CategoriesDTO"
        description: Updated industries of a given client.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/customers/updateIndustries.json#responseBody
              schema:
                $ref: "#/components/schemas/IndustriesDTO"
          description: Success
      summary: Updates industries of a given client.
      tags:
        - Clients
  /dictionaries/active:
    get:
      description: Returns active dictionary entities for all types.
      operationId: getActive
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/map-active.json#responseBody
              schema:
                $ref: "#/components/schemas/ManyValuesPerTypeDTO"
          description: Success
      summary: Returns active dictionary entities for all types.
      tags:
        - Dictionaries
  /dictionaries/all:
    get:
      description: |-
        <div>
          <p>
            XTRF holds many user-defined dictionaries (ie. countries).
            Each dictionary contains a set of values (ie. Poland or Germany).
            A default value may be defined for a dictionary.
          </p>
          <p>
            Dictionary values are identified using internal identifier which is constant and unique among other values from the same dictionary.
            Please note that name used in dictionary values is presented in the locale of the current identity.
            The same dictionary value can have different names, ie. "Poland" for one user, "Polska" for another one.
          </p>
          <p>
            Possible dictionary types with short explanation:
            <ul>
              <li>calculationUnit - predefined values of how to calculate the volume of work into the price</li>
              <li>category - labels to organize data on the platform</li>
              <li>country - list of countries used on the platform</li>
              <li>currency - currencies used in financial operations in the system</li>
              <li>industry - industry sectors which clients specialize in</li>
              <li>jobType - services offered by a company used in customized workflows</li>
              <li>language - list of languages and its values used on the platform</li>
              <li>leadSource - lead/recruitment places where new clients and vendors may be found</li>
              <li>personDepartment - departments in which contact person may be assigned to</li>
              <li>personPosition - positions in which user may be associated with</li>
              <li>province - states and provinces used in various documents on the platform</li>
              <li>specialization - list of specific qualifications required to perform a specific job in the task, for ex. medical, military</li>
            </ul>
          </p>
        </div>
      operationId: getAll_1
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/map-all.json#responseBody
              schema:
                $ref: "#/components/schemas/ManyValuesPerTypeDTO"
          description: Success
      summary: Returns dictionary entities for all types. Both active and not active ones.
      tags:
        - Dictionaries
  "/dictionaries/currency/{isoCode}/exchangeRate":
    get:
      description: Returns currency exchange rates.
      operationId: getByIsoCode
      parameters:
        - description: iso code, https://www.xe.com/iso4217.php
          in: path
          name: isoCode
          required: true
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/currency/getByIsoCode.json#responseBody
              schema:
                $ref: "#/components/schemas/CurrencyHistoryDTO"
          description: Success
      summary: Returns currency exchange rates.
      tags:
        - Currency exchange rates
    post:
      description: Adding currency exchange rates via API
      operationId: createExchangeRate
      parameters:
        - description: iso code, https://www.xe.com/iso4217.php
          in: path
          name: isoCode
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/dictionaries/currency/createExchangeRate.json#requestBody
            schema:
              $ref: "#/components/schemas/CurrencyHistoryDTO"
        description: Adding new currency exchange rates
        required: true
      responses:
        "204":
          description: Success
      summary: Adding currency exchange rates.
      tags:
        - Currency exchange rates
  "/dictionaries/{type}/active":
    get:
      description: Returns active values from a given dictionary.
      operationId: getActiveByType
      parameters:
        - description: dictionary type
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: exact name of entity
          in: query
          name: nameEquals
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/currency-active-v1.json#responseBody
              schema:
                $ref: "#/components/schemas/DictionaryEntity"
          description: Success
      summary: Returns active values from a given dictionary.
      tags:
        - Dictionaries
  "/dictionaries/{type}/all":
    get:
      description: Returns all values (both active and not active) from a given dictionary.
      operationId: getAllByType
      parameters:
        - description: dictionary type
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: exact name of entity
          in: query
          name: nameEquals
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/currency-all-v1.json#responseBody
              schema:
                $ref: "#/components/schemas/DictionaryEntity"
          description: Success
      summary: Returns all values (both active and not active) from a given dictionary.
      tags:
        - Dictionaries
  "/dictionaries/{type}/{id}":
    get:
      description: Returns specific value from a given dictionary.
      operationId: getByTypeAndId
      parameters:
        - description: dictionary type
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: dictionary value identifier
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/dictionaries/currency-v1.json#responseBody
              schema:
                $ref: "#/components/schemas/DictionaryEntity"
          description: Success
      summary: Returns specific value from a given dictionary.
      tags:
        - Dictionaries
  /files:
    post:
      description: |
        When a file is required by an operation (ie. task creation) it must be uploaded previously to the API.
        Uploading a file will result in a file token, which can be used to reference this file in other API calls.
         Each file must be uploaded separately.
         Keep in mind that file token has limited validity (ie. 10 minutes).
         Therefore files must be uploaded just before issuing API call which reference them.
      operationId: uploadFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileToUploadDto"
        description: Uploaded file
        required: true
      responses:
        default:
          content:
            application/json: {}
          description: default response
      summary: Uploads a temporary file (ie. for XML import). Returns token which can be used in other API calls.
      tags:
        - Files
  "/jobs/{jobId}":
    get:
      description: Returns job details by jobId.
      operationId: getJobDetails
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/v1/jobs/getJobDetails.json#responseBody
              schema:
                $ref: "#/components/schemas/JobDto"
          description: Success
      summary: Returns job details by jobId.
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/dates":
    put:
      description: Updates dates of a given job.
      operationId: updateDates
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/v1/jobs/updateDates.json#requestBody
            schema:
              $ref: "#/components/schemas/JobDatesDto"
        description: New job dates.
        required: true
      responses:
        "204":
          description: Success
      summary: Updates dates of a given job.
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/files":
    get:
      description: Returns list of input and output files of a job.
      operationId: getJobFiles
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/v1/jobs/getJobFiles.json#responseBody
              schema:
                $ref: "#/components/schemas/JobFilesDTO"
          description: Success
      summary: Returns list of input and output files of a job.
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/files/output":
    post:
      operationId: assignFileToJobOutput
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/v1/jobs/assignFileToJobOutput.json#requestBody
            schema:
              $ref: "#/components/schemas/TaskFileDTO"
        description: Assigns file to job output files.
        required: true
      responses:
        default:
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8: {}
          description: default response
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/files/{fileId}":
    get:
      description: Returns file metadata.
      operationId: getJobFiles_1
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: file's internal identifier
          in: path
          name: fileId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/vnd.xtrf-v1+json;charset=UTF-8:
              examples:
                ref:
                  description: ref
                  value: /home-api/assets/examples/v1/jobs/getJobFileMetadata.json#responseBody
              schema:
                $ref: "#/components/schemas/FileMetadataDTO"
          description: Success
      summary: Returns file metadata.
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/instructions":
    put:
      description: Updates instructions for a job.
      operationId: updateInstructions
      parameters:
        - description: job's internal identifier
          in: path
          name: jobId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              ref:
                description: ref
                value: /home-api/assets/examples/v1/jobs/updateInstructionsForJob.json#requestBody
            schema:
              $ref: "#/components/schemas/InstructionsDTO"
        description: Updated instructions for a job.
        required: true
      responses:
        "204":
          description: Success
      summary: Updates instructions for a job.
      tags:
        - Jobs (Classic)
  "/jobs/{jobId}/status":
    put:
      description: "Changes job status if possible (400 Bad Request is returned otherwise). The status has to be specified using one of the following keys:<ul><li>OPEN – available when the job has one of the following statuses: ACCEPTED, CANCELED</li><li>ACCEPTED – available when the job has one of the following statuses: OPEN (Vendor and dates have to be set before calling the operation), STARTED</li><li>STARTED – available when the job has one of the following statuses: ACCEPTED, READY</li><li>READY – available when the job has one of the following statuses: STARTED</li><li>CANCELLED – available when the job has one of the following statuses: OPEN, ACCEPTED, STARTED, OFFERS_SENT</li><li>OFFERS_SENT – not available as a target status for this operation</li></ul>"
      operationId: changeStatus
      parameters:
        - description: job's internal identifier
          in: path
[...]
