openapi: 3.0.3
servers:
  - description: Production
    url: https://chat.stream-io-api.com
  - description: Local
    url: http://localhost:{port}
    variables:
      port:
        default: "3030"
        description: Server port
info:
  title: Stream Chat API
  version: v79.19.1
  x-origin:
    - format: openapi
      url: https://stream-openapi.s3.us-east-1.amazonaws.com/chat/openapi-latest.yaml
      version: "3.0"
  x-providerName: stream-io-api.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
externalDocs:
  description: Stream Chat Documentation
  url: https://getstream.io/chat/docs/
security:
  - JWT: []
    api_key: []
    stream-auth-type: []
  - api_key: []
    stream-auth-type: []
paths:
  /app:
    get:
      description: This method returns the application settings
      operationId: GetApp
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApplicationResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get App Settings
      tags:
        - Settings
      x-stream-docs-page-id: app_setting_overview
    patch:
      description: This method updates one or more application settings
      operationId: UpdateApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAppRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update App Settings
      tags:
        - Settings
      x-stream-docs-page-id: app_setting_overview
      x-stream-server-side: true
  /blocklists:
    get:
      description: Returns all available block lists
      operationId: ListBlockLists
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBlockListResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: List block lists
      tags:
        - Settings
        - Moderation
      x-stream-docs-page-id: block_lists
      x-stream-server-side: true
    post:
      description: Creates a new application blocklist, once created the blocklist can be used by any channel type
      operationId: CreateBlockList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlockListRequest"
        description: Block list
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Create block list
      tags:
        - Settings
        - Moderation
      x-stream-docs-page-id: block_lists
      x-stream-server-side: true
  "/blocklists/{name}":
    delete:
      description: Deletes previously created application blocklist
      operationId: DeleteBlockList
      parameters:
        - content:
            application/json:
              schema:
                description: Block list name
                title: Name
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete block list
      tags:
        - Settings
        - Moderation
      x-stream-docs-page-id: block_lists
      x-stream-server-side: true
    get:
      description: Returns block list by given name
      operationId: GetBlockList
      parameters:
        - content:
            application/json:
              schema:
                description: Block list name
                title: Name
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBlockListResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get block list
      tags:
        - Settings
        - Moderation
      x-stream-docs-page-id: block_lists
      x-stream-server-side: true
    put:
      description: Updates contents of the block list
      operationId: UpdateBlockList
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBlockListRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update block list
      tags:
        - Settings
        - Moderation
      x-stream-docs-page-id: block_lists
      x-stream-server-side: true
  /calls/:
    post:
      description: Retrieves the token to join a call
      operationId: GetCallToken__1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCallTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallTokenResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get Call Token ()
      x-stream-docs-page-id: video
      x-stream-permissions:
        JoinCall: To request the call token
        ReadChannel: To read the channel
  "/calls/{call_id}":
    post:
      description: Retrieves the token to join a call
      operationId: GetCallToken_call_id_0
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: call_id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCallTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallTokenResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get Call Token (call_id)
      x-stream-docs-page-id: video
      x-stream-permissions:
        JoinCall: To request the call token
        ReadChannel: To read the channel
  /campaigns:
    get:
      description: Query campaigns
      operationId: QueryCampaigns
      parameters:
        - content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryCampaignsRequest"
                x-stream-index: "001"
          in: query
          name: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryCampaignsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Query campaigns
      tags:
        - Campaigns
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
    post:
      description: Creates a new campaign
      operationId: CreateCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCampaignRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Create campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  "/campaigns/{id}":
    delete:
      description: Delete a campaign
      operationId: DeleteCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: id
          required: true
        - content:
            application/json:
              schema:
                type: boolean
                writeOnly: true
                x-stream-index: "001"
          in: query
          name: recipients
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
    put:
      description: Update an existing campaign
      operationId: UpdateCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  "/campaigns/{id}/resume":
    patch:
      description: Resume a stopped campaign
      operationId: ResumeCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: id
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Resume campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  "/campaigns/{id}/schedule":
    patch:
      description: Schedule a campaign
      operationId: ScheduleCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleCampaignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Schedule campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  "/campaigns/{id}/stop":
    patch:
      description: Stop a running campaign
      operationId: StopCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: id
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StopCampaignResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Stop campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  "/campaigns/{id}/test":
    post:
      description: Test a campaign
      operationId: TestCampaign
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestCampaignRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestCampaignResponse"
          description: Test campaign response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Test campaign
      tags:
        - Campaigns
      x-stream-beta: true
      x-stream-docs-page-id: campaigns
      x-stream-server-side: true
  /channels:
    post:
      description: Query channels with filter query
      operationId: QueryChannels
      parameters:
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "011.002"
          in: query
          name: client_id
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "011.003"
          in: query
          name: connection_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryChannelsRequest"
        description: Query Channels Request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelsResponse"
          description: Channels list
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Query channels
      tags:
        - Channels
      x-stream-docs-page-id: query_channels
      x-stream-permissions:
        ReadChannel: To access channels that were requested
  /channels/delete:
    post:
      description: Allows to delete several channels at once asynchronously
      operationId: DeleteChannels
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteChannelsRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteChannelsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Deletes channels asynchronously
      tags:
        - Channels
        - GDPR
      x-stream-docs-page-id: gdpr
      x-stream-events:
        channel.deleted: When a channel is deleted
      x-stream-events-v2:
        channel.deleted:
          description: When a channel is deleted
          schema:
            ref: "#/components/schemas/ChannelDeletedEvent"
      x-stream-permissions:
        DeleteChannel: To delete a channel
  /channels/read:
    post:
      description: Marks channels as read up to the specific message. If no channels is given, mark all channel as read
      operationId: MarkChannelsRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkChannelsReadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarkReadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Mark channels as read
      tags:
        - Channels
        - Messages
      x-stream-events:
        message.read: When the channel is marked as read
      x-stream-events-v2:
        message.read:
          description: When the channel is marked as read
          schema:
            ref: "#/components/schemas/MessageReadEvent"
      x-stream-permissions:
        ReadChannel: To mark message read
  "/channels/{type}/query":
    post:
      description: This method creates a channel or returns an existing one with matching attributes
      operationId: GetOrCreateChannel_type_1
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type
                maxLength: 64
                title: Type
                type: string
                writeOnly: true
                x-stream-index: "002"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.002"
          in: query
          name: client_id
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.003"
          in: query
          name: connection_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelGetOrCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelStateResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get or create channel (type)
      tags:
        - Channels
      x-stream-docs-page-id: watch_channel
      x-stream-events:
        channel.created: If channel is created
        member.added: If member is added
        member.removed: If member is removed
        member.updated: If member is updated
        user.watching.start: "If `watch: true`"
      x-stream-events-v2:
        channel.created:
          description: If channel is created
          schema:
            ref: "#/components/schemas/ChannelCreatedEvent"
        member.added:
          description: If member is added
          schema:
            ref: "#/components/schemas/MemberAddedEvent"
        member.removed:
          description: If member is removed
          schema:
            ref: "#/components/schemas/MemberRemovedEvent"
        member.updated:
          description: If member is updated
          schema:
            ref: "#/components/schemas/MemberUpdatedEvent"
        user.watching.start:
          description: "If `watch: true`"
          schema:
            ref: "#/components/schemas/UserWatchingStartEvent"
  "/channels/{type}/{id}":
    delete:
      description: Deletes channel
      operationId: DeleteChannel
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type to interact with
                title: Channel type
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                description: Channel ID to interact with
                title: Channel ID
                type: string
                writeOnly: true
                x-stream-index: "001.002"
          in: path
          name: id
          required: true
        - content:
            application/json:
              schema:
                type: boolean
                x-stream-index: "002"
          in: query
          name: hard_delete
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteChannelResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete channel
      tags:
        - Channels
      x-stream-docs-page-id: channel_delete
      x-stream-events:
        channel.deleted: When channel is deleted
      x-stream-events-v2:
        channel.deleted:
          description: When channel is deleted
          schema:
            ref: "#/components/schemas/ChannelDeletedEvent"
      x-stream-permissions:
        DeleteChannel: To delete a channel
    patch:
      description: Updates certain fields of the channel
      operationId: UpdateChannelPartial
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChannelPartialRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateChannelPartialResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Partially update channel
      tags:
        - Channels
      x-stream-docs-page-id: channel_update#partial-update
      x-stream-events:
        channel.updated: When channel is updated
      x-stream-events-v2:
        channel.updated:
          description: When channel is updated
          schema:
            ref: "#/components/schemas/ChannelUpdatedEvent"
      x-stream-permissions:
        UpdateChannel: To update channel data
        UpdateChannelCooldown: To update channel cooldown (slowmode)
        UpdateChannelFrozen: To freeze or unfreeze a channel
    post:
      description: Change channel data
      operationId: UpdateChannel
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: 013.002.001
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: 013.002.002
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChannelRequest"
        description: Channel update request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateChannelResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update channel
      tags:
        - Channels
      x-stream-docs-page-id: channel_update
      x-stream-events:
        channel.updated: When channel is successfully updated
        member.added: When new channel member is added
        member.removed: When new channel member is removed
        member.updated: When new channel member is updated
        message.new: When system `message` is set
      x-stream-events-v2:
        channel.updated:
          description: When channel is successfully updated
          schema:
            ref: "#/components/schemas/ChannelUpdatedEvent"
        member.added:
          description: When new channel member is added
          schema:
            ref: "#/components/schemas/MemberAddedEvent"
        member.removed:
          description: When new channel member is removed
          schema:
            ref: "#/components/schemas/MemberRemovedEvent"
        member.updated:
          description: When new channel member is updated
          schema:
            ref: "#/components/schemas/MemberUpdatedEvent"
        message.new:
          description: When system `message` is set
          schema:
            ref: "#/components/schemas/MessageNewEvent"
      x-stream-permissions:
        AddOwnChannelMembership: To add own channel membership (join a channel)
        RemoveOwnChannelMembership: To remove own channel membership (leave a channel)
        UpdateChannel: To update channel data
        UpdateChannelCooldown: To update channel cooldown (slowmode)
        UpdateChannelFrozen: To freeze or unfreeze a channel
        UpdateChannelMembers: To add, remove or modify channel members
  "/channels/{type}/{id}/call":
    post:
      description: Creates a call
      operationId: CreateCall
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCallRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCallResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Create a call
      x-stream-docs-page-id: video
      x-stream-permissions:
        CreateCall: To create a call
        ReadChannel: To read the channel
  "/channels/{type}/{id}/event":
    post:
      description: Sends event to the channel
      operationId: SendEvent
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type to interact with
                title: Channel type
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                description: Channel ID to interact with
                title: Channel ID
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEventRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Send event
      tags:
        - Events
      x-stream-docs-page-id: event_object
      x-stream-events:
        any: Any event could be sent through this endpoint
      x-stream-events-v2:
        any:
          description: Any event could be sent through this endpoint
          schema:
            ref: "#/components/schemas/AnyEvent"
      x-stream-permissions:
        SendCustomEvent: To send custom events
  "/channels/{type}/{id}/file":
    delete:
      description: Deletes previously uploaded file
      operationId: DeleteFile
      parameters:
        - content:
            application/json:
              schema:
                description: File URL to delete
                title: URL
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: query
          name: url
        - description: Automatically added
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDeleteResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete file
      tags:
        - Messages
        - Files
      x-stream-docs-page-id: file_uploads
      x-stream-permissions:
        DeleteAttachment: To delete a file
    post:
      description: Uploads file
      operationId: UploadFile
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileUploadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Upload file
      tags:
        - Messages
        - Files
      x-stream-docs-page-id: file_uploads
      x-stream-permissions:
        UploadAttachment: To upload a file
  "/channels/{type}/{id}/hide":
    post:
      description: Marks channel as hidden for current user
      operationId: HideChannel
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HideChannelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideChannelResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Hide channel
      tags:
        - Channels
      x-stream-docs-page-id: channel_delete#hiding-a-channel
      x-stream-events:
        channel.hidden: When channel is hidden
      x-stream-events-v2:
        channel.hidden:
          description: When channel is hidden
          schema:
            ref: "#/components/schemas/ChannelHiddenEvent"
      x-stream-permissions:
        ReadChannel: To hide specified channel
  "/channels/{type}/{id}/image":
    delete:
      description: Deletes previously uploaded image
      operationId: DeleteImage
      parameters:
        - content:
            application/json:
              schema:
                description: File URL to delete
                title: URL
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: query
          name: url
        - description: Automatically added
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDeleteResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete image
      tags:
        - Messages
        - Files
      x-stream-docs-page-id: file_uploads
      x-stream-permissions:
        DeleteAttachment: To delete an image
    post:
      description: Uploads image
      operationId: UploadImage
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: 001.001.001
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: 001.001.002
          in: path
          name: id
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageUploadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageUploadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Upload image
      tags:
        - Messages
        - Files
      x-stream-docs-page-id: file_uploads
      x-stream-permissions:
        UploadAttachment: To upload an image
  "/channels/{type}/{id}/message":
    post:
      description: Sends new message to the specified channel
      operationId: SendMessage
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "006.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "006.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
        description: Send Message Request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageWithPendingMetadataResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Send new message
      tags:
        - Messages
      x-stream-docs-page-id: send_message
      x-stream-events:
        message.new: When the message was successfully sent
        message.updated: Parent message gets this event in case the message had been sent to a thread
      x-stream-events-v2:
        message.new:
          description: When the message was successfully sent
          schema:
            ref: "#/components/schemas/MessageNewEvent"
        message.updated:
          description: Parent message gets this event in case the message had been sent to a thread
          schema:
            ref: "#/components/schemas/MessageUpdatedEvent"
      x-stream-permissions:
        AddLinks: To send message with URLs
        CreateMessage: To send a message
        PinMessage: To send pinned message
        SkipChannelCooldown: To bypass channel slow mode
        SkipMessageModeration: To bypass automatic message moderation
        UseFrozenChannel: To send a message to frozen channel
  "/channels/{type}/{id}/messages":
    get:
      description: Returns list messages found by IDs
      operationId: GetManyMessages
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
        - content:
            application/json:
              schema:
                description: List of comma-separated IDs
                items:
                  type: string
                maximum: 50
                minimum: 1
                title: IDs
                type: array
                x-stream-index: "001"
          in: query
          name: ids
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetManyMessagesResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get many messages
      tags:
        - Messages
      x-stream-permissions:
        ReadChannel: To read specified messages
  "/channels/{type}/{id}/query":
    post:
      description: This method creates a channel or returns an existing one with matching attributes
      operationId: GetOrCreateChannel_type_id_0
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type
                maxLength: 64
                title: Type
                type: string
                writeOnly: true
                x-stream-index: "002"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                description: Channel ID
                maxLength: 64
                title: ID
                type: string
                writeOnly: true
                x-stream-index: "003"
          in: path
          name: id
          required: true
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.002"
          in: query
          name: client_id
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.003"
          in: query
          name: connection_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelGetOrCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelStateResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get or create channel (type, id)
      tags:
        - Channels
      x-stream-docs-page-id: watch_channel
      x-stream-events:
        channel.created: If channel is created
        member.added: If member is added
        member.removed: If member is removed
        member.updated: If member is updated
        user.watching.start: "If `watch: true`"
      x-stream-events-v2:
        channel.created:
          description: If channel is created
          schema:
            ref: "#/components/schemas/ChannelCreatedEvent"
        member.added:
          description: If member is added
          schema:
            ref: "#/components/schemas/MemberAddedEvent"
        member.removed:
          description: If member is removed
          schema:
            ref: "#/components/schemas/MemberRemovedEvent"
        member.updated:
          description: If member is updated
          schema:
            ref: "#/components/schemas/MemberUpdatedEvent"
        user.watching.start:
          description: "If `watch: true`"
          schema:
            ref: "#/components/schemas/UserWatchingStartEvent"
  "/channels/{type}/{id}/read":
    post:
      description: Marks channel as read up to the specific message
      operationId: MarkRead
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkReadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarkReadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Mark read
      tags:
        - Channels
        - Messages
      x-stream-events:
        message.read: When the channel is marked as read
      x-stream-events-v2:
        message.read:
          description: When the channel is marked as read
          schema:
            ref: "#/components/schemas/MessageReadEvent"
      x-stream-permissions:
        ReadChannel: To mark message read
  "/channels/{type}/{id}/show":
    post:
      description: Shows previously hidden channel
      operationId: ShowChannel
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShowChannelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowChannelResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Show channel
      tags:
        - Channels
      x-stream-docs-page-id: channel_delete#hiding-a-channel
      x-stream-events:
        channel.visible: When channel is shown
      x-stream-events-v2:
        channel.visible:
          description: When channel is shown
          schema:
            ref: "#/components/schemas/ChannelVisibleEvent"
  "/channels/{type}/{id}/stop-watching":
    post:
      description: Call this method to stop receiving channel events
      operationId: StopWatchingChannel
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.002"
          in: query
          name: client_id
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001.003"
          in: query
          name: connection_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelStopWatchingRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StopWatchingResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Stop watching channel
      tags:
        - Channels
      x-stream-events:
        user.watching.stop: When successfully stopped watching
      x-stream-events-v2:
        user.watching.stop:
          description: When successfully stopped watching
          schema:
            ref: "#/components/schemas/UserWatchingStopEvent"
  "/channels/{type}/{id}/truncate":
    post:
      description: Truncates channel
      operationId: TruncateChannel
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TruncateChannelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TruncateChannelResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Truncate channel
      tags:
        - Channels
      x-stream-docs-page-id: truncate_channel
      x-stream-events:
        channel.truncated: When channel is truncated
      x-stream-events-v2:
        channel.truncated:
          description: When channel is truncated
          schema:
            ref: "#/components/schemas/ChannelTruncatedEvent"
      x-stream-permissions:
        DeleteChannel: To truncate a channel if TruncateChannel is not allowed or hard_delete is requested
        TruncateChannel: To truncate a channel if DeleteChannel is not allowed
  "/channels/{type}/{id}/unread":
    post:
      description: Marks channel as unread from a specific message
      operationId: MarkUnread
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.001"
          in: path
          name: type
          required: true
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "002.002"
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkUnreadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Mark unread
      tags:
        - Channels
        - Messages
      x-stream-permissions:
        ReadChannel: To mark messages unread
  /channeltypes:
    get:
      description: Lists all available channel types
      operationId: ListChannelTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListChannelTypesResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: List channel types
      tags:
        - Settings
        - Channel types
      x-stream-docs-page-id: channel_features
      x-stream-server-side: true
    post:
      description: Creates new channel type
      operationId: CreateChannelType
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChannelTypeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateChannelTypeResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Create channel type
      tags:
        - Settings
        - Channel types
      x-stream-docs-page-id: channel_features
      x-stream-server-side: true
  "/channeltypes/{name}":
    delete:
      description: Deletes channel type
      operationId: DeleteChannelType
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type name
                title: Name
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete channel type
      tags:
        - Settings
        - Channel types
      x-stream-docs-page-id: channel_features
      x-stream-server-side: true
    get:
      description: Gets channel type
      operationId: GetChannelType
      parameters:
        - content:
            application/json:
              schema:
                description: Channel type name
                title: Name
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get channel type
      tags:
        - Settings
        - Channel types
      x-stream-docs-page-id: channel_features
      x-stream-server-side: true
    put:
      description: Updates channel type
      operationId: UpdateChannelType
      parameters:
        - content:
            application/json:
              schema:
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChannelTypeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateChannelTypeResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update channel type
      tags:
        - Settings
        - Channel types
      x-stream-docs-page-id: channel_features
      x-stream-server-side: true
  /check_push:
    post:
      description: Sends a test message via push, this is a test endpoint to verify your push settings
      operationId: CheckPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckPushRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckPushResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Check push
      tags:
        - Settings
        - Testing
      x-stream-docs-page-id: push_test
      x-stream-server-side: true
  /check_sqs:
    post:
      description: Validates Amazon SQS credentials
      operationId: CheckSQS
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckSQSRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckSQSResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Check SQS
      tags:
        - Settings
        - Testing
      x-stream-docs-page-id: sqs
      x-stream-server-side: true
  /commands:
    get:
      description: Returns all custom commands
      operationId: ListCommands
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCommandsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: List commands
      tags:
        - Custom commands
      x-stream-docs-page-id: custom_commands_webhook
      x-stream-server-side: true
    post:
      description: Creates custom chat command
      operationId: CreateCommand
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommandRequest"
        description: Command
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCommandResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Create command
      tags:
        - Custom commands
      x-stream-docs-page-id: custom_commands_webhook
      x-stream-server-side: true
  "/commands/{name}":
    delete:
      description: Deletes custom chat command
      operationId: DeleteCommand
      parameters:
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCommandResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Delete command
      tags:
        - Custom commands
      x-stream-docs-page-id: custom_commands_webhook
      x-stream-server-side: true
    get:
      description: Returns custom command by its name
      operationId: GetCommand
      parameters:
        - content:
            application/json:
              schema:
                type: string
                x-stream-index: "001"
          in: path
          name: name
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCommandResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Get command
      tags:
        - Custom commands
      x-stream-docs-page-id: custom_commands_webhook
      x-stream-server-side: true
    put:
      description: Updates custom chat command
      operationId: UpdateCommand
      parameters:
        - content:
            application/json:
              schema:
                description: Unique command name
                title: Name
                type: string
                writeOnly: true
                x-stream-index: "001"
          in: path
          name: name
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCommandRequest"
        description: Command
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCommandResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Timestamp when number of requests will be reset
              schema:
                type: integer
      summary: Update command
      tags:
        - Custom commands
      x-stream-docs-page-id: custom_commands_webhook
      x-stream-server-side: true
  /connect:
    get:
      description: Establishes WebSocket connection for user
      operationId: Connect
      parameters:
        - content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectRequest"
[...]
