openapi: 3.0.0
servers:
  - url: https://realtimebidding.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive via pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Real-time Bidding API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://realtimebidding.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: realtimebidding
externalDocs:
  url: https://developers.google.com/authorized-buyers/apis/realtimebidding/reference/rest/
tags:
  - name: bidders
  - name: buyers
paths:
  /v1/bidders:
    get:
      description: Lists all the bidder accounts that belong to the caller.
      operationId: realtimebidding.bidders.list
      parameters:
        - description: The maximum number of bidders to return. If unspecified, at most 100 bidders will be returned. The maximum value is 500; values above 500 will be coerced to 500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. This value is received from a previous `ListBidders` call in ListBiddersResponse.nextPageToken.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBiddersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/buyers:
    get:
      description: Lists all buyer account information the calling buyer user or service account is permissioned to manage.
      operationId: realtimebidding.buyers.list
      parameters:
        - description: The maximum number of buyers to return. If unspecified, at most 100 buyers will be returned. The maximum value is 500; values above 500 will be coerced to 500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. This value is received from a previous `ListBuyers` call in ListBuyersResponse.nextPageToken.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBuyersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}":
    delete:
      description: Deletes a pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.delete
      parameters:
        - description: "Required. The name of the pretargeting configuration to delete. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
    get:
      description: Gets a user list by its name.
      operationId: realtimebidding.buyers.userLists.get
      parameters:
        - description: Required. The name of the user list to be retrieved. See UserList.name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as "FULL".
          in: query
          name: view
          schema:
            enum:
              - CREATIVE_VIEW_UNSPECIFIED
              - SERVING_DECISION_ONLY
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a creative.
      operationId: realtimebidding.buyers.creatives.patch
      parameters:
        - description: Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Field mask to use for partial in-place updates.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    put:
      description: Update the given user list. Only user lists with URLRestrictions can be updated.
      operationId: realtimebidding.buyers.userLists.update
      parameters:
        - description: Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
  "/v1/{name}:activate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Activates a pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.activate
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivatePretargetingConfigRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{name}:close":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Change the status of a user list to CLOSED. This prevents new users from being added to the user list.
      operationId: realtimebidding.buyers.userLists.close
      parameters:
        - description: Required. The name of the user list to close. See UserList.name
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseUserListRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
  "/v1/{name}:getRemarketingTag":
    get:
      description: Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.
      operationId: realtimebidding.buyers.userLists.getRemarketingTag
      parameters:
        - description: Required. To fetch remarketing tag for an account, name must follow the pattern `buyers/{accountId}` where `{accountId}` represents ID of a buyer that owns the remarketing tag. For a bidder accessing remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch remarketing tag for a specific user list, name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRemarketingTagResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:open":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Change the status of a user list to OPEN. This allows new users to be added to the user list.
      operationId: realtimebidding.buyers.userLists.open
      parameters:
        - description: Required. The name of the user list to open. See UserList.name
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenUserListRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
  "/v1/{name}:suspend":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Suspends a pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.suspend
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuspendPretargetingConfigRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{parent}/creatives":
    get:
      description: Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.
      operationId: realtimebidding.buyers.creatives.list
      parameters:
        - description: "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'"
          in: query
          name: filter
          schema:
            type: string
        - description: Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as "FULL".
          in: query
          name: view
          schema:
            enum:
              - CREATIVE_VIEW_UNSPECIFIED
              - SERVING_DECISION_ONLY
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCreativesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a creative.
      operationId: realtimebidding.buyers.creatives.create
      parameters:
        - description: Required. The name of the parent buyer that the new creative belongs to that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns a creative. For a bidder accessing creatives on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
  "/v1/{parent}/creatives:watch":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Watches all creatives pertaining to a bidder. It is sufficient to invoke this endpoint once per bidder. A Pub/Sub topic will be created and notifications will be pushed to the topic when any of the bidder's creatives change status. All of the bidder's service accounts will have access to read from the topic. Subsequent invocations of this method will return the existing Pub/Sub configuration.
      operationId: realtimebidding.bidders.creatives.watch
      parameters:
        - description: Required. To watch all creatives pertaining to the bidder and all its child seat accounts, the bidder must follow the pattern `bidders/{bidderAccountId}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchCreativesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchCreativesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{parent}/endpoints":
    get:
      description: Lists all the bidder's endpoints.
      operationId: realtimebidding.bidders.endpoints.list
      parameters:
        - description: "Required. Name of the bidder whose endpoints will be listed. Format: `bidders/{bidderAccountId}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of endpoints to return. If unspecified, at most 100 endpoints will be returned. The maximum value is 500; values above 500 will be coerced to 500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. This value is received from a previous `ListEndpoints` call in ListEndpointsResponse.nextPageToken.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/pretargetingConfigs":
    get:
      description: Lists all pretargeting configurations for a single bidder.
      operationId: realtimebidding.bidders.pretargetingConfigs.list
      parameters:
        - description: "Required. Name of the bidder whose pretargeting configurations will be listed. Format: bidders/{bidderAccountId}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of pretargeting configurations to return. If unspecified, at most 10 pretargeting configurations will be returned. The maximum value is 100; values above 100 will be coerced to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. This value is received from a previous `ListPretargetingConfigs` call in ListPretargetingConfigsResponse.nextPageToken.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPretargetingConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a pretargeting configuration. A pretargeting configuration's state (PretargetingConfig.state) is active upon creation, and it will start to affect traffic shortly after. A bidder may create a maximum of 10 pretargeting configurations. Attempts to exceed this maximum results in a 400 bad request error.
      operationId: realtimebidding.bidders.pretargetingConfigs.create
      parameters:
        - description: "Required. Name of the bidder to create the pretargeting configuration for. Format: bidders/{bidderAccountId}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PretargetingConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{parent}/publisherConnections":
    get:
      description: Lists publisher connections for a given bidder.
      operationId: realtimebidding.bidders.publisherConnections.list
      parameters:
        - description: Required. Name of the bidder for which publishers have initiated connections. The pattern for this resource is `bidders/{bidder}` where `{bidder}` represents the account ID of the bidder.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Query string to filter publisher connections. Connections can be filtered by `displayName`, `publisherPlatform`, and `biddingState`. If no filter is specified, all publisher connections will be returned. Example: 'displayName=\"Great Publisher*\" AND publisherPlatform=ADMOB AND biddingState != PENDING' See https://google.aip.dev/160 for more information about filtering syntax."
          in: query
          name: filter
          schema:
            type: string
        - description: "Order specification by which results should be sorted. If no sort order is specified, the results will be returned in alphabetic order based on the publisher's publisher code. Results can be sorted by `createTime`. Example: 'createTime DESC'."
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. The server may return fewer results than requested (due to timeout constraint) even if more are available through another call. If unspecified, the server will pick an appropriate default. Acceptable values are 1 to 5000, inclusive.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of ListPublisherConnectionsResponse.nextPageToken returned from the previous call to the 'ListPublisherConnections' method.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPublisherConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/publisherConnections:batchApprove":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Batch approves multiple publisher connections.
      operationId: realtimebidding.bidders.publisherConnections.batchApprove
      parameters:
        - description: "Required. The bidder for whom publisher connections will be approved. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchApprovePublisherConnectionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchApprovePublisherConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{parent}/publisherConnections:batchReject":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Batch rejects multiple publisher connections.
      operationId: realtimebidding.bidders.publisherConnections.batchReject
      parameters:
        - description: "Required. The bidder for whom publisher connections will be rejected. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRejectPublisherConnectionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRejectPublisherConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{parent}/userLists":
    get:
      description: Lists the user lists visible to the current user.
      operationId: realtimebidding.buyers.userLists.list
      parameters:
        - description: Required. The name of the parent buyer for the user lists to be returned that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The number of results to return per page.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Continuation page token (as received from a previous response).
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserListsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new user list.
      operationId: realtimebidding.buyers.userLists.create
      parameters:
        - description: Required. The name of the parent buyer of the user list to be retrieved that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - buyers
  "/v1/{pretargetingConfig}:addTargetedApps":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds targeted apps to the pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.addTargetedApps
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTargetedAppsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{pretargetingConfig}:addTargetedPublishers":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds targeted publishers to the pretargeting config.
      operationId: realtimebidding.bidders.pretargetingConfigs.addTargetedPublishers
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTargetedPublishersRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{pretargetingConfig}:addTargetedSites":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds targeted sites to the pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.addTargetedSites
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTargetedSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{pretargetingConfig}:removeTargetedApps":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Removes targeted apps from the pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.removeTargetedApps
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveTargetedAppsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{pretargetingConfig}:removeTargetedPublishers":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Removes targeted publishers from the pretargeting config.
      operationId: realtimebidding.bidders.pretargetingConfigs.removeTargetedPublishers
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveTargetedPublishersRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
  "/v1/{pretargetingConfig}:removeTargetedSites":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Removes targeted sites from the pretargeting configuration.
      operationId: realtimebidding.bidders.pretargetingConfigs.removeTargetedSites
      parameters:
        - description: "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}"
          in: path
          name: pretargetingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveTargetedSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/realtime-bidding
          Oauth2c:
            - https://www.googleapis.com/auth/realtime-bidding
      tags:
        - bidders
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ActivatePretargetingConfigRequest:
      description: A request to activate a pretargeting configuration. Sets the configuration's state to ACTIVE.
      properties: {}
      type: object
    AdTechnologyProviders:
      description: The list of detected Ad Technology Providers for this creative. Bids placed for inventory that will serve to EEA or UK users are expected to comply with GDPR requirements. You must ensure that the creatives used in such bids should contain only user consented ad technology providers as indicated in the bid request. Google reserves the right to filter non-compliant bids. User consented ad technology providers can be found in the [Google Protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) with the `BidRequest.adslot.consented_providers_settings` field, and can be found as an [OpenRTB extension](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto) with the `BidRequest.user.ext.consented_providers_settings` and `BidRequest.user.ext.consent` fields. See https://support.google.com/authorizedbuyers/answer/9789378 for additional information about the Google TCF v2 integration.
      properties:
        detectedGvlIds:
          description: The detected IAB Global Vendor List (GVL) IDs for this creative. See the IAB Global Vendor List at https://vendor-list.consensu.org/v2/vendor-list.json for details about the vendors.
          items:
            format: int64
            type: string
          type: array
        detectedProviderIds:
          description: The detected [Google Ad Tech Providers (ATP)](https://support.google.com/admanager/answer/9012903) for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider.
          items:
            format: int64
            type: string
          type: array
        unidentifiedProviderDomains:
          description: Domains of detected unidentified ad technology providers (if any). You must ensure that the creatives used in bids placed for inventory that will serve to EEA or UK users does not contain unidentified ad technology providers. Google reserves the right to filter non-compliant bids.
          items:
            type: string
          type: array
      type: object
    AddTargetedAppsRequest:
      description: A request to start targeting the provided app IDs in a specific pretargeting configuration. The pretargeting configuration itself specifies how these apps are targeted. in PretargetingConfig.appTargeting.mobileAppTargeting.
      properties:
        appIds:
          description: A list of app IDs to target in the pretargeting configuration. These values will be added to the list of targeted app IDs in PretargetingConfig.appTargeting.mobileAppTargeting.values.
          items:
            type: string
          type: array
        targetingMode:
          description: Required. The targeting mode that should be applied to the list of app IDs. If there are existing targeted app IDs, must be equal to the existing PretargetingConfig.appTargeting.mobileAppTargeting.targetingMode or a 400 bad request error will be returned.
          enum:
            - TARGETING_MODE_UNSPECIFIED
            - INCLUSIVE
            - EXCLUSIVE
          type: string
      type: object
    AddTargetedPublishersRequest:
      description: A request to start targeting the provided publishers in a specific pretargeting configuration. The pretargeting configuration itself specifies how these publishers are targeted in PretargetingConfig.publisherTargeting.
      properties:
        publisherIds:
          description: A list of publisher IDs to target in the pretargeting configuration. These values will be added to the list of targeted publisher IDs in PretargetingConfig.publisherTargeting.values. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.
          items:
            type: string
          type: array
        targetingMode:
          description: Required. The targeting mode that should be applied to the list of publisher IDs. If are existing publisher IDs, must be equal to the existing PretargetingConfig.publisherTargeting.targetingMode or a 400 bad request error will be returned.
          enum:
            - TARGETING_MODE_UNSPECIFIED
            - INCLUSIVE
            - EXCLUSIVE
          type: string
      type: object
    AddTargetedSitesRequest:
      description: A request to start targeting the provided sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting.
      properties:
        sites:
          description: A list of site URLs to target in the pretargeting configuration. These values will be added to the list of targeted URLs in PretargetingConfig.webTargeting.values.
          items:
            type: string
          type: array
        targetingMode:
          description: Required. The targeting mode that should be applied to the list of site URLs. If there are existing targeted sites, must be equal to the existing PretargetingConfig.webTargeting.targetingMode or a 400 bad request error will be returned.
          enum:
            - TARGETING_MODE_UNSPECIFIED
            - INCLUSIVE
            - EXCLUSIVE
          type: string
      type: object
    AdvertiserAndBrand:
      description: Detected advertiser and brand information.
      properties:
        advertiserId:
          description: See https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt for the list of possible values. Can be used to filter the response of the creatives.list method.
          format: int64
          type: string
        advertiserName:
          description: Advertiser name. Can be used to filter the response of the creatives.list method.
          type: string
        brandId:
          description: Detected brand ID or zero if no brand has been detected. See https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt for the list of possible values. Can be used to filter the response of the creatives.list method.
          format: int64
          type: string
        brandName:
          description: Brand name. Can be used to filter the response of the creatives.list method.
          type: string
      type: object
    AppTargeting:
      description: A subset of app inventory to target. Bid requests that match criteria in at least one of the specified dimensions will be sent.
      properties:
        mobileAppCategoryTargeting:
          $ref: "#/components/schemas/NumericTargetingDimension"
          description: Lists of included and excluded mobile app categories as defined in https://developers.google.com/adwords/api/docs/appendix/mobileappcategories.csv.
        mobileAppTargeting:
          $ref: "#/components/schemas/StringTargetingDimension"
          description: Targeted app IDs. App IDs can refer to those found in an app store or ones that are not published in an app store. A maximum of 30,000 app IDs can be targeted.
      type: object
    BatchApprovePublisherConnectionsRequest:
      description: A request to approve a batch of publisher connections.
      properties:
        names:
          description: Required. The names of the publishers with which connections will be approved. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID.
          items:
            type: string
          type: array
      type: object
    BatchApprovePublisherConnectionsResponse:
      description: A response for the request to approve a batch of publisher connections.
      properties:
        publisherConnections:
          description: The publisher connections that have been approved.
          items:
            $ref: "#/components/schemas/PublisherConnection"
          type: array
      type: object
    BatchRejectPublisherConnectionsRequest:
      description: A request to reject a batch of publisher connections.
      properties:
        names:
          description: Required. The names of the publishers with whom connection will be rejected. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID.
          items:
            type: string
          type: array
      type: object
    BatchRejectPublisherConnectionsResponse:
      description: A response for the request to reject a batch of publisher connections.
      properties:
        publisherConnections:
          description: The publisher connections that have been rejected.
          items:
            $ref: "#/components/schemas/PublisherConnection"
          type: array
      type: object
    Bidder:
      description: Bidder settings.
      properties:
        bypassNonguaranteedDealsPretargeting:
          description: Output only. An option to bypass pretargeting for private auctions and preferred deals. When true, bid requests from these nonguaranteed deals will always be sent. When false, bid requests will be subject to regular pretargeting configurations. Programmatic Guaranteed deals will always be sent to the bidder, regardless of the value for this flag. Auction packages are not impacted by this value and are subject to the regular pretargeting configurations.
          readOnly: true
          type: boolean
        cookieMatchingNetworkId:
          description: Output only. The buyer's network ID used for cookie matching. This ID corresponds to the `google_nid` parameter in the URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information.
          readOnly: true
          type: string
        cookieMatchingUrl:
          description: Output only. The base URL used in cookie match requests. Refer to https://developers.google.com/authorized-buyers/rtb/cookie-guide for further information.
          readOnly: true
          type: string
        dealsBillingId:
          description: Output only. The billing ID for the deals pretargeting config. This billing ID is sent on the bid request for guaranteed and nonguaranteed deals matched in pretargeting.
          readOnly: true
          type: string
        name:
          description: Output only. Name of the bidder resource that must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager.
          readOnly: true
          type: string
      type: object
    Buyer:
      description: RTB Buyer account information.
      properties:
        activeCreativeCount:
          description: Output only. The number of creatives that this buyer submitted through the API or bid with in the last 30 days. This is counted against the maximum number of active creatives.
          format: int64
          readOnly: true
          type: string
        bidder:
          description: Output only. The name of the bidder resource that is responsible for receiving bidding traffic for this account. The bidder name must follow the pattern `bidders/{bidderAccountId}`, where `{bidderAccountId}` is the account ID of the bidder receiving traffic for this buyer.
          readOnly: true
          type: string
        billingIds:
          description: "Output only. A list of billing IDs associated with this account. These IDs appear on: 1. A bid request, to signal which buyers are eligible to bid on a given opportunity, and which pretargeting configurations were matched for each eligible buyer. 2. The bid response, to attribute a winning impression to a specific account for billing, reporting, policy and publisher block enforcement."
          items:
            type: string
          readOnly: true
          type: array
        displayName:
          description: Output only. The diplay name associated with this buyer account, as visible to sellers.
          readOnly: true
          type: string
        maximumActiveCreativeCount:
          description: Output only. The maximum number of active creatives that this buyer can have.
          format: int64
          readOnly: true
          type: string
        name:
          description: Output only. Name of the buyer resource that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` is the account ID of the buyer account whose information is to be received. One can get their account ID on the Authorized Buyers or Open Bidding UI, or by contacting their Google account manager.
          readOnly: true
          type: string
      type: object
    CloseUserListRequest:
      description: A request to close a specified user list.
      properties: {}
      type: object
    Creative:
      description: A creative and its classification data.
      properties:
        accountId:
          description: Output only. ID of the buyer account that this creative is owned by. Can be used to filter the response of the creatives.list method with equality and inequality check.
          format: int64
          readOnly: true
          type: string
        adChoicesDestinationUrl:
          description: The link to AdChoices destination page. This is only supported for native ads.
          type: string
        advertiserName:
          description: The name of the company being advertised in the creative. Can be used to filter the response of the creatives.list method.
          type: string
        agencyId:
          description: The agency ID for this creative.
          format: int64
          type: string
        apiUpdateTime:
          description: Output only. The last update timestamp of the creative through the API.
          format: google-datetime
          readOnly: true
          type: string
        creativeFormat:
          description: Output only. The format of this creative. Can be used to filter the response of the creatives.list method.
          enum:
            - CREATIVE_FORMAT_UNSPECIFIED
            - HTML
            - VIDEO
            - NATIVE
          readOnly: true
          type: string
        creativeId:
          description: Buyer-specific creative ID that references this creative in bid responses. This field is Ignored in update operations. Can be used to filter the response of the creatives.list method. The maximum length of the creative ID is 128 bytes.
          type: string
        creativeServingDecision:
          $ref: "#/components/schemas/CreativeServingDecision"
          description: Output only. Top level status and detected attributes of a creative (for example domain, language, advertiser, product category, etc.) that affect whether (status) and where (context) a creative will be allowed to serve.
          readOnly: true
        dealIds:
          description: Output only. IDs of all of the deals with which this creative has been used in bidding. Can be used to filter the response of the creatives.list method.
          items:
            type: string
          readOnly: true
          type: array
        declaredAttributes:
          description: All declared attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto") contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.
          items:
            enum:
              - ATTRIBUTE_UNSPECIFIED
              - IMAGE_RICH_MEDIA
              - ADOBE_FLASH_FLV
              - IS_TAGGED
              - IS_COOKIE_TARGETED
              - IS_USER_INTEREST_TARGETED
              - EXPANDING_DIRECTION_NONE
              - EXPANDING_DIRECTION_UP
              - EXPANDING_DIRECTION_DOWN
              - EXPANDING_DIRECTION_LEFT
              - EXPANDING_DIRECTION_RIGHT
              - EXPANDING_DIRECTION_UP_LEFT
              - EXPANDING_DIRECTION_UP_RIGHT
              - EXPANDING_DIRECTION_DOWN_LEFT
              - EXPANDING_DIRECTION_DOWN_RIGHT
              - CREATIVE_TYPE_HTML
              - CREATIVE_TYPE_VAST_VIDEO
              - EXPANDING_DIRECTION_UP_OR_DOWN
              - EXPANDING_DIRECTION_LEFT_OR_RIGHT
              - EXPANDING_DIRECTION_ANY_DIAGONAL
              - EXPANDING_ACTION_ROLLOVER_TO_EXPAND
              - INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH
              - RICH_MEDIA_CAPABILITY_TYPE_MRAID
              - RICH_MEDIA_CAPABILITY_TYPE_FLASH
              - RICH_MEDIA_CAPABILITY_TYPE_HTML5
              - SKIPPABLE_INSTREAM_VIDEO
              - RICH_MEDIA_CAPABILITY_TYPE_SSL
              - RICH_MEDIA_CAPABILITY_TYPE_NON_SSL
              - RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL
              - NON_SKIPPABLE_INSTREAM_VIDEO
              - NATIVE_ELIGIBILITY_ELIGIBLE
              - NON_VPAID
              - NATIVE_ELIGIBILITY_NOT_ELIGIBLE
              - ANY_INTERSTITIAL
              - NON_INTERSTITIAL
              - IN_BANNER_VIDEO
              - RENDERING_SIZELESS_ADX
              - OMSDK_1_0
            type: string
          type: array
        declaredClickThroughUrls:
          description: The set of declared destination URLs for the creative. Can be used to filter the response of the creatives.list method.
          items:
            type: string
          type: array
        declaredRestrictedCategories:
          description: All declared restricted categories for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.
          items:
            enum:
              - RESTRICTED_CATEGORY_UNSPECIFIED
              - ALCOHOL
            type: string
          type: array
        declaredVendorIds:
          description: IDs for the declared ad technology vendors that may be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method.
          items:
            format: int32
            type: integer
          type: array
        html:
          $ref: "#/components/schemas/HtmlContent"
          description: An HTML creative.
        impressionTrackingUrls:
          description: The set of URLs to be called to record an impression.
          items:
            type: string
          type: array
        name:
          description: Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.
          readOnly: true
          type: string
        native:
          $ref: "#/components/schemas/NativeContent"
          description: A native creative.
        renderUrl:
          description: Experimental field that can be used during the [FLEDGE Origin Trial](/authorized-buyers/rtb/fledge-origin-trial). The URL to fetch an interest group ad used in [TURTLEDOVE on-device auction](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#1-browsers-record-interest-groups"). This should be unique among all creatives for a given `accountId`. This URL should be the same as the URL returned by [generateBid()](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#32-on-device-bidding).
          type: string
        restrictedCategories:
          description: All restricted categories for the ads that may be shown from this creative.
          items:
            enum:
              - RESTRICTED_CATEGORY_UNSPECIFIED
              - ALCOHOL
            type: string
          type: array
        version:
          description: Output only. The version of the creative. Version for a new creative is 1 and it increments during subsequent creative updates.
          format: int32
          readOnly: true
          type: integer
        video:
          $ref: "#/components/schemas/VideoContent"
          description: A video creative.
      type: object
    CreativeDimensions:
      description: The dimensions of a creative. This applies to only HTML and Native creatives.
      properties:
        height:
          description: The height of the creative in pixels.
          format: int64
          type: string
        width:
          description: The width of the creative in pixels.
          format: int64
          type: string
      type: object
    CreativeServingDecision:
      description: Top level status and detected attributes of a creative.
      properties:
        adTechnologyProviders:
          $ref: "#/components/schemas/AdTechnologyProviders"
          description: The detected ad technology providers.
        chinaPolicyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
          description: The policy compliance of this creative in China. When approved or disapproved, this applies to both deals and open auction in China. When pending review, this creative is allowed to serve for deals but not for open auction.
        dealsPolicyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
          description: Policy compliance of this creative when bidding on Programmatic Guaranteed and Preferred Deals (outside of Russia and China).
        detectedAdvertisers:
          description: Detected advertisers and brands.
          items:
            $ref: "#/components/schemas/AdvertiserAndBrand"
          type: array
        detectedAttributes:
          description: Publisher-excludable attributes that were detected for this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.
          items:
            enum:
              - ATTRIBUTE_UNSPECIFIED
              - IMAGE_RICH_MEDIA
              - ADOBE_FLASH_FLV
              - IS_TAGGED
              - IS_COOKIE_TARGETED
              - IS_USER_INTEREST_TARGETED
              - EXPANDING_DIRECTION_NONE
              - EXPANDING_DIRECTION_UP
              - EXPANDING_DIRECTION_DOWN
              - EXPANDING_DIRECTION_LEFT
              - EXPANDING_DIRECTION_RIGHT
              - EXPANDING_DIRECTION_UP_LEFT
              - EXPANDING_DIRECTION_UP_RIGHT
              - EXPANDING_DIRECTION_DOWN_LEFT
              - EXPANDING_DIRECTION_DOWN_RIGHT
              - CREATIVE_TYPE_HTML
              - CREATIVE_TYPE_VAST_VIDEO
              - EXPANDING_DIRECTION_UP_OR_DOWN
              - EXPANDING_DIRECTION_LEFT_OR_RIGHT
              - EXPANDING_DIRECTION_ANY_DIAGONAL
              - EXPANDING_ACTION_ROLLOVER_TO_EXPAND
              - INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH
              - RICH_MEDIA_CAPABILITY_TYPE_MRAID
              - RICH_MEDIA_CAPABILITY_TYPE_FLASH
              - RICH_MEDIA_CAPABILITY_TYPE_HTML5
              - SKIPPABLE_INSTREAM_VIDEO
              - RICH_MEDIA_CAPABILITY_TYPE_SSL
              - RICH_MEDIA_CAPABILITY_TYPE_NON_SSL
              - RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL
              - NON_SKIPPABLE_INSTREAM_VIDEO
              - NATIVE_ELIGIBILITY_ELIGIBLE
              - NON_VPAID
              - NATIVE_ELIGIBILITY_NOT_ELIGIBLE
              - ANY_INTERSTITIAL
              - NON_INTERSTITIAL
              - IN_BANNER_VIDEO
              - RENDERING_SIZELESS_ADX
              - OMSDK_1_0
            type: string
          type: array
        detectedClickThroughUrls:
          description: The set of detected destination URLs for the creative. Can be used to filter the response of the creatives.list method.
          items:
            type: string
          type: array
        detectedDomains:
          description: The detected domains for this creative.
          items:
            type: string
          type: array
        detectedLanguages:
          description: The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes. Can be used to filter the response of the creatives.list method.
          items:
            type: string
          type: array
        detectedProductCategories:
          description: Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs. Can be used to filter the response of the creatives.list method.
          items:
            format: int32
            type: integer
          type: array
        detectedSensitiveCategories:
          description: Detected sensitive categories, if any. Can be used to filter the response of the creatives.list method. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.
          items:
            format: int32
            type: integer
          type: array
        detectedVendorIds:
          description: IDs of the ad technology vendors that were detected to be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method. If the `allowed_vendor_type` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) does not contain one of the vendor type IDs that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.
          items:
            format: int32
            type: integer
          type: array
        lastStatusUpdate:
          description: The last time the creative status was updated. Can be used to filter the response of the creatives.list method.
          format: google-datetime
          type: string
        networkPolicyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
          description: Policy compliance of this creative when bidding in open auction, private auction, or auction packages (outside of Russia and China).
        platformPolicyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
          description: "Policy compliance of this creative when bidding in Open Bidding (outside of Russia and China). For the list of platform policies, see: https://support.google.com/platformspolicy/answer/3013851."
        russiaPolicyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
          description: The policy compliance of this creative in Russia. When approved or disapproved, this applies to both deals and open auction in Russia. When pending review, this creative is allowed to serve for deals but not for open auction.
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    DestinationNotCrawlableEvidence:
      description: Evidence that the creative's destination URL was not crawlable by Google.
      properties:
        crawlTime:
          description: Approximate time of the crawl.
          format: google-datetime
          type: string
        crawledUrl:
          description: Destination URL that was attempted to be crawled.
          type: string
        reason:
          description: Reason of destination not crawlable.
          enum:
            - REASON_UNSPECIFIED
            - UNREACHABLE_ROBOTS
            - TIMEOUT_ROBOTS
            - ROBOTED_DENIED
            - UNKNOWN
          type: string
      type: object
    DestinationNotWorkingEvidence:
      description: Evidence of the creative's destination URL not functioning properly or having been incorrectly set up.
      properties:
        dnsError:
          description: DNS lookup errors.
          enum:
            - DNS_ERROR_UNSPECIFIED
            - ERROR_DNS
            - GOOGLE_CRAWLER_DNS_ISSUE
          type: string
        expandedUrl:
          description: The full non-working URL.
          type: string
        httpError:
          description: HTTP error code (for example, 404 or 5xx)
          format: int32
          type: integer
        invalidPage:
          description: Page was crawled successfully, but was detected as either a page with no content or an error page.
          enum:
            - INVALID_PAGE_UNSPECIFIED
            - EMPTY_OR_ERROR_PAGE
          type: string
        lastCheckTime:
          description: Approximate time when the ad destination was last checked.
          format: google-datetime
          type: string
        platform:
          description: Platform of the non-working URL.
          enum:
            - PLATFORM_UNSPECIFIED
            - PERSONAL_COMPUTER
            - ANDROID
            - IOS
          type: string
        redirectionError:
          description: HTTP redirect chain error.
          enum:
            - REDIRECTION_ERROR_UNSPECIFIED
            - TOO_MANY_REDIRECTS
            - INVALID_REDIRECT
            - EMPTY_REDIRECT
            - REDIRECT_ERROR_UNKNOWN
          type: string
        urlRejected:
          description: Rejected because of malformed URLs or invalid requests.
          enum:
            - URL_REJECTED_UNSPECIFIED
            - BAD_REQUEST
            - MALFORMED_URL
            - URL_REJECTED_UNKNOWN
          type: string
      type: object
    DestinationUrlEvidence:
      description: The full landing page URL of the destination.
      properties:
        destinationUrl:
          description: The full landing page URL of the destination.
          type: string
      type: object
    DomainCallEvidence:
      description: Number of HTTP calls made by a creative, broken down by domain.
      properties:
        topHttpCallDomains:
          description: Breakdown of the most frequent domains called through HTTP by the creative.
          items:
            $ref: "#/components/schemas/DomainCalls"
          type: array
        totalHttpCallCount:
          description: The total number of HTTP calls made by the creative, including but not limited to the number of calls in the top_http_call_domains.
          format: int32
          type: integer
      type: object
    DomainCalls:
      description: The number of HTTP calls made to the given domain.
      properties:
        domain:
          description: The domain name.
          type: string
        httpCallCount:
          description: Number of HTTP calls made to the domain.
          format: int32
          type: integer
      type: object
    DownloadSizeEvidence:
      description: Total download size and URL-level download size breakdown for resources in a creative.
      properties:
        topUrlDownloadSizeBreakdowns:
          description: Download size broken down by URLs with the top download size.
          items:
            $ref: "#/components/schemas/UrlDownloadSize"
          type: array
        totalDownloadSizeKb:
          description: Total download size (in kilobytes) for all the resources in the creative.
          format: int32
          type: integer
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Endpoint:
      description: Bidder endpoint that receives bid requests.
      properties:
        bidProtocol:
          description: The protocol that the bidder endpoint is using.
          enum:
            - BID_PROTOCOL_UNSPECIFIED
            - GOOGLE_RTB
            - OPENRTB_JSON
            - OPENRTB_PROTOBUF
          type: string
        maximumQps:
          description: The maximum number of queries per second allowed to be sent to this server.
          format: int64
          type: string
        name:
          description: Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server.
          readOnly: true
          type: string
        tradingLocation:
          description: The trading location that bid requests should be sent from. See https://developers.google.com/authorized-buyers/rtb/peer-guide#trading-locations for further information.
          enum:
            - TRADING_LOCATION_UNSPECIFIED
            - US_WEST
            - US_EAST
            - EUROPE
            - ASIA
          type: string
        url:
          description: Output only. The URL that bid requests should be sent to.
          readOnly: true
          type: string
      type: object
    GetRemarketingTagResponse:
      description: Response for a request to get remarketing tag.
      properties:
        snippet:
          description: A HTML tag that can be placed on the advertiser's page to add users to a user list. For more information and code samples on using snippet on your website refer to [Tag your site for remarketing]( https://support.google.com/google-ads/answer/2476688).
          type: string
      type: object
    HtmlContent:
      description: HTML content for a creative.
      properties:
        height:
          description: The height of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method.
          format: int32
          type: integer
        snippet:
          description: The HTML snippet that displays the ad when inserted in the web page.
          type: string
        width:
          description: The width of the HTML snippet in pixels. Can be used to filter the response of the creatives.list method.
          format: int32
          type: integer
      type: object
    HttpCallEvidence:
      description: HTTP calls made by a creative that resulted in policy violations.
      properties:
        urls:
          description: URLs of HTTP calls made by the creative.
          items:
            type: string
          type: array
      type: object
    HttpCookieEvidence:
      description: Evidence for HTTP cookie-related policy violations.
      properties:
        cookieNames:
          description: Names of cookies that violate Google policies. For TOO_MANY_COOKIES policy, this will be the cookie names of top domains with the largest number of cookies. For other policies, this will be all the cookie names that violate the policy.
          items:
            type: string
          type: array
        maxCookieCount:
          description: The largest number of cookies set by a creative. If this field is set, cookie_names above will be set to the cookie names of top domains with the largest number of cookies. This field will only be set for TOO_MANY_COOKIES policy.
          format: int32
          type: integer
      type: object
    Image:
      description: An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.
      properties:
        height:
          description: Image height in pixels.
          format: int32
          type: integer
        url:
          description: The URL of the image.
          type: string
        width:
          description: Image width in pixels.
          format: int32
          type: integer
      type: object
    ListBiddersResponse:
      description: A response containing bidders.
      properties:
        bidders:
          description: List of bidders.
          items:
            $ref: "#/components/schemas/Bidder"
          type: array
        nextPageToken:
          description: A token which can be passed to a subsequent call to the `ListBidders` method to retrieve the next page of results in ListBiddersRequest.pageToken.
          type: string
      type: object
    ListBuyersResponse:
      description: A response containing buyer account information.
      properties:
        buyers:
          description: List of buyers.
          items:
            $ref: "#/components/schemas/Buyer"
          type: array
        nextPageToken:
          description: A token which can be passed to a subsequent call to the `ListBuyers` method to retrieve the next page of results in ListBuyersRequest.pageToken.
          type: string
      type: object
    ListCreativesResponse:
      description: A response for listing creatives.
      properties:
        creatives:
          description: The list of creatives.
          items:
            $ref: "#/components/schemas/Creative"
          type: array
        nextPageToken:
          description: A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.pageToken field in the subsequent call to the `ListCreatives` method to retrieve the next page of results.
          type: string
      type: object
    ListEndpointsResponse:
      description: A response containing bidder endpoints.
      properties:
        endpoints:
          description: List of bidder endpoints.
          items:
            $ref: "#/components/schemas/Endpoint"
          type: array
        nextPageToken:
          description: A token which can be passed to a subsequent call to the `ListEndpoints` method to retrieve the next page of results in ListEndpointsRequest.pageToken.
          type: string
      type: object
    ListPretargetingConfigsResponse:
      description: A response containing pretargeting configurations.
      properties:
        nextPageToken:
          description: A token which can be passed to a subsequent call to the `ListPretargetingConfigs` method to retrieve the next page of results in ListPretargetingConfigsRequest.pageToken.
          type: string
        pretargetingConfigs:
          description: List of pretargeting configurations.
          items:
            $ref: "#/components/schemas/PretargetingConfig"
          type: array
      type: object
    ListPublisherConnectionsResponse:
      description: A response to a request for listing publisher connections.
      properties:
        nextPageToken:
          description: A token to retrieve the next page of results. Pass this value in the ListPublisherConnectionsRequest.pageToken field in the subsequent call to the `ListPublisherConnections` method to retrieve the next page of results.
          type: string
        publisherConnections:
          description: The list of publisher connections.
          items:
            $ref: "#/components/schemas/PublisherConnection"
          type: array
      type: object
    ListUserListsResponse:
      description: The list user list response.
      properties:
        nextPageToken:
          description: The continuation page token to send back to the server in a subsequent request. Due to a currently known issue, it is recommended that the caller keep invoking the list method till the time a next page token is not returned (even if the result set is empty).
          type: string
        userLists:
          description: List of user lists from the search.
          items:
            $ref: "#/components/schemas/UserList"
          type: array
      type: object
    MediaFile:
      description: Information about each media file in the VAST.
      properties:
        bitrate:
          description: Bitrate of the video file, in Kbps. Can be used to filter the response of the creatives.list method.
          format: int64
          type: string
        mimeType:
          description: The MIME type of this media file. Can be used to filter the response of the creatives.list method.
          enum:
            - VIDEO_MIME_TYPE_UNSPECIFIED
            - MIME_VIDEO_XFLV
            - MIME_VIDEO_WEBM
            - MIME_VIDEO_MP4
            - MIME_VIDEO_OGG
            - MIME_VIDEO_YT_HOSTED
            - MIME_VIDEO_X_MS_WMV
            - MIME_VIDEO_3GPP
            - MIME_VIDEO_MOV
            - MIME_APPLICATION_SWF
            - MIME_APPLICATION_SURVEY
            - MIME_APPLICATION_JAVASCRIPT
            - MIME_APPLICATION_SILVERLIGHT
            - MIME_APPLICATION_MPEGURL
            - MIME_APPLICATION_MPEGDASH
            - MIME_AUDIO_MP4A
            - MIME_AUDIO_MP3
            - MIME_AUDIO_OGG
          type: string
      type: object
    NativeContent:
      description: Native content for a creative.
      properties:
        advertiserName:
          description: The name of the advertiser or sponsor, to be displayed in the ad creative.
          type: string
        appIcon:
          $ref: "#/components/schemas/Image"
          description: The app icon, for app download ads.
        body:
          description: A long description of the ad.
          type: string
        callToAction:
          description: A label for the button that the user is supposed to click.
          type: string
        clickLinkUrl:
          description: The URL that the browser/SDK will load when the user clicks the ad.
          type: string
        clickTrackingUrl:
          description: The URL to use for click tracking.
          type: string
        headline:
          description: A short title for the ad.
          type: string
        image:
          $ref: "#/components/schemas/Image"
          description: A large image.
        logo:
          $ref: "#/components/schemas/Image"
          description: A smaller image, for the advertiser's logo.
        priceDisplayText:
          description: The price of the promoted app including currency info.
          type: string
        starRating:
          description: The app rating in the app store. Must be in the range [0-5].
          format: double
          type: number
        videoUrl:
          description: The URL to fetch a native video ad.
          type: string
        videoVastXml:
          description: The contents of a VAST document for a native video ad.
          type: string
      type: object
    NumericTargetingDimension:
      description: Generic targeting used for targeting dimensions that contain a list of included and excluded numeric IDs used in app, user list, geo, and vertical id targeting.
      properties:
        excludedIds:
          description: The IDs excluded in a configuration.
          items:
            format: int64
            type: string
          type: array
        includedIds:
          description: The IDs included in a configuration.
          items:
            format: int64
            type: string
          type: array
      type: object
    OpenUserListRequest:
      description: A request to open a specified user list.
      properties: {}
      type: object
    PolicyCompliance:
      description: Policy compliance of the creative for a transaction type or a region.
      properties:
        status:
          description: Serving status for the given transaction type (for example, open auction, deals) or region (for example, China, Russia). Can be used to filter the response of the creatives.list method.
          enum:
            - STATUS_UNSPECIFIED
            - PENDING_REVIEW
            - DISAPPROVED
            - APPROVED
            - CERTIFICATE_REQUIRED
          type: string
        topics:
          description: Topics related to the policy compliance for this transaction type (for example, open auction, deals) or region (for example, China, Russia). Topics may be present only if status is DISAPPROVED.
          items:
            $ref: "#/components/schemas/PolicyTopicEntry"
          type: array
      type: object
    PolicyTopicEntry:
      description: Each policy topic entry will represent a violation of a policy topic for a creative, with the policy topic information and optional evidence for the policy violation.
      properties:
        evidences:
          description: Pieces of evidence associated with this policy topic entry.
          items:
            $ref: "#/components/schemas/PolicyTopicEvidence"
          type: array
        helpCenterUrl:
          description: URL of the help center article describing this policy topic.
          type: string
        missingCertificate:
          description: "Whether or not the policy topic is missing a certificate. Some policy topics require a certificate to unblock serving in some regions. For more information about creative certification, refer to: https://support.google.com/authorizedbuyers/answer/7450776"
          type: boolean
        policyTopic:
          description: Policy topic this entry refers to. For example, "ALCOHOL", "TRADEMARKS_IN_AD_TEXT", or "DESTINATION_NOT_WORKING". The set of possible policy topics is not fixed for a particular API version and may change at any time. Can be used to filter the response of the creatives.list method
          type: string
      type: object
    PolicyTopicEvidence:
      description: Evidence associated with a policy topic entry.
      properties:
        destinationNotCrawlable:
          $ref: "#/components/schemas/DestinationNotCrawlableEvidence"
          description: The creative's destination URL was not crawlable by Google.
        destinationNotWorking:
          $ref: "#/components/schemas/DestinationNotWorkingEvidence"
          description: The creative's destination URL did not function properly or was incorrectly set up.
        destinationUrl:
          $ref: "#/components/schemas/DestinationUrlEvidence"
          description: URL of the actual landing page.
        domainCall:
          $ref: "#/components/schemas/DomainCallEvidence"
          description: Number of HTTP calls made by the creative, broken down by domain.
        downloadSize:
          $ref: "#/components/schemas/DownloadSizeEvidence"
          description: Total download size and URL-level download size breakdown for resources in a creative.
        httpCall:
          $ref: "#/components/schemas/HttpCallEvidence"
          description: HTTP calls made by the creative that resulted in policy violations.
        httpCookie:
          $ref: "#/components/schemas/HttpCookieEvidence"
          description: Evidence for HTTP cookie-related policy violations.
[...]
