openapi: 3.0.1
servers:
  - url: https://www.thebluealliance.com/api/v3
info:
  description: |-
    # Overview 

     Information and statistics about FIRST Robotics Competition teams and events. 

    # Authentication 

    All endpoints require an Auth Key to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key yet, you can obtain one from your [Account Page](/account).
  title: The Blue Alliance API v3
  version: 3.8.2
  x-apisguru-categories:
    - open_data
  x-changes: "3.8.1-3.8.2: Replace `If-Modified-Since` with `If-None-Match` and `Last-Modified` with `ETag`. 3.8.0-3.8.1: Added Webcast date field. 3.7.0-3.8.0: Added 2020 Match Breakdown. 3.6.0-3.7.0: Added Zebra MotionWorks endpoints and models. 3.5.2-3.6.0: Added `school_name` to the Team model. 3.5.1-3.5.2: Removed `key` from the Media object, set `foreign_key` as a required property. 3.5-3.5.1: Fixed api clients crashing when requesting simple matches resulting in ties. 3.04.1 - 3.5: Updated the spec to follow OpenAPI standards. 3.04.0 - 3.04.1: Team motto will now return null. 3.03.1 - 3.04.0: Add direct_url and view_url to the Media model. 3.03.0 - 3.03.1: Fix model of /team/{team_key}/robots to match API, add min and max for year and add min for page_num. 3.02.1 - 3.03.0: Added Timeseries models and endpoints. 3.02.0 - 3.02.1: Fixed the model for `/team/{team_key}/districts` to match return from API. 3.1.0 - 3.02.0: Added `tba_gameData` to score breakdown and a leading zero to the minor version number to allow for easier sorting later. 3.0.5 - 3.1.0: Version bump for 2018 added fields and endpoints. Models Updated: `Team_Event_Status`, `Media`, 2018 Score Breakdowns. Endpoints Added: `/team/{team_key}/events/{year}/statuses`, `/event/{event_key}/teams/statuses` 3.0.4 - 3.0.5: Minor spelling fixes. Remove 2016 fields from `Match_Score_Breakdown_2017_Alliance` model. Fix `first_event_id` in `Event` model to correct type. Update `Media`.`type` enum. --- 3.0.3 - 3.0.4: Correct syntax in `Team_Event_Status_playoff` object, include descriptions in `Event_District_Points` and fix the path in `Team_Event_Status_playoff.properties.record` in order to more closely match Swagger spec. Fix syntax of `Match.video` to be correct and accurately reflect what is returned by the API. --- 3.0.2 - 3.0.3: `extra_stats` and `extra_stats_info` added to `Event_Ranking` model. Corrected match video property claiming to use the `Media` model, which it doesn't. Added `first_event_code` to the `Event` model. Added `/team/{team_key}/media/tag/{media_tag}` and year endpoints. Added `dq_team_keys` to `Match_alliance` model.  --- 3.0.1 - 3.0.2: `Team_Event_Status` and `Event_Ranking` model documentation changed to reflect actual API return. Changes involved W-L-T and ranking properties. --- 3.0.0 - 3.0.1: Descriptions updated to clarify some terms and improve grammar. The `district` property on the `Event` object now points to the `District_List` model, which was identical. `Required` fields on fully documented models now represent fields that may not be `null`. `District_Ranking` model documented."
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_thebluealliance.com_icons_apple-touch-icon.png
  x-origin:
    - format: openapi
      url: https://www.thebluealliance.com/swagger/api_v3.json
      version: "3.0"
  x-providerName: thebluealliance.com
  x-version-info: Versions of the API follow the format X.Y.Z, with X being a major version, Y denoting the minor version, and Z the point release. Changes to the spec or API that result in a major version change will significantly impact implementations. Changes to the minor version indicate paths and/or fields in existing models may be added, and any breaking changes will be confined to paths or models listed as in-development in the prior minor version. Changes to the point release indicate no format or structure changes to the paths or models, but updated or clarified documentation. Note that changes to paths and models refer to the actual result from the API, not the documentation.
tags:
  - description: Calls that expose TBA internals or status.
    name: TBA
  - description: Calls that return a list of records.
    name: list
  - description: Calls that return team or team-specific information.
    name: team
  - description: Calls that return event, or event-specific information.
    name: event
  - description: Calls that return match, or match-specific information.
    name: match
  - description: Calls that return district, or district-related information.
    name: district
paths:
  "/district/{district_key}/events":
    get:
      description: Gets a list of events in the given district.
      operationId: getDistrictEvents
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - event
        - list
  "/district/{district_key}/events/keys":
    get:
      description: Gets a list of event keys for events in the given district.
      operationId: getDistrictEventsKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - event
        - list
  "/district/{district_key}/events/simple":
    get:
      description: Gets a short-form list of events in the given district.
      operationId: getDistrictEventsSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - description: TBA District Key, eg `2016fim`
          in: path
          name: district_key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - event
        - list
  "/district/{district_key}/rankings":
    get:
      description: Gets a list of team district rankings for the given district.
      operationId: getDistrictRankings
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District_Ranking"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - team
        - list
  "/district/{district_key}/teams":
    get:
      description: Gets a list of `Team` objects that competed in events in the given district.
      operationId: getDistrictTeams
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - team
        - list
  "/district/{district_key}/teams/keys":
    get:
      description: Gets a list of `Team` objects that competed in events in the given district.
      operationId: getDistrictTeamsKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - team
        - list
  "/district/{district_key}/teams/simple":
    get:
      description: Gets a short-form list of `Team` objects that competed in events in the given district.
      operationId: getDistrictTeamsSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
        - team
        - list
  "/districts/{year}":
    get:
      description: Gets a list of districts and their corresponding district key, for the given year.
      operationId: getDistrictsByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District_List"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - district
  "/event/{event_key}":
    get:
      description: Gets an Event.
      operationId: getEvent
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/alliances":
    get:
      description: Gets a list of Elimination Alliances for the given Event.
      operationId: getEventAlliances
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Elimination_Alliance"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/awards":
    get:
      description: Gets a list of awards from the given event.
      operationId: getEventAwards
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/district_points":
    get:
      description: Gets a list of team rankings for the Event.
      operationId: getEventDistrictPoints
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_District_Points"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - district
  "/event/{event_key}/insights":
    get:
      description: Gets a set of Event-specific insights for the given Event.
      operationId: getEventInsights
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_Insights"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/matches":
    get:
      description: Gets a list of matches for the given event.
      operationId: getEventMatches
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - match
  "/event/{event_key}/matches/keys":
    get:
      description: Gets a list of match keys for the given event.
      operationId: getEventMatchesKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - match
  "/event/{event_key}/matches/simple":
    get:
      description: Gets a short-form list of matches for the given event.
      operationId: getEventMatchesSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - match
  "/event/{event_key}/matches/timeseries":
    get:
      description: |-
        Gets an array of Match Keys for the given event key that have timeseries data. Returns an empty array if no matches have timeseries data.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: getEventMatchTimeseries
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: Match Key
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - match
  "/event/{event_key}/oprs":
    get:
      description: Gets a set of Event OPRs (including OPR, DPR, and CCWM) for the given Event.
      operationId: getEventOPRs
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_OPRs"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/predictions":
    get:
      description: Gets information on TBA-generated predictions for the given Event. Contains year-specific information. *WARNING* This endpoint is currently under development and may change at any time.
      operationId: getEventPredictions
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_Predictions"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/rankings":
    get:
      description: Gets a list of team rankings for the Event.
      operationId: getEventRankings
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_Ranking"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/simple":
    get:
      description: Gets a short-form Event.
      operationId: getEventSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_Simple"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
  "/event/{event_key}/teams":
    get:
      description: Gets a list of `Team` objects that competed in the given event.
      operationId: getEventTeams
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - team
        - list
  "/event/{event_key}/teams/keys":
    get:
      description: Gets a list of `Team` keys that competed in the given event.
      operationId: getEventTeamsKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - team
        - list
  "/event/{event_key}/teams/simple":
    get:
      description: Gets a short-form list of `Team` objects that competed in the given event.
      operationId: getEventTeamsSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - team
        - list
  "/event/{event_key}/teams/statuses":
    get:
      description: Gets a key-value list of the event statuses for teams competing at the given event.
      operationId: getEventTeamsStatuses
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/Team_Event_Status"
                description: A key-value pair of `Team_Event_Status` objects with the event key as the key.
                type: object
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - team
        - list
  "/events/{year}":
    get:
      description: Gets a list of events in the given year.
      operationId: getEventsByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - list
  "/events/{year}/keys":
    get:
      description: Gets a list of event keys in the given year.
      operationId: getEventsByYearKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - list
  "/events/{year}/simple":
    get:
      description: Gets a short-form list of events in the given year.
      operationId: getEventsByYearSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - event
        - list
  "/match/{match_key}":
    get:
      description: Gets a `Match` object for the given match key.
      operationId: getMatch
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - match
  "/match/{match_key}/simple":
    get:
      description: Gets a short-form `Match` object for the given match key.
      operationId: getMatchSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match_Simple"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - match
  "/match/{match_key}/timeseries":
    get:
      description: |-
        Gets an array of game-specific Match Timeseries objects for the given match key or an empty array if not available.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: getMatchTimeseries
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - match
  "/match/{match_key}/zebra_motionworks":
    get:
      description: Gets Zebra MotionWorks data for a Match for the given match key.
      operationId: getMatchZebra
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zebra"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - match
  /status:
    get:
      description: Returns API status, and TBA status information.
      operationId: getStatus
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/API_Status"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - TBA
  "/team/{team_key}":
    get:
      description: Gets a `Team` object for the team referenced by the given key.
      operationId: getTeam
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/awards":
    get:
      description: Gets a list of awards the given team has won.
      operationId: getTeamAwards
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/awards/{year}":
    get:
      description: Gets a list of awards the given team has won in a given year.
      operationId: getTeamAwardsByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/districts":
    get:
      description: Gets an array of districts representing each year the team was in a district. Will return an empty array if the team was never in a district.
      operationId: getTeamDistricts
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District_List"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - district
  "/team/{team_key}/event/{event_key}/awards":
    get:
      description: Gets a list of awards the given team won at the given event.
      operationId: getTeamEventAwards
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/event/{event_key}/matches":
    get:
      description: Gets a list of matches for the given team and event.
      operationId: getTeamEventMatches
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
        - match
  "/team/{team_key}/event/{event_key}/matches/keys":
    get:
      description: Gets a list of match keys for matches for the given team and event.
      operationId: getTeamEventMatchesKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
        - match
  "/team/{team_key}/event/{event_key}/matches/simple":
    get:
      description: Gets a short-form list of matches for the given team and event.
      operationId: getTeamEventMatchesSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
        - match
  "/team/{team_key}/event/{event_key}/status":
    get:
      description: Gets the competition rank and status of the team at the given event.
      operationId: getTeamEventStatus
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team_Event_Status"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events":
    get:
      description: Gets a list of all events this team has competed at.
      operationId: getTeamEvents
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/keys":
    get:
      description: Gets a list of the event keys for all events this team has competed at.
      operationId: getTeamEventsKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/simple":
    get:
      description: Gets a short-form list of all events this team has competed at.
      operationId: getTeamEventsSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/{year}":
    get:
      description: Gets a list of events this team has competed at in the given year.
      operationId: getTeamEventsByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/{year}/keys":
    get:
      description: Gets a list of the event keys for events this team has competed at in the given year.
      operationId: getTeamEventsByYearKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/{year}/simple":
    get:
      description: Gets a short-form list of events this team has competed at in the given year.
      operationId: getTeamEventsByYearSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - event
  "/team/{team_key}/events/{year}/statuses":
    get:
      description: Gets a key-value list of the event statuses for events this team has competed at in the given year.
      operationId: getTeamEventsStatusesByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/Team_Event_Status"
                description: A key-value pair of `Team_Event_Status` objects with the event key as the key.
                type: object
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - list
        - team
        - event
  "/team/{team_key}/matches/{year}":
    get:
      description: Gets a list of matches for the given team and year.
      operationId: getTeamMatchesByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - match
  "/team/{team_key}/matches/{year}/keys":
    get:
      description: Gets a list of match keys for matches for the given team and year.
      operationId: getTeamMatchesByYearKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - match
  "/team/{team_key}/matches/{year}/simple":
    get:
      description: Gets a short-form list of matches for the given team and year.
      operationId: getTeamMatchesByYearSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - match
  "/team/{team_key}/media/tag/{media_tag}":
    get:
      description: Gets a list of Media (videos / pictures) for the given team and tag.
      operationId: getTeamMediaByTag
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/media_tag"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Media"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/media/tag/{media_tag}/{year}":
    get:
      description: Gets a list of Media (videos / pictures) for the given team, tag and year.
      operationId: getTeamMediaByTagYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/media_tag"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Media"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/media/{year}":
    get:
      description: Gets a list of Media (videos / pictures) for the given team and year.
      operationId: getTeamMediaByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
        - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Media"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/robots":
    get:
      description: Gets a list of year and robot name pairs for each year that a robot name was provided. Will return an empty array if the team has never named a robot.
      operationId: getTeamRobots
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Robot"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/simple":
    get:
      description: Gets a `Team_Simple` object for the team referenced by the given key.
      operationId: getTeamSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team_Simple"
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/social_media":
    get:
      description: Gets a list of Media (social media) for the given team.
      operationId: getTeamSocialMedia
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Media"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/team/{team_key}/years_participated":
    get:
      description: Gets a list of years in which the team participated in at least one competition.
      operationId: getTeamYearsParticipated
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: integer
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
  "/teams/{page_num}":
    get:
      description: Gets a list of `Team` objects, paginated in groups of 500.
      operationId: getTeams
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
  "/teams/{page_num}/keys":
    get:
      description: Gets a list of Team keys, paginated in groups of 500. (Note, each page will not have 500 teams, but will include the teams within that range of 500.)
      operationId: getTeamsKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
  "/teams/{page_num}/simple":
    get:
      description: Gets a list of short form `Team_Simple` objects, paginated in groups of 500.
      operationId: getTeamsSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
    x-comment: Simple (non-full) responses need a separate path definition. See also https://github.com/OAI/OpenAPI-Specification/issues/270
  "/teams/{year}/{page_num}":
    get:
      description: Gets a list of `Team` objects that competed in the given year, paginated in groups of 500.
      operationId: getTeamsByYear
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
  "/teams/{year}/{page_num}/keys":
    get:
      description: Gets a list Team Keys that competed in the given year, paginated in groups of 500.
      operationId: getTeamsByYearKeys
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
  "/teams/{year}/{page_num}/simple":
    get:
      description: Gets a list of short form `Team_Simple` objects that competed in the given year, paginated in groups of 500.
      operationId: getTeamsByYearSimple
      parameters:
        - $ref: "#/components/parameters/If-None-Match"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/page_num"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly.
              schema:
                type: string
            ETag:
              description: Specifies the version of the most recent response. Used by clients in the `If-None-Match` request header.
              schema:
                type: string
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
      security:
        - apiKey: []
      tags:
        - team
        - list
components:
  parameters:
    If-None-Match:
      description: Value of the `ETag` header in the most recently cached response by the client.
      in: header
      name: If-None-Match
      schema:
        type: string
    district_key:
      description: TBA District Key, eg `2016fim`
      in: path
      name: district_key
      required: true
      schema:
        type: string
    event_key:
      description: TBA Event Key, eg `2016nytr`
      in: path
      name: event_key
      required: true
      schema:
        type: string
    match_key:
      description: TBA Match Key, eg `2016nytr_qm1`
      in: path
      name: match_key
      required: true
      schema:
        type: string
    media_tag:
      description: Media Tag which describes the Media.
      in: path
      name: media_tag
      required: true
      schema:
        type: string
    page_num:
      description: Page number of results to return, zero-indexed
      in: path
      name: page_num
      required: true
      schema:
        type: integer
    team_key:
      description: TBA Team Key, eg `frc254`
      in: path
      name: team_key
      required: true
      schema:
        type: string
    year:
      description: Competition Year (or Season). Must be 4 digits.
      in: path
      name: year
      required: true
      schema:
        type: integer
  responses:
    NotModified:
      description: Not Modified - Use Local Cached Value
    Unauthorized:
      description: ""
  schemas:
    API_Status:
      properties:
        android:
          $ref: "#/components/schemas/API_Status_App_Version"
        current_season:
          description: Year of the current FRC season.
          type: integer
        down_events:
          description: An array of strings containing event keys of any active events that are no longer updating.
          items:
            type: string
          type: array
        ios:
          $ref: "#/components/schemas/API_Status_App_Version"
        is_datafeed_down:
          description: True if the entire FMS API provided by FIRST is down.
          type: boolean
        max_season:
          description: Maximum FRC season year for valid queries.
          type: integer
      required:
        - android
        - current_season
        - down_events
        - ios
        - is_datafeed_down
        - max_season
      type: object
    API_Status_App_Version:
      properties:
        latest_app_version:
          description: Internal use - Latest application version available.
          type: integer
        min_app_version:
          description: Internal use - Minimum application version required to correctly connect and process data.
          type: integer
      required:
        - latest_app_version
        - min_app_version
      type: object
    Award:
      properties:
        award_type:
          description: Type of award given. See https://github.com/the-blue-alliance/the-blue-alliance/blob/master/consts/award_type.py#L6
          type: integer
        event_key:
          description: The event_key of the event the award was won at.
          type: string
        name:
          description: The name of the award as provided by FIRST. May vary for the same award type.
          type: string
        recipient_list:
          description: A list of recipients of the award at the event. May have either a team_key or an awardee, both, or neither (in the case the award wasn't awarded at the event).
          items:
            $ref: "#/components/schemas/Award_Recipient"
          type: array
        year:
          description: The year this award was won.
          type: integer
      required:
        - award_type
        - event_key
        - name
        - recipient_list
        - year
      type: object
    Award_Recipient:
      description: An `Award_Recipient` object represents the team and/or person who received an award at an event.
      properties:
        awardee:
          description: The name of the individual given the award. May be null.
          type: string
        team_key:
          description: The TBA team key for the team that was given the award. May be null.
          type: string
      type: object
    District_List:
      properties:
        abbreviation:
          description: The short identifier for the district.
          type: string
        display_name:
          description: The long name for the district.
          type: string
        key:
          description: Key for this district, e.g. `2016ne`.
          type: string
        year:
          description: Year this district participated.
          type: integer
      required:
        - abbreviation
        - display_name
        - key
        - year
      type: object
    District_Ranking:
      description: Rank of a team in a district.
      properties:
        event_points:
          description: List of events that contributed to the point total for the team.
          items:
            properties:
              alliance_points:
                description: Points awarded for alliance selection.
                type: integer
              award_points:
                description: Points awarded for event awards.
                type: integer
              district_cmp:
                description: "`true` if this event is a District Championship event."
                type: boolean
              elim_points:
                description: Points awarded for elimination match performance.
                type: integer
              event_key:
                description: TBA Event key for this event.
                type: string
              qual_points:
                description: Points awarded for qualification match performance.
                type: integer
              total:
                description: Total points awarded at this event.
                type: integer
            required:
              - alliance_points
              - award_points
              - district_cmp
              - elim_points
              - event_key
              - qual_points
              - total
            type: object
          type: array
        point_total:
          description: Total district points for the team.
          type: integer
        rank:
          description: Numerical rank of the team, 1 being top rank.
          type: integer
        rookie_bonus:
          description: Any points added to a team as a result of the rookie bonus.
          type: integer
        team_key:
          description: TBA team key for the team.
          type: string
      required:
        - point_total
        - rank
        - team_key
      type: object
    Elimination_Alliance:
      properties:
        backup:
          description: Backup team called in, may be null.
          properties:
            in:
              description: Team key that was called in as the backup.
              type: string
            out:
              description: Team key that was replaced by the backup team.
              type: string
          type: object
        declines:
          description: List of teams that declined the alliance.
          items:
            description: Team key that declined the alliance.
            type: string
          type: array
        name:
          description: Alliance name, may be null.
          type: string
        picks:
          description: List of team keys picked for the alliance. First pick is captain.
          items:
            description: Team key picked for the alliance.
            type: string
          type: array
        status:
          properties:
            current_level_record:
              $ref: "#/components/schemas/WLT_Record"
            level:
              type: string
            playoff_average:
              format: double
              type: number
            record:
              $ref: "#/components/schemas/WLT_Record"
            status:
              type: string
          type: object
      required:
        - picks
      type: object
    Event:
      properties:
        address:
          description: Address of the event's venue, if available.
          type: string
        city:
          description: City, town, village, etc. the event is located in.
          type: string
        country:
          description: Country the event is located in.
          type: string
        district:
          $ref: "#/components/schemas/District_List"
        division_keys:
          description: An array of event keys for the divisions at this event.
          items:
            type: string
          type: array
        end_date:
          description: Event end date in `yyyy-mm-dd` format.
[...]
