openapi: 3.0.0
servers:
  - url: https://datacatalog.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "A fully managed and highly scalable data discovery and metadata management service. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Cloud Data Catalog API
  version: v1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://datacatalog.googleapis.com/$discovery/rest?version=v1beta1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: datacatalog
externalDocs:
  url: https://cloud.google.com/data-catalog/docs/
tags:
  - name: catalog
  - name: entries
  - name: projects
paths:
  /v1beta1/catalog:search:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Searches Data Catalog for multiple resources like entries, tags that match a query. This is a custom method (https://cloud.google.com/apis/design/custom_methods) and does not return the complete resource, only the resource identifier and high level fields. Clients can subsequently call `Get` methods. Note that Data Catalog search queries do not guarantee full recall. Query results that match your query may not be returned, even in subsequent result pages. Also note that results returned (and not returned) can vary across repeated search queries. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information.
      operationId: datacatalog.catalog.search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1SearchCatalogResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - catalog
  /v1beta1/entries:lookup:
    get:
      description: Get an entry by target resource name. This method allows clients to use the resource name from the source Google Cloud Platform service to get the Data Catalog Entry.
      operationId: datacatalog.entries.lookup
      parameters:
        - description: "The full name of the Google Cloud Platform resource the Data Catalog entry represents. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Full names are case-sensitive. Examples: * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId * //pubsub.googleapis.com/projects/projectId/topics/topicId"
          in: query
          name: linkedResource
          schema:
            type: string
        - description: "The SQL name of the entry. SQL names are case-sensitive. Examples: * `pubsub.project_id.topic_id` * ``pubsub.project_id.`topic.id.with.dots` `` * `bigquery.table.project_id.dataset_id.table_id` * `bigquery.dataset.project_id.dataset_id` * `datacatalog.entry.project_id.location_id.entry_group_id.entry_id` `*_id`s should satisfy the standard SQL rules for identifiers. https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical."
          in: query
          name: sqlResource
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Entry"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - entries
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{name}":
    delete:
      description: Deletes a policy tag. Also deletes all of its descendant policy tags.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.delete
      parameters:
        - description: Required. Resource name of the policy tag to be deleted. All of its descendant policy tags will also be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Currently, this field must always be set to `true`. This confirms the deletion of this field from any tags using this field. `force = false` will be supported in the future.
          in: query
          name: force
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets a policy tag.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.get
      parameters:
        - description: Required. Resource name of the requested policy tag.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The fields to return. If not set or empty, all fields are returned.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1PolicyTag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a policy tag.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.patch
      parameters:
        - description: 'Output only. Resource name of this policy tag, whose format is: "projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}".'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The update mask applies to the resource. Only display_name, description and parent_policy_tag can be updated and thus can be listed in the mask. If update_mask is not provided, all allowed fields (i.e. display_name, description and parent) will be updated. For more information including the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If not set, defaults to all of the fields that are allowed to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1PolicyTag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1PolicyTag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{name}:rename":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Renames an enum value in a tag template. The enum values have to be unique within one enum field. Thus, an enum value cannot be renamed with a name used in any other enum value within the same enum field.
      operationId: datacatalog.projects.locations.tagTemplates.fields.enumValues.rename
      parameters:
        - description: "Required. The name of the enum field value. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}/fields/{tag_template_field_id}/enumValues/{enum_value_display_name}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TagTemplateField"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/entries":
    get:
      description: Lists entries.
      operationId: datacatalog.projects.locations.entryGroups.entries.list
      parameters:
        - description: "Required. The name of the entry group that contains the entries, which can be provided in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Default is 10. Max limit is 1000. Throws an invalid argument for `page_size > 1000`.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token that specifies which page is requested. If empty, the first page is returned.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The fields to return for each Entry. If not set or empty, all fields are returned. For example, setting read_mask to contain only one path "name" will cause ListEntries to return a list of Entries with only "name" field.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ListEntriesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an entry. Only entries of 'FILESET' type or user-specified type can be created. Users should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information). A maximum of 100,000 entries may be created per entry group.
      operationId: datacatalog.projects.locations.entryGroups.entries.create
      parameters:
        - description: "Required. The name of the entry group this entry is in. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this Entry and its child resources may not actually be stored in the location in this name."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The id of the entry to create.
          in: query
          name: entryId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Entry"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Entry"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/entryGroups":
    get:
      description: Lists entry groups.
      operationId: datacatalog.projects.locations.entryGroups.list
      parameters:
        - description: "Required. The name of the location that contains the entry groups, which can be provided in URL format. Example: * projects/{project_id}/locations/{location}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return. Default is 10. Max limit is 1000. Throws an invalid argument for `page_size > 1000`.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Token that specifies which page is requested. If empty, the first page is returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: A maximum of 10,000 entry groups may be created per organization across all locations. Users should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).
      operationId: datacatalog.projects.locations.entryGroups.create
      parameters:
        - description: "Required. The name of the project this entry group is in. Example: * projects/{project_id}/locations/{location} Note that this EntryGroup and its child resources may not actually be stored in the location in this name."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The id of the entry group to create. The id must begin with a letter or underscore, contain only English letters, numbers and underscores, and be at most 64 characters.
          in: query
          name: entryGroupId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1EntryGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1EntryGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/fields":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a field in a tag template. The user should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project](https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).
      operationId: datacatalog.projects.locations.tagTemplates.fields.create
      parameters:
        - description: "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions). Example: * projects/{project_id}/locations/us-central1/tagTemplates/{tag_template_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the tag template field to create. Field ids can contain letters (both uppercase and lowercase), numbers (0-9), underscores (_) and dashes (-). Field IDs must be at least 1 character long and at most 128 characters long. Field IDs must also be unique within their template.
          in: query
          name: tagTemplateFieldId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TagTemplateField"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TagTemplateField"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/policyTags":
    get:
      description: Lists all policy tags in a taxonomy.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.list
      parameters:
        - description: Required. Resource name of the taxonomy to list the policy tags of.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be a value between 1 and 1000. If not set, defaults to 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any. If not set, defaults to an empty string.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a policy tag in the specified taxonomy.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.create
      parameters:
        - description: Required. Resource name of the taxonomy that the policy tag will belong to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1PolicyTag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1PolicyTag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/tagTemplates":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a tag template. The user should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project](https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).
      operationId: datacatalog.projects.locations.tagTemplates.create
      parameters:
        - description: "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions. Example: * projects/{project_id}/locations/us-central1"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The id of the tag template to create.
          in: query
          name: tagTemplateId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TagTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TagTemplate"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/tags":
    get:
      description: Lists tags assigned to an Entry. The columns in the response are lowercased.
      operationId: datacatalog.projects.locations.entryGroups.tags.list
      parameters:
        - description: "Required. The name of the Data Catalog resource to list the tags of. The resource could be an Entry or an EntryGroup. Examples: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of tags to return. Default is 10. Max limit is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token that specifies which page is requested. If empty, the first page is returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ListTagsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a tag on an Entry. Note: The project identified by the `parent` parameter for the [tag](https://cloud.google.com/data-catalog/docs/reference/rest/v1beta1/projects.locations.entryGroups.entries.tags/create#path-parameters) and the [tag template](https://cloud.google.com/data-catalog/docs/reference/rest/v1beta1/projects.locations.tagTemplates/create#path-parameters) used to create the tag must be from the same organization."
      operationId: datacatalog.projects.locations.entryGroups.tags.create
      parameters:
        - description: "Required. The name of the resource to attach this tag to. Tags can be attached to Entries. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id} Note that this Tag and its child resources may not actually be stored in the location in this name."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Tag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Tag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/taxonomies":
    get:
      description: Lists all taxonomies in a project in a particular location that the caller has permission to view.
      operationId: datacatalog.projects.locations.taxonomies.list
      parameters:
        - description: Required. Resource name of the project to list the taxonomies of.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Supported field for filter is 'service' and value is 'dataplex'. Eg: service=dataplex."
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of items to return. Must be a value between 1 and 1000. If not set, defaults to 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous list request, if any. If not set, defaults to an empty string.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a taxonomy in the specified project.
      operationId: datacatalog.projects.locations.taxonomies.create
      parameters:
        - description: Required. Resource name of the project that the taxonomy will belong to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Taxonomy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1Taxonomy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/taxonomies:export":
    get:
      description: Exports all taxonomies and their policy tags in a project. This method generates SerializedTaxonomy protos with nested policy tags that can be used as an input for future ImportTaxonomies calls.
      operationId: datacatalog.projects.locations.taxonomies.export
      parameters:
        - description: Required. Resource name of the project that taxonomies to be exported will share.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Export taxonomies as serialized taxonomies.
          in: query
          name: serializedTaxonomies
          schema:
            type: boolean
        - description: Required. Resource names of the taxonomies to be exported.
          explode: true
          in: query
          name: taxonomies
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/taxonomies:import":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports all taxonomies and their policy tags to a project as new taxonomies. This method provides a bulk taxonomy / policy tag creation using nested proto structure.
      operationId: datacatalog.projects.locations.taxonomies.import
      parameters:
        - description: Required. Resource name of project that the imported taxonomies will belong to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{resource}:getIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Gets the IAM policy for a taxonomy or a policy tag.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the IAM policy for a taxonomy or a policy tag.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns the permissions that a caller has on the specified taxonomy or policy tag.
      operationId: datacatalog.projects.locations.taxonomies.policyTags.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    GetIamPolicyRequest:
      description: Request message for `GetIamPolicy` method.
      properties:
        options:
          $ref: "#/components/schemas/GetPolicyOptions"
          description: "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
      type: object
    GetPolicyOptions:
      description: Encapsulates settings provided to GetIamPolicy.
      properties:
        requestedPolicyVersion:
          description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          format: int32
          type: integer
      type: object
    GoogleCloudDatacatalogV1BigQueryConnectionSpec:
      description: Specification for the BigQuery connection.
      properties:
        cloudSql:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
          description: Specification for the BigQuery connection to a Cloud SQL instance.
        connectionType:
          description: The type of the BigQuery connection.
          enum:
            - CONNECTION_TYPE_UNSPECIFIED
            - CLOUD_SQL
          type: string
        hasCredential:
          description: True if there are credentials attached to the BigQuery connection; false otherwise.
          type: boolean
      type: object
    GoogleCloudDatacatalogV1BigQueryDateShardedSpec:
      description: Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).
      properties:
        dataset:
          description: "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`."
          readOnly: true
          type: string
        latestShardResource:
          description: Output only. BigQuery resource name of the latest shard.
          readOnly: true
          type: string
        shardCount:
          description: Output only. Total number of shards.
          format: int64
          readOnly: true
          type: string
        tablePrefix:
          description: Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1BigQueryRoutineSpec:
      description: Fields specific for BigQuery routines.
      properties:
        importedLibraries:
          description: Paths of the imported libraries.
          items:
            type: string
          type: array
      type: object
    GoogleCloudDatacatalogV1BigQueryTableSpec:
      description: Describes a BigQuery table.
      properties:
        tableSourceType:
          description: Output only. The table source type.
          enum:
            - TABLE_SOURCE_TYPE_UNSPECIFIED
            - BIGQUERY_VIEW
            - BIGQUERY_TABLE
            - BIGQUERY_MATERIALIZED_VIEW
          readOnly: true
          type: string
        tableSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1TableSpec"
          description: Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`.
        viewSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1ViewSpec"
          description: Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`.
      type: object
    GoogleCloudDatacatalogV1BusinessContext:
      description: Business Context of the entry.
      properties:
        contacts:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1Contacts"
          description: Contact people for the entry.
        entryOverview:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1EntryOverview"
          description: Entry overview fields for rich text descriptions of entries.
      type: object
    GoogleCloudDatacatalogV1CloudBigtableInstanceSpec:
      description: Specification that applies to Instance entries that are part of `CLOUD_BIGTABLE` system. (user_specified_type)
      properties:
        cloudBigtableClusterSpecs:
          description: The list of clusters for the Instance.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec"
          type: array
      type: object
    GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec:
      description: Spec that applies to clusters of an Instance of Cloud Bigtable.
      properties:
        displayName:
          description: Name of the cluster.
          type: string
        linkedResource:
          description: A link back to the parent resource, in this case Instance.
          type: string
        location:
          description: Location of the cluster, typically a Cloud zone.
          type: string
        type:
          description: Type of the resource. For a cluster this would be "CLUSTER".
          type: string
      type: object
    GoogleCloudDatacatalogV1CloudBigtableSystemSpec:
      description: Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)
      properties:
        instanceDisplayName:
          description: Display name of the Instance. This is user specified and different from the resource name.
          type: string
      type: object
    GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec:
      description: Specification for the BigQuery connection to a Cloud SQL instance.
      properties:
        database:
          description: Database name.
          type: string
        instanceId:
          description: Cloud SQL instance ID in the format of `project:location:instance`.
          type: string
        type:
          description: Type of the Cloud SQL database.
          enum:
            - DATABASE_TYPE_UNSPECIFIED
            - POSTGRES
            - MYSQL
          type: string
      type: object
    GoogleCloudDatacatalogV1ColumnSchema:
      description: A column within a schema. Columns can be nested inside other columns.
      properties:
        column:
          description: Required. Name of the column. Must be a UTF-8 string without dots (.). The maximum size is 64 bytes.
          type: string
        defaultValue:
          description: Optional. Default value for the column.
          type: string
        description:
          description: Optional. Description of the column. Default value is an empty string. The description must be a UTF-8 string with the maximum size of 2000 bytes.
          type: string
        gcRule:
          description: Optional. Garbage collection policy for the column or column family. Applies to systems like Cloud Bigtable.
          type: string
        highestIndexingType:
          description: Optional. Most important inclusion of this column.
          enum:
            - INDEXING_TYPE_UNSPECIFIED
            - INDEXING_TYPE_NONE
            - INDEXING_TYPE_NON_UNIQUE
            - INDEXING_TYPE_UNIQUE
            - INDEXING_TYPE_PRIMARY_KEY
          type: string
        lookerColumnSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec"
          description: Looker specific column info of this column.
        mode:
          description: Optional. A column's mode indicates whether values in this column are required, nullable, or repeated. Only `NULLABLE`, `REQUIRED`, and `REPEATED` values are supported. Default mode is `NULLABLE`.
          type: string
        ordinalPosition:
          description: Optional. Ordinal position
          format: int32
          type: integer
        subcolumns:
          description: Optional. Schema of sub-columns. A column can have zero or more sub-columns.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1ColumnSchema"
          type: array
        type:
          description: Required. Type of the column. Must be a UTF-8 string with the maximum size of 128 bytes.
          type: string
      type: object
    GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec:
      description: Column info specific to Looker System.
      properties:
        type:
          description: Looker specific column type of this column.
          enum:
            - LOOKER_COLUMN_TYPE_UNSPECIFIED
            - DIMENSION
            - DIMENSION_GROUP
            - FILTER
            - MEASURE
            - PARAMETER
          type: string
      type: object
    GoogleCloudDatacatalogV1CommonUsageStats:
      description: Common statistics on the entry's usage. They can be set on any system.
      properties:
        viewCount:
          description: View count in source system.
          format: int64
          type: string
      type: object
    GoogleCloudDatacatalogV1Contacts:
      description: Contact people for the entry.
      properties:
        people:
          description: The list of contact people for the entry.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1ContactsPerson"
          type: array
      type: object
    GoogleCloudDatacatalogV1ContactsPerson:
      description: A contact person for the entry.
      properties:
        designation:
          description: Designation of the person, for example, Data Steward.
          type: string
        email:
          description: Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`.
          type: string
      type: object
    GoogleCloudDatacatalogV1DataSource:
      description: Physical location of an entry.
      properties:
        resource:
          description: "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`"
          type: string
        service:
          description: Service that physically stores the data.
          enum:
            - SERVICE_UNSPECIFIED
            - CLOUD_STORAGE
            - BIGQUERY
          type: string
        sourceEntry:
          description: Output only. Data Catalog entry name, if applicable.
          readOnly: true
          type: string
        storageProperties:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1StorageProperties"
          description: Detailed properties of the underlying storage.
      type: object
    GoogleCloudDatacatalogV1DataSourceConnectionSpec:
      description: Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later.
      properties:
        bigqueryConnectionSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1BigQueryConnectionSpec"
          description: Output only. Fields specific to BigQuery connections.
      type: object
    GoogleCloudDatacatalogV1DatabaseTableSpec:
      description: Specification that applies to a table resource. Valid only for entries with the `TABLE` type.
      properties:
        databaseViewSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
          description: Spec what aplies to tables that are actually views. Not set for "real" tables.
        dataplexTable:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataplexTableSpec"
          description: Output only. Fields specific to a Dataplex table and present only in the Dataplex table entries.
          readOnly: true
        type:
          description: Type of this table.
          enum:
            - TABLE_TYPE_UNSPECIFIED
            - NATIVE
            - EXTERNAL
          type: string
      type: object
    GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec:
      description: Specification that applies to database view.
      properties:
        baseTable:
          description: Name of a singular table this view reflects one to one.
          type: string
        sqlQuery:
          description: SQL query used to generate this view.
          type: string
        viewType:
          description: Type of this view.
          enum:
            - VIEW_TYPE_UNSPECIFIED
            - STANDARD_VIEW
            - MATERIALIZED_VIEW
          type: string
      type: object
    GoogleCloudDatacatalogV1DataplexExternalTable:
      description: External table registered by Dataplex. Dataplex publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them "external tables". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.
      properties:
        dataCatalogEntry:
          description: Name of the Data Catalog entry representing the external table.
          type: string
        fullyQualifiedName:
          description: Fully qualified name (FQN) of the external table.
          type: string
        googleCloudResource:
          description: Google Cloud resource name of the external table.
          type: string
        system:
          description: Service in which the external table is registered.
          enum:
            - INTEGRATED_SYSTEM_UNSPECIFIED
            - BIGQUERY
            - CLOUD_PUBSUB
            - DATAPROC_METASTORE
            - DATAPLEX
            - CLOUD_SPANNER
            - CLOUD_BIGTABLE
            - CLOUD_SQL
            - LOOKER
          type: string
      type: object
    GoogleCloudDatacatalogV1DataplexFilesetSpec:
      description: Entry specyfication for a Dataplex fileset.
      properties:
        dataplexSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataplexSpec"
          description: Common Dataplex fields.
      type: object
    GoogleCloudDatacatalogV1DataplexSpec:
      description: Common Dataplex fields.
      properties:
        asset:
          description: Fully qualified resource name of an asset in Dataplex, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.
          type: string
        compressionFormat:
          description: Compression format of the data, e.g., zip, gzip etc.
          type: string
        dataFormat:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchema"
          description: Format of the data.
        projectId:
          description: Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the correspondingly Dataplex lake / zone / asset.
          type: string
      type: object
    GoogleCloudDatacatalogV1DataplexTableSpec:
      description: Entry specification for a Dataplex table.
      properties:
        dataplexSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataplexSpec"
          description: Common Dataplex fields.
        externalTables:
          description: List of external tables registered by Dataplex in other systems based on the same underlying data. External tables allow to query this data in those systems.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataplexExternalTable"
          type: array
        userManaged:
          description: Indicates if the table schema is managed by the user or not.
          type: boolean
      type: object
    GoogleCloudDatacatalogV1DumpItem:
      description: Wrapper for any item that can be contained in the dump.
      properties:
        taggedEntry:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1TaggedEntry"
          description: Entry and its tags.
      type: object
    GoogleCloudDatacatalogV1Entry:
      description: Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.
      properties:
        bigqueryDateShardedSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
          description: Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).
          readOnly: true
        bigqueryTableSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1BigQueryTableSpec"
          description: Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.
          readOnly: true
        businessContext:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1BusinessContext"
          description: Business Context of the entry. Not supported for BigQuery datasets
        cloudBigtableSystemSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
          description: Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`
        dataSource:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataSource"
          description: Output only. Physical location of the entry.
          readOnly: true
        dataSourceConnectionSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataSourceConnectionSpec"
          description: Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.
        databaseTableSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DatabaseTableSpec"
          description: Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.
        description:
          description: Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string.
          type: string
        displayName:
          description: Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string.
          type: string
        filesetSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1FilesetSpec"
          description: Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type.
        fullyQualifiedName:
          description: "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. "
          type: string
        gcsFilesetSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1GcsFilesetSpec"
          description: Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.
        integratedSystem:
          description: Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.
          enum:
            - INTEGRATED_SYSTEM_UNSPECIFIED
            - BIGQUERY
            - CLOUD_PUBSUB
            - DATAPROC_METASTORE
            - DATAPLEX
            - CLOUD_SPANNER
            - CLOUD_BIGTABLE
            - CLOUD_SQL
            - LOOKER
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.
          type: object
        linkedResource:
          description: "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8."
          type: string
        lookerSystemSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1LookerSystemSpec"
          description: Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`
        name:
          description: "Output only. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name."
          readOnly: true
          type: string
        personalDetails:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PersonalDetails"
          description: Output only. Additional information related to the entry. Private to the current user.
          readOnly: true
        routineSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1RoutineSpec"
          description: Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.
        schema:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1Schema"
          description: Schema of the entry. An entry might not have any schema attached to it.
        serviceSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1ServiceSpec"
          description: Specification that applies to a Service resource.
        sourceSystemTimestamps:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1SystemTimestamps"
          description: Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.
        sqlDatabaseSystemSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1SqlDatabaseSystemSpec"
          description: Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`
        type:
          description: The type of the entry. Only used for entries with types listed in the `EntryType` enum. Currently, only `FILESET` enum value is allowed. All other entries created in Data Catalog must use the `user_specified_type`.
          enum:
            - ENTRY_TYPE_UNSPECIFIED
            - TABLE
            - MODEL
            - DATA_STREAM
            - FILESET
            - CLUSTER
            - DATABASE
            - DATA_SOURCE_CONNECTION
            - ROUTINE
            - LAKE
            - ZONE
            - SERVICE
            - DATABASE_SCHEMA
            - DASHBOARD
            - EXPLORE
            - LOOK
          type: string
        usageSignal:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1UsageSignal"
          description: Resource usage statistics.
        userSpecifiedSystem:
          description: "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
          type: string
        userSpecifiedType:
          description: "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
          type: string
      type: object
    GoogleCloudDatacatalogV1EntryOverview:
      description: Entry overview fields for rich text descriptions of entries.
      properties:
        overview:
          description: Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.
          type: string
      type: object
    GoogleCloudDatacatalogV1FilesetSpec:
      description: Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.
      properties:
        dataplexFileset:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1DataplexFilesetSpec"
          description: Fields specific to a Dataplex fileset and present only in the Dataplex fileset entries.
      type: object
    GoogleCloudDatacatalogV1GcsFileSpec:
      description: Specification of a single file in Cloud Storage.
      properties:
        filePath:
          description: "Required. Full file path. Example: `gs://bucket_name/a/b.txt`."
          type: string
        gcsTimestamps:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1SystemTimestamps"
          description: Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.
          readOnly: true
        sizeBytes:
          description: Output only. File size in bytes.
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1GcsFilesetSpec:
      description: Describes a Cloud Storage fileset entry.
      properties:
        filePatterns:
          description: "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`"
          items:
            type: string
          type: array
        sampleGcsFileSpecs:
          description: Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1GcsFileSpec"
          readOnly: true
          type: array
      type: object
    GoogleCloudDatacatalogV1ImportEntriesMetadata:
      description: Metadata message for long-running operation returned by the ImportEntries.
      properties:
        errors:
          description: Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered.
          items:
            $ref: "#/components/schemas/Status"
          type: array
        state:
          description: State of the import operation.
          enum:
            - IMPORT_STATE_UNSPECIFIED
            - IMPORT_QUEUED
            - IMPORT_IN_PROGRESS
            - IMPORT_DONE
            - IMPORT_OBSOLETE
          type: string
      type: object
    GoogleCloudDatacatalogV1ImportEntriesResponse:
      description: Response message for long-running operation returned by the ImportEntries.
      properties:
        deletedEntriesCount:
          description: Number of entries deleted as a result of import operation.
          format: int64
          type: string
        upsertedEntriesCount:
          description: Cumulative number of entries created and entries updated as a result of import operation.
          format: int64
          type: string
      type: object
    GoogleCloudDatacatalogV1LookerSystemSpec:
      description: Specification that applies to entries that are part `LOOKER` system (user_specified_type)
      properties:
        parentInstanceDisplayName:
          description: Name of the parent Looker Instance. Empty if it does not exist.
          type: string
        parentInstanceId:
          description: "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`"
          type: string
        parentModelDisplayName:
          description: Name of the parent Model. Empty if it does not exist.
          type: string
        parentModelId:
          description: ID of the parent Model. Empty if it does not exist.
          type: string
        parentViewDisplayName:
          description: Name of the parent View. Empty if it does not exist.
          type: string
        parentViewId:
          description: ID of the parent View. Empty if it does not exist.
          type: string
      type: object
    GoogleCloudDatacatalogV1PersonalDetails:
      description: Entry metadata relevant only to the user and private to them.
      properties:
        starTime:
          description: Set if the entry is starred; unset otherwise.
          format: google-datetime
          type: string
        starred:
          description: True if the entry is starred by the user; false otherwise.
          type: boolean
      type: object
    GoogleCloudDatacatalogV1PhysicalSchema:
      description: Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data.
      properties:
        avro:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
          description: Schema in Avro JSON format.
        csv:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema"
          description: Marks a CSV-encoded data source.
        orc:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema"
          description: Marks an ORC-encoded data source.
        parquet:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema"
          description: Marks a Parquet-encoded data source.
        protobuf:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
          description: Schema in protocol buffer format.
        thrift:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
          description: Schema in Thrift format.
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema:
      description: Schema in Avro JSON format.
      properties:
        text:
          description: JSON source of the Avro schema.
          type: string
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema:
      description: Marks a CSV-encoded data source.
      properties: {}
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema:
      description: Marks an ORC-encoded data source.
      properties: {}
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema:
      description: Marks a Parquet-encoded data source.
      properties: {}
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema:
      description: Schema in protocol buffer format.
      properties:
        text:
          description: Protocol buffer source of the schema.
          type: string
      type: object
    GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema:
      description: Schema in Thrift format.
      properties:
        text:
          description: Thrift IDL source of the schema.
          type: string
      type: object
    GoogleCloudDatacatalogV1ReconcileTagsMetadata:
      description: Long-running operation metadata message returned by the ReconcileTags.
      properties:
        errors:
          additionalProperties:
            $ref: "#/components/schemas/Status"
          description: Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status.
          type: object
        state:
          description: State of the reconciliation operation.
          enum:
            - RECONCILIATION_STATE_UNSPECIFIED
            - RECONCILIATION_QUEUED
            - RECONCILIATION_IN_PROGRESS
            - RECONCILIATION_DONE
          type: string
      type: object
    GoogleCloudDatacatalogV1ReconcileTagsResponse:
      description: Long-running operation response message returned by ReconcileTags.
      properties:
        createdTagsCount:
          description: Number of tags created in the request.
          format: int64
          type: string
        deletedTagsCount:
          description: Number of tags deleted in the request.
          format: int64
          type: string
        updatedTagsCount:
          description: Number of tags updated in the request.
          format: int64
          type: string
      type: object
    GoogleCloudDatacatalogV1RoutineSpec:
      description: Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.
      properties:
        bigqueryRoutineSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1BigQueryRoutineSpec"
          description: Fields specific for BigQuery routines.
        definitionBody:
          description: The body of the routine.
          type: string
        language:
          description: "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
          type: string
        returnType:
          description: Return type of the argument. The exact value depends on the source system and the language.
          type: string
        routineArguments:
          description: Arguments of the routine.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1RoutineSpecArgument"
          type: array
        routineType:
          description: The type of the routine.
          enum:
            - ROUTINE_TYPE_UNSPECIFIED
            - SCALAR_FUNCTION
            - PROCEDURE
          type: string
      type: object
    GoogleCloudDatacatalogV1RoutineSpecArgument:
      description: Input or output argument of a function or stored procedure.
      properties:
        mode:
          description: Specifies whether the argument is input or output.
          enum:
            - MODE_UNSPECIFIED
            - IN
            - OUT
            - INOUT
          type: string
        name:
          description: The name of the argument. A return argument of a function might not have a name.
          type: string
        type:
          description: Type of the argument. The exact value depends on the source system and the language.
          type: string
      type: object
    GoogleCloudDatacatalogV1Schema:
      description: Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema.
      properties:
        columns:
          description: The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1ColumnSchema"
          type: array
      type: object
    GoogleCloudDatacatalogV1ServiceSpec:
      description: Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.
      properties:
        cloudBigtableInstanceSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1CloudBigtableInstanceSpec"
          description: Specification that applies to Instance entries of `CLOUD_BIGTABLE` system.
      type: object
    GoogleCloudDatacatalogV1SqlDatabaseSystemSpec:
      description: Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)
      properties:
        databaseVersion:
          description: Version of the database engine.
          type: string
        instanceHost:
          description: Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance.
          type: string
        sqlEngine:
          description: SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance.
          type: string
      type: object
    GoogleCloudDatacatalogV1StorageProperties:
      description: Details the properties of the underlying storage.
      properties:
        filePattern:
          description: "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`"
          items:
            type: string
          type: array
        fileType:
          description: File type in MIME format, for example, `text/plain`.
          type: string
      type: object
    GoogleCloudDatacatalogV1SystemTimestamps:
      description: Timestamps associated with this resource in a particular system.
      properties:
        createTime:
          description: Creation timestamp of the resource within the given system.
          format: google-datetime
          type: string
        expireTime:
          description: Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.
          format: google-datetime
          readOnly: true
          type: string
        updateTime:
          description: "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes."
          format: google-datetime
          type: string
      type: object
    GoogleCloudDatacatalogV1TableSpec:
      description: Normal BigQuery table specification.
      properties:
        groupedEntry:
          description: "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty."
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1Tag:
      description: Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.
      properties:
        column:
          description: "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
          type: string
        fields:
          additionalProperties:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1TagField"
          description: Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.
          type: object
        name:
          description: "The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name."
          type: string
        template:
          description: "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation."
          type: string
        templateDisplayName:
          description: Output only. The display name of the tag template.
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1TagField:
      description: Contains the value and additional information on a field within a Tag.
      properties:
        boolValue:
          description: The value of a tag field with a boolean type.
          type: boolean
        displayName:
          description: Output only. The display name of this field.
          readOnly: true
          type: string
        doubleValue:
          description: The value of a tag field with a double type.
          format: double
          type: number
        enumValue:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1TagFieldEnumValue"
          description: The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.
        order:
          description: Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.
          format: int32
          readOnly: true
          type: integer
        richtextValue:
          description: The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.
          type: string
        stringValue:
          description: The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.
          type: string
        timestampValue:
          description: The value of a tag field with a timestamp type.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDatacatalogV1TagFieldEnumValue:
      description: An enum value.
      properties:
        displayName:
          description: The display name of the enum value.
          type: string
      type: object
    GoogleCloudDatacatalogV1TaggedEntry:
      description: Wrapper containing Entry and information about Tags that should and should not be attached to it.
      properties:
        absentTags:
          description: Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1Tag"
          type: array
        presentTags:
          description: Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.
          items:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1Tag"
          type: array
        v1Entry:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1Entry"
          description: Non-encrypted Data Catalog v1 Entry.
      type: object
    GoogleCloudDatacatalogV1UsageSignal:
      description: "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day."
      properties:
        commonUsageWithinTimeRange:
          additionalProperties:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1CommonUsageStats"
          description: Common usage statistics over each of the predefined time ranges. Supported time ranges are `{"24H", "7D", "30D", "Lifetime"}`.
          type: object
        favoriteCount:
          description: Favorite count in the source system.
          format: int64
          type: string
        updateTime:
          description: The end timestamp of the duration of usage statistics.
          format: google-datetime
          type: string
        usageWithinTimeRange:
          additionalProperties:
            $ref: "#/components/schemas/GoogleCloudDatacatalogV1UsageStats"
          description: Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{"24H", "7D", "30D"}`.
          readOnly: true
          type: object
      type: object
    GoogleCloudDatacatalogV1UsageStats:
      description: "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)"
      properties:
        totalCancellations:
          description: The number of cancelled attempts to use the underlying entry.
          format: float
          type: number
        totalCompletions:
          description: The number of successful uses of the underlying entry.
          format: float
          type: number
        totalExecutionTimeForCompletionsMillis:
          description: Total time spent only on successful uses, in milliseconds.
          format: float
          type: number
        totalFailures:
          description: The number of failed attempts to use the underlying entry.
          format: float
          type: number
      type: object
    GoogleCloudDatacatalogV1ViewSpec:
      description: Table view specification.
      properties:
        viewQuery:
          description: Output only. The query that defines the table view.
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec:
      description: "Spec for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding"
      properties:
        dataset:
          description: Output only. The Data Catalog resource name of the dataset entry the current table belongs to, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`.
          readOnly: true
          type: string
        shardCount:
          description: Output only. Total number of shards.
          format: int64
          readOnly: true
          type: string
        tablePrefix:
          description: Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`, for example, for shard `MyTable20180101`, the `table_prefix` is `MyTable`.
          readOnly: true
          type: string
      type: object
    GoogleCloudDatacatalogV1beta1BigQueryTableSpec:
      description: Describes a BigQuery table.
      properties:
        tableSourceType:
          description: Output only. The table source type.
          enum:
            - TABLE_SOURCE_TYPE_UNSPECIFIED
            - BIGQUERY_VIEW
            - BIGQUERY_TABLE
            - BIGQUERY_MATERIALIZED_VIEW
          readOnly: true
          type: string
        tableSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1TableSpec"
          description: Spec of a BigQuery table. This field should only be populated if `table_source_type` is `BIGQUERY_TABLE`.
        viewSpec:
          $ref: "#/components/schemas/GoogleCloudDatacatalogV1beta1ViewSpec"
[...]
