swagger: '2.0'
schemes:
  - https
host: www.envoice.in
info:
  contact:
    x-twitter: envoicein
  description: "[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/1d39bbcddaf694d81100)\r\n<span style='margin-left: 0.5em;'>or</span>\r\n<a href='https://documenter.getpostman.com/view/3559821/envoice-api/RW1XL1mf' class='openapi-button' _ngcontent-c6>View Postman docs</a>\r\n\r\n# Quickstart\r\n\r\nVisit [github](https://github.com/EmitKnowledge/Envoice) to view the quickstart tutorial.\r\n\r\n<div class='postman-tutorial'>\r\n\r\n# Tutorial for running the API in postman\r\n\r\nClick on \"\"Run in Postman\"\" button\r\n<br /><br />\r\n![postman - tutorial - 1](/Assets/images/api/postman-tutorial/postman-tutorial-1.png)\r\n\r\n --- \r\n\r\nA new page will open.\r\nClick the \"\"Postman for windows\"\" to run postman as a desktop app.\r\nMake sure you have already [installed](https://www.getpostman.com/docs/postman/launching_postman/installation_and_updates) Postman.\r\n<br /><br />\r\n![postman - tutorial - 2](/Assets/images/api/postman-tutorial/postman-tutorial-2.png)\r\n\r\n --- \r\n\r\nIn chrome an alert might show up to set a default app for opening postman links. Click on \"\"Open Postman\"\".\r\n<br /><br />\r\n![postman - tutorial - 3](/Assets/images/api/postman-tutorial/postman-tutorial-3.png)\r\n\r\n --- \r\n\r\nThe OpenAPI specification will be imported in Postman as a new collection named \"\"Envoice api\"\"\r\n<br /><br />\r\n![postman - tutorial - 4](/Assets/images/api/postman-tutorial/postman-tutorial-4.png)\r\n\r\n --- \r\n\r\nWhen testing be sure to check and modify the environment variables to suit your api key and secret. The domain is set to envoice's endpoint so you don't really need to change that.  \r\n<sub>\\*Eye button in top right corner </sub>\r\n<br /><br /> \r\n![postman - tutorial - 5](/Assets/images/api/postman-tutorial/postman-tutorial-5.png)\r\n<br /><br /> \r\n![postman - tutorial - 6](/Assets/images/api/postman-tutorial/postman-tutorial-6.png)\r\n\r\n --- \r\n\r\nYou don't need to change the values of the header parameters, because they will be replaced automatically when you send a request with real values from the environment configured in the previous step.\r\n<br /><br />\r\n![postman - tutorial - 7](/Assets/images/api/postman-tutorial/postman-tutorial-7.png)\r\n\r\n --- \r\n\r\nModify the example data to suit your needs and send a request.\r\n<br /><br />\r\n![postman - tutorial - 8](/Assets/images/api/postman-tutorial/postman-tutorial-8.png)\r\n</div>\r\n\r\n# Webhooks\r\n\r\nWebhooks allow you to build or set up Envoice Apps which subscribe to invoice activities. \r\nWhen one of those events is triggered, we'll send a HTTP POST payload to the webhook's configured URL. \r\nWebhooks can be used to update an external invoice data storage.\r\n\r\nIn order to use webhooks visit [this link](/account/settings#api-tab) and add upto 10 webhook urls that will return status `200` in order to signal that the webhook is working.\r\nAll nonworking webhooks will be ignored after a certain period of time and several retry attempts.\r\nIf after several attempts the webhook starts to work, we will send you all activities, both past and present, in chronological order.\r\n\r\nThe payload of the webhook is in format:\r\n```\r\n{\r\n    Signature: \"\"sha256 string\"\",\r\n    Timestamp: \"\"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\",\r\n    Activity: {\r\n        Message: \"string\",\r\n        Link: \"share url\",\r\n        Type: int,        \r\n        InvoiceNumber: \"string\",\r\n        InvoiceId: int,        \r\n        OrderNumber: \"string\",\r\n        OrderId: int,\r\n        Id: int,\r\n        CreatedOn: \"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\r\n    }\r\n}\r\n```            "
  title: API v1.0.0
  version: v1
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://twitter.com/envoicein/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://www.envoice.in/docs/api/v1/specification'
      version: '2.0'
  x-providerName: envoice.in
securityDefinitions:
  x-auth-key:
    description: 'Your account API key. Can be retrieved from your [account settings](/account/settings#api-tab).'
    in: header
    name: x-auth-key
    type: apiKey
  x-auth-secret:
    description: 'Your account API secret. Can be retrieved from your [account settings](/account/settings#api-tab). Keep it hidden.'
    in: header
    name: x-auth-secret
    type: apiKey
paths:
  /api/client/all:
    get:
      consumes: []
      operationId: ClientApi_All
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ClientDetailsApiModel'
            type: array
      summary: Return all clients for the account
      tags:
        - Client
  /api/client/candelete:
    get:
      consumes: []
      operationId: ClientApi_CanDelete
      parameters:
        - format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      summary: Check if the provided client can be deleted
      tags:
        - Client
  /api/client/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ClientApi_Delete
      parameters:
        - in: body
          name: deleteModel
          required: true
          schema:
            $ref: '#/definitions/ClientDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing client
      tags:
        - Client
  /api/client/details:
    get:
      consumes: []
      operationId: ClientApi_Details
      parameters:
        - format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClientDetailsApiModel'
      summary: Return client details. Activities and invoices included.
      tags:
        - Client
  /api/client/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ClientApi_New
      parameters:
        - in: body
          name: client
          required: true
          schema:
            $ref: '#/definitions/ClientCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a client
      tags:
        - Client
  /api/client/update:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ClientApi_Update
      parameters:
        - in: body
          name: client
          required: true
          schema:
            $ref: '#/definitions/ClientUpdateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Update an existing client
      tags:
        - Client
  /api/general/countries:
    get:
      consumes: []
      operationId: GeneralApi_Countries
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CountryDetailsApiModel'
            type: array
      summary: Return all of the platform supported countries
      tags:
        - General
  /api/general/currencies:
    get:
      consumes: []
      operationId: GeneralApi_Currencies
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CurrencyDetailsApiModel'
            type: array
      summary: Return all of the platform supported currencies
      tags:
        - General
  /api/general/dateformats:
    get:
      consumes: []
      operationId: GeneralApi_DateFormats
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Return all of the platform supported Date Formats
      tags:
        - General
  /api/general/uilanguages:
    get:
      consumes: []
      operationId: GeneralApi_UiLanguages
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/UILanguageDetailsApiModel'
            type: array
      summary: Return all of the platform supported UI languages
      tags:
        - General
  /api/invoice/all:
    get:
      consumes: []
      operationId: InvoiceApi_All
      parameters:
        - format: int32
          in: query
          name: queryOptions.page
          required: false
          type: integer
        - format: int32
          in: query
          name: queryOptions.pageSize
          required: false
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListResult[InvoiceDetailsApiModel]'
      summary: Return all invoices for the account
      tags:
        - Invoice
  /api/invoice/changestatus:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_ChangeStatus
      parameters:
        - in: body
          name: statusModel
          required: true
          schema:
            $ref: '#/definitions/ChangeStatusApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      summary: Change invoice status
      tags:
        - Invoice
  /api/invoice/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_Delete
      parameters:
        - in: body
          name: deleteModel
          required: true
          schema:
            $ref: '#/definitions/InvoiceDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing invoice
      tags:
        - Invoice
  /api/invoice/details:
    get:
      consumes: []
      operationId: InvoiceApi_Details
      parameters:
        - description: ''
          format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Return invoice data
      tags:
        - Invoice
  /api/invoice/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_New
      parameters:
        - in: body
          name: invoice
          required: true
          schema:
            $ref: '#/definitions/InvoiceCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Create an invoice
      tags:
        - Invoice
  /api/invoice/sendtoaccountant:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_SendToAccountant
      parameters:
        - in: body
          name: invoice
          required: true
          schema:
            $ref: '#/definitions/SendInvoiceToAccountantApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Send the provided invoice to the accountant
      tags:
        - Invoice
  /api/invoice/sendtoclient:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_SendToClient
      parameters:
        - in: body
          name: deliveryOptions
          required: true
          schema:
            $ref: '#/definitions/SendInvoiceToClientApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Send the provided invoice to the client
      tags:
        - Invoice
  /api/invoice/status:
    get:
      consumes: []
      operationId: InvoiceApi_Status
      parameters:
        - format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            enum:
              - Draft
              - Paid
              - Unpaid
              - Overdue
              - Void
            type: string
      summary: Retrieve the status of the invoice
      tags:
        - Invoice
  /api/invoice/update:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: InvoiceApi_Update
      parameters:
        - in: body
          name: invoice
          required: true
          schema:
            $ref: '#/definitions/InvoiceUpdateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Update an existing invoice
      tags:
        - Invoice
  /api/invoice/uri:
    get:
      consumes: []
      operationId: InvoiceApi_Uri
      parameters:
        - description: ''
          format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InvoiceUriApiModel'
      summary: Return the unique url to the client's invoice
      tags:
        - Invoice
  /api/order/all:
    get:
      consumes: []
      operationId: OrderApi_All
      parameters:
        - format: int32
          in: query
          name: queryOptions.page
          required: false
          type: integer
        - format: int32
          in: query
          name: queryOptions.pageSize
          required: false
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListResult[OrderDetailsApiModel]'
      summary: Return all orders for the account
      tags:
        - Order
  /api/order/changeshippingdetails:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_ChangeShippingDetails
      parameters:
        - format: int32
          in: query
          name: orderId
          required: true
          type: integer
        - in: body
          name: shippingDetails
          required: true
          schema:
            $ref: '#/definitions/OrderShippingDetailsApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Change order shipping details
      tags:
        - Order
  /api/order/changestatus:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_ChangeStatus
      parameters:
        - in: body
          name: status
          required: true
          schema:
            $ref: '#/definitions/ChangeOrderStatusApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Change order status
      tags:
        - Order
  /api/order/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_Delete
      parameters:
        - in: body
          name: order
          required: true
          schema:
            $ref: '#/definitions/OrderDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing order
      tags:
        - Order
  /api/order/details:
    get:
      consumes: []
      operationId: OrderApi_Details
      parameters:
        - format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderFullDetailsApiModel'
      summary: Return order details
      tags:
        - Order
  /api/order/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_New
      parameters:
        - in: body
          name: order
          required: true
          schema:
            $ref: '#/definitions/OrderCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create an order
      tags:
        - Order
  /api/payment/supported:
    get:
      consumes: []
      operationId: PaymentApi_Supported
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/PaymentGatewayDetailsApiModel'
            type: array
      summary: Return all supported payment gateways (no currencies means all are supported)
      tags:
        - Payment
  /api/product/all:
    get:
      consumes: []
      operationId: ProductApi_All
      parameters:
        - format: int32
          in: query
          name: queryOptions.page
          required: false
          type: integer
        - format: int32
          in: query
          name: queryOptions.pageSize
          required: false
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListResult[ProductDetailsApiModel]'
      summary: Return all products for the account
      tags:
        - Product
  /api/product/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ProductApi_Delete
      parameters:
        - in: body
          name: product
          required: true
          schema:
            $ref: '#/definitions/ProductDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing product
      tags:
        - Product
  /api/product/details:
    get:
      consumes: []
      operationId: ProductApi_Details
      parameters:
        - format: int32
          in: query
          name: id
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProductFullDetailsApiModel'
      summary: Return product details
      tags:
        - Product
  /api/product/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ProductApi_New
      parameters:
        - in: body
          name: product
          required: true
          schema:
            $ref: '#/definitions/ProductCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a product
      tags:
        - Product
  /api/product/update:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: ProductApi_Update
      parameters:
        - in: body
          name: product
          required: true
          schema:
            $ref: '#/definitions/ProductUpdateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Update an existing product
      tags:
        - Product
  /api/tax/all:
    get:
      consumes: []
      operationId: TaxApi_All
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/TaxDetailsApiModel'
            type: array
      summary: Return all taxes for the account
      tags:
        - Tax
  /api/tax/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: TaxApi_Delete
      parameters:
        - in: body
          name: deleteModel
          required: true
          schema:
            $ref: '#/definitions/TaxDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing tax
      tags:
        - Tax
  /api/tax/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: TaxApi_New
      parameters:
        - in: body
          name: tax
          required: true
          schema:
            $ref: '#/definitions/TaxCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a tax
      tags:
        - Tax
  /api/tax/update:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: TaxApi_Update
      parameters:
        - in: body
          name: tax
          required: true
          schema:
            $ref: '#/definitions/TaxUpdateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Update an existing tax
      tags:
        - Tax
  /api/worktype/all:
    get:
      consumes: []
      operationId: WorkTypeApi_All
      parameters:
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/WorkTypeDetailsApiModel'
            type: array
      summary: Return all work types for the account
      tags:
        - WorkType
  /api/worktype/delete:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: WorkTypeApi_Delete
      parameters:
        - in: body
          name: deleteModel
          required: true
          schema:
            $ref: '#/definitions/WorkTypeDeleteApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing work type
      tags:
        - WorkType
  /api/worktype/details:
    get:
      consumes: []
      operationId: WorkTypeApi_Details
      parameters:
        - format: int32
          in: query
          name: workTypeId
          required: true
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkTypeDetailsApiModel'
      summary: Return work type details
      tags:
        - WorkType
  /api/worktype/new:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: WorkTypeApi_New
      parameters:
        - in: body
          name: workType
          required: true
          schema:
            $ref: '#/definitions/WorkTypeCreateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a work type
      tags:
        - WorkType
  /api/worktype/search:
    get:
      consumes: []
      operationId: WorkTypeApi_Search
      parameters:
        - in: query
          name: queryOptions.query
          required: false
          type: string
        - in: query
          name: queryOptions.orderBy
          required: false
          type: string
        - enum:
            - None
            - Asc
            - Desc
          in: query
          name: queryOptions.order
          required: false
          type: string
        - format: int32
          in: query
          name: queryOptions.page
          required: false
          type: integer
        - format: int32
          in: query
          name: queryOptions.pageSize
          required: false
          type: integer
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/WorkTypeDetailsApiModel'
            type: array
      summary: Return all work types for the account that match the query param
      tags:
        - WorkType
  /api/worktype/update:
    post:
      consumes:
        - application/json
        - text/json
        - text/html
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: WorkTypeApi_Update
      parameters:
        - in: body
          name: workType
          required: true
          schema:
            $ref: '#/definitions/WorkTypeUpdateApiModel'
        - default: '[authentication key]'
          description: ''
          in: header
          name: x-auth-key
          required: true
          type: string
        - default: '[authentication secret]'
          description: ''
          in: header
          name: x-auth-secret
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Update an existing work type
      tags:
        - WorkType
definitions:
  AdditionalClientEmailApiModel:
    properties:
      Email:
        description: CC
        type: string
    type: object
  ChangeOrderStatusApiModel:
    properties:
      Id:
        description: Order Id
        format: int32
        type: integer
      Reason:
        description: Reason for status change
        type: string
      Status:
        description: New status of the order
        enum:
          - PendingPayment
          - Processing
          - Shipped
          - Completed
          - OnHold
          - Cancelled
          - Refunded
          - Failed
        type: string
    type: object
  ChangeStatusApiModel:
    properties:
      Id:
        description: Invoice Id
        format: int32
        type: integer
      Status:
        description: New status of the invoice
        enum:
          - Draft
          - Paid
          - Unpaid
          - Overdue
          - Void
        type: string
    type: object
  ClientCreateApiModel:
    properties:
      AdditionalEmails:
        description: Client additional emails contact for CC
        items:
          $ref: '#/definitions/AdditionalClientEmailApiModel'
        type: array
      Address:
        description: Client business address
        type: string
      ClientCountryId:
        description: Indicates the country where the clients is from
        format: int32
        type: integer
      ClientCurrencyId:
        description: Indicates the default system currency used by the user for the client
        format: int32
        type: integer
      CompanyRegistrationNumber:
        description: Client's Company Registration Number
        type: string
      Email:
        description: Client email
        type: string
      Name:
        description: Name of the client
        type: string
      PhoneNumber:
        description: Client phone numer
        type: string
      UiLanguageId:
        description: Hold a value of the language in which the invoice will be sent
        format: int32
        type: integer
      Vat:
        description: Client's VAT number
        type: string
    type: object
  ClientDeleteApiModel:
    properties:
      Id:
        description: Id of client to be deleted
        format: int32
        type: integer
    type: object
  ClientDetailsApiModel:
    properties:
      AdditionalEmails:
        description: Client additional emails contact for CC
        items:
          $ref: '#/definitions/AdditionalClientEmailApiModel'
        type: array
      Address:
        description: Client business address
        type: string
      ClientCountryId:
        description: Indicates the country where the clients is from
        format: int32
        type: integer
      ClientCurrencyId:
        description: Indicates the default system currency used by the user for the client
        format: int32
        type: integer
      CompanyRegistrationNumber:
        description: Client's Company Registration Number
        type: string
      CreatedOn:
        description: Date of creation
        format: date-time
        type: string
      Email:
        description: Client email
        type: string
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the client
        type: string
      PhoneNumber:
        description: Client phone numer
        type: string
      UiLanguageId:
        description: Hold a value of the language in which the invoice will be sent
        format: int32
        type: integer
      Vat:
        description: Client's VAT number
        type: string
    type: object
  ClientUpdateApiModel:
    properties:
      AdditionalEmails:
        description: Client additional emails contact for CC
        items:
          $ref: '#/definitions/AdditionalClientEmailApiModel'
        type: array
      Address:
        description: Client business address
        type: string
      ClientCountryId:
        description: Indicates the country where the clients is from
        format: int32
        type: integer
      ClientCurrencyId:
        description: Indicates the default system currency used by the user for the client
        format: int32
        type: integer
      CompanyRegistrationNumber:
        description: Client's Company Registration Number
        type: string
      Email:
        description: Client email
        type: string
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the client
        type: string
      PhoneNumber:
        description: Client phone numer
        type: string
      UiLanguageId:
        description: Hold a value of the language in which the invoice will be sent
        format: int32
        type: integer
      Vat:
        description: Client's VAT number
        type: string
    type: object
  CountryDetailsApiModel:
    properties:
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the country
        type: string
      Value:
        description: Country short code
        type: string
    type: object
  CurrencyApiModel:
    properties:
      Name:
        description: Name of the currency
        type: string
      Value:
        description: Currency short code
        type: string
    type: object
  CurrencyDetailsApiModel:
    properties:
      Code:
        description: Currency short numeric code
        type: string
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the country
        type: string
      Symbol:
        description: Currency symbol
        type: string
      Value:
        description: Currency short alpha code
        type: string
    type: object
  IErrorInfo:
    properties:
      Code:
        readOnly: true
        type: string
      FaultMessage:
        readOnly: true
        type: string
      Group:
        readOnly: true
        type: string
      UserVisibleMessage:
        readOnly: true
        type: string
    type: object
  InvoiceActivityApiModel:
    properties:
      Id:
        description: Id of invoice activity
        format: int32
        type: integer
      InvoiceNumber:
        description: Indicates to which invoice this activity refers to
        type: string
      Link:
        description: 'Url which point out to a certain activity action. Ex: Click to view the payment'
        type: string
      Message:
        description: Message associated with the activity
        type: string
      Type:
        description: Type of the activity
        enum:
          - Created
          - Draft
          - Cloned
          - SentViaEmail
          - SentViaSms
          - SentReminderViaEmail
          - SentReminderViaSms
          - Opened
          - Viewed
          - Rejected
          - Updated
          - Paid
          - Unpaid
          - Overdue
          - NewManualPayment
          - NewPaymentWithPaypal
          - NewPaymentWithStripe
          - NewPaymentWithPayoneer
          - SentToAccountant
          - DownloadedAsPdf
          - MarkAsPaidByTheClient
          - OpenedAttachment
          - NewPaymentWithSquare
          - NewPaymentWithKlikAndPay
          - NewPaymentWithRazorpay
          - NewPaymentWithWepay
          - NewPaymentWithHalkbank
          - ChangeStatus
          - OrderUpdated
          - OrderCreated
          - NewPaymentWithTwoCheckout
          - NewPaymentWithPaymentWall
          - NewPaymentWithBamboraEU
          - NewPaymentWithBamboraNA
          - Void
        type: string
    type: object
  InvoiceAttachmentApiModel:
    properties:
      Id:
        description: Id of invoice attachment
        format: int32
        type: integer
      Link:
        description: Link to the file
        type: string
      ObfuscatedFileName:
        description: Hashed file name to avoid url wildguessing
        type: string
      OriginalFileName:
        description: Name of the file
        type: string
      Size:
        description: File size number in bytes
        format: int64
        type: integer
      Type:
        description: Type of the link (Attached or external)
        enum:
          - External
          - Uploaded
        type: string
    type: object
  InvoiceCreateApiModel:
    properties:
      Attachments:
        description: List of invoice attachments
        items:
          $ref: '#/definitions/InvoiceCreateAttachmentApiModel'
        type: array
      ClientId:
        description: The client to whom this invoice is assigned
        format: int32
        type: integer
      ClonedFromId:
        description: Indicate from which invoice this invoice has been cloned from
        format: int32
        type: integer
      CurrencyId:
        description: Id of the currency for the invoice amounts
        format: int32
        type: integer
      Duedate:
        description: Indicates when the invoice will be proclamed as due
        format: date-time
        type: string
      IssuedOn:
        description: Indicates when the invoice was issued
        format: date-time
        type: string
      Items:
        description: List of invoice items
        items:
          $ref: '#/definitions/InvoiceCreateItemApiModel'
        type: array
      Notes:
        description: Internal note regarding the invoice
        type: string
      Number:
        description: Unique invoice number
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this invoice
        items:
          $ref: '#/definitions/InvoiceGatewayApiModel'
        type: array
      PoNumber:
        description: Unique number generated by the buyer
        type: string
      RecurringProfile:
        $ref: '#/definitions/InvoiceRecurringApiModel'
        description: Hold the recurring profile
      RecurringProfileId:
        description: Hold the id of the recurring profile
        format: int32
        type: integer
      Status:
        description: Indicate the status of the invoice (paid/unpaid/overdue)
        enum:
          - Draft
          - Paid
          - Unpaid
          - Overdue
          - Void
        type: string
      Terms:
        description: Terms of agreement
        type: string
    type: object
  InvoiceCreateAttachmentApiModel:
    properties:
      Link:
        description: Link to the file
        type: string
      ObfuscatedFileName:
        description: Hashed file name to avoid url wildguessing
        type: string
      OriginalFileName:
        description: Name of the file
        type: string
      Size:
        description: File size number in bytes
        format: int64
        type: integer
      Type:
        description: Type of the link (Attached or external)
        enum:
          - External
          - Uploaded
        type: string
    type: object
  InvoiceCreateItemApiModel:
    properties:
      Cost:
        description: Amount per unit
        format: double
        type: number
      Description:
        description: Additional description attached to the invoice item
        type: string
      DiscountPercentage:
        description: Discount percentage for the overall amount
        format: double
        type: number
      Quantity:
        description: Quantity in total used for the work type
        format: double
        type: number
      TaxId:
        description: Tax applied on the item
        format: int32
        type: integer
      TaxPercentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
      WorkTypeId:
        description: Work type (Name of the service)
        format: int32
        type: integer
    type: object
  InvoiceDeleteApiModel:
    properties:
      Id:
        description: Id of invoice to be deleted
        format: int32
        type: integer
    type: object
  InvoiceDetailsApiModel:
    properties:
      AccessToken:
        description: Security access token used for accessing the invoice anonymously
        type: string
      Client:
        $ref: '#/definitions/ClientDetailsApiModel'
        description: Client data referened to this invoice
      ClonedFromId:
        description: Indicate from which invoice this invoice has been cloned from
        format: int32
        type: integer
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this invoice
      DiscountAmount:
        description: Amount that goes as a discount
        format: double
        type: number
      Duedate:
        description: Indicates when the invoice will be proclamed as due
        format: date-time
        type: string
      EnablePartialPayments:
        description: Indicate that the invoice allows the user to pay the invoice partially
        type: boolean
      Id:
        description: Invoice id
        format: int32
        type: integer
      IssuedOn:
        description: Indicates when the invoice was issued
        format: date-time
        type: string
      Notes:
        description: Internal note regarding the invoice
        type: string
      Number:
        description: Unique invoice number
        type: string
      PoNumber:
        description: Unique number generated by the buyer
        type: string
      RecurringProfile:
        $ref: '#/definitions/InvoiceRecurringApiModel'
        description: Hold the recurring profile
      RecurringProfileId:
        description: Hold the id of the recurring profile
        format: int32
        type: integer
      Status:
        description: Indicate the status of the invoice (paid/unpaid/overdue)
        enum:
          - Draft
          - Paid
          - Unpaid
          - Overdue
          - Void
        type: string
      SubTotalAmount:
        description: Total amount of the invoice without tax
        format: double
        type: number
      TaxAmount:
        description: Amount that goes to the tax
        format: double
        type: number
      Terms:
        description: Terms of agreement
        type: string
      TotalAmount:
        description: Total amount of the invoice with tax
        format: double
        type: number
    type: object
  InvoiceFullDetailsApiModel:
    properties:
      AccessToken:
        description: Security access token used for accessing the invoice anonymously
        type: string
      Activities:
        description: List of invoice activities. Invoice audit log
        items:
          $ref: '#/definitions/InvoiceActivityApiModel'
        type: array
      Attachments:
        description: List of invoice attachments
        items:
          $ref: '#/definitions/InvoiceAttachmentApiModel'
        type: array
      Client:
        $ref: '#/definitions/ClientDetailsApiModel'
        description: Client data referened to this invoice
      ClonedFromId:
        description: Indicate from which invoice this invoice has been cloned from
        format: int32
        type: integer
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this invoice
      DiscountAmount:
        description: Amount that goes as a discount
        format: double
        type: number
      Duedate:
        description: Indicates when the invoice will be proclamed as due
        format: date-time
        type: string
      EnablePartialPayments:
        description: Indicate that the invoice allows the user to pay the invoice partially
        type: boolean
      Id:
        description: Invoice id
        format: int32
        type: integer
      IssuedOn:
        description: Indicates when the invoice was issued
        format: date-time
        type: string
      Items:
        description: List of invoice items
        items:
          $ref: '#/definitions/InvoiceItemApiModel'
        type: array
      Notes:
        description: Internal note regarding the invoice
        type: string
      Number:
        description: Unique invoice number
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this invoice
        items:
          $ref: '#/definitions/InvoiceGatewayApiModel'
        type: array
      Payments:
        description: List of invoice payments
        items:
          $ref: '#/definitions/InvoicePaymentApiModel'
        type: array
      PoNumber:
        description: Unique number generated by the buyer
        type: string
      RecurringProfile:
        $ref: '#/definitions/InvoiceRecurringApiModel'
        description: Hold the recurring profile
      RecurringProfileId:
        description: Hold the id of the recurring profile
        format: int32
        type: integer
      Status:
        description: Indicate the status of the invoice (paid/unpaid/overdue)
        enum:
          - Draft
          - Paid
          - Unpaid
          - Overdue
          - Void
        type: string
      SubTotalAmount:
        description: Total amount of the invoice without tax
        format: double
        type: number
      TaxAmount:
        description: Amount that goes to the tax
        format: double
        type: number
      Terms:
        description: Terms of agreement
        type: string
      TotalAmount:
        description: Total amount of the invoice with tax
        format: double
        type: number
    type: object
  InvoiceGatewayApiModel:
    properties:
      Name:
        description: Name of the payment gateway
        type: string
    type: object
  InvoiceItemApiModel:
    properties:
      Cost:
        description: Amount per unit
        format: double
        type: number
      Description:
        description: Additional description attached to the invoice item
        type: string
      DiscountAmount:
        description: Amount that goes as a discount
        format: double
        type: number
      DiscountPercentage:
        description: Discount percentage for the overall amount
        format: double
        type: number
      Id:
        description: Id of invoice item
        format: int32
        type: integer
      Quantity:
        description: Quantity in total used for the work type
        format: double
        type: number
      SubTotalAmount:
        description: Sub-Total amount of the invoice item (Amount without tax)
        format: double
        type: number
      TaxAmount:
        description: Amount that goes to the tax
        format: double
        type: number
      TaxId:
        description: Tax applied on the item
        format: int32
        type: integer
      TaxPercentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
      TotalAmount:
        description: Total amount of the invoice item
        format: double
        type: number
      WorkTypeId:
        description: Work type (Name of the service)
        format: int32
        type: integer
    type: object
  InvoicePaymentApiModel:
    properties:
      Amount:
        description: Total amount of the payment
        format: double
        type: number
      Id:
        description: Id of invoice payment
        format: int32
        type: integer
      IsAutomatic:
        description: Indicate if the payment is automatic or manual
        type: boolean
      Note:
        description: Internal payment note
        type: string
      PaidOn:
        description: When the payment was done by the client
        format: date-time
        type: string
      ReferenceId:
        description: Id of the payment
        type: string
      Type:
        description: Type of payment
        enum:
          - Other
          - Paypal
          - Stripe
          - Payoneer
          - Bank
          - Cash
          - Cheque
          - Ach
          - Sepa
          - Square
          - KlikAndPay
          - Razorpay
          - Wepay
          - Halkbank
          - TwoCheckout
          - PaymentWall
          - BamboraEU
          - BamboraNA
        type: string
    type: object
  InvoiceRecurringApiModel:
    description: Definition of invoice recurring profile
    properties:
      DayOfMonth:
        description: Day of month when the recurrance should happen
        format: int32
        type: integer
      DayOfWeek:
        description: Day when the recurrance should happen
        enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
        type: string
      DueDateInDays:
        description: Total number of days for the client to pay the invoice after issuing it
        format: int32
        type: integer
      EndOfRecurrance:
        description: Indcate the date when the recurrance should stop
        format: date-time
        type: string
      Month:
        description: Month when the recurrance should happen
        format: int32
        type: integer
      RecurrancePattern:
        description: How often the recurrance occurs
        enum:
          - Daily
          - Weekly
          - Monthly
          - Yearly
        type: string
      RecurranceValue:
        description: "Recurring every [value] RecurrancePattern\r\nEx: Recur every 1 week"
        format: int32
        type: integer
      StartOfRecurrance:
        description: Indcate the date when the recurrance has started
        format: date-time
        type: string
      Status:
        description: The status of the recurrance
        enum:
          - Pending
          - Active
          - Cancelled
          - Finished
        type: string
      Title:
        description: "Title of the recurring profile. \r\nEx: BRAND PACKAGE - 2017-08-16 - 2018-08-16"
        type: string
    type: object
  InvoiceUpdateApiModel:
    properties:
      Attachments:
        description: List of invoice attachments
        items:
          $ref: '#/definitions/InvoiceUpdateAttachmentApiModel'
        type: array
      ClientId:
        description: The client to whom this invoice is assigned
        format: int32
        type: integer
      ClonedFromId:
        description: Indicate from which invoice this invoice has been cloned from
        format: int32
        type: integer
      CurrencyId:
        description: Id of the currency for the invoice amounts
        format: int32
        type: integer
      Duedate:
        description: Indicates when the invoice will be proclamed as due
        format: date-time
        type: string
      Id:
        description: Invoice id
        format: int32
        type: integer
      IssuedOn:
        description: Indicates when the invoice was issued
        format: date-time
        type: string
      Items:
        description: List of invoice items
        items:
          $ref: '#/definitions/InvoiceUpdateItemApiModel'
        type: array
      Notes:
        description: Internal note regarding the invoice
        type: string
      Number:
        description: Unique invoice number
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this invoice
        items:
          $ref: '#/definitions/InvoiceGatewayApiModel'
        type: array
      PoNumber:
        description: Unique number generated by the buyer
        type: string
      RecurringProfile:
        $ref: '#/definitions/InvoiceRecurringApiModel'
        description: Hold the recurring profile
      RecurringProfileId:
        description: Hold the id of the recurring profile
        format: int32
        type: integer
      Status:
        description: Indicate the status of the invoice (paid/unpaid/overdue)
        enum:
          - Draft
          - Paid
          - Unpaid
          - Overdue
          - Void
        type: string
      Terms:
        description: Terms of agreement
        type: string
    type: object
  InvoiceUpdateAttachmentApiModel:
    properties:
      Id:
        description: Id of invoice attachment
        format: int32
        type: integer
      Link:
        description: Link to the file
        type: string
      ObfuscatedFileName:
        description: Hashed file name to avoid url wildguessing
        type: string
      OriginalFileName:
        description: Name of the file
        type: string
      Size:
        description: File size number in bytes
        format: int64
        type: integer
      Type:
        description: Type of the link (Attached or external)
        enum:
          - External
          - Uploaded
        type: string
    type: object
  InvoiceUpdateItemApiModel:
    properties:
      Cost:
        description: Amount per unit
        format: double
        type: number
      Description:
        description: Additional description attached to the invoice item
        type: string
      DiscountPercentage:
        description: Discount percentage for the overall amount
        format: double
        type: number
      Id:
        description: Id of invoice item
        format: int32
        type: integer
      Quantity:
        description: Quantity in total used for the work type
        format: double
        type: number
      TaxId:
        description: Tax applied on the item
        format: int32
        type: integer
      TaxPercentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
      WorkTypeId:
        description: Work type (Name of the service)
        format: int32
        type: integer
    type: object
  InvoiceUriApiModel:
    properties:
      Link:
        description: Unique link to the invoice
        type: string
    type: object
  'ListResult[InvoiceDetailsApiModel]':
    properties:
      Count:
        format: int32
        readOnly: true
        type: integer
      ErrorMessages:
        items:
          $ref: '#/definitions/IErrorInfo'
        type: array
      IsFaulted:
        type: boolean
      Result:
        items:
          $ref: '#/definitions/InvoiceDetailsApiModel'
        type: array
      TotalCount:
        format: int32
        type: integer
    type: object
  'ListResult[OrderDetailsApiModel]':
    properties:
      Count:
        format: int32
        readOnly: true
        type: integer
      ErrorMessages:
        items:
          $ref: '#/definitions/IErrorInfo'
        type: array
      IsFaulted:
        type: boolean
      Result:
        items:
          $ref: '#/definitions/OrderDetailsApiModel'
        type: array
      TotalCount:
        format: int32
        type: integer
    type: object
  'ListResult[ProductDetailsApiModel]':
    properties:
      Count:
        format: int32
        readOnly: true
        type: integer
      ErrorMessages:
        items:
          $ref: '#/definitions/IErrorInfo'
        type: array
      IsFaulted:
        type: boolean
      Result:
        items:
          $ref: '#/definitions/ProductDetailsApiModel'
        type: array
      TotalCount:
        format: int32
        type: integer
    type: object
  OrderAttachmentApiModel:
    properties:
      Link:
        description: Link to the file
        type: string
      ObfuscatedFileName:
        description: Hashed file name to avoid url wildguessing
        type: string
      OriginalFileName:
        description: Name of the file
        type: string
      Size:
        description: File size number in bytes
        format: int64
        type: integer
      Type:
        description: Type of the link (Attached or external)
        enum:
          - External
          - Uploaded
        type: string
    type: object
  OrderBillingDetailsApiModel:
    properties:
      Address:
        description: Client street and number
        type: string
      CountryId:
        description: Client country id
        format: int32
        type: integer
      Email:
        description: Client email
        type: string
      Name:
        description: Client name
        type: string
      PhoneNumber:
        description: Client phone number
        type: string
    type: object
  OrderCreateApiModel:
    properties:
      AfterPaymentDescription:
        description: After payment description
        type: string
      Attachments:
        description: List of Order attachments
        items:
          $ref: '#/definitions/OrderAttachmentApiModel'
        type: array
      CouponCode:
        description: Coupon to apply in order to get the discount
        type: string
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      DiscountAmount:
        description: Discount amount
        format: double
        type: number
      Items:
        description: List of Order items
        items:
          $ref: '#/definitions/OrderItemApiModel'
        type: array
      Name:
        description: Product alias
        type: string
      Note:
        description: Customer note to seller
        type: string
      OrderBillingDetails:
        $ref: '#/definitions/OrderBillingDetailsApiModel'
        description: Order billing details
      OrderShippingDetails:
        $ref: '#/definitions/OrderShippingDetailsApiModel'
        description: Order sshipping details
      ProductId:
        description: Product id
        format: int32
        type: integer
      Referral:
        description: Represent the referral for this order
        type: string
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Order status
        enum:
          - PendingPayment
          - Processing
          - Shipped
          - Completed
          - OnHold
          - Cancelled
          - Refunded
          - Failed
        type: string
      SubTotalAmount:
        description: Sub total amount
        format: double
        type: number
      TaxAmount:
        description: Tax amount
        format: double
        type: number
      TotalAmount:
        description: Total amount
        format: double
        type: number
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  OrderDeleteApiModel:
    properties:
      Id:
        description: Id of order to be deleted
        format: int32
        type: integer
    type: object
  OrderDetailsApiModel:
    properties:
      AccessToken:
        description: Product short link
        type: string
      AfterPaymentDescription:
        description: After payment description
        type: string
      CouponCode:
        description: Coupon to apply in order to get the discount
        type: string
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this order
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      DiscountAmount:
        description: Discount amount
        format: double
        type: number
      Id:
        description: Order id
        format: int32
        type: integer
      Name:
        description: Product alias
        type: string
      Note:
        description: Customer note to seller
        type: string
      OrderBillingDetails:
        $ref: '#/definitions/OrderBillingDetailsApiModel'
        description: Order billing details
      OrderShippingDetails:
        $ref: '#/definitions/OrderShippingDetailsApiModel'
        description: Order sshipping details
      ProductId:
        description: Product id
        format: int32
        type: integer
      Referral:
        description: Represent the referral for this order
        type: string
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Order status
        enum:
          - PendingPayment
          - Processing
          - Shipped
          - Completed
          - OnHold
          - Cancelled
          - Refunded
          - Failed
        type: string
      SubTotalAmount:
        description: Sub total amount
        format: double
        type: number
      TaxAmount:
        description: Tax amount
        format: double
        type: number
      TotalAmount:
        description: Total amount
        format: double
        type: number
      TotalWithShipping:
        description: Total amount with shipping
        format: double
        type: number
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  OrderFullDetailsApiModel:
    properties:
      AccessToken:
        description: Product short link
        type: string
      AfterPaymentDescription:
        description: After payment description
        type: string
      Attachments:
        description: List of Order attachments
        items:
          $ref: '#/definitions/OrderAttachmentApiModel'
        type: array
      CouponCode:
        description: Coupon to apply in order to get the discount
        type: string
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this order
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      DiscountAmount:
        description: Discount amount
        format: double
        type: number
      Id:
        description: Order id
        format: int32
        type: integer
      Items:
        description: List of Order items
        items:
          $ref: '#/definitions/OrderItemApiModel'
        type: array
      Name:
        description: Product alias
        type: string
      Note:
        description: Customer note to seller
        type: string
      OrderBillingDetails:
        $ref: '#/definitions/OrderBillingDetailsApiModel'
        description: Order billing details
      OrderShippingDetails:
        $ref: '#/definitions/OrderShippingDetailsApiModel'
        description: Order sshipping details
      ProductId:
        description: Product id
        format: int32
        type: integer
      Referral:
        description: Represent the referral for this order
        type: string
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Order status
        enum:
          - PendingPayment
          - Processing
          - Shipped
          - Completed
          - OnHold
          - Cancelled
          - Refunded
          - Failed
        type: string
      SubTotalAmount:
        description: Sub total amount
        format: double
        type: number
      TaxAmount:
        description: Tax amount
        format: double
        type: number
      TotalAmount:
        description: Total amount
        format: double
        type: number
      TotalWithShipping:
        description: Total amount with shipping
        format: double
        type: number
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  OrderItemApiModel:
    properties:
      Cost:
        description: Work item cost
        format: double
        type: number
      Description:
        description: General description
        type: string
      ProductItemId:
        description: Foreign key product item id
        format: int32
        type: integer
      Quantity:
        description: Work item quantity
        format: double
        type: number
      ReferenceId:
        description: Order SKU
        type: string
      SubTotalAmount:
        description: Subtotal amount of product
        format: double
        type: number
      TaxAmount:
        description: Tax amount
        format: double
        type: number
      TaxId:
        description: Foreign key Tax id
        format: int32
        type: integer
      TaxPercentage:
        description: Tax percentage
        format: double
        type: number
      TotalAmount:
        description: Total amount of product
        format: double
        type: number
      WorkTypeId:
        description: Foreign key work type id
        format: int32
        type: integer
    type: object
  OrderShippingDetailsApiModel:
    properties:
      Address:
        description: Client street and number
        type: string
      CountryId:
        description: Client country id
        format: int32
        type: integer
      Email:
        description: Client email
        type: string
      Name:
        description: Client name
        type: string
      PhoneNumber:
        description: Client phone number
        type: string
    type: object
  PaymentGatewayDetailsApiModel:
    properties:
      Name:
        description: Name of the payment gateway
        type: string
      SupportedCurrencies:
        description: List of supported currencies.
        items:
          $ref: '#/definitions/CurrencyApiModel'
        type: array
    type: object
  ProductAttachmentApiModel:
    properties:
      Id:
        description: Product attachment id
        format: int32
        type: integer
      Link:
        description: Link to the file
        type: string
      ObfuscatedFileName:
        description: Hashed file name to avoid url wildguessing
        type: string
      OriginalFileName:
        description: Name of the file
        type: string
      Size:
        description: File size number in bytes
        format: int64
        type: integer
      Type:
        description: Type of the link (Attached or external)
        enum:
          - External
          - Uploaded
        type: string
    type: object
  ProductCouponApiModel:
    properties:
      Code:
        description: Coupon to apply in order to get the discount
        type: string
      DiscountAmount:
        description: Discount amount
        format: double
        type: number
      DiscountPercentage:
        description: Discount percentage
        format: double
        type: number
      Id:
        description: Product coupon id
        format: int32
        type: integer
      ValidUntil:
        description: Coupon expiration date
        format: date-time
        type: string
    type: object
  ProductCreateApiModel:
    properties:
      AfterPaymentDescription:
        description: After payment description
        type: string
      Attachments:
        description: List of product attachments
        items:
          $ref: '#/definitions/ProductAttachmentApiModel'
        type: array
      Coupons:
        description: List of product coupons
        items:
          $ref: '#/definitions/ProductCouponApiModel'
        type: array
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      Discounts:
        description: List of product discounts
        items:
          $ref: '#/definitions/ProductDiscountApiModel'
        type: array
      Items:
        description: List of product items
        items:
          $ref: '#/definitions/ProductItemApiModel'
        type: array
      Name:
        description: Product alias
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this product
        items:
          $ref: '#/definitions/ProductGatewayApiModel'
        type: array
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Product availability status
        enum:
          - Active
          - NotAvailable
          - Inactive
        type: string
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  ProductDeleteApiModel:
    properties:
      Id:
        description: Id of product to be deleted
        format: int32
        type: integer
    type: object
  ProductDetailsApiModel:
    properties:
      AccessToken:
        description: Product short link
        type: string
      AfterPaymentDescription:
        description: After payment description
        type: string
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this product
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      Id:
        description: Product id
        format: int32
        type: integer
      Name:
        description: Product alias
        type: string
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Product availability status
        enum:
          - Active
          - NotAvailable
          - Inactive
        type: string
      SubTotalAmount:
        description: Subtotal amount of product
        format: double
        type: number
      TotalAmount:
        description: Total amount of product
        format: double
        type: number
      TotalWithShipping:
        description: Total amount of product with shipping
        format: double
        type: number
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  ProductDiscountApiModel:
    properties:
      DiscountAmount:
        description: Discount amount
        format: double
        type: number
      DiscountPercentage:
        description: Discount percentage
        format: double
        type: number
      Id:
        description: Product discount id
        format: int32
        type: integer
      Name:
        description: Name
        type: string
      ValidFrom:
        description: Discount start date
        format: date-time
        type: string
      ValidTo:
        description: Discount expiration date
        format: date-time
        type: string
    type: object
  ProductFullDetailsApiModel:
    properties:
      AccessToken:
        description: Product short link
        type: string
      AfterPaymentDescription:
        description: After payment description
        type: string
      Attachments:
        description: List of product attachments
        items:
          $ref: '#/definitions/ProductAttachmentApiModel'
        type: array
      Coupons:
        description: List of product coupons
        items:
          $ref: '#/definitions/ProductCouponApiModel'
        type: array
      Currency:
        $ref: '#/definitions/CurrencyDetailsApiModel'
        description: The currency related to this product
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      Discounts:
        description: List of product discounts
        items:
          $ref: '#/definitions/ProductDiscountApiModel'
        type: array
      Id:
        description: Product id
        format: int32
        type: integer
      Items:
        description: List of product items
        items:
          $ref: '#/definitions/ProductItemApiModel'
        type: array
      Name:
        description: Product alias
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this product
        items:
          $ref: '#/definitions/ProductGatewayApiModel'
        type: array
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Product availability status
        enum:
          - Active
          - NotAvailable
          - Inactive
        type: string
      SubTotalAmount:
        description: Subtotal amount of product
        format: double
        type: number
      TotalAmount:
        description: Total amount of product
        format: double
        type: number
      TotalWithShipping:
        description: Total amount of product with shipping
        format: double
        type: number
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  ProductGatewayApiModel:
    properties:
      Name:
        description: Payment gateway name
        type: string
    type: object
  ProductItemApiModel:
    properties:
      Cost:
        description: Work item cost
        format: double
        type: number
      Description:
        description: General description
        type: string
      Id:
        description: Product item id
        format: int32
        type: integer
      MinimumQuantity:
        description: Minimum required quantity in order to buy a work item
        format: double
        type: number
      ReferenceId:
        description: Product SKU
        type: string
      SubTotalAmount:
        description: Subtotal amount of product
        format: double
        type: number
      TaxAmount:
        description: Tax amount
        format: double
        type: number
      TaxId:
        description: Foreign key Tax id
        format: int32
        type: integer
      TaxPercentage:
        description: Tax percentage
        format: double
        type: number
      TotalAmount:
        description: Total amount of product
        format: double
        type: number
      WorkTypeId:
        description: Foreign key work type id
        format: int32
        type: integer
    type: object
  ProductUpdateApiModel:
    properties:
      AfterPaymentDescription:
        description: After payment description
        type: string
      Attachments:
        description: List of product attachments
        items:
          $ref: '#/definitions/ProductAttachmentApiModel'
        type: array
      Coupons:
        description: List of product coupons
        items:
          $ref: '#/definitions/ProductCouponApiModel'
        type: array
      CurrencyId:
        description: Foreign key Currency
        format: int32
        type: integer
      Description:
        description: Product description
        type: string
      Discounts:
        description: List of product discounts
        items:
          $ref: '#/definitions/ProductDiscountApiModel'
        type: array
      Id:
        description: Product id
        format: int32
        type: integer
      Items:
        description: List of product items
        items:
          $ref: '#/definitions/ProductItemApiModel'
        type: array
      Name:
        description: Product alias
        type: string
      PaymentGateways:
        description: List of enabled payment gateways for this product
        items:
          $ref: '#/definitions/ProductGatewayApiModel'
        type: array
      ShippingAmount:
        description: Cost for shipping the product
        format: double
        type: number
      ShippingDescription:
        description: Client instructions for shipping
        type: string
      Status:
        description: Product availability status
        enum:
          - Active
          - NotAvailable
          - Inactive
        type: string
      WhatHappensNextDescription:
        description: What happens next description
        type: string
    type: object
  QueryOptions:
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
    type: object
  SearchRequest:
    properties:
      Order:
        enum:
          - None
          - Asc
          - Desc
        type: string
      OrderBy:
        type: string
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      Query:
        type: string
    type: object
  SendInvoiceToAccountantApiModel:
    properties:
      Id:
        description: Id of the invoice
        format: int32
        type: integer
    type: object
  SendInvoiceToClientApiModel:
    properties:
      Id:
        description: Id of the invoice
        format: int32
        type: integer
      InvoiceId:
        description: Id of the invoice
        format: int32
        type: integer
      Message:
        description: Message to be embedded in the email
        type: string
    type: object
  TaxCreateApiModel:
    properties:
      Name:
        description: Name of the task
        type: string
      Percentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
    type: object
  TaxDeleteApiModel:
    properties:
      Id:
        description: Id of tax to be deleted
        format: int32
        type: integer
    type: object
  TaxDetailsApiModel:
    properties:
      CreatedOn:
        description: Date of creation
        format: date-time
        type: string
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the task
        type: string
      Percentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
    type: object
  TaxUpdateApiModel:
    properties:
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the task
        type: string
      Percentage:
        description: 'Task percentage. Ex: 18%'
        format: double
        type: number
    type: object
  UILanguageDetailsApiModel:
    properties:
      Id:
        description: Entity id
        format: int32
        type: integer
      Name:
        description: Name of the country
        type: string
      UiCulture:
        description: Ui culture options
        type: string
    type: object
  WorkTypeCreateApiModel:
    properties:
      Title:
        description: 'Indicates the title of of the work type (Logo design, development...)'
        type: string
    type: object
  WorkTypeDeleteApiModel:
    properties:
      Id:
        description: Id of work type to be deleted
        format: int32
        type: integer
    type: object
  WorkTypeDetailsApiModel:
    properties:
      CreatedOn:
        description: Date of creation
        format: date-time
        type: string
      Id:
        description: Entity id
        format: int32
        type: integer
      Title:
        description: 'Indicates the title of of the work type (Logo design, development...)'
        type: string
    type: object
  WorkTypeUpdateApiModel:
    properties:
      Id:
        description: Entity id
        format: int32
        type: integer
      Title:
        description: 'Indicates the title of of the work type (Logo design, development...)'
        type: string
    type: object
