openapi: 3.0.0
servers:
  - url: https://admob.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The AdMob API allows publishers to programmatically get information about their AdMob account. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: AdMob API
  version: v1beta
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://admob.googleapis.com/$discovery/rest?version=v1beta
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: admob
externalDocs:
  url: https://developers.google.com/admob/api/
tags:
  - name: accounts
paths:
  /v1beta/accounts:
    get:
      description: Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For more information, see https://support.google.com/admob/answer/10243672.
      operationId: admob.accounts.list
      parameters:
        - description: Maximum number of accounts to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPublisherAccountsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{name}:
    get:
      description: Gets information about the specified AdMob publisher account.
      operationId: admob.accounts.get
      parameters:
        - description: "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublisherAccount"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Update the specified mediation group under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.mediationGroups.patch
      parameters:
        - description: "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'List of mediation group fields to be updated. Updates to repeated fields such as items in a list will fully replace the existing value(s) with the new value(s). Updates to individual values in a map can be done by indexing by the key. The following field masks are supported for mediation group updates: - "mediation_group_lines[\"{mediation_group_line_id}\"]" clang-format off - "mediation_group_lines[\"{mediation_group_line_id}\"].ad_unit_mappings[\"{ad_unit_id}\"]" clang-format on - "mediation_group_lines[\"{mediation_group_line_id}\"].cpm_micros" - "mediation_group_lines[\"{mediation_group_line_id}\"].cpm_mode" - "mediation_group_lines[\"{mediation_group_line_id}\"].state" - "mediation_group_lines[\"{mediation_group_line_id}\"].display_name" - "targeting.ad_unit_ids" To update a mediation group with a new mediation group line, use a distinct negative number for the "mediation_group_line_id". For Example: update_mask { paths: "mediation_group_lines[\"123456789012345\"].cpm_micros" }'
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediationGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediationGroup"
          description: Successful response
      tags:
        - accounts
  /v1beta/{name}:stop:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Stop the mediation A/B experiment and choose a variant. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.mediationGroups.mediationAbExperiments.stop
      parameters:
        - description: "Name of the mediation group, the experiment for which to choose a variant for. Example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiments"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StopMediationAbExperimentRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediationAbExperiment"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/adSources:
    get:
      description: List the ad sources.
      operationId: admob.accounts.adSources.list
      parameters:
        - description: "Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdSourcesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{parent}/adUnitMappings:
    get:
      description: List ad unit mappings under the specified AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.adUnits.adUnitMappings.list
      parameters:
        - description: "Required. The parent which owns this collection of ad unit mappings. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible field to filter by is: - "DISPLAY_NAME" Possible filter function is: - `IN`: Used to filter fields that represent a singleton including "DISPLAY_NAME". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, "Test Ad Unit Mapping 1", "Test Ad Unit Mapping 2")'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of ad unit mappings to return. If unspecified or 0, at most 10,000 ad unit mappings will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListAdUnitMappings` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdUnitMappingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create an ad unit mapping under the specific AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.adUnits.adUnitMappings.create
      parameters:
        - description: "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdUnitMapping"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnitMapping"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/adUnitMappings:batchCreate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Batch create the ad unit mappings under the specific AdMob account. The maximum allowed batch size is 100. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.adUnitMappings.batchCreate
      parameters:
        - description: "Required. The AdMob account which owns this collection of ad unit mappings. Format: accounts/{publisher_id} See https://support.google.com/admob/answer/2784578 for instructions on how to find your AdMob publisher ID."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCreateAdUnitMappingsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateAdUnitMappingsResponse"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/adUnits:
    get:
      description: List the ad units under the specified AdMob account.
      operationId: admob.accounts.adUnits.list
      parameters:
        - description: "Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation of a prior `ListAdUnits` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdUnitsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an ad unit under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.adUnits.create
      parameters:
        - description: "Required. Resource name of the account to create the specified ad unit for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdUnit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnit"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/adapters:
    get:
      description: List the adapters of the ad source.
      operationId: admob.accounts.adSources.adapters.list
      parameters:
        - description: "Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdaptersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{parent}/apps:
    get:
      description: List the apps under the specified AdMob account.
      operationId: admob.accounts.apps.list
      parameters:
        - description: "Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListAppsResponse`; indicates that this is a continuation of a prior `ListApps` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an app under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.apps.create
      parameters:
        - description: "Required. Resource name of the account for which the app is being created. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/App"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/campaignReport:generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates Campaign Report based on provided specifications.
      operationId: admob.accounts.campaignReport.generate
      parameters:
        - description: "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateCampaignReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateCampaignReportResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
  /v1beta/{parent}/mediationAbExperiments:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create an A/B testing experiment for a specified AdMob account and a mediation group. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.mediationGroups.mediationAbExperiments.create
      parameters:
        - description: "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}/mediationGroups/{mediation_group_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediationAbExperiment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediationAbExperiment"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/mediationGroups:
    get:
      description: List mediation groups under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.mediationGroups.list
      parameters:
        - description: "Required. Resource name of the account to list mediation groups for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible fields to filter by are: - "AD_SOURCE_IDS" - "AD_UNIT_IDS" - "APP_IDS" - "DISPLAY_NAME" - "FORMAT" - "MEDIATION_GROUP_ID" - "PLATFORM" - "STATE" - "TARGETED_REGION_CODES" Possible filter functions are: - `IN`: Used to filter fields that represent a singleton including "MEDIATION_GROUP_ID", "DISPLAY_NAME", "STATE", "PLATFORM", and "FORMAT". - `CONTAINS_ANY`: Used to filter fields that represent a collection including "AD_SOURCE_IDS", "AD_UNIT_IDS", "APP_IDS", and "TARGETED_REGION_CODES". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, "Test Group 1", "Test Group 2") AND IN(PLATFORM, "ANDROID") AND CONTAINS_ANY(AD_SOURCE_IDS, "5450213213286189855")'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of mediation groups to return. If unspecified or 0, at most 10,000 mediation groups will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListMediationGroupsResponse`; indicates that this is a continuation of a prior `ListMediationGroups` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMediationGroupsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a mediation group under the specific AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.
      operationId: admob.accounts.mediationGroups.create
      parameters:
        - description: "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediationGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediationGroup"
          description: Successful response
      tags:
        - accounts
  /v1beta/{parent}/mediationReport:generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates an AdMob mediation report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.
      operationId: admob.accounts.mediationReport.generate
      parameters:
        - description: "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateMediationReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateMediationReportResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
  /v1beta/{parent}/networkReport:generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.
      operationId: admob.accounts.networkReport.generate
      parameters:
        - description: "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateNetworkReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateNetworkReportResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admob.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admob.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/admob.report
          Oauth2c:
            - https://www.googleapis.com/auth/admob.report
      tags:
        - accounts
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AdSource:
      description: Definition of a mediation ad source.
      properties:
        adSourceId:
          description: ID of this ad source.
          type: string
        name:
          description: "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}"
          type: string
        title:
          description: Display name of this ad source.
          type: string
      type: object
    AdUnit:
      description: Describes an AdMob ad unit.
      properties:
        adFormat:
          description: 'AdFormat of the ad unit. Possible values are as follows: "APP_OPEN" - App Open ad format. "BANNER" - Banner ad format. "BANNER_INTERSTITIAL" - Legacy format that can be used as either banner or interstitial. This format can no longer be created but can be targeted by mediation groups. "INTERSTITIAL" - A full screen ad. Supported ad types are "RICH_MEDIA" and "VIDEO". "NATIVE" - Native ad format. "REWARDED" - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user. Supported ad types are "RICH_MEDIA" (interactive) and video where video can not be excluded. "REWARDED_INTERSTITIAL" - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467.'
          type: string
        adTypes:
          description: 'Ad media type supported by this ad unit. Possible values as follows: "RICH_MEDIA" - Text, image, and other non-video media. "VIDEO" - Video media.'
          items:
            type: string
          type: array
        adUnitId:
          description: "The externally visible ID of the ad unit which can be used to integrate with the AdMob SDK. This is a read only property. Example: ca-app-pub-9876543210987654/0123456789"
          type: string
        appId:
          description: "The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789"
          type: string
        displayName:
          description: The display name of the ad unit as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters.
          type: string
        name:
          description: "Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment} Example: accounts/pub-9876543210987654/adUnits/0123456789"
          type: string
        rewardSettings:
          $ref: "#/components/schemas/AdUnitRewardSettings"
          description: Optional. Settings for a rewarded ad unit. This can be set or unset only when the ad_format is "REWARDED".
      type: object
    AdUnitMapping:
      description: Settings to map an AdMob ad unit to a 3rd party ad unit.
      properties:
        adUnitConfigurations:
          additionalProperties:
            type: string
          description: Settings for the specified ad unit to make an ad request to 3rd party ad network. Key-value pairs with values set by the user for the keys requested by the ad network. Please see https://support.google.com/admob/answer/3245073 for details on how to configure the network settings.
          type: object
        adapterId:
          description: The ID of mediation ad source adapter used by this ad unit mapping. The adapter determines the information needed in the ad_network_settings.
          format: int64
          type: string
        displayName:
          description: Optional. The display name of this ad unit mapping instance.
          type: string
        name:
          description: "Resource name of this ad unit mapping. Format is: accounts/{publisher_id}/adUnits/{ad_unit_id_fragment}/adUnitMappings/{ad_unit_mapping_id} Example: accounts/pub-1234567890123456/adUnits/0123456789/adUnitMappings/987654321"
          type: string
        state:
          description: Output only. The status of this ad unit mapping.
          enum:
            - STATE_UNSPECIFIED
            - ENABLED
          readOnly: true
          type: string
      type: object
    AdUnitRewardSettings:
      description: Settings for a rewarded ad unit.
      properties:
        unitAmount:
          description: Reward amount for this ad unit.
          format: int64
          type: string
        unitType:
          description: Reward item for this ad unit.
          type: string
      type: object
    Adapter:
      description: Describes adapters supported by each mediation ad source. Adapters correspond to a specific SDK implementation of the ad source, and are each associated with a single platform and a list of supported ad unit formats. Adapters may also require setting some configurations to perform ad requests. Configurations can be specified in the AdUnitMapping by setting the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations) key/value pairs. For example, the ad_unit_configurations can be used to pass various IDs to the adapter's third-party SDK.
      properties:
        adapterConfigMetadata:
          description: Output only. Configuration metadata associated with this adapter.
          items:
            $ref: "#/components/schemas/AdapterAdapterConfigMetadata"
          readOnly: true
          type: array
        adapterId:
          description: Output only. ID of this adapter. It is used to set [adapter_id](#AdUnitMapping.adapter_id).
          readOnly: true
          type: string
        formats:
          description: Output only. Indicates the formats of the ad units supported by this adapter.
          items:
            type: string
          readOnly: true
          type: array
        name:
          description: "Output only. Resource name of the adapter. Format is: accounts/{publisher_id}/adSources/{ad_source_id}/adapters/{adapter_id}."
          readOnly: true
          type: string
        platform:
          description: "Output only. Mobile application platform supported by this adapter. Supported values are: IOS, ANDROID, WINDOWS_PHONE"
          readOnly: true
          type: string
        title:
          description: Output only. The display name of this adapter.
          readOnly: true
          type: string
      type: object
    AdapterAdapterConfigMetadata:
      description: Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations associated with AdUnitMappings for the this adapter.
      properties:
        adapterConfigMetadataId:
          description: This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations).
          type: string
        adapterConfigMetadataLabel:
          description: Name of the adapter configuration metadata.
          type: string
        isRequired:
          description: Whether this metadata is required for configuring the AdUnitMappings.
          type: boolean
      type: object
    App:
      description: "Describes an AdMob app for a specific platform (For example: Android or iOS)."
      properties:
        appApprovalState:
          description: Output only. The approval state for the app. The field is read-only.
          enum:
            - APP_APPROVAL_STATE_UNSPECIFIED
            - ACTION_REQUIRED
            - IN_REVIEW
            - APPROVED
          readOnly: true
          type: string
        appId:
          description: "The externally visible ID of the app which can be used to integrate with the AdMob SDK. This is a read only property. Example: ca-app-pub-9876543210987654~0123456789"
          type: string
        linkedAppInfo:
          $ref: "#/components/schemas/AppLinkedAppInfo"
          description: Immutable. The information for an app that is linked to an app store. This field is present if and only if the app is linked to an app store.
        manualAppInfo:
          $ref: "#/components/schemas/AppManualAppInfo"
          description: The information for an app that is not linked to any app store. After an app is linked, this information is still retrivable. If no name is provided for the app upon creation, a placeholder name will be used.
        name:
          description: "Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example: accounts/pub-9876543210987654/apps/0123456789"
          type: string
        platform:
          description: Describes the platform of the app. Limited to "IOS" and "ANDROID".
          type: string
      type: object
    AppLinkedAppInfo:
      description: Information from the app store if the app is linked to an app store.
      properties:
        androidAppStores:
          description: Optional. The app store information for published Android apps. This field is only used for apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is the Google Play App store. This field can be updated after app is created. If the app is not published, this field will not be included in the response.
          items:
            enum:
              - ANDROID_APP_STORE_UNSPECIFIED
              - GOOGLE_PLAY_APP_STORE
              - AMAZON_APP_STORE
              - OPPO_APP_STORE
              - SAMSUNG_APP_STORE
              - VIVO_APP_STORE
              - XIAOMI_APP_STORE
            type: string
          type: array
        appStoreId:
          description: 'The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: "com.example.myapp". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example "105169111". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked.'
          type: string
        displayName:
          description: Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store.
          readOnly: true
          type: string
      type: object
    AppManualAppInfo:
      description: "Information provided for manual apps which are not linked to an application store (Example: Google Play, App Store)."
      properties:
        displayName:
          description: The display name of the app as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters.
          type: string
      type: object
    BatchCreateAdUnitMappingsRequest:
      description: Request to create a batch of ad unit mappings under the specific AdMob account.
      properties:
        requests:
          description: Required. The request message specifying the ad unit mappings to create. A maximum of 100 ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed 100, the entire request will be rejected and no ad unit mappings will be created.
          items:
            $ref: "#/components/schemas/CreateAdUnitMappingRequest"
          type: array
      type: object
    BatchCreateAdUnitMappingsResponse:
      description: Response containing a batch of created ad unit mappings.
      properties:
        adUnitMappings:
          description: The Ad units mappings created under the requested account.
          items:
            $ref: "#/components/schemas/AdUnitMapping"
          type: array
      type: object
    CampaignReportSpec:
      description: 'The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS and CLICKS sliced by CAMPAIGN_ID can look like the following example: { "date_range": { "start_date": {"year": 2021, "month": 12, "day": 1}, "end_date": {"year": 2021, "month": 12, "day": 30} }, "dimensions": ["CAMPAIGN_ID"], "metrics": ["IMPRESSIONS", "CLICKS"], }'
      properties:
        dateRange:
          $ref: "#/components/schemas/DateRange"
          description: The date range for which the report is generated. The max range is 30 days.
        dimensions:
          description: List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.
          items:
            enum:
              - DIMENSION_UNSPECIFIED
              - DATE
              - CAMPAIGN_ID
              - CAMPAIGN_NAME
              - AD_ID
              - AD_NAME
              - PLACEMENT_ID
              - PLACEMENT_NAME
              - PLACEMENT_PLATFORM
              - COUNTRY
              - FORMAT
            type: string
          type: array
        languageCode:
          description: Language used for any localized text, such as certain applicable dimension values. The language tag is defined in the IETF BCP47. Defaults to 'en-US' if unspecified or invalid.
          type: string
        metrics:
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            enum:
              - METRIC_UNSPECIFIED
              - IMPRESSIONS
              - CLICKS
              - CLICK_THROUGH_RATE
              - INSTALLS
              - ESTIMATED_COST
              - AVERAGE_CPI
              - INTERACTIONS
            type: string
          type: array
      type: object
    CreateAdUnitMappingRequest:
      description: Request to create an ad unit mapping under the specific AdMob account and ad unit.
      properties:
        adUnitMapping:
          $ref: "#/components/schemas/AdUnitMapping"
          description: Required. The ad unit mapping to create.
        parent:
          description: "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}"
          type: string
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    DateRange:
      description: Specification of a single date range. Both dates are inclusive.
      properties:
        endDate:
          $ref: "#/components/schemas/Date"
          description: End date of the date range, inclusive. Must be greater than or equal to the start date.
        startDate:
          $ref: "#/components/schemas/Date"
          description: Start date of the date range, inclusive. Must be less than or equal to the end date.
      type: object
    GenerateCampaignReportRequest:
      description: Request to generate campaign report.
      properties:
        reportSpec:
          $ref: "#/components/schemas/CampaignReportSpec"
          description: Campaign report specification.
      type: object
    GenerateCampaignReportResponse:
      description: Campaign Report API response.
      properties:
        rows:
          description: The campaign report data from the specified publisher. At most 100000 rows will be returned from the API.
          items:
            $ref: "#/components/schemas/ReportRow"
          type: array
      type: object
    GenerateMediationReportRequest:
      description: Request to generate an AdMob mediation report.
      properties:
        reportSpec:
          $ref: "#/components/schemas/MediationReportSpec"
          description: Network report specification.
      type: object
    GenerateMediationReportResponse:
      description: 'The streaming response for the AdMob mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ "header": { "date_range": { "start_date": {"year": 2018, "month": 9, "day": 1}, "end_date": {"year": 2018, "month": 9, "day": 1} }, "localization_settings": { "currency_code": "USD", "language_code": "en-US" } } }, { "row": { "dimension_values": { "DATE": {"value": "20180918"}, "APP": { "value": "ca-app-pub-8123415297019784~1001342552", "display_label": "My app name!" } }, "metric_values": { "ESTIMATED_EARNINGS": {"decimal_value": "1324746"} } } }, { "footer": {"matching_row_count": 1} }]'
      properties:
        footer:
          $ref: "#/components/schemas/ReportFooter"
          description: Additional information about the generated report, such as warnings about the data.
        header:
          $ref: "#/components/schemas/ReportHeader"
          description: Report generation settings that describes the report contents, such as the report date range and localization settings.
        row:
          $ref: "#/components/schemas/ReportRow"
          description: Actual report data.
      type: object
    GenerateNetworkReportRequest:
      description: Request to generate an AdMob Network report.
      properties:
        reportSpec:
          $ref: "#/components/schemas/NetworkReportSpec"
          description: Network report specification.
      type: object
    GenerateNetworkReportResponse:
      description: 'The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ "header": { "dateRange": { "startDate": {"year": 2018, "month": 9, "day": 1}, "endDate": {"year": 2018, "month": 9, "day": 1} }, "localizationSettings": { "currencyCode": "USD", "languageCode": "en-US" } } }, { "row": { "dimensionValues": { "DATE": {"value": "20180918"}, "APP": { "value": "ca-app-pub-8123415297019784~1001342552", displayLabel: "My app name!" } }, "metricValues": { "ESTIMATED_EARNINGS": {"microsValue": 6500000} } } }, { "footer": {"matchingRowCount": 1} }]'
      properties:
        footer:
          $ref: "#/components/schemas/ReportFooter"
          description: Additional information about the generated report, such as warnings about the data.
        header:
          $ref: "#/components/schemas/ReportHeader"
          description: Report generation settings that describes the report contents, such as the report date range and localization settings.
        row:
          $ref: "#/components/schemas/ReportRow"
          description: Actual report data.
      type: object
    ListAdSourcesResponse:
      description: Response for the ListAdSourcesRequest.
      properties:
        adSources:
          description: The ad sources.
          items:
            $ref: "#/components/schemas/AdSource"
          type: array
        nextPageToken:
          description: Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    ListAdUnitMappingsResponse:
      description: Response for the ListAdUnitMappingsRequest.
      properties:
        adUnitMappings:
          description: The ad unit mappings from the specified account and ad unit.
          items:
            $ref: "#/components/schemas/AdUnitMapping"
          type: array
        nextPageToken:
          description: Used to set the `page_token` in the `ListAdUnitMappingsRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    ListAdUnitsResponse:
      description: Response for the ad units list request.
      properties:
        adUnits:
          description: The resulting ad units for the requested account.
          items:
            $ref: "#/components/schemas/AdUnit"
          type: array
        nextPageToken:
          description: If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`.
          type: string
      type: object
    ListAdaptersResponse:
      description: Response for the ListAdaptersRequest.
      properties:
        adapters:
          description: The adapter.
          items:
            $ref: "#/components/schemas/Adapter"
          type: array
        nextPageToken:
          description: Used to set the `page_token` in the `ListAdapterRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    ListAppsResponse:
      description: Response for the apps list request.
      properties:
        apps:
          description: The resulting apps for the requested account.
          items:
            $ref: "#/components/schemas/App"
          type: array
        nextPageToken:
          description: If not empty, indicates that there may be more apps for the request; this value should be passed in a new `ListAppsRequest`.
          type: string
      type: object
    ListMediationGroupsResponse:
      description: Response for the mediation groups list request.
      properties:
        mediationGroups:
          description: The resulting mediation groups for the requested account.
          items:
            $ref: "#/components/schemas/MediationGroup"
          type: array
        nextPageToken:
          description: If not empty, indicates that there may be more mediation groups for the request; this value should be passed in a new `ListMediationGroupsRequest`.
          type: string
      type: object
    ListPublisherAccountsResponse:
      description: Response for the publisher account list request.
      properties:
        account:
          description: Publisher that the client credentials can access.
          items:
            $ref: "#/components/schemas/PublisherAccount"
          type: array
        nextPageToken:
          description: If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.
          type: string
      type: object
    LocalizationSettings:
      description: Localization settings for reports, such as currency and language. It affects how metrics are calculated.
      properties:
        currencyCode:
          description: Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified.
          type: string
        languageCode:
          description: Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.
          type: string
      type: object
    MediationAbExperiment:
      description: The mediation A/B experiment.
      properties:
        controlMediationLines:
          description: Output only. The experiment mediation lines for control. They are inherited from the parent mediation group. It is an output only field.
          items:
            $ref: "#/components/schemas/MediationAbExperimentExperimentMediationLine"
          readOnly: true
          type: array
        displayName:
          description: The display name for the mediation A/B experiment.
          type: string
        endTime:
          description: Output only. The time at which the experiment was ended or target to end (in UTC).
          format: google-datetime
          readOnly: true
          type: string
        experimentId:
          description: Output only. Unique identifier for the mediation A/B experiment. It is an output only property.
          readOnly: true
          type: string
        mediationGroupId:
          description: Output only. The mediation group id this experiment belongs to. This can be used for filtering the experiments in the list experiments API.
          readOnly: true
          type: string
        name:
          description: "Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/ {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiment/12345"
          type: string
        startTime:
          description: Output only. The time at which the experiment was started (in UTC).
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: Output only. The state of the experiment. It is an output only field.
          enum:
            - EXPERIMENT_STATE_UNSPECIFIED
            - EXPIRED
            - RUNNING
            - ENDED
          readOnly: true
          type: string
        treatmentMediationLines:
          description: The experiment mediation lines created for the treatment. They will be used for serving when the experiment status is RUNNING.
          items:
            $ref: "#/components/schemas/MediationAbExperimentExperimentMediationLine"
          type: array
        treatmentTrafficPercentage:
          description: The percentage of the mediation A/B experiment traffic that will be send to the treatment (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details.
          format: int64
          type: string
        variantLeader:
          description: Output only. The variant leader for the experiment according to some key metrics.
          enum:
            - VARIANT_LEADER_UNSPECIFIED
            - CONTROL
            - TREATMENT
            - INSUFFICIENT_DATA
            - TOO_EARLY_TO_CALL
            - NO_VARIANT_LEADER
          readOnly: true
          type: string
      type: object
    MediationAbExperimentExperimentMediationLine:
      description: The mediation group line for the experiment. It will be used for serving during the run of the experiment.
      properties:
        mediationGroupLine:
          $ref: "#/components/schemas/MediationGroupMediationGroupLine"
          description: The mediation group line used by the experiment.
      type: object
    MediationGroup:
      description: Describes an AdMob mediation group.
      properties:
        displayName:
          description: User provided name for the mediation group. The maximum length allowed is 120 characters.
          type: string
        mediationAbExperimentState:
          description: Output only. The state of the mediation a/b experiment that belongs to this mediation group.
          enum:
            - EXPERIMENT_STATE_UNSPECIFIED
            - RUNNING
            - NOT_RUNNING
          readOnly: true
          type: string
        mediationGroupId:
          description: 'The ID of the mediation group. Example: "0123456789". This is a read only property.'
          type: string
        mediationGroupLines:
          additionalProperties:
            $ref: "#/components/schemas/MediationGroupMediationGroupLine"
          description: The mediation lines used for serving for this mediation group. Key is the ID of the mediation group line. For creation, use distinct negative values as placeholder.
          type: object
        name:
          description: "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789"
          type: string
        state:
          description: The status of the mediation group. Only enabled mediation groups will be served.
          enum:
            - STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
          type: string
        targeting:
          $ref: "#/components/schemas/MediationGroupTargeting"
          description: Set of criteria targeted by this mediation group, such as ad units and geo locations.
      type: object
    MediationGroupMediationGroupLine:
      description: Settings for an ad network used by a mediation group.
      properties:
        adSourceId:
          description: The ID of the ad source this mediation line is associated with.
          type: string
        adUnitMappings:
          additionalProperties:
            type: string
          description: References of the ad unit mappings for each ad unit associated with this mediation line. Key is the ad unit ID, value is resource name of the ad unit mapping. For mediation lines where the ad source id is the AdMob Network, ad unit mappings will be ignored.
          type: object
        cpmMicros:
          description: The CPM for this allocation line. $0.01 is the minimum allowed amount. For LIVE CPM modes, the default amount is $0.01. This value is ignored if `cpm_mode` is `LIVE`. **Warning:** "USD" is the only supported currency at the moment. The unit is in micros.
          format: int64
          type: string
        cpmMode:
          description: Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE` are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com) if you wish to create or update to other cpm modes.
          enum:
            - CPM_MODE_UNSPECIFIED
            - LIVE
            - MANUAL
            - ANO
          type: string
        displayName:
          description: User-provided label for this mediation line. The maximum length allowed is 255 characters.
          type: string
        experimentVariant:
          description: Output only. The Mediation A/B experiment variant to which the mediation group line belongs to.
          enum:
            - VARIANT_UNSPECIFIED
            - VARIANT_A
            - VARIANT_B
            - ORIGINAL
          readOnly: true
          type: string
        id:
          description: The 16 digit ID for this mediation line e.g. 0123456789012345. When creating a new mediation group line, use a distinct negative integer as the ID place holder.
          type: string
        state:
          description: The status of the mediation group line. Only enabled mediation group lines will be served.
          enum:
            - STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
            - REMOVED
          type: string
      type: object
    MediationGroupTargeting:
      description: Set of criteria targeted by this mediation group. For example, a mediation group can target specific ad unit IDs, platform, format and geo location.
      properties:
        adUnitIds:
          description: 'Ad units targeted by this mediation group. Example: "ca-app-pub-1234/8790".'
          items:
            type: string
          type: array
        excludedRegionCodes:
          description: The Unicode country/region code (CLDR) of a location, such as "US". Unset if this mediation group does not exclude any region.
          items:
            type: string
          type: array
        format:
          description: 'Ad format targeted by this mediation group. Examples: "banner", "native".'
          type: string
        idfaTargeting:
          description: The parameter can be used to target ad requests based on the availability of the IDFA. If set to ALL, the mediation group applies to all ad requests (with or without IDFA). If set to AVAILABLE, the mediation group applies to ad requests with IDFA. If set to NOT_AVAILABLE, the mediation group applies to ad requests without IDFA. Doesn't need to be specified for an ANDROID device.
          enum:
            - IDFA_TARGETING_UNSPECIFIED
            - ALL
            - AVAILABLE
            - NOT_AVAILABLE
          type: string
        platform:
          description: 'Describes the platform of the app. Examples: "IOS", "Android".'
          type: string
        targetedRegionCodes:
          description: The Unicode country/region code (CLDR) of a location, such as "US". Unset if this mediation group targets all available regions. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag.
          items:
            type: string
          type: array
      type: object
    MediationReportSpec:
      description: "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;"
      properties:
        dateRange:
          $ref: "#/components/schemas/DateRange"
          description: The date range for which the report is generated.
        dimensionFilters:
          description: Describes which report rows to match based on their dimension values.
          items:
            $ref: "#/components/schemas/MediationReportSpecDimensionFilter"
          type: array
        dimensions:
          description: List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.
          items:
            enum:
              - DIMENSION_UNSPECIFIED
              - DATE
              - MONTH
              - WEEK
              - AD_SOURCE
              - AD_SOURCE_INSTANCE
              - AD_UNIT
              - APP
              - MEDIATION_GROUP
              - COUNTRY
              - FORMAT
              - PLATFORM
              - MOBILE_OS_VERSION
              - GMA_SDK_VERSION
              - APP_VERSION_NAME
              - SERVING_RESTRICTION
            type: string
          type: array
        localizationSettings:
          $ref: "#/components/schemas/LocalizationSettings"
          description: Localization settings of the report.
        maxReportRows:
          description: Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.
          format: int32
          type: integer
        metrics:
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            enum:
              - METRIC_UNSPECIFIED
              - AD_REQUESTS
              - CLICKS
              - ESTIMATED_EARNINGS
              - IMPRESSIONS
              - IMPRESSION_CTR
              - MATCHED_REQUESTS
              - MATCH_RATE
              - OBSERVED_ECPM
            type: string
          type: array
        sortConditions:
          description: Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.
          items:
            $ref: "#/components/schemas/MediationReportSpecSortCondition"
          type: array
        timeZone:
          description: A report time zone. Accepts an IANA TZ name values, such as "America/Los_Angeles." If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The "America/Los_Angeles" is the only supported value at the moment.
          type: string
      type: object
    MediationReportSpecDimensionFilter:
      description: Describes which report rows to match based on their dimension values.
      properties:
        dimension:
          description: Applies the filter criterion to the specified dimension.
          enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_SOURCE
            - AD_SOURCE_INSTANCE
            - AD_UNIT
            - APP
            - MEDIATION_GROUP
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
          type: string
        matchesAny:
          $ref: "#/components/schemas/StringList"
          description: Matches a row if its value for the specified dimension is in one of the values specified in this condition.
      type: object
    MediationReportSpecSortCondition:
      description: Sorting direction to be applied on a dimension or a metric.
      properties:
        dimension:
          description: Sort by the specified dimension.
          enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_SOURCE
            - AD_SOURCE_INSTANCE
            - AD_UNIT
            - APP
            - MEDIATION_GROUP
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
          type: string
        metric:
          description: Sort by the specified metric.
          enum:
            - METRIC_UNSPECIFIED
            - AD_REQUESTS
            - CLICKS
            - ESTIMATED_EARNINGS
            - IMPRESSIONS
            - IMPRESSION_CTR
            - MATCHED_REQUESTS
            - MATCH_RATE
            - OBSERVED_ECPM
          type: string
        order:
          description: Sorting order of the dimension or metric.
          enum:
            - SORT_ORDER_UNSPECIFIED
            - ASCENDING
            - DESCENDING
          type: string
      type: object
    NetworkReportSpec:
      description: "The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the 'US' and 'CN' countries can look like the following example: { 'date_range': { 'start_date': {'year': 2021, 'month': 9, 'day': 1}, 'end_date': {'year': 2021, 'month': 9, 'day': 30} }, 'dimensions': ['DATE', 'APP', 'COUNTRY'], 'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'], 'dimension_filters': [ { 'dimension': 'COUNTRY', 'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]} } ], 'sort_conditions': [ {'dimension':'APP', order: 'ASCENDING'}, {'metric':'CLICKS', order: 'DESCENDING'} ], 'localization_settings': { 'currency_code': 'USD', 'language_code': 'en-US' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;"
      properties:
        dateRange:
          $ref: "#/components/schemas/DateRange"
          description: The date range for which the report is generated.
        dimensionFilters:
          description: Describes which report rows to match based on their dimension values.
          items:
            $ref: "#/components/schemas/NetworkReportSpecDimensionFilter"
          type: array
        dimensions:
          description: List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.
          items:
            enum:
              - DIMENSION_UNSPECIFIED
              - DATE
              - MONTH
              - WEEK
              - AD_UNIT
              - APP
              - AD_TYPE
              - COUNTRY
              - FORMAT
              - PLATFORM
              - MOBILE_OS_VERSION
              - GMA_SDK_VERSION
              - APP_VERSION_NAME
              - SERVING_RESTRICTION
            type: string
          type: array
        localizationSettings:
          $ref: "#/components/schemas/LocalizationSettings"
          description: Localization settings of the report.
        maxReportRows:
          description: Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.
          format: int32
          type: integer
        metrics:
          description: List of metrics of the report. A report must specify at least one metric.
          items:
            enum:
              - METRIC_UNSPECIFIED
              - AD_REQUESTS
              - CLICKS
              - ESTIMATED_EARNINGS
              - IMPRESSIONS
              - IMPRESSION_CTR
              - IMPRESSION_RPM
              - MATCHED_REQUESTS
              - MATCH_RATE
              - SHOW_RATE
            type: string
          type: array
        sortConditions:
          description: Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.
          items:
            $ref: "#/components/schemas/NetworkReportSpecSortCondition"
          type: array
        timeZone:
          description: A report time zone. Accepts an IANA TZ name values, such as "America/Los_Angeles." If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The "America/Los_Angeles" is the only supported value at the moment.
          type: string
      type: object
    NetworkReportSpecDimensionFilter:
      description: Describes which report rows to match based on their dimension values.
      properties:
        dimension:
          description: Applies the filter criterion to the specified dimension.
          enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_UNIT
            - APP
            - AD_TYPE
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
          type: string
        matchesAny:
          $ref: "#/components/schemas/StringList"
          description: Matches a row if its value for the specified dimension is in one of the values specified in this condition.
      type: object
    NetworkReportSpecSortCondition:
      description: Sorting direction to be applied on a dimension or a metric.
      properties:
        dimension:
          description: Sort by the specified dimension.
          enum:
            - DIMENSION_UNSPECIFIED
            - DATE
            - MONTH
            - WEEK
            - AD_UNIT
            - APP
            - AD_TYPE
            - COUNTRY
            - FORMAT
            - PLATFORM
            - MOBILE_OS_VERSION
            - GMA_SDK_VERSION
            - APP_VERSION_NAME
            - SERVING_RESTRICTION
          type: string
        metric:
          description: Sort by the specified metric.
          enum:
            - METRIC_UNSPECIFIED
            - AD_REQUESTS
            - CLICKS
            - ESTIMATED_EARNINGS
            - IMPRESSIONS
            - IMPRESSION_CTR
            - IMPRESSION_RPM
            - MATCHED_REQUESTS
            - MATCH_RATE
            - SHOW_RATE
          type: string
        order:
          description: Sorting order of the dimension or metric.
          enum:
            - SORT_ORDER_UNSPECIFIED
            - ASCENDING
            - DESCENDING
          type: string
      type: object
    PublisherAccount:
      description: A publisher account contains information relevant to the use of this API, such as the time zone used for the reports.
      properties:
        currencyCode:
          description: Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion.
          type: string
        name:
          description: Resource name of this account. Format is accounts/{publisher_id}.
          type: string
        publisherId:
          description: The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890).
          type: string
        reportingTimeZone:
          description: The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, "America/Los_Angeles".
          type: string
      type: object
    ReportFooter:
      description: Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response.
      properties:
        matchingRowCount:
          description: "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response."
          format: int64
          type: string
        warnings:
          description: Warnings associated with generation of the report.
          items:
            $ref: "#/components/schemas/ReportWarning"
          type: array
      type: object
    ReportHeader:
      description: Groups data helps to treat the generated report. Always sent as a first message in the stream response.
      properties:
        dateRange:
          $ref: "#/components/schemas/DateRange"
          description: The date range for which the report is generated. This is identical to the range specified in the report request.
        localizationSettings:
          $ref: "#/components/schemas/LocalizationSettings"
          description: Localization settings of the report. This is identical to the settings in the report request.
        reportingTimeZone:
          description: The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, "America/Los_Angeles".
          type: string
      type: object
    ReportRow:
      description: A row of the returning report.
      properties:
        dimensionValues:
          additionalProperties:
            $ref: "#/components/schemas/ReportRowDimensionValue"
          description: Map of dimension values in a row, with keys as enum name of the dimensions.
          type: object
        metricValues:
          additionalProperties:
            $ref: "#/components/schemas/ReportRowMetricValue"
          description: Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it.
          type: object
      type: object
    ReportRowDimensionValue:
      description: Representation of a dimension value.
      properties:
        displayLabel:
          description: The localized string representation of the value. If unspecified, the display label should be derived from the value.
          type: string
        value:
          description: Dimension value in the format specified in the report's spec Dimension enum.
          type: string
      type: object
    ReportRowMetricValue:
      description: Representation of a metric value.
      properties:
        doubleValue:
          description: Double precision (approximate) decimal values. Rates are from 0 to 1.
          format: double
          type: number
        integerValue:
          description: Metric integer value.
          format: int64
          type: string
        microsValue:
          description: Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.
          format: int64
          type: string
      type: object
    ReportWarning:
      description: Warnings associated with generation of the report.
      properties:
        description:
          description: Describes the details of the warning message, in English.
          type: string
        type:
          description: Type of the warning.
          enum:
            - TYPE_UNSPECIFIED
            - DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE
            - DATA_DELAYED
            - OTHER
            - REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY
          type: string
      type: object
    StopMediationAbExperimentRequest:
      description: Request to end the mediation A/B experiment and choose a winning variant.
      properties:
        variantChoice:
          description: The choice for the winning variant.
          enum:
            - VARIANT_CHOICE_UNSPECIFIED
            - VARIANT_CHOICE_A
            - VARIANT_CHOICE_B
          type: string
      type: object
    StringList:
      description: List of string values.
      properties:
        values:
          description: The string values.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/admob.readonly: See your AdMob data
            https://www.googleapis.com/auth/admob.report: See your AdMob data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/admob.readonly: See your AdMob data
            https://www.googleapis.com/auth/admob.report: See your AdMob data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
