openapi: 3.0.0
servers:
  - url: 'https://run.import.io/'
info:
  title: import.io
  version: '1.0'
  x-apisguru-categories:
    - tools
  x-logo:
    backgroundColor: '#F6248E'
    url: 'http://api.docs.import.io/images/import-io-logo.svg'
  x-origin:
    - format: swagger
      url: 'http://api.docs.import.io/run/swagger.json'
      version: '2.0'
  x-providerName: import.io
  x-serviceName: run
externalDocs:
  url: 'http://api.docs.import.io/'
tags:
  - description: APIs that exist on the run.import.io endpoint
    name: run
  - description: APIs that exist on the data.import.io endpoint
    name: data
  - description: APIs that exist on the extraction.import.io endpoint
    name: extraction
  - description: APIs that exist on the rss.import.io endpoint
    name: rss
  - description: APIs that exist on the store.import.io endpoint
    name: store
  - description: APIs that exist on the schedule.import.io endpoint
    name: schedule
  - name: run.import.io
  - name: data.import.io
  - name: rss.import.io
  - name: extraction.import.io
  - name: schedule.import.io
  - name: store.import.io
paths:
  '/extractor/{extractorId}/cancel':
    post:
      parameters:
        - description: extractorId
          in: path
          name: extractorId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                additionalProperties:
                  type: string
                type: object
        '400':
          description: No in progress crawl found to cancel.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: 'User doesn''t own this extractor, or doesn''t have a valid session.'
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Unable to find supplied extractor ID.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
      security:
        - api_key: []
      summary: Cancel an existing crawl.
      tags:
        - run.import.io
  '/extractor/{extractorId}/start':
    post:
      parameters:
        - description: the id of the extractor to start crawling with
          in: path
          name: extractorId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                additionalProperties:
                  type: string
                type: object
        '400':
          description: Extractor is archived or a crawl already in progress.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
        '401':
          description: 'User doesn''t own this extractor, or doesn''t have a valid session.'
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
        '404':
          description: Unable to find supplied extractor ID.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
      security:
        - api_key: []
      summary: Launch a crawl from an extractor that a user owns.
      tags:
        - run.import.io
components:
  schemas:
    APIError:
      properties:
        code:
          description: Internal error code
          format: int
          type: integer
        error:
          description: (deprecated) A message containing a brief description of the error
          type: string
        message:
          description: A message containing a brief description of the error
          type: string
      type: object
    CrawlRun:
      properties:
        extractorId:
          type: string
        failedUrlCount:
          format: int32
          type: integer
        guid:
          type: string
        rowCount:
          format: int32
          type: integer
        runtimeConfigId:
          type: string
        startedAt:
          format: int64
          type: integer
        state:
          type: string
        stoppedAt:
          format: int64
          type: integer
        successUrlCount:
          format: int32
          type: integer
        totalUrlCount:
          format: int32
          type: integer
        urlListId:
          type: string
      type: object
    ObjectStoreSearchResult:
      properties:
        hits:
          properties:
            hits:
              items:
                properties:
                  _id:
                    type: string
                  _score:
                    type: integer
                  _type:
                    type: string
                  fields:
                    $ref: '#/components/schemas/CrawlRun'
                type: object
              type: array
            total:
              type: integer
          type: object
        timed_out:
          type: boolean
        took:
          type: integer
      type: object
    QueryResponse:
      properties:
        error:
          type: string
        exceptionType:
          type: string
        extractorData:
          type: object
        pageData:
          type: object
        runtimeConfigId:
          type: string
        sequenceNumber:
          format: int32
          type: integer
        timestamp:
          format: int64
          type: integer
        url:
          type: string
      type: object
    Schedule:
      properties:
        extractorId:
          type: string
        interval:
          type: string
        intervalData:
          properties:
            minutes:
              type: string
            time:
              type: string
            type:
              type: string
          type: object
        nextRunAt:
          format: int64
          type: integer
        ownerId:
          type: string
        startTimestamp:
          format: int64
          type: integer
      type: object
    ScheduleRequest:
      properties:
        extractorId:
          example: 00000000-0000-0000-0000-000000000000
          type: string
        interval:
          example: 15 * * * *
          type: string
        startTimestamp:
          example: 1485448509727
          format: int64
          type: integer
      required:
        - extractorId
        - interval
      type: object
  securitySchemes:
    api_key:
      in: query
      name: _apikey
      type: apiKey
