swagger: '2.0'
info:
  version: '2015-01-01'
  x-release: v4
  title: Amazon Elasticsearch Service
  description: '<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions" target="_blank">Regions and Endpoints</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: es
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/es/'
host: es.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /2015-01-01/tags:
    post:
      operationId: AddTags
      description: 'Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging" target="_blank"> Tagging Amazon Elasticsearch Service Domains for more information.</a>'
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/serviceSoftwareUpdate/cancel:
    post:
      operationId: CancelElasticsearchServiceSoftwareUpdate
      description: Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelElasticsearchServiceSoftwareUpdateResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelElasticsearchServiceSoftwareUpdateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/domain:
    post:
      operationId: CreateElasticsearchDomain
      description: 'Creates a new Elasticsearch domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains" target="_blank">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '486':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateElasticsearchDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/domain/{DomainName}':
    delete:
      operationId: DeleteElasticsearchDomain
      description: 'Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteElasticsearchDomainRequest'
        - name: DomainName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeElasticsearchDomain
      description: 'Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainRequest'
        - name: DomainName
          type: string
          in: path
          required: true
  /2015-01-01/es/role:
    delete:
      operationId: DeleteElasticsearchServiceRole
      description: 'Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr" target="_blank">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/domain/{DomainName}/config':
    get:
      operationId: DescribeElasticsearchDomainConfig
      description: 'Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainConfigResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainConfigRequest'
        - name: DomainName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: UpdateElasticsearchDomainConfig
      description: 'Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateElasticsearchDomainConfigResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateElasticsearchDomainConfigRequest'
        - name: DomainName
          type: string
          in: path
          required: true
  /2015-01-01/es/domain-info:
    post:
      operationId: DescribeElasticsearchDomains
      description: 'Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}':
    get:
      operationId: DescribeElasticsearchInstanceTypeLimits
      description: ' Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchInstanceTypeLimitsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeElasticsearchInstanceTypeLimitsRequest'
        - name: ElasticsearchVersion
          type: string
          in: path
          required: true
        - name: InstanceType
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/reservedInstanceOfferings:
    get:
      operationId: DescribeReservedElasticsearchInstanceOfferings
      description: Lists available reserved Elasticsearch instance offerings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstanceOfferingsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstanceOfferingsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/reservedInstances:
    get:
      operationId: DescribeReservedElasticsearchInstances
      description: Returns information about reserved Elasticsearch instances for this account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstancesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstancesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/compatibleVersions:
    get:
      operationId: GetCompatibleElasticsearchVersions
      description: ' Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCompatibleElasticsearchVersionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCompatibleElasticsearchVersionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/upgradeDomain/{DomainName}/history':
    get:
      operationId: GetUpgradeHistory
      description: Retrieves the complete history of the last 10 upgrades that were performed on the domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUpgradeHistoryResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUpgradeHistoryRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: DomainName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/upgradeDomain/{DomainName}/status':
    get:
      operationId: GetUpgradeStatus
      description: Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUpgradeStatusResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUpgradeStatusRequest'
        - name: DomainName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/domain:
    get:
      operationId: ListDomainNames
      description: 'Returns the name of all Elasticsearch domains owned by the current user''s account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainNamesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/instanceTypes/{ElasticsearchVersion}':
    get:
      operationId: ListElasticsearchInstanceTypes
      description: List all Elasticsearch instance types that are supported for given ElasticsearchVersion
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListElasticsearchInstanceTypesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListElasticsearchInstanceTypesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: ElasticsearchVersion
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/versions:
    get:
      operationId: ListElasticsearchVersions
      description: List all supported Elasticsearch versions
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListElasticsearchVersionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListElasticsearchVersionsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/tags/:
    get:
      operationId: ListTags
      description: Returns all tags for the given Elasticsearch domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/purchaseReservedInstanceOffering:
    post:
      operationId: PurchaseReservedElasticsearchInstanceOffering
      description: Allows you to purchase reserved Elasticsearch instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseReservedElasticsearchInstanceOfferingResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '484':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '485':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PurchaseReservedElasticsearchInstanceOfferingRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/tags-removal:
    post:
      operationId: RemoveTags
      description: Removes the specified set of tags from the specified Elasticsearch domain.
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/serviceSoftwareUpdate/start:
    post:
      operationId: StartElasticsearchServiceSoftwareUpdate
      description: Schedules a service software update for an Amazon ES domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartElasticsearchServiceSoftwareUpdateResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartElasticsearchServiceSoftwareUpdateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/upgradeDomain:
    post:
      operationId: UpgradeElasticsearchDomain
      description: Allows you to either upgrade your domain or perform an Upgrade eligibility check to a compatible Elasticsearch version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpgradeElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '484':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '485':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpgradeElasticsearchDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsRequest:
    type: object
    required:
      - ARN
      - TagList
    properties:
      ARN:
        $ref: '#/definitions/ARN'
        description: ' Specify the <code>ARN</code> for which you want to add the tags.'
      TagList:
        $ref: '#/definitions/TagList'
        description: ' List of <code>Tag</code> that need to be added for the Elasticsearch domain. '
    description: Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.
  BaseException: {}
  LimitExceededException: {}
  ValidationException: {}
  InternalException: {}
  CancelElasticsearchServiceSoftwareUpdateResponse:
    type: object
    properties:
      ServiceSoftwareOptions:
        $ref: '#/definitions/ServiceSoftwareOptions'
        description: The current status of the Elasticsearch service software update.
    description: The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.
  CancelElasticsearchServiceSoftwareUpdateRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to stop the latest service software update on.
    description: Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.
  ResourceNotFoundException: {}
  CreateElasticsearchDomainResponse:
    type: object
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: 'The status of the newly created Elasticsearch domain. '
    description: The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.
  CreateElasticsearchDomainRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: 'String of format X.Y to specify version for the Elasticsearch domain eg. "1.5" or "2.3". For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains" target="_blank">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.'
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: 'Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. '
      EBSOptions:
        $ref: '#/definitions/EBSOptions'
        description: 'Options to enable, disable and specify the type and size of EBS storage volumes. '
      AccessPolicies:
        $ref: '#/definitions/PolicyDocument'
        description: ' IAM access policy as a JSON-formatted string.'
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptions'
        description: 'Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. '
      VPCOptions:
        $ref: '#/definitions/VPCOptions'
        description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc" target="_blank">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptions'
        description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: Specifies the Encryption At Rest Options.
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptions'
        description: Specifies the NodeToNodeEncryptionOptions.
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptions'
        description: ' Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.'
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptions'
        description: 'Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.'
  DisabledOperationException: {}
  InvalidTypeException: {}
  ResourceAlreadyExistsException: {}
  DeleteElasticsearchDomainResponse:
    type: object
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: The status of the Elasticsearch domain being deleted.
    description: 'The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.'
  DeleteElasticsearchDomainRequest:
    type: object
    properties: {}
    description: Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.
  DescribeElasticsearchDomainResponse:
    type: object
    required:
      - DomainStatus
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: The current status of the Elasticsearch domain.
    description: The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.
  DescribeElasticsearchDomainRequest:
    type: object
    properties: {}
    description: Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.
  DescribeElasticsearchDomainConfigResponse:
    type: object
    required:
      - DomainConfig
    properties:
      DomainConfig:
        $ref: '#/definitions/ElasticsearchDomainConfig'
        description: The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.
    description: The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.
  DescribeElasticsearchDomainConfigRequest:
    type: object
    properties: {}
    description: ' Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.'
  DescribeElasticsearchDomainsResponse:
    type: object
    required:
      - DomainStatusList
    properties:
      DomainStatusList:
        $ref: '#/definitions/ElasticsearchDomainStatusList'
        description: The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.
    description: The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.
  DescribeElasticsearchDomainsRequest:
    type: object
    required:
      - DomainNames
    properties:
      DomainNames:
        $ref: '#/definitions/DomainNameList'
        description: The Elasticsearch domains for which you want information.
    description: 'Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.'
  DescribeElasticsearchInstanceTypeLimitsResponse:
    type: object
    properties:
      LimitsByRole:
        $ref: '#/definitions/LimitsByRole'
    description: ' Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. '
  DescribeElasticsearchInstanceTypeLimitsRequest:
    type: object
    properties: {}
    description: ' Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. '
  DescribeReservedElasticsearchInstanceOfferingsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: Provides an identifier to allow retrieval of paginated results.
      ReservedElasticsearchInstanceOfferings:
        $ref: '#/definitions/ReservedElasticsearchInstanceOfferingList'
        description: List of reserved Elasticsearch instance offerings
    description: Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code>
  DescribeReservedElasticsearchInstanceOfferingsRequest:
    type: object
    properties: {}
    description: Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code>
  DescribeReservedElasticsearchInstancesResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      ReservedElasticsearchInstances:
        $ref: '#/definitions/ReservedElasticsearchInstanceList'
        description: List of reserved Elasticsearch instances.
    description: Container for results from <code>DescribeReservedElasticsearchInstances</code>
  DescribeReservedElasticsearchInstancesRequest:
    type: object
    properties: {}
    description: Container for parameters to <code>DescribeReservedElasticsearchInstances</code>
  GetCompatibleElasticsearchVersionsResponse:
    type: object
    properties:
      CompatibleElasticsearchVersions:
        $ref: '#/definitions/CompatibleElasticsearchVersionsList'
        description: ' A map of compatible Elasticsearch versions returned as part of the <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. '
    description: ' Container for response returned by <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. '
  GetCompatibleElasticsearchVersionsRequest:
    type: object
    properties: {}
    description: ' Container for request parameters to <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. '
  GetUpgradeHistoryResponse:
    type: object
    properties:
      UpgradeHistories:
        $ref: '#/definitions/UpgradeHistoryList'
        description: ' A list of <code> <a>UpgradeHistory</a> </code> objects corresponding to each Upgrade or Upgrade Eligibility Check performed on a domain returned as part of <code> <a>GetUpgradeHistoryResponse</a> </code> object. '
      NextToken:
        $ref: '#/definitions/String'
        description: Pagination token that needs to be supplied to the next call to get the next page of results
    description: ' Container for response returned by <code> <a>GetUpgradeHistory</a> </code> operation. '
  GetUpgradeHistoryRequest:
    type: object
    properties: {}
    description: ' Container for request parameters to <code> <a>GetUpgradeHistory</a> </code> operation. '
  GetUpgradeStatusResponse:
    type: object
    properties:
      UpgradeStep:
        $ref: '#/definitions/UpgradeStep'
        description: ' Represents one of 3 steps that an Upgrade or Upgrade Eligibility Check does through: <ul> <li>PreUpgradeCheck</li> <li>Snapshot</li> <li>Upgrade</li> </ul> '
      StepStatus:
        $ref: '#/definitions/UpgradeStatus'
        description: ' One of 4 statuses that a step can go through returned as part of the <code> <a>GetUpgradeStatusResponse</a> </code> object. The status can take one of the following values: <ul> <li>In Progress</li> <li>Succeeded</li> <li>Succeeded with Issues</li> <li>Failed</li> </ul> '
      UpgradeName:
        $ref: '#/definitions/UpgradeName'
        description: A string that describes the update briefly
    description: ' Container for response returned by <code> <a>GetUpgradeStatus</a> </code> operation. '
  GetUpgradeStatusRequest:
    type: object
    properties: {}
    description: ' Container for request parameters to <code> <a>GetUpgradeStatus</a> </code> operation. '
  ListDomainNamesResponse:
    type: object
    properties:
      DomainNames:
        $ref: '#/definitions/DomainInfoList'
        description: List of Elasticsearch domain names.
    description: The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.
  ListElasticsearchInstanceTypesResponse:
    type: object
    properties:
      ElasticsearchInstanceTypes:
        $ref: '#/definitions/ElasticsearchInstanceTypeList'
        description: ' List of instance types supported by Amazon Elasticsearch service for given <code> <a>ElasticsearchVersion</a> </code> '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'In case if there are more results available NextToken would be present, make further request to the same API with received NextToken to paginate remaining results. '
    description: ' Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. '
  ListElasticsearchInstanceTypesRequest:
    type: object
    properties: {}
    description: ' Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. '
  ListElasticsearchVersionsResponse:
    type: object
    properties:
      ElasticsearchVersions:
        $ref: '#/definitions/ElasticsearchVersionList'
      NextToken:
        $ref: '#/definitions/NextToken'
    description: ' Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a> </code> operation. '
  ListElasticsearchVersionsRequest:
    type: object
    properties: {}
    description: '<p> Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code> operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code> in response to retrieve more results. If the received response does not contain a NextToken, then there are no more results to retrieve. </p> </p>'
  ListTagsResponse:
    type: object
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: ' List of <code>Tag</code> for the requested Elasticsearch domain.'
    description: The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains.
  ListTagsRequest:
    type: object
    properties: {}
    description: Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.
  PurchaseReservedElasticsearchInstanceOfferingResponse:
    type: object
    properties:
      ReservedElasticsearchInstanceId:
        $ref: '#/definitions/GUID'
        description: Details of the reserved Elasticsearch instance which was purchased.
      ReservationName:
        $ref: '#/definitions/ReservationToken'
        description: The customer-specified identifier used to track this reservation.
    description: Represents the output of a <code>PurchaseReservedElasticsearchInstanceOffering</code> operation.
  PurchaseReservedElasticsearchInstanceOfferingRequest:
    type: object
    required:
      - ReservedElasticsearchInstanceOfferingId
      - ReservationName
    properties:
      ReservedElasticsearchInstanceOfferingId:
        $ref: '#/definitions/GUID'
        description: The ID of the reserved Elasticsearch instance offering to purchase.
      ReservationName:
        $ref: '#/definitions/ReservationToken'
        description: A customer-specified identifier to track this reservation.
      InstanceCount:
        $ref: '#/definitions/InstanceCount'
        description: The number of Elasticsearch instances to reserve.
    description: Container for parameters to <code>PurchaseReservedElasticsearchInstanceOffering</code>
  RemoveTagsRequest:
    type: object
    required:
      - ARN
      - TagKeys
    properties:
      ARN:
        $ref: '#/definitions/ARN'
        description: Specifies the <code>ARN</code> for the Elasticsearch domain from which you want to delete the specified tags.
      TagKeys:
        $ref: '#/definitions/StringList'
        description: Specifies the <code>TagKey</code> list which you want to remove from the Elasticsearch domain.
    description: Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>.
  StartElasticsearchServiceSoftwareUpdateResponse:
    type: object
    properties:
      ServiceSoftwareOptions:
        $ref: '#/definitions/ServiceSoftwareOptions'
        description: The current status of the Elasticsearch service software update.
    description: The result of a <code>StartElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.
  StartElasticsearchServiceSoftwareUpdateRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to update to the latest service software.
    description: Container for the parameters to the <code><a>StartElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to schedule a service software update on.
  UpdateElasticsearchDomainConfigResponse:
    type: object
    required:
      - DomainConfig
    properties:
      DomainConfig:
        $ref: '#/definitions/ElasticsearchDomainConfig'
        description: 'The status of the updated Elasticsearch domain. '
    description: The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated.
  UpdateElasticsearchDomainConfigRequest:
    type: object
    properties:
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: The type and number of instances to instantiate for the domain cluster.
      EBSOptions:
        $ref: '#/definitions/EBSOptions'
        description: 'Specify the type and size of the EBS volume that you want to use. '
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptions'
        description: 'Option to set the time, in UTC format, for the daily automated snapshot. Default value is <code>0</code> hours. '
      VPCOptions:
        $ref: '#/definitions/VPCOptions'
        description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc" target="_blank">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptions'
        description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptions'
        description: 'Modifies the advanced option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.'
      AccessPolicies:
        $ref: '#/definitions/PolicyDocument'
        description: IAM access policy as a JSON-formatted string.
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptions'
        description: 'Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.'
    description: Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster.
  UpgradeElasticsearchDomainResponse:
    type: object
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
      TargetVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: The version of Elasticsearch that you intend to upgrade the domain to.
      PerformCheckOnly:
        $ref: '#/definitions/Boolean'
        description: ' This flag, when set to True, indicates that an Upgrade Eligibility Check needs to be performed. This will not actually perform the Upgrade. '
    description: ' Container for response returned by <code> <a>UpgradeElasticsearchDomain</a> </code> operation. '
  UpgradeElasticsearchDomainRequest:
    type: object
    required:
      - DomainName
      - TargetVersion
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
      TargetVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: The version of Elasticsearch that you intend to upgrade the domain to.
      PerformCheckOnly:
        $ref: '#/definitions/Boolean'
        description: ' This flag, when set to True, indicates that an Upgrade Eligibility Check needs to be performed. This will not actually perform the Upgrade. '
    description: ' Container for request parameters to <code> <a>UpgradeElasticsearchDomain</a> </code> operation. '
  ARN:
    type: string
    description: 'The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
  PolicyDocument:
    type: string
    description: 'Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies" target="_blank">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.'
  OptionStatus:
    type: object
    required:
      - CreationDate
      - UpdateDate
      - State
    properties:
      CreationDate:
        $ref: '#/definitions/UpdateTimestamp'
        description: Timestamp which tells the creation date for the entity.
      UpdateDate:
        $ref: '#/definitions/UpdateTimestamp'
        description: Timestamp which tells the last updated time for the entity.
      UpdateVersion:
        $ref: '#/definitions/UIntValue'
        description: Specifies the latest version for the entity.
      State:
        $ref: '#/definitions/OptionState'
        description: Provides the <code>OptionState</code> for the Elasticsearch domain.
      PendingDeletion:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the Elasticsearch domain is being deleted.
    description: Provides the current status of the entity.
  AccessPoliciesStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/PolicyDocument'
        description: 'The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies" target="_blank"> Configuring Access Policies</a>for more information.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: 'The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that''s included. '
    description: 'The configured access rules for the domain''s document and search endpoints, and the current status of those rules.'
  TagList:
    type: array
    description: 'A list of <code>Tag</code> '
    items:
      $ref: '#/definitions/Tag'
  LimitName:
    type: string
  LimitValueList:
    type: array
    items:
      $ref: '#/definitions/LimitValue'
  AdditionalLimit:
    type: object
    properties:
      LimitName:
        $ref: '#/definitions/LimitName'
        description: ' Name of Additional Limit is specific to a given InstanceType and for each of it''s <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don''t need any master nodes to govern them. </ul> '
      LimitValues:
        $ref: '#/definitions/LimitValueList'
        description: ' Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . '
    description: ' List of limits that are specific to a given InstanceType and for each of it''s <code> <a>InstanceRole</a> </code> . '
  AdditionalLimitList:
    type: array
    items:
      $ref: '#/definitions/AdditionalLimit'
  String:
    type: string
  AdvancedOptions:
    type: array
    description: '<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/String'
        value:
          $ref: '#/definitions/String'
  AdvancedOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/AdvancedOptions'
        description: ' Specifies the status of advanced options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.'
    description: '<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
  Boolean:
    type: boolean
  DomainName:
    type: string
    pattern: '[a-z][a-z0-9\-]+'
    description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
    minLength: 3
    maxLength: 28
  ServiceSoftwareOptions:
    type: object
    properties:
      CurrentVersion:
        $ref: '#/definitions/String'
        description: The current service software version that is present on the domain.
      NewVersion:
        $ref: '#/definitions/String'
        description: The new service software version if one is available.
      UpdateAvailable:
        $ref: '#/definitions/Boolean'
        description: '<code>True</code> if you are able to update you service software version. <code>False</code> if you are not able to update your service software version. '
      Cancellable:
        $ref: '#/definitions/Boolean'
        description: '<code>True</code> if you are able to cancel your service software version update. <code>False</code> if you are not able to cancel your service software version. '
      UpdateStatus:
        $ref: '#/definitions/DeploymentStatus'
        description: 'The status of your service software update. This field can take the following values: <code>ELIGIBLE</code>, <code>PENDING_UPDATE</code>, <code>IN_PROGRESS</code>, <code>COMPLETED</code>, and <code>NOT_ELIGIBLE</code>.'
      Description:
        $ref: '#/definitions/String'
        description: The description of the <code>UpdateStatus</code>.
      AutomatedUpdateDate:
        $ref: '#/definitions/DeploymentCloseDateTimeStamp'
        description: 'Timestamp, in Epoch time, until which you can manually request a service software update. After this date, we automatically update your service software.'
    description: The current options of an Elasticsearch domain service software options.
  CloudWatchLogsLogGroupArn:
    type: string
    description: ARN of the Cloudwatch log group to which log needs to be published.
  UserPoolId:
    type: string
    pattern: '[\w-]+_[0-9a-zA-Z]+'
    minLength: 1
    maxLength: 55
  IdentityPoolId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  RoleArn:
    type: string
    minLength: 20
    maxLength: 2048
  CognitoOptions:
    type: object
    properties:
      Enabled:
        $ref: '#/definitions/Boolean'
        description: Specifies the option to enable Cognito for Kibana authentication.
      UserPoolId:
        $ref: '#/definitions/UserPoolId'
        description: Specifies the Cognito user pool ID for Kibana authentication.
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: Specifies the Cognito identity pool ID for Kibana authentication.
      RoleArn:
        $ref: '#/definitions/RoleArn'
        description: Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.
    description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
  CognitoOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/CognitoOptions'
        description: Specifies the Cognito options for the specified Elasticsearch domain.
      Status:
        $ref: '#/definitions/OptionStatus'
        description: Specifies the status of the Cognito options for the specified Elasticsearch domain.
    description: Status of the Cognito options for the specified Elasticsearch domain.
  CompatibleVersionsMap:
    type: object
    properties:
      SourceVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: The current version of Elasticsearch on which a domain is.
      TargetVersions:
        $ref: '#/definitions/ElasticsearchVersionList'
    description: ' A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded. '
  CompatibleElasticsearchVersionsList:
    type: array
    items:
      $ref: '#/definitions/CompatibleVersionsMap'
  ElasticsearchVersionString:
    type: string
  ElasticsearchVersionList:
    type: array
    description: 'List of supported elastic search versions. '
    items:
      $ref: '#/definitions/ElasticsearchVersionString'
  ElasticsearchClusterConfig:
    type: object
    properties:
      InstanceType:
        $ref: '#/definitions/ESPartitionInstanceType'
        description: The instance type for an Elasticsearch cluster.
      InstanceCount:
        $ref: '#/definitions/IntegerClass'
        description: The number of instances in the specified domain cluster.
      DedicatedMasterEnabled:
        $ref: '#/definitions/Boolean'
        description: 'A boolean value to indicate whether a dedicated master node is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes" target="_blank">About Dedicated Master Nodes</a> for more information.'
      ZoneAwarenessEnabled:
        $ref: '#/definitions/Boolean'
        description: 'A boolean value to indicate whether zone awareness is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness" target="_blank">About Zone Awareness</a> for more information.'
      ZoneAwarenessConfig:
        $ref: '#/definitions/ZoneAwarenessConfig'
        description: Specifies the zone awareness configuration for a domain when zone awareness is enabled.
      DedicatedMasterType:
        $ref: '#/definitions/ESPartitionInstanceType'
        description: The instance type for a dedicated master node.
      DedicatedMasterCount:
        $ref: '#/definitions/IntegerClass'
        description: 'Total number of dedicated master nodes, active and on standby, for the cluster.'
    description: 'Specifies the configuration for the domain cluster, such as the type and number of instances.'
  EBSOptions:
    type: object
    properties:
      EBSEnabled:
        $ref: '#/definitions/Boolean'
        description: Specifies whether EBS-based storage is enabled.
      VolumeType:
        $ref: '#/definitions/VolumeType'
        description: ' Specifies the volume type for EBS-based storage.'
      VolumeSize:
        $ref: '#/definitions/IntegerClass'
        description: ' Integer to specify the size of an EBS volume.'
      Iops:
        $ref: '#/definitions/IntegerClass'
        description: Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).
    description: 'Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank"> Configuring EBS-based Storage</a>.'
  SnapshotOptions:
    type: object
    properties:
      AutomatedSnapshotStartHour:
        $ref: '#/definitions/IntegerClass'
        description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
    description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
  VPCOptions:
    type: object
    properties:
      SubnetIds:
        $ref: '#/definitions/StringList'
        description: Specifies the subnets for VPC endpoint.
      SecurityGroupIds:
        $ref: '#/definitions/StringList'
        description: Specifies the security groups for VPC endpoint.
    description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
  EncryptionAtRestOptions:
    type: object
    properties:
      Enabled:
        $ref: '#/definitions/Boolean'
        description: Specifies the option to enable Encryption At Rest.
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: ' Specifies the KMS Key ID for Encryption At Rest options.'
    description: Specifies the Encryption At Rest Options.
  NodeToNodeEncryptionOptions:
    type: object
    properties:
      Enabled:
        $ref: '#/definitions/Boolean'
        description: Specify true to enable node-to-node encryption.
    description: Specifies the node-to-node encryption options.
  LogPublishingOptions:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/LogType'
        value:
          $ref: '#/definitions/LogPublishingOption'
  ElasticsearchDomainStatus:
    type: object
    required:
      - DomainId
      - DomainName
      - ARN
      - ElasticsearchClusterConfig
    properties:
      DomainId:
        $ref: '#/definitions/DomainId'
        description: The unique identifier for the specified Elasticsearch domain.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
      ARN:
        $ref: '#/definitions/ARN'
        description: 'The Amazon resource name (ARN) of an Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
      Created:
        $ref: '#/definitions/Boolean'
        description: The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.
      Deleted:
        $ref: '#/definitions/Boolean'
        description: 'The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.'
      Endpoint:
        $ref: '#/definitions/ServiceUrl'
        description: The Elasticsearch domain endpoint that you use to submit index and search requests.
      Endpoints:
        $ref: '#/definitions/EndpointsMap'
        description: 'Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>''vpc'',''vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com''</code>.'
      Processing:
        $ref: '#/definitions/Boolean'
        description: The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active.
      UpgradeProcessing:
        $ref: '#/definitions/Boolean'
        description: The status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch Service is undergoing a version upgrade. <code>False</code> if the configuration is active.
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: The type and number of instances in the domain cluster.
      EBSOptions:
        $ref: '#/definitions/EBSOptions'
        description: 'The <code>EBSOptions</code> for the specified domain. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank">Configuring EBS-based Storage</a> for more information.'
      AccessPolicies:
        $ref: '#/definitions/PolicyDocument'
        description: ' IAM access policy as a JSON-formatted string.'
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptions'
        description: Specifies the status of the <code>SnapshotOptions</code>
      VPCOptions:
        $ref: '#/definitions/VPCDerivedInfo'
        description: 'The <code>VPCOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptions'
        description: 'The <code>CognitoOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: ' Specifies the status of the <code>EncryptionAtRestOptions</code>.'
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptions'
        description: Specifies the status of the <code>NodeToNodeEncryptionOptions</code>.
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptions'
        description: Specifies the status of the <code>AdvancedOptions</code>
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptions'
        description: Log publishing options for the given domain.
      ServiceSoftwareOptions:
        $ref: '#/definitions/ServiceSoftwareOptions'
        description: The current status of the Elasticsearch domain's service software.
    description: The current status of an Elasticsearch domain.
  DeploymentCloseDateTimeStamp:
    type: string
    format: date-time
  DeploymentStatus:
    type: string
    enum:
      - PENDING_UPDATE
      - IN_PROGRESS
      - COMPLETED
      - NOT_ELIGIBLE
      - ELIGIBLE
  ElasticsearchDomainConfig:
    type: object
    properties:
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionStatus'
        description: String of format X.Y to specify version for the Elasticsearch domain.
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfigStatus'
        description: Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.
      EBSOptions:
        $ref: '#/definitions/EBSOptionsStatus'
        description: Specifies the <code>EBSOptions</code> for the Elasticsearch domain.
      AccessPolicies:
        $ref: '#/definitions/AccessPoliciesStatus'
        description: IAM access policy as a JSON-formatted string.
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptionsStatus'
        description: Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.
      VPCOptions:
        $ref: '#/definitions/VPCDerivedInfoStatus'
        description: 'The <code>VPCOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptionsStatus'
        description: 'The <code>CognitoOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptionsStatus'
        description: Specifies the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain.
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptionsStatus'
        description: Specifies the <code>NodeToNodeEncryptionOptions</code> for the Elasticsearch domain.
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptionsStatus'
        description: 'Specifies the <code>AdvancedOptions</code> for the domain. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuring Advanced Options</a> for more information.'
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptionsStatus'
        description: Log publishing options for the given domain.
    description: The configuration of an Elasticsearch domain.
  DomainNameList:
    type: array
    description: A list of Elasticsearch domain names.
    items:
      $ref: '#/definitions/DomainName'
  ElasticsearchDomainStatusList:
    type: array
    description: A list that contains the status of each requested Elasticsearch domain.
    items:
      $ref: '#/definitions/ElasticsearchDomainStatus'
  ESPartitionInstanceType:
    type: string
    enum:
      - m3.medium.elasticsearch
      - m3.large.elasticsearch
      - m3.xlarge.elasticsearch
      - m3.2xlarge.elasticsearch
      - m4.large.elasticsearch
      - m4.xlarge.elasticsearch
      - m4.2xlarge.elasticsearch
      - m4.4xlarge.elasticsearch
      - m4.10xlarge.elasticsearch
      - t2.micro.elasticsearch
      - t2.small.elasticsearch
      - t2.medium.elasticsearch
      - r3.large.elasticsearch
      - r3.xlarge.elasticsearch
      - r3.2xlarge.elasticsearch
      - r3.4xlarge.elasticsearch
      - r3.8xlarge.elasticsearch
      - i2.xlarge.elasticsearch
      - i2.2xlarge.elasticsearch
      - d2.xlarge.elasticsearch
      - d2.2xlarge.elasticsearch
      - d2.4xlarge.elasticsearch
      - d2.8xlarge.elasticsearch
      - c4.large.elasticsearch
      - c4.xlarge.elasticsearch
      - c4.2xlarge.elasticsearch
      - c4.4xlarge.elasticsearch
      - c4.8xlarge.elasticsearch
      - r4.large.elasticsearch
      - r4.xlarge.elasticsearch
      - r4.2xlarge.elasticsearch
      - r4.4xlarge.elasticsearch
      - r4.8xlarge.elasticsearch
      - r4.16xlarge.elasticsearch
      - i3.large.elasticsearch
      - i3.xlarge.elasticsearch
      - i3.2xlarge.elasticsearch
      - i3.4xlarge.elasticsearch
      - i3.8xlarge.elasticsearch
      - i3.16xlarge.elasticsearch
  LimitsByRole:
    type: array
    description: ' Map of Role of the Instance and Limits that are applicable. Role performed by given Instance in Elasticsearch can be one of the following: <ul> <li>Data: If the given InstanceType is used as Data node</li> <li>Master: If the given InstanceType is used as Master node</li> </ul> '
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/InstanceRole'
        value:
          $ref: '#/definitions/Limits'
  GUID:
    type: string
    pattern: '\p{XDigit}{8}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{12}'
  MaxResults:
    type: integer
    description: ' Set this value to limit the number of results returned. '
    maximum: 100
  NextToken:
    type: string
    description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
  ReservedElasticsearchInstanceOfferingList:
    type: array
    items:
      $ref: '#/definitions/ReservedElasticsearchInstanceOffering'
  ReservedElasticsearchInstanceList:
    type: array
    items:
      $ref: '#/definitions/ReservedElasticsearchInstance'
  DomainId:
    type: string
    description: Unique identifier for an Elasticsearch domain.
    minLength: 1
    maxLength: 64
  DomainInfo:
    type: object
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: ' Specifies the <code>DomainName</code>.'
  DomainInfoList:
    type: array
    description: ' Contains the list of Elasticsearch domain information.'
    items:
      $ref: '#/definitions/DomainInfo'
  Double:
    type: number
    format: double
  VolumeType:
    type: string
    enum:
      - standard
      - gp2
      - io1
    description: ' The type of EBS volume, standard, gp2, or io1. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank">Configuring EBS-based Storage</a>for more information.'
  IntegerClass:
    type: integer
  EBSOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/EBSOptions'
        description: ' Specifies the EBS options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the EBS options for the specified Elasticsearch domain.'
    description: ' Status of the EBS options for the specified Elasticsearch domain.'
  ZoneAwarenessConfig:
    type: object
    properties:
      AvailabilityZoneCount:
        $ref: '#/definitions/IntegerClass'
        description: An integer value to indicate the number of availability zones for a domain when zone awareness is enabled. This should be equal to number of subnets if VPC endpoints is enabled
    description: 'Specifies the zone awareness configuration for the domain cluster, such as the number of availability zones.'
  ElasticsearchClusterConfigStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: ' Specifies the cluster configuration for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the configuration for the specified Elasticsearch domain.'
    description: ' Specifies the configuration status for the specified Elasticsearch domain.'
  ElasticsearchVersionStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: ' Specifies the Elasticsearch version for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain.'
    description: ' Status of the Elasticsearch version options for the specified Elasticsearch domain.'
  SnapshotOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/SnapshotOptions'
        description: Specifies the daily snapshot options specified for the Elasticsearch domain.
      Status:
        $ref: '#/definitions/OptionStatus'
        description: Specifies the status of a daily automated snapshot.
    description: Status of a daily automated snapshot.
  VPCDerivedInfoStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/VPCDerivedInfo'
        description: ' Specifies the VPC options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the VPC options for the specified Elasticsearch domain.'
    description: ' Status of the VPC options for the specified Elasticsearch domain.'
  EncryptionAtRestOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: ' Specifies the Encryption At Rest options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the Encryption At Rest options for the specified Elasticsearch domain.'
    description: ' Status of the Encryption At Rest options for the specified Elasticsearch domain.'
  NodeToNodeEncryptionOptionsStatus:
    type: object
    required:
      - Options
      - Status
    properties:
      Options:
        $ref: '#/definitions/NodeToNodeEncryptionOptions'
        description: Specifies the node-to-node encryption options for the specified Elasticsearch domain.
      Status:
        $ref: '#/definitions/OptionStatus'
        description: Specifies the status of the node-to-node encryption options for the specified Elasticsearch domain.
    description: Status of the node-to-node encryption options for the specified Elasticsearch domain.
  LogPublishingOptionsStatus:
    type: object
    properties:
      Options:
        $ref: '#/definitions/LogPublishingOptions'
        description: The log publishing options configured for the Elasticsearch domain.
      Status:
        $ref: '#/definitions/OptionStatus'
        description: 'The status of the log publishing options for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that''s included. '
    description: The configured log publishing options for the domain and their current status.
  ServiceUrl:
    type: string
    description: 'The endpoint to which service requests are submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code> or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>.'
  EndpointsMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/String'
        value:
          $ref: '#/definitions/ServiceUrl'
  VPCDerivedInfo:
    type: object
    properties:
      VPCId:
        $ref: '#/definitions/String'
        description: The VPC Id for the Elasticsearch domain. Exists only if the domain was created with VPCOptions.
      SubnetIds:
        $ref: '#/definitions/StringList'
        description: Specifies the subnets for VPC endpoint.
      AvailabilityZones:
        $ref: '#/definitions/StringList'
        description: The availability zones for the Elasticsearch domain. Exists only if the domain was created with VPCOptions.
      SecurityGroupIds:
        $ref: '#/definitions/StringList'
        description: Specifies the security groups for VPC endpoint.
    description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
  ElasticsearchInstanceTypeList:
    type: array
    description: ' List of instance types supported by Amazon Elasticsearch service. '
    items:
      $ref: '#/definitions/ESPartitionInstanceType'
  KmsKeyId:
    type: string
    minLength: 1
    maxLength: 500
  UpgradeHistoryList:
    type: array
    items:
      $ref: '#/definitions/UpgradeHistory'
  UpgradeStep:
    type: string
    enum:
      - PRE_UPGRADE_CHECK
      - SNAPSHOT
      - UPGRADE
  UpgradeStatus:
    type: string
    enum:
      - IN_PROGRESS
      - SUCCEEDED
      - SUCCEEDED_WITH_ISSUES
      - FAILED
  UpgradeName:
    type: string
  InstanceCount:
    type: integer
    description: Specifies the number of EC2 instances in the Elasticsearch domain.
    minimum: 1
  MinimumInstanceCount:
    type: integer
    description: ' Minimum number of Instances that can be instantiated for given InstanceType. '
  MaximumInstanceCount:
    type: integer
    description: ' Maximum number of Instances that can be instantiated for given InstanceType. '
  InstanceCountLimits:
    type: object
    properties:
      MinimumInstanceCount:
        $ref: '#/definitions/MinimumInstanceCount'
      MaximumInstanceCount:
        $ref: '#/definitions/MaximumInstanceCount'
    description: ' InstanceCountLimits represents the limits on number of instances that be created in Amazon Elasticsearch for given InstanceType. '
  InstanceLimits:
    type: object
    properties:
      InstanceCountLimits:
        $ref: '#/definitions/InstanceCountLimits'
    description: 'InstanceLimits represents the list of instance related attributes that are available for given InstanceType. '
  InstanceRole:
    type: string
  Integer:
    type: integer
  Issue:
    type: string
  Issues:
    type: array
    items:
      $ref: '#/definitions/Issue'
  LimitValue:
    type: string
  StorageTypeList:
    type: array
    items:
      $ref: '#/definitions/StorageType'
  Limits:
    type: object
    properties:
      StorageTypes:
        $ref: '#/definitions/StorageTypeList'
        description: 'StorageType represents the list of storage related types and attributes that are available for given InstanceType. '
      InstanceLimits:
        $ref: '#/definitions/InstanceLimits'
      AdditionalLimits:
        $ref: '#/definitions/AdditionalLimitList'
        description: ' List of additional limits that are specific to a given InstanceType and for each of it''s <code> <a>InstanceRole</a> </code> . '
    description: ' Limits for given InstanceType and for each of it''s role. <br/> Limits contains following <code> <a>StorageTypes,</a> </code> <code> <a>InstanceLimits</a> </code> and <code> <a>AdditionalLimits</a> </code> '
  LogPublishingOption:
    type: object
    properties:
      CloudWatchLogsLogGroupArn:
        $ref: '#/definitions/CloudWatchLogsLogGroupArn'
      Enabled:
        $ref: '#/definitions/Boolean'
        description: ' Specifies whether given log publishing option is enabled or not.'
    description: 'Log Publishing option that is set for given domain. <br/>Attributes and their details: <ul> <li>CloudWatchLogsLogGroupArn: ARN of the Cloudwatch log group to which log needs to be published.</li> <li>Enabled: Whether the log publishing for given log type is enabled or not</li> </ul> '
  LogType:
    type: string
    enum:
      - INDEX_SLOW_LOGS
      - SEARCH_SLOW_LOGS
      - ES_APPLICATION_LOGS
    description: 'Type of Log File, it can be one of the following: <ul> <li>INDEX_SLOW_LOGS: Index slow logs contain insert requests that took more time than configured index query log threshold to execute.</li> <li>SEARCH_SLOW_LOGS: Search slow logs contain search queries that took more time than configured search query log threshold to execute.</li> <li>ES_APPLICATION_LOGS: Elasticsearch application logs contain information about errors and warnings raised during the operation of the service and can be useful for troubleshooting.</li> </ul> '
  OptionState:
    type: string
    enum:
      - RequiresIndexDocuments
      - Processing
      - Active
[...]
