swagger: '2.0'
schemes:
  - https
  - http
host: es.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions" target="_blank">Regions and Endpoints</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Elasticsearch Service
  version: '2015-01-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/es-2015-01-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: es
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/es/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /2015-01-01/domain:
    get:
      description: 'Returns the name of all Elasticsearch domains owned by the current user''s account. '
      operationId: ListDomainNames
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainNamesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/compatibleVersions:
    get:
      description: ' Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. '
      operationId: GetCompatibleElasticsearchVersions
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: domainName
          pattern: '[a-z][a-z0-9\-]+'
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCompatibleElasticsearchVersionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/domain:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new Elasticsearch domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains" target="_blank">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.'
      operationId: CreateElasticsearchDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AccessPolicies:
                description: 'Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies" target="_blank">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.'
                type: string
              AdvancedOptions:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: '<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
                type: object
              CognitoOptions:
                description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
                properties:
                  Enabled:
                    $ref: '#/definitions/Boolean'
                    description: Specifies the option to enable Cognito for Kibana authentication.
                  IdentityPoolId:
                    $ref: '#/definitions/IdentityPoolId'
                    description: Specifies the Cognito identity pool ID for Kibana authentication.
                  RoleArn:
                    $ref: '#/definitions/RoleArn'
                    description: Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.
                  UserPoolId:
                    $ref: '#/definitions/UserPoolId'
                    description: Specifies the Cognito user pool ID for Kibana authentication.
                type: object
              DomainName:
                description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
                maxLength: 28
                minLength: 3
                pattern: '[a-z][a-z0-9\-]+'
                type: string
              EBSOptions:
                description: 'Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank"> Configuring EBS-based Storage</a>.'
                properties:
                  EBSEnabled:
                    $ref: '#/definitions/Boolean'
                    description: Specifies whether EBS-based storage is enabled.
                  Iops:
                    $ref: '#/definitions/IntegerClass'
                    description: Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).
                  VolumeSize:
                    $ref: '#/definitions/IntegerClass'
                    description: ' Integer to specify the size of an EBS volume.'
                  VolumeType:
                    $ref: '#/definitions/VolumeType'
                    description: ' Specifies the volume type for EBS-based storage.'
                type: object
              ElasticsearchClusterConfig:
                description: 'Specifies the configuration for the domain cluster, such as the type and number of instances.'
                properties:
                  DedicatedMasterCount:
                    $ref: '#/definitions/IntegerClass'
                    description: 'Total number of dedicated master nodes, active and on standby, for the cluster.'
                  DedicatedMasterEnabled:
                    $ref: '#/definitions/Boolean'
                    description: 'A boolean value to indicate whether a dedicated master node is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes" target="_blank">About Dedicated Master Nodes</a> for more information.'
                  DedicatedMasterType:
                    $ref: '#/definitions/ESPartitionInstanceType'
                    description: The instance type for a dedicated master node.
                  InstanceCount:
                    $ref: '#/definitions/IntegerClass'
                    description: The number of instances in the specified domain cluster.
                  InstanceType:
                    $ref: '#/definitions/ESPartitionInstanceType'
                    description: The instance type for an Elasticsearch cluster.
                  ZoneAwarenessConfig:
                    $ref: '#/definitions/ZoneAwarenessConfig'
                    description: Specifies the zone awareness configuration for a domain when zone awareness is enabled.
                  ZoneAwarenessEnabled:
                    $ref: '#/definitions/Boolean'
                    description: 'A boolean value to indicate whether zone awareness is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness" target="_blank">About Zone Awareness</a> for more information.'
                type: object
              ElasticsearchVersion:
                description: 'String of format X.Y to specify version for the Elasticsearch domain eg. "1.5" or "2.3". For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains" target="_blank">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.'
                type: string
              EncryptionAtRestOptions:
                description: Specifies the Encryption At Rest Options.
                properties:
                  Enabled:
                    $ref: '#/definitions/Boolean'
                    description: Specifies the option to enable Encryption At Rest.
                  KmsKeyId:
                    $ref: '#/definitions/KmsKeyId'
                    description: ' Specifies the KMS Key ID for Encryption At Rest options.'
                type: object
              LogPublishingOptions:
                additionalProperties:
                  $ref: '#/definitions/LogPublishingOption'
                description: 'Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.'
                type: object
              NodeToNodeEncryptionOptions:
                description: Specifies the node-to-node encryption options.
                properties:
                  Enabled:
                    $ref: '#/definitions/Boolean'
                    description: Specify true to enable node-to-node encryption.
                type: object
              SnapshotOptions:
                description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
                properties:
                  AutomatedSnapshotStartHour:
                    $ref: '#/definitions/IntegerClass'
                    description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
                type: object
              VPCOptions:
                description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
                properties:
                  SecurityGroupIds:
                    $ref: '#/definitions/StringList'
                    description: Specifies the security groups for VPC endpoint.
                  SubnetIds:
                    $ref: '#/definitions/StringList'
                    description: Specifies the subnets for VPC endpoint.
                type: object
            required:
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '486':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /2015-01-01/es/domain-info:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.'
      operationId: DescribeElasticsearchDomains
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainNames:
                description: A list of Elasticsearch domain names.
                items:
                  $ref: '#/definitions/DomainName'
                type: array
            required:
              - DomainNames
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/2015-01-01/es/domain/{DomainName}':
    delete:
      description: 'Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.'
      operationId: DeleteElasticsearchDomain
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    get:
      description: 'Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.'
      operationId: DescribeElasticsearchDomain
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/domain/{DomainName}/config':
    get:
      description: 'Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.'
      operationId: DescribeElasticsearchDomainConfig
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchDomainConfigResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. '
      operationId: UpdateElasticsearchDomainConfig
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AccessPolicies:
                description: 'Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies" target="_blank">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB.'
                type: string
              AdvancedOptions:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: '<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
                type: object
              CognitoOptions:
                description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
                properties:
                  Enabled:
                    $ref: '#/definitions/Boolean'
                    description: Specifies the option to enable Cognito for Kibana authentication.
                  IdentityPoolId:
                    $ref: '#/definitions/IdentityPoolId'
                    description: Specifies the Cognito identity pool ID for Kibana authentication.
                  RoleArn:
                    $ref: '#/definitions/RoleArn'
                    description: Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.
                  UserPoolId:
                    $ref: '#/definitions/UserPoolId'
                    description: Specifies the Cognito user pool ID for Kibana authentication.
                type: object
              EBSOptions:
                description: 'Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank"> Configuring EBS-based Storage</a>.'
                properties:
                  EBSEnabled:
                    $ref: '#/definitions/Boolean'
                    description: Specifies whether EBS-based storage is enabled.
                  Iops:
                    $ref: '#/definitions/IntegerClass'
                    description: Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).
                  VolumeSize:
                    $ref: '#/definitions/IntegerClass'
                    description: ' Integer to specify the size of an EBS volume.'
                  VolumeType:
                    $ref: '#/definitions/VolumeType'
                    description: ' Specifies the volume type for EBS-based storage.'
                type: object
              ElasticsearchClusterConfig:
                description: 'Specifies the configuration for the domain cluster, such as the type and number of instances.'
                properties:
                  DedicatedMasterCount:
                    $ref: '#/definitions/IntegerClass'
                    description: 'Total number of dedicated master nodes, active and on standby, for the cluster.'
                  DedicatedMasterEnabled:
                    $ref: '#/definitions/Boolean'
                    description: 'A boolean value to indicate whether a dedicated master node is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes" target="_blank">About Dedicated Master Nodes</a> for more information.'
                  DedicatedMasterType:
                    $ref: '#/definitions/ESPartitionInstanceType'
                    description: The instance type for a dedicated master node.
                  InstanceCount:
                    $ref: '#/definitions/IntegerClass'
                    description: The number of instances in the specified domain cluster.
                  InstanceType:
                    $ref: '#/definitions/ESPartitionInstanceType'
                    description: The instance type for an Elasticsearch cluster.
                  ZoneAwarenessConfig:
                    $ref: '#/definitions/ZoneAwarenessConfig'
                    description: Specifies the zone awareness configuration for a domain when zone awareness is enabled.
                  ZoneAwarenessEnabled:
                    $ref: '#/definitions/Boolean'
                    description: 'A boolean value to indicate whether zone awareness is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness" target="_blank">About Zone Awareness</a> for more information.'
                type: object
              LogPublishingOptions:
                additionalProperties:
                  $ref: '#/definitions/LogPublishingOption'
                description: 'Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.'
                type: object
              SnapshotOptions:
                description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
                properties:
                  AutomatedSnapshotStartHour:
                    $ref: '#/definitions/IntegerClass'
                    description: 'Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours.'
                type: object
              VPCOptions:
                description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank"> VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
                properties:
                  SecurityGroupIds:
                    $ref: '#/definitions/StringList'
                    description: Specifies the security groups for VPC endpoint.
                  SubnetIds:
                    $ref: '#/definitions/StringList'
                    description: Specifies the subnets for VPC endpoint.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateElasticsearchDomainConfigResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}':
    get:
      description: ' Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. '
      operationId: DescribeElasticsearchInstanceTypeLimits
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: domainName
          pattern: '[a-z][a-z0-9\-]+'
          required: false
          type: string
        - description: ' The instance type for an Elasticsearch cluster for which Elasticsearch <code> <a>Limits</a> </code> are needed. '
          enum:
            - m3.medium.elasticsearch
            - m3.large.elasticsearch
            - m3.xlarge.elasticsearch
            - m3.2xlarge.elasticsearch
            - m4.large.elasticsearch
            - m4.xlarge.elasticsearch
            - m4.2xlarge.elasticsearch
            - m4.4xlarge.elasticsearch
            - m4.10xlarge.elasticsearch
            - m5.large.elasticsearch
            - m5.xlarge.elasticsearch
            - m5.2xlarge.elasticsearch
            - m5.4xlarge.elasticsearch
            - m5.12xlarge.elasticsearch
            - r5.large.elasticsearch
            - r5.xlarge.elasticsearch
            - r5.2xlarge.elasticsearch
            - r5.4xlarge.elasticsearch
            - r5.12xlarge.elasticsearch
            - c5.large.elasticsearch
            - c5.xlarge.elasticsearch
            - c5.2xlarge.elasticsearch
            - c5.4xlarge.elasticsearch
            - c5.9xlarge.elasticsearch
            - c5.18xlarge.elasticsearch
            - t2.micro.elasticsearch
            - t2.small.elasticsearch
            - t2.medium.elasticsearch
            - r3.large.elasticsearch
            - r3.xlarge.elasticsearch
            - r3.2xlarge.elasticsearch
            - r3.4xlarge.elasticsearch
            - r3.8xlarge.elasticsearch
            - i2.xlarge.elasticsearch
            - i2.2xlarge.elasticsearch
            - d2.xlarge.elasticsearch
            - d2.2xlarge.elasticsearch
            - d2.4xlarge.elasticsearch
            - d2.8xlarge.elasticsearch
            - c4.large.elasticsearch
            - c4.xlarge.elasticsearch
            - c4.2xlarge.elasticsearch
            - c4.4xlarge.elasticsearch
            - c4.8xlarge.elasticsearch
            - r4.large.elasticsearch
            - r4.xlarge.elasticsearch
            - r4.2xlarge.elasticsearch
            - r4.4xlarge.elasticsearch
            - r4.8xlarge.elasticsearch
            - r4.16xlarge.elasticsearch
            - i3.large.elasticsearch
            - i3.xlarge.elasticsearch
            - i3.2xlarge.elasticsearch
            - i3.4xlarge.elasticsearch
            - i3.8xlarge.elasticsearch
            - i3.16xlarge.elasticsearch
          in: path
          name: InstanceType
          required: true
          type: string
        - description: ' Version of Elasticsearch for which <code> <a>Limits</a> </code> are needed. '
          in: path
          name: ElasticsearchVersion
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeElasticsearchInstanceTypeLimitsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/instanceTypes/{ElasticsearchVersion}':
    get:
      description: List all Elasticsearch instance types that are supported for given ElasticsearchVersion
      operationId: ListElasticsearchInstanceTypes
      parameters:
        - description: 'Version of Elasticsearch for which list of supported elasticsearch instance types are needed. '
          in: path
          name: ElasticsearchVersion
          required: true
          type: string
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: query
          maxLength: 28
          minLength: 3
          name: domainName
          pattern: '[a-z][a-z0-9\-]+'
          required: false
          type: string
        - description: ' Set this value to limit the number of results returned. '
          in: query
          maximum: 100
          name: maxResults
          required: false
          type: integer
        - description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListElasticsearchInstanceTypesResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/purchaseReservedInstanceOffering:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Allows you to purchase reserved Elasticsearch instances.
      operationId: PurchaseReservedElasticsearchInstanceOffering
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              InstanceCount:
                description: Specifies the number of EC2 instances in the Elasticsearch domain.
                minimum: 1
                type: integer
              ReservationName:
                description: A customer-specified identifier to track this reservation.
                maxLength: 64
                minLength: 5
                type: string
              ReservedElasticsearchInstanceOfferingId:
                description: The ID of the reserved Elasticsearch instance offering to purchase.
                pattern: '\p{XDigit}{8}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{12}'
                type: string
            required:
              - ReservedElasticsearchInstanceOfferingId
              - ReservationName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseReservedElasticsearchInstanceOfferingResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '484':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '485':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
  /2015-01-01/es/reservedInstanceOfferings:
    get:
      description: Lists available reserved Elasticsearch instance offerings.
      operationId: DescribeReservedElasticsearchInstanceOfferings
      parameters:
        - description: The offering identifier filter value. Use this parameter to show only the available offering that matches the specified reservation identifier.
          in: query
          name: offeringId
          pattern: '\p{XDigit}{8}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{12}'
          required: false
          type: string
        - description: ' Set this value to limit the number of results returned. '
          in: query
          maximum: 100
          name: maxResults
          required: false
          type: integer
        - description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstanceOfferingsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/reservedInstances:
    get:
      description: Returns information about reserved Elasticsearch instances for this account.
      operationId: DescribeReservedElasticsearchInstances
      parameters:
        - description: The reserved instance identifier filter value. Use this parameter to show only the reservation that matches the specified reserved Elasticsearch instance ID.
          in: query
          name: reservationId
          pattern: '\p{XDigit}{8}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{4}-\p{XDigit}{12}'
          required: false
          type: string
        - description: ' Set this value to limit the number of results returned. '
          in: query
          maximum: 100
          name: maxResults
          required: false
          type: integer
        - description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservedElasticsearchInstancesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/role:
    delete:
      description: 'Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr" target="_blank">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.'
      operationId: DeleteElasticsearchServiceRole
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/serviceSoftwareUpdate/cancel:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.
      operationId: CancelElasticsearchServiceSoftwareUpdate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
                maxLength: 28
                minLength: 3
                pattern: '[a-z][a-z0-9\-]+'
                type: string
            required:
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelElasticsearchServiceSoftwareUpdateResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /2015-01-01/es/serviceSoftwareUpdate/start:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Schedules a service software update for an Amazon ES domain.
      operationId: StartElasticsearchServiceSoftwareUpdate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
                maxLength: 28
                minLength: 3
                pattern: '[a-z][a-z0-9\-]+'
                type: string
            required:
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartElasticsearchServiceSoftwareUpdateResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /2015-01-01/es/upgradeDomain:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Allows you to either upgrade your domain or perform an Upgrade eligibility check to a compatible Elasticsearch version.
      operationId: UpgradeElasticsearchDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
                maxLength: 28
                minLength: 3
                pattern: '[a-z][a-z0-9\-]+'
                type: string
              PerformCheckOnly:
                description: ' This flag, when set to True, indicates that an Upgrade Eligibility Check needs to be performed. This will not actually perform the Upgrade. '
                type: boolean
              TargetVersion:
                description: The version of Elasticsearch that you intend to upgrade the domain to.
                type: string
            required:
              - DomainName
              - TargetVersion
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpgradeElasticsearchDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '484':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '485':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
  '/2015-01-01/es/upgradeDomain/{DomainName}/history':
    get:
      description: Retrieves the complete history of the last 10 upgrades that were performed on the domain.
      operationId: GetUpgradeHistory
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: ' Set this value to limit the number of results returned. '
          in: query
          maximum: 100
          name: maxResults
          required: false
          type: integer
        - description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUpgradeHistoryResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2015-01-01/es/upgradeDomain/{DomainName}/status':
    get:
      description: Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.
      operationId: GetUpgradeStatus
      parameters:
        - description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
          in: path
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUpgradeStatusResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/es/versions:
    get:
      description: List all supported Elasticsearch versions
      operationId: ListElasticsearchVersions
      parameters:
        - description: ' Set this value to limit the number of results returned. '
          in: query
          maximum: 100
          name: maxResults
          required: false
          type: integer
        - description: ' Paginated APIs accepts NextToken input to returns next page results and provides a NextToken output in the response which can be used by the client to retrieve more results. '
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListElasticsearchVersionsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2015-01-01/tags:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging" target="_blank"> Tagging Amazon Elasticsearch Service Domains for more information.</a>'
      operationId: AddTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              ARN:
                description: 'The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
                type: string
              TagList:
                description: 'A list of <code>Tag</code> '
                items:
                  $ref: '#/definitions/Tag'
                type: array
            required:
              - ARN
              - TagList
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
  /2015-01-01/tags-removal:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes the specified set of tags from the specified Elasticsearch domain.
      operationId: RemoveTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              ARN:
                description: 'The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
                type: string
              TagKeys:
                description: Specifies the <code>TagKey</code> list which you want to remove from the Elasticsearch domain.
                items:
                  $ref: '#/definitions/String'
                type: array
            required:
              - ARN
              - TagKeys
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
  '/2015-01-01/tags/#arn':
    get:
      description: Returns all tags for the given Elasticsearch domain.
      operationId: ListTags
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
          in: query
          name: arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ARN:
    description: 'The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
    type: string
  AccessPoliciesStatus:
    description: 'The configured access rules for the domain''s document and search endpoints, and the current status of those rules.'
    properties:
      Options:
        $ref: '#/definitions/PolicyDocument'
        description: 'The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies" target="_blank"> Configuring Access Policies</a>for more information.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: 'The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that''s included. '
    required:
      - Options
      - Status
    type: object
  AddTagsRequest:
    description: Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.
    properties:
      ARN:
        $ref: '#/definitions/ARN'
        description: ' Specify the <code>ARN</code> for which you want to add the tags.'
      TagList:
        $ref: '#/definitions/TagList'
        description: ' List of <code>Tag</code> that need to be added for the Elasticsearch domain. '
    required:
      - ARN
      - TagList
    type: object
  AdditionalLimit:
    description: ' List of limits that are specific to a given InstanceType and for each of it''s <code> <a>InstanceRole</a> </code> . '
    properties:
      LimitName:
        $ref: '#/definitions/LimitName'
        description: ' Name of Additional Limit is specific to a given InstanceType and for each of it''s <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don''t need any master nodes to govern them. </ul> '
      LimitValues:
        $ref: '#/definitions/LimitValueList'
        description: ' Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . '
    type: object
  AdditionalLimitList:
    items:
      $ref: '#/definitions/AdditionalLimit'
    type: array
  AdvancedOptions:
    additionalProperties:
      $ref: '#/definitions/String'
    description: '<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
    type: object
  AdvancedOptionsStatus:
    description: '<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options">Configuring Advanced Options</a>.</p>'
    properties:
      Options:
        $ref: '#/definitions/AdvancedOptions'
        description: ' Specifies the status of advanced options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.'
    required:
      - Options
      - Status
    type: object
  BaseException: {}
  Boolean:
    type: boolean
  CancelElasticsearchServiceSoftwareUpdateRequest:
    description: Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to stop the latest service software update on.
    required:
      - DomainName
    type: object
  CancelElasticsearchServiceSoftwareUpdateResponse:
    description: The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.
    properties:
      ServiceSoftwareOptions:
        $ref: '#/definitions/ServiceSoftwareOptions'
        description: The current status of the Elasticsearch service software update.
    type: object
  CloudWatchLogsLogGroupArn:
    description: ARN of the Cloudwatch log group to which log needs to be published.
    type: string
  CognitoOptions:
    description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
    properties:
      Enabled:
        $ref: '#/definitions/Boolean'
        description: Specifies the option to enable Cognito for Kibana authentication.
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: Specifies the Cognito identity pool ID for Kibana authentication.
      RoleArn:
        $ref: '#/definitions/RoleArn'
        description: Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.
      UserPoolId:
        $ref: '#/definitions/UserPoolId'
        description: Specifies the Cognito user pool ID for Kibana authentication.
    type: object
  CognitoOptionsStatus:
    description: Status of the Cognito options for the specified Elasticsearch domain.
    properties:
      Options:
        $ref: '#/definitions/CognitoOptions'
        description: Specifies the Cognito options for the specified Elasticsearch domain.
      Status:
        $ref: '#/definitions/OptionStatus'
        description: Specifies the status of the Cognito options for the specified Elasticsearch domain.
    required:
      - Options
      - Status
    type: object
  CompatibleElasticsearchVersionsList:
    items:
      $ref: '#/definitions/CompatibleVersionsMap'
    type: array
  CompatibleVersionsMap:
    description: ' A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded. '
    properties:
      SourceVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: The current version of Elasticsearch on which a domain is.
      TargetVersions:
        $ref: '#/definitions/ElasticsearchVersionList'
    type: object
  CreateElasticsearchDomainRequest:
    properties:
      AccessPolicies:
        $ref: '#/definitions/PolicyDocument'
        description: ' IAM access policy as a JSON-formatted string.'
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptions'
        description: ' Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuration Advanced Options</a> for more information.'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptions'
        description: 'Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
      EBSOptions:
        $ref: '#/definitions/EBSOptions'
        description: 'Options to enable, disable and specify the type and size of EBS storage volumes. '
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: 'Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. '
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: 'String of format X.Y to specify version for the Elasticsearch domain eg. "1.5" or "2.3". For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains" target="_blank">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.'
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: Specifies the Encryption At Rest Options.
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptions'
        description: 'Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.'
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptions'
        description: Specifies the NodeToNodeEncryptionOptions.
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptions'
        description: 'Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. '
      VPCOptions:
        $ref: '#/definitions/VPCOptions'
        description: 'Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc" target="_blank">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>'
    required:
      - DomainName
    type: object
  CreateElasticsearchDomainResponse:
    description: The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: 'The status of the newly created Elasticsearch domain. '
    type: object
  DeleteElasticsearchDomainRequest:
    description: Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.
    properties: {}
    type: object
  DeleteElasticsearchDomainResponse:
    description: 'The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.'
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: The status of the Elasticsearch domain being deleted.
    type: object
  DeploymentCloseDateTimeStamp:
    format: date-time
    type: string
  DeploymentStatus:
    enum:
      - PENDING_UPDATE
      - IN_PROGRESS
      - COMPLETED
      - NOT_ELIGIBLE
      - ELIGIBLE
    type: string
  DescribeElasticsearchDomainConfigRequest:
    description: ' Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.'
    properties: {}
    type: object
  DescribeElasticsearchDomainConfigResponse:
    description: The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.
    properties:
      DomainConfig:
        $ref: '#/definitions/ElasticsearchDomainConfig'
        description: The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.
    required:
      - DomainConfig
    type: object
  DescribeElasticsearchDomainRequest:
    description: Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.
    properties: {}
    type: object
  DescribeElasticsearchDomainResponse:
    description: The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.
    properties:
      DomainStatus:
        $ref: '#/definitions/ElasticsearchDomainStatus'
        description: The current status of the Elasticsearch domain.
    required:
      - DomainStatus
    type: object
  DescribeElasticsearchDomainsRequest:
    description: 'Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.'
    properties:
      DomainNames:
        $ref: '#/definitions/DomainNameList'
        description: The Elasticsearch domains for which you want information.
    required:
      - DomainNames
    type: object
  DescribeElasticsearchDomainsResponse:
    description: The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.
    properties:
      DomainStatusList:
        $ref: '#/definitions/ElasticsearchDomainStatusList'
        description: The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.
    required:
      - DomainStatusList
    type: object
  DescribeElasticsearchInstanceTypeLimitsRequest:
    description: ' Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. '
    properties: {}
    type: object
  DescribeElasticsearchInstanceTypeLimitsResponse:
    description: ' Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. '
    properties:
      LimitsByRole:
        $ref: '#/definitions/LimitsByRole'
    type: object
  DescribeReservedElasticsearchInstanceOfferingsRequest:
    description: Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code>
    properties: {}
    type: object
  DescribeReservedElasticsearchInstanceOfferingsResponse:
    description: Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code>
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: Provides an identifier to allow retrieval of paginated results.
      ReservedElasticsearchInstanceOfferings:
        $ref: '#/definitions/ReservedElasticsearchInstanceOfferingList'
        description: List of reserved Elasticsearch instance offerings
    type: object
  DescribeReservedElasticsearchInstancesRequest:
    description: Container for parameters to <code>DescribeReservedElasticsearchInstances</code>
    properties: {}
    type: object
  DescribeReservedElasticsearchInstancesResponse:
    description: Container for results from <code>DescribeReservedElasticsearchInstances</code>
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      ReservedElasticsearchInstances:
        $ref: '#/definitions/ReservedElasticsearchInstanceList'
        description: List of reserved Elasticsearch instances.
    type: object
  DisabledOperationException: {}
  DomainId:
    description: Unique identifier for an Elasticsearch domain.
    maxLength: 64
    minLength: 1
    type: string
  DomainInfo:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: ' Specifies the <code>DomainName</code>.'
    type: object
  DomainInfoList:
    description: ' Contains the list of Elasticsearch domain information.'
    items:
      $ref: '#/definitions/DomainInfo'
    type: array
  DomainName:
    description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
    maxLength: 28
    minLength: 3
    pattern: '[a-z][a-z0-9\-]+'
    type: string
  DomainNameList:
    description: A list of Elasticsearch domain names.
    items:
      $ref: '#/definitions/DomainName'
    type: array
  Double:
    format: double
    type: number
  EBSOptions:
    description: 'Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank"> Configuring EBS-based Storage</a>.'
    properties:
      EBSEnabled:
        $ref: '#/definitions/Boolean'
        description: Specifies whether EBS-based storage is enabled.
      Iops:
        $ref: '#/definitions/IntegerClass'
        description: Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).
      VolumeSize:
        $ref: '#/definitions/IntegerClass'
        description: ' Integer to specify the size of an EBS volume.'
      VolumeType:
        $ref: '#/definitions/VolumeType'
        description: ' Specifies the volume type for EBS-based storage.'
    type: object
  EBSOptionsStatus:
    description: ' Status of the EBS options for the specified Elasticsearch domain.'
    properties:
      Options:
        $ref: '#/definitions/EBSOptions'
        description: ' Specifies the EBS options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the EBS options for the specified Elasticsearch domain.'
    required:
      - Options
      - Status
    type: object
  ESPartitionInstanceType:
    enum:
      - m3.medium.elasticsearch
      - m3.large.elasticsearch
      - m3.xlarge.elasticsearch
      - m3.2xlarge.elasticsearch
      - m4.large.elasticsearch
      - m4.xlarge.elasticsearch
      - m4.2xlarge.elasticsearch
      - m4.4xlarge.elasticsearch
      - m4.10xlarge.elasticsearch
      - m5.large.elasticsearch
      - m5.xlarge.elasticsearch
      - m5.2xlarge.elasticsearch
      - m5.4xlarge.elasticsearch
      - m5.12xlarge.elasticsearch
      - r5.large.elasticsearch
      - r5.xlarge.elasticsearch
      - r5.2xlarge.elasticsearch
      - r5.4xlarge.elasticsearch
      - r5.12xlarge.elasticsearch
      - c5.large.elasticsearch
      - c5.xlarge.elasticsearch
      - c5.2xlarge.elasticsearch
      - c5.4xlarge.elasticsearch
      - c5.9xlarge.elasticsearch
      - c5.18xlarge.elasticsearch
      - t2.micro.elasticsearch
      - t2.small.elasticsearch
      - t2.medium.elasticsearch
      - r3.large.elasticsearch
      - r3.xlarge.elasticsearch
      - r3.2xlarge.elasticsearch
      - r3.4xlarge.elasticsearch
      - r3.8xlarge.elasticsearch
      - i2.xlarge.elasticsearch
      - i2.2xlarge.elasticsearch
      - d2.xlarge.elasticsearch
      - d2.2xlarge.elasticsearch
      - d2.4xlarge.elasticsearch
      - d2.8xlarge.elasticsearch
      - c4.large.elasticsearch
      - c4.xlarge.elasticsearch
      - c4.2xlarge.elasticsearch
      - c4.4xlarge.elasticsearch
      - c4.8xlarge.elasticsearch
      - r4.large.elasticsearch
      - r4.xlarge.elasticsearch
      - r4.2xlarge.elasticsearch
      - r4.4xlarge.elasticsearch
      - r4.8xlarge.elasticsearch
      - r4.16xlarge.elasticsearch
      - i3.large.elasticsearch
      - i3.xlarge.elasticsearch
      - i3.2xlarge.elasticsearch
      - i3.4xlarge.elasticsearch
      - i3.8xlarge.elasticsearch
      - i3.16xlarge.elasticsearch
    type: string
  ElasticsearchClusterConfig:
    description: 'Specifies the configuration for the domain cluster, such as the type and number of instances.'
    properties:
      DedicatedMasterCount:
        $ref: '#/definitions/IntegerClass'
        description: 'Total number of dedicated master nodes, active and on standby, for the cluster.'
      DedicatedMasterEnabled:
        $ref: '#/definitions/Boolean'
        description: 'A boolean value to indicate whether a dedicated master node is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes" target="_blank">About Dedicated Master Nodes</a> for more information.'
      DedicatedMasterType:
        $ref: '#/definitions/ESPartitionInstanceType'
        description: The instance type for a dedicated master node.
      InstanceCount:
        $ref: '#/definitions/IntegerClass'
        description: The number of instances in the specified domain cluster.
      InstanceType:
        $ref: '#/definitions/ESPartitionInstanceType'
        description: The instance type for an Elasticsearch cluster.
      ZoneAwarenessConfig:
        $ref: '#/definitions/ZoneAwarenessConfig'
        description: Specifies the zone awareness configuration for a domain when zone awareness is enabled.
      ZoneAwarenessEnabled:
        $ref: '#/definitions/Boolean'
        description: 'A boolean value to indicate whether zone awareness is enabled. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness" target="_blank">About Zone Awareness</a> for more information.'
    type: object
  ElasticsearchClusterConfigStatus:
    description: ' Specifies the configuration status for the specified Elasticsearch domain.'
    properties:
      Options:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: ' Specifies the cluster configuration for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the configuration for the specified Elasticsearch domain.'
    required:
      - Options
      - Status
    type: object
  ElasticsearchDomainConfig:
    description: The configuration of an Elasticsearch domain.
    properties:
      AccessPolicies:
        $ref: '#/definitions/AccessPoliciesStatus'
        description: IAM access policy as a JSON-formatted string.
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptionsStatus'
        description: 'Specifies the <code>AdvancedOptions</code> for the domain. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options" target="_blank">Configuring Advanced Options</a> for more information.'
      CognitoOptions:
        $ref: '#/definitions/CognitoOptionsStatus'
        description: 'The <code>CognitoOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      EBSOptions:
        $ref: '#/definitions/EBSOptionsStatus'
        description: Specifies the <code>EBSOptions</code> for the Elasticsearch domain.
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfigStatus'
        description: Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionStatus'
        description: String of format X.Y to specify version for the Elasticsearch domain.
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptionsStatus'
        description: Specifies the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain.
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptionsStatus'
        description: Log publishing options for the given domain.
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptionsStatus'
        description: Specifies the <code>NodeToNodeEncryptionOptions</code> for the Elasticsearch domain.
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptionsStatus'
        description: Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.
      VPCOptions:
        $ref: '#/definitions/VPCDerivedInfoStatus'
        description: 'The <code>VPCOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
    type: object
  ElasticsearchDomainStatus:
    description: The current status of an Elasticsearch domain.
    properties:
      ARN:
        $ref: '#/definitions/ARN'
        description: 'The Amazon resource name (ARN) of an Elasticsearch domain. See <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html" target="_blank">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.'
      AccessPolicies:
        $ref: '#/definitions/PolicyDocument'
        description: ' IAM access policy as a JSON-formatted string.'
      AdvancedOptions:
        $ref: '#/definitions/AdvancedOptions'
        description: Specifies the status of the <code>AdvancedOptions</code>
      CognitoOptions:
        $ref: '#/definitions/CognitoOptions'
        description: 'The <code>CognitoOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html" target="_blank">Amazon Cognito Authentication for Kibana</a>.'
      Created:
        $ref: '#/definitions/Boolean'
        description: The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.
      Deleted:
        $ref: '#/definitions/Boolean'
        description: 'The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.'
      DomainId:
        $ref: '#/definitions/DomainId'
        description: The unique identifier for the specified Elasticsearch domain.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).'
      EBSOptions:
        $ref: '#/definitions/EBSOptions'
        description: 'The <code>EBSOptions</code> for the specified domain. See <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs" target="_blank">Configuring EBS-based Storage</a> for more information.'
      ElasticsearchClusterConfig:
        $ref: '#/definitions/ElasticsearchClusterConfig'
        description: The type and number of instances in the domain cluster.
      ElasticsearchVersion:
        $ref: '#/definitions/ElasticsearchVersionString'
      EncryptionAtRestOptions:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: ' Specifies the status of the <code>EncryptionAtRestOptions</code>.'
      Endpoint:
        $ref: '#/definitions/ServiceUrl'
        description: The Elasticsearch domain endpoint that you use to submit index and search requests.
      Endpoints:
        $ref: '#/definitions/EndpointsMap'
        description: 'Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>''vpc'',''vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com''</code>.'
      LogPublishingOptions:
        $ref: '#/definitions/LogPublishingOptions'
        description: Log publishing options for the given domain.
      NodeToNodeEncryptionOptions:
        $ref: '#/definitions/NodeToNodeEncryptionOptions'
        description: Specifies the status of the <code>NodeToNodeEncryptionOptions</code>.
      Processing:
        $ref: '#/definitions/Boolean'
        description: The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active.
      ServiceSoftwareOptions:
        $ref: '#/definitions/ServiceSoftwareOptions'
        description: The current status of the Elasticsearch domain's service software.
      SnapshotOptions:
        $ref: '#/definitions/SnapshotOptions'
        description: Specifies the status of the <code>SnapshotOptions</code>
      UpgradeProcessing:
        $ref: '#/definitions/Boolean'
        description: The status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch Service is undergoing a version upgrade. <code>False</code> if the configuration is active.
      VPCOptions:
        $ref: '#/definitions/VPCDerivedInfo'
        description: 'The <code>VPCOptions</code> for the specified domain. For more information, see <a href="http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html" target="_blank">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.'
    required:
      - DomainId
      - DomainName
      - ARN
      - ElasticsearchClusterConfig
    type: object
  ElasticsearchDomainStatusList:
    description: A list that contains the status of each requested Elasticsearch domain.
    items:
      $ref: '#/definitions/ElasticsearchDomainStatus'
    type: array
  ElasticsearchInstanceTypeList:
    description: ' List of instance types supported by Amazon Elasticsearch service. '
    items:
      $ref: '#/definitions/ESPartitionInstanceType'
    type: array
  ElasticsearchVersionList:
    description: 'List of supported elastic search versions. '
    items:
      $ref: '#/definitions/ElasticsearchVersionString'
    type: array
  ElasticsearchVersionStatus:
    description: ' Status of the Elasticsearch version options for the specified Elasticsearch domain.'
    properties:
      Options:
        $ref: '#/definitions/ElasticsearchVersionString'
        description: ' Specifies the Elasticsearch version for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
        description: ' Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain.'
    required:
      - Options
      - Status
    type: object
  ElasticsearchVersionString:
    type: string
  EncryptionAtRestOptions:
    description: Specifies the Encryption At Rest Options.
    properties:
      Enabled:
        $ref: '#/definitions/Boolean'
        description: Specifies the option to enable Encryption At Rest.
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: ' Specifies the KMS Key ID for Encryption At Rest options.'
    type: object
  EncryptionAtRestOptionsStatus:
    description: ' Status of the Encryption At Rest options for the specified Elasticsearch domain.'
    properties:
      Options:
        $ref: '#/definitions/EncryptionAtRestOptions'
        description: ' Specifies the Encryption At Rest options for the specified Elasticsearch domain.'
      Status:
        $ref: '#/definitions/OptionStatus'
[...]
