openapi: 3.0.1
servers:
  - url: https://api.linode.com/v4
  - url: https://api.linode.com/v4beta
info:
  contact:
    email: support@linode.com
    name: Linode
    url: https://linode.com
  description: |
    ## Introduction
    The Linode API provides the ability to programmatically manage the full
    range of Linode products and services.

    This reference is designed to assist application developers and system
    administrators.  Each endpoint includes descriptions, request syntax, and
    examples using standard HTTP requests. Response data is returned in JSON
    format.


    This document was generated from our OpenAPI Specification.  See the
    <a target="_top" href="https://www.openapis.org">OpenAPI website</a> for more information.

    <a target="_top" href="/docs/api/openapi.yaml">Download the Linode OpenAPI Specification</a>.


    ## Changelog

    <a target="_top" href="/docs/products/tools/api/release-notes/">View our Changelog</a> to see release
    notes on all changes made to our API.

    ## Access and Authentication

    Some endpoints are publicly accessible without requiring authentication.
    All endpoints affecting your Account, however, require either a Personal
    Access Token or OAuth authentication (when using third-party
    applications).

    ### Personal Access Token

    The easiest way to access the API is with a Personal Access Token (PAT)
    generated from the
    <a target="_top" href="https://cloud.linode.com/profile/tokens">Linode Cloud Manager</a> or
    the [Create Personal Access Token](/docs/api/profile/#personal-access-token-create) endpoint.

    All scopes for the OAuth security model ([defined below](/docs/api/profile/#oauth)) apply to this
    security model as well.

    #### Authentication

    | Security Scheme Type: | HTTP |
    |-----------------------|------|
    | **HTTP Authorization Scheme** | bearer |

    ### OAuth
    If you only need to access the Linode API for personal use,
    we recommend that you create a [personal access token](/docs/api/#personal-access-token).
    If you're designing an application that can authenticate with an arbitrary Linode user, then
    you should use the OAuth 2.0 workflows presented in this section.

    For a more detailed example of an OAuth 2.0 implementation, see our guide on [How to Create an OAuth App with the Linode Python API Library](/docs/products/tools/api/guides/create-an-oauth-app-with-the-python-api-library/#oauth-2-authentication-exchange).

    Before you implement OAuth in your application, you first need to create an OAuth client. You can do this [with the Linode API](/docs/api/account/#oauth-client-create) or [via the Cloud Manager](https://cloud.linode.com/profile/clients):

      - When creating the client, you'll supply a `label` and a `redirect_uri` (referred to as the Callback URL in the Cloud Manager).
      - The response from this endpoint will give you a `client_id` and a `secret`.
      - Clients can be public or private, and are private by default. You can choose to make the client public when it is created.
        - A private client is used with applications which can securely store the client secret (that is, the secret returned to you when you first created the client). For example, an application running on a secured server that only the developer has access to would use a private OAuth client. This is also called a confidential client in some OAuth documentation.
        - A public client is used with applications where the client secret is not guaranteed to be secure. For example, a native app running on a user's computer may not be able to keep the client secret safe, as a user could potentially inspect the source of the application. So, native apps or apps that run in a user's browser should use a public client.
        - Public and private clients follow different workflows, as described below.

    #### OAuth Workflow

    The OAuth workflow is a series of exchanges between your third-party app and Linode. The workflow is used
    to authenticate a user before an application can start making API calls on the user's behalf.

    Notes:

    - With respect to the diagram in [section 1.2 of RFC 6749](https://tools.ietf.org/html/rfc6749#section-1.2), login.linode.com (referred to in this section as the *login server*)
    is the Resource Owner and the Authorization Server; api.linode.com (referred to here as the *api server*) is the Resource Server.
    - The OAuth spec refers to the private and public workflows listed below as the [authorization code flow](https://tools.ietf.org/html/rfc6749#section-1.3.1) and [implicit flow](https://tools.ietf.org/html/rfc6749#section-1.3.2).

    | PRIVATE WORKFLOW | PUBLIC WORKFLOW |
    |------------------|------------------|
    | 1.  The user visits the application's website and is directed to login with Linode. | 1.  The user visits the application's website and is directed to login with Linode. |
    | 2.  Your application then redirects the user to Linode's [login server](https://login.linode.com) with the client application's `client_id` and requested OAuth `scope`, which should appear in the URL of the login page. | 2.  Your application then redirects the user to Linode's [login server](https://login.linode.com) with the client application's `client_id` and requested OAuth `scope`, which should appear in the URL of the login page. |
    | 3.  The user logs into the login server with their username and password. | 3.  The user logs into the login server with their username and password. |
    | 4.  The login server redirects the user to the specificed redirect URL with a temporary authorization `code` (exchange code) in the URL. | 4.  The login server redirects the user back to your application with an OAuth `access_token` embedded in the redirect URL's hash. This is temporary and expires in two hours. No `refresh_token` is issued. Therefore, once the `access_token` expires, a new one will need to be issued by having the user log in again. |
    | 5.  The application issues a POST request (*see additional details below*) to the login server with the exchange code, `client_id`, and the client application's `client_secret`. | |
    | 6.  The login server responds to the client application with a new OAuth `access_token` and `refresh_token`. The `access_token` is set to expire in two hours. | |
    | 7.  The `refresh_token` can be used by contacting the login server with the `client_id`, `client_secret`, `grant_type`, and `refresh_token` to get a new OAuth `access_token` and `refresh_token`. The new `access_token` is good for another two hours, and the new `refresh_token` can be used to extend the session again by this same method (*see additional details below*). | |

    #### OAuth Private Workflow - Additional Details

    The following information expands on steps 5 through 7 of the private workflow:

    Once the user has logged into Linode and you have received an exchange code,
    you will need to trade that exchange code for an `access_token` and `refresh_token`. You
    do this by making an HTTP POST request to the following address:

    ```
    https://login.linode.com/oauth/token
    ```

    Make this request as `application/x-www-form-urlencoded` or as
    `multipart/form-data` and include the following parameters in the POST body:

    | PARAMETER | DESCRIPTION |
    |-----------|-------------|
    | client_id | Your app's client ID. |
    | client_secret | Your app's client secret. |
    | code | The code you just received from the redirect. |

    You'll get a response like this:

    ```json
    {
      "scope": "linodes:read_write",
      "access_token": "03d084436a6c91fbafd5c4b20c82e5056a2e9ce1635920c30dc8d81dc7a6665c",
      "refresh_token": "f2ec9712e616fdb5a2a21aa0e88cfadea7502ebc62cf5bd758dbcd65e1803bad",
      "token_type": "bearer",
      "expires_in": 7200
    }
    ```

    Included in the response is an `access_token`. With this token, you can proceed to make
    authenticated HTTP requests to the API by adding this header to each request:

    ```
    Authorization: Bearer 03d084436a6c91fbafd5c4b20c82e5056a2e9ce1635920c30dc8d81dc7a6665c
    ```

    This `access_token` is set to expire in two hours. To refresh access prior to expiration, make another request to the same URL with the following parameters in the POST body:

    | PARAMETER | DESCRIPTION |
    |-----------|-------------|
    | grant_type | The grant type you're using. Use "refresh_token" when refreshing access. |
    | client_id | Your app's client ID. |
    | client_secret | Your app's client secret. |
    | refresh_token | The `refresh_token` received from the previous response. |

    You'll get another response with an updated `access_token` and `refresh_token`, which can then be used to refresh access again.

    #### OAuth Reference

    | Security Scheme Type | OAuth 2.0 |
    |-----------------------|--------|
    | **Authorization URL** | https://login.linode.com/oauth/authorize |
    | **Token URL** | https://login.linode.com/oauth/token |
    | **Scopes** | <ul><li>`account:read_only` - Allows access to GET information about your Account.</li><li>`account:read_write` - Allows access to all endpoints related to your Account.</li><li>`databases:read_only` - Allows access to GET Managed Databases on your Account.</li><li>`databases:read_write` - Allows access to all endpoints related to your Managed Databases.</li><li>`domains:read_only` - Allows access to GET Domains on your Account.</li><li>`domains:read_write` - Allows access to all Domain endpoints.</li><li>`events:read_only` - Allows access to GET your Events.</li><li>`events:read_write` - Allows access to all endpoints related to your Events.</li><li>`firewall:read_only` - Allows access to GET information about your Firewalls.</li><li>`firewall:read_write` - Allows access to all Firewall endpoints.</li><li>`images:read_only` - Allows access to GET your Images.</li><li>`images:read_write` - Allows access to all endpoints related to your Images.</li><li>`ips:read_only` - Allows access to GET your ips.</li><li>`ips:read_write` - Allows access to all endpoints related to your ips.</li><li>`linodes:read_only` - Allows access to GET Linodes on your Account.</li><li>`linodes:read_write` - Allow access to all endpoints related to your Linodes.</li><li>`lke:read_only` - Allows access to GET LKE Clusters on your Account.</li><li>`lke:read_write` - Allows access to all endpoints related to LKE Clusters on your Account.</li><li>`longview:read_only` - Allows access to GET your Longview Clients.</li><li>`longview:read_write` - Allows access to all endpoints related to your Longview Clients.</li><li>`nodebalancers:read_only` - Allows access to GET NodeBalancers on your Account.</li><li>`nodebalancers:read_write` - Allows access to all NodeBalancer endpoints.</li><li>`object_storage:read_only` - Allows access to GET information related to your Object Storage.</li><li>`object_storage:read_write` - Allows access to all Object Storage endpoints.</li><li>`stackscripts:read_only` - Allows access to GET your StackScripts.</li><li>`stackscripts:read_write` - Allows access to all endpoints related to your StackScripts.</li><li>`volumes:read_only` - Allows access to GET your Volumes.</li><li>`volumes:read_write` - Allows access to all endpoints related to your Volumes.</li></ul><br/>|

    ## Requests

    Requests must be made over HTTPS to ensure transactions are encrypted. The
    following Request methods are supported:

    | METHOD | USAGE |
    |--------|-------|
    | GET    | Retrieves data about collections and individual resources. |
    | POST   | For collections, creates a new resource of that type. Also used to perform actions on action endpoints. |
    | PUT    | Updates an existing resource. |
    | DELETE | Deletes a resource. This is a destructive action. |


    ## Responses

    Actions will return one following HTTP response status codes:

    | STATUS  | DESCRIPTION |
    |---------|-------------|
    | 200 OK  | The request was successful. |
    | 202 Accepted | The request was successful, but processing has not been completed. The response body includes a "warnings" array containing the details of incomplete processes. |
    | 204 No Content | The server successfully fulfilled the request and there is no additional content to send. |
    | 299 Deprecated | The request was successful, but involved a deprecated endpoint. The response body includes a "warnings" array containing warning messages. |
    | 400 Bad Request | You submitted an invalid request (missing parameters, etc.). |
    | 401 Unauthorized | You failed to authenticate for this resource. |
    | 403 Forbidden | You are authenticated, but don't have permission to do this. |
    | 404 Not Found | The resource you're requesting does not exist. |
    | 429 Too Many Requests | You've hit a rate limit. |
    | 500 Internal Server Error | Please [open a Support Ticket](/docs/api/support/#support-ticket-open). |

    ## Errors

    Success is indicated via <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="_top">Standard HTTP status codes</a>.
    `2xx` codes indicate success, `4xx` codes indicate a request error, and
    `5xx` errors indicate a server error. A
    request error might be an invalid input, a required parameter being omitted,
    or a malformed request. A server error means something went wrong processing
    your request. If this occurs, please
    [open a Support Ticket](/docs/api/support/#support-ticket-open)
    and let us know. Though errors are logged and we work quickly to resolve issues,
    opening a ticket and providing us with reproducable steps and data is always helpful.

    The `errors` field is an array of the things that went wrong with your request.
    We will try to include as many of the problems in the response as possible,
    but it's conceivable that fixing these errors and resubmitting may result in
    new errors coming back once we are able to get further along in the process
    of handling your request.


    Within each error object, the `field` parameter will be included if the error
    pertains to a specific field in the JSON you've submitted. This will be
    omitted if there is no relevant field. The `reason` is a human-readable
    explanation of the error, and will always be included.

    ## Pagination

    Resource lists are always paginated. The response will look similar to this:

    ```json
    {
        "data": [ ... ],
        "page": 1,
        "pages": 3,
        "results": 300
    }
    ```

    * Pages start at 1. You may retrieve a specific page of results by adding
    `?page=x` to your URL (for example, `?page=4`). If the value of `page`
    exceeds `2^64/page_size`, the last possible page will be returned.


    * Page sizes default to 100,
    and can be set to return between 25 and 500. Page size can be set using
    `?page_size=x`.

    ## Filtering and Sorting

    Collections are searchable by fields they include, marked in the spec as
    `x-linode-filterable: true`. Filters are passed
    in the `X-Filter` header and are formatted as JSON objects. Here is a request
    call for Linode Types in our "standard" class:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: { "class": "standard" }'
    ```

    The filter object's keys are the keys of the object you're filtering,
    and the values are accepted values. You can add multiple filters by
    including more than one key. For example, filtering for "standard" Linode
    Types that offer one vcpu:

    ```Shell
     curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: { "class": "standard", "vcpus": 1 }'
    ```

    In the above example, both filters are combined with an "and" operation.
    However, if you wanted either Types with one vcpu or Types in our "standard"
    class, you can add an operator:

     ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: { "+or": [ { "vcpus": 1 }, { "class": "standard" } ] }'
    ```

    Each filter in the `+or` array is its own filter object, and all conditions
    in it are combined with an "and" operation as they were in the previous example.

    Other operators are also available. Operators are keys of a Filter JSON
    object. Their value must be of the appropriate type, and they are evaluated
    as described below:

    | OPERATOR | TYPE   | DESCRIPTION                       |
    |----------|--------|-----------------------------------|
    | +and     | array  | All conditions must be true.       |
    | +or      | array  | One condition must be true.        |
    | +gt      | number | Value must be greater than number. |
    | +gte     | number | Value must be greater than or equal to number. |
    | +lt      | number | Value must be less than number. |
    | +lte     | number | Value must be less than or equal to number. |
    | +contains | string | Given string must be in the value. |
    | +neq      | string | Does not equal the value.          |
    | +order_by | string | Attribute to order the results by - must be filterable. |
    | +order    | string | Either "asc" or "desc". Defaults to "asc". Requires `+order_by`. |

    For example, filtering for [Linode Types](/docs/api/linode-types/)
    that offer memory equal to or higher than 61440:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H '
        X-Filter: {
          "memory": {
            "+gte": 61440
          }
        }'
    ```

    You can combine and nest operators to construct arbitrarily-complex queries.
    For example, give me all [Linode Types](/docs/api/linode-types/)
    which are either `standard` or `highmem` class, or
    have between 12 and 20 vcpus:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H '
        X-Filter: {
          "+or": [
            {
              "+or": [
                {
                  "class": "standard"
                },
                {
                  "class": "highmem"
                }
              ]
            },
            {
              "+and": [
                {
                  "vcpus": {
                    "+gte": 12
                  }
                },
                {
                  "vcpus": {
                    "+lte": 20
                  }
                }
              ]
            }
          ]
        }'
    ```
    ## Time Values

    All times returned by the API are in UTC, regardless of the timezone configured within your user's profile (see `timezone` property within [Profile View](/docs/api/profile/#profile-view__responses)).

    ## Rate Limiting

    Rate limits on API requests help maintain the health and stability of the Linode API. Accordingly, every endpoint of the Linode API applies a rate limit on a per user basis as determined by OAuth token for authenticated requests or IP address for public endpoints.

    Each rate limit consists of a total number of requests and a time window. For example, if an endpoint has a rate limit of 800 requests per minute, then up to 800 requests over a one minute window are permitted. Subsequent requests to an endpoint after hitting a rate limit return a 429 error. You can successfully remake requests to that endpoint after the rate limit window resets.

    ### Linode APIv4 Rate Limits

    With the Linode API, you can generally make up to 1,600 general API requests every two minutes. Additionally, all endpoints have a rate limit of 800 requests per minute unless otherwise specified below.

    **Note:** There may be rate limiting applied at other levels outside of the API, for example, at the load balancer.

    Creating Linodes has a dedicated rate limit of 10 requests per 30 seconds. That endpoint is:

    * [Linode Create](/docs/api/linode-instances/#linode-create)

    `/stats` endpoints have their own dedicated rate limits of 100 requests per minute. These endpoints are:

    * [View Linode Statistics](/docs/api/linode-instances/#linode-statistics-view)
    * [View Linode Statistics (year/month)](/docs/api/linode-instances/#statistics-yearmonth-view)
    * [View NodeBalancer Statistics](/docs/api/nodebalancers/#nodebalancer-statistics-view)
    * [List Managed Stats](/docs/api/managed/#managed-stats-list)

    Object Storage endpoints have a dedicated rate limit of 750 requests per second. The Object Storage endpoints are:

    * [Object Storage Endpoints](/docs/api/object-storage/)

    Opening Support Tickets has a dedicated rate limit of 2 requests per minute. That endpoint is:

    * [Open Support Ticket](/docs/api/support/#support-ticket-open)

    Accepting Service Transfers has a dedicated rate limit of 2 requests per minute. That endpoint is:

    * [Service Transfer Accept](/docs/api/account/#service-transfer-accept)

    ### Rate Limit HTTP Response Headers

    The Linode API includes the following HTTP response headers which are designed to help you avoid hitting rate limits that might disrupt your applications:

    * **X-RateLimit-Limit**: The maximum number of permitted requests during the rate limit window for this endpoint.
    * **X-RateLimit-Remaining**: The remaining number of permitted requests in the current rate limit window.
    * **X-RateLimit-Reset**: The time when the current rate limit window rests in UTC epoch seconds.
    * **Retry-After**: The remaining time in seconds until the current rate limit window resets.

    There are many ways to access header information for your requests, depending on how you are accessing the Linode API. For example, to view HTTP response headers when making requests with `curl`, use the `-i` or `--include` option as follows:

    ```Shell
    curl -i https://api.linode.com/v4/regions
    ```

    ## CLI (Command Line Interface)

    The <a href="https://github.com/linode/linode-cli" target="_top">Linode CLI</a> allows you to easily
    work with the API using intuitive and simple syntax. It requires a
    [Personal Access Token](/docs/api/#personal-access-token)
    for authentication, and gives you access to all of the features and functionality
    of the Linode API that are documented here with CLI examples.

    Endpoints that do not have CLI examples are currently unavailable through the CLI, but
    can be accessed via other methods such as Shell commands and other third-party applications.
  title: Linode API
  version: 4.145.0
  x-apisguru-categories:
    - cloud
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://www.linode.com/docs/api/openapi.yaml
      version: "3.0"
  x-providerName: linode.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: Use the Account endpoints to manage user settings, billing, and payments. You can also initiate and maintain OAuth client application authentication, enable the Linode Managed service, and create new users on your account.
    name: Account
  - description: Managed Databases is Linode's fully-managed, high-performance database service. Use the Managed Databases endpoints to create and manage database clusters.
    name: Databases
  - description: Use the Domains endpoints to create and manage domains and domain records on your account.
    name: Domains
  - description: Use the Images endpoints to capture, store, and manage custom Linode images.
    name: Images
  - description: Use the Linode Instances endpoints to create, configure, and manage your Linode instances. You can also manage the Linode Backup service; maintain and manage configuration profiles; create and maintain disks, intiate a host migration; view Linode Instance statistics; and more.
    name: Linode Instances
  - description: Use the Linode Types endpoints to retrieve information about Linode plan types, including pricing information, hardware resources, and network transfer allotment.
    name: Linode Types
  - description: Linode Kubernetes Engine (LKE) is Linode's managed Kubernetes service. Use the LKE endpoints to create and manage Kubernetes clusters and their associated Node Pools.
    name: Linode Kubernetes Engine (LKE)
  - description: Longview is Linode's system-level monitoring and graphing service. Use the Longview endpoints to manage your Longview subscription and plan and to create and maintain Longview clients.
    name: Longview
  - description: Managed is Linode's incident response service. Use the Managed endpoints to register a service to be monitored by the Managed Service team, provide secure access to your managed services,  view information about detected issues, and more.
    name: Managed
  - description: Use the Networking endpoints to view all IP addresses on your account, reorganize assigned IPv4 addresses, update RDNS, and configure IP sharing.
    name: Networking
  - description: NodeBalancers is Linode's load balancing service. Use the NodeBalancers endpoints to create and manage NodeBalancers. You can also create and maintain configurations; create and maintain nodes, and view statistics.
    name: NodeBalancers
  - description: Object Storage is Linode's S3-compatible data storage service. Use the Object Storage endpoints to create and maintaining buckets, add and remove objects from buckets, create and maintain Object Storage keys, and cancel the Object Storage service.
    name: Object Storage
  - description: Use the Profile endpoints to manage your Linode user profile preferences and security settings. This includes creating and maintaining personal access tokens, creating and maintaining SSH keys, confirming and enabling two-factor authentication, and updating user and profile preferences.
    name: Profile
  - description: Use the Regions endpoints to view information about the various Linode data center regions, including the service capabilities for each region, country, status, and more.
    name: Regions
  - description: Linode StackScripts allow you to create reusable scripts to configure new Linode instances. Use the StackScripts endpoints to create and manage StackScripts on your account.
    name: StackScripts
  - description: Use the Support endpoints to open, view, and close Linode Support tickets. You can also create and manage your Support ticket replies.
    name: Support
  - description: Tags allow you to organize and group your various Linode services. Use the Tags endpoints to create, assign, and delete your account tags.
    name: Tags
  - description: Volumes is Linode's block storage service. Use the Volumes endpoints to create, attach, and manage your account Volumes.
    name: Volumes
paths:
  /account:
    get:
      description: |
        Returns the contact and billing information related to your Account.
      operationId: getAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Returns a single Account object.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Account View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account
        - lang: CLI
          source: |
            linode-cli account view
      x-linode-cli-action: view
      x-linode-grant: read_only
    put:
      description: |
        Updates contact and billing information related to your Account.
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
        description: |
          Update contact and billing information.

          Account properties that are excluded from a request remain unchanged.

          When updating an Account's `country` to "US", an error is returned if the Account's `zip` is not a valid US zip code.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: The updated Account.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Account Update
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "address_1": "123 Main St.",
                  "address_2": "Suite 101",
                  "city": "Philadelphia",
                  "company": "My Company, LLC",
                  "country": "US",
                  "email": "jsmith@mycompany.com",
                  "first_name": "John",
                  "last_name": "Smith",
                  "phone": "555-555-1212",
                  "state": "PA",
                  "tax_id": "ATU99999999",
                  "zip": "19102"
                }' \
                https://api.linode.com/v4/account
        - lang: CLI
          source: |
            linode-cli account update \
              --address_1 "123 Main St." \
              --address_2 "Suite 101" \
              --city Philadelphia \
              --company My Company \ LLC \
              --country US \
              --email jsmith@mycompany.com \
              --first_name John \
              --last_name Smith \
              --phone 555-555-1212 \
              --state PA \
              --tax_id ATU99999999 \
              --zip 19102
      x-linode-cli-action: update
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/cancel:
    post:
      description: |
        Cancels an active Linode account. This action will cause Linode to attempt to charge the credit card on file for the remaining balance. An error will occur if Linode fails to charge the credit card on file. Restricted users will not be able to cancel an account.
      operationId: cancelAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comments:
                  description: |
                    Any reason for cancelling the account, and any other comments you might have about your Linode service.
                  example: I'm consolidating multiple accounts into one.
                  type: string
        description: |
          Supply a comment stating the reason that you are cancelling your account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  survey_link: https://alinktothesurvey.com'
                properties:
                  survey_link:
                    description: A link to Linode's exit survey.
                    type: string
                type: object
          description: Account cancelled
        "409":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        reason:
                          description: |
                            A string explaining that the account could not be cancelled because there is an outstanding balance on the account that must be paid first.
                          example: |
                            We were unable to charge your credit card for services rendered. We cannot cancel this account until the balance has been paid.
                          type: string
                      type: object
                    type: array
                type: object
          description: Could not charge the credit card on file
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Account Cancel
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "comments": "I am consolidating my accounts."
                }' \
                https://api.linode.com/v4/account/cancel
        - lang: CLI
          source: |
            linode-cli account cancel \
              --comments "I'm consolidating my accounts"
      x-linode-cli-action: cancel
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/credit-card:
    post:
      deprecated: true
      description: |
        **DEPRECATED**. Please use Payment Method Add ([POST /account/payment-methods](/docs/api/account/#payment-method-add)).

        Adds a credit card Payment Method to your account and sets it as the default method.
      operationId: createCreditCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditCard"
        description: Update the credit card information associated with your Account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Credit Card updated.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Credit Card Add/Edit
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "card_number": "4111111111111111",
                  "expiry_month": 11,
                  "expiry_year": 2020,
                  "cvv": "111"
                }' \
                https://api.linode.com/v4/account/credit-card
        - lang: CLI
          source: |
            linode-cli account update-card \
              --card_number 4111111111111111 \
              --expiry_month 11 \
              --expiry_year 2025 \
              --cvv 111
      x-linode-cli-action: update-card
      x-linode-cli-skip: true
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/entity-transfers:
    get:
      deprecated: true
      description: |
        **DEPRECATED**. Please use [Service Transfers List](/docs/api/account/#service-transfers-list).
      operationId: getEntityTransfers
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationEnvelope"
                  - properties:
                      data:
                        items:
                          $ref: "#/components/schemas/EntityTransfer"
                        type: array
          description: |
            Returns a paginated list of Entity Transfer objects containing the details of all transfers that have been created and accepted by this account.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Entity Transfers List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/entity-transfers
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    post:
      deprecated: true
      description: |
        **DEPRECATED**. Please use [Service Transfer Create](/docs/api/account/#service-transfer-create).
      operationId: createEntityTransfer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                entities:
                  $ref: "#/components/schemas/EntityTransfer/properties/entities"
              required:
                - entities
              type: object
        description: The entities to include in this transfer request.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityTransfer"
          description: |
            Returns an Entity Transfer object for the request.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Entity Transfer Create
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "entities": {
                  "linodes": [
                    111,
                    222
                  ]
                }
              }' \
              https://api.linode.com/v4/account/entity-transfers
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
  "/account/entity-transfers/{token}":
    delete:
      deprecated: true
      description: |
        **DEPRECATED**. Please use [Service Transfer Cancel](/docs/api/account/#service-transfer-cancel).
      operationId: deleteEntityTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: |
            Entity Transfer cancelled.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Entity Transfer Cancel
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/account/entity-transfers/123E4567-E89B-12D3-A456-426614174000
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    get:
      deprecated: true
      description: |
        **DEPRECATED**. Please use [Service Transfer View](/docs/api/account/#service-transfer-view).
      operationId: getEntityTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityTransfer"
          description: |
            Returns an Entity Transfer object containing the details of the transfer for the specified token.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Entity Transfer View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/entity-transfers/123E4567-E89B-12D3-A456-426614174000
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    parameters:
      - description: The UUID of the Entity Transfer.
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
  "/account/entity-transfers/{token}/accept":
    parameters:
      - description: The UUID of the Entity Transfer.
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
    post:
      deprecated: true
      description: |
        **DEPRECATED**. Please use [Service Transfer Accept](/docs/api/account/#service-transfer-accept).
      operationId: acceptEntityTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: |
            Entity Transfer accepted.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Entity Transfer Accept
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              -X POST \
              https://api.linode.com/v4/account/entity-transfers/123E4567-E89B-12D3-A456-426614174000/accept
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
  /account/events:
    get:
      description: |
        Returns a collection of Event objects representing actions taken on your Account from the last 90 days. The Events returned depend on your grants.
      operationId: getEvents
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Event"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: |
            Returns a paginated lists of Event objects from the last 90 days.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - events:read_only
      summary: Events List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/events
        - lang: CLI
          source: |
            linode-cli events list
      x-linode-cli-action:
        - list
        - ls
      x-linode-grant: read_only
    x-linode-cli-command: events
  "/account/events/{eventId}":
    get:
      description: |
        Returns a single Event object.
      operationId: getEvent
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: An Event object
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - events:read_only
      summary: Event View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/events/123
        - lang: CLI
          source: |
            linode-cli events view 123
      x-linode-cli-action: view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Event.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    x-linode-cli-command: events
  "/account/events/{eventId}/read":
    parameters:
      - description: The ID of the Event to designate as read.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    post:
      description: Marks a single Event as read.
      operationId: eventRead
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Event read.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - events:read_only
      summary: Event Mark as Read
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/read
        - lang: CLI
          source: |
            linode-cli events mark-read 123
      x-linode-cli-action: mark-read
      x-linode-grant: read_only
    x-linode-cli-command: events
  "/account/events/{eventId}/seen":
    parameters:
      - description: The ID of the Event to designate as seen.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    post:
      description: |
        Marks all Events up to and including this Event by ID as seen.
      operationId: eventSeen
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Events seen.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - events:read_only
      summary: Event Mark as Seen
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/seen
        - lang: CLI
          source: |
            linode-cli events mark-seen 123
      x-linode-cli-action: mark-seen
      x-linode-grant: read_write
    x-linode-cli-command: events
  /account/invoices:
    get:
      description: |
        Returns a paginated list of Invoices against your Account.
      operationId: getInvoices
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Invoice"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: Returns a paginated list of Invoice objects.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Invoices List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices
        - lang: CLI
          source: |
            linode-cli account invoices-list
      x-linode-cli-action: invoices-list
      x-linode-grant: read_only
    x-linode-cli-command: account
  "/account/invoices/{invoiceId}":
    get:
      description: Returns a single Invoice object.
      operationId: getInvoice
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
          description: An Invoice object
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Invoice View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123
        - lang: CLI
          source: |
            linode-cli account invoice-view 123
      x-linode-cli-action: invoice-view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Invoice.
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  "/account/invoices/{invoiceId}/items":
    get:
      description: Returns a paginated list of Invoice items.
      operationId: getInvoiceItems
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/InvoiceItem"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: A paginated list of InvoiceItem objects
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Invoice Items List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123/items
        - lang: CLI
          source: |
            linode-cli account invoice-items 123
      x-linode-cli-action: invoice-items
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Invoice.
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  /account/logins:
    get:
      description: |
        Returns a collection of successful logins for all users on the account during the last 90 days. This command can only be accessed by the unrestricted users of an account.
      operationId: getAccountLogins
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Login"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: |
            A collection of successful logins for all users on the account during the last 90 days.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: User Logins List All
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/logins
        - lang: CLI
          source: |
            linode-cli account logins-list
      x-linode-cli-action: logins-list
    x-linode-cli-command: account
  "/account/logins/{loginId}":
    get:
      description: |
        Returns a Login object that displays information about a successful login. The logins that can be viewed can be for any user on the account, and are not limited to only the logins of the user that is accessing this API endpoint. This command can only be accessed by the unrestricted users of the account.
      operationId: getAccountLogin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Login"
          description: The requested login object.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Login View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/logins/1234
        - lang: CLI
          source: |
            linode-cli account login-view 1234
      x-linode-cli-action: login-view
    parameters:
      - description: The ID of the login object to access.
        in: path
        name: loginId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  /account/maintenance:
    get:
      description: |
        Returns a collection of Maintenance objects for any entity a user has permissions to view. Cancelled Maintenance objects are not returned.

        Currently, Linodes are the only entities available for viewing.
      operationId: getMaintenance
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Maintenance"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: Returns a paginated list of Maintenance objects.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth: []
      servers:
        - url: https://api.linode.com/v4
        - url: https://api.linode.com/v4beta
      summary: Maintenance List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/maintenance
        - lang: CLI
          source: |
            linode-cli account maintenance-list
      x-linode-cli-action: maintenance-list
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/notifications:
    get:
      description: |
        Returns a collection of Notification objects representing important, often time-sensitive items related to your Account.
        You cannot interact directly with Notifications, and a Notification will disappear when the circumstances causing it have been resolved. For example, if you have an important Ticket open, you must respond to the Ticket to dismiss the Notification.
      operationId: getNotifications
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Notification"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: Returns a paginated list of Notification objects.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Notifications List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/notifications
        - lang: CLI
          source: |
            linode-cli account notifications-list
      x-linode-cli-action: notifications-list
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/oauth-clients:
    get:
      description: |
        Returns a paginated list of OAuth Clients registered to your Account.  OAuth Clients allow users to log into applications you write or host using their Linode Account, and may allow them to grant some level of access to their Linodes or other entities to your application.
      operationId: getClients
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/OAuthClient"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: A paginated list of OAuth Clients.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: OAuth Clients List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients
        - lang: CLI
          source: |
            linode-cli account clients-list
      x-linode-cli-action: clients-list
      x-linode-grant: read_only
    post:
      description: |
        Creates an OAuth Client, which can be used to allow users (using their Linode account) to log in to your own application, and optionally grant your application some amount of access to their Linodes or other entities.
      operationId: createClient
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/OAuthClient"
              required:
                - label
                - redirect_uri
        description: Information about the OAuth Client to create.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthClient"
          description: Client created successfully.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: OAuth Client Create
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "redirect_uri": "https://example.org/oauth/callback",
                    "label": "Test_Client_1",
                    "public": false
                }' \
                https://api.linode.com/v4/account/oauth-clients
        - lang: CLI
          source: |
            linode-cli account client-create \
              --label Test_Client_1 \
              --redirect_uri https://example.org/callback
      x-linode-cli-action: client-create
    x-linode-cli-command: account
  "/account/oauth-clients/{clientId}":
    delete:
      description: |
        Deletes an OAuth Client registered with Linode. The Client ID and Client secret will no longer be accepted by <a target="_top" href="https://login.linode.com">https://login.linode.com</a>, and all tokens issued to this client will be invalidated (meaning that if your application was using a token, it will no longer work).
      operationId: deleteClient
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Client deleted successfully.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: OAuth Client Delete
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-delete \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-delete
    get:
      description: |
        Returns information about a single OAuth client.
      operationId: getClient
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthClient"
          description: Information about the requested client.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: OAuth Client View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-view \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-view
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    put:
      description: |
        Update information about an OAuth Client on your Account. This can be especially useful to update the `redirect_uri` of your client in the event that the callback url changed in your application.
      operationId: updateClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthClient"
        description: The fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthClient"
          description: Client updated successfully.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: OAuth Client Update
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "redirect_uri": "https://example.org/oauth/callback",
                  "label": "Test_Client_1"
                  }
                }' \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-update \
              edc6790ea9db4d224c5c \
              --label Test_Client_1
      x-linode-cli-action: client-update
    x-linode-cli-command: account
  "/account/oauth-clients/{clientId}/reset-secret":
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    post:
      description: |
        Resets the OAuth Client secret for a client you own, and returns the OAuth Client with the plaintext secret. This secret is not supposed to be publicly known or disclosed anywhere. This can be used to generate a new secret in case the one you have has been leaked, or to get a new secret if you lost the original. The old secret is expired immediately, and logins to your client with the old secret will fail.
      operationId: resetClientSecret
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthClient"
          description: Client secret reset successfully.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: OAuth Client Secret Reset
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/reset-secret
        - lang: CLI
          source: |
            linode-cli account client-reset-secret \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-reset-secret
    x-linode-cli-command: account
  "/account/oauth-clients/{clientId}/thumbnail":
    get:
      description: |
        Returns the thumbnail for this OAuth Client.  This is a publicly-viewable endpoint, and can be accessed without authentication.
      operationId: getClientThumbnail
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: The client's thumbnail.
        default:
          $ref: "#/components/responses/ErrorResponse"
      summary: OAuth Client Thumbnail View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail > thumbnail.png
      x-linode-cli-action: client-thumbnail
      x-linode-cli-skip: true
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    put:
      description: |
        Upload a thumbnail for a client you own.  You must upload an image file that will be returned when the thumbnail is retrieved.  This image will be publicly-viewable.
      operationId: setClientThumbnail
      requestBody:
        content:
          image/png:
            schema:
              format: binary
              type: string
        description: The image to set as the thumbnail.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Thumbnail updated successfully.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: OAuth Client Thumbnail Update
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: image/png" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT \
                --data-binary "/path/to/image"
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail
      x-linode-cli-action: update-client-thumbnail
      x-linode-cli-skip: true
    x-linode-cli-command: account
  /account/payment-methods:
    get:
      description: |
        Returns a paginated list of Payment Methods for this Account.
      operationId: getPaymentMethods
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/PaymentMethod"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: Returns a paginated list of Payment Method objects.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      servers:
        - url: https://api.linode.com/v4
        - url: https://api.linode.com/v4beta
      summary: Payment Methods List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payment-methods
        - lang: CLI
          source: |
            linode-cli payment-methods list
      x-linode-cli-action:
        - list
        - ls
      x-linode-grant: read_only
    post:
      description: |
        Adds a Payment Method to your Account with the option to set it as the default method.

        * Adding a default Payment Method removes the default status from any other Payment Method.

        * An Account can have up to 6 active Payment Methods.

        * Up to 60 Payment Methods can be added each day.

        * Prior to adding a Payment Method, ensure that your billing address information is up-to-date
        with a valid `zip` by using the Account Update ([PUT /account](/docs/api/account/#account-update)) endpoint.

        * A `payment_method_add` event is generated when a payment is successfully submitted.
      operationId: createPaymentMethod
      requestBody:
        content:
          application/json:
            schema:
              description: Payment Method Request Object.
              properties:
                data:
                  $ref: "#/components/schemas/CreditCard"
                is_default:
                  $ref: "#/components/schemas/PaymentMethod/properties/is_default"
                type:
                  description: |
                    The type of Payment Method.

                    Alternative Payment Methods including Google Pay and PayPal can be added using the Cloud Manager. See the [Manage Payment Methods](/docs/products/platform/billing/guides/payment-methods/) guide
                    for details and instructions.
                  enum:
                    - credit_card
                  example: credit_card
                  type: string
              required:
                - type
                - data
                - is_default
              type: object
        description: The details of the Payment Method to add.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Payment Method added.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      servers:
        - url: https://api.linode.com/v4
      summary: Payment Method Add
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "type": "credit_card",
                  "is_default": true,
                  "data": {
                    "card_number": "4111111111111111",
                    "expiry_month": 11,
                    "expiry_year": 2020,
                    "cvv": "111"
                  }
                }' \
                https://api.linode.com/v4/account/payment-methods
        - lang: CLI
          source: |
            linode-cli payment-methods add \
              --type credit_card \
              --is_default true \
              --data.card_number 4111111111111111 \
              --data.expiry_month 11 \
              --data.expiry_year 2020 \
              --data.cvv 111
      x-linode-cli-action: add
      x-linode-grant: read_write
    x-linode-cli-command: payment-methods
  "/account/payment-methods/{paymentMethodId}":
    delete:
      description: |
        Deactivate the specified Payment Method.

        The default Payment Method can not be deleted. To add a new default Payment Method, access the Payment Method
        Add ([POST /account/payment-methods](/docs/api/account/#payment-method-add)) endpoint. To designate an existing
        Payment Method as the default method, access the Payment Method Make Default
        ([POST /account/payment-methods/{paymentMethodId}/make-default](/docs/api/account/#payment-method-make-default))
        endpoint.
      operationId: deletePaymentMethod
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Payment Method deactivated.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Payment Method Delete
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/account/payment-methods/123
        - lang: CLI
          source: |
            linode-cli payment-methods delete 123
      x-linode-cli-action:
        - delete
        - rm
      x-linode-grant: read_write
    get:
      description: |
        View the details of the specified Payment Method.
      operationId: getPaymentMethod
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
          description: Returns a Payment Method Object.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      servers:
        - url: https://api.linode.com/v4
      summary: Payment Method View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payment-methods/123
        - lang: CLI
          source: |
            linode-cli payment-methods view 123
      x-linode-cli-action: view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Payment Method to look up.
        in: path
        name: paymentMethodId
        required: true
        schema:
          type: integer
    x-linode-cli-command: payment-methods
  "/account/payment-methods/{paymentMethodId}/make-default":
    parameters:
      - description: The ID of the Payment Method to make default.
        in: path
        name: paymentMethodId
        required: true
        schema:
          type: integer
    post:
      description: |
        Make the specified Payment Method the default method for automatically processing payments.

        Removes the default status from any other Payment Method.
      operationId: makePaymentMethodDefault
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Payment Method successfully set as the default method.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      servers:
        - url: https://api.linode.com/v4
      summary: Payment Method Make Default
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/payment-methods/123/make-default
        - lang: CLI
          source: |
            linode-cli payment-methods default 123
      x-linode-cli-action: default
      x-linode-grant: read_write
    x-linode-cli-command: payment-methods
  /account/payments:
    get:
      description: |
        Returns a paginated list of Payments made on this Account.
      operationId: getPayments
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Payment"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: Returns a paginated list of Payment objects.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Payments List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments
        - lang: CLI
          source: |
            linode-cli account payments-list
      x-linode-cli-action: payments-list
      x-linode-grant: read_only
    post:
      description: |
        Makes a Payment to your Account.

        * The requested amount is charged to the default Payment Method if no `payment_method_id` is specified.

        * A `payment_submitted` event is generated when a payment is successfully submitted.
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        description: Information about the Payment you are making.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payment submitted successfully.
        "202":
          $ref: "#/components/responses/AcceptedResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Payment Make
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "cvv": "123",
                    "usd": "120.50",
                    "payment_method_id": 123
                }' \
                https://api.linode.com/v4/account/payments
        - lang: CLI
          source: |
            linode-cli account payment-create \
              --cvv 123 \
              --usd 120.50 \
              --payment_method_id 123
      x-linode-cli-action: payment-create
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/payments/paypal:
    post:
      deprecated: true
      description: |
        **Note**: This endpoint is disabled and no longer accessible. PayPal can be designated as a Payment Method for automated payments using the Cloud Manager. See [Manage Payment Methods](/docs/products/platform/billing/guides/payment-methods/).
      operationId: createPayPalPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayPal"
        description: |
          The amount of the Payment to submit via PayPal.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  checkout_token:
                    description: |
                      The checkout token generated for this Payment.
                    example: EC-1A2B3C4D5E6F7G8H9
                    readOnly: true
                    type: string
                  payment_id:
                    description: |
                      The paypal-generated ID for this Payment. Used when authorizing the Payment in PayPal's interface.
                    example: PAY-1234567890ABCDEFGHIJKLMN
                    type: string
                type: object
          description: PayPal Payment staged.
        "299":
          $ref: "#/components/responses/DeprecatedResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: PayPal Payment Stage
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "usd": "120.50",
                    "redirect_url": "https://example.org",
                    "cancel_url": "https://example.org"
                }' \
                https://api.linode.com/v4/account/payments/paypal
        - lang: CLI
          source: |
            linode-cli account paypal-start \
              --cancel_url https://example.org \
              --redirect_url https://example.org \
              --usd 120.50
      x-linode-cli-action: paypal-start
      x-linode-cli-skip: true
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/payments/paypal/execute:
    post:
      deprecated: true
      description: |
        **Note**: This endpoint is disabled and no longer accessible. PayPal can be designated as a Payment Method for automated payments using the Cloud Manager. See [Manage Payment Methods](/docs/products/platform/billing/guides/payment-methods/).
      operationId: executePayPalPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayPalExecute"
        description: |
          The details of the Payment to execute.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: PayPal Payment executed.
        "202":
          $ref: "#/components/responses/AcceptedResponse"
        "299":
          $ref: "#/components/responses/DeprecatedResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Staged/Approved PayPal Payment Execute
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "payment_id": "PAY-1234567890ABCDEFGHIJKLMN",
                    "payer_id": "ABCDEFGHIJKLM"
                }' \
                https://api.linode.com/v4/account/payments/paypal
        - lang: CLI
          source: |
            linode-cli account paypal-execute
      x-linode-cli-action: paypal-execute
      x-linode-cli-skip: true
      x-linode-grant: read_write
    x-linode-cli-command: account
  "/account/payments/{paymentId}":
    get:
      description: |
        Returns information about a specific Payment.
      operationId: getPayment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: A Payment object.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Payment View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments/123
        - lang: CLI
          source: |
            linode-cli account payment-view 123
      x-linode-cli-action: payment-view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Payment to look up.
        in: path
        name: paymentId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  /account/promo-codes:
    post:
      description: |
        Adds an expiring Promo Credit to your account.

        The following restrictions apply:

        * Your account must be less than 90 days old.
        * There must not be an existing Promo Credit already on your account.
        * The requesting User must be unrestricted. Use the User Update
          ([PUT /account/users/{username}](/docs/api/account/#user-update)) to change a User's restricted status.
        * The `promo_code` must be valid and unexpired.
      operationId: createPromoCredit
      requestBody:
        content:
          application/json:
            schema:
              properties:
                promo_code:
                  description: |
                    The Promo Code.
                  maxLength: 32
                  minLength: 1
                  type: string
              required:
                - promo_code
              type: object
        description: Enter a Promo Code to add its associated credit to your Account.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Promotion"
          description: |
            Promo Credit successfully added.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Promo Credit Add
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "promo_code": "abcdefABCDEF1234567890"
              }' \
              https://api.linode.com/v4/account/promo-codes
        - lang: CLI
          source: |
            linode-cli account \
              promo-add \
              --promo-code abcdefABCDEF1234567890
      x-linode-cli-action: promo-add
      x-linode-grant: unrestricted only
    x-linode-cli-command: account
  /account/service-transfers:
    get:
      description: |
        Returns a collection of all created and accepted Service Transfers for this account, regardless of the user that created or accepted the transfer.

        This command can only be accessed by the unrestricted users of an account.
      operationId: getServiceTransfers
      parameters:
        - $ref: "#/components/parameters/pageOffset"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ServiceTransfer"
                    type: array
                  page:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/page"
                  pages:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/pages"
                  results:
                    $ref: "#/components/schemas/PaginationEnvelope/properties/results"
                type: object
          description: |
            Returns a paginated list of Service Transfer objects containing the details of all transfers that have been created and accepted by this account.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Service Transfers List
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/service-transfers
        - lang: CLI
          source: |
            linode-cli service-transfers \
              list
      x-linode-cli-action:
        - list
        - ls
      x-linode-grant: unrestricted only
    post:
      description: |
        Creates a transfer request for the specified services. A request can contain any of the specified service types
        and any number of each service type. At this time, only Linodes can be transferred.

        When created successfully, a confirmation email is sent to the account that created this transfer containing a
        transfer token and instructions on completing the transfer.

        When a transfer is [accepted](/docs/api/account/#service-transfer-accept), the requested services are moved to
        the receiving account. Linode services will not experience interruptions due to the transfer process. Backups
        for Linodes are transferred as well.

        DNS records that are associated with requested services will not be transferred or updated. Please ensure that
        associated DNS records have been updated or communicated to the recipient prior to the transfer.

        A transfer can take up to three hours to complete once accepted. When a transfer is
        completed, billing for transferred services ends for the sending account and begins for the receiving account.

        This command can only be accessed by the unrestricted users of an account.

        There are several conditions that must be met in order to successfully create a transfer request:

        1. The account creating the transfer must not have a past due balance or active Terms of Service violation.

        1. The service must be owned by the account that is creating the transfer.

        1. The service must not be assigned to another Service Transfer that is pending or that has been accepted and is
        incomplete.

        1. Linodes must not:

            * be assigned to a NodeBalancer, Firewall, VLAN, or Managed Service.

            * have any attached Block Storage Volumes.

            * have any shared IP addresses.

            * have any assigned /56, /64, or /116 IPv6 ranges.
      operationId: createServiceTransfer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                entities:
                  $ref: "#/components/schemas/ServiceTransfer/properties/entities"
              required:
                - entities
              type: object
        description: The services to include in this transfer request.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceTransfer"
          description: |
            Returns a Service Transfer object for the request.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Service Transfer Create
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "entities": {
                  "linodes": [
                    111,
                    222
                  ]
                }
              }' \
              https://api.linode.com/v4/account/service-transfers
        - lang: CLI
          source: |
            linode-cli service-transfers \
              create \
              --entities.linodes 111 \
              --entities.linodes 222
      x-linode-cli-action: create
      x-linode-grant: unrestricted only
    x-linode-cli-command: service-transfers
  "/account/service-transfers/{token}":
    delete:
      description: |
        Cancels the Service Transfer for the provided token. Once cancelled, a transfer cannot be accepted or otherwise
        acted on in any way. If cancelled in error, the transfer must be
        [created](/docs/api/account/#service-transfer-create) again.

        When cancelled, an email notification for the cancellation is sent to the account that created
        this transfer. Transfers can not be cancelled if they are expired or have been accepted.

        This command can only be accessed by the unrestricted users of the account that created this transfer.
      operationId: deleteServiceTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: |
            Service Transfer cancelled.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Service Transfer Cancel
      tags:
        - account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/account/service-transfers/123E4567-E89B-12D3-A456-426614174000
        - lang: CLI
          source: |
            linode-cli service-transfers \
              cancel 123E4567-E89B-12D3-A456-426614174000
      x-linode-cli-action: cancel
      x-linode-grant: unrestricted only
    get:
      description: |
        Returns the details of the Service Transfer for the provided token.

        While a transfer is pending, any unrestricted user *of any account* can access this command. After a
        transfer has been accepted, it can only be viewed by unrestricted users of the accounts that created and
        accepted the transfer. If cancelled or expired, only unrestricted users of the account that created the
        transfer can view it.
      operationId: getServiceTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceTransfer"
          description: |
            Returns a Service Transfer object containing the details of the transfer for the specified token.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_only
      summary: Service Transfer View
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/service-transfers/123E4567-E89B-12D3-A456-426614174000
        - lang: CLI
          source: |
            linode-cli service-transfers \
              view 123E4567-E89B-12D3-A456-426614174000
      x-linode-cli-action: view
      x-linode-grant: unrestricted only
    parameters:
      - description: The UUID of the Service Transfer.
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
    x-linode-cli-command: service-transfers
  "/account/service-transfers/{token}/accept":
    parameters:
      - description: The UUID of the Service Transfer.
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
    post:
      description: |
        Accept a Service Transfer for the provided token to receive the services included in the transfer to your
        account. At this time, only Linodes can be transferred.

        When accepted, email confirmations are sent to the accounts that created and accepted the transfer. A transfer
        can take up to three hours to complete once accepted. Once a transfer is completed, billing for transferred
        services ends for the sending account and begins for the receiving account.

        This command can only be accessed by the unrestricted users of the account that receives the transfer. Users
        of the same account that created a transfer cannot accept the transfer.

        There are several conditions that must be met in order to accept a transfer request:

        1. Only transfers with a `pending` status can be accepted.

        1. The account accepting the transfer must have a registered payment method and must not have a past due
          balance or other account limitations for the services to be transferred.

        1. Both the account that created the transfer and the account that is accepting the transfer must not have any
        active Terms of Service violations.

        1. The service must still be owned by the account that created the transfer.

        1. Linodes must not:

            * be assigned to a NodeBalancer, Firewall, VLAN, or Managed Service.

            * have any attached Block Storage Volumes.

            * have any shared IP addresses.

            * have any assigned /56, /64, or /116 IPv6 ranges.

        Any and all of the above conditions must be cured and maintained by the relevant account prior to the
        transfer's expiration to allow the transfer to be accepted by the receiving account.
      operationId: acceptServiceTransfer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: |
            Service Transfer accepted.
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - personalAccessToken: []
        - oauth:
            - account:read_write
      summary: Service Transfer Accept
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
              -X POST \
[...]
