swagger: '2.0'
schemes:
  - https
host: southcentralus.api.cognitive.microsoft.com
basePath: /customvision/v2.0/Prediction
info:
  contact:
    x-twitter: microsoft
  title: Custom Vision Prediction Client
  version: '2.0'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/microsoft/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v2.0/Prediction.json'
      version: '2.0'
  x-preferred: true
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Prediction
  x-tags:
    - Microsoft
produces:
  - application/json
  - text/json
  - application/xml
  - text/xml
parameters:
  ApiKey:
    in: header
    name: Prediction-Key
    required: true
    type: string
    x-ms-client-name: ApiKey
    x-ms-parameter-location: client
  Endpoint:
    description: Supported Cognitive Services endpoints
    in: path
    name: Endpoint
    required: true
    type: string
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
paths:
  '/{projectId}/image':
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      operationId: PredictImage
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified"
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: Optional. Specifies the name of application using the endpoint
          in: query
          name: application
          required: false
          type: string
          x-nullable: true
        - in: formData
          name: imageData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Predict an image and saves the result
      tags:
        - ImagePredictionApi
      x-ms-examples:
        Successful PredictImage request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Prediction-Key: '{API Key}'
            imageData: multipart-form-data
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0.000193528482
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/{projectId}/image/nostore':
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      operationId: PredictImageWithNoStore
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified"
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: Optional. Specifies the name of application using the endpoint
          in: query
          name: application
          required: false
          type: string
          x-nullable: true
        - in: formData
          name: imageData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Predict an image without saving the result
      tags:
        - ImagePredictionApi
      x-ms-examples:
        Successful PredictImageWithNoStore request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Prediction-Key: '{API Key}'
            imageData: multipart-form-data
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0.000193528482
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/{projectId}/url':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: PredictImageUrl
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: 'An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated'
          in: body
          name: imageUrl
          required: true
          schema:
            $ref: '#/definitions/ImageUrl'
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified"
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: Optional. Specifies the name of application using the endpoint
          in: query
          name: application
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Predict an image url and saves the result
      tags:
        - ImagePredictionApi
      x-ms-examples:
        Successful PredictImageUrl request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Prediction-Key: '{API Key}'
            imageUrl:
              url: '{Image URL}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0.000193528482
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/{projectId}/url/nostore':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: PredictImageUrlWithNoStore
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: 'An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated'
          in: body
          name: imageUrl
          required: true
          schema:
            $ref: '#/definitions/ImageUrl'
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified"
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: Optional. Specifies the name of application using the endpoint
          in: query
          name: application
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Predict an image url without saving the result
      tags:
        - ImagePredictionApi
      x-ms-examples:
        Successful PredictImageUrlWithNoStore request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Prediction-Key: '{API Key}'
            imageUrl:
              url: '{Image URL}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0.000193528482
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
definitions:
  BoundingBox:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImagePrediction:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      iteration:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      predictions:
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        type: array
        x-nullable: true
      project:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  ImageUrl:
    properties:
      url:
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  Prediction:
    properties:
      boundingBox:
        $ref: '#/definitions/BoundingBox'
        readOnly: true
      probability:
        format: float
        readOnly: true
        type: number
        x-nullable: false
      tagId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  parameters:
    - $ref: '#/parameters/Endpoint'
  useSchemePrefix: false
