openapi: 3.0.0
servers:
  - url: https://api.figshare.com/v2
info:
  description: Figshare apiv2. Using Swagger 2.0
  title: Figshare API
  version: 2.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_user-images.githubusercontent.com_21603_27885832-5da28e32-61d1-11e7-8811-ed7238df2c20.png
  x-origin:
    - format: openapi
      url: http://docs.figshare.com/swagger.json
      version: "3.0"
  x-providerName: figshare.com
paths:
  /account:
    get:
      description: Account information for token/personal token
      operationId: private_account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: OK. Account representation
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account information
      tags:
        - other
  /account/articles:
    get:
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 1
            type: integer
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: OK. An array of articles belonging to the account
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles
      tags:
        - articles
    post:
      description: Create a new Article by sending article information
      operationId: private_article_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleCreate"
        description: Article description
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWarnings"
          description: Created
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create new Article
      tags:
        - articles
      x-subcategory: Private Article
  /account/articles/export:
    get:
      description: Return status on all reports generated for the account from the oauth credentials
      operationId: account_article_report
      parameters:
        - description: A group ID to filter by
          in: query
          name: group_id
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AccountReport"
                type: array
          description: OK. An array of account report entries
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Account Article Report
      tags:
        - articles
    post:
      description: Initiate a new Article Report for this Account. There is a limit of 1 report per day.
      operationId: account_article_report_generate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountReport"
          description: OK. AccountReport created.
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Initiate a new Report
      tags:
        - articles
  /account/articles/search:
    post:
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateArticleSearch"
        description: Search Parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ArticleWithProject"
                type: array
          description: OK. An array of articles
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles search
      tags:
        - articles
  "/account/articles/{article_id}":
    delete:
      description: Delete an article
      operationId: private_article_delete
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article
      tags:
        - articles
      x-subcategory: Private Article
    get:
      description: View a private article
      operationId: private_article_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCompletePrivate"
          description: OK. Article representation
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article details
      tags:
        - articles
      x-subcategory: Private Article
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    put:
      description: Updating an article by passing body parameters; request can also be made with the PATCH method.
      operationId: private_article_update
      requestBody:
        $ref: "#/components/requestBodies/ArticleUpdate"
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWarningsUpdate"
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article
      tags:
        - articles
      x-subcategory: Private Article
  "/account/articles/{article_id}/authors":
    get:
      description: List article authors
      operationId: private_article_authors_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Author"
                type: array
          description: OK. Authors list for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Associate new authors with the article. This will add new authors to the list of already associated authors
      operationId: private_article_authors_add
      requestBody:
        $ref: "#/components/requestBodies/AuthorsCreator"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
    put:
      description: Associate new authors with the article. This will remove all already associated authors and add these new ones
      operationId: private_article_authors_replace
      requestBody:
        $ref: "#/components/requestBodies/AuthorsCreator"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          description: Bad Request. Article ID must be an integer and bigger than 0. Author with ID Not Found.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
  "/account/articles/{article_id}/authors/{author_id}":
    delete:
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Article Author unique identifier
          in: path
          name: author_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article author
      tags:
        - articles
      x-subcategory: Private Article Authors
  "/account/articles/{article_id}/categories":
    get:
      description: List article categories
      operationId: private_article_categories_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Category"
                type: array
          description: OK. Article categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Associate new categories with the article. This will add new categories to the list of already associated categories
      operationId: private_article_categories_add
      requestBody:
        $ref: "#/components/requestBodies/CategoriesCreator"
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
    put:
      description: Associate new categories with the article. This will remove all already associated categories and add these new ones
      operationId: private_article_categories_replace
      requestBody:
        $ref: "#/components/requestBodies/CategoriesCreator"
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
  "/account/articles/{article_id}/categories/{category_id}":
    delete:
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Category unique identifier
          in: path
          name: category_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article category
      tags:
        - articles
      x-subcategory: Private Article Categories
  "/account/articles/{article_id}/confidentiality":
    delete:
      description: Delete confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_delete
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
    get:
      description: View confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleConfidentiality"
          description: OK. Article categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article confidentiality details
      tags:
        - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    put:
      description: Update confidentiality settings. The confidentiality feature is now deprecated. This has been replaced by the new extended embargo functionality and all items that used to be confidential have now been migrated to items with a permanent embargo on files. All API endpoints related to this functionality will remain for backwards compatibility, but will now be attached to the new extended embargo workflows.
      operationId: private_article_confidentiality_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfidentialityCreator"
        required: true
      responses:
        "205":
          description: Reset Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
  "/account/articles/{article_id}/embargo":
    delete:
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
    get:
      description: View a private article embargo details
      operationId: private_article_embargo_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleEmbargo"
          description: OK. Embargo for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article Embargo Details
      tags:
        - articles
      x-subcategory: Private Article Embargo
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    put:
      description: "Note: setting an article under whole embargo does not imply that the article will be published when the embargo will expire. You must explicitly call the publish endpoint to enable this functionality."
      operationId: private_article_embargo_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleEmbargoUpdater"
        description: Embargo description
        required: true
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
  "/account/articles/{article_id}/files":
    get:
      description: List private files
      operationId: private_article_files_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PrivateFile"
                type: array
          description: OK. Article files list
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article files
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Initiate a new file upload within the article. Either use the link property to point to an existing file that resides elsewhere and will not be uploaded to Figshare or use the other 3 parameters (md5, name, size).
      operationId: private_article_upload_initiate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileCreator"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Created
          headers:
            Location:
              description: Location of new file
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity. Parameters missing or incorrect
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Initiate Upload
      tags:
        - articles
      x-subcategory: Private Article Files
  "/account/articles/{article_id}/files/{file_id}":
    delete:
      description: Complete file upload
      operationId: private_article_file_delete
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: File Delete
      tags:
        - articles
      x-subcategory: Private Article Files
    get:
      description: View details of file for specified article
      operationId: private_article_file
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFile"
          description: OK. Article private file
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Single File
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: File unique identifier
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Complete file upload
      operationId: private_article_upload_complete
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Complete Upload
      tags:
        - articles
      x-subcategory: Private Article Files
  "/account/articles/{article_id}/private_links":
    get:
      description: List private links
      operationId: private_article_private_link
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PrivateLink"
                type: array
          description: OK. Article private links
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List private links
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Create new private link for this article
      operationId: private_article_private_link_create
      requestBody:
        $ref: "#/components/requestBodies/PrivateLinkCreator"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateLinkResponse"
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
  "/account/articles/{article_id}/private_links/{link_id}":
    delete:
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
    put:
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      requestBody:
        $ref: "#/components/requestBodies/PrivateLinkCreator"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
  "/account/articles/{article_id}/publish":
    post:
      description: |-
        - If the whole article is under embargo, it will not be published immediately, but when the embargo expires or is lifted.
        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: private_article_publish
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Created
          headers:
            Location:
              description: Location of newly published article
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Publish
      tags:
        - articles
  "/account/articles/{article_id}/reserve_doi":
    post:
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleDOI"
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Reserve DOI
      tags:
        - articles
  "/account/articles/{article_id}/reserve_handle":
    post:
      description: Reserve Handle for article
      operationId: private_article_reserve_handle
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleHandle"
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Reserve Handle
      tags:
        - articles
  "/account/articles/{article_id}/resource":
    post:
      description: Edit article resource data.
      operationId: private_article_resource
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/Resource"
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Reset Content
          headers:
            Location:
              description: Location for account article details
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
        - OAuth2:
            - all
      summary: Private Article Resource
      tags:
        - articles
  "/account/articles/{article_id}/versions/{version_id}/":
    put:
      description: Updating an article version by passing body parameters; request can also be made with the PATCH method.
      operationId: article_version_update
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Article version identifier
          in: path
          name: version_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/ArticleUpdate"
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWarningsUpdate"
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article version
      tags:
        - articles
      x-subcategory: Article version private updates
  "/account/articles/{article_id}/versions/{version_id}/update_thumb":
    put:
      description: For a given public article version update the article thumbnail by choosing one of the associated files
      operationId: article_version_update_thumb
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Article version identifier
          in: path
          name: version_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileId"
        description: File ID
        required: true
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location for article version details
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
        - OAuth2:
            - all
      summary: Update article version thumbnail
      tags:
        - articles
      x-subcategory: Article version private updates
  /account/authors/search:
    post:
      description: Search for authors
      operationId: private_authors_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateAuthorsSearch"
        description: Search Parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Author"
                type: array
          description: OK. An array of authors
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Search Authors
      tags:
        - authors
  "/account/authors/{author_id}":
    get:
      description: View author details
      operationId: private_author_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorComplete"
          description: OK. Article representation
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Author details
      tags:
        - authors
    parameters:
      - description: Author unique identifier
        in: path
        name: author_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
  /account/categories:
    get:
      description: List institution categories (including parent Categories)
      operationId: private_categories_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Category"
                type: array
          description: OK. An array of categories
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Categories
      tags:
        - institutions
  /account/collections:
    get:
      description: List private collections
      operationId: private_collections_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 1
            type: integer
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            default: published_date
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - cites
            type: string
        - in: query
          name: order_direction
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Collection"
                type: array
          description: OK. An array of collections
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections List
      tags:
        - collections
    post:
      description: Create a new Collection by sending collection information
      operationId: private_collection_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionCreate"
        description: Collection description
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWarnings"
          description: Created
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection
      tags:
        - collections
      x-subcategory: Private Collection
  /account/collections/search:
    post:
      description: Returns a list of private Collections
      operationId: private_collections_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateCollectionSearch"
        description: Search Parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Collection"
                type: array
          description: OK. An array of collections
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections Search
      tags:
        - collections
  "/account/collections/{collection_id}":
    delete:
      description: Delete n collection
      operationId: private_collection_delete
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection
      tags:
        - collections
      x-subcategory: Private Collection
    get:
      description: View a collection
      operationId: private_collection_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionCompletePrivate"
          description: OK. Collection representation
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Collection details
      tags:
        - collections
      x-subcategory: Private Collection
    parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    put:
      description: Update collection details; request can also be made with the PATCH method.
      operationId: private_collection_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionUpdate"
        description: Collection description
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationWarningsUpdate"
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection
      tags:
        - collections
      x-subcategory: Private Collection
  "/account/collections/{collection_id}/articles":
    get:
      description: List collection articles
      operationId: private_collection_articles_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 1
            type: integer
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: OK. Articles List
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Associate new articles with the collection. This will add new articles to the list of already associated articles
      operationId: private_collection_articles_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticlesCreator"
        description: Articles list
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Reset Content
          headers:
            Location:
              description: Location of new articles
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
    put:
      description: Associate new articles with the collection. This will remove all already associated articles and add these new ones
      operationId: private_collection_articles_replace
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticlesCreator"
        description: Articles List
        required: true
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of articles
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
  "/account/collections/{collection_id}/articles/{article_id}":
    delete:
      description: De-associate article from collection
      operationId: private_collection_article_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Collection article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection article
      tags:
        - collections
      x-subcategory: Private Collection Articles
  "/account/collections/{collection_id}/authors":
    get:
      description: List collection authors
      operationId: private_collection_authors_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Author"
                type: array
          description: OK. Embargo for article
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Associate new authors with the collection. This will add new authors to the list of already associated authors
      operationId: private_collection_authors_add
      requestBody:
        $ref: "#/components/requestBodies/AuthorsCreator2"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
    put:
      description: Associate new authors with the collection. This will remove all already associated authors and add these new ones
      operationId: private_collection_authors_replace
      requestBody:
        $ref: "#/components/requestBodies/AuthorsCreator2"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
  "/account/collections/{collection_id}/authors/{author_id}":
    delete:
      description: Delete collection author
      operationId: private_collection_author_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Collection Author unique identifier
          in: path
          name: author_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection author
      tags:
        - collections
      x-subcategory: Private Collection Authors
  "/account/collections/{collection_id}/categories":
    get:
      description: List collection categories
      operationId: private_collection_categories_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Category"
                type: array
          description: OK. Categories list
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Associate new categories with the collection. This will add new categories to the list of already associated categories
      operationId: private_collection_categories_add
      requestBody:
        $ref: "#/components/requestBodies/CategoriesCreator2"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
    put:
      description: Associate new categories with the collection. This will remove all already associated categories and add these new ones
      operationId: private_collection_categories_replace
      requestBody:
        $ref: "#/components/requestBodies/CategoriesCreator2"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
  "/account/collections/{collection_id}/categories/{category_id}":
    delete:
      description: De-associate category from collection
      operationId: private_collection_category_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
        - description: Collection category unique identifier
          in: path
          name: category_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection category
      tags:
        - collections
      x-subcategory: Private Collection Categories
  "/account/collections/{collection_id}/private_links":
    get:
      description: List article private links
      operationId: private_collection_private_links_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PrivateLink"
                type: array
          description: OK. Collection private links
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection private links
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Create new private link
      operationId: private_collection_private_link_create
      requestBody:
        $ref: "#/components/requestBodies/CollectionPrivateLinkCreator"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateLinkResponse"
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
  "/account/collections/{collection_id}/private_links/{link_id}":
    delete:
      description: Disable/delete private link for this collection
      operationId: private_collection_private_link_delete
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
    put:
      description: Update existing private link for this collection
      operationId: private_collection_private_link_update
      requestBody:
        $ref: "#/components/requestBodies/CollectionPrivateLinkCreator"
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of new private link
              schema:
                format: url
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
  "/account/collections/{collection_id}/publish":
    post:
      description: When a collection is published, a new public version will be generated. Any further updates to the collection will affect the private collection data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: private_collection_publish
      parameters:
        - description: Collection Unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Created
          headers:
            Location:
              description: Location of collection
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Publish
      tags:
        - collections
  "/account/collections/{collection_id}/reserve_doi":
    post:
      description: Reserve DOI for collection
      operationId: private_collection_reserve_doi
      parameters:
        - description: Collection Unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionDOI"
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Reserve DOI
      tags:
        - collections
  "/account/collections/{collection_id}/reserve_handle":
    post:
      description: Reserve Handle for collection
      operationId: private_collection_reserve_handle
      parameters:
        - description: Collection Unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionHandle"
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Reserve Handle
      tags:
        - collections
  "/account/collections/{collection_id}/resource":
    post:
      description: Edit collection resource data.
      operationId: private_collection_resource
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/Resource"
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Reset Content
          headers:
            Location:
              description: Location for account collection details
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
      security:
        - OAuth2:
            - all
      summary: Private Collection Resource
      tags:
        - collections
  /account/funding/search:
    post:
      description: Search for fundings
      operationId: private_funding_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundingSearch"
        description: Search Parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FundingInformation"
                type: array
          description: OK. An array of funding information
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Search Funding
      tags:
        - other
  /account/institution:
    get:
      description: Account institution details
      operationId: private_institution_details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Institution"
          description: OK. An array of institutions
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institutions
      tags:
        - institutions
  /account/institution/accounts:
    get:
      description: Returns the accounts for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_accounts_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 1
            type: integer
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
        - description: Filter by active status
          in: query
          name: is_active
          required: false
          schema:
            format: int64
            maximum: 1
            minimum: 0
            type: integer
        - description: Filter by institution_user_id
          in: query
          name: institution_user_id
          required: false
          schema:
            type: string
        - description: Filter by email
          in: query
          name: email
          required: false
          schema:
            type: string
        - description: Retrieve accounts with an ID lower or equal to the specified value
          in: query
          name: id_lte
          required: false
          schema:
            format: int64
            minimum: 0
            type: integer
        - description: Retrieve accounts with an ID greater or equal to the specified value
          in: query
          name: id_gte
          required: false
          schema:
            format: int64
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ShortAccount"
                type: array
          description: OK. An array of Accounts
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Accounts
      tags:
        - institutions
    post:
      description: Create a new Account by sending account information
      operationId: private_institution_accounts_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreate"
        description: Account description
        required: true
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create new Institution Account
      tags:
        - institutions
  /account/institution/accounts/search:
    post:
      description: Returns the accounts for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_accounts_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstitutionAccountsSearch"
        description: Search Parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ShortAccount"
                type: array
          description: OK. An array of Accounts
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Accounts Search
      tags:
        - institutions
  "/account/institution/accounts/{account_id}":
    put:
      description: Update Institution Account
      operationId: private_institution_accounts_update
      parameters:
        - description: Account identifier the user is associated to
          in: path
          name: account_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdate"
        description: Account description
        required: true
      responses:
        "205":
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                format: link
                type: string
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update Institution Account
      tags:
        - institutions
  /account/institution/articles:
    get:
      description: Get Articles from own institution. User must be administrator of the institution
      operationId: private_institution_articles
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 1
            type: integer
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            default: published_date
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - downloads
              - cites
            type: string
        - in: query
          name: order_direction
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
        - description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: published_since
          required: false
          schema:
            type: string
        - description: Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: modified_since
          required: false
          schema:
            type: string
        - description: only return collections with this status
          in: query
          name: status
          required: false
          schema:
            format: int64
            type: integer
        - description: only return collections with this resource_doi
          in: query
          name: resource_doi
          required: false
          schema:
            type: string
        - description: "Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model"
          in: query
          name: item_type
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: OK. An array of articles belonging to the institution
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Institution Articles
      tags:
        - institutions
  /account/institution/custom_fields:
    get:
      description: Returns the custom fields in the group the user belongs to, or the ones in the group specified, if the user has access.
      operationId: custom_fields_list
      parameters:
        - description: Group_id
          in: query
          name: group_id
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ShortCustomField"
                type: array
          description: OK. An array of custom fields
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private account institution group custom fields
      tags:
        - institutions
  "/account/institution/custom_fields/{custom_field_id}/items/upload":
    post:
      description: Uploads a CSV containing values for a specific custom field of type <b>dropdown_large_list</b>. More details in the <a href="#custom_fields">Custom Fields section</a>
      operationId: custom_fields_upload
      parameters:
        - description: Custom field identifier
          in: path
          name: custom_field_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                external_file:
                  description: CSV file to be uploaded
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  code: 200
                  message: OK
                type: object
          description: OK
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Custom fields values files upload
      tags:
        - institutions
  /account/institution/embargo_options:
    get:
      description: Account institution embargo options details
      operationId: private_institution_embargo_options_details
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GroupEmbargoOptions"
                type: array
          description: OK. An array of embargo options
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution embargo options
      tags:
        - institutions
  /account/institution/groups:
    get:
      description: Returns the groups for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_groups_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Group"
                type: array
          description: OK. An array of Groups
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Groups
      tags:
        - institutions
  "/account/institution/groups/{group_id}/embargo_options":
    get:
      description: Account institution group embargo options details
      operationId: private_group_embargo_options_details
      parameters:
        - description: Group identifier
          in: path
          name: group_id
          required: true
          schema:
            format: int64
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GroupEmbargoOptions"
                type: array
          description: OK. An array of embargo options
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Group Embargo Options
      tags:
        - institutions
  "/account/institution/review/{curation_id}":
    get:
      description: Retrieve a certain curation review by its ID
      operationId: account_institution_curation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurationDetail"
          description: OK. A curation review.
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Review
      tags:
        - institutions
    parameters:
      - description: ID of the curation
        in: path
        name: curation_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
  "/account/institution/review/{curation_id}/comments":
    get:
      description: Retrieve a certain curation review's comments.
      operationId: account_institution_curation_comments
      parameters:
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurationComment"
          description: OK. A curation review's comments.
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Review Comments
      tags:
        - institutions
    parameters:
      - description: ID of the curation
        in: path
        name: curation_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
    post:
      description: Add a new comment to the review.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CurationCommentCreate"
        description: The content/value of the comment.
        required: true
      responses:
        "200":
          description: OK.
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: POST Institution Curation Review Comment
      tags:
        - institutions
  /account/institution/reviews:
    get:
      description: Retrieve a list of curation reviews for this institution
      operationId: account_institution_curations
      parameters:
        - description: Filter by the group ID
          in: query
          name: group_id
          required: false
          schema:
            format: int64
            minimum: 0
            type: integer
        - description: Retrieve the reviews for this article
          in: query
          name: article_id
          required: false
          schema:
            format: int64
            minimum: 0
            type: integer
        - description: Filter by the status of the review
          in: query
          name: status
          required: false
          schema:
            enum:
              - pending
              - approved
              - rejected
              - closed
            type: string
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            format: int64
            maximum: 1000
            minimum: 1
            type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            format: int64
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Curation"
          description: OK. A list of curation reviews.
        "400":
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Reviews
      tags:
        - institutions
[...]
