swagger: '2.0'
schemes:
  - https
  - http
host: robomaker.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: This section provides documentation for the AWS RoboMaker API operations.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS RoboMaker
  version: '2018-06-29'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/robomaker-2018-06-29.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: robomaker
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/robomaker/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /batchDescribeSimulationJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes one or more simulation jobs.
      operationId: BatchDescribeSimulationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobs:
                description: A list of Amazon Resource Names (ARNs) of simulation jobs to describe.
                items:
                  $ref: '#/definitions/Arn'
                maxItems: 100
                minItems: 1
                type: array
            required:
              - jobs
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDescribeSimulationJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /cancelDeploymentJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Cancels the specified deployment job.
      operationId: CancelDeploymentJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              job:
                description: The deployment job ARN to cancel.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - job
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelDeploymentJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /cancelSimulationJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Cancels the specified simulation job.
      operationId: CancelSimulationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              job:
                description: The simulation job ARN to cancel.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - job
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelSimulationJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /createDeploymentJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href="https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>'
      operationId: CreateDeploymentJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientRequestToken:
                description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9_\-=]*'
                type: string
              deploymentApplicationConfigs:
                description: The deployment application configuration.
                items:
                  $ref: '#/definitions/DeploymentApplicationConfig'
                maxItems: 1
                minItems: 1
                type: array
              deploymentConfig:
                description: Information about a deployment configuration.
                properties:
                  concurrentDeploymentPercentage:
                    $ref: '#/definitions/Percentage'
                    description: The percentage of robots receiving the deployment at the same time.
                  failureThresholdPercentage:
                    $ref: '#/definitions/Percentage'
                    description: The percentage of deployments that need to fail before stopping deployment.
                  robotDeploymentTimeoutInSeconds:
                    $ref: '#/definitions/DeploymentTimeout'
                    description: 'The amount of time, in seconds, to wait for deployment to a single robot to complete. Choose a time between 1 minute and 7 days. The default is 5 hours.'
                type: object
              fleet:
                description: The Amazon Resource Name (ARN) of the fleet to deploy.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the deployment job.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - clientRequestToken
              - fleet
              - deploymentApplicationConfigs
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ConcurrentDeploymentException
          schema:
            $ref: '#/definitions/ConcurrentDeploymentException'
        '486':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
  /createFleet:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a fleet, a logical group of robots running the same robot application.'
      operationId: CreateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: The name of the fleet.
                maxLength: 255
                minLength: 1
                pattern: '[a-zA-Z0-9_\-]*'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the fleet.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFleetResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /createRobot:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a robot.
      operationId: CreateRobot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              architecture:
                description: The target architecture of the robot.
                enum:
                  - X86_64
                  - ARM64
                  - ARMHF
                type: string
              greengrassGroupId:
                description: The Greengrass group id.
                maxLength: 1224
                minLength: 1
                type: string
              name:
                description: The name for the robot.
                maxLength: 255
                minLength: 1
                pattern: '[a-zA-Z0-9_\-]*'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the robot.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - name
              - architecture
              - greengrassGroupId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRobotResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
  /createRobotApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a robot application. '
      operationId: CreateRobotApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: The name of the robot application.
                maxLength: 255
                minLength: 1
                pattern: '[a-zA-Z0-9_\-]*'
                type: string
              robotSoftwareSuite:
                description: Information about a robot software suite.
                properties:
                  name:
                    $ref: '#/definitions/RobotSoftwareSuiteType'
                    description: The name of the robot software suite.
                  version:
                    $ref: '#/definitions/RobotSoftwareSuiteVersionType'
                    description: The version of the robot software suite.
                type: object
              sources:
                description: The sources of the robot application.
                items:
                  $ref: '#/definitions/SourceConfig'
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the robot application.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - name
              - sources
              - robotSoftwareSuite
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRobotApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '485':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
  /createRobotApplicationVersion:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a robot application.
      operationId: CreateRobotApplicationVersion
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the robot application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              currentRevisionId:
                description: 'The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.'
                maxLength: 40
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRobotApplicationVersionResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /createSimulationApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a simulation application.
      operationId: CreateSimulationApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: The name of the simulation application.
                maxLength: 255
                minLength: 1
                pattern: '[a-zA-Z0-9_\-]*'
                type: string
              renderingEngine:
                description: Information about a rendering engine.
                properties:
                  name:
                    $ref: '#/definitions/RenderingEngineType'
                    description: The name of the rendering engine.
                  version:
                    $ref: '#/definitions/RenderingEngineVersionType'
                    description: The version of the rendering engine.
                type: object
              robotSoftwareSuite:
                description: Information about a robot software suite.
                properties:
                  name:
                    $ref: '#/definitions/RobotSoftwareSuiteType'
                    description: The name of the robot software suite.
                  version:
                    $ref: '#/definitions/RobotSoftwareSuiteVersionType'
                    description: The version of the robot software suite.
                type: object
              simulationSoftwareSuite:
                description: Information about a simulation software suite.
                properties:
                  name:
                    $ref: '#/definitions/SimulationSoftwareSuiteType'
                    description: The name of the simulation software suite.
                  version:
                    $ref: '#/definitions/SimulationSoftwareSuiteVersionType'
                    description: The version of the simulation software suite.
                type: object
              sources:
                description: The sources of the simulation application.
                items:
                  $ref: '#/definitions/SourceConfig'
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the simulation application.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - name
              - sources
              - simulationSoftwareSuite
              - robotSoftwareSuite
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSimulationApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '485':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
  /createSimulationApplicationVersion:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a simulation application with a specific revision id.
      operationId: CreateSimulationApplicationVersion
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the simulation application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              currentRevisionId:
                description: 'The current revision id for the simulation application. If you provide a value and it matches the latest revision ID, a new version will be created.'
                maxLength: 40
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSimulationApplicationVersionResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /createSimulationJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>'
      operationId: CreateSimulationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientRequestToken:
                description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9_\-=]*'
                type: string
              dataSources:
                description: <p>The data sources for the simulation job.</p> <note> <p>There is a limit of 100 files and a combined size of 25GB for all <code>DataSourceConfig</code> objects. </p> </note>
                items:
                  $ref: '#/definitions/DataSourceConfig'
                maxItems: 5
                minItems: 1
                type: array
              failureBehavior:
                description: <p>The failure behavior the simulation job.</p> <dl> <dt>Continue</dt> <dd> <p>Restart the simulation job in the same host instance.</p> </dd> <dt>Fail</dt> <dd> <p>Stop the simulation job and terminate the instance.</p> </dd> </dl>
                enum:
                  - Fail
                  - Continue
                type: string
              iamRole:
                description: 'The IAM role name that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf. This is how credentials are passed in to your simulation job. '
                maxLength: 255
                minLength: 1
                pattern: 'arn:aws:iam::\w+:role/.*'
                type: string
              loggingConfig:
                description: The logging configuration.
                properties:
                  recordAllRosTopics:
                    $ref: '#/definitions/BoxedBoolean'
                    description: A boolean indicating whether to record all ROS topics.
                type: object
              maxJobDurationInSeconds:
                description: 'The maximum simulation job duration in seconds (up to 14 days or 1,209,600 seconds. When <code>maxJobDurationInSeconds</code> is reached, the simulation job will status will transition to <code>Completed</code>.'
                type: integer
              outputLocation:
                description: The output location.
                properties:
                  s3Bucket:
                    $ref: '#/definitions/S3Bucket'
                    description: The S3 bucket for output.
                  s3Prefix:
                    $ref: '#/definitions/S3Key'
                    description: The S3 folder in the <code>s3Bucket</code> where output files will be placed.
                type: object
              robotApplications:
                description: The robot application to use in the simulation job.
                items:
                  $ref: '#/definitions/RobotApplicationConfig'
                maxItems: 1
                minItems: 1
                type: array
              simulationApplications:
                description: The simulation application to use in the simulation job.
                items:
                  $ref: '#/definitions/SimulationApplicationConfig'
                maxItems: 1
                minItems: 1
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the simulation job.
                maxProperties: 50
                minProperties: 0
                type: object
              vpcConfig:
                description: 'If your simulation job accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and two subnet IDs.'
                properties:
                  assignPublicIp:
                    $ref: '#/definitions/Boolean'
                    description: A boolean indicating whether to assign a public IP address.
                  securityGroups:
                    $ref: '#/definitions/SecurityGroups'
                    description: A list of one or more security groups IDs in your VPC.
                  subnets:
                    $ref: '#/definitions/Subnets'
                    description: A list of one or more subnet IDs in your VPC.
                type: object
            required:
              - loggingConfig
              - maxJobDurationInSeconds
              - iamRole
              - vpcConfig
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSimulationJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  /deleteFleet:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a fleet.
      operationId: DeleteFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              fleet:
                description: The Amazon Resource Name (ARN) of the fleet.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - fleet
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFleetResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /deleteRobot:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a robot.
      operationId: DeleteRobot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              robot:
                description: The Amazon Resource Name (ARN) of the robot.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - robot
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRobotResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /deleteRobotApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a robot application.
      operationId: DeleteRobotApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The Amazon Resource Name (ARN) of the the robot application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              applicationVersion:
                description: The version of the robot application to delete.
                maxLength: 255
                minLength: 1
                pattern: '(\$LATEST)|[0-9]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRobotApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /deleteSimulationApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a simulation application.
      operationId: DeleteSimulationApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the simulation application to delete.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              applicationVersion:
                description: The version of the simulation application to delete.
                maxLength: 255
                minLength: 1
                pattern: '(\$LATEST)|[0-9]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSimulationApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /deregisterRobot:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deregisters a robot.
      operationId: DeregisterRobot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              fleet:
                description: The Amazon Resource Name (ARN) of the fleet.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              robot:
                description: The Amazon Resource Name (ARN) of the robot.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - fleet
              - robot
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterRobotResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /describeDeploymentJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a deployment job.
      operationId: DescribeDeploymentJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              job:
                description: The Amazon Resource Name (ARN) of the deployment job.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - job
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeploymentJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /describeFleet:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a fleet.
      operationId: DescribeFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              fleet:
                description: The Amazon Resource Name (ARN) of the fleet.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - fleet
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFleetResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /describeRobot:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a robot.
      operationId: DescribeRobot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              robot:
                description: The Amazon Resource Name (ARN) of the robot to be described.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - robot
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRobotResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /describeRobotApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a robot application.
      operationId: DescribeRobotApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The Amazon Resource Name (ARN) of the robot application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              applicationVersion:
                description: The version of the robot application to describe.
                maxLength: 255
                minLength: 1
                pattern: '(\$LATEST)|[0-9]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRobotApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /describeSimulationApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a simulation application.
      operationId: DescribeSimulationApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the simulation application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              applicationVersion:
                description: The version of the simulation application to describe.
                maxLength: 255
                minLength: 1
                pattern: '(\$LATEST)|[0-9]*'
                type: string
            required:
              - application
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSimulationApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /describeSimulationJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a simulation job.
      operationId: DescribeSimulationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              job:
                description: The Amazon Resource Name (ARN) of the simulation job to be described.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - job
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSimulationJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /listDeploymentJobs:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of deployment jobs for a fleet. You can optionally provide filters to retrieve specific deployment jobs. '
      operationId: ListDeploymentJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional filters to limit results.</p> <p>The filter names <code>status</code> and <code>fleetName</code> are supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters, but they must be for the same named item. For example, if you are looking for items with the status <code>InProgress</code> or the status <code>Pending</code>.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListDeploymentJobs</code> in paginated output. When this parameter is used, <code>ListDeploymentJobs</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListDeploymentJobs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListDeploymentJobs</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListDeploymentJobs</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentJobsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /listFleets:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of fleets. You can optionally provide filters to retrieve specific fleets. '
      operationId: ListFleets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional filters to limit results.</p> <p>The filter name <code>name</code> is supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListFleets</code> in paginated output. When this parameter is used, <code>ListFleets</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListFleets</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListFleets</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListFleets</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFleetsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /listRobotApplications:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of robot application. You can optionally provide filters to retrieve specific robot applications.
      operationId: ListRobotApplications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional filters to limit results.</p> <p>The filter name <code>name</code> is supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListRobotApplications</code> in paginated output. When this parameter is used, <code>ListRobotApplications</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListRobotApplications</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListRobotApplications</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListRobotApplications</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
              versionQualifier:
                description: The version qualifier of the robot application.
                pattern: ALL
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRobotApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /listRobots:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of robots. You can optionally provide filters to retrieve specific robots.
      operationId: ListRobots
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional filters to limit results.</p> <p>The filter names <code>status</code> and <code>fleetName</code> are supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters, but they must be for the same named item. For example, if you are looking for items with the status <code>Registered</code> or the status <code>Available</code>.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListRobots</code> in paginated output. When this parameter is used, <code>ListRobots</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListRobots</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListRobots</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListRobots</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRobotsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /listSimulationApplications:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of simulation applications. You can optionally provide filters to retrieve specific simulation applications. '
      operationId: ListSimulationApplications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional list of filters to limit results.</p> <p>The filter name <code>name</code> is supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListSimulationApplications</code> in paginated output. When this parameter is used, <code>ListSimulationApplications</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListSimulationApplications</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListSimulationApplications</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListSimulationApplications</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
              versionQualifier:
                description: The version qualifier of the simulation application.
                pattern: ALL
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSimulationApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /listSimulationJobs:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of simulation jobs. You can optionally provide filters to retrieve specific simulation jobs. '
      operationId: ListSimulationJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              filters:
                description: '<p>Optional filters to limit results.</p> <p>The filter names <code>status</code> and <code>simulationApplicationName</code> and <code>robotApplicationName</code> are supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters, but they must be for the same named item. For example, if you are looking for items with the status <code>Preparing</code> or the status <code>Running</code>.</p>'
                items:
                  $ref: '#/definitions/Filter'
                maxItems: 1
                minItems: 1
                type: array
              maxResults:
                description: 'The maximum number of deployment job results returned by <code>ListSimulationJobs</code> in paginated output. When this parameter is used, <code>ListSimulationJobs</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListSimulationJobs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListSimulationJobs</code> returns up to 100 results and a <code>nextToken</code> value if applicable. '
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListSimulationJobs</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                maxLength: 2048
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-\/+=]*'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSimulationJobsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  /registerRobot:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Registers a robot with a fleet.
      operationId: RegisterRobot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              fleet:
                description: The Amazon Resource Name (ARN) of the fleet.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              robot:
                description: The Amazon Resource Name (ARN) of the robot.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - fleet
              - robot
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterRobotResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /restartSimulationJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Restarts a running simulation job.
      operationId: RestartSimulationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              job:
                description: The Amazon Resource Name (ARN) of the simulation job.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - job
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestartSimulationJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /syncDeploymentJob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Syncrhonizes robots in a fleet to the latest deployment. This is helpful if robots were added after a deployment.
      operationId: SyncDeploymentJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientRequestToken:
                description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                maxLength: 64
                minLength: 1
                pattern: '[a-zA-Z0-9_\-=]*'
                type: string
              fleet:
                description: The target fleet for the synchronization.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
            required:
              - clientRequestToken
              - fleet
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SyncDeploymentJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ConcurrentDeploymentException
          schema:
            $ref: '#/definitions/ConcurrentDeploymentException'
        '486':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
  '/tags/{resourceArn}':
    get:
      description: Lists all tags on a AWS RoboMaker resource.
      operationId: ListTagsForResource
      parameters:
        - description: The AWS RoboMaker Amazon Resource Name (ARN) with tags to be listed.
          in: path
          maxLength: 1224
          minLength: 1
          name: resourceArn
          pattern: 'arn:.*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds or edits tags for a AWS RoboMaker resource.</p> <p>Each tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty strings. </p> <p>For information about the rules that apply to tag keys and tag values, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>'
      operationId: TagResource
      parameters:
        - description: The Amazon Resource Name (ARN) of the AWS RoboMaker resource you are tagging.
          in: path
          maxLength: 1224
          minLength: 1
          name: resourceArn
          pattern: 'arn:.*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map that contains tag keys and tag values that are attached to the resource.
                maxProperties: 50
                minProperties: 0
                type: object
            required:
              - tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/tags/{resourceArn}#tagKeys':
    delete:
      description: '<p>Removes the specified tags from the specified AWS RoboMaker resource.</p> <p>To remove a tag, specify the tag key. To change the tag value of an existing tag key, use <a href="https://docs.aws.amazon.com/robomaker/latest/dg/API_TagResource.html"> <code>TagResource</code> </a>. </p>'
      operationId: UntagResource
      parameters:
        - description: The Amazon Resource Name (ARN) of the AWS RoboMaker resource you are removing tags.
          in: path
          maxLength: 1224
          minLength: 1
          name: resourceArn
          pattern: 'arn:.*'
          required: true
          type: string
        - description: A map that contains tag keys and tag values that will be unattached from the resource.
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /updateRobotApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a robot application.
      operationId: UpdateRobotApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the robot application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              currentRevisionId:
                description: The revision id for the robot application.
                maxLength: 40
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-]*'
                type: string
              robotSoftwareSuite:
                description: Information about a robot software suite.
                properties:
                  name:
                    $ref: '#/definitions/RobotSoftwareSuiteType'
                    description: The name of the robot software suite.
                  version:
                    $ref: '#/definitions/RobotSoftwareSuiteVersionType'
                    description: The version of the robot software suite.
                type: object
              sources:
                description: The sources of the robot application.
                items:
                  $ref: '#/definitions/SourceConfig'
                type: array
            required:
              - application
              - sources
              - robotSoftwareSuite
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRobotApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /updateSimulationApplication:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a simulation application.
      operationId: UpdateSimulationApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              application:
                description: The application information for the simulation application.
                maxLength: 1224
                minLength: 1
                pattern: 'arn:.*'
                type: string
              currentRevisionId:
                description: The revision id for the robot application.
                maxLength: 40
                minLength: 1
                pattern: '[a-zA-Z0-9_.\-]*'
                type: string
              renderingEngine:
                description: Information about a rendering engine.
                properties:
                  name:
                    $ref: '#/definitions/RenderingEngineType'
                    description: The name of the rendering engine.
                  version:
                    $ref: '#/definitions/RenderingEngineVersionType'
                    description: The version of the rendering engine.
                type: object
              robotSoftwareSuite:
                description: Information about a robot software suite.
                properties:
                  name:
                    $ref: '#/definitions/RobotSoftwareSuiteType'
                    description: The name of the robot software suite.
                  version:
                    $ref: '#/definitions/RobotSoftwareSuiteVersionType'
                    description: The version of the robot software suite.
                type: object
              simulationSoftwareSuite:
                description: Information about a simulation software suite.
                properties:
                  name:
                    $ref: '#/definitions/SimulationSoftwareSuiteType'
                    description: The name of the simulation software suite.
                  version:
                    $ref: '#/definitions/SimulationSoftwareSuiteVersionType'
                    description: The version of the simulation software suite.
                type: object
              sources:
                description: The sources of the simulation application.
                items:
                  $ref: '#/definitions/SourceConfig'
                type: array
            required:
              - application
              - sources
              - simulationSoftwareSuite
              - robotSoftwareSuite
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSimulationApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
definitions:
  Architecture:
    enum:
      - X86_64
      - ARM64
      - ARMHF
    type: string
  Arn:
    maxLength: 1224
    minLength: 1
    pattern: 'arn:.*'
    type: string
  Arns:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 100
    minItems: 1
    type: array
  BatchDescribeSimulationJobRequest:
    properties:
      jobs:
        $ref: '#/definitions/Arns'
        description: A list of Amazon Resource Names (ARNs) of simulation jobs to describe.
    required:
      - jobs
    type: object
  BatchDescribeSimulationJobResponse:
    properties:
      jobs:
        $ref: '#/definitions/SimulationJobs'
        description: A list of simulation jobs.
      unprocessedJobs:
        $ref: '#/definitions/Arns'
        description: A list of unprocessed simulation job Amazon Resource Names (ARNs).
    type: object
  Boolean:
    type: boolean
  BoxedBoolean:
    type: boolean
  CancelDeploymentJobRequest:
    properties:
      job:
        $ref: '#/definitions/Arn'
        description: The deployment job ARN to cancel.
    required:
      - job
    type: object
  CancelDeploymentJobResponse:
    properties: {}
    type: object
  CancelSimulationJobRequest:
    properties:
      job:
        $ref: '#/definitions/Arn'
        description: The simulation job ARN to cancel.
    required:
      - job
    type: object
  CancelSimulationJobResponse:
    properties: {}
    type: object
  ClientRequestToken:
    maxLength: 64
    minLength: 1
    pattern: '[a-zA-Z0-9_\-=]*'
    type: string
  Command:
    maxLength: 1024
    minLength: 1
    pattern: '[a-zA-Z0-9_.\-]*'
    type: string
  ConcurrentDeploymentException: {}
  CreateDeploymentJobRequest:
    properties:
      clientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
      deploymentApplicationConfigs:
        $ref: '#/definitions/DeploymentApplicationConfigs'
        description: The deployment application configuration.
      deploymentConfig:
        $ref: '#/definitions/DeploymentConfig'
        description: The requested deployment configuration.
      fleet:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the fleet to deploy.
      tags:
        $ref: '#/definitions/TagMap'
        description: A map that contains tag keys and tag values that are attached to the deployment job.
    required:
      - clientRequestToken
      - fleet
      - deploymentApplicationConfigs
    type: object
  CreateDeploymentJobResponse:
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the deployment job.
      createdAt:
        $ref: '#/definitions/CreatedAt'
        description: 'The time, in milliseconds since the epoch, when the fleet was created.'
      deploymentApplicationConfigs:
        $ref: '#/definitions/DeploymentApplicationConfigs'
        description: The deployment application configuration.
      deploymentConfig:
        $ref: '#/definitions/DeploymentConfig'
        description: The deployment configuration.
      failureCode:
        $ref: '#/definitions/DeploymentJobErrorCode'
        description: '<p>The failure code of the simulation job if it failed:</p> <dl> <dt>BadPermissionError</dt> <dd> <p>AWS Greengrass requires a service-level role permission to access other services. The role must include the <a href="https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor"> <code>AWSGreengrassResourceAccessRolePolicy</code> managed policy</a>. </p> </dd> <dt>ExtractingBundleFailure</dt> <dd> <p>The robot application could not be extracted from the bundle.</p> </dd> <dt>FailureThresholdBreached</dt> <dd> <p>The percentage of robots that could not be updated exceeded the percentage set for the deployment.</p> </dd> <dt>GreengrassDeploymentFailed</dt> <dd> <p>The robot application could not be deployed to the robot.</p> </dd> <dt>GreengrassGroupVersionDoesNotExist</dt> <dd> <p>The AWS Greengrass group or version associated with a robot is missing.</p> </dd> <dt>InternalServerError</dt> <dd> <p>An internal error has occurred. Retry your request, but if the problem persists, contact us with details.</p> </dd> <dt>MissingRobotApplicationArchitecture</dt> <dd> <p>The robot application does not have a source that matches the architecture of the robot.</p> </dd> <dt>MissingRobotDeploymentResource</dt> <dd> <p>One or more of the resources specified for the robot application are missing. For example, does the robot application have the correct launch package and launch file?</p> </dd> <dt>PostLaunchFileFailure</dt> <dd> <p>The post-launch script failed.</p> </dd> <dt>PreLaunchFileFailure</dt> <dd> <p>The pre-launch script failed.</p> </dd> <dt>ResourceNotFound</dt> <dd> <p>One or more deployment resources are missing. For example, do robot application source bundles still exist? </p> </dd> <dt>RobotDeploymentNoResponse</dt> <dd> <p>There is no response from the robot. It might not be powered on or connected to the internet.</p> </dd> </dl>'
      failureReason:
        $ref: '#/definitions/GenericString'
        description: The failure reason of the deployment job if it failed.
      fleet:
        $ref: '#/definitions/Arn'
        description: The target fleet for the deployment job.
      status:
        $ref: '#/definitions/DeploymentStatus'
        description: The status of the deployment job.
      tags:
        $ref: '#/definitions/TagMap'
        description: The list of all tags added to the deployment job.
    type: object
  CreateFleetRequest:
    properties:
      name:
        $ref: '#/definitions/Name'
        description: The name of the fleet.
      tags:
        $ref: '#/definitions/TagMap'
        description: A map that contains tag keys and tag values that are attached to the fleet.
    required:
      - name
    type: object
  CreateFleetResponse:
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the fleet.
      createdAt:
        $ref: '#/definitions/CreatedAt'
        description: 'The time, in milliseconds since the epoch, when the fleet was created.'
      name:
        $ref: '#/definitions/Name'
        description: The name of the fleet.
      tags:
        $ref: '#/definitions/TagMap'
        description: The list of all tags added to the fleet.
    type: object
  CreateRobotApplicationRequest:
    properties:
      name:
        $ref: '#/definitions/Name'
        description: The name of the robot application.
      robotSoftwareSuite:
        $ref: '#/definitions/RobotSoftwareSuite'
        description: The robot software suite used by the robot application.
      sources:
        $ref: '#/definitions/SourceConfigs'
        description: The sources of the robot application.
      tags:
        $ref: '#/definitions/TagMap'
        description: A map that contains tag keys and tag values that are attached to the robot application.
    required:
      - name
      - sources
      - robotSoftwareSuite
    type: object
  CreateRobotApplicationResponse:
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the robot application.
      lastUpdatedAt:
        $ref: '#/definitions/LastUpdatedAt'
        description: 'The time, in milliseconds since the epoch, when the robot application was last updated.'
      name:
        $ref: '#/definitions/Name'
        description: The name of the robot application.
      revisionId:
        $ref: '#/definitions/RevisionId'
        description: The revision id of the robot application.
      robotSoftwareSuite:
        $ref: '#/definitions/RobotSoftwareSuite'
        description: The robot software suite used by the robot application.
      sources:
        $ref: '#/definitions/Sources'
        description: The sources of the robot application.
      tags:
        $ref: '#/definitions/TagMap'
        description: The list of all tags added to the robot application.
      version:
        $ref: '#/definitions/Version'
        description: The version of the robot application.
    type: object
  CreateRobotApplicationVersionRequest:
    properties:
      application:
        $ref: '#/definitions/Arn'
        description: The application information for the robot application.
      currentRevisionId:
        $ref: '#/definitions/RevisionId'
        description: 'The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.'
    required:
      - application
    type: object
  CreateRobotApplicationVersionResponse:
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the robot application.
      lastUpdatedAt:
        $ref: '#/definitions/LastUpdatedAt'
        description: 'The time, in milliseconds since the epoch, when the robot application was last updated.'
      name:
        $ref: '#/definitions/Name'
        description: The name of the robot application.
      revisionId:
[...]
