swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /prediction/v1.3
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Lets you access a cloud hosted machine learning service that makes it easy to build smart apps
  title: Prediction
  version: v1.3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - prediction
  x-logo:
    url: 'https://www.google.com/images/icons/feature/predictionapi-64.png'
  x-origin:
    - format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/prediction/v1.3/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: prediction
externalDocs:
  url: 'https://developers.google.com/prediction/docs/developer-guide'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
      'https://www.googleapis.com/auth/prediction': Manage your data in the Google Prediction API
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: hostedmodels
  - name: training
paths:
  '/hostedmodels/{hostedModelName}/predict':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit input and request an output against a hosted model
      operationId: prediction.hostedmodels.predict
      parameters:
        - description: The name of a hosted model
          in: path
          name: hostedModelName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Output'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - hostedmodels
  /training:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Begin training your model
      operationId: prediction.training.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Training'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Training'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - training
  '/training/{data}':
    delete:
      description: Delete a trained model
      operationId: prediction.training.delete
      parameters:
        - description: mybucket/mydata resource in Google Storage
          in: path
          name: data
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - training
    get:
      description: Check training status of your model
      operationId: prediction.training.get
      parameters:
        - description: mybucket/mydata resource in Google Storage
          in: path
          name: data
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Training'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - training
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Add new data to a trained model
      operationId: prediction.training.update
      parameters:
        - description: mybucket/mydata resource in Google Storage
          in: path
          name: data
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Update'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Training'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - training
  '/training/{data}/predict':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit data and request a prediction
      operationId: prediction.training.predict
      parameters:
        - description: mybucket/mydata resource in Google Storage
          in: path
          name: data
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Output'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - training
definitions:
  Input:
    properties:
      input:
        description: Input to the model for a prediction
        properties:
          csvInstance:
            description: 'A list of input features, these can be strings or doubles.'
            items: {}
            type: array
        type: object
    type: object
  Output:
    properties:
      id:
        description: The unique name for the predictive model.
        type: string
      kind:
        default: 'prediction#output'
        description: What kind of resource this is.
        type: string
      outputLabel:
        description: 'The most likely class [Categorical models only].'
        type: string
      outputMulti:
        description: 'A list of classes with their estimated probabilities [Categorical models only].'
        items:
          properties:
            label:
              description: The class label.
              type: string
            score:
              description: The probability of the class.
              format: double
              type: number
          type: object
        type: array
      outputValue:
        description: 'The estimated regression value [Regression models only].'
        format: double
        type: number
      selfLink:
        description: A URL to re-request this resource.
        type: string
    type: object
  Training:
    properties:
      id:
        description: The unique name for the predictive model.
        type: string
      kind:
        default: 'prediction#training'
        description: What kind of resource this is.
        type: string
      modelInfo:
        description: Model metadata.
        properties:
          classWeightedAccuracy:
            description: 'Estimated accuracy of model taking utility weights into account [Categorical models only].'
            format: double
            type: number
          classificationAccuracy:
            description: 'A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data [Categorical models only].'
            format: double
            type: number
          confusionMatrix:
            additionalProperties:
              additionalProperties:
                description: 'The pair {predicted_label, count}.'
                format: double
                type: number
              description: The true class label.
              type: object
            description: 'An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes [Categorical models only].'
            type: object
          confusionMatrixRowTotals:
            additionalProperties:
              description: The true class associated with how many instances it had
              format: double
              type: number
            description: A list of the confusion matrix row totals
            type: object
          meanSquaredError:
            description: 'An estimated mean squared error. The can be used to measure the quality of the predicted model [Regression models only].'
            format: double
            type: number
          modelType:
            description: Type of predictive model (CLASSIFICATION or REGRESSION)
            type: string
          numberClasses:
            description: 'Number of classes in the trained model [Categorical models only].'
            format: int64
            type: string
          numberInstances:
            description: Number of valid data instances used in the trained model.
            format: int64
            type: string
        type: object
      selfLink:
        description: A URL to re-request this resource.
        type: string
      trainingStatus:
        description: 'The current status of the training job. This can be one of following: RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND'
        type: string
      utility:
        description: 'A class weighting function, which allows the importance weights for classes to be specified [Categorical models only].'
        items:
          additionalProperties:
            format: double
            type: number
          description: Class label (string).
          type: object
        type: array
    type: object
  Update:
    properties:
      classLabel:
        description: The true class label of this instance
        type: string
      csvInstance:
        description: The input features for this instance
        items: {}
        type: array
    type: object
