openapi: 3.1.0
servers:
  - description: Production
    url: https://api.codat.io
info:
  contact:
    email: support@codat.io
    name: Codat
    url: https://www.codat.io/contact/
  description: |-
    Codat's Assess API enable you to make smarter credit decisions on your small business customers. Assess enriches your customer's accounting, commerce and banking data to surface actionable insights you didn't have before.

    [Read more...](https://www.codat.io/assess/)

    [See our OpenAPI spec](https://github.com/codatio/oas) 
  summary: Codat's financial insights API
  termsOfService: https://www.codat.io/legals/
  title: Assess API
  version: "1.0"
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static.codat.io_public_branding_codat-icon-blue.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/codatio/oas/main/json/Codat-Assess.json
      version: "3.1"
  x-providerName: codat.io
  x-serviceName: assess
security:
  - auth_header: []
tags:
  - description: Data integrity is important
    name: Data integrity
  - description: Data integrity is important
    name: Reports
  - description: Downloadable reports
    name: Excel reports
  - description: Categorisation
    name: Categories
paths:
  "/companies/{companyId}/reports/enhancedBalanceSheet/accounts":
    get:
      description: |-
        The Enhanced Balance Sheet Accounts endpoint returns a list of categorized accounts that appear on a company’s Balance Sheet along with a balance per financial statement date.

        Codat suggests a category for each account automatically, but you can [change it](/docs/assess-categorizing-accounts-ecommerce-lending) to a more suitable one.
      operationId: get-accounts-for-enhanced-balance-sheet
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/numberOfPeriods"
      responses:
        "200":
          content:
            application/json:
              example:
                reportInfo:
                  companyName: Biscuits
                  currency: GBP
                  generatedDate: 2023-03-24T16:42:09.2973105Z
                  reportName: EnhancedBalanceSheetAccounts
                reportItems:
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: Current
                        - levelName: AccruedDeferredAssets
                        - levelName: PrepaidExpenses
                      status: Suggested
                    accountId: 22de1660-d745-4809-a363-16b134607e66
                    accountName: Prepayments
                    balance: 12973.03
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: Current
                        - levelName: Bank
                      status: Suggested
                    accountId: dbcaf288-2b39-4b95-8ab3-42202ab15918
                    accountName: Business Current Account
                    balance: 316065.92
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: Current
                        - levelName: Inventory
                      status: Suggested
                    accountId: e5d7612c-1671-47b4-b733-5db48363fcd0
                    accountName: Inventory
                    balance: 65945.07
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: Current
                        - levelName: Receivables
                        - levelName: AccountsReceivables
                      status: Suggested
                    accountId: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                    accountName: Accounts Receivable
                    balance: 71937.95
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: NonCurrent
                        - levelName: AccumulatedDepreciationDepletionAmortization
                      status: Suggested
                    accountId: 724ca578-8b5d-4bdb-ad45-e3820eee9de9
                    accountName: Office Equipment
                    balance: 2180148.56
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Asset
                        - levelName: NonCurrent
                        - levelName: AccumulatedDepreciationDepletionAmortization
                      status: Suggested
                    accountId: be3eb911-034b-42de-95db-0d58ac978b7f
                    accountName: Computer Equipment
                    balance: 1804674.9
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Equity
                        - levelName: RetainedEarnings
                        - levelName: CapitalIncomeReserve
                      status: Suggested
                    accountId: 39225d6f-3722-4508-ac3f-a2f6ec96ad31
                    accountName: Retained Earnings
                    balance: 3417424.16
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Equity
                        - levelName: ShareCapital
                        - levelName: CommonStock
                      status: Suggested
                    accountId: 78828dd9-6008-4662-b43c-e9d87907fd2b
                    accountName: Current Year Earnings
                    balance: 44252.52
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: AccountsPayable
                      status: Suggested
                    accountId: 53bf27a7-7497-4c61-9887-dfaad5c6d80a
                    accountName: Accounts Payable
                    balance: 75835.64
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: AccruedLiabilities
                      status: Suggested
                    accountId: e2530acd-91c8-48f8-a35f-935dbd7432e2
                    accountName: Accruals
                    balance: 208264.65
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Bank
                      status: Suggested
                    accountId: d19852a2-e292-4eb9-a909-9dadb95c0e76
                    accountName: Rounding
                    balance: 0
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Debt
                        - levelName: CreditCards
                      status: Suggested
                    accountId: 62060aae-e5a6-4db5-a3bb-6abec6d47959
                    accountName: Credit Card Control Account
                    balance: 25184.57
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Debt
                        - levelName: LoansPayable
                      status: Suggested
                    accountId: 9be6382f-6b33-402d-b448-0db1dbf67a98
                    accountName: Historical Adjustment
                    balance: 9650.58
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Debt
                        - levelName: LoansPayable
                      status: Suggested
                    accountId: 8636effc-50fb-45ba-8b2b-18336fa29b6b
                    accountName: John Smith
                    balance: 2022.41
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Personnel
                        - levelName: PensionPayable
                      status: Confirmed
                    accountId: 3a872b81-d1af-4d31-9bfa-a37280b8f68c
                    accountName: VAT
                    balance: 29034.75
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: Current
                        - levelName: Personnel
                        - levelName: PensionPayable
                      status: Confirmed
                    accountId: 3b58f7ff-fa16-453a-9931-f020816d76e7
                    accountName: Interest Payables
                    balance: 1076.55
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: NonCurrent
                      status: Suggested
                    accountId: 8852a857-aa9d-4706-839f-638e9d6b5a66
                    accountName: Unpaid Expense Claims
                    balance: 0
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Liability
                        - levelName: NonCurrent
                      status: Suggested
                    accountId: 55008233-40e7-41ac-84af-2255fa028c2e
                    accountName: Loan
                    balance: 638999.6
                    date: 2022-08-31T00:00:00
              schema:
                $ref: "#/components/schemas/EnhancedReport"
          description: OK
      summary: Enhanced Balance Sheet Accounts
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
  "/companies/{companyId}/reports/enhancedCashFlow/transactions":
    get:
      description: The Enhanced Cash Flow Transactions endpoint provides a fully categorized list of banking transactions for a company. Accounts and transaction data are obtained from the company's banking data sources.
      operationId: get-enhanced-cash-flow-transactions
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
      responses:
        "200":
          content:
            application/json:
              example:
                dataSources:
                  - accounts:
                      - accountName: Business Savings Account
                        accountProvider: Lloyds Bank
                        accountType: Debit
                        currency: GBP
                        currentBalance: 0
                        platformName: Banking Sandbox
                        sourceRef:
                          sourceType: Banking
                      - accountName: Banking - Business Credit Card
                        accountProvider: Lloyds Bank
                        accountType: Credit
                        currency: GBP
                        currentBalance: 0
                        platformName: Banking Sandbox
                        sourceRef:
                          sourceType: Banking
                      - accountName: Business Undeposited Funds
                        accountProvider: Lloyds Bank
                        accountType: Debit
                        currency: GBP
                        currentBalance: 0
                        platformName: Banking Sandbox
                        sourceRef:
                          sourceType: Banking
                      - accountName: Business Current Account
                        accountProvider: Lloyds Bank
                        accountType: Debit
                        currency: GBP
                        currentBalance: 0
                        platformName: Banking Sandbox
                        sourceRef:
                          sourceType: Banking
                reportInfo:
                  companyName: test
                  generatedDate: 2023-03-24T16:44:17.5302732Z
                  pageNumber: 1
                  pageSize: 10
                  reportName: Cash flow transactions report
                  totalResults: 2194
                reportItems:
                  - transactions:
                      - amount: -6905.44
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment m86SDGpQr3
                        id: ab5e07a0-5578-4d91-8421-2dc72713b74f
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: 4332.84
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment from customer a5c68c7b-6825-46de-bf63-6ad23ef506a4
                        id: 9846bbed-46d3-472c-a848-1ce8ebea7213
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: 4034.3
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment from customer a5c68c7b-6825-46de-bf63-6ad23ef506a4
                        id: 94b213fb-d742-435e-90f1-bfe723a076d5
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -313.76
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier 78792d13-90a0-4ea2-8e07-81c3c893997e
                        id: cfceb7ff-eaa2-45b6-aca7-fa0e0b439161
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -614.4
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier 46d2e1fb-b4e9-469c-814a-21ff8105a26e
                        id: ba814f14-0fe3-41d0-9308-57f40642ac75
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: 5199.62
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment from customer a5c68c7b-6825-46de-bf63-6ad23ef506a4
                        id: e67cc30e-fd5c-4eea-8365-ec40dfdd3ef6
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -21420.94
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier 18ac18dc-945b-4083-9013-e8a100b999fa
                        id: e0f08a0b-3575-4dde-98c4-3c854028d2d2
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -30924.22
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier 630a3f16-5f01-4986-ae6b-82333ec49449
                        id: 4b70d379-8284-4f44-bb37-c7935df950cc
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -568.78
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier bQATU4eSb9
                        id: 76b73373-9345-472e-8edf-5be849d797fe
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
                      - amount: -13050.79
                        currency: GBP
                        date: 2022-11-08T00:00:00
                        description: Payment to supplier 9c37eb21-579a-4886-8296-3a853076b7bd
                        id: ee92fd6f-e0f7-4391-85fd-4b50921b973f
                        sourceRef:
                          sourceType: Banking
                        transactionCategory:
                          levels: []
              schema:
                $ref: "#/components/schemas/EnhancedCashFlowTransactions"
          description: OK
      summary: Get enhanced cash flow report
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
  "/companies/{companyId}/reports/enhancedInvoices":
    get:
      description: Gets a list of invoices linked to the corresponding banking transaction
      operationId: get-enhanced-invoices-report
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
      responses:
        "200":
          content:
            application/json:
              example:
                reportInfo:
                  companyName: Small Sandbox
                  generatedDate: 2023-03-24T13:27:28.1156686Z
                  pageNumber: 1
                  pageSize: 10
                  reportName: Invoices report
                  totalResults: 101
                reportItems:
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Serena Keeling
                      id: ee4d0eee-063d-4c9f-8226-2c9a6a816249
                    dueDate: 2021-04-06T09:44:00
                    id: 15221fa4-e91a-4f64-a2bb-caeab4db85a4
                    invoiceNumber: UDs5KlfE
                    issueDate: 2021-04-06T09:44:00
                    paidOnDate: 2021-04-06T09:44:00
                    payments: []
                    status: Paid
                    totalAmount: 7044.83
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Quinton Kovacek
                      id: 81e9c0df-3e5e-4180-b20c-c8e58100cdf3
                    dueDate: 2021-04-06T09:44:00
                    id: 58aea1cb-5b31-4eed-ba16-489dfa67a831
                    invoiceNumber: 1IU1PMoT
                    issueDate: 2021-04-06T09:44:00
                    paidOnDate: 2021-04-06T09:44:00
                    payments: []
                    status: Paid
                    totalAmount: 3567.59
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Antwon Dach
                      id: c7326084-cd56-48e6-bcfa-be8919e024e1
                    dueDate: 2021-04-18T01:27:00
                    id: 9ecd07bc-9cab-4516-bad0-a0cd565cdbaf
                    invoiceNumber: eEIWyPN4
                    issueDate: 2021-04-08T01:27:00
                    paidOnDate: 2021-04-10T12:31:00
                    payments:
                      - amount: 153233.36
                        currency: GBP
                        currencyRate: 1
                        date: 2021-04-10T12:31:00
                        id: 271f2bd4-fab2-468c-9ea5-636b02c865b2
                        paymentType: payments
                    status: Paid
                    totalAmount: 153233.36
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Dolores Rath
                      id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    dueDate: 2021-04-23T17:30:00
                    id: 7cea078a-5c9a-4788-ae72-9bb60c5cc184
                    invoiceNumber: BXb8mYQW
                    issueDate: 2021-04-16T17:30:00
                    paidOnDate: 2021-04-23T17:30:00
                    payments:
                      - amount: 12657.69
                        currency: GBP
                        currencyRate: 1
                        date: 2021-04-23T17:30:00
                        id: 701608b9-2c52-443a-a272-7acc820e7065
                        paymentType: payments
                    status: Paid
                    totalAmount: 12657.69
                  - amountDue: 381.09
                    currency: GBP
                    customerRef:
                      companyName: Bryana Douglas
                      id: 5cbaf1af-4f02-4206-85ab-c525bd9b4f99
                    dueDate: 2021-04-27T06:46:00
                    id: aa4503d7-fe01-49fe-ba42-259b421ac640
                    invoiceNumber: wdjwiL5B
                    issueDate: 2021-04-20T06:46:00
                    paidOnDate: 0001-01-01T00:00:00
                    payments:
                      - amount: 12554.3
                        currency: GBP
                        currencyRate: 1
                        date: 2021-04-23T14:59:00
                        id: 8c353289-0828-4991-983c-0285c7fc4fb3
                        paymentType: payments
                    status: PartiallyPaid
                    totalAmount: 12935.39
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Brady Wilderman
                      id: 6f5290e5-70aa-4d0c-816e-9d2312cf217f
                    dueDate: 2021-05-03T09:32:00
                    id: d8a0e26e-4ec8-4fb5-887d-8b7531e3bedf
                    invoiceNumber: cTjJcu8x
                    issueDate: 2021-04-23T09:32:00
                    paidOnDate: 2021-05-03T09:32:00
                    payments:
                      - amount: 21506.72
                        currency: GBP
                        currencyRate: 1
                        date: 2021-05-03T09:32:00
                        id: a91beee3-3b73-4194-8ded-837955d62900
                        paymentType: payments
                    status: Paid
                    totalAmount: 21526.72
                  - amountDue: 1225.06
                    currency: GBP
                    customerRef:
                      companyName: Dolores Rath
                      id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    dueDate: 2021-05-11T23:23:00
                    id: 06890e67-35fb-4276-9857-95db40cfd15d
                    invoiceNumber: htXJuUDb
                    issueDate: 2021-05-01T23:23:00
                    paidOnDate: 0001-01-01T00:00:00
                    payments:
                      - amount: 5926.35
                        currency: GBP
                        currencyRate: 1
                        date: 2021-05-04T17:57:00
                        id: 36c9294d-ed7b-4903-813d-e44f259cc4d6
                        paymentType: payments
                    status: PartiallyPaid
                    totalAmount: 7151.41
                  - amountDue: 14408.54
                    currency: GBP
                    customerRef:
                      companyName: Dolores Rath
                      id: 44e8516d-bcb0-459f-9e5d-7beaa56d57d0
                    dueDate: 2021-05-25T08:53:00
                    id: 160e8b51-1fa0-46b9-98fe-1ff5399ce99b
                    invoiceNumber: 9wegEXpG
                    issueDate: 2021-05-18T08:53:00
                    paidOnDate: 0001-01-01T00:00:00
                    payments:
                      - amount: 8113.8
                        currency: GBP
                        currencyRate: 1
                        date: 2021-05-23T04:04:00
                        id: c913cd2e-9dac-4403-91cd-487892a7add0
                        paymentType: payments
                    status: PartiallyPaid
                    totalAmount: 22522.34
                  - amountDue: 0
                    currency: GBP
                    customerRef:
                      companyName: Ignacio Moore
                      id: cc96af36-e2f5-49f7-bf40-271503f45071
                    dueDate: 2021-06-04T19:51:00
                    id: 5a934955-561d-436a-a564-fd624a79f54c
                    invoiceNumber: l7YwGxG7
                    issueDate: 2021-05-25T19:51:00
                    paidOnDate: 2021-05-28T07:31:00
                    payments:
                      - amount: 11047.08
                        currency: GBP
                        currencyRate: 1
                        date: 2021-05-28T07:31:00
                        id: d7b2371d-94bd-4c58-a585-a893567d4ccd
                        paymentType: payments
                    status: Paid
                    totalAmount: 11047.08
                  - amountDue: 5036.83
                    currency: GBP
                    customerRef:
                      companyName: Freida Ebert
                      id: e1ecc8f2-8a63-4fe9-97c9-c87fd90ca0a6
                    dueDate: 2021-06-03T19:07:00
                    id: 17690788-2936-46b5-ba46-ba6a36a87483
                    invoiceNumber: ntH1cRYz
                    issueDate: 2021-05-27T19:07:00
                    paidOnDate: 0001-01-01T00:00:00
                    payments:
                      - amount: 2154.49
                        currency: GBP
                        currencyRate: 1
                        date: 2021-06-03T19:07:00
                        id: b152a8b3-0320-42a7-817e-9781ac6ca951
                        paymentType: payments
                    status: PartiallyPaid
                    totalAmount: 7191.32
              schema:
                $ref: "#/components/schemas/EnhancedInvoicesReport"
              x-speakeasy-usage-example: true
          description: OK
      summary: Enhanced Invoices Report
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
  "/companies/{companyId}/reports/enhancedProfitAndLoss/accounts":
    get:
      description: |-
        The Enhanced Profit and Loss Accounts endpoint returns a list of categorized accounts that appear on a company’s Profit and Loss. It also includes a balance per the financial statement date.

        Codat suggests a category for each account automatically, but you can [change it](/docs/assess-categorizing-accounts-ecommerce-lending) to a more suitable one.
      operationId: get-accounts-for-enhanced-profit-and-loss
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/numberOfPeriods"
      responses:
        "200":
          content:
            application/json:
              example:
                reportInfo:
                  companyName: Biscuits
                  currency: GBP
                  generatedDate: 2023-03-24T16:40:59.0847354Z
                  reportName: EnhancedProfitAndLossAccounts
                reportItems:
                  - accountCategory:
                      levels:
                        - levelName: Expense
                      status: Suggested
                    accountId: 04f7111b-55d4-4efc-b329-1bd5c791933a
                    accountName: Repairs & Maintenance
                    balance: 830.93
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: CostOfSales
                      status: Suggested
                    accountId: 7f6a0e92-65be-4333-9a0a-d981b03bedd1
                    accountName: Wages
                    balance: 12000
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: CostOfSales
                        - levelName: Inventory
                      status: Suggested
                    accountId: 7403e960-5b72-42ff-abf4-c870ad8910bd
                    accountName: Purchases
                    balance: 28937.71
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: CostOfSales
                        - levelName: Inventory
                      status: Suggested
                    accountId: e8a0a24e-2dab-46b1-bfe1-6e92551c04e8
                    accountName: Purchase Discounts
                    balance: 582.4
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: NonOperating
                        - levelName: Donations
                      status: Suggested
                    accountId: cbf82e0d-87a7-464d-b567-9274ea94a1c0
                    accountName: Charitable and Political Donations
                    balance: 350.44
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: NonOperating
                        - levelName: Interest
                      status: Suggested
                    accountId: 78785fd7-f197-4c34-aa17-6e76b9255d34
                    accountName: Interest Paid (operating)
                    balance: 535.81
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: NonOperating
                        - levelName: Taxes
                        - levelName: CorporationTaxes
                      status: Suggested
                    accountId: fb3210ef-edeb-48af-bb49-b85d40c1e6bb
                    accountName: Corporation Tax
                    balance: 633.05
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: BankCharges
                      status: Suggested
                    accountId: f3aa84fe-5c31-4107-b207-7e0419f636d7
                    accountName: Bank Fees
                    balance: 782.61
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Leases
                        - levelName: BuildingRentLease
                      status: Suggested
                    accountId: 9cbe5fe4-ca60-4792-8bf1-de01fb7010aa
                    accountName: Rent
                    balance: 8000
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Leases
                        - levelName: EquipmentRentLease
                      status: Suggested
                    accountId: 138a8eb3-5c08-4e59-a3bc-892119694447
                    accountName: Motor Vehicle Expenses
                    balance: 1090.68
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Marketing
                      status: Suggested
                    accountId: 868591ad-f9c2-4956-a5ec-c32c1d48c6f3
                    accountName: Advertising & Marketing
                    balance: 26307.02
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Marketing
                      status: Suggested
                    accountId: 1734ff00-2a17-45b4-8db6-2dc2e832c460
                    accountName: Postage, Freight & Courier
                    balance: 1128.85
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Marketing
                      status: Suggested
                    accountId: 7d8d0322-f452-47de-a8e8-54b0130e6f38
                    accountName: Subscriptions
                    balance: 40
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: NonCash
                        - levelName: Amortization
                      status: Suggested
                    accountId: 4378ddba-36b4-4b35-9970-bd972b20d137
                    accountName: Amortization
                    balance: 5.72
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: NonCash
                        - levelName: Depreciation
                      status: Suggested
                    accountId: 940c8a59-3348-4a0b-a1b1-781d9f29cc8b
                    accountName: Depreciation Expense
                    balance: 1539.18
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Personnel
                        - levelName: EmployeeBenefits
                      status: Suggested
                    accountId: e7ac3baa-cfbe-40c1-a172-83d22e84435b
                    accountName: Entertainment-100% business
                    balance: 1416.05
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: b5e801e8-8dbc-4390-ac99-3b0fff54a89f
                    accountName: General Expenses
                    balance: 1465.61
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: 5360066d-1474-49f6-a7a5-c66d5f6032ba
                    accountName: Light, Power, Heating
                    balance: 7347.35
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: 7aa7988a-ff61-4cb8-bef3-15395355d108
                    accountName: Printing & Stationery
                    balance: 1027.25
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: 043b6bcb-dfe6-4c97-9b4c-f9b300fe3f03
                    accountName: Telephone & Internet
                    balance: 45
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: eef78ed1-dfed-447c-bdba-3a49fb2c044b
                    accountName: Audit & Accountancy fees
                    balance: 0
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: SalesGeneralAdministrative
                      status: Suggested
                    accountId: c16f5c35-8283-47da-9d09-5fecb183b0cb
                    accountName: Cleaning
                    balance: 130
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Expense
                        - levelName: Operating
                        - levelName: Travel
                      status: Suggested
                    accountId: df62060b-41cc-4bf2-9de7-c7e537b5663a
                    accountName: Travel - National
                    balance: 860.02
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Income
                        - levelName: Revenue
                        - levelName: Online
                      status: Suggested
                    accountId: 68794a8f-b22d-4520-b97b-025b7cb10f94
                    accountName: Other Revenue
                    balance: 850.22
                    date: 2022-08-31T00:00:00
                  - accountCategory:
                      levels:
                        - levelName: Income
                        - levelName: Revenue
                        - levelName: Wholesale
                      status: Suggested
                    accountId: 72df89d2-512b-4455-af51-a6b563733842
                    accountName: Sales
                    balance: 138457.98
                    date: 2022-08-31T00:00:00
              schema:
                $ref: "#/components/schemas/EnhancedReport"
          description: OK
      summary: Enhanced Profit and Loss Accounts
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
  /data/assess/accounts/categories:
    get:
      deprecated: true
      description: "Lists available account categories Codat's categorisation engine can provide. "
      operationId: list-available-account-categories
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: "#/components/schemas/Categories"
          description: OK
      summary: List account categories
      tags:
        - Categories
    parameters: []
  "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/details":
    get:
      description: Gets record-by-record match results for a given company and datatype, optionally restricted by a Codat query string.
      operationId: get-data-integrity-details
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Details"
          description: OK
      summary: Lists data integrity details for date type
      tags:
        - Data integrity
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/dataIntegrityDataType"
  "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/status":
    get:
      description: Gets match status for a given company and datatype.
      operationId: get-data-integrity-status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: OK
      summary: Get data integrity status
      tags:
        - Data integrity
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/dataIntegrityDataType"
  "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/summaries":
    get:
      description: Gets match summary for a given company and datatype, optionally restricted by a Codat query string.
      operationId: get-data-integrity-summaries
      parameters:
        - $ref: "#/components/parameters/query"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Summaries"
          description: OK
      summary: Get data integrity summary
      tags:
        - Data integrity
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/dataIntegrityDataType"
  "/data/companies/{companyId}/assess/excel":
    get:
      description: Returns the status of the latest report requested.
      operationId: get-excel-report-generation-status
      parameters:
        - $ref: "#/components/parameters/excelReportType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExcelStatus"
          description: OK
      summary: Get status of Excel report
      tags:
        - Excel reports
    parameters:
      - $ref: "#/components/parameters/companyId"
    post:
      description: Generate an Excel report which can subsequently be downloaded.
      operationId: generate-excel-report
      parameters:
        - $ref: "#/components/parameters/excelReportType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExcelStatus"
          description: OK
      summary: Generate an Excel report
      tags:
        - Excel reports
  "/data/companies/{companyId}/assess/excel/download":
    get:
      description: Download the previously generated Excel report to a local drive.
      operationId: get-excel-report
      parameters:
        - $ref: "#/components/parameters/excelReportType"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                type: object
          description: OK
      summary: Download generated excel report
      tags:
        - Excel reports
    parameters:
      - $ref: "#/components/parameters/companyId"
    post:
      deprecated: true
      description: Download the previously generated Excel report to a local drive.
      operationId: download-excel-report
      parameters:
        - $ref: "#/components/parameters/excelReportType"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                type: object
          description: OK
      summary: Download generated excel report
      tags:
        - Excel reports
  "/data/companies/{companyId}/connections/{connectionId}/assess/accountingMetrics/marketing":
    get:
      description: Request an Excel report for download.
      operationId: get-accounting-marketing-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
        - description: If set to true, then the system includes the input values within the response.
          in: query
          name: showInputValues
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Marketing metrics
                      index: 1
                      items:
                        - index: 0
                          value: Marketing to revenue
                        - index: 1
                          value: Marketing to expense
                      type: string
                  measures:
                    - displayName: Percentage
                      index: 0
                      type: percentage
                      units: "%"
                    - displayName: Percentage change vs previous period
                      index: 1
                      type: percentage
                      units: "%"
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Marketing metrics
                          item: 0
                          itemDisplayName: Marketing to revenue
                          measures:
                            - index: 0
                              measureDisplayName: Percentage
                              value: 564.17
                            - index: 1
                              measureDisplayName: Percentage change vs previous period
                              value: 8.33
                        - dimension: 1
                          dimensionDisplayName: Marketing metrics
                          item: 1
                          itemDisplayName: Marketing to expense
                          measures:
                            - index: 0
                              measureDisplayName: Percentage
                              value: 27.63
                            - index: 1
                              measureDisplayName: Percentage change vs previous period
                              value: 0.12
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Marketing metrics
                    name: marketing_metrics
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Get the marketing metrics from an accounting source for a given company.
      tags:
        - Excel reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/accounts/categories":
    get:
      deprecated: true
      description: Lists suggested and confirmed chart of account categories for the given company and data connection.
      operationId: list-accounts-categories
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    _links:
                      current:
                        href: /data/companies/companyId/connections/connectionId/assess/accounts/categories?page=1&pageSize=10
                      self:
                        href: /data/companies/companyId/connections/connectionId/assess/accounts/categories
                    pageNumber: 1
                    pageSize: 10
                    results:
                      - accountRef:
                          id: 13d946f0-c5d5-42bc-b092-97ece17923ab
                          name: string
                        confirmed:
                          detailType: Cash
                          modifiedDate: 2019-08-24T14:15:22Z
                          subtype: Current
                          type: Asset
                        suggested:
                          detailType: Cash
                          modifiedDate: 2019-08-24T14:15:22Z
                          subtype: Current
                          type: Asset
                    totalResults: 1
              schema:
                $ref: "#/components/schemas/CategorisedAccounts"
          description: OK
      summary: List suggested and confirmed account categories
      tags:
        - Categories
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
    patch:
      deprecated: true
      description: Comfirms the categories for all or a batch of accounts for a specific connection.
      operationId: update-accounts-categories
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/ConfirmCategories"
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CategorisedAccount"
                type: array
          description: OK
      summary: Confirm categories for accounts
      tags:
        - Categories
  "/data/companies/{companyId}/connections/{connectionId}/assess/accounts/{accountId}/categories":
    get:
      deprecated: true
      description: Get category for specific nominal account.
      operationId: get-account-category
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorisedAccount"
          description: OK
      summary: Get suggested and/or confirmed category for a specific account
      tags:
        - Categories
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - description: Nominal account id
        in: path
        name: accountId
        required: true
        schema:
          type: string
    patch:
      deprecated: true
      description: Update category for a specific nominal account
      operationId: update-account-category
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorisedAccount"
          description: OK
      summary: Patch account categories
      tags:
        - Categories
  "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/customerRetention":
    get:
      description: Gets the customer retention metrics for a specific company connection, over one or more periods of time.
      operationId: get-commerce-customer-retention-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Customer retention metrics
                      index: 1
                      items:
                        - index: 0
                          value: Existing customers
                        - index: 1
                          value: New customers
                        - index: 2
                          value: Total customers
                        - index: 3
                          value: Retention rate
                        - index: 4
                          value: Repeat rate
                      type: string
                  measures:
                    - displayName: Count
                      index: 0
                      type: int
                    - displayName: Percentage
                      index: 1
                      type: percentage
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Customer retention metrics
                          item: 0
                          itemDisplayName: Existing customers
                          measures:
                            - index: 0
                              measureDisplayName: Count
                              value: 13
                        - dimension: 1
                          dimensionDisplayName: Customer retention metrics
                          item: 1
                          itemDisplayName: New customers
                          measures:
                            - index: 0
                              measureDisplayName: Count
                              value: 47
                        - dimension: 1
                          dimensionDisplayName: Customer retention metrics
                          item: 2
                          itemDisplayName: Total customers
                          measures:
                            - index: 0
                              measureDisplayName: Count
                              value: 60
                        - dimension: 1
                          dimensionDisplayName: Customer retention metrics
                          item: 3
                          itemDisplayName: Retention rate
                          measures:
                            - index: 1
                              measureDisplayName: Percentage
                              value: 0
                        - dimension: 1
                          dimensionDisplayName: Customer retention metrics
                          item: 4
                          itemDisplayName: Repeat rate
                          measures:
                            - index: 1
                              measureDisplayName: Percentage
                              value: 21.67
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Customer Retention
                    name: customer_retention
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Get the customer retention metrics for a specific company.
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/lifetimeValue":
    get:
      description: Gets the lifetime value metric for a specific company connection, over one or more periods of time.
      operationId: get-commerce-lifetime-value-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Lifetime value metrics
                      index: 1
                      items:
                        - index: 0
                          value: Lifetime value
                      type: string
                  measures:
                    - displayName: Value
                      index: 0
                      type: currency
                      units: GBP
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Lifetime value metrics
                          item: 0
                          itemDisplayName: Lifetime value
                          measures:
                            - index: 0
                              measureDisplayName: Value
                              value: 3782.07
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Lifetime Value
                    name: lifetime_value
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Get the lifetime value metric for a specific company.
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/orders":
    get:
      description: Gets the order information for a specific company connection, over one or more periods of time.
      operationId: get-commerce-orders-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Order metrics
                      index: 1
                      items:
                        - index: 0
                          value: Number of orders
                        - index: 1
                          value: Total value
                        - index: 2
                          value: Average order value
                      type: string
                  measures:
                    - displayName: Count
                      index: 0
                      type: int
                    - displayName: Value
                      index: 1
                      type: currency
                      units: GBP
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Order metrics
                          item: 0
                          itemDisplayName: Number of orders
                          measures:
                            - index: 0
                              measureDisplayName: Count
                              value: 94
                        - dimension: 1
                          dimensionDisplayName: Order metrics
                          item: 1
                          itemDisplayName: Total value
                          measures:
                            - index: 1
                              measureDisplayName: Value
                              value: 3315.18
                        - dimension: 1
                          dimensionDisplayName: Order metrics
                          item: 2
                          itemDisplayName: Average order value
                          measures:
                            - index: 1
                              measureDisplayName: Value
                              value: 35.27
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Orders
                    name: orders
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Get order information for a specific company
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/refunds":
    get:
      description: Gets the refunds information for a specific company connection, over one or more periods of time.
      operationId: get-commerce-refunds-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Refund metrics
                      index: 1
                      items:
                        - index: 0
                          value: Number of refunds
                        - index: 1
                          value: Value of refunds
                        - index: 2
                          value: Refund rate
                      type: string
                  measures:
                    - displayName: Count
                      index: 0
                      type: int
                    - displayName: Value
                      index: 1
                      type: currency
                      units: GBP
                    - displayName: Percentage
                      index: 2
                      type: percentage
                      units: "%"
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Refund metrics
                          item: 0
                          itemDisplayName: Number of refunds
                          measures:
                            - index: 0
                              measureDisplayName: Count
                              value: 39
                        - dimension: 1
                          dimensionDisplayName: Refund metrics
                          item: 1
                          itemDisplayName: Value of refunds
                          measures:
                            - index: 1
                              measureDisplayName: Value
                              value: 642.82
                        - dimension: 1
                          dimensionDisplayName: Refund metrics
                          item: 2
                          itemDisplayName: Refund rate
                          measures:
                            - index: 2
                              measureDisplayName: Percentage
                              value: 0.41
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Refunds
                    name: refunds
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Get the refunds information for a specific company
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/revenue":
    get:
      description: Get the revenue and revenue growth for a specific company connection, over one or more periods of time.
      operationId: get-commerce-revenue-metrics
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/periodUnit"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                - dimensions:
                    - displayName: Period
                      index: 0
                      items:
                        - displayName: Period 0
                          end: 2022-12-31
                          index: 0
                          start: 2022-01-01
                      type: datespan
                    - displayName: Revenue metrics
                      index: 1
                      items:
                        - index: 0
                          value: Revenue
                        - index: 1
                          value: Revenue growth
                      type: string
                  measures:
                    - displayName: Value
                      index: 0
                      type: currency
                      units: GBP
                    - displayName: Percentage change vs. previous period
                      index: 1
                      type: percentage
                      units: "%"
                  reportData:
                    - components:
                        - dimension: 1
                          dimensionDisplayName: Revenue metrics
                          item: 0
                          itemDisplayName: Revenue
                          measures:
                            - index: 0
                              measureDisplayName: Value
                              value: 2392.48
                        - dimension: 1
                          dimensionDisplayName: Revenue metrics
                          item: 1
                          itemDisplayName: Revenue growth
                          measures:
                            - index: 1
                              measureDisplayName: Percentage change vs. previous period
                              value: 276.65
                      dimension: 0
                      dimensionDisplayName: Period
                      item: 0
                      itemDisplayName: Period 0
                  reportInfo:
                    displayName: Revenue
                    name: revenue
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Commerce Revenue Metrics
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/enhancedBalanceSheet":
    get:
      deprecated: true
      description: Gets a fully categorized balance sheet statement for a given company, over one or more period(s).
      operationId: get-enhanced-balance-sheet
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                dimensions:
                  - displayName: Period
                    index: 0
                    items:
                      - displayName: Period 0
                        end: 2022-12-31
                        index: 0
                        start: 2022-01-01
                    type: datespan
                  - displayName: Category
                    index: 1
                    items:
                      - index: 0
                        value: Asset
                      - index: 1
                        value: Liability
                      - index: 2
                        value: Equity
                      - index: 3
                        value: Net Assets
                    type: string
                  - displayName: Sub Type
                    index: 2
                    items:
                      - index: 0
                        value: Non-current assets
                      - index: 1
                        value: Current assets
                      - index: 2
                        value: Current liabilities
                      - index: 3
                        value: Non-current liabilities
                      - index: 4
                        value: Equity
                    type: string
                  - displayName: Detail Type
                    index: 3
                    items:
                      - index: 0
                        value: Fixtures and fittings
                      - index: 1
                        value: Equipment and machinery
                      - index: 2
                        value: Accounts receivable
                      - index: 3
                        value: Prepaid expenses
                      - index: 4
                        value: Inventory - merchandise
                      - index: 5
                        value: Cash
                      - index: 6
                        value: Taxes payable
                      - index: 7
                        value: Other current liabilities
                      - index: 8
                        value: Accounts payable
                      - index: 9
                        value: Due to employees
                      - index: 10
                        value: Interest payable
                      - index: 11
                        value: Notes payable
                      - index: 12
                        value: Accrued liabilities
                      - index: 13
                        value: Credit cards
                      - index: 14
                        value: Loans payable
                      - index: 15
                        value: Retained earnings
                    type: string
                  - displayName: Accounts
                    index: 4
                    items:
                      - dataType: account
                        displayName: Office Equipment
                        id: 724ca578-8b5d-4bdb-ad45-e3820eee9de9
                        index: 0
                      - dataType: account
                        displayName: Computer Equipment
                        id: be3eb911-034b-42de-95db-0d58ac978b7f
                        index: 1
                      - dataType: account
                        displayName: Accounts Receivable
                        id: 1b6266d1-1e44-46c5-8eb5-a8f98e03124e
                        index: 2
                      - dataType: account
                        displayName: Prepayments
                        id: 22de1660-d745-4809-a363-16b134607e66
                        index: 3
                      - dataType: account
                        displayName: Inventory
                        id: e5d7612c-1671-47b4-b733-5db48363fcd0
                        index: 4
                      - dataType: account
                        displayName: Business Current Account
                        id: dbcaf288-2b39-4b95-8ab3-42202ab15918
                        index: 5
                      - dataType: account
                        displayName: VAT
                        id: 3a872b81-d1af-4d31-9bfa-a37280b8f68c
                        index: 6
                      - dataType: account
                        displayName: Rounding
                        id: d19852a2-e292-4eb9-a909-9dadb95c0e76
                        index: 7
                      - dataType: account
                        displayName: Historical Adjustment
                        id: 9be6382f-6b33-402d-b448-0db1dbf67a98
                        index: 8
                      - dataType: account
                        displayName: Accounts Payable
                        id: 53bf27a7-7497-4c61-9887-dfaad5c6d80a
                        index: 9
                      - dataType: account
                        displayName: Unpaid Expense Claims
                        id: 8852a857-aa9d-4706-839f-638e9d6b5a66
                        index: 10
                      - dataType: account
                        displayName: Interest Payables
                        id: 3b58f7ff-fa16-453a-9931-f020816d76e7
                        index: 11
                      - dataType: account
                        displayName: John Smith
                        id: 8636effc-50fb-45ba-8b2b-18336fa29b6b
                        index: 12
                      - dataType: account
                        displayName: Accruals
                        id: e2530acd-91c8-48f8-a35f-935dbd7432e2
                        index: 13
                      - dataType: account
                        displayName: Credit Card Control Account
                        id: 62060aae-e5a6-4db5-a3bb-6abec6d47959
                        index: 14
                      - dataType: account
                        displayName: Loan
                        id: 55008233-40e7-41ac-84af-2255fa028c2e
                        index: 15
                      - dataType: account
                        displayName: Retained Earnings
                        id: 39225d6f-3722-4508-ac3f-a2f6ec96ad31
                        index: 16
                      - dataType: account
                        displayName: Current Year Earnings
                        id: 78828dd9-6008-4662-b43c-e9d87907fd2b
                        index: 17
                    type: recordRef
                measures:
                  - displayName: Value
                    index: 0
                    type: currency
                    units: GBP
                  - displayName: Percentage change vs previous period
                    index: 1
                    type: percentage
                    units: "%"
                reportData:
                  - components:
                      - components:
                          - components:
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 0
                                    itemDisplayName: Office Equipment
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 2116634.16
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 0
                                itemDisplayName: FixturesFittings
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 2116634.16
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 1
                                    itemDisplayName: Computer Equipment
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 2095078.83
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 1
                                itemDisplayName: EquipmentMachinery
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 2095078.83
                            dimension: 2
                            dimensionDisplayName: Sub Type
                            item: 0
                            itemDisplayName: NonCurrent
                            measures:
                              - index: 0
                                measureDisplayName: Value
                                value: 4211712.99
                          - components:
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 2
                                    itemDisplayName: Accounts Receivable
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 59801.56
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 2
                                itemDisplayName: AccountsReceivable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 59801.56
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 3
                                    itemDisplayName: Prepayments
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 17370.58
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 3
                                itemDisplayName: PrepaidExpenses
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 17370.58
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 4
                                    itemDisplayName: Inventory
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 76076.15
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 4
                                itemDisplayName: InventoryMerchandise
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 76076.15
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 5
                                    itemDisplayName: Business Current Account
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 250411.79
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 5
                                itemDisplayName: Cash
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 250411.79
                            dimension: 2
                            dimensionDisplayName: Sub Type
                            item: 1
                            itemDisplayName: Current
                            measures:
                              - index: 0
                                measureDisplayName: Value
                                value: 403660.08
                        dimension: 1
                        dimensionDisplayName: Category
                        item: 0
                        itemDisplayName: Asset
                        measures:
                          - index: 0
                            measureDisplayName: Value
                            value: 4615373.07
                      - components:
                          - components:
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 6
                                    itemDisplayName: VAT
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 22517.58
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 6
                                itemDisplayName: TaxesPayable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 22517.58
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 7
                                    itemDisplayName: Rounding
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 0
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 8
                                    itemDisplayName: Historical Adjustment
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 7315.78
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 7
                                itemDisplayName: Other
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 7315.78
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 9
                                    itemDisplayName: Accounts Payable
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 39512.94
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 8
                                itemDisplayName: AccountsPayable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 39512.94
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 11
                                    itemDisplayName: Interest Payables
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 1232.43
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 10
                                itemDisplayName: InterestPayable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 1232.43
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 12
                                    itemDisplayName: John Smith
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 1575.93
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 11
                                itemDisplayName: NotesPayable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 1575.93
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 13
                                    itemDisplayName: Accruals
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 235869.49
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 12
                                itemDisplayName: AccruedLiabilities
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 235869.49
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 14
                                    itemDisplayName: Credit Card Control Account
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 22844.77
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 13
                                itemDisplayName: CreditCards
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 22844.77
                            dimension: 2
                            dimensionDisplayName: Sub Type
                            item: 2
                            itemDisplayName: Current
                            measures:
                              - index: 0
                                measureDisplayName: Value
                                value: 330868.92
                          - components:
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 10
                                    itemDisplayName: Unpaid Expense Claims
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 0
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 9
                                itemDisplayName: DueToEmployees
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 0
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 15
                                    itemDisplayName: Loan
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 638999.6
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 14
                                itemDisplayName: LoansPayable
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 638999.6
                            dimension: 2
                            dimensionDisplayName: Sub Type
                            item: 3
                            itemDisplayName: NonCurrent
                            measures:
                              - index: 0
                                measureDisplayName: Value
                                value: 638999.6
                        dimension: 1
                        dimensionDisplayName: Category
                        item: 1
                        itemDisplayName: Liability
                        measures:
                          - index: 0
                            measureDisplayName: Value
                            value: 969868.52
                      - components:
                          - components:
                              - components:
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 16
                                    itemDisplayName: Retained Earnings
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 3599540.05
                                  - dimension: 4
                                    dimensionDisplayName: Accounts
                                    item: 17
                                    itemDisplayName: Current Year Earnings
                                    measures:
                                      - index: 0
                                        measureDisplayName: Value
                                        value: 45964.5
                                dimension: 3
                                dimensionDisplayName: Detail Type
                                item: 15
                                itemDisplayName: RetainedEarnings
                                measures:
                                  - index: 0
                                    measureDisplayName: Value
                                    value: 3645504.55
                            dimension: 2
                            dimensionDisplayName: Sub Type
                            item: 4
                            itemDisplayName: Equity
                            measures:
                              - index: 0
                                measureDisplayName: Value
                                value: 3645504.55
                        dimension: 1
                        dimensionDisplayName: Category
                        item: 2
                        itemDisplayName: Equity
                        measures:
                          - index: 0
                            measureDisplayName: Value
                            value: 3645504.55
                      - dimension: 1
                        dimensionDisplayName: Category
                        item: 3
                        itemDisplayName: Net Assets
                        measures:
                          - index: 0
                            measureDisplayName: Value
                            value: 3645504.55
                    dimension: 0
                    dimensionDisplayName: Period
                    item: 0
                    itemDisplayName: Period 0
                reportInfo:
                  displayName: Enhanced Balance Sheet
                  name: enhanced_balance_sheet
              schema:
                $ref: "#/components/schemas/Report"
          description: OK
      summary: Enhanced Balance Sheet
      tags:
        - Reports
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/data/companies/{companyId}/connections/{connectionId}/assess/enhancedProfitAndLoss":
    get:
      deprecated: true
      description: Gets a fully categorized profit and loss statement for a given company, over one or more period(s).
      operationId: get-enhanced-profit-and-loss
      parameters:
        - $ref: "#/components/parameters/reportDate"
        - $ref: "#/components/parameters/periodLength"
        - $ref: "#/components/parameters/numberOfPeriods"
        - $ref: "#/components/parameters/includeDisplayNames"
      responses:
        "200":
          content:
            application/json:
              example:
                dimensions:
                  - displayName: Period
                    index: 0
                    items:
                      - displayName: Period 0
                        end: 2022-01-31
                        index: 0
                        start: 2021-02-01
                    type: datespan
                  - displayName: Category
                    index: 1
                    items:
                      - index: 0
                        value: Income
                      - index: 1
                        value: Expense
                      - index: 2
                        value: Gross Profit
                      - index: 3
                        value: Net Operating Profit
                      - index: 4
                        value: Net Profit
                    type: string
                  - displayName: Sub Type
                    index: 2
                    items:
                      - index: 0
                        value: Operating
                      - index: 1
                        value: Cost of sales
                      - index: 2
                        value: Non-operating
                    type: string
                  - displayName: Detail Type
                    index: 3
                    items:
                      - index: 0
                        value: Other operating income
                      - index: 1
                        value: Materials
                      - index: 2
                        value: Marketing
                      - index: 3
                        value: Depreciation and depletion
                      - index: 4
                        value: Entertainment
                      - index: 5
                        value: General and Administrative
                      - index: 6
                        value: Repairs and maintenance
                      - index: 7
                        value: Distribution
                      - index: 8
                        value: Buildings rent and lease
                      - index: 9
                        value: Subscription fees
                      - index: 10
                        value: Travel
                      - index: 11
                        value: Bank charges
                      - index: 12
                        value: Taxes
                      - index: 13
                        value: Labour
                      - index: 14
                        value: Amortization
                      - index: 15
                        value: Interest
                      - index: 16
                        value: Other non-operating expenses
                    type: string
                  - displayName: Accounts
                    index: 4
                    items:
                      - dataType: account
                        displayName: Sales
                        id: 72df89d2-512b-4455-af51-a6b563733842
                        index: 0
[...]
