swagger: '2.0'
info:
  version: '2017-12-19'
  x-release: v4
  title: Amazon Macie
  description: '<fullname>Amazon Macie</fullname> <p>Amazon Macie is a security service that uses machine learning to automatically discover, classify, and protect sensitive data in AWS. Macie recognizes sensitive data such as personally identifiable information (PII) or intellectual property, and provides you with dashboards and alerts that give visibility into how this data is being accessed or moved. For more information, see the <a href="https://docs.aws.amazon.com/macie/latest/userguide/what-is-macie.html">Macie User Guide</a>. </p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: macie
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/macie-2017-12-19.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/macie/'
host: macie.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AssociateMemberAccount
      description: Associates a specified AWS account with Amazon Macie as a member account.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateMemberAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AssociateS3Resources':
    post:
      operationId: AssociateS3Resources
      description: 'Associates specified S3 resources with Amazon Macie for monitoring and data classification. If memberAccountId isn''t specified, the action associates specified S3 resources with Macie for the current master account. If memberAccountId is specified, the action associates specified S3 resources with Macie for the specified member account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateS3ResourcesResult'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateS3ResourcesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateMemberAccount':
    post:
      operationId: DisassociateMemberAccount
      description: Removes the specified member account from Amazon Macie.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateMemberAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateS3Resources':
    post:
      operationId: DisassociateS3Resources
      description: 'Removes specified S3 resources from being monitored by Amazon Macie. If memberAccountId isn''t specified, the action removes specified S3 resources from Macie for the current master account. If memberAccountId is specified, the action removes specified S3 resources from Macie for the specified member account.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateS3ResourcesResult'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateS3ResourcesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListMemberAccounts':
    post:
      operationId: ListMemberAccounts
      description: Lists all Amazon Macie member accounts for the current Amazon Macie master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMemberAccountsResult'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListMemberAccountsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListS3Resources':
    post:
      operationId: ListS3Resources
      description: 'Lists all the S3 resources associated with Amazon Macie. If memberAccountId isn''t specified, the action lists the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action lists the S3 resources associated with Amazon Macie for the specified member account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListS3ResourcesResult'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListS3ResourcesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateS3Resources':
    post:
      operationId: UpdateS3Resources
      description: 'Updates the classification types for the specified S3 resources. If memberAccountId isn''t specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the specified member account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateS3ResourcesResult'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateS3ResourcesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateMemberAccountRequest:
    type: object
    required:
      - memberAccountId
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: The ID of the AWS account that you want to associate with Amazon Macie as a member account.
  InvalidInputException:
    type: object
    properties:
      errorCode:
        $ref: '#/definitions/ErrorCode'
      message:
        $ref: '#/definitions/ExceptionMessage'
      fieldName:
        $ref: '#/definitions/FieldName'
    description: 'The request was rejected because an invalid or out-of-range value was supplied for an input parameter. '
  LimitExceededException:
    type: object
    properties:
      errorCode:
        $ref: '#/definitions/ErrorCode'
      message:
        $ref: '#/definitions/ExceptionMessage'
      resourceType:
        $ref: '#/definitions/ResourceType'
    description: 'The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded. '
  InternalException:
    type: object
    properties:
      errorCode:
        $ref: '#/definitions/ErrorCode'
      message:
        $ref: '#/definitions/ExceptionMessage'
    description: Internal server error.
  AssociateS3ResourcesResult:
    type: object
    properties:
      failedS3Resources:
        $ref: '#/definitions/FailedS3Resources'
        description: 'S3 resources that couldn''t be associated with Amazon Macie. An error code and an error message are provided for each failed item. '
  AssociateS3ResourcesRequest:
    type: object
    required:
      - s3Resources
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: 'The ID of the Amazon Macie member account whose resources you want to associate with Macie. '
      s3Resources:
        $ref: '#/definitions/S3ResourcesClassification'
        description: 'The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. '
  AccessDeniedException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
      resourceType:
        $ref: '#/definitions/ResourceType'
    description: You do not have required permissions to access the requested resource.
  DisassociateMemberAccountRequest:
    type: object
    required:
      - memberAccountId
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: The ID of the member account that you want to remove from Amazon Macie.
  DisassociateS3ResourcesResult:
    type: object
    properties:
      failedS3Resources:
        $ref: '#/definitions/FailedS3Resources'
        description: 'S3 resources that couldn''t be removed from being monitored and classified by Amazon Macie. An error code and an error message are provided for each failed item. '
  DisassociateS3ResourcesRequest:
    type: object
    required:
      - associatedS3Resources
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: 'The ID of the Amazon Macie member account whose resources you want to remove from being monitored by Amazon Macie. '
      associatedS3Resources:
        $ref: '#/definitions/S3Resources'
        description: 'The S3 resources (buckets or prefixes) that you want to remove from being monitored and classified by Amazon Macie. '
  ListMemberAccountsResult:
    type: object
    properties:
      memberAccounts:
        $ref: '#/definitions/MemberAccounts'
        description: 'A list of the Amazon Macie member accounts returned by the action. The current master account is also included in this list. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the nextToken parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null. '
  ListMemberAccountsRequest:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'Use this parameter when paginating results. Set the value of this parameter to null on your first call to the ListMemberAccounts action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data. '
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250. '
  ListS3ResourcesResult:
    type: object
    properties:
      s3Resources:
        $ref: '#/definitions/S3ResourcesClassification'
        description: A list of the associated S3 resources returned by the action.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the nextToken parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null. '
  ListS3ResourcesRequest:
    type: object
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: 'The Amazon Macie member account ID whose associated S3 resources you want to list. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'Use this parameter when paginating results. Set its value to null on your first call to the ListS3Resources action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data. '
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250. '
  UpdateS3ResourcesResult:
    type: object
    properties:
      failedS3Resources:
        $ref: '#/definitions/FailedS3Resources'
        description: 'The S3 resources whose classification types can''t be updated. An error code and an error message are provided for each failed item. '
  UpdateS3ResourcesRequest:
    type: object
    required:
      - s3ResourcesUpdate
    properties:
      memberAccountId:
        $ref: '#/definitions/AWSAccountId'
        description: 'The AWS ID of the Amazon Macie member account whose S3 resources'' classification types you want to update. '
      s3ResourcesUpdate:
        $ref: '#/definitions/S3ResourcesClassificationUpdate'
        description: The S3 resources whose classification types you want to update.
  AWSAccountId:
    type: string
    pattern: '[0-9]{12}'
  ExceptionMessage:
    type: string
    maxLength: 10000
  ResourceType:
    type: string
    description: Resource type that caused the exception
    maxLength: 1000
  S3ResourcesClassification:
    type: array
    items:
      $ref: '#/definitions/S3ResourceClassification'
  FailedS3Resources:
    type: array
    items:
      $ref: '#/definitions/FailedS3Resource'
  BucketName:
    type: string
    maxLength: 500
  S3OneTimeClassificationType:
    type: string
    enum:
      - FULL
      - NONE
  S3ContinuousClassificationType:
    type: string
    enum:
      - FULL
  ClassificationType:
    type: object
    required:
      - oneTime
      - continuous
    properties:
      oneTime:
        $ref: '#/definitions/S3OneTimeClassificationType'
        description: 'A one-time classification of all of the existing objects in a specified S3 bucket. '
      continuous:
        $ref: '#/definitions/S3ContinuousClassificationType'
        description: 'A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. '
    description: 'The classification type that Amazon Macie applies to the associated S3 resources. '
  ClassificationTypeUpdate:
    type: object
    properties:
      oneTime:
        $ref: '#/definitions/S3OneTimeClassificationType'
        description: 'A one-time classification of all of the existing objects in a specified S3 bucket. '
      continuous:
        $ref: '#/definitions/S3ContinuousClassificationType'
        description: 'A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. '
    description: 'The classification type that Amazon Macie applies to the associated S3 resources. At least one of the classification types (oneTime or continuous) must be specified. '
  S3Resources:
    type: array
    items:
      $ref: '#/definitions/S3Resource'
  ErrorCode:
    type: string
    description: Error code for the exception
    maxLength: 10
  S3Resource:
    type: object
    required:
      - bucketName
    properties:
      bucketName:
        $ref: '#/definitions/BucketName'
        description: The name of the S3 bucket.
      prefix:
        $ref: '#/definitions/Prefix'
        description: 'The prefix of the S3 bucket. '
    description: 'Contains information about the S3 resource. This data type is used as a request parameter in the DisassociateS3Resources action and can be used as a response parameter in the AssociateS3Resources and UpdateS3Resources actions. '
  FailedS3Resource:
    type: object
    properties:
      failedItem:
        $ref: '#/definitions/S3Resource'
        description: The failed S3 resources.
      errorCode:
        $ref: '#/definitions/ErrorCode'
        description: The status code of a failed item.
      errorMessage:
        $ref: '#/definitions/ExceptionMessage'
        description: The error message of a failed item.
    description: Includes details about the failed S3 resources.
  FieldName:
    type: string
    description: Field that has invalid input
    maxLength: 1000
  NextToken:
    type: string
    maxLength: 500
  MaxResults:
    type: integer
    maximum: 250
  MemberAccounts:
    type: array
    items:
      $ref: '#/definitions/MemberAccount'
  MemberAccount:
    type: object
    properties:
      accountId:
        $ref: '#/definitions/AWSAccountId'
        description: The AWS account ID of the Amazon Macie member account.
    description: Contains information about the Amazon Macie member account.
  Prefix:
    type: string
    maxLength: 10000
  S3ResourceClassification:
    type: object
    required:
      - bucketName
      - classificationType
    properties:
      bucketName:
        $ref: '#/definitions/BucketName'
        description: The name of the S3 bucket that you want to associate with Amazon Macie.
      prefix:
        $ref: '#/definitions/Prefix'
        description: The prefix of the S3 bucket that you want to associate with Amazon Macie.
      classificationType:
        $ref: '#/definitions/ClassificationType'
        description: 'The classification type that you want to specify for the resource associated with Amazon Macie. '
    description: 'The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. This data type is used as a request parameter in the AssociateS3Resources action and a response parameter in the ListS3Resources action. '
  S3ResourceClassificationUpdate:
    type: object
    required:
      - bucketName
      - classificationTypeUpdate
    properties:
      bucketName:
        $ref: '#/definitions/BucketName'
        description: The name of the S3 bucket whose classification types you want to update.
      prefix:
        $ref: '#/definitions/Prefix'
        description: The prefix of the S3 bucket whose classification types you want to update.
      classificationTypeUpdate:
        $ref: '#/definitions/ClassificationTypeUpdate'
        description: 'The classification type that you want to update for the resource associated with Amazon Macie. '
    description: 'The S3 resources whose classification types you want to update. This data type is used as a request parameter in the UpdateS3Resources action. '
  S3ResourcesClassificationUpdate:
    type: array
    items:
      $ref: '#/definitions/S3ResourceClassificationUpdate'
