openapi: 3.0.0
servers:
  - url: https://migrationcenter.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Migration Center API
  version: v1alpha1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://migrationcenter.googleapis.com/$discovery/rest?version=v1alpha1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: migrationcenter
externalDocs:
  url: https://cloud.google.com/migration-center
tags:
  - name: projects
paths:
  "/v1alpha1/{group}:addAssets":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds assets to a group.
      operationId: migrationcenter.projects.locations.groups.addAssets
      parameters:
        - description: Required. Group reference.
          in: path
          name: group
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAssetsToGroupRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{group}:removeAssets":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Removes assets from a group.
      operationId: migrationcenter.projects.locations.groups.removeAssets
      parameters:
        - description: Required. Group reference.
          in: path
          name: group
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveAssetsFromGroupRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}":
    delete:
      description: Deletes a source.
      operationId: migrationcenter.projects.locations.sources.delete
      parameters:
        - description: Required. Name of the resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the details of a source.
      operationId: migrationcenter.projects.locations.sources.get
      parameters:
        - description: Required. Name of the resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Determines what information to retrieve for the Report.
          in: query
          name: view
          schema:
            enum:
              - REPORT_VIEW_UNSPECIFIED
              - REPORT_VIEW_BASIC
              - REPORT_VIEW_FULL
              - REPORT_VIEW_STANDARD
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Source"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the parameters of a source.
      operationId: migrationcenter.projects.locations.sources.patch
      parameters:
        - description: Output only. The full name of the source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
        - description: Required. Field mask is used to specify the fields to be overwritten in the `Source` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Source"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: migrationcenter.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: migrationcenter.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: migrationcenter.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}:run":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Runs an import job.
      operationId: migrationcenter.projects.locations.importJobs.run
      parameters:
        - description: Required. The name of the import job to run.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunImportJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}:validate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Validates an import job.
      operationId: migrationcenter.projects.locations.importJobs.validate
      parameters:
        - description: Required. The name of the import job to validate.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateImportJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/assets":
    get:
      description: Lists all the assets in a given project and location.
      operationId: migrationcenter.projects.locations.assets.list
      parameters:
        - description: Required. Parent value for `ListAssetsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View of the assets. Defaults to BASIC.
          in: query
          name: view
          schema:
            enum:
              - ASSET_VIEW_UNSPECIFIED
              - ASSET_VIEW_BASIC
              - ASSET_VIEW_FULL
              - ASSET_VIEW_STANDARD
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAssetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}/assets:aggregateValues":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Aggregates the requested fields based on provided function.
      operationId: migrationcenter.projects.locations.assets.aggregateValues
      parameters:
        - description: Required. Parent value for `AggregateAssetsValuesRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateAssetsValuesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateAssetsValuesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/assets:batchDelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes list of Assets.
      operationId: migrationcenter.projects.locations.assets.batchDelete
      parameters:
        - description: Required. Parent value for batch asset delete.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeleteAssetsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/assets:batchUpdate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates the parameters of a list of assets.
      operationId: migrationcenter.projects.locations.assets.batchUpdate
      parameters:
        - description: Required. Parent value for batch asset update.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchUpdateAssetsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpdateAssetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/assets:reportAssetFrames":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reports a set of frames.
      operationId: migrationcenter.projects.locations.assets.reportAssetFrames
      parameters:
        - description: Required. Parent of the resource.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Reference to a source.
          in: query
          name: source
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Frames"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportAssetFramesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/groups":
    get:
      description: Lists all groups in a given project and location.
      operationId: migrationcenter.projects.locations.groups.list
      parameters:
        - description: Required. Parent value for `ListGroupsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGroupsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new group in a given project and location.
      operationId: migrationcenter.projects.locations.groups.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. User specified ID for the group. It will become the last component of the group name. The ID must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. The ID must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
          in: query
          name: groupId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/importDataFiles":
    get:
      description: List import data files.
      operationId: migrationcenter.projects.locations.importJobs.importDataFiles.list
      parameters:
        - description: Required. Name of the parent of the `ImportDataFiles` resource.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: The maximum number of data files to return. The service may return fewer than this value. If unspecified, at most 500 data files will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListImportDataFiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListImportDataFiles` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportDataFilesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an import data file.
      operationId: migrationcenter.projects.locations.importJobs.importDataFiles.create
      parameters:
        - description: Required. Name of the parent of the ImportDataFile.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the new data file.
          in: query
          name: importDataFileId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportDataFile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/importJobs":
    get:
      description: Lists all import jobs.
      operationId: migrationcenter.projects.locations.importJobs.list
      parameters:
        - description: Required. Parent value for `ListImportJobsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Optional. The level of details of each import job. Default value is BASIC.
          in: query
          name: view
          schema:
            enum:
              - IMPORT_JOB_VIEW_UNSPECIFIED
              - IMPORT_JOB_VIEW_BASIC
              - IMPORT_JOB_VIEW_FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an import job.
      operationId: migrationcenter.projects.locations.importJobs.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. ID of the import job.
          in: query
          name: importJobId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportJob"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/preferenceSets":
    get:
      description: Lists all the preference sets in a given project and location.
      operationId: migrationcenter.projects.locations.preferenceSets.list
      parameters:
        - description: Required. Parent value for `ListPreferenceSetsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, at most 500 preference sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPreferenceSetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new preference set in a given project and location.
      operationId: migrationcenter.projects.locations.preferenceSets.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - in: query
          name: preferenceSetId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreferenceSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/reportConfigs":
    get:
      description: Lists ReportConfigs in a given project and location.
      operationId: migrationcenter.projects.locations.reportConfigs.list
      parameters:
        - description: Required. Parent value for `ListReportConfigsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReportConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a report configuration.
      operationId: migrationcenter.projects.locations.reportConfigs.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. User specified ID for the report config. It will become the last component of the report config name. The ID must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. The ID must match the regular expression: [a-z]([a-z0-9-]{0,61}[a-z0-9])?."
          in: query
          name: reportConfigId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/reports":
    get:
      description: Lists Reports in a given ReportConfig.
      operationId: migrationcenter.projects.locations.reportConfigs.reports.list
      parameters:
        - description: Required. Parent value for `ListReportsRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default value.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results that the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Determines what information to retrieve for each Report.
          in: query
          name: view
          schema:
            enum:
              - REPORT_VIEW_UNSPECIFIED
              - REPORT_VIEW_BASIC
              - REPORT_VIEW_FULL
              - REPORT_VIEW_STANDARD
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReportsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a report.
      operationId: migrationcenter.projects.locations.reportConfigs.reports.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. User specified id for the report. It will become the last component of the report name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. The id must match the regular expression: [a-z]([a-z0-9-]{0,61}[a-z0-9])?."
          in: query
          name: reportId
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Report"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/sources":
    get:
      description: Lists all the sources in a given project and location.
      operationId: migrationcenter.projects.locations.sources.list
      parameters:
        - description: Required. Parent value for `ListSourcesRequest`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering results.
          in: query
          name: filter
          schema:
            type: string
        - description: Field to sort by. See https://google.aip.dev/132#ordering for more details.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default value.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results that the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSourcesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new source in a given project and location.
      operationId: migrationcenter.projects.locations.sources.create
      parameters:
        - description: Required. Value for parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
        - description: "Required. User specified ID for the source. It will become the last component of the source name. The ID must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. The ID must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`."
          in: query
          name: sourceId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Source"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AddAssetsToGroupRequest:
      description: A request to add assets to a group.
      properties:
        allowExisting:
          description: Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.
          type: boolean
        assets:
          $ref: "#/components/schemas/AssetList"
          description: Required. List of assets to be added. The maximum number of assets that can be added in a single request is 1000.
        requestId:
          description: Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          type: string
      type: object
    AggregateAssetsValuesRequest:
      description: A request to aggregate one or more values.
      properties:
        aggregations:
          description: Array of aggregations to perform. Up to 25 aggregations can be defined.
          items:
            $ref: "#/components/schemas/Aggregation"
          type: array
        filter:
          description: The aggregation will be performed on assets that match the provided filter.
          type: string
      type: object
    AggregateAssetsValuesResponse:
      description: A response to a request to aggregated assets values.
      properties:
        results:
          description: The aggregation results.
          items:
            $ref: "#/components/schemas/AggregationResult"
          type: array
      type: object
    Aggregation:
      description: Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.
      properties:
        count:
          $ref: "#/components/schemas/AggregationCount"
          description: Count the number of matching objects.
        field:
          description: The name of the field on which to aggregate.
          type: string
        frequency:
          $ref: "#/components/schemas/AggregationFrequency"
          description: Creates a frequency distribution of all field values.
        histogram:
          $ref: "#/components/schemas/AggregationHistogram"
          description: Creates a bucketed histogram of field values.
        sum:
          $ref: "#/components/schemas/AggregationSum"
          description: Sum over a numeric field.
      type: object
    AggregationCount:
      description: Object count.
      properties: {}
      type: object
    AggregationFrequency:
      description: Frequency distribution of all field values.
      properties: {}
      type: object
    AggregationHistogram:
      description: Histogram of bucketed assets counts by field value.
      properties:
        lowerBounds:
          description: Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.
          items:
            format: double
            type: number
          type: array
      type: object
    AggregationResult:
      description: Message describing a result of an aggregation.
      properties:
        count:
          $ref: "#/components/schemas/AggregationResultCount"
        field:
          type: string
        frequency:
          $ref: "#/components/schemas/AggregationResultFrequency"
        histogram:
          $ref: "#/components/schemas/AggregationResultHistogram"
        sum:
          $ref: "#/components/schemas/AggregationResultSum"
      type: object
    AggregationResultCount:
      description: The result of a count aggregation.
      properties:
        value:
          format: int64
          type: string
      type: object
    AggregationResultFrequency:
      description: The result of a frequency distribution aggregation.
      properties:
        values:
          additionalProperties:
            format: int64
            type: string
          type: object
      type: object
    AggregationResultHistogram:
      description: The result of a bucketed histogram aggregation.
      properties:
        buckets:
          description: Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.
          items:
            $ref: "#/components/schemas/AggregationResultHistogramBucket"
          type: array
      type: object
    AggregationResultHistogramBucket:
      description: A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.
      properties:
        count:
          description: Count of items in the bucket.
          format: int64
          type: string
        lowerBound:
          description: Lower bound - inclusive.
          format: double
          type: number
        upperBound:
          description: Upper bound - exclusive.
          format: double
          type: number
      type: object
    AggregationResultSum:
      description: The result of a sum aggregation.
      properties:
        value:
          format: double
          type: number
      type: object
    AggregationSum:
      description: Sum of field values.
      properties: {}
      type: object
    Asset:
      description: An asset represents a resource in your environment. Asset types include virtual machines and databases.
      properties:
        assignedGroups:
          description: Output only. The list of groups that the asset is assigned to.
          items:
            type: string
          readOnly: true
          type: array
        attributes:
          additionalProperties:
            type: string
          description: Generic asset attributes.
          type: object
        createTime:
          description: Output only. The timestamp when the asset was created.
          format: google-datetime
          readOnly: true
          type: string
        insightList:
          $ref: "#/components/schemas/InsightList"
          description: Output only. The list of insights associated with the asset.
          readOnly: true
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs.
          type: object
        name:
          description: Output only. The full name of the asset.
          readOnly: true
          type: string
        performanceData:
          $ref: "#/components/schemas/AssetPerformanceData"
          description: Output only. Performance data for the asset.
          readOnly: true
        sources:
          description: Output only. The list of sources contributing to the asset.
          items:
            type: string
          readOnly: true
          type: array
        updateTime:
          description: Output only. The timestamp when the asset was last updated.
          format: google-datetime
          readOnly: true
          type: string
        virtualMachineDetails:
          $ref: "#/components/schemas/VirtualMachineDetails"
          description: Output only. Asset information specific for virtual machines.
          readOnly: true
      type: object
    AssetFrame:
      description: Contains data reported from an inventory source on an asset.
      properties:
        attributes:
          additionalProperties:
            type: string
          description: Generic asset attributes.
          type: object
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs.
          type: object
        performanceSamples:
          description: Asset performance data samples.
          items:
            $ref: "#/components/schemas/PerformanceSample"
          type: array
        reportTime:
          description: The time the data was reported.
          format: google-datetime
          type: string
        traceToken:
          description: Optional. Trace token is optionally provided to assist with debugging and traceability.
          type: string
        virtualMachineDetails:
          $ref: "#/components/schemas/VirtualMachineDetails"
          description: Asset information specific for virtual machines.
      type: object
    AssetList:
      description: Lists the asset IDs of all assets.
      properties:
        assetIds:
          description: Required. A list of asset IDs
          items:
            type: string
          type: array
      type: object
    AssetPerformanceData:
      description: Performance data for an asset.
      properties:
        dailyResourceUsageAggregations:
          description: Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days.
          items:
            $ref: "#/components/schemas/DailyResourceUsageAggregation"
          type: array
      type: object
    AwsEc2PlatformDetails:
      description: AWS EC2 specific details.
      properties:
        location:
          description: The location of the machine in the AWS format.
          type: string
        machineTypeLabel:
          description: AWS platform's machine type label.
          type: string
      type: object
    AzureVmPlatformDetails:
      description: Azure VM specific details.
      properties:
        location:
          description: The location of the machine in the Azure format.
          type: string
        machineTypeLabel:
          description: Azure platform's machine type label.
          type: string
        provisioningState:
          description: Azure platform's provisioning state.
          type: string
      type: object
    BatchDeleteAssetsRequest:
      description: A request to delete a list of asset.
      properties:
        allowMissing:
          description: Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.
          type: boolean
        names:
          description: "Required. The IDs of the assets to delete. A maximum of 10 assets can be deleted in a batch. format: projects/{project}/locations/{location}/asset/{name}."
          items:
            type: string
          type: array
      type: object
    BatchUpdateAssetsRequest:
      description: A request to update a list of assets.
      properties:
        requests:
          description: Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.
          items:
            $ref: "#/components/schemas/UpdateAssetRequest"
          type: array
      type: object
    BatchUpdateAssetsResponse:
      description: Response for updating a list of assets.
      properties:
        assets:
          description: Update asset content. The content only includes values after field mask being applied.
          items:
            $ref: "#/components/schemas/Asset"
          type: array
      type: object
    BiosDetails:
      description: Details about the BIOS.
      properties:
        biosManufacturer:
          description: BIOS manufacturer.
          type: string
        biosName:
          description: BIOS name.
          type: string
        biosReleaseDate:
          description: BIOS release date.
          type: string
        biosVersion:
          description: BIOS version.
          type: string
        smbiosUuid:
          description: SMBIOS UUID.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    ComputeEngineMigrationTarget:
      description: Compute engine migration target.
      properties:
        shape:
          $ref: "#/components/schemas/ComputeEngineShapeDescriptor"
          description: Description of the suggested shape for the migration target.
      type: object
    ComputeEnginePreferences:
      description: The user preferences relating to Compute Engine target platform.
      properties:
        licenseType:
          description: License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.
          enum:
            - LICENSE_TYPE_UNSPECIFIED
            - LICENSE_TYPE_DEFAULT
            - LICENSE_TYPE_BRING_YOUR_OWN_LICENSE
          type: string
        machinePreferences:
          $ref: "#/components/schemas/MachinePreferences"
          description: Preferences concerning the machine types to consider on Compute Engine.
        persistentDiskType:
          description: Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.
          enum:
            - PERSISTENT_DISK_TYPE_UNSPECIFIED
            - PERSISTENT_DISK_TYPE_STANDARD
            - PERSISTENT_DISK_TYPE_BALANCED
            - PERSISTENT_DISK_TYPE_SSD
          type: string
      type: object
    ComputeEngineShapeDescriptor:
      description: Compute Engine target shape descriptor.
      properties:
        logicalCoreCount:
          description: Number of logical cores.
          format: int32
          type: integer
        machineType:
          description: Compute Engine machine type.
          type: string
        memoryMb:
          description: Memory in mebibytes.
          format: int32
          type: integer
        physicalCoreCount:
          description: Number of physical cores.
          format: int32
          type: integer
        series:
          description: Compute Engine machine series.
          type: string
      type: object
    CpuUsageSample:
      description: CPU usage sample.
      properties:
        utilizedPercentage:
          description: Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.
          format: float
          type: number
      type: object
    DailyResourceUsageAggregation:
      description: Usage data aggregation for a single day.
      properties:
        cpu:
          $ref: "#/components/schemas/DailyResourceUsageAggregationCPU"
          description: CPU usage.
        date:
          $ref: "#/components/schemas/Date"
          description: Aggregation date. Day boundaries are at midnight UTC.
        disk:
          $ref: "#/components/schemas/DailyResourceUsageAggregationDisk"
          description: Disk usage.
        memory:
          $ref: "#/components/schemas/DailyResourceUsageAggregationMemory"
          description: Memory usage.
        network:
          $ref: "#/components/schemas/DailyResourceUsageAggregationNetwork"
          description: Network usage.
      type: object
    DailyResourceUsageAggregationCPU:
      description: Statistical aggregation of CPU usage.
      properties:
        utilizationPercentage:
          $ref: "#/components/schemas/DailyResourceUsageAggregationStats"
          description: CPU utilization percentage.
      type: object
    DailyResourceUsageAggregationDisk:
      description: Statistical aggregation of disk usage.
      properties:
        iops:
          $ref: "#/components/schemas/DailyResourceUsageAggregationStats"
          description: Disk I/O operations per second.
      type: object
    DailyResourceUsageAggregationMemory:
      description: Statistical aggregation of memory usage.
      properties:
        utilizationPercentage:
          $ref: "#/components/schemas/DailyResourceUsageAggregationStats"
          description: Memory utilization percentage.
      type: object
    DailyResourceUsageAggregationNetwork:
      description: Statistical aggregation of network usage.
      properties:
        egressBps:
          $ref: "#/components/schemas/DailyResourceUsageAggregationStats"
          description: Network egress in B/s.
        ingressBps:
          $ref: "#/components/schemas/DailyResourceUsageAggregationStats"
          description: Network ingress in B/s.
      type: object
    DailyResourceUsageAggregationStats:
      description: Statistical aggregation of samples for a single resource usage.
      properties:
        average:
          description: Average usage value.
          format: float
          type: number
        median:
          description: Median usage value.
          format: float
          type: number
        ninteyFifthPercentile:
          description: 95th percentile usage value.
          format: float
          type: number
        peak:
          description: Peak usage value.
          format: float
          type: number
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    DateTime:
      description: "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
      properties:
        day:
          description: Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.
          format: int32
          type: integer
        hours:
          description: Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value "24:00:00" for scenarios like business closing time.
          format: int32
          type: integer
        minutes:
          description: Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.
          format: int32
          type: integer
        month:
          description: Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.
          format: int32
          type: integer
        nanos:
          description: Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.
          format: int32
          type: integer
        seconds:
          description: Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.
          format: int32
          type: integer
        timeZone:
          $ref: "#/components/schemas/TimeZone"
          description: Time zone.
        utcOffset:
          description: "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
          format: google-duration
          type: string
        year:
          description: Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.
          format: int32
          type: integer
      type: object
    DiskEntry:
      description: Single disk entry.
      properties:
        diskLabel:
          description: Disk label.
          type: string
        diskLabelType:
          description: Disk label type (e.g. BIOS/GPT)
          type: string
        hwAddress:
          description: Disk hardware address (e.g. 0:1 for SCSI).
          type: string
        interfaceType:
          description: Disks interface type (e.g. SATA/SCSI)
          type: string
        partitions:
          $ref: "#/components/schemas/DiskPartitionList"
          description: Partition layout.
        status:
          description: Disk status (e.g. online).
          type: string
        totalCapacityBytes:
          description: Disk capacity.
          format: int64
          type: string
        totalFreeBytes:
          description: Disk free space.
          format: int64
          type: string
        vmwareConfig:
          $ref: "#/components/schemas/VmwareDiskConfig"
          description: VMware disk details.
      type: object
    DiskEntryList:
      description: VM disks.
      properties:
        entries:
          description: Disk entries.
          items:
            $ref: "#/components/schemas/DiskEntry"
          type: array
      type: object
    DiskPartition:
      description: Disk Partition details.
      properties:
        capacityBytes:
          description: Partition capacity.
          format: int64
          type: string
        fileSystem:
          description: Partition file system.
          type: string
        freeBytes:
          description: Partition free space.
          format: int64
          type: string
        mountPoint:
          description: Mount pount (Linux/Windows) or drive letter (Windows).
          type: string
        subPartitions:
          $ref: "#/components/schemas/DiskPartitionList"
          description: Sub-partitions.
        type:
          description: Partition type (e.g. BIOS boot).
          type: string
        uuid:
          description: Partition UUID.
          type: string
      type: object
    DiskPartitionList:
      description: Disk partition list.
      properties:
        entries:
          description: Partition entries.
          items:
            $ref: "#/components/schemas/DiskPartition"
          type: array
      type: object
    DiskUsageSample:
      description: Disk usage sample. Values are across all disks.
      properties:
        averageIops:
          description: Average IOPS sampled over a short window. Must be non-negative.
          format: float
          type: number
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    ExecutionReport:
      description: A resource that reports result of the import job execution.
      properties:
        executionErrors:
          $ref: "#/components/schemas/ValidationReport"
          description: Validation errors encountered during the execution of the import job.
        framesReported:
          description: Total number of asset frames reported for the import job.
          format: int32
          type: integer
        jobErrors:
          description: List of job-level errors. Deprecated, use the job errors under execution_errors instead.
          items:
            $ref: "#/components/schemas/ImportError"
          type: array
        totalRowsCount:
          description: Total number of rows in the import job.
          format: int32
          type: integer
      type: object
    FileValidationReport:
      description: A resource that aggregates the validation errors found in an import job file.
      properties:
        fileErrors:
          description: List of file level errors.
          items:
            $ref: "#/components/schemas/ImportError"
          type: array
        fileName:
          description: The name of the file.
          type: string
        partialReport:
          description: Flag indicating that processing was aborted due to maximum number of errors.
          type: boolean
        rowErrors:
          description: Partial list of rows that encountered validation error.
          items:
            $ref: "#/components/schemas/ImportRowError"
          type: array
      type: object
    FitDescriptor:
      description: Describes the fit level of an asset for migration to a specific target.
      properties:
        fitLevel:
          description: Fit level.
          enum:
            - FIT_LEVEL_UNSPECIFIED
            - FIT
            - NO_FIT
            - REQUIRES_EFFORT
          type: string
      type: object
    Frames:
      description: Collection of frame data.
      properties:
        framesData:
          description: A repeated field of asset data.
          items:
            $ref: "#/components/schemas/AssetFrame"
          type: array
      type: object
    FstabEntry:
      description: Single fstab entry.
      properties:
        file:
          description: The mount point for the filesystem.
          type: string
        freq:
          description: Used by dump to determine which filesystems need to be dumped.
          format: int32
          type: integer
        mntops:
          description: Mount options associated with the filesystem.
          type: string
        passno:
          description: Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.
          format: int32
          type: integer
        spec:
          description: The block special device or remote filesystem to be mounted.
          type: string
        vfstype:
          description: The type of the filesystem.
          type: string
      type: object
    FstabEntryList:
      description: Fstab content.
      properties:
        entries:
          description: Fstab entries.
          items:
            $ref: "#/components/schemas/FstabEntry"
          type: array
      type: object
    GCSPayloadInfo:
      description: A resource that represents a payload hosted on Google Cloud Storage.
      properties:
        format:
          description: The import job format.
          enum:
            - IMPORT_JOB_FORMAT_UNSPECIFIED
            - IMPORT_JOB_FORMAT_CMDB
            - IMPORT_JOB_FORMAT_RVTOOLS_XLSX
            - IMPORT_JOB_FORMAT_RVTOOLS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV
            - IMPORT_JOB_FORMAT_MANUAL_CSV
          type: string
        path:
          description: The payload path in Google Cloud Storage.
          type: string
      type: object
    GenericPlatformDetails:
      description: Generic platform details.
      properties:
        location:
          description: Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.
          type: string
      type: object
    GoogleKubernetesEngineMigrationTarget:
      description: GKE migration target.
      properties: {}
      type: object
    Group:
      description: A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.
      properties:
        createTime:
          description: Output only. The timestamp when the group was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: The description of the resource.
          type: string
        displayName:
          description: User-friendly display name.
          type: string
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs.
          type: object
        name:
          description: Output only. The name of the group.
          readOnly: true
          type: string
        updateTime:
          description: Output only. The timestamp when the group was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GuestConfigDetails:
      description: Guest OS config information.
      properties:
        fstab:
          $ref: "#/components/schemas/FstabEntryList"
          description: Mount list (Linux fstab).
        hosts:
          $ref: "#/components/schemas/HostsEntryList"
          description: Hosts file (/etc/hosts).
        issue:
          description: OS issue (typically /etc/issue in Linux).
          type: string
        nfsExports:
          $ref: "#/components/schemas/NfsExportList"
          description: NFS exports.
        selinux:
          $ref: "#/components/schemas/Selinux"
          description: SELinux details.
      type: object
    GuestInstalledApplication:
      description: Guest installed application information.
      properties:
        name:
          description: Installed application name.
          type: string
        path:
          description: Source path.
          type: string
        time:
          description: Date application was installed.
          type: string
        vendor:
          description: Installed application vendor.
          type: string
        version:
          description: Installed application version.
          type: string
      type: object
    GuestInstalledApplicationList:
      description: Guest installed application list.
      properties:
        entries:
          description: Application entries.
          items:
            $ref: "#/components/schemas/GuestInstalledApplication"
          type: array
      type: object
    GuestOsDetails:
      description: Information from Guest-level collections.
      properties:
        config:
          $ref: "#/components/schemas/GuestConfigDetails"
          description: OS and app configuration.
        runtime:
          $ref: "#/components/schemas/GuestRuntimeDetails"
          description: Runtime information.
      type: object
    GuestRuntimeDetails:
      description: Guest OS runtime information.
      properties:
        domain:
          description: Domain, e.g. c.stratozone-development.internal.
          type: string
        installedApps:
          $ref: "#/components/schemas/GuestInstalledApplicationList"
          description: Installed applications information.
        lastUptime:
          $ref: "#/components/schemas/Date"
          description: Date since last booted (last uptime date).
        machineName:
          description: Machine name.
          type: string
        networkInfo:
          $ref: "#/components/schemas/RuntimeNetworkInfo"
          description: Runtime network information (connections, ports).
        openFileList:
          $ref: "#/components/schemas/OpenFileList"
          description: Open files information.
        processes:
          $ref: "#/components/schemas/RunningProcessList"
          description: Running processes.
        services:
          $ref: "#/components/schemas/RunningServiceList"
          description: Running background services.
      type: object
    HostsEntry:
      description: Single /etc/hosts entry.
      properties:
        hostNames:
          description: List of host names / aliases.
          items:
            type: string
          type: array
        ip:
          description: IP (raw, IPv4/6 agnostic).
          type: string
      type: object
    HostsEntryList:
      description: Hosts content.
      properties:
        entries:
          description: Hosts entries.
          items:
            $ref: "#/components/schemas/HostsEntry"
          type: array
      type: object
    ImportDataFile:
      description: A resource that represents a payload file in an import job.
      properties:
        createTime:
          description: Output only. The timestamp when the file was created.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: User-friendly display name. Maximum length is 63 characters.
          type: string
        format:
          description: Required. The payload format.
          enum:
            - IMPORT_JOB_FORMAT_UNSPECIFIED
            - IMPORT_JOB_FORMAT_CMDB
            - IMPORT_JOB_FORMAT_RVTOOLS_XLSX
            - IMPORT_JOB_FORMAT_RVTOOLS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV
            - IMPORT_JOB_FORMAT_MANUAL_CSV
          type: string
        name:
          description: Output only. The name of the file.
          readOnly: true
          type: string
        state:
          description: Output only. The state of the import data file.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - ACTIVE
          readOnly: true
          type: string
        uploadFileInfo:
          $ref: "#/components/schemas/UploadFileInfo"
          description: Information about a file that is uploaded to a storage service.
      type: object
    ImportError:
      description: A resource that reports the errors encountered while processing an import job.
      properties:
        errorDetails:
          description: The error information.
          type: string
        severity:
          description: The severity of the error.
          enum:
            - SEVERITY_UNSPECIFIED
            - ERROR
            - WARNING
            - INFO
          type: string
      type: object
    ImportJob:
      description: A resource that represents the background job that imports asset frames.
      properties:
        assetSource:
          description: Required. Reference to a source.
          type: string
        completeTime:
          description: Output only. The timestamp when the import job was completed.
          format: google-datetime
          readOnly: true
          type: string
        createTime:
          description: Output only. The timestamp when the import job was created.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: User-friendly display name. Maximum length is 63 characters.
          type: string
        executionReport:
          $ref: "#/components/schemas/ExecutionReport"
          description: Output only. The report with the results of running the import job.
          readOnly: true
        gcsPayload:
          $ref: "#/components/schemas/GCSPayloadInfo"
          description: The payload is in Google Cloud Storage.
        inlinePayload:
          $ref: "#/components/schemas/InlinePayloadInfo"
          description: The payload is included in the request, mainly used for small import jobs.
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs.
          type: object
        name:
          description: Output only. The full name of the import job.
          readOnly: true
          type: string
        state:
          description: Output only. The state of the import job.
          enum:
            - IMPORT_JOB_STATE_UNSPECIFIED
            - IMPORT_JOB_STATE_PENDING
            - IMPORT_JOB_STATE_RUNNING
            - IMPORT_JOB_STATE_COMPLETED
            - IMPORT_JOB_STATE_FAILED
            - IMPORT_JOB_STATE_VALIDATING
            - IMPORT_JOB_STATE_FAILED_VALIDATION
            - IMPORT_JOB_STATE_READY
          readOnly: true
          type: string
        updateTime:
          description: Output only. The timestamp when the import job was last updated.
          format: google-datetime
          readOnly: true
          type: string
        validationReport:
          $ref: "#/components/schemas/ValidationReport"
          description: Output only. The report with the validation results of the import job.
          readOnly: true
      type: object
    ImportRowError:
      description: A resource that reports the import job errors at row level.
      properties:
        errors:
          description: The list of errors detected in the row.
          items:
            $ref: "#/components/schemas/ImportError"
          type: array
        rowNumber:
          description: The row number where the error was detected.
          format: int32
          type: integer
        vmName:
          description: The name of the VM in the row.
          type: string
        vmUuid:
          description: The VM UUID.
          type: string
      type: object
    InlinePayloadInfo:
      description: A resource that represents the inline import job payload.
      properties:
        format:
          description: The import job format.
          enum:
            - IMPORT_JOB_FORMAT_UNSPECIFIED
            - IMPORT_JOB_FORMAT_CMDB
            - IMPORT_JOB_FORMAT_RVTOOLS_XLSX
            - IMPORT_JOB_FORMAT_RVTOOLS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV
            - IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV
            - IMPORT_JOB_FORMAT_MANUAL_CSV
          type: string
        payload:
          description: List of payload files.
          items:
            $ref: "#/components/schemas/PayloadFile"
          type: array
      type: object
    Insight:
      description: An insight about an asset.
      properties:
        migrationInsight:
          $ref: "#/components/schemas/MigrationInsight"
          description: Output only. An insight about potential migrations for an asset.
          readOnly: true
      type: object
    InsightList:
      description: Message containing insights list.
      properties:
        insights:
          description: Output only. Insights of the list.
          items:
            $ref: "#/components/schemas/Insight"
          readOnly: true
          type: array
        updateTime:
          description: Output only. Update timestamp.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ListAssetsResponse:
      description: Response message for listing assets.
      properties:
        assets:
          description: A list of assets.
          items:
            $ref: "#/components/schemas/Asset"
          type: array
        nextPageToken:
          description: A token identifying a page of results the server should return.
          type: string
        unreachable:
          description: Locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListGroupsResponse:
      description: A response for listing groups.
      properties:
        groups:
          description: The list of Group
          items:
            $ref: "#/components/schemas/Group"
          type: array
        nextPageToken:
          description: A token identifying a page of results the server should return.
          type: string
        unreachable:
          description: Locations that could not be reached.
          items:
            type: string
          type: array
      type: object
[...]
