{"openapi":"3.1.0","info":{"title":"ASN Lookup","description":"Given an internet address (IP) or a network identification number (ASN), this tool returns who operates that piece of the internet: the network number, the owner's name, the country it's registered in, the regional registry that manages it, and the exact address range it belongs to.","version":"1.0.0","contact":{"name":"_done","url":"https://forms.gle/5KzuSFH7p8hHtDmz7","email":"info@underscoredone.com"},"x-openapi-url":"https://asn-lookup.underscoredone.com/openapi.json","x-logo":{"url":"https://underscoredone.com/logo.png","altText":"_done"},"x-guidance":"Send a query that is either a plain IP address (like 8.8.8.8) or an ASN reference (like AS15169 or 15169). The tool figures out which one it is automatically. It looks up live data from the RIPEstat public information service (no key required) and returns the owning network's details. If the query is invalid or nothing is found, it returns a clear error message instead of guessing.","x-ai-instructions":"Send a query that is either a plain IP address (like 8.8.8.8) or an ASN reference (like AS15169 or 15169). The tool figures out which one it is automatically. It looks up live data from the RIPEstat public information service (no key required) and returns the owning network's details. If the query is invalid or nothing is found, it returns a clear error message instead of guessing.","x-provider":"_done — single-purpose utility APIs for developers and AI agents. Pay per call with USDC on Base Mainnet or Solana Mainnet.","x-pricing":{"model":"pay-per-call","currency":"USDC","network":"Base Mainnet or Solana Mainnet","price":"$0.01"},"x-keywords":["network","asn","lookup","ip address","autonomous system","threat intel","abuse reporting","infrastructure mapping","whois","cidr","utility","api","ai-agent","pay-per-call","usdc","x402"],"x-category":"asn lookup","x-provider-url":"https://underscoredone.com","x-agentcash-auth":{"mode":"paid"},"x-402":{"price":"$0.01","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","pay_to":"0xE9740820225B3918b4ddd1292C7cA4Ca0e2C2F08","facilitator":"https://api.cdp.coinbase.com/platform/v2/x402","scheme":"exact","description":"Given an internet address (IP) or a network identification number (ASN), this tool returns who operates that piece of the internet: the network number, the owner's name, the country it's registered in, the regional registry that manages it, and the exact address range it belongs to.","mime_type":"application/json","networks":[{"network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","pay_to":"0xE9740820225B3918b4ddd1292C7cA4Ca0e2C2F08"},{"network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","pay_to":"8ugAWAXDB8V18kiUrGZTq1oMvU3C6Fxs8hfC6rvzQT3b"}]}},"paths":{"/lookup":{"post":{"tags":["asn lookup","ip lookup","asn","ip intelligence","who owns this ip","autonomous system number","ip to asn","network owner","ip whois","bgp lookup","ip address owner","asn to ip range","regional internet registry","isp lookup","ip country"],"summary":"Finds the network owner and details behind an IP address or ASN","description":"Find out who owns and runs the piece of the internet behind an address or network number.","operationId":"handler_lookup_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Request"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"examples":{"success":{"summary":"Successful response","value":{"api_version":"1.0.0","query":"8.8.8.8","asn":"AS15169","holder":"GOOGLE","country":"US","registry":"arin","prefix":"8.8.8.0/24","allocated":"1992-12-01"}}}}}},"422":{"description":"Unprocessable — a required field is missing or the wrong type. Check the detail field for specifics.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"array"}}}}}},"402":{"description":"Payment required. Send a signed USDC payment on Base Mainnet or Solana Mainnet using the x402 protocol.","headers":{"X-Payment-Response":{"description":"x402 payment challenge — base64-encoded JSON with payment details.","schema":{"type":"string"}}}},"400":{"description":"Bad request — your input failed validation or could not be processed. Check the detail field for specifics.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}}}}}},"x-ai-instructions":"Send a query that is either a plain IP address (like 8.8.8.8) or an ASN reference (like AS15169 or 15169). The tool figures out which one it is automatically. It looks up live data from the RIPEstat public information service (no key required) and returns the owning network's details. If the query is invalid or nothing is found, it returns a clear error message instead of guessing.","x-guidance":"Send a query that is either a plain IP address (like 8.8.8.8) or an ASN reference (like AS15169 or 15169). The tool figures out which one it is automatically. It looks up live data from the RIPEstat public information service (no key required) and returns the owning network's details. If the query is invalid or nothing is found, it returns a clear error message instead of guessing.","x-payment-info":{"price":{"fixed":{"mode":"fixed","currency":"USD","amount":"0.01"}},"protocols":[{"x402":{}}]}}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Request":{"properties":{"query":{"type":"string","title":"Query","description":"An internet address such as 8.8.8.8 or 2001:4860:4860::8888, or a network reference such as AS15169 or 15169, that you want information about."}},"type":"object","required":["query"],"title":"Request","example":{"query":"8.8.8.8"}},"Response":{"properties":{"api_version":{"type":"string","title":"Api Version","description":"The version number of this tool","default":"1.0.0"},"query":{"type":"string","title":"Query","description":"The exact address or network number you searched for"},"asn":{"type":"string","title":"Asn","description":"The network number that owns this address, shown like AS15169"},"holder":{"type":"string","title":"Holder","description":"The name of the organisation that operates this network"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country","description":"The two-letter country code where this network is registered, if known"},"registry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry","description":"The regional internet registry that manages this network, if known"},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prefix","description":"The block of addresses this network owns, if known"},"allocated":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Allocated","description":"The date this network block was first given out, if known"}},"type":"object","required":["query","asn","holder"],"title":"Response","example":{"allocated":"1992-12-01","api_version":"1.0.0","asn":"AS15169","country":"US","holder":"GOOGLE","prefix":"8.8.8.0/24","query":"8.8.8.8","registry":"arin"}},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"siwx":{"type":"apiKey","in":"header","name":"SIGN-IN-WITH-X","description":"CAIP-122 wallet signature for repeat access after payment"}}},"servers":[{"url":"https://asn-lookup.underscoredone.com","description":"Production"}],"tags":[{"name":"asn lookup"},{"name":"ip lookup"},{"name":"asn"},{"name":"ip intelligence"},{"name":"who owns this ip"},{"name":"autonomous system number"},{"name":"ip to asn"},{"name":"network owner"},{"name":"ip whois"},{"name":"bgp lookup"},{"name":"ip address owner"},{"name":"asn to ip range"},{"name":"regional internet registry"},{"name":"isp lookup"},{"name":"ip country"}],"x402Version":2,"x-payment-accepts":[{"scheme":"exact","network":"eip155:8453","payTo":"0xE9740820225B3918b4ddd1292C7cA4Ca0e2C2F08","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"},{"scheme":"exact","network":"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp","payTo":"8ugAWAXDB8V18kiUrGZTq1oMvU3C6Fxs8hfC6rvzQT3b","asset":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"}]}