openapi: 3.0.0
servers:
  - description: Live server
    url: https://api.shutterstock.com
  - description: Sandbox server
    url: https://api-sandbox.shutterstock.com
info:
  contact:
    x-twitter: Shutterstock
  description: The Shutterstock API provides access to Shutterstock's library of media, as well as information about customers' accounts and the contributors that provide the media.
  title: Shutterstock API Explorer
  version: 1.1.32
  x-apisguru-categories:
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Shutterstock_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://api-explorer.shutterstock.com/openapi.json
      version: "3.0"
  x-providerName: shutterstock.com
paths:
  /v2/ai/audio/descriptors:
    get:
      description: This endpoint lists the descriptors that you can use in the audio regions in an audio render.
      operationId: listCustomDescriptors
      parameters:
        - description: Show descriptors with an average render speed that is greater than or equal to the specified value
          example: 5
          in: query
          name: render_speed_over
          schema:
            type: number
        - description: Show descriptors that contain the specified band (case-sentsitive)
          example: Corporate Folk Bonfire Band 1
          in: query
          name: band_id
          schema:
            type: string
        - description: Show descriptors with the specified band name (case-sensitive)
          example: Documentary Underscore Heartfelt Band 1
          in: query
          name: band_name
          schema:
            type: string
        - description: Page number
          example: "1"
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          example: "1"
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 100
            minimum: 1
            type: integer
        - description: Show descriptors with the specified IDs (case-sensitive)
          example: documentary_underscore_heartfelt
          in: query
          name: id
          schema:
            items:
              type: string
            maxItems: 20
            type: array
        - description: Show descriptors with the specified instrument name (case-sensitive)
          example: Precision Bass - Full
          in: query
          name: instrument_name
          schema:
            type: string
        - description: Show descriptors with the specified instrument ID (case-sensitive)
          example: direct_fluorescent_synth_lead
          in: query
          name: instrument_id
          schema:
            type: string
        - description: Show descriptors whose tempo range includes the specified tempo in beats per minute
          example: 90
          in: query
          name: tempo
          schema:
            type: number
        - description: Show descriptors with a tempo that is less than or equal to the specified number
          example: 120
          in: query
          name: tempo_to
          schema:
            type: number
        - description: Show descriptors that have a tempo range that includes the specified tempo in beats per minute
          example: 60
          in: query
          name: tempo_from
          schema:
            type: number
        - description: Show descriptors with the specified name (case-sensitive)
          example: Corporate Pop Inspirational High Energy
          in: query
          name: name
          schema:
            type: string
        - description: Show descriptors with the specified tag, such as Cinematic or Roomy (case-sensitive)
          example: Cinematic
          in: query
          name: tag
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/DescriptorsListResult/example"
              schema:
                $ref: "#/components/schemas/DescriptorsListResult"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - basic: []
        - customer_accessCode: []
      summary: List computer audio descriptors
      tags:
        - custom_music
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET "https://api.shutterstock.com/v2/ai/audio/descriptors" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const customMusicApi = new sstk.CustomMusicApi();

            const queryParams = {
              "tag": "Cinematic"
            };

            customMusicApi.listCustomDescriptors(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams = {
              "tag": "Cinematic",
            };

            sstk.customMusic.listCustomDescriptors(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { CustomMusicApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams: CustomMusicApiMethodsParams["listCustomDescriptors"] = {
              "tag": "Cinematic",
            };

            sstk.customMusic.listCustomDescriptors(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/ai/audio/descriptors",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock ai-audio list-custom-descriptors \
              --tag Cinematic
  /v2/ai/audio/instruments:
    get:
      description: This endpoint lists the instruments that you can include in computer audio. If you specify more than one search parameter, the API uses an AND condition.
      operationId: listCustomInstruments
      parameters:
        - description: Show instruments with the specified ID
          example: wood_blocks
          in: query
          name: id
          schema:
            items:
              type: string
            type: array
        - description: Number of results per page
          example: 1
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 100
            minimum: 1
            type: integer
        - description: Page number
          example: "1"
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Show instruments with the specified name (case-sensitive)
          example: Precision Bass - Full
          in: query
          name: name
          schema:
            type: string
        - description: Show instruments with the specified tag, such as Percussion or Strings (case-sensitive)
          example: Percussion
          in: query
          name: tag
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/InstrumentsListResult/example"
              schema:
                $ref: "#/components/schemas/InstrumentsListResult"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List computer audio instruments
      tags:
        - custom_music
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET "https://api.shutterstock.com/v2/ai/audio/instruments" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const customMusicApi = new sstk.CustomMusicApi();

            const queryParams = {
              "tag": "Percussion"
            };

            customMusicApi.listCustomInstruments(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams = {
              "tag": "Percussion",
            };

            sstk.customMusic.listCustomInstruments(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { CustomMusicApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams: CustomMusicApiMethodsParams["listCustomInstruments"] = {
              "tag": "Percussion",
            };

            sstk.customMusic.listCustomInstruments(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/ai/audio/instruments",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock ai-audio list-custom-instruments \
              --tag Percussion
  /v2/ai/audio/renders:
    get:
      description: This endpoint shows the status of one or more audio renders, including download links for completed audio.
      operationId: fetchRenders
      parameters:
        - description: One or more render IDs
          example:
            - L2w7h9VNFlkzpllSUunSYayenKjN
            - BeHx3UNXzMBB4dGsC9aa6VxnpcWl
          in: query
          name: id
          required: true
          schema:
            items:
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/AudioRendersListResults/example"
              schema:
                $ref: "#/components/schemas/AudioRendersListResults"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get details about audio renders
      tags:
        - custom_music
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET "https://api.shutterstock.com/v2/ai/audio/renders" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
              -G \
              --data-urlencode "id=L2w7h9VNFlkzpllSUunSYayenKjN" \
              --data-urlencode "id=BeHx3UNXzMBB4dGsC9aa6VxnpcWl"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const customMusicApi = new sstk.CustomMusicApi();

            const renders = [
              "L2w7h9VNFlkzpllSUunSYayenKjN",
              "BeHx3UNXzMBB4dGsC9aa6VxnpcWl"
            ];

            customMusicApi.fetchRenders(renders)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams = {
              "id": [
                "L2w7h9VNFlkzpllSUunSYayenKjN",
                "BeHx3UNXzMBB4dGsC9aa6VxnpcWl",
              ],
            };

            sstk.customMusic.fetchRenders(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { CustomMusicApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const queryParams: CustomMusicApiMethodsParams["fetchRenders"] = {
              "id": [
                "L2w7h9VNFlkzpllSUunSYayenKjN",
                "BeHx3UNXzMBB4dGsC9aa6VxnpcWl",
              ],
            };

            sstk.customMusic.fetchRenders(queryParams)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/ai/audio/renders?id=L2w7h9VNFlkzpllSUunSYayenKjN&id=BeHx3UNXzMBB4dGsC9aa6VxnpcWl",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock ai-audio fetch-renders \
              --id L2w7h9VNFlkzpllSUunSYayenKjN \
              --id BeHx3UNXzMBB4dGsC9aa6VxnpcWl
    post:
      description: This endpoint creates rendered audio from timeline data. It returns a render ID that you can use to download the finished audio when it is ready. The render ID is valid for up to 48 hours.
      operationId: createAudioRenders
      requestBody:
        content:
          application/json:
            example:
              $ref: "#/components/schemas/CreateAudioRendersRequest/example"
            schema:
              $ref: "#/components/schemas/CreateAudioRendersRequest"
        description: Parameters for the audio, including the timeline and information about the output file
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audio_renders:
                      - created_date: 2021-01-26T12:10:22-05:00
                        files: []
                        id: njlpYoWWmb1AYs2nZyw7EcNWbAkZ
                        preset: MASTER_MP3
                        progress_percent: 0
                        status: WAITING_COMPOSE
                        timeline: {}
                        updated_date: 2021-01-26T13:10:22-05:00
              schema:
                $ref: "#/components/schemas/AudioRendersListResults"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: Create rendered audio
      tags:
        - custom_music
      x-code-samples:
        - lang: shell
          source: |
            DATA='{
              "audio_renders": [
                {
                  "preset": "MASTER_MP3",
                  "filename": "My_audio_ai.mp3",
                  "timeline": {
                    "spans": [
                      {
                        "id": 111,
                        "span_type": "metered",
                        "time": 0,
                        "tempo": 80,
                        "regions": [
                          {
                            "id": 222,
                            "descriptor": "documentary_underscore_heartfelt",
                            "beat": 0,
                            "end_type": {
                              "beat": 17,
                              "event": "ending",
                              "type": "ringout"
                            },
                            "region": "music"
                          }
                        ],
                        "instrument_groups": [
                          {
                            "instrument_group": "full_aw_nylon_acoustic_lead_guitar",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_viola_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_devonshire_upright_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_first_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_second_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_kawai_grand_acoustic_piano_dreamy",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "sweet_kawai_grand_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_cello_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "span_type": "unmetered",
                        "time": 15
                      }
                    ]
                  }
                }
              ]
            }'

            curl -X POST "https://api.shutterstock.com/v2/ai/audio/renders" \
              -d "$DATA" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const customMusicApi = new sstk.CustomMusicApi();

            const body = {
              "audio_renders": [
                {
                  "preset": "MASTER_MP3",
                  "filename": "My_audio_ai.mp3",
                  "timeline": {
                    "spans": [
                      {
                        "id": 111,
                        "span_type": "metered",
                        "time": 0,
                        "tempo": 80,
                        "regions": [
                          {
                            "id": 222,
                            "descriptor": "documentary_underscore_heartfelt",
                            "beat": 0,
                            "end_type": {
                              "beat": 17,
                              "event": "ending",
                              "type": "ringout"
                            },
                            "region": "music"
                          }
                        ],
                        "instrument_groups": [
                          {
                            "instrument_group": "full_aw_nylon_acoustic_lead_guitar",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_viola_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_devonshire_upright_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_first_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_second_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_kawai_grand_acoustic_piano_dreamy",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "sweet_kawai_grand_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_cello_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "span_type": "unmetered",
                        "time": 15
                      }
                    ]
                  }
                }
              ]
            };

            customMusicApi.createAudioRenders(body)
              .then(async (data) => {
                const { id } = data.audio_renders[0];
                console.log(id);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const audioRendersBody = {
              "body": {
                "audio_renders": [
                  {
                    "preset": "MASTER_MP3",
                    "filename": "My_audio_ai.mp3",
                    "timeline": {
                      "spans": [
                        {
                          "id": 111,
                          "span_type": "metered",
                          "time": 0,
                          "tempo": 80,
                          "regions": [
                            {
                              "id": 222,
                              "descriptor": "documentary_underscore_heartfelt",
                              "beat": 0,
                              "end_type": {
                                "beat": 17,
                                "event": "ending",
                                "type": "ringout",
                              },
                              "region": "music",
                            },
                          ],
                          "instrument_groups": [
                            {
                              "instrument_group": "full_aw_nylon_acoustic_lead_guitar",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_viola_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "warm_devonshire_upright_acoustic_piano",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_first_violin_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_second_violin_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "warm_kawai_grand_acoustic_piano_dreamy",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "sweet_kawai_grand_acoustic_piano",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_cello_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": "active",
                                },
                              ],
                            },
                          ],
                        },
                        {
                          "span_type": "unmetered",
                          "time": 15,
                        },
                      ],
                    },
                  },
                ],
              },
            };

            sstk.customMusic.createAudioRenders(audioRendersBody)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock, {
              AudioRenderTimelineSpanRegionEndTypeEventEnum,
              AudioRenderTimelineSpanRegionEndTypeTypeEnum,
              AudioRenderTimelineSpanRegionRegionEnum,
              AudioRenderTimelineSpanSpanTypeEnum,
              CreateAudioRenderPresetEnum,
              AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum,
            } from "shutterstock-api";
            import type { CustomMusicApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const audioRendersBody: CustomMusicApiMethodsParams["createAudioRenders"] = {
              "body": {
                "audio_renders": [
                  {
                    "preset": CreateAudioRenderPresetEnum.MASTERMP3,
                    "filename": "My_audio_ai.mp3",
                    "timeline": {
                      "spans": [
                        {
                          "id": 111,
                          "span_type": AudioRenderTimelineSpanSpanTypeEnum.Metered,
                          "time": 0,
                          "tempo": 80,
                          "regions": [
                            {
                              "id": 222,
                              "descriptor": "documentary_underscore_heartfelt",
                              "beat": 0,
                              "end_type": {
                                "beat": 17,
                                "event": AudioRenderTimelineSpanRegionEndTypeEventEnum.Ending,
                                "type": AudioRenderTimelineSpanRegionEndTypeTypeEnum.Ringout,
                              },
                              "region": AudioRenderTimelineSpanRegionRegionEnum.Music,
                            },
                          ],
                          "instrument_groups": [
                            {
                              "instrument_group": "full_aw_nylon_acoustic_lead_guitar",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_viola_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "warm_devonshire_upright_acoustic_piano",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_first_violin_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_second_violin_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "warm_kawai_grand_acoustic_piano_dreamy",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "sweet_kawai_grand_acoustic_piano",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                            {
                              "instrument_group": "nice_scoring_cello_ensemble",
                              "statuses": [
                                {
                                  "beat": 0,
                                  "status": AudioRenderTimelineSpanInstrumentGroupStatusStatusEnum.Active,
                                },
                              ],
                            },
                          ],
                        },
                        {
                          "span_type": AudioRenderTimelineSpanSpanTypeEnum.Unmetered,
                          "time": 15,
                        },
                      ],
                    },
                  },
                ],
              },
            };

            sstk.customMusic.createAudioRenders(audioRendersBody)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $body = [
              "audio_renders" => [
                [
                  "preset" => "MASTER_MP3",
                  "filename" => "My_audio_ai.mp3",
                  "timeline" => [
                    "spans" => [
                      [
                        "id" => 111,
                        "span_type" => "metered",
                        "time" => 0,
                        "tempo" => 80,
                        "regions" => [
                          [
                            "id" => 222,
                            "descriptor" => "documentary_underscore_heartfelt",
                            "beat" => 0,
                            "end_type" => [
                              "beat" => 17,
                              "event" => "ending",
                              "type" => "ringout"
                            ],
                            "region" => "music"
                          ]
                        ],
                        "instrument_groups" => [
                          [
                            "instrument_group" => "full_aw_nylon_acoustic_lead_guitar",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "nice_scoring_viola_ensemble",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "warm_devonshire_upright_acoustic_piano",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "nice_scoring_first_violin_ensemble",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "nice_scoring_second_violin_ensemble",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "warm_kawai_grand_acoustic_piano_dreamy",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "sweet_kawai_grand_acoustic_piano",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ],
                          [
                            "instrument_group" => "nice_scoring_cello_ensemble",
                            "statuses" => [
                              [
                                "beat" => 0,
                                "status" => "active"
                              ]
                            ]
                          ]
                        ]
                      ],
                      [
                        "span_type" => "unmetered",
                        "time" => 15
                      ]
                    ]
                  ]
                ]
              ]
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/ai/audio/renders",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            echo '{
              "audio_renders": [
                {
                  "preset": "MASTER_MP3",
                  "filename": "My_audio_ai.mp3",
                  "timeline": {
                    "spans": [
                      {
                        "id": 111,
                        "span_type": "metered",
                        "time": 0,
                        "tempo": 80,
                        "regions": [
                          {
                            "id": 222,
                            "descriptor": "documentary_underscore_heartfelt",
                            "beat": 0,
                            "end_type": {
                              "beat": 17,
                              "event": "ending",
                              "type": "ringout"
                            },
                            "region": "music"
                          }
                        ],
                        "instrument_groups": [
                          {
                            "instrument_group": "full_aw_nylon_acoustic_lead_guitar",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_viola_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_devonshire_upright_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_first_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_second_violin_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "warm_kawai_grand_acoustic_piano_dreamy",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "sweet_kawai_grand_acoustic_piano",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          },
                          {
                            "instrument_group": "nice_scoring_cello_ensemble",
                            "statuses": [
                              {
                                "beat": 0,
                                "status": "active"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "span_type": "unmetered",
                        "time": 15
                      }
                    ]
                  }
                }
              ]
            }' > data.json

            shutterstock ai-audio create-audio-renders data.json
  /v2/audio:
    get:
      description: This endpoint lists information about one or more audio tracks, including the description and publication date.
      operationId: getTrackList
      parameters:
        - description: One or more audio IDs
          example:
            - "442583"
            - "434750"
          in: query
          name: id
          required: true
          schema:
            items:
              pattern: ^[1-9]\d*$
              type: string
              x-pattern-description: A number that does not start with 0
            maxItems: 500
            minItems: 1
            type: array
        - description: Amount of detail to render in the response
          example: full
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
        - description: The ID of the search that is related to this request
          example: 00000000-0000-0000-0000-000000000000
          in: query
          name: search_id
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/AudioDataList/example"
              schema:
                $ref: "#/components/schemas/AudioDataList"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio tracks
      tags:
        - audio
  /v2/audio/collections:
    get:
      description: This endpoint lists your collections of audio tracks and their basic attributes.
      operationId: getTrackCollectionList
      parameters:
        - description: Page number
          example: "1"
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          example: "100"
          in: query
          name: per_page
          schema:
            default: 100
            maximum: 150
            minimum: 1
            type: integer
        - description: Which sharing information to include in the response, such as a URL to the collection
          example: share_code
          in: query
          name: embed
          schema:
            items:
              enum:
                - share_code
                - share_url
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/CollectionDataList/example"
              schema:
                $ref: "#/components/schemas/CollectionDataList"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.view
      summary: List audio collections
      tags:
        - audio
    post:
      description: This endpoint creates one or more collections (soundboxes). To add tracks, use `POST /v2/audio/collections/{id}/items`.
      operationId: createTrackCollection
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Create a soundbox
                value:
                  name: Best rock music
            schema:
              $ref: "#/components/schemas/CollectionCreateRequest"
        description: Collection metadata
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/CollectionCreateResponse/example"
              schema:
                $ref: "#/components/schemas/CollectionCreateResponse"
          description: Successfully created audio collection
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Create audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "name": "Best rock music"
            }'

            curl -X POST "https://api.shutterstock.com/v2/audio/collections" \
              -d "$DATA" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const body = {
              "name": "Best rock music",
            };

            audioApi.createTrackCollection(body)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const newCollectionBody = {
              "body": {
                "name": "Best rock music",
              },
            };

            sstk.audio.createTrackCollection(newCollectionBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const newCollectionBody: AudioApiMethodsParams["createTrackCollection"] = {
              "body": {
                "name": "Best rock music",
              },
            };

            sstk.audio.createTrackCollection(newCollectionBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "name" => "Best rock music"
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            echo '{
              "name": "Best rock music"
            }' > data.json

            shutterstock images create-image-collection data.json
  "/v2/audio/collections/{id}":
    delete:
      description: This endpoint deletes a collection.
      operationId: deleteTrackCollection
      parameters:
        - description: Collection ID
          example: "48433111"
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Successfully deleted collection
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.edit
      summary: Delete audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            curl -X DELETE "https://api.shutterstock.com/v2/audio/collections/48433111" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433107";

            audioApi.deleteTrackCollection(collectionId)
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const deleteCollectionParams = {
              "id": collectionId,
            };

            sstk.audio.deleteTrackCollection(deleteCollectionParams)
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const deleteCollectionParams: AudioApiMethodsParams["deleteTrackCollection"] = {
              "id": collectionId,
            };

            sstk.audio.deleteTrackCollection(deleteCollectionParams)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433111",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock audio delete-track-collection 48433111
    get:
      description: This endpoint gets more detailed information about a collection, including the number of items in it and when it was last updated. To get the tracks in collections, use `GET /v2/audio/collections/{id}/items`.
      operationId: getTrackCollection
      parameters:
        - description: Collection ID
          example: "48433107"
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Which sharing information to include in the response, such as a URL to the collection
          in: query
          name: embed
          schema:
            items:
              enum:
                - share_code
                - share_url
              type: string
            type: array
        - description: Code to retrieve a shared collection
          in: query
          name: share_code
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/Collection/example"
              schema:
                $ref: "#/components/schemas/Collection"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.view
      summary: Get the details of audio collections
      tags:
        - audio
    post:
      description: This endpoint sets a new name for a collection.
      operationId: renameTrackCollection
      parameters:
        - description: Collection ID
          example: "48433107"
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Renaming a soundbox
                value:
                  name: Best rock music
            schema:
              $ref: "#/components/schemas/CollectionUpdateRequest"
        description: Collection changes
        required: true
      responses:
        "204":
          description: Successfully updated collection
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.edit
      summary: Rename audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "name": "Best rock music"
            }'

            curl -X POST "https://api.shutterstock.com/v2/audio/collections/48433107" \
              -d "$DATA" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433107";

            const body = {
              "name": "Best rock music"
            };

            audioApi.renameTrackCollection(collectionId, body)
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const renameAudioBody = {
              "id": collectionId,
              "body": {
                "name": "Best rock music",
              },
            };

            sstk.audio.renameTrackCollection(renameAudioBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const renameAudioBody: AudioApiMethodsParams["renameTrackCollection"] = {
              "id": collectionId,
              "body": {
                "name": "Best rock music",
              },
            };

            sstk.audio.renameTrackCollection(renameAudioBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "name" => "Best rock music"
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433107",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            echo '{
              "name": "Best rock music"
            }' > data.json

            shutterstock audio rename-collection 48433107 data.json
  "/v2/audio/collections/{id}/items":
    delete:
      description: This endpoint removes one or more tracks from a collection.
      operationId: deleteTrackCollectionItems
      parameters:
        - description: Collection ID
          example: "48433119"
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: One or more item IDs to remove from the collection
          example:
            - "76688182"
            - "40005859"
          in: query
          name: item_id
          schema:
            items:
              type: string
            type: array
      responses:
        "204":
          description: Successfully removed collection items
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.edit
      summary: Remove audio tracks from collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            curl -X DELETE "https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=36345523" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433119";

            // Array of tracks to remove
            const tracksToRemove = {
              "item_id": [
                "76688182",
                "40005859"
              ]
            };

            audioApi.deleteTrackCollectionItems(collectionId, tracksToRemove)
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const deleteTrackParams = {
              "id": collectionId,
              "item_id": [
                "76688182",
                "40005859",
              ],
            };

            sstk.audio.deleteTrackCollectionItems(deleteTrackParams)
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433107";

            const deleteTrackParams: AudioApiMethodsParams["deleteTrackCollectionItems"] = {
              "id": collectionId,
              "item_id": [
                "76688182",
                "40005859",
              ],
            };

            sstk.audio.deleteTrackCollectionItems(deleteTrackParams)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=495863218",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock audio delete-track-collection-items 48433119 \
              --item-id 36345523
    get:
      description: This endpoint lists the IDs of tracks in a collection and the date that each was added.
      operationId: getTrackCollectionItems
      parameters:
        - description: Collection ID
          example: "126351027"
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          in: query
          name: per_page
          schema:
            default: 100
            maximum: 150
            minimum: 1
            type: integer
        - description: Code to retrieve the contents of a shared collection
          in: query
          name: share_code
          schema:
            type: string
        - description: Sort order
          in: query
          name: sort
          schema:
            default: oldest
            enum:
              - newest
              - oldest
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - added_time: 2016-08-18T18:52:59-04:00
                        id: "76688182"
                        media_type: audio
                      - added_time: 2016-08-18T18:52:59-04:00
                        id: "40005859"
                        media_type: audio
                    page: 1
                    per_page: 2
              schema:
                $ref: "#/components/schemas/CollectionItemDataList"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.view
      summary: Get the contents of audio collections
      tags:
        - audio
    post:
      description: This endpoint adds one or more tracks to a collection by track IDs.
      operationId: addTrackCollectionItems
      parameters:
        - description: Collection ID
          example: "48433115"
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Adds tracks to a soundbox
                value:
                  items:
                    - id: "442583"
                    - id: "7491192"
            schema:
              $ref: "#/components/schemas/CollectionItemRequest"
        description: List of items to add to collection
        required: true
      responses:
        "204":
          description: Successfully added collection items
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.edit
      summary: Add audio tracks to collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "items": [
                {
                  "id": "442583"
                },
                {
                  "id": "7491192"
                }
              ]
            }'

            curl -X POST "https://api.shutterstock.com/v2/audio/collections/48433115/items" \
              -d "$DATA" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433115";

            const body = {
              "items": [
                {
                  "id": "442583"
                },
                {
                  "id": "7491192"
                }
              ]
            };

            audioApi.addTrackCollectionItems(collectionId, body)
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433115";

            const addTrackBody = {
              "id": collectionId,
              "body": {
                "items": [
                  {
                    "id": "442583",
                  },
                  {
                    "id": "7491192",
                  },
                ],
              },
            };

            sstk.audio.addTrackCollectionItems(addTrackBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const collectionId = "48433115";

            const addTrackBody: AudioApiMethodsParams["addTrackCollectionItems"] = {
              "id": collectionId,
              "body": {
                "items": [
                  {
                    "id": "442583",
                  },
                  {
                    "id": "7491192",
                  },
                ],
              },
            };

            sstk.audio.addTrackCollectionItems(addTrackBody)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "items" => [
                [
                  "id" => "442583"
                ],
                [
                  "id" => "7491192"
                ]
              ]
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433115/items",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            echo '{
              "items": [
                {
                  "id": "442583"
                },
                {
                  "id": "7491192"
                }
              ]
            }' > data.json

            shutterstock audio add-collection-items 48433115 data.json
  /v2/audio/genres:
    get:
      description: This endpoint returns a list of all audio genres.
      operationId: listGenres
      parameters:
        - description: Which language the genres will be returned
          in: query
          name: language
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/GenreList/example"
              schema:
                $ref: "#/components/schemas/GenreList"
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio genres
      tags:
        - audio
  /v2/audio/instruments:
    get:
      description: This endpoint returns a list of all audio instruments.
      operationId: listInstruments
      parameters:
        - description: Which language the instruments will be returned in
          in: query
          name: language
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/InstrumentList/example"
              schema:
                $ref: "#/components/schemas/InstrumentList"
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio instruments
      tags:
        - audio
  /v2/audio/licenses:
    get:
      description: This endpoint lists existing licenses. You can filter the results according to the track ID to see if you have an existing license for a specific track.
      operationId: getTrackLicenseList
      parameters:
        - description: Show licenses for the specified track ID
          example: "1"
          in: query
          name: audio_id
          schema:
            type: string
        - description: Restrict results by license. Prepending a `-` sign will exclude results by license
          example: "48433107"
          in: query
          name: license
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 200
            minimum: 0
            type: integer
        - description: Sort order
          in: query
          name: sort
          schema:
            default: newest
            enum:
              - newest
              - oldest
            type: string
        - description: Filter licenses by username of licensee
          example: aUniqueUsername
          in: query
          name: username
          schema:
            type: string
        - description: Show licenses created on or after the specified date
          example: 2021-03-29T13:25:13.521Z
          in: query
          name: start_date
          schema:
            format: date-time
            type: string
          x-relationships:
            - in: query
              name: end_date
              relationship: <=
        - description: Show licenses created before the specified date
          example: 2021-03-29T13:25:13.521Z
          in: query
          name: end_date
          schema:
            format: date-time
            type: string
          x-relationships:
            - in: query
              name: start_date
              relationship: ">"
        - description: Filter licenses by download availability
          in: query
          name: download_availability
          schema:
            default: all
            enum:
              - all
              - downloadable
              - non_downloadable
            type: string
        - description: Set to true to see license history for all members of your team.
          in: query
          name: team_history
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - audio:
                          format:
                            size: clean_audio
                          id: "420298"
                        download_time: 2020-11-11T16:15:20.000Z
                        id: a10b7a7a5a02113a928f13e5ba196151d6
                        is_downloadable: true
                        license: premier_music_extended
                        metadata:
                          purchase_order: "123"
                        user:
                          username: jsmith
                    page: 1
                    per_page: 20
                    total_count: 1
              schema:
                $ref: "#/components/schemas/DownloadHistoryDataList"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.view
      summary: List audio licenses
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET "https://api.shutterstock.com/v2/audio/licenses" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              -G \
              --data-urlencode "start_date=2016-10-03T01:25:13.521Z" \
              --data-urlencode "end_date=2016-10-04T13:25:13.521Z" \
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const queryParams = {
              "start_date": "2016-10-03T01:25:13.521Z",
              "end_date": "2016-10-04T13:25:13.521Z"
            };

            audioApi.getTrackLicenseList(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const today = new Date();
            const lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);

            const queryParams = {
              "start_date": lastWeek,
              "end_date": today,
            };

            sstk.audio.getTrackLicenseList(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const today = new Date();
            const lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);

            const queryParams: AudioApiMethodsParams["getTrackLicenseList"] = {
              "start_date": lastWeek,
              "end_date": today,
            };

            sstk.audio.getTrackLicenseList(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $queryFields = [
              "start_date" => "2016-10-03T01:25:13.521Z",
              "end_date" => "2016-10-04T13:25:13.521Z"
            ];

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/licenses" . http_build_query($queryFields),
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock audio get-track-license-list \
              --start-date "2016-10-03T01:25:13.521Z" \
              --end-date "2016-10-04T13:25:13.521Z"
    post:
      description: This endpoint gets licenses for one or more tracks. The download links in the response are valid for 8 hours.
      operationId: licenseTrack
      parameters:
        - description: License type
          example: audio_platform
          in: query
          name: license
          schema:
            enum:
              - audio_platform
              - premier_music_basic
              - premier_music_extended
              - premier_music_pro
              - premier_music_comp
              - asset_all_music
            type: string
        - description: The ID of the search that led to licensing this track
          example: p5S6QwRikdFJTHXwsoiqTg
          in: query
          name: search_id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Overwrite content of soundbox with new items
                value:
                  $ref: "#/components/schemas/LicenseAudioRequest/example"
            schema:
              $ref: "#/components/schemas/LicenseAudioRequest"
        description: Tracks to license
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/LicenseAudioResultDataList/example"
              schema:
                $ref: "#/components/schemas/LicenseAudioResultDataList"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.create
      summary: License audio tracks
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |
            DATA='{
              "audio": [
                {
                  "audio_id": "591623",
                  "license": "audio_platform",
                  "metadata": {
                    "customer_id": "12345"
                  }
                }
              ]
            }'

            curl -X POST "https://api.shutterstock.com/v2/audio/licenses" \
              -d "$DATA" \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const body = {
              "audio": [
                {
                  "audio_id": "446348",
                  "license": "audio_platform",
                  "metadata": {
                    "customer_id": "12345"
                  }
                }
              ]
            };

            audioApi.licenseTrack(body)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const licenseParams = {
              "body": {
                "audio": [
                  {
                    "audio_id": "446348",
                    "license": "audio_platform",
                  },
                ],
              },
            };

            sstk.audio.licenseTrack(licenseParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock, { LicenseAudioLicenseEnum } from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const licenseParams: AudioApiMethodsParams["licenseTrack"] = {
              "body": {
                "audio": [
                  {
                    "audio_id": "446348",
                    "license": LicenseAudioLicenseEnum.AudioPlatform,
                  },
                ],
              },
            };

            sstk.audio.licenseTrack(licenseParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $body = [
              "audio" => [
                [
                  "audio_id" => "591623",
                  "license" => "audio_platform",
                  "metadata" => [
                  "customer_id" => "12345"
                  ]
                ]
              ]
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/licenses",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            echo '{
              "audio": [
                {
                  "audio_id": "591623",
                  "license": "audio_platform",
                  "metadata": {
                    "customer_id": "12345"
                  }
                }
              ]
            }' > data.json

            shutterstock audio license-track data.json
  "/v2/audio/licenses/{id}/downloads":
    post:
      description: This endpoint redownloads tracks that you have already received a license for. The download links in the response are valid for 8 hours.
      operationId: downloadTracks
      parameters:
        - description: License ID
          example: e123
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    shorts_loops_stems: http://download2.dev.shutterstock.com/gatekeeper/abc/original.zip
                    url: http://download2.dev.shutterstock.com/gatekeeper/abc/original.wav
              schema:
                $ref: "#/components/schemas/AudioUrl"
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.view
      summary: Download audio tracks
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |
            curl -X POST "https://api.shutterstock.com/v2/audio/licenses/e123/downloads" \
              -H "Accept: application/json" \
              -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript_v1--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const licenseId = "e123"; // license ID, not track ID

            audioApi.downloadTracks(licenseId)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: javascript_v2--nodejs
          source: |
            const Shutterstock = require("shutterstock-api");

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const licenseId = "e123"; // license ID, not track ID

            const queryParams = {
              "id": licenseId,
            };

            sstk.audio.downloadTracks(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: typescript_v2--nodejs
          source: |
            import Shutterstock from "shutterstock-api";
            import type { AudioApiMethodsParams } from "shutterstock-api";

            const sstk = new Shutterstock({
              "accessToken": process.env.SHUTTERSTOCK_API_TOKEN,
            });

            const licenseId = "e123"; // license ID, not track ID

            const queryParams: AudioApiMethodsParams["downloadTracks"] = {
              "id": licenseId,
            };

            sstk.audio.downloadTracks(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/licenses/e123/downloads",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
        - lang: bash
          source: |
            export SHUTTERSTOCK_API_TOKEN="v2/ODYwYmRlNzBiYjMzNTE2M2UyZTQvMTc4NzI2OTM4L2N1c3RvbWVyLzIvWEtXR01HQ1FaVHRLOG85a"

            shutterstock audio download-tracks e123
  /v2/audio/moods:
    get:
      description: This endpoint returns a list of all audio moods.
      operationId: listMoods
      parameters:
        - description: Which language the moods will be returned in
          in: query
          name: language
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/MoodList/example"
              schema:
                $ref: "#/components/schemas/MoodList"
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio moods
      tags:
        - audio
  /v2/audio/search:
    get:
[...]
