swagger: '2.0'
info:
  version: '2017-03-31'
  x-release: v4
  title: AWS Lake Formation
  description: <fullname>AWS Lake Formation</fullname> <p>Defines the public endpoint for the AWS Lake Formation service.</p>
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: lakeformation
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lakeformation-2017-03-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/lakeformation/'
host: lakeformation.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://lakeformation.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Lake Formation multi-region endpoint
  - url: 'https://lakeformation.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Lake Formation multi-region endpoint
  - url: 'http://lakeformation.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Lake Formation endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://lakeformation.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Lake Formation endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSLakeFormation.BatchGrantPermissions':
    post:
      operationId: BatchGrantPermissions
      description: Batch operation to grant permissions to the principal.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGrantPermissionsResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGrantPermissionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.BatchGrantPermissions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.BatchRevokePermissions':
    post:
      operationId: BatchRevokePermissions
      description: Batch operation to revoke permissions from the principal.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchRevokePermissionsResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchRevokePermissionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.BatchRevokePermissions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.DeregisterResource':
    post:
      operationId: DeregisterResource
      description: '<p>Deregisters the resource as managed by the Data Catalog.</p> <p>When you deregister a path, Lake Formation removes the path from the inline policy attached to your service-linked role.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterResourceResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.DeregisterResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.DescribeResource':
    post:
      operationId: DescribeResource
      description: Retrieves the current data access role for the given resource registered in AWS Lake Formation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourceResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.DescribeResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.GetDataLakeSettings':
    post:
      operationId: GetDataLakeSettings
      description: The AWS Lake Formation principal.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDataLakeSettingsResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDataLakeSettingsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.GetDataLakeSettings
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.GetEffectivePermissionsForPath':
    post:
      operationId: GetEffectivePermissionsForPath
      description: Returns the permissions for a specified table or database resource located at a path in Amazon S3.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEffectivePermissionsForPathResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '483':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetEffectivePermissionsForPathRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.GetEffectivePermissionsForPath
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.GrantPermissions':
    post:
      operationId: GrantPermissions
      description: '<p>Grants permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p> <p>For information about permissions, see <a href="https://docs-aws.amazon.com/michigan/latest/dg/security-data-access.html">Security and Access Control to Metadata and Data</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GrantPermissionsResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantPermissionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.GrantPermissions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.ListPermissions':
    post:
      operationId: ListPermissions
      description: '<p>Returns a list of the principal permissions on the resource, filtered by the permissions of the caller. For example, if you are granted an ALTER permission, you are able to see only the principal permissions for ALTER.</p> <p>This operation returns only those permissions that have been explicitly granted.</p> <p>For information about permissions, see <a href="https://docs-aws.amazon.com/michigan/latest/dg/security-data-access.html">Security and Access Control to Metadata and Data</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPermissionsResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPermissionsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.ListPermissions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.ListResources':
    post:
      operationId: ListResources
      description: Lists the resources registered to be managed by the Data Catalog.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourcesResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListResourcesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.ListResources
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.PutDataLakeSettings':
    post:
      operationId: PutDataLakeSettings
      description: The AWS Lake Formation principal.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDataLakeSettingsResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDataLakeSettingsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.PutDataLakeSettings
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.RegisterResource':
    post:
      operationId: RegisterResource
      description: '<p>Registers the resource as managed by the Data Catalog.</p> <p>To add or update data, Lake Formation needs read/write access to the chosen Amazon S3 path. Choose a role that you know has permission to do this, or choose the AWSServiceRoleForLakeFormationDataAccess service-linked role. When you register the first Amazon S3 path, the service-linked role and a new inline policy are created on your behalf. Lake Formation adds the first path to the inline policy and attaches it to the service-linked role. When you register subsequent paths, Lake Formation adds the path to the existing policy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterResourceResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '483':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.RegisterResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.RevokePermissions':
    post:
      operationId: RevokePermissions
      description: Revokes permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokePermissionsResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RevokePermissionsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.RevokePermissions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSLakeFormation.UpdateResource':
    post:
      operationId: UpdateResource
      description: 'Updates the data access role used for vending access to the given (registered) resource in AWS Lake Formation. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '482':
          description: OperationTimeoutException
          schema:
            $ref: '#/definitions/OperationTimeoutException'
        '483':
          description: EntityNotFoundException
          schema:
            $ref: '#/definitions/EntityNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSLakeFormation.UpdateResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchGrantPermissionsResponse:
    type: object
    properties:
      Failures:
        $ref: '#/definitions/BatchPermissionsFailureList'
        description: A list of failures to grant permissions to the resources.
  BatchGrantPermissionsRequest:
    type: object
    required:
      - Entries
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Entries:
        $ref: '#/definitions/BatchPermissionsRequestEntryList'
        description: A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.
  InvalidInputException: {}
  OperationTimeoutException: {}
  BatchRevokePermissionsResponse:
    type: object
    properties:
      Failures:
        $ref: '#/definitions/BatchPermissionsFailureList'
        description: A list of failures to revoke permissions to the resources.
  BatchRevokePermissionsRequest:
    type: object
    required:
      - Entries
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Entries:
        $ref: '#/definitions/BatchPermissionsRequestEntryList'
        description: A list of up to 20 entries for resource permissions to be revoked by batch operation to the principal.
  DeregisterResourceResponse:
    type: object
    properties: {}
  DeregisterResourceRequest:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The Amazon Resource Name (ARN) of the resource that you want to deregister.
  InternalServiceException: {}
  EntityNotFoundException: {}
  DescribeResourceResponse:
    type: object
    properties:
      ResourceInfo:
        $ref: '#/definitions/ResourceInfo'
        description: A structure containing information about an AWS Lake Formation resource.
  DescribeResourceRequest:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The resource ARN.
  GetDataLakeSettingsResponse:
    type: object
    properties:
      DataLakeSettings:
        $ref: '#/definitions/DataLakeSettings'
        description: 'A list of AWS Lake Formation principals. '
  GetDataLakeSettingsRequest:
    type: object
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
  GetEffectivePermissionsForPathResponse:
    type: object
    properties:
      Permissions:
        $ref: '#/definitions/PrincipalResourcePermissionsList'
        description: A list of the permissions for the specified table or database resource located at the path in Amazon S3.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve this list.'
  GetEffectivePermissionsForPathRequest:
    type: object
    required:
      - ResourceArn
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The Amazon Resource Name (ARN) of the resource for which you want to get permissions.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve this list.'
      MaxResults:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return.
  GrantPermissionsResponse:
    type: object
    properties: {}
  GrantPermissionsRequest:
    type: object
    required:
      - Principal
      - Resource
      - Permissions
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: '<p>The principal to be granted the permissions on the resource. Supported principals are IAM users or IAM roles, and they are defined by their principal type and their ARN.</p> <p>Note that if you define a resource with a particular ARN, then later delete, and recreate a resource with that same ARN, the resource maintains the permissions already granted. </p>'
      Resource:
        $ref: '#/definitions/Resource'
        description: 'The resource to which permissions are to be granted. Resources in AWS Lake Formation are the Data Catalog, databases, and tables.'
      Permissions:
        $ref: '#/definitions/PermissionList'
        description: 'The permissions granted to the principal on the resource. AWS Lake Formation defines privileges to grant and revoke access to metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3. AWS Lake Formation requires that each principal be authorized to perform a specific task on AWS Lake Formation resources. '
      PermissionsWithGrantOption:
        $ref: '#/definitions/PermissionList'
        description: Indicates a list of the granted permissions that the principal may pass to other users. These permissions may only be a subset of the permissions granted in the <code>Privileges</code>.
  ConcurrentModificationException: {}
  ListPermissionsResponse:
    type: object
    properties:
      PrincipalResourcePermissions:
        $ref: '#/definitions/PrincipalResourcePermissionsList'
        description: A list of principals and their permissions on the resource for the specified principal and resource types.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve this list.'
  ListPermissionsRequest:
    type: object
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: Specifies a principal to filter the permissions returned.
      ResourceType:
        $ref: '#/definitions/DataLakeResourceType'
        description: Specifies a resource type to filter the permissions returned.
      Resource:
        $ref: '#/definitions/Resource'
        description: '<p>A resource where you will get a list of the principal permissions.</p> <p>This operation does not support getting privileges on a table with columns. Instead, call this operation on the table, and the operation returns the table and the table w columns.</p>'
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve this list.'
      MaxResults:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return.
  ListResourcesResponse:
    type: object
    properties:
      ResourceInfoList:
        $ref: '#/definitions/ResourceInfoList'
        description: A summary of the data lake resources.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve these resources.'
  ListResourcesRequest:
    type: object
    properties:
      FilterConditionList:
        $ref: '#/definitions/FilterConditionList'
        description: Any applicable row-level and/or column-level filtering conditions for the resources.
      MaxResults:
        $ref: '#/definitions/PageSize'
        description: The maximum number of resource results.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'A continuation token, if this is not the first call to retrieve these resources.'
  PutDataLakeSettingsResponse:
    type: object
    properties: {}
  PutDataLakeSettingsRequest:
    type: object
    required:
      - DataLakeSettings
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      DataLakeSettings:
        $ref: '#/definitions/DataLakeSettings'
        description: A list of AWS Lake Formation principals.
  RegisterResourceResponse:
    type: object
    properties: {}
  RegisterResourceRequest:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The Amazon Resource Name (ARN) of the resource that you want to register.
      UseServiceLinkedRole:
        $ref: '#/definitions/NullableBoolean'
        description: 'Designates a trusted caller, an IAM principal, by registering this caller with the Data Catalog. '
      RoleArn:
        $ref: '#/definitions/IAMRoleArn'
        description: The identifier for the role.
  AlreadyExistsException: {}
  RevokePermissionsResponse:
    type: object
    properties: {}
  RevokePermissionsRequest:
    type: object
    required:
      - Principal
      - Resource
      - Permissions
    properties:
      CatalogId:
        $ref: '#/definitions/CatalogIdString'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: The principal to be revoked permissions on the resource.
      Resource:
        $ref: '#/definitions/Resource'
        description: The resource to which permissions are to be revoked.
      Permissions:
        $ref: '#/definitions/PermissionList'
        description: 'The permissions revoked to the principal on the resource. For information about permissions, see <a href="https://docs-aws.amazon.com/michigan/latest/dg/security-data-access.html">Security and Access Control to Metadata and Data</a>.'
      PermissionsWithGrantOption:
        $ref: '#/definitions/PermissionList'
        description: Indicates a list of permissions for which to revoke the grant option allowing the principal to pass permissions to other principals.
  UpdateResourceResponse:
    type: object
    properties: {}
  UpdateResourceRequest:
    type: object
    required:
      - RoleArn
      - ResourceArn
    properties:
      RoleArn:
        $ref: '#/definitions/IAMRoleArn'
        description: The new role to use for the given resource registered in AWS Lake Formation.
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The resource ARN.
  CatalogIdString:
    type: string
    minLength: 1
    maxLength: 255
    x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\t]*'
  BatchPermissionsRequestEntryList:
    type: array
    items:
      $ref: '#/definitions/BatchPermissionsRequestEntry'
  BatchPermissionsFailureList:
    type: array
    items:
      $ref: '#/definitions/BatchPermissionsFailureEntry'
  BatchPermissionsRequestEntry:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/Identifier'
        description: A unique identifier for the batch permissions request entry.
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: The principal to be granted a permission.
      Resource:
        $ref: '#/definitions/Resource'
        description: The resource to which the principal is to be granted a permission.
      Permissions:
        $ref: '#/definitions/PermissionList'
        description: The permissions to be granted.
      PermissionsWithGrantOption:
        $ref: '#/definitions/PermissionList'
        description: Indicates if the option to pass permissions is granted.
    description: A permission to a resource granted by batch operation to the principal.
  ErrorDetail:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/NameString'
        description: The code associated with this error.
      ErrorMessage:
        $ref: '#/definitions/DescriptionString'
        description: A message describing the error.
    description: Contains details about an error.
  BatchPermissionsFailureEntry:
    type: object
    properties:
      RequestEntry:
        $ref: '#/definitions/BatchPermissionsRequestEntry'
        description: An identifier for an entry of the batch request.
      Error:
        $ref: '#/definitions/ErrorDetail'
        description: An error message that applies to the failure of the entry.
    description: A list of failures when performing a batch grant or batch revoke operation.
  Identifier:
    type: string
    minLength: 1
    maxLength: 255
  DataLakePrincipal:
    type: object
    properties:
      DataLakePrincipalIdentifier:
        $ref: '#/definitions/DataLakePrincipalString'
        description: An identifier for the AWS Lake Formation principal.
    description: The AWS Lake Formation principal.
  Resource:
    type: object
    properties:
      Catalog:
        $ref: '#/definitions/CatalogResource'
        description: 'The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your AWS Lake Formation environment. '
      Database:
        $ref: '#/definitions/DatabaseResource'
        description: 'The database for the resource. Unique to the Data Catalog. A database is a set of associated table definitions organized into a logical group. You can Grant and Revoke database permissions to a principal. '
      Table:
        $ref: '#/definitions/TableResource'
        description: 'The table for the resource. A table is a metadata definition that represents your data. You can Grant and Revoke table privileges to a principal. '
      TableWithColumns:
        $ref: '#/definitions/TableWithColumnsResource'
        description: The table with columns for the resource. A principal with permissions to this resource can select metadata from the columns of a table in the Data Catalog and the underlying data in Amazon S3.
      DataLocation:
        $ref: '#/definitions/DataLocationResource'
        description: 'The location of an Amazon S3 path where permissions are granted or revoked. '
    description: A structure for the resource.
  PermissionList:
    type: array
    items:
      $ref: '#/definitions/Permission'
  CatalogResource:
    type: object
    properties: {}
    description: A structure for the catalog object.
  NameString:
    type: string
    minLength: 1
    maxLength: 255
    x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\t]*'
  ColumnNames:
    type: array
    items:
      $ref: '#/definitions/NameString'
  ColumnWildcard:
    type: object
    properties:
      ExcludedColumnNames:
        $ref: '#/definitions/ColumnNames'
        description: Excludes column names. Any column with this name will be excluded.
    description: 'A wildcard object, consisting of an optional list of excluded column names or indexes.'
  ComparisonOperator:
    type: string
    enum:
      - EQ
      - NE
      - LE
      - LT
      - GE
      - GT
      - CONTAINS
      - NOT_CONTAINS
      - BEGINS_WITH
      - IN
      - BETWEEN
  DataLakePrincipalString:
    type: string
    minLength: 1
    maxLength: 255
  DataLakePrincipalList:
    type: array
    items:
      $ref: '#/definitions/DataLakePrincipal'
    minItems: 0
    maxItems: 10
  DataLakeResourceType:
    type: string
    enum:
      - CATALOG
      - DATABASE
      - TABLE
      - DATA_LOCATION
  PrincipalPermissionsList:
    type: array
    items:
      $ref: '#/definitions/PrincipalPermissions'
  DataLakeSettings:
    type: object
    properties:
      DataLakeAdmins:
        $ref: '#/definitions/DataLakePrincipalList'
        description: A list of AWS Lake Formation principals.
      CreateDatabaseDefaultPermissions:
        $ref: '#/definitions/PrincipalPermissionsList'
        description: A list of up to three principal permissions entries for default create database permissions.
      CreateTableDefaultPermissions:
        $ref: '#/definitions/PrincipalPermissionsList'
        description: A list of up to three principal permissions entries for default create table permissions.
    description: The AWS Lake Formation principal.
  ResourceArnString:
    type: string
  DataLocationResource:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The Amazon Resource Name (ARN) that uniquely identifies the data location resource.
    description: 'A structure for a data location object where permissions are granted or revoked. '
  DatabaseResource:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/NameString'
        description: The name of the database resource. Unique to the Data Catalog.
    description: A structure for the database object.
  ResourceInfo:
    type: object
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArnString'
        description: The Amazon Resource Name (ARN) of the resource.
      RoleArn:
        $ref: '#/definitions/IAMRoleArn'
        description: The IAM role that registered a resource.
      LastModified:
        $ref: '#/definitions/LastModifiedTimestamp'
        description: The date and time the resource was last modified.
    description: A structure containing information about an AWS Lake Formation resource.
  DescriptionString:
    type: string
    minLength: 0
    maxLength: 2048
    x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
  FieldNameString:
    type: string
    enum:
      - RESOURCE_ARN
      - ROLE_ARN
      - LAST_MODIFIED
  StringValueList:
    type: array
    items:
      $ref: '#/definitions/StringValue'
  FilterCondition:
    type: object
    properties:
      Field:
        $ref: '#/definitions/FieldNameString'
        description: The field to filter in the filter condition.
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: The comparison operator used in the filter condition.
      StringValueList:
        $ref: '#/definitions/StringValueList'
        description: A string with values used in evaluating the filter condition.
    description: This structure describes the filtering of columns in a table based on a filter condition.
  FilterConditionList:
    type: array
    items:
      $ref: '#/definitions/FilterCondition'
    minItems: 1
    maxItems: 20
  Token:
    type: string
  PageSize:
    type: integer
    minimum: 1
    maximum: 1000
  PrincipalResourcePermissionsList:
    type: array
    items:
      $ref: '#/definitions/PrincipalResourcePermissions'
  IAMRoleArn:
    type: string
    pattern: 'arn:aws:iam::[0-9]*:role/.*'
  LastModifiedTimestamp:
    type: string
    format: date-time
  ResourceInfoList:
    type: array
    items:
      $ref: '#/definitions/ResourceInfo'
  NullableBoolean:
    type: boolean
  Permission:
    type: string
    enum:
      - ALL
      - SELECT
      - ALTER
      - DROP
      - DELETE
      - INSERT
      - CREATE_DATABASE
      - CREATE_TABLE
      - DATA_LOCATION_ACCESS
  PrincipalPermissions:
    type: object
    properties:
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: The principal who is granted permissions.
      Permissions:
        $ref: '#/definitions/PermissionList'
        description: The permissions that are granted to the principal.
    description: Permissions granted to a principal.
  PrincipalResourcePermissions:
    type: object
    properties:
      Principal:
        $ref: '#/definitions/DataLakePrincipal'
        description: The Data Lake principal to be granted or revoked permissions.
      Resource:
        $ref: '#/definitions/Resource'
        description: The resource where permissions are to be granted or revoked.
      Permissions:
        $ref: '#/definitions/PermissionList'
        description: The permissions to be granted or revoked on the resource.
      PermissionsWithGrantOption:
        $ref: '#/definitions/PermissionList'
        description: Indicates whether to grant the ability to grant permissions (as a subset of permissions granted).
    description: The permissions granted or revoked on a resource.
  TableResource:
    type: object
    required:
      - DatabaseName
      - Name
    properties:
      DatabaseName:
        $ref: '#/definitions/NameString'
        description: 'The name of the database for the table. Unique to a Data Catalog. A database is a set of associated table definitions organized into a logical group. You can Grant and Revoke database privileges to a principal. '
      Name:
        $ref: '#/definitions/NameString'
        description: The name of the table.
    description: 'A structure for the table object. A table is a metadata definition that represents your data. You can Grant and Revoke table privileges to a principal. '
  TableWithColumnsResource:
    type: object
    properties:
      DatabaseName:
        $ref: '#/definitions/NameString'
        description: 'The name of the database for the table with columns resource. Unique to the Data Catalog. A database is a set of associated table definitions organized into a logical group. You can Grant and Revoke database privileges to a principal. '
      Name:
        $ref: '#/definitions/NameString'
        description: 'The name of the table resource. A table is a metadata definition that represents your data. You can Grant and Revoke table privileges to a principal. '
      ColumnNames:
        $ref: '#/definitions/ColumnNames'
        description: The list of column names for the table. At least one of <code>ColumnNames</code> or <code>ColumnWildcard</code> is required.
      ColumnWildcard:
        $ref: '#/definitions/ColumnWildcard'
        description: A wildcard specified by a <code>ColumnWildcard</code> object. At least one of <code>ColumnNames</code> or <code>ColumnWildcard</code> is required.
    description: '<p>A structure for a table with columns object. This object is only used when granting a SELECT permission.</p> <p>This object must take a value for at least one of <code>ColumnsNames</code>, <code>ColumnsIndexes</code>, or <code>ColumnsWildcard</code>.</p>'
  StringValue:
    type: string
