swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights client for Components.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/applicationinsights/resource-manager/microsoft.insights/2015-05-01/components_API.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: applicationinsights-components_API
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/components':
    get:
      description: Gets a list of all Application Insights components within a subscription.
      operationId: Components_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A list containing 0 or more Application Insights component definitions.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentListResult'
      x-ms-examples:
        ComponentsList.json:
          parameters:
            api-version: '2015-05-01'
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                    kind: web
                    location: South Central US
                    name: my-component
                    properties:
                      AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                      ApplicationId: my-component
                      Application_Type: web
                      CreationDate: '2017-02-14T12:24:05.0041213+00:00'
                      Flow_Type: Bluefield
                      HockeyAppId: ''
                      HockeyAppToken: ''
                      InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                      Request_Source: rest
                      SamplingPercentage: 75
                      TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                      provisioningState: Succeeded
                    tags: ''
                    type: microsoft.insights/components
                  - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/microsoft.insights/components/my-other-component
                    kind: web
                    location: South Central US
                    name: my-other-component
                    properties:
                      AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                      ApplicationId: my-other-component
                      Application_Type: web
                      CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                      Flow_Type: Bluefield
                      HockeyAppId: ''
                      HockeyAppToken: ''
                      InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                      Request_Source: rest
                      SamplingPercentage: 30
                      TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                      provisioningState: Succeeded
                    tags: ''
                    type: microsoft.insights/components
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components':
    get:
      description: Gets a list of Application Insights components within a resource group.
      operationId: Components_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A list containing 0 or more Application Insights component definitions.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentListResult'
      x-ms-examples:
        ComponentListByResourceGroup:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                    kind: web
                    location: South Central US
                    name: my-component
                    properties:
                      AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                      ApplicationId: my-component
                      Application_Type: web
                      CreationDate: '2017-02-14T12:24:05.0041213+00:00'
                      Flow_Type: Bluefield
                      HockeyAppId: ''
                      HockeyAppToken: ''
                      InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                      Request_Source: rest
                      SamplingPercentage: 100
                      TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                      provisioningState: Succeeded
                    tags: ''
                    type: microsoft.insights/components
                  - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/microsoft.insights/components/my-other-component
                    kind: web
                    location: South Central US
                    name: my-other-component
                    properties:
                      AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                      ApplicationId: my-other-component
                      Application_Type: web
                      CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                      Flow_Type: Bluefield
                      HockeyAppId: ''
                      HockeyAppToken: ''
                      InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                      Request_Source: rest
                      SamplingPercentage: 50
                      TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                      provisioningState: Succeeded
                    tags: ''
                    type: microsoft.insights/components
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}':
    delete:
      description: Deletes an Application Insights component.
      operationId: Components_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Successful request when deleting an Application Insights component.
        '204':
          description: The specified component does not exist.
      x-ms-examples:
        webTestDelete:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body: {}
    get:
      description: Returns an Application Insights component.
      operationId: Components_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: An Application Insights Component definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentGet:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                  Flow_Type: Bluefield
                  HockeyAppId: ''
                  HockeyAppToken: ''
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ''
                type: microsoft.insights/components
    patch:
      description: Updates an existing component's tags. To update other fields use the CreateOrUpdate method.
      operationId: Components_UpdateTags
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
        - description: Updated tag information to set into the component instance.
          in: body
          name: ComponentTags
          required: true
          schema:
            $ref: '#/definitions/TagsResource'
      responses:
        '200':
          description: Updating the Application Insights component's tags was successful. Component tags are updated and returned with the rest of the Component's object properties.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentUpdateTagsOnly:
          parameters:
            ComponentTags:
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
                Color: AzureBlue
                CustomField_01: Custom text in some random field named randomly
                NodeType: Edge
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                  Flow_Type: Bluefield
                  HockeyAppId: ''
                  HockeyAppToken: ''
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                  Color: AzureBlue
                  CustomField_01: Custom text in some random field named randomly
                  NodeType: Edge
                type: microsoft.insights/components
    put:
      description: 'Creates (or updates) an Application Insights component. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.'
      operationId: Components_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
        - description: Properties that need to be specified to create an Application Insights component.
          in: body
          name: InsightProperties
          required: true
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      responses:
        '200':
          description: Successful request when creating or updating an Application Insights component. The updated component is returned.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentCreate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              name: my-component
              properties:
                ApplicationId: my-component
                Application_Type: web
                Flow_Type: Bluefield
                Request_Source: rest
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                  Flow_Type: Bluefield
                  HockeyAppId: ''
                  HockeyAppToken: ''
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ''
                type: microsoft.insights/components
        ComponentUpdate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              name: my-component
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: '2017-01-24T01:05:38.5934061+00:00'
                  Flow_Type: Bluefield
                  HockeyAppId: ''
                  HockeyAppToken: ''
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                type: microsoft.insights/components
definitions:
  ApplicationInsightsComponent:
    allOf:
      - $ref: '#/definitions/Resource'
    description: An Application Insights component definition.
    properties:
      kind:
        description: 'The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.'
        type: string
      properties:
        $ref: '#/definitions/ApplicationInsightsComponentProperties'
        description: Properties that define an Application Insights component resource.
        x-ms-client-flatten: true
    required:
      - kind
  ApplicationInsightsComponentListResult:
    description: Describes the list of Application Insights Resources.
    properties:
      nextLink:
        description: The URI to get the next set of Application Insights component defintions if too many components where returned in the result set.
        type: string
      value:
        description: List of Application Insights component definitions.
        items:
          $ref: '#/definitions/ApplicationInsightsComponent'
        type: array
    required:
      - value
  ApplicationInsightsComponentProperties:
    description: Properties that define an Application Insights component resource.
    properties:
      AppId:
        description: Application Insights Unique ID for your Application.
        readOnly: true
        type: string
      ApplicationId:
        description: The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.
        readOnly: true
        type: string
      Application_Type:
        default: web
        description: Type of application being monitored.
        enum:
          - web
          - other
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationType
        x-ms-mutability:
          - create
          - read
      CreationDate:
        description: 'Creation Date for the Application Insights component, in ISO 8601 format.'
        format: date-time
        readOnly: true
        type: string
      Flow_Type:
        default: Bluefield
        description: Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.
        enum:
          - Bluefield
        type: string
        x-ms-enum:
          modelAsString: true
          name: FlowType
      HockeyAppId:
        description: 'The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.'
        externalDocs:
          url: 'https://aka.ms/ewjuel'
        type: string
      HockeyAppToken:
        description: Token used to authenticate communications with between Application Insights and HockeyApp.
        externalDocs:
          url: 'https://aka.ms/sls76s'
        readOnly: true
        type: string
      InstrumentationKey:
        description: Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.
        readOnly: true
        type: string
      Request_Source:
        default: rest
        description: Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.
        enum:
          - rest
        type: string
        x-ms-enum:
          modelAsString: true
          name: RequestSource
      SamplingPercentage:
        description: Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.
        externalDocs:
          url: 'https://aka.ms/sl0yqd'
        format: double
        type: number
      TenantId:
        description: Azure Tenant Id.
        readOnly: true
        type: string
      provisioningState:
        description: 'Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.'
        readOnly: true
        type: string
    required:
      - Application_Type
  Resource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Azure resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
      type:
        description: Azure resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  TagsResource:
    description: 'A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance.'
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
