openapi: 3.0.0
servers:
  - url: https://app.apacta.com/api/v1
info:
  description: |-
    API for a tool to craftsmen used to register working hours, material usage and quality assurance.
    # Endpoint
    The endpoint `https://app.apacta.com/api/v1` should be used to communicate with the API. API access is only allowed with SSL encrypted connection (https).
    # Authentication
    URL query authentication with an API key is used, so appending `?api_key={api_key}` to the URL where `{api_key}` is found within Apacta settings is used for authentication
    # Pagination
    If the endpoint returns a `pagination` object it means the endpoint supports pagination - currently it's only possible to change pages with `?page={page_number}` but implementing custom page sizes are on the road map.


    # Search/filter
    Is experimental but implemented in some cases - see the individual endpoints' docs for further explanation.
    # Ordering
    Is currently experimental, but on some endpoints it's implemented on URL querys so eg. to order Invoices by `invoice_number` appending `?sort=Invoices.invoice_number&direction=desc` would sort the list descending by the value of `invoice_number`.
    # Associations
    Is currently implemented on an experimental basis where you can append eg. `?include=Contacts,Projects`  to the `/api/v1/invoices/` endpoint to embed `Contact` and `Project` objects directly.
    # Project Files
    Currently project files can be retrieved from two endpoints. `/projects/{project_id}/files` handles files uploaded from wall posts or forms. `/projects/{project_id}/project_files` allows uploading and showing files, not belonging to specific form or wall post.
    # Errors/Exceptions
    ## 422 (Validation)
    Write something about how the `errors` object contains keys with the properties that failes validation like:
    ```
      {
          "success": false,
          "data": {
              "code": 422,
              "url": "/api/v1/contacts?api_key=5523be3b-30ef-425d-8203-04df7caaa93a",
              "message": "A validation error occurred",
              "errorCount": 1,
              "errors": {
                  "contact_types": [ ## Property name that failed validation
                      "Contacts must have at least one contact type" ## Message with further explanation
                  ]
              }
          }
      }
    ```
    ## Code examples
    Running examples of how to retrieve the 5 most recent forms registered and embed the details of the User that made the form, and eventual products contained in the form
    ### Swift
    ```
    ```
    ### Java
    #### OkHttp
    ```
      OkHttpClient client = new OkHttpClient();

      Request request = new Request.Builder()
        .url("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .get()
        .addHeader("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .addHeader("accept", "application/json")
        .build();

      Response response = client.newCall(request).execute();
    ```
    #### Unirest
    ```
      HttpResponse<String> response = Unirest.get("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .header("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .header("accept", "application/json")
        .asString();
    ```
    ### Javascript
    #### Native
    ```
      var data = null;

      var xhr = new XMLHttpRequest();

      xhr.addEventListener("readystatechange", function () {
        if (this.readyState === 4) {
          console.log(this.responseText);
        }
      });

      xhr.open("GET", "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      xhr.setRequestHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      xhr.setRequestHeader("accept", "application/json");

      xhr.send(data);
    ```
    #### jQuery
    ```
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5",
        "method": "GET",
        "headers": {
          "x-auth-token": "{INSERT_YOUR_TOKEN}",
          "accept": "application/json",
        }
      }

      $.ajax(settings).done(function (response) {
        console.log(response);
      });
    ```
    #### NodeJS (Request)
    ```
      var request = require("request");

      var options = { method: 'GET',
        url: 'https://app.apacta.com/api/v1/forms',
        qs:
         { extended: 'true',
           sort: 'Forms.created',
           direction: 'DESC',
           include: 'Products,CreatedBy',
           limit: '5' },
        headers:
         { accept: 'application/json',
           'x-auth-token': '{INSERT_YOUR_TOKEN}' } };

      request(options, function (error, response, body) {
        if (error) throw new Error(error);

        console.log(body);
      });

    ```
    ### Python 3
    ```
      import http.client

      conn = http.client.HTTPSConnection("app.apacta.com")

      payload = ""

      headers = {
          'x-auth-token': "{INSERT_YOUR_TOKEN}",
          'accept': "application/json",
          }

      conn.request("GET", "/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))
    ```
    ### C#
    #### RestSharp
    ```
      var client = new RestClient("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      var request = new RestRequest(Method.GET);
      request.AddHeader("accept", "application/json");
      request.AddHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      IRestResponse response = client.Execute(request);
    ```
    ### Ruby
    ```
      require 'uri'
      require 'net/http'

      url = URI("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")

      http = Net::HTTP.new(url.host, url.port)
      http.use_ssl = true
      http.verify_mode = OpenSSL::SSL::VERIFY_NONE

      request = Net::HTTP::Get.new(url)
      request["x-auth-token"] = '{INSERT_YOUR_TOKEN}'
      request["accept"] = 'application/json'

      response = http.request(request)
      puts response.read_body
    ```
    ### PHP (HttpRequest)
    ```
      <?php

      $request = new HttpRequest();
      $request->setUrl('https://app.apacta.com/api/v1/forms');
      $request->setMethod(HTTP_METH_GET);

      $request->setQueryData(array(
        'extended' => 'true',
        'sort' => 'Forms.created',
        'direction' => 'DESC',
        'include' => 'Products,CreatedBy',
        'limit' => '5'
      ));

      $request->setHeaders(array(
        'accept' => 'application/json',
        'x-auth-token' => '{INSERT_YOUR_TOKEN}'
      ));

      try {
        $response = $request->send();

        echo $response->getBody();
      } catch (HttpException $ex) {
        echo $ex;
      }
    ```
    ### Shell (cURL)
    ```

      $ curl --request GET --url 'https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5' --header 'accept: application/json' --header 'x-auth-token: {INSERT_YOUR_TOKEN}'

    ```
  title: Apacta
  version: 0.0.42
  x-apisguru-categories:
    - time_management
    - project_management
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_apactadk_profile_image.png
  x-origin:
    - format: openapi
      url: http://apidoc.apacta.com/swagger.yaml
      version: "3.0"
  x-providerName: apacta.com
tags:
  - name: Activities
  - description: Experimental
    name: TimeEntries
  - description: Experimental
    name: TimeEntryIntervals
  - description: Experimental
    name: TimeEntryTypes
  - description: Experimental
    name: TimeEntryUnitTypes
  - description: Experimental
    name: TimeEntryValueTypes
  - name: Contacts
  - name: ContactPersons
  - name: Invoices
  - name: InvoiceEmails
  - name: InvoiceFiles
  - name: InvoiceLineTextTemplates
  - name: ProjectStatusTypes
paths:
  /activities:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Activity"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      summary: Get a list of activities
      tags:
        - Activities
    post:
      requestBody:
        $ref: "#/components/requestBodies/Activity"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      summary: Create an activity
      tags:
        - Activities
  /activities/bulkDelete:
    delete:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkActionRequestBody"
        description: Activities ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
      summary: Bulk delete activities
      tags:
        - Activities
  "/activities/{activity_id}":
    delete:
      parameters:
        - in: path
          name: activity_id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Record not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      summary: Delete an activity
      tags:
        - Activities
    put:
      parameters:
        - in: path
          name: activity_id
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Activity"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Record not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      summary: Edit an activity
      tags:
        - Activities
  /cities:
    get:
      parameters:
        - description: Used to search for a city with specific zip code
          in: query
          name: zip_code
          required: false
          schema:
            type: string
        - description: Used to search for a city by name
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Used to search for a city without filtering by country
          in: query
          name: include_all
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/City"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of cities supported in Apacta
      tags:
        - Cities
  "/cities/{city_id}":
    get:
      parameters:
        - in: path
          name: city_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/City"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one city
      tags:
        - Cities
  /clocking_records:
    get:
      parameters:
        - description: Used to search for active clocking records
          in: query
          name: active
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ClockingRecord"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of clocking records
      tags:
        - ClockingRecords
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                checkin_latitude:
                  type: string
                checkin_longitude:
                  type: string
                checkout_latitude:
                  type: string
                checkout_longitude:
                  type: string
                project_id:
                  format: uuid
                  type: string
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully added clocking record
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Create clocking record for authenticated user
      tags:
        - ClockingRecords
  /clocking_records/checkout:
    post:
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully checked out
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Checkout active clocking record for authenticated user
      tags:
        - ClockingRecords
  "/clocking_records/{clocking_record_id}":
    delete:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a clocking record
      tags:
        - ClockingRecords
    get:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ClockingRecord"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Clocking record not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 clocking_record
      tags:
        - ClockingRecords
    put:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a clocking record
      tags:
        - ClockingRecords
  /companies:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Company"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of companies
      tags:
        - Companies
  /companies/subscription_self_service:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/SubscriptionSelfServiceRequestBody"
                  success:
                    default: true
                    type: boolean
                type: object
          description: Self service url
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: URL for subscription selfservice
      tags:
        - Companies
  "/companies/{company_id}":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Company"
                  success:
                    default: true
                    type: boolean
                type: object
          description: Company object
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 company
      tags:
        - Companies
  "/companies/{company_id}/companies_integration_feature_settings":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesIntegrationFeatureSetting"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: List a company integration feature settings
      tags:
        - Companies
    post:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                integration_feature_setting_id:
                  format: uuid
                  type: string
                value:
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a company integration feature setting
      tags:
        - Companies
  "/companies/{company_id}/companies_integration_feature_settings/{c_integration_feature_setting_id}":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: c_integration_feature_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesIntegrationFeatureSetting"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: IntegrationFeatureSetting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View a company integration feature setting
      tags:
        - Companies
    put:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: c_integration_feature_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesIntegrationFeatureSetting"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: IntegrationFeatureSetting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a company integration feature setting
      tags:
        - Companies
  "/companies/{company_id}/form_templates/":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: query
          name: form_template_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items: {}
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of company form templates
      tags:
        - Companies
  "/companies/{company_id}/form_templates/{form_template_id}":
    delete:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: form_template_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Companies form template not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a form template company
      tags:
        - Companies
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: query
          name: id
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: form_template_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items: {}
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Form template company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a company form template
      tags:
        - Companies
  "/companies/{company_id}/integration_feature_settings":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/IntegrationFeatureSetting"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of integration feature settings
      tags:
        - Companies
  "/companies/{company_id}/integration_feature_settings/{integration_feature_setting_id}":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: integration_feature_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/IntegrationFeatureSetting"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: IntegrationFeatureSetting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show details of 1 integration feature setting
      tags:
        - Companies
  "/companies/{company_id}/integration_settings":
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - description: The identifier of an ERP integration
          in: query
          name: identifier
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/CompaniesIntegrationSetting"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of company integration settings
      tags:
        - Companies
    post:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Companiesintegrationsetting"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a company integration setting
      tags:
        - Companies
  "/companies/{company_id}/integration_settings/{companies_integration_setting_id}":
    delete:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: companies_integration_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Companies integration setting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a company integration setting
      tags:
        - Companies
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: companies_integration_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesIntegrationSetting"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Companies integration setting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a company integration setting
      tags:
        - Companies
    put:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: companies_integration_setting_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Companies integration setting not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a company integration setting
      tags:
        - Companies
  "/companies/{company_id}/price_margins/{price_margins_id}":
    delete:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: query
          name: price_margin_id
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: price_margins_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Companies integration setting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a company price margin
      tags:
        - Companies
    get:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: price_margins_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/CompanyPriceMargins"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of company price margins
      tags:
        - Companies
    post:
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: price_margins_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  format: uuid
                  type: string
                value:
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a company price margin
      tags:
        - Companies
  /companies_vendors:
    get:
      operationId: getCompaiesVendorsList
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/CompaniesVendor"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of companies vendors
      tags:
        - CompaniesVendors
    post:
      operationId: addCompaniesVendor
      requestBody:
        $ref: "#/components/requestBodies/addCompaniesVendorCompaniesvendor"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully added companies vendor
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a new companies vendor
      tags:
        - CompaniesVendors
  /companies_vendors/bulkDelete:
    delete:
      operationId: bulkCompaniesVendors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkActionRequestBody"
        description: Companies vendors ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Forbidden
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Bulk delete companies vendors
      tags:
        - CompaniesVendors
  "/companies_vendors/{companies_vendor_id}":
    delete:
      parameters:
        - in: path
          name: companies_vendor_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a companies vendor
      tags:
        - CompaniesVendors
    get:
      operationId: getCompaniesVendor
      parameters:
        - in: path
          name: companies_vendor_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesVendor"
                  success:
                    default: true
                    type: boolean
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a companies vendor
      tags:
        - CompaniesVendors
    put:
      operationId: editCompaniesVendor
      parameters:
        - in: path
          name: companies_vendor_id
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        $ref: "#/components/requestBodies/addCompaniesVendorCompaniesvendor"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a companies vendor
      tags:
        - CompaniesVendors
  "/companies_vendors/{companies_vendor_id}/expense_statistics":
    get:
      operationId: getCompaniesVendorsExpenseStatistics
      parameters:
        - in: path
          name: companies_vendor_id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      properties:
                        last_month:
                          items:
                            properties:
                              amount:
                                format: float
                                type: number
                              count:
                                format: int32
                                type: number
                            type: object
                          type: array
                        thirty_days:
                          items:
                            properties:
                              amount:
                                format: float
                                type: number
                              count:
                                format: int32
                                type: number
                            type: object
                          type: array
                        vendor_id:
                          format: uuid
                          type: string
                      type: object
                    type: array
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get companies vendor expense statistics
      tags:
        - CompaniesVendors
  /company_settings:
    get:
      operationId: getCompaySettingsList
      parameters:
        - description: Filter by name
          in: query
          name: name
          schema:
            type: string
        - description: Filter by description
          in: query
          name: description
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/CompanySettings"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: IntegrationFeatureSetting not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of company settings
      tags:
        - CompanySettings
  /contact_custom_field_attributes:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ContactCustomFieldAttribute"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of contact custom field attributes
      tags:
        - ContactCustomFieldAttributes
  "/contact_custom_field_attributes/{contact_custom_field_attribute_id}":
    get:
      parameters:
        - in: path
          name: contact_custom_field_attribute_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ContactCustomFieldAttribute"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: ContactCustomFieldAttribute not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 contact custom field attribute
      tags:
        - ContactCustomFieldAttributes
  /contact_types:
    get:
      parameters:
        - description: Search for specific identifier value
          in: query
          name: identifier
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ContactType"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of contact types supported in Apacta
      tags:
        - ContactTypes
  "/contact_types/{contact_type_id}":
    get:
      parameters:
        - in: path
          name: contact_type_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ContactType"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one contact type
      tags:
        - ContactTypes
  /contacts:
    get:
      parameters:
        - description: Used to search for a contact with a specific name
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Search for values in CVR field
          in: query
          name: cvr
          schema:
            type: string
        - description: Search for values in EAN field
          in: query
          name: ean
          schema:
            type: string
        - description: Search for values in ERP id field
          in: query
          name: erp_id
          schema:
            type: string
        - description: Used to show only contacts with with one specific `ContactType`
          in: query
          name: contact_type
          schema:
            format: uuid
            type: string
        - description: Used to show only contacts with with one specific `City`
          in: query
          name: city
          schema:
            type: string
        - in: query
          name: modified_gte
          schema:
            format: datetime
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Contact"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of contacts
      tags:
        - Contacts
    post:
      requestBody:
        $ref: "#/components/requestBodies/Contact"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully added contact
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a new contact
      tags:
        - Contacts
  /contacts/bulkDelete:
    delete:
      operationId: bulkDeleteContacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkActionRequestBody"
        description: Contact ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Forbidden
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Bulk delete contacts
      tags:
        - Contacts
  "/contacts/{contact_id}":
    delete:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a contact
      tags:
        - Contacts
    get:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Contact"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Contact not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 contact
      tags:
        - Contacts
    put:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Contact"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a contact
      tags:
        - Contacts
  "/contacts/{contact_id}/contact_custom_field_values":
    get:
      parameters:
        - description: Automatically added
          in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ContactCustomFieldValue"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of contact custom field values
      tags:
        - ContactCustomFieldValue
  "/contacts/{contact_id}/contact_persons":
    get:
      description: Get a list of contact people associated with a contact
      operationId: getContactPersonsList
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: created_gte
          schema:
            format: date
            type: string
        - in: query
          name: created_lte
          schema:
            format: date
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ContactPerson"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of contact people
      tags:
        - ContactPersons
    post:
      operationId: addContactPerson
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/addContactPersonContactperson"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully added contact person
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a new contact person to a contact
      tags:
        - ContactPersons
  "/contacts/{contact_id}/contact_persons/{contact_person_id}":
    delete:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
        - in: path
          name: contact_person_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a contact person
      tags:
        - ContactPersons
    get:
      operationId: getContactPerson
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
        - in: path
          name: contact_person_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ContactPerson"
                  success:
                    default: true
                    type: boolean
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a contact person
      tags:
        - ContactPersons
    put:
      operationId: editContactPerson
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
        - in: path
          name: contact_person_id
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/addContactPersonContactperson"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a contact person
      tags:
        - ContactPersons
  /countries:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Countries"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of countries supported in Apacta
      tags:
        - Countries
  "/countries/{country_id}":
    get:
      parameters:
        - in: path
          name: country_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Countries"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one country
      tags:
        - Countries
  /currencies:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Currency"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of currencies supported in Apacta
      tags:
        - Currencies
  "/currencies/{currency_id}":
    get:
      parameters:
        - in: path
          name: currency_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Currency"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one currency
      tags:
        - Currencies
  /driving_types:
    get:
      operationId: get-driving_types
      parameters:
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: sort
          schema:
            type: string
        - in: query
          name: direction
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/DrivingType"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - api_key: []
        - X-Auth-Token: []
      summary: List the driving types of the company
      tags:
        - DrivingTypes
    post:
      operationId: post-driving_types
      requestBody:
        content:
          application/json:
            schema:
              properties:
                company_id:
                  format: uuid
                  type: string
                employee_price:
                  format: float
                  type: number
                erp_id:
                  maxLength: 255
                  type: string
                invoice_price:
                  format: float
                  type: number
                name:
                  type: string
                salary_id:
                  maxLength: 255
                  type: string
              required:
                - company_id
                - name
                - employee_price
                - invoice_price
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuccessResponse"
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      summary: Create driving type
      tags:
        - DrivingTypes
  /driving_types/bulkDelete:
    delete:
      operationId: bulkDeleteDrivingTypes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkActionRequestBody"
        description: Driving types ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Bulk delete driving types
      tags:
        - DrivingTypes
  "/driving_types/{driving_type_id}":
    delete:
      operationId: delete-driving_types-driving_type_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      summary: Delete driving type
      tags:
        - DrivingTypes
    get:
      operationId: get-driving_types-driving_type_id
      parameters:
        - in: query
          name: driving_type_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DrivingType"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View driving type
      tags:
        - DrivingTypes
    parameters:
      - in: path
        name: driving_type_id
        required: true
        schema:
          type: string
    put:
      description: ""
      operationId: put-driving_types-driving_type_id
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DrivingType"
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      summary: Edit driving type
      tags:
        - DrivingTypes
  /employee_hours:
    get:
      parameters:
        - description: Date formatted as Y-m-d (2016-06-28)
          in: query
          name: date_from
          required: true
          schema:
            type: string
        - description: Date formatted as Y-m-d (2016-06-28)
          in: query
          name: date_to
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    description: One element per form in the period
                    items:
                      properties:
                        form_date:
                          description: Y-m-d formatted
                          format: date
                          type: string
                        form_id:
                          format: uuid
                          type: string
                        project_name:
                          type: string
                        total_hours:
                          description: The amount of hours in seconds
                          format: int32
                          type: integer
                        working_description:
                          description: Trimmed at 50 characters
                          type: string
                        working_description_full:
                          description: Full work description (if available)
                          type: string
                      type: object
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Used to retrieve details about the logged in user's hours
      tags:
        - EmployeeHours
  /events:
    get:
      parameters:
        - in: query
          name: user_id
          schema:
            format: uuid
            type: string
        - in: query
          name: project_id
          schema:
            format: uuid
            type: string
        - in: query
          name: start[][gt]
          schema:
            format: datetime
            type: string
        - in: query
          name: start[][lt]
          schema:
            format: datetime
            type: string
        - in: query
          name: start[][eq]
          schema:
            format: datetime
            type: string
        - in: query
          name: end[][gt]
          schema:
            format: datetime
            type: string
        - in: query
          name: end[][lt]
          schema:
            format: datetime
            type: string
        - in: query
          name: end[][eq]
          schema:
            format: datetime
            type: string
        - description: List events with given tag ids separated by comma. Example tags=0377d6ce-db5e-4b1e-ac3a-8ca39ea3142e,8cec327e-a559-4b40-9ed6-316b9de46743
          in: query
          name: tags
          schema:
            format: string
            type: string
        - description: List events without attached user
          in: query
          name: without_users
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Event"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of events
      tags:
        - Events
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  maxLength: 255
                  type: string
                end:
                  format: datetime
                  type: string
                name:
                  maxLength: 255
                  type: string
                project_id:
                  format: uuid
                  type: string
                start:
                  format: datetime
                  type: string
                user_id:
                  format: uuid
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Create event
      tags:
        - Events
  /events/is_user_free:
    get:
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: start
          required: true
          schema:
            format: dateTime
            type: string
        - in: query
          name: end
          required: true
          schema:
            format: dateTime
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: boolean
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: BadRequestException
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Check if user is available at given datetime range
      tags:
        - Events
  "/events/{event_id}":
    delete:
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Event"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete event
      tags:
        - Events
    get:
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Event"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show event
      tags:
        - Events
    put:
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/Event"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit event
      tags:
        - Events
  /expense_files:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            format: uuid
            type: string
        - in: query
          name: expense_id
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ExpenseFile"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expense files
      tags:
        - ExpenseFiles
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  type: string
                file:
                  format: binary
                  type: string
              required:
                - file
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: Successfully added file
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add file to expense
      tags:
        - ExpenseFiles
  "/expense_files/{expense_file_id}":
    delete:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete file
      tags:
        - ExpenseFiles
    get:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show file
      tags:
        - ExpenseFiles
    put:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit file
      tags:
        - ExpenseFiles
  /expense_lines:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            format: uuid
            type: string
        - in: query
          name: currency_id
          schema:
            format: uuid
            type: string
        - in: query
          name: expense_id
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/ExpenseLine"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expense lines
      tags:
        - ExpenseLines
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buying_price:
                  format: float
                  type: number
                currency_id:
                  format: uuid
                  type: string
                expense_id:
                  format: uuid
                  type: string
                quantity:
                  format: int32
                  type: integer
                selling_price:
                  format: float
                  type: number
                text:
                  maxLength: 255
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add line to expense
      tags:
        - ExpenseLines
  "/expense_lines/{expense_line_id}":
    delete:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ExpenseLine"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete expense line
      tags:
        - ExpenseLines
    get:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ExpenseLine"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorNotFound"
          description: Not found
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show expense line
      tags:
        - ExpenseLines
    put:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ExpenseLine"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit expense line
      tags:
        - ExpenseLines
  /expenses:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            format: uuid
            type: string
        - in: query
          name: company_id
          schema:
            format: uuid
            type: string
        - in: query
          name: contact_id
          schema:
            format: uuid
            type: string
        - in: query
          name: project_id
          schema:
            format: uuid
            type: string
        - description: Filter by [valid=records in future including today], [exceeded=records in past] or [null=all records]
          in: query
          name: due_date
          schema:
            enum:
              - valid
              - exceeded
              - null
            format: string
            type: string
        - description: Created after date
          in: query
          name: gt_created
          schema:
            format: date
            type: string
        - description: Created before date
          in: query
          name: lt_created
          schema:
            format: date
            type: string
        - description: Filter by status identifier. [null=all records]
          in: query
          name: status
          schema:
            enum:
              - expired_subscription
              - approved
              - null
            format: string
            type: string
        - in: query
          name: is_imported
          schema:
            default: true
            type: boolean
        - description: Expenses `total_selling_price` > `min_amount`
          in: query
          name: min_amount
          schema:
            format: float
            type: number
        - description: Expenses `total_selling_price` < `max_amount`
          in: query
          name: max_amount
          schema:
            format: float
            type: number
        - description: You can select `all projects`, `no projects` or select `multiple projects`
          in: query
          name: projects
          schema:
            enum:
              - all
              - none
              - - project1
                - project2
                - project3
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Expense"
                    type: array
                  pagination:
                    $ref: "#/components/schemas/PaginationDetails"
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expenses
      tags:
        - Expenses
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  format: uuid
                  type: string
                currency_id:
                  format: uuid
                  type: string
                delivery_date:
                  format: date
                  type: string
                description:
                  maxLength: 8192
                  type: string
                project_id:
                  format: uuid
                  type: string
                reference:
                  maxLength: 8192
                  type: string
                short_text:
                  maxLength: 255
                  type: string
                supplier_invoice_number:
                  maxLength: 255
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorValidation"
          description: Validation error
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add line to expense
      tags:
        - Expenses
  /expenses/bulkDelete:
    delete:
      operationId: bulkDeleteExpenses
      requestBody:
        $ref: "#/components/requestBodies/BulkActionRequestBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptySuccessResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Bulk delete expenses
      tags:
        - Expenses
  /expenses/highest_amount:
    get:
      parameters:
        - description: Used to filter time range
          in: query
          name: gt_created
          required: true
          schema:
            format: date
            type: string
        - description: Used to filter time range
          in: query
          name: lt_created
          required: true
          schema:
            format: date
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      maxItems: 1
                      properties:
                        highest_amount:
                          default: 135.54
                          format: float
                          type: number
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show highest Expense amount(`total_selling_price`)
      tags:
        - Expenses
  /expenses/sendEmails:
    delete:
      operationId: sendEmailsExpenses
      requestBody:
        $ref: "#/components/requestBodies/BulkActionRequestBody"
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
