swagger: '2.0'
schemes:
  - https
host: dlp.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: DLP
  version: v2beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.0
      format: google
      url: 'https://dlp.googleapis.com/$discovery/rest?version=v2beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dlp
externalDocs:
  url: 'https://cloud.google.com/dlp/docs/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: content
  - name: dataSource
  - name: inspect
  - name: riskAnalysis
  - name: rootCategories
paths:
  '/v2beta1/content:deidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        De-identifies potentially sensitive info from a list of strings.
        This method has limits on input size and output size.
      operationId: dlp.content.deidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1DeidentifyContentRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1DeidentifyContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - content
  '/v2beta1/content:inspect':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Finds potentially sensitive info in a list of strings.
        This method has limits on input size, processing time, and output size.
      operationId: dlp.content.inspect
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectContentRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - content
  '/v2beta1/content:redact':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Redacts potentially sensitive info from a list of strings.
        This method has limits on input size, processing time, and output size.
      operationId: dlp.content.redact
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1RedactContentRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1RedactContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - content
  '/v2beta1/dataSource:analyze':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Schedules a job to compute risk analysis metrics over content in a Google
        Cloud Platform repository.
      operationId: dlp.dataSource.analyze
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - dataSource
  /v2beta1/inspect/operations:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Schedules a job scanning content in a Google Cloud Platform data
        repository.
      operationId: dlp.inspect.operations.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1CreateInspectOperationRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - inspect
  /v2beta1/rootCategories:
    get:
      description: Returns the list of root categories of sensitive information.
      operationId: dlp.rootCategories.list
      parameters:
        - description: |-
            Optional language code for localized friendly category names.
            If omitted or if localized strings are not available,
            en-US strings will be returned.
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1ListRootCategoriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - rootCategories
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/rootCategories/{category}/infoTypes':
    get:
      description: Returns sensitive information types for given category.
      operationId: dlp.rootCategories.infoTypes.list
      parameters:
        - description: Category name as returned by ListRootCategories.
          in: path
          name: category
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Optional BCP-47 language code for localized info type friendly
            names. If omitted, or if localized strings are not available,
            en-US strings will be returned.
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1ListInfoTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - rootCategories
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/{name}':
    delete:
      description: This method is not supported and the server returns `UNIMPLEMENTED`.
      operationId: dlp.riskAnalysis.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - riskAnalysis
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: dlp.riskAnalysis.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - riskAnalysis
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/{name}/findings':
    get:
      description: Returns list of results for given inspect operation result set id.
      operationId: dlp.inspect.results.findings.list
      parameters:
        - description: |-
            Restricts findings to items that match. Supports info_type and likelihood.

            Examples:

            - info_type=EMAIL_ADDRESS
            - info_type=PHONE_NUMBER,EMAIL_ADDRESS
            - likelihood=VERY_LIKELY
            - likelihood=VERY_LIKELY,LIKELY
            - info_type=EMAIL_ADDRESS,likelihood=VERY_LIKELY,LIKELY
          in: query
          name: filter
          type: string
        - description: |-
            Identifier of the results set returned as metadata of
            the longrunning operation created by a call to InspectDataSource.
            Should be in the format of `inspect/results/{id}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Maximum number of results to return.
            If 0, the implementation selects a reasonable value.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The value returned by the last `ListInspectFindingsResponse`; indicates
            that this is a continuation of a prior `ListInspectFindings` call, and that
            the system should return the next page of data.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta1ListInspectFindingsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - inspect
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta1/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Cancels an operation. Use the `inspect.operations.get` to check whether the cancellation succeeded or the operation completed despite cancellation.
      operationId: dlp.riskAnalysis.operations.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GoogleLongrunningCancelOperationRequest'
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - riskAnalysis
definitions:
  GoogleLongrunningCancelOperationRequest:
    description: The request message for Operations.CancelOperation.
    properties: {}
    type: object
  GoogleLongrunningListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/GoogleLongrunningOperation'
        type: array
    type: object
  GoogleLongrunningOperation:
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
    properties:
      done:
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
        type: boolean
      error:
        $ref: '#/definitions/GoogleRpcStatus'
        description: The error result of the operation in case of failure or cancellation.
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: This field will contain an InspectOperationMetadata object for `inspect.operations.create` or a RiskAnalysisOperationMetadata object for `dataSource.analyze`.  This will always be returned with the Operation.
        type: object
      name:
        description: The server-assigned name. The `name` should have the format of `inspect/operations/<identifier>`.
        type: string
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: This field will contain an InspectOperationResult object for `inspect.operations.create` or a RiskAnalysisOperationResult object for `dataSource.analyze`.
        type: object
    type: object
  GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest:
    description: Request for creating a risk analysis operation.
    properties:
      privacyMetric:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrivacyMetric'
        description: Privacy metric to compute.
      sourceTable:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Input dataset to compute metrics over.
    type: object
  GooglePrivacyDlpV2beta1AuxiliaryTable:
    description: |-
      An auxiliary table contains statistical information on the relative
      frequency of different quasi-identifiers values. It has one or several
      quasi-identifiers columns, and one column that indicates the relative
      frequency of each quasi-identifier tuple.
      If a tuple is present in the data but not in the auxiliary table, the
      corresponding relative frequency is assumed to be zero (and thus, the
      tuple is highly reidentifiable).
    properties:
      quasiIds:
        description: 'Quasi-identifier columns. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1QuasiIdField'
        type: array
      relativeFrequency:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          The relative frequency column must contain a floating-point number
          between 0 and 1 (inclusive). Null values are assumed to be zero.
          [required]
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: 'Auxiliary table location. [required]'
    type: object
  GooglePrivacyDlpV2beta1BigQueryOptions:
    description: Options defining BigQuery table and row identifiers.
    properties:
      identifyingFields:
        description: |-
          References to fields uniquely identifying rows within the table.
          Nested fields in the format, like `person.birthdate.year`, are allowed.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2beta1BigQueryTable:
    description: |-
      Message defining the location of a BigQuery table. A table is uniquely
      identified  by its project_id, dataset_id, and table_name. Within a query
      a table is often referenced with a string in the format of:
      `<project_id>:<dataset_id>.<table_id>` or
      `<project_id>.<dataset_id>.<table_id>`.
    properties:
      datasetId:
        description: Dataset ID of the table.
        type: string
      projectId:
        description: |-
          The Google Cloud Platform project ID of the project containing the table.
          If omitted, project ID is inferred from the API call.
        type: string
      tableId:
        description: Name of the table.
        type: string
    type: object
  GooglePrivacyDlpV2beta1Bucket:
    description: |-
      Buckets represented as ranges, along with replacement values. Ranges must
      be non-overlapping.
    properties:
      max:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: 'Upper bound of the range, exclusive; type must match min.'
      min:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: |-
          Lower bound of the range, inclusive. Type should be the same as max if
          used.
      replacementValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: |-
          Replacement value for this bucket. If not provided
          the default behavior will be to hyphenate the min-max range.
    type: object
  GooglePrivacyDlpV2beta1BucketingConfig:
    description: |-
      Generalization function that buckets values based on ranges. The ranges and
      replacement values are dynamically provided by the user for custom behavior,
      such as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH
      This can be used on
      data of type: number, long, string, timestamp.
      If the bound `Value` type differs from the type of data being transformed, we
      will first attempt converting the type of the data to be transformed to match
      the type of the bound before comparing.
    properties:
      buckets:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Bucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      number of distinct values and value count distribution.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          Field to compute categorical stats on. All column types are
          supported except for arrays and structs. However, it may be more
          informative to use NumericalStats when the field type is supported,
          depending on the data.
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket:
    description: Histogram bucket of value frequencies in the column.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of value frequencies in this bucket. The total number of
          values returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ValueFrequency'
        type: array
      valueFrequencyLowerBound:
        description: Lower bound on the value frequency of the values in this bucket.
        format: int64
        type: string
      valueFrequencyUpperBound:
        description: Upper bound on the value frequency of the values in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsResult:
    description: Result of the categorical stats computation.
    properties:
      valueFrequencyHistogramBuckets:
        description: Histogram of value frequencies in the column.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1CategoryDescription:
    description: Info Type Category description.
    properties:
      displayName:
        description: Human readable form of the category name.
        type: string
      name:
        description: Internal name of the category.
        type: string
    type: object
  GooglePrivacyDlpV2beta1CharacterMaskConfig:
    description: |-
      Partially mask a string by replacing a given number of characters with a
      fixed character. Masking can start from the beginning or end of the string.
      This can be used on data of any type (numbers, longs, and so on) and when
      de-identifying structured data we'll attempt to preserve the original data's
      type. (This allows you to take a long like 123 and modify it to a string like
      **3.
    properties:
      charactersToIgnore:
        description: |-
          When masking a string, items in this list will be skipped when replacing.
          For example, if your string is 555-555-5555 and you ask us to skip `-` and
          mask 5 chars with * we would produce ***-*55-5555.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CharsToIgnore'
        type: array
      maskingCharacter:
        description: |-
          Character to mask the sensitive values&mdash;for example, "*" for an
          alphabetic string such as name, or "0" for a numeric string such as ZIP
          code or credit card number. String must have length 1. If not supplied, we
          will default to "*" for strings, 0 for digits.
        type: string
      numberToMask:
        description: |-
          Number of characters to mask. If not set, all matching chars will be
          masked. Skipped characters do not count towards this tally.
        format: int32
        type: integer
      reverseOrder:
        description: |-
          Mask characters in reverse order. For example, if `masking_character` is
          '0', number_to_mask is 14, and `reverse_order` is false, then
          1234-5678-9012-3456 -> 00000000000000-3456
          If `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`
          is true, then 12345 -> 12***
        type: boolean
    type: object
  GooglePrivacyDlpV2beta1CharsToIgnore:
    description: |-
      Characters to skip when doing deidentification of a value. These will be left
      alone and skipped.
    properties:
      charactersToSkip:
        type: string
      commonCharactersToIgnore:
        enum:
          - CHARACTER_GROUP_UNSPECIFIED
          - NUMERIC
          - ALPHA_UPPER_CASE
          - ALPHA_LOWER_CASE
          - PUNCTUATION
          - WHITESPACE
        type: string
    type: object
  GooglePrivacyDlpV2beta1CloudStorageKey:
    description: Record key for a finding in a Cloud Storage file.
    properties:
      filePath:
        description: Path to the file.
        type: string
      startOffset:
        description: Byte offset of the referenced data in the file.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1CloudStorageOptions:
    description: |-
      Options defining a file or a set of files (path ending with *) within
      a Google Cloud Storage bucket.
    properties:
      fileSet:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FileSet'
    type: object
  GooglePrivacyDlpV2beta1CloudStoragePath:
    description: A location in Cloud Storage.
    properties:
      path:
        description: 'The url, in the format of `gs://bucket/<path>`.'
        type: string
    type: object
  GooglePrivacyDlpV2beta1Color:
    description: Represents a color in the RGB color space.
    properties:
      blue:
        description: 'The amount of blue in the color as a value in the interval [0, 1].'
        format: float
        type: number
      green:
        description: 'The amount of green in the color as a value in the interval [0, 1].'
        format: float
        type: number
      red:
        description: 'The amount of red in the color as a value in the interval [0, 1].'
        format: float
        type: number
    type: object
  GooglePrivacyDlpV2beta1Condition:
    description: |-
      The field type of `value` and `field` do not need to match to be
      considered equal, but not all comparisons are possible.

      A `value` of type:

      - `string` can be compared against all other types
      - `boolean` can only be compared against other booleans
      - `integer` can be compared against doubles or a string if the string value
      can be parsed as an integer.
      - `double` can be compared against integers or a string if the string can
      be parsed as a double.
      - `Timestamp` can be compared against strings in RFC 3339 date string
      format.
      - `TimeOfDay` can be compared against timestamps and strings in the format
      of 'HH:mm:ss'.

      If we fail to compare do to type mismatch, a warning will be given and
      the condition will evaluate to false.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: 'Field within the record this condition is evaluated against. [required]'
      operator:
        description: 'Operator used to compare the field or info type to the value. [required]'
        enum:
          - RELATIONAL_OPERATOR_UNSPECIFIED
          - EQUAL_TO
          - NOT_EQUAL_TO
          - GREATER_THAN
          - LESS_THAN
          - GREATER_THAN_OR_EQUALS
          - LESS_THAN_OR_EQUALS
          - EXISTS
        type: string
      value:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: 'Value to compare against. [Required, except for `EXISTS` tests.]'
    type: object
  GooglePrivacyDlpV2beta1Conditions:
    properties:
      conditions:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Condition'
        type: array
    type: object
  GooglePrivacyDlpV2beta1ContentItem:
    description: Container structure for the content to inspect.
    properties:
      data:
        description: Content data to inspect or redact.
        format: byte
        type: string
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Table'
        description: Structured content for inspection.
      type:
        description: |-
          Type of the content, as defined in Content-Type HTTP header.
          Supported types are: all "text" types, octet streams, PNG images,
          JPEG images.
        type: string
      value:
        description: String data to inspect or redact.
        type: string
    type: object
  GooglePrivacyDlpV2beta1CreateInspectOperationRequest:
    description: |-
      Request for scheduling a scan of a data subset from a Google Platform data
      repository.
    properties:
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: Configuration for the inspector.
      operationConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1OperationConfig'
        description: Additional configuration settings for long running operations.
      outputConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig'
        description: Optional location to store findings.
      storageConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1StorageConfig'
        description: Specification of the data set to process.
    type: object
  GooglePrivacyDlpV2beta1CryptoHashConfig:
    description: |-
      Pseudonymization method that generates surrogates via cryptographic hashing.
      Uses SHA-256.
      Outputs a 32 byte digest as an uppercase hex string
      (for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).
      Currently, only string and integer values can be hashed.
    properties:
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CryptoKey'
        description: The key used by the hash function.
    type: object
  GooglePrivacyDlpV2beta1CryptoKey:
    description: |-
      This is a data encryption key (DEK) (as opposed to
      a key encryption key (KEK) stored by KMS).
      When using KMS to wrap/unwrap DEKs, be sure to set an appropriate
      IAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot
      unwrap the data crypto key.
    properties:
      kmsWrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KmsWrappedCryptoKey'
      transient:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1TransientCryptoKey'
      unwrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1UnwrappedCryptoKey'
    type: object
  GooglePrivacyDlpV2beta1CryptoReplaceFfxFpeConfig:
    description: |-
      Replaces an identifier with a surrogate using FPE with the FFX
      mode of operation.
      The identifier must be representable by the US-ASCII character set.
      For a given crypto key and context, the same identifier will be
      replaced with the same surrogate.
      Identifiers must be at least two characters long.
      In the case that the identifier is the empty string, it will be skipped.
    properties:
      commonAlphabet:
        enum:
          - FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED
          - NUMERIC
          - HEXADECIMAL
          - UPPER_CASE_ALPHA_NUMERIC
          - ALPHA_NUMERIC
        type: string
      context:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          A context may be used for higher security since the same
          identifier in two different contexts likely will be given a distinct
          surrogate. The principle is that the likeliness is inversely related
          to the ratio of the number of distinct identifiers per context over the
          number of possible surrogates: As long as this ratio is small, the
          likehood is large.

          If the context is not set, a default tweak will be used.
          If the context is set but:

          1. there is no record present when transforming a given value or
          1. the field is not present when transforming a given value,

          a default tweak will be used.

          Note that case (1) is expected when an `InfoTypeTransformation` is
          applied to both structured and non-structured `ContentItem`s.
          Currently, the referenced field may be of value type integer or string.

          The tweak is constructed as a sequence of bytes in big endian byte order
          such that:

          - a 64 bit integer is encoded followed by a single byte of value 1
          - a string is encoded in UTF-8 format followed by a single byte of value 2

          This is also known as the 'tweak', as in tweakable encryption.
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CryptoKey'
        description: 'The key used by the encryption algorithm. [required]'
      customAlphabet:
        description: |-
          This is supported by mapping these to the alphanumeric characters
          that the FFX mode natively supports. This happens before/after
          encryption/decryption.
          Each character listed must appear only once.
          Number of characters must be in the range [2, 62].
          This must be encoded as ASCII.
          The order of characters does not matter.
        type: string
      radix:
        description: 'The native way to select the alphabet. Must be in the range [2, 62].'
        format: int32
        type: integer
      surrogateInfoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          The custom info type to annotate the surrogate with.
          This annotation will be applied to the surrogate by prefixing it with
          the name of the custom info type followed by the number of
          characters comprising the surrogate. The following scheme defines the
          format: info_type_name(surrogate_character_count):surrogate

          For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and
          the surrogate is 'abc', the full replacement value
          will be: 'MY_TOKEN_INFO_TYPE(3):abc'

          This annotation identifies the surrogate when inspecting content using the
          custom info type
          [`SurrogateType`](/dlp/docs/reference/rest/v2beta1/InspectConfig#surrogatetype).
          This facilitates reversal of the surrogate when it occurs in free text.

          In order for inspection to work properly, the name of this info type must
          not occur naturally anywhere in your data; otherwise, inspection may
          find a surrogate that does not correspond to an actual identifier.
          Therefore, choose your custom info type name carefully after considering
          what your data looks like. One way to select a name that has a high chance
          of yielding reliable detection is to include one or more unicode characters
          that are highly improbable to exist in your data.
          For example, assuming your data is entered from a regular ASCII keyboard,
          the symbol with the hex code point 29DD might be used like so:
          ⧝MY_TOKEN_TYPE
    type: object
  GooglePrivacyDlpV2beta1CustomInfoType:
    description: |-
      Custom information type provided by the user. Used to find domain-specific
      sensitive information configurable to the data in question.
    properties:
      dictionary:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Dictionary'
        description: Dictionary-based custom info type.
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Info type configuration. All custom info types must have configurations
          that do not conflict with built-in info types or other custom info types.
      surrogateType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1SurrogateType'
        description: Surrogate info type.
    type: object
  GooglePrivacyDlpV2beta1DatastoreKey:
    description: Record key for a finding in Cloud Datastore.
    properties:
      entityKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Key'
        description: Datastore entity key.
    type: object
  GooglePrivacyDlpV2beta1DatastoreOptions:
    description: Options defining a data set within Google Cloud Datastore.
    properties:
      kind:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KindExpression'
        description: The kind to process.
      partitionId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PartitionId'
        description: |-
          A partition ID identifies a grouping of entities. The grouping is always
          by project and namespace, however the namespace ID may be empty.
      projection:
        description: |-
          Properties to scan. If none are specified, all properties will be scanned
          by default.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Projection'
        type: array
    type: object
  GooglePrivacyDlpV2beta1DeidentificationSummary:
    description: High level summary of deidentification.
    properties:
      transformationSummaries:
        description: Transformations applied to the dataset.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1TransformationSummary'
        type: array
      transformedBytes:
        description: Total size in bytes that were transformed in some way.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1DeidentifyConfig:
    description: The configuration that controls how the data will change.
    properties:
      infoTypeTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeTransformations'
        description: |-
          Treat the dataset as free-form text and apply the same free text
          transformation everywhere.
      recordTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordTransformations'
        description: |-
          Treat the dataset as structured. Transformations can be applied to
          specific locations within structured datasets, such as transforming
          a column within a table.
    type: object
  GooglePrivacyDlpV2beta1DeidentifyContentRequest:
    description: Request to de-identify a list of items.
    properties:
      deidentifyConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1DeidentifyConfig'
        description: Configuration for the de-identification of the list of content items.
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: Configuration for the inspector.
      items:
        description: |-
          The list of items to inspect. Up to 100 are allowed per request.
          All items will be treated as text/*.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ContentItem'
        type: array
    type: object
  GooglePrivacyDlpV2beta1DeidentifyContentResponse:
    description: Results of de-identifying a list of items.
    properties:
      items:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ContentItem'
        type: array
      summaries:
        description: A review of the transformations that took place for each item.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1DeidentificationSummary'
        type: array
    type: object
  GooglePrivacyDlpV2beta1Dictionary:
    description: |-
      Custom information type based on a dictionary of words or phrases. This can
      be used to match sensitive information specific to the data, such as a list
      of employee IDs or job titles.

      Dictionary words are case-insensitive and all characters other than letters
      and digits in the unicode [Basic Multilingual
      Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)
      will be replaced with whitespace when scanning for matches, so the
      dictionary phrase "Sam Johnson" will match all three phrases "sam johnson",
      "Sam, Johnson", and "Sam (Johnson)". Additionally, the characters
      surrounding any match must be of a different type than the adjacent
      characters within the word, so letters must be next to non-letters and
      digits next to non-digits. For example, the dictionary word "jen" will
      match the first three letters of the text "jen123" but will return no
      matches for "jennifer".

      Dictionary words containing a large number of characters that are not
      letters or digits may result in unexpected findings because such characters
      are treated as whitespace.
    properties:
      wordList:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1WordList'
        description: List of words or phrases to search for.
    type: object
  GooglePrivacyDlpV2beta1EntityId:
    description: |-
      An entity in a dataset is a field or set of fields that correspond to a
      single person. For example, in medical records the `EntityId` might be
      a patient identifier, or for financial records it might be an account
      identifier. This message is used when generalizations or analysis must be
      consistent across multiple rows pertaining to the same entity.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: Composite key indicating which field contains the entity identifier.
    type: object
  GooglePrivacyDlpV2beta1Expressions:
    description: A collection of expressions
    properties:
      conditions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Conditions'
      logicalOperator:
        description: |-
          The operator to apply to the result of conditions. Default and currently
          only supported value is `AND`.
        enum:
          - LOGICAL_OPERATOR_UNSPECIFIED
          - AND
        type: string
    type: object
  GooglePrivacyDlpV2beta1FieldId:
    description: General identifier of a data field in a storage service.
    properties:
      columnName:
        description: Name describing the field.
        type: string
    type: object
  GooglePrivacyDlpV2beta1FieldTransformation:
    description: The transformation to apply to the field.
    properties:
      condition:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordCondition'
        description: |-
          Only apply the transformation if the condition evaluates to true for the
          given `RecordCondition`. The conditions are allowed to reference fields
          that are not used in the actual transformation. [optional]

          Example Use Cases:

          - Apply a different bucket transformation to an age column if the zip code
          column for the same record is within a specific range.
          - Redact a field if the date of birth field is greater than 85.
      fields:
        description: 'Input field(s) to apply the transformation to. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      infoTypeTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeTransformations'
        description: |-
          Treat the contents of the field as free text, and selectively
          transform content that matches an `InfoType`.
      primitiveTransformation:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrimitiveTransformation'
        description: Apply the transformation to the entire field.
    type: object
  GooglePrivacyDlpV2beta1FileSet:
    description: Set of files to scan.
    properties:
      url:
        description: |-
          The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the
          path is allowed.
        type: string
    type: object
  GooglePrivacyDlpV2beta1Finding:
    description: Represents a piece of potentially sensitive content.
    properties:
      createTime:
        description: Timestamp when finding was detected.
        format: google-datetime
        type: string
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          The type of content that might have been found.
          Provided if requested by the `InspectConfig`.
      likelihood:
        description: Estimate of how likely it is that the `info_type` is correct.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
      location:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Location'
        description: Where the content was found.
      quote:
        description: |-
          The content that was found. Even if the content is not textual, it
          may be converted to a textual representation here.
          Provided if requested by the `InspectConfig`.
        type: string
    type: object
  GooglePrivacyDlpV2beta1FixedSizeBucketingConfig:
    description: |-
      Buckets values based on fixed size ranges. The
      Bucketing transformation can provide all of this functionality,
      but requires more configuration. This message is provided as a convenience to
      the user for simple bucketing strategies.
      The resulting value will be a hyphenated string of
      lower_bound-upper_bound.
      This can be used on data of type: double, long.
      If the bound Value type differs from the type of data
      being transformed, we will first attempt converting the type of the data to
      be transformed to match the type of the bound before comparing.
    properties:
      bucketSize:
        description: |-
          Size of each bucket (except for minimum and maximum buckets). So if
          `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the
          following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,
          60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works. [Required].
        format: double
        type: number
      lowerBound:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: |-
          Lower bound value of buckets. All values less than `lower_bound` are
          grouped together into a single bucket; for example if `lower_bound` = 10,
          then all values less than 10 are replaced with the value “-10”. [Required].
      upperBound:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: |-
          Upper bound value of buckets. All values greater than upper_bound are
          grouped together into a single bucket; for example if `upper_bound` = 89,
          then all values greater than 89 are replaced with the value “89+”.
          [Required].
    type: object
  GooglePrivacyDlpV2beta1ImageLocation:
    description: Bounding box encompassing detected text within an image.
    properties:
      height:
        description: Height of the bounding box in pixels.
        format: int32
        type: integer
      left:
        description: 'Left coordinate of the bounding box. (0,0) is upper left.'
        format: int32
        type: integer
      top:
        description: 'Top coordinate of the bounding box. (0,0) is upper left.'
        format: int32
        type: integer
      width:
        description: Width of the bounding box in pixels.
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2beta1ImageRedactionConfig:
    description: Configuration for determining how redaction of images should occur.
    properties:
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Only one per info_type should be provided per request. If not
          specified, and redact_all_text is false, the DLP API will redact all
          text that it matches against all info_types that are found, but not
          specified in another ImageRedactionConfig.
      redactAllText:
        description: |-
          If true, all text found in the image, regardless whether it matches an
          info_type, is redacted.
        type: boolean
      redactionColor:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Color'
        description: |-
          The color to use when redacting content from an image. If not specified,
          the default is black.
    type: object
  GooglePrivacyDlpV2beta1InfoType:
    description: Type of information detected by the API.
    properties:
      name:
        description: Name of the information type.
        type: string
    type: object
  GooglePrivacyDlpV2beta1InfoTypeDescription:
    description: Description of the information type (infoType).
    properties:
      categories:
        description: List of categories this infoType belongs to.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoryDescription'
        type: array
      displayName:
        description: Human readable form of the infoType name.
        type: string
      name:
        description: Internal name of the infoType.
        type: string
    type: object
  GooglePrivacyDlpV2beta1InfoTypeLimit:
    description: |-
      Max findings configuration per info type, per content item or long running
      operation.
    properties:
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Type of information the findings limit applies to. Only one limit per
          info_type should be provided. If InfoTypeLimit does not have an
          info_type, the DLP API applies the limit against all info_types that are
          found but not specified in another InfoTypeLimit.
      maxFindings:
        description: Max findings limit for the given infoType.
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2beta1InfoTypeStatistics:
    description: Statistics regarding a specific InfoType.
    properties:
      count:
        description: Number of findings for this info type.
        format: int64
        type: string
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: The type of finding this stat is for.
    type: object
  GooglePrivacyDlpV2beta1InfoTypeTransformation:
    description: |-
      A transformation to apply to text that is identified as a specific
      info_type.
    properties:
      infoTypes:
        description: |-
          Info types to apply the transformation to. Empty list will match all
          available info types for this transformation.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        type: array
      primitiveTransformation:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrimitiveTransformation'
        description: 'Primitive transformation to apply to the info type. [required]'
    type: object
  GooglePrivacyDlpV2beta1InfoTypeTransformations:
    description: |-
      A type of transformation that will scan unstructured text and
      apply various `PrimitiveTransformation`s to each finding, where the
      transformation is applied to only values that were identified as a specific
      info_type.
    properties:
      transformations:
        description: |-
          Transformation for each info type. Cannot specify more than one
          for a given info type. [required]
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeTransformation'
        type: array
    type: object
  GooglePrivacyDlpV2beta1InspectConfig:
    description: |-
      Configuration description of the scanning process.
      When used with redactContent only info_types and min_likelihood are currently
      used.
    properties:
      customInfoTypes:
        description: Custom info types provided by the user.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CustomInfoType'
        type: array
      excludeTypes:
        description: 'When true, excludes type information of the findings.'
        type: boolean
      includeQuote:
        description: |-
          When true, a contextual quote from the data that triggered a finding is
          included in the response; see Finding.quote.
        type: boolean
      infoTypeLimits:
        description: Configuration of findings limit given for specified info types.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeLimit'
        type: array
      infoTypes:
        description: |-
          Restricts what info_types to look for. The values must correspond to
          InfoType values returned by ListInfoTypes or found in documentation.
          Empty info_types runs all enabled detectors.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        type: array
      maxFindings:
        description: Limits the number of findings per content item or long running operation.
        format: int32
        type: integer
      minLikelihood:
        description: Only returns findings equal or above this threshold.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
    type: object
  GooglePrivacyDlpV2beta1InspectContentRequest:
    description: Request to search for potentially sensitive info in a list of items.
    properties:
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: Configuration for the inspector.
      items:
        description: |-
          The list of items to inspect. Items in a single request are
          considered "related" unless inspect_config.independent_inputs is true.
          Up to 100 are allowed per request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ContentItem'
        type: array
    type: object
  GooglePrivacyDlpV2beta1InspectContentResponse:
    description: Results of inspecting a list of items.
    properties:
      results:
        description: |-
          Each content_item from the request has a result in this list, in the
          same order as the request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectResult'
        type: array
    type: object
  GooglePrivacyDlpV2beta1InspectOperationMetadata:
    description: Metadata returned within GetOperation for an inspect request.
    properties:
      createTime:
        description: The time which this request was started.
        format: google-datetime
        type: string
      infoTypeStats:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeStatistics'
        type: array
      processedBytes:
        description: Total size in bytes that were processed.
        format: int64
        type: string
      requestInspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: The inspect config used to create the Operation.
      requestOutputConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig'
        description: Optional location to store findings.
      requestStorageConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1StorageConfig'
        description: The storage config used to create the Operation.
      totalEstimatedBytes:
        description: Estimate of the number of bytes to process.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1InspectOperationResult:
    description: The operational data.
    properties:
      name:
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should have the format of `inspect/results/{id}`.
        type: string
    type: object
  GooglePrivacyDlpV2beta1InspectResult:
    description: All the findings for a single scanned item.
    properties:
      findings:
        description: List of findings for an item.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Finding'
        type: array
      findingsTruncated:
        description: |-
          If true, then this item might have more findings than were returned,
          and the findings returned are an arbitrary subset of all findings.
          The findings list might be truncated because the input items were too
          large, or because the server reached the maximum amount of resources
          allowed for a single API call. For best results, divide the input into
          smaller batches.
        type: boolean
    type: object
  GooglePrivacyDlpV2beta1KAnonymityConfig:
    description: 'k-anonymity metric, used for analysis of reidentification risk.'
    properties:
      entityId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1EntityId'
        description: |-
          Optional message indicating that each distinct entity_id should not
          contribute to the k-anonymity count more than once per equivalence class.
          If an entity_id appears on several rows with different quasi-identifier
          tuples, it will contribute to each count exactly once.

          This can lead to unexpected results. Consider a table where ID 1 is
          associated to quasi-identifier "foo", ID 2 to "bar", and ID 3 to *both*
          quasi-identifiers "foo" and "bar" (on separate rows), and where this ID
          is used as entity_id. Then, the anonymity value associated to ID 3 will
          be 2, even if it is the only ID to be associated to both values "foo" and
          "bar".
      quasiIds:
        description: |-
          Set of fields to compute k-anonymity over. When multiple fields are
          specified, they are considered a single composite key. Structs and
          repeated data types are not supported; however, nested fields are
          supported so long as they are not structs themselves or nested within
          a repeated field.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass:
    description: The set of columns' values that share the same k-anonymity value.
    properties:
      equivalenceClassSize:
        description: |-
          Size of the equivalence class, for example number of rows with the
          above set of values.
        format: int64
        type: string
      quasiIdsValues:
        description: |-
          Set of values defining the equivalence class. One value per
          quasi-identifier column in the original KAnonymity metric message.
          The order is always the same as the original request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KAnonymityHistogramBucket:
    description: Histogram bucket of equivalence class sizes in the table.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of equivalence classes in this bucket. The total number of
          classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass'
        type: array
      equivalenceClassSizeLowerBound:
        description: Lower bound on the size of the equivalence classes in this bucket.
        format: int64
        type: string
      equivalenceClassSizeUpperBound:
        description: Upper bound on the size of the equivalence classes in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1KAnonymityResult:
    description: Result of the k-anonymity computation.
    properties:
      equivalenceClassHistogramBuckets:
        description: Histogram of k-anonymity equivalence classes.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationConfig:
    description: |-
      Reidentifiability metric. This corresponds to a risk model similar to what
      is called "journalist risk" in the literature, except the attack dataset is
      statistically modeled instead of being perfectly known. This can be done
      using publicly available data (like the US Census), or using a custom
      statistical model (indicated as one or several BigQuery tables), or by
      extrapolating from the distribution of values in the input dataset.
    properties:
      auxiliaryTables:
        description: |-
          Several auxiliary tables can be used in the analysis. Each custom_tag
          used to tag a quasi-identifiers column must appear in exactly one column
          of one auxiliary table.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1AuxiliaryTable'
        type: array
      quasiIds:
        description: |-
          Fields considered to be quasi-identifiers. No two columns can have the
          same tag. [required]
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1TaggedField'
        type: array
      regionCode:
        description: |-
          ISO 3166-1 alpha-2 region code to use in the statistical modeling.
          Required if no column is tagged with a region-specific InfoType (like
          US_ZIP_5) or a region code.
        type: string
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket:
    description: |-
      A KMapEstimationHistogramBucket message with the following values:
        min_anonymity: 3
        max_anonymity: 5
        frequency: 42
      means that there are 42 records whose quasi-identifier values correspond
      to 3, 4 or 5 people in the overlying population. An important particular
      case is when min_anonymity = max_anonymity = 1: the frequency field then
      corresponds to the number of uniquely identifiable records.
    properties:
      bucketSize:
        description: Number of records within these anonymity bounds.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of quasi-identifier tuple values in this bucket. The total
          number of classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues'
        type: array
      maxAnonymity:
        description: Always greater than or equal to min_anonymity.
        format: int64
        type: string
      minAnonymity:
        description: Always positive.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues:
    description: A tuple of values for the quasi-identifier columns.
    properties:
      estimatedAnonymity:
        description: The estimated anonymity for these quasi-identifier values.
        format: int64
        type: string
      quasiIdsValues:
        description: The quasi-identifier values.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationResult:
    description: |-
      Result of the reidentifiability analysis. Note that these results are an
      estimation, not exact values.
    properties:
      kMapEstimationHistogram:
        description: |-
          The intervals [min_anonymity, max_anonymity] do not overlap. If a value
          doesn't correspond to any such interval, the associated frequency is
          zero. For example, the following records:
            {min_anonymity: 1, max_anonymity: 1, frequency: 17}
            {min_anonymity: 2, max_anonymity: 3, frequency: 42}
            {min_anonymity: 5, max_anonymity: 10, frequency: 99}
          mean that there are no record with an estimated anonymity of 4, 5, or
          larger than 10.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1Key:
    description: |-
      A unique identifier for a Datastore entity.
      If a key's partition ID or any of its path kinds or names are
      reserved/read-only, the key is reserved/read-only.
      A reserved/read-only key is forbidden in certain documented contexts.
    properties:
      partitionId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PartitionId'
        description: |-
          Entities are partitioned into subsets, currently identified by a project
          ID and namespace ID.
          Queries are scoped to a single partition.
      path:
        description: |-
          The entity path.
          An entity path consists of one or more elements composed of a kind and a
          string or numerical identifier, which identify entities. The first
          element identifies a _root entity_, the second element identifies
          a _child_ of the root entity, the third element identifies a child of the
          second entity, and so forth. The entities identified by all prefixes of
          the path are called the element's _ancestors_.

          A path can never be empty, and a path can have at most 100 elements.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1PathElement'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KindExpression:
    description: A representation of a Datastore kind.
    properties:
      name:
        description: The name of the kind.
        type: string
    type: object
  GooglePrivacyDlpV2beta1KmsWrappedCryptoKey:
    description: |-
      Include to use an existing data crypto key wrapped by KMS.
      Authorization requires the following IAM permissions when sending a request
      to perform a crypto transformation using a kms-wrapped crypto key:
      dlp.kms.encrypt
    properties:
      cryptoKeyName:
        description: 'The resource name of the KMS CryptoKey to use for unwrapping. [required]'
        type: string
      wrappedKey:
        description: 'The wrapped data crypto key. [required]'
        format: byte
        type: string
    type: object
  GooglePrivacyDlpV2beta1LDiversityConfig:
    description: 'l-diversity metric, used for analysis of reidentification risk.'
    properties:
      quasiIds:
        description: |-
          Set of quasi-identifiers indicating how equivalence classes are
          defined for the l-diversity computation. When multiple fields are
          specified, they are considered a single composite key.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      sensitiveAttribute:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: Sensitive field for computing the l-value.
    type: object
  GooglePrivacyDlpV2beta1LDiversityEquivalenceClass:
    description: The set of columns' values that share the same l-diversity value.
    properties:
      equivalenceClassSize:
        description: Size of the k-anonymity equivalence class.
        format: int64
        type: string
      numDistinctSensitiveValues:
        description: Number of distinct sensitive values in this equivalence class.
        format: int64
        type: string
      quasiIdsValues:
        description: |-
          Quasi-identifier values defining the k-anonymity equivalence
          class. The order is always the same as the original request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
      topSensitiveValues:
        description: Estimated frequencies of top sensitive values.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ValueFrequency'
        type: array
    type: object
  GooglePrivacyDlpV2beta1LDiversityHistogramBucket:
    description: Histogram bucket of sensitive value frequencies in the table.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of equivalence classes in this bucket. The total number of
          classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityEquivalenceClass'
        type: array
      sensitiveValueFrequencyLowerBound:
        description: |-
          Lower bound on the sensitive value frequencies of the equivalence
          classes in this bucket.
        format: int64
        type: string
      sensitiveValueFrequencyUpperBound:
        description: |-
          Upper bound on the sensitive value frequencies of the equivalence
          classes in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1LDiversityResult:
    description: Result of the l-diversity computation.
    properties:
      sensitiveValueFrequencyHistogramBuckets:
        description: Histogram of l-diversity equivalence class sensitive value frequencies.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1ListInfoTypesResponse:
    description: Response to the ListInfoTypes request.
    properties:
      infoTypes:
        description: Set of sensitive info types belonging to a category.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeDescription'
        type: array
    type: object
  GooglePrivacyDlpV2beta1ListInspectFindingsResponse:
    description: Response to the ListInspectFindings request.
    properties:
      nextPageToken:
        description: |-
          If not empty, indicates that there may be more results that match the
          request; this value should be passed in a new `ListInspectFindingsRequest`.
        type: string
      result:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectResult'
        description: The results.
    type: object
  GooglePrivacyDlpV2beta1ListRootCategoriesResponse:
    description: Response for ListRootCategories request.
    properties:
      categories:
        description: List of all into type categories supported by the API.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoryDescription'
        type: array
    type: object
  GooglePrivacyDlpV2beta1Location:
    description: Specifies the location of the finding.
    properties:
      byteRange:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Range'
        description: |-
          Zero-based byte offsets delimiting the finding.
          These are relative to the finding's containing element.
          Note that when the content is not textual, this references
          the UTF-8 encoded textual representation of the content.
          Omitted if content is an image.
      codepointRange:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Range'
        description: |-
          Unicode character offsets delimiting the finding.
          These are relative to the finding's containing element.
          Provided when the content is text.
      fieldId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          The pointer to the property or cell that contained the finding.
          Provided when the finding's containing element is a cell in a table
          or a property of storage object.
      imageBoxes:
        description: |-
          The area within the image that contained the finding.
          Provided when the content is an image.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ImageLocation'
        type: array
      recordKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordKey'
        description: |-
          The pointer to the record in storage that contained the field the
          finding was found in.
          Provided when the finding's containing element is a property
          of a storage object.
      tableLocation:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1TableLocation'
        description: |-
          The pointer to the row of the table that contained the finding.
          Provided when the finding's containing element is a cell of a table.
    type: object
  GooglePrivacyDlpV2beta1NumericalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      min, max, and quantiles.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          Field to compute numerical stats on. Supported types are
          integer, float, date, datetime, timestamp, time.
    type: object
  GooglePrivacyDlpV2beta1NumericalStatsResult:
    description: Result of the numerical stats computation.
    properties:
      maxValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: Maximum value appearing in the column.
      minValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: Minimum value appearing in the column.
      quantileValues:
        description: |-
          List of 99 values that partition the set of field values into 100 equal
          sized buckets.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1OperationConfig:
    description: Additional configuration for inspect long running operations.
    properties:
      maxItemFindings:
        description: 'Max number of findings per file, Datastore entity, or database row.'
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1OutputStorageConfig:
    description: Cloud repository for storing output.
    properties:
      storagePath:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CloudStoragePath'
        description: |-
          The path to a Google Cloud Storage location to store output.
          The bucket must already exist and
          the Google APIs service account for DLP must have write permission to
          write to the given bucket.
          Results are split over multiple csv files with each file name matching
          the pattern "[operation_id]_[count].csv", for example
          `3094877188788974909_1.csv`. The `operation_id` matches the
          identifier for the Operation, and the `count` is a counter used for
          tracking the number of files written.

          The CSV file(s) contain the following columns regardless of storage type
          scanned:
          - id
          - info_type
          - likelihood
          - byte size of finding
          - quote
          - timestamp

          For Cloud Storage the next columns are:

          - file_path
          - start_offset

          For Cloud Datastore the next columns are:

          - project_id
          - namespace_id
          - path
          - column_name
          - offset

          For BigQuery the next columns are:

          - row_number
          - project_id
          - dataset_id
          - table_id
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Store findings in a new table in the dataset.
    type: object
  GooglePrivacyDlpV2beta1PartitionId:
    description: |-
      Datastore partition ID.
      A partition ID identifies a grouping of entities. The grouping is always
      by project and namespace, however the namespace ID may be empty.

      A partition ID contains several dimensions:
      project ID and namespace ID.
    properties:
      namespaceId:
        description: 'If not empty, the ID of the namespace to which the entities belong.'
        type: string
      projectId:
        description: The ID of the project to which the entities belong.
        type: string
    type: object
  GooglePrivacyDlpV2beta1PathElement:
    description: |-
      A (kind, ID/name) pair used to construct a key path.

      If either name or ID is set, the element is complete.
      If neither is set, the element is incomplete.
    properties:
      id:
        description: |-
          The auto-allocated ID of the entity.
          Never equal to zero. Values less than zero are discouraged and may not
          be supported in the future.
        format: int64
        type: string
      kind:
        description: |-
          The kind of the entity.
          A kind matching regex `__.*__` is reserved/read-only.
          A kind must not contain more than 1500 bytes when UTF-8 encoded.
          Cannot be `""`.
        type: string
      name:
        description: |-
          The name of the entity.
          A name matching regex `__.*__` is reserved/read-only.
          A name must not be more than 1500 bytes when UTF-8 encoded.
          Cannot be `""`.
        type: string
    type: object
  GooglePrivacyDlpV2beta1PrimitiveTransformation:
    description: A rule for transforming a value.
    properties:
      bucketingConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BucketingConfig'
      characterMaskConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CharacterMaskConfig'
      cryptoHashConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CryptoHashConfig'
      cryptoReplaceFfxFpeConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CryptoReplaceFfxFpeConfig'
      fixedSizeBucketingConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FixedSizeBucketingConfig'
      redactConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RedactConfig'
      replaceConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1ReplaceValueConfig'
      replaceWithInfoTypeConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1ReplaceWithInfoTypeConfig'
      timePartConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1TimePartConfig'
    type: object
  GooglePrivacyDlpV2beta1PrivacyMetric:
    description: Privacy metric to compute for reidentification risk analysis.
    properties:
      categoricalStatsConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsConfig'
      kAnonymityConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityConfig'
      kMapEstimationConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationConfig'
      lDiversityConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityConfig'
      numericalStatsConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1NumericalStatsConfig'
    type: object
  GooglePrivacyDlpV2beta1Projection:
    description: A representation of a Datastore property in a projection.
    properties:
      property:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PropertyReference'
        description: The property to project.
    type: object
  GooglePrivacyDlpV2beta1PropertyReference:
    description: A reference to a property relative to the Datastore kind expressions.
    properties:
      name:
        description: |-
          The name of the property.
          If name includes "."s, it may be interpreted as a property name path.
        type: string
    type: object
  GooglePrivacyDlpV2beta1QuasiIdField:
    description: |-
      A quasi-identifier column has a custom_tag, used to know which column
      in the data corresponds to which column in the statistical model.
    properties:
      customTag:
        type: string
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
    type: object
  GooglePrivacyDlpV2beta1Range:
    description: 'Generic half-open interval [start, end)'
    properties:
      end:
        description: Index of the last character of the range (exclusive).
        format: int64
        type: string
      start:
        description: Index of the first character of the range (inclusive).
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1RecordCondition:
    description: |-
      A condition for determining whether a transformation should be applied to
      a field.
    properties:
      expressions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Expressions'
    type: object
  GooglePrivacyDlpV2beta1RecordKey:
    description: Message for a unique key indicating a record that contains a finding.
    properties:
      cloudStorageKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CloudStorageKey'
      datastoreKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1DatastoreKey'
    type: object
  GooglePrivacyDlpV2beta1RecordSuppression:
    description: |-
      Configuration to suppress records whose suppression conditions evaluate to
      true.
    properties:
      condition:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordCondition'
    type: object
  GooglePrivacyDlpV2beta1RecordTransformations:
    description: |-
      A type of transformation that is applied over structured data such as a
      table.
    properties:
      fieldTransformations:
        description: Transform the record by applying various field transformations.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldTransformation'
        type: array
      recordSuppressions:
        description: |-
          Configuration defining which records get suppressed entirely. Records that
          match any suppression rule are omitted from the output [optional].
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordSuppression'
        type: array
    type: object
  GooglePrivacyDlpV2beta1RedactConfig:
    description: |-
      Redact a given value. For example, if used with an `InfoTypeTransformation`
      transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the
      output would be 'My phone number is '.
    properties: {}
    type: object
  GooglePrivacyDlpV2beta1RedactContentRequest:
    description: |-
      Request to search for potentially sensitive info in a list of items
      and replace it with a default or provided content.
    properties:
      imageRedactionConfigs:
        description: The configuration for specifying what content to redact from images.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ImageRedactionConfig'
        type: array
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: Configuration for the inspector.
      items:
        description: The list of items to inspect. Up to 100 are allowed per request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ContentItem'
        type: array
      replaceConfigs:
        description: |-
          The strings to replace findings text findings with. Must specify at least
          one of these or one ImageRedactionConfig if redacting images.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ReplaceConfig'
        type: array
    type: object
  GooglePrivacyDlpV2beta1RedactContentResponse:
    description: Results of redacting a list of items.
    properties:
      items:
        description: The redacted content.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ContentItem'
        type: array
    type: object
  GooglePrivacyDlpV2beta1ReplaceConfig:
    properties:
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Type of information to replace. Only one ReplaceConfig per info_type
          should be provided. If ReplaceConfig does not have an info_type, the DLP
          API matches it against all info_types that are found but not specified in
          another ReplaceConfig.
      replaceWith:
        description: Content replacing sensitive information of given type. Max 256 chars.
        type: string
    type: object
  GooglePrivacyDlpV2beta1ReplaceValueConfig:
    description: Replace each input value with a given `Value`.
    properties:
      newValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: Value to replace it with.
    type: object
  GooglePrivacyDlpV2beta1ReplaceWithInfoTypeConfig:
    description: Replace each matching finding with the name of the info_type.
    properties: {}
    type: object
  GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata:
    description: |-
      Metadata returned within the
      [`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)
      for risk analysis.
    properties:
      createTime:
        description: The time which this request was started.
        format: google-datetime
        type: string
      requestedPrivacyMetric:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrivacyMetric'
        description: Privacy metric to compute.
      requestedSourceTable:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Input dataset to compute metrics over.
    type: object
  GooglePrivacyDlpV2beta1RiskAnalysisOperationResult:
    description: |-
      Result of a risk analysis
      [`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)
      request.
    properties:
      categoricalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsResult'
      kAnonymityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityResult'
      kMapEstimationResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationResult'
      lDiversityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityResult'
      numericalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1NumericalStatsResult'
    type: object
  GooglePrivacyDlpV2beta1Row:
    properties:
      values:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1StorageConfig:
    description: Shared message indicating Cloud storage type.
    properties:
      bigQueryOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryOptions'
        description: BigQuery options specification.
      cloudStorageOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CloudStorageOptions'
        description: Google Cloud Storage options specification.
      datastoreOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1DatastoreOptions'
        description: Google Cloud Datastore options specification.
    type: object
  GooglePrivacyDlpV2beta1SummaryResult:
    description: |-
      A collection that informs the user the number of times a particular
      `TransformationResultCode` and error details occurred.
    properties:
      code:
        enum:
          - TRANSFORMATION_RESULT_CODE_UNSPECIFIED
          - SUCCESS
          - ERROR
        type: string
      count:
        format: int64
        type: string
      details:
        description: |-
          A place for warnings or errors to show up if a transformation didn't
          work as expected.
        type: string
    type: object
  GooglePrivacyDlpV2beta1SurrogateType:
    description: |-
      Message for detecting output from deidentification transformations
      such as
      [`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).
      These types of transformations are
      those that perform pseudonymization, thereby producing a "surrogate" as
      output. This should be used in conjunction with a field on the
      transformation such as `surrogate_info_type`. This custom info type does
      not support the use of `detection_rules`.
    properties: {}
    type: object
  GooglePrivacyDlpV2beta1Table:
    description: 'Structured content to inspect. Up to 50,000 `Value`s per request allowed.'
    properties:
      headers:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      rows:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Row'
        type: array
    type: object
  GooglePrivacyDlpV2beta1TableLocation:
    description: Location of a finding within a table.
    properties:
      rowIndex:
        description: The zero-based index of the row where the finding is located.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1TaggedField:
    description: A column with a semantic tag attached.
    properties:
      customTag:
        description: |-
          A column can be tagged with a custom tag. In this case, the user must
          indicate an auxiliary table that contains statistical information on
          the possible values of this column (below).
        type: string
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: 'Identifies the column. [required]'
      inferred:
        $ref: '#/definitions/GoogleProtobufEmpty'
        description: |-
          If no semantic tag is indicated, we infer the statistical model from
          the distribution of values in the input data
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          A column can be tagged with a InfoType to use the relevant public
          dataset as a statistical model of population, if available. We
          currently support US ZIP codes, region codes, ages and genders.
    type: object
  GooglePrivacyDlpV2beta1TimePartConfig:
    description: |-
      For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a
      portion of the value.
    properties:
      partToExtract:
        enum:
          - TIME_PART_UNSPECIFIED
          - YEAR
          - MONTH
          - DAY_OF_MONTH
          - DAY_OF_WEEK
          - WEEK_OF_YEAR
          - HOUR_OF_DAY
        type: string
    type: object
  GooglePrivacyDlpV2beta1TransformationSummary:
    description: |-
      Summary of a single tranformation.
      Only one of 'transformation', 'field_transformation', or 'record_suppress'
      will be set.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: Set if the transformation was limited to a specific FieldId.
      fieldTransformations:
        description: |-
          The field transformation that was applied.
          If multiple field transformations are requested for a single field,
          this list will contain all of them; otherwise, only one is supplied.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldTransformation'
        type: array
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: Set if the transformation was limited to a specific info_type.
      recordSuppress:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1RecordSuppression'
        description: The specific suppression option these stats apply to.
      results:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1SummaryResult'
        type: array
      transformation:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrimitiveTransformation'
        description: The specific transformation these stats apply to.
      transformedBytes:
        description: Total size in bytes that were transformed in some way.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1TransientCryptoKey:
    description: |-
      Use this to have a random data crypto key generated.
      It will be discarded after the operation/request finishes.
    properties:
      name:
        description: |-
          Name of the key. [required]
          This is an arbitrary string used to differentiate different keys.
          A unique key is generated per name: two separate `TransientCryptoKey`
          protos share the same generated key if their names are the same.
          When the data crypto key is generated, this name is not used in any way
          (repeating the api call will result in a different key being generated).
        type: string
    type: object
  GooglePrivacyDlpV2beta1UnwrappedCryptoKey:
    description: |-
      Using raw keys is prone to security risks due to accidentally
      leaking the key. Choose another type of key if possible.
    properties:
      key:
        description: 'The AES 128/192/256 bit key. [required]'
        format: byte
        type: string
    type: object
  GooglePrivacyDlpV2beta1Value:
    description: |-
      Set of primitive values supported by the system.
      Note that for the purposes of inspection or transformation, the number
      of bytes considered to comprise a 'Value' is based on its representation
      as a UTF-8 encoded string. For example, if 'integer_value' is set to
      123456789, the number of bytes would be counted as 9, even though an
      int64 only holds up to 8 bytes of data.
    properties:
      booleanValue:
        type: boolean
      dateValue:
        $ref: '#/definitions/GoogleTypeDate'
      floatValue:
        format: double
        type: number
      integerValue:
        format: int64
        type: string
      stringValue:
        type: string
      timeValue:
        $ref: '#/definitions/GoogleTypeTimeOfDay'
      timestampValue:
        format: google-datetime
        type: string
    type: object
  GooglePrivacyDlpV2beta1ValueFrequency:
    description: 'A value of a field, including its frequency.'
    properties:
      count:
        description: How many times the value is contained in the field.
        format: int64
        type: string
      value:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: A value contained in the field in question.
    type: object
  GooglePrivacyDlpV2beta1WordList:
    description: Message defining a list of words or phrases to search for in the data.
    properties:
      words:
        description: |-
          Words or phrases defining the dictionary. The dictionary must contain
          at least one phrase and every phrase must contain at least 2 characters
          that are letters or digits. [required]
        items:
          type: string
        type: array
    type: object
  GoogleProtobufEmpty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
[...]
