openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nfl/stats
  - url: https://azure-api.sportsdata.io/v3/nfl/stats
info:
  contact:
    x-twitter: nfldata
  description: NFL rosters, player stats, team stats, and fantasy stats API.
  title: NFL v3 Stats
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nfl-v3-stats.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-stats
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/ActiveBoxScores":
    get:
      description: This method returns box scores for all games that are either in-progress or have been updated within the last 30 minutes.
      operationId: LegacyBoxScoresActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores Active
  "/{format}/AllTeams":
    get:
      description: Gets all teams, including pro bowl teams.
      operationId: TeamsAll
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (All)
  "/{format}/AreAnyGamesInProgress":
    get:
      description: Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
  "/{format}/BoxScore/{season}/{week}/{hometeam}":
    get:
      operationId: LegacyBoxScore
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Abbreviation of the home team. Example: <code>WAS</code>."
          in: path
          name: hometeam
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxScore"
          description: ""
      summary: Legacy Box Score
  "/{format}/BoxScoreByScoreIDV3/{scoreid}":
    get:
      operationId: BoxScoreByScoreidV
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The ScoreID of the game. Possible values include: <code>16247</code>, <code>16245</code>, etc."
          in: path
          name: scoreid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxScoreV3"
          description: ""
      summary: Box Score by ScoreID V3
  "/{format}/BoxScoreV3/{season}/{week}/{hometeam}":
    get:
      operationId: BoxScoreV
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Abbreviation of a team playing in this game. Example: <code>WAS</code>."
          in: path
          name: hometeam
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxScoreV3"
          description: ""
      summary: Box Score V3
  "/{format}/BoxScores/{season}/{week}":
    get:
      description: This method returns all box scores for a given season and week.
      operationId: LegacyBoxScores
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores
  "/{format}/BoxScoresDelta/{season}/{week}/{minutes}":
    get:
      description: This method returns all box scores for a given season and week, but only returns player stats that have changed in the last X minutes.
      operationId: LegacyBoxScoresDelta
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>

            \          <code>1</code> or <code>2</code>.

            \        "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores Delta
  "/{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}":
    get:
      description: This method returns all box scores for a given season and week, but only returns player stats that have changed in the last X minutes. You can also filter by type of player stats to include, such as traditional fantasy players, IDP players or all players.
      operationId: BoxScoresDeltaV
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: |-
            The subcategory of players to include in the returned PlayerGame records. Possible values include:<br><br>
            <code>all</code> Returns all players<br>
            <code>fantasy</code> Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>
            <code>idp</code> Returns traditional fantasy players and IDP players.
          in: path
          name: playerstoinclude
          required: true
          schema:
            default: all
            enum:
              - all
              - fantasy
              - idp
            type: string
        - description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br><code>1</code>,

            \ <code>2</code>, etc.

            \        "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScoreV3"
                type: array
          description: ""
      summary: Box Scores Delta V3
  "/{format}/Byes/{season}":
    get:
      description: "Get bye weeks for the teams during a specified NFL season. "
      operationId: ByeWeeks
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Bye"
                type: array
          description: ""
      summary: Bye Weeks
  "/{format}/CurrentSeason":
    get:
      description: Year of the current NFL season. This value changes at the start of the new NFL league year. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
  "/{format}/CurrentWeek":
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
  "/{format}/DailyFantasyPlayers/{date}":
    get:
      operationId: DailyFantasyPlayers
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          The date of the contest for which you're pulling players

            \          <code>2014-SEP-21</code>,

            \          <code>2014-NOV-15</code>, etc

            \        "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DailyFantasyPlayer"
                type: array
          description: ""
      summary: Daily Fantasy Players
  "/{format}/DailyFantasyPoints/{date}":
    get:
      operationId: DailyFantasyScoring
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            The date of the contest for which you're pulling players
                      <code>2014-SEP-21</code>,
                      <code>2014-NOV-15</code>, etc
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DailyFantasyScoring"
                type: array
          description: ""
      summary: Daily Fantasy Scoring
  "/{format}/DfsSlatesByDate/{date}":
    get:
      operationId: DfsSlatesByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            The date of the slates.
            <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DfsSlate"
                type: array
          description: ""
      summary: DFS Slates by Date
  "/{format}/DfsSlatesByWeek/{season}/{week}":
    get:
      operationId: DfsSlatesByWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DfsSlate"
                type: array
          description: ""
      summary: DFS Slates by Week
  "/{format}/FantasyDefenseByGame/{season}/{week}":
    get:
      operationId: FantasyDefenseGameStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FantasyDefenseGame"
                type: array
          description: ""
      summary: Fantasy Defense Game Stats
  "/{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}":
    get:
      operationId: FantasyDefenseGameStatsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FantasyDefenseGame"
          description: ""
      summary: Fantasy Defense Game Stats by Team
  "/{format}/FantasyDefenseBySeason/{season}":
    get:
      operationId: FantasyDefenseSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FantasyDefenseSeason"
                type: array
          description: ""
      summary: Fantasy Defense Season Stats
  "/{format}/FantasyDefenseBySeasonByTeam/{season}/{team}":
    get:
      operationId: FantasyDefenseSeasonStatsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FantasyDefenseSeason"
          description: ""
      summary: Fantasy Defense Season Stats by Team
  "/{format}/FantasyPlayers":
    get:
      description: This method returns a comprehensive list of draftable fantasy football players, including QB, RB, WR, TE, K and DEF.  Players are sorted by ADP (AverageDraftPosition).
      operationId: FantasyPlayersWithAdp
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FantasyPlayer"
                type: array
          description: ""
      summary: Fantasy Players with ADP
  "/{format}/FantasyPlayersIDP":
    get:
      description: This method returns the top 300+ IDP Fantasy Players for the current or upcoming season, ordered by AverageDraftPositionIDP.
      operationId: IdpFantasyPlayersWithAdp
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FantasyPlayer"
                type: array
          description: ""
      summary: IDP Fantasy Players with ADP
  "/{format}/FinalBoxScores":
    get:
      operationId: LegacyBoxScoresFinal
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores Final
  "/{format}/FreeAgents":
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Free Agents
  "/{format}/GameLeagueLeaders/{season}/{week}/{position}/{column}":
    get:
      operationId: LeagueLeadersByWeek
      parameters:
        - description: "

            \          Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.

            \        "
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: Playerâ€™s position that you would like to filter by.
          in: path
          name: position
          required: true
          schema:
            default: ALL
            enum:
              - ALL
              - OFFENSE
              - QB
              - RB
              - WR
              - TE
              - DEFENSE
              - DL
              - LB
              - DB
              - K
            type: string
        - description: Response member you would like results sorted by.
          in: path
          name: column
          required: true
          schema:
            enum:
              - FantasyPoints
              - PassingYards
              - RushingYards
              - Receptions
              - Sacks
              - Interceptions
              - Touchdowns
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: League Leaders by Week
  "/{format}/GameStats/{season}":
    get:
      description: Game stats for a specified season.
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Game Stats by Season (Deprecated, use Team Game Stats instead)
  "/{format}/GameStatsByWeek/{season}/{week}":
    get:
      description: Game stats for a specified season and week.
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Game Stats by Week (Deprecated, use Team Game Stats instead)
  "/{format}/Injuries/{season}/{week}":
    get:
      operationId: Injuries
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Injury"
                type: array
          description: ""
      summary: Injuries
  "/{format}/Injuries/{season}/{week}/{team}":
    get:
      operationId: InjuriesByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Injury"
                type: array
          description: ""
      summary: Injuries by Team
  "/{format}/LastCompletedSeason":
    get:
      description: Year of the most recently completed season. this value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
  "/{format}/LastCompletedWeek":
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
  "/{format}/LiveBoxScores":
    get:
      operationId: LegacyBoxScoresLive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores Live
  "/{format}/News":
    get:
      operationId: News
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News
  "/{format}/NewsByDate/{date}":
    get:
      operationId: NewsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Date
  "/{format}/NewsByPlayerID/{playerid}":
    get:
      operationId: NewsByPlayer
      parameters:
        - description: "

            \          Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.

            \        "
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Player
  "/{format}/NewsByTeam/{team}":
    get:
      operationId: NewsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Team
  "/{format}/Player/{playerid}":
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDetail"
          description: ""
      summary: Player Details by Player
  "/{format}/PlayerGameRedZoneInsideFiveStats/{season}/{week}":
    get:
      operationId: PlayerGameRedZoneStatsInsideFive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGameRedZone"
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Five
  "/{format}/PlayerGameRedZoneInsideTenStats/{season}/{week}":
    get:
      operationId: PlayerGameRedZoneStatsInsideTen
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGameRedZone"
                type: array
          description: ""
      summary: Player Game Red Zone Stats Inside Ten
  "/{format}/PlayerGameRedZoneStats/{season}/{week}":
    get:
      operationId: PlayerGameRedZoneStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGameRedZone"
                type: array
          description: ""
      summary: Player Game Red Zone Stats
  "/{format}/PlayerGameStatsByPlayerID/{season}/{week}/{playerid}":
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerGame"
          description: ""
      summary: Player Game Stats by Player
  "/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}":
    get:
      operationId: PlayerGameLogsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            enum:
              - JSON
              - XML
            type: string
        - description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Unique FantasyData Player ID. Example:<code>17920</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
        - description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
          in: path
          name: numberofgames
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Logs By Season
  "/{format}/PlayerGameStatsByTeam/{season}/{week}/{team}":
    get:
      operationId: PlayerGameStatsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Stats by Team
  "/{format}/PlayerGameStatsByWeek/{season}/{week}":
    get:
      operationId: PlayerGameStatsByWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Stats by Week
  "/{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}":
    get:
      operationId: PlayerGameStatsByWeekDelta
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
        - description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>

            \          <code>1</code> or <code>2</code>.

            \        "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Stats by Week Delta
  "/{format}/PlayerGameStatsDelta/{minutes}":
    get:
      operationId: PlayerGameStatsDelta
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:

            \          <code>1</code> or <code>2</code>.

            \        "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Stats Delta
  "/{format}/PlayerOwnership/{season}/{week}":
    get:
      operationId: FantasyPlayerOwnershipPercentagesSeasonLong
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerOwnership"
                type: array
          description: ""
      summary: Fantasy Player Ownership Percentages (Season-Long)
  "/{format}/PlayerSeasonRedZoneInsideFiveStats/{season}":
    get:
      operationId: PlayerSeasonRedZoneStatsInsideFive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeasonRedZone"
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Five
  "/{format}/PlayerSeasonRedZoneInsideTenStats/{season}":
    get:
      operationId: PlayerSeasonRedZoneStatsInsideTen
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeasonRedZone"
                type: array
          description: ""
      summary: Player Season Red Zone Stats Inside Ten
  "/{format}/PlayerSeasonRedZoneStats/{season}":
    get:
      operationId: PlayerSeasonRedZoneStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeasonRedZone"
                type: array
          description: ""
      summary: Player Season Red Zone Stats
  "/{format}/PlayerSeasonStats/{season}":
    get:
      operationId: PlayerSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: Player Season Stats
  "/{format}/PlayerSeasonStatsByPlayerID/{season}/{playerid}":
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: Player Season Stats by Player
  "/{format}/PlayerSeasonStatsByTeam/{season}/{team}":
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: Player Season Stats by Team
  "/{format}/PlayerSeasonThirdDownStats/{season}":
    get:
      operationId: PlayerSeasonThirdDownStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeasonThirdDown"
                type: array
          description: ""
      summary: Player Season Third Down Stats
  "/{format}/Players":
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Available
  "/{format}/Players/{team}":
    get:
      operationId: PlayerDetailsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerDetail"
                type: array
          description: ""
      summary: Player Details by Team
  "/{format}/ProBowlers/{season}":
    get:
      operationId: ProBowlers
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            Year of the season
            <br>Examples: <code>2016</code>, <code>2017</code>
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerInfo"
                type: array
          description: ""
      summary: Pro Bowlers
  "/{format}/RecentlyUpdatedBoxScores/{minutes}":
    get:
      operationId: LegacyBoxScoresDeltaCurrentWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>

            \          <code>1</code> or <code>2</code>.

            \        "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Legacy Box Scores Delta (Current Week)
  "/{format}/Rookies/{season}":
    get:
      operationId: PlayerDetailsByRookieDraftYear
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
  "/{format}/Schedules/{season}":
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Schedule"
                type: array
          description: ""
      summary: Schedule
  "/{format}/Scores/{season}":
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: "Scores by Season "
  "/{format}/ScoresByDate/{date}":
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>, <code>2021-NOV-28</code>."
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Date
  "/{format}/ScoresByWeek/{season}/{week}":
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Week
  "/{format}/SeasonLeagueLeaders/{season}/{position}/{column}":
    get:
      operationId: LeagueLeadersBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Playerâ€™s position that you would like to filter by.
          in: path
          name: position
          required: true
          schema:
            default: ALL
            enum:
              - ALL
              - OFFENSE
              - QB
              - RB
              - WR
              - TE
              - DEFENSE
              - DL
              - LB
              - DB
              - K
            type: string
        - description: Response member you would like results sorted by.
          in: path
          name: column
          required: true
          schema:
            enum:
              - FantasyPoints
              - PassingYards
              - RushingYards
              - Receptions
              - Sacks
              - Interceptions
              - Touchdowns
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: League Leaders by Season
  "/{format}/SimulatedBoxScoresV3/{numberofplays}":
    get:
      description: Gets simulated live box scores of NFL games, covering the Conference Championship games on January 21, 2018.
      operationId: BoxScoresVSimulation
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.
          in: path
          name: numberofplays
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScoreV3"
                type: array
          description: ""
      summary: Box Scores V3 Simulation
  "/{format}/SimulatedScores/{numberofplays}":
    get:
      description: Gets simulated live scores of NFL games, covering the Conference Championship games on January 21, 2018.
      operationId: ScoresByWeekSimulation
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.
          in: path
          name: numberofplays
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Week Simulation
  "/{format}/Stadiums":
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Stadium"
                type: array
          description: ""
      summary: Stadiums
  "/{format}/Standings/{season}":
    get:
      operationId: Standings
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Standing"
                type: array
          description: ""
      summary: Standings
  "/{format}/TeamGameStats/{season}/{week}":
    get:
      operationId: TeamGameStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Stats
  "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}":
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            enum:
              - JSON
              - XML
            type: string
        - description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Unique ID of team.  Example <code> 8 </code>
          in: path
          name: teamid
          required: true
          schema:
            type: string
        - description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
          in: path
          name: numberofgames
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Logs By Season
  "/{format}/TeamSeasonStats/{season}":
    get:
      operationId: TeamSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamSeason"
                type: array
          description: ""
      summary: Team Season Stats
  "/{format}/Teams":
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (Active)
  "/{format}/Teams/{season}":
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams by Season
  "/{format}/Timeframes/{type}":
    get:
      description: Get detailed information about past, present, and future timeframes.
      operationId: Timeframes
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
        - description: The type of timeframes to return.  Valid entries are <code>current</code> or <code>upcoming</code> or <code>completed</code> or <code>recent</code> or <code>all</code>.
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Timeframe"
                type: array
          description: ""
      summary: Timeframes
  "/{format}/UpcomingSeason":
    get:
      description: Year of the current NFL season, if we are in the mid-season. If we are in the off-season, then year of the next upcoming season. This value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
  "/{format}/UpcomingWeek":
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
components:
  schemas:
    BoxScore:
      properties:
        AwayDefense:
          items:
            $ref: "#/components/schemas/PlayerDefense"
          type: array
        AwayFantasyDefense:
          $ref: "#/components/schemas/FantasyDefenseGame"
        AwayKickPuntReturns:
          items:
            $ref: "#/components/schemas/PlayerKickPuntReturns"
          type: array
        AwayKicking:
          items:
            $ref: "#/components/schemas/PlayerKicking"
          type: array
        AwayPassing:
          items:
            $ref: "#/components/schemas/PlayerPassing"
          type: array
        AwayPunting:
          items:
            $ref: "#/components/schemas/PlayerPunting"
          type: array
        AwayReceiving:
          items:
            $ref: "#/components/schemas/PlayerReceiving"
          type: array
        AwayRushing:
          items:
            $ref: "#/components/schemas/PlayerRushing"
          type: array
        Game:
          $ref: "#/components/schemas/Game"
        HomeDefense:
          items:
            $ref: "#/components/schemas/PlayerDefense"
          type: array
        HomeFantasyDefense:
          $ref: "#/components/schemas/FantasyDefenseGame"
        HomeKickPuntReturns:
          items:
            $ref: "#/components/schemas/PlayerKickPuntReturns"
          type: array
        HomeKicking:
          items:
            $ref: "#/components/schemas/PlayerKicking"
          type: array
        HomePassing:
          items:
            $ref: "#/components/schemas/PlayerPassing"
          type: array
        HomePunting:
          items:
            $ref: "#/components/schemas/PlayerPunting"
          type: array
        HomeReceiving:
          items:
            $ref: "#/components/schemas/PlayerReceiving"
          type: array
        HomeRushing:
          items:
            $ref: "#/components/schemas/PlayerRushing"
          type: array
        Score:
          $ref: "#/components/schemas/Score"
        ScoringDetails:
          items:
            $ref: "#/components/schemas/ScoringDetail"
          type: array
        ScoringPlays:
          items:
            $ref: "#/components/schemas/ScoringPlay"
          type: array
    BoxScoreV3:
      properties:
        FantasyDefenseGames:
          items:
            $ref: "#/components/schemas/FantasyDefenseGame"
          type: array
        PlayerGames:
          items:
            $ref: "#/components/schemas/PlayerGame"
          type: array
        Quarters:
          items:
            $ref: "#/components/schemas/Quarter"
          type: array
        Score:
          $ref: "#/components/schemas/Score"
        ScoringDetails:
          items:
            $ref: "#/components/schemas/ScoringDetail"
          type: array
        ScoringPlays:
          items:
            $ref: "#/components/schemas/ScoringPlay"
          type: array
        TeamGames:
          items:
            $ref: "#/components/schemas/TeamGame"
          type: array
    Bye:
      properties:
        Season:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    DailyFantasyPlayer:
      properties:
        Date:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftSalary:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        LastGameFantasyPoints:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        ProjectedFantasyPoints:
          nullable: true
          type: number
        Salary:
          nullable: false
          type: integer
        ShortName:
          nullable: true
          type: string
        Status:
          nullable: true
          type: string
        StatusCode:
          nullable: true
          type: string
        StatusColor:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    DailyFantasyScoring:
      properties:
        Date:
          nullable: true
          type: string
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPPR:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        HasStarted:
          nullable: false
          type: boolean
        IsInProgress:
          nullable: false
          type: boolean
        IsOver:
          nullable: false
          type: boolean
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
    DfsSlate:
      properties:
        DfsSlateGames:
          items:
            $ref: "#/components/schemas/DfsSlateGame"
          type: array
        DfsSlatePlayers:
          items:
            $ref: "#/components/schemas/DfsSlatePlayer"
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      properties:
        Game:
          $ref: "#/components/schemas/Schedule"
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        ScoreID:
          nullable: true
          type: integer
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      properties:
        FantasyDefenseProjectionStatID:
          nullable: true
          type: integer
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    FantasyDefenseGame:
      properties:
        AssistedTackles:
          nullable: false
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DefensiveTouchdowns:
          nullable: true
          type: number
        DraftKingsFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsKickerFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsSalary:
          nullable: true
          type: integer
        DraftKingsTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        DraftKingsWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelSalary:
          nullable: true
          type: integer
        FanDuelTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FanDuelWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDefenseID:
          nullable: true
          type: integer
        FantasyDraftFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftKickerFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftQuarterbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftRunningbackFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyDraftTightEndFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyDraftWideReceiverFantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsAllowed:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FourthDownAttempts:
          nullable: true
          type: number
        FourthDownConversions:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        GameKey:
          nullable: true
          type: string
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
[...]
