swagger: '2.0'
info:
  version: '2015-12-08'
  x-release: v4
  title: AWS Certificate Manager
  description: '<fullname>AWS Certificate Manager</fullname> <p>Welcome to the AWS Certificate Manager (ACM) API documentation.</p> <p>You can use ACM to manage SSL/TLS certificates for your AWS-based websites and applications. For general information about using ACM, see the <a href="http://docs.aws.amazon.com/acm/latest/userguide/"> <i>AWS Certificate Manager User Guide</i> </a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: acm
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/acm-2015-12-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/acm/'
host: acm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToCertificate
      description: '<p>Adds one or more tags to an ACM Certificate. Tags are labels that you can use to identify and organize your AWS resources. Each tag consists of a <code>key</code> and an optional <code>value</code>. You specify the certificate on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. </p> <p>You can apply a tag to just one certificate if you want to identify a specific characteristic of that certificate, or you can apply the same tag to multiple certificates if you want to filter for a common relationship among those certificates. Similarly, you can apply the same tag to multiple resources if you want to specify a relationship among those resources. For example, you can add the same tag to an ACM Certificate and an Elastic Load Balancing load balancer to indicate that they are both used by the same website. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/tags.html">Tagging ACM Certificates</a>. </p> <p>To remove one or more tags, use the <a>RemoveTagsFromCertificate</a> action. To view all of the tags that have been applied to the certificate, use the <a>ListTagsForCertificate</a> action. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '483':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCertificate':
    post:
      operationId: DeleteCertificate
      description: '<p>Deletes a certificate and its associated private key. If this action succeeds, the certificate no longer appears in the list that can be displayed by calling the <a>ListCertificates</a> action or be retrieved by calling the <a>GetCertificate</a> action. The certificate will not be available for use by AWS services integrated with ACM. </p> <note> <p>You cannot delete an ACM Certificate that is being used by another AWS service. To delete a certificate that is in use, the certificate association must first be removed.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCertificate':
    post:
      operationId: DescribeCertificate
      description: Returns detailed metadata about the specified ACM Certificate.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCertificateResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetCertificate':
    post:
      operationId: GetCertificate
      description: 'Retrieves a certificate specified by an ARN and its certificate chain . The chain is an ordered list of certificates that contains the end entity ertificate, intermediate certificates of subordinate CAs, and the root certificate in that order. The certificate and certificate chain are base64 encoded. If you want to decode the certificate to see the individual fields, you can use OpenSSL.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCertificateResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: RequestInProgressException
          schema:
            $ref: '#/definitions/RequestInProgressException'
        '482':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ImportCertificate':
    post:
      operationId: ImportCertificate
      description: '<p>Imports a certificate into AWS Certificate Manager (ACM) to use with services that are integrated with ACM. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-services.html">Integrated Services</a>. </p> <note> <p>ACM does not provide <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a> for certificates that you import.</p> </note> <p>For more information about importing certificates into ACM, including the differences between certificates that you import and those that ACM provides, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html">Importing Certificates</a> in the <i>AWS Certificate Manager User Guide</i>. </p> <p>In general, you can import almost any valid certificate. However, services integrated with ACM allow only certificate types they support to be associated with their resources. The following guidelines are also important:</p> <ul> <li> <p>You must enter the private key that matches the certificate you are importing.</p> </li> <li> <p>The private key must be unencrypted. You cannot import a private key that is protected by a password or a passphrase.</p> </li> <li> <p>If the certificate you are importing is not self-signed, you must enter its certificate chain.</p> </li> <li> <p>If a certificate chain is included, the issuer must be the subject of one of the certificates in the chain.</p> </li> <li> <p>The certificate, private key, and certificate chain must be PEM-encoded.</p> </li> <li> <p>The current time must be between the <code>Not Before</code> and <code>Not After</code> certificate fields.</p> </li> <li> <p>The <code>Issuer</code> field must not be empty.</p> </li> <li> <p>The OCSP authority URL must not exceed 1000 characters.</p> </li> <li> <p>To import a new certificate, omit the <code>CertificateArn</code> field. Include this field only when you want to replace a previously imported certificate.</p> </li> <li> <p>When you import a certificate by using the CLI or one of the SDKs, you must specify the certificate, certificate chain, and private key parameters as file names preceded by <code>file://</code>. For example, you can specify a certificate saved in the <code>C:\temp</code> folder as <code>C:\temp\certificate_to_import.pem</code>. If you are making an HTTP or HTTPS Query request, include these parameters as BLOBs. </p> </li> </ul> <p>This operation returns the <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Name (ARN)</a> of the imported certificate.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportCertificateResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListCertificates':
    post:
      operationId: ListCertificates
      description: 'Retrieves a list of certificate ARNs and domain names. You can request that only certificates that match a specific status be listed. You can also filter by specific attributes of the certificate. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCertificatesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCertificatesRequest'
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForCertificate':
    post:
      operationId: ListTagsForCertificate
      description: 'Lists the tags that have been applied to the ACM Certificate. Use the certificate''s Amazon Resource Name (ARN) to specify the certificate. To add a tag to an ACM Certificate, use the <a>AddTagsToCertificate</a> action. To delete a tag, use the <a>RemoveTagsFromCertificate</a> action. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForCertificateResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromCertificate':
    post:
      operationId: RemoveTagsFromCertificate
      description: '<p>Remove one or more tags from an ACM Certificate. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this function, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value. </p> <p>To add tags to a certificate, use the <a>AddTagsToCertificate</a> action. To view all of the tags that have been applied to a specific ACM Certificate, use the <a>ListTagsForCertificate</a> action. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RequestCertificate':
    post:
      operationId: RequestCertificate
      description: '<p>Requests an ACM Certificate for use with other AWS services. To request an ACM Certificate, you must specify the fully qualified domain name (FQDN) for your site in the <code>DomainName</code> parameter. You can also specify additional FQDNs in the <code>SubjectAlternativeNames</code> parameter if users can reach your site by using other names. </p> <p>For each domain name you specify, email is sent to the domain owner to request approval to issue the certificate. Email is sent to three registered contact addresses in the WHOIS database and to five common system administration addresses formed from the <code>DomainName</code> you enter or the optional <code>ValidationDomain</code> parameter. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate.html">Validate Domain Ownership</a>. </p> <p>After receiving approval from the domain owner, the ACM Certificate is issued. For more information, see the <a href="http://docs.aws.amazon.com/acm/latest/userguide/">AWS Certificate Manager User Guide</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RequestCertificateResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: InvalidDomainValidationOptionsException
          schema:
            $ref: '#/definitions/InvalidDomainValidationOptionsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RequestCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResendValidationEmail':
    post:
      operationId: ResendValidationEmail
      description: 'Resends the email that requests domain ownership validation. The domain owner or an authorized representative must approve the ACM Certificate before it can be issued. The certificate can be approved by clicking a link in the mail to navigate to the Amazon certificate approval website and then clicking <b>I Approve</b>. However, the validation email can be blocked by spam filters. Therefore, if you do not receive the original mail, you can request that the mail be resent within 72 hours of requesting the ACM Certificate. If more than 72 hours have elapsed since your original request or since your last attempt to resend validation mail, you must request a new certificate. For more information about setting up your contact email addresses, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/setup-email.html">Configure Email for your Domain</a>. '
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidStateException
          schema:
            $ref: '#/definitions/InvalidStateException'
        '482':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '483':
          description: InvalidDomainValidationOptionsException
          schema:
            $ref: '#/definitions/InvalidDomainValidationOptionsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResendValidationEmailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsToCertificateRequest:
    type: object
    required:
      - CertificateArn
      - Tags
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the ACM Certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The key-value pair that defines the tag. The tag value is optional.
  Arn:
    type: string
    pattern: 'arn:[\w+=/,.@-]+:[\w+=/,.@-]+:[\w+=/,.@-]*:[0-9]+:[\w+=,.@-]+(/[\w+=,.@-]+)*'
    minLength: 20
    maxLength: 2048
  CertificateBody:
    type: string
    pattern: '-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
    minLength: 1
    maxLength: 32768
  CertificateBodyBlob:
    type: string
    minLength: 1
    maxLength: 32768
  CertificateChain:
    type: string
    pattern: '(-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}\u000D?\u000A)*-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
    minLength: 1
    maxLength: 2097152
  CertificateChainBlob:
    type: string
    minLength: 1
    maxLength: 2097152
  CertificateDetail:
    type: object
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: 'The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.'
      DomainName:
        $ref: '#/definitions/DomainNameString'
        description: 'The fully qualified domain name for the certificate, such as www.example.com or example.com.'
      SubjectAlternativeNames:
        $ref: '#/definitions/DomainList'
        description: 'One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. '
      DomainValidationOptions:
        $ref: '#/definitions/DomainValidationList'
        description: 'Contains information about the initial validation of each domain name that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>. '
      Serial:
        $ref: '#/definitions/String'
        description: The serial number of the certificate.
      Subject:
        $ref: '#/definitions/String'
        description: The name of the entity that is associated with the public key contained in the certificate.
      Issuer:
        $ref: '#/definitions/String'
        description: The name of the certificate authority that issued and signed the certificate.
      CreatedAt:
        $ref: '#/definitions/TStamp'
        description: 'The time at which the certificate was requested. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. '
      IssuedAt:
        $ref: '#/definitions/TStamp'
        description: 'The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. '
      ImportedAt:
        $ref: '#/definitions/TStamp'
        description: 'The date and time at which the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. '
      Status:
        $ref: '#/definitions/CertificateStatus'
        description: The status of the certificate.
      RevokedAt:
        $ref: '#/definitions/TStamp'
        description: 'The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. '
      RevocationReason:
        $ref: '#/definitions/RevocationReason'
        description: 'The reason the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. '
      NotBefore:
        $ref: '#/definitions/TStamp'
        description: The time before which the certificate is not valid.
      NotAfter:
        $ref: '#/definitions/TStamp'
        description: The time after which the certificate is not valid.
      KeyAlgorithm:
        $ref: '#/definitions/KeyAlgorithm'
        description: The algorithm that was used to generate the public-private key pair.
      SignatureAlgorithm:
        $ref: '#/definitions/String'
        description: The algorithm that was used to sign the certificate.
      InUseBy:
        $ref: '#/definitions/InUseList'
        description: 'A list of ARNs for the AWS resources that are using the certificate. A certificate can be used by multiple AWS resources. '
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'The reason the certificate request failed. This value exists only when the certificate status is <code>FAILED</code>. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/troubleshooting.html#troubleshooting-failed">Certificate Request Failed</a> in the <i>AWS Certificate Manager User Guide</i>. '
      Type:
        $ref: '#/definitions/CertificateType'
        description: 'The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html">Importing Certificates</a> in the <i>AWS Certificate Manager User Guide</i>. '
      RenewalSummary:
        $ref: '#/definitions/RenewalSummary'
        description: 'Contains information about the status of ACM''s <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a> for the certificate. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.'
      KeyUsages:
        $ref: '#/definitions/KeyUsageList'
        description: 'A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.'
      ExtendedKeyUsages:
        $ref: '#/definitions/ExtendedKeyUsageList'
        description: 'Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). '
    description: 'Contains metadata about an ACM certificate. This structure is returned in the response to a <a>DescribeCertificate</a> request. '
  CertificateStatus:
    type: string
    enum:
      - PENDING_VALIDATION
      - ISSUED
      - INACTIVE
      - EXPIRED
      - VALIDATION_TIMED_OUT
      - REVOKED
      - FAILED
  CertificateStatuses:
    type: array
    items:
      $ref: '#/definitions/CertificateStatus'
  CertificateSummary:
    type: object
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>Amazon Resource Name (ARN) of the certificate. This is of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>'
      DomainName:
        $ref: '#/definitions/DomainNameString'
        description: 'Fully qualified domain name (FQDN), such as www.example.com or example.com, for the certificate.'
    description: 'This structure is returned in the response object of <a>ListCertificates</a> action. '
  CertificateSummaryList:
    type: array
    items:
      $ref: '#/definitions/CertificateSummary'
  CertificateType:
    type: string
    enum:
      - IMPORTED
      - AMAZON_ISSUED
  DeleteCertificateRequest:
    type: object
    required:
      - CertificateArn
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the ACM Certificate to be deleted. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>'
  DescribeCertificateRequest:
    type: object
    required:
      - CertificateArn
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>The Amazon Resource Name (ARN) of the ACM Certificate. The ARN must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>'
  DescribeCertificateResponse:
    type: object
    properties:
      Certificate:
        $ref: '#/definitions/CertificateDetail'
        description: Metadata about an ACM certificate.
  DomainList:
    type: array
    items:
      $ref: '#/definitions/DomainNameString'
    minItems: 1
    maxItems: 100
  DomainNameString:
    type: string
    pattern: '^(\*\.)?(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$'
    minLength: 1
    maxLength: 253
  DomainStatus:
    type: string
    enum:
      - PENDING_VALIDATION
      - SUCCESS
      - FAILED
  DomainValidation:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainNameString'
        description: 'A fully qualified domain name (FQDN) in the certificate. For example, <code>www.example.com</code> or <code>example.com</code>. '
      ValidationEmails:
        $ref: '#/definitions/ValidationEmailList'
        description: A list of email addresses that ACM used to send domain validation emails.
      ValidationDomain:
        $ref: '#/definitions/DomainNameString'
        description: The domain name that ACM used to send domain validation emails.
      ValidationStatus:
        $ref: '#/definitions/DomainStatus'
        description: '<p>The validation status of the domain name. This can be one of the following values:</p> <ul> <li> <p> <code>PENDING_VALIDATION</code> </p> </li> <li> <p> <code/>SUCCESS</p> </li> <li> <p> <code/>FAILED</p> </li> </ul>'
      ResourceRecord:
        $ref: '#/definitions/ResourceRecord'
        description: 'Contains the CNAME record that you add to your DNS database for domain validation. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html">Use DNS to Validate Domain Ownership</a>.'
      ValidationMethod:
        $ref: '#/definitions/ValidationMethod'
        description: Specifies the domain validation method.
    description: Contains information about the validation of each domain name in the certificate.
  DomainValidationList:
    type: array
    items:
      $ref: '#/definitions/DomainValidation'
    minItems: 1
    maxItems: 1000
  DomainValidationOption:
    type: object
    required:
      - DomainName
      - ValidationDomain
    properties:
      DomainName:
        $ref: '#/definitions/DomainNameString'
        description: A fully qualified domain name (FQDN) in the certificate request.
      ValidationDomain:
        $ref: '#/definitions/DomainNameString'
        description: '<p>The domain name that you want ACM to use to send you validation emails. This domain name is the suffix of the email addresses that you want ACM to use. This must be the same as the <code>DomainName</code> value or a superdomain of the <code>DomainName</code> value. For example, if you request a certificate for <code>testing.example.com</code>, you can specify <code>example.com</code> for this value. In that case, ACM sends domain validation emails to the following five addresses:</p> <ul> <li> <p>admin@example.com</p> </li> <li> <p>administrator@example.com</p> </li> <li> <p>hostmaster@example.com</p> </li> <li> <p>postmaster@example.com</p> </li> <li> <p>webmaster@example.com</p> </li> </ul>'
    description: Contains information about the domain names that you want ACM to use to send you emails that enable you to validate domain ownership.
  DomainValidationOptionList:
    type: array
    items:
      $ref: '#/definitions/DomainValidationOption'
    minItems: 1
    maxItems: 100
  ExtendedKeyUsage:
    type: object
    properties:
      Name:
        $ref: '#/definitions/ExtendedKeyUsageName'
        description: The name of an Extended Key Usage value.
      OID:
        $ref: '#/definitions/String'
        description: <p>An object identifier (OID) for the extension value. OIDs are strings of numbers separated by periods. The following OIDs are defined in RFC 3280 and RFC 5280. </p> <ul> <li> <p> <code>1.3.6.1.5.5.7.3.1 (TLS_WEB_SERVER_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.2 (TLS_WEB_CLIENT_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.3 (CODE_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.4 (EMAIL_PROTECTION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.8 (TIME_STAMPING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.9 (OCSP_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.5 (IPSEC_END_SYSTEM)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.6 (IPSEC_TUNNEL)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.7 (IPSEC_USER)</code> </p> </li> </ul>
    description: 'The Extended Key Usage X.509 v3 extension defines one or more purposes for which the public key can be used. This is in addition to or in place of the basic purposes specified by the Key Usage extension. '
  ExtendedKeyUsageFilterList:
    type: array
    items:
      $ref: '#/definitions/ExtendedKeyUsageName'
  ExtendedKeyUsageList:
    type: array
    items:
      $ref: '#/definitions/ExtendedKeyUsage'
  ExtendedKeyUsageName:
    type: string
    enum:
      - TLS_WEB_SERVER_AUTHENTICATION
      - TLS_WEB_CLIENT_AUTHENTICATION
      - CODE_SIGNING
      - EMAIL_PROTECTION
      - TIME_STAMPING
      - OCSP_SIGNING
      - IPSEC_END_SYSTEM
      - IPSEC_TUNNEL
      - IPSEC_USER
      - ANY
      - NONE
      - CUSTOM
  FailureReason:
    type: string
    enum:
      - NO_AVAILABLE_CONTACTS
      - ADDITIONAL_VERIFICATION_REQUIRED
      - DOMAIN_NOT_ALLOWED
      - INVALID_PUBLIC_DOMAIN
      - CAA_ERROR
      - OTHER
  Filters:
    type: object
    properties:
      extendedKeyUsage:
        $ref: '#/definitions/ExtendedKeyUsageFilterList'
        description: Specify one or more <a>ExtendedKeyUsage</a> extension values.
      keyUsage:
        $ref: '#/definitions/KeyUsageFilterList'
        description: Specify one or more <a>KeyUsage</a> extension values.
      keyTypes:
        $ref: '#/definitions/KeyAlgorithmList'
        description: Specify one or more algorithms that can be used to generate key pairs.
    description: 'This structure can be used in the <a>ListCertificates</a> action to filter the output of the certificate list. '
  GetCertificateRequest:
    type: object
    required:
      - CertificateArn
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains a certificate ARN in the following format:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>'
  GetCertificateResponse:
    type: object
    properties:
      Certificate:
        $ref: '#/definitions/CertificateBody'
        description: String that contains the ACM Certificate represented by the ARN specified at input.
      CertificateChain:
        $ref: '#/definitions/CertificateChain'
        description: The certificate chain that contains the root certificate issued by the certificate authority (CA).
  IdempotencyToken:
    type: string
    pattern: \w+
    minLength: 1
    maxLength: 32
  ImportCertificateRequest:
    type: object
    required:
      - Certificate
      - PrivateKey
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: 'The <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Name (ARN)</a> of an imported certificate to replace. To import a new certificate, omit this field. '
      Certificate:
        $ref: '#/definitions/CertificateBodyBlob'
        description: The certificate to import.
      PrivateKey:
        $ref: '#/definitions/PrivateKeyBlob'
        description: The private key that matches the public key in the certificate.
      CertificateChain:
        $ref: '#/definitions/CertificateChainBlob'
        description: The PEM encoded certificate chain.
  ImportCertificateResponse:
    type: object
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: 'The <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Name (ARN)</a> of the imported certificate.'
  InUseList:
    type: array
    items:
      $ref: '#/definitions/String'
  InvalidArnException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: The requested Amazon Resource Name (ARN) does not refer to an existing resource.
  InvalidDomainValidationOptionsException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: One or more values in the <a>DomainValidationOption</a> structure is incorrect.
  InvalidStateException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: 'Processing has reached an invalid state. For example, this exception can occur if the specified domain is not using email validation, or the current certificate status does not permit the requested operation. See the exception message returned by ACM to determine which state is not valid.'
  InvalidTagException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: 'One or both of the values that make up the key-value pair is not valid. For example, you cannot specify a tag value that begins with <code>aws:</code>.'
  KeyAlgorithm:
    type: string
    enum:
      - RSA_2048
      - RSA_1024
      - RSA_4096
      - EC_prime256v1
      - EC_secp384r1
      - EC_secp521r1
  KeyAlgorithmList:
    type: array
    items:
      $ref: '#/definitions/KeyAlgorithm'
  KeyUsage:
    type: object
    properties:
      Name:
        $ref: '#/definitions/KeyUsageName'
        description: A string value that contains a Key Usage extension name.
    description: The Key Usage X.509 v3 extension defines the purpose of the public key contained in the certificate.
  KeyUsageFilterList:
    type: array
    items:
      $ref: '#/definitions/KeyUsageName'
  KeyUsageList:
    type: array
    items:
      $ref: '#/definitions/KeyUsage'
  KeyUsageName:
    type: string
    enum:
      - DIGITAL_SIGNATURE
      - NON_REPUDIATION
      - KEY_ENCIPHERMENT
      - DATA_ENCIPHERMENT
      - KEY_AGREEMENT
      - CERTIFICATE_SIGNING
      - CRL_SIGNING
      - ENCIPHER_ONLY
      - DECIPHER_ONLY
      - ANY
      - CUSTOM
  LimitExceededException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: 'An ACM limit has been exceeded. For example, you may have input more domains than are allowed or you''ve requested too many certificates for your account. See the exception message returned by ACM to determine which limit you have violated. For more information about ACM limits, see the <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html">Limits</a> topic.'
  ListCertificatesRequest:
    type: object
    properties:
      CertificateStatuses:
        $ref: '#/definitions/CertificateStatuses'
        description: Filter the certificate list by status value.
      Includes:
        $ref: '#/definitions/Filters'
        description: '<p>Filter the certificate list by one or more of the following values. For more information, see the <a>Filters</a> structure.</p> <ul> <li> <p>extendedKeyUsage</p> </li> <li> <p>keyUsage</p> </li> <li> <p>keyTypes</p> </li> </ul>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextToken</code> from the response you just received.
      MaxItems:
        $ref: '#/definitions/MaxItems'
        description: 'Use this parameter when paginating results to specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>NextToken</code> element is sent in the response. Use this <code>NextToken</code> value in a subsequent request to retrieve additional items.'
  ListCertificatesResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When the list is truncated, this value is present and contains the value to use for the <code>NextToken</code> parameter in a subsequent pagination request.'
      CertificateSummaryList:
        $ref: '#/definitions/CertificateSummaryList'
        description: A list of ACM Certificates.
  ListTagsForCertificateRequest:
    type: object
    required:
      - CertificateArn
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the ACM Certificate for which you want to list the tags. This must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>'
  ListTagsForCertificateResponse:
    type: object
    properties:
      Tags:
        $ref: '#/definitions/TagList'
        description: The key-value pairs that define the applied tags.
  MaxItems:
    type: integer
    minimum: 1
    maximum: 1000
  NextToken:
    type: string
    pattern: '[\u0009\u000A\u000D\u0020-\u00FF]*'
    minLength: 1
    maxLength: 320
  PrivateKeyBlob:
    type: string
    minLength: 1
    maxLength: 524288
    format: password
  RecordType:
    type: string
    enum:
      - CNAME
  RemoveTagsFromCertificateRequest:
    type: object
    required:
      - CertificateArn
      - Tags
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the ACM Certificate with one or more tags that you want to remove. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>. </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The key-value pair that defines the tag to remove.
  RenewalStatus:
    type: string
    enum:
      - PENDING_AUTO_RENEWAL
      - PENDING_VALIDATION
      - SUCCESS
      - FAILED
  RenewalSummary:
    type: object
    required:
      - RenewalStatus
      - DomainValidationOptions
    properties:
      RenewalStatus:
        $ref: '#/definitions/RenewalStatus'
        description: 'The status of ACM''s <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a> of the certificate.'
      DomainValidationOptions:
        $ref: '#/definitions/DomainValidationList'
        description: 'Contains information about the validation of each domain name in the certificate, as it pertains to ACM''s <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a>. This is different from the initial validation that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.'
    description: 'Contains information about the status of ACM''s <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html">managed renewal</a> for the certificate. This structure exists only when the certificate type is <code>AMAZON_ISSUED</code>.'
  RequestCertificateRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainNameString'
        description: '<p> Fully qualified domain name (FQDN), such as www.example.com, of the site that you want to secure with an ACM Certificate. Use an asterisk (*) to create a wildcard certificate that protects several sites in the same domain. For example, *.example.com protects www.example.com, site.example.com, and images.example.com. </p> <p> The first domain name you enter cannot exceed 63 octets, including periods. Each subsequent Subject Alternative Name (SAN), however, can be up to 253 octets in length. </p>'
      ValidationMethod:
        $ref: '#/definitions/ValidationMethod'
        description: The method you want to use to validate your domain.
      SubjectAlternativeNames:
        $ref: '#/definitions/DomainList'
        description: '<p>Additional FQDNs to be included in the Subject Alternative Name extension of the ACM Certificate. For example, add the name www.example.net to a certificate for which the <code>DomainName</code> field is www.example.com if users can reach your site by using either name. The maximum number of domain names that you can add to an ACM Certificate is 100. However, the initial limit is 10 domain names. If you need more than 10 names, you must request a limit increase. For more information, see <a href="http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html">Limits</a>.</p> <p> The maximum length of a SAN DNS name is 253 octets. The name is made up of multiple labels separated by periods. No label can be longer than 63 octets. Consider the following examples: </p> <ul> <li> <p> <code>(63 octets).(63 octets).(63 octets).(61 octets)</code> is legal because the total length is 253 octets (63+1+63+1+63+1+61) and no label exceeds 63 octets.</p> </li> <li> <p> <code>(64 octets).(63 octets).(63 octets).(61 octets)</code> is not legal because the total length exceeds 253 octets (64+1+63+1+63+1+61) and the first label exceeds 63 octets.</p> </li> <li> <p> <code>(63 octets).(63 octets).(63 octets).(62 octets)</code> is not legal because the total length of the DNS name (63+1+63+1+63+1+62) exceeds 253 octets.</p> </li> </ul>'
      IdempotencyToken:
        $ref: '#/definitions/IdempotencyToken'
        description: 'Customer chosen string that can be used to distinguish between calls to <code>RequestCertificate</code>. Idempotency tokens time out after one hour. Therefore, if you call <code>RequestCertificate</code> multiple times with the same idempotency token within one hour, ACM recognizes that you are requesting only one certificate and will issue only one. If you change the idempotency token for each call, ACM recognizes that you are requesting multiple certificates.'
      DomainValidationOptions:
        $ref: '#/definitions/DomainValidationOptionList'
        description: The domain name that you want ACM to use to send you emails so taht your can validate domain ownership.
  RequestCertificateResponse:
    type: object
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the issued certificate. This must be of the form:</p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>'
  RequestInProgressException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: The certificate request is in process and the certificate in your account has not yet been issued.
  ResendValidationEmailRequest:
    type: object
    required:
      - CertificateArn
      - Domain
      - ValidationDomain
    properties:
      CertificateArn:
        $ref: '#/definitions/Arn'
        description: '<p>String that contains the ARN of the requested certificate. The certificate ARN is generated and returned by the <a>RequestCertificate</a> action as soon as the request is made. By default, using this parameter causes email to be sent to all top-level domains you specified in the certificate request. The ARN must be of the form: </p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>'
      Domain:
        $ref: '#/definitions/DomainNameString'
        description: The fully qualified domain name (FQDN) of the certificate that needs to be validated.
      ValidationDomain:
        $ref: '#/definitions/DomainNameString'
        description: '<p>The base validation domain that will act as the suffix of the email addresses that are used to send the emails. This must be the same as the <code>Domain</code> value or a superdomain of the <code>Domain</code> value. For example, if you requested a certificate for <code>site.subdomain.example.com</code> and specify a <b>ValidationDomain</b> of <code>subdomain.example.com</code>, ACM sends email to the domain registrant, technical contact, and administrative contact in WHOIS and the following five addresses:</p> <ul> <li> <p>admin@subdomain.example.com</p> </li> <li> <p>administrator@subdomain.example.com</p> </li> <li> <p>hostmaster@subdomain.example.com</p> </li> <li> <p>postmaster@subdomain.example.com</p> </li> <li> <p>webmaster@subdomain.example.com</p> </li> </ul>'
  ResourceInUseException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: The certificate is in use by another AWS service in the caller's account. Remove the association and try again.
  ResourceNotFoundException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: 'The specified certificate cannot be found in the caller''s account, or the caller''s account cannot be found.'
  ResourceRecord:
    type: object
    required:
      - Name
      - Type
      - Value
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the DNS record to create in your domain. This is supplied by ACM.
      Type:
        $ref: '#/definitions/RecordType'
        description: The type of DNS record. Currently this can be <code>CNAME</code>.
      Value:
        $ref: '#/definitions/String'
        description: The value of the CNAME record to add to your DNS database. This is supplied by ACM.
    description: 'Contains a DNS record value that you can use to can use to validate ownership or control of a domain. This is used by the <a>DescribeCertificate</a> action. '
  RevocationReason:
    type: string
    enum:
      - UNSPECIFIED
      - KEY_COMPROMISE
      - CA_COMPROMISE
      - AFFILIATION_CHANGED
      - SUPERCEDED
      - CESSATION_OF_OPERATION
      - CERTIFICATE_HOLD
      - REMOVE_FROM_CRL
      - PRIVILEGE_WITHDRAWN
      - A_A_COMPROMISE
  String:
    type: string
  TStamp:
    type: string
    format: date-time
  Tag:
    type: object
    required:
      - Key
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      Value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    description: A key-value pair that identifies or specifies metadata about an ACM resource.
  TagKey:
    type: string
    pattern: '[\p{L}\p{Z}\p{N}_.:\/=+\-@]*'
    minLength: 1
    maxLength: 128
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
    minItems: 1
    maxItems: 50
  TagValue:
    type: string
    pattern: '[\p{L}\p{Z}\p{N}_.:\/=+\-@]*'
    minLength: 0
    maxLength: 256
  TooManyTagsException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
    description: The request contains too many tags. Try the request again with fewer tags.
  ValidationEmailList:
    type: array
    items:
      $ref: '#/definitions/String'
  ValidationMethod:
    type: string
    enum:
      - EMAIL
      - DNS
