openapi: 3.0.0
info:
  version: 2013-04-15
  x-release: v4
  title: AWS Support
  description: <fullname>Amazon Web Services Support</fullname> <p>The <i>Amazon Web Services Support API Reference</i> is intended for programmers who need detailed information about the Amazon Web Services Support operations and data types. You can use the API to manage your support cases programmatically. The Amazon Web Services Support API uses HTTP methods that return results in JSON format.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>You can also use the Amazon Web Services Support API to access features for <a href="http://aws.amazon.com/premiumsupport/trustedadvisor/">Trusted Advisor</a>. You can return a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks.</p> <p>You can manage your support cases with the following Amazon Web Services Support API operations:</p> <ul> <li> <p>The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create Amazon Web Services Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p>The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to Amazon Web Services Support cases.</p> </li> <li> <p>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return Amazon Web Service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation.</p> </li> </ul> <p>You can also use the Amazon Web Services Support API to call the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/">Trusted Advisor</a> in the <i>Amazon Web Services Support User Guide</i>.</p> <p>For authentication of requests, Amazon Web Services Support uses <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>.</p> <p>For more information about this service and the endpoints to use, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: support
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/support/
servers:
  - url: https://support.us-east-1.amazonaws.com
    variables: {}
    description: The general AWS Support multi-region endpoint
  - url: http://support.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
  - url: https://support.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  /#X-Amz-Target=AWSSupport_20130415.AddAttachmentsToSet:
    post:
      operationId: AddAttachmentsToSet
      description: <p>Adds one or more attachments to an attachment set. </p> <p>An attachment set is a temporary container for attachments that you add to a case or case communication. The set is available for 1 hour after it's created. The <code>expiryTime</code> returned in the response is when the set expires. </p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddAttachmentsToSetResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: AttachmentSetIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetIdNotFound"
        "482":
          description: AttachmentSetExpired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetExpired"
        "483":
          description: AttachmentSetSizeLimitExceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetSizeLimitExceeded"
        "484":
          description: AttachmentLimitExceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentLimitExceeded"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAttachmentsToSetRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.AddAttachmentsToSet
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.AddCommunicationToCase:
    post:
      operationId: AddCommunicationToCase
      description: <p>Adds additional customer communication to an Amazon Web Services Support case. Use the <code>caseId</code> parameter to identify the case to which to add communication. You can list a set of email addresses to copy on the communication by using the <code>ccEmailAddresses</code> parameter. The <code>communicationBody</code> value contains the text of the communication.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddCommunicationToCaseResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: CaseIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseIdNotFound"
        "482":
          description: AttachmentSetIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetIdNotFound"
        "483":
          description: AttachmentSetExpired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetExpired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddCommunicationToCaseRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.AddCommunicationToCase
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.CreateCase:
    post:
      operationId: CreateCase
      description: "<p>Creates a case in the Amazon Web Services Support Center. This operation is similar to how you create a case in the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> <p>The Amazon Web Services Support API doesn't support requesting service limit increases. You can submit a service limit increase in the following ways: </p> <ul> <li> <p>Submit a request from the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p>Use the Service Quotas <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\">RequestServiceQuotaIncrease</a> operation.</p> </li> </ul> <p>A successful <code>CreateCase</code> request returns an Amazon Web Services Support case number. You can use the <a>DescribeCases</a> operation and specify the case number to get existing Amazon Web Services Support cases. After you create a case, use the <a>AddCommunicationToCase</a> operation to add additional communication or attachments to an existing case.</p> <p>The <code>caseId</code> is separate from the <code>displayId</code> that appears in the <a href=\"https://console.aws.amazon.com/support\">Amazon Web Services Support Center</a>. Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCaseResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: CaseCreationLimitExceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseCreationLimitExceeded"
        "482":
          description: AttachmentSetIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetIdNotFound"
        "483":
          description: AttachmentSetExpired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentSetExpired"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCaseRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.CreateCase
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeAttachment:
    post:
      operationId: DescribeAttachment
      description: <p>Returns the attachment that has the specified ID. Attachments can include screenshots, error logs, or other files that describe your issue. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeAttachmentResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: DescribeAttachmentLimitExceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeAttachmentLimitExceeded"
        "482":
          description: AttachmentIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentIdNotFound"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeAttachmentRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeAttachment
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeCases:
    post:
      operationId: DescribeCases
      description: <p>Returns a list of cases that you specify by passing one or more case IDs. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter the cases by date. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> parameters to specify how much information to return.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a href="https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html">CaseDetails</a> data types.</p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request might return an error.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeCasesResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: CaseIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseIdNotFound"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeCasesRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeCases
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeCommunications:
    post:
      operationId: DescribeCommunications
      description: <p>Returns communications and attachments for one or more support cases. Use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a specific case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the results. Set <code>maxResults</code> to the number of cases that you want to display on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeCommunicationsResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: CaseIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseIdNotFound"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeCommunicationsRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeCommunications
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeServices:
    post:
      operationId: DescribeServices
      description: <p>Returns the current list of Amazon Web Services services and a list of service categories for each service. You then use service names and categories in your <a>CreateCase</a> requests. Each Amazon Web Services service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that appear in the <b>Service</b> and <b>Category</b> lists on the Amazon Web Services Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. The values in those fields don't necessarily match the service codes and categories returned by the <code>DescribeServices</code> operation. Always use the service codes and categories that the <code>DescribeServices</code> operation returns, so that you have the most recent set of service and category codes.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeServicesResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeServicesRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeServices
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeSeverityLevels:
    post:
      operationId: DescribeSeverityLevels
      description: <p>Returns the list of severity levels that you can assign to a support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type that you include for a <a>CreateCase</a> request.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeSeverityLevelsResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeSeverityLevelsRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeSeverityLevels
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses:
    post:
      operationId: DescribeTrustedAdvisorCheckRefreshStatuses
      description: <p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>Some checks are refreshed automatically, and you can't return their refresh statuses by using the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation. If you call this operation for these checks, you might see an <code>InvalidParameterValue</code> error.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeTrustedAdvisorCheckRefreshStatusesResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckResult:
    post:
      operationId: DescribeTrustedAdvisorCheckResult
      description: <p>Returns the results of the Trusted Advisor check that has the specified check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status</b> - The alert status of the check can be <code>ok</code> (green), <code>warning</code> (yellow), <code>error</code> (red), or <code>not_available</code>.</p> </li> <li> <p> <b>timestamp</b> - The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId</b> - The unique identifier for the check.</p> </li> </ul> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeTrustedAdvisorCheckResultResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeTrustedAdvisorCheckResultRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeTrustedAdvisorCheckResult
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries:
    post:
      operationId: DescribeTrustedAdvisorCheckSummaries
      description: <p>Returns the results for the Trusted Advisor check summaries for the check IDs that you specified. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeTrustedAdvisorCheckSummariesResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeTrustedAdvisorCheckSummariesRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorChecks:
    post:
      operationId: DescribeTrustedAdvisorChecks
      description: <p>Returns information about all available Trusted Advisor checks, including the name, ID, category, description, and metadata. You must specify a language code.</p> <p>The response contains a <a>TrustedAdvisorCheckDescription</a> object for each check. You must set the Amazon Web Services Region to us-east-1.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> <li> <p>The names and descriptions for Trusted Advisor checks are subject to change. We recommend that you specify the check ID in your code to uniquely identify a check.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeTrustedAdvisorChecksResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeTrustedAdvisorChecksRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.DescribeTrustedAdvisorChecks
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.RefreshTrustedAdvisorCheck:
    post:
      operationId: RefreshTrustedAdvisorCheck
      description: <p>Refreshes the Trusted Advisor check that you specify using the check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>Some checks are refreshed automatically. If you call the <code>RefreshTrustedAdvisorCheck</code> operation to refresh them, you might see the <code>InvalidParameterValue</code> error.</p> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTrustedAdvisorCheckResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTrustedAdvisorCheckRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.RefreshTrustedAdvisorCheck
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSSupport_20130415.ResolveCase:
    post:
      operationId: ResolveCase
      description: <p>Resolves a support case. This operation takes a <code>caseId</code> and returns the initial and final state of the case.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveCaseResponse"
        "480":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        "481":
          description: CaseIdNotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseIdNotFound"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveCaseRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSSupport_20130415.ResolveCase
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
components:
  parameters:
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
  schemas:
    AddAttachmentsToSetResponse:
      type: object
      properties:
        attachmentSetId:
          allOf:
            - $ref: "#/components/schemas/AttachmentSetId"
            - description: The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.
        expiryTime:
          allOf:
            - $ref: "#/components/schemas/ExpiryTime"
            - description: The time and date when the attachment set expires.
      description: The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.
    AddAttachmentsToSetRequest:
      type: object
      required:
        - attachments
      title: AddAttachmentsToSetRequest
      properties:
        attachmentSetId:
          allOf:
            - $ref: "#/components/schemas/AttachmentSetId"
            - description: The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.
        attachments:
          allOf:
            - $ref: "#/components/schemas/Attachments"
            - description: <p>One or more attachments to add to the set. You can add up to three attachments per set. The size limit is 5 MB per attachment.</p> <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify the contents of the attachment file. In the previous request syntax, the value for <code>data</code> appear as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>
    InternalServerError: {}
    AttachmentSetIdNotFound: {}
    AttachmentSetExpired: {}
    AttachmentSetSizeLimitExceeded: {}
    AttachmentLimitExceeded: {}
    AddCommunicationToCaseResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: "#/components/schemas/Result"
            - description: True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.
      description: The result of the <a>AddCommunicationToCase</a> operation.
    AddCommunicationToCaseRequest:
      type: object
      required:
        - communicationBody
      title: AddCommunicationToCaseRequest
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
        communicationBody:
          allOf:
            - $ref: "#/components/schemas/CommunicationBody"
            - description: The body of an email communication to add to the support case.
        ccEmailAddresses:
          allOf:
            - $ref: "#/components/schemas/CcEmailAddressList"
            - description: The email addresses in the CC line of an email to be added to the support case.
        attachmentSetId:
          allOf:
            - $ref: "#/components/schemas/AttachmentSetId"
            - description: "The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> "
    CaseIdNotFound: {}
    CreateCaseResponse:
      type: object
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string in the following format: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
      description: The support case ID returned by a successful completion of the <a>CreateCase</a> operation.
    CreateCaseRequest:
      type: object
      required:
        - subject
        - communicationBody
      title: CreateCaseRequest
      properties:
        subject:
          allOf:
            - $ref: "#/components/schemas/Subject"
            - description: The title of the support case. The title appears in the <b>Subject</b> field on the Amazon Web Services Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.
        serviceCode:
          allOf:
            - $ref: "#/components/schemas/ServiceCode"
            - description: The code for the Amazon Web Services service. You can use the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code> values.
        severityCode:
          allOf:
            - $ref: "#/components/schemas/SeverityCode"
            - description: <p>A value that indicates the urgency of the case. This value determines the response time according to your service level agreement with Amazon Web Services Support. You can use the <a>DescribeSeverityLevels</a> operation to get the possible values for <code>severityCode</code>. </p> <p>For more information, see <a>SeverityLevel</a> and <a href="https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity">Choosing a Severity</a> in the <i>Amazon Web Services Support User Guide</i>.</p> <note> <p>The availability of severity levels depends on the support plan for the Amazon Web Services account.</p> </note>
        categoryCode:
          allOf:
            - $ref: "#/components/schemas/CategoryCode"
            - description: The category of problem for the support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each Amazon Web Services service defines its own set of category codes.
        communicationBody:
          allOf:
            - $ref: "#/components/schemas/CommunicationBody"
            - description: The communication body text that describes the issue. This text appears in the <b>Description</b> field on the Amazon Web Services Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.
        ccEmailAddresses:
          allOf:
            - $ref: "#/components/schemas/CcEmailAddressList"
            - description: 'A list of email addresses that Amazon Web Services Support copies on case correspondence. Amazon Web Services Support identifies the account that creates the case when you specify your Amazon Web Services credentials in an HTTP POST method or use the <a href="http://aws.amazon.com/tools/">Amazon Web Services SDKs</a>. '
        language:
          allOf:
            - $ref: "#/components/schemas/Language"
            - description: The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.
        issueType:
          allOf:
            - $ref: "#/components/schemas/IssueType"
            - description: The type of issue for the case. You can specify <code>customer-service</code> or <code>technical</code>. If you don't specify a value, the default is <code>technical</code>.
        attachmentSetId:
          allOf:
            - $ref: "#/components/schemas/AttachmentSetId"
            - description: The ID of a set of one or more attachments for the case. Create the set by using the <a>AddAttachmentsToSet</a> operation.
    CaseCreationLimitExceeded: {}
    DescribeAttachmentResponse:
      type: object
      properties:
        attachment:
          allOf:
            - $ref: "#/components/schemas/Attachment"
            - description: <p>This object includes the attachment content and file name.</p> <p>In the previous response syntax, the value for the <code>data</code> parameter appears as <code>blob</code>, which is represented as a base64-encoded string. The value for <code>fileName</code> is the name of the attachment, such as <code>troubleshoot-screenshot.png</code>.</p>
      description: The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.
    DescribeAttachmentRequest:
      type: object
      required:
        - attachmentId
      title: DescribeAttachmentRequest
      properties:
        attachmentId:
          allOf:
            - $ref: "#/components/schemas/AttachmentId"
            - description: The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.
    DescribeAttachmentLimitExceeded: {}
    AttachmentIdNotFound: {}
    DescribeCasesResponse:
      type: object
      properties:
        cases:
          allOf:
            - $ref: "#/components/schemas/CaseList"
            - description: The details for the cases that match the request.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/NextToken"
            - description: A resumption point for pagination.
      description: Returns an array of <a href="https://docs.aws.amazon.com/awssupport/latest/APIReference/API_CaseDetails.html">CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.
    DescribeCasesRequest:
      type: object
      title: DescribeCasesRequest
      properties:
        caseIdList:
          allOf:
            - $ref: "#/components/schemas/CaseIdList"
            - description: A list of ID numbers of the support cases you want returned. The maximum number of cases is 100.
        displayId:
          allOf:
            - $ref: "#/components/schemas/DisplayId"
            - description: The ID displayed for a case in the Amazon Web Services Support Center user interface.
        afterTime:
          allOf:
            - $ref: "#/components/schemas/AfterTime"
            - description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
        beforeTime:
          allOf:
            - $ref: "#/components/schemas/BeforeTime"
            - description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
        includeResolvedCases:
          allOf:
            - $ref: "#/components/schemas/IncludeResolvedCases"
            - description: Specifies whether to include resolved support cases in the <code>DescribeCases</code> response. By default, resolved cases aren't included.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/NextToken"
            - description: A resumption point for pagination.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResults"
            - description: The maximum number of results to return before paginating.
        language:
          allOf:
            - $ref: "#/components/schemas/Language"
            - description: The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.
        includeCommunications:
          allOf:
            - $ref: "#/components/schemas/IncludeCommunications"
            - description: Specifies whether to include communications in the <code>DescribeCases</code> response. By default, communications are included.
    DescribeCommunicationsResponse:
      type: object
      properties:
        communications:
          allOf:
            - $ref: "#/components/schemas/CommunicationList"
            - description: The communications for the case.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/NextToken"
            - description: A resumption point for pagination.
      description: The communications returned by the <a>DescribeCommunications</a> operation.
    DescribeCommunicationsRequest:
      type: object
      required:
        - caseId
      title: DescribeCommunicationsRequest
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
        beforeTime:
          allOf:
            - $ref: "#/components/schemas/BeforeTime"
            - description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
        afterTime:
          allOf:
            - $ref: "#/components/schemas/AfterTime"
            - description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/NextToken"
            - description: A resumption point for pagination.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResults"
            - description: The maximum number of results to return before paginating.
    DescribeServicesResponse:
      type: object
      properties:
        services:
          allOf:
            - $ref: "#/components/schemas/ServiceList"
            - description: A JSON-formatted list of Amazon Web Services services.
      description: The list of Amazon Web Services services returned by the <a>DescribeServices</a> operation.
    DescribeServicesRequest:
      type: object
      title: DescribeServicesRequest
      properties:
        serviceCodeList:
          allOf:
            - $ref: "#/components/schemas/ServiceCodeList"
            - description: A JSON-formatted list of service codes available for Amazon Web Services services.
        language:
          allOf:
            - $ref: "#/components/schemas/Language"
            - description: The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.
    DescribeSeverityLevelsResponse:
      type: object
      properties:
        severityLevels:
          allOf:
            - $ref: "#/components/schemas/SeverityLevelsList"
            - description: The available severity levels for the support case. Available severity levels are defined by your service level agreement with Amazon Web Services.
      description: The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.
    DescribeSeverityLevelsRequest:
      type: object
      title: DescribeSeverityLevelsRequest
      properties:
        language:
          allOf:
            - $ref: "#/components/schemas/Language"
            - description: The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.
    DescribeTrustedAdvisorCheckRefreshStatusesResponse:
      type: object
      required:
        - statuses
      properties:
        statuses:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCheckRefreshStatusList"
            - description: The refresh status of the specified Trusted Advisor checks.
      description: The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.
    DescribeTrustedAdvisorCheckRefreshStatusesRequest:
      type: object
      required:
        - checkIds
      title: DescribeTrustedAdvisorCheckRefreshStatusesRequest
      properties:
        checkIds:
          allOf:
            - $ref: "#/components/schemas/StringList"
            - description: <p>The IDs of the Trusted Advisor checks to get the status.</p> <note> <p>If you specify the check ID of a check that is automatically refreshed, you might see an <code>InvalidParameterValue</code> error.</p> </note>
    DescribeTrustedAdvisorCheckResultResponse:
      type: object
      properties:
        result:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCheckResult"
            - description: The detailed results of the Trusted Advisor check.
      description: The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.
    DescribeTrustedAdvisorCheckResultRequest:
      type: object
      required:
        - checkId
      title: DescribeTrustedAdvisorCheckResultRequest
      properties:
        checkId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the Trusted Advisor check.
        language:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: <p>The ISO 639-1 code for the language that you want your check results to appear in.</p> <p>The Amazon Web Services Support API currently supports the following languages for Trusted Advisor:</p> <ul> <li> <p>Chinese, Simplified - <code>zh</code> </p> </li> <li> <p>Chinese, Traditional - <code>zh_TW</code> </p> </li> <li> <p>English - <code>en</code> </p> </li> <li> <p>French - <code>fr</code> </p> </li> <li> <p>German - <code>de</code> </p> </li> <li> <p>Indonesian - <code>id</code> </p> </li> <li> <p>Italian - <code>it</code> </p> </li> <li> <p>Japanese - <code>ja</code> </p> </li> <li> <p>Korean - <code>ko</code> </p> </li> <li> <p>Portuguese, Brazilian - <code>pt_BR</code> </p> </li> <li> <p>Spanish - <code>es</code> </p> </li> </ul>
      description: <p/>
    DescribeTrustedAdvisorCheckSummariesResponse:
      type: object
      required:
        - summaries
      properties:
        summaries:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCheckSummaryList"
            - description: The summary information for the requested Trusted Advisor checks.
      description: The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.
    DescribeTrustedAdvisorCheckSummariesRequest:
      type: object
      required:
        - checkIds
      title: DescribeTrustedAdvisorCheckSummariesRequest
      properties:
        checkIds:
          allOf:
            - $ref: "#/components/schemas/StringList"
            - description: The IDs of the Trusted Advisor checks.
    DescribeTrustedAdvisorChecksResponse:
      type: object
      required:
        - checks
      properties:
        checks:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCheckList"
            - description: Information about all available Trusted Advisor checks.
      description: Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.
    DescribeTrustedAdvisorChecksRequest:
      type: object
      required:
        - language
      title: DescribeTrustedAdvisorChecksRequest
      properties:
        language:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: <p>The ISO 639-1 code for the language that you want your checks to appear in.</p> <p>The Amazon Web Services Support API currently supports the following languages for Trusted Advisor:</p> <ul> <li> <p>Chinese, Simplified - <code>zh</code> </p> </li> <li> <p>Chinese, Traditional - <code>zh_TW</code> </p> </li> <li> <p>English - <code>en</code> </p> </li> <li> <p>French - <code>fr</code> </p> </li> <li> <p>German - <code>de</code> </p> </li> <li> <p>Indonesian - <code>id</code> </p> </li> <li> <p>Italian - <code>it</code> </p> </li> <li> <p>Japanese - <code>ja</code> </p> </li> <li> <p>Korean - <code>ko</code> </p> </li> <li> <p>Portuguese, Brazilian - <code>pt_BR</code> </p> </li> <li> <p>Spanish - <code>es</code> </p> </li> </ul>
    RefreshTrustedAdvisorCheckResponse:
      type: object
      required:
        - status
      properties:
        status:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCheckRefreshStatus"
            - description: The current refresh status for a check, including the amount of time until the check is eligible for refresh.
      description: The current refresh status of a Trusted Advisor check.
    RefreshTrustedAdvisorCheckRequest:
      type: object
      required:
        - checkId
      title: RefreshTrustedAdvisorCheckRequest
      properties:
        checkId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: <p>The unique identifier for the Trusted Advisor check to refresh.</p> <note> <p>Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.</p> </note>
      description: <p/>
    ResolveCaseResponse:
      type: object
      properties:
        initialCaseStatus:
          allOf:
            - $ref: "#/components/schemas/CaseStatus"
            - description: The status of the case when the <a>ResolveCase</a> request was sent.
        finalCaseStatus:
          allOf:
            - $ref: "#/components/schemas/CaseStatus"
            - description: The status of the case after the <a>ResolveCase</a> request was processed.
      description: The status of the case returned by the <a>ResolveCase</a> operation.
    ResolveCaseRequest:
      type: object
      title: ResolveCaseRequest
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
    AttachmentSetId:
      type: string
    Attachments:
      type: array
      items:
        $ref: "#/components/schemas/Attachment"
    ExpiryTime:
      type: string
    CaseId:
      type: string
    CommunicationBody:
      type: string
      minLength: 1
      maxLength: 8000
    CcEmailAddressList:
      type: array
      items:
        $ref: "#/components/schemas/CcEmailAddress"
      minItems: 0
      maxItems: 10
    Result:
      type: boolean
    AfterTime:
      type: string
    FileName:
      type: string
    Data:
      type: string
    Attachment:
      type: object
      properties:
        fileName:
          allOf:
            - $ref: "#/components/schemas/FileName"
            - description: The name of the attachment file.
        data:
          allOf:
            - $ref: "#/components/schemas/Data"
            - description: The content of the attachment file.
      description: An attachment to a case communication. The attachment consists of the file name and the content of the file.
    AttachmentId:
      type: string
    AttachmentDetails:
      type: object
      properties:
        attachmentId:
          allOf:
            - $ref: "#/components/schemas/AttachmentId"
            - description: The ID of the attachment.
        fileName:
          allOf:
            - $ref: "#/components/schemas/FileName"
            - description: The file name of the attachment.
      description: The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.
    AttachmentSet:
      type: array
      items:
        $ref: "#/components/schemas/AttachmentDetails"
    BeforeTime:
      type: string
    Boolean:
      type: boolean
    DisplayId:
      type: string
    Subject:
      type: string
    Status:
      type: string
    ServiceCode:
      type: string
    CategoryCode:
      type: string
    SeverityCode:
      type: string
    SubmittedBy:
      type: string
    TimeCreated:
      type: string
    RecentCaseCommunications:
      type: object
      properties:
        communications:
          allOf:
            - $ref: "#/components/schemas/CommunicationList"
            - description: The five most recent communications associated with the case.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/NextToken"
            - description: A resumption point for pagination.
      description: The five most recent communications associated with the case.
    Language:
      type: string
    CaseDetails:
      type: object
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
        displayId:
          allOf:
            - $ref: "#/components/schemas/DisplayId"
            - description: The ID displayed for the case in the Amazon Web Services Support Center. This is a numeric string.
        subject:
          allOf:
            - $ref: "#/components/schemas/Subject"
            - description: The subject line for the case in the Amazon Web Services Support Center.
        status:
          allOf:
            - $ref: "#/components/schemas/Status"
            - description: <p>The status of the case.</p> <p>Valid values:</p> <ul> <li> <p> <code>opened</code> </p> </li> <li> <p> <code>pending-customer-action</code> </p> </li> <li> <p> <code>reopened</code> </p> </li> <li> <p> <code>resolved</code> </p> </li> <li> <p> <code>unassigned</code> </p> </li> <li> <p> <code>work-in-progress</code> </p> </li> </ul>
        serviceCode:
          allOf:
            - $ref: "#/components/schemas/ServiceCode"
            - description: The code for the Amazon Web Services service. You can get a list of codes and the corresponding service names by calling <a>DescribeServices</a>.
        categoryCode:
          allOf:
            - $ref: "#/components/schemas/CategoryCode"
            - description: The category of problem for the support case.
        severityCode:
          allOf:
            - $ref: "#/components/schemas/SeverityCode"
            - description: The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.
        submittedBy:
          allOf:
            - $ref: "#/components/schemas/SubmittedBy"
            - description: The email address of the account that submitted the case.
        timeCreated:
          allOf:
            - $ref: "#/components/schemas/TimeCreated"
            - description: The time that the case was created in the Amazon Web Services Support Center.
        recentCommunications:
          allOf:
            - $ref: "#/components/schemas/RecentCaseCommunications"
            - description: The five most recent communications between you and Amazon Web Services Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications.
        ccEmailAddresses:
          allOf:
            - $ref: "#/components/schemas/CcEmailAddressList"
            - description: The email addresses that receive copies of communication about the case.
        language:
          allOf:
            - $ref: "#/components/schemas/Language"
            - description: The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.
      description: '<p>A JSON-formatted object that contains the metadata for a support case. It is contained in the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId</b> - The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode</b> - The category of problem for the support case. Corresponds to the <code>CategoryCode</code> values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId</b> - The identifier for the case on pages in the Amazon Web Services Support Center.</p> </li> <li> <p> <b>language</b> - The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports English ("en") and Japanese ("ja"). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language.</p> </li> <li> <p> <b>nextToken</b> - A resumption point for pagination.</p> </li> <li> <p> <b>recentCommunications</b> - One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>serviceCode</b> - The identifier for the Amazon Web Services service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode</b> - The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>. The possible values are: <code>low</code>, <code>normal</code>, <code>high</code>, <code>urgent</code>, and <code>critical</code>.</p> </li> <li> <p> <b>status</b> - The status of the case in the Amazon Web Services Support Center. Valid values:</p> <ul> <li> <p> <code>opened</code> </p> </li> <li> <p> <code>pending-customer-action</code> </p> </li> <li> <p> <code>reopened</code> </p> </li> <li> <p> <code>resolved</code> </p> </li> <li> <p> <code>unassigned</code> </p> </li> <li> <p> <code>work-in-progress</code> </p> </li> </ul> </li> <li> <p> <b>subject</b> - The subject line of the case.</p> </li> <li> <p> <b>submittedBy</b> - The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated</b> - The time the case was created, in ISO-8601 format.</p> </li> </ul>'
    CaseIdList:
      type: array
      items:
        $ref: "#/components/schemas/CaseId"
      minItems: 0
      maxItems: 100
    CaseList:
      type: array
      items:
        $ref: "#/components/schemas/CaseDetails"
    CaseStatus:
      type: string
    CategoryName:
      type: string
    Category:
      type: object
      properties:
        code:
          allOf:
            - $ref: "#/components/schemas/CategoryCode"
            - description: The category code for the support case.
        name:
          allOf:
            - $ref: "#/components/schemas/CategoryName"
            - description: The category name for the support case.
      description: A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each Amazon Web Services service.
    CategoryList:
      type: array
      items:
        $ref: "#/components/schemas/Category"
    CcEmailAddress:
      type: string
    Communication:
      type: object
      properties:
        caseId:
          allOf:
            - $ref: "#/components/schemas/CaseId"
            - description: "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
        body:
          allOf:
            - $ref: "#/components/schemas/CommunicationBody"
            - description: The text of the communication between the customer and Amazon Web Services Support.
        submittedBy:
          allOf:
            - $ref: "#/components/schemas/SubmittedBy"
            - description: "The identity of the account that submitted, or responded to, the support case. Customer entries include the role or IAM user as well as the email address. For example, \"AdminRole (Role) &lt;janedoe@example.com&gt;. Entries from the Amazon Web Services Support team display \"Amazon Web Services,\" and don't show an email address. "
        timeCreated:
          allOf:
            - $ref: "#/components/schemas/TimeCreated"
            - description: The time the communication was created.
        attachmentSet:
          allOf:
            - $ref: "#/components/schemas/AttachmentSet"
            - description: Information about the attachments to the case communication.
      description: A communication associated with a support case. The communication consists of the case ID, the message body, attachment information, the submitter of the communication, and the date and time of the communication.
    CommunicationList:
      type: array
      items:
        $ref: "#/components/schemas/Communication"
    IssueType:
      type: string
    IncludeResolvedCases:
      type: boolean
    NextToken:
      type: string
    MaxResults:
      type: integer
      minimum: 10
      maximum: 100
    IncludeCommunications:
      type: boolean
    ServiceCodeList:
      type: array
      items:
        $ref: "#/components/schemas/ServiceCode"
      minItems: 0
      maxItems: 100
    ServiceList:
      type: array
      items:
        $ref: "#/components/schemas/Service"
    SeverityLevelsList:
      type: array
      items:
        $ref: "#/components/schemas/SeverityLevel"
    StringList:
      type: array
      items:
        $ref: "#/components/schemas/String"
    TrustedAdvisorCheckRefreshStatusList:
      type: array
      items:
        $ref: "#/components/schemas/TrustedAdvisorCheckRefreshStatus"
    String:
      type: string
    TrustedAdvisorCheckResult:
      type: object
      required:
        - checkId
        - timestamp
        - status
        - resourcesSummary
        - categorySpecificSummary
        - flaggedResources
      properties:
        checkId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the Trusted Advisor check.
        timestamp:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The time of the last refresh of the check.
        status:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
        resourcesSummary:
          $ref: "#/components/schemas/TrustedAdvisorResourcesSummary"
        categorySpecificSummary:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCategorySpecificSummary"
            - description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
        flaggedResources:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorResourceDetailList"
            - description: The details about each resource listed in the check result.
      description: The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.
    TrustedAdvisorCheckSummaryList:
      type: array
      items:
        $ref: "#/components/schemas/TrustedAdvisorCheckSummary"
    TrustedAdvisorCheckList:
      type: array
      items:
        $ref: "#/components/schemas/TrustedAdvisorCheckDescription"
    Double:
      type: number
      format: double
    Long:
      type: integer
    TrustedAdvisorCheckRefreshStatus:
      type: object
      required:
        - checkId
        - status
        - millisUntilNextRefreshable
      properties:
        checkId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the Trusted Advisor check.
        status:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: "<p>The status of the Trusted Advisor check for which a refresh has been requested: </p> <ul> <li> <p> <code>none</code> - The check is not refreshed or the non-success status exceeds the timeout</p> </li> <li> <p> <code>enqueued</code> - The check refresh requests has entered the refresh queue</p> </li> <li> <p> <code>processing</code> - The check refresh request is picked up by the rule processing engine</p> </li> <li> <p> <code>success</code> - The check is successfully refreshed</p> </li> <li> <p> <code>abandoned</code> - The check refresh has failed</p> </li> </ul>"
        millisUntilNextRefreshable:
          allOf:
            - $ref: "#/components/schemas/Long"
            - description: The amount of time, in milliseconds, until the Trusted Advisor check is eligible for refresh.
      description: The refresh status of a Trusted Advisor check.
    ServiceName:
      type: string
    Service:
      type: object
      properties:
        code:
          allOf:
            - $ref: "#/components/schemas/ServiceCode"
            - description: The code for an Amazon Web Services service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name.
        name:
          allOf:
            - $ref: "#/components/schemas/ServiceName"
            - description: The friendly name for an Amazon Web Services service. The <code>code</code> element contains the corresponding code.
        categories:
          allOf:
            - $ref: "#/components/schemas/CategoryList"
            - description: A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to Amazon Web Services Support when you call <a>CreateCase</a>.
      description: Information about an Amazon Web Services service returned by the <a>DescribeServices</a> operation.
    SeverityLevelCode:
      type: string
    SeverityLevelName:
      type: string
    SeverityLevel:
      type: object
      properties:
        code:
          allOf:
            - $ref: "#/components/schemas/SeverityLevelCode"
            - description: "<p>The code for case severity level.</p> <p>Valid values: <code>low</code> | <code>normal</code> | <code>high</code> | <code>urgent</code> | <code>critical</code> </p>"
        name:
          allOf:
            - $ref: "#/components/schemas/SeverityLevelName"
            - description: <p>The name of the severity level that corresponds to the severity level code.</p> <note> <p>The values returned by the API are different from the values that appear in the Amazon Web Services Support Center. For example, the API uses the code <code>low</code>, but the name appears as General guidance in Support Center. </p> <p>The following are the API code names and how they appear in the console:</p> <ul> <li> <p> <code>low</code> - General guidance</p> </li> <li> <p> <code>normal</code> - System impaired</p> </li> <li> <p> <code>high</code> - Production system impaired</p> </li> <li> <p> <code>urgent</code> - Production system down</p> </li> <li> <p> <code>critical</code> - Business-critical system down</p> </li> </ul> </note> <p>For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#choosing-severity">Choosing a severity</a> in the <i>Amazon Web Services Support User Guide</i>.</p>
      description: A code and name pair that represents the severity level of a support case. The available values depend on the support plan for the account. For more information, see <a href="https://docs.aws.amazon.com/awssupport/latest/user/case-management.html#choosing-severity">Choosing a severity</a> in the <i>Amazon Web Services Support User Guide</i>.
    TrustedAdvisorCostOptimizingSummary:
      type: object
      required:
        - estimatedMonthlySavings
        - estimatedPercentMonthlySavings
      properties:
        estimatedMonthlySavings:
          allOf:
            - $ref: "#/components/schemas/Double"
            - description: The estimated monthly savings that might be realized if the recommended operations are taken.
        estimatedPercentMonthlySavings:
          allOf:
            - $ref: "#/components/schemas/Double"
            - description: The estimated percentage of savings that might be realized if the recommended operations are taken.
      description: The estimated cost savings that might be realized if the recommended operations are taken.
    TrustedAdvisorCategorySpecificSummary:
      type: object
      properties:
        costOptimizing:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCostOptimizingSummary"
            - description: The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category.
      description: The container for summary information that relates to the category of the Trusted Advisor check.
    TrustedAdvisorCheckDescription:
      type: object
      required:
        - id
        - name
        - description
        - category
        - metadata
      properties:
        id:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the Trusted Advisor check.
        name:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The display name for the Trusted Advisor check.
        description:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The description of the Trusted Advisor check, which includes the alert criteria and recommended operations (contains HTML markup).
        category:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The category of the Trusted Advisor check.
        metadata:
          allOf:
            - $ref: "#/components/schemas/StringList"
            - description: "The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. "
      description: The description and metadata for a Trusted Advisor check.
    TrustedAdvisorResourcesSummary:
      type: object
      required:
        - resourcesProcessed
        - resourcesFlagged
        - resourcesIgnored
        - resourcesSuppressed
      properties:
        resourcesProcessed:
          allOf:
            - $ref: "#/components/schemas/Long"
            - description: The number of Amazon Web Services resources that were analyzed by the Trusted Advisor check.
        resourcesFlagged:
          allOf:
            - $ref: "#/components/schemas/Long"
            - description: The number of Amazon Web Services resources that were flagged (listed) by the Trusted Advisor check.
        resourcesIgnored:
          allOf:
            - $ref: "#/components/schemas/Long"
            - description: The number of Amazon Web Services resources ignored by Trusted Advisor because information was unavailable.
        resourcesSuppressed:
          allOf:
            - $ref: "#/components/schemas/Long"
            - description: The number of Amazon Web Services resources ignored by Trusted Advisor because they were marked as suppressed by the user.
      description: Details about Amazon Web Services resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>.
    TrustedAdvisorResourceDetailList:
      type: array
      items:
        $ref: "#/components/schemas/TrustedAdvisorResourceDetail"
    TrustedAdvisorCheckSummary:
      type: object
      required:
        - checkId
        - timestamp
        - status
        - resourcesSummary
        - categorySpecificSummary
      properties:
        checkId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the Trusted Advisor check.
        timestamp:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The time of the last refresh of the check.
        status:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
        hasFlaggedResources:
          allOf:
            - $ref: "#/components/schemas/Boolean"
            - description: Specifies whether the Trusted Advisor check has flagged resources.
        resourcesSummary:
          $ref: "#/components/schemas/TrustedAdvisorResourcesSummary"
        categorySpecificSummary:
          allOf:
            - $ref: "#/components/schemas/TrustedAdvisorCategorySpecificSummary"
            - description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
      description: A summary of a Trusted Advisor check result, including the alert status, last refresh, and number of resources examined.
    TrustedAdvisorResourceDetail:
      type: object
      required:
        - status
        - resourceId
        - metadata
      properties:
        status:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The status code for the resource identified in the Trusted Advisor check.
        region:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The Amazon Web Services Region in which the identified resource is located.
        resourceId:
          allOf:
            - $ref: "#/components/schemas/String"
            - description: The unique identifier for the identified resource.
        isSuppressed:
          allOf:
            - $ref: "#/components/schemas/Boolean"
            - description: Specifies whether the Amazon Web Services resource was ignored by Trusted Advisor because it was marked as suppressed by the user.
        metadata:
          allOf:
            - $ref: "#/components/schemas/StringList"
            - description: Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data.
      description: Contains information about a resource identified by a Trusted Advisor check.
security:
  - hmac: []
