openapi: 3.0.0
servers:
  - url: https://baremetalsolution.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Bare Metal Solution API
  version: v1alpha1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://baremetalsolution.googleapis.com/$discovery/rest?version=v1alpha1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: baremetalsolution
externalDocs:
  url: https://cloud.google.com/bare-metal
tags:
  - name: projects
paths:
  "/v1alpha1/{parent}/provisioningQuotas":
    get:
      description: List the budget details to provision resources on a given project.
      operationId: baremetalsolution.projects.provisioningQuotas.list
      parameters:
        - description: Required. The parent project containing the provisioning quotas.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvisioningQuotasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{project}/{location}:submitProvisioningConfig":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Submit a provisiong configuration for a given project.
      operationId: baremetalsolution.projects.locations.submitProvisioningConfig
      parameters:
        - description: Required. The target project of the provisioning request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Required. The target location of the provisioning request.
          in: path
          name: location
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitProvisioningConfigRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvisioningConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    InstanceConfig:
      description: Configuration parameters for a new instance.
      properties:
        clientNetwork:
          $ref: "#/components/schemas/NetworkAddress"
          description: Client network address.
        hyperthreading:
          description: Whether the instance should be provisioned with Hyperthreading enabled.
          type: boolean
        id:
          description: A transient unique identifier to idenfity an instance within an ProvisioningConfig request.
          type: string
        instanceType:
          description: Instance type.
          type: string
        location:
          description: Location where to deploy the instance.
          type: string
        osImage:
          description: OS image to initialize the instance.
          type: string
        privateNetwork:
          $ref: "#/components/schemas/NetworkAddress"
          description: Private network address, if any.
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
      type: object
    InstanceQuota:
      description: A resource budget.
      properties:
        availableMachineCount:
          description: Number of machines than can be created for the given location and instance_type.
          format: int32
          type: integer
        instanceType:
          description: Instance type.
          type: string
        location:
          description: Location where the quota applies.
          type: string
      type: object
    ListProvisioningQuotasResponse:
      description: Response for ListProvisioningQuotas.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        provisioningQuotas:
          description: The provisioning quotas registered in this project.
          items:
            $ref: "#/components/schemas/ProvisioningQuota"
          type: array
      type: object
    LunRange:
      description: A LUN range.
      properties:
        quantity:
          description: Number of LUNs to create.
          format: int32
          type: integer
        sizeGb:
          description: The requested size of each LUN, in GB.
          format: int32
          type: integer
      type: object
    NetworkAddress:
      description: A network.
      properties:
        address:
          description: IP address to be assigned to the server.
          type: string
        existingNetworkId:
          description: Name of the existing network to use. Will be of the format at--vlan for pre-intake UI networks like for eg, at-123456-vlan001 or any user-defined name like for eg, my-network-name for networks provisioned using intake UI. The field is exclusively filled only in case of an already existing network. Mutually exclusive with network_id.
          type: string
        networkId:
          description: Name of the network to use, within the same ProvisioningConfig request. This represents a new network being provisioned in the same request. Can have any user-defined name like for eg, my-network-name. Mutually exclusive with existing_network_id.
          type: string
      type: object
    NetworkConfig:
      description: Configuration parameters for a new network.
      properties:
        bandwidth:
          description: Interconnect bandwidth. Set only when type is CLIENT.
          enum:
            - BANDWIDTH_UNSPECIFIED
            - BW_1_GBPS
            - BW_2_GBPS
            - BW_5_GBPS
            - BW_10_GBPS
          type: string
        cidr:
          description: CIDR range of the network.
          type: string
        id:
          description: A transient unique identifier to identify a volume within an ProvisioningConfig request.
          type: string
        location:
          description: Location where to deploy the network.
          type: string
        serviceCidr:
          description: Service CIDR, if any.
          enum:
            - SERVICE_CIDR_UNSPECIFIED
            - DISABLED
            - HIGH_26
            - HIGH_27
            - HIGH_28
          type: string
        type:
          description: The type of this network.
          enum:
            - TYPE_UNSPECIFIED
            - CLIENT
            - PRIVATE
          type: string
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
        vlanAttachments:
          description: List of VLAN attachments. As of now there are always 2 attachments, but it is going to change in the future (multi vlan).
          items:
            $ref: "#/components/schemas/VlanAttachment"
          type: array
      type: object
    NfsExport:
      description: A NFS export entry.
      properties:
        allowDev:
          description: Allow dev.
          type: boolean
        allowSuid:
          description: Allow the setuid flag.
          type: boolean
        cidr:
          description: A CIDR range.
          type: string
        machineId:
          description: Either a single machine, identified by an ID, or a comma-separated list of machine IDs.
          type: string
        networkId:
          description: Network to use to publish the export.
          type: string
        noRootSquash:
          description: Disable root squashing.
          type: boolean
        permissions:
          description: Export permissions.
          enum:
            - PERMISSIONS_UNSPECIFIED
            - READ_ONLY
            - READ_WRITE
          type: string
      type: object
    ProvisioningConfig:
      description: An provisioning configuration.
      properties:
        instances:
          description: Instances to be created.
          items:
            $ref: "#/components/schemas/InstanceConfig"
          type: array
        networks:
          description: Networks to be created.
          items:
            $ref: "#/components/schemas/NetworkConfig"
          type: array
        ticketId:
          description: A reference to track the request.
          type: string
        volumes:
          description: Volumes to be created.
          items:
            $ref: "#/components/schemas/VolumeConfig"
          type: array
      type: object
    ProvisioningQuota:
      description: A provisioning quota for a given project.
      properties:
        instanceQuota:
          $ref: "#/components/schemas/InstanceQuota"
          description: Instance quota.
      type: object
    SubmitProvisioningConfigRequest:
      description: Request for SubmitProvisioningConfig.
      properties:
        email:
          description: Optional. Email provided to send a confirmation with provisioning config to.
          type: string
        provisioningConfig:
          $ref: "#/components/schemas/ProvisioningConfig"
          description: Required. The ProvisioningConfig to submit.
      type: object
    VlanAttachment:
      description: A GCP vlan attachment.
      properties:
        id:
          description: Identifier of the VLAN attachment.
          type: string
        pairingKey:
          description: Attachment pairing key.
          type: string
      type: object
    VolumeConfig:
      description: Configuration parameters for a new volume.
      properties:
        id:
          description: A transient unique identifier to identify a volume within an ProvisioningConfig request.
          type: string
        location:
          description: Location where to deploy the volume.
          type: string
        lunRanges:
          description: LUN ranges to be configured. Set only when protocol is PROTOCOL_FC.
          items:
            $ref: "#/components/schemas/LunRange"
          type: array
        machineIds:
          description: Machine ids connected to this volume. Set only when protocol is PROTOCOL_FC.
          items:
            type: string
          type: array
        nfsExports:
          description: NFS exports. Set only when protocol is PROTOCOL_NFS.
          items:
            $ref: "#/components/schemas/NfsExport"
          type: array
        protocol:
          description: Volume protocol.
          enum:
            - PROTOCOL_UNSPECIFIED
            - PROTOCOL_FC
            - PROTOCOL_NFS
          type: string
        sizeGb:
          description: The requested size of this volume, in GB. This will be updated in a later iteration with a generic size field.
          format: int32
          type: integer
        snapshotsEnabled:
          description: Whether snapshots should be enabled.
          type: boolean
        type:
          description: The type of this Volume.
          enum:
            - TYPE_UNSPECIFIED
            - FLASH
            - DISK
          type: string
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
