swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Apis for customer in enterprise agreement migrate to new pricing model or rollback to legacy pricing model.
  title: ApplicationInsightsManagementClient
  version: '2017-10-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/eaSubscriptionMigration_API.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: applicationinsights-eaSubscriptionMigration_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/listMigrationdate':
    post:
      description: list date to migrate to new pricing model.
      operationId: EASubscriptionListMigrationDate_Post
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success list migrate date information for this subscription.
          schema:
            $ref: '#/definitions/EASubscriptionMigrationDate'
      x-ms-examples:
        EASubscriptionListMigrationDate:
          parameters:
            api-version: '2017-10-01'
            subscriptionId: subid
          responses:
            '200':
              body:
                isGrandFatherableSubscription: false
                optedInDate: '2018-08-15T22:15:45.5058967+00:00'
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/migrateToNewPricingModel':
    post:
      description: Enterprise Agreement Customer opted to use new pricing model.
      operationId: EASubscriptionMigrateToNewPricingModel_Post
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Success migrate to new pricing model for this subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        EASubscriptionMigrateToNewPricingModelPost:
          parameters:
            api-version: '2017-10-01'
            subscriptionId: subid
          responses:
            '204': {}
  '/subscriptions/{subscriptionId}/providers/microsoft.insights/rollbackToLegacyPricingModel':
    post:
      description: Enterprise Agreement Customer roll back to use legacy pricing model.
      operationId: EASubscriptionRollbackToLegacyPricingModel_Post
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Success roll back to legacy pricing model for this subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        EASubscriptionRollbackToLegacyPricingModelPost:
          parameters:
            api-version: '2017-10-01'
            subscriptionId: subid
          responses:
            '204': {}
definitions:
  CloudError:
    description: An error response from the Batch service.
    properties:
      error:
        $ref: '#/definitions/CloudErrorBody'
        description: Cloud error body.
    x-ms-external: true
  CloudErrorBody:
    description: An error response from the Batch service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: '#/definitions/CloudErrorBody'
        type: array
      message:
        description: 'A message describing the error, intended to be suitable for display in a user interface.'
        type: string
      target:
        description: 'The target of the particular error. For example, the name of the property in error.'
        type: string
    x-ms-external: true
  EASubscriptionMigrationDate:
    description: Subscription migrate date information properties
    properties:
      isGrandFatherableSubscription:
        description: Is subscription in the grand fatherable subscription list.
        type: boolean
      optedInDate:
        description: Time to start using new pricing model.
        format: date-time
        type: string
    type: object
