swagger: "2.0"
schemes:
  - https
host: api.youneedabudget.com
basePath: /v1
info:
  contact:
    x-twitter: ynab
  description: Our API uses a REST based design, leverages the JSON data format, and relies upon HTTPS for transport. We respond with meaningful HTTP response codes and if an error occurs, we include error details in the response body.  API Documentation is at https://api.youneedabudget.com
  title: YNAB API Endpoints
  version: 1.0.0
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://twitter.com/ynab/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://api.youneedabudget.com/papi/spec-v1-swagger.json
      version: "2.0"
  x-providerName: youneedabudget.com
  x-preferred: true
securityDefinitions:
  bearer:
    in: header
    name: Authorization
    type: apiKey
security:
  - bearer: []
tags:
  - name: User
  - name: Budgets
  - description: The accounts for a budget
    name: Accounts
  - description: The categories for a budget
    name: Categories
  - description: The payees for a budget
    name: Payees
  - description: When you enter a transaction and specify a payee on the YNAB mobile apps, the GPS coordinates for that location are stored, with your permission, so that the next time you are in the same place (like the Grocery store) we can pre-populate nearby payees for you!  It’s handy and saves you time.  This resource makes these locations available.  Locations will not be available for all payees.
    name: Payee Locations
  - description: Each budget contains one or more months, which is where To be Budgeted, Age of Money and category (budgeted / activity / balances) amounts are available.
    name: Months
  - description: The transactions for a budget
    name: Transactions
  - description: The scheduled transactions for a budget
    name: Scheduled Transactions
paths:
  /budgets:
    get:
      description: Returns budgets list with summary information
      operationId: getBudgets
      parameters:
        - description: Whether to include the list of budget accounts
          in: query
          name: include_accounts
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: The list of budgets
          schema:
            $ref: "#/definitions/BudgetSummaryResponse"
        "404":
          description: No budgets were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List budgets
      tags:
        - Budgets
  "/budgets/{budget_id}":
    get:
      description: Returns a single budget with all related entities.  This resource is effectively a full budget export.
      operationId: getBudgetById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The requested budget
          schema:
            $ref: "#/definitions/BudgetDetailResponse"
        "404":
          description: The specified budget was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single budget
      tags:
        - Budgets
  "/budgets/{budget_id}/accounts":
    get:
      description: Returns all accounts
      operationId: getAccounts
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested accounts
          schema:
            $ref: "#/definitions/AccountsResponse"
        "404":
          description: No accounts were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Account list
      tags:
        - Accounts
    post:
      description: Creates a new account
      operationId: createAccount
      parameters:
        - description: 'The id of the budget ("last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget)'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The account to create.
          in: body
          name: data
          required: true
          schema:
            $ref: "#/definitions/SaveAccountWrapper"
      produces:
        - application/json
      responses:
        "201":
          description: The account was successfully created
          schema:
            $ref: "#/definitions/AccountResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s).
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Create a new account
      tags:
        - Accounts
  "/budgets/{budget_id}/accounts/{account_id}":
    get:
      description: Returns a single account
      operationId: getAccountById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the account
          format: uuid
          in: path
          name: account_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested account
          schema:
            $ref: "#/definitions/AccountResponse"
        "404":
          description: The requested account was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single account
      tags:
        - Accounts
  "/budgets/{budget_id}/accounts/{account_id}/transactions":
    get:
      description: Returns all transactions for a specified account
      operationId: getTransactionsByAccount
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the account
          in: path
          name: account_id
          required: true
          type: string
        - description: If specified, only transactions on or after this date will be included.  The date should be ISO formatted (e.g. 2016-12-30).
          format: date
          in: query
          name: since_date
          required: false
          type: string
        - description: If specified, only transactions of the specified type will be included. "uncategorized" and "unapproved" are currently supported.
          enum:
            - uncategorized
            - unapproved
          in: query
          name: type
          required: false
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested transactions
          schema:
            $ref: "#/definitions/TransactionsResponse"
        "404":
          description: No transactions were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List account transactions
      tags:
        - Transactions
  "/budgets/{budget_id}/categories":
    get:
      description: Returns all categories grouped by category group.  Amounts (budgeted, activity, balance, etc.) are specific to the current budget month (UTC).
      operationId: getCategories
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The categories grouped by category group
          schema:
            $ref: "#/definitions/CategoriesResponse"
        "404":
          description: No categories were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List categories
      tags:
        - Categories
  "/budgets/{budget_id}/categories/{category_id}":
    get:
      description: Returns a single category.  Amounts (budgeted, activity, balance, etc.) are specific to the current budget month (UTC).
      operationId: getCategoryById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the category
          in: path
          name: category_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested category
          schema:
            $ref: "#/definitions/CategoryResponse"
        "404":
          description: The category not was found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single category
      tags:
        - Categories
  "/budgets/{budget_id}/categories/{category_id}/transactions":
    get:
      description: Returns all transactions for a specified category
      operationId: getTransactionsByCategory
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the category
          in: path
          name: category_id
          required: true
          type: string
        - description: If specified, only transactions on or after this date will be included.  The date should be ISO formatted (e.g. 2016-12-30).
          format: date
          in: query
          name: since_date
          required: false
          type: string
        - description: If specified, only transactions of the specified type will be included. "uncategorized" and "unapproved" are currently supported.
          enum:
            - uncategorized
            - unapproved
          in: query
          name: type
          required: false
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested transactions
          schema:
            $ref: "#/definitions/HybridTransactionsResponse"
        "404":
          description: No transactions were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List category transactions
      tags:
        - Transactions
  "/budgets/{budget_id}/months":
    get:
      description: Returns all budget months
      operationId: getBudgetMonths
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of budget months
          schema:
            $ref: "#/definitions/MonthSummariesResponse"
        "404":
          description: No budget months were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List budget months
      tags:
        - Months
  "/budgets/{budget_id}/months/{month}":
    get:
      description: Returns a single budget month
      operationId: getBudgetMonth
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can also be used to specify the current calendar month (UTC))
          format: date
          in: path
          name: month
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The budget month detail
          schema:
            $ref: "#/definitions/MonthDetailResponse"
        "404":
          description: The budget month was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single budget month
      tags:
        - Months
  "/budgets/{budget_id}/months/{month}/categories/{category_id}":
    get:
      description: Returns a single category for a specific budget month.  Amounts (budgeted, activity, balance, etc.) are specific to the current budget month (UTC).
      operationId: getMonthCategoryById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can also be used to specify the current calendar month (UTC))
          format: date
          in: path
          name: month
          required: true
          type: string
        - description: The id of the category
          in: path
          name: category_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested month category
          schema:
            $ref: "#/definitions/CategoryResponse"
        "404":
          description: The month category was not was found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single category for a specific budget month
      tags:
        - Categories
    patch:
      description: Update a category for a specific month.  Only `budgeted` amount can be updated.
      operationId: updateMonthCategory
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The budget month in ISO format (e.g. 2016-12-01) ("current" can also be used to specify the current calendar month (UTC))
          format: date
          in: path
          name: month
          required: true
          type: string
        - description: The id of the category
          in: path
          name: category_id
          required: true
          type: string
        - description: The category to update.  Only `budgeted` amount can be updated and any other fields specified will be ignored.
          in: body
          name: data
          required: true
          schema:
            $ref: "#/definitions/SaveMonthCategoryWrapper"
      produces:
        - application/json
      responses:
        "200":
          description: The month category was successfully updated
          schema:
            $ref: "#/definitions/SaveCategoryResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s)
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Update a category for a specific month
      tags:
        - Categories
  "/budgets/{budget_id}/payee_locations":
    get:
      description: Returns all payee locations
      operationId: getPayeeLocations
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The list of payee locations
          schema:
            $ref: "#/definitions/PayeeLocationsResponse"
        "404":
          description: No payees locations were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List payee locations
      tags:
        - Payee Locations
  "/budgets/{budget_id}/payee_locations/{payee_location_id}":
    get:
      description: Returns a single payee location
      operationId: getPayeeLocationById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: id of payee location
          in: path
          name: payee_location_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The payee location
          schema:
            $ref: "#/definitions/PayeeLocationResponse"
        "404":
          description: The payee location was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single payee location
      tags:
        - Payee Locations
  "/budgets/{budget_id}/payees":
    get:
      description: Returns all payees
      operationId: getPayees
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The requested list of payees
          schema:
            $ref: "#/definitions/PayeesResponse"
        "404":
          description: No payees were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List payees
      tags:
        - Payees
  "/budgets/{budget_id}/payees/{payee_id}":
    get:
      description: Returns a single payee
      operationId: getPayeeById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the payee
          in: path
          name: payee_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested payee
          schema:
            $ref: "#/definitions/PayeeResponse"
        "404":
          description: The payee was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single payee
      tags:
        - Payees
  "/budgets/{budget_id}/payees/{payee_id}/payee_locations":
    get:
      description: Returns all payee locations for a specified payee
      operationId: getPayeeLocationsByPayee
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: id of payee
          in: path
          name: payee_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested payee locations
          schema:
            $ref: "#/definitions/PayeeLocationsResponse"
        "404":
          description: No payees locations were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List locations for a payee
      tags:
        - Payee Locations
  "/budgets/{budget_id}/payees/{payee_id}/transactions":
    get:
      description: Returns all transactions for a specified payee
      operationId: getTransactionsByPayee
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the payee
          in: path
          name: payee_id
          required: true
          type: string
        - description: If specified, only transactions on or after this date will be included.  The date should be ISO formatted (e.g. 2016-12-30).
          format: date
          in: query
          name: since_date
          required: false
          type: string
        - description: If specified, only transactions of the specified type will be included. "uncategorized" and "unapproved" are currently supported.
          enum:
            - uncategorized
            - unapproved
          in: query
          name: type
          required: false
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested transactions
          schema:
            $ref: "#/definitions/HybridTransactionsResponse"
        "404":
          description: No transactions were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List payee transactions
      tags:
        - Transactions
  "/budgets/{budget_id}/scheduled_transactions":
    get:
      description: Returns all scheduled transactions
      operationId: getScheduledTransactions
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested scheduled transactions
          schema:
            $ref: "#/definitions/ScheduledTransactionsResponse"
        "404":
          description: No scheduled transactions were found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List scheduled transactions
      tags:
        - Scheduled Transactions
  "/budgets/{budget_id}/scheduled_transactions/{scheduled_transaction_id}":
    get:
      description: Returns a single scheduled transaction
      operationId: getScheduledTransactionById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the scheduled transaction
          in: path
          name: scheduled_transaction_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested Scheduled Transaction
          schema:
            $ref: "#/definitions/ScheduledTransactionResponse"
        "404":
          description: The scheduled transaction was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single scheduled transaction
      tags:
        - Scheduled Transactions
  "/budgets/{budget_id}/settings":
    get:
      description: Returns settings for a budget
      operationId: getBudgetSettingsById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested budget settings
          schema:
            $ref: "#/definitions/BudgetSettingsResponse"
        "404":
          description: The specified Budget was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Budget Settings
      tags:
        - Budgets
  "/budgets/{budget_id}/transactions":
    get:
      description: Returns budget transactions
      operationId: getTransactions
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: If specified, only transactions on or after this date will be included.  The date should be ISO formatted (e.g. 2016-12-30).
          format: date
          in: query
          name: since_date
          required: false
          type: string
        - description: If specified, only transactions of the specified type will be included. "uncategorized" and "unapproved" are currently supported.
          enum:
            - uncategorized
            - unapproved
          in: query
          name: type
          required: false
          type: string
        - description: The starting server knowledge.  If provided, only entities that have changed since `last_knowledge_of_server` will be included.
          format: int64
          in: query
          name: last_knowledge_of_server
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The list of requested transactions
          schema:
            $ref: "#/definitions/TransactionsResponse"
        "400":
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
        "404":
          description: No transactions were found
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: List transactions
      tags:
        - Transactions
    patch:
      description: Updates multiple transactions, by `id` or `import_id`.
      operationId: updateTransactions
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The transactions to update. Each transaction must have either an `id` or `import_id` specified. If `id` is specified as null an `import_id` value can be provided which will allow transaction(s) to be updated by their `import_id`. If an `id` is specified, it will always be used for lookup.
          in: body
          name: data
          required: true
          schema:
            $ref: "#/definitions/UpdateTransactionsWrapper"
      produces:
        - application/json
      responses:
        "209":
          description: The transactions were successfully updated
          schema:
            $ref: "#/definitions/SaveTransactionsResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s).
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Update multiple transactions
      tags:
        - Transactions
    post:
      description: Creates a single transaction or multiple transactions.  If you provide a body containing a `transaction` object, a single transaction will be created and if you provide a body containing a `transactions` array, multiple transactions will be created.  Scheduled transactions cannot be created on this endpoint.
      operationId: createTransaction
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The transaction or transactions to create.  To create a single transaction you can specify a value for the `transaction` object and to create multiple transactions you can specify an array of `transactions`.  It is expected that you will only provide a value for one of these objects.
          in: body
          name: data
          required: true
          schema:
            $ref: "#/definitions/SaveTransactionsWrapper"
      produces:
        - application/json
      responses:
        "201":
          description: The transaction or transactions were successfully created
          schema:
            $ref: "#/definitions/SaveTransactionsResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s).
          schema:
            $ref: "#/definitions/ErrorResponse"
        "409":
          description: A transaction on the same account with the same `import_id` already exists.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Create a single transaction or multiple transactions
      tags:
        - Transactions
  "/budgets/{budget_id}/transactions/bulk":
    post:
      description: Creates multiple transactions.  Although this endpoint is still supported, it is recommended to use 'POST /budgets/{budget_id}/transactions' to create multiple transactions.
      operationId: bulkCreateTransactions
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The list of transactions to create
          in: body
          name: transactions
          required: true
          schema:
            $ref: "#/definitions/BulkTransactions"
      produces:
        - application/json
      responses:
        "201":
          description: The bulk request was processed successfully
          schema:
            $ref: "#/definitions/BulkResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s)
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Bulk create transactions
      tags:
        - Deprecated
  "/budgets/{budget_id}/transactions/import":
    post:
      description: Imports available transactions on all linked accounts for the given budget.  Linked accounts allow transactions to be imported directly from a specified financial institution and this endpoint initiates that import.  Sending a request to this endpoint is the equivalent of clicking "Import" on each account in the web application or tapping the "New Transactions" banner in the mobile applications.  The response for this endpoint contains the transaction ids that have been imported.
      operationId: importTransactions
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The request was successful but there were no transactions to import
          schema:
            $ref: "#/definitions/TransactionsImportResponse"
        "201":
          description: One or more transactions were imported successfully
          schema:
            $ref: "#/definitions/TransactionsImportResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s)
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Import transactions
      tags:
        - Transactions
  "/budgets/{budget_id}/transactions/{transaction_id}":
    get:
      description: Returns a single transaction
      operationId: getTransactionById
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the transaction
          in: path
          name: transaction_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The requested transaction
          schema:
            $ref: "#/definitions/TransactionResponse"
        "404":
          description: The transaction was not found
          schema:
            $ref: "#/definitions/ErrorResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Single transaction
      tags:
        - Transactions
    put:
      description: Updates a single transaction
      operationId: updateTransaction
      parameters:
        - description: 'The id of the budget. "last-used" can be used to specify the last used budget and "default" can be used if default budget selection is enabled (see: https://api.youneedabudget.com/#oauth-default-budget).'
          in: path
          name: budget_id
          required: true
          type: string
        - description: The id of the transaction
          in: path
          name: transaction_id
          required: true
          type: string
        - description: The transaction to update
          in: body
          name: data
          required: true
          schema:
            $ref: "#/definitions/SaveTransactionWrapper"
      produces:
        - application/json
      responses:
        "200":
          description: The transaction was successfully updated
          schema:
            $ref: "#/definitions/TransactionResponse"
        "400":
          description: The request could not be understood due to malformed syntax or validation error(s)
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Updates an existing transaction
      tags:
        - Transactions
  /user:
    get:
      description: Returns authenticated user information
      operationId: getUser
      produces:
        - application/json
      responses:
        "200":
          description: The user info
          schema:
            $ref: "#/definitions/UserResponse"
        default:
          description: An error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: User info
      tags:
        - User
definitions:
  Account:
    properties:
      balance:
        description: The current balance of the account in milliunits format
        format: int64
        type: integer
      cleared_balance:
        description: The current cleared balance of the account in milliunits format
        format: int64
        type: integer
      closed:
        description: Whether this account is closed or not
        type: boolean
      deleted:
        description: Whether or not the account has been deleted.  Deleted accounts will only be included in delta requests.
        type: boolean
      id:
        format: uuid
        type: string
      name:
        type: string
      note:
        type: string
      on_budget:
        description: Whether this account is on budget or not
        type: boolean
      transfer_payee_id:
        description: The payee id which should be used when transferring to this account
        format: uuid
        type: string
      type:
        description: "The type of account. Note: payPal, merchantAccount, investmentAccount, and mortgage types have been deprecated and will be removed in the future."
        enum:
          - checking
          - savings
          - cash
          - creditCard
          - lineOfCredit
          - otherAsset
          - otherLiability
          - payPal
          - merchantAccount
          - investmentAccount
          - mortgage
        type: string
      uncleared_balance:
        description: The current uncleared balance of the account in milliunits format
        format: int64
        type: integer
    required:
      - id
      - name
      - type
      - on_budget
      - closed
      - balance
      - cleared_balance
      - uncleared_balance
      - transfer_payee_id
      - deleted
    type: object
  AccountResponse:
    properties:
      data:
        properties:
          account:
            $ref: "#/definitions/Account"
        required:
          - account
        type: object
    required:
      - data
    type: object
  AccountsResponse:
    properties:
      data:
        properties:
          accounts:
            items:
              $ref: "#/definitions/Account"
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - accounts
          - server_knowledge
        type: object
    required:
      - data
    type: object
  BudgetDetail:
    allOf:
      - $ref: "#/definitions/BudgetSummary"
      - properties:
          accounts:
            items:
              $ref: "#/definitions/Account"
            type: array
          categories:
            items:
              $ref: "#/definitions/Category"
            type: array
          category_groups:
            items:
              $ref: "#/definitions/CategoryGroup"
            type: array
          months:
            items:
              $ref: "#/definitions/MonthDetail"
            type: array
          payee_locations:
            items:
              $ref: "#/definitions/PayeeLocation"
            type: array
          payees:
            items:
              $ref: "#/definitions/Payee"
            type: array
          scheduled_subtransactions:
            items:
              $ref: "#/definitions/ScheduledSubTransaction"
            type: array
          scheduled_transactions:
            items:
              $ref: "#/definitions/ScheduledTransactionSummary"
            type: array
          subtransactions:
            items:
              $ref: "#/definitions/SubTransaction"
            type: array
          transactions:
            items:
              $ref: "#/definitions/TransactionSummary"
            type: array
        type: object
  BudgetDetailResponse:
    properties:
      data:
        properties:
          budget:
            $ref: "#/definitions/BudgetDetail"
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - budget
          - server_knowledge
        type: object
    required:
      - data
    type: object
  BudgetSettings:
    properties:
      currency_format:
        $ref: "#/definitions/CurrencyFormat"
      date_format:
        $ref: "#/definitions/DateFormat"
    required:
      - date_format
      - currency_format
    type: object
  BudgetSettingsResponse:
    properties:
      data:
        properties:
          settings:
            $ref: "#/definitions/BudgetSettings"
        required:
          - settings
        type: object
    required:
      - data
    type: object
  BudgetSummary:
    properties:
      accounts:
        description: The budget accounts (only included if `include_accounts=true` specified as query parameter)
        items:
          $ref: "#/definitions/Account"
        type: array
      currency_format:
        $ref: "#/definitions/CurrencyFormat"
      date_format:
        $ref: "#/definitions/DateFormat"
      first_month:
        description: The earliest budget month
        format: date
        type: string
      id:
        format: uuid
        type: string
      last_modified_on:
        description: The last time any changes were made to the budget from either a web or mobile client
        format: date-time
        type: string
      last_month:
        description: The latest budget month
        format: date
        type: string
      name:
        type: string
    required:
      - id
      - name
    type: object
  BudgetSummaryResponse:
    properties:
      data:
        properties:
          budgets:
            items:
              $ref: "#/definitions/BudgetSummary"
            type: array
          default_budget:
            $ref: "#/definitions/BudgetSummary"
            description: The default budget, if the associated application is configured to support specifying it
        required:
          - budgets
        type: object
    required:
      - data
    type: object
  BulkResponse:
    properties:
      data:
        properties:
          bulk:
            properties:
              duplicate_import_ids:
                description: If any Transactions were not created because they had an `import_id` matching a transaction already on the same account, the specified import_id(s) will be included in this list.
                items:
                  type: string
                type: array
              transaction_ids:
                description: The list of Transaction ids that were created.
                items:
                  type: string
                type: array
            required:
              - transaction_ids
              - duplicate_import_ids
            type: object
        required:
          - bulk
        type: object
    required:
      - data
    type: object
  BulkTransactions:
    properties:
      transactions:
        items:
          $ref: "#/definitions/SaveTransaction"
        type: array
    required:
      - transactions
    type: object
  CategoriesResponse:
    properties:
      data:
        properties:
          category_groups:
            items:
              $ref: "#/definitions/CategoryGroupWithCategories"
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - category_groups
          - server_knowledge
        type: object
    required:
      - data
    type: object
  Category:
    properties:
      activity:
        description: Activity amount in milliunits format
        format: int64
        type: integer
      balance:
        description: Balance in milliunits format
        format: int64
        type: integer
      budgeted:
        description: Budgeted amount in milliunits format
        format: int64
        type: integer
      category_group_id:
        format: uuid
        type: string
      deleted:
        description: Whether or not the category has been deleted.  Deleted categories will only be included in delta requests.
        type: boolean
      goal_creation_month:
        description: The month a goal was created
        format: date
        type: string
      goal_percentage_complete:
        description: The percentage completion of the goal
        format: int32
        type: integer
      goal_target:
        description: The goal target amount in milliunits
        format: int64
        type: integer
      goal_target_month:
        description: The target month for the goal to be completed.  Only some goal types specify this date.
        format: date
        type: string
      goal_type:
        description: The type of goal, if the category has a goal (TB='Target Category Balance', TBD='Target Category Balance by Date', MF='Monthly Funding', NEED='Plan Your Spending')
        enum:
          - TB
          - TBD
          - MF
          - NEED
          - null
        type: string
      hidden:
        description: Whether or not the category is hidden
        type: boolean
      id:
        format: uuid
        type: string
      name:
        type: string
      note:
        type: string
      original_category_group_id:
        description: If category is hidden this is the id of the category group it originally belonged to before it was hidden.
        format: uuid
        type: string
    required:
      - id
      - category_group_id
      - name
      - hidden
      - budgeted
      - activity
      - balance
      - deleted
    type: object
  CategoryGroup:
    properties:
      deleted:
        description: Whether or not the category group has been deleted.  Deleted category groups will only be included in delta requests.
        type: boolean
      hidden:
        description: Whether or not the category group is hidden
        type: boolean
      id:
        format: uuid
        type: string
      name:
        type: string
    required:
      - id
      - name
      - hidden
      - deleted
    type: object
  CategoryGroupWithCategories:
    allOf:
      - $ref: "#/definitions/CategoryGroup"
      - properties:
          categories:
            description: Category group categories.  Amounts (budgeted, activity, balance, etc.) are specific to the current budget month (UTC).
            items:
              $ref: "#/definitions/Category"
            type: array
        required:
          - categories
        type: object
  CategoryResponse:
    properties:
      data:
        properties:
          category:
            $ref: "#/definitions/Category"
        required:
          - category
        type: object
    required:
      - data
    type: object
  CurrencyFormat:
    description: The currency format setting for the budget.  In some cases the format will not be available and will be specified as null.
    properties:
      currency_symbol:
        type: string
      decimal_digits:
        format: int32
        type: integer
      decimal_separator:
        type: string
      display_symbol:
        type: boolean
      example_format:
        type: string
      group_separator:
        type: string
      iso_code:
        type: string
      symbol_first:
        type: boolean
    required:
      - iso_code
      - example_format
      - decimal_digits
      - decimal_separator
      - symbol_first
      - group_separator
      - currency_symbol
      - display_symbol
    type: object
  DateFormat:
    description: The date format setting for the budget.  In some cases the format will not be available and will be specified as null.
    properties:
      format:
        type: string
    required:
      - format
    type: object
  ErrorDetail:
    properties:
      detail:
        type: string
      id:
        type: string
      name:
        type: string
    required:
      - id
      - name
      - detail
    type: object
  ErrorResponse:
    properties:
      error:
        $ref: "#/definitions/ErrorDetail"
    required:
      - error
    type: object
  HybridTransaction:
    allOf:
      - $ref: "#/definitions/TransactionSummary"
      - properties:
          account_name:
            type: string
          category_name:
            type: string
          parent_transaction_id:
            description: For subtransaction types, this is the id of the parent transaction.  For transaction types, this id will be always be null.
            type: string
          payee_name:
            type: string
          type:
            description: Whether the hybrid transaction represents a regular transaction or a subtransaction
            enum:
              - transaction
              - subtransaction
            type: string
        required:
          - type
          - account_name
        type: object
  HybridTransactionsResponse:
    properties:
      data:
        properties:
          transactions:
            items:
              $ref: "#/definitions/HybridTransaction"
            type: array
        required:
          - transactions
        type: object
    required:
      - data
    type: object
  MonthDetail:
    allOf:
      - $ref: "#/definitions/MonthSummary"
      - properties:
          categories:
            description: The budget month categories.  Amounts (budgeted, activity, balance, etc.) are specific to the {month} parameter specified.
            items:
              $ref: "#/definitions/Category"
            type: array
        required:
          - categories
        type: object
  MonthDetailResponse:
    properties:
      data:
        properties:
          month:
            $ref: "#/definitions/MonthDetail"
        required:
          - month
        type: object
    required:
      - data
    type: object
  MonthSummariesResponse:
    properties:
      data:
        properties:
          months:
            items:
              $ref: "#/definitions/MonthSummary"
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - months
          - server_knowledge
        type: object
    required:
      - data
    type: object
  MonthSummary:
    properties:
      activity:
        description: "The total amount of transactions in the month, excluding those categorized to 'Inflow: To be Budgeted'"
        format: int64
        type: integer
      age_of_money:
        description: The Age of Money as of the month
        format: int32
        type: integer
      budgeted:
        description: The total amount budgeted in the month
        format: int64
        type: integer
      deleted:
        description: Whether or not the month has been deleted.  Deleted months will only be included in delta requests.
        type: boolean
      income:
        description: "The total amount of transactions categorized to 'Inflow: To be Budgeted' in the month"
        format: int64
        type: integer
      month:
        format: date
        type: string
      note:
        type: string
      to_be_budgeted:
        description: The available amount for 'To be Budgeted'
        format: int64
        type: integer
    required:
      - month
      - income
      - budgeted
      - activity
      - to_be_budgeted
      - deleted
    type: object
  Payee:
    properties:
      deleted:
        description: Whether or not the payee has been deleted.  Deleted payees will only be included in delta requests.
        type: boolean
      id:
        format: uuid
        type: string
      name:
        type: string
      transfer_account_id:
        description: If a transfer payee, the `account_id` to which this payee transfers to
        type: string
    required:
      - id
      - name
      - deleted
    type: object
  PayeeLocation:
    properties:
      deleted:
        description: Whether or not the payee location has been deleted.  Deleted payee locations will only be included in delta requests.
        type: boolean
      id:
        format: uuid
        type: string
      latitude:
        type: string
      longitude:
        type: string
      payee_id:
        format: uuid
        type: string
    required:
      - id
      - payee_id
      - latitude
      - longitude
      - deleted
    type: object
  PayeeLocationResponse:
    properties:
      data:
        properties:
          payee_location:
            $ref: "#/definitions/PayeeLocation"
        required:
          - payee_location
        type: object
    required:
      - data
    type: object
  PayeeLocationsResponse:
    properties:
      data:
        properties:
          payee_locations:
            items:
              $ref: "#/definitions/PayeeLocation"
            type: array
        required:
          - payee_locations
        type: object
    required:
      - data
    type: object
  PayeeResponse:
    properties:
      data:
        properties:
          payee:
            $ref: "#/definitions/Payee"
        required:
          - payee
        type: object
    required:
      - data
    type: object
  PayeesResponse:
    properties:
      data:
        properties:
          payees:
            items:
              $ref: "#/definitions/Payee"
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - payees
          - server_knowledge
        type: object
    required:
      - data
    type: object
  SaveAccount:
    properties:
      balance:
        description: The current balance of the account in milliunits format
        format: int64
        type: integer
      name:
        description: The name of the account
        type: string
      type:
        description: The account type
        enum:
          - checking
          - savings
          - creditCard
          - cash
          - lineOfCredit
          - otherAsset
          - otherLiability
        type: string
    required:
      - name
      - type
      - balance
    type: object
  SaveAccountWrapper:
    properties:
      account:
        $ref: "#/definitions/SaveAccount"
    required:
      - account
    type: object
  SaveCategoryResponse:
    properties:
      data:
        properties:
          category:
            $ref: "#/definitions/Category"
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - category
          - server_knowledge
        type: object
    required:
      - data
    type: object
  SaveMonthCategory:
    properties:
      budgeted:
        description: Budgeted amount in milliunits format
        format: int64
        type: integer
    required:
      - budgeted
    type: object
  SaveMonthCategoryWrapper:
    properties:
      category:
        $ref: "#/definitions/SaveMonthCategory"
    required:
      - category
    type: object
  SaveSubTransaction:
    properties:
      amount:
        description: The subtransaction amount in milliunits format.
        format: int64
        type: integer
      category_id:
        description: The category for the subtransaction.  Credit Card Payment categories are not permitted and will be ignored if supplied.
        format: uuid
        type: string
      memo:
        maxLength: 200
        type: string
      payee_id:
        description: The payee for the subtransaction.
        format: uuid
        type: string
      payee_name:
        description: The payee name.  If a `payee_name` value is provided and `payee_id` has a null value, the `payee_name` value will be used to resolve the payee by either (1) a matching payee rename rule (only if import_id is also specified on parent transaction) or (2) a payee with the same name or (3) creation of a new payee.
        maxLength: 50
        type: string
    required:
      - amount
    type: object
  SaveTransaction:
    properties:
      account_id:
        format: uuid
        type: string
      amount:
        description: The transaction amount in milliunits format.  Split transaction amounts cannot be changed and if a different amount is supplied it will be ignored.
        format: int64
        type: integer
      approved:
        description: Whether or not the transaction is approved.  If not supplied, transaction will be unapproved by default.
        type: boolean
      category_id:
        description: The category for the transaction.  To configure a split transaction, you can specify null for `category_id` and provide a `subtransactions` array as part of the transaction object.  If an existing transaction is a split, the `category_id` cannot be changed.  Credit Card Payment categories are not permitted and will be ignored if supplied.
        format: uuid
        type: string
      cleared:
        description: The cleared status of the transaction
        enum:
          - cleared
          - uncleared
          - reconciled
        type: string
      date:
        description: The transaction date in ISO format (e.g. 2016-12-01).  Future dates (scheduled transactions) are not permitted.  Split transaction dates cannot be changed and if a different date is supplied it will be ignored.
        format: date
        type: string
      flag_color:
        description: The transaction flag
        enum:
          - red
          - orange
          - yellow
          - green
          - blue
          - purple
          - null
        type: string
      import_id:
        description: "If specified, the new transaction will be assigned this `import_id` and considered \"imported\".  We will also attempt to match this imported transaction to an existing \"user-entered\" transation on the same account, with the same amount, and with a date +/-10 days from the imported transaction date.<br><br>Transactions imported through File Based Import or Direct Import (not through the API) are assigned an import_id in the format: 'YNAB:[milliunit_amount]:[iso_date]:[occurrence]'. For example, a transaction dated 2015-12-30 in the amount of -$294.23 USD would have an import_id of 'YNAB:-294230:2015-12-30:1'.  If a second transaction on the same account was imported and had the same date and same amount, its import_id would be 'YNAB:-294230:2015-12-30:2'.  Using a consistent format will prevent duplicates through Direct Import and File Based Import.<br><br>If import_id is omitted or specified as null, the transaction will be treated as a \"user-entered\" transaction. As such, it will be eligible to be matched against transactions later being imported (via DI, FBI, or API)."
        maxLength: 36
        type: string
      memo:
        maxLength: 200
        type: string
      payee_id:
        description: The payee for the transaction.  To create a transfer between two accounts, use the account transfer payee pointing to the target account.  Account transfer payees are specified as `tranfer_payee_id` on the account resource.
        format: uuid
        type: string
      payee_name:
        description: The payee name.  If a `payee_name` value is provided and `payee_id` has a null value, the `payee_name` value will be used to resolve the payee by either (1) a matching payee rename rule (only if `import_id` is also specified) or (2) a payee with the same name or (3) creation of a new payee.
        maxLength: 50
        type: string
      subtransactions:
        description: An array of subtransactions to configure a transaction as a split.  Updating `subtransactions` on an existing split transaction is not supported.
        items:
          $ref: "#/definitions/SaveSubTransaction"
        type: array
    required:
      - account_id
      - date
      - amount
    type: object
  SaveTransactionWrapper:
    properties:
      transaction:
        $ref: "#/definitions/SaveTransaction"
    required:
      - transaction
    type: object
  SaveTransactionsResponse:
    properties:
      data:
        properties:
          duplicate_import_ids:
            description: If multiple transactions were specified, a list of import_ids that were not created because of an existing `import_id` found on the same account
            items:
              type: string
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
          transaction:
            $ref: "#/definitions/TransactionDetail"
            description: If a single transaction was specified, the transaction that was saved
          transaction_ids:
            description: The transaction ids that were saved
            items:
              type: string
            type: array
          transactions:
            description: If multiple transactions were specified, the transactions that were saved
            items:
              $ref: "#/definitions/TransactionDetail"
            type: array
        required:
          - transaction_ids
          - server_knowledge
        type: object
    required:
      - data
    type: object
  SaveTransactionsWrapper:
    properties:
      transaction:
        $ref: "#/definitions/SaveTransaction"
      transactions:
        items:
          $ref: "#/definitions/SaveTransaction"
        type: array
    type: object
  ScheduledSubTransaction:
    properties:
      amount:
        description: The scheduled subtransaction amount in milliunits format
        format: int64
        type: integer
      category_id:
        format: uuid
        type: string
      deleted:
        description: Whether or not the scheduled subtransaction has been deleted.  Deleted scheduled subtransactions will only be included in delta requests.
        type: boolean
      id:
        format: uuid
        type: string
      memo:
        type: string
      payee_id:
        format: uuid
        type: string
      scheduled_transaction_id:
        format: uuid
        type: string
      transfer_account_id:
        description: If a transfer, the account_id which the scheduled subtransaction transfers to
        format: uuid
        type: string
    required:
      - id
      - scheduled_transaction_id
      - amount
      - deleted
    type: object
  ScheduledTransactionDetail:
    allOf:
      - $ref: "#/definitions/ScheduledTransactionSummary"
      - properties:
          account_name:
            type: string
          category_name:
            type: string
          payee_name:
            type: string
          subtransactions:
            description: If a split scheduled transaction, the subtransactions.
            items:
              $ref: "#/definitions/ScheduledSubTransaction"
            type: array
        required:
          - account_name
          - subtransactions
        type: object
  ScheduledTransactionResponse:
    properties:
      data:
        properties:
          scheduled_transaction:
            $ref: "#/definitions/ScheduledTransactionDetail"
        required:
          - scheduled_transaction
        type: object
    required:
      - data
    type: object
  ScheduledTransactionSummary:
    properties:
      account_id:
        format: uuid
        type: string
      amount:
        description: The scheduled transaction amount in milliunits format
        format: int64
        type: integer
      category_id:
        format: uuid
        type: string
      date_first:
        description: The first date for which the Scheduled Transaction was scheduled.
        format: date
        type: string
      date_next:
        description: The next date for which the Scheduled Transaction is scheduled.
        format: date
        type: string
      deleted:
        description: Whether or not the scheduled transaction has been deleted.  Deleted scheduled transactions will only be included in delta requests.
        type: boolean
      flag_color:
        description: The scheduled transaction flag
        enum:
          - red
          - orange
          - yellow
          - green
          - blue
          - purple
          - null
        type: string
      frequency:
        enum:
          - never
          - daily
          - weekly
          - everyOtherWeek
          - twiceAMonth
          - every4Weeks
          - monthly
          - everyOtherMonth
          - every3Months
          - every4Months
          - twiceAYear
          - yearly
          - everyOtherYear
        type: string
      id:
        format: uuid
        type: string
      memo:
        type: string
      payee_id:
        format: uuid
        type: string
      transfer_account_id:
        description: If a transfer, the account_id which the scheduled transaction transfers to
        format: uuid
        type: string
    required:
      - id
      - date_first
      - date_next
      - frequency
      - amount
      - account_id
      - deleted
    type: object
  ScheduledTransactionsResponse:
    properties:
      data:
        properties:
          scheduled_transactions:
            items:
              $ref: "#/definitions/ScheduledTransactionDetail"
            type: array
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
        required:
          - scheduled_transactions
          - server_knowledge
        type: object
    required:
      - data
    type: object
  SubTransaction:
    properties:
      amount:
        description: The subtransaction amount in milliunits format
        format: int64
        type: integer
      category_id:
        format: uuid
        type: string
      category_name:
        type: string
      deleted:
        description: Whether or not the subtransaction has been deleted.  Deleted subtransactions will only be included in delta requests.
        type: boolean
      id:
        type: string
      memo:
        type: string
      payee_id:
        format: uuid
        type: string
      payee_name:
        type: string
      transaction_id:
        type: string
      transfer_account_id:
        description: If a transfer, the account_id which the subtransaction transfers to
        format: uuid
        type: string
      transfer_transaction_id:
        description: If a transfer, the id of transaction on the other side of the transfer
        type: string
    required:
      - id
      - transaction_id
      - amount
      - deleted
    type: object
  TransactionDetail:
    allOf:
      - $ref: "#/definitions/TransactionSummary"
      - properties:
          account_name:
            type: string
          category_name:
            type: string
          payee_name:
            type: string
          subtransactions:
            description: If a split transaction, the subtransactions.
            items:
              $ref: "#/definitions/SubTransaction"
            type: array
        required:
          - account_name
          - subtransactions
        type: object
  TransactionResponse:
    properties:
      data:
        properties:
          transaction:
            $ref: "#/definitions/TransactionDetail"
        required:
          - transaction
        type: object
    required:
      - data
    type: object
  TransactionSummary:
    properties:
      account_id:
        format: uuid
        type: string
      amount:
        description: The transaction amount in milliunits format
        format: int64
        type: integer
      approved:
        description: Whether or not the transaction is approved
        type: boolean
      category_id:
        format: uuid
        type: string
      cleared:
        description: The cleared status of the transaction
        enum:
          - cleared
          - uncleared
          - reconciled
        type: string
      date:
        description: The transaction date in ISO format (e.g. 2016-12-01)
        format: date
        type: string
      deleted:
        description: Whether or not the transaction has been deleted.  Deleted transactions will only be included in delta requests.
        type: boolean
      flag_color:
        description: The transaction flag
        enum:
          - red
          - orange
          - yellow
          - green
          - blue
          - purple
          - null
        type: string
      id:
        type: string
      import_id:
        description: "If the Transaction was imported, this field is a unique (by account) import identifier.  If this transaction was imported through File Based Import or Direct Import and not through the API, the import_id will have the format: 'YNAB:[milliunit_amount]:[iso_date]:[occurrence]'.  For example, a transaction dated 2015-12-30 in the amount of -$294.23 USD would have an import_id of 'YNAB:-294230:2015-12-30:1'.  If a second transaction on the same account was imported and had the same date and same amount, its import_id would be 'YNAB:-294230:2015-12-30:2'."
        type: string
      matched_transaction_id:
        description: If transaction is matched, the id of the matched transaction
        type: string
      memo:
        type: string
      payee_id:
        format: uuid
        type: string
      transfer_account_id:
        description: If a transfer transaction, the account to which it transfers
        format: uuid
        type: string
      transfer_transaction_id:
        description: If a transfer transaction, the id of transaction on the other side of the transfer
        type: string
    required:
      - id
      - date
      - amount
      - cleared
      - approved
      - account_id
      - deleted
    type: object
  TransactionsImportResponse:
    properties:
      data:
        properties:
          transaction_ids:
            description: The list of transaction ids that were imported.
            items:
              type: string
            type: array
        required:
          - transaction_ids
        type: object
    required:
      - data
    type: object
  TransactionsResponse:
    properties:
      data:
        properties:
          server_knowledge:
            description: The knowledge of the server
            format: int64
            type: integer
          transactions:
            items:
              $ref: "#/definitions/TransactionDetail"
            type: array
        required:
          - transactions
          - server_knowledge
        type: object
    required:
      - data
    type: object
  UpdateTransaction:
    allOf:
      - properties:
          id:
            type: string
        required:
          - id
        type: object
      - $ref: "#/definitions/SaveTransaction"
  UpdateTransactionsWrapper:
    properties:
      transactions:
        items:
          $ref: "#/definitions/UpdateTransaction"
        type: array
    required:
      - transactions
    type: object
  User:
    properties:
      id:
        format: uuid
        type: string
    required:
      - id
    type: object
  UserResponse:
    properties:
      data:
        properties:
          user:
            $ref: "#/definitions/User"
        required:
          - user
        type: object
    required:
      - data
    type: object
