swagger: '2.0'
schemes:
  - https
  - http
host: forecastquery.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Provides APIs for creating and managing Amazon Forecast resources.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Forecast Query Service
  version: '2018-06-26'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/forecastquery-2018-06-26.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: forecastquery
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/forecastquery/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonForecastRuntime.QueryForecast':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves a forecast filtered by the supplied criteria.</p> <p>The criteria is a key-value pair. The key is either <code>item_id</code> (or the equivalent non-timestamp, non-target field) from the <code>TARGET_TIME_SERIES</code> dataset, or one of the forecast dimensions specified as part of the <code>FeaturizationConfig</code> object.</p> <p>By default, the complete date range of the filtered forecast is returned. Optionally, you can request a specific date range within the forecast.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same timezone as the dataset that was used to create the predictor.</p> </note>'
      operationId: QueryForecast
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/QueryForecastRequest'
        - enum:
            - AmazonForecastRuntime.QueryForecast
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/QueryForecastResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
definitions:
  Arn:
    maxLength: 256
    pattern: 'arn:([a-z\d-]+):forecast:.*:.*:.+'
    type: string
  AttributeName:
    maxLength: 256
    pattern: '^[a-zA-Z0-9\_\-]+$'
    type: string
  AttributeValue:
    maxLength: 256
    type: string
  DataPoint:
    description: The forecast value for a specific date. Part of the <a>Forecast</a> object.
    properties:
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp of the specific forecast.
      Value:
        $ref: '#/definitions/Double'
        description: The forecast value.
    type: object
  DateTime:
    maxLength: 20
    pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
    type: string
  Double:
    format: double
    type: number
  Filters:
    additionalProperties:
      $ref: '#/definitions/AttributeValue'
    maxProperties: 50
    minProperties: 1
    type: object
  Forecast:
    description: Provides information about a forecast. Returned as part of the <a>QueryForecast</a> response.
    properties:
      Predictions:
        $ref: '#/definitions/Predictions'
        description: '<p>The forecast.</p> <p>The <i>string</i> of the string to array map is one of the following values:</p> <ul> <li> <p>mean</p> </li> <li> <p>p10</p> </li> <li> <p>p50</p> </li> <li> <p>p90</p> </li> </ul>'
    type: object
  InvalidInputException: {}
  InvalidNextTokenException: {}
  LimitExceededException: {}
  NextToken:
    maxLength: 3000
    minLength: 1
    type: string
  Predictions:
    additionalProperties:
      $ref: '#/definitions/TimeSeries'
    type: object
  QueryForecastRequest:
    properties:
      EndDate:
        $ref: '#/definitions/DateTime'
        description: 'The end date for the forecast. Specify the date using this format: yyyy-MM-dd''T''HH:mm:ss''Z'' (ISO 8601 format). For example, "1970-01-01T00:00:00Z." '
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>The filtering criteria to apply when retrieving the forecast. For example:</p> <ul> <li> <p>To get a forecast for a specific item specify the following:</p> <p> <code>{"item_id" : "client_1"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for a specific item sold in a specific location, specify the following:</p> <p> <code>{"item_id" : "client_1", "location" : "ny"}</code> </p> </li> </ul> <ul> <li> <p>To get a forecast for all blue items sold in a specific location, specify the following:</p> <p> <code>{ "location" : "ny", "color":"blue"}</code> </p> </li> </ul> <p>To get the full forecast, use the operation.</p>'
      ForecastArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the forecast to query.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.'
      StartDate:
        $ref: '#/definitions/DateTime'
        description: 'The start date for the forecast. Specify the date using this format: yyyy-MM-dd''T''HH:mm:ss''Z'' (ISO 8601 format) For example, "1970-01-01T00:00:00Z."'
    required:
      - ForecastArn
      - Filters
    type: object
  QueryForecastResponse:
    properties:
      Forecast:
        $ref: '#/definitions/Forecast'
        description: The forecast.
    type: object
  ResourceInUseException: {}
  ResourceNotFoundException: {}
  Statistic:
    maxLength: 4
    type: string
  TimeSeries:
    items:
      $ref: '#/definitions/DataPoint'
    type: array
  Timestamp:
    maxLength: 20
    pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
    type: string
x-servers:
  - description: The Amazon Forecast Query Service multi-region endpoint
    url: 'http://forecastquery.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Forecast Query Service multi-region endpoint
    url: 'https://forecastquery.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Forecast Query Service endpoint for China (Beijing) and China (Ningxia)
    url: 'http://forecastquery.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon Forecast Query Service endpoint for China (Beijing) and China (Ningxia)
    url: 'https://forecastquery.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
