swagger: '2.0'
schemes:
  - https
  - http
host: metering.marketplace.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
  description: '<fullname>AWS Marketplace Metering Service</fullname> <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service API.</p> <p>AWS Marketplace sellers can use this API to submit usage data for custom usage dimensions.</p> <p> <b>Submitting Metering Records</b> </p> <ul> <li> <p> <i>MeterUsage</i>- Submits the metering record for a Marketplace product. MeterUsage is called from an EC2 instance.</p> </li> <li> <p> <i>BatchMeterUsage</i>- Submits the metering record for a set of customers. BatchMeterUsage is called from a software-as-a-service (SaaS) application.</p> </li> </ul> <p> <b>Accepting New Customers</b> </p> <ul> <li> <p> <i>ResolveCustomer</i>- Called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a Registration Token through the browser. The Registration Token is resolved through this API to obtain a CustomerIdentifier and Product Code.</p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWSMarketplace Metering
  version: '2016-01-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/meteringmarketplace-2016-01-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: metering.marketplace
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/marketplace/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  Action:
    in: header
    name: Action
    required: true
    type: string
  Version:
    in: header
    name: Version
    required: true
    type: string
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /:
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>BatchMeterUsage is called from a SaaS application listed on the AWS Marketplace to post metering records for a set of customers.</p> <p>For identical requests, the API is idempotent; requests can be retried with the same records or a subset of the input records.</p> <p>Every request to BatchMeterUsage is for one product. If you need to meter usage for multiple products, you must make multiple calls to BatchMeterUsage.</p> <p>BatchMeterUsage can process up to 25 UsageRecords at a time.</p>'
      operationId: BatchMeterUsage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchMeterUsageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchMeterUsageResult'
        '480':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '481':
          description: InvalidProductCodeException
          schema:
            $ref: '#/definitions/InvalidProductCodeException'
        '482':
          description: InvalidUsageDimensionException
          schema:
            $ref: '#/definitions/InvalidUsageDimensionException'
        '483':
          description: InvalidCustomerIdentifierException
          schema:
            $ref: '#/definitions/InvalidCustomerIdentifierException'
        '484':
          description: TimestampOutOfBoundsException
          schema:
            $ref: '#/definitions/TimestampOutOfBoundsException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#MeterUsage':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>API to emit metering records. For identical requests, the API is idempotent. It simply returns the metering record ID.</p> <p>MeterUsage is authenticated on the buyer''s AWS account, generally when running from an EC2 instance on the AWS Marketplace.</p>'
      operationId: MeterUsage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MeterUsageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MeterUsageResult'
        '480':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '481':
          description: InvalidProductCodeException
          schema:
            $ref: '#/definitions/InvalidProductCodeException'
        '482':
          description: InvalidUsageDimensionException
          schema:
            $ref: '#/definitions/InvalidUsageDimensionException'
        '483':
          description: InvalidEndpointRegionException
          schema:
            $ref: '#/definitions/InvalidEndpointRegionException'
        '484':
          description: TimestampOutOfBoundsException
          schema:
            $ref: '#/definitions/TimestampOutOfBoundsException'
        '485':
          description: DuplicateRequestException
          schema:
            $ref: '#/definitions/DuplicateRequestException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#ResolveCustomer':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'ResolveCustomer is called by a SaaS application during the registration process. When a buyer visits your website during the registration process, the buyer submits a registration token through their browser. The registration token is resolved through this API to obtain a CustomerIdentifier and product code.'
      operationId: ResolveCustomer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResolveCustomerRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResolveCustomerResult'
        '480':
          description: InvalidTokenException
          schema:
            $ref: '#/definitions/InvalidTokenException'
        '481':
          description: ExpiredTokenException
          schema:
            $ref: '#/definitions/ExpiredTokenException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
definitions:
  BatchMeterUsageRequest:
    description: 'A BatchMeterUsageRequest contains UsageRecords, which indicate quantities of usage within your application.'
    properties:
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.
      UsageRecords:
        $ref: '#/definitions/UsageRecordList'
        description: The set of UsageRecords to submit. BatchMeterUsage accepts up to 25 UsageRecords at a time.
    required:
      - UsageRecords
      - ProductCode
    type: object
  BatchMeterUsageResult:
    description: Contains the UsageRecords processed by BatchMeterUsage and any records that have failed due to transient error.
    properties:
      Results:
        $ref: '#/definitions/UsageRecordResultList'
        description: Contains all UsageRecords processed by BatchMeterUsage. These records were either honored by AWS Marketplace Metering Service or were invalid.
      UnprocessedRecords:
        $ref: '#/definitions/UsageRecordList'
        description: Contains all UsageRecords that were not processed by BatchMeterUsage. This is a list of UsageRecords. You can retry the failed request by making another BatchMeterUsage call with this list as input in the BatchMeterUsageRequest.
    type: object
  Boolean:
    type: boolean
  CustomerIdentifier:
    maxLength: 255
    minLength: 1
    type: string
  DuplicateRequestException:
    description: 'A metering record has already been emitted by the same EC2 instance for the given {usageDimension, timestamp} with a different usageQuantity.'
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  ExpiredTokenException:
    description: 'The submitted registration token has expired. This can happen if the buyer''s browser takes too long to redirect to your page, the buyer has resubmitted the registration token, or your application has held on to the registration token for too long. Your SaaS registration website should redeem this token as soon as it is submitted by the buyer''s browser.'
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InternalServiceErrorException:
    description: 'An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.'
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InvalidCustomerIdentifierException:
    description: You have metered usage for a CustomerIdentifier that does not exist.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InvalidEndpointRegionException:
    description: The endpoint being called is in a region different from your EC2 instance. The region of the Metering service endpoint and the region of the EC2 instance must match.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InvalidProductCodeException:
    description: The product code passed does not match the product code used for publishing the product.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InvalidTokenException:
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  InvalidUsageDimensionException:
    description: The usage dimension does not match one of the UsageDimensions associated with products.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  MeterUsageRequest:
    properties:
      DryRun:
        $ref: '#/definitions/Boolean'
        description: 'Checks whether you have the permissions required for the action, but does not make the request. If you have the permissions, the request returns DryRunOperation; otherwise, it returns UnauthorizedException.'
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: Product code is used to uniquely identify a product in AWS Marketplace. The product code should be the same as the one used during the publishing of a new product.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: 'Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.'
      UsageDimension:
        $ref: '#/definitions/UsageDimension'
        description: It will be one of the fcp dimension name provided during the publishing of the product.
      UsageQuantity:
        $ref: '#/definitions/UsageQuantity'
        description: Consumption value for the hour.
    required:
      - ProductCode
      - Timestamp
      - UsageDimension
      - UsageQuantity
      - DryRun
    type: object
  MeterUsageResult:
    properties:
      MeteringRecordId:
        $ref: '#/definitions/String'
    type: object
  NonEmptyString:
    pattern: \S+
    type: string
  ProductCode:
    maxLength: 255
    minLength: 1
    type: string
  ResolveCustomerRequest:
    description: Contains input to the ResolveCustomer operation.
    properties:
      RegistrationToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'When a buyer visits your website during the registration process, the buyer submits a registration token through the browser. The registration token is resolved to obtain a CustomerIdentifier and product code.'
    required:
      - RegistrationToken
    type: object
  ResolveCustomerResult:
    description: The result of the ResolveCustomer operation. Contains the CustomerIdentifier and product code.
    properties:
      CustomerIdentifier:
        $ref: '#/definitions/CustomerIdentifier'
        description: The CustomerIdentifier is used to identify an individual customer in your application. Calls to BatchMeterUsage require CustomerIdentifiers for each UsageRecord.
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: The product code is returned to confirm that the buyer is registering for your product. Subsequent BatchMeterUsage calls should be made using this product code.
    type: object
  String:
    type: string
  ThrottlingException:
    description: The calls to the MeterUsage API are throttled.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  Timestamp:
    format: date-time
    type: string
  TimestampOutOfBoundsException:
    description: The timestamp value passed in the meterUsage() is out of allowed range.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
    type: object
  UsageDimension:
    maxLength: 255
    minLength: 1
    type: string
  UsageQuantity:
    maximum: 1000000
    minimum: 0
    type: integer
  UsageRecord:
    description: '<p>A UsageRecord indicates a quantity of usage for a given product, customer, dimension and time.</p> <p>Multiple requests with the same UsageRecords as input will be deduplicated to prevent double charges.</p>'
    properties:
      CustomerIdentifier:
        $ref: '#/definitions/CustomerIdentifier'
        description: The CustomerIdentifier is obtained through the ResolveCustomer operation and represents an individual buyer in your application.
      Dimension:
        $ref: '#/definitions/UsageDimension'
        description: 'During the process of registering a product on AWS Marketplace, up to eight dimensions are specified. These represent different units of value in your application.'
      Quantity:
        $ref: '#/definitions/UsageQuantity'
        description: The quantity of usage consumed by the customer for the given dimension and time.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: '<p>Timestamp of the hour, recorded in UTC. The seconds and milliseconds portions of the timestamp will be ignored.</p> <p>Your application can meter usage for up to one hour in the past.</p>'
    required:
      - Timestamp
      - CustomerIdentifier
      - Dimension
      - Quantity
    type: object
  UsageRecordList:
    items:
      $ref: '#/definitions/UsageRecord'
    maxItems: 25
    minItems: 0
    type: array
  UsageRecordResult:
    description: A UsageRecordResult indicates the status of a given UsageRecord processed by BatchMeterUsage.
    properties:
      MeteringRecordId:
        $ref: '#/definitions/String'
        description: The MeteringRecordId is a unique identifier for this metering event.
      Status:
        $ref: '#/definitions/UsageRecordResultStatus'
        description: '<p>The UsageRecordResult Status indicates the status of an individual UsageRecord processed by BatchMeterUsage.</p> <ul> <li> <p> <i>Success</i>- The UsageRecord was accepted and honored by BatchMeterUsage.</p> </li> <li> <p> <i>CustomerNotSubscribed</i>- The CustomerIdentifier specified is not subscribed to your product. The UsageRecord was not honored. Future UsageRecords for this customer will fail until the customer subscribes to your product.</p> </li> <li> <p> <i>DuplicateRecord</i>- Indicates that the UsageRecord was invalid and not honored. A previously metered UsageRecord had the same customer, dimension, and time, but a different quantity.</p> </li> </ul>'
      UsageRecord:
        $ref: '#/definitions/UsageRecord'
        description: The UsageRecord that was part of the BatchMeterUsage request.
    type: object
  UsageRecordResultList:
    items:
      $ref: '#/definitions/UsageRecordResult'
    type: array
  UsageRecordResultStatus:
    enum:
      - Success
      - CustomerNotSubscribed
      - DuplicateRecord
    type: string
  errorMessage:
    type: string
