swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/47
info:
  description: 'Calculate word similarity.<BR />[Endpoint] https://api.apitore.com/api/47'
  title: WordNet Similarity APIs
  version: 0.0.1
  x-apisguru-categories:
    - text
  x-logo:
    url: 'https://apitore.com/img/apis/47.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/47'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: wordnetSimilarityApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Wordnet Similarity Controller
    name: wordnet-similarity-controller
paths:
  /wordnet-similarity/hirststonge:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/jiangconrath:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_1
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/leacockchodorow:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_2
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/lesk:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_3
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/lin:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_4
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/path:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_5
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/resnik:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_6
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
  /wordnet-similarity/wupalmer:
    get:
      description: 'WordNet similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: hirststongeUsingGET_7
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word1
          in: query
          name: word1
          required: true
          type: string
        - description: 'Part-of-speech1. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos1
          required: false
          type: string
        - description: Word2
          in: query
          name: word2
          required: true
          type: string
        - description: 'Part-of-speech2. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos2
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordnetSimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet Similarity WebAPI.
      tags:
        - wordnet-similarity-controller
definitions:
  WordnetSimilarityResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      method:
        description: Method
        type: string
      pos1:
        description: Pos1
        type: string
      pos2:
        description: Pos2
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      similarity:
        description: Similarity
        format: double
        type: number
      startTime:
        description: Start date
        type: string
      word1:
        description: Word1
        type: string
      word2:
        description: Word2
        type: string
    required:
      - endTime
      - log
      - method
      - processTime
      - similarity
      - startTime
      - word1
      - word2
    type: object
