openapi: 3.0.2
servers:
  - description: Velo Payments Sandbox for testing
    url: https://api.sandbox.velopayments.com/
  - description: Velo Payments Production URL
    url: https://api.payouts.velopayments.com
info:
  description: >
    ## Terms and Definitions


    Throughout this document and the Velo platform the following terms are used:


    * **Payor.** An entity (typically a corporation) which wishes to pay funds to one or more payees via a payout.

    * **Payee.** The recipient of funds paid out by a payor.

    * **Payment.** A single transfer of funds from a payor to a payee.

    * **Payout.** A batch of Payments, typically used by a payor to logically group payments (e.g. by business day). Technically there need be no relationship between the payments in a payout - a single payout can contain payments to multiple payees and/or multiple payments to a single payee.

    * **Sandbox.** An integration environment provided by Velo Payments which offers a similar API experience to the production environment, but all funding and payment events are simulated, along with many other services such as OFAC sanctions list checking.


    ## Overview


    The Velo Payments API allows a payor to perform a number of operations. The following is a list of the main capabilities in a natural order of execution:


    * Authenticate with the Velo platform

    * Maintain a collection of payees

    * Query the payor’s current balance of funds within the platform and perform additional funding

    * Issue payments to payees

    * Query the platform for a history of those payments


    This document describes the main concepts and APIs required to get up and running with the Velo Payments platform. It is not an exhaustive API reference. For that, please see the separate Velo Payments API Reference.


    ## API Considerations


    The Velo Payments API is REST based and uses the JSON format for requests and responses.


    Most calls are secured using OAuth 2 security and require a valid authentication access token for successful operation. See the Authentication section for details.


    Where a dynamic value is required in the examples below, the {token} format is used, suggesting that the caller needs to supply the appropriate value of the token in question (without including the { or } characters).


    Where curl examples are given, the –d @filename.json approach is used, indicating that the request body should be placed into a file named filename.json in the current directory. Each of the curl examples in this document should be considered a single line on the command-line, regardless of how they appear in print.


    ## Authenticating with the Velo Platform


    Once Velo backoffice staff have added your organization as a payor within the Velo platform sandbox, they will create you a payor Id, an API key and an API secret and share these with you in a secure manner.


    You will need to use these values to authenticate with the Velo platform in order to gain access to the APIs. The steps to take are explained in the following:


    create a string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API secret (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529


    base64 encode this string. E.g.: NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==


    create an HTTP **Authorization** header with the value set to e.g. Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==


    perform the Velo authentication REST call using the HTTP header created above e.g. via curl:


    ```
      curl -X POST \
      -H "Content-Type: application/json" \
      -H "Authorization: Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==" \
      'https://api.sandbox.velopayments.com/v1/authenticate?grant_type=client_credentials'
    ```


    If successful, this call will result in a **200** HTTP status code and a response body such as:


    ```
      {
        "access_token":"19f6bafd-93fd-4747-b229-00507bbc991f",
        "token_type":"bearer",
        "expires_in":1799,
        "scope":"..."
      }
    ```

    ## API access following authentication

    Following successful authentication, the value of the access_token field in the response (indicated in green above) should then be presented with all subsequent API calls to allow the Velo platform to validate that the caller is authenticated.


    This is achieved by setting the HTTP Authorization header with the value set to e.g. Bearer 19f6bafd-93fd-4747-b229-00507bbc991f such as the curl example below:


    ```
      -H "Authorization: Bearer 19f6bafd-93fd-4747-b229-00507bbc991f "
    ```


    If you make other Velo API calls which require authorization but the Authorization header is missing or invalid then you will get a **401** HTTP status response.
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Velo Payments APIs
  version: 2.24.95
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://avatars1.githubusercontent.com/u/38107746?s=200&v=4
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/velopaymentsapi/VeloOpenApi/master/spec/openapi.yaml
      version: "3.0"
  x-preferred: true
  x-providerName: velopayments.com
security:
  - OAuth2: []
tags:
  - description: >
      A payee is a person you wish to transfer money to. In this section you will find API opertions for working with Payees.
    name: Payees
  - description: Payee invitation is a process of inviting individual payees to the Velo platform. In this sction you will find APIs for working with Payee Invitations.
    name: Payee Invitation
  - description: A Payor is the entity which is sending money. Here you will find the available APIs for working with Payors.
    name: Payors
  - description: Payout Service APIs allow you to create and instruct payouts to payees.
    name: Payouts
  - description: Payment Audit Service APIs allow you to see the history of fundings, payouts, and payments to payees.
    name: Payment Audit Service
  - description: >
      <p>When a payor creates a payee then an invite token is emailed to the invited payee</p>

      <p>Payees use this token to onboard to the platform</p>

      <p>There are several required tasks that the payee must perform before they are accepted onto the platform</p>
    name: Invites
  - description: >
      <p>Verification tokens allow users to complete authenitcation flows such as user invite, MFA registration and password reset</p>

      <p>Tokens have an expiry and are one-time use only</p>
    name: Tokens
  - description: >
      <p>This document, including all counts herein, and the Velo Payments API are the intellectual property

      of Velo Payments. The Velo Payment API and your use of the Velo Payment API, is goverend by and subject to the

      Velo Payments Terms of Use</p>

      <p>&copy; Velo Payments, Inc.</p>
    name: Legal
paths:
  /v1/authenticate:
    post:
      description: >
        Use this endpoint to obtain an access token for calling Velo Payments APIs. Use HTTP Basic Auth. String value of

        Basic and a Base64 endcoded string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API

        secret  (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. Basic 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529
      operationId: veloAuth
      parameters:
        - description: OAuth grant type. Should use 'client_credentials'
          in: query
          name: grant_type
          schema:
            default: client_credentials
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Valid Authenication response
          headers:
            Cache-Control:
              description: Ensure clients do not cache request
              required: true
              schema:
                default: no-store
                type: string
            Pragma:
              description: Ensure clients do not cache request
              required: true
              schema:
                default: no-cache
                type: string
      security:
        - basicAuth: []
      summary: Authentication endpoint
      tags:
        - Login
  /v1/deltas/fundings:
    get:
      description: Get funding audit deltas for a payor
      operationId: listFundingAuditDeltas
      parameters:
        - in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: updatedSince
          required: true
          schema:
            format: date-time
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResourceFundingPayorStatusAuditResponseFundingPayorStatusAuditResponse"
          description: Funding Account Deltas
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Get Funding Audit Delta
      tags:
        - Funding Manager
  /v1/deltas/payees:
    get:
      deprecated: true
      description: >
        <p>Get a paginated response listing payee changes.</p>

        <p>Please use V3 instead.</p>
      operationId: listPayeeChanges
      parameters:
        - description: The Payor ID to find associated Payees
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
          x-contracts:
            - contractId: 1
              matchers:
                - type: equal_to
                  value: 0a818933-087d-47f2-ad83-2f986ed087eb
              value: 0a818933-087d-47f2-ad83-2f986ed087eb
        - description: The updatedSince filter in the format YYYY-MM-DDThh:mm:ss+hh:mm
          in: query
          name: updatedSince
          required: true
          schema:
            format: date-time
            type: string
          x-contracts:
            - contractId: 1
              matchers:
                - type: equal_to
                  value: 2019-01-20T09:00:00+00:00
              value: 2019-01-20T09:00:00+00:00
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            example: 1
            format: int32
            type: integer
        - description: Page size. Default is 100. Max allowable is 1000.
          in: query
          name: pageSize
          required: false
          schema:
            default: 100
            example: 100
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayeeDeltaResponse"
          description: Details of Payee Changes
          x-contracts: null
        "400":
          description: Bad Request
      summary: List Payee Changes
      tags:
        - Payees
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/deltas/payees?pageSize=2&page=8&payorId=0a818933-087d-47f2-ad83-2f986ed087eb&updatedSince=2019-01-20T09:00:00+00:00' -i -X GET \
                -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          ignored: true
          name: Test List Payee Changes V1
          request:
            queryParameters:
              - key: page
                value: 1
              - key: pageSize
                value: 30
          serviceName: payee-service
  /v1/deltas/payments:
    get:
      description: Get a paginated response listing payment changes.
      operationId: listPaymentChanges
      parameters:
        - description: The Payor ID to find associated Payments
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: The updatedSince filter in the format YYYY-MM-DDThh:mm:ss+hh:mm
          in: query
          name: updatedSince
          required: true
          schema:
            format: date-time
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 100
            format: int32
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentDeltaResponse"
          description: Details of Payment Changes
        "400":
          description: Bad Request
      summary: List Payment Changes
      tags:
        - Payment Audit Service
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/deltas/payments?pageSize=2&page=8&payorId=0a818933-087d-47f2-ad83-2f986ed087eb&updatedSince=2019-01-20T09:00:00+00:00' -i -X GET \
                -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \
                -H 'Content-Type: application/json'
  /v1/fundingAccounts:
    get:
      deprecated: true
      description: Get the funding accounts.
      operationId: getFundingAccounts
      parameters:
        - in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
        - in: query
          name: sourceAccountId
          required: false
          schema:
            format: uuid
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: List of sort fields (e.g. ?sort=accountName:asc,name:asc) Default is accountName:asc The supported sort fields are - accountName, name and currency.
          in: query
          name: sort
          required: false
          schema:
            default: accountName:asc
            pattern: "[a-zA-Z]+[:desc|:asc]"
            type: string
        - in: query
          name: sensitive
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFundingAccountsResponse"
          description: Get Funding Accounts Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Get Funding Accounts
      tags:
        - Funding Manager
  "/v1/fundingAccounts/{fundingAccountId}":
    get:
      deprecated: true
      description: Get Funding Account by ID
      operationId: getFundingAccount
      parameters:
        - in: path
          name: fundingAccountId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: sensitive
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingAccountResponse"
          description: Funding Account Response
        "400":
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get Funding Account
      tags:
        - Funding Manager
  /v1/logout:
    post:
      description: >
        <p>Given a valid access token in the header then log out the authenticated user or client </p>

        <p>Will revoke the token</p>
      operationId: logout
      responses:
        "204":
          description: User has been logged out
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Logout
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/logout' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8'
  /v1/password/reset:
    post:
      description: >
        <p>Reset password </p>

        <p>An email with an embedded link will be sent to the receipient of the email address </p>

        <p>The link will contain a token to be used for resetting the password </p>
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        description: An Email address to send the reset password link to
        required: true
      responses:
        "204":
          description: the request was accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
      security: []
      summary: Reset password
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/password/reset' -i -X POST \
                  -H 'Content-Type: application/json' \
                  -d '{"email":"foo@example.com"}'
  /v1/payees:
    get:
      deprecated: true
      description: >
        <p>Get a paginated response listing the payees for a payor.</p>

        <p>Please use V3 instead.</>
      operationId: listPayeesV1
      parameters:
        - description: The account owner Payor ID
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
          x-contracts:
            - contractId: 1
              matchers:
                - type: equal_to
                  value: 0a818933-087d-47f2-ad83-2f986ed087eb
              value: 0a818933-087d-47f2-ad83-2f986ed087eb
        - description: The ofacStatus of the payees.
          in: query
          name: ofacStatus
          required: false
          schema:
            $ref: "#/components/schemas/OfacStatus"
        - description: The onboarded status of the payees.
          in: query
          name: onboardedStatus
          required: false
          schema:
            $ref: "#/components/schemas/OnboardedStatus"
        - description: Email address
          in: query
          name: email
          required: false
          schema:
            example: bob@example.com
            format: email
            type: string
        - description: The display name of the payees.
          in: query
          name: displayName
          required: false
          schema:
            example: Bob Smith
            type: string
        - description: The remote id of the payees.
          in: query
          name: remoteId
          required: false
          schema:
            example: remoteId123
            type: string
        - description: The onboarded status of the payees.
          in: query
          name: payeeType
          required: false
          schema:
            $ref: "#/components/schemas/PayeeType"
        - description: The country of the payee - 2 letter ISO 3166-1 country code (upper case)
          in: query
          name: payeeCountry
          required: false
          schema:
            example: US
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            example: 1
            format: int32
            type: integer
        - description: Page size. Default is 25. Max allowable is 100.
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            example: 25
            format: int32
            type: integer
        - description: >
            List of sort fields (e.g. ?sort=onboardedStatus:asc,name:asc) Default is name:asc 'name' is treated as company name for companies - last name + ',' + firstName for individuals The supported sort fields are - payeeId, displayName, payoutStatus, onboardedStatus.
          in: query
          name: sort
          required: false
          schema:
            default: displayName:asc
            example: displayName:asc
            pattern: "[a-zA-Z]+[:desc|:asc]"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedPayeeResponse"
          description: Details of Payee
          x-contracts:
            - body:
                content:
                  - payeeId: ee2cc9a1-34dd-4ab6-91e3-db111d08d995
                links:
                  - href: https://api.sandbox.velopayments.com/v1/payees?payorId=1982b223-73b7-419d-a2e1-e64362b0ee8b&page=1&pageSize=2&sort=displayName:asc
                    rel: first
                page:
                  numberOfElements: 1
                  page: 9,
                  pageSize: 2
                  totalElements: 1
                  totalPages: 23
              contractId: 1
              headers:
                Content-Type: application/json
              matchers:
                body:
                  - path: $.page.numberOfElements
                    predefined: number
                    type: by_regex
                  - path: $.page.totalElements
                    predefined: number
                    type: by_regex
                  - path: $.page.totalPages
                    predefined: number
                    type: by_regex
                  - path: $.page.page
                    predefined: number
                    type: by_regex
                  - path: $.page.pageSize
                    predefined: number
                    type: by_regex
                  - maxOccurrence: 5
                    minOccurrence: 1
                    path: $.links
                    type: by_type
                  - path: $.links[0].href
                    predefined: url
                    type: by_regex
                  - minOccurrence: 1
                    path: $.content
                    type: by_type
                  - path: $.content[0].payeeId
                    predefined: uuid
                    type: by_regex
                  - path: $.content[0].email
                    predefined: email
                    type: by_regex
                  - path: $.content[0].created
                    type: by_regex
                    value: ([\d]{4})-([\d]{2})-([\d]{2})T([\d]{2}):([\d]{2}):([\d]{2})*(.([\d]{1,3}))Z
                  - path: $.content[0].payorRefs[0].payorId
                    predefined: uuid
                    type: by_regex
                headers:
                  - key: Content-Type
                    regex: application/json.*
        "400":
          description: Bad Request
        "404":
          description: Not Found
      summary: List Payees V1
      tags:
        - Payees
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payees?pageSize=2&page=8&payorId=9cade13d-0c55-41a7-9e6d-164e8b138b40&ofacStatus=PASSED&onboardedStatus=INVITED&email=foo@example.com&displayName=Bar&remoteId=remote&payeeCountry=US&payeeType=Individual' -i -X GET \
                -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          headers:
            Content-Type: application/json
          name: Test List Payees All params for v1
          request:
            queryParameters:
              - key: page
                value: 1
              - key: pageSize
                value: 30
              - key: ofacStatus
                value: PASSED
              - key: onboardedStatus
                value: CREATED
              - key: email
                value: testemail@example.com
              - key: displayName
                value: foo
              - key: remoteId
                value: 123123123asdf
              - key: payeeType
                value: Individual
              - key: payeeCountry
                value: US
          serviceName: payee-service
  "/v1/payees/payors/{payorId}/invitationStatus":
    get:
      deprecated: true
      description: >
        <p>Returns a list of payees associated with a payor, along with invitation status and grace period end date.</p>

        <p>Please use V3 instead</p>
      operationId: getPayeesInvitationStatusV1
      parameters:
        - description: The account owner Payor ID
          in: path
          name: payorId
          required: true
          schema:
            example: 9ac75325-5dcd-42d5-b992-175d7e0a035e
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationStatusResponse"
          description: Get Payees with Invitaion status
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get Payee Invitation Status
      tags:
        - Payee Invitation
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payees/payors/77f84ae9-42df-49d7-941b-47360347f86f/invitationStatus' -i -X GET \
                -H 'Authorization: Bearer ed73aa9a-b51b-44cb-a8e9-11e2fb85046b'
  "/v1/payees/{payeeId}":
    delete:
      deprecated: true
      description: >
        <p>This API will delete Payee by Id (UUID). Deletion by ID is not allowed if:</p>

        <p>* Payee ID is not found</p>

        <p>* If Payee has not been on-boarded</p>

        <p>* If Payee is in grace period</p>

        <p>* If Payee has existing payments</p>

        <p>Please use V3 instead.</p>
      operationId: deletePayeeByIdV1
      parameters:
        - description: The UUID of the payee.
          in: path
          name: payeeId
          required: true
          schema:
            example: 2aa5d7e0-2ecb-403f-8494-1865ed0454e9
            format: uuid
            type: string
      responses:
        "204":
          description: No content. Payee Id accepted for deletion.
          x-contracts:
            - contractId: 1
        "400":
          description: Bad Request. Payee Id failed validation for deletion.
        "404":
          description: Payee Id not found
          x-contracts:
            - contractId: 2
      summary: Delete Payee by Id
      tags:
        - Payees
    get:
      deprecated: true
      description: >
        <p>Get Payee by Id</p>

        <p>Please use V3 instead.</p>
      operationId: getPayeeByIdV1
      parameters:
        - description: The UUID of the payee.
          in: path
          name: payeeId
          required: true
          schema:
            example: 2aa5d7e0-2ecb-403f-8494-1865ed0454e9
            format: uuid
            type: string
        - description: >
            Optional. If omitted or set to false, any Personal Identifiable Information (PII) values are returned masked.

            If set to true, and you have permission, the PII values will be returned as their original unmasked values.
          in: query
          name: sensitive
          required: false
          schema:
            type: boolean
          x-contracts:
            - contractId: 4
              value: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payee"
          description: Success response, request completed okay
          x-contracts:
            - body:
                address:
                  city: San Francisco
                  country: US
                  countyOrProvince: California
                  line1: 100 Battery Street
                  line2: line2
                  line3: line3
                  line4: line4
                  zipOrPostcode: 94018
                email: bob@example.com
                individual:
                  dateOfBirth: XXXX-XX-XX
                  name:
                    firstName: Barney
                    lastName: Cuthbert
                    otherNames: Grubb
                    title: Mr
                  nationalIdentification: XXXXX4321
                language: FR
                marketingOptIns:
                  - optedIn: true
                ofacStatus: PENDING
                onboardedStatus: CREATED
                payeeId: 2aa5d7e0-2ecb-403f-8494-1865ed0454e9
              contractId: 1
              headers:
                Content-Type: application/json
              matchers:
                body:
                  - path: $.gracePeriodEndDate
                    type: by_regex
                    value: ([\d]{4})-([\d]{2})-([\d]{2})
                  - path: $.created
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.acceptTermsAndConditionsTimestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.lastOfacCheckTimestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.marketingOptIns[*].timestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.payorRefs[*].payorId
                    predefined: uuid
                    type: by_regex
                  - path: $.payorRefs[*].remoteId
                    predefined: non_blank
                    type: by_regex
                  - path: $.payorRefs[*].invitationStatus
                    predefined: non_blank
                    type: by_regex
                  - path: $.cellphoneNumber
                    predefined: non_blank
                    type: by_regex
            - body:
                address:
                  city: San Francisco
                  country: US
                  countyOrProvince: California
                  line1: 100 Battery Street
                  line2: line2
                  line3: line3
                  line4: line4
                  zipOrPostcode: 94018
                company:
                  name: WIDGET CORP
                  taxId: 223344556
                email: bob@example.com
                language: FR
                marketingOptIns:
                  - optedIn: true
                ofacStatus: PENDING
                onboardedStatus: CREATED
                payeeId: 01b51877-2a17-427a-b2b0-d73f2b136315
              contractId: 2
              headers:
                Content-Type: application/json
              matchers:
                body:
                  - path: $.gracePeriodEndDate
                    type: by_regex
                    value: ([\d]{4})-([\d]{2})-([\d]{2})
                  - path: $.created
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.acceptTermsAndConditionsTimestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.lastOfacCheckTimestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.marketingOptIns[*].timestamp
                    type: by_regex
                    value: ([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*
                  - path: $.payorRefs[*].payorId
                    predefined: uuid
                    type: by_regex
                  - path: $.payorRefs[*].remoteId
                    predefined: non_blank
                    type: by_regex
                  - path: $.payorRefs[*].invitationStatus
                    predefined: non_blank
                    type: by_regex
                  - path: $.cellphoneNumber
                    predefined: non_blank
                    type: by_regex
            - body:
                individual:
                  dateOfBirth: 1970-05-20
                  name:
                    firstName: Barney
                    lastName: Cuthbert
                    otherNames: Grubb
                    title: Mr
                  nationalIdentification: 987654321
                payeeId: 026cc3c8-3a0c-4083-a05b-e908048c1b08
              contractId: 4
              headers:
                Content-Type: application/json
        "404":
          description: Payee Not found
          x-contracts:
            - contractId: 3
      summary: Get Payee by Id
      tags:
        - Payees
      x-contracts:
        - contractId: 1
          contractPath: /v1/payees/2aa5d7e0-2ecb-403f-8494-1865ed0454e9
          name: Get Individual Payee v1
          serviceName: payee-service
        - contractId: 2
          contractPath: /v1/payees/01b51877-2a17-427a-b2b0-d73f2b136315
          name: Get Company Payee v1
          serviceName: payee-service
        - contractId: 3
          contractPath: /v1/payees/e67cbda6-c031-4aae-8e72-922fe76c7a24
          name: Payee Id Not Found v1
          serviceName: payee-service
        - contractId: 4
          contractPath: /v1/payees/026cc3c8-3a0c-4083-a05b-e908048c1b08
          name: Get Payee sensitve true v1
          serviceName: payee-service
  "/v1/payees/{payeeId}/invite":
    post:
      deprecated: true
      description: >
        <p>Resend an invite to the Payee The payee must have already been invited by the payor and not yet accepted or declined</p>

        <p>Any previous invites to the payee by this Payor will be invalidated</p>

        <p>Deprecated. Please use v3 instead</p>
      operationId: resendPayeeInviteV1
      parameters:
        - description: The UUID of the payee.
          in: path
          name: payeeId
          required: true
          schema:
            example: 2aa5d7e0-2ecb-403f-8494-1865ed0454e9
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitePayeeRequest"
        description: Provide Payor Id in body of request
        required: true
      responses:
        "200":
          description: the request was accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_409"
          description: >
            The request contained data that would result in a duplicate value
      summary: Resend Payee Invite
      tags:
        - Payee Invitation
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payees/5032e339-2e24-4fca-bfc9-f6a66e3157dd/invite' -i -X POST \
                -H 'Authorization: Bearer 5e40dde3-ff1c-4d69-94b0-3a6e96fd789e' \
                -H 'Content-Type: application/json' \
                -d '{"payorId":"545e29bd-75a8-4354-8192-ae68bab59d7b"}'
  "/v1/payees/{payeeId}/remoteIdUpdate":
    post:
      deprecated: true
      description: >
        <p>Update the remote Id for the given Payee Id.</p>

        <p>Please use V3 instead</p>
      parameters:
        - description: The UUID of the payee.
          in: path
          name: payeeId
          required: true
          schema:
            example: 2aa5d7e0-2ecb-403f-8494-1865ed0454e9
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRemoteIdRequest"
        description: Request to update payee remote id v1
        required: true
      responses:
        "202":
          description: Accepted, No Content
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_409"
          description: >
            The request contained data that would result in a duplicate value
      summary: Update Payee Remote Id
      tags:
        - Payees
  /v1/paymentChannelRules:
    get:
      description: List the country specific payment channel rules.
      operationId: listPaymentChannelRulesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentChannelRulesResponse"
          description: List Payment Channel Country Rules
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
      summary: List Payment Channel Country Rules
      tags:
        - Countries
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentChannelRules' -i -X GET \
                -H 'Authorization: Bearer 63fa49a0-1eeb-4756-b4fb-7cdd94ae80c1'
  /v1/paymentaudit/fundings:
    get:
      deprecated: true
      description: >
        <p>Get a list of Fundings for a payor.</p>

        <p>Deprecated (use v4/paymentaudit/fundings)</p>
      operationId: getFundingsV1
      parameters:
        - description: The account owner Payor ID
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            List of sort fields. Example: ```?sort=destinationCurrency:asc,destinationAmount:asc```

            Default is no sort. The supported sort fields are: dateTime and amount.
          in: query
          name: sort
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFundingsResponse"
          description: Get Fundings normal response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get Fundings for Payor
      tags:
        - Payment Audit Service
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentaudit/fundings?payorId=2a5d8af2-a1ed-4d7f-b9a7-ebe4b333be5a' -i -X GET \
                -H 'Authorization: Bearer 3667f994-7d41-4d20-990d-b79fa720e56b'
  /v1/paymentaudit/payoutStatistics:
    get:
      deprecated: true
      description: >
        <p>Get payout statistics for a payor.</p>

        <p>Deprecated (Use /v4/paymentaudit/payoutStatistics)</p>
      operationId: getPayoutStatsV1
      parameters:
        - description: The account owner Payor ID. Required for external users.
          in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPayoutStatistics"
          description: Payout Statistics response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get Payout Statistics
      tags:
        - Payment Audit Service
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentaudit/payoutStatistics?payorId=c61b32ac-8e50-433e-9372-b5b1c8180742' -i -X GET \
                -H 'Authorization: Bearer e71d3dfe-3587-4df6-9f8d-59d3135d7bf7'
  "/v1/payments/{paymentId}/withdraw":
    post:
      description: >
        <p>withdraw a payment </p>

        <p>There are a variety of reasons why this can fail</p>

        <ul>
            <li>the payment must be in a state of 'accepted' or 'unfunded'</li>
            <li>the payout must not be in a state of 'instructed'</li>
        </ul>
      operationId: withdrawPayment
      parameters:
        - description: Id of the Payment
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawPaymentRequest"
        description: details for withdrawal
        required: true
      responses:
        "204":
          description: The payment was withdrawn
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Withdraw a Payment
      tags:
        - Payout Service
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payments/b39264fc-560e-4fa6-b6c3-b12d42e14596/withdraw' -i -X POST \

            -H 'Authorization: Bearer 63e4d691-847b-46b5-893d-fd15c54dd4bf' \

            -H 'Content-Type: application/json' \

            -d '{"reason": "payment submitted in error"}'
  /v1/payorLinks:
    get:
      description: This endpoint allows you to list payor links
      operationId: payorLinks
      parameters:
        - description: The Payor ID from which to start the query to show all descendants
          in: query
          name: descendantsOfPayor
          required: false
          schema:
            format: uuid
            type: string
        - description: Look for the parent payor details for this payor id
          in: query
          name: parentOfPayor
          required: false
          schema:
            format: uuid
            type: string
        - description: >
            List of additional Payor fields to include in the response for each Payor.

            The values of payorId and payorName and always included for each Payor - 'fields' allows you to add to this.

            Example: ```fields=primaryContactEmail,kycState``` - will include payorId+payorName+primaryContactEmail+kycState for each Payor

            Default if not specified is to include only payorId and payorName.

            The supported fields are any combination of: primaryContactEmail,kycState
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorLinksResponse"
          description: Details of Payor Links
          x-contracts:
            - body:
                links:
                  - fromPayorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    linkId: 65514617-d18d-4bb4-8cee-09b3e7625fc9
                    linkType: PARENT_OF
                    toPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                  - fromPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    linkId: 6a91b045-6f42-4f9f-a627-f97f66d39bef
                    linkType: PARENT_OF
                    toPayorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                payors:
                  - payorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    payorName: Payor One
                  - payorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    payorName: Payor Two
                  - payorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                    payorName: Payor Three
              contractId: 1
              headers:
                Content-Type: application/json
              matchers:
                headers:
                  - key: Content-Type
                    regex: application/json.*
            - body:
                links:
                  - fromPayorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    linkId: 65514617-d18d-4bb4-8cee-09b3e7625fc9
                    linkType: PARENT_OF
                    toPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                  - fromPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    linkId: 6a91b045-6f42-4f9f-a627-f97f66d39bef
                    linkType: PARENT_OF
                    toPayorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                payors:
                  - kycState: FAILED_KYC
                    payorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    payorName: Payor One
                    primaryContactEmail: payorone@somewhere.com
                  - kycState: PASSED_KYC
                    payorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    payorName: Payor Two
                    primaryContactEmail: payortwo@anothersite.com
                  - kycState: REQUIRES_KYC
                    payorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                    payorName: Payor Three
                    primaryContactEmail: payorthree@example.com
              contractId: 2
              headers:
                Content-Type: application/json
              matchers:
                headers:
                  - key: Content-Type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: List Payor Links
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payorLinks?descendantsOfPayor=0a818933-087d-47f2-ad83-2f986ed087eb' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          ignored: true
          name: Test List Payor Links - default Payor fields
          request:
            queryParameters:
              - key: descendantsOfPayor
                value: 0a818933-087d-47f2-ad83-2f986ed087eb
          serviceName: payor-service
        - contractId: 2
          ignored: true
          name: Test List Payor Links - all Payor fields requested
          request:
            queryParameters:
              - key: descendantsOfPayor
                value: 0a818933-087d-47f2-ad83-2f986ed087eb
              - key: fields
                value: primaryContactEmail,kycState
          serviceName: payor-service
    post:
      description: This endpoint allows you to create a payor link.
      operationId: createPayorLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePayorLinkRequest"
        description: Request to create a payor link
        required: true
      responses:
        "201":
          description: HTTP Creeated
          headers:
            Location:
              description: URI to location of created resource
              schema:
                example: http://example.com/resourcepath/123123123
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      security:
        - oAuthVeloBackOffice: []
      summary: Create a Payor Link
      tags:
        - Payors Private
  "/v1/payors/{payorId}":
    get:
      deprecated: true
      description: >
        Get a Single Payor by Id.
      operationId: getPayorById
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorV1"
          description: Get Payor Details
          x-contracts:
            - body:
                address:
                  city: San Francisco
                  country: US
                  line1: 101 California Street
                  zipOrPostcode: "94111"
                allowsLanguageChoice: false
                collectiveAlias: MyAlias
                dbaName: FlyByNight, Inc
                kycState: PASSED_KYC
                language: EN
                manualLockout: false
                maxMasterPayorAdmins: 2
                payeeGracePeriodDays: 90
                payeeGracePeriodProcessingEnabled: true
                payorId: 0a818933-087d-47f2-ad83-2f986ed087eb
                payorName: Joe
                primaryContactEmail: foo@example.com
                primaryContactName: Joe
                primaryContactPhone: 1231231234
                reminderEmailsOptOut: false
                supportContact: support@example.com
              contractId: 1
              headers:
                Content-Type: application/json;charset=UTF-8
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Get Payor
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/126969bd-6a18-47ec-96e1-57559afecf32' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb
          name: Test Get Payor
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000
          name: Test Payor Not Found
          serviceName: payor-service
  "/v1/payors/{payorId}/applications":
    post:
      description: Create an application for the given Payor ID. Applications are programatic users which can be assigned unique keys.
      operationId: payorCreateApplicationRequest
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorCreateApplicationRequest"
        description: Details of application to create
        required: true
        x-contracts:
          - body:
              description: a foo application
              name: foo
            contractId: 1
            headers:
              Content-Type: application/json
            matchers:
              body:
                - path: $.name
                  predefined: non_empty
                  type: by_regex
                - path: $.description
                  predefined: non_empty
                  type: by_regex
              headers:
                - key: Content-Type
                  regex: application/json.*
      responses:
        "201":
          description: Success
          headers:
            Location:
              description: location
              schema:
                type: string
          x-contracts:
            - contractId: 1
              mathers:
                headers:
                  - key: Location
                    predefined: non_blank
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_409"
          description: >
            The request contained data that would result in a duplicate value
      summary: Create Application
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \
                -d '{"name":"foo","description":"a foo application"}'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/835ac62e-616c-4261-bf38-63366db78c0d/applications
          name: Test Create Application
          serviceName: payor-service
  "/v1/payors/{payorId}/applications/{applicationId}/keys":
    post:
      description: Create an an API key for the given payor Id and application Id
      operationId: payorCreateApiKeyRequest
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: Application ID
          in: path
          name: applicationId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorCreateApiKeyRequest"
        description: Details of application API key to create
        required: true
        x-contracts:
          - body:
              description: A key description
              name: Key Name
              roles:
                - payor.admin
            contractId: 4
            headers:
              Content-Type: application/json
            matchers:
              body:
                - path: $.name
                  predefined: non_empty
                  type: by_regex
                - path: $.description
                  predefined: non_empty
                  type: by_regex
                - path: $.roles
                  predefined: non_empty
                  type: by_regex
              headers:
                - key: Content-Type
                  regex: application/json.*
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorCreateApiKeyResponse"
          description: HTTP Ok, key created
          x-contracts:
            - body:
                apiKey: 385d4506-e7dd-446e-a092-5f30b98e7b26
                apiSecret: f25767d9-342a-48ac-a788-0a7a38ae6fb3
              contractId: 4
              headers:
                Content-Type: application/json
              matchers:
                body:
                  - path: $.apiKey
                    predefined: non_empty
                    type: by_regex
                  - path: $.apiSecret
                    predefined: non_empty
                    type: by_regex
                headers:
                  - key: Content-Type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Create API Key
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 698f1609-c616-48f0-b8d5-03373e9fbd40' \
                -d '{"name":"foo","description":"a foo key","roles":["foo.role"]}'
      x-contracts:
        - contractId: 4
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys
          name: Create an API key for a payor
          serviceName: payor-service
  "/v1/payors/{payorId}/branding":
    get:
      description: Get the payor branding details.
      operationId: payorGetBranding
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorBrandingResponse"
          description: HTTP Ok, key created
          x-contracts:
            - body:
                collectiveAlias: customer
                dbaName: FlybyNight Inc
                logoUrl: http://example.com
                payorName: Payor1
                supportContact: support@example.com
              contractId: 1
              matchers:
                body:
                  - path: $.payorName
                    predefined: non_empty
                    type: by_regex
                  - path: $.logoUrl
                    predefined: non_empty
                    type: by_regex
                  - path: $.collectiveAlias
                    predefined: non_empty
                    type: by_regex
                  - path: $.supportContact
                    predefined: non_empty
                    type: by_regex
                  - path: $.dbaName
                    predefined: non_empty
                    type: by_regex
                headers:
                  - key: Content_type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Get Branding
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding' -i -X GET \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer d60eef1c-bea6-4f7e-8755-e916268ad4ff'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/branding
          description: Test to get branding details for payor
          ignored: false
          label: Payor_Branding
          name: Get Payor Branding Details
          priority: 10
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000/branding
          description: Test to not found status returned by API
          label: Payor_Branding
          name: Get Payor Brandding Details - not found
          priority: 20
          serviceName: payor-service
  "/v1/payors/{payorId}/branding/logos":
    post:
      description: Add Payor Logo. Logo file is used in your branding, and emails sent to payees.
      operationId: payorAddPayorLogo
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PayorLogoRequest"
        description: Image file to upload
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Add Logo
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding/logos' -i -X POST \
                -H 'Content-Type: multipart/form-data' \
                -F 'logo=@mylogo.png;type=image/png'
  "/v1/payors/{payorId}/reminderEmailsUpdate":
    post:
      description: >
        Update the emailRemindersOptOut field for a Payor. This API can be used to opt out

        or opt into Payor Reminder emails. These emails are typically around payee events

        such as payees registering and onboarding.
      operationId: payorEmailOptOut
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorEmailOptOutRequest"
        description: Reminder Emails Opt-Out Request
        required: true
        x-contracts:
          - body:
              reminderEmailsOptOut: true
            contractId: 1
            headers:
              Content-Type: application/json
          - body:
              reminderEmailsOptOut: true
            contractId: 2
            headers:
              Content-Type: application/json
      responses:
        "202":
          description: HTTP Accepted
          x-contracts:
            - contractId: 1
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Reminder Email Opt-Out
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/d8d49d3a-0712-4ad0-bb14-2e308d240233/reminderEmailsUpdate' -i -X POST \
                -H 'Authorization: Bearer fc825fad-e4a7-49e5-b6d9-9b9aa47a19c8' \
                -H 'Content-Type: application/json' \
                -d '{"reminderEmailsOptOut":true}'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/reminderEmailsUpdate
          name: Test Email Opt-Out
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000/reminderEmailsUpdate
          name: Test Not Found
          serviceName: payor-service
  /v1/sourceAccounts:
    description: List Source Accounts
    get:
      deprecated: true
      description: List source accounts.
      operationId: getSourceAccounts
      parameters:
        - description: Physical Account Name
          in: query
          name: physicalAccountName
          required: false
          schema:
            type: string
        - description: The account owner Payor ID
          in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: >
            List of sort fields e.g. ?sort=name:asc

            Default is name:asc

            The supported sort fields are - fundingRef
          in: query
          name: sort
          required: false
          schema:
            default: fundingRef:asc
            pattern: "[fundingRef]+[:desc|:asc]"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSourceAccountResponse"
          description: List Source Account response
        "400":
          description: Invalid Request Parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "404":
          description: Not Found
      summary: Get list of source accounts
      tags:
        - Funding Manager
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \
                -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'
    summary: List Source Accounts
  "/v1/sourceAccounts/{sourceAccountId}":
    description: Get details about given source account.
    get:
      deprecated: true
      description: Get details about given source account.
      operationId: getSourceAccount
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceAccountResponse"
          description: Source account response
        "400":
          description: Bad Request, Invalid path parameter
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get details about given source account.
      tags:
        - Funding Manager
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/126895a8-ba3d-44e8-9b34-84ee579cee7a' -i -X GET \
                -H 'Authorization: Bearer a016f840-dafc-4b10-95f5-70ecc75a02d1'
    summary: Get Source Account
  "/v1/sourceAccounts/{sourceAccountId}/achFundingRequest":
    post:
      deprecated: true
      description: Instruct a funding request to transfer funds from the payor’s funding bank to the payor’s balance held within Velo.
      operationId: createAchFundingRequest
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundingRequestV1"
        description: Body to included amount to be funded
        required: true
      responses:
        "202":
          description: Request Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Create Funding Request
      tags:
        - Funding Manager
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/achFundingRequest' -i -X POST \
                -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \
                -H 'Content-Type: application/json' \
                -d '{"amount":999990}'
  "/v1/sourceAccounts/{sourceAccountId}/notifications":
    post:
      description: Set notifications for a given source account
      operationId: setNotificationsRequest
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetNotificationsRequest"
        description: Body to included minimum balance to set
        required: true
      responses:
        "204":
          description: Request Fulfilled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Set notifications
      tags:
        - Funding Manager
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/notifications' -i -X POST \
                -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \
                -H 'Content-Type: application/json' \
                -d '{"minimumBalance":900}'
  /v1/supportedCountries:
    get:
      deprecated: true
      description: >
        <p>List the supported countries.</p>

        <p>This version will be retired in March 2020. Use /v2/supportedCountries</p>
      operationId: listSupportedCountriesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedCountriesResponse"
          description: List of Supported Countries
      security: []
      summary: List Supported Countries
      tags:
        - Countries
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/supportedCountries' -i -X GET \
                -H 'Authorization: Bearer 9a7c9010-547f-410e-ac3c-fd6f6701c745'
  /v1/validate:
    post:
      description: >
        <p>The second part of login involves validating using an MFA device</p>

        <p>An access token with PRE_AUTH authorities is required</p>
      operationId: validateAccessToken
      parameters:
        - description: Bearer token authorization leg of validate
          in: header
          name: Authorization
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenValidationRequest"
        description: >
          An OTP from the user's registered MFA Device
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
          description: User request has been validated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: validate
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/validate' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \
                -d '{"otp":"123456"}'
  /v1/webhooks:
    description: List the details about the webhooks for the given payor.
    get:
      description: List the details about the webhooks for the given payor.
      operationId: listWebhooksV1
      parameters:
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: The Payor ID
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhooksResponse"
          description: Webhook response
        "400":
          description: Invalid Request Parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: List the details about the webhooks for the given payor.
      tags:
        - Webhooks
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/webhooks?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \
                -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'
    post:
      description: Create Webhook
      operationId: createWebhookV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Webhook Created
          headers:
            Location:
              description: Reference to Webhook object
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Create Webhook
      tags:
        - Webhooks
    summary: List Webhooks
  "/v1/webhooks/{webhookId}":
    description: Get details about the given webhook.
    get:
      description: Get details about the given webhook.
      operationId: getWebhookV1
      parameters:
        - description: Webhook id
          in: path
          name: webhookId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
          description: Webhook response
        "400":
          description: Bad Request, Invalid path parameter
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Get details about the given webhook.
      tags:
        - Webhooks
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v1/webhooks/126895a8-ba3d-44e8-9b34-84ee579cee7a' -i -X GET \
                -H 'Authorization: Bearer a016f840-dafc-4b10-95f5-70ecc75a02d1'
    post:
      description: Update Webhook
      operationId: updateWebhookV1
      parameters:
        - description: Webhook id
          in: path
          name: webhookId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "204":
          description: Webhook Updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: >
            The authentication does not have permissions to access the resource

            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: >
            The resource was not found or is no longer available
      summary: Update Webhook
      tags:
        - Webhooks
    summary: Get Webhook
  /v2/currencies:
    get:
      description: List the supported currencies.
      operationId: listSupportedCurrenciesV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedCurrencyResponseV2"
          description: List Supported Currencies
      security: []
      summary: List Supported Currencies
      tags:
        - Currencies
      x-code-samples:
        - lang: shell
          source: >
            $ curl 'https://api.sandbox.velopayments.com/v2/currencies' -i -X GET
  /v2/fundingAccounts:
    get:
      description: Get the funding accounts.
      operationId: getFundingAccountsV2
      parameters:
        - in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
        - description: The descriptive funding account name
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: The 2 letter ISO 3166-1 country code (upper case)
          in: query
          name: country
          required: false
          schema:
            example: US
            type: string
        - description: The ISO 4217 currency code
          in: query
          name: currency
          required: false
          schema:
            example: USD
            type: string
        - description: The type of funding account.
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/FundingAccountType"
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: List of sort fields (e.g. ?sort=accountName:asc,name:asc) Default is accountName:asc The supported sort fields are - accountName, name.
          in: query
          name: sort
          required: false
          schema:
            default: accountName:asc
            pattern: "[a-zA-Z]+[:desc|:asc]"
            type: string
        - in: query
          name: sensitive
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFundingAccountsResponse_2"
          description: Get Funding Accounts Response
        "400":
          content:
            application/json:
              schema:
[...]
