swagger: '2.0'
schemes:
  - https
host: servicecontrol.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Google Service Control provides control plane functionality to managed services, such as logging, monitoring, and status checks.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Service Control
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://servicecontrol.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: servicecontrol
externalDocs:
  url: 'https://cloud.google.com/service-control/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/servicecontrol': Manage your Google Service Control data
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/servicecontrol': Manage your Google Service Control data
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: services
paths:
  '/v1/services/{serviceName}:allocateQuota':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Attempts to allocate quota for the specified consumer. It should be called
        before the operation is executed.

        This method requires the `servicemanagement.services.quota`
        permission on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).

        **NOTE:** the client code **must** fail-open if the server returns one
        of the following quota errors:
        -   `PROJECT_STATUS_UNAVAILABLE`
        -   `SERVICE_STATUS_UNAVAILABLE`
        -   `BILLING_STATUS_UNAVAILABLE`
        -   `QUOTA_SYSTEM_UNAVAILABLE`

        The server may inject above errors to prohibit any hard dependency
        on the quota system.
      operationId: servicecontrol.services.allocateQuota
      parameters:
        - description: |-
            Name of the service as specified in the service configuration. For example,
            `"pubsub.googleapis.com"`.

            See google.api.Service for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AllocateQuotaRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AllocateQuotaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
  '/v1/services/{serviceName}:check':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Checks an operation with Google Service Control to decide whether
        the given operation should proceed. It should be called before the
        operation is executed.

        If feasible, the client should cache the check results and reuse them for
        60 seconds. In case of server errors, the client can rely on the cached
        results for longer time.

        NOTE: the CheckRequest has the size limit of 64KB.

        This method requires the `servicemanagement.services.check` permission
        on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).
      operationId: servicecontrol.services.check
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CheckRequest'
        - description: |-
            The service name as specified in its service configuration. For example,
            `"pubsub.googleapis.com"`.

            See
            [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service)
            for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CheckResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
  '/v1/services/{serviceName}:endReconciliation':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Signals the quota controller that service ends the ongoing usage
        reconciliation.

        This method requires the `servicemanagement.services.quota`
        permission on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).
      operationId: servicecontrol.services.endReconciliation
      parameters:
        - description: |-
            Name of the service as specified in the service configuration. For example,
            `"pubsub.googleapis.com"`.

            See google.api.Service for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EndReconciliationRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EndReconciliationResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
  '/v1/services/{serviceName}:releaseQuota':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Releases previously allocated quota done through AllocateQuota method.

        This method requires the `servicemanagement.services.quota`
        permission on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).

        **NOTE:** the client code **must** fail-open if the server returns one
        of the following quota errors:
        -   `PROJECT_STATUS_UNAVAILABLE`
        -   `SERVICE_STATUS_UNAVAILABLE`
        -   `BILLING_STATUS_UNAVAILABLE`
        -   `QUOTA_SYSTEM_UNAVAILABLE`

        The server may inject above errors to prohibit any hard dependency
        on the quota system.
      operationId: servicecontrol.services.releaseQuota
      parameters:
        - description: |-
            Name of the service as specified in the service configuration. For example,
            `"pubsub.googleapis.com"`.

            See google.api.Service for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReleaseQuotaRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReleaseQuotaResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
  '/v1/services/{serviceName}:report':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Reports operation results to Google Service Control, such as logs and
        metrics. It should be called after an operation is completed.

        If feasible, the client should aggregate reporting data for up to 5
        seconds to reduce API traffic. Limiting aggregation to 5 seconds is to
        reduce data loss during client crashes. Clients should carefully choose
        the aggregation time window to avoid data loss risk more than 0.01%
        for business and compliance reasons.

        NOTE: the ReportRequest has the size limit of 1MB.

        This method requires the `servicemanagement.services.report` permission
        on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).
      operationId: servicecontrol.services.report
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReportRequest'
        - description: |-
            The service name as specified in its service configuration. For example,
            `"pubsub.googleapis.com"`.

            See
            [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service)
            for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReportResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
  '/v1/services/{serviceName}:startReconciliation':
    parameters:
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
    post:
      description: |-
        Unlike rate quota, allocation quota does not get refilled periodically.
        So, it is possible that the quota usage as seen by the service differs from
        what the One Platform considers the usage is. This is expected to happen
        only rarely, but over time this can accumulate. Services can invoke
        StartReconciliation and EndReconciliation to correct this usage drift, as
        described below:
        1. Service sends StartReconciliation with a timestamp in future for each
           metric that needs to be reconciled. The timestamp being in future allows
           to account for in-flight AllocateQuota and ReleaseQuota requests for the
           same metric.
        2. One Platform records this timestamp and starts tracking subsequent
           AllocateQuota and ReleaseQuota requests until EndReconciliation is
           called.
        3. At or after the time specified in the StartReconciliation, service
           sends EndReconciliation with the usage that needs to be reconciled to.
        4. One Platform adjusts its own record of usage for that metric to the
           value specified in EndReconciliation by taking in to account any
           allocation or release between StartReconciliation and EndReconciliation.

        Signals the quota controller that the service wants to perform a usage
        reconciliation as specified in the request.

        This method requires the `servicemanagement.services.quota`
        permission on the specified service. For more information, see
        [Google Cloud IAM](https://cloud.google.com/iam).
      operationId: servicecontrol.services.startReconciliation
      parameters:
        - description: |-
            Name of the service as specified in the service configuration. For example,
            `"pubsub.googleapis.com"`.

            See google.api.Service for the definition of a service name.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StartReconciliationRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StartReconciliationResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/servicecontrol'
          Oauth2c:
            - 'https://www.googleapis.com/auth/servicecontrol'
      tags:
        - services
definitions:
  AllocateQuotaRequest:
    description: Request message for the AllocateQuota method.
    properties:
      allocateOperation:
        $ref: '#/definitions/QuotaOperation'
        description: Operation that describes the quota allocation.
      allocationMode:
        description: |-
          Allocation mode for this operation.
          Deprecated: use QuotaMode inside the QuotaOperation.
        enum:
          - UNSPECIFIED
          - NORMAL
          - BEST_EFFORT
          - CHECK_ONLY
        type: string
      serviceConfigId:
        description: |-
          Specifies which version of service configuration should be used to process
          the request. If unspecified or no matching version can be found, the latest
          one will be used.
        type: string
    type: object
  AllocateQuotaResponse:
    description: Response message for the AllocateQuota method.
    properties:
      allocateErrors:
        description: Indicates the decision of the allocate.
        items:
          $ref: '#/definitions/QuotaError'
        type: array
      operationId:
        description: |-
          The same operation_id value used in the AllocateQuotaRequest. Used for
          logging and diagnostics purposes.
        type: string
      quotaMetrics:
        description: |-
          Quota metrics to indicate the result of allocation. Depending on the
          request, one or more of the following metrics will be included:

          1. For rate quota, per quota group or per quota metric incremental usage
          will be specified using the following delta metric:
            "serviceruntime.googleapis.com/api/consumer/quota_used_count"

          2. For allocation quota, per quota metric total usage will be specified
          using the following gauge metric:
            "serviceruntime.googleapis.com/allocation/consumer/quota_used_count"

          3. For both rate quota and allocation quota, the quota limit reached
          condition will be specified using the following boolean metric:
            "serviceruntime.googleapis.com/quota/exceeded"

          4. For allocation quota, value for each quota limit associated with
          the metrics will be specified using the following gauge metric:
            "serviceruntime.googleapis.com/quota/limit"
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      serviceConfigId:
        description: ID of the actual config used to process the request.
        type: string
    type: object
  AuditLog:
    description: |+
      Common audit log format for Google Cloud Platform API operations.

    properties:
      authenticationInfo:
        $ref: '#/definitions/AuthenticationInfo'
        description: Authentication information.
      authorizationInfo:
        description: |-
          Authorization information. If there are multiple
          resources or permissions involved, then there is
          one AuthorizationInfo element for each {resource, permission} tuple.
        items:
          $ref: '#/definitions/AuthorizationInfo'
        type: array
      methodName:
        description: |-
          The name of the service method or operation.
          For API calls, this should be the name of the API method.
          For example,

              "google.datastore.v1.Datastore.RunQuery"
              "google.logging.v1.LoggingService.DeleteLog"
        type: string
      numResponseItems:
        description: |-
          The number of items returned from a List or Query API method,
          if applicable.
        format: int64
        type: string
      request:
        additionalProperties:
          description: Properties of the object.
        description: |-
          The operation request. This may not include all request parameters,
          such as those that are too large, privacy-sensitive, or duplicated
          elsewhere in the log record.
          It should never include user-generated data, such as file contents.
          When the JSON object represented here has a proto equivalent, the proto
          name will be indicated in the `@type` property.
        type: object
      requestMetadata:
        $ref: '#/definitions/RequestMetadata'
        description: Metadata about the operation.
      resourceName:
        description: |-
          The resource or collection that is the target of the operation.
          The name is a scheme-less URI, not including the API service name.
          For example:

              "shelves/SHELF_ID/books"
              "shelves/SHELF_ID/books/BOOK_ID"
        type: string
      response:
        additionalProperties:
          description: Properties of the object.
        description: |-
          The operation response. This may not include all response elements,
          such as those that are too large, privacy-sensitive, or duplicated
          elsewhere in the log record.
          It should never include user-generated data, such as file contents.
          When the JSON object represented here has a proto equivalent, the proto
          name will be indicated in the `@type` property.
        type: object
      serviceData:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Other service-specific data about the request, response, and other
          activities.
        type: object
      serviceName:
        description: |-
          The name of the API service performing the operation. For example,
          `"datastore.googleapis.com"`.
        type: string
      status:
        $ref: '#/definitions/Status'
        description: The status of the overall operation.
    type: object
  AuthenticationInfo:
    description: Authentication information for the operation.
    properties:
      authoritySelector:
        description: |-
          The authority selector specified by the requestor, if any.
          It is not guaranteed that the principal was allowed to use this authority.
        type: string
      principalEmail:
        description: |-
          The email address of the authenticated user making the request.
          For privacy reasons, the principal email address is redacted for all
          read-only operations that fail with a "permission denied" error.
        type: string
    type: object
  AuthorizationInfo:
    description: Authorization information for the operation.
    properties:
      granted:
        description: |-
          Whether or not authorization for `resource` and `permission`
          was granted.
        type: boolean
      permission:
        description: The required IAM permission.
        type: string
      resource:
        description: |-
          The resource being accessed, as a REST-style string. For example:

              bigquery.googleapis.com/projects/PROJECTID/datasets/DATASETID
        type: string
    type: object
  CheckError:
    description: |-
      Defines the errors to be returned in
      google.api.servicecontrol.v1.CheckResponse.check_errors.
    properties:
      code:
        description: The error code.
        enum:
          - ERROR_CODE_UNSPECIFIED
          - NOT_FOUND
          - PERMISSION_DENIED
          - RESOURCE_EXHAUSTED
          - BUDGET_EXCEEDED
          - DENIAL_OF_SERVICE_DETECTED
          - LOAD_SHEDDING
          - ABUSER_DETECTED
          - SERVICE_NOT_ACTIVATED
          - VISIBILITY_DENIED
          - BILLING_DISABLED
          - PROJECT_DELETED
          - PROJECT_INVALID
          - IP_ADDRESS_BLOCKED
          - REFERER_BLOCKED
          - CLIENT_APP_BLOCKED
          - API_TARGET_BLOCKED
          - API_KEY_INVALID
          - API_KEY_EXPIRED
          - API_KEY_NOT_FOUND
          - SPATULA_HEADER_INVALID
          - LOAS_ROLE_INVALID
          - NO_LOAS_PROJECT
          - LOAS_PROJECT_DISABLED
          - SECURITY_POLICY_VIOLATED
          - NAMESPACE_LOOKUP_UNAVAILABLE
          - SERVICE_STATUS_UNAVAILABLE
          - BILLING_STATUS_UNAVAILABLE
          - QUOTA_CHECK_UNAVAILABLE
          - LOAS_PROJECT_LOOKUP_UNAVAILABLE
          - CLOUD_RESOURCE_MANAGER_BACKEND_UNAVAILABLE
          - SECURITY_POLICY_BACKEND_UNAVAILABLE
        type: string
      detail:
        description: Free-form text providing details on the error cause of the error.
        type: string
    type: object
  CheckInfo:
    properties:
      consumerInfo:
        $ref: '#/definitions/ConsumerInfo'
        description: Consumer info of this check.
      unusedArguments:
        description: |-
          A list of fields and label keys that are ignored by the server.
          The client doesn't need to send them for following requests to improve
          performance and allow better aggregation.
        items:
          type: string
        type: array
    type: object
  CheckRequest:
    description: Request message for the Check method.
    properties:
      operation:
        $ref: '#/definitions/Operation'
        description: The operation to be checked.
      requestProjectSettings:
        description: Requests the project settings to be returned as part of the check response.
        type: boolean
      serviceConfigId:
        description: |-
          Specifies which version of service configuration should be used to process
          the request.

          If unspecified or no matching version can be found, the
          latest one will be used.
        type: string
      skipActivationCheck:
        description: |-
          Indicates if service activation check should be skipped for this request.
          Default behavior is to perform the check and apply relevant quota.
        type: boolean
    type: object
  CheckResponse:
    description: Response message for the Check method.
    properties:
      checkErrors:
        description: |-
          Indicate the decision of the check.

          If no check errors are present, the service should process the operation.
          Otherwise the service should use the list of errors to determine the
          appropriate action.
        items:
          $ref: '#/definitions/CheckError'
        type: array
      checkInfo:
        $ref: '#/definitions/CheckInfo'
        description: Feedback data returned from the server during processing a Check request.
      operationId:
        description: |-
          The same operation_id value used in the CheckRequest.
          Used for logging and diagnostics purposes.
        type: string
      quotaInfo:
        $ref: '#/definitions/QuotaInfo'
        description: |
          Quota information for the check request associated with this response.
      serviceConfigId:
        description: The actual config id used to process the request.
        type: string
    type: object
  ConsumerInfo:
    description: '`ConsumerInfo` provides information about the consumer project.'
    properties:
      projectNumber:
        description: |-
          The Google cloud project number, e.g. 1234567890. A value of 0 indicates
          no project number is found.
        format: int64
        type: string
    type: object
  Distribution:
    description: |-
      Distribution represents a frequency distribution of double-valued sample
      points. It contains the size of the population of sample points plus
      additional optional information:

        - the arithmetic mean of the samples
        - the minimum and maximum of the samples
        - the sum-squared-deviation of the samples, used to compute variance
        - a histogram of the values of the sample points
    properties:
      bucketCounts:
        description: |-
          The number of samples in each histogram bucket. `bucket_counts` are
          optional. If present, they must sum to the `count` value.

          The buckets are defined below in `bucket_option`. There are N buckets.
          `bucket_counts[0]` is the number of samples in the underflow bucket.
          `bucket_counts[1]` to `bucket_counts[N-1]` are the numbers of samples
          in each of the finite buckets. And `bucket_counts[N] is the number
          of samples in the overflow bucket. See the comments of `bucket_option`
          below for more details.

          Any suffix of trailing zeros may be omitted.
        items:
          format: int64
          type: string
        type: array
      count:
        description: The total number of samples in the distribution. Must be >= 0.
        format: int64
        type: string
      explicitBuckets:
        $ref: '#/definitions/ExplicitBuckets'
        description: Buckets with arbitrary user-provided width.
      exponentialBuckets:
        $ref: '#/definitions/ExponentialBuckets'
        description: Buckets with exponentially growing width.
      linearBuckets:
        $ref: '#/definitions/LinearBuckets'
        description: Buckets with constant width.
      maximum:
        description: The maximum of the population of values. Ignored if `count` is zero.
        format: double
        type: number
      mean:
        description: |-
          The arithmetic mean of the samples in the distribution. If `count` is
          zero then this field must be zero.
        format: double
        type: number
      minimum:
        description: The minimum of the population of values. Ignored if `count` is zero.
        format: double
        type: number
      sumOfSquaredDeviation:
        description: |-
          The sum of squared deviations from the mean:
            Sum[i=1..count]((x_i - mean)^2)
          where each x_i is a sample values. If `count` is zero then this field
          must be zero, otherwise validation of the request fails.
        format: double
        type: number
    type: object
  EndReconciliationRequest:
    properties:
      reconciliationOperation:
        $ref: '#/definitions/QuotaOperation'
        description: Operation that describes the quota reconciliation.
      serviceConfigId:
        description: |-
          Specifies which version of service configuration should be used to process
          the request. If unspecified or no matching version can be found, the latest
          one will be used.
        type: string
    type: object
  EndReconciliationResponse:
    properties:
      operationId:
        description: |-
          The same operation_id value used in the EndReconciliationRequest. Used for
          logging and diagnostics purposes.
        type: string
      quotaMetrics:
        description: |-
          Metric values as tracked by One Platform before the adjustment was made.
          The following metrics will be included:

          1. Per quota metric total usage will be specified using the following gauge
          metric:
            "serviceruntime.googleapis.com/allocation/consumer/quota_used_count"

          2. Value for each quota limit associated with the metrics will be specified
          using the following gauge metric:
            "serviceruntime.googleapis.com/quota/limit"

          3. Delta value of the usage after the reconciliation for limits associated
          with the metrics will be specified using the following metric:
            "serviceruntime.googleapis.com/allocation/reconciliation_delta"
          The delta value is defined as:
            new_usage_from_client - existing_value_in_spanner.
          This metric is not defined in serviceruntime.yaml or in Cloud Monarch.
          This metric is meant for callers' use only. Since this metric is not
          defined in the monitoring backend, reporting on this metric will result in
          an error.
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      reconciliationErrors:
        description: Indicates the decision of the reconciliation end.
        items:
          $ref: '#/definitions/QuotaError'
        type: array
      serviceConfigId:
        description: ID of the actual config used to process the request.
        type: string
    type: object
  ExplicitBuckets:
    description: Describing buckets with arbitrary user-provided width.
    properties:
      bounds:
        description: |-
          'bound' is a list of strictly increasing boundaries between
          buckets. Note that a list of length N-1 defines N buckets because
          of fenceposting. See comments on `bucket_options` for details.

          The i'th finite bucket covers the interval
            [bound[i-1], bound[i])
          where i ranges from 1 to bound_size() - 1. Note that there are no
          finite buckets at all if 'bound' only contains a single element; in
          that special case the single bound defines the boundary between the
          underflow and overflow buckets.

          bucket number                   lower bound    upper bound
           i == 0 (underflow)              -inf           bound[i]
           0 < i < bound_size()            bound[i-1]     bound[i]
           i == bound_size() (overflow)    bound[i-1]     +inf
        items:
          format: double
          type: number
        type: array
    type: object
  ExponentialBuckets:
    description: Describing buckets with exponentially growing width.
    properties:
      growthFactor:
        description: |-
          The i'th exponential bucket covers the interval
            [scale * growth_factor^(i-1), scale * growth_factor^i)
          where i ranges from 1 to num_finite_buckets inclusive.
          Must be larger than 1.0.
        format: double
        type: number
      numFiniteBuckets:
        description: |-
          The number of finite buckets. With the underflow and overflow buckets,
          the total number of buckets is `num_finite_buckets` + 2.
          See comments on `bucket_options` for details.
        format: int32
        type: integer
      scale:
        description: |-
          The i'th exponential bucket covers the interval
            [scale * growth_factor^(i-1), scale * growth_factor^i)
          where i ranges from 1 to num_finite_buckets inclusive.
          Must be > 0.
        format: double
        type: number
    type: object
  LinearBuckets:
    description: Describing buckets with constant width.
    properties:
      numFiniteBuckets:
        description: |-
          The number of finite buckets. With the underflow and overflow buckets,
          the total number of buckets is `num_finite_buckets` + 2.
          See comments on `bucket_options` for details.
        format: int32
        type: integer
      offset:
        description: |-
          The i'th linear bucket covers the interval
            [offset + (i-1) * width, offset + i * width)
          where i ranges from 1 to num_finite_buckets, inclusive.
        format: double
        type: number
      width:
        description: |-
          The i'th linear bucket covers the interval
            [offset + (i-1) * width, offset + i * width)
          where i ranges from 1 to num_finite_buckets, inclusive.
          Must be strictly positive.
        format: double
        type: number
    type: object
  LogEntry:
    description: An individual log entry.
    properties:
      insertId:
        description: |-
          A unique ID for the log entry used for deduplication. If omitted,
          the implementation will generate one based on operation_id.
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          A set of user-defined (key, value) data that provides additional
          information about the log entry.
        type: object
      name:
        description: |-
          Required. The log to which this log entry belongs. Examples: `"syslog"`,
          `"book_log"`.
        type: string
      protoPayload:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          The log entry payload, represented as a protocol buffer that is
          expressed as a JSON object. The only accepted type currently is
          AuditLog.
        type: object
      severity:
        description: |-
          The severity of the log entry. The default value is
          `LogSeverity.DEFAULT`.
        enum:
          - DEFAULT
          - DEBUG
          - INFO
          - NOTICE
          - WARNING
          - ERROR
          - CRITICAL
          - ALERT
          - EMERGENCY
        type: string
      structPayload:
        additionalProperties:
          description: Properties of the object.
        description: |-
          The log entry payload, represented as a structure that
          is expressed as a JSON object.
        type: object
      textPayload:
        description: 'The log entry payload, represented as a Unicode string (UTF-8).'
        type: string
      timestamp:
        description: |-
          The time the event described by the log entry occurred. If
          omitted, defaults to operation start time.
        format: google-datetime
        type: string
    type: object
  MetricValue:
    description: Represents a single metric value.
    properties:
      boolValue:
        description: A boolean value.
        type: boolean
      distributionValue:
        $ref: '#/definitions/Distribution'
        description: A distribution value.
      doubleValue:
        description: A double precision floating point value.
        format: double
        type: number
      endTime:
        description: |-
          The end of the time period over which this metric value's measurement
          applies.
        format: google-datetime
        type: string
      int64Value:
        description: A signed 64-bit integer value.
        format: int64
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          The labels describing the metric value.
          See comments on google.api.servicecontrol.v1.Operation.labels for
          the overriding relationship.
        type: object
      moneyValue:
        $ref: '#/definitions/Money'
        description: A money value.
      startTime:
        description: |-
          The start of the time period over which this metric value's measurement
          applies. The time period has different semantics for different metric
          types (cumulative, delta, and gauge). See the metric definition
          documentation in the service configuration for details.
        format: google-datetime
        type: string
      stringValue:
        description: A text string value.
        type: string
    type: object
  MetricValueSet:
    description: |-
      Represents a set of metric values in the same metric.
      Each metric value in the set should have a unique combination of start time,
      end time, and label values.
    properties:
      metricName:
        description: The metric name defined in the service configuration.
        type: string
      metricValues:
        description: The values in this metric.
        items:
          $ref: '#/definitions/MetricValue'
        type: array
    type: object
  Money:
    description: Represents an amount of money with its currency type.
    properties:
      currencyCode:
        description: The 3-letter currency code defined in ISO 4217.
        type: string
      nanos:
        description: |-
          Number of nano (10^-9) units of the amount.
          The value must be between -999,999,999 and +999,999,999 inclusive.
          If `units` is positive, `nanos` must be positive or zero.
          If `units` is zero, `nanos` can be positive, zero, or negative.
          If `units` is negative, `nanos` must be negative or zero.
          For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
        format: int32
        type: integer
      units:
        description: |-
          The whole units of the amount.
          For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
        format: int64
        type: string
    type: object
  Operation:
    description: Represents information regarding an operation.
    properties:
      consumerId:
        description: |-
          Identity of the consumer who is using the service.
          This field should be filled in for the operations initiated by a
          consumer, but not for service-initiated operations that are
          not related to a specific consumer.

          This can be in one of the following formats:
            project:<project_id>,
            project_number:<project_number>,
            api_key:<api_key>.
        type: string
      endTime:
        description: |-
          End time of the operation.
          Required when the operation is used in ServiceController.Report,
          but optional when the operation is used in ServiceController.Check.
        format: google-datetime
        type: string
      importance:
        description: DO NOT USE. This is an experimental field.
        enum:
          - LOW
          - HIGH
          - DEBUG
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          Labels describing the operation. Only the following labels are allowed:

          - Labels describing monitored resources as defined in
            the service configuration.
          - Default labels of metric values. When specified, labels defined in the
            metric value override these default.
          - The following labels defined by Google Cloud Platform:
              - `cloud.googleapis.com/location` describing the location where the
                 operation happened,
              - `servicecontrol.googleapis.com/user_agent` describing the user agent
                 of the API request,
              - `servicecontrol.googleapis.com/service_agent` describing the service
                 used to handle the API request (e.g. ESP),
              - `servicecontrol.googleapis.com/platform` describing the platform
                 where the API is served (e.g. GAE, GCE, GKE).
        type: object
      logEntries:
        description: Represents information to be logged.
        items:
          $ref: '#/definitions/LogEntry'
        type: array
      metricValueSets:
        description: |-
          Represents information about this operation. Each MetricValueSet
          corresponds to a metric defined in the service configuration.
          The data type used in the MetricValueSet must agree with
          the data type specified in the metric definition.

          Within a single operation, it is not allowed to have more than one
          MetricValue instances that have the same metric names and identical
          label value combinations. If a request has such duplicated MetricValue
          instances, the entire request is rejected with
          an invalid argument error.
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      operationId:
        description: |-
          Identity of the operation. This must be unique within the scope of the
          service that generated the operation. If the service calls
          Check() and Report() on the same operation, the two calls should carry
          the same id.

          UUID version 4 is recommended, though not required.
          In scenarios where an operation is computed from existing information
          and an idempotent id is desirable for deduplication purpose, UUID version 5
          is recommended. See RFC 4122 for details.
        type: string
      operationName:
        description: Fully qualified name of the operation. Reserved for future use.
        type: string
      quotaProperties:
        $ref: '#/definitions/QuotaProperties'
        description: |-
          Represents the properties needed for quota check. Applicable only if this
          operation is for a quota check request.
      resourceContainer:
        description: |-
          The resource name of the parent of a resource in the resource hierarchy.

          This can be in one of the following formats:
              - “projects/<project-id or project-number>”
              - “folders/<folder-id>”
              - “organizations/<organization-id>”
        type: string
      resourceContainers:
        description: |-
          DO NOT USE.
          This field is not ready for use yet.
        items:
          type: string
        type: array
      startTime:
        description: Required. Start time of the operation.
        format: google-datetime
        type: string
      userLabels:
        additionalProperties:
          type: string
        description: |-
          User defined labels for the resource that this operation is associated
          with.
        type: object
    type: object
  QuotaError:
    properties:
      code:
        description: Error code.
        enum:
          - UNSPECIFIED
          - RESOURCE_EXHAUSTED
          - OUT_OF_RANGE
          - BILLING_NOT_ACTIVE
          - PROJECT_DELETED
          - API_KEY_INVALID
          - API_KEY_EXPIRED
          - SPATULA_HEADER_INVALID
          - LOAS_ROLE_INVALID
          - NO_LOAS_PROJECT
          - PROJECT_STATUS_UNAVAILABLE
          - SERVICE_STATUS_UNAVAILABLE
          - BILLING_STATUS_UNAVAILABLE
          - QUOTA_SYSTEM_UNAVAILABLE
        type: string
      description:
        description: Free-form text that provides details on the cause of the error.
        type: string
      subject:
        description: |-
          Subject to whom this error applies. See the specific enum for more details
          on this field. For example, "clientip:<ip address of client>" or
          "project:<Google developer project id>".
        type: string
    type: object
  QuotaInfo:
    description: Contains the quota information for a quota check response.
    properties:
      limitExceeded:
        description: |-
          Quota Metrics that have exceeded quota limits.
          For QuotaGroup-based quota, this is QuotaGroup.name
          For QuotaLimit-based quota, this is QuotaLimit.name
          See: google.api.Quota
          Deprecated: Use quota_metrics to get per quota group limit exceeded status.
        items:
          type: string
        type: array
      quotaConsumed:
        additionalProperties:
          format: int32
          type: integer
        description: |
          Map of quota group name to the actual number of tokens consumed. If the
          quota check was not successful, then this will not be populated due to no
          quota consumption.

          We are not merging this field with 'quota_metrics' field because of the
          complexity of scaling in Chemist client code base. For simplicity, we will
          keep this field for Castor (that scales quota usage) and 'quota_metrics'
          for SuperQuota (that doesn't scale quota usage).
        type: object
      quotaMetrics:
        description: |-
          Quota metrics to indicate the usage. Depending on the check request, one or
          more of the following metrics will be included:

          1. For rate quota, per quota group or per quota metric incremental usage
          will be specified using the following delta metric:
            "serviceruntime.googleapis.com/api/consumer/quota_used_count"

          2. For allocation quota, per quota metric total usage will be specified
          using the following gauge metric:
            "serviceruntime.googleapis.com/allocation/consumer/quota_used_count"

          3. For both rate quota and allocation quota, the quota limit reached
          condition will be specified using the following boolean metric:
            "serviceruntime.googleapis.com/quota/exceeded"
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
    type: object
  QuotaOperation:
    description: Represents information regarding a quota operation.
    properties:
      consumerId:
        description: |-
          Identity of the consumer for whom this quota operation is being performed.

          This can be in one of the following formats:
            project:<project_id>,
            project_number:<project_number>,
            api_key:<api_key>.
        type: string
      labels:
        additionalProperties:
          type: string
        description: Labels describing the operation.
        type: object
      methodName:
        description: |-
          Fully qualified name of the API method for which this quota operation is
          requested. This name is used for matching quota rules or metric rules and
          billing status rules defined in service configuration. This field is not
          required if the quota operation is performed on non-API resources.

          Example of an RPC method name:
              google.example.library.v1.LibraryService.CreateShelf
        type: string
      operationId:
        description: |-
          Identity of the operation. This is expected to be unique within the scope
          of the service that generated the operation, and guarantees idempotency in
          case of retries.

          UUID version 4 is recommended, though not required. In scenarios where an
          operation is computed from existing information and an idempotent id is
          desirable for deduplication purpose, UUID version 5 is recommended. See
          RFC 4122 for details.
        type: string
      quotaMetrics:
        description: |-
          Represents information about this operation. Each MetricValueSet
          corresponds to a metric defined in the service configuration.
          The data type used in the MetricValueSet must agree with
          the data type specified in the metric definition.

          Within a single operation, it is not allowed to have more than one
          MetricValue instances that have the same metric names and identical
          label value combinations. If a request has such duplicated MetricValue
          instances, the entire request is rejected with
          an invalid argument error.
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      quotaMode:
        description: Quota mode for this operation.
        enum:
          - UNSPECIFIED
          - NORMAL
          - BEST_EFFORT
          - CHECK_ONLY
        type: string
    type: object
  QuotaProperties:
    description: Represents the properties needed for quota operations.
    properties:
      limitByIds:
        additionalProperties:
          type: string
        description: |-
          LimitType IDs that should be used for checking quota. Key in this map
          should be a valid LimitType string, and the value is the ID to be used. For
          example, an entry <USER, 123> will cause all user quota limits to use 123
          as the user ID. See google/api/quota.proto for the definition of LimitType.
          CLIENT_PROJECT: Not supported.
          USER: Value of this entry will be used for enforcing user-level quota
                limits. If none specified, caller IP passed in the
                servicecontrol.googleapis.com/caller_ip label will be used instead.
                If the server cannot resolve a value for this LimitType, an error
                will be thrown. No validation will be performed on this ID.
          Deprecated: use servicecontrol.googleapis.com/user label to send user ID.
        type: object
      quotaMode:
        description: Quota mode for this operation.
        enum:
          - ACQUIRE
          - ACQUIRE_BEST_EFFORT
          - CHECK
          - RELEASE
        type: string
    type: object
  ReleaseQuotaRequest:
    description: Request message for the ReleaseQuota method.
    properties:
      releaseOperation:
        $ref: '#/definitions/QuotaOperation'
        description: Operation that describes the quota release.
      serviceConfigId:
        description: |-
          Specifies which version of service configuration should be used to process
          the request. If unspecified or no matching version can be found, the latest
          one will be used.
        type: string
    type: object
  ReleaseQuotaResponse:
    description: Response message for the ReleaseQuota method.
    properties:
      operationId:
        description: |-
          The same operation_id value used in the ReleaseQuotaRequest. Used for
          logging and diagnostics purposes.
        type: string
      quotaMetrics:
        description: |-
          Quota metrics to indicate the result of release. Depending on the
          request, one or more of the following metrics will be included:

          1. For rate quota, per quota group or per quota metric released amount
          will be specified using the following delta metric:
            "serviceruntime.googleapis.com/api/consumer/quota_refund_count"

          2. For allocation quota, per quota metric total usage will be specified
          using the following gauge metric:
            "serviceruntime.googleapis.com/allocation/consumer/quota_used_count"

          3. For allocation quota, value for each quota limit associated with
          the metrics will be specified using the following gauge metric:
            "serviceruntime.googleapis.com/quota/limit"
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      releaseErrors:
        description: Indicates the decision of the release.
        items:
          $ref: '#/definitions/QuotaError'
        type: array
      serviceConfigId:
        description: ID of the actual config used to process the request.
        type: string
    type: object
  ReportError:
    description: Represents the processing error of one Operation in the request.
    properties:
      operationId:
        description: The Operation.operation_id value from the request.
        type: string
      status:
        $ref: '#/definitions/Status'
        description: Details of the error when processing the Operation.
    type: object
  ReportInfo:
    properties:
      operationId:
        description: The Operation.operation_id value from the request.
        type: string
      quotaInfo:
        $ref: '#/definitions/QuotaInfo'
        description: Quota usage info when processing the `Operation`.
    type: object
  ReportRequest:
    description: Request message for the Report method.
    properties:
      operations:
        description: |-
          Operations to be reported.

          Typically the service should report one operation per request.
          Putting multiple operations into a single request is allowed, but should
          be used only when multiple operations are natually available at the time
          of the report.

          If multiple operations are in a single request, the total request size
          should be no larger than 1MB. See ReportResponse.report_errors for
          partial failure behavior.
        items:
          $ref: '#/definitions/Operation'
        type: array
      serviceConfigId:
        description: |-
          Specifies which version of service config should be used to process the
          request.

          If unspecified or no matching version can be found, the
          latest one will be used.
        type: string
    type: object
  ReportResponse:
    description: Response message for the Report method.
    properties:
      reportErrors:
        description: |-
          Partial failures, one for each `Operation` in the request that failed
          processing. There are three possible combinations of the RPC status:

          1. The combination of a successful RPC status and an empty `report_errors`
             list indicates a complete success where all `Operations` in the
             request are processed successfully.
          2. The combination of a successful RPC status and a non-empty
             `report_errors` list indicates a partial success where some
             `Operations` in the request succeeded. Each
             `Operation` that failed processing has a corresponding item
             in this list.
          3. A failed RPC status indicates a general non-deterministic failure.
             When this happens, it's impossible to know which of the
             'Operations' in the request succeeded or failed.
        items:
          $ref: '#/definitions/ReportError'
        type: array
      reportInfos:
        description: |
          Quota usage for each quota release `Operation` request.

          Fully or partially failed quota release request may or may not be present
          in `report_quota_info`. For example, a failed quota release request will
          have the current quota usage info when precise quota library returns the
          info. A deadline exceeded quota request will not have quota usage info.

          If there is no quota release request, report_quota_info will be empty.
        items:
          $ref: '#/definitions/ReportInfo'
        type: array
      serviceConfigId:
        description: The actual config id used to process the request.
        type: string
    type: object
  RequestMetadata:
    description: Metadata about the request.
    properties:
      callerIp:
        description: |-
          The IP address of the caller.
          For caller from internet, this will be public IPv4 or IPv6 address.
          For caller from GCE VM with external IP address, this will be the VM's
          external IP address. For caller from GCE VM without external IP address, if
          the VM is in the same GCP organization (or project) as the accessed
          resource, `caller_ip` will be the GCE VM's internal IPv4 address, otherwise
          it will be redacted to "gce-internal-ip".
          See https://cloud.google.com/compute/docs/vpc/ for more information.
        type: string
      callerSuppliedUserAgent:
        description: |-
          The user agent of the caller.
          This information is not authenticated and should be treated accordingly.
          For example:

          +   `google-api-python-client/1.4.0`:
              The request was made by the Google API client for Python.
          +   `Cloud SDK Command Line Tool apitools-client/1.0 gcloud/0.9.62`:
              The request was made by the Google Cloud SDK CLI (gcloud).
          +   `AppEngine-Google; (+http://code.google.com/appengine; appid: s~my-project`:
              The request was made from the `my-project` App Engine app.
          NOLINT
        type: string
    type: object
  StartReconciliationRequest:
    properties:
      reconciliationOperation:
        $ref: '#/definitions/QuotaOperation'
        description: Operation that describes the quota reconciliation.
      serviceConfigId:
        description: |-
          Specifies which version of service configuration should be used to process
          the request. If unspecified or no matching version can be found, the latest
          one will be used.
        type: string
    type: object
  StartReconciliationResponse:
    properties:
      operationId:
        description: |-
          The same operation_id value used in the StartReconciliationRequest. Used
          for logging and diagnostics purposes.
        type: string
      quotaMetrics:
        description: |-
          Metric values as tracked by One Platform before the start of
          reconciliation. The following metrics will be included:

          1. Per quota metric total usage will be specified using the following gauge
          metric:
            "serviceruntime.googleapis.com/allocation/consumer/quota_used_count"

          2. Value for each quota limit associated with the metrics will be specified
          using the following gauge metric:
            "serviceruntime.googleapis.com/quota/limit"
        items:
          $ref: '#/definitions/MetricValueSet'
        type: array
      reconciliationErrors:
        description: Indicates the decision of the reconciliation start.
        items:
          $ref: '#/definitions/QuotaError'
        type: array
      serviceConfigId:
        description: ID of the actual config used to process the request.
        type: string
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for different
      programming environments, including REST APIs and RPC APIs. It is used by
      [gRPC](https://github.com/grpc). The error model is designed to be:

      - Simple to use and understand for most users
      - Flexible enough to meet unexpected needs

      # Overview

      The `Status` message contains three pieces of data: error code, error message,
      and error details. The error code should be an enum value of
      google.rpc.Code, but it may accept additional error codes if needed.  The
      error message should be a developer-facing English message that helps
      developers *understand* and *resolve* the error. If a localized user-facing
      error message is needed, put the localized message in the error details or
      localize it in the client. The optional error details may contain arbitrary
      information about the error. There is a predefined set of error detail types
      in the package `google.rpc` that can be used for common error conditions.

      # Language mapping

      The `Status` message is the logical representation of the error model, but it
      is not necessarily the actual wire format. When the `Status` message is
      exposed in different client libraries and different wire protocols, it can be
      mapped differently. For example, it will likely be mapped to some exceptions
      in Java, but more likely mapped to some error codes in C.

      # Other uses

      The error model and the `Status` message can be used in a variety of
      environments, either with or without APIs, to provide a
      consistent developer experience across different environments.

      Example uses of this error model include:

      - Partial errors. If a service needs to return partial errors to the client,
          it may embed the `Status` in the normal response to indicate the partial
          errors.

      - Workflow errors. A typical workflow has multiple steps. Each step may
          have a `Status` message for error reporting.

      - Batch operations. If a client uses batch request and batch response, the
          `Status` message should be used directly inside batch response, one for
          each error sub-response.

      - Asynchronous operations. If an API call embeds asynchronous operation
          results in its response, the status of those operations should be
          represented directly using the `Status` message.

      - Logging. If some API errors are stored in logs, the message `Status` could
          be used directly after any stripping needed for security/privacy reasons.
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
