swagger: '2.0'
info:
  version: '2017-03-14'
  x-release: v4
  title: Amazon Route 53 Auto Naming
  description: 'Amazon Route 53 autonaming lets you configure public or private namespaces that your microservice applications run in. When instances of the service become available, you can call the autonaming API to register the instance, and Amazon Route 53 automatically creates up to five DNS records and an optional health check. Clients that submit DNS queries for the service receive an answer that contains up to eight healthy records.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: servicediscovery
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicediscovery-2017-03-14.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/servicediscovery/'
host: servicediscovery.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreatePrivateDnsNamespace
      description: 'Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePrivateDnsNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceAlreadyExists
          schema:
            $ref: '#/definitions/NamespaceAlreadyExists'
        '482':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePrivateDnsNamespaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreatePublicDnsNamespace':
    post:
      operationId: CreatePublicDnsNamespace
      description: 'Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. You can associate more than one service with the same namespace.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePublicDnsNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceAlreadyExists
          schema:
            $ref: '#/definitions/NamespaceAlreadyExists'
        '482':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePublicDnsNamespaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateService':
    post:
      operationId: CreateService
      description: '<p>Creates a service, which defines a template for the following entities:</p> <ul> <li> <p>One to five resource record sets</p> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and Amazon Route 53 uses the values in the template to create the specified entities. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '482':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
        '483':
          description: ServiceAlreadyExists
          schema:
            $ref: '#/definitions/ServiceAlreadyExists'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateServiceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteNamespace':
    post:
      operationId: DeleteNamespace
      description: 'Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNamespaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteService':
    post:
      operationId: DeleteService
      description: 'Deletes a specified service. If the service still contains one or more registered instances, the request fails.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServiceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterInstance':
    post:
      operationId: DeregisterInstance
      description: 'Deletes the resource record sets and the health check, if any, that Amazon Route 53 created for the specified instance.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterInstanceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '483':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '484':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstance':
    post:
      operationId: GetInstance
      description: Gets information about a specified instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceResponse'
        '480':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstancesHealthStatus':
    post:
      operationId: GetInstancesHealthStatus
      description: 'Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstancesHealthStatusResponse'
        '480':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstancesHealthStatusRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetNamespace':
    post:
      operationId: GetNamespace
      description: Gets information about a namespace.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetNamespaceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOperation':
    post:
      operationId: GetOperation
      description: 'Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request. To get a list of operations that match specified criteria, see <a>ListOperations</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationResponse'
        '480':
          description: OperationNotFound
          schema:
            $ref: '#/definitions/OperationNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetService':
    post:
      operationId: GetService
      description: Gets the settings for a specified service.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetServiceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListInstances':
    post:
      operationId: ListInstances
      description: Gets summary information about the instances that you created by using a specified service.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstancesResponse'
        '480':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInstancesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListNamespaces':
    post:
      operationId: ListNamespaces
      description: Gets information about the namespaces that were created by the current AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListNamespacesResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListNamespacesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOperations':
    post:
      operationId: ListOperations
      description: Lists operations that match the criteria that you specify.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOperationsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOperationsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListServices':
    post:
      operationId: ListServices
      description: Gets settings for all the services that are associated with one or more specified namespaces.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListServicesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListServicesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterInstance':
    post:
      operationId: RegisterInstance
      description: '<p>Creates one or more resource record sets and optionally a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a resource record set for each resource record set template in the service</p> </li> <li> <p>Creates a health check based on the settings in the health check template in the service, if any</p> </li> <li> <p>Associates the health check, if any, with each of the resource record sets</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service and instance ID.</p> </important> <p>For more information, see <a>CreateService</a>.</p> <p>When Amazon Route 53 receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the resource record sets</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the IP address of the last healthy instance</p> </li> <li> <p> <b>If you didn''t specify a health check template</b>: returns all the resource record sets</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterInstanceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '483':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '484':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateService':
    post:
      operationId: UpdateService
      description: '<p>Updates the TTL setting for a specified service. You must specify all the resource record set templates (and, optionally, a health check template) that you want to appear in the updated service. Any current resource record set templates (or health check template) that don''t appear in an <code>UpdateService</code> request are deleted.</p> <p>When you update the TTL setting for a service, Amazon Route 53 also updates the corresponding settings in all the resource record sets and health checks that were created by using the specified service.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServiceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Arn:
    type: string
    maxLength: 255
  AttrKey:
    type: string
    maxLength: 255
  AttrValue:
    type: string
    maxLength: 255
  Attributes:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttrKey'
        value:
          $ref: '#/definitions/AttrValue'
  Code:
    type: string
  CreatePrivateDnsNamespaceRequest:
    type: object
    required:
      - Name
      - Vpc
    properties:
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name that you want to assign to this namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
      Vpc:
        $ref: '#/definitions/ResourceId'
        description: The ID of the Amazon VPC that you want to associate the namespace with.
  CreatePrivateDnsNamespaceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
  CreatePublicDnsNamespaceRequest:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/NamespaceName'
        description: The name that you want to assign to this namespace.
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
  CreatePublicDnsNamespaceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
  CreateServiceRequest:
    type: object
    required:
      - Name
      - DnsConfig
    properties:
      Name:
        $ref: '#/definitions/ServiceName'
        description: The name that you want to assign to the service.
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the service.
      DnsConfig:
        $ref: '#/definitions/DnsConfig'
        description: 'A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance. '
      HealthCheckConfig:
        $ref: '#/definitions/HealthCheckConfig'
        description: '<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don''t coordinate with one another, so you''ll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href="http://aws.amazon.com/route53/pricing">Amazon Route 53 Pricing</a>.</p>'
  CreateServiceResponse:
    type: object
    properties:
      Service:
        $ref: '#/definitions/Service'
        description: A complex type that contains information about the new service.
  DeleteNamespaceRequest:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace that you want to delete.
  DeleteNamespaceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
  DeleteServiceRequest:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to delete.
  DeleteServiceResponse:
    type: object
    properties: {}
  DeregisterInstanceRequest:
    type: object
    required:
      - ServiceId
      - InstanceId
    properties:
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: The value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.
  DeregisterInstanceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. For more information, see <a>GetOperation</a>.'
  DnsConfig:
    type: object
    required:
      - NamespaceId
      - DnsRecords
    properties:
      NamespaceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace to use for DNS configuration.
      DnsRecords:
        $ref: '#/definitions/DnsRecordList'
        description: An array that contains one <code>DnsRecord</code> object for each resource record set that you want Amazon Route 53 to create when you register an instance.
    description: A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.
  DnsConfigChange:
    type: object
    required:
      - DnsRecords
    properties:
      DnsRecords:
        $ref: '#/definitions/DnsRecordList'
        description: An array that contains one <code>DnsRecord</code> object for each resource record set that you want Amazon Route 53 to create when you register an instance.
    description: A complex type that contains information about changes to the resource record sets that Amazon Route 53 creates when you register an instance.
  DnsProperties:
    type: object
    properties:
      HostedZoneId:
        $ref: '#/definitions/ResourceId'
        description: The ID for the hosted zone that Amazon Route 53 creates when you create a namespace.
    description: A complex type that contains the ID for the hosted zone that Amazon Route 53 creates when you create a namespace.
  DnsRecord:
    type: object
    required:
      - Type
      - TTL
    properties:
      Type:
        $ref: '#/definitions/RecordType'
        description: '<p>The type of the resource, which indicates the value that Amazon Route 53 returns in response to DNS queries. The following values are supported:</p> <ul> <li> <p> <b>A</b>: Amazon Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> </li> <li> <p> <b>AAAA</b>: Amazon Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> </li> <li> <p> <b>SRV</b>: Amazon Route 53 returns the value for an SRV record. The value for an SRV record uses the following template, which can''t be changed:</p> <p> <code>priority weight port resource-record-set-name</code> </p> <p>The values of <code>priority</code> and <code>weight</code> are both set to 1. The value of port comes from the value that you specify for <code>Port</code> when you submit a <a>RegisterInstance</a> request.</p> </li> </ul>'
      TTL:
        $ref: '#/definitions/RecordTTL'
        description: 'The amount of time, in seconds, that you want DNS resolvers to cache the settings for this resource record set.'
    description: A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.
  DnsRecordList:
    type: array
    items:
      $ref: '#/definitions/DnsRecord'
  DuplicateRequest:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: This request tried to create an object that already exists.
  ErrorMessage:
    type: string
  FailureThreshold:
    type: integer
    minimum: 1
    maximum: 10
  FilterCondition:
    type: string
    enum:
      - EQ
      - IN
      - BETWEEN
  FilterValue:
    type: string
    minLength: 1
    maxLength: 255
  FilterValues:
    type: array
    items:
      $ref: '#/definitions/FilterValue'
  GetInstanceRequest:
    type: object
    required:
      - ServiceId
      - InstanceId
    properties:
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the instance that you want to get information about.
  GetInstanceResponse:
    type: object
    properties:
      Instance:
        $ref: '#/definitions/Instance'
        description: A complex type that contains information about a specified instance.
  GetInstancesHealthStatusRequest:
    type: object
    required:
      - ServiceId
    properties:
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
      Instances:
        $ref: '#/definitions/InstanceIdList'
        description: '<p>An array that contains the IDs of all the instances that you want to get the health status for. To get the IDs for the instances that you''ve created by using a specified service, submit a <a>ListInstances</a> request.</p> <p>If you omit <code>Instances</code>, Amazon Route 53 returns the health status for all the instances that are associated with the specified service.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of instances that you want Amazon Route 53 to return in the response to a <code>GetInstancesHealthStatus</code> request. If you don''t specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 instances.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
  GetInstancesHealthStatusResponse:
    type: object
    properties:
      Status:
        $ref: '#/definitions/InstanceHealthStatusMap'
        description: A complex type that contains the IDs and the health status of the instances that you specified in the <code>GetInstancesHealthStatus</code> request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
  GetNamespaceRequest:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace that you want to get information about.
  GetNamespaceResponse:
    type: object
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: A complex type that contains information about the specified namespace.
  GetOperationRequest:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the operation that you want to get more information about.
  GetOperationResponse:
    type: object
    properties:
      Operation:
        $ref: '#/definitions/Operation'
        description: A complex type that contains information about the operation.
  GetServiceRequest:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to get settings for.
  GetServiceResponse:
    type: object
    properties:
      Service:
        $ref: '#/definitions/Service'
        description: A complex type that contains information about the service.
  HealthCheckConfig:
    type: object
    properties:
      Type:
        $ref: '#/definitions/HealthCheckType'
        description: '<p>The type of health check that you want to create, which indicates how Amazon Route 53 determines whether an endpoint is healthy.</p> <important> <p>You can''t change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>: Amazon Route 53 tries to establish a TCP connection.</p> </li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html">How Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>'
      ResourcePath:
        $ref: '#/definitions/ResourcePath'
        description: 'The path that you want Amazon Route 53 to request when performing health checks. The path can be any value for which your endpoint will return an HTTP status code of 2xx or 3xx when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>. Amazon Route 53 automatically adds the DNS name for the service and a leading forward slash (<code>/</code>) character. '
      FailureThreshold:
        $ref: '#/definitions/FailureThreshold'
        description: 'The number of consecutive health checks that an endpoint must pass or fail for Amazon Route 53 to change the current status of the endpoint from unhealthy to healthy or vice versa. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html">How Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.'
    description: '<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don''t coordinate with one another, so you''ll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href="http://aws.amazon.com/route53/pricing">Amazon Route 53 Pricing</a>.</p>'
  HealthCheckType:
    type: string
    enum:
      - HTTP
      - HTTPS
      - TCP
  HealthStatus:
    type: string
    enum:
      - HEALTHY
      - UNHEALTHY
      - UNKNOWN
  Instance:
    type: object
    required:
      - Id
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: '<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To associate a new instance, you must specify a value that is unique among instances that you associate by using the same service.</p> </li> </ul>'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>A string map that contains attribute keys and values. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IP</code>: If the service that you specify contains a resource record set template for an A or AAAA record, the IP address that you want Amazon Route 53 to use for the value of the A record.</p> </li> <li> <p> <code>AWS_INSTANCE_WEIGHT</code>: The weight value in an SRV record if the service that you specify includes an SRV record. You can also specify a default weight that is applied to all instances in the <code>Service</code> configuration. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_PRIORITY</code>: The priority value in an SRV record if the service that you specify includes an SRV record.</p> </li> </ul>'
    description: A complex type that contains information about an instance that Amazon Route 53 creates when you submit a <code>RegisterInstance</code> request.
  InstanceHealthStatusMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/ResourceId'
        value:
          $ref: '#/definitions/HealthStatus'
  InstanceIdList:
    type: array
    items:
      $ref: '#/definitions/ResourceId'
    minItems: 1
  InstanceNotFound:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: No instance exists with the specified ID.
  InstanceSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID for an instance that you created by using a specified service.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>A string map that contain attribute keys and values for an instance. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IP</code>: If the service that you specify contains a resource record set template for an A or AAAA record, the IP address that you want Amazon Route 53 to use for the value of the A record.</p> </li> </ul>'
    description: A complex type that contains information about the instances that you created by using a specified service.
  InstanceSummaryList:
    type: array
    items:
      $ref: '#/definitions/InstanceSummary'
  InvalidInput:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: 'One or more specified values aren''t valid. For example, when you''re creating a namespace, the value of <code>Name</code> might not be a valid DNS name.'
  ListInstancesRequest:
    type: object
    required:
      - ServiceId
    properties:
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to list instances for.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListInstances</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of instances that you want Amazon Route 53 to return in the response to a <code>ListInstances</code> request. If you don''t specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 instances.'
  ListInstancesResponse:
    type: object
    properties:
      Instances:
        $ref: '#/definitions/InstanceSummaryList'
        description: Summary information about the instances that are associated with the specified service.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
  ListNamespacesRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListNamespaces</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> namespaces match the specified criteria, you can submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of namespaces that you want Amazon Route 53 to return in the response to a <code>ListNamespaces</code> request. If you don''t specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 namespaces.'
      Filters:
        $ref: '#/definitions/NamespaceFilters'
        description: '<p>A complex type that contains specifications for the namespaces that you want to list.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by ListNamespaces.</p>'
  ListNamespacesResponse:
    type: object
    properties:
      Namespaces:
        $ref: '#/definitions/NamespaceSummariesList'
        description: An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> namespaces match the specified criteria, you can submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
  ListOperationsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListOperations</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> operations match the specified criteria, you can submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of items that you want Amazon Route 53 to return in the response to a <code>ListOperations</code> request. If you don''t specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 operations.'
      Filters:
        $ref: '#/definitions/OperationFilters'
        description: '<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started between a specified start date and end date.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>'
  ListOperationsResponse:
    type: object
    properties:
      Operations:
        $ref: '#/definitions/OperationSummaryList'
        description: Summary information about the operations that match the specified criteria.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> operations match the specified criteria, you can submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
  ListServicesRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListServices</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> services match the specified criteria, you can submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of services that you want Amazon Route 53 to return in the response to a <code>ListServices</code> request. If you don''t specify a value for <code>MaxResults</code>, Amazon Route 53 returns up to 100 services.'
      Filters:
        $ref: '#/definitions/ServiceFilters'
        description: '<p>A complex type that contains specifications for the namespaces that you want to list services for. </p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>'
  ListServicesResponse:
    type: object
    properties:
      Services:
        $ref: '#/definitions/ServiceSummariesList'
        description: An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> operations match the specified criteria, the value of <code>NextToken</code> is the first service in the next group of services that were created by the current AWS account. To get the next group, specify the value of <code>NextToken</code> from the previous response in the next request.'
  MaxResults:
    type: integer
    minimum: 1
    maximum: 100
  Message:
    type: string
  Namespace:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of a namespace.
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the namespace when you create it.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name of the namespace, such as <code>example.com</code>.'
      Type:
        $ref: '#/definitions/NamespaceType'
        description: The type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: The description that you specify for the namespace when you create it.
      ServiceCount:
        $ref: '#/definitions/ResourceCount'
        description: The number of services that are associated with the namespace.
      Properties:
        $ref: '#/definitions/NamespaceProperties'
        description: A complex type that contains information that's specific to the type of the namespace.
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC).'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
    description: A complex type that contains information about a specified namespace.
  NamespaceAlreadyExists:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: The <code>CreatorRequestId</code> that was used to create the namespace.
      NamespaceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the existing namespace.
    description: The namespace that you're trying to create already exists.
  NamespaceFilter:
    type: object
    required:
      - Name
      - Values
    properties:
      Name:
        $ref: '#/definitions/NamespaceFilterName'
        description: Specify <code>TYPE</code>.
      Values:
        $ref: '#/definitions/FilterValues'
        description: '<p>If you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code> or <code>DNS_PRIVATE</code>.</p> <p>If you specify <code>IN</code> for <code>Condition</code>, you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, or both.</p>'
      Condition:
        $ref: '#/definitions/FilterCondition'
        description: '<p>The operator that you want to use to determine whether <code>ListNamespaces</code> returns a namespace. Valid values for <code>condition</code> include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose to list only public namespaces or private namespaces, but not both. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can choose to list public namespaces, private namespaces, or both. </p> </li> </ul>'
    description: A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.
  NamespaceFilterName:
    type: string
    enum:
      - TYPE
  NamespaceFilters:
    type: array
    items:
      $ref: '#/definitions/NamespaceFilter'
  NamespaceName:
    type: string
    maxLength: 1024
  NamespaceNotFound:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: No namespace exists with the specified ID.
  NamespaceProperties:
    type: object
    properties:
      DnsProperties:
        $ref: '#/definitions/DnsProperties'
        description: A complex type that contains the ID for the hosted zone that Amazon Route 53 creates when you create a namespace.
    description: A complex type that contains information that is specific to the namespace type.
  NamespaceSummariesList:
    type: array
    items:
      $ref: '#/definitions/NamespaceSummary'
  NamespaceSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace.
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the namespace when you create it.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name of the namespace. When you create a namespace, Amazon Route 53 automatically creates a hosted zone that has the same name as the namespace.'
      Type:
        $ref: '#/definitions/NamespaceType'
        description: 'The type of the namespace, either public or private.'
    description: A complex type that contains information about a namespace.
  NamespaceType:
    type: string
    enum:
      - DNS_PUBLIC
      - DNS_PRIVATE
  NextToken:
    type: string
    maxLength: 4096
  Operation:
    type: object
    properties:
      Id:
        $ref: '#/definitions/OperationId'
        description: The ID of the operation that you want to get information about.
      Type:
        $ref: '#/definitions/OperationType'
        description: The name of the operation that is associated with the specified ID.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: '<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: Amazon Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>'
      ErrorMessage:
        $ref: '#/definitions/Message'
        description: 'If the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation failed.'
      ErrorCode:
        $ref: '#/definitions/Code'
        description: The code associated with <code>ErrorMessage</code>.
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the request was submitted, in Unix date/time format and Coordinated Universal Time (UTC).'
      UpdateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the value of <code>Status</code> changed to the current value, in Unix date/time format and Coordinated Universal Time (UTC).'
      Targets:
        $ref: '#/definitions/OperationTargetsMap'
        description: '<p>The name of the target entity that is associated with the operation:</p> <ul> <li> <p> <b>NAMESPACE</b>: The namespace ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>SERVICE</b>: The service ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>INSTANCE</b>: The instance ID is returned in the <code>ResourceId</code> property.</p> </li> </ul>'
    description: A complex type that contains information about a specified operation.
  OperationFilter:
    type: object
    required:
      - Name
      - Values
    properties:
      Name:
        $ref: '#/definitions/OperationFilterName'
        description: '<p>Specify the operations that you want to get:</p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Gets operations related to specified namespaces.</p> </li> <li> <p> <b>SERVICE_ID</b>: Gets operations related to specified services.</p> </li> <li> <p> <b>STATUS</b>: Gets operations based on the status of the operations: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Gets specified types of operation.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Gets operations that changed status during a specified date/time range. </p> </li> </ul>'
      Values:
        $ref: '#/definitions/FilterValues'
        description: '<p>Specify values that are applicable to the value that you specify for <code>Name</code>: </p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Specify one namespace ID.</p> </li> <li> <p> <b>SERVICE_ID</b>: Specify one service ID.</p> </li> <li> <p> <b>STATUS</b>: Specify one or more statuses: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Specify one or more of the following types: <code>CREATE_NAMESPACE</code>, <code>DELETE_NAMESPACE</code>, <code>UPDATE_SERVICE</code>, <code>REGISTER_INSTANCE</code>, or <code>DEREGISTER_INSTANCE</code>.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value.</p> </li> </ul>'
      Condition:
        $ref: '#/definitions/FilterCondition'
        description: '<p>The operator that you want to use to determine whether an operation matches the specified value. Valid values for condition include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can specify only one value. <code>EQ</code> is supported for <code>NAMESPACE_ID</code>, <code>SERVICE_ID</code>, <code>STATUS</code>, and <code>TYPE</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can specify a list of one or more values. <code>IN</code> is supported for <code>STATUS</code> and <code>TYPE</code>. An operation must match one of the specified values to be returned in the response.</p> </li> <li> <p> <code>BETWEEN</code>: Specify two values, a start date and an end date. The start date must be the first value. <code>BETWEEN</code> is supported for <code>U</code>. </p> </li> </ul>'
    description: A complex type that lets you select the operations that you want to list.
  OperationFilterName:
    type: string
    enum:
      - NAMESPACE_ID
      - SERVICE_ID
      - STATUS
      - TYPE
      - UPDATE_DATE
  OperationFilters:
    type: array
    items:
      $ref: '#/definitions/OperationFilter'
  OperationId:
    type: string
    maxLength: 255
  OperationNotFound:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: No operation exists with the specified ID.
  OperationStatus:
    type: string
    enum:
      - SUBMITTED
      - PENDING
      - SUCCESS
      - FAIL
  OperationSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/OperationId'
        description: The ID for an operation.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: '<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: Amazon Route 53 is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>'
    description: A complex type that contains information about an operation that matches the criteria that you specified in a <a>ListOperations</a> request.
  OperationSummaryList:
    type: array
    items:
      $ref: '#/definitions/OperationSummary'
  OperationTargetType:
    type: string
    enum:
      - NAMESPACE
      - SERVICE
      - INSTANCE
  OperationTargetsMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/OperationTargetType'
        value:
          $ref: '#/definitions/ResourceId'
  OperationType:
    type: string
    enum:
      - CREATE_NAMESPACE
      - DELETE_NAMESPACE
      - UPDATE_SERVICE
      - REGISTER_INSTANCE
      - DEREGISTER_INSTANCE
  RecordTTL:
    type: integer
    minimum: 0
    maximum: 2147483647
  RecordType:
    type: string
    enum:
      - SRV
      - A
      - AAAA
  RegisterInstanceRequest:
    type: object
    required:
      - ServiceId
      - InstanceId
      - Attributes
    properties:
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to use for settings for the resource record sets and health check that Amazon Route 53 will create.
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: '<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that is unique among instances that you register by using the same service.</p> </li> </ul>'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>A string map that contain attribute keys and values. Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_INSTANCE_PORT</code>: The port on the endpoint that you want Amazon Route 53 to perform health checks on. This value is also used for the port value in an SRV record if the service that you specify includes an SRV record. For more information, see <a>CreateService</a>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV4</code>: If the service that you specify contains a resource record set template for an A record, the IPv4 address that you want Amazon Route 53 to use for the value of the A record.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV6</code>: If the service that you specify contains a resource record set template for an AAAA record, the IPv6 address that you want Amazon Route 53 to use for the value of the AAAA record.</p> </li> </ul>'
  RegisterInstanceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
  ResourceCount:
    type: integer
  ResourceDescription:
    type: string
    maxLength: 1024
  ResourceId:
    type: string
    maxLength: 64
  ResourceInUse:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: 'The specified resource can''t be deleted because it contains other resources. For example, you can''t delete a service that contains any instances.'
  ResourceLimitExceeded:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: The resource can't be created because you've reached the limit on the number of resources.
  ResourcePath:
    type: string
    maxLength: 255
  Service:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID that Amazon Route 53 assigned to the service when you created it.
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the service when you create it.
      Name:
        $ref: '#/definitions/ServiceName'
        description: The name of the service.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: The description of the service.
      InstanceCount:
        $ref: '#/definitions/ResourceCount'
        description: The number of instances that are currently associated with the service. Instances that were previously associated with the service but that have been deleted are not included in the count.
      DnsConfig:
        $ref: '#/definitions/DnsConfig'
        description: A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.
      HealthCheckConfig:
        $ref: '#/definitions/HealthCheckConfig'
        description: '<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Amazon Route 53 associates the health check with all the resource record sets that you specify in <code>DnsConfig</code>.</p> <note> <p>The health check uses 30 seconds as the request interval. This is the number of seconds between the time that each Amazon Route 53 health checker gets a response from your endpoint and the time that it sends the next health check request. A health checker in each data center around the world sends your endpoint a health check request every 30 seconds. On average, your endpoint receives a health check request about every two seconds. Health checkers in different data centers don''t coordinate with one another, so you''ll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> </note> <p>For information about the charges for health checks, see <a href="http://aws.amazon.com/route53/pricing">Amazon Route 53 Pricing</a>.</p>'
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the service was created, in Unix format and Coordinated Universal Time (UTC).'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: An optional parameter that you can use to resolve concurrent creation requests. <code>CreatorRequestId</code> helps to determine if a specific client owns the namespace.
    description: A complex type that contains information about the specified service.
  ServiceAlreadyExists:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: The <code>CreatorRequestId</code> that was used to create the service.
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the existing service.
    description: The service can't be created because a service with the same name already exists.
  ServiceChange:
    type: object
    required:
      - DnsConfig
    properties:
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the service.
      DnsConfig:
        $ref: '#/definitions/DnsConfigChange'
        description: A complex type that contains information about the resource record sets that you want Amazon Route 53 to create when you register an instance.
      HealthCheckConfig:
        $ref: '#/definitions/HealthCheckConfig'
    description: A complex type that contains changes to an existing service.
  ServiceFilter:
    type: object
    required:
      - Name
      - Values
    properties:
      Name:
        $ref: '#/definitions/ServiceFilterName'
        description: Specify <code>NAMESPACE_ID</code>.
      Values:
        $ref: '#/definitions/FilterValues'
        description: The values that are applicable to the value that you specify for <code>Condition</code> to filter the list of services.
      Condition:
        $ref: '#/definitions/FilterCondition'
        description: '<p>The operator that you want to use to determine whether a service is returned by <code>ListServices</code>. Valid values for <code>Condition</code> include the following:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code>, specify one namespace ID for <code>Values</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code>, specify a list of the IDs for the namespaces that you want <code>ListServices</code> to return a list of services for.</p> </li> </ul>'
    description: A complex type that lets you specify the namespaces that you want to list services for.
  ServiceFilterName:
    type: string
    enum:
      - NAMESPACE_ID
  ServiceFilters:
    type: array
    items:
      $ref: '#/definitions/ServiceFilter'
  ServiceName:
    type: string
    pattern: '((?=^.{1,127}$)^([a-zA-Z][a-zA-Z0-9-]{0,61}[a-zA-Z0-9]|[a-zA-Z])(\.([a-z][a-zA-Z0-9-]{0,61}[a-zA-Z0-9]|[a-zA-Z]))*$)|(^\.$)'
  ServiceNotFound:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: No service exists with the specified ID.
  ServiceSummariesList:
    type: array
    items:
      $ref: '#/definitions/ServiceSummary'
  ServiceSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID that Amazon Route 53 assigned to the service when you created it.
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that Amazon Route 53 assigns to the service when you create it.
      Name:
        $ref: '#/definitions/ServiceName'
        description: The name of the service.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: The description that you specify when you create the service.
      InstanceCount:
        $ref: '#/definitions/ResourceCount'
        description: The number of instances that are currently associated with the service. Instances that were previously associated with the service but that have been deleted are not included in the count.
    description: A complex type that contains information about a specified service.
  Timestamp:
    type: string
    format: date-time
  UpdateServiceRequest:
    type: object
    required:
      - Id
      - Service
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to update.
      Service:
        $ref: '#/definitions/ServiceChange'
        description: A complex type that contains the new settings for the service.
  UpdateServiceResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
