swagger: '2.0'
schemes:
  - https
  - http
host: servicediscovery.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'AWS Cloud Map lets you configure public DNS, private DNS, or HTTP namespaces that your microservice applications run in. When an instance of the service becomes available, you can call the AWS Cloud Map API to register the instance with AWS Cloud Map. For public or private DNS namespaces, AWS Cloud Map automatically creates DNS records and an optional health check. Clients that submit public or private DNS queries, or HTTP requests, for the service receive an answer that contains up to eight healthy records. '
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Cloud Map
  version: '2017-03-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicediscovery-2017-03-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: servicediscovery
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/servicediscovery/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Route53AutoNaming_v20170314.CreateHttpNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an HTTP namespace. Service instances that you register using an HTTP namespace can be discovered using a <code>DiscoverInstances</code> request but can''t be discovered using DNS. </p> <p>For the current limit on the number of namespaces that you can create using the same AWS account, see <a href="http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>'
      operationId: CreateHttpNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHttpNamespaceRequest'
        - enum:
            - Route53AutoNaming_v20170314.CreateHttpNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHttpNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceAlreadyExists
          schema:
            $ref: '#/definitions/NamespaceAlreadyExists'
        '482':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.CreatePrivateDnsNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can create using the same AWS account, see <a href="http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.'
      operationId: CreatePrivateDnsNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePrivateDnsNamespaceRequest'
        - enum:
            - Route53AutoNaming_v20170314.CreatePrivateDnsNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePrivateDnsNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceAlreadyExists
          schema:
            $ref: '#/definitions/NamespaceAlreadyExists'
        '482':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.CreatePublicDnsNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can create using the same AWS account, see <a href="http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.'
      operationId: CreatePublicDnsNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePublicDnsNamespaceRequest'
        - enum:
            - Route53AutoNaming_v20170314.CreatePublicDnsNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePublicDnsNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceAlreadyExists
          schema:
            $ref: '#/definitions/NamespaceAlreadyExists'
        '482':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.CreateService':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a service, which defines the configuration for the following entities:</p> <ul> <li> <p>For public and private DNS namespaces, one of the following combinations of DNS records in Amazon Route 53:</p> <ul> <li> <p>A</p> </li> <li> <p>AAAA</p> </li> <li> <p>A and AAAA</p> </li> <li> <p>SRV</p> </li> <li> <p>CNAME</p> </li> </ul> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and AWS Cloud Map uses the values in the configuration to create the specified entities.</p> <p>For the current limit on the number of instances that you can register using the same namespace and using the same service, see <a href="http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>'
      operationId: CreateService
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateServiceRequest'
        - enum:
            - Route53AutoNaming_v20170314.CreateService
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '482':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
        '483':
          description: ServiceAlreadyExists
          schema:
            $ref: '#/definitions/ServiceAlreadyExists'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.DeleteNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.'
      operationId: DeleteNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNamespaceRequest'
        - enum:
            - Route53AutoNaming_v20170314.DeleteNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '483':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.DeleteService':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a specified service. If the service still contains one or more registered instances, the request fails.'
      operationId: DeleteService
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServiceRequest'
        - enum:
            - Route53AutoNaming_v20170314.DeleteService
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.DeregisterInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the Amazon Route 53 DNS records and health check, if any, that AWS Cloud Map created for the specified instance.'
      operationId: DeregisterInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterInstanceRequest'
        - enum:
            - Route53AutoNaming_v20170314.DeregisterInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterInstanceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '483':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '484':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.DiscoverInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Discovers registered instances for a specified namespace and service.
      operationId: DiscoverInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DiscoverInstancesRequest'
        - enum:
            - Route53AutoNaming_v20170314.DiscoverInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DiscoverInstancesResponse'
        '480':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '481':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
        '482':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.GetInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a specified instance.
      operationId: GetInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceRequest'
        - enum:
            - Route53AutoNaming_v20170314.GetInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceResponse'
        '480':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.GetInstancesHealthStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p> <note> <p>There is a brief delay between when you register an instance and when the health status for the instance is available. </p> </note>'
      operationId: GetInstancesHealthStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetInstancesHealthStatusRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53AutoNaming_v20170314.GetInstancesHealthStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstancesHealthStatusResponse'
        '480':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.GetNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a namespace.
      operationId: GetNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetNamespaceRequest'
        - enum:
            - Route53AutoNaming_v20170314.GetNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNamespaceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: NamespaceNotFound
          schema:
            $ref: '#/definitions/NamespaceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.GetOperation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request.</p> <note> <p>To get a list of operations that match specified criteria, see <a>ListOperations</a>.</p> </note>'
      operationId: GetOperation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationRequest'
        - enum:
            - Route53AutoNaming_v20170314.GetOperation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationNotFound
          schema:
            $ref: '#/definitions/OperationNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.GetService':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the settings for a specified service.
      operationId: GetService
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetServiceRequest'
        - enum:
            - Route53AutoNaming_v20170314.GetService
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServiceResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.ListInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists summary information about the instances that you registered by using a specified service.
      operationId: ListInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListInstancesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53AutoNaming_v20170314.ListInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstancesResponse'
        '480':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.ListNamespaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists summary information about the namespaces that were created by the current AWS account.
      operationId: ListNamespaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListNamespacesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53AutoNaming_v20170314.ListNamespaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListNamespacesResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.ListOperations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists operations that match the criteria that you specify.
      operationId: ListOperations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOperationsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53AutoNaming_v20170314.ListOperations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOperationsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.ListServices':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists summary information for all the services that are associated with one or more specified namespaces.
      operationId: ListServices
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListServicesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53AutoNaming_v20170314.ListServices
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListServicesResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.RegisterInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates or updates one or more records and, optionally, creates a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, the following occurs:</p> <ul> <li> <p>For each DNS record that you define in the service that is specified by <code>ServiceId</code>, a record is created or updated in the hosted zone that is associated with the corresponding namespace.</p> </li> <li> <p>If the service includes <code>HealthCheckConfig</code>, a health check is created based on the settings in the health check configuration.</p> </li> <li> <p>The health check, if any, is associated with each of the new or updated records.</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service ID and instance ID.</p> </important> <p>For more information, see <a>CreateService</a>.</p> <p>When AWS Cloud Map receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the records</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the applicable value for the last healthy instance</p> </li> <li> <p> <b>If you didn''t specify a health check configuration</b>: returns all the records</p> </li> </ul> <p>For the current limit on the number of instances that you can register using the same namespace and using the same service, see <a href="http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>'
      operationId: RegisterInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RegisterInstanceRequest'
        - enum:
            - Route53AutoNaming_v20170314.RegisterInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterInstanceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ResourceInUse
          schema:
            $ref: '#/definitions/ResourceInUse'
        '483':
          description: ResourceLimitExceeded
          schema:
            $ref: '#/definitions/ResourceLimitExceeded'
        '484':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.UpdateInstanceCustomHealthStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Submits a request to change the health status of a custom health check to healthy or unhealthy.</p> <p>You can use <code>UpdateInstanceCustomHealthStatus</code> to change the status only for custom health checks, which you define using <code>HealthCheckCustomConfig</code> when you create a service. You can''t use it to change the status for Route 53 health checks, which you define using <code>HealthCheckConfig</code>.</p> <p>For more information, see <a>HealthCheckCustomConfig</a>.</p>'
      operationId: UpdateInstanceCustomHealthStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateInstanceCustomHealthStatusRequest'
        - enum:
            - Route53AutoNaming_v20170314.UpdateInstanceCustomHealthStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNotFound
          schema:
            $ref: '#/definitions/InstanceNotFound'
        '481':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
        '482':
          description: CustomHealthNotFound
          schema:
            $ref: '#/definitions/CustomHealthNotFound'
        '483':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53AutoNaming_v20170314.UpdateService':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Submits a request to perform the following operations:</p> <ul> <li> <p>Add or delete <code>DnsRecords</code> configurations</p> </li> <li> <p>Update the TTL setting for existing <code>DnsRecords</code> configurations</p> </li> <li> <p>Add, update, or delete <code>HealthCheckConfig</code> for a specified service</p> </li> </ul> <p>For public and private DNS namespaces, you must specify all <code>DnsRecords</code> configurations (and, optionally, <code>HealthCheckConfig</code>) that you want to appear in the updated service. Any current configurations that don''t appear in an <code>UpdateService</code> request are deleted.</p> <p>When you update the TTL setting for a service, AWS Cloud Map also updates the corresponding settings in all the records and health checks that were created by using the specified service.</p>'
      operationId: UpdateService
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServiceRequest'
        - enum:
            - Route53AutoNaming_v20170314.UpdateService
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceResponse'
        '480':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '481':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '482':
          description: ServiceNotFound
          schema:
            $ref: '#/definitions/ServiceNotFound'
definitions:
  Arn:
    maxLength: 255
    type: string
  AttrKey:
    maxLength: 255
    type: string
  AttrValue:
    maxLength: 1024
    type: string
  Attributes:
    additionalProperties:
      $ref: '#/definitions/AttrValue'
    type: object
  Code:
    type: string
  CreateHttpNamespaceRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed <code>CreateHttpNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.'
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: The name that you want to assign to this namespace.
    required:
      - Name
    type: object
  CreateHttpNamespaceResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
    type: object
  CreatePrivateDnsNamespaceRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.'
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name that you want to assign to this namespace. When you create a private DNS namespace, AWS Cloud Map automatically creates an Amazon Route 53 private hosted zone that has the same name as the namespace.'
      Vpc:
        $ref: '#/definitions/ResourceId'
        description: The ID of the Amazon VPC that you want to associate the namespace with.
    required:
      - Name
      - Vpc
    type: object
  CreatePrivateDnsNamespaceResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
    type: object
  CreatePublicDnsNamespaceRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.'
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: The name that you want to assign to this namespace.
    required:
      - Name
    type: object
  CreatePublicDnsNamespaceResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
    type: object
  CreateServiceRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed <code>CreateService</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.'
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the service.
      DnsConfig:
        $ref: '#/definitions/DnsConfig'
        description: 'A complex type that contains information about the Amazon Route 53 records that you want AWS Cloud Map to create when you register an instance. '
      HealthCheckConfig:
        $ref: '#/definitions/HealthCheckConfig'
        description: '<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional Route 53 health check. If you specify settings for a health check, AWS Cloud Map associates the health check with all the Route 53 DNS records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>For information about the charges for health checks, see <a href="http://aws.amazon.com/cloud-map/pricing/">AWS Cloud Map Pricing</a>.</p>'
      HealthCheckCustomConfig:
        $ref: '#/definitions/HealthCheckCustomConfig'
        description: '<p>A complex type that contains information about an optional custom health check.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important>'
      Name:
        $ref: '#/definitions/ServiceName'
        description: The name that you want to assign to the service.
      NamespaceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace that you want to use to create the service.
    required:
      - Name
    type: object
  CreateServiceResponse:
    properties:
      Service:
        $ref: '#/definitions/Service'
        description: A complex type that contains information about the new service.
    type: object
  CustomHealthNotFound: {}
  CustomHealthStatus:
    enum:
      - HEALTHY
      - UNHEALTHY
    type: string
  DeleteNamespaceRequest:
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace that you want to delete.
    required:
      - Id
    type: object
  DeleteNamespaceResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.'
    type: object
  DeleteServiceRequest:
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to delete.
    required:
      - Id
    type: object
  DeleteServiceResponse:
    properties: {}
    type: object
  DeregisterInstanceRequest:
    properties:
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: The value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
    required:
      - ServiceId
      - InstanceId
    type: object
  DeregisterInstanceResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'A value that you can use to determine whether the request completed successfully. For more information, see <a>GetOperation</a>.'
    type: object
  DiscoverInstancesRequest:
    properties:
      HealthStatus:
        $ref: '#/definitions/HealthStatusFilter'
        description: The health status of the instances that you want to discover.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of instances that you want Cloud Map to return in the response to a <code>DiscoverInstances</code> request. If you don''t specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.'
      NamespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the namespace that you specified when you registered the instance.
      QueryParameters:
        $ref: '#/definitions/Attributes'
        description: A string map that contains attributes with values that you can use to filter instances by any custom attribute that you specified when you registered the instance. Only instances that match all the specified key/value pairs will be returned.
      ServiceName:
        $ref: '#/definitions/ServiceName'
        description: The name of the service that you specified when you registered the instance.
    required:
      - NamespaceName
      - ServiceName
    type: object
  DiscoverInstancesResponse:
    properties:
      Instances:
        $ref: '#/definitions/HttpInstanceSummaryList'
        description: A complex type that contains one <code>HttpInstanceSummary</code> for each registered instance.
    type: object
  DnsConfig:
    description: A complex type that contains information about the Amazon Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.
    properties:
      DnsRecords:
        $ref: '#/definitions/DnsRecordList'
        description: An array that contains one <code>DnsRecord</code> object for each Route 53 DNS record that you want AWS Cloud Map to create when you register an instance.
      NamespaceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace to use for DNS configuration.Top level attribute in request should be used to reference namespace-id
      RoutingPolicy:
        $ref: '#/definitions/RoutingPolicy'
        description: '<p>The routing policy that you want to apply to all Route 53 DNS records that AWS Cloud Map creates when you register an instance and specify this service.</p> <note> <p>If you want to use this service to register instances that create alias records, specify <code>WEIGHTED</code> for the routing policy.</p> </note> <p>You can specify the following values:</p> <p> <b>MULTIVALUE</b> </p> <p>If you define a health check for the service and the health check is healthy, Route 53 returns the applicable value for up to eight instances.</p> <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with IP addresses for up to eight healthy instances. If fewer than eight instances are healthy, Route 53 responds to every DNS query with the IP addresses for all of the healthy instances.</p> <p>If you don''t define a health check for the service, Route 53 assumes that all instances are healthy and returns the values for up to eight instances.</p> <p>For more information about the multivalue routing policy, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue">Multivalue Answer Routing</a> in the <i>Route 53 Developer Guide</i>.</p> <p> <b>WEIGHTED</b> </p> <p>Route 53 returns the applicable value from one randomly selected instance from among the instances that you registered using the same service. Currently, all records have the same weight, so you can''t route more or less traffic to any instances.</p> <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with the IP address for one randomly selected instance from among the healthy instances. If no instances are healthy, Route 53 responds to DNS queries as if all of the instances were healthy.</p> <p>If you don''t define a health check for the service, Route 53 assumes that all instances are healthy and returns the applicable value for one randomly selected instance.</p> <p>For more information about the weighted routing policy, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted">Weighted Routing</a> in the <i>Route 53 Developer Guide</i>.</p>'
    required:
      - DnsRecords
    type: object
  DnsConfigChange:
    description: A complex type that contains information about changes to the Route 53 DNS records that AWS Cloud Map creates when you register an instance.
    properties:
      DnsRecords:
        $ref: '#/definitions/DnsRecordList'
        description: An array that contains one <code>DnsRecord</code> object for each Route 53 record that you want AWS Cloud Map to create when you register an instance.
    required:
      - DnsRecords
    type: object
  DnsProperties:
    description: A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.
    properties:
      HostedZoneId:
        $ref: '#/definitions/ResourceId'
        description: The ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.
    type: object
  DnsRecord:
    description: A complex type that contains information about the Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.
    properties:
      TTL:
        $ref: '#/definitions/RecordTTL'
        description: '<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this record.</p> <note> <p>Alias records don''t include a TTL because Route 53 uses the TTL for the AWS resource that an alias record routes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a>RegisterInstance</a> request, the <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service to register instances that create either alias or non-alias records.</p> </note>'
      Type:
        $ref: '#/definitions/RecordType'
        description: '<p>The type of the resource, which indicates the type of value that Route 53 returns in response to DNS queries.</p> <p>Note the following:</p> <ul> <li> <p> <b>A, AAAA, and SRV records:</b> You can specify settings for a maximum of one A, one AAAA, and one SRV record. You can specify them in any combination.</p> </li> <li> <p> <b>CNAME records:</b> If you specify <code>CNAME</code> for <code>Type</code>, you can''t define any other records. This is a limitation of DNS: you can''t create a CNAME record and any other type of record that has the same name as a CNAME record.</p> </li> <li> <p> <b>Alias records:</b> If you want AWS Cloud Map to create a Route 53 alias record when you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p> </li> <li> <p> <b>All records:</b> You specify settings other than <code>TTL</code> and <code>Type</code> when you register an instance.</p> </li> </ul> <p>The following values are supported:</p> <p> <b>A</b> </p> <p>Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> <p> <b>AAAA</b> </p> <p>Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> <p> <b>CNAME</b> </p> <p>Route 53 returns the domain name of the resource, such as www.example.com. Note the following:</p> <ul> <li> <p>You specify the domain name that you want to route traffic to when you register an instance. For more information, see <a>RegisterInstanceRequest$Attributes</a>.</p> </li> <li> <p>You must specify <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p> </li> <li> <p>You can''t specify both <code>CNAME</code> for <code>Type</code> and settings for <code>HealthCheckConfig</code>. If you do, the request will fail with an <code>InvalidInput</code> error.</p> </li> </ul> <p> <b>SRV</b> </p> <p>Route 53 returns the value for an SRV record. The value for an SRV record uses the following values:</p> <p> <code>priority weight port service-hostname</code> </p> <p>Note the following about the values:</p> <ul> <li> <p>The values of <code>priority</code> and <code>weight</code> are both set to <code>1</code> and can''t be changed. </p> </li> <li> <p>The value of <code>port</code> comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute when you submit a <a>RegisterInstance</a> request. </p> </li> <li> <p>The value of <code>service-hostname</code> is a concatenation of the following values:</p> <ul> <li> <p>The value that you specify for <code>InstanceId</code> when you register an instance.</p> </li> <li> <p>The name of the service.</p> </li> <li> <p>The name of the namespace. </p> </li> </ul> <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of the service is <code>backend</code>, and the name of the namespace is <code>example.com</code>, the value of <code>service-hostname</code> is:</p> <p> <code>test.backend.example.com</code> </p> </li> </ul> <p>If you specify settings for an SRV record and if you specify values for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request, AWS Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have the same name as the value of <code>service-hostname</code> in the SRV record. You can ignore these records.</p>'
    required:
      - Type
      - TTL
    type: object
  DnsRecordList:
    items:
      $ref: '#/definitions/DnsRecord'
    type: array
  DuplicateRequest: {}
  FailureThreshold:
    maximum: 10
    minimum: 1
    type: integer
  FilterCondition:
    enum:
      - EQ
      - IN
      - BETWEEN
    type: string
  FilterValue:
    maxLength: 255
    minLength: 1
    type: string
  FilterValues:
    items:
      $ref: '#/definitions/FilterValue'
    type: array
  GetInstanceRequest:
    properties:
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the instance that you want to get information about.
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
    required:
      - ServiceId
      - InstanceId
    type: object
  GetInstanceResponse:
    properties:
      Instance:
        $ref: '#/definitions/Instance'
        description: A complex type that contains information about a specified instance.
    type: object
  GetInstancesHealthStatusRequest:
    properties:
      Instances:
        $ref: '#/definitions/InstanceIdList'
        description: '<p>An array that contains the IDs of all the instances that you want to get the health status for.</p> <p>If you omit <code>Instances</code>, AWS Cloud Map returns the health status for all the instances that are associated with the specified service.</p> <note> <p>To get the IDs for the instances that you''ve registered by using a specified service, submit a <a>ListInstances</a> request.</p> </note>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>GetInstancesHealthStatus</code> request. If you don''t specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that the instance is associated with.
    required:
      - ServiceId
    type: object
  GetInstancesHealthStatusResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
      Status:
        $ref: '#/definitions/InstanceHealthStatusMap'
        description: A complex type that contains the IDs and the health status of the instances that you specified in the <code>GetInstancesHealthStatus</code> request.
    type: object
  GetNamespaceRequest:
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace that you want to get information about.
    required:
      - Id
    type: object
  GetNamespaceResponse:
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: A complex type that contains information about the specified namespace.
    type: object
  GetOperationRequest:
    properties:
      OperationId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the operation that you want to get more information about.
    required:
      - OperationId
    type: object
  GetOperationResponse:
    properties:
      Operation:
        $ref: '#/definitions/Operation'
        description: A complex type that contains information about the operation.
    type: object
  GetServiceRequest:
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to get settings for.
    required:
      - Id
    type: object
  GetServiceResponse:
    properties:
      Service:
        $ref: '#/definitions/Service'
        description: A complex type that contains information about the service.
    type: object
  HealthCheckConfig:
    description: '<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, AWS Cloud Map associates the health check with the records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for health checks, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p> <p>Note the following about configuring health checks.</p> <p> <b>A and AAAA records</b> </p> <p>If <code>DnsConfig</code> includes configurations for both A and AAAA records, AWS Cloud Map creates a health check that uses the IPv4 address to check the health of the resource. If the endpoint that is specified by the IPv4 address is unhealthy, Route 53 considers both the A and AAAA records to be unhealthy. </p> <p> <b>CNAME records</b> </p> <p>You can''t specify settings for <code>HealthCheckConfig</code> when the <code>DNSConfig</code> includes <code>CNAME</code> for the value of <code>Type</code>. If you do, the <code>CreateService</code> request will fail with an <code>InvalidInput</code> error.</p> <p> <b>Request interval</b> </p> <p>A Route 53 health checker in each health-checking region sends a health check request to an endpoint every 30 seconds. On average, your endpoint receives a health check request about every two seconds. However, health checkers don''t coordinate with one another, so you''ll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> <p> <b>Health checking regions</b> </p> <p>Health checkers perform checks from all Route 53 health-checking regions. For a list of the current regions, see <a href="http://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions">Regions</a>.</p> <p> <b>Alias records</b> </p> <p>When you register an instance, if you include the <code>AWS_ALIAS_DNS_NAME</code> attribute, AWS Cloud Map creates a Route 53 alias record. Note the following:</p> <ul> <li> <p>Route 53 automatically sets <code>EvaluateTargetHealth</code> to true for alias records. When <code>EvaluateTargetHealth</code> is true, the alias record inherits the health of the referenced AWS resource. such as an ELB load balancer. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth">EvaluateTargetHealth</a>.</p> </li> <li> <p>If you include <code>HealthCheckConfig</code> and then use the service to register an instance that creates an alias record, Route 53 doesn''t create the health check.</p> </li> </ul> <p> <b>Charges for health checks</b> </p> <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for health checks, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p>'
    properties:
      FailureThreshold:
        $ref: '#/definitions/FailureThreshold'
        description: 'The number of consecutive health checks that an endpoint must pass or fail for Route 53 to change the current status of the endpoint from unhealthy to healthy or vice versa. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html">How Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.'
      ResourcePath:
        $ref: '#/definitions/ResourcePath'
        description: '<p>The path that you want Route 53 to request when performing health checks. The path can be any value for which your endpoint will return an HTTP status code of 2xx or 3xx when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>. Route 53 automatically adds the DNS name for the service. If you don''t specify a value for <code>ResourcePath</code>, the default value is <code>/</code>.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, you must <i>not</i> specify a value for <code>ResourcePath</code>.</p>'
      Type:
        $ref: '#/definitions/HealthCheckType'
        description: '<p>The type of health check that you want to create, which indicates how Route 53 determines whether an endpoint is healthy.</p> <important> <p>You can''t change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>: Route 53 tries to establish a TCP connection.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, don''t specify a value for <code>ResourcePath</code>.</p> </li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html">How Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.</p>'
    required:
      - Type
    type: object
  HealthCheckCustomConfig:
    description: '<p>A complex type that contains information about an optional custom health check. A custom health check, which requires that you use a third-party health checker to evaluate the health of your resources, is useful in the following circumstances:</p> <ul> <li> <p>You can''t use a health check that is defined by <code>HealthCheckConfig</code> because the resource isn''t available over the internet. For example, you can use a custom health check when the instance is in an Amazon VPC. (To check the health of resources in a VPC, the health checker must also be in the VPC.)</p> </li> <li> <p>You want to use a third-party health checker regardless of where your resources are.</p> </li> </ul> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>To change the status of a custom health check, submit an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map doesn''t monitor the status of the resource, it just keeps a record of the status specified in the most recent <code>UpdateInstanceCustomHealthStatus</code> request.</p> <p>Here''s how custom health checks work:</p> <ol> <li> <p>You create a service and specify a value for <code>FailureThreshold</code>. </p> <p>The failure threshold indicates the number of 30-second intervals you want AWS Cloud Map to wait between the time that your application sends an <a>UpdateInstanceCustomHealthStatus</a> request and the time that AWS Cloud Map stops routing internet traffic to the corresponding resource.</p> </li> <li> <p>You register an instance.</p> </li> <li> <p>You configure a third-party health checker to monitor the resource that is associated with the new instance. </p> <note> <p>AWS Cloud Map doesn''t check the health of the resource directly. </p> </note> </li> <li> <p>The third-party health-checker determines that the resource is unhealthy and notifies your application.</p> </li> <li> <p>Your application submits an <code>UpdateInstanceCustomHealthStatus</code> request.</p> </li> <li> <p>AWS Cloud Map waits for (<code>FailureThreshold</code> x 30) seconds.</p> </li> <li> <p>If another <code>UpdateInstanceCustomHealthStatus</code> request doesn''t arrive during that time to change the status back to healthy, AWS Cloud Map stops routing traffic to the resource.</p> </li> </ol> <p>Note the following about configuring custom health checks.</p>'
    properties:
      FailureThreshold:
        $ref: '#/definitions/FailureThreshold'
        description: '<p>The number of 30-second intervals that you want Cloud Map to wait after receiving an <code>UpdateInstanceCustomHealthStatus</code> request before it changes the health status of a service instance. For example, suppose you specify a value of <code>2</code> for <code>FailureTheshold</code>, and then your application sends an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map waits for approximately 60 seconds (2 x 30) before changing the status of the service instance based on that request.</p> <p>Sending a second or subsequent <code>UpdateInstanceCustomHealthStatus</code> request with the same value before <code>FailureThreshold x 30</code> seconds has passed doesn''t accelerate the change. Cloud Map still waits <code>FailureThreshold x 30</code> seconds after the first request to make the change.</p>'
    type: object
  HealthCheckType:
    enum:
      - HTTP
      - HTTPS
      - TCP
    type: string
  HealthStatus:
    enum:
      - HEALTHY
      - UNHEALTHY
      - UNKNOWN
    type: string
  HealthStatusFilter:
    enum:
      - HEALTHY
      - UNHEALTHY
      - ALL
    type: string
  HttpInstanceSummary:
    description: 'In a response to a <a>DiscoverInstance</a> request, <code>HttpInstanceSummary</code> contains information about one instance that matches the values that you specified in the request.'
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: 'If you included any attributes when you registered the instance, the values of those attributes.'
      HealthStatus:
        $ref: '#/definitions/HealthStatus'
        description: 'If you configured health checking in the service, the current health status of the service instance.'
      InstanceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of an instance that matches the values that you specified in the request.
      NamespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the namespace that you specified when you registered the instance.
      ServiceName:
        $ref: '#/definitions/ServiceName'
        description: The name of the service that you specified when you registered the instance.
    type: object
  HttpInstanceSummaryList:
    items:
      $ref: '#/definitions/HttpInstanceSummary'
    type: array
  HttpProperties:
    description: A complex type that contains the name of an HTTP namespace.
    properties:
      HttpName:
        $ref: '#/definitions/NamespaceName'
        description: The name of an HTTP namespace.
    type: object
  Instance:
    description: A complex type that contains information about an instance that AWS Cloud Map creates when you submit a <code>RegisterInstance</code> request.
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>A string map that contains the following information for the service that you specify in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <p> <b>AWS_ALIAS_DNS_NAME</b> </p> <p> <b/> </p> <p>If you want AWS Cloud Map to create a Route 53 alias record that routes traffic to an Elastic Load Balancing load balancer, specify the DNS name that is associated with the load balancer. For information about how to get the DNS name, see "DNSName" in the topic <a href="http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html">AliasTarget</a>.</p> <p>Note the following:</p> <ul> <li> <p>The configuration for the service that is specified by <code>ServiceId</code> must include settings for an A record, an AAAA record, or both.</p> </li> <li> <p>In the service that is specified by <code>ServiceId</code>, the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li> <li> <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code> settings, AWS Cloud Map will create the health check, but it won''t associate the health check with the alias record.</p> </li> <li> <p>Auto naming currently doesn''t support creating alias records that route traffic to AWS resources other than ELB load balancers.</p> </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don''t specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul> <p> <b>AWS_INSTANCE_CNAME</b> </p> <p>If the service configuration includes a CNAME record, the domain name that you want Route 53 to return in response to DNS queries, for example, <code>example.com</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an CNAME record.</p> <p> <b>AWS_INSTANCE_IPV4</b> </p> <p>If the service configuration includes an A record, the IPv4 address that you want Route 53 to return in response to DNS queries, for example, <code>192.0.2.44</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an A record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_IPV6</b> </p> <p>If the service configuration includes an AAAA record, the IPv6 address that you want Route 53 to return in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an AAAA record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_PORT</b> </p> <p>If the service includes an SRV record, the value that you want Route 53 to return for the port.</p> <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you want Route 53 to send requests to. </p> <p>This value is required if you specified settings for an SRV record when you created the service.</p>'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed <code>RegisterInstance</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code> request if you''re registering additional instances for the same namespace and service. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.'
      Id:
        $ref: '#/definitions/ResourceId'
        description: '<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>If the service that is specified by <code>ServiceId</code> includes settings for an SRV record, the value of <code>InstanceId</code> is automatically included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p> </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that is unique among instances that you register by using the same service. </p> </li> <li> <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, AWS Cloud Map updates the existing DNS records. If there''s also an existing health check, AWS Cloud Map deletes the old health check and creates a new one. </p> <note> <p>The health check isn''t deleted immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code> request, for example.</p> </note> </li> </ul>'
    required:
      - Id
    type: object
  InstanceHealthStatusMap:
    additionalProperties:
      $ref: '#/definitions/HealthStatus'
    type: object
  InstanceIdList:
    items:
      $ref: '#/definitions/ResourceId'
    minItems: 1
    type: array
  InstanceNotFound: {}
  InstanceSummary:
    description: A complex type that contains information about the instances that you registered by using a specified service.
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: '<p>A string map that contains the following information:</p> <ul> <li> <p>The attributes that are associate with the instance. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_ALIAS_DNS_NAME</code>: For an alias record that routes traffic to an Elastic Load Balancing load balancer, the DNS name that is associated with the load balancer. </p> </li> <li> <p> <code>AWS_INSTANCE_CNAME</code>: For a CNAME record, the domain name that Route 53 returns in response to DNS queries, for example, <code>example.com</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV4</code>: For an A record, the IPv4 address that Route 53 returns in response to DNS queries, for example, <code>192.0.2.44</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV6</code>: For an AAAA record, the IPv6 address that Route 53 returns in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_PORT</code>: For an SRV record, the value that Route 53 returns for the port. In addition, if the service includes <code>HealthCheckConfig</code>, the port on the endpoint that Route 53 sends requests to.</p> </li> </ul>'
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID for an instance that you created by using a specified service.
    type: object
  InstanceSummaryList:
    items:
      $ref: '#/definitions/InstanceSummary'
    type: array
  InvalidInput: {}
  ListInstancesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>ListInstances</code> request. If you don''t specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListInstances</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>'
      ServiceId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the service that you want to list instances for.
    required:
      - ServiceId
    type: object
  ListInstancesResponse:
    properties:
      Instances:
        $ref: '#/definitions/InstanceSummaryList'
        description: Summary information about the instances that are associated with the specified service.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.'
    type: object
  ListNamespacesRequest:
    properties:
      Filters:
        $ref: '#/definitions/NamespaceFilters'
        description: '<p>A complex type that contains specifications for the namespaces that you want to list.</p> <p>If you specify more than one filter, a namespace must match all filters to be returned by <code>ListNamespaces</code>.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of namespaces that you want AWS Cloud Map to return in the response to a <code>ListNamespaces</code> request. If you don''t specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 namespaces.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListNamespaces</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It''s possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>'
    type: object
  ListNamespacesResponse:
    properties:
      Namespaces:
        $ref: '#/definitions/NamespaceSummariesList'
        description: An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It''s possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>'
    type: object
  ListOperationsRequest:
    properties:
      Filters:
        $ref: '#/definitions/OperationFilters'
        description: '<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started between a specified start date and end date.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of items that you want AWS Cloud Map to return in the response to a <code>ListOperations</code> request. If you don''t specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 operations.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListOperations</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It''s possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>'
    type: object
  ListOperationsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It''s possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>'
      Operations:
        $ref: '#/definitions/OperationSummaryList'
        description: Summary information about the operations that match the specified criteria.
    type: object
  ListServicesRequest:
    properties:
      Filters:
        $ref: '#/definitions/ServiceFilters'
        description: '<p>A complex type that contains specifications for the namespaces that you want to list services for. </p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of services that you want AWS Cloud Map to return in the response to a <code>ListServices</code> request. If you don''t specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 services.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListServices</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It''s possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>'
    type: object
  ListServicesResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It''s possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>'
      Services:
        $ref: '#/definitions/ServiceSummariesList'
        description: An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.
    type: object
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  Message:
    type: string
  Namespace:
    description: A complex type that contains information about a specified namespace.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the namespace when you create it.
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.'
      CreatorRequestId:
        $ref: '#/definitions/ResourceId'
        description: 'A unique string that identifies the request and that allows failed requests to be retried without the risk of executing an operation twice. '
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: The description that you specify for the namespace when you create it.
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of a namespace.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name of the namespace, such as <code>example.com</code>.'
      Properties:
        $ref: '#/definitions/NamespaceProperties'
        description: A complex type that contains information that's specific to the type of the namespace.
      ServiceCount:
        $ref: '#/definitions/ResourceCount'
        description: The number of services that are associated with the namespace.
      Type:
        $ref: '#/definitions/NamespaceType'
        description: The type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.
    type: object
  NamespaceAlreadyExists: {}
  NamespaceFilter:
    description: A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.
    properties:
      Condition:
        $ref: '#/definitions/FilterCondition'
        description: '<p>The operator that you want to use to determine whether <code>ListNamespaces</code> returns a namespace. Valid values for <code>condition</code> include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose to list only public namespaces or private namespaces, but not both. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can choose to list public namespaces, private namespaces, or both. </p> </li> <li> <p> <code>BETWEEN</code>: Not applicable</p> </li> </ul>'
      Name:
        $ref: '#/definitions/NamespaceFilterName'
        description: Specify <code>TYPE</code>.
      Values:
        $ref: '#/definitions/FilterValues'
        description: '<p>If you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code> or <code>DNS_PRIVATE</code>.</p> <p>If you specify <code>IN</code> for <code>Condition</code>, you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, or both.</p>'
    required:
      - Name
      - Values
    type: object
  NamespaceFilterName:
    enum:
      - TYPE
    type: string
  NamespaceFilters:
    items:
      $ref: '#/definitions/NamespaceFilter'
    type: array
  NamespaceName:
    maxLength: 1024
    type: string
  NamespaceNotFound: {}
  NamespaceProperties:
    description: A complex type that contains information that is specific to the namespace type.
    properties:
      DnsProperties:
        $ref: '#/definitions/DnsProperties'
        description: A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.
      HttpProperties:
        $ref: '#/definitions/HttpProperties'
        description: A complex type that contains the name of an HTTP namespace.
    type: object
  NamespaceSummariesList:
    items:
      $ref: '#/definitions/NamespaceSummary'
    type: array
  NamespaceSummary:
    description: A complex type that contains information about a namespace.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the namespace when you create it.
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the namespace was created.
      Description:
        $ref: '#/definitions/ResourceDescription'
        description: A description for the namespace.
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the namespace.
      Name:
        $ref: '#/definitions/NamespaceName'
        description: 'The name of the namespace. When you create a namespace, AWS Cloud Map automatically creates a Route 53 hosted zone that has the same name as the namespace.'
      Properties:
        $ref: '#/definitions/NamespaceProperties'
      ServiceCount:
        $ref: '#/definitions/ResourceCount'
        description: The number of services that were created using the namespace.
      Type:
        $ref: '#/definitions/NamespaceType'
        description: 'The type of the namespace, either public or private.'
    type: object
  NamespaceType:
    enum:
      - DNS_PUBLIC
      - DNS_PRIVATE
      - HTTP
    type: string
  NextToken:
    maxLength: 4096
    type: string
  Operation:
    description: A complex type that contains information about a specified operation.
    properties:
      CreateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the request was submitted, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.'
      ErrorCode:
        $ref: '#/definitions/Code'
        description: '<p>The code associated with <code>ErrorMessage</code>. Values for <code>ErrorCode</code> include the following:</p> <ul> <li> <p> <code>ACCESS_DENIED</code> </p> </li> <li> <p> <code>CANNOT_CREATE_HOSTED_ZONE</code> </p> </li> <li> <p> <code>EXPIRED_TOKEN</code> </p> </li> <li> <p> <code>HOSTED_ZONE_NOT_FOUND</code> </p> </li> <li> <p> <code>INTERNAL_FAILURE</code> </p> </li> <li> <p> <code>INVALID_CHANGE_BATCH</code> </p> </li> <li> <p> <code>THROTTLED_REQUEST</code> </p> </li> </ul>'
      ErrorMessage:
        $ref: '#/definitions/Message'
        description: 'If the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation failed.'
      Id:
        $ref: '#/definitions/OperationId'
        description: The ID of the operation that you want to get information about.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: '<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: AWS Cloud Map is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>'
      Targets:
        $ref: '#/definitions/OperationTargetsMap'
        description: '<p>The name of the target entity that is associated with the operation:</p> <ul> <li> <p> <b>NAMESPACE</b>: The namespace ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>SERVICE</b>: The service ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>INSTANCE</b>: The instance ID is returned in the <code>ResourceId</code> property.</p> </li> </ul>'
      Type:
        $ref: '#/definitions/OperationType'
        description: The name of the operation that is associated with the specified ID.
      UpdateDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the value of <code>Status</code> changed to the current value, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>UpdateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.'
    type: object
  OperationFilter:
    description: A complex type that lets you select the operations that you want to list.
    properties:
      Condition:
        $ref: '#/definitions/FilterCondition'
        description: '<p>The operator that you want to use to determine whether an operation matches the specified value. Valid values for condition include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can specify only one value. <code>EQ</code> is supported for <code>NAMESPACE_ID</code>, <code>SERVICE_ID</code>, <code>STATUS</code>, and <code>TYPE</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can specify a list of one or more values. <code>IN</code> is supported for <code>STATUS</code> and <code>TYPE</code>. An operation must match one of the specified values to be returned in the response.</p> </li> <li> <p> <code>BETWEEN</code>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value. <code>BETWEEN</code> is supported for <code>UPDATE_DATE</code>. </p> </li> </ul>'
      Name:
        $ref: '#/definitions/OperationFilterName'
        description: '<p>Specify the operations that you want to get:</p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Gets operations related to specified namespaces.</p> </li> <li> <p> <b>SERVICE_ID</b>: Gets operations related to specified services.</p> </li> <li> <p> <b>STATUS</b>: Gets operations based on the status of the operations: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Gets specified types of operation.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Gets operations that changed status during a specified date/time range. </p> </li> </ul>'
      Values:
        $ref: '#/definitions/FilterValues'
        description: '<p>Specify values that are applicable to the value that you specify for <code>Name</code>: </p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Specify one namespace ID.</p> </li> <li> <p> <b>SERVICE_ID</b>: Specify one service ID.</p> </li> <li> <p> <b>STATUS</b>: Specify one or more statuses: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Specify one or more of the following types: <code>CREATE_NAMESPACE</code>, <code>DELETE_NAMESPACE</code>, <code>UPDATE_SERVICE</code>, <code>REGISTER_INSTANCE</code>, or <code>DEREGISTER_INSTANCE</code>.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value.</p> </li> </ul>'
    required:
      - Name
      - Values
    type: object
  OperationFilterName:
    enum:
      - NAMESPACE_ID
      - SERVICE_ID
      - STATUS
      - TYPE
      - UPDATE_DATE
    type: string
  OperationFilters:
    items:
      $ref: '#/definitions/OperationFilter'
    type: array
  OperationId:
    maxLength: 255
    type: string
  OperationNotFound: {}
  OperationStatus:
    enum:
      - SUBMITTED
      - PENDING
      - SUCCESS
      - FAIL
    type: string
  OperationSummary:
    description: A complex type that contains information about an operation that matches the criteria that you specified in a <a>ListOperations</a> request.
    properties:
      Id:
        $ref: '#/definitions/OperationId'
        description: The ID for an operation.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: '<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: AWS Cloud Map is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>'
    type: object
  OperationSummaryList:
    items:
      $ref: '#/definitions/OperationSummary'
    type: array
  OperationTargetType:
    enum:
      - NAMESPACE
      - SERVICE
      - INSTANCE
    type: string
  OperationTargetsMap:
    additionalProperties:
      $ref: '#/definitions/ResourceId'
    type: object
  OperationType:
    enum:
      - CREATE_NAMESPACE
      - DELETE_NAMESPACE
      - UPDATE_SERVICE
      - REGISTER_INSTANCE
      - DEREGISTER_INSTANCE
    type: string
  RecordTTL:
    maximum: 2147483647
    minimum: 0
    type: integer
  RecordType:
    enum:
      - SRV
      - A
      - AAAA
      - CNAME
    type: string
  RegisterInstanceRequest:
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
[...]
