{
  "swagger": "2.0",
  "info": {
    "title": "Tasks API",
    "x-serviceName": "tasks",
    "description": "Lets you manage your tasks and task lists.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/tasks/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/@me/lists/{tasklist}": {
      "delete": {
        "description": "Deletes the authenticated user's specified task list.",
        "operationId": "tasks.tasklists.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "get": {
        "description": "Returns the authenticated user's specified task list.",
        "operationId": "tasks.tasklists.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          }
        },
        "parameters": [
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks",
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "patch": {
        "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
        "operationId": "tasks.tasklists.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          }
        },
        "parameters": [
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "put": {
        "description": "Updates the authenticated user's specified task list.",
        "operationId": "tasks.tasklists.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          }
        },
        "parameters": [
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/@me/lists": {
      "post": {
        "description": "Creates a new task list and adds it to the authenticated user's task lists.",
        "operationId": "tasks.tasklists.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "get": {
        "description": "Returns all the authenticated user's task lists.",
        "operationId": "tasks.tasklists.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskLists"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of task lists returned on one page. Optional. The default is 100.",
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying the result page to return. Optional.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks",
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/lists/{tasklist}/clear": {
      "post": {
        "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
        "operationId": "tasks.tasks.clear",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/lists/{tasklist}/tasks/{task}": {
      "delete": {
        "description": "Deletes the specified task from the task list.",
        "operationId": "tasks.tasks.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "description": "Task identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "get": {
        "description": "Returns the specified task.",
        "operationId": "tasks.tasks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "description": "Task identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks",
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "patch": {
        "description": "Updates the specified task. This method supports patch semantics.",
        "operationId": "tasks.tasks.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "description": "Task identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "put": {
        "description": "Updates the specified task.",
        "operationId": "tasks.tasks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "description": "Task identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/lists/{tasklist}/tasks": {
      "post": {
        "description": "Creates a new task on the specified task list.",
        "operationId": "tasks.tasks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.",
            "type": "string"
          },
          {
            "name": "previous",
            "in": "query",
            "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "get": {
        "description": "Returns all tasks in the specified task list.",
        "operationId": "tasks.tasks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Tasks"
            }
          }
        },
        "parameters": [
          {
            "name": "completedMax",
            "in": "query",
            "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "type": "string"
          },
          {
            "name": "completedMin",
            "in": "query",
            "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "type": "string"
          },
          {
            "name": "dueMax",
            "in": "query",
            "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "type": "string"
          },
          {
            "name": "dueMin",
            "in": "query",
            "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of task lists returned on one page. Optional. The default is 100.",
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying the result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showCompleted",
            "in": "query",
            "description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True.",
            "type": "boolean"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks",
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/lists/{tasklist}/tasks/{task}/move": {
      "post": {
        "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
        "operationId": "tasks.tasks.move",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.",
            "type": "string"
          },
          {
            "name": "previous",
            "in": "query",
            "description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.",
            "type": "string"
          },
          {
            "name": "task",
            "in": "path",
            "description": "Task identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tasklist",
            "in": "path",
            "description": "Task list identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Task": {
      "type": "object",
      "properties": {
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "format": "date-time"
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. The default if False."
        },
        "due": {
          "type": "string",
          "description": "Due date of the task (as a RFC 3339 timestamp). Optional.",
          "format": "date-time"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "id": {
          "type": "string",
          "description": "Task identifier."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#task\".",
          "default": "tasks#task"
        },
        "links": {
          "type": "array",
          "description": "Collection of links. This collection is read-only.",
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "The description. In HTML speak: Everything between <a> and </a>."
              },
              "link": {
                "type": "string",
                "description": "The URL."
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\"."
              }
            }
          }
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Optional."
        },
        "parent": {
          "type": "string",
          "description": "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level."
        },
        "position": {
          "type": "string",
          "description": "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position."
        },
        "selfLink": {
          "type": "string",
          "description": "URL pointing to this task. Used to retrieve, update, or delete this task."
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "title": {
          "type": "string",
          "description": "Title of the task."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task (as a RFC 3339 timestamp).",
          "format": "date-time"
        }
      }
    },
    "TaskList": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Task list identifier."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskList\".",
          "default": "tasks#taskList"
        },
        "selfLink": {
          "type": "string",
          "description": "URL pointing to this task list. Used to retrieve, update, or delete this task list."
        },
        "title": {
          "type": "string",
          "description": "Title of the task list."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task list (as a RFC 3339 timestamp).",
          "format": "date-time"
        }
      }
    },
    "TaskLists": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "description": "Collection of task lists.",
          "items": {
            "$ref": "#/definitions/TaskList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "default": "tasks#taskLists"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        }
      }
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "description": "Collection of tasks.",
          "items": {
            "$ref": "#/definitions/Task"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "default": "tasks#tasks"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/tasks": "Manage your tasks",
        "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/google-apps/tasks/firstapp"
  }
}