swagger: "2.0"
schemes:
  - https
host: trashnothing.com
basePath: /api/v1.2
info:
  contact:
    x-twitter: trashnothing
  description: >
    This is the REST API for [trashnothing.com](https://trashnothing.com).


    To learn more about the API or to register your app for use with the API

    visit the [trash nothing Developer page](https://trashnothing.com/developer).


    NOTE: All date-time values are [UTC](https://en.wikipedia.org/wiki/Coordinated_Universal_Time)

    and are in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601) (eg. 2019-02-03T01:23:53).
  termsOfService: >
    https://trashnothing.com/tos
  title: trash nothing
  version: "1.2"
  x-apisguru-categories:
    - social
  x-logo:
    url: https://twitter.com/trashnothing/profile_image?size=original
  x-origin:
    - format: swagger
      url: http://trashnothing.com/api/trashnothing-openapi.yaml
      version: "2.0"
  x-preferred: true
  x-providerName: trashnothing.com
securityDefinitions:
  api_key:
    description: >
      Provides access to specific public API endpoints which don't require user authorization. <br /><br /> The API currently allows api key access to list, search and retrieve posts (for public posts and posts on open archive groups) and to list, search and retrieve groups. <br /><br /> NOTE: Some API endpoints behave differently when requests are made using api keys instead of oauth (because api key requests have no user associated with them).  Check the documentation for each endpoint for a description of the differences.
    in: query
    name: api_key
    type: apiKey
  oauth2_code:
    authorizationUrl: https://trashnothing.com/oauth2/authorize
    description: >
      This OAuth2 flow is designed for server side apps and is not enabled by default for new apps. If you would like to use this flow for your app, contact us through the [trash nothing Developer page](https://trashnothing.com/developer).
    flow: accessCode
    scopes:
      basic: Provides full access to a user's account
    tokenUrl: https://trashnothing.com/oauth2/token
    type: oauth2
  oauth2_implicit:
    authorizationUrl: https://trashnothing.com/oauth2/authorize
    description: >
      This is the default OAuth2 flow for new apps.
    flow: implicit
    scopes:
      basic: Provides full access to a user's account
    type: oauth2
security:
  - oauth2_implicit:
      - basic
  - oauth2_code:
      - basic
tags:
  - description: Retrieve and update user data.
    name: users
  - description: Retrieve and update posts.
    name: posts
  - description: Search, subscribe and unsubscribe to groups.
    name: groups
  - description: Upload, delete and rotate photos.
    name: photos
  - description: >
      Manage conversations and messages with other users. <br /><br /> It's important to note that messages are always sent by email to the users.   So it's possible to create a fully functional app using the trash nothing API without using any of the conversations or messages API endpoints.  These API endpoints are useful for developers who want to build a complete messaging interface into their app.
    name: messages
  - description: Retrieve and submit stories.
    name: stories
  - description: Miscellaneous functionality.
    name: misc
paths:
  /conversations:
    get:
      consumes:
        - multipart/form-data
      operationId: get_conversations
      parameters:
        - default: inbox
          description: >
            Used to filter messases by category.  Must be set to one of the following three categories: inbox, archived, blocked
          in: query
          name: category
          required: false
          type: string
        - default: 1
          description: The page of conversations to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of conversations to return per page (must be >= 1 and <= 30).
          in: query
          maximum: 30
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 10
          description: >
            The number of recent messages to return with each conversation. Additional messages can be retrieved using get conversation messages endpoint.
          in: query
          maximum: 30
          minimum: 0
          name: num_messages
          required: false
          type: integer
        - default: 0
          description: >
            If set to 1, the num_unread field in the response will be set to the count of the total number of conversations that have unread messages. <br /><br /> This is useful for showing users the total number of unread messages that they have in their inbox. Calculating the count will slow the request down a bit so setting this should be avoided for requests where it's not needed (eg. requesting archived or blocked conversations or requests that are just paging through older conversations).
          in: query
          name: include_num_unread
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The conversations and paging data.
          schema:
            properties:
              conversations:
                items:
                  $ref: "#/definitions/Conversation"
                type: array
              num_unread:
                description: >
                  If the include_num_unread parameter is set to 1, this will be set to the total number of conversations that have unread messages matching the query parameters of the request.  If the include_num_unread parameter is set to 0, this will be null.
                type: integer
              page:
                type: integer
              per_page:
                type: integer
            type: object
        "400":
          description: Invalid parameters.
      summary: List conversations
      tags:
        - messages
  /conversations/mark-all-read:
    put:
      consumes:
        - multipart/form-data
      operationId: mark_all_conversations_read
      parameters:
        - description: The message_id of the most recent message from the conversations that the client has downloaded.
          in: formData
          name: message_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversations marked as read.
        "400":
          description: Invalid message_id.
      summary: Mark all conversations as read
      tags:
        - messages
  /conversations/search:
    get:
      consumes:
        - multipart/form-data
      description: Searches all conversations except blocked conversations.
      operationId: search_conversations
      parameters:
        - description: The search query used to find conversations and messages.
          in: query
          name: search
          required: true
          type: string
        - default: 1
          description: The page of conversations to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of conversations to return per page (must be >= 1 and <= 30).
          in: query
          maximum: 30
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The conversations and paging data.
          schema:
            properties:
              conversations:
                items:
                  $ref: "#/definitions/Conversation"
                type: array
              page:
                type: integer
              per_page:
                type: integer
              search:
                type: string
            type: object
        "400":
          description: Invalid parameters.
      summary: Search conversations
      tags:
        - messages
  "/conversations/{conversation_id}":
    delete:
      consumes:
        - multipart/form-data
      operationId: delete_conversation
      parameters:
        - description: The ID of the conversation to delete.
          in: path
          name: conversation_id
          required: true
          type: string
        - description: The ID of the newest message in the conversation that the client has downloaded.
          in: query
          name: message_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation deleted.
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation or message not found.
      summary: Delete conversation
      tags:
        - messages
  "/conversations/{conversation_id}/archive":
    put:
      consumes:
        - multipart/form-data
      operationId: archive_conversation
      parameters:
        - description: The ID of the conversation to archive.
          in: path
          name: conversation_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation archived.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Archive conversation
      tags:
        - messages
  "/conversations/{conversation_id}/block":
    put:
      consumes:
        - multipart/form-data
      operationId: block_conversation
      parameters:
        - description: The ID of the conversation to block.
          in: path
          name: conversation_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation blocked.
        "400":
          description: Conversations with moderators cannot be blocked.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Block conversation
      tags:
        - messages
  "/conversations/{conversation_id}/mark-read":
    put:
      consumes:
        - multipart/form-data
      operationId: mark_conversation_read
      parameters:
        - description: The ID of the conversation to mark as read.
          in: path
          name: conversation_id
          required: true
          type: string
        - description: The ID of the newest message in the conversation that the current user has read.
          in: formData
          name: message_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation marked as read.
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation or message not found.
      summary: Mark conversation as read
      tags:
        - messages
  "/conversations/{conversation_id}/messages":
    get:
      consumes:
        - multipart/form-data
      operationId: get_conversation_messages
      parameters:
        - description: The ID of the conversation to return messages from.
          in: path
          name: conversation_id
          required: true
          type: string
        - default: 1
          description: The page of messages to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of messages to return per page (must be >= 1 and <= 30).
          in: query
          maximum: 30
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
        - default: 0
          description: If set to 1, the conversation will be returned along with the messages.
          in: query
          name: include_conversation
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: >
            The messages and page data.  The conversation data is optional and is only returned if the include_conversation parameter is set.
          schema:
            properties:
              conversation:
                $ref: "#/definitions/Conversation"
              messages:
                items:
                  $ref: "#/definitions/Message"
                type: array
              page:
                type: integer
              per_page:
                type: integer
            type: object
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to access the conversation.
        "404":
          description: Conversation not found.
      summary: List conversation messages
      tags:
        - messages
  "/conversations/{conversation_id}/reply":
    post:
      consumes:
        - multipart/form-data
      operationId: reply_to_conversation
      parameters:
        - description: The ID of the conversation to reply to.
          in: path
          name: conversation_id
          required: true
          type: string
        - description: The content of the reply.
          in: formData
          name: content
          required: true
          type: string
        - description: A comma separated list of the IDs of the photos that should be attached to this message.
          in: formData
          name: photo_ids
          required: false
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: formData
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The new message sent to the conversation.
          schema:
            $ref: "#/definitions/Message"
        "400":
          description: Invalid parameters or duplicate reply or conversation is blocked.
        "403":
          description: The user doesn't have permission to reply to the conversation.
        "404":
          description: Conversation not found.
      summary: Reply to conversation
      tags:
        - messages
  "/conversations/{conversation_id}/report":
    post:
      consumes:
        - multipart/form-data
      operationId: report_conversation
      parameters:
        - description: The ID of the conversation to report.
          in: path
          name: conversation_id
          required: true
          type: string
        - description: A user provided reason why the conversation is being reported.
          in: formData
          name: reason
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation reported.
        "400":
          description: Empty reason parameter.
        "403":
          description: The user doesn't have permission to report the conversation.
        "404":
          description: Conversation not found.
      summary: Report conversation
      tags:
        - messages
  "/conversations/{conversation_id}/unarchive":
    put:
      consumes:
        - multipart/form-data
      operationId: unarchive_conversation
      parameters:
        - description: The ID of the conversation to unarchive.
          in: path
          name: conversation_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation unarchived.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Unarchive conversation
      tags:
        - messages
  "/conversations/{conversation_id}/unblock":
    put:
      consumes:
        - multipart/form-data
      operationId: unblock_conversation
      parameters:
        - description: The ID of the conversation to unblock.
          in: path
          name: conversation_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Conversation unblocked.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Unblock conversation
      tags:
        - messages
  /feedback:
    post:
      consumes:
        - multipart/form-data
      description: Allows users to send feedback about the trashnothing.com site or apps.
      operationId: send_feedback
      parameters:
        - description: The subject.
          in: formData
          name: subject
          required: true
          type: string
        - description: The message.
          in: formData
          name: message
          required: true
          type: string
        - description: >
            Extra information set by the client that may be useful to contextualize the feedback (eg. operating system details, browser details, app details, device details).
          in: formData
          name: meta
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The feedback has been sent.
      summary: Send feedback
      tags:
        - misc
  /groups:
    get:
      operationId: search_groups
      parameters:
        - description: Find groups that have the given text somewhere in their name (case insensitive).
          in: query
          name: name
          required: false
          type: string
        - description: Find groups near the given latitude and longitude.
          in: query
          name: latitude
          required: false
          type: number
        - description: Find groups near the given latitude and longitude.
          in: query
          name: longitude
          required: false
          type: number
        - default: 100
          description: >
            When latitude and longitude are passed, distance can optionally be passed to only return groups within a certain distance (in kilometers) from the point specified by the latitude and longitude.  The distance must be > 0 and <= 150 and will default to 100.
          in: query
          maximum: 150
          minimum: 0
          name: distance
          required: false
          type: number
        - description: >
            Find groups in the given country where country is a 2 letter country code for the country (see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 ).
          in: query
          name: country
          required: false
          type: string
        - description: >
            For countries with regions (AU, CA, GB, US), search groups in a specific region as specified by the region abbreviation.  The supported regions and their abbreviations are listed below. <br /><br /> NOTE: The region and postal_code parameters cannot be used at the same time and if both are passed then the postal_code will take priority. <br /><br /> --- <br /><br /> **AU**<br /> - QLD: Queensland<br /> - SA: South Australia<br /> - TAS: Tasmania<br /> - VIC: Victoria<br /> - WA: Western Australia<br /> - NT: Northern Territory<br /> - NSW: New South Wales - ACT<br /> <br /> **CA**<br /> - AB: Alberta<br /> - BC: British Columbia<br /> - MB: Manitoba<br /> - NB: New Brunswick<br /> - NL: Newfoundland and Labrador<br /> - NS: Nova Scotia<br /> - ON: Ontario<br /> - QC: Quebec<br /> - SK: Saskatchewan<br /> - PE: Prince Edward Island<br /> <br /> **GB**<br /> - E: East<br /> - EM: East Midlands<br /> - LDN: London<br /> - NE: North East<br /> - NW: North West<br /> - NI: Northern Ireland<br /> - SC: Scotland<br /> - SE: South East<br /> - SW: South West<br /> - WA: Wales<br /> - WM: West Midlands<br /> - YH: Yorkshire and the Humber<br /> <br /> **US**<br /> All 50 states and the District of Columbia are supported.  For the abbreviations, see: https://github.com/jasonong/List-of-US-States/blob/master/states.csv
          in: query
          name: region
          required: false
          type: string
        - description: >
            Find groups in the given postal code.  Only a few countries support postal code searches (US, CA, AU, GB).  The country parameter must be passed when the postal_code parameter is set. <br /><br /> NOTE: The region and postal_code parameters cannot be used at the same time and if both are passed then the postal_code will take priority.
          in: query
          name: postal_code
          required: false
          type: string
        - default: 1
          description: The page of groups to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          description: The number of groups to return per page (must be >= 1 and <= 100).
          in: query
          maximum: 100
          minimum: 1
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The groups and paging data.
          schema:
            properties:
              end_index:
                description: The index of the last group being returned (an integer between start_index and num_groups).
                type: integer
              groups:
                items:
                  $ref: "#/definitions/Group"
                type: array
              num_groups:
                description: The total number of groups available.
                type: integer
              num_pages:
                description: The total number of pages available.
                type: integer
              page:
                description: The page number of the groups being returned.
                type: integer
              per_page:
                description: The number of groups being returned per page.
                type: integer
              start_index:
                description: The index of the first group being returned (an integer between 1 and num_groups).
                type: integer
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Search groups
      tags:
        - groups
  /groups/multiple:
    get:
      operationId: get_groups_by_ids
      parameters:
        - description: The IDs of the groups to retrieve.  If more than 20 group IDs are passed, only the first 20 groups will be returned.
          in: query
          name: group_ids
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The groups.
          schema:
            items:
              $ref: "#/definitions/Group"
            type: array
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve multiple groups
      tags:
        - groups
  /groups/subscribe:
    post:
      consumes:
        - multipart/form-data
      description: >
        Request membership to one or more groups. <br /><br /> NOTE: Any group with a has_questions field set to true will also require answers to the groups' new member questionnaire to be submitted.  Groups waiting for answers will have their membership field set to 'pending-questions'.  And the questionnaire that needs to be answered can be found in the membership.questionnaire field of the group after a subscribe request is made to that group.
      operationId: join_groups
      parameters:
        - description: A comma separated list of the IDs of the groups to join.
          in: formData
          name: group_ids
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The groups with updated membership data.
          schema:
            properties:
              groups:
                description: Updated data about the groups and the current users' membership to each group.
                items:
                  $ref: "#/definitions/Group"
                type: array
              over_group_limit:
                description: >
                  When this is true, it means that some of the membership requests weren't processed in order to keep the user from going over the 12 group limit (the membership field of the groups can be used to determine which requests were processed).
                type: boolean
            type: object
        "400":
          description: Missing or invalid parameters.
        "404":
          description: Group not found.
      summary: Join groups
      tags:
        - groups
  "/groups/{group_id}":
    get:
      operationId: get_group
      parameters:
        - description: The ID of the group to retrieve.
          in: path
          name: group_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The group.
          schema:
            $ref: "#/definitions/Group"
        "404":
          description: Group not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a group
      tags:
        - groups
  "/groups/{group_id}/answers":
    post:
      consumes:
        - application/json
      description: >
        Submits answers to a groups' membership questionnaire. <br /><br /> The request body should be a JSON object mapping each question from the group membership.questionnaire.questions field to an answer (eg. {"Where do you live?": "New York City"} ). All questions are required so no null or empty string answers are allowed.
      operationId: submit_answers
      parameters:
        - description: The group ID of the group that the user is submitting answers for.
          in: path
          name: group_id
          required: true
          type: string
        - description: >
            A JSON object mapping each question from the group membership.questionnaire.questions field to an answer (eg. {"Where do you live?": "New York City"} ). All questions are required so no null or empty string answers are allowed.
          in: body
          name: body
          required: true
          schema:
            additionalProperties:
              type: string
            type: object
      produces:
        - application/json
      responses:
        "200":
          description: The updated group.
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Missing or invalid answers or questions were already answered or questions don't need to be answered.
        "404":
          description: Group not found.
      summary: Submit group answers
      tags:
        - groups
  "/groups/{group_id}/contact":
    post:
      consumes:
        - multipart/form-data
      operationId: contact_moderators
      parameters:
        - description: The group ID of the group whose moderators will be contacted.
          in: path
          name: group_id
          required: true
          type: string
        - description: The subject of the message.
          in: formData
          name: subject
          required: true
          type: string
        - description: The body of the message.
          in: formData
          name: message
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Message was sent to moderators.
        "400":
          description: Missing or invalid parameters.
        "404":
          description: Group not found.
      summary: Contact group moderators
      tags:
        - groups
  "/groups/{group_id}/unsubscribe":
    post:
      consumes:
        - multipart/form-data
      operationId: leave_group
      parameters:
        - description: The ID of the group to leave.
          in: path
          name: group_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Updated data about the group and the current users' membership.
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: The current user is not an active or pending member of the given group.
        "404":
          description: Group not found.
      summary: Leave a group
      tags:
        - groups
  /photos:
    post:
      consumes:
        - multipart/form-data
      operationId: upload_photo
      parameters:
        - description: Photo to upload.
          in: formData
          name: photo
          required: true
          type: file
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: formData
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: Photo created.
          schema:
            $ref: "#/definitions/PhotoResult"
        "400":
          description: Invalid photo.
      summary: Create a photo
      tags:
        - photos
  /photos/multiple:
    get:
      operationId: get_photos_by_ids
      parameters:
        - description: The IDs of the photos to retrieve.  If more than 50 photo IDs are passed, only the first 50 photos will be returned.
          in: query
          name: photo_ids
          required: true
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The photos.
          schema:
            items:
              $ref: "#/definitions/PhotoResult"
            type: array
        "400":
          description: Missing or invalid parameters.
      summary: Retrieve multiple photos
      tags:
        - photos
  "/photos/{photo_id}":
    delete:
      operationId: delete_photo
      parameters:
        - in: path
          name: photo_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Photo deleted.
        "400":
          description: Invalid photo.
        "403":
          description: The user doesn't have permission to delete the photo.
        "404":
          description: Photo not found.
      summary: Delete a photo
      tags:
        - photos
  "/photos/{photo_id}/rotate":
    post:
      operationId: rotate_photo
      parameters:
        - in: path
          name: photo_id
          required: true
          type: string
        - description: Rotation in degrees - currently only 90, 180 and 270 are supported which correspond to rotate left, rotate upside down and rotate right.
          in: query
          name: degrees
          required: true
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: Photo rotated.
          schema:
            $ref: "#/definitions/PhotoResult"
        "400":
          description: Invalid photo.
        "403":
          description: The user doesn't have permission to rotate the photo.
        "404":
          description: Photo not found.
      summary: Rotate a photo
      tags:
        - photos
  /posts:
    get:
      description: >
        NOTE: When paging through the posts returned by this endpoint, there will be at most 1,000 posts that can be returned (eg. 50 pages worth of posts with the default per_page value of 20).  In areas where there are more than 1,000 posts, clients can use more specific query parameters to adjust which posts are returned.

        NOTE: Passing the latitude, longitude and radius parameters filters all posts by their location and so these parameters will temporarily override the current users' location preferences. When latitude, longitude and radius are not specified, public posts will be filtered by the current users' location preferences.
      operationId: get_posts
      parameters:
        - description: >
            A comma separated list of the post types to return.  The available post types are: offer, taken, wanted, received, admin
          in: query
          name: types
          required: true
          type: string
        - description: >
            A comma separated list of the post sources to retrieve posts from. The available sources are: groups, trashnothing, open_archive_groups. The trashnothing source is for public posts that are posted on trash nothing but are not associated with any group. The open_archive_groups source provides a way to easily request posts from groups that have open_archives set to true without having to pass a group_ids parameter.  When passed, it will automatically return posts from open archive groups that are within the area specified by the latitude, longitude and radius parameters (or the current users' location if latitude, longitude and radius aren't passed). <br /><br /> NOTE: For requests using an api key instead of oauth, passing the trashnothing source or the open_archive_groups source makes the latitude, longitude and radius parameters required.
          in: query
          name: sources
          required: true
          type: string
        - default: The group IDs of every group the current user is a member of.
          description: >
            A comma separated list of the group IDs to retrieve posts from. This parameter is only used if the 'groups' source is passed in the sources parameter and only groups that the current user is a member of or that are open archives groups will be used (the group IDs of other groups will be silently discarded*). <br /><br /> NOTE: For requests using an api key instead of oauth, this field is required if the 'groups' source is passed. In addition, only posts from groups that have open_archives set to true will be used (the group IDS of other groups will be silently discarded*). <br /><br/> *To determine which group IDs were used and which were discarded, use the group_ids field in the response.
          in: query
          name: group_ids
          required: false
          type: string
        - default: 20
          description: The number of posts to return per page (must be >= 1 and <= 100).
          in: query
          maximum: 100
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: The page of posts to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
        - description: >
            The latitude of a point around which to return posts.
          in: query
          name: latitude
          required: false
          type: number
        - description: >
            The longitude of a point around which to return posts.
          in: query
          name: longitude
          required: false
          type: number
        - description: >
            The radius in meters of a circle centered at the point defined by the latitude and longitude parameters. When latitude, longitude and radius are passed, only posts within the circle defined by these parameters will be returned.
          in: query
          maximum: 257500
          minimum: 0
          name: radius
          required: false
          type: number
        - description: >
            Only posts newer than or equal to this UTC date and time will be returned.  If unset, defaults to the current date and time minus 90 days.
          format: date-time
          in: query
          name: date_min
          required: false
          type: string
        - description: Only posts older than this UTC date and time will be returned.  If unset, defaults to the current date and time.
          format: date-time
          in: query
          name: date_max
          required: false
          type: string
        - default: ""
          description: >
            A comma separated list of the post outcomes to return.  The available post outcomes are: satisfied, withdrawn <br /><br /> There are also a couple special values that can be passed.  If set to an empty string (the default), only posts that are not satisfied and not withdrawn are returned. If set to 'all', all posts will be returned no matter what outcome the posts have.
          in: query
          name: outcomes
          required: false
          type: string
        - default: ""
          description: >
            If user_state is set, only posts matching the state specified will be returned.  Only one state may be passed and it must be one of the following: viewed, replied, bookmarked <br><br> NOTE: This option will only work with oauth requests.
          in: query
          name: user_state
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The posts and paging data.
          schema:
            properties:
              end_index:
                description: The index of the last post being returned (an integer between start_index and num_posts).
                type: integer
              group_ids:
                description: >
                  The IDs of the groups that the posts were retrieved from (will be null when no group IDs were used). These IDs may be a subset of the requested group IDs when a request includes group IDs for groups that are not open archives and that the current user is not a member of.  If the open_archive_groups source is used, these IDs may include the IDs of open archive groups that weren't present in the group_ids parameter of the request.
                items:
                  type: string
                type: array
              last_listings_view:
                description: >
                  The UTC date and time when the current user last viewed the newest posts on the All Posts page (may be null). <br /><br /> NOTE: For this to be accurate, clients must update the last_listings_view property of the current user every time the user is shown the newest posts on the All Posts page. <br /><br /> NOTE: For requests using an api key instead of oauth, this field is always null.
                format: date-time
                type: string
              num_pages:
                description: The total number of pages available.
                type: integer
              num_posts:
                description: The total number of posts available.
                type: integer
              page:
                description: The page number of the posts being returned.
                type: integer
              per_page:
                description: The number of posts being returned per page.
                type: integer
              posts:
                items:
                  $ref: "#/definitions/Post"
                type: array
              start_index:
                description: The index of the first post being returned (an integer between 1 and num_posts).
                type: integer
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List posts
      tags:
        - posts
    post:
      consumes:
        - multipart/form-data
      description: >
        Submits a new post. <br /><br /> NOTE: An alternate way to submit posts that does quicker client side validation is to use the script served by the API at the /posts/client.js endpoint (see the description of the /posts/client.js endpoint for usage instructions).
      operationId: submit_post
      parameters:
        - description: A comma separated list of group IDs to submit the post to (if any).
          in: formData
          name: group_ids
          required: false
          type: string
        - description: >
            The type of post.  One of: offer, wanted
          in: formData
          name: type
          required: true
          type: string
        - description: A short description of the item(s).
          in: formData
          maxLength: 35
          minLength: 2
          name: title
          required: true
          type: string
        - description: A short location description.
          in: formData
          maxLength: 30
          minLength: 2
          name: location
          required: true
          type: string
        - description: A longer description of the item(s).
          in: formData
          name: content
          required: false
          type: string
        - default: 0
          description: If set to 1, the post will be posted with the Fair Offer Policy (only valid for offer posts - see https://trashnothing.com/fair_offer_policy ).
          in: formData
          name: fair_offer
          required: false
          type: integer
        - description: >
            The latitude corresponding to the location description provided. <br /><br /> If latitude and longitude are not provided, an attempt will be made to automatically geocode the location.  If the location is unable to be geocoded, the post will be rejected* and will have to be resubmitted with a latitude and longitude corresponding to the location or resubmitted with a different location that can be automatically geocoded. <br /><br /> NOTE: The latitude and longitude should NOT be the users' exact location because we don't want to publicize their exact location unless their location description is their full address (which is not recommended). <br /><br /> *When a post is rejected because it can't be geocoded, the returned error will have its identifier property set to 'unknown-location'.
          in: formData
          name: latitude
          required: false
          type: number
        - description: The longitude corresponding to the location description provided. (see the NOTE in latitude description)
          in: formData
          name: longitude
          required: false
          type: number
        - description: A comma separated list of the IDs of the photos that should be attached to this post.
          in: formData
          name: photo_ids
          required: false
          type: string
        - description: >
            A JSON string representing a temporary object that is used to store data about the submission process for a single post.  The first time a post is submitted, session should be a new empty object (eg. '{}').  The session object should be persisted by the client until that post is successfully submitted and then it  can be discarded so that the next post will start over with a new empty session object.  Every time a post is submitted and the response indicates that the submission was not successful, the session object returned in the response should override the clients copy of the session.
          in: formData
          name: session
          required: true
          type: string
        - description: >
            A JSON string representing a permanent object that the client persists and modifies based on warnings returned by the post submission process and user input.  Some warnings returned after submitting  a post have a preference_key string property so that users can opt out of those warnings in the future.  To save this opt-out preference, set the property indicated by the preference_key in the preferences object (eg. preferences[preference_key] = 1).  The preferences object is never modified by the server - it is up to the client to initialize, modify and persist the preferences object.
          in: formData
          name: preferences
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Post submission result.
          schema:
            properties:
              identifier:
                description: >
                  When an error or warning is returned, this will contain a short string representing the type of error or warning that occurred.  Is null on success.
                type: string
              message:
                description: >
                  Contains text describing the reason a post  was not successful.  Is null on success.
                type: string
              preference_key:
                description: >
                  Certain types of warnings can be opted out of.  These warnings will set preference_key to a string that can be  set in the preferences object by the client to opt out of that type of warning in the future (see the description of the preferences parameter for more details).  Is null for errors, success and warnings that can't be opted out of.
                type: string
              result:
                description: >
                  One of: success, error, warning. <br /><br /> A success result indicates that the post  was submitted successfully. Note that posts may not appear instantly after submission because the moderators of many groups may have additional automatic or manual review processes in place that can cause delays. <br /><br /> An error result indicates that there is an error with the post that should be shown to the user and the message property will contain text describing the error. <br /><br /> A warning result indicates that there is a warning about the post  to show the user and the message property will contain a string describing the warning.   A warning result doesn't prevent a post  from being submitted, to continue the submission process after a warning result, just re-submit (with the updated session object) to temporarily override that specific warning.
                type: string
              session:
                additionalProperties:
                  type: string
                description: >
                  The updated session object that should override the client's copy of the session that was passed in the session parameter. Is null on success.
                type: object
            type: object
        "400":
          description: Missing or invalid parameters.
      summary: Submit a post
      tags:
        - posts
  /posts/all:
    get:
      description: >
        This endpoint provides an easy way to get a feed of all the publicly published posts on trash nothing. It provides access to all publicly published offer and wanted posts from the last 30 days. The posts are sorted by date (newest first). <br /><br /> There are fewer options for filtering, sorting and searching posts with this endpoint but there is no 1,000 post limit and posts that are crossposted to multiple groups are not merged together in the response.  In most cases, crossposted posts are easy to detect because they have the same user_id, title and content.
      operationId: get_all_posts
      parameters:
        - description: >
            A comma separated list of the post types to return.  The available post types are: offer, wanted
          in: query
          name: types
          required: true
          type: string
        - description: >
            Only posts newer than or equal to this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_max. And the date and time must be within the last 30 days. And the date and time must be rounded to the nearest second.
          format: date-time
          in: query
          name: date_min
          required: true
          type: string
        - description: >
            Only posts older than this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_min. And the date and time must be rounded to the nearest second.
          format: date-time
          in: query
          name: date_max
          required: true
          type: string
        - default: 20
          description: The number of posts to return per page (must be >= 1 and <= 50).
          in: query
          maximum: 50
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: The page of posts to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The posts.
          schema:
            properties:
              posts:
                items:
                  $ref: "#/definitions/Post"
                type: array
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List all posts
      tags:
        - posts
  /posts/all/changes:
    get:
      description: >
        This endpoint provides an easy way to get a feed of all the changes that have been made to publicly published posts on trash nothing.  Similar to the /posts/all endpoint, only data from the last 30 days is available and the changes are sorted by date (newest first).  Every change includes the date of the change, the post_id of the post that was changed and the type of change. <br /><br /> The different types of changes that are returned are listed below. <br /><br /> - deleted<br /> - undeleted<br /> - satisfied<br /> - promised<br /> - unpromised<br /> - withdrawn<br /> - edited<br /> - expired<br /> <br /> For edited changes, clients can use the retrieve post API endpoint to get the edits that have been made to the post.
      operationId: get_all_posts_changes
      parameters:
        - description: >
            Only changes newer than or equal to this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_max. And the date and time must be within the last 30 days. And the date and time must be rounded to the nearest second.
          format: date-time
          in: query
          name: date_min
          required: true
          type: string
        - description: >
            Only changes older than this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_min. And the date and time must be rounded to the nearest second.
          format: date-time
          in: query
          name: date_max
          required: true
          type: string
        - default: 20
          description: The number of changes to return per page (must be >= 1 and <= 50).
          in: query
          maximum: 50
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: The page of changes to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: The changes.
          schema:
            properties:
              changes:
                items:
                  properties:
                    date:
                      description: The UTC date and time when the post was changed.
                      format: date-time
                      type: string
                    post_id:
                      type: string
                    type:
                      description: >
                        The type of change.  One of: deleted, undeleted, satisfied, promised, unpromised, withdrawn, edited, expired
                      type: string
                  type: object
                type: array
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List all post changes
      tags:
        - posts
  /posts/client.js:
    get:
      description: >
        Defines javascript functions that can be used to validate and submit posts.


        The advantage of using these functions versus using the post submission endpoint directly is that

        some of the post validation checks can be done on the client side which will be faster.


        NOTE: If used, this javascript file MUST be loaded dynamically for each user because the contents

        of the file are generated dynamically based on the current user.  The file may be cached on a per

        user basis based on the HTTP cache headers that are returned when the file is requested (currently

        the cache headers specify that the file should expire after one day).



        The following functions are available:


        ---


        **window.TN.check_crossposting_restrictions(group_ids)**


        Checks for crossposting restrictions when the user selects more than one group to post to.


        Parameters:

        - **group_ids** is an array of group IDs


        Returns an object with three properties {allowed, restricted, restrictions}.


        - **allowed** is an array of the group IDs from group_ids that can be crossposted to


        - **restricted** is an array of the group IDs from group_ids that can't be crossposted to


        - **restrictions** is an object mapping group IDs that have crossposting restrictions to arrays of group IDs that are restricted.
          It is useful for pinpointing why a group ID shows up in the restricted array so that users can be provided feedback
          about the reason for the crossposting restriction (eg. a message like 'group A doesn't allow crossposting to group B').

        For example, given group_ids = [1, 2, 3, 4] and assuming group 1 doesn't allow posting to group 3 and group 2 doesn't allow

        posting to group 1, the returned object will be:


        {allowed: [4], restricted: [1, 2, 3], restrictions: {1: [3], 2: [1]}}



        ---


        **window.TN.submit_post(args, session, preferences, callback)**


        Submits a new post and performs validation checks on the post before it is accepted for submission.


        Parameters:


        - **args** is an object containing data about the post being submitted and must include
          the following properties:

          - type: The type of post.  One of: offer, wanted
          - title: A short description of the item(s).
          - location: A short location description.

          The following properties are optional:

          - content: A longer description of the item(s).
          - group_ids: An array of group IDs to submit the post to (if any).
          - fair_offer: If set to 1, the post will be posted with the Fair Offer Policy (only valid for offer posts - see https://trashnothing.com/fair_offer_policy ).
          - photo_ids: A comma separated list of the IDs of the photos that should be attached to this post.
          - latitude
          - longitude

        - **session** is a temporary object that is used by submit_post to store data about the submission
          process for a single post.  The first time submit_post is called with a post, session should
          be a new empty object (eg. {}).  The session object should be persisted until that post
          is successfully submitted and then it can be discarded so that the next post will start
          over with a new empty session object.  

        - **preferences** is a permanent object that the client persists and modifies based on warnings returned
          by the post submission process and user input.  Some post warnings passed to the callback object
          have a preference_key string property so that users can opt out of those warnings in the future.
          To save this opt-out preference, set the property indicated by the preference_key in the preferences
          object (eg. preferences[preference_key] = 1).  The preferences object is only read by submit_post and
          never modified - it is up to the client to initialize, modify and persist the preferences object.

        - **callback** is a function used to return the result of the post submission. It is called and passed
          one argument - an object with five properties {result, message, preference_key, identifier, session}.
          The result property is a string that is one of: success, error, warning.  The identifier property is
          set for errors and warnings and will contain a string that represents the type of error or warning that
          occurred.

          A success result indicates that the post was submitted successfully. Note that posts may not
          appear instantly after submission because the moderators of many groups may have additional
          automatic or manual review processes in place that can delay the publishing of a post.
          
          An error result indicates that there is an error with the post to show the user and the message property
          will contain text describing the error.

          A warning result indicates that there is a warning about the post to show the user and the
          message property will contain a string describing the warning.  A warning result doesn't prevent a post from
          being submitted, to continue the submission process after a warning result, just re-submit the post
          (with the updated session object) to temporarily override that specific warning.

          Certain types of warnings can be opted out of.  These warnings will set preference_key to a string that can be 
          set in the preferences object by the client to opt out of that type of warning in the future (see the description
          of the preferences parameter for more details).
      operationId: get_post_client_javascript
      parameters:
        - description: >
            A comma separated list of all the group IDs that the current user is a member of. If the current user is not a member of any groups, simply pass an empty string.
          in: query
          name: group_ids
          required: true
          type: string
        - description: The name of a global function to call once the script is loaded.
          in: query
          name: callback
          required: false
          type: string
        - description: >
            Passing the current users' OAuth2 access token as a GET parameter makes it easier to load this script in a normal HTML <script> tag.
          in: query
          name: access_token
          required: true
          type: string
      produces:
        - text/javascript
      responses:
        "200":
          description: The client.js javascript file.
        "400":
          description: Invalid group IDs.
      summary: Retrieve client.js
      tags:
        - posts
  /posts/multiple:
    get:
      operationId: get_posts_by_ids
      parameters:
        - description: >
            A comma separated list of the post IDs. If more than 10 post IDs are passed, only the first 10 posts will be returned.
          in: query
          name: post_ids
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The posts.
          schema:
            items:
              $ref: "#/definitions/Post"
            type: array
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve multiple posts
      tags:
        - posts
  /posts/search:
    get:
      description: >
        Searching posts takes the same arguments as listing posts except for the addition of the search and sort_by parameters.

        NOTE: When paging through the posts returned by this endpoint, there will be at most 1,000 posts that can be returned (eg. 50 pages worth of posts with the default per_page value of 20).  In areas where there are more than 1,000 posts, clients can use more specific query parameters to adjust which posts are returned.
      operationId: search_posts
      parameters:
        - description: The search query used to find posts.
          in: query
          name: search
          required: true
          type: string
        - default: relevance
          description: >
            How to sort the posts that are returned.  One of: relevance, date <br /><br /> Setting sort_by to date will sort posts from newest to oldest.
          in: query
          name: sort_by
          required: false
          type: string
        - description: >
            A comma separated list of the post types to return.  The available post types are: offer, taken, wanted, received, admin
          in: query
          name: types
          required: true
          type: string
        - description: >
            A comma separated list of the post sources to retrieve posts from. The available sources are: groups, trashnothing, open_archive_groups. The trashnothing source is for public posts that are posted on trash nothing but are not associated with any group. The open_archive_groups source provides a way to easily request posts from groups that have open_archives set to true without having to pass a group_ids parameter.  When passed, it will automatically return posts from open archive groups that are within the area specified by the latitude, longitude and radius parameters (or the current users' location if latitude, longitude and radius aren't passed). <br /><br /> NOTE: For requests using an api key instead of oauth, passing the trashnothing source or the open_archive_groups source makes the latitude, longitude and radius parameters required.
          in: query
          name: sources
          required: true
          type: string
        - default: The group IDs of every group the current user is a member of.
          description: >
            A comma separated list of the group IDs to retrieve posts from. This parameter is only used if the 'groups' source is passed in the sources parameter and only groups that the current user is a member of or that are open archives groups will be used (the group IDs of other groups will be silently discarded*). <br /><br /> NOTE: For requests using an api key instead of oauth, this field is required if the 'groups' source is passed. In addition, only posts from groups that have open_archives set to true will be used (the group IDS of other groups will be silently discarded*). <br /><br/> *To determine which group IDs were used and which were discarded, use the group_ids field in the response.
          in: query
          name: group_ids
          required: false
          type: string
        - default: 20
          description: The number of posts to return per page (must be >= 1 and <= 100).
          in: query
          maximum: 100
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: 1
          description: The page of posts to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
        - description: >
            The latitude of a point around which to return posts.
          in: query
          name: latitude
          required: false
          type: number
        - description: >
            The longitude of a point around which to return posts.
          in: query
          name: longitude
          required: false
          type: number
        - description: >
            The radius in meters of a circle centered at the point defined by the latitude and longitude parameters. When latitude, longitude and radius are passed, only posts within the circle defined by these parameters will be returned.
          in: query
          maximum: 257500
          minimum: 0
          name: radius
          required: false
          type: number
        - description: >
            Only posts newer than or equal to this UTC date and time will be returned.  If unset, defaults to the current date and time minus 90 days.
          format: date-time
          in: query
          name: date_min
          required: false
          type: string
        - description: Only posts older than this UTC date and time will be returned.  If unset, defaults to the current date and time.
          format: date-time
          in: query
          name: date_max
          required: false
          type: string
        - default: ""
          description: >
            A comma separated list of the post outcomes to return.  The available post outcomes are: satisfied, withdrawn <br /><br /> There are also a couple special values that can be passed.  If set to an empty string (the default), only posts that are not satisfied and not withdrawn are returned. If set to 'all', all posts will be returned no matter what outcome the posts have.
          in: query
          name: outcomes
          required: false
          type: string
        - default: ""
          description: >
            If user_state is set, only posts matching the state specified will be returned.  Only one state may be passed and it must be one of the following: viewed, replied, bookmarked <br><br> NOTE: This option will only work with oauth requests.
          in: query
          name: user_state
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The posts and paging data.
          schema:
            properties:
              end_index:
                description: The index of the last post being returned (an integer between start_index and num_posts).
                type: integer
              group_ids:
                description: >
                  The IDs of the groups that the posts were retrieved from (will be null when no group IDs were used). These IDs may be a subset of the requested group IDs when a request includes group IDs for groups that are not open archives and that the current user is not a member of.  If the open_archive_groups source is used, these IDs may include the IDs of open archive groups that weren't present in the group_ids parameter of the request.
                items:
                  type: string
                type: array
              num_pages:
                description: The total number of pages available.
                type: integer
              num_posts:
                description: The total number of posts available.
                type: integer
              page:
                description: The page number of the posts being returned.
                type: integer
              per_page:
                description: The number of posts being returned per page.
                type: integer
              posts:
                items:
                  $ref: "#/definitions/PostSearchResult"
                type: array
              start_index:
                description: The index of the first post being returned (an integer between 1 and num_posts).
                type: integer
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Search posts
      tags:
        - posts
  "/posts/{post_id}":
    get:
      operationId: get_post
      parameters:
        - description: The ID of the post to retrieve.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The post.
          schema:
            $ref: "#/definitions/Post"
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a post
      tags:
        - posts
    put:
      consumes:
        - multipart/form-data
      description: >
        Users can update posts to fix mistakes with their post, add photos, or add more details about the items. Updates should not be used to say that items in a post have been taken or received since the post satisfy endpoint is designed to do that.
      operationId: update_post
      parameters:
        - description: The ID of the post to update.
          in: path
          name: post_id
          required: true
          type: string
        - description: >
            The type of post.  One of: offer, wanted
          in: formData
          name: type
          required: true
          type: string
        - description: A short description of the item(s).
          in: formData
          maxLength: 35
          minLength: 2
          name: title
          required: true
          type: string
        - description: A short location description.
          in: formData
          maxLength: 30
          minLength: 2
          name: location
          required: true
          type: string
        - description: A longer description of the item(s).
          in: formData
          name: content
          required: false
          type: string
        - default: 0
          description: If set to 1, the post will be posted with the Fair Offer Policy (only valid for offer posts - see https://trashnothing.com/fair_offer_policy ).
          in: formData
          name: fair_offer
          required: false
          type: integer
        - description: >
            The latitude corresponding to the location description provided. <br /><br /> If latitude and longitude are not provided, an attempt will be made to automatically geocode the location.  If the location is unable to be geocoded, the post will be rejected* and will have to be resubmitted with a latitude and longitude corresponding to the location or resubmitted with a different location that can be automatically geocoded. <br /><br /> NOTE: The latitude and longitude should NOT be the users' exact location because we don't want to publicize their exact location unless their location description is their full address (which is not recommended). <br /><br /> *When a post is rejected because it can't be geocoded, the returned error will have its identifier property set to 'unknown-location'.
          in: formData
          name: latitude
          required: false
          type: number
        - description: The longitude corresponding to the location description provided. (see the NOTE in latitude description)
          in: formData
          name: longitude
          required: false
          type: number
        - description: A comma separated list of the IDs of the photos that should be attached to this post.
          in: formData
          name: photo_ids
          required: false
          type: string
        - description: >
            A JSON string representing a temporary object that is used to store data about the update process for a single post.  The first time a post update is submitted, session should be a new empty object (eg. '{}').  The session object should be persisted by the client until that update is successfully submitted and then it  can be discarded so that the next update will start over with a new empty session object.  Every time an update is submitted and the response indicates that the submission was not successful, the session object returned in the response should override the clients copy of the session.
          in: formData
          name: session
          required: true
          type: string
        - description: >
            A JSON string representing a permanent object that the client persists and modifies based on warnings returned by the update submission process and user input.  Some warnings returned after submitting  an update have a preference_key string property so that users can opt out of those warnings in the future.  To save this opt-out preference, set the property indicated by the preference_key in the preferences object (eg. preferences[preference_key] = 1).  The preferences object is never modified by the server - it is up to the client to initialize, modify and persist the preferences object.
          in: formData
          name: preferences
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Post update result.
          schema:
            properties:
              identifier:
                description: >
                  When an error or warning is returned, this will contain a short string representing the type of error or warning that occurred.  Is null on success.
                type: string
              message:
                description: >
                  Contains text describing the reason a post update was not successful.  Is null on success.
                type: string
              preference_key:
                description: >
                  Certain types of warnings can be opted out of.  These warnings will set preference_key to a string that can be  set in the preferences object by the client to opt out of that type of warning in the future (see the description of the preferences parameter for more details).  Is null for errors, success and warnings that can't be opted out of.
                type: string
              result:
                description: >
                  One of: success, error, warning. <br /><br /> A success result indicates that the post update was submitted successfully. Note that post updates may not appear instantly after submission because the moderators of many groups may have additional automatic or manual review processes in place that can cause delays. <br /><br /> An error result indicates that there is an error with the post that should be shown to the user and the message property will contain text describing the error. <br /><br /> A warning result indicates that there is a warning about the post update to show the user and the message property will contain a string describing the warning.   A warning result doesn't prevent a post update from being submitted, to continue the submission process after a warning result, just re-submit (with the updated session object) to temporarily override that specific warning.
                type: string
              session:
                additionalProperties:
                  type: string
                description: >
                  The updated session object that should override the client's copy of the session that was passed in the session parameter. Is null on success.
                type: object
            type: object
        "400":
          description: Missing or invalid parameters.
        "403":
          description: The user doesn't have permission to edit the post.
        "404":
          description: Post not found.
      summary: Update a post
      tags:
        - posts
  "/posts/{post_id}/bookmark":
    delete:
      operationId: delete_bookmark
      parameters:
        - in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Bookmark deleted.
        "404":
          description: Post not found.
      summary: Delete a post bookmark
      tags:
        - posts
    put:
      consumes:
        - multipart/form-data
      operationId: bookmark_post
      parameters:
        - in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The post has been bookmarked.
        "403":
          description: The user doesn't have permission to view the post.
        "404":
          description: Post not found.
      summary: Bookmark a post
      tags:
        - posts
  "/posts/{post_id}/display":
    get:
      description: >
        Retrieve a post and other data related to the post that is useful for displaying the post such as data about the user who posted the post and the groups the post was posted on.
      operationId: get_post_and_related_data
      parameters:
        - description: The ID of the post to retrieve.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The post and related data.
          schema:
            properties:
              author:
                $ref: "#/definitions/User"
              author_offer_count:
                description: Count of offer posts made by the post author in the last 90 days.
                type: integer
              author_posts:
                description: >
                  Other active posts from the post author in the last 90 days. A maximum of 30 posts will be returned.
                items:
                  $ref: "#/definitions/Post"
                type: array
              author_wanted_count:
                description: Count of wanted posts made by the post author in the last 90 days.
                type: integer
              bookmarked:
                description: Whether or not the current user has bookmarked this post.  Will be null for api key requests and for the current users' posts.
                type: boolean
              feedback:
                description: Feedback the current user has left on the post author.
                items:
                  $ref: "#/definitions/Feedback"
                type: array
              geolocate_bounds:
                $ref: "#/definitions/GeolocateBounds"
              groups:
                description: The groups the post is published on.
                items:
                  $ref: "#/definitions/Group"
                type: array
              post:
                $ref: "#/definitions/Post"
              replied:
                description: Whether or not the current user has replied to this post.  Will be null for api key requests and for the current users' posts.
                type: boolean
              user_can_reply:
                description: >
                  Whether or not the current user (if any) can reply to this post. Unverified users cannot reply to posts until they verify their account.
                type: boolean
              viewed:
                description: Whether or not the current user has previously viewed this post.  Will be null for api key requests and for the current users' posts.
                type: boolean
            type: object
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve post display data
      tags:
        - posts
  "/posts/{post_id}/flag":
    post:
      consumes:
        - multipart/form-data
      description: Flags a post to be reviewed by the moderators.
      operationId: flag_post
      parameters:
        - in: path
          name: post_id
          required: true
          type: string
        - description: >
            The reason that this post is being flagged.  Must be one of: 'spam', 'not free (for sale/trade/borrow)', 'illegal item', 'not family-friendly', 'other', 'mislabeled: is a Want', 'mislabeled: is an Offer'. <br /><br /> NOTE: If reason is set to 'other', the details parameter is required to be set.
          in: formData
          name: reason
          required: true
          type: string
        - description: >
            An explanation from the current user for why they are flagging this post.   This is useful for users to provide evidence or explain why there is a problem with the post. <br /><br /> NOTE: If reason is set to 'other', details are required.
          in: formData
          name: details
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The post has been flagged.
        "400":
          description: Invalid reason parameter or missing details.
        "404":
          description: Post not found.
      summary: Flag a post
      tags:
        - posts
  "/posts/{post_id}/geolocate":
    put:
      consumes:
        - multipart/form-data
      description: Map a post to a specific location when the post is missing a location or has an incorrect location.
      operationId: geolocate_post
      parameters:
        - description: The ID of the post to geolocate.
          in: path
          name: post_id
          required: true
          type: string
        - in: formData
          name: latitude
          required: true
          type: number
        - in: formData
          name: longitude
          required: true
          type: number
        - description: >
            A location name corresponding to the given latitude and longitude.  Usually this is either a location included somewhere in the post title or content or a location description typed or selected by the user who is mapping the post.
          in: formData
          name: location
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The updated post.
          schema:
            $ref: "#/definitions/Post"
        "400":
          description: Invalid latitude or longitude.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Map a post
      tags:
        - posts
  "/posts/{post_id}/promise":
    put:
      consumes:
        - multipart/form-data
      description: >
        Mark an offer by the current user as promised to someone. This helps people viewing the post know that the items being offered may soon be given away as long as the person who was promised the items picks them up.
      operationId: promise_post
      parameters:
        - description: The ID of the post to promise.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The updated post.
          schema:
            $ref: "#/definitions/Post"
        "400":
          description: The post is not an offer post or the post has already been satisfied or withdrawn.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Promise an offer post
      tags:
        - posts
  "/posts/{post_id}/reply":
    post:
      consumes:
        - multipart/form-data
      description: Send a reply to a post from the current user to the post author.
      operationId: reply_to_post
      parameters:
        - description: The ID of the post to reply to.
          in: path
          name: post_id
          required: true
          type: string
        - description: The message to send to the post author.
          in: formData
          name: message
          required: true
          type: string
        - default: 0
          description: If set to 1, a copy of the reply will be emailed to the current user.
          in: formData
          name: send_copy
          required: false
          type: integer
        - description: A comma separated list of the IDs of the photos that should be attached to this reply.
          in: formData
          name: photo_ids
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The reply has been sent.
        "400":
          description: Missing message parameter or post has been satisfied or withdrawn or expired or the post author is blocked.
        "403":
          description: The user doesn't have permission to reply to the post.
        "404":
          description: Post not found.
      summary: Reply to a post
      tags:
        - posts
  "/posts/{post_id}/satisfy":
    put:
      consumes:
        - multipart/form-data
      description: Mark an offer or wanted post by the current user as satisfied (eg. an offer has been taken or a wanted has been received).
      operationId: satisfy_post
      parameters:
        - description: The ID of the post to satisfy.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The updated post.
          schema:
            $ref: "#/definitions/Post"
        "400":
          description: Invalid summary or the post is not an offer or wanted post or the post has been withdrawn.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Satisfy a post
      tags:
        - posts
  "/posts/{post_id}/share":
    get:
      description: Retrieve text and html content useful for sharing a post by email.
      operationId: get_post_share_content
      parameters:
        - description: The ID of the post to share.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Email subject, text body and html body for sharing a post by email.
          schema:
            properties:
              html:
                description: Email body as html.
                type: string
              subject:
                description: Email subject line text.
                type: string
              text:
                description: Email body as plain text.
                type: string
            type: object
      summary: Retrieve post share content
      tags:
        - posts
    post:
      consumes:
        - multipart/form-data
      description: Forwards a copy of the post to the current user so that they can forward it to friends.
      operationId: share_post
      parameters:
        - description: The ID of the post to share.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Post shared.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Share a post
      tags:
        - posts
  "/posts/{post_id}/unpromise":
    put:
      consumes:
        - multipart/form-data
      description: Mark an offer by the current user as unpromised.
      operationId: unpromise_post
      parameters:
        - description: The ID of the post to unpromise.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The updated post.
          schema:
            $ref: "#/definitions/Post"
        "400":
          description: The post is not an offer post or the post has already been satisfied or withdrawn.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Unpromise an offer post
      tags:
        - posts
  "/posts/{post_id}/withdraw":
    put:
      consumes:
        - multipart/form-data
      description: Mark an offer or wanted post by the current user as withdrawn.
      operationId: withdraw_post
      parameters:
        - description: The ID of the post to withdraw.
          in: path
          name: post_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The updated post.
          schema:
            $ref: "#/definitions/Post"
        "400":
          description: The post is not an offer or wanted post or the post has already been satisfied.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Withdraw a post
      tags:
        - posts
  /stories:
    get:
      operationId: get_stories
      parameters:
        - default: 1
          description: The page of stories to return.
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          description: The number of stories to return per page (must be >= 1 and <= 50).
          in: query
          maximum: 50
          minimum: 1
          name: per_page
          required: false
          type: integer
        - default: date
          description: >
            How to sort the stories that are returned.  One of: date, distance, likes, views <br /><br /> Setting sort_by to date will sort posts from newest to oldest.  Setting sort_by to distance will sort posts from nearest to farthest.  Setting sort_by to likes will sort posts with the most likes first.  Setting sort_by to views will show the posts with the most views first.
          in: query
          name: sort_by
          required: false
          type: string
        - description: Find groups near the given latitude and longitude.
          in: query
          name: latitude
          required: false
          type: number
        - description: Find groups near the given latitude and longitude.
          in: query
          name: longitude
          required: false
          type: number
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The stories and paging data.
          schema:
            properties:
              stories:
                items:
                  $ref: "#/definitions/Story"
                type: array
            type: object
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List stories
      tags:
        - stories
    post:
      consumes:
        - multipart/form-data
      operationId: submit_story
      parameters:
        - description: The title of the story.
          in: formData
          maxLength: 80
          name: title
          required: true
          type: string
        - description: The content of the story.
          in: formData
          name: content
          required: true
          type: string
        - description: >
            Must be set to one of the following two options: public, members <br /><br /> When sharing is set to public, anyone will be able to view the story. When sharing is set to members, only other members will be able to view the story.
          in: formData
          name: sharing
          required: true
          type: string
        - description: A comma separated list of the IDs of the photos that should be attached to this story.
          in: formData
          name: photo_ids
          required: false
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: formData
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The new story.
          schema:
            $ref: "#/definitions/Story"
        "400":
          description: Missing or invalid parameters.
      summary: Submit a story
      tags:
        - stories
  "/stories/{story_id}":
    get:
      operationId: get_story
      parameters:
        - description: The ID of the story to retrieve.
          in: path
          name: story_id
          required: true
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The story.
          schema:
            $ref: "#/definitions/Story"
        "403":
          description: Story is only visible to members.
        "404":
          description: Story not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a story
      tags:
        - stories
  "/stories/{story_id}/like":
    put:
      consumes:
        - multipart/form-data
      operationId: like_story
      parameters:
        - description: The ID of the story to like.
          in: path
          name: story_id
          required: true
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The updated story.
          schema:
            $ref: "#/definitions/Story"
        "404":
          description: Story not found.
      summary: Like a story
      tags:
        - stories
  "/stories/{story_id}/unlike":
    put:
      consumes:
        - multipart/form-data
      operationId: unlike_story
      parameters:
        - description: The ID of the story to unlike.
          in: path
          name: story_id
          required: true
          type: string
        - default: 1
          description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          type: number
      produces:
        - application/json
      responses:
        "200":
          description: The updated story.
          schema:
            $ref: "#/definitions/Story"
        "404":
          description: Story not found.
      summary: Unlike a story
      tags:
        - stories
  "/stories/{story_id}/viewed":
    post:
      consumes:
        - multipart/form-data
      description: Records every time a user views the full story (and not just a preview or snippet),
      operationId: viewed_story
      parameters:
        - description: The ID of the story viewed.
          in: path
          name: story_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Story view was recorded.
        "404":
          description: Story not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Record story viewed
      tags:
        - stories
  /users/me:
    get:
      operationId: get_current_user
      produces:
        - application/json
      responses:
        "200":
          description: User data
          schema:
            $ref: "#/definitions/CurrentUser"
        "404":
          description: User not found.
      summary: Retrieve current user
      tags:
        - users
    put:
      consumes:
        - multipart/form-data
      description: >
        Update the current user.  All fields are optional so requests can update just one or multiple user properties at a time.
      operationId: update_current_user
      parameters:
        - description: The first name of the user.
          in: formData
          name: firstname
          required: false
          type: string
        - description: The last name of the user.
          in: formData
          name: lastname
          required: false
          type: string
        - description: >
            Whether or not the users' first and last name will be visible to other users. Set to 1 to enable and 0 to disable.
          in: formData
          name: public_name
          required: false
          type: integer
        - description: >
            The frequency of digest emails sent to this user. One of: weekly, twice_weekly, daily, 12_hours, 8_hours, 6_hours, 4_hours, 2_hours, hourly <br /><br /> To disable digests, set this to an empty string.
          in: formData
          name: digest
          required: false
          type: string
        - description: >
[...]
