swagger: '2.0'
schemes:
  - https
  - http
host: route53resolver.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>Here''s how you set up to query an Amazon Route 53 private hosted zone from your network:</p> <ol> <li> <p>Connect your network to a VPC using AWS Direct Connect or a VPN.</p> </li> <li> <p>Run the following AWS CLI command to create a Resolver endpoint:</p> <p> <code>create-resolver-endpoint --name [endpoint_name] --direction INBOUND --creator-request-id [unique_string] --security-group-ids [security_group_with_inbound_rules] --ip-addresses SubnetId=[subnet_id] SubnetId=[subnet_id_in_different_AZ]</code> </p> <p>Note the resolver endpoint ID that appears in the response. You''ll use it in step 3.</p> </li> <li> <p>Get the IP addresses for the Resolver endpoints:</p> <p> <code>get-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p> </li> <li> <p>In your network configuration, define the IP addresses that you got in step 3 as DNS servers.</p> <p>You can now query instance names in your VPCs and the names of records in your private hosted zone.</p> </li> </ol> <p>You can also perform the following operations using the AWS CLI:</p> <ul> <li> <p> <code>list-resolver-endpoints</code>: List all endpoints. The syntax includes options for pagination and filtering.</p> </li> <li> <p> <code>update-resolver-endpoints</code>: Add IP addresses to an endpoint or remove IP addresses from an endpoint. </p> </li> </ul> <p>To delete an endpoint, use the following AWS CLI command:</p> <p> <code>delete-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Route 53 Resolver
  version: '2018-04-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53resolver-2018-04-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: route53resolver
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/route53resolver/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Route53Resolver.AssociateResolverEndpointIpAddress':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds IP addresses to an inbound or an outbound resolver endpoint. If you want to adding more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a>DisassociateResolverEndpointIpAddress</a>.</p>'
      operationId: AssociateResolverEndpointIpAddress
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateResolverEndpointIpAddressRequest'
        - enum:
            - Route53Resolver.AssociateResolverEndpointIpAddress
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateResolverEndpointIpAddressResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.AssociateResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Associates a resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a>CreateResolverRule</a>. '
      operationId: AssociateResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateResolverRuleRequest'
        - enum:
            - Route53Resolver.AssociateResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateResolverRuleResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '485':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.CreateResolverEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a resolver endpoint. There are two types of resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network or another VPC.</p> </li> <li> <p>An <i>outbound resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network or another VPC.</p> </li> </ul>'
      operationId: CreateResolverEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateResolverEndpointRequest'
        - enum:
            - Route53Resolver.CreateResolverEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResolverEndpointResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.CreateResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'For DNS queries that originate in your VPCs, specifies which resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.'
      operationId: CreateResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateResolverRuleRequest'
        - enum:
            - Route53Resolver.CreateResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResolverRuleResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '485':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '486':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '487':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.DeleteResolverEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a resolver endpoint. The effect of deleting a resolver endpoint depends on whether it''s an inbound or an outbound resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network or another VPC are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network or to another VPC.</p> </li> </ul>'
      operationId: DeleteResolverEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResolverEndpointRequest'
        - enum:
            - Route53Resolver.DeleteResolverEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResolverEndpointResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.DeleteResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a resolver rule. Before you can delete a resolver rule, you must disassociate it from all the VPCs that you associated the resolver rule with. For more infomation, see <a>DisassociateResolverRule</a>.'
      operationId: DeleteResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResolverRuleRequest'
        - enum:
            - Route53Resolver.DeleteResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResolverRuleResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.DisassociateResolverEndpointIpAddress':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes IP addresses from an inbound or an outbound resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a>AssociateResolverEndpointIpAddress</a>.</p>'
      operationId: DisassociateResolverEndpointIpAddress
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateResolverEndpointIpAddressRequest'
        - enum:
            - Route53Resolver.DisassociateResolverEndpointIpAddress
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateResolverEndpointIpAddressResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.DisassociateResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes the association between a specified resolver rule and a specified VPC.</p> <important> <p>If you disassociate a resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the resolver rule. </p> </important>'
      operationId: DisassociateResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateResolverRuleRequest'
        - enum:
            - Route53Resolver.DisassociateResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateResolverRuleResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.GetResolverEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about a specified resolver endpoint, such as whether it''s an inbound or an outbound resolver endpoint, and the current status of the endpoint.'
      operationId: GetResolverEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetResolverEndpointRequest'
        - enum:
            - Route53Resolver.GetResolverEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResolverEndpointResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.GetResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about a specified resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound resolver endpoint that the rule is associated with.'
      operationId: GetResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetResolverRuleRequest'
        - enum:
            - Route53Resolver.GetResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResolverRuleResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.GetResolverRuleAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about an association between a specified resolver rule and a VPC. You associate a resolver rule and a VPC using <a>AssociateResolverRule</a>. '
      operationId: GetResolverRuleAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetResolverRuleAssociationRequest'
        - enum:
            - Route53Resolver.GetResolverRuleAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResolverRuleAssociationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.GetResolverRulePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about a resolver rule policy. A resolver rule policy specifies the Resolver operations and resources that you want to allow another AWS account to be able to use. '
      operationId: GetResolverRulePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetResolverRulePolicyRequest'
        - enum:
            - Route53Resolver.GetResolverRulePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResolverRulePolicyResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
  '/#X-Amz-Target=Route53Resolver.ListResolverEndpointIpAddresses':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the IP addresses for a specified resolver endpoint.
      operationId: ListResolverEndpointIpAddresses
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResolverEndpointIpAddressesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53Resolver.ListResolverEndpointIpAddresses
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolverEndpointIpAddressesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.ListResolverEndpoints':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all the resolver endpoints that were created using the current AWS account.
      operationId: ListResolverEndpoints
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResolverEndpointsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53Resolver.ListResolverEndpoints
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolverEndpointsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.ListResolverRuleAssociations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the associations that were created between resolver rules and VPCs using the current AWS account.
      operationId: ListResolverRuleAssociations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResolverRuleAssociationsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53Resolver.ListResolverRuleAssociations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolverRuleAssociationsResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.ListResolverRules':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the resolver rules that were created using the current AWS account.
      operationId: ListResolverRules
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListResolverRulesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Route53Resolver.ListResolverRules
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolverRulesResponse'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the tags that you associated with the specified resource.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - Route53Resolver.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.PutResolverRulePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Specifies the Resolver operations and resources that you want to allow another AWS account to be able to use.
      operationId: PutResolverRulePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutResolverRulePolicyRequest'
        - enum:
            - Route53Resolver.PutResolverRulePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutResolverRulePolicyResponse'
        '480':
          description: InvalidPolicyDocument
          schema:
            $ref: '#/definitions/InvalidPolicyDocument'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
  '/#X-Amz-Target=Route53Resolver.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds one or more tags to a specified resource.
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - Route53Resolver.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '484':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes one or more tags from a specified resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - Route53Resolver.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.UpdateResolverEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates the name of an inbound or an outbound resolver endpoint. '
      operationId: UpdateResolverEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResolverEndpointRequest'
        - enum:
            - Route53Resolver.UpdateResolverEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResolverEndpointResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=Route53Resolver.UpdateResolverRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates settings for a specified resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don''t specify a parameter, it retains its current value.'
      operationId: UpdateResolverRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResolverRuleRequest'
        - enum:
            - Route53Resolver.UpdateResolverRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResolverRuleResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
definitions:
  AccountId:
    maxLength: 32
    minLength: 12
    type: string
  Arn:
    maxLength: 255
    minLength: 1
    type: string
  AssociateResolverEndpointIpAddressRequest:
    properties:
      IpAddress:
        $ref: '#/definitions/IpAddressUpdate'
        description: 'Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.'
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to associate IP addresses with.
    required:
      - ResolverEndpointId
      - IpAddress
    type: object
  AssociateResolverEndpointIpAddressResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: The response to an <code>AssociateResolverEndpointIpAddress</code> request.
    type: object
  AssociateResolverRuleRequest:
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: A name for the association that you're creating between a resolver rule and a VPC.
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: 'The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.'
      VPCId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the VPC that you want to associate the resolver rule with.
    required:
      - ResolverRuleId
      - VPCId
    type: object
  AssociateResolverRuleResponse:
    properties:
      ResolverRuleAssociation:
        $ref: '#/definitions/ResolverRuleAssociation'
        description: 'Information about the <code>AssociateResolverRule</code> request, including the status of the request.'
    type: object
  Boolean:
    type: boolean
  CreateResolverEndpointRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/CreatorRequestId'
        description: 'A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. '
      Direction:
        $ref: '#/definitions/ResolverEndpointDirection'
        description: '<p>Specify the applicable value:</p> <ul> <li> <p> <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network or another VPC</p> </li> </ul>'
      IpAddresses:
        $ref: '#/definitions/IpAddressesRequest'
        description: 'The subnets and IP addresses in your VPC that you want DNS queries to pass through on the way from your VPCs to your network (for outbound endpoints) or on the way from your network to your VPCs (for inbound resolver endpoints). '
      Name:
        $ref: '#/definitions/Name'
        description: A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify must include one or more inbound rules (for inbound resolver endpoints) or outbound rules (for outbound resolver endpoints).
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of the tag keys and values that you want to associate with the endpoint.
    required:
      - CreatorRequestId
      - SecurityGroupIds
      - Direction
      - IpAddresses
    type: object
  CreateResolverEndpointResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: 'Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.'
    type: object
  CreateResolverRuleRequest:
    properties:
      CreatorRequestId:
        $ref: '#/definitions/CreatorRequestId'
        description: 'A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. '
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), outbound DNS queries are routed using the resolver rule that contains the most specific domain name (www.example.com).'
      Name:
        $ref: '#/definitions/Name'
        description: A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.
      RuleType:
        $ref: '#/definitions/RuleTypeOption'
        description: Specify <code>FORWARD</code>. Other resolver rule types aren't supported.
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of the tag keys and values that you want to associate with the endpoint.
      TargetIps:
        $ref: '#/definitions/TargetList'
        description: The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a comma.
    required:
      - CreatorRequestId
      - RuleType
      - DomainName
    type: object
  CreateResolverRuleResponse:
    properties:
      ResolverRule:
        $ref: '#/definitions/ResolverRule'
        description: 'Information about the <code>CreateResolverRule</code> request, including the status of the request.'
    type: object
  CreatorRequestId:
    maxLength: 255
    minLength: 1
    type: string
  DeleteResolverEndpointRequest:
    properties:
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to delete.
    required:
      - ResolverEndpointId
    type: object
  DeleteResolverEndpointResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: 'Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.'
    type: object
  DeleteResolverRuleRequest:
    properties:
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule that you want to delete.
    required:
      - ResolverRuleId
    type: object
  DeleteResolverRuleResponse:
    properties:
      ResolverRule:
        $ref: '#/definitions/ResolverRule'
        description: 'Information about the <code>DeleteResolverRule</code> request, including the status of the request.'
    type: object
  DisassociateResolverEndpointIpAddressRequest:
    properties:
      IpAddress:
        $ref: '#/definitions/IpAddressUpdate'
        description: The IPv4 address that you want to remove from a resolver endpoint.
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to disassociate an IP address from.
    required:
      - ResolverEndpointId
      - IpAddress
    type: object
  DisassociateResolverEndpointIpAddressResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: The response to an <code>DisassociateResolverEndpointIpAddress</code> request.
    type: object
  DisassociateResolverRuleRequest:
    properties:
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule that you want to disassociate from the specified VPC.
      VPCId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the VPC that you want to disassociate the resolver rule from.
    required:
      - VPCId
      - ResolverRuleId
    type: object
  DisassociateResolverRuleResponse:
    properties:
      ResolverRuleAssociation:
        $ref: '#/definitions/ResolverRuleAssociation'
        description: 'Information about the <code>DisassociateResolverRule</code> request, including the status of the request.'
    type: object
  DomainName:
    maxLength: 256
    minLength: 1
    type: string
  Filter:
    description: 'For <code>List</code> operations, an optional specification to return a subset of objects, such as resolver endpoints or resolver rules.'
    properties:
      Name:
        $ref: '#/definitions/FilterName'
        description: 'When you''re using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules, the name of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify <code>Direction</code> for the value of <code>Name</code>.'
      Values:
        $ref: '#/definitions/FilterValues'
        description: 'When you''re using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules, the value of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify <code>INBOUND</code> for the value of <code>Values</code>.'
    type: object
  FilterName:
    maxLength: 64
    minLength: 1
    type: string
  FilterValue:
    maxLength: 64
    minLength: 1
    type: string
  FilterValues:
    items:
      $ref: '#/definitions/FilterValue'
    type: array
  Filters:
    items:
      $ref: '#/definitions/Filter'
    type: array
  GetResolverEndpointRequest:
    properties:
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to get information about.
    required:
      - ResolverEndpointId
    type: object
  GetResolverEndpointResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: Information about the resolver endpoint that you specified in a <code>GetResolverEndpoint</code> request.
    type: object
  GetResolverRuleAssociationRequest:
    properties:
      ResolverRuleAssociationId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule association that you want to get information about.
    required:
      - ResolverRuleAssociationId
    type: object
  GetResolverRuleAssociationResponse:
    properties:
      ResolverRuleAssociation:
        $ref: '#/definitions/ResolverRuleAssociation'
        description: Information about the resolver rule association that you specified in a <code>GetResolverRuleAssociation</code> request.
    type: object
  GetResolverRulePolicyRequest:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ID of the resolver rule policy that you want to get information about.
    required:
      - Arn
    type: object
  GetResolverRulePolicyResponse:
    properties:
      ResolverRulePolicy:
        $ref: '#/definitions/ResolverRulePolicy'
        description: Information about the resolver rule policy that you specified in a <code>GetResolverRulePolicy</code> request.
    type: object
  GetResolverRuleRequest:
    properties:
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule that you want to get information about.
    required:
      - ResolverRuleId
    type: object
  GetResolverRuleResponse:
    properties:
      ResolverRule:
        $ref: '#/definitions/ResolverRule'
        description: Information about the resolver rule that you specified in a <code>GetResolverRule</code> request.
    type: object
  InternalServiceErrorException: {}
  InvalidNextTokenException: {}
  InvalidParameterException: {}
  InvalidPolicyDocument: {}
  InvalidRequestException: {}
  InvalidTagException: {}
  Ip:
    maxLength: 36
    minLength: 7
    type: string
  IpAddressCount:
    type: integer
  IpAddressRequest:
    description: 'In an <a>CreateResolverEndpoint</a> request, a subnet and IP address that you want to use for DNS queries.'
    properties:
      Ip:
        $ref: '#/definitions/Ip'
        description: The IP address that you want to use for DNS queries.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The subnet that contains the IP address.
    required:
      - SubnetId
    type: object
  IpAddressResponse:
    description: 'In the response to a <a>GetResolverEndpoint</a> request, information about the IP addresses that the resolver endpoint uses for DNS queries.'
    properties:
      CreationTime:
        $ref: '#/definitions/Rfc3339TimeString'
        description: 'The date and time that the IP address was created, in Unix time format and Coordinated Universal Time (UTC).'
      Ip:
        $ref: '#/definitions/Ip'
        description: One IP address that the resolver endpoint uses for DNS queries.
      IpId:
        $ref: '#/definitions/ResourceId'
        description: The ID of one IP address.
      ModificationTime:
        $ref: '#/definitions/Rfc3339TimeString'
        description: 'The date and time that the IP address was last modified, in Unix time format and Coordinated Universal Time (UTC).'
      Status:
        $ref: '#/definitions/IpAddressStatus'
        description: A status code that gives the current status of the request.
      StatusMessage:
        $ref: '#/definitions/StatusMessage'
        description: A message that provides additional information about the status of the request.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The ID of one subnet.
    type: object
  IpAddressStatus:
    enum:
      - CREATING
      - FAILED_CREATION
      - ATTACHING
      - ATTACHED
      - REMAP_DETACHING
      - REMAP_ATTACHING
      - DETACHING
      - FAILED_RESOURCE_GONE
      - DELETING
      - DELETE_FAILED_FAS_EXPIRED
    type: string
  IpAddressUpdate:
    description: 'In an <a>UpdateResolverEndpoint</a> request, information about an IP address to update.'
    properties:
      Ip:
        $ref: '#/definitions/Ip'
        description: The new IP address.
      IpId:
        $ref: '#/definitions/ResourceId'
        description: ' <i>Only when removing an IP address from a resolver endpoint</i>: The ID of the IP address that you want to remove. To get this ID, use <a>GetResolverEndpoint</a>.'
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: 'The ID of the subnet that includes the IP address that you want to update. To get this ID, use <a>GetResolverEndpoint</a>.'
    type: object
  IpAddressesRequest:
    items:
      $ref: '#/definitions/IpAddressRequest'
    maxItems: 10
    minItems: 1
    type: array
  IpAddressesResponse:
    items:
      $ref: '#/definitions/IpAddressResponse'
    type: array
  LimitExceededException: {}
  ListResolverEndpointIpAddressesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of IP addresses that you want to return in the response to a <code>ListResolverEndpointIpAddresses</code> request. If you don''t specify a value for <code>MaxResults</code>, Resolver returns up to 100 IP addresses. '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListResolverEndpointIpAddresses</code> request, omit this value.</p> <p>If the specified resolver endpoint has more than <code>MaxResults</code> IP addresses, you can submit another <code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>'
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to get IP addresses for.
    required:
      - ResolverEndpointId
    type: object
  ListResolverEndpointIpAddressesResponse:
    properties:
      IpAddresses:
        $ref: '#/definitions/IpAddressesResponse'
        description: The IP addresses that DNS queries pass through on their way to your network (outbound endpoint) or on the way to Resolver (inbound endpoint).
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The value that you specified for <code>MaxResults</code> in the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the specified endpoint has more than <code>MaxResults</code> IP addresses, you can submit another <code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of <code>NextToken</code> from the previous response. '
    type: object
  ListResolverEndpointsRequest:
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An optional specification to return a subset of resolver endpoints, such as all inbound resolver endpoints.</p> <note> <p>If you submit a second or subsequent <code>ListResolverEndpoints</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of resolver endpoints that you want to return in the response to a <code>ListResolverEndpoints</code> request. If you don''t specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver endpoints. '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListResolverEndpoints</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> resolver endpoints, you can submit another <code>ListResolverEndpoints</code> request to get the next group of resolver endpoints. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>'
    type: object
  ListResolverEndpointsResponse:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The value that you specified for <code>MaxResults</code> in the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> IP addresses match the specified criteria, you can submit another <code>ListResolverEndpoint</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. '
      ResolverEndpoints:
        $ref: '#/definitions/ResolverEndpoints'
        description: 'The resolver endpoints that were created by using the current AWS account, and that match the specified filters, if any.'
    type: object
  ListResolverRuleAssociationsRequest:
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An optional specification to return a subset of resolver rules, such as resolver rules that are associated with the same VPC ID.</p> <note> <p>If you submit a second or subsequent <code>ListResolverRuleAssociations</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of rule associations that you want to return in the response to a <code>ListResolverRuleAssociations</code> request. If you don''t specify a value for <code>MaxResults</code>, Resolver returns up to 100 rule associations. '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListResolverRuleAssociation</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> rule associations, you can submit another <code>ListResolverRuleAssociation</code> request to get the next group of rule associations. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>'
    type: object
  ListResolverRuleAssociationsResponse:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The value that you specified for <code>MaxResults</code> in the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> rule associations match the specified criteria, you can submit another <code>ListResolverRuleAssociation</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. '
      ResolverRuleAssociations:
        $ref: '#/definitions/ResolverRuleAssociations'
        description: 'The associations that were created between resolver rules and VPCs using the current AWS account, and that match the specified filters, if any.'
    type: object
  ListResolverRulesRequest:
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: '<p>An optional specification to return a subset of resolver rules, such as all resolver rules that are associated with the same resolver endpoint.</p> <note> <p>If you submit a second or subsequent <code>ListResolverRules</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of resolver rules that you want to return in the response to a <code>ListResolverRules</code> request. If you don''t specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver rules.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListResolverRules</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> resolver rules, you can submit another <code>ListResolverRules</code> request to get the next group of resolver rules. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>'
    type: object
  ListResolverRulesResponse:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The value that you specified for <code>MaxResults</code> in the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> resolver rules match the specified criteria, you can submit another <code>ListResolverRules</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. '
      ResolverRules:
        $ref: '#/definitions/ResolverRules'
        description: 'The resolver rules that were created using the current AWS account and that match the specified filters, if any.'
    type: object
  ListTagsForResourceRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of tags that you want to return in the response to a <code>ListTagsForResource</code> request. If you don''t specify a value for <code>MaxResults</code>, Resolver returns up to 100 tags.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '<p>For the first <code>ListTagsForResource</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> tags, you can submit another <code>ListTagsForResource</code> request to get the next group of tags for the resource. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>'
      ResourceArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) for the resource that you want to list tags for.
    required:
      - ResourceArn
    type: object
  ListTagsForResourceResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If more than <code>MaxResults</code> tags match the specified criteria, you can submit another <code>ListTagsForResource</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. '
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that are associated with the resource that you specified in the <code>ListTagsForResource</code> request.
    type: object
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  Name:
    maxLength: 64
    pattern: '(?!^[0-9]+$)([a-zA-Z0-9-_'' '']+)'
    type: string
  NextToken:
    type: string
  Port:
    maximum: 65535
    minimum: 0
    type: integer
  PutResolverRulePolicyRequest:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the account that you want to grant permissions to.
      ResolverRulePolicy:
        $ref: '#/definitions/ResolverRulePolicy'
        description: An AWS Identity and Access Management policy statement that lists the permissions that you want to grant to another AWS account.
    required:
      - Arn
      - ResolverRulePolicy
    type: object
  PutResolverRulePolicyResponse:
    description: The response to a <code>PutResolverRulePolicy</code> request.
    properties:
      ReturnValue:
        $ref: '#/definitions/Boolean'
        description: Whether the <code>PutResolverRulePolicy</code> request was successful.
    type: object
  ResolverEndpoint:
    description: 'In the response to a <a>CreateResolverEndpoint</a>, <a>DeleteResolverEndpoint</a>, <a>GetResolverEndpoint</a>, <a>ListResolverEndpoints</a>, or <a>UpdateResolverEndpoint</a> request, a complex type that contains settings for an existing inbound or outbound resolver endpoint.'
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN (Amazon Resource Name) for the resolver endpoint.
      CreationTime:
        $ref: '#/definitions/Rfc3339TimeString'
        description: 'The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).'
      CreatorRequestId:
        $ref: '#/definitions/CreatorRequestId'
        description: A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests to be retried without the risk of executing the operation twice.
      Direction:
        $ref: '#/definitions/ResolverEndpointDirection'
        description: '<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p> <ul> <li> <p> <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p> </li> </ul>'
      HostVPCId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the VPC that you want to create the resolver endpoint in.
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint.
      IpAddressCount:
        $ref: '#/definitions/IpAddressCount'
        description: The number of IP addresses that the resolver endpoint can use for DNS queries.
      ModificationTime:
        $ref: '#/definitions/Rfc3339TimeString'
        description: 'The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).'
      Name:
        $ref: '#/definitions/Name'
        description: The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.
      Status:
        $ref: '#/definitions/ResolverEndpointStatus'
        description: A code that specifies the current status of the resolver endpoint.
      StatusMessage:
        $ref: '#/definitions/StatusMessage'
        description: A detailed description of the status of the resolver endpoint.
    type: object
  ResolverEndpointDirection:
    enum:
      - INBOUND
      - OUTBOUND
    type: string
  ResolverEndpointStatus:
    enum:
      - CREATING
      - OPERATIONAL
      - UPDATING
      - AUTO_RECOVERING
      - ACTION_NEEDED
      - DELETING
    type: string
  ResolverEndpoints:
    items:
      $ref: '#/definitions/ResolverEndpoint'
    type: array
  ResolverRule:
    description: 'For queries that originate in your VPC, detailed information about a resolver rule, which specifies how to route DNS queries out of the VPC. The <code>ResolverRule</code> parameter appears in the response to a <a>CreateResolverRule</a>, <a>DeleteResolverRule</a>, <a>GetResolverRule</a>, <a>ListResolverRules</a>, or <a>UpdateResolverRule</a> request.'
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN (Amazon Resource Name) for the resolver rule specified by <code>Id</code>.
      CreatorRequestId:
        $ref: '#/definitions/CreatorRequestId'
        description: 'A unique string that you specified when you created the resolver rule. <code>CreatorRequestId</code>identifies the request and allows failed requests to be retried without the risk of executing the operation twice. '
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'DNS queries for this domain name are forwarded to the IP addresses that are specified in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), the query is routed using the resolver rule that contains the most specific domain name (www.example.com).'
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID that Resolver assigned to the resolver rule when you created it.
      Name:
        $ref: '#/definitions/Name'
        description: 'The name for the resolver rule, which you specified when you created the resolver rule.'
      OwnerId:
        $ref: '#/definitions/AccountId'
        description: 'When a rule is shared with another AWS account, the account ID of the account that the rule is shared with.'
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the endpoint that the rule is associated with.
      RuleType:
        $ref: '#/definitions/RuleTypeOption'
        description: This value is always <code>FORWARD</code>. Other resolver rule types aren't supported.
      ShareStatus:
        $ref: '#/definitions/ShareStatus'
        description: 'Whether the rules is shared and, if so, whether the current account is sharing the rule with another account, or another account is sharing the rule with the current account.'
      Status:
        $ref: '#/definitions/ResolverRuleStatus'
        description: A code that specifies the current status of the resolver rule.
      StatusMessage:
        $ref: '#/definitions/StatusMessage'
        description: A detailed description of the status of a resolver rule.
      TargetIps:
        $ref: '#/definitions/TargetList'
        description: 'An array that contains the IP addresses and ports that you want to forward '
    type: object
  ResolverRuleAssociation:
    description: 'In the response to an <a>AssociateResolverRule</a>, <a>DisassociateResolverRule</a>, or <a>ListResolverRuleAssociations</a> request, information about an association between a resolver rule and a VPC.'
    properties:
      Id:
        $ref: '#/definitions/ResourceId'
        description: The ID of the association between a resolver rule and a VPC. Resolver assigns this value when you submit an <a>AssociateResolverRule</a> request.
      Name:
        $ref: '#/definitions/Name'
        description: The name of an association between a resolver rule and a VPC.
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule that you associated with the VPC that is specified by <code>VPCId</code>.
      Status:
        $ref: '#/definitions/ResolverRuleAssociationStatus'
        description: A code that specifies the current status of the association between a resolver rule and a VPC.
      StatusMessage:
        $ref: '#/definitions/StatusMessage'
        description: A detailed description of the status of the association between a resolver rule and a VPC.
      VPCId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the VPC that you associated the resolver rule with.
    type: object
  ResolverRuleAssociationStatus:
    enum:
      - CREATING
      - COMPLETE
      - DELETING
      - FAILED
      - OVERRIDDEN
    type: string
  ResolverRuleAssociations:
    items:
      $ref: '#/definitions/ResolverRuleAssociation'
    type: array
  ResolverRuleConfig:
    description: 'In an <a>UpdateResolverRule</a> request, information about the changes that you want to make.'
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: 'The new name for the resolver rule. The name that you specify appears in the Resolver dashboard in the Route 53 console. '
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the new outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.
      TargetIps:
        $ref: '#/definitions/TargetList'
        description: 'For DNS queries that originate in your VPC, the new IP addresses that you want to route outbound DNS queries to.'
    type: object
  ResolverRulePolicy:
    maxLength: 5000
    type: string
  ResolverRuleStatus:
    enum:
      - COMPLETE
      - DELETING
      - UPDATING
      - FAILED
    type: string
  ResolverRules:
    items:
      $ref: '#/definitions/ResolverRule'
    type: array
  ResourceExistsException: {}
  ResourceId:
    maxLength: 64
    minLength: 1
    type: string
  ResourceInUseException: {}
  ResourceNotFoundException: {}
  ResourceUnavailableException: {}
  Rfc3339TimeString:
    maxLength: 40
    minLength: 20
    type: string
  RuleTypeOption:
    enum:
      - FORWARD
      - SYSTEM
      - RECURSIVE
    type: string
  SecurityGroupIds:
    items:
      $ref: '#/definitions/ResourceId'
    type: array
  ShareStatus:
    enum:
      - NOT_SHARED
      - SHARED_WITH_ME
      - SHARED_BY_ME
    type: string
  StatusMessage:
    maxLength: 255
    type: string
  SubnetId:
    maxLength: 32
    minLength: 1
    type: string
  Tag:
    description: One tag that you want to add to the specified resource. A tag consists of a <code>Key</code> (a name for the tag) and a <code>Value</code>.
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: 'The name for the tag. For example, if you want to associate Resolver resources with the account IDs of your customers for billing purposes, the value of <code>Key</code> might be <code>account-id</code>.'
      Value:
        $ref: '#/definitions/TagValue'
        description: 'The value for the tag. For example, if <code>Key</code> is <code>account-id</code>, then <code>Value</code> might be the ID of the customer account that you''re creating the resource for.'
    type: object
  TagKey:
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    type: array
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagResourceRequest:
    properties:
      ResourceArn:
        $ref: '#/definitions/Arn'
        description: '<p>The Amazon Resource Name (ARN) for the resource that you want to add tags to. To get the ARN for a resource, use the applicable <code>Get</code> or <code>List</code> command: </p> <ul> <li> <p> <a>GetResolverEndpoint</a> </p> </li> <li> <p> <a>GetResolverRule</a> </p> </li> <li> <p> <a>GetResolverRuleAssociation</a> </p> </li> <li> <p> <a>ListResolverEndpoints</a> </p> </li> <li> <p> <a>ListResolverRuleAssociations</a> </p> </li> <li> <p> <a>ListResolverRules</a> </p> </li> </ul>'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that you want to add to the specified resource.
    required:
      - ResourceArn
      - Tags
    type: object
  TagResourceResponse:
    properties: {}
    type: object
  TagValue:
    type: string
  TargetAddress:
    description: 'In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.'
    properties:
      Ip:
        $ref: '#/definitions/Ip'
        description: One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.
      Port:
        $ref: '#/definitions/Port'
        description: The port at <code>Ip</code> that you want to forward DNS queries to.
    required:
      - Ip
    type: object
  TargetList:
    items:
      $ref: '#/definitions/TargetAddress'
    minItems: 1
    type: array
  ThrottlingException: {}
  UnknownResourceException: {}
  UntagResourceRequest:
    properties:
      ResourceArn:
        $ref: '#/definitions/Arn'
        description: '<p>The Amazon Resource Name (ARN) for the resource that you want to remove tags from. To get the ARN for a resource, use the applicable <code>Get</code> or <code>List</code> command: </p> <ul> <li> <p> <a>GetResolverEndpoint</a> </p> </li> <li> <p> <a>GetResolverRule</a> </p> </li> <li> <p> <a>GetResolverRuleAssociation</a> </p> </li> <li> <p> <a>ListResolverEndpoints</a> </p> </li> <li> <p> <a>ListResolverRuleAssociations</a> </p> </li> <li> <p> <a>ListResolverRules</a> </p> </li> </ul>'
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The tags that you want to remove to the specified resource.
    required:
      - ResourceArn
      - TagKeys
    type: object
  UntagResourceResponse:
    properties: {}
    type: object
  UpdateResolverEndpointRequest:
    properties:
      Name:
        $ref: '#/definitions/Name'
        description: The name of the resolver endpoint that you want to update.
      ResolverEndpointId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver endpoint that you want to update.
    required:
      - ResolverEndpointId
    type: object
  UpdateResolverEndpointResponse:
    properties:
      ResolverEndpoint:
        $ref: '#/definitions/ResolverEndpoint'
        description: The response to an <code>UpdateResolverEndpoint</code> request.
    type: object
  UpdateResolverRuleRequest:
    properties:
      Config:
        $ref: '#/definitions/ResolverRuleConfig'
        description: The new settings for the resolver rule.
      ResolverRuleId:
        $ref: '#/definitions/ResourceId'
        description: The ID of the resolver rule that you want to update.
    required:
      - ResolverRuleId
      - Config
    type: object
  UpdateResolverRuleResponse:
    properties:
      ResolverRule:
        $ref: '#/definitions/ResolverRule'
        description: The response to an <code>UpdateResolverRule</code> request.
    type: object
x-servers:
  - description: The Route53Resolver multi-region endpoint
    url: 'http://route53resolver.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Route53Resolver multi-region endpoint
    url: 'https://route53resolver.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Route53Resolver endpoint for China (Beijing) and China (Ningxia)
    url: 'http://route53resolver.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Route53Resolver endpoint for China (Beijing) and China (Ningxia)
    url: 'https://route53resolver.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
