swagger: '2.0'
info:
  version: '2018-11-29'
  x-release: v4
  title: AmazonApiGatewayV2
  description: Amazon API Gateway V2
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: apigatewayv2
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigatewayv2-2018-11-29.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/apigateway/'
host: apigateway.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://apigateway.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AmazonApiGatewayV2 multi-region endpoint
  - url: 'https://apigateway.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AmazonApiGatewayV2 multi-region endpoint
  - url: 'http://apigateway.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AmazonApiGatewayV2 endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://apigateway.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AmazonApiGatewayV2 endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /v2/apis:
    post:
      operationId: CreateApi
      description: Creates an Api resource.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - protocolType
            properties:
              apiKeySelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              corsConfiguration:
                description: 'Represents a CORS configuration. Supported only for HTTP APIs. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html">Configuring CORS</a> for more information.'
                type: object
                properties:
                  AllowCredentials:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.
                  AllowHeaders:
                    $ref: '#/definitions/CorsHeaderList'
                    description: Represents a collection of allowed headers. Supported only for HTTP APIs.
                  AllowMethods:
                    $ref: '#/definitions/CorsMethodList'
                    description: Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.
                  AllowOrigins:
                    $ref: '#/definitions/CorsOriginList'
                    description: Represents a collection of allowed origins. Supported only for HTTP APIs.
                  ExposeHeaders:
                    $ref: '#/definitions/CorsHeaderList'
                    description: Represents a collection of exposed headers. Supported only for HTTP APIs.
                  MaxAge:
                    $ref: '#/definitions/IntegerWithLengthBetweenMinus1And86400'
                    description: The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              disableSchemaValidation:
                description: Avoid validating models when creating a deployment. Supported only for WebSocket APIs.
                type: boolean
              name:
                description: 'A string with a length between [1-128].'
                type: string
              protocolType:
                description: Represents a protocol type.
                type: string
                enum:
                  - WEBSOCKET
                  - HTTP
              routeKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              routeSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              tags:
                description: Represents a collection of tags associated with the resource.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
              target:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              version:
                description: 'A string with a length between [1-64].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApis
      description: Gets a collection of Api resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApisResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
    put:
      operationId: ImportApi
      description: Imports an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ImportApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: basepath
          in: query
          required: false
          description: Represents the base path of the imported API. Supported only for HTTP APIs.
          type: string
        - name: failOnWarnings
          in: query
          required: false
          description: Specifies whether to rollback the API creation (true) or not (false) when a warning is encountered. The default value is false.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - body
            properties:
              body:
                description: The OpenAPI definition. Supported only for HTTP APIs.
                type: string
  '/v2/domainnames/{domainName}/apimappings':
    post:
      operationId: CreateApiMapping
      description: Creates an API mapping.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApiMappingResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - apiId
              - stage
            properties:
              apiId:
                description: The identifier.
                type: string
              apiMappingKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              stage:
                description: 'A string with a length between [1-128].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApiMappings
      description: Gets API mappings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApiMappingsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/authorizers':
    post:
      operationId: CreateAuthorizer
      description: Creates an Authorizer for an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - authorizerType
              - identitySource
              - name
            properties:
              authorizerCredentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              authorizerResultTtlInSeconds:
                description: |2-

                              <p>An integer with a value between [0-3600].</p>
                           
                type: integer
                minimum: 0
                maximum: 3600
              authorizerType:
                description: 'The authorizer type. For WebSocket APIs, specify REQUEST for a Lambda function using incoming request parameters. For HTTP APIs, specify JWT to use JSON Web Tokens.'
                type: string
                enum:
                  - REQUEST
                  - JWT
              authorizerUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              identitySource:
                description: 'The identity source for which authorization is requested. For the REQUEST authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an Auth header, a Name query string parameter are defined as identity sources, this value is $method.request.header.Auth, $method.request.querystring.Name. These parameters will be used to derive the authorization caching key and to perform runtime validation of the REQUEST authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.'
                type: array
                items:
                  $ref: '#/definitions/__string'
              identityValidationExpression:
                description: 'A string with a length between [0-1024].'
                type: string
              jwtConfiguration:
                description: Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.
                type: object
                properties:
                  Audience:
                    $ref: '#/definitions/__listOf__string'
                    description: 'A list of the intended recipients of the JWT. A valid JWT must provide an aud that matches at least one entry in this list. See <a href="https://tools.ietf.org/html/rfc7519#section-4.1.3">RFC 7519</a>. Supported only for HTTP APIs.'
                  Issuer:
                    $ref: '#/definitions/UriWithLengthBetween1And2048'
                    description: |-
                      The base domain of the identity provider that issues JSON Web Tokens. For example, an Amazon Cognito user pool has the following format: https://cognito-idp.<replaceable>{region}</replaceable>.amazonaws.com/<replaceable>{userPoolId}</replaceable>
                                     . Required for the JWT authorizer type. Supported only for HTTP APIs.
              name:
                description: 'A string with a length between [1-128].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetAuthorizers
      description: Gets the Authorizers for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAuthorizersResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/deployments':
    post:
      operationId: CreateDeployment
      description: Creates a Deployment for an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              stageName:
                description: 'A string with a length between [1-128].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDeployments
      description: Gets the Deployments for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  /v2/domainnames:
    post:
      operationId: CreateDomainName
      description: Creates a domain name.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - domainName
            properties:
              domainName:
                description: 'A string with a length between [1-512].'
                type: string
              domainNameConfigurations:
                description: The domain name configurations.
                type: array
                items:
                  $ref: '#/definitions/DomainNameConfiguration'
              tags:
                description: Represents a collection of tags associated with the resource.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDomainNames
      description: Gets the domain names for an AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainNamesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/integrations':
    post:
      operationId: CreateIntegration
      description: Creates an Integration.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateIntegrationResult'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - integrationType
            properties:
              connectionId:
                description: 'A string with a length between [1-1024].'
                type: string
              connectionType:
                description: Represents a connection type.
                type: string
                enum:
                  - INTERNET
                  - VPC_LINK
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.
                type: string
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              integrationMethod:
                description: 'A string with a length between [1-64].'
                type: string
              integrationType:
                description: Represents an API method integration type.
                type: string
                enum:
                  - AWS
                  - HTTP
                  - MOCK
                  - HTTP_PROXY
                  - AWS_PROXY
              integrationUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              passthroughBehavior:
                description: Represents passthrough behavior for an integration response. Supported only for WebSocket APIs.
                type: string
                enum:
                  - WHEN_NO_MATCH
                  - NEVER
                  - WHEN_NO_TEMPLATES
              payloadFormatVersion:
                description: 'A string with a length between [1-64].'
                type: string
              requestParameters:
                description: 'A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
              requestTemplates:
                description: A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              timeoutInMillis:
                description: |2-

                              <p>An integer with a value between [50-29000].</p>
                           
                type: integer
                minimum: 50
                maximum: 29000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetIntegrations
      description: Gets the Integrations for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses':
    post:
      operationId: CreateIntegrationResponse
      description: Creates an IntegrationResponses.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - integrationResponseKey
            properties:
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.
                type: string
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
              integrationResponseKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              responseParameters:
                description: 'A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
              responseTemplates:
                description: A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetIntegrationResponses
      description: Gets the IntegrationResponses for an Integration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResponsesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/models':
    post:
      operationId: CreateModel
      description: Creates a Model for an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - schema
            properties:
              contentType:
                description: 'A string with a length between [1-256].'
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              name:
                description: 'A string with a length between [1-128].'
                type: string
              schema:
                description: 'A string with a length between [0-32768].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetModels
      description: Gets the Models for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/routes':
    post:
      operationId: CreateRoute
      description: Creates a Route for an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateRouteResult'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - routeKey
            properties:
              apiKeyRequired:
                description: Specifies whether an API key is required for the route. Supported only for WebSocket APIs.
                type: boolean
              authorizationScopes:
                description: 'A list of authorization scopes configured on a route. The scopes are used with a JWT authorizer to authorize the method invocation. The authorization works by matching the route scopes against the scopes parsed from the access token in the incoming request. The method invocation is authorized if any route scope matches a claimed scope in the access token. Otherwise, the invocation is not authorized. When the route scope is configured, the client must provide an access token instead of an identity token for authorization purposes.'
                type: array
                items:
                  $ref: '#/definitions/StringWithLengthBetween1And64'
              authorizationType:
                description: 'The authorization type. For WebSocket APIs, valid values are NONE for open access, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer. For HTTP APIs, valid values are NONE for open access, or JWT for using JSON Web Tokens.'
                type: string
                enum:
                  - NONE
                  - AWS_IAM
                  - CUSTOM
                  - JWT
              authorizerId:
                description: The identifier.
                type: string
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              operationName:
                description: 'A string with a length between [1-64].'
                type: string
              requestModels:
                description: The route models.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
              requestParameters:
                description: The route parameters.
                type: object
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
              routeKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              routeResponseSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              target:
                description: 'A string with a length between [1-128].'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetRoutes
      description: Gets the Routes for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRoutesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}/routes/{routeId}/routeresponses':
    post:
      operationId: CreateRouteResponse
      description: Creates a RouteResponse for a Route.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateRouteResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: routeId
          in: path
          required: true
          description: The route ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - routeResponseKey
            properties:
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              responseModels:
                description: The route models.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
              responseParameters:
                description: The route parameters.
                type: object
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
              routeResponseKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetRouteResponses
      description: Gets the RouteResponses for a Route.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRouteResponsesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
        - name: routeId
          in: path
          required: true
          description: The route ID.
          type: string
  '/v2/apis/{apiId}/stages':
    post:
      operationId: CreateStage
      description: Creates a Stage for an API.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateStageResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - stageName
            properties:
              accessLogSettings:
                description: Settings for logging access in a stage.
                type: object
                properties:
                  DestinationArn:
                    $ref: '#/definitions/Arn'
                    description: The ARN of the CloudWatch Logs log group to receive access logs.
                  Format:
                    $ref: '#/definitions/StringWithLengthBetween1And1024'
                    description: 'A single line format of the access logs of data, as specified by selected $context variables. The format must include at least $context.requestId.'
              autoDeploy:
                description: Specifies whether updates to an API automatically trigger a new deployment. The default value is false.
                type: boolean
              clientCertificateId:
                description: The identifier.
                type: string
              defaultRouteSettings:
                description: Represents a collection of route settings.
                type: object
                properties:
                  DataTraceEnabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether (true) or not (false) data trace logging is enabled for this route. This property affects the log entries pushed to Amazon CloudWatch Logs. Supported only for WebSocket APIs.
                  DetailedMetricsEnabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether detailed metrics are enabled.
                  LoggingLevel:
                    $ref: '#/definitions/LoggingLevel'
                    description: 'Specifies the logging level for this route: INFO, ERROR, or OFF. This property affects the log entries pushed to Amazon CloudWatch Logs. Supported only for WebSocket APIs.'
                  ThrottlingBurstLimit:
                    $ref: '#/definitions/__integer'
                    description: Specifies the throttling burst limit. Supported only for WebSocket APIs.
                  ThrottlingRateLimit:
                    $ref: '#/definitions/__double'
                    description: Specifies the throttling rate limit. Supported only for WebSocket APIs.
              deploymentId:
                description: The identifier.
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              routeSettings:
                description: The route settings map.
                type: object
                additionalProperties:
                  $ref: '#/definitions/RouteSettings'
              stageName:
                description: 'A string with a length between [1-128].'
                type: string
              stageVariables:
                description: The stage variable map.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And2048'
              tags:
                description: Represents a collection of tags associated with the resource.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetStages
      description: Gets the Stages for an API.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetStagesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of elements to be returned for this resource.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next page of elements from this collection. Not valid for the last element of the collection.
          type: string
  '/v2/apis/{apiId}':
    delete:
      operationId: DeleteApi
      description: Deletes an Api resource.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApi
      description: Gets an Api resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
    put:
      operationId: ReimportApi
      description: Puts an Api resource.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ReimportApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: basepath
          in: query
          required: false
          description: Represents the base path of the imported API. Supported only for HTTP APIs.
          type: string
        - name: failOnWarnings
          in: query
          required: false
          description: Specifies whether to rollback the API creation (true) or not (false) when a warning is encountered. The default value is false.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - body
            properties:
              body:
                description: The OpenAPI definition. Supported only for HTTP APIs.
                type: string
    patch:
      operationId: UpdateApi
      description: Updates an Api resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              apiKeySelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              corsConfiguration:
                description: 'Represents a CORS configuration. Supported only for HTTP APIs. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html">Configuring CORS</a> for more information.'
                type: object
                properties:
                  AllowCredentials:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.
                  AllowHeaders:
                    $ref: '#/definitions/CorsHeaderList'
                    description: Represents a collection of allowed headers. Supported only for HTTP APIs.
                  AllowMethods:
                    $ref: '#/definitions/CorsMethodList'
                    description: Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.
                  AllowOrigins:
                    $ref: '#/definitions/CorsOriginList'
                    description: Represents a collection of allowed origins. Supported only for HTTP APIs.
                  ExposeHeaders:
                    $ref: '#/definitions/CorsHeaderList'
                    description: Represents a collection of exposed headers. Supported only for HTTP APIs.
                  MaxAge:
                    $ref: '#/definitions/IntegerWithLengthBetweenMinus1And86400'
                    description: The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              disableSchemaValidation:
                description: Avoid validating models when creating a deployment. Supported only for WebSocket APIs.
                type: boolean
              name:
                description: 'A string with a length between [1-128].'
                type: string
              routeKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              routeSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              target:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              version:
                description: 'A string with a length between [1-64].'
                type: string
  '/v2/domainnames/{domainName}/apimappings/{apiMappingId}':
    delete:
      operationId: DeleteApiMapping
      description: Deletes an API mapping.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiMappingId
          in: path
          required: true
          description: The API mapping identifier.
          type: string
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApiMapping
      description: Gets an API mapping.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApiMappingResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: apiMappingId
          in: path
          required: true
          description: The API mapping identifier.
          type: string
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
    patch:
      operationId: UpdateApiMapping
      description: The API mapping.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApiMappingResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiMappingId
          in: path
          required: true
          description: The API mapping identifier.
          type: string
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - apiId
            properties:
              apiId:
                description: The identifier.
                type: string
              apiMappingKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              stage:
                description: 'A string with a length between [1-128].'
                type: string
  '/v2/apis/{apiId}/authorizers/{authorizerId}':
    delete:
      operationId: DeleteAuthorizer
      description: Deletes an Authorizer.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: authorizerId
          in: path
          required: true
          description: The authorizer identifier.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetAuthorizer
      description: Gets an Authorizer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: authorizerId
          in: path
          required: true
          description: The authorizer identifier.
          type: string
    patch:
      operationId: UpdateAuthorizer
      description: Updates an Authorizer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: authorizerId
          in: path
          required: true
          description: The authorizer identifier.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              authorizerCredentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              authorizerResultTtlInSeconds:
                description: |2-

                              <p>An integer with a value between [0-3600].</p>
                           
                type: integer
                minimum: 0
                maximum: 3600
              authorizerType:
                description: 'The authorizer type. For WebSocket APIs, specify REQUEST for a Lambda function using incoming request parameters. For HTTP APIs, specify JWT to use JSON Web Tokens.'
                type: string
                enum:
                  - REQUEST
                  - JWT
              authorizerUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              identitySource:
                description: 'The identity source for which authorization is requested. For the REQUEST authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an Auth header, a Name query string parameter are defined as identity sources, this value is $method.request.header.Auth, $method.request.querystring.Name. These parameters will be used to derive the authorization caching key and to perform runtime validation of the REQUEST authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.'
                type: array
                items:
                  $ref: '#/definitions/__string'
              identityValidationExpression:
                description: 'A string with a length between [0-1024].'
                type: string
              jwtConfiguration:
                description: Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.
                type: object
                properties:
                  Audience:
                    $ref: '#/definitions/__listOf__string'
                    description: 'A list of the intended recipients of the JWT. A valid JWT must provide an aud that matches at least one entry in this list. See <a href="https://tools.ietf.org/html/rfc7519#section-4.1.3">RFC 7519</a>. Supported only for HTTP APIs.'
                  Issuer:
                    $ref: '#/definitions/UriWithLengthBetween1And2048'
                    description: |-
                      The base domain of the identity provider that issues JSON Web Tokens. For example, an Amazon Cognito user pool has the following format: https://cognito-idp.<replaceable>{region}</replaceable>.amazonaws.com/<replaceable>{userPoolId}</replaceable>
                                     . Required for the JWT authorizer type. Supported only for HTTP APIs.
              name:
                description: 'A string with a length between [1-128].'
                type: string
  '/v2/apis/{apiId}/cors':
    delete:
      operationId: DeleteCorsConfiguration
      description: Deletes a CORS configuration.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v2/apis/{apiId}/deployments/{deploymentId}':
    delete:
      operationId: DeleteDeployment
      description: Deletes a Deployment.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: deploymentId
          in: path
          required: true
          description: The deployment ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDeployment
      description: Gets a Deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: deploymentId
          in: path
          required: true
          description: The deployment ID.
          type: string
    patch:
      operationId: UpdateDeployment
      description: Updates a Deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: deploymentId
          in: path
          required: true
          description: The deployment ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              description:
                description: 'A string with a length between [0-1024].'
                type: string
  '/v2/domainnames/{domainName}':
    delete:
      operationId: DeleteDomainName
      description: Deletes a domain name.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDomainName
      description: Gets a domain name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
    patch:
      operationId: UpdateDomainName
      description: Updates a domain name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: domainName
          in: path
          required: true
          description: The domain name.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              domainNameConfigurations:
                description: The domain name configurations.
                type: array
                items:
                  $ref: '#/definitions/DomainNameConfiguration'
  '/v2/apis/{apiId}/integrations/{integrationId}':
    delete:
      operationId: DeleteIntegration
      description: Deletes an Integration.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetIntegration
      description: Gets an Integration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResult'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
    patch:
      operationId: UpdateIntegration
      description: Updates an Integration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateIntegrationResult'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              connectionId:
                description: 'A string with a length between [1-1024].'
                type: string
              connectionType:
                description: Represents a connection type.
                type: string
                enum:
                  - INTERNET
                  - VPC_LINK
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.
                type: string
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              integrationMethod:
                description: 'A string with a length between [1-64].'
                type: string
              integrationType:
                description: Represents an API method integration type.
                type: string
                enum:
                  - AWS
                  - HTTP
                  - MOCK
                  - HTTP_PROXY
                  - AWS_PROXY
              integrationUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              passthroughBehavior:
                description: Represents passthrough behavior for an integration response. Supported only for WebSocket APIs.
                type: string
                enum:
                  - WHEN_NO_MATCH
                  - NEVER
                  - WHEN_NO_TEMPLATES
              payloadFormatVersion:
                description: 'A string with a length between [1-64].'
                type: string
              requestParameters:
                description: 'A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
              requestTemplates:
                description: A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              timeoutInMillis:
                description: |2-

                              <p>An integer with a value between [50-29000].</p>
                           
                type: integer
                minimum: 50
                maximum: 29000
  '/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}':
    delete:
      operationId: DeleteIntegrationResponse
      description: Deletes an IntegrationResponses.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: integrationResponseId
          in: path
          required: true
          description: The integration response ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetIntegrationResponse
      description: Gets an IntegrationResponses.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: integrationResponseId
          in: path
          required: true
          description: The integration response ID.
          type: string
    patch:
      operationId: UpdateIntegrationResponse
      description: Updates an IntegrationResponses.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          type: string
        - name: integrationResponseId
          in: path
          required: true
          description: The integration response ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.
                type: string
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
              integrationResponseKey:
                description: 'After evaluating a selection expression, the result is compared against one or more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression''s associated selection key type.'
                type: string
              responseParameters:
                description: 'A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
              responseTemplates:
                description: A mapping of identifier keys to templates. The value is an actual template script. The key is typically a SelectionKey which is chosen based on evaluating a selection expression.
                type: object
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
  '/v2/apis/{apiId}/models/{modelId}':
    delete:
      operationId: DeleteModel
      description: Deletes a Model.
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: modelId
          in: path
          required: true
          description: The model ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetModel
      description: Gets a Model.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
          type: string
        - name: modelId
          in: path
          required: true
          description: The model ID.
          type: string
    patch:
      operationId: UpdateModel
      description: Updates a Model.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: apiId
          in: path
          required: true
          description: The API identifier.
[...]
