swagger: '2.0'
schemes:
  - https
  - http
host: apigateway.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Amazon API Gateway V2
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AmazonApiGatewayV2
  version: '2018-11-29'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigatewayv2-2018-11-29.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: apigatewayv2
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/apigateway/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v2/apis:
    get:
      description: Gets a collection of Api resources.
      operationId: GetApis
      parameters:
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApisResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an Api resource.
      operationId: CreateApi
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              apiKeySelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              disableSchemaValidation:
                description: Avoid validating models when creating a deployment.
                type: boolean
              name:
                description: 'A string with a length between [1-128].'
                type: string
              protocolType:
                description: ''
                enum:
                  - WEBSOCKET
                type: string
              routeSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with aws:. The tag value can be up to 256 characters..'
                type: object
              version:
                description: 'A string with a length between [1-64].'
                type: string
            required:
              - name
              - protocolType
              - routeSelectionExpression
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}':
    delete:
      description: Deletes an Api resource.
      operationId: DeleteApi
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets an Api resource.
      operationId: GetApi
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates an Api resource.
      operationId: UpdateApi
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              apiKeySelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              disableSchemaValidation:
                description: Avoid validating models when creating a deployment.
                type: boolean
              name:
                description: 'A string with a length between [1-128].'
                type: string
              routeSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              version:
                description: 'A string with a length between [1-64].'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApiResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/authorizers':
    get:
      description: Gets the Authorizers for an API.
      operationId: GetAuthorizers
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAuthorizersResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an Authorizer for an API.
      operationId: CreateAuthorizer
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              authorizerCredentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              authorizerResultTtlInSeconds:
                description: 'An integer with a value between [0-3600].'
                maximum: 2147483647
                minimum: -2147483648
                type: integer
              authorizerType:
                description: |-
                  The authorizer type. Currently the only valid value is REQUEST, for a
                   Lambda function using incoming request parameters.
                enum:
                  - REQUEST
                type: string
              authorizerUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              identitySource:
                description: |-
                  The identity source for which authorization is requested. For the REQUEST
                   authorizer, this is required when authorization caching is enabled. The value is a
                   comma-separated string of one or more mapping expressions of the specified request
                   parameters. For example, if an Auth header, a Name query string parameter are defined
                   as identity sources, this value is $method.request.header.Auth,
                   $method.request.querystring.Name. These parameters will be used to derive
                   the authorization caching key and to perform runtime validation of the REQUEST
                   authorizer by verifying all of the identity-related request parameters are present,
                   not null and non-empty. Only when this is true does the authorizer invoke the
                   authorizer Lambda function, otherwise, it returns a 401 Unauthorized
                   response without calling the Lambda function. The valid value is a string of
                   comma-separated mapping expressions of the specified request parameters. When the
                   authorization caching is not enabled, this property is optional.
                items:
                  $ref: '#/definitions/__string'
                type: array
              identityValidationExpression:
                description: 'A string with a length between [0-1024].'
                type: string
              name:
                description: 'A string with a length between [1-128].'
                type: string
              providerArns:
                description: 'For REQUEST authorizer, this is not defined.'
                items:
                  $ref: '#/definitions/Arn'
                type: array
            required:
              - authorizerType
              - authorizerUri
              - identitySource
              - name
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/authorizers/{authorizerId}':
    delete:
      description: Deletes an Authorizer.
      operationId: DeleteAuthorizer
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The authorizer identifier.
          in: path
          name: authorizerId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets an Authorizer.
      operationId: GetAuthorizer
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The authorizer identifier.
          in: path
          name: authorizerId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates an Authorizer.
      operationId: UpdateAuthorizer
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The authorizer identifier.
          in: path
          name: authorizerId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              authorizerCredentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              authorizerResultTtlInSeconds:
                description: 'An integer with a value between [0-3600].'
                maximum: 2147483647
                minimum: -2147483648
                type: integer
              authorizerType:
                description: |-
                  The authorizer type. Currently the only valid value is REQUEST, for a
                   Lambda function using incoming request parameters.
                enum:
                  - REQUEST
                type: string
              authorizerUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              identitySource:
                description: |-
                  The identity source for which authorization is requested. For the REQUEST
                   authorizer, this is required when authorization caching is enabled. The value is a
                   comma-separated string of one or more mapping expressions of the specified request
                   parameters. For example, if an Auth header, a Name query string parameter are defined
                   as identity sources, this value is $method.request.header.Auth,
                   $method.request.querystring.Name. These parameters will be used to derive
                   the authorization caching key and to perform runtime validation of the REQUEST
                   authorizer by verifying all of the identity-related request parameters are present,
                   not null and non-empty. Only when this is true does the authorizer invoke the
                   authorizer Lambda function, otherwise, it returns a 401 Unauthorized
                   response without calling the Lambda function. The valid value is a string of
                   comma-separated mapping expressions of the specified request parameters. When the
                   authorization caching is not enabled, this property is optional.
                items:
                  $ref: '#/definitions/__string'
                type: array
              identityValidationExpression:
                description: 'A string with a length between [0-1024].'
                type: string
              name:
                description: 'A string with a length between [1-128].'
                type: string
              providerArns:
                description: 'For REQUEST authorizer, this is not defined.'
                items:
                  $ref: '#/definitions/Arn'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAuthorizerResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/deployments':
    get:
      description: Gets the Deployments for an API.
      operationId: GetDeployments
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Deployment for an API.
      operationId: CreateDeployment
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              stageName:
                description: 'A string with a length between [1-128].'
                type: string
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/deployments/{deploymentId}':
    delete:
      description: Deletes a Deployment.
      operationId: DeleteDeployment
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The deployment ID.
          in: path
          name: deploymentId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a Deployment.
      operationId: GetDeployment
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The deployment ID.
          in: path
          name: deploymentId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a Deployment.
      operationId: UpdateDeployment
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The deployment ID.
          in: path
          name: deploymentId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: 'A string with a length between [0-1024].'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeploymentResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/integrations':
    get:
      description: Gets the Integrations for an API.
      operationId: GetIntegrations
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an Integration.
      operationId: CreateIntegration
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              connectionId:
                description: 'A string with a length between [1-1024].'
                type: string
              connectionType:
                description: Represents a connection type.
                enum:
                  - INTERNET
                  - VPC_LINK
                type: string
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions.
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
                type: string
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              integrationMethod:
                description: 'A string with a length between [1-64].'
                type: string
              integrationType:
                description: Represents an API method integration type.
                enum:
                  - AWS
                  - HTTP
                  - MOCK
                  - HTTP_PROXY
                  - AWS_PROXY
                type: string
              integrationUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              passthroughBehavior:
                description: Represents passthrough behavior for an integration response.
                enum:
                  - WHEN_NO_MATCH
                  - NEVER
                  - WHEN_NO_TEMPLATES
                type: string
              requestParameters:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
                description: |-
                  A key-value map specifying response parameters that are passed to the method
                   response from the backend. The key is a method response header parameter name and the
                   mapped value is an integration response header value, a static value enclosed within
                   a pair of single quotes, or a JSON expression from the integration response body. The
                   mapping key must match the pattern of method.response.header.{name}, where name is a
                   valid and unique header name. The mapped non-static value must match the pattern of
                   integration.response.header.{name} or integration.response.body.{JSON-expression},
                   where name is a valid and unique response header name and JSON-expression is a valid
                   JSON expression without the $ prefix.
                type: object
              requestTemplates:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
                description: |-
                  A mapping of identifier keys to templates. The value is an actual template script.
                   The key is typically a SelectionKey which is chosen based on evaluating
                   a selection expression.
                type: object
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              timeoutInMillis:
                description: 'An integer with a value between [50-29000].'
                maximum: 2147483647
                minimum: -2147483648
                type: integer
            required:
              - integrationType
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateIntegrationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/integrations/{integrationId}':
    delete:
      description: Deletes an Integration.
      operationId: DeleteIntegration
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets an Integration.
      operationId: GetIntegration
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates an Integration.
      operationId: UpdateIntegration
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              connectionId:
                description: 'A string with a length between [1-1024].'
                type: string
              connectionType:
                description: Represents a connection type.
                enum:
                  - INTERNET
                  - VPC_LINK
                type: string
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions.
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
                type: string
              credentialsArn:
                description: Represents an Amazon Resource Name (ARN).
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              integrationMethod:
                description: 'A string with a length between [1-64].'
                type: string
              integrationType:
                description: Represents an API method integration type.
                enum:
                  - AWS
                  - HTTP
                  - MOCK
                  - HTTP_PROXY
                  - AWS_PROXY
                type: string
              integrationUri:
                description: 'A string representation of a URI with a length between [1-2048].'
                type: string
              passthroughBehavior:
                description: Represents passthrough behavior for an integration response.
                enum:
                  - WHEN_NO_MATCH
                  - NEVER
                  - WHEN_NO_TEMPLATES
                type: string
              requestParameters:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
                description: |-
                  A key-value map specifying response parameters that are passed to the method
                   response from the backend. The key is a method response header parameter name and the
                   mapped value is an integration response header value, a static value enclosed within
                   a pair of single quotes, or a JSON expression from the integration response body. The
                   mapping key must match the pattern of method.response.header.{name}, where name is a
                   valid and unique header name. The mapped non-static value must match the pattern of
                   integration.response.header.{name} or integration.response.body.{JSON-expression},
                   where name is a valid and unique response header name and JSON-expression is a valid
                   JSON expression without the $ prefix.
                type: object
              requestTemplates:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
                description: |-
                  A mapping of identifier keys to templates. The value is an actual template script.
                   The key is typically a SelectionKey which is chosen based on evaluating
                   a selection expression.
                type: object
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              timeoutInMillis:
                description: 'An integer with a value between [50-29000].'
                maximum: 2147483647
                minimum: -2147483648
                type: integer
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateIntegrationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses':
    get:
      description: Gets the IntegrationResponses for an Integration.
      operationId: GetIntegrationResponses
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResponsesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an IntegrationResponses.
      operationId: CreateIntegrationResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions.
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
                type: string
              integrationResponseKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
              responseParameters:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
                description: |-
                  A key-value map specifying response parameters that are passed to the method
                   response from the backend. The key is a method response header parameter name and the
                   mapped value is an integration response header value, a static value enclosed within
                   a pair of single quotes, or a JSON expression from the integration response body. The
                   mapping key must match the pattern of method.response.header.{name}, where name is a
                   valid and unique header name. The mapped non-static value must match the pattern of
                   integration.response.header.{name} or integration.response.body.{JSON-expression},
                   where name is a valid and unique response header name and JSON-expression is a valid
                   JSON expression without the $ prefix.
                type: object
              responseTemplates:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
                description: |-
                  A mapping of identifier keys to templates. The value is an actual template script.
                   The key is typically a SelectionKey which is chosen based on evaluating
                   a selection expression.
                type: object
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
            required:
              - integrationResponseKey
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}':
    delete:
      description: Deletes an IntegrationResponses.
      operationId: DeleteIntegrationResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - description: The integration response ID.
          in: path
          name: integrationResponseId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets an IntegrationResponses.
      operationId: GetIntegrationResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - description: The integration response ID.
          in: path
          name: integrationResponseId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates an IntegrationResponses.
      operationId: UpdateIntegrationResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The integration ID.
          in: path
          name: integrationId
          required: true
          type: string
        - description: The integration response ID.
          in: path
          name: integrationResponseId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              contentHandlingStrategy:
                description: Specifies how to handle response payload content type conversions.
                enum:
                  - CONVERT_TO_BINARY
                  - CONVERT_TO_TEXT
                type: string
              integrationResponseKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
              responseParameters:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And512'
                description: |-
                  A key-value map specifying response parameters that are passed to the method
                   response from the backend. The key is a method response header parameter name and the
                   mapped value is an integration response header value, a static value enclosed within
                   a pair of single quotes, or a JSON expression from the integration response body. The
                   mapping key must match the pattern of method.response.header.{name}, where name is a
                   valid and unique header name. The mapped non-static value must match the pattern of
                   integration.response.header.{name} or integration.response.body.{JSON-expression},
                   where name is a valid and unique response header name and JSON-expression is a valid
                   JSON expression without the $ prefix.
                type: object
              responseTemplates:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And32K'
                description: |-
                  A mapping of identifier keys to templates. The value is an actual template script.
                   The key is typically a SelectionKey which is chosen based on evaluating
                   a selection expression.
                type: object
              templateSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateIntegrationResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/models':
    get:
      description: Gets the Models for an API.
      operationId: GetModels
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Model for an API.
      operationId: CreateModel
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              contentType:
                description: 'A string with a length between [1-256].'
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              name:
                description: 'A string with a length between [1-128].'
                type: string
              schema:
                description: 'A string with a length between [0-32768].'
                type: string
            required:
              - name
              - schema
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/models/{modelId}':
    delete:
      description: Deletes a Model.
      operationId: DeleteModel
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The model ID.
          in: path
          name: modelId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a Model.
      operationId: GetModel
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The model ID.
          in: path
          name: modelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a Model.
      operationId: UpdateModel
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The model ID.
          in: path
          name: modelId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              contentType:
                description: 'A string with a length between [1-256].'
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              name:
                description: 'A string with a length between [1-128].'
                type: string
              schema:
                description: 'A string with a length between [0-32768].'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateModelResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/models/{modelId}/template':
    get:
      description: Gets a model template.
      operationId: GetModelTemplate
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The model ID.
          in: path
          name: modelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelTemplateResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v2/apis/{apiId}/routes':
    get:
      description: Gets the Routes for an API.
      operationId: GetRoutes
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRoutesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Route for an API.
      operationId: CreateRoute
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              apiKeyRequired:
                description: Specifies whether an API key is required for the route.
                type: boolean
              authorizationScopes:
                description: |-
                  A list of authorization scopes configured on a route. The scopes are used with a
                   COGNITO_USER_POOLS authorizer to authorize the method invocation. The authorization
                   works by matching the route scopes against the scopes parsed from the access token in
                   the incoming request. The method invocation is authorized if any route scope matches
                   a claimed scope in the access token. Otherwise, the invocation is not authorized.
                   When the route scope is configured, the client must provide an access token instead
                   of an identity token for authorization purposes.
                items:
                  $ref: '#/definitions/StringWithLengthBetween1And64'
                type: array
              authorizationType:
                description: |-
                  The authorization type. Valid values are NONE for open access,
                   AWS_IAM for using AWS IAM permissions, and CUSTOM for
                   using a Lambda authorizer.
                enum:
                  - NONE
                  - AWS_IAM
                  - CUSTOM
                type: string
              authorizerId:
                description: The identifier.
                type: string
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              operationName:
                description: 'A string with a length between [1-64].'
                type: string
              requestModels:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
                description: The route models.
                type: object
              requestParameters:
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
                description: The route parameters.
                type: object
              routeKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
              routeResponseSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              target:
                description: 'A string with a length between [1-128].'
                type: string
            required:
              - routeKey
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateRouteResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/routes/{routeId}':
    delete:
      description: Deletes a Route.
      operationId: DeleteRoute
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a Route.
      operationId: GetRoute
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRouteResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a Route.
      operationId: UpdateRoute
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              apiKeyRequired:
                description: Specifies whether an API key is required for the route.
                type: boolean
              authorizationScopes:
                description: |-
                  A list of authorization scopes configured on a route. The scopes are used with a
                   COGNITO_USER_POOLS authorizer to authorize the method invocation. The authorization
                   works by matching the route scopes against the scopes parsed from the access token in
                   the incoming request. The method invocation is authorized if any route scope matches
                   a claimed scope in the access token. Otherwise, the invocation is not authorized.
                   When the route scope is configured, the client must provide an access token instead
                   of an identity token for authorization purposes.
                items:
                  $ref: '#/definitions/StringWithLengthBetween1And64'
                type: array
              authorizationType:
                description: |-
                  The authorization type. Valid values are NONE for open access,
                   AWS_IAM for using AWS IAM permissions, and CUSTOM for
                   using a Lambda authorizer.
                enum:
                  - NONE
                  - AWS_IAM
                  - CUSTOM
                type: string
              authorizerId:
                description: The identifier.
                type: string
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              operationName:
                description: 'A string with a length between [1-64].'
                type: string
              requestModels:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
                description: The route models.
                type: object
              requestParameters:
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
                description: The route parameters.
                type: object
              routeKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
              routeResponseSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              target:
                description: 'A string with a length between [1-128].'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRouteResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/routes/{routeId}/routeresponses':
    get:
      description: Gets the RouteResponses for a Route.
      operationId: GetRouteResponses
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRouteResponsesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a RouteResponse for a Route.
      operationId: CreateRouteResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              responseModels:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
                description: The route models.
                type: object
              responseParameters:
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
                description: The route parameters.
                type: object
              routeResponseKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
            required:
              - routeResponseKey
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateRouteResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}':
    delete:
      description: Deletes a RouteResponse.
      operationId: DeleteRouteResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
        - description: The route response ID.
          in: path
          name: routeResponseId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a RouteResponse.
      operationId: GetRouteResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
        - description: The route response ID.
          in: path
          name: routeResponseId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRouteResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a RouteResponse.
      operationId: UpdateRouteResponse
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The route ID.
          in: path
          name: routeId
          required: true
          type: string
        - description: The route response ID.
          in: path
          name: routeResponseId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              modelSelectionExpression:
                description: 'An expression used to extract information at runtime. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for more information.'
                type: string
              responseModels:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And128'
                description: The route models.
                type: object
              responseParameters:
                additionalProperties:
                  $ref: '#/definitions/ParameterConstraints'
                description: The route parameters.
                type: object
              routeResponseKey:
                description: |-
                  After evaulating a selection expression, the result is compared against one or
                   more selection keys to find a matching key. See <a href="https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions">Selection Expressions</a> for a list of expressions and each expression's
                   associated selection key type.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRouteResponseResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/stages':
    get:
      description: Gets the Stages for an API.
      operationId: GetStages
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetStagesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Stage for an API.
      operationId: CreateStage
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              accessLogSettings:
                description: Settings for logging access in a stage.
                properties:
                  DestinationArn:
                    $ref: '#/definitions/Arn'
                    description: The ARN of the CloudWatch Logs log group to receive access logs.
                  Format:
                    $ref: '#/definitions/StringWithLengthBetween1And1024'
                    description: |-
                      A single line format of the access logs of data, as specified by selected $context
                       variables. The format must include at least $context.requestId.
                type: object
              clientCertificateId:
                description: The identifier.
                type: string
              defaultRouteSettings:
                description: Represents a collection of route settings.
                properties:
                  DataTraceEnabled:
                    $ref: '#/definitions/__boolean'
                    description: |-
                      Specifies whether (true) or not (false) data trace
                       logging is enabled for this route. This property affects the log entries pushed to
                       Amazon CloudWatch Logs.
                  DetailedMetricsEnabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether detailed metrics are enabled.
                  LoggingLevel:
                    $ref: '#/definitions/LoggingLevel'
                    description: |-
                      Specifies the logging level for this route: DEBUG, INFO,
                       or WARN. This property affects the log entries pushed to Amazon
                       CloudWatch Logs.
                  ThrottlingBurstLimit:
                    $ref: '#/definitions/__integer'
                    description: Specifies the throttling burst limit.
                  ThrottlingRateLimit:
                    $ref: '#/definitions/__double'
                    description: Specifies the throttling rate limit.
                type: object
              deploymentId:
                description: The identifier.
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              routeSettings:
                additionalProperties:
                  $ref: '#/definitions/RouteSettings'
                description: The route settings map.
                type: object
              stageName:
                description: 'A string with a length between [1-128].'
                type: string
              stageVariables:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And2048'
                description: The stage variable map.
                type: object
              tags:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with aws:. The tag value can be up to 256 characters..'
                type: object
            required:
              - stageName
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateStageResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/apis/{apiId}/stages/{stageName}':
    delete:
      description: Deletes a Stage.
      operationId: DeleteStage
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The stage name.
          in: path
          name: stageName
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a Stage.
      operationId: GetStage
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The stage name.
          in: path
          name: stageName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetStageResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a Stage.
      operationId: UpdateStage
      parameters:
        - description: The API identifier.
          in: path
          name: apiId
          required: true
          type: string
        - description: The stage name.
          in: path
          name: stageName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              accessLogSettings:
                description: Settings for logging access in a stage.
                properties:
                  DestinationArn:
                    $ref: '#/definitions/Arn'
                    description: The ARN of the CloudWatch Logs log group to receive access logs.
                  Format:
                    $ref: '#/definitions/StringWithLengthBetween1And1024'
                    description: |-
                      A single line format of the access logs of data, as specified by selected $context
                       variables. The format must include at least $context.requestId.
                type: object
              clientCertificateId:
                description: The identifier.
                type: string
              defaultRouteSettings:
                description: Represents a collection of route settings.
                properties:
                  DataTraceEnabled:
                    $ref: '#/definitions/__boolean'
                    description: |-
                      Specifies whether (true) or not (false) data trace
                       logging is enabled for this route. This property affects the log entries pushed to
                       Amazon CloudWatch Logs.
                  DetailedMetricsEnabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether detailed metrics are enabled.
                  LoggingLevel:
                    $ref: '#/definitions/LoggingLevel'
                    description: |-
                      Specifies the logging level for this route: DEBUG, INFO,
                       or WARN. This property affects the log entries pushed to Amazon
                       CloudWatch Logs.
                  ThrottlingBurstLimit:
                    $ref: '#/definitions/__integer'
                    description: Specifies the throttling burst limit.
                  ThrottlingRateLimit:
                    $ref: '#/definitions/__double'
                    description: Specifies the throttling rate limit.
                type: object
              deploymentId:
                description: The identifier.
                type: string
              description:
                description: 'A string with a length between [0-1024].'
                type: string
              routeSettings:
                additionalProperties:
                  $ref: '#/definitions/RouteSettings'
                description: The route settings map.
                type: object
              stageVariables:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween0And2048'
                description: The stage variable map.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStageResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /v2/domainnames:
    get:
      description: Gets the domain names for an AWS account.
      operationId: GetDomainNames
      parameters:
        - description: The maximum number of elements to be returned for this resource.
          in: query
          name: maxResults
          required: false
          type: string
        - description: |-
            The next page of elements from this collection. Not valid for the last element of
             the collection.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainNamesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a domain name.
      operationId: CreateDomainName
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              domainName:
                description: 'A string with a length between [1-512].'
                type: string
              domainNameConfigurations:
                description: The domain name configurations.
                items:
                  $ref: '#/definitions/DomainNameConfiguration'
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/StringWithLengthBetween1And1600'
                description: 'The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with aws:. The tag value can be up to 256 characters..'
                type: object
            required:
              - domainName
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v2/domainnames/{domainName}':
    delete:
      description: Deletes a domain name.
      operationId: DeleteDomainName
      parameters:
        - description: The domain name.
          in: path
          name: domainName
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Gets a domain name.
      operationId: GetDomainName
      parameters:
        - description: The domain name.
          in: path
          name: domainName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates a domain name.
      operationId: UpdateDomainName
      parameters:
        - description: The domain name.
          in: path
          name: domainName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              domainNameConfigurations:
                description: The domain name configurations.
                items:
                  $ref: '#/definitions/DomainNameConfiguration'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainNameResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
[...]
