swagger: '2.0'
schemes:
  - https
host: keyserv.solutions
info:
  contact:
    x-twitter: theTechComp
  description: KeyServ API
  title: KeyServ Solutions
  version: 1.0.1
  x-apisguru-categories:
    - iot
  x-logo:
    url: 'https://twitter.com/theTechComp/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://keyserv.solutions/v1/s2.json'
      version: '2.0'
  x-providerName: keyserv.solutions
consumes:
  - application/json
produces:
  - application/json
paths:
  /ProductsApi/DeleteProduct:
    delete:
      operationId: ProductsApi_DeleteProduct
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: '#/definitions/ApiCredentials'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - ProductsApi
  /ProductsApi/PutProduct:
    patch:
      operationId: ProductsApi_PutProduct2
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: '#/definitions/ProductCreateModify'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - ProductsApi
    put:
      operationId: ProductsApi_PutProduct
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: '#/definitions/ProductCreateModify'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - ProductsApi
  /SubscriptionsApi/DeleteSubscription:
    delete:
      operationId: SubscriptionsApi_DeleteSubscription
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: '#/definitions/ApiCredentials'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - SubscriptionsApi
  /SubscriptionsApi/PutSubscription:
    patch:
      operationId: SubscriptionsApi_PutSubscription2
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCreateModify'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - SubscriptionsApi
    put:
      operationId: SubscriptionsApi_PutSubscription
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCreateModify'
          x-nullable: true
      responses:
        '204':
          description: ''
      tags:
        - SubscriptionsApi
  '/v1/KeysApi/Current/{serial}':
    get:
      operationId: KeysApi_Current
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CurrentKey'
          x-nullable: true
      tags:
        - KeysApi
  '/v1/KeysApi/Expiry/{serial}':
    get:
      operationId: KeysApi_Expiry
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Expiry'
          x-nullable: true
      tags:
        - KeysApi
  '/v1/KeysApi/Find/{serial}':
    get:
      operationId: KeysApi_Find
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/KeyView'
          x-nullable: true
      tags:
        - KeysApi
  /v1/ProductsApi/Find:
    post:
      operationId: ProductsApi_Find
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: '#/definitions/ApiCredentials'
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            type: file
          x-nullable: true
      tags:
        - ProductsApi
  /v1/ProductsApi/Save:
    post:
      operationId: ProductsApi_Save
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: '#/definitions/ProductCreateModify'
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ProductView'
          x-nullable: true
      tags:
        - ProductsApi
  /v1/SubscriptionsApi/Find:
    post:
      operationId: SubscriptionsApi_Find
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: '#/definitions/ApiCredentials'
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            type: file
          x-nullable: true
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Save:
    post:
      operationId: SubscriptionsApi_Save
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCreateModify'
          x-nullable: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/KeyView'
          x-nullable: true
      tags:
        - SubscriptionsApi
definitions:
  ApiCredentials:
    additionalProperties: false
    properties:
      key:
        format: guid
        type: string
      serial:
        format: guid
        type: string
    required:
      - key
    type: object
  CurrentKey:
    additionalProperties: false
    properties:
      current:
        type: boolean
    required:
      - current
    type: object
  Expiry:
    additionalProperties: false
    properties:
      expires:
        format: date-time
        type: string
      time:
        format: time-span
        type: string
    required:
      - expires
      - time
    type: object
  KeyView:
    additionalProperties: false
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        title: Callback On Modified
        type: boolean
      callbackUrl:
        format: uri
        title: Callback Url
        type: string
      commenced:
        format: date-time
        minLength: 1
        title: Start From
        type: string
      created:
        format: date-time
        type: string
      current:
        type: boolean
      custom: {}
      frequency:
        minLength: 1
        type: string
      name:
        type: string
      serial:
        format: guid
        type: string
      updated:
        format: date-time
        type: string
    required:
      - serial
      - current
      - commenced
      - callbackOnModify
      - created
      - frequency
      - action
    type: object
  ProductCreateModify:
    additionalProperties: false
    properties:
      custom: {}
      key:
        format: guid
        type: string
      name:
        type: string
      serial:
        format: guid
        type: string
    required:
      - key
    type: object
  ProductView:
    additionalProperties: false
    properties:
      created:
        format: date-time
        type: string
      custom: {}
      name:
        type: string
      serial:
        format: guid
        type: string
      subscriptions:
        items:
          $ref: '#/definitions/SubscriptionView'
        type: array
      updated:
        format: date-time
        type: string
    required:
      - serial
      - created
    type: object
  SubscriptionCreateModify:
    additionalProperties: false
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        type: boolean
      callbackUrl:
        format: uri
        title: Callback Url
        type: string
      custom: {}
      frequency:
        minLength: 1
        type: string
      key:
        format: guid
        type: string
      name:
        type: string
      serial:
        format: guid
        type: string
      startFrom:
        type: string
    required:
      - frequency
      - action
      - key
      - serial
    type: object
  SubscriptionView:
    additionalProperties: false
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        title: Callback On Modified
        type: boolean
      callbackUrl:
        format: uri
        title: Callback Url
        type: string
      commenced:
        format: date-time
        minLength: 1
        title: Start From
        type: string
      created:
        format: date-time
        type: string
      custom: {}
      frequency:
        minLength: 1
        type: string
      keys:
        items:
          $ref: '#/definitions/KeyView'
        type: array
      name:
        type: string
      updated:
        format: date-time
        type: string
    required:
      - commenced
      - callbackOnModify
      - created
      - frequency
      - action
    type: object
x-generator: NSwag v12.0.15.0 (NJsonSchema v9.13.22.0 (Newtonsoft.Json v11.0.0.0))
