swagger: '2.0'
schemes:
  - https
  - http
host: codecommit.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API along with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li> <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account.</p> </li> <li> <p> <a>CreateRepository</a>, which creates an AWS CodeCommit repository.</p> </li> <li> <p> <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository.</p> </li> <li> <p> <a>GetRepository</a>, which returns information about a specified repository.</p> </li> <li> <p> <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account.</p> </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository.</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul> <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository.</p> </li> <li> <p> <a>DeleteBranch</a>, which deletes the specified branch in a repository unless it is the default branch.</p> </li> <li> <p> <a>GetBranch</a>, which returns information about a specified branch.</p> </li> <li> <p> <a>ListBranches</a>, which lists all branches for a specified repository.</p> </li> <li> <p> <a>UpdateDefaultBranch</a>, which changes the default branch for a repository.</p> </li> </ul> <p>Files, by calling the following:</p> <ul> <li> <p> <a>DeleteFile</a>, which deletes the content of a specified file from a specified branch.</p> </li> <li> <p> <a>GetBlob</a>, which returns the base-64 encoded content of an individual Git blob object within a repository.</p> </li> <li> <p> <a>GetFile</a>, which returns the base-64 encoded content of a specified file.</p> </li> <li> <p> <a>GetFolder</a>, which returns the contents of a specified folder or directory.</p> </li> <li> <p> <a>PutFile</a>, which adds or modifies a single file in a specified repository and branch.</p> </li> </ul> <p>Commits, by calling the following:</p> <ul> <li> <p> <a>BatchGetCommits</a>, which returns information about one or more commits in a repository</p> </li> <li> <p> <a>CreateCommit</a>, which creates a commit for changes to a repository.</p> </li> <li> <p> <a>GetCommit</a>, which returns information about a commit, including commit messages and author and committer information.</p> </li> <li> <p> <a>GetDifferences</a>, which returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference).</p> </li> </ul> <p>Merges, by calling the following:</p> <ul> <li> <p> <a>BatchDescribeMergeConflicts</a>, which returns information about conflicts in a merge between commits in a repository.</p> </li> <li> <p> <a>CreateUnreferencedMergeCommit</a>, which creates an unreferenced commit between two branches or commits for the purpose of comparing them and identifying any potential conflicts.</p> </li> <li> <p> <a>DescribeMergeConflicts</a>, which returns information about merge conflicts between the base, source, and destination versions of a file in a potential merge.</p> </li> <li> <p> <a>GetMergeCommit</a>, which returns information about the merge between a source and destination commit. </p> </li> <li> <p> <a>GetMergeConflicts</a>, which returns information about merge conflicts between the source and destination branch in a pull request.</p> </li> <li> <p> <a>GetMergeOptions</a>, which returns information about the available merge options between two branches or commit specifiers.</p> </li> <li> <p> <a>MergeBranchesByFastForward</a>, which merges two branches using the fast-forward merge option.</p> </li> <li> <p> <a>MergeBranchesBySquash</a>, which merges two branches using the squash merge option.</p> </li> <li> <p> <a>MergeBranchesByThreeWay</a>, which merges two branches using the three-way merge option.</p> </li> </ul> <p>Pull requests, by calling the following:</p> <ul> <li> <p> <a>CreatePullRequest</a>, which creates a pull request in a specified repository.</p> </li> <li> <p> <a>DescribePullRequestEvents</a>, which returns information about one or more pull request events.</p> </li> <li> <p> <a>GetCommentsForPullRequest</a>, which returns information about comments on a specified pull request.</p> </li> <li> <p> <a>GetPullRequest</a>, which returns information about a specified pull request.</p> </li> <li> <p> <a>ListPullRequests</a>, which lists all pull requests for a repository.</p> </li> <li> <p> <a>MergePullRequestByFastForward</a>, which merges the source destination branch of a pull request into the specified destination branch for that pull request using the fast-forward merge option.</p> </li> <li> <p> <a>MergePullRequestBySquash</a>, which merges the source destination branch of a pull request into the specified destination branch for that pull request using the squash merge option.</p> </li> <li> <p> <a>MergePullRequestByThreeWay</a>. which merges the source destination branch of a pull request into the specified destination branch for that pull request using the three-way merge option.</p> </li> <li> <p> <a>PostCommentForPullRequest</a>, which posts a comment to a pull request at the specified line, file, or request.</p> </li> <li> <p> <a>UpdatePullRequestDescription</a>, which updates the description of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestStatus</a>, which updates the status of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestTitle</a>, which updates the title of a pull request.</p> </li> </ul> <p>Comments in a repository, by calling the following:</p> <ul> <li> <p> <a>DeleteCommentContent</a>, which deletes the content of a comment on a commit in a repository.</p> </li> <li> <p> <a>GetComment</a>, which returns information about a comment on a commit.</p> </li> <li> <p> <a>GetCommentsForComparedCommit</a>, which returns information about comments on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentReply</a>, which creates a reply to a comment.</p> </li> <li> <p> <a>UpdateComment</a>, which updates the content of a comment on a commit in a repository.</p> </li> </ul> <p>Tags used to tag resources in AWS CodeCommit (not Git tags), by calling the following:</p> <ul> <li> <p> <a>ListTagsForResource</a>, which gets information about AWS tags for a specified Amazon Resource Name (ARN) in AWS CodeCommit.</p> </li> <li> <p> <a>TagResource</a>, which adds or updates tags for a resource in AWS CodeCommit.</p> </li> <li> <p> <a>UntagResource</a>, which removes tags for a resource in AWS CodeCommit.</p> </li> </ul> <p>Triggers, by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository.</p> </li> <li> <p> <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers.</p> </li> <li> <p> <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target.</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href="https://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html">AWS CodeCommit User Guide</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS CodeCommit
  version: '2015-04-13'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecommit-2015-04-13.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: codecommit
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/codecommit/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=CodeCommit_20150413.BatchDescribeMergeConflicts':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about one or more merge conflicts in the attempted merge of two commit specifiers using the squash or three-way merge strategy.
      operationId: BatchDescribeMergeConflicts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDescribeMergeConflictsInput'
        - enum:
            - CodeCommit_20150413.BatchDescribeMergeConflicts
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDescribeMergeConflictsOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: MergeOptionRequiredException
          schema:
            $ref: '#/definitions/MergeOptionRequiredException'
        '484':
          description: InvalidMergeOptionException
          schema:
            $ref: '#/definitions/InvalidMergeOptionException'
        '485':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '486':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '487':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '488':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '489':
          description: TipsDivergenceExceededException
          schema:
            $ref: '#/definitions/TipsDivergenceExceededException'
        '490':
          description: InvalidMaxConflictFilesException
          schema:
            $ref: '#/definitions/InvalidMaxConflictFilesException'
        '491':
          description: InvalidMaxMergeHunksException
          schema:
            $ref: '#/definitions/InvalidMaxMergeHunksException'
        '492':
          description: InvalidConflictDetailLevelException
          schema:
            $ref: '#/definitions/InvalidConflictDetailLevelException'
        '493':
          description: InvalidConflictResolutionStrategyException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionStrategyException'
        '494':
          description: MaximumFileContentToLoadExceededException
          schema:
            $ref: '#/definitions/MaximumFileContentToLoadExceededException'
        '495':
          description: MaximumItemsToCompareExceededException
          schema:
            $ref: '#/definitions/MaximumItemsToCompareExceededException'
        '496':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '497':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '498':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '499':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '500':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.BatchGetCommits':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the contents of one or more commits in a repository.
      operationId: BatchGetCommits
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetCommitsInput'
        - enum:
            - CodeCommit_20150413.BatchGetCommits
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetCommitsOutput'
        '480':
          description: CommitIdsListRequiredException
          schema:
            $ref: '#/definitions/CommitIdsListRequiredException'
        '481':
          description: CommitIdsLimitExceededException
          schema:
            $ref: '#/definitions/CommitIdsLimitExceededException'
        '482':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '483':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '484':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '485':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '486':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '487':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '488':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '489':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.BatchGetRepositories':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns information about one or more repositories.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>
      operationId: BatchGetRepositories
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetRepositoriesInput'
        - enum:
            - CodeCommit_20150413.BatchGetRepositories
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetRepositoriesOutput'
        '480':
          description: RepositoryNamesRequiredException
          schema:
            $ref: '#/definitions/RepositoryNamesRequiredException'
        '481':
          description: MaximumRepositoryNamesExceededException
          schema:
            $ref: '#/definitions/MaximumRepositoryNamesExceededException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '484':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '485':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '486':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '487':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.CreateBranch':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new branch in a repository and points the branch to a commit.</p> <note> <p>Calling the create branch operation does not set a repository''s default branch. To do this, call the update default branch operation.</p> </note>'
      operationId: CreateBranch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateBranchInput'
        - enum:
            - CodeCommit_20150413.CreateBranch
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: BranchNameRequiredException
          schema:
            $ref: '#/definitions/BranchNameRequiredException'
        '484':
          description: BranchNameExistsException
          schema:
            $ref: '#/definitions/BranchNameExistsException'
        '485':
          description: InvalidBranchNameException
          schema:
            $ref: '#/definitions/InvalidBranchNameException'
        '486':
          description: CommitIdRequiredException
          schema:
            $ref: '#/definitions/CommitIdRequiredException'
        '487':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '488':
          description: InvalidCommitIdException
          schema:
            $ref: '#/definitions/InvalidCommitIdException'
        '489':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '490':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '491':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '492':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '493':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.CreateCommit':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a commit for a repository on the tip of a specified branch.
      operationId: CreateCommit
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateCommitInput'
        - enum:
            - CodeCommit_20150413.CreateCommit
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCommitOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: ParentCommitIdRequiredException
          schema:
            $ref: '#/definitions/ParentCommitIdRequiredException'
        '484':
          description: InvalidParentCommitIdException
          schema:
            $ref: '#/definitions/InvalidParentCommitIdException'
        '485':
          description: ParentCommitDoesNotExistException
          schema:
            $ref: '#/definitions/ParentCommitDoesNotExistException'
        '486':
          description: ParentCommitIdOutdatedException
          schema:
            $ref: '#/definitions/ParentCommitIdOutdatedException'
        '487':
          description: BranchNameRequiredException
          schema:
            $ref: '#/definitions/BranchNameRequiredException'
        '488':
          description: InvalidBranchNameException
          schema:
            $ref: '#/definitions/InvalidBranchNameException'
        '489':
          description: BranchDoesNotExistException
          schema:
            $ref: '#/definitions/BranchDoesNotExistException'
        '490':
          description: BranchNameIsTagNameException
          schema:
            $ref: '#/definitions/BranchNameIsTagNameException'
        '491':
          description: FileEntryRequiredException
          schema:
            $ref: '#/definitions/FileEntryRequiredException'
        '492':
          description: MaximumFileEntriesExceededException
          schema:
            $ref: '#/definitions/MaximumFileEntriesExceededException'
        '493':
          description: PutFileEntryConflictException
          schema:
            $ref: '#/definitions/PutFileEntryConflictException'
        '494':
          description: SourceFileOrContentRequiredException
          schema:
            $ref: '#/definitions/SourceFileOrContentRequiredException'
        '495':
          description: FileContentAndSourceFileSpecifiedException
          schema:
            $ref: '#/definitions/FileContentAndSourceFileSpecifiedException'
        '496':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '497':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '498':
          description: SamePathRequestException
          schema:
            $ref: '#/definitions/SamePathRequestException'
        '499':
          description: FileDoesNotExistException
          schema:
            $ref: '#/definitions/FileDoesNotExistException'
        '500':
          description: FileContentSizeLimitExceededException
          schema:
            $ref: '#/definitions/FileContentSizeLimitExceededException'
        '501':
          description: FolderContentSizeLimitExceededException
          schema:
            $ref: '#/definitions/FolderContentSizeLimitExceededException'
        '502':
          description: InvalidDeletionParameterException
          schema:
            $ref: '#/definitions/InvalidDeletionParameterException'
        '503':
          description: RestrictedSourceFileException
          schema:
            $ref: '#/definitions/RestrictedSourceFileException'
        '504':
          description: FileModeRequiredException
          schema:
            $ref: '#/definitions/FileModeRequiredException'
        '505':
          description: InvalidFileModeException
          schema:
            $ref: '#/definitions/InvalidFileModeException'
        '506':
          description: NameLengthExceededException
          schema:
            $ref: '#/definitions/NameLengthExceededException'
        '507':
          description: InvalidEmailException
          schema:
            $ref: '#/definitions/InvalidEmailException'
        '508':
          description: CommitMessageLengthExceededException
          schema:
            $ref: '#/definitions/CommitMessageLengthExceededException'
        '509':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '510':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '511':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '512':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '513':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
        '514':
          description: NoChangeException
          schema:
            $ref: '#/definitions/NoChangeException'
        '515':
          description: FileNameConflictsWithDirectoryNameException
          schema:
            $ref: '#/definitions/FileNameConflictsWithDirectoryNameException'
        '516':
          description: DirectoryNameConflictsWithFileNameException
          schema:
            $ref: '#/definitions/DirectoryNameConflictsWithFileNameException'
        '517':
          description: FilePathConflictsWithSubmodulePathException
          schema:
            $ref: '#/definitions/FilePathConflictsWithSubmodulePathException'
  '/#X-Amz-Target=CodeCommit_20150413.CreatePullRequest':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a pull request in the specified repository.
      operationId: CreatePullRequest
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePullRequestInput'
        - enum:
            - CodeCommit_20150413.CreatePullRequest
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePullRequestOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '484':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '485':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '486':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '487':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
        '488':
          description: ClientRequestTokenRequiredException
          schema:
            $ref: '#/definitions/ClientRequestTokenRequiredException'
        '489':
          description: InvalidClientRequestTokenException
          schema:
            $ref: '#/definitions/InvalidClientRequestTokenException'
        '490':
          description: IdempotencyParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotencyParameterMismatchException'
        '491':
          description: ReferenceNameRequiredException
          schema:
            $ref: '#/definitions/ReferenceNameRequiredException'
        '492':
          description: InvalidReferenceNameException
          schema:
            $ref: '#/definitions/InvalidReferenceNameException'
        '493':
          description: ReferenceDoesNotExistException
          schema:
            $ref: '#/definitions/ReferenceDoesNotExistException'
        '494':
          description: ReferenceTypeNotSupportedException
          schema:
            $ref: '#/definitions/ReferenceTypeNotSupportedException'
        '495':
          description: TitleRequiredException
          schema:
            $ref: '#/definitions/TitleRequiredException'
        '496':
          description: InvalidTitleException
          schema:
            $ref: '#/definitions/InvalidTitleException'
        '497':
          description: InvalidDescriptionException
          schema:
            $ref: '#/definitions/InvalidDescriptionException'
        '498':
          description: TargetsRequiredException
          schema:
            $ref: '#/definitions/TargetsRequiredException'
        '499':
          description: InvalidTargetsException
          schema:
            $ref: '#/definitions/InvalidTargetsException'
        '500':
          description: TargetRequiredException
          schema:
            $ref: '#/definitions/TargetRequiredException'
        '501':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
        '502':
          description: MultipleRepositoriesInPullRequestException
          schema:
            $ref: '#/definitions/MultipleRepositoriesInPullRequestException'
        '503':
          description: MaximumOpenPullRequestsExceededException
          schema:
            $ref: '#/definitions/MaximumOpenPullRequestsExceededException'
        '504':
          description: SourceAndDestinationAreSameException
          schema:
            $ref: '#/definitions/SourceAndDestinationAreSameException'
  '/#X-Amz-Target=CodeCommit_20150413.CreateRepository':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new, empty repository.'
      operationId: CreateRepository
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRepositoryInput'
        - enum:
            - CodeCommit_20150413.CreateRepository
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRepositoryOutput'
        '480':
          description: RepositoryNameExistsException
          schema:
            $ref: '#/definitions/RepositoryNameExistsException'
        '481':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: InvalidRepositoryDescriptionException
          schema:
            $ref: '#/definitions/InvalidRepositoryDescriptionException'
        '484':
          description: RepositoryLimitExceededException
          schema:
            $ref: '#/definitions/RepositoryLimitExceededException'
        '485':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '486':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '487':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '488':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '489':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
        '490':
          description: InvalidTagsMapException
          schema:
            $ref: '#/definitions/InvalidTagsMapException'
        '491':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '492':
          description: InvalidSystemTagUsageException
          schema:
            $ref: '#/definitions/InvalidSystemTagUsageException'
        '493':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
  '/#X-Amz-Target=CodeCommit_20150413.CreateUnreferencedMergeCommit':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an unreferenced commit that represents the result of merging two branches using a specified merge strategy. This can help you determine the outcome of a potential merge. This API cannot be used with the fast-forward merge strategy, as that strategy does not create a merge commit.</p> <note> <p>This unreferenced merge commit can only be accessed using the GetCommit API or through git commands such as git fetch. To retrieve this commit, you must specify its commit ID or otherwise reference it.</p> </note>'
      operationId: CreateUnreferencedMergeCommit
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateUnreferencedMergeCommitInput'
        - enum:
            - CodeCommit_20150413.CreateUnreferencedMergeCommit
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUnreferencedMergeCommitOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: TipsDivergenceExceededException
          schema:
            $ref: '#/definitions/TipsDivergenceExceededException'
        '484':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '485':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '486':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '487':
          description: MergeOptionRequiredException
          schema:
            $ref: '#/definitions/MergeOptionRequiredException'
        '488':
          description: InvalidMergeOptionException
          schema:
            $ref: '#/definitions/InvalidMergeOptionException'
        '489':
          description: InvalidConflictDetailLevelException
          schema:
            $ref: '#/definitions/InvalidConflictDetailLevelException'
        '490':
          description: InvalidConflictResolutionStrategyException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionStrategyException'
        '491':
          description: InvalidConflictResolutionException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionException'
        '492':
          description: ManualMergeRequiredException
          schema:
            $ref: '#/definitions/ManualMergeRequiredException'
        '493':
          description: MaximumConflictResolutionEntriesExceededException
          schema:
            $ref: '#/definitions/MaximumConflictResolutionEntriesExceededException'
        '494':
          description: MultipleConflictResolutionEntriesException
          schema:
            $ref: '#/definitions/MultipleConflictResolutionEntriesException'
        '495':
          description: ReplacementTypeRequiredException
          schema:
            $ref: '#/definitions/ReplacementTypeRequiredException'
        '496':
          description: InvalidReplacementTypeException
          schema:
            $ref: '#/definitions/InvalidReplacementTypeException'
        '497':
          description: ReplacementContentRequiredException
          schema:
            $ref: '#/definitions/ReplacementContentRequiredException'
        '498':
          description: InvalidReplacementContentException
          schema:
            $ref: '#/definitions/InvalidReplacementContentException'
        '499':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '500':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '501':
          description: FileContentSizeLimitExceededException
          schema:
            $ref: '#/definitions/FileContentSizeLimitExceededException'
        '502':
          description: FolderContentSizeLimitExceededException
          schema:
            $ref: '#/definitions/FolderContentSizeLimitExceededException'
        '503':
          description: MaximumFileContentToLoadExceededException
          schema:
            $ref: '#/definitions/MaximumFileContentToLoadExceededException'
        '504':
          description: MaximumItemsToCompareExceededException
          schema:
            $ref: '#/definitions/MaximumItemsToCompareExceededException'
        '505':
          description: ConcurrentReferenceUpdateException
          schema:
            $ref: '#/definitions/ConcurrentReferenceUpdateException'
        '506':
          description: FileModeRequiredException
          schema:
            $ref: '#/definitions/FileModeRequiredException'
        '507':
          description: InvalidFileModeException
          schema:
            $ref: '#/definitions/InvalidFileModeException'
        '508':
          description: NameLengthExceededException
          schema:
            $ref: '#/definitions/NameLengthExceededException'
        '509':
          description: InvalidEmailException
          schema:
            $ref: '#/definitions/InvalidEmailException'
        '510':
          description: CommitMessageLengthExceededException
          schema:
            $ref: '#/definitions/CommitMessageLengthExceededException'
        '511':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '512':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '513':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '514':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '515':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.DeleteBranch':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a branch from a repository, unless that branch is the default branch for the repository. '
      operationId: DeleteBranch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBranchInput'
        - enum:
            - CodeCommit_20150413.DeleteBranch
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBranchOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: BranchNameRequiredException
          schema:
            $ref: '#/definitions/BranchNameRequiredException'
        '484':
          description: InvalidBranchNameException
          schema:
            $ref: '#/definitions/InvalidBranchNameException'
        '485':
          description: DefaultBranchCannotBeDeletedException
          schema:
            $ref: '#/definitions/DefaultBranchCannotBeDeletedException'
        '486':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '487':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '488':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '489':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '490':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.DeleteCommentContent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the content of a comment made on a change, file, or commit in a repository.'
      operationId: DeleteCommentContent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCommentContentInput'
        - enum:
            - CodeCommit_20150413.DeleteCommentContent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCommentContentOutput'
        '480':
          description: CommentDoesNotExistException
          schema:
            $ref: '#/definitions/CommentDoesNotExistException'
        '481':
          description: CommentIdRequiredException
          schema:
            $ref: '#/definitions/CommentIdRequiredException'
        '482':
          description: InvalidCommentIdException
          schema:
            $ref: '#/definitions/InvalidCommentIdException'
        '483':
          description: CommentDeletedException
          schema:
            $ref: '#/definitions/CommentDeletedException'
  '/#X-Amz-Target=CodeCommit_20150413.DeleteFile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a specified file from a specified branch. A commit is created on the branch that contains the revision. The file will still exist in the commits prior to the commit that contains the deletion.
      operationId: DeleteFile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteFileInput'
        - enum:
            - CodeCommit_20150413.DeleteFile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFileOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: ParentCommitIdRequiredException
          schema:
            $ref: '#/definitions/ParentCommitIdRequiredException'
        '484':
          description: InvalidParentCommitIdException
          schema:
            $ref: '#/definitions/InvalidParentCommitIdException'
        '485':
          description: ParentCommitDoesNotExistException
          schema:
            $ref: '#/definitions/ParentCommitDoesNotExistException'
        '486':
          description: ParentCommitIdOutdatedException
          schema:
            $ref: '#/definitions/ParentCommitIdOutdatedException'
        '487':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '488':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '489':
          description: FileDoesNotExistException
          schema:
            $ref: '#/definitions/FileDoesNotExistException'
        '490':
          description: BranchNameRequiredException
          schema:
            $ref: '#/definitions/BranchNameRequiredException'
        '491':
          description: InvalidBranchNameException
          schema:
            $ref: '#/definitions/InvalidBranchNameException'
        '492':
          description: BranchDoesNotExistException
          schema:
            $ref: '#/definitions/BranchDoesNotExistException'
        '493':
          description: BranchNameIsTagNameException
          schema:
            $ref: '#/definitions/BranchNameIsTagNameException'
        '494':
          description: NameLengthExceededException
          schema:
            $ref: '#/definitions/NameLengthExceededException'
        '495':
          description: InvalidEmailException
          schema:
            $ref: '#/definitions/InvalidEmailException'
        '496':
          description: CommitMessageLengthExceededException
          schema:
            $ref: '#/definitions/CommitMessageLengthExceededException'
        '497':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '498':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '499':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '500':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '501':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.DeleteRepository':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a repository. If a specified repository was already deleted, a null repository ID will be returned.</p> <important> <p>Deleting a repository also deletes all associated objects and metadata. After a repository is deleted, all future push calls to the deleted repository will fail.</p> </important>'
      operationId: DeleteRepository
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRepositoryInput'
        - enum:
            - CodeCommit_20150413.DeleteRepository
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRepositoryOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '483':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '484':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '485':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '486':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.DescribeMergeConflicts':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about one or more merge conflicts in the attempted merge of two commit specifiers using the squash or three-way merge strategy. If the merge option for the attempted merge is specified as FAST_FORWARD_MERGE, an exception will be thrown.'
      operationId: DescribeMergeConflicts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMergeConflictsInput'
        - description: Pagination limit
          in: query
          name: maxMergeHunks
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.DescribeMergeConflicts
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMergeConflictsOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: MergeOptionRequiredException
          schema:
            $ref: '#/definitions/MergeOptionRequiredException'
        '484':
          description: InvalidMergeOptionException
          schema:
            $ref: '#/definitions/InvalidMergeOptionException'
        '485':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '486':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '487':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '488':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '489':
          description: TipsDivergenceExceededException
          schema:
            $ref: '#/definitions/TipsDivergenceExceededException'
        '490':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '491':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '492':
          description: FileDoesNotExistException
          schema:
            $ref: '#/definitions/FileDoesNotExistException'
        '493':
          description: InvalidMaxMergeHunksException
          schema:
            $ref: '#/definitions/InvalidMaxMergeHunksException'
        '494':
          description: InvalidConflictDetailLevelException
          schema:
            $ref: '#/definitions/InvalidConflictDetailLevelException'
        '495':
          description: InvalidConflictResolutionStrategyException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionStrategyException'
        '496':
          description: MaximumFileContentToLoadExceededException
          schema:
            $ref: '#/definitions/MaximumFileContentToLoadExceededException'
        '497':
          description: MaximumItemsToCompareExceededException
          schema:
            $ref: '#/definitions/MaximumItemsToCompareExceededException'
        '498':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '499':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '500':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '501':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '502':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.DescribePullRequestEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about one or more pull request events.
      operationId: DescribePullRequestEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePullRequestEventsInput'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.DescribePullRequestEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePullRequestEventsOutput'
        '480':
          description: PullRequestDoesNotExistException
          schema:
            $ref: '#/definitions/PullRequestDoesNotExistException'
        '481':
          description: InvalidPullRequestIdException
          schema:
            $ref: '#/definitions/InvalidPullRequestIdException'
        '482':
          description: PullRequestIdRequiredException
          schema:
            $ref: '#/definitions/PullRequestIdRequiredException'
        '483':
          description: InvalidPullRequestEventTypeException
          schema:
            $ref: '#/definitions/InvalidPullRequestEventTypeException'
        '484':
          description: InvalidActorArnException
          schema:
            $ref: '#/definitions/InvalidActorArnException'
        '485':
          description: ActorDoesNotExistException
          schema:
            $ref: '#/definitions/ActorDoesNotExistException'
        '486':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '487':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '488':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '489':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '490':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '491':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '492':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetBlob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the base-64 encoded content of an individual blob within a repository.
      operationId: GetBlob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetBlobInput'
        - enum:
            - CodeCommit_20150413.GetBlob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBlobOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: BlobIdRequiredException
          schema:
            $ref: '#/definitions/BlobIdRequiredException'
        '484':
          description: InvalidBlobIdException
          schema:
            $ref: '#/definitions/InvalidBlobIdException'
        '485':
          description: BlobIdDoesNotExistException
          schema:
            $ref: '#/definitions/BlobIdDoesNotExistException'
        '486':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '487':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '488':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '489':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '490':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
        '491':
          description: FileTooLargeException
          schema:
            $ref: '#/definitions/FileTooLargeException'
  '/#X-Amz-Target=CodeCommit_20150413.GetBranch':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about a repository branch, including its name and the last commit ID.'
      operationId: GetBranch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetBranchInput'
        - enum:
            - CodeCommit_20150413.GetBranch
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBranchOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: BranchNameRequiredException
          schema:
            $ref: '#/definitions/BranchNameRequiredException'
        '484':
          description: InvalidBranchNameException
          schema:
            $ref: '#/definitions/InvalidBranchNameException'
        '485':
          description: BranchDoesNotExistException
          schema:
            $ref: '#/definitions/BranchDoesNotExistException'
        '486':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '487':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '488':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '489':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '490':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetComment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the content of a comment made on a change, file, or commit in a repository.'
      operationId: GetComment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCommentInput'
        - enum:
            - CodeCommit_20150413.GetComment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCommentOutput'
        '480':
          description: CommentDoesNotExistException
          schema:
            $ref: '#/definitions/CommentDoesNotExistException'
        '481':
          description: CommentIdRequiredException
          schema:
            $ref: '#/definitions/CommentIdRequiredException'
        '482':
          description: InvalidCommentIdException
          schema:
            $ref: '#/definitions/InvalidCommentIdException'
        '483':
          description: CommentDeletedException
          schema:
            $ref: '#/definitions/CommentDeletedException'
  '/#X-Amz-Target=CodeCommit_20150413.GetCommentsForComparedCommit':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about comments made on the comparison between two commits.
      operationId: GetCommentsForComparedCommit
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCommentsForComparedCommitInput'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.GetCommentsForComparedCommit
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCommentsForComparedCommitOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: CommitIdRequiredException
          schema:
            $ref: '#/definitions/CommitIdRequiredException'
        '484':
          description: InvalidCommitIdException
          schema:
            $ref: '#/definitions/InvalidCommitIdException'
        '485':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '486':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '487':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '488':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '489':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '490':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '491':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '492':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetCommentsForPullRequest':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns comments made on a pull request.
      operationId: GetCommentsForPullRequest
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCommentsForPullRequestInput'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.GetCommentsForPullRequest
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCommentsForPullRequestOutput'
        '480':
          description: PullRequestIdRequiredException
          schema:
            $ref: '#/definitions/PullRequestIdRequiredException'
        '481':
          description: PullRequestDoesNotExistException
          schema:
            $ref: '#/definitions/PullRequestDoesNotExistException'
        '482':
          description: InvalidPullRequestIdException
          schema:
            $ref: '#/definitions/InvalidPullRequestIdException'
        '483':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '484':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '485':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '486':
          description: CommitIdRequiredException
          schema:
            $ref: '#/definitions/CommitIdRequiredException'
        '487':
          description: InvalidCommitIdException
          schema:
            $ref: '#/definitions/InvalidCommitIdException'
        '488':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '489':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '490':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '491':
          description: RepositoryNotAssociatedWithPullRequestException
          schema:
            $ref: '#/definitions/RepositoryNotAssociatedWithPullRequestException'
        '492':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '493':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '494':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '495':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '496':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetCommit':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about a commit, including commit message and committer information.'
      operationId: GetCommit
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCommitInput'
        - enum:
            - CodeCommit_20150413.GetCommit
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCommitOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: CommitIdRequiredException
          schema:
            $ref: '#/definitions/CommitIdRequiredException'
        '484':
          description: InvalidCommitIdException
          schema:
            $ref: '#/definitions/InvalidCommitIdException'
        '485':
          description: CommitIdDoesNotExistException
          schema:
            $ref: '#/definitions/CommitIdDoesNotExistException'
        '486':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '487':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '488':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '489':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '490':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetDifferences':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference). Results can be limited to a specified path.'
      operationId: GetDifferences
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDifferencesInput'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.GetDifferences
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDifferencesOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '482':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '483':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '484':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '485':
          description: InvalidCommitIdException
          schema:
            $ref: '#/definitions/InvalidCommitIdException'
        '486':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '487':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '488':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '489':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '490':
          description: PathDoesNotExistException
          schema:
            $ref: '#/definitions/PathDoesNotExistException'
        '491':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '492':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '493':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '494':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '495':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetFile':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the base-64 encoded contents of a specified file and its metadata.
      operationId: GetFile
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetFileInput'
        - enum:
            - CodeCommit_20150413.GetFile
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFileOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '484':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '485':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '486':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '487':
          description: FileDoesNotExistException
          schema:
            $ref: '#/definitions/FileDoesNotExistException'
        '488':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '489':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '490':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '491':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '492':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
        '493':
          description: FileTooLargeException
          schema:
            $ref: '#/definitions/FileTooLargeException'
  '/#X-Amz-Target=CodeCommit_20150413.GetFolder':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the contents of a specified folder in a repository.
      operationId: GetFolder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetFolderInput'
        - enum:
            - CodeCommit_20150413.GetFolder
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFolderOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '484':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '485':
          description: PathRequiredException
          schema:
            $ref: '#/definitions/PathRequiredException'
        '486':
          description: InvalidPathException
          schema:
            $ref: '#/definitions/InvalidPathException'
        '487':
          description: FolderDoesNotExistException
          schema:
            $ref: '#/definitions/FolderDoesNotExistException'
        '488':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '489':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '490':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '491':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '492':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetMergeCommit':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about a specified merge commit.
      operationId: GetMergeCommit
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetMergeCommitInput'
        - enum:
            - CodeCommit_20150413.GetMergeCommit
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMergeCommitOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '484':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '485':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '486':
          description: InvalidConflictDetailLevelException
          schema:
            $ref: '#/definitions/InvalidConflictDetailLevelException'
        '487':
          description: InvalidConflictResolutionStrategyException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionStrategyException'
        '488':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '489':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '490':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '491':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '492':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetMergeConflicts':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about merge conflicts between the before and after commit IDs for a pull request in a repository.
      operationId: GetMergeConflicts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetMergeConflictsInput'
        - description: Pagination limit
          in: query
          name: maxConflictFiles
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - CodeCommit_20150413.GetMergeConflicts
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMergeConflictsOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: MergeOptionRequiredException
          schema:
            $ref: '#/definitions/MergeOptionRequiredException'
        '484':
          description: InvalidMergeOptionException
          schema:
            $ref: '#/definitions/InvalidMergeOptionException'
        '485':
          description: InvalidContinuationTokenException
          schema:
            $ref: '#/definitions/InvalidContinuationTokenException'
        '486':
          description: CommitRequiredException
          schema:
            $ref: '#/definitions/CommitRequiredException'
        '487':
          description: CommitDoesNotExistException
          schema:
            $ref: '#/definitions/CommitDoesNotExistException'
        '488':
          description: InvalidCommitException
          schema:
            $ref: '#/definitions/InvalidCommitException'
        '489':
          description: TipsDivergenceExceededException
          schema:
            $ref: '#/definitions/TipsDivergenceExceededException'
        '490':
          description: InvalidMaxConflictFilesException
          schema:
            $ref: '#/definitions/InvalidMaxConflictFilesException'
        '491':
          description: InvalidConflictDetailLevelException
          schema:
            $ref: '#/definitions/InvalidConflictDetailLevelException'
        '492':
          description: InvalidDestinationCommitSpecifierException
          schema:
            $ref: '#/definitions/InvalidDestinationCommitSpecifierException'
        '493':
          description: InvalidSourceCommitSpecifierException
          schema:
            $ref: '#/definitions/InvalidSourceCommitSpecifierException'
        '494':
          description: InvalidConflictResolutionStrategyException
          schema:
            $ref: '#/definitions/InvalidConflictResolutionStrategyException'
        '495':
          description: MaximumFileContentToLoadExceededException
          schema:
            $ref: '#/definitions/MaximumFileContentToLoadExceededException'
        '496':
          description: MaximumItemsToCompareExceededException
          schema:
            $ref: '#/definitions/MaximumItemsToCompareExceededException'
        '497':
          description: EncryptionIntegrityChecksFailedException
          schema:
            $ref: '#/definitions/EncryptionIntegrityChecksFailedException'
        '498':
          description: EncryptionKeyAccessDeniedException
          schema:
            $ref: '#/definitions/EncryptionKeyAccessDeniedException'
        '499':
          description: EncryptionKeyDisabledException
          schema:
            $ref: '#/definitions/EncryptionKeyDisabledException'
        '500':
          description: EncryptionKeyNotFoundException
          schema:
            $ref: '#/definitions/EncryptionKeyNotFoundException'
        '501':
          description: EncryptionKeyUnavailableException
          schema:
            $ref: '#/definitions/EncryptionKeyUnavailableException'
  '/#X-Amz-Target=CodeCommit_20150413.GetMergeOptions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about the merge options available for merging two specified branches. For details about why a particular merge option is not available, use GetMergeConflicts or DescribeMergeConflicts.'
      operationId: GetMergeOptions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetMergeOptionsInput'
        - enum:
            - CodeCommit_20150413.GetMergeOptions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMergeOptionsOutput'
        '480':
          description: RepositoryNameRequiredException
          schema:
            $ref: '#/definitions/RepositoryNameRequiredException'
        '481':
          description: InvalidRepositoryNameException
          schema:
            $ref: '#/definitions/InvalidRepositoryNameException'
        '482':
          description: RepositoryDoesNotExistException
          schema:
            $ref: '#/definitions/RepositoryDoesNotExistException'
        '483':
          description: CommitRequiredException
          schema:
[...]
