swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: '2016-01-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/AzureBridge.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-AzureBridge
  x-tags:
    - Azure
    - Microsoft
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ActivationNameParameter:
    description: Name of the activation.
    in: path
    name: activationName
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    default: '2016-01-01'
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ProductNameParameter:
    description: Name of the product.
    in: path
    name: productName
    required: true
    type: string
    x-ms-parameter-location: method
  RegistrationNameParameter:
    description: Name of the registration.
    in: path
    name: registrationName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The resource group the resource is located under.
    in: path
    name: resourceGroup
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.AzureBridge.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OperationList'
      tags:
        - AzureBridge
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: '2016-05-01'
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                nextLink: ''
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Display:
    description: Contains the localized display information for this particular operation / action.
    properties:
      description:
        description: 'The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.'
        readOnly: true
        type: string
      operation:
        description: 'The localized, friendly name for the operation. Use the name as it will displayed to the user.'
        readOnly: true
        type: string
      provider:
        description: The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute."
        readOnly: true
        type: string
      resource:
        description: 'The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.'
        readOnly: true
        type: string
  GalleryIcons:
    description: Icons for the gallery items.
    properties:
      hero:
        description: The hero (815x290) icon relative path.
        type: string
      large:
        description: The large (115x115) icon relative path.
        type: string
      medium:
        description: The medium (90x90) icon relative path.
        type: string
      small:
        description: The small (40x40) icon relative path.
        type: string
      wide:
        description: The wide (255x115) icon relative path.
        type: string
    type: object
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: '#/definitions/Display'
        description: Contains the localized display information for this particular operation / action.
        readOnly: true
      name:
        description: The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.
        readOnly: true
        type: string
  OperationList:
    description: List of Operations
    properties:
      nextLink:
        description: URI to the next page of operations.
        readOnly: true
        type: string
      value:
        description: Array of operations
        items:
          $ref: '#/definitions/Operation'
        readOnly: true
        type: array
  ProductBase:
    description: Base object for all product classes.
    properties:
      billingPartNumber:
        description: Billing part number.
        type: string
      description:
        description: Description of the product.
        type: string
      displayName:
        description: Name displayed for the product.
        type: string
      galleryItemIdentity:
        description: Gallery item identity.
        type: string
      iconUris:
        $ref: '#/definitions/GalleryIcons'
        description: Information about gallery icons.
      offer:
        description: Offer name.
        type: string
      offerVersion:
        description: Offer version.
        type: string
      payloadLength:
        description: Size in bytes.
        format: int64
        type: integer
      productKind:
        description: 'The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.'
        type: string
      productProperties:
        $ref: '#/definitions/ProductProperties'
        description: the product properties. At the moment only VirtualMachineProductProperties is allowed.
      publisherDisplayName:
        description: Name of publisher.
        type: string
      publisherIdentifier:
        description: Publisher identifier.
        type: string
      sku:
        description: Product SKU.
        type: string
    type: object
  ProductLink:
    description: Link to a product.
    properties:
      displayName:
        description: Displayed name of product.
        type: string
      uri:
        description: URI to product.
        type: string
    type: object
  ProductLinks:
    description: List of product links.
    items:
      $ref: '#/definitions/ProductLink'
    type: array
  ProductProperties:
    description: Additional properties of the product
    properties:
      version:
        description: The version of the product
        type: string
    type: object
  ProvisioningState:
    description: The provisioning state of the resource.
    enum:
      - Stopped
      - Starting
      - Running
      - Stopping
      - Succeeded
      - Downloading
    type: string
    x-ms-enum:
      modelAsString: true
      name: ProvisioningState
  Resource:
    description: Base Resource Object
    properties:
      id:
        description: URI of the resource.
        readOnly: true
        type: string
      location:
        description: Location of the resource
        readOnly: true
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: List of key value pairs.
        readOnly: true
        type: object
      type:
        description: Type of resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
