swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /prediction/v1.6/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Lets you access a cloud hosted machine learning service that makes it easy to build smart apps
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Prediction
  version: v1.6
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - prediction
  x-logo:
    url: 'https://www.google.com/images/icons/feature/predictionapi-64.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/prediction/v1.6/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: prediction
externalDocs:
  url: 'https://developers.google.com/prediction/docs/developer-guide'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
      'https://www.googleapis.com/auth/prediction': Manage your data in the Google Prediction API
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
      'https://www.googleapis.com/auth/prediction': Manage your data in the Google Prediction API
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: hostedmodels
  - name: trainedmodels
paths:
  '/{project}/hostedmodels/{hostedModelName}/predict':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit input and request an output against a hosted model.
      operationId: prediction.hostedmodels.predict
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The name of a hosted model.
          in: path
          name: hostedModelName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Output'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - hostedmodels
  '/{project}/trainedmodels':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Train a Prediction API model.
      operationId: prediction.trainedmodels.insert
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Insert'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Insert2'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
  '/{project}/trainedmodels/list':
    get:
      description: List available models.
      operationId: prediction.trainedmodels.list
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Pagination token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/List'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/trainedmodels/{id}':
    delete:
      description: Delete a trained model.
      operationId: prediction.trainedmodels.delete
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The unique name for the predictive model.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
    get:
      description: Check training status of your model.
      operationId: prediction.trainedmodels.get
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The unique name for the predictive model.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Insert2'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Add new data to a trained model.
      operationId: prediction.trainedmodels.update
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The unique name for the predictive model.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Update'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Insert2'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
  '/{project}/trainedmodels/{id}/analyze':
    get:
      description: Get analysis of the model and the data the model was trained on.
      operationId: prediction.trainedmodels.analyze
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The unique name for the predictive model.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Analyze'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/trainedmodels/{id}/predict':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit model id and request a prediction.
      operationId: prediction.trainedmodels.predict
      parameters:
        - description: The project associated with the model.
          in: path
          name: project
          required: true
          type: string
        - description: The unique name for the predictive model.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Output'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/prediction'
          Oauth2c:
            - 'https://www.googleapis.com/auth/prediction'
      tags:
        - trainedmodels
definitions:
  Analyze:
    properties:
      dataDescription:
        description: Description of the data the model was trained on.
        properties:
          features:
            description: Description of the input features in the data set.
            items:
              properties:
                categorical:
                  description: Description of the categorical values of this feature.
                  properties:
                    count:
                      description: Number of categorical values for this feature in the data.
                      format: int64
                      type: string
                    values:
                      description: List of all the categories for this feature in the data set.
                      items:
                        properties:
                          count:
                            description: Number of times this feature had this value.
                            format: int64
                            type: string
                          value:
                            description: The category name.
                            type: string
                        type: object
                      type: array
                  type: object
                index:
                  description: The feature index.
                  format: int64
                  type: string
                numeric:
                  description: Description of the numeric values of this feature.
                  properties:
                    count:
                      description: Number of numeric values for this feature in the data set.
                      format: int64
                      type: string
                    mean:
                      description: Mean of the numeric values of this feature in the data set.
                      type: string
                    variance:
                      description: Variance of the numeric values of this feature in the data set.
                      type: string
                  type: object
                text:
                  description: Description of multiple-word text values of this feature.
                  properties:
                    count:
                      description: Number of multiple-word text values for this feature.
                      format: int64
                      type: string
                  type: object
              type: object
            type: array
          outputFeature:
            description: Description of the output value or label.
            properties:
              numeric:
                description: Description of the output values in the data set.
                properties:
                  count:
                    description: Number of numeric output values in the data set.
                    format: int64
                    type: string
                  mean:
                    description: Mean of the output values in the data set.
                    type: string
                  variance:
                    description: Variance of the output values in the data set.
                    type: string
                type: object
              text:
                description: Description of the output labels in the data set.
                items:
                  properties:
                    count:
                      description: Number of times the output label occurred in the data set.
                      format: int64
                      type: string
                    value:
                      description: The output label.
                      type: string
                  type: object
                type: array
            type: object
        type: object
      errors:
        description: List of errors with the data.
        items:
          additionalProperties:
            description: Error level followed by a detailed error message.
            type: string
          type: object
        type: array
      id:
        description: The unique name for the predictive model.
        type: string
      kind:
        default: 'prediction#analyze'
        description: What kind of resource this is.
        type: string
      modelDescription:
        description: Description of the model.
        properties:
          confusionMatrix:
            additionalProperties:
              additionalProperties:
                description: Average number of times an instance with correct class label modelDescription.confusionMatrix.(key) was wrongfully classified as this label.
                type: string
              description: Confusion matrix information for the true class label.
              type: object
            description: 'An output confusion matrix. This shows an estimate for how this model will do in predictions. This is first indexed by the true class label. For each true class label, this provides a pair {predicted_label, count}, where count is the estimated number of times the model will predict the predicted label given the true label. Will not output if more then 100 classes (Categorical models only).'
            type: object
          confusionMatrixRowTotals:
            additionalProperties:
              type: string
            description: A list of the confusion matrix row totals.
            type: object
          modelinfo:
            $ref: '#/definitions/Insert2'
            description: Basic information about the model.
        type: object
      selfLink:
        description: A URL to re-request this resource.
        type: string
    type: object
  Input:
    properties:
      input:
        description: Input to the model for a prediction.
        properties:
          csvInstance:
            description: 'A list of input features, these can be strings or doubles.'
            items: {}
            type: array
        type: object
    type: object
  Insert:
    properties:
      id:
        description: The unique name for the predictive model.
        type: string
      modelType:
        description: Type of predictive model (classification or regression).
        type: string
      sourceModel:
        description: The Id of the model to be copied over.
        type: string
      storageDataLocation:
        description: Google storage location of the training data file.
        type: string
      storagePMMLLocation:
        description: Google storage location of the preprocessing pmml file.
        type: string
      storagePMMLModelLocation:
        description: Google storage location of the pmml model file.
        type: string
      trainingInstances:
        description: Instances to train model on.
        items:
          properties:
            csvInstance:
              description: The input features for this instance.
              items: {}
              type: array
            output:
              description: The generic output value - could be regression or class label.
              type: string
          type: object
        type: array
      utility:
        description: 'A class weighting function, which allows the importance weights for class labels to be specified (Categorical models only).'
        items:
          additionalProperties:
            format: double
            type: number
          description: Class label (string).
          type: object
        type: array
    type: object
  Insert2:
    properties:
      created:
        description: Insert time of the model (as a RFC 3339 timestamp).
        format: date-time
        type: string
      id:
        description: The unique name for the predictive model.
        type: string
      kind:
        default: 'prediction#training'
        description: What kind of resource this is.
        type: string
      modelInfo:
        description: Model metadata.
        properties:
          classWeightedAccuracy:
            description: Estimated accuracy of model taking utility weights into account (Categorical models only).
            type: string
          classificationAccuracy:
            description: 'A number between 0.0 and 1.0, where 1.0 is 100% accurate. This is an estimate, based on the amount and quality of the training data, of the estimated prediction accuracy. You can use this is a guide to decide whether the results are accurate enough for your needs. This estimate will be more reliable if your real input data is similar to your training data (Categorical models only).'
            type: string
          meanSquaredError:
            description: An estimated mean squared error. The can be used to measure the quality of the predicted model (Regression models only).
            type: string
          modelType:
            description: Type of predictive model (CLASSIFICATION or REGRESSION).
            type: string
          numberInstances:
            description: Number of valid data instances used in the trained model.
            format: int64
            type: string
          numberLabels:
            description: Number of class labels in the trained model (Categorical models only).
            format: int64
            type: string
        type: object
      modelType:
        description: Type of predictive model (CLASSIFICATION or REGRESSION).
        type: string
      selfLink:
        description: A URL to re-request this resource.
        type: string
      storageDataLocation:
        description: Google storage location of the training data file.
        type: string
      storagePMMLLocation:
        description: Google storage location of the preprocessing pmml file.
        type: string
      storagePMMLModelLocation:
        description: Google storage location of the pmml model file.
        type: string
      trainingComplete:
        description: Training completion time (as a RFC 3339 timestamp).
        format: date-time
        type: string
      trainingStatus:
        description: 'The current status of the training job. This can be one of following: RUNNING; DONE; ERROR; ERROR: TRAINING JOB NOT FOUND'
        type: string
    type: object
  List:
    properties:
      items:
        description: List of models.
        items:
          $ref: '#/definitions/Insert2'
        type: array
      kind:
        default: 'prediction#list'
        description: What kind of resource this is.
        type: string
      nextPageToken:
        description: 'Pagination token to fetch the next page, if one exists.'
        type: string
      selfLink:
        description: A URL to re-request this resource.
        type: string
    type: object
  Output:
    properties:
      id:
        description: The unique name for the predictive model.
        type: string
      kind:
        default: 'prediction#output'
        description: What kind of resource this is.
        type: string
      outputLabel:
        description: The most likely class label (Categorical models only).
        type: string
      outputMulti:
        description: A list of class labels with their estimated probabilities (Categorical models only).
        items:
          properties:
            label:
              description: The class label.
              type: string
            score:
              description: The probability of the class label.
              type: string
          type: object
        type: array
      outputValue:
        description: The estimated regression value (Regression models only).
        type: string
      selfLink:
        description: A URL to re-request this resource.
        type: string
    type: object
  Update:
    properties:
      csvInstance:
        description: The input features for this instance.
        items: {}
        type: array
      output:
        description: The generic output value - could be regression or class label.
        type: string
    type: object
