swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /consumersurveys/v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Creates and conducts surveys, lists the surveys that an authenticated user owns, and retrieves survey results and information about specified surveys.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Consumer Surveys
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/consumersurveys/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: consumersurveys
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/consumersurveys': View and edit your surveys and results
      'https://www.googleapis.com/auth/consumersurveys.readonly': View the results for your surveys
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/consumersurveys': View and edit your surveys and results
      'https://www.googleapis.com/auth/consumersurveys.readonly': View the results for your surveys
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: mobileapppanels
  - name: results
  - name: surveys
paths:
  /mobileAppPanels:
    get:
      description: Lists the MobileAppPanels available to the authenticated user.
      operationId: consumersurveys.mobileapppanels.list
      parameters:
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: startIndex
          type: integer
        - in: query
          name: token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MobileAppPanelsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - mobileapppanels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/mobileAppPanels/{panelId}':
    get:
      description: Retrieves a MobileAppPanel that is available to the authenticated user.
      operationId: consumersurveys.mobileapppanels.get
      parameters:
        - description: External URL ID for the panel.
          in: path
          name: panelId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MobileAppPanel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - mobileapppanels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates a MobileAppPanel. Currently the only property that can be updated is the owners property.
      operationId: consumersurveys.mobileapppanels.update
      parameters:
        - description: External URL ID for the panel.
          in: path
          name: panelId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MobileAppPanel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MobileAppPanel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - mobileapppanels
  /surveys:
    get:
      description: Lists the surveys owned by the authenticated user.
      operationId: consumersurveys.surveys.list
      parameters:
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: startIndex
          type: integer
        - in: query
          name: token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a survey.
      operationId: consumersurveys.surveys.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Survey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{resourceId}/start':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Begins running a survey.
      operationId: consumersurveys.surveys.start
      parameters:
        - in: path
          name: resourceId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SurveysStartRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysStartResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{resourceId}/stop':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stops a running survey.
      operationId: consumersurveys.surveys.stop
      parameters:
        - in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysStopResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{surveyUrlId}':
    delete:
      description: Removes a survey from view in all user GET requests.
      operationId: consumersurveys.surveys.delete
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysDeleteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
    get:
      description: Retrieves information about the specified survey.
      operationId: consumersurveys.surveys.get
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates a survey. Currently the only property that can be updated is the owners property.
      operationId: consumersurveys.surveys.update
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Survey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{surveyUrlId}/results':
    get:
      description: Retrieves any survey results that have been produced so far. Results are formatted as an Excel file. You must add "?alt=media" to the URL as an argument to get results.
      operationId: consumersurveys.results.get
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ResultsGetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveyResults'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - results
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  FieldMask:
    properties:
      fields:
        items:
          $ref: '#/definitions/FieldMask'
        type: array
      id:
        format: int32
        type: integer
    type: object
  MobileAppPanel:
    properties:
      country:
        type: string
      isPublicPanel:
        type: boolean
      language:
        type: string
      mobileAppPanelId:
        type: string
      name:
        type: string
      owners:
        items:
          type: string
        type: array
    type: object
  MobileAppPanelsListResponse:
    properties:
      pageInfo:
        $ref: '#/definitions/PageInfo'
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
      resources:
        description: An individual predefined panel of Opinion Rewards mobile users.
        items:
          $ref: '#/definitions/MobileAppPanel'
        type: array
      tokenPagination:
        $ref: '#/definitions/TokenPagination'
    type: object
  PageInfo:
    properties:
      resultPerPage:
        format: int32
        type: integer
      startIndex:
        format: int32
        type: integer
      totalResults:
        format: int32
        type: integer
    type: object
  ResultsGetRequest:
    properties:
      resultMask:
        $ref: '#/definitions/ResultsMask'
    type: object
  ResultsMask:
    properties:
      fields:
        items:
          $ref: '#/definitions/FieldMask'
        type: array
      projection:
        type: string
    type: object
  Survey:
    properties:
      audience:
        $ref: '#/definitions/SurveyAudience'
      cost:
        $ref: '#/definitions/SurveyCost'
      customerData:
        format: byte
        type: string
      description:
        type: string
      owners:
        items:
          type: string
        type: array
      questions:
        items:
          $ref: '#/definitions/SurveyQuestion'
        type: array
      rejectionReason:
        $ref: '#/definitions/SurveyRejection'
      state:
        type: string
      surveyUrlId:
        type: string
      title:
        type: string
      wantedResponseCount:
        format: int32
        type: integer
    type: object
  SurveyAudience:
    properties:
      ages:
        items:
          type: string
        type: array
      country:
        type: string
      countrySubdivision:
        type: string
      gender:
        type: string
      languages:
        items:
          type: string
        type: array
      mobileAppPanelId:
        type: string
      populationSource:
        type: string
    type: object
  SurveyCost:
    properties:
      costPerResponseNanos:
        format: int64
        type: string
      currencyCode:
        type: string
      maxCostPerResponseNanos:
        format: int64
        type: string
      nanos:
        format: int64
        type: string
    type: object
  SurveyQuestion:
    properties:
      answerOrder:
        type: string
      answers:
        items:
          type: string
        type: array
      hasOther:
        type: boolean
      highValueLabel:
        type: string
      images:
        items:
          $ref: '#/definitions/SurveyQuestionImage'
        type: array
      lastAnswerPositionPinned:
        type: boolean
      lowValueLabel:
        type: string
      mustPickSuggestion:
        type: boolean
      numStars:
        type: string
      openTextPlaceholder:
        type: string
      openTextSuggestions:
        items:
          type: string
        type: array
      question:
        type: string
      sentimentText:
        type: string
      singleLineResponse:
        type: boolean
      thresholdAnswers:
        items:
          type: string
        type: array
      type:
        type: string
      unitOfMeasurementLabel:
        type: string
      videoId:
        type: string
    type: object
  SurveyQuestionImage:
    properties:
      altText:
        type: string
      data:
        format: byte
        type: string
      url:
        type: string
    type: object
  SurveyRejection:
    properties:
      explanation:
        type: string
      type:
        type: string
    type: object
  SurveyResults:
    properties:
      status:
        type: string
      surveyUrlId:
        type: string
    type: object
  SurveysDeleteResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
    type: object
  SurveysListResponse:
    properties:
      pageInfo:
        $ref: '#/definitions/PageInfo'
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
      resources:
        description: An individual survey resource.
        items:
          $ref: '#/definitions/Survey'
        type: array
      tokenPagination:
        $ref: '#/definitions/TokenPagination'
    type: object
  SurveysStartRequest:
    properties:
      maxCostPerResponseNanos:
        description: Threshold to start a survey automically if the quoted prices is less than or equal to this value. See Survey.Cost for more details.
        format: int64
        type: string
    type: object
  SurveysStartResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
    type: object
  SurveysStopResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
    type: object
  TokenPagination:
    properties:
      nextPageToken:
        type: string
      previousPageToken:
        type: string
    type: object
