swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /consumersurveys/v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Creates and conducts surveys, lists the surveys that an authenticated user owns, and retrieves survey results and information about specified surveys.'
  title: Consumer Surveys
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/consumersurveys/v2/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: consumersurveys
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/consumersurveys': View and edit your surveys and results
      'https://www.googleapis.com/auth/consumersurveys.readonly': View the results for your surveys
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: results
  - name: surveys
paths:
  /surveys:
    get:
      description: Lists the surveys owned by the authenticated user.
      operationId: consumersurveys.surveys.list
      parameters:
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: startIndex
          type: integer
        - in: query
          name: token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a survey.
      operationId: consumersurveys.surveys.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Survey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{resourceId}/start':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Begins running a survey.
      operationId: consumersurveys.surveys.start
      parameters:
        - in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysStartResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{resourceId}/stop':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stops a running survey.
      operationId: consumersurveys.surveys.stop
      parameters:
        - in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveysStopResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{surveyUrlId}':
    get:
      description: Retrieves information about the specified survey.
      operationId: consumersurveys.surveys.get
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates a survey. Currently the only property that can be updated is the owners property.
      operationId: consumersurveys.surveys.update
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Survey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Survey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - surveys
  '/surveys/{surveyUrlId}/results':
    get:
      description: Retrieves any survey results that have been produced so far. Results are formatted as an Excel file.
      operationId: consumersurveys.results.get
      parameters:
        - description: External URL ID for the survey.
          in: path
          name: surveyUrlId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ResultsGetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SurveyResults'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys'
        - Oauth2:
            - 'https://www.googleapis.com/auth/consumersurveys.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - results
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  FieldMask:
    properties:
      fields:
        items:
          $ref: '#/definitions/FieldMask'
        type: array
      id:
        format: int32
        type: integer
    type: object
  PageInfo:
    properties:
      resultPerPage:
        format: int32
        type: integer
      startIndex:
        format: int32
        type: integer
      totalResults:
        format: int32
        type: integer
    type: object
  ResultsGetRequest:
    properties:
      resultMask:
        $ref: '#/definitions/ResultsMask'
    type: object
  ResultsMask:
    properties:
      fields:
        items:
          $ref: '#/definitions/FieldMask'
        type: array
      projection:
        type: string
    type: object
  Survey:
    description: Representation of an individual survey object.
    properties:
      audience:
        $ref: '#/definitions/SurveyAudience'
        description: Targeting-criteria message containing demographic information
      cost:
        $ref: '#/definitions/SurveyCost'
        description: Cost to run the survey and collect the necessary number of responses.
      customerData:
        description: Additional information to store on behalf of the API consumer and associate with this question. This binary blob is treated as opaque. This field is limited to 64K bytes.
        format: byte
        type: string
      description:
        description: Text description of the survey.
        type: string
      owners:
        description: List of email addresses for survey owners. Must contain at least the address of the user making the API call.
        items:
          type: string
        type: array
      questions:
        description: List of questions defining the survey.
        items:
          $ref: '#/definitions/SurveyQuestion'
        type: array
      state:
        description: 'State that the survey is in. Can be modified to start, stop, or pause survey.'
        type: string
      surveyUrlId:
        description: 'Unique survey ID, that is viewable in the URL of the Survey Creator UI'
        type: string
      title:
        description: Optional name that will be given to the survey.
        type: string
      wantedResponseCount:
        description: Number of responses desired for the survey.
        format: int32
        type: integer
    type: object
  SurveyAudience:
    description: Specifications for the target audience of a survey run through the API.
    properties:
      ages:
        description: 'Optional list of age buckets to target. Supported age buckets are: [''18-24'', ''25-34'', ''35-44'', ''45-54'', ''55-64'', ''65+'']'
        items:
          type: string
        type: array
      country:
        description: 'Required country code that surveys should be targeted to. Accepts standard ISO 3166-1 2 character language codes. For instance, ''US'' for the United States, and ''GB'' for the United Kingdom.'
        type: string
      countrySubdivision:
        description: 'Country subdivision (states/provinces/etc) that surveys should be targeted to. For all countries except GB, ISO-3166-2 subdivision code is required (eg. ''US-OH'' for Ohio, United States). For GB, NUTS 1 statistical region codes for the United Kingdom is required (eg. ''UK-UKC'' for North East England).'
        type: string
      gender:
        description: Optional gender to target.
        type: string
      languages:
        description: 'Language code that surveys should be targeted to. For instance, ''en-US''. Surveys may target bilingual users by specifying a list of language codes (for example, ''de'' and ''en-US''). In that case, all languages will be used for targeting users but the survey content (which is displayed) must match the first language listed. Accepts standard BCP47 language codes. See specification.'
        items:
          type: string
        type: array
      mobileAppPanelId:
        description: Key for predefined panel that causes survey to be sent to a predefined set of Opinion Rewards App users. PopulationSource must be set to ANDROID_APP_PANEL to use this field.
        type: string
      populationSource:
        description: Online population source where the respondents are sampled from.
        type: string
    type: object
  SurveyCost:
    description: Message defining the cost to run a given survey through API.
    properties:
      currencyCode:
        description: Currency code that the cost is given in.
        type: string
      nanos:
        description: Cost of survey in nano units of the given currency.
        format: int64
        type: string
    type: object
  SurveyQuestion:
    description: Message defining the question specifications.
    properties:
      answerOrder:
        description: 'The randomization option for multiple choice and multi-select questions. If not specified, this option defaults to randomize.'
        type: string
      answers:
        description: Required list of answer options for a question.
        items:
          type: string
        type: array
      hasOther:
        description: 'Option to allow open-ended text box for Single Answer and Multiple Answer question types. This can be used with SINGLE_ANSWER, SINGLE_ANSWER_WITH_IMAGE, MULTIPLE_ANSWERS, and MULTIPLE_ANSWERS_WITH_IMAGE question types.'
        type: boolean
      highValueLabel:
        description: 'For rating questions, the text for the higher end of the scale, such as ''Best''. For numeric questions, a string representing a floating-point that is the maximum allowed number for a response.'
        type: string
      images:
        items:
          $ref: '#/definitions/SurveyQuestionImage'
        type: array
      lastAnswerPositionPinned:
        description: Currently only support pinning an answer option to the last position.
        type: boolean
      lowValueLabel:
        description: 'For rating questions, the text for the lower end of the scale, such as ''Worst''. For numeric questions, a string representing a floating-point that is the minimum allowed number for a response.'
        type: string
      mustPickSuggestion:
        description: Option to force the user to pick one of the open text suggestions. This requires that suggestions are provided for this question.
        type: boolean
      numStars:
        description: Number of stars to use for ratings questions.
        type: string
      openTextPlaceholder:
        description: Placeholder text for an open text question.
        type: string
      openTextSuggestions:
        description: A list of suggested answers for open text question auto-complete. This is only valid if single_line_response is true.
        items:
          type: string
        type: array
      question:
        description: Required question text shown to the respondent.
        type: string
      sentimentText:
        description: 'Used by the Rating Scale with Text question type. This text goes along with the question field that is presented to the respondent, and is the actual text that the respondent is asked to rate.'
        type: string
      singleLineResponse:
        description: Option to allow multiple line open text responses instead of a single line response. Note that we don't show auto-complete suggestions with multiple line responses.
        type: boolean
      thresholdAnswers:
        description: 'The threshold/screener answer options, which will screen a user into the rest of the survey. These will be a subset of the answer option strings.'
        items:
          type: string
        type: array
      type:
        description: 'Required field defining the question type. For details about configuring different type of questions, consult the question configuration guide.'
        type: string
      unitOfMeasurementLabel:
        description: 'Optional unit of measurement for display (for example: hours, people, miles).'
        type: string
      videoId:
        description: The YouTube video ID to be show in video questions.
        type: string
    type: object
  SurveyQuestionImage:
    description: Container object for image data and alt_text.
    properties:
      altText:
        description: The alt text property used in image tags is required for all images.
        type: string
      data:
        description: 'Inline jpeg, gif, tiff, bmp, or png image raw bytes for an image question types.'
        format: byte
        type: string
      url:
        description: The read-only URL for the hosted images.
        type: string
    type: object
  SurveyResults:
    description: Reference to the current results for a given survey.
    properties:
      status:
        description: Human readable string describing the status of the request.
        type: string
      surveyUrlId:
        description: External survey ID as viewable by survey owners in the editor view.
        type: string
    type: object
  SurveysListResponse:
    properties:
      pageInfo:
        $ref: '#/definitions/PageInfo'
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
      resources:
        description: An individual survey resource.
        items:
          $ref: '#/definitions/Survey'
        type: array
      tokenPagination:
        $ref: '#/definitions/TokenPagination'
    type: object
  SurveysStartResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
      resource:
        $ref: '#/definitions/Survey'
        description: Survey object containing the specification of the started Survey.
    type: object
  SurveysStopResponse:
    properties:
      requestId:
        description: Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.
        type: string
      resource:
        $ref: '#/definitions/Survey'
        description: Survey object containing the specification of the stopped Survey.
    type: object
  TokenPagination:
    properties:
      nextPageToken:
        type: string
      previousPageToken:
        type: string
    type: object
