swagger: '2.0'
schemes:
  - https
  - http
host: api.ecr.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Elastic Container Registry</fullname> <p>Amazon Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon EC2 Container Registry
  version: '2015-09-21'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ecr-2015-09-21.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: ecr
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ecr/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.BatchCheckLayerAvailability':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Check the availability of multiple image layers in a specified registry and repository.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: BatchCheckLayerAvailability
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchCheckLayerAvailabilityRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.BatchCheckLayerAvailability
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchCheckLayerAvailabilityResponse'
        '480':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.BatchDeleteImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a list of specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image''s tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image''s digest in your request.</p>'
      operationId: BatchDeleteImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDeleteImageRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.BatchDeleteImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteImageResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.BatchGetImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets detailed information for specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.
      operationId: BatchGetImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetImageRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.BatchGetImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetImageResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.CompleteLayerUpload':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: CompleteLayerUpload
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CompleteLayerUploadRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.CompleteLayerUpload
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteLayerUploadResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: UploadNotFoundException
          schema:
            $ref: '#/definitions/UploadNotFoundException'
        '484':
          description: InvalidLayerException
          schema:
            $ref: '#/definitions/InvalidLayerException'
        '485':
          description: LayerPartTooSmallException
          schema:
            $ref: '#/definitions/LayerPartTooSmallException'
        '486':
          description: LayerAlreadyExistsException
          schema:
            $ref: '#/definitions/LayerAlreadyExistsException'
        '487':
          description: EmptyUploadException
          schema:
            $ref: '#/definitions/EmptyUploadException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.CreateRepository':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an image repository.
      operationId: CreateRepository
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRepositoryRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.CreateRepository
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRepositoryResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidTagParameterException
          schema:
            $ref: '#/definitions/InvalidTagParameterException'
        '483':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '484':
          description: RepositoryAlreadyExistsException
          schema:
            $ref: '#/definitions/RepositoryAlreadyExistsException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.DeleteLifecyclePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified lifecycle policy.
      operationId: DeleteLifecyclePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLifecyclePolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.DeleteLifecyclePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLifecyclePolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: LifecyclePolicyNotFoundException
          schema:
            $ref: '#/definitions/LifecyclePolicyNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.DeleteRepository':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes an existing image repository. If a repository contains images, you must use the <code>force</code> option to delete it.'
      operationId: DeleteRepository
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRepositoryRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.DeleteRepository
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRepositoryResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: RepositoryNotEmptyException
          schema:
            $ref: '#/definitions/RepositoryNotEmptyException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.DeleteRepositoryPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the repository policy from a specified repository.
      operationId: DeleteRepositoryPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRepositoryPolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.DeleteRepositoryPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRepositoryPolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: RepositoryPolicyNotFoundException
          schema:
            $ref: '#/definitions/RepositoryPolicyNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.DescribeImages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns metadata about the images in a repository, including image size, image tags, and creation date.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>'
      operationId: DescribeImages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeImagesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.DescribeImages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeImagesResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: ImageNotFoundException
          schema:
            $ref: '#/definitions/ImageNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.DescribeRepositories':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes image repositories in a registry.
      operationId: DescribeRepositories
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRepositoriesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.DescribeRepositories
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRepositoriesResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.GetAuthorizationToken':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves a token that is valid for a specified registry for 12 hours. This command allows you to use the <code>docker</code> CLI to push and pull images with Amazon ECR. If you do not specify a registry, the default registry is assumed.</p> <p>The <code>authorizationToken</code> returned for each registry specified is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The AWS CLI offers an <code>aws ecr get-login</code> command that simplifies the login process.</p>'
      operationId: GetAuthorizationToken
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAuthorizationTokenRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.GetAuthorizationToken
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAuthorizationTokenResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.GetDownloadUrlForLayer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: GetDownloadUrlForLayer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDownloadUrlForLayerRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.GetDownloadUrlForLayer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDownloadUrlForLayerResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LayersNotFoundException
          schema:
            $ref: '#/definitions/LayersNotFoundException'
        '483':
          description: LayerInaccessibleException
          schema:
            $ref: '#/definitions/LayerInaccessibleException'
        '484':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the specified lifecycle policy.
      operationId: GetLifecyclePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLifecyclePolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLifecyclePolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: LifecyclePolicyNotFoundException
          schema:
            $ref: '#/definitions/LifecyclePolicyNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicyPreview':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the results of the specified lifecycle policy preview request.
      operationId: GetLifecyclePolicyPreview
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLifecyclePolicyPreviewRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicyPreview
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLifecyclePolicyPreviewResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: LifecyclePolicyPreviewNotFoundException
          schema:
            $ref: '#/definitions/LifecyclePolicyPreviewNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.GetRepositoryPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the repository policy for a specified repository.
      operationId: GetRepositoryPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRepositoryPolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.GetRepositoryPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRepositoryPolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: RepositoryPolicyNotFoundException
          schema:
            $ref: '#/definitions/RepositoryPolicyNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.InitiateLayerUpload':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Notify Amazon ECR that you intend to upload an image layer.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: InitiateLayerUpload
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/InitiateLayerUploadRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.InitiateLayerUpload
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InitiateLayerUploadResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.ListImages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists all the image IDs for a given repository.</p> <p>You can filter images based on whether or not they are tagged by setting the <code>tagStatus</code> parameter to <code>TAGGED</code> or <code>UNTAGGED</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>'
      operationId: ListImages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListImagesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.ListImages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImagesResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: List the tags for an Amazon ECR resource.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '482':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.PutImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates or updates the image manifest and tags associated with an image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: PutImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutImageRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.PutImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutImageResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: ImageAlreadyExistsException
          schema:
            $ref: '#/definitions/ImageAlreadyExistsException'
        '484':
          description: LayersNotFoundException
          schema:
            $ref: '#/definitions/LayersNotFoundException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: ImageTagAlreadyExistsException
          schema:
            $ref: '#/definitions/ImageTagAlreadyExistsException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.PutImageTagMutability':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the image tag mutability settings for a repository.
      operationId: PutImageTagMutability
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutImageTagMutabilityRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.PutImageTagMutability
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutImageTagMutabilityResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.PutLifecyclePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates or updates a lifecycle policy. For information about lifecycle policy syntax, see <a href="https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html">Lifecycle Policy Template</a>.'
      operationId: PutLifecyclePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutLifecyclePolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.PutLifecyclePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLifecyclePolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.SetRepositoryPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Applies a repository policy on a specified repository to control access permissions. For more information, see <a href="https://docs.aws.amazon.com/AmazonECR/latest/userguide/RepositoryPolicies.html">Amazon ECR Repository Policies</a> in the <i>Amazon Elastic Container Registry User Guide</i>.'
      operationId: SetRepositoryPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SetRepositoryPolicyRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.SetRepositoryPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetRepositoryPolicyResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.StartLifecyclePolicyPreview':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts a preview of the specified lifecycle policy. This allows you to see the results before creating the lifecycle policy.
      operationId: StartLifecyclePolicyPreview
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartLifecyclePolicyPreviewRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.StartLifecyclePolicyPreview
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartLifecyclePolicyPreviewResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '483':
          description: LifecyclePolicyNotFoundException
          schema:
            $ref: '#/definitions/LifecyclePolicyNotFoundException'
        '484':
          description: LifecyclePolicyPreviewInProgressException
          schema:
            $ref: '#/definitions/LifecyclePolicyPreviewInProgressException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds specified tags to a resource with the specified ARN. Existing tags on a resource are not changed if they are not specified in the request parameters.
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidTagParameterException
          schema:
            $ref: '#/definitions/InvalidTagParameterException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '484':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes specified tags from a resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidTagParameterException
          schema:
            $ref: '#/definitions/InvalidTagParameterException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '484':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  '/#X-Amz-Target=AmazonEC2ContainerRegistry_V20150921.UploadLayerPart':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Uploads an image layer part to Amazon ECR.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>'
      operationId: UploadLayerPart
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UploadLayerPartRequest'
        - enum:
            - AmazonEC2ContainerRegistry_V20150921.UploadLayerPart
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadLayerPartResponse'
        '480':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidLayerPartException
          schema:
            $ref: '#/definitions/InvalidLayerPartException'
        '483':
          description: RepositoryNotFoundException
          schema:
            $ref: '#/definitions/RepositoryNotFoundException'
        '484':
          description: UploadNotFoundException
          schema:
            $ref: '#/definitions/UploadNotFoundException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
definitions:
  Arn:
    type: string
  AuthorizationData:
    description: An object representing authorization data for an Amazon ECR registry.
    properties:
      authorizationToken:
        $ref: '#/definitions/Base64'
        description: 'A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.'
      expiresAt:
        $ref: '#/definitions/ExpirationTimestamp'
        description: The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.
      proxyEndpoint:
        $ref: '#/definitions/ProxyEndpoint'
        description: 'The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. '
    type: object
  AuthorizationDataList:
    items:
      $ref: '#/definitions/AuthorizationData'
    type: array
  Base64:
    pattern: ^\S+$
    type: string
  BatchCheckLayerAvailabilityRequest:
    properties:
      layerDigests:
        $ref: '#/definitions/BatchedOperationLayerDigestList'
        description: The digests of the image layers to check.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository that is associated with the image layers to check.
    required:
      - repositoryName
      - layerDigests
    type: object
  BatchCheckLayerAvailabilityResponse:
    properties:
      failures:
        $ref: '#/definitions/LayerFailureList'
        description: Any failures associated with the call.
      layers:
        $ref: '#/definitions/LayerList'
        description: A list of image layer objects corresponding to the image layer references in the request.
    type: object
  BatchDeleteImageRequest:
    description: Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.
    properties:
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: A list of image ID references that correspond to images to delete. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the image to delete. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository that contains the image to delete.
    required:
      - repositoryName
      - imageIds
    type: object
  BatchDeleteImageResponse:
    example:
      failures: []
      imageIds:
        - imageDigest: 'sha256:examplee6d1e504117a17000003d3753086354a38375961f2e665416ef4b1b2f'
          imageTag: precise
    properties:
      failures:
        $ref: '#/definitions/ImageFailureList'
        description: Any failures associated with the call.
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: The image IDs of the deleted images.
    type: object
  BatchGetImageRequest:
    properties:
      acceptedMediaTypes:
        $ref: '#/definitions/MediaTypeList'
        description: '<p>The accepted media types for the request.</p> <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code> | <code>application/vnd.docker.distribution.manifest.v2+json</code> | <code>application/vnd.oci.image.manifest.v1+json</code> </p>'
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: A list of image ID references that correspond to images to describe. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the images to describe. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository that contains the images to describe.
    required:
      - repositoryName
      - imageIds
    type: object
  BatchGetImageResponse:
    example:
      failures: []
      images:
        - imageId:
            imageDigest: 'sha256:example76bdff6d83a09ba2a818f0d00000063724a9ac3ba5019c56f74ebf42a'
            imageTag: precise
          imageManifest: |-
            {
             "schemaVersion": 1,
             "name": "ubuntu",
             "tag": "precise",
            ...
          registryId: '244698725403'
          repositoryName: ubuntu
    properties:
      failures:
        $ref: '#/definitions/ImageFailureList'
        description: Any failures associated with the call.
      images:
        $ref: '#/definitions/ImageList'
        description: A list of image objects corresponding to the image references in the request.
    type: object
  BatchedOperationLayerDigest:
    maxLength: 1000
    minLength: 0
    type: string
  BatchedOperationLayerDigestList:
    items:
      $ref: '#/definitions/BatchedOperationLayerDigest'
    maxItems: 100
    minItems: 1
    type: array
  CompleteLayerUploadRequest:
    properties:
      layerDigests:
        $ref: '#/definitions/LayerDigestList'
        description: The <code>sha256</code> digest of the image layer.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry to which to upload layers. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to associate with the image layer.
      uploadId:
        $ref: '#/definitions/UploadId'
        description: The upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with the image layer.
    required:
      - repositoryName
      - uploadId
      - layerDigests
    type: object
  CompleteLayerUploadResponse:
    properties:
      layerDigest:
        $ref: '#/definitions/LayerDigest'
        description: The <code>sha256</code> digest of the image layer.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
      uploadId:
        $ref: '#/definitions/UploadId'
        description: The upload ID associated with the layer.
    type: object
  CreateRepositoryRequest:
    properties:
      imageTagMutability:
        $ref: '#/definitions/ImageTagMutability'
        description: 'The tag mutability setting for the repository. If this parameter is omitted, the default setting of <code>MUTABLE</code> will be used which will allow image tags to be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name to use for the repository. The repository name may be specified on its own (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to group the repository into a category (such as <code>project-a/nginx-web-app</code>).
      tags:
        $ref: '#/definitions/TagList'
        description: 'The metadata that you apply to the repository to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
    required:
      - repositoryName
    type: object
  CreateRepositoryResponse:
    example:
      repository:
        registryId: 012345678901
        repositoryArn: 'arn:aws:ecr:us-west-2:012345678901:repository/project-a/nginx-web-app'
        repositoryName: project-a/nginx-web-app
    properties:
      repository:
        $ref: '#/definitions/Repository'
        description: The repository that was created.
    type: object
  CreationTimestamp:
    format: date-time
    type: string
  DeleteLifecyclePolicyRequest:
    properties:
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository.
    required:
      - repositoryName
    type: object
  DeleteLifecyclePolicyResponse:
    properties:
      lastEvaluatedAt:
        $ref: '#/definitions/EvaluationTimestamp'
        description: The time stamp of the last time that the lifecycle policy was run.
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON lifecycle policy text.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  DeleteRepositoryPolicyRequest:
    properties:
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository policy to delete. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository that is associated with the repository policy to delete.
    required:
      - repositoryName
    type: object
  DeleteRepositoryPolicyResponse:
    example:
      policyText: '{ ... }'
      registryId: 012345678901
      repositoryName: ubuntu
    properties:
      policyText:
        $ref: '#/definitions/RepositoryPolicyText'
        description: The JSON repository policy that was deleted from the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  DeleteRepositoryRequest:
    properties:
      force:
        $ref: '#/definitions/ForceFlag'
        description: ' If a repository contains images, forces the deletion.'
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository to delete. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to delete.
    required:
      - repositoryName
    type: object
  DeleteRepositoryResponse:
    example:
      repository:
        registryId: 012345678901
        repositoryArn: 'arn:aws:ecr:us-west-2:012345678901:repository/ubuntu'
        repositoryName: ubuntu
    properties:
      repository:
        $ref: '#/definitions/Repository'
        description: The repository that was deleted.
    type: object
  DescribeImagesFilter:
    description: An object representing a filter on a <a>DescribeImages</a> operation.
    properties:
      tagStatus:
        $ref: '#/definitions/TagStatus'
        description: The tag status with which to filter your <a>DescribeImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.
    type: object
  DescribeImagesRequest:
    properties:
      filter:
        $ref: '#/definitions/DescribeImagesFilter'
        description: The filter key and value with which to filter your <code>DescribeImages</code> results.
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: The list of image IDs for the requested repository.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of repository results returned by <code>DescribeImages</code> in paginated output. When this parameter is used, <code>DescribeImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify images with <code>imageIds</code>.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The <code>nextToken</code> value returned from a previous paginated <code>DescribeImages</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify images with <code>imageIds</code>.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository in which to describe images. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository that contains the images to describe.
    required:
      - repositoryName
    type: object
  DescribeImagesResponse:
    properties:
      imageDetails:
        $ref: '#/definitions/ImageDetailList'
        description: A list of <a>ImageDetail</a> objects that contain data about the image.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>nextToken</code> value to include in a future <code>DescribeImages</code> request. When the results of a <code>DescribeImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.'
    type: object
  DescribeRepositoriesRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of repository results returned by <code>DescribeRepositories</code> in paginated output. When this parameter is used, <code>DescribeRepositories</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeRepositories</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeRepositories</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify repositories with <code>repositoryNames</code>.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: <p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeRepositories</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify repositories with <code>repositoryNames</code>.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repositories to be described. If you do not specify a registry, the default registry is assumed.'
      repositoryNames:
        $ref: '#/definitions/RepositoryNameList'
        description: 'A list of repositories to describe. If this parameter is omitted, then all repositories in a registry are described.'
    type: object
  DescribeRepositoriesResponse:
    example:
      repositories:
        - registryId: 012345678910
          repositoryArn: 'arn:aws:ecr:us-west-2:012345678910:repository/ubuntu'
          repositoryName: ubuntu
        - registryId: 012345678910
          repositoryArn: 'arn:aws:ecr:us-west-2:012345678910:repository/test'
          repositoryName: test
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>nextToken</code> value to include in a future <code>DescribeRepositories</code> request. When the results of a <code>DescribeRepositories</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.'
      repositories:
        $ref: '#/definitions/RepositoryList'
        description: A list of repository objects corresponding to valid repositories.
    type: object
  EmptyUploadException: {}
  EvaluationTimestamp:
    format: date-time
    type: string
  ExpirationTimestamp:
    format: date-time
    type: string
  ForceFlag:
    type: boolean
  GetAuthorizationTokenRegistryIdList:
    items:
      $ref: '#/definitions/RegistryId'
    maxItems: 10
    minItems: 1
    type: array
  GetAuthorizationTokenRequest:
    properties:
      registryIds:
        $ref: '#/definitions/GetAuthorizationTokenRegistryIdList'
        description: 'A list of AWS account IDs that are associated with the registries for which to get authorization tokens. If you do not specify a registry, the default registry is assumed.'
    type: object
  GetAuthorizationTokenResponse:
    example:
      authorizationData:
        - authorizationToken: QVdTOkN...
          expiresAt: '1470951892432'
          proxyEndpoint: 'https://012345678901.dkr.ecr.us-west-2.amazonaws.com'
    properties:
      authorizationData:
        $ref: '#/definitions/AuthorizationDataList'
        description: A list of authorization token data objects that correspond to the <code>registryIds</code> values in the request.
    type: object
  GetDownloadUrlForLayerRequest:
    properties:
      layerDigest:
        $ref: '#/definitions/LayerDigest'
        description: The digest of the image layer to download.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the image layer to download. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository that is associated with the image layer to download.
    required:
      - repositoryName
      - layerDigest
    type: object
  GetDownloadUrlForLayerResponse:
    properties:
      downloadUrl:
        $ref: '#/definitions/Url'
        description: The pre-signed Amazon S3 download URL for the requested layer.
      layerDigest:
        $ref: '#/definitions/LayerDigest'
        description: The digest of the image layer to download.
    type: object
  GetLifecyclePolicyPreviewRequest:
    properties:
      filter:
        $ref: '#/definitions/LifecyclePolicyPreviewFilter'
        description: 'An optional parameter that filters results based on image tag status and all tags, if tagged.'
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: The list of imageIDs to be included.
      maxResults:
        $ref: '#/definitions/LifecyclePreviewMaxResults'
        description: 'The maximum number of repository results returned by <code>GetLifecyclePolicyPreviewRequest</code> in&#x2028; paginated output. When this parameter is used, <code>GetLifecyclePolicyPreviewRequest</code> only returns&#x2028; <code>maxResults</code> results in a single page along with a <code>nextToken</code>&#x2028; response element. The remaining results of the initial request can be seen by sending&#x2028; another <code>GetLifecyclePolicyPreviewRequest</code> request with the returned <code>nextToken</code>&#x2028; value. This value can be between 1 and 1000. If this&#x2028; parameter is not used, then <code>GetLifecyclePolicyPreviewRequest</code> returns up to&#x2028; 100 results and a <code>nextToken</code> value, if&#x2028; applicable. This option cannot be used when you specify images with <code>imageIds</code>.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>nextToken</code> value returned from a previous paginated&#x2028; <code>GetLifecyclePolicyPreviewRequest</code> request where <code>maxResults</code> was used and the&#x2028; results exceeded the value of that parameter. Pagination continues from the end of the&#x2028; previous results that returned the <code>nextToken</code> value. This value is&#x2028; <code>null</code> when there are no more results to return. This option cannot be used when you specify images with <code>imageIds</code>.'
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository.
    required:
      - repositoryName
    type: object
  GetLifecyclePolicyPreviewResponse:
    properties:
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON lifecycle policy text.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>nextToken</code> value to include in a future <code>GetLifecyclePolicyPreview</code> request. When the results of a <code>GetLifecyclePolicyPreview</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.'
      previewResults:
        $ref: '#/definitions/LifecyclePolicyPreviewResultList'
        description: The results of the lifecycle policy preview request.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
      status:
        $ref: '#/definitions/LifecyclePolicyPreviewStatus'
        description: The status of the lifecycle policy preview request.
      summary:
        $ref: '#/definitions/LifecyclePolicyPreviewSummary'
        description: The list of images that is returned as a result of the action.
    type: object
  GetLifecyclePolicyRequest:
    properties:
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository.
    required:
      - repositoryName
    type: object
  GetLifecyclePolicyResponse:
    properties:
      lastEvaluatedAt:
        $ref: '#/definitions/EvaluationTimestamp'
        description: The time stamp of the last time that the lifecycle policy was run.
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON lifecycle policy text.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  GetRepositoryPolicyRequest:
    properties:
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository with the policy to retrieve.
    required:
      - repositoryName
    type: object
  GetRepositoryPolicyResponse:
    example:
      policyText: |-
        {
          "Version" : "2008-10-17",
          "Statement" : [ {
            "Sid" : "new statement",
            "Effect" : "Allow",
            "Principal" : {
             "AWS" : "arn:aws:iam::012345678901:role/CodeDeployDemo"
            },
        "Action" : [ "ecr:GetDownloadUrlForLayer", "ecr:BatchGetImage", "ecr:BatchCheckLayerAvailability" ]
         } ]
        }
      registryId: 012345678901
      repositoryName: ubuntu
    properties:
      policyText:
        $ref: '#/definitions/RepositoryPolicyText'
        description: The JSON repository policy text associated with the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  Image:
    description: An object representing an Amazon ECR image.
    properties:
      imageId:
        $ref: '#/definitions/ImageIdentifier'
        description: An object containing the image tag and image digest associated with an image.
      imageManifest:
        $ref: '#/definitions/ImageManifest'
        description: The image manifest associated with the image.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The AWS account ID associated with the registry containing the image.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository associated with the image.
    type: object
  ImageActionType:
    enum:
      - EXPIRE
    type: string
  ImageAlreadyExistsException: {}
  ImageCount:
    minimum: 0
    type: integer
  ImageDetail:
    description: An object that describes an image returned by a <a>DescribeImages</a> operation.
    properties:
      imageDigest:
        $ref: '#/definitions/ImageDigest'
        description: The <code>sha256</code> digest of the image manifest.
      imagePushedAt:
        $ref: '#/definitions/PushTimestamp'
        description: 'The date and time, expressed in standard JavaScript date format, at which the current image was pushed to the repository. '
      imageSizeInBytes:
        $ref: '#/definitions/ImageSizeInBytes'
        description: '<p>The size, in bytes, of the image in the repository.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>'
      imageTags:
        $ref: '#/definitions/ImageTagList'
        description: The list of tags associated with this image.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The AWS account ID associated with the registry to which this image belongs.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to which this image belongs.
    type: object
  ImageDetailList:
    items:
      $ref: '#/definitions/ImageDetail'
    type: array
  ImageDigest:
    type: string
  ImageFailure:
    description: An object representing an Amazon ECR image failure.
    properties:
      failureCode:
        $ref: '#/definitions/ImageFailureCode'
        description: The code associated with the failure.
      failureReason:
        $ref: '#/definitions/ImageFailureReason'
        description: The reason for the failure.
      imageId:
        $ref: '#/definitions/ImageIdentifier'
        description: The image ID associated with the failure.
    type: object
  ImageFailureCode:
    enum:
      - InvalidImageDigest
      - InvalidImageTag
      - ImageTagDoesNotMatchDigest
      - ImageNotFound
      - MissingDigestAndTag
    type: string
  ImageFailureList:
    items:
      $ref: '#/definitions/ImageFailure'
    type: array
  ImageFailureReason:
    type: string
  ImageIdentifier:
    description: An object with identifying information for an Amazon ECR image.
    properties:
      imageDigest:
        $ref: '#/definitions/ImageDigest'
        description: The <code>sha256</code> digest of the image manifest.
      imageTag:
        $ref: '#/definitions/ImageTag'
        description: The tag used for the image.
    type: object
  ImageIdentifierList:
    items:
      $ref: '#/definitions/ImageIdentifier'
    maxItems: 100
    minItems: 1
    type: array
  ImageList:
    items:
      $ref: '#/definitions/Image'
    type: array
  ImageManifest:
    type: string
  ImageNotFoundException: {}
  ImageSizeInBytes:
    type: integer
  ImageTag:
    maxLength: 300
    minLength: 1
    type: string
  ImageTagAlreadyExistsException: {}
  ImageTagList:
    items:
      $ref: '#/definitions/ImageTag'
    type: array
  ImageTagMutability:
    enum:
      - MUTABLE
      - IMMUTABLE
    type: string
  InitiateLayerUploadRequest:
    properties:
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry to which you intend to upload layers. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to which you intend to upload layers.
    required:
      - repositoryName
    type: object
  InitiateLayerUploadResponse:
    properties:
      partSize:
        $ref: '#/definitions/PartSize'
        description: 'The size, in bytes, that Amazon ECR expects future layer part uploads to be.'
      uploadId:
        $ref: '#/definitions/UploadId'
        description: The upload ID for the layer upload. This parameter is passed to further <a>UploadLayerPart</a> and <a>CompleteLayerUpload</a> operations.
    type: object
  InvalidLayerException: {}
  InvalidLayerPartException: {}
  InvalidParameterException: {}
  InvalidTagParameterException: {}
  Layer:
    description: An object representing an Amazon ECR image layer.
    properties:
      layerAvailability:
        $ref: '#/definitions/LayerAvailability'
        description: The availability status of the image layer.
      layerDigest:
        $ref: '#/definitions/LayerDigest'
        description: The <code>sha256</code> digest of the image layer.
      layerSize:
        $ref: '#/definitions/LayerSizeInBytes'
        description: 'The size, in bytes, of the image layer.'
      mediaType:
        $ref: '#/definitions/MediaType'
        description: 'The media type of the layer, such as <code>application/vnd.docker.image.rootfs.diff.tar.gzip</code> or <code>application/vnd.oci.image.layer.v1.tar+gzip</code>.'
    type: object
  LayerAlreadyExistsException: {}
  LayerAvailability:
    enum:
      - AVAILABLE
      - UNAVAILABLE
    type: string
  LayerDigest:
    pattern: '[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+'
    type: string
  LayerDigestList:
    items:
      $ref: '#/definitions/LayerDigest'
    maxItems: 100
    minItems: 1
    type: array
  LayerFailure:
    description: An object representing an Amazon ECR image layer failure.
    properties:
      failureCode:
        $ref: '#/definitions/LayerFailureCode'
        description: The failure code associated with the failure.
      failureReason:
        $ref: '#/definitions/LayerFailureReason'
        description: The reason for the failure.
      layerDigest:
        $ref: '#/definitions/BatchedOperationLayerDigest'
        description: The layer digest associated with the failure.
    type: object
  LayerFailureCode:
    enum:
      - InvalidLayerDigest
      - MissingLayerDigest
    type: string
  LayerFailureList:
    items:
      $ref: '#/definitions/LayerFailure'
    type: array
  LayerFailureReason:
    type: string
  LayerInaccessibleException: {}
  LayerList:
    items:
      $ref: '#/definitions/Layer'
    type: array
  LayerPartBlob:
    type: string
  LayerPartTooSmallException: {}
  LayerSizeInBytes:
    type: integer
  LayersNotFoundException: {}
  LifecyclePolicyNotFoundException: {}
  LifecyclePolicyPreviewFilter:
    description: The filter for the lifecycle policy preview.
    properties:
      tagStatus:
        $ref: '#/definitions/TagStatus'
        description: The tag status of the image.
    type: object
  LifecyclePolicyPreviewInProgressException: {}
  LifecyclePolicyPreviewNotFoundException: {}
  LifecyclePolicyPreviewResult:
    description: The result of the lifecycle policy preview.
    properties:
      action:
        $ref: '#/definitions/LifecyclePolicyRuleAction'
        description: The type of action to be taken.
      appliedRulePriority:
        $ref: '#/definitions/LifecyclePolicyRulePriority'
        description: The priority of the applied rule.
      imageDigest:
        $ref: '#/definitions/ImageDigest'
        description: The <code>sha256</code> digest of the image manifest.
      imagePushedAt:
        $ref: '#/definitions/PushTimestamp'
        description: 'The date and time, expressed in standard JavaScript date format, at which the current image was pushed to the repository.'
      imageTags:
        $ref: '#/definitions/ImageTagList'
        description: The list of tags associated with this image.
    type: object
  LifecyclePolicyPreviewResultList:
    items:
      $ref: '#/definitions/LifecyclePolicyPreviewResult'
    type: array
  LifecyclePolicyPreviewStatus:
    enum:
      - IN_PROGRESS
      - COMPLETE
      - EXPIRED
      - FAILED
    type: string
  LifecyclePolicyPreviewSummary:
    description: The summary of the lifecycle policy preview request.
    properties:
      expiringImageTotalCount:
        $ref: '#/definitions/ImageCount'
        description: The number of expiring images.
    type: object
  LifecyclePolicyRuleAction:
    description: The type of action to be taken.
    properties:
      type:
        $ref: '#/definitions/ImageActionType'
        description: The type of action to be taken.
    type: object
  LifecyclePolicyRulePriority:
    minimum: 1
    type: integer
  LifecyclePolicyText:
    maxLength: 30720
    minLength: 100
    type: string
  LifecyclePreviewMaxResults:
    maximum: 100
    minimum: 1
    type: integer
  LimitExceededException: {}
  ListImagesFilter:
    description: An object representing a filter on a <a>ListImages</a> operation.
    properties:
      tagStatus:
        $ref: '#/definitions/TagStatus'
        description: The tag status with which to filter your <a>ListImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.
    type: object
  ListImagesRequest:
    properties:
      filter:
        $ref: '#/definitions/ListImagesFilter'
        description: The filter key and value with which to filter your <code>ListImages</code> results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of image results returned by <code>ListImages</code> in paginated output. When this parameter is used, <code>ListImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>ListImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListImages</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository in which to list images. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository with image IDs to be listed.
    required:
      - repositoryName
    type: object
  ListImagesResponse:
    example:
      imageIds:
        - imageDigest: 'sha256:764f63476bdff6d83a09ba2a818f0d35757063724a9ac3ba5019c56f74ebf42a'
          imageTag: precise
    properties:
      imageIds:
        $ref: '#/definitions/ImageIdentifierList'
        description: The list of image IDs for the requested repository.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>nextToken</code> value to include in a future <code>ListImages</code> request. When the results of a <code>ListImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.'
    type: object
  ListTagsForResourceRequest:
    properties:
      resourceArn:
        $ref: '#/definitions/Arn'
        description: 'The Amazon Resource Name (ARN) that identifies the resource for which to list the tags. Currently, the only supported resource is an Amazon ECR repository.'
    required:
      - resourceArn
    type: object
  ListTagsForResourceResponse:
    properties:
      tags:
        $ref: '#/definitions/TagList'
        description: The tags for the resource.
    type: object
  MaxResults:
    maximum: 1000
    minimum: 1
    type: integer
  MediaType:
    type: string
  MediaTypeList:
    items:
      $ref: '#/definitions/MediaType'
    maxItems: 100
    minItems: 1
    type: array
  NextToken:
    type: string
  PartSize:
    minimum: 0
    type: integer
  ProxyEndpoint:
    type: string
  PushTimestamp:
    format: date-time
    type: string
  PutImageRequest:
    properties:
      imageManifest:
        $ref: '#/definitions/ImageManifest'
        description: The image manifest corresponding to the image to be uploaded.
      imageTag:
        $ref: '#/definitions/ImageTag'
        description: The tag to associate with the image. This parameter is required for images that use the Docker Image Manifest V2 Schema 2 or OCI formats.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository in which to put the image. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository in which to put the image.
    required:
      - repositoryName
      - imageManifest
    type: object
  PutImageResponse:
    properties:
      image:
        $ref: '#/definitions/Image'
        description: Details of the image uploaded.
    type: object
  PutImageTagMutabilityRequest:
    properties:
      imageTagMutability:
        $ref: '#/definitions/ImageTagMutability'
        description: 'The tag mutability setting for the repository. If <code>MUTABLE</code> is specified, image tags can be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.'
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository in which to update the image tag mutability settings. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository in which to update the image tag mutability settings.
    required:
      - repositoryName
      - imageTagMutability
    type: object
  PutImageTagMutabilityResponse:
    properties:
      imageTagMutability:
        $ref: '#/definitions/ImageTagMutability'
        description: The image tag mutability setting for the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  PutLifecyclePolicyRequest:
    properties:
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON repository policy text to apply to the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do&#x2028; not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to receive the policy.
    required:
      - repositoryName
      - lifecyclePolicyText
    type: object
  PutLifecyclePolicyResponse:
    properties:
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON repository policy text.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  RegistryId:
    pattern: '[0-9]{12}'
    type: string
  Repository:
    description: An object representing a repository.
    properties:
      createdAt:
        $ref: '#/definitions/CreationTimestamp'
        description: 'The date and time, in JavaScript date format, when the repository was created.'
      imageTagMutability:
        $ref: '#/definitions/ImageTagMutability'
        description: The tag mutability setting for the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The AWS account ID associated with the registry that contains the repository.
      repositoryArn:
        $ref: '#/definitions/Arn'
        description: 'The Amazon Resource Name (ARN) that identifies the repository. The ARN contains the <code>arn:aws:ecr</code> namespace, followed by the region of the repository, AWS account ID of the repository owner, repository namespace, and repository name. For example, <code>arn:aws:ecr:region:012345678910:repository/test</code>.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository.
      repositoryUri:
        $ref: '#/definitions/Url'
        description: The URI for the repository. You can use this URI for Docker <code>push</code> or <code>pull</code> operations.
    type: object
  RepositoryAlreadyExistsException: {}
  RepositoryList:
    items:
      $ref: '#/definitions/Repository'
    type: array
  RepositoryName:
    maxLength: 256
    minLength: 2
    pattern: '(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*'
    type: string
  RepositoryNameList:
    items:
      $ref: '#/definitions/RepositoryName'
    maxItems: 100
    minItems: 1
    type: array
  RepositoryNotEmptyException: {}
  RepositoryNotFoundException: {}
  RepositoryPolicyNotFoundException: {}
  RepositoryPolicyText:
    maxLength: 10240
    minLength: 0
    type: string
  ServerException: {}
  SetRepositoryPolicyRequest:
    properties:
      force:
        $ref: '#/definitions/ForceFlag'
        description: 'If the policy you are attempting to set on a repository policy would prevent you from setting another policy in the future, you must force the <a>SetRepositoryPolicy</a> operation. This is intended to prevent accidental repository lock outs.'
      policyText:
        $ref: '#/definitions/RepositoryPolicyText'
        description: 'The JSON repository policy text to apply to the repository. For more information, see <a href="https://docs.aws.amazon.com/AmazonECR/latest/userguide/RepositoryPolicyExamples.html">Amazon ECR Repository Policy Examples</a> in the <i>Amazon Elastic Container Registry User Guide</i>.'
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to receive the policy.
    required:
      - repositoryName
      - policyText
    type: object
  SetRepositoryPolicyResponse:
    properties:
      policyText:
        $ref: '#/definitions/RepositoryPolicyText'
        description: The JSON repository policy text applied to the repository.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
    type: object
  StartLifecyclePolicyPreviewRequest:
    properties:
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: 'The policy to be evaluated against. If you do not specify a policy, the current policy for the repository is used.'
      registryId:
        $ref: '#/definitions/RegistryId'
        description: 'The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.'
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The name of the repository to be evaluated.
    required:
      - repositoryName
    type: object
  StartLifecyclePolicyPreviewResponse:
    properties:
      lifecyclePolicyText:
        $ref: '#/definitions/LifecyclePolicyText'
        description: The JSON repository policy text.
      registryId:
        $ref: '#/definitions/RegistryId'
        description: The registry ID associated with the request.
      repositoryName:
        $ref: '#/definitions/RepositoryName'
        description: The repository name associated with the request.
      status:
        $ref: '#/definitions/LifecyclePolicyPreviewStatus'
        description: The status of the lifecycle policy preview request.
    type: object
  Tag:
    description: 'The metadata that you apply to a resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: One part of a key-value pair that make up a tag. A <code>key</code> is a general label that acts like a category for more specific tag values.
      Value:
        $ref: '#/definitions/TagValue'
        description: The optional part of a key-value pair that make up a tag. A <code>value</code> acts as a descriptor within a tag category (key).
    type: object
  TagKey:
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    type: array
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagResourceRequest:
    properties:
      resourceArn:
        $ref: '#/definitions/Arn'
        description: 'The Amazon Resource Name (ARN) of the the resource to which to add tags. Currently, the only supported resource is an Amazon ECR repository.'
      tags:
        $ref: '#/definitions/TagList'
        description: 'The tags to add to the resource. A tag is an array of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
    required:
      - resourceArn
      - tags
    type: object
  TagResourceResponse:
    properties: {}
    type: object
  TagStatus:
    enum:
      - TAGGED
      - UNTAGGED
      - ANY
    type: string
  TagValue:
    type: string
  TooManyTagsException: {}
  UntagResourceRequest:
    properties:
      resourceArn:
        $ref: '#/definitions/Arn'
        description: 'The Amazon Resource Name (ARN) of the resource from which to remove tags. Currently, the only supported resource is an Amazon ECR repository.'
      tagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The keys of the tags to be removed.
    required:
      - resourceArn
      - tagKeys
    type: object
  UntagResourceResponse:
    properties: {}
    type: object
  UploadId:
    pattern: '[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
    type: string
  UploadLayerPartRequest:
    properties:
      layerPartBlob:
        $ref: '#/definitions/LayerPartBlob'
        description: The base64-encoded layer part payload.
      partFirstByte:
        $ref: '#/definitions/PartSize'
[...]
