openapi: 3.0.1
servers:
  - url: https://insights.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Insights
  version: 1.55.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_insights_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_insights_v1
tags:
  - name: InsightsV1Annotation
  - name: InsightsV1Call
  - name: InsightsV1CallSummaries
  - name: InsightsV1CallSummary
  - name: InsightsV1Conference
  - name: InsightsV1ConferenceParticipant
  - name: InsightsV1Event
  - name: InsightsV1Metric
  - name: InsightsV1Participant
  - name: InsightsV1Room
  - name: InsightsV1Setting
paths:
  /v1/Conferences:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Conference Summaries.
      operationId: ListConference
      parameters:
        - description: The SID of the conference.
          in: query
          name: ConferenceSid
          schema:
            type: string
        - description: Custom label for the conference resource, up to 64 characters.
          in: query
          name: FriendlyName
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: Conference status.
          in: query
          name: Status
          schema:
            type: string
        - description: Conferences created after the provided timestamp specified in ISO 8601 format
          in: query
          name: CreatedAfter
          schema:
            type: string
        - description: Conferences created before the provided timestamp specified in ISO 8601 format.
          in: query
          name: CreatedBefore
          schema:
            type: string
        - description: Twilio region where the conference media was mixed.
          in: query
          name: MixerRegion
          schema:
            type: string
        - description: Tags applied by Twilio for common potential configuration, quality, or performance issues.
          in: query
          name: Tags
          schema:
            type: string
        - description: Account SID for the subaccount whose resources you wish to retrieve.
          in: query
          name: Subaccount
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: Potential configuration, behavior, or performance issues detected during the conference.
          in: query
          name: DetectedIssues
          schema:
            type: string
        - description: Conference end reason; e.g. last participant left, modified by API, etc.
          in: query
          name: EndReason
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conferences:
                    items:
                      $ref: "#/components/schemas/insights.v1.conference"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListConferenceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Conference
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - conference_sid
        - account_sid
      dependentProperties:
        conference_participants:
          mapping:
            conference_sid: conference_sid
          resource_url: /v1/Conferences/{conference_sid}/Participants
      pathType: list
  /v1/Conferences/{ConferenceSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Conference Summary.
      operationId: FetchConference
      parameters:
        - description: The unique SID identifier of the Conference.
          in: path
          name: ConferenceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CF[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.conference"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Conference
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - conference_sid
        - account_sid
      dependentProperties:
        conference_participants:
          mapping:
            conference_sid: conference_sid
          resource_url: /v1/Conferences/{conference_sid}/Participants
      pathType: instance
  /v1/Conferences/{ConferenceSid}/Participants:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Conference Participants Summaries for a Conference.
      operationId: ListConferenceParticipant
      parameters:
        - description: The unique SID identifier of the Conference.
          in: path
          name: ConferenceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CF[0-9a-fA-F]{32}$
            type: string
        - description: The unique SID identifier of the Participant.
          in: query
          name: ParticipantSid
          schema:
            type: string
        - description: User-specified label for a participant.
          in: query
          name: Label
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: Conference events generated by application or participant activity; e.g. `hold`, `mute`, etc.
          in: query
          name: Events
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/insights.v1.conference.conference_participant"
                    type: array
                title: ListConferenceParticipantResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1ConferenceParticipant
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
        - conference_sid
        - call_sid
        - account_sid
      mountName: conference_participants
      parent: /Conferences/{ConferenceSid}
      pathType: list
  /v1/Conferences/{ConferenceSid}/Participants/{ParticipantSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Conference Participant Summary for a Conference.
      operationId: FetchConferenceParticipant
      parameters:
        - description: The unique SID identifier of the Conference.
          in: path
          name: ConferenceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CF[0-9a-fA-F]{32}$
            type: string
        - description: The unique SID identifier of the Participant.
          in: path
          name: ParticipantSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CP[0-9a-fA-F]{32}$
            type: string
        - description: Conference events generated by application or participant activity; e.g. `hold`, `mute`, etc.
          in: query
          name: Events
          schema:
            type: string
        - description: Object. Contains participant call quality metrics.
          in: query
          name: Metrics
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.conference.conference_participant"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1ConferenceParticipant
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
        - conference_sid
        - call_sid
        - account_sid
      mountName: conference_participants
      parent: /Conferences/{ConferenceSid}
      pathType: instance
  /v1/Video/Rooms:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Programmable Video Rooms.
      operationId: ListVideoRoomSummary
      parameters:
        - description: Type of room. Can be `go`, `peer_to_peer`, `group`, or `group_small`.
          in: query
          name: RoomType
          schema:
            items:
              $ref: "#/components/schemas/video_room_summary_enum_room_type"
              type: string
            type: array
        - description: Codecs used by participants in the room. Can be `VP8`, `H264`, or `VP9`.
          in: query
          name: Codec
          schema:
            items:
              $ref: "#/components/schemas/video_room_summary_enum_codec"
              type: string
            type: array
        - description: Room friendly name.
          in: query
          name: RoomName
          schema:
            type: string
        - description: Only read rooms that started on or after this ISO 8601 timestamp.
          in: query
          name: CreatedAfter
          schema:
            format: date-time
            type: string
        - description: Only read rooms that started before this ISO 8601 timestamp.
          in: query
          name: CreatedBefore
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  rooms:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary"
                    type: array
                title: ListVideoRoomSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Room
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - room_sid
        - create_time
      dependentProperties:
        participants:
          mapping:
            room_sid: room_sid
          resource_url: /v1/Video/Rooms/{room_sid}/Participants
      pathType: list
  /v1/Video/Rooms/{RoomSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room.
      operationId: FetchVideoRoomSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Room
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - room_sid
        - create_time
      dependentProperties:
        participants:
          mapping:
            room_sid: room_sid
          resource_url: /v1/Video/Rooms/{room_sid}/Participants
      pathType: instance
  /v1/Video/Rooms/{RoomSid}/Participants:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of room participants.
      operationId: ListVideoParticipantSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
                    type: array
                title: ListVideoParticipantSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Participant
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
      parent: /Video/Rooms/{RoomSid}
      pathType: list
  /v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room Participant.
      operationId: FetchVideoParticipantSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: The SID of the Participant resource.
          in: path
          name: ParticipantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Participant
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
      parent: /Video/Rooms/{RoomSid}
      pathType: instance
  /v1/Voice/Settings:
    description: "TODO: Resource-level docs"
    get:
      description: Get the Voice Insights Settings.
      operationId: FetchAccountSettings
      parameters:
        - description: The unique SID identifier of the Subaccount.
          in: query
          name: SubaccountSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.account_settings"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Setting
      x-maturity:
        - GA
    post:
      description: Update a specific Voice Insights Setting.
      operationId: UpdateAccountSettings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AdvancedFeatures:
                  description: A boolean flag to enable Advanced Features for Voice Insights.
                  type: boolean
                SubaccountSid:
                  description: The unique SID identifier of the Subaccount.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  type: string
                VoiceTrace:
                  description: A boolean flag to enable Voice Trace.
                  type: boolean
              title: UpdateAccountSettingsRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.account_settings"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Setting
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - advanced_features
        - voice_trace
      pathType: instance
  /v1/Voice/Summaries:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Summaries.
      operationId: ListCallSummaries
      parameters:
        - description: A calling party. Could be an E.164 number, a SIP URI, or a Twilio Client registered name.
          in: query
          name: From
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: A called party. Could be an E.164 number, a SIP URI, or a Twilio Client registered name.
          in: query
          name: To
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: An origination carrier.
          in: query
          name: FromCarrier
          schema:
            type: string
        - description: A destination carrier.
          in: query
          name: ToCarrier
          schema:
            type: string
        - description: A source country code based on phone number in From.
          in: query
          name: FromCountryCode
          schema:
            type: string
        - description: A destination country code. Based on phone number in To.
          in: query
          name: ToCountryCode
          schema:
            type: string
        - description: A boolean flag indicating whether or not the calls were branded using Twilio Branded Calls.
          in: query
          name: Branded
          schema:
            type: boolean
        - description: A boolean flag indicating whether or not the caller was verified using SHAKEN/STIR.
          in: query
          name: VerifiedCaller
          schema:
            type: boolean
        - description: A boolean flag indicating the presence of one or more [Voice Insights Call Tags](https://www.twilio.com/docs/voice/voice-insights/api/call/details-call-tags).
          in: query
          name: HasTag
          schema:
            type: boolean
        - description: A Start time of the calls. xm (x minutes), xh (x hours), xd (x days), 1w, 30m, 3d, 4w or datetime-ISO. Defaults to 4h.
          in: query
          name: StartTime
          schema:
            type: string
        - description: An End Time of the calls. xm (x minutes), xh (x hours), xd (x days), 1w, 30m, 3d, 4w or datetime-ISO. Defaults to 0m.
          in: query
          name: EndTime
          schema:
            type: string
        - description: A Call Type of the calls. One of `carrier`, `sip`, `trunking` or `client`.
          in: query
          name: CallType
          schema:
            type: string
        - description: A Call State of the calls. One of `ringing`, `completed`, `busy`, `fail`, `noanswer`, `canceled`, `answered`, `undialed`.
          in: query
          name: CallState
          schema:
            type: string
        - description: A Direction of the calls. One of `outbound_api`, `outbound_dial`, `inbound`, `trunking_originating`, `trunking_terminating`.
          in: query
          name: Direction
          schema:
            type: string
        - description: A Processing State of the Call Summaries. One of `completed`, `partial` or `all`.
          in: query
          name: ProcessingState
          schema:
            $ref: "#/components/schemas/call_summaries_enum_processing_state_request"
            type: string
        - description: A Sort By criterion for the returned list of Call Summaries. One of `start_time` or `end_time`.
          in: query
          name: SortBy
          schema:
            $ref: "#/components/schemas/call_summaries_enum_sort_by"
            type: string
        - description: A unique SID identifier of a Subaccount.
          in: query
          name: Subaccount
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: A boolean flag indicating an abnormal session where the last SIP response was not 200 OK.
          in: query
          name: AbnormalSession
          schema:
            type: boolean
        - description: An Answered By value for the calls based on `Answering Machine Detection (AMD)`. One of `unknown`, `machine_start`, `machine_end_beep`, `machine_end_silence`, `machine_end_other`, `human` or `fax`.
          in: query
          name: AnsweredBy
          schema:
            $ref: "#/components/schemas/call_summaries_enum_answered_by"
            type: string
        - description: Either machine or human.
          in: query
          name: AnsweredByAnnotation
          schema:
            type: string
        - description: A Connectivity Issue with the calls. One of `no_connectivity_issue`, `invalid_number`, `caller_id`, `dropped_call`, or `number_reachability`.
          in: query
          name: ConnectivityIssueAnnotation
          schema:
            type: string
        - description: A subjective Quality Issue with the calls. One of `no_quality_issue`, `low_volume`, `choppy_robotic`, `echo`, `dtmf`, `latency`, `owa`, `static_noise`.
          in: query
          name: QualityIssueAnnotation
          schema:
            type: string
        - description: A boolean flag indicating spam calls.
          in: query
          name: SpamAnnotation
          schema:
            type: boolean
        - description: "A Call Score of the calls. Use a range of 1-5 to indicate the call experience score, with the following mapping as a reference for the rated call [5: Excellent, 4: Good, 3 : Fair, 2 : Poor, 1: Bad]."
          in: query
          name: CallScoreAnnotation
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  call_summaries:
                    items:
                      $ref: "#/components/schemas/insights.v1.call_summaries"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCallSummariesResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1CallSummaries
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      className: call_summaries
      defaultOutputProperties:
        - account_sid
        - call_sid
        - create_time
        - start_time
        - end_time
        - duration
        - connect_duration
        - call_type
        - call_state
      mountName: call_summaries
      pathType: list
  /v1/Voice/{CallSid}/Annotation:
    description: "TODO: Resource-level docs"
    get:
      description: Get the Annotation for a specific Call.
      operationId: FetchAnnotation
      parameters:
        - description: The unique SID identifier of the Call.
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call.annotation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Annotation
      x-maturity:
        - Beta
    post:
      description: Update an Annotation for a specific Call.
      operationId: UpdateAnnotation
      parameters:
        - description: The unique string that Twilio created to identify this Call resource. It always starts with a CA.
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AnsweredBy:
                  $ref: "#/components/schemas/annotation_enum_answered_by"
                  description: "Specify which entity answered the call as determined by Answering Machine Detection. Use this to provide feedback on Answering Machine Detection accuracy. Possible enumerated values, one of: `human`, `machine`. `human` indicates the call was answered by a person. `machine` indicates the call was answered by an answering machine."
                  type: string
                CallScore:
                  description: "Specify the call score. This is of type integer. Use a range of 1-5 to indicate the call experience score, with the following mapping as a reference for rating the call [5: Excellent, 4: Good, 3 : Fair, 2 : Poor, 1: Bad]."
                  nullable: true
                  type: integer
                Comment:
                  description: Specify any comments pertaining to the call. `comment` has a maximum character limit of 100. Twilio does not treat this field as PII, so no PII should be included in the `comment`.
                  type: string
                ConnectivityIssue:
                  $ref: "#/components/schemas/annotation_enum_connectivity_issue"
                  description: Specify if the call had any connectivity issues. Possible enumerated values, one of `no_connectivity_issue`, `invalid_number`, `caller_id`, `dropped_call`, or `number_reachability`.
                  type: string
                Incident:
                  description: Associate this call with an incident or support ticket. The `incident` parameter is of type string with a maximum character limit of 100. Twilio does not treat this field as PII, so no PII should be included in `incident`.
                  type: string
                QualityIssues:
                  description: Specify if the call had any subjective quality issues. Possible values, one or more of `no_quality_issue`, `low_volume`, `choppy_robotic`, `echo`, `dtmf`, `latency`, `owa`, `static_noise`. Use comma separated values to indicate multiple quality issues for the same call.
                  type: string
                Spam:
                  description: A boolean flag to indicate if the call was a spam call. Use this to provide feedback on whether calls placed from your account were marked as spam, or if inbound calls received by your account were unwanted spam. Use `true` if the call was a spam call.
                  type: boolean
              title: UpdateAnnotationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call.annotation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Annotation
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - call_sid
        - account_sid
      parent: /Voice/{Sid}
      pathType: instance
  /v1/Voice/{CallSid}/Events:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Insight Events for a Call.
      operationId: ListEvent
      parameters:
        - description: The unique SID identifier of the Call.
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: The Edge of this Event. One of `unknown_edge`, `carrier_edge`, `sip_edge`, `sdk_edge` or `client_edge`.
          in: query
          name: Edge
          schema:
            $ref: "#/components/schemas/event_enum_twilio_edge"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  events:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.event"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEventResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Event
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - timestamp
        - call_sid
        - account_sid
        - edge
        - name
      parent: /Voice/{Sid}
      pathType: list
  /v1/Voice/{CallSid}/Metrics:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Metrics for a Call.
      operationId: ListMetric
      parameters:
        - description: The unique SID identifier of the Call.
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: The Edge of this Metric. One of `unknown_edge`, `carrier_edge`, `sip_edge`, `sdk_edge` or `client_edge`.
          in: query
          name: Edge
          schema:
            $ref: "#/components/schemas/metric_enum_twilio_edge"
            type: string
        - description: The Direction of this Metric. One of `unknown`, `inbound`, `outbound` or `both`.
          in: query
          name: Direction
          schema:
            $ref: "#/components/schemas/metric_enum_stream_direction"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  metrics:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.metric"
                    type: array
                title: ListMetricResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Metric
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - timestamp
        - call_sid
        - account_sid
        - edge
        - direction
      parent: /Voice/{Sid}
      pathType: list
  /v1/Voice/{CallSid}/Summary:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Call Summary.
      operationId: FetchSummary
      parameters:
        - description: The unique SID identifier of the Call.
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: The Processing State of this Call Summary. One of `complete`, `partial` or `all`.
          in: query
          name: ProcessingState
          schema:
            $ref: "#/components/schemas/summary_enum_processing_state"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call.summary"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1CallSummary
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      className: call_summary
      defaultOutputProperties:
        - call_type
        - call_state
        - processing_state
        - duration
      parent: /Voice/{Sid}
      pathType: instance
  /v1/Voice/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCall
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - InsightsV1Call
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        annotation:
          mapping:
            call_sid: sid
          resource_url: /v1/Voice/{call_sid}/Annotation
        events:
          mapping:
            call_sid: sid
          resource_url: /v1/Voice/{call_sid}/Events
        metrics:
          mapping:
            call_sid: sid
          resource_url: /v1/Voice/{call_sid}/Metrics
        summary:
          mapping:
            call_sid: sid
          resource_url: /v1/Voice/{call_sid}/Summary
      mountName: calls
      pathType: instance
components:
  schemas:
    annotation_enum_answered_by:
      enum:
        - unknown_answered_by
        - human
        - machine
      type: string
    annotation_enum_connectivity_issue:
      enum:
        - unknown_connectivity_issue
        - no_connectivity_issue
        - invalid_number
        - caller_id
        - dropped_call
        - number_reachability
      type: string
    annotation_enum_quality_issues:
      enum:
        - unknown_quality_issue
        - no_quality_issue
        - low_volume
        - choppy_robotic
        - echo
        - dtmf
        - latency
        - owa
        - static_noise
      type: string
    call_summaries_enum_answered_by:
      enum:
        - unknown
        - machine_start
        - machine_end_beep
        - machine_end_silence
        - machine_end_other
        - human
        - fax
      type: string
    call_summaries_enum_call_direction:
      enum:
        - outbound_api
        - outbound_dial
        - inbound
        - trunking_originating
        - trunking_terminating
      type: string
    call_summaries_enum_call_state:
      enum:
        - ringing
        - completed
        - busy
        - fail
        - noanswer
        - canceled
        - answered
        - undialed
      type: string
    call_summaries_enum_call_type:
      enum:
        - carrier
        - sip
        - trunking
        - client
      type: string
    call_summaries_enum_processing_state:
      enum:
        - complete
        - partial
      type: string
    call_summaries_enum_processing_state_request:
      enum:
        - completed
        - started
        - partial
        - all
      type: string
    call_summaries_enum_sort_by:
      enum:
        - start_time
        - end_time
      type: string
    conference_enum_conference_end_reason:
      enum:
        - last_participant_left
        - conference_ended_via_api
        - participant_with_end_conference_on_exit_left
        - last_participant_kicked
        - participant_with_end_conference_on_exit_kicked
      type: string
    conference_enum_conference_status:
      enum:
        - in_progress
        - not_started
        - completed
        - summary_timeout
      type: string
    conference_enum_processing_state:
      enum:
        - complete
        - in_progress
        - timeout
      type: string
    conference_enum_region:
      enum:
        - us1
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - de1
      type: string
    conference_enum_tag:
      enum:
        - invalid_requested_region
        - duplicate_identity
        - start_failure
        - region_configuration_issues
        - quality_warnings
        - participant_behavior_issues
        - high_packet_loss
        - high_jitter
        - high_latency
        - low_mos
        - detected_silence
      type: string
    conference_participant_enum_call_direction:
      enum:
        - inbound
        - outbound
      type: string
    conference_participant_enum_call_status:
      enum:
        - answered
        - completed
        - busy
        - fail
        - noanswer
        - ringing
        - canceled
      type: string
    conference_participant_enum_call_type:
      enum:
        - carrier
        - client
        - sip
      type: string
    conference_participant_enum_jitter_buffer_size:
      enum:
        - large
        - small
        - medium
        - off
      type: string
    conference_participant_enum_processing_state:
      enum:
        - complete
        - in_progress
        - timeout
      type: string
    conference_participant_enum_region:
      enum:
        - us1
        - us2
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - de1
      type: string
    event_enum_level:
      enum:
        - UNKNOWN
        - DEBUG
        - INFO
        - WARNING
        - ERROR
      type: string
    event_enum_twilio_edge:
      enum:
        - unknown_edge
        - carrier_edge
        - sip_edge
        - sdk_edge
        - client_edge
      type: string
    insights.v1.account_settings:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        advanced_features:
          description: A boolean flag indicating whether Advanced Features for Voice Insights are enabled.
          nullable: true
          type: boolean
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
        voice_trace:
          description: A boolean flag indicating whether Voice Trace is enabled.
          nullable: true
          type: boolean
      type: object
    insights.v1.call:
      properties:
        links:
          format: uri-map
          nullable: true
          type: object
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.call.annotation:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        answered_by:
          $ref: "#/components/schemas/annotation_enum_answered_by"
          description: "Specifies which entity answered the call as determined by Answering Machine Detection. Possible enumerated values, one of: `human`, `machine`. `human` indicates the call was answered by a person. `machine` indicates the call was answered by an answering machine."
          nullable: true
          type: string
        call_score:
          description: "Specifies the Call Score, if available. This is of type integer. Use a range of 1-5 to indicate the call experience score, with the following mapping as a reference for rating the call [5: Excellent, 4: Good, 3 : Fair, 2 : Poor, 1: Bad]."
          nullable: true
          type: integer
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        comment:
          description: Specifies any comments pertaining to the call. Twilio does not treat this field as PII, so no PII should be included in comments.
          nullable: true
          type: string
        connectivity_issue:
          $ref: "#/components/schemas/annotation_enum_connectivity_issue"
          description: Specifies if the call had any connectivity issues. One of `no_connectivity_issue`, `invalid_number`, `caller_id`, `dropped_call`, or `number_reachability`.
          nullable: true
          type: string
        incident:
          description: Incident or support ticket associated with this call. The `incident` property is of type string with a maximum character limit of 100. Twilio does not treat this field as PII, so no PII should be included in `incident`.
          nullable: true
          type: string
        quality_issues:
          description: Specifies if the call had any subjective quality issues. Possible values are one or more of `no_quality_issue`, `low_volume`, `choppy_robotic`, `echo`, `dtmf`, `latency`, `owa`, or `static_noise`.
          items:
            type: string
          nullable: true
          type: array
        spam:
          description: "Specifies if the call was a spam call. Use this to provide feedback on whether calls placed from your account were marked as spam, or if inbound calls received by your account were unwanted spam. Is of type Boolean: true, false. Use true if the call was a spam call."
          nullable: true
          type: boolean
        url:
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.call.event:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        carrier_edge:
          description: Represents the connection between Twilio and our immediate carrier partners. The events here describe the call lifecycle as reported by Twilio's carrier media gateways.
          nullable: true
        client_edge:
          description: Represents the Twilio media gateway for Client calls. The events here describe the call lifecycle as reported by Twilio's Voice SDK media gateways.
          nullable: true
        edge:
          $ref: "#/components/schemas/event_enum_twilio_edge"
          description: The Edge of this Event. One of `unknown_edge`, `carrier_edge`, `sip_edge`, `sdk_edge` or `client_edge`.
          nullable: true
          type: string
        group:
          description: Event group.
          nullable: true
          type: string
        level:
          $ref: "#/components/schemas/event_enum_level"
          description: The Level of this Event. One of `UNKNOWN`, `DEBUG`, `INFO`, `WARNING` or `ERROR`.
          nullable: true
          type: string
        name:
          description: Event name.
          nullable: true
          type: string
        sdk_edge:
          description: Represents the Voice SDK running locally in the browser or in the Android/iOS application. The events here are emitted by the Voice SDK in response to certain call progress events, network changes, or call quality conditions.
          nullable: true
        sip_edge:
          description: Represents the Twilio media gateway for SIP interface and SIP trunking calls. The events here describe the call lifecycle as reported by Twilio's public media gateways.
          nullable: true
        timestamp:
          description: Event time.
          nullable: true
          type: string
      type: object
    insights.v1.call.metric:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway of a PSTN call.
          nullable: true
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway of a Client call.
          nullable: true
        direction:
          $ref: "#/components/schemas/metric_enum_stream_direction"
          description: The Direction of the media stream from the perspective of the Twilio media edge. One of `unknown`, `inbound`, `outbound` or `both`.
          nullable: true
          type: string
        edge:
          $ref: "#/components/schemas/metric_enum_twilio_edge"
          description: The Twilio media edge this Metric was captured on. One of `unknown_edge`, `carrier_edge`, `sip_edge`, `sdk_edge` or `client_edge`.
          nullable: true
          type: string
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library for Client calls.
          nullable: true
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway of a SIP Interface or Trunking call.
          nullable: true
        timestamp:
          description: Timestamp of metric sample. Samples are taken every 10 seconds and contain the metrics for the previous 10 seconds.
          nullable: true
          type: string
      type: object
    insights.v1.call.summary:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        annotation:
          description: Programmatically labeled annotations for the Call. Developers can update the Call Summary records with Annotation during or after a Call. Annotations can be updated as long as the Call Summary record is addressable via the API.
          nullable: true
        answered_by:
          $ref: "#/components/schemas/summary_enum_answered_by"
          description: The Answered By value for the summarized call based on `Answering Machine Detection (AMD)`. One of `unknown`, `machine_start`, `machine_end_beep`, `machine_end_silence`, `machine_end_other`, `human` or `fax`. Refer to [AMD](https://www.twilio.com/docs/voice/answering-machine-detection) for more detail.
          nullable: true
          type: string
        attributes:
          description: Attributes capturing call-flow-specific details.
          nullable: true
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        call_state:
          $ref: "#/components/schemas/summary_enum_call_state"
          description: The Call State of the summarized Call. One of `ringing`, `completed`, `busy`, `fail`, `noanswer`, `canceled`, `answered`, `undialed`.
          nullable: true
          type: string
        call_type:
          $ref: "#/components/schemas/summary_enum_call_type"
          description: The Call Type of the summarized Call. One of `carrier`, `sip`, `trunking` or `client`.
          nullable: true
          type: string
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway of a PSTN call.
          nullable: true
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway of a Client call.
          nullable: true
        connect_duration:
          description: Duration between when the call was answered and when it ended
          nullable: true
          type: integer
        created_time:
          description: The time at which the Call was created, given in ISO 8601 format. Can be different from `start_time` in the event of queueing due to CPS
          format: date-time
          nullable: true
          type: string
        duration:
          description: Duration between when the call was initiated and the call was ended
          nullable: true
          type: integer
        end_time:
          description: The time at which the Call was ended, given in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        from:
          description: The calling party.
          nullable: true
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        processing_state:
          $ref: "#/components/schemas/summary_enum_processing_state"
          description: The Processing State of the Call Summary. The Processing State will be `partial` until the assembly of the Call Summary finishes, which occurs approximately 30 minutes after Call end. Then the Processing State changes to `complete`
          nullable: true
          type: string
        properties:
          description: Contains edge-agnostic call-level details.
          nullable: true
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library for Client calls.
          nullable: true
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway of a SIP Interface or Trunking call.
          nullable: true
        start_time:
          description: The time at which the Call was started, given in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        tags:
          description: Tags applied to calls by Voice Insights analysis indicating a condition that could result in subjective degradation of the call quality.
          items:
            type: string
          nullable: true
          type: array
        to:
          description: The called party.
          nullable: true
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        trust:
          description: Contains trusted communications details including Branded Call and verified caller ID.
          nullable: true
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.call_summaries:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        annotation:
          nullable: true
        answered_by:
          $ref: "#/components/schemas/call_summaries_enum_answered_by"
          description: The Answered By value for the summarized call based on `Answering Machine Detection (AMD)`. One of `unknown`, `machine_start`, `machine_end_beep`, `machine_end_silence`, `machine_end_other`, `human` or `fax`. Refer to [AMD](https://www.twilio.com/docs/voice/answering-machine-detection) for more detail.
          nullable: true
          type: string
        attributes:
          description: Attributes capturing call-flow-specific details.
          nullable: true
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        call_state:
          $ref: "#/components/schemas/call_summaries_enum_call_state"
          description: The Call State of the summarized Call. One of `ringing`, `completed`, `busy`, `fail`, `noanswer`, `canceled`, `answered`, `undialed`.
          nullable: true
          type: string
        call_type:
          $ref: "#/components/schemas/call_summaries_enum_call_type"
          description: The Call Type of the summarized Call. One of `carrier`, `sip`, `trunking` or `client`.
          nullable: true
          type: string
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway of a PSTN call.
          nullable: true
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway of a Client call.
          nullable: true
        connect_duration:
          description: Duration between when the call was answered and when it ended
          nullable: true
          type: integer
        created_time:
          description: The time at which the Call was created, given in ISO 8601 format. Can be different from `start_time` in the event of queueing due to CPS
          format: date-time
          nullable: true
          type: string
        duration:
          description: Duration between when the call was initiated and the call was ended
          nullable: true
          type: integer
        end_time:
          description: The time at which the Call was ended, given in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        from:
          description: The calling party.
          nullable: true
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        processing_state:
          $ref: "#/components/schemas/call_summaries_enum_processing_state"
          description: The Processing State of the Call Summary. The Processing State will be `partial` until the assembly of the Call Summary finishes, which occurs approximately 30 minutes after Call end. Then the Processing State changes to `complete`
          nullable: true
          type: string
        properties:
          description: Contains edge-agnostic call-level details.
          nullable: true
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library for Client calls.
          nullable: true
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway of a SIP Interface or Trunking call.
          nullable: true
        start_time:
          description: The time at which the Call was started, given in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        tags:
          description: Tags applied to calls by Voice Insights analysis indicating a condition that could result in subjective degradation of the call quality.
          items:
            type: string
          nullable: true
          type: array
        to:
          description: The called party.
          nullable: true
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        trust:
          description: Contains trusted communications details including Branded Call and verified caller ID.
          nullable: true
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.conference:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        conference_sid:
          description: The unique SID identifier of the Conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CF[0-9a-fA-F]{32}$
          type: string
        connect_duration_seconds:
          description: Duration of the between conference start event and conference end event in seconds.
          nullable: true
          type: integer
        create_time:
          description: Conference creation date and time in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        detected_issues:
          description: Potential issues detected by Twilio during the conference.
          nullable: true
        duration_seconds:
          description: Conference duration in seconds.
          nullable: true
          type: integer
        end_reason:
          $ref: "#/components/schemas/conference_enum_conference_end_reason"
          description: Conference end reason; e.g. last participant left, modified by API, etc.
          nullable: true
          type: string
        end_time:
          description: Conference end date and time in ISO 8601 format.
          format: date-time
          nullable: true
          type: string
        ended_by:
          description: Call SID of the participant whose actions ended the conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        friendly_name:
          description: Custom label for the conference resource, up to 64 characters.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          description: Contains a dictionary of URL links to nested resources of this Conference.
          format: uri-map
          nullable: true
          type: object
        max_concurrent_participants:
          description: Actual maximum number of concurrent participants in the conference.
          nullable: true
          type: integer
        max_participants:
          description: Maximum number of concurrent participants as specified by the configuration.
          nullable: true
          type: integer
        mixer_region:
          $ref: "#/components/schemas/conference_enum_region"
          description: Twilio region where the conference media was mixed.
          nullable: true
          type: string
        mixer_region_requested:
          $ref: "#/components/schemas/conference_enum_region"
          description: Twilio region where conference mixed was specified to be mixed in configuration.
          nullable: true
          type: string
        processing_state:
          $ref: "#/components/schemas/conference_enum_processing_state"
          description: Processing state for the Conference Summary resource. Will be `in_progress` while data is being aggregated, `timeout` if Twilio couldn't process the summary in 24hrs, and `complete` once aggregations and analysis has ended.
          nullable: true
          type: string
        recording_enabled:
          description: Boolean. Indicates whether recording was enabled at the conference mixer.
          nullable: true
          type: boolean
        start_time:
          description: Timestamp in ISO 8601 format when the conference started. Conferences do not start until at least two participants join, at least one of whom has startConferenceOnEnter=true.
          format: date-time
          nullable: true
          type: string
        status:
          $ref: "#/components/schemas/conference_enum_conference_status"
          description: Status of this Conference; `in_progress`, `not_started`, `completed` or `summary_timeout`. if Twilio don't receive `last_participant_left` event, summary will be timeout after 24 hours
          nullable: true
          type: string
        tag_info:
          description: Object. Contains details about conference tags including severity.
          nullable: true
        tags:
          description: Tags for detected conference conditions and participant behaviors which may be of interest.
          items:
            $ref: "#/components/schemas/conference_enum_tag"
            type: string
          nullable: true
          type: array
        unique_participants:
          description: Unique conference participants based on caller ID.
          nullable: true
          type: integer
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.conference.conference_participant:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        call_direction:
          $ref: "#/components/schemas/conference_participant_enum_call_direction"
          description: Call direction of the participant; inbound or outbound.
          nullable: true
          type: string
        call_sid:
          description: Unique SID identifier of the call that generated the Participant resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        call_status:
          $ref: "#/components/schemas/conference_participant_enum_call_status"
          description: Call status of the call that generated the participant.
          nullable: true
          type: string
        call_type:
          $ref: "#/components/schemas/conference_participant_enum_call_type"
          description: The Call Type of this Conference Participant. One of `carrier`, `client` or `sip`.
          nullable: true
          type: string
        coached_participants:
          description: Call SIDs coached by this participant.
          items:
            type: string
          nullable: true
          type: array
        conference_region:
          $ref: "#/components/schemas/conference_participant_enum_region"
          description: The Conference Region of this Conference Participant. One of `us1`, `us2`, `au1`, `br1`, `ie1`, `jp1`, `sg1` or `de1`.
          nullable: true
          type: string
        conference_sid:
          description: The unique SID identifier of the Conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CF[0-9a-fA-F]{32}$
          type: string
        country_code:
          description: ISO alpha-2 country code of the participant based on caller ID or called number.
          nullable: true
          type: string
        duration_seconds:
          description: Participant durations in seconds.
          nullable: true
          type: integer
        events:
          description: Object containing information of actions taken by participants. Contains a dictionary of URL links to nested resources of this Conference Participant.
          nullable: true
        from:
          description: Caller ID of the calling party.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        is_coach:
          description: Boolean. Indicated whether participant was a coach.
          nullable: true
          type: boolean
        is_moderator:
          description: Boolean. Indicates whether participant had startConferenceOnEnter=true or endConferenceOnExit=true.
          nullable: true
          type: boolean
        jitter_buffer_size:
          $ref: "#/components/schemas/conference_participant_enum_jitter_buffer_size"
          description: The Jitter Buffer Size of this Conference Participant. One of `large`, `small`, `medium` or `off`.
          nullable: true
          type: string
        join_time:
          description: ISO 8601 timestamp of participant join event.
          format: date-time
          nullable: true
          type: string
        label:
          description: The user-specified label of this participant.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        leave_time:
          description: ISO 8601 timestamp of participant leave event.
          format: date-time
          nullable: true
          type: string
        metrics:
          description: Object. Contains participant call quality metrics.
          nullable: true
        outbound_queue_length:
          description: Add Participant API only. Estimated time in queue at call creation.
          nullable: true
          type: integer
        outbound_time_in_queue:
          description: Add Participant API only. Actual time in queue in seconds.
          nullable: true
          type: integer
        participant_region:
          $ref: "#/components/schemas/conference_participant_enum_region"
          description: Twilio region where the participant media originates.
          nullable: true
          type: string
        participant_sid:
          description: SID for this participant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CP[0-9a-fA-F]{32}$
          type: string
        processing_state:
          $ref: "#/components/schemas/conference_participant_enum_processing_state"
          description: Processing state of the Participant Summary. Will be `in_progress` while data is being aggregated, `timeout` if Twilio couldn't process the summary in 24hrs, and `complete` once aggregations and analysis has ended.
          nullable: true
          type: string
        properties:
          description: Participant properties and metadata.
          nullable: true
        to:
          description: Called party.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.video_room_summary:
      properties:
        account_sid:
          description: Account SID associated with this room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        codecs:
          description: Codecs used by participants in the room. Can be `VP8`, `H264`, or `VP9`.
          items:
            $ref: "#/components/schemas/video_room_summary_enum_codec"
            type: string
          nullable: true
          type: array
        concurrent_participants:
          description: Actual number of concurrent participants.
          nullable: true
          type: integer
        create_time:
          description: Creation time of the room.
          format: date-time
          nullable: true
          type: string
        created_method:
          $ref: "#/components/schemas/video_room_summary_enum_created_method"
          description: How the room was created. Can be `sdk`, `ad_hoc`, or `api`.
          nullable: true
          type: string
        duration_sec:
          description: Total room duration from create time to end time.
          format: int64
          nullable: true
          type: integer
        edge_location:
          $ref: "#/components/schemas/video_room_summary_enum_edge_location"
          description: Edge location of Twilio media servers for the room. See [the list of public edge locations](https://www.twilio.com/docs/global-infrastructure/edge-locations#public-edge-locations) for the possible values.
          nullable: true
          type: string
        end_reason:
          $ref: "#/components/schemas/video_room_summary_enum_end_reason"
          description: Reason the room ended. Can be `room_ended_via_api` or `timeout`.
          nullable: true
          type: string
        end_time:
          description: End time for the room.
          format: date-time
          nullable: true
          type: string
        links:
          description: Room subresources.
          format: uri-map
          nullable: true
          type: object
        max_concurrent_participants:
          description: Maximum number of participants allowed in the room at the same time allowed by the application settings.
          nullable: true
          type: integer
        max_participants:
          description: Max number of total participants allowed by the application settings.
          nullable: true
          type: integer
        media_region:
          $ref: "#/components/schemas/video_room_summary_enum_twilio_realm"
          description: Region of Twilio media servers for the room. See [the list of possible media servers here](https://www.twilio.com/docs/video/ip-addresses).
          nullable: true
          type: string
        processing_state:
          $ref: "#/components/schemas/video_room_summary_enum_processing_state"
          description: Video Log Analyzer resource state. Will be either `in-progress` or `complete`. `in-progress` indicates that more details may be appended to the resource. `complete` indicates no further information will be added.
          nullable: true
          type: string
        recording_enabled:
          description: Boolean indicating if recording is enabled for the room.
          nullable: true
          type: boolean
        room_name:
          description: Room friendly name.
          nullable: true
          type: string
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RM[0-9a-fA-F]{32}$
          type: string
        room_status:
          $ref: "#/components/schemas/video_room_summary_enum_room_status"
          description: Status of the room. Can be `in_progress` or `completed`.
          nullable: true
          type: string
        room_type:
          $ref: "#/components/schemas/video_room_summary_enum_room_type"
          description: Type of room. Can be `go`, `peer_to_peer`, `group`, or `group_small`.
          nullable: true
          type: string
        status_callback:
          description: Webhook provided for status callbacks.
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: HTTP method provided for status callback URL.
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        total_participant_duration_sec:
          description: Combined amount of participant time in the room.
          format: int64
          nullable: true
          type: integer
        total_recording_duration_sec:
          description: Combined amount of recorded seconds for participants in the room.
          format: int64
          nullable: true
          type: integer
        unique_participant_identities:
          description: Unique number of participant identities.
          nullable: true
          type: integer
        unique_participants:
          description: Number of participants. May include duplicate identities for participants who left and rejoined.
          nullable: true
          type: integer
        url:
          description: URL for the room resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.video_room_summary.video_participant_summary:
      properties:
        account_sid:
          description: Account SID associated with the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        codecs:
          description: Codecs detected from the participant. Can be `VP8`, `H264`, or `VP9`.
          items:
            $ref: "#/components/schemas/video_participant_summary_enum_codec"
            type: string
          nullable: true
          type: array
        duration_sec:
          description: Amount of time in seconds the participant was in the room.
          format: int64
          nullable: true
          type: integer
        edge_location:
          $ref: "#/components/schemas/video_participant_summary_enum_edge_location"
          description: Name of the edge location the participant connected to. See [the list of public edge locations](https://www.twilio.com/docs/global-infrastructure/edge-locations#public-edge-locations) for the possible values.
          nullable: true
          type: string
        end_reason:
          description: Reason the participant left the room. See [the list of possible values here](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#end_reason).
          nullable: true
          type: string
        error_code:
          description: Errors encountered by the participant.
          nullable: true
          type: integer
        error_code_url:
          description: Twilio error code dictionary link.
          nullable: true
          type: string
        join_time:
          description: When the participant joined the room.
          format: date-time
          nullable: true
          type: string
        leave_time:
          description: When the participant left the room.
          format: date-time
          nullable: true
          type: string
        media_region:
          $ref: "#/components/schemas/video_participant_summary_enum_twilio_realm"
          description: Twilio media region the participant connected to. See [the list of possible media servers here](https://www.twilio.com/docs/video/ip-addresses).
          nullable: true
          type: string
        participant_identity:
          description: The application-defined string that uniquely identifies the participant within a Room.
          nullable: true
          type: string
        participant_sid:
          description: Unique identifier for the participant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PA[0-9a-fA-F]{32}$
          type: string
        properties:
          description: Object containing information about the participant's data from the room. See [below](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#properties) for more information.
          nullable: true
        publisher_info:
          description: Object containing information about the SDK name and version. See [below](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#publisher_info) for more information.
          nullable: true
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RM[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/video_participant_summary_enum_room_status"
          description: Status of the room. Can be `in_progress` or `completed`.
          nullable: true
          type: string
        url:
          description: URL of the participant resource.
          format: uri
          nullable: true
          type: string
      type: object
    metric_enum_stream_direction:
      enum:
        - unknown
        - inbound
        - outbound
        - both
      type: string
    metric_enum_twilio_edge:
      enum:
        - unknown_edge
        - carrier_edge
        - sip_edge
        - sdk_edge
        - client_edge
      type: string
    summary_enum_answered_by:
      enum:
        - unknown
        - machine_start
        - machine_end_beep
        - machine_end_silence
        - machine_end_other
        - human
        - fax
      type: string
    summary_enum_call_state:
      enum:
        - ringing
        - completed
        - busy
        - fail
        - noanswer
        - canceled
        - answered
        - undialed
      type: string
    summary_enum_call_type:
      enum:
        - carrier
        - sip
        - trunking
        - client
      type: string
    summary_enum_processing_state:
      enum:
        - complete
        - partial
      type: string
    video_participant_summary_enum_codec:
      enum:
        - VP8
        - H264
        - VP9
      type: string
    video_participant_summary_enum_edge_location:
      enum:
        - ashburn
        - dublin
        - frankfurt
        - singapore
        - sydney
        - sao_paulo
        - roaming
        - umatilla
        - tokyo
      type: string
    video_participant_summary_enum_room_status:
      enum:
        - in_progress
        - completed
      type: string
    video_participant_summary_enum_twilio_realm:
      enum:
        - us1
        - us2
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - in1
        - de1
        - gll
      type: string
    video_room_summary_enum_codec:
      enum:
        - VP8
        - H264
        - VP9
      type: string
    video_room_summary_enum_created_method:
      enum:
        - sdk
        - ad_hoc
        - api
      type: string
    video_room_summary_enum_edge_location:
      enum:
        - ashburn
        - dublin
        - frankfurt
        - singapore
        - sydney
        - sao_paulo
        - roaming
        - umatilla
        - tokyo
      type: string
    video_room_summary_enum_end_reason:
      enum:
        - room_ended_via_api
        - timeout
      type: string
    video_room_summary_enum_processing_state:
      enum:
        - complete
        - in_progress
      type: string
    video_room_summary_enum_room_status:
      enum:
        - in_progress
        - completed
      type: string
    video_room_summary_enum_room_type:
      enum:
        - go
        - peer_to_peer
        - group
        - group_small
      type: string
    video_room_summary_enum_twilio_realm:
      enum:
        - us1
        - us2
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - in1
        - de1
        - gll
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact https://www.twilio.com/help/contact.
    name: Preview
