swagger: '2.0'
info:
  version: '2016-11-28'
  x-release: v4
  title: AWS Organizations
  description: <fullname>AWS Organizations</fullname>
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: organizations
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/organizations-2016-11-28.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/organizations/'
host: organizations.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://organizations.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Organizations multi-region endpoint
  - url: 'https://organizations.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Organizations multi-region endpoint
  - url: 'http://organizations.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Organizations endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://organizations.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Organizations endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSOrganizationsV20161128.AcceptHandshake':
    post:
      operationId: AcceptHandshake
      description: '<p>Sends a response to the originator of a handshake agreeing to the action proposed by the handshake request. </p> <p>This operation can be called only by the following principals when they also have the relevant IAM permissions:</p> <ul> <li> <p> <b>Invitation to join</b> or <b>Approve all features request</b> handshakes: only a principal from the member account. </p> <p>The user who calls the API for an invitation to join must have the <code>organizations:AcceptHandshake</code> permission. If you enabled all features in the organization, the user must also have the <code>iam:CreateServiceLinkedRole</code> permission so that AWS Organizations can create the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integration_services.html#orgs_integration_service-linked-roles">AWS Organizations and Service-Linked Roles</a> in the <i>AWS Organizations User Guide</i>.</p> </li> <li> <p> <b>Enable all features final confirmation</b> handshake: only a principal from the master account.</p> <p>For more information about invitations, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_invites.html">Inviting an AWS Account to Join Your Organization</a> in the <i>AWS Organizations User Guide.</i> For more information about requests to enable all features in the organization, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html">Enabling All Features in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> </li> </ul> <p>After you accept a handshake, it continues to appear in the results of relevant APIs for only 30 days. After that, it''s deleted.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptHandshakeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: HandshakeConstraintViolationException
          schema:
            $ref: '#/definitions/HandshakeConstraintViolationException'
        '483':
          description: HandshakeNotFoundException
          schema:
            $ref: '#/definitions/HandshakeNotFoundException'
        '484':
          description: InvalidHandshakeTransitionException
          schema:
            $ref: '#/definitions/InvalidHandshakeTransitionException'
        '485':
          description: HandshakeAlreadyInStateException
          schema:
            $ref: '#/definitions/HandshakeAlreadyInStateException'
        '486':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '487':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '488':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '489':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '490':
          description: AccessDeniedForDependencyException
          schema:
            $ref: '#/definitions/AccessDeniedForDependencyException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptHandshakeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.AcceptHandshake
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.AttachPolicy':
    post:
      operationId: AttachPolicy
      description: '<p>Attaches a policy to a root, an organizational unit (OU), or an individual account.</p> <p>How the policy affects accounts depends on the type of policy:</p> <ul> <li> <p>For more information about attaching SCPs, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_about-scps.html">How SCPs Work</a> in the <i>AWS Organizations User Guide.</i> </p> </li> <li> <p>For information about attaching tag policies, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies-inheritance.html">How Policy Inheritance Works</a> in the <i>AWS Organizations User Guide.</i> </p> </li> </ul> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: DuplicatePolicyAttachmentException
          schema:
            $ref: '#/definitions/DuplicatePolicyAttachmentException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '487':
          description: PolicyTypeNotEnabledException
          schema:
            $ref: '#/definitions/PolicyTypeNotEnabledException'
        '488':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '489':
          description: TargetNotFoundException
          schema:
            $ref: '#/definitions/TargetNotFoundException'
        '490':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '491':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
        '492':
          description: PolicyChangesInProgressException
          schema:
            $ref: '#/definitions/PolicyChangesInProgressException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachPolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.AttachPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CancelHandshake':
    post:
      operationId: CancelHandshake
      description: '<p>Cancels a handshake. Canceling a handshake sets the handshake state to <code>CANCELED</code>. </p> <p>This operation can be called only from the account that originated the handshake. The recipient of the handshake can''t cancel it, but can use <a>DeclineHandshake</a> instead. After a handshake is canceled, the recipient can no longer respond to that handshake.</p> <p>After you cancel a handshake, it continues to appear in the results of relevant APIs for only 30 days. After that, it''s deleted.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelHandshakeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: HandshakeNotFoundException
          schema:
            $ref: '#/definitions/HandshakeNotFoundException'
        '483':
          description: InvalidHandshakeTransitionException
          schema:
            $ref: '#/definitions/InvalidHandshakeTransitionException'
        '484':
          description: HandshakeAlreadyInStateException
          schema:
            $ref: '#/definitions/HandshakeAlreadyInStateException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelHandshakeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CancelHandshake
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CreateAccount':
    post:
      operationId: CreateAccount
      description: '<p>Creates an AWS account that is automatically a member of the organization whose credentials made the request. This is an asynchronous request that AWS performs in the background. Because <code>CreateAccount</code> operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:</p> <ul> <li> <p>Use the <code>OperationId</code> response element from this operation to provide as a parameter to the <a>DescribeCreateAccountStatus</a> operation.</p> </li> <li> <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For information on using AWS CloudTrail with AWS Organizations, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html">Monitoring the Activity in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> </li> </ul> <p/> <p>The user who calls the API to create an account must have the <code>organizations:CreateAccount</code> permission. If you enabled all features in the organization, AWS Organizations creates the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs">AWS Organizations and Service-Linked Roles</a> in the <i>AWS Organizations User Guide</i>.</p> <p>AWS Organizations preconfigures the new member account with a role (named <code>OrganizationAccountAccessRole</code> by default) that grants users in the master account administrator permissions in the new member account. Principals in the master account can assume the role. AWS Organizations clones the company name and address information for the new account from the organization''s master account.</p> <p>This operation can be called only from the organization''s master account.</p> <p>For more information about creating accounts, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html">Creating an AWS Account in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> <important> <ul> <li> <p>When you create an account in an organization, the information required for the account to operate as a standalone account is <i>not</i> automatically collected. For example, information about the payment method and signing the end user license agreement (EULA) is not collected. If you must remove an account from your organization later, you can do so only after you provide the missing information. Follow the steps at <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info"> To leave an organization as a member account</a> in the <i>AWS Organizations User Guide</i>.</p> </li> <li> <p>If you get an exception that indicates that you exceeded your account limits for the organization, contact <a href="https://console.aws.amazon.com/support/home#/">AWS Support</a>.</p> </li> <li> <p>If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact <a href="https://console.aws.amazon.com/support/home#/">AWS Support</a>.</p> </li> <li> <p>Using <code>CreateAccount</code> to create multiple temporary accounts isn''t recommended. You can only close an account from the Billing and Cost Management Console, and you must be signed in as the root user. For information on the requirements and process for closing an account, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html">Closing an AWS Account</a> in the <i>AWS Organizations User Guide</i>.</p> </li> </ul> </important> <note> <p>When you create a member account with this operation, you can choose whether to create the account with the <b>IAM User and Role Access to Billing Information</b> switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html">Granting Access to Your Billing Information and Tools</a>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccountResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: FinalizingOrganizationException
          schema:
            $ref: '#/definitions/FinalizingOrganizationException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '488':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAccountRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CreateAccount
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CreateGovCloudAccount':
    post:
      operationId: CreateGovCloudAccount
      description: '<p>This action is available if all of the following are true:</p> <ul> <li> <p>You''re authorized to create accounts in the AWS GovCloud (US) Region. For more information on the AWS GovCloud (US) Region, see the <a href="http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/welcome.html"> <i>AWS GovCloud User Guide</i>.</a> </p> </li> <li> <p>You already have an account in the AWS GovCloud (US) Region that is associated with your master account in the commercial Region. </p> </li> <li> <p>You call this action from the master account of your organization in the commercial Region.</p> </li> <li> <p>You have the <code>organizations:CreateGovCloudAccount</code> permission. AWS Organizations creates the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs">AWS Organizations and Service-Linked Roles</a> in the <i>AWS Organizations User Guide.</i> </p> </li> </ul> <p>AWS automatically enables AWS CloudTrail for AWS GovCloud (US) accounts, but you should also do the following:</p> <ul> <li> <p>Verify that AWS CloudTrail is enabled to store logs.</p> </li> <li> <p>Create an S3 bucket for AWS CloudTrail log storage.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/verifying-cloudtrail.html">Verifying AWS CloudTrail Is Enabled</a> in the <i>AWS GovCloud User Guide</i>. </p> </li> </ul> <p>You call this action from the master account of your organization in the commercial Region to create a standalone AWS account in the AWS GovCloud (US) Region. After the account is created, the master account of an organization in the AWS GovCloud (US) Region can invite it to that organization. For more information on inviting standalone accounts in the AWS GovCloud (US) to join an organization, see <a href="http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html">AWS Organizations</a> in the <i>AWS GovCloud User Guide.</i> </p> <p>Calling <code>CreateGovCloudAccount</code> is an asynchronous request that AWS performs in the background. Because <code>CreateGovCloudAccount</code> operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:</p> <ul> <li> <p>Use the <code>OperationId</code> response element from this operation to provide as a parameter to the <a>DescribeCreateAccountStatus</a> operation.</p> </li> <li> <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For information on using AWS CloudTrail with Organizations, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html">Monitoring the Activity in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> </li> </ul> <p/> <p>When you call the <code>CreateGovCloudAccount</code> action, you create two accounts: a standalone account in the AWS GovCloud (US) Region and an associated account in the commercial Region for billing and support purposes. The account in the commercial Region is automatically a member of the organization whose credentials made the request. Both accounts are associated with the same email address.</p> <p>A role is created in the new account in the commercial Region that allows the master account in the organization in the commercial Region to assume it. An AWS GovCloud (US) account is then created and associated with the commercial account that you just created. A role is created in the new AWS GovCloud (US) account. This role can be assumed by the AWS GovCloud (US) account that is associated with the master account of the commercial organization. For more information and to view a diagram that explains how account access works, see <a href="http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html">AWS Organizations</a> in the <i>AWS GovCloud User Guide.</i> </p> <p>For more information about creating accounts, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html">Creating an AWS Account in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> <important> <ul> <li> <p>You can create an account in an organization using the AWS Organizations console, API, or CLI commands. When you do, the information required for the account to operate as a standalone account, such as a payment method, is <i>not</i> automatically collected. If you must remove an account from your organization later, you can do so only after you provide the missing information. Follow the steps at <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info"> To leave an organization as a member account</a> in the <i>AWS Organizations User Guide.</i> </p> </li> <li> <p>If you get an exception that indicates that you exceeded your account limits for the organization, contact <a href="https://console.aws.amazon.com/support/home#/">AWS Support</a>.</p> </li> <li> <p>If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact <a href="https://console.aws.amazon.com/support/home#/">AWS Support</a>.</p> </li> <li> <p>Using <code>CreateGovCloudAccount</code> to create multiple temporary accounts isn''t recommended. You can only close an account from the AWS Billing and Cost Management console, and you must be signed in as the root user. For information on the requirements and process for closing an account, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html">Closing an AWS Account</a> in the <i>AWS Organizations User Guide</i>.</p> </li> </ul> </important> <note> <p>When you create a member account with this operation, you can choose whether to create the account with the <b>IAM User and Role Access to Billing Information</b> switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html">Granting Access to Your Billing Information and Tools</a>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGovCloudAccountResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: FinalizingOrganizationException
          schema:
            $ref: '#/definitions/FinalizingOrganizationException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '488':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGovCloudAccountRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CreateGovCloudAccount
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CreateOrganization':
    post:
      operationId: CreateOrganization
      description: '<p>Creates an AWS organization. The account whose user is calling the <code>CreateOrganization</code> operation automatically becomes the <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/orgs_getting-started_concepts.html#account">master account</a> of the new organization.</p> <p>This operation must be called using credentials from the account that is to become the new organization''s master account. The principal must also have the relevant IAM permissions.</p> <p>By default (or if you set the <code>FeatureSet</code> parameter to <code>ALL</code>), the new organization is created with all features enabled. In addition, service control policies are automatically enabled in the root. If you instead create the organization supporting only the consolidated billing features, no policy types are enabled by default, and you can''t use organization policies.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOrganizationResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AlreadyInOrganizationException
          schema:
            $ref: '#/definitions/AlreadyInOrganizationException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: AccessDeniedForDependencyException
          schema:
            $ref: '#/definitions/AccessDeniedForDependencyException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrganizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CreateOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CreateOrganizationalUnit':
    post:
      operationId: CreateOrganizationalUnit
      description: '<p>Creates an organizational unit (OU) within a root or parent OU. An OU is a container for accounts that enables you to organize your accounts to apply policies according to your business requirements. The number of levels deep that you can nest OUs is dependent upon the policy types enabled for that root. For service control policies, the limit is five. </p> <p>For more information about OUs, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html">Managing Organizational Units</a> in the <i>AWS Organizations User Guide.</i> </p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOrganizationalUnitResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: DuplicateOrganizationalUnitException
          schema:
            $ref: '#/definitions/DuplicateOrganizationalUnitException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ParentNotFoundException
          schema:
            $ref: '#/definitions/ParentNotFoundException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '488':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrganizationalUnitRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CreateOrganizationalUnit
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.CreatePolicy':
    post:
      operationId: CreatePolicy
      description: '<p>Creates a policy of a specified type that you can attach to a root, an organizational unit (OU), or an individual AWS account.</p> <p>For more information about policies and their use, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies.html">Managing Organization Policies</a>.</p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePolicyResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: DuplicatePolicyException
          schema:
            $ref: '#/definitions/DuplicatePolicyException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: MalformedPolicyDocumentException
          schema:
            $ref: '#/definitions/MalformedPolicyDocumentException'
        '487':
          description: PolicyTypeNotAvailableForOrganizationException
          schema:
            $ref: '#/definitions/PolicyTypeNotAvailableForOrganizationException'
        '488':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '489':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '490':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.CreatePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DeclineHandshake':
    post:
      operationId: DeclineHandshake
      description: '<p>Declines a handshake request. This sets the handshake state to <code>DECLINED</code> and effectively deactivates the request.</p> <p>This operation can be called only from the account that received the handshake. The originator of the handshake can use <a>CancelHandshake</a> instead. The originator can''t reactivate a declined request, but can reinitiate the process with a new handshake request.</p> <p>After you decline a handshake, it continues to appear in the results of relevant API operations for only 30 days. After that, it''s deleted.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeclineHandshakeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: HandshakeNotFoundException
          schema:
            $ref: '#/definitions/HandshakeNotFoundException'
        '483':
          description: InvalidHandshakeTransitionException
          schema:
            $ref: '#/definitions/InvalidHandshakeTransitionException'
        '484':
          description: HandshakeAlreadyInStateException
          schema:
            $ref: '#/definitions/HandshakeAlreadyInStateException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeclineHandshakeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DeclineHandshake
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DeleteOrganization':
    post:
      operationId: DeleteOrganization
      description: Deletes the organization. You can delete an organization only by using credentials from the master account. The organization must be empty of member accounts.
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: OrganizationNotEmptyException
          schema:
            $ref: '#/definitions/OrganizationNotEmptyException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DeleteOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DeleteOrganizationalUnit':
    post:
      operationId: DeleteOrganizationalUnit
      description: <p>Deletes an organizational unit (OU) from a root or another OU. You must first remove all accounts and child OUs from the OU that you want to delete.</p> <p>This operation can be called only from the organization's master account.</p>
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: OrganizationalUnitNotEmptyException
          schema:
            $ref: '#/definitions/OrganizationalUnitNotEmptyException'
        '485':
          description: OrganizationalUnitNotFoundException
          schema:
            $ref: '#/definitions/OrganizationalUnitNotFoundException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteOrganizationalUnitRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DeleteOrganizationalUnit
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DeletePolicy':
    post:
      operationId: DeletePolicy
      description: '<p>Deletes the specified policy from your organization. Before you perform this operation, you must first detach the policy from all organizational units (OUs), roots, and accounts.</p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: PolicyInUseException
          schema:
            $ref: '#/definitions/PolicyInUseException'
        '485':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '488':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DeletePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeAccount':
    post:
      operationId: DescribeAccount
      description: <p>Retrieves AWS Organizations related information about the specified account.</p> <p>This operation can be called only from the organization's master account.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AccountNotFoundException
          schema:
            $ref: '#/definitions/AccountNotFoundException'
        '482':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeAccount
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeCreateAccountStatus':
    post:
      operationId: DescribeCreateAccountStatus
      description: <p>Retrieves the current status of an asynchronous request to create an account.</p> <p>This operation can be called only from the organization's master account.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCreateAccountStatusResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: CreateAccountStatusNotFoundException
          schema:
            $ref: '#/definitions/CreateAccountStatusNotFoundException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCreateAccountStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeCreateAccountStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeEffectivePolicy':
    post:
      operationId: DescribeEffectivePolicy
      description: '<p>Returns the contents of the effective tag policy for the account. The effective tag policy is the aggregation of any tag policies the account inherits, plus any policy directly that is attached to the account. </p> <p>This action returns information on tag policies only.</p> <p>For more information on policy inheritance, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies-inheritance.html">How Policy Inheritance Works</a> in the <i>AWS Organizations User Guide</i>.</p> <p>This operation can be called from any account in the organization.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEffectivePolicyResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: TargetNotFoundException
          schema:
            $ref: '#/definitions/TargetNotFoundException'
        '486':
          description: EffectivePolicyNotFoundException
          schema:
            $ref: '#/definitions/EffectivePolicyNotFoundException'
        '487':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '488':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEffectivePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeEffectivePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeHandshake':
    post:
      operationId: DescribeHandshake
      description: '<p>Retrieves information about a previously requested handshake. The handshake ID comes from the response to the original <a>InviteAccountToOrganization</a> operation that generated the handshake.</p> <p>You can access handshakes that are <code>ACCEPTED</code>, <code>DECLINED</code>, or <code>CANCELED</code> for only 30 days after they change to that state. They''re then deleted and no longer accessible.</p> <p>This operation can be called from any account in the organization.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHandshakeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: HandshakeNotFoundException
          schema:
            $ref: '#/definitions/HandshakeNotFoundException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHandshakeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeHandshake
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeOrganization':
    post:
      operationId: DescribeOrganization
      description: '<p>Retrieves information about the organization that the user''s account belongs to.</p> <p>This operation can be called from any account in the organization.</p> <note> <p>Even if a policy type is shown as available in the organization, you can disable it separately at the root level with <a>DisablePolicyType</a>. Use <a>ListRoots</a> to see the status of policy types for a specified root.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrganizationResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribeOrganizationalUnit':
    post:
      operationId: DescribeOrganizationalUnit
      description: <p>Retrieves information about an organizational unit (OU).</p> <p>This operation can be called only from the organization's master account.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrganizationalUnitResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '483':
          description: OrganizationalUnitNotFoundException
          schema:
            $ref: '#/definitions/OrganizationalUnitNotFoundException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrganizationalUnitRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribeOrganizationalUnit
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DescribePolicy':
    post:
      operationId: DescribePolicy
      description: <p>Retrieves information about a policy.</p> <p>This operation can be called only from the organization's master account.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePolicyResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '483':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DescribePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DetachPolicy':
    post:
      operationId: DetachPolicy
      description: '<p>Detaches a policy from a target root, organizational unit (OU), or account. If the policy being detached is a service control policy (SCP), the changes to permissions for IAM users and roles in affected accounts are immediate.</p> <p> <b>Note:</b> Every root, OU, and account must have at least one SCP attached. You can replace the default <code>FullAWSAccess</code> policy with one that limits the permissions that can be delegated. To do that, you must attach the replacement policy before you can remove the default one. This is the authorization strategy of using an <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_about-scps.html#orgs_policies_whitelist">allow list</a>. You could instead attach a second SCP and leave the <code>FullAWSAccess</code> SCP still attached. You could then specify <code>"Effect": "Deny"</code> in the second SCP to override the <code>"Effect": "Allow"</code> in the <code>FullAWSAccess</code> policy (or any other attached SCP). If you take these steps, you''re using the authorization strategy of a <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_about-scps.html#orgs_policies_blacklist">deny list</a>. </p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: PolicyNotAttachedException
          schema:
            $ref: '#/definitions/PolicyNotAttachedException'
        '486':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '488':
          description: TargetNotFoundException
          schema:
            $ref: '#/definitions/TargetNotFoundException'
        '489':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '490':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
        '491':
          description: PolicyChangesInProgressException
          schema:
            $ref: '#/definitions/PolicyChangesInProgressException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachPolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DetachPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DisableAWSServiceAccess':
    post:
      operationId: DisableAWSServiceAccess
      description: '<p>Disables the integration of an AWS service (the service that is specified by <code>ServicePrincipal</code>) with AWS Organizations. When you disable integration, the specified service no longer can create a <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html">service-linked role</a> in <i>new</i> accounts in your organization. This means the service can''t perform operations on your behalf on any new accounts in your organization. The service can still perform operations in older accounts until the service completes its clean-up from AWS Organizations.</p> <p/> <important> <p>We recommend that you disable integration between AWS Organizations and the specified AWS service by using the console or commands that are provided by the specified service. Doing so ensures that the other service is aware that it can clean up any resources that are required only for the integration. How the service cleans up its resources in the organization''s accounts depends on that service. For more information, see the documentation for the other AWS service.</p> </important> <p>After you perform the <code>DisableAWSServiceAccess</code> operation, the specified service can no longer perform operations in your organization''s accounts. The only exception is when the operations are explicitly permitted by IAM policies that are attached to your roles. </p> <p>For more information about integrating other services with AWS Organizations, including the list of services that work with Organizations, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html">Integrating AWS Organizations with Other AWS Services</a> in the <i>AWS Organizations User Guide.</i> </p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableAWSServiceAccessRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DisableAWSServiceAccess
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.DisablePolicyType':
    post:
      operationId: DisablePolicyType
      description: '<p>Disables an organizational control policy type in a root and detaches all policies of that type from the organization root, OUs, and accounts. A policy of a certain type can be attached to entities in a root only if that type is enabled in the root. After you perform this operation, you no longer can attach policies of the specified type to that root or to any organizational unit (OU) or account in that root. You can undo this by using the <a>EnablePolicyType</a> operation.</p> <p>This is an asynchronous request that AWS performs in the background. If you disable a policy for a root, it still appears enabled for the organization if <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html">all features</a> are enabled for the organization. AWS recommends that you first use <a>ListRoots</a> to see the status of policy types for a specified root, and then use this operation. </p> <p>This operation can be called only from the organization''s master account.</p> <p> To view the status of available policy types in the organization, use <a>DescribeOrganization</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisablePolicyTypeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: PolicyTypeNotEnabledException
          schema:
            $ref: '#/definitions/PolicyTypeNotEnabledException'
        '486':
          description: RootNotFoundException
          schema:
            $ref: '#/definitions/RootNotFoundException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '488':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '489':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
        '490':
          description: PolicyChangesInProgressException
          schema:
            $ref: '#/definitions/PolicyChangesInProgressException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisablePolicyTypeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.DisablePolicyType
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.EnableAWSServiceAccess':
    post:
      operationId: EnableAWSServiceAccess
      description: '<p>Enables the integration of an AWS service (the service that is specified by <code>ServicePrincipal</code>) with AWS Organizations. When you enable integration, you allow the specified service to create a <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html">service-linked role</a> in all the accounts in your organization. This allows the service to perform operations on your behalf in your organization and its accounts.</p> <important> <p>We recommend that you enable integration between AWS Organizations and the specified AWS service by using the console or commands that are provided by the specified service. Doing so ensures that the service is aware that it can create the resources that are required for the integration. How the service creates those resources in the organization''s accounts depends on that service. For more information, see the documentation for the other AWS service.</p> </important> <p>For more information about enabling services to integrate with AWS Organizations, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html">Integrating AWS Organizations with Other AWS Services</a> in the <i>AWS Organizations User Guide.</i> </p> <p>This operation can be called only from the organization''s master account and only if the organization has <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html">enabled all features</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableAWSServiceAccessRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.EnableAWSServiceAccess
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.EnableAllFeatures':
    post:
      operationId: EnableAllFeatures
      description: '<p>Enables all features in an organization. This enables the use of organization policies that can restrict the services and actions that can be called in each account. Until you enable all features, you have access only to consolidated billing. You can''t use any of the advanced account administration features that AWS Organizations supports. For more information, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html">Enabling All Features in Your Organization</a> in the <i>AWS Organizations User Guide.</i> </p> <important> <p>This operation is required only for organizations that were created explicitly with only the consolidated billing features enabled. Calling this operation sends a handshake to every invited account in the organization. The feature set change can be finalized and the additional features enabled only after all administrators in the invited accounts approve the change. Accepting the handshake approves the change.</p> </important> <p>After you enable all features, you can separately enable or disable individual policy types in a root using <a>EnablePolicyType</a> and <a>DisablePolicyType</a>. To see the status of policy types in a root, use <a>ListRoots</a>.</p> <p>After all invited member accounts accept the handshake, you finalize the feature set change by accepting the handshake that contains <code>"Action": "ENABLE_ALL_FEATURES"</code>. This completes the change.</p> <p>After you enable all features in your organization, the master account in the organization can apply policies on all member accounts. These policies can restrict what users and even administrators in those accounts can do. The master account can apply policies that prevent accounts from leaving the organization. Ensure that your account administrators are aware of this.</p> <p>This operation can be called only from the organization''s master account. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableAllFeaturesResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: HandshakeConstraintViolationException
          schema:
            $ref: '#/definitions/HandshakeConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableAllFeaturesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.EnableAllFeatures
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.EnablePolicyType':
    post:
      operationId: EnablePolicyType
      description: '<p>Enables a policy type in a root. After you enable a policy type in a root, you can attach policies of that type to the root, any organizational unit (OU), or account in that root. You can undo this by using the <a>DisablePolicyType</a> operation.</p> <p>This is an asynchronous request that AWS performs in the background. AWS recommends that you first use <a>ListRoots</a> to see the status of policy types for a specified root, and then use this operation. </p> <p>This operation can be called only from the organization''s master account.</p> <p>You can enable a policy type in a root only if that policy type is available in the organization. To view the status of available policy types in the organization, use <a>DescribeOrganization</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnablePolicyTypeResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '485':
          description: PolicyTypeAlreadyEnabledException
          schema:
            $ref: '#/definitions/PolicyTypeAlreadyEnabledException'
        '486':
          description: RootNotFoundException
          schema:
            $ref: '#/definitions/RootNotFoundException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '488':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '489':
          description: PolicyTypeNotAvailableForOrganizationException
          schema:
            $ref: '#/definitions/PolicyTypeNotAvailableForOrganizationException'
        '490':
          description: UnsupportedAPIEndpointException
          schema:
            $ref: '#/definitions/UnsupportedAPIEndpointException'
        '491':
          description: PolicyChangesInProgressException
          schema:
            $ref: '#/definitions/PolicyChangesInProgressException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnablePolicyTypeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.EnablePolicyType
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.InviteAccountToOrganization':
    post:
      operationId: InviteAccountToOrganization
      description: '<p>Sends an invitation to another account to join your organization as a member account. AWS Organizations sends email on your behalf to the email address that is associated with the other account''s owner. The invitation is implemented as a <a>Handshake</a> whose details are in the response.</p> <important> <ul> <li> <p>You can invite AWS accounts only from the same seller as the master account. For example, assume that your organization''s master account was created by Amazon Internet Services Pvt. Ltd (AISPL), an AWS seller in India. You can invite only other AISPL accounts to your organization. You can''t combine accounts from AISPL and AWS or from any other AWS seller. For more information, see <a href="http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/useconsolidatedbilliing-India.html">Consolidated Billing in India</a>.</p> </li> <li> <p>You might receive an exception that indicates that you exceeded your account limits for the organization or that the operation failed because your organization is still initializing. If so, wait one hour and then try again. If the error persists after an hour, contact <a href="https://console.aws.amazon.com/support/home#/">AWS Support</a>.</p> </li> </ul> </important> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InviteAccountToOrganizationResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: AccountOwnerNotVerifiedException
          schema:
            $ref: '#/definitions/AccountOwnerNotVerifiedException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: HandshakeConstraintViolationException
          schema:
            $ref: '#/definitions/HandshakeConstraintViolationException'
        '485':
          description: DuplicateHandshakeException
          schema:
            $ref: '#/definitions/DuplicateHandshakeException'
        '486':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '487':
          description: FinalizingOrganizationException
          schema:
            $ref: '#/definitions/FinalizingOrganizationException'
        '488':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '489':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InviteAccountToOrganizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.InviteAccountToOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.LeaveOrganization':
    post:
      operationId: LeaveOrganization
      description: '<p>Removes a member account from its parent organization. This version of the operation is performed by the account that wants to leave. To remove a member account as a user in the master account, use <a>RemoveAccountFromOrganization</a> instead.</p> <p>This operation can be called only from a member account in the organization.</p> <important> <ul> <li> <p>The master account in an organization with all features enabled can set service control policies (SCPs) that can restrict what administrators of member accounts can do. These restrictions can include preventing member accounts from successfully calling <code>LeaveOrganization</code>. </p> </li> <li> <p>You can leave an organization as a member account only if the account is configured with the information required to operate as a standalone account. When you create an account in an organization using the AWS Organizations console, API, or CLI, the information required of standalone accounts is <i>not</i> automatically collected. For each account that you want to make standalone, you must accept the end user license agreement (EULA). You must also choose a support plan, provide and verify the required contact information, and provide a current payment method. AWS uses the payment method to charge for any billable (not free tier) AWS activity that occurs while the account isn''t attached to an organization. Follow the steps at <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info"> To leave an organization when all required account information has not yet been provided</a> in the <i>AWS Organizations User Guide.</i> </p> </li> <li> <p>You can leave an organization only after you enable IAM user access to billing in your account. For more information, see <a href="http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html#ControllingAccessWebsite-Activate">Activating Access to the Billing and Cost Management Console</a> in the <i>AWS Billing and Cost Management User Guide.</i> </p> </li> </ul> </important>'
      responses:
        '200':
          description: Success
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AccountNotFoundException
          schema:
            $ref: '#/definitions/AccountNotFoundException'
        '482':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: MasterCannotLeaveOrganizationException
          schema:
            $ref: '#/definitions/MasterCannotLeaveOrganizationException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '488':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.LeaveOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.ListAWSServiceAccessForOrganization':
    post:
      operationId: ListAWSServiceAccessForOrganization
      description: '<p>Returns a list of the AWS services that you enabled to integrate with your organization. After a service on this list creates the resources that it requires for the integration, it can perform operations on your organization and its accounts.</p> <p>For more information about integrating other services with AWS Organizations, including the list of services that currently work with Organizations, see <a href="http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html">Integrating AWS Organizations with Other AWS Services</a> in the <i>AWS Organizations User Guide.</i> </p> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAWSServiceAccessForOrganizationResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: ConstraintViolationException
          schema:
            $ref: '#/definitions/ConstraintViolationException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAWSServiceAccessForOrganizationRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.ListAWSServiceAccessForOrganization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.ListAccounts':
    post:
      operationId: ListAccounts
      description: '<p>Lists all the accounts in the organization. To request only the accounts in a specified root or organizational unit (OU), use the <a>ListAccountsForParent</a> operation instead.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAccountsResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: AWSOrganizationsNotInUseException
          schema:
            $ref: '#/definitions/AWSOrganizationsNotInUseException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAccountsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSOrganizationsV20161128.ListAccounts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSOrganizationsV20161128.ListAccountsForParent':
    post:
      operationId: ListAccountsForParent
      description: '<p>Lists the accounts in an organization that are contained by the specified target root or organizational unit (OU). If you specify the root, you get a list of all the accounts that aren''t in any OU. If you specify an OU, you get a list of all the accounts in only that OU and not in any child OUs. To get a list of all accounts in the organization, use the <a>ListAccounts</a> operation.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization''s master account.</p>'
      responses:
        '200':
          description: Success
          schema:
[...]
