swagger: '2.0'
schemes:
  - https
host: sourcerepo.googleapis.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Access source code repositories hosted by Google.
  title: Cloud Source Repositories
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: google
      url: 'https://sourcerepo.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: sourcerepo
externalDocs:
  url: 'https://cloud.google.com/source-repositories/docs/apis'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/source.full_control': Manage your source code repositories
      'https://www.googleapis.com/auth/source.read_only': View the contents of your source code repositories
      'https://www.googleapis.com/auth/source.read_write': Manage the contents of your source code repositories
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/{name}':
    delete:
      description: Deletes a repo.
      operationId: sourcerepo.projects.repos.delete
      parameters:
        - description: |-
            The name of the repo to delete. Values are of the form
            `projects/<project>/repos/<repo>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
    get:
      description: Returns information about a repo.
      operationId: sourcerepo.projects.repos.get
      parameters:
        - description: |-
            The name of the requested repository. Values are of the form
            `projects/<project>/repos/<repo>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Repo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates information about a repo.
      operationId: sourcerepo.projects.repos.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateRepoRequest'
        - description: |-
            The name of the requested repository. Values are of the form
            `projects/<project>/repos/<repo>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Repo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
  '/v1/{name}/config':
    get:
      description: Returns the Cloud Source Repositories configuration of the project.
      operationId: sourcerepo.projects.getConfig
      parameters:
        - description: |-
            The name of the requested project. Values are of the form
            `projects/<project>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates the Cloud Source Repositories configuration of the project.
      operationId: sourcerepo.projects.updateConfig
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateProjectConfigRequest'
        - description: |-
            The name of the requested project. Values are of the form
            `projects/<project>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
  '/v1/{name}/repos':
    get:
      description: |-
        Returns all repos belonging to a project. The sizes of the repos are
        not set by ListRepos.  To get the size of a repo, use GetRepo.
      operationId: sourcerepo.projects.repos.list
      parameters:
        - description: |-
            The project ID whose repos should be listed. Values are of the form
            `projects/<project>`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Maximum number of repositories to return; between 1 and 500.
            If not set or zero, defaults to 100 at the server.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Resume listing repositories where a prior ListReposResponse
            left off. This is an opaque token that must be obtained from
            a recent, prior ListReposResponse's next_page_token field.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListReposResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{parent}/repos':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a repo in the given project with the given name.

        If the named repository already exists, `CreateRepo` returns
        `ALREADY_EXISTS`.
      operationId: sourcerepo.projects.repos.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Repo'
        - description: |-
            The project in which to create the repo. Values are of the form
            `projects/<project>`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Repo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
  '/v1/{resource}:getIamPolicy':
    get:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: sourcerepo.projects.repos.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.
      operationId: sourcerepo.projects.repos.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.
      operationId: sourcerepo.projects.repos.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/source.read_write'
      tags:
        - projects
definitions:
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:foo@gmail.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "fooservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:bar@gmail.com"
                    ]
                  }
                ]
              }
            ]
          }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts foo@gmail.com from DATA_READ logging, and
      bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:foo@gmail.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: A Google Apps domain name that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          Required
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  ListReposResponse:
    description: Response for ListRepos.  The size is not set in the returned repositories.
    properties:
      nextPageToken:
        description: |-
          If non-empty, additional repositories exist within the project. These
          can be retrieved by including this value in the next ListReposRequest's
          page_token field.
        type: string
      repos:
        description: The listed repos.
        items:
          $ref: '#/definitions/Repo'
        type: array
    type: object
  MirrorConfig:
    description: |-
      Configuration to automatically mirror a repository from another
      hosting service, for example GitHub or Bitbucket.
    properties:
      deployKeyId:
        description: |-
          ID of the SSH deploy key at the other hosting service.
          Removing this key from the other service would deauthorize
          Google Cloud Source Repositories from mirroring.
        type: string
      url:
        description: URL of the main repository at the other hosting service.
        type: string
      webhookId:
        description: |-
          ID of the webhook listening to updates to trigger mirroring.
          Removing this webhook from the other hosting service will stop
          Google Cloud Source Repositories from receiving notifications,
          and thereby disabling mirroring.
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` consists of a list of `bindings`. A `binding` binds a list of
      `members` to a `role`, where the members can be user accounts, Google groups,
      Google domains, and service accounts. A `role` is a named list of permissions
      defined by IAM.

      **JSON Example**

          {
            "bindings": [
              {
                "role": "roles/owner",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-other-app@appspot.gserviceaccount.com"
                ]
              },
              {
                "role": "roles/viewer",
                "members": ["user:sean@example.com"]
              }
            ]
          }

      **YAML Example**

          bindings:
          - members:
            - user:mike@example.com
            - group:admins@example.com
            - domain:google.com
            - serviceAccount:my-other-app@appspot.gserviceaccount.com
            role: roles/owner
          - members:
            - user:sean@example.com
            role: roles/viewer


      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: |-
          Associates a list of `members` to a `role`.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten blindly.
        format: byte
        type: string
      version:
        description: Deprecated.
        format: int32
        type: integer
    type: object
  ProjectConfig:
    description: Cloud Source Repositories configuration of a project.
    properties:
      enablePrivateKeyCheck:
        description: Reject a Git push that contains a private key.
        type: boolean
      name:
        description: The name of the project. Values are of the form `projects/<project>`.
        type: string
      pubsubConfigs:
        additionalProperties:
          $ref: '#/definitions/PubsubConfig'
        description: |-
          How this project publishes a change in the repositories through Cloud
          Pub/Sub. Keyed by the topic names.
        type: object
    type: object
  PubsubConfig:
    description: Configuration to publish a Cloud Pub/Sub message.
    properties:
      messageFormat:
        description: The format of the Cloud Pub/Sub messages.
        enum:
          - MESSAGE_FORMAT_UNSPECIFIED
          - PROTOBUF
          - JSON
        type: string
      serviceAccountEmail:
        description: |-
          Email address of the service account used for publishing Cloud Pub/Sub
          messages. This service account needs to be in the same project as the
          PubsubConfig. When added, the caller needs to have
          iam.serviceAccounts.actAs permission on this service account. If
          unspecified, it defaults to the compute engine default service account.
        type: string
      topic:
        description: |-
          A topic of Cloud Pub/Sub. Values are of the form
          `projects/<project>/topics/<topic>`. The project needs to be the same
          project as this config is in.
        type: string
    type: object
  Repo:
    description: A repository (or repo) is a Git repository storing versioned source content.
    properties:
      mirrorConfig:
        $ref: '#/definitions/MirrorConfig'
        description: |-
          How this repository mirrors a repository managed by another service.
          Read-only field.
      name:
        description: |-
          Resource name of the repository, of the form
          `projects/<project>/repos/<repo>`.  The repo name may contain slashes.
          eg, `projects/myproject/repos/name/with/slash`
        type: string
      pubsubConfigs:
        additionalProperties:
          $ref: '#/definitions/PubsubConfig'
        description: |-
          How this repository publishes a change in the repository through Cloud
          Pub/Sub. Keyed by the topic names.
        type: object
      size:
        description: |-
          The disk usage of the repo, in bytes. Read-only field. Size is only
          returned by GetRepo.
        format: int64
        type: string
      url:
        description: |-
          URL to clone the repository from Google Cloud Source Repositories.
          Read-only field.
        type: string
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
      updateMask:
        description: |-
          OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only
          the fields in the mask will be modified. If no mask is provided, the
          following default mask is used:
          paths: "bindings, etag"
          This field is only used by Cloud IAM.
        format: google-fieldmask
        type: string
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
  UpdateProjectConfigRequest:
    description: Request for UpdateProjectConfig.
    properties:
      projectConfig:
        $ref: '#/definitions/ProjectConfig'
        description: The new configuration for the project.
      updateMask:
        description: |-
          A FieldMask specifying which fields of the project_config to modify. Only
          the fields in the mask will be modified. If no mask is provided, this
          request is no-op.
        format: google-fieldmask
        type: string
    type: object
  UpdateRepoRequest:
    description: Request for UpdateRepo.
    properties:
      repo:
        $ref: '#/definitions/Repo'
        description: The new configuration for the repository.
      updateMask:
        description: |-
          A FieldMask specifying which fields of the repo to modify. Only the fields
          in the mask will be modified. If no mask is provided, this request is
          no-op.
        format: google-fieldmask
        type: string
    type: object
