openapi: 3.0.0
servers:
  - url: 'https://firebase.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'The Firebase Management API enables programmatic setup and management of Firebase projects, including a project''s Firebase resources and Firebase apps.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Firebase Management
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://firebase.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: firebase
externalDocs:
  url: 'https://firebase.google.com'
tags:
  - name: projects
  - name: availableProjects
  - name: operations
paths:
  /v1beta1/availableProjects:
    get:
      description: |-
        Returns a list of [Google Cloud Platform (GCP) `Projects`]
        (https://cloud.google.com/resource-manager/reference/rest/v1/projects)
        that are available to have Firebase resources added to them.
        <br>
        <br>A GCP `Project` will only be returned if:
        <ol>
          <li><p>The caller has sufficient
                 [Google IAM](https://cloud.google.com/iam) permissions to call
                 AddFirebase.</p></li>
          <li><p>The GCP `Project` is not already a FirebaseProject.</p></li>
          <li><p>The GCP `Project` is not in an Organization which has policies
                 that prevent Firebase resources from being added.</p></li>
        </ol>
      operationId: firebase.availableProjects.list
      parameters:
        - description: |-
            The maximum number of GCP `Projects` to return in the response.
            <br>
            <br>The server may return fewer than this value at its discretion.
            If no value is specified (or too large a value is specified), the server
            will impose its own limit.
            <br>
            <br>This value cannot be negative.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListAvailableProjects`
            indicating where in the set of GCP `Projects` to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAvailableProjectsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - availableProjects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
  /v1beta1/projects:
    get:
      description: |-
        Lists each FirebaseProject accessible to the caller.
        <br>
        <br>The elements are returned in no particular order, but they will be a
        consistent view of the Projects when additional requests are made with a
        `pageToken`.
        <br>
        <br>This method is eventually consistent with Project mutations, which
        means newly provisioned Projects and recent modifications to existing
        Projects might not be reflected in the set of Projects. The list will
        include only ACTIVE Projects.
        <br>
        <br>Use
        GetFirebaseProject
        for consistent reads as well as for additional Project details.
      operationId: firebase.projects.list
      parameters:
        - description: |-
            The maximum number of Projects to return in the response.
            <br>
            <br>The server may return fewer than this at its discretion.
            If no value is specified (or too large a value is specified), the server
            will impose its own limit.
            <br>
            <br>This value cannot be negative.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListFirebaseProjects` indicating
            where in the set of Projects to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListFirebaseProjectsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
  '/v1beta1/{name}':
    delete:
      description: Removes a SHA certificate from the specified AndroidApp.
      operationId: firebase.projects.androidApps.sha.delete
      parameters:
        - description: |-
            The fully qualified resource name of the `sha-key`, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var>/sha/<var>shaId</var></code>
            <br>You can obtain the full name from the response of
            [`ListShaCertificates`](../projects.androidApps.sha/list) or the original
            [`CreateShaCertificate`](../projects.androidApps.sha/create).
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: firebase.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    patch:
      description: |-
        Updates the attributes of the AndroidApp identified by the specified
        resource name.
      operationId: firebase.projects.androidApps.patch
      parameters:
        - description: |-
            The fully qualified resource name of the App, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var></code>
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Specifies which fields to update.
            <br>Note that the fields `name`, `appId`, `projectId`, and `packageName`
            are all immutable.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidApp'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AndroidApp'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}/androidApps':
    get:
      description: |-
        Lists each AndroidApp associated with the specified parent Project.
        <br>
        <br>The elements are returned in no particular order, but will be a
        consistent view of the Apps when additional requests are made with a
        `pageToken`.
      operationId: firebase.projects.androidApps.list
      parameters:
        - description: |-
            The parent Project for which to list Apps, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of Apps to return in the response.
            <br>
            <br>The server may return fewer than this at its discretion.
            If no value is specified (or too large a value is specified), then the
            server will impose its own limit.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListAndroidApps` indicating where
            in the set of Apps to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAndroidAppsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Requests that a new AndroidApp be created.
        <br>
        <br>The result of this call is an `Operation` which can be used to track
        the provisioning process. The `Operation` is automatically deleted after
        completion, so there is no need to call `DeleteOperation`.
      operationId: firebase.projects.androidApps.create
      parameters:
        - description: |-
            The parent Project in which to create an App, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidApp'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}/availableLocations':
    get:
      description: |-
        Returns a list of valid Google Cloud Platform (GCP) resource locations for
        the specified Project (including a FirebaseProject).
        <br>
        <br>One of these locations can be selected as the Project's [_default_ GCP
        resource location](https://firebase.google.com/docs/projects/locations),
        which is the geographical location where project resources, such as Cloud
        Firestore, will be provisioned by default. However, if the default GCP
        resource location has already been set for the Project, then this setting
        cannot be changed.
        <br>
        <br>This call checks for any possible
        [location
        restrictions](https://cloud.google.com/resource-manager/docs/organization-policy/defining-locations)
        for the specified Project and, thus, might return a subset of all possible
        GCP resource locations. To list all GCP resource locations (regardless of
        any restrictions), call the endpoint without specifying a `projectId` (that
        is, `/v1beta1/{parent=projects/-}/listAvailableLocations`).
        <br>
        <br>To call `ListAvailableLocations` with a specified project, a member
        must be at minimum a Viewer of the project. Calls without a specified
        project do not require any specific project permissions.
      operationId: firebase.projects.availableLocations.list
      parameters:
        - description: |-
            The Project for which to list GCP resource locations, in the format:
            <br><code>projects/<var>projectId</var></code>
            <br>If no project is specified (that is, `projects/-`), the returned list
            does not take into account org-specific or project-specific location
            restrictions.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of locations to return in the response.
            <br>
            <br>The server may return fewer than this value at its discretion.
            If no value is specified (or too large a value is specified), then the
            server will impose its own limit.
            <br>
            <br>This value cannot be negative.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListAvailableLocations` indicating
            where in the list of locations to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAvailableLocationsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
  '/v1beta1/{parent}/defaultLocation:finalize':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Sets the default Google Cloud Platform (GCP) resource location for the
        specified FirebaseProject.
        <br>
        <br>This method creates an App Engine application with a
        [default Cloud Storage
        bucket](https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/setting-up-cloud-storage#activating_a_cloud_storage_bucket),
        located in the specified
        [`location_id`](#body.request_body.FIELDS.location_id).
        This location must be one of the available
        [GCP resource
        locations](https://firebase.google.com/docs/projects/locations). <br>
        <br>After the default GCP resource location is finalized, or if it was
        already set, it cannot be changed. The default GCP resource location for
        the specified FirebaseProject might already be set because either the
        GCP `Project` already has an App Engine application or
        `FinalizeDefaultLocation` was previously called with a specified
        `location_id`. Any new calls to `FinalizeDefaultLocation` with a
        <em>different</em> specified `location_id` will return a 409 error.
        <br>
        <br>The result of this call is an [`Operation`](../../v1beta1/operations),
        which can be used to track the provisioning process. The
        [`response`](../../v1beta1/operations#Operation.FIELDS.response) type of
        the `Operation` is google.protobuf.Empty.
        <br>
        <br>The `Operation` can be polled by its `name` using
        GetOperation until `done` is
        true. When `done` is true, the `Operation` has either succeeded or failed.
        If the `Operation` has succeeded, its
        [`response`](../../v1beta1/operations#Operation.FIELDS.response) will be
        set to a google.protobuf.Empty; if the `Operation` has failed, its
        `error` will be set to a google.rpc.Status. The `Operation` is
        automatically deleted after completion, so there is no need to call
        DeleteOperation.
        <br>
        <br>All fields listed in the [request body](#request-body) are required.
        <br>
        <br>To call `FinalizeDefaultLocation`, a member must be an Owner
        of the project.
      operationId: firebase.projects.defaultLocation.finalize
      parameters:
        - description: |-
            The resource name of the Project for which the default GCP resource
            location will be set, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeDefaultLocationRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}/iosApps':
    get:
      description: |-
        Lists each IosApp associated with the specified parent Project.
        <br>
        <br>The elements are returned in no particular order, but will be a
        consistent view of the Apps when additional requests are made with a
        `pageToken`.
      operationId: firebase.projects.iosApps.list
      parameters:
        - description: |-
            The parent Project for which to list Apps, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of Apps to return in the response.
            <br>
            <br>The server may return fewer than this at its discretion.
            If no value is specified (or too large a value is specified), the server
            will impose its own limit.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListIosApps` indicating where in
            the set of Apps to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListIosAppsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Requests that a new IosApp be created.
        <br>
        <br>The result of this call is an `Operation` which can be used to track
        the provisioning process. The `Operation` is automatically deleted after
        completion, so there is no need to call `DeleteOperation`.
      operationId: firebase.projects.iosApps.create
      parameters:
        - description: |-
            The parent Project in which to create an App, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IosApp'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}/sha':
    get:
      description: |-
        Returns the list of SHA-1 and SHA-256 certificates for the specified
        AndroidApp.
      operationId: firebase.projects.androidApps.sha.list
      parameters:
        - description: |-
            The parent App for which to list SHA certificates, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var></code>
            <br>As an <var>appId</var> is a unique identifier, the Unique Resource
            from Sub-Collection access pattern may be used here, in the format:
            <br><code>projects/-/androidApps/<var>appId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListShaCertificatesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: Adds a SHA certificate to the specified AndroidApp.
      operationId: firebase.projects.androidApps.sha.create
      parameters:
        - description: |-
            The parent App to which a SHA certificate will be added, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var></code>
            <br>As an <var>appId</var> is a unique identifier, the Unique Resource
            from Sub-Collection access pattern may be used here, in the format:
            <br><code>projects/-/androidApps/<var>appId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShaCertificate'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShaCertificate'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}/webApps':
    get:
      description: |-
        Lists each WebApp associated with the specified parent Project.
        <br>
        <br>The elements are returned in no particular order, but will be a
        consistent view of the Apps when additional requests are made with a
        `pageToken`.
      operationId: firebase.projects.webApps.list
      parameters:
        - description: |-
            The parent Project for which to list Apps, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of Apps to return in the response.
            <br>
            <br>The server may return fewer than this value at its discretion.
            If no value is specified (or too large a value is specified), then the
            server will impose its own limit.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `ListWebApps` indicating where in
            the set of Apps to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListWebAppsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Requests that a new WebApp be created.
        <br>
        <br>The result of this call is an `Operation` which can be used to track
        the provisioning process. The `Operation` is automatically deleted after
        completion, so there is no need to call `DeleteOperation`.
      operationId: firebase.projects.webApps.create
      parameters:
        - description: |-
            The parent Project in which to create an App, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApp'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}:addGoogleAnalytics':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Links a FirebaseProject with an existing
        [Google Analytics account](http://www.google.com/analytics/).
        <br>
        <br>Using this call, you can either:
        <ul>
        <li>Specify an `analyticsAccountId` to provision a new Google Analytics
        property within the specified account and associate the new property with
        your `FirebaseProject`.</li>
        <li>Specify an existing `analyticsPropertyId` to associate the property
        with your `FirebaseProject`.</li>
        </ul>
        <br>
        Note that when you call `AddGoogleAnalytics`:
        <ol>
        <li>The first check determines if any existing data streams in the
        Google Analytics property correspond to any existing Firebase Apps in your
        `FirebaseProject` (based on the `packageName` or `bundleId` associated with
        the data stream). Then, as applicable, the data streams and apps are
        linked. Note that this auto-linking only applies to Android Apps and iOS
        Apps.</li>
        <li>If no corresponding data streams are found for your Firebase Apps,
        new data streams are provisioned in the Google Analytics property
        for each of your Firebase Apps. Note that a new data stream is always
        provisioned for a Web App even if it was previously associated with a
        data stream in your Analytics property.</li>
        </ol>
        Learn more about the hierarchy and structure of Google Analytics
        accounts in the
        [Analytics
        documentation](https://support.google.com/analytics/answer/9303323).
        <br>
        <br>The result of this call is an [`Operation`](../../v1beta1/operations).
        Poll the `Operation` to track the provisioning process by calling
        GetOperation until
        [`done`](../../v1beta1/operations#Operation.FIELDS.done) is `true`. When
        `done` is `true`, the `Operation` has either succeeded or failed. If the
        `Operation` succeeded, its
        [`response`](../../v1beta1/operations#Operation.FIELDS.response) is set to
        an AnalyticsDetails; if the `Operation` failed, its
        [`error`](../../v1beta1/operations#Operation.FIELDS.error) is set to a
        google.rpc.Status.
        <br>
        <br>To call `AddGoogleAnalytics`, a member must be an Owner for
        the existing `FirebaseProject` and have the
        [`Edit` permission](https://support.google.com/analytics/answer/2884495)
        for the Google Analytics account.
        <br>
        <br>If a `FirebaseProject` already has Google Analytics enabled, and you
        call `AddGoogleAnalytics` using an `analyticsPropertyId` that's different
        from the currently associated property, then the call will fail. Analytics
        may have already been enabled in the Firebase console or by specifying
        `timeZone` and `regionCode` in the call to
        [`AddFirebase`](../../v1beta1/projects/addFirebase).
      operationId: firebase.projects.addGoogleAnalytics
      parameters:
        - description: |-
            The parent `FirebaseProject` to link to an existing Google Analytics
            account, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGoogleAnalyticsRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}:removeAnalytics':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Unlinks the specified `FirebaseProject` from its Google Analytics account.
        <br>
        <br>This call removes the association of the specified `FirebaseProject`
        with its current Google Analytics property. However, this call does not
        delete the Google Analytics resources, such as the Google Analytics
        property or any data streams.
        <br>
        <br>These resources may be re-associated later to the `FirebaseProject` by
        calling
        [`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics) and
        specifying the same `analyticsPropertyId`. For Android Apps and iOS Apps,
        this call re-links data streams with their corresponding apps. However,
        for Web Apps, this call provisions a <em>new</em> data stream for each Web
        App.
        <br>
        <br>To call `RemoveAnalytics`, a member must be an Owner for
        the `FirebaseProject`.
      operationId: firebase.projects.removeAnalytics
      parameters:
        - description: |-
            The parent `FirebaseProject` to unlink from its Google Analytics account,
            in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAnalyticsRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
  '/v1beta1/{parent}:searchApps':
    get:
      description: |-
        A convenience method that lists all available Apps for the specified
        FirebaseProject.
        <br>
        <br>Typically, interaction with an App should be done using the
        platform-specific service, but some tool use-cases require a summary of all
        known Apps (such as for App selector interfaces).
      operationId: firebase.projects.searchApps
      parameters:
        - description: |-
            The parent Project for which to list Apps, in the format:
            <br><code>projects/<var>projectId</var></code>
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of Apps to return in the response.
            <br>
            <br>The server may return fewer than this value at its discretion.
            If no value is specified (or too large a value is specified), then the
            server will impose its own limit.
            <br>
            <br>This value cannot be negative.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: |-
            Token returned from a previous call to `SearchFirebaseApps` indicating
            where in the set of Apps to resume listing.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchFirebaseAppsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
  '/v1beta1/{project}:addFirebase':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
    post:
      description: |-
        Adds Firebase resources to the specified existing
        [Google Cloud Platform (GCP) `Project`]
        (https://cloud.google.com/resource-manager/reference/rest/v1/projects).
        <br>
        <br>Since a FirebaseProject is actually also a GCP `Project`, a
        `FirebaseProject` uses underlying GCP identifiers (most importantly,
        the `projectId`) as its own for easy interop with GCP APIs.
        <br>
        <br>The result of this call is an [`Operation`](../../v1beta1/operations).
        Poll the `Operation` to track the provisioning process by calling
        GetOperation until
        [`done`](../../v1beta1/operations#Operation.FIELDS.done) is `true`. When
        `done` is `true`, the `Operation` has either succeeded or failed. If the
        `Operation` succeeded, its
        [`response`](../../v1beta1/operations#Operation.FIELDS.response) is set to
        a FirebaseProject; if the `Operation` failed, its
        [`error`](../../v1beta1/operations#Operation.FIELDS.error) is set to a
        google.rpc.Status. The `Operation` is automatically deleted after
        completion, so there is no need to call
        DeleteOperation.
        <br>
        <br>This method does not modify any billing account information on the
        underlying GCP `Project`.
        <br>
        <br>To call `AddFirebase`, a member must be an Editor or Owner for the
        existing GCP `Project`. Service accounts cannot call `AddFirebase`.
      operationId: firebase.projects.addFirebase
      parameters:
        - description: |-
            The resource name of the GCP `Project` to which Firebase resources will be
            added, in the format:
            <br><code>projects/<var>projectId</var></code>
            After calling `AddFirebase`, the
            [`projectId`](https://cloud.google.com/resource-manager/reference/rest/v1/projects#Project.FIELDS.project_id)
            of the GCP `Project` is also the `projectId` of the FirebaseProject.
          in: path
          name: project
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFirebaseRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - '1'
          - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
  requestBodies:
    AndroidApp:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AndroidApp'
  schemas:
    AddFirebaseRequest:
      description: All fields are required.
      properties:
        locationId:
          description: |-
            Deprecated. Instead, to set your project's default GCP resource location,
            call [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)
            after you add Firebase resources to your project.
            <br>
            <br>The ID of the project's default GCP resource location. The location
            must be one of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations).
          type: string
        regionCode:
          description: |-
            Deprecated. Instead, to link your Project with a Google Analytics account,
            call [`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics)
            after you add Firebase resources to your Project.
            <br>
            <br>The region code (CLDR) that the account will use for Firebase Analytics
            data.
            <br>For example: US, GB, or DE
            <br>
            <br>In Java, use `com.google.i18n.identifiers.RegionCode`.
          type: string
        timeZone:
          description: |-
            Deprecated. Instead, to link your Project with a Google Analytics account,
            call [`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics)
            after you add Firebase resources to your Project.
            <br>
            <br>The time zone that the account will use for Firebase Analytics data.
            <br>For example: America/Los_Angeles or Africa/Abidjan
          type: string
      type: object
    AddGoogleAnalyticsRequest:
      properties:
        analyticsAccountId:
          description: |-
            The ID for the existing
            [Google Analytics account](http://www.google.com/analytics/) that you
            want to link with your `FirebaseProject`.
            <br>
            <br>Specifying this field will provision a new Google Analytics
            property in your Google Analytics account and associate the new property
            with your `FirebaseProject`.
          type: string
        analyticsPropertyId:
          description: |-
            The ID for the existing Google Analytics property that you want to
            associate with your `FirebaseProject`.
          type: string
      type: object
    AdminSdkConfig:
      properties:
        databaseURL:
          description: The default Firebase Realtime Database URL.
          type: string
        locationId:
          description: |-
            The ID of the project's default GCP resource location. The location is one
            of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations). <br>
            <br>This field is omitted if the default GCP resource location has not been
            finalized yet. To set your project's default GCP resource location,
            call [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)
            after you add Firebase services to your project.
          type: string
        projectId:
          description: |-
            Immutable. The globally unique, user-assigned project ID of the parent
            Project.
          type: string
        storageBucket:
          description: The default Cloud Storage for Firebase storage bucket name.
          type: string
      type: object
    AnalyticsDetails:
      properties:
        analyticsProperty:
          $ref: '#/components/schemas/AnalyticsProperty'
          description: |-
            The Analytics Property object associated with the specified
            `FirebaseProject`.
            <br>
            <br>This object contains the details of the Google Analytics property
            associated with the specified `FirebaseProject`.
        streamMappings:
          description: |-
            For Android Apps and iOS Apps: A map of `app` to `streamId` for each
            Firebase App in the specified `FirebaseProject`. Each `app` and
            `streamId` appears only once.<br>
            <br>
            For Web Apps: A map of `app` to `streamId` and `measurementId` for each
            Firebase App in the specified `FirebaseProject`. Each `app`, `streamId`,
            and `measurementId` appears only once.
          items:
            $ref: '#/components/schemas/StreamMapping'
          type: array
      type: object
    AnalyticsProperty:
      description: Details of a Google Analytics property
      properties:
        displayName:
          description: |-
            The display name of the Google Analytics property associated with the
            specified `FirebaseProject`.
          type: string
        id:
          description: |-
            The globally unique, Google-assigned identifier of the Google Analytics
            property associated with the specified `FirebaseProject`.
            <br>
            <br>If you called
            [`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics) to link
            your `FirebaseProject` with a Google Analytics account, the value in this
            `id` field is the same as the ID of the property either specified or
            provisioned with that call to `AddGoogleAnalytics`.
          type: string
      type: object
    AndroidApp:
      description: Details of a Firebase App for Android.
      properties:
        appId:
          description: |-
            Immutable. The globally unique, Firebase-assigned identifier of the App.
            <br>
            <br>This identifier should be treated as an opaque token, as the data
            format is not specified.
          type: string
        displayName:
          description: The user-assigned display name of the App.
          type: string
        name:
          description: |-
            The fully qualified resource name of the App, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var></code>
          type: string
        packageName:
          description: |-
            The canonical package name of the Android App as would appear in the
            Google Play Developer Console.
          type: string
        projectId:
          description: 'The globally unique, user-assigned ID of the parent Project for the App.'
          type: string
      type: object
    AndroidAppConfig:
      description: Configuration metadata of a single Firebase App for Android.
      properties:
        configFileContents:
          description: The contents of the JSON configuration file.
          format: byte
          type: string
        configFilename:
          description: |-
            The filename that the configuration artifact is typically saved as.
            <br>For example: `google-services.json`
          type: string
      type: object
    DefaultResources:
      description: The default resources associated with a `FirebaseProject`.
      properties:
        hostingSite:
          description: |-
            The default Firebase Hosting site name, in the format:
            <br><code><var>projectId</var></code>
            <br>Though rare, your `projectId` might already be used as the name for an
            existing Hosting site in another project (learn more about creating
            non-default,
            [additional sites](https://firebase.google.com/docs/hosting/multisites)).
            In these cases, your `projectId` is appended with a hyphen then five
            alphanumeric characters to create your default Hosting site name. For
            example, if your `projectId` is `myproject123`, your default Hosting site
            name might be:
            <br><code>myproject123-a5c16</code>
          type: string
        locationId:
          description: |-
            The ID of the project's default GCP resource location. The location is one
            of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations). <br>
            <br>This field is omitted if the default GCP resource location has not been
            finalized yet. To set your project's default GCP resource location,
            call [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)
            after you add Firebase services to your project.
          type: string
        realtimeDatabaseInstance:
          description: |-
            The default Firebase Realtime Database instance name, in the format:
            <br><code><var>projectId</var></code>
            <br>Though rare, your `projectId` might already be used as the name for an
            existing Realtime Database instance in another project (learn more about
            [database
            sharding](https://firebase.google.com/docs/database/usage/sharding)). In
            these cases, your `projectId` is appended with a hyphen then five
            alphanumeric characters to create your default Realtime Database instance
            name. For example, if your `projectId` is `myproject123`, your default
            database instance name might be:
            <br><code>myproject123-a5c16</code>
          type: string
        storageBucket:
          description: |-
            The default Cloud Storage for Firebase storage bucket, in the format:
            <br><code><var>projectId</var>.appspot.com</code>
          type: string
      type: object
    Empty:
      description: |-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the request
        or the response type of an API method. For instance:

            service Foo {
              rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
            }

        The JSON representation for `Empty` is empty JSON object `{}`.
      properties: {}
      type: object
    FinalizeDefaultLocationRequest:
      properties:
        locationId:
          description: |-
            The ID of the default GCP resource location for the Project. The location
            must be one of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations).
          type: string
      type: object
    FirebaseAppInfo:
      description: A high-level summary of an App.
      properties:
        appId:
          description: |-
            Immutable. The globally unique, Firebase-assigned identifier of the App.
            <br>
            <br>This identifier should be treated as an opaque token, as the data
            format is not specified.
          type: string
        displayName:
          description: The user-assigned display name of the Firebase App.
          type: string
        name:
          description: |-
            The fully qualified resource name of the Firebase App, in the format:
            <br><code>projects/<var>projectId</var>/iosApps/<var>appId</var></code>
            or <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var>
            </code>
          type: string
        platform:
          description: The platform of the Firebase App.
          enum:
            - PLATFORM_UNSPECIFIED
            - IOS
            - ANDROID
            - WEB
          type: string
      type: object
    FirebaseProject:
      description: |-
        A `FirebaseProject` is the top-level Firebase entity. It is the container for
        Firebase Apps, Firebase Hosting sites, storage systems (Firebase Realtime
        Database, Cloud Firestore, Cloud Storage buckets) and other Firebase and
        Google Cloud Platform (GCP) resources.
        <br>
        <br>You can create a new `FirebaseProject` in the
        [Firebase console](https://console.firebase.google.com/),
        or you can add Firebase resources to an existing
        [GCP
        `Project`](https://cloud.google.com/resource-manager/reference/rest/v1/projects)
        by calling
        AddFirebase.
        <br>
        <br>A `FirebaseProject` is actually also a GCP `Project`, so a
        `FirebaseProject` uses underlying GCP identifiers (most importantly,
        `projectId`) as its own for easy interop with GCP APIs.
      properties:
        displayName:
          description: The user-assigned display name of the Project.
          type: string
        name:
          description: |-
            The fully qualified resource name of the Project, in the format:
            <br><code>projects/<var>projectId</var></code>
          type: string
        projectId:
          description: 'Immutable. The globally unique, user-assigned ID of the Project.'
          type: string
        projectNumber:
          description: 'The globally unique, Google-assigned identifier of the Project.'
          format: int64
          type: string
        resources:
          $ref: '#/components/schemas/DefaultResources'
          description: The default Firebase resources associated with the Project.
      type: object
    IosApp:
      description: Details of a Firebase App for iOS.
      properties:
        appId:
          description: |-
            Immutable. The globally unique, Firebase-assigned identifier of the App.
            <br>
            <br>This identifier should be treated as an opaque token, as the data
            format is not specified.
          type: string
        appStoreId:
          description: |-
            The automatically generated Apple ID assigned to the App by Apple in the
            iOS App Store.
          type: string
        bundleId:
          description: |-
            The canonical bundle ID of the iOS App as it would appear in the iOS
            AppStore.
          type: string
        displayName:
          description: The user-assigned display name of the App.
          type: string
        name:
          description: |-
            The fully qualified resource name of the App, in the format:
            <br><code>projects/<var>projectId</var>/iosApps/<var>appId</var></code>
          type: string
        projectId:
          description: 'The globally unique, user-assigned ID of the parent Project for the App.'
          type: string
      type: object
    IosAppConfig:
      description: Configuration metadata of a single Firebase App for iOS.
      properties:
        configFileContents:
          description: The content of the XML configuration file.
          format: byte
          type: string
        configFilename:
          description: |-
            The filename that the configuration artifact is typically saved as.
            <br>For example: `GoogleService-Info.plist`
          type: string
      type: object
    ListAndroidAppsResponse:
      properties:
        apps:
          description: List of each AndroidApp that is in the parent Firebase Project.
          items:
            $ref: '#/components/schemas/AndroidApp'
          type: array
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results.
            <br>
            <br>This token can be used in a subsequent call to `ListAndroidApps` to
            find the next group of Apps.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
      type: object
    ListAvailableLocationsResponse:
      properties:
        locations:
          description: One page of results from a call to `ListAvailableLocations`.
          items:
            $ref: '#/components/schemas/Location'
          type: array
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results and all available locations have been listed.
            <br>
            <br>This token can be used in a subsequent call to
            `ListAvailableLocations` to find more locations.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
      type: object
    ListAvailableProjectsResponse:
      properties:
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results.
            <br>
            <br>This token can be used in a subsequent calls to `ListAvailableProjects`
            to find the next group of GCP `Projects`.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
        projectInfo:
          description: The list of GCP `Projects` which can have Firebase resources added to them.
          items:
            $ref: '#/components/schemas/ProjectInfo'
          type: array
      type: object
    ListFirebaseProjectsResponse:
      properties:
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results.
            <br>
            <br>This token can be used in a subsequent calls to `ListFirebaseProjects`
            to find the next group of Projects.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
        results:
          description: One page of the list of Projects that are accessible to the caller.
          items:
            $ref: '#/components/schemas/FirebaseProject'
          type: array
      type: object
    ListIosAppsResponse:
      properties:
        apps:
          description: List of each IosApp that is in the parent Firebase Project.
          items:
            $ref: '#/components/schemas/IosApp'
          type: array
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results.
            <br>
            <br>This token can be used in a subsequent call to `ListIosApps` to find
            the next group of Apps.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
      type: object
    ListShaCertificatesResponse:
      properties:
        certificates:
          description: The list of SHA certificates associated with the App.
          items:
            $ref: '#/components/schemas/ShaCertificate'
          type: array
      type: object
    ListWebAppsResponse:
      properties:
        apps:
          description: List of each WebApp that is in the parent Firebase Project.
          items:
            $ref: '#/components/schemas/WebApp'
          type: array
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned. If the string is empty, then this response is the last page of
            results.
            <br>
            <br>This token can be used in a subsequent call to `ListWebApps` to find
            the next group of Apps.
            <br>
            <br>Page tokens are short-lived and should not be persisted.
          type: string
      type: object
    Location:
      description: A GCP resource location that can be selected for a Project.
      properties:
        features:
          description: Products and services that are available in the GCP resource location.
          items:
            enum:
              - LOCATION_FEATURE_UNSPECIFIED
              - FIRESTORE
              - DEFAULT_STORAGE
              - FUNCTIONS
            type: string
          type: array
        locationId:
          description: |-
            The ID of the GCP resource location. It will be one of the available [GCP
            resource
            locations](https://firebase.google.com/docs/projects/locations#types).
          type: string
        type:
          description: |-
            Indicates whether the GCP resource location is a [regional or
            multi-regional
            location](https://firebase.google.com/docs/projects/locations#types)
            for data replication.
          enum:
            - LOCATION_TYPE_UNSPECIFIED
            - REGIONAL
            - MULTI_REGIONAL
          type: string
      type: object
    MessageSet:
      description: This is proto2's version of MessageSet.
      properties: {}
      type: object
    Operation:
      description: |-
        This resource represents a long-running operation that is the result of a
        network API call.
      properties:
        done:
          description: |-
            If the value is `false`, it means the operation is still in progress.
            If `true`, the operation is completed, and either `error` or `response` is
            available.
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
          description: The error result of the operation in case of failure or cancellation.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: |-
            Service-specific metadata associated with the operation.  It typically
            contains progress information and common metadata such as create time.
            Some services might not provide such metadata.  Any method that returns a
            long-running operation should document the metadata type, if any.
          type: object
        name:
          description: |-
            The server-assigned name, which is only unique within the same service that
            originally returns it. If you use the default HTTP mapping, the
            `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: |-
            The normal response of the operation in case of success.  If the original
            method returns no data on success, such as `Delete`, the response is
            `google.protobuf.Empty`.  If the original method is standard
            `Get`/`Create`/`Update`, the response should be the resource.  For other
            methods, the response should have the type `XxxResponse`, where `Xxx`
            is the original method name.  For example, if the original method name
            is `TakeSnapshot()`, the inferred response type is
            `TakeSnapshotResponse`.
          type: object
      type: object
    ProjectInfo:
      description: A reference to a Google Cloud Platform (GCP) `Project`.
      properties:
        displayName:
          description: |-
            The user-assigned display name of the GCP `Project`, for example:
            <code>My App</code>
          type: string
        locationId:
          description: |-
            The ID of the project's default GCP resource location. The location is one
            of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations). <br> <br>
            Not all projects will have this field populated. If it is not populated, it
            means that the project does not yet have a default GCP resource location.
            To set your project's default GCP resource location, call
            [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize) after you
            add Firebase resources to your project.
          type: string
        project:
          description: |-
            The resource name of the GCP `Project` to which Firebase resources can be
            added, in the format:
            <br><code>projects/<var>projectId</var></code>
          type: string
      type: object
    RemoveAnalyticsRequest:
      properties:
        analyticsPropertyId:
          description: |-
            Optional. The ID of the Google Analytics property associated with the
            specified `FirebaseProject`.
            <ul>
            <li>If not set, then the Google Analytics property that is currently
            associated with the specified `FirebaseProject` is removed.</li>
            <li>If set, and the specified `FirebaseProject` is currently associated
            with a <em>different</em> Google Analytics property, then the response is a
            `412 Precondition Failed` error.</li>
            </ul>
          type: string
      type: object
    SearchFirebaseAppsResponse:
      properties:
        apps:
          description: One page of results from a call to `SearchFirebaseApps`.
          items:
            $ref: '#/components/schemas/FirebaseAppInfo'
          type: array
        nextPageToken:
          description: |-
            If the result list is too large to fit in a single response, then a token
            is returned.
            <br>
            <br>This token can be used in a subsequent calls to `SearchFirebaseApps`
            to find the next group of Apps.
            <br>If the string is empty, then this response is the last page of results.
            <br>Page tokens are short-lived and should not be persisted.
          type: string
      type: object
    ShaCertificate:
      description: A SHA-1 or SHA-256 certificate associated with the AndroidApp.
      properties:
        certType:
          description: The SHA certificate type.
          enum:
            - SHA_CERTIFICATE_TYPE_UNSPECIFIED
            - SHA_1
            - SHA_256
          type: string
        name:
          description: |-
            The fully qualified resource name of the `sha-key`, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var>/sha/<var>shaId</var></code>
          type: string
        shaHash:
          description: The certificate hash for the App.
          type: string
      type: object
    Status:
      description: |-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It is
        used by [gRPC](https://github.com/grpc). Each `Status` message contains
        three pieces of data: error code, error message, and error details.

        You can find out more about this error model and how to work with it in the
        [API Design Guide](https://cloud.google.com/apis/design/errors).
      properties:
        code:
          description: 'The status code, which should be an enum value of google.rpc.Code.'
          format: int32
          type: integer
        details:
          description: |-
            A list of messages that carry the error details.  There is a common set of
            message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: |-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
    StatusProto:
      description: Wire-format for a Status object
      properties:
        canonicalCode:
          description: |-
            The canonical error code (see codes.proto) that most closely
            corresponds to this status. May be missing.
          format: int32
          type: integer
        code:
          description: |-
            Numeric code drawn from the space specified below. Often, this is the
            canonical error space, and code is drawn from google3/util/task/codes.proto
          format: int32
          type: integer
        message:
          description: Detail message
          type: string
        messageSet:
          $ref: '#/components/schemas/MessageSet'
          description: message_set associates an arbitrary proto message with the status.
        payload:
          $ref: '#/components/schemas/TypedMessage'
          description: |-
            DEPRECATED.

            This field was deprecated in 2011 with cl/20297133.  Java support
            for the field was moved to a proto1 backward compatibility class
            in April 2017 with cl/142615857 and cl/154123203.  There was
            never support for this field in Go; if set Go will ignore it.
            C++ stopped setting StatusProto::payload in October 2015 with cl/106347055,
            and stopped reading the field in October 2017 with cl/173324114.

            In general, newly written code should use only "message_set". If you need
            to maintain backward compatibility with code written before 3/25/2011, do
            the following:

            - During the transition period, either (1) set both "payload" and
              "message_set", or (2) write the consumer of StatusProto so that it can
              forge a MessageSet object from "payload" if "message_set" is missing.
              The C++ util::Status implementation does (2).

            - Once all the consumers are converted to accept "message_set", then
              remove the use of "payload" on the producer side.
        space:
          description: |-
            The following are usually only present when code != 0
            Space to which this status belongs
          type: string
      type: object
    StreamMapping:
      description: A mapping of a Firebase App to a Google Analytics data stream
      properties:
        app:
          description: |-
            The fully qualified resource name of the Firebase App associated with the
            Google Analytics data stream, in the format:
            <br><code>projects/<var>projectId</var>/androidApps/<var>appId</var></code>
            or
            <code>projects/<var>projectId</var>/iosApps/<var>appId</var></code>
            or
            <code>projects/<var>projectId</var>/webApps/<var>appId</var></code>
          type: string
        measurementId:
          description: |-
            Applicable for Firebase Web Apps only.<br>
            <br>The unique Google-assigned identifier of the Google Analytics web
            stream associated with the Firebase Web App. Firebase SDKs use this ID to
            interact with Google Analytics APIs.
            <br>
            <br>Learn more about this ID and Google Analytics web streams in the
            [Analytics
            documentation](https://support.google.com/analytics/topic/9303475).
          type: string
        streamId:
          description: |-
            The unique Google-assigned identifier of the Google Analytics data stream
            associated with the Firebase App.
            <br>
            <br>Learn more about Google Analytics data streams in the
            [Analytics
            documentation](https://support.google.com/analytics/answer/9303323).
          format: int64
          type: string
      type: object
    TypedMessage:
      description: |-
        Message that groups a protocol type_id (as defined by MessageSet),
        with an encoded message of that type.  Its use is similar to
        MessageSet, except it represents a single (type, encoded message)
        instead of a set.

        To fill for known protocol type:
          MyProtocolMsg proto;
          TypedMessage typed_msg;
          typed_msg.set_type_id(MyProtocolMsg::MESSAGE_TYPE_ID);
          proto.AppendToCord(typed_msg.mutable_message());

        To fill for unknown protocol type:
          ProtocolMessage proto;
          TypedMessage typed_msg;
          typed_msg.set_type_id(proto.GetMapper()->type_id());
          proto.AppendToCord(typed_msg.mutable_message());
      properties:
        message:
          description: Message bytes.
          format: byte
          type: string
        typeId:
          description: Identifier for the type.
          format: int32
          type: integer
      type: object
    WebApp:
      description: Details of a Firebase App for the web.
      properties:
        appId:
          description: |-
            Immutable. The globally unique, Firebase-assigned identifier of the App.
            <br>
            <br>This identifier should be treated as an opaque token, as the data
            format is not specified.
          type: string
        appUrls:
          description: The fully qualified URLs where the App is hosted.
          items:
            type: string
          type: array
        displayName:
          description: The user-assigned display name of the App.
          type: string
        name:
          description: |-
            The fully qualified resource name of the App, for example:
            <br><code>projects/<var>projectId</var>/webApps/<var>appId</var></code>
          type: string
        projectId:
          description: 'The globally unique, user-assigned ID of the parent Project for the App.'
          type: string
      type: object
    WebAppConfig:
      description: Configuration metadata of a single Firebase App for the web.
      properties:
        apiKey:
          description: The API key associated with the web App.
          type: string
        appId:
          description: 'Immutable. The globally unique, Firebase-assigned identifier of the App.'
          type: string
        authDomain:
          description: |-
            The domain Firebase Auth configures for OAuth redirects, in the format:
            <br><code><var>projectId</var>.firebaseapp.com</code>
          type: string
        databaseURL:
          description: The default Firebase Realtime Database URL.
          type: string
        locationId:
          description: |-
            The ID of the project's default GCP resource location. The location is one
            of the available
            [GCP resource
            locations](https://firebase.google.com/docs/projects/locations). <br>
            <br>This field is omitted if the default GCP resource location has not been
            finalized yet. To set your project's default GCP resource location,
            call [`FinalizeDefaultLocation`](../projects.defaultLocation/finalize)
            after you add Firebase services to your project.
          type: string
        measurementId:
          description: |-
            The unique Google-assigned identifier of the Google Analytics web stream
            associated with the Firebase Web App. Firebase SDKs use this ID to interact
            with Google Analytics APIs.
            <br>
            <br>This field is only present if the App is linked to a web stream in a
            Google Analytics App + Web property. Learn more about this ID and Google
            Analytics web streams in the [Analytics
            documentation](https://support.google.com/analytics/topic/9303475).
            <br>
            <br>To generate a `measurementId` and link the Web App with a Google
            Analytics web stream, call
            [`AddGoogleAnalytics`](../../v1beta1/projects/addGoogleAnalytics).
          type: string
        messagingSenderId:
          description: The sender ID for use with Firebase Cloud Messaging.
          type: string
        projectId:
          description: |-
            Immutable. The globally unique, user-assigned project ID of the parent
            Project for the App.
          type: string
        storageBucket:
          description: The default Cloud Storage for Firebase storage bucket name.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/firebase': View and administer all your Firebase data and settings
            'https://www.googleapis.com/auth/firebase.readonly': View all your Firebase data and settings
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/firebase': View and administer all your Firebase data and settings
            'https://www.googleapis.com/auth/firebase.readonly': View all your Firebase data and settings
          tokenUrl: 'https://accounts.google.com/o/oauth2/token'
      type: oauth2
