openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nfl/articles-rotoballer
  - url: https://azure-api.sportsdata.io/v3/nfl/articles-rotoballer
info:
  contact:
    x-twitter: nfldata
  title: NFL v3 RotoBaller Articles
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-articles.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-rotoballer-articles
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/RotoBallerArticles":
    get:
      operationId: RotoballerArticles
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: ""
      summary: RotoBaller Articles
  "/{format}/RotoBallerArticlesByDate/{date}":
    get:
      operationId: RotoballerArticlesByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: ""
      summary: RotoBaller Articles by Date
  "/{format}/RotoBallerArticlesByPlayerID/{playerid}":
    get:
      operationId: RotoballerArticlesByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Article"
                type: array
          description: ""
      summary: RotoBaller Articles by Player
components:
  schemas:
    Article:
      properties:
        ArticleID:
          nullable: false
          type: integer
        Author:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        Players:
          items:
            $ref: "#/components/schemas/PlayerInfo"
          type: array
        Source:
          nullable: true
          type: string
        TermsOfUse:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    PlayerInfo:
      properties:
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
