swagger: '2.0'
info:
  version: '2017-11-09'
  x-release: v4
  title: Alexa For Business
  description: 'Alexa for Business helps you use Alexa in your organization. Alexa for Business provides you with the tools to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your own context-aware voice skills using the Alexa Skills Kit and the Alexa for Business API operations. You can also make these available as private skills for your organization. Alexa for Business makes it efficient to voice-enable your products and services, thus providing context-aware voice experiences for your customers. Device makers building with the Alexa Voice Service (AVS) can create fully integrated solutions, register their products with Alexa for Business, and manage them as shared devices in their organization. '
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: alexaforbusiness
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/alexaforbusiness-2017-11-09.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/a4b/'
host: a4b.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://a4b.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Alexa For Business multi-region endpoint
  - url: 'https://a4b.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Alexa For Business multi-region endpoint
  - url: 'http://a4b.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Alexa For Business endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://a4b.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Alexa For Business endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AlexaForBusiness.ApproveSkill':
    post:
      operationId: ApproveSkill
      description: 'Associates a skill with the organization under the customer''s AWS account. If a skill is private, the user implicitly accepts access to this skill during enablement.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApproveSkillResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApproveSkillRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ApproveSkill
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateContactWithAddressBook':
    post:
      operationId: AssociateContactWithAddressBook
      description: Associates a contact with a given address book.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateContactWithAddressBookResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateContactWithAddressBookRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateContactWithAddressBook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateDeviceWithNetworkProfile':
    post:
      operationId: AssociateDeviceWithNetworkProfile
      description: Associates a device with the specified network profile.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateDeviceWithNetworkProfileResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: DeviceNotRegisteredException
          schema:
            $ref: '#/definitions/DeviceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateDeviceWithNetworkProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateDeviceWithNetworkProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateDeviceWithRoom':
    post:
      operationId: AssociateDeviceWithRoom
      description: 'Associates a device with a given room. This applies all the settings from the room profile to the device, and all the skills in any skill groups added to that room. This operation requires the device to be online, or else a manual sync is required. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateDeviceWithRoomResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: DeviceNotRegisteredException
          schema:
            $ref: '#/definitions/DeviceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateDeviceWithRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateDeviceWithRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateSkillGroupWithRoom':
    post:
      operationId: AssociateSkillGroupWithRoom
      description: Associates a skill group with a given room. This enables all skills in the associated skill group on all devices in the room.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSkillGroupWithRoomResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateSkillGroupWithRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateSkillGroupWithRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateSkillWithSkillGroup':
    post:
      operationId: AssociateSkillWithSkillGroup
      description: Associates a skill with a skill group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSkillWithSkillGroupResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: SkillNotLinkedException
          schema:
            $ref: '#/definitions/SkillNotLinkedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateSkillWithSkillGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateSkillWithSkillGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.AssociateSkillWithUsers':
    post:
      operationId: AssociateSkillWithUsers
      description: Makes a private skill available for enrolled users to enable on their devices.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSkillWithUsersResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateSkillWithUsersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.AssociateSkillWithUsers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateAddressBook':
    post:
      operationId: CreateAddressBook
      description: Creates an address book with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAddressBookResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAddressBookRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateAddressBook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateBusinessReportSchedule':
    post:
      operationId: CreateBusinessReportSchedule
      description: Creates a recurring schedule for usage reports to deliver to the specified S3 location with a specified daily or weekly interval.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBusinessReportScheduleResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBusinessReportScheduleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateBusinessReportSchedule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateConferenceProvider':
    post:
      operationId: CreateConferenceProvider
      description: Adds a new conference provider under the user's AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConferenceProviderResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConferenceProviderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateConferenceProvider
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateContact':
    post:
      operationId: CreateContact
      description: Creates a contact with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateContactResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateContactRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateContact
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateGatewayGroup':
    post:
      operationId: CreateGatewayGroup
      description: Creates a gateway group with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGatewayGroupResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGatewayGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateGatewayGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateNetworkProfile':
    post:
      operationId: CreateNetworkProfile
      description: Creates a network profile with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNetworkProfileResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidCertificateAuthorityException
          schema:
            $ref: '#/definitions/InvalidCertificateAuthorityException'
        '484':
          description: InvalidServiceLinkedRoleStateException
          schema:
            $ref: '#/definitions/InvalidServiceLinkedRoleStateException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateNetworkProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateNetworkProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateProfile':
    post:
      operationId: CreateProfile
      description: Creates a new room profile with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProfileResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateRoom':
    post:
      operationId: CreateRoom
      description: Creates a room with the specified details.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRoomResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateSkillGroup':
    post:
      operationId: CreateSkillGroup
      description: Creates a skill group with a specified name and description.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSkillGroupResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSkillGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateSkillGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.CreateUser':
    post:
      operationId: CreateUser
      description: Creates a user.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.CreateUser
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteAddressBook':
    post:
      operationId: DeleteAddressBook
      description: Deletes an address book by the address book ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAddressBookResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAddressBookRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteAddressBook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteBusinessReportSchedule':
    post:
      operationId: DeleteBusinessReportSchedule
      description: Deletes the recurring report delivery schedule with the specified schedule ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBusinessReportScheduleResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBusinessReportScheduleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteBusinessReportSchedule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteConferenceProvider':
    post:
      operationId: DeleteConferenceProvider
      description: Deletes a conference provider.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConferenceProviderResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConferenceProviderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteConferenceProvider
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteContact':
    post:
      operationId: DeleteContact
      description: Deletes a contact by the contact ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteContactResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteContactRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteContact
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteDevice':
    post:
      operationId: DeleteDevice
      description: Removes a device from Alexa For Business.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: InvalidCertificateAuthorityException
          schema:
            $ref: '#/definitions/InvalidCertificateAuthorityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeviceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteDevice
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteDeviceUsageData':
    post:
      operationId: DeleteDeviceUsageData
      description: 'When this action is called for a specified shared device, it allows authorized users to delete the device''s entire previous history of voice input data. This action can be called once every 24 hours for a specific shared device. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceUsageDataResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: DeviceNotRegisteredException
          schema:
            $ref: '#/definitions/DeviceNotRegisteredException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeviceUsageDataRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteDeviceUsageData
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteGatewayGroup':
    post:
      operationId: DeleteGatewayGroup
      description: Deletes a gateway group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGatewayGroupResponse'
        '480':
          description: ResourceAssociatedException
          schema:
            $ref: '#/definitions/ResourceAssociatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteGatewayGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteGatewayGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteNetworkProfile':
    post:
      operationId: DeleteNetworkProfile
      description: Deletes a network profile by the network profile ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNetworkProfileResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNetworkProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteNetworkProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteProfile':
    post:
      operationId: DeleteProfile
      description: Deletes a room profile by the profile ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProfileResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteRoom':
    post:
      operationId: DeleteRoom
      description: Deletes a room by the room ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRoomResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteRoomSkillParameter':
    post:
      operationId: DeleteRoomSkillParameter
      description: 'Deletes room skill parameter details by room, skill, and parameter key ID.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRoomSkillParameterResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRoomSkillParameterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteRoomSkillParameter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteSkillAuthorization':
    post:
      operationId: DeleteSkillAuthorization
      description: Unlinks a third-party account from a skill.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSkillAuthorizationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSkillAuthorizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteSkillAuthorization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteSkillGroup':
    post:
      operationId: DeleteSkillGroup
      description: Deletes a skill group by skill group ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSkillGroupResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSkillGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteSkillGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DeleteUser':
    post:
      operationId: DeleteUser
      description: Deletes a specified user by user ARN and enrollment ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteUserResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DeleteUser
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DisassociateContactFromAddressBook':
    post:
      operationId: DisassociateContactFromAddressBook
      description: Disassociates a contact from a given address book.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateContactFromAddressBookResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateContactFromAddressBookRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DisassociateContactFromAddressBook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DisassociateDeviceFromRoom':
    post:
      operationId: DisassociateDeviceFromRoom
      description: Disassociates a device from its current room. The device continues to be connected to the Wi-Fi network and is still registered to the account. The device settings and skills are removed from the room.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateDeviceFromRoomResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: DeviceNotRegisteredException
          schema:
            $ref: '#/definitions/DeviceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateDeviceFromRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DisassociateDeviceFromRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DisassociateSkillFromSkillGroup':
    post:
      operationId: DisassociateSkillFromSkillGroup
      description: Disassociates a skill from a skill group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateSkillFromSkillGroupResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateSkillFromSkillGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DisassociateSkillFromSkillGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DisassociateSkillFromUsers':
    post:
      operationId: DisassociateSkillFromUsers
      description: Makes a private skill unavailable for enrolled users and prevents them from enabling it on their devices.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateSkillFromUsersResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateSkillFromUsersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DisassociateSkillFromUsers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.DisassociateSkillGroupFromRoom':
    post:
      operationId: DisassociateSkillGroupFromRoom
      description: Disassociates a skill group from a specified room. This disables all skills in the skill group on all devices in the room.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateSkillGroupFromRoomResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateSkillGroupFromRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.DisassociateSkillGroupFromRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ForgetSmartHomeAppliances':
    post:
      operationId: ForgetSmartHomeAppliances
      description: Forgets smart home appliances associated to a room.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ForgetSmartHomeAppliancesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ForgetSmartHomeAppliancesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ForgetSmartHomeAppliances
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetAddressBook':
    post:
      operationId: GetAddressBook
      description: Gets address the book details by the address book ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAddressBookResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAddressBookRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetAddressBook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetConferencePreference':
    post:
      operationId: GetConferencePreference
      description: Retrieves the existing conference preferences.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConferencePreferenceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConferencePreferenceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetConferencePreference
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetConferenceProvider':
    post:
      operationId: GetConferenceProvider
      description: Gets details about a specific conference provider.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConferenceProviderResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConferenceProviderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetConferenceProvider
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetContact':
    post:
      operationId: GetContact
      description: Gets the contact details by the contact ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetContactResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetContactRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetContact
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetDevice':
    post:
      operationId: GetDevice
      description: Gets the details of a device by device ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetDevice
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetGateway':
    post:
      operationId: GetGateway
      description: Retrieves the details of a gateway.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGatewayResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGatewayRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetGateway
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetGatewayGroup':
    post:
      operationId: GetGatewayGroup
      description: Retrieves the details of a gateway group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGatewayGroupResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGatewayGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetGatewayGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetInvitationConfiguration':
    post:
      operationId: GetInvitationConfiguration
      description: Retrieves the configured values for the user enrollment invitation email template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInvitationConfigurationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInvitationConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetInvitationConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetNetworkProfile':
    post:
      operationId: GetNetworkProfile
      description: Gets the network profile details by the network profile ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNetworkProfileResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: InvalidSecretsManagerResourceException
          schema:
            $ref: '#/definitions/InvalidSecretsManagerResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetNetworkProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetNetworkProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetProfile':
    post:
      operationId: GetProfile
      description: Gets the details of a room profile by profile ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetProfileResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetProfileRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetRoom':
    post:
      operationId: GetRoom
      description: Gets room details by room ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRoomResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetRoomSkillParameter':
    post:
      operationId: GetRoomSkillParameter
      description: 'Gets room skill parameter details by room, skill, and parameter key ARN.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRoomSkillParameterResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRoomSkillParameterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetRoomSkillParameter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.GetSkillGroup':
    post:
      operationId: GetSkillGroup
      description: Gets skill group details by skill group ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSkillGroupResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSkillGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.GetSkillGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListBusinessReportSchedules':
    post:
      operationId: ListBusinessReportSchedules
      description: Lists the details of the schedules that a user configured.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBusinessReportSchedulesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBusinessReportSchedulesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListBusinessReportSchedules
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListConferenceProviders':
    post:
      operationId: ListConferenceProviders
      description: Lists conference providers under a specific AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConferenceProvidersResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListConferenceProvidersRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListConferenceProviders
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListDeviceEvents':
    post:
      operationId: ListDeviceEvents
      description: 'Lists the device event history, including device connection status, for up to 30 days.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceEventsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeviceEventsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListDeviceEvents
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListGatewayGroups':
    post:
      operationId: ListGatewayGroups
      description: Retrieves a list of gateway group summaries. Use GetGatewayGroup to retrieve details of a specific gateway group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGatewayGroupsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGatewayGroupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListGatewayGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListGateways':
    post:
      operationId: ListGateways
      description: Retrieves a list of gateway summaries. Use GetGateway to retrieve details of a specific gateway. An optional gateway group ARN can be provided to only retrieve gateway summaries of gateways that are associated with that gateway group ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGatewaysResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGatewaysRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListGateways
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListSkills':
    post:
      operationId: ListSkills
      description: Lists all enabled skills in a specific skill group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSkillsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSkillsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListSkills
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListSkillsStoreCategories':
    post:
      operationId: ListSkillsStoreCategories
      description: Lists all categories in the Alexa skill store.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSkillsStoreCategoriesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSkillsStoreCategoriesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListSkillsStoreCategories
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListSkillsStoreSkillsByCategory':
    post:
      operationId: ListSkillsStoreSkillsByCategory
      description: Lists all skills in the Alexa skill store by category.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSkillsStoreSkillsByCategoryResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSkillsStoreSkillsByCategoryRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListSkillsStoreSkillsByCategory
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListSmartHomeAppliances':
    post:
      operationId: ListSmartHomeAppliances
      description: Lists all of the smart home appliances associated with a room.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSmartHomeAppliancesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSmartHomeAppliancesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListSmartHomeAppliances
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ListTags':
    post:
      operationId: ListTags
      description: Lists all tags for the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ListTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.PutConferencePreference':
    post:
      operationId: PutConferencePreference
      description: Sets the conference preferences on a specific conference provider at the account level.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConferencePreferenceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConferencePreferenceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.PutConferencePreference
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.PutInvitationConfiguration':
    post:
      operationId: PutInvitationConfiguration
      description: Configures the email template for the user enrollment invitation with the specified attributes.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutInvitationConfigurationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutInvitationConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.PutInvitationConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.PutRoomSkillParameter':
    post:
      operationId: PutRoomSkillParameter
      description: 'Updates room skill parameter details by room, skill, and parameter key ID. Not all skills have a room skill parameter.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRoomSkillParameterResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRoomSkillParameterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.PutRoomSkillParameter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.PutSkillAuthorization':
    post:
      operationId: PutSkillAuthorization
      description: 'Links a user''s account to a third-party skill provider. If this API operation is called by an assumed IAM role, the skill being linked must be a private skill. Also, the skill must be owned by the AWS account that assumed the IAM role.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutSkillAuthorizationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutSkillAuthorizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.PutSkillAuthorization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.RegisterAVSDevice':
    post:
      operationId: RegisterAVSDevice
      description: Registers an Alexa-enabled device built by an Original Equipment Manufacturer (OEM) using Alexa Voice Service (AVS).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterAVSDeviceResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: InvalidDeviceException
          schema:
            $ref: '#/definitions/InvalidDeviceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterAVSDeviceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.RegisterAVSDevice
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.RejectSkill':
    post:
      operationId: RejectSkill
      description: 'Disassociates a skill from the organization under a user''s AWS account. If the skill is a private skill, it moves to an AcceptStatus of PENDING. Any private or public skill that is rejected can be added later by calling the ApproveSkill API. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectSkillResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RejectSkillRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.RejectSkill
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.ResolveRoom':
    post:
      operationId: ResolveRoom
      description: Determines the details for the room from which a skill request was invoked. This operation is used by skill developers.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResolveRoomResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResolveRoomRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.ResolveRoom
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.RevokeInvitation':
    post:
      operationId: RevokeInvitation
      description: Revokes an invitation and invalidates the enrollment URL.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokeInvitationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RevokeInvitationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.RevokeInvitation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchAddressBooks':
    post:
      operationId: SearchAddressBooks
      description: Searches address books and lists the ones that meet a set of filter and sort criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchAddressBooksResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchAddressBooksRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchAddressBooks
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchContacts':
    post:
      operationId: SearchContacts
      description: Searches contacts and lists the ones that meet a set of filter and sort criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchContactsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchContactsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchContacts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchDevices':
    post:
      operationId: SearchDevices
      description: Searches devices and lists the ones that meet a set of filter criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchDevicesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchDevicesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchDevices
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchNetworkProfiles':
    post:
      operationId: SearchNetworkProfiles
      description: Searches network profiles and lists the ones that meet a set of filter and sort criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchNetworkProfilesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchNetworkProfilesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchNetworkProfiles
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchProfiles':
    post:
      operationId: SearchProfiles
      description: Searches room profiles and lists the ones that meet a set of filter criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchProfilesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchProfilesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchProfiles
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchRooms':
    post:
      operationId: SearchRooms
      description: Searches rooms and lists the ones that meet a set of filter and sort criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchRoomsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchRoomsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AlexaForBusiness.SearchRooms
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AlexaForBusiness.SearchSkillGroups':
    post:
      operationId: SearchSkillGroups
      description: Searches skill groups and lists the ones that meet a set of filter and sort criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchSkillGroupsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SearchSkillGroupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
[...]
