swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Use these APIs to manage Visual Studio Team Services resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index.'
  title: Visual Studio Resource Provider Client
  version: 2014-04-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-visualstudio/2014-04-01-preview/swagger/Csm.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-visualstudio
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group within the Azure subscription.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: The Azure subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/microsoft.visualstudio/operations:
    get:
      description: Gets the details of all operations possible on the Microsoft.VisualStudio resource provider.
      operationId: Operations_List
      responses:
        '200':
          description: The operation succeeded. The response contains the possible operations on the Microsoft.VisualStudio resource provider.
          schema:
            $ref: '#/definitions/OperationListResult'
      summary: Operations_List
      tags:
        - Operations
      x-ms-examples:
        getOperationResources_List:
          parameters: {}
          responses:
            '200':
              headers:
                body:
                  value:
                    - display:
                        description: Set Account
                        operation: Creates or updates the Account
                        provider: Visual Studio
                        resource: Account
                      name: Microsoft.VisualStudio/Account/Write
                    - display:
                        description: Delete Account
                        operation: Deletes the Account
                        provider: Visual Studio
                        resource: Account
                      name: Microsoft.VisualStudio/Account/Delete
                    - display:
                        description: Read Account
                        operation: Reads the Account
                        provider: Visual Studio
                        resource: Account
                      name: Microsoft.VisualStudio/Account/Read
                    - display:
                        description: Set Project
                        operation: Creates or updates the Project
                        provider: Visual Studio
                        resource: Project
                      name: Microsoft.VisualStudio/Project/Write
                    - display:
                        description: Delete Project
                        operation: Deletes the Project
                        provider: Visual Studio
                        resource: Project
                      name: Microsoft.VisualStudio/Project/Delete
                    - display:
                        description: Read Project
                        operation: Reads the Project
                        provider: Visual Studio
                        resource: Project
                      name: Microsoft.VisualStudio/Project/Read
                    - display:
                        description: Set Extension
                        operation: Creates or updates the Extension
                        provider: Visual Studio
                        resource: Extension
                      name: Microsoft.VisualStudio/Extension/Write
                    - display:
                        description: Delete Extension
                        operation: Deletes the Extension
                        provider: Visual Studio
                        resource: Extension
                      name: Microsoft.VisualStudio/Extension/Delete
                    - display:
                        description: Read Extension
                        operation: Reads the Extension
                        provider: Visual Studio
                        resource: Extension
                      name: Microsoft.VisualStudio/Extension/Read
  '/subscriptions/{subscriptionId}/providers/microsoft.visualstudio/checkNameAvailability':
    post:
      description: Checks if the specified Visual Studio Team Services account name is available. Resource name can be either an account name or an account name and PUID.
      operationId: Accounts_CheckNameAvailability
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Parameters describing the name to check availability for.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckNameAvailabilityParameter'
      responses:
        '200':
          description: The operation succeeded. The response contains the result of the name availability check.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
      summary: Accounts_CheckNameAvailability
      tags:
        - Accounts
      x-ms-examples:
        checkNameAvailability:
          parameters:
            api-version: 2014-04-01-preview
            request:
              resourceName: ExampleName
              resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              body:
                nameAvailable: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account':
    get:
      description: Gets all Visual Studio Team Services account resources under the resource group linked to the specified Azure subscription.
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the Visual Studio Team Services account resources linked to the Azure subscription.
          schema:
            $ref: '#/definitions/AccountResourceListResult'
      summary: Accounts_ListByResourceGroup
      tags:
        - Accounts
      x-ms-examples:
        getResources_List:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  value:
                    - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                      location: Central US
                      name: VS-Example-Group
                      properties:
                        AccountURL: ''
                      tags: {}
                      type: Microsoft.VisualStudio/account
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension':
    get:
      description: Gets the details of the extension resources created within the resource group.
      operationId: Extensions_ListByAccount
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The name of the Visual Studio Team Services account resource.
          in: path
          name: accountResourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains all extension resource details for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResourceListResult'
      summary: Extensions_ListByAccount
      tags:
        - Extensions
      x-ms-examples:
        getExtensionResources_List:
          parameters:
            accountResourceName: Example
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceProviderNamespace: Microsoft.VisualStudio
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  value:
                    - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
                      location: Central US
                      name: ms.example
                      plan:
                        name: ExamplePlan
                        product: ExampleExtensionName
                        promotionCode: ''
                        publisher: ExampleExtensionPublisher
                        version: '1.0'
                      properties: {}
                      tags: {}
                      type: Microsoft.VisualStudio/account/extension
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}':
    delete:
      description: Removes an extension resource registration for a Visual Studio Team Services account.
      operationId: Extensions_Delete
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The name of the Visual Studio Team Services account resource.
          in: path
          name: accountResourceName
          required: true
          type: string
        - description: The name of the extension.
          in: path
          name: extensionResourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource has been deleted for the specified account.
      summary: Extensions_Delete
      tags:
        - Extensions
      x-ms-examples:
        deleteExtensionResource:
          parameters:
            accountResourceName: Example
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            resourceProviderNamespace: Microsoft.VisualStudio
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200': {}
    get:
      description: Gets the details of an extension associated with a Visual Studio Team Services account resource.
      operationId: Extensions_Get
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The name of the Visual Studio Team Services account resource.
          in: path
          name: accountResourceName
          required: true
          type: string
        - description: The name of the extension.
          in: path
          name: extensionResourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the extension resource details for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
        '404':
          description: The specified extension has no plans defined.
      summary: Extensions_Get
      tags:
        - Extensions
      x-ms-examples:
        getExtensionResource:
          parameters:
            accountResourceName: Example
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            resourceProviderNamespace: Microsoft.VisualStudio
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
                  location: Central US
                  name: ms.example
                  plan:
                    name: ExamplePlan
                    product: ExampleExtensionName
                    promotionCode: ''
                    publisher: ExampleExtensionPublisher
                    version: '1.0'
                  properties: {}
                  tags: {}
                  type: Microsoft.VisualStudio/account/extension
    patch:
      description: Updates an existing extension registration for the Visual Studio Team Services account.
      operationId: Extensions_Update
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: An object containing additional information related to the extension request.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ExtensionResourceRequest'
        - description: The name of the Visual Studio Team Services account resource.
          in: path
          name: accountResourceName
          required: true
          type: string
        - description: The name of the extension.
          in: path
          name: extensionResourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource was updated for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
      summary: Extensions_Update
      tags:
        - Extensions
      x-ms-examples:
        updateExtensionResource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
              location: Central US
              name: ms.example
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ''
                publisher: ExampleExtensionPublisher
                version: '1.0'
              properties: {}
              tags: {}
              type: Microsoft.VisualStudio/account/extension
            resourceGroupName: VS-Example-Group
            resourceName: Example
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
                  location: Central US
                  name: ms.example
                  plan:
                    name: ExamplePlan
                    product: ExampleExtensionName
                    promotionCode: ''
                    publisher: ExampleExtensionPublisher
                    version: '1.0'
                  properties: {}
                  tags: {}
                  type: Microsoft.VisualStudio/account/extension
    put:
      description: Registers the extension with a Visual Studio Team Services account.
      operationId: Extensions_Create
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: An object containing additional information related to the extension request.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ExtensionResourceRequest'
        - description: The name of the Visual Studio Team Services account resource.
          in: path
          name: accountResourceName
          required: true
          type: string
        - description: The name of the extension.
          in: path
          name: extensionResourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource was created for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
      summary: Extensions_Create
      tags:
        - Extensions
      x-ms-examples:
        createExtensionResource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
              location: Central US
              name: ms.example
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ''
                publisher: ExampleExtensionPublisher
                version: '1.0'
              properties: {}
              tags: {}
              type: Microsoft.VisualStudio/account/extension
            resourceGroupName: VS-Example-Group
            resourceName: Example
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/extension/ms.example
                  location: Central US
                  name: ms.example
                  plan:
                    name: ExamplePlan
                    product: ExampleExtensionName
                    promotionCode: ''
                    publisher: ExampleExtensionPublisher
                    version: '1.0'
                  properties: {}
                  tags: {}
                  type: Microsoft.VisualStudio/account/extension
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{resourceName}':
    delete:
      description: Deletes a Visual Studio Team Services account resource.
      operationId: Accounts_Delete
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The Visual Studio Team Services account resource was deleted.
      summary: Accounts_Delete
      tags:
        - Accounts
      x-ms-examples:
        deleteAccountResource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200': {}
    get:
      description: Gets the Visual Studio Team Services account resource details.
      operationId: Accounts_Get
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the Visual Studio Team Services account resource.
          schema:
            $ref: '#/definitions/AccountResource'
        '404':
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_Get
      tags:
        - Accounts
      x-ms-examples:
        getAccountResource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                  location: Central US
                  name: VS-Example-Group
                  properties:
                    AccountURL: ''
                  tags: {}
                  type: Microsoft.VisualStudio/account
    put:
      description: Creates or updates a Visual Studio Team Services account resource.
      operationId: Accounts_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The request data.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountResourceRequest'
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The Visual Studio Team Services account resource was created or updated.
          schema:
            $ref: '#/definitions/AccountResource'
        '404':
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_CreateOrUpdate
      tags:
        - Accounts
      x-ms-examples:
        createAccountResource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
              location: Central US
              name: VS-Example-Group
              type: Microsoft.VisualStudio/account
            resourceGroupName: VS-Example-Group
            resourceName: Example
            resourceProviderNamespace: Microsoft.VisualStudio
            resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            '200':
              headers:
                body:
                  id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                  location: Central US
                  name: VS-Example-Group
                  properties:
                    AccountURL: ''
                  tags: {}
                  type: Microsoft.VisualStudio/account
definitions:
  AccountResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The response to an account resource GET request.
    properties:
      properties:
        additionalProperties:
          type: string
        description: Resource properties.
        type: object
        x-ms-client-flatten: true
    type: object
  AccountResourceListResult:
    description: The response to an account resource list GET request.
    properties:
      value:
        description: Array of resource details.
        items:
          $ref: '#/definitions/AccountResource'
        type: array
    type: object
  AccountResourceRequest:
    description: The body of a PUT request to modify a Visual Studio account resource.
    properties:
      accountName:
        description: The account name.
        type: string
      location:
        description: The Azure instance location.
        type: string
      operationType:
        description: The type of the operation.
        enum:
          - unknown
          - create
          - update
          - link
        x-ms-enum:
          name: AccountResourceRequestOperationType
      properties:
        additionalProperties:
          type: string
        description: The custom properties of the resource.
        type: object
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The custom tags of the resource.
        type: object
    type: object
  CheckNameAvailabilityParameter:
    description: The body of a POST request to check name availability.
    properties:
      resourceName:
        description: The name of the resource to check availability for.
        type: string
      resourceType:
        description: The type of resource to check availability for.
        type: string
    type: object
  CheckNameAvailabilityResult:
    description: The response to a name availability request.
    properties:
      message:
        description: The message describing the detailed reason.
        type: string
      nameAvailable:
        description: The value which indicates whether the provided name is available.
        type: boolean
    type: object
  ExtensionResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The response to an extension resource GET request.
    properties:
      plan:
        $ref: '#/definitions/ExtensionResourcePlan'
        description: The extension plan that was purchased.
    type: object
  ExtensionResourceListResult:
    description: The response to an extension resource list GET request.
    properties:
      value:
        description: Array of extension resource details.
        items:
          $ref: '#/definitions/ExtensionResource'
        type: array
    type: object
  ExtensionResourcePlan:
    description: Plan data for an extension resource.
    properties:
      name:
        description: Name of the plan.
        type: string
      product:
        description: Product name.
        type: string
      promotionCode:
        description: 'Optional: the promotion code associated with the plan.'
        type: string
      publisher:
        description: Name of the extension publisher.
        type: string
      version:
        description: A string that uniquely identifies the plan version.
        type: string
    type: object
  ExtensionResourceRequest:
    description: The body of an extension resource PUT request.
    properties:
      location:
        description: The Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)
        type: string
      plan:
        $ref: '#/definitions/ExtensionResourcePlan'
        description: Extended information about the plan being purchased for this extension resource.
      properties:
        additionalProperties:
          type: string
        description: A dictionary of extended properties. This property is currently unused.
        type: object
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: A dictionary of user-defined tags to be stored with the extension resource.
        type: object
    type: object
  Operation:
    description: Properties of an operation supported by the resource provider.
    properties:
      display:
        $ref: '#/definitions/OperationProperties'
        description: The properties of the resource operation.
      name:
        description: The name of the resource operation.
        type: string
    type: object
  OperationListResult:
    description: Container for a list of operations supported by a resource provider.
    properties:
      value:
        description: A list of operations supported by a resource provider.
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  OperationProperties:
    description: Properties of an operation supported by the resource provider.
    properties:
      description:
        description: The description of the resource operation.
        type: string
      operation:
        description: The operation name.
        type: string
      provider:
        description: The provider name.
        type: string
      resource:
        description: The resource name.
        type: string
    type: object
  Resource:
    description: A generic Azure Resource Manager resource.
    properties:
      id:
        description: Unique identifier of the resource.
        readOnly: true
        type: string
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
