swagger: '2.0'
schemes:
  - https
host: 'smart-me.com:443'
info:
  description: With the smart-me REST API you get Access to all your devices in the smart-me Cloud and you can add your own devices. So it's a easy way to add the smart-me Cloud support to your Hardware or Software Product.
  title: smart-me
  version: v1
  x-logo:
    url: 'http://smart-me.com/Images/bootstrap/logo.png'
  x-origin:
    format: swagger
    url: 'https://smart-me.com/swagger/docs/v1'
    version: '2.0'
  x-providerName: smart-me.com
securityDefinitions:
  basic:
    description: Basic HTTP Authentication
    type: basic
paths:
  /api/AccessToken:
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Creates a Access Token to write on a Card (e.g. NFC)
      parameters:
        - in: body
          name: accessTokenToPut
          required: true
          schema:
            $ref: '#/definitions/AccessTokenToPut'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Creates a Access Token to write on a Card (e.g. NFC)
      tags:
        - AccessToken
  /api/DeviceBySerial:
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      parameters:
        - description: The Serial Number of the device
          format: int64
          in: query
          name: serial
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      tags:
        - DeviceBySerial
  /api/Devices:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices
      tags:
        - Devices
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates or updates a Device or updates it's values. \r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      parameters:
        - description: Device object with all the data
          in: body
          name: newDevice
          required: true
          schema:
            $ref: '#/definitions/DeviceToPost'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceToPost'
        '401':
          description: Unauthorized
      summary: Creates or updates a Device or updates it's values.
      tags:
        - Devices
  '/api/Devices/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's ID
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's ID
      tags:
        - Devices
    put:
      consumes: []
      deprecated: false
      description: Updates the On/Off Switch on a device
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
        - description: The new state of the switch
          in: query
          name: switchState
          required: true
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '401':
          description: Unauthorized
        '405':
          description: MethodNotAllowed
      summary: Updates the On/Off Switch on a device.
      tags:
        - Devices
  /api/DevicesByEnergy:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices for an Energy Type
      parameters:
        - enum:
            - MeterTypeUnknown
            - MeterTypeElectricity
            - MeterTypeWater
            - MeterTypeGas
            - MeterTypeHeat
            - MeterTypeHCA
            - MeterTypeAllMeters
            - MeterTypeTemperature
            - MeterTypeMBusGateway
            - MeterTypeRS485Gateway
          in: query
          name: meterEnergyType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices for an Energy Type
      tags:
        - DevicesByEnergy
  /api/DevicesBySubType:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      parameters:
        - enum:
            - MeterSubTypeUnknown
            - MeterSubTypeCold
            - MeterSubTypeHeat
            - MeterSubTypeChargingStation
          in: query
          name: meterSubType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      tags:
        - DevicesBySubType
  /api/MBus:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      parameters:
        - description: The M-BUS Telegram
          in: body
          name: mbusData
          required: true
          schema:
            $ref: '#/definitions/MBusData'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
      summary: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      tags:
        - MBus
  '/api/MeterFolderInformation/{id}':
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets the General Information for a Meter or a Folder'
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MeterFolderInformation'
      summary: 'Beta: Gets the General Information for a Meter or a Folder'
      tags:
        - MeterFolderInformation
  '/api/MeterValues/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a Meter at a given Date. The first Value found before the given Date is returned.
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - format: date-time
          in: query
          name: date
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceInPast'
      summary: "Gets the Values for a Meter at a given Date. \r\n            The first Value found before the given Date is returned."
      tags:
        - MeterValues
  /api/User:
    get:
      consumes: []
      deprecated: false
      description: Gets the informations for the user.
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      summary: Gets the informations for the user.
      tags:
        - User
  /api/VirtualMeterActive:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all active virtual meters.'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all active virtual meters'
      tags:
        - VirtualMeterActive
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToActivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToActivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      tags:
        - VirtualMeterActive
  /api/VirtualMeterDeactivate:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToDeactivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToDeactivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      tags:
        - VirtualMeterDeactivate
  /api/VirtualMeters:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      tags:
        - VirtualMeters
definitions:
  AccessTokenToPut:
    description: Container Class for the Put action of an Access Token
    properties:
      CardId:
        description: The ID of the Card
        format: int64
        type: integer
      UserId:
        description: "The ID of the User. The credentials provided must have permission to edit the user.\r\n            If no ID is provided, the user in the credentials is taken."
        format: int64
        type: integer
    type: object
  Device:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Actvie Power or current flow rate
        format: double
        type: number
      ActiveTariff:
        description: The Number of the Active Tariff
        format: int32
        type: integer
      ActviePowerUnit:
        description: The Unit of the Active Power Value
        type: string
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Current:
        description: The Current (in A)
        format: double
        type: number
      CurrentL1:
        description: The Current Phase L1 (in A)
        format: double
        type: number
      CurrentL2:
        description: The Current Phase L2 (in A)
        format: double
        type: number
      CurrentL3:
        description: The Current Phase L3 (in A)
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
        type: string
      FamilyType:
        description: The Family Type of the device.
        enum:
          - MeterFamilyTypeUnknown
          - MeterFamilyTypeSmartMeConnectV1
          - MeterFamiliyTypeSmartMeMeter
          - MeterFamiliyTypeSmartMeMeterWithSwitch
          - MeterFamilyTypeMBusGatewayV1
          - MeterFamilyTypeRS485GatewayV1
          - MeterFamilyTypeKamstrupModule
          - MeterFamilyTypeSmartMe3PhaseMeter80A
          - MeterFamilyTypeSmartMe3PhaseMeter32A
          - MeterFamilyTypeSmartMe3PhaseMeterTransformer
          - MeterFamilyTypeLandisGyrModule
          - MeterFamilyTypeRestApiMeter
          - MeterFamilyTypeVirtualMeter
        type: string
      Id:
        description: The ID of the device
        type: string
      Name:
        description: The Name of the Device
        type: string
      PowerFactor:
        description: 'The Power Factor (cos phi). Range: 0 - 1'
        format: double
        type: number
      Serial:
        description: The Serial number
        format: int64
        type: integer
      SwitchOn:
        description: Flag if the Switch is on on this device.
        type: boolean
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: Time of last successful connection the the smart-me Cloud.
        format: date-time
        type: string
      Voltage:
        description: The Voltage (in V)
        format: double
        type: number
      VoltageL1:
        description: The Voltage Phase L1 (in V)
        format: double
        type: number
      VoltageL2:
        description: The Voltage Phase L2 (in V)
        format: double
        type: number
      VoltageL3:
        description: The Voltage Phase L3 (in V)
        format: double
        type: number
    type: object
  DeviceInPast:
    description: Container Class for the Web API. Conatinas the MeterValues in the Past
    properties:
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingExport:
        description: The Meter Counter Reading Export
        format: double
        type: number
      CounterReadingExportT1:
        description: The Meter Counter Reading Export Tariff 1
        format: double
        type: number
      CounterReadingExportT2:
        description: The Meter Counter Reading Export Tariff 2
        format: double
        type: number
      CounterReadingExportT3:
        description: The Meter Counter Reading Export Tariff 3
        format: double
        type: number
      CounterReadingExportT4:
        description: The Meter Counter Reading Export Tariff 4
        format: double
        type: number
      CounterReadingImport:
        description: The Meter Counter Reading Import
        format: double
        type: number
      CounterReadingImportT1:
        description: The Meter Counter Reading Import Tariff 1
        format: double
        type: number
      CounterReadingImportT2:
        description: The Meter Counter Reading Import Tariff 2
        format: double
        type: number
      CounterReadingImportT3:
        description: The Meter Counter Reading Import Tariff 3
        format: double
        type: number
      CounterReadingImportT4:
        description: The Meter Counter Reading Import Tariff 4
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Date:
        description: The Date of the Values
        format: date-time
        type: string
      Id:
        description: The ID of the device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
    type: object
  DeviceToPost:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Active Power or current flow rate. In kW or m3/h
        format: double
        type: number
      CounterReading:
        description: The Meter Counter Reading (Total Energy used) in kWh or m3.
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1 in kWh or m3.
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2 in kWh or m3.
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
        type: string
      Id:
        description: The ID of the device
        type: string
      Name:
        description: The Name of the Device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
    type: object
  MBusData:
    properties:
      Date:
        description: The Date of the M-BUS Telegram Readout (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Telegram:
        description: "The M-BUS Telegram as Hex string. \r\n            Example: 68 1F 1F 68 08 02 72 78 56 34 12 24 40 01 07 55 00 00 00 03 13 15 31 00 DA 02 3B 13 01 8B 60 04 37 18 02 18 16"
        type: string
    type: object
  MeterFolderInformation:
    description: Container Class for the Web API
    properties:
      FirmwareVersion:
        description: The Firmware Version of a Meter
        format: int32
        type: integer
      HardwareVersion:
        description: The Hardware Version of a Meter.
        format: int32
        type: integer
      IsFolder:
        description: Flag if it's a Folder or a Meter
        type: boolean
      Name:
        description: Name of the Meter or Folder
        type: string
      OutputInformations:
        description: Informations about the available Outputs
        items:
          $ref: '#/definitions/OutputInformation'
        type: array
    type: object
  Object:
    properties: {}
    type: object
  OutputInformation:
    description: Informations about the Outputs of a Meter or Folder
    properties:
      Name:
        description: The Name of the Output
        type: string
      Number:
        description: The Number of this Output. Use this as ID to switch it on or off.
        format: int32
        type: integer
    type: object
  User:
    description: Container Class for the Web API
    properties:
      ChildUsers:
        description: The Users created by this users.
        items:
          $ref: '#/definitions/User'
        type: array
      Email:
        description: The EMail Address of the User
        type: string
      Id:
        description: The ID of the User
        format: int64
        type: integer
      IsAdmin:
        description: Flag if this User is an Admin User
        type: boolean
      Username:
        description: The Username of the User
        type: string
    type: object
  VMeterToActivate:
    description: Actives a virtual Meter
    properties:
      SerialNumber:
        description: The Serialnumber of the Meter to activate.
        type: string
    type: object
  VMeterToDeactivate:
    description: Deactivates a virtual Meter
    properties:
      ID:
        description: The ID of the Virtual meter to deactivate
        type: string
    type: object
