swagger: '2.0'
schemes:
  - https
host: 'smart-me.com:443'
info:
  description: With the smart-me REST API you get Access to all your devices in the smart-me Cloud and you can add your own devices. So it's a easy way to add the smart-me Cloud support to your Hardware or Software Product.
  title: smart-me
  version: v1
  x-apisguru-categories:
    - iot
  x-logo:
    url: 'http://smart-me.com/Images/bootstrap/logo.png'
  x-origin:
    - format: swagger
      url: 'https://smart-me.com/swagger/docs/v1'
      version: '2.0'
  x-providerName: smart-me.com
securityDefinitions:
  basic:
    description: Basic HTTP Authentication
    type: basic
paths:
  /api/AccessToken:
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Creates a Access Token to write on a Card (e.g. NFC)
      operationId: AccessToken_Put
      parameters:
        - in: body
          name: accessTokenToPut
          required: true
          schema:
            $ref: '#/definitions/AccessTokenToPut'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Creates a Access Token to write on a Card (e.g. NFC)
      tags:
        - AccessToken
  /api/Account/login:
    get:
      consumes: []
      deprecated: false
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      tags:
        - Account
    post:
      consumes: []
      deprecated: false
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      tags:
        - Account
  /api/Actions:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Set an action for the specified device.
      operationId: Actions_Post
      parameters:
        - description: The Action Data
          in: body
          name: actionToPost
          required: true
          schema:
            $ref: '#/definitions/ActionToPost'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Set an action for the specified device.
      tags:
        - Actions
  '/api/Actions/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets all available Actions of a Device
      operationId: Actions_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ActionInformation'
            type: array
      summary: Gets all available Actions of a Device
      tags:
        - Actions
  '/api/AdditionalDeviceInformation/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the additional information (e.g. Firmware Version) about a device.
      operationId: AdditionalDeviceInformation_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AdditionalDeviceInformation'
      summary: Gets the additional information (e.g. Firmware Version) about a device.
      tags:
        - AdditionalDeviceInformation
  /api/CustomDevice:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CustomDeviceToPost'
            type: array
      summary: Gets all Custom Devices
      tags:
        - CustomDevice
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates or updates a Custom Device or updates it's values.\r\n            A Custom Device can be any device that like to add some measurement values to the smart-me Cloud.\r\n            Only use a custom device for all non meters.\r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      operationId: CustomDevice_Post
      parameters:
        - description: Device object with all the data
          in: body
          name: newDevice
          required: true
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
        '401':
          description: Unauthorized
      summary: Creates or updates a Custom Device or updates it's values.
      tags:
        - CustomDevice
  '/api/CustomDevice/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's ID
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
      summary: Gets a Custom Device by it's ID
      tags:
        - CustomDevice
  /api/DeviceBySerial:
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      operationId: DeviceBySerial_Get
      parameters:
        - description: The Serial Number of the device
          format: int64
          in: query
          name: serial
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      tags:
        - DeviceBySerial
  /api/Devices:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices
      tags:
        - Devices
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates or updates a Device or updates it's values. \r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      operationId: Devices_Post
      parameters:
        - description: Device object with all the data
          in: body
          name: newDevice
          required: true
          schema:
            $ref: '#/definitions/DeviceToPost'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceToPost'
        '401':
          description: Unauthorized
      summary: Creates or updates a Device or updates it's values.
      tags:
        - Devices
  '/api/Devices/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's ID
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's ID
      tags:
        - Devices
    put:
      consumes: []
      deprecated: false
      description: "Updates the On/Off Switch on a device\r\n            For new implementations please use the \"actions\" command"
      operationId: Devices_Put
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
        - description: The new state of the switch
          in: query
          name: switchState
          required: true
          type: boolean
        - description: 'The number of the switch if there are multiple (1 for L1, 3 for L3)'
          format: int32
          in: query
          name: switchNumber
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '401':
          description: Unauthorized
        '405':
          description: MethodNotAllowed
      summary: "Updates the On/Off Switch on a device. \r\n            For new implementations please use the \"actions\" command"
      tags:
        - Devices
  /api/DevicesByEnergy:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices for an Energy Type
      operationId: DevicesByEnergy_Get
      parameters:
        - enum:
            - MeterTypeUnknown
            - MeterTypeElectricity
            - MeterTypeWater
            - MeterTypeGas
            - MeterTypeHeat
            - MeterTypeHCA
            - MeterTypeAllMeters
            - MeterTypeTemperature
            - MeterTypeMBusGateway
            - MeterTypeRS485Gateway
            - MeterTypeCustomDevice
            - MeterTypeCompressedAir
            - MeterTypeSolarLog
            - MeterTypeVirtualMeter
            - MeterTypeWMBusGateway
          in: query
          name: meterEnergyType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices for an Energy Type
      tags:
        - DevicesByEnergy
  /api/DevicesBySubType:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      operationId: DevicesBySubType_Get
      parameters:
        - enum:
            - MeterSubTypeUnknown
            - MeterSubTypeCold
            - MeterSubTypeHeat
            - MeterSubTypeChargingStation
            - MeterSubTypeElectricity
            - MeterSubTypeWater
            - MeterSubTypeGas
            - MeterSubTypeElectricityHeat
            - MeterSubTypeTemperature
            - MeterSubTypeVirtualBattery
          in: query
          name: meterSubType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      tags:
        - DevicesBySubType
  '/api/Folder/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a folder or a meter
      operationId: Folder_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FolderData'
      summary: Gets the Values for a folder or a meter
      tags:
        - Folder
  /api/FolderMenu:
    get:
      consumes: []
      deprecated: false
      operationId: FolderMenu_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FolderMenuConfiguration'
      summary: Gets the folder menu items (each item might contain child items)
      tags:
        - FolderMenu
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: FolderMenu_Post
      parameters:
        - description: ''
          in: body
          name: folderMenuConfiguration
          required: true
          schema:
            $ref: '#/definitions/FolderMenuConfiguration'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Creates and updates the folder menu items
      tags:
        - FolderMenu
  /api/MBus:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      operationId: MBus_Post
      parameters:
        - description: The M-BUS Telegram
          in: body
          name: mbusData
          required: true
          schema:
            $ref: '#/definitions/MBusData'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
      summary: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      tags:
        - MBus
  /api/MeterFolderInformation:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Sets the Name of a Meter or a Folder
      operationId: MeterFolderInformation_Post
      parameters:
        - in: body
          name: meterFolderInformation
          required: true
          schema:
            $ref: '#/definitions/MeterFolderInformationToPost'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Sets the Name of a Meter or a Folder
      tags:
        - MeterFolderInformation
  '/api/MeterFolderInformation/{id}':
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets the General Information for a Meter or a Folder'
      operationId: MeterFolderInformation_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MeterFolderInformation'
      summary: 'Beta: Gets the General Information for a Meter or a Folder'
      tags:
        - MeterFolderInformation
  '/api/MeterValues/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a Meter at a given Date. The first Value found before the given Date is returned.
      operationId: MeterValues_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - format: date-time
          in: query
          name: date
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceInPast'
      summary: "Gets the Values for a Meter at a given Date. \r\n            The first Value found before the given Date is returned."
      tags:
        - MeterValues
  /api/RegisterForRealtimeApi:
    get:
      consumes: []
      deprecated: false
      description: Gets all registrations for the Realtime API.
      operationId: RegisterForRealtimeApi_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RegisterRealtimeApiData'
            type: array
      summary: Gets all registrations for the Realtime API.
      tags:
        - RegisterForRealtimeApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Creates a new registration for the realtime API. The Realtime API sends you the data of the registred devices as soon as we have them on the cloud. More Information about the realtime API: https://www.smart-me.com/Description/api/realtimeapi.aspx'
      operationId: RegisterForRealtimeApi_Post
      parameters:
        - in: body
          name: registration
          required: true
          schema:
            $ref: '#/definitions/RegisterRealtimeApiData'
      produces: []
      responses:
        '204':
          description: No Content
      summary: "Creates a new registration for the realtime API. The Realtime API sends you the data of the registred devices as soon as we have them on the cloud.\r\n             More Information about the realtime API: https://www.smart-me.com/Description/api/realtimeapi.aspx"
      tags:
        - RegisterForRealtimeApi
  '/api/RegisterForRealtimeApi/{id}':
    delete:
      consumes: []
      deprecated: false
      description: Deletes a realtime API registration.
      operationId: RegisterForRealtimeApi_Delete
      parameters:
        - description: The ID of the realtime API registration
          in: path
          name: id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a realtime API registration.
      tags:
        - RegisterForRealtimeApi
  /api/SmartMeDeviceConfiguration:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: SmartMeDeviceConfiguration_Post
      parameters:
        - in: body
          name: configuration
          required: true
          schema:
            $ref: '#/definitions/SmartMeDeviceConfigurationContainer'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Sets the configuration of a smart-me device. The device needs to be online.
      tags:
        - SmartMeDeviceConfiguration
  '/api/SmartMeDeviceConfiguration/{id}':
    get:
      consumes: []
      deprecated: false
      operationId: SmartMeDeviceConfiguration_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SmartMeDeviceConfigurationContainer'
      summary: Gets the configuration of a smart-me device.
      tags:
        - SmartMeDeviceConfiguration
  /api/User:
    get:
      consumes: []
      deprecated: false
      description: Gets the informations for the user.
      operationId: User_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      summary: Gets the informations for the user.
      tags:
        - User
  '/api/Values/{id}':
    get:
      consumes: []
      deprecated: false
      operationId: Values_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValuesData'
      summary: Gets all (last) values of a device
      tags:
        - Values
  '/api/ValuesInPast/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a device at a given Date. The first Value found before the given Date is returned.
      operationId: ValuesInPast_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
        - description: the date of the value
          format: date-time
          in: query
          name: date
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValuesData'
      summary: "Gets all (last) values of a device\r\n            The first Value found before the given Date is returned."
      tags:
        - ValuesInPast
  '/api/ValuesInPastMultiple/{id}':
    get:
      consumes: []
      deprecated: false
      operationId: ValuesInPastMultiple_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
        - description: The date when the first value should start
          format: date-time
          in: query
          name: startDate
          required: true
          type: string
        - description: The date when the last value should start
          format: date-time
          in: query
          name: endDate
          required: true
          type: string
        - description: The interval in minutes betwenn the values. 0 means as fast as possible. Only 1000 values can be get in one call.
          format: int32
          in: query
          name: interval
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ValuesData'
            type: array
      summary: Gets multiple values of a device. This call needs a smart-me professional licence.
      tags:
        - ValuesInPastMultiple
  /api/VirtualBillingMeterActive:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all active virtual meters.'
      operationId: VirtualBillingMeterActive_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all active virtual meters'
      tags:
        - VirtualBillingMeterActive
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      operationId: VirtualBillingMeterActive_Post
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToActivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToActivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      tags:
        - VirtualBillingMeterActive
  /api/VirtualBillingMeterDeactivate:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      operationId: VirtualBillingMeterDeactivate_Post
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToDeactivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToDeactivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      tags:
        - VirtualBillingMeterDeactivate
  /api/VirtualBillingMeters:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      operationId: VirtualBillingMeters_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      tags:
        - VirtualBillingMeters
  /api/VirtualMeterCalculateFormula:
    get:
      consumes: []
      deprecated: false
      description: "Calculates a virtual meter from a formula.\r\n            \r\n            A meter is coded as ID(\"METERID\")\r\n            Ariphmetical operators:\r\n             ()  parentheses;  \r\n             +   plus (a + b); \r\n             -  minus (a - b); \r\n             *  multiplycation symbol (a * b); \r\n             /  divide symbol (a / b); \r\n            Example: (ID(\"63ac09cb-4e5f-4f3e-bd27-ad8c30bdfc0c\") + ID(\"0209555e-9dc4-4e84-a166-a864488b4b12\")) * 2"
      operationId: VirtualMeterCalculateFormula_Get
      parameters:
        - in: query
          name: formula
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: "Calculates a virtual meter from a formula. \r\n            A meter is coded as ID(\"METERID\")"
      tags:
        - VirtualMeterCalculateFormula
  /api/VirtualTariff:
    get:
      consumes: []
      deprecated: false
      description: Gets all Virtual Tariffs of a user
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/VirtualTariffsOfFolder'
            type: array
      summary: Gets all Virtual Tariffs of a user
      tags:
        - VirtualTariff
  '/api/VirtualTariff/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets all virtual tariffs of a folder
      parameters:
        - description: The ID of the Folder
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VirtualTariffsOfFolder'
      summary: Gets all virtual tariffs of a folder
      tags:
        - VirtualTariff
  /api/VirtualTariffConsumption:
    get:
      consumes: []
      deprecated: false
      description: Gets the consumption of a folder with a virtuall tariffs.
      operationId: VirtualTariffConsumption_Get
      parameters:
        - description: The ID of the Folder
          in: query
          name: folderId
          required: true
          type: string
        - description: The start date (UTC)
          format: date-time
          in: query
          name: startDate
          required: true
          type: string
        - description: The end date (UTC)
          format: date-time
          in: query
          name: endDate
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/VirtualTariffConsumptionData'
            type: array
      summary: Gets the consumption of a folder with a virtuall tariffs.
      tags:
        - VirtualTariffConsumption
  /api/oauth/authorize:
    get:
      consumes: []
      deprecated: false
      parameters:
        - in: query
          name: client_id
          required: true
          type: string
        - in: query
          name: redirect_uri
          required: true
          type: string
        - in: query
          name: state
          required: true
          type: string
        - in: query
          name: scope
          required: false
          type: string
        - in: query
          name: client_secret
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      tags:
        - OAuth
    post:
      consumes: []
      deprecated: false
      parameters:
        - in: query
          name: client_id
          required: true
          type: string
        - in: query
          name: redirect_uri
          required: true
          type: string
        - in: query
          name: state
          required: true
          type: string
        - in: query
          name: scope
          required: false
          type: string
        - in: query
          name: client_secret
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      tags:
        - OAuth
definitions:
  AccessTokenToPut:
    description: Container Class for the Put action of an Access Token
    properties:
      CardId:
        description: The ID of the Card
        format: int64
        type: integer
      UserId:
        description: "The ID of the User. The credentials provided must have permission to edit the user.\r\n            If no ID is provided, the user in the credentials is taken."
        format: int64
        type: integer
    type: object
  ActionInformation:
    description: The Information about an Action of a device
    properties:
      ActionType:
        description: The Type of this action.
        enum:
          - OnOffAction
          - AnalogAction
        type: string
      MaxValue:
        description: The maximum value of this action (e.g. for an AnalogAction)
        format: double
        type: number
      MinValue:
        description: The minimum value of this action (e.g. for an AnalogAction)
        format: double
        type: number
      Name:
        description: The Name of this action
        type: string
      ObisCode:
        description: The Obis Code of this action. This is used as ID.
        type: string
    type: object
  ActionToPost:
    description: Container Class for an action to post
    properties:
      Actions:
        description: List with all Actions for this device
        items:
          $ref: '#/definitions/ActionToPostItem'
        type: array
      DeviceID:
        description: The ID of the Device
        type: string
    type: object
  ActionToPostItem:
    description: Container class for an action item
    properties:
      ObisCode:
        description: The ObisCode (ID) of the Action
        type: string
      Value:
        description: The Value to Post
        format: double
        type: number
    type: object
  AdditionalDeviceInformation:
    description: Additional Information For a device
    properties:
      AdditionalMeterSerialNumber:
        description: An additional Meter serial number. e.g. the number of a meter a smart-me device is connected to.
        type: string
      FirmwareVersion:
        description: The Firmware Version of a Meter
        format: int32
        type: integer
      HardwareVersion:
        description: The Hardware Version of a Meter.
        format: int32
        type: integer
      ID:
        description: The ID of the device
        type: string
    type: object
  AutoExportSettings:
    description: Settings for the auto export functionality of a meter
    properties:
      ExportFormat:
        description: The export format
        type: string
      ExportInterval:
        description: The export interval of the auto export
        enum:
          - NoExport
          - Hourly
          - Daily
          - Weekly
          - Monthly
          - QuaterYearly
          - HalfYearly
          - Yearly
        type: string
      MeterPointId:
        description: The meter point id set by the user
        type: string
      UploadType:
        description: The upload type
        type: string
    type: object
  CustomDeviceToPost:
    description: Container Class for the Web API
    properties:
      Id:
        description: The ID of the device
        type: string
      Name:
        description: The Name of the Device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Values:
        description: The Values of the custom Device
        items:
          $ref: '#/definitions/CustomDeviceValues'
        type: array
    type: object
  CustomDeviceValues:
    description: Container Class for the Custom Device Values
    properties:
      Name:
        description: The Name of the Value.
        type: string
      Value:
        description: The Value
        format: double
        type: number
    type: object
  Device:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Actvie Power or current flow rate
        format: double
        type: number
      ActivePowerL1:
        description: The Actvie Power Phase L1
        format: double
        type: number
      ActivePowerL2:
        description: The Actvie Power Phase L2
        format: double
        type: number
      ActivePowerL3:
        description: The Actvie Power Phase L3
        format: double
        type: number
      ActivePowerUnit:
        description: The Unit of the Active Power Value
        type: string
      ActiveTariff:
        description: The Number of the Active Tariff
        format: int32
        type: integer
      AdditionalMeterSerialNumber:
        description: An additional Meter serial number. e.g. the number of a meter a smart-me device is connected to.
        type: string
      AnalogOutput1:
        description: The analog output number 1 (PWM signal) (0 - 32183)
        format: int32
        type: integer
      AnalogOutput2:
        description: The analog output number 2 (PWM signal) (0 - 32183)
        format: int32
        type: integer
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingExport:
        description: The Meter Counter Reading only export
        format: double
        type: number
      CounterReadingImport:
        description: The Meter Counter Reading only import
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Current:
        description: The Current (in A)
        format: double
        type: number
      CurrentL1:
        description: The Current Phase L1 (in A)
        format: double
        type: number
      CurrentL2:
        description: The Current Phase L2 (in A)
        format: double
        type: number
      CurrentL3:
        description: The Current Phase L3 (in A)
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
          - MeterTypeSolarLog
          - MeterTypeVirtualMeter
          - MeterTypeWMBusGateway
        type: string
      DigitalInput1:
        description: The digital input number 1
        type: boolean
      DigitalInput2:
        description: The digital input number 2
        type: boolean
      DigitalOutput1:
        description: The digital output number 1
        type: boolean
      DigitalOutput2:
        description: The digital output number 2
        type: boolean
      FamilyType:
        description: The Family Type of the device.
        enum:
          - MeterFamilyTypeUnknown
          - MeterFamilyTypeSmartMeConnectV1
          - MeterFamiliyTypeSmartMeMeter
          - MeterFamiliyTypeSmartMeMeterWithSwitch
          - MeterFamilyTypeMBusGatewayV1
          - MeterFamilyTypeRS485GatewayV1
          - MeterFamilyTypeKamstrupModule
          - MeterFamilyTypeSmartMe3PhaseMeter80A
          - MeterFamilyTypeSmartMe3PhaseMeter32A
          - MeterFamilyTypeSmartMe3PhaseMeterTransformer
          - MeterFamilyTypeLandisGyrModule
          - MeterFamilyTypeFnnOpticalModule
          - MeterFamilyTypeSmartMe3PhaseMeter80AV2WiFi
          - MeterFamilyTypeSmartMe3PhaseMeter80AGprs
          - MeterFamilyTypeSmartMe1PhaseMeter80AV2WiFi
          - MeterFamilyTypeSmartMe1PhaseMeter32AV2WiFi
          - MeterFamilyTypeSmartMe1PhaseMeter80AGprs
          - MeterFamilyTypeSmartMe1PhaseMeter32AGprs
          - MeterFamilyTypeWMBusGatewayV1
          - MeterFamilyTypeRestApiMeter
          - MeterFamilyTypeVirtualBillingMeter
        type: string
      FlowRate:
        description: The current flow rate (e.g. m3/h)
        format: double
        type: number
      Id:
        description: The ID of the device
        type: string
      MeterSubType:
        description: The sub meter type (e.g. warmwater or coldwater)
        enum:
          - MeterSubTypeUnknown
          - MeterSubTypeCold
          - MeterSubTypeHeat
          - MeterSubTypeChargingStation
          - MeterSubTypeElectricity
          - MeterSubTypeWater
          - MeterSubTypeGas
          - MeterSubTypeElectricityHeat
          - MeterSubTypeTemperature
          - MeterSubTypeVirtualBattery
        type: string
      Name:
        description: The Name of the Device
        type: string
      PowerFactor:
        description: 'The Power Factor (cos phi). Range: 0 - 1'
        format: double
        type: number
      PowerFactorL1:
        description: 'The Power Factor (cos phi) Phase L1. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL2:
        description: 'The Power Factor (cos phi) Phase L2. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL3:
        description: 'The Power Factor (cos phi) Phase L3. Range: 0 - 1'
        format: double
        type: number
      Serial:
        description: The Serial number
        format: int64
        type: integer
      SwitchOn:
        description: Flag if the Switch is on on this device.
        type: boolean
      SwitchPhaseL1On:
        description: Flag if the Phase L1 is on on this device.
        type: boolean
      SwitchPhaseL2On:
        description: Flag if the Phase L2 is on on this device.
        type: boolean
      SwitchPhaseL3On:
        description: Flag if the Phase L3 is on on this device.
        type: boolean
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: Time of last successful connection the the smart-me Cloud.
        format: date-time
        type: string
      Voltage:
        description: The Voltage (in V)
        format: double
        type: number
      VoltageL1:
        description: The Voltage Phase L1 (in V)
        format: double
        type: number
      VoltageL2:
        description: The Voltage Phase L2 (in V)
        format: double
        type: number
      VoltageL3:
        description: The Voltage Phase L3 (in V)
        format: double
        type: number
    type: object
  DeviceInPast:
    description: Container Class for the Web API. Conatinas the MeterValues in the Past
    properties:
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingExport:
        description: The Meter Counter Reading Export
        format: double
        type: number
      CounterReadingExportT1:
        description: The Meter Counter Reading Export Tariff 1
        format: double
        type: number
      CounterReadingExportT2:
        description: The Meter Counter Reading Export Tariff 2
        format: double
        type: number
      CounterReadingExportT3:
        description: The Meter Counter Reading Export Tariff 3
        format: double
        type: number
      CounterReadingExportT4:
        description: The Meter Counter Reading Export Tariff 4
        format: double
        type: number
      CounterReadingImport:
        description: The Meter Counter Reading Import
        format: double
        type: number
      CounterReadingImportT1:
        description: The Meter Counter Reading Import Tariff 1
        format: double
        type: number
      CounterReadingImportT2:
        description: The Meter Counter Reading Import Tariff 2
        format: double
        type: number
      CounterReadingImportT3:
        description: The Meter Counter Reading Import Tariff 3
        format: double
        type: number
      CounterReadingImportT4:
        description: The Meter Counter Reading Import Tariff 4
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Date:
        description: The Date of the Values
        format: date-time
        type: string
      Id:
        description: The ID of the device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
    type: object
  DeviceToPost:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Active Power or current flow rate. In kW or m3/h
        format: double
        type: number
      CounterReading:
        description: The Meter Counter Reading (Total Energy used) in kWh or m3.
        format: double
        type: number
      CounterReadingExport:
        description: The Meter Counter Reading only export
        format: double
        type: number
      CounterReadingExportT1:
        description: The Meter Counter Reading only export (Tariff 1)
        format: double
        type: number
      CounterReadingExportT2:
        description: The Meter Counter Reading only export (Tariff 2)
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1 in kWh or m3.
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2 in kWh or m3.
        format: double
        type: number
      Current:
        description: The Current (in A)
        format: double
        type: number
      CurrentL1:
        description: The Current Phase L1 (in A)
        format: double
        type: number
      CurrentL2:
        description: The Current Phase L2 (in A)
        format: double
        type: number
      CurrentL3:
        description: The Current Phase L3 (in A)
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
          - MeterTypeSolarLog
          - MeterTypeVirtualMeter
          - MeterTypeWMBusGateway
        type: string
      DigitalInput1:
        description: The digital input number 1
        type: boolean
      Id:
        description: The ID of the device
        type: string
      MeterSubType:
        description: The Sub Type of this Meter.
        enum:
          - MeterSubTypeUnknown
          - MeterSubTypeCold
          - MeterSubTypeHeat
          - MeterSubTypeChargingStation
          - MeterSubTypeElectricity
          - MeterSubTypeWater
          - MeterSubTypeGas
          - MeterSubTypeElectricityHeat
          - MeterSubTypeTemperature
          - MeterSubTypeVirtualBattery
        type: string
      Name:
        description: The Name of the Device
        type: string
      PowerFactor:
        description: 'The Power Factor (cos phi). Range: 0 - 1'
        format: double
        type: number
      PowerFactorL1:
        description: 'The Power Factor (cos phi) Phase L1. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL2:
        description: 'The Power Factor (cos phi) Phase L2. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL3:
        description: 'The Power Factor (cos phi) Phase L3. Range: 0 - 1'
        format: double
        type: number
      Serial:
        description: The Serial number
        format: int64
        type: integer
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Voltage:
        description: The Voltage (in V)
        format: double
        type: number
      VoltageL1:
        description: The Voltage Phase L1 (in V)
        format: double
        type: number
      VoltageL2:
        description: The Voltage Phase L2 (in V)
        format: double
        type: number
      VoltageL3:
        description: The Voltage Phase L3 (in V)
        format: double
        type: number
    type: object
  FolderData:
    description: Container class for the folder API
    properties:
      ElectricityCounterValue:
        description: The Counter values for electricity (kWh)
        format: double
        type: number
      ElectricityPower:
        description: The Power for electricity (kW)
        format: double
        type: number
      GasCounterValue:
        description: The Counter values for Gas (m3)
        format: double
        type: number
      GasFlowRate:
        description: The Flow Rate for Gas (m3/h)
        format: double
        type: number
      HeatCounterValue:
        description: The Counter values for Heat (kWh)
        format: double
        type: number
      HeatPower:
        description: The Power for Heat (kW)
        format: double
        type: number
      WaterCounterValue:
        description: The Counter values for Water (m3)
        format: double
        type: number
      WaterFlowRate:
        description: The Flow Rate for Water (m3/h)
        format: double
        type: number
    type: object
  FolderMenuConfiguration:
    description: Container Class for the Web API representing a folder menu and it's items
    properties:
      Items:
        items:
          $ref: '#/definitions/FolderMenuItem'
        type: array
      TimeZoneName:
        description: The time zone name (usually taken from the browser)
        type: string
    type: object
  FolderMenuItem:
    description: A folder menu item
    properties:
      AutoExportSettings:
        $ref: '#/definitions/AutoExportSettings'
        description: Optional auto export settings for meters.
      Children:
        description: Children folder menu items (sub folder menu items)
        items:
          $ref: '#/definitions/FolderMenuItem'
        type: array
      FolderType:
        description: The folder type of the item
        enum:
          - Folder
          - Location
          - Factory
          - House
          - Office
          - Machine
          - VirtualMeter
          - ElecticityFolder
          - WaterFolder
          - HeatFolder
          - GasFolder
          - TemperatureFolder
          - Sun
          - Light
          - Ice
          - Sofa
          - Food
          - Coffee
          - Car
          - ChargingStation
          - Meter
          - User
          - Trash
          - GridPhotovoltaicPowerSystem
        type: string
      Id:
        description: The id of the folder menu item
        type: string
      MeterSerialNumber:
        description: "The serial number if the folder menu item is a meter. \r\n            Serial number is handled as a string, as javascript on client side cannot handle long integers properly."
        type: string
      Name:
        description: The Name of the item
        type: string
    type: object
  InputConfigurationContainer:
    description: Configuration for the input of a meter (digital inputs)
    properties:
      Name:
        description: The Name of the Input
        type: string
      Number:
        description: The number of the Input. (1 for Input 1)
        format: int32
        type: integer
      OffText:
        description: The visualization text for an OFF action
        type: string
      OnText:
        description: The visualization text for an ON action
        type: string
      Type:
        description: The Type of the output
        enum:
          - TariffInput
          - DigitalInput
        type: string
    type: object
  InputInformation:
    description: Informations about the Inputs of a Meter or Folder
    properties:
      Name:
        description: The Name of the Input
        type: string
      Number:
        description: The Number of this Input. Use this as ID to switch it on or off.
        format: int32
        type: integer
    type: object
  MBusData:
    properties:
      Date:
        description: The Date of the M-BUS Telegram Readout (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Telegram:
        description: "The M-BUS Telegram as Hex string. \r\n            Example: 68 1F 1F 68 08 02 72 78 56 34 12 24 40 01 07 55 00 00 00 03 13 15 31 00 DA 02 3B 13 01 8B 60 04 37 18 02 18 16"
        type: string
    type: object
  MeterFolderInformation:
    description: Container Class for the Web API
    properties:
      FirmwareVersion:
        description: The Firmware Version of a Meter
        format: int32
        type: integer
      HardwareVersion:
        description: The Hardware Version of a Meter.
        format: int32
        type: integer
      InputInformations:
        description: Informations about the available Inputs
        items:
          $ref: '#/definitions/InputInformation'
        type: array
      IsFolder:
        description: Flag if it's a Folder or a Meter
        type: boolean
      Name:
        description: Name of the Meter or Folder
        type: string
      OutputInformations:
        description: Informations about the available Outputs
        items:
          $ref: '#/definitions/OutputInformation'
        type: array
    type: object
  MeterFolderInformationToPost:
    description: Container for a Meter or Folder Information to Post
    properties:
      Id:
        description: The ID of the device or folder
        type: string
      Name:
        description: Name of the Meter or Folder
        type: string
    type: object
  Object:
    properties: {}
    type: object
  OutputConfigurationContainer:
    description: Configuration for the outputs of a meter (analog/digital outputs)
    properties:
      DigitalOutputNoConnectionAction:
        description: The Action when the device has lost the connection
        enum:
          - Nothing
          - TurnOff
          - TurnOn
          - SetPwmValue
        type: string
      Name:
        description: The Name of the Output
        type: string
      Number:
        description: 'The number of the Output. (1 for Output 1, 2 for Output 2)'
        format: int32
        type: integer
      S0PulseValue:
        description: The S0 Pulse Value
        enum:
          - PulseValue1000Kwh
          - PulseValue10000Kwh
        type: string
      Type:
        description: The Type of the output
        enum:
          - ImpulseOutputActiveEnergy
          - ImpulseOutputActiveEnergyImport
          - ImpulseOutputActiveEnergyExport
          - ImpulseOutputReactiveEnergy
          - DigitalOutput
          - AnalogPwmSignalOutput
          - Disabled
        type: string
    type: object
  OutputInformation:
    description: Informations about the Outputs of a Meter or Folder
    properties:
      ActionType:
        description: The type of the Output
        enum:
          - OnOffAction
          - AnalogAction
        type: string
      Name:
        description: The Name of the Output
        type: string
      Number:
        description: The Number of this Output. Use this as ID to switch it on or off.
        format: int32
        type: integer
      ObisCode:
        description: The Obis Code for this Output
        type: string
    type: object
  RegisterRealtimeApiData:
    description: Container class for the register realtime API API
    properties:
      ApiUrl:
        description: The URL of your endpoint. To this endpoint all the values are send to.
        type: string
      BasicAuthPassword:
        description: The Password (basic auth) of your endpoint. Leave empty of none.
        type: string
      BasicAuthUsername:
        description: The Username (basic auth) of your endpoint. Leave empty of none.
        type: string
      Id:
        description: The ID of the registration
        type: string
      MeterId:
        description: The ID of the Meter. Just used if the RegistrationType is "SingleMeterRegistration".
        type: string
      RegistrationType:
        description: 'The Type of this registration (per meter, per user, ...)'
        enum:
          - Disabled
          - SingleMeterRegistration
          - UserRegistration
        type: string
    type: object
  SmartMeDeviceConfigurationContainer:
    description: API Container class for the meter configuration
    properties:
      DeviceEncryptionKey:
        description: The encryption key used to decrypt messages received from an external meter (used only for the smart-me modules)
        type: string
      DevicePinCode:
        description: PIN code to enter on a external meter (e.g. for the FNN meters)
        type: string
      DnsUpdateState:
        description: 'Configuration of the dynamic DNS service. More information: http://wiki.smart-me.com/index.php/Dynamisches_DNS'
        enum:
          - NoUpdate
          - DnsUpdatePublicIp
          - DnsUpdateInternalIp
        type: string
      EnableModbusTcp:
        description: Enables or disables Modbus TCP (if the meter supports it).
        type: boolean
      Id:
        description: The ID of the device
        type: string
      InputConfiguration:
        description: The configuration for the intput outputs
        items:
          $ref: '#/definitions/InputConfigurationContainer'
        type: array
      OutputConfiguration:
        description: The configuration for the external outputs
        items:
          $ref: '#/definitions/OutputConfigurationContainer'
        type: array
      ShowReactiveEnergy:
        description: Shows the reactive energy values (if the meter supports it).
        type: boolean
      SwitchConfiguration:
        description: The configuration for the phase switches
        items:
          $ref: '#/definitions/SwitchConfigurationContainer'
        type: array
      UploadInterval:
        description: Number of seconds the device will upload the data. For smaller values maybe a professional license is needed.
        enum:
          - UploadInterval_1s
          - UploadInterval_5s
          - UploadInterval_10s
          - UploadInterval_30s
          - UploadInterval_60s
          - UploadInterval_5min
          - UploadInterval_15min
          - UploadInterval_30min
          - UploadInterval_60min
          - UploadInterval_6h
          - UploadInterval_12h
          - UploadInterval_24h
        type: string
    type: object
  SwitchConfigurationContainer:
    description: The configuration for a phase switch
    properties:
      CanSwitchOff:
        description: Flag if the switch can be turned off or is always on.
        type: boolean
      Number:
        description: The number of the phase. (e.g. 1 for Phase L1)
        format: int32
        type: integer
    type: object
  User:
    description: Container Class for the Web API
    properties:
      ChildUsers:
        description: The Users created by this users.
        items:
          $ref: '#/definitions/User'
        type: array
      Email:
        description: The EMail Address of the User
        type: string
      Id:
        description: The ID of the User
        format: int64
        type: integer
      IdAsString:
        description: The ID of the user as string
        type: string
      IsAdmin:
        description: Flag if this User is an Admin User
        type: boolean
      Permissions:
        description: Additional Permissions
        items:
          type: string
        type: array
      Username:
        description: The Username of the User
        type: string
    type: object
  VMeterToActivate:
    description: Actives a virtual Meter
    properties:
      SerialNumber:
        description: The Serialnumber of the Meter to activate.
        type: string
    type: object
  VMeterToDeactivate:
    description: Deactivates a virtual Meter
    properties:
      ID:
        description: The ID of the Virtual meter to deactivate
        type: string
    type: object
  ValueData:
    description: API Container for a (Device) Value
    properties:
      Obis:
        description: "The Obis code of this value. \r\n            A description you can find here:\r\n            http://wiki.smart-me.com/index.php/Obis_codes"
        type: string
      Value:
        description: The Value
        format: double
        type: number
    type: object
  ValuesData:
    description: API Container for a Meter Value
    properties:
      Date:
        description: The Date of the Value
        format: date-time
        type: string
      DeviceId:
        description: The ID of the device
        type: string
      Values:
        description: All values
        items:
          $ref: '#/definitions/ValueData'
        type: array
    type: object
  VirtualTariff:
    description: Container class for the virtual tariffs
    properties:
      Factor:
        description: Says how many of the active power is used in this tariff. This is calculated from the last meter values.
        format: double
        type: number
      Id:
        description: The ID of the virtual tariff
        type: string
      Name:
        description: The name of this tariff
        type: string
      Type:
        description: The Type of the tariff
        enum:
          - Battery
          - Solar
          - Normal
        type: string
      Unit:
        description: The Unit of this value
        type: string
      Value:
        description: The Counter Value of this tariff
        format: double
        type: number
    type: object
  VirtualTariffConsumptionData:
    description: Container class for the virtual tariff consumption
    properties:
      Consumption:
        description: The consumption (e.g. kWh) of this tariff
        format: double
        type: number
      Currency:
        description: The currency of the price
        type: string
      Name:
        description: The Name of this virtual tariff
        type: string
      Price:
        description: The price of the energy in this timerange
        format: double
        type: number
      TariffType:
        description: The type of the virtual tariff (e.g. solar)
        enum:
          - Battery
          - Solar
          - Normal
        type: string
    type: object
  VirtualTariffsOfFolder:
    description: Container class for a Virtual Tariff
    properties:
      Date:
        description: The DateTime (UTC) of this virtual tarfifs
        format: date-time
        type: string
      FolderId:
        description: The ID of the Folder
        type: string
      Name:
        description: The name of this folder
        type: string
      VirtualTariffs:
        description: The Name of the Virtual Tariff
        items:
          $ref: '#/definitions/VirtualTariff'
        type: array
    type: object
