swagger: '2.0'
schemes:
  - https
host: 'smart-me.com:443'
info:
  description: With the smart-me REST API you get Access to all your devices in the smart-me Cloud and you can add your own devices. So it's a easy way to add the smart-me Cloud support to your Hardware or Software Product.
  title: smart-me
  version: v1
  x-apisguru-categories:
    - iot
  x-logo:
    url: 'http://smart-me.com/Images/bootstrap/logo.png'
  x-origin:
    - format: swagger
      url: 'https://smart-me.com/swagger/docs/v1'
      version: '2.0'
  x-providerName: smart-me.com
securityDefinitions:
  basic:
    description: Basic HTTP Authentication
    type: basic
paths:
  /api/AccessToken:
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Creates a Access Token to write on a Card (e.g. NFC)
      operationId: AccessToken_Put
      parameters:
        - in: body
          name: accessTokenToPut
          required: true
          schema:
            $ref: '#/definitions/AccessTokenToPut'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Creates a Access Token to write on a Card (e.g. NFC)
      tags:
        - AccessToken
  /api/Actions:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Set an action for the specified device.
      operationId: Actions_Post
      parameters:
        - description: The Action Data
          in: body
          name: actionToPost
          required: true
          schema:
            $ref: '#/definitions/ActionToPost'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Set an action for the specified device.
      tags:
        - Actions
  '/api/Actions/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets all available Actions of a Device
      operationId: Actions_Get
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ActionInformation'
            type: array
      summary: Gets all available Actions of a Device
      tags:
        - Actions
  /api/ChargingUser:
    get:
      consumes: []
      deprecated: false
      operationId: ChargingUser_Get
      parameters:
        - description: The ID of the user
          format: int64
          in: query
          name: userId
          required: true
          type: integer
        - description: The current Date
          format: int64
          in: query
          name: date
          required: true
          type: integer
        - description: The Password token
          in: query
          name: passwordToken
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      summary: Gets the informations for the user.
      tags:
        - ChargingUser
  /api/CustomDevice:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CustomDeviceToPost'
            type: array
      summary: Gets all Custom Devices
      tags:
        - CustomDevice
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates or updates a Custom Device or updates it's values.\r\n            A Custom Device can be any device that like to add some measurement values to the smart-me Cloud.\r\n            Only use a custom device for all non meters.\r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      operationId: CustomDevice_Post
      parameters:
        - description: Device object with all the data
          in: body
          name: newDevice
          required: true
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
        '401':
          description: Unauthorized
      summary: Creates or updates a Custom Device or updates it's values.
      tags:
        - CustomDevice
  '/api/CustomDevice/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's ID
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomDeviceToPost'
      summary: Gets a Custom Device by it's ID
      tags:
        - CustomDevice
  /api/DeviceBySerial:
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      operationId: DeviceBySerial_Get
      parameters:
        - description: The Serial Number of the device
          format: int64
          in: query
          name: serial
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's Serial Number. The Serial is the part before the "-".
      tags:
        - DeviceBySerial
  /api/Devices:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices
      tags:
        - Devices
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates or updates a Device or updates it's values. \r\n            For a new device leave the ID empty. To create a device you have to set the DeviceEnergyType.\r\n            To update values, add the ID of the device and the values you like to set.  (See the Data Type Model for more Information)"
      operationId: Devices_Post
      parameters:
        - description: Device object with all the data
          in: body
          name: newDevice
          required: true
          schema:
            $ref: '#/definitions/DeviceToPost'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceToPost'
        '401':
          description: Unauthorized
      summary: Creates or updates a Device or updates it's values.
      tags:
        - Devices
  '/api/Devices/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets a Device by it's ID
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: Gets a Device by it's ID
      tags:
        - Devices
    put:
      consumes: []
      deprecated: false
      description: "Updates the On/Off Switch on a device\r\n            For new implementations please use the \"actions\" command"
      operationId: Devices_Put
      parameters:
        - description: The ID of the device
          in: path
          name: id
          required: true
          type: string
        - description: The new state of the switch
          in: query
          name: switchState
          required: true
          type: boolean
        - description: 'The number of the switch if there are multiple (1 for L1, 3 for L3)'
          format: int32
          in: query
          name: switchNumber
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '401':
          description: Unauthorized
        '405':
          description: MethodNotAllowed
      summary: "Updates the On/Off Switch on a device. \r\n            For new implementations please use the \"actions\" command"
      tags:
        - Devices
  /api/DevicesByEnergy:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices for an Energy Type
      operationId: DevicesByEnergy_Get
      parameters:
        - enum:
            - MeterTypeUnknown
            - MeterTypeElectricity
            - MeterTypeWater
            - MeterTypeGas
            - MeterTypeHeat
            - MeterTypeHCA
            - MeterTypeAllMeters
            - MeterTypeTemperature
            - MeterTypeMBusGateway
            - MeterTypeRS485Gateway
            - MeterTypeCustomDevice
            - MeterTypeCompressedAir
            - MeterTypeSolarLog
            - MeterTypeVirtualMeter
          in: query
          name: meterEnergyType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices for an Energy Type
      tags:
        - DevicesByEnergy
  /api/DevicesBySubType:
    get:
      consumes: []
      deprecated: false
      description: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      operationId: DevicesBySubType_Get
      parameters:
        - enum:
            - MeterSubTypeUnknown
            - MeterSubTypeCold
            - MeterSubTypeHeat
            - MeterSubTypeChargingStation
            - MeterSubTypeElectricity
            - MeterSubTypeWater
            - MeterSubTypeGas
            - MeterSubTypeElectricityHeat
            - MeterSubTypeTemperature
          in: query
          name: meterSubType
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: Gets all Devices by it's Sub Type (e.g. E-Charging Station)
      tags:
        - DevicesBySubType
  '/api/Folder/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a folder or a meter
      operationId: Folder_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FolderData'
      summary: Gets the Values for a folder or a meter
      tags:
        - Folder
  /api/MBus:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      operationId: MBus_Post
      parameters:
        - description: The M-BUS Telegram
          in: body
          name: mbusData
          required: true
          schema:
            $ref: '#/definitions/MBusData'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
      summary: "M-BUS API: Adds data of a M-BUS Meter to the smart-me Cloud.\r\n            Just send us the M-BUS Telegram (RSP_UD) and we will do the Rest."
      tags:
        - MBus
  /api/MeterFolderInformation:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Sets the Name of a Meter or a Folder
      operationId: MeterFolderInformation_Post
      parameters:
        - in: body
          name: meterFolderInformation
          required: true
          schema:
            $ref: '#/definitions/MeterFolderInformationToPost'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Sets the Name of a Meter or a Folder
      tags:
        - MeterFolderInformation
  '/api/MeterFolderInformation/{id}':
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets the General Information for a Meter or a Folder'
      operationId: MeterFolderInformation_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MeterFolderInformation'
      summary: 'Beta: Gets the General Information for a Meter or a Folder'
      tags:
        - MeterFolderInformation
  '/api/MeterValues/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets the Values for a Meter at a given Date. The first Value found before the given Date is returned.
      operationId: MeterValues_Get
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - format: date-time
          in: query
          name: date
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceInPast'
      summary: "Gets the Values for a Meter at a given Date. \r\n            The first Value found before the given Date is returned."
      tags:
        - MeterValues
  /api/SignUp:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Sign up a new User.\r\n            The sign up is done on the smart-me Cloud."
      operationId: SignUp_Post
      parameters:
        - description: The user data
          in: body
          name: signUpData
          required: true
          schema:
            $ref: '#/definitions/SignUpData'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '400':
          description: BadRequest
        '500':
          description: InternalServerError
      summary: "Sign up a new User.\r\n            The sign up is done on the smart-me Cloud."
      tags:
        - SignUp
  /api/User:
    get:
      consumes: []
      deprecated: false
      description: Gets the informations for the user.
      operationId: User_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      summary: Gets the informations for the user.
      tags:
        - User
  /api/VirtualBillingMeterActive:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all active virtual meters.'
      operationId: VirtualBillingMeterActive_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all active virtual meters'
      tags:
        - VirtualBillingMeterActive
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      operationId: VirtualBillingMeterActive_Post
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToActivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToActivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Activates a Meter and add the Consumption to a Virtual Meter assosiated with the User.'
      tags:
        - VirtualBillingMeterActive
  /api/VirtualBillingMeterDeactivate:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      operationId: VirtualBillingMeterDeactivate_Post
      parameters:
        - description: The Meter to activate
          in: body
          name: meterToDeactivate
          required: true
          schema:
            $ref: '#/definitions/VMeterToDeactivate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: BadRequest
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: 'Beta: Virtual Meter API: Deactivates a Virtual Meter.'
      tags:
        - VirtualBillingMeterDeactivate
  /api/VirtualBillingMeters:
    get:
      consumes: []
      deprecated: false
      description: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      operationId: VirtualBillingMeters_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Device'
            type: array
      summary: 'Beta: Gets all Meters available to activate as a Virtual Meter.'
      tags:
        - VirtualBillingMeters
  /api/VirtualMeterCalculateFormula:
    get:
      consumes: []
      deprecated: false
      description: "Calculates a virtual meter from a formula.\r\n            \r\n            A meter is coded as ID(\"METERID\")\r\n            Ariphmetical operators:\r\n             ()  parentheses;  \r\n             +   plus (a + b); \r\n             -  minus (a - b); \r\n             *  multiplycation symbol (a * b); \r\n             /  divide symbol (a / b); \r\n            Example: (ID(\"63ac09cb-4e5f-4f3e-bd27-ad8c30bdfc0c\") + ID(\"0209555e-9dc4-4e84-a166-a864488b4b12\")) * 2"
      operationId: VirtualMeterCalculateFormula_Get
      parameters:
        - in: query
          name: formula
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Device'
      summary: "Calculates a virtual meter from a formula. \r\n            A meter is coded as ID(\"METERID\")"
      tags:
        - VirtualMeterCalculateFormula
  /api/VirtualTariff:
    get:
      consumes: []
      deprecated: false
      description: Gets all Virtual Tariffs of a user
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/VirtualTariffsOfFolder'
            type: array
      summary: Gets all Virtual Tariffs of a user
      tags:
        - VirtualTariff
  '/api/VirtualTariff/{id}':
    get:
      consumes: []
      deprecated: false
      description: Gets all virtual tariffs of a folder
      parameters:
        - description: The ID of the Folder
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VirtualTariffsOfFolder'
      summary: Gets all virtual tariffs of a folder
      tags:
        - VirtualTariff
  /api/VirtualTariffConsumption:
    get:
      consumes: []
      deprecated: false
      description: Gets the consumption of a folder with a virtuall tariffs.
      operationId: VirtualTariffConsumption_Get
      parameters:
        - description: The ID of the Folder
          in: query
          name: folderId
          required: true
          type: string
        - description: The start date (UTC)
          format: date-time
          in: query
          name: startDate
          required: true
          type: string
        - description: The end date (UTC)
          format: date-time
          in: query
          name: endDate
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/VirtualTariffConsumptionData'
            type: array
      summary: Gets the consumption of a folder with a virtuall tariffs.
      tags:
        - VirtualTariffConsumption
definitions:
  AccessTokenToPut:
    description: Container Class for the Put action of an Access Token
    properties:
      CardId:
        description: The ID of the Card
        format: int64
        type: integer
      UserId:
        description: "The ID of the User. The credentials provided must have permission to edit the user.\r\n            If no ID is provided, the user in the credentials is taken."
        format: int64
        type: integer
    type: object
  ActionInformation:
    description: The Information about an Action of a device
    properties:
      ActionType:
        description: The Type of this action.
        enum:
          - OnOffAction
          - AnalogAction
        type: string
      MaxValue:
        description: The maximum value of this action (e.g. for an AnalogAction)
        format: double
        type: number
      MinValue:
        description: The minimum value of this action (e.g. for an AnalogAction)
        format: double
        type: number
      Name:
        description: The Name of this action
        type: string
      ObisCode:
        description: The Obis Code of this action. This is used as ID.
        type: string
    type: object
  ActionToPost:
    description: Container Class for an action to post
    properties:
      Actions:
        description: List with all Actions for this device
        items:
          $ref: '#/definitions/ActionToPostItem'
        type: array
      DeviceID:
        description: The ID of the Device
        type: string
    type: object
  ActionToPostItem:
    description: Container class for an action item
    properties:
      ObisCode:
        description: The ObisCode (ID) of the Action
        type: string
      Value:
        description: The Value to Post
        format: double
        type: number
    type: object
  CustomDeviceToPost:
    description: Container Class for the Web API
    properties:
      Id:
        description: The ID of the device
        type: string
      Name:
        description: The Name of the Device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Values:
        description: The Values of the custom Device
        items:
          $ref: '#/definitions/CustomDeviceValues'
        type: array
    type: object
  CustomDeviceValues:
    description: Container Class for the Custom Device Values
    properties:
      Name:
        description: The Name of the Value.
        type: string
      Value:
        description: The Value
        format: double
        type: number
    type: object
  Device:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Actvie Power or current flow rate
        format: double
        type: number
      ActivePowerL1:
        description: The Actvie Power Phase L1
        format: double
        type: number
      ActivePowerL2:
        description: The Actvie Power Phase L2
        format: double
        type: number
      ActivePowerL3:
        description: The Actvie Power Phase L3
        format: double
        type: number
      ActivePowerUnit:
        description: The Unit of the Active Power Value
        type: string
      ActiveTariff:
        description: The Number of the Active Tariff
        format: int32
        type: integer
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Current:
        description: The Current (in A)
        format: double
        type: number
      CurrentL1:
        description: The Current Phase L1 (in A)
        format: double
        type: number
      CurrentL2:
        description: The Current Phase L2 (in A)
        format: double
        type: number
      CurrentL3:
        description: The Current Phase L3 (in A)
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
          - MeterTypeSolarLog
          - MeterTypeVirtualMeter
        type: string
      DigitalInput1:
        description: The digital input number 1
        type: boolean
      DigitalInput2:
        description: The digital input number 2
        type: boolean
      DigitalOutput1:
        description: The digital output number 1
        type: boolean
      DigitalOutput2:
        description: The digital output number 2
        type: boolean
      FamilyType:
        description: The Family Type of the device.
        enum:
          - MeterFamilyTypeUnknown
          - MeterFamilyTypeSmartMeConnectV1
          - MeterFamiliyTypeSmartMeMeter
          - MeterFamiliyTypeSmartMeMeterWithSwitch
          - MeterFamilyTypeMBusGatewayV1
          - MeterFamilyTypeRS485GatewayV1
          - MeterFamilyTypeKamstrupModule
          - MeterFamilyTypeSmartMe3PhaseMeter80A
          - MeterFamilyTypeSmartMe3PhaseMeter32A
          - MeterFamilyTypeSmartMe3PhaseMeterTransformer
          - MeterFamilyTypeLandisGyrModule
          - MeterFamilyTypeRestApiMeter
          - MeterFamilyTypeVirtualBillingMeter
        type: string
      Id:
        description: The ID of the device
        type: string
      Name:
        description: The Name of the Device
        type: string
      PowerFactor:
        description: 'The Power Factor (cos phi). Range: 0 - 1'
        format: double
        type: number
      PowerFactorL1:
        description: 'The Power Factor (cos phi) Phase L1. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL2:
        description: 'The Power Factor (cos phi) Phase L2. Range: 0 - 1'
        format: double
        type: number
      PowerFactorL3:
        description: 'The Power Factor (cos phi) Phase L3. Range: 0 - 1'
        format: double
        type: number
      Serial:
        description: The Serial number
        format: int64
        type: integer
      SwitchOn:
        description: Flag if the Switch is on on this device.
        type: boolean
      SwitchPhaseL1On:
        description: Flag if the Phase L1 is on on this device.
        type: boolean
      SwitchPhaseL2On:
        description: Flag if the Phase L2 is on on this device.
        type: boolean
      SwitchPhaseL3On:
        description: Flag if the Phase L3 is on on this device.
        type: boolean
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: Time of last successful connection the the smart-me Cloud.
        format: date-time
        type: string
      Voltage:
        description: The Voltage (in V)
        format: double
        type: number
      VoltageL1:
        description: The Voltage Phase L1 (in V)
        format: double
        type: number
      VoltageL2:
        description: The Voltage Phase L2 (in V)
        format: double
        type: number
      VoltageL3:
        description: The Voltage Phase L3 (in V)
        format: double
        type: number
    type: object
  DeviceInPast:
    description: Container Class for the Web API. Conatinas the MeterValues in the Past
    properties:
      CounterReading:
        description: The Meter Counter Reading (Total Energy used)
        format: double
        type: number
      CounterReadingExport:
        description: The Meter Counter Reading Export
        format: double
        type: number
      CounterReadingExportT1:
        description: The Meter Counter Reading Export Tariff 1
        format: double
        type: number
      CounterReadingExportT2:
        description: The Meter Counter Reading Export Tariff 2
        format: double
        type: number
      CounterReadingExportT3:
        description: The Meter Counter Reading Export Tariff 3
        format: double
        type: number
      CounterReadingExportT4:
        description: The Meter Counter Reading Export Tariff 4
        format: double
        type: number
      CounterReadingImport:
        description: The Meter Counter Reading Import
        format: double
        type: number
      CounterReadingImportT1:
        description: The Meter Counter Reading Import Tariff 1
        format: double
        type: number
      CounterReadingImportT2:
        description: The Meter Counter Reading Import Tariff 2
        format: double
        type: number
      CounterReadingImportT3:
        description: The Meter Counter Reading Import Tariff 3
        format: double
        type: number
      CounterReadingImportT4:
        description: The Meter Counter Reading Import Tariff 4
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2
        format: double
        type: number
      CounterReadingT3:
        description: The Meter Counter Reading Tariff 3
        format: double
        type: number
      CounterReadingT4:
        description: The Meter Counter Reading Tariff 4
        format: double
        type: number
      CounterReadingUnit:
        description: The Unit of the Counter Reading
        type: string
      Date:
        description: The Date of the Values
        format: date-time
        type: string
      Id:
        description: The ID of the device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
    type: object
  DeviceToPost:
    description: Container Class for the Web API
    properties:
      ActivePower:
        description: The Active Power or current flow rate. In kW or m3/h
        format: double
        type: number
      CounterReading:
        description: The Meter Counter Reading (Total Energy used) in kWh or m3.
        format: double
        type: number
      CounterReadingT1:
        description: The Meter Counter Reading Tariff 1 in kWh or m3.
        format: double
        type: number
      CounterReadingT2:
        description: The Meter Counter Reading Tariff 2 in kWh or m3.
        format: double
        type: number
      DeviceEnergyType:
        description: The Energy Type of this device
        enum:
          - MeterTypeUnknown
          - MeterTypeElectricity
          - MeterTypeWater
          - MeterTypeGas
          - MeterTypeHeat
          - MeterTypeHCA
          - MeterTypeAllMeters
          - MeterTypeTemperature
          - MeterTypeMBusGateway
          - MeterTypeRS485Gateway
          - MeterTypeCustomDevice
          - MeterTypeCompressedAir
          - MeterTypeSolarLog
          - MeterTypeVirtualMeter
        type: string
      Id:
        description: The ID of the device
        type: string
      MeterSubType:
        description: The Sub Type of this Meter.
        enum:
          - MeterSubTypeUnknown
          - MeterSubTypeCold
          - MeterSubTypeHeat
          - MeterSubTypeChargingStation
          - MeterSubTypeElectricity
          - MeterSubTypeWater
          - MeterSubTypeGas
          - MeterSubTypeElectricityHeat
          - MeterSubTypeTemperature
        type: string
      Name:
        description: The Name of the Device
        type: string
      Serial:
        description: The Serial number
        format: int64
        type: integer
      Temperature:
        description: The Temperature (in degree celsius)
        format: double
        type: number
      ValueDate:
        description: The Date of the Value (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
    type: object
  FolderData:
    description: Container class for the folder API
    properties:
      ElectricityCounterValue:
        description: The Counter values for electricity (kWh)
        format: double
        type: number
      ElectricityPower:
        description: The Power for electricity (kW)
        format: double
        type: number
      GasCounterValue:
        description: The Counter values for Gas (m3)
        format: double
        type: number
      GasFlowRate:
        description: The Flow Rate for Gas (m3/h)
        format: double
        type: number
      HeatCounterValue:
        description: The Counter values for Heat (kWh)
        format: double
        type: number
      HeatPower:
        description: The Power for Heat (kW)
        format: double
        type: number
      WaterCounterValue:
        description: The Counter values for Water (m3)
        format: double
        type: number
      WaterFlowRate:
        description: The Flow Rate for Water (m3/h)
        format: double
        type: number
    type: object
  InputInformation:
    description: Informations about the Inputs of a Meter or Folder
    properties:
      Name:
        description: The Name of the Input
        type: string
      Number:
        description: The Number of this Input. Use this as ID to switch it on or off.
        format: int32
        type: integer
    type: object
  MBusData:
    properties:
      Date:
        description: The Date of the M-BUS Telegram Readout (in UTC). If this is null the Server Time is used.
        format: date-time
        type: string
      Telegram:
        description: "The M-BUS Telegram as Hex string. \r\n            Example: 68 1F 1F 68 08 02 72 78 56 34 12 24 40 01 07 55 00 00 00 03 13 15 31 00 DA 02 3B 13 01 8B 60 04 37 18 02 18 16"
        type: string
    type: object
  MeterFolderInformation:
    description: Container Class for the Web API
    properties:
      FirmwareVersion:
        description: The Firmware Version of a Meter
        format: int32
        type: integer
      HardwareVersion:
        description: The Hardware Version of a Meter.
        format: int32
        type: integer
      InputInformations:
        description: Informations about the available Inputs
        items:
          $ref: '#/definitions/InputInformation'
        type: array
      IsFolder:
        description: Flag if it's a Folder or a Meter
        type: boolean
      Name:
        description: Name of the Meter or Folder
        type: string
      OutputInformations:
        description: Informations about the available Outputs
        items:
          $ref: '#/definitions/OutputInformation'
        type: array
    type: object
  MeterFolderInformationToPost:
    description: Container for a Meter or Folder Information to Post
    properties:
      Id:
        description: The ID of the device or folder
        type: string
      Name:
        description: Name of the Meter or Folder
        type: string
    type: object
  Object:
    properties: {}
    type: object
  OutputInformation:
    description: Informations about the Outputs of a Meter or Folder
    properties:
      ActionType:
        description: The type of the Output
        enum:
          - OnOffAction
          - AnalogAction
        type: string
      Name:
        description: The Name of the Output
        type: string
      Number:
        description: The Number of this Output. Use this as ID to switch it on or off.
        format: int32
        type: integer
      ObisCode:
        description: The Obis Code for this Output
        type: string
    type: object
  SignUpData:
    description: Container for the Sign UP API
    properties:
      Email:
        description: The Email Address to register
        type: string
      Password:
        description: The Password to register
        type: string
    type: object
  User:
    description: Container Class for the Web API
    properties:
      ChildUsers:
        description: The Users created by this users.
        items:
          $ref: '#/definitions/User'
        type: array
      Email:
        description: The EMail Address of the User
        type: string
      Id:
        description: The ID of the User
        format: int64
        type: integer
      IsAdmin:
        description: Flag if this User is an Admin User
        type: boolean
      Username:
        description: The Username of the User
        type: string
    type: object
  VMeterToActivate:
    description: Actives a virtual Meter
    properties:
      SerialNumber:
        description: The Serialnumber of the Meter to activate.
        type: string
    type: object
  VMeterToDeactivate:
    description: Deactivates a virtual Meter
    properties:
      ID:
        description: The ID of the Virtual meter to deactivate
        type: string
    type: object
  VirtualTariff:
    description: Container class for the virtual tariffs
    properties:
      Factor:
        description: Says how many of the active power is used in this tariff. This is calculated from the last meter values.
        format: double
        type: number
      Id:
        description: The ID of the virtual tariff
        type: string
      Name:
        description: The name of this tariff
        type: string
      Type:
        description: The Type of the tariff
        enum:
          - Battery
          - Solar
          - Normal
        type: string
      Unit:
        description: The Unit of this value
        type: string
      Value:
        description: The Counter Value of this tariff
        format: double
        type: number
    type: object
  VirtualTariffConsumptionData:
    description: Container class for the virtual tariff consumption
    properties:
      Consumption:
        description: The consumption (e.g. kWh) of this tariff
        format: double
        type: number
      Currency:
        description: The currency of the price
        type: string
      Name:
        description: The Name of this virtual tariff
        type: string
      Price:
        description: The price of the energy in this timerange
        format: double
        type: number
      TariffType:
        description: The type of the virtual tariff (e.g. solar)
        enum:
          - Battery
          - Solar
          - Normal
        type: string
    type: object
  VirtualTariffsOfFolder:
    description: Container class for a Virtual Tariff
    properties:
      Date:
        description: The DateTime (UTC) of this virtual tarfifs
        format: date-time
        type: string
      FolderId:
        description: The ID of the Folder
        type: string
      Name:
        description: The name of this folder
        type: string
      VirtualTariffs:
        description: The Name of the Virtual Tariff
        items:
          $ref: '#/definitions/VirtualTariff'
        type: array
    type: object
