swagger: '2.0'
schemes:
  - https
host: youtubereporting.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Schedules reporting jobs containing your YouTube Analytics data and downloads the resulting bulk data reports in the form of CSV files.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: YouTube Reporting
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/902547949103841281/TmdokZcM_400x400.jpg'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://youtubereporting.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: youtubereporting
externalDocs:
  url: 'https://developers.google.com/youtube/reporting/v1/reports/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/yt-analytics-monetary.readonly': View monetary and non-monetary YouTube Analytics reports for your YouTube content
      'https://www.googleapis.com/auth/yt-analytics.readonly': View YouTube Analytics reports for your YouTube content
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/yt-analytics-monetary.readonly': View monetary and non-monetary YouTube Analytics reports for your YouTube content
      'https://www.googleapis.com/auth/yt-analytics.readonly': View YouTube Analytics reports for your YouTube content
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: jobs
  - name: media
  - name: reportTypes
paths:
  /v1/jobs:
    get:
      description: Lists jobs.
      operationId: youtubereporting.jobs.list
      parameters:
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            A token identifying a page of results the server should return. Typically,
            this is the value of
            ListReportTypesResponse.next_page_token
            returned in response to the previous call to the `ListJobs` method.
          in: query
          name: pageToken
          type: string
        - description: |-
            If set to true, also system-managed jobs will be returned; otherwise only
            user-created jobs will be returned. System-managed jobs can neither be
            modified nor deleted.
          in: query
          name: includeSystemManaged
          type: boolean
        - description: |-
            Requested page size. Server may return fewer jobs than requested.
            If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
    post:
      description: Creates a job and returns it.
      operationId: youtubereporting.jobs.create
      parameters:
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Job'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
  '/v1/jobs/{jobId}':
    delete:
      description: Deletes a job.
      operationId: youtubereporting.jobs.delete
      parameters:
        - description: The ID of the job to delete.
          in: path
          name: jobId
          required: true
          type: string
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
    get:
      description: Gets a job.
      operationId: youtubereporting.jobs.get
      parameters:
        - description: The ID of the job to retrieve.
          in: path
          name: jobId
          required: true
          type: string
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/jobs/{jobId}/reports':
    get:
      description: |-
        Lists reports created by a specific job.
        Returns NOT_FOUND if the job does not exist.
      operationId: youtubereporting.jobs.reports.list
      parameters:
        - description: The ID of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: |-
            If set, only reports whose start time is smaller than the specified
            date/time are returned.
          in: query
          name: startTimeBefore
          type: string
        - description: 'If set, only reports created after the specified date/time are returned.'
          in: query
          name: createdAfter
          type: string
        - description: |-
            A token identifying a page of results the server should return. Typically,
            this is the value of
            ListReportsResponse.next_page_token
            returned in response to the previous call to the `ListReports` method.
          in: query
          name: pageToken
          type: string
        - description: |-
            If set, only reports whose start time is greater than or equal the
            specified date/time are returned.
          in: query
          name: startTimeAtOrAfter
          type: string
        - description: |-
            Requested page size. Server may return fewer report types than requested.
            If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListReportsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/jobs/{jobId}/reports/{reportId}':
    get:
      description: Gets the metadata of a specific report.
      operationId: youtubereporting.jobs.reports.get
      parameters:
        - description: The ID of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: The ID of the report to retrieve.
          in: path
          name: reportId
          required: true
          type: string
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - jobs
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  '/v1/media/{resourceName}':
    get:
      description: |-
        Method for media download. Download is supported
        on the URI `/v1/media/{+name}?alt=media`.
      operationId: youtubereporting.media.download
      parameters:
        - description: |-
            Name of the media that is being downloaded.  See
            ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Media'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - media
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
  /v1/reportTypes:
    get:
      description: Lists report types.
      operationId: youtubereporting.reportTypes.list
      parameters:
        - description: |-
            A token identifying a page of results the server should return. Typically,
            this is the value of
            ListReportTypesResponse.next_page_token
            returned in response to the previous call to the `ListReportTypes` method.
          in: query
          name: pageToken
          type: string
        - description: |-
            If set to true, also system-managed report types will be returned;
            otherwise only the report types that can be used to create new reporting
            jobs will be returned.
          in: query
          name: includeSystemManaged
          type: boolean
        - description: |-
            Requested page size. Server may return fewer report types than requested.
            If unspecified, server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The content owner's external ID on which behalf the user is acting on. If
            not set, the user is acting for himself (his own channel).
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListReportTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - reportTypes
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
definitions:
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  Job:
    description: A job creating reports of a specific type.
    properties:
      createTime:
        description: The creation date/time of the job.
        format: google-datetime
        type: string
      expireTime:
        description: |-
          The date/time when this job will expire/expired. After a job expired, no
          new reports are generated.
        format: google-datetime
        type: string
      id:
        description: The server-generated ID of the job (max. 40 characters).
        type: string
      name:
        description: The name of the job (max. 100 characters).
        type: string
      reportTypeId:
        description: |-
          The type of reports this job creates. Corresponds to the ID of a
          ReportType.
        type: string
      systemManaged:
        description: |-
          True if this a system-managed job that cannot be modified by the user;
          otherwise false.
        type: boolean
    type: object
  ListJobsResponse:
    description: Response message for ReportingService.ListJobs.
    properties:
      jobs:
        description: The list of jobs.
        items:
          $ref: '#/definitions/Job'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve next page of results.
          Pass this value in the
          ListJobsRequest.page_token
          field in the subsequent call to `ListJobs` method to retrieve the next
          page of results.
        type: string
    type: object
  ListReportTypesResponse:
    description: Response message for ReportingService.ListReportTypes.
    properties:
      nextPageToken:
        description: |-
          A token to retrieve next page of results.
          Pass this value in the
          ListReportTypesRequest.page_token
          field in the subsequent call to `ListReportTypes` method to retrieve the next
          page of results.
        type: string
      reportTypes:
        description: The list of report types.
        items:
          $ref: '#/definitions/ReportType'
        type: array
    type: object
  ListReportsResponse:
    description: Response message for ReportingService.ListReports.
    properties:
      nextPageToken:
        description: |-
          A token to retrieve next page of results.
          Pass this value in the
          ListReportsRequest.page_token
          field in the subsequent call to `ListReports` method to retrieve the next
          page of results.
        type: string
      reports:
        description: The list of report types.
        items:
          $ref: '#/definitions/Report'
        type: array
    type: object
  Media:
    description: Media resource.
    properties:
      resourceName:
        description: Name of the media resource.
        type: string
    type: object
  Report:
    description: |-
      A report's metadata including the URL from which the report itself can be
      downloaded.
    properties:
      createTime:
        description: The date/time when this report was created.
        format: google-datetime
        type: string
      downloadUrl:
        description: The URL from which the report can be downloaded (max. 1000 characters).
        type: string
      endTime:
        description: |-
          The end of the time period that the report instance covers. The value is
          exclusive.
        format: google-datetime
        type: string
      id:
        description: The server-generated ID of the report.
        type: string
      jobExpireTime:
        description: The date/time when the job this report belongs to will expire/expired.
        format: google-datetime
        type: string
      jobId:
        description: The ID of the job that created this report.
        type: string
      startTime:
        description: |-
          The start of the time period that the report instance covers. The value is
          inclusive.
        format: google-datetime
        type: string
    type: object
  ReportType:
    description: A report type.
    properties:
      deprecateTime:
        description: The date/time when this report type was/will be deprecated.
        format: google-datetime
        type: string
      id:
        description: The ID of the report type (max. 100 characters).
        type: string
      name:
        description: The name of the report type (max. 100 characters).
        type: string
      systemManaged:
        description: |-
          True if this a system-managed report type; otherwise false. Reporting jobs
          for system-managed report types are created automatically and can thus not
          be used in the `CreateJob` method.
        type: boolean
    type: object
