swagger: '2.0'
schemes:
  - http
  - https
host: timetableapi.ptv.vic.gov.au
info:
  contact:
    name: Public Transport Victoria
    url: 'http://ptv.vic.gov.au/digital'
  description: "The PTV Timetable API provides direct access to Public Transport Victoria’s public transport timetable data.\r\n\r\nThe API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).\r\n\r\nThe API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.\r\n\r\nThis Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.\r\n\r\nTrain timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.\r\n\r\nYou can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:\r\n\r\n    base URL / version number / API name / query string\r\nThe base URL is either:\r\n  *  http://timetableapi.ptv.vic.gov.au\r\nor\r\n  *  https://timetableapi.ptv.vic.gov.au\r\n\r\nThe Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\r\n\r\nFrequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq\r\n\r\nLinks to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/\r\n* How to register for an API key and calculate a signature\r\n* PTV Timetable API V2 to V3 Migration Guide\r\n* Documentation for Version 2 of the PTV Timetable API\r\n* PTV Timetable API Data Quality Statement\r\n\r\nAll information about how to use the API is in this documentation. PTV cannot provide technical support for the API.\r\n\r\nCredits: This page has been based on Steve Bennett's http://opentransportdata.org/, used with permission.\r\n"
  license:
    name: Creative Commons Attribution 4.0 International
    url: 'https://creativecommons.org/licenses/by/4.0/'
  termsOfService: 'http://ptv.vic.gov.au/ptv-timetable-api/'
  title: PTV Timetable API - Version 3
  version: v3
  x-apisguru-categories:
    - transport
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://pbs.twimg.com/profile_images/544730682023346176/sAia9jJQ_400x400.jpeg'
  x-origin:
    - format: swagger
      url: 'http://timetableapi.ptv.vic.gov.au/swagger/docs/v3'
      version: '2.0'
  x-providerName: ptv.vic.gov.au
consumes: []
produces:
  - application/json
  - text/json
  - text/html
paths:
  '/v3/departures/route_type/{route_type}/stop/{stop_id}':
    get:
      deprecated: false
      operationId: Departures_GetForStop
      parameters:
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Identifier of stop; values returned by Stops API
          format: int32
          in: path
          name: stop_id
          required: true
          type: integer
        - collectionFormat: multi
          description: Filter by platform number at stop
          in: query
          items:
            format: int32
            type: integer
          name: platform_numbers
          required: false
          type: array
        - description: 'Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
          format: int32
          in: query
          name: direction_id
          required: false
          type: integer
        - description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          in: query
          name: look_backwards
          required: false
          type: boolean
        - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          in: query
          name: gtfs
          required: false
          type: boolean
        - description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          format: date-time
          in: query
          name: date_utc
          required: false
          type: string
        - description: Maximum number of results returned
          format: int32
          in: query
          name: max_results
          required: false
          type: integer
        - description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          in: query
          name: include_cancelled
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
          in: query
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
            type: string
          name: expand
          required: false
          type: array
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Service departures from the specified stop for all routes of the specified route type; departures are timetabled and real-time (if applicable).
          schema:
            $ref: '#/definitions/V3.DeparturesResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View departures for all routes from a stop
      tags:
        - Departures
  '/v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}':
    get:
      deprecated: false
      operationId: Departures_GetForStopAndRoute
      parameters:
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Identifier of stop; values returned by Stops API
          format: int32
          in: path
          name: stop_id
          required: true
          type: integer
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          type: string
        - description: 'Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
          format: int32
          in: query
          name: direction_id
          required: false
          type: integer
        - description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          in: query
          name: look_backwards
          required: false
          type: boolean
        - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          in: query
          name: gtfs
          required: false
          type: boolean
        - description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          format: date-time
          in: query
          name: date_utc
          required: false
          type: string
        - description: Maximum number of results returned
          format: int32
          in: query
          name: max_results
          required: false
          type: integer
        - description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          in: query
          name: include_cancelled
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
          in: query
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
            type: string
          name: expand
          required: false
          type: array
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Service departures from the specified stop for the specified route (and route type); departures are timetabled and real-time (if applicable).
          schema:
            $ref: '#/definitions/V3.DeparturesResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View departures for a specific route from a stop
      tags:
        - Departures
  '/v3/directions/route/{route_id}':
    get:
      deprecated: false
      operationId: Directions_ForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: The directions that a specified route travels in.
          schema:
            $ref: '#/definitions/V3.DirectionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View directions that a route travels in
      tags:
        - Directions
  '/v3/directions/{direction_id}':
    get:
      deprecated: false
      operationId: Directions_ForDirection
      parameters:
        - description: 'Identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
          format: int32
          in: path
          name: direction_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All routes that travel in the specified direction.
          schema:
            $ref: '#/definitions/V3.DirectionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all routes for a direction of travel
      tags:
        - Directions
  '/v3/directions/{direction_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Directions_ForDirectionAndType
      parameters:
        - description: 'Identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
          format: int32
          in: path
          name: direction_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All routes of the specified route type that travel in the specified direction.
          schema:
            $ref: '#/definitions/V3.DirectionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all routes of a particular type for a direction of travel
      tags:
        - Directions
  /v3/disruptions:
    get:
      deprecated: false
      operationId: Disruptions_GetAllDisruptions
      parameters:
        - collectionFormat: multi
          description: Filter by route_type; values returned via RouteTypes API
          in: query
          items:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
          name: route_types
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by disruption_mode; values returned via v3/disruptions/modes API
          in: query
          items:
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 7
              - 8
              - 9
              - 10
              - 11
              - 12
              - 13
              - 14
              - 100
            format: int32
            type: integer
          name: disruption_modes
          required: false
          type: array
        - description: Filter by status of disruption
          enum:
            - current
            - planned
          in: query
          name: disruption_status
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All disruption information for all route types.
          schema:
            $ref: '#/definitions/V3.DisruptionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all disruptions for all route types
      tags:
        - Disruptions
  /v3/disruptions/modes:
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionModes
      parameters:
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Disruption specific modes
          schema:
            $ref: '#/definitions/V3.DisruptionModesResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: Get all disruption modes
      tags:
        - Disruptions
  '/v3/disruptions/route/{route_id}':
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Filter by status of disruption
          enum:
            - current
            - planned
          in: query
          name: disruption_status
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All disruption information (if any exists) for the specified route.
          schema:
            $ref: '#/definitions/V3.DisruptionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all disruptions for a particular route
      tags:
        - Disruptions
  '/v3/disruptions/route/{route_id}/stop/{stop_id}':
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByRouteAndStop
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Identifier of stop; values returned by Stops API - v3/stops
          format: int32
          in: path
          name: stop_id
          required: true
          type: integer
        - description: Filter by status of disruption
          enum:
            - current
            - planned
          in: query
          name: disruption_status
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All disruption information (if any exists) for the specified route and stop.
          schema:
            $ref: '#/definitions/V3.DisruptionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all disruptions for a particular route and stop
      tags:
        - Disruptions
  '/v3/disruptions/stop/{stop_id}':
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByStop
      parameters:
        - description: Identifier of stop; values returned by Stops API - v3/stops
          format: int32
          in: path
          name: stop_id
          required: true
          type: integer
        - description: Filter by status of disruption
          enum:
            - current
            - planned
          in: query
          name: disruption_status
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All disruption information (if any exists) for the specified stop.
          schema:
            $ref: '#/definitions/V3.DisruptionsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all disruptions for a particular stop
      tags:
        - Disruptions
  '/v3/disruptions/{disruption_id}':
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionById
      parameters:
        - description: 'Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id}'
          format: int64
          in: path
          name: disruption_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Disruption information for the specified disruption ID.
          schema:
            $ref: '#/definitions/V3.DisruptionResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View a specific disruption
      tags:
        - Disruptions
  /v3/outlets:
    get:
      deprecated: false
      operationId: Outlets_GetAllOutlets
      parameters:
        - description: Maximum number of results returned (default = 30)
          format: int32
          in: query
          name: max_results
          required: false
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Ticket outlets.
          schema:
            $ref: '#/definitions/V3.OutletResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: List all ticket outlets
      tags:
        - Outlets
  '/v3/outlets/location/{latitude},{longitude}':
    get:
      deprecated: false
      operationId: Outlets_GetOutletsByGeolocation
      parameters:
        - description: Geographic coordinate of latitude
          format: float
          in: path
          name: latitude
          required: true
          type: number
        - description: Geographic coordinate of longitude
          format: float
          in: path
          name: longitude
          required: true
          type: number
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default = 300)
          format: double
          in: query
          name: max_distance
          required: false
          type: number
        - description: Maximum number of results returned (default = 30)
          format: int32
          in: query
          name: max_results
          required: false
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Ticket outlets near the specified location.
          schema:
            $ref: '#/definitions/V3.OutletGeolocationResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: List ticket outlets near a specific location
      tags:
        - Outlets
  '/v3/pattern/run/{run_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Patterns_GetPatternByRun
      parameters:
        - description: 'Identifier of a trip/service run; values returned by Runs API - /v3/route/{route_id} and Departures API'
          format: int32
          in: path
          name: run_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - collectionFormat: multi
          description: 'Objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption. By default disruptions are expanded.'
          in: query
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
            type: string
          name: expand
          required: true
          type: array
        - description: Filter by stop_id; values returned by Stops API
          format: int32
          in: query
          name: stop_id
          required: false
          type: integer
        - description: Filter by the date and time of the request (ISO 8601 UTC format)
          format: date-time
          in: query
          name: date_utc
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: The stopping pattern of the specified trip/service run and route type.
          schema:
            $ref: '#/definitions/V3.StoppingPattern'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View the stopping pattern for a specific trip/service run
      tags:
        - Patterns
  /v3/route_types:
    get:
      deprecated: false
      operationId: RouteTypes_GetRouteTypes
      parameters:
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All route types (i.e. identifiers of transport modes) and their names.
          schema:
            $ref: '#/definitions/V3.RouteTypesResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all route types and their names
      tags:
        - RouteTypes
  /v3/routes:
    get:
      deprecated: false
      operationId: Routes_OneOrMoreRoutes
      parameters:
        - collectionFormat: multi
          description: Filter by route_type; values returned via RouteTypes API
          in: query
          items:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
          name: route_types
          required: false
          type: array
        - description: Filter by name  of route (accepts partial route name matches)
          in: query
          name: route_name
          required: false
          type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: Route names and numbers for all routes of all route types.
          schema:
            $ref: '#/definitions/V3.RouteResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View route names and numbers for all routes
      tags:
        - Routes
  '/v3/routes/{route_id}':
    get:
      deprecated: false
      operationId: Routes_RouteFromId
      parameters:
        - description: 'Identifier of route; values returned by Departures, Directions and Disruptions APIs'
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: The route name and number for the specified route ID.
          schema:
            $ref: '#/definitions/V3.RouteResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View route name and number for specific route ID
      tags:
        - Routes
  '/v3/runs/route/{route_id}':
    get:
      deprecated: false
      operationId: Runs_ForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes.
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All trip/service run details for the specified route ID.
          schema:
            $ref: '#/definitions/V3.RunsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all trip/service runs for a specific route ID
      tags:
        - Runs
  '/v3/runs/route/{route_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Runs_ForRouteAndRouteType
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes.
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All trip/service run details for the specified route ID and route type.
          schema:
            $ref: '#/definitions/V3.RunsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all trip/service runs for a specific route ID and route type
      tags:
        - Runs
  '/v3/runs/{run_id}':
    get:
      deprecated: false
      operationId: Runs_ForRun
      parameters:
        - description: 'Identifier of a trip/service run; values returned by Runs API - /v3/route/{route_id} and Departures API'
          format: int32
          in: path
          name: run_id
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All trip/service run details for the specified run ID.
          schema:
            $ref: '#/definitions/V3.RunsResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all trip/service runs for a specific run ID
      tags:
        - Runs
  '/v3/runs/{run_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Runs_ForRunAndRouteType
      parameters:
        - description: 'Identifier of a trip/service run; values returned by Runs API - /v3/route/{route_id} and Departures API'
          format: int32
          in: path
          name: run_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: The trip/service run details for the run ID and route type specified.
          schema:
            $ref: '#/definitions/V3.RunResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View the trip/service run for a specific run ID and route type
      tags:
        - Runs
  '/v3/search/{search_term}':
    get:
      deprecated: false
      operationId: Search_Search
      parameters:
        - description: 'Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes)'
          in: path
          name: search_term
          required: true
          type: string
        - collectionFormat: multi
          description: 'Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified)'
          in: query
          items:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
          name: route_types
          required: false
          type: array
        - description: Filter by geographic coordinate of latitude
          format: float
          in: query
          name: latitude
          required: false
          type: number
        - description: Filter by geographic coordinate of longitude
          format: float
          in: query
          name: longitude
          required: false
          type: number
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters
          format: float
          in: query
          name: max_distance
          required: false
          type: number
        - description: Placeholder for future development; currently unavailable
          in: query
          name: include_addresses
          required: false
          type: boolean
        - description: Indicates if outlets will be returned in response (default = true)
          in: query
          name: include_outlets
          required: false
          type: boolean
        - description: Indicates whether to find stops by suburbs in the search term (default = true)
          in: query
          name: match_stop_by_suburb
          required: false
          type: boolean
        - description: Indicates whether to find routes by suburbs in the search term (default = true)
          in: query
          name: match_route_by_suburb
          required: false
          type: boolean
        - description: Indicates whether to search for stops according to a metlink stop ID (default = false)
          in: query
          name: match_stop_by_gtfs_stop_id
          required: false
          type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: 'Stops, routes and myki ticket outlets that contain the search term (note: stops and routes are ordered by route_type by default).'
          schema:
            $ref: '#/definitions/V3.SearchResult'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: 'View stops, routes and myki ticket outlets that match the search term'
      tags:
        - Search
  '/v3/stops/location/{latitude},{longitude}':
    get:
      deprecated: false
      operationId: Stops_StopsByGeolocation
      parameters:
        - description: Geographic coordinate of latitude
          format: float
          in: path
          name: latitude
          required: true
          type: number
        - description: Geographic coordinate of longitude
          format: float
          in: path
          name: longitude
          required: true
          type: number
        - collectionFormat: multi
          description: Filter by route_type; values returned via RouteTypes API
          in: query
          items:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
          name: route_types
          required: false
          type: array
        - description: Maximum number of results returned (default = 30)
          format: int32
          in: query
          name: max_results
          required: false
          type: integer
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default = 300)
          format: double
          in: query
          name: max_distance
          required: false
          type: number
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All stops near the specified location.
          schema:
            $ref: '#/definitions/V3.StopsByDistanceResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all stops near a specific location
      tags:
        - Stops
  '/v3/stops/route/{route_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Stops_StopsForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          format: int32
          in: path
          name: route_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: 'An optional direction; values returned by Directions API. When this is set, stop sequence information is returned in the response.'
          format: int32
          in: query
          name: direction_id
          required: false
          type: integer
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: All stops on the specified route.
          schema:
            $ref: '#/definitions/V3.StopsOnRouteResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View all stops on a specific route
      tags:
        - Stops
  '/v3/stops/{stop_id}/route_type/{route_type}':
    get:
      deprecated: false
      operationId: Stops_StopDetails
      parameters:
        - description: Identifier of stop; values returned by Stops API
          format: int32
          in: path
          name: stop_id
          required: true
          type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          in: path
          name: route_type
          required: true
          type: integer
        - description: Indicates if stop location information will be returned (default = false)
          in: query
          name: stop_location
          required: false
          type: boolean
        - description: Indicates if stop amenity information will be returned (default = false)
          in: query
          name: stop_amenities
          required: false
          type: boolean
        - description: Indicates if stop accessibility information will be returned (default = false)
          in: query
          name: stop_accessibility
          required: false
          type: boolean
        - description: Placeholder for future development; currently unavailable
          in: query
          name: stop_contact
          required: false
          type: boolean
        - description: Placeholder for future development; currently unavailable
          in: query
          name: stop_ticket
          required: false
          type: boolean
        - description: Incdicates whether the stop_id is a GTFS ID or not
          in: query
          name: gtfs
          required: false
          type: boolean
        - description: Indicates if stop staffing information will be returned (default = false)
          in: query
          name: stop_staffing
          required: false
          type: boolean
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          type: string
      responses:
        '200':
          description: 'Stop location, amenity and accessibility facility information for the specified stop (metropolitan and V/Line stations only).'
          schema:
            $ref: '#/definitions/V3.StopResponse'
        '400':
          description: Invalid Request
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
        '403':
          description: Access Denied
          schema:
            $ref: '#/definitions/V3.ErrorResponse'
      summary: View facilities at a specific stop (Metro and V/Line stations only)
      tags:
        - Stops
definitions:
  V2.Object:
    properties: {}
    type: object
  V3.BulkDeparturesRequest:
    properties:
      date_utc:
        description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
        format: date-time
        type: string
      expand:
        description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
        items:
          enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
          type: string
        type: array
      include_cancelled:
        description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
        type: boolean
      look_backwards:
        description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
        type: boolean
      requests:
        description: Collection of departure requests
        items:
          $ref: '#/definitions/V3.StopDepartureRequest'
        type: array
    required:
      - requests
    type: object
  V3.BulkDeparturesResponse:
    properties:
      directions:
        description: Directions of travel of route
        items:
          $ref: '#/definitions/V3.Direction'
        type: array
      disruptions:
        additionalProperties:
          $ref: '#/definitions/V3.Disruption'
        description: Disruption information applicable to relevant routes or stops
        type: object
      responses:
        description: Contains departures for the requested stop and route(s). It includes details as to the route_direction and whether it is still valid.
        items:
          $ref: '#/definitions/V3.BulkDeparturesUpdateResponse'
        type: array
      routes:
        description: 'Train lines, tram routes, bus routes, regional coach routes, Night Bus routes'
        items:
          $ref: '#/definitions/V3.Route'
        type: array
      runs:
        description: Individual trips/services of a route
        items:
          $ref: '#/definitions/V3.Run'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
      stops:
        additionalProperties:
          $ref: '#/definitions/V3.BulkDeparturesStopResponse'
        description: 'A train station, tram stop, bus stop, regional coach stop or Night Bus stop'
        type: object
    type: object
  V3.BulkDeparturesRouteDirectionResponse:
    properties:
      direction_id:
        description: Direction of travel identifier
        format: int32
        type: integer
      direction_name:
        description: Name of direction of travel
        type: string
      route_id:
        description: Route identifier
        type: string
    type: object
  V3.BulkDeparturesStopResponse:
    properties:
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_latitude:
        description: Geographic coordinate of latitude at stop
        format: float
        type: number
      stop_longitude:
        description: Geographic coordinate of longitude at stop
        format: float
        type: number
      stop_name:
        description: Name of stop
        type: string
      stop_suburb:
        description: suburb of stop
        type: string
    type: object
  V3.BulkDeparturesUpdateResponse:
    properties:
      departures:
        description: Timetabled and real-time service departures
        items:
          $ref: '#/definitions/V3.Departure'
        type: array
      requested_route_direction:
        $ref: '#/definitions/V3.BulkDeparturesRouteDirectionResponse'
        description: The route direction that these departures are for. Will be one of the requested route directions
      route_direction:
        $ref: '#/definitions/V3.BulkDeparturesRouteDirectionResponse'
        description: The route direction found matching the requested_route_direction
      route_direction_status:
        description: "The status of the route direction (changed | unchanged).\r\n            If changed, requests should change the requested_route_direction for the route_direction supplied."
        enum:
          - 0
          - 1
        format: int32
        type: integer
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
    type: object
  V3.Departure:
    properties:
      at_platform:
        description: Indicates if the metropolitan train service is at the platform at the time of query; returns false for other modes
        type: boolean
      departure_sequence:
        description: Chronological sequence of the departure for the run on the route. Order ascendingly by this field to get chronological order (earliest first) of departures with the same route_id and run_id.
        format: int32
        type: integer
      direction_id:
        description: Direction of travel identifier
        format: int32
        type: integer
      disruption_ids:
        description: Disruption information identifier(s)
        items:
          format: int64
          type: integer
        type: array
      estimated_departure_utc:
        description: Real-time estimate of departure time and date in ISO 8601 UTC format
        format: date-time
        type: string
      flags:
        description: 'Flag indicating special condition for run (e.g. RR Reservations Required, GC Guaranteed Connection, DOO Drop Off Only, PUO Pick Up Only, MO Mondays only, TU Tuesdays only, WE Wednesdays only, TH Thursdays only, FR Fridays only, SS School days only; ignore E flag)'
        type: string
      platform_number:
        description: Platform number at stop (metropolitan train only; returns null for other modes)
        type: string
      route_id:
        description: Route identifier
        format: int32
        type: integer
      run_id:
        description: Trip/service run identifier
        format: int32
        type: integer
      scheduled_departure_utc:
        description: Scheduled (i.e. timetabled) departure time and date in ISO 8601 UTC format
        format: date-time
        type: string
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
    type: object
  V3.DeparturesBroadParameters:
    properties:
      date_utc:
        description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
        format: date-time
        type: string
      direction_id:
        description: 'Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
        format: int32
        type: integer
      expand:
        description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
        items:
          enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
          type: string
        type: array
      gtfs:
        description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        type: boolean
      include_cancelled:
        description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
        type: boolean
      look_backwards:
        description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
        type: boolean
      max_results:
        description: Maximum number of results returned
        format: int32
        type: integer
      platform_numbers:
        description: Filter by platform number at stop
        items:
          format: int32
          type: integer
        type: array
    type: object
  V3.DeparturesResponse:
    properties:
      departures:
        description: Timetabled and real-time service departures
        items:
          $ref: '#/definitions/V3.Departure'
        type: array
      directions:
        additionalProperties:
          $ref: '#/definitions/V3.Direction'
        description: Directions of travel of route
        type: object
      disruptions:
        additionalProperties:
          $ref: '#/definitions/V3.Disruption'
        description: Disruption information applicable to relevant routes or stops
        type: object
      routes:
        additionalProperties:
          $ref: '#/definitions/V3.Route'
        description: 'Train lines, tram routes, bus routes, regional coach routes, Night Bus routes'
        type: object
      runs:
        additionalProperties:
          $ref: '#/definitions/V3.Run'
        description: Individual trips/services of a route
        type: object
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
      stops:
        additionalProperties:
          $ref: '#/definitions/V3.ResultStop'
        description: 'A train station, tram stop, bus stop, regional coach stop or Night Bus stop'
        type: object
    type: object
  V3.DeparturesSpecificParameters:
    properties:
      date_utc:
        description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
        format: date-time
        type: string
      direction_id:
        description: 'Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}'
        format: int32
        type: integer
      expand:
        description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
        items:
          enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
          type: string
        type: array
      gtfs:
        description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        type: boolean
      include_cancelled:
        description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
        type: boolean
      look_backwards:
        description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
        type: boolean
      max_results:
        description: Maximum number of results returned
        format: int32
        type: integer
    type: object
  V3.Direction:
    properties:
      direction_id:
        description: Direction of travel identifier
        format: int32
        type: integer
      direction_name:
        description: Name of direction of travel
        type: string
      route_id:
        description: Route identifier
        format: int32
        type: integer
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
    type: object
  V3.DirectionsResponse:
    properties:
      directions:
        description: Directions of travel of route
        items:
          $ref: '#/definitions/V3.Direction'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.Disruption:
    properties:
      colour:
        type: string
      description:
        description: Description of the disruption
        type: string
      display_on_board:
        type: boolean
      display_status:
        type: boolean
      disruption_id:
        description: Disruption information identifier
        format: int64
        type: integer
      disruption_status:
        description: 'Status of the disruption (e.g. "Planned", "Current")'
        type: string
      disruption_type:
        description: Type of disruption
        type: string
      from_date:
        description: 'Date and time at which disruption begins, in ISO 8601 UTC format'
        format: date-time
        type: string
      last_updated:
        description: 'Date and time disruption information was last updated by PTV, in ISO 8601 UTC format'
        format: date-time
        type: string
      published_on:
        description: 'Date and time disruption information is published on PTV website, in ISO 8601 UTC format'
        format: date-time
        type: string
      routes:
        description: Route relevant to a disruption (if applicable)
        items:
          $ref: '#/definitions/V3.DisruptionRoute'
        type: array
      stops:
        description: Stop relevant to a disruption (if applicable)
        items:
          $ref: '#/definitions/V3.DisruptionStop'
        type: array
      title:
        description: Headline title summarising disruption information
        type: string
      to_date:
        description: 'Date and time at which disruption ends, in ISO 8601 UTC format (returns null if unknown)'
        format: date-time
        type: string
      url:
        description: URL of relevant article on PTV website
        type: string
    type: object
  V3.DisruptionDirection:
    properties:
      direction_id:
        description: Direction of travel identifier
        format: int32
        type: integer
      direction_name:
        description: Name of direction of travel
        type: string
      route_direction_id:
        description: Route and direction of travel combination identifier
        format: int32
        type: integer
      service_time:
        description: 'Time of service to which disruption applies, in 24 hour clock format (HH:MM:SS) AEDT/AEST; returns null if disruption applies to multiple (or no) services'
        type: string
    type: object
  V3.DisruptionMode:
    properties:
      disruption_mode:
        description: Disruption mode identifier
        format: int32
        type: integer
      disruption_mode_name:
        description: Name of disruption mode
        type: string
    type: object
  V3.DisruptionModesResponse:
    properties:
      disruption_modes:
        description: Transport mode identifiers
        items:
          $ref: '#/definitions/V3.DisruptionMode'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.DisruptionResponse:
    properties:
      disruption:
        $ref: '#/definitions/V3.Disruption'
        description: Disruption information applicable to relevant routes or stops
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.DisruptionRoute:
    properties:
      direction:
        $ref: '#/definitions/V3.DisruptionDirection'
        description: Direction of travel relevant to a disruption (if applicable)
      route_gtfs_id:
        description: GTFS Identifer of the route
        type: string
      route_id:
        description: Route identifier
        format: int32
        type: integer
      route_name:
        description: Name of route
        type: string
      route_number:
        description: Route number presented to public (i.e. not route_id)
        type: string
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
    type: object
  V3.DisruptionStop:
    properties:
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_name:
        description: Name of stop
        type: string
    type: object
  V3.Disruptions:
    properties:
      ferry:
        description: Subset of disruption information applicable to ferry
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      general:
        description: Subset of disruption information applicable to multiple route_types
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      interstate_train:
        description: Subset of disruption information applicable to interstate train
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      metro_bus:
        description: Subset of disruption information applicable to metropolitan bus
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      metro_train:
        description: Subset of disruption information applicable to metropolitan train
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      metro_tram:
        description: Subset of disruption information applicable to metropolitan tram
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      night_bus:
        description: Subset of disruption information applicable to night bus
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      regional_bus:
        description: Subset of disruption information applicable to regional bus
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      regional_coach:
        description: Subset of disruption information applicable to V/Line coach
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      regional_train:
        description: Subset of disruption information applicable to V/Line train
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      school_bus:
        description: Subset of disruption information applicable to school bus
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      skybus:
        description: Subset of disruption information applicable to skybus
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      taxi:
        description: Subset of disruption information applicable to taxi
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      telebus:
        description: Subset of disruption information applicable to telebus services
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
    type: object
  V3.DisruptionsResponse:
    properties:
      disruptions:
        $ref: '#/definitions/V3.Disruptions'
        description: Disruption information applicable to relevant routes or stops
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.ErrorResponse:
    description: An error response
    properties:
      message:
        description: Error message
        type: string
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.Outlet:
    properties:
      outlet_business:
        description: The business name of the outlet
        type: string
      outlet_business_hour_fri:
        description: The business hours on Friday
        type: string
      outlet_business_hour_mon:
        description: The business hours on Monday
        type: string
      outlet_business_hour_sat:
        description: The business hours on Saturday
        type: string
      outlet_business_hour_sun:
        description: The business hours on Sunday
        type: string
      outlet_business_hour_thur:
        description: The business hours on Thursday
        type: string
      outlet_business_hour_tue:
        description: The business hours on Tuesday
        type: string
      outlet_business_hour_wed:
        description: The business hours on Wednesday
        type: string
      outlet_latitude:
        description: Geographic coordinate of latitude at outlet
        format: float
        type: number
      outlet_longitude:
        description: Geographic coordinate of longitude at outlet
        format: float
        type: number
      outlet_name:
        description: The location name of the outlet
        type: string
      outlet_notes:
        description: Any additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be null/empty.
        type: string
      outlet_postcode:
        description: The postcode for the outlet
        format: int32
        type: integer
      outlet_slid_spid:
        description: The SLID / SPID
        type: string
      outlet_suburb:
        description: The city/municipality the outlet is in
        type: string
    type: object
  V3.OutletGeolocation:
    properties:
      outlet_business:
        description: The business name of the outlet
        type: string
      outlet_business_hour_fri:
        description: The business hours on Friday
        type: string
      outlet_business_hour_mon:
        description: The business hours on Monday
        type: string
      outlet_business_hour_sat:
        description: The business hours on Saturday
        type: string
      outlet_business_hour_sun:
        description: The business hours on Sunday
        type: string
      outlet_business_hour_thur:
        description: The business hours on Thursday
        type: string
      outlet_business_hour_tue:
        description: The business hours on Tuesday
        type: string
      outlet_business_hour_wed:
        description: The business hours on Wednesday
        type: string
      outlet_distance:
        description: Distance of outlet from input location (in metres); returns 0 if no location is input
        format: float
        type: number
      outlet_latitude:
        description: Geographic coordinate of latitude at outlet
        format: float
        type: number
      outlet_longitude:
        description: Geographic coordinate of longitude at outlet
        format: float
        type: number
      outlet_name:
        description: The location name of the outlet
        type: string
      outlet_notes:
        description: Any additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be null/empty.
        type: string
      outlet_postcode:
        description: The postcode for the outlet
        format: int32
        type: integer
      outlet_slid_spid:
        description: The SLID / SPID
        type: string
      outlet_suburb:
        description: The city/municipality the outlet is in
        type: string
    type: object
  V3.OutletGeolocationParameters:
    properties:
      max_distance:
        description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default = 300)
        format: double
        type: number
      max_results:
        description: Maximum number of results returned (default = 30)
        format: int32
        type: integer
    type: object
  V3.OutletGeolocationResponse:
    properties:
      outlets:
        description: myki ticket outlets
        items:
          $ref: '#/definitions/V3.OutletGeolocation'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.OutletParameters:
    properties:
      max_results:
        description: Maximum number of results returned (default = 30)
        format: int32
        type: integer
    type: object
  V3.OutletResponse:
    properties:
      outlets:
        description: myki ticket outlets
        items:
          $ref: '#/definitions/V3.Outlet'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.ResultOutlet:
    properties:
      outlet_business:
        description: The business name of the outlet
        type: string
      outlet_business_hour_fri:
        description: The business hours on Friday
        type: string
      outlet_business_hour_mon:
        description: The business hours on Monday
        type: string
      outlet_business_hour_sat:
        description: The business hours on Saturday
        type: string
      outlet_business_hour_sun:
        description: The business hours on Sunday
        type: string
      outlet_business_hour_thur:
        description: The business hours on Thursday
        type: string
      outlet_business_hour_tue:
        description: The business hours on Tuesday
        type: string
      outlet_business_hour_wed:
        description: The business hours on Wednesday
        type: string
      outlet_distance:
        description: Distance of outlet from input location (in metres); returns 0 if no location is input
        format: float
        type: number
      outlet_latitude:
        description: Geographic coordinate of latitude at outlet
        format: float
        type: number
      outlet_longitude:
        description: Geographic coordinate of longitude at outlet
        format: float
        type: number
      outlet_name:
        description: The location name of the outlet
        type: string
      outlet_notes:
        description: Any additional notes for the outlet such as 'Buy pre-loaded myki cards only'. May be null/empty.
        type: string
      outlet_postcode:
        description: The postcode for the outlet
        format: int32
        type: integer
      outlet_slid_spid:
        description: The SLID / SPID
        type: string
      outlet_suburb:
        description: The city/municipality the outlet is in
        type: string
    type: object
  V3.ResultRoute:
    properties:
      route_gtfs_id:
        description: GTFS Identifer of the route
        type: string
      route_id:
        description: Route identifier
        format: int32
        type: integer
      route_name:
        description: Name of route
        type: string
      route_number:
        description: Route number presented to public (nb. not route_id)
        type: string
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
    type: object
  V3.ResultStop:
    properties:
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      stop_distance:
        description: Distance of stop from input location (in metres); returns 0 if no location is input
        format: float
        type: number
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_latitude:
        description: Geographic coordinate of latitude at stop
        format: float
        type: number
      stop_longitude:
        description: Geographic coordinate of longitude at stop
        format: float
        type: number
      stop_name:
        description: Name of stop
        type: string
      stop_sequence:
        description: Sequence of the stop on the route/run; return 0 when route_id or run_id not specified. Order ascendingly by this field (when non zero) to get physical order (earliest first) of stops on the route_id/run_id.
        format: int32
        type: integer
      stop_suburb:
        description: suburb of stop
        type: string
    type: object
  V3.Route:
    properties:
      route_gtfs_id:
        description: GTFS Identifer of the route
        type: string
      route_id:
        description: Route identifier
        format: int32
        type: integer
      route_name:
        description: Name of route
        type: string
      route_number:
        description: Route number presented to public (nb. not route_id)
        type: string
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
    type: object
  V3.RouteDeparturesSpecificParameters:
    properties:
      date_utc:
        description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
        format: date-time
        type: string
      expand:
        description: 'List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption'
        items:
          enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
          type: string
        type: array
      include_cancelled:
        description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
        type: boolean
      look_backwards:
        description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
        type: boolean
      max_results:
        description: Maximum number of results returned
        format: int32
        type: integer
      train_scheduled_timetables:
        description: "When set to true, all timetable information returned by Chronos will be sourced from the Parser timetables,\r\n            while when set to false (default state), the real-time departure information and operational time from\r\n            Metro CIS will continue to be returned where available."
        type: boolean
    type: object
  V3.RouteResponse:
    properties:
      route:
        $ref: '#/definitions/V3.Route'
        description: 'Train lines, tram routes, bus routes, regional coach routes, Night Bus routes'
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.RouteType:
    properties:
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      route_type_name:
        description: Name of transport mode
        type: string
    type: object
  V3.RouteTypesResponse:
    properties:
      route_types:
        description: Transport mode identifiers
        items:
          $ref: '#/definitions/V3.RouteType'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.Run:
    properties:
      destination_name:
        description: Name of destination of run
        type: string
      direction_id:
        description: Direction of travel identifier
        format: int32
        type: integer
      express_stop_count:
        description: The number of remaining skipped/express stations for the run/service from a stop
        format: int32
        type: integer
      final_stop_id:
        description: stop_id of final stop of run
        format: int32
        type: integer
      route_id:
        description: Route identifier
        format: int32
        type: integer
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      run_id:
        description: Trip/service run identifier
        format: int32
        type: integer
      run_sequence:
        description: Chronological sequence of the trip/service run on the route in direction. Order ascendingly by this field to get chronological order (earliest first) of runs with the same route_id and direction_id.
        format: int32
        type: integer
      status:
        description: Status of metropolitan train run; returns "scheduled" for other modes
        type: string
      vehicle_descriptor:
        $ref: '#/definitions/V3.VehicleDescriptor'
        description: Descriptor of the trip/service run. Only available for some runs. May be null.
      vehicle_position:
        $ref: '#/definitions/V3.VehiclePosition'
        description: Position of the trip/service run. Only available for some bus runs. May be null.
    type: object
  V3.RunResponse:
    properties:
      run:
        $ref: '#/definitions/V3.Run'
        description: Individual trip/service of a route
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.RunsResponse:
    properties:
      runs:
        description: Individual trips/services of a route
        items:
          $ref: '#/definitions/V3.Run'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
    type: object
  V3.SearchParameters:
    properties:
      include_addresses:
        description: Placeholder for future development; currently unavailable
        type: boolean
      include_outlets:
        description: Indicates if outlets will be returned in response (default = true)
        type: boolean
      latitude:
        description: Filter by geographic coordinate of latitude
        format: float
        type: number
      longitude:
        description: Filter by geographic coordinate of longitude
        format: float
        type: number
      match_route_by_suburb:
        description: Indicates whether to find routes by suburbs in the search term (default = true)
        type: boolean
      match_stop_by_gtfs_stop_id:
        description: Indicates whether to search for stops according to a metlink stop ID (default = false)
        type: boolean
      match_stop_by_suburb:
        description: Indicates whether to find stops by suburbs in the search term (default = true)
        type: boolean
      max_distance:
        description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters
        format: float
        type: number
      route_types:
        description: 'Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified)'
        items:
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          format: int32
          type: integer
        type: array
    type: object
  V3.SearchResult:
    properties:
      outlets:
        description: myki ticket outlets
        items:
          $ref: '#/definitions/V3.ResultOutlet'
        type: array
      routes:
        description: 'Train lines, tram routes, bus routes, regional coach routes, Night Bus routes'
        items:
          $ref: '#/definitions/V3.ResultRoute'
        type: array
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
      stops:
        description: 'Train stations, tram stops, bus stops, regional coach stops or Night Bus stops'
        items:
          $ref: '#/definitions/V3.ResultStop'
        type: array
    type: object
  V3.Status:
    properties:
      health:
        description: 'API system health status (0=offline, 1=online)'
        enum:
          - 0
          - 1
        format: int32
        type: integer
      version:
        description: API Version number
        type: string
    type: object
  V3.StopAccessibility:
    properties:
      audio_customer_information:
        description: Indicates if there is at least one audio customer information at the stop/platform
        type: boolean
      escalator:
        description: Indicates if there is at least one accessible escalator at the stop/platform that complies with the Disability Standards for Accessible Public Transport under the Disability Discrimination Act (1992)
        type: boolean
      hearing_loop:
        description: Indicates if there is a hearing loop facility at the stop/platform
        type: boolean
      lift:
        description: Indicates if there is an elevator at the stop/platform
        type: boolean
      lighting:
        description: Indicates if there is lighting at the stop
        type: boolean
      platform_number:
        description: Indicates the platform number for xivic information (Platform 0 indicates general stop facilities)
        format: int32
        type: integer
      stairs:
        description: Indicates if there are stairs available in the stop
        type: boolean
      stop_accessible:
        description: Indicates if the stop is accessible
        type: boolean
      tactile_ground_surface_indicator:
        description: 'Indicates if there are tactile tiles (also known as tactile ground surface indicators, or TGSIs) at the stop'
        type: boolean
      waiting_room:
        description: Indicates if there is a general waiting area at the stop
        type: boolean
      wheelchair:
        $ref: '#/definitions/V3.StopAccessibilityWheelchair'
        description: Facilities relating to the accessibility of the stop by wheelchair
    type: object
  V3.StopAccessibilityWheelchair:
    properties:
      accessible_ramp:
        type: boolean
      low_ticket_counter:
        description: Indicates if there is at least one low ticket counter at the stop that complies with the Disability Standards for Accessible Public Transport under the Disability Discrimination Act (1992)
        type: boolean
      manouvering:
        description: Indicates if there is a space for mobility device to board on or off a transport mode
        type: boolean
      parking:
        description: Indicates if there is at least one accessible parking spot at the stop that complies with the Disability Standards for Accessible Public Transport under the Disability Discrimination Act (1992)
        type: boolean
      raised_platform:
        description: Indicates if there is a raised platform to board a train
        type: boolean
      raised_platform_shelther:
        description: Indicates if there is shelter near the raised platform
        type: boolean
      ramp:
        description: 'Indicates if there are ramps (&lt;1:14) at the stop/platform'
        type: boolean
      secondary_path:
        description: Indicates if there is a path beyond the stop which is accessible
        type: boolean
      steep_ramp:
        description: 'Indicates if there are ramps (&gt;1:14) at the stop/platform'
        type: boolean
      telephone:
        description: Indicates if there is at least one accessible telephone at the stop/platform that complies with the Disability Standards for Accessible Public Transport under the Disability Discrimination Act (1992)
        type: boolean
      toilet:
        description: Indicates if there is at least one accessible toilet at the stop/platform that complies with the Disability Standards for Accessible Public Transport under the Disability Discrimination Act (1992)
        type: boolean
    type: object
  V3.StopAmenityDetails:
    properties:
      car_parking:
        description: The number of free car parking spots at the stop
        type: string
      cctv:
        description: Indicates if there are CCTV (i.e. closed circuit television) cameras at the stop
        type: boolean
      taxi_rank:
        description: Indicates if there is a taxi rank at or near the stop
        type: boolean
      toilet:
        description: Indicates if there is a public toilet at or near the stop
        type: boolean
    type: object
  V3.StopBase:
    properties:
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_name:
        description: Name of stop
        type: string
    type: object
  V3.StopDepartureRequest:
    properties:
      gtfs:
        description: 'Indicates that stop_id parameter will accept "GTFS stop_id" data and route_directions[x].route_id parameters will accept route_gtfs_id data'
        type: boolean
      max_results:
        description: Maximum number of results returned
        format: int32
        maximum: 2147483647
        minimum: 0
        type: integer
      route_directions:
        description: The route directions to find departures for at this stop.
        items:
          $ref: '#/definitions/V3.StopDepartureRequestRouteDirection'
        type: array
      route_type:
        description: Number identifying transport mode; values returned via RouteTypes API
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        format: int32
        type: integer
      stop_id:
        description: Identifier of stop; values returned by Stops API
        format: int32
        maximum: 2147483647
        minimum: 0
        type: integer
    required:
      - route_directions
    type: object
  V3.StopDepartureRequestRouteDirection:
    properties:
      direction_id:
        description: Direction of travel identifier; values returned by Directions API - v3/directions
        format: int32
        maximum: 2147483647
        minimum: 0
        type: integer
      direction_name:
        description: Name of direction of travel; values returned by Directions API - v3/directions
        type: string
      route_id:
        description: Identifier of route; values returned by Routes API - v3/routes
        type: string
    required:
      - direction_name
    type: object
  V3.StopDetails:
    properties:
      disruption_ids:
        description: Disruption information identifier(s)
        items:
          format: int64
          type: integer
        type: array
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      station_description:
        description: The definition applicable to the station_type; returns null for V/Line train
        type: string
      station_type:
        description: 'Type of metropolitan train station (i.e. "Premium", "Host" or "Unstaffed" station); returns null for V/Line train'
        type: string
      stop_accessibility:
        $ref: '#/definitions/V3.StopAccessibility'
        description: Facilities relating to the accessibility of the stop
      stop_amenities:
        $ref: '#/definitions/V3.StopAmenityDetails'
        description: Amenity and facility details at the stop
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_location:
        $ref: '#/definitions/V3.StopLocation'
        description: Location details of the stop
      stop_name:
        description: Name of stop
        type: string
      stop_staffing:
        $ref: '#/definitions/V3.StopStaffing'
        description: Staffing details for the stop
    type: object
  V3.StopGeosearch:
    properties:
      disruption_ids:
        description: Disruption information identifier(s)
        items:
          format: int64
          type: integer
        type: array
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      stop_distance:
        description: Distance of stop from input location (in metres); returns 0 if no location is input
        format: float
        type: number
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_latitude:
        description: Geographic coordinate of latitude at stop
        format: float
        type: number
      stop_longitude:
        description: Geographic coordinate of longitude at stop
        format: float
        type: number
      stop_name:
        description: Name of stop
        type: string
      stop_sequence:
        description: Sequence of the stop on the route/run; return 0 when route_id or run_id not specified. Order ascendingly by this field (when non zero) to get physical order (earliest first) of stops on the route_id/run_id.
        format: int32
        type: integer
      stop_suburb:
        description: suburb of stop
        type: string
    type: object
  V3.StopGps:
    properties:
      latitude:
        description: Geographic coordinate of latitude at stop
        format: float
        type: number
      longitude:
        description: Geographic coordinate of longitude at stop
        format: float
        type: number
    type: object
  V3.StopLocation:
    properties:
      gps:
        $ref: '#/definitions/V3.StopGps'
        description: GPS coordinates of the stop
    type: object
  V3.StopOnRoute:
    properties:
      disruption_ids:
        description: Disruption information identifier(s)
        items:
          format: int64
          type: integer
        type: array
      route_type:
        description: Transport mode identifier
        format: int32
        type: integer
      stop_id:
        description: Stop identifier
        format: int32
        type: integer
      stop_latitude:
        description: Geographic coordinate of latitude at stop
        format: float
        type: number
      stop_longitude:
        description: Geographic coordinate of longitude at stop
        format: float
        type: number
      stop_name:
        description: Name of stop
        type: string
      stop_sequence:
        description: Sequence of the stop on the route/run; return 0 when route_id or run_id not specified. Order ascendingly by this field (when non zero) to get physical order (earliest first) of stops on the route_id/run_id.
        format: int32
        type: integer
      stop_suburb:
        description: suburb of stop
        type: string
    type: object
  V3.StopResponse:
    properties:
      disruptions:
        additionalProperties:
          $ref: '#/definitions/V3.Disruption'
        description: Disruption information applicable to relevant routes or stops
        type: object
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
      stop:
        $ref: '#/definitions/V3.StopDetails'
        description: A metropolitan or V/Line train station
    type: object
  V3.StopStaffing:
    properties:
      fri_am_from:
        description: Stop staffing hours
        type: string
      fri_am_to:
        description: Stop staffing hours
        type: string
      fri_pm_from:
        description: Stop staffing hours
        type: string
      fri_pm_to:
        description: Stop staffing hours
        type: string
      mon_am_from:
        description: Stop staffing hours
        type: string
      mon_am_to:
        description: Stop staffing hours
        type: string
      mon_pm_from:
        description: Stop staffing hours
        type: string
      mon_pm_to:
        description: Stop staffing hours
        type: string
      ph_additional_text:
        description: Stop staffing hours
        type: string
      ph_from:
        description: Stop staffing hours
        type: string
      ph_to:
        description: Stop staffing hours
        type: string
      sat_am_from:
        description: Stop staffing hours
        type: string
      sat_am_to:
        description: Stop staffing hours
        type: string
      sat_pm_from:
        description: Stop staffing hours
        type: string
      sat_pm_to:
        description: Stop staffing hours
        type: string
      sun_am_from:
        description: Stop staffing hours
        type: string
      sun_am_to:
        description: Stop staffing hours
        type: string
      sun_pm_from:
        description: Stop staffing hours
        type: string
      sun_pm_to:
        description: Stop staffing hours
        type: string
      thu_am_from:
        description: Stop staffing hours
        type: string
      thu_am_to:
        description: Stop staffing hours
        type: string
      thu_pm_from:
        description: Stop staffing hours
        type: string
      thu_pm_to:
        description: Stop staffing hours
        type: string
      tue_am_from:
        description: Stop staffing hours
        type: string
      tue_am_to:
        description: Stop staffing hours
        type: string
      tue_pm_from:
        description: Stop staffing hours
        type: string
      tue_pm_to:
        description: Stop staffing hours
        type: string
      wed_am_from:
        description: Stop staffing hours
        type: string
      wed_am_to:
        description: Stop staffing hours
        type: string
      wed_pm_To:
        description: Stop staffing hours
        type: string
      wed_pm_from:
        description: Stop staffing hours
        type: string
    type: object
  V3.StoppingPattern:
    properties:
      departures:
        description: Timetabled and real-time service departures
        items:
          $ref: '#/definitions/V3.Departure'
        type: array
      directions:
        additionalProperties:
          $ref: '#/definitions/V3.Direction'
        description: Directions of travel of route
        type: object
      disruptions:
        description: Disruption information applicable to relevant routes or stops
        items:
          $ref: '#/definitions/V3.Disruption'
        type: array
      routes:
        additionalProperties:
          $ref: '#/definitions/V3.Route'
        description: 'Train lines, tram routes, bus routes, regional coach routes, Night Bus routes'
        type: object
      runs:
        additionalProperties:
          $ref: '#/definitions/V3.Run'
        description: Individual trips/services of a route
        type: object
      status:
        $ref: '#/definitions/V3.Status'
        description: API Status / Metadata
      stops:
        additionalProperties:
          $ref: '#/definitions/V3.ResultStop'
        description: 'A train station, tram stop, bus stop, regional coach stop or Night Bus stop'
        type: object
    type: object
  V3.StopsByDistanceResponse:
    properties:
      disruptions:
        additionalProperties:
          $ref: '#/definitions/V3.Disruption'
[...]
