{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/nfl/projections"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/nfl/projections"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "NFL projected stats API.",
    "title": "NFL v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nfl-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nfl-v3-projections"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DfsSlateOwnershipProjectionsBySlateID/{slateId}": {
      "get": {
        "description": "Slate Ownership Projections for a specific slate. Projections are for GPP format ownership. Will return an empty list if the slate is not yet projected or not a slate we have projections for.",
        "operationId": "DfsSlateOwnershipProjectionsBySlateid",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "SlateID of the DFS Slate you wish to get ownership projections for. Will have an empty SlateOwnershipProjections if this slate was not projected",
            "in": "path",
            "name": "slateId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DfsSlateWithOwnershipProjection"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slate Ownership Projections by SlateID"
      }
    },
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the slates.\n<br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slates by Date"
      }
    },
    "/{format}/DfsSlatesByWeek/{season}/{week}": {
      "get": {
        "operationId": "DfsSlatesByWeek",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slates by Week"
      }
    },
    "/{format}/FantasyDefenseProjectionsByGame/{season}/{week}": {
      "get": {
        "operationId": "ProjectedFantasyDefenseGameStatsWDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FantasyDefenseGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Fantasy Defense Game Stats (w/ DFS Salaries)"
      }
    },
    "/{format}/FantasyDefenseProjectionsBySeason/{season}": {
      "get": {
        "operationId": "ProjectedFantasyDefenseSeasonStatsWAdp",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FantasyDefenseSeasonProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Fantasy Defense Season Stats (w/ ADP)"
      }
    },
    "/{format}/IdpPlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}": {
      "get": {
        "operationId": "IdpProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerGameProjection"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "IDP Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/IdpPlayerGameProjectionStatsByTeam/{season}/{week}/{team}": {
      "get": {
        "operationId": "IdpProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Abbreviation of the team. Example: <code>WAS</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "IDP Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/IdpPlayerGameProjectionStatsByWeek/{season}/{week}": {
      "get": {
        "operationId": "IdpProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "IDP Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured NFL players, along with injury details.",
        "operationId": "InjuredPlayers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerGameProjection"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByTeam/{season}/{week}/{team}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Abbreviation of the team. Example: <code>WAS</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByWeek/{season}/{week}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS Salaries)"
      }
    },
    "/{format}/PlayerSeasonProjectionStats/{season}": {
      "get": {
        "operationId": "ProjectedPlayerSeasonStatsWAdp",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerSeasonProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Season Stats (w/ ADP)"
      }
    },
    "/{format}/PlayerSeasonProjectionStatsByPlayerID/{season}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerSeasonStatsByPlayerWAdp",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSeasonProjection"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Season Stats by Player (w/ ADP)"
      }
    },
    "/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}": {
      "get": {
        "operationId": "ProjectedPlayerSeasonStatsByTeamWAdp",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Abbreviation of the team. Example: <code>WAS</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerSeasonProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Season Stats by Team (w/ ADP)"
      }
    },
    "/{format}/UpcomingDfsSlateOwnershipProjections": {
      "get": {
        "description": "Grabs DFS Slates which have not yet started for which we have DFS Ownership projections. ",
        "operationId": "UpcomingDfsSlateOwnershipProjections",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlateWithOwnershipProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Upcoming DFS Slate Ownership Projections"
      }
    }
  },
  "components": {
    "schemas": {
      "DfsSlate": {
        "properties": {
          "DfsSlateGames": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateGame"
            },
            "type": "array"
          },
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfGames": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SalaryCap": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DfsSlateGame": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Schedule"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "ScoreID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateGameID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "FantasyDefenseProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerGameProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayerOwnershipProjection": {
        "properties": {
          "FantasyDefensePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "IsCaptain": {
            "nullable": false,
            "type": "boolean"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "ProjectedOwnershipPercentage": {
            "nullable": false,
            "type": "number"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlateWithOwnershipProjection": {
        "properties": {
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateOwnershipProjections": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayerOwnershipProjection"
            },
            "type": "array"
          }
        }
      },
      "FantasyDefenseGameProjection": {
        "properties": {
          "AssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "BlockedKickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKicks": {
            "nullable": false,
            "type": "number"
          },
          "Date": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DefensiveTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "DraftKingsTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelPosition": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FanDuelTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDataSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDefenseID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftPosition": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "FourthDownAttempts": {
            "nullable": true,
            "type": "number"
          },
          "FourthDownConversions": {
            "nullable": true,
            "type": "number"
          },
          "FumbleReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "FumbleReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "FumblesForced": {
            "nullable": false,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": false,
            "type": "number"
          },
          "GameKey": {
            "nullable": true,
            "type": "string"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "Humidity": {
            "nullable": true,
            "type": "integer"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Interceptions": {
            "nullable": false,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": true,
            "type": "boolean"
          },
          "KickReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "KickReturns": {
            "nullable": false,
            "type": "number"
          },
          "KickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "OffensiveYardsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentPositionRank": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentRank": {
            "nullable": true,
            "type": "integer"
          },
          "PassesDefended": {
            "nullable": false,
            "type": "number"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PointsAllowed": {
            "nullable": false,
            "type": "number"
          },
          "PointsAllowedByDefenseSpecialTeams": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": false,
            "type": "number"
          },
          "QuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHits": {
            "nullable": true,
            "type": "number"
          },
          "RunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "SackYards": {
            "nullable": false,
            "type": "number"
          },
          "Sacks": {
            "nullable": false,
            "type": "number"
          },
          "Safeties": {
            "nullable": false,
            "type": "number"
          },
          "ScoreID": {
            "nullable": false,
            "type": "integer"
          },
          "ScoringDetails": {
            "items": {
              "$ref": "#/components/schemas/ScoringDetail"
            },
            "type": "array"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "SoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "Stadium": {
            "nullable": true,
            "type": "string"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Temperature": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownAttempts": {
            "nullable": true,
            "type": "number"
          },
          "ThirdDownConversions": {
            "nullable": true,
            "type": "number"
          },
          "TightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "TouchdownsScored": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReturns": {
            "nullable": true,
            "type": "number"
          },
          "VictivSalary": {
            "nullable": true,
            "type": "integer"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          },
          "WideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "WindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "YahooFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooPosition": {
            "nullable": true,
            "type": "string"
          },
          "YahooQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooSalary": {
            "nullable": true,
            "type": "integer"
          },
          "YahooTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "FantasyDefenseSeasonProjection": {
        "properties": {
          "AssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "AuctionValue": {
            "nullable": true,
            "type": "number"
          },
          "AuctionValuePPR": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPosition": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPosition2QB": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPositionDynasty": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPositionPPR": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKicks": {
            "nullable": false,
            "type": "number"
          },
          "DefensiveTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyDraftWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "FourthDownAttempts": {
            "nullable": true,
            "type": "number"
          },
          "FourthDownConversions": {
            "nullable": true,
            "type": "number"
          },
          "FumbleReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "FumbleReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "FumblesForced": {
            "nullable": false,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": false,
            "type": "number"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Humidity": {
            "nullable": true,
            "type": "integer"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Interceptions": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "KickReturns": {
            "nullable": false,
            "type": "number"
          },
          "KickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "OffensiveYardsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "PassesDefended": {
            "nullable": false,
            "type": "number"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PointsAllowed": {
            "nullable": false,
            "type": "number"
          },
          "PointsAllowedByDefenseSpecialTeams": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": false,
            "type": "number"
          },
          "QuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHits": {
            "nullable": true,
            "type": "number"
          },
          "RunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "SackYards": {
            "nullable": false,
            "type": "number"
          },
          "Sacks": {
            "nullable": false,
            "type": "number"
          },
          "Safeties": {
            "nullable": false,
            "type": "number"
          },
          "ScoringDetails": {
            "items": {
              "$ref": "#/components/schemas/ScoringDetail"
            },
            "type": "array"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "SoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Temperature": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownAttempts": {
            "nullable": true,
            "type": "number"
          },
          "ThirdDownConversions": {
            "nullable": true,
            "type": "number"
          },
          "TightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "TouchdownsScored": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReturns": {
            "nullable": true,
            "type": "number"
          },
          "WideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "WindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "YahooFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooKickerFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooQuarterbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooRunningbackFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooTightEndFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          },
          "YahooWideReceiverFantasyPointsAllowed": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Player": {
        "properties": {
          "Active": {
            "nullable": true,
            "type": "boolean"
          },
          "Age": {
            "nullable": true,
            "type": "integer"
          },
          "AverageDraftPosition": {
            "nullable": true,
            "type": "number"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthDateString": {
            "nullable": true,
            "type": "string"
          },
          "ByeWeek": {
            "nullable": true,
            "type": "integer"
          },
          "College": {
            "nullable": true,
            "type": "string"
          },
          "CollegeDraftPick": {
            "nullable": true,
            "type": "integer"
          },
          "CollegeDraftRound": {
            "nullable": true,
            "type": "integer"
          },
          "CollegeDraftTeam": {
            "nullable": true,
            "type": "string"
          },
          "CollegeDraftYear": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentStatus": {
            "nullable": true,
            "type": "string"
          },
          "CurrentTeam": {
            "nullable": true,
            "type": "string"
          },
          "DeclaredInactive": {
            "nullable": false,
            "type": "boolean"
          },
          "DepthDisplayOrder": {
            "nullable": true,
            "type": "integer"
          },
          "DepthOrder": {
            "nullable": true,
            "type": "integer"
          },
          "DepthPosition": {
            "nullable": true,
            "type": "string"
          },
          "DepthPositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Experience": {
            "nullable": true,
            "type": "integer"
          },
          "ExperienceString": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelName": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftName": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPosition": {
            "nullable": true,
            "type": "string"
          },
          "FantasyPositionDepthOrder": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "string"
          },
          "HeightFeet": {
            "nullable": true,
            "type": "integer"
          },
          "HeightInches": {
            "nullable": true,
            "type": "integer"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryPractice": {
            "nullable": true,
            "type": "string"
          },
          "InjuryPracticeDescription": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "IsUndraftedFreeAgent": {
            "nullable": false,
            "type": "boolean"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDirectPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "StatsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingDraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingFanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingGameOpponent": {
            "nullable": true,
            "type": "string"
          },
          "UpcomingGameWeek": {
            "nullable": false,
            "type": "integer"
          },
          "UpcomingOpponentPositionRank": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingOpponentRank": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingSalary": {
            "nullable": true,
            "type": "integer"
          },
          "UpcomingYahooSalary": {
            "nullable": true,
            "type": "integer"
          },
          "UsaTodayHeadshotNoBackgroundUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          },
          "XmlTeamPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "YahooName": {
            "nullable": true,
            "type": "string"
          },
          "YahooPlayerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerGameProjection": {
        "properties": {
          "Activated": {
            "nullable": false,
            "type": "integer"
          },
          "AssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "BlockedKickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKicks": {
            "nullable": false,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DeclaredInactive": {
            "nullable": false,
            "type": "boolean"
          },
          "DefensiveSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "ExtraPointsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsMade": {
            "nullable": false,
            "type": "number"
          },
          "FanDuelPosition": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDataSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftPosition": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": false,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPPR": {
            "nullable": false,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPosition": {
            "nullable": true,
            "type": "string"
          },
          "FieldGoalPercentage": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsLongestMade": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsMade": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsMade0to19": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade20to29": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade30to39": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade40to49": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade50Plus": {
            "nullable": true,
            "type": "number"
          },
          "FumbleReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "FumbleReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Fumbles": {
            "nullable": false,
            "type": "number"
          },
          "FumblesForced": {
            "nullable": false,
            "type": "number"
          },
          "FumblesLost": {
            "nullable": true,
            "type": "number"
          },
          "FumblesOutOfBounds": {
            "nullable": true,
            "type": "number"
          },
          "FumblesOwnRecoveries": {
            "nullable": true,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": false,
            "type": "number"
          },
          "GameDate": {
            "nullable": true,
            "type": "string"
          },
          "GameKey": {
            "nullable": true,
            "type": "string"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "Humidity": {
            "nullable": true,
            "type": "integer"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryPractice": {
            "nullable": true,
            "type": "string"
          },
          "InjuryPracticeDescription": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Interceptions": {
            "nullable": false,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": true,
            "type": "boolean"
          },
          "KickReturnFairCatches": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "KickReturns": {
            "nullable": false,
            "type": "number"
          },
          "MiscAssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "MiscFumblesForced": {
            "nullable": true,
            "type": "number"
          },
          "MiscFumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "MiscSoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": false,
            "type": "integer"
          },
          "OffensiveFumbleRecoveryTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "OffensiveSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentPositionRank": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentRank": {
            "nullable": true,
            "type": "integer"
          },
          "PassesDefended": {
            "nullable": false,
            "type": "number"
          },
          "PassingAttempts": {
            "nullable": false,
            "type": "number"
          },
          "PassingCompletionPercentage": {
            "nullable": false,
            "type": "number"
          },
          "PassingCompletions": {
            "nullable": false,
            "type": "number"
          },
          "PassingInterceptions": {
            "nullable": false,
            "type": "number"
          },
          "PassingLong": {
            "nullable": false,
            "type": "number"
          },
          "PassingRating": {
            "nullable": false,
            "type": "number"
          },
          "PassingSackYards": {
            "nullable": false,
            "type": "number"
          },
          "PassingSacks": {
            "nullable": false,
            "type": "number"
          },
          "PassingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PassingYards": {
            "nullable": false,
            "type": "number"
          },
          "PassingYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "PassingYardsPerCompletion": {
            "nullable": false,
            "type": "number"
          },
          "Played": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerGameID": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayingSurface": {
            "nullable": true,
            "type": "string"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "PuntAverage": {
            "nullable": false,
            "type": "number"
          },
          "PuntInside20": {
            "nullable": true,
            "type": "number"
          },
          "PuntLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntNetAverage": {
            "nullable": true,
            "type": "number"
          },
          "PuntNetYards": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnFairCatches": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": false,
            "type": "number"
          },
          "PuntTouchbacks": {
            "nullable": true,
            "type": "number"
          },
          "PuntYards": {
            "nullable": false,
            "type": "number"
          },
          "Punts": {
            "nullable": false,
            "type": "number"
          },
          "PuntsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHits": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingLong": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingTargets": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYards": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYardsPerReception": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYardsPerTarget": {
            "nullable": false,
            "type": "number"
          },
          "ReceptionPercentage": {
            "nullable": false,
            "type": "number"
          },
          "Receptions": {
            "nullable": false,
            "type": "number"
          },
          "RushingAttempts": {
            "nullable": false,
            "type": "number"
          },
          "RushingLong": {
            "nullable": false,
            "type": "number"
          },
          "RushingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "RushingYards": {
            "nullable": false,
            "type": "number"
          },
          "RushingYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "SackYards": {
            "nullable": false,
            "type": "number"
          },
          "Sacks": {
            "nullable": false,
            "type": "number"
          },
          "Safeties": {
            "nullable": true,
            "type": "number"
          },
          "SafetiesAllowed": {
            "nullable": true,
            "type": "number"
          },
          "ScoreID": {
            "nullable": false,
            "type": "integer"
          },
          "ScoringDetails": {
            "items": {
              "$ref": "#/components/schemas/ScoringDetail"
            },
            "type": "array"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "SnapCountsConfirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "SoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsAssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsFumblesForced": {
            "nullable": true,
            "type": "number"
          },
          "SpecialTeamsFumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "SpecialTeamsSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "SpecialTeamsSoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "SpecialTeamsTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "Stadium": {
            "nullable": true,
            "type": "string"
          },
          "Started": {
            "nullable": false,
            "type": "integer"
          },
          "Tackles": {
            "nullable": false,
            "type": "number"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Temperature": {
            "nullable": true,
            "type": "integer"
          },
          "Touchdowns": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionPasses": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReceptions": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReturns": {
            "nullable": true,
            "type": "number"
          },
          "TwoPointConversionRuns": {
            "nullable": false,
            "type": "number"
          },
          "VictivSalary": {
            "nullable": true,
            "type": "integer"
          },
          "Week": {
            "nullable": false,
            "type": "integer"
          },
          "WindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "YahooPosition": {
            "nullable": true,
            "type": "string"
          },
          "YahooSalary": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerSeasonProjection": {
        "properties": {
          "Activated": {
            "nullable": false,
            "type": "integer"
          },
          "AssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "AuctionValue": {
            "nullable": true,
            "type": "number"
          },
          "AuctionValuePPR": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPosition": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPosition2QB": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPositionDynasty": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPositionPPR": {
            "nullable": true,
            "type": "number"
          },
          "AverageDraftPositionRookie": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "BlockedKicks": {
            "nullable": false,
            "type": "number"
          },
          "DefensiveSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "ExtraPointsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsMade": {
            "nullable": false,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": false,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPPR": {
            "nullable": false,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPosition": {
            "nullable": true,
            "type": "string"
          },
          "FieldGoalPercentage": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsLongestMade": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsMade": {
            "nullable": false,
            "type": "number"
          },
          "FieldGoalsMade0to19": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade20to29": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade30to39": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade40to49": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade50Plus": {
            "nullable": true,
            "type": "number"
          },
          "FumbleReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "FumbleReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Fumbles": {
            "nullable": false,
            "type": "number"
          },
          "FumblesForced": {
            "nullable": false,
            "type": "number"
          },
          "FumblesLost": {
            "nullable": true,
            "type": "number"
          },
          "FumblesOutOfBounds": {
            "nullable": true,
            "type": "number"
          },
          "FumblesOwnRecoveries": {
            "nullable": true,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": false,
            "type": "number"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Humidity": {
            "nullable": true,
            "type": "integer"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "Interceptions": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnFairCatches": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "KickReturnYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "KickReturns": {
            "nullable": false,
            "type": "number"
          },
          "MiscAssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "MiscFumblesForced": {
            "nullable": true,
            "type": "number"
          },
          "MiscFumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "MiscSoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": false,
            "type": "integer"
          },
          "OffensiveFumbleRecoveryTouchdowns": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PassesDefended": {
            "nullable": false,
            "type": "number"
          },
          "PassingAttempts": {
            "nullable": false,
            "type": "number"
          },
          "PassingCompletionPercentage": {
            "nullable": false,
            "type": "number"
          },
          "PassingCompletions": {
            "nullable": false,
            "type": "number"
          },
          "PassingInterceptions": {
            "nullable": false,
            "type": "number"
          },
          "PassingLong": {
            "nullable": false,
            "type": "number"
          },
          "PassingRating": {
            "nullable": false,
            "type": "number"
          },
          "PassingSackYards": {
            "nullable": false,
            "type": "number"
          },
          "PassingSacks": {
            "nullable": false,
            "type": "number"
          },
          "PassingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PassingYards": {
            "nullable": false,
            "type": "number"
          },
          "PassingYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "PassingYardsPerCompletion": {
            "nullable": false,
            "type": "number"
          },
          "Played": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerSeasonID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "PuntAverage": {
            "nullable": false,
            "type": "number"
          },
          "PuntInside20": {
            "nullable": true,
            "type": "number"
          },
          "PuntLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntNetAverage": {
            "nullable": true,
            "type": "number"
          },
          "PuntNetYards": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnFairCatches": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturnYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": false,
            "type": "number"
          },
          "PuntTouchbacks": {
            "nullable": true,
            "type": "number"
          },
          "PuntYards": {
            "nullable": false,
            "type": "number"
          },
          "Punts": {
            "nullable": false,
            "type": "number"
          },
          "PuntsHadBlocked": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHits": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingLong": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingTargets": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYards": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYardsPerReception": {
            "nullable": false,
            "type": "number"
          },
          "ReceivingYardsPerTarget": {
            "nullable": false,
            "type": "number"
          },
          "ReceptionPercentage": {
            "nullable": false,
            "type": "number"
          },
          "Receptions": {
            "nullable": false,
            "type": "number"
          },
          "RushingAttempts": {
            "nullable": false,
            "type": "number"
          },
          "RushingLong": {
            "nullable": false,
            "type": "number"
          },
          "RushingTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "RushingYards": {
            "nullable": false,
            "type": "number"
          },
          "RushingYardsPerAttempt": {
            "nullable": false,
            "type": "number"
          },
          "SackYards": {
            "nullable": false,
            "type": "number"
          },
          "Sacks": {
            "nullable": false,
            "type": "number"
          },
          "Safeties": {
            "nullable": true,
            "type": "number"
          },
          "SafetiesAllowed": {
            "nullable": true,
            "type": "number"
          },
          "ScoringDetails": {
            "items": {
              "$ref": "#/components/schemas/ScoringDetail"
            },
            "type": "array"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "SoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsAssistedTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsFumblesForced": {
            "nullable": true,
            "type": "number"
          },
          "SpecialTeamsFumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "SpecialTeamsSnapsPlayed": {
            "nullable": true,
            "type": "integer"
          },
          "SpecialTeamsSoloTackles": {
            "nullable": false,
            "type": "number"
          },
          "SpecialTeamsTeamSnaps": {
            "nullable": true,
            "type": "integer"
          },
          "SpecialTeamsTouchdowns": {
            "nullable": false,
            "type": "number"
          },
          "Started": {
            "nullable": false,
            "type": "integer"
          },
          "Tackles": {
            "nullable": false,
            "type": "number"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Temperature": {
            "nullable": true,
            "type": "integer"
          },
          "Touchdowns": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionPasses": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReceptions": {
            "nullable": false,
            "type": "number"
          },
          "TwoPointConversionReturns": {
            "nullable": true,
            "type": "number"
          },
          "TwoPointConversionRuns": {
            "nullable": false,
            "type": "number"
          },
          "WindSpeed": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Schedule": {
        "properties": {
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "Canceled": {
            "nullable": true,
            "type": "boolean"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "Date": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "ForecastDescription": {
            "nullable": true,
            "type": "string"
          },
          "ForecastTempHigh": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastTempLow": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindChill": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "GameKey": {
            "nullable": true,
            "type": "string"
          },
          "GeoLat": {
            "nullable": true,
            "type": "number"
          },
          "GeoLong": {
            "nullable": true,
            "type": "number"
          },
          "GlobalAwayTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "ScoreID": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "StadiumDetails": {
            "$ref": "#/components/schemas/Stadium"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "ScoringDetail": {
        "properties": {
          "GameKey": {
            "nullable": true,
            "type": "string"
          },
          "Length": {
[...]
