swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/46
info:
  description: 'You can access ALL WordNet DB.<BR />[Endpoint] https://api.apitore.com/api/46'
  title: WordNet APIs
  version: 0.0.1
  x-logo:
    url: 'https://apitore.com/img/apis/46.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/46'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: wordnetApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Wordnet Controller
    name: wordnet-controller
paths:
  /wordnet/sense/bysynset:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: sensebysynsetUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Synset
          in: query
          name: synset
          required: true
          type: string
        - default: jpn
          description: 'Language. [jpn:japanese,eng:english]'
          in: query
          name: lang
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SenseResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Sense object.
      tags:
        - wordnet-controller
  /wordnet/sense/bywordid:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: sensebywordidUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word ID
          format: int32
          in: query
          name: wordid
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SenseResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Sense object.
      tags:
        - wordnet-controller
  /wordnet/synlink/bysynset:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: synlinkbySynsetUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Synset
          in: query
          name: synset
          required: true
          type: string
        - default: syns
          description: 'Link. You can specify several link by csv format. [also, syns, hype, inst, hypo, hasi, mero, mmem, msub, mprt, holo, hmem, hsub, hprt, attr, sim, enta, caus, dmnc, dmnu, dmnr, dmtc, dmtu, dmtr, ants]'
          in: query
          name: link
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SynlinkResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return SynLink object.
      tags:
        - wordnet-controller
  /wordnet/synset/byname:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: synsetbyNameUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Name
          in: query
          name: name
          required: true
          type: string
        - description: 'Part-of-speech. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SynsetResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Synset object.
      tags:
        - wordnet-controller
  /wordnet/synset/bysynset:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: synsetbysynsetUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Synset
          in: query
          name: synset
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SynsetResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Synset object.
      tags:
        - wordnet-controller
  /wordnet/synsetdef/bysynset:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: synsetdefbysynsetUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Synset
          in: query
          name: synset
          required: true
          type: string
        - description: 'Language. [jpn:japanese,eng:english]'
          in: query
          name: lang
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SynsetDefResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return SynsetDef object.
      tags:
        - wordnet-controller
  /wordnet/word/bylemma:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: wordbylemmaUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Lemma
          in: query
          name: lemma
          required: true
          type: string
        - default: 'n,v,a,r'
          description: 'Part-of-speech. You can specify several pos by csv format. [n:noun,v:verb,a:adjective,r:adverb]'
          in: query
          name: pos
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Word object.
      tags:
        - wordnet-controller
  /wordnet/word/bywordid:
    get:
      description: 'Japanese WordNet.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/wordnet-response">wordnet-response</a><BR />'
      operationId: wordbyidUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Word ID
          format: int32
          in: query
          name: wordid
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WordResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: WordNet WebAPI. Return Word object.
      tags:
        - wordnet-controller
definitions:
  SenseEntity:
    properties:
      freq:
        description: Freq
        format: int32
        type: integer
      lang:
        description: Language
        type: string
      lexid:
        description: Lexicon ID
        format: int32
        type: integer
      rank:
        description: Rank
        format: int32
        type: integer
      src:
        description: Src
        type: string
      synset:
        description: Synset
        type: string
      wordid:
        description: Word ID
        format: int32
        type: integer
    required:
      - freq
      - lang
      - lexid
      - rank
      - src
      - synset
      - wordid
    type: object
  SenseResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      entries:
        description: Entries
        items:
          $ref: '#/definitions/SenseEntity'
        type: array
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - entries
      - log
      - processTime
      - startTime
    type: object
  SynlinkEntity:
    properties:
      link:
        description: Link
        type: string
      src:
        description: Src
        type: string
      synset1:
        description: Synset1
        type: string
      synset2:
        description: Synset2
        type: string
    required:
      - link
      - src
      - synset1
      - synset2
    type: object
  SynlinkResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      entries:
        description: Entries
        items:
          $ref: '#/definitions/SynlinkEntity'
        type: array
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - entries
      - log
      - processTime
      - startTime
    type: object
  SynsetDefResponseEntity:
    properties:
      def:
        description: Definition
        type: string
      endTime:
        description: End date
        type: string
      lang:
        description: Language
        type: string
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      sid:
        description: sid
        format: int32
        type: integer
      startTime:
        description: Start date
        type: string
      synset:
        description: Synset
        type: string
    required:
      - def
      - endTime
      - lang
      - log
      - processTime
      - sid
      - startTime
      - synset
    type: object
  SynsetEntity:
    properties:
      name:
        description: Name
        type: string
      pos:
        description: Part-of-speech
        type: string
      src:
        description: Src
        type: string
      synset:
        description: Synset
        type: string
    required:
      - name
      - pos
      - src
      - synset
    type: object
  SynsetResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      entries:
        description: Entries
        items:
          $ref: '#/definitions/SynsetEntity'
        type: array
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - entries
      - log
      - processTime
      - startTime
    type: object
  WordEntity:
    properties:
      lang:
        description: Language
        type: string
      lemma:
        description: Lemma
        type: string
      pos:
        description: Part-of-speech
        type: string
      pron:
        description: Pron
        type: string
      wordid:
        description: Word ID
        format: int32
        type: integer
    required:
      - lang
      - lemma
      - pos
      - wordid
    type: object
  WordResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      entries:
        description: Entries
        items:
          $ref: '#/definitions/WordEntity'
        type: array
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - entries
      - log
      - processTime
      - startTime
    type: object
