swagger: '2.0'
schemes:
  - https
  - http
host: kafka.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: |2-

                   <p>The operations for managing an Amazon MSK cluster.</p>
                
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Managed Streaming for Kafka
  version: '2018-11-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kafka-2018-11-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: kafka
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/kafka/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v1/clusters:
    get:
      description: |2-

                    <p>Returns a list of all the MSK clusters in the current Region.</p>
                 
      operationId: ListClusters
      parameters:
        - description: |2-

                        <p>Specify a prefix of the name of the clusters that you want to list. The service lists all the clusters whose names start with this prefix.</p>
                     
          in: query
          name: clusterNameFilter
          required: false
          type: string
        - description: |2-

                        <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>
                     
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: |2-

                        <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. 
                        To get the next batch, provide this token in your next request.</p>
                     
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClustersResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: |2-

                    <p>Creates a new MSK cluster.</p>
                 
      operationId: CreateCluster
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              brokerNodeGroupInfo:
                description: |2-

                              <p>Describes the setup to be used for Kafka broker nodes in the cluster.</p>
                           
                properties:
                  BrokerAZDistribution:
                    $ref: '#/definitions/BrokerAZDistribution'
                    description: |2-

                                  <p>The distribution of broker nodes across Availability Zones.</p>
                               
                  ClientSubnets:
                    $ref: '#/definitions/__listOf__string'
                    description: |2-

                                  <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>
                               
                  InstanceType:
                    $ref: '#/definitions/__stringMin5Max32'
                    description: |2-

                                  <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,
                      kafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>
                               
                  SecurityGroups:
                    $ref: '#/definitions/__listOf__string'
                    description: |2-

                                  <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>
                               
                  StorageInfo:
                    $ref: '#/definitions/StorageInfo'
                    description: |2-

                                  <p>Contains information about storage volumes attached to MSK broker nodes.</p>
                               
                type: object
              clientAuthentication:
                description: |2-

                              <p>Includes all client authentication information.</p>
                           
                properties:
                  Tls:
                    $ref: '#/definitions/Tls'
                    description: |2-

                                  <p>Details for ClientAuthentication using TLS.</p>
                               
                type: object
              clusterName:
                description: |2-

                              <p>The name of the cluster.</p>
                           
                maxLength: 64
                minLength: 1
                type: string
              configurationInfo:
                description: |2-

                              <p>Specifies the configuration to use for the brokers.</p>
                           
                properties:
                  Arn:
                    $ref: '#/definitions/__string'
                    description: |2-

                                  <p>ARN of the configuration to use.</p>
                               
                  Revision:
                    $ref: '#/definitions/__long'
                    description: |2-

                                  <p>The revision of the configuration to use.</p>
                               
                type: object
              encryptionInfo:
                description: |2-

                              <p>Includes encryption-related information, such as the AWS KMS key used for encrypting data at rest and whether you want MSK to encrypt your data in transit.</p>
                           
                properties:
                  EncryptionAtRest:
                    $ref: '#/definitions/EncryptionAtRest'
                    description: |2-

                                  <p>The data-volume encryption details.</p>
                               
                  EncryptionInTransit:
                    $ref: '#/definitions/EncryptionInTransit'
                    description: |2-

                                  <p>The details for encryption in transit.</p>
                               
                type: object
              enhancedMonitoring:
                description: |2-

                              <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href="https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html">Monitoring</a>.</p>
                           
                enum:
                  - DEFAULT
                  - PER_BROKER
                  - PER_TOPIC_PER_BROKER
                type: string
              kafkaVersion:
                description: |2-

                              <p>The version of Apache Kafka.</p>
                           
                maxLength: 128
                minLength: 1
                type: string
              numberOfBrokerNodes:
                description: |2-

                              <p>The number of broker nodes in the cluster.</p>
                           
                maximum: 15
                minimum: 1
                type: integer
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: |2-

                              <p>Create tags when creating the cluster.</p>
                           
                type: object
            required:
              - brokerNodeGroupInfo
              - clusterName
              - configurationInfo
              - kafkaVersion
              - numberOfBrokerNodes
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v1/clusters/{clusterArn}':
    delete:
      description: |2-

                    <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>
                 
      operationId: DeleteCluster
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
        - description: |2-

                        <p>The current version of the MSK cluster.</p>
                     
          in: query
          name: currentVersion
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    get:
      description: |2-

                    <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>
                 
      operationId: DescribeCluster
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/clusters/{clusterArn}/bootstrap-brokers':
    get:
      description: |2-

                    <p>A list of brokers that a client application can use to bootstrap.</p>
                 
      operationId: GetBootstrapBrokers
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBootstrapBrokersResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/clusters/{clusterArn}/configuration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |2-

                    <p>Updates the cluster with the configuration that is specified in the request body.</p>
                 
      operationId: UpdateClusterConfiguration
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              configurationInfo:
                description: |2-

                              <p>Specifies the configuration to use for the brokers.</p>
                           
                properties:
                  Arn:
                    $ref: '#/definitions/__string'
                    description: |2-

                                  <p>ARN of the configuration to use.</p>
                               
                  Revision:
                    $ref: '#/definitions/__long'
                    description: |2-

                                  <p>The revision of the configuration to use.</p>
                               
                type: object
              currentVersion:
                description: |2-

                              <p>The version of the cluster that needs to be updated.</p>
                           
                type: string
            required:
              - configurationInfo
              - currentVersion
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateClusterConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/v1/clusters/{clusterArn}/nodes':
    get:
      description: |2-

                    <p>Returns a list of the broker nodes in the cluster.</p>
                 
      operationId: ListNodes
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
        - description: |2-

                        <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>
                     
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: |2-

                        <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. 
                        To get the next batch, provide this token in your next request.</p>
                     
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListNodesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/clusters/{clusterArn}/nodes/storage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |2-

                    <p>Updates the EBS storage associated with MSK brokers.</p>
                 
      operationId: UpdateBrokerStorage
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              currentVersion:
                description: |2-

                              <p>The version of cluster to update from. A successful operation will then generate a new version.</p>
                           
                type: string
              targetBrokerEBSVolumeInfo:
                description: |2-

                              <p>Describes the target volume size and the ID of the broker to apply the update to.</p>
                           
                items:
                  $ref: '#/definitions/BrokerEBSVolumeInfo'
                type: array
            required:
              - currentVersion
              - targetBrokerEBSVolumeInfo
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBrokerStorageResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  '/v1/clusters/{clusterArn}/operations':
    get:
      description: |2-

                    <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>
                 
      operationId: ListClusterOperations
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                     
          in: path
          name: clusterArn
          required: true
          type: string
        - description: |2-

                        <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>
                     
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: |2-

                        <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. 
                        To get the next batch, provide this token in your next request.</p>
                     
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClusterOperationsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/configurations:
    get:
      description: |2-

                    <p>Returns a list of all the MSK configurations in this Region.</p>
                 
      operationId: ListConfigurations
      parameters:
        - description: |2-

                        <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>
                     
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: |2-

                        <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. 
                        To get the next batch, provide this token in your next request.</p>
                     
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationsResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: |2-

                    <p>Creates a new MSK configuration.</p>
                 
      operationId: CreateConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: |2-

                              <p>The description of the configuration.</p>
                           
                type: string
              kafkaVersions:
                description: |2-

                              <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>
                           
                items:
                  $ref: '#/definitions/__string'
                type: array
              name:
                description: |2-

                              <p>The name of the configuration.</p>
                           
                type: string
              serverProperties:
                description: |2-

                              <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. 
                                 When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>
                           
                type: string
            required:
              - kafkaVersions
              - name
              - serverProperties
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/v1/configurations/{arn}':
    get:
      description: |2-

                    <p>Returns a description of this MSK configuration.</p>
                 
      operationId: DescribeConfiguration
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>
                     
          in: path
          name: arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/configurations/{arn}/revisions':
    get:
      description: |2-

                    <p>Returns a list of all the MSK configurations in this Region.</p>
                 
      operationId: ListConfigurationRevisions
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>
                     
          in: path
          name: arn
          required: true
          type: string
        - description: |2-

                        <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>
                     
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: |2-

                        <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. 
                        To get the next batch, provide this token in your next request.</p>
                     
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationRevisionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/configurations/{arn}/revisions/{revision}':
    get:
      description: |2-

                    <p>Returns a description of this revision of the configuration.</p>
                 
      operationId: DescribeConfigurationRevision
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>
                     
          in: path
          name: arn
          required: true
          type: string
        - description: |2-

                        <p>A string that uniquely identifies a revision of an MSK configuration.</p>
                     
          in: path
          name: revision
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRevisionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/operations/{clusterOperationArn}':
    get:
      description: |2-

                    <p>Returns a description of the cluster operation specified by the ARN.</p>
                 
      operationId: DescribeClusterOperation
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the MSK cluster operation.</p>
                     
          in: path
          name: clusterOperationArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterOperationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/tags/{resourceArn}':
    get:
      description: |2-

                    <p>Returns a list of the tags associated with the specified resource.</p>
                 
      operationId: ListTagsForResource
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>
                     
          in: path
          name: resourceArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: |2-

                    <p>Adds tags to the specified MSK resource.</p>
                 
      operationId: TagResource
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>
                     
          in: path
          name: resourceArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: |2-

                              <p>The key-value pair for the resource tag.</p>
                           
                type: object
            required:
              - tags
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/v1/tags/{resourceArn}#tagKeys':
    delete:
      description: |2-

                    <p>Removes the tags associated with the keys that are provided in the query.</p>
                 
      operationId: UntagResource
      parameters:
        - description: |2-

                        <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>
                     
          in: path
          name: resourceArn
          required: true
          type: string
        - description: |2-

                        <p>Tag keys must be unique for a given cluster. In addition, the following restrictions apply:</p>
                        <ul>
                           <li>
                              <p>Each tag key must be unique. If you add a tag with a key that's already in
                              use, your new tag overwrites the existing key-value pair. </p>
                           </li>
                           <li>
                              <p>You can't start a tag key with aws: because this prefix is reserved for use
                              by  AWS.  AWS creates tags that begin with this prefix on your behalf, but
                              you can't edit or delete them.</p>
                           </li>
                           <li>
                              <p>Tag keys must be between 1 and 128 Unicode characters in length.</p>
                           </li>
                           <li>
                              <p>Tag keys must consist of the following characters: Unicode letters, digits,
                              white space, and the following special characters: _ . / = + -
                                 @.</p>
                           </li>
                        </ul>
                     
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BadRequestException: {}
  BrokerAZDistribution:
    description: |2-

                  <p>The distribution of broker nodes across Availability Zones. By default, broker nodes are distributed among three Availability Zones. Currently, the only supported value is DEFAULT. You can either specify this value explicitly or leave it out.</p>
               
    enum:
      - DEFAULT
    type: string
  BrokerEBSVolumeInfo:
    description: |2-

                  <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>
               
    properties:
      KafkaBrokerNodeId:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The ID of the broker to update.</p>
                   
      VolumeSizeGB:
        $ref: '#/definitions/__integer'
        description: |2-

                      <p>Size of the EBS volume to update.</p>
                   
    required:
      - VolumeSizeGB
      - KafkaBrokerNodeId
    type: object
  BrokerNodeGroupInfo:
    description: |2-

                  <p>Describes the setup to be used for Kafka broker nodes in the cluster.</p>
               
    properties:
      BrokerAZDistribution:
        $ref: '#/definitions/BrokerAZDistribution'
        description: |2-

                      <p>The distribution of broker nodes across Availability Zones.</p>
                   
      ClientSubnets:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>
                   
      InstanceType:
        $ref: '#/definitions/__stringMin5Max32'
        description: |2-

                      <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,
          kafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>
                   
      SecurityGroups:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>
                   
      StorageInfo:
        $ref: '#/definitions/StorageInfo'
        description: |2-

                      <p>Contains information about storage volumes attached to MSK broker nodes.</p>
                   
    required:
      - ClientSubnets
      - InstanceType
    type: object
  BrokerNodeInfo:
    description: |2-

                  <p>BrokerNodeInfo</p>
               
    properties:
      AttachedENIId:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The attached elastic network interface of the broker.</p>
                   
      BrokerId:
        $ref: '#/definitions/__double'
        description: |2-

                      <p>The ID of the broker.</p>
                   
      ClientSubnet:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The client subnet to which this broker node belongs.</p>
                   
      ClientVpcIpAddress:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The virtual private cloud (VPC) of the client.</p>
                   
      CurrentBrokerSoftwareInfo:
        $ref: '#/definitions/BrokerSoftwareInfo'
        description: |2-

                      <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>
                   
      Endpoints:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>Endpoints for accessing the broker.</p>
                   
    type: object
  BrokerSoftwareInfo:
    description: |2-

                  <p>Information about the current software installed on the cluster.</p>
               
    properties:
      ConfigurationArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>
                   
      ConfigurationRevision:
        $ref: '#/definitions/__long'
        description: |2-

                      <p>The revision of the configuration to use. This field isn't visible in this preview release.</p>
                   
      KafkaVersion:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The version of Apache Kafka.</p>
                   
    type: object
  ClientAuthentication:
    description: |2-

                  <p>Includes all client authentication information.</p>
               
    properties:
      Tls:
        $ref: '#/definitions/Tls'
        description: |2-

                      <p>Details for ClientAuthentication using TLS.</p>
                   
    type: object
  ClientBroker:
    description: |2-

                  <p>Client-broker encryption in transit setting.</p>
               
    enum:
      - TLS
      - TLS_PLAINTEXT
      - PLAINTEXT
    type: string
  ClusterInfo:
    description: |2-

                  <p>Returns information about a cluster.</p>
               
    properties:
      ActiveOperationArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>Arn of active cluster operation.</p>
                   
      BrokerNodeGroupInfo:
        $ref: '#/definitions/BrokerNodeGroupInfo'
        description: |2-

                      <p>Information about the broker nodes.</p>
                   
      ClientAuthentication:
        $ref: '#/definitions/ClientAuthentication'
        description: |2-

                      <p>Includes all client authentication information.</p>
                   
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>
                   
      ClusterName:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the cluster.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the cluster was created.</p>
                   
      CurrentBrokerSoftwareInfo:
        $ref: '#/definitions/BrokerSoftwareInfo'
        description: |2-

                      <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>
                   
      CurrentVersion:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The current version of the MSK cluster.</p>
                   
      EncryptionInfo:
        $ref: '#/definitions/EncryptionInfo'
        description: |2-

                      <p>Includes all encryption-related information.</p>
                   
      EnhancedMonitoring:
        $ref: '#/definitions/EnhancedMonitoring'
        description: |2-

                      <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href="https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html">Monitoring</a>.</p>
                   
      NumberOfBrokerNodes:
        $ref: '#/definitions/__integer'
        description: |2-

                      <p>The number of broker nodes in the cluster.</p>
                   
      State:
        $ref: '#/definitions/ClusterState'
        description: |2-

                      <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>
                   
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |2-

                      <p>Tags attached to the cluster.</p>
                   
      ZookeeperConnectString:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>
                   
    type: object
  ClusterOperationInfo:
    description: |2-

                  <p>Returns information about a cluster operation.</p>
               
    properties:
      ClientRequestId:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The ID of the API request that triggered this operation.</p>
                   
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>ARN of the cluster.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time that the operation was created.</p>
                   
      EndTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time at which the operation finished.</p>
                   
      ErrorInfo:
        $ref: '#/definitions/ErrorInfo'
        description: |2-

                      <p>Describes the error if the operation fails.</p>
                   
      OperationArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>ARN of the cluster operation.</p>
                   
      OperationState:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>State of the cluster operation.</p>
                   
      OperationType:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>Type of the cluster operation.</p>
                   
      SourceClusterInfo:
        $ref: '#/definitions/MutableClusterInfo'
        description: |2-

                      <p>Information about cluster attributes before a cluster is updated.</p>
                   
      TargetClusterInfo:
        $ref: '#/definitions/MutableClusterInfo'
        description: |2-

                      <p>Information about cluster attributes after a cluster is updated.</p>
                   
    type: object
  ClusterState:
    description: |2-

                  <p>The state of a Kafka cluster.</p>
               
    enum:
      - ACTIVE
      - CREATING
      - UPDATING
      - DELETING
      - FAILED
    type: string
  Configuration:
    description: |2-

                  <p>Represents an MSK Configuration.</p>
               
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the configuration.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the configuration was created.</p>
                   
      Description:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The description of the configuration.</p>
                   
      KafkaVersions:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>
                   
      LatestRevision:
        $ref: '#/definitions/ConfigurationRevision'
        description: |2-

                      <p>Latest revision of the configuration.</p>
                   
      Name:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the configuration.</p>
                   
    required:
      - Description
      - LatestRevision
      - CreationTime
      - KafkaVersions
      - Arn
      - Name
    type: object
  ConfigurationInfo:
    description: |2-

                  <p>Specifies the configuration to use for the brokers.</p>
               
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>ARN of the configuration to use.</p>
                   
      Revision:
        $ref: '#/definitions/__long'
        description: |2-

                      <p>The revision of the configuration to use.</p>
                   
    required:
      - Revision
      - Arn
    type: object
  ConfigurationRevision:
    description: |2-

                  <p>Describes a configuration revision.</p>
               
    properties:
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the configuration revision was created.</p>
                   
      Description:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The description of the configuration revision.</p>
                   
      Revision:
        $ref: '#/definitions/__long'
        description: |2-

                      <p>The revision number.</p>
                   
    required:
      - Revision
      - CreationTime
    type: object
  ConflictException: {}
  CreateClusterRequest:
    properties:
      BrokerNodeGroupInfo:
        $ref: '#/definitions/BrokerNodeGroupInfo'
        description: |2-

                      <p>Information about the broker nodes in the cluster.</p>
                   
      ClientAuthentication:
        $ref: '#/definitions/ClientAuthentication'
        description: |2-

                      <p>Includes all client authentication related information.</p>
                   
      ClusterName:
        $ref: '#/definitions/__stringMin1Max64'
        description: |2-

                      <p>The name of the cluster.</p>
                   
      ConfigurationInfo:
        $ref: '#/definitions/ConfigurationInfo'
        description: |2-

                      <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>
                   
      EncryptionInfo:
        $ref: '#/definitions/EncryptionInfo'
        description: |2-

                      <p>Includes all encryption-related information.</p>
                   
      EnhancedMonitoring:
        $ref: '#/definitions/EnhancedMonitoring'
        description: |2-

                      <p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER.</p>
                   
      KafkaVersion:
        $ref: '#/definitions/__stringMin1Max128'
        description: |2-

                      <p>The version of Apache Kafka.</p>
                   
      NumberOfBrokerNodes:
        $ref: '#/definitions/__integerMin1Max15'
        description: |2-

                      <p>The number of broker nodes in the cluster.</p>
                   
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |2-

                      <p>Create tags when creating the cluster.</p>
                   
    required:
      - BrokerNodeGroupInfo
      - KafkaVersion
      - NumberOfBrokerNodes
      - ClusterName
    type: object
  CreateClusterResponse:
    properties:
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster.</p>
                   
      ClusterName:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the MSK cluster.</p>
                   
      State:
        $ref: '#/definitions/ClusterState'
        description: |2-

                      <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>
                   
    type: object
  CreateConfigurationRequest:
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The description of the configuration.</p>
                   
      KafkaVersions:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>
                   
      Name:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the configuration.</p>
                   
      ServerProperties:
        $ref: '#/definitions/__blob'
        description: |2-

                      <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. 
                         When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>
                   
    required:
      - ServerProperties
      - KafkaVersions
      - Name
    type: object
  CreateConfigurationResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the configuration.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the configuration was created.</p>
                   
      LatestRevision:
        $ref: '#/definitions/ConfigurationRevision'
        description: |2-

                      <p>Latest revision of the configuration.</p>
                   
      Name:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the configuration.</p>
                   
    type: object
  DeleteClusterRequest:
    properties: {}
    type: object
  DeleteClusterResponse:
    properties:
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster.</p>
                   
      State:
        $ref: '#/definitions/ClusterState'
        description: |2-

                      <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>
                   
    type: object
  DescribeClusterOperationRequest:
    properties: {}
    type: object
  DescribeClusterOperationResponse:
    properties:
      ClusterOperationInfo:
        $ref: '#/definitions/ClusterOperationInfo'
        description: |2-

                      <p>Cluster operation information</p>
                   
    type: object
  DescribeClusterRequest:
    properties: {}
    type: object
  DescribeClusterResponse:
    properties:
      ClusterInfo:
        $ref: '#/definitions/ClusterInfo'
        description: |2-

                      <p>The cluster information.</p>
                   
    type: object
  DescribeConfigurationRequest:
    properties: {}
    type: object
  DescribeConfigurationResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the configuration.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the configuration was created.</p>
                   
      Description:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The description of the configuration.</p>
                   
      KafkaVersions:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>
                   
      LatestRevision:
        $ref: '#/definitions/ConfigurationRevision'
        description: |2-

                      <p>Latest revision of the configuration.</p>
                   
      Name:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The name of the configuration.</p>
                   
    type: object
  DescribeConfigurationRevisionRequest:
    properties: {}
    type: object
  DescribeConfigurationRevisionResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the configuration.</p>
                   
      CreationTime:
        $ref: '#/definitions/__timestampIso8601'
        description: |2-

                      <p>The time when the configuration was created.</p>
                   
      Description:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The description of the configuration.</p>
                   
      Revision:
        $ref: '#/definitions/__long'
        description: |2-

                      <p>The revision number.</p>
                   
      ServerProperties:
        $ref: '#/definitions/__blob'
        description: |2-

                      <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. 
                         When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>
                   
    type: object
  EBSStorageInfo:
    description: |2-

                  <p>Contains information about the EBS storage volumes attached to Kafka broker nodes.</p>
               
    properties:
      VolumeSize:
        $ref: '#/definitions/__integerMin1Max16384'
        description: |2-

                      <p>The size in GiB of the EBS volume for the data drive on each broker node.</p>
                   
    type: object
  EncryptionAtRest:
    description: |2-

                  <p>The data-volume encryption details.</p>
               
    properties:
      DataVolumeKMSKeyId:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The ARN of the AWS KMS key for encrypting data at rest. If you don't specify a KMS key, MSK creates one for you and uses it.</p>
                   
    required:
      - DataVolumeKMSKeyId
    type: object
  EncryptionInTransit:
    description: |2-

                  <p>The settings for encrypting data in transit.</p>
               
    properties:
      ClientBroker:
        $ref: '#/definitions/ClientBroker'
        description: |2-

                      <p>Indicates the encryption setting for data in transit between clients and brokers. The following are the possible values.</p>
                      <p>
                         TLS means that client-broker communication is enabled with TLS only.</p>
                      <p>
                         TLS_PLAINTEXT means that client-broker communication is enabled for both TLS-encrypted, as well as plaintext data.</p>
                      <p>
                         PLAINTEXT means that client-broker communication is enabled in plaintext only.</p>
                      <p>The default value is TLS_PLAINTEXT.</p>
                   
      InCluster:
        $ref: '#/definitions/__boolean'
        description: |2-

                      <p>When set to true, it indicates that data communication among the broker nodes of the cluster is encrypted. When set to false, the communication happens in plaintext.</p>
                      <p>The default value is true.</p>
                   
    type: object
  EncryptionInfo:
    description: |2-

                  <p>Includes encryption-related information, such as the AWS KMS key used for encrypting data at rest and whether you want MSK to encrypt your data in transit.</p>
               
    properties:
      EncryptionAtRest:
        $ref: '#/definitions/EncryptionAtRest'
        description: |2-

                      <p>The data-volume encryption details.</p>
                   
      EncryptionInTransit:
        $ref: '#/definitions/EncryptionInTransit'
        description: |2-

                      <p>The details for encryption in transit.</p>
                   
    type: object
  EnhancedMonitoring:
    description: |2-

                  <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href="https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html">Monitoring</a>.</p>
               
    enum:
      - DEFAULT
      - PER_BROKER
      - PER_TOPIC_PER_BROKER
    type: string
  ErrorInfo:
    description: |2-

                  <p>Returns information about an error state of the cluster.</p>
               
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>A number describing the error programmatically.</p>
                   
      ErrorString:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>An optional field to provide more details about the error.</p>
                   
    type: object
  ForbiddenException: {}
  GetBootstrapBrokersRequest:
    properties: {}
    type: object
  GetBootstrapBrokersResponse:
    properties:
      BootstrapBrokerString:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>A string containing one or more hostname:port pairs.</p>
                   
      BootstrapBrokerStringTls:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>A string containing one or more DNS names (or IP) and TLS port pairs.</p>
                   
    type: object
  InternalServerErrorException: {}
  ListClusterOperationsRequest:
    properties: {}
    type: object
  ListClusterOperationsResponse:
    properties:
      ClusterOperationInfoList:
        $ref: '#/definitions/__listOfClusterOperationInfo'
        description: |2-

                      <p>An array of cluster operation information objects.</p>
                   
      NextToken:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>If the response of ListClusterOperations is truncated, it returns a NextToken in the response. This Nexttoken should be sent in the subsequent request to ListClusterOperations.</p>
                   
    type: object
  ListClustersRequest:
    properties: {}
    type: object
  ListClustersResponse:
    properties:
      ClusterInfoList:
        $ref: '#/definitions/__listOfClusterInfo'
        description: |2-

                      <p>Information on each of the MSK clusters in the response.</p>
                   
      NextToken:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The paginated results marker. When the result of a ListClusters operation is truncated, the call returns NextToken in the response. 
                         To get another batch of clusters, provide this token in your next request.</p>
                   
    type: object
  ListConfigurationRevisionsRequest:
    properties: {}
    type: object
  ListConfigurationRevisionsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>Paginated results marker.</p>
                   
      Revisions:
        $ref: '#/definitions/__listOfConfigurationRevision'
        description: |2-

                      <p>List of ConfigurationRevision objects.</p>
                   
    type: object
  ListConfigurationsRequest:
    properties: {}
    type: object
  ListConfigurationsResponse:
    properties:
      Configurations:
        $ref: '#/definitions/__listOfConfiguration'
        description: |2-

                      <p>An array of MSK configurations.</p>
                   
      NextToken:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The paginated results marker. When the result of a ListConfigurations operation is truncated, the call returns NextToken in the response. 
                         To get another batch of configurations, provide this token in your next request.</p>
                   
    type: object
  ListNodesRequest:
    properties: {}
    type: object
  ListNodesResponse:
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The paginated results marker. When the result of a ListNodes operation is truncated, the call returns NextToken in the response. 
                         To get another batch of nodes, provide this token in your next request.</p>
                   
      NodeInfoList:
        $ref: '#/definitions/__listOfNodeInfo'
        description: |2-

                      <p>List containing a NodeInfo object.</p>
                   
    type: object
  ListTagsForResourceRequest:
    properties: {}
    type: object
  ListTagsForResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |2-

                      <p>The key-value pair for the resource tag.</p>
                   
    type: object
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  MutableClusterInfo:
    description: |2-

                  <p>Information about cluster attributes that can be updated via update APIs.</p>
               
    properties:
      BrokerEBSVolumeInfo:
        $ref: '#/definitions/__listOfBrokerEBSVolumeInfo'
        description: |2-

                      <p>Specifies the size of the EBS volume and the ID of the associated broker.</p>
                   
      ConfigurationInfo:
        $ref: '#/definitions/ConfigurationInfo'
        description: |2-

                      <p>Information about the changes in the configuration of the brokers.</p>
                   
      NumberOfBrokerNodes:
        $ref: '#/definitions/__integer'
        description: |2-

                      <p>The number of broker nodes in the cluster.</p>
                   
    type: object
  NodeInfo:
    description: |2-

                  <p>The node information object.</p>
               
    properties:
      AddedToClusterTime:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The start time.</p>
                   
      BrokerNodeInfo:
        $ref: '#/definitions/BrokerNodeInfo'
        description: |2-

                      <p>The broker node info.</p>
                   
      InstanceType:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The instance type.</p>
                   
      NodeARN:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the node.</p>
                   
      NodeType:
        $ref: '#/definitions/NodeType'
        description: |2-

                      <p>The node type.</p>
                   
      ZookeeperNodeInfo:
        $ref: '#/definitions/ZookeeperNodeInfo'
        description: |2-

                      <p>The ZookeeperNodeInfo.</p>
                   
    type: object
  NodeType:
    description: |2-

                  <p>The broker or Zookeeper node.</p>
               
    enum:
      - BROKER
    type: string
  NotFoundException: {}
  ServiceUnavailableException: {}
  StorageInfo:
    description: |2-

                  <p>Contains information about storage volumes attached to MSK broker nodes.</p>
               
    properties:
      EbsStorageInfo:
        $ref: '#/definitions/EBSStorageInfo'
        description: |2-

                      <p>EBS volume information.</p>
                   
    type: object
  TagResourceRequest:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |2-

                      <p>The key-value pair for the resource tag.</p>
                   
    required:
      - Tags
    type: object
  Tls:
    description: |2-

                  <p>Details for client authentication using TLS.</p>
               
    properties:
      CertificateAuthorityArnList:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>List of ACM Certificate Authority ARNs.</p>
                   
    type: object
  TooManyRequestsException: {}
  UnauthorizedException: {}
  UntagResourceRequest:
    properties: {}
    type: object
  UpdateBrokerStorageRequest:
    properties:
      CurrentVersion:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The version of cluster to update from. A successful operation will then generate a new version.</p>
                   
      TargetBrokerEBSVolumeInfo:
        $ref: '#/definitions/__listOfBrokerEBSVolumeInfo'
        description: |2-

                      <p>Describes the target volume size and the ID of the broker to apply the update to.</p>
                   
    required:
      - TargetBrokerEBSVolumeInfo
      - CurrentVersion
    type: object
  UpdateBrokerStorageResponse:
    properties:
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster.</p>
                   
      ClusterOperationArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster operation.</p>
                   
    type: object
  UpdateClusterConfigurationRequest:
    properties:
      ConfigurationInfo:
        $ref: '#/definitions/ConfigurationInfo'
        description: |2-

                      <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>
                   
      CurrentVersion:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The version of the cluster that needs to be updated.</p>
                   
    required:
      - CurrentVersion
      - ConfigurationInfo
    type: object
  UpdateClusterConfigurationResponse:
    properties:
      ClusterArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster.</p>
                   
      ClusterOperationArn:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The Amazon Resource Name (ARN) of the cluster operation.</p>
                   
    type: object
  ZookeeperNodeInfo:
    description: |2-

                  <p>Zookeeper node information.</p>
               
    properties:
      AttachedENIId:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The attached elastic network interface of the broker.</p>
                   
      ClientVpcIpAddress:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The virtual private cloud (VPC) IP address of the client.</p>
                   
      Endpoints:
        $ref: '#/definitions/__listOf__string'
        description: |2-

                      <p>Endpoints for accessing the ZooKeeper.</p>
                   
      ZookeeperId:
        $ref: '#/definitions/__double'
        description: |2-

                      <p>The role-specific ID for Zookeeper.</p>
                   
      ZookeeperVersion:
        $ref: '#/definitions/__string'
        description: |2-

                      <p>The version of Zookeeper.</p>
                   
    type: object
  __blob:
    type: string
  __boolean:
    type: boolean
  __double:
    format: double
    type: number
  __integer:
    type: integer
  __integerMin1Max15:
    maximum: 15
    minimum: 1
    type: integer
  __integerMin1Max16384:
    maximum: 16384
    minimum: 1
    type: integer
  __listOfBrokerEBSVolumeInfo:
    items:
      $ref: '#/definitions/BrokerEBSVolumeInfo'
    type: array
  __listOfClusterInfo:
    items:
      $ref: '#/definitions/ClusterInfo'
    type: array
  __listOfClusterOperationInfo:
    items:
      $ref: '#/definitions/ClusterOperationInfo'
    type: array
  __listOfConfiguration:
    items:
      $ref: '#/definitions/Configuration'
    type: array
  __listOfConfigurationRevision:
    items:
      $ref: '#/definitions/ConfigurationRevision'
    type: array
  __listOfNodeInfo:
    items:
      $ref: '#/definitions/NodeInfo'
    type: array
  __listOf__string:
    items:
      $ref: '#/definitions/__string'
    type: array
  __long:
    type: integer
  __mapOf__string:
    additionalProperties:
      $ref: '#/definitions/__string'
    type: object
  __string:
    type: string
  __stringMin1Max128:
    maxLength: 128
    minLength: 1
    type: string
  __stringMin1Max64:
    maxLength: 64
    minLength: 1
    type: string
  __stringMin5Max32:
    maxLength: 32
    minLength: 5
    type: string
  __timestampIso8601:
    format: date-time
    type: string
x-servers:
  - description: The Kafka multi-region endpoint
    url: 'http://kafka.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Kafka multi-region endpoint
    url: 'https://kafka.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Kafka endpoint for China (Beijing) and China (Ningxia)
    url: 'http://kafka.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Kafka endpoint for China (Beijing) and China (Ningxia)
    url: 'https://kafka.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
