swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Provides read functionality for Azure SQL Database Backups
  title: Azure SQL Database Backup
  version: '2014-04-01'
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-sql/2014-04-01/swagger/backups.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-sql
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
  DatabaseExpandParameter:
    description: 'A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.'
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints':
    get:
      description: Gets a list of database restore points.
      operationId: Databases_ListRestorePoints
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database to get available restore points.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestorePointListResult'
      tags:
        - DatabaseBackup
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases':
    get:
      description: Gets a list of recoverable databases
      operationId: RecoverableDatabases_ListByServer
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecoverableDatabaseListResult'
      tags:
        - RecoverableDatabases
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ../examples/RecoverableDatabaseList.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}':
    get:
      description: 'Gets a recoverable database, which is a resource representing a database''s geo backup'
      operationId: RecoverableDatabases_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecoverableDatabase'
      tags:
        - RecoverableDatabases
      x-ms-examples:
        Get a recoverable database:
          $ref: ../examples/RecoverableDatabaseGet.json
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases':
    get:
      description: Gets a list of deleted databases that can be restored
      operationId: RestorableDroppedDatabases_ListByServer
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestorableDroppedDatabaseListResult'
      tags:
        - RestorableDroppedDatabases
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ../examples/RestorableDroppedDatabaseList.json
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppededDatabaseId}':
    get:
      description: Gets a deleted database that can be restored
      operationId: RestorableDroppedDatabases_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: 'The id of the deleted database in the form of databaseName,deletionTimeInFileTimeFormat'
          in: path
          name: restorableDroppededDatabaseId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestorableDroppedDatabase'
      tags:
        - RestorableDroppedDatabases
      x-ms-examples:
        Get a restorable dropped database:
          $ref: ../examples/RestorableDroppedDatabaseGet.json
definitions:
  ProxyResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: ARM proxy resource.
  RecoverableDatabase:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A recoverable database
    properties:
      properties:
        $ref: '#/definitions/RecoverableDatabaseProperties'
        description: The properties of a recoverable database
        x-ms-client-flatten: true
  RecoverableDatabaseListResult:
    description: The response to a list recoverable databases request
    properties:
      value:
        description: A list of recoverable databases
        items:
          $ref: '#/definitions/RecoverableDatabase'
        type: array
    required:
      - value
  RecoverableDatabaseProperties:
    description: The properties of a recoverable database
    properties:
      edition:
        description: The edition of the database
        readOnly: true
        type: string
      elasticPoolName:
        description: The elastic pool name of the database
        readOnly: true
        type: string
      lastAvailableBackupDate:
        description: The last available backup date of the database (ISO8601 format)
        format: date-time
        readOnly: true
        type: string
      serviceLevelObjective:
        description: The service level objective name of the database
        readOnly: true
        type: string
  Resource:
    description: ARM resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  RestorableDroppedDatabase:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A restorable dropped database
    properties:
      location:
        description: The geo-location where the resource lives
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/RestorableDroppedDatabaseProperties'
        description: The properties of a restorable dropped database
        x-ms-client-flatten: true
  RestorableDroppedDatabaseListResult:
    description: The response to a list restorable dropped databases request
    properties:
      value:
        description: A list of restorable dropped databases
        items:
          $ref: '#/definitions/RestorableDroppedDatabase'
        type: array
    required:
      - value
  RestorableDroppedDatabaseProperties:
    description: The properties of a restorable dropped database
    properties:
      creationDate:
        description: The creation date of the database (ISO8601 format)
        format: date-time
        readOnly: true
        type: string
      databaseName:
        description: The name of the database
        readOnly: true
        type: string
      deletionDate:
        description: The deletion date of the database (ISO8601 format)
        format: date-time
        readOnly: true
        type: string
      earliestRestoreDate:
        description: The earliest restore date of the database (ISO8601 format)
        format: date-time
        readOnly: true
        type: string
      edition:
        description: The edition of the database
        readOnly: true
        type: string
      elasticPoolName:
        description: The elastic pool name of the database
        readOnly: true
        type: string
      maxSizeBytes:
        description: The max size in bytes of the database
        readOnly: true
        type: string
      serviceLevelObjective:
        description: The service level objective name of the database
        readOnly: true
        type: string
  RestorePoint:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A database restore point.
    properties:
      properties:
        $ref: '#/definitions/RestorePointProperties'
        description: The properties of the restore point.
        x-ms-client-flatten: true
  RestorePointListResult:
    description: The response to a list database restore points request.
    properties:
      value:
        description: The list of database restore points.
        items:
          $ref: '#/definitions/RestorePoint'
        type: array
    required:
      - value
  RestorePointProperties:
    description: Represents the properties of a database restore point.
    properties:
      earliestRestoreDate:
        description: Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise.
        format: date-time
        readOnly: true
        type: string
      restorePointCreationDate:
        description: Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise.
        format: date-time
        readOnly: true
        type: string
      restorePointType:
        description: The restore point type of the database restore point.
        enum:
          - DISCRETE
          - CONTINUOUS
        readOnly: true
        type: string
        x-ms-enum:
          name: RestorePointType
  TrackedResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: ARM tracked top level resource.
    properties:
      location:
        description: Resource location.
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
    required:
      - location
