openapi: 3.1.0
servers:
  - description: Production
    url: https://api.codat.io
info:
  contact:
    email: support@codat.io
    name: Codat
  description: |-
    A flexible API for pulling accounting data, normalized and aggregated from 20 accounting integrations.

    Standardize how you connect to your customers’ accounting software. View, create, update, and delete data in the same way for all the leading accounting platforms.

    [Read more...](https://docs.codat.io/accounting-api/overview)

    [See our OpenAPI spec](https://github.com/codatio/oas)    
  termsOfService: https://www.codat.io/legals/
  title: Accounting API
  version: 2.1.0
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static.codat.io_public_branding_codat-icon-blue.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/codatio/oas/main/json/Codat-Accounting.json
      version: "3.1"
  x-providerName: codat.io
  x-serviceName: accounting
security:
  - auth_header: []
tags:
  - description: Accounts
    name: Accounts
  - description: Account transactions
    name: Account transactions
  - description: Bank accounts
    name: Bank accounts
  - description: Bank transactions for bank accounts
    name: Bank account transactions
  - description: Bills
    name: Bills
  - description: Bill credit notes
    name: Bill credit notes
  - description: Bill payments
    name: Bill payments
  - description: Credit notes
    name: Credit notes
  - description: Customers
    name: Customers
  - description: Direct costs
    name: Direct costs
  - description: Direct incomes
    name: Direct incomes
  - description: Financials
    name: Financials
  - description: Company info
    name: Company info
  - description: Invoices
    name: Invoices
  - description: Items
    name: Items
  - description: Journals
    name: Journals
  - description: Journal entries
    name: Journal entries
  - description: Payments
    name: Payments
  - description: Payment methods
    name: Payment methods
  - description: Purchase orders
    name: Purchase orders
  - description: Sales orders
    name: Sales orders
  - description: Suppliers
    name: Suppliers
  - description: Tax rates
    name: Tax rates
  - description: Tracking categories
    name: Tracking categories
  - description: Transfers
    name: Transfers
  - description: Reports
    name: Reports
paths:
  "/companies/{companyId}/connections/{connectionId}/data/accountTransactions":
    get:
      description: Gets the account transactions for a given company.
      operationId: list-account-transactions
      parameters:
        - $ref: "#/components/parameters/companyId"
        - $ref: "#/components/parameters/connectionId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTransactions"
          description: Success
      summary: List account transactions
      tags:
        - Account transactions
  "/companies/{companyId}/connections/{connectionId}/data/accountTransactions/{accountTransactionId}":
    get:
      description: Gets the account transactions for a given company.Gets the specified account transaction for a given company and connection.
      operationId: get-account-transaction
      parameters:
        - $ref: "#/components/parameters/companyId"
        - $ref: "#/components/parameters/connectionId"
        - in: path
          name: accountTransactionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTransaction"
          description: Success
      summary: Get account transaction
      tags:
        - Account transactions
  "/companies/{companyId}/connections/{connectionId}/data/bankAccounts":
    get:
      description: Gets the list of bank accounts for a given connection
      operationId: list-bank-accounts
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccounts"
          description: Success
      summary: List bank accounts
      tags:
        - Bank accounts
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/bankAccounts/{accountId}":
    get:
      deprecated: true
      description: Gets the bank account with a given ID
      operationId: get-bank-account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Success
      summary: Get bank account
      tags:
        - Bank accounts
      x-internal: true
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/accountId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/bankAccounts/{accountId}/bankTransactions":
    get:
      description: Gets bank transactions for a given bank account ID
      operationId: list-bank-account-transactions
      parameters:
        - $ref: "#/components/parameters/companyId"
        - $ref: "#/components/parameters/connectionId"
        - description: Unique identifier for an account
          in: path
          name: accountId
          required: true
          schema:
            examples:
              - 8a210b68-6988-11ed-a1eb-0242ac120002
            format: uuid
            type: string
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankTransactionsResponse"
          description: Success
      summary: List bank transactions for bank account
      tags:
        - Bank account transactions
  "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments":
    get:
      description: Get bill attachments
      operationId: get-bill-attachments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: List bill attachments
      tags:
        - Bills
    parameters:
      - $ref: "#/components/parameters/billId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments/{attachmentId}":
    get:
      description: Get bill attachment
      operationId: get-bill-attachment
      parameters:
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get bill attachment
      tags:
        - Bills
    parameters:
      - $ref: "#/components/parameters/billId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments/{attachmentId}/download":
    get:
      description: Download bill attachment
      operationId: download-bill-attachment
      parameters:
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download bill attachment
      tags:
        - Bills
    parameters:
      - $ref: "#/components/parameters/billId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments":
    get:
      description: Get customer attachments
      operationId: get-customer-attachments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: List customer attachments
      tags:
        - Customers
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - in: path
        name: customerId
        required: true
        schema:
          type: string
  "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments/{attachmentId}":
    get:
      description: Get  customer attachment
      operationId: get-customer-attachment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get customer attachment
      tags:
        - Customers
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments/{attachmentId}/download":
    get:
      description: Download customer attachment
      operationId: download-customer-attachment
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download customer attachment
      tags:
        - Customers
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/directCosts":
    get:
      description: Gets the direct costs for the company.
      operationId: get-direct-costs
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectCosts"
          description: Success
      summary: List direct costs
      tags:
        - Direct costs
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/directCosts/{directCostId}":
    get:
      deprecated: true
      description: Gets the specified direct cost for a given company.
      operationId: get-direct-cost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectCost"
          description: Success
      summary: Get direct cost
      tags:
        - Direct costs
      x-internal: true
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directCostId"
  "/companies/{companyId}/connections/{connectionId}/data/directCosts/{directCostId}/attachments":
    get:
      description: Gets all attachments for the specified direct cost for a given company.
      operationId: list-direct-cost-attachments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: List direct cost attachments
      tags:
        - Direct costs
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directCostId"
  "/companies/{companyId}/connections/{connectionId}/data/directCosts/{directCostId}/attachments/{attachmentId}":
    get:
      description: Gets the specified direct cost attachment for a given company.
      operationId: get-direct-cost-attachment
      parameters:
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get direct cost attachment
      tags:
        - Direct costs
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directCostId"
  "/companies/{companyId}/connections/{connectionId}/data/directCosts/{directCostId}/attachments/{attachmentId}/download":
    get:
      description: Downloads an attachment for the specified direct cost for a given company.
      operationId: download-direct-cost-attachment
      parameters:
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download direct cost attachment
      tags:
        - Direct costs
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directCostId"
  "/companies/{companyId}/connections/{connectionId}/data/directIncomes":
    get:
      description: Gets the direct incomes for a given company.
      operationId: get-direct-incomes
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectIncomes"
          description: Success
      summary: Get direct incomes
      tags:
        - Direct incomes
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/directIncomes/{directIncomeId}":
    get:
      deprecated: true
      description: Gets the specified direct income for a given company and connection.
      operationId: get-direct-income
      parameters:
        - in: path
          name: directIncomeId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectIncome"
          description: Success
      summary: Get direct income
      tags:
        - Direct incomes
      x-internal: true
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/directIncomes/{directIncomeId}/attachments":
    get:
      description: Gets all attachments for the specified direct income for a given company.
      operationId: list-direct-income-attachments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: List direct income attachments
      tags:
        - Direct incomes
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directIncomeId"
  "/companies/{companyId}/connections/{connectionId}/data/directIncomes/{directIncomeId}/attachments/{attachmentId}":
    get:
      description: Gets the specified direct income attachment for a given company.
      operationId: get-direct-income-attachment
      parameters:
        - $ref: "#/components/parameters/timeoutInMinutes"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get direct income attachment
      tags:
        - Direct incomes
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directIncomeId"
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/directIncomes/{directIncomeId}/attachments/{attachmentId}/download":
    get:
      description: Downloads an attachment for the specified direct income for a given company.
      operationId: download-direct-income-attachment
      parameters:
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download direct income attachment
      tags:
        - Direct incomes
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/directIncomeId"
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments":
    get:
      description: Get invoice attachments
      operationId: get-invoice-attachments
      parameters:
        - $ref: "#/components/parameters/invoiceId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: Get invoice attachments
      tags:
        - Invoices
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments/{attachmentId}":
    get:
      description: Get invoice attachment
      operationId: get-invoice-attachment
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get invoice attachment
      tags:
        - Invoices
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments/{attachmentId}/download":
    get:
      description: Download invoice attachments
      operationId: download-invoice-attachment
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/attachmentId"
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download invoice attachment
      tags:
        - Invoices
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/suppliers/{supplierId}/attachments":
    get:
      description: Get supplier attachments
      operationId: list-supplier-attachments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentsDataset"
          description: Success
      summary: List supplier attachments
      tags:
        - Suppliers
    parameters:
      - $ref: "#/components/parameters/supplierId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/suppliers/{supplierId}/attachments/{attachmentId}":
    get:
      description: Get supplier attachment
      operationId: get-supplier-attachment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Success
      summary: Get supplier attachment
      tags:
        - Suppliers
    parameters:
      - $ref: "#/components/parameters/supplierId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/suppliers/{supplierId}/attachments/{attachmentId}/download":
    get:
      description: Download supplier attachment
      operationId: download-supplier-attachment
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                title: Data
          description: Success
      summary: Download supplier attachment
      tags:
        - Suppliers
    parameters:
      - $ref: "#/components/parameters/supplierId"
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - $ref: "#/components/parameters/attachmentId"
  "/companies/{companyId}/connections/{connectionId}/data/transfers":
    get:
      description: Gets the transfers for a given company.
      operationId: list-transfers
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfers"
          description: Success
      summary: List transfers
      tags:
        - Transfers
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/data/transfers/{transferId}":
    get:
      deprecated: true
      description: Gets the specified transfer for a given company.
      operationId: get-transfer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
          description: Success
      summary: Get transfer
      tags:
        - Transfers
      x-internal: true
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
      - in: path
        name: transferId
        required: true
        schema:
          type: string
  "/companies/{companyId}/connections/{connectionId}/options/bankAccounts":
    get:
      description: |-
        Get create/update bank account model. Returns the expected data for the request payload.

        See the examples for integration-specific indicative models.

        > **Supported Integrations**
        > 
        > Check out our [Knowledge UI](https://knowledge.codat.io/supported-features/accounting?view=tab-by-data-type&dataType=bankAccounts) for integrations that support creating and updating bank accounts.
      operationId: get-create-update-bankAccounts-model
      responses:
        "200":
          content:
            application/json:
              examples:
                Dynamics 365 Business Central:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                        validation:
                          information:
                            - details: Needs to be of the format '{No.}-{Name}'
                              field: AccountName
                          warnings: []
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: false
                        type: String
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: true
                        type: String
                      iBan:
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        displayName: IBAN
                        required: false
                        type: String
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Bank Account Posting Group with Nominal Account must exist
                              field: NominalCode
                          warnings: []
                      overdraftLimit:
                        description: The pre-arranged overdraft limit of the account
                        displayName: Overdraft Limit
                        required: false
                        type: Number
                        validation:
                          information:
                            - details: Default value is 0
                              field: OverdraftLimit
                          warnings: []
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Must have a length between 0 and 20 characters
                              field: SortCode
                          warnings: []
                    required: true
                    type: Object
                Exact (Netherlands):
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Should not exceed the maximum length of 14 characters if the specified currency is GBP.
                              field: AccountNumber
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: false
                        type: String
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: false
                        type: String
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: false
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Must be 6 characters long if the specified currency is GBP.
                              field: SortCode
                            - details: Must be provided if the specified currency is GBP.
                              field: SortCode
                    required: true
                    type: Object
                Exact (UK):
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Should not exceed the maximum length of 14 characters if the specified currency is GBP.
                              field: AccountNumber
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: false
                        type: String
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: false
                        type: String
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: false
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Must be 6 characters long if the specified currency is GBP.
                              field: SortCode
                            - details: Must be provided if the specified currency is GBP.
                              field: SortCode
                    required: true
                    type: Object
                FreeAgent:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: false
                        type: String
                      balance:
                        description: The balance of the bank account
                        displayName: Balance
                        required: false
                        type: Number
                        validation:
                          information:
                            - details: The opening balance, in the account currency
                              field: Balance
                          warnings: []
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        options:
                          - displayName: AED
                            required: false
                            type: String
                            value: AED
                          - displayName: AMD
                            required: false
                            type: String
                            value: AMD
                          - displayName: AOA
                            required: false
                            type: String
                            value: AOA
                          - displayName: ARS
                            required: false
                            type: String
                            value: ARS
                          - displayName: AUD
                            required: false
                            type: String
                            value: AUD
                          - displayName: AWG
                            required: false
                            type: String
                            value: AWG
                          - displayName: AZN
                            required: false
                            type: String
                            value: AZN
                          - displayName: BBD
                            required: false
                            type: String
                            value: BBD
                          - displayName: BDT
                            required: false
                            type: String
                            value: BDT
                          - displayName: BGN
                            required: false
                            type: String
                            value: BGN
                          - displayName: BRL
                            required: false
                            type: String
                            value: BRL
                          - displayName: BWP
                            required: false
                            type: String
                            value: BWP
                          - displayName: CAD
                            required: false
                            type: String
                            value: CAD
                          - displayName: CHF
                            required: false
                            type: String
                            value: CHF
                          - displayName: CLP
                            required: false
                            type: String
                            value: CLP
                          - displayName: CNY
                            required: false
                            type: String
                            value: CNY
                          - displayName: COP
                            required: false
                            type: String
                            value: COP
                          - displayName: CRC
                            required: false
                            type: String
                            value: CRC
                          - displayName: CUC
                            required: false
                            type: String
                            value: CUC
                          - displayName: CUP
                            required: false
                            type: String
                            value: CUP
                          - displayName: CZK
                            required: false
                            type: String
                            value: CZK
                          - displayName: DKK
                            required: false
                            type: String
                            value: DKK
                          - displayName: DOP
                            required: false
                            type: String
                            value: DOP
                          - displayName: EGP
                            required: false
                            type: String
                            value: EGP
                          - displayName: EUR
                            required: false
                            type: String
                            value: EUR
                          - displayName: FJD
                            required: false
                            type: String
                            value: FJD
                          - displayName: GBP
                            required: false
                            type: String
                            value: GBP
                          - displayName: GEL
                            required: false
                            type: String
                            value: GEL
                          - displayName: GHS
                            required: false
                            type: String
                            value: GHS
                          - displayName: GTQ
                            required: false
                            type: String
                            value: GTQ
                          - displayName: GYD
                            required: false
                            type: String
                            value: GYD
                          - displayName: HKD
                            required: false
                            type: String
                            value: HKD
                          - displayName: HNL
                            required: false
                            type: String
                            value: HNL
                          - displayName: HRK
                            required: false
                            type: String
                            value: HRK
                          - displayName: HUF
                            required: false
                            type: String
                            value: HUF
                          - displayName: IDR
                            required: false
                            type: String
                            value: IDR
                          - displayName: ILS
                            required: false
                            type: String
                            value: ILS
                          - displayName: INR
                            required: false
                            type: String
                            value: INR
                          - displayName: ISK
                            required: false
                            type: String
                            value: ISK
                          - displayName: JMD
                            required: false
                            type: String
                            value: JMD
                          - displayName: JPY
                            required: false
                            type: String
                            value: JPY
                          - displayName: KES
                            required: false
                            type: String
                            value: KES
                          - displayName: KRW
                            required: false
                            type: String
                            value: KRW
                          - displayName: KWD
                            required: false
                            type: String
                            value: KWD
                          - displayName: KYD
                            required: false
                            type: String
                            value: KYD
                          - displayName: KZT
                            required: false
                            type: String
                            value: KZT
                          - displayName: LAK
                            required: false
                            type: String
                            value: LAK
                          - displayName: LBP
                            required: false
                            type: String
                            value: LBP
                          - displayName: LKR
                            required: false
                            type: String
                            value: LKR
                          - displayName: LTL
                            required: false
                            type: String
                            value: LTL
                          - displayName: LVL
                            required: false
                            type: String
                            value: LVL
                          - displayName: MAD
                            required: false
                            type: String
                            value: MAD
                          - displayName: MDL
                            required: false
                            type: String
                            value: MDL
                          - displayName: MGA
                            required: false
                            type: String
                            value: MGA
                          - displayName: MUR
                            required: false
                            type: String
                            value: MUR
                          - displayName: MVR
                            required: false
                            type: String
                            value: MVR
                          - displayName: MWK
                            required: false
                            type: String
                            value: MWK
                          - displayName: MXN
                            required: false
                            type: String
                            value: MXN
                          - displayName: MYR
                            required: false
                            type: String
                            value: MYR
                          - displayName: MZN
                            required: false
                            type: String
                            value: MZN
                          - displayName: NAD
                            required: false
                            type: String
                            value: NAD
                          - displayName: NGN
                            required: false
                            type: String
                            value: NGN
                          - displayName: NOK
                            required: false
                            type: String
                            value: NOK
                          - displayName: NPR
                            required: false
                            type: String
                            value: NPR
                          - displayName: NZD
                            required: false
                            type: String
                            value: NZD
                          - displayName: OMR
                            required: false
                            type: String
                            value: OMR
                          - displayName: PEN
                            required: false
                            type: String
                            value: PEN
                          - displayName: PHP
                            required: false
                            type: String
                            value: PHP
                          - displayName: PKR
                            required: false
                            type: String
                            value: PKR
                          - displayName: PLN
                            required: false
                            type: String
                            value: PLN
                          - displayName: QAR
                            required: false
                            type: String
                            value: QAR
                          - displayName: RON
                            required: false
                            type: String
                            value: RON
                          - displayName: RSD
                            required: false
                            type: String
                            value: RSD
                          - displayName: RUB
                            required: false
                            type: String
                            value: RUB
                          - displayName: RWF
                            required: false
                            type: String
                            value: RWF
                          - displayName: SAR
                            required: false
                            type: String
                            value: SAR
                          - displayName: SCR
                            required: false
                            type: String
                            value: SCR
                          - displayName: SEK
                            required: false
                            type: String
                            value: SEK
                          - displayName: SGD
                            required: false
                            type: String
                            value: SGD
                          - displayName: THB
                            required: false
                            type: String
                            value: THB
                          - displayName: TND
                            required: false
                            type: String
                            value: TND
                          - displayName: TRY
                            required: false
                            type: String
                            value: TRY
                          - displayName: TTD
                            required: false
                            type: String
                            value: TTD
                          - displayName: TWD
                            required: false
                            type: String
                            value: TWD
                          - displayName: TZS
                            required: false
                            type: String
                            value: TZS
                          - displayName: UAH
                            required: false
                            type: String
                            value: UAH
                          - displayName: UGX
                            required: false
                            type: String
                            value: UGX
                          - displayName: USD
                            required: false
                            type: String
                            value: USD
                          - displayName: UYU
                            required: false
                            type: String
                            value: UYU
                          - displayName: VEF
                            required: false
                            type: String
                            value: VEF
                          - displayName: VND
                            required: false
                            type: String
                            value: VND
                          - displayName: VUV
                            required: false
                            type: String
                            value: VUV
                          - displayName: XAF
                            required: false
                            type: String
                            value: XAF
                          - displayName: XCD
                            required: false
                            type: String
                            value: XCD
                          - displayName: XOF
                            required: false
                            type: String
                            value: XOF
                          - displayName: ZAR
                            required: false
                            type: String
                            value: ZAR
                          - displayName: ZMK
                            required: false
                            type: String
                            value: ZMK
                        required: true
                        type: String
                      iBan:
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        displayName: IBAN
                        required: false
                        type: String
                      institution:
                        description: The institution of the bank account
                        displayName: Institution
                        required: false
                        type: String
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: false
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Must have a length between 0 and 8 characters
                              field: SortCode
                    required: true
                    type: Object
                KashFlow:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: Name of the bank account as it appears in Kashflow.
                        displayName: Account Name
                        required: true
                        type: String
                      balance:
                        description: The opening balance, in the account currency.
                        displayName: Balance
                        required: false
                        type: Number
                      currency:
                        description: The currency of the bank account.
                        displayName: Currency
                        required: true
                        type: String
                    required: true
                    type: Object
                QuickBooks Desktop:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Max length of 31 characters.
                              field: AccountName
                      balance:
                        description: The balance of the bank account
                        displayName: Balance
                        required: false
                        type: Number
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: false
                        type: String
                        validation:
                          information:
                            - details: If not set, will default to the base currency of the QuickBooks Desktop company
                              field: Currency
                          warnings:
                            - details: The currency must match the base currency of the QuickBooks Desktop company unless the FullyQualifiedCategory is 'Asset.AccountsReceivable','Liability.AccountsPayable' or 'Liability.CreditCard'
                              field: Currency
                            - details: Must be a three letter ISO code that matches an existing active currency in the QuickBooks Desktop company
                              field: Currency
                            - details: Can only be set if the Quickbooks Desktop company has Multicurrency enabled.
                              field: Currency
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Max length of 7 characters.
                              field: NominalCode
                    required: true
                    type: Object
                QuickBooks Online Sandbox:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: Name of account as it appears in the chart of accounts or general ledger.
                        displayName: Account Name
                        required: true
                        type: String
                      accountNumber:
                        description: User-defined account number to help the user in identifying the account within the chart-of-accounts and in deciding what should be posted to the account.
                        displayName: Account Number
                        required: true
                        type: String
                      currency:
                        description: Currency of the bank account.
                        displayName: Currency
                        required: true
                        type: String
                    required: true
                    type: Object
                Sage Business Cloud Accounting:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                        validation:
                          information:
                            - details: Must be provided.
                              field: AccountName
                            - details: Should not be longer than 50 characters.
                              field: AccountName
                          warnings: []
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Should not be longer than 25 characters.
                              field: AccountNumber
                          warnings: []
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: true
                        type: String
                        validation:
                          information:
                            - details: Must be provided.
                              field: Currency
                            - details: Must match the company's base currency.
                              field: Currency
                          warnings: []
                      iBan:
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        displayName: IBAN
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Should be in the international bank account number format.
                              field: IBan
                          warnings: []
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Should be a number between 1 and 99999999.
                              field: NominalCode
                          warnings: []
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: false
                        type: String
                        validation:
                          information:
                            - details: Should be a 6 digit number.
                              field: SortCode
                          warnings: []
                    required: true
                    type: Object
                Sandbox:
                  value:
                    description: An account that bank transactions may be recorded against
                    displayName: Bank Account
                    properties:
                      accountName:
                        description: The name of the bank account in the originating system
                        displayName: Name
                        required: true
                        type: String
                      accountNumber:
                        description: The account number for the bank account
                        displayName: Account Number
                        required: true
                        type: String
                      accountType:
                        description: The type of account
                        displayName: Account Type
                        required: true
                        type: String
                      availableBalance:
                        description: The available balance of the bank account
                        displayName: Available Balance
                        required: true
                        type: Number
                      balance:
                        description: The balance of the bank account
                        displayName: Balance
                        required: true
                        type: Number
                      currency:
                        description: The currency of the bank account
                        displayName: Currency
                        required: true
                        type: String
                      iBan:
                        description: The international bank account number of the account. Often used when making or receiving international payments
                        displayName: IBAN
                        required: true
                        type: String
                      institution:
                        description: The institution of the bank account
                        displayName: Institution
                        required: true
                        type: String
                      metadata:
                        description: Miscellaneous data about the item
                        displayName: Metadata
                        properties:
                          isDeleted:
                            description: A boolean to indicate whether the object has been deleted
                            displayName: IsDeleted
                            required: true
                            type: Boolean
                        required: true
                        type: Object
                      nominalCode:
                        description: The external reference given to each nominal account for a business
                        displayName: Nominal Code
                        required: true
                        type: String
                      overdraftLimit:
                        description: The pre-arranged overdraft limit of the account
                        displayName: Overdraft Limit
                        required: true
                        type: Number
                      sortCode:
                        description: The sort code for the bank account
                        displayName: Sort Code
                        required: true
                        type: String
                    required: true
                    type: Object
              schema:
                $ref: "#/components/schemas/PushOption"
          description: OK
      summary: Get create/update bank account model
      tags:
        - Bank accounts
    parameters:
      - $ref: "#/components/parameters/companyId"
      - $ref: "#/components/parameters/connectionId"
  "/companies/{companyId}/connections/{connectionId}/options/bankAccounts/{accountId}/bankTransactions":
    get:
      description: Gets the options of pushing bank account transactions.
      operationId: get-create-bank-account-model
      parameters:
        - $ref: "#/components/parameters/companyId"
        - $ref: "#/components/parameters/connectionId"
        - $ref: "#/paths/~1companies~1%7BcompanyId%7D~1connections~1%7BconnectionId%7D~1data~1bankAccounts~1%7BaccountId%7D~1bankTransactions/get/parameters/2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushOption"
          description: Success
      summary: List push options for bank account bank transactions
      tags:
        - Bank account transactions
      x-extension-1: null
  "/companies/{companyId}/connections/{connectionId}/options/billCreditNotes":
    get:
      description: |-
        Get create/update bill credit note model.

        > **Supported Integrations**
        > 
        > Check out our [Knowledge UI](https://knowledge.codat.io/supported-features/accounting?view=tab-by-data-type&dataType=billCreditNotes) for integrations that support creating and updating bill credit notes.
      operationId: get-create-update-billCreditNotes-model
      responses:
        "200":
          content:
            application/json:
              examples:
                Dynamics 365 Business Central:
                  value:
                    description: A bill credit note can be thought of as a voucher issued by a supplier. It can be applied against one or multiple bills to reduce their balance.
                    displayName: Accounts Payable Credit Note
                    properties:
                      currency:
                        description: Currency of the credit note
                        displayName: Currency
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Must be a valid currency code
                              field: Currency
                      issueDate:
                        description: The date the credit note was issued
                        displayName: Issue Date
                        required: true
                        type: DateTime
                      lineItems:
                        description: A collection of lines that detail items related to the credit note
                        displayName: Line items
                        properties:
                          accountRef:
                            description: Reference to the nominal account the line item is linked to
                            displayName: Nominal Account Reference
                            properties:
                              id:
                                description: The identifier for the account
                                displayName: Account ID
                                required: true
                                type: String
                                validation:
                                  information: []
                                  warnings:
                                    - details: Either AccountRef or ItemRef should be specified. If AccountRef is chosen, ID must be specified
                                      field: AccountRef.Id
                            required: false
                            type: Object
                          description:
                            description: Friendly name of the goods or services credited
                            displayName: Description
                            required: false
                            type: String
                          itemRef:
                            description: Reference to the product or service type, or inventory item, the line item is linked to
                            displayName: Item Reference
                            properties:
                              id:
                                description: The reference identifier for the item
                                displayName: Identifier
                                required: true
                                type: String
                                validation:
                                  information: []
                                  warnings:
                                    - details: Either AccountRef or ItemRef should be specified. If ItemRef is chosen, ID must be specified
                                      field: ItemRef.Id
                            required: false
                            type: Object
                          quantity:
                            description: The number of units of goods or services credited
                            displayName: Quantity
                            required: true
                            type: Number
                            validation:
                              information: []
                              warnings:
                                - details: Must be positive
                                  field: LineItems.Quantity
                          unitAmount:
                            description: The price of each unit of goods or services
                            displayName: Unit Amount
                            required: true
                            type: Number
                        required: true
                        type: Array
                        validation:
                          information: []
                          warnings:
                            - details: Must be positive
                              field: LineItems
                      note:
                        description: Note about the credit note
                        displayName: Note
                        required: true
                        type: String
                        validation:
                          information: []
                          warnings:
                            - details: Vendor Credit Memo Number must be specified in this field
                              field: Note
                      status:
                        description: The current state of a credit note
                        displayName: Credit Note Status
                        options:
                          - displayName: Draft
                            required: false
                            type: Array
                            value: Draft
                          - displayName: Submitted
                            required: false
                            type: Array
                            value: Submitted
                          - displayName: Void
                            required: false
                            type: Array
                            value: Void
                        required: true
                        type: String
                      supplierRef:
                        description: Reference to the supplier the credit note has been issued by
                        displayName: Supplier Reference
                        properties:
                          id:
                            description: The reference identifier for the supplier
                            displayName: Identifier
                            required: true
                            type: String
                        required: true
                        type: Object
                    required: true
                    type: Object
                FreeAgent:
                  value:
                    description: A bill credit note can be thought of as a voucher issued by a supplier. It can be applied against one or multiple bills to reduce their balance.
                    displayName: Accounts Payable Credit Note
                    properties:
                      allocatedOnDate:
                        description: The date the credit note was allocated
                        displayName: Allocated On Date
                        required: true
                        type: DateTime
                      billCreditNoteNumber:
                        description: User friendly reference for the credit note
                        displayName: Credit Note Number
                        required: true
                        type: String
                      currency:
                        description: Currency of the credit note
                        displayName: Currency
                        options:
                          - displayName: AED
                            required: false
                            type: String
                            value: AED
                          - displayName: AMD
                            required: false
                            type: String
                            value: AMD
                          - displayName: AOA
                            required: false
                            type: String
                            value: AOA
                          - displayName: ARS
                            required: false
                            type: String
                            value: ARS
                          - displayName: AUD
                            required: false
                            type: String
                            value: AUD
                          - displayName: AWG
                            required: false
                            type: String
                            value: AWG
                          - displayName: AZN
                            required: false
                            type: String
                            value: AZN
                          - displayName: BBD
                            required: false
                            type: String
                            value: BBD
                          - displayName: BDT
                            required: false
                            type: String
                            value: BDT
                          - displayName: BGN
                            required: false
                            type: String
                            value: BGN
                          - displayName: BRL
                            required: false
                            type: String
                            value: BRL
                          - displayName: BWP
                            required: false
                            type: String
                            value: BWP
                          - displayName: CAD
                            required: false
                            type: String
                            value: CAD
                          - displayName: CHF
                            required: false
                            type: String
                            value: CHF
                          - displayName: CLP
                            required: false
                            type: String
                            value: CLP
                          - displayName: CNY
                            required: false
                            type: String
                            value: CNY
                          - displayName: COP
                            required: false
                            type: String
                            value: COP
                          - displayName: CRC
                            required: false
                            type: String
                            value: CRC
                          - displayName: CUC
                            required: false
                            type: String
                            value: CUC
                          - displayName: CUP
                            required: false
                            type: String
                            value: CUP
                          - displayName: CZK
                            required: false
                            type: String
                            value: CZK
                          - displayName: DKK
                            required: false
                            type: String
                            value: DKK
                          - displayName: DOP
                            required: false
                            type: String
                            value: DOP
                          - displayName: EGP
                            required: false
                            type: String
                            value: EGP
                          - displayName: EUR
                            required: false
                            type: String
                            value: EUR
                          - displayName: FJD
                            required: false
                            type: String
                            value: FJD
                          - displayName: GBP
                            required: false
                            type: String
                            value: GBP
                          - displayName: GEL
                            required: false
                            type: String
                            value: GEL
                          - displayName: GHS
                            required: false
                            type: String
                            value: GHS
                          - displayName: GTQ
                            required: false
                            type: String
                            value: GTQ
                          - displayName: GYD
                            required: false
                            type: String
                            value: GYD
                          - displayName: HKD
                            required: false
                            type: String
                            value: HKD
                          - displayName: HNL
                            required: false
                            type: String
                            value: HNL
                          - displayName: HRK
                            required: false
                            type: String
                            value: HRK
                          - displayName: HUF
                            required: false
                            type: String
                            value: HUF
                          - displayName: IDR
                            required: false
                            type: String
                            value: IDR
                          - displayName: ILS
                            required: false
                            type: String
                            value: ILS
                          - displayName: INR
                            required: false
                            type: String
                            value: INR
                          - displayName: ISK
                            required: false
                            type: String
                            value: ISK
                          - displayName: JMD
                            required: false
                            type: String
                            value: JMD
                          - displayName: JPY
                            required: false
                            type: String
                            value: JPY
                          - displayName: KES
                            required: false
                            type: String
                            value: KES
                          - displayName: KRW
                            required: false
                            type: String
                            value: KRW
                          - displayName: KWD
                            required: false
                            type: String
                            value: KWD
                          - displayName: KYD
                            required: false
                            type: String
                            value: KYD
                          - displayName: KZT
                            required: false
                            type: String
                            value: KZT
                          - displayName: LAK
                            required: false
                            type: String
                            value: LAK
                          - displayName: LBP
                            required: false
                            type: String
                            value: LBP
                          - displayName: LKR
                            required: false
                            type: String
                            value: LKR
                          - displayName: LTL
                            required: false
                            type: String
                            value: LTL
                          - displayName: LVL
                            required: false
                            type: String
                            value: LVL
                          - displayName: MAD
                            required: false
                            type: String
                            value: MAD
                          - displayName: MDL
                            required: false
                            type: String
                            value: MDL
                          - displayName: MGA
                            required: false
                            type: String
                            value: MGA
                          - displayName: MUR
                            required: false
                            type: String
                            value: MUR
                          - displayName: MVR
                            required: false
                            type: String
                            value: MVR
                          - displayName: MWK
                            required: false
                            type: String
                            value: MWK
                          - displayName: MXN
                            required: false
                            type: String
                            value: MXN
                          - displayName: MYR
                            required: false
                            type: String
                            value: MYR
                          - displayName: MZN
                            required: false
                            type: String
                            value: MZN
                          - displayName: NAD
                            required: false
                            type: String
                            value: NAD
                          - displayName: NGN
                            required: false
                            type: String
                            value: NGN
                          - displayName: NOK
                            required: false
                            type: String
                            value: NOK
                          - displayName: NPR
                            required: false
                            type: String
                            value: NPR
                          - displayName: NZD
                            required: false
                            type: String
                            value: NZD
                          - displayName: OMR
                            required: false
                            type: String
                            value: OMR
                          - displayName: PEN
                            required: false
                            type: String
                            value: PEN
                          - displayName: PHP
                            required: false
                            type: String
                            value: PHP
                          - displayName: PKR
                            required: false
                            type: String
                            value: PKR
                          - displayName: PLN
                            required: false
                            type: String
                            value: PLN
                          - displayName: QAR
                            required: false
                            type: String
                            value: QAR
                          - displayName: RON
                            required: false
                            type: String
                            value: RON
                          - displayName: RSD
                            required: false
                            type: String
                            value: RSD
                          - displayName: RUB
                            required: false
                            type: String
                            value: RUB
                          - displayName: RWF
                            required: false
                            type: String
                            value: RWF
                          - displayName: SAR
                            required: false
                            type: String
                            value: SAR
                          - displayName: SCR
                            required: false
                            type: String
                            value: SCR
                          - displayName: SEK
                            required: false
                            type: String
                            value: SEK
                          - displayName: SGD
                            required: false
                            type: String
                            value: SGD
                          - displayName: THB
                            required: false
                            type: String
                            value: THB
                          - displayName: TND
                            required: false
                            type: String
                            value: TND
                          - displayName: TRY
                            required: false
                            type: String
                            value: TRY
                          - displayName: TTD
                            required: false
                            type: String
                            value: TTD
                          - displayName: TWD
                            required: false
                            type: String
                            value: TWD
                          - displayName: TZS
                            required: false
                            type: String
                            value: TZS
                          - displayName: UAH
                            required: false
                            type: String
                            value: UAH
                          - displayName: UGX
                            required: false
                            type: String
                            value: UGX
                          - displayName: USD
                            required: false
                            type: String
                            value: USD
                          - displayName: UYU
                            required: false
                            type: String
                            value: UYU
                          - displayName: VEF
                            required: false
                            type: String
                            value: VEF
                          - displayName: VND
                            required: false
                            type: String
                            value: VND
                          - displayName: VUV
                            required: false
                            type: String
                            value: VUV
                          - displayName: XAF
                            required: false
                            type: String
                            value: XAF
                          - displayName: XCD
                            required: false
                            type: String
                            value: XCD
                          - displayName: XOF
                            required: false
                            type: String
                            value: XOF
                          - displayName: ZAR
                            required: false
                            type: String
                            value: ZAR
                          - displayName: ZMK
                            required: false
                            type: String
                            value: ZMK
                        required: false
                        type: String
                        validation:
                          information:
                            - details: If not specified, defaults to the company's native currency
                              field: Currency
                          warnings: []
                      issueDate:
                        description: The date the credit note was issued
                        displayName: Issue Date
                        required: true
                        type: DateTime
                      lineItems:
                        description: A collection of lines that detail items related to the credit note
                        displayName: Line items
                        properties:
                          accountRef:
                            description: Reference to the nominal account the line item is linked to
                            displayName: Nominal Account Reference
                            properties:
                              id:
                                description: The identifier for the account
                                displayName: Account ID
                                required: true
                                type: String
                            required: true
                            type: Object
                          taxAmount:
                            description: The amount of tax for the line
                            displayName: Tax Amount
                            required: false
                            type: Number
                            validation:
                              information:
                                - details: Amount of sales tax for the BillCreditNoteLineItem in company's native currency.
                                  field: LineItems.TaxAmount
                              warnings:
                                - details: Must be positive for bill items and negative for credit items. If not specified, defaults to the tax correct tax rate amount for the category of the bill.
                                  field: LineItems.TaxAmount
                        required: true
                        type: Array
                        validation:
                          information: []
                          warnings:
                            - details: Up to a maximum of 40 line items may be specified
                              field: LineItems
                      supplierRef:
                        description: Reference to the supplier the credit note has been issued by
                        displayName: Supplier Reference
                        properties:
                          id:
                            description: The reference identifier for the supplier
                            displayName: Identifier
                            required: true
                            type: String
                        required: true
                        type: Object
                      totalAmount:
                        description: The total amount of the credit note, inclusive of discounts and tax
                        displayName: Total Amount
                        required: true
                        type: Number
                        validation:
                          information: []
                          warnings:
                            - details: Must be greater than 0 and must be equal to the sum of the line item total amounts.
                              field: TotalAmount
                      totalTaxAmount:
                        description: The amount of tax for the credit note
                        displayName: Tax Amount
                        required: true
                        type: Number
                        validation:
                          information: []
                          warnings:
                            - details: Must be greater than 0 and must be equal to the sum of the line item tax amounts.
                              field: TotalTaxAmount
                    required: true
                    type: Object
                MYOB AccountRight and Essentials:
                  value:
                    description: A bill credit note can be thought of as a voucher issued by a supplier. It can be applied against one or multiple bills to reduce their balance.
                    displayName: Accounts Payable Credit Note
                    properties:
                      issueDate:
                        description: The date the credit note was issued
                        displayName: Issue Date
                        required: true
                        type: DateTime
                        validation:
                          information:
                            - details: Must be provided.
                              field: IssueDate
                          warnings: []
                      lineItems:
                        description: A collection of lines that detail items related to the credit note
                        displayName: Line items
                        properties:
                          accountRef:
                            description: Reference to the nominal account the line item is linked to
                            displayName: Nominal Account Reference
                            properties:
                              id:
                                description: The identifier for the account
                                displayName: Account ID
                                required: true
                                type: String
                                validation:
                                  information:
                                    - details: Must be provided.
                                      field: AccountRef.Id
                                  warnings: []
                            required: true
                            type: Object
                            validation:
                              information:
                                - details: Must be provided.
                                  field: LineItems.AccountRef
                              warnings: []
                          description:
                            description: Friendly name of the goods or services credited
                            displayName: Description
                            required: false
                            type: String
                            validation:
                              information:
                                - details: Must not be greater than 225 characters long.
                                  field: LineItems.Description
                              warnings: []
                          subTotal:
                            description: The amount of the line, inclusive of discounts but exclusive of tax
                            displayName: Sub Total Amount
                            required: false
                            type: Number
                            validation:
                              information: []
                              warnings:
                                - details: Precision must be maximum of two decimal places.
                                  field: LineItems.SubTotal
                          taxAmount:
                            description: The amount of tax for the line
                            displayName: Tax Amount
                            required: false
                            type: Number
                            validation:
                              information: []
                              warnings:
                                - details: Precision must be maximum of two decimal places.
                                  field: LineItems.TaxAmount
                          totalAmount:
                            description: The total amount of the line, inclusive of discounts and tax
                            displayName: Total Amount
                            required: true
                            type: Number
                            validation:
                              information:
                                - details: Must be provided.
                                  field: LineItems.TotalAmount
                              warnings:
                                - details: Precision must be maximum of two decimal places.
                                  field: LineItems.TotalAmount
                                - details: Must be greater than zero.
                                  field: LineItems.TotalAmount
                        required: true
                        type: Array
                        validation:
                          information:
                            - details: Must be provided.
                              field: LineItems
                          warnings: []
                      remainingCredit:
                        description: Unused balance of total amount originally raised
                        displayName: Remaining Credit
                        required: false
                        type: Number
                        validation:
                          information: []
                          warnings:
                            - details: Precision must be maximum of two decimal places.
                              field: RemainingCredit
                      subTotal:
                        description: The amount of the credit note, inclusive of discounts but exclusive of tax
                        displayName: Sub Total Amount
                        required: false
                        type: Number
                        validation:
                          information: []
                          warnings:
                            - details: Precision must be maximum of two decimal places.
                              field: SubTotal
                      supplierRef:
                        description: Reference to the supplier the credit note has been issued by
                        displayName: Supplier Reference
                        properties:
                          id:
                            description: The reference identifier for the supplier
                            displayName: Identifier
                            required: true
                            type: String
                            validation:
                              information:
                                - details: Must be provided.
                                  field: SupplierRef.Id
                              warnings: []
                        required: true
                        type: Object
                        validation:
                          information:
                            - details: Must be provided.
                              field: SupplierRef
                          warnings: []
                      totalAmount:
                        description: The total amount of the credit note, inclusive of discounts and tax
                        displayName: Total Amount
                        required: true
                        type: Number
                        validation:
                          information:
                            - details: Must be provided.
                              field: TotalAmount
                          warnings:
                            - details: Precision must be maximum of two decimal places.
                              field: TotalAmount
                            - details: Must be greater than zero.
[...]
