openapi: 3.0.0
servers:
  - description: Production
    url: https://production.plaid.com
  - description: Development
    url: https://development.plaid.com
  - description: Sandbox
    url: https://sandbox.plaid.com
info:
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  description: The Plaid REST API. Please see https://plaid.com/docs/api for more details.
  termsOfService: https://plaid.com/legal/
  title: The Plaid API
  version: 2020-09-14_1.334.0
  x-apisguru-categories:
    - financial
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/plaid/plaid-openapi/master/2020-09-14.yml
      version: "3.0"
  x-providerName: plaid.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
security:
  - clientId: []
    plaidVersion: []
    secret: []
tags:
  - description: The Plaid API
    name: plaid
paths:
  /accounts/balance/get:
    post:
      description: The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link. As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints; if you encounter errors, you may find it necessary to adjust your timeout period when making requests.
      externalDocs:
        url: /api/products/balance/#accountsbalanceget
      operationId: accountsBalanceGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  client_id: string
                  options:
                    account_ids:
                      - string
                  secret: string
            schema:
              $ref: "#/components/schemas/AccountsBalanceGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        persistent_account_id: 8cfb8beb89b774ee43b090625f0d61d0814322b43bff984eaf60386e
                        subtype: checking
                        type: depository
                      - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                        balances:
                          available: null
                          current: 410
                          iso_currency_code: USD
                          limit: 2000
                          unofficial_currency_code: null
                        mask: "3333"
                        name: Plaid Credit Card
                        official_name: Plaid Diamond 12.5% APR Interest Credit Card
                        subtype: credit card
                        type: credit
                      - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                        balances:
                          available: null
                          current: 65262
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "7777"
                        name: Plaid Student Loan
                        official_name: null
                        subtype: student
                        type: loan
                    item:
                      available_products:
                        - balance
                        - identity
                        - investments
                      billed_products:
                        - assets
                        - auth
                        - liabilities
                        - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: qk5Bxes3gDfv4F2
              schema:
                $ref: "#/components/schemas/AccountsGetResponse"
          description: OK
      summary: Retrieve real-time balance data
      tags:
        - plaid
  /accounts/get:
    post:
      description: |-
        The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance.
        For items that went through the updated account selection pane, this endpoint only returns accounts that were permissioned by the user when they initially created the Item. If a user creates a new account after the initial link, you can capture this event through the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.

        This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead. Note that some information is nullable.
      externalDocs:
        url: /api/accounts/#accountsget
      operationId: accountsGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  client_id: string
                  options:
                    account_ids:
                      - string
                  secret: string
            schema:
              $ref: "#/components/schemas/AccountsGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: blgvvBlXw3cq5GMPwqB6s6q4dLKB9WcVqGDGo
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        persistent_account_id: 8cfb8beb89b774ee43b090625f0d61d0814322b43bff984eaf60386e
                        subtype: checking
                        type: depository
                      - account_id: 6PdjjRP6LmugpBy5NgQvUqpRXMWxzktg3rwrk
                        balances:
                          available: null
                          current: 23631.9805
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "6666"
                        name: Plaid 401k
                        official_name: null
                        subtype: 401k
                        type: investment
                      - account_id: XMBvvyMGQ1UoLbKByoMqH3nXMj84ALSdE5B58
                        balances:
                          available: null
                          current: 65262
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "7777"
                        name: Plaid Student Loan
                        official_name: null
                        subtype: student
                        type: loan
                    item:
                      available_products:
                        - balance
                        - identity
                        - payment_initiation
                        - transactions
                      billed_products:
                        - assets
                        - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: bkVE1BHWMAZ9Rnr
              schema:
                $ref: "#/components/schemas/AccountsGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response.
      summary: Retrieve accounts
      tags:
        - plaid
  /application/get:
    post:
      description: Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
      operationId: applicationGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response.
      summary: Retrieve information about a Plaid application
      tags:
        - plaid
  /asset_report/audit_copy/create:
    post:
      description: |-
        Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.

        To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copycreate
      operationId: assetReportAuditCopyCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    audit_copy_token: a-sandbox-3TAU2CWVYBDVRHUCAAAI27ULU4
                    request_id: Iam3b
              schema:
                $ref: "#/components/schemas/AssetReportAuditCopyCreateResponse"
          description: OK
      summary: Create Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/audit_copy/get:
    post:
      description: "`/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/create`."
      externalDocs:
        url: /none/
      operationId: assetReportAuditCopyGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetReportGetResponse"
          description: OK
      summary: Retrieve an Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/audit_copy/remove:
    post:
      description: The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
      externalDocs:
        url: /api/products/assets/#asset_reportaudit_copyremove
      operationId: assetReportAuditCopyRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyRemoveRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/AssetReportAuditCopyRemoveResponse"
          description: OK
      summary: Remove Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/create:
    post:
      description: |-
        The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.

        The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).

        The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
      externalDocs:
        url: /api/products/assets/#asset_reportcreate
      operationId: assetReportCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: 1f414183-220c-44f5-b0c8-bc0e6d4053bb
                    asset_report_token: assets-sandbox-6f12f5bb-22dd-4855-b918-f47ec439198a
                    request_id: Iam3b
              schema:
                $ref: "#/components/schemas/AssetReportCreateResponse"
          description: OK
      summary: Create an Asset Report
      tags:
        - plaid
  /asset_report/filter:
    post:
      description: |-
        By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.

        To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.

        Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.

        Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook once generation of the filtered Asset Report has completed.
      externalDocs:
        url: /api/products/assets/#asset_reportfilter
      operationId: assetReportFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportFilterRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: fdc09207-0cef-4d88-b5eb-0d970758ebd9
                    asset_report_token: assets-sandbox-bc410c6a-4653-4c75-985c-e757c3497c5c
                    request_id: qEg07
              schema:
                $ref: "#/components/schemas/AssetReportFilterResponse"
          description: OK
      summary: Filter Asset Report
      tags:
        - plaid
  /asset_report/get:
    post:
      description: |-
        The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.

        By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.

        To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.
      externalDocs:
        url: /api/products/assets/#asset_reportget
      operationId: assetReportGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    report:
                      asset_report_id: bf3a0490-344c-4620-a219-2693162e4b1d
                      client_report_id: 123abc
                      date_generated: 2020-06-05T22:47:53Z
                      days_requested: 3
                      items:
                        - accounts:
                            - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                              balances:
                                available: 200
                                current: 210
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances:
                                - current: 210
                                  date: 2020-06-04
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 210
                                  date: 2020-06-03
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 210
                                  date: 2020-06-02
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              mask: "1111"
                              name: Plaid Saving
                              official_name: Plaid Silver Standard 0.1% Interest Saving
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: savings
                              transactions: []
                              type: depository
                            - account_id: BxBXxLj1m4HMXBm9WZJyUg9XLd4rKEhw8Pb1J
                              balances:
                                available: null
                                current: 56302.06
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances: []
                              mask: "8888"
                              name: Plaid Mortgage
                              official_name: null
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: mortgage
                              transactions: []
                              type: loan
                            - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                              balances:
                                available: null
                                current: 410
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances:
                                - current: 410
                                  date: 2020-06-04
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 410
                                  date: 2020-06-03
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 410
                                  date: 2020-06-02
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              mask: "3333"
                              name: Plaid Credit Card
                              official_name: Plaid Diamond 12.5% APR Interest Credit Card
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: credit card
                              transactions: []
                              type: credit
                          date_last_updated: 2020-06-05T22:47:52Z
                          institution_id: ins_3
                          institution_name: Chase
                          item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      user:
                        client_user_id: "123456789"
                        email: accountholder0@example.com
                        first_name: Alberta
                        last_name: Charleson
                        middle_name: Bobbeth
                        phone_number: 111-222-3333
                        ssn: 123-45-6789
                    request_id: eYupqX1mZkEuQRx
                    warnings: []
              schema:
                $ref: "#/components/schemas/AssetReportGetResponse"
          description: OK
      summary: Retrieve an Asset Report
      tags:
        - plaid
  /asset_report/pdf/get:
    post:
      description: |-
        The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.

        The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.

        [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
      externalDocs:
        url: /api/products/assets/#asset_reportpdfget
      operationId: assetReportPdfGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportPDFGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/AssetReportPDFGetResponse"
          description: A PDF of the Asset Report
      summary: Retrieve a PDF Asset Report
      tags:
        - plaid
  /asset_report/refresh:
    post:
      description: |-
        An Asset Report is an immutable snapshot of a user's assets. In order to "refresh" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.

        The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string ("") for any previously-populated fields you would like set as empty.
      externalDocs:
        url: /api/products/assets/#asset_reportrefresh
      operationId: assetReportRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportRefreshRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: c33ebe8b-6a63-4d74-a83d-d39791231ac0
                    asset_report_token: assets-sandbox-8218d5f8-6d6d-403d-92f5-13a9afaa4398
                    request_id: NBZaq
              schema:
                $ref: "#/components/schemas/AssetReportRefreshResponse"
          description: OK
      summary: Refresh an Asset Report
      tags:
        - plaid
  /asset_report/remove:
    post:
      description: |-
        The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.

        The `/asset_report/remove` endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
      externalDocs:
        url: /api/products/assets/#asset_reportremove
      operationId: assetReportRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportRemoveRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: I6zHN
              schema:
                $ref: "#/components/schemas/AssetReportRemoveResponse"
          description: OK
      summary: Delete an Asset Report
      tags:
        - plaid
  /auth/get:
    post:
      description: |-
        The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.

        Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.

        Versioning note: In API version 2017-03-08, the schema of the `numbers` object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).
      externalDocs:
        url: /api/products/auth/#authget
      operationId: authGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/AuthGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "9606"
                        name: Plaid Checking
                        official_name: Plaid Gold Checking
                        subtype: checking
                        type: depository
                    item:
                      available_products:
                        - balance
                        - identity
                        - payment_initiation
                        - transactions
                      billed_products:
                        - assets
                        - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    numbers:
                      ach:
                        - account: "9900009606"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          routing: "011401533"
                          wire_routing: "021000021"
                      bacs:
                        - account: "31926819"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          sort_code: "601613"
                      eft:
                        - account: "111122223333"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          branch: "01140"
                          institution: "021"
                      international:
                        - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          bic: NWBKGB21
                          iban: GB29NWBK60161331926819
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/AuthGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Default error
      summary: Retrieve auth data
      tags:
        - plaid
  /bank_transfer/balance/get:
    post:
      description: |-
        Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.

        The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.

        Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
      externalDocs:
        url: /bank-transfers/reference#bank_transferbalanceget
      operationId: bankTransferBalanceGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferBalanceGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    balance:
                      available: "1721.70"
                      transactable: "721.70"
                    origination_account_id: 8945fedc-e703-463d-86b1-dc0607b55460
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferBalanceGetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Get balance of your Bank Transfer account
      tags:
        - plaid
  /bank_transfer/cancel:
    post:
      description: Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
      externalDocs:
        url: /bank-transfers/reference#bank_transfercancel
      operationId: bankTransferCancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferCancelRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferCancelResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Cancel a bank transfer
      tags:
        - plaid
  /bank_transfer/create:
    post:
      description: Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
      externalDocs:
        url: /bank-transfers/reference#bank_transfercreate
      operationId: bankTransferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer:
                      account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                      ach_class: ppd
                      amount: "12.34"
                      cancellable: true
                      created: 2020-08-06T17:27:15Z
                      custom_tag: my tag
                      description: Testing2
                      direction: outbound
                      failure_reason: null
                      id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                      iso_currency_code: USD
                      metadata:
                        key1: value1
                        key2: value2
                      network: ach
                      origination_account_id: 8945fedc-e703-463d-86b1-dc0607b55460
                      status: pending
                      type: credit
                      user:
                        email_address: plaid@plaid.com
                        legal_name: John Smith
                        routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferCreateResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Create a bank transfer
      tags:
        - plaid
  /bank_transfer/event/list:
    post:
      description: Use the `/bank_transfer/event/list` endpoint to get a list of Plaid-initiated ACH or bank transfer events based on specified filter criteria. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://plaid.com/docs/auth/coverage/microdeposit-events/).
      externalDocs:
        url: /api/products/auth#bank_transfereventlist
      operationId: bankTransferEventList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferEventListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer_events:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        bank_transfer_amount: "12.34"
                        bank_transfer_id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        bank_transfer_iso_currency_code: USD
                        bank_transfer_type: credit
                        direction: outbound
                        event_id: 1
                        event_type: pending
                        failure_reason: null
                        origination_account_id: ""
                        timestamp: 2020-08-06T17:27:15Z
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferEventListResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: List bank transfer events
      tags:
        - plaid
  /bank_transfer/event/sync:
    post:
      description: "`/bank_transfer/event/sync` allows you to request up to the next 25 Plaid-initiated bank transfer events that happened after a specific `event_id`. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://www.plaid.com/docs/auth/coverage/microdeposit-events/)."
      externalDocs:
        url: /api/products/auth/#bank_transfereventsync
      operationId: bankTransferEventSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferEventSyncRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer_events:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        bank_transfer_amount: "12.34"
                        bank_transfer_id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        bank_transfer_iso_currency_code: USD
                        bank_transfer_type: credit
                        direction: outbound
                        event_id: 1
                        event_type: pending
                        failure_reason: null
                        origination_account_id: ""
                        timestamp: 2020-08-06T17:27:15Z
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferEventSyncResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Sync bank transfer events
      tags:
        - plaid
  /bank_transfer/get:
    post:
      description: The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
      externalDocs:
        url: /bank-transfers/reference#bank_transferget
      operationId: bankTransferGet
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/BankTransferGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer:
                      account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                      ach_class: ppd
                      amount: "12.34"
                      cancellable: true
                      created: 2020-08-06T17:27:15Z
                      custom_tag: my tag
                      description: Testing2
                      direction: outbound
                      failure_reason:
                        ach_return_code: R13
                        description: Invalid ACH routing number
                      id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                      iso_currency_code: USD
                      metadata:
                        key1: value1
                        key2: value2
                      network: ach
                      origination_account_id: 8945fedc-e703-463d-86b1-dc0607b55460
                      status: pending
                      type: credit
                      user:
                        email_address: plaid@plaid.com
                        legal_name: John Smith
                        routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferGetResponse"
          description: OK
          headers: {}
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Retrieve a bank transfer
      tags:
        - plaid
  /bank_transfer/list:
    post:
      description: |
        Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers.
      externalDocs:
        url: /bank-transfers/reference#bank_transferlist
      operationId: bankTransferList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfers:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        ach_class: ppd
                        amount: "12.34"
                        cancellable: true
                        created: 2020-08-06T17:27:15Z
                        custom_tag: my tag
                        description: Testing2
                        direction: outbound
                        failure_reason:
                          ach_return_code: R13
                          description: Invalid ACH routing number
                        id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        iso_currency_code: USD
                        metadata:
                          key1: value1
                          key2: value2
                        network: ach
                        origination_account_id: 8945fedc-e703-463d-86b1-dc0607b55460
                        originator_client_id: 569ed2f36b3a3a021713abc1
                        status: pending
                        type: credit
                        user:
                          email_address: plaid@plaid.com
                          legal_name: John Smith
                          routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferListResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: List bank transfers
      tags:
        - plaid
  /bank_transfer/migrate_account:
    post:
      description: As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
      externalDocs:
        url: /bank-transfers/reference#bank_transfermigrate_account
      operationId: bankTransferMigrateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferMigrateAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    access_token: access-sandbox-435beced-94e8-4df3-a181-1dde1cfa19f0
                    account_id: zvyDgbeeDluZ43AJP6m5fAxDlgoZXDuoy5gjN
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferMigrateAccountResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Migrate account into Bank Transfers
      tags:
        - plaid
  /bank_transfer/sweep/get:
    post:
      description: The `/bank_transfer/sweep/get` endpoint fetches information about the sweep corresponding to the given `sweep_id`.
      externalDocs:
        url: /api/products/transfer/#bank_transfersweepget
      operationId: bankTransferSweepGet
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/BankTransferSweepGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: saKrIBuEB9qJZno
                    sweep:
                      amount: "12.34"
                      created_at: 2020-08-06T17:27:15Z
                      id: d5394a4d-0b04-4a02-9f4a-7ca5c0f52f9d
                      iso_currency_code: USD
              schema:
                $ref: "#/components/schemas/BankTransferSweepGetResponse"
          description: OK
          headers: {}
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Retrieve a sweep
      tags:
        - plaid
  /bank_transfer/sweep/list:
    post:
      description: The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps matching the given filters.
      externalDocs:
        url: /api/products/transfer/#bank_transfersweeplist
      operationId: bankTransferSweepList
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/BankTransferSweepListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: saKrIBuEB9qJZno
                    sweeps:
                      - amount: "12.34"
                        created_at: 2020-08-06T17:27:15Z
                        id: d5394a4d-0b04-4a02-9f4a-7ca5c0f52f9d
                        iso_currency_code: USD
              schema:
                $ref: "#/components/schemas/BankTransferSweepListResponse"
          description: OK
          headers: {}
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: List sweeps
      tags:
        - plaid
  /beta/credit/v1/bank_employment/get:
    post:
      description: "`/credit/bank_employment/get` returns the employment report(s) derived from bank transaction data for a specified user."
      externalDocs:
        url: /api/products/income/#creditbank_employmentget
      operationId: creditBankEmploymentGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditBankEmploymentGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_employment_reports:
                      - bank_employment_report_id: 0a7eaed6-5da7-4846-baaf-ad787306575e
                        days_requested: 90
                        generated_time: 2023-01-23T22:47:53Z
                        items:
                          - bank_employment_accounts:
                              - account_id: GeooLPBGDEunl54q7N3ZcyD5aLPLEai1nkzM9
                                mask: "8888"
                                name: Plaid Checking Account
                                official_name: Plaid Checking Account
                                owners:
                                  - addresses:
                                      - data:
                                          city: Malakoff
                                          country: US
                                          postal_code: "14236"
                                          region: NY
                                          street: 2992 Cameron Road
                                        primary: true
                                      - data:
                                          city: San Matias
                                          country: US
                                          postal_code: 93405-2255
                                          region: CA
                                          street: 2493 Leisure Lane
                                        primary: false
                                    emails:
                                      - data: accountholder0@example.com
                                        primary: true
                                        type: primary
                                      - data: accountholder1@example.com
                                        primary: false
                                        type: secondary
                                      - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                        primary: false
                                        type: other
                                    names:
                                      - Alberta Bobbeth Charleson
                                    phone_numbers:
                                      - data: "1112223333"
                                        primary: false
                                        type: home
                                      - data: "1112224444"
                                        primary: false
                                        type: work
                                      - data: "1112225555"
                                        primary: false
                                        type: mobile
                                subtype: checking
                                type: depository
                            bank_employments:
                              - account_id: GeooLPBGDEunl54q7N3ZcyD5aLPLEai1nkzM9
                                bank_employment_id: f17efbdd-caab-4278-8ece-963511cd3d51
                                earliest_deposit_date: 2022-01-15
                                employer:
                                  name: Plaid Inc.
                                latest_deposit_date: 2023-01-15
                            institution_id: ins_0
                            institution_name: Plaid Bank
                            item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                            last_updated_time: 2023-01-23T22:47:53Z
                        warnings: []
                    request_id: LhQf0THi8SH1yJm
              schema:
                $ref: "#/components/schemas/CreditBankEmploymentGetResponse"
          description: OK
      summary: Retrieve information from the bank accounts used for employment verification
      tags:
        - plaid
    x-hidden-from-docs: true
  /beta/transactions/rules/v1/create:
    post:
      description: |-
        The `/transactions/rules/v1/create` endpoint creates transaction categorization rules.

        Rules will be applied on the Item's transactions returned in `/transactions/get` response.

        The product is currently in beta. To request access, contact transactions-feedback@plaid.com.
      operationId: transactionsRulesCreate
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: access-sandbox-71e02f71-0960-4a27-abd2-5631e04f2175
                  client_id: 7f57eb3d2a9j6480121fx361
                  personal_finance_category: FOOD_AND_DRINK_FAST_FOOD
                  rule_details:
                    field: NAME
                    query: Burger Shack
                    type: SUBSTRING_MATCH
                  secret: 79g03eoofwl8240v776r2h667442119
            schema:
              $ref: "#/components/schemas/TransactionsRulesCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 4zlKapIkTm8p5KM
                    rule:
                      created_at: 2022-02-28T11:00:00Z
                      id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNo
                      item_id: wz666MBjYWTp2PDzzggYhM6oWWmBb
                      personal_finance_category: FOOD_AND_DRINK_FAST_FOOD
                      rule_details:
                        field: NAME
                        query: Burger Shack
                        type: SUBSTRING_MATCH
              schema:
                $ref: "#/components/schemas/TransactionsRulesCreateResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Create transaction category rule
      tags:
        - plaid
  /beta/transactions/rules/v1/list:
    post:
      description: The `/transactions/rules/v1/list` returns a list of transaction rules created for the Item associated with the access token.
      operationId: transactionsRulesList
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: access-sandbox-71e02f71-0960-4a27-abd2-5631e04f2175
                  client_id: 7f57eb3d2a9j6480121fx361
                  secret: 79g03eoofwl8240v776r2h667442119
            schema:
              $ref: "#/components/schemas/TransactionsRulesListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 4zlKapIkTm8p5KM
                    rules:
                      - created_at: 2022-02-28T11:00:00Z
                        id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNo
                        item_id: wz666MBjYWTp2PDzzggYhM6oWWmBb
                        personal_finance_category: FOOD_AND_DRINK_FAST_FOOD
                        rule_details:
                          field: NAME
                          query: Burger Shack
                          type: SUBSTRING_MATCH
                      - created_at: 2022-02-27T14:50:00Z
                        id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBF
                        item_id: wz666MBjYWTp2PDzzggYhM6oWWmBb
                        personal_finance_category: TRANSFER_IN_ACCOUNT_TRANSFER
                        rule_details:
                          field: TRANSACTION_ID
                          query: kgygNvAVPzSX9KkddNdWHaVGRVex1MHm3k9no
                          type: EXACT_MATCH
              schema:
                $ref: "#/components/schemas/TransactionsRulesListResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Return a list of rules created for the Item associated with the access token.
      tags:
        - plaid
  /beta/transactions/rules/v1/remove:
    post:
      description: The `/transactions/rules/v1/remove` endpoint is used to remove a transaction rule.
      operationId: transactionsRulesRemove
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: access-sandbox-71e02f71-0960-4a27-abd2-5631e04f2175
                  client_id: 7f57eb3d2a9j6480121fx361
                  rule_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBF
                  secret: 79g03eoofwl8240v776r2h667442119
            schema:
              $ref: "#/components/schemas/TransactionsRulesRemoveRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 4zlKapIkTm8p5KM
              schema:
                $ref: "#/components/schemas/TransactionsRulesRemoveResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: Remove transaction rule
      tags:
        - plaid
  /beta/transactions/v1/enhance:
    post:
      description: |-
        The `/beta/transactions/v1/enhance` endpoint enriches raw transaction data provided directly by clients.

        The product is currently in beta.
      operationId: transactionsEnhance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionsEnhanceGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    enhanced_transactions:
                      - amount: 2307.21
                        description: Debit purchase Apple 1235
                        enhancements:
                          category:
                            - Shops
                            - Computers and Electronics
                          category_id: "19013000"
                          check_number: null
                          counterparties:
                            - logo_url: https://plaid-merchant-logos.plaid.com/apple_63.png
                              name: Apple
                              type: merchant
                              website: apple.com
                          location:
                            address: 300 Post St
                            city: San Francisco
                            country: US
                            lat: 40.740352
                            lon: -74.001761
                            postal_code: "94108"
                            region: CA
                            store_number: "1235"
                          logo_url: https://plaid-merchant-logos.plaid.com/apple_63.png
                          merchant_name: Apple
                          payment_channel: in store
                          personal_finance_category:
                            detailed: ELECTRONICS
                            primary: GENERAL_MERCHANDISE
                          personal_finance_category_icon_url: https://plaid-category-icons.plaid.com/PFC_GENERAL_MERCHANDISE.png
                          website: apple.com
                        id: 6135818adda16500147e7c1d
                        iso_currency_code: USD
              schema:
                $ref: "#/components/schemas/TransactionsEnhanceGetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response
      summary: enhance locally-held transaction data
      tags:
        - plaid
  /categories/get:
    post:
      description: Send a request to the `/categories/get` endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.
      externalDocs:
        url: /api/products/transactions/#categoriesget
      operationId: categoriesGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoriesGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    categories:
                      - category_id: "10000000"
                        group: special
                        hierarchy:
                          - Bank Fees
                      - category_id: "10001000"
                        group: special
                        hierarchy:
                          - Bank Fees
                          - Overdraft
                      - category_id: "12001000"
                        group: place
                        hierarchy:
                          - Community
                          - Animal Shelter
                    request_id: ixTBLZGvhD4NnmB
              schema:
                $ref: "#/components/schemas/CategoriesGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaidError"
          description: Error response.
      security: []
      summary: Get Categories
      tags:
        - plaid
  /credit/asset_report/freddie_mac/get:
    post:
      description: The `credit/asset_report/freddie_mac/get` endpoint retrieves the Asset Report in Freddie Mac's JSON format.
      externalDocs:
        url: /none/
      operationId: creditAssetReportFreddieMacGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportFreddieGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    DEAL:
                      LOANS:
                        LOAN:
                          LOAN_IDENTIFIERS:
                            LOAN_IDENTIFIER:
                              LoanIdentifier: "100016746"
                              LoanIdentifierType: LenderLoan
                      PARTIES:
                        PARTY:
                          - INDIVIDUAL:
                              NAME:
                                FirstName: John
                                LastName: Deere
                            ROLES:
                              ROLE:
                                ROLE_DETAIL:
                                  PartyRoleType: Borrower
                            TAXPAYER_IDENTIFIERS:
                              TAXPAYER_IDENTIFIER:
                                TaxpayerIdentifierType: SocialSecurityNumber
                                TaxpayerIdentifierValue: 123-45-6789
                      SERVICES:
                        SERVICE:
                          STATUSES:
                            STATUS:
                              StatusCode: success
                              StatusDescription: null
                          VERIFICATION_OF_ASSET:
                            REPORTING_INFORMATION:
                              ReportingInformationIdentifier: a-prod-kol4xb5y4nf2zecqalb2d55mze
                            SERVICE_PRODUCT_FULFILLMENT:
                              SERVICE_PRODUCT_FULFILLMENT_DETAIL:
                                ServiceProductFulfillmentIdentifier: VOA
                                VendorOrderIdentifier: PLAD
                            VERIFICATION_OF_ASSET_RESPONSE:
                              ASSETS:
                                ASSET:
                                  - ASSET_DETAIL:
                                      AssetAccountIdentifier: "3847"
                                      AssetAsOfDate: 2022-07-27
                                      AssetAvailableBalanceAmount: 2073.99
                                      AssetCurrentBalanceAmount: 2007.09
                                      AssetDaysRequestedCount: 61
                                      AssetDescription: Unlimited Cash Rewards Visa Signature
                                      AssetOwnershipType: null
                                      AssetType: Other
                                      AssetTypeAdditionalDescription: credit card
                                      AssetUniqueIdentifier: c251a55e-c503-471b-a3b1-11a9243bc189
                                    ASSET_HOLDER:
                                      NAME:
                                        FullName: Wells Fargo
                                    ASSET_OWNERS:
                                      ASSET_OWNER:
                                        - AssetOwnerText: Alberta Bobbeth Charleson
                                    ASSET_TRANSACTIONS:
                                      ASSET_TRANSACTION:
                                        - ASSET_TRANSACTION_DESCRIPTON:
                                            - AssetTransactionDescription: TONYS PIZZA NAPOLETANA SAN FRANCISCOCA
                                          ASSET_TRANSACTION_DETAIL:
                                            AssetTransactionAmount: 34.43
                                            AssetTransactionCategoryType: FoodDining
                                            AssetTransactionDate: 2022-07-19
                                            AssetTransactionPaidByName: null
                                            AssetTransactionPostDate: 2022-07-19
                                            AssetTransactionType: Debit
                                            AssetTransactionTypeAdditionalDescription: null
                                            AssetTransactionUniqueIdentifier: 7jagxo9Eq6cXPKM8eMNJUgeeNnbgQdSDw6zgN
                                            FinancialInstitutionTransactionIdentifier: null
                                    VALIDATION_SOURCES:
                                      VALIDATION_SOURCE:
                                        - ValidationSourceName: ""
                                          ValidationSourceReferenceIdentifier: ""
                    SchemaVersion: 1
                    request_id: eYupqX1mZkEuQRx
              schema:
                $ref: "#/components/schemas/AssetReportFreddieGetResponse"
          description: OK
      summary: Retrieve an Asset Report with Freddie Mac format. Only Freddie Mac can use this endpoint.
      tags:
        - plaid
  /credit/audit_copy_token/create:
    post:
      description: |-
        Plaid can create an Audit Copy token of an Asset Report and/or Income Report to share with participating Government Sponsored Entity (GSE). If you participate in the Day 1 Certainty™ program, Plaid can supply an Audit Copy token directly to Fannie Mae on your behalf. An Audit Copy token contains the same underlying data as the Asset Report and/or Income Report (result of /credit/payroll_income/get).

        Use the `/credit/audit_copy_token/create` endpoint to create an `audit_copy_token` and then pass that token to the GSE who needs access.
      externalDocs:
        url: /api/products/income/#creditaudit_copy_tokencreate
      operationId: creditAuditCopyTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditAuditCopyTokenCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    audit_copy_token: a-production-3tau2cwvybdvrhucaaai27ulu4
                    request_id: Iam3b
              schema:
                $ref: "#/components/schemas/CreditAuditCopyTokenCreateResponse"
          description: OK
      summary: Create Asset or Income Report Audit Copy Token
      tags:
        - plaid
  /credit/audit_copy_token/remove:
    post:
      description: The `/credit/audit_copy_token/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Report data and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
      externalDocs:
        url: /api/products/income/#creditaudit_copy_tokenremove
      operationId: creditReportAuditCopyRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditAuditCopyTokenRemoveRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/CreditAuditCopyTokenRemoveResponse"
          description: OK
      summary: Remove an Audit Copy token
      tags:
        - plaid
  /credit/audit_copy_token/update:
    post:
      description: The `/credit/audit_copy_token/update` endpoint updates the Audit Copy Token by adding the report tokens in the `report_tokens` field to the `audit_copy_token`. If the Audit Copy Token already contains a report of a certain type, it will be replaced with the token provided in the `report_tokens` field.
      externalDocs:
        url: /none/
      operationId: creditAuditCopyTokenUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditAuditCopyTokenUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: eYupqX1mZkEuQRx
                    updated: true
              schema:
                $ref: "#/components/schemas/CreditAuditCopyTokenUpdateResponse"
          description: OK
      summary: Update an Audit Copy Token
      tags:
        - plaid
  /credit/bank_income/get:
    post:
      description: "`/credit/bank_income/get` returns the bank income report(s) for a specified user."
      externalDocs:
        url: /api/products/income/#creditbank_incomeget
      operationId: creditBankIncomeGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditBankIncomeGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_income:
                      - bank_income_id: abc123
                        bank_income_summary:
                          end_date: 2022-01-15
                          historical_summary:
                            - end_date: 2021-11-30
                              iso_currency_code: USD
                              start_date: 2021-11-02
                              total_amount: 100
                              total_amounts:
                                - amount: 100
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              transactions:
                                - amount: -100
                                  check_number: null
                                  date: 2021-11-15
                                  iso_currency_code: USD
                                  name: “PLAID_INC_DIRECT_DEP_PPD”
                                  original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                  pending: false
                                  transaction_id: 6RddrWNwE1uM63Ex5GKLhzlBl76aAZfgzlQNm
                                  unofficial_currency_code: null
                              unofficial_currency_code: null
                            - end_date: 2021-12-31
                              iso_currency_code: USD
                              start_date: 2021-12-01
                              total_amount: 100
                              total_amounts:
                                - amount: 100
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              transactions:
                                - amount: -100
                                  check_number: null
                                  date: 2021-12-15
                                  iso_currency_code: USD
                                  name: “PLAID_INC_DIRECT_DEP_PPD”
                                  original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                  pending: false
                                  transaction_id: 7BddrWNwE1uM63Ex5GKLhzlBl82aAZfgzlCBl
                                  unofficial_currency_code: null
                              unofficial_currency_code: null
                            - end_date: 2021-01-31
                              iso_currency_code: USD
                              start_date: 2022-01-01
                              total_amount: 100
                              total_amounts:
                                - amount: 100
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              transactions:
                                - amount: -100
                                  check_number: null
                                  date: 2022-01-31
                                  iso_currency_code: USD
                                  name: “PLAID_INC_DIRECT_DEP_PPD”
                                  original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                  pending: false
                                  transaction_id: 9FddrWNwE1uM95Ex5GKLhzlBl76aAZfgzlNQr
                                  unofficial_currency_code: null
                              unofficial_currency_code: null
                          income_categories_count: 1
                          income_sources_count: 1
                          income_transactions_count: 1
                          iso_currency_code: USD
                          start_date: 2021-11-15
                          total_amount: 300
                          total_amounts:
                            - amount: 300
                              iso_currency_code: USD
                              unofficial_currency_code: null
                          unofficial_currency_code: null
                        days_requested: 90
                        generated_time: 2022-01-31T22:47:53Z
                        items:
                          - bank_income_accounts:
                              - account_id: “GeooLPBGDEunl54q7N3ZcyD5aLPLEai1nkzM9”
                                mask: "8888"
                                name: Plaid Checking Account
                                official_name: Plaid Checking Account
                                owners:
                                  - addresses:
                                      - data:
                                          city: Malakoff
                                          country: US
                                          postal_code: "14236"
                                          region: NY
                                          street: 2992 Cameron Road
                                        primary: true
                                      - data:
                                          city: San Matias
                                          country: US
                                          postal_code: 93405-2255
                                          region: CA
                                          street: 2493 Leisure Lane
                                        primary: false
                                    emails:
                                      - data: accountholder0@example.com
                                        primary: true
                                        type: primary
                                      - data: accountholder1@example.com
                                        primary: false
                                        type: secondary
                                      - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                        primary: false
                                        type: other
                                    names:
                                      - Alberta Bobbeth Charleson
                                    phone_numbers:
                                      - data: "1112223333"
                                        primary: false
                                        type: home
                                      - data: "1112224444"
                                        primary: false
                                        type: work
                                      - data: "1112225555"
                                        primary: false
                                        type: mobile
                                subtype: checking
                                type: depository
                            bank_income_sources:
                              - account_id: GeooLPBGDEunl54q7N3ZcyD5aLPLEai1nkzM9
                                end_date: 2022-01-15
                                historical_summary:
                                  - end_date: 2021-11-30
                                    iso_currency_code: USD
                                    start_date: 2021-11-02
                                    total_amount: 100
                                    total_amounts:
                                      - amount: 100
                                        iso_currency_code: USD
                                        unofficial_currency_code: null
                                    transactions:
                                      - amount: -100
                                        check_number: null
                                        date: 2021-11-15
                                        iso_currency_code: USD
                                        name: “PLAID_INC_DIRECT_DEP_PPD”
                                        original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                        pending: false
                                        transaction_id: 6RddrWNwE1uM63Ex5GKLhzlBl76aAZfgzlQNm
                                        unofficial_currency_code: null
                                    unofficial_currency_code: null
                                  - end_date: 2021-12-31
                                    iso_currency_code: USD
                                    start_date: 2021-12-01
                                    total_amount: 100
                                    total_amounts:
                                      - amount: 100
                                        iso_currency_code: USD
                                        unofficial_currency_code: null
                                    transactions:
                                      - amount: -100
                                        check_number: null
                                        date: 2021-12-15
                                        iso_currency_code: USD
                                        name: “PLAID_INC_DIRECT_DEP_PPD”
                                        original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                        pending: false
                                        transaction_id: 7BddrWNwE1uM63Ex5GKLhzlBl82aAZfgzlCBl
                                        unofficial_currency_code: null
                                    unofficial_currency_code: null
                                  - end_date: 2021-01-31
                                    iso_currency_code: USD
                                    start_date: 2022-01-01
                                    total_amount: 100
                                    total_amounts:
                                      - amount: 100
                                        iso_currency_code: USD
                                        unofficial_currency_code: null
                                    transactions:
                                      - amount: -100
                                        check_number: null
                                        date: 2022-01-31
                                        iso_currency_code: USD
                                        name: “PLAID_INC_DIRECT_DEP_PPD”
                                        original_description: PLAID_INC_DIRECT_DEP_PPD 123
                                        pending: false
                                        transaction_id: 9FddrWNwE1uM95Ex5GKLhzlBl76aAZfgzlNQr
                                        unofficial_currency_code: null
                                    unofficial_currency_code: null
                                income_category: SALARY
                                income_description: “PLAID_INC_DIRECT_DEP_PPD”
                                income_source_id: “f17efbdd-caab-4278-8ece-963511cd3d51”
                                pay_frequency: MONTHLY
                                start_date: 2021-11-15
                                total_amount: 300
                                transaction_count: 1
                            institution_id: ins_0
                            institution_name: Plaid Bank
                            item_id: “eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6”
                            last_updated_time: 2022-01-31T22:47:53Z
                        warnings: []
                    request_id: LhQf0THi8SH1yJm
              schema:
                $ref: "#/components/schemas/CreditBankIncomeGetResponse"
          description: OK
      summary: Retrieve information from the bank accounts used for income verification
      tags:
        - plaid
  /credit/bank_income/pdf/get:
    post:
      description: "`/credit/bank_income/pdf/get` returns the most recent bank income report for a specified user in PDF format."
      externalDocs:
        url: /api/products/income/#creditbank_incomepdfget
      operationId: creditBankIncomePdfGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditBankIncomePDFGetRequest"
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/CreditBankIncomePDFGetResponse"
          description: A PDF of the Bank Income Report
      summary: Retrieve information from the bank accounts used for income verification in PDF format
      tags:
        - plaid
  /credit/bank_income/refresh:
    post:
      description: "`/credit/bank_income/refresh` refreshes the bank income report data for a specific user."
      externalDocs:
        url: /api/products/income/#creditbank_incomerefresh
      operationId: creditBankIncomeRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditBankIncomeRefreshRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: LhQf0THi8SH1yJm
              schema:
                $ref: "#/components/schemas/CreditBankIncomeRefreshResponse"
          description: OK
      summary: Refresh a user's bank income information
      tags:
        - plaid
  /credit/employment/get:
    post:
      description: "`/credit/employment/get` returns a list of items with employment information from a user's payroll provider that was verified by an end user."
      externalDocs:
        url: /api/products/income/#creditemploymentget
      operationId: creditEmploymentGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditEmploymentGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    items:
                      - employments:
                          - account_id: GeooLPBGDEunl54q7N3ZcyD5aLPLEai1nkzM9
                            employee_type: FULL_TIME
                            employer:
                              name: Plaid Inc
                            end_date: null
                            last_paystub_date: 2022-01-15
                            platform_ids:
                              employee_id: "1234567"
                              payroll_id: "1234567"
                              position_id: "8888"
                            start_date: 2020-01-01
                            status: ACTIVE
                            title: Software Engineer
                        item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                    request_id: LhQf0THi8SH1yJm
              schema:
                $ref: "#/components/schemas/CreditEmploymentGetResponse"
          description: OK
      summary: Retrieve a summary of an individual's employment information
      tags:
        - plaid
  /credit/freddie_mac/reports/get:
    post:
      description: The `credit/asset_report/freddie_mac/get` endpoint retrieves the Verification of Assets and Verification of Employment reports.
      externalDocs:
        url: /none/
      operationId: creditFreddieMacReportsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditFreddieMacReportsGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    VOA:
                      DEAL:
                        LOANS:
                          LOAN:
                            LOAN_IDENTIFIERS:
                              LOAN_IDENTIFIER:
                                - LoanIdentifier: "100016746"
                                  LoanIdentifierType: LenderLoan
                            LoanRoleType: SubjectLoan
                        PARTIES:
                          PARTY:
                            - INDIVIDUAL:
                                NAME:
                                  FirstName: John
                                  LastName: Deere
                                  MiddleName: S
                              ROLES:
                                ROLE:
                                  ROLE_DETAIL:
                                    PartyRoleType: Borrower
                              TAXPAYER_IDENTIFIERS:
                                TAXPAYER_IDENTIFIER:
                                  TaxpayerIdentifierType: SocialSecurityNumber
                                  TaxpayerIdentifierValue: 123-45-6789
                        SERVICES:
                          SERVICE:
                            STATUSES:
                              STATUS:
                                StatusCode: success
                                StatusDescription: null
                            VERIFICATION_OF_ASSET:
                              - REPORTING_INFORMATION:
                                  ReportDateTime: ""
                                  ReportIdentifierType: ReportID
                                  ReportingInformationIdentifier: a-prod-kol4xb5y4nf2zecqalb2d55mze
                                SERVICE_PRODUCT_FULFILLMENT:
                                  SERVICE_PRODUCT_FULFILLMENT_DETAIL:
                                    ServiceProductFulfillmentIdentifier: VOA
                                    VendorOrderIdentifier: PLAD
                                VERIFICATION_OF_ASSET_RESPONSE:
                                  ASSETS:
                                    ASSET:
                                      - ASSET_DETAIL:
                                          AssetAccountIdentifier: "3847"
                                          AssetAsOfDate: 2022-07-27
                                          AssetAvailableBalanceAmount: 2073.99
                                          AssetCurrentBalanceAmount: 2007.09
                                          AssetDaysRequestedCount: 61
                                          AssetDescription: Unlimited Cash Rewards Visa Signature
                                          AssetOwnershipType: null
                                          AssetType: Other
[...]
