{
  "swagger": "2.0",
  "info": {
    "title": "Webmaster Tools API",
    "x-serviceName": "webmasters",
    "description": "Lets you view Google Webmaster Tools data for your verified sites.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v3",
    "x-providerName": "googleapis.com",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/webmasters/v3/rest"
    },
    "x-logo": "https://www.google.com/images/srpr/logo11w.png"
  },
  "host": "www.googleapis.com",
  "basePath": "/webmasters/v3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/sites/{siteUrl}/searchAnalytics/query": {
      "post": {
        "description": "[LIMITED ACCESS]\n\nQuery your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days.\n\nWhen date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
        "operationId": "webmasters.searchanalytics.query",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchAnalyticsQueryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SearchAnalyticsQueryRequest"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "searchanalytics"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}/sitemaps/{feedpath}": {
      "delete": {
        "description": "Deletes a sitemap from this site.",
        "operationId": "webmasters.sitemaps.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "feedpath",
            "in": "path",
            "description": "The URL of the actual sitemap. For example: http://www.example.com/sitemap.xml",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters"
            ]
          }
        ],
        "tags": [
          "sitemaps"
        ]
      },
      "get": {
        "description": "Retrieves information about a specific sitemap.",
        "operationId": "webmasters.sitemaps.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/WmxSitemap"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "feedpath",
            "in": "path",
            "description": "The URL of the actual sitemap. For example: http://www.example.com/sitemap.xml",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "sitemaps"
        ]
      },
      "put": {
        "description": "Submits a sitemap for a site.",
        "operationId": "webmasters.sitemaps.submit",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "feedpath",
            "in": "path",
            "description": "The URL of the sitemap to add. For example: http://www.example.com/sitemap.xml",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters"
            ]
          }
        ],
        "tags": [
          "sitemaps"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}/sitemaps": {
      "get": {
        "description": "Lists the sitemaps-entries submitted for this site, or included in the sitemap index file (if sitemapIndex is specified in the request).",
        "operationId": "webmasters.sitemaps.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SitemapsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "sitemapIndex",
            "in": "query",
            "description": "A URL of a site's sitemap index. For example: http://www.example.com/sitemapindex.xml",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "sitemaps"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}": {
      "put": {
        "description": "Adds a site to the set of the user's sites in Webmaster Tools.",
        "operationId": "webmasters.sites.add",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The URL of the site to add.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters"
            ]
          }
        ],
        "tags": [
          "sites"
        ]
      },
      "delete": {
        "description": "Removes a site from the set of the user's Webmaster Tools sites.",
        "operationId": "webmasters.sites.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The URI of the property as defined in Search Console. Examples: http://www.example.com/ or android-app://com.example/",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters"
            ]
          }
        ],
        "tags": [
          "sites"
        ]
      },
      "get": {
        "description": "Retrieves information about specific site.",
        "operationId": "webmasters.sites.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/WmxSite"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The URI of the property as defined in Search Console. Examples: http://www.example.com/ or android-app://com.example/",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "sites"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites": {
      "get": {
        "description": "Lists the user's Webmaster Tools sites.",
        "operationId": "webmasters.sites.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SitesListResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "sites"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}/urlCrawlErrorsCounts/query": {
      "get": {
        "description": "Retrieves a time series of the number of URL crawl errors per error category and platform.",
        "operationId": "webmasters.urlcrawlerrorscounts.query",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlCrawlErrorsCountsQueryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The crawl error category. For example: serverError. If not specified, returns results for all categories.",
            "type": "string",
            "enum": [
              "authPermissions",
              "manyToOneRedirect",
              "notFollowed",
              "notFound",
              "other",
              "roboted",
              "serverError",
              "soft404"
            ]
          },
          {
            "name": "latestCountsOnly",
            "in": "query",
            "description": "If true, returns only the latest crawl error counts.",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The user agent type (platform) that made the request. For example: web. If not specified, returns results for all platforms.",
            "type": "string",
            "enum": [
              "mobile",
              "smartphoneOnly",
              "web"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "urlcrawlerrorscounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}/urlCrawlErrorsSamples/{url}": {
      "get": {
        "description": "Retrieves details about crawl errors for a site's sample URL.",
        "operationId": "webmasters.urlcrawlerrorssamples.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlCrawlErrorsSample"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "path",
            "description": "The relative path (without the site) of the sample URL. It must be one of the URLs returned by list(). For example, for the URL https://www.example.com/pagename on the site https://www.example.com/, the url value is pagename",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The crawl error category. For example: authPermissions",
            "required": true,
            "type": "string",
            "enum": [
              "authPermissions",
              "manyToOneRedirect",
              "notFollowed",
              "notFound",
              "other",
              "roboted",
              "serverError",
              "soft404"
            ]
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The user agent type (platform) that made the request. For example: web",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "smartphoneOnly",
              "web"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "urlcrawlerrorssamples"
        ]
      },
      "delete": {
        "description": "Marks the provided site's sample URL as fixed, and removes it from the samples list.",
        "operationId": "webmasters.urlcrawlerrorssamples.markAsFixed",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "path",
            "description": "The relative path (without the site) of the sample URL. It must be one of the URLs returned by list(). For example, for the URL https://www.example.com/pagename on the site https://www.example.com/, the url value is pagename",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The crawl error category. For example: authPermissions",
            "required": true,
            "type": "string",
            "enum": [
              "authPermissions",
              "manyToOneRedirect",
              "notFollowed",
              "notFound",
              "other",
              "roboted",
              "serverError",
              "soft404"
            ]
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The user agent type (platform) that made the request. For example: web",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "smartphoneOnly",
              "web"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters"
            ]
          }
        ],
        "tags": [
          "urlcrawlerrorssamples"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/sites/{siteUrl}/urlCrawlErrorsSamples": {
      "get": {
        "description": "Lists a site's sample URLs for the specified crawl error category and platform.",
        "operationId": "webmasters.urlcrawlerrorssamples.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlCrawlErrorsSamplesListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "siteUrl",
            "in": "path",
            "description": "The site's URL, including protocol. For example: http://www.example.com/",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The crawl error category. For example: authPermissions",
            "required": true,
            "type": "string",
            "enum": [
              "authPermissions",
              "manyToOneRedirect",
              "notFollowed",
              "notFound",
              "other",
              "roboted",
              "serverError",
              "soft404"
            ]
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The user agent type (platform) that made the request. For example: web",
            "required": true,
            "type": "string",
            "enum": [
              "mobile",
              "smartphoneOnly",
              "web"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/webmasters",
              "https://www.googleapis.com/auth/webmasters.readonly"
            ]
          }
        ],
        "tags": [
          "urlcrawlerrorssamples"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "ApiDataRow": {
      "type": "object",
      "properties": {
        "clicks": {
          "type": "number",
          "format": "double"
        },
        "ctr": {
          "type": "number",
          "format": "double"
        },
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "position": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "ApiDimensionFilter": {
      "type": "object",
      "properties": {
        "dimension": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        },
        "operator": {
          "type": "string"
        }
      }
    },
    "ApiDimensionFilterGroup": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiDimensionFilter"
          }
        },
        "groupType": {
          "type": "string"
        }
      }
    },
    "SearchAnalyticsQueryRequest": {
      "type": "object",
      "properties": {
        "aggregationType": {
          "type": "string",
          "description": "[Optional; Default is AUTO] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see  the help documentation to learn how data is calculated differently by site versus by page.\n\nNote: If you group or filter by page, you cannot aggregate by property.\n\nIf you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid."
        },
        "dimensionFilterGroups": {
          "type": "array",
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'Country CONTAINS \"Guinea\"' to see only data where the country contains the substring \"Guinea\". You can filter by a dimension without grouping by it.",
          "items": {
            "$ref": "#/definitions/ApiDimensionFilterGroup"
          }
        },
        "dimensions": {
          "type": "array",
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "items": {
            "type": "string"
          }
        },
        "endDate": {
          "type": "string",
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range."
        },
        "rowLimit": {
          "type": "integer",
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 1,000 (inclusive).",
          "format": "int32"
        },
        "searchType": {
          "type": "string",
          "description": "[Optional; Default is WEB] The search type to filter for."
        },
        "startDate": {
          "type": "string",
          "description": "[Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range."
        }
      }
    },
    "SearchAnalyticsQueryResponse": {
      "type": "object",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter.",
      "properties": {
        "responseAggregationType": {
          "type": "string",
          "description": "How the results were aggregated."
        },
        "rows": {
          "type": "array",
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "#/definitions/ApiDataRow"
          }
        }
      }
    },
    "SitemapsListResponse": {
      "type": "object",
      "description": "List of sitemaps.",
      "properties": {
        "sitemap": {
          "type": "array",
          "description": "Contains detailed information about a specific URL submitted as a sitemap.",
          "items": {
            "$ref": "#/definitions/WmxSitemap"
          }
        }
      }
    },
    "SitesListResponse": {
      "type": "object",
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "type": "array",
          "description": "Contains permission level information about a Webmaster Tools site. For more information, see Permissions in Webmaster Tools.",
          "items": {
            "$ref": "#/definitions/WmxSite"
          }
        }
      }
    },
    "UrlCrawlErrorCount": {
      "type": "object",
      "description": "An entry in a URL crawl errors time series.",
      "properties": {
        "count": {
          "type": "string",
          "description": "The error count at the given timestamp.",
          "format": "int64"
        },
        "timestamp": {
          "type": "string",
          "description": "The date and time when the crawl attempt took place, in RFC 3339 format.",
          "format": "date-time"
        }
      }
    },
    "UrlCrawlErrorCountsPerType": {
      "type": "object",
      "description": "Number of errors per day for a specific error type (defined by platform and category).",
      "properties": {
        "category": {
          "type": "string",
          "description": "The crawl error type."
        },
        "entries": {
          "type": "array",
          "description": "The error count entries time series.",
          "items": {
            "$ref": "#/definitions/UrlCrawlErrorCount"
          }
        },
        "platform": {
          "type": "string",
          "description": "The general type of Googlebot that made the request (see list of Googlebot user-agents for the user-agents used)."
        }
      }
    },
    "UrlCrawlErrorsCountsQueryResponse": {
      "type": "object",
      "description": "A time series of the number of URL crawl errors per error category and platform.",
      "properties": {
        "countPerTypes": {
          "type": "array",
          "description": "The time series of the number of URL crawl errors per error category and platform.",
          "items": {
            "$ref": "#/definitions/UrlCrawlErrorCountsPerType"
          }
        }
      }
    },
    "UrlCrawlErrorsSample": {
      "type": "object",
      "description": "Contains information about specific crawl errors.",
      "properties": {
        "first_detected": {
          "type": "string",
          "description": "The time the error was first detected, in RFC 3339 format.",
          "format": "date-time"
        },
        "last_crawled": {
          "type": "string",
          "description": "The time when the URL was last crawled, in RFC 3339 format.",
          "format": "date-time"
        },
        "pageUrl": {
          "type": "string",
          "description": "The URL of an error, relative to the site."
        },
        "responseCode": {
          "type": "integer",
          "description": "The HTTP response code, if any.",
          "format": "int32"
        },
        "urlDetails": {
          "$ref": "#/definitions/UrlSampleDetails",
          "description": "Additional details about the URL, set only when calling get()."
        }
      }
    },
    "UrlCrawlErrorsSamplesListResponse": {
      "type": "object",
      "description": "List of crawl error samples.",
      "properties": {
        "urlCrawlErrorSample": {
          "type": "array",
          "description": "Information about the sample URL and its crawl error.",
          "items": {
            "$ref": "#/definitions/UrlCrawlErrorsSample"
          }
        }
      }
    },
    "UrlSampleDetails": {
      "type": "object",
      "description": "Additional details about the URL, set only when calling get().",
      "properties": {
        "containingSitemaps": {
          "type": "array",
          "description": "List of sitemaps pointing at this URL.",
          "items": {
            "type": "string"
          }
        },
        "linkedFromUrls": {
          "type": "array",
          "description": "A sample set of URLs linking to this URL.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WmxSite": {
      "type": "object",
      "description": "Contains permission level information about a Webmaster Tools site. For more information, see  Permissions in Webmaster Tools.",
      "properties": {
        "permissionLevel": {
          "type": "string",
          "description": "The user's permission level for the site."
        },
        "siteUrl": {
          "type": "string",
          "description": "The URL of the site."
        }
      }
    },
    "WmxSitemap": {
      "type": "object",
      "description": "Contains detailed information about a specific URL submitted as a sitemap.",
      "properties": {
        "contents": {
          "type": "array",
          "description": "The various content types in the sitemap.",
          "items": {
            "$ref": "#/definitions/WmxSitemapContent"
          }
        },
        "errors": {
          "type": "string",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly.",
          "format": "int64"
        },
        "isPending": {
          "type": "boolean",
          "description": "If true, the sitemap has not been processed."
        },
        "isSitemapsIndex": {
          "type": "boolean",
          "description": "If true, the sitemap is a collection of sitemaps."
        },
        "lastDownloaded": {
          "type": "string",
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "format": "date-time"
        },
        "lastSubmitted": {
          "type": "string",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "format": "date-time"
        },
        "path": {
          "type": "string",
          "description": "The url of the sitemap."
        },
        "type": {
          "type": "string",
          "description": "The type of the sitemap. For example: rssFeed."
        },
        "warnings": {
          "type": "string",
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "format": "int64"
        }
      }
    },
    "WmxSitemapContent": {
      "type": "object",
      "description": "Information about the various content types in the sitemap.",
      "properties": {
        "indexed": {
          "type": "string",
          "description": "The number of URLs from the sitemap that were indexed (of the content type).",
          "format": "int64"
        },
        "submitted": {
          "type": "string",
          "description": "The number of URLs in the sitemap (of the content type).",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The specific type of content in this sitemap. For example: web."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": true,
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/webmasters": "View and modify Webmaster Tools data for your verified sites",
        "https://www.googleapis.com/auth/webmasters.readonly": "View Webmaster Tools data for your verified sites"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/webmaster-tools/"
  }
}