swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /apps/reseller/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Creates and manages your customers and their subscriptions.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Enterprise Apps Reseller
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/admin_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/reseller/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: reseller
externalDocs:
  url: 'https://developers.google.com/google-apps/reseller/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/apps.order': Manage users on your domain
      'https://www.googleapis.com/auth/apps.order.readonly': Manage users on your domain
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/apps.order': Manage users on your domain
      'https://www.googleapis.com/auth/apps.order.readonly': Manage users on your domain
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: customers
  - name: resellernotify
  - name: subscriptions
paths:
  /customers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Order a new customer's account.
      operationId: reseller.customers.insert
      parameters:
        - description: 'The customerAuthToken query string is required when creating a resold account that transfers a direct customer''s subscription or transfers another reseller customer''s subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.'
          in: query
          name: customerAuthToken
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - customers
  '/customers/{customerId}':
    get:
      description: Get a customer account.
      operationId: reseller.customers.get
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
      tags:
        - customers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update a customer account's settings. This method supports patch semantics.
      operationId: reseller.customers.patch
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - customers
    put:
      description: Update a customer account's settings.
      operationId: reseller.customers.update
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - customers
  '/customers/{customerId}/subscriptions':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create or transfer a subscription.
      operationId: reseller.subscriptions.insert
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'The customerAuthToken query string is required when creating a resold account that transfers a direct customer''s subscription or transfers another reseller customer''s subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.'
          in: query
          name: customerAuthToken
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Subscription'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}':
    delete:
      description: 'Cancel, suspend or transfer a subscription to direct.'
      operationId: reseller.subscriptions.delete
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: 'The deletionType query string enables the cancellation, downgrade, or suspension of a subscription.'
          enum:
            - cancel
            - downgrade
            - suspend
            - transfer_to_direct
          in: query
          name: deletionType
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
    get:
      description: Get a specific subscription.
      operationId: reseller.subscriptions.get
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
      tags:
        - subscriptions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customers/{customerId}/subscriptions/{subscriptionId}/activate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Activates a subscription previously suspended by the reseller
      operationId: reseller.subscriptions.activate
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}/changePlan':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Update a subscription plan. Use this method to update a plan for a 30-day trial or a flexible plan subscription to an annual commitment plan with monthly or yearly payments.
      operationId: reseller.subscriptions.changePlan
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChangePlanRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Update a user license's renewal settings. This is applicable for accounts with annual commitment plans only.
      operationId: reseller.subscriptions.changeRenewalSettings
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RenewalSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}/changeSeats':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Update a subscription's user license settings.
      operationId: reseller.subscriptions.changeSeats
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Seats'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}/startPaidService':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Immediately move a 30-day free trial subscription to a paid service subscription.
      operationId: reseller.subscriptions.startPaidService
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  '/customers/{customerId}/subscriptions/{subscriptionId}/suspend':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Suspends an active subscription.
      operationId: reseller.subscriptions.suspend
      parameters:
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: path
          name: customerId
          required: true
          type: string
        - description: 'This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.'
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - subscriptions
  /resellernotify/getwatchdetails:
    get:
      description: Returns all the details of the watch corresponding to the reseller.
      operationId: reseller.resellernotify.getwatchdetails
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResellernotifyGetwatchdetailsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
      tags:
        - resellernotify
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /resellernotify/register:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Registers a Reseller for receiving notifications.
      operationId: reseller.resellernotify.register
      parameters:
        - description: The service account which will own the created Cloud-PubSub topic.
          in: query
          name: serviceAccountEmailAddress
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResellernotifyResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - resellernotify
  /resellernotify/unregister:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Unregisters a Reseller for receiving notifications.
      operationId: reseller.resellernotify.unregister
      parameters:
        - description: The service account which owns the Cloud-PubSub topic.
          in: query
          name: serviceAccountEmailAddress
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResellernotifyResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
      tags:
        - resellernotify
  /subscriptions:
    get:
      description: 'List of subscriptions managed by the reseller. The list can be all subscriptions, all of a customer''s subscriptions, or all of a customer''s transferable subscriptions.'
      operationId: reseller.subscriptions.list
      parameters:
        - description: 'The customerAuthToken query string is required when creating a resold account that transfers a direct customer''s subscription or transfers another reseller customer''s subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.'
          in: query
          name: customerAuthToken
          type: string
        - description: 'Either the customer''s primary domain name or the customer''s unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.'
          in: query
          name: customerId
          type: string
        - description: |-
            When retrieving all of your subscriptions and filtering for specific customers, you can enter a prefix for a customer name. Using an example customer group that includes exam.com, example20.com and example.com:  
            - exa -- Returns all customer names that start with 'exa' which could include exam.com, example20.com, and example.com. A name prefix is similar to using a regular expression's asterisk, exa*. 
            - example -- Returns example20.com and example.com.
          in: query
          name: customerNamePrefix
          type: string
        - description: 'When retrieving a large list, the maxResults is the maximum number of results per page. The nextPageToken value takes you to the next page. The default is 20.'
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscriptions'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order'
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.order.readonly'
      tags:
        - subscriptions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Address:
    description: JSON template for address of a customer.
    properties:
      addressLine1:
        description: A customer's physical address. An address can be composed of one to three lines. The addressline2 and addressLine3 are optional.
        type: string
      addressLine2:
        description: Line 2 of the address.
        type: string
      addressLine3:
        description: Line 3 of the address.
        type: string
      contactName:
        description: The customer contact's name. This is required.
        type: string
      countryCode:
        description: 'For countryCode information, see the ISO 3166 country code elements. Verify that country is approved for resale of Google products. This property is required when creating a new customer.'
        type: string
      kind:
        default: 'customers#address'
        description: 'Identifies the resource as a customer address. Value: customers#address'
        type: string
      locality:
        description: An example of a locality value is the city of San Francisco.
        type: string
      organizationName:
        description: The company or company division name. This is required.
        type: string
      postalCode:
        description: A postalCode example is a postal zip code such as 94043. This property is required when creating a new customer.
        type: string
      region:
        description: An example of a region value is CA for the state of California.
        type: string
    type: object
  ChangePlanRequest:
    description: JSON template for the ChangePlan rpc request.
    properties:
      dealCode:
        description: 'Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in changePlan request in order to receive discounted rate. This property is optional. If a deal code has already been added to a subscription, this property may be left empty and the existing discounted rate will still apply (if not empty, only provide the deal code that is already present on the subscription). If a deal code has never been added to a subscription and this property is left blank, regular pricing will apply.'
        type: string
      kind:
        default: 'subscriptions#changePlanRequest'
        description: 'Identifies the resource as a subscription change plan request. Value: subscriptions#changePlanRequest'
        type: string
      planName:
        description: |-
          The planName property is required. This is the name of the subscription's payment plan. For more information about the Google payment plans, see API concepts.

          Possible values are:  
          - ANNUAL_MONTHLY_PAY - The annual commitment plan with monthly payments  
          - ANNUAL_YEARLY_PAY - The annual commitment plan with yearly payments  
          - FLEXIBLE - The flexible plan  
          - TRIAL - The 30-day free trial plan
        type: string
      purchaseOrderId:
        description: This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.
        type: string
      seats:
        $ref: '#/definitions/Seats'
        description: This is a required property. The seats property is the number of user seat licenses.
    type: object
  Customer:
    description: JSON template for a customer.
    properties:
      alternateEmail:
        description: 'Like the "Customer email" in the reseller tools, this email is the secondary contact used if something happens to the customer''s service such as service outage or a security issue. This property is required when creating a new customer and should not use the same domain as customerDomain.'
        type: string
      customerDomain:
        description: The customer's primary domain name string. customerDomain is required when creating a new customer. Do not include the www prefix in the domain when adding a customer.
        type: string
      customerDomainVerified:
        description: Whether the customer's primary domain has been verified.
        type: boolean
      customerId:
        description: 'This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google.'
        type: string
      kind:
        default: 'reseller#customer'
        description: 'Identifies the resource as a customer. Value: reseller#customer'
        type: string
      phoneNumber:
        description: 'Customer contact phone number. This can be continuous numbers, with spaces, etc. But it must be a real phone number and not, for example, "123". See phone  local format conventions.'
        type: string
      postalAddress:
        $ref: '#/definitions/Address'
        description: A customer's address information. Each field has a limit of 255 charcters.
      resourceUiUrl:
        description: URL to customer's Admin console dashboard. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task in the Admin console.
        type: string
    type: object
  RenewalSettings:
    description: JSON template for a subscription renewal settings.
    properties:
      kind:
        default: 'subscriptions#renewalSettings'
        description: 'Identifies the resource as a subscription renewal setting. Value: subscriptions#renewalSettings'
        type: string
      renewalType:
        description: 'Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center. When renewing a subscription, the renewalType is a required property.'
        type: string
    type: object
  ResellernotifyGetwatchdetailsResponse:
    description: JSON template for resellernotify getwatchdetails response.
    properties:
      serviceAccountEmailAddresses:
        description: List of registered service accounts.
        items:
          type: string
        type: array
      topicName:
        description: Topic name of the PubSub
        type: string
    type: object
  ResellernotifyResource:
    description: JSON template for resellernotify response.
    properties:
      topicName:
        description: Topic name of the PubSub
        type: string
    type: object
  Seats:
    description: JSON template for subscription seats.
    properties:
      kind:
        default: 'subscriptions#seats'
        description: 'Identifies the resource as a subscription change plan request. Value: subscriptions#seats'
        type: string
      licensedNumberOfSeats:
        description: Read-only field containing the current number of licensed seats for FLEXIBLE Google-Apps subscriptions and secondary subscriptions such as Google-Vault and Drive-storage.
        format: int32
        type: integer
      maximumNumberOfSeats:
        description: |-
          The maximumNumberOfSeats property is the maximum number of licenses that the customer can purchase. This property applies to plans other than the annual commitment plan. How a user's licenses are managed depends on the subscription's payment plan:  
          - annual commitment plan (with monthly or yearly payments) — For this plan, a reseller is invoiced on the number of user licenses in the numberOfSeats property. The maximumNumberOfSeats property is a read-only property in the API's response.  
          - flexible plan — For this plan, a reseller is invoiced on the actual number of users which is capped by the maximumNumberOfSeats. This is the maximum number of user licenses a customer has for user license provisioning. This quantity can be increased up to the maximum limit defined in the reseller's contract. And the minimum quantity is the current number of users in the customer account.  
          - 30-day free trial plan — A subscription in a 30-day free trial is restricted to maximum 10 seats.
        format: int32
        type: integer
      numberOfSeats:
        description: |-
          The numberOfSeats property holds the customer's number of user licenses. How a user's licenses are managed depends on the subscription's plan:  
          - annual commitment plan (with monthly or yearly pay) — For this plan, a reseller is invoiced on the number of user licenses in the numberOfSeats property. This is the maximum number of user licenses that a reseller's customer can create. The reseller can add more licenses, but once set, the numberOfSeats can not be reduced until renewal. The reseller is invoiced based on the numberOfSeats value regardless of how many of these user licenses are provisioned users.  
          - flexible plan — For this plan, a reseller is invoiced on the actual number of users which is capped by the maximumNumberOfSeats. The numberOfSeats property is not used in the request or response for flexible plan customers.  
          - 30-day free trial plan — The numberOfSeats property is not used in the request or response for an account in a 30-day trial.
        format: int32
        type: integer
    type: object
  Subscription:
    description: JSON template for a subscription.
    properties:
      billingMethod:
        description: Read-only field that returns the current billing method for a subscription.
        type: string
      creationTime:
        description: The creationTime property is the date when subscription was created. It is in milliseconds using the Epoch format. See an example Epoch converter.
        format: int64
        type: string
      customerDomain:
        description: Primary domain name of the customer
        type: string
      customerId:
        description: 'This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google.'
        type: string
      dealCode:
        description: 'Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in insert requests in order to receive discounted rate. This property is optional, regular pricing applies if left empty.'
        type: string
      kind:
        default: 'reseller#subscription'
        description: 'Identifies the resource as a Subscription. Value: reseller#subscription'
        type: string
      plan:
        description: 'The plan property is required. In this version of the API, the G Suite plans are the flexible plan, annual commitment plan, and the 30-day free trial plan. For more information about the API"s payment plans, see the API concepts.'
        properties:
          commitmentInterval:
            description: 'In this version of the API, annual commitment plan''s interval is one year.'
            properties:
              endTime:
                description: An annual commitment plan's interval's endTime in milliseconds using the UNIX Epoch format. See an example Epoch converter.
                format: int64
                type: string
              startTime:
                description: An annual commitment plan's interval's startTime in milliseconds using UNIX Epoch format. See an example Epoch converter.
                format: int64
                type: string
            type: object
          isCommitmentPlan:
            description: |-
              The isCommitmentPlan property's boolean value identifies the plan as an annual commitment plan:
              - true — The subscription's plan is an annual commitment plan.
              - false — The plan is not an annual commitment plan.
            type: boolean
          planName:
            description: |-
              The planName property is required. This is the name of the subscription's plan. For more information about the Google payment plans, see the API concepts.

              Possible values are:  
              - ANNUAL_MONTHLY_PAY — The annual commitment plan with monthly payments  
              - ANNUAL_YEARLY_PAY — The annual commitment plan with yearly payments  
              - FLEXIBLE — The flexible plan  
              - TRIAL — The 30-day free trial plan. A subscription in trial will be suspended after the 30th free day if no payment plan is assigned. Calling changePlan will assign a payment plan to a trial but will not activate the plan. A trial will automatically begin its assigned payment plan after its 30th free day or immediately after calling startPaidService.
            type: string
        type: object
      purchaseOrderId:
        description: This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.
        type: string
      renewalSettings:
        $ref: '#/definitions/RenewalSettings'
        description: 'Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center.'
      resourceUiUrl:
        description: URL to customer's Subscriptions page in the Admin console. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task using the Subscriptions page in the Admin console.
        type: string
      seats:
        $ref: '#/definitions/Seats'
        description: This is a required property. The number and limit of user seat licenses in the plan.
      skuId:
        description: 'A required property. The skuId is a unique system identifier for a product''s SKU assigned to a customer in the subscription. For products and SKUs available in this version of the API, see  Product and SKU IDs.'
        type: string
      skuName:
        description: 'Read-only external display name for a product''s SKU assigned to a customer in the subscription. SKU names are subject to change at Google''s discretion. For products and SKUs available in this version of the API, see  Product and SKU IDs.'
        type: string
      status:
        description: This is an optional property.
        type: string
      subscriptionId:
        description: 'The subscriptionId is the subscription identifier and is unique for each customer. This is a required property. Since a subscriptionId changes when a subscription is updated, we recommend not using this ID as a key for persistent data. Use the subscriptionId as described in retrieve all reseller subscriptions.'
        type: string
      suspensionReasons:
        description: |-
          Read-only field containing an enumerable of all the current suspension reasons for a subscription. It is possible for a subscription to have many concurrent, overlapping suspension reasons. A subscription's STATUS is SUSPENDED until all pending suspensions are removed.

          Possible options include:  
          - PENDING_TOS_ACCEPTANCE - The customer has not logged in and accepted the G Suite Resold Terms of Services.  
          - RENEWAL_WITH_TYPE_CANCEL - The customer's commitment ended and their service was cancelled at the end of their term.  
          - RESELLER_INITIATED - A manual suspension invoked by a Reseller.  
          - TRIAL_ENDED - The customer's trial expired without a plan selected.  
          - OTHER - The customer is suspended for an internal Google reason (e.g. abuse or otherwise).
        items:
          type: string
        type: array
      transferInfo:
        description: 'Read-only transfer related information for the subscription. For more information, see retrieve transferable subscriptions for a customer.'
        properties:
          minimumTransferableSeats:
            description: 'When inserting a subscription, this is the minimum number of seats listed in the transfer order for this product. For example, if the customer has 20 users, the reseller cannot place a transfer order of 15 seats. The minimum is 20 seats.'
            format: int32
            type: integer
          transferabilityExpirationTime:
            description: The time when transfer token or intent to transfer will expire. The time is in milliseconds using UNIX Epoch format.
            format: int64
            type: string
        type: object
      trialSettings:
        description: 'The G Suite annual commitment and flexible payment plans can be in a 30-day free trial. For more information, see the API concepts.'
        properties:
          isInTrial:
            description: |-
              Determines if a subscription's plan is in a 30-day free trial or not:
              - true — The plan is in trial.
              - false — The plan is not in trial.
            type: boolean
          trialEndTime:
            description: Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example Epoch converter.
            format: int64
            type: string
        type: object
    type: object
  Subscriptions:
    description: JSON template for a subscription list.
    properties:
      kind:
        default: 'reseller#subscriptions'
        description: 'Identifies the resource as a collection of subscriptions. Value: reseller#subscriptions'
        type: string
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
      subscriptions:
        description: The subscriptions in this page of results.
        items:
          $ref: '#/definitions/Subscription'
        type: array
    type: object
