openapi: 3.0.0
servers:
  - url: 'http://servicecatalog.amazonaws.com/'
info:
  version: '2015-12-10'
  x-release: v4
  title: AWS Service Catalog
  description: '<fullname>AWS Service Catalog</fullname> <p> <b>Overview</b> </p> <p> <a href="https://aws.amazon.com/servicecatalog/">AWS Service Catalog</a> allows organizations to create and manage catalogs of IT services that are approved for use on AWS. This documentation provides reference material for the AWS Service Catalog end user API. To get the most out of this documentation, be familiar with the terminology discussed in <a href="http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html">AWS Service Catalog Concepts</a>.</p> <p> <i>Additional Resources</i> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/servicecatalog/latest/adminguide/introduction.html">AWS Service Catalog Administrator Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/servicecatalog/latest/userguide/introduction.html">AWS Service Catalog User Guide</a> </p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: servicecatalog
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicecatalog-2015-12-10.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/servicecatalog/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AcceptPortfolioShare
      description: Accepts an offer to share a portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptPortfolioShareOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptPortfolioShareInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AssociatePrincipalWithPortfolio':
    post:
      operationId: AssociatePrincipalWithPortfolio
      description: Associates the specified principal ARN with the specified portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociatePrincipalWithPortfolioOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociatePrincipalWithPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AssociateProductWithPortfolio':
    post:
      operationId: AssociateProductWithPortfolio
      description: Associates a product with a portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociateProductWithPortfolioOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateProductWithPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AssociateTagOptionWithResource':
    post:
      operationId: AssociateTagOptionWithResource
      description: Associate a TagOption identifier with a resource identifier.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociateTagOptionWithResourceOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '483':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '484':
          description: DuplicateResourceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResourceException'
        '485':
          description: InvalidStateException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidStateException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociateTagOptionWithResourceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateConstraint':
    post:
      operationId: CreateConstraint
      description: 'Creates a new constraint. For more information, see <a href="http://docs.aws.amazon.com/servicecatalog/latest/adminguide/constraints.html">Using Constraints</a>.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConstraintOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: DuplicateResourceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResourceException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConstraintInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreatePortfolio':
    post:
      operationId: CreatePortfolio
      description: Creates a new portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePortfolioOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreatePortfolioShare':
    post:
      operationId: CreatePortfolioShare
      description: Creates a new portfolio share.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePortfolioShareOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortfolioShareInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateProduct':
    post:
      operationId: CreateProduct
      description: Creates a new product.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateProvisioningArtifact':
    post:
      operationId: CreateProvisioningArtifact
      description: <p>Create a new provisioning artifact for the specified product. This operation does not work with a product that has been shared with you.</p> <p>See the bottom of this topic for an example JSON request.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProvisioningArtifactOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProvisioningArtifactInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateTagOption':
    post:
      operationId: CreateTagOption
      description: Create a new TagOption.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTagOptionOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: DuplicateResourceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResourceException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagOptionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteConstraint':
    post:
      operationId: DeleteConstraint
      description: Deletes the specified constraint.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConstraintOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteConstraintInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeletePortfolio':
    post:
      operationId: DeletePortfolio
      description: 'Deletes the specified portfolio. This operation does not work with a portfolio that has been shared with you or if it has products, users, constraints, or shared accounts associated with it.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePortfolioOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '482':
          description: ResourceInUseException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInUseException'
        '483':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeletePortfolioShare':
    post:
      operationId: DeletePortfolioShare
      description: Deletes the specified portfolio share.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePortfolioShareOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePortfolioShareInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteProduct':
    post:
      operationId: DeleteProduct
      description: 'Deletes the specified product. This operation does not work with a product that has been shared with you or is associated with a portfolio. '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInUseException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '483':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteProvisioningArtifact':
    post:
      operationId: DeleteProvisioningArtifact
      description: 'Deletes the specified provisioning artifact. This operation does not work on a provisioning artifact associated with a product that has been shared with you, or on the last provisioning artifact associated with a product (a product must have at least one provisioning artifact).'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProvisioningArtifactOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInUseException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProvisioningArtifactInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeConstraint':
    post:
      operationId: DescribeConstraint
      description: Retrieves detailed information for a specified constraint.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeConstraintOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeConstraintInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribePortfolio':
    post:
      operationId: DescribePortfolio
      description: Retrieves detailed information and any tags associated with the specified portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePortfolioOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribePortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProduct':
    post:
      operationId: DescribeProduct
      description: <p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProductView</a> except that it takes as input <code>ProductId</code> instead of <code>ProductViewId</code>.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProductOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProductAsAdmin':
    post:
      operationId: DescribeProductAsAdmin
      description: 'Retrieves information about a specified product, run with administrator access.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProductAsAdminOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProductAsAdminInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProductView':
    post:
      operationId: DescribeProductView
      description: <p>Retrieves information about a specified product.</p> <p>This operation is functionally identical to <a>DescribeProduct</a> except that it takes as input <code>ProductViewId</code> instead of <code>ProductId</code>.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProductViewOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProductViewInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProvisionedProduct':
    post:
      operationId: DescribeProvisionedProduct
      description: Retrieve detailed information about the provisioned product.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProvisionedProductOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProvisionedProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProvisioningArtifact':
    post:
      operationId: DescribeProvisioningArtifact
      description: Retrieves detailed information about the specified provisioning artifact.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProvisioningArtifactOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProvisioningArtifactInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeProvisioningParameters':
    post:
      operationId: DescribeProvisioningParameters
      description: '<p>Provides information about parameters required to provision a specified product in a specified manner. Use this operation to obtain the list of <code>ProvisioningArtifactParameters</code> parameters available to call the <a>ProvisionProduct</a> operation for the specified product.</p> <p>If the output contains a TagOption key with an empty list of values, there is a TagOption conflict for that key. The end user cannot take action to fix the conflict, and launch is not blocked. In subsequent calls to the <code>ProvisionProduct</code> operation, do not include conflicted TagOption keys as tags. Calls to <code>ProvisionProduct</code> with empty TagOption values cause the error "Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i> ". Calls to <code>ProvisionProduct</code> with conflicted TagOption keys automatically tag the provisioned product with the conflicted keys with the value "<code>sc-tagoption-conflict-portfolioId-productId</code>".</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeProvisioningParametersOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeProvisioningParametersInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeRecord':
    post:
      operationId: DescribeRecord
      description: 'Retrieves a paginated list of the full details of a specific request. Use this operation after calling a request operation (<a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeRecordOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeRecordInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeTagOption':
    post:
      operationId: DescribeTagOption
      description: Describes a TagOption.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTagOptionOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTagOptionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DisassociatePrincipalFromPortfolio':
    post:
      operationId: DisassociatePrincipalFromPortfolio
      description: Disassociates a previously associated principal ARN from a specified portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisassociatePrincipalFromPortfolioOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisassociatePrincipalFromPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DisassociateProductFromPortfolio':
    post:
      operationId: DisassociateProductFromPortfolio
      description: 'Disassociates the specified product from the specified portfolio. '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisassociateProductFromPortfolioOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceInUseException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisassociateProductFromPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DisassociateTagOptionFromResource':
    post:
      operationId: DisassociateTagOptionFromResource
      description: Disassociates a TagOption from a resource.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisassociateTagOptionFromResourceOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisassociateTagOptionFromResourceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAcceptedPortfolioShares':
    post:
      operationId: ListAcceptedPortfolioShares
      description: Lists details of all portfolios for which sharing was accepted by this account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAcceptedPortfolioSharesOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAcceptedPortfolioSharesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListConstraintsForPortfolio':
    post:
      operationId: ListConstraintsForPortfolio
      description: Retrieves detailed constraint information for the specified portfolio and product.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConstraintsForPortfolioOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConstraintsForPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListLaunchPaths':
    post:
      operationId: ListLaunchPaths
      description: 'Returns a paginated list of all paths to a specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLaunchPathsOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListLaunchPathsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListPortfolioAccess':
    post:
      operationId: ListPortfolioAccess
      description: Lists the account IDs that have been authorized sharing of the specified portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPortfolioAccessOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPortfolioAccessInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListPortfolios':
    post:
      operationId: ListPortfolios
      description: Lists all portfolios in the catalog.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPortfoliosOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPortfoliosInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListPortfoliosForProduct':
    post:
      operationId: ListPortfoliosForProduct
      description: Lists all portfolios that the specified product is associated with.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPortfoliosForProductOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPortfoliosForProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListPrincipalsForPortfolio':
    post:
      operationId: ListPrincipalsForPortfolio
      description: Lists all principal ARNs associated with the specified portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrincipalsForPortfolioOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPrincipalsForPortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListProvisioningArtifacts':
    post:
      operationId: ListProvisioningArtifacts
      description: Lists all provisioning artifacts associated with the specified product.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvisioningArtifactsOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListProvisioningArtifactsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListRecordHistory':
    post:
      operationId: ListRecordHistory
      description: 'Returns a paginated list of all performed requests, in the form of RecordDetails objects that are filtered as specified.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRecordHistoryOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRecordHistoryInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListResourcesForTagOption':
    post:
      operationId: ListResourcesForTagOption
      description: Lists resources associated with a TagOption.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourcesForTagOptionOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      parameters:
        - name: PageSize
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: PageToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListResourcesForTagOptionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListTagOptions':
    post:
      operationId: ListTagOptions
      description: Lists detailed TagOptions information.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagOptionsOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      parameters:
        - name: PageSize
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: PageToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTagOptionsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ProvisionProduct':
    post:
      operationId: ProvisionProduct
      description: '<p>Requests a <i>provision</i> of a specified product. A <i>provisioned product</i> is a resourced instance for a product. For example, provisioning a CloudFormation-template-backed product results in launching a CloudFormation stack and all the underlying resources that come with it. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation. The error "Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>" indicates that your request contains a tag which has a tag key but no corresponding tag value (value is empty or null). Your call may have included values returned from a <code>DescribeProvisioningParameters</code> call that resulted in a TagOption key with an empty list. This happens when TagOption keys are in conflict. For more information, see <a>DescribeProvisioningParameters</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionProductOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: DuplicateResourceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResourceException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RejectPortfolioShare':
    post:
      operationId: RejectPortfolioShare
      description: Rejects an offer to share a portfolio.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectPortfolioShareOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectPortfolioShareInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ScanProvisionedProducts':
    post:
      operationId: ScanProvisionedProducts
      description: 'Returns a paginated list of all the ProvisionedProduct objects that are currently available (not terminated). '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanProvisionedProductsOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanProvisionedProductsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SearchProducts':
    post:
      operationId: SearchProducts
      description: '<p>Returns a paginated list all of the <code>Products</code> objects to which the caller has access. </p> <p>The output of this operation can be used as input for other operations, such as <a>DescribeProductView</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProductsOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProductsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SearchProductsAsAdmin':
    post:
      operationId: SearchProductsAsAdmin
      description: 'Retrieves summary and status information about all products created within the caller''s account. If a portfolio ID is provided, this operation retrieves information for only those products that are associated with the specified portfolio.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProductsAsAdminOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProductsAsAdminInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#TerminateProvisionedProduct':
    post:
      operationId: TerminateProvisionedProduct
      description: '<p>Requests termination of an existing ProvisionedProduct object. If there are <code>Tags</code> associated with the object, they are terminated when the ProvisionedProduct object is terminated. </p> <p>This operation does not delete any records associated with the ProvisionedProduct object.</p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateProvisionedProductOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateProvisionedProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateConstraint':
    post:
      operationId: UpdateConstraint
      description: Updates an existing constraint.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateConstraintOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConstraintInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdatePortfolio':
    post:
      operationId: UpdatePortfolio
      description: Updates the specified portfolio's details. This operation does not work with a product that has been shared with you.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePortfolioOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePortfolioInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateProduct':
    post:
      operationId: UpdateProduct
      description: Updates an existing product.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '482':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateProvisionedProduct':
    post:
      operationId: UpdateProvisionedProduct
      description: '<p>Requests updates to the configuration of an existing ProvisionedProduct object. If there are tags associated with the object, they cannot be updated or added with this operation. Depending on the specific updates requested, this operation may update with no interruption, with some interruption, or replace the ProvisionedProduct object entirely. </p> <p>You can check the status of this request using the <a>DescribeRecord</a> operation.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProvisionedProductOutput'
        '480':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProvisionedProductInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateProvisioningArtifact':
    post:
      operationId: UpdateProvisioningArtifact
      description: Updates an existing provisioning artifact's information. This operation does not work on a provisioning artifact associated with a product that has been shared with you.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProvisioningArtifactOutput'
        '480':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '481':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProvisioningArtifactInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateTagOption':
    post:
      operationId: UpdateTagOption
      description: Updates an existing TagOption.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTagOptionOutput'
        '480':
          description: TagOptionNotMigratedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagOptionNotMigratedException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: DuplicateResourceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResourceException'
        '483':
          description: InvalidParametersException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidParametersException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagOptionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AcceptLanguage:
      type: string
    AcceptPortfolioShareInput:
      type: object
      required:
        - PortfolioId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        PortfolioId:
          $ref: '#/components/schemas/Id'
    AcceptPortfolioShareOutput:
      type: object
      properties: {}
    AccessLevelFilter:
      type: object
      properties:
        Key:
          $ref: '#/components/schemas/AccessLevelFilterKey'
        Value:
          $ref: '#/components/schemas/AccessLevelFilterValue'
      description: The access level to limit results.
    AccessLevelFilterKey:
      type: string
      enum:
        - Account
        - Role
        - User
    AccessLevelFilterValue:
      type: string
    AccountId:
      type: string
      pattern: '^[0-9]{12}$'
    AccountIds:
      type: array
      items:
        $ref: '#/components/schemas/AccountId'
    AddTags:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
      maxItems: 20
    AllowedValue:
      type: string
    AllowedValues:
      type: array
      items:
        $ref: '#/components/schemas/AllowedValue'
    ApproximateCount:
      type: integer
    AssociatePrincipalWithPortfolioInput:
      type: object
      required:
        - PortfolioId
        - PrincipalARN
        - PrincipalType
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        PortfolioId:
          $ref: '#/components/schemas/Id'
        PrincipalARN:
          $ref: '#/components/schemas/PrincipalARN'
        PrincipalType:
          $ref: '#/components/schemas/PrincipalType'
    AssociatePrincipalWithPortfolioOutput:
      type: object
      properties: {}
    AssociateProductWithPortfolioInput:
      type: object
      required:
        - ProductId
        - PortfolioId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        ProductId:
          $ref: '#/components/schemas/Id'
        PortfolioId:
          $ref: '#/components/schemas/Id'
        SourcePortfolioId:
          $ref: '#/components/schemas/Id'
    AssociateProductWithPortfolioOutput:
      type: object
      properties: {}
    AssociateTagOptionWithResourceInput:
      type: object
      required:
        - ResourceId
        - TagOptionId
      properties:
        ResourceId:
          $ref: '#/components/schemas/ResourceId'
        TagOptionId:
          $ref: '#/components/schemas/TagOptionId'
    AssociateTagOptionWithResourceOutput:
      type: object
      properties: {}
    AttributeValue:
      type: string
    ConstraintDescription:
      type: string
      maxLength: 2000
    ConstraintDetail:
      type: object
      properties:
        ConstraintId:
          $ref: '#/components/schemas/Id'
        Type:
          $ref: '#/components/schemas/ConstraintType'
        Description:
          $ref: '#/components/schemas/ConstraintDescription'
        Owner:
          $ref: '#/components/schemas/AccountId'
      description: Detailed constraint information.
    ConstraintDetails:
      type: array
      items:
        $ref: '#/components/schemas/ConstraintDetail'
    ConstraintParameters:
      type: string
    ConstraintSummaries:
      type: array
      items:
        $ref: '#/components/schemas/ConstraintSummary'
    ConstraintSummary:
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/ConstraintType'
        Description:
          $ref: '#/components/schemas/ConstraintDescription'
      description: An administrator-specified constraint to apply when provisioning a product.
    ConstraintType:
      type: string
      minLength: 1
      maxLength: 1024
    CreateConstraintInput:
      type: object
      required:
        - PortfolioId
        - ProductId
        - Parameters
        - Type
        - IdempotencyToken
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        PortfolioId:
          $ref: '#/components/schemas/Id'
        ProductId:
          $ref: '#/components/schemas/Id'
        Parameters:
          $ref: '#/components/schemas/ConstraintParameters'
        Type:
          $ref: '#/components/schemas/ConstraintType'
        Description:
          $ref: '#/components/schemas/ConstraintDescription'
        IdempotencyToken:
          $ref: '#/components/schemas/IdempotencyToken'
    CreateConstraintOutput:
      type: object
      properties:
        ConstraintDetail:
          $ref: '#/components/schemas/ConstraintDetail'
        ConstraintParameters:
          $ref: '#/components/schemas/ConstraintParameters'
        Status:
          $ref: '#/components/schemas/Status'
    CreatePortfolioInput:
      type: object
      required:
        - DisplayName
        - ProviderName
        - IdempotencyToken
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        DisplayName:
          $ref: '#/components/schemas/PortfolioDisplayName'
        Description:
          $ref: '#/components/schemas/PortfolioDescription'
        ProviderName:
          $ref: '#/components/schemas/ProviderName'
        Tags:
          $ref: '#/components/schemas/AddTags'
        IdempotencyToken:
          $ref: '#/components/schemas/IdempotencyToken'
    CreatePortfolioOutput:
      type: object
      properties:
        PortfolioDetail:
          $ref: '#/components/schemas/PortfolioDetail'
        Tags:
          $ref: '#/components/schemas/Tags'
    CreatePortfolioShareInput:
      type: object
      required:
        - PortfolioId
        - AccountId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        PortfolioId:
          $ref: '#/components/schemas/Id'
        AccountId:
          $ref: '#/components/schemas/AccountId'
    CreatePortfolioShareOutput:
      type: object
      properties: {}
    CreateProductInput:
      type: object
      required:
        - Name
        - Owner
        - ProductType
        - ProvisioningArtifactParameters
        - IdempotencyToken
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Name:
          $ref: '#/components/schemas/ProductViewName'
        Owner:
          $ref: '#/components/schemas/ProductViewOwner'
        Description:
          $ref: '#/components/schemas/ProductViewShortDescription'
        Distributor:
          $ref: '#/components/schemas/ProductViewOwner'
        SupportDescription:
          $ref: '#/components/schemas/SupportDescription'
        SupportEmail:
          $ref: '#/components/schemas/SupportEmail'
        SupportUrl:
          $ref: '#/components/schemas/SupportUrl'
        ProductType:
          $ref: '#/components/schemas/ProductType'
        Tags:
          $ref: '#/components/schemas/AddTags'
        ProvisioningArtifactParameters:
          $ref: '#/components/schemas/ProvisioningArtifactProperties'
        IdempotencyToken:
          $ref: '#/components/schemas/IdempotencyToken'
    CreateProductOutput:
      type: object
      properties:
        ProductViewDetail:
          $ref: '#/components/schemas/ProductViewDetail'
        ProvisioningArtifactDetail:
          $ref: '#/components/schemas/ProvisioningArtifactDetail'
        Tags:
          $ref: '#/components/schemas/Tags'
    CreateProvisioningArtifactInput:
      type: object
      required:
        - ProductId
        - Parameters
        - IdempotencyToken
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        ProductId:
          $ref: '#/components/schemas/Id'
        Parameters:
          $ref: '#/components/schemas/ProvisioningArtifactProperties'
        IdempotencyToken:
          $ref: '#/components/schemas/IdempotencyToken'
    CreateProvisioningArtifactOutput:
      type: object
      properties:
        ProvisioningArtifactDetail:
          $ref: '#/components/schemas/ProvisioningArtifactDetail'
        Info:
          $ref: '#/components/schemas/ProvisioningArtifactInfo'
        Status:
          $ref: '#/components/schemas/Status'
    CreateTagOptionInput:
      type: object
      required:
        - Key
        - Value
      properties:
        Key:
          $ref: '#/components/schemas/TagOptionKey'
        Value:
          $ref: '#/components/schemas/TagOptionValue'
    CreateTagOptionOutput:
      type: object
      properties:
        TagOptionDetail:
          $ref: '#/components/schemas/TagOptionDetail'
    CreatedTime:
      type: string
      format: date-time
    CreationTime:
      type: string
      format: date-time
    DefaultValue:
      type: string
    DeleteConstraintInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DeleteConstraintOutput:
      type: object
      properties: {}
    DeletePortfolioInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DeletePortfolioOutput:
      type: object
      properties: {}
    DeletePortfolioShareInput:
      type: object
      required:
        - PortfolioId
        - AccountId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        PortfolioId:
          $ref: '#/components/schemas/Id'
        AccountId:
          $ref: '#/components/schemas/AccountId'
    DeletePortfolioShareOutput:
      type: object
      properties: {}
    DeleteProductInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DeleteProductOutput:
      type: object
      properties: {}
    DeleteProvisioningArtifactInput:
      type: object
      required:
        - ProductId
        - ProvisioningArtifactId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        ProductId:
          $ref: '#/components/schemas/Id'
        ProvisioningArtifactId:
          $ref: '#/components/schemas/Id'
    DeleteProvisioningArtifactOutput:
      type: object
      properties: {}
    DescribeConstraintInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribeConstraintOutput:
      type: object
      properties:
        ConstraintDetail:
          $ref: '#/components/schemas/ConstraintDetail'
        ConstraintParameters:
          $ref: '#/components/schemas/ConstraintParameters'
        Status:
          $ref: '#/components/schemas/Status'
    DescribePortfolioInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribePortfolioOutput:
      type: object
      properties:
        PortfolioDetail:
          $ref: '#/components/schemas/PortfolioDetail'
        Tags:
          $ref: '#/components/schemas/Tags'
        TagOptions:
          $ref: '#/components/schemas/TagOptionDetails'
    DescribeProductAsAdminInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribeProductAsAdminOutput:
      type: object
      properties:
        ProductViewDetail:
          $ref: '#/components/schemas/ProductViewDetail'
        ProvisioningArtifactSummaries:
          $ref: '#/components/schemas/ProvisioningArtifactSummaries'
        Tags:
          $ref: '#/components/schemas/Tags'
        TagOptions:
          $ref: '#/components/schemas/TagOptionDetails'
    DescribeProductInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribeProductOutput:
      type: object
      properties:
        ProductViewSummary:
          $ref: '#/components/schemas/ProductViewSummary'
        ProvisioningArtifacts:
          $ref: '#/components/schemas/ProvisioningArtifacts'
    DescribeProductViewInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribeProductViewOutput:
      type: object
      properties:
        ProductViewSummary:
          $ref: '#/components/schemas/ProductViewSummary'
        ProvisioningArtifacts:
          $ref: '#/components/schemas/ProvisioningArtifacts'
    DescribeProvisionedProductInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
    DescribeProvisionedProductOutput:
      type: object
      properties:
        ProvisionedProductDetail:
          $ref: '#/components/schemas/ProvisionedProductDetail'
    DescribeProvisioningArtifactInput:
      type: object
      required:
        - ProvisioningArtifactId
        - ProductId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        ProvisioningArtifactId:
          $ref: '#/components/schemas/Id'
        ProductId:
          $ref: '#/components/schemas/Id'
        Verbose:
          $ref: '#/components/schemas/Verbose'
    DescribeProvisioningArtifactOutput:
      type: object
      properties:
        ProvisioningArtifactDetail:
          $ref: '#/components/schemas/ProvisioningArtifactDetail'
        Info:
          $ref: '#/components/schemas/ProvisioningArtifactInfo'
        Status:
          $ref: '#/components/schemas/Status'
    DescribeProvisioningParametersInput:
      type: object
      required:
        - ProductId
        - ProvisioningArtifactId
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        ProductId:
          $ref: '#/components/schemas/Id'
        ProvisioningArtifactId:
          $ref: '#/components/schemas/Id'
        PathId:
          $ref: '#/components/schemas/Id'
    DescribeProvisioningParametersOutput:
      type: object
      properties:
        ProvisioningArtifactParameters:
          $ref: '#/components/schemas/ProvisioningArtifactParameters'
        ConstraintSummaries:
          $ref: '#/components/schemas/ConstraintSummaries'
        UsageInstructions:
          $ref: '#/components/schemas/UsageInstructions'
        TagOptions:
          $ref: '#/components/schemas/TagOptionSummaries'
    DescribeRecordInput:
      type: object
      required:
        - Id
      properties:
        AcceptLanguage:
          $ref: '#/components/schemas/AcceptLanguage'
        Id:
          $ref: '#/components/schemas/Id'
        PageToken:
          $ref: '#/components/schemas/PageToken'
        PageSize:
          $ref: '#/components/schemas/PageSize'
    DescribeRecordOutput:
      type: object
      properties:
        RecordDetail:
          $ref: '#/components/schemas/RecordDetail'
        RecordOutputs:
[...]
