openapi: 3.0.0
servers:
  - url: https://cloudsearch.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Search API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://cloudsearch.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: cloudsearch
externalDocs:
  url: https://developers.google.com/cloud-search/docs/guides/
tags:
  - name: debug
  - name: indexing
  - name: media
  - name: operations
  - name: query
  - name: settings
  - name: stats
  - name: v1
paths:
  /v1/debug/{name}/items:searchByViewUrl:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.debug.datasources.items.searchByViewUrl
      parameters:
        - description: "Source name, format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchItemsByViewUrlRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchItemsByViewUrlResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
      tags:
        - debug
  /v1/debug/{name}:checkAccess:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Checks whether an item is accessible by specified principal. Principal must be a user; groups and domain values aren't supported. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.debug.datasources.items.checkAccess
      parameters:
        - description: "Item name, format: datasources/{source_id}/items/{item_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Principal"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAccessResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
      tags:
        - debug
  /v1/debug/{parent}/items:forunmappedidentity:
    get:
      description: Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.debug.identitysources.items.listForunmappedidentity
      parameters:
        - description: "The name of the identity source, in the following format: identitysources/{source_id}}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - in: query
          name: groupResourceName
          schema:
            type: string
        - description: Maximum number of items to fetch in a request. Defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: userResourceName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItemNamesForUnmappedIdentityResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
      tags:
        - debug
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/debug/{parent}/unmappedids:
    get:
      description: Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.debug.identitysources.unmappedids.list
      parameters:
        - description: "The name of the identity source, in the following format: identitysources/{source_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - description: Maximum number of items to fetch in a request. Defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Limit users selection to this status.
          in: query
          name: resolutionStatusCode
          schema:
            enum:
              - CODE_UNSPECIFIED
              - NOT_FOUND
              - IDENTITY_SOURCE_NOT_FOUND
              - IDENTITY_SOURCE_MISCONFIGURED
              - TOO_MANY_MAPPINGS_FOUND
              - INTERNAL_ERROR
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUnmappedIdentitiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
      tags:
        - debug
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/indexing/{name}:
    delete:
      description: Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.delete
      parameters:
        - description: "Required. The name of the item to delete. Format: datasources/{source_id}/items/{item_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
          in: query
          name: connectorName
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - description: Required. The RequestMode for this request.
          in: query
          name: mode
          schema:
            enum:
              - UNSPECIFIED
              - SYNCHRONOUS
              - ASYNCHRONOUS
            type: string
        - description: Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes. For information on how item version affects the deletion process, refer to [Handle revisions after manual deletes](https://developers.google.com/cloud-search/docs/guides/operations).
          in: query
          name: version
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
    get:
      description: Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.get
      parameters:
        - description: "The name of the item to get info. Format: datasources/{source_id}/items/{item_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
          in: query
          name: connectorName
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/indexing/{name}/items:
    get:
      description: Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.list
      parameters:
        - description: "The name of the Data Source to list Items. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item."
          in: query
          name: brief
          schema:
            type: boolean
        - description: "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
          in: query
          name: connectorName
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - description: Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItemsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/indexing/{name}/items:deleteQueueItems:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.deleteQueueItems
      parameters:
        - description: "The name of the Data Source to delete items in a queue. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteQueueItemsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/indexing/{name}/items:poll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
      operationId: cloudsearch.indexing.datasources.items.poll
      parameters:
        - description: "The name of the Data Source to poll items. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PollItemsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PollItemsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/indexing/{name}/items:unreserve:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.unreserve
      parameters:
        - description: "The name of the Data Source to unreserve all items. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnreserveItemsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/indexing/{name}/schema:
    delete:
      description: Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.
      operationId: cloudsearch.indexing.datasources.deleteSchema
      parameters:
        - description: "The name of the data source to delete Schema. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - indexing
    get:
      description: Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.
      operationId: cloudsearch.indexing.datasources.getSchema
      parameters:
        - description: "The name of the data source to get Schema. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - indexing
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.
      operationId: cloudsearch.indexing.datasources.updateSchema
      parameters:
        - description: "The name of the data source to update Schema. Format: datasources/{source_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSchemaRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - indexing
  /v1/indexing/{name}:index:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.index
      parameters:
        - description: "The name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IndexItemRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/indexing/{name}:push:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.push
      parameters:
        - description: "The name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushItemRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/indexing/{name}:upload:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.
      operationId: cloudsearch.indexing.datasources.items.upload
      parameters:
        - description: "The name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartUploadItemRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadItemRef"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - indexing
  /v1/media/{resourceName}:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute."
      operationId: cloudsearch.media.upload
      parameters:
        - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/Media"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Media"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
      tags:
        - media
  /v1/query/search:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from Google Workspace apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).
      operationId: cloudsearch.query.search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.query
      tags:
        - query
  /v1/query/sources:
    get:
      description: Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).
      operationId: cloudsearch.query.sources.list
      parameters:
        - description: Number of sources to return in the response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: requestOptions.debugOptions.enableDebugging
          schema:
            type: boolean
        - description: The BCP-47 language code, such as "en-US" or "sr-Latn". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The Suggest API uses this field as a hint to make better third-party autocomplete predictions.
          in: query
          name: requestOptions.languageCode
          schema:
            type: string
        - description: The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).
          in: query
          name: requestOptions.searchApplicationId
          schema:
            type: string
        - description: Current user's time zone id, such as "America/Los_Angeles" or "Australia/Sydney". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.
          in: query
          name: requestOptions.timeZone
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQuerySourcesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.query
      tags:
        - query
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/query/suggest:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).
      operationId: cloudsearch.query.suggest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuggestRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuggestResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.query
      tags:
        - query
  /v1/query:removeActivity:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Provides functionality to remove logged activity for a user. Currently to be used only for Chat 1p clients **Note:** This API requires a standard end user account to execute. A service account can't perform Remove Activity requests directly; to use a service account to perform queries, set up [Google Workspace domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).
      operationId: cloudsearch.query.removeActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveActivityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveActivityResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.query
      tags:
        - query
  /v1/settings/customer:
    get:
      description: Get customer settings. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.getCustomer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - settings
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Update customer settings. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.updateCustomer
      parameters:
        - description: "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerSettings"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - settings
  /v1/settings/datasources:
    get:
      description: Lists datasources. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.datasources.list
      parameters:
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - description: Maximum number of datasources to fetch in a request. The max value is 1000. The default value is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Starting index of the results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDataSourceResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - settings
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a datasource. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.datasources.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataSource"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - settings
  /v1/settings/searchapplications:
    get:
      description: Lists all search applications. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.list
      parameters:
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any. The default value is 10
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchApplicationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a search application. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchApplication"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
  /v1/settings/{name}:
    delete:
      description: Deletes a search application. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.delete
      parameters:
        - description: "The name of the search application to be deleted. Format: applications/{application_id}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
    get:
      description: Gets the specified search application. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.get
      parameters:
        - description: "The name of the search application. Format: searchapplications/{application_id}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchApplication"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a search application. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.patch
      parameters:
        - description: "The name of the Search Application. Format: searchapplications/{application_id}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated."
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchApplication"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
    put:
      description: Updates a search application. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.update
      parameters:
        - description: "The name of the Search Application. Format: searchapplications/{application_id}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Only applies to [`settings.searchapplications.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.searchapplications/patch). Update mask to control which fields to update. Example field paths: `search_application.name`, `search_application.displayName`. * If `update_mask` is non-empty, then only the fields specified in the `update_mask` are updated. * If you specify a field in the `update_mask`, but don't specify its value in the `search_application`, then that field is cleared. * If the `update_mask` is not present or empty or has the value `*`, then all fields are updated."
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchApplication"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
  /v1/settings/{name}:reset:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.settings.searchapplications.reset
      parameters:
        - description: "The name of the search application to be reset. Format: applications/{application_id}."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetSearchApplicationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - settings
  /v1/stats/index:
    get:
      description: Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.getIndex
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerIndexStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/index/{name}:
    get:
      description: Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.index.datasources.get
      parameters:
        - description: 'The resource id of the data source to retrieve statistics for, in the following format: "datasources/{source_id}"'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataSourceIndexStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/query:
    get:
      description: Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.getQuery
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerQueryStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/query/{name}:
    get:
      description: Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.query.searchapplications.get
      parameters:
        - description: "The resource id of the search application query stats, in the following format: searchapplications/{application_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearchApplicationQueryStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/searchapplication:
    get:
      description: Get search application stats for customer. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.getSearchapplication
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: endDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: endDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: endDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: startDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: startDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: startDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerSearchApplicationStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/session:
    get:
      description: "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute."
      operationId: cloudsearch.stats.getSession
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerSessionStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/session/{name}:
    get:
      description: "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute."
      operationId: cloudsearch.stats.session.searchapplications.get
      parameters:
        - description: "The resource id of the search application session stats, in the following format: searchapplications/{application_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearchApplicationSessionStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/user:
    get:
      description: Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.getUser
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomerUserStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/stats/user/{name}:
    get:
      description: Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.
      operationId: cloudsearch.stats.user.searchapplications.get
      parameters:
        - description: "The resource id of the search application session stats, in the following format: searchapplications/{application_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          schema:
            type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          schema:
            type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          schema:
            type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearchApplicationUserStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.stats.indexing
      tags:
        - stats
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: cloudsearch.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}/lro:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: cloudsearch.operations.lro.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.debug
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.debug
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.indexing
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.query
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.query
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1:initializeCustomer:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enables `third party` support in Google Cloud Search. **Note:** This API requires an admin account to execute.
      operationId: cloudsearch.initializeCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitializeCustomerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings
        - Oauth2:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
          Oauth2c:
            - https://www.googleapis.com/auth/cloud_search.settings.indexing
      tags:
        - v1
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Action:
      properties:
        title:
          description: "[Required] Title of the action."
          type: string
        url:
          description: "[Optional] Url of the action."
          type: string
      type: object
    AuditLoggingSettings:
      description: Represents the settings for Cloud audit logging
      properties:
        logAdminReadActions:
          description: Indicates whether audit logging is on/off for admin activity read APIs i.e. Get/List DataSources, Get/List SearchApplications etc.
          type: boolean
        logDataReadActions:
          description: Indicates whether audit logging is on/off for data access read APIs i.e. ListItems, GetItem etc.
          type: boolean
        logDataWriteActions:
          description: Indicates whether audit logging is on/off for data access write APIs i.e. IndexItem etc.
          type: boolean
        project:
          description: "The resource name of the GCP Project to store audit logs. Cloud audit logging will be enabled after project_name has been updated through CustomerService. Format: projects/{project_id}"
          type: string
      type: object
    BackgroundColoredText:
      properties:
        backgroundColor:
          description: "[Optional] Color of the background. The text color can change depending on the selected background color, and the client does not have control over this. If missing, the background will be WHITE."
          enum:
            - UNKNOWN_COLOR
            - WHITE
            - YELLOW
[...]
