swagger: '2.0'
schemes:
  - https
host: cloudsearch.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Cloud Search provides cloud-based search capabilities over G Suite data.  The Cloud Search API allows indexing of non-G Suite data into Cloud Search.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Search
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://cloudsearch.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudsearch
externalDocs:
  url: 'https://developers.google.com/cloud-search/docs/guides/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud_search': Index and serve your organization's data with Cloud Search
      'https://www.googleapis.com/auth/cloud_search.debug': 'New Service: https://www.googleapis.com/auth/cloud_search.debug'
      'https://www.googleapis.com/auth/cloud_search.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.indexing'
      'https://www.googleapis.com/auth/cloud_search.query': Search your organization's data in the Cloud Search index
      'https://www.googleapis.com/auth/cloud_search.settings': 'New Service: https://www.googleapis.com/auth/cloud_search.settings'
      'https://www.googleapis.com/auth/cloud_search.settings.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.settings.indexing'
      'https://www.googleapis.com/auth/cloud_search.settings.query': 'New Service: https://www.googleapis.com/auth/cloud_search.settings.query'
      'https://www.googleapis.com/auth/cloud_search.stats': 'New Service: https://www.googleapis.com/auth/cloud_search.stats'
      'https://www.googleapis.com/auth/cloud_search.stats.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.stats.indexing'
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud_search': Index and serve your organization's data with Cloud Search
      'https://www.googleapis.com/auth/cloud_search.debug': 'New Service: https://www.googleapis.com/auth/cloud_search.debug'
      'https://www.googleapis.com/auth/cloud_search.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.indexing'
      'https://www.googleapis.com/auth/cloud_search.query': Search your organization's data in the Cloud Search index
      'https://www.googleapis.com/auth/cloud_search.settings': 'New Service: https://www.googleapis.com/auth/cloud_search.settings'
      'https://www.googleapis.com/auth/cloud_search.settings.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.settings.indexing'
      'https://www.googleapis.com/auth/cloud_search.settings.query': 'New Service: https://www.googleapis.com/auth/cloud_search.settings.query'
      'https://www.googleapis.com/auth/cloud_search.stats': 'New Service: https://www.googleapis.com/auth/cloud_search.stats'
      'https://www.googleapis.com/auth/cloud_search.stats.indexing': 'New Service: https://www.googleapis.com/auth/cloud_search.stats.indexing'
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: debug
  - name: indexing
  - name: media
  - name: operations
  - name: query
  - name: settings
  - name: stats
paths:
  '/v1/debug/{name}/items:searchByViewUrl':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Fetches the item whose viewUrl exactly matches that of the URL provided
        in the request.
      operationId: cloudsearch.debug.datasources.items.searchByViewUrl
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchItemsByViewUrlRequest'
        - description: |-
            Source name, format:
            datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchItemsByViewUrlResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
      tags:
        - debug
  '/v1/debug/{name}:checkAccess':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Checks whether an item is accessible by specified principal.
      operationId: cloudsearch.debug.datasources.items.checkAccess
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Principal'
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Item name, format:
            datasources/{source_id}/items/{item_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CheckAccessResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
      tags:
        - debug
  '/v1/debug/{parent}/items:forunmappedidentity':
    get:
      description: Lists names of items associated with an unmapped identity.
      operationId: cloudsearch.debug.identitysources.items.listForunmappedidentity
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - in: query
          name: groupResourceName
          type: string
        - description: |-
            Maximum number of items to fetch in a request.
            Defaults to 100.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the identity source, in the following format:
            identitysources/{source_id}}
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - in: query
          name: userResourceName
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListItemNamesForUnmappedIdentityResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
      tags:
        - debug
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/debug/{parent}/unmappedids':
    get:
      description: List all unmapped identities for a specific item.
      operationId: cloudsearch.debug.datasources.items.unmappedids.list
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Maximum number of items to fetch in a request.
            Defaults to 100.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the item, in the following format:
            datasources/{source_id}/items/{ID}
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: Limit users selection to this status.
          enum:
            - CODE_UNSPECIFIED
            - NOT_FOUND
            - IDENTITY_SOURCE_NOT_FOUND
            - IDENTITY_SOURCE_MISCONFIGURED
            - TOO_MANY_MAPPINGS_FOUND
            - INTERNAL_ERROR
          in: query
          name: resolutionStatusCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListUnmappedIdentitiesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
      tags:
        - debug
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/indexing/{name}':
    delete:
      description: |-
        Deletes Item resource for the
        specified resource name.
      operationId: cloudsearch.indexing.datasources.items.delete
      parameters:
        - description: |-
            Name of connector making this call.
            <br />Format: datasources/{source_id}/connectors/{ID}
          in: query
          name: connectorName
          type: string
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: Required. The RequestMode for this request.
          enum:
            - UNSPECIFIED
            - SYNCHRONOUS
            - ASYNCHRONOUS
          in: query
          name: mode
          type: string
        - description: |-
            Required. Name of the item to delete.
            Format: datasources/{source_id}/items/{item_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Required. The incremented version of the item to delete from the index.
            The indexing system stores the version from the datasource as a
            byte string and compares the Item version in the index
            to the version of the queued Item using lexical ordering.
            <br /><br />
            Cloud Search Indexing won't delete any queued item with
            a version value that is less than or equal to
            the version of the currently indexed item.
            The maximum length for this field is 1024 bytes.
          in: query
          name: version
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
    get:
      description: Gets Item resource by item name.
      operationId: cloudsearch.indexing.datasources.items.get
      parameters:
        - description: |-
            Name of connector making this call.
            <br />Format: datasources/{source_id}/connectors/{ID}
          in: query
          name: connectorName
          type: string
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the item to get info.
            Format: datasources/{source_id}/items/{item_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Item'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/indexing/{name}/items':
    get:
      description: Lists all or a subset of Item resources.
      operationId: cloudsearch.indexing.datasources.items.list
      parameters:
        - description: |-
            When set to true, the indexing system only populates the following fields:
            name,
            version,
            metadata.hash,
            structured_data.hash,
            content.hash.
            <br />If this value is false, then all the fields are populated in Item.
          in: query
          name: brief
          type: boolean
        - description: |-
            Name of connector making this call.
            <br />Format: datasources/{source_id}/connectors/{ID}
          in: query
          name: connectorName
          type: string
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the Data Source to list Items.  Format:
            datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Maximum number of items to fetch in a request.
            The max value is 1000 when brief is true.  The max value is 10 if brief
            is false.
            <br />The default value is 10
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListItemsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/indexing/{name}/items:deleteQueueItems':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Deletes all items in a queue. This method is useful for deleting stale
        items.
      operationId: cloudsearch.indexing.datasources.items.deleteQueueItems
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeleteQueueItemsRequest'
        - description: |-
            Name of the Data Source to delete items in a queue.
            Format: datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}/items:poll':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Polls for unreserved items from the indexing queue and marks a
        set as reserved, starting with items that have
        the oldest timestamp from the highest priority
        ItemStatus.
        The priority order is as follows: <br />
        ERROR
        <br />
        MODIFIED
        <br />
        NEW_ITEM
        <br />
        ACCEPTED
        <br />
        Reserving items ensures that polling from other threads
        cannot create overlapping sets.

        After handling the reserved items, the client should put items back
        into the unreserved state, either by calling
        index,
        or by calling
        push with
        the type REQUEUE.

        Items automatically become available (unreserved) after 4 hours even if no
        update or push method is called.
      operationId: cloudsearch.indexing.datasources.items.poll
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PollItemsRequest'
        - description: |-
            Name of the Data Source to poll items.
            Format: datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PollItemsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}/items:unreserve':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Unreserves all items from a queue, making them all eligible to be
        polled.  This method is useful for resetting the indexing queue
        after a connector has been restarted.
      operationId: cloudsearch.indexing.datasources.items.unreserve
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UnreserveItemsRequest'
        - description: |-
            Name of the Data Source to unreserve all items.
            Format: datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}/schema':
    delete:
      description: Deletes the schema of a data source.
      operationId: cloudsearch.indexing.datasources.deleteSchema
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the data source to delete Schema.  Format:
            datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - indexing
    get:
      description: Gets the schema of a data source.
      operationId: cloudsearch.indexing.datasources.getSchema
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the data source to get Schema.  Format:
            datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - indexing
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates the schema of a data source.
      operationId: cloudsearch.indexing.datasources.updateSchema
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateSchemaRequest'
        - description: |-
            Name of the data source to update Schema.  Format:
            datasources/{source_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}:index':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Updates Item ACL, metadata, and
        content. It will insert the Item if it
        does not exist.
        This method does not support partial updates.  Fields with no provided
        values are cleared out in the Cloud Search index.
      operationId: cloudsearch.indexing.datasources.items.index
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/IndexItemRequest'
        - description: |-
            Name of the Item. Format:
            datasources/{source_id}/items/{item_id}
            <br />This is a required field.
            The maximum length is 1536 characters.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}:push':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Pushes an item onto a queue for later polling and updating.
      operationId: cloudsearch.indexing.datasources.items.push
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PushItemRequest'
        - description: |-
            Name of the item to
            push into the indexing queue.<br />
            Format: datasources/{source_id}/items/{ID}
            <br />This is a required field.
            The maximum length is 1536 characters.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Item'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/indexing/{name}:upload':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an upload session for uploading item content. For items smaller
        than 100 KiB, it's easier to embed the content
        inline within
        update.
      operationId: cloudsearch.indexing.datasources.items.upload
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StartUploadItemRequest'
        - description: |-
            Name of the Item to start a resumable upload.
            Format: datasources/{source_id}/items/{item_id}.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UploadItemRef'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - indexing
  '/v1/media/{resourceName}':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      consumes:
        - application/octet-stream
      description: |-
        Uploads media for indexing.

        The upload endpoint supports direct and resumable upload protocols and
        is intended for large items that can not be inlined during index requests. To
        index large content:

        1. Call upload to begin
           a session and get the item reference.
        1. Upload the content using the item reference's resource name.
        1. Call index with the item
           reference as the content.

        For additional information, see
        [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest).
      operationId: cloudsearch.media.upload
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Media'
        - description: |-
            Name of the media that is being downloaded.  See
            ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Media'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
      tags:
        - media
  /v1/query/search:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        The Cloud Search Query API provides the search method, which returns
        the most relevant results from a user query.  The results can come from
        G Suite Apps, such as Gmail or Google Drive, or they can come from data
        that you have indexed from a third party.
      operationId: cloudsearch.query.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.query'
      tags:
        - query
  /v1/query/sources:
    get:
      description: Returns list of sources that user can use for Search and Suggest APIs.
      operationId: cloudsearch.query.sources.list
      parameters:
        - description: Number of sources to return in the response.
          in: query
          name: pageToken
          type: string
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: requestOptions.debugOptions.enableDebugging
          type: boolean
        - description: |-
            The BCP-47 language code, such as "en-US" or "sr-Latn".
            For more information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
            For translations.

            When specified, the documents in search results are biased towards the
            specified language.
            Suggest API does not use this parameter. It autocompletes only based on
            characters in the query.
          in: query
          name: requestOptions.languageCode
          type: string
        - description: Id of the application created using SearchApplicationsService.
          in: query
          name: requestOptions.searchApplicationId
          type: string
        - description: |-
            Current user's time zone id, such as "America/Los_Angeles" or
            "Australia/Sydney". These IDs are defined by
            [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/)
            project, and currently available in the file
            [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml)
          in: query
          name: requestOptions.timeZone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListQuerySourcesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.query'
      tags:
        - query
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  /v1/query/suggest:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Provides suggestions for autocompleting the query.
      operationId: cloudsearch.query.suggest
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SuggestRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SuggestResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.query'
      tags:
        - query
  /v1/settings/datasources:
    get:
      description: Lists datasources.
      operationId: cloudsearch.settings.datasources.list
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Maximum number of datasources to fetch in a request.
            The max value is 100.
            <br />The default value is 10
          in: query
          name: pageSize
          type: integer
        - description: Starting index of the results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDataSourceResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a datasource.
      operationId: cloudsearch.settings.datasources.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DataSource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - settings
  /v1/settings/searchapplications:
    get:
      description: Lists all search applications.
      operationId: cloudsearch.settings.searchapplications.list
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The next_page_token value returned from a previous List request, if any.
            <br/> The default value is 10
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSearchApplicationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a search application.
      operationId: cloudsearch.settings.searchapplications.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchApplication'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
      tags:
        - settings
  '/v1/settings/{name}':
    delete:
      description: Deletes a datasource.
      operationId: cloudsearch.settings.datasources.delete
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the datasource.
            Format: datasources/{source_id}.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - settings
    get:
      description: Gets a datasource.
      operationId: cloudsearch.settings.datasources.get
      parameters:
        - description: |-
            If you are asked by Google to help with debugging, set this field.
            Otherwise, ignore this field.
          in: query
          name: debugOptions.enableDebugging
          type: boolean
        - description: |-
            Name of the datasource resource.
            Format: datasources/{source_id}.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DataSource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates a datasource.
      operationId: cloudsearch.settings.datasources.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateDataSourceRequest'
        - description: |-
            Name of the datasource resource.
            Format: datasources/{source_id}.
            <br />The name is ignored when creating a datasource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
      tags:
        - settings
  '/v1/settings/{name}:reset':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Resets a search application to default settings. This will return an empty
        response.
      operationId: cloudsearch.settings.searchapplications.reset
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ResetSearchApplicationRequest'
        - description: |-
            The name of the search application to be reset.
            <br />Format: applications/{application_id}.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
      tags:
        - settings
  /v1/stats/index:
    get:
      description: |-
        Gets indexed item statistics aggreggated across all data sources. This
        API only returns statistics for previous dates; it doesn't return
        statistics for the current day.
      operationId: cloudsearch.stats.getIndex
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          type: integer
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetCustomerIndexStatsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.stats'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.stats'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.stats.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.stats.indexing'
      tags:
        - stats
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/stats/index/{name}':
    get:
      description: Gets indexed item statistics for a single data source.
      operationId: cloudsearch.stats.index.datasources.get
      parameters:
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: fromDate.day
          type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: fromDate.month
          type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: fromDate.year
          type: integer
        - description: |-
            The resource id of the data source to retrieve statistics for,
            in the following format: "datasources/{source_id}"
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: Day of month. Must be from 1 to 31 and valid for the year and month.
          in: query
          name: toDate.day
          type: integer
        - description: Month of date. Must be from 1 to 12.
          in: query
          name: toDate.month
          type: integer
        - description: Year of date. Must be from 1 to 9999.
          in: query
          name: toDate.year
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetDataSourceIndexStatsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.stats'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.stats'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.stats.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.stats.indexing'
      tags:
        - stats
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}':
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: cloudsearch.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.debug'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.indexing'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.indexing'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud_search.settings.query'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  BooleanOperatorOptions:
    description: |-
      Used to provide a search operator for boolean properties. This is
      optional. Search operators let users restrict the query to specific fields
      relevant to the type of item being searched.
    properties:
      operatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          boolean property. For example, if operatorName is *closed* and the
          property's name is *isClosed*, then queries like
          *closed:&lt;value&gt;* will show results only where the value of the
          property named *isClosed* matches *&lt;value&gt;*. By contrast, a
          search that uses the same *&lt;value&gt;* without an operator will return
          all items where *&lt;value&gt;* matches the value of any
          String properties or text within the content field for the item.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  BooleanPropertyOptions:
    description: Options for boolean properties.
    properties:
      operatorOptions:
        $ref: '#/definitions/BooleanOperatorOptions'
        description: 'If set, describes how the boolean should be used as a search operator.'
    type: object
  CheckAccessResponse:
    properties:
      hasAccess:
        description: Returns true if principal has access.  Returns false otherwise.
        type: boolean
    type: object
  CompositeFilter:
    properties:
      logicOperator:
        description: The logic operator of the sub filter.
        enum:
          - AND
          - OR
          - NOT
        type: string
      subFilters:
        description: Sub filters.
        items:
          $ref: '#/definitions/Filter'
        type: array
    type: object
  CustomerIndexStats:
    description: Aggregation of items by status code as of the specified date.
    properties:
      date:
        $ref: '#/definitions/Date'
        description: Date for which statistics were calculated.
      itemCountByStatus:
        description: Number of items aggregrated by status code.
        items:
          $ref: '#/definitions/ItemCountByStatus'
        type: array
    type: object
  DataSource:
    description: |-
      Datasource is a logical namespace for items to be indexed.
      All items must belong to a datasource.  This is the prerequisite before
      items can be indexed into Cloud Search.
    properties:
      disableModifications:
        description: |-
          If true, Indexing API rejects any modification calls to this datasource
          such as create, update, and delete.
          Disabling this does not imply halting process of previously
          accepted data.
        type: boolean
      disableServing:
        description: Disable serving any search or assist results.
        type: boolean
      displayName:
        description: |-
          Required. Display name of the datasource
          The maximum length is 300 characters.
        type: string
      indexingServiceAccounts:
        description: List of service accounts that have indexing access.
        items:
          type: string
        type: array
      itemsVisibility:
        description: |-
          This field restricts visibility to items at the datasource level. Items
          within the datasource are restricted to the union of users and groups
          included in this field. Note that, this does not ensure access to a
          specific item, as users need to have ACL permissions on the contained
          items. This ensures a high level access on the entire datasource, and
          that the individual items are not shared outside this visibility.
        items:
          $ref: '#/definitions/GSuitePrincipal'
        type: array
      name:
        description: |-
          Name of the datasource resource.
          Format: datasources/{source_id}.
          <br />The name is ignored when creating a datasource.
        type: string
      operationIds:
        description: |-
          IDs of the Long Running Operations (LROs) currently running for this
          schema.
        items:
          type: string
        type: array
      shortName:
        description: |-
          A short name or alias for the source.  This value will be used to match the
          'source' operator. For example, if the short name is *&lt;value&gt;* then
          queries like *source:&lt;value&gt;* will only return results for this
          source. The value must be unique across all datasources. The value must
          only contain alphanumeric characters (a-zA-Z0-9). The value cannot start
          with 'google' and cannot be one of the following: mail, gmail, docs, drive,
          groups, sites, calendar, hangouts, gplus, keep, people, teams.
          Its maximum length is 32 characters.
        type: string
    type: object
  DataSourceIndexStats:
    description: Aggregation of items by status code as of the specified date.
    properties:
      date:
        $ref: '#/definitions/Date'
        description: |-
          Date for which index stats were calculated. If the date of request is not
          the current date then stats calculated on the next day are returned. Stats
          are calculated close to mid night in this case. If date of request is
          current date, then real time stats are returned.
      itemCountByStatus:
        description: Number of items aggregrated by status code.
        items:
          $ref: '#/definitions/ItemCountByStatus'
        type: array
    type: object
  DataSourceRestriction:
    description: Restriction on Datasource.
    properties:
      filterOptions:
        description: |-
          Filter options restricting the results. If multiple filters
          are present, they are grouped by object type before joining.
          Filters with the same object type are joined conjunctively, then
          the resulting expressions are joined disjunctively.

          The maximum number of elements is 20.

          NOTE: Suggest API supports only few filters at the moment:
            "objecttype", "type" and "mimetype".
          For now, schema specific filters cannot be used to filter suggestions.
        items:
          $ref: '#/definitions/FilterOptions'
        type: array
      source:
        $ref: '#/definitions/Source'
        description: The source of restriction.
    type: object
  Date:
    description: 'Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.'
    properties:
      day:
        description: Day of month. Must be from 1 to 31 and valid for the year and month.
        format: int32
        type: integer
      month:
        description: Month of date. Must be from 1 to 12.
        format: int32
        type: integer
      year:
        description: Year of date. Must be from 1 to 9999.
        format: int32
        type: integer
    type: object
  DateOperatorOptions:
    description: |-
      Optional. Provides a search operator for date properties.
      Search operators let users restrict the query to specific fields relevant
      to the type of item being searched.
    properties:
      greaterThanOperatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          date property using the greater-than operator. For example, if
          greaterThanOperatorName is *closedafter* and the property's name is
          *closeDate*, then queries like *closedafter:&lt;value&gt;* will
          show results only where the value of the property named *closeDate* is
          later than *&lt;value&gt;*.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
      lessThanOperatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          date property using the less-than operator. For example, if
          lessThanOperatorName is *closedbefore* and the property's name is
          *closeDate*, then queries like *closedbefore:&lt;value&gt;* will
          show results only where the value of the property named *closeDate* is
          earlier than *&lt;value&gt;*.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
      operatorName:
        description: |-
          Indicates the actual string required in the query in order to isolate the
          date property. For example, suppose an issue tracking schema object
          has a property named *closeDate* that specifies an operator with an
          operatorName of *closedon*. For searches on that data, queries like
          *closedon:&lt;value&gt;* will show results only where the value of the
          *closeDate* property matches *&lt;value&gt;*. By contrast, a
          search that uses the same *&lt;value&gt;* without an operator will return
          all items where *&lt;value&gt;* matches the value of any String
          properties or text within the content field for the indexed datasource.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  DatePropertyOptions:
    description: Options for date properties.
    properties:
      operatorOptions:
        $ref: '#/definitions/DateOperatorOptions'
        description: 'If set, describes how the date should be used as a search operator.'
    type: object
  DateValues:
    description: List of date values.
    properties:
      values:
        items:
          $ref: '#/definitions/Date'
        type: array
    type: object
  DebugOptions:
    description: Shared request debug options for all cloudsearch RPC methods.
    properties:
      enableDebugging:
        description: |-
          If you are asked by Google to help with debugging, set this field.
          Otherwise, ignore this field.
        type: boolean
    type: object
  DeleteQueueItemsRequest:
    properties:
      connectorName:
        description: |-
          Name of connector making this call.
          <br />Format: datasources/{source_id}/connectors/{ID}
        type: string
      debugOptions:
        $ref: '#/definitions/DebugOptions'
        description: Common debug options.
      queue:
        description: Name of a queue to delete items from.
        type: string
    type: object
  DisplayedProperty:
    description: |-
      A reference to a top-level property within the object that should be
      displayed in search results. The values of the chosen properties will be
      displayed in the search results along with the
      dislpay label
      for that property if one is specified. If a display label is not specified,
      only the values will be shown.
    properties:
      propertyName:
        description: |-
          The name of the top-level property as defined in a property definition
          for the object. If the name is not a defined property in the schema, an
          error will be given when attempting to update the schema.
        type: string
    type: object
  DoubleOperatorOptions:
    description: |-
      Used to provide a search operator for double properties. This is
      optional. Search operators let users restrict the query to specific fields
      relevant to the type of item being searched.
    properties:
      operatorName:
        description: |-
          Indicates the operator name required in the query in order to use the
          double property in sorting or as a facet.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  DoublePropertyOptions:
    description: Options for double properties.
    properties:
      operatorOptions:
        $ref: '#/definitions/DoubleOperatorOptions'
        description: 'If set, describes how the double should be used as a search operator.'
    type: object
  DoubleValues:
    description: List of double values.
    properties:
      values:
        items:
          format: double
          type: number
        type: array
    type: object
  DriveFollowUpRestrict:
    description: 'Drive follow-up search restricts (e.g. "followup:suggestions").'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - FOLLOWUP_SUGGESTIONS
          - FOLLOWUP_ACTION_ITEMS
        type: string
    type: object
  DriveLocationRestrict:
    description: 'Drive location search restricts (e.g. "is:starred").'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - TRASHED
          - STARRED
        type: string
    type: object
  DriveMimeTypeRestrict:
    description: 'Drive mime-type search restricts (e.g. "type:pdf").'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - PDF
          - DOCUMENT
          - PRESENTATION
          - SPREADSHEET
          - FORM
          - DRAWING
          - SCRIPT
          - MAP
          - IMAGE
          - AUDIO
          - VIDEO
          - FOLDER
          - ARCHIVE
          - SITE
        type: string
    type: object
  DriveTimeSpanRestrict:
    description: 'The time span search restrict (e.g. "after:2017-09-11 before:2017-09-12").'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - TODAY
          - YESTERDAY
          - LAST_7_DAYS
          - LAST_30_DAYS
          - LAST_90_DAYS
        type: string
    type: object
  EmailAddress:
    description: A person's email address.
    properties:
      emailAddress:
        description: The email address.
        type: string
    type: object
  EnumOperatorOptions:
    description: |-
      Used to provide a search operator for enum properties. This is
      optional. Search operators let users restrict the query to specific fields
      relevant to the type of item being searched. For example, if you provide no
      operator for a *priority* enum property with possible values *p0* and *p1*,
      a query that contains the term *p0* will return items that have *p0* as the
      value of the *priority* property, as well as any items that contain the
      string *p0* in other fields. If you provide an operator name for the enum,
      such as *priority*, then search users can use that operator to refine
      results to only items that have *p0* as this property's value, with the
      query *priority:p0*.
    properties:
      operatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          enum property. For example, if operatorName is *priority* and the
          property's name is *priorityVal*, then queries like
          *priority:&lt;value&gt;* will show results only where the value of the
          property named *priorityVal* matches *&lt;value&gt;*. By contrast, a
          search that uses the same *&lt;value&gt;* without an operator will return
          all items where *&lt;value&gt;* matches the value of any String
          properties or text within the content field for the item.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  EnumPropertyOptions:
    description: |-
      Options for enum properties, which allow you to define a restricted set of
      strings to match user queries, set rankings for those string values, and
      define an operator name to be paired with those strings so that users can
      narrow results to only items with a specific value. For example, for items in
      a request tracking system with priority information, you could define *p0* as
      an allowable enum value and tie this enum to the operator name *priority* so
      that search users could add *priority:p0* to their query to restrict the set
      of results to only those items indexed with the value *p0*.
    properties:
      operatorOptions:
        $ref: '#/definitions/EnumOperatorOptions'
        description: 'If set, describes how the enum should be used as a search operator.'
      orderedRanking:
        description: |-
          Used to specify the ordered ranking for the enumeration that determines how
          the integer values provided in the possible EnumValuePairs are used to rank
          results. If specified, integer values must be provided for all possible
          EnumValuePair values given for this property. Can only be used if
          isRepeatable
          is false.
        enum:
          - NO_ORDER
          - ASCENDING
          - DESCENDING
        type: string
      possibleValues:
        description: |-
          The list of possible values for the enumeration property. All
          EnumValuePairs must provide a string value. If you specify an integer value
          for one EnumValuePair, then all possible EnumValuePairs must provide an
          integer value. Both the string value and integer value must be unique over
          all possible values. Once set, possible values cannot be removed or
          modified. If you supply an ordered ranking and think you might insert
          additional enum values in the future, leave gaps in the initial integer
          values to allow adding a value in between previously registered values.
          The maximum number of elements is 100.
        items:
          $ref: '#/definitions/EnumValuePair'
        type: array
    type: object
  EnumValuePair:
    description: |-
      The enumeration value pair defines two things: a required string value and
      an optional integer value. The string value defines the necessary query
      term required to retrieve that item, such as *p0* for a priority item.
      The integer value determines the ranking of that string value relative
      to other enumerated values for the same property. For example, you might
      associate *p0* with *0* and define another enum pair such as *p1* and *1*.
      You must use the integer value in combination with
      ordered
      ranking to
      set the ranking of a given value relative to other enumerated values for
      the same property name. Here, a ranking order of DESCENDING for *priority*
      properties results in a ranking boost for items indexed with a value of
      *p0* compared to items indexed with a value of *p1*. Without a specified
      ranking order, the integer value has no effect on item ranking.
    properties:
      integerValue:
        description: |-
          The integer value of the EnumValuePair which must be non-negative.
          Optional.
        format: int32
        type: integer
      stringValue:
        description: |-
          The string value of the EnumValuePair.
          The maximum length is 32 characters.
        type: string
    type: object
  EnumValues:
    description: List of enum values.
    properties:
      values:
        description: The maximum allowable length for string values is 32 characters.
        items:
          type: string
        type: array
    type: object
  ErrorInfo:
    description: Error information about the response.
    properties:
      errorMessages:
        items:
          $ref: '#/definitions/ErrorMessage'
        type: array
    type: object
  ErrorMessage:
    description: Error message per source response.
    properties:
      errorMessage:
        type: string
      source:
        $ref: '#/definitions/Source'
    type: object
  FacetBucket:
    description: |-
      A bucket in a facet is the basic unit of operation. A bucket can comprise
      either a single value OR a contiguous range of values, depending on the
      type of the field bucketed.
      FacetBucket is currently used only for returning the response object.
    properties:
      count:
        description: |-
          Number of results that match the bucket value. Counts are only returned
          for searches when count accuracy is ensured. Can be empty.
        format: int32
        type: integer
      percentage:
        description: |-
          Percent of results that match the bucket value. This value is between
          (0-100]. Percentages are returned for all searches, but are an estimate.
          Because percentages are always returned, you should render percentages
          instead of counts.
        format: int32
        type: integer
      value:
        $ref: '#/definitions/Value'
    type: object
  FacetOptions:
    description: |-
      Specifies operators to return facet results for. There will be one
      FacetResult for every source_name/object_type/operator_name combination.
    properties:
      numFacetBuckets:
        description: |-
          Maximum number of facet buckets that should be returned for this facet.
          Defaults to 10.
          Maximum value is 100.
        format: int32
        type: integer
      objectType:
        description: |-
          If object_type is set, only those objects of that type will be used to
          compute facets. If empty, then all objects will be used to compute facets.
        type: string
      operatorName:
        description: |-
          Name of the operator chosen for faceting. @see
          cloudsearch.SchemaPropertyOptions
        type: string
      sourceName:
        description: |-
          Source name to facet on. Format: datasources/{source_id}
          If empty, all data sources will be used.
        type: string
    type: object
  FacetResult:
    description: Source specific facet response
    properties:
      buckets:
        description: FacetBuckets for values in response containing at least a single result.
        items:
          $ref: '#/definitions/FacetBucket'
        type: array
      objectType:
        description: Object type for which facet results are returned. Can be empty.
        type: string
      operatorName:
        description: |-
          Name of the operator chosen for faceting. @see
          cloudsearch.SchemaPropertyOptions
        type: string
      sourceName:
        description: Source name for which facet results are returned. Will not be empty.
        type: string
    type: object
  FieldViolation:
    properties:
      description:
        description: Description of the error.
        type: string
      field:
        description: Path of field with violation.
        type: string
    type: object
  Filter:
    description: |-
      A generic way of expressing filters in a query, which supports two
      approaches: <br/><br/>
      **1. Setting a ValueFilter.** The name must match an operator_name defined in
      the schema for your data source.
      <br/>
      **2. Setting a CompositeFilter.** The filters are evaluated
      using the logical operator. The top-level operators can only be either an AND
      or a NOT. AND can appear only at the top-most level. OR can appear only under
      a top-level AND.
    properties:
      compositeFilter:
        $ref: '#/definitions/CompositeFilter'
      valueFilter:
        $ref: '#/definitions/ValueFilter'
    type: object
  FilterOptions:
    description: Filter options to be applied on query.
    properties:
      filter:
        $ref: '#/definitions/Filter'
        description: 'Generic filter to restrict the search, such as `lang:en`, `site:xyz`.'
      objectType:
        description: |-
          If object_type is set, only objects of that type are returned. This should
          correspond to the name of the object that was registered within the
          definition of schema. The maximum length is 256 characters.
        type: string
    type: object
  FreshnessOptions:
    description: |-
      Indicates which freshness property to use when adjusting search ranking for
      an item. Fresher, more recent dates indicate higher quality. Use the
      freshness option property that best works with your data. For fileshare
      documents, last modified time is most relevant. For calendar event data,
      the time when the event occurs is a more relevant freshness indicator. In
      this way, calendar events that occur closer to the time of the search query
      are considered higher quality and ranked accordingly.
    properties:
      freshnessDuration:
        description: |-
          The duration after which an object should be considered
          stale. The default value is 180 days (in seconds).
        format: google-duration
        type: string
      freshnessProperty:
        description: |-
          This property indicates the freshness level of the object in the index.
          If set, this property must be a top-level property within the
          property definitions
          and it must be a
          timestamp type
          or
          date type.
          Otherwise, the Indexing API uses
          updateTime
          as the freshness indicator.
          The maximum length is 256 characters.

          When a property is used to calculate fresheness, the value defaults
          to 2 years from the current time.
        type: string
    type: object
  GSuitePrincipal:
    properties:
      gsuiteDomain:
        description: |-
          This principal represents all users of the G Suite domain of the
          customer.
        type: boolean
      gsuiteGroupEmail:
        description: This principal references a G Suite group account
        type: string
      gsuiteUserEmail:
        description: This principal references a G Suite user account
        type: string
    type: object
  GetCustomerIndexStatsResponse:
    properties:
      stats:
        description: 'Summary of indexed item counts, one for each day in the requested range.'
        items:
          $ref: '#/definitions/CustomerIndexStats'
        type: array
    type: object
  GetDataSourceIndexStatsResponse:
    properties:
      stats:
        description: 'Summary of indexed item counts, one for each day in the requested range.'
        items:
          $ref: '#/definitions/DataSourceIndexStats'
        type: array
    type: object
  GmailActionRestrict:
    description: Gmail Action restricts (i.e. read/replied/snoozed).
    properties:
      type:
        enum:
          - UNSPECIFIED
          - UNREAD
          - READ
          - REPLIED_TO
          - MUTED
        type: string
    type: object
  GmailAttachmentRestrict:
    description: 'Gmail Attachment restricts (i.e. has:attachment, has:drive, filename:pdf).'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - HAS_ATTACHMENT
          - HAS_PHOTO
          - HAS_DRIVE
          - HAS_DOCUMENT
          - HAS_SPREADSHEET
          - HAS_PRESENTATION
          - HAS_YOUTUBE
          - HAS_PDF
        type: string
    type: object
  GmailFolderRestrict:
    description: Gmail Folder restricts (i.e. in Drafts/Sent/Chats/User Generated Labels).
    properties:
      type:
        enum:
          - UNSPECIFIED
          - IN_SENT
          - IN_DRAFT
          - CHATS
          - IN_TRASH
          - USER_GENERATED_LABEL
        type: string
    type: object
  GmailIntelligentRestrict:
    description: 'Gmail Intelligent restricts (i.e. smartlabels, important).'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - SOCIAL
          - UPDATES
          - FORUMS
          - PROMOTIONS
          - IMPORTANT
          - FLIGHT_RESERVATION
          - LODGING_RESERVATION
          - CAR_RESERVATION
          - BUS_RESERVATION
        type: string
    type: object
  GmailTimeRestrict:
    description: 'Gmail Time restricts (i.e. received today, this week).'
    properties:
      type:
        enum:
          - UNSPECIFIED
          - FROM_THIS_WEEK
          - OLDER_THAN_ONE_YEAR
          - FROM_TODAY
          - FROM_YESTERDAY
          - FROM_THIS_MONTH
          - FROM_CERTAIN_MONTH
          - OLDER_THAN_TODAY
          - OLDER_THAN_YESTERDAY
          - OLDER_THAN_A_WEEK
          - OLDER_THAN_A_MONTH
        type: string
    type: object
  HtmlOperatorOptions:
    description: |-
      Used to provide a search operator for html properties. This is optional.
      Search operators let users restrict the query to specific fields relevant
      to the type of item being searched.
    properties:
      operatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          html property. For example, if operatorName is *subject* and the
          property's name is *subjectLine*, then queries like
          *subject:&lt;value&gt;* will show results only where the value of the
          property named *subjectLine* matches *&lt;value&gt;*. By contrast, a
          search that uses the same *&lt;value&gt;* without an operator will return
          all items where *&lt;value&gt;* matches the value of any
          html properties or text within the content field for the item.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  HtmlPropertyOptions:
    description: Options for html properties.
    properties:
      operatorOptions:
        $ref: '#/definitions/HtmlOperatorOptions'
        description: 'If set, describes how the property should be used as a search operator.'
      retrievalImportance:
        $ref: '#/definitions/RetrievalImportance'
        description: |-
          Indicates the search quality importance of the tokens within the
          field when used for retrieval. Can only be set to DEFAULT or NONE.
    type: object
  HtmlValues:
    description: List of html values.
    properties:
      values:
        description: The maximum allowable length for html values is 2048 characters.
        items:
          type: string
        type: array
    type: object
  IndexItemOptions:
    properties:
      allowUnknownGsuitePrincipals:
        description: |-
          Specifies if the index request should allow gsuite principals that do not
          exist or are deleted in the index request.
        type: boolean
    type: object
  IndexItemRequest:
    properties:
      connectorName:
        description: |-
          Name of connector making this call.
          <br />Format: datasources/{source_id}/connectors/{ID}
        type: string
      debugOptions:
        $ref: '#/definitions/DebugOptions'
        description: Common debug options.
      indexItemOptions:
        $ref: '#/definitions/IndexItemOptions'
      item:
        $ref: '#/definitions/Item'
        description: |-
          Name of the item.  Format:
          datasources/{source_id}/items/{item_id}
      mode:
        description: Required. The RequestMode for this request.
        enum:
          - UNSPECIFIED
          - SYNCHRONOUS
          - ASYNCHRONOUS
        type: string
    type: object
  IntegerOperatorOptions:
    description: |-
      Used to provide a search operator for integer properties. This is
      optional. Search operators let users restrict the query to specific fields
      relevant to the type of item being searched.
    properties:
      greaterThanOperatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          integer property using the greater-than operator. For example, if
          greaterThanOperatorName is *priorityabove* and the property's name is
          *priorityVal*, then queries like *priorityabove:&lt;value&gt;* will
          show results only where the value of the property named *priorityVal* is
          greater than *&lt;value&gt;*.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
      lessThanOperatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          integer property using the less-than operator. For example, if
          lessThanOperatorName is *prioritybelow* and the property's name is
          *priorityVal*, then queries like *prioritybelow:&lt;value&gt;* will
          show results only where the value of the property named *priorityVal* is
          less than *&lt;value&gt;*.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
      operatorName:
        description: |-
          Indicates the operator name required in the query in order to isolate the
          integer property. For example, if operatorName is *priority* and the
          property's name is *priorityVal*, then queries like
          *priority:&lt;value&gt;* will show results only where the value of the
          property named *priorityVal* matches *&lt;value&gt;*. By contrast, a
          search that uses the same *&lt;value&gt;* without an operator will return
          all items where *&lt;value&gt;* matches the value of any String
          properties or text within the content field for the item.
          The operator name can only contain lowercase letters (a-z).
          The maximum length is 32 characters.
        type: string
    type: object
  IntegerPropertyOptions:
    description: Options for integer properties.
    properties:
      maximumValue:
        description: |-
          The maximum value of the property. The minimum and maximum values for the
          property are used to rank results according to the
          ordered ranking.
          Indexing requests with values greater than the maximum are accepted and
          ranked with the same weight as items indexed with the maximum value.
        format: int64
        type: string
      minimumValue:
        description: |-
          The minimum value of the property. The minimum and maximum values for the
          property are used to rank results according to the
          ordered ranking.
          Indexing requests with values less than the minimum are accepted and
          ranked with the same weight as items indexed with the minimum value.
        format: int64
        type: string
      operatorOptions:
        $ref: '#/definitions/IntegerOperatorOptions'
        description: 'If set, describes how the integer should be used as a search operator.'
      orderedRanking:
        description: |-
          Used to specify the ordered ranking for the integer. Can only be used if
          isRepeatable
          is false.
        enum:
          - NO_ORDER
          - ASCENDING
          - DESCENDING
        type: string
    type: object
  IntegerValues:
    description: List of integer values.
    properties:
      values:
        items:
          format: int64
          type: string
        type: array
    type: object
  Interaction:
    description: Represents an interaction between a user and an item.
    properties:
      interactionTime:
        description: |-
          The time when the user acted on the item.  If multiple actions of the same
          type exist for a single user, only the most recent action is recorded.
        format: google-datetime
        type: string
      principal:
        $ref: '#/definitions/Principal'
        description: The user that acted on the item.
      type:
        enum:
          - UNSPECIFIED
          - VIEW
          - EDIT
        type: string
    type: object
  Item:
    description: |-
      Represents a single object that is an item in the search index, such as a
      file, folder, or a database record.
    properties:
      acl:
        $ref: '#/definitions/ItemAcl'
        description: Access control list for this item.
      content:
        $ref: '#/definitions/ItemContent'
        description: Item content to be indexed and made text searchable.
      itemType:
        description: Type for this item.
        enum:
          - UNSPECIFIED
          - CONTENT_ITEM
          - CONTAINER_ITEM
          - VIRTUAL_CONTAINER_ITEM
        type: string
      metadata:
        $ref: '#/definitions/ItemMetadata'
        description: Metadata information.
      name:
        description: |-
          Name of the Item. Format:
          datasources/{source_id}/items/{item_id}
          <br />This is a required field.
          The maximum length is 1536 characters.
        type: string
      payload:
        description: |-
          Additional state connector can store for this item.
          The maximum length is 10000 bytes.
        format: byte
        type: string
      queue:
        description: |-
          Queue this item belongs to.
          The maximum length is 100 characters.
        type: string
      status:
        $ref: '#/definitions/ItemStatus'
        description: |-
          Status of the item.
          Output only field.
      structuredData:
        $ref: '#/definitions/ItemStructuredData'
        description: |-
          The structured data for the item that should conform to a registered
          object definition in the schema for the data source.
      version:
        description: |-
          Required. The indexing system stores the version from the datasource as a
          byte string and compares the Item version in the index
          to the version of the queued Item using lexical ordering.
          <br /><br />
          Cloud Search Indexing won't index or delete any queued item with
          a version value that is less than or equal to the version of the
          currently indexed item.
[...]
