swagger: '2.0'
schemes:
  - https
  - http
host: workdocs.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>The WorkDocs API is designed for the following use cases:</p> <ul> <li> <p>File Migration: File migration applications are supported for users who want to migrate their files from an on-premises or off-premises file system or service. Users can insert files into a user directory structure, as well as allow for basic metadata changes, such as modifications to the permissions of files.</p> </li> <li> <p>Security: Support security applications are supported for users who have additional security needs, such as antivirus or data loss prevention. The API actions, along with AWS CloudTrail, allow these applications to detect when changes occur in Amazon WorkDocs. Then, the application can take the necessary actions and replace the target file. If the target file violates the policy, the application can also choose to email the user.</p> </li> <li> <p>eDiscovery/Analytics: General administrative applications are supported, such as eDiscovery and analytics. These applications can choose to mimic or record the actions in an Amazon WorkDocs site, along with AWS CloudTrail, to replicate data for eDiscovery, backup, or analytical applications.</p> </li> </ul> <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as set in the IAM policy). This includes, but is not limited to, the ability to modify file permissions and upload any file to any user. This allows developers to perform the three use cases above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon WorkDocs
  version: '2016-05-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workdocs-2016-05-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: workdocs
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/workdocs/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /api/v1/activities:
    get:
      description: Describes the user activities in a specified time period.
      operationId: DescribeActivities
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The timestamp that determines the starting time of the activities. The response includes the activities performed after the specified timestamp.
          format: date-time
          in: query
          name: startTime
          required: false
          type: string
        - description: The timestamp that determines the end time of the activities. The response includes the activities performed before the specified timestamp.
          format: date-time
          in: query
          name: endTime
          required: false
          type: string
        - description: The ID of the organization. This is a mandatory parameter when using administrative API (SigV4) requests.
          in: query
          maxLength: 256
          minLength: 1
          name: organizationId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: 'Specifies which activity types to include in the response. If this field is left empty, all activity types are returned.'
          in: query
          maxLength: 1024
          minLength: 1
          name: activityTypes
          pattern: '[\w,]+'
          required: false
          type: string
        - description: The document or folder ID for which to describe activity types.
          in: query
          maxLength: 256
          minLength: 1
          name: resourceId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: The ID of the user who performed the action. The response includes activities pertaining to this user. This is an optional parameter and is only applicable for administrative API (SigV4) requests.
          in: query
          maxLength: 256
          minLength: 1
          name: userId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: 'Includes indirect activities. An indirect activity results from a direct activity performed on a parent resource. For example, sharing a parent folder (the direct activity) shares all of the subfolders and documents within the parent folder (the indirect activity).'
          in: query
          name: includeIndirectActivities
          required: false
          type: boolean
        - description: The maximum number of items to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          pattern: '[\u0000-\u00FF]+'
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeActivitiesResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /api/v1/documents:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new document object and version object.</p> <p>The client specifies the parent folder ID and name of the document to upload. The ID is optionally specified when creating a new version of an existing document. This is the first step to upload a document. Next, upload the document to the URL returned from the call, and then call <a>UpdateDocumentVersion</a>.</p> <p>To cancel the document upload, call <a>AbortDocumentVersionUpload</a>.</p>'
      operationId: InitiateDocumentVersionUpload
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ContentCreatedTimestamp:
                description: The timestamp when the content of the document was originally created.
                format: date-time
                type: string
              ContentModifiedTimestamp:
                description: The timestamp when the content of the document was modified.
                format: date-time
                type: string
              ContentType:
                description: The content type of the document.
                maxLength: 128
                minLength: 1
                type: string
              DocumentSizeInBytes:
                description: 'The size of the document, in bytes.'
                type: integer
              Id:
                description: The ID of the document.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
              Name:
                description: The name of the document.
                maxLength: 255
                minLength: 1
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                type: string
              ParentFolderId:
                description: The ID of the parent folder.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
            required:
              - ParentFolderId
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/InitiateDocumentVersionUploadResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: StorageLimitExceededException
          schema:
            $ref: '#/definitions/StorageLimitExceededException'
        '483':
          description: StorageLimitWillExceedException
          schema:
            $ref: '#/definitions/StorageLimitWillExceedException'
        '484':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '485':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '486':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '487':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '489':
          description: DraftUploadOutOfSyncException
          schema:
            $ref: '#/definitions/DraftUploadOutOfSyncException'
        '490':
          description: ResourceAlreadyCheckedOutException
          schema:
            $ref: '#/definitions/ResourceAlreadyCheckedOutException'
  '/api/v1/documents/{DocumentId}':
    delete:
      description: Permanently deletes the specified document and its associated metadata.
      operationId: DeleteDocument
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    get:
      description: Retrieves details of a document.
      operationId: GetDocument
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: Set this to <code>TRUE</code> to include custom metadata in the response.
          in: query
          name: includeCustomMetadata
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDocumentResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: 'Updates the specified attributes of a document. The user must have access to both the document and its parent folder, if applicable.'
      operationId: UpdateDocument
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the document.
                maxLength: 255
                minLength: 1
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                type: string
              ParentFolderId:
                description: The ID of the parent folder.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
              ResourceState:
                description: The resource state of the document. Only ACTIVE and RECYCLED are supported.
                enum:
                  - ACTIVE
                  - RESTORING
                  - RECYCLING
                  - RECYCLED
                type: string
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '486':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '487':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '488':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '489':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/documents/{DocumentId}/path':
    get:
      description: '<p>Retrieves the path information (the hierarchy from the root folder) for the requested document.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested document and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the names of the parent folders.</p>'
      operationId: GetDocumentPath
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 256
          minLength: 1
          name: DocumentId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - description: The maximum number of levels in the hierarchy to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: A comma-separated list of values. Specify <code>NAME</code> to include the names of the parent folders.
          in: query
          maxLength: 256
          minLength: 1
          name: fields
          pattern: '[\w,]+'
          required: false
          type: string
        - description: This value is not supported.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDocumentPathResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}/versions':
    get:
      description: '<p>Retrieves the document versions for the specified document.</p> <p>By default, only active versions are returned.</p>'
      operationId: DescribeDocumentVersions
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
        - description: The maximum number of versions to return with this call.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: A comma-separated list of values. Specify "INITIALIZED" to include incomplete versions.
          in: query
          maxLength: 256
          minLength: 1
          name: include
          pattern: '[\w,]+'
          required: false
          type: string
        - description: Specify "SOURCE" to include initialized versions and a URL for the source document.
          in: query
          maxLength: 256
          minLength: 1
          name: fields
          pattern: '[\w,]+'
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentVersionsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}/versions/{VersionId}':
    delete:
      description: 'Aborts the upload of the specified document version that was previously initiated by <a>InitiateDocumentVersionUpload</a>. The client should make this call only when it no longer intends to upload the document version, or fails to do so.'
      operationId: AbortDocumentVersionUpload
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the version.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    get:
      description: Retrieves version metadata for the specified document.
      operationId: GetDocumentVersion
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The version ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: A comma-separated list of values. Specify "SOURCE" to include a URL for the source document.
          in: query
          maxLength: 256
          minLength: 1
          name: fields
          pattern: '[\w,]+'
          required: false
          type: string
        - description: Set this to TRUE to include custom metadata in the response.
          in: query
          name: includeCustomMetadata
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDocumentVersionResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '486':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: '<p>Changes the status of the document version to ACTIVE. </p> <p>Amazon WorkDocs also sets its document container to ACTIVE. This is the last step in a document upload, after the client uploads the document to an S3-presigned URL returned by <a>InitiateDocumentVersionUpload</a>. </p>'
      operationId: UpdateDocumentVersion
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The version ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              VersionStatus:
                description: The status of the version.
                enum:
                  - ACTIVE
                type: string
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds a new comment to the specified document version.
      operationId: CreateComment
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the document version.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              NotifyCollaborators:
                description: Set this parameter to TRUE to send an email out to the document collaborators after the comment is created.
                type: boolean
              ParentId:
                description: The ID of the parent comment.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
              Text:
                description: The text of the comment.
                format: password
                maxLength: 2048
                minLength: 1
                type: string
              ThreadId:
                description: The ID of the root comment in the thread.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
              Visibility:
                description: 'The visibility of the comment. Options are either PRIVATE, where the comment is visible only to the comment author and document owner and co-owners, or PUBLIC, where the comment is visible to document owners, co-owners, and contributors.'
                enum:
                  - PUBLIC
                  - PRIVATE
                type: string
            required:
              - Text
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCommentResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: DocumentLockedForCommentsException
          schema:
            $ref: '#/definitions/DocumentLockedForCommentsException'
        '487':
          description: InvalidCommentOperationException
          schema:
            $ref: '#/definitions/InvalidCommentOperationException'
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}':
    delete:
      description: Deletes the specified comment from the document version.
      operationId: DeleteComment
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the document version.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          maxLength: 128
          minLength: 1
          name: CommentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: DocumentLockedForCommentsException
          schema:
            $ref: '#/definitions/DocumentLockedForCommentsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comments':
    get:
      description: List all the comments for the specified document version.
      operationId: DescribeComments
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the document.
          in: path
          maxLength: 128
          minLength: 1
          name: DocumentId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the document version.
          in: path
          maxLength: 128
          minLength: 1
          name: VersionId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The maximum number of items to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results. This marker was received from a previous call.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          pattern: '[\u0000-\u00FF]+'
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCommentsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /api/v1/folders:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a folder with the specified name and parent folder.
      operationId: CreateFolder
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the new folder.
                maxLength: 255
                minLength: 1
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                type: string
              ParentFolderId:
                description: The ID of the parent folder.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
            required:
              - ParentFolderId
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateFolderResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '483':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '486':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '487':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/folders/{FolderId}':
    delete:
      description: Permanently deletes the specified folder and its contents.
      operationId: DeleteFolder
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 128
          minLength: 1
          name: FolderId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    get:
      description: Retrieves the metadata of the specified folder.
      operationId: GetFolder
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 128
          minLength: 1
          name: FolderId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: Set to TRUE to include custom metadata in the response.
          in: query
          name: includeCustomMetadata
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFolderResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: 'Updates the specified attributes of the specified folder. The user must have access to both the folder and its parent folder, if applicable.'
      operationId: UpdateFolder
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 128
          minLength: 1
          name: FolderId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the folder.
                maxLength: 255
                minLength: 1
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                type: string
              ParentFolderId:
                description: The ID of the parent folder.
                maxLength: 128
                minLength: 1
                pattern: '[\w+-.@]+'
                type: string
              ResourceState:
                description: The resource state of the folder. Only ACTIVE and RECYCLED are accepted values from the API.
                enum:
                  - ACTIVE
                  - RESTORING
                  - RECYCLING
                  - RECYCLED
                type: string
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '483':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '487':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '488':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '489':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/folders/{FolderId}/contents':
    delete:
      description: Deletes the contents of the specified folder.
      operationId: DeleteFolderContents
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 128
          minLength: 1
          name: FolderId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '484':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '485':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    get:
      description: '<p>Describes the contents of the specified folder, including its documents and subfolders.</p> <p>By default, Amazon WorkDocs returns the first 100 active document and folder metadata items. If there are more results, the response includes a marker that you can use to request the next set of results. You can also request initialized documents.</p>'
      operationId: DescribeFolderContents
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 128
          minLength: 1
          name: FolderId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The sorting criteria.
          enum:
            - DATE
            - NAME
          in: query
          name: sort
          required: false
          type: string
        - description: The order for the contents of the folder.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: order
          required: false
          type: string
        - description: The maximum number of items to return with this call.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results. This marker was received from a previous call.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
        - description: The type of items.
          enum:
            - ALL
            - DOCUMENT
            - FOLDER
          in: query
          name: type
          required: false
          type: string
        - description: The contents to include. Specify "INITIALIZED" to include initialized documents.
          in: query
          maxLength: 256
          minLength: 1
          name: include
          pattern: '[\w,]+'
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFolderContentsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/folders/{FolderId}/path':
    get:
      description: '<p>Retrieves the path information (the hierarchy from the root folder) for the specified folder.</p> <p>By default, Amazon WorkDocs returns a maximum of 100 levels upwards from the requested folder and only includes the IDs of the parent folders in the path. You can limit the maximum number of levels. You can also request the parent folder names.</p>'
      operationId: GetFolderPath
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the folder.
          in: path
          maxLength: 256
          minLength: 1
          name: FolderId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - description: The maximum number of levels in the hierarchy to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: A comma-separated list of values. Specify "NAME" to include the names of the parent folders.
          in: query
          maxLength: 256
          minLength: 1
          name: fields
          pattern: '[\w,]+'
          required: false
          type: string
        - description: This value is not supported.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFolderPathResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/groups#searchQuery':
    get:
      description: Describes the groups specified by the query. Groups are defined by the underlying Active Directory.
      operationId: DescribeGroups
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: A query to describe groups by group name.
          format: password
          in: query
          maxLength: 512
          minLength: 1
          name: searchQuery
          pattern: '[\u0020-\uFFFF]+'
          required: true
          type: string
        - description: The ID of the organization.
          in: query
          maxLength: 256
          minLength: 1
          name: organizationId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          pattern: '[\u0000-\u00FF]+'
          required: false
          type: string
        - description: The maximum number of items to return with this call.
          in: query
          minimum: 1
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeGroupsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/me#Authentication':
    get:
      description: Retrieves details of the current user for whom the authentication token was generated. This is not a valid action for SigV4 (administrative API) clients.
      operationId: GetCurrentUser
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCurrentUserResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/me/root#Authentication':
    get:
      description: '<p>Describes the current user''s special folders; the <code>RootFolder</code> and the <code>RecycleBin</code>. <code>RootFolder</code> is the root of user''s files and folders and <code>RecycleBin</code> is the root of recycled items. This is not a valid action for SigV4 (administrative API) clients.</p> <p>This action requires an authentication token. To get an authentication token, register an application with Amazon WorkDocs. For more information, see <a href="https://docs.aws.amazon.com/workdocs/latest/developerguide/wd-auth-user.html">Authentication and Access Control for User Applications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>'
      operationId: DescribeRootFolders
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: true
          type: string
        - description: The maximum number of items to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRootFoldersResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/organizations/{OrganizationId}/subscriptions':
    get:
      description: Lists the specified notification subscriptions.
      operationId: DescribeNotificationSubscriptions
      parameters:
        - description: The ID of the organization.
          in: path
          maxLength: 256
          minLength: 1
          name: OrganizationId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
        - description: The maximum number of items to return with this call.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNotificationSubscriptionsResponse'
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a confirmation message, and must confirm the subscription.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/workdocs/latest/developerguide/subscribe-notifications.html">Subscribe to Notifications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>'
      operationId: CreateNotificationSubscription
      parameters:
        - description: The ID of the organization.
          in: path
          maxLength: 256
          minLength: 1
          name: OrganizationId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Endpoint:
                description: 'The endpoint to receive the notifications. If the protocol is HTTPS, the endpoint is a URL that begins with <code>https</code>.'
                maxLength: 256
                minLength: 1
                type: string
              Protocol:
                description: 'The protocol to use. The supported value is https, which delivers JSON-encoded messages using HTTPS POST.'
                enum:
                  - HTTPS
                type: string
              SubscriptionType:
                description: The notification type.
                enum:
                  - ALL
                type: string
            required:
              - Endpoint
              - Protocol
              - SubscriptionType
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNotificationSubscriptionResponse'
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: TooManySubscriptionsException
          schema:
            $ref: '#/definitions/TooManySubscriptionsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/organizations/{OrganizationId}/subscriptions/{SubscriptionId}':
    delete:
      description: Deletes the specified subscription from the specified organization.
      operationId: DeleteNotificationSubscription
      parameters:
        - description: The ID of the subscription.
          in: path
          maxLength: 256
          minLength: 1
          name: SubscriptionId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - description: The ID of the organization.
          in: path
          maxLength: 256
          minLength: 1
          name: OrganizationId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /api/v1/resources:
    get:
      description: 'Retrieves a collection of resources, including folders and documents. The only <code>CollectionType</code> supported is <code>SHARED_WITH_ME</code>.'
      operationId: GetResources
      parameters:
        - description: 'The Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API operation using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The user ID for the resource collection. This is a required field for accessing the API operation using IAM credentials.
          in: query
          maxLength: 256
          minLength: 1
          name: userId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: The collection type.
          enum:
            - SHARED_WITH_ME
          in: query
          name: collectionType
          required: false
          type: string
        - description: The maximum number of resources to return.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results. This marker was received from a previous call.
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourcesResponse'
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/resources/{ResourceId}/customMetadata':
    delete:
      description: Deletes custom metadata from the specified resource.
      operationId: DeleteCustomMetadata
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: 'The ID of the resource, either a document or folder.'
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: 'The ID of the version, if the custom metadata is being deleted from a document version.'
          in: query
          maxLength: 128
          minLength: 1
          name: versionId
          pattern: '[\w+-.@]+'
          required: false
          type: string
        - description: List of properties to remove.
          in: query
          items:
            type: string
          name: keys
          required: false
          type: array
        - description: Flag to indicate removal of all custom metadata properties from the specified resource.
          in: query
          name: deleteAll
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCustomMetadataResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Adds one or more custom properties to the specified resource (a folder, document, or version).'
      operationId: CreateCustomMetadata
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: 'The ID of the version, if the custom metadata is being added to a document version.'
          in: query
          maxLength: 128
          minLength: 1
          name: versionid
          pattern: '[\w+-.@]+'
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              CustomMetadata:
                additionalProperties:
                  $ref: '#/definitions/CustomMetadataValueType'
                description: Custom metadata in the form of name-value pairs.
                maxProperties: 8
                minProperties: 1
                type: object
            required:
              - CustomMetadata
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCustomMetadataResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: CustomMetadataLimitExceededException
          schema:
            $ref: '#/definitions/CustomMetadataLimitExceededException'
        '485':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/resources/{ResourceId}/labels':
    delete:
      description: Deletes the specified list of labels from a resource.
      operationId: DeleteLabels
      parameters:
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: List of labels to delete from the resource.
          in: query
          items:
            type: string
          name: labels
          required: false
          type: array
        - description: Flag to request removal of all labels from the specified resource.
          in: query
          name: deleteAll
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLabelsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Adds the specified list of labels to the given resource (a document or folder)
      operationId: CreateLabels
      parameters:
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Labels:
                description: List of labels to add to the resource.
                items:
                  $ref: '#/definitions/SharedLabel'
                maxItems: 20
                type: array
            required:
              - Labels
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLabelsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyLabelsException
          schema:
            $ref: '#/definitions/TooManyLabelsException'
  '/api/v1/resources/{ResourceId}/permissions':
    delete:
      description: Removes all the permissions from the specified resource.
      operationId: RemoveAllResourcePermissions
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    get:
      description: Describes the permissions of a specified resource.
      operationId: DescribeResourcePermissions
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The ID of the principal to filter permissions by.
          in: query
          maxLength: 256
          minLength: 1
          name: principalId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: The maximum number of items to return with this call.
          in: query
          maximum: 999
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The marker for the next set of results. (You received this marker from a previous call)
          in: query
          maxLength: 2048
          minLength: 1
          name: marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourcePermissionsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a set of permissions for the specified folder or document. The resource permissions are overwritten if the principals already have different permissions.
      operationId: AddResourcePermissions
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              NotificationOptions:
                description: Set of options which defines notification preferences of given action.
                properties:
                  EmailMessage:
                    $ref: '#/definitions/MessageType'
                    description: Text value to be included in the email body.
                  SendEmail:
                    $ref: '#/definitions/BooleanType'
                    description: Boolean value to indicate an email notification should be sent to the receipients.
                type: object
              Principals:
                description: 'The users, groups, or organization being granted permission.'
                items:
                  $ref: '#/definitions/SharePrincipal'
                type: array
            required:
              - Principals
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AddResourcePermissionsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/api/v1/resources/{ResourceId}/permissions/{PrincipalId}':
    delete:
      description: Removes the permission for the specified principal from the specified resource.
      operationId: RemoveResourcePermission
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the resource.
          in: path
          maxLength: 128
          minLength: 1
          name: ResourceId
          pattern: '[\w+-.@]+'
          required: true
          type: string
        - description: The principal ID of the resource.
          in: path
          maxLength: 256
          minLength: 1
          name: PrincipalId
          pattern: '[&\w+-.@]+'
          required: true
          type: string
        - description: The principal type of the resource.
          enum:
            - USER
            - GROUP
            - INVITE
            - ANONYMOUS
            - ORGANIZATION
          in: query
          name: type
          required: false
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /api/v1/users:
    get:
      description: '<p>Describes the specified users. You can describe all users or filter the results (for example, by status or organization).</p> <p>By default, Amazon WorkDocs returns the first 24 active or pending users. If there are more results, the response includes a marker that you can use to request the next set of results.</p>'
      operationId: DescribeUsers
      parameters:
        - description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          format: password
          in: header
          maxLength: 8199
          minLength: 1
          name: Authentication
          required: false
          type: string
        - description: The ID of the organization.
          in: query
          maxLength: 256
          minLength: 1
          name: organizationId
          pattern: '[&\w+-.@]+'
          required: false
          type: string
        - description: The IDs of the users.
          in: query
          maxLength: 2000
          minLength: 1
          name: userIds
          pattern: '[&\w+-.@, ]+'
          required: false
          type: string
        - description: A query to filter users by user name.
          format: password
          in: query
          maxLength: 512
          minLength: 1
          name: query
          pattern: '[\u0020-\uFFFF]+'
          required: false
          type: string
[...]
