swagger: '2.0'
info:
  version: '2016-05-01'
  x-release: v4
  title: Amazon WorkDocs
  description: '<p>The WorkDocs API is designed for the following use cases:</p> <ul> <li> <p>File Migration: File migration applications are supported for users who want to migrate their files from an on-premises or off-premises file system or service. Users can insert files into a user directory structure, as well as allow for basic metadata changes, such as modifications to the permissions of files.</p> </li> <li> <p>Security: Support security applications are supported for users who have additional security needs, such as antivirus or data loss prevention. The API actions, along with AWS CloudTrail, allow these applications to detect when changes occur in Amazon WorkDocs. Then, the application can take the necessary actions and replace the target file. If the target file violates the policy, the application can also choose to email the user.</p> </li> <li> <p>eDiscovery/Analytics: General administrative applications are supported, such as eDiscovery and analytics. These applications can choose to mimic or record the actions in an Amazon WorkDocs site, along with AWS CloudTrail, to replicate data for eDiscovery, backup, or analytical applications.</p> </li> </ul> <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of IAM users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the Amazon WorkDocs site, the IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as set in the IAM policy). This includes, but is not limited to, the ability to modify file permissions and upload any file to any user. This allows developers to perform the three use cases above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: workdocs
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workdocs-2016-05-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/workdocs/'
host: workdocs.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://workdocs.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon WorkDocs multi-region endpoint
  - url: 'https://workdocs.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon WorkDocs multi-region endpoint
  - url: 'http://workdocs.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon WorkDocs endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://workdocs.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon WorkDocs endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/api/v1/documents/{DocumentId}/versions/{VersionId}':
    delete:
      operationId: AbortDocumentVersionUpload
      description: 'Aborts the upload of the specified document version that was previously initiated by <a>InitiateDocumentVersionUpload</a>. The client should make this call only when it no longer intends to upload the document version, or fails to do so.'
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The ID of the version.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDocumentVersion
      description: Retrieves version metadata for the specified document.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDocumentVersionResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '486':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The version ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: fields
          in: query
          required: false
          description: A comma-separated list of values. Specify "SOURCE" to include a URL for the source document.
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 256
        - name: includeCustomMetadata
          in: query
          required: false
          description: Set this to TRUE to include custom metadata in the response.
          type: boolean
    patch:
      operationId: UpdateDocumentVersion
      description: '<p>Changes the status of the document version to ACTIVE. </p> <p>Amazon WorkDocs also sets its document container to ACTIVE. This is the last step in a document upload, after the client uploads the document to an S3-presigned URL returned by <a>InitiateDocumentVersionUpload</a>. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The version ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              VersionStatus:
                description: The status of the version.
                type: string
                enum:
                  - ACTIVE
  '/api/v1/users/{UserId}/activation':
    post:
      operationId: ActivateUser
      description: Activates the specified user. Only active users can access Amazon WorkDocs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivateUserResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The ID of the user.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeactivateUser
      description: 'Deactivates the specified user, which revokes the user''s access to Amazon WorkDocs.'
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: UserId
          in: path
          required: true
          description: The ID of the user.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
  '/api/v1/resources/{ResourceId}/permissions':
    post:
      operationId: AddResourcePermissions
      description: Creates a set of permissions for the specified folder or document. The resource permissions are overwritten if the principals already have different permissions.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AddResourcePermissionsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Principals
            properties:
              Principals:
                description: 'The users, groups, or organization being granted permission.'
                type: array
                items:
                  $ref: '#/definitions/SharePrincipal'
              NotificationOptions:
                description: Set of options which defines notification preferences of given action.
                type: object
                properties:
                  SendEmail:
                    $ref: '#/definitions/BooleanType'
                    description: Boolean value to indicate an email notification should be sent to the receipients.
                  EmailMessage:
                    $ref: '#/definitions/MessageType'
                    description: Text value to be included in the email body.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeResourcePermissions
      description: Describes the permissions of a specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourcePermissionsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: principalId
          in: query
          required: false
          description: The ID of the principal to filter permissions by.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return with this call.
          type: integer
          minimum: 1
          maximum: 999
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call)
          type: string
          minLength: 1
          maxLength: 2048
    delete:
      operationId: RemoveAllResourcePermissions
      description: Removes all the permissions from the specified resource.
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comment':
    post:
      operationId: CreateComment
      description: Adds a new comment to the specified document version.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCommentResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: DocumentLockedForCommentsException
          schema:
            $ref: '#/definitions/DocumentLockedForCommentsException'
        '487':
          description: InvalidCommentOperationException
          schema:
            $ref: '#/definitions/InvalidCommentOperationException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The ID of the document version.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Text
            properties:
              ParentId:
                description: The ID of the parent comment.
                type: string
                pattern: '[\w+-.@]+'
                minLength: 1
                maxLength: 128
              ThreadId:
                description: The ID of the root comment in the thread.
                type: string
                pattern: '[\w+-.@]+'
                minLength: 1
                maxLength: 128
              Text:
                description: The text of the comment.
                type: string
                minLength: 1
                maxLength: 2048
                format: password
              Visibility:
                description: 'The visibility of the comment. Options are either PRIVATE, where the comment is visible only to the comment author and document owner and co-owners, or PUBLIC, where the comment is visible to document owners, co-owners, and contributors.'
                type: string
                enum:
                  - PUBLIC
                  - PRIVATE
              NotifyCollaborators:
                description: Set this parameter to TRUE to send an email out to the document collaborators after the comment is created.
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/resources/{ResourceId}/customMetadata':
    put:
      operationId: CreateCustomMetadata
      description: 'Adds one or more custom properties to the specified resource (a folder, document, or version).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCustomMetadataResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: CustomMetadataLimitExceededException
          schema:
            $ref: '#/definitions/CustomMetadataLimitExceededException'
        '485':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: versionid
          in: query
          required: false
          description: 'The ID of the version, if the custom metadata is being added to a document version.'
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - CustomMetadata
            properties:
              CustomMetadata:
                description: Custom metadata in the form of name-value pairs.
                type: object
                minProperties: 1
                maxProperties: 8
                additionalProperties:
                  $ref: '#/definitions/CustomMetadataValueType'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteCustomMetadata
      description: Deletes custom metadata from the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCustomMetadataResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: ResourceId
          in: path
          required: true
          description: 'The ID of the resource, either a document or folder.'
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: versionId
          in: query
          required: false
          description: 'The ID of the version, if the custom metadata is being deleted from a document version.'
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: keys
          in: query
          required: false
          description: List of properties to remove.
          type: array
          items:
            type: string
        - name: deleteAll
          in: query
          required: false
          description: Flag to indicate removal of all custom metadata properties from the specified resource.
          type: boolean
  /api/v1/folders:
    post:
      operationId: CreateFolder
      description: Creates a folder with the specified name and parent folder.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateFolderResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '483':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '486':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '487':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ParentFolderId
            properties:
              Name:
                description: The name of the new folder.
                type: string
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                minLength: 1
                maxLength: 255
              ParentFolderId:
                description: The ID of the parent folder.
                type: string
                pattern: '[\w+-.@]+'
                minLength: 1
                maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/resources/{ResourceId}/labels':
    put:
      operationId: CreateLabels
      description: Adds the specified list of labels to the given resource (a document or folder)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLabelsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyLabelsException
          schema:
            $ref: '#/definitions/TooManyLabelsException'
      parameters:
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Labels
            properties:
              Labels:
                description: List of labels to add to the resource.
                type: array
                items:
                  $ref: '#/definitions/SharedLabel'
                maxItems: 20
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteLabels
      description: Deletes the specified list of labels from a resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLabelsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: labels
          in: query
          required: false
          description: List of labels to delete from the resource.
          type: array
          items:
            type: string
        - name: deleteAll
          in: query
          required: false
          description: Flag to request removal of all labels from the specified resource.
          type: boolean
  '/api/v1/organizations/{OrganizationId}/subscriptions':
    post:
      operationId: CreateNotificationSubscription
      description: '<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a confirmation message, and must confirm the subscription.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/workdocs/latest/developerguide/subscribe-notifications.html">Subscribe to Notifications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateNotificationSubscriptionResponse'
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: TooManySubscriptionsException
          schema:
            $ref: '#/definitions/TooManySubscriptionsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: OrganizationId
          in: path
          required: true
          description: The ID of the organization.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Endpoint
              - Protocol
              - SubscriptionType
            properties:
              Endpoint:
                description: 'The endpoint to receive the notifications. If the protocol is HTTPS, the endpoint is a URL that begins with <code>https</code>.'
                type: string
                minLength: 1
                maxLength: 256
              Protocol:
                description: 'The protocol to use. The supported value is https, which delivers JSON-encoded messages using HTTPS POST.'
                type: string
                enum:
                  - HTTPS
              SubscriptionType:
                description: The notification type.
                type: string
                enum:
                  - ALL
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeNotificationSubscriptions
      description: Lists the specified notification subscriptions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNotificationSubscriptionsResponse'
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: OrganizationId
          in: path
          required: true
          description: The ID of the organization.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
          minLength: 1
          maxLength: 2048
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return with this call.
          type: integer
          minimum: 1
          maximum: 999
  /api/v1/users:
    post:
      operationId: CreateUser
      description: Creates a user in a Simple AD or Microsoft AD directory. The status of a newly created user is "ACTIVE". New users can access Amazon WorkDocs.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Username
              - GivenName
              - Surname
              - Password
            properties:
              OrganizationId:
                description: The ID of the organization.
                type: string
                pattern: '[&\w+-.@]+'
                minLength: 1
                maxLength: 256
              Username:
                description: The login name of the user.
                type: string
                pattern: '[\w\-+.]+(@[a-zA-Z0-9.\-]+\.[a-zA-Z]+)?'
                minLength: 1
                maxLength: 256
              EmailAddress:
                description: The email address of the user.
                type: string
                pattern: '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
                minLength: 1
                maxLength: 256
              GivenName:
                description: The given name of the user.
                type: string
                minLength: 1
                maxLength: 64
              Surname:
                description: The surname of the user.
                type: string
                minLength: 1
                maxLength: 64
              Password:
                description: The password of the user.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 4
                maxLength: 32
                format: password
              TimeZoneId:
                description: The time zone ID of the user.
                type: string
                minLength: 1
                maxLength: 256
              StorageRule:
                description: Describes the storage for a user.
                type: object
                properties:
                  StorageAllocatedInBytes:
                    $ref: '#/definitions/PositiveSizeType'
                    description: 'The amount of storage allocated, in bytes.'
                  StorageType:
                    $ref: '#/definitions/StorageType'
                    description: The type of storage.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeUsers
      description: '<p>Describes the specified users. You can describe all users or filter the results (for example, by status or organization).</p> <p>By default, Amazon WorkDocs returns the first 24 active or pending users. If there are more results, the response includes a marker that you can use to request the next set of results.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUsersResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '486':
          description: RequestedEntityTooLargeException
          schema:
            $ref: '#/definitions/RequestedEntityTooLargeException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: organizationId
          in: query
          required: false
          description: The ID of the organization.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: userIds
          in: query
          required: false
          description: The IDs of the users.
          type: string
          pattern: '[&\w+-.@, ]+'
          minLength: 1
          maxLength: 2000
        - name: query
          in: query
          required: false
          description: A query to filter users by user name.
          type: string
          pattern: '[\u0020-\uFFFF]+'
          minLength: 1
          maxLength: 512
          format: password
        - name: include
          in: query
          required: false
          description: The state of the users. Specify "ALL" to include inactive users.
          type: string
          enum:
            - ALL
            - ACTIVE_PENDING
        - name: order
          in: query
          required: false
          description: The order for the results.
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: sort
          in: query
          required: false
          description: The sorting criteria.
          type: string
          enum:
            - USER_NAME
            - FULL_NAME
            - STORAGE_LIMIT
            - USER_STATUS
            - STORAGE_USED
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
          minLength: 1
          maxLength: 2048
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return.
          type: integer
          minimum: 1
          maximum: 999
        - name: fields
          in: query
          required: false
          description: A comma-separated list of values. Specify "STORAGE_METADATA" to include the user storage quota and utilization information.
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 256
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}':
    delete:
      operationId: DeleteComment
      description: Deletes the specified comment from the document version.
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: DocumentLockedForCommentsException
          schema:
            $ref: '#/definitions/DocumentLockedForCommentsException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The ID of the document version.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: CommentId
          in: path
          required: true
          description: The ID of the comment.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}':
    delete:
      operationId: DeleteDocument
      description: Permanently deletes the specified document and its associated metadata.
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDocument
      description: Retrieves details of a document.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDocumentResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InvalidPasswordException
          schema:
            $ref: '#/definitions/InvalidPasswordException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: includeCustomMetadata
          in: query
          required: false
          description: Set this to <code>TRUE</code> to include custom metadata in the response.
          type: boolean
    patch:
      operationId: UpdateDocument
      description: 'Updates the specified attributes of a document. The user must have access to both the document and its parent folder, if applicable.'
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '484':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '486':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '487':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '488':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '489':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the document.
                type: string
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                minLength: 1
                maxLength: 255
              ParentFolderId:
                description: The ID of the parent folder.
                type: string
                pattern: '[\w+-.@]+'
                minLength: 1
                maxLength: 128
              ResourceState:
                description: The resource state of the document. Only ACTIVE and RECYCLED are supported.
                type: string
                enum:
                  - ACTIVE
                  - RESTORING
                  - RECYCLING
                  - RECYCLED
  '/api/v1/folders/{FolderId}':
    delete:
      operationId: DeleteFolder
      description: Permanently deletes the specified folder and its contents.
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '485':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '486':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: FolderId
          in: path
          required: true
          description: The ID of the folder.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetFolder
      description: Retrieves the metadata of the specified folder.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFolderResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: FolderId
          in: path
          required: true
          description: The ID of the folder.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: includeCustomMetadata
          in: query
          required: false
          description: Set to TRUE to include custom metadata in the response.
          type: boolean
    patch:
      operationId: UpdateFolder
      description: 'Updates the specified attributes of the specified folder. The user must have access to both the folder and its parent folder, if applicable.'
      responses:
        '200':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '483':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '487':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '488':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '489':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: FolderId
          in: path
          required: true
          description: The ID of the folder.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the folder.
                type: string
                pattern: '[\u0020-\u202D\u202F-\uFFFF]+'
                minLength: 1
                maxLength: 255
              ParentFolderId:
                description: The ID of the parent folder.
                type: string
                pattern: '[\w+-.@]+'
                minLength: 1
                maxLength: 128
              ResourceState:
                description: The resource state of the folder. Only ACTIVE and RECYCLED are accepted values from the API.
                type: string
                enum:
                  - ACTIVE
                  - RESTORING
                  - RECYCLING
                  - RECYCLED
  '/api/v1/folders/{FolderId}/contents':
    delete:
      operationId: DeleteFolderContents
      description: Deletes the contents of the specified folder.
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: ConflictingOperationException
          schema:
            $ref: '#/definitions/ConflictingOperationException'
        '483':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '484':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '485':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: FolderId
          in: path
          required: true
          description: The ID of the folder.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeFolderContents
      description: '<p>Describes the contents of the specified folder, including its documents and subfolders.</p> <p>By default, Amazon WorkDocs returns the first 100 active document and folder metadata items. If there are more results, the response includes a marker that you can use to request the next set of results. You can also request initialized documents.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFolderContentsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: FolderId
          in: path
          required: true
          description: The ID of the folder.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: sort
          in: query
          required: false
          description: The sorting criteria.
          type: string
          enum:
            - DATE
            - NAME
        - name: order
          in: query
          required: false
          description: The order for the contents of the folder.
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return with this call.
          type: integer
          minimum: 1
          maximum: 999
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. This marker was received from a previous call.
          type: string
          minLength: 1
          maxLength: 2048
        - name: type
          in: query
          required: false
          description: The type of items.
          type: string
          enum:
            - ALL
            - DOCUMENT
            - FOLDER
        - name: include
          in: query
          required: false
          description: The contents to include. Specify "INITIALIZED" to include initialized documents.
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 256
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
  '/api/v1/organizations/{OrganizationId}/subscriptions/{SubscriptionId}':
    delete:
      operationId: DeleteNotificationSubscription
      description: Deletes the specified subscription from the specified organization.
      responses:
        '200':
          description: Success
        '480':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '481':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
      parameters:
        - name: SubscriptionId
          in: path
          required: true
          description: The ID of the subscription.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: OrganizationId
          in: path
          required: true
          description: The ID of the organization.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/users/{UserId}':
    delete:
      operationId: DeleteUser
      description: Deletes the specified user from a Simple AD or Microsoft AD directory.
      responses:
        '204':
          description: Success
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: UserId
          in: path
          required: true
          description: The ID of the user.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      operationId: UpdateUser
      description: 'Updates the specified attributes of the specified user, and grants or revokes administrative privileges to the Amazon WorkDocs site.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: IllegalUserStateException
          schema:
            $ref: '#/definitions/IllegalUserStateException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: DeactivatingLastSystemUserException
          schema:
            $ref: '#/definitions/DeactivatingLastSystemUserException'
        '487':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: UserId
          in: path
          required: true
          description: The ID of the user.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              GivenName:
                description: The given name of the user.
                type: string
                minLength: 1
                maxLength: 64
              Surname:
                description: The surname of the user.
                type: string
                minLength: 1
                maxLength: 64
              Type:
                description: The type of the user.
                type: string
                enum:
                  - USER
                  - ADMIN
                  - POWERUSER
                  - MINIMALUSER
                  - WORKSPACESUSER
              StorageRule:
                description: Describes the storage for a user.
                type: object
                properties:
                  StorageAllocatedInBytes:
                    $ref: '#/definitions/PositiveSizeType'
                    description: 'The amount of storage allocated, in bytes.'
                  StorageType:
                    $ref: '#/definitions/StorageType'
                    description: The type of storage.
              TimeZoneId:
                description: The time zone ID of the user.
                type: string
                minLength: 1
                maxLength: 256
              Locale:
                description: The locale of the user.
                type: string
                enum:
                  - en
                  - fr
                  - ko
                  - de
                  - es
                  - ja
                  - ru
                  - zh_CN
                  - zh_TW
                  - pt_BR
                  - default
              GrantPoweruserPrivileges:
                description: Boolean value to determine whether the user is granted Poweruser privileges.
                type: string
                enum:
                  - 'TRUE'
                  - 'FALSE'
  /api/v1/activities:
    get:
      operationId: DescribeActivities
      description: Describes the user activities in a specified time period.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeActivitiesResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: startTime
          in: query
          required: false
          description: The timestamp that determines the starting time of the activities. The response includes the activities performed after the specified timestamp.
          type: string
          format: date-time
        - name: endTime
          in: query
          required: false
          description: The timestamp that determines the end time of the activities. The response includes the activities performed before the specified timestamp.
          type: string
          format: date-time
        - name: organizationId
          in: query
          required: false
          description: The ID of the organization. This is a mandatory parameter when using administrative API (SigV4) requests.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: activityTypes
          in: query
          required: false
          description: 'Specifies which activity types to include in the response. If this field is left empty, all activity types are returned.'
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 1024
        - name: resourceId
          in: query
          required: false
          description: The document or folder ID for which to describe activity types.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: userId
          in: query
          required: false
          description: The ID of the user who performed the action. The response includes activities pertaining to this user. This is an optional parameter and is only applicable for administrative API (SigV4) requests.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: includeIndirectActivities
          in: query
          required: false
          description: 'Includes indirect activities. An indirect activity results from a direct activity performed on a parent resource. For example, sharing a parent folder (the direct activity) shares all of the subfolders and documents within the parent folder (the indirect activity).'
          type: boolean
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return.
          type: integer
          minimum: 1
          maximum: 999
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results.
          type: string
          pattern: '[\u0000-\u00FF]+'
          minLength: 1
          maxLength: 2048
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}/versions/{VersionId}/comments':
    get:
      operationId: DescribeComments
      description: List all the comments for the specified document version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCommentsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: VersionId
          in: path
          required: true
          description: The ID of the document version.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return.
          type: integer
          minimum: 1
          maximum: 999
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. This marker was received from a previous call.
          type: string
          pattern: '[\u0000-\u00FF]+'
          minLength: 1
          maxLength: 2048
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/documents/{DocumentId}/versions':
    get:
      operationId: DescribeDocumentVersions
      description: '<p>Retrieves the document versions for the specified document.</p> <p>By default, only active versions are returned.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentVersionsResponse'
        '480':
          description: EntityNotExistsException
          schema:
            $ref: '#/definitions/EntityNotExistsException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ProhibitedStateException
          schema:
            $ref: '#/definitions/ProhibitedStateException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: DocumentId
          in: path
          required: true
          description: The ID of the document.
          type: string
          pattern: '[\w+-.@]+'
          minLength: 1
          maxLength: 128
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
          minLength: 1
          maxLength: 2048
        - name: limit
          in: query
          required: false
          description: The maximum number of versions to return with this call.
          type: integer
          minimum: 1
          maximum: 999
        - name: include
          in: query
          required: false
          description: A comma-separated list of values. Specify "INITIALIZED" to include incomplete versions.
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 256
        - name: fields
          in: query
          required: false
          description: Specify "SOURCE" to include initialized versions and a URL for the source document.
          type: string
          pattern: '[\w,]+'
          minLength: 1
          maxLength: 256
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/groups#searchQuery':
    get:
      operationId: DescribeGroups
      description: Describes the groups specified by the query. Groups are defined by the underlying Active Directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeGroupsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: false
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
          type: string
          minLength: 1
          maxLength: 8199
          format: password
        - name: searchQuery
          in: query
          required: true
          description: A query to describe groups by group name.
          type: string
          pattern: '[\u0020-\uFFFF]+'
          minLength: 1
          maxLength: 512
          format: password
        - name: organizationId
          in: query
          required: false
          description: The ID of the organization.
          type: string
          pattern: '[&\w+-.@]+'
          minLength: 1
          maxLength: 256
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
          pattern: '[\u0000-\u00FF]+'
          minLength: 1
          maxLength: 2048
        - name: limit
          in: query
          required: false
          description: The maximum number of items to return with this call.
          type: integer
          minimum: 1
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/api/v1/me/root#Authentication':
    get:
      operationId: DescribeRootFolders
      description: '<p>Describes the current user''s special folders; the <code>RootFolder</code> and the <code>RecycleBin</code>. <code>RootFolder</code> is the root of user''s files and folders and <code>RecycleBin</code> is the root of recycled items. This is not a valid action for SigV4 (administrative API) clients.</p> <p>This action requires an authentication token. To get an authentication token, register an application with Amazon WorkDocs. For more information, see <a href="https://docs.aws.amazon.com/workdocs/latest/developerguide/wd-auth-user.html">Authentication and Access Control for User Applications</a> in the <i>Amazon WorkDocs Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRootFoldersResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: UnauthorizedResourceAccessException
          schema:
            $ref: '#/definitions/UnauthorizedResourceAccessException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: FailedDependencyException
          schema:
            $ref: '#/definitions/FailedDependencyException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: Authentication
          in: header
          required: true
          description: 'Amazon WorkDocs authentication token. Do not set this field when using administrative API actions, as in accessing the API using AWS credentials.'
[...]
