openapi: 3.0.0
servers:
  - url: https://api.clever.com/v1.2
info:
  contact:
    x-twitter: clever
  description: Serves the Clever Data API
  title: Data API
  version: 1.2.0
  x-apisguru-categories:
    - education
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml
      version: "3.0"
  x-providerName: clever.com
security:
  - oauth: []
paths:
  /contacts:
    get:
      description: Returns a list of student contacts
      operationId: getContacts
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentContactsResponse"
          description: OK Response
      tags:
        - Contacts
  "/contacts/{id}":
    get:
      description: Returns a specific student contact
      operationId: getContact
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentContactResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Contacts
  "/contacts/{id}/district":
    get:
      description: Returns the district for a student contact
      operationId: getDistrictForStudentContact
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Contacts
  "/contacts/{id}/student":
    get:
      description: Returns the student for a student contact
      operationId: getStudentForContact
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Contacts
  /district_admins:
    get:
      description: Returns a list of district admins
      operationId: getDistrictAdmins
      parameters:
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: show_links
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictAdminsResponse"
          description: OK Response
      tags:
        - District Admins
  "/district_admins/{id}":
    get:
      description: Returns a specific district admin
      operationId: getDistrictAdmin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictAdminResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - District Admins
  /districts:
    get:
      description: Returns a list of districts. In practice this will only return the one district associated with the bearer token
      operationId: getDistricts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictsResponse"
          description: OK Response
      tags:
        - Districts
  "/districts/{id}":
    get:
      description: Returns a specific district
      operationId: getDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/admins":
    get:
      description: Returns the admins for a district
      operationId: getAdminsForDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictAdminsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/schools":
    get:
      description: Returns the schools for a district
      operationId: getSchoolsForDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/sections":
    get:
      description: Returns the sections for a district
      operationId: getSectionsForDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/status":
    get:
      description: Returns the status of the district
      operationId: getDistrictStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictStatusResponses"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/students":
    get:
      description: Returns the students for a district
      operationId: getStudentsForDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  "/districts/{id}/teachers":
    get:
      description: Returns the teachers for a district
      operationId: getTeachersForDistrict
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeachersResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Districts
  /school_admins:
    get:
      description: Returns a list of school admins
      operationId: getSchoolAdmins
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolAdminsResponse"
          description: OK Response
      tags:
        - School Admins
  "/school_admins/{id}":
    get:
      description: Returns a specific school admin
      operationId: getSchoolAdmin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolAdminResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - School Admins
  "/school_admins/{id}/schools":
    get:
      description: Returns the schools for a school admin
      operationId: getSchoolsForSchoolAdmin
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - School Admins
  /schools:
    get:
      description: Returns a list of schools
      operationId: getSchools
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolsResponse"
          description: OK Response
      tags:
        - Schools
  "/schools/{id}":
    get:
      description: Returns a specific school
      operationId: getSchool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Schools
  "/schools/{id}/district":
    get:
      description: Returns the district for a school
      operationId: getDistrictForSchool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Schools
  "/schools/{id}/sections":
    get:
      description: Returns the sections for a school
      operationId: getSectionsForSchool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Schools
  "/schools/{id}/students":
    get:
      description: Returns the students for a school
      operationId: getStudentsForSchool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Schools
  "/schools/{id}/teachers":
    get:
      description: Returns the teachers for a school
      operationId: getTeachersForSchool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeachersResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Schools
  /sections:
    get:
      description: Returns a list of sections
      operationId: getSections
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionsResponse"
          description: OK Response
      tags:
        - Sections
  "/sections/{id}":
    get:
      description: Returns a specific section
      operationId: getSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  "/sections/{id}/district":
    get:
      description: Returns the district for a section
      operationId: getDistrictForSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  "/sections/{id}/school":
    get:
      description: Returns the school for a section
      operationId: getSchoolForSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  "/sections/{id}/students":
    get:
      description: Returns the students for a section
      operationId: getStudentsForSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  "/sections/{id}/teacher":
    get:
      description: Returns the primary teacher for a section
      operationId: getTeacherForSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeacherResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  "/sections/{id}/teachers":
    get:
      description: Returns the teachers for a section
      operationId: getTeachersForSection
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeachersResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Sections
  /students:
    get:
      description: Returns a list of students
      operationId: getStudents
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentsResponse"
          description: OK Response
      tags:
        - Students
  "/students/{id}":
    get:
      description: Returns a specific student
      operationId: getStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  "/students/{id}/contacts":
    get:
      description: Returns the contacts for a student
      operationId: getContactsForStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentContactsForStudentResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  "/students/{id}/district":
    get:
      description: Returns the district for a student
      operationId: getDistrictForStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  "/students/{id}/school":
    get:
      description: Returns the primary school for a student
      operationId: getSchoolForStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  "/students/{id}/sections":
    get:
      description: Returns the sections for a student
      operationId: getSectionsForStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  "/students/{id}/teachers":
    get:
      description: Returns the teachers for a student
      operationId: getTeachersForStudent
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeachersResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Students
  /teachers:
    get:
      description: Returns a list of teachers
      operationId: getTeachers
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: where
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeachersResponse"
          description: OK Response
      tags:
        - Teachers
  "/teachers/{id}":
    get:
      description: Returns a specific teacher
      operationId: getTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeacherResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
  "/teachers/{id}/district":
    get:
      description: Returns the district for a teacher
      operationId: getDistrictForTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DistrictResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
  "/teachers/{id}/grade_levels":
    get:
      description: Returns the grade levels for sections a teacher teaches
      operationId: getGradeLevelsForTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GradeLevelsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
  "/teachers/{id}/school":
    get:
      description: Retrieves school info for a teacher.
      operationId: getSchoolForTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchoolResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
  "/teachers/{id}/sections":
    get:
      description: Returns the sections for a teacher
      operationId: getSectionsForTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SectionsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
  "/teachers/{id}/students":
    get:
      description: Returns the students for a teacher
      operationId: getStudentsForTeacher
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudentsResponse"
          description: OK Response
        "404":
          $ref: "#/components/responses/NotFound"
      tags:
        - Teachers
components:
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequest"
      description: Bad Request
    InternalError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InternalError"
      description: Internal Error
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFound"
      description: Entity Not Found
  schemas:
    BadRequest:
      properties:
        message:
          type: string
      type: object
    Credentials:
      properties:
        district_username:
          type: string
      type: object
    District:
      properties:
        id:
          type: string
          x-validation: true
        mdr_number:
          nullable: true
          type: string
        name:
          type: string
      type: object
    DistrictAdmin:
      properties:
        district:
          type: string
          x-validation: true
        email:
          type: string
        id:
          type: string
          x-validation: true
        name:
          $ref: "#/components/schemas/Name"
        title:
          nullable: true
          type: string
      type: object
    DistrictAdminResponse:
      properties:
        data:
          $ref: "#/components/schemas/DistrictAdmin"
      type: object
    DistrictAdminsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/DistrictAdmin"
          type: array
      type: object
    DistrictResponse:
      properties:
        data:
          $ref: "#/components/schemas/District"
      type: object
    DistrictStatus:
      properties:
        error:
          type: string
        id:
          type: string
          x-validation: true
        instant_login:
          type: boolean
        last_sync:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        launch_date:
          format: datetime
          type: string
          x-validation: true
        pause_end:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        pause_start:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        sis_type:
          type: string
          x-validation: true
        state:
          enum:
            - running
            - pending
            - error
            - paused
          type: string
          x-validation: true
      type: object
    DistrictStatusResponse:
      properties:
        data:
          $ref: "#/components/schemas/DistrictStatus"
      type: object
    DistrictStatusResponses:
      properties:
        data:
          items:
            $ref: "#/components/schemas/DistrictStatusResponse"
          type: array
      type: object
    DistrictsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/DistrictResponse"
          type: array
      type: object
    GradeLevelsResponse:
      properties:
        data:
          items:
            type: string
          type: array
      type: object
    InternalError:
      properties:
        message:
          type: string
      type: object
    Location:
      properties:
        address:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        lat:
          nullable: true
          type: string
        lon:
          nullable: true
          type: string
        state:
          nullable: true
          type: string
        zip:
          nullable: true
          type: string
      type: object
    Name:
      properties:
        first:
          nullable: true
          type: string
        last:
          nullable: true
          type: string
        middle:
          nullable: true
          type: string
      type: object
    NotFound:
      properties:
        message:
          type: string
      type: object
    Principal:
      properties:
        email:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
      type: object
    School:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        high_grade:
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
            - "11"
            - "12"
            - PreKindergarten
            - Kindergarten
            - PostGraduate
            - Other
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: "#/components/schemas/Location"
        low_grade:
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
            - "11"
            - "12"
            - PreKindergarten
            - Kindergarten
            - PostGraduate
            - Other
          nullable: true
          type: string
          x-validation: true
        mdr_number:
          nullable: true
          type: string
        name:
          type: string
        nces_id:
          nullable: true
          type: string
        phone:
          nullable: true
          type: string
        principal:
          $ref: "#/components/schemas/Principal"
        school_number:
          type: string
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
      type: object
    SchoolAdmin:
      properties:
        credentials:
          $ref: "#/components/schemas/Credentials"
        district:
          type: string
          x-validation: true
        email:
          type: string
        id:
          type: string
          x-validation: true
        name:
          $ref: "#/components/schemas/Name"
        schools:
          items:
            type: string
          type: array
          x-validation: true
        staff_id:
          type: string
        title:
          nullable: true
          type: string
      type: object
    SchoolAdminResponse:
      properties:
        data:
          $ref: "#/components/schemas/SchoolAdmin"
      type: object
    SchoolAdminsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/SchoolAdminResponse"
          type: array
      type: object
    SchoolResponse:
      properties:
        data:
          $ref: "#/components/schemas/School"
      type: object
    SchoolsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/SchoolResponse"
          type: array
      type: object
    Section:
      properties:
        course_description:
          nullable: true
          type: string
        course_name:
          nullable: true
          type: string
        course_number:
          nullable: true
          type: string
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        grade:
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
            - "11"
            - "12"
            - PreKindergarten
            - Kindergarten
            - PostGraduate
            - Other
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          type: string
        period:
          nullable: true
          type: string
        school:
          type: string
          x-validation: true
        section_number:
          nullable: true
          type: string
        sis_id:
          type: string
        students:
          items:
            type: string
          type: array
          x-validation: true
        subject:
          enum:
            - english/language arts
            - math
            - science
            - social studies
            - language
            - homeroom/advisory
            - interventions/online learning
            - technology and engineering
            - PE and health
            - arts and music
            - other
          type: string
          x-validation: true
        teacher:
          nullable: true
          type: string
          x-validation: true
        teachers:
          items:
            type: string
          type: array
          x-validation: true
        term:
          $ref: "#/components/schemas/Term"
      type: object
    SectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Section"
      type: object
    SectionsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/SectionResponse"
          type: array
      type: object
    Student:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: "#/components/schemas/Credentials"
        district:
          type: string
          x-validation: true
        dob:
          nullable: true
          pattern: (?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})
          type: string
          x-validation: true
        ell_status:
          enum:
            - Y
            - N
            - ""
          nullable: true
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        gender:
          enum:
            - M
            - F
            - ""
          nullable: true
          type: string
          x-validation: true
        grade:
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
            - "11"
            - "12"
            - PreKindergarten
            - Kindergarten
            - PostGraduate
            - Other
          nullable: true
          type: string
          x-validation: true
        graduation_year:
          nullable: true
          type: string
          x-validation: true
        hispanic_ethnicity:
          enum:
            - Y
            - N
            - ""
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: "#/components/schemas/Location"
        name:
          $ref: "#/components/schemas/Name"
        race:
          enum:
            - Caucasian
            - Asian
            - Black or African American
            - American Indian
            - Hawaiian or Other Pacific Islander
            - Two or More Races
            - Unknown
            - ""
          nullable: true
          type: string
          x-validation: true
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
        student_number:
          nullable: true
          type: string
      type: object
    StudentContact:
      properties:
        district:
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        id:
          type: string
          x-validation: true
        name:
          type: string
        phone:
          nullable: true
          type: string
        phone_type:
          nullable: true
          type: string
        relationship:
          nullable: true
          type: string
        sis_id:
          nullable: true
          type: string
        student:
          type: string
          x-validation: true
        type:
          type: string
      type: object
    StudentContactResponse:
      properties:
        data:
          $ref: "#/components/schemas/StudentContact"
      type: object
    StudentContactsForStudentResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/StudentContact"
          type: array
      type: object
    StudentContactsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/StudentContactResponse"
          type: array
      type: object
    StudentResponse:
      properties:
        data:
          $ref: "#/components/schemas/Student"
      type: object
    StudentsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/StudentResponse"
          type: array
      type: object
    Teacher:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: "#/components/schemas/Credentials"
        district:
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          $ref: "#/components/schemas/Name"
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
        teacher_number:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
      type: object
    TeacherResponse:
      properties:
        data:
          $ref: "#/components/schemas/Teacher"
      type: object
    TeachersResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/TeacherResponse"
          type: array
      type: object
    Term:
      properties:
        end_date:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        name:
          nullable: true
          type: string
        start_date:
          format: datetime
          nullable: true
          type: string
          x-validation: true
      type: object
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          scopes: {}
          tokenUrl: https://clever.com/oauth/tokens
      type: oauth2
x-samples-languages:
  - curl
  - node
  - ruby
  - python
  - php
  - java
  - go
