swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /drive/v3
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.'
  title: Drive
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/drive_32dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: drive
externalDocs:
  url: 'https://developers.google.com/drive/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/drive': View and manage the files in your Google Drive
      'https://www.googleapis.com/auth/drive.appdata': View and manage its own configuration data in your Google Drive
      'https://www.googleapis.com/auth/drive.file': View and manage Google Drive files and folders that you have opened or created with this app
      'https://www.googleapis.com/auth/drive.metadata': View and manage metadata of files in your Google Drive
      'https://www.googleapis.com/auth/drive.metadata.readonly': View metadata for files in your Google Drive
      'https://www.googleapis.com/auth/drive.photos.readonly': 'View the photos, videos and albums in your Google Photos'
      'https://www.googleapis.com/auth/drive.readonly': View the files in your Google Drive
      'https://www.googleapis.com/auth/drive.scripts': Modify your Google Apps Script scripts' behavior
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: about
  - name: changes
  - name: channels
  - name: comments
  - name: files
  - name: permissions
  - name: replies
  - name: revisions
paths:
  /about:
    get:
      description: 'Gets information about the user, the user''s Drive, and system capabilities.'
      operationId: drive.about.get
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/About'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - about
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes:
    get:
      description: Lists changes for a user.
      operationId: drive.changes.list
      parameters:
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
          in: query
          name: pageToken
          required: true
          type: string
        - default: true
          description: 'Whether to include changes indicating that items have left the view of the changes list, for example by deletion or lost access.'
          in: query
          name: includeRemoved
          type: boolean
        - default: 100
          description: The maximum number of changes to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - default: false
          description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
          in: query
          name: restrictToMyDrive
          type: boolean
        - default: drive
          description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes/startPageToken:
    get:
      description: Gets the starting pageToken for listing future changes.
      operationId: drive.changes.getStartPageToken
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StartPageToken'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes/watch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Subscribes to changes for a user.
      operationId: drive.changes.watch
      parameters:
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
          in: query
          name: pageToken
          required: true
          type: string
        - default: true
          description: 'Whether to include changes indicating that items have left the view of the changes list, for example by deletion or lost access.'
          in: query
          name: includeRemoved
          type: boolean
        - default: 100
          description: The maximum number of changes to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - default: false
          description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
          in: query
          name: restrictToMyDrive
          type: boolean
        - default: drive
          description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
  /channels/stop:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stop watching resources through this channel
      operationId: drive.channels.stop
      parameters:
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - channels
  /files:
    get:
      description: Lists or searches files.
      operationId: drive.files.list
      parameters:
        - default: user
          description: The source of files to list.
          enum:
            - domain
            - user
          in: query
          name: corpus
          type: string
        - description: 'A comma-separated list of sort keys. Valid keys are ''createdTime'', ''folder'', ''modifiedByMeTime'', ''modifiedTime'', ''name'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeTime'', ''starred'', and ''viewedByMeTime''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
          in: query
          name: orderBy
          type: string
        - default: 100
          description: The maximum number of files to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
        - description: A query for filtering the file results. See the "Search for Files" guide for supported syntax.
          in: query
          name: q
          type: string
        - default: drive
          description: 'A comma-separated list of spaces to query within the corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Creates a new file.
      operationId: drive.files.create
      parameters:
        - default: false
          description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
          in: query
          name: ignoreDefaultVisibility
          type: boolean
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - default: false
          description: Whether to use the uploaded content as indexable text.
          in: query
          name: useContentAsIndexableText
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
  /files/generateIds:
    get:
      description: Generates a set of file IDs which can be provided in create requests.
      operationId: drive.files.generateIds
      parameters:
        - default: 10
          description: The number of IDs to return.
          in: query
          maximum: 1000
          minimum: 1
          name: count
          type: integer
        - default: drive
          description: The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.
          in: query
          name: space
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GeneratedIds'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /files/trash:
    delete:
      description: Permanently deletes all of the user's trashed files.
      operationId: drive.files.emptyTrash
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}':
    delete:
      description: 'Permanently deletes a file owned by the user without moving it to the trash. If the target is a folder, all descendants owned by the user are also deleted.'
      operationId: drive.files.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
    get:
      description: Gets a file's metadata or content by ID.
      operationId: drive.files.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      consumes:
        - application/octet-stream
      description: Updates a file's metadata and/or content with patch semantics.
      operationId: drive.files.update
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: A comma-separated list of parent IDs to add.
          in: query
          name: addParents
          type: string
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - description: A comma-separated list of parent IDs to remove.
          in: query
          name: removeParents
          type: string
        - default: false
          description: Whether to use the uploaded content as indexable text.
          in: query
          name: useContentAsIndexableText
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.scripts'
      tags:
        - files
  '/files/{fileId}/comments':
    get:
      description: Lists a file's comments.
      operationId: drive.comments.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to include deleted comments. Deleted comments will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
        - default: 20
          description: The maximum number of comments to return per page.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
        - description: The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).
          in: query
          name: startModifiedTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - comments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new comment on a file.
      operationId: drive.comments.create
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
  '/files/{fileId}/comments/{commentId}':
    delete:
      description: Deletes a comment.
      operationId: drive.comments.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
    get:
      description: Gets a comment by ID.
      operationId: drive.comments.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - default: false
          description: Whether to return deleted comments. Deleted comments will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - comments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a comment with patch semantics.
      operationId: drive.comments.update
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
  '/files/{fileId}/comments/{commentId}/replies':
    get:
      description: Lists a comment's replies.
      operationId: drive.replies.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - default: false
          description: Whether to include deleted replies. Deleted replies will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
        - default: 20
          description: The maximum number of replies to return per page.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReplyList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - replies
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new reply to a comment.
      operationId: drive.replies.create
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Reply'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
  '/files/{fileId}/comments/{commentId}/replies/{replyId}':
    delete:
      description: Deletes a reply.
      operationId: drive.replies.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
    get:
      description: Gets a reply by ID.
      operationId: drive.replies.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
        - default: false
          description: Whether to return deleted replies. Deleted replies will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - replies
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a reply with patch semantics.
      operationId: drive.replies.update
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Reply'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
  '/files/{fileId}/copy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a copy of a file and applies any requested updates with patch semantics.
      operationId: drive.files.copy
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
          in: query
          name: ignoreDefaultVisibility
          type: boolean
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
      tags:
        - files
  '/files/{fileId}/export':
    get:
      description: Exports a Google Doc to the requested MIME type and returns the exported content.
      operationId: drive.files.export
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The MIME type of the format requested for this export.
          in: query
          name: mimeType
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}/permissions':
    get:
      description: Lists a file's permissions.
      operationId: drive.permissions.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PermissionList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - permissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a permission for a file.
      operationId: drive.permissions.create
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: A custom message to include in the notification email.
          in: query
          name: emailMessage
          type: string
        - description: 'Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.'
          in: query
          name: sendNotificationEmail
          type: boolean
        - default: false
          description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
          in: query
          name: transferOwnership
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Permission'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
  '/files/{fileId}/permissions/{permissionId}':
    delete:
      description: Deletes a permission.
      operationId: drive.permissions.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
    get:
      description: Gets a permission by ID.
      operationId: drive.permissions.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - permissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a permission with patch semantics.
      operationId: drive.permissions.update
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
        - default: false
          description: Whether to remove the expiration date.
          in: query
          name: removeExpiration
          type: boolean
        - default: false
          description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
          in: query
          name: transferOwnership
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Permission'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
  '/files/{fileId}/revisions':
    get:
      description: Lists a file's revisions.
      operationId: drive.revisions.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: 200
          description: The maximum number of revisions to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RevisionList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - revisions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}/revisions/{revisionId}':
    delete:
      description: Permanently deletes a revision. This method is only applicable to files with binary content in Drive.
      operationId: drive.revisions.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - revisions
    get:
      description: Gets a revision's metadata or content by ID.
      operationId: drive.revisions.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Revision'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - revisions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a revision with patch semantics.
      operationId: drive.revisions.update
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Revision'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - revisions
  '/files/{fileId}/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Subscribes to changes to a file
      operationId: drive.files.watch
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
definitions:
  About:
    description: 'Information about the user, the user''s Drive, and system capabilities.'
    properties:
      appInstalled:
        description: Whether the user has installed the requesting app.
        type: boolean
      exportFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported exports.
        type: object
      folderColorPalette:
        description: The currently supported folder colors as RGB hex strings.
        items:
          type: string
        type: array
      importFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported imports.
        type: object
      kind:
        default: 'drive#about'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#about".'
        type: string
      maxImportSizes:
        additionalProperties:
          format: int64
          type: string
        description: 'A map of maximum import sizes by MIME type, in bytes.'
        type: object
      maxUploadSize:
        description: The maximum upload size in bytes.
        format: int64
        type: string
      storageQuota:
        description: The user's storage quota limits and usage. All fields are measured in bytes.
        properties:
          limit:
            description: 'The usage limit, if applicable. This will not be present if the user has unlimited storage.'
            format: int64
            type: string
          usage:
            description: The total usage across all services.
            format: int64
            type: string
          usageInDrive:
            description: The usage by all files in Google Drive.
            format: int64
            type: string
          usageInDriveTrash:
            description: The usage by trashed files in Google Drive.
            format: int64
            type: string
        type: object
      user:
        $ref: '#/definitions/User'
        description: The authenticated user.
    type: object
  Change:
    description: A change to a file.
    properties:
      file:
        $ref: '#/definitions/File'
        description: The updated state of the file. Present if the file has not been removed.
      fileId:
        description: The ID of the file which has changed.
        type: string
      kind:
        default: 'drive#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#change".'
        type: string
      removed:
        description: 'Whether the file has been removed from the view of the changes list, for example by deletion or lost access.'
        type: boolean
      time:
        description: The time of this change (RFC 3339 date-time).
        format: date-time
        type: string
    type: object
  ChangeList:
    description: A list of changes for a user.
    properties:
      changes:
        description: The page of changes.
        items:
          $ref: '#/definitions/Change'
        type: array
      kind:
        default: 'drive#changeList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#changeList".'
        type: string
      newStartPageToken:
        description: The starting page token for future changes. This will be present only if the end of the current changes list has been reached.
        type: string
      nextPageToken:
        description: The page token for the next page of changes. This will be absent if the end of the current changes list has been reached.
        type: string
    type: object
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
    type: object
  Comment:
    description: A comment on a file.
    properties:
      anchor:
        description: A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.
        type: string
      author:
        $ref: '#/definitions/User'
        description: The user who created the comment.
      content:
        description: 'The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.'
        type: string
      createdTime:
        description: The time at which the comment was created (RFC 3339 date-time).
        format: date-time
        type: string
      deleted:
        description: Whether the comment has been deleted. A deleted comment has no content.
        type: boolean
      htmlContent:
        description: The content of the comment with HTML formatting.
        type: string
      id:
        description: The ID of the comment.
        type: string
      kind:
        default: 'drive#comment'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#comment".'
        type: string
      modifiedTime:
        description: The last time the comment or any of its replies was modified (RFC 3339 date-time).
        format: date-time
        type: string
      quotedFileContent:
        description: 'The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.'
        properties:
          mimeType:
            description: The MIME type of the quoted content.
            type: string
          value:
            description: The quoted content itself. This is interpreted as plain text if set through the API.
            type: string
        type: object
      replies:
        description: The full list of replies to the comment in chronological order.
        items:
          $ref: '#/definitions/Reply'
        type: array
      resolved:
        description: Whether the comment has been resolved by one of its replies.
        type: boolean
    type: object
  CommentList:
    description: A list of comments on a file.
    properties:
      comments:
        description: The page of comments.
        items:
          $ref: '#/definitions/Comment'
        type: array
      kind:
        default: 'drive#commentList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#commentList".'
        type: string
      nextPageToken:
        description: The page token for the next page of comments. This will be absent if the end of the comments list has been reached.
        type: string
    type: object
  File:
    description: The metadata for a file.
    properties:
      appProperties:
        additionalProperties:
          type: string
        description: |-
          A collection of arbitrary key-value pairs which are private to the requesting app.
          Entries with null values are cleared in update and copy requests.
        type: object
      capabilities:
        description: Capabilities the current user has on the file.
        properties:
          canComment:
            description: Whether the user can comment on the file.
            type: boolean
          canCopy:
            description: Whether the user can copy the file.
            type: boolean
          canEdit:
            description: Whether the user can edit the file's content.
            type: boolean
          canReadRevisions:
            description: Whether the current user has read access to the Revisions resource of the file.
            type: boolean
          canShare:
            description: Whether the user can modify the file's permissions and sharing settings.
            type: boolean
        type: object
      contentHints:
        description: Additional information about the content of the file. These fields are never populated in responses.
        properties:
          indexableText:
            description: Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements.
            type: string
          thumbnail:
            description: A thumbnail for the file. This will only be used if Drive cannot generate a standard thumbnail.
            properties:
              image:
                description: The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).
                format: byte
                type: string
              mimeType:
                description: The MIME type of the thumbnail.
                type: string
            type: object
        type: object
      createdTime:
        description: The time at which the file was created (RFC 3339 date-time).
        format: date-time
        type: string
      description:
        description: A short description of the file.
        type: string
      explicitlyTrashed:
        description: 'Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.'
        type: boolean
      fileExtension:
        description: The final component of fullFileExtension. This is only available for files with binary content in Drive.
        type: string
      folderColorRgb:
        description: |-
          The color for a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.
          If an unsupported color is specified, the closest color in the palette will be used instead.
        type: string
      fullFileExtension:
        description: |-
          The full file extension extracted from the name field. May contain multiple concatenated extensions, such as "tar.gz". This is only available for files with binary content in Drive.
          This is automatically updated when the name field changes, however it is not cleared if the new name does not contain a valid extension.
        type: string
      hasThumbnail:
        description: Whether this file has a thumbnail.
        type: boolean
      headRevisionId:
        description: The ID of the file's head revision. This is currently only available for files with binary content in Drive.
        type: string
      iconLink:
        description: 'A static, unauthenticated link to the file''s icon.'
        type: string
      id:
        description: The ID of the file.
        type: string
      imageMediaMetadata:
        description: 'Additional metadata about image media, if available.'
        properties:
          aperture:
            description: The aperture used to create the photo (f-number).
            format: float
            type: number
          cameraMake:
            description: The make of the camera used to create the photo.
            type: string
          cameraModel:
            description: The model of the camera used to create the photo.
            type: string
          colorSpace:
            description: The color space of the photo.
            type: string
          exposureBias:
            description: The exposure bias of the photo (APEX value).
            format: float
            type: number
          exposureMode:
            description: The exposure mode used to create the photo.
            type: string
          exposureTime:
            description: 'The length of the exposure, in seconds.'
            format: float
            type: number
          flashUsed:
            description: Whether a flash was used to create the photo.
            type: boolean
          focalLength:
            description: 'The focal length used to create the photo, in millimeters.'
            format: float
            type: number
          height:
            description: The height of the image in pixels.
            format: int32
            type: integer
          isoSpeed:
            description: The ISO speed used to create the photo.
            format: int32
            type: integer
          lens:
            description: The lens used to create the photo.
            type: string
          location:
            description: Geographic location information stored in the image.
            properties:
              altitude:
                description: The altitude stored in the image.
                format: double
                type: number
              latitude:
                description: The latitude stored in the image.
                format: double
                type: number
              longitude:
                description: The longitude stored in the image.
                format: double
                type: number
            type: object
          maxApertureValue:
            description: The smallest f-number of the lens at the focal length used to create the photo (APEX value).
            format: float
            type: number
          meteringMode:
            description: The metering mode used to create the photo.
            type: string
          rotation:
            description: The rotation in clockwise degrees from the image's original orientation.
            format: int32
            type: integer
          sensor:
            description: The type of sensor used to create the photo.
            type: string
          subjectDistance:
            description: 'The distance to the subject of the photo, in meters.'
            format: int32
            type: integer
          time:
            description: The date and time the photo was taken (EXIF DateTime).
            type: string
          whiteBalance:
            description: The white balance mode used to create the photo.
            type: string
          width:
            description: The width of the image in pixels.
            format: int32
            type: integer
        type: object
      isAppAuthorized:
        description: Whether the file was created or opened by the requesting app.
        type: boolean
      kind:
        default: 'drive#file'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#file".'
        type: string
      lastModifyingUser:
        $ref: '#/definitions/User'
        description: The last user to modify the file.
      md5Checksum:
        description: The MD5 checksum for the content of the file. This is only applicable to files with binary content in Drive.
        type: string
      mimeType:
        description: |-
          The MIME type of the file.
          Drive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.
          If a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource.
        type: string
      modifiedByMe:
        description: Whether the file has been modified by this user.
        type: boolean
      modifiedByMeTime:
        description: The last time the file was modified by the user (RFC 3339 date-time).
        format: date-time
        type: string
      modifiedTime:
        description: |-
          The last time the file was modified by anyone (RFC 3339 date-time).
          Note that setting modifiedTime will also update modifiedByMeTime for the user.
        format: date-time
        type: string
      name:
        description: The name of the file. This is not necessarily unique within a folder.
        type: string
      originalFilename:
        description: 'The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Drive.'
        type: string
      ownedByMe:
        description: Whether the user owns the file.
        type: boolean
      owners:
        description: 'The owners of the file. Currently, only certain legacy files may have more than one owner.'
        items:
          $ref: '#/definitions/User'
        type: array
      parents:
        description: |-
          The IDs of the parent folders which contain the file.
          If not specified as part of a create request, the file will be placed directly in the My Drive folder. Update requests must use the addParents and removeParents parameters to modify the values.
        items:
          type: string
        type: array
      permissions:
        description: The full list of permissions for the file. This is only available if the requesting user can share the file.
        items:
          $ref: '#/definitions/Permission'
        type: array
      properties:
        additionalProperties:
          type: string
        description: |-
          A collection of arbitrary key-value pairs which are visible to all apps.
          Entries with null values are cleared in update and copy requests.
        type: object
      quotaBytesUsed:
        description: The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.
        format: int64
        type: string
      shared:
        description: Whether the file has been shared.
        type: boolean
      sharedWithMeTime:
        description: 'The time at which the file was shared with the user, if applicable (RFC 3339 date-time).'
        format: date-time
        type: string
      sharingUser:
        $ref: '#/definitions/User'
        description: 'The user who shared the file with the requesting user, if applicable.'
      size:
        description: The size of the file's content in bytes. This is only applicable to files with binary content in Drive.
        format: int64
        type: string
      spaces:
        description: 'The list of spaces which contain the file. The currently supported values are ''drive'', ''appDataFolder'' and ''photos''.'
        items:
          type: string
        type: array
      starred:
        description: Whether the user has starred the file.
        type: boolean
      thumbnailLink:
        description: 'A short-lived link to the file''s thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file''s content.'
        type: string
      thumbnailVersion:
        description: The thumbnail version for use in client-contructable thumbnail URLs or thumbnail cache invalidation.
        format: int64
        type: string
      trashed:
        description: 'Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner''s trash.'
        type: boolean
      version:
        description: 'A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.'
        format: int64
        type: string
      videoMediaMetadata:
        description: Additional metadata about video media. This may not be available immediately upon upload.
        properties:
          durationMillis:
            description: The duration of the video in milliseconds.
            format: int64
            type: string
          height:
            description: The height of the video in pixels.
            format: int32
            type: integer
          width:
            description: The width of the video in pixels.
            format: int32
            type: integer
        type: object
      viewedByMe:
        description: Whether the file has been viewed by this user.
        type: boolean
      viewedByMeTime:
        description: The last time the file was viewed by the user (RFC 3339 date-time).
        format: date-time
        type: string
      viewersCanCopyContent:
        description: 'Whether users with only reader or commenter permission can copy the file''s content. This affects copy, download, and print operations.'
        type: boolean
      webContentLink:
        description: A link for downloading the content of the file in a browser. This is only available for files with binary content in Drive.
        type: string
      webViewLink:
        description: A link for opening the file in a relevant Google editor or viewer in a browser.
        type: string
      writersCanShare:
        description: Whether users with only writer permission can modify the file's permissions.
        type: boolean
    type: object
  FileList:
    description: A list of files.
    properties:
      files:
        description: The page of files.
        items:
          $ref: '#/definitions/File'
        type: array
      kind:
        default: 'drive#fileList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#fileList".'
        type: string
      nextPageToken:
        description: The page token for the next page of files. This will be absent if the end of the files list has been reached.
        type: string
    type: object
  GeneratedIds:
    description: A list of generated file IDs which can be provided in create requests.
    properties:
      ids:
        description: The IDs generated for the requesting user in the specified space.
        items:
          type: string
        type: array
      kind:
        default: 'drive#generatedIds'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#generatedIds".'
        type: string
      space:
        description: The type of file that can be created with these IDs.
        type: string
    type: object
  Permission:
    description: 'A permission for a file. A permission grants a user, group, domain or the world access to a file or a folder hierarchy.'
    properties:
      allowFileDiscovery:
        description: Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type domain or anyone.
        type: boolean
      displayName:
        description: 'A displayable name for users, groups or domains.'
        type: string
      domain:
        description: The domain to which this permission refers.
        type: string
      emailAddress:
        description: The email address of the user or group to which this permission refers.
        type: string
      expirationTime:
        description: The time at which this permission will expire (RFC 3339 date-time).
        format: date-time
        type: string
      id:
        description: 'The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as permissionId.'
        type: string
      kind:
        default: 'drive#permission'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#permission".'
        type: string
      photoLink:
        description: 'A link to the user''s profile photo, if available.'
        type: string
      role:
        description: |-
          The role granted by this permission. Valid values are:  
          - owner 
          - writer 
          - commenter 
          - reader
        type: string
      type:
        description: |-
          The type of the grantee. Valid values are:  
          - user 
          - group 
          - domain 
          - anyone
        type: string
    type: object
  PermissionList:
    description: A list of permissions for a file.
    properties:
      kind:
        default: 'drive#permissionList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#permissionList".'
        type: string
      permissions:
        description: The full list of permissions.
        items:
          $ref: '#/definitions/Permission'
        type: array
    type: object
  Reply:
    description: A reply to a comment on a file.
    properties:
      action:
        description: |-
          The action the reply performed to the parent comment. Valid values are:  
          - resolve 
          - reopen
        type: string
      author:
        $ref: '#/definitions/User'
        description: The user who created the reply.
      content:
        description: 'The plain text content of the reply. This field is used for setting the content, while htmlContent should be displayed. This is required on creates if no action is specified.'
        type: string
      createdTime:
        description: The time at which the reply was created (RFC 3339 date-time).
        format: date-time
        type: string
      deleted:
        description: Whether the reply has been deleted. A deleted reply has no content.
        type: boolean
      htmlContent:
        description: The content of the reply with HTML formatting.
        type: string
      id:
        description: The ID of the reply.
        type: string
      kind:
        default: 'drive#reply'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#reply".'
        type: string
      modifiedTime:
        description: The last time the reply was modified (RFC 3339 date-time).
        format: date-time
        type: string
    type: object
  ReplyList:
    description: A list of replies to a comment on a file.
    properties:
      kind:
        default: 'drive#replyList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#replyList".'
        type: string
      nextPageToken:
        description: The page token for the next page of replies. This will be absent if the end of the replies list has been reached.
        type: string
      replies:
        description: The page of replies.
        items:
          $ref: '#/definitions/Reply'
        type: array
    type: object
  Revision:
    description: The metadata for a revision to a file.
    properties:
      id:
        description: The ID of the revision.
        type: string
      keepForever:
        description: |-
          Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file.
          This field is only applicable to files with binary content in Drive.
        type: boolean
      kind:
        default: 'drive#revision'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#revision".'
        type: string
      lastModifyingUser:
        $ref: '#/definitions/User'
        description: The last user to modify this revision.
      md5Checksum:
        description: The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.
        type: string
      mimeType:
        description: The MIME type of the revision.
        type: string
      modifiedTime:
        description: The last time the revision was modified (RFC 3339 date-time).
        format: date-time
        type: string
      originalFilename:
        description: The original filename used to create this revision. This is only applicable to files with binary content in Drive.
        type: string
      publishAuto:
        description: Whether subsequent revisions will be automatically republished. This is only applicable to Google Docs.
        type: boolean
      published:
        description: Whether this revision is published. This is only applicable to Google Docs.
        type: boolean
      publishedOutsideDomain:
        description: Whether this revision is published outside the domain. This is only applicable to Google Docs.
        type: boolean
      size:
        description: The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.
        format: int64
        type: string
    type: object
  RevisionList:
    description: A list of revisions of a file.
    properties:
      kind:
        default: 'drive#revisionList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#revisionList".'
        type: string
      nextPageToken:
        description: The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached.
        type: string
      revisions:
        description: The full list of revisions.
        items:
          $ref: '#/definitions/Revision'
        type: array
    type: object
  StartPageToken:
    properties:
      kind:
        default: 'drive#startPageToken'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#startPageToken".'
        type: string
      startPageToken:
        description: The starting page token for listing changes.
        type: string
    type: object
  User:
    description: Information about a Drive user.
    properties:
      displayName:
        description: A plain text displayable name for this user.
        type: string
      emailAddress:
        description: The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.
        type: string
      kind:
        default: 'drive#user'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#user".'
        type: string
      me:
        description: Whether this user is the requesting user.
        type: boolean
      permissionId:
        description: The user's ID as visible in Permission resources.
        type: string
      photoLink:
        description: 'A link to the user''s profile photo, if available.'
        type: string
    type: object
