swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /drive/v3
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Drive
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/drive_32dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: drive
externalDocs:
  url: 'https://developers.google.com/drive/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/drive': 'See, edit, create, and delete all of your Google Drive files'
      'https://www.googleapis.com/auth/drive.appdata': View and manage its own configuration data in your Google Drive
      'https://www.googleapis.com/auth/drive.file': View and manage Google Drive files and folders that you have opened or created with this app
      'https://www.googleapis.com/auth/drive.metadata': View and manage metadata of files in your Google Drive
      'https://www.googleapis.com/auth/drive.metadata.readonly': View metadata for files in your Google Drive
      'https://www.googleapis.com/auth/drive.photos.readonly': 'View the photos, videos and albums in your Google Photos'
      'https://www.googleapis.com/auth/drive.readonly': See and download all your Google Drive files
      'https://www.googleapis.com/auth/drive.scripts': Modify your Google Apps Script scripts' behavior
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/drive': 'See, edit, create, and delete all of your Google Drive files'
      'https://www.googleapis.com/auth/drive.appdata': View and manage its own configuration data in your Google Drive
      'https://www.googleapis.com/auth/drive.file': View and manage Google Drive files and folders that you have opened or created with this app
      'https://www.googleapis.com/auth/drive.metadata': View and manage metadata of files in your Google Drive
      'https://www.googleapis.com/auth/drive.metadata.readonly': View metadata for files in your Google Drive
      'https://www.googleapis.com/auth/drive.photos.readonly': 'View the photos, videos and albums in your Google Photos'
      'https://www.googleapis.com/auth/drive.readonly': See and download all your Google Drive files
      'https://www.googleapis.com/auth/drive.scripts': Modify your Google Apps Script scripts' behavior
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: about
  - name: changes
  - name: channels
  - name: comments
  - name: drives
  - name: files
  - name: permissions
  - name: replies
  - name: revisions
  - name: teamdrives
paths:
  /about:
    get:
      description: 'Gets information about the user, the user''s Drive, and system capabilities.'
      operationId: drive.about.get
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/About'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - about
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes:
    get:
      description: Lists the changes for a user or shared drive.
      operationId: drive.changes.list
      parameters:
        - description: The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.
          in: query
          name: driveId
          type: string
        - default: false
          description: 'Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.'
          in: query
          name: includeCorpusRemovals
          type: boolean
        - default: false
          description: 'Deprecated - Whether both My Drive and shared drive items should be included in results. This parameter will only be effective until June 1, 2020. Afterwards shared drive items will be included in the results.'
          in: query
          name: includeItemsFromAllDrives
          type: boolean
        - default: true
          description: 'Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.'
          in: query
          name: includeRemoved
          type: boolean
        - default: false
          description: Deprecated use includeItemsFromAllDrives instead.
          in: query
          name: includeTeamDriveItems
          type: boolean
        - default: 100
          description: The maximum number of changes to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
          in: query
          name: pageToken
          required: true
          type: string
        - default: false
          description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
          in: query
          name: restrictToMyDrive
          type: boolean
        - default: drive
          description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - description: Deprecated use driveId instead.
          in: query
          name: teamDriveId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes/startPageToken:
    get:
      description: Gets the starting pageToken for listing future changes.
      operationId: drive.changes.getStartPageToken
      parameters:
        - description: The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.
          in: query
          name: driveId
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - description: Deprecated use driveId instead.
          in: query
          name: teamDriveId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/StartPageToken'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /changes/watch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Subscribes to changes for a user.
      operationId: drive.changes.watch
      parameters:
        - description: The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.
          in: query
          name: driveId
          type: string
        - default: false
          description: 'Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.'
          in: query
          name: includeCorpusRemovals
          type: boolean
        - default: false
          description: 'Deprecated - Whether both My Drive and shared drive items should be included in results. This parameter will only be effective until June 1, 2020. Afterwards shared drive items will be included in the results.'
          in: query
          name: includeItemsFromAllDrives
          type: boolean
        - default: true
          description: 'Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.'
          in: query
          name: includeRemoved
          type: boolean
        - default: false
          description: Deprecated use includeItemsFromAllDrives instead.
          in: query
          name: includeTeamDriveItems
          type: boolean
        - default: 100
          description: The maximum number of changes to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.
          in: query
          name: pageToken
          required: true
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
        - default: false
          description: Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.
          in: query
          name: restrictToMyDrive
          type: boolean
        - default: drive
          description: 'A comma-separated list of spaces to query within the user corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - description: Deprecated use driveId instead.
          in: query
          name: teamDriveId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - changes
  /channels/stop:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stop watching resources through this channel
      operationId: drive.channels.stop
      parameters:
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - channels
  /drives:
    get:
      description: Lists the user's shared drives.
      operationId: drive.drives.list
      parameters:
        - default: 10
          description: Maximum number of shared drives to return.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: Page token for shared drives.
          in: query
          name: pageToken
          type: string
        - description: Query string for searching shared drives.
          in: query
          name: q
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DriveList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - drives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new shared drive.
      operationId: drive.drives.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Drive'
        - description: 'An ID, such as a random UUID, which uniquely identifies this user''s request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.'
          in: query
          name: requestId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Drive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - drives
  '/drives/{driveId}':
    delete:
      description: Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.
      operationId: drive.drives.delete
      parameters:
        - description: The ID of the shared drive.
          in: path
          name: driveId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - drives
    get:
      description: Gets a shared drive's metadata by ID.
      operationId: drive.drives.get
      parameters:
        - description: The ID of the shared drive.
          in: path
          name: driveId
          required: true
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Drive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - drives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the metadate for a shared drive.
      operationId: drive.drives.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Drive'
        - description: The ID of the shared drive.
          in: path
          name: driveId
          required: true
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Drive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - drives
  '/drives/{driveId}/hide':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Hides a shared drive from the default view.
      operationId: drive.drives.hide
      parameters:
        - description: The ID of the shared drive.
          in: path
          name: driveId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Drive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - drives
  '/drives/{driveId}/unhide':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Restores a shared drive to the default view.
      operationId: drive.drives.unhide
      parameters:
        - description: The ID of the shared drive.
          in: path
          name: driveId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Drive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - drives
  /files:
    get:
      description: Lists or searches files.
      operationId: drive.files.list
      parameters:
        - description: 'Bodies of items (files/documents) to which the query applies. Supported bodies are ''user'', ''domain'', ''drive'' and ''allDrives''. Prefer ''user'' or ''drive'' to ''allDrives'' for efficiency.'
          in: query
          name: corpora
          type: string
        - description: 'The source of files to list. Deprecated: use ''corpora'' instead.'
          enum:
            - domain
            - user
          in: query
          name: corpus
          type: string
        - description: ID of the shared drive to search.
          in: query
          name: driveId
          type: string
        - default: false
          description: 'Deprecated - Whether both My Drive and shared drive items should be included in results. This parameter will only be effective until June 1, 2020. Afterwards shared drive items will be included in the results.'
          in: query
          name: includeItemsFromAllDrives
          type: boolean
        - default: false
          description: Deprecated use includeItemsFromAllDrives instead.
          in: query
          name: includeTeamDriveItems
          type: boolean
        - description: 'A comma-separated list of sort keys. Valid keys are ''createdTime'', ''folder'', ''modifiedByMeTime'', ''modifiedTime'', ''name'', ''name_natural'', ''quotaBytesUsed'', ''recency'', ''sharedWithMeTime'', ''starred'', and ''viewedByMeTime''. Each key sorts ascending by default, but may be reversed with the ''desc'' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.'
          in: query
          name: orderBy
          type: string
        - default: 100
          description: The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
        - description: A query for filtering the file results. See the "Search for Files" guide for supported syntax.
          in: query
          name: q
          type: string
        - default: drive
          description: 'A comma-separated list of spaces to query within the corpus. Supported values are ''drive'', ''appDataFolder'' and ''photos''.'
          in: query
          name: spaces
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - description: Deprecated use driveId instead.
          in: query
          name: teamDriveId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Creates a new file.
      operationId: drive.files.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
        - default: false
          description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
          in: query
          name: ignoreDefaultVisibility
          type: boolean
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: Whether to use the uploaded content as indexable text.
          in: query
          name: useContentAsIndexableText
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
  /files/generateIds:
    get:
      description: Generates a set of file IDs which can be provided in create or copy requests.
      operationId: drive.files.generateIds
      parameters:
        - default: 10
          description: The number of IDs to return.
          in: query
          maximum: 1000
          minimum: 1
          name: count
          type: integer
        - default: drive
          description: The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.
          in: query
          name: space
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GeneratedIds'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /files/trash:
    delete:
      description: Permanently deletes all of the user's trashed files.
      operationId: drive.files.emptyTrash
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}':
    delete:
      description: 'Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.'
      operationId: drive.files.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - files
    get:
      description: Gets a file's metadata or content by ID.
      operationId: drive.files.get
      parameters:
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      consumes:
        - application/octet-stream
      description: Updates a file's metadata and/or content with patch semantics.
      operationId: drive.files.update
      parameters:
        - description: A comma-separated list of parent IDs to add.
          in: query
          name: addParents
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - description: A comma-separated list of parent IDs to remove.
          in: query
          name: removeParents
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: Whether to use the uploaded content as indexable text.
          in: query
          name: useContentAsIndexableText
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.scripts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.scripts'
      tags:
        - files
  '/files/{fileId}/comments':
    get:
      description: Lists a file's comments.
      operationId: drive.comments.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to include deleted comments. Deleted comments will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
        - default: 20
          description: The maximum number of comments to return per page.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
        - description: The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).
          in: query
          name: startModifiedTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - comments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new comment on a file.
      operationId: drive.comments.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
  '/files/{fileId}/comments/{commentId}':
    delete:
      description: Deletes a comment.
      operationId: drive.comments.delete
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
    get:
      description: Gets a comment by ID.
      operationId: drive.comments.get
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to return deleted comments. Deleted comments will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - comments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a comment with patch semantics.
      operationId: drive.comments.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Comment'
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Comment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - comments
  '/files/{fileId}/comments/{commentId}/replies':
    get:
      description: Lists a comment's replies.
      operationId: drive.replies.list
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to include deleted replies. Deleted replies will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
        - default: 20
          description: The maximum number of replies to return per page.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReplyList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - replies
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new reply to a comment.
      operationId: drive.replies.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Reply'
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
  '/files/{fileId}/comments/{commentId}/replies/{replyId}':
    delete:
      description: Deletes a reply.
      operationId: drive.replies.delete
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
    get:
      description: Gets a reply by ID.
      operationId: drive.replies.get
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to return deleted replies. Deleted replies will not include their original content.
          in: query
          name: includeDeleted
          type: boolean
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - replies
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a reply with patch semantics.
      operationId: drive.replies.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Reply'
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the reply.
          in: path
          name: replyId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Reply'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - replies
  '/files/{fileId}/copy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a copy of a file and applies any requested updates with patch semantics.
      operationId: drive.files.copy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/File'
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: false
          description: Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.
          in: query
          name: ignoreDefaultVisibility
          type: boolean
        - default: false
          description: Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive.
          in: query
          name: keepRevisionForever
          type: boolean
        - description: A language hint for OCR processing during image import (ISO 639-1 code).
          in: query
          name: ocrLanguage
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
      tags:
        - files
  '/files/{fileId}/export':
    get:
      description: Exports a Google Doc to the requested MIME type and returns the exported content. Please note that the exported content is limited to 10MB.
      operationId: drive.files.export
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The MIME type of the format requested for this export.
          in: query
          name: mimeType
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}/permissions':
    get:
      description: Lists a file's or shared drive's permissions.
      operationId: drive.permissions.list
      parameters:
        - description: The ID of the file or shared drive.
          in: path
          name: fileId
          required: true
          type: string
        - description: 'The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.'
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PermissionList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - permissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a permission for a file or shared drive.
      operationId: drive.permissions.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Permission'
        - description: A plain text custom message to include in the notification email.
          in: query
          name: emailMessage
          type: string
        - description: The ID of the file or shared drive.
          in: path
          name: fileId
          required: true
          type: string
        - description: 'Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.'
          in: query
          name: sendNotificationEmail
          type: boolean
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
          in: query
          name: transferOwnership
          type: boolean
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
  '/files/{fileId}/permissions/{permissionId}':
    delete:
      description: Deletes a permission.
      operationId: drive.permissions.delete
      parameters:
        - description: The ID of the file or shared drive.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
    get:
      description: Gets a permission by ID.
      operationId: drive.permissions.get
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - permissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a permission with patch semantics.
      operationId: drive.permissions.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Permission'
        - description: The ID of the file or shared drive.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the permission.
          in: path
          name: permissionId
          required: true
          type: string
        - default: false
          description: Whether to remove the expiration date.
          in: query
          name: removeExpiration
          type: boolean
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
        - default: false
          description: Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.
          in: query
          name: transferOwnership
          type: boolean
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Permission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - permissions
  '/files/{fileId}/revisions':
    get:
      description: Lists a file's revisions.
      operationId: drive.revisions.list
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - default: 200
          description: The maximum number of revisions to return per page.
          in: query
          maximum: 1000
          minimum: 1
          name: pageSize
          type: integer
        - description: The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RevisionList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - revisions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/files/{fileId}/revisions/{revisionId}':
    delete:
      description: 'Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can''t be deleted.'
      operationId: drive.revisions.delete
      parameters:
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - revisions
    get:
      description: Gets a revision's metadata or content by ID.
      operationId: drive.revisions.get
      parameters:
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Revision'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - revisions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a revision with patch semantics.
      operationId: drive.revisions.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Revision'
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - description: The ID of the revision.
          in: path
          name: revisionId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Revision'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
      tags:
        - revisions
  '/files/{fileId}/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Subscribes to changes to a file
      operationId: drive.files.watch
      parameters:
        - default: false
          description: Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.
          in: query
          name: acknowledgeAbuse
          type: boolean
        - description: The ID of the file.
          in: path
          name: fileId
          required: true
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
        - default: false
          description: 'Deprecated - Whether the requesting application supports both My Drives and shared drives. This parameter will only be effective until June 1, 2020. Afterwards all applications are assumed to support shared drives.'
          in: query
          name: supportsAllDrives
          type: boolean
        - default: false
          description: Deprecated use supportsAllDrives instead.
          in: query
          name: supportsTeamDrives
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.file'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.file'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.metadata.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.photos.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - files
  /teamdrives:
    get:
      description: Deprecated use drives.list instead.
      operationId: drive.teamdrives.list
      parameters:
        - default: 10
          description: Maximum number of Team Drives to return.
          in: query
          maximum: 100
          minimum: 1
          name: pageSize
          type: integer
        - description: Page token for Team Drives.
          in: query
          name: pageToken
          type: string
        - description: Query string for searching Team Drives.
          in: query
          name: q
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TeamDriveList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - teamdrives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Deprecated use drives.create instead.
      operationId: drive.teamdrives.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TeamDrive'
        - description: 'An ID, such as a random UUID, which uniquely identifies this user''s request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.'
          in: query
          name: requestId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TeamDrive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - teamdrives
  '/teamdrives/{teamDriveId}':
    delete:
      description: Deprecated use drives.delete instead.
      operationId: drive.teamdrives.delete
      parameters:
        - description: The ID of the Team Drive
          in: path
          name: teamDriveId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - teamdrives
    get:
      description: Deprecated use drives.get instead.
      operationId: drive.teamdrives.get
      parameters:
        - description: The ID of the Team Drive
          in: path
          name: teamDriveId
          required: true
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TeamDrive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.readonly'
      tags:
        - teamdrives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Deprecated use drives.update instead
      operationId: drive.teamdrives.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TeamDrive'
        - description: The ID of the Team Drive
          in: path
          name: teamDriveId
          required: true
          type: string
        - default: false
          description: 'Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.'
          in: query
          name: useDomainAdminAccess
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TeamDrive'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
      tags:
        - teamdrives
definitions:
  About:
    description: 'Information about the user, the user''s Drive, and system capabilities.'
    properties:
      appInstalled:
        description: Whether the user has installed the requesting app.
        type: boolean
      canCreateDrives:
        description: Whether the user can create shared drives.
        type: boolean
      canCreateTeamDrives:
        description: Deprecated - use canCreateDrives instead.
        type: boolean
      driveThemes:
        description: A list of themes that are supported for shared drives.
        items:
          properties:
            backgroundImageLink:
              description: A link to this theme's background image.
              type: string
            colorRgb:
              description: The color of this theme as an RGB hex string.
              type: string
            id:
              description: The ID of the theme.
              type: string
          type: object
        type: array
      exportFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported exports.
        type: object
      folderColorPalette:
        description: The currently supported folder colors as RGB hex strings.
        items:
          type: string
        type: array
      importFormats:
        additionalProperties:
          items:
            type: string
          type: array
        description: A map of source MIME type to possible targets for all supported imports.
        type: object
      kind:
        default: 'drive#about'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#about".'
        type: string
      maxImportSizes:
        additionalProperties:
          format: int64
          type: string
        description: 'A map of maximum import sizes by MIME type, in bytes.'
        type: object
      maxUploadSize:
        description: The maximum upload size in bytes.
        format: int64
        type: string
      storageQuota:
        description: The user's storage quota limits and usage. All fields are measured in bytes.
        properties:
          limit:
            description: 'The usage limit, if applicable. This will not be present if the user has unlimited storage.'
            format: int64
            type: string
          usage:
            description: The total usage across all services.
            format: int64
            type: string
          usageInDrive:
            description: The usage by all files in Google Drive.
            format: int64
            type: string
          usageInDriveTrash:
            description: The usage by trashed files in Google Drive.
            format: int64
            type: string
        type: object
      teamDriveThemes:
        description: Deprecated - use driveThemes instead.
        items:
          properties:
            backgroundImageLink:
              description: Deprecated - use driveThemes/backgroundImageLink instead.
              type: string
            colorRgb:
              description: Deprecated - use driveThemes/colorRgb instead.
              type: string
            id:
              description: Deprecated - use driveThemes/id instead.
              type: string
          type: object
        type: array
      user:
        $ref: '#/definitions/User'
        description: The authenticated user.
    type: object
  Change:
    description: A change to a file or shared drive.
    properties:
      changeType:
        description: The type of the change. Possible values are file and drive.
        type: string
      drive:
        $ref: '#/definitions/Drive'
        description: 'The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.'
      driveId:
        description: The ID of the shared drive associated with this change.
        type: string
      file:
        $ref: '#/definitions/File'
        description: The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.
      fileId:
        description: The ID of the file which has changed.
        type: string
      kind:
        default: 'drive#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#change".'
        type: string
      removed:
        description: 'Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.'
        type: boolean
      teamDrive:
        $ref: '#/definitions/TeamDrive'
        description: Deprecated - use drive instead.
      teamDriveId:
        description: Deprecated - use driveId instead.
        type: string
      time:
        description: The time of this change (RFC 3339 date-time).
        format: date-time
        type: string
      type:
        description: Deprecated - use changeType instead.
        type: string
    type: object
  ChangeList:
    description: A list of changes for a user.
    properties:
      changes:
        description: 'The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.'
        items:
          $ref: '#/definitions/Change'
        type: array
      kind:
        default: 'drive#changeList'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#changeList".'
        type: string
      newStartPageToken:
        description: The starting page token for future changes. This will be present only if the end of the current changes list has been reached.
        type: string
      nextPageToken:
        description: 'The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.'
        type: string
    type: object
  Channel:
    description: An notification channel used to watch for resource changes.
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource, which is "api#channel".'
        type: string
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
    type: object
  Comment:
    description: A comment on a file.
    properties:
      anchor:
        description: A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties.
        type: string
      author:
        $ref: '#/definitions/User'
        description: The user who created the comment.
      content:
        description: 'The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.'
        type: string
      createdTime:
        description: The time at which the comment was created (RFC 3339 date-time).
        format: date-time
        type: string
      deleted:
        description: Whether the comment has been deleted. A deleted comment has no content.
        type: boolean
      htmlContent:
        description: The content of the comment with HTML formatting.
        type: string
      id:
        description: The ID of the comment.
        type: string
      kind:
        default: 'drive#comment'
        description: 'Identifies what kind of resource this is. Value: the fixed string "drive#comment".'
        type: string
      modifiedTime:
        description: The last time the comment or any of its replies was modified (RFC 3339 date-time).
        format: date-time
        type: string
      quotedFileContent:
        description: 'The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.'
        properties:
          mimeType:
            description: The MIME type of the quoted content.
            type: string
          value:
            description: The quoted content itself. This is interpreted as plain text if set through the API.
            type: string
        type: object
      replies:
        description: The full list of replies to the comment in chronological order.
        items:
          $ref: '#/definitions/Reply'
        type: array
      resolved:
        description: Whether the comment has been resolved by one of its replies.
        type: boolean
    type: object
  CommentList:
[...]
