openapi: 3.0.0
servers:
  - url: https://androidpublisher.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: 'Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to "insert" an Edit, make changes as necessary, and then "commit" it. '
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Android Developer API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://androidpublisher.googleapis.com/$discovery/rest?version=v3
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: https://developers.google.com/android-publisher
tags:
  - name: applications
  - name: edits
  - name: externaltransactions
  - name: generatedapks
  - name: grants
  - name: inappproducts
  - name: internalappsharingartifacts
  - name: monetization
  - name: orders
  - name: purchases
  - name: reviews
  - name: systemapks
  - name: users
paths:
  "/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.
      operationId: androidpublisher.internalappsharingartifacts.uploadapk
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAppSharingArtifact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - internalappsharingartifacts
  "/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.
      operationId: androidpublisher.internalappsharingartifacts.uploadbundle
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAppSharingArtifact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - internalappsharingartifacts
  "/androidpublisher/v3/applications/{packageName}/deviceTierConfigs":
    get:
      description: Returns created device tier configs, ordered by descending creation time.
      operationId: androidpublisher.applications.deviceTierConfigs.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDeviceTierConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - applications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new device tier config for an app.
      operationId: androidpublisher.applications.deviceTierConfigs.create
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Whether the service should accept device IDs that are unknown to Play's device catalog.
          in: query
          name: allowUnknownDevices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceTierConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceTierConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - applications
  "/androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}":
    get:
      description: Returns a particular device tier config.
      operationId: androidpublisher.applications.deviceTierConfigs.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Required. Id of an existing device tier config.
          in: path
          name: deviceTierConfigId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceTierConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - applications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new edit for an app.
      operationId: androidpublisher.edits.insert
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}":
    delete:
      description: Deletes an app edit.
      operationId: androidpublisher.edits.delete
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Gets an app edit.
      operationId: androidpublisher.edits.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks":
    get:
      description: Lists all current APKs of the app and edit.
      operationId: androidpublisher.edits.apks.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApksListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an APK and adds to the current edit.
      operationId: androidpublisher.edits.apks.upload
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Apk"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.
      operationId: androidpublisher.edits.apks.addexternallyhosted
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApksAddExternallyHostedRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApksAddExternallyHostedResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads a new deobfuscation file and attaches to the specified APK.
      operationId: androidpublisher.edits.deobfuscationfiles.upload
      parameters:
        - description: Unique identifier for the Android app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose Deobfuscation File is being uploaded.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The type of the deobfuscation file.
          in: path
          name: deobfuscationFileType
          required: true
          schema:
            enum:
              - deobfuscationFileTypeUnspecified
              - proguard
              - nativeCode
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeobfuscationFilesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}":
    get:
      description: Fetches the expansion file configuration for the specified APK.
      operationId: androidpublisher.edits.expansionfiles.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose expansion file configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The file type of the file configuration which is being read or modified.
          in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - expansionFileTypeUnspecified
              - main
              - patch
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.
      operationId: androidpublisher.edits.expansionfiles.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose expansion file configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The file type of the expansion file configuration which is being updated.
          in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - expansionFileTypeUnspecified
              - main
              - patch
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpansionFile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    post:
      description: Uploads a new expansion file and attaches to the specified APK.
      operationId: androidpublisher.edits.expansionfiles.upload
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose expansion file configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The file type of the expansion file configuration which is being updated.
          in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - expansionFileTypeUnspecified
              - main
              - patch
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpansionFilesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.
      operationId: androidpublisher.edits.expansionfiles.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose expansion file configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The file type of the file configuration which is being read or modified.
          in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - expansionFileTypeUnspecified
              - main
              - patch
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpansionFile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles":
    get:
      description: Lists all current Android App Bundles of the app and edit.
      operationId: androidpublisher.edits.bundles.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BundlesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.
      operationId: androidpublisher.edits.bundles.upload
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Must be set to true if the app bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).
          in: query
          name: ackBundleInstallationWarning
          schema:
            type: boolean
        - description: Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or "LATEST" for last uploaded DTC.
          in: query
          name: deviceTierConfigId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bundle"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}":
    get:
      description: Gets country availability.
      operationId: androidpublisher.edits.countryavailability.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read from.
          in: path
          name: track
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackCountryAvailability"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/details":
    get:
      description: Gets details of an app.
      operationId: androidpublisher.edits.details.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches details of an app.
      operationId: androidpublisher.edits.details.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppDetails"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates details of an app.
      operationId: androidpublisher.edits.details.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppDetails"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings":
    delete:
      description: Deletes all store listings.
      operationId: androidpublisher.edits.listings.deleteall
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Lists all localized store listings.
      operationId: androidpublisher.edits.listings.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}":
    delete:
      description: Deletes a localized store listing.
      operationId: androidpublisher.edits.listings.delete
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German).
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Gets a localized store listing.
      operationId: androidpublisher.edits.listings.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German).
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a localized store listing.
      operationId: androidpublisher.edits.listings.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German).
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Listing"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Creates or updates a localized store listing.
      operationId: androidpublisher.edits.listings.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German).
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Listing"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}":
    delete:
      description: Deletes all images for the specified language and image type. Returns an empty response if no images are found.
      operationId: androidpublisher.edits.images.deleteall
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German). Providing a language that is not supported by the App is a no-op.
          in: path
          name: language
          required: true
          schema:
            type: string
        - description: Type of the Image. Providing an image type that refers to no images is a no-op.
          in: path
          name: imageType
          required: true
          schema:
            enum:
              - appImageTypeUnspecified
              - phoneScreenshots
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvScreenshots
              - wearScreenshots
              - icon
              - featureGraphic
              - tvBanner
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagesDeleteAllResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Lists all images. The response may be empty.
      operationId: androidpublisher.edits.images.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German). There must be a store listing for the specified language.
          in: path
          name: language
          required: true
          schema:
            type: string
        - description: Type of the Image. Providing an image type that refers to no images will return an empty response.
          in: path
          name: imageType
          required: true
          schema:
            enum:
              - appImageTypeUnspecified
              - phoneScreenshots
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvScreenshots
              - wearScreenshots
              - icon
              - featureGraphic
              - tvBanner
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an image of the specified language and image type, and adds to the edit.
      operationId: androidpublisher.edits.images.upload
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German). Providing a language that is not supported by the App is a no-op.
          in: path
          name: language
          required: true
          schema:
            type: string
        - description: Type of the Image.
          in: path
          name: imageType
          required: true
          schema:
            enum:
              - appImageTypeUnspecified
              - phoneScreenshots
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvScreenshots
              - wearScreenshots
              - icon
              - featureGraphic
              - tvBanner
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}":
    delete:
      description: Deletes the image (specified by id) from the edit.
      operationId: androidpublisher.edits.images.delete
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Language localization code (a BCP-47 language tag; for example, "de-AT" for Austrian German).
          in: path
          name: language
          required: true
          schema:
            type: string
        - description: Type of the Image.
          in: path
          name: imageType
          required: true
          schema:
            enum:
              - appImageTypeUnspecified
              - phoneScreenshots
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvScreenshots
              - wearScreenshots
              - icon
              - featureGraphic
              - tvBanner
            type: string
        - description: Unique identifier an image within the set of images attached to this edit.
          in: path
          name: imageId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}":
    get:
      description: "Gets testers. Note: Testers resource does not support email lists."
      operationId: androidpublisher.edits.testers.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read from.
          in: path
          name: track
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: "Patches testers. Note: Testers resource does not support email lists."
      operationId: androidpublisher.edits.testers.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to update.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Testers"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: "Updates testers. Note: Testers resource does not support email lists."
      operationId: androidpublisher.edits.testers.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to update.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Testers"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks":
    get:
      description: Lists all tracks.
      operationId: androidpublisher.edits.tracks.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TracksListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}":
    get:
      description: Gets a track.
      operationId: androidpublisher.edits.tracks.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)
          in: path
          name: track
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a track.
      operationId: androidpublisher.edits.tracks.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Track"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates a track.
      operationId: androidpublisher.edits.tracks.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Track"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}:commit":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Commits an app edit.
      operationId: androidpublisher.edits.commit
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Indicates that the changes in this edit will not be reviewed until they are explicitly sent for review from the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.
          in: query
          name: changesNotSentForReview
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/edits/{editId}:validate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Validates an app edit.
      operationId: androidpublisher.edits.validate
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Identifier of the edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}":
    get:
      description: Returns download metadata for all APKs that were generated from a given app bundle.
      operationId: androidpublisher.generatedapks.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Version code of the app bundle.
          in: path
          name: versionCode
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneratedApksListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - generatedapks
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download":
    get:
      description: Downloads a single signed APK generated from an app bundle.
      operationId: androidpublisher.generatedapks.download
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Version code of the app bundle.
          in: path
          name: versionCode
          required: true
          schema:
            type: integer
        - description: Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.
          in: path
          name: downloadId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - generatedapks
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/inappproducts":
    get:
      description: Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page.
      operationId: androidpublisher.inappproducts.list
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Deprecated and ignored. The page size is determined by the server.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Deprecated and ignored. Set the `token` parameter to retrieve the next page.
          in: query
          name: startIndex
          schema:
            type: integer
        - description: Pagination token. If empty, list starts at the first product.
          in: query
          name: token
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InappproductsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an in-app product (i.e. a managed product or a subscription).
      operationId: androidpublisher.inappproducts.insert
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
  "/androidpublisher/v3/applications/{packageName}/inappproducts/{sku}":
    delete:
      description: Deletes an in-app product (i.e. a managed product or a subscription).
      operationId: androidpublisher.inappproducts.delete
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    get:
      description: Gets an in-app product, which can be a managed product or a subscription.
      operationId: androidpublisher.inappproducts.get
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches an in-app product (i.e. a managed product or a subscription).
      operationId: androidpublisher.inappproducts.patch
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    put:
      description: Updates an in-app product (i.e. a managed product or a subscription).
      operationId: androidpublisher.inappproducts.update
      parameters:
        - description: Package name of the app.
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
        - description: If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.
          in: query
          name: allowMissing
          schema:
            type: boolean
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
  "/androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Refunds a user's subscription or in-app purchase order. Orders older than 1 year cannot be refunded.
      operationId: androidpublisher.orders.refund
      parameters:
        - description: The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The order ID provided to the user when the subscription or in-app order was purchased.
          in: path
          name: orderId
          required: true
          schema:
            type: string
        - description: Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).
          in: query
          name: revoke
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - orders
  "/androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.
      operationId: androidpublisher.monetization.convertRegionPrices
      parameters:
        - description: Required. The app package name.
          in: path
          name: packageName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConvertRegionPricesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConvertRegionPricesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - monetization
  "/androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}":
    get:
      description: Checks the purchase and consumption status of an inapp item.
      operationId: androidpublisher.purchases.products.get
      parameters:
        - description: The package name of the application the inapp product was sold in (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The inapp product SKU (for example, 'com.some.thing.inapp1').
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the inapp product was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductPurchase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Acknowledges a purchase of an inapp item.
      operationId: androidpublisher.purchases.products.acknowledge
      parameters:
        - description: The package name of the application the inapp product was sold in (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The inapp product SKU (for example, 'com.some.thing.inapp1').
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the inapp product was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductPurchasesAcknowledgeRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Consumes a purchase for an inapp item.
      operationId: androidpublisher.purchases.products.consume
      parameters:
        - description: The package name of the application the inapp product was sold in (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The inapp product SKU (for example, 'com.some.thing.inapp1').
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the inapp product was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}":
    get:
      description: Checks whether a user's subscription purchase is valid and returns its expiry time.
      operationId: androidpublisher.purchases.subscriptions.get
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionPurchase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Acknowledges a subscription purchase.
      operationId: androidpublisher.purchases.subscriptions.acknowledge
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionPurchasesAcknowledgeRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
      operationId: androidpublisher.purchases.subscriptions.cancel
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Defers a user's subscription purchase until a specified future expiration time.
      operationId: androidpublisher.purchases.subscriptions.defer
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionPurchasesDeferRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionPurchasesDeferResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.
      operationId: androidpublisher.purchases.subscriptions.refund
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: "\"The purchased subscription ID (for example, 'monthly001')."
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.
      operationId: androidpublisher.purchases.subscriptions.revoke
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}":
    get:
      description: Get metadata about a subscription
      operationId: androidpublisher.purchases.subscriptionsv2.get
      parameters:
        - description: The package of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Required. The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionPurchaseV2"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases":
    get:
      description: Lists the purchases that were canceled, refunded or charged-back.
      operationId: androidpublisher.purchases.voidedpurchases.list
      parameters:
        - description: The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
          in: query
          name: endTime
          schema:
            type: string
        - description: Defines how many results the list operation should return. The default number depends on the resource collection.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Defines the index of the first element to return. This can only be used if indexed paging is enabled.
          in: query
          name: startIndex
          schema:
[...]
