openapi: 3.0.0
servers:
  - url: https://prod-tt-sasportal.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: SAS Portal API (Testing)
  version: v1alpha1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://prod-tt-sasportal.googleapis.com/$discovery/rest?version=v1alpha1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: prod_tt_sasportal
externalDocs:
  url: https://developers.google.com/spectrum-access-system/
tags:
  - name: customers
  - name: deployments
  - name: installer
  - name: nodes
  - name: policies
paths:
  /v1alpha1/customers:
    get:
      description: Returns a list of requested customers.
      operationId: prod_tt_sasportal.customers.list
      parameters:
        - description: The maximum number of customers to return in the response.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalListCustomersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha1/customers:provisionDeployment:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.
      operationId: prod_tt_sasportal.customers.provisionDeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalProvisionDeploymentRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalProvisionDeploymentResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - customers
  /v1alpha1/installer:generateSecret:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a secret to be used with the ValidateInstaller.
      operationId: prod_tt_sasportal.installer.generateSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalGenerateSecretRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalGenerateSecretResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - installer
  /v1alpha1/installer:validate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Validates the identity of a Certified Professional Installer (CPI).
      operationId: prod_tt_sasportal.installer.validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalValidateInstallerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalValidateInstallerResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - installer
  /v1alpha1/policies:get:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: prod_tt_sasportal.policies.get
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalGetPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalPolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - policies
  /v1alpha1/policies:set:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy.
      operationId: prod_tt_sasportal.policies.set
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalSetPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalPolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - policies
  /v1alpha1/policies:test:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns permissions that a caller has on the specified resource.
      operationId: prod_tt_sasportal.policies.test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalTestPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalTestPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - policies
  "/v1alpha1/{name}":
    delete:
      description: Deletes a node.
      operationId: prod_tt_sasportal.nodes.nodes.delete
      parameters:
        - description: Required. The name of the node.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
    get:
      description: Returns a requested node.
      operationId: prod_tt_sasportal.nodes.nodes.get
      parameters:
        - description: Required. The name of the node.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalNode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing node.
      operationId: prod_tt_sasportal.nodes.nodes.patch
      parameters:
        - description: Output only. Resource name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Fields to be updated.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalNode"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalNode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{name}:move":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Moves a node under another node or customer.
      operationId: prod_tt_sasportal.nodes.nodes.move
      parameters:
        - description: Required. The name of the node to move.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalMoveNodeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{name}:signDevice":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Signs a device.
      operationId: prod_tt_sasportal.nodes.devices.signDevice
      parameters:
        - description: Output only. The resource path name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalSignDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{name}:updateSigned":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a signed device.
      operationId: prod_tt_sasportal.nodes.devices.updateSigned
      parameters:
        - description: Required. The name of the device to update.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalUpdateSignedDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{parent}/deployments":
    get:
      description: Lists deployments.
      operationId: prod_tt_sasportal.nodes.nodes.deployments.list
      parameters:
        - description: Required. The parent resource name, for example, "nodes/1", customer/1/nodes/2.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The filter expression. The filter should have the following format: "DIRECT_CHILDREN" or format: "direct_children". The filter is case insensitive. If empty, then no deployments are filtered.'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of deployments to return in the response.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalListDeploymentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new deployment.
      operationId: prod_tt_sasportal.nodes.nodes.deployments.create
      parameters:
        - description: Required. The parent resource name where the deployment is to be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalDeployment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalDeployment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{parent}/devices":
    get:
      description: Lists devices under a node or customer.
      operationId: prod_tt_sasportal.nodes.nodes.devices.list
      parameters:
        - description: Required. The name of the parent resource.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The filter expression. The filter should have one of the following formats: "sn=123454" or "display_name=MyDevice". sn corresponds to serial number of the device. The filter is case insensitive.'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalListDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a device under a node or customer.
      operationId: prod_tt_sasportal.nodes.nodes.devices.create
      parameters:
        - description: Required. The name of the parent resource.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalDevice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{parent}/devices:createSigned":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a signed device under a node or customer.
      operationId: prod_tt_sasportal.nodes.nodes.devices.createSigned
      parameters:
        - description: Required. The name of the parent resource.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalCreateSignedDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
  "/v1alpha1/{parent}/nodes":
    get:
      description: Lists nodes.
      operationId: prod_tt_sasportal.nodes.nodes.nodes.list
      parameters:
        - description: Required. The parent resource name, for example, "nodes/1".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The filter expression. The filter should have the following format: "DIRECT_CHILDREN" or format: "direct_children". The filter is case insensitive. If empty, then no nodes are filtered.'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of nodes to return in the response.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalListNodesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new node.
      operationId: prod_tt_sasportal.nodes.nodes.nodes.create
      parameters:
        - description: Required. The parent resource name where the node is to be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SasPortalNode"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SasPortalNode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sasportal
          Oauth2c:
            - https://www.googleapis.com/auth/sasportal
      tags:
        - nodes
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    SasPortalAssignment:
      description: Associates `members` with a `role`.
      properties:
        members:
          description: "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`."
          items:
            type: string
          type: array
        role:
          description: Required. Role that is assigned to `members`.
          type: string
      type: object
    SasPortalChannelWithScore:
      description: The channel with score.
      properties:
        frequencyRange:
          $ref: "#/components/schemas/SasPortalFrequencyRange"
          description: The frequency range of the channel.
        score:
          description: The channel score, normalized to be in the range [0,100].
          format: double
          type: number
      type: object
    SasPortalCreateSignedDeviceRequest:
      description: Request for CreateSignedDevice.
      properties:
        encodedDevice:
          description: Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.
          format: byte
          type: string
        installerId:
          description: Required. Unique installer id (CPI ID) from the Certified Professional Installers database.
          type: string
      type: object
    SasPortalCustomer:
      description: Entity representing a SAS customer.
      properties:
        displayName:
          description: Required. Name of the organization that the customer entity represents.
          type: string
        name:
          description: Output only. Resource name of the customer.
          type: string
        sasUserIds:
          description: User IDs used by the devices belonging to this customer.
          items:
            type: string
          type: array
      type: object
    SasPortalDeployment:
      description: The Deployment.
      properties:
        displayName:
          description: The deployment's display name.
          type: string
        frns:
          description: Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.
          items:
            type: string
          readOnly: true
          type: array
        name:
          description: Output only. Resource name.
          readOnly: true
          type: string
        sasUserIds:
          description: User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.
          items:
            type: string
          type: array
      type: object
    SasPortalDevice:
      properties:
        activeConfig:
          $ref: "#/components/schemas/SasPortalDeviceConfig"
          description: Output only. Current configuration of the device as registered to the SAS.
        currentChannels:
          description: Output only. Current channels with scores.
          items:
            $ref: "#/components/schemas/SasPortalChannelWithScore"
          readOnly: true
          type: array
        deviceMetadata:
          $ref: "#/components/schemas/SasPortalDeviceMetadata"
          description: Device parameters that can be overridden by both SAS Portal and SAS registration requests.
        displayName:
          description: Device display name.
          type: string
        fccId:
          description: The FCC identifier of the device.
          type: string
        grantRangeAllowlists:
          description: Only ranges that are within the allowlists are available for new grants.
          items:
            $ref: "#/components/schemas/SasPortalFrequencyRange"
          type: array
        grants:
          description: Output only. Grants held by the device.
          items:
            $ref: "#/components/schemas/SasPortalDeviceGrant"
          type: array
        name:
          description: Output only. The resource path name.
          type: string
        preloadedConfig:
          $ref: "#/components/schemas/SasPortalDeviceConfig"
          description: Configuration of the device, as specified via SAS Portal API.
        serialNumber:
          description: A serial number assigned to the device by the device manufacturer.
          type: string
        state:
          description: Output only. Device state.
          enum:
            - DEVICE_STATE_UNSPECIFIED
            - RESERVED
            - REGISTERED
            - DEREGISTERED
          type: string
      type: object
    SasPortalDeviceAirInterface:
      description: Information about the device's air interface.
      properties:
        radioTechnology:
          description: Conditional. This field specifies the radio access technology that is used for the CBSD.
          enum:
            - RADIO_TECHNOLOGY_UNSPECIFIED
            - E_UTRA
            - CAMBIUM_NETWORKS
            - FOUR_G_BBW_SAA_1
            - NR
            - DOODLE_CBRS
            - CW
            - REDLINE
            - TARANA_WIRELESS
          type: string
        supportedSpec:
          description: Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.
          type: string
      type: object
    SasPortalDeviceConfig:
      description: Information about the device configuration.
      properties:
        airInterface:
          $ref: "#/components/schemas/SasPortalDeviceAirInterface"
          description: Information about this device's air interface.
        callSign:
          description: The call sign of the device operator.
          type: string
        category:
          description: FCC category of the device.
          enum:
            - DEVICE_CATEGORY_UNSPECIFIED
            - DEVICE_CATEGORY_A
            - DEVICE_CATEGORY_B
          type: string
        installationParams:
          $ref: "#/components/schemas/SasPortalInstallationParams"
          description: Installation parameters for the device.
        isSigned:
          description: Output only. Whether the configuration has been signed by a CPI.
          type: boolean
        measurementCapabilities:
          description: Measurement reporting capabilities of the device.
          items:
            enum:
              - MEASUREMENT_CAPABILITY_UNSPECIFIED
              - MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT
              - MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT
            type: string
          type: array
        model:
          $ref: "#/components/schemas/SasPortalDeviceModel"
          description: Information about this device model.
        state:
          description: State of the configuration.
          enum:
            - DEVICE_CONFIG_STATE_UNSPECIFIED
            - DRAFT
            - FINAL
          type: string
        updateTime:
          description: Output only. The last time the device configuration was edited.
          format: google-datetime
          type: string
        userId:
          description: The identifier of a device user.
          type: string
      type: object
    SasPortalDeviceGrant:
      description: Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.
      properties:
        channelType:
          description: Type of channel used.
          enum:
            - CHANNEL_TYPE_UNSPECIFIED
            - CHANNEL_TYPE_GAA
            - CHANNEL_TYPE_PAL
          type: string
        expireTime:
          description: The expiration time of the grant.
          format: google-datetime
          type: string
        frequencyRange:
          $ref: "#/components/schemas/SasPortalFrequencyRange"
          description: The transmission frequency range.
        grantId:
          description: Grant Id.
          type: string
        lastHeartbeatTransmitExpireTime:
          description: The transmit expiration time of the last heartbeat.
          format: google-datetime
          type: string
        maxEirp:
          description: Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).
          format: double
          type: number
        moveList:
          description: The DPA move lists on which this grant appears.
          items:
            $ref: "#/components/schemas/SasPortalDpaMoveList"
          type: array
        state:
          description: State of the grant.
          enum:
            - GRANT_STATE_UNSPECIFIED
            - GRANT_STATE_GRANTED
            - GRANT_STATE_TERMINATED
            - GRANT_STATE_SUSPENDED
            - GRANT_STATE_AUTHORIZED
            - GRANT_STATE_EXPIRED
          type: string
        suspensionReason:
          description: If the grant is suspended, the reason(s) for suspension.
          items:
            type: string
          type: array
      type: object
    SasPortalDeviceMetadata:
      description: Device data overridable by both SAS Portal and registration requests.
      properties:
        antennaModel:
          description: "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
          type: string
        commonChannelGroup:
          description: Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).
          type: string
        interferenceCoordinationGroup:
          description: Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).
          type: string
        nrqzValidated:
          description: Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.
          readOnly: true
          type: boolean
        nrqzValidation:
          $ref: "#/components/schemas/SasPortalNrqzValidation"
          description: Output only. National Radio Quiet Zone validation info.
          readOnly: true
      type: object
    SasPortalDeviceModel:
      description: Information about the model of the device.
      properties:
        firmwareVersion:
          description: The firmware version of the device.
          type: string
        hardwareVersion:
          description: The hardware version of the device.
          type: string
        name:
          description: The name of the device model.
          type: string
        softwareVersion:
          description: The software version of the device.
          type: string
        vendor:
          description: The name of the device vendor.
          type: string
      type: object
    SasPortalDpaMoveList:
      description: An entry in a DPA's move list.
      properties:
        dpaId:
          description: The ID of the DPA.
          type: string
        frequencyRange:
          $ref: "#/components/schemas/SasPortalFrequencyRange"
          description: The frequency range that the move list affects.
      type: object
    SasPortalEmpty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    SasPortalFrequencyRange:
      description: Frequency range from `low_frequency` to `high_frequency`.
      properties:
        highFrequencyMhz:
          description: The highest frequency of the frequency range in MHz.
          format: double
          type: number
        lowFrequencyMhz:
          description: The lowest frequency of the frequency range in MHz.
          format: double
          type: number
      type: object
    SasPortalGenerateSecretRequest:
      description: Request for GenerateSecret.
      properties: {}
      type: object
    SasPortalGenerateSecretResponse:
      description: Response for GenerateSecret.
      properties:
        secret:
          description: The secret generated by the string and used by ValidateInstaller.
          type: string
      type: object
    SasPortalGetPolicyRequest:
      description: Request message for `GetPolicy` method.
      properties:
        resource:
          description: Required. The resource for which the policy is being requested.
          type: string
      type: object
    SasPortalInstallationParams:
      description: Information about the device installation parameters.
      properties:
        antennaAzimuth:
          description: Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.
          format: int32
          type: integer
        antennaBeamwidth:
          description: 3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.
          format: int32
          type: integer
        antennaDowntilt:
          description: Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.
          format: int32
          type: integer
        antennaGain:
          description: Peak antenna gain in dBi. This parameter is an integer with a value between -127 and +128 (dBi) inclusive.
          format: int32
          type: integer
        antennaGainNewField:
          description: As above, but as a DoubleValue.
          format: double
          type: number
        antennaModel:
          description: If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.
          type: string
        cpeCbsdIndication:
          description: If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.
          type: boolean
        eirpCapability:
          description: This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.
          format: int32
          type: integer
        eirpCapabilityNewField:
          description: As above, but as a DoubleValue.
          format: double
          type: number
        height:
          description: Device antenna height in meters. When the `heightType` parameter value is "AGL", the antenna height should be given relative to ground level. When the `heightType` parameter value is "AMSL", it is given with respect to WGS84 datum.
          format: double
          type: number
        heightType:
          description: Specifies how the height is measured.
          enum:
            - HEIGHT_TYPE_UNSPECIFIED
            - HEIGHT_TYPE_AGL
            - HEIGHT_TYPE_AMSL
          type: string
        horizontalAccuracy:
          description: A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.
          format: double
          type: number
        indoorDeployment:
          description: "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
          type: boolean
        latitude:
          description: Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.
          format: double
          type: number
        longitude:
          description: Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.
          format: double
          type: number
        verticalAccuracy:
          description: A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.
          format: double
          type: number
      type: object
    SasPortalListCustomersResponse:
      description: Response for `ListCustomers`.
      properties:
        customers:
          description: The list of customers that match the request.
          items:
            $ref: "#/components/schemas/SasPortalCustomer"
          type: array
        nextPageToken:
          description: A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.
          type: string
      type: object
    SasPortalListDeploymentsResponse:
      description: Response for ListDeployments.
      properties:
        deployments:
          description: The deployments that match the request.
          items:
            $ref: "#/components/schemas/SasPortalDeployment"
          type: array
        nextPageToken:
          description: A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.
          type: string
      type: object
    SasPortalListDevicesResponse:
      description: Response for ListDevices.
      properties:
        devices:
          description: The devices that match the request.
          items:
            $ref: "#/components/schemas/SasPortalDevice"
          type: array
        nextPageToken:
          description: A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.
          type: string
      type: object
    SasPortalListNodesResponse:
      description: Response for ListNodes.
      properties:
        nextPageToken:
          description: A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.
          type: string
        nodes:
          description: The nodes that match the request.
          items:
            $ref: "#/components/schemas/SasPortalNode"
          type: array
      type: object
    SasPortalMoveDeploymentRequest:
      description: Request for MoveDeployment.
      properties:
        destination:
          description: Required. The name of the new parent resource node or customer to reparent the deployment under.
          type: string
      type: object
    SasPortalMoveDeviceRequest:
      description: Request for MoveDevice.
      properties:
        destination:
          description: Required. The name of the new parent resource node or customer to reparent the device under.
          type: string
      type: object
    SasPortalMoveNodeRequest:
      description: Request for MoveNode.
      properties:
        destination:
          description: Required. The name of the new parent resource node or customer to reparent the node under.
          type: string
      type: object
    SasPortalNode:
      description: The Node.
      properties:
        displayName:
          description: The node's display name.
          type: string
        name:
          description: Output only. Resource name.
          type: string
        sasUserIds:
          description: User ids used by the devices belonging to this node.
          items:
            type: string
          type: array
      type: object
    SasPortalNrqzValidation:
      description: Information about National Radio Quiet Zone validation.
      properties:
        caseId:
          description: Validation case ID.
          type: string
        cpiId:
          description: CPI who signed the validation.
          type: string
        latitude:
          description: Device latitude that's associated with the validation.
          format: double
          type: number
        longitude:
          description: Device longitude that's associated with the validation.
          format: double
          type: number
        state:
          description: State of the NRQZ validation info.
          enum:
            - STATE_UNSPECIFIED
            - DRAFT
            - FINAL
          type: string
      type: object
    SasPortalOperation:
      description: This resource represents a long-running operation that is the result of a network API call.
      properties:
        done:
          description: If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.
          type: boolean
        error:
          $ref: "#/components/schemas/SasPortalStatus"
          description: The error result of the operation in case of failure or cancellation.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.
          type: object
        name:
          description: The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.
          type: object
      type: object
    SasPortalPolicy:
      description: Defines an access control policy to the resources.
      properties:
        assignments:
          description: List of assignments
          items:
            $ref: "#/components/schemas/SasPortalAssignment"
          type: array
        etag:
          description: "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly."
          format: byte
          type: string
      type: object
    SasPortalProvisionDeploymentRequest:
      description: Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.
      properties:
        newDeploymentDisplayName:
          description: Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.
          type: string
        newOrganizationDisplayName:
          description: Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.
          type: string
      type: object
    SasPortalProvisionDeploymentResponse:
      description: Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].
      properties:
        errorMessage:
          description: Optional. Optional error message if the provisioning request is not successful.
          type: string
      type: object
    SasPortalSetPolicyRequest:
      description: Request message for `SetPolicy` method.
      properties:
        disableNotification:
          description: Optional. Set the field as `true` to disable the onboarding notification.
          type: boolean
        policy:
          $ref: "#/components/schemas/SasPortalPolicy"
          description: Required. The policy to be applied to the `resource`.
        resource:
          description: Required. The resource for which the policy is being specified. This policy replaces any existing policy.
          type: string
      type: object
    SasPortalSignDeviceRequest:
      description: Request for SignDevice.
      properties:
        device:
          $ref: "#/components/schemas/SasPortalDevice"
          description: Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.
      type: object
    SasPortalStatus:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
    SasPortalTestPermissionsRequest:
      description: Request message for `TestPermissions` method.
      properties:
        permissions:
          description: The set of permissions to check for the `resource`.
          items:
            type: string
          type: array
        resource:
          description: Required. The resource for which the permissions are being requested.
          type: string
      type: object
    SasPortalTestPermissionsResponse:
      description: Response message for `TestPermissions` method.
      properties:
        permissions:
          description: A set of permissions that the caller is allowed.
          items:
            type: string
          type: array
      type: object
    SasPortalUpdateSignedDeviceRequest:
      description: Request for UpdateSignedDevice.
      properties:
        encodedDevice:
          description: Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.
          format: byte
          type: string
        installerId:
          description: Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.
          type: string
      type: object
    SasPortalValidateInstallerRequest:
      description: Request for ValidateInstaller.
      properties:
        encodedSecret:
          description: Required. JSON Web Token signed using a CPI private key. Payload must include a "secret" claim whose value is the secret.
          type: string
        installerId:
          description: Required. Unique installer id (CPI ID) from the Certified Professional Installers database.
          type: string
        secret:
          description: Required. Secret returned by the GenerateSecret.
          type: string
      type: object
    SasPortalValidateInstallerResponse:
      description: Response for ValidateInstaller.
      properties: {}
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/sasportal: Read, create, update, and delete your SAS Portal data.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/sasportal: Read, create, update, and delete your SAS Portal data.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
