openapi: 3.0.0
servers:
  - url: https://baremetalsolution.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Bare Metal Solution API
  version: v1alpha1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://baremetalsolution.googleapis.com/$discovery/rest?version=v1alpha1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: baremetalsolution
externalDocs:
  url: https://cloud.google.com/bare-metal
tags:
  - name: projects
paths:
  "/v1alpha1/{instance}:disableInteractiveSerialConsole":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Disable the interactive serial console feature on a specific machine.
      operationId: baremetalsolution.projects.locations.instances.disableInteractiveSerialConsole
      parameters:
        - description: Required. Name of the instance to disable the interactive serial console feature on.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisableInteractiveSerialConsoleRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisableInteractiveSerialConsoleResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{instance}:enableInteractiveSerialConsole":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enable the interactive serial console feature on a specific machine.
      operationId: baremetalsolution.projects.locations.instances.enableInteractiveSerialConsole
      parameters:
        - description: Required. Name of the instance to enable the interactive serial console feature on.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableInteractiveSerialConsoleRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnableInteractiveSerialConsoleResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{instance}:readSerialPortOutput":
    get:
      description: Read the most recent serial port output from a machine.
      operationId: baremetalsolution.projects.locations.instances.readSerialPortOutput
      parameters:
        - description: Required. Name of the instance to get serial port output of.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Optional. The start byte of the serial port output to return.
          in: query
          name: startByte
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SerialPortOutput"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{instance}:resetInstance":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Perform an ungraceful, hard reset on a machine (equivalent to physically turning power off and then back on).
      operationId: baremetalsolution.projects.locations.instances.resetInstance
      parameters:
        - description: Required. Name of the instance to reset.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetInstanceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetInstanceResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}":
    delete:
      description: Delete an SSH key registration in the specified project.
      operationId: baremetalsolution.projects.sshKeys.delete
      parameters:
        - description: Required. The name of the SSH key to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Get details for a specific snapshot schedule policy
      operationId: baremetalsolution.projects.snapshotSchedulePolicies.get
      parameters:
        - description: Required. The name of the policy to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotSchedulePolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Update a SnapshotSchedulePolicy.
      operationId: baremetalsolution.projects.snapshotSchedulePolicies.patch
      parameters:
        - description: Output only. The name of this SnapshotSchedulePolicy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The list of fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SnapshotSchedulePolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotSchedulePolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{name}:restore":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restore a VolumeSnapshot.
      operationId: baremetalsolution.projects.locations.volumes.snapshots.restore
      parameters:
        - description: Required. Name of the VolumeSnapshot to restore.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreVolumeSnapshotRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/instances":
    get:
      description: List Instances (physical servers).
      operationId: baremetalsolution.projects.locations.instances.list
      parameters:
        - description: Required. The location to list Instances in.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInstancesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}/luns":
    get:
      description: List Luns.
      operationId: baremetalsolution.projects.locations.luns.list
      parameters:
        - description: Required. The location to list Luns in.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLunsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}/provisioningQuotas":
    get:
      description: List the budget details to provision resources on a given project.
      operationId: baremetalsolution.projects.provisioningQuotas.list
      parameters:
        - description: Required. The parent project containing the provisioning quotas.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvisioningQuotasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{parent}/snapshotSchedulePolicies":
    get:
      description: List the snapshot schedule policies for the specified project
      operationId: baremetalsolution.projects.snapshotSchedulePolicies.list
      parameters:
        - description: Required. The parent project containing the Snapshot Schedule Policies.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSnapshotSchedulePoliciesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a SnapshotSchedulePolicy.
      operationId: baremetalsolution.projects.snapshotSchedulePolicies.create
      parameters:
        - description: Required. The parent project containing the SnapshotSchedulePolicy.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Snapshot policy ID
          in: query
          name: snapshotSchedulePolicyId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SnapshotSchedulePolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotSchedulePolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/snapshots":
    get:
      description: List the Snapshots for the specified Volume
      operationId: baremetalsolution.projects.locations.volumes.snapshots.list
      parameters:
        - description: Required. The Volume containing the VolumeSnapshots.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVolumeSnapshotsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create snapshot of the specified Volume
      operationId: baremetalsolution.projects.locations.volumes.snapshots.create
      parameters:
        - description: Required. The Volume containing the VolumeSnapshots.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VolumeSnapshot"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeSnapshot"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/sshKeys":
    get:
      description: List the public SSH keys registered for the specified project.
      operationId: baremetalsolution.projects.sshKeys.list
      parameters:
        - description: Required. The parent project containing the SSH keys.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSSHKeysResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new SSH key registration in the specified project.
      operationId: baremetalsolution.projects.sshKeys.create
      parameters:
        - description: Required. The parent project containing the SSH keys.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. The ID to use for the key, which will become the final component of the key's resource name. This value should be match the regex: [a-zA-Z0-9@.\\-_]{1,64}"
          in: query
          name: sshKeyId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSHKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{parent}/volumes":
    get:
      description: List the volumes for the specified project
      operationId: baremetalsolution.projects.locations.volumes.list
      parameters:
        - description: Required. The location to list Volumes in.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVolumesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha1/{project}/{location}:submitProvisioningConfig":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Submit a provisiong configuration for a given project.
      operationId: baremetalsolution.projects.locations.submitProvisioningConfig
      parameters:
        - description: Required. The target project of the provisioning request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Required. The target location of the provisioning request.
          in: path
          name: location
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitProvisioningConfigRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvisioningConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha1/{volume}:setVolumeSnapshotSchedulePolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the specified snapshot schedule policy on the specified volume.
      operationId: baremetalsolution.projects.locations.volumes.setVolumeSnapshotSchedulePolicy
      parameters:
        - description: Required. Name of the volume to set snapshot schedule policy on.
          in: path
          name: volume
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetVolumeSnapshotSchedulePolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetVolumeSnapshotSchedulePolicyResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    DisableInteractiveSerialConsoleRequest:
      description: Request for DisableInteractiveSerialConsole.
      properties: {}
      type: object
    DisableInteractiveSerialConsoleResponse:
      description: Response for DisableInteractiveSerialConsole.
      properties: {}
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    EnableInteractiveSerialConsoleRequest:
      description: Request for EnableInteractiveSerialConsole.
      properties: {}
      type: object
    EnableInteractiveSerialConsoleResponse:
      description: Response for EnableInteractiveSerialConsole.
      properties: {}
      type: object
    Instance:
      description: An Instance.
      properties:
        hyperthreadingEnabled:
          description: Is hyperthreading enabled for this instance?
          type: boolean
        luns:
          description: The Luns attached to this instance
          items:
            $ref: "#/components/schemas/Lun"
          type: array
        name:
          description: Output only. The name of this Instance.
          readOnly: true
          type: string
        scheduledPowerResetTime:
          description: The scheduled power reset time.
          format: google-datetime
          type: string
        sshEnabled:
          description: Is SSH enabled for this instance?
          type: boolean
        state:
          description: The state of this Instance.
          enum:
            - STATE_UNSPECIFIED
            - RESERVED
            - PROVISIONING
            - PROVISIONED
            - DEPROVISIONING
            - DEPROVISIONED
            - UPDATING
          type: string
      type: object
    InstanceConfig:
      description: Configuration parameters for a new instance.
      properties:
        clientNetwork:
          $ref: "#/components/schemas/NetworkAddress"
          description: Client network address.
        hyperthreading:
          description: Whether the instance should be provisioned with Hyperthreading enabled.
          type: boolean
        id:
          description: A transient unique identifier to idenfity an instance within an ProvisioningConfig request.
          type: string
        instanceType:
          description: Instance type.
          type: string
        location:
          description: Location where to deploy the instance.
          type: string
        osImage:
          description: OS image to initialize the instance.
          type: string
        privateNetwork:
          $ref: "#/components/schemas/NetworkAddress"
          description: Private network address, if any.
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
      type: object
    InstanceQuota:
      description: A resource budget.
      properties:
        availableMachineCount:
          description: Number of machines than can be created for the given location and instance_type.
          format: int32
          type: integer
        instanceType:
          description: Instance type.
          type: string
        location:
          description: Location where the quota applies.
          type: string
      type: object
    ListInstancesResponse:
      description: Response for ListInstances.
      properties:
        instances:
          description: The Instances in this project.
          items:
            $ref: "#/components/schemas/Instance"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
      type: object
    ListLunsResponse:
      description: Response for ListLuns.
      properties:
        luns:
          description: The Luns in this project.
          items:
            $ref: "#/components/schemas/Lun"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
      type: object
    ListProvisioningQuotasResponse:
      description: Response for ListProvisioningQuotas.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        provisioningQuotas:
          description: The provisioning quotas registered in this project.
          items:
            $ref: "#/components/schemas/ProvisioningQuota"
          type: array
      type: object
    ListSSHKeysResponse:
      description: Response for ListSSHKeys.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        sshKeys:
          description: The SSH keys registered in this project.
          items:
            $ref: "#/components/schemas/SSHKey"
          type: array
      type: object
    ListSnapshotSchedulePoliciesResponse:
      description: Response for ListSnapshotSchedulePolicies.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        snapshotSchedulePolicies:
          description: The snapshot schedule policies registered in this project.
          items:
            $ref: "#/components/schemas/SnapshotSchedulePolicy"
          type: array
      type: object
    ListVolumeSnapshotsResponse:
      description: Response for ListVolumeSnapshots.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        volumeSnapshots:
          description: The VolumeSnapshots for the volume.
          items:
            $ref: "#/components/schemas/VolumeSnapshot"
          type: array
      type: object
    ListVolumesResponse:
      description: Response for ListVolumes.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        volumes:
          description: The volumes registered in this project.
          items:
            $ref: "#/components/schemas/Volume"
          type: array
      type: object
    Lun:
      description: A storage Lun.
      properties:
        isBoot:
          description: Whether this Lun is a boot Lun.
          type: boolean
        multiprotocolType:
          description: The multiprotocol type of this Lun.
          type: string
        name:
          description: Output only. The name of this Lun.
          readOnly: true
          type: string
        remoteVolume:
          $ref: "#/components/schemas/Volume"
          description: The storage volume that this Lun is attached to.
        serialNumber:
          description: The serial number of this Lun
          type: string
        shareable:
          description: Whether this Lun is allowed to be shared between multiple physical servers.
          type: boolean
        sizeGb:
          description: The size of this Lun, in gigabytes.
          format: int64
          type: string
        state:
          description: The state of this Lun.
          enum:
            - STATE_UNSPECIFIED
            - RESERVED
            - PROVISIONING
            - PROVISIONED
            - DEPROVISIONING
            - DEPROVISIONED
            - UPDATING
          type: string
        wwid:
          description: World Wide IDentifier of this Lun
          type: string
      type: object
    LunRange:
      description: A LUN range.
      properties:
        quantity:
          description: Number of LUNs to create.
          format: int32
          type: integer
        sizeGb:
          description: The requested size of each LUN, in GB.
          format: int32
          type: integer
      type: object
    NetworkAddress:
      description: A network.
      properties:
        address:
          description: IP address to be assigned to the server.
          type: string
        networkId:
          description: Id of the network to use, within the same ProvisioningConfig request.
          type: string
      type: object
    NetworkConfig:
      description: Configuration parameters for a new network.
      properties:
        bandwidth:
          description: Interconnect bandwidth. Set only when type is CLIENT.
          enum:
            - BANDWIDTH_UNSPECIFIED
            - BW_1_GBPS
            - BW_2_GBPS
            - BW_5_GBPS
            - BW_10_GBPS
          type: string
        cidr:
          description: CIDR range of the network.
          type: string
        id:
          description: A transient unique identifier to identify a volume within an ProvisioningConfig request.
          type: string
        location:
          description: Location where to deploy the network.
          type: string
        serviceCidr:
          description: Service CIDR, if any.
          enum:
            - SERVICE_CIDR_UNSPECIFIED
            - DISABLED
            - HIGH_26
            - HIGH_27
            - HIGH_28
          type: string
        type:
          description: The type of this network.
          enum:
            - TYPE_UNSPECIFIED
            - CLIENT
            - PRIVATE
          type: string
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
        vlanAttachments:
          description: List of VLAN attachments. As of now there are always 2 attachments, but it is going to change in the future (multi vlan).
          items:
            $ref: "#/components/schemas/VlanAttachment"
          type: array
      type: object
    NfsExport:
      description: A NFS export entry.
      properties:
        allowDev:
          description: Allow dev.
          type: boolean
        allowSuid:
          description: Allow the setuid flag.
          type: boolean
        cidr:
          description: A CIDR range.
          type: string
        machineId:
          description: A single machine, identified by an ID.
          type: string
        networkId:
          description: Network to use to publish the export.
          type: string
        noRootSquash:
          description: Disable root squashing.
          type: boolean
        permissions:
          description: Export permissions.
          enum:
            - PERMISSIONS_UNSPECIFIED
            - READ_ONLY
            - READ_WRITE
          type: string
      type: object
    ProvisioningConfig:
      description: An provisioning configuration.
      properties:
        instances:
          description: Instances to be created.
          items:
            $ref: "#/components/schemas/InstanceConfig"
          type: array
        networks:
          description: Networks to be created.
          items:
            $ref: "#/components/schemas/NetworkConfig"
          type: array
        ticketId:
          description: A reference to track the request.
          type: string
        volumes:
          description: Volumes to be created.
          items:
            $ref: "#/components/schemas/VolumeConfig"
          type: array
      type: object
    ProvisioningQuota:
      description: A provisioning quota for a given project.
      properties:
        instanceQuota:
          $ref: "#/components/schemas/InstanceQuota"
          description: Instance quota.
      type: object
    ResetInstanceRequest:
      description: Request for ResetInstance.
      properties: {}
      type: object
    ResetInstanceResponse:
      description: Response for ResetInstance.
      properties: {}
      type: object
    RestoreVolumeSnapshotRequest:
      description: Request for RestoreVolumeSnapshot.
      properties: {}
      type: object
    SSHKey:
      description: A public SSH key registered in the project. Used primarily for the interactive serial console feature.
      properties:
        name:
          description: Output only. The name of this SSH key.
          readOnly: true
          type: string
        publicKey:
          description: The public SSH key.
          type: string
      type: object
    Schedule:
      description: A snapshot schedule.
      properties:
        crontabSpec:
          description: The crontab-like specification that this Schedule will use to take snapshots.
          type: string
        prefix:
          description: A string to prefix names of snapshots created under this Schedule.
          type: string
        retentionCount:
          description: The maximum number of snapshots to retain under this Schedule.
          format: int32
          type: integer
      type: object
    SerialPortOutput:
      description: Response for ReadSerialPortOutput.
      properties:
        contents:
          description: The serial port output.
          type: string
        nextStartByte:
          description: The byte index to use in a subsequent call to ReadSerialPortOutput to get more output.
          format: int64
          type: string
        start:
          description: The start byte index of the included contents.
          format: int64
          type: string
      type: object
    SetVolumeSnapshotSchedulePolicyRequest:
      description: Request for SetVolumeSnapshotSchedulePolicy.
      properties:
        snapshotSchedulePolicy:
          description: Required. The name of the policy to set on the volume.
          type: string
      type: object
    SetVolumeSnapshotSchedulePolicyResponse:
      description: Response for SetVolumeSnapshotSchedulePolicy.
      properties: {}
      type: object
    SnapshotSchedulePolicy:
      description: A snapshot schedule policy.
      properties:
        description:
          description: The description of this SnapshotSchedulePolicy.
          type: string
        name:
          description: Output only. The name of this SnapshotSchedulePolicy.
          readOnly: true
          type: string
        schedules:
          description: The snapshot Schedules contained in this Policy. At most 5 Schedules may be specified.
          items:
            $ref: "#/components/schemas/Schedule"
          type: array
        volumes:
          description: The names of the Volumes this policy is associated with.
          items:
            type: string
          type: array
      type: object
    SubmitProvisioningConfigRequest:
      description: Request for SubmitProvisioningConfig.
      properties:
        provisioningConfig:
          $ref: "#/components/schemas/ProvisioningConfig"
          description: Required. The ProvisioningConfig to submit.
      type: object
    VlanAttachment:
      description: A GCP vlan attachment.
      properties:
        id:
          description: Identifier of the VLAN attachment.
          type: string
        pairingKey:
          description: Attachment pairing key.
          type: string
      type: object
    Volume:
      description: Volume registered in the project.
      properties:
        autoGrownSizeGb:
          description: The size, in GB, that this Volume has expanded as a result of an auto grow policy.
          format: int64
          type: string
        currentSizeGb:
          description: The current size of this Volume, in GB, including space reserved for snapshots. This size may be different than the requested size if the Volume has been configured with auto grow or auto shrink.
          format: int64
          type: string
        name:
          description: Output only. The name of this Volume.
          readOnly: true
          type: string
        remainingSpaceGb:
          description: The space remaining in the Volume for new LUNs, in GB, excluding space reserved for snapshots.
          format: int64
          type: string
        requestedSizeGb:
          description: The requested size of this Volume, in GB.
          format: int64
          type: string
        snapshotAutoDeleteBehavior:
          description: The behavior to use when snapshot reserved space is full.
          enum:
            - SNAPSHOT_AUTO_DELETE_BEHAVIOR_UNSPECIFIED
            - DISABLE
            - OLDEST
            - NEWEST
          type: string
        snapshotReservedSpacePercent:
          description: The percent of space on this Volume reserved for snapshots.
          format: int32
          type: integer
        snapshotReservedSpaceRemainingGb:
          description: The amount, in GB, of space available in this Volume's reserved snapshot space.
          format: int64
          type: string
        snapshotReservedSpaceUsedPercent:
          description: The percent of reserved snapshot space on this Volume that is actually used by snapshot copies. This may be higher than 100% if snapshot copies are occupying more space than has been reserved on the Volume.
          format: int32
          type: integer
        state:
          description: The state of this Volume.
          enum:
            - STATE_UNSPECIFIED
            - PROVISIONED
            - DEPROVISIONING_REQUESTED
            - DEPROVISIONING_COOLOFF
          type: string
        type:
          description: The type of this Volume.
          enum:
            - TYPE_UNSPECIFIED
            - FLASH
            - DISK
          type: string
      type: object
    VolumeConfig:
      description: Configuration parameters for a new volume.
      properties:
        id:
          description: A transient unique identifier to identify a volume within an ProvisioningConfig request.
          type: string
        location:
          description: Location where to deploy the volume.
          type: string
        lunRanges:
          description: LUN ranges to be configured. Set only when protocol is PROTOCOL_FC.
          items:
            $ref: "#/components/schemas/LunRange"
          type: array
        machineIds:
          description: Machine ids connected to this volume. Set only when protocol is PROTOCOL_FC.
          items:
            type: string
          type: array
        nfsExports:
          description: NFS exports. Set only when protocol is PROTOCOL_NFS.
          items:
            $ref: "#/components/schemas/NfsExport"
          type: array
        protocol:
          description: Volume protocol.
          enum:
            - PROTOCOL_UNSPECIFIED
            - PROTOCOL_FC
            - PROTOCOL_NFS
          type: string
        sizeGb:
          description: The requested size of this volume, in GB. This will be updated in a later iteration with a generic size field.
          format: int32
          type: integer
        snapshotsEnabled:
          description: Whether snapshots should be enabled.
          type: boolean
        type:
          description: The type of this Volume.
          enum:
            - TYPE_UNSPECIFIED
            - FLASH
            - DISK
          type: string
        userNote:
          description: User note field, it can be used by customers to add additional information for the BMS Ops team (b/194021617).
          type: string
      type: object
    VolumeSnapshot:
      description: VolumeSnapshot registered for given Volume
      properties:
        creationTime:
          description: The creation time of this Snapshot.
          format: google-datetime
          type: string
        description:
          description: The description of this Snapshot.
          type: string
        name:
          description: Output only. The name of this Snapshot.
          readOnly: true
          type: string
        sizeBytes:
          description: The real size of this Snapshot, in bytes.
          format: int64
          type: string
        state:
          description: The state of this Snapshot.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - ACTIVE
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
