swagger: '2.0'
schemes:
  - https
  - http
host: mgh.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
  description: <p/>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Migration Hub
  version: '2017-05-31'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/AWSMigrationHub-2017-05-31.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mgh
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/mgh/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  Action:
    in: header
    name: Action
    required: true
    type: string
  Version:
    in: header
    name: Version
    required: true
    type: string
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /:
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a created artifact of an AWS cloud resource, the target receiving the migration, with the migration task performed by a migration tool. This API has the following traits:</p> <ul> <li> <p>Migration tools can call the <code>AssociateCreatedArtifact</code> operation to indicate which AWS artifact is associated with a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI''s, EC2 instance, or DMS endpoint, etc.</p> </li> </ul>'
      operationId: AssociateCreatedArtifact
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateCreatedArtifactRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateCreatedArtifactResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#AssociateDiscoveredResource':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates a discovered resource ID from Application Discovery Service (ADS) with a migration task.
      operationId: AssociateDiscoveredResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateDiscoveredResourceRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateDiscoveredResourceResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: PolicyErrorException
          schema:
            $ref: '#/definitions/PolicyErrorException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#CreateProgressUpdateStream':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a progress update stream which is an AWS resource used for access control as well as a namespace for migration task names that is implicitly linked to your AWS account. It must uniquely identify the migration tool as it is used for all updates made by the tool; however, it does not need to be unique for each AWS account because it is scoped to the AWS account.'
      operationId: CreateProgressUpdateStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateProgressUpdateStreamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProgressUpdateStreamResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#DeleteProgressUpdateStream':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a progress update stream, including all of its tasks, which was previously created as an AWS resource used for access control. This API has the following traits:</p> <ul> <li> <p>The only parameter needed for <code>DeleteProgressUpdateStream</code> is the stream name (same as a <code>CreateProgressUpdateStream</code> call).</p> </li> <li> <p>The call will return, and a background process will asynchronously be doing the actual delete of the stream and all of its resources (tasks, associated resources, resource attributes, created artifacts).</p> </li> <li> <p>If the stream takes time to be deleted, it might still show up on a <code>ListProgressUpdateStreams</code> call.</p> </li> <li> <p> <code>CreateProgressUpdateStream</code>, <code>ImportMigrationTask</code>, <code>NotifyMigrationTaskState</code>, and all Associate[*] APIs realted to the tasks belonging to the stream will throw "InvalidInputException" if the stream of the same name is in the process of being deleted.</p> </li> <li> <p>Once the stream and all of its resources are deleted, <code>CreateProgressUpdateStream</code> for a stream of the same name will succeed, and that stream will be an entirely new logical resource (without any resources associated with the old stream).</p> </li> </ul>'
      operationId: DeleteProgressUpdateStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProgressUpdateStreamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProgressUpdateStreamResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DescribeApplicationState':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the migration status of an application.
      operationId: DescribeApplicationState
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationStateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationStateResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: PolicyErrorException
          schema:
            $ref: '#/definitions/PolicyErrorException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DescribeMigrationTask':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of all attributes associated with a specific migration task.
      operationId: DescribeMigrationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMigrationTaskRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMigrationTaskResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DisassociateCreatedArtifact':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disassociates a created artifact of an AWS resource with a migration task performed by a migration tool that was previously associated. This API has the following traits:</p> <ul> <li> <p>A migration user can call the <code>DisassociateCreatedArtifacts</code> operation to disassociate a created AWS Artifact from a migration task.</p> </li> <li> <p>The created artifact name must be provided in ARN (Amazon Resource Name) format which will contain information about type and region; for example: <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p> </li> <li> <p>Examples of the AWS resource behind the created artifact are, AMI''s, EC2 instance, or RDS instance, etc.</p> </li> </ul>'
      operationId: DisassociateCreatedArtifact
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateCreatedArtifactRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateCreatedArtifactResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DisassociateDiscoveredResource':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociate an Application Discovery Service (ADS) discovered resource from a migration task.
      operationId: DisassociateDiscoveredResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateDiscoveredResourceRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateDiscoveredResourceResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#ImportMigrationTask':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Registers a new migration task which represents a server, database, etc., being migrated to AWS by a migration tool.</p> <p>This API is a prerequisite to calling the <code>NotifyMigrationTaskState</code> API as the migration tool must first register the migration task with Migration Hub.</p>'
      operationId: ImportMigrationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ImportMigrationTaskRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportMigrationTaskResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#ListCreatedArtifacts':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists the created artifacts attached to a given migration task in an update stream. This API has the following traits:</p> <ul> <li> <p>Gets the list of the created artifacts while migration is taking place.</p> </li> <li> <p>Shows the artifacts created by the migration tool that was associated by the <code>AssociateCreatedArtifact</code> API. </p> </li> <li> <p>Lists created artifacts in a paginated interface. </p> </li> </ul>'
      operationId: ListCreatedArtifacts
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListCreatedArtifactsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCreatedArtifactsResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#ListDiscoveredResources':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists discovered resources associated with the given <code>MigrationTask</code>.
      operationId: ListDiscoveredResources
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#ListMigrationTasks':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists all, or filtered by resource name, migration tasks associated with the user account making this call. This API has the following traits:</p> <ul> <li> <p>Can show a summary list of the most recent migration tasks.</p> </li> <li> <p>Can show a summary list of migration tasks associated with a given discovered resource.</p> </li> <li> <p>Lists migration tasks in a paginated interface.</p> </li> </ul>'
      operationId: ListMigrationTasks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListMigrationTasksRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMigrationTasksResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: PolicyErrorException
          schema:
            $ref: '#/definitions/PolicyErrorException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#ListProgressUpdateStreams':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists progress update streams associated with the user account making this call.
      operationId: ListProgressUpdateStreams
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListProgressUpdateStreamsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProgressUpdateStreamsResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#NotifyApplicationState':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Sets the migration state of an application. For a given application identified by the value passed to <code>ApplicationId</code>, its status is set or updated by passing one of three values to <code>Status</code>: <code>NOT_STARTED | IN_PROGRESS | COMPLETED</code>.'
      operationId: NotifyApplicationState
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NotifyApplicationStateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotifyApplicationStateResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: PolicyErrorException
          schema:
            $ref: '#/definitions/PolicyErrorException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#NotifyMigrationTaskState':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Notifies Migration Hub of the current status, progress, or other detail regarding a migration task. This API has the following traits:</p> <ul> <li> <p>Migration tools will call the <code>NotifyMigrationTaskState</code> API to share the latest progress and status.</p> </li> <li> <p> <code>MigrationTaskName</code> is used for addressing updates to the correct target.</p> </li> <li> <p> <code>ProgressUpdateStream</code> is used for access control and to provide a namespace for each migration tool.</p> </li> </ul>'
      operationId: NotifyMigrationTaskState
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NotifyMigrationTaskStateRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotifyMigrationTaskStateResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#PutResourceAttributes':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Provides identifying details of the resource being migrated so that it can be associated in the Application Discovery Service (ADS)''s repository. This association occurs asynchronously after <code>PutResourceAttributes</code> returns.</p> <important> <p>Keep in mind that subsequent calls to PutResourceAttributes will override previously stored attributes. For example, if it is first called with a MAC address, but later, it is desired to <i>add</i> an IP address, it will then be required to call it with <i>both</i> the IP and MAC addresses to prevent overiding the MAC address.</p> </important> <note> <p>Because this is an asynchronous call, it will always return 200, whether an association occurs or not. To confirm if an association was found based on the provided details, call <code>ListAssociatedResource</code>.</p> </note>'
      operationId: PutResourceAttributes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutResourceAttributesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutResourceAttributesResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
definitions:
  AccessDeniedException:
    description: Exception raised when the account making the call is not whitelisted or there are other authentication errors.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ApplicationId:
    maxLength: 1600
    minLength: 1
    type: string
  ApplicationStatus:
    enum:
      - NOT_STARTED
      - IN_PROGRESS
      - COMPLETED
    type: string
  AssociateCreatedArtifactRequest:
    properties:
      CreatedArtifact:
        $ref: '#/definitions/CreatedArtifact'
        description: 'An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.) '
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - CreatedArtifact
    type: object
  AssociateCreatedArtifactResult:
    properties: {}
    type: object
  AssociateDiscoveredResourceRequest:
    properties:
      DiscoveredResource:
        $ref: '#/definitions/DiscoveredResource'
        description: Object representing a Resource.
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: The identifier given to the MigrationTask.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: The name of the ProgressUpdateStream.
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - DiscoveredResource
    type: object
  AssociateDiscoveredResourceResult:
    properties: {}
    type: object
  ConfigurationId:
    minLength: 1
    type: string
  CreateProgressUpdateStreamRequest:
    properties:
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      ProgressUpdateStreamName:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStreamName
    type: object
  CreateProgressUpdateStreamResult:
    properties: {}
    type: object
  CreatedArtifact:
    description: 'An ARN of the AWS cloud resource target receiving the migration (e.g., AMI, EC2 instance, RDS instance, etc.).'
    properties:
      Description:
        $ref: '#/definitions/CreatedArtifactDescription'
        description: A description that can be free-form text to record additional detail about the artifact for clarity or for later reference.
      Name:
        $ref: '#/definitions/CreatedArtifactName'
        description: An ARN that uniquely identifies the result of a migration task.
    required:
      - Name
    type: object
  CreatedArtifactDescription:
    maxLength: 500
    minLength: 0
    type: string
  CreatedArtifactList:
    items:
      $ref: '#/definitions/CreatedArtifact'
    type: array
  CreatedArtifactName:
    maxLength: 1600
    minLength: 1
    pattern: 'arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):.*'
    type: string
  DeleteProgressUpdateStreamRequest:
    properties:
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      ProgressUpdateStreamName:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStreamName
    type: object
  DeleteProgressUpdateStreamResult:
    properties: {}
    type: object
  DescribeApplicationStateRequest:
    properties:
      ApplicationId:
        $ref: '#/definitions/ApplicationId'
        description: The configurationId in ADS that uniquely identifies the grouped application.
    required:
      - ApplicationId
    type: object
  DescribeApplicationStateResult:
    properties:
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: 'Status of the application - Not Started, In-Progress, Complete.'
      LastUpdatedTime:
        $ref: '#/definitions/UpdateDateTime'
        description: The timestamp when the application status was last updated.
    type: object
  DescribeMigrationTaskRequest:
    properties:
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: The identifier given to the MigrationTask.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStream
      - MigrationTaskName
    type: object
  DescribeMigrationTaskResult:
    properties:
      MigrationTask:
        $ref: '#/definitions/MigrationTask'
        description: Object encapsulating information about the migration task.
    type: object
  DisassociateCreatedArtifactRequest:
    properties:
      CreatedArtifactName:
        $ref: '#/definitions/CreatedArtifactName'
        description: 'An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance, etc.)'
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task to be disassociated with the artifact.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - CreatedArtifactName
    type: object
  DisassociateCreatedArtifactResult:
    properties: {}
    type: object
  DisassociateDiscoveredResourceRequest:
    properties:
      ConfigurationId:
        $ref: '#/definitions/ConfigurationId'
        description: ConfigurationId of the ADS resource to be disassociated.
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: The identifier given to the MigrationTask.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: The name of the ProgressUpdateStream.
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - ConfigurationId
    type: object
  DisassociateDiscoveredResourceResult:
    properties: {}
    type: object
  DiscoveredResource:
    description: Object representing the on-premises resource being migrated.
    properties:
      ConfigurationId:
        $ref: '#/definitions/ConfigurationId'
        description: The configurationId in ADS that uniquely identifies the on-premise resource.
      Description:
        $ref: '#/definitions/DiscoveredResourceDescription'
        description: A description that can be free-form text to record additional detail about the discovered resource for clarity or later reference.
    required:
      - ConfigurationId
    type: object
  DiscoveredResourceDescription:
    maxLength: 500
    minLength: 0
    type: string
  DiscoveredResourceList:
    items:
      $ref: '#/definitions/DiscoveredResource'
    type: array
  DryRun:
    type: boolean
  DryRunOperation:
    description: Exception raised to indicate a successfully authorized action when the <code>DryRun</code> flag is set to "true".
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ErrorMessage:
    type: string
  ImportMigrationTaskRequest:
    properties:
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStream
      - MigrationTaskName
    type: object
  ImportMigrationTaskResult:
    properties: {}
    type: object
  InternalServerError:
    description: 'Exception raised when there is an internal, configuration, or dependency error encountered.'
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  InvalidInputException:
    description: Exception raised when the provided input violates a policy constraint or is entered in the wrong format or data type.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  LatestResourceAttributeList:
    items:
      $ref: '#/definitions/ResourceAttribute'
    maxItems: 100
    minItems: 0
    type: array
  ListCreatedArtifactsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResultsCreatedArtifacts'
        description: Maximum number of results to be returned per page.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    required:
      - ProgressUpdateStream
      - MigrationTaskName
    type: object
  ListCreatedArtifactsResult:
    properties:
      CreatedArtifactList:
        $ref: '#/definitions/CreatedArtifactList'
        description: List of created artifacts up to the maximum number of results specified in the request.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If there are more created artifacts than the max result, return the next token to be passed to the next call as a bookmark of where to start from.'
    type: object
  ListDiscoveredResourcesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResultsResources'
        description: The maximum number of results returned per page.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: The name of the MigrationTask.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: The name of the ProgressUpdateStream.
    required:
      - ProgressUpdateStream
      - MigrationTaskName
    type: object
  ListDiscoveredResourcesResult:
    properties:
      DiscoveredResourceList:
        $ref: '#/definitions/DiscoveredResourceList'
        description: Returned list of discovered resources associated with the given MigrationTask.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If there are more discovered resources than the max result, return the next token to be passed to the next call as a bookmark of where to start from.'
    type: object
  ListMigrationTasksRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Value to specify how many results are returned per page.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
      ResourceName:
        $ref: '#/definitions/ResourceName'
        description: Filter migration tasks by discovered resource name.
    type: object
  ListMigrationTasksResult:
    properties:
      MigrationTaskSummaryList:
        $ref: '#/definitions/MigrationTaskSummaryList'
        description: 'Lists the migration task''s summary which includes: <code>MigrationTaskName</code>, <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>, and the <code>UpdateDateTime</code> for each task.'
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If there are more migration tasks than the max result, return the next token to be passed to the next call as a bookmark of where to start from.'
    type: object
  ListProgressUpdateStreamsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Filter to limit the maximum number of results to list per page.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, there are more results available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
    type: object
  ListProgressUpdateStreamsResult:
    properties:
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If there are more streams created than the max result, return the next token to be passed to the next call as a bookmark of where to start from.'
      ProgressUpdateStreamSummaryList:
        $ref: '#/definitions/ProgressUpdateStreamSummaryList'
        description: List of progress update streams up to the max number of results passed in the input.
    type: object
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  MaxResultsCreatedArtifacts:
    maximum: 10
    minimum: 1
    type: integer
  MaxResultsResources:
    maximum: 10
    minimum: 1
    type: integer
  MigrationTask:
    description: Represents a migration task in a migration tool.
    properties:
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: A name that identifies the vendor of the migration tool being used.
      ResourceAttributeList:
        $ref: '#/definitions/LatestResourceAttributeList'
        description: <p/>
      Task:
        $ref: '#/definitions/Task'
        description: Task object encapsulating task information.
      UpdateDateTime:
        $ref: '#/definitions/UpdateDateTime'
        description: The timestamp when the task was gathered.
    type: object
  MigrationTaskName:
    maxLength: 256
    minLength: 1
    pattern: '[^:|]+'
    type: string
  MigrationTaskSummary:
    description: 'MigrationTaskSummary includes <code>MigrationTaskName</code>, <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>, and <code>UpdateDateTime</code> for each task.'
    properties:
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      ProgressPercent:
        $ref: '#/definitions/ProgressPercent'
        description: <p/>
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: An AWS resource used for access control. It should uniquely identify the migration tool as it is used for all updates made by the tool.
      Status:
        $ref: '#/definitions/Status'
        description: Status of the task.
      StatusDetail:
        $ref: '#/definitions/StatusDetail'
        description: Detail information of what is being done within the overall status state.
      UpdateDateTime:
        $ref: '#/definitions/UpdateDateTime'
        description: The timestamp when the task was gathered.
    type: object
  MigrationTaskSummaryList:
    items:
      $ref: '#/definitions/MigrationTaskSummary'
    type: array
  NextUpdateSeconds:
    minimum: 0
    type: integer
  NotifyApplicationStateRequest:
    properties:
      ApplicationId:
        $ref: '#/definitions/ApplicationId'
        description: The configurationId in ADS that uniquely identifies the grouped application.
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      Status:
        $ref: '#/definitions/ApplicationStatus'
        description: 'Status of the application - Not Started, In-Progress, Complete.'
    required:
      - ApplicationId
      - Status
    type: object
  NotifyApplicationStateResult:
    properties: {}
    type: object
  NotifyMigrationTaskStateRequest:
    properties:
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      NextUpdateSeconds:
        $ref: '#/definitions/NextUpdateSeconds'
        description: 'Number of seconds after the UpdateDateTime within which the Migration Hub can expect an update. If Migration Hub does not receive an update within the specified interval, then the migration task will be considered stale.'
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
      Task:
        $ref: '#/definitions/Task'
        description: Information about the task's progress and status.
      UpdateDateTime:
        $ref: '#/definitions/UpdateDateTime'
        description: The timestamp when the task was gathered.
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - Task
      - UpdateDateTime
      - NextUpdateSeconds
    type: object
  NotifyMigrationTaskStateResult:
    properties: {}
    type: object
  PolicyErrorException:
    description: Exception raised when there are problems accessing ADS (Application Discovery Service); most likely due to a misconfigured policy or the <code>ADSCaller</code> role is missing or not configured correctly.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ProgressPercent:
    maximum: 100
    minimum: 0
    type: integer
  ProgressUpdateStream:
    maxLength: 50
    minLength: 1
    pattern: '[^/:|\000-\037]+'
    type: string
  ProgressUpdateStreamSummary:
    description: Summary of the AWS resource used for access control that is implicitly linked to your AWS account.
    properties:
      ProgressUpdateStreamName:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
    type: object
  ProgressUpdateStreamSummaryList:
    items:
      $ref: '#/definitions/ProgressUpdateStreamSummary'
    type: array
  PutResourceAttributesRequest:
    properties:
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional boolean flag to indicate whether any effect should take place. Used to test if the caller has permission to make the call.
      MigrationTaskName:
        $ref: '#/definitions/MigrationTaskName'
        description: Unique identifier that references the migration task.
      ProgressUpdateStream:
        $ref: '#/definitions/ProgressUpdateStream'
        description: 'The name of the ProgressUpdateStream. '
      ResourceAttributeList:
        $ref: '#/definitions/ResourceAttributeList'
        description: Information about the resource that is being migrated. This data will be used to map the task to a resource in the Application Discovery Service (ADS)'s repository.
    required:
      - ProgressUpdateStream
      - MigrationTaskName
      - ResourceAttributeList
    type: object
  PutResourceAttributesResult:
    properties: {}
    type: object
  ResourceAttribute:
    description: Attribute associated with a resource.
    properties:
      Type:
        $ref: '#/definitions/ResourceAttributeType'
        description: Type of resource.
      Value:
        $ref: '#/definitions/ResourceAttributeValue'
        description: Value of the resource type.
    required:
      - Type
      - Value
    type: object
  ResourceAttributeList:
    items:
      $ref: '#/definitions/ResourceAttribute'
    maxItems: 100
    minItems: 1
    type: array
  ResourceAttributeType:
    enum:
      - IPV4_ADDRESS
      - IPV6_ADDRESS
      - MAC_ADDRESS
      - FQDN
      - VM_MANAGER_ID
      - VM_MANAGED_OBJECT_REFERENCE
      - VM_NAME
      - VM_PATH
      - BIOS_ID
      - MOTHERBOARD_SERIAL_NUMBER
      - LABEL
    type: string
  ResourceAttributeValue:
    maxLength: 256
    minLength: 1
    type: string
  ResourceName:
    maxLength: 1600
    minLength: 1
    type: string
  ResourceNotFoundException:
    description: 'Exception raised when the request references a resource (ADS configuration, update stream, migration task, etc.) that does not exist in ADS (Application Discovery Service) or in Migration Hub''s repository.'
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ServiceUnavailableException:
    description: Exception raised when the service encounters throttled communication with upstream dependencies or is overloaded with requests.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  Status:
    enum:
      - NOT_STARTED
      - IN_PROGRESS
      - FAILED
      - COMPLETED
    type: string
  StatusDetail:
    maxLength: 500
    minLength: 0
    type: string
  Task:
    description: Task object encapsulating task information.
    properties:
      ProgressPercent:
        $ref: '#/definitions/ProgressPercent'
        description: Indication of the percentage completion of the task.
      Status:
        $ref: '#/definitions/Status'
        description: 'Status of the task - Not Started, In-Progress, Complete.'
      StatusDetail:
        $ref: '#/definitions/StatusDetail'
        description: Details of task status as notified by a migration tool. A tool might use this field to provide clarifying information about the status that is unique to that tool or that explains an error state.
    required:
      - Status
    type: object
  Token:
    type: string
  UnauthorizedOperation:
    description: Exception raised to indicate a request was not authorized when the <code>DryRun</code> flag is set to "true".
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  UpdateDateTime:
    format: date-time
    type: string
