openapi: 3.0.1
servers:
  - url: https://serverless.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Serverless
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_serverless_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_serverless_v1
paths:
  /v1/Services:
    description: The top-level resource for a Serverless application, which serves as a container for the application environments.
    get:
      description: Retrieve a list of all Services.
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Service resource.
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Service resource. It can be a maximum of 255 characters.
                  type: string
                IncludeCredentials:
                  description: Whether to inject Account credentials into a function invocation context. The default value is `true`.
                  type: boolean
                UiEditable:
                  description: Whether the Service's properties and subresources can be edited via the UI. The default value is `false`.
                  type: boolean
                UniqueName:
                  description: A user-defined string that uniquely identifies the Service resource. It can be used as an alternative to the `sid` in the URL path to address the Service resource. This value must be 50 characters or less in length and be unique.
                  type: string
              required:
                - UniqueName
                - FriendlyName
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: list
  "/v1/Services/{ServiceSid}/Assets":
    description: A wrapper that represents a static file and groups the different Versions of the static file.
    get:
      description: Retrieve a list of all Assets.
      operationId: ListAsset
      parameters:
        - description: The SID of the Service to read the Asset resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  assets:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.asset"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAssetResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Asset resource.
      operationId: CreateAsset
      parameters:
        - description: The SID of the Service to create the Asset resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Asset resource. It can be a maximum of 255 characters.
                  type: string
              required:
                - FriendlyName
              title: CreateAssetRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.asset"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Assets/{AssetSid}/Versions":
    description: The content of an Asset.
    get:
      description: Retrieve a list of all Asset Versions.
      operationId: ListAssetVersion
      parameters:
        - description: The SID of the Service to read the Asset Version resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Asset resource that is the parent of the Asset Version resources to read.
          in: path
          name: AssetSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  asset_versions:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.asset.asset_version"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAssetVersionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - path
        - visibility
        - date_created
      mountName: asset_versions
      parent: /Services/{ServiceSid}/Assets/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Assets/{AssetSid}/Versions/{Sid}":
    description: The content of an Asset.
    get:
      description: Retrieve a specific Asset Version.
      operationId: FetchAssetVersion
      parameters:
        - description: The SID of the Service to fetch the Asset Version resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Asset resource that is the parent of the Asset Version resource to fetch.
          in: path
          name: AssetSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Asset Version resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.asset.asset_version"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - path
        - visibility
        - date_created
      mountName: asset_versions
      parent: /Services/{ServiceSid}/Assets/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Assets/{Sid}":
    delete:
      description: Delete an Asset resource.
      operationId: DeleteAsset
      parameters:
        - description: The SID of the Service to delete the Asset resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID that identifies the Asset resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A wrapper that represents a static file and groups the different Versions of the static file.
    get:
      description: Retrieve a specific Asset resource.
      operationId: FetchAsset
      parameters:
        - description: The SID of the Service to fetch the Asset resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID that identifies the Asset resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.asset"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Asset resource.
      operationId: UpdateAsset
      parameters:
        - description: The SID of the Service to update the Asset resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID that identifies the Asset resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Asset resource. It can be a maximum of 255 characters.
                  type: string
              required:
                - FriendlyName
              title: UpdateAssetRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.asset"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Builds":
    description: A collection of Function Versions, Asset Versions, Dependencies, and a Runtime that form a deployable unit.
    get:
      description: Retrieve a list of all Builds.
      operationId: ListBuild
      parameters:
        - description: The SID of the Service to read the Build resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  builds:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.build"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListBuildResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Build resource. At least one function version or asset version is required.
      operationId: CreateBuild
      parameters:
        - description: The SID of the Service to create the Build resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AssetVersions:
                  description: The list of Asset Version resource SIDs to include in the Build.
                  items:
                    maxLength: 34
                    minLength: 34
                    pattern: ^ZN[0-9a-fA-F]{32}$
                    type: string
                  type: array
                Dependencies:
                  description: A list of objects that describe the Dependencies included in the Build. Each object contains the `name` and `version` of the dependency.
                  type: string
                FunctionVersions:
                  description: The list of the Function Version resource SIDs to include in the Build.
                  items:
                    maxLength: 34
                    minLength: 34
                    pattern: ^ZN[0-9a-fA-F]{32}$
                    type: string
                  type: array
                Runtime:
                  description: The Runtime version that will be used to run the Build resource when it is deployed.
                  type: string
              title: CreateBuildRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.build"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Builds/{Sid}":
    delete:
      description: Delete a Build resource.
      operationId: DeleteBuild
      parameters:
        - description: The SID of the Service to delete the Build resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Build resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZB[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A collection of Function Versions, Asset Versions, Dependencies, and a Runtime that form a deployable unit.
    get:
      description: Retrieve a specific Build resource.
      operationId: FetchBuild
      parameters:
        - description: The SID of the Service to fetch the Build resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Build resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZB[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.build"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Builds/{Sid}/Status":
    description: The status of a Build resource.
    get:
      description: Retrieve a specific Build resource.
      operationId: FetchBuildStatus
      parameters:
        - description: The SID of the Service to fetch the Build resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Build resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZB[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.build.build_status"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - status
      mountName: build_status
      parent: /Services/{ServiceSid}/Builds/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Environments":
    description: Represents a deployed build of a given set of Functions and/or Assets at a specific URL.
    get:
      description: Retrieve a list of all environments.
      operationId: ListEnvironment
      parameters:
        - description: The SID of the Service to read the Environment resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  environments:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.environment"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEnvironmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new environment.
      operationId: CreateEnvironment
      parameters:
        - description: The SID of the Service to create the Environment resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DomainSuffix:
                  description: A URL-friendly name that represents the environment and forms part of the domain name. It can be a maximum of 16 characters.
                  type: string
                UniqueName:
                  description: A user-defined string that uniquely identifies the Environment resource. It can be a maximum of 100 characters.
                  type: string
              required:
                - UniqueName
              title: CreateEnvironmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - domain_name
        - build_sid
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Deployments":
    description: An association of a Build with an Environment so that the Build is published in the Environment.
    get:
      description: Retrieve a list of all Deployments.
      operationId: ListDeployment
      parameters:
        - description: The SID of the Service to read the Deployment resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment used by the Deployment resources to read.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  deployments:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.environment.deployment"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDeploymentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Deployment.
      operationId: CreateDeployment
      parameters:
        - description: The SID of the Service to create the Deployment resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment for the Deployment.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                BuildSid:
                  description: The SID of the Build for the Deployment.
                  maxLength: 34
                  minLength: 34
                  pattern: ^ZB[0-9a-fA-F]{32}$
                  type: string
              title: CreateDeploymentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.deployment"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - build_sid
        - date_created
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Deployments/{Sid}":
    description: An association of a Build with an Environment so that the Build is published in the Environment.
    get:
      description: Retrieve a specific Deployment.
      operationId: FetchDeployment
      parameters:
        - description: The SID of the Service to fetch the Deployment resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment used by the Deployment to fetch.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID that identifies the Deployment resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZD[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.deployment"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - build_sid
        - date_created
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Logs":
    description: A record of an event that occurred related to a function invocation.
    get:
      description: Retrieve a list of all logs.
      operationId: ListLog
      parameters:
        - description: The SID of the Service to read the Log resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the environment with the Log resources to read.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the function whose invocation produced the Log resources to read.
          in: query
          name: FunctionSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: The date/time (in GMT, ISO 8601) after which the Log resources must have been created. Defaults to 1 day prior to current date/time.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: The date/time (in GMT, ISO 8601) before which the Log resources must have been created. Defaults to current date/time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  logs:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.environment.log"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListLogResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Logs/{Sid}":
    description: A record of an event that occurred related to a function invocation.
    get:
      description: Retrieve a specific log.
      operationId: FetchLog
      parameters:
        - description: The SID of the Service to fetch the Log resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the environment with the Log resource to fetch.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Log resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^NO[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.log"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Variables":
    description: A key and value pair that is specific to an Environment.
    get:
      description: Retrieve a list of all Variables.
      operationId: ListVariable
      parameters:
        - description: The SID of the Service to read the Variable resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment with the Variable resources to read.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  variables:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.environment.variable"
                    type: array
                title: ListVariableResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Variable.
      operationId: CreateVariable
      parameters:
        - description: The SID of the Service to create the Variable resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment in which the Variable resource exists.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Key:
                  description: A string by which the Variable resource can be referenced. It can be a maximum of 128 characters.
                  type: string
                Value:
                  description: A string that contains the actual value of the Variable. It can be a maximum of 450 bytes in size.
                  type: string
              required:
                - Key
                - Value
              title: CreateVariableRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.variable"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - key
        - date_created
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Environments/{EnvironmentSid}/Variables/{Sid}":
    delete:
      description: Delete a specific Variable.
      operationId: DeleteVariable
      parameters:
        - description: The SID of the Service to delete the Variable resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment with the Variables to delete.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Variable resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A key and value pair that is specific to an Environment.
    get:
      description: Retrieve a specific Variable.
      operationId: FetchVariable
      parameters:
        - description: The SID of the Service to fetch the Variable resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment with the Variable resource to fetch.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Variable resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.variable"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Variable.
      operationId: UpdateVariable
      parameters:
        - description: The SID of the Service to update the Variable resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment with the Variable resource to update.
          in: path
          name: EnvironmentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Variable resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZV[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Key:
                  description: A string by which the Variable resource can be referenced. It can be a maximum of 128 characters.
                  type: string
                Value:
                  description: A string that contains the actual value of the Variable. It can be a maximum of 450 bytes in size.
                  type: string
              title: UpdateVariableRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment.variable"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - key
        - date_created
      parent: /Services/{ServiceSid}/Environments/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Environments/{Sid}":
    delete:
      description: Delete a specific environment.
      operationId: DeleteEnvironment
      parameters:
        - description: The SID of the Service to delete the Environment resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: Represents a deployed build of a given set of Functions and/or Assets at a specific URL.
    get:
      description: Retrieve a specific environment.
      operationId: FetchEnvironment
      parameters:
        - description: The SID of the Service to fetch the Environment resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Environment resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZE[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.environment"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - domain_name
        - build_sid
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Functions":
    description: A wrapper that represents a Serverless JavaScript function and groups the different  and groups the different Versions of this code.
    get:
      description: Retrieve a list of all Functions.
      operationId: ListFunction
      parameters:
        - description: The SID of the Service to read the Function resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  functions:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.function"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFunctionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Function resource.
      operationId: CreateFunction
      parameters:
        - description: The SID of the Service to create the Function resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Function resource. It can be a maximum of 255 characters.
                  type: string
              required:
                - FriendlyName
              title: CreateFunctionRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.function"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Functions/{FunctionSid}/Versions":
    description: The content of a Function.
    get:
      description: Retrieve a list of all Function Version resources.
      operationId: ListFunctionVersion
      parameters:
        - description: The SID of the Service to read the Function Version resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the function that is the parent of the Function Version resources to read.
          in: path
          name: FunctionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  function_versions:
                    items:
                      $ref: "#/components/schemas/serverless.v1.service.function.function_version"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFunctionVersionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - path
        - visibility
        - date_created
      mountName: function_versions
      parent: /Services/{ServiceSid}/Functions/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Functions/{FunctionSid}/Versions/{Sid}":
    description: The content of a Function.
    get:
      description: Retrieve a specific Function Version resource.
      operationId: FetchFunctionVersion
      parameters:
        - description: The SID of the Service to fetch the Function Version resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the function that is the parent of the Function Version resource to fetch.
          in: path
          name: FunctionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Function Version resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.function.function_version"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - path
        - visibility
        - date_created
      mountName: function_versions
      parent: /Services/{ServiceSid}/Functions/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Functions/{FunctionSid}/Versions/{Sid}/Content":
    description: The code of a Function Version.
    get:
      description: Retrieve a the content of a specific Function Version resource.
      operationId: FetchFunctionVersionContent
      parameters:
        - description: The SID of the Service to fetch the Function Version content from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Function that is the parent of the Function Version content to fetch.
          in: path
          name: FunctionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Function Version content to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.function.function_version.function_version_content"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - content
      mountName: function_version_content
      parent: /Services/{ServiceSid}/Functions/{FunctionSid}/Versions/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Functions/{Sid}":
    delete:
      description: Delete a Function resource.
      operationId: DeleteFunction
      parameters:
        - description: The SID of the Service to delete the Function resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Function resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A wrapper that represents a Serverless JavaScript function and groups the different  and groups the different Versions of this code.
    get:
      description: Retrieve a specific Function resource.
      operationId: FetchFunction
      parameters:
        - description: The SID of the Service to fetch the Function resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Function resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.function"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Function resource.
      operationId: UpdateFunction
      parameters:
        - description: The SID of the Service to update the Function resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Function resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ZH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Function resource. It can be a maximum of 255 characters.
                  type: string
              required:
                - FriendlyName
              title: UpdateFunctionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service.function"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{Sid}":
    delete:
      description: Delete a Service resource.
      operationId: DeleteService
      parameters:
        - description: The `sid` or `unique_name` of the Service resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: The top-level resource for a Serverless application, which serves as a container for the application environments.
    get:
      description: Retrieve a specific Service resource.
      operationId: FetchService
      parameters:
        - description: The `sid` or `unique_name` of the Service resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Service resource.
      operationId: UpdateService
      parameters:
        - description: The `sid` or `unique_name` of the Service resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the Service resource. It can be a maximum of 255 characters.
                  type: string
                IncludeCredentials:
                  description: Whether to inject Account credentials into a function invocation context.
                  type: boolean
                UiEditable:
                  description: Whether the Service resource's properties and subresources can be edited via the UI. The default value is `false`.
                  type: boolean
              title: UpdateServiceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/serverless.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://serverless.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: instance
components:
  schemas:
    asset_version_enum_visibility:
      enum:
        - public
        - private
        - protected
      type: string
    build_enum_runtime:
      enum:
        - node8
        - node10
        - node12
        - node14
        - node16
      type: string
    build_enum_status:
      enum:
        - building
        - completed
        - failed
      type: string
    build_status_enum_status:
      enum:
        - building
        - completed
        - failed
      type: string
    function_version_enum_visibility:
      enum:
        - public
        - private
        - protected
      type: string
    log_enum_level:
      enum:
        - info
        - warn
        - error
      type: string
    serverless.v1.service:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Service resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Service resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        domain_base:
          description: The base domain name for this Service, which is a combination of the unique name and a randomly generated string.
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the Service resource.
          nullable: true
          type: string
        include_credentials:
          description: Whether to inject Account credentials into a function invocation context.
          nullable: true
          type: boolean
        links:
          description: The URLs of the Service's nested resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        ui_editable:
          description: Whether the Service resource's properties and subresources can be edited via the UI.
          nullable: true
          type: boolean
        unique_name:
          description: A user-defined string that uniquely identifies the Service resource. It can be used in place of the Service resource's `sid` in the URL to address the Service resource.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Service resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.asset:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Asset resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Asset resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Asset resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the Asset resource. It can be a maximum of 255 characters.
          nullable: true
          type: string
        links:
          description: The URLs of the Asset resource's nested resources.
          format: uri-map
          nullable: true
          type: object
        service_sid:
          description: The SID of the Service that the Asset resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Asset resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Asset resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.asset.asset_version:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Asset Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        asset_sid:
          description: The SID of the Asset resource that is the parent of the Asset Version.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Asset Version resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        path:
          description: The URL-friendly string by which the Asset Version can be referenced. It can be a maximum of 255 characters. All paths begin with a forward slash ('/'). If an Asset Version creation request is submitted with a path not containing a leading slash, the path will automatically be prepended with one.
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the Asset Version resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Asset Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZN[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Asset Version resource.
          format: uri
          nullable: true
          type: string
        visibility:
          $ref: "#/components/schemas/asset_version_enum_visibility"
          description: "The access control that determines how the Asset Version resource can be accessed. Can be:  `public`, `protected`, or `private`."
          nullable: true
          type: string
      type: object
    serverless.v1.service.build:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Build resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        asset_versions:
          description: The list of Asset Version resource SIDs that are included in the Build.
          items: {}
          nullable: true
          type: array
        date_created:
          description: The date and time in GMT when the Build resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Build resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        dependencies:
          description: A list of objects that describe the Dependencies included in the Build. Each object contains the `name` and `version` of the dependency.
          items: {}
          nullable: true
          type: array
        function_versions:
          description: The list of Function Version resource SIDs that are included in the Build.
          items: {}
          nullable: true
          type: array
        links:
          format: uri-map
          nullable: true
          type: object
        runtime:
          $ref: "#/components/schemas/build_enum_runtime"
          description: The Runtime version that will be used to run the Build resource when it is deployed.
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the Build resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Build resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZB[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/build_enum_status"
          description: "The status of the Build. Can be: `building`, `completed`, or `failed`."
          nullable: true
          type: string
        url:
          description: The absolute URL of the Build resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.build.build_status:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Build resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        service_sid:
          description: The SID of the Service that the Build resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Build resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZB[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/build_status_enum_status"
          description: "The status of the Build. Can be: `building`, `completed`, or `failed`."
          nullable: true
          type: string
        url:
          description: The absolute URL of the Build Status resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.environment:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Environment resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        build_sid:
          description: The SID of the build deployed in the environment.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZB[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Environment resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Environment resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        domain_name:
          description: The domain name for all Functions and Assets deployed in the Environment, using the Service unique name, a randomly-generated Service suffix, and an optional Environment domain suffix.
          nullable: true
          type: string
        domain_suffix:
          description: A URL-friendly name that represents the environment and forms part of the domain name.
          nullable: true
          type: string
        links:
          description: The URLs of the Environment resource's nested resources.
          format: uri-map
          nullable: true
          type: object
        service_sid:
          description: The SID of the Service that the Environment resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Environment resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZE[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: A user-defined string that uniquely identifies the Environment resource.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Environment resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.environment.deployment:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Deployment resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        build_sid:
          description: The SID of the Build for the deployment.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZB[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Deployment resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Deployment resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        environment_sid:
          description: The SID of the Environment for the Deployment.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZE[0-9a-fA-F]{32}$
          type: string
        service_sid:
          description: The SID of the Service that the Deployment resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Deployment resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZD[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Deployment resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.environment.log:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Log resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        build_sid:
          description: The SID of the build that corresponds to the log.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZB[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Log resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        deployment_sid:
          description: The SID of the deployment that corresponds to the log.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZD[0-9a-fA-F]{32}$
          type: string
        environment_sid:
          description: The SID of the environment in which the log occurred.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZE[0-9a-fA-F]{32}$
          type: string
        function_sid:
          description: The SID of the function whose invocation produced the log.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        level:
          $ref: "#/components/schemas/log_enum_level"
          description: "The log level. Can be: `info`, `warn`, or `error`."
          nullable: true
          type: string
        message:
          description: The log message.
          nullable: true
          type: string
        request_sid:
          description: The SID of the request associated with the log.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RQ[0-9a-fA-F]{32}$
          type: string
        service_sid:
          description: The SID of the Service that the Log resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Log resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^NO[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Log resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.environment.variable:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Variable resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Variable resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Variable resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        environment_sid:
          description: The SID of the Environment in which the Variable exists.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZE[0-9a-fA-F]{32}$
          type: string
        key:
          description: A string by which the Variable resource can be referenced.
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the Variable resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Variable resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZV[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Variable resource.
          format: uri
          nullable: true
          type: string
        value:
          description: A string that contains the actual value of the Variable.
          nullable: true
          type: string
      type: object
    serverless.v1.service.function:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Function resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Function resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Function resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the Function resource. It can be a maximum of 255 characters.
          nullable: true
          type: string
        links:
          description: The URLs of nested resources of the Function resource.
          format: uri-map
          nullable: true
          type: object
        service_sid:
          description: The SID of the Service that the Function resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Function resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Function resource.
          format: uri
          nullable: true
          type: string
      type: object
    serverless.v1.service.function.function_version:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Function Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the Function Version resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        function_sid:
          description: The SID of the Function resource that is the parent of the Function Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        path:
          description: The URL-friendly string by which the Function Version resource can be referenced. It can be a maximum of 255 characters. All paths begin with a forward slash ('/'). If a Function Version creation request is submitted with a path not containing a leading slash, the path will automatically be prepended with one.
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the Function Version resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Function Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZN[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Function Version resource.
          format: uri
          nullable: true
          type: string
        visibility:
          $ref: "#/components/schemas/function_version_enum_visibility"
          description: "The access control that determines how the Function Version resource can be accessed. Can be: `public`, `protected`, or `private`."
          nullable: true
          type: string
      type: object
    serverless.v1.service.function.function_version.function_version_content:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Function Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        content:
          description: The content of the Function Version resource.
          nullable: true
          type: string
        function_sid:
          description: The SID of the Function that is the parent of the Function Version.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZH[0-9a-fA-F]{32}$
          type: string
        service_sid:
          description: The SID of the Service that the Function Version resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Function Version resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ZN[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
