openapi: 3.0.0
servers:
  - url: https://api.salesloft.com
info:
  contact:
    email: integrations@salesloft.com
    x-twitter: SalesLoft
  description: |
    SalesLoft helps transform sales teams into modern sales organizations  - converting more target accounts into customer accounts
  title: SalesLoft Platform
  version: v2
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_SalesLoft_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://developers.salesloft.com/v2_api_def.json
      version: "3.0"
  x-providerName: salesloft.com
tags:
  - description: User Information
    name: Me
  - description: Team Information
    name: Team
  - description: Account Management
    name: Accounts
  - description: Account Stage Management
    name: Account Stages
  - description: Account Tier Information
    name: Account Tiers
  - description: Account Upsert
    name: Account Upsert
  - description: Actions
    name: Actions
  - description: Actions - Call Instructions
    name: Action Details - Call Instructions
  - description: Activities
    name: Activities
  - description: Activity Histories
    name: Activity Histories
  - description: Bulk Jobs
    name: Bulk Jobs
  - description: Bulk Jobs - Job Data
    name: Bulk Jobs - Job Data
  - description: Bulk Jobs - Results
    name: Bulk Jobs - Results
  - description: Cadence Exports
    name: Cadence Exports
  - description: Cadence Importing
    name: Cadence Imports
  - description: Cadence Management
    name: Cadences
  - description: Cadence Membership
    name: Cadence Memberships
  - description: Calendar Events
    name: Calendar Events
  - description: Call Data Record Management
    name: Call Data Records
  - description: Call Dispositions
    name: Call Dispositions
  - description: Call Management
    name: Calls
  - description: Call Sentiments
    name: Call Sentiments
  - description: Caller ID Information
    name: Caller IDs
  - description: Conversations Calls
    name: Conversations Calls
  - description: CRM Activity Fields
    name: CRM Activity Fields
  - description: CRM Activity Management
    name: CRM Activities
  - description: Crm Users
    name: Crm Users
  - description: Custom Field Management
    name: Custom Fields
  - description: Email Management
    name: Emails
  - description: Email Template Attachments
    name: Email Template Attachments
  - description: Email Templates Management
    name: Email Templates
  - description: External Emails
    name: External Emails
  - description: Group Management
    name: Groups
  - description: Import Management
    name: Imports
  - description: Live Feed Items
    name: Live Feed Items
  - description: Live Website Tracking Parameters
    name: Live Website Tracking Parameters
  - description: Meetings
    name: Meetings
  - description: Meetings Settings
    name: Meeting Settings
  - description: Meetings Settings - Searches
    name: Meetings Settings - Searches
  - description: MIME content for email
    name: Mime Email Payloads
  - description: Note Management
    name: Notes
  - description: Ongoing Actions
    name: Ongoing Actions
  - description: Pending Emails
    name: Pending Emails
  - description: Person Management
    name: People
  - description: Person Stage Management
    name: Person Stages
  - description: Person Upsert
    name: Person Upsert
  - description: Phone Number Assignments
    name: Phone Number Assignments
  - description: Recording Settings Information
    name: Recording Settings
  - description: Saved List Views
    name: Saved List Views
  - description: Steps
    name: Steps
  - description: Success Management
    name: Successes
  - description: Tags
    name: Tags
  - description: Tasks
    name: Tasks
  - description: Team Template Attachments
    name: Team Template Attachments
  - description: Team Template Management
    name: Team Templates
  - description: User Management
    name: Users
  - description: Webhook Subscriptions
    name: Webhook Subscriptions
paths:
  /v2/account_stages.json:
    get:
      description: |
        Fetches multiple account stage records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of account stages to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Key to sort on, must be one of: created_at, updated_at, order. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/AccountStage"
                type: array
          description: Success
      summary: List account stages
      tags:
        - Account Stages
  "/v2/account_stages/{id}.json":
    get:
      description: |
        Fetches an account stage, by ID only.
      parameters:
        - description: Account Stage ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AccountStage"
          description: Success
      summary: Fetch an account stage
      tags:
        - Account Stages
  /v2/account_tiers.json:
    get:
      description: |
        Fetches multiple account tier records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of Account Tiers to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters Account Tiers by name. Multiple names can be applied
          explode: false
          in: query
          name: name
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Key to sort on, must be one of: created_at, updated_at, order. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/AccountTier"
                type: array
          description: Success
      summary: List Account Tiers
      tags:
        - Account Tiers
  "/v2/account_tiers/{id}.json":
    get:
      description: |
        Fetches an account tier, by ID only.
      parameters:
        - description: Account Tier ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AccountTier"
          description: Success
      summary: Fetch an account tier
      tags:
        - Account Tiers
  /v2/account_upserts.json:
    post:
      description: |
        Upserts an account record. The upsert_key dictates how the upsert will be performed. The create and update behavior
        is exactly the same as the individual create and update endpoints.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                account_tier_id:
                  description: ID of the Account Tier for this Account
                  type: integer
                city:
                  description: City
                  type: string
                company_stage_id:
                  description: ID of the CompanyStage assigned to this Account
                  type: integer
                company_type:
                  description: Type of the Account's company
                  type: string
                conversational_name:
                  description: Conversational name of the Account
                  type: string
                country:
                  description: Country
                  type: string
                crm_id:
                  description: |+
                    Requires Salesforce.

                    ID of the person in your external CRM. You must provide a crm_id_type if this is included.

                    Validations will be applied to the crm_id depending on the crm_id_type. A "salesforce" ID must be exactly 18 characters. A "salesforce" ID must be either an Account (001) object. The type will be validated using the 18 character ID.

                    This field can only be used if your application or API key has the "account:set_crm_id" scope.

                  type: string
                crm_id_type:
                  description: "The CRM that the provided crm_id is for. Must be one of: salesforce"
                  type: string
                custom_fields:
                  description: Custom fields are defined by the user's team. Only fields with values are presented in the API.
                  items:
                    type: object
                  type: array
                description:
                  description: Description
                  type: string
                do_not_contact:
                  description: Whether this company can not be contacted. Values are either true or false. Setting this to true will remove all associated people from all active communications
                  type: boolean
                domain:
                  description: Website domain, not a fully qualified URI
                  type: string
                founded:
                  description: Date or year of founding
                  type: string
                id:
                  description: |
                    ID of the account to update. Used if the upsert_key=id. When id and another upsert_key are provided,
                    the request will fail if the upsert record id and id parameter don't match.
                  type: integer
                industry:
                  description: Industry
                  type: string
                linkedin_url:
                  description: Full LinkedIn url
                  type: string
                locale:
                  description: Time locale
                  type: string
                name:
                  description: Account Full Name
                  type: string
                owner_id:
                  description: ID of the User that owns this Account
                  type: integer
                phone:
                  description: Phone number without formatting
                  type: string
                postal_code:
                  description: Postal code
                  type: string
                revenue_range:
                  description: Estimated revenue range
                  type: string
                size:
                  description: Estimated number of people in employment
                  type: string
                state:
                  description: State
                  type: string
                street:
                  description: Street name and number
                  type: string
                tags:
                  description: All tags applied to this Account
                  items:
                    type: string
                  type: array
                twitter_handle:
                  description: Twitter handle, with @
                  type: string
                upsert_key:
                  description: |
                    Name of the parameter to upsert on. The field must be provided in the input parameters, or the request will fail.
                    The request will also fail if there are multiple records matched by the upsert field.

                    If upsert_key is not provided, this endpoint will not update an existing record.

                    Valid options are: id, crm_id, domain. If crm_id is provided, then a valid crm_id_type must be provided, as documented
                    for the account create and update endpoints.
                  type: string
                website:
                  description: Website
                  type: string
              required:
                - name
                - domain
              type: object
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AccountUpsert"
          description: Success
      summary: Upsert an account
      tags:
        - Account Upsert
  /v2/accounts.json:
    get:
      description: |
        Fetches multiple account records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of accounts to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters accounts by crm_id. Multiple crm ids can be applied
          explode: false
          in: query
          name: crm_id
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by the tags applied to the account. Multiple tags can be applied
          explode: false
          in: query
          name: tag
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by the tag id's applied to the account. Multiple tag id's can be applied
          explode: false
          in: query
          name: tag_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the created_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: created_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Domain of the accounts to fetch. Domains are unique and lowercase
          in: query
          name: domain
          required: false
          schema:
            type: string
        - description: Filters accounts by website. Multiple websites can be applied. An additional value of "_is_null" can be passed to filter accounts that do not have a website.
          explode: false
          in: query
          name: website
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by archived_at status. Returns only accounts where archived_at is not null if this field is true. Returns only accounts where archived_at is null if this field is false. Do not pass this parameter to return both archived and unarchived accounts. This filter is not applied if any value other than "true" or "false" is passed.
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Names of accounts to fetch. Name matches are exact and case sensitive. Multiple names can be fetched.
          explode: false
          in: query
          name: name
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by account_stage_id. Multiple account_stage_ids can be applied. An additional value of "_is_null" can be passed to filter accounts that do not have account_stage_id
          explode: false
          in: query
          name: account_stage_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters accounts by account_tier_id. Multiple account tier ids can be applied
          explode: false
          in: query
          name: account_tier_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters accounts by owner_id. Multiple owner_ids can be applied. An additional value of "_is_null" can be passed to filter accounts that are unowned
          explode: false
          in: query
          name: owner_id
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by whether the owner is active or not.
          in: query
          name: owner_is_active
          required: false
          schema:
            type: boolean
        - description: |
            Equality filters that are applied to the last_contacted field. A single filter can be used by itself or combined with other filters to create a range.
            Additional values of "_is_null" or "_is_not_null" can be passed to filter records that either have no timestamp value or any timestamp value.
            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          name: last_contacted
          required: false
          schema:
            type: object
        - description: "Filters by accounts matching all given custom fields. The custom field names are case-sensitive, but the provided values are case-insensitive. Example: v2/accounts?custom_fields[custom_field_name]=custom_field_value"
          in: query
          name: custom_fields
          required: false
          schema:
            type: object
        - description: Filters accounts by industry by exact match. Supports partial matching
          explode: false
          in: query
          name: industry
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by country by exact match. Supports partial matching
          explode: false
          in: query
          name: country
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by state by exact match. Supports partial matching
          explode: false
          in: query
          name: state
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by city by exact match. Supports partial matching
          explode: false
          in: query
          name: city
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: 'Filters accounts by owner_crm_id. Multiple owner_crm_ids can be applied. An additional value of "_is_null" can be passed to filter accounts that are unowned. A "_not_in" modifier can be used to exclude specific owner_crm_ids. Example: v2/accounts?owner_crm_id[_not_in]=id'
          explode: false
          in: query
          name: owner_crm_id
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters accounts by locale. Multiple locales are allowed
          explode: false
          in: query
          name: locales
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Filters by accounts matching all given user relationship fields, _is_null or _unmapped can be passed to filter accounts with null or unmapped user relationship values. Example: v2/accounts?user_relationships[name]=value"
          in: query
          name: user_relationships
          required: false
          schema:
            type: object
        - description: "Key to sort on, must be one of: created_at, updated_at, last_contacted_at, account_stage, account_stage_name, account_tier, account_tier_name, name, counts_people. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/Account"
                type: array
          description: Success
      summary: List accounts
      tags:
        - Accounts
    post:
      description: |
        Creates an account.

        "domain" must be unique on the current team.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                account_tier_id:
                  description: ID of the Account Tier for this Account
                  type: integer
                city:
                  description: City
                  type: string
                company_stage_id:
                  description: ID of the CompanyStage assigned to this Account
                  type: integer
                company_type:
                  description: Type of the Account's company
                  type: string
                conversational_name:
                  description: Conversational name of the Account
                  type: string
                country:
                  description: Country
                  type: string
                crm_id:
                  description: |+
                    Requires Salesforce.

                    ID of the person in your external CRM. You must provide a crm_id_type if this is included.

                    Validations will be applied to the crm_id depending on the crm_id_type. A "salesforce" ID must be exactly 18 characters. A "salesforce" ID must be either an Account (001) object. The type will be validated using the 18 character ID.

                    This field can only be used if your application or API key has the "account:set_crm_id" scope.

                  type: string
                crm_id_type:
                  description: "The CRM that the provided crm_id is for. Must be one of: salesforce"
                  type: string
                custom_fields:
                  description: Custom fields are defined by the user's team. Only fields with values are presented in the API.
                  items:
                    type: object
                  type: array
                description:
                  description: Description
                  type: string
                do_not_contact:
                  description: Whether this company can not be contacted. Values are either true or false. Setting this to true will remove all associated people from all active communications
                  type: boolean
                domain:
                  description: Website domain, not a fully qualified URI
                  type: string
                founded:
                  description: Date or year of founding
                  type: string
                industry:
                  description: Industry
                  type: string
                linkedin_url:
                  description: Full LinkedIn url
                  type: string
                locale:
                  description: Time locale
                  type: string
                name:
                  description: Account Full Name
                  type: string
                owner_id:
                  description: ID of the User that owns this Account
                  type: integer
                phone:
                  description: Phone number without formatting
                  type: string
                postal_code:
                  description: Postal code
                  type: string
                revenue_range:
                  description: Estimated revenue range
                  type: string
                size:
                  description: Estimated number of people in employment
                  type: string
                state:
                  description: State
                  type: string
                street:
                  description: Street name and number
                  type: string
                tags:
                  description: All tags applied to this Account
                  items:
                    type: string
                  type: array
                twitter_handle:
                  description: Twitter handle, with @
                  type: string
                website:
                  description: Website
                  type: string
              required:
                - name
                - domain
              type: object
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Account"
          description: Success
      summary: Create an account
      tags:
        - Accounts
  "/v2/accounts/{id}.json":
    delete:
      description: |
        Deletes an account. This operation is not reversible without contacting support.
        This operation can be called multiple times successfully.

        Deleting an account will remove all connected people from that account.
      parameters:
        - description: Account ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The Account has been deleted successfully
      summary: Delete an account
      tags:
        - Accounts
    get:
      description: |
        Fetches an account, by ID only.
      parameters:
        - description: Account ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Account"
          description: Success
      summary: Fetch an account
      tags:
        - Accounts
    put:
      description: |
        Updates an account.

        "domain" must be unique on the current team.
      parameters:
        - description: Account ID
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                account_tier_id:
                  description: ID of the Account Tier for this Account
                  type: integer
                archived:
                  description: Whether this Account should be archived or not. Setting this to true sets archived_at to the current time if it's not already set. Setting this to false will set archived_at to null
                  type: boolean
                city:
                  description: City
                  type: string
                company_stage_id:
                  description: ID of the CompanyStage assigned to this Account
                  type: integer
                company_type:
                  description: Type of the Account's company
                  type: string
                conversational_name:
                  description: Conversational name of the Account
                  type: string
                country:
                  description: Country
                  type: string
                crm_id:
                  description: |+
                    Requires Salesforce.

                    ID of the person in your external CRM. You must provide a crm_id_type if this is included.

                    Validations will be applied to the crm_id depending on the crm_id_type. A "salesforce" ID must be exactly 18 characters. A "salesforce" ID must be either an Account (001) object. The type will be validated using the 18 character ID.

                    This field can only be used if your application or API key has the "account:set_crm_id" scope.

                  type: string
                crm_id_type:
                  description: "The CRM that the provided crm_id is for. Must be one of: salesforce"
                  type: string
                custom_fields:
                  description: Custom fields are defined by the user's team. Only fields with values are presented in the API.
                  items:
                    type: object
                  type: array
                description:
                  description: Description
                  type: string
                do_not_contact:
                  description: Whether this company can not be contacted. Values are either true or false. Setting this to true will remove all associated people from all active communications
                  type: boolean
                domain:
                  description: Website domain, not a fully qualified URI
                  type: string
                founded:
                  description: Date or year of founding
                  type: string
                industry:
                  description: Industry
                  type: string
                linkedin_url:
                  description: Full LinkedIn url
                  type: string
                locale:
                  description: Time locale
                  type: string
                name:
                  description: Account Full Name
                  type: string
                owner_id:
                  description: ID of the User that owns this Account
                  type: integer
                phone:
                  description: Phone number without formatting
                  type: string
                postal_code:
                  description: Postal code
                  type: string
                revenue_range:
                  description: Estimated revenue range
                  type: string
                size:
                  description: Estimated number of people in employment
                  type: string
                state:
                  description: State
                  type: string
                street:
                  description: Street name and number
                  type: string
                tags:
                  description: All tags applied to this Account
                  items:
                    type: string
                  type: array
                twitter_handle:
                  description: Twitter handle, with @
                  type: string
                website:
                  description: Website
                  type: string
              required:
                - name
                - domain
              type: object
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Account"
          description: Success
      summary: Update an existing Account
      tags:
        - Accounts
  /v2/action_details/call_instructions.json:
    get:
      description: |
        Fetches multiple call instruction records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of call instructions to fetch.
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/CallInstruction"
                type: array
          description: Success
      summary: List call instructions
      tags:
        - Action Details - Call Instructions
  "/v2/action_details/call_instructions/{id}.json":
    get:
      description: |
        Fetches a call instruction, by ID only.
      parameters:
        - description: Call instructions ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CallInstruction"
          description: Success
      summary: Fetch a call instructions
      tags:
        - Action Details - Call Instructions
  /v2/actions.json:
    get:
      description: |
        Fetches multiple action records. The records can be filtered, paged, and sorted according to
        the respective parameters. Only actions that are currently "in_progess" will be returned by
        this endpoint.

        If the requester is not an admin, this endpoint will only return actions belonging to the requester.
        If the request is an admin, this endpoint will return actions for the entire team. Additionaly, an admin
        may use the user_guid parameter to request actions that belong to specific users on the team.
      parameters:
        - description: IDs of actions to fetch.
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Fetch actions by step ID
          in: query
          name: step_id
          required: false
          schema:
            type: integer
        - description: Filter actions by type
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: |
            Equality filters that are applied to the due_on field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: due_on
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters actions by the user's guid. Multiple user guids can be applied. The user must be a team admin to filter other users' actions
          explode: false
          in: query
          name: user_guid
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters actions by person_id. Multiple person ids can be applied
          explode: false
          in: query
          name: person_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters actions by cadence_id. Multiple cadence ids can be applied
          explode: false
          in: query
          name: cadence_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters actions by multitouch_group_id. Multiple multitouch group ids can be applied
          explode: false
          in: query
          name: multitouch_group_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/Action"
                type: array
          description: Success
      summary: List actions
      tags:
        - Actions
  "/v2/actions/{id}.json":
    get:
      description: |
        Fetches an action, by ID only.
        This endpoint will only return actions that are in_progress or pending_activity.
        Once an action is complete, the request for that action will return a 404 status code.
      parameters:
        - description: Action ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Action"
          description: Success
      summary: Fetch an action
      tags:
        - Actions
  /v2/activities.json:
    post:
      description: |
        Creates an activity. An activity will mark the associated action as completed. Currently,
        only certain action types can have an activity explicitly created for them.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                action_id:
                  description: |
                    Action that is being completed. This will validate that the action is still
                    valid before completed it. The same action can never be successfully passed twice to this endpoint.
                    The action must have a type of 'integration'.
                  type: integer
                task_id:
                  description: |
                    Task that is being completed. This will validate that the task is still
                    valid before completed it. The same action can never be successfully passed twice to this endpoint.
                    The task must have a type of 'integration'.
                  type: integer
              type: object
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Activity"
          description: Success
      summary: Create an activity
      tags:
        - Activities
  /v2/activities/calls.json:
    get:
      description: |
        Fetches multiple call records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of calls to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the created_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: created_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters list to only include guids
          explode: false
          in: query
          name: user_guid
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters calls by person_id. Multiple person ids can be applied
          explode: false
          in: query
          name: person_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters calls by sentiment. Sentiment matches are exact and case sensitive. Multiple sentiments are allowed.
          explode: false
          in: query
          name: sentiment
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters calls by disposition. Disposition matches are exact and case sensitive. Multiple dispositions are allowed.
          explode: false
          in: query
          name: disposition
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/Call"
                type: array
          description: Success
      summary: List calls
      tags:
        - Calls
    post:
      description: |
        Creates a call. The parameters of this endpoint can be used to create an action
        and ensure that the CRM Task is mapped correctly.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                action_id:
                  description: |
                    Action that this call is being logged for. This will validate that the action is still
                    valid before completing it. The same action can never be successfully passed twice to this endpoint. The
                    action must have a type of 'phone'.
                  type: integer
                crm_params:
                  description: |
                    CRM specific parameters. Some parameters are required on a per-team basis. Consume the
                    CrmActivityFields endpoint to receive a list of valid parameters. The "field" property
                    is passed as the key of this object, and the value of this object is the value that you
                    would like to set.

                    If CrmActivityField has a non-null value, then that value must be submitted, or excluded
                    from API calls, as these values are automatically applied.
                  type: object
                disposition:
                  description: The disposition of the call. Can be required on a per-team basis. Must be present in the disposition list.
                  type: string
                duration:
                  description: The length of the call, in seconds
                  type: integer
                linked_call_data_record_ids:
                  description: |
                    CallDataRecord associations that will become linked to the created call. It is possible to pass
                    multiple CallDataRecord ids in this field; this can be used to represent multiple phone calls
                    that made up a single call.

                    Any call data record that is used must not already be linked to a call. It is not possible
                    to link a call data record to multiple calls, and it is not possible to re-assign a call data
                    record to a different call.
                  items:
                    type: integer
                  type: array
                notes:
                  description: Notes to log for the call. This is similar to the notes endpoint, but ensures that the notes get synced to the user's CRM
                  type: string
                person_id:
                  description: The ID of the person whom this call will be logged for
                  type: integer
                sentiment:
                  description: The sentiment of the call. Can be required on a per-team basis. Must be present in the sentiment list.
                  type: string
                to:
                  description: The phone number that was called
                  type: string
                user_guid:
                  description: Guid of the user whom this call should be logged for. Defaults to the authenticated user. Only team admins can pass another user's guid
                  type: string
              required:
                - person_id
              type: object
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Call"
          description: Success
      summary: Create a call
      tags:
        - Calls
  "/v2/activities/calls/{id}.json":
    get:
      description: |
        Fetches a call, by ID only.
      parameters:
        - description: Call ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Call"
          description: Success
      summary: Fetch a call
      tags:
        - Calls
  /v2/activities/emails.json:
    get:
      description: |
        Fetches multiple email records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of emails to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters emails by whether they have bounced or not
          in: query
          name: bounced
          required: false
          schema:
            type: boolean
        - description: Filters emails by crm_activity_id. Multiple crm activty ids can be applied
          explode: false
          in: query
          name: crm_activity_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by action_id. Multiple action ids can be applied
          explode: false
          in: query
          name: action_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by user_id. Multiple User ids can be applied
          explode: false
          in: query
          name: user_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by status. Multiple status can be applied, possible values are sent, sent_from_gmail, sent_from_external, pending, pending_reply_check, scheduled, sending, delivering, failed, cancelled, pending_through_gmail, pending_through_external
          explode: false
          in: query
          name: status
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters emails by cadence. Multiple cadence ids can be applied
          explode: false
          in: query
          name: cadence_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by step. Multiple step ids can be applied
          explode: false
          in: query
          name: step_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by one-off only
          in: query
          name: one_off
          required: false
          schema:
            type: boolean
        - description: Specify explicit scoped fields desired on the Email Resource.
          explode: false
          in: query
          name: scoped_fields
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters emails by person_id. Multiple person ids can be applied
          explode: false
          in: query
          name: person_id
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: Filters emails by recipient email address. Multiple emails can be applied.
          explode: false
          in: query
          name: email_addresses
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters emails by personalization score
          explode: false
          in: query
          name: personalization
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |
            Equality filters that are applied to the sent_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: sent_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: "Key to sort on, must be one of: updated_at, send_time. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/Email"
                type: array
          description: Success
      summary: List emails
      tags:
        - Emails
  "/v2/activities/emails/{id}.json":
    get:
      description: |
        Fetches an email, by ID only.
      parameters:
        - description: Email ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Email"
          description: Success
      summary: Fetch an email
      tags:
        - Emails
  /v2/activity_histories:
    get:
      description: Fetches all of the customer's past activities for your application. Returns all the Activities that are found on the Salesloft Activity Feed. <a href="/activity-history.html" target="_blank" rel="noopener noreferrer">Visit here for more details</a>.
      parameters:
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: "Key to sort on, must be one of: occurred_at, updated_at. Defaults to occurred_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: "Filter by the type of activity. Must be one of: added_to_cadence, completed_action, call, requested_email, sent_email, received_email, email_reply, note, success, dnc_event, residency_change, meeting, meeting_held, message_conversation, task, voicemail, opportunity_stage_change, opportunity_amount_change, opportunity_close_date_change. Can be provided as an array, or as an object of type[resource_type][]=type"
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: For internal use only. This field does not comply with our backwards compatibility policies. This filter is for authenticated users of Salesloft only and will not work for OAuth Applications. Filter by the {resource_type, resource_id} of activity. Provide this in the format resource[]=person,1234
          in: query
          name: _resource
          required: false
          schema:
            type: string
        - description: |
            Equality filters that are applied to the occurred_at field. A single filter can be used by itself or combined with other filters to create a range.
            ---CUSTOM---
            {"keys":[{"description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"gt","type":"iso8601 string"},{"description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"gte","type":"iso8601 string"},{"description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"lt","type":"iso8601 string"},{"description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"lte","type":"iso8601 string"}],"type":"object"}
          in: query
          name: occurred_at
          required: false
          schema:
            type: object
        - description: Filter by the pinned status of activity. Must be 'true' or 'false'
          in: query
          name: pinned
          required: false
          schema:
            type: boolean
        - description: Filter by the resource type. A resource is a Salesloft object that the activity is attributed to. A valid resource types must be one of person, account, crm_opportunity. Can be provided as an array
          in: query
          name: resource_type
          required: false
          schema:
            type: string
        - description: Filter by the resource id. "resource_type" filter is required to use this filter.
          explode: false
          in: query
          name: resource_id
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.
            ---CUSTOM---
            {"keys":[{"description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"gt","type":"iso8601 string"},{"description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"gte","type":"iso8601 string"},{"description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"lt","type":"iso8601 string"},{"description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision.","name":"lte","type":"iso8601 string"}],"type":"object"}
          in: query
          name: updated_at
          required: false
          schema:
            type: object
        - description: Filter activities by a user's guid.
          in: query
          name: user_guid
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ActivityHistory"
          description: Success
      summary: List Past Activities
      tags:
        - Activity Histories
  /v2/bulk_jobs:
    get:
      description: Fetches multiple bulk job records. The records can be filtered, paged, and sorted according to the respective parameters.
      parameters:
        - description: "The state of the bulk job. Accepts multiple states. Each state must be one of: open, executing, done"
          explode: false
          in: query
          name: state
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filter by id using comparison operators. Only supports greater than (gt) comparison (i.e. id[gt]=123)
          in: query
          name: id
          required: false
          schema:
            type: object
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/BulkJob"
                type: array
          description: Success
      summary: List bulk jobs
      tags:
        - Bulk Jobs
    post:
      description: |
        Creates a bulk job. The type of the bulk job must be included when created.

        For additional information on creating bulk jobs, the types of supported bulk jobs, and examples of the bulk job flow, visit the <a href="/bulk.html" target="_blank" rel="noopener noreferrer">bulk job details page</a>.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  description: Name for your bulk job
                  type: string
                type:
                  description: Type of bulk job. Must be a valid type. Follow link to the bulk job details page above to view supported types.
                  type: string
              required:
                - type
              type: object
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BulkJob"
          description: Success
      summary: Create a bulk job
      tags:
        - Bulk Jobs
  "/v2/bulk_jobs/{bulk_jobs_id}/job_data":
    get:
      description: Fetches multiple job data records for a given bulk job. Pagination is not supported, but cursor based polling is via use of the `id[gt]` filter. Pass the last id seen (i.e. `id[gt]=1234`) in order to get the next batch of records.
      parameters:
        - description: The id for the bulk job to which the job data relates
          in: path
          name: bulk_jobs_id
          required: true
          schema:
            type: integer
        - description: Filter by result status. Accepts multiple statuses. Each status must be one of pending, success, error, retrying
          explode: false
          in: query
          name: status
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filter by id using comparison operators. Only supports greater than (gt) comparison (i.e. id[gt]=123)
          in: query
          name: id
          required: false
          schema:
            type: object
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/BulkJobResult"
                type: array
          description: Success
      summary: List job data for a bulk job
      tags:
        - Bulk Jobs - Job Data
    post:
      description: |
        Upload job data for the specified bulk job. Upload an array of objects, where element contains the parameters necessary to execute the individual calls. Each call to this endpoint can handle up to 5,000 records at a time. There is no limit to how many times you can create job data for a given bulk job.

        For additional information on creating bulk jobs, the types of supported bulk jobs, and examples of the bulk job flow, visit the <a href="/bulk.html" target="_blank" rel="noopener noreferrer">bulk job details page</a>.
      parameters:
        - description: The id for the bulk job to which the job data relates
          in: path
          name: bulk_jobs_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                data:
                  description: Array of objects containing parameters to be used to execute an instance of each. Array must be 5,000 records or less.
                  items:
                    type: string
                  type: array
              required:
                - data
              type: object
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JobDataCreationResult"
          description: Success
      summary: Create job data for a bulk job
      tags:
        - Bulk Jobs - Job Data
  "/v2/bulk_jobs/{bulk_jobs_id}/results":
    get:
      description: Fetches multiple job data records for a completed bulk job. Note that until a bulk job's state is set to `done` the returned `data` will be an empty array. Pagination is not supported, but cursor based polling is via use of the `id[gt]` filter. Pass the last id seen (i.e. `id[gt]=1234`) in order to get the next batch of records.
      parameters:
        - description: The id for the Bulk Job
          in: path
          name: bulk_jobs_id
          required: true
          schema:
            type: integer
        - description: Filter by result status. Accepts multiple statuses. Each status must be one of pending, success, error, retrying
          explode: false
          in: query
          name: status
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filter by id using comparison operators. Only supports greater than (gt) comparison (i.e. id[gt]=123)
          in: query
          name: id
          required: false
          schema:
            type: object
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/BulkJobResult"
                type: array
          description: Success
      summary: List job data for a completed bulk job.
      tags:
        - Bulk Jobs - Results
  "/v2/bulk_jobs/{id}":
    get:
      description: Fetches a bulk job, by ID only.
      parameters:
        - description: The id for the Bulk Job
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BulkJob"
          description: Success
      summary: Fetch a bulk job
      tags:
        - Bulk Jobs
    put:
      description: |
        Updates a bulk job's name and / or marks a bulk job as 'ready_to_execute'.  May only be updated if the bulk job is still in an "open" state.

        For additional information on creating bulk jobs, the types of supported bulk jobs, and examples of the bulk job flow, visit the <a href="/bulk.html" target="_blank" rel="noopener noreferrer">bulk job details page</a>.
      parameters:
        - description: The id for the bulk job to which the job data relates
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  description: Name for your bulk job
                  type: string
                ready_to_execute:
                  description: Whether the job is ready to be executed. Must be true or false.
                  type: boolean
              type: object
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BulkJob"
          description: Success
      summary: Update a bulk job
      tags:
        - Bulk Jobs
  "/v2/cadence_exports/{id}.json":
    get:
      description: |
        Exports a cadence as JSON.
      parameters:
        - description: Cadence ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CadenceExport"
          description: Success
      summary: Export a cadence
      tags:
        - Cadence Exports
  /v2/cadence_imports.json:
    post:
      description: |
        New cadences can be created or steps can be imported onto existing cadences which do not have steps.
        <a href="/cadence-imports.html" target="_blank" rel="noopener noreferrer">Visit here for more details</a>.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                cadence_content:
                  description: Import data for cadence
                  type: object
                settings:
                  description: Settings for a cadence
                  type: object
                sharing_settings:
                  description: The shared settings for a cadence
                  type: object
              type: object
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CadenceImport"
          description: Success
      summary: Import cadences from JSON
      tags:
        - Cadence Imports
  /v2/cadence_memberships.json:
    get:
      description: |
        Fetches multiple cadence membership records. The records can be filtered, paged, and sorted according to
        the respective parameters. A cadence membership is the association between a person and their current and
        historical time on a cadence. Cadence membership records are mutable and change over time. If a person is
        added to a cadence and re-added to the same cadence in the future, there is a single membership record.
      parameters:
        - description: IDs of cadence memberships to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: ID of the person to find cadence memberships for
          in: query
          name: person_id
          required: false
          schema:
            type: integer
        - description: ID of the cadence to find cadence memberships for
          in: query
          name: cadence_id
          required: false
          schema:
            type: integer
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: If true, return only cadence memberships for people currently on cadences.  If false, return cadence memberships for people who have been removed from or have completed a cadence.
          in: query
          name: currently_on_cadence
          required: false
          schema:
            type: boolean
        - description: "Key to sort on, must be one of: added_at, updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/CadenceMembership"
                type: array
          description: Success
      summary: List cadence memberships
      tags:
        - Cadence Memberships
    post:
      description: |
        Adds a person to a cadence. person_id and cadence_id are required, and must be visible to the authenticated user. user_id will
        default to the authenticated user, but can be set to any visible user on the authenticated team.

        A person cannot be added to a cadence on behalf of a teammate unless the cadence is a team cadence, the cadence is owned by
        the teammate, or the teammate has the Personal Cadence Admin permission.
      parameters:
        - description: ID of the person to create a cadence membership for
          in: query
          name: person_id
          required: true
          schema:
            type: integer
        - description: ID of the cadence to create a cadence membership for
          in: query
          name: cadence_id
          required: true
          schema:
            type: integer
        - description: ID of the user to create a cadence membership for. The associated cadence must be owned by the user, or it must be a team cadence
          in: query
          name: user_id
          required: false
          schema:
            type: integer
        - description: ID of the step on which the person should start the cadence. Start on first step is the default behavior without this parameter.
          in: query
          name: step_id
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CadenceMembership"
          description: Success
      summary: Create a cadence membership
      tags:
        - Cadence Memberships
  "/v2/cadence_memberships/{id}.json":
    delete:
      description: |
        Cadence Membership
      parameters:
        - description: CadenceMembership ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The person has been removed from the cadence successfully
      summary: Delete a cadence membership
      tags:
        - Cadence Memberships
    get:
      description: |
        Fetches a cadence membership, by ID only.
      parameters:
        - description: CadenceMembership ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CadenceMembership"
          description: Success
      summary: Fetch a cadence membership
      tags:
        - Cadence Memberships
  /v2/cadences.json:
    get:
      description: |
        Fetches multiple cadence records. The records can be filtered, paged, and sorted according to
        the respective parameters.
      parameters:
        - description: IDs of cadences to fetch. If a record can't be found, that record won't be returned and your request will be successful
          explode: false
          in: query
          name: ids
          required: false
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: |
            Equality filters that are applied to the updated_at field. A single filter can be used by itself or combined with other filters to create a range.

            ---CUSTOM---
            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          explode: false
          in: query
          name: updated_at
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters cadences by whether they are a team cadence or not
          in: query
          name: team_cadence
          required: false
          schema:
            type: boolean
        - description: Filters cadences by whether they are shared
          in: query
          name: shared
          required: false
          schema:
            type: boolean
        - description: Filters cadences by the owner's guid. Multiple owner guids can be applied
          explode: false
          in: query
          name: owned_by_guid
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters cadences by whether they are able to have people added to them
          in: query
          name: people_addable
          required: false
          schema:
            type: boolean
        - description: Filters cadences by name
          explode: false
          in: query
          name: name
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters by group ids. Also supports group ids passed in as a JSON array string
          in: query
          name: group_ids
          required: false
          schema:
            type: string
        - description: Filters by whether the Cadences have been archived. Excluding this field will result in both archived and unarchived Cadences to return.
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: "Key to sort on, must be one of: created_at, updated_at, name. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: Specifies whether the max limit of 10k records should be applied to pagination counts. Affects the total_count and total_pages data
          in: query
          name: limit_paging_counts
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/Cadence"
                type: array
          description: Success
      summary: List cadences
      tags:
        - Cadences
  "/v2/cadences/{id}.json":
    get:
      description: |
        Fetches a cadence, by ID only.
      parameters:
        - description: Cadence ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Cadence"
          description: Success
      summary: Fetch a cadence
      tags:
        - Cadences
  /v2/calendar/events:
    get:
      description: Returns all calendar events, paginated and filtered by the date.
      parameters:
        - description: How many records to show per page in the range [1, 100]. Defaults to 25
          in: query
          name: per_page
          required: false
          schema:
            type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          schema:
            type: integer
        - description: Whether to include total_pages and total_count in the metadata. Defaults to false
          in: query
          name: include_paging_counts
          required: false
          schema:
            type: boolean
        - description: "Key to sort on, must be one of: start_time. Defaults to start_time"
          in: query
          name: sort_by
          required: false
          schema:
            type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          schema:
            type: string
        - description: |
[...]
