openapi: 3.0.0
servers:
  - url: https://doubleclicksearch.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Search Ads 360 API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: openapi
      url: https://doubleclicksearch.googleapis.com/$discovery/rest?version=v2
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: doubleclicksearch
externalDocs:
  url: https://developers.google.com/search-ads
tags:
  - name: conversion
  - name: reports
  - name: savedColumns
paths:
  "/doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion":
    get:
      description: Retrieves a list of conversions from a DoubleClick Search engine account.
      operationId: doubleclicksearch.conversion.get
      parameters:
        - description: Numeric ID of the agency.
          in: path
          name: agencyId
          required: true
          schema:
            type: string
        - description: Numeric ID of the advertiser.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Numeric ID of the engine account.
          in: path
          name: engineAccountId
          required: true
          schema:
            type: string
        - description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
          in: query
          name: endDate
          required: true
          schema:
            maximum: 99991231
            minimum: 20091101
            type: integer
        - description: The number of conversions to return per call.
          in: query
          name: rowCount
          required: true
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
          in: query
          name: startDate
          required: true
          schema:
            maximum: 99991231
            minimum: 20091101
            type: integer
        - description: The 0-based starting index for retrieving conversions results.
          in: query
          name: startRow
          required: true
          schema:
            type: integer
        - description: Numeric ID of the ad group.
          in: query
          name: adGroupId
          schema:
            type: string
        - description: Numeric ID of the ad.
          in: query
          name: adId
          schema:
            type: string
        - description: Numeric ID of the campaign.
          in: query
          name: campaignId
          schema:
            type: string
        - description: Numeric ID of the criterion.
          in: query
          name: criterionId
          schema:
            type: string
        - description: Customer ID of a client account in the new Search Ads 360 experience.
          in: query
          name: customerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversionList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - conversion
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping":
    get:
      description: Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.
      operationId: doubleclicksearch.reports.getIdMappingFile
      parameters:
        - description: Legacy SA360 agency ID.
          in: path
          name: agencyId
          required: true
          schema:
            type: string
        - description: Legacy SA360 advertiser ID.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdMappingFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns":
    get:
      description: Retrieve the list of saved columns for a specified advertiser.
      operationId: doubleclicksearch.savedColumns.list
      parameters:
        - description: DS ID of the agency.
          in: path
          name: agencyId
          required: true
          schema:
            type: string
        - description: DS ID of the advertiser.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedColumnList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - savedColumns
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /doubleclicksearch/v2/conversion:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a batch of new conversions into DoubleClick Search.
      operationId: doubleclicksearch.conversion.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversionList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversionList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - conversion
    put:
      description: Updates a batch of conversions in DoubleClick Search.
      operationId: doubleclicksearch.conversion.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversionList"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversionList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - conversion
  /doubleclicksearch/v2/conversion/updateAvailability:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates the availabilities of a batch of floodlight activities in DoubleClick Search.
      operationId: doubleclicksearch.conversion.updateAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvailabilityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAvailabilityResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - conversion
  "/doubleclicksearch/v2/customer/{customerId}/conversion":
    get:
      description: Retrieves a list of conversions from a DoubleClick Search engine account.
      operationId: doubleclicksearch.conversion.getByCustomerId
      parameters:
        - description: Customer ID of a client account in the new Search Ads 360 experience.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
          in: query
          name: endDate
          required: true
          schema:
            maximum: 99991231
            minimum: 20091101
            type: integer
        - description: The number of conversions to return per call.
          in: query
          name: rowCount
          required: true
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.
          in: query
          name: startDate
          required: true
          schema:
            maximum: 99991231
            minimum: 20091101
            type: integer
        - description: The 0-based starting index for retrieving conversions results.
          in: query
          name: startRow
          required: true
          schema:
            type: integer
        - description: Numeric ID of the ad group.
          in: query
          name: adGroupId
          schema:
            type: string
        - description: Numeric ID of the ad.
          in: query
          name: adId
          schema:
            type: string
        - description: Numeric ID of the advertiser.
          in: query
          name: advertiserId
          schema:
            type: string
        - description: Numeric ID of the agency.
          in: query
          name: agencyId
          schema:
            type: string
        - description: Numeric ID of the campaign.
          in: query
          name: campaignId
          schema:
            type: string
        - description: Numeric ID of the criterion.
          in: query
          name: criterionId
          schema:
            type: string
        - description: Numeric ID of the engine account.
          in: query
          name: engineAccountId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversionList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - conversion
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /doubleclicksearch/v2/reports:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a report request into the reporting system.
      operationId: doubleclicksearch.reports.request
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - reports
  /doubleclicksearch/v2/reports/generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates and returns a report immediately.
      operationId: doubleclicksearch.reports.generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - reports
  "/doubleclicksearch/v2/reports/{reportId}":
    get:
      description: Polls for the status of a report request.
      operationId: doubleclicksearch.reports.get
      parameters:
        - description: ID of the report request being polled.
          in: path
          name: reportId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}":
    get:
      description: Downloads a report file encoded in UTF-8.
      operationId: doubleclicksearch.reports.getFile
      parameters:
        - description: ID of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - description: The index of the report fragment to download.
          in: path
          name: reportFragment
          required: true
          schema:
            minimum: 0
            type: integer
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclicksearch
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclicksearch
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Availability:
      description: A message containing availability data relevant to DoubleClick Search.
      properties:
        advertiserId:
          description: DS advertiser ID.
          format: int64
          type: string
        agencyId:
          description: DS agency ID.
          format: int64
          type: string
        availabilityTimestamp:
          description: The time by which all conversions have been uploaded, in epoch millis UTC.
          format: int64
          type: string
        customerId:
          description: Customer ID of a client account in the new Search Ads 360 experience.
          type: string
        segmentationId:
          description: The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).
          format: int64
          type: string
        segmentationName:
          description: The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).
          type: string
        segmentationType:
          description: The segmentation type that this availability is for (its default value is `FLOODLIGHT`).
          type: string
      type: object
    Conversion:
      description: A conversion containing data relevant to DoubleClick Search.
      properties:
        adGroupId:
          description: DS ad group ID.
          format: int64
          type: string
        adId:
          description: DS ad ID.
          format: int64
          type: string
        advertiserId:
          description: DS advertiser ID.
          format: int64
          type: string
        agencyId:
          description: DS agency ID.
          format: int64
          type: string
        attributionModel:
          description: Available to advertisers only after contacting DoubleClick Search customer support.
          type: string
        campaignId:
          description: DS campaign ID.
          format: int64
          type: string
        channel:
          description: 'Sales channel for the product. Acceptable values are: - "`local`": a physical store - "`online`": an online store '
          type: string
        clickId:
          description: DS click ID for the conversion.
          type: string
        conversionId:
          description: For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.
          type: string
        conversionModifiedTimestamp:
          description: The time at which the conversion was last modified, in epoch millis UTC.
          format: int64
          type: string
        conversionTimestamp:
          description: The time at which the conversion took place, in epoch millis UTC.
          type: string
        countMillis:
          description: Available to advertisers only after contacting DoubleClick Search customer support.
          format: int64
          type: string
        criterionId:
          description: DS criterion (keyword) ID.
          format: int64
          type: string
        currencyCode:
          description: The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.
          type: string
        customDimension:
          description: Custom dimensions for the conversion, which can be used to filter data in a report.
          items:
            $ref: "#/components/schemas/CustomDimension"
          type: array
        customMetric:
          description: Custom metrics for the conversion.
          items:
            $ref: "#/components/schemas/CustomMetric"
          type: array
        customerId:
          description: Customer ID of a client account in the new Search Ads 360 experience.
          type: string
        deviceType:
          description: The type of device on which the conversion occurred.
          type: string
        dsConversionId:
          description: ID that DoubleClick Search generates for each conversion.
          format: int64
          type: string
        engineAccountId:
          description: DS engine account ID.
          format: int64
          type: string
        floodlightOrderId:
          description: The Floodlight order ID provided by the advertiser for the conversion.
          type: string
        inventoryAccountId:
          description: ID that DS generates and uses to uniquely identify the inventory account that contains the product.
          format: int64
          type: string
        productCountry:
          description: The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.
          type: string
        productGroupId:
          description: DS product group ID.
          format: int64
          type: string
        productId:
          description: The product ID (SKU).
          type: string
        productLanguage:
          description: The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.
          type: string
        quantityMillis:
          description: The quantity of this conversion, in millis.
          format: int64
          type: string
        revenueMicros:
          description: The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of "10" enter "10000000" (10 million) in your request.
          type: string
        segmentationId:
          description: The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).
          format: int64
          type: string
        segmentationName:
          description: The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).
          type: string
        segmentationType:
          description: The segmentation type of this conversion (for example, `FLOODLIGHT`).
          type: string
        state:
          description: "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
          type: string
        storeId:
          description: The ID of the local store for which the product was advertised. Applicable only when the channel is "`local`".
          type: string
        type:
          description: The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).
          type: string
      type: object
    ConversionList:
      description: A list of conversions.
      properties:
        conversion:
          description: The conversions being requested.
          items:
            $ref: "#/components/schemas/Conversion"
          type: array
        kind:
          description: "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
          type: string
      type: object
    CustomDimension:
      description: A message containing the custom dimension.
      properties:
        name:
          description: Custom dimension name.
          type: string
        value:
          description: Custom dimension value.
          type: string
      type: object
    CustomMetric:
      description: A message containing the custom metric.
      properties:
        name:
          description: Custom metric name.
          type: string
        value:
          description: Custom metric numeric value.
          format: double
          type: number
      type: object
    IdMappingFile:
      description: File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.
      properties: {}
      type: object
    Report:
      description: A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.
      properties:
        files:
          description: Asynchronous report only. Contains a list of generated report files once the report has successfully completed.
          items:
            properties:
              byteCount:
                description: The size of this report file in bytes.
                format: int64
                type: string
              url:
                description: Use this url to download the report file.
                type: string
            type: object
          type: array
        id:
          description: Asynchronous report only. Id of the report.
          type: string
        isReportReady:
          description: Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.
          type: boolean
        kind:
          description: "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
          type: string
        request:
          $ref: "#/components/schemas/ReportRequest"
          description: The request that created the report. Optional fields not specified in the original request are filled with default values.
        rowCount:
          description: The number of report rows generated by the report, not including headers.
          format: int32
          type: integer
        rows:
          description: Synchronous report only. Generated report rows.
          items:
            $ref: "#/components/schemas/ReportRow"
          type: array
        statisticsCurrencyCode:
          description: The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.
          type: string
        statisticsTimeZone:
          description: If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.
          type: string
      type: object
    ReportApiColumnSpec:
      description: A request object used to create a DoubleClick Search report.
      properties:
        columnName:
          description: Name of a DoubleClick Search column to include in the report.
          type: string
        customDimensionName:
          description: Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.
          type: string
        customMetricName:
          description: Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.
          type: string
        endDate:
          description: Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.
          type: string
        groupByColumn:
          description: Synchronous report only. Set to `true` to group by this column. Defaults to `false`.
          type: boolean
        headerText:
          description: Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.
          type: string
        platformSource:
          description: The platform that is used to provide data for the custom dimension. Acceptable values are "floodlight".
          type: string
        productReportPerspective:
          description: 'Returns metrics only for a specific type of product activity. Accepted values are: - "`sold`": returns metrics only for products that were sold - "`advertised`": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold '
          type: string
        savedColumnName:
          description: Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.
          type: string
        startDate:
          description: Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.
          type: string
      type: object
    ReportRequest:
      description: A request object used to create a DoubleClick Search report.
      properties:
        columns:
          description: The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\ The maximum number of columns per request is 300.
          items:
            $ref: "#/components/schemas/ReportApiColumnSpec"
          type: array
        downloadFormat:
          description: Format that the report should be returned in. Currently `csv` or `tsv` is supported.
          type: string
        filters:
          description: A list of filters to be applied to the report.\ The maximum number of filters per request is 300.
          items:
            properties:
              column:
                $ref: "#/components/schemas/ReportApiColumnSpec"
                description: Column to perform the filter on. This can be a DoubleClick Search column or a saved column.
              operator:
                description: Operator to use in the filter. See the filter reference for a list of available operators.
                type: string
              values:
                description: A list of values to filter the column value against.\ The maximum number of filter values per request is 300.
                items: {}
                type: array
            type: object
          type: array
        includeDeletedEntities:
          description: Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.
          type: boolean
        includeRemovedEntities:
          description: Determines if removed entities should be included in the report. Defaults to `false`.
          type: boolean
        maxRowsPerFile:
          description: Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.
          format: int32
          type: integer
        orderBy:
          description: Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\ The maximum number of orderings per request is 300.
          items:
            properties:
              column:
                $ref: "#/components/schemas/ReportApiColumnSpec"
                description: Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.
              sortOrder:
                description: The sort direction, which is either `ascending` or `descending`.
                type: string
            type: object
          type: array
        reportScope:
          description: The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.
          properties:
            adGroupId:
              description: DS ad group ID.
              format: int64
              type: string
            adId:
              description: DS ad ID.
              format: int64
              type: string
            advertiserId:
              description: DS advertiser ID.
              format: int64
              type: string
            agencyId:
              description: DS agency ID.
              format: int64
              type: string
            campaignId:
              description: DS campaign ID.
              format: int64
              type: string
            engineAccountId:
              description: DS engine account ID.
              format: int64
              type: string
            keywordId:
              description: DS keyword ID.
              format: int64
              type: string
          type: object
        reportType:
          description: "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
          type: string
        rowCount:
          description: Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.
          format: int32
          type: integer
        startRow:
          description: Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.
          format: int32
          type: integer
        statisticsCurrency:
          description: "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
          type: string
        timeRange:
          description: If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.
          properties:
            changedAttributesSinceTimestamp:
              description: Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.
              type: string
            changedMetricsSinceTimestamp:
              description: Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.
              type: string
            endDate:
              description: Inclusive date in YYYY-MM-DD format.
              type: string
            startDate:
              description: Inclusive date in YYYY-MM-DD format.
              type: string
          type: object
        verifySingleTimeZone:
          description: If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.
          type: boolean
      type: object
    ReportRow:
      additionalProperties:
        description: Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.
      description: A row in a DoubleClick Search report.
      type: object
    SavedColumn:
      description: A saved column
      properties:
        kind:
          description: "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
          type: string
        savedColumnName:
          description: The name of the saved column.
          type: string
        type:
          description: The type of data this saved column will produce.
          type: string
      type: object
    SavedColumnList:
      description: A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.
      properties:
        items:
          description: The saved columns being requested.
          items:
            $ref: "#/components/schemas/SavedColumn"
          type: array
        kind:
          description: "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
          type: string
      type: object
    UpdateAvailabilityRequest:
      description: The request to update availability.
      properties:
        availabilities:
          description: The availabilities being requested.
          items:
            $ref: "#/components/schemas/Availability"
          type: array
      type: object
    UpdateAvailabilityResponse:
      description: The response to a update availability request.
      properties:
        availabilities:
          description: The availabilities being returned.
          items:
            $ref: "#/components/schemas/Availability"
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclicksearch: View and manage your advertising data in DoubleClick Search
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclicksearch: View and manage your advertising data in DoubleClick Search
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
