swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Use these REST APIs for performing operations on Product entity associated with your Azure API Management deployment. The Product entity represents a product in API Management. Products include one or more APIs and their associated terms of use. Once a product is published, developers can subscribe to the product and begin to use the product’s APIs.'
  title: ApiManagementClient
  version: '2018-01-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimproducts.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproducts
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ProductIdParameter:
    description: Product identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 80
    minLength: 1
    name: productId
    pattern: '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products':
    get:
      description: Lists a collection of products in the specified service instance.
      operationId: Product_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state       | eq                     |                                             |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: 'When set to true, the response contains an array of groups that have visibility to the product. The default is false.'
          in: query
          name: expandGroups
          required: false
          type: boolean
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: A Collection of the Product entities for the specified API Management service instance.
          schema:
            $ref: '#/definitions/ProductCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementListProducts:
          parameters:
            api-version: '2018-01-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmtemplateCert1
                    name: kjoshiarmtemplateCert1
                    properties:
                      description: Development Product
                      displayName: Dev
                      state: published
                      subscriptionRequired: false
                    type: Microsoft.ApiManagement/service/products
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter
                    name: starter
                    properties:
                      approvalRequired: false
                      description: Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.
                      displayName: Starter
                      state: published
                      subscriptionRequired: true
                      subscriptionsLimit: 1
                      terms: ''
                    type: Microsoft.ApiManagement/service/products
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                    name: unlimited
                    properties:
                      approvalRequired: true
                      description: Subscribers have completely unlimited access to the API. Administrator approval is required.
                      displayName: Unlimited
                      state: published
                      subscriptionRequired: true
                      subscriptionsLimit: 1
                    type: Microsoft.ApiManagement/service/products
      x-ms-odata: '#/definitions/ProductContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}':
    delete:
      description: Delete product.
      operationId: Product_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Delete existing subscriptions associated with the product or not.
          in: query
          name: deleteSubscriptions
          required: false
          type: boolean
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The product was successfully deleted.
        '204':
          description: The product was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementDeleteProduct:
          parameters:
            If-Match: '*'
            api-version: '2018-01-01'
            deleteSubscriptions: true
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets the details of the product specified by its identifier.
      operationId: Product_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/ProductContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementGetProduct:
          parameters:
            api-version: '2018-01-01'
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                name: unlimited
                properties:
                  approvalRequired: true
                  description: Subscribers have completely unlimited access to the API. Administrator approval is required.
                  displayName: Unlimited
                  state: published
                  subscriptionRequired: true
                  subscriptionsLimit: 1
                type: Microsoft.ApiManagement/service/products
    head:
      description: Gets the entity state (Etag) version of the product specified by its identifier.
      operationId: Product_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Specified Product entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementHeadProduct:
          parameters:
            api-version: '2018-01-01'
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Update product.
      operationId: Product_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProductUpdateParameters'
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: No Content in case of Update Successfull.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementUpdateProductBasic:
          parameters:
            If-Match: '*'
            api-version: '2018-01-01'
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    put:
      description: Creates or Updates a product.
      operationId: Product_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Create or update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProductContract'
        - description: 'ETag of the Entity. Not required when creating an entity, but required when updating an entity.'
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Product was successfully updated.
          schema:
            $ref: '#/definitions/ProductContract'
        '201':
          description: Product was successfully created.
          schema:
            $ref: '#/definitions/ProductContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - Products
      x-ms-examples:
        ApiManagementCreateProductBasic:
          parameters:
            api-version: '2018-01-01'
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis':
    get:
      description: Lists a collection of the APIs associated with a product.
      operationId: ProductApi_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: |
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The response body contains a collection of Api entities in the product.
          schema:
            description: Paged Api list representation.
            properties:
              nextLink:
                description: Next page link if any.
                readOnly: true
                type: string
              value:
                description: Page values.
                items:
                  $ref: '#/definitions/ApiContract'
                readOnly: true
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementListProductApis:
          parameters:
            api-version: '2018-01-01'
            productId: 5768181ea40f7eb6c49f6ac7
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7/apis/57681820a40f7eb6c49f6aca
                    name: 57681820a40f7eb6c49f6aca
                    properties:
                      apiRevision: '1'
                      description: description_57681820a40f7eb6c49f6acc
                      displayName: api_57681820a40f7eb6c49f6acb
                      isCurrent: true
                      path: suffix_57681820a40f7eb6c49f6ace
                      protocols:
                        - https
                      serviceUrl: 'http://contoso/57681820a40f7eb6c49f6acd'
                    type: Microsoft.ApiManagement/service/products/apis
      x-ms-odata: './apimapis.json#/definitions/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}':
    delete:
      description: Deletes the specified API from the specified product.
      operationId: ProductApi_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The API was successfully removed from the product.
        '204':
          description: The API was successfully removed from the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementDeleteProductApi:
          parameters:
            If-Match: '*'
            api-version: '2018-01-01'
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200': {}
            '204': {}
    head:
      description: Checks that API entity specified by identifier is associated with the Product entity.
      operationId: ProductApi_CheckEntityExists
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Entity exists
        '404':
          description: API is not associated with the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementHeadProductApi:
          parameters:
            api-version: '2018-01-01'
            apiId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
            '404': {}
    put:
      description: Adds an API to the specified product.
      operationId: ProductApi_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The specified API is already added to the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: API details.
            properties:
              properties:
                $ref: '#/definitions/ApiContractProperties'
                description: Api entity contract properties.
                x-ms-client-flatten: true
        '201':
          description: The API was successfully added to the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: API details.
            properties:
              properties:
                $ref: '#/definitions/ApiContractProperties'
                description: Api entity contract properties.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementCreateProductApi:
          parameters:
            api-version: '2018-01-01'
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: '1'
                  displayName: EchoApi
                  isCurrent: true
                  path: ''
                  protocols:
                    - http
                    - https
                  serviceUrl: 'https://contoso.com/apis/echo'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: '1'
                  displayName: EchoApi
                  isCurrent: true
                  path: ''
                  protocols:
                    - http
                    - https
                  serviceUrl: 'https://contoso.com/apis/echo'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups':
    get:
      description: Lists the collection of developer groups associated with the specified product.
      operationId: ProductGroup_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | type        | eq, ne                 | N/A                                         |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Lists a collection of Group entities.
          schema:
            description: Paged Group list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  $ref: '#/definitions/GroupContract'
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementListProductGroups:
          parameters:
            api-version: '2018-01-01'
            productId: 5600b57e7e8880006a060002
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020001
                    name: 5600b57e7e8880006a020001
                    properties:
                      builtIn: true
                      description: Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription administrators fall into this group.
                      displayName: Administrators
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020002
                    name: 5600b57e7e8880006a020002
                    properties:
                      builtIn: true
                      description: Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.
                      displayName: Developers
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020003
                    name: 5600b57e7e8880006a020003
                    properties:
                      builtIn: true
                      description: Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.
                      displayName: Guests
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
      x-ms-odata: './apimgroups.json#/definitions/GroupContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}':
    delete:
      description: Deletes the association between the specified group and product.
      operationId: ProductGroup_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The group was successfully disassociated with the product.
        '204':
          description: The group was successfully disassociated with the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementDeleteProductGroup:
          parameters:
            If-Match: '*'
            api-version: '2018-01-01'
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200': {}
            '204': {}
    head:
      description: Checks that Group entity specified by identifier is associated with the Product entity.
      operationId: ProductGroup_CheckEntityExists
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The Group is associated with the Product.
        '404':
          description: The Group entity is not associated with the Product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementHeadProductGroup:
          parameters:
            api-version: '2018-01-01'
            groupId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
            '404': {}
    put:
      description: Adds the association between the specified developer group with the specified product.
      operationId: ProductGroup_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The specified group is already associated with the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Contract details.
            properties:
              properties:
                $ref: '#/definitions/GroupContractProperties'
                description: Group entity contract properties.
                x-ms-client-flatten: true
        '201':
          description: The group was successfully associated with the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Contract details.
            properties:
              properties:
                $ref: '#/definitions/GroupContractProperties'
                description: Group entity contract properties.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementCreateProductGroup:
          parameters:
            api-version: '2018-01-01'
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies':
    get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: '#/parameters/ProductIdParameter'
      responses:
        '200':
          description: Product Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            description: The response of the list policy operation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Policy Contract value.
                items:
                  $ref: '#/definitions/PolicyContract'
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductPolicy
      x-ms-examples:
        ApiManagementListProductPolicy:
          parameters:
            api-version: '2018-01-01'
            productId: armTemplateProduct4
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/armTemplateProduct4/policies/policy
                    name: policy
                    properties:
                      policyContent: "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>"
                    type: Microsoft.ApiManagement/service/products/policies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies/{policyId}':
    delete:
      description: Deletes the policy configuration at the Product.
      operationId: ProductPolicy_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Successfully deleted the policy configuration at the Product level.
        '204':
          description: Successfully deleted the policy configuration at the Product level.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductPolicy
      x-ms-examples:
        ApiManagementDeleteProductPolicy:
          parameters:
            If-Match: '*'
            api-version: '2018-01-01'
            policyId: policy
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200': {}
            '204': {}
    get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: '#/parameters/ProductIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
      responses:
        '200':
          description: Product Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Policy Contract details.
            properties:
              properties:
                $ref: '#/definitions/PolicyContractProperties'
                description: Properties of the Policy.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductPolicy
      x-ms-examples:
        ApiManagementGetProductPolicy:
          parameters:
            api-version: '2018-01-01'
            policyId: policy
            productId: kjoshiarmTemplateProduct4
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmTemplateProduct4/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
    head:
      description: Get the ETag of the policy configuration at the Product level.
      operationId: ProductPolicy_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: '#/parameters/ProductIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
      responses:
        '200':
          description: Product Policy Etag information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductPolicy
      x-ms-examples:
        ApiManagementHeadProductPolicy:
          parameters:
            api-version: '2018-01-01'
            policyId: policy
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              headers:
                etag: AAAAAAAAAAa=
    put:
      description: Creates or updates policy configuration for the Product.
      operationId: ProductPolicy_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: 'ETag of the Entity. Not required when creating an entity, but required when updating an entity.'
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-location: method
        - description: The policy contents to apply.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Policy Contract details.
            properties:
              properties:
                $ref: '#/definitions/PolicyContractProperties'
                description: Properties of the Policy.
                x-ms-client-flatten: true
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Product policy configuration of the tenant was successfully updated.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Policy Contract details.
            properties:
              properties:
                $ref: '#/definitions/PolicyContractProperties'
                description: Properties of the Policy.
                x-ms-client-flatten: true
        '201':
          description: Product policy configuration was successfully created.
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Policy Contract details.
            properties:
              properties:
                $ref: '#/definitions/PolicyContractProperties'
                description: Properties of the Policy.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductPolicy
      x-ms-examples:
        ApiManagementCreateProductPolicy:
          parameters:
            api-version: '2018-01-01'
            parameters:
              properties:
                contentFormat: xml
                policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{call-count}}\" renewal-period=\"15\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
            policyId: policy
            productId: 5702e97e5157a50f48dce801
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/products/policies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/subscriptions':
    get:
      description: Lists the collection of subscriptions to the specified product.
      operationId: ProductSubscriptions_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ProductIdParameter'
        - description: |-
            | Field        | Supported operators    | Supported functions                         |
            |--------------|------------------------|---------------------------------------------|
            | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state        | eq                     |                                             |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Lists a collection of subscription entities.
          schema:
            description: Paged Subscriptions list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  $ref: '#/definitions/SubscriptionContract'
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                $ref: '#/definitions/ErrorResponseBody'
                description: Properties of the Error Response.
                x-ms-client-flatten: true
      tags:
        - ProductSubscriptions
      x-ms-examples:
        ApiManagementListProductSubscriptions:
          parameters:
            api-version: '2018-01-01'
            productId: 5600b57e7e8880006a060002
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/subscriptions/5600b57e7e8880006a070002
                    name: 5600b57e7e8880006a070002
                    properties:
                      createdDate: '2015-09-22T01:57:18.723Z'
                      primaryKey: ba95768e868648848e215f0290eec023
                      productId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002
                      secondaryKey: 140f866def81419b9bb9732d05d24535
                      state: active
                      userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                    type: Microsoft.ApiManagement/service/products/subscriptions
      x-ms-odata: './apimsubscriptions.json#/definitions/SubscriptionContract'
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ProductCollection:
    description: Paged Products list representation.
    properties:
      nextLink:
        description: Next page link if any.
        type: string
      value:
        description: Page values.
        items:
          $ref: '#/definitions/ProductContract'
        type: array
  ProductContract:
    allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Product details.
    properties:
      properties:
        $ref: '#/definitions/ProductContractProperties'
        description: Product entity contract properties.
        x-ms-client-flatten: true
  ProductContractProperties:
    allOf:
      - $ref: '#/definitions/ProductEntityBaseParameters'
    description: Product profile.
    properties:
      displayName:
        description: Product name.
        maxLength: 300
        minLength: 1
        type: string
    required:
      - displayName
  ProductEntityBaseParameters:
    description: Product Entity Base Parameters
    properties:
      approvalRequired:
        description: "whether subscription approval is required. If\_false, new subscriptions will be approved automatically enabling developers to call the product’s APIs immediately after subscribing. If\_true, administrators must manually approve the subscription before the developer can any of the product’s APIs. Can be present only if subscriptionRequired property is present and has a value of false."
        type: boolean
      description:
        description: Product description. May include HTML formatting tags.
        maxLength: 1000
        minLength: 1
        type: string
      state:
        description: whether product is published or not. Published products are discoverable by users of developer portal. Non published products are visible only to administrators. Default state of Product is notPublished.
        enum:
          - notPublished
          - published
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProductState
      subscriptionRequired:
        description: 'Whether a product subscription is required for accessing APIs included in this product. If true, the product is referred to as "protected" and a valid subscription key is required for a request to an API included in the product to succeed. If false, the product is referred to as "open" and requests to an API included in the product can be made without a subscription key. If property is omitted when creating a new product it''s value is assumed to be true.'
        type: boolean
      subscriptionsLimit:
        description: "Whether the number of subscriptions a user can have to this product at the same time. Set to\_null\_or omit to allow unlimited per user subscriptions. Can be present only if subscriptionRequired property is present and has a value of false."
        format: int32
        type: integer
      terms:
        description: Product terms of use. Developers trying to subscribe to the product will be presented and required to accept these terms before they can complete the subscription process.
        type: string
  ProductUpdateParameters:
    description: Product Update parameters.
    properties:
      properties:
        $ref: '#/definitions/ProductUpdateProperties'
        description: Product entity Update contract properties.
        x-ms-client-flatten: true
  ProductUpdateProperties:
    allOf:
      - $ref: '#/definitions/ProductEntityBaseParameters'
    description: Parameters supplied to the Update Product operation.
    properties:
      displayName:
        description: Product name.
        maxLength: 300
        minLength: 1
        type: string
