{
  "swagger": "2.0",
  "info": {
    "title": "Google Cloud Logging API",
    "x-serviceName": "logging",
    "description": "Google Cloud Logging API lets you create logs, ingest log entries, and manage log sinks.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1beta3",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/logging/v1beta3/rest"
    }
  },
  "host": "logging.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1beta3/projects/{projectsId}/logs": {
      "get": {
        "description": "Lists log resources belonging to the specified project.",
        "operationId": "logging.projects.logs.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListLogsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `projectName`. The project name for which to list the log resources.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "query",
            "description": "A service name for which to list logs. Only logs containing entries whose metadata includes this service name are returned. If `serviceName` and `serviceIndexPrefix` are both empty, then all log names are returned. To list all log names, regardless of service, leave both the `serviceName` and `serviceIndexPrefix` empty. To list log names containing entries with a particular service name (or explicitly empty service name) set `serviceName` to the desired value and `serviceIndexPrefix` to `\"/\"`.",
            "type": "string"
          },
          {
            "name": "serviceIndexPrefix",
            "in": "query",
            "description": "A log service index prefix for which to list logs. Only logs containing entries whose metadata that includes these label values (associated with index keys) are returned. The prefix is a slash separated list of values, and need not specify all index labels. An empty index (or a single slash) matches all log service indexes.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogs` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogs` operation is continued.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logs/{logsId}": {
      "delete": {
        "description": "Deletes the specified log resource and all log entries contained in it.",
        "operationId": "logging.projects.logs.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `logName`. The log resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `logName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logs/{logsId}/entries:write": {
      "post": {
        "description": "Creates one or more log entries in a log. You must supply a list of `LogEntry` objects, named `entries`. Each `LogEntry` object must contain a payload object and a `LogEntryMetadata` object that describes the entry. You must fill in all the fields of the entry, metadata, and payload. You can also supply a map, `commonLabels`, that supplies default (key, value) data for the `entries[].metadata.labels` maps, saving you the trouble of creating identical copies for each entry.",
        "operationId": "logging.projects.logs.entries.write",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/WriteLogEntriesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `logName`. The name of the log resource into which to insert the log entries.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `logName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logs/{logsId}/sinks": {
      "get": {
        "description": "Lists log sinks associated with the specified log.",
        "operationId": "logging.projects.logs.sinks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListLogSinksResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `logName`. The log for which to list sinks.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `logName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "post": {
        "description": "Creates the specified log sink resource.",
        "operationId": "logging.projects.logs.sinks.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `logName`. The log in which to create a sink resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `logName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logs/{logsId}/sinks/{sinksId}": {
      "get": {
        "description": "Gets the specified log sink resource.",
        "operationId": "logging.projects.logs.sinks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "put": {
        "description": "Creates or updates the specified log sink resource.",
        "operationId": "logging.projects.logs.sinks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "delete": {
        "description": "Deletes the specified log sink resource.",
        "operationId": "logging.projects.logs.sinks.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logsId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logServices": {
      "get": {
        "description": "Lists log services associated with log entries ingested for a project.",
        "operationId": "logging.projects.logServices.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListLogServicesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `projectName`. The project resource whose services are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "log",
            "in": "query",
            "description": "The name of the log resource whose services are to be listed. log for which to list services. When empty, all services are listed.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of `LogService` objects to return in one operation.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogServices` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogServices` operation is continued.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logServices/{logServicesId}/indexes": {
      "get": {
        "description": "Lists log service indexes associated with a log service.",
        "operationId": "logging.projects.logServices.indexes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListLogServiceIndexesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `serviceName`. A log service resource of the form `/projects/*/logServices/*`. The service indexes of the log service are returned. Example: `\"/projects/myProj/logServices/appengine.googleapis.com\"`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `serviceName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "indexPrefix",
            "in": "query",
            "description": "Restricts the indexes returned to be those with a specified prefix. The prefix has the form `\"/label_value/label_value/...\"`, in order corresponding to the [`LogService indexKeys`][google.logging.v1.LogService.index_keys]. Non-empty prefixes must begin with `/` . Example prefixes: + `\"/myModule/\"` retrieves App Engine versions associated with `myModule`. The trailing slash terminates the value. + `\"/myModule\"` retrieves App Engine modules with names beginning with `myModule`. + `\"\"` retrieves all indexes.",
            "type": "string"
          },
          {
            "name": "depth",
            "in": "query",
            "description": "A limit to the number of levels of the index hierarchy that are expanded. If `depth` is 0, it defaults to the level specified by the prefix field (the number of slash separators). The default empty prefix implies a `depth` of 1. It is an error for `depth` to be any non-zero value less than the number of components in `indexPrefix`.",
            "type": "integer"
          },
          {
            "name": "log",
            "in": "query",
            "description": "A log resource like `/projects/project_id/logs/log_name`, identifying the log for which to list service indexes.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of log service index resources to return in one operation.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "An opaque token, returned as `nextPageToken` by a prior `ListLogServiceIndexes` operation. If `pageToken` is supplied, then the other fields of this request are ignored, and instead the previous `ListLogServiceIndexes` operation is continued.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks": {
      "get": {
        "description": "Lists log service sinks associated with the specified service.",
        "operationId": "logging.projects.logServices.sinks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListLogServiceSinksResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `serviceName`. The name of the service for which to list sinks.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `serviceName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "post": {
        "description": "Creates the specified log service sink resource.",
        "operationId": "logging.projects.logServices.sinks.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `serviceName`. The name of the service in which to create a sink.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `serviceName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    },
    "/v1beta3/projects/{projectsId}/logServices/{logServicesId}/sinks/{sinksId}": {
      "get": {
        "description": "Gets the specified log service sink resource.",
        "operationId": "logging.projects.logServices.sinks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "put": {
        "description": "Creates or update the specified log service sink resource.",
        "operationId": "logging.projects.logServices.sinks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LogSink"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "delete": {
        "description": "Deletes the specified log service sink.",
        "operationId": "logging.projects.logServices.sinks.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "parameters": [
          {
            "name": "projectsId",
            "in": "path",
            "description": "Part of `sinkName`. The name of the sink to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "logServicesId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sinksId",
            "in": "path",
            "description": "Part of `sinkName`. See documentation of `projectsId`.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/access_token"
        },
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/bearer_token"
        },
        {
          "$ref": "#/parameters/callback"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/pp"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/$.xgafv"
        }
      ]
    }
  },
  "definitions": {
    "ListLogsResponse": {
      "type": "object",
      "description": "Result returned from ListLogs.",
      "properties": {
        "logs": {
          "type": "array",
          "description": "A list of log resources.",
          "items": {
            "$ref": "#/definitions/Log"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of logs, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogs`. If `nextPageToken` is empty, then there are no more results."
        }
      }
    },
    "Log": {
      "type": "object",
      "description": "A log object.",
      "properties": {
        "name": {
          "type": "string",
          "description": "REQUIRED: The log's name name. Example: `\"compute.googleapis.com/activity_log\"`."
        },
        "displayName": {
          "type": "string",
          "description": "Name used when displaying the log to the user (for example, in a UI). Example: `\"activity_log\"`"
        },
        "payloadType": {
          "type": "string",
          "description": "Type URL describing the expected payload type for the log."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "WriteLogEntriesRequest": {
      "type": "object",
      "description": "The parameters to WriteLogEntries.",
      "properties": {
        "commonLabels": {
          "type": "object",
          "description": "Metadata labels that apply to all entries in this request. If one of the log entries contains a (key, value) with the same key that is in `commonLabels`, then the entry's (key, value) overrides the one in `commonLabels`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entries": {
          "type": "array",
          "description": "Log entries to insert.",
          "items": {
            "$ref": "#/definitions/LogEntry"
          }
        }
      }
    },
    "LogEntry": {
      "type": "object",
      "description": "An individual entry in a log.",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/LogEntryMetadata",
          "description": "Information about the log entry."
        },
        "protoPayload": {
          "type": "object",
          "description": "The log entry payload, represented as a protocol buffer that is expressed as a JSON object. You can only pass `protoPayload` values that belong to a set of approved types.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @ype with type URL."
          }
        },
        "textPayload": {
          "type": "string",
          "description": "The log entry payload, represented as a text string."
        },
        "structPayload": {
          "type": "object",
          "description": "The log entry payload, represented as a structure that is expressed as a JSON object.",
          "additionalProperties": {
            "description": "Properties of the object."
          }
        },
        "insertId": {
          "type": "string",
          "description": "A unique ID for the log entry. If you provide this field, the logging service considers other log entries in the same log with the same ID as duplicates which can be removed."
        },
        "log": {
          "type": "string",
          "description": "The log to which this entry belongs. When a log entry is ingested, the value of this field is set by the logging system."
        }
      }
    },
    "LogEntryMetadata": {
      "type": "object",
      "description": "Additional data that is associated with a log entry, set by the service creating the log entry.",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The time the event described by the log entry occurred. Timestamps must be later than January 1, 1970."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the log entry.",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        },
        "projectId": {
          "type": "string",
          "description": "The project ID of the Google Cloud Platform service that created the log entry."
        },
        "serviceName": {
          "type": "string",
          "description": "The API name of the Google Cloud Platform service that created the log entry. For example, `\"compute.googleapis.com\"`."
        },
        "region": {
          "type": "string",
          "description": "The region name of the Google Cloud Platform service that created the log entry. For example, `\"us-central1\"`."
        },
        "zone": {
          "type": "string",
          "description": "The zone of the Google Cloud Platform service that created the log entry. For example, `\"us-central1-a\"`."
        },
        "userId": {
          "type": "string",
          "description": "The fully-qualified email address of the authenticated user that performed or requested the action represented by the log entry. If the log entry does not apply to an action taken by an authenticated user, then the field should be empty."
        },
        "labels": {
          "type": "object",
          "description": "A set of (key, value) data that provides additional information about the log entry. If the log entry is from one of the Google Cloud Platform sources listed below, the indicated (key, value) information must be provided: Google App Engine, service_name `appengine.googleapis.com`: \"appengine.googleapis.com/module_id\",  \"appengine.googleapis.com/version_id\",  and one of: \"appengine.googleapis.com/replica_index\",  \"appengine.googleapis.com/clone_id\",  or else provide the following Compute Engine labels: Google Compute Engine, service_name `compute.googleapis.com`: \"compute.googleapis.com/resource_type\", \"instance\" \"compute.googleapis.com/resource_id\",",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WriteLogEntriesResponse": {
      "type": "object",
      "description": "Result returned from WriteLogEntries. empty"
    },
    "ListLogServicesResponse": {
      "type": "object",
      "description": "Result returned from `ListLogServicesRequest`.",
      "properties": {
        "logServices": {
          "type": "array",
          "description": "A list of log services.",
          "items": {
            "$ref": "#/definitions/LogService"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of services, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogServices`. If `nextPageToken` is empty, then there are no more results."
        }
      }
    },
    "LogService": {
      "type": "object",
      "description": "A log service object.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The service's name."
        },
        "indexKeys": {
          "type": "array",
          "description": "Label keys used when labeling log entries for this service. The order of the keys is significant, with higher priority keys coming earlier in the list.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLogServiceIndexesResponse": {
      "type": "object",
      "description": "Result returned from ListLogServiceIndexesRequest.",
      "properties": {
        "serviceIndexPrefixes": {
          "type": "array",
          "description": "A list of log service index prefixes.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, then `nextPageToken` is returned in the response. To get the next batch of indexes, use the value of `nextPageToken` as `pageToken` in the next call of `ListLogServiceIndexess`. If `nextPageToken` is empty, then there are no more results."
        }
      }
    },
    "ListLogSinksResponse": {
      "type": "object",
      "description": "Result returned from `ListLogSinks`.",
      "properties": {
        "sinks": {
          "type": "array",
          "description": "The requested log sinks. If any of the returned `LogSink` objects have an empty `destination` field, then call `logServices.sinks.get` to retrieve the complete `LogSink` object.",
          "items": {
            "$ref": "#/definitions/LogSink"
          }
        }
      }
    },
    "LogSink": {
      "type": "object",
      "description": "An object that describes where a log may be written.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this sink. This is a client-assigned identifier for the resource. This is ignored by UpdateLogSink and UpdateLogServicesSink."
        },
        "destination": {
          "type": "string",
          "description": "The resource to send log entries to. The supported sink resource types are: + Google Cloud Storage: `storage.googleapis.com/BUCKET` or `BUCKET.storage.googleapis.com/` + Google BigQuery: `bigquery.googleapis.com/projects/PROJECT/datasets/DATASET` Currently the Cloud Logging API supports at most one sink for each resource type per log or log service resource."
        },
        "errors": {
          "type": "array",
          "description": "_Output only._ All active errors found for this sink.",
          "items": {
            "$ref": "#/definitions/LogError"
          }
        }
      }
    },
    "LogError": {
      "type": "object",
      "description": "A problem in a sink or the sink's configuration.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "The resource associated with the error. It may be different from the sink destination. For example, the sink may point to a BigQuery dataset, but the error may refer to a table resource inside the dataset."
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The description of the last error observed."
        },
        "timeNanos": {
          "type": "string",
          "description": "The last time the error was observed, in nanoseconds since the Unix epoch.",
          "format": "int64"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "Represents the RPC error status for Google APIs. See http://go/errormodel for details.",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of [google.rpc.Code][].",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. The user-facing error message should be localized and stored in the [google.rpc.Status.details][google.rpc.Status.details] field."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @ype with type URL."
            }
          }
        }
      }
    },
    "ListLogServiceSinksResponse": {
      "type": "object",
      "description": "Result returned from `ListLogServiceSinks`.",
      "properties": {
        "sinks": {
          "type": "array",
          "description": "The requested log service sinks. If any of the returned `LogSink` objects have an empty `destination` field, then call `logServices.sinks.get` to retrieve the complete `LogSink` object.",
          "items": {
            "$ref": "#/definitions/LogSink"
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "name": "access_token",
      "in": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "bearer_token": {
      "name": "bearer_token",
      "in": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "callback": {
      "name": "callback",
      "in": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "pp": {
      "name": "pp",
      "in": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "name": "$.xgafv",
      "in": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"
      }
    }
  }
}