swagger: '2.0'
schemes:
  - https
  - http
host: machinelearning.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Definition of the public APIs exposed by Amazon Machine Learning
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Machine Learning
  version: '2014-12-12'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/machinelearning-2014-12-12.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: machinelearning
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/machinelearning/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonML_20141212.AddTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds one or more tags to an object, up to a limit of 10. Each tag consists of a key and an optional value. If you add a tag using a key that is already associated with the ML object, <code>AddTags</code> updates the tag''s value.'
      operationId: AddTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsInput'
        - enum:
            - AmazonML_20141212.AddTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
          x-aws-exception: true
        '481':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateBatchPrediction':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code>, and uses an <code>MLModel</code> and the data files referenced by the <code>DataSource</code> as information sources. </p> <p><code>CreateBatchPrediction</code> is an asynchronous operation. In response to <code>CreateBatchPrediction</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>BatchPrediction</code> status to <code>PENDING</code>. After the <code>BatchPrediction</code> completes, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <code>Status</code> parameter of the result. After the <code>COMPLETED</code> status appears, the results are available in the location specified by the <code>OutputUri</code> parameter.</p>'
      operationId: CreateBatchPrediction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateBatchPredictionInput'
        - enum:
            - AmazonML_20141212.CreateBatchPrediction
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBatchPredictionOutput'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateDataSourceFromRDS':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>DataSource</code> object from an <a href="http://aws.amazon.com/rds/"> Amazon Relational Database Service</a> (Amazon RDS). A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRDS</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRDS</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used only to perform <code>&gt;CreateMLModel</code>&gt;, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML cannot accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p>'
      operationId: CreateDataSourceFromRDS
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDataSourceFromRDSInput'
        - enum:
            - AmazonML_20141212.CreateDataSourceFromRDS
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSourceFromRDSOutput'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateDataSourceFromRedshift':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>DataSource</code> from a database hosted on an Amazon Redshift cluster. A <code>DataSource</code> references data that can be used to perform either <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromRedshift</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRedshift</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in <code>COMPLETED</code> or <code>PENDING</code> states can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can''t accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observations should be contained in the database hosted on an Amazon Redshift cluster and should be specified by a <code>SelectSqlQuery</code> query. Amazon ML executes an <code>Unload</code> command in Amazon Redshift to transfer the result set of the <code>SelectSqlQuery</code> query to <code>S3StagingLocation</code>.</p> <p>After the <code>DataSource</code> has been created, it''s ready for use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also requires a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p> <?oxy_insert_start author="laurama" timestamp="20160406T153842-0700"><p>You can''t change an existing datasource, but you can copy and modify the settings from an existing Amazon Redshift datasource to create a new datasource. To do so, call <code>GetDataSource</code> for an existing datasource and copy the values to a <code>CreateDataSource</code> call. Change the settings that you want to change and make sure that all required fields have the appropriate values.</p> <?oxy_insert_end>'
      operationId: CreateDataSourceFromRedshift
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDataSourceFromRedshiftInput'
        - enum:
            - AmazonML_20141212.CreateDataSourceFromRedshift
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSourceFromRedshiftOutput'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateDataSourceFromS3':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p> <p><code>CreateDataSourceFromS3</code> is an asynchronous operation. In response to <code>CreateDataSourceFromS3</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the <code>DataSource</code> has been created and is ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can be used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code> or <code>CreateBatchPrediction</code> operations. </p> <p> If Amazon ML can''t accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response. </p> <p>The observation data used in a <code>DataSource</code> should be ready to use; that is, it should have a consistent structure, and missing data values should be kept to a minimum. The observation data must reside in one or more .csv files in an Amazon Simple Storage Service (Amazon S3) location, along with a schema that describes the data items by name and type. The same schema must be used for all of the data files referenced by the <code>DataSource</code>. </p> <p>After the <code>DataSource</code> has been created, it''s ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train an <code>MLModel</code>, the <code>DataSource</code> also needs a recipe. A recipe describes how each input variable will be used in training an <code>MLModel</code>. Will the variable be included or excluded from training? Will the variable be manipulated; for example, will it be combined with another variable or will it be split apart into word combinations? The recipe provides answers to these questions.</p>'
      operationId: CreateDataSourceFromS3
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDataSourceFromS3Input'
        - enum:
            - AmazonML_20141212.CreateDataSourceFromS3
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSourceFromS3Output'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateEvaluation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new <code>Evaluation</code> of an <code>MLModel</code>. An <code>MLModel</code> is evaluated on a set of observations associated to a <code>DataSource</code>. Like a <code>DataSource</code> for an <code>MLModel</code>, the <code>DataSource</code> for an <code>Evaluation</code> contains values for the <code>Target Variable</code>. The <code>Evaluation</code> compares the predicted result for each observation to the actual outcome and provides a summary so that you know how effective the <code>MLModel</code> functions on the test data. Evaluation generates a relevant performance metric, such as BinaryAUC, RegressionRMSE or MulticlassAvgFScore based on the corresponding <code>MLModelType</code>: <code>BINARY</code>, <code>REGRESSION</code> or <code>MULTICLASS</code>. </p> <p><code>CreateEvaluation</code> is an asynchronous operation. In response to <code>CreateEvaluation</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the evaluation status to <code>PENDING</code>. After the <code>Evaluation</code> is created and ready for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetEvaluation</code> operation to check progress of the evaluation during the creation operation.</p>'
      operationId: CreateEvaluation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateEvaluationInput'
        - enum:
            - AmazonML_20141212.CreateEvaluation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEvaluationOutput'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateMLModel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new <code>MLModel</code> using the <code>DataSource</code> and the recipe as information sources. </p> <p>An <code>MLModel</code> is nearly immutable. Users can update only the <code>MLModelName</code> and the <code>ScoreThreshold</code> in an <code>MLModel</code> without creating a new <code>MLModel</code>. </p> <p><code>CreateMLModel</code> is an asynchronous operation. In response to <code>CreateMLModel</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>MLModel</code> status to <code>PENDING</code>. After the <code>MLModel</code> has been created and ready is for use, Amazon ML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <code>GetMLModel</code> operation to check the progress of the <code>MLModel</code> during the creation operation.</p> <p> <code>CreateMLModel</code> requires a <code>DataSource</code> with computed statistics, which can be created by setting <code>ComputeStatistics</code> to <code>true</code> in <code>CreateDataSourceFromRDS</code>, <code>CreateDataSourceFromS3</code>, or <code>CreateDataSourceFromRedshift</code> operations. </p>'
      operationId: CreateMLModel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateMLModelInput'
        - enum:
            - AmazonML_20141212.CreateMLModel
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMLModelOutput'
        '400':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.CreateRealtimeEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a real-time endpoint for the <code>MLModel</code>. The endpoint contains the URI of the <code>MLModel</code>; that is, the location to send real-time prediction requests for the specified <code>MLModel</code>.'
      operationId: CreateRealtimeEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRealtimeEndpointInput'
        - enum:
            - AmazonML_20141212.CreateRealtimeEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRealtimeEndpointOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteBatchPrediction':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns the DELETED status to a <code>BatchPrediction</code>, rendering it unusable.</p> <p>After using the <code>DeleteBatchPrediction</code> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <code>BatchPrediction</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteBatchPrediction</code> operation is irreversible.</p>'
      operationId: DeleteBatchPrediction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBatchPredictionInput'
        - enum:
            - AmazonML_20141212.DeleteBatchPrediction
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBatchPredictionOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns the DELETED status to a <code>DataSource</code>, rendering it unusable.</p> <p>After using the <code>DeleteDataSource</code> operation, you can use the <a>GetDataSource</a> operation to verify that the status of the <code>DataSource</code> changed to DELETED.</p> <p><b>Caution:</b> The results of the <code>DeleteDataSource</code> operation are irreversible.</p>'
      operationId: DeleteDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDataSourceInput'
        - enum:
            - AmazonML_20141212.DeleteDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDataSourceOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteEvaluation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns the <code>DELETED</code> status to an <code>Evaluation</code>, rendering it unusable.</p> <p>After invoking the <code>DeleteEvaluation</code> operation, you can use the <code>GetEvaluation</code> operation to verify that the status of the <code>Evaluation</code> changed to <code>DELETED</code>.</p> <caution><title>Caution</title> <p>The results of the <code>DeleteEvaluation</code> operation are irreversible.</p></caution>'
      operationId: DeleteEvaluation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEvaluationInput'
        - enum:
            - AmazonML_20141212.DeleteEvaluation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEvaluationOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteMLModel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns the <code>DELETED</code> status to an <code>MLModel</code>, rendering it unusable.</p> <p>After using the <code>DeleteMLModel</code> operation, you can use the <code>GetMLModel</code> operation to verify that the status of the <code>MLModel</code> changed to DELETED.</p> <p><b>Caution:</b> The result of the <code>DeleteMLModel</code> operation is irreversible.</p>'
      operationId: DeleteMLModel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteMLModelInput'
        - enum:
            - AmazonML_20141212.DeleteMLModel
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMLModelOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteRealtimeEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a real time endpoint of an <code>MLModel</code>.
      operationId: DeleteRealtimeEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRealtimeEndpointInput'
        - enum:
            - AmazonML_20141212.DeleteRealtimeEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRealtimeEndpointOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DeleteTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified tags associated with an ML object. After this operation is complete, you can''t recover deleted tags.</p> <p>If you specify a tag that doesn''t exist, Amazon ML ignores it.</p>'
      operationId: DeleteTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsInput'
        - enum:
            - AmazonML_20141212.DeleteTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTagsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DescribeBatchPredictions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of <code>BatchPrediction</code> operations that match the search criteria in the request.
      operationId: DescribeBatchPredictions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBatchPredictionsInput'
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonML_20141212.DescribeBatchPredictions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBatchPredictionsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DescribeDataSources':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of <code>DataSource</code> that match the search criteria in the request.
      operationId: DescribeDataSources
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDataSourcesInput'
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonML_20141212.DescribeDataSources
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDataSourcesOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DescribeEvaluations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of <code>DescribeEvaluations</code> that match the search criteria in the request.
      operationId: DescribeEvaluations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEvaluationsInput'
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonML_20141212.DescribeEvaluations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEvaluationsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DescribeMLModels':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of <code>MLModel</code> that match the search criteria in the request.
      operationId: DescribeMLModels
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMLModelsInput'
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonML_20141212.DescribeMLModels
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMLModelsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.DescribeTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes one or more of the tags for your Amazon ML object.
      operationId: DescribeTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsInput'
        - enum:
            - AmazonML_20141212.DescribeTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.GetBatchPrediction':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a <code>BatchPrediction</code> that includes detailed metadata, status, and data file information for a <code>Batch Prediction</code> request.'
      operationId: GetBatchPrediction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetBatchPredictionInput'
        - enum:
            - AmazonML_20141212.GetBatchPrediction
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBatchPredictionOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.GetDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a <code>DataSource</code> that includes metadata and data file information, as well as the current status of the <code>DataSource</code>.</p> <p><code>GetDataSource</code> provides results in normal or verbose format. The verbose format adds the schema description and the list of files pointed to by the DataSource to the normal format.</p>'
      operationId: GetDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDataSourceInput'
        - enum:
            - AmazonML_20141212.GetDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDataSourceOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.GetEvaluation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns an <code>Evaluation</code> that includes metadata as well as the current status of the <code>Evaluation</code>.
      operationId: GetEvaluation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetEvaluationInput'
        - enum:
            - AmazonML_20141212.GetEvaluation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEvaluationOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.GetMLModel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns an <code>MLModel</code> that includes detailed metadata, data source information, and the current status of the <code>MLModel</code>.</p> <p><code>GetMLModel</code> provides results in normal or verbose format. </p>'
      operationId: GetMLModel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetMLModelInput'
        - enum:
            - AmazonML_20141212.GetMLModel
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMLModelOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.Predict':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Generates a prediction for the observation using the specified <code>ML Model</code>.</p> <note><title>Note</title> <p>Not all response parameters will be populated. Whether a response parameter is populated depends on the type of model requested.</p></note>
      operationId: Predict
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PredictInput'
        - enum:
            - AmazonML_20141212.Predict
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PredictOutput'
        '400':
          description: PredictorNotMountedException
          schema:
            $ref: '#/definitions/PredictorNotMountedException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '417':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.UpdateBatchPrediction':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the <code>BatchPredictionName</code> of a <code>BatchPrediction</code>.</p> <p>You can use the <code>GetBatchPrediction</code> operation to view the contents of the updated data element.</p>
      operationId: UpdateBatchPrediction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateBatchPredictionInput'
        - enum:
            - AmazonML_20141212.UpdateBatchPrediction
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBatchPredictionOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.UpdateDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the <code>DataSourceName</code> of a <code>DataSource</code>.</p> <p>You can use the <code>GetDataSource</code> operation to view the contents of the updated data element.</p>
      operationId: UpdateDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDataSourceInput'
        - enum:
            - AmazonML_20141212.UpdateDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataSourceOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.UpdateEvaluation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the <code>EvaluationName</code> of an <code>Evaluation</code>.</p> <p>You can use the <code>GetEvaluation</code> operation to view the contents of the updated data element.</p>
      operationId: UpdateEvaluation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateEvaluationInput'
        - enum:
            - AmazonML_20141212.UpdateEvaluation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateEvaluationOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
  '/#X-Amz-Target=AmazonML_20141212.UpdateMLModel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the <code>MLModelName</code> and the <code>ScoreThreshold</code> of an <code>MLModel</code>.</p> <p>You can use the <code>GetMLModel</code> operation to view the contents of the updated data element.</p>
      operationId: UpdateMLModel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateMLModelInput'
        - enum:
            - AmazonML_20141212.UpdateMLModel
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateMLModelOutput'
        '400':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
          x-aws-exception: true
        '404':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '500':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
          x-aws-exception: true
definitions:
  AddTagsInput:
    properties:
      ResourceId:
        $ref: '#/definitions/EntityId'
        description: 'The ID of the ML object to tag. For example, <code>exampleModelId</code>.'
      ResourceType:
        $ref: '#/definitions/TaggableResourceType'
        description: 'The type of the ML object to tag. '
      Tags:
        $ref: '#/definitions/TagList'
        description: 'The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.'
    required:
      - Tags
      - ResourceId
      - ResourceType
    type: object
  AddTagsOutput:
    description: 'Amazon ML returns the following elements. '
    properties:
      ResourceId:
        $ref: '#/definitions/EntityId'
        description: The ID of the ML object that was tagged.
      ResourceType:
        $ref: '#/definitions/TaggableResourceType'
        description: The type of the ML object that was tagged.
    type: object
  Algorithm:
    description: '<p>The function used to train an <code>MLModel</code>. Training choices supported by Amazon ML include the following:</p> <ul> <li> <code>SGD</code> - Stochastic Gradient Descent.</li> <li> <code>RandomForest</code> - Random forest of decision trees.</li> </ul>'
    enum:
      - sgd
    type: string
  AwsUserArn:
    description: An Amazon Web Service (AWS) user account identifier. The account identifier can be an AWS root account or an AWS Identity and Access Management (IAM) user.
    pattern: 'arn:aws:iam::[0-9]+:((user/.+)|(root))'
    type: string
  BatchPrediction:
    description: '<p> Represents the output of a <code>GetBatchPrediction</code> operation.</p> <p> The content consists of the detailed metadata, the status, and the data file information of a <code>Batch Prediction</code>.</p>'
    properties:
      BatchPredictionDataSourceId:
        $ref: '#/definitions/EntityId'
        description: The ID of the <code>DataSource</code> that points to the group of observations to predict.
      BatchPredictionId:
        $ref: '#/definitions/EntityId'
        description: 'The ID assigned to the <code>BatchPrediction</code> at creation. This value should be identical to the value of the <code>BatchPredictionID</code> in the request. '
      ComputeTime:
        $ref: '#/definitions/LongType'
      CreatedAt:
        $ref: '#/definitions/EpochTime'
        description: The time that the <code>BatchPrediction</code> was created. The time is expressed in epoch time.
      CreatedByIamUser:
        $ref: '#/definitions/AwsUserArn'
        description: The AWS user account that invoked the <code>BatchPrediction</code>. The account type can be either an AWS root account or an AWS Identity and Access Management (IAM) user account.
      FinishedAt:
        $ref: '#/definitions/EpochTime'
      InputDataLocationS3:
        $ref: '#/definitions/S3Url'
        description: The location of the data file or directory in Amazon Simple Storage Service (Amazon S3).
      InvalidRecordCount:
        $ref: '#/definitions/LongType'
      LastUpdatedAt:
        $ref: '#/definitions/EpochTime'
        description: The time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed in epoch time.
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: The ID of the <code>MLModel</code> that generated predictions for the <code>BatchPrediction</code> request.
      Message:
        $ref: '#/definitions/Message'
        description: A description of the most recent details about processing the batch prediction request.
      Name:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>BatchPrediction</code>.
      OutputUri:
        $ref: '#/definitions/S3Url'
        description: 'The location of an Amazon S3 bucket or directory to receive the operation results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: '':'', ''//'', ''/./'', ''/../''.'
      StartedAt:
        $ref: '#/definitions/EpochTime'
      Status:
        $ref: '#/definitions/EntityStatus'
        description: '<p>The status of the <code>BatchPrediction</code>. This element can have one of the following values:</p> <ul> <li> <code>PENDING</code> - Amazon Machine Learning (Amazon ML) submitted a request to generate predictions for a batch of observations.</li> <li> <code>INPROGRESS</code> - The process is underway.</li> <li> <code>FAILED</code> - The request to perform a batch prediction did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code> - The batch prediction process completed successfully.</li> <li> <code>DELETED</code> - The <code>BatchPrediction</code> is marked as deleted. It is not usable.</li> </ul>'
      TotalRecordCount:
        $ref: '#/definitions/LongType'
    type: object
  BatchPredictionFilterVariable:
    description: <p>A list of the variables to use in searching or filtering <code>BatchPrediction</code>.</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>BatchPrediction</code> creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>BatchPrediction</code> status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>BatchPrediction</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code> creation.</li> <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataSourceId</code> - Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataURI</code> - Sets the search criteria to the data file(s) used in the <code>BatchPrediction</code>. The URL can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> </ul>
    enum:
      - CreatedAt
      - LastUpdatedAt
      - Status
      - Name
      - IAMUser
      - MLModelId
      - DataSourceId
      - DataURI
    type: string
  BatchPredictions:
    items:
      $ref: '#/definitions/BatchPrediction'
    type: array
  ComparatorValue:
    description: The value specified in a filtering condition. The <code>ComparatorValue</code> becomes the reference value when matching or evaluating data values in filtering and searching functions.
    maxLength: 1024
    pattern: .*\S.*|^$
    type: string
  ComputeStatistics:
    type: boolean
  CreateBatchPredictionInput:
    properties:
      BatchPredictionDataSourceId:
        $ref: '#/definitions/EntityId'
        description: The ID of the <code>DataSource</code> that points to the group of observations to predict.
      BatchPredictionId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.
      BatchPredictionName:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>BatchPrediction</code>. <code>BatchPredictionName</code> can only use the UTF-8 character set.
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: 'The ID of the <code>MLModel</code> that will generate predictions for the group of observations. '
      OutputUri:
        $ref: '#/definitions/S3Url'
        description: '<p>The location of an Amazon Simple Storage Service (Amazon S3) bucket or directory to store the batch prediction results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: '':'', ''//'', ''/./'', ''/../''.</p> <p>Amazon ML needs permissions to store and retrieve the logs on your behalf. For information about how to set permissions, see the <a href="http://docs.aws.amazon.com/machine-learning/latest/dg">Amazon Machine Learning Developer Guide</a>.</p>'
    required:
      - BatchPredictionId
      - MLModelId
      - BatchPredictionDataSourceId
      - OutputUri
    type: object
  CreateBatchPredictionOutput:
    description: '<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code> operation and checking the <code>Status</code> parameter of the result. </p>'
    properties:
      BatchPredictionId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This value is identical to the value of the <code>BatchPredictionId</code> in the request.
    type: object
  CreateDataSourceFromRDSInput:
    properties:
      ComputeStatistics:
        $ref: '#/definitions/ComputeStatistics'
        description: 'The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training. This parameter must be set to <code>true</code> if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training. '
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied ID that uniquely identifies the <code>DataSource</code>. Typically, an Amazon Resource Number (ARN) becomes the ID for a <code>DataSource</code>.'
      DataSourceName:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>DataSource</code>.
      RDSData:
        $ref: '#/definitions/RDSDataSpec'
        description: '<p>The data specification of an Amazon RDS <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation - <ul> <li> <code>DatabaseName</code> - The name of the Amazon RDS database.</li> <li> <code>InstanceIdentifier </code> - A unique identifier for the Amazon RDS database instance.</li> </ul> </p></li> <li><p>DatabaseCredentials - AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon RDS database.</p></li> <li><p>ResourceRole - A role (DataPipelineDefaultResourceRole) assumed by an EC2 instance to carry out the copy task from Amazon RDS to Amazon Simple Storage Service (Amazon S3). For more information, see <a href="http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html">Role templates</a> for data pipelines.</p></li> <li><p>ServiceRole - A role (DataPipelineDefaultRole) assumed by the AWS Data Pipeline service to monitor the progress of the copy task from Amazon RDS to Amazon S3. For more information, see <a href="http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html">Role templates</a> for data pipelines.</p></li> <li><p>SecurityInfo - The security information to use to access an RDS DB instance. You need to set up appropriate ingress rules for the security entity IDs provided to allow access to the Amazon RDS instance. Specify a [<code>SubnetId</code>, <code>SecurityGroupIds</code>] pair for a VPC-based RDS DB instance.</p></li> <li><p>SelectSqlQuery - A query that is used to retrieve the observation data for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation - The Amazon S3 location for staging Amazon RDS data. The data retrieved from Amazon RDS using <code>SelectSqlQuery</code> is stored in this location.</p></li> <li><p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>Datasource</code>. </p> <br> <p> Sample - <code> "{\"splitting\":{\"percentBegin\":10,\"percentEnd\":60}}"</code> </p> </li> </ul>'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: <p>The role that Amazon ML assumes on behalf of the user to create and activate a data pipeline in the user's account and copy data using the <code>SelectSqlQuery</code> query from Amazon RDS to Amazon S3.</p> <p> </p>
    required:
      - DataSourceId
      - RDSData
      - RoleARN
    type: object
  CreateDataSourceFromRDSOutput:
    description: '<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt; operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up the pipeline using the <code>pipelineId </code> from the describe call.</p>'
    properties:
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied ID that uniquely identifies the datasource. This value should be identical to the value of the <code>DataSourceID</code> in the request. '
    type: object
  CreateDataSourceFromRedshiftInput:
    properties:
      ComputeStatistics:
        $ref: '#/definitions/ComputeStatistics'
        description: The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training. This parameter must be set to <code>true</code> if the <code>DataSource</code> needs to be used for <code>MLModel</code> training.
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>DataSource</code>.
      DataSourceName:
        $ref: '#/definitions/EntityName'
        description: 'A user-supplied name or description of the <code>DataSource</code>. '
      DataSpec:
        $ref: '#/definitions/RedshiftDataSpec'
        description: '<p>The data specification of an Amazon Redshift <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation - <ul> <li> <code>DatabaseName</code> - The name of the Amazon Redshift database. </li> <li> <code> ClusterIdentifier</code> - The unique ID for the Amazon Redshift cluster.</li> </ul></p></li> <li><p>DatabaseCredentials - The AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon Redshift database.</p></li> <li><p>SelectSqlQuery - The query that is used to retrieve the observation data for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation - The Amazon Simple Storage Service (Amazon S3) location for staging Amazon Redshift data. The data retrieved from Amazon Redshift using the <code>SelectSqlQuery</code> query is stored in this location.</p></li> <li><p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>DataSource</code>.</p> <p> Sample - <code> "{\"splitting\":{\"percentBegin\":10,\"percentEnd\":60}}"</code> </p> </li> </ul>'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: '<p>A fully specified role Amazon Resource Name (ARN). Amazon ML assumes the role on behalf of the user to create the following: </p> <p> <ul> <li><p>A security group to allow Amazon ML to execute the <code>SelectSqlQuery</code> query on an Amazon Redshift cluster</p></li> <li><p>An Amazon S3 bucket policy to grant Amazon ML read/write permissions on the <code>S3StagingLocation</code></p></li> </ul> </p>'
    required:
      - DataSourceId
      - DataSpec
      - RoleARN
    type: object
  CreateDataSourceFromRedshiftOutput:
    description: '<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>'
    properties:
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied ID that uniquely identifies the datasource. This value should be identical to the value of the <code>DataSourceID</code> in the request. '
    type: object
  CreateDataSourceFromS3Input:
    properties:
      ComputeStatistics:
        $ref: '#/definitions/ComputeStatistics'
        description: The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training. This parameter must be set to <code>true</code> if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training.
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied identifier that uniquely identifies the <code>DataSource</code>. '
      DataSourceName:
        $ref: '#/definitions/EntityName'
        description: 'A user-supplied name or description of the <code>DataSource</code>. '
      DataSpec:
        $ref: '#/definitions/S3DataSpec'
        description: '<p>The data specification of a <code>DataSource</code>:</p> <ul> <li><p>DataLocationS3 - The Amazon S3 location of the observation data.</p></li> <li><p>DataSchemaLocationS3 - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>Datasource</code>. </p> <p> Sample - <code> "{\"splitting\":{\"percentBegin\":10,\"percentEnd\":60}}"</code> </p> </li> </ul>'
    required:
      - DataSourceId
      - DataSpec
    type: object
  CreateDataSourceFromS3Output:
    description: '<p> Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromS3</code> operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>'
    properties:
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied ID that uniquely identifies the <code>DataSource</code>. This value should be identical to the value of the <code>DataSourceID</code> in the request. '
    type: object
  CreateEvaluationInput:
    properties:
      EvaluationDataSourceId:
        $ref: '#/definitions/EntityId'
        description: The ID of the <code>DataSource</code> for the evaluation. The schema of the <code>DataSource</code> must match the schema used to create the <code>MLModel</code>.
      EvaluationId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>Evaluation</code>.
      EvaluationName:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>Evaluation</code>.
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: <p>The ID of the <code>MLModel</code> to evaluate.</p> <p>The schema used in creating the <code>MLModel</code> must match the schema of the <code>DataSource</code> used in the <code>Evaluation</code>.</p>
    required:
      - EvaluationId
      - MLModelId
      - EvaluationDataSourceId
    type: object
  CreateEvaluationOutput:
    description: '<p> Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p><code>CreateEvaluation</code> operation is asynchronous. You can poll for status updates by using the <code>GetEvcaluation</code> operation and checking the <code>Status</code> parameter. </p>'
    properties:
      EvaluationId:
        $ref: '#/definitions/EntityId'
        description: The user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value should be identical to the value of the <code>EvaluationId</code> in the request.
    type: object
  CreateMLModelInput:
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>MLModel</code>.
      MLModelName:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>MLModel</code>.
      MLModelType:
        $ref: '#/definitions/MLModelType'
        description: '<p>The category of supervised learning that this <code>MLModel</code> will address. Choose from the following types:</p> <ul> <li>Choose <code>REGRESSION</code> if the <code>MLModel</code> will be used to predict a numeric value.</li> <li>Choose <code>BINARY</code> if the <code>MLModel</code> result has two possible values.</li> <li>Choose <code>MULTICLASS</code> if the <code>MLModel</code> result has a limited number of values. </li> </ul> <p> For more information, see the <a href="http://docs.aws.amazon.com/machine-learning/latest/dg">Amazon Machine Learning Developer Guide</a>.</p>'
      Parameters:
        $ref: '#/definitions/TrainingParameters'
        description: '<p>A list of the training parameters in the <code>MLModel</code>. The list is implemented as a map of key-value pairs.</p> <p>The following is the current set of training parameters: </p> <ul> <li> <p><code>sgd.maxMLModelSizeInBytes</code> - The maximum allowed size of the model. Depending on the input data, the size of the model might affect its performance.</p> <p> The value is an integer that ranges from <code>100000</code> to <code>2147483648</code>. The default value is <code>33554432</code>.</p> </li> <li><p><code>sgd.maxPasses</code> - The number of times that the training process traverses the observations to build the <code>MLModel</code>. The value is an integer that ranges from <code>1</code> to <code>10000</code>. The default value is <code>10</code>.</p></li> <li> <p><code>sgd.shuffleType</code> - Whether Amazon ML shuffles the training data. Shuffling the data improves a model''s ability to find the optimal solution for a variety of data types. The valid values are <code>auto</code> and <code>none</code>. The default value is <code>none</code>. We <?oxy_insert_start author="laurama" timestamp="20160329T131121-0700">strongly recommend that you shuffle your data.<?oxy_insert_end></p> </li> <li> <p><code>sgd.l1RegularizationAmount</code> - The coefficient regularization L1 norm. It controls overfitting the data by penalizing large coefficients. This tends to drive coefficients to zero, resulting in a sparse feature set. If you use this parameter, start by specifying a small value, such as <code>1.0E-08</code>.</p> <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>. The default is to not use L1 normalization. This parameter can''t be used when <code>L2</code> is specified. Use this parameter sparingly.</p> </li> <li> <p><code>sgd.l2RegularizationAmount</code> - The coefficient regularization L2 norm. It controls overfitting the data by penalizing large coefficients. This tends to drive coefficients to small, nonzero values. If you use this parameter, start by specifying a small value, such as <code>1.0E-08</code>.</p> <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>. The default is to not use L2 normalization. This parameter can''t be used when <code>L1</code> is specified. Use this parameter sparingly.</p> </li> </ul>'
      Recipe:
        $ref: '#/definitions/Recipe'
        description: 'The data recipe for creating the <code>MLModel</code>. You must specify either the recipe or its URI. If you don''t specify a recipe or its URI, Amazon ML creates a default.'
      RecipeUri:
        $ref: '#/definitions/S3Url'
        description: 'The Amazon Simple Storage Service (Amazon S3) location and file name that contains the <code>MLModel</code> recipe. You must specify either the recipe or its URI. If you don''t specify a recipe or its URI, Amazon ML creates a default.'
      TrainingDataSourceId:
        $ref: '#/definitions/EntityId'
        description: The <code>DataSource</code> that points to the training data.
    required:
      - MLModelId
      - MLModelType
      - TrainingDataSourceId
    type: object
  CreateMLModelOutput:
    description: '<p> Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateMLModel</code> operation is asynchronous. You can poll for status updates by using the <code>GetMLModel</code> operation and checking the <code>Status</code> parameter. </p>'
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: 'A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the <code>MLModelId</code> in the request. '
    type: object
  CreateRealtimeEndpointInput:
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: The ID assigned to the <code>MLModel</code> during creation.
    required:
      - MLModelId
    type: object
  CreateRealtimeEndpointOutput:
    description: '<p>Represents the output of an <code>CreateRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p> <note> <p>The endpoint information includes the URI of the <code>MLModel</code>; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>'
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the <code>MLModelId</code> in the request.
      RealtimeEndpointInfo:
        $ref: '#/definitions/RealtimeEndpointInfo'
        description: 'The endpoint information of the <code>MLModel</code> '
    type: object
  DataRearrangement:
    type: string
  DataSchema:
    description: '<p>The schema of a <code>DataSource</code>. The <code>DataSchema</code> defines the structure of the observation data in the data file(s) referenced in the <code>DataSource</code>. The DataSource schema is expressed in JSON format.</p> <p><code>DataSchema</code> is not required if you specify a <code>DataSchemaUri</code></p> <p>{ "version": "1.0", "recordAnnotationFieldName": "F1", "recordWeightFieldName": "F2", "targetFieldName": "F3", "dataFormat": "CSV", "dataFileContainsHeader": true, "variables": [ { "fieldName": "F1", "fieldType": "TEXT" }, { "fieldName": "F2", "fieldType": "NUMERIC" }, { "fieldName": "F3", "fieldType": "CATEGORICAL" }, { "fieldName": "F4", "fieldType": "NUMERIC" }, { "fieldName": "F5", "fieldType": "CATEGORICAL" }, { "fieldName": "F6", "fieldType": "TEXT" }, { "fieldName": "F7", "fieldType": "WEIGHTED_INT_SEQUENCE" }, { "fieldName": "F8", "fieldType": "WEIGHTED_STRING_SEQUENCE" } ], "excludedVariableNames": [ "F6" ] } </p>'
    maxLength: 131071
    type: string
  DataSource:
    description: <p> Represents the output of the <code>GetDataSource</code> operation. </p> <p> The content consists of the detailed metadata and data file information and the current status of the <code>DataSource</code>. </p>
    properties:
      ComputeStatistics:
        $ref: '#/definitions/ComputeStatistics'
        description: ' The parameter is <code>true</code> if statistics need to be generated from the observation data. '
      ComputeTime:
        $ref: '#/definitions/LongType'
      CreatedAt:
        $ref: '#/definitions/EpochTime'
        description: The time that the <code>DataSource</code> was created. The time is expressed in epoch time.
      CreatedByIamUser:
        $ref: '#/definitions/AwsUserArn'
        description: The AWS user account from which the <code>DataSource</code> was created. The account type can be either an AWS root account or an AWS Identity and Access Management (IAM) user account.
      DataLocationS3:
        $ref: '#/definitions/S3Url'
        description: The location and name of the data in Amazon Simple Storage Service (Amazon S3) that is used by a <code>DataSource</code>.
      DataRearrangement:
        $ref: '#/definitions/DataRearrangement'
        description: A JSON string that represents the splitting and rearrangement requirement used when this <code>DataSource</code> was created.
      DataSizeInBytes:
        $ref: '#/definitions/LongType'
        description: The total number of observations contained in the data files that the <code>DataSource</code> references.
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: The ID that is assigned to the <code>DataSource</code> during creation.
      FinishedAt:
        $ref: '#/definitions/EpochTime'
      LastUpdatedAt:
        $ref: '#/definitions/EpochTime'
        description: The time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed in epoch time.
      Message:
        $ref: '#/definitions/Message'
        description: A description of the most recent details about creating the <code>DataSource</code>.
      Name:
        $ref: '#/definitions/EntityName'
        description: A user-supplied name or description of the <code>DataSource</code>.
      NumberOfFiles:
        $ref: '#/definitions/LongType'
        description: The number of data files referenced by the <code>DataSource</code>.
      RDSMetadata:
        $ref: '#/definitions/RDSMetadata'
      RedshiftMetadata:
        $ref: '#/definitions/RedshiftMetadata'
      RoleARN:
        $ref: '#/definitions/RoleARN'
      StartedAt:
        $ref: '#/definitions/EpochTime'
      Status:
        $ref: '#/definitions/EntityStatus'
        description: '<p>The current status of the <code>DataSource</code>. This element can have one of the following values: </p> <ul> <li>PENDING - Amazon Machine Learning (Amazon ML) submitted a request to create a <code>DataSource</code>.</li> <li>INPROGRESS - The creation process is underway.</li> <li>FAILED - The request to create a <code>DataSource</code> did not run to completion. It is not usable.</li> <li>COMPLETED - The creation process completed successfully.</li> <li>DELETED - The <code>DataSource</code> is marked as deleted. It is not usable.</li> </ul>'
    type: object
  DataSourceFilterVariable:
    description: <p>A list of the variables to use in searching or filtering <code>DataSource</code>.</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul> <note><title>Note</title> <p>The variable names should match the variable names in the <code>DataSource</code>.</p> </note>
    enum:
      - CreatedAt
      - LastUpdatedAt
      - Status
      - Name
      - DataLocationS3
      - IAMUser
    type: string
  DataSources:
    items:
      $ref: '#/definitions/DataSource'
    type: array
  DeleteBatchPredictionInput:
    properties:
      BatchPredictionId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.
    required:
      - BatchPredictionId
    type: object
  DeleteBatchPredictionOutput:
    description: <p> Represents the output of a <code>DeleteBatchPrediction</code> operation.</p> <p>You can use the <code>GetBatchPrediction</code> operation and check the value of the <code>Status</code> parameter to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>
    properties:
      BatchPredictionId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This value should be identical to the value of the <code>BatchPredictionID</code> in the request.
    type: object
  DeleteDataSourceInput:
    properties:
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>DataSource</code>.
    required:
      - DataSourceId
    type: object
  DeleteDataSourceOutput:
    description: ' Represents the output of a <code>DeleteDataSource</code> operation.'
    properties:
      DataSourceId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>DataSource</code>. This value should be identical to the value of the <code>DataSourceID</code> in the request.
    type: object
  DeleteEvaluationInput:
    properties:
      EvaluationId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>Evaluation</code> to delete.
    required:
      - EvaluationId
    type: object
  DeleteEvaluationOutput:
    description: <p> Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates that Amazon Machine Learning (Amazon ML) received the request.</p> <p>You can use the <code>GetEvaluation</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>
    properties:
      EvaluationId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value should be identical to the value of the <code>EvaluationId</code> in the request.
    type: object
  DeleteMLModelInput:
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>MLModel</code>.
    required:
      - MLModelId
    type: object
  DeleteMLModelOutput:
    description: <p>Represents the output of a <code>DeleteMLModel</code> operation.</p> <p>You can use the <code>GetMLModel</code> operation and check the value of the <code>Status</code> parameter to see whether an <code>MLModel</code> is marked as <code>DELETED</code>.</p>
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the <code>MLModelID</code> in the request.
    type: object
  DeleteRealtimeEndpointInput:
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: The ID assigned to the <code>MLModel</code> during creation.
    required:
      - MLModelId
    type: object
  DeleteRealtimeEndpointOutput:
    description: <p>Represents the output of an <code>DeleteRealtimeEndpoint</code> operation.</p> <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>. </p>
    properties:
      MLModelId:
        $ref: '#/definitions/EntityId'
        description: A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the <code>MLModelId</code> in the request.
      RealtimeEndpointInfo:
        $ref: '#/definitions/RealtimeEndpointInfo'
        description: 'The endpoint information of the <code>MLModel</code> '
    type: object
  DeleteTagsInput:
    properties:
      ResourceId:
        $ref: '#/definitions/EntityId'
        description: 'The ID of the tagged ML object. For example, <code>exampleModelId</code>.'
      ResourceType:
        $ref: '#/definitions/TaggableResourceType'
        description: The type of the tagged ML object.
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: One or more tags to delete.
    required:
      - TagKeys
      - ResourceId
      - ResourceType
    type: object
  DeleteTagsOutput:
    description: 'Amazon ML returns the following elements. '
    properties:
      ResourceId:
        $ref: '#/definitions/EntityId'
        description: The ID of the ML object from which tags were deleted.
      ResourceType:
        $ref: '#/definitions/TaggableResourceType'
        description: The type of the ML object from which tags were deleted.
    type: object
  DescribeBatchPredictionsInput:
    properties:
      EQ:
        $ref: '#/definitions/ComparatorValue'
        description: The equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.
      FilterVariable:
        $ref: '#/definitions/BatchPredictionFilterVariable'
        description: '<p>Use one of the following variables to filter a list of <code>BatchPrediction</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to the <code>BatchPrediction</code> creation date.</li> <li> <code>Status</code> - Sets the search criteria to the <code>BatchPrediction</code> status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of the <code>BatchPrediction</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code> creation.</li> <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataSourceId</code> - Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</li> <li> <code>DataURI</code> - Sets the search criteria to the data file(s) used in the <code>BatchPrediction</code>. The URL can identify either a file or an Amazon Simple Storage Solution (Amazon S3) bucket or directory.</li> </ul>'
      GE:
        $ref: '#/definitions/ComparatorValue'
        description: 'The greater than or equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values that are greater than or equal to the value specified with <code>GE</code>. '
      GT:
        $ref: '#/definitions/ComparatorValue'
        description: The greater than operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values that are greater than the value specified with <code>GT</code>.
      LE:
        $ref: '#/definitions/ComparatorValue'
        description: The less than or equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values that are less than or equal to the value specified with <code>LE</code>.
      LT:
        $ref: '#/definitions/ComparatorValue'
        description: The less than operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values that are less than the value specified with <code>LT</code>.
      Limit:
        $ref: '#/definitions/PageLimit'
        description: The number of pages of information to include in the result. The range of acceptable values is <code>1</code> through <code>100</code>. The default value is <code>100</code>.
      NE:
        $ref: '#/definitions/ComparatorValue'
        description: The not equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code> values not equal to the value specified with <code>NE</code>.
      NextToken:
        $ref: '#/definitions/StringType'
        description: An ID of the page in the paginated results.
      Prefix:
        $ref: '#/definitions/ComparatorValue'
        description: '<p>A string that is found at the beginning of a variable, such as <code>Name</code> or <code>Id</code>.</p> <p>For example, a <code>Batch Prediction</code> operation could have the <code>Name</code> <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>BatchPrediction</code>, select <code>Name</code> for the <code>FilterVariable</code> and any of the following strings for the <code>Prefix</code>: </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li> <li><p>2014-09-09-Holiday</p></li> </ul>'
      SortOrder:
        $ref: '#/definitions/SortOrder'
        description: '<p>A two-value parameter that determines the sequence of the resulting list of <code>MLModel</code>s.</p> <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li> <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul> <p>Results are sorted by <code>FilterVariable</code>.</p>'
    type: object
  DescribeBatchPredictionsOutput:
    description: Represents the output of a <code>DescribeBatchPredictions</code> operation. The content is essentially a list of <code>BatchPrediction</code>s.
    properties:
      NextToken:
        $ref: '#/definitions/StringType'
        description: The ID of the next page in the paginated results that indicates at least one more page follows.
      Results:
        $ref: '#/definitions/BatchPredictions'
        description: 'A list of <code>BatchPrediction</code> objects that meet the search criteria. '
    type: object
  DescribeDataSourcesInput:
    properties:
      EQ:
        $ref: '#/definitions/ComparatorValue'
        description: The equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code> values that exactly match the value specified with <code>EQ</code>.
      FilterVariable:
        $ref: '#/definitions/DataSourceFilterVariable'
        description: '<p>Use one of the following variables to filter a list of <code>DataSource</code>:</p> <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code> statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</li> </ul>'
      GE:
        $ref: '#/definitions/ComparatorValue'
[...]
