swagger: '2.0'
schemes:
  - https
  - http
host: dax.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'DAX is a managed caching service engineered for Amazon DynamoDB. DAX dramatically speeds up database reads by caching frequently-accessed data from DynamoDB, so applications can access that data with sub-millisecond latency. You can create a DAX cluster easily, using the AWS Management Console. With a few simple modifications to your code, your application can begin taking advantage of the DAX cluster and realize significant improvements in read performance.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon DynamoDB Accelerator (DAX)
  version: '2017-04-19'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dax-2017-04-19.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: dax
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/dax/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonDAXV3.CreateCluster':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.
      operationId: CreateCluster
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterRequest'
        - enum:
            - AmazonDAXV3.CreateCluster
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        '480':
          description: ClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterAlreadyExistsFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '482':
          description: InsufficientClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientClusterCapacityFault'
        '483':
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        '484':
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        '485':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '486':
          description: ClusterQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/ClusterQuotaForCustomerExceededFault'
        '487':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '488':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '489':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '490':
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        '491':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '492':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '493':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.CreateParameterGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new parameter group. A parameter group is a collection of parameters that you apply to all of the nodes in a DAX cluster.
      operationId: CreateParameterGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateParameterGroupRequest'
        - enum:
            - AmazonDAXV3.CreateParameterGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateParameterGroupResponse'
        '480':
          description: ParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/ParameterGroupQuotaExceededFault'
        '481':
          description: ParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ParameterGroupAlreadyExistsFault'
        '482':
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        '483':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.CreateSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new subnet group.
      operationId: CreateSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSubnetGroupRequest'
        - enum:
            - AmazonDAXV3.CreateSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubnetGroupResponse'
        '480':
          description: SubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/SubnetGroupAlreadyExistsFault'
        '481':
          description: SubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetGroupQuotaExceededFault'
        '482':
          description: SubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetQuotaExceededFault'
        '483':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '484':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
  '/#X-Amz-Target=AmazonDAXV3.DecreaseReplicationFactor':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes one or more nodes from a DAX cluster.</p> <note> <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p> </note>'
      operationId: DecreaseReplicationFactor
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DecreaseReplicationFactorRequest'
        - enum:
            - AmazonDAXV3.DecreaseReplicationFactor
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DecreaseReplicationFactorResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: NodeNotFoundFault
          schema:
            $ref: '#/definitions/NodeNotFoundFault'
        '482':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '483':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DeleteCluster':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a previously provisioned DAX cluster. <i>DeleteCluster</i> deletes all associated nodes, node endpoints and the DAX cluster itself. When you receive a successful response from this action, DAX immediately begins deleting the cluster; you cannot cancel or revert this action.'
      operationId: DeleteCluster
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterRequest'
        - enum:
            - AmazonDAXV3.DeleteCluster
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '482':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DeleteParameterGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified parameter group. You cannot delete a parameter group if it is associated with any DAX clusters.
      operationId: DeleteParameterGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteParameterGroupRequest'
        - enum:
            - AmazonDAXV3.DeleteParameterGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteParameterGroupResponse'
        '480':
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        '481':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '482':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DeleteSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a subnet group.</p> <note> <p>You cannot delete a subnet group if it is associated with any DAX clusters.</p> </note>
      operationId: DeleteSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSubnetGroupRequest'
        - enum:
            - AmazonDAXV3.DeleteSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubnetGroupResponse'
        '480':
          description: SubnetGroupInUseFault
          schema:
            $ref: '#/definitions/SubnetGroupInUseFault'
        '481':
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        '482':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
  '/#X-Amz-Target=AmazonDAXV3.DescribeClusters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns information about all provisioned DAX clusters if no cluster identifier is specified, or about a specific DAX cluster if a cluster identifier is supplied.</p> <p>If the cluster is in the CREATING state, only cluster level information will be displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the DELETING state, only cluster level information will be displayed.</p> <p>If nodes are currently being added to the DAX cluster, node endpoint information and creation time for the additional nodes will not be displayed until they are completely provisioned. When the DAX cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If nodes are currently being removed from the DAX cluster, no endpoint information for the removed nodes is displayed.</p>'
      operationId: DescribeClusters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClustersRequest'
        - enum:
            - AmazonDAXV3.DescribeClusters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClustersResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DescribeDefaultParameters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the default system parameter information for the DAX caching software.
      operationId: DescribeDefaultParameters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDefaultParametersRequest'
        - enum:
            - AmazonDAXV3.DescribeDefaultParameters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultParametersResponse'
        '480':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DescribeEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns events related to DAX clusters and parameter groups. You can obtain events specific to a particular DAX cluster or parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days'' worth of events if necessary.</p>'
      operationId: DescribeEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsRequest'
        - enum:
            - AmazonDAXV3.DescribeEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
        '480':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DescribeParameterGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of parameter group descriptions. If a parameter group name is specified, the list will contain only the descriptions for that group.'
      operationId: DescribeParameterGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeParameterGroupsRequest'
        - enum:
            - AmazonDAXV3.DescribeParameterGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeParameterGroupsResponse'
        '480':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '481':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DescribeParameters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the detailed parameter list for a particular parameter group.
      operationId: DescribeParameters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeParametersRequest'
        - enum:
            - AmazonDAXV3.DescribeParameters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeParametersResponse'
        '480':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '481':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.DescribeSubnetGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of subnet group descriptions. If a subnet group name is specified, the list will contain only the description of that group.'
      operationId: DescribeSubnetGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSubnetGroupsRequest'
        - enum:
            - AmazonDAXV3.DescribeSubnetGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSubnetGroupsResponse'
        '480':
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        '481':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
  '/#X-Amz-Target=AmazonDAXV3.IncreaseReplicationFactor':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds one or more nodes to a DAX cluster.
      operationId: IncreaseReplicationFactor
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/IncreaseReplicationFactorRequest'
        - enum:
            - AmazonDAXV3.IncreaseReplicationFactor
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IncreaseReplicationFactorResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '482':
          description: InsufficientClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientClusterCapacityFault'
        '483':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '484':
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        '485':
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        '486':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '487':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '488':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.ListTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'List all of the tags for a DAX cluster. You can call <code>ListTags</code> up to 10 times per second, per account.'
      operationId: ListTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsRequest'
        - enum:
            - AmazonDAXV3.ListTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        '482':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '483':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.RebootNode':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Reboots a single node of a DAX cluster. The reboot action takes place as soon as possible. During the reboot, the node status is set to REBOOTING.'
      operationId: RebootNode
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RebootNodeRequest'
        - enum:
            - AmazonDAXV3.RebootNode
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootNodeResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: NodeNotFoundFault
          schema:
            $ref: '#/definitions/NodeNotFoundFault'
        '482':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '483':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Associates a set of tags with a DAX resource. You can call <code>TagResource</code> up to 5 times per second, per account. '
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - AmazonDAXV3.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        '482':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        '483':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '484':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '485':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes the association of tags from a DAX resource. You can call <code>UntagResource</code> up to 5 times per second, per account. '
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - AmazonDAXV3.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        '482':
          description: TagNotFoundFault
          schema:
            $ref: '#/definitions/TagNotFoundFault'
        '483':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '484':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '485':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.UpdateCluster':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the settings for a DAX cluster. You can use this action to change one or more cluster configuration parameters by specifying the parameters and the new values.
      operationId: UpdateCluster
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateClusterRequest'
        - enum:
            - AmazonDAXV3.UpdateCluster
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateClusterResponse'
        '480':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '481':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '482':
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        '483':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '484':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '485':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.UpdateParameterGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the parameters of a parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.
      operationId: UpdateParameterGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateParameterGroupRequest'
        - enum:
            - AmazonDAXV3.UpdateParameterGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateParameterGroupResponse'
        '480':
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        '481':
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        '482':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '484':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#X-Amz-Target=AmazonDAXV3.UpdateSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies an existing subnet group.
      operationId: UpdateSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSubnetGroupRequest'
        - enum:
            - AmazonDAXV3.UpdateSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubnetGroupResponse'
        '480':
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        '481':
          description: SubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetQuotaExceededFault'
        '482':
          description: SubnetInUse
          schema:
            $ref: '#/definitions/SubnetInUse'
        '483':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '484':
          description: ServiceLinkedRoleNotFoundFault
          schema:
            $ref: '#/definitions/ServiceLinkedRoleNotFoundFault'
definitions:
  AvailabilityZoneList:
    items:
      $ref: '#/definitions/String'
    type: array
  ChangeType:
    enum:
      - IMMEDIATE
      - REQUIRES_REBOOT
    type: string
  Cluster:
    description: Contains all of the attributes of a specific DAX cluster.
    properties:
      ActiveNodes:
        $ref: '#/definitions/IntegerOptional'
        description: 'The number of nodes in the cluster that are active (i.e., capable of serving requests).'
      ClusterArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) that uniquely identifies the cluster. '
      ClusterDiscoveryEndpoint:
        $ref: '#/definitions/Endpoint'
        description: 'The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.'
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the DAX cluster.
      Description:
        $ref: '#/definitions/String'
        description: The description of the cluster.
      IamRoleArn:
        $ref: '#/definitions/String'
        description: 'A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role''s permissions to access DynamoDB on your behalf.'
      NodeIdsToRemove:
        $ref: '#/definitions/NodeIdentifierList'
        description: A list of nodes to be removed from the cluster.
      NodeType:
        $ref: '#/definitions/String'
        description: The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)
      Nodes:
        $ref: '#/definitions/NodeList'
        description: A list of nodes that are currently in the cluster.
      NotificationConfiguration:
        $ref: '#/definitions/NotificationConfiguration'
        description: Describes a notification topic and its status. Notification topics are used for publishing DAX events to subscribers using Amazon Simple Notification Service (SNS).
      ParameterGroup:
        $ref: '#/definitions/ParameterGroupStatus'
        description: The parameter group being used by nodes in the cluster.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: 'A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.'
      SSEDescription:
        $ref: '#/definitions/SSEDescription'
        description: The description of the server-side encryption status on the specified DAX cluster.
      SecurityGroups:
        $ref: '#/definitions/SecurityGroupMembershipList'
        description: 'A list of security groups, and the status of each, for the nodes in the cluster.'
      Status:
        $ref: '#/definitions/String'
        description: The current status of the cluster.
      SubnetGroup:
        $ref: '#/definitions/String'
        description: The subnet group where the DAX cluster is running.
      TotalNodes:
        $ref: '#/definitions/IntegerOptional'
        description: The total number of nodes in the cluster.
    type: object
  ClusterAlreadyExistsFault: {}
  ClusterList:
    items:
      $ref: '#/definitions/Cluster'
    type: array
  ClusterNameList:
    items:
      $ref: '#/definitions/String'
    type: array
  ClusterNotFoundFault: {}
  ClusterQuotaForCustomerExceededFault: {}
  CreateClusterRequest:
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZoneList'
        description: The Availability Zones (AZs) in which the cluster nodes will be created. All nodes belonging to the cluster are placed in these Availability Zones. Use this parameter if you want to distribute the nodes across multiple AZs.
      ClusterName:
        $ref: '#/definitions/String'
        description: '<p>The cluster identifier. This parameter is stored as a lowercase string.</p> <p> <b>Constraints:</b> </p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric characters or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
      Description:
        $ref: '#/definitions/String'
        description: A description of the cluster.
      IamRoleArn:
        $ref: '#/definitions/String'
        description: 'A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role''s permissions to access DynamoDB on your behalf.'
      NodeType:
        $ref: '#/definitions/String'
        description: The compute and memory capacity of the nodes in the cluster.
      NotificationTopicArn:
        $ref: '#/definitions/String'
        description: <p>The Amazon Resource Name (ARN) of the Amazon SNS topic to which notifications will be sent.</p> <note> <p>The Amazon SNS topic owner must be same as the DAX cluster owner.</p> </note>
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The parameter group to be associated with the DAX cluster.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>Specifies the weekly time range during which maintenance on the DAX cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:05:00-sun:09:00</code> </p> <note> <p>If you don''t specify a preferred maintenance window when you create or modify a cache cluster, DAX assigns a 60-minute maintenance window on a randomly selected day of the week.</p> </note>'
      ReplicationFactor:
        $ref: '#/definitions/Integer'
        description: '<p>The number of nodes in the DAX cluster. A replication factor of 1 will create a single-node cluster, without any read replicas. For additional fault tolerance, you can create a multiple node cluster with one or more read replicas. To do this, set <i>ReplicationFactor</i> to 2 or more.</p> <note> <p>AWS recommends that you have at least two read replicas per cluster.</p> </note>'
      SSESpecification:
        $ref: '#/definitions/SSESpecification'
        description: Represents the settings used to enable server-side encryption on the cluster.
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIdentifierList'
        description: '<p>A list of security group IDs to be assigned to each node in the DAX cluster. (Each of the security group ID is system-generated.)</p> <p>If this parameter is not specified, DAX assigns the default VPC security group to each node.</p>'
      SubnetGroupName:
        $ref: '#/definitions/String'
        description: <p>The name of the subnet group to be used for the replication group.</p> <important> <p>DAX clusters can only run in an Amazon VPC environment. All of the subnets that you specify in a subnet group must exist in the same VPC.</p> </important>
      Tags:
        $ref: '#/definitions/TagList'
        description: 'A set of tags to associate with the DAX cluster. '
    required:
      - ClusterName
      - NodeType
      - ReplicationFactor
      - IamRoleArn
    type: object
  CreateClusterResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: A description of the DAX cluster that you have created.
    type: object
  CreateParameterGroupRequest:
    properties:
      Description:
        $ref: '#/definitions/String'
        description: A description of the parameter group.
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group to apply to all of the clusters in this replication group.
    required:
      - ParameterGroupName
    type: object
  CreateParameterGroupResponse:
    properties:
      ParameterGroup:
        $ref: '#/definitions/ParameterGroup'
        description: Represents the output of a <i>CreateParameterGroup</i> action.
    type: object
  CreateSubnetGroupRequest:
    properties:
      Description:
        $ref: '#/definitions/String'
        description: A description for the subnet group
      SubnetGroupName:
        $ref: '#/definitions/String'
        description: 'A name for the subnet group. This value is stored as a lowercase string. '
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: A list of VPC subnet IDs for the subnet group.
    required:
      - SubnetGroupName
      - SubnetIds
    type: object
  CreateSubnetGroupResponse:
    properties:
      SubnetGroup:
        $ref: '#/definitions/SubnetGroup'
        description: Represents the output of a <i>CreateSubnetGroup</i> operation.
    type: object
  DecreaseReplicationFactorRequest:
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZoneList'
        description: The Availability Zone(s) from which to remove nodes.
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the DAX cluster from which you want to remove nodes.
      NewReplicationFactor:
        $ref: '#/definitions/Integer'
        description: The new number of nodes for the DAX cluster.
      NodeIdsToRemove:
        $ref: '#/definitions/NodeIdentifierList'
        description: The unique identifiers of the nodes to be removed from the cluster.
    required:
      - ClusterName
      - NewReplicationFactor
    type: object
  DecreaseReplicationFactorResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: 'A description of the DAX cluster, after you have decreased its replication factor.'
    type: object
  DeleteClusterRequest:
    properties:
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the cluster to be deleted.
    required:
      - ClusterName
    type: object
  DeleteClusterResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: A description of the DAX cluster that is being deleted.
    type: object
  DeleteParameterGroupRequest:
    properties:
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group to delete.
    required:
      - ParameterGroupName
    type: object
  DeleteParameterGroupResponse:
    properties:
      DeletionMessage:
        $ref: '#/definitions/String'
        description: 'A user-specified message for this action (i.e., a reason for deleting the parameter group).'
    type: object
  DeleteSubnetGroupRequest:
    properties:
      SubnetGroupName:
        $ref: '#/definitions/String'
        description: The name of the subnet group to delete.
    required:
      - SubnetGroupName
    type: object
  DeleteSubnetGroupResponse:
    properties:
      DeletionMessage:
        $ref: '#/definitions/String'
        description: 'A user-specified message for this action (i.e., a reason for deleting the subnet group).'
    type: object
  DescribeClustersRequest:
    properties:
      ClusterNames:
        $ref: '#/definitions/ClusterNameList'
        description: The names of the DAX clusters being described.
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
    type: object
  DescribeClustersResponse:
    properties:
      Clusters:
        $ref: '#/definitions/ClusterList'
        description: 'The descriptions of your DAX clusters, in response to a <i>DescribeClusters</i> request.'
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
    type: object
  DescribeDefaultParametersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
    type: object
  DescribeDefaultParametersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      Parameters:
        $ref: '#/definitions/ParameterList'
        description: A list of parameters. Each element in the list represents one parameter.
    type: object
  DescribeEventsRequest:
    properties:
      Duration:
        $ref: '#/definitions/IntegerOptional'
        description: The number of minutes' worth of events to retrieve.
      EndTime:
        $ref: '#/definitions/TStamp'
        description: 'The end of the time interval for which to retrieve events, specified in ISO 8601 format.'
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
      SourceName:
        $ref: '#/definitions/String'
        description: 'The identifier of the event source for which events will be returned. If not specified, then all sources are included in the response.'
      SourceType:
        $ref: '#/definitions/SourceType'
        description: 'The event source to retrieve events for. If no value is specified, all events are returned.'
      StartTime:
        $ref: '#/definitions/TStamp'
        description: 'The beginning of the time interval to retrieve events for, specified in ISO 8601 format.'
    type: object
  DescribeEventsResponse:
    properties:
      Events:
        $ref: '#/definitions/EventList'
        description: An array of events. Each element in the array represents one event.
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
    type: object
  DescribeParameterGroupsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
      ParameterGroupNames:
        $ref: '#/definitions/ParameterGroupNameList'
        description: The names of the parameter groups.
    type: object
  DescribeParameterGroupsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      ParameterGroups:
        $ref: '#/definitions/ParameterGroupList'
        description: An array of parameter groups. Each element in the array represents one parameter group.
    type: object
  DescribeParametersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group.
      Source:
        $ref: '#/definitions/String'
        description: 'How the parameter is defined. For example, <code>system</code> denotes a system-defined parameter.'
    required:
      - ParameterGroupName
    type: object
  DescribeParametersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      Parameters:
        $ref: '#/definitions/ParameterList'
        description: A list of parameters within a parameter group. Each element in the list represents one parameter.
    type: object
  DescribeSubnetGroupsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/IntegerOptional'
        description: '<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by <code>MaxResults</code>.'
      SubnetGroupNames:
        $ref: '#/definitions/SubnetGroupNameList'
        description: The name of the subnet group.
    type: object
  DescribeSubnetGroupsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: Provides an identifier to allow retrieval of paginated results.
      SubnetGroups:
        $ref: '#/definitions/SubnetGroupList'
        description: An array of subnet groups. Each element in the array represents a single subnet group.
    type: object
  Endpoint:
    description: 'Represents the information required for client programs to connect to the configuration endpoint for a DAX cluster, or to an individual node within the cluster.'
    properties:
      Address:
        $ref: '#/definitions/String'
        description: The DNS hostname of the endpoint.
      Port:
        $ref: '#/definitions/Integer'
        description: The port number that applications should use to connect to the endpoint.
    type: object
  Event:
    description: 'Represents a single occurrence of something interesting within the system. Some examples of events are creating a DAX cluster, adding or removing a node, or rebooting a node.'
    properties:
      Date:
        $ref: '#/definitions/TStamp'
        description: The date and time when the event occurred.
      Message:
        $ref: '#/definitions/String'
        description: A user-defined message associated with the event.
      SourceName:
        $ref: '#/definitions/String'
        description: 'The source of the event. For example, if the event occurred at the node level, the source would be the node ID.'
      SourceType:
        $ref: '#/definitions/SourceType'
        description: 'Specifies the origin of this event - a cluster, a parameter group, a node ID, etc.'
    type: object
  EventList:
    items:
      $ref: '#/definitions/Event'
    type: array
  IncreaseReplicationFactorRequest:
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZoneList'
        description: The Availability Zones (AZs) in which the cluster nodes will be created. All nodes belonging to the cluster are placed in these Availability Zones. Use this parameter if you want to distribute the nodes across multiple AZs.
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the DAX cluster that will receive additional nodes.
      NewReplicationFactor:
        $ref: '#/definitions/Integer'
        description: The new number of nodes for the DAX cluster.
    required:
      - ClusterName
      - NewReplicationFactor
    type: object
  IncreaseReplicationFactorResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: A description of the DAX cluster. with its new replication factor.
    type: object
  InsufficientClusterCapacityFault: {}
  Integer:
    type: integer
  IntegerOptional:
    type: integer
  InvalidARNFault: {}
  InvalidClusterStateFault: {}
  InvalidParameterCombinationException: {}
  InvalidParameterGroupStateFault: {}
  InvalidParameterValueException: {}
  InvalidSubnet: {}
  InvalidVPCNetworkStateFault: {}
  IsModifiable:
    enum:
      - 'TRUE'
      - 'FALSE'
      - CONDITIONAL
    type: string
  KeyList:
    items:
      $ref: '#/definitions/String'
    type: array
  ListTagsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token.'
      ResourceName:
        $ref: '#/definitions/String'
        description: The name of the DAX resource to which the tags belong.
    required:
      - ResourceName
    type: object
  ListTagsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'If this value is present, there are additional results to be displayed. To retrieve them, call <code>ListTags</code> again, with <code>NextToken</code> set to this value.'
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of tags currently associated with the DAX cluster.
    type: object
  Node:
    description: Represents an individual node within a DAX cluster.
    properties:
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: The Availability Zone (AZ) in which the node has been deployed.
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: 'The endpoint for the node, consisting of a DNS name and a port number. Client applications can connect directly to a node endpoint, if desired (as an alternative to allowing DAX client software to intelligently route requests and responses to nodes in the DAX cluster.'
      NodeCreateTime:
        $ref: '#/definitions/TStamp'
        description: The date and time (in UNIX epoch format) when the node was launched.
      NodeId:
        $ref: '#/definitions/String'
        description: A system-generated identifier for the node.
      NodeStatus:
        $ref: '#/definitions/String'
        description: 'The current status of the node. For example: <code>available</code>.'
      ParameterGroupStatus:
        $ref: '#/definitions/String'
        description: 'The status of the parameter group associated with this node. For example, <code>in-sync</code>.'
    type: object
  NodeIdentifierList:
    items:
      $ref: '#/definitions/String'
    type: array
  NodeList:
    items:
      $ref: '#/definitions/Node'
    type: array
  NodeNotFoundFault: {}
  NodeQuotaForClusterExceededFault: {}
  NodeQuotaForCustomerExceededFault: {}
  NodeTypeSpecificValue:
    description: Represents a parameter value that is applicable to a particular node type.
    properties:
      NodeType:
        $ref: '#/definitions/String'
        description: A node type to which the parameter value applies.
      Value:
        $ref: '#/definitions/String'
        description: The parameter value for this node type.
    type: object
  NodeTypeSpecificValueList:
    items:
      $ref: '#/definitions/NodeTypeSpecificValue'
    type: array
  NotificationConfiguration:
    description: Describes a notification topic and its status. Notification topics are used for publishing DAX events to subscribers using Amazon Simple Notification Service (SNS).
    properties:
      TopicArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) that identifies the topic. '
      TopicStatus:
        $ref: '#/definitions/String'
        description: The current state of the topic.
    type: object
  Parameter:
    description: Describes an individual setting that controls some aspect of DAX behavior.
    properties:
      AllowedValues:
        $ref: '#/definitions/String'
        description: A range of values within which the parameter can be set.
      ChangeType:
        $ref: '#/definitions/ChangeType'
        description: 'The conditions under which changes to this parameter can be applied. For example, <code>requires-reboot</code> indicates that a new value for this parameter will only take effect if a node is rebooted.'
      DataType:
        $ref: '#/definitions/String'
        description: 'The data type of the parameter. For example, <code>integer</code>:'
      Description:
        $ref: '#/definitions/String'
        description: A description of the parameter
      IsModifiable:
        $ref: '#/definitions/IsModifiable'
        description: Whether the customer is allowed to modify the parameter.
      NodeTypeSpecificValues:
        $ref: '#/definitions/NodeTypeSpecificValueList'
        description: 'A list of node types, and specific parameter values for each node.'
      ParameterName:
        $ref: '#/definitions/String'
        description: The name of the parameter.
      ParameterType:
        $ref: '#/definitions/ParameterType'
        description: 'Determines whether the parameter can be applied to any nodes, or only nodes of a particular type.'
      ParameterValue:
        $ref: '#/definitions/String'
        description: The value for the parameter.
      Source:
        $ref: '#/definitions/String'
        description: 'How the parameter is defined. For example, <code>system</code> denotes a system-defined parameter.'
    type: object
  ParameterGroup:
    description: A named set of parameters that are applied to all of the nodes in a DAX cluster.
    properties:
      Description:
        $ref: '#/definitions/String'
        description: A description of the parameter group.
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group.
    type: object
  ParameterGroupAlreadyExistsFault: {}
  ParameterGroupList:
    items:
      $ref: '#/definitions/ParameterGroup'
    type: array
  ParameterGroupNameList:
    items:
      $ref: '#/definitions/String'
    type: array
  ParameterGroupNotFoundFault: {}
  ParameterGroupQuotaExceededFault: {}
  ParameterGroupStatus:
    description: The status of a parameter group.
    properties:
      NodeIdsToReboot:
        $ref: '#/definitions/NodeIdentifierList'
        description: The node IDs of one or more nodes to be rebooted.
      ParameterApplyStatus:
        $ref: '#/definitions/String'
        description: 'The status of parameter updates. '
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group.
    type: object
  ParameterList:
    items:
      $ref: '#/definitions/Parameter'
    type: array
  ParameterNameValue:
    description: An individual DAX parameter.
    properties:
      ParameterName:
        $ref: '#/definitions/String'
        description: The name of the parameter.
      ParameterValue:
        $ref: '#/definitions/String'
        description: The value of the parameter.
    type: object
  ParameterNameValueList:
    items:
      $ref: '#/definitions/ParameterNameValue'
    type: array
  ParameterType:
    enum:
      - DEFAULT
      - NODE_TYPE_SPECIFIC
    type: string
  RebootNodeRequest:
    properties:
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the DAX cluster containing the node to be rebooted.
      NodeId:
        $ref: '#/definitions/String'
        description: The system-assigned ID of the node to be rebooted.
    required:
      - ClusterName
      - NodeId
    type: object
  RebootNodeResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: A description of the DAX cluster after a node has been rebooted.
    type: object
  SSEDescription:
    description: The description of the server-side encryption status on the specified DAX cluster.
    properties:
      Status:
        $ref: '#/definitions/SSEStatus'
        description: '<p>The current state of server-side encryption:</p> <ul> <li> <p> <code>ENABLING</code> - Server-side encryption is being enabled.</p> </li> <li> <p> <code>ENABLED</code> - Server-side encryption is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Server-side encryption is being disabled.</p> </li> <li> <p> <code>DISABLED</code> - Server-side encryption is disabled.</p> </li> </ul>'
    type: object
  SSEEnabled:
    type: boolean
  SSESpecification:
    description: Represents the settings used to enable server-side encryption.
    properties:
      Enabled:
        $ref: '#/definitions/SSEEnabled'
        description: Indicates whether server-side encryption is enabled (true) or disabled (false) on the cluster.
    required:
      - Enabled
    type: object
  SSEStatus:
    enum:
      - ENABLING
      - ENABLED
      - DISABLING
      - DISABLED
    type: string
  SecurityGroupIdentifierList:
    items:
      $ref: '#/definitions/String'
    type: array
  SecurityGroupMembership:
    description: An individual VPC security group and its status.
    properties:
      SecurityGroupIdentifier:
        $ref: '#/definitions/String'
        description: The unique ID for this security group.
      Status:
        $ref: '#/definitions/String'
        description: The status of this security group.
    type: object
  SecurityGroupMembershipList:
    items:
      $ref: '#/definitions/SecurityGroupMembership'
    type: array
  ServiceLinkedRoleNotFoundFault: {}
  SourceType:
    enum:
      - CLUSTER
      - PARAMETER_GROUP
      - SUBNET_GROUP
    type: string
  String:
    type: string
  Subnet:
    description: Represents the subnet associated with a DAX cluster. This parameter refers to subnets defined in Amazon Virtual Private Cloud (Amazon VPC) and used with DAX.
    properties:
      SubnetAvailabilityZone:
        $ref: '#/definitions/String'
        description: The Availability Zone (AZ) for subnet subnet.
      SubnetIdentifier:
        $ref: '#/definitions/String'
        description: The system-assigned identifier for the subnet.
    type: object
  SubnetGroup:
    description: '<p>Represents the output of one of the following actions:</p> <ul> <li> <p> <i>CreateSubnetGroup</i> </p> </li> <li> <p> <i>ModifySubnetGroup</i> </p> </li> </ul>'
    properties:
      Description:
        $ref: '#/definitions/String'
        description: The description of the subnet group.
      SubnetGroupName:
        $ref: '#/definitions/String'
        description: The name of the subnet group.
      Subnets:
        $ref: '#/definitions/SubnetList'
        description: 'A list of subnets associated with the subnet group. '
      VpcId:
        $ref: '#/definitions/String'
        description: The Amazon Virtual Private Cloud identifier (VPC ID) of the subnet group.
    type: object
  SubnetGroupAlreadyExistsFault: {}
  SubnetGroupInUseFault: {}
  SubnetGroupList:
    items:
      $ref: '#/definitions/SubnetGroup'
    type: array
  SubnetGroupNameList:
    items:
      $ref: '#/definitions/String'
    type: array
  SubnetGroupNotFoundFault: {}
  SubnetGroupQuotaExceededFault: {}
  SubnetIdentifierList:
    items:
      $ref: '#/definitions/String'
    type: array
  SubnetInUse: {}
  SubnetList:
    items:
      $ref: '#/definitions/Subnet'
    type: array
  SubnetQuotaExceededFault: {}
  TStamp:
    format: date-time
    type: string
  Tag:
    description: '<p>A description of a tag. Every tag is a key-value pair. You can add up to 50 tags to a single DAX cluster.</p> <p>AWS-assigned tag names and values are automatically assigned the <code>aws:</code> prefix, which the user cannot assign. AWS-assigned tag names do not count towards the tag limit of 50. User-assigned tag names have the prefix <code>user:</code>.</p> <p>You cannot backdate the application of a tag.</p>'
    properties:
      Key:
        $ref: '#/definitions/String'
        description: 'The key for the tag. Tag keys are case sensitive. Every DAX cluster can only have one tag with the same key. If you try to add an existing tag (same key), the existing tag value will be updated to the new value.'
      Value:
        $ref: '#/definitions/String'
        description: 'The value of the tag. Tag values are case-sensitive and can be null. '
    type: object
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagNotFoundFault: {}
  TagQuotaPerResourceExceeded: {}
  TagResourceRequest:
    properties:
      ResourceName:
        $ref: '#/definitions/String'
        description: The name of the DAX resource to which tags should be added.
      Tags:
        $ref: '#/definitions/TagList'
        description: 'The tags to be assigned to the DAX resource. '
    required:
      - ResourceName
      - Tags
    type: object
  TagResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/TagList'
        description: The list of tags that are associated with the DAX resource.
    type: object
  UntagResourceRequest:
    properties:
      ResourceName:
        $ref: '#/definitions/String'
        description: The name of the DAX resource from which the tags should be removed.
      TagKeys:
        $ref: '#/definitions/KeyList'
        description: 'A list of tag keys. If the DAX cluster has any tags with these keys, then the tags are removed from the cluster.'
    required:
      - ResourceName
      - TagKeys
    type: object
  UntagResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/TagList'
        description: The tag keys that have been removed from the cluster.
    type: object
  UpdateClusterRequest:
    properties:
      ClusterName:
        $ref: '#/definitions/String'
        description: The name of the DAX cluster to be modified.
      Description:
        $ref: '#/definitions/String'
        description: A description of the changes being made to the cluster.
      NotificationTopicArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) that identifies the topic.
      NotificationTopicStatus:
        $ref: '#/definitions/String'
        description: The current state of the topic.
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of a parameter group for this cluster.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: 'A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.'
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIdentifierList'
        description: 'A list of user-specified security group IDs to be assigned to each node in the DAX cluster. If this parameter is not specified, DAX assigns the default VPC security group to each node.'
    required:
      - ClusterName
    type: object
  UpdateClusterResponse:
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: 'A description of the DAX cluster, after it has been modified.'
    type: object
  UpdateParameterGroupRequest:
    properties:
      ParameterGroupName:
        $ref: '#/definitions/String'
        description: The name of the parameter group.
      ParameterNameValues:
        $ref: '#/definitions/ParameterNameValueList'
        description: An array of name-value pairs for the parameters in the group. Each element in the array represents a single parameter.
    required:
      - ParameterGroupName
      - ParameterNameValues
    type: object
  UpdateParameterGroupResponse:
    properties:
      ParameterGroup:
        $ref: '#/definitions/ParameterGroup'
        description: The parameter group that has been modified.
    type: object
  UpdateSubnetGroupRequest:
    properties:
      Description:
        $ref: '#/definitions/String'
        description: A description of the subnet group.
      SubnetGroupName:
        $ref: '#/definitions/String'
        description: The name of the subnet group.
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: A list of subnet IDs in the subnet group.
    required:
      - SubnetGroupName
    type: object
  UpdateSubnetGroupResponse:
    properties:
      SubnetGroup:
        $ref: '#/definitions/SubnetGroup'
        description: The subnet group that has been modified.
    type: object
x-servers:
  - description: The Amazon DAX multi-region endpoint
    url: 'http://dax.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon DAX multi-region endpoint
    url: 'https://dax.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon DAX endpoint for China (Beijing) and China (Ningxia)
    url: 'http://dax.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon DAX endpoint for China (Beijing) and China (Ningxia)
    url: 'https://dax.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
