swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Creates an Azure Data Lake Store account management client.
  title: DataLakeStoreAccountManagementClient
  version: '2016-11-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/account.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: datalake-store-account
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DataLakeStore/operations:
    get:
      description: Lists all of the available Data Lake Store REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully listed the available operations for Data Lake Store.
          schema:
            $ref: '#/definitions/OperationListResult'
      tags:
        - Operations
      x-ms-examples:
        Lists all of the available Data Lake Store REST API operations:
          parameters:
            api-version: '2016-11-01'
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>'
                value:
                  - display:
                      description: Get available operations of DataLakeStore.
                      operation: Get Available Operations
                      provider: Microsoft DataLakeStore
                      resource: Available Operations
                    name: Microsoft.DataLakeStore/operations/read
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts':
    get:
      description: 'Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.'
      operationId: Account_List
      parameters:
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: 'OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.'
          in: query
          name: $select
          required: false
          type: string
        - description: 'OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you''d like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.'
          in: query
          name: $orderby
          required: false
          type: string
        - description: 'The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.'
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the list of accounts.
          schema:
            $ref: '#/definitions/DataLakeStoreAccountListResult'
      tags:
        - Account
      x-ms-examples:
        Lists the Data Lake Store accounts within the subscription:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: '2016-11-01'
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>'
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: test_location
                    name: contosoadla
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: '2017-04-14T13:21:56.6819037-07:00'
                      endpoint: testadlfs17607.azuredatalakestore.net
                      lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: '#/definitions/DataLakeStoreAccountBasic'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability':
    get:
      description: Gets subscription-level properties and limits for Data Lake Store specified by Resource location.
      operationId: Locations_GetCapability
      parameters:
        - description: The Resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by Resource location.
          schema:
            $ref: '#/definitions/CapabilityInformation'
        '404':
          description: Subscription not found.
      tags:
        - Locations
      x-ms-examples:
        Gets subscription-level properties and limits for Data Lake Store specified by Resource location:
          parameters:
            api-version: '2016-11-01'
            location: EastUS2
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                accountCount: 100
                maxAccountCount: 150
                migrationState: false
                state: Registered
                subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            '404': {}
  '/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability':
    post:
      description: Checks whether the specified account name is available or taken.
      operationId: Account_CheckNameAvailability
      parameters:
        - description: The Resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - description: Parameters supplied to check the Data Lake Store account name availability.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CheckNameAvailabilityParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the Data Lake Store account name availability information.
          schema:
            $ref: '#/definitions/NameAvailabilityInformation'
      tags:
        - Account
      x-ms-examples:
        Checks whether the specified account name is available or taken:
          parameters:
            api-version: '2016-11-01'
            location: EastUS2
            parameters:
              name: contosoadla
              type: Microsoft.DataLakeStore/accounts
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                message: An account named 'abc' already exists.
                nameAvailable: false
                reason: AlreadyExists
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts':
    get:
      description: 'Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.'
      operationId: Account_ListByResourceGroup
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account(s).
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: 'OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.'
          in: query
          name: $select
          required: false
          type: string
        - description: 'OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you''d like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.'
          in: query
          name: $orderby
          required: false
          type: string
        - description: 'A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.'
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the list of accounts in the specified resource group.
          schema:
            $ref: '#/definitions/DataLakeStoreAccountListResult'
      tags:
        - Account
      x-ms-examples:
        Lists the Data Lake Store accounts within a specific resource group:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>'
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: test_location
                    name: contosoadla
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: '2017-04-14T13:21:56.6819037-07:00'
                      endpoint: testadlfs17607.azuredatalakestore.net
                      lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: '#/definitions/DataLakeStoreAccountBasic'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault':
    post:
      description: Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.
      operationId: Account_EnableKeyVault
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to attempt to enable the Key Vault for.
          in: path
          name: accountName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully enabled the user-managed Key Vault settings used for encrypting this Data Lake Store account.
      tags:
        - Account
      x-ms-examples:
        Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules':
    get:
      description: Lists the Data Lake Store firewall rules within the specified Data Lake Store account.
      operationId: FirewallRules_ListByAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to get the firewall rules.
          in: path
          name: accountName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the list of firewall rules.
          schema:
            $ref: '#/definitions/DataLakeStoreFirewallRuleListResult'
      tags:
        - FirewallRules
      x-ms-examples:
        Lists the Data Lake Store firewall rules within the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>'
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}':
    delete:
      description: Deletes the specified firewall rule from the specified Data Lake Store account
      operationId: FirewallRules_Delete
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to delete the firewall rule.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the firewall rule to delete.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully deleted the specified firewall rule.
        '204':
          description: The specified firewall rule does not exist or was already deleted.
      tags:
        - FirewallRules
      x-ms-examples:
        Deletes the specified firewall rule from the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets the specified Data Lake Store firewall rule.
      operationId: FirewallRules_Get
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to get the firewall rule.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the firewall rule to retrieve.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
      tags:
        - FirewallRules
      x-ms-examples:
        Gets the specified Data Lake Store firewall rule:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    patch:
      description: Updates the specified firewall rule.
      operationId: FirewallRules_Update
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to which to update the firewall rule.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the firewall rule to update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to update the firewall rule.
          in: body
          name: parameters
          required: false
          schema:
            $ref: '#/definitions/UpdateFirewallRuleParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully updated the specified firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
      tags:
        - FirewallRules
      x-ms-examples:
        Updates the specified firewall rule:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            firewallRuleName: test_rule
            parameters:
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    put:
      description: 'Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.'
      operationId: FirewallRules_CreateOrUpdate
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to add or replace the firewall rule.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the firewall rule to create or update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to create or update the firewall rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FirewallRule'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully created or updated the specified firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
      tags:
        - FirewallRules
      x-ms-examples:
        'Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule':
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            firewallRuleName: test_rule
            parameters:
              name: test_rule
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders':
    get:
      description: Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.
      operationId: TrustedIdProviders_ListByAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to get the trusted identity providers.
          in: path
          name: accountName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the list of trusted identity providers.
          schema:
            $ref: '#/definitions/DataLakeStoreTrustedIdProviderListResult'
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>'
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_trusted_id_provider_name
                    properties:
                      idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}':
    delete:
      description: Deletes the specified trusted identity provider from the specified Data Lake Store account
      operationId: TrustedIdProviders_Delete
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to delete the trusted identity provider.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the trusted identity provider to delete.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully deleted the specified trusted identity provider details.
        '204':
          description: The specified trusted identity provider was not found.
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Deletes the specified trusted identity provider from the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            '200': {}
            '204': {}
    get:
      description: Gets the specified Data Lake Store trusted identity provider.
      operationId: TrustedIdProviders_Get
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account from which to get the trusted identity provider.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the trusted identity provider to retrieve.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved details of the specified trusted identity provider.
          schema:
            $ref: '#/definitions/TrustedIdProvider'
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Gets the specified Data Lake Store trusted identity provider:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                type: test_type
    patch:
      description: Updates the specified trusted identity provider.
      operationId: TrustedIdProviders_Update
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to which to update the trusted identity provider.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - description: Parameters supplied to update the trusted identity provider.
          in: body
          name: parameters
          required: false
          schema:
            $ref: '#/definitions/UpdateTrustedIdProviderParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully added the trusted identity provider.
          schema:
            $ref: '#/definitions/TrustedIdProvider'
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Updates the specified trusted identity provider:
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            parameters:
              properties:
                idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                type: test_type
    put:
      description: 'Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider'
      operationId: TrustedIdProviders_CreateOrUpdate
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to add or replace the trusted identity provider.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - description: Parameters supplied to create or replace the trusted identity provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TrustedIdProvider'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully added the trusted identity provider.
          schema:
            $ref: '#/definitions/TrustedIdProvider'
      tags:
        - TrustedIdProviders
      x-ms-examples:
        'Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider':
          parameters:
            accountName: contosoadla
            api-version: '2016-11-01'
            parameters:
              name: test_trusted_id_provider_name
              properties:
                idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                type: test_type
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{name}':
    delete:
      description: Deletes the specified Data Lake Store account.
      operationId: Account_Delete
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to delete.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully deleted the specified account.
        '202':
          description: Successfully initiated the deletion of the specified account.
        '204':
          description: The specified account was not found.
      tags:
        - Account
      x-ms-examples:
        Deletes the specified Data Lake Store account:
          parameters:
            api-version: '2016-11-01'
            name: contosoadla
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified Data Lake Store account.
      operationId: Account_Get
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to retrieve.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved details of the specified account.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
      tags:
        - Account
      x-ms-examples:
        Gets the specified Data Lake Store account:
          parameters:
            api-version: '2016-11-01'
            name: contosoadla
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: test_location
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: '2017-04-14T13:21:56.6819037-07:00'
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
    patch:
      description: Updates the specified Data Lake Store account information.
      operationId: Account_Update
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to update.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to update the Data Lake Store account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DataLakeStoreAccountUpdateParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully updated the account details.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
        '201':
          description: Successfully initiated the update of the account details.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
        '202':
          description: Successfully initiated the update of the account details.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
      tags:
        - Account
      x-ms-examples:
        Updates the specified Data Lake Store account information:
          parameters:
            api-version: '2016-11-01'
            name: contosoadla
            parameters:
              properties:
                defaultGroup: test_default_group
                encryptionConfig:
                  keyVaultMetaInfo:
                    encryptionKeyVersion: encryption_key_version
                firewallAllowAzureIps: Enabled
                firewallState: Enabled
                newTier: Consumption
                trustedIdProviderState: Enabled
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: test_location
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: '2017-04-14T13:21:56.6819037-07:00'
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
            '201':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: test_location
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: '2017-04-14T13:21:56.6819037-07:00'
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
      x-ms-long-running-operation: true
    put:
      description: Creates the specified Data Lake Store account.
      operationId: Account_Create
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Store account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Store account to create.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to create the Data Lake Store account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully created the account.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
        '201':
          description: Successfully initiated creation of the account.
          schema:
            $ref: '#/definitions/DataLakeStoreAccount'
      tags:
        - Account
      x-ms-examples:
        Creates the specified Data Lake Store account:
          parameters:
            api-version: '2016-11-01'
            name: contosoadla
            parameters:
              identity:
                type: SystemAssigned
              location: test_location
              properties:
                defaultGroup: test_default_group
                encryptionConfig:
                  keyVaultMetaInfo:
                    encryptionKeyName: test_encryption_key_name
                    encryptionKeyVersion: encryption_key_version
                    keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  type: UserManaged
                encryptionState: Enabled
                firewallAllowAzureIps: Enabled
                firewallRules:
                  - name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                firewallState: Enabled
                newTier: Consumption
                trustedIdProviderState: Enabled
                trustedIdProviders:
                  - name: test_trusted_id_provider_name
                    properties:
                      idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            '200':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: test_location
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: '2017-04-14T13:21:56.6819037-07:00'
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
            '201':
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: test_location
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: '2017-04-14T13:21:56.6819037-07:00'
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: '2017-04-14T13:21:56.6819037-07:00'
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: 'https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1'
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
      x-ms-long-running-operation: true
definitions:
  CapabilityInformation:
    description: Subscription-level properties and limits for Data Lake Store
    properties:
      accountCount:
        description: the current number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      maxAccountCount:
        description: the maximum supported number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      migrationState:
        description: the Boolean value of true or false to indicate the maintenance state.
        readOnly: true
        type: boolean
      state:
        description: the subscription state.
        enum:
          - Registered
          - Suspended
          - Deleted
          - Unregistered
          - Warned
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SubscriptionState
      subscriptionId:
        description: the subscription credentials that uniquely identifies the subscription.
        format: uuid
        readOnly: true
        type: string
  CheckNameAvailabilityParameters:
    description: Data Lake Store account name availability check parameters
    properties:
      name:
        description: the Data Lake Store name to check availability for.
        type: string
      type:
        description: 'the Resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts'
        enum:
          - Microsoft.DataLakeStore/accounts
        type: string
    required:
      - name
      - type
  DataLakeStoreAccount:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Data Lake Store account information
    properties:
      identity:
        $ref: '#/definitions/EncryptionIdentity'
        description: 'The Key Vault encryption identity, if any.'
      properties:
        $ref: '#/definitions/DataLakeStoreAccountProperties'
        description: the Data Lake Store account properties.
        x-ms-client-flatten: true
  DataLakeStoreAccountBasic:
    allOf:
      - $ref: '#/definitions/Resource'
    description: 'Basic Data Lake Store account information, returned on list calls.'
    properties:
      properties:
        $ref: '#/definitions/DataLakeStoreAccountPropertiesBasic'
        description: the basic Data Lake Store account properties.
        x-ms-client-flatten: true
  DataLakeStoreAccountListResult:
    description: Data Lake Store account list information response.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: '#/definitions/DataLakeStoreAccountBasic'
        readOnly: true
        type: array
  DataLakeStoreAccountProperties:
    allOf:
      - $ref: '#/definitions/DataLakeStoreAccountPropertiesBasic'
    description: Data Lake Store account properties information
    properties:
      currentTier:
        description: the commitment tier in use for the current month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      defaultGroup:
        description: the default owner group for all new folders and files created in the Data Lake Store account.
        type: string
      encryptionConfig:
        $ref: '#/definitions/EncryptionConfig'
        description: The Key Vault encryption configuration.
      encryptionProvisioningState:
        description: The current state of encryption provisioning for this Data Lake store account.
        enum:
          - Creating
          - Succeeded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionProvisioningState
      encryptionState:
        description: The current state of encryption for this Data Lake store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionState
      firewallAllowAzureIps:
        description: 'The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.'
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this Data Lake store account.
        items:
          $ref: '#/definitions/FirewallRule'
        type: array
      firewallState:
        description: The current state of the IP address firewall for this Data Lake store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      newTier:
        description: the commitment tier to use for next month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      trustedIdProviderState:
        description: The current state of the trusted identity provider feature for this Data Lake store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: TrustedIdProviderState
      trustedIdProviders:
        description: The list of trusted identity providers associated with this Data Lake store account.
        items:
          $ref: '#/definitions/TrustedIdProvider'
        type: array
  DataLakeStoreAccountPropertiesBasic:
    description: The basic account specific properties that are associated with an underlying Data Lake Store account.
    properties:
      accountId:
        description: The unique identifier associated with this Data Lake Store account.
        format: uuid
        readOnly: true
        type: string
      creationTime:
        description: the account creation time.
        format: date-time
        readOnly: true
        type: string
      endpoint:
        description: the full CName endpoint for this account.
        readOnly: true
        type: string
      lastModifiedTime:
        description: the account last modified time.
        format: date-time
        readOnly: true
        type: string
      provisioningState:
        description: the provisioning status of the Data Lake Store account.
        enum:
          - Failed
          - Creating
          - Running
          - Succeeded
          - Patching
          - Suspending
          - Resuming
          - Deleting
          - Deleted
          - Undeleting
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeStoreAccountStatus
      state:
        description: the state of the Data Lake Store account.
        enum:
          - Active
          - Suspended
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeStoreAccountState
  DataLakeStoreAccountUpdateParameters:
    description: Data Lake Store account information to update
    properties:
      properties:
        $ref: '#/definitions/UpdateDataLakeStoreAccountProperties'
        description: the Data Lake Store account properties to update.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  DataLakeStoreFirewallRuleListResult:
    description: Data Lake Store firewall rule list information.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: '#/definitions/FirewallRule'
        readOnly: true
        type: array
  DataLakeStoreTrustedIdProviderListResult:
    description: Data Lake Store trusted identity provider list information.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: '#/definitions/TrustedIdProvider'
        readOnly: true
        type: array
  EncryptionConfig:
    description: The encryption configuration for the account.
    properties:
      keyVaultMetaInfo:
        $ref: '#/definitions/KeyVaultMetaInfo'
        description: The Key Vault information for connecting to user managed encryption keys.
      type:
        description: The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'.
        enum:
          - UserManaged
          - ServiceManaged
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionConfigType
    required:
      - type
  EncryptionIdentity:
    description: The encryption identity properties.
    properties:
      principalId:
        description: The principal identifier associated with the encryption.
        format: uuid
        readOnly: true
        type: string
      tenantId:
        description: The tenant identifier associated with the encryption.
        format: uuid
        readOnly: true
        type: string
      type:
        description: The type of encryption being used. Currently the only supported type is 'SystemAssigned'.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionIdentityType
    required:
      - type
  ErrorDetails:
    description: Data Lake Store error details information
    properties:
      code:
        description: the HTTP status code or error code associated with this error
        readOnly: true
        type: string
      message:
        description: the error message localized based on Accept-Language
        readOnly: true
        type: string
      target:
        description: 'the target of the particular error (for example, the name of the property in error).'
        readOnly: true
        type: string
  FirewallRule:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Data Lake Store firewall rule information
    properties:
      properties:
        $ref: '#/definitions/FirewallRuleProperties'
        description: the properties of the firewall rule.
        x-ms-client-flatten: true
    required:
      - properties
  FirewallRuleProperties:
    description: Data Lake Store firewall rule properties information
    properties:
      endIpAddress:
        description: the end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
      startIpAddress:
        description: the start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
    required:
      - startIpAddress
      - endIpAddress
  KeyVaultMetaInfo:
    description: Metadata information used by account encryption.
    properties:
      encryptionKeyName:
        description: The name of the user managed encryption key.
        type: string
      encryptionKeyVersion:
        description: The version of the user managed encryption key.
        type: string
      keyVaultResourceId:
        description: The resource identifier for the user managed Key Vault being used to encrypt.
        type: string
    required:
      - keyVaultResourceId
      - encryptionKeyName
      - encryptionKeyVersion
  NameAvailabilityInformation:
    description: Data Lake Store account name availability result information
    properties:
      message:
        description: 'the message describing why the Data Lake Store account name is not available, if nameAvailable is false.'
        readOnly: true
        type: string
      nameAvailable:
        description: the Boolean value of true or false to indicate whether the Data Lake Store account name is available or not.
        readOnly: true
        type: boolean
      reason:
        description: 'the reason why the Data Lake Store account name is not available, if nameAvailable is false.'
        readOnly: true
        type: string
  Operation:
    description: An available operation for Data Lake Store
    properties:
      display:
        $ref: '#/definitions/OperationDisplay'
        description: the display information for the operation.
      name:
        description: the name of the operation.
        readOnly: true
        type: string
      origin:
        description: the intended executor of the operation.
        enum:
          - user
          - system
          - 'user,system'
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperationOrigin
  OperationDisplay:
    description: The display information for a particular operation
    properties:
      description:
        description: a friendly description of the operation.
        readOnly: true
        type: string
      operation:
        description: a friendly name of the operation.
        readOnly: true
        type: string
      provider:
        description: the Resource provider of the operation.
        readOnly: true
        type: string
      resource:
        description: the Resource type of the operation.
        readOnly: true
        type: string
  OperationListResult:
    description: The list of available operations for Data Lake Store
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation.
        items:
          $ref: '#/definitions/Operation'
        readOnly: true
        type: array
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  SubResource:
    description: The Resource model definition for a nested resource.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      name:
        description: Resource name
        type: string
      type:
        description: Resource type
        readOnly: true
        type: string
  TrustedIdProvider:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Data Lake Store Trusted Identity Provider information
    properties:
      properties:
        $ref: '#/definitions/TrustedIdProviderProperties'
        description: the properties of the trusted identity provider.
        x-ms-client-flatten: true
    required:
      - properties
  TrustedIdProviderProperties:
    description: Data Lake Store trusted identity provider properties information
    properties:
      idProvider:
        description: The URL of this trusted identity provider
        type: string
    required:
      - idProvider
  UpdateDataLakeStoreAccountProperties:
    description: Data Lake Store account properties information to be updated.
    properties:
      defaultGroup:
        description: the default owner group for all new folders and files created in the Data Lake Store account.
        type: string
      encryptionConfig:
        $ref: '#/definitions/UpdateEncryptionConfig'
        description: Used for rotation of user managed Key Vault keys. Can only be used to rotate a user managed encryption Key Vault key.
      firewallAllowAzureIps:
        description: 'The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.'
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallState:
        description: 'The current state of the IP address firewall for this Data Lake store account. Disabling the firewall does not remove existing rules, they will just be ignored until the firewall is re-enabled.'
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      newTier:
        description: the commitment tier to use for next month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      trustedIdProviderState:
        description: 'The current state of the trusted identity provider feature for this Data Lake store account. Disabling trusted identity provider functionality does not remove the providers, they will just be ignored until this feature is re-enabled.'
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: TrustedIdProviderState
  UpdateEncryptionConfig:
    description: The encryption configuration used to update a user managed Key Vault key.
    properties:
      keyVaultMetaInfo:
        $ref: '#/definitions/UpdateKeyVaultMetaInfo'
        description: The updated Key Vault key to use in user managed key rotation.
  UpdateFirewallRuleParameters:
    description: Data Lake Store firewall rule update parameters
    properties:
      properties:
        $ref: '#/definitions/UpdateFirewallRuleProperties'
        description: the properties of the firewall rule to update.
        x-ms-client-flatten: true
  UpdateFirewallRuleProperties:
    description: Data Lake Store firewall rule properties information
    properties:
      endIpAddress:
        description: the end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
      startIpAddress:
        description: the start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
  UpdateKeyVaultMetaInfo:
    description: The Key Vault update information used for user managed key rotation.
    properties:
      encryptionKeyVersion:
        description: The version of the user managed encryption key to update through a key rotation.
        type: string
  UpdateTrustedIdProviderParameters:
    description: Data Lake Store Trusted Identity Provider update parameters
    properties:
      properties:
        $ref: '#/definitions/UpdateTrustedIdProviderProperties'
        description: the properties of the trusted identity provider to update.
        x-ms-client-flatten: true
  UpdateTrustedIdProviderProperties:
    description: Data Lake Store trusted identity provider property update information
    properties:
      idProvider:
        description: The URL of this trusted identity provider
        type: string
