openapi: 3.0.0
servers:
  - description: Production URL for the UK API
    url: https://uk.api.just-eat.io/
  - description: Production URL for the DK, ES, IE, IT and NO API
    url: https://i18n.api.just-eat.io/
  - description: Production URL for the AU and NZ API
    url: https://aus.api.just-eat.io/
info:
  contact:
    x-twitter: JustEatUK
  description: >-
    # Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.

    How you interact with the API depends on the services you wish to interact with.

    ## Security

    ### HTTPS

    All api calls and callbacks require HTTPS. Your service will need a valid SSL certificate and be accessible via the standard SSL port (port 443).

    ## Making an API request

    Some API calls require an API key, to authenticate the partner calling the API.

    ```

    PUT https://uk-partnerapi.just-eat.io/orders/abcd1234 HTTP/1.1

    Authorization: JE-API-KEY abcd123456789

    ```

    Other calls require a user token in the form of a JWT.

    ```

    GET https://uk.api.just-eat.io/consumer/me/orders/uk HTTP/1.1

    Authorization: Bearer abcd123456789

    ```


    ## Date Formats

    ### Date and time formats

    All dates and times should use the [ISO 8601 standard for representation of dates and times](https://en.wikipedia.org/wiki/ISO_8601).


    #### For instance:

    * DueDateWithUtcOffset: `"2015-05-26T14:52:35.5444292+01:00"`
      - Local time: `14:52`
      - UTC time: `13:52`
      - UTC offset: `+1hr` (due to daylight time saving)
    * DueDateWithUtcOffset: `"2015-02-03T11:10:00.0000000+00:00"`
      - Local time: `11:10`
      - UTC time: `11:10`
      - UTC offset: `0` (no daylight time saving, local time is equivalent to UTC)

    Note that the offset may be for a timezone different to your own, so you should alway convert to your own local time for display purposes (e.g. on receipts and terminals).


    ### Callback timestamps

    Timestamps sent to Just Eat should be recorded as the current local time (including any changes needed to account for daylight saving) with an accompanying offset that shows the difference between the recorded local time and the current UTC time.


    If it is not possible to record timestamps in local time, timestamps may be recorded in UTC time with a 00:00 offset.

    ## Async Webhooks

    Some of the webhooks on the platform are configured as being 'async' webhooks. These are for long-running operations, and work as follows:
      1. Your webhook is invoked with a `?callback={returnUrl}` query string parameter. The `returnUrl` is a unique URL that you will need to send the async response to.
      2. Return an immediate `202 Accepted` response from the webhook endpoint, to indicate that you have received the request.
      3. Perform the long-running operation. This can be deemed either a _success_; or a _failure_.
      4. If the result is a _**success**_, return the following:
      ```
      POST {returnUrl} HTTP/1.1

      {
            "status": "Success",
            "message": "{successMessage}",
            "data": {}   // webhook-specific response object
      }
      ```
      5. Otherwise, if the result is a _**failure**_, return the following:
      ```
      POST {returnUrl} HTTP/1.1

      {
            "status": "Failure",
            "message": "{failureMessage}",
            "data": {}   // webhook-specific response object
      }
      ```
  title: Just Eat UK
  version: 1.0.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://twitter.com/JustEatUK/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://uk.api.just-eat.io/docs/openapi.json
      version: "3.0"
  x-providerName: just-eat.co.uk
  x-preferred: true
paths:
  /acceptance-requested:
    post:
      description: This webhook will be invoked whenever acceptance has been requested for the order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/acceptance-requested"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Acceptance requested
      tags:
        - Order Acceptance Webhooks
        - publicly-accessible
  /attempted-delivery-query-resolved:
    put:
      description: This webhook will be invoked whenever an attempted delivery query has been resolved.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/attempted-delivery-resolved"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Attempted delivery query resolved
      tags:
        - Attempted Delivery Webhooks
        - publicly-accessible
      x-status: Stable
  "/consumers/{tenant}":
    post:
      description: Creates a consumer for the given tenant.
      parameters:
        - description: The identifier for the tenant. The only supported tenants are uk, au and nz
          in: path
          name: tenant
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsumerCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerCreateResponse"
          description: Consumer created.
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Email is required.
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "403":
          content:
            application/json:
              example:
                errors:
                  - description: Not authorized to do this.
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Tenant not found
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: The specified tenant does not exist.
        "409":
          content:
            application/json:
              example:
                errors:
                  - description: Emai address already in use
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: The specified email already exists.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Create consumer
      tags:
        - Consumers
        - publicly-accessible
  /delivery-failed:
    put:
      description: This webhook will be invoked whenever an attempted delivery event is created from the device.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/attempted-delivery-created"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Delivery Attempt Failed
      tags:
        - Attempted Delivery Webhooks
        - publicly-accessible
  "/delivery-fees/{tenant}":
    get:
      description: Retrieve delivery fees for many restaurants. Returns fees and minimum order values required for delivery orders.
      parameters:
        - description: Tenant containing the restaurants.
          example: uk
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: Restaurant IDs which fees are requested for. e.g. ?restaurantIds=1,2,3,4
          example: 1,2,3,4
          explode: false
          in: query
          name: restaurantIds
          required: true
          schema:
            items:
              type: string
            maxItems: 200
            type: array
          style: form
        - description: Delivery date/time when fees are required (ISO8601 format).
          example: 2019-09-05T12:43:48.431Z
          in: query
          name: deliveryTime
          required: true
          schema:
            format: date-time
            type: string
        - description: Postcode or other location name identifying the location to which delivery is required. For use when precise location is not available. This will be removed in future in favour of location.
          example: BS1
          in: query
          name: zone
          required: false
          schema:
            type: string
        - description: Point to which delivery is required (latitude, longitude). Supply this where possible as support for zone-only based lookups will be removed in future.
          example: 51.3851513,-2.0841275
          explode: false
          in: query
          name: latlong
          required: false
          schema:
            items:
              format: double
              type: number
            maxItems: 2
            minItems: 2
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                flatRate:
                  summary: Single fee, with and without minimum order value
                  value:
                    restaurants:
                      - bands:
                          - fee: 250
                            minimumAmount: 1000
                        minimumOrderValue: 1000
                        restaurantId: "1234"
                      - bands:
                          - fee: 100
                            minimumAmount: 0
                        minimumOrderValue: 0
                        restaurantId: "5678"
                flatRateWithFreeTier:
                  summary: Single fee with minimum order value, and free delivery threshold
                  value:
                    restaurants:
                      - bands:
                          - fee: 250
                            minimumAmount: 1000
                          - fee: 0
                            minimumAmount: 2000
                        minimumOrderValue: 1000
                        restaurantId: "1234"
                threeTier:
                  summary: No minimum order value, three pricing tiers
                  value:
                    restaurants:
                      - bands:
                          - fee: 250
                            minimumAmount: 0
                          - fee: 100
                            minimumAmount: 10
                          - fee: 0
                            minimumAmount: 2000
                        minimumOrderValue: 0
                        restaurantId: "1234"
              schema:
                nullable: true
                properties:
                  restaurants:
                    description: Collection of restaurants for which delivery fees were found.
                    items:
                      $ref: "#/components/schemas/RestaurantDeliveryFees"
                    type: array
                type: object
          description: Success
        "400":
          description: Bad request
        "404":
          description: Not found
      summary: Get restaurant delivery fees
      tags:
        - DeliveryFee
        - publicly-accessible
  /delivery/estimate:
    get:
      deprecated: true
      description: Get delivery estimate
      parameters:
        - description: The reference of the restaurant to estimate the delivery time from.
          in: query
          name: restaurantReference
          required: true
          schema:
            type: string
        - description: The latitude of the position to estimate the delivery time to.
          in: query
          name: toLat
          required: false
          schema:
            type: string
        - description: The longitude of the position to estimate the delivery time to.
          in: query
          name: toLon
          required: false
          schema:
            type: string
        - description: The postcode to estimate the delivery time to.
          in: query
          name: toPostcode
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/estimated-delivery-time"
          description: OK
      summary: Get delivery estimate
      tags:
        - Order Delivery API
        - publicly-accessible
  /delivery/pools:
    get:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    b9c6673b8e5948b98cfbd14a982de2c2:
                      name: Toronto - East
                      restaurants:
                        - 789
                    d5f72466a6dd49a08166d5a044c5b9e4:
                      name: Toronto - West
                      restaurants:
                        - 123
                        - 456
              schema:
                properties:
                  delivery-pool-id:
                    properties:
                      name:
                        description: The name of the pool, used by operations teams, in reports, etc.
                        type: string
                      restaurants:
                        description: A list of Just Eat restaurant ids served by the delivery pool.
                        items:
                          format: int32
                          type: number
                        type: array
                    type: object
                type: object
          description: OK
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Get your delivery pools
      tags:
        - Delivery Pools API
        - publicly-accessible
    post:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create-delivery-pool"
        required: true
      responses:
        "201":
          description: Pool has been created.
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - "'Name' should not be empty"
          description: There was something invalid in your request - check response body for details
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Create a new delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
  "/delivery/pools/{deliveryPoolId}":
    delete:
      description: The restaurants will no longer be associated with the pool.
      responses:
        "200":
          description: Pool deleted
        "404":
          description: The pool could not be found
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Delete a delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
    get:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                      - 123
                      - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: OK
        "404":
          description: The pool could not be found
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Get an individual delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
    parameters:
      - description: Identifier for the pool
        in: path
        name: deliveryPoolId
        required: true
        schema:
          type: string
    patch:
      description: Modify a delivery pool, changing its name, restaurants or both
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patch-delivery-pool"
        description: Request body should contain an object with either or both of the properties. If a property is not specified then the existing values are retained.
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - North
                    restaurants:
                      - 123
                      - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: Pool has been updated
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - "'Name' should not be empty"
          description: There was something invalid in your request - check response body for details
        "404":
          description: The pool could not be found
        "409":
          content:
            text/plain:
              examples:
                response:
                  value: "Restaurant(s) are already assigned to pools : {RestaurantId:55474, PoolId:cccebb96452349b799b71a7adc51df66}"
          description: A restaurant in your request already belongs to another pool
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Modify a delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
    put:
      description: Replace an existing delivery pool changing all of its properties
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create-delivery-pool"
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                      - 123
                      - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: Pool has been replaced
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - "'Name' should not be empty"
          description: There was something invalid in your request - check response body for details
        "404":
          description: The pool could not be found
        "409":
          content:
            text/plain:
              examples:
                response:
                  value: "Restaurant(s) are already assigned to pools : {RestaurantId:55474, PoolId:cccebb96452349b799b71a7adc51df66}"
          description: A restaurant in your request already belongs to another pool
        "500":
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Replace an existing delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
  "/delivery/pools/{deliveryPoolId}/availability/relative":
    get:
      description: Get the current amount of time it will take a driver to collect a new order from a restaurant in the pool.
      responses:
        "200":
          content:
            application/json:
              examples:
                request:
                  value:
                    bestGuess: 00:35:00
              schema:
                properties:
                  bestGuess:
                    description: Your best estimation (hh:mm:ss)
                    type: string
                type: object
          description: OK
        "404":
          description: The pool could not be found
      summary: Get availability for pickup
      tags:
        - Delivery Pools API
        - publicly-accessible
    parameters:
      - description: Identifier for the pool
        in: path
        name: deliveryPoolId
        required: true
        schema:
          type: string
    put:
      description: Set the average amount of time it will take a driver to collect a new order from a restaurant in the pool.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/estimated-time"
        required: true
      responses:
        "202":
          description: Update will take effect shortly
        "404":
          description: The pool could not be found
      summary: Set availability for pickup
      tags:
        - Delivery Pools API
        - publicly-accessible
  "/delivery/pools/{deliveryPoolId}/hours":
    parameters:
      - description: Identifier for the pool
        in: path
        name: deliveryPoolId
        required: true
        schema:
          type: string
    put:
      description: Set the daily start and end times for a pool or set closed flag if the pool does not operate on that day. Start and end times for all days must be provided. Though the API accepts array of start and end times for each day, multiple start and end time for a day are not accepted. If the end time for a day is equal to or before start time, end time will be considered as time for the next day.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-pool-hours"
        required: true
      responses:
        "200":
          description: Pool hours have been updated
        "404":
          description: The pool could not be found
      summary: Set the delivery pools daily start and end times
      tags:
        - Delivery Pools API
        - publicly-accessible
  "/delivery/pools/{deliveryPoolId}/restaurants":
    delete:
      description: Remove restaurants from a delivery pool
      requestBody:
        content:
          application/json:
            schema:
              example:
                restaurants:
                  - 123
                  - 456
              properties:
                restaurants:
                  description: A list of Just Eat restaurant ids served by the delivery pool.
                  items:
                    format: int32
                    type: number
                  type: array
              type: object
        required: true
      responses:
        "200":
          description: Pool has been updated
        "400":
          description: There was something invalid in your request - check response body for details
        "404":
          description: The pool could not be found
      summary: Remove restaurants from a delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
    parameters:
      - description: Identifier for the pool
        in: path
        name: deliveryPoolId
        required: true
        schema:
          type: string
    put:
      description: Add additional restaurants to a delivery pool
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    restaurants:
                      - 123
                      - 456
              schema:
                $ref: "#/components/schemas/delivery-restaurantslist"
          description: OK
        "400":
          description: There was something invalid in your request - check response body for details
        "404":
          description: The pool could not be found
        "409":
          description: The restaurants could not be added to the pool. Typically this is because they are already assigned to another pool
      summary: Add restaurants to an existing delivery pool
      tags:
        - Delivery Pools API
        - publicly-accessible
  /driver-assigned-to-delivery:
    put:
      description: Driver Assigned to Delivery
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-status"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver Assigned to Delivery
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /driver-at-delivery-address:
    put:
      description: Driver at delivery address
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-status"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver at delivery address
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /driver-at-restaurant:
    put:
      description: Driver at restaurant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-status"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver at restaurant
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /driver-has-delivered-order:
    put:
      description: Driver has delivered order
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-status"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver has delivered order
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /driver-location:
    put:
      description: Driver Location
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-location"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver Location
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /driver-on-their-way-to-delivery-address:
    put:
      description: Driver on their way to delivery address
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/driver-status"
        required: true
      responses:
        "200":
          description: OK
      summary: Driver on their way to delivery address
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /late-order-compensation-query:
    post:
      description: This webhook will be invoked when a late order compensation query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/late-order-compensation-query"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification
      summary: late order compensation query, restaurant response required
      tags:
        - Consumer Queries Webhooks
        - publicly-accessible
  /late-order-query:
    post:
      description: This webhook will be invoked when a late order query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/late-order-query"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: late order query, restaurant response required
      tags:
        - Consumer Queries Webhooks
        - publicly-accessible
  /menu-ingestion-complete:
    post:
      description: Callback to confirm that an attempt to ingest a menu has completed either successfully or unsuccessfully
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/menu-ingestion-complete"
        required: true
      responses:
        "200":
          description: OK
      summary: Menu ingestion complete
      tags:
        - Restaurant Webhooks
        - publicly-accessible
  /order-accepted:
    post:
      description: This webhook will be invoked whenever the order was accepted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-accepted"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order accepted
      tags:
        - Order Acceptance Webhooks
        - publicly-accessible
  /order-cancelled:
    post:
      description: This webhook will be invoked whenever the order was cancelled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-cancelled"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order cancelled
      tags:
        - Order Acceptance Webhooks
        - publicly-accessible
  /order-eligible-for-restaurant-compensation:
    post:
      description: >
        This webhook will be invoked for every cancelled order and it will inform if the order is eligible for compensation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderEligibleForRestaurantCompensation"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order Eligible For Restaurant Compensation
      tags:
        - RestaurantQueries Webhooks
        - publicly-accessible
  /order-is-ready-for-pickup:
    put:
      description: <p>The "Ready for pickup" event lets the delivery partner know that the food has been cooked and is now ready for collection up from the restaurant.</p><p>When this event is received, it is important that you let your driver know that the order should now be collected from inside the restaurant. For example, this driver notification could take the form of an in-app notification or an SMS message.</p><p>This communication is needed to support restaurants who are unable to accommodate drivers inside their premises, as it allows restaurants to notify drivers waiting outside that they should come inside to collect their order.</p><p>NB&semi; This event can be sent by the restaurant at any point after the order is accepted by the restaurant (for instance, this event may be sent before the driver has arrived at the restaurant).</p>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ready-for-pickup"
        required: true
      responses:
        "200":
          description: Upon successful receipt of the event, delivery partners should return a 200 HTTP status code indicating acknowledgement of transmission.
        default:
          content:
            application/json:
              schema:
                properties:
                  Details:
                    type: string
                  Message:
                    type: string
                  OrderId:
                    type: string
                  Timestamp:
                    format: date-time
                    type: string
                type: object
          description: In the unlikely case of unknown errors, JUST EAT will log a raw response. If possible, the response should have the following format
      summary: Order ready for pickup
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /order-ready-for-preparation-async:
    post:
      description: >
        This webhook will be invoked when we have determined that an order is ready for preparation. Upon receiving the request, you should perform any preparation-related activities, such as sending the order to the POS system / kitchen screen.

        **NOTE:** This version of the webhook is asynchronous, and we expect a response in two parts:
          1. We expect an immediate `202` response from this webhook to denote that you have received the request;
          2. Following that, we expect an [async callback](#section/Async-Webhooks) - indicating either success or failure of the operation. The body for the async callbacks are as below:
          
          **Success callback**
          ```
          {
                "status": "Success",
                "message": "Order successfully sent to POS",
                "data": {}
          }
          ```
          **Failure callback**
          ```
          {
                "status": "Failure",
                "message": "{errorMessage}",   // e.g. "The POS is currently in use"
                "data": {}
          }
          ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-ready-for-preparation"
        required: true
      responses:
        "202":
          description: Upon successful receipt of this event, a `202` status code should be returned, indicating the request has been accepted. You should then later respond with the result of processing this request, via the [callback URL](#section/Async-Webhooks) endpoint.
        "400":
          description: "Should the initial validation of the order fail, return a `400` status code. NOTE: In this instance we do not also expect a failure callback via the async callback URL."
      summary: Order ready for preparation (async)
      tags:
        - Order Webhooks
        - publicly-accessible
  /order-ready-for-preparation-sync:
    post:
      description: >
        This webhook will be invoked when we have determined that an order is ready for preparation. Upon receiving the request, you should perform any preparation-related activities, such as sending the order to the POS system / kitchen screen.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-ready-for-preparation"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order ready for preparation (sync)
      tags:
        - Order Webhooks
        - publicly-accessible
  /order-rejected:
    post:
      description: This webhook will be invoked whenever the order was rejected.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-rejected"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order rejected
      tags:
        - Order Acceptance Webhooks
        - publicly-accessible
  /order-requires-delivery-acceptance:
    put:
      description: This webhook will be invoked when we have determined that an order is required acceptance for delivery. Upon receiving the request, the order should be scheduled for pickup by a courier/driver. We expect an immediate `201` response from this webhook to denote that you have received the request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/connectorder-list"
        required: true
      responses:
        "201":
          description: In the event of successful handling of the request, a 201 status code should be returned, indicating acknowledgement of transmission success.
        default:
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          description: <p>Each code should be selected from the following list of valid reasons.</p><table><tr><th>code</th><th>explantation</th></tr><tr><td>outside_hours</td><td>Delivery partner is closed and not accepting requests.</td></tr><tr><td>too_busy</td><td>Delivery partner does not have enough capacity to accept this request.</td></tr><tr><td>too_far</td><td>The customer is too far away from the restaurant, either by time or distance.</td></tr><tr><td>not_supported</td><td>Delivery partner is currently unable to deliver to the customer's location.</td></tr><tr><td>bad_address</td><td>The order contains an address that could not be processed or understood.</td></tr><tr><td>bad_request</td><td>The order format is invalid or the order contains required data or information that cannot be processed.</td></tr><tr><td>restaurant_not_configured</td><td>Delivery partner is not configured to accept requests for given restaurant.</td></tr><tr><td>duplicate</td><td>The request has already been processed before.</td></tr><tr><td>other</td><td>Any validation failure or unexpected error not covered by the above codes.</td></tr></table>
                          enum:
                            - outside_hours
                            - too_busy
                            - too_far
                            - not_supported
                            - bad_address
                            - bad_request
                            - restaurant_not_configured
                            - duplicate
                            - other
                          type: string
                        message:
                          description: <p>The accompanying message should, in each case, provide an explanation of the specific problem that was experienced.</p><br/><p>Please note that the accompanying explanatory text are part of the code is only intended as an explanation of each reason code - and should not be returned to us as the message.</p>
                          type: string
                      type: object
                    type: array
                type: object
          description: In the case that the order cannot be accepted, an appropriate HTTP status code, such as 400 (Bad request) or 500 (Internal server error) should be returned.  In addition to the HTTP status code, a specific reason code and explanatory message should be provided within the response body
      summary: Order requires delivery acceptance
      tags:
        - Order Delivery Webhooks
        - publicly-accessible
  /order-time-updated:
    post:
      description: Callback to notify recipients that there has been a change to the restaurant order times for a given day and service type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-time-updated"
        required: true
      responses:
        "200":
          description: OK
      summary: Order time updated
      tags:
        - Restaurant Webhooks
        - publicly-accessible
  /orders:
    post:
      description: Create order
      parameters:
        - example:
            x-je-api-version: 2
          in: header
          name: x-je-api-version
          required: false
          schema:
            default: 1
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-request-v2"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  OrderId:
                    type: string
                type: object
          description: Created
        "400":
          description: Request has failed validation in some way - see response body for details
        "409":
          content:
            application/json:
              schema:
                properties:
                  OrderId:
                    type: string
                type: object
          description: Conflict - you've already told us about an order with this OrderReference
      summary: Create order
      tags:
        - Order API
        - publicly-accessible
  /orders/deliverystate/driverlocation:
    put:
      description: Current driver location (bulk upload)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bulk-delivery-details-list"
        required: true
      responses:
        "200":
          description: OK
      summary: Update current driver locations (bulk upload)
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/accept":
    put:
      description: Call when an order has been accepted. An order can only be accepted if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-accept-request"
        required: true
      responses:
        "200":
          description: OK
        "404":
          description: Order could not be found
        "409":
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Accept order
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{orderId}/cancel":
    put:
      description: Call when an order has been cancelled by Ops. Cancelling an order overrides any previous accept/reject calls. This should not be used for restaurant rejection but only from Ops involvement
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-cancel-request"
        required: true
      responses:
        "200":
          description: OK
        "404":
          description: Order could not be found
      summary: Cancel order
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/atdeliveryaddress":
    put:
      description: <p>The _at delivery address_ callback should be sent when the driver thinks that they have arrived at the specified delivery address.</p><p>NB&semi; This callback should be distinct from the delivered callback, as Just Eat use this callback to understand how much time is spent locating the customer's address.</p>
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-details"
        required: true
      responses:
        "200":
          description: OK
      summary: Update order with driver at delivery address details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/atrestaurant":
    put:
      description: The _at restaurant_ callback should be sent when the driver arrives at the restaurant and is ready to collect the order.
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-driver-details-with-eta"
        required: true
      responses:
        "200":
          description: OK
      summary: Update order with driver at restaurant details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/atrestauranteta":
    put:
      description: <p>In the UK, this endpoint updates the estimated arrival time at the restaurant. This value can be overridden from other endpoints like <a href="https://uk.api.just-eat.io/docs#tag/Order-Delivery-API/paths/~1orders~1{orderId}~1deliverystate~1driverlocation/put">Driver Locations</a> </p> <p> This endpoint should be used to set initial at restaurant ETAs prior to driver assignment where available. The earlier a delivery partner is able to provide an estimate of when the driver will arrive at the restaurant the more likely it is that driver arrival and order preparation will be aligned. </p> <p> In other tenants (Not UK):Note that if set for a given order, this Eta will NOT be overridden by any other at restaurant Etas provided in DriverAssigned or DriverLocation requests</p> <p>This value is significant since it informs when a restaurant is instructed to start preparing food. When the time remaining between current time and the estimated time of arrival becomes less than the restaurant's configured preparation time, food preparation is initiated</p>
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/eta-estimate"
        required: true
      responses:
        "200":
          description: OK
      summary: Update the driver's estimated time to arrive at the Restaurant
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/delivered":
    put:
      description: The _delivered_ callback should be sent when the driver has handed the food to the customer and completed the order.
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-details"
        required: true
      responses:
        "200":
          description: OK
      summary: Update order with delivered details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/driverassigned":
    put:
      description: The _driver assigned_ callback should be sent when a driver is assigned to the order. It should communicate important details about the driver - and also an estimated time for the driver to arrive at the restaurant and delivery address.
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-driver-assigned-details"
        required: true
      responses:
        "200":
          description: OK
      summary: Update order with driver assigned details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/driverlocation":
    put:
      description: <p>Just Eat requires all delivery partners to send regular driverlocation callbacks, that record the GPS location of the drivers assigned to each order</p><p>Partners should aim to supply this callback approximately every 10 seconds.</p><p>Please provide an up-to-date ETA for when the driver will reach the restaurant in this request - this value is significant since it informs when a restaurant is instructed to start preparing food - when the time remaining between current time and the estimated time of arrival becomes less than the restaurant's configured preparation time, food preparation is initiated</p><p>Note that at restaurant Eta provided in this request will NOT override any ETA set in the Driver At Restaurant Eta request</p>
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-driver-location"
        required: true
      responses:
        "200":
          description: OK
      summary: Update the driver's current location
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/driverunassigned":
    put:
      description: The _driver unassigned_ callback should be sent when a driver is unassigned from the order. It may details about the reason for cancelling the assignment, the driver details, and any newer at restaurant and customer estimations.
      parameters:
        - description: Just Eat order identifier
          in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/delivery-driver-unassigned-details"
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              example:
                partnerId:
                  - Partner id was not found or could not be parsed
              schema:
                $ref: "#/components/schemas/extensibleObject"
          description: Bad Request.
      summary: Update order with driver unassigned details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/deliverystate/onitsway":
    put:
      description: The _on its way_ callback should be sent when the driver departs the restaurant with the customer's order. It should contain an ETA that records when the driver expects to arrive at the customer's address.
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/on-its-way-details"
        required: true
      responses:
        "200":
          description: OK
      summary: Update order with driver on its way details
      tags:
        - Order Delivery API
        - publicly-accessible
  "/orders/{orderId}/duedate":
    put:
      description: >
        Use this to update the estimated time of arrival for an order (i.e. when you expect the customer to receive the food). NOTE: An initial estimate is given [upon acceptance](#/paths/~1orders~1{orderId}~1accept/put). This endpoint can be used to update that estimate.
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-due-date-request"
        required: true
      responses:
        "200":
          description: OK
        "400":
          description: The due date is missing, or out of range (either in the past, or > 7 days in the future).
        "404":
          description: The order could not be found.
      summary: Update order ETA
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{orderId}/ignore":
    put:
      description: Call when an order has been ignored by restaurant. An order can only be ignored if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "404":
          description: Order could not be found
        "409":
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Ignore order
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{orderId}/reject":
    put:
      description: Call when an order has been rejected. An order can only be rejected if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-reject-request"
        required: true
      responses:
        "200":
          description: OK
        "404":
          description: Order could not be found
        "409":
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Reject order
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{orderId}/status":
    put:
      description: Set Order status
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
        - in: query
          name: partnerId
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order-status-request"
        required: true
      responses:
        "200":
          description: OK
      summary: Set Order status
      tags:
        - Order Acceptance API
        - publicly-accessible
  "/orders/{tenant}/{orderId}/consumerqueries/lateorder/restaurantresponse":
    post:
      description: If a customer has requested an update on the status of a late order, a response can be given by calling this endpoint.
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: Id for the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
        - description: Containing a partner issued API key e.g. JE-API-KEY ABCDE123456789
          in: header
          name: Authorization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              additionalDeliveryTimeToAddMinutes: 5
              lateOrderStatus: OnItsWay
            schema:
              $ref: "#/components/schemas/LateOrderRestaurantResponse"
        description: An object for updating the status of a late order query with the amount of time to add to the delivery estimate in minutes (optional)
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Justification notes are required for this query. Query Type:type Tenant:tenant QueryId:queryId OrderId:orderId
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad Request. Returned if the request is invalid i.e. missing a required parameters
        "401":
          content:
            application/json:
              example:
                errors:
                  - description: Unauthorized.
                    errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Unauthorized. Consumer is not authorized to modify the resource
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Order 1234 was not found
                    errorCode: NotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Not Found. Order query or Order not found
        "409":
          content:
            application/json:
              example:
                errors:
                  - description: Query 1234 cannot be responded to at this time
                    errorCode: Conflict
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Conflict. Query not in state to accept response
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Response to Late Order Update Request
      tags:
        - ConsumerQueries
        - publicly-accessible
  "/orders/{tenant}/{orderId}/consumerqueries/lateordercompensation/restaurantresponse":
    post:
      description: If a customer has requested compensation for a late order, a restaurant response is given by calling this endpoint.
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: Id for the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
        - description: Containing a partner issued API key e.g. JE-API-KEY ABCDE123456789
          in: header
          name: Authorization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LateOrderCompensationRestaurantResolution"
        description: The restaurant response to a late order compensation request. Indicates either a monetary amount (when the compensation is accepted); or a rejection reason (when compensation is rejected).
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: A reason is required when compensation is rejected.
                    errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad Request. Returned if the request is invalid - e.g. contains missing or invalid parameters.
        "401":
          content:
            application/json:
              example:
                errors:
                  - description: Unauthorized.
                    errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Unauthorized. Consumer is not authorized to modify the resource
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Order 1234 was not found
                    errorCode: NotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Not Found. Order query or Order not found
        "409":
          content:
            application/json:
              example:
                errors:
                  - description: Query 1234 cannot be responded to at this time
                    errorCode: Conflict
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Conflict. Query not in state to accept response
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Update late order compensation request with Restaurant response
      tags:
        - ConsumerQueries
        - publicly-accessible
      x-status: Unstable
  "/orders/{tenant}/{orderId}/restaurantqueries/compensation":
    post:
      description: When an order is cancelled the restaurant might be eligible for compensation, this endpoint allows a request for compensation to be created.
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: Id for the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
        - description: Containing a partner issued API key e.g. JE-API-KEY ABCDE123456789
          in: header
          name: Authorization
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRestaurantCompensationQuery"
        description: An object for providing the reason that the compensation is being created
        required: true
      responses:
        "201":
          description: Created
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: The value provided in the field ReasonCode is invalid
                    errorCode: InvalidReasonCode
                  - description: Comments field is too long, max 1000
                    errorCode: CommentsTooLong
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad Request - returned if providing invalid data such as an unacceptable reason code
        "401":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid credentials
                    errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Unauthorized - consumer has not provided the necessary credentials
        "403":
          content:
            application/json:
              example:
                errors:
                  - description: The credentials provided doesn't have permissions to perform the request
                    errorCode: Forbidden
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Forbidden - credentials provided by consumer do not allow access to this resource
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource not found
                    errorCode: NotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Resource not found
        "409":
          content:
            application/json:
              example:
                errors:
                  - description: This order is not eligible for compensation
                    errorCode: OrderNotEligible
                  - description: A compensation request has already been requested for this order
                    errorCode: CompensationAlreadyExists
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Conflict - returned if tried to claim compensation for an order that is not eligible
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Create Compensation requests
      tags:
        - RestaurantQueries
        - publicly-accessible
  /redelivery-requested:
    put:
      description: This webhook will be invoked whenever the customer responds to the attempted delivery notification.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/attempted-delivery-response-received"
        required: true
      responses:
        "200":
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Customer Requested Redelivery
      tags:
        - Order Acceptance Webhooks
        - publicly-accessible
  /restaurant-offline-status:
    put:
      description: Callback to notify that a restaurant has been taken offline through an active Restaurant Event or there's been a change in whether the restaurant can override a previous offline status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantOfflineStatus"
        required: true
      responses:
        "200":
          description: OK
      summary: Restaurant Offline Status
      tags:
        - Restaurant Events Webhooks
        - publicly-accessible
  /restaurant-online-status:
    put:
      description: Callback to notify that a restaurant is now able to come back online as there are no longer any active offline Restaurant Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestaurantOfflineStatus"
        required: true
      responses:
        "200":
          description: OK
      summary: Restaurant Online Status
      tags:
        - Restaurant Events Webhooks
        - publicly-accessible
  /restaurants/bylatlong:
    get:
      description: Provides details of all restaurants that deliver to the specified location
      operationId: SearchByLocation
      parameters:
        - description: OAuth2 token issued for logged in consumer or API key issued to partner
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: A valid country code, e.g. "uk". Filter search results to only include restaurants for the specified country. Required when using OAuth for authentication.
          in: header
          name: Accept-Tenant
          required: false
          schema:
            type: string
        - description: Filter search results to only include restaurants that deliver to the specified location
          in: query
          name: latitude
          required: true
          schema:
            type: number
          x-position: 1
        - description: Filter search results to only include restaurants that deliver to the specified location
          in: query
          name: longitude
          required: true
          schema:
            type: number
          x-position: 2
        - description: Filter search results to only include restaurants that offer the specified cuisine
          in: query
          name: cuisine
          required: false
          schema:
            type: string
          x-position: 3
        - description: Filter search results to only include restaurants that have a name that matches the specified value
          in: query
          name: restaurantName
          required: false
          schema:
            type: string
          x-position: 4
        - description: Filter search results to only include restaurants of the specified brand
          in: query
          name: brandName
          required: false
          schema:
            type: string
          x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SearchResponse"
                  - $ref: "#/components/schemas/ExternalSearchResponse"
                  - $ref: "#/components/schemas/SearchWebResponse"
          description: OK
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                Message: The request is invalid.
                ModelState:
                  Longitude:
                    - The value 'nan' is not valid for Longitude.
              schema:
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: No API key found in request
              schema:
                type: object
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                ExceptionMessage: Object reference not set to an instance of an object.
                ExceptionType: System.NullReferenceException
                Message: An error has occurred.
                StackTrace: "   at JE.SearchOrchestrator.Controllers.Filters.CacheControlFilter.OnActionExecuted(HttpActionExecutedContext actionExecutedContext) in \\\\Mac\\Home\\Documents\\GitHub\\SearchOrchestrator\\src\\JE.SearchOrchestrator\\Controllers\\Filters\\CacheControlFilter.cs:line 18\r

                  \   at System.Web.Http.Filters.ActionFilterAttribute.OnActionExecutedAsync(HttpActionExecutedContext actionExecutedContext, CancellationToken cancellationToken)\r

                  --- End of stack"
              schema:
                type: object
          description: Server Error
      summary: Get restaurants by location
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Deprecated
  "/restaurants/bypostcode/{postcode}":
    get:
      description: Provides details of restaurants that deliver to the specified postcode
      operationId: SearchByPostcode
      parameters:
        - description: OAuth2 token issued for logged in consumer or API key issued to partner
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: A valid country code, e.g. "uk". Filter search results to only include restaurants for the specified country. Required when using OAuth for authentication.
          in: header
          name: Accept-Tenant
          required: false
          schema:
            type: string
        - description: Filter search results to only include restaurants that deliver to the specified postcode
          in: path
          name: postcode
          required: true
          schema:
            type: string
        - description: Filter search results to only include restaurants that offer the specified cuisine
          in: query
          name: cuisine
          required: false
          schema:
            type: string
          x-position: 1
        - description: Filter search results to only include restaurants that have a name that matches the specified value
          in: query
          name: restaurantName
          required: false
          schema:
            type: string
          x-position: 2
        - description: Filter search results to only include restaurants of the specified brand
          in: query
          name: brandName
          required: false
          schema:
            type: string
          x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SearchResponse"
                  - $ref: "#/components/schemas/ExternalSearchResponse"
                  - $ref: "#/components/schemas/SearchWebResponse"
          description: OK
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                Message: The request is invalid.
                ModelState:
                  Postcode:
                    - Invalid Postcode.
              schema:
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: No API key found in request
              schema:
                type: object
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                ExceptionMessage: Object reference not set to an instance of an object.
                ExceptionType: System.NullReferenceException
                Message: An error has occurred.
                StackTrace: "   at JE.SearchOrchestrator.Controllers.Filters.CacheControlFilter.OnActionExecuted(HttpActionExecutedContext actionExecutedContext) in \\\\Mac\\Home\\Documents\\GitHub\\SearchOrchestrator\\src\\JE.SearchOrchestrator\\Controllers\\Filters\\CacheControlFilter.cs:line 18\r

                  \   at System.Web.Http.Filters.ActionFilterAttribute.OnActionExecutedAsync(HttpActionExecutedContext actionExecutedContext, CancellationToken cancellationToken)\r

                  --- End of stack"
              schema:
                type: object
          description: Server Error
      summary: Get restaurants by postcode
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Deprecated
  "/restaurants/{tenant}/{restaurantId}/catalogue":
    get:
      description: Get details of the restaurant's product catalogue
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant Id.
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MenuBase"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No product catalogue found for given tenant and restaurantId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get product catalogue
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/availabilities":
    get:
      description: Get all availabilities on the restaurant's menu
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant Id.
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The maximum number of availabilities to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedAvailabilitiesResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No availabilities found for given tenant and restaurantId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all availabilities
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/categories":
    get:
      description: Get all categories on the restaurant's menu
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant Id.
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The maximum number of categories to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCategoriesResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No availabilities found for given tenant and restaurantId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all categories
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/categories/{categoryId}/items":
    get:
      description: Get all item IDs which are assigned to the specified category
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant ID.
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The category ID.
          in: path
          name: categoryId
          required: true
          schema:
            type: string
        - description: The maximum number of item IDs to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedCategoryItemsResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No availabilities found for given tenant and restaurantId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all category item IDs
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/items":
    get:
      description: Get all menu items on the restaurant's menu
      parameters:
        - description: Request tenant.
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant Id.
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The maximum number of menu items to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedMenuItemsResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No menu items found for given tenant and restaurantId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all menu items
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/items/{itemId}/dealgroups":
    get:
      description: Get all deal groups for the menu item with the provided ID
      parameters:
        - description: Request tenant
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant ID
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The menu item ID
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The maximum number of menu items to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedMenuDealGroupsResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk and itemId:534685 not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No deal groups found for given tenant, restaurantId and itemId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all menu item deal groups
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/items/{itemId}/dealgroups/{dealGroupId}/dealitemvariations":
    get:
      description: Get all deal item variations for the deal group with the specified ID, in the menu item with the specified ID
      parameters:
        - description: Request tenant
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant ID
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The menu item ID
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The menu item ID
          in: path
          name: dealGroupId
          required: true
          schema:
            type: string
        - description: The maximum number of menu items to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedDealItemVariationResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk for itemId:534685 and dealGroupId:463847 not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No deal item variations found for given tenant, restaurantId, itemId and dealGroupId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all deal item variations for a deal group
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/items/{itemId}/modifiergroups":
    get:
      description: Get all modifier groups for the menu item with the provided ID
      parameters:
        - description: Request tenant
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant ID
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The menu item ID
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The maximum number of menu items to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedMenuModifierGroupsResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk and itemId:534685 not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No modifier groups found for given tenant, restaurantId and itemId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all menu item modifier groups
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/catalogue/items/{itemId}/variations":
    get:
      description: Get all variations for the menu item with the provided ID
      parameters:
        - description: Request tenant
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: The restaurant ID
          in: path
          name: restaurantId
          required: true
          schema:
            type: string
        - description: The menu item ID
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The maximum number of menu items to fetch.
          in: query
          name: limit
          required: true
          schema:
            format: int32
            type: integer
        - description: Value representing a cursor - position to use when retrieving the next page of data. If provided, the value of this parameter must be URL encoded.
          in: query
          name: after
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedVariationsResponse"
          description: Request succeeded.
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        "400":
          content:
            application/json:
              example:
                errors:
                  - description: Invalid value 0 for parameter limit.
                faultId: e21a9947-4352-449f-a4dc-5e69d57b0c5f
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: Bad request.
        "404":
          content:
            application/json:
              example:
                errors:
                  - description: Resource with identifier restaurantId:95224345321 for tenant:uk and itemId:534685 not found.
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
              schema:
                $ref: "#/components/schemas/4XXErrorSchema"
          description: No variations found for given tenant, restaurantId and itemId.
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      summary: Get all menu item variations
      tags:
        - Restaurants
        - publicly-accessible
      x-status: Stable
  "/restaurants/{tenant}/{restaurantId}/customerclaims":
    get:
      description: Provides claims for a given restaurant with optional filtering
      parameters:
        - description: Two letter code indicating the tenant
          in: path
          name: tenant
          required: true
          schema:
            type: string
        - description: Just Eat restaurant identifier
[...]
