openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Numbers
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_numbers_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_numbers_v2
paths:
  /v2/RegulatoryCompliance/Bundles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Bundles for an account.
      operationId: ListBundle
      parameters:
        - description: The verification status of the Bundle resource.
          in: query
          name: Status
          schema:
            enum:
              - draft
              - pending-review
              - in-review
              - twilio-rejected
              - twilio-approved
              - provisionally-approved
            type: string
        - description: The string that you assigned to describe the resource.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The unique string of a regulation that is associated to the Bundle resource.
          in: query
          name: RegulationSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
        - description: The ISO country code of the Bundle's phone number country ownership request.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: The type of phone number of the Bundle's ownership request.
          in: query
          name: NumberType
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Bundle.
      operationId: CreateBundle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Bundle resource changes status.
                  type: string
                EndUserType:
                  description: The type of End User of the Bundle resource.
                  enum:
                    - individual
                    - business
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                IsoCountry:
                  description: The ISO country code of the Bundle's phone number country ownership request.
                  type: string
                NumberType:
                  description: The type of phone number of the Bundle's ownership request.
                  type: string
                RegulationSid:
                  description: The unique string of a regulation that is associated to the Bundle resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              required:
                - FriendlyName
                - Email
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - regulation_sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the Bundle resource.
      operationId: ListEvaluation
      parameters:
        - description: ""
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateEvaluation
      parameters:
        - description: ""
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties: {}
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: list
  "/v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: FetchEvaluation
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that identifies the Evaluation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: instance
  "/v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ObjectSid:
                  description: The SID of an object bag that holds information of the different items.
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
              required:
                - ObjectSid
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: list
  "/v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments/{Sid}":
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: instance
  "/v2/RegulatoryCompliance/Bundles/{Sid}":
    delete:
      description: Delete a specific Bundle.
      operationId: DeleteBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Bundle instance.
      operationId: FetchBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Updates a Bundle in an account.
      operationId: UpdateBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Bundle resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Status:
                  description: The verification status of the Bundle resource.
                  enum:
                    - draft
                    - pending-review
                    - in-review
                    - twilio-rejected
                    - twilio-approved
                    - provisionally-approved
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - regulation_sid
      - friendly_name
    x-path-type: instance
  /v2/RegulatoryCompliance/EndUserTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End-User Types.
      operationId: ListEndUserType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_user_types:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/EndUserTypes/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific End-User Type Instance.
      operationId: FetchEndUserType
      parameters:
        - description: The unique string that identifies the End-User Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: instance
  /v2/RegulatoryCompliance/EndUsers:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End User for an account.
      operationId: ListEndUser
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new End User.
      operationId: CreateEndUser
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  description: The type of end user of the Bundle resource - can be `individual` or `business`.
                  enum:
                    - individual
                    - business
                  type: string
              required:
                - FriendlyName
                - Type
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/EndUsers/{Sid}":
    delete:
      description: Delete a specific End User.
      operationId: DeleteEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific End User Instance.
      operationId: FetchEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing End User.
      operationId: UpdateEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: instance
  /v2/RegulatoryCompliance/Regulations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Regulations.
      operationId: ListRegulation
      parameters:
        - description: The type of End User the regulation requires - can be `individual` or `business`.
          in: query
          name: EndUserType
          schema:
            enum:
              - individual
              - business
            type: string
        - description: The ISO country code of the phone number's country.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: The type of phone number that the regulatory requiremnt is restricting.
          in: query
          name: NumberType
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/Regulations/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Regulation Instance.
      operationId: FetchRegulation
      parameters:
        - description: The unique string that identifies the Regulation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: instance
  /v2/RegulatoryCompliance/SupportingDocumentTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document Types.
      operationId: ListSupportingDocumentType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  supporting_document_types:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/SupportingDocumentTypes/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Supporting Document Type Instance.
      operationId: FetchSupportingDocumentType
      parameters:
        - description: The unique string that identifies the Supporting Document Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: instance
  /v2/RegulatoryCompliance/SupportingDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document for an account.
      operationId: ListSupportingDocument
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Supporting Document.
      operationId: CreateSupportingDocument
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Documents resource which are derived Supporting Document Types.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  description: The type of the Supporting Document.
                  type: string
              required:
                - FriendlyName
                - Type
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: list
  "/v2/RegulatoryCompliance/SupportingDocuments/{Sid}":
    delete:
      description: Delete a specific Supporting Document.
      operationId: DeleteSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Supporting Document Instance.
      operationId: FetchSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an existing Supporting Document.
      operationId: UpdateSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Document resource which are derived Supporting Document Types.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
    x-path-type: instance
components:
  schemas:
    numbers.v2.regulatory_compliance:
      properties: {}
      type: object
    numbers.v2.regulatory_compliance.bundle:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        email:
          type: string
        friendly_name:
          type: string
        links:
          type: object
        regulation_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RN[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - draft
            - pending-review
            - in-review
            - twilio-rejected
            - twilio-approved
            - provisionally-approved
          type: string
        status_callback:
          format: uri
          type: string
        url:
          format: uri
          type: string
        valid_until:
          format: date-time
          type: string
      type: object
    numbers.v2.regulatory_compliance.bundle.evaluation:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        bundle_sid:
          maxLength: 34
          minLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        regulation_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RN[0-9a-fA-F]{32}$
          type: string
        results:
          items:
            type: object
          type: array
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^EL[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - compliant
            - noncompliant
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.bundle.item_assignment:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        bundle_sid:
          maxLength: 34
          minLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        object_sid:
          maxLength: 34
          minLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^BV[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.end_user:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^IT[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - individual
            - business
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.end_user_type:
      properties:
        fields:
          items:
            type: object
          type: array
        friendly_name:
          type: string
        machine_name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^OY[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.regulation:
      properties:
        end_user_type:
          enum:
            - individual
            - business
          type: string
        friendly_name:
          type: string
        iso_country:
          type: string
        number_type:
          type: string
        requirements:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^RN[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.supporting_document:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        mime_type:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^RD[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - draft
            - pending-review
            - rejected
            - approved
            - expired
            - provisionally-approved
          type: string
        type:
          type: string
        url:
          format: uri
          type: string
      type: object
    numbers.v2.regulatory_compliance.supporting_document_type:
      properties:
        fields:
          items:
            type: object
          type: array
        friendly_name:
          type: string
        machine_name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^OY[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
