swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/53
info:
  description: 'Sentence Similarity.<BR />[Endpoint] https://api.apitore.com/api/53'
  title: Sentence Similarity
  version: 0.0.1
  x-apisguru-categories:
    - text
  x-logo:
    url: 'https://apitore.com/img/apis/53.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/53'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentenceSimilarity
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Sentence Similarity Controller
    name: sentence-similarity-controller
paths:
  /sentence-similarity/eval:
    post:
      description: 'Sentence similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/text-similarity-response">text-similarity-response</a><BR />&nbsp; Class: com.apitore.banana.response.textsimilarity.TextSimilarityResponseEntity<BR />'
      operationId: evalUsingPOST
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Input texts. Text must be a sentence.
          in: body
          name: req
          required: true
          schema:
            $ref: '#/definitions/TextRequestEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TextSimilarityResponseEntity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Text similarity using word2vec
      tags:
        - sentence-similarity-controller
definitions:
  TextRequestEntity:
    properties:
      text1:
        description: text1
        type: string
      text2:
        description: text2
        type: string
    required:
      - text1
      - text2
    type: object
  TextSimilarityResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      similarity:
        description: Similarity
        format: double
        type: number
      startTime:
        description: Start date
        type: string
      text1:
        description: Text1
        type: string
      text2:
        description: Text2
        type: string
    required:
      - endTime
      - log
      - processTime
      - similarity
      - startTime
      - text1
      - text2
    type: object
