openapi: 3.0.0
servers:
  - url: https://connect.squareup.com
info:
  contact:
    email: developers@squareup.com
    name: Square Developer Platform
    url: https://squareup.com/developers
  description: Client library for accessing the Square Connect APIs
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://connect.squareup.com/tos
  title: Square Connect API
  version: "2.0"
  x-apisguru-categories:
    - payment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/http_square.github.io_images_logo.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/square/connect-api-specification/master/api.json
      version: "3.0"
  x-providerName: squareup.com
externalDocs:
  description: "Read the official documentation here:"
  url: https://docs.connect.squareup.com/
paths:
  /mobile/authorization-code:
    post:
      description: |-
        Generates code to authorize a mobile application to connect to a Square card reader

        Authorization codes are one-time-use and expire __60 minutes__ after being issued.

        __Important:__ The `Authorization` header you provide to this endpoint must have the following format:

        ```
        Authorization: Bearer ACCESS_TOKEN
        ```

        Replace `ACCESS_TOKEN` with a
        [valid production authorization credential](https://developer.squareup.com/docs/build-basics/access-tokens).
      operationId: CreateMobileAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMobileAuthorizationCodeRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMobileAuthorizationCodeResponse"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_WRITE_IN_PERSON
      summary: CreateMobileAuthorizationCode
      tags:
        - MobileAuthorization
      x-oauthpermissions:
        - PAYMENTS_WRITE_IN_PERSON
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/oauth2/clients/{client_id}/access-token/renew":
    post:
      description: |-
        `RenewToken` is deprecated. For information about refreshing OAuth access tokens, see
        [Migrate from Renew to Refresh OAuth Tokens](https://developer.squareup.com/docs/oauth-api/migrate-to-refresh-tokens).


        Renews an OAuth access token before it expires.

        OAuth access tokens besides your application's personal access token expire after __30 days__.
        You can also renew expired tokens within __15 days__ of their expiration.
        You cannot renew an access token that has been expired for more than 15 days.
        Instead, the associated user must re-complete the OAuth flow from the beginning.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the Credentials
        page in the [developer dashboard](https://developer.squareup.com/apps).
      operationId: RenewToken
      parameters:
        - description: Your application ID, available from the [developer dashboard](https://developer.squareup.com/apps).
          in: path
          name: client_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewTokenRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewTokenResponse"
          description: Success
      security:
        - oauth2ClientSecret: []
      summary: RenewToken
      tags:
        - OAuth
      x-is-deprecated: true
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  /oauth2/revoke:
    post:
      description: |-
        Revokes an access token generated with the OAuth flow.

        If an account has more than one OAuth access token for your application, this
        endpoint revokes all of them, regardless of which token you specify. When an
        OAuth access token is revoked, all of the active subscriptions associated
        with that OAuth token are canceled immediately.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the OAuth
        page in the [developer dashboard](https://developer.squareup.com/apps).
      operationId: RevokeToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeTokenRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeTokenResponse"
          description: Success
      security:
        - oauth2ClientSecret: []
      summary: RevokeToken
      tags:
        - OAuth
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /oauth2/token:
    post:
      description: |-
        Returns an OAuth access token.

        The endpoint supports distinct methods of obtaining OAuth access tokens.
        Applications specify a method by adding the `grant_type` parameter
        in the request and also provide relevant information.

        __Note:__ Regardless of the method application specified,
        the endpoint always returns two items; an OAuth access token and
        a refresh token in the response.

        __OAuth tokens should only live on secure servers. Application clients
        should never interact directly with OAuth tokens__.
      operationId: ObtainToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObtainTokenRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObtainTokenResponse"
          description: Success
      security: []
      summary: ObtainToken
      tags:
        - OAuth
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v1/me/employees:
    get:
      description: Provides summary information for all of a business's employees.
      operationId: ListEmployees
      parameters:
        - description: "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC"
          in: query
          name: order
          required: false
          schema:
            type: string
        - description: If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format
          in: query
          name: begin_updated_at
          required: false
          schema:
            type: string
        - description: If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_updated_at
          required: false
          schema:
            type: string
        - description: If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.
          in: query
          name: begin_created_at
          required: false
          schema:
            type: string
        - description: If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_created_at
          required: false
          schema:
            type: string
        - description: If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: If provided, the endpoint returns only employee entities with the specified external_id.
          in: query
          name: external_id
          required: false
          schema:
            type: string
        - description: The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1Employee"
                type: array
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: ListEmployees
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    post:
      description: |2-
         Use the CreateEmployee endpoint to add an employee to a Square
        account. Employees created with the Connect API have an initial status
        of `INACTIVE`. Inactive employees cannot sign in to Square Point of Sale
        until they are activated from the Square Dashboard. Employee status
        cannot be changed with the Connect API.

        Employee entities cannot be deleted. To disable employee profiles,
        set the employee's status to <code>INACTIVE</code>
      operationId: CreateEmployee
      requestBody:
        $ref: "#/components/requestBodies/V1Employee"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Employee"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: CreateEmployee
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v1/me/employees/{employee_id}":
    get:
      description: Provides the details for a single employee.
      operationId: RetrieveEmployee
      parameters:
        - description: The employee's ID.
          in: path
          name: employee_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Employee"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: RetrieveEmployee
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    put:
      description: ""
      operationId: UpdateEmployee
      parameters:
        - description: The ID of the role to modify.
          in: path
          name: employee_id
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/V1Employee"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Employee"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: UpdateEmployee
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v1/me/roles:
    get:
      description: Provides summary information for all of a business's employee roles.
      operationId: ListEmployeeRoles
      parameters:
        - description: "The order in which employees are listed in the response, based on their created_at field.Default value: ASC"
          in: query
          name: order
          required: false
          schema:
            type: string
        - description: The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1EmployeeRole"
                type: array
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: ListEmployeeRoles
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    post:
      description: |-
        Creates an employee role you can then assign to employees.

        Square accounts can include any number of roles that can be assigned to
        employees. These roles define the actions and permissions granted to an
        employee with that role. For example, an employee with a "Shift Manager"
        role might be able to issue refunds in Square Point of Sale, whereas an
        employee with a "Clerk" role might not.

        Roles are assigned with the [V1UpdateEmployee](https://developer.squareup.com/reference/square_2021-08-18/v1-employees-api/update-employee-role)
        endpoint. An employee can have only one role at a time.

        If an employee has no role, they have none of the permissions associated
        with roles. All employees can accept payments with Square Point of Sale.
      operationId: CreateEmployeeRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1EmployeeRole"
        description: An EmployeeRole object with a name and permissions, and an optional owner flag.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1EmployeeRole"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: CreateEmployeeRole
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v1/me/roles/{role_id}":
    get:
      description: Provides the details for a single employee role.
      operationId: RetrieveEmployeeRole
      parameters:
        - description: The role's ID.
          in: path
          name: role_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1EmployeeRole"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: RetrieveEmployeeRole
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    put:
      description: Modifies the details of an employee role.
      operationId: UpdateEmployeeRole
      parameters:
        - description: The ID of the role to modify.
          in: path
          name: role_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1EmployeeRole"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1EmployeeRole"
          description: Success
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: UpdateEmployeeRole
      tags:
        - V1Employees
      x-oauthpermissions:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v1/{location_id}/orders":
    get:
      description: Provides summary information for a merchant's online store orders.
      operationId: ListOrders
      parameters:
        - description: The ID of the location to list online store orders for.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order in which payments are listed in the response.
          in: query
          name: order
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          x-is-deprecated: true
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1Order"
                type: array
          description: Success
      security:
        - oauth2:
            - ORDERS_READ
      summary: ListOrders
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - ORDERS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
      x-visibility: SDK_ONLY
  "/v1/{location_id}/orders/{order_id}":
    get:
      description: Provides comprehensive information for a single online store order, including the order's history.
      operationId: RetrieveOrder
      parameters:
        - description: The ID of the order's associated location.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint
          in: path
          name: order_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Order"
          description: Success
      security:
        - oauth2:
            - ORDERS_READ
      summary: RetrieveOrder
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - ORDERS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
      x-visibility: SDK_ONLY
    put:
      description: "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:"
      operationId: UpdateOrder
      parameters:
        - description: The ID of the order's associated location.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint
          in: path
          name: order_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1UpdateOrderRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Order"
          description: Success
      security:
        - oauth2:
            - ORDERS_WRITE
      summary: UpdateOrder
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - ORDERS_WRITE
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
      x-visibility: SDK_ONLY
  "/v1/{location_id}/payments":
    get:
      description: |-
        Provides summary information for all payments taken for a given
        Square account during a date range. Date ranges cannot exceed 1 year in
        length. See Date ranges for details of inclusive and exclusive dates.

        *Note**: Details for payments processed with Square Point of Sale while
        in offline mode may not be transmitted to Square for up to 72 hours.
        Offline payments have a `created_at` value that reflects the time the
        payment was originally processed, not the time it was subsequently
        transmitted to Square. Consequently, the ListPayments endpoint might
        list an offline payment chronologically between online payments that
        were seen in a previous request.
      operationId: ListPayments
      parameters:
        - description: The ID of the location to list payments for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order in which payments are listed in the response.
          in: query
          name: order
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          x-is-deprecated: true
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: Indicates whether or not to include partial payments in the response. Partial payments will have the tenders collected so far, but the itemizations will be empty until the payment is completed.
          in: query
          name: include_partial
          required: false
          schema:
            type: boolean
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1Payment"
                type: array
          description: Success
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: ListPayments
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v1/{location_id}/payments/{payment_id}":
    get:
      description: Provides comprehensive information for a single payment.
      operationId: RetrievePayment
      parameters:
        - description: The ID of the payment's associated location.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The Square-issued payment ID. payment_id comes from Payment objects returned by the List Payments endpoint, Settlement objects returned by the List Settlements endpoint, or Refund objects returned by the List Refunds endpoint.
          in: path
          name: payment_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Payment"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: RetrievePayment
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v1/{location_id}/refunds":
    get:
      description: Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.
      operationId: ListRefunds
      parameters:
        - description: The ID of the location to list refunds for.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order in which payments are listed in the response.
          in: query
          name: order
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The approximate number of refunds to return in a single response. Default: 100. Max: 200. Response may contain more results than the prescribed limit when refunds are made simultaneously to multiple tenders in a payment or when refunds are generated in an exchange to account for the value of returned goods."
          in: query
          name: limit
          required: false
          schema:
            type: integer
          x-is-deprecated: true
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1Refund"
                type: array
          description: Success
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: ListRefunds
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
    post:
      description: |-
        Issues a refund for a previously processed payment. You must issue
        a refund within 60 days of the associated payment.

        You cannot issue a partial refund for a split tender payment. You must
        instead issue a full or partial refund for a particular tender, by
        providing the applicable tender id to the V1CreateRefund endpoint.
        Issuing a full refund for a split tender payment refunds all tenders
        associated with the payment.

        Issuing a refund for a card payment is not reversible. For development
        purposes, you can create fake cash payments in Square Point of Sale and
        refund them.
      operationId: CreateRefund
      parameters:
        - description: The ID of the original payment's associated location.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1CreateRefundRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Refund"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_WRITE
      summary: CreateRefund
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - PAYMENTS_WRITE
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v1/{location_id}/settlements":
    get:
      description: |-
        Provides summary information for all deposits and withdrawals
        initiated by Square to a linked bank account during a date range. Date
        ranges cannot exceed one year in length.

        *Note**: the ListSettlements endpoint does not provide entry
        information.
      operationId: ListSettlements
      parameters:
        - description: The ID of the location to list settlements for. If you specify me, this endpoint returns settlements aggregated from all of the business's locations.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The order in which settlements are listed in the response.
          in: query
          name: order
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: The maximum number of settlements to return in a single response. This value cannot exceed 200.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          x-is-deprecated: true
        - description: Provide this parameter to retrieve only settlements with a particular status (SENT or FAILED).
          in: query
          name: status
          required: false
          schema:
            type: string
          x-is-deprecated: true
        - description: |-
            A pagination cursor to retrieve the next set of results for your
            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/V1Settlement"
                type: array
          description: Success
      security:
        - oauth2:
            - SETTLEMENTS_READ
      summary: ListSettlements
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - SETTLEMENTS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v1/{location_id}/settlements/{settlement_id}":
    get:
      description: |-
        Provides comprehensive information for a single settlement.

        The returned `Settlement` objects include an `entries` field that lists
        the transactions that contribute to the settlement total. Most
        settlement entries correspond to a payment payout, but settlement
        entries are also generated for less common events, like refunds, manual
        adjustments, or chargeback holds.

        Square initiates its regular deposits as indicated in the
        [Deposit Options with Square](https://squareup.com/help/us/en/article/3807)
        help article. Details for a regular deposit are usually not available
        from Connect API endpoints before 10 p.m. PST the same day.

        Square does not know when an initiated settlement **completes**, only
        whether it has failed. A completed settlement is typically reflected in
        a bank account within 3 business days, but in exceptional cases it may
        take longer.
      operationId: RetrieveSettlement
      parameters:
        - description: The ID of the settlements's associated location.
          in: path
          name: location_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The settlement's Square-issued ID. You obtain this value from Settlement objects returned by the List Settlements endpoint.
          in: path
          name: settlement_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1Settlement"
          description: Success
      security:
        - oauth2:
            - SETTLEMENTS_READ
      summary: RetrieveSettlement
      tags:
        - V1Transactions
      x-is-deprecated: true
      x-oauthpermissions:
        - SETTLEMENTS_READ
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  /v2/apple-pay/domains:
    post:
      description: |-
        Activates a domain for use with Apple Pay on the Web and Square. A validation
        is performed on this domain by Apple to ensure that it is properly set up as
        an Apple Pay enabled domain.

        This endpoint provides an easy way for platform developers to bulk activate
        Apple Pay on the Web with Square for merchants using their platform.

        To learn more about Web Apple Pay, see
        [Add the Apple Pay on the Web Button](https://developer.squareup.com/docs/payment-form/add-digital-wallets/apple-pay).
      operationId: RegisterDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterDomainRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterDomainResponse"
          description: Success
      security:
        - oauth2: []
      summary: RegisterDomain
      tags:
        - ApplePay
      x-oauthpermissions: []
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/bank-accounts:
    get:
      description: Returns a list of [BankAccount](https://developer.squareup.com/reference/square_2021-08-18/objects/BankAccount) objects linked to a Square account.
      operationId: ListBankAccounts
      parameters:
        - description: |-
            The pagination cursor returned by a previous call to this endpoint.
            Use it in the next `ListBankAccounts` request to retrieve the next set 
            of results.

            See the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information.
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            Upper limit on the number of bank accounts to return in the response. 
            Currently, 1000 is the largest supported limit. You can specify a limit 
            of up to 1000 bank accounts. This is also the default limit.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: |-
            Location ID. You can specify this optional filter 
            to retrieve only the linked bank accounts belonging to a specific location.
          in: query
          name: location_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBankAccountsResponse"
          description: Success
      security:
        - oauth2:
            - BANK_ACCOUNTS_READ
      summary: ListBankAccounts
      tags:
        - BankAccounts
      x-oauthpermissions:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/bank-accounts/by-v1-id/{v1_bank_account_id}":
    get:
      description: Returns details of a [BankAccount](https://developer.squareup.com/reference/square_2021-08-18/objects/BankAccount) identified by V1 bank account ID.
      operationId: GetBankAccountByV1Id
      parameters:
        - description: |-
            Connect V1 ID of the desired `BankAccount`. For more information, see 
            [Retrieve a bank account by using an ID issued by V1 Bank Accounts API](https://developer.squareup.com/docs/bank-accounts-api#retrieve-a-bank-account-by-using-an-id-issued-by-v1-bank-accounts-api).
          in: path
          name: v1_bank_account_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBankAccountByV1IdResponse"
          description: Success
      security:
        - oauth2:
            - BANK_ACCOUNTS_READ
      summary: GetBankAccountByV1Id
      tags:
        - BankAccounts
      x-oauthpermissions:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/bank-accounts/{bank_account_id}":
    get:
      description: |-
        Returns details of a [BankAccount](https://developer.squareup.com/reference/square_2021-08-18/objects/BankAccount)
        linked to a Square account.
      operationId: GetBankAccount
      parameters:
        - description: Square-issued ID of the desired `BankAccount`.
          in: path
          name: bank_account_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBankAccountResponse"
          description: Success
      security:
        - oauth2:
            - BANK_ACCOUNTS_READ
      summary: GetBankAccount
      tags:
        - BankAccounts
      x-oauthpermissions:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/bookings:
    post:
      description: Creates a booking.
      operationId: CreateBooking
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBookingResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_WRITE
      summary: CreateBooking
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-sq-version: 2021-08-18
  /v2/bookings/availability/search:
    post:
      description: Searches for availabilities for booking.
      operationId: SearchAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchAvailabilityRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAvailabilityResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_READ
      summary: SearchAvailability
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_READ
      x-release-status: BETA
      x-sq-version: 2021-08-18
  /v2/bookings/business-booking-profile:
    get:
      description: Retrieves a seller's booking profile.
      operationId: RetrieveBusinessBookingProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveBusinessBookingProfileResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_BUSINESS_SETTINGS_READ
      summary: RetrieveBusinessBookingProfile
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-sq-version: 2021-08-18
  /v2/bookings/team-member-booking-profiles:
    get:
      description: Lists booking profiles for team members.
      operationId: ListTeamMemberBookingProfiles
      parameters:
        - description: Indicates whether to include only bookable team members in the returned result (`true`) or not (`false`).
          in: query
          name: bookable_only
          required: false
          schema:
            type: boolean
          x-is-beta: true
        - description: The maximum number of results to return.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          x-is-beta: true
        - description: The cursor for paginating through the results.
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-is-beta: true
        - description: Indicates whether to include only team members enabled at the given location in the returned result.
          in: query
          name: location_id
          required: false
          schema:
            type: string
          x-is-beta: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTeamMemberBookingProfilesResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_BUSINESS_SETTINGS_READ
      summary: ListTeamMemberBookingProfiles
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-sq-version: 2021-08-18
  "/v2/bookings/team-member-booking-profiles/{team_member_id}":
    get:
      description: Retrieves a team member's booking profile.
      operationId: RetrieveTeamMemberBookingProfile
      parameters:
        - description: The ID of the team member to retrieve.
          in: path
          name: team_member_id
          required: true
          schema:
            type: string
          x-is-beta: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveTeamMemberBookingProfileResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_BUSINESS_SETTINGS_READ
      summary: RetrieveTeamMemberBookingProfile
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-sq-version: 2021-08-18
  "/v2/bookings/{booking_id}":
    get:
      description: Retrieves a booking.
      operationId: RetrieveBooking
      parameters:
        - description: The ID of the [Booking](https://developer.squareup.com/reference/square_2021-08-18/objects/Booking) object representing the to-be-retrieved booking.
          in: path
          name: booking_id
          required: true
          schema:
            type: string
          x-is-beta: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveBookingResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_READ
      summary: RetrieveBooking
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_READ
      x-release-status: BETA
      x-sq-version: 2021-08-18
    put:
      description: Updates a booking.
      operationId: UpdateBooking
      parameters:
        - description: The ID of the [Booking](https://developer.squareup.com/reference/square_2021-08-18/objects/Booking) object representing the to-be-updated booking.
          in: path
          name: booking_id
          required: true
          schema:
            type: string
          x-is-beta: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBookingRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateBookingResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_WRITE
      summary: UpdateBooking
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-sq-version: 2021-08-18
  "/v2/bookings/{booking_id}/cancel":
    post:
      description: Cancels an existing booking.
      operationId: CancelBooking
      parameters:
        - description: The ID of the [Booking](https://developer.squareup.com/reference/square_2021-08-18/objects/Booking) object representing the to-be-cancelled booking.
          in: path
          name: booking_id
          required: true
          schema:
            type: string
          x-is-beta: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelBookingResponse"
          description: Success
      security:
        - oauth2:
            - APPOINTMENTS_WRITE
      summary: CancelBooking
      tags:
        - Bookings
      x-is-beta: true
      x-oauthpermissions:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-sq-version: 2021-08-18
  /v2/cards:
    get:
      description: |-
        Retrieves a list of cards owned by the account making the request.
        A max of 25 cards will be returned.
      operationId: ListCards
      parameters:
        - description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this to retrieve the next set of results for your original query.

            See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for more information.
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            Limit results to cards associated with the customer supplied.
            By default, all cards owned by the merchant are returned.
          in: query
          name: customer_id
          required: false
          schema:
            type: string
        - description: |-
            Includes disabled cards.
            By default, all enabled cards owned by the merchant are returned.
          in: query
          name: include_disabled
          required: false
          schema:
            type: boolean
        - description: Limit results to cards associated with the reference_id supplied.
          in: query
          name: reference_id
          required: false
          schema:
            type: string
        - description: |-
            Sorts the returned list by when the card was created with the specified order.
            This field defaults to ASC.
          in: query
          name: sort_order
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCardsResponse"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: ListCards
      tags:
        - Cards
      x-oauthpermissions:
        - PAYMENTS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    post:
      description: Adds a card on file to an existing merchant.
      operationId: CreateCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCardRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCardResponse"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_WRITE
      summary: CreateCard
      tags:
        - Cards
      x-oauthpermissions:
        - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/cards/{card_id}":
    get:
      description: Retrieves details for a specific Card.
      operationId: RetrieveCard
      parameters:
        - description: Unique ID for the desired Card.
          in: path
          name: card_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCardResponse"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: RetrieveCard
      tags:
        - Cards
      x-oauthpermissions:
        - PAYMENTS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/cards/{card_id}/disable":
    post:
      description: |-
        Disables the card, preventing any further updates or charges.
        Disabling an already disabled card is allowed but has no effect.
      operationId: DisableCard
      parameters:
        - description: Unique ID for the desired Card.
          in: path
          name: card_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisableCardResponse"
          description: Success
      security:
        - oauth2:
            - PAYMENTS_WRITE
      summary: DisableCard
      tags:
        - Cards
      x-oauthpermissions:
        - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/cash-drawers/shifts:
    get:
      description: |-
        Provides the details for all of the cash drawer shifts for a location
        in a date range.
      operationId: ListCashDrawerShifts
      parameters:
        - description: The ID of the location to query for a list of cash drawer shifts.
          in: query
          name: location_id
          required: true
          schema:
            type: string
        - description: |-
            The order in which cash drawer shifts are listed in the response,
            based on their opened_at field. Default value: ASC
          in: query
          name: sort_order
          required: false
          schema:
            type: string
        - description: The inclusive start time of the query on opened_at, in ISO 8601 format.
          in: query
          name: begin_time
          required: false
          schema:
            type: string
        - description: The exclusive end date of the query on opened_at, in ISO 8601 format.
          in: query
          name: end_time
          required: false
          schema:
            type: string
        - description: |-
            Number of cash drawer shift events in a page of results (200 by
            default, 1000 max).
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Opaque cursor for fetching the next page of results.
          in: query
          name: cursor
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCashDrawerShiftsResponse"
          description: Success
      security:
        - oauth2:
            - CASH_DRAWER_READ
      summary: ListCashDrawerShifts
      tags:
        - CashDrawers
      x-oauthpermissions:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/cash-drawers/shifts/{shift_id}":
    get:
      description: |-
        Provides the summary details for a single cash drawer shift. See
        [ListCashDrawerShiftEvents](https://developer.squareup.com/reference/square_2021-08-18/cash-drawers-api/list-cash-drawer-shift-events) for a list of cash drawer shift events.
      operationId: RetrieveCashDrawerShift
      parameters:
        - description: The ID of the location to retrieve cash drawer shifts from.
          in: query
          name: location_id
          required: true
          schema:
            type: string
        - description: The shift ID.
          in: path
          name: shift_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCashDrawerShiftResponse"
          description: Success
      security:
        - oauth2:
            - CASH_DRAWER_READ
      summary: RetrieveCashDrawerShift
      tags:
        - CashDrawers
      x-oauthpermissions:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/cash-drawers/shifts/{shift_id}/events":
    get:
      description: Provides a paginated list of events for a single cash drawer shift.
      operationId: ListCashDrawerShiftEvents
      parameters:
        - description: The ID of the location to list cash drawer shifts for.
          in: query
          name: location_id
          required: true
          schema:
            type: string
        - description: The shift ID.
          in: path
          name: shift_id
          required: true
          schema:
            type: string
        - description: |-
            Number of resources to be returned in a page of results (200 by
            default, 1000 max).
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Opaque cursor for fetching the next page of results.
          in: query
          name: cursor
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCashDrawerShiftEventsResponse"
          description: Success
      security:
        - oauth2:
            - CASH_DRAWER_READ
      summary: ListCashDrawerShiftEvents
      tags:
        - CashDrawers
      x-oauthpermissions:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/batch-delete:
    post:
      description: |-
        Deletes a set of [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem)s based on the
        provided list of target IDs and returns a set of successfully deleted IDs in
        the response. Deletion is a cascading event such that all children of the
        targeted object are also deleted. For example, deleting a CatalogItem will
        also delete all of its [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItemVariation)
        children.

        `BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted
        IDs can be deleted. The response will only include IDs that were
        actually deleted.
      operationId: BatchDeleteCatalogObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeleteCatalogObjectsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDeleteCatalogObjectsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: BatchDeleteCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/batch-retrieve:
    post:
      description: |-
        Returns a set of objects based on the provided ID.
        Each [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem) returned in the set includes all of its
        child information including: all of its
        [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItemVariation) objects, references to
        its [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogModifierList) objects, and the ids of
        any [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax) objects that apply to it.
      operationId: BatchRetrieveCatalogObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRetrieveCatalogObjectsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveCatalogObjectsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: BatchRetrieveCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/batch-upsert:
    post:
      description: |-
        Creates or updates up to 10,000 target objects based on the provided
        list of objects. The target objects are grouped into batches and each batch is
        inserted/updated in an all-or-nothing manner. If an object within a batch is
        malformed in some way, or violates a database constraint, the entire batch
        containing that item will be disregarded. However, other batches in the same
        request may still succeed. Each batch may contain up to 1,000 objects, and
        batches will be processed in order as long as the total object count for the
        request (items, variations, modifier lists, discounts, and taxes) is no more
        than 10,000.
      operationId: BatchUpsertCatalogObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchUpsertCatalogObjectsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpsertCatalogObjectsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: BatchUpsertCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/info:
    get:
      description: |-
        Retrieves information about the Square Catalog API, such as batch size
        limits that can be used by the `BatchUpsertCatalogObjects` endpoint.
      operationId: CatalogInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogInfoResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: CatalogInfo
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/list:
    get:
      description: |-
        Returns a list of [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject)s that includes
        all objects of a set of desired types (for example, all [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem)
        and [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax) objects) in the catalog. The `types` parameter
        is specified as a comma-separated list of valid [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject) types:
        `ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`, `IMAGE`.

        __Important:__ ListCatalog does not return deleted catalog items. To retrieve
        deleted catalog items, use [SearchCatalogObjects](https://developer.squareup.com/reference/square_2021-08-18/catalog-api/search-catalog-objects)
        and set the `include_deleted_objects` attribute value to `true`.
      operationId: ListCatalog
      parameters:
        - description: |-
            The pagination cursor returned in the previous response. Leave unset for an initial request.
            The page size is currently set to be 100.
            See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for more information.
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            An optional case-insensitive, comma-separated list of object types to retrieve.

            The valid values are defined in the [CatalogObjectType](https://developer.squareup.com/reference/square_2021-08-18/enums/CatalogObjectType) enum, including
            `ITEM`, `ITEM_VARIATION`, `CATEGORY`, `DISCOUNT`, `TAX`,
            `MODIFIER`, `MODIFIER_LIST`, or `IMAGE`.

            If this is unspecified, the operation returns objects of all the types at the version of the Square API used to make the request.
          in: query
          name: types
          required: false
          schema:
            type: string
        - description: |-
            The specific version of the catalog objects to be included in the response. 
            This allows you to retrieve historical
            versions of objects. The specified version value is matched against
            the [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject)s' `version` attribute.
          in: query
          name: catalog_version
          required: false
          schema:
            format: int64
            type: integer
          x-is-beta: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCatalogResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: ListCatalog
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/object:
    post:
      description: Creates or updates the target [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject).
      operationId: UpsertCatalogObject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertCatalogObjectRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertCatalogObjectResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: UpsertCatalogObject
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/catalog/object/{object_id}":
    delete:
      description: |-
        Deletes a single [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject) based on the
        provided ID and returns the set of successfully deleted IDs in the response.
        Deletion is a cascading event such that all children of the targeted object
        are also deleted. For example, deleting a [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem)
        will also delete all of its
        [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItemVariation) children.
      operationId: DeleteCatalogObject
      parameters:
        - description: |-
            The ID of the catalog object to be deleted. When an object is deleted, other
            objects in the graph that depend on that object will be deleted as well (for example, deleting a
            catalog item will delete its catalog item variations).
          in: path
          name: object_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCatalogObjectResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: DeleteCatalogObject
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    get:
      description: |-
        Returns a single [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem) as a
        [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject) based on the provided ID. The returned
        object includes all of the relevant [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem)
        information including: [CatalogItemVariation](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItemVariation)
        children, references to its
        [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogModifierList) objects, and the ids of
        any [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax) objects that apply to it.
      operationId: RetrieveCatalogObject
      parameters:
        - description: The object ID of any type of catalog objects to be retrieved.
          in: path
          name: object_id
          required: true
          schema:
            type: string
        - description: |-
            If `true`, the response will include additional objects that are related to the
            requested object, as follows:

            If the `object` field of the response contains a `CatalogItem`, its associated
            `CatalogCategory`, `CatalogTax`, `CatalogImage` and `CatalogModifierList` objects will
            be returned in the `related_objects` field of the response. If the `object` field of
            the response contains a `CatalogItemVariation`, its parent `CatalogItem` will be returned
            in the `related_objects` field of the response.

            Default value: `false`
          in: query
          name: include_related_objects
          required: false
          schema:
            type: boolean
        - description: |-
            Requests objects as of a specific version of the catalog. This allows you to retrieve historical
            versions of objects. The value to retrieve a specific version of an object can be found
            in the version field of [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject)s.
          in: query
          name: catalog_version
          required: false
          schema:
            format: int64
            type: integer
          x-is-beta: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCatalogObjectResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: RetrieveCatalogObject
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/search:
    post:
      description: |-
        Searches for [CatalogObject](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogObject) of any type by matching supported search attribute values,
        excluding custom attribute values on items or item variations, against one or more of the specified query expressions.

        This (`SearchCatalogObjects`) endpoint differs from the [SearchCatalogItems](https://developer.squareup.com/reference/square_2021-08-18/catalog-api/search-catalog-items)
        endpoint in the following aspects:

        - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.
        - `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.
        - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.
        - The both endpoints have different call conventions, including the query filter formats.
      operationId: SearchCatalogObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchCatalogObjectsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCatalogObjectsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: SearchCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/search-catalog-items:
    post:
      description: |-
        Searches for catalog items or item variations by matching supported search attribute values, including
        custom attribute values, against one or more of the specified query expressions.

        This (`SearchCatalogItems`) endpoint differs from the [SearchCatalogObjects](https://developer.squareup.com/reference/square_2021-08-18/catalog-api/search-catalog-objects)
        endpoint in the following aspects:

        - `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.
        - `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.
        - `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.
        - The both endpoints use different call conventions, including the query filter formats.
      operationId: SearchCatalogItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchCatalogItemsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCatalogItemsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_READ
      summary: SearchCatalogItems
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/update-item-modifier-lists:
    post:
      description: |-
        Updates the [CatalogModifierList](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogModifierList) objects
        that apply to the targeted [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem) without having
        to perform an upsert on the entire item.
      operationId: UpdateItemModifierLists
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItemModifierListsRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateItemModifierListsResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: UpdateItemModifierLists
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/catalog/update-item-taxes:
    post:
      description: |-
        Updates the [CatalogTax](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogTax) objects that apply to the
        targeted [CatalogItem](https://developer.squareup.com/reference/square_2021-08-18/objects/CatalogItem) without having to perform an
        upsert on the entire item.
      operationId: UpdateItemTaxes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItemTaxesRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateItemTaxesResponse"
          description: Success
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: UpdateItemTaxes
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/customers:
    get:
      description: |-
        Lists customer profiles associated with a Square account.

        Under normal operating conditions, newly created or updated customer profiles become available
        for the listing operation in well under 30 seconds. Occasionally, propagation of the new or updated
        profiles can take closer to one minute or longer, especially during network incidents and outages.
      operationId: ListCustomers
      parameters:
        - description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for your original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            The maximum number of results to return in a single page. This limit is advisory. The response might contain more or fewer results. 
            The limit is ignored if it is less than 1 or greater than 100. The default value is 100.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: |-
            Indicates how customers should be sorted.

            The default value is `DEFAULT`.
          in: query
          name: sort_field
          required: false
          schema:
            type: string
        - description: |-
            Indicates whether customers should be sorted in ascending (`ASC`) or
            descending (`DESC`) order.

            The default value is `ASC`.
          in: query
          name: sort_order
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomersResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: ListCustomers
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    post:
      description: |-
        Creates a new customer for a business.

        You must provide at least one of the following values in your request to this
        endpoint:

        - `given_name`
        - `family_name`
        - `company_name`
        - `email_address`
        - `phone_number`
      operationId: CreateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: CreateCustomer
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/customers/groups:
    get:
      description: Retrieves the list of customer groups of a business.
      operationId: ListCustomerGroups
      parameters:
        - description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for your original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            The maximum number of results to return in a single page. This limit is advisory. The response might contain more or fewer results. 
            The limit is ignored if it is less than 1 or greater than 50. The default value is 50.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomerGroupsResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: ListCustomerGroups
      tags:
        - CustomerGroups
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    post:
      description: |-
        Creates a new customer group for a business.

        The request must include the `name` value of the group.
      operationId: CreateCustomerGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerGroupRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerGroupResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: CreateCustomerGroup
      tags:
        - CustomerGroups
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/customers/groups/{group_id}":
    delete:
      description: Deletes a customer group as identified by the `group_id` value.
      operationId: DeleteCustomerGroup
      parameters:
        - description: The ID of the customer group to delete.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCustomerGroupResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: DeleteCustomerGroup
      tags:
        - CustomerGroups
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    get:
      description: Retrieves a specific customer group as identified by the `group_id` value.
      operationId: RetrieveCustomerGroup
      parameters:
        - description: The ID of the customer group to retrieve.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCustomerGroupResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: RetrieveCustomerGroup
      tags:
        - CustomerGroups
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    put:
      description: Updates a customer group as identified by the `group_id` value.
      operationId: UpdateCustomerGroup
      parameters:
        - description: The ID of the customer group to update.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerGroupRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomerGroupResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
            - CUSTOMERS_READ
      summary: UpdateCustomerGroup
      tags:
        - CustomerGroups
      x-oauthpermissions:
        - CUSTOMERS_WRITE
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/customers/search:
    post:
      description: |-
        Searches the customer profiles associated with a Square account using a supported query filter.

        Calling `SearchCustomers` without any explicit query filter returns all
        customer profiles ordered alphabetically based on `given_name` and
        `family_name`.

        Under normal operating conditions, newly created or updated customer profiles become available
        for the search operation in well under 30 seconds. Occasionally, propagation of the new or updated
        profiles can take closer to one minute or longer, especially during network incidents and outages.
      operationId: SearchCustomers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchCustomersRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCustomersResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: SearchCustomers
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  /v2/customers/segments:
    get:
      description: Retrieves the list of customer segments of a business.
      operationId: ListCustomerSegments
      parameters:
        - description: |-
            A pagination cursor returned by previous calls to `ListCustomerSegments`.
            This cursor is used to retrieve the next set of query results.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: |-
            The maximum number of results to return in a single page. This limit is advisory. The response might contain more or fewer results. 
            The limit is ignored if it is less than 1 or greater than 50. The default value is 50.

            For more information, see [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination).
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomerSegmentsResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: ListCustomerSegments
      tags:
        - CustomerSegments
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/customers/segments/{segment_id}":
    get:
      description: Retrieves a specific customer segment as identified by the `segment_id` value.
      operationId: RetrieveCustomerSegment
      parameters:
        - description: The Square-issued ID of the customer segment.
          in: path
          name: segment_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCustomerSegmentResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: RetrieveCustomerSegment
      tags:
        - CustomerSegments
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/customers/{customer_id}":
    delete:
      description: |-
        Deletes a customer profile from a business. This operation also unlinks any associated cards on file. 

        As a best practice, you should include the `version` field in the request to enable [optimistic concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency) control. The value must be set to the current version of the customer profile. 

        To delete a customer profile that was created by merging existing profiles, you must use the ID of the newly created profile.
      operationId: DeleteCustomer
      parameters:
        - description: The ID of the customer to delete.
          in: path
          name: customer_id
          required: true
          schema:
            type: string
        - description: |-
            The current version of the customer profile.

            As a best practice, you should include this parameter to enable [optimistic concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency) control.  For more information, see [Delete a customer profile](https://developer.squareup.com/docs/customers-api/use-the-api/keep-records#delete-customer-profile).
          in: query
          name: version
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCustomerResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: DeleteCustomer
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    get:
      description: Returns details for a single customer.
      operationId: RetrieveCustomer
      parameters:
        - description: The ID of the customer to retrieve.
          in: path
          name: customer_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveCustomerResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_READ
      summary: RetrieveCustomer
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_READ
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
    put:
      description: |-
        Updates a customer profile. To change an attribute, specify the new value. To remove an attribute, specify the value as an empty string or empty object.

        As a best practice, you should include the `version` field in the request to enable [optimistic concurrency](https://developer.squareup.com/docs/working-with-apis/optimistic-concurrency) control. The value must be set to the current version of the customer profile.

        To update a customer profile that was created by merging existing profiles, you must use the ID of the newly created profile.

        You cannot use this endpoint to change cards on file. To make changes, use the [Cards API](https://developer.squareup.com/reference/square_2021-08-18/cards-api) or [Gift Cards API](https://developer.squareup.com/reference/square_2021-08-18/gift-cards-api).
      operationId: UpdateCustomer
      parameters:
        - description: The ID of the customer to update.
          in: path
          name: customer_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomerResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: UpdateCustomer
      tags:
        - Customers
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: PUBLIC
      x-sq-version: 2021-08-18
  "/v2/customers/{customer_id}/cards":
    post:
      description: |-
        Adds a card on file to an existing customer.

        As with charges, calls to `CreateCustomerCard` are idempotent. Multiple
        calls with the same card nonce return the same card record that was created
        with the provided nonce during the _first_ call.
      operationId: CreateCustomerCard
      parameters:
        - description: The Square ID of the customer profile the card is linked to.
          in: path
          name: customer_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerCardRequest"
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerCardResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: CreateCustomerCard
      tags:
        - Customers
      x-is-deprecated: true
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v2/customers/{customer_id}/cards/{card_id}":
    delete:
      description: Removes a card on file from a customer.
      operationId: DeleteCustomerCard
      parameters:
        - description: The ID of the customer that the card on file belongs to.
          in: path
          name: customer_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
        - description: The ID of the card on file to delete.
          in: path
          name: card_id
          required: true
          schema:
            type: string
          x-is-deprecated: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCustomerCardResponse"
          description: Success
      security:
        - oauth2:
            - CUSTOMERS_WRITE
      summary: DeleteCustomerCard
      tags:
        - Customers
      x-is-deprecated: true
      x-oauthpermissions:
        - CUSTOMERS_WRITE
      x-release-status: DEPRECATED
      x-sq-version: 2021-08-18
  "/v2/customers/{customer_id}/groups/{group_id}":
    delete:
      description: |-
        Removes a group membership from a customer.

        The customer is identified by the `customer_id` value
        and the customer group is identified by the `group_id` value.
      operationId: RemoveGroupFromCustomer
      parameters:
[...]
