swagger: '2.0'
schemes:
  - https
host: datafusion.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |-
    Cloud Data Fusion is a fully-managed, cloud native, enterprise data integration service for
        quickly building and managing data pipelines. It provides a graphical interface to increase
        time efficiency and reduce complexity, and allows business users, developers, and data
        scientists to easily and reliably build scalable data integration solutions to cleanse,
        prepare, blend, transfer and transform data without having to wrestle with infrastructure.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Data Fusion
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://datafusion.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: datafusion
externalDocs:
  url: 'https://cloud.google.com/data-fusion/docs'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1beta1/{name}':
    delete:
      description: |-
        Deletes a long-running operation. This method indicates that the client is
        no longer interested in the operation result. It does not cancel the
        operation. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.
      operationId: datafusion.projects.locations.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: datafusion.projects.locations.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates a single Data Fusion instance.
      operationId: datafusion.projects.locations.instances.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Instance'
        - description: |-
            Output only. The name of this instance is in the form of
            projects/{project}/locations/{location}/instances/{instance}.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Field mask is used to specify the fields that the update will overwrite
            in an instance resource. The fields specified in the update_mask are
            relative to the resource, not the full request.
            A field will be overwritten if it is in the mask.
            If the user does not provide a mask, all the supported fields (labels and
            options currently) will be overwritten.
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}/locations':
    get:
      description: Lists information about the supported locations for this service.
      operationId: datafusion.projects.locations.list
      parameters:
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: 'The resource that owns the locations collection, if applicable.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLocationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{name}/operations':
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`. To
        override the binding, API services can add a binding such as
        `"/v1/{name=users/*}/operations"` to their service configuration.
        For backwards compatibility, the default name includes the operations
        collection id, however overriding users must ensure the name binding
        is the parent resource, without the operations collection id.
      operationId: datafusion.projects.locations.operations.list
      parameters:
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Starts asynchronous cancellation on a long-running operation.  The server
        makes a best effort to cancel the operation, but success is not
        guaranteed.  If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.  Clients can use
        Operations.GetOperation or
        other methods to check whether the cancellation succeeded or whether the
        operation completed despite cancellation. On successful cancellation,
        the operation is not deleted; instead, it becomes an operation with
        an Operation.error value with a google.rpc.Status.code of 1,
        corresponding to `Code.CANCELLED`.
      operationId: datafusion.projects.locations.operations.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelOperationRequest'
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}:restart':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Restart a single Data Fusion instance.
        At the end of an operation instance is fully restarted.
      operationId: datafusion.projects.locations.instances.restart
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RestartInstanceRequest'
        - description: |-
            Name of the Data Fusion instance which need to be restarted in the form of
            projects/{project}/locations/{location}/instances/{instance}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}:upgrade':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Upgrade a single Data Fusion instance.
        At the end of an operation instance is fully upgraded.
      operationId: datafusion.projects.locations.instances.upgrade
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpgradeInstanceRequest'
        - description: |-
            Name of the Data Fusion instance which need to be upgraded in the form of
            projects/{project}/locations/{location}/instances/{instance}
            Instance will be upgraded with the latest stable version of the Data
            Fusion.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/instances':
    get:
      description: Lists Data Fusion instances in the specified project and location.
      operationId: datafusion.projects.locations.instances.list
      parameters:
        - description: List filter.
          in: query
          name: filter
          type: string
        - description: 'Sort results. Supported values are "name", "name desc",  or "" (unsorted).'
          in: query
          name: orderBy
          type: string
        - description: The maximum number of items to return.
          in: query
          name: pageSize
          type: integer
        - description: |-
            The next_page_token value to use if there are additional
            results to retrieve for this list request.
          in: query
          name: pageToken
          type: string
        - description: |-
            The project and location for which to retrieve instance information
            in the format projects/{project}/locations/{location}. If the location is
            specified as '-' (wildcard), then all regions available to the project
            are queried, and the results are aggregated.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListInstancesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new Data Fusion instance in the specified project and location.
      operationId: datafusion.projects.locations.instances.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Instance'
        - description: The name of the instance to create.
          in: query
          name: instanceId
          type: string
        - description: |-
            The instance's project and location in the format
            projects/{project}/locations/{location}.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:getIamPolicy':
    get:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: datafusion.projects.locations.instances.getIamPolicy
      parameters:
        - description: |-
            Optional. The policy format version to be returned.

            Valid values are 0, 1, and 3. Requests specifying an invalid value will be
            rejected.

            Requests for policies with any conditional bindings must specify version 3.
            Policies without any conditional bindings may specify any valid value or
            leave the field unset.
          in: query
          name: options.requestedPolicyVersion
          type: integer
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.

        Can return Public Errors: NOT_FOUND, INVALID_ARGUMENT and PERMISSION_DENIED
      operationId: datafusion.projects.locations.instances.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.

        Note: This operation is designed to be used for building permission-aware
        UIs and command-line tools, not for authorization checking. This operation
        may "fail open" without warning.
      operationId: datafusion.projects.locations.instances.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:jose@example.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "sampleservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:aliya@example.com"
                    ]
                  }
                ]
              }
            ]
          }

      For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts jose@example.com from DATA_READ logging, and
      aliya@example.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      exemptedMembers:
        items:
          type: string
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:jose@example.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      jose@example.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      ignoreChildExemptions:
        type: boolean
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  AuthorizationLoggingOptions:
    description: Authorization-related information used by Cloud Audit Logging.
    properties:
      permissionType:
        description: The type of the permission that was checked.
        enum:
          - PERMISSION_TYPE_UNSPECIFIED
          - ADMIN_READ
          - ADMIN_WRITE
          - DATA_READ
          - DATA_WRITE
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: An unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@example.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: The G Suite domain (primary) that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        type: string
    type: object
  CancelOperationRequest:
    description: The request message for Operations.CancelOperation.
    properties: {}
    type: object
  CloudAuditOptions:
    description: Write a Cloud Audit log
    properties:
      authorizationLoggingOptions:
        $ref: '#/definitions/AuthorizationLoggingOptions'
        description: Information used by the Cloud Audit Logging pipeline.
      logName:
        description: The log_name to populate in the Cloud Audit Record.
        enum:
          - UNSPECIFIED_LOG_NAME
          - ADMIN_ACTIVITY
          - DATA_ACCESS
        type: string
    type: object
  Condition:
    description: A condition to be met.
    properties:
      iam:
        description: Trusted attributes supplied by the IAM system.
        enum:
          - NO_ATTR
          - AUTHORITY
          - ATTRIBUTION
          - SECURITY_REALM
          - APPROVER
          - JUSTIFICATION_TYPE
          - CREDENTIALS_TYPE
        type: string
      op:
        description: An operator to apply the subject with.
        enum:
          - NO_OP
          - EQUALS
          - NOT_EQUALS
          - IN
          - NOT_IN
          - DISCHARGED
        type: string
      svc:
        description: Trusted attributes discharged by the service.
        type: string
      sys:
        description: |-
          Trusted attributes supplied by any service that owns resources and uses
          the IAM system for access control.
        enum:
          - NO_ATTR
          - REGION
          - SERVICE
          - NAME
          - IP
        type: string
      values:
        description: The objects of the condition.
        items:
          type: string
        type: array
    type: object
  CounterOptions:
    description: |
      Increment a streamz counter with the specified metric and field names.

      Metric names should start with a '/', generally be lowercase-only,
      and end in "_count". Field names should not contain an initial slash.
      The actual exported metric names will have "/iam/policy" prepended.

      Field names correspond to IAM request parameters and field values are
      their respective values.

      Supported field names:
         - "authority", which is "[token]" if IAMContext.token is present,
           otherwise the value of IAMContext.authority_selector if present, and
           otherwise a representation of IAMContext.principal; or
         - "iam_principal", a representation of IAMContext.principal even if a
           token or authority selector is present; or
         - "" (empty string), resulting in a counter with no fields.

      Examples:
        counter { metric: "/debug_access_count"  field: "iam_principal" }
        ==> increment counter /iam/policy/debug_access_count
                              {iam_principal=[value of IAMContext.principal]}
    properties:
      customFields:
        description: Custom fields.
        items:
          $ref: '#/definitions/CustomField'
        type: array
      field:
        description: The field value to attribute.
        type: string
      metric:
        description: The metric to update.
        type: string
    type: object
  CustomField:
    description: |-
      Custom fields.
      These can be used to create a counter with arbitrary field/value
      pairs.
      See: go/rpcsp-custom-fields.
    properties:
      name:
        description: Name is the field name.
        type: string
      value:
        description: |-
          Value is the field value. It is important that in contrast to the
          CounterOptions.field, the value here is a constant that is not
          derived from the IAMContext.
        type: string
    type: object
  DataAccessOptions:
    description: Write a Data Access (Gin) log
    properties:
      logMode:
        description: |-
          Whether Gin logging should happen in a fail-closed manner at the caller.
          This is relevant only in the LocalIAM implementation, for now.
        enum:
          - LOG_MODE_UNSPECIFIED
          - LOG_FAIL_CLOSED
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  Instance:
    description: Represents a Data Fusion instance.
    properties:
      apiEndpoint:
        description: Output only. Endpoint on which the REST APIs is accessible.
        type: string
      availableVersion:
        description: |-
          Available versions that the instance can be upgraded to using
          UpdateInstanceRequest.
        items:
          $ref: '#/definitions/Version'
        type: array
      createTime:
        description: Output only. The time the instance was created.
        format: google-datetime
        type: string
      description:
        description: An optional description of this instance.
        type: string
      displayName:
        description: Display name for an instance.
        type: string
      enableStackdriverLogging:
        description: Option to enable Stackdriver Logging.
        type: boolean
      enableStackdriverMonitoring:
        description: Option to enable Stackdriver Monitoring.
        type: boolean
      labels:
        additionalProperties:
          type: string
        description: |-
          The resource labels for instance to use to annotate any related underlying
          resources such as GCE VMs. The character '=' is not allowed to be used
          within the labels.
        type: object
      name:
        description: |-
          Output only. The name of this instance is in the form of
          projects/{project}/locations/{location}/instances/{instance}.
        type: string
      networkConfig:
        $ref: '#/definitions/NetworkConfig'
        description: |-
          Network configuration options. These are required when a private Data
          Fusion instance is to be created.
      options:
        additionalProperties:
          type: string
        description: |-
          Map of additional options used to configure the behavior of
          Data Fusion instance.
        type: object
      privateInstance:
        description: |-
          Specifies whether the Data Fusion instance should be private. If set to
          true, all Data Fusion nodes will have private IP addresses and will not be
          able to access the public internet.
        type: boolean
      serviceAccount:
        description: |-
          Output only. Service account which will be used to access resources in
          the customer project."
        type: string
      serviceEndpoint:
        description: Output only. Endpoint on which the Data Fusion UI is accessible.
        type: string
      state:
        description: Output only. The current state of this Data Fusion instance.
        enum:
          - STATE_UNSPECIFIED
          - CREATING
          - RUNNING
          - FAILED
          - DELETING
          - UPGRADING
          - RESTARTING
          - UPDATING
          - AUTO_UPDATING
          - AUTO_UPGRADING
        type: string
      stateMessage:
        description: |-
          Output only. Additional information about the current state of this Data
          Fusion instance if available.
        type: string
      type:
        description: Required. Instance type.
        enum:
          - TYPE_UNSPECIFIED
          - BASIC
          - ENTERPRISE
        type: string
      updateTime:
        description: Output only. The time the instance was last updated.
        format: google-datetime
        type: string
      version:
        description: Current version of the Data Fusion. Only specifiable in Update.
        type: string
      zone:
        description: Name of the zone in which the Data Fusion instance will be created.
        type: string
    type: object
  ListInstancesResponse:
    description: Response message for the list instance request.
    properties:
      instances:
        description: Represents a list of Data Fusion instances.
        items:
          $ref: '#/definitions/Instance'
        type: array
      nextPageToken:
        description: |-
          Token to retrieve the next page of results or empty if there are no more
          results in the list.
        type: string
      unreachable:
        description: Locations that could not be reached.
        items:
          type: string
        type: array
    type: object
  ListLocationsResponse:
    description: The response message for Locations.ListLocations.
    properties:
      locations:
        description: A list of locations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/Location'
        type: array
      nextPageToken:
        description: The standard List next-page token.
        type: string
    type: object
  ListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  Location:
    description: A resource that represents Google Cloud Platform location.
    properties:
      displayName:
        description: |-
          The friendly name for this location, typically a nearby city name.
          For example, "Tokyo".
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          Cross-service attributes for the location. For example

              {"cloud.googleapis.com/region": "us-east1"}
        type: object
      locationId:
        description: 'The canonical id for this location. For example: `"us-east1"`.'
        type: string
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service-specific metadata. For example the available capacity at the given
          location.
        type: object
      name:
        description: |-
          Resource name for the location, which may vary between implementations.
          For example: `"projects/example-project/locations/us-east1"`
        type: string
    type: object
  LogConfig:
    description: Specifies what kind of log the caller must write
    properties:
      cloudAudit:
        $ref: '#/definitions/CloudAuditOptions'
        description: Cloud audit options.
      counter:
        $ref: '#/definitions/CounterOptions'
        description: Counter options.
      dataAccess:
        $ref: '#/definitions/DataAccessOptions'
        description: Data access options.
    type: object
  NetworkConfig:
    description: |-
      Network configuration for a Data Fusion instance. These configurations
      are used for peering with the customer network. Configurations are optional
      when a public Data Fusion instance is to be created. However, providing
      these configurations allows several benefits, such as reduced network latency
      while accessing the customer resources from managed Data Fusion instance
      nodes, as well as access to the customer on-prem resources.
    properties:
      ipAllocation:
        description: |-
          The IP range in CIDR notation to use for the managed Data Fusion instance
          nodes. This range must not overlap with any other ranges used in the Data
          Fusion instance network.
        type: string
      network:
        description: |-
          Name of the network in the customer project with which the Tenant Project
          will be peered for executing pipelines. In case of shared VPC where the
          network resides in another host project the network should specified in
          the form of projects/{host-project-id}/global/networks/{network}
        type: string
    type: object
  Operation:
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
    properties:
      done:
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
        type: boolean
      error:
        $ref: '#/definitions/Status'
        description: The error result of the operation in case of failure or cancellation.
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
        type: object
      name:
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should be a resource name ending with `operations/{unique_id}`.
        type: string
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
        type: object
    type: object
  OperationMetadata:
    description: Represents the metadata of a long-running operation.
    properties:
      apiVersion:
        description: API version used to start the operation.
        type: string
      createTime:
        description: The time the operation was created.
        format: google-datetime
        type: string
      endTime:
        description: The time the operation finished running.
        format: google-datetime
        type: string
      requestedCancellation:
        description: |-
          Identifies whether the user has requested cancellation
          of the operation. Operations that have successfully been cancelled
          have Operation.error value with a google.rpc.Status.code of 1,
          corresponding to `Code.CANCELLED`.
        type: boolean
      statusDetail:
        description: Human-readable status of the operation if any.
        type: string
      target:
        description: Server-defined resource path for the target of the operation.
        type: string
      verb:
        description: Name of the verb executed by the operation.
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` is a collection of `bindings`. A `binding` binds one or more
      `members` to a single `role`. Members can be user accounts, service accounts,
      Google groups, and domains (such as G Suite). A `role` is a named list of
      permissions (defined by IAM or configured by users). A `binding` can
      optionally specify a `condition`, which is a logic expression that further
      constrains the role binding based on attributes about the request and/or
      target resource.

      **JSON Example**

          {
            "bindings": [
              {
                "role": "roles/resourcemanager.organizationAdmin",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-project-id@appspot.gserviceaccount.com"
                ]
              },
              {
                "role": "roles/resourcemanager.organizationViewer",
                "members": ["user:eve@example.com"],
                "condition": {
                  "title": "expirable access",
                  "description": "Does not grant access after Sep 2020",
                  "expression": "request.time <
                  timestamp('2020-10-01T00:00:00.000Z')",
                }
              }
            ]
          }

      **YAML Example**

          bindings:
          - members:
            - user:mike@example.com
            - group:admins@example.com
            - domain:google.com
            - serviceAccount:my-project-id@appspot.gserviceaccount.com
            role: roles/resourcemanager.organizationAdmin
          - members:
            - user:eve@example.com
            role: roles/resourcemanager.organizationViewer
            condition:
              title: expirable access
              description: Does not grant access after Sep 2020
              expression: request.time < timestamp('2020-10-01T00:00:00.000Z')

      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: |-
          Associates a list of `members` to a `role`. Optionally may specify a
          `condition` that determines when binding is in effect.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten. Due to blind-set semantics of an etag-less policy,
          'setIamPolicy' will not fail even if either of incoming or stored policy
          does not meet the version requirements.
        format: byte
        type: string
      iamOwned:
        type: boolean
      rules:
        description: |-
          If more than one rule is specified, the rules are applied in the following
          manner:
          - All matching LOG rules are always applied.
          - If any DENY/DENY_WITH_LOG rule matches, permission is denied.
            Logging will be applied if one or more matching rule requires logging.
          - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is
            granted.
            Logging will be applied if one or more matching rule requires logging.
          - Otherwise, if no rule applies, permission is denied.
        items:
          $ref: '#/definitions/Rule'
        type: array
      version:
        description: |-
          Specifies the format of the policy.

          Valid values are 0, 1, and 3. Requests specifying an invalid value will be
          rejected.

          Operations affecting conditional bindings must specify version 3. This can
          be either setting a conditional policy, modifying a conditional binding,
          or removing a conditional binding from the stored conditional policy.
          Operations on non-conditional policies may specify any valid value or
          leave the field unset.

          If no etag is provided in the call to `setIamPolicy`, any version
          compliance checks on the incoming and/or stored policy is skipped.
        format: int32
        type: integer
    type: object
  RestartInstanceRequest:
    description: Request message for restarting a Data Fusion instance.
    properties: {}
    type: object
  Rule:
    description: A rule to be applied in a Policy.
    properties:
      action:
        description: Required
        enum:
          - NO_ACTION
          - ALLOW
          - ALLOW_WITH_LOG
          - DENY
          - DENY_WITH_LOG
          - LOG
        type: string
      conditions:
        description: |-
          Additional restrictions that must be met. All conditions must pass for the
          rule to match.
        items:
          $ref: '#/definitions/Condition'
        type: array
      description:
        description: Human-readable description of the rule.
        type: string
      in:
        description: |-
          If one or more 'in' clauses are specified, the rule matches if
          the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.
        items:
          type: string
        type: array
      logConfig:
        description: |-
          The config returned to callers of tech.iam.IAM.CheckPolicy for any entries
          that match the LOG action.
        items:
          $ref: '#/definitions/LogConfig'
        type: array
      notIn:
        description: |-
          If one or more 'not_in' clauses are specified, the rule matches
          if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.
          The format for in and not_in entries can be found at in the Local IAM
          documentation (see go/local-iam#features).
        items:
          type: string
        type: array
      permissions:
        description: |-
          A permission is a string of form '<service>.<resource type>.<verb>'
          (e.g., 'storage.buckets.list'). A value of '*' matches all permissions,
          and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.
        items:
          type: string
        type: array
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
      updateMask:
        description: |-
          OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only
          the fields in the mask will be modified. If no mask is provided, the
          following default mask is used:
          paths: "bindings, etag"
          This field is only used by Cloud IAM.
        format: google-fieldmask
        type: string
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for
      different programming environments, including REST APIs and RPC APIs. It is
      used by [gRPC](https://github.com/grpc). Each `Status` message contains
      three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the
      [API Design Guide](https://cloud.google.com/apis/design/errors).
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
  UpgradeInstanceRequest:
    description: |-
      Request message for upgrading a Data Fusion instance.
      To change the instance properties, instance update should be used.
    properties: {}
    type: object
  Version:
    description: The Data Fusion version.
    properties:
      versionNumber:
        description: 'The version number of the Data Fusion instance, such as ''6.0.1.0''.'
        type: string
    type: object
