openapi: 3.0.0
servers:
  - url: 'http://waf.amazonaws.com/'
info:
  version: '2015-08-24'
  x-release: v4
  title: AWS WAF
  description: 'This is the <i>AWS WAF API Reference</i> for using AWS WAF with Amazon CloudFront. The AWS WAF actions and data types listed in the reference are available for protecting Amazon CloudFront distributions. You can use these actions and data types via the endpoint <i>waf.amazonaws.com</i>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: waf
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/waf-2015-08-24.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/waf/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreateByteMatchSet
      description: '<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateByteMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateByteMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateIPSet':
    post:
      operationId: CreateIPSet
      description: '<p>Creates an <a>IPSet</a>, which you use to specify which web requests you want to allow or block based on the IP addresses that the requests originate from. For example, if you''re receiving a lot of requests from one or more individual IP addresses or one or more ranges of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that contains those IP addresses and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateIPSet</code> request.</p> </li> <li> <p>Submit a <code>CreateIPSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIPSetResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIPSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateRateBasedRule':
    post:
      operationId: CreateRateBasedRule
      description: '<p>Creates a <a>RateBasedRule</a>. The <code>RateBasedRule</code> contains a <code>RateLimit</code>, which specifies the maximum number of requests that AWS WAF allows from a specified IP address in a five-minute period. The <code>RateBasedRule</code> also contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to count or block if these requests exceed the <code>RateLimit</code>.</p> <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request not only must exceed the <code>RateLimit</code>, but it also must match all the specifications to be counted or blocked. For example, suppose you add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that you want to block requests that meet the conditions in the rule. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>. Further, requests that match these two conditions must be received at a rate of more than 15,000 requests every five minutes. If both conditions are met and the rate is exceeded, AWS WAF blocks the requests. If the rate drops below 15,000 for a five-minute period, AWS WAF no longer blocks the requests.</p> <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code> </p> </li> <li> <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code> </p> </li> <li> <p>A <code>TargetString</code> of <code>login</code> </p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p> <p>To create and configure a <code>RateBasedRule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the rule. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRateBasedRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRateBasedRule</code> request to specify the predicates that you want to include in the rule.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>RateBasedRule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRateBasedRuleResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRateBasedRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateRule':
    post:
      operationId: CreateRule
      description: '<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to block. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed or blocked. For example, suppose you add the following to a <code>Rule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRuleResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateSizeConstraintSet':
    post:
      operationId: CreateSizeConstraintSet
      description: '<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a web request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. For example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSizeConstraintSetResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSizeConstraintSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateSqlInjectionMatchSet':
    post:
      operationId: CreateSqlInjectionMatchSet
      description: '<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateSqlInjectionMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count malicious SQL code.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSqlInjectionMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSqlInjectionMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateWebACL':
    post:
      operationId: CreateWebACL
      description: '<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. AWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p> <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn''t match any of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p> <p>To create and configure a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. For more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, <a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see <a>CreateRule</a> and <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateWebACL</code> request.</p> </li> <li> <p>Submit a <code>CreateWebACL</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateWebACL</a> request.</p> </li> <li> <p>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, to specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</p> </li> </ol> <p>For more information about how to use the AWS WAF API, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWebACLResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebACLRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateXssMatchSet':
    post:
      operationId: CreateXssMatchSet
      description: '<p>Creates an <a>XssMatchSet</a>, which you use to allow, block, or count requests that contain cross-site scripting attacks in the specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateXssMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateXssMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count cross-site scripting attacks.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateXssMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateXssMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteByteMatchSet':
    post:
      operationId: DeleteByteMatchSet
      description: '<p>Permanently deletes a <a>ByteMatchSet</a>. You can''t delete a <code>ByteMatchSet</code> if it''s still used in any <code>Rules</code> or if it still includes any <a>ByteMatchTuple</a> objects (any filters).</p> <p>If you just want to remove a <code>ByteMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>ByteMatchSet</code> to remove filters, if any. For more information, see <a>UpdateByteMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteByteMatchSet</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteByteMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteByteMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteIPSet':
    post:
      operationId: DeleteIPSet
      description: '<p>Permanently deletes an <a>IPSet</a>. You can''t delete an <code>IPSet</code> if it''s still used in any <code>Rules</code> or if it still includes any IP addresses.</p> <p>If you just want to remove an <code>IPSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>IPSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>IPSet</code> to remove IP address ranges, if any. For more information, see <a>UpdateIPSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteIPSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteIPSet</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteIPSetResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteIPSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteRateBasedRule':
    post:
      operationId: DeleteRateBasedRule
      description: '<p>Permanently deletes a <a>RateBasedRule</a>. You can''t delete a rule if it''s still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a rule from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>RateBasedRule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>RateBasedRule</code> to remove predicates, if any. For more information, see <a>UpdateRateBasedRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRateBasedRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRateBasedRule</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRateBasedRuleResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRateBasedRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteRule':
    post:
      operationId: DeleteRule
      description: '<p>Permanently deletes a <a>Rule</a>. You can''t delete a <code>Rule</code> if it''s still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a <code>Rule</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>Rule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>Rule</code> to remove predicates, if any. For more information, see <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRule</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRuleResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSizeConstraintSet':
    post:
      operationId: DeleteSizeConstraintSet
      description: '<p>Permanently deletes a <a>SizeConstraintSet</a>. You can''t delete a <code>SizeConstraintSet</code> if it''s still used in any <code>Rules</code> or if it still includes any <a>SizeConstraint</a> objects (any filters).</p> <p>If you just want to remove a <code>SizeConstraintSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>SizeConstraintSet</code> to remove filters, if any. For more information, see <a>UpdateSizeConstraintSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSizeConstraintSet</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSizeConstraintSetResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSizeConstraintSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSqlInjectionMatchSet':
    post:
      operationId: DeleteSqlInjectionMatchSet
      description: '<p>Permanently deletes a <a>SqlInjectionMatchSet</a>. You can''t delete a <code>SqlInjectionMatchSet</code> if it''s still used in any <code>Rules</code> or if it still contains any <a>SqlInjectionMatchTuple</a> objects.</p> <p>If you just want to remove a <code>SqlInjectionMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SqlInjectionMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>SqlInjectionMatchSet</code> to remove filters, if any. For more information, see <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSqlInjectionMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSqlInjectionMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteWebACL':
    post:
      operationId: DeleteWebACL
      description: '<p>Permanently deletes a <a>WebACL</a>. You can''t delete a <code>WebACL</code> if it still contains any <code>Rules</code>.</p> <p>To delete a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>WebACL</code> to remove <code>Rules</code>, if any. For more information, see <a>UpdateWebACL</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteWebACL</code> request.</p> </li> <li> <p>Submit a <code>DeleteWebACL</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWebACLResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteWebACLRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteXssMatchSet':
    post:
      operationId: DeleteXssMatchSet
      description: '<p>Permanently deletes an <a>XssMatchSet</a>. You can''t delete an <code>XssMatchSet</code> if it''s still used in any <code>Rules</code> or if it still contains any <a>XssMatchTuple</a> objects.</p> <p>If you just want to remove an <code>XssMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>XssMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>XssMatchSet</code> to remove filters, if any. For more information, see <a>UpdateXssMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteXssMatchSet</code> request.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteXssMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonEmptyEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteXssMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetByteMatchSet':
    post:
      operationId: GetByteMatchSet
      description: Returns the <a>ByteMatchSet</a> specified by <code>ByteMatchSetId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetByteMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetByteMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetChangeToken':
    post:
      operationId: GetChangeToken
      description: '<p>When you want to create, update, or delete AWS WAF objects, get a change token and include the change token in the create, update, or delete request. Change tokens ensure that your application doesn''t submit conflicting requests to AWS WAF.</p> <p>Each create, update, or delete request must use a unique change token. If your application submits a <code>GetChangeToken</code> request and then submits a second <code>GetChangeToken</code> request before submitting a create, update, or delete request, the second <code>GetChangeToken</code> request returns the same value as the first <code>GetChangeToken</code> request.</p> <p>When you use a change token in a create, update, or delete request, the status of the change token changes to <code>PENDING</code>, which indicates that AWS WAF is propagating the change to all AWS WAF servers. Use <code>GetChangeTokenStatus</code> to determine the status of your change token.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChangeTokenResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChangeTokenRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetChangeTokenStatus':
    post:
      operationId: GetChangeTokenStatus
      description: '<p>Returns the status of a <code>ChangeToken</code> that you got by calling <a>GetChangeToken</a>. <code>ChangeTokenStatus</code> is one of the following values:</p> <ul> <li> <p> <code>PROVISIONED</code>: You requested the change token by calling <code>GetChangeToken</code>, but you haven''t used it yet in a call to create, update, or delete an AWS WAF object.</p> </li> <li> <p> <code>PENDING</code>: AWS WAF is propagating the create, update, or delete request to all AWS WAF servers.</p> </li> <li> <p> <code>IN_SYNC</code>: Propagation is complete.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChangeTokenStatusResponse'
        '480':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChangeTokenStatusRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetIPSet':
    post:
      operationId: GetIPSet
      description: Returns the <a>IPSet</a> that is specified by <code>IPSetId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIPSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIPSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetRateBasedRule':
    post:
      operationId: GetRateBasedRule
      description: Returns the <a>RateBasedRule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRateBasedRule</code> request.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateBasedRuleResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRateBasedRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetRateBasedRuleManagedKeys':
    post:
      operationId: GetRateBasedRuleManagedKeys
      description: 'Returns an array of IP addresses currently being blocked by the <a>RateBasedRule</a> that is specified by the <code>RuleId</code>. The maximum number of managed keys that will be blocked is 10,000. If more than 10,000 addresses exceed the rate limit, the 10,000 addresses with the highest rates will be blocked.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateBasedRuleManagedKeysResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRateBasedRuleManagedKeysRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetRule':
    post:
      operationId: GetRule
      description: Returns the <a>Rule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRule</code> request.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRuleResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRuleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetSampledRequests':
    post:
      operationId: GetSampledRequests
      description: '<p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSampledRequestsResponse'
        '480':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSampledRequestsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetSizeConstraintSet':
    post:
      operationId: GetSizeConstraintSet
      description: Returns the <a>SizeConstraintSet</a> specified by <code>SizeConstraintSetId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSizeConstraintSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSizeConstraintSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetSqlInjectionMatchSet':
    post:
      operationId: GetSqlInjectionMatchSet
      description: Returns the <a>SqlInjectionMatchSet</a> that is specified by <code>SqlInjectionMatchSetId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSqlInjectionMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSqlInjectionMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetWebACL':
    post:
      operationId: GetWebACL
      description: Returns the <a>WebACL</a> that is specified by <code>WebACLId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebACLResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWebACLRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetXssMatchSet':
    post:
      operationId: GetXssMatchSet
      description: Returns the <a>XssMatchSet</a> that is specified by <code>XssMatchSetId</code>.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetXssMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetXssMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListByteMatchSets':
    post:
      operationId: ListByteMatchSets
      description: Returns an array of <a>ByteMatchSetSummary</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListByteMatchSetsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListByteMatchSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListIPSets':
    post:
      operationId: ListIPSets
      description: Returns an array of <a>IPSetSummary</a> objects in the response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIPSetsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListIPSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListRateBasedRules':
    post:
      operationId: ListRateBasedRules
      description: Returns an array of <a>RuleSummary</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRateBasedRulesResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRateBasedRulesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListRules':
    post:
      operationId: ListRules
      description: Returns an array of <a>RuleSummary</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRulesResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRulesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListSizeConstraintSets':
    post:
      operationId: ListSizeConstraintSets
      description: Returns an array of <a>SizeConstraintSetSummary</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSizeConstraintSetsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSizeConstraintSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListSqlInjectionMatchSets':
    post:
      operationId: ListSqlInjectionMatchSets
      description: Returns an array of <a>SqlInjectionMatchSet</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSqlInjectionMatchSetsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSqlInjectionMatchSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListWebACLs':
    post:
      operationId: ListWebACLs
      description: Returns an array of <a>WebACLSummary</a> objects in the response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebACLsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListWebACLsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListXssMatchSets':
    post:
      operationId: ListXssMatchSets
      description: Returns an array of <a>XssMatchSet</a> objects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListXssMatchSetsResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListXssMatchSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateByteMatchSet':
    post:
      operationId: UpdateByteMatchSet
      description: '<p>Inserts or deletes <a>ByteMatchTuple</a> objects (filters) in a <a>ByteMatchSet</a>. For each <code>ByteMatchTuple</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change a <code>ByteMatchSetUpdate</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The part of a web request that you want AWS WAF to inspect, such as a query string or the value of the <code>User-Agent</code> header. </p> </li> <li> <p>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to look for. For more information, including how you specify the values for the AWS WAF API and the AWS CLI or SDKs, see <code>TargetString</code> in the <a>ByteMatchTuple</a> data type. </p> </li> <li> <p>Where to look, such as at the beginning or the end of a query string.</p> </li> <li> <p>Whether to perform any conversions on the request, such as converting it to lowercase, before inspecting it for the specified string.</p> </li> </ul> <p>For example, you can add a <code>ByteMatchSetUpdate</code> object that matches web requests in which <code>User-Agent</code> headers contain the string <code>BadBot</code>. You can then configure AWS WAF to block those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Create a <code>ByteMatchSet.</code> For more information, see <a>CreateByteMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</p> </li> <li> <p>Submit an <code>UpdateByteMatchSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateByteMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '482':
          description: WAFInvalidOperationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidOperationException'
        '483':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '484':
          description: WAFNonexistentContainerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentContainerException'
        '485':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '486':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '487':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFLimitsExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateByteMatchSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateIPSet':
    post:
      operationId: UpdateIPSet
      description: '<p>Inserts or deletes <a>IPSetDescriptor</a> objects in an <code>IPSet</code>. For each <code>IPSetDescriptor</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change an <code>IPSetDescriptor</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The IP address version, <code>IPv4</code> or <code>IPv6</code>. </p> </li> <li> <p>The IP address in CIDR notation, for example, <code>192.0.2.0/24</code> (for the range of IP addresses from <code>192.0.2.0</code> to <code>192.0.2.255</code>) or <code>192.0.2.44/32</code> (for the individual IP address <code>192.0.2.44</code>). </p> </li> </ul> <p>AWS WAF supports /8, /16, /24, and /32 IP address ranges for IPv4, and /24, /32, /48, /56, /64 and /128 for IPv6. For more information about CIDR notation, see the Wikipedia entry <a href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing">Classless Inter-Domain Routing</a>.</p> <p>IPv6 addresses can be represented using any of the following formats:</p> <ul> <li> <p>1111:0000:0000:0000:0000:0000:0000:0111/128</p> </li> <li> <p>1111:0:0:0:0:0:0:0111/128</p> </li> <li> <p>1111::0111/128</p> </li> <li> <p>1111::111/128</p> </li> </ul> <p>You use an <code>IPSet</code> to specify which web requests you want to allow or block based on the IP addresses that the requests originated from. For example, if you''re receiving a lot of requests from one or a small number of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that specifies those IP addresses, and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li> <p>Submit a <a>CreateIPSet</a> request.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p> </li> </ol> <p>When you update an <code>IPSet</code>, you specify the IP addresses that you want to add and/or the IP addresses that you want to delete. If you want to change an IP address, you delete the existing IP address and add the new one.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIPSetResponse'
        '480':
          description: WAFStaleDataException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidAccountException'
        '483':
          description: WAFInvalidOperationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidOperationException'
        '484':
          description: WAFInvalidParameterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFInvalidParameterException'
        '485':
          description: WAFNonexistentContainerException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentContainerException'
        '486':
          description: WAFNonexistentItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFNonexistentItemException'
        '487':
          description: WAFReferencedItemException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFReferencedItemException'
        '488':
          description: WAFLimitsExceededException
          content:
            application/json:
              schema:
[...]
