swagger: '2.0'
schemes:
  - https
  - http
host: waf.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'This is the <i>AWS WAF API Reference</i> for using AWS WAF with Amazon CloudFront. The AWS WAF actions and data types listed in the reference are available for protecting Amazon CloudFront distributions. You can use these actions and data types via the endpoint <i>waf.amazonaws.com</i>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS WAF
  version: '2015-08-24'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/waf-2015-08-24.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: waf
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/waf/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AWSWAF_20150824.CreateByteMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateByteMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateByteMatchSetRequest'
        - enum:
            - AWSWAF_20150824.CreateByteMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateByteMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateGeoMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an <a>GeoMatchSet</a>, which you use to specify which web requests you want to allow or block based on the country that the requests originate from. For example, if you''re receiving a lot of requests from one or more countries and you want to block the requests, you can create an <code>GeoMatchSet</code> that contains those countries and then configure AWS WAF to block the requests. </p> <p>To create and configure a <code>GeoMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateGeoMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateGeoMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateGeoMatchSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateGeoMatchSetSet</code> request to specify the countries that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateGeoMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateGeoMatchSetRequest'
        - enum:
            - AWSWAF_20150824.CreateGeoMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGeoMatchSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateIPSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an <a>IPSet</a>, which you use to specify which web requests that you want to allow or block based on the IP addresses that the requests originate from. For example, if you''re receiving a lot of requests from one or more individual IP addresses or one or more ranges of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that contains those IP addresses and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateIPSet</code> request.</p> </li> <li> <p>Submit a <code>CreateIPSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateIPSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateIPSetRequest'
        - enum:
            - AWSWAF_20150824.CreateIPSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIPSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateRateBasedRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <a>RateBasedRule</a>. The <code>RateBasedRule</code> contains a <code>RateLimit</code>, which specifies the maximum number of requests that AWS WAF allows from a specified IP address in a five-minute period. The <code>RateBasedRule</code> also contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to count or block if these requests exceed the <code>RateLimit</code>.</p> <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request not only must exceed the <code>RateLimit</code>, but it also must match all the specifications to be counted or blocked. For example, suppose you add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that you want to block requests that meet the conditions in the rule. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>. Further, requests that match these two conditions must be received at a rate of more than 15,000 requests every five minutes. If both conditions are met and the rate is exceeded, AWS WAF blocks the requests. If the rate drops below 15,000 for a five-minute period, AWS WAF no longer blocks the requests.</p> <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code> </p> </li> <li> <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code> </p> </li> <li> <p>A <code>TargetString</code> of <code>login</code> </p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p> <p>To create and configure a <code>RateBasedRule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the rule. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRateBasedRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRateBasedRule</code> request to specify the predicates that you want to include in the rule.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>RateBasedRule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateRateBasedRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRateBasedRuleRequest'
        - enum:
            - AWSWAF_20150824.CreateRateBasedRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRateBasedRuleResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '484':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
        '485':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '486':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
        '487':
          description: WAFBadRequestException
          schema:
            $ref: '#/definitions/WAFBadRequestException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateRegexMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <a>RegexMatchSet</a>. You then use <a>UpdateRegexMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>RegexMatchSet</code> that contains a <code>RegexMatchTuple</code> that looks for any requests with <code>User-Agent</code> headers that match a <code>RegexPatternSet</code> with pattern <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>RegexMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRegexMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateRegexMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexMatchSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateRegexMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value, using a <code>RegexPatternSet</code>, that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateRegexMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRegexMatchSetRequest'
        - enum:
            - AWSWAF_20150824.CreateRegexMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRegexMatchSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '483':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateRegexPatternSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>RegexPatternSet</code>. You then use <a>UpdateRegexPatternSet</a> to specify the regular expression (regex) pattern that you want AWS WAF to search for, such as <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>RegexPatternSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRegexPatternSet</code> request.</p> </li> <li> <p>Submit a <code>CreateRegexPatternSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexPatternSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateRegexPatternSet</a> request to specify the string that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateRegexPatternSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRegexPatternSetRequest'
        - enum:
            - AWSWAF_20150824.CreateRegexPatternSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRegexPatternSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '483':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to block. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed or blocked. For example, suppose that you add the following to a <code>Rule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRuleRequest'
        - enum:
            - AWSWAF_20150824.CreateRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '484':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
        '485':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '486':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
        '487':
          description: WAFBadRequestException
          schema:
            $ref: '#/definitions/WAFBadRequestException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateRuleGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>RuleGroup</code>. A rule group is a collection of predefined rules that you add to a web ACL. You use <a>UpdateRuleGroup</a> to add rules to the rule group.</p> <p>Rule groups are subject to the following limits:</p> <ul> <li> <p>Three rule groups per account. You can request an increase to this limit by contacting customer support.</p> </li> <li> <p>One rule group per web ACL.</p> </li> <li> <p>Ten rules per rule group.</p> </li> </ul> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateRuleGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateRuleGroupRequest'
        - enum:
            - AWSWAF_20150824.CreateRuleGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleGroupResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '483':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
        '484':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '485':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
        '486':
          description: WAFBadRequestException
          schema:
            $ref: '#/definitions/WAFBadRequestException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateSizeConstraintSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a web request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. For example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateSizeConstraintSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSizeConstraintSetRequest'
        - enum:
            - AWSWAF_20150824.CreateSizeConstraintSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSizeConstraintSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateSqlInjectionMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateSqlInjectionMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count malicious SQL code.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateSqlInjectionMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSqlInjectionMatchSetRequest'
        - enum:
            - AWSWAF_20150824.CreateSqlInjectionMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSqlInjectionMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateWebACL':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. AWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p> <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn''t match any of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p> <p>To create and configure a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. For more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, <a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see <a>CreateRule</a> and <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateWebACL</code> request.</p> </li> <li> <p>Submit a <code>CreateWebACL</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateWebACL</a> request.</p> </li> <li> <p>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, to specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</p> </li> </ol> <p>For more information about how to use the AWS WAF API, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateWebACL
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateWebACLRequest'
        - enum:
            - AWSWAF_20150824.CreateWebACL
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWebACLResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '484':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
        '486':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '487':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
        '488':
          description: WAFBadRequestException
          schema:
            $ref: '#/definitions/WAFBadRequestException'
  '/#X-Amz-Target=AWSWAF_20150824.CreateXssMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an <a>XssMatchSet</a>, which you use to allow, block, or count requests that contain cross-site scripting attacks in the specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateXssMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateXssMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count cross-site scripting attacks.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href="https://docs.aws.amazon.com/waf/latest/developerguide/">AWS WAF Developer Guide</a>.</p>'
      operationId: CreateXssMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateXssMatchSetRequest'
        - enum:
            - AWSWAF_20150824.CreateXssMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateXssMatchSetResponse'
        '480':
          description: WAFDisallowedNameException
          schema:
            $ref: '#/definitions/WAFDisallowedNameException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFLimitsExceededException
          schema:
            $ref: '#/definitions/WAFLimitsExceededException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteByteMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>ByteMatchSet</a>. You can''t delete a <code>ByteMatchSet</code> if it''s still used in any <code>Rules</code> or if it still includes any <a>ByteMatchTuple</a> objects (any filters).</p> <p>If you just want to remove a <code>ByteMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>ByteMatchSet</code> to remove filters, if any. For more information, see <a>UpdateByteMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteByteMatchSet</code> request.</p> </li> </ol>'
      operationId: DeleteByteMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteByteMatchSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteByteMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteByteMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteGeoMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>GeoMatchSet</a>. You can''t delete a <code>GeoMatchSet</code> if it''s still used in any <code>Rules</code> or if it still includes any countries.</p> <p>If you just want to remove a <code>GeoMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>GeoMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>GeoMatchSet</code> to remove any countries. For more information, see <a>UpdateGeoMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteGeoMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteGeoMatchSet</code> request.</p> </li> </ol>'
      operationId: DeleteGeoMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteGeoMatchSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteGeoMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGeoMatchSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteIPSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes an <a>IPSet</a>. You can''t delete an <code>IPSet</code> if it''s still used in any <code>Rules</code> or if it still includes any IP addresses.</p> <p>If you just want to remove an <code>IPSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>IPSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>IPSet</code> to remove IP address ranges, if any. For more information, see <a>UpdateIPSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteIPSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteIPSet</code> request.</p> </li> </ol>'
      operationId: DeleteIPSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIPSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteIPSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIPSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteLoggingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Permanently deletes the <a>LoggingConfiguration</a> from the specified web ACL.
      operationId: DeleteLoggingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLoggingConfigurationRequest'
        - enum:
            - AWSWAF_20150824.DeleteLoggingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoggingConfigurationResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '482':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
  '/#X-Amz-Target=AWSWAF_20150824.DeletePermissionPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Permanently deletes an IAM policy from the specified RuleGroup.</p> <p>The user making the request must be the owner of the RuleGroup.</p>
      operationId: DeletePermissionPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeletePermissionPolicyRequest'
        - enum:
            - AWSWAF_20150824.DeletePermissionPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeletePermissionPolicyResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteRateBasedRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>RateBasedRule</a>. You can''t delete a rule if it''s still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a rule from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>RateBasedRule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>RateBasedRule</code> to remove predicates, if any. For more information, see <a>UpdateRateBasedRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRateBasedRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRateBasedRule</code> request.</p> </li> </ol>'
      operationId: DeleteRateBasedRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRateBasedRuleRequest'
        - enum:
            - AWSWAF_20150824.DeleteRateBasedRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRateBasedRuleResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
        '486':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '487':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteRegexMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>RegexMatchSet</a>. You can''t delete a <code>RegexMatchSet</code> if it''s still used in any <code>Rules</code> or if it still includes any <code>RegexMatchTuples</code> objects (any filters).</p> <p>If you just want to remove a <code>RegexMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>RegexMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>RegexMatchSet</code> to remove filters, if any. For more information, see <a>UpdateRegexMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRegexMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteRegexMatchSet</code> request.</p> </li> </ol>'
      operationId: DeleteRegexMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRegexMatchSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteRegexMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRegexMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteRegexPatternSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Permanently deletes a <a>RegexPatternSet</a>. You can''t delete a <code>RegexPatternSet</code> if it''s still used in any <code>RegexMatchSet</code> or if the <code>RegexPatternSet</code> is not empty. '
      operationId: DeleteRegexPatternSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRegexPatternSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteRegexPatternSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRegexPatternSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>Rule</a>. You can''t delete a <code>Rule</code> if it''s still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a <code>Rule</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>Rule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>Rule</code> to remove predicates, if any. For more information, see <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRule</code> request.</p> </li> </ol>'
      operationId: DeleteRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRuleRequest'
        - enum:
            - AWSWAF_20150824.DeleteRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRuleResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
        '486':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '487':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteRuleGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>RuleGroup</a>. You can''t delete a <code>RuleGroup</code> if it''s still used in any <code>WebACL</code> objects or if it still includes any rules.</p> <p>If you just want to remove a <code>RuleGroup</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>RuleGroup</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>RuleGroup</code> to remove rules, if any. For more information, see <a>UpdateRuleGroup</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRuleGroup</code> request.</p> </li> <li> <p>Submit a <code>DeleteRuleGroup</code> request.</p> </li> </ol>'
      operationId: DeleteRuleGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRuleGroupRequest'
        - enum:
            - AWSWAF_20150824.DeleteRuleGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRuleGroupResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
        '485':
          description: WAFInvalidOperationException
          schema:
            $ref: '#/definitions/WAFInvalidOperationException'
        '486':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '487':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteSizeConstraintSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>SizeConstraintSet</a>. You can''t delete a <code>SizeConstraintSet</code> if it''s still used in any <code>Rules</code> or if it still includes any <a>SizeConstraint</a> objects (any filters).</p> <p>If you just want to remove a <code>SizeConstraintSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>SizeConstraintSet</code> to remove filters, if any. For more information, see <a>UpdateSizeConstraintSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSizeConstraintSet</code> request.</p> </li> </ol>'
      operationId: DeleteSizeConstraintSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSizeConstraintSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteSizeConstraintSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSizeConstraintSetResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteSqlInjectionMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>SqlInjectionMatchSet</a>. You can''t delete a <code>SqlInjectionMatchSet</code> if it''s still used in any <code>Rules</code> or if it still contains any <a>SqlInjectionMatchTuple</a> objects.</p> <p>If you just want to remove a <code>SqlInjectionMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SqlInjectionMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>SqlInjectionMatchSet</code> to remove filters, if any. For more information, see <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> </ol>'
      operationId: DeleteSqlInjectionMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSqlInjectionMatchSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteSqlInjectionMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSqlInjectionMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteWebACL':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes a <a>WebACL</a>. You can''t delete a <code>WebACL</code> if it still contains any <code>Rules</code>.</p> <p>To delete a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>WebACL</code> to remove <code>Rules</code>, if any. For more information, see <a>UpdateWebACL</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteWebACL</code> request.</p> </li> <li> <p>Submit a <code>DeleteWebACL</code> request.</p> </li> </ol>'
      operationId: DeleteWebACL
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWebACLRequest'
        - enum:
            - AWSWAF_20150824.DeleteWebACL
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWebACLResponse'
        '480':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '482':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '483':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '484':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
        '486':
          description: WAFTagOperationException
          schema:
            $ref: '#/definitions/WAFTagOperationException'
        '487':
          description: WAFTagOperationInternalErrorException
          schema:
            $ref: '#/definitions/WAFTagOperationInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.DeleteXssMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Permanently deletes an <a>XssMatchSet</a>. You can''t delete an <code>XssMatchSet</code> if it''s still used in any <code>Rules</code> or if it still contains any <a>XssMatchTuple</a> objects.</p> <p>If you just want to remove an <code>XssMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>XssMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>XssMatchSet</code> to remove filters, if any. For more information, see <a>UpdateXssMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteXssMatchSet</code> request.</p> </li> </ol>'
      operationId: DeleteXssMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteXssMatchSetRequest'
        - enum:
            - AWSWAF_20150824.DeleteXssMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteXssMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFReferencedItemException
          schema:
            $ref: '#/definitions/WAFReferencedItemException'
        '484':
          description: WAFStaleDataException
          schema:
            $ref: '#/definitions/WAFStaleDataException'
        '485':
          description: WAFNonEmptyEntityException
          schema:
            $ref: '#/definitions/WAFNonEmptyEntityException'
  '/#X-Amz-Target=AWSWAF_20150824.GetByteMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>ByteMatchSet</a> specified by <code>ByteMatchSetId</code>.
      operationId: GetByteMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetByteMatchSetRequest'
        - enum:
            - AWSWAF_20150824.GetByteMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetByteMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetChangeToken':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>When you want to create, update, or delete AWS WAF objects, get a change token and include the change token in the create, update, or delete request. Change tokens ensure that your application doesn''t submit conflicting requests to AWS WAF.</p> <p>Each create, update, or delete request must use a unique change token. If your application submits a <code>GetChangeToken</code> request and then submits a second <code>GetChangeToken</code> request before submitting a create, update, or delete request, the second <code>GetChangeToken</code> request returns the same value as the first <code>GetChangeToken</code> request.</p> <p>When you use a change token in a create, update, or delete request, the status of the change token changes to <code>PENDING</code>, which indicates that AWS WAF is propagating the change to all AWS WAF servers. Use <code>GetChangeTokenStatus</code> to determine the status of your change token.</p>'
      operationId: GetChangeToken
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetChangeTokenRequest'
        - enum:
            - AWSWAF_20150824.GetChangeToken
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetChangeTokenResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.GetChangeTokenStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the status of a <code>ChangeToken</code> that you got by calling <a>GetChangeToken</a>. <code>ChangeTokenStatus</code> is one of the following values:</p> <ul> <li> <p> <code>PROVISIONED</code>: You requested the change token by calling <code>GetChangeToken</code>, but you haven''t used it yet in a call to create, update, or delete an AWS WAF object.</p> </li> <li> <p> <code>PENDING</code>: AWS WAF is propagating the create, update, or delete request to all AWS WAF servers.</p> </li> <li> <p> <code>INSYNC</code>: Propagation is complete.</p> </li> </ul>'
      operationId: GetChangeTokenStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetChangeTokenStatusRequest'
        - enum:
            - AWSWAF_20150824.GetChangeTokenStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetChangeTokenStatusResponse'
        '480':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.GetGeoMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>GeoMatchSet</a> that is specified by <code>GeoMatchSetId</code>.
      operationId: GetGeoMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetGeoMatchSetRequest'
        - enum:
            - AWSWAF_20150824.GetGeoMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGeoMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetIPSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>IPSet</a> that is specified by <code>IPSetId</code>.
      operationId: GetIPSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetIPSetRequest'
        - enum:
            - AWSWAF_20150824.GetIPSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIPSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetLoggingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>LoggingConfiguration</a> for the specified web ACL.
      operationId: GetLoggingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLoggingConfigurationRequest'
        - enum:
            - AWSWAF_20150824.GetLoggingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggingConfigurationResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetPermissionPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the IAM policy attached to the RuleGroup.
      operationId: GetPermissionPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetPermissionPolicyRequest'
        - enum:
            - AWSWAF_20150824.GetPermissionPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPermissionPolicyResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRateBasedRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>RateBasedRule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRateBasedRule</code> request.
      operationId: GetRateBasedRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRateBasedRuleRequest'
        - enum:
            - AWSWAF_20150824.GetRateBasedRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRateBasedRuleResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRateBasedRuleManagedKeys':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns an array of IP addresses currently being blocked by the <a>RateBasedRule</a> that is specified by the <code>RuleId</code>. The maximum number of managed keys that will be blocked is 10,000. If more than 10,000 addresses exceed the rate limit, the 10,000 addresses with the highest rates will be blocked.'
      operationId: GetRateBasedRuleManagedKeys
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRateBasedRuleManagedKeysRequest'
        - enum:
            - AWSWAF_20150824.GetRateBasedRuleManagedKeys
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRateBasedRuleManagedKeysResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '483':
          description: WAFInvalidParameterException
          schema:
            $ref: '#/definitions/WAFInvalidParameterException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRegexMatchSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>RegexMatchSet</a> specified by <code>RegexMatchSetId</code>.
      operationId: GetRegexMatchSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRegexMatchSetRequest'
        - enum:
            - AWSWAF_20150824.GetRegexMatchSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRegexMatchSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRegexPatternSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>RegexPatternSet</a> specified by <code>RegexPatternSetId</code>.
      operationId: GetRegexPatternSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRegexPatternSetRequest'
        - enum:
            - AWSWAF_20150824.GetRegexPatternSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRegexPatternSetResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>Rule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRule</code> request.
      operationId: GetRule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRuleRequest'
        - enum:
            - AWSWAF_20150824.GetRule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRuleResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFInvalidAccountException
          schema:
            $ref: '#/definitions/WAFInvalidAccountException'
        '482':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetRuleGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the <a>RuleGroup</a> that is specified by the <code>RuleGroupId</code> that you included in the <code>GetRuleGroup</code> request.</p> <p>To view the rules in a rule group, use <a>ListActivatedRulesInRuleGroup</a>.</p>'
      operationId: GetRuleGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetRuleGroupRequest'
        - enum:
            - AWSWAF_20150824.GetRuleGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRuleGroupResponse'
        '480':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
        '481':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
  '/#X-Amz-Target=AWSWAF_20150824.GetSampledRequests':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>'
      operationId: GetSampledRequests
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSampledRequestsRequest'
        - enum:
            - AWSWAF_20150824.GetSampledRequests
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSampledRequestsResponse'
        '480':
          description: WAFNonexistentItemException
          schema:
            $ref: '#/definitions/WAFNonexistentItemException'
        '481':
          description: WAFInternalErrorException
          schema:
            $ref: '#/definitions/WAFInternalErrorException'
  '/#X-Amz-Target=AWSWAF_20150824.GetSizeConstraintSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the <a>SizeConstraintSet</a> specified by <code>SizeConstraintSetId</code>.
      operationId: GetSizeConstraintSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSizeConstraintSetRequest'
        - enum:
            - AWSWAF_20150824.GetSizeConstraintSet
[...]
