openapi: 3.0.0
servers:
  - url: https://recaptchaenterprise.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: reCAPTCHA Enterprise API
  version: v1beta1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://recaptchaenterprise.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: recaptchaenterprise
externalDocs:
  url: https://cloud.google.com/recaptcha-enterprise/
tags:
  - name: projects
paths:
  "/v1beta1/{name}:annotate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Annotates a previously created Assessment to provide additional information on whether the event turned out to be authentic or fradulent.
      operationId: recaptchaenterprise.projects.assessments.annotate
      parameters:
        - description: Required. The resource name of the Assessment, in the format "projects/{project_number}/assessments/{assessment_id}".
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1AnnotateAssessmentRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1AnnotateAssessmentResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/assessments":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an Assessment of the likelihood an event is legitimate.
      operationId: recaptchaenterprise.projects.assessments.create
      parameters:
        - description: Required. The name of the project in which the assessment will be created, in the format "projects/{project_number}".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1Assessment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1Assessment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudRecaptchaenterpriseV1beta1AnnotateAssessmentRequest:
      description: The request message to annotate an Assessment.
      properties:
        annotation:
          description: Optional. The annotation that will be assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.
          enum:
            - ANNOTATION_UNSPECIFIED
            - LEGITIMATE
            - FRAUDULENT
            - PASSWORD_CORRECT
            - PASSWORD_INCORRECT
          type: string
        reasons:
          description: Optional. Optional reasons for the annotation that will be assigned to the Event.
          items:
            enum:
              - REASON_UNSPECIFIED
              - CHARGEBACK
              - PAYMENT_HEURISTICS
              - INITIATED_TWO_FACTOR
              - PASSED_TWO_FACTOR
              - FAILED_TWO_FACTOR
              - CORRECT_PASSWORD
              - INCORRECT_PASSWORD
            type: string
          type: array
      type: object
    GoogleCloudRecaptchaenterpriseV1beta1AnnotateAssessmentResponse:
      description: Empty response for AnnotateAssessment.
      properties: {}
      type: object
    GoogleCloudRecaptchaenterpriseV1beta1Assessment:
      description: A recaptcha assessment resource.
      properties:
        event:
          $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1Event"
          description: The event being assessed.
        name:
          description: Output only. The resource name for the Assessment in the format "projects/{project_number}/assessments/{assessment_id}".
          readOnly: true
          type: string
        passwordLeakVerification:
          $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1PasswordLeakVerification"
          description: Information about the user's credentials used to check for leaks. This feature is part of the Early Access Program (EAP). Exercise caution, and do not deploy integrations based on this feature in a production environment.
        reasons:
          description: Output only. Reasons contributing to the risk analysis verdict.
          items:
            enum:
              - CLASSIFICATION_REASON_UNSPECIFIED
              - AUTOMATION
              - UNEXPECTED_ENVIRONMENT
              - TOO_MUCH_TRAFFIC
              - UNEXPECTED_USAGE_PATTERNS
              - LOW_CONFIDENCE_SCORE
            type: string
          readOnly: true
          type: array
        score:
          description: Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic).
          format: float
          readOnly: true
          type: number
        tokenProperties:
          $ref: "#/components/schemas/GoogleCloudRecaptchaenterpriseV1beta1TokenProperties"
          description: Output only. Properties of the provided event token.
          readOnly: true
      type: object
    GoogleCloudRecaptchaenterpriseV1beta1Event:
      properties:
        expectedAction:
          description: Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise.
          type: string
        siteKey:
          description: Optional. The site key that was used to invoke reCAPTCHA on your site and generate the token.
          type: string
        token:
          description: Optional. The user response token provided by the reCAPTCHA client-side integration on your site.
          type: string
        userAgent:
          description: Optional. The user agent present in the request from the user's device related to this event.
          type: string
        userIpAddress:
          description: Optional. The IP address in the request from the user's device related to this event.
          type: string
      type: object
    GoogleCloudRecaptchaenterpriseV1beta1PasswordLeakVerification:
      description: Password leak verification info.
      properties:
        canonicalizedUsername:
          description: Optional. The username part of the user credentials for which we want to trigger a leak check in canonicalized form. This is the same data used to create the hashed_user_credentials on the customer side.
          type: string
        credentialsLeaked:
          description: Output only. Whether or not the user's credentials are present in a known leak.
          readOnly: true
          type: boolean
        hashedUserCredentials:
          description: Optional. Scrypt hash of the username+password that the customer wants to verify against a known password leak.
          format: byte
          type: string
      type: object
    GoogleCloudRecaptchaenterpriseV1beta1TokenProperties:
      properties:
        action:
          description: Action name provided at token generation.
          type: string
        createTime:
          description: The timestamp corresponding to the generation of the token.
          format: google-datetime
          type: string
        hostname:
          description: The hostname of the page on which the token was generated.
          type: string
        invalidReason:
          description: Reason associated with the response when valid = false.
          enum:
            - INVALID_REASON_UNSPECIFIED
            - UNKNOWN_INVALID_REASON
            - MALFORMED
            - EXPIRED
            - DUPE
            - SITE_MISMATCH
            - MISSING
            - BROWSER_ERROR
          type: string
        valid:
          description: Whether the provided user response token is valid. When valid = false, the reason could be specified in invalid_reason or it could also be due to a user failing to solve a challenge or a sitekey mismatch (i.e the sitekey used to generate the token was different than the one specified in the assessment).
          type: boolean
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
