swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/certificate.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: automation-certificate
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates':
    get:
      description: Retrieve a list of certificates.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/certificateoperations'
      operationId: Certificate_ListByAutomationAccount
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list certificate operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: Gets or sets a list of certificates.
                items:
                  $ref: '#/definitions/Certificate'
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Certificate
      x-ms-examples:
        List certificates:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                    name: testCert
                    properties:
                      creationTime: '2017-03-29T17:26:43.337+00:00'
                      description: Sample Cert
                      expiryTime: '2018-03-29T17:25:45+00:00'
                      isExportable: false
                      lastModifiedTime: '2017-03-29T17:28:55.01+00:00'
                      thumbprint: thumbprint of cert
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates/{certificateName}':
    delete:
      description: Delete the certificate.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/certificateoperations'
      operationId: Certificate_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The name of certificate.
          in: path
          name: certificateName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Certificate
      x-ms-examples:
        Delete a certificate:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200': {}
    get:
      description: Retrieve the certificate identified by certificate name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/certificateoperations'
      operationId: Certificate_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The name of certificate.
          in: path
          name: certificateName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the certificate.
            properties:
              id:
                description: Gets the id of the resource.
                readOnly: true
                type: string
              name:
                description: Gets the name of the certificate.
                readOnly: true
                type: string
              properties:
                $ref: '#/definitions/CertificateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Certificate
      x-ms-examples:
        Get a certificate:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: '2017-03-29T17:26:43.337+00:00'
                  description: Sample Cert
                  expiryTime: '2018-03-29T17:25:45+00:00'
                  isExportable: false
                  lastModifiedTime: '2017-03-29T17:28:55.01+00:00'
                  thumbprint: thumbprint of cert
              headers: {}
    patch:
      description: Update a certificate.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/certificateoperations'
      operationId: Certificate_Update
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The parameters supplied to the update certificate operation.
          in: path
          name: certificateName
          required: true
          type: string
        - description: The parameters supplied to the update certificate operation.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the update certificate operation.
            properties:
              name:
                description: Gets or sets the name of the certificate.
                type: string
              properties:
                $ref: '#/definitions/CertificateUpdateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
            required:
              - name
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the certificate.
            properties:
              id:
                description: Gets the id of the resource.
                readOnly: true
                type: string
              name:
                description: Gets the name of the certificate.
                readOnly: true
                type: string
              properties:
                $ref: '#/definitions/CertificateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Certificate
      x-ms-examples:
        Update a certificate:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            certificateName: testCert
            parameters:
              name: testCert
              properties:
                description: sample certificate. Description updated
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: '2017-03-29T17:26:43.337+00:00'
                  description: sample certificate. Description updated
                  expiryTime: '2018-03-29T17:25:45+00:00'
                  isExportable: false
                  lastModifiedTime: '2017-03-29T17:28:55.01+00:00'
                  thumbprint: thumbprint of cert
              headers: {}
    put:
      description: Create a certificate.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/certificateoperations'
      operationId: Certificate_CreateOrUpdate
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The parameters supplied to the create or update certificate operation.
          in: path
          name: certificateName
          required: true
          type: string
        - description: The parameters supplied to the create or update certificate operation.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create or update or replace certificate operation.
            properties:
              name:
                description: Gets or sets the name of the certificate.
                type: string
              properties:
                $ref: '#/definitions/CertificateCreateOrUpdateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
            required:
              - name
              - properties
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the certificate.
            properties:
              id:
                description: Gets the id of the resource.
                readOnly: true
                type: string
              name:
                description: Gets the name of the certificate.
                readOnly: true
                type: string
              properties:
                $ref: '#/definitions/CertificateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
        '201':
          description: Created
          schema:
            description: Definition of the certificate.
            properties:
              id:
                description: Gets the id of the resource.
                readOnly: true
                type: string
              name:
                description: Gets the name of the certificate.
                readOnly: true
                type: string
              properties:
                $ref: '#/definitions/CertificateProperties'
                description: Gets or sets the properties of the certificate.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Certificate
      x-ms-examples:
        Create or update a certificate:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount18
            certificateName: testCert
            parameters:
              name: testCert
              properties:
                base64Value: base 64 value of cert
                description: Sample Cert
                isExportable: false
                thumbprint: thumbprint of cert
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: '2017-03-29T17:26:43.337+00:00'
                  description: sample certificate. Description updated
                  expiryTime: '2018-03-29T17:25:45+00:00'
                  isExportable: false
                  lastModifiedTime: '2017-03-29T17:28:55.01+00:00'
                  thumbprint: thumbprint of cert
              headers: {}
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert
                name: testCert
                properties:
                  creationTime: '2017-03-29T17:26:43.337+00:00'
                  description: Sample Cert
                  expiryTime: '2018-03-29T17:25:45+00:00'
                  isExportable: false
                  lastModifiedTime: '2017-03-29T17:26:43.337+00:00'
                  thumbprint: thumbprint of cert
              headers: {}
definitions:
  Certificate:
    type: object
  CertificateCreateOrUpdateProperties:
    type: object
  CertificateProperties:
    type: object
  CertificateUpdateProperties:
    type: object
