openapi: 3.0.0
servers:
  - url: https://api.digital.tfl.gov.uk
info:
  description: Our unified API brings together data across all modes of transport into a single RESTful API. This API provides access to the most highly requested realtime and status infomation across all the modes of transport, in a single and consistent way. Access to the developer documentation is available at https://api.tfl.gov.uk
  title: Transport for London Unified API
  version: v1
  x-apisguru-categories:
    - transport
    - open_data
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_TfL_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://api.tfl.gov.uk/swagger/docs/v1
      version: "3.0"
  x-providerName: tfl.gov.uk
paths:
  "/AccidentStats/{year}":
    get:
      deprecated: false
      operationId: AccidentStats_Get
      parameters:
        - description: The year for which to filter the accidents on.
          in: path
          name: year
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                type: array
          description: OK
      summary: Gets all accident details for accidents occuring in the specified year
      tags:
        - AccidentStats
  /AirQuality:
    get:
      deprecated: false
      operationId: AirQuality_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: Gets air quality data feed
      tags:
        - AirQuality
  /BikePoint:
    get:
      deprecated: false
      operationId: BikePoint_GetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
          description: OK
      summary: "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r

        \            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      tags:
        - BikePoint
  /BikePoint/Search:
    get:
      deprecated: false
      operationId: BikePoint_Search
      parameters:
        - description: The search term e.g. "St. James"
          in: query
          name: query
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
          description: OK
      summary: "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r

        \            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r

        \            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      tags:
        - BikePoint
  "/BikePoint/{id}":
    get:
      deprecated: false
      operationId: BikePoint_Get
      parameters:
        - description: A bike point id (a list of ids can be obtained from the above BikePoint call)
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
          description: OK
      summary: Gets the bike point with the given id.
      tags:
        - BikePoint
  /Cabwise/search:
    get:
      deprecated: false
      operationId: Cabwise_Get
      parameters:
        - description: Latitude
          in: query
          name: lat
          required: true
          schema:
            format: double
            type: number
        - description: Longitude
          in: query
          name: lon
          required: true
          schema:
            format: double
            type: number
        - description: Operator Type e.g Minicab, Executive, Limousine
          in: query
          name: optype
          required: false
          schema:
            type: string
        - description: Wheelchair accessible
          in: query
          name: wc
          required: false
          schema:
            type: string
        - description: The radius of the bounding circle in metres
          in: query
          name: radius
          required: false
          schema:
            format: double
            type: number
        - description: Trading name of operating company
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: An optional parameter to limit the number of results return. Default and maximum is 20.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Legacy Format
          in: query
          name: legacyFormat
          required: false
          schema:
            type: boolean
        - description: Force Xml
          in: query
          name: forceXml
          required: false
          schema:
            type: boolean
        - description: Twenty Four Seven Only
          in: query
          name: twentyFourSevenOnly
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: Gets taxis and minicabs contact information
      tags:
        - Cabwise
  "/Journey/JourneyResults/{from}/to/{to}":
    get:
      deprecated: false
      operationId: Journey_JourneyResults
      parameters:
        - description: Origin of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).
          in: path
          name: from
          required: true
          schema:
            type: string
        - description: Destination of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).
          in: path
          name: to
          required: true
          schema:
            type: string
        - description: Travel through point on the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).
          in: query
          name: via
          required: false
          schema:
            type: string
        - description: Does the journey cover stops outside London? eg. "nationalSearch=true"
          in: query
          name: nationalSearch
          required: false
          schema:
            type: boolean
        - description: The date must be in yyyyMMdd format
          in: query
          name: date
          required: false
          schema:
            type: string
        - description: The time must be in HHmm format
          in: query
          name: time
          required: false
          schema:
            type: string
        - description: 'Does the time given relate to arrival or leaving time? Possible options: "departing" | "arriving"'
          in: query
          name: timeIs
          required: false
          schema:
            enum:
              - Arriving
              - Departing
            type: string
        - description: 'The journey preference eg possible options: "leastinterchange" | "leasttime" | "leastwalking"'
          in: query
          name: journeyPreference
          required: false
          schema:
            enum:
              - LeastInterchange
              - LeastTime
              - LeastWalking
            type: string
        - description: 'The mode must be a comma separated list of modes. eg possible options: "public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle"'
          explode: true
          in: query
          name: mode
          required: false
          schema:
            items:
              type: string
            type: array
        - description: The accessibility preference must be a comma separated list eg. "noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform"
          explode: true
          in: query
          name: accessibilityPreference
          required: false
          schema:
            items:
              enum:
                - NoRequirements
                - NoSolidStairs
                - NoEscalators
                - NoElevators
                - StepFreeToVehicle
                - StepFreeToPlatform
              type: string
            type: array
        - description: An optional name to associate with the origin of the journey in the results.
          in: query
          name: fromName
          required: false
          schema:
            type: string
        - description: An optional name to associate with the destination of the journey in the results.
          in: query
          name: toName
          required: false
          schema:
            type: string
        - description: An optional name to associate with the via point of the journey in the results.
          in: query
          name: viaName
          required: false
          schema:
            type: string
        - description: The max walking time in minutes for transfer eg. "120"
          in: query
          name: maxTransferMinutes
          required: false
          schema:
            type: string
        - description: The max walking time in minutes for journeys eg. "120"
          in: query
          name: maxWalkingMinutes
          required: false
          schema:
            type: string
        - description: 'The walking speed. eg possible options: "slow" | "average" | "fast".'
          in: query
          name: walkingSpeed
          required: false
          schema:
            enum:
              - Slow
              - Average
              - Fast
            type: string
        - description: 'The cycle preference. eg possible options: "allTheWay" | "leaveAtStation" | "takeOnTransport" | "cycleHire"'
          in: query
          name: cyclePreference
          required: false
          schema:
            enum:
              - None
              - LeaveAtStation
              - TakeOnTransport
              - AllTheWay
              - CycleHire
            type: string
        - description: 'Time adjustment command. eg possible options: "TripFirst" | "TripLast"'
          in: query
          name: adjustment
          required: false
          schema:
            type: string
        - description: 'A comma separated list of cycling proficiency levels. eg possible options: "easy,moderate,fast"'
          explode: true
          in: query
          name: bikeProficiency
          required: false
          schema:
            items:
              enum:
                - Easy
                - Moderate
                - Fast
              type: string
            type: array
        - description: Option to determine whether to return alternative cycling journey
          in: query
          name: alternativeCycle
          required: false
          schema:
            type: boolean
        - description: Option to determine whether to return alternative walking journey
          in: query
          name: alternativeWalking
          required: false
          schema:
            type: boolean
        - description: Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.
          in: query
          name: applyHtmlMarkup
          required: false
          schema:
            type: boolean
        - description: A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey
          in: query
          name: useMultiModalCall
          required: false
          schema:
            type: boolean
        - description: A boolean to indicate whether to optimize journeys using walking
          in: query
          name: walkingOptimization
          required: false
          schema:
            type: boolean
        - description: A boolean to indicate whether to return one or more taxi journeys. Note, setting this to true will override "useMultiModalCall".
          in: query
          name: taxiOnlyTrip
          required: false
          schema:
            type: boolean
        - description: A boolean to indicate whether public transport routes should include directions between platforms and station entrances.
          in: query
          name: routeBetweenEntrances
          required: false
          schema:
            type: boolean
        - description: A boolean to indicate if we want to receive real time live arrivals data where available.
          in: query
          name: useRealTimeLiveArrivals
          required: false
          schema:
            type: boolean
        - description: A boolean to make Journey Planner calculate journeys in one temporal direction only. In other words, only calculate journeys after the 'depart' time, or before the 'arrive' time. By default, the Journey Planner engine (EFA) calculates journeys in both temporal directions.
          in: query
          name: calcOneDirection
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
          description: OK
      summary: Perform a Journey Planner search from the parameters specified in simple types
      tags:
        - Journey
  /Journey/Meta/Modes:
    get:
      deprecated: false
      operationId: Journey_Meta
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
          description: OK
      summary: Gets a list of all of the available journey planner modes
      tags:
        - Journey
  /Line/Meta/DisruptionCategories:
    get:
      deprecated: false
      operationId: Line_MetaDisruptionCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid disruption categories
      tags:
        - Line
  /Line/Meta/Modes:
    get:
      deprecated: false
      operationId: Line_MetaModes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
          description: OK
      summary: Gets a list of valid modes
      tags:
        - Line
  /Line/Meta/ServiceTypes:
    get:
      deprecated: false
      operationId: Line_MetaServiceTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid ServiceTypes to filter on
      tags:
        - Line
  /Line/Meta/Severity:
    get:
      deprecated: false
      operationId: Line_MetaSeverity
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
          description: OK
      summary: Gets a list of valid severity codes
      tags:
        - Line
  "/Line/Mode/{modes}":
    get:
      deprecated: false
      operationId: Line_GetByMode
      parameters:
        - description: A comma-separated list of modes e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets lines that serve the given modes.
      tags:
        - Line
  "/Line/Mode/{modes}/Disruption":
    get:
      deprecated: false
      operationId: Line_DisruptionByMode
      parameters:
        - description: A comma-separated list of modes e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
          description: OK
      summary: Get disruptions for all lines of the given modes.
      tags:
        - Line
  "/Line/Mode/{modes}/Route":
    get:
      deprecated: false
      operationId: Line_RouteByMode
      parameters:
        - description: A comma-separated list of modes e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified"
          explode: true
          in: query
          name: serviceTypes
          required: false
          schema:
            items:
              enum:
                - Regular
                - Night
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route
      tags:
        - Line
  "/Line/Mode/{modes}/Status":
    get:
      deprecated: false
      operationId: Line_StatusByMode
      parameters:
        - description: A comma-separated list of modes to filter by. e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          schema:
            type: boolean
        - description: If specified, ensures that only those line status(es) are returned within the lines that have disruptions with the matching severity level.
          in: query
          name: severityLevel
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets the line status of for all lines for the given modes
      tags:
        - Line
  /Line/Route:
    get:
      deprecated: false
      operationId: Line_Route
      parameters:
        - description: "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified"
          explode: true
          in: query
          name: serviceTypes
          required: false
          schema:
            items:
              enum:
                - Regular
                - Night
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.
      tags:
        - Line
  "/Line/Search/{query}":
    get:
      deprecated: false
      operationId: Line_Search
      parameters:
        - description: Search term e.g victoria
          in: path
          name: query
          required: true
          schema:
            type: string
        - description: Optionally filter by the specified modes
          explode: true
          in: query
          name: modes
          required: false
          schema:
            items:
              type: string
            type: array
        - description: "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified"
          explode: true
          in: query
          name: serviceTypes
          required: false
          schema:
            items:
              enum:
                - Regular
                - Night
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
          description: OK
      summary: Search for lines or routes matching the query string
      tags:
        - Line
  "/Line/Status/{severity}":
    get:
      deprecated: false
      operationId: Line_StatusBySeverity
      parameters:
        - description: "The level of severity (eg: a number from 0 to 14)"
          in: path
          name: severity
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: "Gets the line status for all lines with a given severity\r

        \            A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      tags:
        - Line
  "/Line/{ids}":
    get:
      deprecated: false
      operationId: Line_Get
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets lines that match the specified line ids.
      tags:
        - Line
  "/Line/{ids}/Arrivals/{stopPointId}":
    get:
      deprecated: false
      operationId: Line_Arrivals
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Optional. Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)
          in: path
          name: stopPointId
          required: true
          schema:
            type: string
        - description: Optional. The direction of travel. Can be inbound or outbound or all. If left blank, and destinationStopId is set, will default to all
          in: query
          name: direction
          required: false
          schema:
            enum:
              - inbound
              - outbound
              - all
            type: string
        - description: Optional. Id of destination stop
          in: query
          name: destinationStationId
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
          description: OK
      summary: Get the list of arrival predictions for given line ids based at the given stop
      tags:
        - Line
  "/Line/{ids}/Disruption":
    get:
      deprecated: false
      operationId: Line_Disruption
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                type: array
          description: OK
      summary: Get disruptions for the given line ids
      tags:
        - Line
  "/Line/{ids}/Route":
    get:
      deprecated: false
      operationId: Line_LineRoutesByIds
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified"
          explode: true
          in: query
          name: serviceTypes
          required: false
          schema:
            items:
              enum:
                - Regular
                - Night
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.
      tags:
        - Line
  "/Line/{ids}/Status":
    get:
      deprecated: false
      operationId: Line_StatusByIds
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets the line status of for given line ids e.g Minor Delays
      tags:
        - Line
  "/Line/{ids}/Status/{StartDate}/to/{EndDate}":
    get:
      deprecated: false
      operationId: Line_Status
      parameters:
        - description: A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          schema:
            type: boolean
        - in: query
          name: startDate
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          required: true
          schema:
            type: string
        - in: query
          name: dateRange.startDate
          required: false
          schema:
            format: date-time
            type: string
        - in: query
          name: dateRange.endDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Automatically added
          in: path
          name: StartDate
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: EndDate
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                type: array
          description: OK
      summary: Gets the line status for given line ids during the provided dates e.g Minor Delays
      tags:
        - Line
  "/Line/{id}/Route/Sequence/{direction}":
    get:
      deprecated: false
      operationId: Line_RouteSequence
      parameters:
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The direction of travel. Can be inbound or outbound.
          in: path
          name: direction
          required: true
          schema:
            enum:
              - inbound
              - outbound
              - all
            type: string
        - description: "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified"
          explode: true
          in: query
          name: serviceTypes
          required: false
          schema:
            items:
              enum:
                - Regular
                - Night
              type: string
            type: array
        - description: That excludes crowding from line disruptions. Can be true or false.
          in: query
          name: excludeCrowding
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
          description: OK
      summary: Gets all valid routes for given line id, including the sequence of stops on each route.
      tags:
        - Line
  "/Line/{id}/StopPoints":
    get:
      deprecated: false
      operationId: Line_StopPoints
      parameters:
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: If the national-rail line is requested, this flag will filter the national rail stations so that only those operated by TfL are returned
          in: query
          name: tflOperatedNationalRailStationsOnly
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
          description: OK
      summary: Gets a list of the stations that serve the given line id
      tags:
        - Line
  "/Line/{id}/Timetable/{fromStopPointId}":
    get:
      deprecated: false
      operationId: Line_Timetable
      parameters:
        - description: The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)
          in: path
          name: fromStopPointId
          required: true
          schema:
            type: string
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
          description: OK
      summary: Gets the timetable for a specified station on the give line
      tags:
        - Line
  "/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}":
    get:
      deprecated: false
      operationId: Line_TimetableTo
      parameters:
        - description: The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)
          in: path
          name: fromStopPointId
          required: true
          schema:
            type: string
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The destination stations's Naptan code
          in: path
          name: toStopPointId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
          description: OK
      summary: Gets the timetable for a specified station on the give line with specified destination
      tags:
        - Line
  /Mode/ActiveServiceTypes:
    get:
      deprecated: false
      operationId: Mode_GetActiveServiceTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                type: array
          description: OK
      summary: "Returns the service type active for a mode.\r

        \            Currently only supports tube"
      tags:
        - Mode
  "/Mode/{mode}/Arrivals":
    get:
      deprecated: false
      operationId: Mode_Arrivals
      parameters:
        - description: A mode name e.g. tube, dlr
          in: path
          name: mode
          required: true
          schema:
            type: string
        - description: A number of arrivals to return for each stop, -1 to return all available.
          in: query
          name: count
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                type: array
          description: OK
      summary: Gets the next arrival predictions for all stops of a given mode
      tags:
        - Mode
  "/Occupancy/BikePoints/{ids}":
    get:
      deprecated: false
      operationId: Occupancy_GetBikePointsOccupancies
      parameters:
        - description: ""
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                type: array
          description: OK
      summary: Get the occupancy for bike points.
      tags:
        - Occupancy
  /Occupancy/CarPark:
    get:
      deprecated: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                type: array
          description: OK
      summary: Gets the occupancy for all car parks that have occupancy data
      tags:
        - Occupancy
  "/Occupancy/CarPark/{id}":
    get:
      deprecated: false
      operationId: Occupancy_Get
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
          description: OK
      summary: Gets the occupancy for a car park with a given id
      tags:
        - Occupancy
  /Occupancy/ChargeConnector:
    get:
      deprecated: false
      operationId: Occupancy_GetAllChargeConnectorStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
          description: OK
      summary: Gets the occupancy for all charge connectors
      tags:
        - Occupancy
  "/Occupancy/ChargeConnector/{ids}":
    get:
      deprecated: false
      operationId: Occupancy_GetChargeConnectorStatus
      parameters:
        - in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                type: array
          description: OK
      summary: Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)
      tags:
        - Occupancy
  /Place:
    get:
      deprecated: false
      operationId: Place_GetByGeo
      parameters:
        - description: The radius of the bounding circle in metres when only lat/lon are specified.
          in: query
          name: radius
          required: false
          schema:
            format: double
            type: number
        - description: An optional list of comma separated property categories to return in the Place's property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /Place/Meta/categories endpoint)
          explode: true
          in: query
          name: categories
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned
          in: query
          name: includeChildren
          required: false
          schema:
            type: boolean
        - description: Place types to filter on, or null to return all types
          explode: true
          in: query
          name: type
          required: false
          schema:
            items:
              type: string
            type: array
        - description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          in: query
          name: activeOnly
          required: false
          schema:
            type: boolean
        - description: If specified, limits the number of returned places equal to the given value
          in: query
          name: numberOfPlacesToReturn
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: placeGeo.swLat
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: placeGeo.swLon
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: placeGeo.neLat
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: placeGeo.neLon
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: placeGeo.lat
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: placeGeo.lon
          required: false
          schema:
            format: double
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                type: array
          description: OK
      summary: "Gets the places that lie within a geographic region. The geographic region of interest can either be specified\r

        \            by using a lat/lon geo-point and a radius in metres to return places within the locus defined by the lat/lon of\r

        \            its centre or alternatively, by the use of a bounding box defined by the lat/lon of its north-west and south-east corners.\r

        \            Optionally filters on type and can strip properties for a smaller payload."
      tags:
        - Place
  "/Place/Address/Streets/{Postcode}":
    get:
      deprecated: false
      operationId: Place_GetStreetsByPostCode
      parameters:
        - in: query
          name: postcode
          required: true
          schema:
            type: string
        - in: query
          name: postcodeInput.postcode
          required: false
          schema:
            pattern: ^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$
            type: string
        - description: Automatically added
          in: path
          name: Postcode
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: Gets the set of streets associated with a post code.
      tags:
        - Place
  /Place/Meta/Categories:
    get:
      deprecated: false
      operationId: Place_MetaCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
          description: OK
      summary: Gets a list of all of the available place property categories and keys.
      tags:
        - Place
  /Place/Meta/PlaceTypes:
    get:
      deprecated: false
      operationId: Place_MetaPlaceTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                type: array
          description: OK
      summary: Gets a list of the available types of Place.
      tags:
        - Place
  /Place/Search:
    get:
      deprecated: false
      operationId: Place_Search
      parameters:
        - description: The name of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their names.
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: A comma-separated list of the types to return. Max. approx 12 types.
          explode: true
          in: query
          name: types
          required: false
          schema:
            items:
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
          description: OK
      summary: Gets all places that matches the given query
      tags:
        - Place
  "/Place/Type/{types}":
    get:
      deprecated: false
      operationId: Place_GetByType
      parameters:
        - description: "A comma-separated list of the types to return. Max. approx 12 types.\r

            \            A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint."
          in: path
          name: types
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          in: query
          name: activeOnly
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
          description: OK
      summary: Gets all places of a given type
      tags:
        - Place
  "/Place/{id}":
    get:
      deprecated: false
      operationId: Place_Get
      parameters:
        - description: The id of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their ids
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned
          in: query
          name: includeChildren
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                type: array
          description: OK
      summary: Gets the place with the given id.
      tags:
        - Place
  "/Place/{type}/At/{Lat}/{Lon}":
    get:
      deprecated: false
      operationId: Place_GetAt
      parameters:
        - description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          in: path
          name: type
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - in: query
          name: lat
          required: true
          schema:
            type: string
        - in: query
          name: lon
          required: true
          schema:
            type: string
        - in: query
          name: location.lat
          required: true
          schema:
            format: double
            type: number
        - in: query
          name: location.lon
          required: true
          schema:
            format: double
            type: number
        - description: Automatically added
          in: path
          name: Lat
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: Lon
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: "Gets any places of the given type whose geography intersects the given latitude and longitude. In practice this means the Place\r

        \            must be polygonal e.g. a BoroughBoundary."
      tags:
        - Place
  "/Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}":
    get:
      deprecated: false
      operationId: Place_GetOverlay
      parameters:
        - description: The zoom level
          in: path
          name: z
          required: true
          schema:
            format: int32
            type: integer
        - description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          in: path
          name: type
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: The width of the requested overlay.
          in: path
          name: width
          required: true
          schema:
            format: int32
            type: integer
        - description: The height of the requested overlay.
          in: path
          name: height
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: lat
          required: true
          schema:
            type: string
        - in: query
          name: lon
          required: true
          schema:
            type: string
        - in: query
          name: location.lat
          required: true
          schema:
            format: double
            type: number
        - in: query
          name: location.lon
          required: true
          schema:
            format: double
            type: number
        - description: Automatically added
          in: path
          name: Lat
          required: true
          schema:
            type: string
        - description: Automatically added
          in: path
          name: Lon
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: Gets the place overlay for a given set of co-ordinates and a given width/height.
      tags:
        - Place
  /Road:
    get:
      deprecated: false
      operationId: Road_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
          description: OK
      summary: Gets all roads managed by TfL
      tags:
        - Road
  /Road/Meta/Categories:
    get:
      deprecated: false
      operationId: Road_MetaCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of valid RoadDisruption categories
      tags:
        - Road
  /Road/Meta/Severities:
    get:
      deprecated: false
      operationId: Road_MetaSeverities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                type: array
          description: OK
      summary: Gets a list of valid RoadDisruption severity codes
      tags:
        - Road
  "/Road/all/Disruption/{disruptionIds}":
    get:
      deprecated: false
      operationId: Road_DisruptionById
      parameters:
        - description: Comma-separated list of disruption identifiers to filter by.
          in: path
          name: disruptionIds
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location and comments.
          in: query
          name: stripContent
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
          description: OK
      summary: Gets a list of active disruptions filtered by disruption Ids.
      tags:
        - Road
  /Road/all/Street/Disruption:
    get:
      deprecated: false
      operationId: Road_DisruptedStreets
      parameters:
        - description: Optional, the start time to filter on.
          in: query
          name: startDate
          required: true
          schema:
            format: date-time
            type: string
        - description: Optional, The end time to filter on.
          in: query
          name: endDate
          required: true
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            application/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/json:
              schema:
                $ref: "#/components/schemas/System.Object"
            text/xml:
              schema:
                $ref: "#/components/schemas/System.Object"
          description: OK
      summary: Gets a list of disrupted streets. If no date filters are provided, current disruptions are returned.
      tags:
        - Road
  "/Road/{ids}":
    get:
      deprecated: false
      parameters:
        - description: Comma-separated list of road identifiers e.g. "A406, A2" (a full list of supported road identifiers can be found at the /Road/ endpoint)
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
          description: OK
      summary: Gets the road with the specified id (e.g. A1)
      tags:
        - Road
  "/Road/{ids}/Disruption":
    get:
      deprecated: false
      operationId: Road_Disruption
      parameters:
        - description: Comma-separated list of road identifiers e.g. "A406, A2" use all for all to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location, comments and streets
          in: query
          name: stripContent
          required: false
          schema:
            type: boolean
        - description: an optional list of Severity names to filter on (a valid list of severities can be obtained from the /Road/Meta/severities endpoint)
          explode: true
          in: query
          name: severities
          required: false
          schema:
            items:
              type: string
            type: array
        - description: an optional list of category names to filter on (a valid list of categories can be obtained from the /Road/Meta/categories endpoint)
          explode: true
          in: query
          name: categories
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Optional, defaults to true. When true, always includes disruptions that have road closures, regardless of the severity filter. When false, the severity filter works as normal.
          in: query
          name: closures
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption"
                type: array
          description: OK
      summary: Get active disruptions, filtered by road ids
      tags:
        - Road
  "/Road/{ids}/Status":
    get:
      deprecated: false
      operationId: Road_Status
      parameters:
        - description: Comma-separated list of road identifiers e.g. "A406, A2" or use "all" to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)
          in: path
          name: ids
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - in: query
          name: dateRangeNullable.startDate
          required: false
          schema:
            format: date-time
            type: string
        - in: query
          name: dateRangeNullable.endDate
          required: false
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor"
                type: array
          description: OK
      summary: Gets the specified roads with the status aggregated over the date range specified, or now until the end of today if no dates are passed.
      tags:
        - Road
  /Search:
    get:
      deprecated: false
      operationId: Search_Get
      parameters:
        - description: The search query
          in: query
          name: query
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
          description: OK
      summary: "Search the site for occurrences of the query string. The maximum number of results returned is equal to the maximum page size\r

        \            of 100. To return subsequent pages, use the paginated overload."
      tags:
        - Search
  /Search/BusSchedules:
    get:
      deprecated: false
      operationId: Search_BusSchedules
      parameters:
        - description: The search query
          in: query
          name: query
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
          description: OK
      summary: Searches the bus schedules folder on S3 for a given bus number.
      tags:
        - Search
  /Search/Meta/Categories:
    get:
      deprecated: false
      operationId: Search_MetaCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the available search categories.
      tags:
        - Search
  /Search/Meta/SearchProviders:
    get:
      deprecated: false
      operationId: Search_MetaSearchProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the available searchProvider names.
      tags:
        - Search
  /Search/Meta/Sorts:
    get:
      deprecated: false
      operationId: Search_MetaSorts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the available sorting options.
      tags:
        - Search
  /StopPoint:
    get:
      deprecated: false
      operationId: StopPoint_GetByGeoPoint
      parameters:
        - description: a list of stopTypes that should be returned (a list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint)
          explode: true
          in: query
          name: stopTypes
          required: true
          schema:
            items:
              type: string
            type: array
        - description: "the radius of the bounding circle in metres (default : 200)"
          in: query
          name: radius
          required: false
          schema:
            format: int32
            type: integer
        - description: Re-arrange the output into a parent/child hierarchy
          in: query
          name: useStopPointHierarchy
          required: false
          schema:
            type: boolean
        - description: the list of modes to search (comma separated mode names e.g. tube,dlr)
          explode: true
          in: query
          name: modes
          required: false
          schema:
            items:
              type: string
            type: array
        - description: an optional list of comma separated property categories to return in the StopPoint's property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /StopPoint/Meta/categories endpoint)
          explode: true
          in: query
          name: categories
          required: false
          schema:
            items:
              type: string
            type: array
        - description: true to return the lines that each stop point serves as a nested resource
          in: query
          name: returnLines
          required: false
          schema:
            type: boolean
        - in: query
          name: location.lat
          required: true
          schema:
            format: double
            type: number
        - in: query
          name: location.lon
          required: true
          schema:
            format: double
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
          description: OK
      summary: Gets a list of StopPoints within {radius} by the specified criteria
      tags:
        - StopPoint
  /StopPoint/Meta/Categories:
    get:
      deprecated: false
      operationId: StopPoint_MetaCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                type: array
          description: OK
      summary: Gets the list of available StopPoint additional information categories
      tags:
        - StopPoint
  /StopPoint/Meta/Modes:
    get:
      deprecated: false
      operationId: StopPoint_MetaModes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                type: array
          description: OK
      summary: Gets the list of available StopPoint modes
      tags:
        - StopPoint
  /StopPoint/Meta/StopTypes:
    get:
      deprecated: false
      operationId: StopPoint_MetaStopTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the list of available StopPoint types
      tags:
        - StopPoint
  "/StopPoint/Mode/{modes}":
    get:
      deprecated: false
      operationId: StopPoint_GetByMode
      parameters:
        - description: A comma-seperated list of modes e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: The data set page to return. Page 1 equates to the first 1000 stop points, page 2 equates to 1001-2000 etc. Must be entered for bus mode as data set is too large.
          in: query
          name: page
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            application/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
            text/xml:
              schema:
                $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
          description: OK
      summary: Gets a list of StopPoints filtered by the modes available at that StopPoint.
      tags:
        - StopPoint
  "/StopPoint/Mode/{modes}/Disruption":
    get:
      deprecated: false
      operationId: StopPoint_DisruptionByMode
      parameters:
        - description: A comma-seperated list of modes e.g. tube,dlr
          in: path
          name: modes
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
        - description: ""
          in: query
          name: includeRouteBlockedStops
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                type: array
          description: OK
      summary: Gets a distinct list of disrupted stop points for the given modes
      tags:
        - StopPoint
  /StopPoint/Search:
    get:
      deprecated: false
      parameters:
        - description: The query string, case-insensitive. Leading and trailing wildcards are applied automatically.
[...]
