{
  "basePath": "/api",
  "definitions": {
    "CallLog": {
      "properties": {
        "end_code": {
          "description": "Call result status in terms of adhearsion",
          "type": "integer"
        },
        "end_time": {
          "description": "Call end time",
          "format": "date-time",
          "type": "string"
        },
        "operator_duration": {
          "description": "Duration of operator call in seconds ( from the moment the operator answers the call and till hangup",
          "type": "integer"
        },
        "operator_result": {
          "description": "Operator call ( first leg ) result",
          "type": "string"
        },
        "start_time": {
          "description": "Call start time",
          "format": "date-time",
          "type": "string"
        },
        "target_duration": {
          "description": "Duration of talk with target number",
          "type": "integer"
        },
        "target_number": {
          "description": "Phone number of call recipient",
          "type": "string"
        },
        "target_result": {
          "description": "Target number call ( second leg ) result",
          "type": "string"
        },
        "token": {
          "description": "Call token",
          "type": "string"
        }
      }
    }
  },
  "host": "api.loginbycall.com",
  "info": {
    "title": "api.loginbycall.com",
    "version": "v1",
    "x-origin": {
      "format": "swagger",
      "url": "http://api.loginbycall.com/api/swagger_doc.json",
      "version": "1.2"
    },
    "x-providerName": "loginbycall.com"
  },
  "paths": {
    "/v1/call/{token}.json": {
      "delete": {
        "operationId": "DELETE--version-call--token---format-",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/xml",
          "application/json",
          "application/vnd.api+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CallLog"
            }
          }
        },
        "summary": "Cancels active call"
      },
      "get": {
        "operationId": "GET--version-call--token---format-",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/xml",
          "application/json",
          "application/vnd.api+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CallLog"
            }
          }
        },
        "summary": "Fetches call status"
      }
    },
    "/v1/calls.json": {
      "post": {
        "operationId": "POST--version-calls---format-",
        "parameters": [
          {
            "description": "Target phone number",
            "in": "formData",
            "name": "number",
            "required": true,
            "type": "string"
          },
          {
            "description": "API consumer token",
            "in": "formData",
            "name": "api_key",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/xml",
          "application/json",
          "application/vnd.api+json",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    }
  },
  "schemes": [
    "http"
  ],
  "swagger": "2.0"
}
