swagger: '2.0'
schemes:
  - https
  - http
host: rds.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Relational Database Service
  version: '2013-02-12'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-2013-02-12.normal.json'
      x-apisguru-direct: true
  x-preferred: false
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: rds
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddSourceIdentifierToSubscription':
    get:
      description: ''
      operationId: GET AddSourceIdentifierToSubscription
      parameters:
        - description: ''
          in: query
          name: SubscriptionName
          required: true
          type: string
        - description: ''
          in: query
          name: SourceIdentifier
          required: true
          type: string
        - enum:
            - AddSourceIdentifierToSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: AddSourceIdentifierToSubscription
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST AddSourceIdentifierToSubscription
      parameters:
        - description: ''
          in: formData
          name: SubscriptionName
          required: true
          type: string
        - description: ''
          in: formData
          name: SourceIdentifier
          required: true
          type: string
        - enum:
            - AddSourceIdentifierToSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: AddSourceIdentifierToSubscription
  '/#Action=AddTagsToResource':
    get:
      description: ''
      operationId: GET AddTagsToResource
      parameters:
        - description: ''
          in: query
          name: ResourceName
          required: true
          type: string
        - description: ''
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: AddTagsToResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST AddTagsToResource
      parameters:
        - description: ''
          in: formData
          name: ResourceName
          required: true
          type: string
        - description: ''
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: AddTagsToResource
  '/#Action=AuthorizeDBSecurityGroupIngress':
    get:
      description: ''
      operationId: GET AuthorizeDBSecurityGroupIngress
      parameters:
        - description: ''
          in: query
          name: DBSecurityGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: CIDRIP
          required: false
          type: string
        - description: ''
          in: query
          name: EC2SecurityGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: EC2SecurityGroupId
          required: false
          type: string
        - description: ''
          in: query
          name: EC2SecurityGroupOwnerId
          required: false
          type: string
        - enum:
            - AuthorizeDBSecurityGroupIngress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST AuthorizeDBSecurityGroupIngress
      parameters:
        - description: ''
          in: formData
          name: DBSecurityGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: CIDRIP
          required: false
          type: string
        - description: ''
          in: formData
          name: EC2SecurityGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: EC2SecurityGroupId
          required: false
          type: string
        - description: ''
          in: formData
          name: EC2SecurityGroupOwnerId
          required: false
          type: string
        - enum:
            - AuthorizeDBSecurityGroupIngress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
  '/#Action=CopyDBSnapshot':
    get:
      description: ''
      operationId: GET CopyDBSnapshot
      parameters:
        - description: ''
          in: query
          name: SourceDBSnapshotIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: TargetDBSnapshotIdentifier
          required: true
          type: string
        - enum:
            - CopyDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: CopyDBSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CopyDBSnapshot
      parameters:
        - description: ''
          in: formData
          name: SourceDBSnapshotIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: TargetDBSnapshotIdentifier
          required: true
          type: string
        - enum:
            - CopyDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: CopyDBSnapshot
  '/#Action=CreateDBInstance':
    get:
      description: ''
      operationId: GET CreateDBInstance
      parameters:
        - description: ''
          in: query
          name: DBName
          required: false
          type: string
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: AllocatedStorage
          required: true
          type: integer
        - description: ''
          in: query
          name: DBInstanceClass
          required: true
          type: string
        - description: ''
          in: query
          name: Engine
          required: true
          type: string
        - description: ''
          in: query
          name: MasterUsername
          required: true
          type: string
        - description: ''
          in: query
          name: MasterUserPassword
          required: true
          type: string
        - description: ''
          in: query
          items:
            type: string
          name: DBSecurityGroups
          required: false
          type: array
        - description: ''
          in: query
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: ''
          in: query
          name: AvailabilityZone
          required: false
          type: string
        - description: ''
          in: query
          name: DBSubnetGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: ''
          in: query
          name: DBParameterGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: ''
          in: query
          name: PreferredBackupWindow
          required: false
          type: string
        - description: ''
          in: query
          name: Port
          required: false
          type: integer
        - description: ''
          in: query
          name: MultiAZ
          required: false
          type: boolean
        - description: ''
          in: query
          name: EngineVersion
          required: false
          type: string
        - description: ''
          in: query
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: ''
          in: query
          name: LicenseModel
          required: false
          type: string
        - description: ''
          in: query
          name: Iops
          required: false
          type: integer
        - description: ''
          in: query
          name: OptionGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: CharacterSetName
          required: false
          type: string
        - description: ''
          in: query
          name: PubliclyAccessible
          required: false
          type: boolean
        - enum:
            - CreateDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '490':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '491':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      x-aws-operation-name: CreateDBInstance
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBInstance
      parameters:
        - description: ''
          in: formData
          name: DBName
          required: false
          type: string
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: AllocatedStorage
          required: true
          type: integer
        - description: ''
          in: formData
          name: DBInstanceClass
          required: true
          type: string
        - description: ''
          in: formData
          name: Engine
          required: true
          type: string
        - description: ''
          in: formData
          name: MasterUsername
          required: true
          type: string
        - description: ''
          in: formData
          name: MasterUserPassword
          required: true
          type: string
        - description: ''
          in: formData
          items:
            type: string
          name: DBSecurityGroups
          required: false
          type: array
        - description: ''
          in: formData
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: ''
          in: formData
          name: AvailabilityZone
          required: false
          type: string
        - description: ''
          in: formData
          name: DBSubnetGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: ''
          in: formData
          name: DBParameterGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: ''
          in: formData
          name: PreferredBackupWindow
          required: false
          type: string
        - description: ''
          in: formData
          name: Port
          required: false
          type: integer
        - description: ''
          in: formData
          name: MultiAZ
          required: false
          type: boolean
        - description: ''
          in: formData
          name: EngineVersion
          required: false
          type: string
        - description: ''
          in: formData
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: ''
          in: formData
          name: LicenseModel
          required: false
          type: string
        - description: ''
          in: formData
          name: Iops
          required: false
          type: integer
        - description: ''
          in: formData
          name: OptionGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: CharacterSetName
          required: false
          type: string
        - description: ''
          in: formData
          name: PubliclyAccessible
          required: false
          type: boolean
        - enum:
            - CreateDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '490':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '491':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      x-aws-operation-name: CreateDBInstance
  '/#Action=CreateDBInstanceReadReplica':
    get:
      description: ''
      operationId: GET CreateDBInstanceReadReplica
      parameters:
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: SourceDBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: DBInstanceClass
          required: false
          type: string
        - description: ''
          in: query
          name: AvailabilityZone
          required: false
          type: string
        - description: ''
          in: query
          name: Port
          required: false
          type: integer
        - description: ''
          in: query
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: ''
          in: query
          name: Iops
          required: false
          type: integer
        - description: ''
          in: query
          name: OptionGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: PubliclyAccessible
          required: false
          type: boolean
        - enum:
            - CreateDBInstanceReadReplica
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceReadReplicaResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '487':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '488':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '489':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '490':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '491':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '492':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '493':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      x-aws-operation-name: CreateDBInstanceReadReplica
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBInstanceReadReplica
      parameters:
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: SourceDBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: DBInstanceClass
          required: false
          type: string
        - description: ''
          in: formData
          name: AvailabilityZone
          required: false
          type: string
        - description: ''
          in: formData
          name: Port
          required: false
          type: integer
        - description: ''
          in: formData
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: ''
          in: formData
          name: Iops
          required: false
          type: integer
        - description: ''
          in: formData
          name: OptionGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: PubliclyAccessible
          required: false
          type: boolean
        - enum:
            - CreateDBInstanceReadReplica
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceReadReplicaResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '487':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '488':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '489':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '490':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '491':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '492':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '493':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      x-aws-operation-name: CreateDBInstanceReadReplica
  '/#Action=CreateDBParameterGroup':
    get:
      description: ''
      operationId: GET CreateDBParameterGroup
      parameters:
        - description: ''
          in: query
          name: DBParameterGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: ''
          in: query
          name: Description
          required: true
          type: string
        - enum:
            - CreateDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBParameterGroup
      parameters:
        - description: ''
          in: formData
          name: DBParameterGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: ''
          in: formData
          name: Description
          required: true
          type: string
        - enum:
            - CreateDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBParameterGroup
  '/#Action=CreateDBSecurityGroup':
    get:
      description: ''
      operationId: GET CreateDBSecurityGroup
      parameters:
        - description: ''
          in: query
          name: DBSecurityGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: DBSecurityGroupDescription
          required: true
          type: string
        - enum:
            - CreateDBSecurityGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSecurityGroupResult'
        '480':
          description: DBSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSecurityGroupAlreadyExistsFault'
        '481':
          description: DBSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSecurityGroupQuotaExceededFault'
        '482':
          description: DBSecurityGroupNotSupportedFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotSupportedFault'
      x-aws-operation-name: CreateDBSecurityGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBSecurityGroup
      parameters:
        - description: ''
          in: formData
          name: DBSecurityGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: DBSecurityGroupDescription
          required: true
          type: string
        - enum:
            - CreateDBSecurityGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSecurityGroupResult'
        '480':
          description: DBSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSecurityGroupAlreadyExistsFault'
        '481':
          description: DBSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSecurityGroupQuotaExceededFault'
        '482':
          description: DBSecurityGroupNotSupportedFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotSupportedFault'
      x-aws-operation-name: CreateDBSecurityGroup
  '/#Action=CreateDBSnapshot':
    get:
      description: ''
      operationId: GET CreateDBSnapshot
      parameters:
        - description: ''
          in: query
          name: DBSnapshotIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - enum:
            - CreateDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: CreateDBSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBSnapshot
      parameters:
        - description: ''
          in: formData
          name: DBSnapshotIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - enum:
            - CreateDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: CreateDBSnapshot
  '/#Action=CreateDBSubnetGroup':
    get:
      description: ''
      operationId: GET CreateDBSubnetGroup
      parameters:
        - description: ''
          in: query
          name: DBSubnetGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: DBSubnetGroupDescription
          required: true
          type: string
        - description: ''
          in: query
          items:
            type: string
          name: SubnetIds
          required: true
          type: array
        - enum:
            - CreateDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      x-aws-operation-name: CreateDBSubnetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateDBSubnetGroup
      parameters:
        - description: ''
          in: formData
          name: DBSubnetGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: DBSubnetGroupDescription
          required: true
          type: string
        - description: ''
          in: formData
          items:
            type: string
          name: SubnetIds
          required: true
          type: array
        - enum:
            - CreateDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      x-aws-operation-name: CreateDBSubnetGroup
  '/#Action=CreateEventSubscription':
    get:
      description: ''
      operationId: GET CreateEventSubscription
      parameters:
        - description: ''
          in: query
          name: SubscriptionName
          required: true
          type: string
        - description: ''
          in: query
          name: SnsTopicArn
          required: true
          type: string
        - description: ''
          in: query
          name: SourceType
          required: false
          type: string
        - description: ''
          in: query
          items:
            type: string
          name: EventCategories
          required: false
          type: array
        - description: ''
          in: query
          items:
            type: string
          name: SourceIds
          required: false
          type: array
        - description: ''
          in: query
          name: Enabled
          required: false
          type: boolean
        - enum:
            - CreateEventSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        '480':
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        '481':
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        '485':
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        '486':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: CreateEventSubscription
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateEventSubscription
      parameters:
        - description: ''
          in: formData
          name: SubscriptionName
          required: true
          type: string
        - description: ''
          in: formData
          name: SnsTopicArn
          required: true
          type: string
        - description: ''
          in: formData
          name: SourceType
          required: false
          type: string
        - description: ''
          in: formData
          items:
            type: string
          name: EventCategories
          required: false
          type: array
        - description: ''
          in: formData
          items:
            type: string
          name: SourceIds
          required: false
          type: array
        - description: ''
          in: formData
          name: Enabled
          required: false
          type: boolean
        - enum:
            - CreateEventSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        '480':
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        '481':
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        '485':
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        '486':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: CreateEventSubscription
  '/#Action=CreateOptionGroup':
    get:
      description: ''
      operationId: GET CreateOptionGroup
      parameters:
        - description: ''
          in: query
          name: OptionGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: EngineName
          required: true
          type: string
        - description: ''
          in: query
          name: MajorEngineVersion
          required: true
          type: string
        - description: ''
          in: query
          name: OptionGroupDescription
          required: true
          type: string
        - enum:
            - CreateOptionGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOptionGroupResult'
        '480':
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        '481':
          description: OptionGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/OptionGroupQuotaExceededFault'
      x-aws-operation-name: CreateOptionGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST CreateOptionGroup
      parameters:
        - description: ''
          in: formData
          name: OptionGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: EngineName
          required: true
          type: string
        - description: ''
          in: formData
          name: MajorEngineVersion
          required: true
          type: string
        - description: ''
          in: formData
          name: OptionGroupDescription
          required: true
          type: string
        - enum:
            - CreateOptionGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOptionGroupResult'
        '480':
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        '481':
          description: OptionGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/OptionGroupQuotaExceededFault'
      x-aws-operation-name: CreateOptionGroup
  '/#Action=DeleteDBInstance':
    get:
      description: ''
      operationId: GET DeleteDBInstance
      parameters:
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: SkipFinalSnapshot
          required: false
          type: boolean
        - description: ''
          in: query
          name: FinalDBSnapshotIdentifier
          required: false
          type: string
        - enum:
            - DeleteDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: DeleteDBInstance
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteDBInstance
      parameters:
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: SkipFinalSnapshot
          required: false
          type: boolean
        - description: ''
          in: formData
          name: FinalDBSnapshotIdentifier
          required: false
          type: string
        - enum:
            - DeleteDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      x-aws-operation-name: DeleteDBInstance
  '/#Action=DeleteDBParameterGroup':
    get:
      description: ''
      operationId: GET DeleteDBParameterGroup
      parameters:
        - description: ''
          in: query
          name: DBParameterGroupName
          required: true
          type: string
        - enum:
            - DeleteDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DeleteDBParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteDBParameterGroup
      parameters:
        - description: ''
          in: formData
          name: DBParameterGroupName
          required: true
          type: string
        - enum:
            - DeleteDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DeleteDBParameterGroup
  '/#Action=DeleteDBSecurityGroup':
    get:
      description: ''
      operationId: GET DeleteDBSecurityGroup
      parameters:
        - description: ''
          in: query
          name: DBSecurityGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSecurityGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '481':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSecurityGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteDBSecurityGroup
      parameters:
        - description: ''
          in: formData
          name: DBSecurityGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSecurityGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '481':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSecurityGroup
  '/#Action=DeleteDBSnapshot':
    get:
      description: ''
      operationId: GET DeleteDBSnapshot
      parameters:
        - description: ''
          in: query
          name: DBSnapshotIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBSnapshotResult'
        '480':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: DeleteDBSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteDBSnapshot
      parameters:
        - description: ''
          in: formData
          name: DBSnapshotIdentifier
          required: true
          type: string
        - enum:
            - DeleteDBSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBSnapshotResult'
        '480':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: DeleteDBSnapshot
  '/#Action=DeleteDBSubnetGroup':
    get:
      description: ''
      operationId: GET DeleteDBSubnetGroup
      parameters:
        - description: ''
          in: query
          name: DBSubnetGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSubnetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteDBSubnetGroup
      parameters:
        - description: ''
          in: formData
          name: DBSubnetGroupName
          required: true
          type: string
        - enum:
            - DeleteDBSubnetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DeleteDBSubnetGroup
  '/#Action=DeleteEventSubscription':
    get:
      description: ''
      operationId: GET DeleteEventSubscription
      parameters:
        - description: ''
          in: query
          name: SubscriptionName
          required: true
          type: string
        - enum:
            - DeleteEventSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidEventSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidEventSubscriptionStateFault'
      x-aws-operation-name: DeleteEventSubscription
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteEventSubscription
      parameters:
        - description: ''
          in: formData
          name: SubscriptionName
          required: true
          type: string
        - enum:
            - DeleteEventSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidEventSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidEventSubscriptionStateFault'
      x-aws-operation-name: DeleteEventSubscription
  '/#Action=DeleteOptionGroup':
    get:
      description: ''
      operationId: GET DeleteOptionGroup
      parameters:
        - description: ''
          in: query
          name: OptionGroupName
          required: true
          type: string
        - enum:
            - DeleteOptionGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '481':
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
      x-aws-operation-name: DeleteOptionGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DeleteOptionGroup
      parameters:
        - description: ''
          in: formData
          name: OptionGroupName
          required: true
          type: string
        - enum:
            - DeleteOptionGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '481':
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
      x-aws-operation-name: DeleteOptionGroup
  '/#Action=DescribeDBEngineVersions':
    get:
      description: ''
      operationId: GET DescribeDBEngineVersions
      parameters:
        - description: ''
          in: query
          name: Engine
          required: false
          type: string
        - description: ''
          in: query
          name: EngineVersion
          required: false
          type: string
        - description: ''
          in: query
          name: DBParameterGroupFamily
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - description: ''
          in: query
          name: DefaultOnly
          required: false
          type: boolean
        - description: ''
          in: query
          name: ListSupportedCharacterSets
          required: false
          type: boolean
        - enum:
            - DescribeDBEngineVersions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
      x-aws-operation-name: DescribeDBEngineVersions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBEngineVersions
      parameters:
        - description: ''
          in: formData
          name: Engine
          required: false
          type: string
        - description: ''
          in: formData
          name: EngineVersion
          required: false
          type: string
        - description: ''
          in: formData
          name: DBParameterGroupFamily
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - description: ''
          in: formData
          name: DefaultOnly
          required: false
          type: boolean
        - description: ''
          in: formData
          name: ListSupportedCharacterSets
          required: false
          type: boolean
        - enum:
            - DescribeDBEngineVersions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
      x-aws-operation-name: DescribeDBEngineVersions
  '/#Action=DescribeDBInstances':
    get:
      description: ''
      operationId: GET DescribeDBInstances
      parameters:
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBInstances
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      x-aws-operation-name: DescribeDBInstances
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBInstances
      parameters:
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBInstances
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      x-aws-operation-name: DescribeDBInstances
  '/#Action=DescribeDBLogFiles':
    get:
      description: ''
      operationId: GET DescribeDBLogFiles
      parameters:
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: query
          name: FilenameContains
          required: false
          type: string
        - description: ''
          in: query
          name: FileLastWritten
          required: false
          type: integer
        - description: ''
          in: query
          name: FileSize
          required: false
          type: integer
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBLogFiles
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBLogFilesResponse'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      x-aws-operation-name: DescribeDBLogFiles
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBLogFiles
      parameters:
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: ''
          in: formData
          name: FilenameContains
          required: false
          type: string
        - description: ''
          in: formData
          name: FileLastWritten
          required: false
          type: integer
        - description: ''
          in: formData
          name: FileSize
          required: false
          type: integer
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBLogFiles
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBLogFilesResponse'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      x-aws-operation-name: DescribeDBLogFiles
  '/#Action=DescribeDBParameterGroups':
    get:
      description: ''
      operationId: GET DescribeDBParameterGroups
      parameters:
        - description: ''
          in: query
          name: DBParameterGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBParameterGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupsMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DescribeDBParameterGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBParameterGroups
      parameters:
        - description: ''
          in: formData
          name: DBParameterGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBParameterGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupsMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DescribeDBParameterGroups
  '/#Action=DescribeDBParameters':
    get:
      description: ''
      operationId: GET DescribeDBParameters
      parameters:
        - description: ''
          in: query
          name: DBParameterGroupName
          required: true
          type: string
        - description: ''
          in: query
          name: Source
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupDetails'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DescribeDBParameters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBParameters
      parameters:
        - description: ''
          in: formData
          name: DBParameterGroupName
          required: true
          type: string
        - description: ''
          in: formData
          name: Source
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupDetails'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      x-aws-operation-name: DescribeDBParameters
  '/#Action=DescribeDBSecurityGroups':
    get:
      description: ''
      operationId: GET DescribeDBSecurityGroups
      parameters:
        - description: ''
          in: query
          name: DBSecurityGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSecurityGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSecurityGroupMessage'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      x-aws-operation-name: DescribeDBSecurityGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBSecurityGroups
      parameters:
        - description: ''
          in: formData
          name: DBSecurityGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSecurityGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSecurityGroupMessage'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      x-aws-operation-name: DescribeDBSecurityGroups
  '/#Action=DescribeDBSnapshots':
    get:
      description: ''
      operationId: GET DescribeDBSnapshots
      parameters:
        - description: ''
          in: query
          name: DBInstanceIdentifier
          required: false
          type: string
        - description: ''
          in: query
          name: DBSnapshotIdentifier
          required: false
          type: string
        - description: ''
          in: query
          name: SnapshotType
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSnapshots
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSnapshotMessage'
        '480':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: DescribeDBSnapshots
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBSnapshots
      parameters:
        - description: ''
          in: formData
          name: DBInstanceIdentifier
          required: false
          type: string
        - description: ''
          in: formData
          name: DBSnapshotIdentifier
          required: false
          type: string
        - description: ''
          in: formData
          name: SnapshotType
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSnapshots
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSnapshotMessage'
        '480':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      x-aws-operation-name: DescribeDBSnapshots
  '/#Action=DescribeDBSubnetGroups':
    get:
      description: ''
      operationId: GET DescribeDBSubnetGroups
      parameters:
        - description: ''
          in: query
          name: DBSubnetGroupName
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSubnetGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSubnetGroupMessage'
        '480':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DescribeDBSubnetGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeDBSubnetGroups
      parameters:
        - description: ''
          in: formData
          name: DBSubnetGroupName
          required: false
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeDBSubnetGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSubnetGroupMessage'
        '480':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      x-aws-operation-name: DescribeDBSubnetGroups
  '/#Action=DescribeEngineDefaultParameters':
    get:
      description: ''
      operationId: GET DescribeEngineDefaultParameters
      parameters:
        - description: ''
          in: query
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeEngineDefaultParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEngineDefaultParametersResult'
      x-aws-operation-name: DescribeEngineDefaultParameters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeEngineDefaultParameters
      parameters:
        - description: ''
          in: formData
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: ''
          in: formData
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: formData
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeEngineDefaultParameters
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEngineDefaultParametersResult'
      x-aws-operation-name: DescribeEngineDefaultParameters
  '/#Action=DescribeEventCategories':
    get:
      description: ''
      operationId: GET DescribeEventCategories
      parameters:
        - description: ''
          in: query
          name: SourceType
          required: false
          type: string
        - enum:
            - DescribeEventCategories
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventCategoriesMessage'
      x-aws-operation-name: DescribeEventCategories
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: POST DescribeEventCategories
      parameters:
        - description: ''
          in: formData
          name: SourceType
          required: false
          type: string
        - enum:
            - DescribeEventCategories
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventCategoriesMessage'
      x-aws-operation-name: DescribeEventCategories
  '/#Action=DescribeEventSubscriptions':
    get:
      description: ''
      operationId: GET DescribeEventSubscriptions
      parameters:
        - description: ''
          in: query
          name: SubscriptionName
          required: false
          type: string
        - description: ''
          in: query
          name: MaxRecords
          required: false
          type: integer
        - description: ''
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - DescribeEventSubscriptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2013-02-12'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventSubscriptionsMessage'
        '480':
          description: SubscriptionNotFoundFault
          schema:
[...]
