swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/automation/resource-manager/Microsoft.Automation/2015-10-31/dscConfiguration.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: automation-dscConfiguration
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations':
    get:
      description: Retrieve a list of configurations.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      operationId: DscConfiguration_ListByAutomationAccount
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list configuration operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: Gets or sets a list of configurations.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource Id
                          readOnly: true
                          type: string
                        location:
                          description: Resource location
                          type: string
                        name:
                          description: Resource name
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags
                          type: object
                        type:
                          description: Resource type
                          readOnly: true
                          type: string
                      required:
                        - location
                      x-ms-azure-resource: true
                  description: Definition of the configuration type.
                  properties:
                    etag:
                      description: Gets or sets the etag of the resource.
                      type: string
                    properties:
                      description: Definition of the configuration property type.
                      properties:
                        creationTime:
                          description: Gets or sets the creation time.
                          format: date-time
                          type: string
                        description:
                          description: Gets or sets the description.
                          type: string
                        jobCount:
                          description: Gets or sets the job count of the configuration.
                          format: int32
                          type: integer
                        lastModifiedTime:
                          description: Gets or sets the last modified time.
                          format: date-time
                          type: string
                        logVerbose:
                          description: Gets or sets verbose log option.
                          type: boolean
                        parameters:
                          additionalProperties:
                            description: Definition of the configuration parameter type.
                            properties:
                              defaultValue:
                                description: Gets or sets the default value of parameter.
                                type: string
                              isMandatory:
                                description: Gets or sets a Boolean value to indicate whether the parameter is madatory or not.
                                type: boolean
                              position:
                                description: Get or sets the position of the parameter.
                                format: int32
                                type: integer
                              type:
                                description: Gets or sets the type of the parameter.
                                type: string
                          description: Gets or sets the configuration parameters.
                          type: object
                        provisioningState:
                          description: Gets or sets the provisioning state of the configuration.
                          enum:
                            - Succeeded
                          type: string
                          x-ms-enum:
                            modelAsString: false
                            name: DscConfigurationProvisioningState
                        source:
                          description: Definition of the content source.
                          properties:
                            hash:
                              description: Definition of the runbook property type.
                              properties:
                                algorithm:
                                  description: Gets or sets the content hash algorithm used to hash the content.
                                  type: string
                                value:
                                  description: Gets or sets expected hash value of the content.
                                  type: string
                              required:
                                - algorithm
                                - value
                            type:
                              description: Gets or sets the content source type.
                              enum:
                                - embeddedContent
                                - uri
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ContentSourceType
                            value:
                              description: Gets or sets the value of the content. This is based on the content source type.
                              type: string
                            version:
                              description: Gets or sets the version of the content.
                              type: string
                        state:
                          description: Gets or sets the state of the configuration.
                          enum:
                            - New
                            - Edit
                            - Published
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: DscConfigurationState
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscConfiguration
      x-ms-examples:
        Get DSC Configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                    location: East US 2
                    name: SetupServer
                    properties:
                      creationTime: '2017-03-28T18:53:24.997+00:00'
                      lastModifiedTime: '2017-03-28T18:53:24.997+00:00'
                      state: Published
                    type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}':
    delete:
      description: Delete the dsc configuration identified by configuration name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      operationId: DscConfiguration_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscConfiguration
      x-ms-examples:
        Delete DSC Configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            configurationName: TemplateBasic
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200': {}
            '204': {}
    get:
      description: Retrieve the configuration identified by configuration name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      operationId: DscConfiguration_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource Id
                    readOnly: true
                    type: string
                  location:
                    description: Resource location
                    type: string
                  name:
                    description: Resource name
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: Resource tags
                    type: object
                  type:
                    description: Resource type
                    readOnly: true
                    type: string
                required:
                  - location
                x-ms-azure-resource: true
            description: Definition of the configuration type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                description: Definition of the configuration property type.
                properties:
                  creationTime:
                    description: Gets or sets the creation time.
                    format: date-time
                    type: string
                  description:
                    description: Gets or sets the description.
                    type: string
                  jobCount:
                    description: Gets or sets the job count of the configuration.
                    format: int32
                    type: integer
                  lastModifiedTime:
                    description: Gets or sets the last modified time.
                    format: date-time
                    type: string
                  logVerbose:
                    description: Gets or sets verbose log option.
                    type: boolean
                  parameters:
                    additionalProperties:
                      description: Definition of the configuration parameter type.
                      properties:
                        defaultValue:
                          description: Gets or sets the default value of parameter.
                          type: string
                        isMandatory:
                          description: Gets or sets a Boolean value to indicate whether the parameter is madatory or not.
                          type: boolean
                        position:
                          description: Get or sets the position of the parameter.
                          format: int32
                          type: integer
                        type:
                          description: Gets or sets the type of the parameter.
                          type: string
                    description: Gets or sets the configuration parameters.
                    type: object
                  provisioningState:
                    description: Gets or sets the provisioning state of the configuration.
                    enum:
                      - Succeeded
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: DscConfigurationProvisioningState
                  source:
                    description: Definition of the content source.
                    properties:
                      hash:
                        description: Definition of the runbook property type.
                        properties:
                          algorithm:
                            description: Gets or sets the content hash algorithm used to hash the content.
                            type: string
                          value:
                            description: Gets or sets expected hash value of the content.
                            type: string
                        required:
                          - algorithm
                          - value
                      type:
                        description: Gets or sets the content source type.
                        enum:
                          - embeddedContent
                          - uri
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ContentSourceType
                      value:
                        description: Gets or sets the value of the content. This is based on the content source type.
                        type: string
                      version:
                        description: Gets or sets the version of the content.
                        type: string
                  state:
                    description: Gets or sets the state of the configuration.
                    enum:
                      - New
                      - Edit
                      - Published
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DscConfigurationState
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscConfiguration
      x-ms-examples:
        Get a DSC Configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            configurationName: TemplateBasic
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: '"636263396635600000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/TemplateBasic
                location: East US 2
                name: TemplateBasic
                properties:
                  creationTime: '2017-03-28T23:14:23.56+00:00'
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: '2017-03-28T23:14:23.56+00:00'
                  logVerbose: false
                  parameters: {}
                  state: Published
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
    put:
      description: Create the configuration identified by configuration name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      operationId: DscConfiguration_CreateOrUpdate
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The create or update parameters for configuration.
          in: path
          name: configurationName
          required: true
          type: string
        - description: The create or update parameters for configuration.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create or update configuration operation.
            properties:
              location:
                description: Gets or sets the location of the resource.
                type: string
              name:
                description: Gets or sets name of the resource.
                type: string
              properties:
                description: The properties to create or update configuration.
                properties:
                  description:
                    description: Gets or sets the description of the configuration.
                    type: string
                  logProgress:
                    description: Gets or sets progress log option.
                    type: boolean
                  logVerbose:
                    description: Gets or sets verbose log option.
                    type: boolean
                  parameters:
                    additionalProperties:
                      description: Definition of the configuration parameter type.
                      properties:
                        defaultValue:
                          description: Gets or sets the default value of parameter.
                          type: string
                        isMandatory:
                          description: Gets or sets a Boolean value to indicate whether the parameter is madatory or not.
                          type: boolean
                        position:
                          description: Get or sets the position of the parameter.
                          format: int32
                          type: integer
                        type:
                          description: Gets or sets the type of the parameter.
                          type: string
                    description: Gets or sets the configuration parameters.
                    type: object
                  source:
                    description: Definition of the content source.
                    properties:
                      hash:
                        description: Definition of the runbook property type.
                        properties:
                          algorithm:
                            description: Gets or sets the content hash algorithm used to hash the content.
                            type: string
                          value:
                            description: Gets or sets expected hash value of the content.
                            type: string
                        required:
                          - algorithm
                          - value
                      type:
                        description: Gets or sets the content source type.
                        enum:
                          - embeddedContent
                          - uri
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ContentSourceType
                      value:
                        description: Gets or sets the value of the content. This is based on the content source type.
                        type: string
                      version:
                        description: Gets or sets the version of the content.
                        type: string
                required:
                  - source
              tags:
                additionalProperties:
                  type: string
                description: Gets or sets the tags attached to the resource.
                type: object
            required:
              - properties
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource Id
                    readOnly: true
                    type: string
                  location:
                    description: Resource location
                    type: string
                  name:
                    description: Resource name
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: Resource tags
                    type: object
                  type:
                    description: Resource type
                    readOnly: true
                    type: string
                required:
                  - location
                x-ms-azure-resource: true
            description: Definition of the configuration type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                description: Definition of the configuration property type.
                properties:
                  creationTime:
                    description: Gets or sets the creation time.
                    format: date-time
                    type: string
                  description:
                    description: Gets or sets the description.
                    type: string
                  jobCount:
                    description: Gets or sets the job count of the configuration.
                    format: int32
                    type: integer
                  lastModifiedTime:
                    description: Gets or sets the last modified time.
                    format: date-time
                    type: string
                  logVerbose:
                    description: Gets or sets verbose log option.
                    type: boolean
                  parameters:
                    additionalProperties:
                      description: Definition of the configuration parameter type.
                      properties:
                        defaultValue:
                          description: Gets or sets the default value of parameter.
                          type: string
                        isMandatory:
                          description: Gets or sets a Boolean value to indicate whether the parameter is madatory or not.
                          type: boolean
                        position:
                          description: Get or sets the position of the parameter.
                          format: int32
                          type: integer
                        type:
                          description: Gets or sets the type of the parameter.
                          type: string
                    description: Gets or sets the configuration parameters.
                    type: object
                  provisioningState:
                    description: Gets or sets the provisioning state of the configuration.
                    enum:
                      - Succeeded
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: DscConfigurationProvisioningState
                  source:
                    description: Definition of the content source.
                    properties:
                      hash:
                        description: Definition of the runbook property type.
                        properties:
                          algorithm:
                            description: Gets or sets the content hash algorithm used to hash the content.
                            type: string
                          value:
                            description: Gets or sets expected hash value of the content.
                            type: string
                        required:
                          - algorithm
                          - value
                      type:
                        description: Gets or sets the content source type.
                        enum:
                          - embeddedContent
                          - uri
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ContentSourceType
                      value:
                        description: Gets or sets the value of the content. This is based on the content source type.
                        type: string
                      version:
                        description: Gets or sets the version of the content.
                        type: string
                  state:
                    description: Gets or sets the state of the configuration.
                    enum:
                      - New
                      - Edit
                      - Published
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DscConfigurationState
        '201':
          description: Created
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource Id
                    readOnly: true
                    type: string
                  location:
                    description: Resource location
                    type: string
                  name:
                    description: Resource name
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: Resource tags
                    type: object
                  type:
                    description: Resource type
                    readOnly: true
                    type: string
                required:
                  - location
                x-ms-azure-resource: true
            description: Definition of the configuration type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                description: Definition of the configuration property type.
                properties:
                  creationTime:
                    description: Gets or sets the creation time.
                    format: date-time
                    type: string
                  description:
                    description: Gets or sets the description.
                    type: string
                  jobCount:
                    description: Gets or sets the job count of the configuration.
                    format: int32
                    type: integer
                  lastModifiedTime:
                    description: Gets or sets the last modified time.
                    format: date-time
                    type: string
                  logVerbose:
                    description: Gets or sets verbose log option.
                    type: boolean
                  parameters:
                    additionalProperties:
                      description: Definition of the configuration parameter type.
                      properties:
                        defaultValue:
                          description: Gets or sets the default value of parameter.
                          type: string
                        isMandatory:
                          description: Gets or sets a Boolean value to indicate whether the parameter is madatory or not.
                          type: boolean
                        position:
                          description: Get or sets the position of the parameter.
                          format: int32
                          type: integer
                        type:
                          description: Gets or sets the type of the parameter.
                          type: string
                    description: Gets or sets the configuration parameters.
                    type: object
                  provisioningState:
                    description: Gets or sets the provisioning state of the configuration.
                    enum:
                      - Succeeded
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: DscConfigurationProvisioningState
                  source:
                    description: Definition of the content source.
                    properties:
                      hash:
                        description: Definition of the runbook property type.
                        properties:
                          algorithm:
                            description: Gets or sets the content hash algorithm used to hash the content.
                            type: string
                          value:
                            description: Gets or sets expected hash value of the content.
                            type: string
                        required:
                          - algorithm
                          - value
                      type:
                        description: Gets or sets the content source type.
                        enum:
                          - embeddedContent
                          - uri
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ContentSourceType
                      value:
                        description: Gets or sets the value of the content. This is based on the content source type.
                        type: string
                      version:
                        description: Gets or sets the version of the content.
                        type: string
                  state:
                    description: Gets or sets the state of the configuration.
                    enum:
                      - New
                      - Edit
                      - Published
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: DscConfigurationState
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscConfiguration
      x-ms-examples:
        Create or Update Configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount18
            configurationName: SetupServer
            parameters:
              location: East US 2
              name: SetupServer
              properties:
                description: sample configuration
                source:
                  hash:
                    algorithm: sha256
                    value: A9E5DB56BA21513F61E0B3868816FDC6D4DF5131F5617D7FF0D769674BD5072F
                  type: embeddedContent
                  value: "Configuration SetupServer {\r\n    Node localhost {\r\n                               WindowsFeature IIS {\r\n                               Name = \"Web-Server\";\r\n            Ensure = \"Present\"\r\n        }\r\n    }\r\n}"
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                location: East US 2
                name: SetupServer
                properties:
                  creationTime: '0001-01-01T00:00:00+00:00'
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: '0001-01-01T00:00:00+00:00'
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
            '201':
              body:
                etag: '"636263396635600000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer
                location: East US 2
                name: SetupServer
                properties:
                  creationTime: '2017-03-28T23:14:23.56+00:00'
                  description: sample configuration
                  jobCount: 0
                  lastModifiedTime: '2017-03-28T23:14:23.56+00:00'
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                  state: Published
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Configurations
              headers: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content':
    get:
      description: Retrieve the configuration script identified by configuration name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/configurationoperations'
      operationId: DscConfiguration_GetContent
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The configuration name.
          in: path
          name: configurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscConfiguration
      x-ms-examples:
        Get DSC Configuration content:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            configurationName: TemplateBasic
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body: "\tconfiguration TemplateWithConfigData{\r\n    <#\r\n        .DESCRIPTION\r\n        DSC Coniguration that uses ConfigData file\r\n\r\n        .EXAMPLE\r\n        TemplateWithConfigData -outpath c:\\dsc\\\r\n\r\n        .NOTES\r\n        This configuration requires the corresponding configdata file\r\n    #>\r\n\r\n    Import-DscResource -ModuleName 'PSDesiredStateConfiguration', @{ModuleName='xPSDesiredStateConfiguration';ModuleVersion='5.0.0.0'\r\n                    }\r\n    \r\n    Node $AllNodes.NodeName{\r\n        # WindowsOptionalFeature is compatible with the Nano Server installation option\r\n        File testfile{\r\n            Ensure          = 'Present'\r\n            DestinationPath = $Data.Path\r\n            Contents        = $Data.Contents\r\n                        }\r\n        xArchive testarchive{\r\n            Ensure          = 'Present'\r\n            Destination     = $Data.Destination\r\n            Path            = (Get-ChildItem $Data.Path).ParentFolder\r\n                        }\r\n                    }\r\n                }\r\n\r\nconfiguration TemplateBasic{\r\n    <#\r\n        .DESCRIPTION\r\n        Basic configuration template\r\n\r\n        .EXAMPLE\r\n        TemplateBasic -outpath c:\\dsc\\\r\n\r\n        .NOTES\r\n        This is the most basic configuration and does not take parameters or configdata\r\n    #>\r\n\r\n    Import-DscResource -module 'PSDesiredStateConfiguration'\r\n    \r\n    Node localhost{\r\n        # WindowsOptionalFeature is compatible with the Nano Server installation option\r\n        File testfile{\r\n            Ensure          = 'Present'\r\n            DestinationPath = 'c:\\filetoo.txt'\r\n            Contents        = 'this is some text too'\r\n                        }\r\n                    }\r\n                }"
              headers: {}
definitions: {}
